[2022-09-17 01:19] yasker commented on #2561
Is it the root cause of https://github.com/kubevirt/kubevirt/issues/8175 ?

Sounds like a quick fix.

[2022-09-17 01:21] yasker commented on #2541
How big is the bandwidth in this case? Also with storage network support, Longhorn should take a dedicated network.

[2022-09-17 01:23] yasker commented on #2719
I feel we should design this in #2769

[2022-09-17 01:31] yasker commented on #2664
Thanks for the patch @hernad . Unfortunately, XFS is not a supported storage option now. We're still sorting out a few issues with XFS. And this change might have backward compatibility problems. We will likely make the change if we officially start to support XFS.

[2022-09-17 01:34] yasker commented on #2663
Hi @hernad

Can you elaborate on the use for preventing harvester-installer to start? You can still jump to the console quickly using `Alt-F2` I remember.

[2022-09-17 01:35] yasker commented on #2697
vSwitch is a beast... We might bring it in later, but we've decided to keep the network model simple at first and focus more on providing support to the guest Kubernetes's network.

[2022-09-17 03:43] yasker commented on #1165
LOL. The reason I marked this as duplicate is because the other item has been worked on and scheduled.

Either way the feature is coming!

[2022-09-17 04:00] yasker commented on #2679
Depend on #2769 .

Also, the reason we don't support using embedded Rancher is it's very hard for the Harvester release to bind with the Rancher release. For Harvester, only a small subset feature of Rancher is used, e.g. managing node provisioning (RKE2) and managing upgrades process.

If we're going to support embedded Rancher, we would have to release Harvester every time when Rancher has a new

[2022-09-17 04:02] yasker commented on #2757
@kingnarmer We're considering bringing in third-party storage via CSI interface in #1199 . Can you check if it meets your requirement?

[2022-09-17 04:04] yasker commented on #2717
@Vicente-Cheng Can you clarify what kind of labels need to be added to the disk?

Also, is this something we're working on? or is it a nice-to-have feature in the future releases?

[2022-09-17 06:49] kajla commented on #1199
Hi all,

We want to use it more simply. Longhorn is a very good solution, we like it, so we don't want to give it up. However, we cannot give physical blades more storage space in any other way than via iSCSI. So our idea is to give each blade a larger iSCSI LUN, mount it to the Harvester host, and then give it to Longhorn. This would require us to be able to configure an iSCSI client on the Harve

[2022-09-17 12:45] axsms commented on #1199
@yasker, in my opinion, this looks great and will result in a much higher adoption rate.

[2022-09-17 13:08] axsms commented on #2476
@yasker, no worries. I should have commented as closing. I see that a number of my concerns are being addressed in other requests.

That being said, I had recently rethought the closing, since I do think agents may solve a number of issues and provide opportunities in remote management, similar to Remote Monitoring and Management (RMM). And if the agent were coupled with WireGuard — Wow.

#2346 se

[2022-09-17 19:12] Ashkaan opened #2775 "[Question] How to ZFS boot drive?"
Hi, I'm hoping to install Harvester on a ZFS array as the boot drive, but the installer doesn't seem to have the option in the GUI the way that Proxmox does.  How do we do this?  Does someone have a guide?

[2022-09-18 15:29] codispatch commented on #371
Looks like The main blocker "Support BoringCrypto ARM64" for Go-lang is almost done and it is pending in go.dev/cl/423362 branch

[2022-09-19 00:45] bk201 commented on #1926
Originally, we plan to leverage the logging feature to support this. But we are not going to have logging sinks inside Harvester by default (instead, just allow users to send logs to their data analysis system).

We'll see if there is a way to store logs, some job logs disappear after nodes reboot.

[2022-09-19 01:34] bk201 commented on #2775
Hi @Ashkaan, thanks for asking. We currently don't have a plan to support installing Harvester on ZFS array. There are some reasons for this:
- We ship Harvester with SLE base OS and ZFS is not a supported FS.
- ZFS is not supported in [elemental toolkit](https://rancher.github.io/elemental-toolkit/), we use it to manage OS lifecycles.
- ZFS is not a supported FS for longhorn.

[2022-09-19 01:44] Ashkaan commented on #2775
Thank you so much for the clear explanation!

Is there anything on the roadmap for intel softRAID?

[2022-09-19 01:44] WuJun2016 opened #2776 "[FEATURE] remove some dead OS types"
**Is your feature request related to a problem? Please describe.**

When creating images in Harvester, there
are entries to set OS type to defunct Linux
distributions (Turbolinux - dead for 3 years,
Mandriva - dead for 11 years, Xandros - dead for 15
years) that show up as options along with
competitors like Red Hat and Oracle, but SLES is
relegated to "Other Linux".

**Describe the solution you'd

[2022-09-19 01:57] bk201 commented on #2088
Removing the override doesn't get the chart out of modified status, here is what we observed:
We are now at Longhorn v1.3.1.

[code]

[2022-09-19 02:19] WuJun2016 commented on #1867
It was normal when I tested it. Please QA team to confirm it again.  thanks

[2022-09-19 02:37] Vicente-Cheng commented on #2717
Hi @yasker,
This feature is a nice-to-have feature with storage-tiering.
With storage tiering, users can set up their own storage class with a specific disk label.
Currently, we need to add a disk and then add a tag to it.

This feature could help users to add tags to the disks when they add disks to the cluster.
Furthermore, we could define some specific rules to add general tags (like `HDD`, `SS

[2022-09-19 05:43] Martin-Weiss commented on #2541
Less than the bandwidth of the storage devices and less than what the VM migration needs.
i.e. 1 GBit/s or 10 GBit/s.

With existing hardware and with several blade systems this is not possible.
How do you do this in case you have two NICs, only?

[2022-09-19 05:44] bk201 commented on #2775
@Ashkaan Software RAID is not in our roadmap either. We have seen deployments on hardware RAID only.

[2022-09-19 05:45] Martin-Weiss commented on #2538
Can´t we add the "shutdown" or "reboot" in the UI, too? (where the enable maintenance is)

Setting to maintenance in the UI and then having the additional need for console access or SSH access seems to be not very userfriendly.

[2022-09-19 06:58] futuretea commented on #2293
Test Plan:
## 1 clone empty volume
1. create an empty volume `new-volume-1`
![image](https://user-images.githubusercontent.com/15064560/190963830-962e6ac5-aaeb-4038-9748-d5e5d09c70f2.png)
2. waiting for the volume become ready
3. click `Clone Volume`
![image](https://user-images.githubusercontent.com/15064560/190963767-934f769a-71b1-489a-9929-762fd690eecd.png)
4. input the name of cloned volume `n

[2022-09-19 07:34] w13915984028 commented on #2088
The new error message from `fleet-agent` is caused by LH new features.
https://github.com/harvester/harvester/issues/2762

Harvester patch caused error `longhorn-system/longhorn-storageclass missing`, which is gone after the fix.

[2022-09-19 07:40] futuretea commented on #2294
Test Plan:
## 1 snapshot empty volume and restore
1. create an empty volume `new-volume-2`
1. waiting for the volume become ready
1. click `Take Snapshot` action
![image](https://user-images.githubusercontent.com/15064560/190965022-9c7524cb-85c5-4003-8452-c9e0df924bb0.png)
1. input the name of snapshot volume `new-volume-2-snapshot1`
1. waiting for the snapshot become ready
![image](https://user-i

[2022-09-19 07:47] futuretea commented on #2296
Test Plan;
1. create a vm
1. create a vm snapshot by `Take Snapshot`
![image](https://user-images.githubusercontent.com/15064560/190971082-0b5173cf-c3b7-4dd1-b7d4-bffd9123e84f.png)
![image](https://user-images.githubusercontent.com/15064560/190971595-41efc1d7-ec12-4aff-afac-e389efa692fa.png)
1. should not show volume snapshot in `Volume Snapshots` page
![image](https://user-images.githubuserconten

[2022-09-19 08:02] TachunLin commented on #2776
Verified **fixed** on `master-3bcba9d3-head` (09/13). Close this issue.

### Result
The following OS types already been removed from list

- Turbolinux
- Mandriva
- Xandros

Compared to v1.0.3 os type list
![image](https://user-images.githubusercontent.com/29251855/190972855-e12b4a22-0cdf-4db3-8439-55af23bf69b4.png)

In v1.1.0 master  we add the `SUSE Linux Enterprise` in the VM creation page
![im

[2022-09-19 08:02] #2776 closed, assigned to WuJun2016, TachunLin

[2022-09-19 09:12] DaiYuzeng commented on #2296
The snapshot list will be filtered on Volume page
@futuretea @lanfon72

[2022-09-19 10:27] futuretea opened #2778 "[BUG] harvester pod panic but console still ready"
**Describe the bug**

server version master-032742f0-head
harvester pod panic
[code]

![image](https://user-images.githubusercontent.com/15064560/190998730-e2d75aca-7e5e-491c-a48d-aa2e210b0ab8.png)

**To Reproduce**
Steps to reproduce the behavior:
this is a race condition issue
Keep watching for Harvester service availability when using master-head iso

**Expected behavior**

**Support bundle**

[2022-09-19 12:15] lanfon72 commented on #2294
Verified this feature has been implemented.

Test Information
----
* Environment: **qemu/KVM 2 nodes**
* Harvester Version: **master-3bcba9d3-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with any nodes
2. Create an Image for VM creation
3. Create `vm1` with the image and an additional data volume `disk-1`
4. Login to `vm1`, execute following commands:
    - `fdis

[2022-09-19 12:15] #2294 closed, assigned to lanfon72, DaiYuzeng, futuretea

[2022-09-19 12:16] lanfon72 commented on #2293
Verified this feature has been implemented.

Test Information
----
* Environment: **qemu/KVM 2 nodes**
* Harvester Version: **master-3bcba9d3-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with any nodes
2. Create an Image for VM creation
3. Create `vm1` with the image and an additional data volume `disk-1`
4. Navigate to _Volumes_, clone _disk-0_ and _disk-1_ whic

[2022-09-19 12:16] #2293 closed, assigned to lanfon72, DaiYuzeng, futuretea

[2022-09-19 12:16] lanfon72 commented on #553
Verified this feature has been implemented.

Test Information
----
* Environment: **qemu/KVM 2 nodes**
* Harvester Version: **master-3bcba9d3-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with any nodes
2. Create an Image for VM creation
3. Create `vm1` with the image and an additional data volume `disk-1`
4. Login to `vm1`, execute following commands:
    - `fdis

[2022-09-19 12:16] #553 closed, assigned to FrankYang0529, lanfon72, DaiYuzeng

[2022-09-19 13:07] TachunLin commented on #2282
Verified **fixed** on `master-3bcba9d3-head` (09/13). Close this issue.

### Result
* The `rancher-monitoring-grafana` default allocated with `2Gi` and Actual usage `108 Mi` after running after 24 hours
  ![image](https://user-images.githubusercontent.com/29251855/191000121-9c3c640e-7d7f-4d1b-84f6-39745abca0ce.png)

* Turn off then turn on the specific vip harvester node machine, the The `rancher-

[2022-09-19 13:07] #2282 closed, assigned to TachunLin, w13915984028

[2022-09-19 13:52] MLaudren opened #2781 "[BUG] Installation fail : Failed mounting device /dev/sda1 with label COS_GRUB, mount: /run/cos/efi: unknown filesystem type 'VMFS_volume_member'."
**Describe the bug**
The setup process is not able to complete, and fail at the step to copy files to one of the partition.
I have tried to erase the disk, reinitialize it, change the boot partition to MBR or GPT, use WipeFS, nothing changed.
The same error come again and again.
I'm not able to identify why it come, and the log does not provide much indication to other potential causes.

**To Repr

[2022-09-19 14:31] w13915984028 commented on #2762
any complain from `fleet-agent` will trigger
https://github.com/harvester/harvester/issues/1893

due to
https://github.com/rancher/rancher/issues/38035

[2022-09-19 14:59] Ashkaan commented on #2775
Thank you

[2022-09-19 14:59] #2775 closed, assigned to nobody

[2022-09-19 15:21] bashofmann opened #2782 "[BUG] Upgrade fails because upgrade-repo VM is not becoming healthy and gets deleted again"
**Describe the bug**
The Harvester cluster was installed with 1.0.2 and is imported into a Rancher 2.6.8. Now it should be updated to 1.0.3, but the update fails when starting the upgrad-repo VM.

**To Reproduce**
Start an update from 1.0.2 to 1.0.3. The update starts and the upgrade download finishes successfully after a few minutes. The upgrade-repo VM is being started and also comes up. In Harv

[2022-09-19 16:00] bashofmann commented on #2782
According to the logs in the support bundle, there are `apply-system-agent-upgrader` jobs failing with this:

[code]

[2022-09-19 17:26] albertkohl-monotek opened #2784 "How To - Import working kvm qcow2 image"
Hello Everyone, i've made a few attempts at digging and tinkering, and i cant seem to figure this out.

does anyone have a recommendation on how to import a currently working, windows 10 vm, from a kvm host.

the current host is running kvm on ubuntu 20.04. it has a windows 10 guest i'm trying to migrate into my harvester cluster. the vm is about 200gb large. i've tried manually updating the drive

[2022-09-19 19:52] yasker commented on #2538
Yes, we can. Since those nodes are Harvester-managed nodes, yes those operations should be possible via Harvester UI.

[2022-09-19 19:58] yasker commented on #2541
1 GBps might be a problem. But I would expect it's less of a problem with 10GBps network.

We need to investigate into the possible way of potential QoS for the network. We cannot just apply it to an interface. It probably needs to be controlled from the source, e.g. limit the storage or live migration traffic.

[2022-09-19 20:05] yasker commented on #2476
Hmm, provisioning over L3 is going to be a much bigger effort. And Harvester is designed to managed the hardware from the OS layer, it won't be possible to switch out the OS.

However, we're working on an alternative way of installing Harvester via cloud-init enabled disk image (instead of ISO). See #2198

[2022-09-19 20:09] yasker commented on #1199
@kajla Yeah, that's possible though it's heading in a different direction compared to CSI integration.

What storage appliance you're using? What's the reason you would prefer the iscsi for node disk instead of utilizing CSI driver directly?

[2022-09-19 20:46] w13915984028 commented on #2714
Harvester related `storageclass` is created, `Alertmanager`'s PVC storageclass is aslo patched when upgrading:
https://github.com/harvester/harvester/pull/2768

The `storageclass` of PVC of `Alertmanager`, `Grafana`, `Prometheus` are changed to new default value.
https://github.com/harvester/harvester-installer/pull/336

`logging` feature does NOT use PVC in v1.1.0.

For TEST:

A newly installed c

[2022-09-19 21:05] w13915984028 commented on #2521
For TEST:

Pleaes first validate the `webhook` type receiver is well supported, it is raised by customer.

Reference:
https://github.com/w13915984028/harvester/blob/fix2517/enhancements/20220720-alertmanager.md#story-3

Before UI is ready, the related config could be applied via `kubectl`.
https://github.com/w13915984028/harvester/blob/fix2517/enhancements/20220720-alertmanager.md#adddelete-receiv

[2022-09-19 22:15] irishgordo commented on #2754
@masteryyh I've been working to validate these changes.

My test setup:
- Harvester (Master 47a3af23):
    - QEMU/KVM 9core 32Gi Memory 300Gi Disk
- terraform-provider-harvester (Master) (66a6a01cb8e469d1cab951d666220b6e61deab1c)
    - `docker pull rancher/terraform-provider-harvester:master-head-amd64`
    - `docker run -itd --name terraform-provider-harvester-master-head rancher/terraform-provid

[2022-09-20 00:55] irishgordo commented on #2754
@masteryyh Upon testing on Harvester v1.0.3, both on bare-metal and virtualized I am seeing similar things.

Removing:
`wait_for_lease = true` from: https://github.com/harvester/terraform-provider-harvester/pull/49 - allows the terraform apply to succeed.

I also manually on the bare-metal instance I have for v1.0.3, used for `network_name = "default/base-vlan"` since I had a vlan.

But trying to

[2022-09-20 02:21] futuretea commented on #2754
@irishgordo

Yet another VM built in the same namespace it's IPv4 address shows, using the same network.

need add qemu-guest-agent to cloudinit. need it to report IP.

I will add a description to the wait_for_lease field (in non-management network, this feature need install and start qemu-guest-agent)

Just a UI display issue, has been enhanced in master

refer to https://github.com/harvester/har

[2022-09-20 02:26] futuretea commented on #2754
@irishgordo Thanks.
@masteryyh

Need enable SMM if enable SecureBoot ,  for example:
![image](https://user-images.githubusercontent.com/15064560/191153508-2b4f0ca4-98d9-46f0-b8f1-e52f80f3857e.png)

[2022-09-20 02:45] masteryyh commented on #2754
@futuretea @irishgordo it's a bug which I missed somehow, SMM should be enabled when setting `secure_boot = true`, I will submit a PR to fix it, thanks.

[2022-09-20 03:18] bk201 opened #2785 "[FEATURE] Bump RKE2 to 1.24.x"
**Is your feature request related to a problem? Please describe.**

Bump RKE2 to 1.24.x.
Considering the [EOL time](https://endoflife.date/kubernetes), the version should be the most suitable version for us, 1.25.x deprecates PSP and we need time to investigate the impact.

**Describe the solution you'd like**

Bump RKE2 to 1.24.x.
Update: will bump to v.1.23.x first, please see the comment: https

[2022-09-20 03:38] bk201 commented on #2785
Prefer v1.24.5 due to https://github.com/rancher/rancher/issues/38994

[2022-09-20 03:40] guangbochen commented on #158
Yep, but this is a nice-to-have enhancement related to the steve framework; currently, our API server didn't contain any error exceptions, but if any panic occurs it will still fail silently.

[2022-09-20 03:56] bk201 commented on #2785
Fail to provision rancher with RKE2 v1.24.5.
We're still using Rancher 2.6.4 and the chart has a version [requirement](https://github.com/rancher/rancher/blob/4b4e29678c0bf932f8e0f79f3895952ce1739f4d/chart/Chart.yaml#L6):
[code]

[2022-09-20 04:32] khushboo-rancher commented on #2754
@irishgordo Can you please indicate the final test result status in the comment? e.g. `Validation - PASS`

[2022-09-20 04:40] irishgordo commented on #2754
@masteryyh & @futuretea  thanks for digging into that :smile: - I can re-validate when the PR for the fix gets merged in to `harvester/terraform-provider-harvester`

@khushboo-rancher - it looks like now from the feedback that the first validation preformed earlier was a:
`Validation - FAIL`
Since it didn't pass the testing steps as outlined for the feature set:
https://github.com/harvester/terraf

[2022-09-20 05:17] bk201 commented on #2785
We'll bump to v1.23.x first before we can bump Rancher. https://github.com/rancher/rancher/issues/38706

[2022-09-20 05:32] FrankYang0529 commented on #2650
Hi @noahgildersleeve, I moved the issue back to Ready for Testing, because imported Harvester is different from traditional imported k8s cluster. Although `cattle-cluster-agent` deployment is moved and we can see `Cluster health check failed:`, harvester is a special design with [aggregated apiserver](https://github.com/rancher/rancher/blob/release/v2.7/pkg/api/steve/aggregation/aggregation.go). R

[2022-09-20 06:00] DaiYuzeng commented on #2646
Hello @w13915984028 ! Can you please complement the checklist? Thanks! (#2749, #2643 also need to be complemented)

[2022-09-20 06:28] Martin-Weiss commented on #2541
I believe it always „depends“. Here it depends on the node density vs bandwidth vs. cluster size. So lots of disks in a single node with high bandwidth would also load a 10 GBit/s network during node-reboots when replicas need to be re-copied (delta-sync feature missing).

True - but if they do not know about each other it is hard to balance it properly based on currently available bandwidth... (u

[2022-09-20 06:57] DaiYuzeng opened #2786 "[BUG] ClusterFlow/ClusterOutput is unvisible now"
**Describe the bug**

We will save `clusterFlow`/`clusterOutput` in the particular namespace `cattle-logging-system`.

https://github.com/rancher/dashboard/blob/c9a993f197973d9568af674742e338aa11cd996f/shell/edit/logging.banzaicloud.io.clusteroutput.vue#L8

`cattle-logging-system` will be identified as system namespace since it ends with `system`.
https://github.com/rancher/dashboard/blob/c9a993f1

[2022-09-20 07:23] kajla commented on #1199
@yasker We use HP MSA 2040 SAN. Each LUN has to be defined manually, which prevents automatic installation, etc.
On the other hand, we really like Longhorn, it would make automatic installation possible.

[2022-09-20 08:02] guangbochen commented on #2714
close as this is duplicate with https://github.com/harvester/harvester/issues/2692.

[2022-09-20 08:02] #2714 closed, assigned to w13915984028, joshmeranda

[2022-09-20 08:28] tjjh89017 commented on #1055
`harvester-harvester-vm-import-controller` is also using Volume.
Need to shutdown it also.
Need investigation

[2022-09-20 09:04] lanfon72 commented on #2296
Verified this feature has been implemented.

Test Information
----
* Environment: **qemu/KVM 2 nodes**
* Harvester Version: **master-9c3f8a63-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with any nodes
2. Create an Image for VM creation
3. Create vm `vm1` and start it
4. **Take Snapshot* on `vm1` named `vm1s1`
5. Navigate to _Volumes_, click disks of `vm1` then m

[2022-09-20 09:04] #2296 closed, assigned to lanfon72, DaiYuzeng, futuretea

[2022-09-20 10:10] w13915984028 opened #2787 "[BUG] Sometimes fluentd-configcheck POD is in Unknown status"
**Describe the bug**

Rarely, in a newly installed cluster, following POD are in `Unknown` status.

[code]

When user creates `ClusterFlow`, `ClusterOutput`, it can be recovered.  When there are already existing `ClusterFlow`, `ClusterOutput`, rebooting the cluster, no such issue.

It seems to be related to: when there are no `clusterflow/output`, it may hit potential bug of `fluentd`.

It is firs

[2022-09-20 10:33] TachunLin commented on #2767
Verified **fixed** on `master-9c3f8a63-head` (09/20). Close this issue.

### Result
* Can initialize the VM backup to Amazon S3
  ![image](https://user-images.githubusercontent.com/29251855/191224295-4e2ed661-1deb-418a-ad7a-5de44270f453.png)
* And complete the backup
![image](https://user-images.githubusercontent.com/29251855/191226026-8d292375-447f-4580-b486-10e43e126875.png)

* Can initialize th

[2022-09-20 10:33] #2767 closed, assigned to FrankYang0529, TachunLin

[2022-09-20 11:32] axsms commented on #2476
#2198 looks pretty good. With bare metal options at edge, we are hoping to avoid the need for L2 infrastructure until it can be provided through Harvester, since most of the vendors we work with provide a VLAN and public IP blocks for each node. They will often option a second NIC, but there's no L2 available until we build it.

At the moment, we set up a hypervisor with necessary VMs to mimic a t

[2022-09-20 13:00] chrisho commented on #2729
Look into the Kubevirt components CPU spike issue

[2022-09-20 13:10] futuretea opened #2788 "[BUG] Namespace harvester-public links.update is not shown correctly"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

Use admin user to

1. Create a standard user `test-member`
2. Add this user to an imported cluster as Cluster Member role

Use cluster member user to

3. view namespace API, we can see the namespace harvester-public doesn't have links.update
4. create a new project,
5. create a new namespace, and add it to the new project
6.

[2022-09-20 13:11] futuretea commented on #2485
The node driver permissions are Rancher's RBAC permissions.

However, there is a problem that the drop-down box of namespace shows namespaces without update permission. This problem has been fixed in PR https://github.com/rancher/dashboard/pull/6937  (`links.update` in our namespace filters the drop-down box of namespace of node driver).

refer to https://github.com/harvester/harvester/issues/2485

[2022-09-20 14:18] w13915984028 commented on #2787
<del> One suspect commit: </del>  Following commit is in Harvester current used `logging-operator` image `rancher/mirrored-banzaicloud-logging-operator:3.17.7`.

https://github.com/banzaicloud/logging-operator/commit/70adfef1878a39e46fad673641d71c0cadc4d5bb

![image](https://user-images.githubusercontent.com/31133476/191282496-86f2f37e-58f6-4aaf-b9b1-5ad4bc241685.png)

[2022-09-20 18:24] noahgildersleeve opened #2789 "[BUG] Cant access embedded longhorn or rancher"
**Describe the bug**

When trying to access embedded longhorn or Rancher I get the fail whale
**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to https://{{HARVESTER_IP}}/dashboard/c/local/explorer or https://{{HARVESTER_IP}}/dashboard/c/local/longhorn
![Screenshot_20220920_111846](https://user-images.githubusercontent.com/83787952/191334835-73b4a52f-8b25-4bc6-b8b8-3e6c9f624455.png)
*

[2022-09-20 18:39] noahgildersleeve commented on #2712
Tested in upgrade from v1.0.3 to master-47a3af23-head.

## Verification Steps
1. Installed 3 node ipxe setup and verified that there was no alert-manager present
2. Created a manual upgrade `version.yaml` similarly to the [steps in the airgap upgrade setup](https://docs.harvesterhci.io/v1.0/upgrade/automatic/#prepare-an-air-gapped-upgrade)
3. Run the upgrade
4. Verify that the upgrade was successf

[2022-09-20 18:39] #2712 closed, assigned to w13915984028, noahgildersleeve

[2022-09-20 21:20] w13915984028 commented on #2644
FOR TEST:

In v1.1.0, test `logging/event/audit` output type of: Graylog, Splunk, they are required by customers;
webhook server is for quick validation.

Set output manually :
How to send log to graylog:
https://github.com/w13915984028/harvester-develop-summary/blob/main/integrate-harvester-logging-with-log-servers.md

Test logging, audit, event with webhook server
https://github.com/w13915984028

[2022-09-20 21:22] w13915984028 commented on #2647
FOR TEST:

In v1.1.0, test `logging/event/audit` output type of: Graylog, Splunk, they are required by customers;
webhook server is for quick validation.

Set output manually :
How to send log to graylog:
https://github.com/w13915984028/harvester-develop-summary/blob/main/integrate-harvester-logging-with-log-servers.md

Test logging, audit, event with webhook server
https://github.com/w13915984028

[2022-09-20 21:23] w13915984028 commented on #2669
FOR TEST:

In v1.1.0, test `logging/event/audit` output type of: Graylog, Splunk, they are required by customers;
webhook server is for quick validation.

Set output manually :
How to send log to graylog:
https://github.com/w13915984028/harvester-develop-summary/blob/main/integrate-harvester-logging-with-log-servers.md

Test logging, audit, event with webhook server
https://github.com/w13915984028

[2022-09-20 21:24] w13915984028 commented on #2748
FOR TEST:

In v1.1.0, test `logging/event/audit` output type of: Graylog, Splunk, they are required by customers;
webhook server is for quick validation.

Set output manually :
How to send log to graylog:
https://github.com/w13915984028/harvester-develop-summary/blob/main/integrate-harvester-logging-with-log-servers.md

Test logging, audit, event with webhook server
https://github.com/w13915984028

[2022-09-20 21:25] w13915984028 commented on #2747
FOR TEST:

In v1.1.0, test `logging/event/audit` output type of: Graylog, Splunk, they are required by customers;
webhook server is for quick validation.

Set output manually :
How to send log to graylog:
https://github.com/w13915984028/harvester-develop-summary/blob/main/integrate-harvester-logging-with-log-servers.md

Test logging, audit, event with webhook server
https://github.com/w13915984028

[2022-09-20 21:39] w13915984028 commented on #2787
Update:

With 10+ times of fresh installing a Harvester cluster, 10+ times of rebooting a newly installed cluster, the issue is not reproduced.

Additional information of the BUG when it happpened:

kubectl can NOT `get pod` or `describe pod` of those 2 `Unknown` PODs. `fluentbit`, `fluend` PODs are not deployed yet, due to `configcheck` POD is not finishied successfully.

[code]

Deploy a new `Cl

[2022-09-20 21:48] w13915984028 commented on #2646
FOR TEST:

In v1.1.0, test `logging/event/audit` output type of: Graylog, Splunk, they are required by customers;
webhook server is for quick validation.

Set output manually :
How to send log to graylog:
https://github.com/w13915984028/harvester-develop-summary/blob/main/integrate-harvester-logging-with-log-servers.md

Test logging, audit, event with webhook server
https://github.com/w13915984028

[2022-09-20 23:23] rave-net commented on #2274
Would also like to see xenserver/xcp-ng migration support

[2022-09-21 00:31] tlehman commented on #992
Notes for release 1.1.0-rc1

The pcidevices controller should work for:
1. Detecting PCI Devices
2. Creating PCI Device Claims (preparing the devices for Passthrough)
3. Attaching PCI Devices to VMs
4. Booting the VMs

The only thing that isn't done yet is the allow-list in the KubeVirt config. To get around this, you can edit the kubevirt CR manually and add in this YAML, generated with the follo

[2022-09-21 00:44] tlehman commented on #992
Also, the UI changes for this PCI Passthrough feature are here: https://github.com/harvester/dashboard/pull/420

To test, if 420 is not merged yet, you can check this out and run `API=$MGMT_IP yarn dev` and using the URL that is printed on your screen. That will expose the Advanced -> PCI Devices menu item. From there you should be able to create PCI Device Claims and then in the VM UI you should

[2022-09-21 00:49] yaocw2020 opened #2790 "[FEATURE] Add terraform support for the VLAN enhancement"
**Is your feature request related to a problem? Please describe.**

Add terraform support for the VLAN enhancement.
The details about VLAN enhancement refer to https://github.com/harvester/harvester/pull/2161

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-09-21 01:13] noahgildersleeve commented on #2519
Tested in upgrade from `v1.0.3` to `master-47a3af23-head` and fresh install of `master-67b93cd5-head`

## Verification Steps
### Case 1 upgrade from v1.0.3
1. Installed 3 node ipxe setup on v1.0.3 and verified that there was no alert-manager present
2. Created a manual upgrade `version.yaml` similarly to the [steps in the airgap upgrade setup](https://docs.harvesterhci.io/v1.0/upgrade/automatic/#p

[2022-09-21 01:13] #2519 closed, assigned to w13915984028, noahgildersleeve

[2022-09-21 01:56] DaiYuzeng opened #2792 "[FEATURE]Should we display logging nav tabs if there are no logging resources"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-09-21 03:05] futuretea opened #2793 "[FEATURE] Add terraform support for the storage tiering enhancement"
**Is your feature request related to a problem? Please describe.**

Add terraform support for the storage tiering enhancement
refer to https://github.com/harvester/harvester/issues/2147

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-09-21 04:33] starbops commented on #2782
Hi @bashofmann, we have spotted the root cause. This is particularly triggered by the http proxy settings. The readiness probe tries to hit the endpoint with HTTP GET request, and the request is being proxied by the proxy server, which is not able to access the repo VM, so the readiness probe fails again and again.

We set up a Squid server and a Harvester v1.0.2 VM with http(s)-server pointed to

[2022-09-21 04:59] yaocw2020 opened #2794 "[FEATURE] Network interface UI enhancement for network configs"
**Is your feature request related to a problem? Please describe.**

- Save network interface status information in a configmap or a new CR.
- Add a dropdown box for users to select NICs when creating or updating vlanconfigs.
- Update the network interface status in the host/network tab.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-09-21 06:30] futuretea opened #2796 "[BUG] configure network failed if use static mode"
**Describe the bug**

![image](https://user-images.githubusercontent.com/15064560/191430124-c798f203-06a1-469b-9152-75f2a4d9b537.png)
![image](https://user-images.githubusercontent.com/15064560/191430144-989603a0-19e0-4fba-9af8-7d4ef4011fff.png)

**To Reproduce**
Steps to reproduce the behavior:
1. use the latest master-head iso
2. set ipv4 mode to Static
3. set ip address and gateway

**Expected

[2022-09-21 06:35] tjjh89017 commented on #2796
we will test this issue in 1390 & 1647 at the same time and skip the test in this issue.
https://github.com/harvester/harvester/issues/1390
https://github.com/harvester/harvester/issues/1647

[2022-09-21 06:38] futuretea commented on #2796
also has this issue when keeping vlan id empty
![image](https://user-images.githubusercontent.com/15064560/191431905-dd47e3ea-3d89-4913-a17f-46b25226e915.png)

![image](https://user-images.githubusercontent.com/15064560/191434328-4f40a1d3-767a-4189-94dc-15d66f5072a9.png)

[2022-09-21 06:51] bk201 commented on #2796
I remove the `not-require/test-plan` label, this deserves an issue in `harvester/tests`.

[2022-09-21 07:00] tjjh89017 commented on #2796
reproduce/test step

## VLAN empty

1. use latest ISO to install
2. skip VLAN field
3. choose static method
4. fill other fields
5. press enter to the next page
6. no error found, and show DNS config page

## VLAN 1

1. use latest ISO to install
2. set VLAN 1
3. choose static method
4. fill other fields
5. press enter to the next page
6. no error found, and show DNS config page

## VLAN other

1.

[2022-09-21 07:12] w13915984028 commented on #2792
cc @joshmeranda , your suggestion is tracked here, thanks.

[2022-09-21 09:04] tjjh89017 commented on #1647
## Test plan

### No vlan

1. boot installer
2. set VLAN=1 or leave VLAN field empty
3. keep installing
4. no error found
5. harvester has network connectivity
6. `ip a show dev mgmt-br` has IP

### VLAN

1. setup VLAN env
2. boot installer
3. set VLAN id
4. keep installing
5. no error found
6. harvester has network connectivity
7. `ip a show dev mgmt-br.<VLAN ID>` has IP
e.g `ip a show dev mgmt-b

[2022-09-21 09:36] DaiYuzeng commented on #2646
The PR from GUI side had been merged so I moved this issue to the `Ready For Testing` panel.
If you have any concerns, just ping me, thank you! @w13915984028 @WuJun2016

[2022-09-21 09:43] TachunLin commented on #2521
Verified **fixed** on `master-4c2242cd-head` (09/21). Close this issue.

### Result
Now we can add `webhook` type receiver from the `Altermanager Config` page for the given namespace
![image](https://user-images.githubusercontent.com/29251855/191467324-220f4e30-53fe-4893-963b-439b5dd8446b.png)

![image](https://user-images.githubusercontent.com/29251855/191467902-9a38f735-038a-40c6-94e5-462e48aa1b

[2022-09-21 09:43] #2521 closed, assigned to TachunLin, w13915984028

[2022-09-21 09:48] Vicente-Cheng commented on #2717
UI related with: [[FEATURE] When adding a block device on the host page should support adding disk tags](https://github.com/harvester/harvester/issues/2770#top)

[2022-09-21 10:37] TachunLin opened #2798 "[BUG] Alertmanager config page should prevent using empty name to add receiver"
**Describe the bug**

In the Alertmanager config page, when we add template but did not provide any name, we can still click the create button.
But after that nothing happened.

https://user-images.githubusercontent.com/29251855/191482627-e231a72e-4ed7-4535-b6cc-04d7da377d32.mp4

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Monitoring and Logging page
2. Open Alertmanager Configs pag

[2022-09-21 11:09] w13915984028 commented on #2798
connect to https://github.com/harvester/harvester/issues/2643

[2022-09-21 14:26] TachunLin commented on #2796
Verified **fixed** on `master-250f41e4-head` (0921 22:00 CST). Close this issue.

### Result
During Harvester ISO installer
We can configure VLAN network on the static mode with the following settings:
1. No error message blocked
2. Can proceed to dns config page

#### VLAN Empty
https://user-images.githubusercontent.com/29251855/191526917-9336dc72-e52c-43dc-aee2-cdb00910094c.mp4

![image](https:/

[2022-09-21 14:27] #2796 closed, assigned to tjjh89017, TachunLin

[2022-09-21 15:40] bk201 opened #2802 "[BUG] harvester-pcidevices-controller pods keep failing"
**Describe the bug**

harvester-pcidevices-controller pods keep failing with the `CrashLoopBackOff` status.
Here is the log:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy the v1.1-head ISO.

**Expected behavior**

The pods should be running.

**Support bundle**

**Environment**
 - Harvester ISO version: v1.1-head
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEd

[2022-09-21 16:27] tlehman opened #2803 "[BUG] PCI Passthrough VM UI adds at most one device"
**Describe the bug**
When adding a passed-through PCI device to a VM, it adds by `vendorId:deviceId`, which prevents multiple identical devices from being attached to the same VM.

**To Reproduce**
1. Install Harvester 1.1.0-head onto a node with two of the same device (or mock two identical devices)
2. Add both
3. Verify in the VM's Config that only 1 device was added.

**Expected behavior**
Both

[2022-09-21 19:02] rt00r opened #2804 "[Question]New Cluster Install doesn't produce Management URL"
Hello,

I have three nodes I am setting up as a cluster but I am unable to get any node to install Harvester and produce a Management URL

The landing page says the URL is "Unavailable" and under status it says "Setting up Harvester"

When checking the /oem config and yaml file there are no IPs assigned for the server only the VIP and viphwaddr

Are there any logs I can provide that could be helpf

[2022-09-21 19:26] w13915984028 commented on #2789
Confirm it's broken in master-head now.

An replacement solution for accessing embedded `longhorn`.

https://the-vip/api/v1/namespaces/longhorn-system/services/http:longhorn-frontend:80/proxy/

[2022-09-21 23:18] tlehman commented on #2802
PR for fix: https://github.com/harvester/pcidevices/pull/13

[2022-09-21 23:59] irishgordo opened #2805 "[BUG] v1.1-008b5d50-head, network.harvesterhci.io.vlanconfig GUI Sends JSON Payload "mtu" & "miimon" Properties as String When Needs To Be Sent As Integer From Front-End"
**Describe the bug**
In `Network Config: Create` - building a Network Config, Request To Backend Sends "mtu" & "miimon" as String and needs to be sent across from front-end to backend as Integer.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Networks -> Network Configs
1. Build a new network
1. Fill out Basic section
1. Goto Uplink section
1. Input MTU as 0
1. Input Miimon as 100
1.

[2022-09-22 01:07] irishgordo commented on #2754
Thanks for those edits @masteryyh !
With those merged in and pulling the latest from `docker pull rancher/terraform-provider-harvester:master-head-amd64`
I was able to follow along with the test plan and validate that this all looks good :smile: .
**Validation - Passed**
This was tested on:
- Harvester ( v1.1-008b5d50-head ), Dell PowerEdge R720
- Docker API (dockerd [moby]) provided by Rancher De

[2022-09-22 01:07] #2754 closed, assigned to irishgordo, masteryyh

[2022-09-22 02:53] #2802 closed, assigned to nobody

[2022-09-22 02:53] WuJun2016 opened #2806 "[BUG] Console button enhancement"
**Describe the bug**

When the user does not fill in any url values, the jump button should not be clickable

![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/c83a5dae-e7e6-4cd9-96cc-df84c1e8bd30)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'

**Expected behavior**

**Support bundle**

**Environment**
 - Harvester ISO version:
 - Underlying Infrastruct

[2022-09-22 03:27] futuretea opened #2807 "[FEATURE] image config display enhancement"
**Is your feature request related to a problem? Please describe.**

create a image by download from url
click config show:
![image](https://user-images.githubusercontent.com/15064560/191651280-e6317150-59da-4c76-bf31-066e0d343d91.png)

edit config show:
![image](https://user-images.githubusercontent.com/15064560/191651720-4b6d166f-4dbf-4d43-9c05-9e57eb42b0f9.png)

**Describe the solution you'd lik

[2022-09-22 03:42] futuretea commented on #2746
@bcdurden supported in [terraform-provider-harvester v0.5.2](https://github.com/harvester/terraform-provider-harvester/releases/tag/v0.5.2)

[2022-09-22 05:33] n313893254 commented on #1986
Also the same as https://github.com/harvester/harvester/issues/2485#issuecomment-1252333909

[2022-09-22 07:28] Martin-Weiss opened #2810 "[BUG] resize of a disk in harvester_virtualmachine via terraform is returing success but does nothing"
**Describe the bug**
Creation of a new VM with harvester_virtualmachine and then changing the size of a disk via terraform does not work as expected. Changing size via terraform apply succeeds but does nothing.

**To Reproduce**
Create a VM via terraform harvester_virtualmachine with two disks.
Then increase the size of the second disk.

**Expected behavior**
The size of the second disk should be

[2022-09-22 07:31] Martin-Weiss opened #2811 "[FEATURE] Online resize of disks / volumes attached to virtual machines"
**Is your feature request related to a problem? Please describe.**
We need to be able to increase the size of disks / volumes attached to virtual machines while they are up and running.
This also needs to be possible via terraform via harvester_virtualmachine.

Tried in the UI on edit volume on a virtual machine and then got this message:
`admission webhook “[validator.harvesterhci.io](http://vali

[2022-09-22 08:09] tjjh89017 opened #2813 "[FEATURE] Harvester Network Controller allow 2-4094 VLAN by default"
**Is your feature request related to a problem? Please describe.**

Harvester Network Controller allows 2-4094 VLAN by default.
And don't watch NAD to add/remove the VLAN id from bridges.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-09-22 08:27] lanfon72 commented on #2786
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/191696592-595d6472-3455-4571-b5b9-bc885d6a6628.png)
![image](https://user-images.githubusercontent.com/5169694/191696621-c2c2ebeb-02e1-483d-8fcb-d0aa3174d430.png)

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-250f41e4-head**
* **ui-source** Option: **Auto**

###

[2022-09-22 08:27] #2786 closed, assigned to lanfon72, DaiYuzeng

[2022-09-22 08:31] lanfon72 commented on #2646
Verified this feature has been implemented.

![image](https://user-images.githubusercontent.com/5169694/191697822-6bc0d7b8-2c56-42e0-805a-408c1ef19845.png)
![image](https://user-images.githubusercontent.com/5169694/191697860-7ef66c19-cd3e-4e4c-b485-315e7eec771d.png)

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-250f41e4-head**
* **ui-source** Option: **Au

[2022-09-22 08:31] #2646 closed, assigned to lanfon72, DaiYuzeng, joshmeranda

[2022-09-22 09:06] n313893254 opened #2815 "[BUG] VLAN cannot view detail page"
**Describe the bug**

VLAN cannot view detail

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Network -> VLAN
2. Create a VLAN
3. Click the VLAN name in the table

**Expected behavior**

Go to detail page

**Support bundle**

**Environment**
 - Harvester ISO version:
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630):

**Additional context**
Add any other context ab

[2022-09-22 10:01] DaiYuzeng opened #2816 "[BUG] Projects/Namespaces display wrongly"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Prepare rancher cluster
2. Import harvester cluster
3. Go go Projects/Namespaces page

<img width="1192" alt="image (1)" src="https://user-images.githubusercontent.com/15041915/191718235-a2d40314-c05d-430e-ae92-a6c86194f0d0.png">

**Expected behavior**

**Support bundle**

**Environment**
 - Harvester ISO version:
 - Underl

[2022-09-22 10:05] DaiYuzeng opened #2817 "[BUG]Logging Output needs filter"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to create an `Audit Only` Cluster Output
2. Go to craete a `logging type` Cluster Flow
3. You can still choose `Audit Only` Cluster Outputs

**Expected behavior**

1. Filter is needed.

**Support bundle**

**Environment**
 - Harvester ISO version:
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630):

*

[2022-09-22 10:37] lanfon72 commented on #2647
Verified this feature has been implemented.

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-250f41e4-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install _Graylog_ via docker[^1]
2. Install Harvester with any nodes
3. Login to Dashboard then navigate to _Monitoring & Logging/Logging_
4. Create **Cluster Output** with following:
    - **Name

[2022-09-22 10:37] #2647 closed, assigned to lanfon72, w13915984028, joshmeranda

[2022-09-22 10:37] lanfon72 commented on #2748
Verified this feature has been implemented.

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-250f41e4-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install _Graylog_ via docker[^1]
2. Install Harvester with any nodes
3. Login to Dashboard then navigate to _Monitoring & Logging/Logging_
4. Create **Cluster Output** with following:
    - **Name

[2022-09-22 10:37] #2748 closed, assigned to lanfon72, w13915984028

[2022-09-22 10:37] lanfon72 commented on #2747
Verified this feature has been implemented.

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-250f41e4-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install _Graylog_ via docker[^1]
2. Install Harvester with any nodes
3. Login to Dashboard then navigate to _Monitoring & Logging/Logging_
4. Create **Cluster Output** with following:
    - **Name

[2022-09-22 10:37] #2747 closed, assigned to lanfon72, w13915984028

[2022-09-22 10:38] lanfon72 commented on #2644
Closed as verified along with #2647, #2747, #2748

[2022-09-22 10:38] #2644 closed, assigned to lanfon72, w13915984028, joshmeranda

[2022-09-22 10:52] lanfon72 commented on #2749
Closed as verified along with #2647, #2747, #2748

[2022-09-22 10:52] #2749 closed, assigned to lanfon72, DaiYuzeng

[2022-09-22 10:53] lanfon72 commented on #2669
Closed as verified along with #2647, #2747, #2748

[2022-09-22 10:53] #2669 closed, assigned to lanfon72, w13915984028, joshmeranda

[2022-09-22 12:53] rthallisey commented on #2729
Can you share some detail about the pressure you're applying to the KubeVirt control-plane, e.g. creating 100 vmis at once?

We have tooling for you to profile the control-plane.  Can you profile and share any interesting findings? https://github.com/kubevirt/kubevirt/tree/main/tools/cluster-profiler

[2022-09-22 14:01] n313893254 opened #2818 "[BUG] Admin user can not access Harvester cluster by Rancher"
**Describe the bug**

Admin user can not access Harvester cluster by Rancher

**To Reproduce**
Steps to reproduce the behavior:
1. v2.6.9-rc1 Rancher import a v1.10-head Harvester
2. log in as an admin user
3. Edit Rancher setting `ui-offline-preferred` to `External`
4. Go to Harvester endpoint and Edit Harvester setting `ui-source` is `External`
5.  Edit Rancher setting `ui-offline-preferred` to

[2022-09-22 14:14] WuJun2016 commented on #2818
Fixed:  https://github.com/rancher/dashboard/commit/c413322de501249f91790e372d5736fb5dece01c ,  Please use master-head to test， thanks

[2022-09-22 16:13] tlehman opened #2819 "[BUG] Rebooting Harvester Node with PCIDeviceClaims doesn't rebind to vfio-pci"
**Describe the bug**
When you create PCIDeviceClaims, the underlying PCI Devices get bound to the `vfio-pci` driver. When the system is rebooted, those underlying devices are not bound to the `vfio-pci` driver.

**To Reproduce**
1. Go to Advanced -> PCI Devices
2. Click a device, click Enable Passthrough
3. Verify that the device is bound to vfio-pci
[code]
(Check that the driver currently bound i

[2022-09-22 18:41] tlehman opened #2820 "[BUG] Making a PCI Device Claim doesn't allow-list the device in KubeVirt"
**Describe the bug**
When claiming a PCI Device for passthrough, the KubeVirt CR needs to be updated to include the device in it's list of `permittedHostDevices`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Advanced -> PCI Devices
2. Click on a PCI Device and Enable Passthrough
3. Once the device is Enabled, go to Virutal Machines and add the device to a VM.
4. Boot the VM
5. KubeV

[2022-09-23 00:35] yaocw2020 commented on #2813
We'll try to make the [netlink](github.com/vishvananda/netlink) package support adding VID range.

[2022-09-23 00:39] bk201 commented on #2668
As a short-term improvement, we need to add some checks in the webhook or controller. So the upgrade can fail earlier with a helpful message. cc @starbops

[2022-09-23 00:54] TachunLin commented on #2485
Verified **fixed** on `v1.1.0-rc1` with Rancher `v2.6.9-rc1`. Close this issue.

### Result
Now the standard user with cluster member rights won't display `harvester-public` while user node driver to provision the RKE2 cluster.

![image](https://user-images.githubusercontent.com/29251855/191777382-739a814a-d1e8-4627-b80f-2e20eecc2991.png)

Cluster member `user` can see harvester-public in Harveste

[2022-09-23 00:55] #2485 closed, assigned to n313893254, TachunLin

[2022-09-23 01:21] bk201 commented on #2722
Please check the test plan in the description of the issue: https://github.com/harvester/os2/pull/49
The maximum pod number on a node is 110 by default. Thus at this point, the user can't create more than `110 - sys_pod_count` VMs.

[2022-09-23 01:48] jcambronero opened #2821 "[BUG] Disk pressure caused by Rancher agent tmp files"
**Describe the bug**
After a few weeks of running Harvester we started getting Kubelet disk pressure errors.
When looking further we noticed that there were >50GBs generated by thousands of tmp directories in the /usr/local/.state/var-lib-rancher.bind/agent/tmp directory
![image](https://user-images.githubusercontent.com/6895571/191878685-018304c1-b630-4370-be9f-ecfd6df6288e.png)

**To Reproduce**

[2022-09-23 01:53] bk201 commented on #2821
Hi @jcambronero, any notable logs in `journalctl -u rancher-system-agent.service`? Thanks.

[2022-09-23 02:44] n313893254 opened #2822 "[BUG] Host storage can not see disk status"
**Describe the bug**

Host storage can not see disk status

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Host -> Storage

**Expected behavior**

Can see the disk status

**Support bundle**

**Environment**
 - Harvester ISO version:
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630):

**Additional context**
Add any other context about the problem here.

![image](ht

[2022-09-23 03:18] futuretea commented on #2584
@guangbochen @WuJun2016
find a new case to tigger the `Server error. command SyncVMI failed: "ReadCloudInitVolumeDataSource failed: no cloud-init data-source found at volume: cloudinitdisk`

1 . create a vm, and keep network data and userdata empty

![image](https://user-images.githubusercontent.com/15064560/191884490-2fa76857-5c87-4055-b60a-11a5304d12c1.png)

[2022-09-23 05:27] Martin-Weiss commented on #2668
But even in this case we need to tell the user what to do in case the message shows up.
It seems the only way is to re-install the node with a bigger disk?

[2022-09-23 08:05] guangbochen commented on #2148
close due to inactivity and can't reproduce it in our env; feel free to reopen it if u reencountering it, thanks.

[2022-09-23 08:05] #2148 closed, assigned to FrankYang0529

[2022-09-23 08:41] guangbochen commented on #2750
For upgrade case, if UI can't get the related Logging CRDs, its pages should still work properly but adding a proper warning message, cc @WuJun2016

[2022-09-23 11:55] zp4rand0miz31 opened #2823 "[Question] Best practices to change harvester-mgmt interface IP netmask"
Hi,

We migrated our main LAN network from a 10.20.0.0/24 network to a 10.20.0.0/16 network.

To achieve this migration, we patched the /oem/99_custom.yaml file so that the netmask is adjusted to NETMASK=255.255.0.0.
Our DHCP server properly broadcast the netmask 255.255.0.0, even if not used in this configuration as all the nodes are configured statically.
We rebooted all the nodes.

Since then w

[2022-09-23 16:04] jcambronero commented on #2821
hi @bk201, I'm not seeing anything interesting. These logs are repeating every few seconds.
BTW, I deleted all the tmp directories yesterday and today there's already 36 new tmp directories (and growing).

Here's the logs:
[code]

[2022-09-23 19:23] irishgordo commented on #2805
**Validation - Passed**
Thanks for the quick fix @n313893254 :smile: !
This looks great!  Thanks for the fix with MTU and Miimon data-types on the front-end.
I'll go ahead and close this out.
![Screenshot from 2022-09-23 12-21-11](https://user-images.githubusercontent.com/5370752/192042224-08f391a1-4c7e-4ca9-9e39-6c58f0fd1a0c.png)

Tested on:
- Dell PowerEdge R720 - Harvester: v1.1.0-rc1

[2022-09-23 19:23] #2805 closed, assigned to irishgordo, n313893254

[2022-09-23 22:40] slickwarren opened #2824 "[BUG] harvester storage class does not respect PVC volume value. All volumes are created with 10Gi size"
**Rancher Server Setup**
- Rancher version: v2.6.9-rc1, harvester v1.1.0-rc1
- Installation option (Docker install/Helm Chart): docker
   - If Helm Chart, Kubernetes Cluster and version (RKE1, RKE2, k3s, EKS, etc): n/a
- Proxy/Cert Details:n/a

**Information about the Cluster**
- Kubernetes version: any (tested with 1.24.4 rke1 and rke2
- Cluster Type (Local/Downstream):
   - If downstream, what t

[2022-09-23 22:41] slickwarren opened #2825 "[BUG] harvester storage class volumes are not cleaned up if the harvester node driver cluster is deleted"
**Rancher Server Setup**
- Rancher version: v2.6.9-rc1
- Installation option (Docker install/Helm Chart): docker
   - If Helm Chart, Kubernetes Cluster and version (RKE1, RKE2, k3s, EKS, etc):n/a
- Proxy/Cert Details: n/a

**Information about the Cluster**
- Kubernetes version: 1.24.4-rancher1-1 or 1.24.4+rke2r1
- Cluster Type (Local/Downstream): downstream
   - If downstream, what type of cluster

[2022-09-23 22:41] slickwarren commented on #2825
https://github.com/rancher/rancher/issues/39111

[2022-09-23 23:56] irishgordo commented on #2735
Just to mention.

I think it would be awesome if we could mention that there are some breaking changes with `v1.1.0` compared to `v1.0.X` with the [harvester-config](https://docs.harvesterhci.io/v1.0/install/harvester-configuration/#example_11)

For example, a user/organization/customer can no longer have this in their remote Harvester configuration:
[code]
There is no longer the YAML parent prope

[2022-09-24 00:45] irishgordo opened #2826 "[BUG] Storage Class can be created with 3 replicas when disk has 0 replicas"
**Describe the bug**
"Number Of Replicas" for Storage Class creation doesn't audit replicas available on extra-disk that has been force-formatted with ext4 from Host Storage Config, with disk selector label added.

**To Reproduce**
Steps to reproduce the behavior:
1. Add an extra disk to the node, Hosts -> Edit Config -> Storage -> Add Disk -> Force Format Ext4
1. Add tags to the disk you just add

[2022-09-24 10:48] yaocw2020 commented on #2735
Thanks, @irishgordo. awesome!! I hope you can help review the coming doc.

[2022-09-26 01:11] bk201 commented on #2823
@zp4rand0miz31 Thanks for reporting. What's your [VIP setting](https://docs.harvesterhci.io/v1.0/install/harvester-configuration/#installvip)? Is it a static one or a DHCP one?

[2022-09-26 03:06] chrisho opened #2827 "[FEATURE] Ksmd support merge_across_node on/off"
Add a on-off to turn on/off merge_across_node.

[2022-09-26 03:31] yaocw2020 opened #2828 "[BUG][FEATURE] Deny the vlanconfigs overlap with the other"
**Describe the bug**

If a vlanconfig has been applied to a node, the other vlanconfigs with the same clusternetwork will not take effect on this node.  ~~We can set it paused. It's allowed users to modify the paused field to make the vlanconfig active if they have deleted the original vlanconfig in effect.~~
We deny the vlanconfigs overlap with the other directly.

**To Reproduce**
Steps to repro

[2022-09-26 04:00] guangbochen commented on #2827
related to https://github.com/harvester/harvester/issues/2302 and added as a small feature enhancement.

[2022-09-26 07:54] futuretea commented on #2824
Cannot be reproduced as described

Rancher version: v2.6.9-rc1, harvester v1.1.0-rc1
Kubernetes version: any 1.24.4 rke2

guest cluster:
![image](https://user-images.githubusercontent.com/15064560/192222369-af2028b6-fa4d-4b99-b7fa-326187484c5d.png)
Harvester cluster:
![image](https://user-images.githubusercontent.com/15064560/192222429-a4e33f3c-5c76-4d8f-91db-05ac85171f9d.png)

[2022-09-26 09:44] TachunLin commented on #2654
#### Test plan
1. Regression test of Rancher `v2.6.9-rc2` integrate with Harvester `v1.1.0-rc1`
  - Access Harvester cluster from Rancher
  - RBAC related Harvester permission on Harvester

2. Regression test of Rancher `v2.6.9-rc2` integrate with Harvester `v1.0.3`
  -  Access Harvester cluster from Rancher
  - RBAC related Harvester permission on Harvester

Test plan stated in https://harvester.

[2022-09-26 10:18] TachunLin commented on #2818
#### Test Plan
1. Verify on Rancher `v2.6.9-rc1` with Harvester `v1.1.0-rc1`
   - Set Rancher ui-dashboard-index to https://releases.rancher.com/dashboard/release-2.6.9/index.html
   - Set Rancher ui-offline-preferred to `Remote`
   - Set  Harvester ui-source is `External`

2. Verify on Rancher `v2.6.9-rc2` with Harvester `v1.1.0-rc2`
   - Set Rancher ui-offline-preferred to default `Dynamic`
   -

[2022-09-26 10:34] lanfon72 commented on #2722
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/192251104-7a53a1a9-260d-4e90-aade-1b3e7c11cc52.png)

Test Information
----
* Environment: **DL390G9  4 nodes**
* Harvester Version: **v1.1.0-rc1**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with any nodes
2. Login to console, execute `sysctl -a | grep aio`, the value of `fs.a

[2022-09-26 10:34] #2722 closed, assigned to bk201, lanfon72

[2022-09-26 13:49] zp4rand0miz31 commented on #2823
Checking the inital config in /oem/99_custom.yaml, from the ManagedChart 'harvester':
[code]

We do have the same values in harvester.config. The live config in the fleet-local namespace is the same too.

Some precisions on my request:

after boot, we have the following routing table (i removed the calico related routes):
[code]
which seems legit.

I am not sure whether the bad route "10.20.0.0/2'

[2022-09-26 14:16] pandalec commented on #766
Any news regarding this? It would be nice to have an option like [VMware's VLANID 4095](https://kb.vmware.com/s/article/1004074)

[2022-09-26 15:58] lanfon72 commented on #2692
Verified this feature has been implemented.

![image](https://user-images.githubusercontent.com/5169694/192323716-c863af2a-388f-49d6-8636-d57f8abbad35.png)

Test Information
----
* Environment: **DL360G9 4 nodes**
* Harvester Version: **v1.1.0-rc1**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with 2+ nodes
2. Login to Dashboard and create an image for VM creation
3. Na

[2022-09-26 15:58] #2692 closed, assigned to Vicente-Cheng, lanfon72

[2022-09-26 16:03] irishgordo commented on #2735
@yaocw2020 - that sounds good :smile:  - I'd be more than happy to help review the coming doc :+1: :smile:

[2022-09-26 21:15] irishgordo commented on #2147
@futuretea
I've been working to try to validate this.

Following some of the [testing steps](https://github.com/harvester/harvester/pull/2358#issue-1263010285) that have been highlighted, I've encountered this error when trying to upgrade from v1.0.3 - v1.1.0-rc1.  Following [upgrading harvester via more of an air-gapped method](https://docs.harvesterhci.io/v1.0/upgrade/automatic/#prepare-an-air-g

[2022-09-26 22:35] mantis-toboggan-md commented on #2788
@futuretea I hit something very similar in cluster explorer and filed a rancher/rancher ticket here: https://github.com/rancher/rancher/issues/39129

[2022-09-27 00:34] bk201 commented on #2823
@yaocw2020 @tjjh89017 Any insights on potential causes? Thanks.

[2022-09-27 00:34] irishgordo opened #2832 "[BUG] Node Disk Tags Go Missing At Restart Of Node"
**Describe the bug**
Friday, Sept 23rd, I created on the Dell PowerEdge R720 a StorageClass that targeted a [3TB Hitatchi 7.2k RPM SATA 6Gb/s Drive](https://www.newegg.com/hitachi-gst-ultrastar-7k3000-hus723030als640-3tb/p/N82E16822145628).
Today, upon rebooting the node, Monday, Sept 26th - I was noticing an issue with the VM building it's PVC, as it was stuck in `pending` upon looking at the log

[2022-09-27 00:39] irishgordo commented on #2832
More screenshots of the creation can be seen in this:
https://github.com/harvester/harvester/issues/2826
(as that was from the day where the disk was first introduced and tagged)

[2022-09-27 02:09] futuretea commented on #2147
Yes

I will add a new UI test plan to instead of this one

Yes, old images didn't have the storageClass annotation and storageClassParameters

These tests were written for backend PR review
I will add UI test plans soon

CC @bk201

[2022-09-27 02:20] tjjh89017 commented on #766
Currently, Bridge CNI Plugin didn't support VLAN trunk mode for Pods.
So it should wait for that issue first.

[2022-09-27 02:23] tjjh89017 commented on #2823
route is "10.20.0.0/24 via 10.20.0.1 dev harvester-mgmt proto kernel". This route seems to be added after a while, when rke2-agent is ran (periodically).

Could you help us to check the DHCP server again?
v1.0.x network controller will ask DHCP for subnet info and add route to some master node for that.
So if you have VLAN network in 10.20.0.0/16 subnet and DHCP server is still announce /24 subnet

[2022-09-27 02:51] bk201 commented on #2147
@irishgordo We will support the upgrade in v1.1.0-rc2.

[2022-09-27 03:28] chrisho commented on #2729
I have tried to restart 100 vmis at once, and I guess the same problem happens with creating 100vmis at the same time.

thanks, will share with after the profile.

[2022-09-27 03:39] bk201 opened #2833 "[FEATURE] Add more checks before upgrading"
**Is your feature request related to a problem? Please describe.**

We need to add some webhook validation checks to forbid users from performing upgrades in some cases.
This gives the user a smooth upgrade experience and ensures data reliability.

Related issue: https://github.com/harvester/harvester/issues/2741

**Describe the solution you'd like**

Add a validation webhook and reject creating a

[2022-09-27 04:00] futuretea commented on #2832
The disk tag on one of my environments is also missing. I did not remove it.
but I cannot find the reproduce steps

[2022-09-27 05:16] pandalec commented on #766
[ovs](https://github.com/k8snetworkplumbingwg/ovs-cni) would support it, like @futuretea mentioned

[2022-09-27 05:19] tjjh89017 commented on #766
It will take some effort to change CNI plugin.
We will discuss these in the future.
Thanks for comment

[2022-09-27 05:24] pandalec commented on #766
Thank you!

[2022-09-27 06:26] WuJun2016 opened #2834 "[FEATURE] enhancement network related UI design"
**Is your feature request related to a problem? Please describe.**

redesign of `Network Configs` and `Vlan` related pages.
-
![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/5ae3584c-21e6-46a9-b4ef-0f90ea3623ce)

**Describe the solution you'd like**
- Change Network Configs to `Cluster Networks/Configs`
   - display cluster networks as a group resource that will contain

[2022-09-27 06:33] futuretea commented on #2826
@irishgordo
The number of replicas on a disk is the sum of the volume replicas that are currently scheduled to the disk

[2022-09-27 07:37] lanfon72 commented on #2654
Both test plan should be verified in Rancher `v2.6.9-rc2`, so this issue still pending on Rancher's docker image release

[2022-09-27 07:38] lanfon72 commented on #2818
As this bug be includes in existing Rancher Integration test cases, we can just verify it on Rancher `v2.6.9-rc2` with Harvester `v1.1.0-rc2`

[2022-09-27 07:39] DaiYuzeng commented on #2817
How to reproduce:

1. Go to create `Output` with `Audit Only` type named `test`
2. Go to Flow create page
3. Select `Event` type
4. Switch to `Outputs` tab
5. The `Output` named `test` advent at the output selector.

Expected behavior:

1. The `Logging` or the `Event` `Flow/ClusterFlow` should only select `Logging/Event` `Output/ClusterOutput`
2. The `Audit` `Flow/ClusterFlow` should only select `

[2022-09-27 07:46] DaiYuzeng commented on #2750
Could you provide steps for displacing available logging crd to unavailable, thanks!
@w13915984028

Expected behavior:

1. navi tabs should be visible if there is no logging crd.
2. warning tips should be visible on logging resource list pages.

[2022-09-27 07:48] DaiYuzeng commented on #2792
@w13915984028 @joshmeranda @guangbochen
this issue is duplicated with #2750, so I closed it.

[2022-09-27 07:48] #2792 closed, assigned to DaiYuzeng

[2022-09-27 07:50] TachunLin commented on #1647
### Test plan
We have the following test plan for ISO installation on create and join mode with no and valid vlan configuration.

### Create mode
#### No VLAN
|                 | DHCP VIP | static VIP |
|-----------------|:--------:|:----------:|
| DHCP node ip    |   PASS       |            |
| Static node ip  |   PASS       |            |

#### VLAN
|                 | DHCP VIP | static VIP |
|-

[2022-09-27 08:40] zp4rand0miz31 commented on #2823
I checked the configuration of our DHCP server, it distributes properly IPs on /16. I also captured DHCP request/offer packets on both `harvester-br0` and `harvester-mgmt` interfaces, and I can confirm that the option 11 (Subnet-Mask) is 255.255.0.0 in DHCP offer packets.

Does the network controller intercepts outbound and interpret (from the cluster point of view) DHCP requests ? Our VM images w

[2022-09-27 08:43] tjjh89017 commented on #2823
Network controller will start a DHCP client pod and attach to every net-attach-def.
Try to grab DHCP info and setup route in nodes.

But I'm not sure the reason, it will setup /24 route if your DHCP server is /16 and correct.

cc @yaocw2020

[2022-09-27 08:47] n313893254 opened #2837 "[FEATURE] Host/disk tags use component same as longhorn UI"
**Is your feature request related to a problem? Please describe.**

Related discuss in https://github.com/harvester/dashboard/pull/415#discussion_r975900099

**Describe the solution you'd like**

- Use component same as longhorn UI

**Describe alternatives you've considered**

**Additional context**

[2022-09-27 09:12] Martin-Weiss commented on #2756
While we are waiting on v1.2.0 is there a manual workaround we could use? I.e. create a kubernetes batch job?

[2022-09-27 09:15] futuretea commented on #2147
@irishgordo

**Test Plan for compatibility**
---
1. Old version images and storageClasses and backingimages should not be changed/deleted.

1. Edit any old version image via `Edit Config`, change Description from UI
The storageClass and backingimage of the image should not be changed.
get storageClass by `kubectl get sc`
get backingimage by `kubectl -n longhorn-system get backingimage`

1. Edit an

[2022-09-27 09:18] Martin-Weiss opened #2838 "[Doc] Documentation missing: how to deal with volumes?"
**Describe the bug**
The documentation seems to be missing explanations on how to deal with volumes in harvester.

**To Reproduce**
Try to find out

- what this does:

![grafik](https://user-images.githubusercontent.com/13362573/192485960-08d0cf04-e06e-49a5-b972-9a26073301df.png)

- Find out in the documentation that online expansion of existing volumes is not possible.
- Find out how to deal with

[2022-09-27 09:41] n313893254 commented on #2590
Hi, @noahgildersleeve. Sorry I cannot reproduce this issue. Could you use the Rancher v2.6.9-rc1 and Harvester v1.1.0-rc1 test again?

[2022-09-27 10:13] lanfon72 commented on #2302
Verified this feature not fully implemented.

Ksmtuned enabled but still in `Stopped` phase.
![image](https://user-images.githubusercontent.com/5169694/192497518-9f9f9afd-8597-4168-8f54-ae56a4daf916.png)
![image](https://user-images.githubusercontent.com/5169694/192497413-fb51bcea-9c70-4f85-9c5a-fa5be6d23743.png)

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: *

[2022-09-27 10:18] lanfon72 commented on #2302
The value of `/sys/kernel/mm/ksm/run` will entering `1` then be updated to `0` in few seconds

[2022-09-27 10:46] lanfon72 commented on #2778
Verified this bug has been fixed.

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **master-af5215bb-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with any nodes via ISO install
2. Follow **Test Plan** in https://github.com/harvester/harvester-installer/pull/339#issue-1378092118

[2022-09-27 10:46] #2778 closed, assigned to lanfon72, futuretea

[2022-09-27 14:21] gchelazzi-klab opened #2839 "[BUG]"
**Describe the bug**
My virtual machine is stuck on "starting", with a brief explaination: "Virt-launcher pod has not yet been scheduled"

**To Reproduce**
Steps to reproduce the behavior:
1. upload a centos-7.9-2009 image for x86_64 systems
2. create the following terraform file:
[code]

**Expected behavior**
A virtual machine should start

**Support bundle**

**Environment**
 - Harvester ISO ver

[2022-09-27 15:07] Martin-Weiss commented on #2839
Just wild guessing - not sure if this is related - but why do you use Harvester v1.0.0 when the latest is v1.0.3?
I am doing more or less the same (using centos-7.9-2111) and this works like a charm..
Maybe not enough resources if it fails with Unschedulable?

[2022-09-27 15:17] guangbochen commented on #2824
Hi @harvester/qa can one of u guys help to validate this issue again? The engineering team can't reproduce it from our env, thanks.

[2022-09-27 15:28] gchelazzi-klab commented on #2839
It's company premises so not upgrading to 1.0.3 for now. But it doesn't fail with unschedulable, it just doesn't start the pod, I think it's the kube-scheduler not running this one properly maybe?

[2022-09-27 15:38] Martin-Weiss commented on #2839
I am not deep enough in the technical level, here - but can you check if the persistent volumes have been created? (check the pvc in the namespace of the VM you are creating..
And then I believe we need to check the virt-controller in the harvester-system namespace.

[2022-09-27 16:06] lanfon72 commented on #2824
Unable to reproduce this on Rancher `v2.6.9-rc1` with Harvester `v1.1.0-rc1`

To noticed created pvc using StorageClass`longhorn` instead of `harvester-longhron`, latter is _default_ in Harvester.

![image](https://user-images.githubusercontent.com/5169694/192576347-3faa6d89-1f6c-457c-acc2-a33084182d92.png)
![image](https://user-images.githubusercontent.com/5169694/192576447-746f663f-fe18-4eb4-8f2

[2022-09-27 16:23] lanfon72 commented on #2643
Close as this has been verified along with #2521.
UI still need some enhancement described in #2798

[2022-09-27 16:23] #2643 closed, assigned to lanfon72, DaiYuzeng

[2022-09-27 16:29] lanfon72 commented on #2798
UI need to re-design as the dropdown list of Receiver in `Route` tab, require receivers which reflect to config itself.

![image](https://user-images.githubusercontent.com/5169694/192582516-65be5b39-63af-410e-a862-642274aae83f.png)
![image](https://user-images.githubusercontent.com/5169694/192582688-7c804436-00da-4b9f-b15e-d153714a3942.png)
![image](https://user-images.githubusercontent.com/516969

[2022-09-27 16:41] lanfon72 commented on #2839
`spec.RunStrategy` introduced in `v1.0.2`, in old version, it should be `Running` instead. (ref: https://github.com/harvester/harvester/issues/2060 )

If you are using latest terraform Harvester provider, some yaml spec will not compatible with `v1.0.0`.

[2022-09-27 17:46] irishgordo commented on #2832
@futuretea
Powering on my R720 today, I notice the same thing.

![Screenshot from 2022-09-27 10-19-53](https://user-images.githubusercontent.com/5370752/192599083-627dd1af-2462-4066-91aa-80722ad67483.png)

With the GET https://192.168.1.166/v1/harvester/harvesterhci.io.blockdevices - the Response back is:
[code]

And I don't think this is front-end related, because with the:
GET
	https://192.168.1

[2022-09-27 22:20] felixtegelkamp commented on #1983
My workaround to complete upgrade.

1. Check bundles
   ` kubectl get bundles -A`
    <img width="1333" alt="Bildschirmfoto 2022-09-27 um 23 53 35" src="https://user-images.githubusercontent.com/9285028/192646323-0b4ee91a-5864-4da2-8920-02a49e87f8a4.png">
2. And also check secrets as helm releases are stored in here
    `kubectl get secrets -A -l  status=pending-upgrade`
    <img width="830" alt="

[2022-09-27 22:51] irishgordo commented on #2147
@futuretea thank you for outlining these elements for me :smile:

### compatibility validations:

As I worked through validating this - all things related to `Test Plan for copmatiblity` look good.
I was able to validate things like trying to add the `spec.storageClassParameters` fails:
Request:
[code]
Response `422 Unprocessable Entity`:
[code]
The backwards compatibility looks good with all elem

[2022-09-27 23:18] noahgildersleeve commented on #2590
I retested this and could reproduce. However it seems to work with Ubuntu focal, but not opensuse Leap. For reference I was using `openSUSE-Leap-15.3.x86_64-1.0.1-NoCloud-Build2.46.qcow2`. Could you try checking with that @n313893254 . I double checked with Rancher v2.6.9-rc1 and the external ui-index pointed at the 2.6.9 ui. This was with `v1.1.0-rc1`.

[2022-09-27 23:35] rebeccazzzz opened #2840 "[Task] Update Harvester POC Guide for v1.1.2"
Update the existing Harvester v1.0.0 POC Guide for v1.1.2.

[2022-09-28 00:19] futuretea commented on #2147
@irishgordo Sorry, For 15 and 16 , I forgot that these volumes are image volume, so they cannot be restored to another storageClass. That's expected. new test steps:
15. Create a new volume `volume-c` by choose `Source`=`New` and specify `storageClassName` `sc-a`
16. Add the volume `volume-c` to vm `vm1`
17. Check the replicas number and location of volume `volume-c` in longhorn UI
18. Create a vo

[2022-09-28 01:19] irishgordo commented on #2274
@ibrokethecloud

As I'm working to familiarize with the flow of this I happened to notice.

### Setup
- 1 Harvester v1.1.0-rc1 Node QEMU/KVM 12C 24GiB Mem
- 1 OpenStack Instance (devstack) leveraging 16 CPU & 32 Gi mem, as a VM on a bare-metal R720 instance provisioned with [cloudconfig](https://gist.github.com/irishgordo/b12f35e02b8e4c52620f546b189f5757) , `stable/yoga` OpenStack's DevStack Branc

[2022-09-28 02:01] chrisho commented on #2302
Each period is 1 minute, so if you want to see the statistics,  wait at least 2 minutes.

[2022-09-28 02:33] Vicente-Cheng commented on #2832
**QUICK Reproduce method: delete the _node-disk-manager_ pod**

[2022-09-28 05:37] irishgordo commented on #2826
@futuretea thanks for looking at this :smile: !
So all that happens when replicas are set for the StorageClass is that it just makes sure that any Volumes created using that StorageClass have "N" number of replicas in Longhorn?

[2022-09-28 05:38] yaocw2020 opened #2841 "[FEATURE] Reorganize the networkconfigs UI"
**Is your feature request related to a problem? Please describe.**

- Imitate rancher project/namespace UI to reorganize the networkconfigs UI
- Add clusternetwork status and webhook

**Describe the solution you'd like**

For UI:
- Change Network Configs to `Cluster Networks/Configs`
   - display cluster networks as a group resource that will contain one or many network configs.
   - allow users t

[2022-09-28 06:06] futuretea commented on #2826
Yes

[2022-09-28 06:22] n313893254 commented on #2834
Close in favor same as https://github.com/harvester/harvester/issues/2841

[2022-09-28 06:22] #2834 closed, assigned to n313893254

[2022-09-28 06:32] vulkoingim opened #2842 "[BUG] Terraform provider - StorageClassName is not respected when providing both image and StorageClass"
**Describe the bug**

As the title says, when providing a StorageClassName, alongside an Image - the storage class for the PVC gets overwritten by the one derived from the image.

I already opened a PR on the [terraform-provider-harvester](https://github.com/harvester/terraform-provider-harvester) repo, but since no one got assigned automatically, I'm opening an issue here as well with the hope of

[2022-09-28 07:42] WuJun2016 opened #2843 "[BUG] The Enable Group button at the bottom of the page should not be visible"
**Describe the bug**

The `Enable Group` button at the bottom of the page should not be visible

![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/fd5c40f8-0ad2-4e1c-b081-720979565a0e)

**To Reproduce**
Steps to reproduce the behavior:
1.  go to `VM` create page
2. click `PCI Devices` tab

**Expected behavior**

**Support bundle**

**Environment**
 - Harvester ISO version:

[2022-09-28 08:04] futuretea commented on #2842
working on it: https://github.com/harvester/harvester/issues/2793

[2022-09-28 08:56] lanfon72 commented on #2815
Verified this bug has been fixed.

Test Information
----
* Environment: **DL360G9 4 nodes**
* Harvester Version: **v1.1.0-rc1**
* **ui-source** Option: **External**

### Verify Steps:
- Follow **Steps to reproduce** in https://github.com/harvester/harvester/issues/2815#issue-1382101193

[2022-09-28 08:56] #2815 closed, assigned to lanfon72, n313893254

[2022-09-28 09:22] lanfon72 commented on #2302
Verified this feature has been implemented.

Test Information
----
* Environment: **Baremetal DL360G9 4 nodes**
* Harvester Version: **v1.1.0-rc1**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with any nodes
2. Login to Dashboard and Navigate to hosts
3. Edit _node1_'s **Ksmtuned** to `Run` and **ThresCoef** to `85` then Click **Save**
4. Login to _node1_'s console, exe

[2022-09-28 09:22] #2302 closed, assigned to chrisho, lanfon72, WuJun2016

[2022-09-28 09:23] zp4rand0miz31 commented on #2823
Hi, not sure whether you are waiting on some action from me. I don't know how to perform the described action.

Looks like a bug, yeah ?

Thanks.

[2022-09-28 09:26] tjjh89017 commented on #2823
No, I just describe the behavior or network controller.
but could you try v1.1.0 when we release v1.1.0?
We have a refactor for network function
thanks a lot

[2022-09-28 10:47] lanfon72 commented on #2437
Verified this bug has been resolved.

![image](https://user-images.githubusercontent.com/5169694/192757588-73484301-07e7-4a37-9d1e-cbcada9b5774.png)
![image](https://user-images.githubusercontent.com/5169694/192758868-422887df-557c-4d8c-9ee8-2ab0f863f97a.png)

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **master-7dd398f0-head**
* **ui-source** Option: **Auto*

[2022-09-28 10:47] #2437 closed, assigned to starbops, lanfon72

[2022-09-28 11:25] w13915984028 commented on #2518
`enable/disable` alertmanager is available via
PR: https://github.com/harvester/dashboard/pull/411
UI Issue: https://github.com/harvester/harvester/issues/2643

[2022-09-28 14:24] lanfon72 commented on #1390
Verified this feature has been implemented.

![image](https://user-images.githubusercontent.com/5169694/192803102-5062546d-ec36-4ecc-a1f3-4e6ec6c7a620.png)

Test Information
----
* Environment: **baremetal DL360G9 single node**
* Harvester Version: **master-7dd398f0-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with any nodes from PXE Boot with configurd vlan with

[2022-09-28 14:24] #1390 closed, assigned to tjjh89017, lanfon72

[2022-09-28 14:41] lanfon72 commented on #1647
Closed along with #1390, configuration will settled correctly after UI options filled in.
For Test cases listed in https://github.com/harvester/harvester/issues/1647#issuecomment-1259120715, there is no obvious different for vlan configuration between DHCP and static IP, so we just test one of it.

[2022-09-28 14:41] #1647 closed, assigned to tjjh89017, lanfon72, TachunLin

[2022-09-28 16:11] irishgordo commented on #2826
@futuretea - thanks for helping me understand that.
Given that is the case, I'll go ahead and close this out as this isn't a bug :smile:

[2022-09-28 16:11] #2826 closed, assigned to futuretea

[2022-09-28 18:12] irishgordo commented on #2147
@futuretea thanks for looking into that for me :smile:

**Question: Should we be allowed to delete a StorageClass when there are Volumes & Images tied to that StorageClass - and also there are VMs running?**
![Screenshot from 2022-09-28 11-06-11](https://user-images.githubusercontent.com/5370752/192856605-81cdc4a7-d3ed-4a3c-bfcb-41e4aea2b8d4.png)

I was able to delete the StorageClasses, but I'm n

[2022-09-28 23:00] noahgildersleeve commented on #2650
@FrankYang0529 I retested this with Harvester `v1.1.0-rc` and Rancher `v2.6.9-rc2`. and the base cases work, but it doesn't remove the cattle-cluster-agent when you do an add -> replace -> remove as in Case 3 below. It removes the cattle-cluster-agent pods then creates new ones. The same way it seems as it does when you replace the original `cluster-registration-url`

## Validation Steps
### case

[2022-09-28 23:30] noahgildersleeve commented on #1986
Tested in Harvester `v1.1.0-rc1` and Rancher `v2.6.9-rc2` with the appropriate remote ui-index for the 2.6.9 branch and external on Harvester.

## Verification Steps
1. Import Harvester into Rancher
2. Create cluster member user
3. Add user to be a cluster member in Harvester via RBAC
4. Log out and log back in as cluster member
5. Navigate to Harvester dashboard via virtualization management
6. N

[2022-09-28 23:33] noahgildersleeve commented on #2816
Tested in Harvester `v1.1.0-rc1` and Rancher `v2.6.9-rc2` with remote ui-dashboard-index. I tested with an admin user and a cluster mmember. It looks good.
![Screenshot_20220928_163219](https://user-images.githubusercontent.com/83787952/192906403-e5b3215e-896b-409d-ba33-e33b920dad9a.png)
![Screenshot_20220928_163201](https://user-images.githubusercontent.com/83787952/192906407-e6df6899-919d-4003-8

[2022-09-28 23:33] #2816 closed, assigned to DaiYuzeng, noahgildersleeve

[2022-09-29 01:10] #2843 closed, assigned to mantis-toboggan-md

[2022-09-29 01:38] Vicente-Cheng commented on #2832
Another reproduce method:
https://github.com/harvester/node-disk-manager/pull/42#issuecomment-1261129222

[2022-09-29 02:44] futuretea commented on #2147
Delete the used storageClass will not break existing vms and volumes

I will check the longhorn code and docs

[2022-09-29 02:59] guangbochen commented on #2317
Due to timeline constraints, we have tentatively moved the vmAntiAffinity UI future to v1.1.2, thanks.

[2022-09-29 03:01] FrankYang0529 commented on #2650
Hi @noahgildersleeve, do you have support-bundle? I try to do case 3 again and `cattle-system/cattle-cluster-agent` deployment is removed from my cluster. Also, the `configured` status of `cluster-registration-url` setting is changed to `False`.

[2022-09-29 03:42] irishgordo commented on #2274
@ibrokethecloud
I noticed that the images fail to be acquired when crafting the vm_import yaml:
[code]

It fires - on the vm-import pod I see:
[code]
Correlating to:
![Screenshot from 2022-09-28 20-38-19](https://user-images.githubusercontent.com/5370752/192933565-a0536691-d883-4611-a563-40c5e6946e6c.png)

I'm attaching the support bundle here:
[supportbundle_dc8579c0-217b-4129-b07a-d6b879e0c9b8_2

[2022-09-29 04:08] guangbochen commented on #2787
For the v1.1.0 release, we may consider providing the manual workaround solution here if users encounter it, further investigation and solution can be done via the v1.1.1 release, thanks.

[2022-09-29 04:14] guangbochen opened #2845 "[FEATURE] Allow users to enable/disable vm-import on demand"
**Is your feature request related to a problem? Please describe.**
Should allow users to enable/disable vm-import and pci-device on demand

**Describe the solution you'd like**
- Allow users to enable/disable vm-import and pci-devices feature on demand
- Support configuring exposed parameters only via the UI.

**Describe alternatives you've considered**
N/A
**Additional context**

[2022-09-29 04:15] bk201 opened #2846 "[FEATURE] Dedicated storage network configuration guide"
**Is your feature request related to a problem? Please describe.**

We'll have a dedicated storage network feature in v1.1.0, before https://github.com/harvester/harvester/pull/2706 is done, we need a guide to tell users how to enable it.

**Describe the solution you'd like**

Create a guide in the Harvester doc.

**Describe alternatives you've considered**

**Additional context**

Related issue:

[2022-09-29 04:41] n313893254 commented on #1986
@noahgildersleeve Thanks for your testing. Sorry for the reproduced steps are not detailed. And there have a backend issue [2788](https://github.com/harvester/harvester/issues/2788) that makes harvester-public very confused.

Here are my reproduce steps:

1. Import Harvester into Rancher
2. Create cluster member user
3. Add a user to be a cluster member in Harvester via RBAC
4. Log out and log bac

[2022-09-29 05:18] ibrokethecloud commented on #2274
@irishgordo the issue is the chart name has changed as part of the subchart packaging with harvester.

Are you please able to update the deployment for `harvester-harvester-vm-import-controller` to have an env variable

[code]

I will change the chart to handle this as the chart packaging is going to change in rc2.

[2022-09-29 06:31] DaiYuzeng commented on #2806
Test steps:

1. Go to host list
2. Console button should be disabled
3. Go to edit host page
4. Input console url
5. Go to host list
6. Console button should be abled

[2022-09-29 06:42] bk201 opened #2847 "[BUG] Bump embedded Rancher to v2.6.9"
**Describe the bug**

We need to bump the embedded Rancher to v2.6.9.

Known issues:
- [ ] ~~(v2.6.9-rc2) https://github.com/rancher/rancher/issues/39167~~ Tacked in https://github.com/harvester/harvester/issues/2872

[2022-09-29 06:46] lanfon72 commented on #2822
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/192958600-801c0ac1-2a29-4c57-8200-976e6c89acfd.png)

Test Information
----
* Environment: **bare metal DL360G9 4 nodes**
* Harvester Version: **master-7dd398f0-head**
* **ui-source** Option: **Auto**

### Verify Steps:
- Follow **Steps to reproduce** in https://github.com/harvester/harvester/issues/2822#i

[2022-09-29 06:46] #2822 closed, assigned to lanfon72, n313893254

[2022-09-29 07:12] lanfon72 commented on #2818
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/192963749-ebb32897-565f-405d-a3f2-c1d86e8c47b9.png)

Test Information
----
* Environment: **baremetal DL360G9 4 nodes**
* Harvester Version: **master-7dd398f0-head**
* **ui-source** Option: **External** and **Bundled**
* **Rancher** Version: **v2.6.9-rc2**
* **Rancher** _ui-offline-preferred_: **Dynamic**

[2022-09-29 07:12] #2818 closed, assigned to lanfon72, WuJun2016

[2022-09-29 07:14] FrankYang0529 commented on #2665
This issue can be fixed https://github.com/harvester/harvester-installer/pull/344 and https://github.com/rancher/rancherd/pull/25. Following are my test steps with [vagrant-pxe-harvester](https://github.com/harvester/ipxe-examples).

Case 1: Remove the second node
1. Setup a 3-node cluster (harvester-node-0, harvester-node-1, harvester-node-2).
2. After all 3-node cluster is installed, please run

[2022-09-29 07:16] bk201 commented on #2665
Thanks to @FrankYang0529 for the verification!

[2022-09-29 08:09] w13915984028 commented on #2665
@FrankYang0529  Great!

Please help check if #2470 is also caused by this bug, thanks.

[2022-09-29 08:33] lanfon72 commented on #2654
Verified this feature has been implemented.

https://user-images.githubusercontent.com/5169694/192982019-616e6e23-281a-4e93-a018-f6fc3ed5840e.mp4

Test Information
----
* Environment: **baremetal DL360G9 4 nodes** and **qemu/KVM 2 nodes**
* Harvester Version: **master-7dd398f0-head** and **v1.0.3**
* **ui-source** Option: **External** and **Bundled**
* **Rancher** Version: **v2.6.9-rc2**
* **Ranch

[2022-09-29 08:33] #2654 closed, assigned to lanfon72, WuJun2016

[2022-09-29 10:08] w13915984028 opened #2850 "[FEATURE] add Harvester alerts"
**Is your feature request related to a problem? Please describe.**

After feature `alertmanager` is added into Harvester https://github.com/harvester/harvester/issues/2517, it is the turn for `harvester`, `node-disk-manager`, `network-controller` etc. to add related alert rules, thus `Harvester` will have well defined rules to monitor the running metrics of `Harvester` itself.

**Describe the solu

[2022-09-29 11:48] lanfon72 commented on #2806
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/193023236-e1366c5a-79d0-48c4-8b68-28bb4839029d.png)
![image](https://user-images.githubusercontent.com/5169694/193023259-03936e3b-f77c-45c5-b36e-70750a6f930d.png)

Test Information
----
* Environment: **baremetal DL360G9 4 nodes**
* Harvester Version: **master-7dd398f0-head**
* **ui-source** Option: **Aut

[2022-09-29 11:48] #2806 closed, assigned to lanfon72, DaiYuzeng

[2022-09-29 14:30] #2804 closed, assigned to nobody

[2022-09-29 16:08] noahgildersleeve commented on #2650
@FrankYang0529 I'll repro case 3 and then upload the support bundle.

[2022-09-29 16:48] noahgildersleeve commented on #992
The dashboard PR was changed to this one https://github.com/harvester/dashboard/pull/432

[2022-09-29 19:57] irishgordo commented on #2147
@futuretea
**Question: Should we be able to add disk tags during the creation of the disk that we're adding?**
![Screenshot from 2022-09-29 12-55-51](https://user-images.githubusercontent.com/5370752/193129514-6571941a-275e-43e4-b128-6053af766f95.png)

[2022-09-29 20:15] irishgordo commented on #2147
@futuretea
When trying to add `disk tags` in a multi-node cluster I'm noticing errors like these pop up:

[supportbundle_692d2476-344f-4d29-a361-320d74128d13_2022-09-29T20-06-36Z.zip](https://github.com/harvester/harvester/files/9678772/supportbundle_692d2476-344f-4d29-a361-320d74128d13_2022-09-29T20-06-36Z.zip)
![Screenshot from 2022-09-29 13-05-34](https://user-images.githubusercontent.com/53707

[2022-09-29 21:46] irishgordo commented on #2147
@futuretea
**Question: Should we "clear" out the "Disk Tags" section when you click away from the form element?**

You click off and click back into the form element and the disk tag still persists vs clearing when you click off.

https://user-images.githubusercontent.com/5370752/193147946-ce9f54c4-3be9-45f9-9d12-726c9a6cde8f.mp4

[2022-09-29 22:30] irishgordo opened #2854 "[BUG] Virt-Launcher Pods Hung in "ContainerCreating" State While Spinning Multiple Instances On Custom StorageClass"
**Describe the bug**
On a custom StorageClass, launching a "Multi Instance" collection of VMs launched from VM Template - get hung in "ContainerCreating" state and never provision, 30+ min waiting for state to change, doesn't happen.  Discovered while testing: https://github.com/harvester/harvester/issues/2147

**To Reproduce**
Steps to reproduce the behavior:
1. Build a 3 Node Harvester Cluster
1

[2022-09-29 22:31] irishgordo commented on #2147
@futuretea
I'm noticing an issue with VMs creating.
Submitted this: https://github.com/harvester/harvester/issues/2854

[2022-09-29 22:52] irishgordo commented on #2854
I'm able to consistently reproduce this so I will be changing this from `reproduce/often` to `reproduce/always`

https://user-images.githubusercontent.com/5370752/193156031-22ab5f89-0520-4cc9-9e19-956eb7cd9c87.mp4

I only recorded the video for a small amount of time, but they follow the same pattern of hanging in their state indefinitely

[2022-09-29 23:46] irishgordo commented on #2274
@ibrokethecloud  thanks for mentioning that change :smile:
I went ahead added that as an environment variable (via `kubectl --kubeconfig local_laptop_vm.yaml edit deployment harvester-harvester-vm-import-controller -n harvester-system`) on the deployment.
Still just using v1.1.0-rc1
I watched it restart the deployment, scale down and then back up.

But it seems that it just has an error trying to

[2022-09-30 01:50] DaiYuzeng commented on #2750
UI PR has been merged.
The current design:

#### if there is missing crd
![image](https://user-images.githubusercontent.com/15041915/193172854-65c26408-47c8-47e3-9716-ac1b26668d95.png)

I am going to be unassigned, if you have any concerns, just let me know.
@w13915984028 @guangbochen

[2022-09-30 01:57] ibrokethecloud commented on #2274
Hi @irishgordo i suspect you need to delete and re-created the VirtualMachineImport object.

In the current rc, the vm-import-controller is using ephermeral storage.

With the move to addons soon we should be able to customize behavior and leverage pvc claims.

[2022-09-30 02:16] noahgildersleeve commented on #2650
Support Bundle:
[supportbundle_f38f7cce-19a6-4965-802b-b03e84ba1e6c_2022-09-30T02-01-15Z.zip](https://github.com/harvester/harvester/files/9680118/supportbundle_f38f7cce-19a6-4965-802b-b03e84ba1e6c_2022-09-30T02-01-15Z.zip)

This was taken right after doing the Rancher stuff.

[2022-09-30 02:17] FrankYang0529 commented on #2470
This issue can be fixed https://github.com/harvester/harvester-installer/pull/344 and https://github.com/rancher/rancherd/pull/25. Following are my test steps with [vagrant-pxe-harvester](https://github.com/harvester/ipxe-examples).

1. Setup a 4-node cluster (harvester-node-0, harvester-node-1, harvester-node-2, harvester-node-3).
2. After all 4-node cluster is installed, remove harvester-node-3

[2022-09-30 02:21] irishgordo commented on #2274
Hey @ibrokethecloud - thats a great call out :smile: - I did manage to do that a few times and also changed the name as well when re-creating but was running into the similar issue.

![Screenshot from 2022-09-29 19-21-10](https://user-images.githubusercontent.com/5370752/193176330-6d4ba3df-7649-45a2-b4b0-6bc7de5e3a8e.png)
[supportbundle_dc8579c0-217b-4129-b07a-d6b879e0c9b8_2022-09-30T02-17-34Z.zip

[2022-09-30 02:36] irishgordo commented on #2854
It looks as if all of their pvc's that were created successfully but are detached seem to have a "replica scheduling failed" error
![Screenshot from 2022-09-29 19-34-53](https://user-images.githubusercontent.com/5370752/193177938-5fef105c-98c4-40ed-aa4c-5093420729d0.png)

[2022-09-30 02:41] futuretea commented on #2854
refer to https://longhorn.io/docs/1.3.1/volumes-and-nodes/storage-tags/#usage

When multiple tags are specified for a volume, the disk and the node (the disk belong to) must have all the specified tags to become usable.

[2022-09-30 03:29] DaiYuzeng commented on #1695
According to https://github.com/longhorn/longhorn/issues/3529#issuecomment-1120670106
I did two tests:

1. Create a volume exceeded maximum storage.
2. Create a volume and then resizie it to exceed maximum storage.

#### situation of test 1
There is no related pv and longhorn volume

#### situation of test 2
There are related pv and longhorn volume, but there is no error message at the annotation

[2022-09-30 03:45] guangbochen commented on #1695
Tentatively move this to v1.1.1 for now and need to wait for the upstream fix from the LH team, thanks.

[2022-09-30 05:29] bk201 commented on #2191
Note we also need to handle systems upgraded from previous versions.
[The Rancherd change ](https://github.com/rancher/rancherd/pull/25)doesn't take effect in those systems.

[2022-09-30 07:04] DaiYuzeng opened #2855 "[BUG]Integrate clone volume dialog"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Volume list
2. Click menu action
3. You'll see both of `Clone Volume` and `Clone`
![image (3).png](https://images.zenhubusercontent.com/60370508fd3d02bfb6c4ba36/e69faf13-3176-47b9-a55e-51237c0aebae)

**Expected behavior**

It's expected to integrate that two action like below.
![image.png](https://images.zenhubuserco

[2022-09-30 07:20] TachunLin commented on #2753
Verified **fixed** on `master-7783939e-head` (09/30) with Rancher `v2.6.9-rc3`. Close this issue.

### Result
1. When we change the cloud provider and csi-driver chart version in Rancher `rke-metadata-config` setting,
Then we select the incompatibility RKE2 version, the Harvester cloud provider is `disabled` and there will be a warning banner
![image](https://user-images.githubusercontent.com/2925

[2022-09-30 07:20] #2753 closed, assigned to masteryyh, n313893254, TachunLin

[2022-09-30 08:22] FrankYang0529 commented on #2650
@noahgildersleeve, thanks for the testing. I also can reproduce case 3 with v1.1.0-rc1 in a 4-node cluster. It looks like rancher will try to redeploy `cattle-system/cluster-system-agent` if we don't remove the harvester registration from rancher.

https://github.com/rancher/rancher/blob/3952135b27088744efde1e0d52b97063dc72d950/pkg/controllers/management/clusterdeploy/clusterdeploy.go#L222-L229

c

[2022-09-30 08:35] WuJun2016 commented on #2500
Hi, @mantis-toboggan-md , do you have time to look at this question?

[2022-09-30 09:12] guangbochen commented on #2650
Yes, adding a proper messages when unset the registration url would be useful, so users will also know they need to delete the cluster from the upstream Rancher. cc @WuJun2016, thanks.

[2022-09-30 09:17] bk201 commented on #2741
We can test this when other upgrade works are done.

[2022-09-30 09:18] FrankYang0529 commented on #2650
@noahgildersleeve, I updated case 3 in https://github.com/harvester/tests/issues/465. In my cluster, the `cattle-system/cattle-cluster-agent` deployment will not be deployed again. May you help to test again? Thank you.

[2022-09-30 14:16] lanfon72 commented on #2827
Document and HEP need to be updated accordingly.

[2022-09-30 15:49] mantis-toboggan-md commented on #2500
I'll look today.

[2022-09-30 15:50] bk201 opened #2856 "[FEATURE] Display detailed info in volumes page"
**Is your feature request related to a problem? Please describe.**

Users need to access Longhorn GUI to see volumes' state.

**Describe the solution you'd like**

It would be nice to expose volumes' state in Harvester GUI.

We can't tell if a volume is degraded in Harvester GUI:
<img width="713" alt="Screen Shot 2022-09-30 at 11 34 47 PM" src="https://user-images.githubusercontent.com/1691518/193

[2022-09-30 16:33] lanfon72 commented on #2827
Verified this feature has been implemented.

![image](https://user-images.githubusercontent.com/5169694/193305898-48255477-1d19-48af-b132-3c019bd3f58b.png)
![image](https://user-images.githubusercontent.com/5169694/193314630-7add9b5a-2d9e-49cb-8d3a-1075531145e8.png)

Test Information
----
* Environment: **Baremetal DL360G9 4 nodes**
* Harvester Version: **master-4c79967e-head**
* **ui-source** Opt

[2022-09-30 16:33] #2827 closed, assigned to chrisho, lanfon72

[2022-09-30 18:20] nerok opened #2857 "[BUG] Terraform created networks with DHCP fails on apply after DHCP-network is registered in terraform"
**Describe the bug**
I created multiple networks with the harvester_network resource, some with static addressing and some with dynamic addressing(DHCP). On initial creation all worked, they all use the same module. After some minutes the networks which has a DHCP-server began to fail on terraform apply with a message saying that route_mode "auto" can't be used when route_cidr is defined. When che

[2022-09-30 18:20] irishgordo commented on #2854
@futuretea thanks for that link!

So just to validate:
[code]

"Node Selector" in the Parameters is would look to find a Node that had the tags of: "top" && "bottom" && "middle" - to evaluate to be Truthy
It's behavior _would not_ be to look for a Node that had:
"top" || "bottom" || "middle"

I think this is making more sense now.
I apologize as I didn't know that was the behavior of Longhorn :swe

[2022-09-30 18:20] #2854 closed, assigned to nobody

[2022-09-30 18:25] irishgordo commented on #2147
Closed out 2854 - as that was a configuration issue on my end, apologies there :sweat_smile:

[2022-09-30 18:30] irishgordo commented on #2147
@futuretea
**Question: Should we be allowed to have "multiple" StorageClasses set as Default?**
![Screenshot from 2022-09-30 11-24-49](https://user-images.githubusercontent.com/5370752/193333657-079a8f19-92ae-412d-9541-e472ca2e3358.png)

#### To Reproduce:
- navigate to Storage Classes
- click on Storage Class that isn't default, then select "Set as Default"

You'll find if you have N number of St

[2022-10-01 00:10] irishgordo commented on #2274
@ibrokethecloud - after a bit more adjustments and some edits things started to click a bit more :smile:

I've been able to get instances from DC and even my local instance of OpenStack (which is zippy) pulling into Harvester via creating yaml files.

As you mentioned:
https://github.com/harvester/harvester/issues/2274#issuecomment-1261763549

Upon digging into it, that actually needs to read:
[co

[2022-10-02 22:55] joelmacklow opened #2858 "[BUG] Container VM Fails to Create"
**Describe the bug**
When creating a VM wiht the Volume type of Container and choosing a docker hub image (e.g. caddy) the VM creation process starts but fails with the following error:
`Failed to find a sourceFile in containerDisk disk-1: Failed to check /proc/1/root/run/k3s/containerd/io.containerd.runtime.v2.task/k8s.io/6c772a1b10b8843aee4591f3026a721d1251a166142f4f71f34c96dd201aa696/rootfs/dis

[2022-10-03 03:31] bk201 opened #2860 "[BUG] new node can't join the cluster if time is not synced"
**Describe the bug**

A new node can't join an existing cluster if its time is not in sync.

**To Reproduce**
Steps to reproduce the behavior:
1. Prepare a new node.
2. Configure bios date and time in the future and install harvester with timesync against NTP.
3. The node can't join, rke2 log:
[code]

**Expected behavior**

The node can join.

**Support bundle**

**Environment**
 - Harvester ISO v

[2022-10-03 06:27] TachunLin commented on #2817
Verified **fixed** on `master-6dc3fc77-head` (09/30). Close this issue.

### Result
- [x] The `logging` or the `Event` type of `Flow` can only select `Logging` or `Event` type of  `Output`
  ![image](https://user-images.githubusercontent.com/29251855/193512689-d56ddf11-0db8-4a10-ba9f-0425fb22710d.png)
  ![image](https://user-images.githubusercontent.com/29251855/193512719-4056e234-7e0a-49e4-9503-7

[2022-10-03 06:27] #2817 closed, assigned to DaiYuzeng, TachunLin

[2022-10-03 07:15] TachunLin opened #2861 "[BUG] Unable to create vlan network on default `mgmt` cluster network on Networks page"
**Describe the bug**

When we try to create the `vlan1` network with vlan id: `1` on Networks page, can't select the default `mgmt` cluster network
The option is grayed out.
![image](https://user-images.githubusercontent.com/29251855/193517830-306fb81d-bd08-4f7e-ac2d-d8d72b5943c7.png)

Thus can't proceed to create vlan
![image](https://user-images.githubusercontent.com/29251855/193520340-e2532ccb-

[2022-10-03 07:21] bk201 commented on #2861
I guess this is intentional to avoid the failing route issue. @yaocw2020 @tjjh89017 Could you take a look?

[2022-10-03 08:14] TachunLin opened #2862 "[BUG] The VLAN id we specified during ISO installer console can't display on Harvester Networks page"
**Describe the bug**

* When we provide VLAN ID: `1` during ISO installer console, after installation we can't find the corresponding VLAN network with id `1` on the Networks page
![image](https://user-images.githubusercontent.com/29251855/193524551-847ef55b-6a97-4ddc-a278-f4c2e894a9d4.png)
![image](https://user-images.githubusercontent.com/29251855/193521962-2d4c773d-f8de-4a60-976e-e1953cbdf4d8.p

[2022-10-03 08:31] lanfon72 commented on #2862
I think the `vlan_id` settled in install configuration is targeting on node's VLAN, not for the cluster, so the dashboard will not display install configured vlan should be expected.

ref #1390

[2022-10-03 11:10] lanfon72 commented on #2518
Verified this feature has been implemented.

![image](https://user-images.githubusercontent.com/5169694/193554680-c2d6f7c0-5cf0-44ee-803e-c7abda408774.png)
![image](https://user-images.githubusercontent.com/5169694/193554761-1f28c3b9-8964-4bfa-8069-d5bcc7d8d837.png)

Test Information
----
* Environment: **qemu/KVM 2 nodes**
* Harvester Version: **master-0d929ef2-head**
* **ui-source** Option: **Au

[2022-10-03 11:10] #2518 closed, assigned to lanfon72, w13915984028

[2022-10-03 11:38] TachunLin commented on #2431
Verified on the latest v1.1.0 master with and without release tag.

### Result
Verified can PASS the following scenarios

#### Test Plan 1: v1.0.2 upgrade to v1.1.0 **with** release tag
* Upgrade from v1.0.2 upgrade to v1.1.0 with release tag `failed` on upgrade dashboard UI
  ![image](https://user-images.githubusercontent.com/29251855/193567678-7653aa7b-b93a-4cf2-98a8-37e4fcfd06f6.png)

* The upg

[2022-10-03 14:28] bk201 commented on #2431
@TachunLin Note the check takes effect until the next release (e.g., upgrade from v1.1.0 to another version).
For v1.0.3, the best we can do so far is to fail the preload job.

[2022-10-03 20:06] irishgordo opened #2863 "[BUG] Multiple StorageClass can Be Set as "default""
**Describe the bug**
Within Advanced -> Storage Classes - Storage Classes Index, you can set all storage classes as "default".
Also within:
[code]
You can see that each Storage Class set as default has the: `metadata.annotations.storageclass.beta.kubernetes.io/is-default-class: "true"` & `metadata.annotations.storageclass.kubernetes.io/is-default-class: "true"` per: `https://your_harvester_vip_ip/

[2022-10-03 20:07] irishgordo commented on #2147
Created this issue to track that: https://github.com/harvester/harvester/issues/2863

[2022-10-03 21:10] irishgordo commented on #2274
I wasn't able to consistently reproduce this but I also noticed that cleaning up the dangling Volumes from the attempt of:

It took a node restart to clean them up, it was strangely returning a `422` back:
![Screenshot from 2022-10-03 13-52-51](https://user-images.githubusercontent.com/5370752/193682681-2d3b54a0-4926-47e9-8340-5a300094529f.png)
![Screenshot from 2022-10-03 13-28-34](https://user-i

[2022-10-03 21:36] irishgordo commented on #2147
@futuretea

I've validated that on v1.1.0-rc1 today:

1. PASS
2. PASS
3. PASS
4. PASS
5. PASS
6. PASS
7. PASS
8. PASS
9. PASS
10. PASS
11. PASS
12. PASS
13. PASS
14. PASS
15. PASS
16. PASS
17. PASS
18. PASS
19. PASS
20. PASS

Since the validations pass, I can close this out - since we have #2863 covering the issue still present - should I go ahead and do that?

[2022-10-04 00:00] irishgordo commented on #2274
@ibrokethecloud
I had additional questions I wanted to ask, too.

**1. Question: Should we forbid `VirtualMachineImport`'s from creating if there isn't the `destinationNetwork` present within Harvester?**

As in:
[code]
Whereas `spec.networkMapping[0].destinationNetwork` doesn't exist within the Harvester cluster.
As the Volumes & Images will be built for N number of drives in OpenStack.  The VM h

[2022-10-04 00:45] irishgordo opened #2864 "[BUG] First Volume (disk-0) on VirtualMachineImport Resource Goes Missing - Doesnt Allow For VM To Be Modified After Import"
**Describe the bug**
The first volume associated with the `VirtualMachineImport` of an OpenStack resource, goes missing from GUI.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a `VirtualMachineImport` for a device that has one or two volumes.
1. Import the VM (either openstack or vsphere).
1. View the VM starting up and running - head to the Volumes section of the VM, notice that th

[2022-10-04 00:46] irishgordo commented on #2274
@ibrokethecloud  - I did also open this up, I'm not sure if it's entirely related to how I was building OpenStack resources for VM Imports:
https://github.com/harvester/harvester/issues/2864

[2022-10-04 01:33] bk201 commented on #2833
Note, so far, we can't find a way to detect free space in root fs. We can see if this can be done.

[2022-10-04 02:37] bk201 opened #2865 "[BUG] Upgrade: kube-apiserver is not ready after node reboots"
**Describe the bug**

RKE2 keeps displaying the log after a node is upgraded and rebooted.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade Harvester from v1.0.3 to master code.
2. Once a controller node reboots, we can see these messages in its rke2-server log.
https://gist.githubusercontent.com/bk201/ea92100fb4c6d168ca8503f3c8cc0593/raw/3b2a87fe3acbf8a90a0497eb56f550ce88f7cc

[2022-10-04 03:34] ibrokethecloud commented on #2274
@irishgordo thanks for giving it a thorough run.. I will try and answer all questions..

https://github.com/harvester/harvester/issues/2274#issuecomment-1264146111

I will add checks to ensure we convert, the VM name is made rfc 1123 compliant.

I am not sure if i want to check for over-committed storage allocation, as ideally the cluster operator would need to ensure that enough storage is availa

[2022-10-04 03:37] ibrokethecloud commented on #2274
@irishgordo with regards to: https://github.com/harvester/harvester/issues/2274#issuecomment-1266052747

There is a check which will clean up object ownership once the VM is in a `Running` state. Deleting the VirtualMachineImport object before the VM is running should automatically trigger the cleanup. This includes import failure scenarios too.

[2022-10-04 03:39] ibrokethecloud commented on #2274
@irishgordo for https://github.com/harvester/harvester/issues/2274#issuecomment-1266220335

If the source to destination is invalid due to any reason, not limited to incorrect network definitions, or network not present, then the interface will by default be mapped to the Management Network.

[2022-10-04 03:40] ibrokethecloud commented on #2274
@irishgordo for https://github.com/harvester/harvester/issues/2274#issuecomment-1266220335, I need to check the api response for the VM's. I suspect this is happening because openstack is creating two interfaces one for internal network and one for public consumption. But I cant be sure until i see the api response.

[2022-10-04 04:05] #2431 closed, assigned to starbops, TachunLin

[2022-10-04 05:15] bk201 opened #2867 "[BUG] Upgrade: fail to start repo VM in single node case"
**Describe the bug**

In the single node upgrade case, there is a chance upgrade-repo VM can't start due to API not being ready.

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade v1.0.3 to master ISO.
2. In the upgrade-node job, we can see this failure:
[code]
3. The VM can be started with the `virtctl` command after a while.

**Expected behavior**

The upgrade repo VM should start to

[2022-10-04 05:31] bk201 commented on #2147
@irishgordo Yes, let's track the multiple default SC issues in #2863. Thanks!

[2022-10-04 09:39] lanfon72 commented on #2498
Verified this bug has been resolved.

![image](https://user-images.githubusercontent.com/5169694/193786213-867ad467-a301-4451-b803-83a5534c5ea9.png)

Test Information
----
* Environment: **bare metals DL360G9 4 nodes**
* Harvester Version: **master-6e8e21b2-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with any nodes
2. Create an image for VM creation
3. Create a

[2022-10-04 09:39] #2498 closed, assigned to lanfon72, DaiYuzeng

[2022-10-04 09:54] lanfon72 opened #2869 "[FEATURE] enhance double check of VM's resource modification"
### The problem
The prompted's `Save` button will be clicked silently when Press `ESC` or areas out of Prompt message, modification will be updated, but the UI won't.

### The solution
Add a Cancel option, and other behaviors (excepts click `Save` or `Save & Restart`) should execute cancel option.

### The Alternatives
Suppress Keyboard inputs and freeze view.

### Additional Context

https://user

[2022-10-04 11:57] TachunLin commented on #2176
Verifying **fixed** on `master-6e8e21b2-head` (10/04).

### Result
### Scenario 1
- [x] Update the Harvester containerd-registry setting with private registry, confirm **can** pull image and **deploy** nginx service correctly from private registry

  ![image](https://user-images.githubusercontent.com/29251855/193785720-970d9f18-76c6-4818-ae6a-e6239baf8ebe.png)
  ![image](https://user-images.github

[2022-10-04 14:20] #2785 closed, assigned to bk201

[2022-10-04 14:29] bk201 opened #2872 "[EPIC] v1.1.0 upgrade issues"
The epic issue to summarize all upgrade issues:

## Investigating

- https://github.com/harvester/harvester/issues/2984 (as Known issue and move to v1.1.1)

## Merged

- [x] https://github.com/harvester/harvester/issues/2931 (minor)
- [x] https://github.com/harvester/harvester/issues/2907 (workaround)
- [x] https://github.com/harvester/harvester/issues/2920
- [x] https://github.com/harvester/harve

[2022-10-04 14:32] bk201 commented on #2847
Alone with https://github.com/harvester/harvester/issues/2785, the test plan is to verify versions of master ISO:
- Rancher: v2.6.9-rc3
- RKE2: v1.24.6+rke2r1

[2022-10-04 17:26] irishgordo commented on #2832
@Vicente-Cheng @futuretea @bk201
Thanks for your work on this!

I validated on: `master-75876dee-head` ISO w/ qemu/kvm
This all looks good!

I removed the `node-disk-manager` pod several times and also ran through a series of restarts of the node to make sure the labels were still present on the disks.  Both in Harvester UI & Longhorn UI.

![Screenshot from 2022-10-04 10-21-26](https://user-images

[2022-10-04 17:26] #2832 closed, assigned to Vicente-Cheng, irishgordo, futuretea

[2022-10-04 17:29] irishgordo commented on #2147
Sounds good @bk201 !
Thanks @futuretea and everyone for your work on this!
This looks great!
And I'll go ahead and close this out :smile: !

[2022-10-04 17:29] #2147 closed, assigned to irishgordo, futuretea, n313893254

[2022-10-04 20:20] noahgildersleeve commented on #2847
Tested in `master-75876dee-head`.

## Verification steps

1. Deploy Harvester node from master
2. SSH into node
3. get versions of RKE and embedded rancher from `kubectl`

### Expected Results

Versions match
- Rancher: v2.6.9-rc3
- RKE2: v1.24.6+rke2r1

![Greenshot 2022-10-04 13 17 51](https://user-images.githubusercontent.com/83787952/193918487-b2a70b3c-aa61-4526-92d6-e22ad62a5bb5.png)
![Greensh

[2022-10-04 20:20] #2847 closed, assigned to FrankYang0529, noahgildersleeve

[2022-10-05 06:51] TachunLin opened #2873 "[BUG] Set Harvester containerd-registry to use default value also cleanup previous status setting"
**Describe the bug**

* When we already have setup valid setting in Harvester `containerd-registry`, after clicking the `Use default value` and save.
![image](https://user-images.githubusercontent.com/29251855/193978425-28a00ea6-ce63-4c74-b720-6b66d94cd84c.png)

* We found the `status` field of the containerd registry setting also been cleanup to empty in K9s
![image](https://user-images.githubuse

[2022-10-05 06:59] TachunLin commented on #2176
There is an issue need to further check while we are verifying test plan 2:

1. When we already have setup valid setting in Harvester `containerd-registry`, after clicking the `Use default value` and save.
2. We found the `status` field of the containerd registry setting also been cleanup to empty in K9s
3. Which would cause no new `apply-sync-containerd` jobs trigger to update the containerd sett

[2022-10-05 07:02] #2176 closed, assigned to FrankYang0529, TachunLin

[2022-10-05 07:39] TachunLin opened #2874 "[BUG] Can't edit the existing Harvester containerd registry setting, it display empty content"
**Describe the bug**

When we already add values to containerd registry setting.

* Then we click the edit settings button, we can't get the previous settings content to change
![image](https://user-images.githubusercontent.com/29251855/194003823-876fd874-b00b-4155-ac89-bc33b46d0a02.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to settings
2. Add valid setting values (Mirror, confi

[2022-10-05 08:18] RegisWeduLabs opened #2875 "[Question] - Deleting First Node"
Hi,

I see a few issues where people are trying to re-install the 1st node and there seems to be a few issues with the process currently.

My question is - is there a specific process if I want to remove the 1st node without reinstalling it?  Will I run into any issues?

Thanks!

[2022-10-05 08:35] dgiebert opened #2876 "[FEATURE] Add the possibility to create a cloud-init configmap to the terraform provider"
**Is your feature request related to a problem? Please describe.**
When creating a large cloud-init the following error is given: `Should use UserDataSecretRef for larger data.`

**Describe the solution you'd like**
Add a new resource to create the needed configmap. This resource is already present in the UI (Cloud Config Template)

[2022-10-05 09:45] bk201 opened #2877 "[ENHANCEMENT] Upgrade path: tool to do semantic version comparison"
**Is your feature request related to a problem? Please describe.**

In the upgrade path, we need to compare semantic versions in many places.
Neither the bash `<` operator nor `sort` command performs well.

**Describe the solution you'd like**

We need a handy tool to be called in the upgrade scripts.

**Describe alternatives you've considered**

Build our tool, leverage library like https://githu

[2022-10-05 10:29] lanfon72 commented on #2867
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/194038219-d50e0be0-043b-4496-999e-5835e00652c6.png)

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **v1.0.3** to **master-797245b6-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester `v1.0.3` with single node
2. Perform Upgrade to master-hea

[2022-10-05 10:29] #2867 closed, assigned to starbops, lanfon72

[2022-10-05 11:10] TachunLin commented on #2841
Verified **fixed** on `master-797245b6-head` (10/5). Close this issue.

### Result
Verified **PASS** the following scenarios:

- [x] 1. Can create a new custom cluster network

  ![image](https://user-images.githubusercontent.com/29251855/194043069-20737f1b-bad7-4d55-9528-7f40f3e9e828.png)

- [x] 2. Can create network config based on available NICs ( for non `mgmt-bo`)

  ![image](https://user-ima

[2022-10-05 11:11] #2841 closed, assigned to yaocw2020, n313893254, TachunLin

[2022-10-05 12:33] lanfon72 commented on #2741
Tested:
- [x] single node cluster upgrade

[2022-10-05 19:27] irishgordo opened #2879 "[BUG] "Power Off virtual machine" task errors in vSphere on "VirtualMachineImport" resource creation with vm-import-controller"
**Describe the bug**
Case: in vSphere there is a non-zero chance that an individual/group/org could have alerts of some kind set up on failed operations for "Tasks"...possibly.

In the "vm-import-controller" that's partially relying on the set of enum types from the `vmware/govmomi/vim25/types` (vmware go library) - there are the sets of:
https://github.com/vmware/govmomi/blob/master/vim25/types/e

[2022-10-05 19:31] irishgordo commented on #2274
@ibrokethecloud  thanks for responding to all of those questions :smile: !

Working through this with vSphere initally I have noticed some operation failures in Tasks and opened this issue:
https://github.com/harvester/harvester/issues/2879

[2022-10-05 22:37] irishgordo opened #2880 "[BUG] vSphere Multi VM Import, vSphere Task Shows "Export OVF template, Status: Operation timed out.""
**Describe the bug**
Importing either a single or multiple via `kubectl create` on `VirtualMachineImport` resources create "Timed Out" task result on:
[code]
Yet, in Harvester, they succeed - but vSphere shows that export as timed-out as a side-effect.
![Screenshot from 2022-10-05 15-12-21](https://user-images.githubusercontent.com/5370752/194175950-1666ed8b-cc24-4a2f-ae31-9cadaf136be5.png)

**To

[2022-10-05 22:37] irishgordo commented on #2880
Relates to: https://github.com/harvester/harvester/issues/2879

[2022-10-05 22:38] irishgordo commented on #2274
Also working through more vSphere testing noticing this issue as well:
https://github.com/harvester/harvester/issues/2880

[2022-10-05 22:50] irishgordo opened #2881 "[BUG] vSphere VirtualMachineImport Logs "error removing ownerReference for vmi image-UUID :admission webhook \"validator.harvesterhci.io\"""
**Describe the bug**
In the logs of the `vm-import-controller` service, after VirtualMachineImport has completed and VM is running logs denoting errors with removing "ownerReference" for vmi image-abcd are present.

**To Reproduce**
Steps to reproduce the behavior:
1. Import `VirtualMachineImport` resources into Harvester from vSphere
1. As VM starts up, notice logs in `vm-import-controller` servi

[2022-10-05 22:51] irishgordo commented on #2274
And this seems to be a smaller issue as I don't think it's really effecting the functionality of the import:
https://github.com/harvester/harvester/issues/2881

[2022-10-05 23:22] noahgildersleeve commented on #1986
I tested this on Harvester tried the following steps and got this error on trying to create a project
![Screenshot_20221005_144607](https://user-images.githubusercontent.com/83787952/194181172-06a2c31d-bdb2-4fd4-8684-6e9e36fe1a93.png)

However the projects were created

![Screenshot_20221005_161903](https://user-images.githubusercontent.com/83787952/194181205-0ad26c8d-03e4-4bcc-8161-c8ad9595befb.p

[2022-10-06 07:41] bk201 commented on #2828
@yaocw2020 Do we need a test plan for this fix? Thanks.

[2022-10-06 08:02] w13915984028 commented on #2750
Test Plan:
[code]
https://github.com/harvester/harvester/pull/2844#issuecomment-1267574827

[code]

cc @joshmeranda @DaiYuzeng @bk201

[2022-10-06 08:35] TachunLin commented on #2762
Verified **fixed** on `master-8f2c9789-head` (10/06). Close this issue.

### Result
1. The `mcc-harvester` bundle no longer have modified status
[code]
2. fleet-agent have no complaining CRD resources are changed
[code]
3. The following diff have added to the harvester managedchart
[code]
### Test Information
* Test Environment: 1 node Harvester local kvm machine
* Harvester version: `master-8f2c9

[2022-10-06 08:35] #2762 closed, assigned to Vicente-Cheng, TachunLin

[2022-10-06 10:31] tjjh89017 commented on #2860
## Workaround

Adjust BIOS time to correct one before installing Harvester first node.

## reproduce step

### Manual install

1. Install harvester in bare-metal server
2. don't boot to harvester
3. enter bios and modify the time to future (I tested shift the time to the next month or next year)
4. boot into harvester
5. journalctl -u rke2-server
6. it will show the log about CA cert problem
7. lo

[2022-10-06 10:36] tjjh89017 commented on #2860
### Possible solution:
We should execute rancherd/rke2-server/rke2-agent service after `systemd-time-wait-sync.service`
and enable `systemd-time-wait-sync.service`

Override systemd service config with `After=<original target/service> systemd-time-wait-sync.service`
and `systemctl enable systemd-time-wait-sync.service`

### Note
Only tested with correct and proper NTP server and NTP settings.
This

[2022-10-06 10:37] TachunLin commented on #2088
Verified **fixed** on `v1.1.0-rc2`. Close this issue.

### Result
After upgrade from v1.0.3 to v1.1.0-rc2,
1. The bundledeployment status did not have `configmap.v1 longhorn-system/longhorn-storageclass missing`
[code]
2. The following diff content have added to managedchart harvester
[code]

### Test Information
* Test Environment: 1 node1 harvester on local kvm machine
* Harvester version: v1.1.

[2022-10-06 10:37] #2088 closed, assigned to Vicente-Cheng, TachunLin

[2022-10-06 17:56] irishgordo commented on #2274
@ibrokethecloud
**1. Question: Should VM Import respect the default StorageClass used? - as in, while importing a VM that VM's disk - images - volumes, they should all be using the default StorageClass selected, correct?**

[2022-10-06 20:56] irishgordo opened #2886 "[BUG] Network Config Creation Issues JSON Unmarshalling"
**Describe the bug**
When you're building a Network Config for your Cluster Network, there is a UI issue with JSON unmarshalling.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Networks
1. Go to Cluster Networks/Config
1. Create Cluster Network
1. On created cluster network, then click Create Network Config
1. Build Network Config, with a network and nic
1. Go back, build another netw

[2022-10-06 20:58] w13915984028 commented on #1983
update @ 2022.10.06:

`Harvester v1.1.0-rc2`  has `fleet v0.4.0-rc3`, which in turn has `helm v3.9.0`, that includes the `context cancel`, and should have fixed the issue.

@bk201 @guangbochen We can move this to `read-for-test`, and keep an eye if this issue is reported again.

[code]

![image](https://user-images.githubusercontent.com/31133476/194416255-d535d924-0447-480f-8ee8-44bd840c3909.png)

[2022-10-06 21:21] irishgordo opened #2887 "[BUG] Adding Disk Tag Recently After Refresh On Newly Added Disk Causes "Operation cannot be fulfilled on nodes" Error"
**Describe the bug**
Adding a brand new disk to Hosts -> Edit Config -> Storage.  Force formatting that disk as `ext4`.  Saving.  Then refreshing the page, until Disk shows as "Ready", "Schedulable" and "Provisioned" - then adding a new tag to that disk, causes error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Hosts
1. Edit Host Config
1. Goto Storage
1. Add Disk
1. Force Format &

[2022-10-06 21:38] irishgordo opened #2888 "[BUG] Prefilled Image Labels Do Not Render Values in UI"
**Describe the bug**
When creating Images for Harvester inside the "Labels" section, after selecting a file or URL to upload.
Selecting the dropdown from:
- harvesterhci.io/os-type
- harvesterhci.io/image-type
The Values do not persist in the box.
Classes on the HTML elements do change.
But the values on those two specific pre-defined keys do not persist in the UI.

**To Reproduce**
Steps to repro

[2022-10-06 22:31] irishgordo commented on #2845
@ibrokethecloud following the test plan that you documented here:

https://github.com/harvester/harvester/pull/2829#issue-1385380724

I see no issues, this all looks good :smile: !

I also noted that the Harvester instance did see an increase in system load etc, as it was working to bring in the addons, that then subsided afterwards.

Validating your tests, is there other elements that we should b

[2022-10-06 22:47] ibrokethecloud commented on #2845
@irishgordo there is not much else to do yet. For now it should only enable and disable the addons to allow users to save resources when said addon is not needed.

[2022-10-06 23:51] irishgordo commented on #2845
@ibrokethecloud that sounds good to me!
It all checked out :smile: .
I also like the idea behind it, allowing users to save resources when it isn't needed.

[2022-10-07 00:00] noahgildersleeve opened #2889 "[BUG] Can't provision RKE2 cluster in Rancher"
**Describe the bug**

When you try to provision RKE2 in Rancher
**To Reproduce**
Steps to reproduce the behavior:
1. Import Harvester into Rancher
2. Create cloud creds
3. Start to provision RKE2 cluster
4. Try to complete

**Expected behavior**
RKE2 should provision
**Support bundle**
[supportbundle_ba2138e2-7e7f-4493-acbb-16d3edd63195_2022-10-06T23-57-31Z.zip](https://github.com/harvester/harves

[2022-10-07 00:01] irishgordo opened #2890 "[BUG] VirtualMachineImport Adds Additional Network Device From OpenStack"
**Describe the bug**
When importing an OpenStack with one network interface - there tends to be an additional network interface added.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to your OpenStack (stable/train) instance, build a VM
1. Have that VM only have 1 network interface
1. Create the CRD YAML for the `VirtualMachineImport`
1. Import the VM into your Harvester

**Expected behav

[2022-10-07 00:03] irishgordo commented on #2274
@ibrokethecloud for,

"Question 2" from this comment the other day:
https://github.com/harvester/harvester/issues/2274#issuecomment-1266220335

I opened:
https://github.com/harvester/harvester/issues/2890#issue-1400437398

[2022-10-07 00:14] ibrokethecloud commented on #2890
I will need to check this VM. On a local devstack instance I perform a migration with the following spec
[code]

And I only got one interface created
![image](https://user-images.githubusercontent.com/19664014/194440440-f75b9501-c185-47da-beda-c66a2f9360eb.png)

[2022-10-07 00:15] irishgordo commented on #2890
I'll try to reproduce this with v1.1.0-rc2 & stable/train OpenStack and double check

[2022-10-07 00:42] irishgordo commented on #2890
@ibrokethecloud
I was not able to reproduce this in v1.1.0-rc2.
I'll go ahead and close this out :smile:

![Screenshot from 2022-10-06 17-41-56](https://user-images.githubusercontent.com/5370752/194442802-f35ad045-1073-42a6-9722-99442743fae8.png)
![Screenshot from 2022-10-06 17-25-10](https://user-images.githubusercontent.com/5370752/194442804-175d62da-6d4c-4db2-9100-6c9b65b8db2f.png)

[2022-10-07 00:43] #2890 closed, assigned to nobody

[2022-10-07 00:57] noahgildersleeve opened #2891 "[BUG] DHCP fails for tagged VLAN on mgmt cluster network"
**Describe the bug**

When you assign a tagged VLAN that isn't 1 to the `mgmt` cluster network DHCP fails.
**To Reproduce**
Steps to reproduce the behavior:
1. Provision a Harvester cluster
2. Create a new network with a tagged VLAN that is not 1, that has DHCP on it
3. Save the network
**Expected behavior**

DHCP should work on network
**Support bundle**
[supportbundle_1d94fc6f-8d87-49e4-80ae-b24

[2022-10-07 01:23] irishgordo commented on #2891
I wasn't able to reproduce this on v1.1.0-rc2 on my bare-metal Dell PowerEdge R720.
I do know that, with my switch, I can't do "trunking" but I can tag VLAN traffic, so my gear isn't at pairity with most DCs too :sweat_smile: - so there might be some differences.  But the subnets are different as documented in screenshots due to tagging and dhcp server for my network.
And the Harvester Config, is

[2022-10-07 01:24] khushboo-rancher commented on #2889
@bk201 Do you think this could be a Rancher issue?

cc: @rebeccazzzz

[2022-10-07 04:24] FrankYang0529 opened #2892 "[BUG] rancher-system-agent keeps showing error on a new node in an upgraded cluster"
**Describe the bug**
Upgrade a cluster from v1.0.3 to v1.1.0-rc2. Delete an agent node after the upgrade is done.
When we re-join a new node (with the same hostname) to the cluster, the `rancher-system-agent` keeps showing errors.
[code]

After restarting the `rancher-system-agent` on the new node, the error message changes.
[code]

Also, the `cattle-system/apply-system-agent-upgrader-on-xxx` job

[2022-10-07 05:30] bk201 opened #2893 "[BUG] Upgrade stuck: kube-controller-manager fail to start"
**Describe the bug**

An upgrade is stuck in the pre-drained state and won't continue.

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade from v1.0.3 to v1.1.0-rc2
2. There is a chance to stuck in the pre-drained state.
![image](https://user-images.githubusercontent.com/1691518/194473786-6f871217-5cb8-4494-ac18-0b5e4780636b.png)

**Expected behavior**

The upgrade should finish.

**Supp

[2022-10-07 06:59] lanfon72 commented on #2893
Add the context when performing upgrade:
- 1 Image for VM creation
- 1 Cloud Config
- 1 VLAN configured NOT on mgmt port
- 3 VMs running
    - 1C2M, 1 image volume, default network, cloud config loaded
    - 1C2M, 1 image volume, VLAN network, cloud config loaded
    - 1C2M, 1 image volume, 1 data volume, default and VLAN network, cloud config loaded
    - added some data for backup purpose.
- 3 B

[2022-10-07 08:46] TachunLin opened #2894 "[BUG] Upgrade stuck in upgrading first node: Job was active longer than specified deadline"
**Describe the bug**

When upgrading from v1.0.3 GA to v1.1.0-rc2, the upgrade stuck in the stage of upgrading the first node (management role)
`Job was active longer than specified deadline`

![image](https://user-images.githubusercontent.com/29251855/194512389-26310448-6821-46a4-97df-809b6f51151f.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Prepare a v1.0.3 GA on 4 nodes Harvester

[2022-10-07 11:20] mgerboc commented on #992
Hello, when I try to enable nvidia device, the enabling is always in progress and I can see some errors in pci device controller pod. See attachment.
[harvester-harvester-pcidevices-controller-vf2cf_agent.log](https://github.com/harvester/harvester/files/9733417/harvester-harvester-pcidevices-controller-vf2cf_agent.log)

[2022-10-07 11:33] RegisWeduLabs opened #2895 "[FEATURE] - Bandwith limiting/reservation for different components/services (network QoS)"
**Is your feature request related to a problem? Please describe.**
In some use cases, bare-metal servers only have 2 network adapters in LACP Mode (OVH for example).  So your WAN, harvester management and vlans all go trough the same 2 physical adapters.  This setup works just fine, but when dealing with network-intensive processes (big vm images, longhorn replicas rebuild) - we end up with packet

[2022-10-07 12:54] TachunLin commented on #2750
### Singe node upgrade check
1. Check the following files and pods have no error

- [x] logging related pods
[code]

- [x] config file exists
[code]
[code]

- [x] /oem/99_custom.yaml is patched
[code]
[code]

[2022-10-07 13:17] guangbochen opened #2896 "[FEATURE] bot to auto add releases when milestone is set"
**Is your feature request related to a problem? Please describe.**
- [x] bot to auto add releases when milestone is set https://github.com/harvester/bot/pull/15
- ~~[ ] need to migrate bot env to fremont~~
- [x] make the bot to ignore PR pipelines, e.g., https://github.com/harvester/harvester/pull/3966

**Describe the solution you'd like**
bot to auto add releases when milestone is set

[2022-10-07 13:23] guangbochen commented on #2887
This is expected behavior due to the controller and WebSocket integration design, however, on the node page it will contain multiple CRDs, and it would be good only to update those changed ones instead update all to avoid the possibility of hitting the above issues, e.g., make a deep equal check and update those changed CRDs accordingly.

[2022-10-07 13:39] tlehman commented on #992
I have a PR that fixes this: https://github.com/harvester/pcidevices/pull/21

[2022-10-07 16:35] irishgordo commented on #2887
@guangbochen thanks for taking a look at this :smile:  - that sounds good!

[2022-10-07 16:41] irishgordo commented on #2635
Closing this out as this was more relating to the Rancher side.

[2022-10-07 16:41] #2635 closed, assigned to irishgordo

[2022-10-07 16:43] irishgordo commented on #2249
I've been unable to reproduce this consistently.
Closing this out :smile: .

[2022-10-07 16:43] #2249 closed, assigned to futuretea

[2022-10-07 22:23] irishgordo commented on #2274
I'm not 100% if it's easy to reproduce but I've seen a few mixed things with importing a large OpenStack VM:

I'm thinking some of it may have to do with my environment more than anything.

When in OpenStack, the disk, may potentially be stuck in an uploading state the vm-import-controller will requeue the request and try to leverage building another volume, tho the original may change from "Uploa

[2022-10-07 22:29] noahgildersleeve commented on #2833
Is this being implemented in v1.1.0? If so would the testing path be for us to simulate an upgrade from v1.1.0 to another version? Mostly I'm asking if this will work in an upgrade from v1.0.3 to v1.1.0. CC @FrankYang0529

[2022-10-08 01:13] guangbochen commented on #2889
could be related to https://github.com/rancher/dashboard/issues/7125, cc @n313893254

[2022-10-08 02:28] TachunLin commented on #2894
Encounter the same error while upgrading to v1.1.0-rc2 on 3 nodes Harvester cluster,

  ![image](https://user-images.githubusercontent.com/29251855/194683545-aeb7cfb7-808c-4a39-9881-a98b81108f52.png)

#### Support bundle
[supportbundle_2a8a3634-ecaf-4942-8139-70360f556cfa_2022-10-08T02-25-23Z.zip](https://github.com/harvester/harvester/files/9738216/supportbundle_2a8a3634-ecaf-4942-8139-70360f556c

[2022-10-08 02:36] futuretea commented on #2889
refer to https://github.com/rancher/rancher/issues/37711#issuecomment-1126413928

[2022-10-08 05:21] WuJun2016 commented on #2874
Hi, @TachunLin   I can't reproduce this on the Harvester `v1.1.0-rc2` version.

[2022-10-08 05:25] WuJun2016 commented on #2873
Hi， @TachunLin  This should not be a UI enhancement, I removed the `area/ui` label, feel free to add it if needed.  thanks

[2022-10-08 06:38] masteryyh commented on #2789
It seems unable to reproduce in rc2 environment, both `https://{{HARVESTER_IP}}/dashboard/c/local/explorer` and `https://{{HARVESTER_IP}}/dashboard/c/local/longhorn` can be accessed directly through browser.
@noahgildersleeve can you confirm it still can be reproduced in current rc2 build? CC @w13915984028 @guangbochen

[2022-10-08 07:31] guangbochen commented on #2889
@n313893254 can we show the kubeconfig error message more obviously on the UI, this will benefit non-developer users, thanks.

[2022-10-09 03:09] guangbochen commented on #2845
reopen this for UI changes, cc @n313893254

[2022-10-09 03:33] guangbochen opened #2899 "[BUG] Update deprecated label of beta.kubernetes.io/os to kubernetes.io/os"
**Describe the bug**
Warning:
[code]

**Expected behavior**
change desired label to
Related to:
- https://github.com/harvester/harvester/search?q=beta.kubernetes.io%2Fos
- https://github.com/harvester/charts/search?q=beta.kubernetes.io%2Fos
- other harvester dependency charts/repos where applicable.

Make sure those changes will not break the upgrade case.

**Support bundle**

**Environment**
 - H

[2022-10-09 07:02] guangbochen commented on #2889
This is now fixed on the master-head version of the Harvester, to test the fix u can update the Harvester API image manually via `$ kubectl set image deployment harvester -n harvester-system apiserver=rancher/harvester:master-head`

[2022-10-09 07:57] guangbochen commented on #2307
close as the doc is migrated and available at https://docs.harvesterhci.io/

[2022-10-09 07:57] #2307 closed, assigned to divya-mohan0209

[2022-10-09 10:13] n313893254 commented on #1986
Yep, as the issue [2788](https://github.com/harvester/harvester/issues/2788), The harvester-public can select but cannot create successfully.

That might be another issue, are you reproduce it always and can you submit the issue?

[2022-10-10 03:09] ibrokethecloud commented on #2879
This error doesnt impact the operational behaviour of the vm-import-controller or vmware.

We can add a check in future releases for the same.

[2022-10-10 09:01] guangbochen commented on #2080
close due to inactivity, and also we have deprecated the NodeNetwork CRD.

[2022-10-10 09:01] #2080 closed, assigned to yaocw2020

[2022-10-10 18:44] khushboo-rancher commented on #2888
Looks like this is ready for Testing, @WuJun2016 Can you confirm?

[2022-10-10 18:48] khushboo-rancher commented on #2894
@TachunLin Is there any workaround for this, Looks like Sev1 to me?

[2022-10-10 20:34] w13915984028 commented on #2894
@khushboo-rancher

The failure is due to the  storage & network read/write speed, the upgrade tries to spread images to all nodes, that's a big impact to storage and network, and the storage may be the main bottleneck. In our local test on KVM based cluster, that seems OK.

The workaround will be test it in newer/faster servers.

cc @bk201 @starbops

[2022-10-10 23:05] irishgordo opened #2901 "[BUG] Double Image Download For Single Disk Backed VM in vSphere via VirtualMachineImport"
**Describe the bug**
There seems to be a bit of a race-condition taking place if there are quick succession of fires of the removal and creation of a `VirtualMachineImport` import based CRD resource in YAML.

**To Reproduce**
Steps to reproduce the behavior:
1. Build a VirtualMachineImport YAML CRD Spec Resource, to a VM that only has 1 backing disk
1. Create it on your cluster
1. Wait for Image t

[2022-10-10 23:08] irishgordo commented on #2274
@ibrokethecloud working through a few tests, I do notice that if we try to remove and rebuild a VirtualMachineImport in fairly quick order, there seems to be a bit of a doubling up of the image download that happens for a VM that may have just a single disk:

https://github.com/harvester/harvester/issues/2901

[2022-10-11 01:13] bk201 commented on #2833
@noahgildersleeve Yes, The feature will only appear in new v1.1.0 cluster. It doesn't exist in v1.0.3.

[2022-10-11 01:15] WuJun2016 commented on #2888
@khushboo-rancher  Yes, It's ready for testing, I moved to `ready-for-testing`

[2022-10-11 01:38] TachunLin commented on #2894
@khushboo-rancher,
The issue was stuck in the upgrading node stage, which according to the [Harvester upgrade documentation](https://docs.harvesterhci.io/next/upgrade/troubleshooting/), we can use the workaround to restart the upgrade  https://docs.harvesterhci.io/next/upgrade/troubleshooting/#start-over-an-upgrade

According to it, thus I set severity 2 on this issue.

[2022-10-11 01:45] noahgildersleeve commented on #2741
Tested in 3 node ipxe-examples vagrant upgrade scenario with Harvester v1.0.3 -> v1.1.0-rc2. I did this with a Harvester v1.1.0-rc2 iso stored on the ipxe server.

It was stuck in pre-drained state for hours.
![Screenshot_20221010_184101](https://user-images.githubusercontent.com/83787952/194978968-1c171f19-f07e-4254-9ee4-372715722c10.png)
![Screenshot_20221010_182239](https://user-images.githubus

[2022-10-11 02:04] bk201 commented on #1983
Thanks, @w13915984028 , we can keep an eye on it.
Upgrading Rancher and fleet is the first stop in the upgrade process, so the fix should apply to all managed charts after it.

[2022-10-11 02:25] starbops commented on #2893
After restart rke2-server on the problematic node, we have spotted the same issue happened again in the following upgrade.

<img width="570" alt="image" src="https://user-images.githubusercontent.com/1827717/194983232-fcd691f7-4275-4eba-a0f5-71c9cb09b5cf.png">

Role:

- harvester-vtgk8: server
- harvester-4b8xc: server
- harvester-s4wfw: server
- harvester-gc46b: agent

Upgrade order:

[code]

`ha

[2022-10-11 02:28] irishgordo opened #2902 "[BUG] VirtualMachineImports Don't Respect Default StorageClass For Volumes"
**Describe the bug**
Having a custom "default" StorageClass provided resources created of kind VirtualMachineImport, the "images" downloaded respect the Default StorageClass, yet the Volume that gets created does not.

**To Reproduce**
Steps to reproduce the behavior:
1. have a multi-node cluster
1. have 1 node in the multi-node cluster that has an extra large disk
1. `gdisk /dev/disk` on the node

[2022-10-11 02:33] guangbochen opened #2903 "[BUG] VM failed to get IP after node reboot"
**Describe the bug**
VM with VLAN network failed to get IP after node reboot

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new cluster network and add related network configs
2. Create networks with associated vlan id
3. Create a new VM using this VLAN network and after it starts successfully reboot the node
4. After the node reboot, the VM failed to retrieve the IPv4.
5. Check th

[2022-10-11 02:34] irishgordo commented on #2274
@ibrokethecloud regarding the testing, I've validated the following scenarios with v1.1.0-rc2:

1. VM Import Can Happen Successfully For Single Node w/ OpenStack
1. VM Import Can Happen Successfully For Single Node w/ vSphere
1. VM Import Can Happen Successfully For 3 Node Harvester Cluster w/ OpenStack
1. VM Import Can Happen Successfully For 3 Node Harvester Cluster w/ vSphere
1. VM Import Can H

[2022-10-11 02:35] irishgordo commented on #2274
@ibrokethecloud I wasn't sure if the VM Import process in it's entirety is intended to respect a "default" StorageClass that a user may have set up - so I did open this up here:
https://github.com/harvester/harvester/issues/2902

[2022-10-11 04:26] bk201 commented on #2894
The cause is preload job takes more than 15 minutes to load images ([We use SUC plan to spawn jobs, and its default timeout is 15 minutes](https://github.com/rancher/charts/blob/c8e0f1b2f5650d54b9245c9ea41f77f43198b9ef/charts/system-upgrade-controller/100.0.2%2Bup0.3.2/templates/configmap.yaml#L9)). In this release we have more images to preload.
I've checked David's two environments, one has SAS

[2022-10-11 04:49] Martin-Weiss commented on #2894
Could we use longer job timeouts than “just” 15 Minutes?

[2022-10-11 05:31] bk201 commented on #2894
Yes, but we can only fix them in a future version because the preload code is in the "previous version." For running cluster, I added instructions to the [comment](https://github.com/harvester/harvester/issues/2894#issuecomment-1274069690).

[2022-10-11 05:52] guangbochen commented on #2902
The multi-tiering feature is introduced afterward, so may need to consider allowing users to specify the storage class or get the default one via API if not specified. cc @ibrokethecloud

[2022-10-11 05:52] Martin-Weiss commented on #2894
Sure - thanks.. this is just based on some experience with the SUC where we had the issue often, that i.e. the drain took longer than expected (i.e. due to longhorn PodDisruptionBudget) - so maybe and endless timeout and and endless retries might be better..

[2022-10-11 07:04] lanfon72 opened #2904 "[BUG] Unable to update default image labels"
### Describe the bug
Default image labels can not be updated but deleted.

https://user-images.githubusercontent.com/5169694/195018291-b2879f9d-d376-4773-95b6-3f862e0a12f6.mp4

### To Reproduce
Steps to reproduce the behavior:
1. Install Harvester with any nodes
2. Create an Image
3. Edit Image Labels by _Edit Config_

### Expected behavior
Default Labels should able to be updated or freeze modifi

[2022-10-11 07:04] WuJun2016 opened #2905 "[BUG] vm-import-controller status keeps changing"
**Describe the bug**

The `vm-import-controller` status changes between `AddonEnabled` and `AddondeploySuccessful`

**To Reproduce**
Steps to reproduce the behavior:
1. setting vm-import-controller to `enabled` equals true

**Expected behavior**

**Support bundle**

**Environment**
 - Harvester ISO version:
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630):

**Additional conte

[2022-10-11 07:20] lanfon72 commented on #1497
Not reproduced in `v1.1.0-rc2` (baremetals)

[2022-10-11 07:37] guangbochen opened #2906 "[BUG] VM can’t boot due to filesystem corruption"
**Describe the bug**
When running VMs on harvester, rarely the VMs could not boot up due to filesystem corruption.

**To Reproduce**
Steps to reproduce the behavior:
1. Start VM
2. Run IO on VM
3. delete any one of the replicas and stop VM (parallel operations)
4. loop from step 1

If we meet the above issue, Start VM would be stuck.

**Expected behavior**
Works normally. Turn on/off VM would be O

[2022-10-11 07:52] starbops opened #2907 "[BUG] Multiple nodes are upgrading simultaneously in an RKE2 upgrade"
**Describe the bug**

Upgrade to:

- RKE2: v1.24.6+rke2r1
- Rancher: v2.6.9-rc3

In a multi-node setup, the upgrade might be stuck in the middle. Behind the scenes, it is because there are multiple nodes (>= 2) upgrading simultaneously while upgrading RKE2, which implies they are in an unschedulable mode. This could result in the following while a node is in the pre-drain state:

- The Longhorn vo

[2022-10-11 08:01] Martin-Weiss commented on #2906
@guangbochen  - what type of filesystem do you run within your VM? Can you add details?
I believe if you use a filesystem with 4k I/O size instead of 512 bytes you might not be able to reproduce..

[2022-10-11 08:04] spatialy commented on #2291
yes, it showed the ballon, i can upload a support bundle if needed

On Tue, Jun 21, 2022 at 2:13 PM rodrigo14miguel ***@***.***>
wrote:

[2022-10-11 08:07] guangbochen commented on #2789
Can't reproduce it either in v1.1.0-rc2, @noahgildersleeve please help to validate it again and close it if this is not an issue, thanks.
<img width="723" alt="image" src="https://user-images.githubusercontent.com/4569037/195034005-81f8b47d-336c-4bb0-aec9-82a1ae7c9685.png">

[2022-10-11 08:10] guangbochen commented on #2891
If you need to use a specific PVID other than 1, you must configure it to allow the PVID in ur physical switch, otherwise, the network will not work.

[2022-10-11 08:12] guangbochen commented on #2861
@TachunLin can u please validate it again using Harvester v1.1.0-rc2, thanks.

[2022-10-11 08:16] starbops commented on #2907
Sometimes the situation can be coped with a simple `uncordon`, sometimes don't. To make the Harvester upgrade more stable, we tend to **prevent** the situation from happening. The main idea is to place some checks in the upgrade controller when it is about to create the pre-drain hook Job. If the checks failed, it will raise an error and try again until the checks are passed, then the pre-drain ho

[2022-10-11 08:18] futuretea commented on #2904
The label imageDisplayName is automatically updated by the backend and will change with the actual DisplayName of the image. prefer to hide it

Other labels cannot be modified need to be checked by the UI team

[2022-10-11 08:22] Vicente-Cheng commented on #2906
We running with `OpenSUSE-Leap-15.3`, the root filesystem is XFS with 512 sector size.
We could reproduce the corruption issue in the above environment with harvester v1.0.3.

[2022-10-11 08:27] Martin-Weiss commented on #2906
Ok - then it is pretty likely https://github.com/longhorn/longhorn/issues/4354 and the current workaround should be to use a different filesystem layout using 4k instead of 512.

[2022-10-11 09:05] Vicente-Cheng commented on #2906
For v1.0.3, the current workaround is to re-generate the cloud image to use a filesystem with 4k sector size for metadata/data/log.

We could see the related fix ([[BUG] data corruption due to COW and block size not being aligned during rebuilding replicas](https://github.com/longhorn/longhorn/issues/4354#top)) is involved in Longhorn v1.3.2. So we could verify this with LH v1.3.2

[2022-10-11 09:55] vickyhella opened #2909 "[BUG] Need to add internalization settings for specific strings"
**Describe the bug**
Some strings are not included in the `en-us.yaml` file and therefore cannot be localized.

**To give some examples:**
- tableheaders.groupRoleNames
- tableheaders.restart
- tableheaders.data
- management.cattle.io.nodedriver

[2022-10-11 10:10] WuJun2016 commented on #2904
Hi,  @lanfon72  duplicate with https://github.com/harvester/harvester/issues/2888,  We can close this issue

[2022-10-11 10:12] lanfon72 commented on #2904
closed as duplicated in #2888

[2022-10-11 10:12] #2904 closed, assigned to WuJun2016

[2022-10-11 13:51] TachunLin commented on #2861
This issue can't be reproduced and have been fixed on `v1.1.0-rc2`, now we can create vlan1 network on `mgmt` cluster network
![image](https://user-images.githubusercontent.com/29251855/195109313-1afa9865-1a2d-4cd0-bcc2-40a3d4624242.png)

[2022-10-11 13:55] abonillabeeche opened #2910 "[FEATURE] TPM support"
TPM Support is expected for certain Edge/secure deployments (FIDO Secure Onboarding).
Windows 11 requires TPM
Elemental requires TPM

[2022-10-11 13:55] bk201 commented on #2861
@TachunLin Feel free to reopen if you see this again. Thanks.

[2022-10-11 13:55] #2861 closed, assigned to yaocw2020

[2022-10-11 15:13] abonillabeeche commented on #2910
This is achievable via virt-manager and this is an example with screenshots
https://rancher.github.io/elemental/tpm/#add-tpm-emulation-to-bare-metal-machine

[2022-10-11 15:50] bk201 opened #2911 "[BUG] Longhorn could schedule all volume replicas to a single node"
**Describe the bug**

In a single-node deployment, Longhorn could schedule all three replicas of a volume to the same node.
Note this issue is captured from https://github.com/longhorn/longhorn/issues/4546 for tracking in Harvester milestone and it was initially reported by @w13915984028 .

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Harvester v1.1.0-rc2 or master (with Longhorn v1

[2022-10-11 15:50] bk201 commented on #2911
We'll bump Longhorn to v1.3.2-rc2.

[2022-10-11 19:36] irishgordo commented on #2863
@chrisho & @WuJun2016 thanks for the fix!
This looks great!

I validated that this checks out on:
Harvester, ISO: `master-39c2bb2a-head`

I'll go ahead and close this out :smile:

[2022-10-11 19:36] #2863 closed, assigned to chrisho, irishgordo, WuJun2016

[2022-10-11 19:40] irishgordo commented on #2888
@WuJun2016 thanks for the fix!
This looks great!
I validated on
 Harvester, ISO: master-39c2bb2a-head

![Screenshot from 2022-10-11 12-40-04](https://user-images.githubusercontent.com/5370752/195183650-28fa9375-cea4-47ea-a45e-b1e574f81f16.png)
![Screenshot from 2022-10-11 12-37-40](https://user-images.githubusercontent.com/5370752/195183651-eb7fa0c1-891d-4e52-9fd0-96faf6ed9fdd.png)

I'll go ahead

[2022-10-11 19:40] #2888 closed, assigned to irishgordo, WuJun2016

[2022-10-11 19:43] noahgildersleeve commented on #2789
Retested in v1.1.0-rc2. I think that the issue I was having was I was trying to navigate to `dashboard/harvester/c/local/longhorn|explorer` not `dashboard/c/local/longhorn|explorer`. I'm closing this as not an issue. I think that the relative path for Harvester dashboard changed at some point and I didn't realize it.

I think there might have been a redirect in previous versions.

[2022-10-11 19:43] #2789 closed, assigned to masteryyh

[2022-10-11 19:55] irishgordo commented on #2886
Thanks for the fix @n313893254 !
I've validated on
Harvester, ISO: master-39c2bb2a-head

This looks great! :+1: :smile:
I'll go ahead and close this out.

[2022-10-11 19:55] #2886 closed, assigned to irishgordo, n313893254

[2022-10-11 22:12] noahgildersleeve commented on #1867
Tested in Harvester `v1.1.0-rc2`.

## Verification Steps

1. Navigate to embedded Rancher global settings at `https://<harvesterIp>/dashboard/c/_/settings/management.cattle.io.setting`
2. Edit user auth TTL settings to be 10 mins
![Greenshot 2022-10-11 13 13 25](https://user-images.githubusercontent.com/83787952/195207565-926ced54-0b95-443d-a03b-e2cf4a1f2889.png)
3. Log out of Harvester
4. Log bac

[2022-10-11 22:12] #1867 closed, assigned to mantis-toboggan-md, noahgildersleeve

[2022-10-11 22:19] ibrokethecloud commented on #2902
@guangbochen currently a VirtualMachineImage uses the default storage class to create a new longhorn backing image, which in turn uses a custom storage class.

When a VM or volume is launched from said image, the storage class generated for the backing image is used to create the PVC claim.

[code]

The vm import controller is doing the same. I am not sure we can change the virtualmachineimage sto

[2022-10-11 22:29] noahgildersleeve commented on #2833
Tested the degraded volume functionality in `v1.1.0-rc2` with an upgrade to the same version `v1.1.0-rc2`.

## Verification Steps

1. Create an upgrade version.yaml and upload the ISO as outlined [here](https://docs.harvesterhci.io/v1.0/upgrade/automatic/#prepare-an-air-gapped-upgrade)
2. Before running the upgrade navigate to the Longhorn UI at `https://<harvesterIp>/dashboard/c/local/longhorn`
!

[2022-10-11 23:41] noahgildersleeve commented on #2789
After reviewing things it looks like I wasn't going to the wrong URLs, but maybe it was fixed at some point during the release cycle. There were several changes to the UI framework during the v1.1.0 release.

[2022-10-11 23:44] noahgildersleeve commented on #2889
Tested in Rancher `v2.6.9-rc3` and Harvester `master-39c2bb2a-head`. Verified as fixed

## Verification Steps
1. Import Harvester into Rancher
2. Create cloud creds
3. Try to provision RKE2 cluster

### Expected Results

- RKE2 cluster should provision

![Screenshot_20221011_164154](https://user-images.githubusercontent.com/83787952/195218142-25ae86c1-dd01-45e4-83a8-4f1186d68a09.png)
![Screenshot_

[2022-10-11 23:44] #2889 closed, assigned to futuretea, n313893254, noahgildersleeve

[2022-10-12 00:00] irishgordo commented on #2902
@guangbochen I can go ahead and close this out as I just didn't connect the dots that indeed there is no bug.
If a default storage class is set, with Importing a VM, the whole process will use that default storage class.
[code]
The `longhorn-image-8pbr4` that gets built is using the `diskSelector=big-node-2` with the `nodeSelector=node-2` which is the default storage class set up
I was just unfami

[2022-10-12 00:32] ibrokethecloud opened #2913 "[FEATURE] Move pcidevices to harvester addon"
**Is your feature request related to a problem? Please describe.**

Currently pcidevices controller is managed as a harvester chart dependency.

As a result of this pcidevices is deployed by default, even when users have no need for the same.

**Describe the solution you'd like**

Move pcidevices to an addon, similar to the vm-import-controller, allowing users to enable/disable pcidevices-controll

[2022-10-12 00:51] irishgordo commented on #2905
@WuJun2016  I was able to reproduce this in the UI and also with calling describe on the resource using `kubectl` on the Harvester cluster.
Environment: qemu/kvm
Harvester Version: v1.1.0-rc2

Based around some tests it seems that more often it's shown as "AddonEnabled" than it is shown as "AddonDeploySuccessful":
[code]

This is the small bash script I wrote to audit this with `kubectl`:

[code]

[2022-10-12 00:54] irishgordo commented on #2274
I was able to reproduce: https://github.com/harvester/harvester/issues/2905 on rc2 using:
https://hub.docker.com/r/gmehta3/harvester-vm-import-controller/tags @ tag "dev" for vm-import-controller image

[2022-10-12 01:30] WuJun2016 opened #2914 "[BUG] enhancement error message display (vm-import-controller)"
**Describe the bug**

change the `repo` and `chart` values of `vm-import-controller` to an error value, addon should not deploy successfully,  but status does not have any error messages and keeps showing `AddonEnabled`.

**To Reproduce**
Steps to reproduce the behavior:
1. change the `repo` and `chart` to the following values,  click save button.
![image.png](https://images.zenhubusercontent.com/

[2022-10-12 02:02] DaiYuzeng opened #2915 "[BUG] cancel button will save the change when restarting vm"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
https://github.com/harvester/dashboard/pull/463#pullrequestreview-1135826382

**Expected behavior**

Cancel button should not save the change

**Support bundle**

**Environment**
 - Harvester ISO version:
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630):

**Additional context**
Add any other context about

[2022-10-12 02:24] Vicente-Cheng commented on #2906
Update with test result on my local environment, QA would do a whole test including the regression.

environment rootfs:
[code]

tested with the following steps:

1. start VM
2. run 4k random write IO / Delete random replica  (these two operations are parallel)
3. wait 20-60 seconds then stop VM
4. loop back to 1.

pass 626 rounds and do not meet any corruption issues.

[2022-10-12 03:40] WuJun2016 commented on #2915
This is a generic issue.

[2022-10-12 04:05] WuJun2016 commented on #2650
@noahgildersleeve   UI has been completed, please help test it, thanks!

[2022-10-12 04:38] WuJun2016 opened #2916 "[BUG] go to the namespace details page is not supported in the harvester ui"
**Describe the bug**

All harvester pages have this problem

![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/096a82df-7f55-42cb-b3fc-dab59cba1e94)

![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/58519011-2fb6-4a89-8013-ff4e29bba2f1)

**To Reproduce**
Steps to reproduce the behavior:
1.  go to the details page of any resource
2. click `Namespac

[2022-10-12 05:01] guangbochen opened #2917 "[BUG] multus cni is unauthorized and failed to create/delete related containers"
**Describe the bug**
For Harvester v1.1.0-rc2 version, after the cluster is running for a while, the kubelet will encounter the following errors:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Spin up a Harvester cluster using the `v1.1.0-rc2` version
2. Leave the cluster for a period of time >= 24 hrs, and try to either create/delete the VM/pod
3. it will be stuck in terminating or

[2022-10-12 05:02] guangbochen commented on #2917
This is related to https://github.com/rancher/rke2/issues/3425 and a temp workaround to renew the token can be done via:
`$ kubectl delete pod -l k8s-app=canal -n kube-system`
Will need to wait and bump the RKE2 to a newer version that includes the above issue's fix.

[2022-10-12 06:57] FrankYang0529 commented on #2873
Hi @TachunLin, I tested again on harvester v1.1.0-rc2 with the latest dashboard UI. I think the issue is fixed. Also, when users click "Use default value", related annotations and status is not removed. Thank you.

<img width="1179" alt="Screen Shot 2022-10-12 at 2 57 21 PM" src="https://user-images.githubusercontent.com/4927361/195271833-1b16ea60-4b12-4247-9563-788fffa81924.png">

[2022-10-12 07:11] FrankYang0529 commented on #2892
This issue also needs fixes in https://github.com/harvester/harvester/issues/2893 and https://github.com/harvester/harvester/issues/2734. Other fixes will be included in https://github.com/harvester/harvester/pull/2918.

[2022-10-12 07:18] bk201 commented on #2470
@jzmatrix We'll close this one as it should be duplicated with https://github.com/harvester/harvester/issues/2665. The issue should be addressed in v1.1.0. Thanks for the report.

[2022-10-12 07:18] #2470 closed, assigned to nobody

[2022-10-12 07:54] WuJun2016 opened #2919 "[BUG] enhance VM viewLogs action"
**Describe the bug**

if vm stops, `ViewLogs` is not available at this time

![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/5e401f23-13ed-44bf-abd1-b9f804582b71)

**To Reproduce**
Steps to reproduce the behavior:
1.  stop vm
2. click `View Logs`

**Expected behavior**

If view Logs is not available, it should not be displayed

**Support bundle**

**Environment**
 - Harv

[2022-10-12 08:32] bk201 opened #2920 "[BUG] Volume can't turn into healthy when upgrading from v1.0.3 to v1.1.0-rc2 (master build)"
**Describe the bug**

We saw a volume that can't become healthy during an upgrade. One of the replicas keeps being deleted and rebuilt.
<img width="1897" alt="Screen Shot 2022-10-12 at 10 41 39 AM" src="https://user-images.githubusercontent.com/1691518/195291052-fa19adcb-1729-4c2d-b13f-51e0eef33f06.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade Harvester from v1.0.3 to master

[2022-10-12 09:24] futuretea opened #2921 "[BUG] Edit Storage Class Config `Allow Volume Expansion` and `Description`"
**Describe the bug**

Edit storage class
1. `Description` cannot be edited
2. `Customize > Allow Volume Expansion` can be edited
![image](https://user-images.githubusercontent.com/15064560/195304792-5e6da7a2-ba18-4575-bfd3-ac30624f4ac4.png)
![image](https://user-images.githubusercontent.com/15064560/195304850-0a84c951-36c7-48f8-a076-bc3197d00415.png)

**To Reproduce**
Steps to reproduce the behavi

[2022-10-12 09:26] WuJun2016 opened #2922 "[BUG] Use accurate messages to indicate errors (when creating VMs)"
**Describe the bug**

When you create a vm using a template that contains an existing volume, the prompt message is ambiguous

<img width="1709" alt="image" src="https://user-images.githubusercontent.com/24985926/195302741-1d783341-acff-4fd9-a6e7-e33c57904ee0.png">

**To Reproduce**
Steps to reproduce the behavior:
1.  create a  vm
2.  go to volume page, create a new volume
3.  go to vm page, clic

[2022-10-12 13:03] TachunLin commented on #2894
Rerun the upgrade with the workaround stated in https://github.com/harvester/harvester/issues/2894#issuecomment-1274069690

By preparing all Harvester cluster nodes on SSD drive
And increase the job deadline before clicking the upgrade button on dashboard:
[code]

* We can complete the image preload stage
![image](https://user-images.githubusercontent.com/29251855/195338806-e10879b6-8817-4d27-9e18

[2022-10-12 13:19] lanfon72 commented on #2869
Verified this feature has been implemented.

Further enhancement will be in https://github.com/harvester/harvester/issues/2915

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **master-937f333c-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with any nodes
2. Create an Image for VM creation
3. Create VM `vm1`
4. Imitate video recor

[2022-10-12 13:19] #2869 closed, assigned to lanfon72, DaiYuzeng

[2022-10-12 13:19] lanfon72 commented on #2855
close as resolved.

![image](https://user-images.githubusercontent.com/5169694/195351832-78ed46ca-91f9-413e-945c-f391e4124fd6.png)

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **master-937f333c-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with any nodes
2. Follow **Steps to reproduce** in https://github.com/harvester/harvest

[2022-10-12 13:19] #2855 closed, assigned to lanfon72, DaiYuzeng

[2022-10-12 13:21] TachunLin commented on #2750
### Multi nodes upgrade check
1. Check the following files and pods have no error

- [x] logging related pods
[code]
- [x] kube-audit files
  - Check the kube-apiserver has param of audit
[code]
  - The /var/lib/rancher/rke2/server/logs/audit.log have increasing content
[code]

- [x] config file exists
[code]
[code]
- [x] /oem/99_custom.yaml is patched
[code]
[code]

[2022-10-12 13:47] lanfon72 commented on #1662
close as resolved.

Tested on `v1.1.0-rc2`, use `bootorder` to control one-time boot work as expected.

[2022-10-12 13:47] #1662 closed, assigned to chrisho, lanfon72

[2022-10-12 17:35] irishgordo commented on #2274
I checked, Harvester Version: master-937f333c-head - regarding #2905 - and at least from the backend (kubectl interactions) with the script of:
https://github.com/harvester/harvester/issues/2905#issuecomment-1275444771

I see that there is no more switching of the status, out of a run of 100, all came back (granted off by one error in message since iteration started at 1 instead of 0) with a sleep

[2022-10-12 17:40] irishgordo commented on #2274
@ibrokethecloud thanks for all your hard work on this awesome feature - and iterating on the issues through testing that arose! :partying_face:

From everything, I can see, I feel good to go ahead and close this out :smile:

cc: @guangbochen

[2022-10-12 17:43] irishgordo commented on #2274
@guangbochen,
I meant to ask, should we leave this open until the UI has been fully tested, or is it alright to close this out :smile: ?

[2022-10-12 20:02] khushboo-rancher commented on #2894
@TachunLin Thanks for rerunning it, but if you're using SSD you didn't have to increase the job deadline. Just to check the default deadline is okay for an SSD disk.

[2022-10-12 20:50] irishgordo commented on #2874
@WuJun2016 this looks good to me :smile:  thanks for the fix!

Testing on Harvester Version: master-937f333c-head  (10/12)

I used, ubuntu-focal-server cloud-img, to provision the private Docker Registry with:
[code]

![Screenshot from 2022-10-12 13-41-23](https://user-images.githubusercontent.com/5370752/195443655-5da03e69-5999-4eba-9e58-cd9ff122738d.png)

And validated that we can edit the conta

[2022-10-12 20:50] #2874 closed, assigned to irishgordo, WuJun2016

[2022-10-12 22:54] ibrokethecloud commented on #2905
This is fixed in  master builds.

[2022-10-12 23:03] irishgordo commented on #2011
@FrankYang0529 I was looking into validating this, did we want to validate on `master-head` from v2.6.9-rc3 to v2.6.9-rc4?

On Harvester Version: master-937f333c-head (10/12)
With qemu/kvm

I was able to apply:
[code]
Initially there were some errors in the log it looked like (deployments/rancher):
![Screenshot from 2022-10-12 15-29-06](https://user-images.githubusercontent.com/5370752/195462678-4

[2022-10-13 01:51] Vicente-Cheng commented on #2893
Update the root cause here.

I thought that the issue happened with the side-effect when we try to resolve the apiserver issues ([[BUG] Upgrade: kube-apiserver is not ready after node reboots](https://github.com/harvester/harvester/issues/2865#top)).

We remove the `kube-apiserver` YAML so the kubelet would wake up `kube-apiserver` after the other static pods but the `kube-controller-manager` need

[2022-10-13 01:54] noahgildersleeve opened #2925 "[BUG] Error when opening PCI device in dashboard"
**Describe the bug**

When you click on a PCI device name in the PCI devices section of settings you get an error
**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Harvester
2. Navigate to PCI devices page
3. Click on one of the device names

**Expected behavior**

You should be able to access the item

**Environment**
 - Harvester ISO version: v1.1.0-rc2
 - Underlying Infrastructure (e.

[2022-10-13 03:26] tjjh89017 commented on #1055
Testing UI: https://yuzeng-dev.oss-cn-beijing.aliyuncs.com/dashboard/storage-network-new/index.html

## Test Step

### Test1

1. Shutdown all VMs
2. setup vlan config & cluster network
3. set settings named "storage-network" with value below in Harvester settings
[code]
6. wait and check Longhorn settings "storage-network" is "storagenetwork-XXXXXXXXXXX".
7. check Longhorn `instance-manager-e-XXXX

[2022-10-13 03:47] WuJun2016 commented on #2925
@mantis-toboggan-md    I want to confirm, do we support clicking to the details page ?

[2022-10-13 05:08] TachunLin commented on #2906
Verified fixed on Harvester `master-5ee476dd-head` (10/12) with `Longhorn v1.3.2-rc2` merged.

### Test Result
* Pass 586 rounds of the I/O write test, did not encounter data corruption issue and VM is alive
[code]

### Test Information
* Test Environment: 3 nodes harvester on local kvm machine
* Harvester version: `master-5ee476dd-head` (10/12)

### Verification steps
Execute the python script pr

[2022-10-13 06:04] TachunLin commented on #2906
#### Pass the following volume operation regression test:
1. Create volume (Harvester, Longhorn storage class)
2. Create volume from image
3. Unmount volume from VM
4. Delete volume in use and not in use
5. Export volume to image
6. Create VM from the exported image
7. Edit volume to increase size
8. Delete volume in use
9. Clone volume
10. Take volume snapshot
11. Restore volume snapshot

[2022-10-13 06:42] TachunLin commented on #2906
Verified fixed on Harvester master-5ee476dd-head (10/12) with Longhorn v1.3.2-rc2 on data corruption.
And also pass the volume related regression test as listed above. Close this issue.

[2022-10-13 06:42] #2906 closed, assigned to Vicente-Cheng, TachunLin

[2022-10-13 07:44] n313893254 opened #2926 "[BUG] Cannot edit storage class when adding volume on edit VM page"
**Describe the bug**

Cannot edit storage class when adding volume on edit VM page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to edit VM page
2. Go volume tab
3. Click the "Add Volume" button

**Expected behavior**

"Storage class" should be editable

**Support bundle**

**Environment**
 - Harvester ISO version:
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630):

[2022-10-13 07:46] bk201 commented on #2920
https://github.com/longhorn/longhorn/issues/4705 is closed, and the issue is supposed to be included in the v1.3.2 formal release.

[2022-10-13 09:01] TachunLin commented on #2750
Check the UI of `Monitoring & Logging` work as in fresh installed cluster after upgrade to `v1.1.0-rc2`

* Cluster Outputs
![image](https://user-images.githubusercontent.com/29251855/195548105-8c303a21-77b6-4d27-b127-314579f3dd0c.png)

* Cluster Flows
![image](https://user-images.githubusercontent.com/29251855/195548149-cd95cca6-76b5-421c-ae4a-ee8fc37746bf.png)

* Logging configuration
![image](ht

[2022-10-13 09:03] TachunLin commented on #2750
Check the audit and event log have applied after upgrading from v1.0.3 to v1.1.0-rc2 in above test plans.
Close this issue

[2022-10-13 09:03] #2750 closed, assigned to DaiYuzeng, TachunLin, w13915984028, joshmeranda

[2022-10-13 09:30] bk201 opened #2927 "[EPIC] Dependencies bump for v1.1.0"
We need to bump these dependencies for v1.1.0-rc3
- [x] Rancher v2.6.9.
- [x] RKE2 v1.24.7+rke2r1
- [x] Longhorn v1.3.2

[2022-10-13 09:49] n313893254 opened #2928 "[BUG] Clone default storage also clone the default annotaion"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Advanced -> Storage Classes
2. Clone a storage class which is the default

**Expected behavior**

The storage class which is cloned from the default storage class should not be the default.

**Support bundle**

**Environment**
 - Harvester ISO version:
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R

[2022-10-13 10:27] Vicente-Cheng commented on #2920
related error message:

[code]

According to above error message, we could see the volume `pvc-b7e36bb2-e14b-492a-9b2c-31ab140b689c` rebuild fail.
As the following figure.
<img width="1425" alt="截圖 2022-10-13 下午6 19 35" src="https://user-images.githubusercontent.com/1615081/195572718-eed9a8ac-e164-4901-b657-44467c75b79b.png">

The volume could not rebuild successfully so the upgrade would be stuck

[2022-10-13 10:46] WuJun2016 commented on #2845
Hi, @ibrokethecloud  The addon function for UI has been completed, here are some test steps, can you help to see if there is anything to add ?   thanks https://github.com/harvester/dashboard/pull/465#issue-1402917555

cc @irishgordo

[2022-10-13 12:42] TachunLin opened #2929 "[BUG] All title content in Rancher create loadBalancer Add-on Config page display incorrectly with %variable_name%"
**Describe the bug**

Open the Create loadBalancer Add-on Config page in Rancher RKE2 cluster management page.
All title value displayed incorrect %variable_name%

![image](https://user-images.githubusercontent.com/29251855/195595283-7cfa3fe1-27a2-4891-9a65-98eb8f388c8f.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Import Harvester to Rancher
2. Create cloud credential
3. Provision an

[2022-10-13 13:15] w13915984028 opened #2930 "[BUG] Remove `main server` from harvester doc server_url"
**Describe the bug**

The `main server` is confusing in https://docs.harvesterhci.io/v1.0/install/harvester-configuration/#server_url

![image](https://user-images.githubusercontent.com/31133476/195606275-ef8abc76-c69d-4e03-a68d-90eed8523669.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'

**Expected behavior**

**Support bundle**

**Environment**
 - Harvester ISO version:

[2022-10-13 13:21] FrankYang0529 commented on #2011
Hi @irishgordo, thanks for your detailed test! Yes, I think the process is expected. Another way to test this issue is that bump harvester from v1.0.3 to v1.1.0-rc2 and check whether the version of `fleet-controller` is changed. Thank you 👍

[2022-10-13 13:34] WuJun2016 commented on #2929
Hi,  @mantis-toboggan-md   can this issue still be merged into rancher 2.6.9 after the fix ?    If it still merges, can you help fix it?  thanks

[2022-10-13 13:59] bk201 opened #2931 "[BUG] Upgrade: apply_manifest.sh needs to run twice to succeed"
**Describe the bug**

Doing an upgrade from v1.0.3 to v1.1.0-rc2 and we often see the apply_manifest.sh fails once with:
[code]

The job will restart again, and eventually, it will succeed.

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade from v1.0.3 to v1.1.0-rc2.
2. There is a change to see this error.

**Expected behavior**

We can have a better way of waiting for the `rancher-logg

[2022-10-13 14:03] lanfon72 opened #2932 "[BUG] `Install guest agent` is not checked in default templates"
### Describe the bug
In `v1.0.3`, `Install guest agent` checked by default in all default templates except _windows-iso-image_, but it changed to NOT checked in `v1.1.0-rc2`.

### To Reproduce
Steps to reproduce the behavior:
1. Create VM by default temlates

### Expected behavior
This more like a breaking change of default template, consider user might use _raw image_ template to create VM withou

[2022-10-13 15:47] tlehman commented on #2925
@WuJun2016 There isn't a great need for it now, we can just remove the link and not make it clickable.

[2022-10-13 16:05] irishgordo commented on #2274
I'll go ahead and close this out :smile:

[2022-10-13 16:05] #2274 closed, assigned to irishgordo, ibrokethecloud

[2022-10-13 18:09] irishgordo commented on #2905
This stays at "AddonDeploySuccessful" on Harvester Version: master-937f333c-head.

Tested for 5x what was previously tested.
500 runs. Status stays on correct value.

[test_results_2905.log](https://github.com/harvester/harvester/files/9779433/test_results_2905.log)

This looks great!
Thanks for the fix @ibrokethecloud :smile:  - I'll go ahead and close this out :+1:

[2022-10-13 18:09] #2905 closed, assigned to irishgordo, ibrokethecloud

[2022-10-13 18:36] noahgildersleeve commented on #2925
Also @WuJun2016 If you click the triple button and click `edit YAML` or `Clone` it will give you that same error.

[2022-10-13 18:56] w13915984028 opened #2933 "[BUG] harvester-installer suppress warning `time stamp ... in the future`"
**Describe the bug**

Sometimes, `harvester installer`  report following warning when `make iso`

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. git clone harvester-installer master-head
2. make iso

sometimes, such warning is there.

The root cause is, sometimes, the build container's time is faster than the host, the `tar` will complain it by default.

**Expected behavior**

Withou

[2022-10-13 19:29] irishgordo opened #2934 "[BUG] Cloud Config User Data that was entered prior to clicking "create new" under User Data Template, disappears"
**Describe the bug**
When creating a VM, under Advanced Options, Cloud Config User Data, if user is filling out Cloud Config information for that VM, if the user decides to click "Create New" under User Data Template, that user, if they then "close" out of the "Create New User Data Template" editing module, they will loose all the Cloud Config YAML that they had entered in the previous editor.

**

[2022-10-13 19:32] w13915984028 commented on #2933
Change the `harveser-installer` make script will fix the warning message generated inbetween `make iso`.

It does not require test plan, and dose not need to be verified by QA.

[2022-10-13 19:51] noahgildersleeve commented on #992
Tested with custom ISO including some of the PCI fixes `master-937f333c-head`.

I tried to follow the steps [here](https://github.com/harvester/tests/issues/529)

Got errors when trying to start the VM after attaching the PCI device
![Greenshot 2022-10-13 11 53 55](https://user-images.githubusercontent.com/83787952/195695818-716ab2ce-6ae2-488b-b850-58ef49c6df72.png)

[2022-10-13 19:58] noahgildersleeve commented on #992
I checked with @tlehman and there is apparently a fix for this in the most recent build of harvester/pcidevices. He's currently putting in a PR for it, but it will require a new build before testing. We might be able to build the ISO locally and test it.

[2022-10-13 20:36] mantis-toboggan-md commented on #2929
Hey @WuJun2016, yes this is small enough to still go in 2.6.9.  I have fixes merged in rancher/dashboard `master` and `release-2.6.9`. The harvester/dashboard port is here: https://github.com/harvester/dashboard/pull/470

[2022-10-13 21:14] irishgordo commented on #2894
@TachunLin @bk201 thanks for sharing the workaround.
I ran into a similar situation in my homelab currently where this same thing occurred.  But the workaround seems to have fixed it.
Should we mention this workaround in release notes for v1.1.0?
I was running an instance of Harvester that was virtualized, not running on bare metal, using /vda based mount point for virtio drive - the underlying ha

[2022-10-13 22:32] irishgordo commented on #2011
@FrankYang0529 thanks for providing me a bit more insight :smile: !
So checking the second case you mentioned, upgrading from `v1.0.3` on a single-node to `v1.1.0-rc2` - seems to have worked, from the `fleet-controller`:
[code]

I found that it was necessary to implment the workaround as mentioned here:
https://github.com/harvester/harvester/issues/2894#issuecomment-1276142797

In order to have th

[2022-10-13 22:32] #2011 closed, assigned to FrankYang0529, irishgordo

[2022-10-13 23:18] noahgildersleeve opened #2935 "[Enhancement] Add disk space checking before upgrading"
**Is your feature request related to a problem? Please describe.**

Add a check for cluster resource before completing an upgrade.

**Describe the solution you'd like**

Add a validation webhook and reject creating an upgrade if:

- Node space is not enough. We need ~25GB of free space to preload images.
- ~CPU/memory is not enough.~ (move to another ticket, this is used to trace disk space only)

[2022-10-13 23:19] noahgildersleeve commented on #2833
I checked and we are moving part of this ticket into another ticket

I'm creating a new ticket [here](https://github.com/harvester/harvester/issues/2935) to track it and closing this ticket as complete.

[2022-10-13 23:19] #2833 closed, assigned to FrankYang0529, noahgildersleeve

[2022-10-13 23:47] albertkohl-monotek opened #2936 "[Question] time and interface mapping"
is there a better spot to ask questions? seems the slack channel is relatively dark.

got 3 questions if possbile.

- any pointers on how i can set timezone of my nodes after already forming a cluster?
- is there a way to prevent vms from syncing time with the host? (windows vms specifically)
- how do i map non-default networks to specific interfaces? in my case, i want to map eno4 to a specific n

[2022-10-14 00:27] noahgildersleeve commented on #1986
Tested in Harvester `master-61a6124a-head` and Rancher `v2.6.9-rc4`.

When trying to create a template with a cluster member in harvester-public NS I got this error again.

![Screenshot_20221013_172532](https://user-images.githubusercontent.com/83787952/195735400-d1163cf8-039a-4459-9842-0bee1486abe4.png)

[2022-10-14 00:30] noahgildersleeve commented on #2650
Tested in Harvester master-61a6124a-head with previous steps

When removing the `cluster-registration-url` in Harvester you now get a notification

![Screenshot_20221013_172831](https://user-images.githubusercontent.com/83787952/195735719-ccff6a44-3829-4cdc-88cc-25569d2e401e.png)

[2022-10-14 00:30] #2650 closed, assigned to FrankYang0529, WuJun2016, noahgildersleeve

[2022-10-14 01:04] irishgordo commented on #2907
@starbops I was curious is it possible to leverage a `version.yaml` to upgrade to `harvester-master-head` with something like:
[code]

[2022-10-14 01:15] irishgordo commented on #2880
@ibrokethecloud - if I recall correctly this has been implemented, and I didn't see any issues with it from the last testing, correct?

[2022-10-14 01:15] irishgordo commented on #2879
@ibrokethecloud - if I recall correctly this has been implemented, and I didn't see any issues with it from the last testing, correct?

[2022-10-14 01:24] irishgordo commented on #2880
@ibrokethecloud - I'll be closing this out :smile: as this was checked in the last set of testing in:
https://github.com/harvester/harvester/issues/2274

[2022-10-14 01:24] #2880 closed, assigned to ibrokethecloud

[2022-10-14 01:24] irishgordo commented on #2879
@ibrokethecloud - I'll be closing this out :smile: as this was checked in the last set of testing in:
https://github.com/harvester/harvester/issues/2274

[2022-10-14 01:24] #2879 closed, assigned to ibrokethecloud

[2022-10-14 01:58] irishgordo commented on #2902
Closing this out, as I wasn't understanding how backing images were built with longhorn :smile:
Apologies for the spam @ibrokethecloud & @guangbochen

[2022-10-14 01:58] #2902 closed, assigned to ibrokethecloud

[2022-10-14 01:58] Aixleft723 commented on #2936
@albertkohl-monotek  Can you provide me with a document? which is about the migrate vms

[2022-10-14 02:00] starbops commented on #2907
Yes, I do the upgrade tests like this every time when I build a new ISO image. Just swap the image name in the `isoURL`. For testing, you can solely provide the `isoURL` under `spec`, it will work.

[2022-10-14 02:58] irishgordo commented on #2907
@starbops thanks for looking at that :smile:

I think I was just needing to wait a bit.
From the UI it looks somewhat upgraded.
But I'm noticing that on "Upgrading System Service" it seems to be hung at 50%.
All the nodes have "Images preloaded".

From:
[code]

I notice:
[code]

Prior to upgrade for v1.0.3, I did:
[code]
Where `/tmp/fix.yaml` was:
[code]
And did:
[code]

It seems that there are lo

[2022-10-14 03:45] futuretea opened #2937 "[BUG] installer crashes after inputting hostname"
**Describe the bug**

![screenshots](https://user-images.githubusercontent.com/15064560/195757446-04b95ad0-9c16-45ee-b416-0fd74efa8d26.gif)

![image](https://user-images.githubusercontent.com/15064560/195759190-73efdfaf-9c83-43e9-8912-cbd13154fcac.png)

**To Reproduce**
Steps to reproduce the behavior:
1. use the master-head iso from https://releases.rancher.com/harvester/master/harvester-master-a

[2022-10-14 04:17] FrankYang0529 opened #2939 "[Enhancement] Refactor upgrade_repo and upgrade_controller"
**Enhancement**
Refactor [`UpgradeRepo`](https://github.com/harvester/harvester/blob/61a6124ad7952e0b553cd4047ba1e1f99d22a2c0/pkg/controller/master/upgrade/upgrade_repo.go#L72) and [`upgradeHandler`](https://github.com/harvester/harvester/blob/61a6124ad7952e0b553cd4047ba1e1f99d22a2c0/pkg/controller/master/upgrade/upgrade_controller.go#L88), so we don't need to initialize `UpgradeRepo` for every ne

[2022-10-14 04:30] yaocw2020 commented on #2828
Test plan:
- Create a vlanconfig matching all the nodes.
- Create another one. The webhook will deny it.

[2022-10-14 05:11] bk201 commented on #2937
@futuretea, what's the VGA card? It looks like the dimension is too small to contain all widgets.

[2022-10-14 05:30] bk201 commented on #2907
@irishgordo From the log, it's waiting for longhorn to upgrade instance-manager-r pod. Can you see if there are any abnormal volumes in Longhorn GUI?
[code]

[2022-10-14 05:42] tjjh89017 commented on #2937
Do you use VM to test?
Could you provide Libvirt XML for us to test?
thanks a lot

[2022-10-14 05:54] Martin-Weiss commented on #2935
Adding check is great - thanks!! But - just to be sure to be sure - please add the documentation what to do in case a check fails.. ;-)

[2022-10-14 06:27] bk201 commented on #2937
Related to https://github.com/harvester/harvester/issues/2708

[2022-10-14 06:31] guangbochen commented on #2937
there are two ways to workaround, @futuretea can u check if any of them works for u, thanks; move to v1.1.1 and may consider refactoring the network console to a separate page.
- Increasing the VGA resolution. either using some kernel parameters
- Switch to tty2 and manually get IP first. SSH into the node to run the installer

[2022-10-14 06:49] WuJun2016 commented on #1986
The UI part is complete and the rest needs to be enhanced with the backend in v1.1.2.

1. If you use project-member login, the harvester-public namespace should not have the `link.update` interface， because `link.update` determines whether the user can update and create resources

[2022-10-14 07:28] yaocw2020 opened #2941 "[BUG] Harvester network webhook consumes more than 200m CPU resource"
**Describe the bug**

harvester-network-webhook always uses up to 200m CPU(limit resource) during bootstrap. If we kill the pod once, it will become normal.

**To Reproduce**
Steps to reproduce the behavior:
1.  Setup a new Harvester and you'll find that.

**Expected behavior**

**Support bundle**

**Environment**
 - Harvester ISO version:  v1.1.0-rc2
 - Underlying Infrastructure (e.g. Baremetal w

[2022-10-14 07:58] n313893254 opened #2942 "[FEATURE] Reset the NIC input when the NIC does not exist on the selected nodes"
**Is your feature request related to a problem? Please describe.**

Reset the NIC input when the NIC does not exist on the selected nodes

**Describe the solution you'd like**

- Reset the NIC input when the NIC does not exist on the selected nodes
- Add selected node info upon the selected nodes radio buttons

**Describe alternatives you've considered**

**Additional context**

![image](https://u

[2022-10-14 08:51] TachunLin opened #2943 "[BUG] Unable to use the generate addon script to create RKE config yaml for K3s csi and cloud provider"
**Describe the bug**

According to document, we use generate addon config script to install cloud provider and csi driver on Rancher K3s cluster
* cloud provider: https://docs.harvesterhci.io/next/rancher/cloud-provider
* csi driver: https://docs.harvesterhci.io/next/rancher/csi-driver

Create csi driver and cloud provider both display the same error:
`Extracting ca.crt from secret...error: resour

[2022-10-14 09:39] Martin-Weiss opened #2945 "[FEATURE] Show the "maintance" status on the console of the Harvester node"
**Is your feature request related to a problem? Please describe.**
When putting a node into maintenance to i.e. shut it down for hardware fixing (disk or nic replacement etc.) you put it into maintenance and then you have to wait until VMs are moved away.

We also need to drain the node manually to ensure there is no risk for the data in longhorn and then we access the servers console to shutdown

[2022-10-14 09:46] TachunLin commented on #2929
Verified **fixed** on Rancher `v2.6.9-rc4` with latest ui-dashboard-index. Close this issue.

### Result
The title content in Add-on Config page of load balancer can display correctly
![image](https://user-images.githubusercontent.com/29251855/195814916-0fd9edbf-5293-46ad-bb47-1a359934d3d5.png)

### Test Information
* Test Environment: 1 node local kvm machine
* Harvester version: `master-0a9538a1

[2022-10-14 09:46] #2929 closed, assigned to n313893254, TachunLin, mantis-toboggan-md

[2022-10-14 10:15] guangbochen opened #2946 "[FEATURE] Refactor VLAN bridge/bond network setup sequence"
**Is your feature request related to a problem? Please describe.**
When there is a misconfiguration or the `network-controller` contains a bad RBAC, after node reboot, it will remove all the bridge networks and their related PVIDs. As a result, this will bring down the cluster VLAN networks.

**Describe the solution you'd like**
Consider not removing the previous valid bridge network configs upfro

[2022-10-14 11:52] #2933 closed, assigned to w13915984028

[2022-10-14 13:05] w13915984028 commented on #2907
According to upgrade setting, `control-plane` has at most 1 node in upgrade; `worker` is same.

But from the node status, 2 control-node are in upgrading in the same time, it means `rancher`'s control of upgrading sequence is broken.

[code]

The current fix, as a workaround, works, and it may bring another question:

As `Rancher` starts the second `upgrade` of `control-plane node` earlier than ex

[2022-10-14 16:39] lanfon72 commented on #2893
Tested upgrade from `v1.0.3` to `master-61a6124a-head`, not encounter this issue.

will re-test it when `v1.1.0-rc3` released.

[2022-10-14 18:58] noahgildersleeve opened #2947 "[BUG] Can't create VMs"
**Describe the bug**

When you try to create a VM you get an error and a 500 response
**To Reproduce**
Steps to reproduce the behavior:
1. Create a new VM

**Expected behavior**

You should be able to create a VM
**Support bundle**

[supportbundle_d8c81821-1508-4c07-9ea6-eb3af635b671_2022-10-14T18-41-32Z.zip](https://github.com/harvester/harvester/files/9789221/supportbundle_d8c81821-1508-4c07-9ea

[2022-10-14 19:40] irishgordo commented on #2907
@w13915984028 @bk201
End of day yesterday, I had powered off the nodes, but upon booting them up this morning what I was seeing with the upgrade for 10/13/22's master-head - master-61a6124a-head
Had all disappeared:
![Screenshot from 2022-10-14 12-31-12](https://user-images.githubusercontent.com/5370752/195927530-5fa3b62d-9f0c-4287-ba2f-369678b41d46.png)
[supportbundle_a0823d59-1dae-4339-83b7-0f83

[2022-10-14 20:05] irishgordo commented on #2921
![Screenshot from 2022-10-14 13-02-33](https://user-images.githubusercontent.com/5370752/195932372-5cdedc30-8030-4dda-aadc-7a068271ed79.png)

Validated on Harvester Version: master-61a6124a-head

This looks great!
Thanks for the fix @n313893254 !
I'll go ahead and close this out

[2022-10-14 20:05] #2921 closed, assigned to irishgordo, n313893254

[2022-10-14 20:27] irishgordo opened #2948 "[BUG] Default Values Don't Reset To Default After Enabling -> Disabling -> Enabling vm-import Addon"
**Describe the bug**
The default values per:
https://github.com/n313893254/dashboard/blob/c8a2774b953ad4e3172bc66ca3b3be9a503260be/pkg/harvester/edit/harvesterhci.io.addon/vm-import-controller.vue#L24-L32

Are not being brought in if a user enables `vm-import` addon, changes the CPU Limit and Memory Limit for instance.
Allows the deployment to be successful for vm-import.
Then disables the vm-impo

[2022-10-14 20:28] irishgordo commented on #2845
@WuJun2016  -as I've been testing this - I happened to notice this and opened:
https://github.com/harvester/harvester/issues/2948

[2022-10-14 20:30] tlehman commented on #2947
I am also running into this. I found [this issue](https://github.com/kubevirt/hyperconverged-cluster-operator/issues/143) but I don't see anywhere we use the Hyperconverged Cluster Operator.

[2022-10-14 20:58] noahgildersleeve commented on #2913
Tested in master-5149fc95-head.

Verified new section of Settings and also that PCI devices required you to enable it before opening the settings page
![Greenshot 2022-10-14 13 50 57](https://user-images.githubusercontent.com/83787952/195942694-a0816a24-2188-4215-ad52-53146d58dd63.png)
![Greenshot 2022-10-14 13 47 14](https://user-images.githubusercontent.com/83787952/195942697-0d2c12c1-f2ad-4f2e-

[2022-10-14 20:58] #2913 closed, assigned to ibrokethecloud, WuJun2016, noahgildersleeve

[2022-10-14 20:59] noahgildersleeve commented on #2925
Tested in master-5149fc95-head. Verified that the PCI device name is no longer clickable.

![Greenshot 2022-10-14 13 58 03](https://user-images.githubusercontent.com/83787952/195942964-51d42a22-a461-4ebb-b4e7-b3688c827a0a.png)

[2022-10-14 20:59] #2925 closed, assigned to WuJun2016, mantis-toboggan-md, noahgildersleeve

[2022-10-14 21:10] irishgordo commented on #2845
@WuJun2016 I validated that aside from #2948
Everything else checks out :smile:
I can import a VM once it's turned on from OpenStack.
I can use a custom storage class PVC - and it seems to be using that for the backing-image and pvc.
![Screenshot from 2022-10-14 14-03-21](https://user-images.githubusercontent.com/5370752/195944463-18a92b64-5663-4583-98a4-040751ad1755.png)
![Screenshot from 2022-10

[2022-10-14 21:10] #2845 closed, assigned to irishgordo, n313893254, WuJun2016

[2022-10-14 21:14] irishgordo commented on #2928
@n313893254 thanks for the fix :smile:  - :+1:
I validated on Harvester Version: master-61a6124a-head
That this looks good :smile:
![Screenshot from 2022-10-14 14-13-47](https://user-images.githubusercontent.com/5370752/195945084-e6db6921-293e-4002-93bb-06ba9a1bf8f8.png)

[2022-10-14 21:14] #2928 closed, assigned to irishgordo, n313893254

[2022-10-14 21:18] tlehman commented on #2947
on version 1.1.0-rc1, there are virt- pods running that aren't running on 1.1.0-rc3:

## 1.1.0-rc1
[code]

## 1.1.0-rc3

[code]

[2022-10-14 21:22] irishgordo commented on #2864
Still noticing this on Harvester Version: master-61a6124a-head

cc: @ibrokethecloud

[2022-10-14 21:25] irishgordo commented on #2864
![Screenshot from 2022-10-14 14-24-59](https://user-images.githubusercontent.com/5370752/195946423-070e18ae-54b4-46fe-be6c-f26c9b2605b2.png)

[2022-10-14 21:55] irishgordo commented on #2864
![Screenshot from 2022-10-14 14-53-47](https://user-images.githubusercontent.com/5370752/195949752-cef29751-b924-43e8-9e93-562ea6440d98.png)
I validated with a new vm running Harvester Version: master-61a6124a-head
Against another OpenStack enviornment, instead of my homelab openstack, OpenStack in the DC

[2022-10-14 22:07] irishgordo commented on #2864
This is effecting both:
- OpenStack, version stable/train , their VM imports
- vSphere/VMWare, version 6.8, their VM imports

[supportbundle_a97aaa7b-153a-40fb-87f0-c0745d6d4a24_2022-10-14T22-03-18Z.zip](https://github.com/harvester/harvester/files/9790415/supportbundle_a97aaa7b-153a-40fb-87f0-c0745d6d4a24_2022-10-14T22-03-18Z.zip)

![Screenshot from 2022-10-14 15-02-31](https://user-images.github

[2022-10-14 23:45] irishgordo commented on #2926
Thanks for this fix @n313893254  - this looks great :smile: :+1:

Validated on Harvester Version: master-61a6124a-head

![Screenshot from 2022-10-14 16-43-07](https://user-images.githubusercontent.com/5370752/195958336-6d0866d4-2e2a-4171-894b-0011c58fd66a.png)
![Screenshot from 2022-10-14 14-16-39](https://user-images.githubusercontent.com/5370752/195958352-407030e0-5aa2-4b09-b5ff-836b08f7afcb.png

[2022-10-14 23:45] #2926 closed, assigned to irishgordo, n313893254

[2022-10-15 01:06] irishgordo commented on #2864
I believe this is UI related, as I can with kubectl, edit the virtualmachine, changing the Cpu.(cores|sockets|threads) and the limits.cpu & limits.memory for instance - persist those changes and then reboot the VM and it shows.
![Screenshot from 2022-10-14 18-04-10](https://user-images.githubusercontent.com/5370752/195962177-9cacb000-c60b-4197-b50f-6d19a160f904.png)

But that's by editing the VM t

[2022-10-15 17:30] albertkohl-monotek opened #2949 "[Tutorial] how to migrate linux hyper-v guest into harvester"
brief disclaimer, i make no warrents or guarantees that this'll work and or will not harm your pc. this all worked for me, if it doest work for you or causes you any issues, i'm sorry, but TEST TEST TEST. dont trust me, try it yourself in a non-production enviornment.

### Convert Linux Hyper-V Guest to Harvester
_this worked on centos 6.4/7, and ubuntu 20._
_this requires a middle-man linux machi

[2022-10-15 17:58] albertkohl-monotek opened #2950 "[Tutorial] how to migrate windows hyper-v guest into harvester"
brief disclaimer, i make no warrents or guarantees that this'll work and or will not harm your pc. this all worked for me, if it doest work for you or causes you any issues, i'm sorry, but TEST TEST TEST. dont trust me, try it yourself in a non-production enviornment.

### Convert Windows Hyper-V Guest to Harvester
_this worked on windows 10, and server 2008-r2_

**On Hyper-V:**

- Get [qemu-img](