[2022-07-28 11:57] lanfon72 commented on #2583
@guangbochen this probably not UI bug, I checked those default templates, **Model** field is empty.
I think we probably need to update the template configuration in backend.

ref to #2592

[2022-07-28 12:12] WuJun2016 commented on #2589
The reason for this is that the websocket keeps pushing vm-related information, causing the front-end page to be re-rendered all the time (kubevirt.io.virtualmachine, kubevirt.io.virtualmachineinstance).

Moved to v1.1.0 fix.

workaround:  If the websocket push is fast, you can edit this value via yaml.

[2022-07-28 12:22] TachunLin commented on #2382
Verified **fixed** on `v1.0.3-rc1` (7/22). Close this issue.

### Result
Checked can pass the following test scenarios.

1. Install **first** node, the role of this node should be `Management Node`
[code]
2. Install **second** node, the role of this node should be `Compute Node`, the second node shouldn't be promoted to `Management Node`
[code]

3. Add label topology.kubernetes.io/zone=zone1 to th

[2022-07-28 12:22] #2382 closed, assigned to futuretea, TachunLin

[2022-07-28 14:16] moroniflores commented on #2322
When is v1.2.0 expected to be released?

[2022-07-28 14:22] futuretea commented on #2470
@jzmatrix Hi, are you use the vip as the management address during installation?
![image](https://user-images.githubusercontent.com/15064560/181540078-e4d43658-9910-4b2b-86e3-664748f59ed1.png)

[2022-07-28 14:23] guangbochen commented on #2583
@lanfon72 yes we can mitigate the issue by setting the template's network model value to `virtio`, and it would be good to fix another template issue https://github.com/harvester/harvester/issues/2592 at the same time.

But what I mean in the above comment is that the model field is optional, so when it is either empty or not specified, it will always default to use `virtio` driver when converting

[2022-07-28 14:33] futuretea commented on #2202
Currently (1.0.3),  `Clone` only means `clone yaml` in Harvester

[2022-07-28 14:35] guangbochen commented on #2526
Need to update the [Create a Windows VM page](https://docs.harvesterhci.io/v1.0/vm/create-windows-vm/#header-section) to include more details of both Windows installation steps and related driver configurations. e.g.,
- pre-requisite and known limitations (e.g. increase reserved memory for Windows VM with memory size >= 8G https://github.com/harvester/harvester/issues/2522#issuecomment-1192314750)

[2022-07-28 14:54] lanfon72 opened #2593 "[BUG] Templates' OS Type will not be applied when creating VM"
### Describe the bug
The value of template's OS Type will not be loaded when creating VM by the template.

### To Reproduce
Steps to reproduce the behavior:
1. Install Harvester with any nodes
2. Navigate to _Advanced/Tempalte_, create a template `temp-windows` and select `OS Type` as **Windows**
3. Create VM, check `Use VM Template` then select `temp-windows`
4. In _Advanced Options_, `OS Type` s

[2022-07-28 15:16] guangbochen commented on #2591
Deleting a namespace will automatically remove all the resources on that namespace is expected behavior in the k8s, we may just add more proper description on the pop-up dialog. e.g, change the words to:

`Deleting the namespace will remove all the resources on this particular namespace and this is not revertable, are you sure you want to continue deleting the Namespace xxx.`

<img width="410" alt

[2022-07-28 15:21] guangbochen commented on #2590
External Harvester node driver is still an experimental support feature, but would be good if we can take a look at this issue, thanks cc @yaocw2020

[2022-07-28 15:33] irishgordo commented on #2563
@WuJun2016 it looks like harvester/dashboard#392 got moved back to a draft PR, since it's not been merged into harvester/dashboard:release-harvester-v1.0 - I can move this back to Implementation if that works :smile: ?  I can re-validate / re-review later on this :+1:

[2022-07-28 17:51] noahgildersleeve commented on #2574
Tested with Harvester v1.0.3-rc1 and Rancher v2.6.7-rc5. Verified as fixed.

## Verification Steps

1. import a harvester cluster through virtualization management (in rancher)
2. Delete cluster

[2022-07-28 17:51] #2574 closed, assigned to slickwarren, n313893254, noahgildersleeve

[2022-07-28 18:21] irishgordo commented on #2590
@TachunLin
@guangbochen

Working through [Setting Up Experimental External Harvester Cloud Credential](https://harvester.github.io/tests/manual/harvester-rancher/42-add-cloud-credential-kubeconfig/) - I was able to reproduce this same issue with the following setup:

#### Environment:
**Harvester Node:**
- bare-metal Dell PowerEdge R720:
    - 64GB DDR3 ECC RAM
    - 2 x Intel(R) Xeon(R) CPU E5-26

[2022-07-28 18:41] noahgildersleeve commented on #2572
@guangbochen I rebuilt my VM that I was running Rancher on and re-deployed it. During subsequent testing I couldn't reproduce the issue. I'm running through some more integration tests and will keep an eye out for the issue. I haven't seen it since the re-deploy though and I haven't heard of anyone else having the issue during testing.

[2022-07-28 21:24] abonillabeeche commented on #2322
Early Summer 2023 perhaps.

[2022-07-28 21:28] yasker commented on #2322
Yeah, H1 2023 is the planned date for v1.2.0

[2022-07-28 22:04] PhanLe1010 commented on #2581
If there is a replica on node01, the ongoing writing action is broken because Longhorn return error for that IO. However, when the application (the dd command) retry the write it should succeed. Can we double check if there is a replica on node01?

[2022-07-28 22:29] PhanLe1010 commented on #2013
@w13915984028

Like you mentioned, when a Longhorn volume is crashed (turn off the node where engine is running on, the instance-manager-e-xxx of the engine process is crashed, ...) then Longhorn delete the workload pod so Kubernetes can try the whole flow: unmount -> detach -> attach -> mount -> start the pod again.

There is not an easy wait to remount the PVC without restarting the container th

[2022-07-29 01:20] WuJun2016 commented on #2563
I'm waiting for the rancher team to review the code, if there are no more problems, I will merge it on my side.

[2022-07-29 02:37] futuretea commented on #2062
Can the following command work?
[code]

[2022-07-29 04:32] fanlix opened #2595 "[Question] vm volume cost too much space"
## Vm running for a month
* volume setup 50G
* df shows 30% usage
* actual cost 105G physical disk space. (200% setup size.   700% data size)

![hv-volume-size](https://user-images.githubusercontent.com/987637/181679801-6d70aab9-3ae4-418e-987c-ad2e987da8c7.PNG)

### longhorn doc about volume size
* https://longhorn.io/docs/1.3.0/volumes-and-nodes/volume-size/

## question
* is there any hidden sna

[2022-07-29 07:37] bk201 commented on #2595
@fanlix Does the volume contain some snapshots?
You can click the volume and hover the mouse on snapshots to see their space usage.

[2022-07-29 07:56] w13915984028 commented on #2595
LH has a good writing explaining the `volume size` and `actual size`, please take a look.

https://longhorn.io/docs/1.3.0/volumes-and-nodes/volume-size/

[2022-07-29 08:22] bk201 opened #2597 "[BUG] Increase timeout of upgrade-related jobs"
**Describe the bug**

There are situations that require more time to do upgrade works: for example, preloading images in slow machines.
We can increase the timeout of the job to 30 mins. (currently the timeout is a value set by Rancher: https://github.com/rancher/charts/blob/5fe461abc6d5cc96cd4cea896c838660bd33e151/charts/system-upgrade-controller/100.0.3%2Bup0.3.2/templates/configmap.yaml#L9)

**

[2022-07-29 08:25] Iliasb commented on #2585
4 Nodes

[2022-07-29 08:25] tgazik commented on #2581
i tried now again and check the volume in longhorn, it was healthy and running on all 3 nodes and it was attached to the node where VM was running. I run dd command and turned off again the rest 2 nodes. The result was same, VM is frozen and after nodes came back online i can see in GUI that IO error which i pasted above.

[2022-07-29 08:32] w13915984028 commented on #2013
@PhanLe1010

When `Harvester` is rebooting, the `prometheus`, `grafana` will takes about 90+ additional seconds to be ready than other PODs.  As they will be deleted until LH decides to, and then there is a long path as you said `unmount -> detach -> attach -> mount -> start `.

If the user login into Harvester dashboard asap, they will get a blank page of `grafana` metrics, until those PODs are r

[2022-07-29 08:36] w13915984028 commented on #2597
Is there an easy way for user to customize this value, or add it to `harvester setting`?  It really depends on the hardware performance,  increase the default timeout may not solve all scenarios.

[2022-07-29 08:54] w13915984028 commented on #2013
@PhanLe1010

Back to this issue https://github.com/harvester/harvester/issues/2013 itself:

As `prometheus` has only 1 replica of POD to deply, in a multi-NODE Harvester cluster, each `rebooting` of cluster, will see that the `promethes` POD floats to different NODE.  That's the naming of this issue `unstable deployment of POD prometheus-0`, until yesterday I knew exactly who deletes the POD.

Aga

[2022-07-29 09:44] DaiYuzeng opened #2598 "[BUG]Polish harvester machine config"
**Describe the bug**

https://github.com/harvester/dashboard/pull/391#pullrequestreview-1055169778

1. Namespace options of pod affinity should be in harvester cluster.

<img width="1673" alt="image" src="https://user-images.githubusercontent.com/24985926/181735326-c1562fc6-dd90-44ba-bae3-09fc572a9bb9.png">

2. If is a imported cluster, the namespaces field should be selectable.
4. The namespace i

[2022-07-29 10:45] w13915984028 commented on #2013
An roughly timeline of a single-node Harvester cluster rebooting:
[code]

[code]

Following PODs, the AGE is not `8d`, are PODS that are replaced after rebooting

[code]

[2022-07-29 10:56] Iliasb commented on #2585
Found the issue.
etcdserver/api/etcdhttp: /health error; no leader (status code 503)

How can I select another node as master?

[2022-07-29 13:44] chrisho commented on #2588
After testing and verification,  RKE v1.23 has no reproduction issues, but RKE2 v1.24-rk2 needs to reserve enough memory, at least 3G running Kube service, and the resource.request.memory is configured in the static pod file.
When you test RKE again, you can try to configure more memory for machines.

<img width="1525" alt="image" src="https://user-images.githubusercontent.com/3347460/181778269-1c

[2022-07-29 14:01] megabreit commented on #2597
I ran into this problem when I did test updates in the virtual box vm at a "slow" internet connection (16 MBit/s).
Maybe it's a good idea to make this value configurable. But it might not be the only parameter. E.g. I also saw the service vm startup timing out.

[2022-07-29 16:16] irishgordo commented on #2510
I was noticing similar behaviors @w13915984028 - was also curious about the ReplicaSet that builds the cattle-cluster-agent / ensures that at most two of the cattle-cattle-cluster-agent are running.  Sometimes it also seemed that when a modification was made to the cluster-registration-url, that change doesn't take effect for some time.

[2022-07-29 17:06] radioflyer28 opened #2599 "[Question] Is it not recommended to deploy directly to Harvester's kubernetes cluster?"
Is it not recommended to deploy directly to Harvester's kubernetes cluster? I ask because Harvester already sets up a cluster that can be managed by kubectl and its existing Rancher install (see link below) before even bothering with a separate Rancher server. I'm on the learning curve of Kubernetes, so please set me straight.
https://[your cluster ip]/dashboard/c/local/explorer

The docs show a s

[2022-07-29 19:23] PhanLe1010 commented on #2581
Can we have yaml for the VM, PVC, PV, longhorn volume, volume replicas, volume engine?

[2022-07-30 12:34] raddah commented on #2422
@tjjh89017, I have used it with different CIDR address not only /32,  I will try to use it in the VM later on with different configuration and update bake asap.

[2022-07-30 15:57] esakarya opened #2600 "[Question] how can i change args during installation."
I have a cluster running with RKE2.
I'm thinking of switching to Harvester...

In the RKE2 installation, I was able to make settings as follows from config.yaml.

[code]

In https://docs.harvesterhci.io/v1.0/install/harvester-configuration/ I couldn't find any information where to put similar settings.
**Can you give an example about this?
And how can I move my old RKE2 cluster to Harvaster?**

[2022-07-31 14:51] tjjh89017 commented on #2422
It's not easy to reproduce.
Hope you could provide more configuration in different env.
tks a lot

[2022-08-01 03:15] futuretea commented on #1979
@tuijs Test this issue in v1.0.2
UI will show all IPs in the `IP Address`
![image](https://user-images.githubusercontent.com/15064560/182065057-54b2fec7-74c8-478c-9299-06351999f458.png)

[2022-08-01 03:51] guangbochen commented on #2558
@w13915984028, can u please help to bump the [dynamiclister](https://github.com/harvester/harvester/blob/master/go.mod#L74) of both the master and v1.0 branches, thanks.

[2022-08-01 04:37] futuretea commented on #2599
Refer to https://docs.harvesterhci.io/v1.0/troubleshooting/harvester/#access-embedded-rancher
We only support to use the embedded Rancher dashboard for debugging and validation purpose

[2022-08-01 05:37] TachunLin commented on #2569
Verified **fixed** on `v1.0-b6244fcd-head` (220801, backport v1.0). Close this issue

### Result
On v1.0.3 backport, when we press the `Enter` key in the following page fields, it will not being refreshed automatically.

* Cluster registration
![image](https://user-images.githubusercontent.com/29251855/182070054-6dbaa021-f1de-436e-8117-bd3ece64dfea.png)

* ui-index
![image](https://user-images.git

[2022-08-01 06:09] #2569 closed, assigned to WuJun2016, TachunLin

[2022-08-01 06:29] TachunLin commented on #2573
Verified **fixed** on Rancher `v2.6.7-rc5` with Harvester `v1.0.3-rc1`. Close this issue.

### Result
* Now when clicking the `...` of the cluster in virtualization management page,
  ![image](https://user-images.githubusercontent.com/29251855/182082933-b1522f4a-d6d8-4259-9363-b0d666786a9f.png)

* Check can open the following function and work as expected
  - Kubectl
  - Download KubeConfig
  - Co

[2022-08-01 06:29] #2573 closed, assigned to slickwarren, n313893254, TachunLin

[2022-08-01 06:54] futuretea commented on #2026
Can not reproduce this issue in v1.0.3-rc1
1. before create  vm
![1211342f97eddd1337b3a60699ee8a8](https://user-images.githubusercontent.com/15064560/182089317-38032a71-3d42-4887-b9d2-6536dbff78c6.jpg)
2. create vm in the node `harv103-rc1-3`
![f6bd4c322b68021e589ff0db55b23c1](https://user-images.githubusercontent.com/15064560/182089532-f20fdbde-006d-414b-90de-a35039b61a99.jpg)
3. after migrate vm

[2022-08-01 07:19] TachunLin commented on #2578
Verified **not fixed** on Rancher `v2.6.7-rc5` with Harvester `v1.0.3-rc1`. Move the issue to implement

### Result
While accessing Harvester virtual machine page from Rancher virtualization management
Under all `All Namespaces` we still can't see the custom namespace `test-vm` and related vm `test-vm-1`
![image](https://user-images.githubusercontent.com/29251855/182092099-8baf85b4-e615-4393-bfed-

[2022-08-01 07:19] w13915984028 commented on #2558
@guangbochen  Please double check v1.0

The `dynamiclistener` used in Harvester v1.0 branch, seemed does not have this issue, it was caused by later change, we may keep v1.0 unchanged:

github.com/rancher/dynamiclistener v0.3.1-0.20211104200948-cd5d71f2fe95  //// Harvester v1.0 go.mod, it's v.0.3.1, but at 2021.11.04

https://github.com/rancher/dynamiclistener/releases/tag/v0.3.1  //// formal rela

[2022-08-01 07:26] n313893254 commented on #2578
Hi, @TachunLin. Could you set `ui-offline-preferred: Remote` and verify again? I think the server loaded the local UI-index which does not contain the commit.

[2022-08-01 07:30] futuretea commented on #2411
With this method, in theory, all data saved on the disk should be migrated except the snapshots.
CPU and memory need to be set manually.

[2022-08-01 07:36] Vicente-Cheng commented on #2053
The root cause is related to the issue https://github.com/longhorn/longhorn/issues/4305

[2022-08-01 07:56] futuretea commented on #2557
cannot reproduce this issue in 1.0.2, can you provide support bundle?
https://docs.harvesterhci.io/v1.0/troubleshooting/harvester/#generate-a-support-bundle

[2022-08-01 08:19] guangbochen commented on #2558
Cool thanks, let's move the issue target milestone to v1.1.0.

[2022-08-01 08:45] lanfon72 opened #2604 "[BUG] Terraformer imported VLAN always be `0`"
### Describe the bug
The generated `vlan_id` always be `0` in generated configuration

### To Reproduce
Steps to reproduce the behavior:
1. Install Harvester with any nodes
2. Login to dashboard, navigate to _Advanced/Settings` then enabled `vlan`
3. Navigate to _Advanced/Networks_ and Create a Network which `Vlan ID` is not `0`
4. Navigate to `Support` Page and Download KubeConfig file
5. Initial

[2022-08-01 09:10] yaocw2020 commented on #2590
The reason for this issue is clear now. Using the external cloud credential to create a guest cluster(rke1 or rke2) with the harvester cloud provider, Rancher frontend could not access the harvester kubeconfig generation API to get the cloud config.
We will forbid harvester cloud provider for this case on the UI in the v1.0.3 release because the external cloud credential is still an experimental f

[2022-08-01 10:30] guangbochen commented on #1979
Seems like a UI filtering issue, @WuJun2016 @n313893254 wondering if this is a known issue or requires some proper fix maybe in v1.1.0.

[2022-08-01 10:36] guangbochen commented on #2556
U may just execute `sudo su` first and then run the `kubectl` command.

[2022-08-01 11:09] crazyelectron-io commented on #2556
Of course... :O)
Thanks.

[2022-08-01 11:09] #2556 closed, assigned to nobody

[2022-08-01 15:35] n313893254 opened #2605 "[BUG] Disable Harvester cloud provider when the credential is external"
**Describe the bug**

Per this [comment](https://github.com/harvester/harvester/issues/2590#issuecomment-1200931573), disable the Harvester cloud provider when the credential is external.

**To Reproduce**
Steps to reproduce the behavior:
1. Access Rancher and import a Harvester cluster
2. Create an external credential
3. Create a RKE1/RKE2 Harvester cluster

**Expected behavior**

The RKE2/RKE1 h

[2022-08-01 16:53] irishgordo opened #2606 "[BUG] rke2-server.service: Failed with result 'exit-code' & rancher-system-agent.service: Failed with 'exit-code'"
**Describe the bug**
Harvester node never becomes "ready" since rke-server.service never actually successfully runs after boot.

**To Reproduce**
- not entirely sure... the only thing changed on the node was there was a point I had physically installed a new NIC on the node, but then quickly realized my hardware switch doesn't support a 10GB backplane, only 1GB, so after powering it on and being i

[2022-08-01 17:05] fivezerosix opened #2607 "[BUG] Additional nodes are failing to be register. Can not finish rancherd bootstrap process"
**Describe the bug**
Additional nodes cannot connect to Initial Master nodes. - It Seems that the `rancherd` service is unable to get the cert from the cacert endpoint.

I tried spinning up the `rancherd` service manually and forcefully to no avail.
![image](https://user-images.githubusercontent.com/33496047/182201907-8bc967b7-518c-4d43-9b14-9d25f7237101.png)

However the host is able to curl the

[2022-08-01 18:35] irishgordo commented on #2563
Reviewed this again :smile:  - looks good, tested off `release-harvester-v1.0` - I'll go ahead and close this out

![works-with-naming](https://user-images.githubusercontent.com/5370752/182219721-bf3b58a8-fced-4c4c-8fe2-9d11c761adff.png)

[2022-08-01 18:35] #2563 closed, assigned to WuJun2016

[2022-08-01 22:12] fivezerosix commented on #2607
Problem was the cluster token.

[2022-08-01 22:24] #2607 closed, assigned to nobody

[2022-08-01 22:43] irishgordo commented on #2606
I'm willing to go ahead and close this, as this could be more related to hardware & a power interruption that it experienced recently. :smile:

[2022-08-02 07:19] WuJun2016 opened #2610 "[BUG] A restore action that does not meet expectations"
**Describe the bug**

A vm is not backed up, but the restore action appears after stopping the vm

**To Reproduce**
Steps to reproduce the behavior:
1. create a vm
2. stop vm
3. Check vm's Action menu，You can see the restore action button
![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/0da1d29b-a18b-4b0e-82f5-497f431bc4e0)

**Expected behavior**

vm is not backed up, the

[2022-08-02 08:27] w13915984028 opened #2611 "[FEATURE] Try to utilize LH's ability to delete POD prometheus-0 when it stucks in a down NODE"
**Is your feature request related to a problem? Please describe.**

In certain situation, the `promethues-0` POD will not recover automatically, the workaround is documented.
https://github.com/harvester/harvester/issues/2243

We find LH can recover POD when it meets specific conditions.
https://github.com/harvester/harvester/issues/2013#issuecomment-1199037608

**Describe the solution you'd like*

[2022-08-02 09:11] TachunLin commented on #2578
Hi @n313893254
By setting `ui-offline-preferred: Remote` and verify it again.
Now I can see the custom namespace test-vm and related vm test-vm-1 from Rancher virtualization management. Close this issue.
![image](https://user-images.githubusercontent.com/29251855/182337711-cd810744-ad6c-4419-8131-c5d4e1f037a6.png)

### Test Information
* Test Environment: 1 node1 harvester on local kvm machine
* H

[2022-08-02 09:11] #2578 closed, assigned to n313893254, TachunLin

[2022-08-02 09:21] janeczku commented on #2522
After configuring 512MiB reserved memory my Windows 2019 Server VM has been running for 10 days without any crash.
CPU: 4
Memory: 8GiB

[2022-08-02 09:41] lanfon72 commented on #2583
Verified this bug has been fixed.

Test Information
----
* Environment: **qemu/KVM 2 nodes**
* Harvester Version: **v1.0-2ddbc24c-head**
* **ui-source** Option: **Auto**
* **ui-index** URL: `https://releases.rancher.com/harvester-ui/dashboard/release-harvester-v1.0/index.html`

### Verify Steps:
- Follow **Steps to reproduce** in https://github.com/harvester/harvester/issues/2583#issue-1319526281

[2022-08-02 09:41] #2583 closed, assigned to lanfon72, futuretea, WuJun2016

[2022-08-02 09:42] lanfon72 commented on #2562
Verified this bug has been fixed.

Test Information
----
* Environment: **qemu/KVM 2 nodes**
* Harvester Version: **v1.0-2ddbc24c-head**
* **ui-source** Option: **Auto**
* **ui-index** URL: `https://releases.rancher.com/harvester-ui/dashboard/release-harvester-v1.0/index.html`

### Verify Steps:
- Follow **Steps to reproduce** in https://github.com/harvester/harvester/issues/2562#issue-1317038041

[2022-08-02 09:42] #2562 closed, assigned to lanfon72, WuJun2016

[2022-08-02 09:42] lanfon72 commented on #2593
Verified this bug has been fixed.

Test Information
----
* Environment: **qemu/KVM 2 nodes**
* Harvester Version: **v1.0-2ddbc24c-head**
* **ui-source** Option: **Auto**
* **ui-index** URL: `https://releases.rancher.com/harvester-ui/dashboard/release-harvester-v1.0/index.html`

### Verify Steps:
- Follow **Steps to reproduce** in https://github.com/harvester/harvester/issues/2593#issue-1321063406

[2022-08-02 09:42] #2593 closed, assigned to lanfon72, WuJun2016

[2022-08-02 09:42] lanfon72 commented on #2589
Verified this bug has been fixed.

Test Information
----
* Environment: **qemu/KVM 2 nodes**
* Harvester Version: **v1.0-2ddbc24c-head**
* **ui-source** Option: **Auto**
* **ui-index** URL: `https://releases.rancher.com/harvester-ui/dashboard/release-harvester-v1.0/index.html`

### Verify Steps:
- Follow **Steps to reproduce** in https://github.com/harvester/harvester/issues/2589#issue-1320585631

[2022-08-02 09:42] #2589 closed, assigned to lanfon72, n313893254

[2022-08-02 09:42] lanfon72 commented on #2592
Verified this bug has been fixed.

Test Information
----
* Environment: **qemu/KVM 2 nodes**
* Harvester Version: **v1.0-2ddbc24c-head**
* **ui-source** Option: **Auto**
* **ui-index** URL: `https://releases.rancher.com/harvester-ui/dashboard/release-harvester-v1.0/index.html`

### Verify Steps:
- Follow **Steps to reproduce** in https://github.com/harvester/harvester/issues/2592#issue-1320799130

[2022-08-02 09:42] #2592 closed, assigned to lanfon72, futuretea

[2022-08-02 09:51] wonleing commented on #2523
I am afraid I am not able to generate 'support bundle' on our system. But I can confirm, this error exist as by default (without any operation on harvester UI)

[2022-08-02 09:54] TachunLin commented on #2577
Verified **fixed** on `v1.0-b6244fcd-head` (08/01). Close this issue.

### Result
Now we can create multiple VM instance using VM template with EFI mode selected

* All VMs are running
![image](https://user-images.githubusercontent.com/29251855/182343361-532a7cee-04de-4a0e-9bc6-803f7cc66e94.png)

* Check VM setting, the booting in EFI mode is checked
![image](https://user-images.githubusercontent.

[2022-08-02 09:54] #2577 closed, assigned to DaiYuzeng, TachunLin

[2022-08-02 12:21] 5aint2ero commented on #947
The proposed solution isn't working anymore, since the 'ip' tool is missing in the container. Propably reinstalling it inside the container would be a solution, but i cloudnt get it to work at the moment.

[2022-08-02 13:45] w13915984028 opened #2615 "[BUG] fix alert VirtOperatorDown"
**Describe the bug**

When enableing `alertmanager`, continuous `VirtOperatorDown` is seeing.

**To Reproduce**
**Without `alertmanager` enabled:**

In below link, VirtOperatorDown alert is there.
https://the-cluster-vip/api/v1/namespaces/cattle-monitoring-system/services/http:rancher-monitoring-prometheus:9090/proxy/

**With `alertmanager` enabled:**

Steps to reproduce the behavior:
1.  Install

[2022-08-02 13:59] w13915984028 commented on #2615
manually query `virt-controller`, has data
![image](https://user-images.githubusercontent.com/31133476/182392684-dfa85090-4ac7-4a8e-a0ec-48c0b6ac6f4b.png)

manually query `virt-handler`, has data
![image](https://user-images.githubusercontent.com/31133476/182392739-fd97e827-7af3-484f-90f9-1aa05146b33b.png)

manually query `virt-operator`, no data
the grafana hint also shows, there is no pod like `

[2022-08-02 14:01] w13915984028 commented on #2615
manually add label
[code]

`prometheus` has data now.
![image](https://user-images.githubusercontent.com/31133476/182393308-ed134953-ccf9-42ad-8f43-0a3fe9935fb0.png)

![image](https://user-images.githubusercontent.com/31133476/182393341-a6a603a3-8894-4166-9ef2-24e6c917256e.png)

[2022-08-02 15:13] grassbl8d opened #2618 "[BUG] Endpoint is still being required even if S3 Backup Type"
**Describe the bug**

In the latest version of Harvester, when I choose the S3 as a backup source. The endpoint is mandatory although the documentation states that if S3 is the type then there it shouldn't be mandatory

**To Reproduce**

Steps to reproduce the behavior:
1. Go to Settings
2. Go to backup target
3. Choose Type as S3
4. Enter all details except endpoint and click on Save.

**Expected

[2022-08-02 19:19] midhunthampi opened #2619 "[Harvester Dash Board CPU Usage is not showing correct value]"
**Describe the bug**

In Harvester Dash board, Under the Capacity reserved CPU is showing only 31% and but actual core usage reached at maximum and couldn't able to create more VM's.

During the VM creation, we are getting these error logs.

VirtualMachineInstance oel7-test-120

Server error. command SyncVMI failed: "LibvirtError(Code=1, Domain=10, Message='internal error: process exited while con

[2022-08-03 02:44] guangbochen commented on #2605
Move the issue to v1.1.0 since the CF date is passed on the upstream rancher repo.

[2022-08-03 08:42] WuJun2016 opened #2621 "[BUG] The backup data in cluster A fails to be used to restore VM in cluster B"
**Describe the bug**

The vm backup data may be shared by more than one harvester, so if the vm backup in cluster `A` goes to restore in cluster `B`, the restore operation will not succeed.

**To Reproduce**
Steps to reproduce the behavior:
1. Create two harvester clusters, A and B
2. Upload an image  in cluster A, create a vm (vm-a), then configure NFS and backup this vm (backup-a)
![image.png](h

[2022-08-03 09:27] bk201 commented on #2621
Related: https://github.com/harvester/harvester/issues/2237

[2022-08-03 10:03] n313893254 opened #2622 "[BUG] Dashboard Storage used is wrong when a node disk is warning"
**Describe the bug**

Dashboard Storage used is wrong when a node disk is warning

**To Reproduce**
Steps to reproduce the behavior:

1. Create a Harvester
2. Create a VM that resources over the node to make the node disk is unschedulable

**Expected behavior**

Dashboard Storage used same as the longhorn UI

**Support bundle**

**Environment**
 - Harvester ISO version: v1.0.2
 - Underlying Infras

[2022-08-03 11:46] lanfon72 commented on #2604
Verified this bug has been fixed.

Test Information
----
* Environment: **qemu/KVM 2 nodes**
* Harvester Version: **v1.0-fc72be9f-head**
* **ui-source** Option: **Auto**
* **ui-index** URL: `https://releases.rancher.com/harvester-ui/dashboard/release-harvester-v1.0/index.html`
* Terraform Provider Version: **master-head** or `> v0.5.0`
* Harvester Terraformer Version: **v1.0.1-harvester**

### Ver

[2022-08-03 11:46] #2604 closed, assigned to lanfon72, futuretea

[2022-08-03 22:32] irishgordo commented on #2559
While the `vm1` is in the 'restoring' state from replace-existing of backup `vm1b2` - then trying to immediately 'replace existing' with `vm1b` I'm noticing that there is an error of:
[code]
![must-wait](https://user-images.githubusercontent.com/5370752/182722180-3e2f606b-beef-4f8b-8f33-8d235587db4b.png)

But then if you wait just a few seconds it does go through
![right-after-works](https://user-

[2022-08-04 03:33] guangbochen opened #2625 "[FEATURE] Add code coverage analysis tools to the Harvester"
**Is your feature request related to a problem? Please describe.**
Need to add code coverage analysis tools to the Harvester.

**Describe the solution you'd like**
Add https://about.codecov.io/ to the harvester repo to improve its code coverage analysis.

[2022-08-04 05:44] FrankYang0529 commented on #2559
Hi @irishgordo, I think that error is added from https://github.com/harvester/harvester/pull/2608. We would like to prevent users from restoring an existing VM which is in the `Restoring` state because this will have a race condition. I think the behavior that you got is expected.

[2022-08-04 06:57] TachunLin opened #2626 "[BUG] Access Harvester project/namespace page hangs with no response timeout with local owner role from Rancher"
**Describe the bug**

Create a standard user and grant local owner role in Rancher
When accessing project/namespace page in Harvester from Rancher virtualization management.
The namespace page will hang with no response timeout

https://user-images.githubusercontent.com/29251855/182780615-c93ce884-b719-4478-9836-6e77687a2f01.mov

![image](https://user-images.githubusercontent.com/29251855/18278080

[2022-08-04 07:34] cai648971528 commented on #2599
我们如果想在K8S集群内使用helm chart部署harvester，是否需要部署rancher？直接部署harvester会存在helmchartconfig资源，请问这个问题是什么原因？

[2022-08-04 07:42] TachunLin commented on #2567
Verified **fixed** on Harvester `v1.0-60921953-head` with Rancher `v2.6.7-rc6`. Close this issue.

### Result
Login with cluster owner role and provision a RKE2 cluster
Now we can input the topology key in the Topology key field of the pod selector
![image](https://user-images.githubusercontent.com/29251855/182752496-1fa49c1d-1b93-4147-9d5b-ef3a56d5bd2b.png)

### Test Information
 - Harvester ISO

[2022-08-04 07:42] #2567 closed, assigned to DaiYuzeng, futuretea, TachunLin

[2022-08-04 07:44] DaiYuzeng opened #2628 "[BUG] GUI should display the error message that cordon host action failed"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Prepare a harvester cluster with single node
2. Go to Host page
3. Cordon the host
4. Request of cordon action will throw error

![image.png](https://images.zenhubusercontent.com/60370508fd3d02bfb6c4ba36/cba9d0a1-9118-4085-a5fe-4843320d008c)

**Expected behavior**

1. GUI can catch that error and display the error message

[2022-08-04 07:59] TachunLin commented on #2598
Verified on Harvester `v1.0-60921953-head` with Rancher `v2.6.7-rc6`.

### Result
Checked the following test plan for `RKE2` cluster are working as expected

- [x] Case 1: Available namespace options are affiliated with (the same as) what we show in the management cluster namespace list
  ![image](https://user-images.githubusercontent.com/29251855/182752411-b970a295-96d8-4576-a4db-d397953c7249.png

[2022-08-04 08:09] TachunLin commented on #2598
We found when using local owner on the provision RKE1 cluster page.
* We can't get the available namespace options in the Instance options section
![image](https://user-images.githubusercontent.com/29251855/182796323-029d8713-f14b-4da2-8705-0d1acd1fc20c.png)

* And also no available options in the `Pods in these namespace` field of pod selector
![image](https://user-images.githubusercontent.com/29

[2022-08-04 08:52] lanfon72 commented on #2559
@irishgordo as Frank's replied, we fix this bug by blocking restore a restoring VM.

So the criteria change to:
- User should NOT able to restore the VM which in restoring **state**
- The VM should be restored successfully

[2022-08-04 08:58] guangbochen commented on #2629
Transfer the issue to the `harvester/harvester` repo as it is the right place to track all harvester-related issues, thanks.

[2022-08-04 09:41] futuretea opened #2630 "[FEATURE] Sync image `display_name` to image labels"
**Is your feature request related to a problem? Please describe.**

For cli tools for Harvester, such as terraform-provider-harvester, when get image by `display_name`
need a quick get method rather than list all images

**Describe the solution you'd like**

add/update this label in vmimage controller `OnChange`
add label selector to List method

**Describe alternatives you've considered**

**Addi

[2022-08-04 09:49] lanfon72 commented on #2560
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/182815313-71dd4e4e-51a2-4510-a70a-180765848334.png)
![image](https://user-images.githubusercontent.com/5169694/182815277-98baa7bc-42d1-4404-be87-d60f3b6ba1fd.png)

Test Information
----
* Environment: **qemu/KVM 2 nodes**
* Harvester Version: **v1.0-fc72be9f-head**
* **ui-source** Option: **Auto**
* **ui-

[2022-08-04 09:49] #2560 closed, assigned to FrankYang0529, lanfon72

[2022-08-04 09:58] lanfon72 opened #2631 "[FEATURE] Add backup-taget connection status"
### The problem
When the **backup-target** disconnected, User can still restore VM and they will not aware the backup-target is not connectable.

### The solution
Update **Backups** page to display some message that the **backup-target** is not connectable.

### The Alternatives
no idea

### Additional Context
this will improve the case of #2560

[2022-08-04 10:11] TachunLin commented on #2316
Verified **fixed** on Harvester `master-538d41fe-head` (08/03) with Rancher `v2.6.7-rc6` Close this issue.

The enhancement focus on using external cloud credential with Node scheduling` selector and `Pod scheduling` selector to deploy guest VM to specific node

### Test Result
- [x] **Can** deploy guest RKE1 cluster vm to specific Harvester node matching the `node scheduling` and `pod scheduling`

[2022-08-04 10:11] #2316 closed, assigned to chrisho, DaiYuzeng, futuretea, TachunLin

[2022-08-04 16:56] irishgordo commented on #2559
Awesome!
Thanks @FrankYang0529 & @lanfon72 - based around that this looks good so I'll go ahead and close it out :smile:

[2022-08-04 16:56] #2559 closed, assigned to FrankYang0529

[2022-08-04 20:05] irishgordo commented on #2606
Closing because in the meantime I need the hardware - I suspect that etcd db got corrupted due to some unexpected power issue

[2022-08-04 20:05] #2606 closed, assigned to nobody

[2022-08-04 20:14] irishgordo opened #2632 "[BUG] Hostname Given Via Remote Harvester Configuration Not Respected"
**Describe the bug**
The Hostname/hostname that is displayed/created is different from the hostname given via remote harvester configuration.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a [Harvester Configuration that can be accessed remotely](https://docs.harvesterhci.io/v1.0/install/harvester-configuration/#configuration-example)
2. Enter a hostname (os.hostname)
3. Run the inst

[2022-08-04 20:40] noahgildersleeve commented on #2587
Tested in v1.0.3-rc2 with v2.6.7-RC6 Rancher.

## Verification Steps

1. Import Harvester into Rancher
2. Create a restricted admin
3. Log out of admin and log in to restricted admin
4. Navigate to Harvester UI via virtualization management
5. Open virtual machines tab
6. Click create

Verified that namespace was `default`
![Screenshot_20220804_133918](https://user-images.githubusercontent.com/837

[2022-08-04 20:40] #2587 closed, assigned to n313893254, noahgildersleeve

[2022-08-04 22:19] noahgildersleeve commented on #2588
Tested in v2.6.7-rc6 and v1.0.3-rc2. I updated the defaults for the template in RKE2 to 4 cores and 8gigs of RAM. It deployed successfully. We might want to update our defaults or add something to the FAQ about it or in the troubleshooting docs
![Screenshot_20220804_151744](https://user-images.githubusercontent.com/83787952/182962307-3a11eb25-2169-4b69-84f3-33ee6e192b5f.png)
![Screenshot_20220804_

[2022-08-04 22:19] #2588 closed, assigned to chrisho, noahgildersleeve

[2022-08-05 02:33] bk201 commented on #2632
The local-input configuration has a higher priority than the remote one. Code:
- https://github.com/harvester/harvester-installer/blob/2c953220773e78a0ec1f197d8b7956355f5e5f5b/pkg/console/install_panels.go#L1492
- https://github.com/harvester/harvester-installer/blob/2c953220773e78a0ec1f197d8b7956355f5e5f5b/pkg/config/config.go#L265

The initial thought was what a user input could be more importan

[2022-08-05 03:22] WuJun2016 opened #2633 "[BUG] After configuring http-proxy, harvester is not accessible"
**Describe the bug**

http-proxy configure some wrong values, harvester will be inaccessible, the page appears 503 error

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the http-proxy setting page
2. Set the values as follows,  click `Save` button.
![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/204d378e-838d-4c94-9dc8-cad4ab45ecc3)

![image.png](https://imag

[2022-08-05 03:36] futuretea commented on #2633
Changing this setting might cause a short downtime for single-node clusters.

https://docs.harvesterhci.io/v1.0/settings/settings/
![image](https://user-images.githubusercontent.com/15064560/182996270-ab2ccfbe-d64e-4395-96da-cc27b8faf5b3.png)

[2022-08-05 04:07] WuJun2016 commented on #2633
This is as expected, so close the issue.

[2022-08-05 04:07] #2633 closed, assigned to nobody

[2022-08-05 04:26] fanlix commented on #2419
Recently my heavy loading VMs oom-crash everyday.
For example a VM running 20G app,  I already alloc 72G ram, but skill oom-killed.
I really need some method to fix or avoid this.

I have read #1234  & https://github.com/kubevirt/kubevirt/issues/4560
any more advice?

[2022-08-05 04:35] fanlix commented on #2595
@w13915984028 I'v read that link before post this issue.

* there is no snapshot by longhorn ui, (maybe some hidden snapshots)
* volume size keep growing

After many tries, there are 2 way may help:
* add-then-delete a snapshot by hand, trigger the longhorn gc task.
  * After 10min deleting. volume size drop down from 250% to 110%.
* backup the whole vm, restore the backup.
  * volume size drop do

[2022-08-05 04:52] fanlix commented on #2631
maybe a button to test connection

[2022-08-05 06:02] #2202 closed, assigned to nobody

[2022-08-05 06:29] fanlix commented on #2250
* harvester version: 1.0.2
* cent7 cloud image

Create vm without `boot EFI mode`, the vm boot fine now.

[2022-08-05 06:29] #2250 closed, assigned to nobody

[2022-08-05 07:12] guangbochen commented on #2419
The last pod log u have shared shows `Memory cgroup out of memory`, can u check if increasing the reserved memory via the advanced tab will address the OOM issue of your VM?
<img width="2301" alt="image" src="https://user-images.githubusercontent.com/4569037/183022325-9974eabf-e476-4b43-9c9a-681d31f29f5f.png">

[2022-08-05 07:14] fanlix commented on #574
* `Stop` = `soft stop`
* `Restart` = `soft stop` + `delete pod` + `create pod` + `mount disk, new nic/ip` + `normal start`
* `Soft Reboot` = `soft stop` + `normal start`  (fast)
* os shutdown/reboot = nothing with vm

[2022-08-05 07:32] fanlix commented on #2419
@guangbochen thanks very much. just trying editing k8 yml for cgroup limit.

[2022-08-05 19:06] irishgordo commented on #2632
Thanks for that info @bk201 !
I'll close this out as this is more of a design based decision and I agree that the user input can be more important than the remote Harvester Configuration file - having that flexibility to override some elements during install via entering/selecting values in the installation panels could come in handy for a lot of different use-cases.
I've created a PR in docs here

[2022-08-05 19:06] #2632 closed, assigned to nobody

[2022-08-05 20:22] zanewgray opened #2634 "[BUG] Harvester VMs restored from a backup are not editable due to missing volume information."
**Describe the bug**
Harvester VMs restored from a backup are not editable due to missing volume information.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an S3 backup target
2. Create a new VM with 2vCPU, 8GB memory, a volume "disk-1" (size doesn't matter), and an appropriate image (K3OS in this case)
4. Backup the running VM to the S3 target
5. Stop the VM
6. Restore the VM from

[2022-08-05 22:06] irishgordo opened #2635 "[BUG] RKE1 Node Template With Default "engineInstallURL" Fails With Ubuntu Server 22.04 Causing Docker Install Error"
## Bug Description:

Using `ubuntu-22.04-server-cloudimg-amd64-disk-kvm.img` as the image for an RKE1 Cluster goes into provisioning boot-loop with default:
[code]
`https://releases.rancher.com/install-docker/20.10.sh` shell script being used in the provisioning of RKE1 Cluster.

Error is being bubbled up from `433-456` specifically in the chunk of:
[code]
Testing by running on a VM running `ubunt

[2022-08-07 01:42] mircea-pavel-anton commented on #992
I would like to leave a note on another use-case for PCIe passthrough, which is passing storage controllers to VMs. For example, my storage server is a virtualized instance of TrueNAS and I am passing through an LSI HBA to it to control the disks.

[2022-08-07 08:25] RicheyJang opened #2636 "[Question] How can I access the Virtual Machines externally using noVNC ?"
Hi everyone,

I'm developing a web application that uses Harvester as virtual machine management platform. I want to access the virtual machines through [novnc](https://github.com/novnc/noVNC) externally instead of Harvester UI, and I don't want to install a VNC server on every virtual machine.

How can I do this?

Thanks.

[2022-08-08 02:27] tjjh89017 commented on #2565
wait for elemental cli to support extra partition installation

[2022-08-08 03:51] DaiYuzeng commented on #2598
We will verify this issue on v1.1.0 since the [fixed PR](https://github.com/rancher/ui/pull/4882) will be merged on Rancher v2.7.0

#### There is a workaround

This issue can be resolved when the local owner also is harvester cluster member/owner then the node request won't block the namespace request.

[2022-08-08 09:34] n313893254 commented on #2634
Hi @zanewgray, I can not reproduce the issue, are you reproduce it always? If so, could you help check `spec.template.spec.volumes.persistentVolumeClaim.claimName` of VM whether can be found in PVC

[2022-08-08 10:09] yaocw2020 opened #2638 "[BUG] Should not display the password in plain text in the cloud-config."
**Describe the bug**

Should not display the password in plain text in the cloud-config.
<img width="602" alt="image" src="https://user-images.githubusercontent.com/7421463/183394243-a4bb8192-8e78-4283-91c3-d38b1cdddd62.png">

**Environment**
 - Harvester ISO version: v1.0.2
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630): Baremetal with Dell PowerEdge R630

**Additional con

[2022-08-08 10:53] lanfon72 commented on #2626
Verified this bug has been fixed.

Also tested on Rancher `v2.6.6`, didn't encounter this bug.

Test Information
----
* Environment: **qemu/KVM 2 nodes**
* Harvester Version: **v1.0.3-rc2**
* **ui-source** Option: **Bundled**
* **ui-index** URL: **https://releases.rancher.com/harvester-ui/dashboard/release-harvester-v1.0/index.html**
* **Rancher** Version: **v2.6-e9e88db363ae369bec044372cae8a36c66

[2022-08-08 10:53] #2626 closed, assigned to lanfon72, n313893254

[2022-08-08 11:02] fanlix commented on #2419
By increate resoved memory from 100M(default) to 256M,  cgroup-oom-kill not seen for 3 days now.
In loadtest, both guest-os-oom & guest-os-swap triggered.

_But i dont know how much resoved-memory is enough._
* try  8G ,4G, 2G, 1G, 512M, 256M, all pass.
* 128M,100M cause oom.

[2022-08-08 11:09] fanlix commented on #2419
the memory calculate code is here: https://github.com/harvester/harvester/blob/master/pkg/webhook/resources/virtualmachine/mutator.go#L171-L182

different resovle-memory setups result in vmi config: (overcommit=120%)
* default 100M
![resv-100M](https://user-images.githubusercontent.com/987637/183404715-fc508abf-ecf9-4534-9e8d-9053d873587d.PNG)

* force 0
![resv-0](https://user-images.githubusercon

[2022-08-08 12:59] zanewgray commented on #2634
@n313893254 after posting this bug report on Friday, I did check the spec.template.spec.volumes.persistentVolumeClaim.claimName under the "Edit YAML" for the VM.  Here is where things got odd.  Sometimes opening the YAML would show a value of "null" for the claimName.  Then, closing and reopening the YAML for the VM might show the real volume under the claimName, but not always.

I managed to reso

[2022-08-08 17:27] irishgordo commented on #2638
I validated that I can also see this on Harvester v1.0.3-rc1 & Rancher v2.6.7-rc6 UI.

[2022-08-08 21:04] irishgordo commented on #2635
Update - looks like this more relates to:
- https://github.com/rancher/rancher/issues/38984
- https://github.com/rancher/rancher/issues/38362

[2022-08-08 22:07] irishgordo commented on #2510
@WuJun2016 I recorded a short video of some of the behaviors I've been seeing working with `cluster-registration-url`, adding a Harvester cluster into Rancher - removing, then re-adding back into Rancher.  It seems like there is a bit of a hang or it's hard to tell when the `modified` will trigger, and if there isn't any value in `cluster-registration-url` it seems like it just stays empty but nev

[2022-08-09 01:45] bk201 commented on #2011
We can bump embedded Rancher to v2.6.7 to test after it's released.

[2022-08-09 02:41] DaiYuzeng commented on #2361
@w13915984028 Hi! I realized there is the `area/ui` label.

Users cannot modify the configuration of Grafana on GUI now, they can just modify configurations below:
![image](https://user-images.githubusercontent.com/15041915/183551382-58899795-ac48-47f2-9d71-e3e195ffbe6a.png)

Should we display the resources configurations of Grafana on GUI?

[2022-08-09 03:02] guangbochen commented on #2638
The preferred practice is to use ssh keys or hashes: https://cloudinit.readthedocs.io/en/latest/topics/examples.html?highlight=hash, or users can change the password after login, thanks

[2022-08-09 03:51] guangbochen commented on #2526
Added Windows installation guidelines and know issues to the https://docs.harvesterhci.io/v1.0/vm/create-windows-vm/#installation-of-windows; feel free to re-open this issue or submit a doc enhancement PR if required, thanks.

[2022-08-09 03:51] #2526 closed, assigned to masteryyh

[2022-08-09 03:52] guangbochen commented on #2008
Hey @masteryyh I’m using ZenHub in GitHub, [click this link](https://app.zenhub.com/workspaces/harvester-602342943974310018a96c13/board) to join my workspace and see other features available in GitHub or [download the ZenHub extension](https://www.zenhub.com/extension) and sign up with your GitHub account.
  _Posted using [ZenHub](https://www.zenhub.com)_

[2022-08-09 07:29] bk201 opened #2640 "[BUG] Upgrade is stuck in "Pre-drained" state (Volume has too many system snapshots)"
**Describe the bug**

The upgrade is stuck and one node is in `pre-drained`.

<img width="454" alt="Screen Shot 2022-08-09 at 12 32 06 PM" src="https://user-images.githubusercontent.com/1691518/183588423-d0d84e3f-2210-4e15-bed0-fcfe99b78cac.png">

By looking Longhorn GUI, we know the node can't de drained due to it contain the last healthy replica:
<img width="1287" alt="Screen Shot 2022-08-08 at

[2022-08-09 08:41] tgazik commented on #2581
[harv_github_issue_2581.zip](https://github.com/harvester/harvester/files/9288720/harv_github_issue_2581.zip)
@PhanLe1010 sending you requested files. Regarding "longhorn volume, volume replicas, volume engine" i was not sure what you need, so i made a screenshot, hope it will be enough. In case you need something else please just let me know and i will send you.

btw: i tested the same scenario o

[2022-08-09 09:01] lanfon72 opened #2641 "[FEATURE] add caveat for live migration"
### The problem
Live migration will fail if the VM having any volumes which is `CD-ROM` type.

### The solution
It is expected behavior that CD-ROM volume is read-only, so we should add caveat to let user know the behavior.
(Currently, dashboard will only display live migration failed without any advanced information)

### The Alternatives
- Add some checker on `migrate` function to ask user to ej

[2022-08-09 09:15] WuJun2016 opened #2642 "[BUG] Remove Pod Scheduling from harvester rke2 and rke1"
**Describe the bug**
The presence of pod sheduling can be confusing for users

![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/60cd2a5f-6675-41f1-89d8-244b5d391985)

![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/48f520be-52cd-40b0-9f9e-dc30f501fa41)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'

**Expected behavior**

**Su

[2022-08-09 09:40] w13915984028 opened #2643 "[FEATURE] Config Alertmanager in Dashboard"
**Is your feature request related to a problem? Please describe.**

The coming feature of `Alertmanager` will be configuable in Harvester dashboard.

**Describe the solution you'd like**

  Enable/disable Alertmanager.
  Adjust Alertmanager POD resources.
  Add/change/remove receiver.

It will be similar to:
https://docs.harvesterhci.io/v1.0/monitoring/monitoring/#from-webui

For multi receivers,

[2022-08-09 09:48] w13915984028 opened #2644 "[FEATURE] Enable logging by default"
**Is your feature request related to a problem? Please describe.**

Harvester will support logging feature.

**Describe the solution you'd like**

Harvester enables logging by default, after installation, it is available.

Due to existing limitation, `disable logging` is not available in v1.1.0.

**Describe alternatives you've considered**

**Additional context**

EPIC:
https://github.com/harveste

[2022-08-09 09:51] w13915984028 opened #2645 "[FEATURE] Logging is backed by PVC"
**Is your feature request related to a problem? Please describe.**

Logging data should be persistant in the cluster.

**Describe the solution you'd like**

Use PVC to store the data, PVC needs a proper initial size.

**Describe alternatives you've considered**

**Additional context**

EPIC:
https://github.com/harvester/harvester/issues/577

HEP DOC:
https://github.com/joshmeranda/harvester/blob/l

[2022-08-09 10:02] w13915984028 opened #2646 "[FEATURE] Config logging in Harvester Dashboard"
**Is your feature request related to a problem? Please describe.**

The logging feature is configurable in Harvester Dashboard.

**Describe the solution you'd like**

Configure Harvester logging:
[code]

Please UI team investigate following Rancher feature, when reusing the YAML input feature is possilbe, that will be great.

https://rancher.com/docs/rancher/v2.5/en/logging/custom-resource-config/

[2022-08-09 10:04] w13915984028 commented on #2646
@WuJun2016 @joshmeranda @guangbochen

[2022-08-09 10:09] w13915984028 opened #2647 "[FEATURE] Collect system logs"
**Is your feature request related to a problem? Please describe.**

Collect system level log.
It should be possible to collect log from given path.
Avoid duplicated logs from same path.

**Describe the solution you'd like**

Collect
following UNITs of journal: `rke2-server.service, rke2-agent.service, rancherd.service,rancher-system-agent.service, wicked.service, iscsid.service`
`kernel message`
`

[2022-08-09 10:18] w13915984028 commented on #2361
@DaiYuzeng  I would like to suggest that we add similar resource configuration for Grafana POD in Harvester GUI.
This issue is in lower priority than others.

[2022-08-09 16:20] tlehman commented on #992
As long as it shows up on the PCI bus with an address, we should be able to pass it through to the VM

[2022-08-09 19:31] mircea-pavel-anton commented on #992
I see, that's great news! Do we have an ETA on this feature?

[2022-08-09 20:05] tlehman commented on #992
Yeah, ETA is a month, aiming for releasing with v1.1.0

[2022-08-09 20:07] mircea-pavel-anton commented on #992
That's Great! I am definitely looking forward to that!

[2022-08-10 02:51] TachunLin commented on #2642
To verify this change, we need to check the following:
1. `Pod Scheduling` did not appear on the RKE1 and RKE2 provisioning advanced options
2. The `Node Scheduling` function work as expected as https://github.com/harvester/harvester/issues/2316#issuecomment-1205046669

[2022-08-10 03:58] TachunLin commented on #2642
Verified **fixed** on Harvester `v1.0-44fb5f1a-head` (08/10) with Rancher `v2.6.7-rc7` Close this issue.

### Test Result
- [x] Pod Scheduling did not appear on the `RKE1` template provisioning advanced options
  ![image](https://user-images.githubusercontent.com/29251855/183801086-cc6de3d9-e420-42b5-af47-3ce7a60cd53c.png)

- [x] Pod Scheduling did not appear on the `RKE2` provisioning advanced op

[2022-08-10 03:58] #2642 closed, assigned to DaiYuzeng, TachunLin

[2022-08-10 06:48] wonleing commented on #2523
I tried this fix:
[code]

but this makes my only node unschedulable. Seems "return werror" is used to stop the last node unschedulable?
Any better fix proposed?

[2022-08-10 08:25] WuJun2016 commented on #2510
HI， @irishgordo  I've tested the steps you provided, and I think the behavior is as expected.
'Modified' means you modified the original default value, which is empty, so if you set its value to empty, 'Modified' will not be displayed.

[2022-08-10 08:59] WuJun2016 opened #2650 "[BUG] cluster-registration-url cannot be set to null."
**Describe the bug**

1. cluster-registration-url cannot be set to null.
2. Import the harvester in the rancher cluster, and after the harvester is successfully imported, go to another rancher cluster and import the harvester cluster again, at this time the imported harvester cluster is always in the pending state

**To Reproduce**
Steps to reproduce the behavior:
case 1:
1. Create a harvester clu

[2022-08-10 09:00] WuJun2016 commented on #2510
@irishgordo  I created another issue to track some strange phenomena.   https://github.com/harvester/harvester/issues/2650

[2022-08-10 09:03] WuJun2016 commented on #2510
I was not able to reproduce this phenomenon.

[2022-08-10 09:57] wonleing commented on #2523
[code]
this is the node describe. I didn't see anything to change.

[2022-08-10 11:27] w13915984028 commented on #2523
@wonleing Have tried to reboot the cluster ? Is the error log still there after rebooting ?
And what's the version of your Harvester, v1.0 or v1.0.2 ?

I tried to reproduce the issue but failed. In general, each http click "Enable maintainence mode" will trigger one time of following action. But from your log, it seems there are continuous http request.

Please try following 2 CLI to check if ther

[2022-08-10 13:50] WuJun2016 commented on #1029
Hi,  @tlehman  should this function include UI related changes?  If so, please help to add `require/ui` label.  thanks

[2022-08-10 13:54] WuJun2016 commented on #2274
Hi @ibrokethecloud   should this function include UI related changes?  If so, please help to add `require/ui` label.  thanks

[2022-08-10 14:02] WuJun2016 commented on #2236
Hi,  @tjjh89017  I'm looking at the HEP documentation and I see that there are UI-related changes required, if so, please help me add the `require/ui` label.    thanks

[2022-08-10 14:28] bk201 commented on #2600
@esakarya You can create additional RKE2 config files in `/etc/rancher/rke2/config.yaml.d` after installation (and restart rke2-server or rke-agent). But we **don't** recommend modifying the RKE2 settings. The RKE2 runtime is dedicated to Harvester system services and VMS, it's not meant to be consumed as a normal Kubernetes workload directly.

If you plan to host Kubernetes workload, the supporte

[2022-08-10 16:22] irishgordo commented on #2510
@WuJun2016 thanks for looking into that :+1: !
:smile: - I'll also keep an eye on https://github.com/harvester/harvester/issues/2650

[2022-08-10 21:52] irishgordo opened #2651 "[BUG] Virtual Media Installation Hangs For 2+hrs With "containerd.sock" Connection Error"
**Describe the bug**
When adding "Virtual Media" with the Harvester v1.0.3 iso as a mapped virtual media drive (in this case DVD read only) to boot from the bare-metal machine for installing - it hangs for 2+hrs on `ctr: failed to dail "/run/k3s/containerd/containerd.sock: connect: connection refused`.   Then when power-cycling the bare-metal device via Dell iDRAC 7 and that boots into Harvester v

[2022-08-10 22:03] irishgordo commented on #2651
Also the remote configuration for the server can be found here:
https://github.com/irishgordo/dell-poweredge-r720-harvester-config/blob/main/harvester.config

[2022-08-11 01:12] irishgordo commented on #2651
Currently looking into how reproducible this is and will update this issue

[2022-08-11 01:50] Vicente-Cheng commented on #2581
Update my local test scenario:

1. Create 3 nodes (node-0, node-1, node-2) harvester cluster.

2. Create 1 VM (based on ubuntu 20.04 focal) on node-0

3. do action

    `root@vm002:~# dd if=/dev/zero of=file001 bs=4k count=5242880 oflag=sync`

4. shutdown (node-1, node2) with `virsh destroy` on the host

5. try to connect back to VM and write a file.

[code]

6. wait until the dd is complete (node

[2022-08-11 02:05] tjjh89017 commented on #2236
@WuJun2016 It will depend on Canwu's enhancement.
Currently, we don't know which part will need UI.
Thanks a lot

[2022-08-11 02:27] bk201 commented on #2651
@irishgordo file `/run/cos/target/rke2.log` could be helpful, could you help upload it when seeing this? Thanks.

[2022-08-11 03:08] Vicente-Cheng commented on #2551
Hi

For 2.
I think we could re-use the force format. That means we may let people choose the whole disk even if there is a partition (also proper warning message to tip user to know the partition would be destoried).

Then NDM would handle the following thing with force format (remove partitions and format again).

What do you think?  @guangbochen @bk201

[2022-08-11 05:25] bk201 commented on #2551
@Vicente-Cheng that's indeed what the field is for.

[2022-08-11 06:08] FrankYang0529 opened #2652 "[TASK] Update the upgrade responder automatically"
**Is your feature request related to a problem? Please describe.**
When we release a new Harvester version, we need to update the upgrade responder manually, so old clusters can receive upgrade requests.

**Describe the solution you'd like**
Create a GitHub workflow to handle this. We can use [GitHub repository secrets](https://docs.github.com/en/actions/security-guides/encrypted-secrets) to store

[2022-08-11 06:59] wonleing opened #2653 "[BUG]virt-laucher pod can not Running properly"
**Describe the bug**

I created a VM from harvester UI (disk-0 is iso, disk-1 is vmdisk), but after a long time, virt-laucher pod still can not Running properly
When I describe the virt-laucher pod, it reports: "CSI node does not container driver driver.longhorn.io"
journalctl reports: "volume not attached according to node status for volume xxx(vm disk)"

I searched around, but didn't find a feas

[2022-08-11 07:14] FrankYang0529 commented on #2653
Hi @wonleing, may you share the support bundle and which Harvester version you installed? Thank you.

[2022-08-11 07:17] wonleing commented on #2653
https://github.com/longhorn/longhorn/issues/3172
this issue seems related. I had --root-dir setting in 10-kubeadm.conf (I am not useing default /var/lib/kubelet)
I am wondering where is the KUBELET_ROOT_DIR or longhorn.yaml?
support bundle is here: https://github.com/longhorn/longhorn/files/8482153/longhorn-support-bundle_4ad3564f-4221-48d3-8204-a96433f1e4b4_2022-04-13T13-50-22Z.zip

[2022-08-11 07:22] wonleing commented on #2653
And the --root-dir location is on /dev/nvme0n1, ext4 format. Could it be the cause?

[2022-08-11 08:15] wonleing commented on #2653
I confirmed, reset k8s, remove --root-dir setting and use default /var/lib/kubelet (on /, xfs). The vm can start. So the question is how to change kubelet location to a ext4 patition?

[2022-08-11 08:18] FrankYang0529 commented on #2653
Hi @wonleing, if you use helm to install LH, may you try to update `csi.kubeletRootDir`? Thank you.

https://github.com/longhorn/longhorn/blob/c1b93f5531958e583be5a1375b56db48cc52127e/chart/templates/deployment-driver.yaml#L46-L48

[2022-08-11 08:19] DaiYuzeng commented on #2510
I can reproduce, follow steps below:

1. Input correct address
2. Input incorrect address
3. Error message is visible
4. Input correct address
5. Error message is still visible
6. Input another incorrect address
7. Error message can be updated

@guangbochen @WuJun2016

[2022-08-11 08:24] guangbochen commented on #2433
Updated in the doc https://docs.harvesterhci.io/v1.0/#hardware-requirements to specify that the 140GB root disk and 1Gbps network card are just for testing purposes; a large size is required for production env. Feel free to reopen this issue if found this is not clear, thanks.

[2022-08-11 08:24] #2433 closed, assigned to guangbochen

[2022-08-11 09:26] WuJun2016 opened #2654 "[FEATURE] Harvester UI plugin"
**Is your feature request related to a problem? Please describe.**

https://github.com/rancher/dashboard/issues/4109

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-08-11 09:32] DaiYuzeng commented on #2598
Hi @TachunLin ! Accroding to the discussions of Harvester UI team, `Pod Scheduling` is not applicable in harvester cluster config page and then it has been removed. Can you please verify this issue agian? Thanks!

[2022-08-11 09:55] w13915984028 commented on #2419
try 8G ,4G, 2G, 1G, 512M, 256M, all pass.
128M,100M cause oom.
Thanks @fanlix , the experiment is fairly valuable.

Connect with #2522 , the reserved memory, deserves a deep dive and a knowledge base about why and how.

FYI cc @masteryyh

[2022-08-11 16:57] msnelling commented on #2274
In my opinion being able to import from the UI would be a useful feature. Maybe a bit out of scope but using the VMWare API to import a VM directly from ESXi or vSphere would be amazing.

[2022-08-11 19:20] irishgordo commented on #2651
@bk201 - currently re-testing on the Dell PowerEdge R720.
I wasn't able to get the Java base JNLP viewer working with the R720 (though HTML5 viewer works fine)
![trying-to-get-java-viewer-working-with-idrac](https://user-images.githubusercontent.com/5370752/184220918-fdd5eb40-2732-455d-8913-6ae01461ee43.png)
Was running into issues that just caused it to hang in combination of OpenWebStart & JavaW

[2022-08-11 19:54] abonillabeeche opened #2656 "[BUG] vm stuck scheduling when using older template"
**Describe the bug**
VMs won't start when created with a template, stuck in Scheduling

**To Reproduce**
Steps to reproduce the behavior:
1. Use a template in Harvester 1.
2. Migrate to 1.0.3
3. Create a VM from template

**Expected behavior**
VM should start as defined by template

**Support bundle**
[supportbundle_c2c9cfb1-d5b4-4d28-b014-c7e0b7716cef_2022-08-11T19-52-00Z.zip](https://github.com/

[2022-08-11 19:56] abonillabeeche opened #2657 "[BUG] VM age goes back in time as is initially created"
**Describe the bug**
VM creation age goes back in time

**To Reproduce**
Steps to reproduce the behavior:
1. Create a VM
2. See Age in the Virtual Machines section

https://user-images.githubusercontent.com/5146963/184227819-ffe61bb6-9ede-46ae-a7f8-b78a30536343.mov

**Expected behavior**

**Support bundle**
[supportbundle_c2c9cfb1-d5b4-4d28-b014-c7e0b7716cef_2022-08-11T19-52-00Z.zip](https://githu

[2022-08-11 21:37] migs35323 opened #2658 "[Question] How to use harvester's CSI and CNI inside the VM's"
All the documentation that i can find uses rancher. I am trying to setup a cluster in harvester's VMs
So, in a normal k8s created with kubeadm init inside harvester, how can i use the network plugins and storage class provided from harvester?

[2022-08-11 22:24] wjimenez5271 opened #2659 "Harvester: Need a way to configure default replica of data / longhorn to 2 instead of 3"
We do not want to have replica=3 on the harvester cluster in our disaster recovery data center. Due to that we want to have two replicas, only. How can we change the default of "replica=3" to "replica=2".

[2022-08-11 23:04] irishgordo commented on #2651
@bk201

I re-ran on the same piece of hardware, but didn't see any change for nearly 3hrs this time.
So I wasn't encountering the containerd.sock error, but I had figured the install probably wasn't going to succeed, I guess I could of let it continue to sit, I will re-run and let sit over night, but not sure I have the disk-space to record an 8hr video to cross reference :laughing: .
Here's the s

[2022-08-12 00:04] noahgildersleeve commented on #2656
@abonillabeeche I was trying to get this to reproduce, but I wasn't able to yet. I can't get the template YAML to match based on UI options. Could you attach screenshots of the tabs in the UI for view config on that template? There's some empty fields that shouldn't exist if they aren't being used in the YAML.

Specifically these sections
[code]
and
[code]

Also was this template originally create

[2022-08-12 01:38] lanfon72 commented on #2657
this probably caused by https://github.com/harvester/harvester/issues/2119

[2022-08-12 01:46] WuJun2016 commented on #2219
`Name` validation has been added.

<img width="1501" alt="image" src="https://user-images.githubusercontent.com/24985926/184270009-aa90e802-0e16-4298-a8a0-f769f03cfd7b.png">

[2022-08-12 02:36] FrankYang0529 commented on #2658
Hi @migs35323, thanks for filing the question.

1. For both [harvester-csi-driver](https://github.com/harvester/harvester-csi-driver) and [cloud-provider-harvester](https://github.com/harvester/cloud-provider-harvester), you can find `generate_addon.sh` script under `deploy` folder. Run it with Harvester kubeconfig to generate a new service account and kubeconfig.
2. Move generated kubeconfig to g

[2022-08-12 02:36] guangbochen commented on #2023
@BobTheDestroyer can u please check if the latest Harvester v1.0.3 release has addressed your issue? Thanks.

[2022-08-12 02:43] BringerOD opened #2660 "[Question] How do you correct disk warnings on hosts?"
Warning Message
**"the disk xxx has xxx available, but requires reserved xxx, minimal 25% to schedule more replicas. "**

![image](https://user-images.githubusercontent.com/7971305/184274941-5e55673d-3889-42fe-a4a3-3a814175de67.png)

Just not sure exactly what to do with this warning message.

What causes this warning?  Is it just to much allocated?  If so,  can I tell the system to reduce what th

[2022-08-12 02:56] guangbochen commented on #2385
close as fixed via https://github.com/harvester/bot/pull/9

[2022-08-12 02:56] #2385 closed, assigned to chrisho

[2022-08-12 03:03] guangbochen commented on #1995
may refer to https://github.com/harvester/harvester/blob/master/package/Dockerfile#L3, also please help to bump the [golang build version](https://github.com/harvester/harvester-csi-driver/blob/master/Dockerfile.dapper#L1) to v1.18.3

[2022-08-12 03:15] guangbochen commented on #2040
@slickwarren can u please help to revalidate it with Harvester v1.0.3 + Rancher v2.6.7(when it is released), please let us know if this is still an issue, thanks.

[2022-08-12 03:17] guangbochen commented on #2054
@TachunLin  can we please help to revalidate this case when Rancher v2.6.7 is released(with Harvester v1.0.3)? Thanks.

[2022-08-12 03:20] guangbochen commented on #1774
@TachunLin @lanfon72 can we please re-validate this with Harvester v1.0.3 + Rancher v2.6.7 when it is released since this is more considered as an upstream issue? thanks.

[2022-08-12 04:01] FrankYang0529 opened #2661 "[FEATURE] Support backup and restore through harvester-csi-driver in guest cluster"
**Is your feature request related to a problem? Please describe.**
Currently, when users create PVC through harvester-csi-driver in the guest cluster, they don't have a convenient way to backup/restore PVCs in LH. I try following the steps, but I can't restore PVC to the guest cluster.

1. In LH page, click `Create Backup` for a PVC.
2. Restore latest Backup to a Volume.
3. Click `Create PV/PVC` o

[2022-08-12 04:05] FrankYang0529 commented on #2661
cc @yaocw2020 Do you have any idea for users to manually restore PVC to the guest cluster now? Thank you.

[2022-08-12 04:05] guangbochen commented on #1274
Close as can't reproduce it now; feel free to reopen it if u encounter this again.

[2022-08-12 04:05] #1274 closed, assigned to w13915984028

[2022-08-12 06:22] FrankYang0529 commented on #2631
We can add a handler here https://github.com/harvester/harvester/blob/master/pkg/server/router.go.

For example, `m.Path("/v1/harvester/backup-target/{backupTargetName}/healthy").Methods("GET").Handler(backupTargetHandler)`. Currently, `backupTargetName` can only be `default`, but let's leave flexibility for further supporting multiple backup target.

In `backupTargetHandler`, we can setup [backup

[2022-08-12 07:52] wonleing commented on #2653
Thanks for the hint. Finally I find it come from a setting in charts/harvester/values.yaml:    kubeletRootDir: /var/lib/kubelet
I guess it should be sync. Why not just read the kubeadm conf?

[2022-08-12 09:47] starbops opened #2662 "[BUG] VM label names should be consistent before and after the restore task is done"
**Describe the bug**

There's a label in the VirtualMachine resource called `harvesterhci.io/vmName`, which will propagate to the respective launcher Pod `virt-laucher-xxxxx`. Backing up a VM and restoring a new VM with the backup causes the label name to change from `harvesterhci.io/vmName` to `harvesterhci.io/vm-name`, which is inconsistent behavior.

VM before restore:
<img width="731" alt="Scr

[2022-08-12 11:08] TachunLin commented on #2598
Verified on Harvester `master-538d41fe-head` with Rancher `v2.6.7-rc7`. Close this issue.

### Result
1. Currently the `Pod Scheduling` did not show on the RKE2 cluster config page
  ![image](https://user-images.githubusercontent.com/29251855/184342130-9291c640-ea49-4640-a8a8-575aa4484b72.png)

2. Also the `Pod Scheduling` did not show on the RKE1 template cluster config page
  ![image](https://us

[2022-08-12 11:08] #2598 closed, assigned to DaiYuzeng, TachunLin

[2022-08-12 15:14] BringerOD commented on #2660
Follow up,  the message is now gone.   Which is good.  I did not do anything to remove it.

My concern is still there though.

What happens if it comes back and do I have something miss configured.

![image](https://user-images.githubusercontent.com/7971305/184385752-3bd78699-b94d-4482-9725-a560111b90ae.png)

[2022-08-13 11:04] hernad opened #2663 "[FEATURE] Boot harvester live iso without launcing harvester-installler"
**Problem**

I regularly starting harvester-live configuration on an node for debugging and inspecting purposes.

This is extract from my ipxe configuration
<pre>
:harvester_live
kernel ${http_harvester}/harvester${harvester_release}-vmlinuz-amd64 ${k_cmd} ip=dhcp net.ifnames=1 rd.cos.disable rd.noverifyssl root=live:${http_harvester}/harvester${harvester_release}-rootfs-amd64.squashfs
initrd ${ht

[2022-08-13 11:24] hernad opened #2664 "[FEATURE] xfs LABEL 12-char limit"
**Format xfs as harvester data volume**

I am investigating additional storage configurations, especially zfs/zvol and xfs. During those investigations I ran into file system label length problem. xfs doesn't allow allow labels larger than 12 chars. So If I try make xfs file system with label HARV_LH_DEFAULT I get error.

**My patch**

I override that shortening label to HAR_LH_DEF.

Most of it is

[2022-08-13 13:55] hernad commented on #2663
Additional commit to fix yaml:

https://github.com/hernad/harvester-installer/commit/56e0829c0a043ae6a029283f139820a28091519c

[2022-08-15 00:08] TimRyanKaslovia commented on #2043
I have the same issue with a fresh Harvester 1.0.3 build on a  3 machine cluster built on Dell R610 andR710 servers

[2022-08-15 06:01] tjjh89017 commented on #2472
### Test Plan

1. check installer UI has default bond mode as active-backup mode.

[2022-08-15 08:12] tgazik opened #2665 "[BUG] reinstall 1st node"
**Describe the bug**
I tried to reinstall 1st node (installed with mode: create) and the node after reinstallation didn`t joined existing cluster.

**To Reproduce**
Steps to reproduce the behavior:
1. install 3 node cluster
2. turn off 1st node (installed with mode: create), remove it from cluster via GUI - hosts - delete host, wipe all disks (with fdisk remove partititions and mkfs.ext4 /dev/sda)

[2022-08-15 08:30] tgazik commented on #2470
I have same problem: https://github.com/harvester/harvester/issues/2665
tested in v1.0.3 and 2 different environments.
I configured the nodes via yaml in installation.
vip: myipaddress
vip_mode: static

[2022-08-15 09:24] w13915984028 commented on #2665
@tgazik Please add the support bundle file, thanks.
 https://docs.harvesterhci.io/v1.0/troubleshooting/harvester/#generate-a-support-bundle

As a workaround, could you please try to install the first node again, with a different hostname and host IP ?  The failure may be related to reusing the same hostname and IP, but there are potential conflict remainings, we are investigating.

[2022-08-15 10:15] w13915984028 commented on #2027
connect with #2659

[2022-08-15 11:18] tgazik commented on #2665
Tried to replicate with different hostname and IP, but the result is same, node didn`t joined the cluster.
i can see in journalctl -b -u rancherd:
[code]
no other lines in that log

support bundle before 1st node was reinstalled:
[github_issue-2665_before_1stnode-reinstall-supportbundle_e00fe9f4-4d91-4d66-be5c-76a5add6e1e1_2022-08-15T10-32-39Z.zip](https://github.com/harvester/harvester/files/9336

[2022-08-15 12:57] lanfon72 commented on #1774
@guangbochen is this has been fixed or we just need to re-validate the bug still here?

[2022-08-15 13:13] Martin-Weiss commented on #2611
We have to be very careful with the "automated deletion of a stateful set"! Especially in split brain situations this can cause data-loss / data-corruption issues. I assume that this is the reason why a stateful pod is NOT deleted automatically if the "hosting node" is not seen as available..

[2022-08-15 13:26] w13915984028 commented on #2665
@tgazik If the hanging node is still there, could you please help grab more information, which is not in the support-bundle. Thanks.

[code]

[2022-08-15 13:33] joshmeranda commented on #1774
@lanfon72 There is a [PR](https://github.com/rancher/rancher/pull/37765) up for this issue but it has not been merged.

[2022-08-15 14:11] tgazik commented on #2665
@w13915984028 i already reinstalled the env, but i did the test again. See the outputs from requested commands
[requested_commands.txt](https://github.com/harvester/harvester/files/9337693/requested_commands.txt)

[2022-08-15 14:34] w13915984028 commented on #2665
@tgazik Thanks for your fast retest. The attached information is very helpful. Will update when we find the root cause.

[2022-08-15 15:31] futuretea opened #2666 "[FEATURE] Generate and upload code coverage report for integration tests"
**Is your feature request related to a problem? Please describe.**

https://github.com/harvester/harvester/pull/2637#discussion_r944305074

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

https://onsi.github.io/ginkgo/#computing-coverage
https://github.com/onsi/ginkgo/issues/990

[2022-08-15 17:17] kingnarmer opened #2667 "Automate VMs template creation"
I have harvester cluster running 1.0.3. I can create template and deploy VM from gui. I am looking for guidance on how to  automate VM template creation with company customization. End goal is to automate VMs template creation and VMs deployment.  ,

Right now , I use packer to create template on vmware and run commands to customize template before saving it.

I am looking for guidance on how to a

[2022-08-16 00:03] ibrokethecloud commented on #2274
Initial work is available here: https://github.com/harvester/vm-import-controller

[2022-08-16 08:57] lanfon72 commented on #2472
Verified this feature has been implemented.

![image](https://user-images.githubusercontent.com/5169694/184838334-a723f066-8eef-4cbc-ab66-6e02b758823d.png)
![image](https://user-images.githubusercontent.com/5169694/184839241-3702fa7c-950e-4b51-8c18-d29d4121f848.png)

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **master-d2faf778-head**
* **ui-source** Option:

[2022-08-16 08:57] #2472 closed, assigned to tjjh89017, lanfon72

[2022-08-16 11:38] FrankYang0529 commented on #1374
Hi @lanfon72, for the `Clone` button, it's been fixed in https://github.com/harvester/harvester/issues/569. However, the old `Clone` function is `Clone Template` in the new UI, so we can still reproduce the issue on the `Clone Template` button. I wonder whether we want to fix this on `Clone Template`. From the YAML template view, the original VM uses a dedicated volume, so it can't be cloned as a

[2022-08-16 11:51] lanfon72 commented on #1374
@FrankYang0529 as we already have `GenerateTemplate` Button for each VM, IMO I would expect that `Clone` should be the same as vSphere's **Clone an existing VM**.

[2022-08-16 13:57] Martin-Weiss opened #2668 "[BUG] Upgrade -> what to do in case /usr/local does not have >25 GB free disk space"
**Describe the bug**
Based on the harvester requirements documentation harvester was installed on a 200 GB disk for the OS and a 300 GB disk for additional data.
Now when doing the upgrade from 1.0.2 to 1.0.3 we are verifying the free disk space on /usr/local and see that this is only 14 GB instead of the documented >25 GB that are required.

-> how can we increase the disk space for /usr/local or

[2022-08-16 14:19] Martin-Weiss commented on #2668
[code]

[code]

It seems the disk space is used by images - especially due to previous upgrades where the "old" images did not seem to get removed.. but as the images are automatically pre-loaded during the harvester installation and upgrade I am not sure if it is a valid workaround to remove the "old" images i.e. with crictl rmi --prune <- would that be allowed with harvester before the upgrade t

[2022-08-16 14:35] Martin-Weiss commented on #2668
Might be related to https://github.com/harvester/harvester/issues/2132

[2022-08-16 14:36] Martin-Weiss commented on #2132
This also needs to be related to the documentation stating ">25 GB free" required in /usr/local and in relation to the minimum and recommended disk size for Harvester in general..

[2022-08-16 16:03] tlehman commented on #992
To clarify, the features targeted for 1.1.0 are all PCI-Passthrough based:

- SR-IOV in guest cluster mode (done by setting up SR-IOV in a VM after enabling PCI Passthrough on a network device(s) and assigning it/them to the VMs implementing the guest cluster)
- GPU passthrough by installing the drivers in the VM after enabling PCI Passthrough on a GPU device and assigning it to a VM

[2022-08-16 18:17] RegisWeduLabs commented on #2396
@crazyelectron-io, Thank you!!  I had the exact same issue, and I'm not sure I can explain it but it worked after removing console=ttyS0 from the boot parameters in the grub entry.  Been trying different things for the last day and I came across your suggestion.  If it can help or add a bit of context, I installed it using IPMI with remote media.

[2022-08-16 18:37] RegisWeduLabs commented on #2651
Having the same issue with an IPMI - I had this particular issue (just above) and removing console=ttyS0 (following this gentlemen comment: https://github.com/harvester/harvester/issues/2396#issuecomment-1161618942) from the boot options - I ended up being able to move further in the installation process.  That said, I'n now having the containerd.sock issue.  It does seem to relate to remote conso

[2022-08-16 19:13] noahgildersleeve commented on #2299
Tested with v1.0.3.
## Verification steps
1. Create version.yaml on control node of Harvester
[code]
2. Create version with kubectl on control node `kubectl create -f version.yaml`
3. Log in and click Upgrade button
![Screenshot_20220816_120948](https://user-images.githubusercontent.com/83787952/184962383-bd860a4e-e069-42d8-aff8-d903cce8c8c8.png)
4. Verify that upgrade page has associated text and

[2022-08-16 21:02] w13915984028 opened #2669 "[FEATURE] Harvester logging supports sending log to Graylog via UDP based syslog"
**Is your feature request related to a problem? Please describe.**

Harvester logging supports send log to Graylod via udp based syslog

**Describe the solution you'd like**

The logging center in cluster sends log to different log server via related plugin.

**Describe alternatives you've considered**

**Additional context**

The integration with Graylog is summarized in

https://github.com/w1391

[2022-08-16 21:04] w13915984028 commented on #2644
The resources usage of logging (https://github.com/harvester/harvester/issues/577). cc @joshmeranda @guangbochen @bk201

(tested in single-node cluster)
[code]

@joshmeranda when you have the resources usage of multi-node, please also post it, plus the grafana loki.

The `rancher-logging` creates a new namespace `cattle-logging-system`, which is also new to `Harvester`.

Enable `logging` by defaul

[2022-08-16 21:34] tlehman commented on #1029
The version of this feature we are targeting for release 1.1.0 will be based on #992 and use PCI Passthrough. The driver for your specific GPU will need to be installed in a VM, but the VM will have direct access to the underlying PCI device by using PCI passthrough.

[2022-08-16 21:54] #2299 closed, assigned to bk201, WuJun2016, noahgildersleeve

[2022-08-16 22:20] irishgordo commented on #2510
Tested on Master-9631b136, master.iso:

Validated error messages get updated to different messages.
Validated that when provided the correct url that the error message disappears.

Test ENV:
- qemu/kvm , harvester, 8c 20354MiB memory
- 3 Node K3OS Rancher Cluster:
    User: Admin
    K3OS Installed On Bare-Metal: k3os version v0.21.5-k3s2r1
    Rancher Version: v2.6.7-rc6
    Modded Lenovo ThinkCe

[2022-08-16 22:20] #2510 closed, assigned to irishgordo, futuretea, WuJun2016

[2022-08-16 22:27] RegisWeduLabs commented on #2651
Is it possible that the image docker pull rancher/harvester-cluster-repo:v1.0.3 requires authentication?  I just tried a manual pull (outside the installer) and I got the error: "Error response from daemon: pull access denied for rancher/harvester-cluster-repo, repository does not exist or may require 'docker login': denied: requested access to the resource is denied".  My guess is that maybe some

[2022-08-16 22:38] irishgordo commented on #2096
@bk201

Based around some outside discussion, the scope may need to be adjusted.  I think the biggest goal will be to try to get in 45 as it's had the most attention and others to be reviewing.

## Items That Can Get Funneled In With Scope

So far we currently have with [Pull-Request #45 On Harvester/ipxe-examples](https://github.com/harvester/ipxe-examples/pull/45):
- supporting edits to support

[2022-08-16 22:38] RegisWeduLabs commented on #2651
@bk201 Yhea something is up with this image - tried all the previous version and cannot find in in the docker registry...  Tried a few other rancher images without issues.

[2022-08-17 01:02] bk201 opened #2670 "[TASK] Publish `rancher/harvester-cluster-repo` image"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
The image `rancher/harvester-cluster-repo` is built on the installer side and shipped in the package tarball.
We need to publish the image to the docker hub as well, sometimes it's easier to debug.

**Describe alternatives you've considered**

**Additional context**

[2022-08-17 01:02] bk201 commented on #2651
@RegisHubelia The `harvester-cluster-repo` image is not published but only shipped with the ISO. I guess it's a good idea to publish it, and create an issue: https://github.com/harvester/harvester/issues/2670

[2022-08-17 01:03] irishgordo commented on #2651
While trying to run rke2 from /run/cos/target 's chroot:
[code]

Thanks for that info @RegisHubelia !
I did try removing the `console=ttySO` from the grub config and ended up seeing the same issue sadly :/

[2022-08-17 02:23] tjjh89017 commented on #2665
@tgazik I will take a look.
Do you change first node IP in reinstallation process?

[2022-08-17 03:44] FrankYang0529 commented on #1374
After discussing with @lanfon72, we have a suggestion about removing `Clone Template` button. For function perspective, it's similar with `Genrate Template`. The difference is that `Generate Template` will remain a template in the system. For semantics perspective, it's hard for users to know difference between `Clone` and `Clone Template` at first glance.

[2022-08-17 03:50] bk201 commented on #1374
@guangbochen I guess it's OK to remove the `CloneTemplate` button, any comments? Thanks. what's left
- `Clone`: Create a VM from the source VM, data are identical.
- `Generate Template`: Create a template from the source VM, new VMs from the template use the source VM image.
<img width="209" alt="Screen Shot 2022-08-17 at 11 48 13 AM" src="https://user-images.githubusercontent.com/1691518/18503086

[2022-08-17 05:57] tjjh89017 commented on #2665
note:
rancher-system-agent debug log
keep showing log below
[code]

[2022-08-17 06:31] FrankYang0529 commented on #2667
Hi @true64gurus, what do mean about the template here? Do you mean the template to create VM on the harvester?

![Screen Shot 2022-08-17 at 2 30 45 PM](https://user-images.githubusercontent.com/4927361/185050236-555001d5-bc81-44af-a15c-176e990217c3.png)

[2022-08-17 07:06] FrankYang0529 commented on #2657
I can't reproduce this on `https://releases.rancher.com/harvester-ui/dashboard/latest/index.html`. Not sure how UI shows the `Age` field. Does it get `vm.metadata.creationTimestamp` and calculate the age by UI? Or does it use WebSocket to get the `Age` field update from the server?

cc @WuJun2016 Thank you.

[2022-08-17 07:25] WuJun2016 commented on #2657
@FrankYang0529
<img width="1224" alt="image" src="https://user-images.githubusercontent.com/24985926/185057614-281666ec-cd9d-4a88-b251-5f66b60da9e3.png">

The frontend is based on metadata.creationTimestamp.

There is a similar problem here：   https://github.com/harvester/harvester/issues/394

[2022-08-17 08:07] lanfon72 commented on #1774
As this issue opened 8 months ago, It should happened in the combination: Rancher `v2.6.3` with Harvester `v1.0.0`.

Able to be reproduced in:
- Rancher `v2.6.3` with Harvester `v1.0.0`
- Rancher `v2.6.6` with Harvester `v1.0.0`
- Rancher `v2.6.3` with Harvester `v1.0.3`
- Rancher `v2.6.6` with Harvester `v1.0.3`

Log messages be reduced in:
- Rancher `v2.6.7-rc9` with Harvester `v1.0.0`
- Rancher

[2022-08-17 08:16] tgazik commented on #2665
@tjjh89017

Yes i changed the IP and also the hostname.

The host is still not joined into the cluster after 2 days. I keep the cluster installed.

[2022-08-17 08:18] tjjh89017 commented on #2665
We are working with Rancher team to debug.
If possible, could you keep that env?
If rancher team needs more details.
Thanks a lot

[2022-08-17 08:22] tgazik commented on #2665
Sure i will keep it, no problem. Thanks for update

[2022-08-17 08:46] FrankYang0529 commented on #2585
Hi @Iliasb, thanks for filing an issue here. Do you remember whether your cluster had 3 control plane nodes? If yes, you may encounter a know issue #2191. You can try the workaround in the thread https://github.com/harvester/harvester/issues/2191#issuecomment-1115794201. Thank you.

[2022-08-17 09:33] w13915984028 commented on #2657
Is it possible that the Cluster's time is few minutes ahead of the client side,  e.g. Custer side's NTP is failure, or client side is behind standard time?  Then it caused this tricky issue, the computed age is decreasing.

[2022-08-17 10:07] w13915984028 commented on #2517
An imporant tip about how to view alerts from `Prometheus` directly

https://github.com/prometheus/alertmanager/issues/2858

The key is to configure externalUrl in both `alertmanager` and `Prometheus`

In Harvester, from following similar path to view alert information in `Prometheus`

https://192.168.122.200/api/v1/namespaces/cattle-monitoring-system/services/http:rancher-monitoring-prometheus:90

[2022-08-17 11:02] TachunLin opened #2672 "[BUG] Failed to resize Harvester persistent volume in Rancher PersistentVolume page of RKE2 cluster"
**Describe the bug**

Unable to resize the Harvester persistent volume created with nginx deployment.
![image](https://user-images.githubusercontent.com/29251855/185100482-9c59034e-1900-4dc4-a2cf-aa8784cde187.png)

It prompt error message
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Provision an Harvester RKE2 guest cluster from Rancher
2. Wait for guest cluster ready
3. Open Workl

[2022-08-17 11:55] MrSliff opened #2673 "[Question] Harvester as VM on KVM host and VLAN tagging with virtual nic"
I have some problems setting up Harvester as a VM. Particularly problems with the Harvester VLAN Network.

I have added 2 nics to the VM. One nic connects to br0 (for mgmt network) on the host system, the other one connects to br0.1010 (tagged vlan for VLAN network). The Management Network in Harvester works without problems, but the VLAN-Network has Problems. I think its misconfigured.

My curren

[2022-08-17 12:01] kingnarmer commented on #2667
@FrankYang0529  Thanks for response. Yes, I am looking for guidance on how to automate VM template creation. I can create simple template from GUI.

[2022-08-17 12:06] RegisWeduLabs commented on #2670
Will probably make remote install (IPMI) quicker too?

[2022-08-17 15:27] w13915984028 commented on #2615
the quoted `"true"` in YAML will be converted to string "true", not boolean.

To fix this issue, we need to update both:

`deploy/charts/harvester/dependency_charts/kubevirt-operator/templates/deployment.yaml`
and
`deploy/charts/harvester/charts/kubevirt-operator-0.1.0.tgz`

Indeed, only update to `deploy/charts/harvester/charts/kubevirt-operator-0.1.0.tgz` will be effective.

[2022-08-17 16:23] TachunLin commented on #2443
Verified **fixed** on harvester-terraform-provider `0.5.1` with Harvester `v1.0.3`. Close this issue.

### Result
Now we can use the data source refer to the display name that had been used via creation of the image via UI.

* Image resource created in image UI
![image](https://user-images.githubusercontent.com/29251855/185184768-18708aaf-96a4-40c2-8d8f-247a21d42705.png)

* Image state of running

[2022-08-17 16:23] #2443 closed, assigned to futuretea, TachunLin

[2022-08-17 16:47] RegisWeduLabs commented on #2651
@bk201 - if it can help, I'm willing to give access to the IPMI so you can use it as a test? It happens whatever I do...  Maybe it would help fixing this issue?

Thanks!

[2022-08-17 17:04] irishgordo commented on #2651
@RegisHubelia thanks!

I actually noticed from yesterday, that when the node experienced the hang, seeing the repeat:
[code]
from the installer window.

That once those errors started popping up -

[Logging Into The Live OS Via Ctrl + Alt + F2](https://docs.harvesterhci.io/v1.0/troubleshooting/installation/#logging-into-the-harvester-installer-a-live-os)
Or in a terminal shelling into the node dir

[2022-08-17 18:13] irishgordo commented on #2219
:+1:  this looks good! :smile:

Validated on:
- Harvester Master ISO, 9631b136
- Rancher version, v2.6.7-rc9

![name-validation-error-appears](https://user-images.githubusercontent.com/5370752/185211313-41e4a07a-d5dc-41f8-b352-808c6784c055.png)

[2022-08-17 18:13] #2219 closed, assigned to irishgordo, mantis-toboggan-md

[2022-08-17 18:25] irishgordo commented on #2650
Validated that while #2510 passes, the ability to set the cluster-registration-url to null is still exists as an issue in Harvester Master iso: 9631b136
and v2.6.7-rc-9 Rancher.
![Screenshot from 2022-08-17 11-25-21](https://user-images.githubusercontent.com/5370752/185214980-7a2faeaf-70ca-4610-a0d4-96be03dad17e.png)

[2022-08-17 19:07] RegisWeduLabs commented on #2651
@irishgordo, Interesting workaround!

I finally got it to work, using a few workarounds too...
Here are the steps I took:

1) Added rd.live.ram=1 in kernel boot parameters (this makes it possible to unmount /dev/sr0 later) (e in grub menu boot entry)
2) Booted the installer
3) Configured the network so I can ssh in
4) ssh in the node
5) took another drive not use during installation (in my case sd

[2022-08-17 21:13] RegisWeduLabs opened #2674 "[FEATURE] S.M.A.R.T. Status in Disks view on nodes"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
It would be great to see the Smart Status of the disks within the UI under a specific node - Disks:

**Describe alternatives you've considered**
N/A

**Additional context**

![screenshot_2022-08-17-171100](https://user-images.githubusercontent.com/25985730/185244192-5869716e-3679-48a9-9e65-

[2022-08-17 21:55] RegisWeduLabs opened #2675 "[BUG] - Bridge mode goes back to balance-tlb after installation"
**Describe the bug**
When you install Harvester from the Iso, and configure the bridge mode to 802.3ad, upon installation completion and after reboot, in the /oem/99_custom.yaml file, the BONDING_MODULE_OPTS shows mode-balance-tlb.  This makes the network fail after the node starts the services.  We need to edit the file to change the mode back to 802.3ad.

**To Reproduce**
1. Boot Harvester Insta

[2022-08-17 23:48] bk201 commented on #2675
cc @tjjh89017

[2022-08-18 01:22] Vicente-Cheng commented on #2660
Hi @BringerOD,

Sorry for the late update. For your questions.
I thought the original warning message tips users to know that the disk is on low capability.
(we need to keep some space for replication due to thin-provision design)

For the second picture, Longhorn (Harvester volume backend) has some mechanism to release the disk space by cleaning up the system snapshot, orphaned data, or backing i

[2022-08-18 01:35] yasker commented on #1662
@chrisho Great! That works.

Can we document it?

[2022-08-18 02:23] tjjh89017 commented on #2675
@RegisHubelia I will try to reproduce it in my lab.
Do you get same result every time?

[2022-08-18 03:10] tjjh89017 commented on #2675
reproduce:
Choose 802.3ad
and check the installation options page
it will always show balance-tlb

[2022-08-18 03:25] chrisho commented on #1662
Yeah, I'll add details to the document later

[2022-08-18 03:37] tjjh89017 commented on #2675
@RegisHubelia
You could set the bond mode in Installation UI "twice" as a workaround.

[2022-08-18 03:47] tjjh89017 commented on #2675
### Root Cause:

`mgmtNetwork.BondOptions` will `nil` until `askBondModeVConfirm` is executed first time.
`PreShow` will be executed multiple times and set BondMode back to the default value in the first time.

### Fix

While setting default bond mode, let installer set BondOptions to non-null map to avoid.
https://github.com/harvester/harvester-installer/pull/320

### Workaround

Choose bond mode

[2022-08-18 04:01] FrankYang0529 commented on #2672
I think the correct way to resize volume in the guest cluster is to update PVC. Following is a result I got when I tried to resize the PVC.

![Screen Shot 2022-08-18 at 11 58 23 AM](https://user-images.githubusercontent.com/4927361/185290648-cda58694-3b11-4354-a7fb-5d32f06db0e1.png)
![Screen Shot 2022-08-18 at 11 58 53 AM](https://user-images.githubusercontent.com/4927361/185290659-7d3aebcb-9f71-4

[2022-08-18 05:00] bk201 commented on #2651
@RegisHubelia The workaround you provide is indeed to make the installation medium available locally. So, you are using IPMI over **WAN** (not even **over LAN**)?

[2022-08-18 07:50] n313893254 commented on #2619
Hi, @midhunthampi.  Could you use Harvester v1.0.3 to verify it? The calculation method has changed in v1.0.3.

[2022-08-18 07:54] WuJun2016 commented on #2621
duplicate ,  features are tracked in another issue https://github.com/harvester/harvester/issues/2237，  so close this issue.

[2022-08-18 07:55] #2621 closed, assigned to WuJun2016

[2022-08-18 07:59] TachunLin commented on #2672
As @FrankYang0529 mentioned, currently we only support resizing PVC in the following way.
1. Deattach the PVC from existing service then edit PVC to change request storage size
2. Edit a stand alone PVC and change its size

The capacity of PV will be changed accordingly after we modify the PV
This would be the correct and supported way to resize volume in the guest cluster
Thus close this issue.

[2022-08-18 07:59] #2672 closed, assigned to nobody

[2022-08-18 08:27] WuJun2016 commented on #2319
FYI：
In order to be consistent with the style of the rancher 2.7.0 component, we need to modify the design in harvester 1.1.0.

[2022-08-18 08:30] WuJun2016 commented on #2570
I've noticed that the websocket connection disconnects and reconnects every 1 minute, but if you type anything in the meantime, the websocket doesn't disconnect and reconnect, which could be a back-end behavior

<img width="1569" alt="image" src="https://user-images.githubusercontent.com/24985926/185348466-382b1c8c-0fcd-4769-81be-121a67cc0ab9.png">

[2022-08-18 08:50] WuJun2016 commented on #1867
Hi @mantis-toboggan-md  I created an issue in the rancher repo that we can rebase to harvester after the upstream fix, thanks!
https://github.com/rancher/dashboard/issues/6686

[2022-08-18 09:20] guangbochen opened #2676 "[FEATURE] Add Harvester edge installation mode"
**Is your feature request related to a problem? Please describe.**
Add Harvester edge installation mode so it can be more user-friendly for edge users, e.g., disable the monitoring and logging, requires fewer replicas to save both cluster resources and consumptions.

**Describe the solution you'd like**
TO ADD

**Describe alternatives you've considered**

**Additional context**

[2022-08-18 10:12] RegisWeduLabs commented on #2675
Thank you for taking care of it - and for the workaround!

[2022-08-18 10:15] tjjh89017 commented on #2675
I tested workaround in my lab and worked fine.
Does that work in your environment?
tks a lot

[2022-08-18 10:20] RegisWeduLabs commented on #2651
@bk201, yes, It's a hosted dedicated server so installation occurs over WAN.  I installed other linux distro (proxmox in the past, and fedora as a test on those 2 specific hosts) and worked well...  I'm unsure of what is going on, and I realise that my workaround is to run the media locally.  The rd.live.ram parameters caches part of the installation media, but I think the issue comes when checkin

[2022-08-18 10:26] lanfon72 opened #2677 "[BUG] Volumes bounded on a deleted VM and unable to be removed"
### Describe the bug
https://user-images.githubusercontent.com/5169694/185370936-e07979ed-0079-4754-b2d0-bcb9872a5ebe.mp4

It discovered by daily e2e testing.

### To Reproduce
Steps to reproduce the behavior:
1. Install Harvester with any nodes
2. Create a Image for VM creation
3. Create the VM `vm1` via API endpoint: `https://<CLUSTER_VIP>/apis/kubevirt.io/v1/namespaces/default/virtualmachines`

[2022-08-18 10:35] RegisWeduLabs commented on #2675
I'll build a new node within a few hours and will let you know ASAP.

[2022-08-18 10:47] lanfon72 commented on #2591
Verified this bug has been resolved.
Warning message added.

![image](https://user-images.githubusercontent.com/5169694/185376639-66d10a36-7f68-4689-9cd6-4ef6034f1aac.png)

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **master-9631b136-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with any nodes
2. Login to dashboard and navig

[2022-08-18 10:47] #2591 closed, assigned to lanfon72, DaiYuzeng

[2022-08-18 15:24] RegisWeduLabs commented on #2675
@tjjh89017, worked fine!

[2022-08-18 17:29] irishgordo commented on #2675
![validated-that-install-doesnt-change-bond-mode](https://user-images.githubusercontent.com/5370752/185457667-5ac53bb1-96df-4b12-ad38-a85430f62998.png)

Validated that this all looks good on Harvester Master ISO: 9631b13 :smile: :+1:

Thanks @tjjh89017 !

I'll go ahead and close this out.

[2022-08-18 17:29] #2675 closed, assigned to tjjh89017, irishgordo

[2022-08-18 18:27] irishgordo commented on #2628
@DaiYuzeng this looks great :+1: :smile:
I validated on Harvester Master ISO version: 9631b13 that the cordon error is now properly displaying when you attempt to cordon
![displays-error-with-cordoning-the-host](https://user-images.githubusercontent.com/5370752/185467611-af1acb83-12f8-4b82-b9c4-15861b0067b4.png)
 a single node.

[2022-08-18 18:27] #2628 closed, assigned to irishgordo, DaiYuzeng

[2022-08-18 20:00] khushboo-rancher commented on #2551
The backend test should be added for adding a new disk. https://github.com/harvester/tests/issues/450

[2022-08-18 21:10] w13915984028 commented on #2558
Summary of how to trouble-shooting this issue:

https://github.com/w13915984028/harvester-develop-summary/blob/main/harvester-pod-100-cpu-usage-issue-2558.md

[2022-08-19 07:20] starbops commented on #2662
Is there any potential impact on the UI regarding changing `harvesterhci.io/vm-name` to `harvesterhci.io/vmName`? cc @WuJun2016 Thanks!

[2022-08-19 07:28] WuJun2016 commented on #2662
@starbops  There is no impact, I think the backend should keep the label consistent when restoring via backup.

[2022-08-19 08:02] starbops commented on #2402
Test Plan
=========

Steps
-----

1. Install Harvester with updated harvester-installer
1. After the installation is completed, check the dashboard console, its layout should look like the following:
<img width="806" alt="Screen Shot 2022-08-18 at 16 38 27" src="https://user-images.githubusercontent.com/1827717/185572813-d0b063a4-933e-4eb0-8da9-b74d3a714e3c.png">

[2022-08-19 08:20] w13915984028 commented on #2615
Final commi is in PR https://github.com/harvester/harvester/pull/2678

[2022-08-19 08:30] WuJun2016 commented on #2618
[UI change]
* If the selected type is s3, the endpoint is not checked.

[2022-08-19 08:42] WuJun2016 commented on #2153
Hi, @tlehman   I see that you have already done the [frontend](https://github.com/tlehman/dashboard/commit/4bf9af778114ee58afc1957ec57476b99e147fdc) part of this issue, I don't know if  still need the frontend colleagues to intervene?  if there is anything that needs to be handled by the frontend, please let me know.  Thanks

[2022-08-19 08:54] andrewbabbittdev opened #2679 "[FEATURE] Add bare-metal container and MCM support"
*Sorry if an existing ticket exists for this, hard to find anything similar with search*

**Is your feature request related to a problem? Please describe.**
Currently, the [rancher integration](https://docs.harvesterhci.io/v1.0/rancher/rancher-integration/) requires you to either have rancher deployed elsewhere, as a VM inside of harvester using docker (not recommended), or deployed in a cluster u

[2022-08-19 09:25] yaocw2020 opened #2680 "[BUG] The VMI with rancher is always refreshing"
**Describe the bug**

[code]
The VMI is always refreshing.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a VM with ubuntu OS
2. Set up a K3s cluster in this VM
3. Install rancher on the K3s cluster

**Expected behavior**

The VMI should not be always refreshing.

**Support bundle**

**Environment**
 - ubuntu OS: 20.04
 - K3s version: v1.23.9+k3s1
 - rancher version: v2.6.7
 - Harves

[2022-08-19 12:26] w13915984028 commented on #2676
`Prometheus` is enabled by default in Harvester, and the related `PromethesRule` is also created from beginning, there has already been `alert` raw information in Harvester `Prometheus`.

The `Alertmanager` is an addon to `Prometheus` in `rancher-monitoring`. Official document about the functionality of `Alertmanager`:  `The [Alertmanager](https://github.com/prometheus/alertmanager) handles alerts

[2022-08-19 13:21] w13915984028 commented on #2518
Resource usage of `Alertmanager`:

Alertmanager has one POD in the cluster, it takes around 50Mi of memory.

[code]
Data storage:
PVC: 5GB to store data.

[2022-08-19 22:23] tlehman commented on #2153
yeah I think this should be done by the frontend team, since my work in the commit you linked to is not complete

[2022-08-20 00:35] midhunthampi commented on #2619
Okies, let’s try to upgrade and see what change comes.

Thanks,
Midhunthampi

On Thu, Aug 18, 2022 at 12:50 AM Qingyang Nong ***@***.***>
wrote:

[2022-08-21 17:29] lanfon72 commented on #2551
Verified this bug has been resolved.
![image](https://user-images.githubusercontent.com/5169694/185803007-62aafe18-c7be-4996-b663-2c4d437ce7fd.png)
![image](https://user-images.githubusercontent.com/5169694/185803025-ad4e0c92-15ed-4065-a5a0-8306f97a45e8.png)

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **master-9631b136-head**
* **ui-source** Option: **Auto**

[2022-08-21 17:29] #2551 closed, assigned to lanfon72, n313893254

[2022-08-21 17:29] lanfon72 opened #2682 "[FEATURE] Display Disks' error message as notification"
### The problem
Currently, the error message of disks' will appear in Host's details, user will not aware that if there don't visit the page

![image](https://user-images.githubusercontent.com/5169694/185803353-a5d01342-a6f7-40e7-bfc1-48724723ba92.png)

### The solution
Display it as the websocket reconnecting notification

### The Alternatives

### Additional Context

[2022-08-22 07:49] TachunLin commented on #2610
Verified **fixed** on `master-9631b136-head` (08/16). Close this issue.

### Result
Once the VM haven't take the backup, there will be no `Restore` option display on the VM options under the following scenarios
  1. Stop the VM,
    ![image](https://user-images.githubusercontent.com/29251855/185862704-fb992049-3e71-44fb-8953-079c5b4cd1a5.png)

  2. Restart the VM
    ![image](https://user-images.g

[2022-08-22 07:49] #2610 closed, assigned to FrankYang0529, TachunLin

[2022-08-22 08:03] FrankYang0529 commented on #2667
@true64gurus if we have a `harvester_template` resource in the harvester terraform provider, will it be helpful to you?

https://registry.terraform.io/providers/harvester/harvester/latest/docs

[2022-08-22 09:15] bk201 commented on #2096
@irishgordo as long as `harvester-vagrant-installation-test` works, feel free to improve out-of-scope topics in the future.

[2022-08-22 17:26] johnlaur commented on #2419
I confirm this bug and workaround resolves a similar persistent problem with a windows guest in our environment.

In attempting to debug this issue, we found that we experienced fewer OOM kills when running with emulated devices as opposed to paravirtualized virtio devices. This is my own speculation, but perhaps Windows guest virtio drivers require QEMU to malloc larger buffers in host memory tha

[2022-08-22 17:33] johnlaur commented on #2522
Windows Server 2022 guest with 16GB of memory configured with 1 virtio NIC and 2 virtio disks of 512GB and 2TB respectively requires > 256MiB of reserved memory in our environment not to be OOM killed. We have set Reserved Memory to 512MiB and the VM is stable. I speculate the amount of additional host memory needed by QEMU is related to virtqueues and buffers necessarily to implement the paravirt

[2022-08-23 01:26] kingnarmer commented on #2667
@FrankYang0529 Sure , that actually will work better.

[2022-08-23 06:18] wonleing commented on #2523
Actually, I didn't click any UI button. So I don't have any 'maintenance' related record in ingress-nginx-controller.
I just had a single server running harvester. I tried to remove these warning by comment out the werror, but It will generate more problems. So what I can do is trying to slow it down... Anyway I still think this is a bug.

kubectl logs -n kube-system kube-apiserver-localhost.local

[2022-08-23 06:42] wonleing commented on #2523
[code]
Let's see what will happen when I just have 1 node, without MaintainStatusAnnotationKey nor Unschedulable:
1st if, pass
2nd if, pass
for, get continue.
So It turns werror.

I don't understand the logic here. why not just loop all nodes, return nil when any node has no MaintainStatusAnnotationKey nor Unschedulable or return a werror?

[2022-08-23 07:39] guangbochen commented on #2200
We are migrating our docs to Docusaurus. Let's plan to fix it in the new platform. cc @vickyhella

[2022-08-23 07:47] bk201 commented on #824
We plan to implement controllers in the support bundle kit, we could add tests in that repo.

[2022-08-23 07:47] #824 closed, assigned to nobody

[2022-08-23 08:11] bk201 commented on #1378
Please check https://github.com/rancher/dashboard/issues/4348#issuecomment-955911204

[2022-08-23 08:11] #1378 closed, assigned to nobody

[2022-08-23 08:14] bk201 commented on #1444
We can have a configuration field to enable this feature. (disabled by default)

[2022-08-23 08:33] bk201 commented on #2572
Close since it can't be produced. Please re-open if you hit this issue again.

[2022-08-23 08:33] #2572 closed, assigned to n313893254

[2022-08-23 09:06] bk201 commented on #2547
Moving to 1.2.0, we can manually trigger tests on the branch.

[2022-08-23 09:34] lanfon72 commented on #2584
Verified this bug not fixed in the main case:

https://user-images.githubusercontent.com/5169694/186124384-a8cd6a97-aae8-4002-ba53-56235a936e01.mp4

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **master-dc6a3089-head**
* **ui-source** Option: **Auto**

### Verify Steps:
- Follow **Steps to reproduce** in https://github.com/harvester/harvester/issues/2584#issue

[2022-08-23 09:35] lanfon72 commented on #2503
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/186118757-79a584f5-e11e-4f68-b2ff-21fb980d45c6.png)

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **master-dc6a3089-head**
* **ui-source** Option: **Auto**
* Harvester Terraform Provider Version: **v0.5.1**

### Verify Steps:
- Follow **Steps to reproduce** in https:/

[2022-08-23 09:35] #2503 closed, assigned to lanfon72, WuJun2016

[2022-08-23 09:39] lanfon72 commented on #2618
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/186125774-784b39c1-49a4-4b87-9ef1-963d0a5dc170.png)

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **master-dc6a3089-head**
* **ui-source** Option: **Auto**

### Verify Steps:
- Follow **Steps to reproduce** in https://github.com/harvester/harvester/issues/2618#issue-1

[2022-08-23 09:39] #2618 closed, assigned to lanfon72, WuJun2016

[2022-08-23 10:13] AlexanderChiyun opened #2688 "[BUG][dev mode]Failed to boot vm for no kind "VirtualMachine" registered"
Steps to reproduce the behavior:
1. Install rke2
2. Install rancher and harvester
3. Upload image and boot vm on Harvester
4. The following error occurs：
[code]
**Expected behavior**

vm runs without error

**Environment**
 - os: CentOS Linux release 7.9.2009 (Core)
 - paas: rke2, v1.23.9+rke2r1
 - harvester: v1.0.3, install by helm
 - rancher: v2.6.3-harvester1, install by helm

[2022-08-23 12:51] kingnarmer commented on #2667
@FrankYang0529  one other suggestion is to add "mount point" option to secondary disk on template .

Something like

[code]

[2022-08-24 03:48] guangbochen commented on #1374
I agree that the current design of `Clone` and `Clone Template` is ambiguous for the users. Maybe a better option is to add a pop-up window after clicking the `Clone` button and add a checkbox to select whether to clone with volume data or not (enabled by default), so users can keep both options.
Also, this will make the new clone feature more evident since we use `Clone Template` as `Clone` in th

[2022-08-24 04:11] FrankYang0529 commented on #2011
I have a draft PR https://github.com/harvester/harvester-installer/pull/325 to bump rancher. However, there is an issue https://github.com/rancher/rancher/issues/38706 when we install harvester on a new cluster.

[2022-08-24 06:02] bk201 commented on #2367
2. will be fixed in https://github.com/harvester/harvester/issues/2418

[2022-08-24 06:46] TachunLin commented on #2402
Verified **fixed** on `master-dc6a3089-head` (08/23). Close this issue.

### Result
The ISO installation console UI enhancement can display correctly under the following single and multiple nodes scenarios.

#### Single node harvester
* Setting up Harvester cluster
![image](https://user-images.githubusercontent.com/29251855/186304660-e13f682c-68a0-4d8b-b6b9-a69ccccd492f.png)

* Finish installation

[2022-08-24 06:46] #2402 closed, assigned to bk201, starbops, TachunLin

[2022-08-24 07:56] bk201 commented on #2267
We need to fix one more related issue to close this epic one: https://github.com/harvester/harvester/issues/1995#issuecomment-1212683872

[2022-08-24 08:01] bk201 commented on #2191
Hit the issue when bumping to v2.6.7: https://github.com/rancher/rancher/issues/38706

[2022-08-24 09:15] wonleing commented on #2523
Is the node descirbe requires a tag like this?
apiVersion: v1
[code]
I edit node, but this tag can not be saved

[2022-08-24 09:25] bk201 commented on #2204
Move to v1.2.0, luet-makeiso still works and this is only for the building process.

[2022-08-24 09:39] bk201 opened #2692 "[FEATURE] Create a harvester-specific StorageClass for Longhorn"
Longhorn chart creates a `longhorn` StorageClass by default and we are using it with [some modification](https://github.com/harvester/harvester/blob/dc6a30894d63a07ba8b6db5433a7054f71445fde/deploy/charts/harvester/templates/longhorn-storageclass-override.yaml).
This might cause some issues and we should create another one (e.g., `longhorn-harvester`).

### ToDos
- [x] For new clusters, update Prom

[2022-08-24 09:53] bk201 commented on #2403
Close since it's duplicated with #2147

[2022-08-24 09:53] #2403 closed, assigned to nobody

[2022-08-24 10:17] bk201 opened #2693 "[FEATURE] support bundle: collect more kernel logs"
**Is your feature request related to a problem? Please describe.**

Sometimes, it's helpful to have kernel logs of previous boots. But we only have the current boot: https://github.com/rancher/support-bundle-kit/blob/448b4e020a5d92f0ced0e75c1f62e6ca5fb29ff8/hack/collector-harvester#L82

**Describe the solution you'd like**

Including previous boot log

**Describe alternatives you've considered**

[2022-08-24 10:17] w13915984028 commented on #2692
@ibrokethecloud @bk201 @Vicente-Cheng
Gaurav just talked about #2088

A harvester specific default `storageclass` will leave longhorn default storageclass untouched. It is also used by `rancher-monitoring` etc. in bootstrap stage.

/go/src/github.com/harvester/harvester-installer/pkg/config/templates/rancherd-13-monitoring.yaml

[code]

[2022-08-24 10:30] bk201 commented on #2692
@w13915984028 #2088 is listed under the blocking section (need zenhub to see).

[2022-08-24 18:22] pizzaoven commented on #276
I do not understand how installing the balloon driver fixes the boot issue.  But it fixed my issue.  THANK YOU!

[2022-08-24 19:37] BringerOD commented on #2660
Thanks for the response!

One of the issues I have is I have 4x900GB drives each separately provisioned.  I am not sure how longhorm\harvester decides where data goes,  and why it would chose one drive over the other.

Reading through some of the docs,  I think it suggested I combine all the drives.  Is that true?

Do you have any suggestions on how to configure the drives in this scenario?  Are t

[2022-08-24 20:39] alch3mistdev opened #2694 "[Question] How to get Mellanox ConnectX-3 Infiniband to Ethernet working"
Hi,

I've got an Mellanox ConnectX-3 infiniband NIC and I need to switch to ethernet mode. This is usually done through their MFT firmware tool which is asking me to install rpm / make / kernel-source.

I'm trying to use zypper but not having much luck.

Does anyone know how to install https://network.nvidia.com/products/adapter-software/firmware-tools/

[2022-08-25 00:27] bk201 commented on #2694
@anixon604 does the firmware comes with a single RPM? You can temporarily enable RW mode to see if it works: https://docs.harvesterhci.io/v1.0/troubleshooting/os/#how-can-i-install-packages-why-are-some-paths-read-only

[2022-08-25 01:20] bk201 commented on #2178
Confirm the service is running and no warning messages after [removing the workaround](https://github.com/harvester/harvester/pull/2373) ([commit](https://github.com/harvester/harvester/pull/2373/commits/9fa164402cdfd1b007cf2d65a932482bceac3dfa)).

[2022-08-25 01:20] #2178 closed, assigned to guangbochen

[2022-08-25 01:59] WuJun2016 commented on #2491
To be consistent with rke2,  do not add this feature for now.

[2022-08-25 05:09] starbops commented on #2367
Improved the note message and warning message shown for users to decide their next move.

<img width="1023" alt="Screen Shot 2022-08-25 at 12 47 33" src="https://user-images.githubusercontent.com/1827717/186578515-f13b44df-6900-40df-8acc-fc6feb1843c6.png">

<img width="1022" alt="Screen Shot 2022-08-25 at 12 45 28" src="https://user-images.githubusercontent.com/1827717/186578522-d4c0316a-8436-45df

[2022-08-25 05:43] Martin-Weiss commented on #2660
The logic how do distribute the data between drives is based on the logic Longhorn has implemented.

In case I understand this right - the data distribution should be more or less „automatic“ and Longhorn could even be configured to re-distribute data automatically.

Combining the disks would be possible in case you have a raid controller in the server - then you could i.e. build a RAID 5 out of t

[2022-08-25 05:54] wonleing commented on #2523
And I noticed there's a lot of warnings in harvester pod log
[code]

[2022-08-25 06:49] bk201 commented on #2677
@lanfon72 I guess this is expected since the volume is still used.

If this blocks some QA tests, perhaps it's better to use calls like:

[code]

Or add some code to wait for the volume to be unbound.

[2022-08-25 06:57] lanfon72 commented on #2677
@bk201 Volumes attached VM has been removed, but volumes still here and can not be deleted.

this is not always reproduced, and only happened when the VM create and delete simultaneously.

[2022-08-25 07:45] Martin-Weiss commented on #2677
I have seen this also when using the terraform provider for Harvester to create and then destroy VMs..

[2022-08-25 08:03] lostangel556 opened #2697 "[FEATURE] Implement vSwitch for Internally routed networks"
Moving from VMware ESXI to Harvester and one thing that I find strange is that there is no internal switching in the cluster.
All network connections appear to have to switch via an external vlan aware switch through a single ethernet connection.

Implementing https://www.openvswitch.org/ would allow switching to occur internal to each host and an assigned uplink for each vSwitch would allow conne

[2022-08-25 08:37] bk201 commented on #2677
The owner annotation in volume is not removed. Some investigation:
[code]

From Harvester log:
[code]

QA manually deletes stale volume `pvc-31218042-2e0b-458a-925e-a95b3328d1ff` from LH GUI, stuck in deleting. log in longhorn-manager
[code]
[harvester-797b59b958-6swcz.log](https://github.com/harvester/harvester/files/9422959/harvester-797b59b958-6swcz.log)
[supportbundle_2df6b5dc-0664-42d3-85e2-9

[2022-08-25 10:33] WuJun2016 commented on #2491
@guangbochen   I think if this feature is not needed now, we can close this issue or move it out of v1.1.0 milestone.

[2022-08-25 12:25] kingnarmer opened #2699 "[Question] How to persist new password for user rancher@node-ip"
I did ssh to node as rancher@node-ip , then ran passwd to change the password.

The old password came back after reboot.

How to persists new password for user rancher@node-id ?

Thanks

[2022-08-25 13:54] guangbochen commented on #2625
close as added by https://github.com/harvester/harvester/pull/2637, and the report is available at https://app.codecov.io/gh/harvester/harvester.

[2022-08-25 13:54] #2625 closed, assigned to futuretea

[2022-08-25 13:59] samuel-odinware commented on #1890
Thank you for pointing me in the right direction.

[2022-08-25 13:59] #1890 closed, assigned to nobody

[2022-08-25 16:33] akalter commented on #2651
I also had strange issue like that.
Booted the virtual machine (only for tests!!) from PXE
The ipxe config:
`
kernel harvester-v1.0.3-vmlinuz-amd64 initrd=harvester-v1.0.3-initrd-amd64 ip=dhcp net.ifnames=1 rd.cos.disable console=tty1 rd.live.ram=1  root=live:http://<ipaddr>/hv/harvester-v1.0.3-rootfs-amd64.squashfs
`
the ip address was internal ip, not over the internet.
Looks like the installati

[2022-08-25 23:54] bk201 commented on #2699
Hi @kingnarmer , for persistence, you can edit `/oem/99_custom.yaml` and search for
[code]

The password will take effect and be persistent between  reboots.
I'll close this one because this will be added in https://github.com/harvester/harvester/issues/2418

[2022-08-25 23:54] #2699 closed, assigned to nobody

[2022-08-26 01:36] wonleing commented on #2523
https://github.com/harvester/harvester/pull/2701 was created. people anoyed by these flush logs may have a try.
My testing is good so far. Seems  Harvester UI response quicker to me :)

[2022-08-26 07:20] WuJun2016 commented on #1374
@FrankYang0529  @lanfon72  As we discussed earlier, when a user clone a VM that contains an existing volume, it is reasonable to have such an error message. In order not to change the user's original intention (to use an existing volume in the VM), the UI modification is to put the two Clones together and let the user choose.

[2022-08-26 08:58] fanlix commented on #2419
cgroup-oom-kill not happened for 3 weeks.

My setup for resolved memory now:
* tiny vm = default 100M
* normal vm = 256M
* ram>64G vm  = 512M  (maybe overkill, but make me feel safe)

`256M` is a good number.

[2022-08-26 09:15] MarkLFT opened #2702 "[Question] Memory usage very high for edge cases."
I was considering changing our edge servers to use Harvester instead of ESXI, I like the remote console, and the Rancher integration.
But the resource usage seems to be huge, or am I doing something wrong.

I have a test system with just Harvest 1.0.3, with 8 cpu cores and 12 Gb Memory, most of our edge servers only have 8 Gb. On this Harvester installation currently there is a single Ubuntu Serve

[2022-08-26 09:32] fanlix commented on #2595
found a best solution.
In longhorn webui, create a recuring job to the `default` group (which is added to every volume).
* task=snapshot
* Retain=2
* Cron=midnight 3:00

this job makes a snapshot everyday midnight, keeps totally 2 copies.
* longhorn gc the volume everyday midnight, remove useless data layers, avoid cost too much disk space for weeks.
* Only gc at midnight, avoid daytime random gc

[2022-08-26 09:32] #2595 closed, assigned to nobody

[2022-08-26 09:39] fanlix commented on #2702
you can login hv host with `ssh rancher@your-ip`,
run `top c` to check out which process costs 7.5G ram.

[2022-08-26 09:44] bk201 opened #2703 "[BUG] The "upgrade" button still presents after an air-gapped upgrade completes"
**Describe the bug**

The Upgrade button still presents after an air-gapped upgrade completes.

**To Reproduce**
Steps to reproduce the behavior:
1. Do an air-gap upgrade.
2. The upgrade button is still on the dashboard page.

**Expected behavior**

The upgrade button should be gone since the cluster is already upgraded.

**Support bundle**

**Environment**
 - Harvester ISO version: v1.0.1, should

[2022-08-26 10:42] alch3mistdev commented on #2694
@bk201 thanks I followed that guide and in line with that - I found the easiest way was to use the "inbox driver" already included in the kernel and switch the mode from infiniband to eth via these instructions:

## Inbox Driver

[code]

[code]

Source: https://support.mellanox.com/s/article/howto-change-port-type-in-mellanox-connectx-3-adapter

For anyone else who encounters this issue.

[2022-08-26 10:42] #2694 closed, assigned to nobody

[2022-08-26 10:55] bk201 commented on #2694
@anixon604 thanks for the guide!

[2022-08-26 17:03] migs35323 opened #2704 "[Question] List of OS images to deploy in harvester?"
Hello, is there a "curated" list of OS images that work wonderfully in harvester?

I was trying to create a cluster in harvester through rancher and I was wondering what good OS images that work very well with harvester.
I tried a ubuntu minimal cloud image and the vnc screen was throwing a boot error

[2022-08-27 02:27] MarkLFT commented on #2702
It does not appear to be a single process.
RES
kube-apiserver  1.9G
qemu-system  632M
rancher 329M
etc 243M
harvester 218
fleet 187M
kube-controller
virt-operator

According to top we are using 74.6% of the memory, which tallies with the 9Gb from 12Gb.

[2022-08-28 16:06] futuretea commented on #2485
link to https://github.com/harvester/harvester/issues/1986

[2022-08-28 16:13] futuretea commented on #2485
UI need filter the namespace select options by `links.update`
currently:
![image](https://user-images.githubusercontent.com/15064560/187083780-aefa8048-16f4-478e-a162-a10c684efbda.png)
expected:
if no `links.update` in a namespace, don't show this namespace in the select options

[2022-08-29 02:53] fanlix commented on #2702
You should copy the full output of `top`.  Then others may have a check

* `qemu-system-xxx` process is the real ubuntu vm process. (you offer 2G ram, but only using 632M for now)
* `kube-apiserver` is  k8 process (in my cluster, 1.9G same as yours)

[2022-08-29 03:03] MarkLFT commented on #2702
Prior to reporting this, I have installed all updates, tried several reboots etc.  But the memory usage still remained unacceptably high, so I was forced to find another solution.

Unfortunately, I have torn this system down now and installed Proxmox to test that for the moment.  If I install Harvester again in the future, I will look at this again, and provide more details.

As a side note, on th

[2022-08-29 03:07] fanlix commented on #2702
I used to try harvester last year on my rpi-4G, it works fine with 2 ubuntu vm.
but after v1.0, harvester does not use k3s core anymore (which may cost as low as 200M for a full k8s system).

[2022-08-29 07:24] fanlix opened #2707 "[FEATURE] increase 110 pods per node limit"
## problem
k8s has default limit:  110 pods per node.
My harvester control node with 20 vm already used 100 pods now.

####  pod numbers by namespaces:
* cattle  13 pods
* kube-system 19 pods
* longhorn 29 pods
* harvester-system 15 pods
* user vm only 24 pods

#### harvester k8 config shows 110 limit
[code]

## Describe the solution you'd like
* need an easy way to increase the limit number 110 -

[2022-08-29 08:12] jurginsve opened #2708 "[BUG] Harvester Installer loops over Serial Console (DELL VEP4600)"
**Describe the bug**
Harvester Installer loops over Serial Console (80x24) on a DELL VEP4600

**To Reproduce**
Write ISO to USB
Boot from USB
connect to server over USB Serial cable (screen /dev/ttyUSB0 115200)
From grub menu edit "Harvester Installer v1.0.3"

![image](https://user-images.githubusercontent.com/31654503/187151481-5b524575-72be-445e-82c2-50bff298dc79.png)

Remove "console=tty1" othe

[2022-08-29 08:57] FrankYang0529 opened #2709 "[BUG] Missing update-ca-certificates"
**Describe the bug**
We use `update-ca-certificates` to add additional ca, but the command is not found in current master-head version.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a harvester node.
2. ssh to the node.
3. Run `sudo -i`.
4. Run `update-ca-certificates`.

**Expected behavior**
The command should exist.

**Environment**
 - Harvester ISO version: master-head
 - Underlyi

[2022-08-29 09:22] futuretea commented on #2317
Currently, we supported `nodeAffinity` and `nodeSelector` for individual VMs
and supported `nodeAffinity` for guest cluster nodes

For harvester backend and node driver backend, `vmAntiAffinity`, `vmAffinity`, `nodeAffinity` and `nodeAntiAffinity` are all supported, need UI support, cc @guangbochen @DaiYuzeng

[2022-08-29 09:39] futuretea commented on #2630
For test:
check images name duplicate validation still works as excepted:
![image](https://user-images.githubusercontent.com/15064560/187172259-3ea6aaa0-4564-4c22-8b6d-c00d8ef73f37.png)

[2022-08-29 10:01] fanlix opened #2710 "[BUG] Virtual Machines page sort by Memory fails"
**Describe the bug**
virtual machine page ui sort fails.

**To Reproduce**
1. Host -> any Node -> Virtual Machines
2. sort the table by `Memory` column
3. the effect is not by memory size, but name string alphabetical order.

**Expected behavior**
sort vm by memory size

**Environment**
 - Harvester ISO version:  v1.0.2

[2022-08-29 18:44] noahgildersleeve commented on #569
Tested in master-1b8226cf-head with steps [here](https://github.com/harvester/tests/issues/361).

[2022-08-29 22:10] w13915984028 opened #2712 "[FEATURE] Upgrade patch of Alertmanager"
**Is your feature request related to a problem? Please describe.**

`Alertmanager` will be enabled in v1.1.0 by default, it needs to be enabled when upgrading.

**Describe the solution you'd like**

Add upgrade patch of `Alertmanager`

**Describe alternatives you've considered**

**Additional context**

https://github.com/harvester/harvester/issues/2517

[2022-08-30 05:19] TachunLin commented on #2630
Verified **fixed** on `master-69a6b1b2-head` (08/29). Close this issue.

### Feature description
Add image displayName to image's labels thus we can use labelSelector to get images when we needed

### Result
* In image API content, label `harvesterhci.io/imageDisplayName` added to labels, and it's value should be the displayName value
  ![image](https://user-images.githubusercontent.com/29251855/1

[2022-08-30 05:19] #2630 closed, assigned to futuretea, TachunLin

[2022-08-30 05:21] tjjh89017 commented on #2709
PR: https://github.com/harvester/harvester-installer/pull/328

## test step

1. install harvester
2. open shell and grant root permission
3. test `update-ca-certificates` is existing

[2022-08-30 05:22] #1540 closed, assigned to nobody

[2022-08-30 05:57] tjjh89017 commented on #1055
HEP PR: https://github.com/harvester/harvester/pull/2685
PoC PR: https://github.com/harvester/harvester/pull/2706

TODO:
whereabouts charts
webhook to verify NAD and VM status

[2022-08-30 13:43] w13915984028 commented on #2521
The UI issue is tracked in

https://github.com/harvester/harvester/issues/2643

[2022-08-30 14:07] w13915984028 opened #2714 "[FEATURE] Update prometheus, grafana, alertmanager, logging related storageclass to harvester related one"
**Is your feature request related to a problem? Please describe.**

A harvester specific storageclass will be created.
https://github.com/harvester/harvester/issues/2692

**Describe the solution you'd like**

Prometheus, grafana, alertmanager, logging should use this storageclass by default.

After merge of https://github.com/harvester/harvester/issues/2692, update those.

**Describe alternatives

[2022-08-30 14:20] w13915984028 opened #2715 "[FEATURE] Adapt alertmanager to dedicated storage network"
**Is your feature request related to a problem? Please describe.**

For feature https://github.com/harvester/harvester/issues/1055 Dedicated storage network, the coming feature alertmanager in v1.1.0 should also adpat to it.

**Describe the solution you'd like**

Add `alertmanager` into the processing of `enable/disable dedicated storage network`

`alertmanager` USES the storage-network as others.

[2022-08-30 21:05] noahgildersleeve commented on #1374
Tested in master-69a6b1b2-head.

## Case 1
1. Clone VM from Virtual Machine list that was created from existing volume

### Expected Results
1. When completing the clone you should get an error that the volume is already in use

## Case 2
1. Clone VM with volume from Virtual Machine list that was created from existing volume

### Expected Results
1. Before cloning machine create file run command `

[2022-08-30 21:05] #1374 closed, assigned to FrankYang0529, WuJun2016, noahgildersleeve

[2022-08-30 21:05] noahgildersleeve commented on #569
Updated negative tests and am creating PR for updated clone vm test logic

[2022-08-30 21:05] #569 closed, assigned to FrankYang0529, WuJun2016, noahgildersleeve

[2022-08-31 02:16] tjjh89017 commented on #2715
Currently, Longhorn didn't support this.
We need to configure storage network in LH for global setting

[2022-08-31 06:20] TachunLin commented on #2622
Verified **fixed** on `master-69a6b1b2-head` (08/29). Close this issue.

### Result
Since currently on latest v1.0.3 master we no longer can create a VM that resources over the node to make the node disk is unscheduled.

To verify this issue, we directly disable the node and volume scheduling on Longhorn UI and check the Harvester dashboard disk usage display the same with it on Longhorn dashboard

[2022-08-31 06:21] #2622 closed, assigned to n313893254, TachunLin

[2022-08-31 07:16] Vicente-Cheng opened #2717 "[FEATURE] NDM support labeling disks"
**Is your feature request related to a problem? Please describe.**
It is related to #2335

**Describe the solution you'd like**
NDM could label disk tag when adding new disks

**Describe alternatives you've considered**
NDM could label disk tag from user define.

**Additional context**

[2022-08-31 09:19] lanfon72 commented on #2584
@guangbochen, @WuJun2016 I think this issue might need some backend fix?

the latest fix still encountered same error:
![image](https://user-images.githubusercontent.com/5169694/187641764-4849b14b-b1af-4242-ad24-433aa2f1f4e7.png)

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **master-4ea12f4f-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Instal

[2022-08-31 09:41] guangbochen commented on #2023
Close due to inactivity, also can't reproduce it in our QA/lab env with the latest v1.0.3 release. Feel free to re-open it if u reencountering this issue, thanks.

[2022-08-31 09:41] #2023 closed, assigned to tlehman

[2022-08-31 09:53] WuJun2016 commented on #2584
@lanfon72  cloud-init will only take effect the first time you apply it, but the later changes will not take effect unless you go into os and make it take effect manually.

[2022-08-31 10:11] lanfon72 commented on #2584
@WuJun2016 yeah the problem here is, VM will not able to start after update VM's cloudconfig via Edit YAML.

[2022-08-31 10:23] WuJun2016 commented on #2584
@lanfon72  Sorry, I didn't notice the reproduction step

@futuretea   Can you help to see if you support saving cloudInit in both ways ?

[2022-08-31 10:39] guangbochen commented on #2456
close as the Golang version bump of Harvester cloud provider is addressed via https://github.com/harvester/cloud-provider-harvester/pull/22 and the image CI build is successful.

[2022-08-31 10:39] #2456 closed, assigned to chrisho

[2022-08-31 11:11] w13915984028 commented on #2615
About the test:

After https://github.com/harvester/harvester/pull/2678 is merged, the `VirtOperatorDown` alert is not existing.

When `alertmanager` is not enabled, existing alerts can still be viewed from :
https://the-cluster-vip/api/v1/namespaces/cattle-monitoring-system/services/http:rancher-monitoring-prometheus:9090/proxy/

When `alertmanager` is enabled (issue:  [FEATURE] enable/disable al

[2022-08-31 20:08] noahgildersleeve commented on #2361
Tested in master-4ea12f4f-head. It looks like the limit was increased to the following
![Screenshot_20220831_130009](https://user-images.githubusercontent.com/83787952/187771896-255f42a5-867e-4aa5-9460-038816515c27.png)
This was what I saw with `describe pod rancher-monitoring-grafana-647fd577f4-qfks2`. The memory usage seemed better after creating a few VMs.
![Screenshot_20220831_125525](https://

[2022-08-31 20:08] #2361 closed, assigned to DaiYuzeng, w13915984028, noahgildersleeve

[2022-08-31 21:21] noahgildersleeve commented on #2558
Tested in master-4ea12f4f-head. CPU usage looks good with low utilization.
![Screenshot_20220831_142114](https://user-images.githubusercontent.com/83787952/187787300-a051785b-6e7c-4fd8-b405-90b32f981ca6.png)

[2022-08-31 21:21] #2558 closed, assigned to w13915984028, noahgildersleeve

[2022-09-01 02:15] TachunLin commented on #2709
Verified **fixed** on `master-69a6b1b2-head` (08/29). Close this issue.

### Result
* Command `update-ca-certificates` exists on each Harvester node (4 nodes)
[code]

### Test Information
* Test Environment: 4 nodes harvester on dolphin bare machine
* Harvester version: `master-69a6b1b2-head` (08/29)

### Verify Steps
1. ssh to each harvester node
2. Execute `sudo -i`
3. Execute `update-ca-certifi

[2022-09-01 02:15] #2709 closed, assigned to tjjh89017, TachunLin

[2022-09-01 05:23] Martin-Weiss commented on #2709
Does the command work and add the certificates from /etc/pki/trust/anchors to /etc/ssl/ca-bundle.pem?
I thought /etc/ssl/ca-bundle.pem is read-only - but maybe I misunderstood..

[2022-09-01 07:30] TachunLin commented on #2709
The `update-ca-certificates` command can work adding the certificate from /etc/pki/trust/anchors to /etc/ssl/ca-bundle.pem in the following manner

1. When we add the certificate in the Harvester `additional-ca` settings
![image](https://user-images.githubusercontent.com/29251855/188042419-a5cd950e-6412-4bfb-94b1-8163a099f80b.png)

2. The added certificate content located in /etc/pki/trust/anchors

[2022-09-01 07:49] w13915984028 opened #2718 "[BUG] review if 60s is fit for waitForBackingImageDataSourceReady"
**Describe the bug**

Harvester waits at most 60s to wait LH to prepare the backing image. It is not fully clear if 60s is enough. A further analysis and test is needed.

Meanwhile, it's also necessary to write it into `Harvester Doc`.

It is discussed in following PR
https://github.com/harvester/harvester/pull/2639
https://github.com/harvester/harvester/issues/1436

file:  `pkg/api/image/formatte

[2022-09-01 08:18] lanfon72 commented on #2367
@starbops Is it possible to change `Press Enter to proceed without NTP servers configured` to `Press Enter again to use current configuration anyway` ?  I think latter would be more clear that (unreachable servers') configration will still be applied.

[2022-09-01 09:27] w13915984028 commented on #2702
The planned feature: https://github.com/harvester/harvester/issues/2676

[2022-09-01 09:33] w13915984028 opened #2719 "[FEATURE] Harvester supports enable/disable managedchart in day2"
**Is your feature request related to a problem? Please describe.**

The `managedchart` is installed in day1 bootstrap stage, disable it is not allowed.

**Describe the solution you'd like**

Harvester supports `enable/disable managedchart`  in day2, which includes `monitoring, logging` etc. enhancement features.

Benifits:
[code]
**Describe alternatives you've considered**

**Additional context**

[2022-09-01 10:00] starbops commented on #2367
Sure, I think the word “again” is more explicit. Thanks for the suggestion.

[2022-09-01 11:38] RegisWeduLabs commented on #2522
Hey, had the same issue and setting the reserved memory to 512MiB fixed the issue for me.  256 still caused issues on our side.

[2022-09-02 06:36] bk201 opened #2722 "[BUG] VMs can't start if a node contains more than ~60 VMs"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Spawn a lot of VMs in a node (> 60) and make sure they all can be scheduled.
2. Some VMs can't start; here are logs in virt-launcher pod:
[code]

**Expected behavior**

VM should start because the node still has resource.

**Support bundle**

**Environment**
 - Harvester ISO version: v1.0.3
 - Underlying Infrastructure (e.g

[2022-09-02 06:52] guangbochen opened #2723 "[ENHANCEMENT] Harvester supports draining the node when entering maintenance mode"
**Describe the bug**
We observed so far that VMs are migrated away from the node in maintenance mode, but such node is not drained. The expectation is that pods are drained from the node and then it gets cordoned.

Can we enhance functionality so that Maintenance mode performs this automatically?

**To Reproduce**
Steps to reproduce the behavior:
1. click `Enable Maintenance Mode` from the UI on t

[2022-09-02 08:38] bk201 commented on #2693
We can test the feature with the latest master ISO.

[2022-09-02 09:25] w13915984028 opened #2724 "[Doc] Update doc about how to extend running PVC size"
**Describe the bug**

After fix of #2282, it is observed that the upgrade patch is not able to extend `grafana` PVC size easily, user needs to do it manually.

fix2282 adjust grafana POD PVC size to 2GiB
https://github.com/harvester/harvester/issues/2282

Upgrade patch:
https://github.com/harvester/harvester/pull/2711

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'

**Expected be

[2022-09-02 10:28] FrankYang0529 opened #2725 "[Enhancement] setting controller should not set ready condition when a setting doesn't have `syncer` function"
**Describe the bug**
Currently, the setting controller always [sets a condition to a setting](https://github.com/harvester/harvester/blob/18e09a261848a320d97364fda79f96942bcc1112/pkg/controller/master/setting/handler.go#L88-L93) even if there is no `syncer` function. This may cause some error like [another handler](https://github.com/harvester/harvester/blob/master/pkg/controller/master/backup/bac

[2022-09-02 11:07] TachunLin commented on #2615
Verified **fixed** on `master-4ea12f4f-head` (08/31). Close this issue.

### Result
Since the https://github.com/harvester/harvester/issues/2518 enable/disable alertmanager on demand not yet ready.
We check the alert in the in the prometheus dashboard using above mentioned URL

* On the latest master with merged this change, we won't see the `VirtOperatorDown` Firing alert
https://the-cluster-vip/

[2022-09-02 11:07] #2615 closed, assigned to TachunLin, w13915984028

[2022-09-02 23:02] noahgildersleeve commented on #2693
Tested in master-18e09a26-head. Verified multiple kernel logs after reboots in support bundle.
[supportbundle_c19e635c-2847-4532-a2cc-e43bcc35dae7_2022-09-02T22-58-52Z.zip](https://github.com/harvester/harvester/files/9481405/supportbundle_c19e635c-2847-4532-a2cc-e43bcc35dae7_2022-09-02T22-58-52Z.zip)

[2022-09-02 23:02] #2693 closed, assigned to bk201, noahgildersleeve

[2022-09-03 14:34] mikecarr opened #2727 "[Question] R610 server issues, en0"
How can I get logs or debug an issue that occurs in the installer?

The installer sees my Nic's but it seems the installer is unable to start them.

![crash](https://user-images.githubusercontent.com/1970342/188275152-bee89af1-742f-47bb-85c1-c6b30be179ba.jpg)

[2022-09-04 02:15] 362475097 opened #2728 "[Question]how to remove broken disk"
I install harvester in vmware. After I remove a disk and reboot harvster,it display the disk is not ready and not scheduleable.So I want to remove this disk.

  My question is how to remove this broken disk, I can't find the button.
![img](https://user-images.githubusercontent.com/22928574/188294200-3e370601-bc75-4768-bd69-d83d087d69ad.png)

[2022-09-05 01:26] guangbochen opened #2729 "[BUG] No resource limits set for the Kubevirt's pod"
**Describe the bug**
 When one looks at the kubevirt pods in the `harvester-system` namespace, only the `virt-operator` pods seem to have limits set.

Additionally, the following might be related to this:
- The alerts KubeVirtComponentExceedsRequestedCPU and KubeVirtComponentExceedsRequestedMemory are not working properly

**To Reproduce**
Steps to reproduce the behavior:
1. Run `$kubectl get pod

[2022-09-05 04:10] guangbochen commented on #1289
The best way to address this issue would require an upstream fix of https://github.com/kubevirt/kubevirt/issues/6551 and PR https://github.com/kubevirt/kubevirt/pull/9646, postpone to the future milestone and please refer to the [above workaround solution](https://github.com/harvester/harvester/issues/1289#issuecomment-1102347781) if u have encountered this issue, thanks.

[2022-09-05 06:08] fanlix commented on #2728
you will see a "x" button on `Edit Config` - `disk` ui page.

[2022-09-05 06:42] TachunLin commented on #2662
Verified **fixed** on `master-caada0e6-head` (09/05). Close this issue.

### Result
The vm lable name is consistent to display `harvesterhci.io/vmName` after restore from the backup.

* When created a new VM, the vm label name marked with `harvesterhci.io/vmName`
![image](https://user-images.githubusercontent.com/29251855/188374691-b36db1bc-2e2e-447b-96e1-699aa5e0ffee.png)

* After new VM restored

[2022-09-05 06:42] #2662 closed, assigned to starbops, TachunLin

[2022-09-05 07:15] Martin-Weiss commented on #2709
In 1.0.3 I could see that /etc/ssl/ca-bundle.pem is read-only - or did I oversee something?
So when ever we add / adjust the additional CA with the UI - all nodes in the cluster need to be rebooted?
Will this happen automatically?

[2022-09-05 07:20] TachunLin commented on #2709
Yes, once we add the additional CA with the UI, Harvester will automatically execute `update-ca-certificates` to add it to `/etc/ssl/ca-bundle.pem` without the requirement to reboot the node.

The reboot check in step 4 just double confirm the additional CA still exists after the reboot.

[2022-09-05 07:23] Martin-Weiss commented on #2709
Ok - then we "just" have to restart all running services that are using this ca-bundle.pem (i.e. RKE2)?

[2022-09-05 07:48] FrankYang0529 commented on #2709
Yes, we need to restart RKE2. We will automatically restart RKE2 after this fix https://github.com/harvester/harvester/pull/2713/commits/f860269962ff637816e2c0a34d388a008dfc48b5.

[2022-09-05 08:35] TachunLin opened #2732 "[BUG] Harvester didn't prevent user from creating VM with extra large volume size exceed overcommit-config setting"
**Describe the bug**

Currently Harvester can't prevent user from creating VM with volume larger than the actual storage size with overcommit-config setting.

When user did not pay attention to the actual storage size and create volume larger than overcommit setting, the VM would not be able to operate correctly but the volume display with attached.

* Storage size of node (115GB)
![image](https:/

[2022-09-05 11:07] lanfon72 commented on #2367
Verified this bug has been resolved.

![image](https://user-images.githubusercontent.com/5169694/188434688-ad200760-1c82-4d87-b9f9-09a8b8f3e9a7.png)

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **master-606acc52-head**
* **ui-source** Option: **Auto**

### Verify Steps:
- Follow **Steps to reproduce** in https://github.com/harvester/harvester/issues/2367#issu

[2022-09-05 11:07] #2367 closed, assigned to starbops, lanfon72

[2022-09-05 12:55] guangbochen opened #2733 "[FEATURE] terraform-provider-rancher2 to support to add additional NIC and disks"
**Is your feature request related to a problem? Please describe.**
- Allow to add a second NIC in rancher2_machine_config_v2
- Allow to add second disk in rancher2_machine_config_v2

**Additional context**
- https://github.com/rancher/terraform-provider-rancher2/issues/985'
- https://github.com/rancher/terraform-provider-rancher2/issues/984

[2022-09-05 13:10] RegisWeduLabs commented on #2704
+1, while youtube videos and some how-tos articles usually uses ubuntu minimal 20.04, it would be helpful to have more documentation and a list of officially supported images along with some basics cloud-init config examples.  Also, as Elemental development seems to be coming to an official release soon, I would suspect that using Elemental as a base image should be pretty straightforward?

[2022-09-05 16:10] 362475097 commented on #2728
There is no "x" button for this broken disk
![1](https://user-images.githubusercontent.com/22928574/188487235-9e5b4270-87ca-4de5-9b0d-5e080ab7db2d.JPG)

[2022-09-05 17:09] kingnarmer commented on #2429
Hello,

I need to be able to add storage LUNs presented to harvester nodes via Fiber Channel Qlogic HBA card. I can see the LUNs on OS level using "cat /proc/partitions", however I don't see them when I try to add disks.

Appreciate help getting them added.

Thanks

[2022-09-05 18:05] midhunthampi commented on #2619
Hi,

We have upgraded Harvester to 1.3. But still, we see CPU overcommit issue.
It’s not allowing to create VM’s more than available physical cores.

Thanks,
Midhunthampi

On Fri, Aug 19, 2022 at 5:35 PM Midhun Thampi ***@***.***>
wrote:

[2022-09-05 20:32] futuretea commented on #2584
currently,
1. networkData and userData use same secret
2. if user didn't specify any content in networkData input box. there are no `networkdata` key in the secret

@WuJun2016 solution: UI add `networkdata` key to the secret always

wrong:
[code]

correct:
[code]

[2022-09-06 02:14] tjjh89017 commented on #1390
## test plan

### No vlan

1. config
[code]

2. check mgmt-br has IP address

### vlan

1. config
[code]

2. check mgmt-br.101 has IP address

[2022-09-06 02:16] n313893254 commented on #2619
@midhunthampi Thanks for your confirmation. Could you provide the support bundle to let me investigate further?

The support bundle can be generated by these steps:
![image](https://user-images.githubusercontent.com/18737885/188532705-0b49d979-fe4c-4f0b-b828-cb32c494791e.png)
![image](https://user-images.githubusercontent.com/18737885/188532754-b5dc1710-2f34-46c8-8973-06dd76004a68.png)

[2022-09-06 02:25] guangbochen commented on #276
Windows installation steps is documented at https://docs.harvesterhci.io/v1.0/vm/create-windows-vm/#installation-of-windows; move this to v1.2 to further investigate the impact of enabling the `options kvm ignore_msrs=1` config.

[2022-09-06 02:48] bk201 commented on #1931
To check if PVC can provide more error messages in newer Longhorn.

[2022-09-06 02:49] bk201 commented on #2732
Related: https://github.com/harvester/harvester/issues/1931

[2022-09-06 02:49] guangbochen commented on #2258
Can't reproduce it with the latest version; please feel free to re-open it if u have more detailed info, thanks.

[2022-09-06 02:49] #2258 closed, assigned to bk201

[2022-09-06 02:56] guangbochen commented on #2267
Harvester go mod dependency bump is tracked via https://github.com/harvester/harvester/issues/2315, and CSI image go dep bump is tracked via https://github.com/harvester/harvester/issues/1995 respectively, close this one as the golang version in the harvester/harveter repo has already bumped to golang 1.18.

[2022-09-06 02:56] #2267 closed, assigned to bk201

[2022-09-06 03:02] bk201 commented on #2115
Check if we can revert https://github.com/harvester/harvester-installer/pull/279

*Update*: need to wait for https://github.com/harvester/harvester/issues/2565 to remove the workaround

[2022-09-06 03:42] guangbochen commented on #2040
close due to inactivity and can't reproduce it in our env with the latest v1.0.3 release, feel free to re-open it if u encounter it again, thanks.

[2022-09-06 03:42] #2040 closed, assigned to tlehman

[2022-09-06 04:16] yaocw2020 opened #2734 "[FEATURE] VLAN enhancement upgrading"
**Is your feature request related to a problem? Please describe.**

Because there are some conflicts between the old VLAN implementation and the VLAN enhancement, especially the harvester installer part, we have to make some efforts for the VLAN enhancement upgrading.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-09-06 04:20] yaocw2020 opened #2735 "[DOC] VLAN enhancement document"
**Is your feature request related to a problem? Please describe.**

Since the VLAN enhancement leads to a new UI, it's necessary to update the document.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-09-06 06:06] Martin-Weiss opened #2736 "[BUG] Node join fails with self-signed certificate"
**Describe the bug**
Joining a node to a v1.0.3 harvester cluster fails with untrusted SSL certificate authority

**To Reproduce**
1. Install the first harvester node with a self-signed SSL certificate using v1.0.3
2. Add an additional node

**Expected behavior**
Join works

**Support bundle**
-> ping me in Slack

**Environment**
 - Harvester ISO version: 1.0.3
 - Underlying Infrastructure (e.g. B

[2022-09-06 06:08] Martin-Weiss commented on #2736
Hint: hacky workaround was to manually replace the symbolic link

/var/lib/ca-certificates/ca-bundle.pem ->  /usr/share/factory/var/lib/ca-certificates/ca-bundle.pem

with a ca-bundle.pem file having the certificate of the used CA included.

[2022-09-06 06:13] Martin-Weiss opened #2737 "[BUG] server_url with https but without :443 causes node join to fail"
**Describe the bug**
Joining an additional node to a harvester 1.0.3 cluster fails in case the port :443 is not part of the server_url specified with https://<vip> in the join-node.yaml

**To Reproduce**
1. install harvester 1.0.3 initial server
2. add additional node via join-node.yaml and specify the URL with https://<vip> and do not add :443

**Expected behavior**
Join should work in case port

[2022-09-06 06:54] chrisho opened #2738 "[Test] backport bot"
backport bot

[2022-09-06 06:55] harvesterhci-io-github-bot opened #2739 "[backport v1.1] [Test] backport bot"
backport the issue #2738

[2022-09-06 06:57] #2739 closed, assigned to chrisho

[2022-09-06 06:57] #2738 closed, assigned to chrisho

[2022-09-06 07:10] guangbochen commented on #2068
@TachunLin Feel free to close this issue as this is expected behavior, thanks.

[2022-09-06 07:39] tjjh89017 commented on #2665
@tgazik we are still working on it.
and it seems it's easy to reproduce.
So if you need the cluster, you could reinstall it.
Thanks a lot

[2022-09-06 07:57] lanfon72 commented on #2270
closed as this only affects upgrading `v1.0.1` to `v1.0.2`.

[2022-09-06 07:57] #2270 closed, assigned to guangbochen

[2022-09-06 07:58] guangbochen commented on #2404
LH dependency has bumped to v1.3.1 via https://github.com/harvester/harvester/pull/2695, may verify this issue when the Harvester `v1.1.0-rc1` is released, thanks.

[2022-09-06 08:13] TachunLin commented on #2068
Close since it's the expected behavior.

[2022-09-06 08:13] #2068 closed, assigned to guangbochen

[2022-09-06 09:44] w13915984028 commented on #2669
About TEST:

WAIT unti  https://github.com/harvester/harvester-installer/pull/331  is merged.

Manual test is ready:  (use `kubectl` to create `flow`, `receiver`)
refer: https://github.com/w13915984028/harvester-develop-summary/blob/main/integrate-harvester-logging-with-log-servers.md

UI based test,  ((use `Harvester UI' to create `flow`, `receiver`)
wait: https://github.com/harvester/harvester/i

[2022-09-06 12:46] RegisWeduLabs opened #2740 "[BUG] - cattle-cluster-agent CrashLoopBackoff exec /usr/bin/run.sh: exec format error"
**Describe the bug**
When creating a RKE2 cluster in Rancher using harvester, I sometime have the error on one or more nodes in the cattle-cluster-agent pod that shows "exec /usr/bin/run.sh: exec format error". This usually mean trying to run a binary from another arch (ie: trying to run arm64 binary on a x86 arch).  Deleting the nodes in the cluster within rancher sometimes fixes the issue, somet

[2022-09-06 16:38] slickwarren commented on #2040
Tested using v1.0.3 on a nested install of rancher v2.6.7 and did not see this issue reproduce.

[2022-09-06 19:04] noahgildersleeve commented on #2404
Tested in master-e14dc3c6-head.
## Verification steps
1. Checked Longhorn version by navigating to Longhorn UI at `https://192.168.0.131/dashboard/c/local/longhorn`.

## Expected Results
1. Longhorn should be at version `v1.3.1`
![Screenshot_20220906_120149](https://user-images.githubusercontent.com/83787952/188718128-eb149fc0-7efb-4f7d-95a9-99468fb7e974.png)

[2022-09-06 19:04] #2404 closed, assigned to guangbochen, noahgildersleeve

[2022-09-07 00:00] noahgildersleeve commented on #2650
@FrankYang0529 How long should it take for the cluster-registration to clear after deleting it in Harvester settings? Is it on some sort of a polling timer?

[2022-09-07 02:15] bk201 opened #2741 "[BUG] Upgrade: stuck at pre-drained state"
**Describe the bug**

We have spotted some situations instance-manager pod can't be drained out of a node:
- Longhorn is being upgraded, and there are 2 `instance-manager-r` pods on a node.
- A node is just drained and comes back; if we drain the next node, there is a high probability the next node is stuck.

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade to master ISO from v1.0.3. (

[2022-09-07 03:03] DaiYuzeng opened #2742 "[BUG] Cannot create namespace into a project"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Projects/Namespaces(multiple cluster)
2. Create `test-ns` namespace into `default` project
3. You'll find out `test-ns` in `Not Namespaced`

![Kapture 2022-09-07 at 10.57.49.gif](https://images.zenhubusercontent.com/60370508fd3d02bfb6c4ba36/5ee00ed4-8931-4310-a52f-9ee4163bfd6d)

**Expected behavior**

1. `test-ns` sho

[2022-09-07 03:39] guangbochen commented on #2692
@Vicente-Cheng @bk201 we may need to consider to patch the original `longhorn` SC to none-default SC druing v1.1 upgrade, after adding the storage tiering support we will have a new page to display all of the storage classes, also to avoid having multiple default SC, @futuretea will help to add validation webhook to only allow one default SC per cluster, please let me know if there are any concern

[2022-09-07 04:04] starbops commented on #2437
In the PR harvester/harvester-installer#332, we'll make manually configuring the MTU size of `harvester-mgmt` bond possible. Users can specify the desired value of MTU right under the gateway field.

[2022-09-07 07:50] chrisho opened #2743 "[FEATURE] Ksmd monitoring CPU utilization"
**Describe the solution you'd like**

Add a metrics chart of CPU utilization on the UI Dashboard page.

[2022-09-07 08:34] DaiYuzeng commented on #2742
This issue will be fixed when harvester/dashboard repo is rebased to rancher/dashboard.

[2022-09-07 10:37] FrankYang0529 commented on #2736
It looks like we get the wrong certificate in new nodes. The certificate in `/var/lib/rancher/agent/rancher2_connection_info.json` doesn't use our CA. Following are my reproduced steps and workaround. I will figure out how rancher-system-agent gets `kubeconfig` tomorrow.

**Create first node**
* Use [vagrant-pxe-harvester](https://github.com/harvester/ipxe-examples/tree/main/vagrant-pxe-harvester)

[2022-09-07 10:47] Martin-Weiss commented on #2736
Are you sure we should use the tls.crt in certificate-authority-data?
I would expect this to be the CA certificate, instead..
(we should trust the CA and not the servers certificate)

[2022-09-07 17:06] Oats87 commented on #2665
@tjjh89017 is there a reproduction environment the Rancher team (I) can get access to?

Unfortunately we are not operating with a lot of information here and I think I need to reproduce this in order to test it.

What is the easiest way for me to reproduce this in my own environment?

@tgazik If you still have your environment around, would you be able to dump the logs of the `rke2-server` systemd

[2022-09-07 17:11] Oats87 commented on #2665
This may be a duplicate of https://github.com/harvester/harvester/issues/2191

[2022-09-07 17:26] bcdurden opened #2745 "[BUG]"
**Describe the bug**
The Terraform Provider fails to provision VMs

**To Reproduce**
Steps to reproduce the behavior:
1. Drop the Terraform code into your working directory and untar
2. Point your kubeconfig context to your harvester cluster
3. Edit the resources.tf file and set the vlan id to something appropriate on your test network that has DHCP
4. Run `terraform init`
5. Run `terraform apply`

[2022-09-07 17:30] bcdurden opened #2746 "[FEATURE] Terraform Provider should support EFI boot"
**Is your feature request related to a problem? Please describe.**
The Terraform provider does not make provisions for enabling EFI boots which prevents using some VM images (notably Rocky9)

**Describe the solution you'd like**
Add a configuration parameter to the harvester_vm resource that allows me to enable EFI boot mode.

**Describe alternatives you've considered**
Someone has forked your pro

[2022-09-07 20:52] w13915984028 opened #2747 "[FEATURE] Harvester supports kube-audit log"
**Is your feature request related to a problem? Please describe.**

Requirement: https://github.com/harvester/harvester/issues/578

**Describe the solution you'd like**

Collect (kubernetes) `audit` log by default.

<del>Send `audit` log to `loki` by default, which can be queried by embedded `grafana`.</del>

Support send `audit` logs to general log servers.

**Describe alternatives you've conside

[2022-09-07 20:54] w13915984028 opened #2748 "[FEATURE] Harvester supports event log"
**Is your feature request related to a problem? Please describe.**

Requirement: https://github.com/harvester/harvester/issues/578

**Describe the solution you'd like**

Collect (kubernetes) `event` log by default.
<del>
Send `event` log to `loki` by default, which can be queried by embedded `grafana`.
</del>
Support send `event` logs to general log servers.

**Describe alternatives you've conside

[2022-09-07 20:58] w13915984028 opened #2749 "[FEATURE] Harvester UI support config (cluster) flow & output for `kube-audit` log and `event` log"
**Is your feature request related to a problem? Please describe.**

Requirement: https://github.com/harvester/harvester/issues/578

**Describe the solution you'd like**

To support sending (k8s) `audit` and `event` logs to general log servers, `Harvester UI` needs to be able to config (cluster) flow & output for them, adding related filters/references based on log type.

Detailed solution is descr

[2022-09-07 21:29] w13915984028 opened #2750 "[FEATURE] Upgrade support of audit and event log"
**Is your feature request related to a problem? Please describe.**

Requirement:
https://github.com/harvester/harvester/issues/577
https://github.com/harvester/harvester/issues/578

`logging, event and audit` will be enabled by default in v1.1.0, how about the upgrade?

**Describe the solution you'd like**

Add upgrade of `logging, event and audit`.

![image](https://user-images.githubusercontent.

[2022-09-07 23:55] noahgildersleeve commented on #2650
I tested this in `master-eb3e1f3e-head` with a 3 node ipxe setup from the vagrant ipxe-examples setup. The Rancher setup was on a single node Docker instance. I tested it with `v2.6.7` and `v2.6.8`.

## Validation Steps
### case 1

1. Create a harvester cluster and rancher v2.6.8.
2. Import the harvester cluster to rancher.
3. After successful import, reset the cluster-registration-url to empty.

[2022-09-08 02:12] martinkeat opened #2752 "[BUG]"
**Describe the bug**
Installation hanging at "extracting file run.sh...."

System is a Dell R710 server with a raid 1 array (ssd) being used for the primary installation and a raid 0 array (ssd) for the VM drive.

Able to go through all of the options at the beginning of the install, and then it just hangs when getting to the above. Have tried both UEFI and BIOS options for boot.

**To Reproduce**

[2022-09-08 03:47] futuretea commented on #2745
The content in cloud-init is indented incorrectly and works fine after modification
[code]

[2022-09-08 07:28] n313893254 opened #2753 "[FEATURE] Harvester Cloud Provider compatibility check enhancement"
**Is your feature request related to a problem? Please describe.**

Harvester Load Balancer feature contians a support matrix of RKE2 and Harvester compatible versions, from the UI, we should consider to disable the Harvester cloud provider option when the RKE2 version is not compatible with the Harvester version.

e.g., related LB enhencment issue [2134](https://github.com/harvester/harvester/iss

[2022-09-08 12:33] RegisWeduLabs commented on #2752
@martinkeat, Is it installed directly on the server or you are going over WAN/LAN with a remote administration tool (IPMI/DRAC)?  If going over DRAC/IPMI, please have a look at https://github.com/harvester/harvester/issues/2651#issuecomment-1218389598

[2022-09-08 12:55] bcdurden commented on #2745
I just tested this and found that it makes no difference. If indentation were the case then cloud-init wouldn't work at all. It works fine after reboot. I am able to use more sophisticated cloud-init configurations just fine, but if I Terraform the VM (as opposed to creating it in the UI), it will require a reboot before it can lease an IP address.

In fact, if there is no cloud-init config provid

[2022-09-08 13:36] futuretea commented on #2745
@bcdurden can you provide your new terraform code?

[2022-09-08 13:42] bcdurden commented on #2745
Attached. Also tried a non-empty network_data field without effect.
[terraform.tar.gz](https://github.com/harvester/harvester/files/9527297/terraform.tar.gz)

[2022-09-08 13:44] futuretea commented on #2745
The content in cloud-init is still indented incorrectly.
[code]

[2022-09-08 13:47] futuretea commented on #2745
No, just caused cloud-init didn't start qemu-guest-agent
After reboot, qemu-guest-agent will be started.

Sure, we need qemu-guest-agent to report IP

UI will support read inline cloudinit  in 1.1.0

but that's another issue https://github.com/harvester/harvester/issues/2584

[2022-09-08 13:49] bcdurden commented on #2745
I missed the second indentation error, I thought you were referring to the whole stringified yaml, not a list within it. Testing now.

[2022-09-08 13:58] bcdurden commented on #2745
~~It is still not working, same behavior. I modified the cloudinit yaml to look like the example in this link: https://registry.terraform.io/providers/harvester/harvester/latest/docs/resources/virtualmachine~~

~~While I did have the error in my current revision, this issue has been a constant problem for the last 2 months, only now has it presented itself with a customer and not in my homelab.~~

[2022-09-08 14:08] bcdurden commented on #2745
Thank you @futuretea !!!! You are amazing!

[2022-09-08 14:18] #2745 closed, assigned to nobody

[2022-09-08 23:57] wjimenez5271 opened #2754 "[FEATURE] Support option for guest VM UEFI boot in terraform resource"
Customer reports currently the option to enable UEFI boot for guest VMs is not exposed in the terraform provider, but is available through the UI. Customer would like to see option available in both places.

[2022-09-09 06:06] Martin-Weiss opened #2755 "[Doc] Harvester CSI driver can not provision PV - missing rights?"
**Describe the bug**
Have followed the procedure to create an RKE2 cluster with the harvester CPI and CSI drivers.
Then tried to deploy rancher-monitoring with the usage of the harvester storage class-
The PVCs are created but the PVs are never created and attached.

**To Reproduce**
Deploy RKE2 manually using the Harvester CSI/CPI drivers following the documentation.
Use https://github.com/harves

[2022-09-09 06:11] Martin-Weiss commented on #2755
It seems that the process should add these rights instead (based on  clusterrole  harvesterhci.io:cloudprovider)

[code]

Or instead of creating its own role and rolebinding the service account created with https://github.com/harvester/cloud-provider-harvester/blob/master/deploy/generate_addon.sh should just assign the service account to the clusterrole clusterrole  harvesterhci.io:cloudprovider

[2022-09-09 06:40] guangbochen commented on #2755
For CSI driver u may need to follow the example of https://docs.harvesterhci.io/v1.0/rancher/csi-driver/#deploying-with-harvester-k3s-node-driver, the above are snippet is for the Harvester cloud-provider integration.

[2022-09-09 06:46] Martin-Weiss commented on #2755
Oh - I did not realize that the generate_addon.sh is there twice - once for CPI and once for CPI and they are different!

So the design is to use two different service accounts with two different roles / rolebindings in case CPI and CSI are used for the same cluster? Is there a valid usecase where you have only CPI or CSI?

[2022-09-09 06:53] guangbochen commented on #2755
With built-in RKE2+Harvester CCM integration there will only be one service account to manage both of them and it is done automatically. But since this is an custom deployment case and both CPI and CSI is serving different purpose so it is better to split them up and they can be deployed independently if needed. FYI the repo: https://github.com/harvester/harvester-csi-driver

[2022-09-09 07:09] Martin-Weiss commented on #2755
Would it be possible to optimize the harvester documentation for manual RKE2 deployment with harvester CSI and CPI?
I assume that also others might fall into the same trap of one vs. two different service accounts and one vs. two role / clusterrole bindings.. - it was not obvious that two different generate_addon.sh have been used, there..
Maybe renaming them as „generate_csi_addon.sh“ and „genera

[2022-09-09 07:52] Martin-Weiss opened #2756 "[FEATURE] Scheduling of VM Backups"
**Is your feature request related to a problem? Please describe.**
It seems we can only create "manual" backups of VMs - but we need a way to schedule backups and retire / cleanup old backups.

Similar to longhorn where we can create backups per volume on a scheduled basis with the configuration option to keep them for a specific time or only keep a specific number of backups - we should have that

[2022-09-09 12:28] kingnarmer opened #2757 "Harvester node to use Fiber Channel connected LUNs"
**Is your feature request related to a problem? Please describe.**
Allow harvester node to add LUNs presented to node through fiber channel connection to backend SAN.

**Describe the solution you'd like**
Usually LUN is presented to node shows later in /proc/partitions
At that point ,  should be able to add it to disks .

**Describe alternatives you've considered**
none

**Additional context**
Thi

[2022-09-09 19:00] BringerOD commented on #2660
@Martin-Weiss thanks for your help here.  Is there a guide on how to combine the disks.  It makes sense to combine the drives,  especially if it has a replica.

Do you combine the drives before you install harvester?  Or can you combine them after it is installed.  I am not that great at disk management on linux.  Conceptually I get it,  but do it is anther thing.

The problem I had today was I ha

[2022-09-12 01:43] bk201 opened #2758 "[Doc] Document why Harvester needs 250G minimum disk size to install"
**Describe the bug**

To add a document about the Harvester minimum disk size requirement in https://github.com/harvester/harvester#hardware-requirements.

**Additional context**

[2022-09-12 02:10] axsms commented on #2651
Acknowledging this to be accurate for my company. If we can get this working consistently, we expect to be running this on around 100 remote hosted dedicated servers. Unfortunately, at this time, we have to bootstrap a fairly expensive node to either place the ISO on an http server or setup PXE to get the Harvester nodes started. Serving an ISO over WAN is painfully slow and sometimes fails, requi

[2022-09-12 02:37] FrankYang0529 commented on #2650
Hi @noahgildersleeve, for case 1, we only make sure users can set `cluster-registration-url` to `null` and delete `cattle-cluster-agent` deployment. For other resources like ClusterRole and Namespace, we didn't clean it, so the harvester cluster can still be accessed from Rancher.

For case 2, did you get any error in this case? I can access the harvester cluster from the new Rancher.

[2022-09-12 07:38] Martin-Weiss commented on #2660
I prefer "combining" disks with a hardware based RAID controller.

Yes

I am pretty sure we do not support "combining" disks i.e. via LVM or MDRAID on Harvester.

It is possible to reduce the "reserved" space and to allow overprovisioning as a workaround but for production usage I would not want to do that..

In case there is not sufficient disk space - the only chance I see is to add more / bigge

[2022-09-12 13:15] w13915984028 commented on #2692
@guangbochen @bk201 @futuretea @Vicente-Cheng

The issue https://github.com/harvester/harvester/issues/2088 has bacame a blocker with feature of logging and alert. I tried to add a `harvester-general-3-replicas` storageclass , the `rancher-monitoring` etc will use it.

![image](https://user-images.githubusercontent.com/31133476/189619473-ba39a9f4-186c-4ae5-a5c4-c71548787e69.png)

The `harvester/de

[2022-09-12 13:31] mmisworking opened #2759 "[Question] Adding more Disks to store vm's"
Hello,

Our hw config
- 6 supermicro microcloud nodes
- xeon cpu
- 128GB mem
- 1x nvme / 1TB 1x ssd / 2TB 1x hdd 12TB

Installation
- 6 nodes in one cluster 'Harvester OS' installed on the nvme
- connected to rancher 2.6.x

What works
- Everything seems to work, but ....(see our question)

Our question
- We installed harvester on the NVME, but dont want to store VM's on that. Via the settings we a

[2022-09-12 14:09] lanfon72 commented on #1436
Verified this feature has been implemented.

![image](https://user-images.githubusercontent.com/5169694/189675005-a7509189-f0c3-42e4-b5a4-d8c1bc1f6341.png)

Test Information
----
* Environment: **qemu/KVM 2 nodes**
* Harvester Version: **master-a579442f-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with any nodes
2. Create a Image `img1`
3. Click the details of `i

[2022-09-12 14:09] #1436 closed, assigned to Vicente-Cheng, lanfon72, n313893254

[2022-09-12 16:06] RegisWeduLabs commented on #2651
To add to @axsms, I think that if all the docker images within the iso are pulled from the registry instead of providing it trough the ISO, it will fix most over-wan issues (see https://github.com/harvester/harvester/issues/2670) in my opinion.  My guess is that pulling the image from the iso times out over virtual-attached medias over wan.  If it pulls all the images from the registry, I'm pretty

[2022-09-12 17:00] irishgordo commented on #2752
I agree with @RegisHubelia  - this seems to be related directly to #2651

In 2651, there are a few workarounds @martinkeat  that you could try as an act to keep the node moving along when it reaches this state:
https://github.com/harvester/harvester/issues/2651#issuecomment-1218280683

[2022-09-12 18:22] noahgildersleeve commented on #2650
@FrankYang0529 Case 2 worked fine. I thought I put `passed` in there. Sorry about any confusion. So is the desired functionality of case 1 that you can still access the cluster, or is that change out of scope for this ticket? Could we get clarification on desired functionality?  CC @rebeccazzzz @guangbochen

[2022-09-12 19:13] w13915984028 commented on #2521
Known limitation:

The `AlertmanagerConfig` is enforced by `namespace`. But, not all `alerts` having `namespace`. Meanwhile, create same `receiver` in each `namespace` is also tedious.

The is a workaround as per below link. It allows to add a gloabl config to `Alertmanager`, which in turn removes `namespace` check in `AlertmanagerConfig`.

Unfortunately,  the `alertmanagerConfiguration` is suppor

[2022-09-12 19:22] w13915984028 opened #2760 "[FEATURE] Track upstream alertmanager globalconfig"
**Is your feature request related to a problem? Please describe.**

After https://github.com/harvester/harvester/issues/2521, there is a known limitation:

The `AlertmanagerConfig` is enforced by namespace. But, not all alerts having namespace. Meanwhile, create same receiver in each namespace is also tedious.

The is a workaround as per below link. It allows to add a gloabl config to Alertmanager

[2022-09-13 01:50] FrankYang0529 commented on #2650
Hi @noahgildersleeve, thanks for the testing. For case 1, the better way is we delete harvester cluster registration in Rancher, but we can't do it from Harvester, because we don't have a Rancher credential in Harvester.

[2022-09-13 02:15] tjjh89017 commented on #2665
@Oats87
I used laptop and create 3 VM to install harvster and reinstall first node and join back.
but I think the problem is a duplicate of 2191.
I used workaround to deal with it and need your advice to upgrade RKE2
https://github.com/rancher/rancher/issues/38640#issuecomment-1240456717

[2022-09-13 03:27] tjjh89017 opened #2761 "[FEATURE] Migrate `harvester-mgmt` to new mechanism of VLAN config in /oem/99_custom.yaml"
**Is your feature request related to a problem? Please describe.**

Migrate `harvester-mgmt` to new mechanism of VLAN config in /oem/99_custom.yaml

**Describe the solution you'd like**

Currently, using a shell script with yq to patch /oem/99_custom.yaml to new version directly for upgrade.

**Describe alternatives you've considered**

**Additional context**

related to https://github.com/harvest

[2022-09-13 06:12] guangbochen commented on #2315
close as all of the dependency PRs are merged.

[2022-09-13 06:12] #2315 closed, assigned to guangbochen

[2022-09-13 06:27] guangbochen commented on #2584
Move the issue to v1.1.1 since this is not a common operation with a relative low priority task for now, thanks.

[2022-09-13 06:29] TachunLin commented on #2725
Verified **fixed** on `master-4a972de6-head` (09/13). Close this issue.

### Result
The setting controller can manage condition by itself in the following scenarios

1. Set the backup-target setting to S3
 - The configured condition of `backup-target` setting is `True`
   ![image](https://user-images.githubusercontent.com/29251855/189803700-643b5f54-d97e-462d-8f3d-7ea29b4ab8a1.png)

2. Set the bac

[2022-09-13 06:30] #2725 closed, assigned to FrankYang0529, TachunLin

[2022-09-13 06:38] starbops commented on #2708
Hi @jurginsve, we have confirmed there is a problem specifically with ISO installation on the serial console. By default, the size of the serial console is 80x24 as you mentioned above. There's not much room on the screen for the content of the network panel to show, hence the installer crashed and start all over again.

To work around this, basically, there're three ways to choose from:
- Use Jav

[2022-09-13 06:40] bk201 commented on #2759
@mmisworking The best way is select another disk as a data disk during the installation, but I guess you already finish the installation. So an option is to [disable and evict disks](https://longhorn.io/docs/1.3.1/volumes-and-nodes/disks-or-nodes-eviction/#select-disks-or-nodes-for-eviction).
- Visit Longhorn GUI (https://docs.harvesterhci.io/v1.0/troubleshooting/harvester/#access-embedded-longhor

[2022-09-13 07:10] FrankYang0529 commented on #2736
Hi @Martin-Weiss, I used same content for `Public Certificate` and `CA` in my testing.

ref: https://github.com/harvester/harvester/issues/761#issuecomment-992638166

[2022-09-13 07:25] shodanx2 commented on #401
There is a distinction between the vnc client taking a screenshot itself
And asking the remote system to press the print screen key
I had a specific case where it was exponentially more convenient to take a screenshot using the remote system's own screen grab software.

Maybe a low difficulty solution to take care of all edge cases would simply be a location to enter a keycode and then user can pr

[2022-09-13 07:25] Martin-Weiss commented on #2736
Ok - maybe this needs to be enhanced in testing and a CA certificate needs to be used "separate". So one CA cert and one server cert signed by that CA..

Basically new SSL verifications do not allow CA certificates to be used for Server communication.. there are browser warnings and even connection might not be allowed at all.

[2022-09-13 07:45] w13915984028 commented on #2760
A long-term enhancement to `Alertmanager` of `Harvester`.

 https://github.com/harvester/harvester/issues/2517.

[2022-09-13 07:56] w13915984028 commented on #2645
When local test and debugging, a LH issue is encountered and tracked in :

https://github.com/longhorn/longhorn/issues/4546

In single-node cluster, the workaround is to add a 1-replica storageclass for usage of `rancher-monitoring` etc.

[2022-09-13 09:19] bk201 commented on #2271
We can have a doc to describe use cases after #2147 is done.
- HDD tiering is not recommended for RKE2 clusters and regular use.
- Users can also reduce replica count in the storage class (for cold storage).

[2022-09-13 11:04] w13915984028 opened #2762 "[BUG] LH V1.3.1 ref counting conflicts with fleet-agent"
**Describe the bug**

fleet-agent is always complaining those CRD resources are changed

![image](https://user-images.githubusercontent.com/31133476/189883679-9758778c-1e39-4f7d-8f95-96f762268227.png)

![image](https://user-images.githubusercontent.com/31133476/189883763-43848a73-b138-4904-bb0e-7b8169f940d4.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'

Harvester master-he

[2022-09-13 11:15] mmisworking commented on #2759
Thanks for the quick response, we dig into this and report back.

[2022-09-13 13:47] dorianhhuc commented on #2759
Thank you for the response @bk201 , the answer is for a slightly different question although it did guide us to find a desired solution for our issue (except in one particular situation, I will explain it below):

1. Add all available physical disks to each node, using the Harvester web interface.
2. Use the built-in Longhorn UI and assign tags to the different disks as described [here](https://lo

[2022-09-13 14:00] bk201 commented on #2759
@dorianhhuc Thanks for the reply. [The storage tiering feature](https://github.com/harvester/harvester/issues/2147) will be in v1.1.0 to make it possible to add more storage classes. I'd suggest not defining other storage classes at this point because many places need to be taken care of, for example, live migration and backup restore features.

[2022-09-13 14:49] abonillabeeche commented on #2147
Can we have an update on this feature request? It's in Roadmap but don't yet see PRs or a discussion around it.

[2022-09-13 14:53] futuretea commented on #2147
@abonillabeeche
design PR: https://github.com/harvester/harvester/pull/2335
backend PR: https://github.com/harvester/harvester/pull/2358
UI PR: https://github.com/harvester/dashboard/pull/415

[2022-09-13 19:19] tlehman commented on #992
Changed to remove the SR-IOV functionality. That is going to be added in a future release. This release (1.1.0 is going to ship PCI Passthrough only)

[2022-09-13 19:20] tlehman commented on #992
PCI Passthrough will enable GPU support in VMs. Closing #1029 as a duplicate of this issue.

[2022-09-13 19:21] tlehman commented on #1029
Closing this issue as a duplicate of #992

[2022-09-13 19:21] #1029 closed, assigned to tlehman, mantis-toboggan-md

[2022-09-13 19:35] tlehman opened #2763 "[FEATURE] SR-IOV Support"
**Is your feature request related to a problem? Please describe.**
A customer could not use their 10Gb NIC to it's full potential inside a VM, this prompted #992, but that ticket is now dedicated to tracking PCI Passthrough, not SR-IOV specifically.

**Describe the solution you'd like**
The ability to create VFs for SR-IOV-capable devices, then pass them through to VMs.

**Describe alternatives yo

[2022-09-13 19:46] tlehman opened #2764 "[FEATURE] vGPU Support"
**Is your feature request related to a problem? Please describe.**
Customers with NVIDIA cards that support the [vGPU](https://www.nvidia.com/en-us/data-center/virtual-solutions/) feature currently can't use it with VMs created by Harvester. This is preventing them from using the acceleration features in their workflows, adding cost by making their work take longer.

**Describe the solution you'd

[2022-09-13 19:46] tlehman commented on #1029
The vGPU work is being tracked in #2764

[2022-09-13 22:47] jurginsve commented on #2708
Thank you @starbops.

Resizing the terminal did the trick and installation completed successfully.  This particular server, although it has BMC, it does not have a JAVA/HTML5 console available.  Only serial.  Next step is to automate this with PXE which was the plan if nothing else worked.

After install I had to edit grub.cfg to allow output to console again.
I followed, https://docs.harvesterhci

[2022-09-13 23:21] abonillabeeche opened #2765 "[FEATURE] Add Longhorn and Rancher dashboard links in Support section"
For troubleshooting and observability, it is necessary sometimes to go into the Longhorn or Rancher Dashboards.

The request is to add a link to both within the Support section or anywhere else it makes sense.

[2022-09-14 08:07] TachunLin commented on #2319
Verified on `master-779c1585-head` (09/14) with Rancher v2.6.8.

### Result
Pass the following image filter scenarios

- [x] **PASS** Filter label in Harvester images page
- [x] **PASS** Sort and search image in the VM creation page
- [x] **PASS** Sort and search image in the create RKE2 page (multi cluster)

#### Case 1:
The image list page can be filtered by label in the following cases

* All i

[2022-09-14 08:28] TachunLin commented on #2319
During the test, I noticed when we have some search filters and click the `Clear All` button
![image](https://user-images.githubusercontent.com/29251855/190102053-7c765b9c-a57f-4b75-a90c-3e4939161d42.png)

The the search result can't restore to display all items
![image](https://user-images.githubusercontent.com/29251855/190102095-5d34807d-1a04-4ab4-8795-5118f11e3395.png)

We need to re-enter the

[2022-09-14 10:24] TachunLin commented on #2742
Verified **fixed** on `master-779c1585-head` (09/14) with Rancher `v2.6.8`. Close this issue.

### Result
Create `test-ns` namespace in default project.
The `test-ns` namespace will correctly located in default after creation.

https://user-images.githubusercontent.com/29251855/190129028-16727045-221d-4cf0-840c-8c952bb16024.mp4

![image](https://user-images.githubusercontent.com/29251855/190126544

[2022-09-14 10:24] #2742 closed, assigned to DaiYuzeng, TachunLin

[2022-09-14 10:53] WuJun2016 opened #2767 "[BUG] vm cannot backup"
**Describe the bug**

Install harvester with the latest harvester iso, vm cannot backup.

![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/974c48ae-06d3-4ab4-9d7a-19d84c4c10e9)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a vm
2. backup this vm

**Expected behavior**

Can backup normally

**Support bundle**

**Environment**
 - Harvester ISO version:  maste

[2022-09-14 11:00] lanfon72 commented on #2736
Verified this bug has been fixed.

Test Information
----
* Environment: **qemu/KVM 2 nodes**
* Harvester Version: **master-032742f0-head**
* **ui-source** Option: **Auto**

### Verify Steps:
- Follow Steps in https://github.com/harvester/harvester-installer/pull/335

[2022-09-14 11:00] #2736 closed, assigned to FrankYang0529, lanfon72

[2022-09-14 11:02] WuJun2016 commented on #2631
UI change:
1. The health check was successful
<img width="1727" alt="image" src="https://user-images.githubusercontent.com/24985926/190136751-96d11688-ed35-45d7-bf95-c84239219d97.png">

2. The health check was unsuccessful
<img width="1724" alt="image" src="https://user-images.githubusercontent.com/24985926/190136824-b81d8b8b-a310-40b4-b96f-ea334eca4eaa.png">

3.  If the backup is abnormal, an err

[2022-09-15 02:52] guangbochen commented on #1986
@n313893254 this issue is identical to the https://github.com/harvester/harvester/issues/2485, can u please help to take a look, thanks. cc @futuretea

[2022-09-15 05:03] bk201 commented on #1390
The [doc](https://docs.harvesterhci.io/v1.0/install/harvester-configuration/#installnetworks) needs revision because of the configuration change.

[2022-09-15 05:05] tjjh89017 commented on #1390
This [docs PR](https://github.com/harvester/docs/pull/191) includes this change.

[2022-09-15 05:08] bk201 commented on #1390
Thanks, I also added `require/release-note` label. We need to highlight the change when released.

[2022-09-15 05:22] tjjh89017 commented on #2761
## Test plan

1. make iso with this PR (without vlan enhancement PR)
2. install via ISO
3. check /oem/99_custom.yaml.<TIMESTAMP> is existing
4. check /oem/99_custom.yaml has mgmt-br & mgmt-bo
5. check node's network is ok
6. check `ip link | grep harvester-mgmt` didn't have anything.

[2022-09-15 05:31] tjjh89017 commented on #2715
This issue will be solved directly via https://github.com/harvester/harvester/issues/1055

[2022-09-15 07:33] w13915984028 commented on #2719
Future enhancement:

For feature: `monitoring`, `logging`, `event`, `alert`...,  those can be `enabled/disable` in Harvester UI, and in `edge` mode installation, they can be disabled by default.

For feature like `loki`, it could also be treated as `plugin` for Harvester.

https://github.com/harvester/harvester/issues/2517  alertmanager
https://github.com/harvester/harvester/issues/577    logging

[2022-09-15 07:41] FrankYang0529 commented on #2767
It looks like using a default value in kubebuilder is not enough. I will try to add `kubebuilder:validation:Optional` and see whether it can auto set to `backup`.

https://github.com/harvester/harvester/blob/032742f0508935c47a785f1434cb373e8826464c/deploy/charts/harvester-crd/templates/harvesterhci.io_virtualmachinebackups.yaml#L79-L87

[2022-09-15 08:10] Vicente-Cheng commented on #2692
I found that the create volume (from UI) would always use the `longhorn` storage class.
Could someone help confirm? cc @guangbochen @WuJun2016

[2022-09-15 08:46] guangbochen commented on #2692
@Vicente-Cheng waiting for the storage tiering UI changes, there will a new storage class page and users will be allowed to select SC during VM/volume/image creation. https://github.com/harvester/dashboard/pull/415

[2022-09-15 09:42] lanfon72 commented on #2631
Verified this feature has been implemented.

![image](https://user-images.githubusercontent.com/5169694/190369936-c07b0a5f-8685-4813-8108-1032caf09183.png)

Test Information
----
* Environment: **qemu/KVM 2 nodes**
* Harvester Version: **master-032742f0-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with any nodes
2. Login to Dashboard then navigate to _Advanced/Se

[2022-09-15 09:42] #2631 closed, assigned to FrankYang0529, lanfon72, WuJun2016

[2022-09-15 19:19] yasker opened #2769 "[FEATURE] Harvester extension"
**Is your feature request related to a problem? Please describe.**
Harvester extension is a way to expand Harvester's functionality by installing additional components.

**Describe the solution you'd like**
1. Each extension might have it's own UI (depends on https://github.com/rancher/rancher/issues/36972 )
2. Extension can be installed as a Helm chart, or as VMs.
    * VM should be deployed in t

[2022-09-15 20:53] w13915984028 commented on #2549
Link:
https://github.com/kubevirt/kubevirt/issues/2704
https://github.com/harvester/harvester/issues/2497

[2022-09-15 22:23] noahgildersleeve commented on #2650
@FrankYang0529 I tested this again and checked if you could create a cluster with the `cluster-registration-url` set to empty
### case 1
1. Create a harvester cluster and rancher v2.6.8.
1. Import the harvester cluster to rancher.
1. Create a RKE2 cluster in the Harvester cluster via node driver
1. After successful creation, reset the cluster-registration-url to empty
1. Create a new RKE2 cluster

[2022-09-16 02:21] n313893254 opened #2770 "[FEATURE] When adding a block device on the host page should support adding disk tags"
**Is your feature request related to a problem? Please describe.**

When adding a block device on the host page should support adding disk tags.

Related issue:
https://github.com/harvester/harvester/issues/2147
https://github.com/harvester/harvester/issues/2717

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[Add disk tags]
![image](http

[2022-09-16 02:23] Jw-Jm commented on #2233
Same problem, did you solve it?

Environment:
centos7.9 + k8s-v1.22.12+harvester-v1.03
kernel 5.4.212-1.el7.elrepo.x86_64

[2022-09-16 03:50] Vicente-Cheng opened #2771 "[FEATURE] let users choose the storage tiering to the restore target"
**Is your feature request related to a problem? Please describe.**
related to issue #2692

**Describe the solution you'd like**
Users could choose different storage tiering when backup-restore.

**Describe alternatives you've considered**

**Additional context**
For now, the restore target will use the same tiering as the backup source.
We want to let user could choose the tiering for the restore

[2022-09-16 08:01] Martin-Weiss opened #2772 "[Feature] How can we configure a single IP load balancer for a RKE2 guest cluster hosted on top of Harvester?"
We deploy RKE2 downstream clusters using Rancher into Harvester.
During this process we also deploy CPI and CSI.

Now we need to expose :6443 / :9345 / :80 and :443 via a loadBalancer VIP provided via Harvesters load balancer.
:6443 and :9345 are provided by the RKE2 masters and :80/:443 via ingress-nginx on all nodes in the RKE2 cluster.

How can we configure a service in the downstream RKE2 clus

[2022-09-16 11:57] w13915984028 commented on #2645
update 2022.09.16:

This feature is moved out from v1.1.0.

To persistant logging, user normally have dedicated logging servers. Meanwhile, Harvester may have limited storage, the logging PVC is difficult to set a proper size.

[2022-09-16 14:06] TachunLin commented on #2319
Verified **fixed** on `master-3bcba9d3-head` (09/16). Close this issue.

### Result
Now when we click the `Clear All` button, all filter label will be cleaned up and restore all the image item lists
![image](https://user-images.githubusercontent.com/29251855/190657534-846723a4-238d-46bc-910e-eb0f2bb7388c.png)

https://user-images.githubusercontent.com/29251855/190658054-bbba4163-df45-4730-9113-b8e

[2022-09-16 14:06] #2319 closed, assigned to WuJun2016, TachunLin

[2022-09-16 17:11] yasker commented on #1199
Hi all,

I know it has been a while but we're looking into the possibility of supporting third-party storage now. We need some feedback/input on this topic so we can understand the user experience well enough to implement it.

Thinking about it more, there are two important issues with the third-party storage support:
1. Inefficiency of the VM image management. Longhorn has optimized for the VM wo

[2022-09-16 17:18] yasker commented on #946
You can add the image into Harvester and use it.

[2022-09-16 17:18] #946 closed, assigned to nobody

[2022-09-16 17:19] yasker commented on #2405
Related to #1199

[2022-09-16 17:20] yasker commented on #1165
Duplicate of #1676

[2022-09-16 17:20] #1165 closed, assigned to nobody

[2022-09-16 17:26] yasker commented on #1652
Duplicate with https://github.com/harvester/harvester/issues/2318

[2022-09-16 17:26] #1652 closed, assigned to nobody

[2022-09-16 19:46] mddeff commented on #1199
Commenting in reverse order

Absolutely concur, you should only support CSIs, and let the community bring the CSI of choice.  If I wanted to use NFS (like I do now), I'd just want to provision the [NFS Subdir provisioner](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner) and let it do everything a CSI is supposed to.  This would also allow us to use things like [democratic-csi](h

[2022-09-16 20:17] noahgildersleeve commented on #2590
Tested in Harvester `master-032742f0-head` and Rancher `v2.6-28a74733d5a7bf24f114b4ad4daf84d663b6a683-head`.

## Verification Steps
### Case 1 RKE2

1. Import Harvester from Rancher
2. Download Kubeconfig from Harvester support page
3. Copy the kubeconfig content
4. Open Cluster Management -> Cloud credential
5. Select Harvester
6. Check External Harvester
7. Copy the kubeconfig content
8. Provisi

[2022-09-16 20:22] noahgildersleeve commented on #2605
Tested in Harvester `master-032742f0-head` and Rancher `v2.6-28a74733d5a7bf24f114b4ad4daf84d663b6a683-head`.

## Verification Steps
### Case 1 RKE1

1. Import Harvester from Rancher
2. Download Kubeconfig from Harvester support page
3. Copy the kubeconfig content
4. Open Cluster Management -> Cloud credential
5. Select Harvester
6. Check External Harvester
7. Copy the kubeconfig content
8. Create

[2022-09-16 20:22] #2605 closed, assigned to n313893254, noahgildersleeve

[2022-09-17 00:30] yasker commented on #763
This was a long time ago. Some of those have already been implemented.

CC the community coordinator for the week @yaocw2020

[2022-09-17 00:32] yasker commented on #2476
@axsms Sorry we haven't got time to look at this request yet. Is there any reason you've closed it? (besides it's taking a while...)

Just let you know, we're also working on #2346 (seeder) which should help with the lab provisioning.

[2022-09-17 00:37] yasker commented on #2674
Will be included in #2318 .

[2022-09-17 00:37] #2674 closed, assigned to nobody

[2022-09-17 00:49] yasker commented on #1199
@mddeff Thanks for the feedback. Yeah, CSI would be the way to go.

And you brought up a very good point regarding the CSI clone feature. It looks like something we can use to unify the interface between different storage vendors. But it will require some time to POC and then a redesign of Harvester's image management feature, so it is going to take some time.

Also, we would be hesitant to allow

[2022-09-17 01:11] yasker commented on #2506
Hi @MikeTolkachev

Cloud credential is associated with Harvester cluster IIRC. It doesn't look like we can just add an option to point to a different Harvester cluster.

I can understand the use case to treat one Harvester cluster as an availability zone here though.

[2022-09-17 01:16] yasker commented on #2538
@Martin-Weiss It seems those operations are done via CLI instead of UI. I would expect user to `Enable Maintainence Mode` then reboot the node from CLI since they're already in the CLI.