[2021-08-30 18:32] yasker commented on #1133
Embedded Rancher will be for debugging purposes, at least we need to change the wording of the setting, or remove it but make it accessible through another way (e.g. hidden URL).

[2021-08-30 19:27] noahgildersleeve opened #1134 "[BUG] Embedded Rancher doesn't work"
**Describe the bug**

When you try to navigate to the embedded Rancher for any reason it doesn't seem to go anywhere
**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to `https://<rharvesterIp>:30444`
**Expected behavior**

You should be able to get to the embedded rancher
**Support bundle**

**Environment:**
 - Harvester ISO version: master-d25964a2-head
 - Underlying Infrastructure (

[2021-08-30 23:52] noahgildersleeve opened #1135 "[BUG] VM won't start and shows as unschedulable"
**Describe the bug**

When. you try to create a VM it won't schedule
**To Reproduce**
Steps to reproduce the behavior:
1. Add a raw image to the images
2. Create a VM from the image template
3. Try to start VM

**Expected behavior**

It should start
**Support bundle**

**Environment:**
 - Harvester ISO version: master-d25964a2-head
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R

[2021-08-30 23:59] guangbochen commented on #1135
seems the support bundle is not working now, can u please help to provide the info with kubectl describe those pods.

[2021-08-31 00:03] noahgildersleeve commented on #1135
[code]

[2021-08-31 06:11] bk201 commented on #1134
We now expose Rancher via NodePort `30443` only.
Rancher's `ui-dashboard-index` setting is configured with a default value `https://releases.rancher.com/harvester-ui/dashboard/latest/index.html`, thus when users connect to rancher, it fetches the UI assets from that URL and send them back to users.

HostPort `8443` is special and Rancher is also exposed on that port for rancherd bootstrap purposes

[2021-08-31 07:56] hxjr opened #1136 "[FEATURE]Is there a way to build harvester as a platform or service, other than an OS?"
I want to build and install harvester on some other OS, like centos or debian.
Is it possible? any guide?

[2021-08-31 14:26] ldevulder opened #1137 "[BUG] DNS servers seem to be hardcoded in /etc/resolv.conf"
**Describe the bug**
I tried to automatically install latest Harvester build using PXE boot (so I used `ip=dhcp` option) but I had this error during the installation:
![harvester_dns_issue](https://user-images.githubusercontent.com/25102165/131519832-ed31bfd6-a012-4686-8303-59b8e2cf8a6b.png)

I checked and here what I have in the `/etc/resolv.conf` file:
[code]

Clearly, the DNS servers sent by th

[2021-08-31 16:00] noahgildersleeve commented on #1135
![image](https://user-images.githubusercontent.com/83787952/131536626-92799f82-8c7d-4250-be1e-6397e1810c57.png)

[2021-08-31 20:45] chajain opened #1139 "[BUG]Rancher UI on first screen when Installing Harvester using IPXE Boot"
**Describe the bug**
When trying to install Harvester using ipxe Boot, the first screen which pops up on first login is Rancher UI

**To Reproduce**
Steps to reproduce the behavior:
1. Install Harvester using instructions on https://github.com/harvester/ipxe-examples/tree/main/vagrant-pxe-harvester

**Expected behavior**
Harvester Ui Login page should appear

**Support bundle**

**Environment:**

[2021-09-01 01:53] DaiYuzeng opened #1140 "[FEATURE] Node scheduling enhancement"
Can we replace the Input Component with the Select Component to make it easier to match?

![截屏2021-09-01 上午9.47.05.png](https://images.zenhubusercontent.com/60370508fd3d02bfb6c4ba36/ce8b750d-3aeb-4ee5-bf3a-97f396063767)

#817

[2021-09-01 04:04] bk201 commented on #1135
Some users have a similar situation because KVM is not on. It looks like the cluster is a virtualization cluster, is nested virtualization enabled?

A simple script to check KVM:
[code]

The output of node capacity might be useful too:
[code]

[2021-09-01 05:55] wonleing commented on #1136
Any method to deploy harvester on another OS?

[2021-09-01 06:23] futuretea commented on #760
https://kubevirt.io/user-guide/virtual_machines/startup_scripts/#cloud-init-userdata-as-k8s-secret
https://kubevirt.io/user-guide/virtual_machines/startup_scripts/#cloud-init-network-config-as-k8s-secret

[code]

[code]

[code]

[2021-09-01 06:25] guangbochen commented on #1136
In v0.3 we have replaced the k3os with the newOS which uses the sle15:15.3 as base kernel, u may want to take a look when it is out(ETA 09/30).

Additionally, u can refer to the doc https://docs.harvesterhci.io/v0.2/dev/dev-mode/#requirements here and install the Harvester via helm chart (both k8s cluster and some requisites with pre-setup are required), **please be aware that Helm mode installati

[2021-09-01 06:40] guangbochen opened #1142 "[FEATURE] vm backup and backup content refactoring"
**Is your feature request related to a problem? Please describe.**
Currently, we have introduced both VM backup and backupContent CRDs, this is somehow redundant as the content should be immutable by the time taken the backup and it could be stored to the backup status.

**Describe the solution you'd like**
- remove the vmBackupContent CRD
- store the VM backup content and metadata as status in th

[2021-09-01 08:19] gitlawr opened #1143 "[BUG] Kubevirt services get deleted after importing Harvester to Rancher"
**To Reproduce**
Steps to reproduce the behavior:
1. Install rancher v2.6.0 using docker run
2. Install Harvester using the master-head ISO image.
3. Import the Harvester cluster to Rancher

Related to https://github.com/rancher/rancher/issues/34716

**Result:**
Notice that the `harvester-pre-delete` job is triggered. After it completed, kubevirt services except for the virt-operator are deleted.

[2021-09-01 13:05] WuJun2016 commented on #813
test step:
1. Drag and drop to change boot order
2. Use the up and down arrow buttons to change the boot order

![image](https://user-images.githubusercontent.com/24985926/131676291-90f2f9b0-6902-40a0-8ae7-82763ff0567f.png)

[2021-09-01 13:08] WuJun2016 commented on #814
See the UX & test step:  https://github.com/harvester/harvester/issues/813

[2021-09-01 13:13] lucidd commented on #1139
Not sure if what i'm seeing is different from this bug but i wanted to put it here just in case. I'm not using IPXE but after the first login i get to `/dashboard/home` which shows the "welcome to rancher" dashboard. After some more time (~5 minutes for me) on the same url after refreshing the message changes to "welcome to harvester" and navigating to / opens the harvester ui. I also noticed that

[2021-09-01 18:47] noahgildersleeve opened #1144 "[BUG] VM console fails with websocket errors"
**Describe the bug**

When you try to open a console on a VM it just has a blank window
**To Reproduce**
Steps to reproduce the behavior:
1. Create a new VM from image
2. Boot the VM
3. Navigate to the virtual machine list
3. Try to open a web console from harvester UI
4. Either Serial or Web VNC

**Expected behavior**

The console should output
**Support bundle**

**Environment:**
 - Harvester IS

[2021-09-01 19:00] noahgildersleeve commented on #1130
Tested in `master-4583f10e-head`. Fixed.

[2021-09-01 19:00] #1130 closed, assigned to WuJun2016, noahgildersleeve

[2021-09-01 19:10] yasker commented on #1139
We shouldn't show the Rancher UI at all from Harvester.

[2021-09-01 21:32] noahgildersleeve commented on #1139
I tested this and the rancher login prompt happens while harvester is still doing the post install setting up step. Once it goes to ready it will show the harvester prompt. I imagine that when run locally with less resources the step takes longer so it is easier to hit that fail condition. We should probably just disable the web UI while it's not ready. That would probably resolve the issue.

[2021-09-02 10:25] gitlawr commented on #1143
It seems that this is not consistently reproducible.

Possible related logs when it happens:

[code]

[code]

The fleet bundle is in NotReady state for a single node cluster(Probably not related)
[code]

[2021-09-02 14:08] guangbochen commented on #1139
that's exactly the reason why some rancher elements are showing on the single Harvester dashboard. On the console, we should already display the server as `NotReady` when the Harvester server is not running, but as long as the Rancher server is ready and users are visiting with the correct URL we can't disable the web UI.

And the server only needs to config it once at the initial stage.

[2021-09-02 14:17] guangbochen commented on #1133
this setting will be removed eventually.

[2021-09-02 14:56] guangbochen opened #1147 "[BUG] dashboard metrics is incorrect"
**Describe the bug**

Steps to reproduce the behavior:
1. the dashboard capacity metric is not correct, it is `used `instead of `reserved`.
![image](https://user-images.githubusercontent.com/4569037/131866423-575a2ac2-8c62-4bf5-b8fe-93f6e0d93427.png)
2. get disk metrics from the longhorn nodes CRD instead as it is more accurate

**Environment:**
 - Harvester ISO version: master-head
 - Underlying

[2021-09-02 15:09] yasker commented on #1139
@guangbochen can we find a way to disable Rancher server UI temporarily until the Harvester setup is done? We might need to reach out to the Rancher team to see if there is a way.

[2021-09-02 15:17] guangbochen commented on #582
**To Test:**
Need to verify using the latest rancher v2.6.x release and the new harvester ISO.

Verification scope:
- installer the Rancher `v2.6-head` via the [docker run](https://rancher.com/docs/rancher/v2.6/en/quick-start-guide/deployment/quickstart-manual-setup/#2-install-rancher) or using your existing Rancher server
- Wait for the upstream Rancher to be up and ready
- importing the downstre

[2021-09-02 15:22] guangbochen commented on #1101
![image](https://user-images.githubusercontent.com/4569037/131871347-ea4af451-12c5-47d0-8061-4b7d72f74a48.png)
![image](https://user-images.githubusercontent.com/4569037/131871440-3b2b7ea0-df5a-4e2e-8758-891a6535c3ed.png)

[2021-09-02 15:54] chajain opened #1148 "[BUG]Multi-node Install of harvester using IPXE Vagrant is failing on Provo DCP Cloud"
**Describe the bug**
When trying to bring up the multi-cluster Harvester Env using the instructions on https://github.com/harvester/ipxe-examples/tree/main/vagrant-pxe-harvester, the first node boots fine but subsequent nodes fail to install.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the README on https://github.com/harvester/ipxe-examples/tree/main/vagrant-pxe-harvester and try

[2021-09-02 17:58] guangyee commented on #1148
Related to https://github.com/harvester/harvester/issues/1137

[2021-09-02 19:26] noahgildersleeve commented on #1134
You can access the old rancher UI at `https://<harvesterIp>:30443/dashboard/c/local/explorer`

[2021-09-02 23:16] noahgildersleeve opened #1150 "[BUG] On airgapped server you get rancher dashboard after install"
**Describe the bug**

When you install on an airgapped server you get the rancher dashboard
**To Reproduce**
Steps to reproduce the behavior:
1. Install on an airgapped server
2. Log into the web UI
**Expected behavior**

You should get the harvester dashboard
**Support bundle**

This support bundle is after I opened up the connectivity and it resolved the issue.
[harvester-supportbundle_1e964292-

[2021-09-03 01:15] guangbochen commented on #1134
@noahgildersleeve please help to confirm it is ok to close this issue, thanks

[2021-09-03 01:19] guangbochen commented on #1091
close as it is confirmed from the Rancher team that we will just keep the secret name to remain unchanged.

[2021-09-03 01:19] #1091 closed, assigned to nobody

[2021-09-03 01:28] yasker commented on #581
OS replacement PR has been merged. All future issues can be tracked by separate tickets.

[2021-09-03 01:28] #581 closed, assigned to bk201, yasker

[2021-09-03 01:28] yasker commented on #755
UI integration PR has been merged. All future issues can be tracked by separate tickets.

[2021-09-03 01:28] #755 closed, assigned to yasker, WuJun2016

[2021-09-03 03:29] guangbochen commented on #1144
@noahgildersleeve can u please help to re-validate if this is still an issue, thanks?

[2021-09-03 03:31] guangbochen commented on #1135
@noahgildersleeve can't reproduce in our testing environment, can u please validate whether the nest virtualization is supported in your environment according to the above comments, thanks.

[2021-09-03 03:39] WuJun2016 commented on #1047
In the v0.2.0 version, we only support restoring to the default namespace, and now we support restoring to the namespace when the vm was backed up.

Note: Due to the limitation of k8s, we do not support restoring to a different namspace

[2021-09-03 03:43] guangbochen commented on #938
please help to verify using the latest rancher v2.6.0 release and the new harvester-installer, u will need to replace the Rancher UI with the customized harvester release: https://releases.rancher.com/harvester-ui/dashboard/latest/index.html.

Verification scope:
- Either install Rancher 2.6.0 via the [docker run](https://rancher.com/docs/rancher/v2.6/en/quick-start-guide/deployment/quickstart-man

[2021-09-03 03:54] WuJun2016 commented on #884
close:  Now we change the bootorder by dragging and dropping

https://github.com/harvester/dashboard/pull/67

[2021-09-03 03:55] #884 closed, assigned to n313893254

[2021-09-03 03:57] guangbochen opened #1151 "[FEATURE] Publish the Harvester Terraformer to the TF registry"
**Is your feature request related to a problem? Please describe.**
Publish the Harvester Terraformer to the TF registry of Harvester v0.3.0 release

**Additional context**
[ ] Documentation PR harvester/docs#16

[2021-09-03 04:00] guangbochen commented on #634
Will track the publish to TF registry and doc on the https://github.com/harvester/harvester/issues/1151 issue.
@juadk please help to close this issue if all the functionality-related tests are passed, thanks.

[2021-09-03 04:02] guangbochen commented on #692
close due to old version and inactivity, please open a new issue if something similar appears, thanks.

[2021-09-03 04:02] #692 closed, assigned to guangbochen, WuJun2016

[2021-09-03 04:15] guangbochen commented on #1047
restore VM to different namespace will be tracked on the https://github.com/harvester/harvester/issues/1027, for this issue please help to verify restore/replace VM with the same backup namespace should works.

[2021-09-03 07:44] futuretea commented on #1042
clusternetwork has been change to non-namespaced, in terraform-provider-harvester v0.2.0 + harvester v0.3.0, we don't need to specify namespace:

[code]

https://github.com/harvester/terraform-provider-harvester/releases/tag/v0.2.0

https://github.com/harvester/terraform-provider-harvester/blob/master/examples/resources/harvester_clusternetwork/resource.tf

[2021-09-03 13:46] ldevulder commented on #1047
@guangbochen maybe my explanation wasn't good, but I tried to restore a VM on the same namespace has it was before, here in namespace `harvester-public`. This lead to the issue I described.

[2021-09-03 15:50] ldevulder commented on #1124
@bk201 I've did more tests and I'm able to install the latest build on a 35GB disk, and the status is `Ready`.

[2021-09-03 16:07] bk201 opened #1154 "[FEATURE] Hardware Spec preflight checking in the installer"
**Is your feature request related to a problem? Please describe.**

We have hardware requirements and recommended values in the [doc](https://docs.harvesterhci.io/v1.3/install/requirements/). We can check if the system meets all needs before performing the installation.

**Describe the solution you'd like**
The installer can check the hardware and warn the user if the hardware doesn't meet the rec

[2021-09-03 16:07] bk201 commented on #1124
Thanks for the testing. We have a [recommended](https://docs.harvesterhci.io/v0.2/#hardware-requirements) value in the doc. It would also be nice we can add some checks in the installer if the node doesn't meet the recommended spec. I created an issue to track this: https://github.com/harvester/harvester/issues/1154

[2021-09-03 17:54] noahgildersleeve commented on #1135
@guangbochen This seems to be resolved now. I'm closing after verifying with build `master-c4584348-head`

[2021-09-03 17:54] #1135 closed, assigned to nobody

[2021-09-03 17:54] noahgildersleeve commented on #1144
Tested in `master-c4584348-head`. Verified as fixed.

[2021-09-03 17:54] #1144 closed, assigned to DaiYuzeng, noahgildersleeve

[2021-09-03 17:57] noahgildersleeve commented on #1101
Tested in `master-c4584348-head`. Verified that link is in new place in support.

[2021-09-03 17:57] #1101 closed, assigned to n313893254, noahgildersleeve

[2021-09-03 17:58] noahgildersleeve commented on #921
verified as removed in build `master-c4584348-head`.

[2021-09-03 17:58] #921 closed, assigned to lucidd, noahgildersleeve

[2021-09-03 18:03] noahgildersleeve commented on #903
tested in `master-c4584348-head`. Verified as fixed.

[2021-09-03 18:03] #903 closed, assigned to DaiYuzeng, noahgildersleeve

[2021-09-04 02:35] guangbochen commented on #1124
close as this issue is resolved by using the correct disk size, an enhancement from the installer will be tracked on https://github.com/harvester/harvester/issues/1154.

[2021-09-04 02:35] #1124 closed, assigned to nobody

[2021-09-04 14:52] inmanturbo opened #1156 "[BUG]"
**Describe the bug**
After install boot fails and drops into bash shell.

This occurs after resizfs runs, the mount command complains about a missing LABEL="HARVERSTER_STATE". (IDRAC Screen Capture below)

**To Reproduce**
Steps to reproduce the behavior:
1. Boot from ISO, install Harvester on DELL Poweredge server
2. Attempt to boot

**Expected behavior**
Successfull boot

**Support bundle**
Have

[2021-09-06 03:29] guangbochen opened #1158 "[BUG] Harvester server failed to start of missing v1.Plan CRD"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Installer Harvester via latest ISO and wait for the server to be ready
2. the Harvester server is failed to start due to the above error.

**Expected behavior**
Should not include the v1.plan CRD error.

**Support bundle**

**Environment:**
 - Harvester ISO version:
 - Underlying Infrastructure (e.g. Baremetal with D

[2021-09-06 04:01] bk201 opened #1160 "[BUG] Fail to build harvesterOS on Sep. 6th."
**To Reproduce**
- Build the OS
- Fail with
[code]

**Additional context**
Package `grub-config` is removed from green repo: https://github.com/rancher-sandbox/cOS-toolkit/commit/25b2f1dca7ed77c0c834cd03a7c613af923216cf

[2021-09-06 06:26] bk201 commented on #1160
Fixed in https://github.com/harvester/os2/pull/8

[2021-09-06 06:26] #1160 closed, assigned to nobody

[2021-09-06 09:36] johnliu55tw opened #1161 "[BUG] Follow wiki to setup development environment failed"
**Describe the bug**

I tried to follow the wiki [Setting Up Harvester Development Environment](https://github.com/harvester/harvester/wiki/Setting-Up-Harvester-Development-Environment) to set up my development environment, but harvester keeps showing errors:
[code]
![image](https://user-images.githubusercontent.com/5047724/132194423-1eab7898-2e25-4e0a-9497-44e553c14f18.png)

I checked `kubectl` o

[2021-09-06 14:29] guangbochen commented on #1158
close in favor of https://github.com/harvester/harvester/pull/1159

[2021-09-06 14:29] #1158 closed, assigned to nobody

[2021-09-06 14:31] guangbochen commented on #1137
address via https://github.com/harvester/harvester-installer/pull/109, can u please help to validate it using latest ISO, thanks

[2021-09-06 15:08] guangbochen commented on #1161
this only happens when u run local harvester development and the wiki doc has not been updated to reflect the 0.3 architectural design changes:
- for now, the easiest way to connect the Harvester cluster with your local dev environment is through the https://telepresence.io/
- we have introduced the aggregated api-server for the multi-cluster management purpose with rancher 2.6 integration https:/

[2021-09-07 03:34] bk201 commented on #706
In the new OS, we collect logs of each boot and limit the size to 10MB.
https://github.com/rancher/support-bundle-kit/pull/17/files#diff-0cddcf1d434947801c187310d89bbf0779d515df7332c932b669c6c30cb0c879R27

[2021-09-07 03:39] bk201 commented on #1148
This should be fixed in the latest master ISO. The OS doesn't pull metadata from cloud providers now.

[2021-09-07 08:45] ldevulder commented on #1137
I tested on version `master-c8041619-head` and the issue is fixed:
[code]

Can be closed.

[2021-09-07 08:45] #1137 closed, assigned to bk201, ldevulder

[2021-09-07 09:56] DaiYuzeng commented on #1000
Tested in `master-661ee801-head`, i couldn't reproduce this issue. It seems like be fixed.

Could you re-validate it? Thanks!

[2021-09-07 09:56] DaiYuzeng commented on #1077
Validated in `master-661ee801-head`.

[2021-09-07 09:56] #1077 closed, assigned to DaiYuzeng

[2021-09-07 19:39] inmanturbo commented on #1156
this was after installing from an iso flashed to usb using etcher. I have since tried installing directly from raw iso using virtual media (via iDRAC) and afterwards the machine booted right up and works fine.

[2021-09-07 19:40] inmanturbo commented on #1156
may have been a problem with the usb drive. closing for now

[2021-09-07 19:40] #1156 closed, assigned to nobody

[2021-09-07 20:22] inmanturbo opened #1164 "[BUG] saving config should not start stopped vms"
It is one thing to restart a VM to apply changes, but saving changes should not restart a VM that is not running.

On another note, it would perhaps be better to show a banner stating that the changes will not be applied until the next restart, as this is typically the expected behavior.

[2021-09-07 20:26] inmanturbo opened #1165 "[FEATURE] Metallb support"
It would be nice to have support within the ui for metalLb and be able to use that to assign floating ips to VM's.

[2021-09-07 20:55] inmanturbo opened #1166 "[BUG] Docs link does not lead to docs website"
**Describe the bug**

The docs link leads here:

https://github.com/harvester/harvester/tree/master/docs

**To Reproduce**
Steps to reproduce the behavior:
1. Click docs link in footer of UI

**Expected behavior**

Should lead to https://docs.harvesterhci.io/v0.2/  or https://docs.harvesterhci.io/v[$version]/

(Or there should at least be a readme in the docs directory with a current link to docs)

[2021-09-07 21:08] inmanturbo commented on #994
Looking at these parameters
[code]
Is there ovmf support? I don't see any options for uefi bios in the UI

[2021-09-07 23:21] inmanturbo commented on #1166
Already fixed here:
https://github.com/harvester/harvester-ui/commit/5fa9286d01bfb6fb197c1d4e59bf5450734600c8#diff-428cf92b92e3618d37c4a8249e17583e9b1fc7982d529b9967073bdc1daa698d

[2021-09-07 23:21] #1166 closed, assigned to nobody

[2021-09-08 00:50] inmanturbo commented on #1059
@yaocw2020 this is not just a matter of being able to ping.

I can confirm that if the vm will only have one active network at a time. If a vlan is up, the management network will be down. If the management network is up (on the VM) the vm will be unreachable on the vlan.

In short it is not possible to multi-home the VM, and straddle both an internal and external network, as it were.

Tested v0.0

[2021-09-08 06:59] n313893254 opened #1167 "[FEATURE] Host list should display the disk error message on table"
**Is your feature request related to a problem? Please describe.**
The host list should display the disk error message on the table

![image](https://user-images.githubusercontent.com/18737885/132461547-78d13721-a0dc-4bb3-a135-c83999374772.png)

[2021-09-08 07:29] futuretea opened #1168 "[BUG] disk `auto_delete` doesn't work in terraform-provider-harvester v0.2.0"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. create vm by terraform-provider-harvester. like https://github.com/harvester/terraform-provider-harvester/blob/master/docs/resources/virtualmachine.md
2. terraform destory
3. use `kubectl get pvc` to check volume list

**Expected behavior**

if set disk field auto_delete  to true, volume will be auto deleted.

**Environment

[2021-09-08 10:57] bk201 opened #1174 "[BUG] Nodes can't join a cluster"
**Describe the bug**
Nodes can't join clusters.

**To Reproduce**
Steps to reproduce the behavior:
1. Start the first node and create a Harvester cluster.
2. Start another node and join the cluster.
3. The second node doesn't appear in the Kubernetes clusters. (`kubectl get nodes`)

**Expected behavior**
The second node should appear in the Kubernetes clusters. (`kubectl get nodes`)

**Support bun

[2021-09-08 11:55] guangbochen opened #1176 "[BUG] VM only shows the IPV6 address"
**Describe the bug**
When the VM has been assigned with both IPV4 and IPV6 addresses, by default the VMI will only store the IPV6 address, it should store both.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. create a VM e.g with ubuntu focal image
2. set the first network to use VLAN network
3. create the VM and wait for it to be ready.

**Expected behavior**
- the VMI should include

[2021-09-08 12:13] guangbochen commented on #1150
should be addressed via https://github.com/harvester/harvester/pull/1152, can u please re-validate it, thanks.

[2021-09-08 12:42] gitlawr opened #1177 "Hide support bundle link if users have no permission for it"
**To Reproduce**
Steps to reproduce the behavior:
1. Log in as a project member
2. Click the support link and click `generate support bundle`

**Result**
![image](https://user-images.githubusercontent.com/5697937/132509291-745b188c-1d20-497d-a6f1-a40bf71cccf4.png)

**Expected behavior**
Hide the link when users have no permissions

**Environment:**
 - Harvester ISO version: master-5fc1858a-head

[2021-09-08 12:57] n313893254 opened #1178 "[FEATURE] Backup page enhancement"
**Is your feature request related to a problem? Please describe.**

![image](https://user-images.githubusercontent.com/18737885/132512371-031aed9e-ba03-43d4-b2f5-32e3474b2aff.png)
- It seems "Ready To Use" will be better
- How about "true/false" replace with an icon or "yes/no"

![image](https://user-images.githubusercontent.com/18737885/132515605-0ec44f81-6157-4b6b-93d8-c2dad00455b2.png)
- Backup

[2021-09-08 13:36] n313893254 opened #1179 "[FEATURE] backup-target should display error message"
**Is your feature request related to a problem? Please describe.**
![image](https://user-images.githubusercontent.com/18737885/132518520-f28308ab-4fd8-4606-9fa7-3133b1ab88e3.png)

- Configure S3 correctly
- Select Virtual Hosted-styled to false

There is no error message shows on the backup list page or backup-target setting page.

[2021-09-08 15:57] bk201 opened #1181 "[BUG] Support VIP on Equinix Metal"
**Describe the bug**
The VIP feature is in, we need to figure out how to use that in Equinix Metal platform.
Also, the ipxe-examples should be updated.

[2021-09-08 16:38] WuJun2016 opened #1182 "[BUG] Set the initial password for the first login, but did not jump to the dashboard page"
**Describe the bug**

![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/5c51e02c-8779-45c1-99dc-35e420fb264c)

**To Reproduce**
Steps to reproduce the behavior:
1. Install a new cluster
2. set password

**Expected behavior**

Jump to the dashboard page

**Support bundle**

**Environment:**
 - Harvester ISO version:
 - Underlying Infrastructure (e.g. Baremetal with Dell Pow

[2021-09-08 18:56] noahgildersleeve opened #1186 "[BUG] VIP display doesn't have port on node"
**Describe the bug**

When you look at the IP in the console on your node it doesn't show the port. If you go to that IP it will give you a 404
**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Harvester cluster
2. Set the VIP as something routable
3. Finish install and reboot
4. Navigate to the address shown in the console
**Expected behavior**

Either the URL should work, or we s

[2021-09-08 22:49] noahgildersleeve commented on #1134
@guangbochen As long as everyone is OK with the URL being hidden and there being no link then we can close it.

[2021-09-08 22:52] yasker commented on #1134
Is there a way to access the Rancher UI for the downstream Harvester from the upstream Rancher?

[2021-09-09 02:45] guangbochen commented on #1134
Yes, just through the explorer dashboard.
![image](https://user-images.githubusercontent.com/4569037/132613939-e5186329-d6ba-40ff-a7ef-464591710dd9.png)

[2021-09-09 04:47] bk201 opened #1187 "[FEATURE] Support case-insensitive value for network modes in Harvester configuration"
**Is your feature request related to a problem? Please describe.**

Currently, valid values of `Install.VipMode` and `Install.Network.Method` fields are:
- `DHCP`
- `static`

The validator reports error if the mode is set to `dhcp` or `Static`.

**Describe the solution you'd like**

We can relax the check by making the value case-insensitive.

**Describe alternatives you've considered**

**Additio

[2021-09-09 09:08] johnliu55tw opened #1190 "[BUG] Cannot access Web VNC Console from individual VM page: t.name is null"
**Describe the bug**
When I tried to access the Web VNC Console from the individual VM page (Not from the list of VMs), the GUI reports Error: t.name is null. It works when I access the Web VNC from the list of VMs.

![image](https://user-images.githubusercontent.com/5047724/132656978-79ddd168-df03-421e-8256-1716dffa7a9c.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Virtual M

[2021-09-09 12:51] guangbochen opened #1193 "[BUG] UI websocket disconnect error"
**Describe the bug**

When visiting the Harvester UI via the VIP, at times the WebSocket will be disconnected.

**Expected behavior**
Websocket should not be disconnected regularly.

as a temporary workaround is to click re-enable the cert
![WechatIMG18](https://user-images.githubusercontent.com/4569037/132688488-f77457f2-8f93-4c6a-b6c6-4e48306234d1.png)

**Support bundle**

**Environment:**
 - Ha

[2021-09-09 13:54] voima-eetu opened #1194 "[BUG] " not a valid IP address" Baremetal with multiple NICs. VIP issue"
**Describe the bug**

iPXE Harvester install on baremetal node with multiple nics will fail without configuring VIP.

**To Reproduce**
Steps to reproduce the behavior:
1. iPXE install harvester on baremetal with multiple nics.
2. No VIP configuration on config-create.yaml
3. eth0 trunk with no dhcp or IP address and eth1 connected to management vlan with dhcp. <- I guess this doesn't matter
4. Lat

[2021-09-09 14:11] bk201 commented on #1194
The VIP was introduced in the master branch yesterday.
We didn't update the document yet, but the `vip` field will become mandatory in create mode.
Please check the example: https://github.com/harvester/ipxe-examples/blob/53d09a684762932b5f892b2919f69fd0cc5bddb1/general/config-create.yaml#L14-L16

[2021-09-09 14:14] bk201 commented on #1174
This issue should be fixed after https://github.com/harvester/harvester-installer/pull/107
The cloud controller is enabled again.

[2021-09-09 14:59] bk201 opened #1195 "[FEATURE] node-disk-manager: using a strong hash algorithm to generate disk name"
**Is your feature request related to a problem? Please describe.**
We can choose a better hash algorithm for disk names.
Currently, md5 is used.
https://github.com/harvester/node-disk-manager/blob/db32a015ba90635525262485ef8f320d32bb922d/pkg/block/block_device.go#L554-L558

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

It's not backward

[2021-09-09 15:19] bk201 opened #1196 "[BUG] node-disk-manager: pod crashes on duplicated disk names"
**Describe the bug**

If two nodes have disks that are hashed to the same ID, one of the node-disk-manager pod will exit with panic.

**To Reproduce**
The easiest way to reproduce is to attach the same CDROM to multiple machines.
Suppose we have node1 and node2 in Harvester cluster:
1. Attach Harvester ISO to node1 and node2.
2. If NDM pod on node1 starts earlier, NDM pod on node2 will be in `Cras

[2021-09-09 15:46] bk201 commented on #812
I didn't see this issue in the new OS.
The token is escaped well in RKE2 config.
[code]

[2021-09-09 23:44] weihanglo commented on #1195
Sounds reasonable. But what do yo mean by "strong & better hash"? There are plenty of properties in hash algorithms. IMO the most notable would be "cryptographic or not". A cryptographic hash algorithm can produce deterministic hash value and resist to collusion to some extent. MD5 was in that category but it has been proved as [cryptographically broken](https://en.wikipedia.org/wiki/MD5#Security)

[2021-09-10 00:02] weihanglo commented on #1196
How about prepending `nodeName` on the blockdevice name? It makes sense that blockdevice is a node-scoped resources.

But if `auto-gpt-generate` is enabled, a weird scenario may happens that two NDMs on different nodes are trying to make GPT partition against the same non-identifiable device at the same moment. Is that a concern from NDM's side?

[2021-09-10 00:51] bk201 opened #1197 "[BUG] The network interface name is unpredictable in the new OS"
**Describe the bug**
In a multiple-NICs environment, the order of interface name (`eth0`, `eth1`) is not guaranteed in each boot.
This can cause RKE2 to fail to run or some other problems.

We can use a predictable naming scheme.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the new OS on a system with multiple-nics.

**Expected behavior**

The interface scheme needs to be predicta

[2021-09-10 01:11] guangbochen commented on #1187
@yaocw2020 uppercase `DHCP` will be failed with https://github.com/harvester/ipxe-examples/pull/13/files#diff-314da8b4affed3b1dcec6680be5bdb6d8454107a6593d2c62fe94489b738e4c0R16

[2021-09-10 05:39] guangbochen commented on #1196
The `nodeName` looks good to me, in regards to the auto-gpt creation, I think we should handle the concurrency issue properly, probably mark a label or something similar to make sure it is locked by one of the node only.

[2021-09-10 06:07] guangyee opened #1198 "[BUG] Unable to migrate a VM from one node to another"
**Describe the bug**
On a three-node cluster, I am unable to migrate a VM from one node to another. The `Create` button is remained grayed out even after I select a qualified node to migrate to.

**To Reproduce**
Steps to reproduce the behavior:
1. On a three node cluster, create a small VM (1 CPU, 1 Gb RAM, and 10 Gb disk).
2. After the VM had successfully started and in `running` state, select `

[2021-09-10 08:54] jurrien-suse opened #1199 "[FEATURE] Consume external/third-party storage within Harvester"
**Is your feature request related to a problem? Please describe.**
I got this question from a customer: I have a solution which I ship to my customers which is a blade chassis with blades and a storage appliance in it. It provides iSCSI storage to the blades. I would like to consume that iSCSI storage in Harvester.

**Describe the solution you'd like**
I would like to have the possibility, next to

[2021-09-10 09:42] johnliu55tw commented on #1176
@guangbochen I cannot reproduce this issue on my setup (Harvester deployed as a KVM VM). Does the VM has guest agent installed?

Without the guest agent, the VMI has no `ipAddresses` info:
[code]

With the guest agent, both IPv4 and IPv6 are there:
[code]

[2021-09-10 17:42] bk201 opened #1200 "[FEATURE] Doc: Install OS from a USB disk"
**Is your feature request related to a problem? Please describe.**

Using a USB stick to install an OS is quite common. We can have a guide for that.

**Describe the solution you'd like**
- A tested guide that shows how to create an installable USB stick.

**Describe alternatives you've considered**

An image that can be directly dd to a USB stick.

**Additional context**

[2021-09-10 19:11] yasker opened #1201 "[BUG] Baremetal cluster VIP cannot be used to join the cluster for other nodes"
**Describe the bug**
Baremetal cluster VIP cannot be used to join the cluster for other nodes. The mgmt IP of the node has to be used instead.

**To Reproduce**
Try to use `mgmt address` shown on the first node to join the cluster from other nodes.

**Expected behavior**
The user should either be able to join the cluster using the VIP or be shown the IP that can be used for joining the cluster.

*

[2021-09-10 19:22] yasker opened #1202 "[BUG] Network configuration on the node doesn't show all the nics"
**Describe the bug**
I have a cluster of three nodes. Two of them have identical setup, another one has a different NIC name due to a different model. The host->network configuration doesn't allow me to choose the nic that's available. There is no nic in the list.

**To Reproduce**
Steps to reproduce the behavior:
1. Install a three-node cluster in the environment
2. Set default network interface

[2021-09-10 19:34] yasker commented on #1200
For preview1, if you're installing via USB instead of ISO, you need to edit the kernel parameter at boot time when booting up the USB installer to add `net.ifnames=1` parameter.

[2021-09-11 13:41] bgulla opened #1203 "[BUG] Editing `backup-target` results in `{"data":"Handler disconnected\n"}`"
**Describe the bug**

I put in a bad value for the backup target (prepended the endpoint with s3://, which we should check for and strip or yell at user before save). When I went back to the UI to modify it, it is unable to complete and errors out with `{"data":"Handler disconnected\n"}`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a backup target with a bad url scheme (include s3:

[2021-09-11 13:47] bgulla opened #1204 "[BUG] `backup-target` button `Use Default Value` is always disabled"
**Describe the bug**

I would like to revert to the default value as indicated by the `backup-target` button but it is disabled

**To Reproduce**
Steps to reproduce the behavior:
1. Add a backup target (mine was bad)
2. Try to click the `use default value` button to revert to a good configuration
3. it's disabled

**Environment:**
 - Harvester ISO version: 0.3-preview1

[2021-09-11 13:58] bgulla commented on #1203
Update: after trying to use the harvester UI after I made the 'bad' urlscheme edit in the `backup-target`, it would seem that my harvester UI is now displaying fail-whale on every page with `{"data":"Handler disconnected\n"}`

restarting the node/cluster results in only the fail-whale screen

edit: upon further investigation, it seems that the `harvester` deployment in `harvester-system`is CrashLo

[2021-09-12 15:08] axsms opened #1205 "[BUG] NICs not named correctly and status shows that they are down, though they are connected"
**Describe the bug**
In the GUI, at _Configure Network Connection_, the name and status of NICs is incorrect. There are two 10Gbps NICs that are connected and should be named ens3f0 and ens3f1. The remaining two NICs are 1Gbps and are not in use.

Currently, what is shown is eth0, eth1, eth2, and eth3. And all say...
NIC <name> is down
Network cable isn't plugged in

Due to the inability to move f

[2021-09-12 17:18] davidspek opened #1206 "[BUG] Network setup error in 0.3.0-preview1"
**Describe the bug**
The network interface chosen during the installer is not present when booting into the system after the installation.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to through the ISO installer
2. When asked to choose the management NIC (in a 4 NIC system), only 1 shows as active. In my case `eth2` on Del R620's, while the first SFP+ port is connected.
3. Choose the

[2021-09-12 17:23] davidspek commented on #1206
This might be related to https://github.com/harvester/harvester/issues/1200#issuecomment-917160616, although I tried installing both using the ISO written to a USB as well as the ISO directly.

[2021-09-12 18:19] davidspek commented on #1200
Just in case anybody else runs into this, when starting the installer ISO, press `Esc`, then `e` to edit the kernel parameters and add `net.ifnames=1` to the end of the line. Then press `enter` to continue the boot process. Given that `net.ifnames=1` is enabled after the installation, the installer should probably also have this kernel parameter set.

[2021-09-12 18:29] davidspek commented on #1206
Just in case anybody else runs into this, when starting the installer ISO, press `Esc`, then `e` to edit the kernel parameters and add `net.ifnames=1` to the end of the line. Then press `enter` to continue the boot process. Given that `net.ifnames=1` is enabled after the installation, the installer should probably also have this kernel parameter set.

[2021-09-12 18:42] davidspek commented on #1201
During the installation using the ISO from a USB I tested this and filled in the VIP from the first node, and the new node was able to join it successfully. After having joined the new node does show the Harvester management URL to be the management address and not the VIP though.

[2021-09-12 19:21] yasker commented on #1205
@axsgitty are you use USB to install? Might be #1200

[2021-09-12 21:58] davidspek commented on #1165
I believe the kube-vip implementation should be able to take care of that already.

[2021-09-12 22:40] davidspek commented on #888
Ceph would enable native object storage support, something which Longhorn can’t provide.

[2021-09-13 02:23] guangbochen opened #1207 "[BUG] Add bond NIC configuration support"
**Describe the bug**
When the user selects to join the Harvester cluster during the installation, they are permitted to select the management NIC of the current node, however, the NIC name is fixed and has to be consistent across all nodes once that was set by the first management node.

RKE2 canal config:
[code]

![image](https://user-images.githubusercontent.com/4569037/133014343-3bb9531d-e382-4

[2021-09-13 02:31] yaocw2020 commented on #1201
It should be VIP.
![image](https://user-images.githubusercontent.com/7421463/133015217-82eadf4c-48e1-4a90-877e-e8382e554e43.png)

[2021-09-13 02:41] yaocw2020 commented on #1207
Error logs are following.
[code]

[2021-09-13 02:47] weihanglo opened #1208 "[BUG] No disk shows up when plugging a new disk to add to host"
**Describe the bug**

After plugging a new disk to a host machine, the "Add Disk" action in `"Host" page > "Disks" panel` always shows "Sorry, no matching options.", but actually there are valid blockdevice CRs.

**To Reproduce**
Steps to reproduce the behavior:
1. Install v0.3.0-preview1 harvester
2. Plug a disk onto the host device
3. Head to the dashboard "Hosts" > "Disks". Then press "Add Disk

[2021-09-13 02:48] weihanglo commented on #1208
I've found the auto-created blockedevices for the plugged-in disk seems correct on my testing cluster.

I guess it may result from [filtering in only provisioned disks](https://github.com/harvester/dashboard/blob/master/edit/host/index.vue#L63-L69),  but I am not familiar with Vue. It should display non-provisioned disks as well.

<details>
<summary>valid extra blockdevice yaml</summary>

[code]

[2021-09-13 03:15] yasker commented on #1207
This might be a major issue since we will require the mgmt NICs to be identical across the node. We at least need to document this behavior.

[2021-09-13 04:17] yaocw2020 opened #1209 "[BUG] Failed to request VIP after installation."
**Describe the bug**

Kube-vip will request the same IP as configured for VIP when installing through DHCP. We meet an error that kube-vip failed to request this IP.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'

**Expected behavior**

Request the VIP through DHCP successfully.

**Support bundle**

**Environment:**
 - Harvester ISO version:  ISO
 - Underlying Infrastruc

[2021-09-13 04:24] yaocw2020 opened #1210 "[BUG] Wrong management URL for the agent node."
**Describe the bug**

For the agent node, the management URL is the IP of the master node plus port 30443, which should be the VIP.

![image](https://user-images.githubusercontent.com/7421463/133023476-bb879b4a-fbc8-4640-8e64-c7555775878e.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Join a node into Harvester.
2. The dashboard panel will display the wrong management URL after install

[2021-09-13 05:34] guangbochen opened #1211 "[FEATURE] Harvester ISO name and checksum enhancement"
**Is your feature request related to a problem? Please describe.**
We are currently pulling the release artifacts in Jenkins using the following URLs, prefer to make the ISO release name more consistent across master-head and tagged versions, so we don't have to special-case the code.
e.g the master-head image will be called `harvester-master-amd64.sio` with `harvester-$tag-$arch.iso` parttern.

[

[2021-09-13 07:15] bk201 opened #1212 "[FEATURE] Installer: enhance UX in network configuration panel"
**Is your feature request related to a problem? Please describe.**
It takes time to configure an interface (especially in DHCP mode), the text-UI freezes after selecting an interface mode.
![Screen Shot 2021-09-13 at 3 12 15 PM](https://user-images.githubusercontent.com/1691518/133039812-27d59563-1801-428b-b3e6-1035c73a952d.png)

**Describe the solution you'd like**
We can:
- Add a spinner to let

[2021-09-13 07:39] yaocw2020 commented on #1209
The reason is that there is another DHCP server in the subnetwork.

[2021-09-13 08:40] guangbochen commented on #1207
The Harvester is defaulting to use `canal` and it is configurable via `--iface="": `
- interface to use (IP or name) for inter-host communication. Defaults to the interface for the default route on the machine. This can be specified multiple times to check each option in order. Returns the first match found.

[2021-09-13 08:59] bk201 commented on #1200
The `net.ifnames=1` parameter is mandatory in the new OS (a Leap 15.3 derivative).
it's disabled by default in the [udev](https://github.com/openSUSE/systemd/commit/74b2d3b88ab2dc2c710840c2564d00a51da40add).

[2021-09-13 09:47] yaocw2020 commented on #1207
Additionally, the VIP should be modified to support the default route if we want to support it. Currently, the VIP NIC is set to use the first default management NIC name.
I created the feature issue in the kube-vip repo to support the default VIP interface.

https://github.com/kube-vip/kube-vip/issues/273

[2021-09-13 10:33] lanfon72 commented on #1148
With https://github.com/harvester/ipxe-examples/pull/16 and [v0.3.0-preview1](https://github.com/harvester/harvester/releases/tag/v0.3.0-preview1), I can't reproduce this issue on my laptop environment.
(I think the issue is not strongly required to be reproduced on bare metals as it was using vagrant for the cluster.)

As @bk201 mentioned, I also tried installing nodes without external networking

[2021-09-13 11:00] weihanglo opened #1213 "[BUG] race condition for auto GPT generating on one non-identifiable disk on two different nodes"
**Describe the bug**
When flag `--auto-gpt-generate` is enabled on Harvester node-disk-manager (NDM), if we provide a single non-identifiable disk to two node simultaneously, two NDMs on different nodes would try to make GPT partition on the same device at the same moment. **This causes race condition**.

**To Reproduce**
Steps to reproduce the behavior:
1. Run a two-node Harvester cluster
2. Add

[2021-09-13 11:07] weihanglo commented on #1196
I create a new issue https://github.com/harvester/harvester/issues/1213 for race condition of auto GPT generating. Supposed it is not urgent since the scenario is a niche, but still valuable to record it.

[2021-09-13 13:44] axsms commented on #1205
Yes. I'll follow the guidance there and let you know.

[2021-09-13 14:03] axsms commented on #1205
This was not resolved by implementing net.ifnames=1 as described in #1200

[2021-09-13 15:22] guangbochen commented on #1148
@guangyee @chajain can u please help to verify if this is fine to be closed, thanks

[2021-09-13 15:32] guangbochen commented on #1174
the rke2 `cloud-controller-manager` should not be required, will need to take some further investigation of the root cause.

[2021-09-13 15:42] guangbochen commented on #634
close as this has already been verified as described above by @juadk

[2021-09-13 15:42] #634 closed, assigned to juadk, futuretea

[2021-09-13 15:45] guangbochen commented on #1140
this is not required for now but can we allow users to add additional node labels on the host page.

[2021-09-13 15:46] bk201 opened #1214 "[BUG] DNS servers offered by DHCP server are not set in PXE boot installation"
**Describe the bug**
The DNS servers offered by the DHCP server are not configured in the PXE boot installation time.
If the Harvester configuration file is served from a server that needs name resolution, the installation will fail.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a DHCP server to offer IPs and DNS servers for PXE boot installation.
2. Perform PXE boot installation. T

[2021-09-13 15:53] guangbochen commented on #1186
nodePort is not required for the VIP, but it will support both 443 and 30443, the console should default to show VIP without port if the VIP is configured.

[2021-09-13 15:54] guangbochen commented on #1182
didn't encounter this issue anymore, please feel free to reopen it if u can reproduce it, thanks

[2021-09-13 15:54] #1182 closed, assigned to WuJun2016

[2021-09-13 16:52] yasker commented on #1200
@bk201 is it something we can improve at the OS level? It's probably unreasonable to ask many users to modify their boot cmdline.

[2021-09-13 17:04] bk201 commented on #1200
Looks like the only way is to build and ship our own systemd, it's the default value in the code:
https://github.com/openSUSE/systemd/blob/611376f8306c8c73789d3dc743c4c8ff1a930f7a/src/udev/net/link-config.c#L206-L210

It's weird the image writer doesn't include this parameter but includes others (like `root=live:CDLABEL=COS_LIVE rd.live.dir=/`). I'll check the image writer.

[2021-09-13 22:41] yarunachalam opened #1215 "terraform provider - harvester_clusternetwork resource test fails as already exists"
**Describe the bug**
Test the harvester_clusternetwork resource - failed
`clusternetworks.network.harvesterhci.io "vlan" already exists
│
│   with harvester_clusternetwork.vlan,
│   on resource.tf line 1, in resource "harvester_clusternetwork" "vlan":
│    1: resource "harvester_clusternetwork" "vlan" {
`
Is the terraform supposed to be idempotent.

**To Reproduce**
Steps to reproduce the behavior

[2021-09-13 23:20] yasker commented on #1205
If you add `net.ifnames=1` and it took effect correctly, you shouldn't see `ethx` at all during the installation process.

[2021-09-13 23:21] yasker commented on #1200
@bk201 Thanks for the update. Weird, since it's `default` instead of `hardcoded` value, that means there must be a way to change it?

[2021-09-14 00:30] yaocw2020 commented on #1207
It is reasonable to set the management NIC as the interface for the default route to make the network connectivity stable between nodes and pods. That is very basic for the Kubernetes.  Under this premise，it can be well to default the interface for the canal according to the default route on the machine.

[2021-09-14 02:17] futuretea commented on #1215
duplicate of #1042

[2021-09-14 02:36] lanfon72 commented on #1187
Tested uppercase `DHCP` works with https://github.com/harvester/ipxe-examples/commit/7b9cebdcaa7231a3d16120b5ba12a1305e191eda and [v0.3.0-preview1](https://github.com/harvester/harvester/releases/tag/v0.3.0-preview1) combination on my laptop.

I will test other cases like `dHcP`, `StaTIC`..etc.

[2021-09-14 02:50] #1215 closed, assigned to nobody

[2021-09-14 07:44] guangbochen opened #1216 "[FEATURE] Add debugging package container of the harvester-installer"
**Is your feature request related to a problem? Please describe.**
Since the harvester empowered OS is an immutable OS, so users can't install packages via the package managers like npm. We will need to add a debugging package container that allows users to mount the package to the OS path and execute those tools correctly.

**Describe the solution you'd like**
Running a package container and map

[2021-09-14 11:53] axsms commented on #1205
Unfortunately, I am either doing something wrong or it's not sticking. I attempted to add `net.ifnames=1` to the end of the `e` list as noted in #1200, which I just attempted again. I also tried it from cmd line using `GRUB_CMDLINE_LINUX_DEFAULT="net.ifnames=1"`, which also failed...that was a shot in the dark.

[2021-09-14 12:09] lanfon72 commented on #1187
Close this issue as I verified those cases work normally:

[code]

Test Information
----
* Environment: Laptop, Vagrant, iPXE install
* Harvester Version: [v0.3.0-preview1](https://github.com/harvester/harvester/releases/tag/v0.3.0-preview1)
Verify Steps:
  - Clone https://github.com/harvester/ipxe-examples/commit/5e99d35b399e148caadef63c2ee93a49c01dda1f and modify settings.yml for 2 nodes
    (We

[2021-09-14 12:09] #1187 closed, assigned to lanfon72, yaocw2020

[2021-09-14 13:32] guangbochen commented on #1205
this is only supported with either the [`master-head`](https://releases.rancher.com/harvester/master/harvester-amd64.iso) image or v0.3.0-preview image only, it is not supported with v0.2 version which I I think u are currently using?

[2021-09-14 13:57] axsms commented on #1205
That's correct. I'll have my remote folks try the [`master-head`](https://releases.rancher.com/harvester/master/harvester-amd64.iso) image.

[2021-09-14 14:53] bashofmann opened #1218 "[BUG] Missing http proxy settings on rke2 and rancher pod"
**Describe the bug**
When you run Harvester in an airgapped environment, where you only have internet connectivity through an http proxy, the proxy settings that are set during the installation process are not applied to RKE2 or the Rancher deployment.

**To Reproduce**
Steps to reproduce the behaviour:
* Install Harvester in an airgapped environment
* Provide the necessary http_proxy, https_proxy

[2021-09-14 16:05] noahgildersleeve opened #1219 "[BUG] Air-gapped environment won't load the dashboard"
**Describe the bug**

When you install Harvester to an air-gapped environment it finishes the install but won't load the dashboard or the auth/setup pages
**To Reproduce**
Steps to reproduce the behavior:
1. Install to an air-gapped environmnet
2. Finish Install
3. Reboot
4. Wait for harvester to show as ready
5. Navigate to URL
**Expected behavior**

Dashboard should load
**Support bundle**

**En

[2021-09-14 16:19] guangbochen commented on #1219
Will need to add support to serve UI from embedded cluster instead of remote server URL.

[2021-09-14 16:25] noahgildersleeve commented on #1219
I thought that was a supported option, it just defaulted to the remote server URL.

[2021-09-14 16:27] noahgildersleeve commented on #1219
![image](https://user-images.githubusercontent.com/83787952/133296699-0167e9ef-3b44-42a9-8a60-9d7c1bbd16a2.png)

[2021-09-14 17:45] axsms commented on #1205
Due to the remote hands situation, this is exponentially more difficult than doing this locally. With the [`master-head`](https://releases.rancher.com/harvester/master/harvester-amd64.iso) image, I do not see/get the option to edit parameters. Is this removed or happening too fast in that image? There is a very quick flash of less than a second from initial scroll of activity before the GUI is sho

[2021-09-14 18:14] guangyee opened #1220 "[BUG] Failed to PXE boot the latest master ISO in vagrant environment"
**Describe the bug**
Latest master ISO failed to install in Vagrant PXE environment (https://github.com/harvester/ipxe-examples/tree/main/vagrant-pxe-harvester)

https://releases.rancher.com/harvester/master/harvester-amd64.iso
https://releases.rancher.com/harvester/master/harvester-vmlinuz-amd64
https://releases.rancher.com/harvester/master/harvester-initrd-amd64

RKE2 server failed to properly i

[2021-09-14 20:12] Mwogi opened #1221 "[Question]"
1. How do you SSH into a Harvester node?
2. How do you restart a node? We have had to restart nodes manually after the kubernetes cluster on the Ranger (Baremetal) becomes unresponsive.

[2021-09-14 20:17] noahgildersleeve opened #1222 "[BUG] If you enable a VLAN NIC after install dashboard stops loading"
**Describe the bug**

If you specify a NIC for the VLAN after install the dashboard stops loading
**To Reproduce**
Steps to reproduce the behavior:
1. Install harvester
2. Go to advanced settings
3. Edit config for VLAN
4. Enable then specify second NIC name in interface
5. Save
6. Refresh page

**Expected behavior**

The NIC should save and the dashboard should load
**Support bundle**

**Environm

[2021-09-14 20:21] Mwogi commented on #1199
We have an exact use case in our organization as well. We have iSCSI storage and we would like to easily add it to Harvester. Learning here that you can add it through Ranger? Any links to this?

[2021-09-14 22:48] guangyee commented on #1220
This problem doesn't seem consistently reproducible. So far, the installation went through successfully on the second and third try.

[2021-09-15 00:22] yasker commented on #1207
The problem pointed out by @bk201 is the default route is probably not set by Harvester. It can be set by the DHCP server.

[2021-09-15 08:29] WuJun2016 commented on #1222
@noahgildersleeve
Didn't understand what problem was encountered. Does it mean that you cannot access the UI after configuring the NIC?
You can add a screenshot to tell me what problem you encountered。

[2021-09-15 08:38] andrehofman commented on #1222
I have the same problem. it got back online after a manual restart of all network-related pods.

[2021-09-15 09:15] yaocw2020 commented on #1207
The solution is to create a bond device with a fixed name for the management network. And configure this bond device as the canal interface.

[2021-09-15 09:19] yaocw2020 commented on #1207
We confirm that wicked can decide which interface is the default route device in the DHCP mode by adding `Set DHCLIENT_SET_DEFAULT_ROUTE='yes'` to the network configuration file.

[2021-09-15 09:31] jesseagonzalez opened #1225 "[BUG] USB Boot hangs indefinitely at `fb0: switching to amdgpudrmfb from EFI VGA`"
**Describe the bug**

Tried to boot Harvester v0.3.0 preview image via USB and screen hangs at `fb0: switching to amdgpudrmfb from EFI VGA`. Screenshot below.

As interim solution, I supplied the `nomodeset` option after kernel parameter by hitting `e` on bootup during the initial install of harvester, and subsequently after the initial startup.

It's worth noting that I have 3 nodes with identica

[2021-09-15 09:32] bk201 commented on #1207
`DHCLIENT_SET_DEFAULT_ROUTE='yes'` is the default setting for all interfaces (in `/etc/sysconfig/network/dhcp`).
So the OS will apply the default gateway offered by DHCP server. The problem is when there are multiple DHCP servers and more than one of the servers offers a default gateway, we are not sure which one will be used. (`DHCLIENT_ROUTE_PRIORITY` can be set on per-interface config).

Moving

[2021-09-15 09:48] lanfon72 commented on #1147
Close this as I verified it shows `Used` instead of `Reserved` now.
![image](https://user-images.githubusercontent.com/5169694/133406130-45baea62-d3cb-4c56-9821-22542d19f0f8.png)

Test Information
----
* Environment: Laptop, Vagrant, iPXE install
* Harvester Version: [v0.3.0-preview1](https://github.com/harvester/harvester/releases/tag/v0.3.0-preview1)
Verify Steps:
  - Clone https://github.com/ha

[2021-09-15 09:48] #1147 closed, assigned to lanfon72, n313893254

[2021-09-15 10:01] weihanglo commented on #1147
Sorry for leading you astray. For disk size there is a [`DiskStatus`] recording the info in longhorn Node CRD. Anyway, it's fixed now 🎉

[`DiskStatus`]: https://github.com/longhorn/longhorn-manager/blob/393784c85b55a5498fe2cff80a0a3574ed543947/types/resource.go#L420-L427

[2021-09-15 10:03] yaocw2020 commented on #1207
No matter which gateway is configured if there are multiple DHCP servers, the network connectivity around different nodes and pods will be fine. The key task is to keep the default route device fixed. Assume that there are multiple NICs in different VLAN networks, the pods that depend on the default routes to communicate with the apiserver will not work if the device of the default route changes.

[2021-09-15 14:39] jenting commented on #1036
PR merged, close it.

[2021-09-15 14:39] #1036 closed, assigned to nobody

[2021-09-15 16:52] noahgildersleeve commented on #1222
Here's the support bundle
[bundle.zip](https://github.com/harvester/harvester/files/7171927/bundle.zip)

[2021-09-15 19:10] alexdepalex commented on #1198
Same here. And create sounds a bit odd for initiating the migration.

[2021-09-15 19:47] guangyee commented on #1222
I can also reproduce this issue on my 3-node vagrant environment.

[2021-09-15 21:01] guangyee commented on #1222
Right now it appears enabling network on management NIC renders the entire cluster non-functional.

[2021-09-15 21:42] yasker commented on #1201
Able to join using VIP with the latest image. Close the issue.

[2021-09-15 21:42] #1201 closed, assigned to nobody

[2021-09-15 22:13] yasker commented on #1222
Same here as Guang mentioned with the latest master image.

[2021-09-15 23:54] chajain opened #1227 "[BUG]Timing Issues while destroying the resources created by Terraform"
**Describe the bug**
I am creating a VM using the terraform (https://github.com/harvester/terraform-provider-harvester/blob/master/examples/resources/harvester_virtualmachine/resource.tf). All the resources are created successfully and VM is is running state. During the terraform destroy, the first time the VM is deleted but not the attached volumes as it attempts to delete Volume before the VM is

[2021-09-16 01:20] guangbochen commented on #1221
1. ssh rancher@node-ip
2. currently u have to ssh login the node and reboot the node, can make an enhancement of it.

[2021-09-16 01:35] DaiYuzeng commented on #1198
@alexdepalex Thanks for your advice! `Create` would be renamed to `Apply`.

[2021-09-16 01:38] wonleing opened #1228 "[BUG]harvester cluster cannot start up after I change server's IP"
**Describe the bug**
harvester cluster cannot start up after I change server's IP

**To Reproduce**
Steps to reproduce the behavior:
1. Setup harvester and make it up
2. change harvester server IP section (say from 192.168.0.x to 192.168.1.x)

**Expected behavior**
harvester can start up, and a service restart or reboot

**Environment:**
 - Harvester ISO version: v0.2.0
 - Underlying Infrastructur

[2021-09-16 01:58] futuretea commented on #1227
@chajain can u provide your tf files and terraform-provider-harvester version?

[2021-09-16 03:03] guangbochen commented on #1222
The root cause is because the first management NIC name is set as the default canal iface, it will make the cluster network dysfunctional if the other node has a different management NIC name, a temporary solution is to set the `flannel.iface` config to empty and use the default route config.
[code]

A proper fix will be addressed via https://github.com/harvester/harvester/issues/1207 with using t

[2021-09-16 04:14] chajain commented on #1227
@futuretea Following are the tf files I used

provider.tf
terraform {
  required_version = ">= 0.13"
  required_providers {
    harvester = {
      source  = "registry.terraform.io/harvester/harvester"
      version = "~> 0.2.2"
    }
  }
}

provider "harvester" {
  kubeconfig = "/root/harv-ter/tests/terraform_test_artifacts/.kube/config"
}

resource_image.tf
resource "harvester_image" "t-6b3c4b2c

[2021-09-16 06:56] yaocw2020 opened #1229 "[FEATURE] Panic if configuration for the harvester cloud provider is invalid."
**Is your feature request related to a problem? Please describe.**

Once the ccm runs with failure, the taint `node.cloudprovider.kubernetes.io/uninitialized: true` will be added. The scheduler will not schedule the pods without the tolerance to the nodes and most of the pods will be pending. It's better to go to panic rather than just printing error logs once the configuration for the harvester c

[2021-09-16 08:13] gitlawr opened #1231 "[BUG] tty console shows dev version"
**To Reproduce**
Steps to reproduce the behavior:
1. Install v0.3.0-preview1
2. Check the console
![image](https://user-images.githubusercontent.com/5697937/133575866-22382742-09d2-4e99-af2a-5b36c5f30612.png)

**Environment:**
 - Harvester ISO version: v0.3.0-preview1

[2021-09-16 08:31] guangbochen commented on #1228
Harvester is built on k8s so the management IP can't be changed after the installation as it is saved to the ETCD to form a distributed cluster, and the IP is one of the most important identities. What I would suggest is either delete and rejoin the node or add an additional IP to a preferred NIC if needed.

[2021-09-16 09:01] gitlawr commented on #1203
From my testing editing the setting does not break the setup. Probably related to known networking issues https://github.com/harvester/harvester/issues/1207#issuecomment-917790342

Can you check logs of CNI pods in the kube-system namespace?

[2021-09-16 09:23] WuJun2016 opened #1232 "[BUG] The VM details page displays an incorrect image name"
**Describe the bug**

![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/8905ed51-f65e-4619-b135-3a817a6ff2ee)

**Expected behavior**

The displayName of the image should be displayed

**Support bundle**

**Environment:**
 - Harvester ISO version:
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630):

**Additional context**
Add any other context about the

[2021-09-16 09:36] wonleing opened #1233 "[Question]how to ssh to guest OS?"
Here's current situation:
hostos:  10.10.54.x
harvester pod: 10.52.0.x
guestos: 10.0.2.x

I want to ssh from network of hostos to guestos.
On original kubevirt, pod IP equeals to guestos IP, so I can make it by exposing pod port 22  to hostos port 3xxxx. But how can I expose guestos port 22 to hostos port on harvester?

[2021-09-16 09:38] wonleing commented on #1228
Could you explain how to "delete and rejoin the node"? I have only 1 harvester, running stand alone.
I don't want to re-install the whole harvester server :(

[2021-09-16 10:35] janeczku commented on #760
Reproduced on 0.3-preview with a cloud-config that does not exceed 2048 bytes.

The suspicion is that the calculated size is actually the **sum** of the user provided cloud-config size **and** the size of the SSH key. But that's not obvious at all to the user of course.

@yasker @wjimenez5271

[2021-09-16 10:42] guangbochen commented on #1214
@guangyee can u guys please help to verify if this is fixed in the master-head.iso, thanks

[2021-09-16 10:59] janeczku commented on #760
The upstream recommendation is to store the cloud-config in a secret instead of inline:

Harvester should probably follow this recommendation for the UI integration.

[2021-09-16 11:00] alexdepalex commented on #760
I'd say, always store it in a secret. Create it, if the end user specify a custom cloud-init config. The current implementation is just confusing.

[2021-09-16 14:20] yasker commented on #760
I agree. Always store it in a secret makes it much easier. cc @guangbochen

[2021-09-16 14:49] janeczku commented on #761
Ability to configure a trusted certificate for the Harvester API is a must for production deployments.

[2021-09-16 14:49] guangbochen commented on #760
That's what we have discussed per off-line with the UI team, @WuJun2016 can u help to prioritize this one after the dashboard merge PR, thanks.

[2021-09-16 14:57] janeczku opened #1234 "[BUG] VMs are crashing when writing bulk data to additional volumes"
**Describe the bug**

Running `dd` to write data to an additional volume causes the VM to crash.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a VM with an additional volume attached. Configure VM Memory limit to 10GB.
2. Run`dd if=/dev/zero of=/dev/sda bs=1M conv=sync` on the volume and wait for 10-20 seconds
3. The VM crashes and is automatically restarted

**Expected behavior**

[2021-09-16 15:01] janeczku commented on #1234
https://github.com/kubevirt/kubevirt/issues/4560

[2021-09-16 15:10] janeczku opened #1235 "[ENHANCEMENT] QEMU agent is not installed by default when creating VMs"
**Is your feature request related to a problem? Please describe.**

It seems that having the QEMU agent installed in the VM is critical for full functionality. For example, without it, the IP address of the VM is missing from the UI. However when provisioning VMs via the Harvester UI, QEMU agent install flag default to `disabled`.

This also constitutes an inconsistency with regards to provisionin

[2021-09-16 15:12] yasker commented on #1235
@guangbochen We can toggle the default value of the checkbox of the guest agent.

[2021-09-16 15:17] guangbochen commented on #419
duplicate of https://github.com/harvester/harvester/issues/576

[2021-09-16 15:17] #419 closed, assigned to nobody

[2021-09-16 17:07] janeczku opened #1236 "[BUG] Opening VNC console fails with error"
**Describe the bug**

Opening a VNC console for a VM that has already an active VNC console connection results in an error page with the following message:

**Environment:**
 - Harvester ISO version: 0.3-preview

[2021-09-16 17:14] janeczku commented on #1048
Interface bond configuration is typically something that needs to be done during initial setup as it depends on specific configuration of physical server (cabling) and switch ports.

The primary requirement therefore is to:
- allow users to create a bonded network during the ISO/PXE installation

The ability to manage bonds post-install in the UI would be a secondary requirement.

[2021-09-16 17:22] janeczku opened #1237 "[BUG] Additional disk does not become schedulable"
**Describe the bug**
When adding an additional physical disk to one of the Harvester servers that disk never becomes schedulable in Longhorn.

**Environment:**
 - Harvester ISO version:  0.3-preview

[2021-09-16 17:22] guangyee commented on #1235
Package name and server name for QEMU guest agent maybe different from OS to OS. In openSUSE, for example, the package name is `qemu-guest-agent` and the service name is `qemu-ga.service`. We may need to maintain a config map for all the supported OS images.

[2021-09-16 17:25] noahgildersleeve opened #1238 "[BUG] Clone VM doesn't input any data in the form"
**Describe the bug**

When you clone a VM that was created from a template it doesn't include any data from the form
**To Reproduce**
Steps to reproduce the behavior:
1. Create a new VM from template with image
2. Start VM
3. Click three dots next to VM in VM list
4. Click clone
**Expected behavior**

1. Form data should be pre-populated
**Support bundle**

[supportbundle_d3bbb44a-07f9-44ce-9d87-d

[2021-09-16 17:25] janeczku opened #1239 "[BUG] Harvester API VIP address is configured on the harvester0 bridge"
**Describe the bug**
When configuring separate physical interfaces for the management network and the VLAN network respectively, then the VIP IP address for Harvester API/UI is still configured on the harvester-0 bridge interface.

**Expected behavior**

The Harvester management VIP should only be configured on the physical interface configured as management NIC.

**Environment:**
 - Harvester ISO

[2021-09-16 17:27] yasker commented on #1239
@janeczku I am not sure it's a bug since once the bridge was created, the original nic won't have an IP anyway IIUC.

The VIP will be on the same NIC or bridge as the mgmt network.

[2021-09-16 17:28] janeczku opened #1240 "[BUG] Additional disk is not visible unless manually formatted"
**Describe the bug**

When trying to add additional physical disks to Harvester the disk does not appear in the UI unless it has been manually formatted by the user.

Expectation:
Harvester should allow the user to add raw disk devices that have not previously been partitioned/formatted.

Harvester 0.3-preview

[2021-09-16 17:32] janeczku opened #1241 "[FEATURE] Disk devices used for VM storage should be globally configurable"
The user should be able to specify, during the installation, (e.g. as part of the create-config or join-config) the list of disk devices (e.g. by device path) that should be used for VM storage capacity across all nodes (given they share a consistent hardware configuration of course).
This should also cover the ability to exclude the root disk from the VM storage. Use case for excluding the root d

[2021-09-16 17:33] yasker commented on #1240
Also, it seems the user needs to manually specify the mounting location on the node. That shouldn't be necessary.

[2021-09-16 17:38] noahgildersleeve commented on #905
Tested in master-8afedf0a-head. Verified as fixed.

[2021-09-16 17:38] #905 closed, assigned to DaiYuzeng, noahgildersleeve

[2021-09-16 17:41] noahgildersleeve commented on #1020
Tested in master-8afedf0a-head. It is now showing this in the dropdown. This appears to meet with the desired outcome.
![Screenshot from 2021-09-16 10-39-42](https://user-images.githubusercontent.com/83787952/133659468-fe008680-d4c1-477c-ba54-794ea927cacd.png)

[2021-09-16 17:41] #1020 closed, assigned to WuJun2016, noahgildersleeve

[2021-09-16 17:43] noahgildersleeve commented on #1193
Tested in master-8afedf0a-head. During testing I haven't seen any websocket disconnected errors. I will keep an eye out as testing proceeds and will re-open issue if it comes up. Closing as fixed.

[2021-09-16 17:43] #1193 closed, assigned to gitlawr

[2021-09-16 18:22] noahgildersleeve commented on #1131
Tested in master-8afedf0a-head. fixed.

[2021-09-16 18:22] #1131 closed, assigned to gitlawr, noahgildersleeve

[2021-09-16 18:22] noahgildersleeve commented on #1072
Tested in master-8afedf0a-head. Fixed.

[2021-09-16 18:28] noahgildersleeve commented on #1186
Tested in master-8afedf0a-head. Fixed.

[2021-09-16 18:28] #1186 closed, assigned to noahgildersleeve

[2021-09-16 19:27] noahgildersleeve commented on #1072
Re-opening. Misunderstood implementation.

[2021-09-16 19:38] noahgildersleeve opened #1242 "[BUG] Creating unschedulable VM doesn't give error"
**Describe the bug**

When you create a VM with resources that aren't schedulable
**To Reproduce**
Steps to reproduce the behavior:
1. Create a VM with unschedulable resources like 10 cores on a Harvester cluster with 4
2. Create the VM and start on create
3. Check status of VM on VM page
4. Check events
**Expected behavior**

You should get an error on the VM list, and also in the events.
**Suppo

[2021-09-16 19:39] noahgildersleeve commented on #1106
Tested in master-8afedf0a-head. Fixed.

[2021-09-16 19:39] #1106 closed, assigned to gitlawr, noahgildersleeve

[2021-09-16 19:45] noahgildersleeve commented on #813
Tested in master-8afedf0a-head. Fixed.

[2021-09-16 19:45] #813 closed, assigned to WuJun2016, noahgildersleeve

[2021-09-16 19:45] noahgildersleeve commented on #814
Tested in master-8afedf0a-head. Fixed.

[2021-09-16 19:45] #814 closed, assigned to WuJun2016, noahgildersleeve

[2021-09-16 19:46] noahgildersleeve commented on #734
Tested in master-8afedf0a-head. Fixed.

[2021-09-16 19:46] #734 closed, assigned to WuJun2016

[2021-09-16 19:48] noahgildersleeve commented on #909
Tested in master-8afedf0a-head. Port input was removed when adding networks. Closing as fixed.

[2021-09-16 19:48] #909 closed, assigned to n313893254, noahgildersleeve

[2021-09-16 23:51] noahgildersleeve commented on #1125
tested in master-8afedf0a-head. Fixed.

[2021-09-16 23:51] #1125 closed, assigned to bk201, noahgildersleeve

[2021-09-17 02:18] weihanglo commented on #1237
Hi @janeczku . Could you provide information about the disk you want to provision? Such as filesystem and blockdevice info from  `lsblk`/`blkid` command, asnd Blockdevice custom resources in K8s via `kubectl -n longhorn-system get bd -oyaml`

[2021-09-17 02:24] weihanglo commented on #1240
I guess this part can be addressed from UI part, right? We just need to decide a conventional mount point for additional disks in Harvester, e.g. `/var/lib/harvester/extra-disks/<some-id>`.

@janeczku, could you provide blockdevice CR yaml as well as the disk info. It would be very helpful for us. Thanks!

[2021-09-17 02:33] guangbochen commented on #1195
close in favor of https://github.com/harvester/node-disk-manager/pull/10, and not required for QA validation as this is just a backend enhancement.

[2021-09-17 02:33] #1195 closed, assigned to weihanglo

[2021-09-17 02:50] guangbochen commented on #1236
@janeczku can u provide the guest OS image info and the VM YAML config for a proper debugging, thanks

[2021-09-17 02:57] mddeff commented on #1199
Jumping on this bandwagon. I support multiple environments each with multiple 60-100T SANs, all serving up NFS for either VMWare or KVM. Would love for Harvester to support NFS/iSCSI for VM Storage.

Could it be as simple as supporting the [nfs-subdir-external-provisioner](https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner)? At least, for NFS...

[2021-09-17 03:38] bk201 opened #1243 "[BUG] Agent nodes can't join a cluster"
**Describe the bug**
A new agent node can't join an existing Harvester cluster. Rancherd keeps pulling connection info.

Rancherd logs:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install one node as a server role.
2. Install another one to join the previous server node.
3. The second node never appears in the cluster.

**Expected behavior**

The second node should appear in the c

[2021-09-17 05:24] brandond commented on #1243
This appears to be the same webhook error logged here: https://github.com/rancher/rancher/issues/34691#issuecomment-919646498

[2021-09-17 05:37] guangbochen commented on #1243
thank you @brandond, let's patch the embedded `rancher-webhook` image from `docker.io/rancher/rancher-webhook:v0.2.0` to `v0.2.1-rc2` to verify if it will works, thanks.

[2021-09-17 05:45] guangbochen commented on #1072
![image](https://user-images.githubusercontent.com/4569037/133730725-1508301e-1989-40b0-95f0-8f6d77c26d76.png)
u should be able to download it from the top navbar and use kubectl to access this cluster e.g `KUBECONFIG=./cluster.yaml kubectl get node`

[2021-09-17 06:02] guangbochen commented on #1233
- for the pod IP u can only access it on the Harvester nodes(or u can export the kubeconfig file(/etc/rancher/k3s or rke2(`if using v0.3.x or the master-head version`)) and expose it using https://kubevirt.io/user-guide/virtual_machines/service_objects/#expose-virtualmachineinstance-as-a-nodeport-service or https://kubevirt.io/user-guide/virtual_machines/accessing_virtual_machines/) (Note: the pod

[2021-09-17 06:22] guangbochen commented on #1228
the easiest solution for now is probably adding the original IP back to the management NIC that u have selected during the ISO installation. And also remember to add the route accordingly.

[2021-09-17 06:42] yaocw2020 commented on #1210
For the agent node, we use the kubeconfig of kubelet to access the apiserver. However, the kubeconfig of kubelet has no right to get configmaps, thus we fail to get the VIP from configmap vip.

[2021-09-17 06:47] guangbochen commented on #1220
@guangyee  could this be related to the https://github.com/harvester/harvester/issues/1243, or can u verify with the `master-head` image to check whether this issue has been addressed or not, thanks.

[2021-09-17 07:08] guangbochen commented on #1197
Should be addressed via https://github.com/harvester/harvester-installer/pull/118

**To Test:**
- make sure the NIC name is persisted after reboot (better to validate using multiple NICs)
- will need to set `net.ifnames=1` using USB installation https://github.com/harvester/harvester/issues/1200

[2021-09-17 07:33] juadk commented on #1214
I was impacted by this issue and now it's ok with the last master-head.iso.
`/etc/resolt.conf `is filled with the good DNS information and I'm able to download the harvester ISO and the config file using the DNS name of my webserver.

[2021-09-17 07:33] #1214 closed, assigned to bk201, guangyee

[2021-09-17 08:59] alexdepalex commented on #1237
[code]

[2021-09-17 09:04] alexdepalex commented on #1237
<details>
<summary>Click to expand blockdevice custom resources</summary>

[code]

</details>

[2021-09-17 09:35] gitlawr commented on #1218
~~Depending on https://github.com/rancher/rke2/issues/1834~~

[2021-09-17 09:40] yaocw2020 commented on #1239
The rule of how Harvester selects which network interface for the VIP is as following.
The VIP is configured on the management NIC at default. After users enable the VLAN network, if the management NIC in any one of the nodes is used by the VLAN network, the VIP will be configured on the harvester bridge. Once users disable the VLAN network, if the VIP is still on the harvester bridge, it will be

[2021-09-17 09:52] yaocw2020 commented on #1239
We ignore one case that if users change the VLAN NIC to make the management NIC is not used by the VLAN network on every node.

[2021-09-17 10:03] alexdepalex commented on #1240
@weihanglo Additional info is here https://github.com/harvester/harvester/issues/1237#issuecomment-921629903

[2021-09-17 11:26] weihanglo commented on #1237
@alexdepalex Thanks for the info! Pardon me to collapse them.

At this moment, to prevent users from corrupting the disk directly, we prefer to make at least a single root partition of raw block device. To provision a disk, you can either

- specify `spec.fileSystem.forceFormatted = true` to let harvester create a single GPT partition and format it to ext4
  (it'll only do it only once for the blo

[2021-09-17 12:48] janeczku opened #1244 "[BUG] Node driver and cloud provider enhancement of RKE2 cluster with external Harvester cluster"
**To Reproduce**
Steps to reproduce the behavior:
1. Create a Harvester cloud credential choosing "External Harvester" and providing valid Kubeconfig
2. Navigate to the form to create Harvester RKE2 cluster
3. Pick the credential created above
4. Fields are **not** populated with available options
5. Harvester cloud provider is not working as expected as described on https://github.com/rancher/ran

[2021-09-17 12:59] janeczku opened #1245 "[BUG] Invalid KubeConfig provided by UI"
**Describe the bug**
The KubeConfig downloaded from UI does not work because its missing the CA certificate information.

Harvster 0.3-preview

[2021-09-17 13:04] janeczku opened #1246 "[BUG] Volumes are not cleaned up when VM provisioning fails"
**Describe the bug**
When creating a RKE2 cluster with Harvester driver and for some reason (e.g. an invalid config) the VM provisioning fails (and is then automatically retried by the provisioner all over again) there will be eventually hundreds of volumes on Harvester occupying all storage space.

Volumes should be cleaned up if a VM was not successfully provisioned.

[2021-09-17 13:26] janeczku commented on #1239
That seems wrong. The VIP should never be configured anywhere but on the management interface. Why does it move to the bridge interface in the first place?

[2021-09-17 13:34] janeczku opened #1247 "[BUG] Harvester RKE2 cluster provisioning fails with air-gapped Rancher"
**Describe the bug**

When Rancher is deployed in a network environment that requires HTTP proxy for internet access, provisioning Harvester RKE2 cluster fails because the machine-provisioner job fails to download the harvester driver from "releases.rancher.com".

**To Reproduce**
- Install Rancher in a network requirement that requires proxy for internet access.
- Specify proxy settings during Ra

[2021-09-17 13:46] guangbochen commented on #1245
duplicate of https://github.com/harvester/harvester/issues/1131 and already fixed by the master-head version

[2021-09-17 13:46] #1245 closed, assigned to nobody

[2021-09-17 13:50] guangbochen commented on #1246
seems to be a known issue fixed by node driver `v0.3.1` at the https://github.com/rancher/rancher/pull/34765, can u possibly check what is the node driver version have been used?

[2021-09-17 14:18] alexdepalex commented on #1246
We're using node driver `v0.3.0`. An unexpected side effect of this is that it exhausted storage on the integrated longhorn and prevented new pvc's to fail. And this doesn't result in an error because of this issue: https://github.com/harvester/harvester/issues/1242

[2021-09-17 14:24] futuretea commented on #1246
@guangbochen  @alexdepalex
v0.3.0 no pvc clean up logic.
v0.3.1 fix pvc clean up but still has some timing issue, harvester/docker-machine-driver-harvester#26 will fix it.
need v0.3.2

[2021-09-17 14:29] alexdepalex commented on #1246
I don't know if it's deliberate, but when deleting the volumes in Harvester, they're still lingering in Longhorn. It also still shows that the pv's are attached, but that bogus, since they weren't attached in Harvester and the vm's were already removed hours ago.
![Annotation 2021-09-17 162759](https://user-images.githubusercontent.com/713019/133799919-41798b02-b5d3-4097-aa53-e7234b2595d9.png)

[2021-09-17 14:32] guangbochen commented on #1246
it should get deleted, can u please help upload a support bundle file so that we can dig into the error logs properly, thanks

[2021-09-17 14:32] futuretea commented on #1244
Only "Imported Harvester" support "Fields are populated with available options from Harvester (namespaces, networks, etc)"

[2021-09-17 14:44] alexdepalex commented on #1246
Gathering logs doesn't work. It's stuk at 0%. I'll give it some time.

[2021-09-17 14:50] yasker commented on #1244
@futuretea Is there any specific reason why field population can only be supported with imported cluster?

[2021-09-17 15:04] guangbochen commented on #1244
@yasker IIRC we have discussed this previously, the front-end will need to implement the `kubeclient` to call the external Harvester server and there could be a potential certificate and CROS issue upon the environment setup, therefore we have decided just to ask the user to fill those filed manually for now if they choose to use external Harvester. But can be improved in the future.

Imported Har

[2021-09-17 15:25] guangbochen commented on #1247
will need to pass the installer proxy config to the rancher/rancherd,  @gitlawr can u PTAL of this, thanks

[2021-09-17 15:32] futuretea commented on #1246
@alexdepalex v0.3.2  released
URL: https://releases.rancher.com/harvester-node-driver/v0.3.2/docker-machine-driver-harvester-amd64.tar.gz
Checksum: f113d826b8bee79abf60f1026b4076befdf735c6675889240c75da6b30f09971

[2021-09-17 21:14] chajain commented on #1227
@futuretea @guangbochen Can you Please cut a new release of terraform-harvester-provider.

[2021-09-17 23:52] yasker opened #1248 "[BUG] Update NTP server to use OpenSUSE one"
We need to update the default NTP server to a SUSE NTP server.

[2021-09-18 01:54] guangbochen commented on #1239
This is only required when users use the same management NIC for the VLAN network since it is a bridge VLAN setup.
If users use a separate NIC for the VLAN, then the VIP will always sit on the management NIC by default.

[2021-09-18 05:04] yaocw2020 commented on #1210
To test:
- Add an agent node to an existing Harvester cluster
- To check the dashboard panel, it will show the management URL as the VIP.

[2021-09-18 05:09] showsmall commented on #888
I file di dischi di macchine virtuali possono essere memorizzati in CEPH?

[2021-09-18 07:40] gitlawr commented on #1247
Need to be addressed in the upstream https://github.com/rancher/rancher/issues/34801

[2021-09-18 09:03] wonleing opened #1249 "[BUG]VM clone and PVC clone doesn't work"
**Describe the bug**

VM clone -> disk not bootable
PVC clone and then create a new VM to use this PVC -> disk not bootable

**To Reproduce**
Steps to reproduce the behavior:
VM clone -> disk not bootable
PVC clone and then create a new VM to use this PVC -> disk not bootable

**Expected behavior**
VM clone OK, start OK with a copied PVC

**Environment:**
 - Harvester version:  0.2.0
 - Underlying

[2021-09-18 09:17] wonleing commented on #1233
Thank you. I enabled the VLAN network, then guestos IP equals to pod IP. And use `kubectl label pod virt-launcher-xxxxxxx app=vm;kubectl create service nodeport vm --tcp=22` to expose nodeport service

[2021-09-18 09:54] yaocw2020 commented on #1239
The VIP on the management interface attached to the harvester bridge is unable to be reached.

[2021-09-18 10:03] WuJun2016 opened #1250 "[BUG]"
**Describe the bug**

Because Cloud credentials aren't shareable, so if you create a cluster with user A, make user B a cluster owner (or other role) and then come to the edit screen as user B, you will not find the credential here.

If you need to edit a cluster created in userA via userB, you will need to work around this restriction in a number of ways.

The steps are as follows.
Assume: harves

[2021-09-18 10:30] yaocw2020 commented on #1207
When configuring management bond, for DHCP mode, we can call the function `getIPThroughDHCP` to get the IP and use the netlink package to configure the IP and route, rather than using wicked reload command which is too slow. Wicked interface configuration is still required. @weihanglo

[2021-09-19 01:44] OnyxAzryn commented on #1206
Thank you so much for posting this. I was encountering the same issue and your comment helped me fix it.

[2021-09-19 11:34] vobo70 opened #1251 "[BUG] Harvester v0.3.0-preview1 - RKE2 engine failed to start"
**Describe the bug**

fresh install v0.3.0-preview1 - after restart nothing happends for 30 minutes - logon to console - reboot and after restart get error rke2-server failed to start

**To Reproduce**
Steps to reproduce the behavior:
fresh install v0.3.0-preview1
restart
error rke2-service failed to start

**Expected behavior**

get ready to connect panel as in 0.2

**Support bundle**

irvesterl:

[2021-09-20 10:21] alexdepalex commented on #1248
@yasker When specifying NTP servers in the config-create, these are concatenated to the default NTP servers. In this case, we have the ubuntu NTP server first, followed by our internal NTP servers.

[2021-09-20 10:34] alexdepalex commented on #935
I guess that for air-gapped environments the user provided list should be replacing the default list instead of merged. Furthermore, with the preview build, it doesn't seem like NTP is actually enabled after deployment.
[code]

[2021-09-20 12:58] alexdepalex commented on #1237
@weihanglo Adding `forcedFormatted` to the `BlockDevice` spec section, doesn't do anything for me.

[2021-09-20 13:15] weihanglo commented on #1237
Hi, what do the blockdevice resources look like? Are they the same as you have provided before?

For `forceFormatted` it only applies on blockdevice that hasn't yet forced formatting before. It won't be formatted once it got a valid value for `status.deviceStatus.fileSystem.lastFormattedAt` Thanks.

[2021-09-20 13:22] alexdepalex commented on #1237
<details>
<summary>block definition</summary>

[code]
</details>

[2021-09-20 13:44] 2stacks commented on #798
@gitlawr can you work around this by changing the replica count in Longhorn to the number of hosts in your cluster?

`https://<mgmt_ip>/k8s/clusters/local/api/v1/namespaces/longhorn-system/services/http:longhorn-frontend:80/proxy/#/dashboard`

![longhorn3](https://user-images.githubusercontent.com/15258140/134012765-8bf49732-696d-491e-9bb1-b7f3bf021f18.png)

[2021-09-20 15:23] janeczku commented on #1237
@alexdepalex  There is a typo in the above spec directive. It should be instead:

`spec.fileSystem.forceFormatted = true` (note `force` not `forced`)

[2021-09-20 15:27] weihanglo commented on #1237
Edited. Sorry about my typo and thanks for pointing it out 🙇

[2021-09-20 18:24] yasker commented on #1240
@weihanglo Is it possible to leave the handling to the backend as well? Like we can set `format` for the disks.

Also, those disks will need to be automatically remounted again after the system restarted. Make sure that part is covered as well.

[2021-09-20 22:12] yasker commented on #1218
~~@gitlawr What's the impact on missing the RKE2 proxy part? We cannot start any Pods, except for the internal packaged images? Does RKE1 work with proxy?~~

~~Also, is there any manual workaround for this problem?~~

The above questions might not be necessary anymore since it seems RKE2 team has fixed the problem. Now we need the reproduce steps to validate.

[2021-09-20 22:17] yasker commented on #1239
@janeczku Let me know if you still think this is an issue. In conclusion, the VIP is only configured either on the mgmt network (when it's not double purposed for VLAN nic), or the bridge that contains the previous mgmt NIC with the mgmt network IP (when it's double purposed for VLAN nic).

[2021-09-21 08:03] hornet83 opened #1252 "[Question] how do I modify the grub parameters on install?"
Hi, I want to add the net.ifnames=1 as my interface naming is different to the ethx. I read to hit esc + e (as you would to modify kernel parameters) during the ISO boot.. the ESC doesnt do anything and I'm getting to the "Create Harvester Cluster" and after that there doesnt seem to be a way to modify the grub parameters anymore.

Thanks

[2021-09-21 08:19] hornet83 commented on #1252
nevermind I got it.. only have about half a sec to push ESC after selecting the USB device for booting - I was simply to slow ;)

[2021-09-21 08:19] alexdepalex opened #1253 "[BUG] Host overview doesn't show actual available storage from longhorn"
**Describe the bug**
In the host overview, `Storage size` only shows the size of the initial installation disk. It doesn't show the storage that's actually available to longhorn.

**Expected behavior**
Show the actual amount of schedulable storage from Longhorn

**Environment:**
 - Harvester 0.3.0-preview
 - Baremetal with additional disks

[2021-09-21 14:19] bashofmann opened #1254 "[BUG] Network interface not detected in ISO installer"
**Describe the bug**
In a test installation, it is not possible to select a network interface in the ISO installer. The error message "NIC not found" is shown. A SLES installation on the same hardware detects the network interface correctly.

**To Reproduce**
* Install harvester with the ISO installer
* Create a new cluster
* Try to select a network interface

**Expected behavior**
you can select

[2021-09-21 16:00] yasker commented on #1253
@guangbochen can you check if this is included in #576 ?

[2021-09-21 17:05] janeczku opened #1255 "[BUG] VM not rescheduled automatically when node goes down"
Tracking the known issue where VMs are not rescheduled automatically in case a node goes down. We also should document the expected behaviour.

[2021-09-21 17:11] janeczku opened #1256 "[BUG] Removing a BlockDevice does not clean up underlying LH resources"
**Describe the bug**
Details to follow

[2021-09-21 17:45] noahgildersleeve opened #1257 "[BUG] NTP selection is before proxy selection in installer"
**Describe the bug**

The NTP server selection is before the proxy selection. This causes the NTP server selection to fail if you need to select a proxy.
**To Reproduce**
Steps to reproduce the behavior:
1. Run the installer on a harvester node behind a proxy and without external connectivity
2. Try to select an NTP server
**Expected behavior**

The proxy should be before the NTP server selection

[2021-09-21 18:05] chajain commented on #1227
@futuretea @guangbochen I installed version 0.2.3 and still see the issues during destroy of virtual machine. It fails with error
harvester_ssh_key.t-d966367d61c04d1eb40978ea6dd0c1f3: Destroying... [id=default/t-d966367d61c04d1eb40978ea6dd0c1f3]
harvester_virtualmachine.t-e6555978e29d48e5b61ce29ae902b132: Destroying... [id=default/t-e6555978e29d48e5b61ce29ae902b132]
harvester_ssh_key.t-d966367d61c

[2021-09-21 18:23] #1256 closed, assigned to nobody

[2021-09-21 18:24] janeczku opened #1258 "[BUG] Removing a disk does not clean up associated resources"
**Describe the bug**
Details to follow

[2021-09-21 21:49] #443 closed, assigned to nobody

[2021-09-22 02:14] futuretea commented on #1227
@chajain  This error occurs because the VM has not been deleted successfully after 15s. Could you please help confirm how long it will take for the VM to be deleted in your environment?

[2021-09-22 02:45] bk201 commented on #1257
We use [systemd-timesyncd](https://www.freedesktop.org/software/systemd/man/systemd-timesyncd.service.html) for time synchronization and it implements SNTP (Simple Network Time Protocol).
I don't think UDP traffic is transferred through the HTTP proxy. @FrankYang0529 Could you verify this? Thanks!

And the `systemd-timesyncd` service is actually only run after rebooting, we should enhance this too

[2021-09-22 02:47] johnliu55tw commented on #1243
Can't seem to reproduce the issue on KVM with one server and two agent nodes. Agent nodes are automatically added to the cluster:
![image](https://user-images.githubusercontent.com/5047724/134275422-19593d52-5500-4292-ae4d-237a50d2efc0.png)

Seems like an intermittent issue or is only reproducible on bare-metal and QA networking? I will change the networking of KVM and try to reproduce it.

[2021-09-22 03:07] WuJun2016 commented on #923
Merge into dashboard https://github.com/rancher/dashboard/pull/3726.

Close!

[2021-09-22 03:07] #923 closed, assigned to WuJun2016

[2021-09-22 03:49] guangbochen commented on #1243
sure thanks @johnliu55tw, additionally we can bump the `rancher-webhook` to the latest version as the `no route match found` is a known issue of it and get the QA team to re-validate it again in their environment, thanks.
cc @bk201 do u know if there are any reproducible steps of this issue?

[2021-09-22 06:43] weihanglo commented on #1240
Hi, @yasker. If you are referring to specifying mount point, I guess yes. We can handle it from the backend if needed.

[2021-09-22 07:13] johnliu55tw commented on #1243
@guangbochen ok I'll bump the version of `rancher-webhook` to the latest and test it out.

[2021-09-22 07:34] wonleing commented on #1238
Maybe the whole "clone" feature is still under developing?

[2021-09-22 07:37] FrankYang0529 commented on #1257
`timesyncd` uses `SOCK_DGRAM` as socket type which is UDP socket, so httpproxy can't support it.

ref: https://github.com/systemd/systemd/blob/main/src/timesync/timesyncd-manager.c#L823

[2021-09-22 08:22] yaocw2020 opened #1259 "[BUG] Calico veth interfaces are mistakenly deleted"
**Describe the bug**

When using the network interface with index 3 as the VLAN interface, the calico veth interfaces will be deleted atypically.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a Harvester cluster with two NICs. Generally, the index of the second NIC is 3.
2. Enable VLAN with default NIC whose index is 3.

**Expected behavior**

 Calico veth interfaces should not be d

[2021-09-22 08:44] alexdepalex commented on #1240
From an operational perspective, can we in some way make sure that the mount point contains a description, or name, of the underlying block device?

[2021-09-22 09:07] weihanglo commented on #1240
Hi @alexdepalex. Technically it's possible, but I am not sure what info users need to retrieve from mount point and how can we make it better. Could you elaborate more about the scenario and use case? If the blockdevice custom resource has an optional field to store user's description, would that helps?

[2021-09-22 09:27] bk201 commented on #1254
The `qede` module is presented, but `kernel-firmware-qlogic` package is missing.

![capture](https://user-images.githubusercontent.com/1691518/134318617-e322d1c6-7d2b-4ee0-88dc-feefa0cbdc60.png)

[2021-09-22 09:28] FrankYang0529 commented on #935
Hi @alexdepalex, I think we can replace default NTP server by deleting it in input field. Also, we enable `systemd-timesyncd` after reboot.

ref: https://github.com/harvester/harvester-installer/pull/125/files

[2021-09-22 09:48] bk201 commented on #1243
The rancher-webhook is deployed by Rancher from the rancher-charts in the rancher image (`/var/lib/rancher-data/local-catalogs/v2/rancher-charts/4b40cac650031b74776e87c1a726b0484d0877c3ec137da0872547ff9b73a721/assets/rancher-webhook/`) and the image tag can't be changed (it only accept [min version of chart](https://github.com/rancher/rancher/blob/053d4c4ea4ce8218a55fc7efc34f22209239211c/pkg/contr

[2021-09-22 09:55] guangbochen commented on #1243
@bk201 @johnliu55tw we can use the tagged `v2.6-head` image here as long it includes both https://github.com/rancher/rancher/issues/34716 and the `webhook` changes, therefore we don't need to wait for the rancher RC release and continue the verification AEAP, thanks.

[2021-09-22 09:57] yaocw2020 commented on #1259
Workaround for the existing cluster:
- Disable the VLAN network
- Execute the command `kubectl edit nn` to edit all the nodenetwork CR and delete the finalizers.
[code]
- Reboot the machines.
- Update harvester-network-controller daemonset to the master-head version.
- Re-enable the VLAN network.

[2021-09-22 10:07] gitlawr commented on #761
Workaround in v0.3.0-preview1:
Do TLS termination on an external LB:
1. Run the following command and add 80 port to the service
[code]
2. Set up nginx to serve as the external LB
[code]
3. Configure DNS so that example.com resolves to the LB, then you can access Harvester via https://example.com

To make the downloaded Kubeconfig file works:
1. Run the following command and set the value to be th

[2021-09-22 10:12] bk201 commented on #1248
@alexdepalex  Do you use the installer to install and also provide a `config-create` file in the "Optional: remote harvester config"? If that's the case, the NTP servers in the config file will be merged with the one input in the "Optional: Configure NTP servers".

You can delete the content of the text field in the "Optional: Configure NTP servers" page to only use those NTP servers in the remote

[2021-09-22 10:34] bashofmann opened #1260 "[FEATURE] Configuring additional trusted CA certificates"
**Is your feature request related to a problem? Please describe.**
It should be possible to configure additional trusted CA certificates for all components that communicate outside of the cluster. In Harvester this affects for example image downloads which could be hosted by web servers that are secured with TLS certificates from a corporate CA or where a proxy or firewall intercepts TLS.

**Descr

[2021-09-22 14:12] bk201 opened #1261 "[FEATURE] Allow post-installation or first-boot customization"
**Is your feature request related to a problem? Please describe.**
There are situations users need to install additional packages, drivers, and additional files.
We should provide a mechanism to make this possible.

**Describe the solution you'd like**

Post-installation/first-boot hooks:
- scripts
- webhooks

**Describe alternatives you've considered**

**Additional context**
We need to take upgr

[2021-09-22 14:47] janeczku opened #1262 "[FEATURE] Ability to define storage disk devices as global option"
In order to make use of additional disk devices for VM storage currently, one has to add them manually disk by disk and node by node via the Harvester UI. This is not practical for large scale rollouts.

**Proposal:**

We need a global option that allows the user to specify the disk devices that should be added to the LH storage pool during initial cluster installation or while adding nodes to a c

[2021-09-22 15:05] yasker commented on #1262
@janeczku You had another issue https://github.com/harvester/harvester/issues/1241 ? Are those the same?

[2021-09-22 15:32] janeczku commented on #1262
Closing duplicate of https://github.com/harvester/harvester/issues/1241

[2021-09-22 15:32] #1262 closed, assigned to nobody

[2021-09-22 16:16] FrankYang0529 commented on #1234
I can reproduce the bug on harvester v0.3.0-preview1, but not on v0.2.0. After checking resources yaml, I find that v0.3.0-preview1 has `limits` for memory, but v0.2.0 doesn't. However, even if I add `limits` on the `VirtualMachine` resource and restart the VM, v0.2.0 still works fine.

I will try to create VM on KubeVirt directly with other storage provider and check whether it's upstream issue.

[2021-09-22 16:59] chajain commented on #1227
@futuretea On my env it took atleast 20-25 secs to terminate the VM

[2021-09-22 17:29] yasker commented on #1260
Ref #761

[2021-09-22 17:35] noahgildersleeve commented on #1150
Tested in master-1a041d23-head. Fixed.

[2021-09-22 17:35] #1150 closed, assigned to guangbochen, noahgildersleeve

[2021-09-22 20:02] noahgildersleeve commented on #570
Tested in master-1a041d23-head. Validated with ISO and live image.

[2021-09-22 20:02] #570 closed, assigned to gitlawr, noahgildersleeve

[2021-09-22 22:39] noahgildersleeve commented on #1210
Tested in master-1a041d23-head with two nodes. Fixed.

[2021-09-22 22:39] #1210 closed, assigned to yaocw2020, noahgildersleeve

[2021-09-22 22:41] noahgildersleeve commented on #846
Tested in master-1a041d23-head. Fixed.

[2021-09-22 22:41] #846 closed, assigned to WuJun2016, noahgildersleeve

[2021-09-22 23:01] noahgildersleeve commented on #1072
Tested in master-1a041d23-head with the steps outlined above.

1. Create a harvester setup with master
2. download kubeconfig from topbar
3. Use kubeconfig to access cluster with yaml with `kubectl get node`

I got an error with the certificate data. Unable to connect to the server: x509: certificate is valid for x.x.x.x, x.x.x.y, x.x.y.y, not y.y.y.y. I took a look and the kubeconfig was differen

[2021-09-22 23:09] noahgildersleeve commented on #1073
Tested in https://github.com/harvester/harvester/issues/1072. Fixed.

[2021-09-22 23:09] #1073 closed, assigned to noahgildersleeve

[2021-09-23 03:32] gitlawr commented on #1072
@noahgildersleeve kubeconfig from the UI is generated per user, so it's different from the one on the node.

In master-1a041d23-head,
- When I access Harvester with https://VIP and download the kubeconfig, it works.
- When I access Harvester with https://node-ip:30443 and download the kubeconfig, it shows the x509 error. The kubeconfig uses the node-ip as ther cluster server endpoint but the IP is

[2021-09-23 04:02] gitlawr commented on #1219
To test:
For tag release, check that UI is loaded as expected in air-gapped env.

For master build, it still defaults to fetch the latest remote UI.
Run
[code]
Then verify it works in air-gapped env.

[2021-09-23 04:40] johnliu55tw commented on #1243
@guangbochen I suppose tag `v2.6-head` is a dynamic tag that points to different images whenever a new one is pushed? If so I think we could use tag [`v2.6.1-rc2`](https://github.com/rancher/rancher/releases/tag/v2.6.1-rc2) which deploys `rancher-webhook v0.2.1-rc3` and includes the fix of https://github.com/rancher/rancher/issues/34716.

[2021-09-23 05:44] guangbochen commented on #1243
sure, rc2 works for us, thanks @johnliu55tw

[2021-09-23 05:54] guangbochen commented on #1203
most likely it is related to the network error fixed via https://github.com/harvester/harvester/issues/1259

[2021-09-23 06:48] alexdepalex commented on #1234
For me it seems like the memory limit applies to the entire pod. So that includes the qemu process plus the additional supporting processes (`virt-lancher`, `virtlogd`, `libvirtd`). When the vm allocates all available memory, the total consumed memory exceeds the set limit, and the qemu process is killed off.

When setting `spec.domain.memory.guest` to the vm memory size, and setting the memory li

[2021-09-23 06:49] alexdepalex commented on #1248
We just use the pxe boot method and provide a `config-create` file. No manual configuration through the installer ui is done.

[2021-09-23 06:51] alexdepalex commented on #1240
If during an installation disks are automatically configured, then from a user perspective it would be good if you could see the relation between the longhorn mount point and the actual device on the underlying operating system.

[2021-09-23 06:57] guangbochen commented on #1196
fixed via https://github.com/harvester/node-disk-manager/pull/10, the NDM pod is up and running properly with the same disk names but on the different nodes, since this is just a backend fix so close it for now.

[2021-09-23 06:57] #1196 closed, assigned to weihanglo

[2021-09-23 07:31] johnliu55tw commented on #1243
@guangbochen The latest version of rancher has some issues: https://github.com/rancher/rancher/issues/34866. @bk201 found this issue on `head` version, I just tested `v2.6.1-rc2` and the issue still exists.

[2021-09-23 08:08] FrankYang0529 commented on #1234
Yes, I try to modify yaml as following and it works.

[code]

[2021-09-23 09:03] guangbochen commented on #1234
This can be addressed from the UI side by not setting the `spec.domain.memory.guest` to the full-size of the memory limits, set it with a proper percentage discount e.g 95%. cc @WuJun2016

[2021-09-23 09:19] FrankYang0529 commented on #1234
From https://github.com/kubevirt/kubevirt/issues/5958#issuecomment-872642909, KubeVirt already add extra memory for Pods, but it's probably not enough in our case.

In harvester-v0.3.0-preview1, I set `spec.domain.memory.guest` as `9.9Gi` and it still can work.

[2021-09-23 09:33] janeczku opened #1263 "[BUG] After rebooting all Harvester nodes concurrently some VMs can't be restarted"
**Describe the bug**

After rebooting all Harvester nodes concurrently , a few existing VMs failed to start. Inspecting the state of the corresponding image backing volumes in LH, the volumes are infinitely stuck in `detaching` state with all three replicas in "failed" state.

<img width="740" alt="Screenshot 2021-09-23 at 11 00 52" src="https://user-images.githubusercontent.com/3813921/134485634-

[2021-09-23 09:37] johnliu55tw commented on #1231
I think we should show both harvester version and harvester-installer version, something like this (I removed the _version_ from the title for simplicity):
![image](https://user-images.githubusercontent.com/5047724/134483299-14d2cd2d-924f-4b18-9744-8626bb66fc07.png)

Now I'm thinking how can I get the version of harvester while building harvester-installer? **harvester-installer** is built at `bui

[2021-09-23 09:39] joshimoo commented on #1263
Just from the log snippets there are 2 issues present. There might be additional issues in the support bundle, did not check yet.

Issue01 backing image checksum missmatch:
https://github.com/longhorn/longhorn-manager/blob/5118ea589f9840167652a5dc97d4245a4b3868af/controller/backing_image_controller.go#L731

[code]

Issue02 multiple engines for a detached volume:
Which runs into this bug case. http

[2021-09-23 09:48] gitlawr commented on #1231
The screenshot is the console post-installation, I doubt if we want to show the installer version there. I would suggest we show that in the installation procedure if it matters.

Please note that the tagged ISO is built in [harvester CI](https://github.com/harvester/harvester/blob/1a041d2371c5e70419bbe2a6997e8756054ab58c/.drone.yml#L218).  Harvester version should be available from the git tag

[2021-09-23 12:52] shuo-wu commented on #1263
The follow-up of the backing image checksum mismatch issue: https://github.com/longhorn/longhorn/issues/3061

[2021-09-23 15:23] lanfon72 commented on #747
@yasker please help to check and close this issue after the the result as the expected.

[code]
snapshots
----
[1]
![image](https://user-images.githubusercontent.com/5169694/134532138-7f72c96d-f05f-4d7e-8e44-8bb15a49b72b.png)

[2]
![image](https://user-images.githubusercontent.com/5169694/134532812-199a02bf-d6b9-43f7-a408-a842bf699330.png)

[3]
![747-3](https://user-images.githubusercontent.com/51

[2021-09-23 16:04] guangbochen commented on #1253
should be fixed on the latest UI via https://github.com/harvester/dashboard/pull/107 and both the dashboard and host page should show the correct storage available size.

[2021-09-23 16:07] guangbochen commented on #1247
We will need to bump Rancher to the latest release once it was out and to verify the https://github.com/rancher/rancher/pull/34827 fix of it.

[2021-09-23 16:09] guangbochen commented on #1242
verified via `master-48c97ea7-head` ISO, @noahgildersleeve can u please to confirm, thanks:
1. create a VM with a larger CPU and memory size that the cluster was able to do - `pass`
![image](https://user-images.githubusercontent.com/4569037/134798556-5618b035-90e1-4b90-948d-125b0a76d6fa.png)
2. create a VM with a larger volume size than the cluster was able to - `degraded pass`
   - both VM and po

[2021-09-23 16:11] guangbochen commented on #1222
and multi NICs case is fixed via https://github.com/harvester/harvester/issues/1259

[2021-09-23 16:28] yasker commented on #1263
@joshimoo We definitely need the volume controller refactor for 1.3.0. However due to the big amount of the change, I am not sure if we can backport it to v1.2.x, which will be the base for Harvester v1.0 GA release. Is there any other way we can patch it for v1.2.x regarding the multiple engine problem? Also, we need a separate issue for this fix and link it to the volume controller refactoring.

[2021-09-23 16:33] yasker commented on #1248
@FrankYang0529 Due to some reason, `0.suse.pool.ntp.org` always fails on me in the installer when checked for the first time, and always passed on the second time.
<img width="762" alt="Screen Shot 2021-09-23 at 9 32 42 AM" src="https://user-images.githubusercontent.com/3344618/134547556-a723b8db-e0cc-4f0b-b5c2-f529d81e64cb.png">

After installation, it seems the NTP server has been configured cor

[2021-09-23 17:57] 2stacks opened #1265 "[BUG] Image import from file fails occasionally on large files"
**Describe the bug**
Image import from file fails occasionally with an error similar to
![image](https://user-images.githubusercontent.com/15258140/134558633-f9386691-c6ed-4caf-a060-21c41776b180.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to **Images**, click **Create**, select type **File**, select the filename of the image to import.

**Expected behavior**
Image imports success

[2021-09-23 18:10] krumware commented on #1225
This is also experienced by some machines as a blank screen, both during installation and runtime.
`nomodeset` also works as a temporary workaround in those cases.

[2021-09-23 18:49] chajain opened #1266 "[BUG]Creating backup target failing on IPXE Vagrant setup"
**Describe the bug**
I created a NFS store in my local DCP Node 10.84.128.9 on which harvester is installed using ipxe vagrant. I am able to mount from harvester_node_0 but looks like from inside the pod, it is giving the 'Permission Denied issue'
rancher@harvester-node-0:/> sudo mount -t nfs4 -o nfsvers=4.2 10.84.128.9:/opt/backupstore /home
rancher@harvester-node-0:/>
But the backup-target fails

[2021-09-23 19:59] yasker commented on #747
The basically functionality looks good.

Let's track the issues later separately.

Ref:
https://github.com/harvester/harvester/issues/1240
https://github.com/harvester/harvester/issues/1237

@lanfon72 feel free to close the issue. QA is normally the one who close the issue.

[2021-09-23 21:46] vobo70 commented on #1251
no one have same problem?
I will wait for next release then.

[2021-09-23 21:46] #1251 closed, assigned to nobody

[2021-09-23 21:54] yasker commented on #1251
@vobo70   We had a few known issues for preview1. We will have rc1 soon which should be much more stable. Feel free to give it try soon.

[2021-09-23 23:54] lanfon72 commented on #747
close this issue as enhancement has been separated into other issues.

[2021-09-23 23:54] #747 closed, assigned to guangbochen, lanfon72, weihanglo

[2021-09-24 00:19] guangyee commented on #1220
Problem was due to an extra (disabled) NIC in the Vagrant environment. Because we are using `ip=dhcp` in the PXE parameter, the disabled NIC can be selected by the installed as NIC naming/ordering is rather unpredictable. The issue was effectively fixed by specifying the precise NIC to use for installation. https://github.com/harvester/ipxe-examples/pull/20 fixed the problem.

[2021-09-24 00:20] #1220 closed, assigned to guangyee, chajain

[2021-09-24 00:20] guangyee commented on #1220
Fixed by https://github.com/harvester/ipxe-examples/pull/20

[2021-09-24 00:22] guangyee commented on #1148
Problem's been resolved with https://github.com/harvester/harvester/issues/1137

[2021-09-24 00:22] #1148 closed, assigned to guangyee, chajain

[2021-09-24 00:34] noahgildersleeve commented on #1222
Tested in master-1a041d23-head with 2 NICs on 2 node cluster. Fixed.

[2021-09-24 00:34] #1222 closed, assigned to yaocw2020, weihanglo, noahgildersleeve

[2021-09-24 00:56] noahgildersleeve commented on #1253
Tested in master-1a041d23-head. Validated dashboard storage usage with backend Longhorn dashboard. Fixed.

[2021-09-24 00:57] noahgildersleeve commented on #1259
Tested with multiple NICs and VLANs in master-1a041d23-head. Fixed.

[2021-09-24 00:57] #1259 closed, assigned to yaocw2020, noahgildersleeve

[2021-09-24 01:11] noahgildersleeve commented on #1257
Moving to ready for testing due to no code change needed.

[2021-09-24 01:11] noahgildersleeve commented on #1257
Closing since it's working as designed.

[2021-09-24 01:11] #1257 closed, assigned to FrankYang0529, noahgildersleeve

[2021-09-24 01:30] noahgildersleeve commented on #1000
Closing as N/A anymore per @guangbochen . Tested in version master-1a041d23-head.

[2021-09-24 01:30] #1000 closed, assigned to DaiYuzeng, noahgildersleeve

[2021-09-24 01:35] noahgildersleeve commented on #1198
Tested in master-1a041d23-head on 3 node cluster. Closing as fixed.

[2021-09-24 01:35] #1198 closed, assigned to WuJun2016, noahgildersleeve

[2021-09-24 01:36] noahgildersleeve commented on #1092
Tested in master-1a041d23-head. Validated as fixed.

[2021-09-24 01:36] #1092 closed, assigned to WuJun2016, noahgildersleeve

[2021-09-24 01:36] FrankYang0529 commented on #1248
@yasker , do you use air-gapped environment? We only validate whether NTP servers can be connected and serve NTP requests.

[2021-09-24 03:30] bk201 opened #1267 "[BUG] The interface names are unpredictable in UEFI-booted systems"
**Describe the bug**

The interface names are unpredictable in UEFI-booted systems.

**To Reproduce**
Steps to reproduce the behavior:
1. Booting a system in UEFI mode.
2. The installer displays interface names with unpredictable styles: `eth0`

![image (1)](https://user-images.githubusercontent.com/1691518/134613257-2d414ef7-82e1-434e-9a7a-e40ce7454259.png)

**Expected behavior**
The interface na

[2021-09-24 03:31] bk201 commented on #1200
Yes, the way is just to include `net.ifnames=1` in boot parameters.

[2021-09-24 03:40] lanfon72 commented on #1197
ref to #1267

[2021-09-24 05:21] lanfon72 commented on #1197
close this issue as it can't be reproduced either in Provo's bare metal or QEMU[BIOS mode] environment.
(All of those environment shows renamed NIC prefix as `ens` and the order always kept the same after 3+ times rebooted)

tested Harvester Version: [master-1a041d23-head](https://github.com/harvester/harvester/commit/1a041d2371c5e70419bbe2a6997e8756054ab58c)

[2021-09-24 05:21] #1197 closed, assigned to bk201, lanfon72

[2021-09-24 07:04] Yasumoto commented on #491
This would be very exciting! @ibrokethecloud I searched around a bit, looks like this is where you’re at? 🚀

https://github.com/ibrokethecloud/harvester-tink-operator

I think I’ll kick the tires here (we’re also looking at Harvester overall, thanks for all the hard work!) and see what I run into!

[2021-09-24 07:23] yaocw2020 opened #1268 "[BUG] Cann't switch from shell to console by F12."
**Describe the bug**

According to the hint, we can use F12 to switch between the Harvester console and shell. However, it only works when switching from console to shell but is ineffective in the case of switching from shell to console.

**To Reproduce**
Steps to reproduce the behavior:
1. Press F12 from console to shell.
2. Press F12 again but it failed to switch to console.

**Expected behavior

[2021-09-24 08:06] johnliu55tw opened #1269 "[BUG] Cursor jumps to the end while editing image name"
**Describe the bug**
While editing the **name** of an image, the cursor jumps to the end of the string when I tried to prepend something to the name.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Images" page
2. Click "Create"
3. Enter some string, like `awesome-image`
4. Try to change the name to `my-awesome-image` so I move the cursor to the beginning of the string
5. Type `m`, th

[2021-09-24 08:16] WuJun2016 commented on #568
Done

[2021-09-24 08:21] johnliu55tw opened #1270 "[BUG] Image name with leading and trailing spaces should be trimmed"
**Describe the bug**
I am able to create images that look like they have identical names by **adding leading and trailing spaces.**
![image](https://user-images.githubusercontent.com/5047724/134641260-622cb1d3-8931-418d-a6d5-317518723a75.png)

Names with leading/trailing spaces should either be trimmed before they are created, or considered invalid.

**To Reproduce**
Steps to reproduce the behavio

[2021-09-24 08:29] FrankYang0529 commented on #1248
@yasker , we show validation error message now. Could you please try again and screenshot error message? Thank you.

[2021-09-24 08:58] yaocw2020 opened #1271 "[BUG] Helm controller install Harvester failed"
**Describe the bug**

The pod of the job to install Harvester crash off after reboot occasionally. The log is as follows.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a Harvester cluster with only one node.
2. Poweroff and then start

**Expected behavior**

Harvester should be always installed successfully.

**Support bundle**

**Environment:**
 - Harvester ISO version:  ma

[2021-09-24 08:59] FrankYang0529 opened #1272 "[BUG] Shut down a node with maintenance mode should show red label"
**Describe the bug**
Maintenance mode label doesn't change from yellow to red when a node has been shut down.
![Screenshot from 2021-09-24 16-56-04](https://user-images.githubusercontent.com/4927361/134647555-d8a77116-880b-45f8-a3bb-fbfc1f89a436.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Put a node in maintenance mode.
2. When a node shows Maintenance mode, then turn off the node.

[2021-09-24 09:59] yaocw2020 opened #1273 "[FEATURE] Show common network interface when selecting network interface for the VLAN network"
**Is your feature request related to a problem? Please describe.**
- We should filter out the slave of the bond device since they can be used by the VLAN network
- While enabling the VLAN network, It would be convenient for users to know what are the common network inerfaces available across those Harvester nodes. [UI]
   - To add a dropbox and show all the common NICs across the Harvester nodes

[2021-09-24 10:12] johnliu55tw opened #1274 "[BUG] Create images failed at the beginning but finished eventually"
**Describe the bug**
Create an image shows as "failed" at the beginning:
![image](https://user-images.githubusercontent.com/5047724/134655487-b8901090-fa00-4aa0-9578-495f60fa59ae.png)

But after a while it started to download and eventually succeeded:
![image](https://user-images.githubusercontent.com/5047724/134655678-e858921a-64fc-4059-a5ea-0a2a20cbeaf3.png)

**To Reproduce**
Steps to reproduce

[2021-09-24 10:16] guangbochen commented on #1274
@shuo-wu is this something that we can improve from the backing image-side?

[2021-09-24 12:24] guangbochen commented on #1200
should be addressed via https://github.com/harvester/harvester/issues/1267 using Grub2 and no additional config is required.

[2021-09-24 12:42] WuJun2016 commented on #1238
addressed via https://github.com/harvester/dashboard/commit/7e90e8a48918c48cd0df9cd104af0da20c1f81c9, and should be ready for testing.

[2021-09-24 14:50] yasker commented on #1268
I am not sure if we have to add F12. You can always use `Ctrl-D` to exit from the terminal, like any other Linux-based system.

[2021-09-24 16:02] gitlawr commented on #1218
Also related to https://github.com/rancher/rancher/issues/34908

[2021-09-24 19:36] sakisx opened #1276 "[Question]Issue with harvester installer"
Hi, i'am trying to install harevster 0.2.0 on ProLiant XL170r Gen9, but after confirm of installation i have an issue. At the moment i cannot find any solution about that, any advise about ? Everything on server is up to date. Also there is internet connection on that. Of course i try to install v0.3.0-preview1, v0.2.0-rc5 with the same results. Also i try to install harvester on other servers DL1

[2021-09-25 20:38] gustafj opened #1277 "[BUG] No validation of proper hostname format"
**Describe the bug**
When entering a non-conformant `hostname` during installation the system never enters a `Running` state, its stuck at `NotReady`.
`systemctl is-system-running` is `starting` and the queued jobs is stuck at `rancherd`.
`systemctl status rancherd` gives an error printout about the hostname.

**To Reproduce**
Use a non-conformant hostname during install, e.g. `Harvester`

**Expec

[2021-09-26 03:37] guangbochen commented on #1267
verified using the `master-48c97ea7-head`, @noahgildersleeve can u please check to confirm if we can close this issue, thanks.
1. boot from a USB device with UEFI installation mode
![image](https://user-images.githubusercontent.com/4569037/134792304-3c2b2e11-47ed-4167-8068-d8ca41c9994b.png)
2. the NIC name is shown as en* instead of `ethx`
![image](https://user-images.githubusercontent.com/4569037

[2021-09-26 03:57] guangbochen commented on #1248
![image](https://user-images.githubusercontent.com/4569037/134793038-d6d6b97c-3cd5-43e0-9ffd-0ba49e5d760e.png)

[2021-09-26 04:25] gitlawr opened #1278 "Update support links"
The support links are referring to the Rancher docs/issues, etc. Change to Harvester links.

**To Reproduce**
Steps to reproduce the behavior:
1. Click `Support` in the bottom-left corner.
2. Check the links in `Community Support`

**Environment:**
 - Harvester ISO version: master-48c97ea7-head

[2021-09-26 04:43] gitlawr commented on #568
Some UI issues to be fixed:
1. When the volume export is in progress, the image status shows `Uploading`.
2. Edit an image created from a volume, it shows `Upload Files`
![image](https://user-images.githubusercontent.com/5697937/134793965-64d3f211-a69d-4a89-a6eb-da8019a01287.png)

[2021-09-26 05:24] guangbochen commented on #1246
Verified using the Rancher v2.6-head and Harvester node driver with `v0.3.2`, @noahgildersleeve can u please confirm to close, thanks:
1. spin up a guest k8s cluster with a total of 3 nodes using the RKE2 node driver (e.g 1 control plane + 2worker)
2. check the VM and volumes that exist on the Harvester cluster
![image](https://user-images.githubusercontent.com/4569037/134794766-89c0d92b-447d-4713

[2021-09-26 05:28] gitlawr commented on #991
Fixed in the upstream

[2021-09-26 05:41] gitlawr opened #1279 "[BUG] Missing delete/download yaml buttons in volumes page"
**Describe the bug**
![image](https://user-images.githubusercontent.com/5697937/134795157-f76723d1-c6e6-4a2b-8f58-56809f0bb812.png)

**Environment:**
 - Harvester ISO version: master-48c97ea7-head

[2021-09-26 05:43] guangbochen opened #1280 "[FEATURE] Identify if the NIC is either up or down during ISO installation"
**Is your feature request related to a problem? Please describe.**
Be able to identify whether the NIC is either up or down during the ISO installation

**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/4569037/134795189-0a3afb79-f860-47fe-b9fb-f225fe4d89b2.png)

**Describe alternatives you've considered**

**Additional context**

[2021-09-26 05:59] weihanglo commented on #1280
FWIW, we identify NIC states [right after confirming the interfaces selection](https://github.com/harvester/harvester-installer/blob/9362db78f85e292f84e848950bd1d83df2f801ef/pkg/console/install_panels.go#L760-L780). Does this enhancement aim to check NIC states at each selection of a single NIC?

[2021-09-26 06:16] guangbochen opened #1281 "[FEATURE] print the blockdevice devPath by default via kubectl"
**Is your feature request related to a problem? Please describe.**

Add a column to print the devPath of blockdevice by default via kubectl
[code]

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-09-26 06:31] guangbochen opened #1282 "[Bug] Exclude OS root disk and partitions from the NDM manager"
**Is your feature request related to a problem? Please describe.**
The UI should prohibit admin users to either add or force-format the root disk or system partitions from the UI, the NDM manager should identify and exclude the root disk and its system partitions

![image](https://user-images.githubusercontent.com/4569037/134796099-20ac5b73-8ce9-411c-8f55-8c994534d502.png)

**Describe the solution

[2021-09-26 06:38] gitlawr opened #1283 "[BUG] Fix required fields on VM creation page"
**Describe the bug**
1. Both image and size are required for an image volume
![image](https://user-images.githubusercontent.com/5697937/134796480-47e2312b-8f5f-4360-9a8a-1da87a677150.png)
2. Hostname is not required
![image](https://user-images.githubusercontent.com/5697937/134796495-a4544680-b409-4285-81ad-027da3f7960e.png)
3. Also, update the input labels:
Host Name => Hostname
MachineType => Ma

[2021-09-26 06:44] guangbochen commented on #1280
Yep, I got 4 ports of my bare-metal server and only 2 have the cable plugged in, therefore it is hard for me to identify which 2 are enabled from the console during the ISO installation, it would be helpful if we can view it directly when selecting the NICs.

[2021-09-26 06:50] guangbochen opened #1284 "[FEATURE] Add notification after user modified the host configs"
**Is your feature request related to a problem? Please describe.**
We should add a notification message on the top of the host's page after the user successfully modified the host configs.
e.g after the user modified the disks they should get an example message like `update node %s configurations successfully.`

**Describe the solution you'd like**
![image](https://user-images.githubusercontent.co

[2021-09-26 07:08] guangbochen opened #1285 "[BUG] A force-formatted disk was not added as an additional data volume"
**Describe the bug**
A force-formatted disk was not added as an additional data volume successfully.
![image](https://user-images.githubusercontent.com/4569037/134797055-a3d52745-c64d-4139-bd8a-f5621f74aa13.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Select an additional disk that already has a partition and filesystem type
2. Set the `force-formatted` to true
3. click save and chec

[2021-09-26 07:30] guangbochen commented on #1001
as per https://github.com/rancher/rancher/issues/34911 discussion, we will follow the following conditions to filtering those system-related namespaces from the UI:
- We maintain a setting SystemNamespaces that has the default system namespaces
- namespaces added dynamically for the fleet for example and they are added to the system project and carry an annotation "management.cattle.io/system-name

[2021-09-26 07:52] aiwantaozi opened #1287 "[FEATURE] support reset virtualMachine"
**Is your feature request related to a problem? Please describe.**
Support reset the virtual machine, replace the system disk with a new one and keep the data disk

**Describe the solution you'd like**
1. update the virtualMachine system disk(bootOrder is 1) to a new one, keep the data disk unchanged
2. mark the old system disk need to be removed
3. restart the virtual machine with the new disk(re

[2021-09-26 07:58] guangbochen commented on #1133
close as the rancher setting has been removed. verified in the `master-48c97ea7-head`

[2021-09-26 07:58] #1133 closed, assigned to nobody

[2021-09-26 08:10] guangbochen commented on #576
An known issue: https://github.com/harvester/harvester/issues/1289

**Testing Plan:**
1. harvester monitoring should be enabled by default when installed from the ISO
2. check if the monitoring pod are up and running
[code]
3. check if two built-in harvester monitoring dashboards are loaded via:
[code]
4. check prometheusrules and servicemonitors are exist
[code]
5. check graphs from the dashboard

[2021-09-26 08:15] guangbochen commented on #568
Few Typo and enhancement:
- Export Image => Export to Image
- system namespaces are not filtered and should use the user's current selected default namespace
- swap the order of the namespace first and name, also why the margin is quite big and the height is quite different between those two fields?
![image](https://user-images.githubusercontent.com/4569037/134799547-36d74f31-d8ed-40c1-963d-f856ea

[2021-09-26 09:18] gitlawr commented on #568
![image](https://user-images.githubusercontent.com/5697937/134801500-9f173338-0eb6-44a0-bd0b-6e45fd510873.png)
The error happens when exporting an image in a different namespace. @shangma

[2021-09-26 09:19] guangbochen opened #1289 "[BUG] Prometheus rules are not deployed because the CRD is not installed"
**Describe the bug**
There is a possibility that the kubevirt Prometheus rules are not deployed because the CRD is not installed

**To Reproduce**
Steps to reproduce the behavior:
1. install the master-head image of the `v0.3.0` version e.g `master-48c97ea7-head`
2. check the Harvester cluster is up and running
3. check the monitoring of service monitor and Prometheus rules, at times the Prometheu

[2021-09-26 09:30] guangbochen commented on #1203
validated by input a bad backup-target config, e.g start with `s3://` it shows the error message correctly and no `{"data":"Handler disconnected\n"}` has occurred, this should be fixed via a network issue with #1259 and please feel free to reopen this if u have encountered it again.
![image](https://user-images.githubusercontent.com/4569037/134801968-86787cf6-503a-4930-8056-b9c02ebb78a7.png)

[2021-09-26 09:30] #1203 closed, assigned to gitlawr

[2021-09-26 09:33] WuJun2016 commented on #1072
server-url is set through the backend

[2021-09-26 09:41] guangbochen commented on #1238
@WuJun2016 except the `Node Scheduling` everything else is copied successfully, also I think we should call it `Clone Template` instead of the `Clone`, as the real VM clone will be addressed via https://github.com/harvester/harvester/issues/569

[2021-09-26 11:55] olljanat opened #1290 "[FEATURE] Support running Harvester on VM"
Now when Harvester is based on RKE2 it is actually easiest way to create RKE2 clusters. That why it would be very useful to have support to run Harvester also on VMs which would allow configurations like:
* Master nodes on VMs + workers on bare metal
* Shared HCI platform on bare metal and separate dev and production application RKE2 clusters on VMs (Harvester in Harvester)

Afaiu only requirement

[2021-09-26 17:12] yasker opened #1291 "Task: Public available test plan"
We should make all of our automation and manual test plan available at https://github.com/harvester/tests , so adding the test plan can be a part of the requirement for closing the issue.

Ref:
https://github.com/longhorn/longhorn-tests
https://longhorn.github.io/longhorn-tests/manual/
https://longhorn.github.io/longhorn-tests/integration/
https://github.com/longhorn/longhorn/issues/2460#issuecomm

[2021-09-26 19:52] shangma opened #1292 "pvc namespace is mixed with image namespace when exporting a volume to create an image"
**Describe the bug**
Image namespace should be configurable when being created from exporting a volume

![image](https://user-images.githubusercontent.com/2396545/134822163-0c7d20b5-f918-4358-b403-904368103e8e.png)

[2021-09-26 21:37] shangma commented on #568
### To Test:

1. Download the latest harvester [ISO](https://releases.rancher.com/harvester/master/harvester-amd64.iso) and boot a virtual machine from it
2. Log into Harvester
3. Go to "Images" section and create an original os image from an url, say [this one](https://cloud-images.ubuntu.com/xenial/current/xenial-server-cloudimg-amd64-disk1.img)
4. Create a virtual machine from the image above w

[2021-09-27 01:41] FrankYang0529 commented on #1248
@guangbochen , I think i/o timeout is dependent on different connection quality. How about prolonging timeout deadline to 10 seconds and retrying at most 3 times for timeout error?

[2021-09-27 02:47] futuretea commented on #1227
@chajain Increase timeout to 300s and fix cloud-init bug in release [v0.2.5](https://github.com/harvester/terraform-provider-harvester/releases/tag/v0.2.5)

[2021-09-27 02:48] guangbochen commented on #1292
close as this will be verified by the https://github.com/harvester/harvester/issues/568

[2021-09-27 02:48] #1292 closed, assigned to shangma

[2021-09-27 03:21] yaocw2020 commented on #1273
UI changes
 - Host network edit page UI requirements
   - display the type of the network interfaces as the form `name(type, status)`
   - filtering the network interfaces with masterIndex and not used by VLAN network
 - Setting VLAN edit page UI requirements
   - add the dropbox to display the common network interfaces in all nodes

 @guangbochen @gitlawr @WuJun2016

[2021-09-27 03:26] chajain commented on #1227
@futuretea On a 3 node harvester setup we are also encountering the i/o timeout sometimes during creation of a resource or destroy of the resource for images, volumes, keypairs  and networks also.
AssertionError: Failed to run terraform : rc: 1, stdout: bError:Post "https://192.168.0.30:30443/apis/k8s.cni.cncf.io/v1/namespaces/harvester-public/network-attachment-definitions": dial tcp 192.168.0.30

[2021-09-27 03:47] FrankYang0529 commented on #1277
I can reproduce this issue and get error message as following:

[code]

[2021-09-27 05:01] guangbochen commented on #1219
verified using the `master-c6474a74-head`
1. go to the Advanced => Settings and config `ui-source` to `Bundled`
2. Refresh the page again, make sure the UI is loaded successfully and the JS/CSS assets are loaded from the local server.
![image](https://user-images.githubusercontent.com/4569037/134847777-38752ce8-1686-4ada-8565-c0bbf2cca91e.png)

[2021-09-27 05:01] #1219 closed, assigned to gitlawr

[2021-09-27 05:19] guangbochen commented on #1208
Verified using the `master-48c97ea7-head` version - pass
1. All disks and partitions are displayed correct on the Hosts => Edit Config => Disks tab
![image](https://user-images.githubusercontent.com/4569037/134848781-e266bba3-4e3c-4b8d-bca3-ab04998fe451.png)

1. Validate available disks on the node are matched with the UI (should exclude the loop and longhorn generated block devices)
![image](http

[2021-09-27 06:10] guangbochen commented on #1069
refer to https://docs.rke2.io/install/linux_uninstall/

[2021-09-27 06:14] yasker commented on #1248
@FrankYang0529 It looks like something else. At this phase, we've checked the connectivity to the first node server already. Also, it always failed on the first time and succeed on the second time, and for each node. It doesnt make sense.

I can reproduce it on my baremetal environment. @guangbochen how did you reproduce it?

[2021-09-27 07:31] futuretea commented on #1227
@chajain

There is no any timeout code for these resources.

This should be a network timeout

[2021-09-27 07:54] FrankYang0529 commented on #1248
@yasker , may you try this [repo](https://github.com/vladimirvivien/go-ntp-client)? This repo uses 15 seconds as timeout deadline, but we only use 5 seconds. @guangbochen has tried it and got results as following:

[code]

For this behavior, it's from discussion here https://github.com/harvester/harvester-installer/pull/119#issuecomment-918916649.

[2021-09-27 08:54] yaocw2020 commented on #953
We change the os for the Harvester and use wicked which should support wifi cards to manage the network. I can not find a machine with a wifi card, @withinboredom  could you kindly help verify this issue?
https://releases.rancher.com/harvester/master/harvester-amd64.iso

[2021-09-27 09:03] yaocw2020 commented on #595
@pgonin I am glad to inform you that we have changed the OS for the Harvester and use wicked to manage the network. The default route is set on the `harvester-mgmt`, a bond device created during the installation.
[code]

[2021-09-27 14:41] lanfon72 commented on #1279
verified download/delete buttons appeared and work normally.

![image](https://user-images.githubusercontent.com/5169694/134932090-e4d298f6-5d8d-401a-b903-5a6ec6033c56.png)
![image](https://user-images.githubusercontent.com/5169694/134929479-73664e59-a325-46bc-a470-ce4a5745a504.png)

Test Information
----
* Environment: bare metal DL360 in Provo
* Harvester Version: master-c6474a74-head
Verify Ste

[2021-09-27 14:41] #1279 closed, assigned to WuJun2016

[2021-09-27 15:03] guangbochen commented on #774
close due to inactivity and does not occur in the master-head version anymore.

[2021-09-27 15:03] #774 closed, assigned to nobody

[2021-09-27 15:04] guangbochen commented on #511
close as network e2e tests was added in https://github.com/harvester/tests

[2021-09-27 15:04] #511 closed, assigned to nobody

[2021-09-27 15:05] guangbochen commented on #845
close due to inactivity and does not occur in the 0.3-master-head version.

[2021-09-27 15:05] #845 closed, assigned to yaocw2020

[2021-09-27 15:06] guangbochen commented on #893
close as we will just use the default password for now, feel free to reopen it if needed, thanks.

[2021-09-27 15:06] #893 closed, assigned to nobody

[2021-09-27 15:08] guangbochen commented on #913
duplicate of https://github.com/harvester/harvester/issues/982

[2021-09-27 15:08] #913 closed, assigned to nobody

[2021-09-27 15:08] guangbochen commented on #872
duplicate of https://github.com/harvester/harvester/issues/574

[2021-09-27 15:08] #872 closed, assigned to nobody

[2021-09-27 15:12] guangbochen commented on #954
can we please check if this is still an issue of the master-head version, thanks?

[2021-09-27 15:13] guangbochen commented on #963
should be addressed via https://github.com/longhorn/longhorn/issues/2460, will need to verify via reboot the node with multiple VMs and check the concurrent rebuild on the Longhorn UI.

[2021-09-27 15:21] guangbochen commented on #1139
closed in favor of `master-48c97ea7-head`, currently only the Harvester UI and name was pop up.

[2021-09-27 15:21] #1139 closed, assigned to nobody

[2021-09-27 15:23] guangbochen commented on #1114
close in favor of `master-48c97ea7-head`, the support-bundle was updated to `rancher/support-bundle-kit:v0.0.3`
[code]

[2021-09-27 15:23] #1114 closed, assigned to shangma

[2021-09-27 15:27] guangbochen commented on #1075
currently, only one admin user will be allowed on the single Harvester cluster, please refer to the [multi-tenant](https://github.com/harvester/harvester/issues/582) feature that will be supported by Rancher v2.6.1+.

[2021-09-27 15:27] #1075 closed, assigned to lucidd, noahgildersleeve

[2021-09-27 15:29] guangbochen commented on #1007
close due to inactivity and it was resolved per the last comment.

[2021-09-27 15:29] #1007 closed, assigned to nobody

[2021-09-27 15:30] abonillabeeche commented on #1290
Can you please clarify this use case? I don't see how it makes a lot of sense.

[2021-09-27 15:36] guangbochen commented on #1089
duplicate and will be track on https://github.com/harvester/harvester/issues/1273

[2021-09-27 15:36] #1089 closed, assigned to WuJun2016

[2021-09-27 15:39] guangbochen commented on #621
Did not encounter this error after using the VIP entry point with `0.3-master-48c97ea7-head`, feel free to reopen it if needed.

[2021-09-27 15:39] #621 closed, assigned to gitlawr

[2021-09-27 15:40] guangbochen commented on #798
Volume degradation is supported via https://github.com/longhorn/longhorn/issues/2805, should be ready for testing.

[2021-09-27 15:45] guangbochen commented on #1202
close in favor of `master-48c97ea7-head`, currently, all NICs are viewable on the `Hosts -> Netowk` tab after added the bond NIC support. https://github.com/harvester/harvester/issues/1207
![image](https://user-images.githubusercontent.com/4569037/134941226-04f0511c-fa42-4dcd-846a-8c228bcfcaac.png)

[2021-09-27 15:45] #1202 closed, assigned to yaocw2020

[2021-09-27 15:54] olljanat commented on #1290
Currently outside of Harvester anyone who want to run RKE2 + Longhorn must first create VM with some of these OS versions https://docs.rke2.io/install/requirements/#linux , then install RKE2 and then Longhorn which takes a lot of more time than just installing Harvester and mean that after that user also need to care about maintaining those.

Of course if Rancher/Suse will release another similar

[2021-09-27 15:58] guangbochen commented on #1142
close as the backend has removed the backupcontent and only backup CRD was used for `master-48c97ea7-head`
[code]

[2021-09-27 15:58] #1142 closed, assigned to nobody

[2021-09-27 16:00] guangbochen commented on #706
close in favor of the newOS and support-bundle-kit update, please feel free to reopen it if u encounter a large size rke2 logs.

[2021-09-27 16:00] #706 closed, assigned to bk201

[2021-09-27 16:07] guangbochen commented on #869
close due to inactivity, also we have replaced the k3os with the newOS in our installer, please verify it using https://releases.rancher.com/harvester/master/harvester-amd64.iso and feel free to open a new issue if any similar issue was encountered.

[2021-09-27 16:07] #869 closed, assigned to gitlawr

[2021-09-27 16:10] guangbochen commented on #878
For the 0.3+ version, there is no `Create from YAML` button for all pages, so let's just align the UX.

[2021-09-27 16:12] guangbochen commented on #635
close due to in activity, feel free to reopen it similar issue occurs in v0.3 related releases, thanks.

[2021-09-27 16:12] #635 closed, assigned to yaocw2020

[2021-09-27 16:19] guangbochen commented on #551
I think it should be fine for us to close this issue and open the sub-item tasks to track those missing e2e tests if needed, thanks.

[2021-09-27 16:20] guangbochen commented on #719
close in favor of the 0.3 new UI changes, feel free to open new UI issues in regards to the new UX, thanks.

[2021-09-27 16:20] #719 closed, assigned to WuJun2016

[2021-09-27 16:46] yasker commented on #551
The basic framework is done at https://github.com/harvester/tests. Close this issue and track sub items accordingly.

[2021-09-27 16:46] #551 closed, assigned to guangyee

[2021-09-27 20:15] olljanat commented on #1290
#1294 should do the trick that any Harvester node(s) which are running on VM will be labeled with `kubevirt.io/schedulable=false` so even hybrid VM + bare metal mixed clusters should works correctly as `virt-operator` will schedule VMs only to nodes which can run them.

[2021-09-27 21:43] chajain commented on #1227
@futuretea I  see these error messages while creating resources
cjain-leap:~/harv-ter/tests/terraform_test_artifacts/terraformharvester # TF_CLI_CONFIG_FILE=../dev.tfrc terraform apply -input=false tfplan
╷
│ Warning: Provider development overrides are in effect
│
│ The following provider development overrides are set in the CLI configuration:
│  - harvester/harvester in /root/harv-ter/tests/terra

[2021-09-27 22:35] noahgildersleeve opened #1297 "[BUG] external harvester clusters don't populate entries in RKE1/RKE2 node-driver"
**Describe the bug**

If you create cloud credentials for Harvester with an external Harvester (Using the KUBECONFIG), then the dropdowns don't populate for the
**To Reproduce**
Steps to reproduce the behavior:
1. Create cloud credentials using the KUBECONFIG for a harvester cluster
2. Verify that the KUBECONFIG should work
3. Create a new harvester cluster using those credentials
4. Check in the

[2021-09-27 22:37] yasker commented on #1297
@noahgildersleeve This is expected for v0.3.0. It looks like a duplicate of https://github.com/harvester/harvester/issues/1244

[2021-09-28 02:49] gitlawr commented on #1290
Kubevirt deploys device plugins to detect virtualization support on nodes. Eash VM pod has the resource request for the kvm device. It ensures that VMs are scheduled to nodes with kvm available. Is that not working for you?
[code]

Running Harvester on VMs works for me, can you describe the problems you've encountered?

[2021-09-28 02:55] futuretea commented on #1227
@chajain  The k8s apiserver port should be 6443, not 30443, can you check the kubeconfig is correct?

[2021-09-28 03:18] n313893254 commented on #1178
The issue is a common issue.

[2021-09-28 04:19] olljanat commented on #1290
The most critical thing would be to get answer to question that: Is this something which will be officially supported? I mean for real production workloads and running non-VM pods?

Having OS like k3OS where need for maintenance is minimized makes a lot of sense but https://github.com/harvester/harvester/issues/581#issue-840585458 very clearly says that it have no been officially supported by Ranc

[2021-09-28 05:52] guangbochen opened #1298 "[BUG] can't join the worker node of x509: certificate signed by unknown authority"
**Describe the bug**

3rd Node can't join the cluster via the PXE boot e.g refer to https://github.com/harvester/ipxe-examples/tree/main/vagrant-pxe-harvester, when the agent node curl the master VIP, it reports `error while connecting to Kubernetes cluster: Get "https://192.168.0.131/version": dial timeout`

[code]

**Support bundle**

**Environment:**
 - Harvester ISO version:
 - Underlying Infr

[2021-09-28 06:19] guangbochen commented on #1238
verified on the `master-48c97ea7-head` version, clone the template has successfully cloned all VM configurations, the VM clone will be tracked on https://github.com/harvester/harvester/issues/571.
![image](https://user-images.githubusercontent.com/4569037/135033503-efd70121-fa5a-44b5-b4ff-d30be86babef.png)

[2021-09-28 06:19] #1238 closed, assigned to WuJun2016

[2021-09-28 06:53] yaocw2020 opened #1299 "[BUG] Don't support the disk more than 4294967295 section"
**Describe the bug**

![image](https://user-images.githubusercontent.com/7421463/135037454-29896a82-07aa-4a91-af0f-19a831b32e56.png)
Install failed with a 9.5T nvme disk

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'

**Expected behavior**

**Support bundle**

**Environment:**
 - Harvester ISO version: harvester0.3 pre1
 - Underlying Infrastructure (e.g. Baremetal with Dell Powe

[2021-09-28 06:59] lanfon72 opened #1300 "[BUG] links below Community Support are incorrect"
**Describe the bug**
All links point to `rancher`'s topic:
- Docs -> https://rancher.com/docs/rancher/v2.6/en
- Forums -> https://forums.rancher.com/
- Slacks -> https://slack.rancher.io/
- File an Issue -> https://github.com/rancher/dashboard/issues/new

![image](https://user-images.githubusercontent.com/5169694/135038435-b36d70d2-e993-4504-83e5-cdcfcd85b259.png)

**To Reproduce**
Steps to reprod

[2021-09-28 07:07] n313893254 opened #1301 "[BUG] Delete cluster throw an error"
**Describe the bug**

![image.png](https://images.zenhubusercontent.com/59db4297b0222d5de47ad632/88e9b1ad-73d2-43ec-a5d4-80cb0081c18f)

**To Reproduce**
Steps to reproduce the behavior:
The issue is random reproduction, reproduce on delete cluster.

[2021-09-28 07:12] guangbochen commented on #1301
the `harvesterhci.io.management.cluster` CRD does not exist, can u check why the UI uses this type.

[2021-09-28 07:14] guangbochen commented on #1278
duplicate of https://github.com/harvester/harvester/issues/1300, close as that one is more detailed.

[2021-09-28 07:14] #1278 closed, assigned to n313893254

[2021-09-28 07:28] lanfon72 opened #1302 "[BUG] Unable to generate support bundle"
### Describe the bug
generate support bundle failed but no error message displayed.
(please check log file in additional context)

### To Reproduce
Steps to reproduce the behavior:
1. navigate to `support`
2. click `Generate Support Bundle` and perform

### Expected behavior
1. process number should increasing  (or maybe move console's log up here?)
2. when generate failed,there should display err

[2021-09-28 07:30] guangbochen commented on #1297
close as duplicate of #1244

[2021-09-28 07:30] #1297 closed, assigned to nobody

[2021-09-28 07:39] guangbochen commented on #1281
close in favor of https://github.com/harvester/node-disk-manager/pull/11 and this is just a `kubectl` enhancement fix.
[code]

[2021-09-28 07:39] #1281 closed, assigned to weihanglo

[2021-09-28 07:42] lanfon72 opened #1304 "[BUG] Lack Edit as YAML button for resource creation"
### Describe the bug
Some resources lack the button of `Edit as YAML` to create.
All of those listed in **Expected behavior**.

### To Reproduce
Steps to reproduce the behavior:
1. navigate to the topic listed in **Expected behavior**
2. Click `Create` button
    (in the right up, It seems some confusing when you click it and u still need click another _Create_ button, maybe we can renaming to `NE

[2021-09-28 07:42] n313893254 commented on #1301
`harvesterhci.io.management.cluster` is a spoofedType defined by UI, use for custom data model and route.

[2021-09-28 07:59] lanfon72 opened #1305 "[BUG] Favicon displays incorrect one"
### Describe the bug
It displays *Rancher*'s favicon in the endpoint `/dashboard/auth/login`
The snapshot below, left one is logined, right one not login yet
![image](https://user-images.githubusercontent.com/5169694/135046751-b0c07c02-4302-4fb5-89f1-297d9770ae42.png)

### To Reproduce
Steps to reproduce the behavior:
1. Login to Harvester (It shows Harvester's icon)
2. Logout and refresh (It show

[2021-09-28 08:00] guangbochen opened #1306 "[BUG] nodes are not being deleted on the backend when a cluster is deleted through rancher"
backport https://github.com/rancher/rancher/issues/34946

[2021-09-28 08:40] gitlawr commented on #1301
This is consistently reproducible for me. Steps:
1. Set up Rancher v2.6-head(v2.6-06e19b04ce49a4a8f2895769cfa892b8ad14575c-head)
2. Import a Harvester v0.3.0-preview1
3. Delete the harvester cluster from virtualization management

[2021-09-28 08:57] FrankYang0529 opened #1307 "[BUG] VLAN Network can be deleted when a Running VM uses it"
**Describe the bug**
From admission webhook test plan https://github.com/harvester/harvester/pull/919, VLAN network should not be able to delete when there is a VM attached with it.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable VLAN network in settings
2. Create a network with VLAN 5 and assume its name is `my-network`.
3. Create a VM on VLAN 5.
4. Delete the network `my-network`.

[2021-09-28 09:45] johnliu55tw opened #1309 "[BUG] VM Backup can only be restored once"
**Describe the bug**
A VM backup can only be restored once using "Restore New", then both "Restore New" and "Replace Existing" no longer work. However, a browser refresh would make them work again.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a VM `ubuntu1`
2. Create a backup `ubuntu1-file1`, go to _Backups_ page and wait for it to be Ready
3. Click "Restore New" to create a new V

[2021-09-28 11:57] abonillabeeche commented on #1290
@olljanat Harvester is a virtualization platform. At the moment, it doesn't need separate masters or cp nodes that need to be running outside of the workload nodes. Harvester facilitates the creation of virtual machines on a container platform (as the implementation infrastructure) - It is meant to be running on bare-metal.

[2021-09-28 12:03] olljanat commented on #1290
@abonillabeeche but what is/will be the officially supported way to run RKE2 with minimum maintenance work (like k3OS) then? Will there be one more OS?

#372 is related as my use case of course need support to run non-VM pods on Harvester too.

[2021-09-28 13:31] guangbochen commented on #1232
verified with the `master-48c97ea7-head`, the image name is showing correctly.
![image](https://user-images.githubusercontent.com/4569037/135096614-c0bcf4ab-2dc4-47f0-befe-25e2c7be07ad.png)

[2021-09-28 13:31] #1232 closed, assigned to WuJun2016

[2021-09-28 13:38] guangbochen commented on #1234
@WuJun2016 can we use `Gi` unit conversion instead?
![image](https://user-images.githubusercontent.com/4569037/135097783-63ee4730-107a-4d32-80fa-9f9b61430ab9.png)

[2021-09-28 13:54] WuJun2016 commented on #1234
@guangbochen  I am using Gi units, the backend will convert Gi to m units.

[2021-09-28 14:34] noahgildersleeve opened #1311 "[BUG] Deleting a cluster in rancher dashboard doesn't fully remove it"
**Describe the bug**

When you delete an RKE1/RKE2 cluster from rancher dashboard for Harvester it will remove the nodes from Harvester, but the last node doesn't appear to be removed on the rancher side. It just says that it's still waiting to be removed. On the Harvester side it is removed though.
**To Reproduce**
Steps to reproduce the behavior:
1. Create 3 node RKE2 cluster on Harvester throug

[2021-09-28 17:39] yasker commented on #761
Close as the duplicate of https://github.com/harvester/harvester/issues/1260

[2021-09-28 18:27] alexdepalex commented on #1260
@janeczku

[2021-09-28 18:53] olljanat commented on #632
Afaiu this was implemented by #1155 but not closed automatically because description misses magic Word "Closes"

[2021-09-28 18:55] olljanat commented on #619
Afaiu Fleet have been included to Harvester codebase.

[2021-09-28 19:18] noahgildersleeve commented on #1001
Tested in master-f38adc70-head.

- Showing available namespaces
![image](https://user-images.githubusercontent.com/83787952/135151481-0618d937-14ca-4a2d-b000-a86a3fed5204.png)
- List of VMs in namespaces
![image](https://user-images.githubusercontent.com/83787952/135151595-95f98a14-6e77-45dd-967b-bb42ba9aa498.png)

[2021-09-28 19:18] #1001 closed, assigned to gitlawr, WuJun2016, noahgildersleeve

[2021-09-28 19:31] noahgildersleeve commented on #1277
Tested in master-f38adc70-head. Fixed.
![Screenshot from 2021-09-28 12-30-24](https://user-images.githubusercontent.com/83787952/135153418-6a92f923-1993-40ea-b029-f67dc928875a.png)
.

[2021-09-28 19:31] #1277 closed, assigned to FrankYang0529, noahgildersleeve

[2021-09-28 19:32] noahgildersleeve commented on #1298
Tested in master-f38adc70-head. Fixed. Certificate data added to `KUBECONFIG` downloaded from VIP address.

[2021-09-28 19:32] #1298 closed, assigned to gitlawr, noahgildersleeve

[2021-09-28 19:42] 2stacks opened #1312 "[BUG] VMs on a harvester node can't communicate with the nodes mgmt IP or kube-vip virtual IP"
**Describe the bug**
A VM running on a Harvester node is unable to communicate with that nodes management interface.  This prevents running an "external" Rancher cluster on VMs inside Harvester and using that Rancher installation's node driver to provision new nodes on the Harvester cluster.

**To Reproduce**
Steps to reproduce the behavior:
Simple Test
1. Deploy a VM on Harvester
2. From the VM,

[2021-09-28 19:51] noahgildersleeve commented on #595
Tested in master-f38adc70-head.

- Tested with 2 NICs ON VM with KVM/libvirt
- One NIC active
- One NIC inactive
- Was able to access Harvester and ping an internet address from node

[2021-09-28 19:51] #595 closed, assigned to yaocw2020, noahgildersleeve

[2021-09-28 19:56] noahgildersleeve commented on #1105
Tested with master-f38adc70-head and Rancher v2.6.0-head.
- Created cloud credentials via UI with RKE1 cluster
- Selected cloud credentials from RKE2 cluster c
![Greenshot_2021-09-28_12_54_25](https://user-images.githubusercontent.com/83787952/135156762-a8961952-a79f-40d8-aff4-3ba2522e9422.jpg)
reation

[2021-09-28 19:56] #1105 closed, assigned to n313893254, noahgildersleeve

[2021-09-28 19:57] noahgildersleeve commented on #784
Tested in master-f38adc70-head. Verified as fixed. No console error
![image](https://user-images.githubusercontent.com/83787952/135156873-bc5436ef-3f1b-4dd0-8443-dcb8e9951d2d.png)

[2021-09-28 19:57] #784 closed, assigned to n313893254, noahgildersleeve

[2021-09-28 19:59] noahgildersleeve commented on #1270
Tested in master-f38adc70-head. Got error on trying to create the same named image with trailing and leading spaces.
![image](https://user-images.githubusercontent.com/83787952/135157052-a4ef35e9-61af-4bc4-8090-19b2cb1c7a37.png)

[2021-09-28 19:59] #1270 closed, assigned to n313893254, noahgildersleeve

[2021-09-28 20:04] yasker commented on #1248
Verified NTP part no longer error out during installation.

Though it's obvious now the NTP server check part took less than 5 seconds this time in either of my three nodes. Don't really understand why it works now. Maybe `0.suse.pool.ntp.org` has some issues last time.

Close this as verified for now. Feel free to reopen if it happens again.

[2021-09-28 20:04] #1248 closed, assigned to FrankYang0529

[2021-09-28 20:11] yasker commented on #632
@olljanat Thanks for the reminder. Before we can close an issue, our QA will need to validate the issue has been indeed fixed. So that's why we don't use `close` keyword in the PRs.

[2021-09-28 20:17] noahgildersleeve opened #1313 "[BUG] When VM is off it shows VMI status"
**Describe the bug**

When a VM is off it shows a status `VMI does not exist`.
**To Reproduce**
Steps to reproduce the behavior:
1. Create a VM
2. Turn it on
3. Turn it off
4. Check status
**Expected behavior**

It should not have a status since the off status is already shown to the left.
**Support bundle**

[supportbundle_5e8c08b6-5b6d-46c1-9ebc-612e9547f365_2021-09-28T20-15-16Z.zip](https://git

[2021-09-28 20:32] yasker opened #1314 "[BUG] Server temporarily lost connection after enabled VLAN"
**Describe the bug**
Server temporarily lost connection after enabled VLAN

**To Reproduce**
Steps to reproduce the behavior:
1. Install on nodes
2. Use the same nic as the mgmt network to enable VLAN networking
    * notice the nics on the third node has different name compare to the other two
3. Access the UI after a couple of seconds.
4. Trying import an image from internet.

**Expected behavio

[2021-09-28 20:35] yasker commented on #1314
Hmm, it might due to the promotion though.

[2021-09-28 21:25] olljanat commented on #372
Btw. I just noticed that https://harvesterhci.io contains text:

so I would understand that it means this use case to be supported.

But of course it would be nice to get some official clarification.

[2021-09-29 01:25] noahgildersleeve commented on #1047
Tested on VM in user namespace in master-f38adc70-head

1. Created file and md5 checksum
2. Made backup
3. Overwrote first file, created new checksum
4. Created new file and md5checksum
5. Created backup
6. Restored to first backup
7. Checked file and md5 checksum

[2021-09-29 01:25] #1047 closed, assigned to WuJun2016, noahgildersleeve

[2021-09-29 02:36] gitlawr commented on #761
#1260 is to let Harvester trust additional CAs for external services(for example, download images from a self-signed-cert HTTP server). This is for configuring the serving certs of Harvester. We should track in separate tickets

[2021-09-29 03:06] bk201 opened #1316 "[FEATURE] Move Longhorn storage to another partition"
**Is your feature request related to a problem? Please describe.**
We use persistent partition to store Longhorn data (e.g. `/var/lib/longhorn` for replicas mount).
The space is easily full after serving some workload, this affects the OS and other containers.

**Describe the solution you'd like**

- Create an individual partition for the Longhorn mount.

**Describe alternatives you've considered*

[2021-09-29 03:17] guangbochen commented on #1313
@WuJun2016 when the VM is off, don't need to show any particular VM/VMI/pod related messages

[2021-09-29 03:21] bk201 commented on #1299
@yaocw2020  Is this tested on legacy BIOS or UEFI mode? For large disks, we might want to use UEFI mode (or turn on the `COS_INSTALL_FORCE_EFI` flag) because the installer [defaults to msdos partition in legacy mode](https://github.com/rancher-sandbox/cOS-toolkit/blob/0b3d79b22e5b09644fa91bf2253a5bf3252a5eec/packages/installer/installer.sh#L297-L309).

[2021-09-29 03:31] yaocw2020 commented on #1299
I don't know. It's the problem from a community user.

[2021-09-29 03:44] joy717 opened #1317 "[Question] Is there a way to keep ip address of vms?"
Hi..
The vm's IP will be changed after restarting.
Is there a way to keep the IP address in the vm's lifecycle?
Even the vm is stopped, the IP should be kept until it's destroyed.

[2021-09-29 03:44] gitlawr commented on #1299
Most likely happens on BIOS. With the 2^32*512 bytes = 2TB disk size limit of MBR

[2021-09-29 03:48] gitlawr commented on #1317
You can use the vlan networks: https://docs.harvesterhci.io/v0.2/harvester-network/#vlan

[2021-09-29 03:51] joy717 commented on #1317
Thanks gitlawr
Is there an example or doc?
I don't know how to keep the vm's IP within the whole lifecycle.
/sad

[2021-09-29 05:02] noahgildersleeve commented on #1302
Tested in master-f38adc70-head. Created new support bundl
[supportbundle_5e8c08b6-5b6d-46c1-9ebc-612e9547f365_2021-09-29T01-26-44Z.zip](https://github.com/harvester/harvester/files/7248961/supportbundle_5e8c08b6-5b6d-46c1-9ebc-612e9547f365_2021-09-29T01-26-44Z.zip)
e

[2021-09-29 05:02] #1302 closed, assigned to n313893254, noahgildersleeve

[2021-09-29 05:50] lanfon72 opened #1318 "[FEATURE] validate user's config file settings before install"
**Is your feature request related to a problem? Please describe.**
In the PXE install case, user can easily provide an YAML file with miss/fail/conflict configuration, we better validate the configuration before the installation started.

**Describe the solution you'd like**
It would be good that we can detect the error, halt the installation and display the message for user to triage.

**Describe

[2021-09-29 08:01] mudler commented on #1316
New partitions in cOS can be created via cloud-init [layout](https://rancher-sandbox.github.io/cos-toolkit-docs/docs/reference/cloud_init/#stagesstage_idstep_namelayout ) which can be called [after installation](https://rancher-sandbox.github.io/cos-toolkit-docs/docs/customizing/stages/#after-install) , but that's sub-optimal in case of a single drive, as we already set 4 primary partitions and yo

[2021-09-29 08:53] johnliu55tw opened #1320 "[BUG] Unable to generate ISO using command "make build-iso""
**Describe the bug**
`$ make build-iso` results in error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clone `harvester` repository
2. Run `make build-iso`

**Expected behavior**
`make build-iso` should run without any error.

**Support bundle**

**Environment:**
 - Harvester ISO version:
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630):

**Additional context*

[2021-09-29 10:37] n313893254 commented on #1301
I found the reproduce steps:

1. Go to "virtualization management"
2. Import a cluster named "test"
3. Click another harvester cluster, and then go to the harvester dashboard.
4. Go to "virtualization management" throw the side menu.
5. Delete the "test" cluster.

[2021-09-29 13:15] vielmetti commented on #371
From the tracking issue:  nightly developer releases of `kubevirt` are available at https://kubevirt.io/user-guide/operations/installation/#experimental-arm64-developer-builds.

[2021-09-29 13:28] johnliu55tw commented on #1299
Tested on a VM with UEFI firmware (`ovmf-x86_64-code.bin`), the partition table automatically becomes GPT.

[2021-09-29 15:13] janeczku opened #1323 "[BUG] bond_options parameter not working"
Harvester 0.3.0-rc1

According to the documentation the following configuration should be used to configure the bond mode to `balance-rr` :

[code]

This has no effect.  In order to successfully set the bond interface mode the configuration has to modified by changing `bond_options` to `bond_option`:

[code]

[2021-09-29 15:14] yaocw2020 commented on #1317
You can set a static IP by cloud-init config. For example,
[code]

[2021-09-29 15:24] janeczku opened #1324 "[FEATURE] Fully support configuration of bond options"
As an admin user i want to be able to fully configure the typical Linux bond interface options, such that i can optimize performance and stability of Harvester networking.

But currently the only configurable option is the bonding policy (ie. `mode`):

[code]

The available Linux bonding interface options are documented here: https://www.kernel.org/doc/Documentation/networking/bonding.txt

**Propo

[2021-09-29 15:26] bk201 commented on #1323
@weihanglo I updated the doc. Do you think bond_option**s** (with s) makes more sense? If so, we can update the field in the code and correct the doc again in the future.

[2021-09-29 15:28] janeczku commented on #1323
Since there is more than 1 bond option the plural form `bond_options` makes more sense. See also https://github.com/harvester/harvester/issues/1324

[2021-09-29 15:32] weihanglo commented on #1323
Agreed. And #1324 also seems reasonable to me. We'll add more options and make it plural. Thanks!

[2021-09-29 15:35] lanfon72 commented on #1300
Verified all links updated as below:

![image](https://user-images.githubusercontent.com/5169694/135300707-21b7445d-f5ae-49ff-864b-234ed8e55432.png)

Test Information
----
* Environment: **Baremetal DL360** single node
* Harvester Version: **v0.3.0-rc1**
Verify Steps:
  1. navigate to the endpoint `/dashboard/c/local/harvester/support`
      (either from the URL or click _support_ link on the left

[2021-09-29 15:35] #1300 closed, assigned to lanfon72, n313893254

[2021-09-29 15:41] noahgildersleeve commented on #1072
Tested in master-f38adc70-head. Kubeconfig download button now includes cert information. Tested with
1. Used `KUBECONFIG` to connect via kubectl with `kubectl get node`
2. Verified that IP was correct with VIP address
3. Downloaded `KUBECONFIG` from VIP address via https and no port

[2021-09-29 15:41] #1072 closed, assigned to WuJun2016, noahgildersleeve

[2021-09-29 15:45] janeczku opened #1325 "[BUG] Installation fails if bonding interface is configured without IP and gateway"
Harvester v0.3.0-rc1

**Steps to reproduce**

Install Harvester with a network configuration that defines a bonding interface for VLAN networking without assigning an IP address. Note, that since the bonding interface is merely used for VLAN trunking, assigning an IP address to that interface is neither required nor would it provide any value.

Example:

[code]

**Result**

[2021-09-29 19:05] lanfon72 commented on #568
verified the behavior followed the [steps](https://github.com/harvester/harvester/issues/568#issuecomment-927375947).

Test Information
----
* Environment:  **Bare metal DL360** single node
* Harvester Version: **v0.3.0-rc1**
### Verify Steps:
  1. create image of [k3os](https://github.com/rancher/k3os/releases/download/v0.20.4-k3s1r0/k3os-amd64.iso) in `Images`
  2. create vm1 based on k3os' imag

[2021-09-29 19:05] #568 closed, assigned to shangma, lanfon72

[2021-09-29 20:06] modzilla99 opened #1327 "[FEATURE] Clarify in the installer that bonded nic is not required"
Hey there,

I'd like to try harvester in a VM with nesting first, but am unable to due to the fact that I am not able to select a networking mode without any kind of bond. Or can linux bridges handle that as well as I don't really want to get into ovs just to try it out.
Thanks!

[2021-09-29 20:45] alexdepalex commented on #1282
The image below shows multiple nvme drives, which are already partitioned. The partition itself is already added to the disk configuration, so shouldn't those drives be filtered out as well? Not filtering it out just creates noise.

![image](https://user-images.githubusercontent.com/713019/135345395-dbcc83d9-a772-4c31-b127-c3e1843b8de5.png)

[2021-09-29 20:50] alexdepalex commented on #1253
This still exists in v0.3.0-rc1. Is that correct?
![image](https://user-images.githubusercontent.com/713019/135346622-8f80c559-a8eb-415c-b875-cffef43a1f9e.png)
![image](https://user-images.githubusercontent.com/713019/135346661-5c8be8ff-6a4a-4960-90ca-23e2c0a55365.png)

[2021-09-29 21:50] yasker commented on #1327
@modzilla99 you don't need to have a pair of nics to create mgmt interface. just choose your single nic and the default bonded mechanism is fine.

[2021-09-29 22:14] Jellyfrog opened #1328 "[FEATURE] Show vendor and product of NICs"
**Is your feature request related to a problem? Please describe.**

It can be hard to know which nic is which, and therefore a hint would be to display the MAC address after the name

**Describe the solution you'd like**

![image](https://user-images.githubusercontent.com/759887/135356016-61aa1312-3e47-4b02-b1eb-d63472f6868b.png)

**Describe alternatives you've considered**

**Additional context**

[2021-09-29 22:17] Jellyfrog opened #1329 "[FEATURE] Shell access on ISO image"
**Is your feature request related to a problem? Please describe.**

Sometimes you might need to debug stuff around the installation, like checking network interfaces, hard drives etc.
Therefore it would be good if a login to the shell was provided

**Describe the solution you'd like**

Simplest solution would be that a logged in shell is ready at tty2 or so,
Another solution would be to print the

[2021-09-29 22:40] yasker opened #1330 "[FEATURE] Enhance the import experience to Rancher"
Currently user need to log into a Harvester physical node to run `kubectl` to import the Harvester cluster to a Rancher cluster.

We should allow that in the UI. Also, we need to enforce that one Harvester cluster can only be managed by one Rancher.

[2021-09-29 22:41] yasker opened #1331 "[BUG] Remove kubectl shell on top right"
We don't encourage users to use native kubectl commands, so it doesn't make sense to show the kubectl console on the top right.

[2021-09-29 22:52] Jellyfrog commented on #1328
Or maybe better.. print the description like debian:

![image](https://user-images.githubusercontent.com/759887/135359240-69731c06-e8e7-4eec-b068-6dff5605d89c.png)

[2021-09-30 00:34] yasker commented on #1253
@alexdepalex I think what Harvester showing here is the added up remaining space on each node, for every disk on the node. So it won't show `Scheduled/Reserved` there.

Though, it does look like you have tons of more space than showing in Harvester... Is `858GB` coming from the root disk only?

[2021-09-30 01:21] weihanglo commented on #1282
Great advice!

@guangbochen. Given an already provisioned device, I guess we can hide all parent devices of it. Is it possible to address from the UI side?

Also, in regard to filtering out the root disk (`/dev/sda` from above picture), it does not contain any filesystem `LABEL` nor any provisioned partitions, and it also lack disk vendor or mount point. As a result we cannot filter it out by the

[2021-09-30 01:47] joy717 commented on #1317
Thanks yaocw2020,
Is this static IP different from the Pod's IP?
Is this a "Floating IP"?
What should we do to make this IP connectable?
Thanks for advance.

[2021-09-30 02:47] tscswcn commented on #1299
changed to Unified Extensible Firmware Interface (UEFI)，still have issue.
it is me who raise this issue.
![harvester_uefi_issue1](https://user-images.githubusercontent.com/16184308/135377635-d8b646c7-929a-4386-b80c-09e7930badd8.JPG)

[2021-09-30 02:47] gitlawr commented on #1320
Verified on master head

[2021-09-30 02:47] #1320 closed, assigned to johnliu55tw

[2021-09-30 02:50] guangbochen commented on #1299
@tscswcn what is your Harvester ISO image version, can u try the v0.3.0-rc1 if u are not using this one, thanks?

[2021-09-30 02:52] bk201 commented on #1299
@tscswcn The error message is different from what's in the issue description. line 103 is:
`parted -s ${DEVICE} mklabel ${PARTTABLE}`, looks like the disk can't be written. Dumping your `dmesg` output might help.

[2021-09-30 02:58] yaocw2020 commented on #1317
It's not a floating IP. You can add the secondary network with VLAN ID 1 when creating VMs and assign a static IP to it by cloud-init configuration. Refer to the [document](https://docs.harvesterhci.io/v0.2/vm/create-vm/).

[2021-09-30 03:20] guangbochen commented on #760
I think we need to move it to the next release. For this kind of feature, we need to make sure both the single Harvester UI and the multi-cluster UI are consistent, otherwise, the user won't be able to view and edit the cloud-init and network configs across two UIs ( because the Harvester UI is using the secret and the Rancher's MCM UI can only support raw-text), so it is better for us to deliver

[2021-09-30 03:26] joy717 commented on #1317
Thanks yaocw2020
Now I know I can add a secondary network which is bound a static IP address.

What is the IP range should be for this static IP? The same with the Node IP?
Can you share more detail for explaining:
A packet is outside of the cluster, how does it go to the vm?
Or
To make this static IP address connectable from outside of the cluster , what should we do?

Sorry for my poor English,

[2021-09-30 03:30] yaocw2020 commented on #1317
The static IP In the same subnetwork of Node IP would be connectable if you can access the node.

[2021-09-30 03:52] guangbochen commented on #1209
close in favor of https://github.com/harvester/harvester-installer/pull/120

[2021-09-30 03:52] #1209 closed, assigned to yaocw2020

[2021-09-30 03:53] guangbochen commented on #1056
close in favor of https://github.com/harvester/harvester/issues/1211 as it will be addressed in that issue.

[2021-09-30 03:53] #1056 closed, assigned to nobody

[2021-09-30 04:02] guangbochen commented on #1314
We should use the `harvester-mgmt` bond instead of the NIC name as it has already set its master to the bond NIC, as an enhancement this will be addressed via #1273.

[2021-09-30 04:02] #1314 closed, assigned to nobody

[2021-09-30 04:19] guangbochen commented on #1243
@guangyee we have bumped the built-in rancher and rancher-webhook in the current master-head ISO, can u please help to verify if this issue can still be re-produced, thanks.

[2021-09-30 04:39] guangbochen commented on #580
Currently, we should be able to verify this feature by importing the Harvester v0.3.0-rc1 release to the upstream Rancher v2.6.1-rc5.

**To Test:**
- create a guest k8s cluster with RKE2 v1.21.5+ provider and make sure the cloud provider is set to `Harvester`
- once the guest k8s cluster is up and running, go to the Rancher cluster management page
- create a workload and add a PVC to it via the `S

[2021-09-30 05:22] tscswcn commented on #1299
harvester 0.3- prew

[2021-09-30 05:23] tscswcn commented on #1299
how to do this for just install?

[2021-09-30 06:04] joy717 commented on #1317
Thanks yaocw2020
One more question:
If the Node IP is 192.168.0.1, and I set the vm's static IP to 192.168.0.10.
Which component will response the ARP request (192.168.0.10)?
Or
How my compute knows which host has the IP 192.168.0.10?

[2021-09-30 06:34] jrlittlefoot64 opened #1332 "Dont see Rancher in setting"
Hello, since Version 0.3.0 prev and rc1 I have no Rancher in Settings. I use Harvester with KVM with 6 Cores and 12G Ram

[2021-09-30 06:57] guangbochen commented on #1282
Yes, it makes sense to hide/disable add the parent device when its partition is already provisioned cc @n313893254, additionally, can we sort those devices in a proper tree structure e.g like the output of `lsblk`
[code]

In regards to root disk filtering, I believe those labels are customizable in cOS via https://rancher-sandbox.github.io/cos-toolkit-docs/docs/customizing/stages/, @bk201 do u thi

[2021-09-30 07:03] WuJun2016 commented on #1002
- In singleVirtualCluster, we don't have the filtering categories of user namespace and system namespace and project namespace.
 single cluster:
![image](https://user-images.githubusercontent.com/24985926/135403375-70f509e1-ee23-4a41-9edd-7896953c38b6.png)

- In multiVirtualCluster, we have only project namespace as a category.
multi cluster:
![image](https://user-images.githubusercontent.com/2498

[2021-09-30 07:11] johnliu55tw opened #1333 "[BUG] Backup data in S3 is not deleted after the VM Backup is deleted from Harvester"
**Describe the bug**
Data still exist in S3 even if the VM Backup is deleted from Harvester. I further deleted the VM but data still exists in S3.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new VM
2. Log into the VM and create a 50M file
3. Create a Backup by "Take Backup"
4. Go to "Backups" page and wait for the backup I created to Ready
5. Click "YAML" to find the volumeName:

[2021-09-30 07:12] bk201 commented on #1282
@guangbochen Yeah, this will need support from https://github.com/rancher-sandbox/cOS-toolkit/issues/160

[2021-09-30 07:17] guangbochen commented on #1332
Starting from the Harvester v0.3.0, we recommend running the Rancher server separately either via a VM or following the Rancher recommendations https://rancher.com/docs/rancher/v2.6/en/installation/.

This is because from Rancher v2.6.1(will be released soon), we will be able to provide the multi-cluster and multi-tenant feature of Harvester clusters via a built-in integration of `Virtualization M

[2021-09-30 07:22] janeczku opened #1334 "[BUG] Volumes fail with Scheduling Failure after evicting disc on multi-disc node"
Harvester v0.3.0-rc1

**To Reproduce**

1. Create 3-node Harvester cluster
2. Launch a few VMs
3. Add one or more additional discs to at least one of the nodes and ensure the disk is schedulable
4. On  a multi-disc node, disable scheduling for the initial/system disk and set `Eviction Requested` to `TRUE`

**Expected behaviour**

Replicas are moved from the evicted disc to another schedulable disc

[2021-09-30 07:23] jrlittlefoot64 commented on #1332
Thank you

[2021-09-30 07:23] #1332 closed, assigned to nobody

[2021-09-30 07:30] weihanglo commented on #1282
No. I am afraid that we cannot apply ext filesystem `LABEL` on the disk since it's not a formatted partition.

[code]

[2021-09-30 07:31] yaocw2020 commented on #1328
![image](https://user-images.githubusercontent.com/7421463/135407454-dd62faaa-b5ec-491c-9572-3ab4d8a02c0d.png)

[2021-09-30 07:46] janeczku opened #1335 "[FEATURE] Support collection of crash dumps"
To facilitate troubleshooting crashing of nodes during operation there should be a Harvester configuration option to collect crash dumps. This could include enabling `kdump` service on the OS level as well as writing process level dumps (e.g. Go panics) in a common location.

[2021-09-30 08:36] yaocw2020 commented on #1317
If users do not add some configuration such as arp_proxy, the VM will respond to the arp request(192.168.0.10). You can consider the VM as a normal network node. If you are interested in the Harvester network, you'd better comprehend how we implement the VLAN network which we have explained in the harvester document.

[2021-09-30 08:41] joy717 commented on #1317
Thanks yaocw2020 and gitlawr.
I really appreciate all your help!

[2021-09-30 08:42] #1317 closed, assigned to nobody

[2021-09-30 08:52] lanfon72 commented on #1207
The management NIC is not configurable and should be consistent across all nodes. A proper solution is to create a bond NIC on each node using a same name.

Verified a bond NIC named `harvester-mgmt` is created and used as the management NIC.
It could be configured in ISO install as below:
![image](https://user-images.githubusercontent.com/5169694/135418352-8fb29806-e80a-4974-8522-0152a7c65952.png

[2021-09-30 08:52] #1207 closed, assigned to lanfon72, weihanglo

[2021-09-30 08:55] lanfon72 commented on #1231
Verified the `version` following ISO version, snapshots as below:
![image](https://user-images.githubusercontent.com/5169694/135420735-81fe7ca0-97fb-4999-b178-960000a2c092.png)
(for the `v0.3.0-rc1`)
![image](https://user-images.githubusercontent.com/5169694/135420762-e24e99db-693b-4962-a9e6-c2ae1a221928.png)
(for the `master-head`)

[2021-09-30 08:55] #1231 closed, assigned to johnliu55tw, lanfon72

[2021-09-30 09:12] FrankYang0529 commented on #1069
I can't reproduce the bug in harvester-v0.3.0-rc1. My steps are:

1. Use https://github.com/harvester/ipxe-examples/tree/main/vagrant-pxe-harvester to create a cluster (3 nodes).
2. Delete harvester-node-2 in Hosts page.
3. Reboot harvester-node-2.
4. Wait for harvester-node-2 reboot done. Check Hosts page or run `kubectl get nodes`. harvester-node-2 is not in the list.

[2021-09-30 09:32] olljanat commented on #1290
May I ask the mastermind @ibuildthecloud to share his vision about where this k3OS/RKE2/Harvester/etc should/will go from non-VM pods point of view? (Someone may need ping him on Rancher/Suse as I guess that he will not get notification from this).

I see that Harvester takes automation to totally new level compared to k3OS as it also automates Fleet, kube-vip, Prometheus, etc... installation, con

[2021-09-30 09:59] yaocw2020 commented on #463
The node deletion is blocked by the `wrangler.cattle.io/node` finalizer.
[code]

[2021-09-30 10:02] johnliu55tw opened #1338 "[BUG] Cannot restore VM after changing the Backup Target"
**Describe the bug**
Restoring from backup results in error after changing the Backup Target.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a backup target to S3 bucket `bucket1`
2. Create a VM, then create a backup of it
3. Verify the backup is ready
4. Change the backup target to another S3 bucket: `bucket2`
5. Verify the backup still exists
6. "Restore New" from the backup
7. The

[2021-09-30 12:22] lanfon72 commented on #1240
Verified additional disk which partitioned could be added and auto formatted.
You can't use UI to do partition on the additional raw disk for now, I think it better to be tracked in another issue.

Verified UI provided a randomly named folder and the default mounting location `/var/lib/harvester/extra-disks`

Verified new disks will be remounted automatically after reboot.

![image](https://user-i

[2021-09-30 12:22] #1240 closed, assigned to lanfon72, weihanglo, n313893254

[2021-09-30 12:44] lanfon72 commented on #1237
Can't reproduce this case when verifying #1240 , if you still facing this case on v0.3.0-rc1 or newer, please re-open it.

[2021-09-30 12:44] #1237 closed, assigned to lanfon72, weihanglo, n313893254

[2021-09-30 12:47] lanfon72 commented on #1237
@weihanglo if there have an issue for enhance this ^^^^^^, please refer the issue to it.
(or I will note to create an issue for it, thanks)

[2021-09-30 12:55] janeczku commented on #1335
Maybe also log panics occurring in critical Harvester components to `/dev/kmsg`

[2021-09-30 13:00] janeczku commented on #1335
It should also be possible to setup kernel with access to a serial port to facilitate debugging (`console=ttyS0`)

[2021-09-30 17:28] chajain opened #1339 "[BUG] Backup-target failing for the harvester-ci-testing bucket"
**Describe the bug**
The backup-target in settings is failing when trying to use the aws account credentials provided for harvester-ci-testing bucket. It fails with error
backup-target Modified
Custom back target to store VM backups.
{
  "type": "s3",
  "endpoint": "",
  "accessKeyId": "",
  "secretAccessKey": "",
  "bucketName": "harvester-ci-testing",
  "bucketRegion": "us-east-2",
  "cert": "",

[2021-10-01 00:27] yasker commented on #1338
Change the backup target should refresh all the backups (not deleting from the backup target). Since the backup doesn't exist in the new backup target, we definitely shouldn't show them.

[2021-10-01 00:50] yasker commented on #1329
The username/password for the iso is `rancher/rancher`.

[2021-10-01 00:56] lanfon72 commented on #1285
The force-formatted disk should be added as an additional data disk.

The _Expected behavior_ been verified in #1240 , for raw disk without partition, it is not allowed to be added as a additional disk.
![image](https://user-images.githubusercontent.com/5169694/135549243-6a0e1660-e2ea-45bb-b051-e3e33f09d07e.png)

Test Information
----
* Environment: **Laptop qemu/KVM** single node
* Harvester Vers

[2021-10-01 00:56] #1285 closed, assigned to lanfon72, weihanglo

[2021-10-01 01:00] lanfon72 commented on #1285
The UI and error message still enhance-able, I would check related issues and open one if needed.

[2021-10-01 01:13] lanfon72 commented on #1208
@weihanglo we don't provide partitioning function and didn't allowed user to format raw disk as #1285 and #1240 's result,
I think it is acceptable that new disk should not appeared in the UI until it has been partitioned.
(Raw disk is not allowed to be mounted in Linux, you need create at least one partition for it, so I think it should be the same for longhorn)

[2021-10-01 01:52] weihanglo commented on #1208
That's correct. However, Harvester provides users to create a single partition and format raw disk simultaneously in one-click. I think showing raw disk is required for this feature.

BTW, this issue should be fine and probably fixed.

[2021-10-01 02:17] johnliu55tw commented on #812
Test cases:
- `satellite of love`: Passed
- `= = :) ;P /???\`: Passed
- `"token"`: Passed
- `'token'`: **Failed**

If the string contains single quotes, the system stuck at the state where Harvester management URL shows "Unavailable" and Current status is "NotReady" after installation.
![image](https://user-images.githubusercontent.com/5047724/135555227-b050d9d1-cb02-4b8b-85dc-f07086143f62.png)

S

[2021-10-01 02:55] guangyee commented on #1273
Currently when enabling vlan, if the wrong default physical NIC name is entered (i.e. the enslaved interface instead of the bonded interface), VLAN will stayed non-functional, even if user corrected it later, till the cluster is re-installed. A dropdown menu to prevent these kind of user mistakes would greatly improve usability.

[2021-10-01 03:03] johnliu55tw commented on #1178
Tested and verified on 0.3.0-rc1. Everything works as expected except

However @n313893254 did [mention](https://github.com/harvester/harvester/issues/1178#issuecomment-928701787) this is a common issue so I suppose we're not changing anything right now. @noahgildersleeve Do you think we could close this issue?

[2021-10-01 07:47] johnliu55tw commented on #935
## To verify NTP sync status
- To verify whether NTP sync is enabled and running: `$ timedatectl`: `System clock synchornized` should be `yes` and `NTP service` should be `active`
- To verify NTP servers: `$ timedatectl show-timesync --all`
- To see time synchronization log: `# journalctl -b -u systemd-timesyncd`
## Test info
- Verified version: v0.3.0-rc1

## Test cases
- Use default NTP server `

[2021-10-01 07:49] #935 closed, assigned to FrankYang0529

[2021-10-01 07:52] johnliu55tw commented on #1299
@tscswcn you can switch to another virtual terminal by `Ctrl + Alt + F2` and log in with `rancher/rancher` to execute some commands during installation.

[2021-10-01 08:06] janeczku commented on #1335
https://www.suse.com/support/kb/doc/?id=000016171

[2021-10-01 08:32] johnliu55tw commented on #885
## Note: To verify whether the guest agent is installed and enabled
- **Operating System** and **Kernel Release** in VM detail should correctly show the information
  ![image](https://user-images.githubusercontent.com/5047724/135587520-e2710ce1-d6a1-4c91-b968-3b14723c4028.png)
- Log into the VM and check whether service `qemu-guest-agent.service` is enabled and running
- Restart the VM and check w

[2021-10-01 08:40] lanfon72 commented on #1253
CPU/Memory will synced sometimes, but Storage always inconsistent in different pages.(overall/details)
I guess we use different APIs to fetch them or doing some calculation behind?

[hosts]
![image](https://user-images.githubusercontent.com/5169694/135589115-ccd45e3e-8482-4d0b-a869-45b536bab9d9.png)
[hosts.node0]
![image](https://user-images.githubusercontent.com/5169694/135588969-edcbb1f0-5573-44

[2021-10-01 09:00] FrankYang0529 commented on #648
* [ ] https://github.com/rancher/wrangler/pull/180

[2021-10-01 09:15] johnliu55tw commented on #1283
## Test info
- Verified Harvester version: v0.3.0-rc1

## Test cases
- Create VM with required Volume fields not filling in **should result in errors**
  - [x] Volumes -> Image
  - [x] Volumes -> Size
- Add another volume while creating VM, with required fields not filling in **should result in errors**
  - [x] Add another Volume with "Size" empty
- Create VM with optional fields not filling in sh

[2021-10-01 09:28] FrankYang0529 commented on #991
## Test info

* Verified version: v0.3.0-rc1

## Test cases

* Delete a node which doesn't have VMs on it, but there are VMs on other nodes.
  * [x] Verify the node can be deleted on dashboard
  * [x] Use `kubectl get nodes`. The node is not in the list.

[2021-10-01 09:28] #991 closed, assigned to gitlawr

[2021-10-01 09:57] alexdepalex commented on #1253
I guess it depends on what you want to communicate.

In the host overview, it seems like reporting local disk usage makes sense, but the label should be changed to reflect that it's actually about local storage and not any additional disks that are used for Longhorn. As observed by @lanfon72, the host overview does report the size of the local disk, but the amount used isn't accurate.

On the host

[2021-10-01 10:14] weihanglo commented on #1334
Hi, there are a few similar feature requests in Longhorn: longhorn/longhorn#3076, longhorn/longhorn#1400.

There is also a [temporary hack](https://github.com/longhorn/longhorn/issues/1400#issuecomment-633723863) to manually schedule those volumes (though the steps need an update with new `Replica eviction` feature).

Seems that the feature is arranged in Longhorn v1.3.0 milestone, we might not ab

[2021-10-01 10:16] Jellyfrog opened #1340 "[BUG] Harvester fails to start"
**Describe the bug**

Harvester fails to start at all, it crash loops during the "setting up harvester" stage.
Left it over night and it never succeeds.

**To Reproduce**
Steps to reproduce the behavior:
1. Install harvester from ISO

**Expected behavior**

**Support bundle**

Since I can't reach the webui I copied /var/log/pods and /var/log/containers and journalctl
[containers.tar.gz](https://gi

[2021-10-01 10:41] weihanglo commented on #1334
The logic of adding/removing disk from Longhorn is naive that doesn't take already scheduled volumes into account. Would need a way to avoid this risk. There is one solution currently in my mind:

1. Re-implement a part of disk eviction check logic of Longhorn in Harvester's node disk manager. Mainly make the disk unscheduleable and eviction-requested then wait all volumes on the disk being evicte

[2021-10-01 12:07] alexdepalex commented on #1253
:)

![image](https://user-images.githubusercontent.com/713019/135616196-a1134e7b-b1a1-4385-85cc-c644e6748bfd.png)

[2021-10-01 12:21] Jellyfrog opened #1341 "[FEATURE] ucode-intel/amd missing"
**Is your feature request related to a problem? Please describe.**

The package ucode-intel/amd is missing, this might be good to include for mitigations for spectre and other bugs

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-10-01 13:59] janeczku opened #1342 "[BUG] Frequent kernel panics occurring during operation"
Using Harvester 0.3.0-rc1 nodes are randomly rebooting/crashing.

The following trace can be found in the kernel logs shortly before the automatic reboot (due to `panic=10`) occurs:

[code]

Same or similar issue has been [reported](https://github.com/coreos/fedora-coreos-tracker/issues/940#issuecomment-918629511) for CoreOS (Fedora Kernel).

HW: Dell PowerEdge R740xd

[2021-10-01 14:03] Jellyfrog commented on #1342
I'm seeing the same in https://github.com/harvester/harvester/issues/1340

[2021-10-01 14:37] lanfon72 commented on #632
Verified the feature implemented on *v0.3.0-rc1* and newer.

[bare metal v0.3.0-rc1]
![image](https://user-images.githubusercontent.com/5169694/135636816-73418b42-f52c-4786-9245-247f69003a47.png)
[qemu/KVM master-82506f55-head]
![image](https://user-images.githubusercontent.com/5169694/135637398-d3f7fda3-75e1-46f1-b06a-7d8d0321ce45.png)

Test Information
----
* Environment: **Bare mental DL360** 3

[2021-10-01 14:37] #632 closed, assigned to lanfon72, yaocw2020

[2021-10-01 14:43] lanfon72 commented on #1305
verified this has been fixed.

** _To notice when the page still in loading process, and the icon still shows Rancher's one._ **

Test Information
----
* Environment: **qemu/KVM** 5 nodes
* Harvester Version: **master-82506f55-head**
### Verify Steps:
  1. Login to Harvester (It shows Harvester's icon)
  2. Logout and refresh (It shows Harvester's icon now)

[2021-10-01 14:43] #1305 closed, assigned to WuJun2016

[2021-10-01 14:49] yasker commented on #1342
@Jellyfrog Did you see system reboot or just Harvester cannot boot up?

[2021-10-01 14:57] yasker commented on #1342
@janeczku Need more information to narrow down the issue:
1. Does this always happen on one machine or different machines every time? Same model or different model.
2. Have you observed any error messages from the IPMI console? if there is hardware issue IPMI console can detect it.
3. Do we have the full serial port output? (btw, we should have this built-in for the formal release, filed https://g

[2021-10-01 14:59] yasker opened #1343 "[FEATURE] Improve Harvester kernel debug-ability."
- [x] In case we have any kernel-related issues, a serial port output is a must for debugging.
- [x] Other best practices the kernel team suggested, e.g. including kdump by default (if there is no performance penalty)

[2021-10-01 15:04] jeffmahoney commented on #1342
The message in the summary is a warning, not a panic. If the system reboots later due to a panic it might be related, but there's no telling from this message.  Can you enable crash dumps on this system? (install kdump and yast2-kdump and then run yast2 kdump to enable, then reboot)  That will, at minimum, capture the log at the point of failure and should also capture a system kernel memory dump

[2021-10-01 15:05] janeczku commented on #1342
@yasker i don't think we can install additional packages on Harvester, do we ?

[2021-10-01 15:11] Jellyfrog commented on #1342
I'm not actually sure, I left it unattended over the night, didn't check

[2021-10-01 15:13] janeczku commented on #1342
IPMI

<img width="1359" alt="Screenshot 2021-10-01 at 17 12 24" src="https://user-images.githubusercontent.com/3813921/135644544-78a6cfe0-7393-420f-8a3f-02e733ce0ebf.png">

[2021-10-01 15:25] janeczku commented on #1239
We will add more information once we are able to reproduce

[2021-10-01 15:35] yasker commented on #1236
We need to handle VNC errors more gracefully. We don't need to allow multiple people to use the VNC console at the same.

[2021-10-01 16:23] jeffmahoney commented on #1342
Without a capture of how the host is actually failing, there's not much the kernel folks can do to debug it.

[2021-10-01 16:24] rknightion commented on #1299
I'm on v0.3.0-rc1 and running into this, but my server has no UEFI support (this is with a 2.2TB disk
<img width="779" alt="Screenshot 2021-10-01 at 17 23 13" src="https://user-images.githubusercontent.com/12484127/135654878-d10ffce8-29e0-439e-9a30-9d33c4aa17f6.png">
)
Most other operating systems I install seem to partition the disks as GPT by default. Is there a way to achieve this via some kind