[2021-10-01 16:27] alexdepalex commented on #1236
In general, the Web VNC client works very flacky when using the vip. This might probably be fixed if we're able to add a custom certificate on the vip.

[2021-10-01 16:35] yasker commented on #1342
@janeczku Can you help to fill in more information from https://github.com/harvester/harvester/issues/1342#issuecomment-932303792 ?

[2021-10-01 16:40] yasker commented on #1342
And yes, unfortunately, we cannot install additional packages to the OS.

Filed https://github.com/rancher-sandbox/cOS-toolkit/issues/751 in cOS-toolkit to see what we can do to help with the kernel debugging.

[2021-10-01 16:41] yasker commented on #1342
@Jellyfrog Can you help to check the `uptime` of your system? If it's not rebooting over the night, your issue might be different.

[2021-10-01 16:56] alexdepalex commented on #1342
@yasker We have regular failures here. Already setup sol to capture any dumps.

I understand the nature of cos, but would appreciated some flexibly regarding setting kernel parameters or facilities for collecting dumps.

[2021-10-01 17:00] yasker commented on #1342
@alexdepalex we're working on that now. The enhanced kernel debugging ability will definitely be ready for v1.0 GA (if it misses v0.3).

[2021-10-01 17:13] yasker commented on #1342
Another report of kernel ~~panic~~  warning for v0.3.0-rc1 is in https://rancher-users.slack.com/archives/C01GKHKAG0K/p1633011073251800 (appear to be the same as in the summary).

[2021-10-01 17:13] dirkmueller commented on #1342
please include more output from netconsole/serial console. also is this using optane? this server runs a very old BIOS version that has an update available fixing machine check exceptions (which panic the machine immediately) when using intel optane.

[2021-10-01 17:17] alexdepalex commented on #1342
@dirkmueller We already applied the latest fw updates. Will share our config later, but @janeczku already has it. I also checked with Rado already, but he couldn't find any occurrences oof this type of issues in his resources.

[2021-10-01 17:17] jeffmahoney commented on #1342
This is the same warning as in the summary.

[2021-10-01 17:38] yasker commented on #1342
Thanks @jeffmahoney , corrected.

[2021-10-01 17:44] dirkmueller commented on #1342
Okay great, thats good news. I was just going from the original bugreport and searching for firmware related changelog - it is missing this update https://www.dell.com/support/home/de-de/drivers/driversdetails?driverid=4crd2&oscode=wst14&productcode=poweredge-r740xd&src=o

I have no indication to say it has anything to do with the issue, so  feel free to postpone this.

[2021-10-01 17:58] jeffmahoney commented on #1342
I've filed a bug report to address the warning, at least: https://bugzilla.suse.com/show_bug.cgi?id=1191238

[2021-10-01 18:58] alexdepalex commented on #1342
@dirkmeuller  I checked, and unfortunately, we're running an ancient version of the bios (2.8.2). Not sure if I can use a more recent version.

Our lab setup consists of the following hardware:
- Dell PowerEdge R740xd
- 2x Xeon Gold 5218R 20 cores
- 768GB
- 4 port integrated nic i350-t 10Gb
- 2 x 4 port Intel X710-T network adapter 10Gb
- 6 x 6TB NVMe Dell P4610
- 1 x 900GB boot disk mirrored

[2021-10-02 03:07] yasker commented on #1283
Move back to Implement due to a bug. cc @WuJun2016

[2021-10-02 03:11] yasker commented on #885
@johnliu55tw It's fine if the VM template already contains the guest agent installation as a part of the template.

Can you also test opensuse leap? as well as centos.

If we found issue regarding certain OS, please file another issue to track those.

[2021-10-02 03:13] yasker commented on #1178
@johnliu55tw Feel free to close the issue. The expansion issue is a minor issue. We can file another issue to track it to see what we can do for v1.0.0 release.

[2021-10-02 03:15] yasker commented on #1242
@guangbochen we need to create another issue regarding the insufficient disk scheduling issue against v1.0.0. After that let's close this issue.

[2021-10-02 03:16] yasker commented on #1267
close as verified per https://github.com/harvester/harvester/issues/1267#issuecomment-927223611

[2021-10-02 03:16] #1267 closed, assigned to bk201, noahgildersleeve

[2021-10-02 03:17] yasker commented on #1246
close as verified per https://github.com/harvester/harvester/issues/1246#issuecomment-927234690 .

[2021-10-02 03:17] #1246 closed, assigned to futuretea, noahgildersleeve

[2021-10-02 03:17] yasker commented on #1058
It's a refactoring work. Close as done. Feel free to file new issues if observed.

[2021-10-02 03:17] #1058 closed, assigned to gitlawr, noahgildersleeve

[2021-10-02 03:18] yasker commented on #812
Move back to New Issues and punt to v1.0.0 to solve the single quote issue.

[2021-10-02 03:24] yasker commented on #1043
@chajain Can you help to check if the password reset prompt works in the master?

[2021-10-02 03:26] yasker commented on #1048
We don't have an environment to validate the bonded nic in our lab currently.

@janeczku Can you help to verify the bonded network works for you?

[2021-10-02 03:27] yasker commented on #878
Close as won't fix.

[2021-10-02 03:27] #878 closed, assigned to DaiYuzeng

[2021-10-02 03:31] yasker commented on #1234
@FrankYang0529 Can you help to verify the fix?

[2021-10-02 03:33] yasker commented on #1253
@alexdepalex Unfortunately we probably need to punt this to v1.0.0 release to take a closer look into how the calculation was done in the frontend.

[2021-10-02 03:34] yasker commented on #633
The feature is done. It will be covered in the regression test cases.

Feel free to file new issues against the feature.

[2021-10-02 03:34] #633 closed, assigned to yaocw2020

[2021-10-02 03:37] yasker commented on #1168
~~@slickwarren can you help to validate this?~~

Need to reassign due to Caleb is on other tasks

[2021-10-02 03:38] yasker commented on #1042
~~@slickwarren can you help to validate this?~~

Need to reassign due to Caleb is on other tasks

[2021-10-02 03:39] yasker commented on #938
Multi-cluster management feature works with Rancher 2.6.1-rc5 and Harvester v0.3.0-rc1.

[2021-10-02 03:39] #938 closed, assigned to gitlawr, WuJun2016

[2021-10-02 03:41] yasker commented on #1108
~~@slickwarren can you help to validate this?~~

Need to reassign due to Caleb is on other tasks.

[2021-10-02 07:15] alexdepalex commented on #1342
Since I can't make these kernel boot parameters persistent, I just caught one trace.
<details>
  <summary>Crash</summary>

[code]
</details>

[2021-10-02 15:06] alexdepalex commented on #1048
@yasker Can confirm bonding works. We do miss some specific configuration options which are addresses in https://github.com/harvester/harvester/issues/1324

[2021-10-02 15:10] kristofgilicze commented on #1340
Same:
"setting up harvester",  "not ready".
UI does show up on the network, but i'm unable to log-in.

[2021-10-02 15:16] alexdepalex commented on #1342
<details>
<summary>
This one is from the same host, but different panic.
</summary>

[code]

[2021-10-02 17:58] yasker commented on #1342
@jeffmahoney @dirkmueller @janeczku see the panic trace provided by Alex above.

[2021-10-02 18:00] yasker commented on #1048
Thanks @alexdepalex . I will close this one as validated and track the options enhancement using #1324 .

[2021-10-02 18:00] #1048 closed, assigned to janeczku, weihanglo

[2021-10-02 18:01] yasker commented on #1236
@alexdepalex did you mean you need to reauthorize/disable warnings due to SSL from time to time? If so yes that's will be addressed via #761

[2021-10-02 18:03] alexdepalex commented on #1236
Exactly this, so we'll wait for that.

[2021-10-02 21:39] davidlohr commented on #1342
Does the following patch fix this problem?

https://git.kernel.org/pub/scm/linux/kernel/git/tip/tip.git/commit/?h=sched/urgent&id=2630cde26711dab0d0b56a8be1616475be646d13

[2021-10-02 22:11] jeffmahoney commented on #1342
Rancher folks, what do you need for you to be able to test this patch? Is a package sufficient or is there an image you’re using? If the latter, with whom should we coordinate to rebuild it?

[2021-10-03 04:22] yasker commented on #1342
@jeffmahoney A kernel package should be good enough (which should be upgradable from the current OpenSUSE 15 SP3). FYI: this is the build file for the OS: https://github.com/harvester/os2/blob/dev/Dockerfile . I assume we should be able to pull/install an extra package somewhere in there.

[2021-10-03 04:32] yasker commented on #1328
We also need to add mac address to the nic description.

[2021-10-03 04:33] yasker commented on #1143
Haven't seen this issue for the last few weeks. Move to v1.0.0 in case we can reproduce it again.

[2021-10-03 04:37] yasker commented on #1019
Imported Harvester v0.3.0 cluster with RKE2 built-in cloud provider support has been validated in https://github.com/rancher/dashboard/issues/4208. Guest CSI driver will be validated in https://github.com/harvester/harvester/issues/580 . Close the issue as done.

[2021-10-03 04:37] #1019 closed, assigned to gitlawr, yaocw2020, n313893254

[2021-10-03 04:38] yasker commented on #1190
I believe this has been fixed as a part of UI integration. @johnliu55tw please verify. Thanks.

[2021-10-03 04:39] yasker commented on #1282
@weihanglo Is there a UI change related to this? If so, we might have to punt it to v1.0.0 since Rancher UI's merge window has closed.

[2021-10-03 04:41] yasker commented on #1283
Move to v1.0.0 due to Rancher UI merge window has closed.

[2021-10-03 04:42] yasker commented on #1273
@yaocw2020 We won't be able to make any UI changes now due to Rancher UI merge window has closed. We can continue to enhance the backend part. Please create another issue for the UI enhancement and use this ticket to track the backend enhancement. Thanks.

[2021-10-03 04:43] yasker commented on #283
@weihanglo What's the update on this issue? Does this mean the guest CSI driver won't actually work since we cannot hot unplug the volume?

[2021-10-03 04:46] yasker commented on #1299
We need to fix this in v0.3.0. It's common for users to have a hard drive bigger than 2T (which around 4294967295 * 512).

[2021-10-03 04:47] yasker commented on #908
There is a PR related to this issue. Let's check if it has been fixed yet. If not, we can punt it to v1.0.0.

[2021-10-03 04:48] yasker commented on #1069
Move to v1.0.0 due to cannot reproduce.

[2021-10-03 04:49] yasker commented on #1111
This should be obvious to observe during the testing. Close it as fixed now. Feel free to reopen if needed.

[2021-10-03 04:50] yasker commented on #1334
We need to move this issue to v1.0.0 due to It's caused by a Longhorn hard anti-affinity limitation. Longhorn will fix it in the v1.2.2, which will align with Harvester v1.0.0 release.

[2021-10-03 04:55] yasker commented on #1306
It's hard to reproduce this issue now. Move to v1.0.0.

[2021-10-03 04:56] yasker commented on #1022
Unfortunately, we don't have enough time to finish the upgrade support in v0.3.0. Move to v1.0.0.

[2021-10-03 04:57] yasker commented on #1176
Move to v1.0.0 due to unable to reproduce.

[2021-10-03 04:58] yasker commented on #1081
Close as cannot reproduce. Feel free to reopen if needed.

[2021-10-03 04:58] #1081 closed, assigned to WuJun2016

[2021-10-03 04:59] yasker commented on #960
Move to v1.0.0 due to NFS backupstore is not P1 use case for v0.3.0.

[2021-10-03 04:59] weihanglo commented on #283
Ｗe're currently upgrading KubeVirt to v0.4.5 (#1336) and only after that we can hot unplug volume. AFAIK the hot unplug API in backend side is completed but the UI side seems lack the feature.

[2021-10-03 05:02] yasker commented on #463
Cannot reproduce the issue in the latest master. Close for now. Feel free to reopen if needed.

[2021-10-03 05:02] #463 closed, assigned to yaocw2020

[2021-10-03 05:03] yasker commented on #930
@alexdepalex This issue seems pretty old and with k3os. Does this still happen with v0.3.0-rc1?

[2021-10-03 05:04] yasker commented on #949
Not sure if this still exists. Need to recheck.

[2021-10-03 05:04] yasker commented on #954
Works for me in master. Close as fixed.

[2021-10-03 05:04] #954 closed, assigned to nobody

[2021-10-03 05:09] weihanglo commented on #1282
I don't think so. For this issue we filter disk only on the backend logic.

[2021-10-03 05:13] yasker commented on #1069
I also cannot reproduce this issue. The deleted node will stay in `NotReady` state and won't show up in the Harvester UI. RKE2 server is down due it seems lost the IP of the remote node. Close as cannot reproduce.

[2021-10-03 05:13] #1069 closed, assigned to nobody

[2021-10-03 05:16] yasker commented on #1339
It seems Harvester is performing a connection check that requires additional permission for S3 than necessary.

[2021-10-03 05:21] yasker commented on #582
~~@slickwarren can you help to verify this one?~~

Need to reassign due to Caleb is out.

[2021-10-03 05:22] yasker commented on #1063
~~@slickwarren can you help to verify this one?~~

Need to reassign due to Caleb is out.

[2021-10-03 05:25] yasker commented on #982
Not sure if there is anything we can do for this release. Need to investigate first.

[2021-10-03 05:26] yasker commented on #283
UI part is fine. Let's file another issue for UI to hot unplug the volume. It needs to work for the CSI driver from the backend.

[2021-10-03 11:14] #1178 closed, assigned to johnliu55tw, n313893254

[2021-10-04 01:34] TachunLin commented on #908
@yasker
After checking, this issue still exists on v0.3.0-rc1 and newer.
Move it to review pipeline for considering punt to v1.0.0 milestone

### Result
if users check the box "**installing guest agent**" before choosing a predefined user data template.
The guest agent install configuration will be covered

### Test Information
***
* Test Environment: bare metal 3 nodes and qemu/KVM 1 nodes
* Harv

[2021-10-04 03:08] weihanglo commented on #987
Confirmed that thisl issue has been resolved on the ISO from 82506f5. Closed.

<details>

<summary>Click to see screenshots</summary>

### List of volumes after restore

![image](https://user-images.githubusercontent.com/14314532/135787036-7e2c698e-4cc2-4cea-bfff-4962118a64b5.png)

### Volumes of original VM

![image](https://user-images.githubusercontent.com/14314532/135787102-1ce64df0-523e-4b04-

[2021-10-04 03:08] #987 closed, assigned to weihanglo, WuJun2016

[2021-10-04 03:12] FrankYang0529 commented on #798
## Test Info

* Verified version: v0.3.0-rc1
* Environment: 2 nodes in KVM

## Test cases

* Run a VM, create a file on VM, and migrate to another node.
  * [x] VM can be migrated.
  * [x] File is still existent.
* Followed above test case. Enable Maintenance Mode.
  * [x] VM can be migrated to another node.
  * [x] File is still existent.

[2021-10-04 03:12] #798 closed, assigned to FrankYang0529

[2021-10-04 03:55] FrankYang0529 commented on #1284
## Test info

* Verified version: v0.3.0-rc1

## Test cases

* Modify Labels or description in node config.
  * [x] Popup an notification.
![Screenshot from 2021-10-04 11-55-02](https://user-images.githubusercontent.com/4927361/135790467-7a0b53fe-bfc8-47c7-b0d3-16fc04744510.png)

[2021-10-04 03:55] #1284 closed, assigned to FrankYang0529, n313893254

[2021-10-04 04:51] guangyee commented on #1243
Closing it as the problem is no longer occurring.

[2021-10-04 04:51] #1243 closed, assigned to guangyee, johnliu55tw

[2021-10-04 05:33] FrankYang0529 commented on #817
## Test info

* Verified version: v0.3.0-rc1
* Environment: 2 nodes on KVM

## Test cases

* Choose a specific node to deploy a VM.
  * [x] Dashboard can list available nodes.
![Screenshot from 2021-10-04 13-17-13](https://user-images.githubusercontent.com/4927361/135798107-47acda47-4f14-4ad1-b606-005bf14eb79d.png)
  * [x] VM can be deployed to a specific node.
![Screenshot from 2021-10-04 13-17-4

[2021-10-04 06:12] johnliu55tw opened #1344 "[BUG] VM(CentOS 8) with "Install guest agent" enabled cannot show correct information from the guest agent"
**Describe the bug**
GUI shows "Guest agent required" for both _Operating System_ and _Kernel Release_ fields, even with "Install guest agent" selected while creating the VM.
![image](https://user-images.githubusercontent.com/5047724/135799807-c8ba85f7-0ddd-44b4-a5dd-986b0eadc929.png)
![image](https://user-images.githubusercontent.com/5047724/135799834-73ee635f-10ac-4436-bd0d-3570df97e40d.png)

**

[2021-10-04 06:19] johnliu55tw commented on #885
@yasker Additionally verified on these image and updated the comment above:
- openSUSE Leap 15.3: https://download.opensuse.org/repositories/Cloud:/Images:/Leap_15.3/images/openSUSE-Leap-15.3.x86_64-NoCloud.qcow2
- CentOS 8: https://cloud.centos.org/centos/8/x86_64/images/CentOS-8-GenericCloud-8.4.2105-20210603.0.x86_64.qcow2

CentOS 8 has a weird behavior (https://github.com/harvester/harvester/i

[2021-10-04 06:20] #885 closed, assigned to johnliu55tw, DaiYuzeng, WuJun2016

[2021-10-04 06:59] johnliu55tw commented on #1190
Verified on 0.3.0-rc1. Web VNC opened without any issue.

[2021-10-04 06:59] #1190 closed, assigned to johnliu55tw, n313893254

[2021-10-04 07:02] FrankYang0529 commented on #1212
## Test info

Verified version: master-e617c6ae-head

## Test cases

* Run installer on KVM with DHCP server
  * [x] Show applying message for DHCP mode
![Screenshot from 2021-10-04 14-30-38](https://user-images.githubusercontent.com/4927361/135807193-1ef0a4a1-b498-4eb9-933a-856eeb94ff29.png)
  * [x] Show applying message for Static mode
![Screenshot from 2021-10-04 14-51-04](https://user-images.g

[2021-10-04 07:02] #1212 closed, assigned to FrankYang0529, johnliu55tw

[2021-10-04 07:10] FrankYang0529 commented on #1234
## Test info

* Verified version: master-e617c6ae-head
* Environment: 1 KVM (8 cores, 20G RAM)

## Test cases

* Create a VM with 2 disks and run `dd if=/dev/zero of=/dev/vdb bs=1M conv=sync`
  * [x] VM doesn't crash
  * [x] VM shows no space message
![Screenshot from 2021-10-04 15-06-14](https://user-images.githubusercontent.com/4927361/135808188-0a6f7bd2-39ce-478e-af0f-df83c92b093d.png)

[2021-10-04 07:10] #1234 closed, assigned to FrankYang0529, WuJun2016

[2021-10-04 08:11] FrankYang0529 commented on #945
I can reproduce this issue with s3 backup.
![Screenshot from 2021-10-04 16-10-37](https://user-images.githubusercontent.com/4927361/135816239-86b4f84e-887f-4942-9142-9b5d8af08b2a.png)

[2021-10-04 08:44] Jellyfrog opened #1345 "[BUG] NTP connection check unreailable"
**Describe the bug**

Something is wrong with the NTP connection check, sometimes it works, sometimes it doesn't, and it seems to be rather 50/50
However it does work when trying from the tty:

![Screenshot from 2021-10-04 10-36-49](https://user-images.githubusercontent.com/759887/135819932-7bf7614b-358e-476d-bab6-1205af559dd6.png)

![Screenshot from 2021-10-04 10-37-46](https://user-images.github

[2021-10-04 12:10] johnliu55tw commented on #879
## Test info
- Verified Harvester version: v0.3.0-rc1

## Test cases and results
- Change volume size using Config
  - Expand volume when VM is Off should succeed - PASS
  - Expand volume which has been expanded before when VM is Off should succeed - PASS
  - Expand volume when VM is On should not be allowed - PASS
  - Shrink volume when VM is Off should not be allowed - PASS
  - Shrink volume whe

[2021-10-04 12:50] johnliu55tw opened #1346 "[BUG] Expand volume size to which exceed the system limit failed silently"
**Describe the bug**
While expanding the volume size of a VM, If the specified size exceeds the system limit, Harvester didn't show any error message, but the size expansion actually failed. Checked by logged into the VM and verify the actual disk size.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a VM with 10G volume
2. Stop the VM
3. Go to "Volumes" page and expand the volume to

[2021-10-04 14:10] yasker commented on #1064
~~@slickwarren can you help to verify this one?~~

Need to reassign due to Caleb is out.

[2021-10-04 16:06] jeffmahoney commented on #1342
The first Oops is trimmed such that we see a hard lockup report from a previous boot and are missing the address being dereferenced.

[code]

[code]

[code]

`%rdi = 0` -> Oops.

Given that we've already dereferenced `lock` at line 459 (and possibly line 507), `lock` should still be valid at line 510 so something has corrupted the variable.

The second Oops points to kernel/sched/fair.c:3636

[cod

[2021-10-04 17:12] bgulla commented on #1345
+1 reproduced

[2021-10-04 17:17] jeffmahoney commented on #1342
Please ignore the analysis of the first oops. I was reading the wrong register dump. It's not actually an oops and is probably another lockup report.  The lines at the top of that report _are_ from an Oops but it's truncated.

[2021-10-04 17:17] yasker commented on #1327
We need to highlight in the installer that we don't require a bonded nic for the network installation.

[2021-10-04 18:03] modzilla99 commented on #1327
Sorry, was a little busy the last days. Yes as you said, it totally works that way!

Issue could be closed! :)

[2021-10-04 18:19] yasker commented on #1327
@modzilla99 nice to hear that! we'd like to keep the issue open to track the fix for the prompt message, to avoid confusion like yours in the future.

[2021-10-04 18:24] yasker commented on #879
@johnliu55tw `in use` means the volume is still associated with a VM, so it's expected.

Regarding expansion beyond supported, there is a Longhorn issue that was recently fixed. https://github.com/longhorn/longhorn/issues/2962 . We should carry the error information to the Harvester UI as well in the next release.

[2021-10-04 18:26] yasker commented on #817
@FrankYang0529 You're right, the nodes in the maintenance modes shouldn't be listed. Please file a separate issue regarding the node in the maintenance mode. We will track it for v1.0.0 release.

[2021-10-04 18:26] yasker commented on #908
Move to v1.0.0 due to validation failed in v0.3.0.

[2021-10-04 18:30] yasker commented on #648
The majority of the CRD update has been done. Since Harvester has pinned down an underlying Kubernetes version, this is not a release blocker for v0.3.0. Move to v1.0.0.

[2021-10-04 19:01] yasker commented on #1342
@alexdepalex Is there any log above the line `[  137.985537] general protection fault: 0000 [#1] SMP NOPTI`?

[2021-10-04 19:03] alexdepalex commented on #1342
No.

[2021-10-04 19:30] jeffmahoney commented on #1342
Built packages for the kernel are here: https://download.opensuse.org/repositories/home:/jeff_mahoney:/branches:/SUSE:/SLE-15-SP3:/Update/standard/x86_64/

You should only need kernel-default and _maybe_ kernel-default-optional.

[2021-10-04 19:30] yasker commented on #648
We cannot fix the issues in the controllers at this moment due to https://github.com/rancher/wrangler/pull/180#issuecomment-933787561 . Move the issue to beyond `future`, waiting for Rancher team to figure out a solution.

[2021-10-04 19:32] yasker commented on #1342
@bk201 Can you help to build a Harvester iso today with the kernel from https://github.com/harvester/harvester/issues/1342#issuecomment-933789767 ?

Also, since it's a kernel debug build, it's better if we can include kdump into the build as well. Ref: https://github.com/harvester/harvester/issues/1342#issuecomment-932309680

[2021-10-04 21:23] yasker opened #1347 "[EPIC] Documentation for v0.3.0"
## Feature
- [x] Update GitHub frontpage (https://github.com/harvester/harvester) https://github.com/harvester/harvester/pull/1408
     - [x] new UI screenshot
     - [x] Correct diagram (it still shows K3OS)
     - [x] Correct minimal requirement.
- [x] Update documentation frontpage https://docs.harvesterhci.io/v0.3/
     - [x] new UI screenshot
     - [x] Correct diagram (it still shows K3OS)

[2021-10-04 21:25] guangyee commented on #841
Does not appear this is fixed. Here's what I did in my vagrant 3-node Harvester cluster.
1. Create two VMs, one on Harvester node 1 and the other on node 2. Both with the second NIC using VLAN 1 network.
2. Login to the first VM and make sure it is able to ping the the second VM via the VLAN IP.
3. Login to node 1 and execute command `iptables -S FORWARD` and noticing that the policies for `harves

[2021-10-04 21:30] yasker commented on #841
@futuretea Why are we setting up the iptables rules in this way? I saw the label `dev-mode` so are there any special requirements regarding this issue?

[2021-10-04 21:37] shangma commented on #1301
### Test Info

- Verified info:
    - Harvester: v0.3.0-rc1
    - Rancher: v2.6.1-rc10
- Environment: rancher in a vm, harvester inside another, and both are running in KVM

### Test case

1. start rancher in a vm, start harvester in another
2. import harvester into rancher from "Virtualization Management"
3. once the imported one is active, delete it
4. the imported harvester cluster is **success

[2021-10-04 21:37] #1301 closed, assigned to shangma, n313893254

[2021-10-04 21:46] chajain commented on #1043
Verfied, Looks good now.

[2021-10-04 21:46] #1043 closed, assigned to chajain

[2021-10-04 23:22] chajain commented on #1108
Verified it by creating a VM using terraform and specifying the machine_type in the resource for VM.

[2021-10-04 23:22] #1108 closed, assigned to guangyee, futuretea, chajain

[2021-10-04 23:28] chajain commented on #1227
Tested using the latest terraform-harvester-provider 0.2.5. The VM is created and destroyed successfully using terraform. Used the same resource as mentioned earlier in the Bug.

[2021-10-04 23:28] #1227 closed, assigned to futuretea, chajain

[2021-10-04 23:35] yasker opened #1348 "[BUG] Rancher: Cluster owner not able to edit Harvester cluster without accessing cloud credential"
**Rancher Server Setup**
- Rancher version: `v2.6-head`
- Installation option (Docker install/Helm Chart): All works
   - If Helm Chart, Kubernetes Cluster and version (RKE1, RKE2, k3s, EKS, etc): RKE2
- Proxy/Cert Details:

**Describe the bug**
Cloud credentials aren't shareable, so if you create a cluster with user A, make user B a cluster owner (or other roles), and then come to the edit screen

[2021-10-04 23:35] chajain commented on #1168
Created a VM using terraform and the resource has a root disk which uses auto_delete = true.
disk {
    name       = "rootdisk"
    type       = "disk"
    size       = "10Gi"
    bus        = "virtio"
    boot_order = 1

    image        = "{{ image_name }}"
    auto_delete  = true
  }

The VM is created successfully and the root disk is deleted automatically when VM is destroyed using terraform.

[2021-10-04 23:35] #1168 closed, assigned to guangyee, futuretea, chajain

[2021-10-04 23:44] yasker commented on #930
Likely a non-issue now. Move to v1.0.0.

[2021-10-05 01:36] johnliu55tw commented on #879
Close this ticket because it's work as expected and corner case is tracked by a bug.

[2021-10-05 01:36] #879 closed, assigned to johnliu55tw, WuJun2016

[2021-10-05 01:47] yasker opened #1349 "[FEATURE] Move `download kubeconfig` icon"
`Download Kubeconfig` shouldn't be so obvious in the UI, since we don't encourage users to use the Harvester cluster as a normal Kubernetes cluster.

The only use case for kubeconfig is for debugging or importing as an external cluster to Rancher. The P1 use case with Rancher is via imported Harvester cluster, not via an external Harvester cluster via kubeconfig. So we shouldn't highlight the down

[2021-10-05 02:07] FrankYang0529 opened #1350 "[BUG] Nodes in maintenance mode are listed in Node Scheduling selection"
**Describe the bug**
When trying to create a VM in a specific node, nodes in maintenance mode are listed in the selection.

![maintenance mode](https://user-images.githubusercontent.com/4927361/135798107-47acda47-4f14-4ad1-b606-005bf14eb79d.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a cluster (2 nodes).
2. Go to the Host page and enable maintenance mode for 1 node.
3. Go to

[2021-10-05 02:08] FrankYang0529 commented on #817
File a new issue https://github.com/harvester/harvester/issues/1350 and close this one.

[2021-10-05 02:08] #817 closed, assigned to FrankYang0529, DaiYuzeng

[2021-10-05 04:30] FrankYang0529 commented on #1345
Hi @Jellyfrog, for [NTP validation](https://github.com/harvester/harvester-installer/blob/bce2a81adaf7a34e644cd46f902d31e0a349575c/pkg/console/util.go#L108-L115), we send a simple NTP request to check whether servers can work, so it depends on network quality.

@yasker, do you think we need to add a retry mechanism for NTP validation? We already [prolong the timeout](https://github.com/harvester/h

[2021-10-05 04:37] lanfon72 commented on #1323
Hi @janeczku , for currently we use `bond_option` (without **s**) to configure, sorry it was a typo in documentation.
(fixed in https://github.com/harvester/docs/pull/26)

The configure option will be update to `bond_options` (with **s**) when #1324 implemented, please use the issue to track its status.

[2021-10-05 04:37] #1323 closed, assigned to johnliu55tw, lanfon72

[2021-10-05 06:45] lanfon72 opened #1351 "[BUG] backup-target NFS unable to mount with error exit status 32"
### Describe the bug
Unable to set backup-target to use NFS `nfs://10.84.44.120:/mnt/nfs_share` as mount point.
![image](https://user-images.githubusercontent.com/5169694/135975120-92b02b42-01b8-4b6f-ab27-d2808995ee57.png)

### To Reproduce
Steps to reproduce the behavior:
1. create an NFS server to accept imcoming mount.
2. login as admin, nagivate to advance -> settings
3. edit `backup-target` f

[2021-10-05 06:56] lanfon72 opened #1352 "[BUG] advanced options `auth-max-ttl-minutes` not exists"
### Describe the bug
_Advanced_ test cases No.3 and No.4 require to test `auth-max-ttl-minutes`.

### To Reproduce
Steps to reproduce the behavior:
1. Log in as admin
2. Navigate to advanced settings
3. configure option `auth-token-max-ttl-minutes` not exists

### Expected behavior
Either able to configure `auth-max-ttl-minutes` or remove test cases

## Environment:
 - Harvester ISO version: **mas

[2021-10-05 11:01] FrankYang0529 commented on #1177
## Test info

* Verified Harvester version: v0.3.0-rc1
* Verified Rancher version: v2.6.1-rc5

## Test cases

* A a user as member and click support link.
  * [x] Generate Support Bundle is not on the page.
![Screenshot from 2021-10-05 18-58-25](https://user-images.githubusercontent.com/4927361/136010882-9a5d0f70-fd20-454d-a28c-f119e3a1e80a.png)

[2021-10-05 11:01] #1177 closed, assigned to FrankYang0529, n313893254

[2021-10-05 12:08] lanfon72 commented on #1309
Verified we can restore backup any number of times now.

![image](https://user-images.githubusercontent.com/5169694/136019224-3e28ac30-990a-4a6a-916a-ab7dfd032177.png)

Test Information
----
* Environment: **Bare mental DL360** 3 nodes
* Harvester Version: **master-82506f55-head**
### Verify Steps:
 ** Follow the Reproduce steps above**

[2021-10-05 12:08] #1309 closed, assigned to lanfon72, n313893254, WuJun2016

[2021-10-05 14:05] johnliu55tw commented on #1299
We could force using GPT partition scheme on legacy BIOS system, as GRUB supports this. I've submitted a PR for cOS-tookit for this usage: https://github.com/rancher-sandbox/cOS-toolkit/pull/759

[2021-10-05 14:14] yasker commented on #1345
Can we include multiple NTP servers by default? Will the system automatically check the next one if the first one doesn't work?

Also I suspect there is a race condition regarding the network configuration behind the scene. For fixing that we need to reproduce the issue first in the lab.

[2021-10-05 14:35] FrankYang0529 commented on #1345
Yeah, we can give multiple NTP servers. Even if we don't give any NTP server, we still have default `FallbackNTPServers` in the system.
![Screenshot from 2021-10-05 22-32-58](https://user-images.githubusercontent.com/4927361/136044356-8b5c0a20-befc-4605-86af-b2e71d8dfc9a.png)

[2021-10-05 15:28] yasker commented on #1345
The fallback mechanism looks good at the moment. We probably don't have time to find the root cause in a couple of days before the code freeze. Move to v1.0.0.

[2021-10-05 15:33] yasker commented on #1342
Some more information on how to debug in the OS: https://github.com/rancher-sandbox/cOS-toolkit/issues/751#issuecomment-934112598

[2021-10-05 16:18] yasker commented on #1352
Option removed. Need to update the test case.

[2021-10-05 16:43] yarunachalam commented on #1215
Validated with import resource as per the suggestion https://github.com/harvester/harvester/issues/1042. It works as expected. Closing the ticket

[2021-10-05 16:46] yarunachalam commented on #1042
validated cluster network without namespace in the resource. It works as expected

resource "harvester_clusternetwork" "vlan" {
  lifecycle {
    prevent_destroy = true
  }
  name                 = "vlan"
  enable               = true
  default_physical_nic = "eth0"
}

[2021-10-05 16:51] yasker commented on #1343
Some debug methods we can put in our documents. https://github.com/rancher-sandbox/cOS-toolkit/issues/751#issuecomment-934112598

[2021-10-05 16:53] yasker opened #1353 "task: Document the release process"
We need to document the release process so knowledge can be shared across the team.

[2021-10-05 17:46] yshashix opened #1354 "[Question] How to set https proxy?"
While installting , i only get place to set HTTP proxy but not https proxy. Is it same place ?
I installed release 0.2.

[2021-10-05 17:55] chajain commented on #1042
Verified by @yarunachalam

[2021-10-05 17:55] #1042 closed, assigned to guangyee, futuretea, chajain

[2021-10-05 18:12] yasker commented on #1340
There is a kernel warning in the log

[code]

[2021-10-05 18:14] yasker commented on #1340
RancherD error:

[code]

[code]

[2021-10-05 18:25] yasker commented on #1340
@kristofgilicze Please provide log as well, feel free to file another issue since the root cause might be different.

[2021-10-05 18:42] guangyee opened #1355 "[FEATURE] We should not expose 'prevent_destroy' attribute in Terraform 'harvester_clusternetworks' resource"
**Is your feature request related to a problem? Please describe.**
If the `prevent_destroy` attribute is set to `false`, executing `terraform destroy` will delete the special `vlan` resource, which causes the VIP to become non-functional. Furthermore, the networking config is no longer available in the UI. We should not expose the `prevent_destroy` option to prevent user from shooting-themselves-i

[2021-10-05 19:06] yasker commented on #1355
@futuretea what's the use case for `prevent_destory=false` scenario?

[2021-10-05 19:28] shangma commented on #552
### Test Info

- Verified version:

  - Rancher: v2.6.1-rc10
  - Harvester: v0.3.0-rc1
- Environment: rancher and harvester are running in its own vm respectively

### Test case
1. start rancher using docker in a vm and start harvester in another
2. import harvester into rancher from "Virtualization Management" page
3. On rancher page, go to "User & Authentication" -> "Auth Provider" and choose Gi

[2021-10-05 19:28] #552 closed, assigned to shangma, gitlawr

[2021-10-05 20:07] janeczku opened #1357 "[BUG] Crash dump not written when kernel panic occurs"
1. Using 0.3.0-rc1-hotfix1
2. Trigger a kernel crash:
[code]

Expect:
Crash dump is written to /var/crash

Actual:
Crash dump is not written, system just hangs

Note:
The server in this case has 768GB memory. Harvester seems to use a hardcoded `crashkernel=219M,high crashkernel=72M,low` which is not sufficient to perform crash dump on a system with that amount of RAM.

We probably need to make `cr

[2021-10-05 20:07] yasker commented on #1064
This issue seems have been fixed when fixing https://github.com/rancher/dashboard/issues/4299.

[2021-10-05 20:08] yasker commented on #1357
I doubt we need to dump the whole memory. Most of that is not the kernel.

[2021-10-06 03:09] weihanglo commented on #1325
We've just [added a method `none` to bypass some network configurations](https://github.com/harvester/harvester-installer/pull/142) on the latest installer. The relevant doc will be updated soon. Thanks.

[code]

[2021-10-06 03:52] bk201 commented on #1357
The reserved memory values are calculated in the installation time based on the formula [here](https://doc.opensuse.org/documentation/leap/tuning/html/book-tuning/cha-tuning-kexec.html#sec-tuning-kexec-crashkernel).

Please help to collect
- `blkid`
- `journalctl -u kdump`
- The crash kernel booting log:
  - Attach any virtual terminal to the serial port of the server.
  - When booting, press `e`

[2021-10-06 04:18] bk201 commented on #1340
This might be similar to https://github.com/harvester/harvester/issues/1243.
@Jellyfrog Would you mind trying out the [master ISO](https://releases.rancher.com/harvester/master/harvester-master-amd64.iso) to see if the problem is already fixed? The system seemed to reboot during the first time setup.

Enable debug logging level of rancher-webhook to see why it rejects resource creation:
- `kubectl

[2021-10-06 05:01] bk201 commented on #1341
The ucodes should be included in the latest master ISO.

Archwiki provides ways to verify if microcodes are applied.
https://wiki.archlinux.org/title/microcode#Verifying_that_microcode_got_updated_on_boot

[2021-10-06 05:03] bk201 commented on #1127
This is not an issue anymore.

[2021-10-06 05:03] #1127 closed, assigned to bk201

[2021-10-06 05:38] bk201 commented on #1225
Could be we didn't ship the `kernel-firmware-amdgpu` package in the OS.

[2021-10-06 07:13] alexdepalex opened #1358 "[BUG] "Add disk" drop down resets back to first item"
**Describe the bug**
When hovering over a disk from the `Add disk` drop-down menu, the selection will jump back to the first item after a certain time period.

**To Reproduce**
Steps to reproduce the behavior:
- Select `Edit Config` from a node's context menu
- Select `Disks`
- At the bottom of the screen click on the `Add Disk` drop-down menu
- Hover over a disk that is not the first on the list

[2021-10-06 08:40] lanfon72 commented on #1333
Reproducible on test case *Delete multiple backups* which is **Backup and Restore**'s No.8.

[2021-10-06 09:38] FrankYang0529 commented on #1338
I have checked that longhorn delete all backups when we change the backup target, so we should also delete VM backup too when the backup target changed.

[2021-10-06 10:00] bk201 commented on #1343
Crash dump feature is tracked in https://github.com/harvester/harvester/issues/1335

[2021-10-06 10:07] bk201 commented on #1343
@yasker I'm not sure if we should hard-code a tty console parameter (e.g., `console=ttyS0`) because:
- Users' machine might have a different usable serial port, e.g., ttyS1 or ttyUSB0
- The buadrate of a serial console needs to be identical both on server and serial port client.

Currently, the user needs to edit the grub menu and append the console=ttyS0 parameter to output kernel message to a se

[2021-10-06 12:09] FrankYang0529 commented on #945
I found that even if we delete backup-2 and backup-3, VM still can't be restored by backup-1 at first time. I tried to stop VM, restored it again, and VM can be started successfully at second time. However, the data in the VM is latest, not backup-1. I will check whether Harvester delete correct longhorn backup

[2021-10-06 13:12] lanfon72 opened #1360 "[BUG] VM's function won't work when host is down"
### Describe the bug
This issue contain several cases but point to the same thing.
When VMs running on a certain Node1, and Node1 had connection issues, those functions for VM still available, you can click them but nothing happened even no error messages.

** This is discovered when testing Negative test cases(4, 5, 14, 15) of *Backup and Restore*.

### To Reproduce
Steps to reproduce the behavio

[2021-10-06 13:15] alexdepalex commented on #1357
I retested this on freshly installed nodes with `0.3.0-rc1-hotfix1` and now it seems to work. Not sure what's different from the different deployment. Issue can be closed.

[2021-10-06 13:31] Jellyfrog commented on #1340
@bk201 It actually worked now, I'll leave it running for a while

[2021-10-06 13:49] lanfon72 opened #1361 "[BUG] Node duplicate display when it back online"
### Describe the bug
Previous status of certain Node still shown when it back online.

### To Reproduce
Steps to reproduce the behavior:
1. install Harvester with 3+ nodes
2. reboot specific Node (for example, Node1)
3. Wait until its state changed to `In Progress`, then boot back to OS
4. the Node back online, but old one still here.

### Expected behavior
Old state column should be eliminated.

[2021-10-06 14:03] lanfon72 commented on #1361
There have a bit different that:
origin one was named by custom Name, hostname was not configured in configure file. (and get the random name as `harvester-rb6l4`)

hostname changed to `hpd8s11` after reboot.

[origin one]
![image](https://user-images.githubusercontent.com/5169694/136217424-e26969ea-82ca-4e1c-8885-46fb68c28056.png)

[the newer]
![image](https://user-images.githubusercontent.com/51

[2021-10-06 14:06] lanfon72 commented on #1361
There also have some duplicated host options could be selected in several functions, they should be in the same root cause, so I would tend to verify this when it is ready to testing. (so that I don't need to open other issues... :wink:)

[2021-10-06 14:17] lanfon72 commented on #1360
There also have some cascading issues as #1361's situation. (And we don't have any test cases for them yet)
so I will verify this when it is fixed and ready for testing. :wink:

[2021-10-06 14:18] alexdepalex commented on #1342
Got another crash with the hotfix kernel. Uploaded the dump `harvester-vmcore-1342.tar` to the suse upload server.

[code]

[2021-10-06 14:54] lanfon72 commented on #945
Reproduced on **master-82506f55-head**.
Can't test on NFS as there have a NFS related issue #1351

** Related test cases(15, 16, 17, 18, 19, 20, negative 10) of Backup and Restore.

[2021-10-06 15:47] FrankYang0529 commented on #945
After testing again on the latest build (master-a452886-head), VM can be started successfully without volume restoration failed. However, the data in VM is latest (backup3), not oldest (backup1). I think issues now are:
* Harvester can't choose a correct backup to restore VM.
* Harvester can't delete backups in longhorn correctly.

![Screenshot from 2021-10-06 23-34-02](https://user-images.githubu

[2021-10-06 15:58] yasker commented on #1343
@bk201 Your concern is valid. My concern is user shouldn't have to specify it every time when troubleshooting. And they might have something connected to the serial port for the entire lifecycle of the server.

There are two things we need to address here:
1. How to allow users to configure the serial port output permentately in the kernel cmd line? Can we do that via the installer?
2. How to allo

[2021-10-06 16:01] yasker commented on #1338
@FrankYang0529 Can you confirm Longhorn only deletes the Backup CR object, not the real backup in the backup target?

[2021-10-06 16:03] yasker commented on #1357
I will move this to the next milestone and keep it in the icebox. If the issue arises again in the next couple of weeks we can revisit.

[2021-10-06 16:19] FrankYang0529 commented on #1338
Yes, Longhorn only deletes Backup CR objects. I still can see backups in my S3 bucket.

[2021-10-06 16:21] yasker commented on #945
~~It seems there are some serious disconnections from the Harvester backup to Longhorn backup.~~

Longhorn backup is broken for v1.2.0 and v1.2.1.

[2021-10-06 16:29] shangma commented on #580
### Test Info

- Verified version:
  - Rancher: v2.6.1-rc10
  - Harvester: v0.3.0-rc1

- Environment: rancher and harvester are running in its own vm respectively

### Test Case
1. Start rancher using docker in a vm and start harvester in another
2. Import harvester into rancher from "Virtualization Management" page
3. On rancher, enable harvester node driver at "Cluster Management" -> "Drivers" -

[2021-10-06 16:55] joshimoo commented on #945
We analysed the issue and identified it as a longhorn issue we are working on a fix as part of https://github.com/longhorn/longhorn/issues/3111

cc @innobead

[2021-10-06 17:42] Jellyfrog commented on #1341
This has been resolved

[2021-10-06 17:42] #1341 closed, assigned to bk201

[2021-10-06 17:42] Jellyfrog commented on #1340
I'll close it as it now works!

[2021-10-06 17:42] #1340 closed, assigned to bk201

[2021-10-06 18:18] olljanat commented on #1199
Btw. Do you guys mean case where those Blade servers/etc would still have local disks or real diskless setup where Harvester it selves would be installed to external storage?

I can see that documentation already describe how to boot Harvester installer from PXE but it still assumes that installation would be done to local disk.

But it should be possible load even rootfs from iSCSI https://github

[2021-10-06 18:37] jurrien-suse commented on #1199
I'm talking about the blades having a small disk for OS and harvester.
VM disk images from a iSCSI target.

I think this should be the first step to make it possible.

If you would a complete diskless harvester node please open a separate issue for it please.

[2021-10-06 18:52] guangyee opened #1363 "[BUG] sporadic dracut failures during baremetal deployment"
**Describe the bug**
We are seeing `dracut-initqueue` timed out during baremetal deployment via PXE boot. The problem only occur sporadically. Subsequent re-deploy works. Also, the failure is not specific to a particular baremetal node as it has happened to different nodes.

**To Reproduce**
Steps to reproduce the behavior:
*NOTE:* the problem is not consistently reproducible as it only happen spo

[2021-10-06 19:42] Jellyfrog opened #1364 "[BUG] Longhorn says "invalid date""
**Describe the bug**
![image](https://user-images.githubusercontent.com/759887/136271251-730e296c-1a72-4c09-b776-691f1ec69c3b.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Create new VM with disk
2. Check longhorn storage

**Expected behavior**

**Support bundle**

**Environment:**
 - Harvester ISO version: Nightly from 2021-10-06
 - Underlying Infrastructure (e.g. Baremetal with Dell

[2021-10-06 19:45] yasker commented on #1364
Ref: https://github.com/longhorn/longhorn/issues/3105

[2021-10-06 20:21] olljanat opened #1365 "[FEATURE] Support diskless nodes with external storage"
Split from https://github.com/harvester/harvester/issues/1199#issuecomment-936835564

**Is your feature request related to a problem? Please describe.**
I can see that documentation already describe how to boot Harvester installer from PXE but it still assumes that installation would be done to local disk.

**Describe the solution you'd like**
It should be possible load even rootfs from iSCSI http

[2021-10-06 20:23] joshimoo commented on #1351
Just leaving some random thoughts here: for nfs permissions issues there are things like [nfsidmap](https://man7.org/linux/man-pages/man5/nfsidmap.5.html) that can be a mismatch and root squash settings on the server, etc.

As a first step, I would try the mounts from the associated pods where you are getting the above failure response from. For the longhorn side you should try the nfs mounts from

[2021-10-06 20:43] olljanat commented on #1199
Ok. Opened #1365 for diskless support. However one more comment from me as these are kindly related and one of your reasoning is disk performance.

Afaiu source code here Longhorn is very key part of Harvester and supporting any other CSI plugin(s) would need big refactoring to codebase and would turn Harvester from HCI to regular hypervisor on those use cases so I will be very surprised if that w

[2021-10-06 20:48] jurrien-suse commented on #1199
Longhorn is part of Harvester but it does not make sense to use Harvester to consume iSCSI and NFS storage.
The assumption is here that the storage solution already does some kind of RAID so having Longhorn in between only adds an extra layer.
Better solution would be that iSCSI and NFS could be consumed directly and possibility to configure it in Harvester.

[2021-10-06 20:53] guangyee commented on #1355
Looks like `prevent_destroy` is part of TF lifecycle management. https://www.terraform.io/docs/language/meta-arguments/lifecycle.html
However, we still need to find a way to guard against accidental deletion of the `vlan` resource as deleting it will have adverse impact on the cluster.

[2021-10-06 21:22] olljanat commented on #1199
Yes but the whole idea on [HCI](https://en.m.wikipedia.org/wiki/Hyper-converged_infrastructure) is that storage is software defined which anyway means some extra layers compared to regular hypervisor + storage implementations. Anyway any implementation where external storage is used should be temporary where target is get rid of that storage system (the real HCi implementation).

However it would

[2021-10-06 22:22] Jellyfrog opened #1367 "[BUG] Rancher: Import Harvester cluster stuck at pending"
**Describe the bug**

Rancher fails to import a  harvester cluster, it just stuck at "pending"

**To Reproduce**
Steps to reproduce the behavior:
1. Run rancher with: `docker run -d --restart=unless-stopped -p 80:80 -p 443:443 --privileged rancher/rancher:v2.6.1-rc11`
2. Go to https://< rancher-ip >/dashboard/c/local/harvesterManager/harvesterhci.io.management.cluster
3. Import cluster
4. On harve

[2021-10-06 22:25] Jellyfrog commented on #1367
When doing kubectl delete and then apply on the harvester side, this happend:

[code]

[2021-10-06 22:31] Jellyfrog commented on #1367
This loops on the harvester node also:

[code]

`rancher06` = Harvester node (I had a brain-fart when I installed it)
`10.48.11.70` = VIP IP for harvester mgmt

[2021-10-06 22:33] yasker commented on #945
Good job on finding this issue @FrankYang0529 ! We will fix it on the Longhorn side.

[2021-10-07 00:33] yasker commented on #949
This is blocked by https://github.com/harvester/harvester/issues/945

[2021-10-07 00:39] yasker commented on #1324
Make sure we will correct the typo as stated in https://github.com/harvester/harvester/issues/1323

[2021-10-07 00:47] yasker commented on #1360
Since the UI code is frozen already, we need to release note this for v0.3.0 then punt it to v1.0.0.

[2021-10-07 00:48] yasker commented on #1361
Need to release note this for v0.3.0.

[2021-10-07 05:08] #580 closed, assigned to shangma, gitlawr

[2021-10-07 07:09] johnliu55tw commented on #1307
## Test info
- Verified version: master-c4a76706-head

## Test cases and results
- Create a VLAN network
  - [x] Create a VM using the network, then delete the network should be prohibited - PASS
  - [x] Delete the VM, then delete the VLAN network should succeed - PASS

[2021-10-07 07:09] #1307 closed, assigned to FrankYang0529, johnliu55tw

[2021-10-07 08:46] lanfon72 commented on #1360
Ref exists issues: #982, #983
All VM's negative test cases(1,2,3,4,5,7,8) is blocked due to this.

[2021-10-07 08:51] alexdepalex commented on #1342
Additional dumps on the ftp server.
[code]

[2021-10-07 09:08] guangbochen commented on #1367
Deleting with `kubectl` will also remove the embedded rancher which is needed of the Harvester, so instead, u should just check the error logs of the rancher agent pod of why the connection can not be established.

[2021-10-07 11:51] johnliu55tw commented on #1324
Maybe we should use a map instead of a list here?
[code]

[2021-10-07 12:51] guangbochen commented on #1324
Yep, it should be a map instead of a list.

[2021-10-07 13:12] guangbochen commented on #1338
One thing I have concerned about here is whether we should remove all the existing VMbackup CRs automatically when the user modified the backup target, I prefer to leave it for the users to manage those VM backups for the following reasons:
- users may change the backup target back and forth for validation or testing purposes
- we can disable users from using those VM backups if the current backup

[2021-10-07 13:42] Jellyfrog commented on #1367
I reinstalled harvester and tried again.
I'm not sure which is the rancher agent pod:

[code]

Harvester support bundle;
[supportbundle_d2879609-f1d5-4132-a390-3e22ebf58036_2021-10-07T13-35-39Z.zip](https://github.com/harvester/harvester/files/7303730/supportbundle_d2879609-f1d5-4132-a390-3e22ebf58036_2021-10-07T13-35-39Z.zip)

Rancher docker logs:
[rancher.log.gz](https://github.com/harvester/har

[2021-10-07 13:48] janeczku opened #1369 "[BUG] Rancher monitoring stack is crashing on Harvester guest cluster"
Rancher 2.6-rc11
Harvester 0.3.0-rc1

**To Reproduce**
Steps to reproduce the behavior:
1. Import Harvester in Rancher
2. Provision RKE2 cluster using Harvester node driver and with Harvester cloud provider enabled
3. Deploy Rancher monitoring chart from application catalog
3a. Make sure to enable "Persistent Storage for Prometheus" option and selecting Harvester storage class

**Expected behavior

[2021-10-07 13:53] Jellyfrog commented on #1367
Around 13:30 UTC I tried to install it.

One error:
[code]

[code]

[2021-10-07 15:22] yasker commented on #1342
@jeffmahoney it seems not an easy fix at the moment. Is it possible to have a kernel build package without the commit that's introduced the regression? Or any other way we can do to move forward, since we're releasing v0.3.0 next Monday.

[2021-10-07 15:24] yasker commented on #1342
cc @davidlohr @dirkmueller ^^

[2021-10-07 15:26] lanfon72 opened #1370 "[BUG] VM's Web VNC session didn't support mutiple connections"
### Describe the bug
Web VNC didn't support multiple connections.

** VM's test case No.66

### To Reproduce
Steps to reproduce the behavior:
1. install Harvester
2. create a VM and open Web VNC
3. when There have some output displayed, open another Web VNC on the same VM
4. latter will take over the session, and no error message display on former.

### Expected behavior
Minimal requires to displa

[2021-10-07 15:40] lanfon72 opened #1371 "[BUG] Delete multiple VMs but some related volumes still remaining here"
### Describe the bug
when we select multiple VMs and perform `delete`, there have only one check box `delete All` shown, and even it is selected, some volumes still remaining.

** VM's test case No.64, 65

### To Reproduce
Steps to reproduce the behavior:
1. install Harvester
2. create few VMs
3. select them and click `Delete`, also checked `Delete All`
4. navigate to **Volumes**, some volumes cre

[2021-10-07 15:43] lanfon72 commented on #1371
In this case, some VM was attached with multiple volumes, booting on CD-ROM's volumes.
(like the first volume `k3os-iso-pc` was attached 2 volumes, disk-0 is a _CD-ROM_ type).

[2021-10-07 16:07] lanfon72 opened #1372 "[BUG] VM's volume be purged and can't be edited"
### Describe the bug
An VM is created from existing volume, start and running, but unable to restart, and Volumes' configuration tab shows that value of attached volume is empty and unable to edit.

** VM's test case No.16

### To Reproduce
Steps to reproduce the behavior:
1. install Harvester
2. create a VM and boot to OS
3. delete the VM but keep disk volume
4. create another VM using former vol

[2021-10-07 16:17] lanfon72 commented on #1372
forgot to snapshot the Volume tab when VM is off...
but even if it become `off` state, we still unable to edit it.

[2021-10-07 16:17] yasker commented on #1369
@guangbochen Can you check if we need to update the node driver for this?

[2021-10-07 16:20] janeczku opened #1373 "[BUG] RKE2 / Harvester: Nodes stuck in provisioning when master nodes lack worker role"
Rancher version: v2.6.1-rc5
Harvester version: v0.3.0-rc1

See here for details: https://github.com/rancher/rancher/issues/35065

Related issue: https://github.com/rancher/rancher/issues/34992

[2021-10-07 16:22] lanfon72 opened #1374 "[BUG] VM unable to be cloned which was created from existing volume"
### Describe the bug
This issue probably is a cascading failure from #1372

** VM's test case No.60

### To Reproduce
Steps to reproduce the behavior:
1. Follow steps of #1372
2. perform clone on the VM
3. error message shown

### Expected behavior
VM created from existing volume should able to be cloned.

## Environment:
 - Harvester ISO version: **master-a4528869-head**
 - Underlying Infrastruct

[2021-10-07 16:25] yasker commented on #1373
We need to investigate to see if there is an easy to solve this. Otherwise, we need to push it out of v0.3.0.

[2021-10-07 16:36] bashofmann commented on #1342
I'm also encountering very frequent kernel panics in 0.3.0-rc1 in a different setup.

Hardware: Dell PowerEdge R630

The panics reliably happen only a few minutes after boot without creating any additional VMs.

We already did boot the system in `debugrw` mode, installed the patched kernel rpm mentioned in https://github.com/harvester/harvester/issues/1342#issuecomment-933789767 and rebooted. But

[2021-10-07 16:57] lanfon72 opened #1376 "[BUG] VM's resource restriction is not match to hosts state"
### Describe the bug
A host shows 0.62 of 6 core is used, but we can't allocate more than 2 cores for VM.

** VM's test cases No.71-76

### To Reproduce
Steps to reproduce the behavior:
1. install Harvester on hosts with different resources
2. create a VM which CPU is more than half of maximum
3. VM goes `starting` state and shows error `Insufficient cpu`

### Expected behavior
User can't know how

[2021-10-07 17:53] anupama2501 opened #1377 "[Harvester] when a cluster member is added and then removed from the harvester cluster RBAC logged in as a Cluster owner all the members disappear"
**Describe the bug**
If a cluster member is added by a cluster owner and then removed from the harvester cluster, we see the RBAC members page display a blank page.

**To Reproduce**
Steps to reproduce the behavior:

- Create a local user from rancher --> Users and auth --> create user1,user2 [standard user permissions]
- As an admin from virtualization management --> harvester cluster --> RBAC --

[2021-10-07 18:00] anupama2501 opened #1378 "[Enhancement]Namespaces present in the harvester cluster eg: rancher-server and harvester-public are not present in any of the Rancher projects like System,Default project"
**Is your feature request related to a problem? Please describe.**
We have some namespaces in the Harvester Cluster like rancher-server and harvester-public which are not present in any of the Rancher provided projects eg: System, Default
Virtualization management --> Harvester cluster --> Projects/namespaces

**Describe the solution you'd like**
The namespaces can be moved to rancher provided pro

[2021-10-07 18:16] yasker commented on #1369
FYI: Here is the fix from Longhorn side. It has fixed both CSI driver and storage class. https://github.com/longhorn/longhorn-manager/pull/1026

[2021-10-07 19:01] yasker commented on #1370
This behavior is different from what has been reported in https://github.com/harvester/harvester/issues/1236 . Did anything change recently? @WuJun2016

[2021-10-07 19:03] yasker commented on #1374
@lanfon72 What's the error message you mentioned in the steps?

[2021-10-07 19:04] yasker commented on #1376
It looks like the discrepancy is due to actual CPU utilization and reserved CPU utilization. We need to improve the UI to have a better indication.

[2021-10-07 19:06] yasker commented on #1351
Also, we might be missing something on the OS side for the NFS.

[2021-10-07 19:08] yasker commented on #1347
Assign to @guangbochen temporarily to assign the task out.

[2021-10-07 23:14] abonillabeeche opened #1379 "[BUG] deleted clusters still visible under rancher"
**Describe the bug**
I can see (2) as the cluster count in Rancher, but I only have "local" - also when creating Cloud Credentials, I can see a list of previously deleted clusters

**To Reproduce**
Add more than one Harvester Cluster, then delete it. Go to Cloud Credentials, it's still listed there.

**Expected behavior**
Clusters should be deleted from Rancher when deleted from Virtualization Man

[2021-10-07 23:29] yasker opened #1380 "[BUG] Add Image upload notification message"
It seems I cannot get image upload to work with the latest master
<img width="453" alt="Screen Shot 2021-10-07 at 4 30 24 PM" src="https://user-images.githubusercontent.com/3344618/136475837-1b196dd2-5e8d-4c02-aa7d-d5ef6ed3f2f8.png">

[2021-10-07 23:46] yasker commented on #1380
The second try works for me. It seems due to I've refreshed the page during the upload for the first time, since I didn't see any warning against it.

[2021-10-08 00:21] yaocw2020 commented on #1273
The backend part is better not be merged  if the UI can not been changed in this version because we modify some items of the CRD. Otherwise, the UI about the networking will be not work.

[2021-10-08 00:46] yasker commented on #1273
In fact for this one we should be able to do the UI change since user will likely use the standalone UI to configure the network.

[2021-10-08 00:56] lanfon72 commented on #1370
Update it tested on browser `Version 1.30.87 Chromium: 94.0.4606.71 (Official Build) (64-bit)` with Private window.
(should be the same as Chrome's Incognito window)

[2021-10-08 01:00] lanfon72 commented on #1370
For #1236, I could saw some similar error message like that (I think it is the output from VNC session), but in this case, the session of A console connection will be take over when B console is started. (then A console goes blank without prompt session is gone)

In single session console like iLO, if another one attempt to take your session, there will prompt an warning on B, btw.

[2021-10-08 01:12] lanfon72 commented on #1374
doing reproduce then found another bug.......
Let me finish remaining test cases then I will update the error message (also the bug caught when reproducing)

[2021-10-08 01:35] yasker commented on #1273
Though, we need to maintain the compatibility between the multi-user UI and standalone UI. This makes the change sounds risky if user is going to configure additional vlans in the multi-user UI.

[2021-10-08 02:05] guangbochen opened #1382 "[Bug] Exclude OS root disk and partitions on forced GPT partition"
**Describe the bug**
If we force the GPT partition scheme on the legacy BIOS system, the BIOS boot partition for GRUB to boot such a system won't have a filesystem, thus it can't have a label (PR: #148). We might need to find a way to filter such a partition.

Related Issue/PRs:
https://github.com/harvester/harvester/issues/1282
https://github.com/harvester/harvester-installer/pull/140

[2021-10-08 02:50] WuJun2016 commented on #1370
The current vnc websocket does not support two simultaneous connections, only one session connection can be maintained, so we will add a websocket session disconnection alert message.  @yasker

[2021-10-08 03:00] TachunLin commented on #1211
Feature verified pass on master-c4a76706-head and later
The daily build artifacts file name have renamed to the following (add master-head tag):

- https://releases.rancher.com/harvester/master/harvester-master-amd64.iso
- https://releases.rancher.com/harvester/master/harvester-master-initrd-amd64
- https://releases.rancher.com/harvester/master/harvester-master-rootfs-amd64.squashfs
- https://rele

[2021-10-08 03:00] #1211 closed, assigned to FrankYang0529, TachunLin

[2021-10-08 03:21] bk201 commented on #1363
The sos log: [rdsosreport.txt](https://github.com/harvester/harvester/files/7308236/rdsosreport.txt)
Dracut fails to wait for the root device because squashfs image is not fetched to the system.

The DHCP process looks fine, but `livenetroot.sh` is never executed.
[code]

@guangyee Could you try these two things:
- Use explicit interface name in boot parameters:  `ip=ens1f0:dhcp` in this case.
- A

[2021-10-08 04:03] WuJun2016 commented on #1371
Following the steps above, I did not reproduce the problem, is it stably reproducible?   @lanfon72

[2021-10-08 04:22] weihanglo commented on #1289
Upstream issue: https://github.com/kubevirt/kubevirt/issues/6551
This might be a feasible solution (and maybe the best at this time).

[2021-10-08 05:35] lanfon72 commented on #1371
@WuJun2016 let me narrow down those VMs.... this case is not always reproduced when I deleting some normal VMs.
I remembered that there was few VMs still in starting state, I thought it is the point.

[2021-10-08 06:11] gitlawr commented on #1369
The workaround is to create and use another storageclass with fstype parameters, or append the default-fstype arg to the csi-provisioner container as shown in @janeczku's PRs.
[code]

We need to update the harvester-csi-driver chart, then update rke2-chart, rke2, and kontainer-driver-metadata.

[2021-10-08 06:11] guangbochen commented on #945
@FrankYang0529 can u please help to re-validate it again with the master-head build since we have bumped the LH to v1.2.2, thanks

[2021-10-08 06:18] guangbochen commented on #949
@lanfon72 can u please help to re-validate this one using the master-head ISO since the LH is bumped to v1.2.2.

[2021-10-08 06:21] guangbochen commented on #1367
the existing helm release is not cleaned up properly, I would recommend just to re-install the cluster via the ISO if u can, thanks.

[2021-10-08 06:35] TachunLin opened #1384 "[BUG] Change namespace of existing VM by using terraform provider will cause "Virt-launcher pod has not yet been scheduled""
### Describe the bug
Change the namespace value of virtual machine terraform resource file (.tf)
Then use Terraform provider to apply to Harvester.
The virtual machine is keep running with message
`Virt-launcher pod has not yet been scheduled`
<br>

![change-vm-namespace_terraformer.png](https://images.zenhubusercontent.com/61519853321ea20d65443929/ac2e35a2-6512-40e9-89e0-51e0fb812364)

### Prereq

[2021-10-08 06:35] guangbochen commented on #1218
move this one to v1.0.0 since we need to wait for the https://github.com/rancher/rancher/issues/34908 to fully address the air-gap env support of the Rancher RKE2 server.

[2021-10-08 07:29] Jellyfrog commented on #1367
The new logs are from a complete reinstall of Harvester (rancher was on a vm inside it)

[2021-10-08 07:38] FrankYang0529 commented on #945
## Test info

* Verified Harvester version: master-d96b7f6b-head

## Test cases

* Follow reproduce steps to restore backup1.
  * [x] file1.txt is existent.
  * [x] file2.txt and file3.txt don't exist.
  * [x] `md5sum -c md5sum1-1` Pass.
* Follow reproduce steps to restore backup3.
  * [x] file1.txt, file2.txt and fil3.txt are existent.
  * [x] `md5sum -c md5sum3-1 md5sum2-2 md5sum 1-2` Pass

[2021-10-08 07:38] #945 closed, assigned to nobody

[2021-10-08 08:33] FrankYang0529 commented on #949
## Test info

* Verified Harvester version: master-d96b7f6b-head

## Test cases

* Follow reproduce steps to delete backup3.
  * [x] files don't change.
* Follow reproduce steps to restore backup2.
  * [x] file1.txt and file2.txt are existent.
  * [x] file3.txt, file2-2.md5 and file3-1.md5 don't exist.
  * [x] `md5sum -c file1-2.md5 file2-1.md5` Pass

[2021-10-08 08:33] #949 closed, assigned to nobody

[2021-10-08 08:40] lanfon72 commented on #1371
@WuJun2016 I can reproduce this on:
![image](https://user-images.githubusercontent.com/5169694/136523146-6365c09d-a2e1-43e3-85b6-420d922404ce.png)
![image](https://user-images.githubusercontent.com/5169694/136523231-3218377b-351c-4713-83b6-50abcd6b441a.png)
![image](https://user-images.githubusercontent.com/5169694/136523207-5305486e-e5d7-4ec7-a5fc-6ee69e19b531.png)

The VM `ubu-q35` is created by

[2021-10-08 08:49] futuretea commented on #1373
If  set cluster-provider to None, the cluster will be ready. @guangbochen
If set cluster-provider to harvester, `kubectl get po -A` show as below:
![image](https://user-images.githubusercontent.com/15064560/136529122-aac9d654-10e3-4ba6-a016-0391c8ea7de5.png)

[2021-10-08 08:54] guangbochen commented on #1373
so most likely it is because the Harvester CCM pods are not up and running as expected, therefore it leads the cluster to a forever provisioning status, @yaocw2020  can u PTAL of this, thanks.

[2021-10-08 09:02] lanfon72 opened #1386 "[BUG] VM SSH Key's modifying didn't reflect to user data"
### Describe the bug
when editing SSH Key of existing VM, add will be append into, but remove didn't change anything.

** VM's test cases No.28, 53

### To Reproduce
Steps to reproduce the behavior:
1. Install Harvester
2. Create a VM with ssh key
3. start VM until running
4. edit VM's ssh key to remove current and add a new one
5. after restart and running, edit to check User Data in `Advance Opt

[2021-10-08 09:07] lanfon72 commented on #1386
as the comment on test case No.28 (which is testing modification of cloud-init):

If we will not allow user to change `user data` after creation, field of SSH Key should be frozen on editing.

[2021-10-08 09:11] WuJun2016 commented on #1273
https://github.com/harvester/dashboard/commit/3155a482d39a749dd491d71af55a1b9c3ae2ef99

[2021-10-08 09:28] lanfon72 opened #1387 "[BUG] VM always in starting state when 3 VMs is running"
### Describe the bug
When starting 4th VM or more, they always looping on starting state.
those VMs use the same img/iso file, so it's not image issue.

### To Reproduce
Steps to reproduce the behavior:
1. Install Harvester
2. start 3 VMs and make sure they are running
3. start 4th VM, it looks like take a long starting time but actually fail to start and keep trying to restart.

### Expected beha

[2021-10-08 09:29] lanfon72 commented on #1387
I will generate and upload support bundle few hours later, to make sure there have enough log to debug.

[2021-10-08 10:03] weihanglo commented on #1387
Haven't dig into the support bundle. Just a random ask: Do we have sufficient storage or memory to allocate 4th VM in that machine?

[2021-10-08 10:11] lanfon72 commented on #1387
I think no, nodes are bare material which have large amount of CPUs/Mems, for storage... although storage only 250Gb but I didn't allocate any volumes >10Gb.

In this case, if I turn off any running VM, 4th VM will start successfully later.

[2021-10-08 10:30] WuJun2016 commented on #1374
@guangbochen  I think this situation should not be cloned. When we use an existing volume to create a vm, in the clone of this vm, it will be reported that the volume has been used。

[2021-10-08 12:29] futuretea commented on #1384
@TachunLin

This error occurs because the existing volume cannot be found in the new namespace after you modify the namespace of the VM.

Existing volume and vm must belong to the same namespace. If you modify the namespace of the VM, you should also modify the namespace of the existing volume used by the VM.

This problem does not occur if your VM does not use existing Volume.

Another important

[2021-10-08 13:07] guangbochen commented on #1374
@lanfon72 It makes sense not to clone the VM with existing volumes as per volume can only be mounted to one VM, a real VM clone will be introduced via https://github.com/harvester/harvester/issues/571 and that will support the above case.

[2021-10-08 13:11] abonillabeeche opened #1389 "[BUG] unable to remove Machine from scaled cluster"
**Describe the bug**
After creating an rke2 cluster from Rancher 2.6.1-rc11 using the Harvester node driver, I clicked the + to add a 4th node to the cluster. It failed to deploy, so I tried deleting it from the cluster. It won't delete. I tried removing the cluster entirely but the Machine in question is stuck in deleting, yet it was deleted from the provider (harvester)

**To Reproduce**
Steps t

[2021-10-08 13:13] guangbochen commented on #1387
this seems to be a bug related to the batch VM creation, I will need to refresh to page to get the correct VM status, @WuJun2016 can u guys PTAL, thanks

[2021-10-08 14:07] bashofmann opened #1390 "[FEATURE] Support configuring a VLAN at the management interface in installer config"
**Is your feature request related to a problem? Please describe.**
Currently you can't configure a VLAN directly at the harvester management interface, see https://docs.harvesterhci.io/v0.3/install/harvester-configuration/#installnetworks.

**Describe the solution you'd like**
Add more network configuration options to the installation options, so that you can add an additional tagged vlan to a bon

[2021-10-08 14:32] yasker commented on #1370
@WuJun2016 let's keep this open for multiple session feature tracking. The warning can be done as a part of #1236

[2021-10-08 14:55] guangbochen opened #1392 "[FEATURE] Update windows VMDP Driver image"
**Is your feature request related to a problem? Please describe.**
We have prepared the community VMDP image and it is available at `registry.suse.com/harvester-beta/vmdp:latest`, we should replace it with the default windows template and add the air-gap image support.

[2021-10-08 15:07] gitlawr commented on #1351
Previously, we add the SYS_ADMIN capability so that we can do mount inside Harvester pods. It doesn't work when apparmor is enabled. We can use the annotation: https://kubernetes.io/docs/tutorials/clusters/apparmor/#securing-a-pod

[2021-10-08 16:21] yasker commented on #1324
@janeczku Can you help to verify the fix?

[2021-10-08 17:10] lanfon72 commented on #1387
Upload the support bundle:
[supportbundle_f266b1fc-034c-471d-8705-133d66a985ba_2021-10-08T16-35-27Z.zip](https://github.com/harvester/harvester/files/7312954/supportbundle_f266b1fc-034c-471d-8705-133d66a985ba_2021-10-08T16-35-27Z.zip)

[2021-10-08 18:50] chajain commented on #1351
I tried with the latest server version master-c9b341e9-head but still see the same issue

[2021-10-08 19:05] yasker commented on #1351
@chajain `c9b341e9` doesn't have it. It's in the next commit `0136b81`. See https://github.com/harvester/harvester/commits/master .

[2021-10-08 19:10] yasker opened #1395 "task: trigger the ISO build with the new Harvester commit"
Currently, the ISO only builds on either `harvester/harvester-installer` change or the nightly build. It should be triggered (and gated in the future) the `harvester/harvester` build as well. Otherwise, we will get the latest ISO with an older version of Harvester.

REF: https://github.com/harvester/harvester/issues/1351#issuecomment-939056608

[2021-10-08 20:01] yasker opened #1396 "[FEATURE] Integration Cloud Provider for RKE1 with Rancher"
We can integration RKE1 Cloud Provider via feature charts, so user no longer need to manually configure it via e.g. https://docs.harvesterhci.io/v0.3/rancher/cloud-provider/#deploying-int-the-rke1-with-harvester-node-driver

[2021-10-08 20:39] chajain commented on #1351
The backup-target NFS worked on latest master-0136b815-head image

backup-target Modified
Custom back target to store VM backups.
{
  "type": "nfs",
  "endpoint": "nfs://10.84.128.9:/mnt/nfs_share",
  "accessKeyId": "",
  "secretAccessKey": "",
  "bucketName": "",
  "bucketRegion": "",
  "cert": "",
  "virtualHostedStyle": false
}

[2021-10-08 20:39] #1351 closed, assigned to gitlawr

[2021-10-08 20:41] chajain commented on #1266
Able to create NFS backet target using the master-0136b815-head latest image

backup-target Modified
Custom back target to store VM backups.
{
  "type": "nfs",
  "endpoint": "nfs://10.84.128.9:/mnt/nfs_share",
  "accessKeyId": "",
  "secretAccessKey": "",
  "bucketName": "",
  "bucketRegion": "",
  "cert": "",
  "virtualHostedStyle": false
}

[2021-10-08 20:41] #1266 closed, assigned to nobody

[2021-10-08 21:14] yasker opened #1397 "doc: Document the Harvester release process and dependency"
- [x] Document the Harvester Release process
- [x] Document the release dependency against Rancher, cOS-toolkit, OpenSUSE.
- [x] Document the release process for updating Harvester node driver and cloud provider outside of Rancher release.

[2021-10-08 21:27] mbelur opened #1398 "[BUG] Deleting a host holding the VIP in the cluster makes the VIP inaccessible"
**Describe the bug**
Deleting a host holding the VIP in the cluster makes the VIP inaccessible

**To Reproduce**
Steps to reproduce the behavior:
1. Create a harvester cluster of 4 nodes
2. Delete the host holding the VIP.
After confirming the Delete, no updates to the status
3. After about 5 minutes, the VIP becomes inaccessible.

**Expected behavior**
The VIP endpoint should still be accessible

[2021-10-08 21:28] yasker commented on #1398
If we cannot fix this in v0.3.0 we need to add a release note.

[2021-10-08 21:33] guangyee commented on #1398
This issue is reproducible in the Vagrant environment as well. Once that happens, UI is inaccessible from any node, port 443 or 30443.

[2021-10-08 22:12] yasker opened #1399 "task: reorg the `harvester/tests` to include test documents"
Need to have a discussion regarding what we can do to improve our test effort and documents.

One thing we can learn from Longhorn is to check-in manual and automation tests as code. See https://longhorn.github.io/longhorn-tests/integration/ and https://longhorn.github.io/longhorn-tests/manual/ for example.

The ultimate goal is to have all the test cases in code, so we can also consider using the

[2021-10-09 01:40] TachunLin commented on #1384
I see, I also notice if I changed the namespace value of VM then run `terraform plan`
1 resource added and 1 deleted.

Update the relating test case 6 in
https://confluence.suse.com/display/HARV/18.+Terraformer+Harvester

[2021-10-09 02:10] yaocw2020 commented on #1398
Can you provide the support bundle? @guangyee

[2021-10-09 03:34] guangbochen commented on #576
close as verified in the Harvester v0.3.0-rc1.

[2021-10-09 03:34] #576 closed, assigned to guangbochen, WuJun2016

[2021-10-09 03:37] guangbochen opened #1400 "[BUG] Add insufficient disk scheduling message"
**Describe the bug**
we need to make an enhancement from the back-end side to report the volume info correct via pod instead leave it for the UI to grasp the events info and identify it manually, this should be a general k8s enhancement issue.

VM view:
![image](https://user-images.githubusercontent.com/4569037/134798904-01eb2594-317c-43be-803e-399b338a0901.png)
pod view:
![image](https://user-ima

[2021-10-09 03:38] guangbochen commented on #1242
close as it passed the above case and insufficient disk will be track on the https://github.com/harvester/harvester/issues/1400

[2021-10-09 03:38] #1242 closed, assigned to WuJun2016

[2021-10-09 03:40] guangbochen commented on #1208
close in favor of https://github.com/harvester/harvester/issues/1208#issuecomment-927540240

[2021-10-09 03:40] #1208 closed, assigned to n313893254

[2021-10-09 03:42] guangbochen commented on #1331
verified via master-82506f55-head, and it has been removed.
![image](https://user-images.githubusercontent.com/4569037/136643093-d9d5a91f-aa0f-4460-abd4-a7acb33d5f11.png)

[2021-10-09 03:42] #1331 closed, assigned to WuJun2016

[2021-10-09 03:46] guangbochen commented on #1002
close in favor of https://github.com/harvester/harvester/issues/1002#issuecomment-930887401

[2021-10-09 03:46] #1002 closed, assigned to WuJun2016

[2021-10-09 03:58] guangbochen opened #1401 "[Feature] Support volume hot-unplug"
**Is your feature request related to a problem? Please describe.**
With https://github.com/harvester/harvester/issues/283 we are currently supporting both hot-plug and hot-unplug volumes, however, the hot-unplug feature is missing for both UI and the guest CSI driver.

**Describe the solution you'd like**
- from the UI we should allow users to hot-unplug those pluggable volumes without restart the

[2021-10-09 04:01] guangbochen commented on #283
verified in `master-82506f55-head` and volume hot-plugin feature is supported, volume hot-unplug feature will be tracked on the https://github.com/harvester/harvester/issues/1401.

[2021-10-09 04:01] #283 closed, assigned to weihanglo

[2021-10-09 05:36] gitlawr commented on #1313
Verified in master-8542e305-head
No VMI status is shown when the VM is off.
![image](https://user-images.githubusercontent.com/5697937/136645523-72c58602-c1a2-4284-aa7a-5b524e38cc29.png)

[2021-10-09 05:36] #1313 closed, assigned to n313893254, WuJun2016

[2021-10-09 06:01] guangbochen commented on #1338
verified using the master-head version - `passed`
1. config the backup target with the NFS server
2. create a backup of the VM
3. update the backup target to the S3 server e.g [minio](https://longhorn.io/docs/1.1.2/snapshots-and-backups/backup-and-restore/set-backup-target/)
![image](https://user-images.githubusercontent.com/4569037/136646048-fbf5582d-bef0-451e-9b89-837ede4b7b3f.png)
4. either res

[2021-10-09 06:01] #1338 closed, assigned to FrankYang0529

[2021-10-09 06:10] gitlawr commented on #1063
Verified in Rancher v2.6.1-rc13 with Harvester master-0136b815-head imported

![image](https://user-images.githubusercontent.com/5697937/136646378-6d6c04c6-03fa-400b-9bce-dd3e4bb6e246.png)

[2021-10-09 06:10] #1063 closed, assigned to DaiYuzeng

[2021-10-09 06:13] futuretea commented on #1355
@guangyee release v0.2.6. If users try to destory clusternetwork, will see "clusternetwork should not be destroyed, to avoid this error and continue with the plan, either move clusternetwork to another module or reduce the scope of the plan using the -target flag"

[2021-10-09 06:16] gitlawr commented on #1064
Verified in Rancher v2.6.1-rc13 with Harvester master-0136b815-head imported.
Adding a cluster member does not affect the menus.
![image](https://user-images.githubusercontent.com/5697937/136646560-18821e75-4b9e-4189-bf6b-0e5bc8d3d540.png)

[2021-10-09 06:16] #1064 closed, assigned to WuJun2016

[2021-10-09 06:17] guangbochen commented on #1372
verified using the `master-8542e305-head` version - `passed`
1. create a new VM from an existing root disk volume
2. after the VM is up and running, click edit config and check the volumes tab
3. the existing volume is showing correctly and modify the config e.g CPU, memory and add an additional disk
![image](https://user-images.githubusercontent.com/4569037/136646539-b28c6dd9-2aef-4be9-a0c7-086e2

[2021-10-09 06:17] #1372 closed, assigned to WuJun2016

[2021-10-09 07:05] guangbochen commented on #963
Verified using `master-8542e305-head` - `passed`
1. deploy a few VMs(e.g 5) on the same node and reboot the node manually
2. the volumes show unconnected on the Longhorn's volumes UI
![image](https://user-images.githubusercontent.com/4569037/136647790-b35f9887-7686-4acf-8d4d-67b9210c781b.png)
3. wait for the host to be restored and check those attached volumes
4. All volume is re-attached and only

[2021-10-09 07:05] #963 closed, assigned to guangbochen

[2021-10-09 07:13] guangbochen commented on #1327
close in favor of the master-head ISO build, a proper message is displayed of bond NIC is not necessarily required.
![image](https://user-images.githubusercontent.com/4569037/136648259-830d9bfa-8dad-466d-bb0d-a0b73a0199dd.png)

[2021-10-09 07:13] #1327 closed, assigned to FrankYang0529

[2021-10-09 07:17] guangbochen commented on #1328
verified using the master-head ISO build, both the mac address and NIC status are shown properly, in regards to the long text content it will be supported in the next version due to the current console UI limitation.
![image](https://user-images.githubusercontent.com/4569037/136648375-dcd69c9e-788b-463f-aa98-cba626194a3e.png)

[2021-10-09 07:17] #1328 closed, assigned to yaocw2020

[2021-10-09 07:27] guangbochen commented on #1273
verified using the master-head ISO - `passed`
1. on the `VLAN` setting configuration page, we were able to view common NICs across all nodes e.g the `harvester-mgmt`
![image](https://user-images.githubusercontent.com/4569037/136648547-834262c5-aff2-492d-a861-c3d4ee0d38af.png)
2. on each host edit page, only showing the available NICs without the master config.
![image](https://user-images.githubus

[2021-10-09 07:29] yaocw2020 commented on #1398
- Set up a cluster with 3 nodes. The management URL for the second and third node is the VIP.
- Delete the first management node where the kube-vip is deploy, and the pod will be unable to access apiserver.

[code]
[code]
[code]
[code]
[code]

[2021-10-09 08:05] yaocw2020 commented on #1398
Some logs from apiserver.
[code]

[2021-10-09 10:05] futuretea commented on #1299
validated 3T+BIOS  on harvester/harvester-installer@da460c7
![dfd5155448f1af1bf0ba9b72840bea5](https://user-images.githubusercontent.com/15064560/136653772-b23b9a08-ccf4-4ea2-8f83-9c0312cf2fee.png)
![9e375d277f1b6657175a7a33148e578](https://user-images.githubusercontent.com/15064560/136653779-3b665752-a77d-4dc0-96d6-9fd355b86a2a.png)

[2021-10-09 10:05] #1299 closed, assigned to johnliu55tw

[2021-10-09 15:40] gitlawr commented on #1026
Verified in master-9f917060-head

1. Created 3 node cluster.
2. Create a VM which is scheduled to node-2
3. Delete node-2

Result:
The VM is recreated and running on another node after a period of time

[2021-10-09 15:40] #1026 closed, assigned to gitlawr

[2021-10-09 15:41] gitlawr commented on #1280
Verified in https://github.com/harvester/harvester/issues/1328#issuecomment-939245735

[2021-10-09 15:41] #1280 closed, assigned to yaocw2020

[2021-10-09 18:09] yasker commented on #1273
For UI discrepancy between single and multitenant UI, we need a release note.

[2021-10-10 02:13] guangbochen commented on #1282
Verified with the `master-9f917060-head` version - `passed`
- system root disk is not shown as an additional volume option
![image](https://user-images.githubusercontent.com/4569037/136678693-2f183375-e8d9-4ddf-9976-c6499c4aad98.png)
-  root disk volumes are filter out if its partitions contain the filter label, i.e `COS_*`
[code]

[2021-10-10 02:13] #1282 closed, assigned to weihanglo, n313893254

[2021-10-10 03:11] gitlawr commented on #980
In a multi-NIC case:
NIC1: 10.10.1.0/24(vlan200)
NIC2: 10.10.2.0/24(vlan300)

1. Setup Harvester cluster using NIC1 as the management NIC, VIP is fetched from DHCP in 10.10.1.0/24 CIDR, say, 10.10.1.10
2. Enable vlan network and use the NIC2 for vlan network.

As a result, the VIP is not accessible.

The kube-vip daemonset uses harvester-br0 as the vip_interface.
harvester-br0 is the master of NIC

[2021-10-10 03:14] guangbochen commented on #1392
verified using the `master-9f917060-head` version  - passed
- template was updated to use the new container image
![image](https://user-images.githubusercontent.com/4569037/136679342-a4cdff97-f7b8-48d4-8539-177e46ce89f6.png)
- installing the windows VM and was able to select the VMDP driver
![image](https://user-images.githubusercontent.com/4569037/136680213-f54e9089-602a-469c-b2ac-f8adb3503168.pn

[2021-10-10 03:14] #1392 closed, assigned to futuretea

[2021-10-10 06:00] gitlawr commented on #1004
Reproducible in master-9f917060-head,

1. Create a 4-node cluster
2. Run multiple VMs
3. Delete one of the nodes
4. VMs on that node turn to `starting` status.

The VM pods stuck in ContainerCreating. events:
[code]

support bundle:
[supportbundle_33dd87d0-06d9-4f29-8aae-6204f06ae826_2021-10-10T05-53-01Z.zip](https://github.com/harvester/harvester/files/7316958/supportbundle_33dd87d0-06d9-4f29-8aa

[2021-10-10 06:16] guangbochen commented on #1335
Verified using the `master-9f917060-head` version - `passed`
![image](https://user-images.githubusercontent.com/4569037/136684887-3e14d060-b4d7-4169-a409-f17622f4c0dd.png)
- [x] There is a new debug boot grub option
- [x] Normal boot
  - [x] No `crashkernel` parameter
  - [x] kdump.service is disabled
  - [x] Triggered a crash then it rebooted in 10 seconds without any dump in `/var/crash`
- [x] D

[2021-10-10 06:16] #1335 closed, assigned to bk201

[2021-10-10 06:28] gitlawr opened #1405 "sysctl in Harvester config does not work"
**Describe the bug**
1. `os.sysctl` configuration in [docs](https://docs.harvesterhci.io/v0.3-dev/install/harvester-configuration/#ossysctls) and code(which uses sysctls) is inconsistent
2. The value does not apply to OS post-installation.

**To Reproduce**
Steps to reproduce the behavior:
1. pxe boot with the following values in the config file:
[code]
2. ssh to the Harvester node and check:
[cod

[2021-10-10 06:31] gitlawr commented on #980
Edit: it happened when I configure the default NIC to harvester-mgmt then change the vlan NIC to NIC2 for each node. If I configure NIC2 as the cluster default or disable then reconfigure vlan network it works as expect

[2021-10-10 06:32] gitlawr commented on #980
Closing as both single-NIC and multiple-NIC cases work for me

[2021-10-10 06:32] #980 closed, assigned to yaocw2020, DaiYuzeng, noahgildersleeve

[2021-10-10 07:02] guangbochen commented on #1389
It may get blocked by the CR finalizers, u may select to edit as YAML and remove those finalizers accordingly to force delete it, or u may try `kubectl delete $CR --force --grace-period=0`

[2021-10-10 07:04] guangbochen commented on #1398
maybe a similar case related to https://github.com/kubernetes/kubeadm/issues/193 .

[2021-10-10 07:24] guangbochen commented on #1097
verified with Rancher `v2.6.1-harvester2` and Harvester `master-9f917060-head` - `passed`
- spin up a new RKE k8s cluster with the Harvester node driver
- the RKE cluster is up and running successfully and only the IPV4 address is used by the cluster
![image](https://user-images.githubusercontent.com/4569037/136686616-c10298a5-44cd-4130-a09f-bab735988fe6.png)
![image](https://user-images.githubuse

[2021-10-10 07:24] #1097 closed, assigned to futuretea

[2021-10-10 09:23] yaocw2020 commented on #1398
The cluster recovers after I flush the `conntrack` tables.

[2021-10-10 10:05] guangbochen opened #1406 "[BUG] Read-only user was able to manage API actions"
**Describe the bug**
Read-only user was able to manage API actions, e.g stop/restart/start VMs

**To Reproduce**
Steps to reproduce the behavior:
1. import the downstream Harvester to the Rancher
2. create a `read-only` user and assign it to the `default` project
3. login as the `read-only` user and found the user was able to use the API actions.

![image](https://user-images.githubusercontent.com

[2021-10-10 10:05] guangbochen commented on #582
verified with Rancher `v2.6.1-harvester2` and Harvester `master-9f917060-head` - `passed`
1. importing the downstream Harvester cluster into the Rancher using `v2.6.1-harvester2`
2. creating few new users via the `Users & Authentication` tab e.g, cluster-owner, project-owner and project-readonly
![image](https://user-images.githubusercontent.com/4569037/136690179-506a54bd-b61c-4681-ad76-d78c22994a

[2021-10-10 10:05] #582 closed, assigned to gitlawr

[2021-10-10 15:23] yaocw2020 commented on #1398
Was able to reproduce it on the OpenSUSE leap 15.3 with rke2, not precisely only on the Harvester. Most likely, this is related to the OS kernel.

[2021-10-11 02:01] yasker commented on #1398
@yaocw2020 Is this always reproducible or it happens sometimes?

[2021-10-11 02:33] gitlawr commented on #1398
It is always reproducible

[2021-10-11 02:46] yaocw2020 commented on #1398
I deleted the node whose IP is 172.16.0.72. After I deleted the conntrack entries with destination address `10.43.0.1` from the original direction and with source address `172.16.0.72` from the reply direction, the cluster recovered.

[code]

[2021-10-11 07:57] gitlawr opened #1409 "[BUG] There's no way to change user password in single cluster UI"
**Describe the bug**
I don't find a UI page for updating the password of the admin user

**Environment:**
 - Harvester ISO version: v0.3.0-rc2

[2021-10-11 07:59] gitlawr commented on #1409
Workaround:
Go to the API-UI view via <SERVER_URL>/v3/users, and click `changepassword` action button.

[2021-10-11 08:08] janeczku commented on #1342
We no longer observed kernel panics on `harvester-0.3.0-rc1-hotfix2` which uses a test kernel build (`5.3.18-59.24.1.23030.1.TEST.1191238`) that reverted two commits suspected to introduce the bug:

[code]

The most recent SLES 15 SP3 kernel package not containing the two problematic commits is `kernel-default-5.3.18-59.19.1.x86_64.rpm` [2021-08-03](https://scc.suse.com/packages?name=SUSE%20Linux%

[2021-10-11 08:23] futuretea commented on #1325
validated on v0.3.0-rc2

[2021-10-11 08:23] #1325 closed, assigned to weihanglo, futuretea

[2021-10-11 09:26] futuretea commented on #1324
validated on v0.3.0-rc2

[2021-10-11 09:26] #1324 closed, assigned to johnliu55tw, futuretea

[2021-10-11 10:25] yaocw2020 opened #1410 "[FEATURE] Support getting VIP automatically during PXE boot installation"
**Is your feature request related to a problem? Please describe.**

By version 0.3, it's required for users to provide the VIP and VIP hardware address manually in DHCP mode with PXE boot installation.

**Describe the solution you'd like**
Request the VIP during PXE Boot installation as what is done during ISO installation.

**Describe alternatives you've considered**

During ISO installation, we

[2021-10-11 10:38] janeczku commented on #1241
The preferred implementation would be a configuration option that allows the user to define a conclusive list of all disks to use for LH storage where each list item can be either a regex expression or a fully qualified device name.

`storage_devices`: `/dev/nvme0*, /dev/sdb`

[2021-10-11 11:36] janeczku opened #1412 "[BUG] Harvester not operational when DNS nameserver is not configured"
Installation method: PXE
Harvester 0.3.0

When installing Harvester with static network configuration and without specifying `os.dns_nameservers` in the `create-config` file the installation will proceed without errors but the cluster will never be fully functional. The Harvester UI will never work and additional servers fail to join the cluster.

This is difficult to troubleshoot because there is

[2021-10-11 11:57] janeczku commented on #1208
It seems that the [expected behavior](https://github.com/harvester/harvester/issues/1208#issue-994388641) is not working yet (correctly) so this ticket should be reopened.

**Actual (0.3.0):**

Raw disk devices are displayed in the UI but **can not be selected and added** (disabled)
<img width="684" alt="Screenshot 2021-10-11 at 13 56 29" src="https://user-images.githubusercontent.com/3813921/1367

[2021-10-11 13:14] janeczku opened #1413 "[BUG] Additional nodes configured with incorrect CA certificate"
0.3.0

**To Reproduce**
Steps to reproduce the behavior:
1. Create 3-node Harvester cluster
2. Add a 4th node

**Expected behavior**
/etc/rancher/rke2/rke2.yaml from 4th node can be used to interact with the K8s API

**Actual behavior**

`/etc/rancher/rke2/rke2.yaml` contains a CA cert that is different from the other 3 nodes.
Using this kubeconfig results in errors.

`/etc/rancher/rke2/rke2.yaml`

[2021-10-11 13:42] janeczku opened #1414 "[BUG] Adding unpartitioned NVMe disks fails"
0.3.0

1. Create 3-node Harvester cluster with each node having multiple unpartitioned physical disks (NVMe)
2. Add first physical disk via Harvester ui -> Host -> Disks by selecting the physical device path, `/dev/nmve0n1`

**Expected result:**

Disk is partitioned, formatted and mounted successfully.

**Actual result:**

Block Device resource is constantly reconciled with errors.

Duplicate `blo

[2021-10-11 13:51] janeczku commented on #1414
Root Cause:

Node disk manager constructs the partition name by simply appending the number "1" to the device path. This does not work for NVMe disks, as the partition number is separated from the device name by using a `p`: `/dev/nvme0n1p1` instead of `/dev/nvme0n11`.

https://github.com/harvester/node-disk-manager/blob/28f9c80cc31dda50efcf16500458f38e51f480ad/pkg/controller/blockdevice/controlle

[2021-10-11 14:45] abonillabeeche opened #1415 "[BUG] unable to upload image by file"
**Describe the bug**

Trying to upload an image by File fails with Failed to wait for processing start in 60 seconds

https://user-images.githubusercontent.com/5146963/136810025-6a389a7d-cc9d-415a-b9cc-5a759bc02fbb.mp4

[code]
**To Reproduce**
Try uploading an image by file (this was working and a few days later stopped working)

**Expected behavior**
Image Uploads
**Support bundle**

**Environmen

[2021-10-11 14:59] abonillabeeche commented on #1415
support bundle
https://drive.google.com/open?id=1-6H1z7YCViRMRM8GkfmSaokDslkY9gD9&authuser=alejandro.bonilla%40gmail.com&usp=drive_fs

[2021-10-11 15:42] Jellyfrog commented on #1367
One problem also seems to be that `cattle-cluster-agent` pod can't connect to Rancher;
Rancher is installed on a VM inside Harvester, with the VLAN network.

[code]

It can reach internet, but not the vm running rancher (no firewalls installed):
[code]

From Harvester node:
[code]

[2021-10-11 16:06] janeczku opened #1416 "[FEATURE] Support management of node labels for advanced scheduling of VMs"
In order to make use of [advanced scheduling features](https://kubevirt.io/2020/Advanced-scheduling-with-affinity-rules.html) for VM workloads, such as `nodeSelector` and `affinity` rules we need to be able to configure and manage the labels assigned to Harvester hosts.

Examples for the information we can encode with labels:

`topology.kubernetes.io/zone`: `Rack-A-11`
`node.kubernetes.io/instance

[2021-10-11 16:20] janeczku opened #1417 "[BUG] Support topology aware scheduling of guest cluster workloads"
**Describe the bug**
We would like to be able to configure advanced scheduling of pods in guest clusters, based on the topology and physical architecture of the Harvester cluster.

This would allow - among others - to make use of:

- Automatic [spreading of pods across failure domains](https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/) such as regions, zones, rack

[2021-10-11 16:22] janeczku commented on #1417
https://github.com/harvester/harvester/issues/1418

[2021-10-11 16:22] #1417 closed, assigned to nobody

[2021-10-11 17:29] janeczku commented on #1414
PR ready for review https://github.com/harvester/node-disk-manager/pull/16

[2021-10-11 19:05] Christoph02 commented on #896
Hello,
same problem with a Fujitsu Motherboard D3400-B2 Intel H110.
Boot device not visible/available after Havester installation.
Workaround from  computeracer using efibootmgr fixed the problem for me, too
Kind regards
Christoph

[2021-10-11 20:02] seanb4t opened #1419 "[Question] Change network settings after install?"
For instance, I set up secondary bond interfaces incorrectly, can this be changed after install? Or do I need to do a full reinstall again?

[2021-10-11 21:01] alexdepalex commented on #1419
You can change it manually for testing, or alter the configuration YAML files in `/oem` to make it persistent.

[2021-10-11 21:14] seanb4t commented on #1419
I found the testing bit, wasn't familiar with the distro , but some grepping around found the /etc/sysconfig/network entries

[2021-10-11 21:50] Jellyfrog commented on #842
I think local path provider should be included,
Since longhorn adds quite a performance hit it would be nice with a fast storage alternative for databases etc. Even with its limits

[2021-10-11 23:52] #1419 closed, assigned to nobody

[2021-10-12 00:24] shangma opened #1420 "[BUG] ui is not automatically refreshed."
**Describe the bug**
UI is not auto refreshed after user's action, say, creating an image or creating an vm in v0.3.0.

**Expected behavior**
UI is automatically refreshed after user's action, say, creating an image or creating an vm.

**Environment:**
 - Harvester ISO version: v0.3.0
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630): qemu/kvm

[2021-10-12 01:24] guangbochen commented on #896
since the https://github.com/harvester/harvester/releases/tag/v0.3.0 is out, u may try the latest version instead, thanks.

[2021-10-12 01:41] gitlawr commented on #1415
Harvester version of the setup: master-c4a76706-head

[2021-10-12 02:08] WuJun2016 commented on #1409
In a single cluster, the id cannot be obtained in the v3/principal interface.

- data returned from single clusters
![image](https://user-images.githubusercontent.com/24985926/136878384-64752f79-7611-4bd0-8c7d-a000a7909abb.png)

- data returned from multiple clusters
![image](https://user-images.githubusercontent.com/24985926/136878736-cea9447c-1c1a-4c92-8f23-2adb44fcdb7b.png)

I think they should

[2021-10-12 03:15] guangbochen commented on #1116
close in favor of https://github.com/harvester/harvester/releases/tag/v0.3.0

[2021-10-12 03:15] #1116 closed, assigned to guangbochen

[2021-10-12 03:37] guangbochen commented on #173
close in favor of https://github.com/harvester/harvester/issues/1400

[2021-10-12 03:37] #173 closed, assigned to guangbochen, WuJun2016

[2021-10-12 03:37] guangbochen commented on #174
close in favor of https://github.com/harvester/harvester/issues/1242

[2021-10-12 03:37] #174 closed, assigned to guangbochen, WuJun2016

[2021-10-12 03:42] guangbochen commented on #777
duplicate of https://github.com/harvester/harvester/issues/1400

[2021-10-12 03:42] #777 closed, assigned to nobody

[2021-10-12 03:46] guangbochen commented on #392
close due to inactivity.

[2021-10-12 03:46] #392 closed, assigned to nobody

[2021-10-12 03:52] guangbochen commented on #1380
Should notify user do not to refresh the page while uploading the file locally.

[2021-10-12 04:31] guangbochen commented on #827
close as this is a rancher dashboard common behaviour.

[2021-10-12 04:31] #827 closed, assigned to nobody

[2021-10-12 04:35] guangbochen commented on #303
close as DV is removed in harvester v0.3.0

[2021-10-12 04:35] #303 closed, assigned to futuretea

[2021-10-12 04:35] guangbochen commented on #302
close in favor of v0.3.0

[2021-10-12 04:35] #302 closed, assigned to DaiYuzeng

[2021-10-12 04:37] guangbochen commented on #591
close in favor of https://github.com/harvester/harvester/issues/591#issuecomment-819284527

[2021-10-12 04:37] #591 closed, assigned to yaocw2020

[2021-10-12 04:38] guangbochen commented on #967
close as of v0.3.0, please feel to re-open it if u encounter a similar issue.

[2021-10-12 04:38] #967 closed, assigned to nobody

[2021-10-12 04:39] guangbochen commented on #965
close in favor of v0.3.0, now it support drag and drop and move up or down.

[2021-10-12 04:39] #965 closed, assigned to WuJun2016

[2021-10-12 04:42] guangbochen commented on #1093
Adding a proper validation message is sufficient enough.

[2021-10-12 04:43] guangbochen commented on #1082
close in favor https://github.com/harvester/harvester/issues/1082#issuecomment-896445833

[2021-10-12 04:43] #1082 closed, assigned to DaiYuzeng

[2021-10-12 04:45] guangbochen commented on #1350
additionally, we should display the customized node name when it is specified on the host page.

[2021-10-12 06:53] hellocloudnative opened #1421 "How is Harvester 0.3.0 deployed by HELM? Urgent urgent[Question]"
How is Harvester 0.3.0  deployed by HELM? Urgent urgent

[2021-10-12 09:55] gitlawr commented on #1415
Reproducible in v0.3.0.
It fails in single-cluster view, works in multi-cluster view.

[2021-10-12 11:16] yaocw2020 commented on #1398
Workaround: Flush the conntrack table on the other nodes.
[code]
If some pods are still crash off, try to delete them.

@mbelur @guangyee

[2021-10-12 15:10] janeczku commented on #1345
Still an issue on 0.3.0 even with the default `0.suse.pool.ntp.org`.

The error occurs only on the first attempt. When going back to the previous installation step using ESC key and then saving the NTP configuration again then it succeeds. So it's likely a race condition with the network initialization.
<img width="353" alt="Screenshot 2021-10-12 at 16 59 24" src="https://user-images.githubusercon

[2021-10-12 15:50] janeczku commented on #1343
It would be good to have an installation option where user can specify the serial console device name.

[2021-10-12 19:46] alexdepalex commented on #1343
There should be an option where enabling the serial console or the crash kernel is made persistent across reboots. Currently, the latter can only be enabled by selecting the "debug" boot option in grub while booting. This doesn't scale and with systems that have multiples of 100GB of memory, losing 250MB of memory to the crash kernel is peanuts.

[2021-10-12 20:01] yarunachalam commented on #1415
I also see the same issue upload image in multi-cluster view. @gitlawr - Does it work for you in multi-cluster view. @g

Failed
	testfile
0%
	- 	22 mins
	Failed to wait for processing start in 60 seconds

[2021-10-12 22:02] marcuspocus1 commented on #1342
I'm getting the same random crashes with the official 0.3.0 release...
running kernel : 5.3.18-59.24-default
hardware: dell poweredge R740xd
I'll try to update the kernel later on to see if it fix my issue...

[2021-10-13 08:03] gitlawr commented on #1406
With the fix, there's one thing that needs to be checked on the UI side @WuJun2016 :

For a read-only user, actions are not available in volume APIs, but UI still shows the export action. A js error will pop up if the action is performed.
![image](https://user-images.githubusercontent.com/5697937/137092210-86d77a51-2817-4a9d-bd78-91134ff29260.png)

![image](https://user-images.githubusercontent.co

[2021-10-13 08:08] gitlawr commented on #1143
Verified in https://github.com/rancher/rancher/issues/34716#issuecomment-929777852

[2021-10-13 08:08] #1143 closed, assigned to nobody

[2021-10-13 15:18] Christoph02 commented on #896
Thanks für the update. So I tried with latest Version, Tag: v0.3.0 · Commit: 842a994 · Released by: guangbochen
Unfortunately the same issue. Works only with efibootmgr workaround.

[2021-10-13 15:35] janeczku opened #1424 "[BUG/ENHANCEMENT] VIP configured in a VLAN network can not be reached"
Harvester 0.3.0

Use case: I want to configure a VIP for a guest cluster workload that is reachable from the VLAN connected to that cluster.

**Reproduce:**

1. Configure a VLAN network in Harvester
2. Configure kube-vip with a VIP cidr pool that is contained in the VLAN network range, e.g. `cidr-vms` in the example below:
[code]
3. Create a guest cluster selecting the previously configured VLAN n

[2021-10-13 15:42] janeczku commented on #1424
Possible solution might involve running two separate kube-vip instances, one for Harvester and one for guest clusters...

[2021-10-13 16:25] jnfinitym commented on #1330
I also noticed the binding script in Rancher 2.6.1 seems to look for k3s.yaml instead of rke2.yaml which is created in the installation of Harvester 0.3; copying `/etc/rancher/rke2/rke2.yaml` to `/etc/rancher/k3s/k3s.yaml` allowed me to add default as admin-role and subsequently join the Rancher. Should I file this in a dedicated issue or is this just part of this one?

[2021-10-13 20:07] himslm01 commented on #1225
Same issue with the released version of v0.3.0.

I understand how to add `nomodeset` when installing from the ISO, and how to add `nomodeset` when booting into Harvester. But how do I add `nomodeset` as a permanent option so I don't have to type it when I'm booting?

Googling suggests I need to edit `/etc/default/grub` then run `grub2-mkconfig -o /boot/grub2/grub.cfg` but that fails with `/usr/sbi

[2021-10-13 20:27] yasker commented on #1330
@jnfinitym can you elaborate? Which binding script you're talking about? Might be another issue.

[2021-10-13 21:45] himslm01 commented on #1038
Fixed by release v0.3.0

[2021-10-13 21:45] #1038 closed, assigned to nobody

[2021-10-13 23:06] JimWilson commented on #1225
Piling on.

Hang on boot at: fb0: switching to amdgpudrmfb from EFI VGA

harvester-v0.3.0-amd64.iso

CPU: AMD FX8350
GPU: AMD RX570
BIOS: UEFI: IOMMU enabled
RAM: 32G

boot log fragment

16.098676] [drm] amdgpu kernel modesetting enabled.
16.099716] CRAT table not found
16.101756] Virtual CRAT table created for CPU
16.103834] amdgpu: Topology: Add CPU node
16.106014[ fb0: switching to amdgpudrmfb

[2021-10-14 03:34] guangbochen commented on #1421
Helm deployment currently is not officially supported as various OS and k8s distro will encounter different issues that will need to be addressed case by case, also the purpose of the Harvester is to leverage the befits of k8s but without introducing the complexity and knowledge of the k8s themselves to the normal users.

For testing and evaluation purposes u can try out the https://github.com/har

[2021-10-14 03:54] guangbochen commented on #1420
most likely this should be an issue related to the WebSocket connection, u can resolve it by either refresh the page or re-enable the cert.
![image](https://user-images.githubusercontent.com/4569037/137248830-9052327c-c482-4c0f-9aac-10a2652b3ee1.png)

[2021-10-14 04:17] guangbochen commented on #1354
This is currently not supported, will be tracked on https://github.com/harvester/harvester/issues/1218 with v1.0.0.

[2021-10-14 04:17] #1354 closed, assigned to nobody

[2021-10-14 04:20] guangbochen commented on #1329
close in favor of https://docs.harvesterhci.io/v0.3/troubleshooting/installation/#installation

[2021-10-14 04:20] #1329 closed, assigned to nobody

[2021-10-14 04:21] guangbochen commented on #1276
can u please try the https://github.com/harvester/harvester/releases/tag/v0.3.0, thanks

[2021-10-14 04:28] guangbochen commented on #1268
Verified works with `Ctrl-D` in v0.3.0.

[2021-10-14 04:28] #1268 closed, assigned to nobody

[2021-10-14 04:33] guangbochen commented on #1252
thanks for the confirmation and it also has the doc available at https://docs.harvesterhci.io/v0.3/troubleshooting/os/.

[2021-10-14 04:33] #1252 closed, assigned to nobody

[2021-10-14 04:34] guangbochen commented on #1233
close in favor of https://github.com/harvester/harvester/issues/1233#issuecomment-922246696

[2021-10-14 04:34] #1233 closed, assigned to nobody

[2021-10-14 04:39] guangbochen commented on #1204
duplicate of https://github.com/harvester/harvester/issues/1051

[2021-10-14 04:39] #1204 closed, assigned to nobody

[2021-10-14 04:41] guangbochen commented on #377
from v0.3.0 now users can use the bond NIC if they want to provide fault-tolerant or fail-over of NICs.
https://docs.harvesterhci.io/v0.3/install/pxe-boot-install/#create-mode

[2021-10-14 04:44] guangbochen commented on #1005
fixed via https://docs.harvesterhci.io/v0.3/reference/api/
![image](https://user-images.githubusercontent.com/4569037/137253456-2b24fcac-5bc9-4f9c-b64c-e1bbd349a3c2.png)

[2021-10-14 04:44] #1005 closed, assigned to nobody

[2021-10-14 04:45] guangbochen commented on #1006
close due to inactivity. also, we have update k3s to rke2 in the Harvester v0.3.0 release, please feel free to reopen this issue if u found it in the new version, thanks.

[2021-10-14 04:45] #1006 closed, assigned to nobody

[2021-10-14 04:48] guangbochen commented on #1060
close in favor of https://github.com/harvester/harvester/blob/master/scripts/build-iso#L10

[2021-10-14 04:48] #1060 closed, assigned to nobody

[2021-10-14 04:49] guangbochen commented on #1140
close in favor of `v0.3.0`, customized labels are supported.
![image](https://user-images.githubusercontent.com/4569037/137253953-01f6187e-0a26-4030-b35a-f5b866dc310b.png)

[2021-10-14 04:49] #1140 closed, assigned to DaiYuzeng

[2021-10-14 06:16] guangbochen commented on #79
close of in activity.

[2021-10-14 06:16] #79 closed, assigned to nobody

[2021-10-14 06:17] johnliu55tw commented on #1316
Under the **single disk situation**, I think cOS-toolkit would allocate all the remained disk space for `COS_PERSISTENT` partition, which is where `/var/lib/longhorn` locates. In other words, Longhorn could use all the disk space except those occupied by cOS system partitions (`COS_STATE`, `COS_OEM`, and `COS_RECOVERY`). I'm not sure adding another partition could alleviate the concern about disk

[2021-10-14 06:18] guangbochen commented on #404
close in favor of https://github.com/harvester/harvester/releases/tag/v0.3.0, if u have encountered this issue in the latest release please let us know, thanks.

[2021-10-14 06:18] #404 closed, assigned to nobody

[2021-10-14 06:19] guangbochen commented on #449
close in favor of https://github.com/harvester/harvester/releases/tag/v0.3.0.

[2021-10-14 06:19] #449 closed, assigned to nobody

[2021-10-14 06:20] guangbochen commented on #476
close in favor of https://github.com/harvester/harvester/releases/tag/v0.3.0, please re-open it if u encounter similar issues, thanks.

[2021-10-14 06:20] #476 closed, assigned to nobody

[2021-10-14 06:21] guangbochen commented on #467
close in favor of https://github.com/harvester/harvester/releases/tag/v0.3.0, currently only LH storage-class is officially supported, thanks.

[2021-10-14 06:21] #467 closed, assigned to nobody

[2021-10-14 06:22] guangbochen commented on #466
close in favor of v0.3.0 release.

[2021-10-14 06:22] #466 closed, assigned to nobody

[2021-10-14 06:29] guangbochen commented on #875
close due to inactivity, also feel free to reopen it if u encounter a similar issue in the https://github.com/harvester/harvester/releases/tag/v0.3.0 release, thanks.

[2021-10-14 06:29] #875 closed, assigned to nobody

[2021-10-14 06:29] guangbochen commented on #876
close due to inactivity, also feel free to reopen it if u encounter a similar issue in the https://github.com/harvester/harvester/releases/tag/v0.3.0 release, thanks.

[2021-10-14 06:29] #876 closed, assigned to nobody

[2021-10-14 06:30] guangbochen commented on #867
close in favor of https://github.com/harvester/harvester/issues/867#issuecomment-844623536

[2021-10-14 06:30] #867 closed, assigned to nobody

[2021-10-14 06:32] guangbochen commented on #1113
close in favor of v0.3.0 release, please help to re-open it if the v0.3.0 had a similar issue, thanks.

[2021-10-14 06:32] #1113 closed, assigned to nobody

[2021-10-14 06:32] guangbochen commented on #1117
close in favor of https://github.com/harvester/harvester/pull/1172

[2021-10-14 06:32] #1117 closed, assigned to nobody

[2021-10-14 06:45] lanfon72 commented on #1374
update the error message which tested on **v0.3.0**:
![image](https://user-images.githubusercontent.com/5169694/137265510-4b52acb1-5a62-4b39-9820-e27837e24629.png)

[2021-10-14 07:02] bk201 commented on #1225
@himslm01 Please check https://docs.harvesterhci.io/v0.3/troubleshooting/os/#how-to-permanently-edit-kernel-parameters for how to set the kernel parameters permanently in 0.3.0.

[2021-10-14 07:05] bk201 commented on #1343
A temporary workaround to set second entry persistently across reboots: https://docs.harvesterhci.io/v0.3/troubleshooting/os/#how-to-change-the-default-grub-boot-menu-entry

[2021-10-14 07:46] guangbochen commented on #1384
@TachunLin can u please help to verify and close it if it has passed, thanks.

[2021-10-14 07:56] TachunLin commented on #1384
Close this issue since according to @futuretea comment:
Existing volume and vm must belong to the same namespace.
Change namespace of VM should not consider to be a regular operation for VM.

[2021-10-14 07:56] #1384 closed, assigned to futuretea, TachunLin

[2021-10-14 09:01] guangbochen commented on #571
Create a template from VM with includes its root and data disks means users can restore one or multiple new VMs from the template even if the original VM was removed.

With the above condition, I think we can leverage the existing [Create image from volume](https://github.com/harvester/harvester/issues/568) feature to persist `root` disk and `data` disks respectively.

The only concern that I have

[2021-10-14 09:04] lanfon72 commented on #1387
tested on **v0.3.0**, I can start more than 3 VMs, but new VM still had chance stuck into the loop `Create -> Volume attach failed -> Delete -> Pending -> Create`.

[2021-10-14 09:18] yshashix commented on #1354
When is a tentative plan for v1.0.0?

[2021-10-14 09:45] guangbochen commented on #1354
https://github.com/harvester/harvester/milestone/9 with  `Due by December 16, 2021`

[2021-10-14 10:06] yaocw2020 commented on #1273
Reopen to add the enhancement below.

- [x] Filter the NICs which is a slave of one interface in the backend controller.

[2021-10-14 14:30] lanfon72 commented on #1374
Currently clone behaviors:
VM **a** created from `img`_A_,
- modifying **a** as **a+**, clone **a+** => succeed, **b** created from **a**
- modifying **b** as **b+**, clone **b+** => succeed, **c** is created from **b** (which equals **a**)
- delete **b+** but keep volume **b+v**, create VM **c** from **b+v**, clone **c** => failed, `volume is already used`

VM **x** created from `iso` _X_,
- clon

[2021-10-14 14:51] johnliu55tw commented on #1316
@bk201 IMO we don't have to support moving Longhorn storage to another partition (see above). But we do need to support multiple disks scenario.

[2021-10-14 14:51] yasker commented on #1273
Is it possible to make this feature optional? E.g. can you still type the box even if it's not a common name shared across the node? I have one node has different nic name compare to others, so wondering if I can put the most common NIC in the setting then just update that one node later.

[2021-10-14 15:04] yasker commented on #571
Yes. We need to create new images from existing VMs to make this feature work. @shuo-wu do we have capacity check for base images?

[2021-10-14 15:18] jnfinitym commented on #1330
I will file a seperate issue then, so I have mroe space to describe it - I am not home right now, so I will try it this weekend, so I can add the exact error messages I got and what exactly I did to get around them; I am specifically talking about importing Harvester to a Rancher instance, but it looks to be easily resolvable, but I am thinking it may actually be a Rancher Problem and not a Harves

[2021-10-14 15:26] janeczku commented on #1208
The above behavior is a bug. Tracking here: #1414

[2021-10-14 15:46] abonillabeeche opened #1428 "[BUG] rke2-coredns-rke2-coredns-autoscaler timeout"
**Describe the bug**
I powered on my 3 servers with about 10 seconds of difference between them - the pod _rke2-coredns-rke2-coredns-autoscaler_ timedout.

`kubectl logs pod/rke2-coredns-rke2-coredns-autoscaler-7c58bd5b6c-rxn2m -n kube-system
I1014 15:14:45.887005       1 autoscaler.go:49] Scaling Namespace: kube-system, Target: deployment/rke2-coredns-rke2-coredns
E1014 15:14:53.580128       1 au

[2021-10-14 15:54] ugar-ugar opened #1429 "[BUG] Harvester 0.3 does not allow CPU-overprovisioning"
**Describe the bug**
 Harvester 0.3 does not allow CPU-overprovisioning

**To Reproduce**
1. Create a 8 Core Harvester 0.3 node
2. Create a 4 Core VM on this node
3. VM will not start with "insufficient CPU" as hint

**Expected behavior**
a 4 Core VM should run on a 8 core node

**Support bundle**
is attached

**Environment:**
 - Harvester ISO version: 0.30
 - Underlying Infrastructure:
cluster wi

[2021-10-14 16:17] janeczku commented on #1218
**Workaround for container image downloading via a HTTP proxy**

In the Harvester install config YAML add the following write_files stanza (see [docs](https://docs.harvesterhci.io/v0.3/install/harvester-configuration/#oswrite_files)):

[code]

[2021-10-14 16:44] janeczku opened #1430 "[BUG] Should not be possible to add parent device of existing partition as disk"
Harvester 0.3.0

1. Setup a Harvester host with an additional disk that has GPT partition table and a single ext-4 partition
2. Navigate to Hosts and select Host -> Edit Config -> Disks
3. Click Add Disk
4. Select the disk device path of the additional disk, e.g. `/dev/sda` instead of `/dev/sda1`
5. Click Save

<img width="1489" alt="Screenshot 2021-10-14 at 18 34 23" src="https://user-images.gith

[2021-10-14 17:11] antonym opened #1431 "[BUG] Harvester v0.3.0 unable to get local issuer certificate with https squashfs url"
**Describe the bug**
When iPXE booting, harvester root:live= entry fails to retrieve squashfs if URL is set to https. If switched to http, it can retrieve the file normally.

**To Reproduce**
Steps to reproduce the behavior:

Use root=live:https://releases.rancher.com/harvester/v0.3.0/harvester-v0.3.0-rootfs-amd64.squashfs as the source.

![Screen Shot 2021-10-14 at 11 58 55 AM](https://user-image

[2021-10-14 17:28] marcuspocus1 commented on #1342
Facing this problem while trying to update the kernel...
https://github.com/harvester/harvester/issues/1388
would be great if someone can re-generate an iso with a stable kernel ;)

[2021-10-14 17:56] abonillabeeche opened #1432 "[BUG] monitoring not loading - invalid checksum; corrupted block"
**Describe the bug**
Monitoring is failing to load

[code]

**Expected behavior**
UI Metrics would be visible
**Support bundle**

https://drive.google.com/file/d/1-Fve-S_djva16UuiFKFpOgBLVQf015dH/view?usp=sharing

**Environment:**
 - Harvester ISO version:  0.3
 - Underlying Infrastructure : Dell R620

**Additional context**
Add any other context about the problem here.

[2021-10-14 17:57] alexdepalex commented on #1430
@janeczku I observe different behavior on 2 systems. The first one has existing partitions that were created manually and where the partition label is `Linux filesystem`. On this configuration, both the partition and the parent device are selectable.

On the second system, the partitions were probably previously created by NDM, and there the partition label is set to `primary`. In this case, only

[2021-10-14 21:45] janeczku commented on #1247
Rancher 2.6.1 / Harvester 0.3.0

<img width="1401" alt="Screenshot 2021-10-14 at 23 39 27" src="https://user-images.githubusercontent.com/3813921/137399390-4cedf31f-5bc8-430c-a471-8264da5baeae.png">

[2021-10-15 01:26] u2m4c6 commented on #1225
If that is the case, I strongly recommend including that with the OS. AMD GPU's and APU's are very common these days, especially as AMD CPU's dominate at pretty much every level. Even though Harvester is primarily targeted at server hardware (I think), adoption will be greatly helped if we can plug and play Harvester at home or on a spare rig at work.

[2021-10-15 03:45] bk201 commented on #1316
Disks can be added from GUI after Harvester is up and it's our recommended way.
I guess the reason that @yasker prefers `/var/lib/longhorn` on another partition is that it doesn't affect the OS when it's full.

[2021-10-15 03:48] bk201 commented on #1225
@u2m4c6 We'll include VGA firmwares. I can confirm including the firmware fix the problem on my local PC (a discrete AMD VGA card)

[2021-10-15 03:56] bk201 commented on #1431
@antonym Could you try adding `rd.noverifyssl ` to the boot parameters? like
https://github.com/harvester/ipxe-examples/blob/b97d6fb3e3689cad10c075ba81852ebe8ab8af27/general/ipxe-create#L3
We missed it in our document.
The initrd doesn't contains SSL CA certs.

[2021-10-15 03:57] gitlawr commented on #1432
The data is corrupted somehow. Any possibly related operation before it is broken?
You would need to remove `/prometheus/01FHT8MEQD7EXZJJ7EPAB8QHNR` in the prometheus pod.

[2021-10-15 04:28] weihanglo commented on #1430
It might be a case that a user plugs a partitioned disk but wants to format it all without accessing the terminal console. If that is confusing, disabling or hiding all partitioned disks might be a solution.
cc @guangbochen WDYT?

[2021-10-15 05:55] shuo-wu commented on #571
When a Longhorn volume is launched **with a backing image**, the new backing image exported/created from it won't waste space to store zero data **only if the type is qcow2**. But there is one more potential issue besides this: If the upper layer/filesystem writes a file then removed it, the corresponding **sectors were used by the file cannot be reclaimed as free after the file removal**. Then me

[2021-10-15 06:05] bk201 commented on #1405
I did some tests and found it seems to work but is overridden by netconfig.

Create a test OEM config:
[code]

Reboot and found:
[code]

In the network config file `/etc/sysconfig/network/config`:
[code]

When wicked is up, netconfig sets domainname form what DHCP server offers or from the content of file `/etc/defaultdomain`. If I set `NETCONFIG_NIS_SETDOMAINNAME` to no, the domainname is set on

[2021-10-15 06:33] lanfon72 commented on #1429
ref to #1376

[2021-10-15 06:58] guangbochen opened #1434 "[BUG] the node name is not showing customized one"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the `Host` page and add a customized node name
![image](https://user-images.githubusercontent.com/4569037/137444776-ac0d60ab-504b-4721-8b5f-59713bff7b64.png)
2. Go to the VM page and add a new VM
3. Click the `Node Scheduling` tab and select assign the VM to a specific node, but the node name is still showing the orig

[2021-10-15 07:42] gitlawr commented on #1367
The connectivity problem is the cause of the pending status.

It looks like the Rancher IP and the VIP are of the same cidr. Is the vlan network using the same vlan id as the management network?

[2021-10-15 07:43] lanfon72 commented on #1399
@yasker I would suggest we can just renamed `harvester/tests` to `harvester/api-tests` as it is testing on API-based; and keep `harvester/tests` for documents. (so that we won't mess up git commit logs)

For long term plan, I would suggest to use [RobotFramework](https://github.com/robotframework/robotframework) for (UI-based) testing, here is the [demo repo](https://github.com/robotframework/WebD

[2021-10-15 08:34] guangbochen commented on #1311
The guest k8s cluster is not removed successfully because the management cluster CR is blocked by the `cluster-agent-controller-cleanup` finalizer. After deleting the finalizer manually the cluster will be clean up successfully.
![image](https://user-images.githubusercontent.com/4569037/137457152-eccc1205-7422-4b03-80c5-6ae61ead1387.png)

Will need to check the finalizer issue on the Rancher side.

[2021-10-15 09:22] guangbochen opened #1435 "[FEATURE] better loadblancer config of Harvester cloud provider"
**Is your feature request related to a problem? Please describe.**
1. Create a guest k8s cluster via the Harvester node driver e.g rke2 with the Harvester cloud provider enabled.
2. Wait for the cluster to be ready and create a new service with the type of `loadbBalancer`.
3. Currently, users have to use annotations to config those cloud provider configs, we should add a better UX integration of i

[2021-10-15 09:28] lanfon72 commented on #1352
close this as test cases has been updated.

[2021-10-15 09:28] #1352 closed, assigned to nobody

[2021-10-15 09:29] guangbochen opened #1436 "[FEATURE] Allowing users to download backing images"
**Is your feature request related to a problem? Please describe.**
Allowing users to download the backing images from UI, so that those images can be shared accordingly.

Depends on: https://github.com/longhorn/longhorn/issues/3155

[2021-10-15 09:55] johnliu55tw commented on #1316
In that case we could:
- Forcing GPT during installation so it's easier to add another partition
- Add cloud-config to add a new partition after installation, and mount it onto `/var/lib/longhorn` (done some PoC and it works)
- **Prevent `cos-installer` from allocating all the remaining space to the last partition `COS_PERSISTENT`**

Might have to wait for https://github.com/rancher-sandbox/cOS-to

[2021-10-15 10:00] wonleing commented on #1249
How's going on this feature? I did some further research.
The clone button can create VM config correctly. corresponding PV and PVC are also created

NAME                   STATUS   VOLUME                                     CAPACITY   ACCESS MODES   STORAGECLASS           AGE
win10-2-disk-1-8zwxs   Bound    pvc-7c71fec0-4445-4bc9-9c39-44dddf2a7bae   40Gi       RWX            longhorn

[2021-10-15 10:07] janeczku commented on #1430
It's a valid use case, but then we have to ensure that user-specifies "force format" to prevent running into the error situation above.

[2021-10-15 10:10] janeczku commented on #1430
Whats the reason we are exposing partitions to the user in the first place? Is there a use case of using multiple partitions on the same disk?
I think we should hide partition management and only let use select physical disc. that will also prevent all the UX confusion that stems from treating partitions and physical disks like they were the same thing.

[2021-10-15 12:40] krumware commented on #1225
Thanks y'all! I'll also retry this on some older hardware once another release is available

[2021-10-15 14:44] bk201 opened #1439 "[BUG] PXE boot installation doesn't give an error if `iso_url` field is missing"
**Describe the bug**
For PXE boot installation, if `iso_url` is missing, the installation still finishes with the error:
![iso_url-missing](https://user-images.githubusercontent.com/1691518/137505864-14208a07-f39a-44a6-9c92-d4424e87dbd6.png)

**To Reproduce**
Steps to reproduce the behavior:
Do PXE boot installation without specifying [the `iso_url` field](https://docs.harvesterhci.io/v0.3/install

[2021-10-15 15:23] noahgildersleeve commented on #1399
@yasker @guangbochen  If we're going to do that please let me know soon. I'm currently in the middle of migrating all of the tests and I have all of the git commits based on the tests repo locally in a feature branch, and there's a lot of tests.

[2021-10-15 15:32] noahgildersleeve commented on #1399
It might make sense to standardize off of what we are doing in Longhorn. which is to keep both of the tests (manual and automated) in the same repo. https://github.com/longhorn/longhorn-tests . I was going to ask @guangyee about a refactor to use the same directory structure when I was done importing the current test cases.

[2021-10-15 16:27] simonflood opened #1441 "[BUG] Insufficient CPU to run VMs using total cores"
**Describe the bug**
With Harvester installed on an Intel NUC7i7DNHE which has 4 cores/8 threads I'm unable to launch 4 VMs, each using 1 CPU - the fourth VM doesn't start with a warning triangle which says insufficient CPU.

**To Reproduce**
Steps to reproduce the behavior:
1. On a 4-core machine, create three VMs, each using 1 CPU. These will all automatically start.
2. Create fourth VM, again u

[2021-10-15 20:54] Jellyfrog commented on #1367
Yes! And this seems to be the problem. I should have kept the mgmt interface and added a second for external communications

[2021-10-15 20:54] #1367 closed, assigned to nobody

[2021-10-15 22:04] gaktive opened #1442 "[FEATURE] Custom clusters for nodes/clusters"
Originally from https://github.com/rancher/dashboard/issues/4298 and also ties into https://github.com/rancher/dashboard/issues/4208 though it stems from a comment in https://github.com/rancher/dashboard/issues/4208#issuecomment-928338820

We should support custom clusters for nodes/clusters from harvester.

[2021-10-15 22:13] gaktive commented on #1442
cc: @slickwarren

[2021-10-16 14:00] yaocw2020 commented on #1273
We can optimize the way to show the NIC. A preliminary idea is to show all NICs and the percentages appearing in all nodes.

[2021-10-17 13:16] himslm01 commented on #1376
In Harvester v0.2.0 - for a 2 core VirtualMachine the resources request "100m" cpu and there is no limit.
In Harvester v0.3.0 - for a 2 core VirtualMachine the resources request "2" cpu and there the limit of "2" cpu.
Requesting CPU like v0.3.0 does means there is no possibility of CPU over-provisioning, which is of very limited use.

[code]

[code]

[2021-10-17 17:18] jnfinitym commented on #1330
Weird, today I installed Harvester again from the same USB Stick and used the same version of Rancher deployed in the same way (in a VM on docker) and didn’t get the same issue!? - can’t reproduce it anymore, so I guess it was just a fluke.
On 13 Oct 2021, 22:27 +0200, Sheng Yang ***@***.***>, wrote:

[2021-10-18 01:22] BugMosquito opened #1443 "harvester support deployment with k3s?"

[2021-10-18 02:29] bk201 opened #1444 "[FEATURE] Support setting hostname via DHCPv4 client"
**Is your feature request related to a problem? Please describe.**

Currently (0.3.0), the hostname is set by users manually or generated automatically in PXE boot installation if it's not provided.
Users might want to control nodes' hostname via DHCP server. We can provide an option to enable this hehavior.

**Describe the solution you'd like**

- Harvester configuration: add an option in network

[2021-10-18 03:00] gitlawr commented on #1398
Related rke2 issue: https://github.com/rancher/rke2/issues/1959

[2021-10-18 08:18] janeczku opened #1446 "[BUG] VM scheduling failure not reflected in VM status"
Harvester 0.3.0
Rancher 2.6.1

1. Create a VM that exceeds the available resources in a cluster (resulting in scheduling failure)
2. Inspect status of VM (VM Overview and VM detail page)

**Expected:**
Scheduling failure is reflected in the status shown in the UI

**Actual:**
The status of the VM shown to the user:

Scheduling issue is only visible to user after navigating to VM -> Events
<img wid

[2021-10-18 09:18] wonleing commented on #1136
We managed to deploy harvester0.2.0 with helm chart on our existing kubevirt env.(avoid kubevirt and cdi over installation)
So this issue could be closed now

[2021-10-18 09:33] wonleing commented on #371
Now kubevirt on arm64 basically works fine. We have resolved graphic, mouse, keyboard problem, and arm64 desktop system installation verified OK. https://github.com/kubevirt/kubevirt/issues/3558
So we can go on exploring install and run arm64 system with harvester now, hope to get more support here @yasker

[2021-10-18 11:38] BugMosquito opened #1448 "Waiting for ValidatingWebhookConfiguration harvester-validator..."
what's the meaning of this info?

[2021-10-18 12:48] janeczku opened #1449 "[BUG] Incorrect naming of project resource configuration"
Harvester 0.3.0
Rancher 2.6.1

Navigate to Virtualization Management, select Harvester cluster, navigate to Projects/Namespaces.
Click on Create Project

Expected:
1. Can configure default resource limits for Virtual Machines
2. Can configure resource quota for resources relevant to VM management

Actual:

1.  Can configure "Container Default Resource Limit"
2. Can configure resource quota for res

[2021-10-19 12:41] lanfon72 commented on #1349
Close this as I verified `download KubeConfig` has been moved to **Support** page:
[New section for download kubeconfig]
![image](https://user-images.githubusercontent.com/5169694/137908874-cacfc38a-0642-4594-b3e5-4b6c82253aa5.png)
[removed from general views]
![image](https://user-images.githubusercontent.com/5169694/137908761-14895773-67c9-4346-b5fb-959e7a6ea9af.png)

Test Information
----
* Env

[2021-10-19 12:41] #1349 closed, assigned to lanfon72

[2021-10-19 12:51] janeczku opened #1450 "[BUG] Resource quota management not completely implemented in UI"
https://github.com/rancher/dashboard/issues/4412

[2021-10-19 13:19] lanfon72 commented on #1349
As the new UI not bundled into **master-ebfbf44a-head** yet, I will update the correct version with bundled one.
(this means, if you set the **ui-source**(from Advanced -> Settings) to `Bundled`, you can still see the KubeConfig Icon in header section)

[2021-10-19 17:32] janeczku opened #1451 "[BUG] Creating cluster using cluster template with admin-managed cloud credential fails"
https://github.com/rancher/rancher/issues/35184

[2021-10-19 21:04] yasker commented on #1429
We need to support overprovisioning by default.

[2021-10-19 23:09] yasker commented on #371
Since Harvester v0.3.0, we've switched to using RKE2 which doesn't have an ARM64 version yet.

REF: https://github.com/rancher/rke2/issues/1946 https://github.com/rancher/rke2/issues/817

[2021-10-20 02:09] lanfon72 commented on #1200
It seems this issue was target to update documents for _ISO installation with USB_, as we changed to use **Grub2**, @bk201 does it means that we can use any methods to make bootable USB from ISO? (and it should work correctly?)

[2021-10-20 02:14] bk201 commented on #1200
So far I have seen these ways to create installation USB:
- `dd` the ISO to the USB
- Use balenaEtcher

There are also some caveats using a USB stick, I'll create a section in the doc.

[2021-10-20 05:25] Remigius2011 commented on #760
Maybe for a quick work-around, one could download the public key from a public location (e.g. github) in a runcmd or so (haven't tried it yet, though - but we will).

[2021-10-20 06:53] wonleing commented on #371
so for harvester v0.2.0 there should not have significant block. right?
We can try on that way.

[2021-10-20 09:38] WuJun2016 opened #1453 "[BUG] The config will keep changing, so the frontend will keep refreshing the list"
**Describe the bug**

The config will keep changing

![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/ee771543-a001-469f-944d-ddba4f5aba48)

**To Reproduce**
Steps to reproduce the behavior:
1. Listening to config resources

**Expected behavior**

**Support bundle**

**Environment:**
 - Harvester ISO version:
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdg

[2021-10-20 09:44] guangbochen commented on #1330
Refer from https://github.com/harvester/harvester/issues/1437

**Expected:**

that explain how to import a Harvester cluster. E.g. the specific steps to be able to run the "kubectl" command in harvester.

**Actual:**

user is shown generic instructions to run the command on "an existing Kubernetes cluster running a supported Kubernetes version"

<img width="841" alt="Screenshot 2021-10-15 at 12 56

[2021-10-20 09:49] guangbochen commented on #1430
as per offline discussion, It is recommended to only support adding the entire disks from the UI to avoid ambiguity, for users who want to manipulate the partition disks they do it manually via the API-UI. cc @n313893254 @weihanglo

[2021-10-20 10:21] guangbochen commented on #1416
Host labels are already configurable on the Harvester UI, @bk201 can u please help to check if we can add labels with the Harvester configure file.
![image](https://user-images.githubusercontent.com/4569037/138072013-50a31646-743d-4f93-8a3b-156153359a0c.png)

[2021-10-20 10:38] bk201 commented on #1416
The `labels` and `taints` fields are removed when designing the Harvester configuration because I didn't see the need, do we want to add those fields back?
A workaround is to use `os.write_files` to create RKE2 configuration files.

[2021-10-20 11:40] simonflood commented on #1225
Is it possible to get a new build of Harvester 0.3.0 with the missing firmware included? I've tried installing it on some older VGA-only servers and seeing (or not!) the blank screen. Adding nomodeset gets me to the install but after typing in a hostname and pressing Enter (whether creating a new cluster or joining an existing one) it takes me back to the Installation Mode screen. This is happenin

[2021-10-20 12:54] guangbochen commented on #1416
Yep, I think allowing users to configure directly with Harvester config file is what is expected here.

[2021-10-20 13:31] guangbochen commented on #1258
close as no description is provided, please feel free to file a new one of it, thanks.

[2021-10-20 13:31] #1258 closed, assigned to nobody

[2021-10-20 13:33] guangbochen commented on #1239
@janeczku can u please help to check if this is still an issue of the v0.3.0, thanks.

[2021-10-20 13:47] janeczku opened #1454 "[BUG] Incorrect memory unit conversion in namespace resource quota"
https://github.com/rancher/dashboard/issues/4417

[2021-10-20 15:04] janeczku opened #1455 "[BUG] Node driver provisioning fails when resource quota configured in project"
Harvester 0.3.0 / Rancher 2.6.1

**Scenario 1:**

1. Create a new project in Rancher Virtualization Management and configure resource quota for CPU reservation, CPU limit and memory reservation, memory limit.
2. Create a namespace in the project
3. Provision a cluster in the namespace using Harvester RKE2 node driver.

**Result:**

VM fails to be scheduled with error:

[code]

**Scenario 2:**

1.

[2021-10-20 21:46] noahgildersleeve commented on #1399
Updated tests repo with docs, worked with @guangyee and updated the workflows so that on any PR merge to main that changes the docs directory it will auto-deploy to the GitHub pages branch and update the static site.

[2021-10-20 21:46] #1399 closed, assigned to khushboo-rancher, noahgildersleeve

[2021-10-20 22:21] abonillabeeche opened #1457 "[BUG] cordon not documented"
"Cordon" under Hosts is not documented - I was expecting it here

https://docs.harvesterhci.io/v0.3/host/host/#node-maintenance

[2021-10-20 22:32] shangma commented on #571
### **To Test:**
1. create a vm with 2 or more volume
![image](https://user-images.githubusercontent.com/2396545/138181386-72c158cf-2a67-4617-a57b-7a5d20eaad54.png)

2. Click on "Generate template" and give it a name
![image](https://user-images.githubusercontent.com/2396545/138181420-a3fb3226-9dde-4bfb-89af-fea8378107b2.png)

3. Check if 2 or more images are created based on the same amount of vo

[2021-10-21 02:33] lanfon72 commented on #1415
Tested on bare metal 3nodes that successful uploaded with 5.36G/5.43G .

Harvester version: **master-ebfbf44a-head**
dashboard option: **Auto**

[2021-10-21 02:39] lanfon72 commented on #1387
successfully create VMs over than six, and still able to start new VM successfully.

Harvester version: **master-ebfbf44a-head**
dashboard option: **Auto**

[2021-10-21 02:46] guangbochen commented on #848
close of v0.3.0

[2021-10-21 02:46] #848 closed, assigned to futuretea

[2021-10-21 02:58] abonillabeeche commented on #752
Is this really implemented? I don't see it - and it's not documented under
https://docs.harvesterhci.io/v0.3/host/host/
please let me know so I can reopen or open a bug for the docs. Thanks

[2021-10-21 03:01] abonillabeeche commented on #1379
I think this might be a residue of
https://github.com/rancher/rancher/issues/35018
maybe duplicate of
https://github.com/harvester/harvester/issues/1311

[2021-10-21 03:07] abonillabeeche commented on #1432
This was resolved indeed by corruption and fixed when the metrics data was cleared. A few comments:
- We need to explain/document a node shutdown procedure, including full-cluster procedure. I think it's setting the node in maintenance and then cordon?
- This would have been easy to fix if we had an embedded rancher URL, perhaps in the support section to easily ssh into the prometheus container an

[2021-10-21 03:16] guangbochen opened #1458 "[FEATURE] Supprt Network IP Pools config on the Harvester UI"
**Is your feature request related to a problem? Please describe.**
Before Harvester v1.2.0, users has to have to config the VIP CIDR pools manually using the `kubectl` command, we should add support to allow config on the dashboard.
[code]

https://docs.harvesterhci.io/v0.3/rancher/cloud-provider/#ipam
https://github.com/kube-vip/kube-vip-cloud-provider#global-and-namespace-pools

**Proposed Solut

[2021-10-21 03:32] abonillabeeche opened #1459 "[BUG] kube-vip not really ready - no VIP assigned to node"
**Describe the bug**
After a node reboot, the Cluster said it was Ready but it was inaccessible (404 on Dashboard). I had to delete the kube-vip pod to make it really accessible.

**To Reproduce**
p5820:~ # kubectl get configmap -n kube-system kubevip -o yaml
apiVersion: v1
data:
  cidr-cattle-system: 10.0.0.224/32
  range-global: 10.0.0.170-10.0.0.179
kind: ConfigMap
metadata:
  annotations:

[2021-10-21 03:50] FrankYang0529 commented on #1345
NTP connection issue also happened in another golang NTP client https://github.com/beevik/ntp/issues/35. I will take advice from https://github.com/beevik/ntp/issues/35#issuecomment-751244523 to check all IP address which DNS server returns if there is an i/o timeout for the first probe. This way was also implemented in the [NTP project](https://github.com/ntp-project/ntp/blob/master-no-authorname

[2021-10-21 04:31] abonillabeeche opened #1460 "[BUG] kube-vip cloud-provider LB not released after cluster deletion"
**Describe the bug**
The clusters that had an application and requested a LoadBalancer, are no longer installed, but the LB is still there.

[code]

Should these LBs get released after some time or should we document how to release the LB IPs?

**To Reproduce**
- Configure the VIP range for kube-vip
- Create an RKE2 cluster using the Harvester provider
- deploy an app and expose as service loadbal

[2021-10-21 06:39] himslm01 opened #1461 "[BUG][UI] F keys and Alt-F keys in web VNC interface"
As mentioned in https://github.com/harvester/harvester/issues/401 :: when viewing a VM's UI using the web VNC viewer in the Harvester UI from a web browser on a Linux GUi desktop, it is impossible to send some F keys and all Alt-F keys to any VM via the web VNC interface.

https://github.com/harvester/harvester/issues/401 was closed after some Windows desktop specific key strokes were implemented,

[2021-10-21 07:20] guangbochen commented on #785
- import or edit as YAML will be supported via https://github.com/harvester/harvester/issues/1304
- export template is already supported via 0.3.0 with download the YAML

[2021-10-21 07:20] #785 closed, assigned to nobody

[2021-10-21 07:51] bk201 opened #1462 "[BUG] Fail to use `/dev/by-id/xxx` link as the install disk in PXE boot installation"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Do a PXE boot installation and specify the symbolic link to a disk (e.g., `/dev/disk/by-id/wwn-0x5000c50015ea819b`) in the `install.device` field.
2. The installation fails even `/dev/disk/by-id/wwn-0x5000c50015ea819b` exists on the host.

![Screen Shot 2021-10-21 at 3 48 36 PM](https://user-images.githubusercontent.com/169

[2021-10-21 08:29] bk201 commented on #1462
The doc can also suggest users use the persistent link names too.

[2021-10-21 08:34] wonleing opened #1463 "[BUG]server could not find the requested resource datavolumes."
**Describe the bug**

I was trying to upgrade harvester image, but turned out even the same harvester image can not work.
ALL pods show Running, but the harvester web can not show
`kubectl log harvester-5c8d554d67-j5jnj -n harvester-system` has some error
E1021 08:22:11.079730       6 reflector.go:138] github.com/rancher/lasso/pkg/cache/cache.go:124: Failed to watch *v1beta1.DataVolume: failed to

[2021-10-21 08:48] guangbochen commented on #1396
Link to https://github.com/rancher/rancher/issues/35000

[2021-10-21 08:52] yaocw2020 opened #1464 "[BUG] VM pods turn to the terminating state after switching the VLAN interface"
**Describe the bug**

VM pods turn to the terminating state because of downtime after switching the VLAN interface.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a VM in a certain host.
2. Switch the VLAN interface of this host.

**Expected behavior**

**Support bundle**

**Environment:**
 - Harvester ISO version:  0.3
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge

[2021-10-21 08:53] yaocw2020 commented on #1464
[code]
[code]

[2021-10-21 09:32] guangbochen opened #1465 "[FEATURE] toggle harvester node driver with the harvester global flag"
link to https://github.com/rancher/rancher/issues/34886

We should add the Harvester node driver as a built-in type and also support downloading the Harvester node driver within the air-gap env.

[2021-10-21 09:41] guangbochen commented on #531
considering to add the `Network` tab on the host view page and print all valid information of the available NICs, e.g name, status, mac address and etc.
![image](https://user-images.githubusercontent.com/4569037/138252453-e79bbea7-e905-4c70-9aa3-3c60fedae1c2.png)

[2021-10-21 09:45] guangbochen commented on #810
close in favor of v0.3.0

[2021-10-21 09:45] #810 closed, assigned to nobody

[2021-10-21 09:52] guangbochen commented on #920
close in favor of https://docs.harvesterhci.io/v0.3/faq/

[2021-10-21 09:52] #920 closed, assigned to nobody

[2021-10-21 09:53] guangbochen commented on #925
close as this has been addressed via https://github.com/harvester/harvester/issues/857

[2021-10-21 09:53] #925 closed, assigned to nobody

[2021-10-21 09:58] guangbochen commented on #930
close in favor of v0.3.0 release, feel free to re-open it if needed, thanks.

[2021-10-21 09:58] #930 closed, assigned to nobody

[2021-10-21 10:01] guangbochen commented on #953
close in favor of the v0.3.0 release, please feel free to re-open it if u encounter a `wifi card` issue, thanks.

[2021-10-21 10:01] #953 closed, assigned to yaocw2020

[2021-10-21 10:02] guangbochen commented on #957
close in favor of the existing API doc, please file a separate issue if a more detailed doc is needed.

[2021-10-21 10:02] #957 closed, assigned to gitlawr

[2021-10-21 10:15] yshashix opened #1466 "[FEATURE] HA cluster plan if Master nodes get down."
I tested v0.3 but when the master node goes down, I am unable to access the cluster and VM went down I guess. Is there any plan to make an HA cluster for harvester?

[2021-10-21 10:22] guangbochen commented on #1466
When u have total nodes with >= 3 it will promote the other two nodes to be the management node and therefore u will get a HA cluster automatically, the node fault toleration is 1 out of those 3 management nodes.

All other nodes joined later will only become a compute node and have no effect on the cluster's HA.

[2021-10-21 10:29] guangbochen commented on #1023
close in favor of https://docs.harvesterhci.io/v0.3/install/pxe-boot-install/#preparing-ipxe-boot-scripts

[2021-10-21 10:29] #1023 closed, assigned to nobody

[2021-10-21 10:39] guangbochen commented on #1093
duplicate of https://github.com/harvester/harvester/issues/1093

[2021-10-21 10:39] #1093 closed, assigned to nobody

[2021-10-21 10:51] guangbochen commented on #1134
@yasker do u think we should add visiting embed Rancher on the support page?
![image](https://user-images.githubusercontent.com/4569037/138263056-71ce710e-4940-4de3-af83-c035cad6d0e8.png)

[2021-10-21 14:05] yshashix opened #1467 "[Question] Flat network type support"
Is there plan to support flat network type as well?
Many test cluster not have access to switch with VLAN configuration. This will ease testing rancher integration with harvester as harvester currently need VLAN to be successfully integrated to Rancherv2.6

[2021-10-21 14:36] yasker commented on #1134
No. Let's just document the URLs used for accessing the embedded Rancher and Longhorn in the Debug section of the documentation.

[2021-10-21 14:39] yasker commented on #1396
RKE1 is the distro will be GA at the Harvester release since Rancher hasn't declared RKE2 GA yet.

[2021-10-21 14:55] guangbochen commented on #1415
close in favor of https://github.com/harvester/harvester/issues/1415#issuecomment-948200449 and should be resolved in the next release.

For the current v0.3.0 version, u can either using multi-cluster UI or replace the single cluster UI settings with the following config(but this is just for validation purposes as the master-head UI is keep updating and may break from time to time.)
![image](http

[2021-10-21 14:55] #1415 closed, assigned to WuJun2016

[2021-10-21 15:19] simonflood commented on #1467
You don't need a switch with VLANs to test Harvester+Rancher. If you enable VLAN support within Harvester and add a custom network using VLAN ID 1 you're effectively setting up a bridge to your flat network. Any VMs attached to your custom network will then appear on and be accessible from your flat network.

[2021-10-21 15:24] simonflood commented on #1380
I'm seeing this with Harvester 0.3.0 when trying to upload ~250MB qcow2 files, either from a local directory on my laptop or a remote directory mounted via CIFS. I am NOT refreshing the Images page during upload.

[2021-10-21 15:26] olljanat commented on #1290
Looks that we got answer to that question on https://rancher.github.io/os2/ so closing this one.

[2021-10-21 15:26] #1290 closed, assigned to nobody

[2021-10-21 15:30] simonflood commented on #1380
I should note that the file size is not picked up on the Images page.

I am able to Create an image if I set up a local HTTP server using Python in the source directory and use the appropriate URL for the same files (http://<localipaddress>:8000/filename) - the file upload is almost instant with file size picked up.

[2021-10-21 15:47] noahgildersleeve commented on #752
@abonillabeeche It's in the config for the host. You can edit it via the UI.
![image](https://user-images.githubusercontent.com/83787952/138312320-c61ab1c6-5470-4368-a381-a634219968c3.png)
It mostly just allows you to input the

1. IPMI address
2. KVM over IP address
3. webtty/gotty address
4. vnc address

or anything similar. If it's not in the docs definitely open a bug for creating the docs for

[2021-10-21 16:06] yshashix commented on #1467
@simonflood Thanks for a tweak to use VLAN ID 1 but still my VMs created from a rancher for rke2 on harvester are not able to get IPs.
I tried to set VLAN from Advance->settings->vlan in harvester dashboard VLAN "Default physical NIC name of the VLAN network.", I don't get the option of selecting physical NIC other than harvester-mgmt whereas I have selected NICs for VLAN in each host and created

[2021-10-21 16:39] abonillabeeche opened #1468 "[FEATURE] harvester vm balancer"
**Is your feature request related to a problem? Please describe.**
As new hosts are added or VMs spike on utilization, a balancer should migrate the VM to another host.

**Describe the solution you'd like**
A VM balancer operator should migrate resources to keep the cluster balanced.

**Describe alternatives you've considered**
Current  VM scheduling only allows for VMs to be placed on the best ho

[2021-10-21 16:48] abonillabeeche opened #1469 "[FEATURE] Support HostPath Storageclass / local Storage"
**Is your feature request related to a problem? Please describe.**
Certain virtual machines are not worth protecting or may require close to bare-metal storage performance.

**Describe the solution you'd like**
Supporting a hostPath to place the VMs on a separate disk/path would allow this.
Allow Live Migration of the VM, even if the migration takes longer with minimal ping/connectivity loss.

[2021-10-21 16:53] abonillabeeche opened #1470 "[FEATURE] Configure VM network settings from UI"
**Is your feature request related to a problem? Please describe.**
cloud-init is not terribly easy and Network settings are a repeatable task

**Describe the solution you'd like**
The UI could inject the network configuration as it does today with the ssh keys to simplify the process. Proxmox does this via configuring these settings from the UI utilizing a cloud-init disk.

![image](https://user-i

[2021-10-21 16:56] abonillabeeche opened #1471 "[FEATURE] Migrate VMs across Rancher managed harvester Clusters"
**Is your feature request related to a problem? Please describe.**
Allow the migration of a VM to another Harvester cluster

**Describe the solution you'd like**
Ideally, migrating VMs from one cluster to another would be great but initially a backup of the VM to storage target and doing a recovery on another cluster from that storage target would be acceptable. After the VM is recovered, allow mo

[2021-10-21 17:23] yasker commented on #1469
Having another storage class is against the general design of Harvester. The VM with local path has to be treated separately and cannot be migrated, snapshotted, backed up etc.

If no replication is needed, Longhorn with a single replica might be the way to do it instead.

[2021-10-21 18:19] abonillabeeche opened #1472 "[BUG] current images error out"
**Describe the bug**
My images were working perfectly fine, suddenly two of them show this error

<img width="1543" alt="editedscreenie" src="https://user-images.githubusercontent.com/5146963/138335429-d21fe950-e95e-44fc-8aa6-7c7dff00bf8f.png">

**To Reproduce**
Don't know.

**Expected behavior**
Already imported images shouldn't fail or get re-downloaded.

**Support bundle**
https://drive.google.

[2021-10-21 21:43] noahgildersleeve commented on #1283
Tested in master-d05a6cc7-head. Verified as fixed.
1. Tried to create without image name and size
2. Tried to create without size
3. Had to enter both before creation was successful
4. Hostname wasn't required

[2021-10-21 21:43] #1283 closed, assigned to WuJun2016, noahgildersleeve

[2021-10-21 23:48] noahgildersleeve commented on #1254
Tested in master-d05a6cc7-head. Verified that both interfaces showed up during ISO install on virtualized environment and deploy was successful to bare metal environment with three node DL160 environment.

[2021-10-21 23:48] #1254 closed, assigned to noahgildersleeve

[2021-10-21 23:53] noahgildersleeve commented on #1167
@n313893254 How would I go about testing this?

[2021-10-22 00:54] gitlawr commented on #1247
@janeczku It works for me per https://github.com/rancher/rancher/issues/34801#issuecomment-949129183, can you help confirm?

[2021-10-22 00:57] gitlawr commented on #1004
Depend on https://github.com/longhorn/longhorn/issues/2618

[2021-10-22 01:37] guangbochen commented on #1363
@guangyee let me know if this issue is critical to u, I will temporarily move this to 1.1.0 for now, thanks

[2021-10-22 01:47] guangbochen commented on #1225
You can download and test the latest ISO build from the https://releases.rancher.com/harvester/master/harvester-master-amd64.iso, but please keep in mind this is master-head version and just use it for validation purpose, thanks

[2021-10-22 02:13] n313893254 commented on #1167
My bad. We add a "Disk State" column, when the disk has error messages, It will show a tooltip "Node has unready or unschedulable disks."

![image](https://user-images.githubusercontent.com/18737885/138382243-01167602-2eab-4c83-9ea9-329a063a2880.png)

[2021-10-22 04:23] yaocw2020 opened #1474 "[Feature][Bug] Add a route to prove RKE1/RKE2 in VLAN network can access the VIP"
**Describe the bug**

The reachability of the network among the external rancher, Harvester VIP and the rke2 cluster nodes is a necessary condition for the rke1 or rke2 cluster created by the Harvester node provider in the VLAN networks.

The users should guarantee network reachability between the external rancher and the rke cluster nodes, the external rancher and the Harvester VIP. However, we s

[2021-10-22 05:32] weihanglo commented on #1429
FWIW there are some interesting configs in KubeVirt.

For CPU overcommitment, there are two related cluster-wide config on KubeVirt CR

- `spec.configuration.cpuRequest`: set the global default CPU request [if a request is send without specifying CPU][cpurequest]. Default to 100m
-  `spec.configuration.developerConfiguration.cpuAllocationRatio`: a ratio that [controls CPU allocation amount][cpuall

[2021-10-22 05:52] guangbochen commented on #1429
Having a cluster-wide overcommit setting is sufficient enough at the current stage, also make sure we add an additional setting of storage overcommit and sync it with LH's config accordingly, thanks.

[2021-10-22 06:10] FrankYang0529 commented on #960
I can't reproduce this in master-d05acc-head.

## Test Environment

* Verified version: master-d05acc-head (1 node on KVM).
* Use local NFS from Longhorn example (https://github.com/longhorn/longhorn/blob/v1.2.2/deploy/backupstores/nfs-backupstore.yaml).

## Test cases

Follow test steps 1 to 12.

### Case 1 - Restore backup 1

* Verified only file1.txt and md5sum1-1 existent.✔️
* Verified `md5sum

[2021-10-22 06:46] lanfon72 commented on #1412
Hi @janeczku, would you please provide the YAML file so that I can reproduce and narrow down the bug?

[2021-10-22 07:44] guangbochen opened #1475 "[BUG] After shutting down the cluster the kubeconfig becomes invalid"
**Describe the bug**

After shutting down the cluster last night and starting it today and logged in to the web UI and downloaded the KubeConfig
but it gives me the following error: `Unable to connect to the server: x509: certificate is valid for 10.52.0.126, 10.52.1.39, 10.53.92.110, not 172.18.0.20`

The kube-vip is 172.18.0.20 and it looks like the cert is valid for the flannel networks?
[code]

[2021-10-22 07:45] guangbochen commented on #1475
A temp workaround is to ssh login to one of the management node and run `kubectl annotate secrets -n cattle-system tls-rancher-internal listener.cattle.io/cn-172.18.0.20=172.18.0.20` will fix the issue.

[2021-10-22 08:16] yaocw2020 opened #1476 "[FEATURE] Add network reachability detection from host for the VLAN network"
**Is your feature request related to a problem? Please describe.**

- Add the route from the host to the VLAN network automatically
- Provide network reachability detection for the VLAN network.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-10-22 08:21] yaocw2020 commented on #1059
Workaround: Add a router by cloud-init manually.
e.g. The network of hosts in my environment is 172.16.0.0/16, and the gateway for the VLAN 178 is 172.16.178.1, and the NIC in the VM is eth1, so I can add the routing rule in the cloud config user data as below.
[code]
@guangyee @mbelur @noahgildersleeve

[2021-10-22 08:24] yaocw2020 commented on #1059
We will add an enhancement to add the routing rule automatically.
Related issue: https://github.com/harvester/harvester/issues/1476

[2021-10-22 08:27] yaocw2020 commented on #1476
Dependency: https://github.com/harvester/harvester/issues/1474

[2021-10-22 08:37] n313893254 commented on #1179
Seems the issue has been fixed.

- Setting page
![image.png](https://images.zenhubusercontent.com/59db4297b0222d5de47ad632/01913c2c-11d3-4585-ab7a-17992736d100)

- Backup list
![image.png](https://images.zenhubusercontent.com/59db4297b0222d5de47ad632/ad479e85-6669-41da-827e-6fc0ee430a4f)

[2021-10-22 09:25] weihanglo opened #1477 "[BUG] intimidating error message when missing mandatory field"
**Describe the bug**
When creating a new VM, if leave memory field blank, it'll throw an error with complex regular expressions.

**To Reproduce**
Steps to reproduce the behavior:
1. Head to "Virtual Machines" page. Fill out all mandatory field but leave memory blank.
2. Click "Create"
3. See that error

**Expected behavior**
Maybe Web UI should check the value not empty such like other fields do.

[2021-10-22 10:03] janeczku commented on #1450
This issue must be addresses in both UI views:

- RKE2 Cluster Explorer
- Harvester Virtualization Management

[2021-10-22 16:32] yasker commented on #1263
This looks pretty bad. Per conversation with @janeczku , we will need this for v1.0.0.

[2021-10-22 19:15] msnelling opened #1478 "[FEATURE] Support other build targets for Terraform provider"
As a macOS user I am unable to use the current terraform provider as it only supports linux_amd64, even bulding myself with the `Makefile` still builds a Linux image.

I would like to see other binary formats for the terraform plugin.

[2021-10-24 02:21] TangStone commented on #1086
V0.3.0 version has the same problem

[2021-10-24 12:42] futuretea commented on #574
link to https://github.com/kubevirt/kubevirt/issues/6669
Related PR: https://github.com/kubevirt/kubevirt/pull/6670

[2021-10-25 03:30] shuo-wu commented on #1472
The root cause is this issue: https://github.com/longhorn/longhorn/issues/3061

[2021-10-25 04:25] TachunLin commented on #1406
@guangbochen, @WuJun2016 Verified on master-ebfbf44a-head.
Read-only user can't manage API actions now but still remain some settings in volume and images page

### Result

After checking, Read-only user can't do API management actions on VM, Image and Volume.
While for volume and images , there's still UI settings remains like **"export to image"** in Volume and **"create virtual machine"** in im

[2021-10-25 06:40] guangbochen commented on #1406
@WuJun2016 seems like `For a read-only user, actions are not available in volume APIs, but UI still shows the export action. A js error will pop up if the action is performed.` is still exists, we should fix it properly.

Additionally, @TachunLin I think we can close this issue once the above bug is fixed, and feel free to file a new issue if any similar bugs occur, thanks.

[2021-10-25 08:59] lanfon72 commented on #1349
verified **master-d05a6cc7-head** with `ui-source=Bundled`

[2021-10-25 09:01] johnliu55tw commented on #1241
To add additional disks to Harvester right after installation, I'm thinking of utilizing Node Disk Manager (NDM):
- During the installation, create GPT with one EXT4 partition **with a certain label (e.g. `HARV_DISK_*`)** for those additional disks user specified.
- After installation and Harvester is up and running, NDM will scan the block devices. If it sees the partition has a label `HARV_DISK_

[2021-10-25 09:25] lanfon72 commented on #1253
Verified it is synced with Longhorn.
[Harvester's storage status]
![image](https://user-images.githubusercontent.com/5169694/138670136-944a353f-6880-4f7d-9af1-4e553662ffcd.png)

[Longhorn's storage status]
![image](https://user-images.githubusercontent.com/5169694/138670196-83db47a2-b481-416f-8d6d-eb71007fc523.png)

[Node's storage status in console view]
![image](https://user-images.githubusercon

[2021-10-25 09:25] #1253 closed, assigned to lanfon72

[2021-10-25 09:57] TachunLin commented on #1406
Close this issue since currently read-only user are not able to manage API actions in vm, images and volumes.
The remaining UI settings will raise a new issue to tracking accordingly.

[2021-10-25 09:57] #1406 closed, assigned to WuJun2016, TachunLin

[2021-10-25 10:07] lanfon72 opened #1479 "[BUG] Required to input bootstrap password with setup new password"
### Describe the bug
Input box `Bootstrap Password` shown and required input password to set up new password.
![image](https://user-images.githubusercontent.com/5169694/138676750-a7bf91b2-5079-49ff-9b4b-77fc2ed6c2cf.png)

### To Reproduce
Steps to reproduce the behavior:
1. Install fresh Harvester
2. Navigate to `https://<vip>/`, will be redirect to `https://<vip>/dashboard/auth/setup`
3. use `ctr

[2021-10-25 11:31] TachunLin commented on #1167
@guangbochen, @n313893254
Verified fixed on master-d05a6cc7-head. Close this issue.

### Result

If host encounter disk ready or schedule failure, on host page the "disk state" will show **warning**
With a hover tip "**Host have unready or unschedulable disks"**

![image](https://user-images.githubusercontent.com/29251855/138687164-877422a0-d33b-4e26-9c0b-d52b8f4e6995.png)

### Test Information
*

[2021-10-25 11:31] #1167 closed, assigned to n313893254, TachunLin

[2021-10-25 12:59] FrankYang0529 commented on #1389
I tried to reproduce the bug, but I can't initialize RKE2 in harvester. I got error like the following.

![Screen Shot 2021-10-25 at 8 54 53 PM](https://user-images.githubusercontent.com/4927361/138698942-889d626f-dd28-4fce-b6af-46e3373ab914.png)

When I tried to debug in the VM, I got error message. `[ 6651.811118] cloud-init[1382]: [ERROR]  Error while connecting to Rancher to verify CA necessit

[2021-10-25 13:25] FrankYang0529 commented on #1413
I can reproduce the bug. When I tried to use default kubeconfig on 4th node. I got error message `Unable to connect to the server: x509: certificate signed by unknown authority`.

[2021-10-25 13:43] TachunLin commented on #1414
@guangbochen, @janeczku
This issue verified **not fixed** on master-d05a6cc7-head. Move this issue to review pipeline stage.

### Result
Unpartitioned NVMe disks can be detected and partitioned.
But failed to add and mount NVMe disks in host page.
![image](https://user-images.githubusercontent.com/29251855/138704497-2bce24c3-3fd4-4115-83d0-d84c502ac286.png)

### Test Information
* Test Environment

[2021-10-25 15:13] TachunLin commented on #1358
@n313893254
Verified fixed on master-d05a6cc7-head, close this issue.

### Result

When mouse hovering on add disk drop-down menu, the selection will not jump back to the first item after a certain time period.

![image](https://user-images.githubusercontent.com/29251855/138722149-20c04442-3d1b-4dee-be6b-048bbc35cfb3.png)

### Test Information
* Test Environment: Local qemu kvm machines with 3 nod

[2021-10-25 15:13] #1358 closed, assigned to n313893254, TachunLin

[2021-10-25 17:11] TachunLin commented on #1345
@FrankYang0529
Verified fixed on master-d05a6cc7-head, close this issue.

### Result
After many times and different condition trial,
Using valid ntp server, there is no "failed to reach to NTP server" message happens

- [ O ] Use default ntp server 0.suse.pool.ntp.org
         more than 20 times, through back and force to each end.
         **Even encounter network latency, it will retry several t

[2021-10-25 17:11] #1345 closed, assigned to FrankYang0529, TachunLin

[2021-10-25 18:05] simonflood commented on #1225
Thanks, the latest ISO build (af921bf) worked a treat on an older VGA-only server. No need to use nomodeset plus the keyboard worked fine too and I was able to progress through installer menus.

[2021-10-25 18:15] simonflood opened #1481 "[FEATURE] Mobile web interface"
**Is your feature request related to a problem? Please describe.**
Web interface for Harvester doesn't look good on a mobile device.

**Describe the solution you'd like**
A simplified and/or less fancy web interface when a web browser is detected running on a mobile device.

**Describe alternatives you've considered**
Dedicated mobile app (like VMware's vSphere Mobile Client app - will log a separ

[2021-10-25 19:39] guangyee commented on #1355
Verified. I do see the proper warning message when attempting to destroy the vlan.

[2021-10-25 19:39] #1355 closed, assigned to guangyee, futuretea

[2021-10-25 19:56] guangyee commented on #1059
Adding bootcmd to cloud-config does not appear to work. Running `ip r` still showing the old routes.

[2021-10-25 20:02] guangyee commented on #1059
I still don't understand why adding the route via cloud-config is a viable workaround. In our case, the route works *after rebooting the VM*. The routes inside the VM remained the same. This is still a mystery.

[2021-10-25 20:42] noahgildersleeve commented on #1357
I tested this in master-d05a6cc7-head. It didn't seem to work. I tested on a node with 12 logical cores and 64gb of RAM in a 4 node setup (DL160).
1. trigger kernel panic as `root` with `echo c >/proc/sysrq-trigger`
2. Wait for reboot
3. Check logs with `journalctl -u kdump` and `ls /var/crash`
Let me know if you want this to be tested in some other way.

[2021-10-25 22:37] chajain opened #1483 "[BUG]Backup stays in Progressing state when the Host on which VM is running is powered down"
**Describe the bug**
When trying to take backup of a VM after powering down the Host which is hosting the VM, the back stays in Progressing state and becomes Active when the Host is powered up

**To  #Reproduce**
Steps to reproduce the behavior:
1. In a multinode cluster, bring down host that is hosting the VM
2. Click take backup in virtual machine list

**Expected behavior**
You should not be ab

[2021-10-26 00:17] johnliu55tw commented on #1241
**2021-10-26 Update**: No need to add this functionality to the Installer UI. For now we could only implement this feature for PXE/Remote config installation.

[2021-10-26 00:42] weihanglo commented on #1334
For my perspective, longhorn/longhorn#3076 is more relevant to this issue as its more general. That is, when a user evicts a disk, they does not need to know where the volume would be scheduled.

[2021-10-26 03:56] guangbochen commented on #1347
close in favor of https://docs.harvesterhci.io/

[2021-10-26 03:56] #1347 closed, assigned to guangbochen

[2021-10-26 04:50] johnliu55tw commented on #1241
# High-level design
## Some notes
- Seems like Longhorn always expects one default path to exist. We can change the path, but cannot disable it during the installation [REF](https://longhorn.io/docs/1.2.2/volumes-and-nodes/multidisk/#configuration)

- Other than the method I mentioned in [my previous comment](https://github.com/harvester/harvester/issues/1241#issuecomment-950690838), we could also

[2021-10-26 08:37] bk201 commented on #1241
Another idea is to store rules in new/existed CR or configmap and let NDM checks if new BlockDeivces match the rules.
As a user, I feel it's much easier to manage storage in Harvester GUI.

Similar concepts in other storage:
- DriveGroup in DeepSea (Ceph)
  - https://documentation.suse.com/ses/6/single-html/ses-deployment/index.html#ds-drive-groups
  - https://docs.ceph.com/en/pacific/cephadm/osd/

[2021-10-26 08:49] Remigius2011 commented on #1134
it even looks like it's possible to add new users via this URL: https://&lt;harvesterIp&gt;:30443/dashboard/c/local/auth/management.cattle.io.user
subsequently, a new ClusterRole must be added for the user using "Create from YAML" - at first sight it seems to work. However, a small piece of UI to manage members of the Harvester Cluster would definitely add to the UX.

[2021-10-26 09:06] guangbochen commented on #1241
+1, I reckon using the `deviceFilter` is a good idea as it can be stored and configured later as a new setting config, the NDM should auto-provisioning and mount those volumes as an additional data volume if the value is specified. cc @weihanglo can help to add this feature if needed.
- for the longhorn's default `volume path` if it is not easy to config the additional volume as the default one du

[2021-10-26 09:13] guangbochen commented on #1134
Yes but it is not recommended in the current stage, we would prefer users to leverage an external Rancher to manage its downstream Harvester clusters, https://docs.harvesterhci.io/v0.3/rancher/virtualization-management/, with that u will get full support of multi-tenant, auth providers and so on from the Rancher server.

[2021-10-26 10:05] janeczku commented on #1357
@noahgildersleeve

I believe the crash kernel is currently only activated if the system is booted via the "debug" boot menu entry. Could you clarify whether you did boot from that?

[2021-10-26 10:21] FrankYang0529 commented on #982
For this issue and https://github.com/harvester/harvester/issues/983, Pods are stuck in the `Terminating` state when we turn off a node. This is also including Longhorn Pods. We can't gracefully remove Pods. Even if we set `--grace-period=0`, Pods still can't be removed. Also, there is no finalizer for VM Pods, so deleting finalizers doesn't work. We can only delete Pods by adding `--force`.

For

[2021-10-26 11:07] johnliu55tw commented on #1241
@guangbochen Indeed it's a bit tricky to use other disks as Longhorn's default volume path. I think I'll skip this part for now and focus on NDM part.

@bk201 Good idea. I could use other rules in addition to the filesystem label. I will look into this.

[2021-10-26 11:39] weihanglo commented on #1241
The design sounds reasonable to me. We can rollout something like `deviceFilter` at this moment.
@johnliu55tw feel free to ping me if you need anything.

[2021-10-26 13:56] guangbochen commented on #982
I think the expected behaviors would be:
- VMs should report unhealthy status
- VMs can recover on the other nodes(automatically after a period of time, or can be done manually by users).

Can we also check if adding the following configs to the apiserver would mitigate the issue, thanks?
https://github.com/kubernetes/kubernetes/issues/55713#issuecomment-922168158

[2021-10-26 14:16] guangbochen commented on #1389
@futuretea can u please help to take a quick look and give some advice to @FrankYang0529 if possible, thanks.

[2021-10-26 14:20] guangbochen commented on #1052
Known issues related to the air-gap env support: cc @noahgildersleeve
- [x] https://github.com/harvester/harvester/issues/1218
- [x] https://github.com/harvester/harvester/issues/1247
- [x] https://github.com/harvester/harvester/issues/1012

[2021-10-26 18:24] noahgildersleeve commented on #1357
Ah. I did not. I'll test it with that option and I'll update the test steps to include it.

[2021-10-27 03:11] TachunLin commented on #1012
@guangbochen @johnliu55tw

Verified **not fixed** on master-d05a6cc7-head. Move issue to review stage.

### Result
Use iso deploy harvester in private network (isolated) and configure http proxy during installation
Can't create an image using an external URL, it still show error message
`dial tcp: lookup cloud-images.ubuntu.com on 10.53.0.10:53: server misbehaving`

![image](https://user-images.gi

[2021-10-27 04:01] TachunLin commented on #908
@WuJun2016
Verified on master-d05a6cc7-head. Move this issue to review stage
Since It looks like the install guest agent configuration can still be covered by cloud-init template with check box auto unchecked

I think we need to confirm with @yaocw2020 if the following result is the expected behavior.

### Result
Now the guest agent install configuration will be checked as default
![image](https:/

[2021-10-27 04:08] WuJun2016 commented on #908
I think that's what we want:
We now install the quest agent by default
If the user selects a template, we will judge whether the template has quest agent installed according to the content in the template. If so, the checkbox of guest agent will be checked automatically, otherwise the checkbox will be cancelled.  @TachunLin   cc @yaocw2020

[2021-10-27 05:20] TachunLin commented on #908
@WuJun2016, I agree with the design concept.
I think this issue depends on @yaocw2020, @guangbochen can agree with the current behavior then proceed to next step.

[2021-10-27 05:44] TachunLin commented on #1434
Verified **fixed** on master-d05a6cc7-head. Close this issue.

### Result
The customized node name can sync up the latest name in the node list of `Node Scheduling` tab when create virtual machine

![image](https://user-images.githubusercontent.com/29251855/139005275-feeab879-2160-4943-890f-aa818d7ff479.png)

### Test Information
* Test Environment: 3 nodes harvester on provo bare machine
* Harves

[2021-10-27 05:44] #1434 closed, assigned to WuJun2016, TachunLin

[2021-10-27 06:47] lanfon72 commented on #1179
Can not reproduce the origin one, error message always displayed.

Harvester version: **master-d05a6cc7-head**
ui-resource option: **Bundled**

#### Additional Context
- Tested on last week's iso and this week's iso. (dashboard's version not changed)
- S3's environment using opnebare's demo account.

[2021-10-27 06:47] #1179 closed, assigned to lanfon72, n313893254

[2021-10-27 07:44] FrankYang0529 commented on #982
After reading the https://github.com/kubernetes/kubernetes/issues/55713#issuecomment-922168158 and trying the config. I think their issue is Pods stay in `Running` status when a node is down. In our case, we can see Pods turn to `Terminating` status without the config, but they can't be really terminated.

I think the root cause is that the `VirtualMachineInstance` controller creates the new Pod o

[2021-10-27 07:48] lanfon72 opened #1485 "[FEATURE] Change the default option of `ui-source` from Auto to Bundled"
### The problem
The default option of `ui-source` is **Auto**, which equals to **External**, the problem is:
 1. Require additional external connection
 2. Hard to address UI issues if user didn't change the option to **Bundled**.

### The Solution
Change the default option **Auto** to point to **Bundled**, or change the default option from **Auto** to **Bundled**.
(Actually I thought we might not

[2021-10-27 08:31] FrankYang0529 commented on #982
https://github.com/kubevirt/kubevirt/issues/6682

[2021-10-27 08:51] gitlawr commented on #982
Are the terminating pods waiting for volume detachment?
There is a related Longhorn setting: https://longhorn.io/docs/1.2.2/high-availability/node-failure/#longhorn-pod-deletion-policy-when-node-is-down
However, Longhorn only deals with statefulset/deployment pods.
If it's the same cause, we may request support for "all" policy or implement in similar way on Harvester side.

[2021-10-27 09:28] FrankYang0529 commented on #982
No, I don't see detachment failed events and log in controller-manager.

[code]

[code]

[2021-10-27 11:03] bk201 commented on #1413
@guangbochen Should an agent node (worker) has permission to access a k8s API server.
I did a rke2 installation on OpenSUSE (1 server + 1 agent) and `/etc/rancher/rke2/rke2.yaml` doesn't exist on the agent node.

The `/etc/rancher/rke2/rke2.yaml` file on the agent node[ is generated by the temporarily rke2-server when preloading images](https://github.com/harvester/harvester-installer/blob/af921bf

[2021-10-27 11:10] TachunLin opened #1486 "[BUG] Input excessive line of text while creating cloud-init template will cause whole input field is out of control"
**Describe the bug**

Create new user or data cloud template while creating virtual machine.
If user Input large amount line of text exceed height of panel.
All button is covered by panel and have no place to save or leave.

![image.png](https://images.zenhubusercontent.com/61519853321ea20d65443929/72d2f65d-70dd-474c-9e92-9089f0a09ad7)

**To Reproduce**
1. Create a new virtual machine
2. Open Adva

[2021-10-27 13:51] guangbochen commented on #1413
It makes sense that the agent node does not have permission to access the API server, therefore removing the `rke2.yaml` file from the agent node would address the above issue, and users should be promoted to download the `KUBECONFIG` from the UI instead, thanks.

[2021-10-27 15:15] weihanglo commented on #1429
After some investigations,  there is a limitation that makes something cannot be done via KubeVirt's configs: We cannot specify `resources.limits` and let KubeVirt calculate the overcommitted values.
The overcommit feature in KubeVirt only cares `domain.cpu` and `domain.memory` to calculate `resource.requests`. If we specifiy `resources.limits`, it would behave like what K8s does in Pods: fill `re

[2021-10-27 17:25] silug commented on #1342
I believe that I'm hitting the same kernel panic on 0.3.0.
[code]

[2021-10-27 23:30] noahgildersleeve commented on #1357
Tested in master-d05a6cc7-head.
1. Created new single node cluster with 16GB RAM
2. Booted into debug mode from GRUB entry
3. Created several VMs
4. triggered kernel panic with `echo c >/proc/sysrq-trigger`
5. Waited for reboot
6. Verified that dump was saved in `/var/crash`

[2021-10-27 23:30] #1357 closed, assigned to bk201, noahgildersleeve

[2021-10-28 00:20] noahgildersleeve commented on #1235
Tested in master-d05a6cc7-head on ubuntu focal and openSUSE 15.3.

- qemu-ga is installed and running on openSUSE
- there does not seem to be a guest agent installed on ubuntu. I checked the repos and the oldest version of ubuntu that seems to have a guest agent in the repos seems to be 21.10. So it seems probably out of scope.

@guangbochen should I close this as fixed?

[2021-10-28 01:26] 290760647 opened #1488 "[BUG] The VM Pods trun to terminating state after switch device reboot"
**Describe the bug**
The VM  Pods turn to terminating state after switch  device reboot

**To Reproduce**
Steps to reproduce the behavior:
1. turn off the switch device and turn on
2. The VM pods turn to terminating state and can't recover after 20 min

![image](https://user-images.githubusercontent.com/42170674/139170291-47d8447d-4d11-48ce-80cd-50e26b690b16.png)
![image](https://user-images.githu

[2021-10-28 02:06] johnliu55tw commented on #1241
## Plans
- [ ] Add `--auto-add-path=/dev/sd*` feature to NDM
  - Specify a glob pattern, and NDM will add the disks/partitions match the pattern automatically to LH
  - If a pattern matches both Disk and Partition, use the Disk first
- [ ] Add a new Harvester Setting to store NDM auto-add-path config global to the cluster
- [ ] Configure the Harvester Setting auto-add-path from installer config
-

[2021-10-28 02:16] guangbochen commented on #1241
- Prefer to store the default `path_filter` in the `settings.harvesterhci.io` CRD as this is a global setting and will be consistent on the UI page.
- We don't need to support per node config as the NDM is a Daemonset and also the default path filter should be consistent across all nodes
- Trigger NDM to restart from the Harvester controller LGTM when the `path_filter` value is changed.

[2021-10-28 03:21] johnliu55tw commented on #1241
@guangbochen If we don't support per-node config, we will wipe the matching disks on every Node and add them to Harvester/LH. I'm a bit worried about this behavior as some disks that were not meant to be used will be added accidentally.

But not supporting per-node config would make it much easier to implement, indeed.

[2021-10-28 03:33] FrankYang0529 commented on #982
From https://github.com/kubevirt/kubevirt/issues/6682#issuecomment-952988715, we can not resolve this issue from upstream.

If we still want to reschedule Pods on an unhealthy node to other nodes, we may have a setting like Longhorn `Pod deletion policy when a node is down` to trigger force deletion. We can have options like `None` and `VirtualMachineInstance` for the current situation. WDYT? Than

[2021-10-28 03:39] guangbochen commented on #1235
@noahgildersleeve I found the latest version of Ubuntu is 21.1.0, and what do u mean by the `oldest version of ubuntu`? also, all ubuntu releases from `18.x` to `21.x` should support the `quemu-guest-agent` config.

@WuJun2016 per offline discussion the following changes are required:
- update `openSuse -> openSUSE`
- move OS Type to the `Advanced` tab，and hide hostname with the `show more` option

[2021-10-28 04:00] guangbochen commented on #1241
IMO, a default `path_filter` means that `a list of disks should be included as an additional data volumes if the path is matching`, we can specify it on the setting's description to help users understand it properly.

Additionally, users can use the regular expressions to specify the `path_filter` which should be able to include the majority of the cases. cc @weihanglo

[2021-10-28 04:15] guangbochen commented on #1429
@weihanglo currently we set the VM `resource.limits` by default is because when the users specify the project resource quota on the Rancher UI as part of the multi-tenant feature then the `limits` config is required when creating a VM pod.

IMO, we should add mutation webhook validation on our side serve to support the overcommit feature, and it will make the API behave consistently across the dif

[2021-10-28 04:58] 290760647 commented on #1488
[supportbundle_3af972b7-db54-4c16-895a-95ccf6c66d17_2021-10-28T04-47-35Z.zip](https://github.com/harvester/harvester/files/7431176/supportbundle_3af972b7-db54-4c16-895a-95ccf6c66d17_2021-10-28T04-47-35Z.zip)
supportbundle file.

[2021-10-28 06:34] weihanglo commented on #1241
Actually, it's the opposite. `path_filter` at this moment _excludes_ all listed paths. But this can be tuned to our needs.

Agree. I am more likely to adopt bash-like glob, which is also common in path manipulations. Both ok for me though.

[2021-10-28 06:43] weihanglo commented on #1241
After reading the materials @bk201 provided, it seems that this is a common solution. I wonder that we may encounter naming inconsistent issue with only the simple `sda` device path.

If we decide to go in ConfigMap way, why don't just put it inside NDM as its custom resource?

[2021-10-28 06:51] lanfon72 opened #1489 "[BUG] Edit Advanced Setting option `server-url` will redirect to inappropriate page."
### Describe the bug
When editing `server-url` option in _Advanced Settings_, click either **Save** or **Cancel**, will not back to the origin setting page but another setting page which we didn't expose.

The Link in the title also redirect to that page we didn't exposed.

### To Reproduce
Steps to reproduce the behavior:
1. Open dashboard and navigate to **Advanced** -> **Settings**
2. Click Edi

[2021-10-28 07:53] johnliu55tw commented on #1241
We could replace the function name `Exclude` with `Match` or something alike, so it makes sense in both cases. The filter only tells the caller whether it matched or not, then it's up to the caller to take care of the rest.

@guangbochen just to confirm again, I also prefer shell glob compared to regex. I think we should support glob pattern here.

@weihanglo From my perspective, the NDM should on

[2021-10-28 08:29] TachunLin commented on #1401
Verified **fixed** on master-d05a6cc7-head. Close this issue.

### Result
Now we can hot-unplug the pluggable volumes without restarting VM.
The de-attached volume can also be hot-plug and mount back to VM.

![image](https://user-images.githubusercontent.com/29251855/139212593-a5f6da98-6cea-4c4a-af37-dfb9084829b0.png)

![image](https://user-images.githubusercontent.com/29251855/139212726-239a1db7-

[2021-10-28 08:29] #1401 closed, assigned to WuJun2016, TachunLin

[2021-10-28 15:32] noahgildersleeve commented on #1235
@guangbochen Sorry about the confusion. I meant that the minimum required version to see qemu guest agent in the ubuntu repos is 21.10. However that launched this month and is not the current LTS version. You can still install `qemu-guest-agent` but I don't think you can just use `apt`.

[2021-10-28 17:25] yasker commented on #1342
@silug the calltrace looks different. Can you file another issue? Also with the environment you're running on and other details e.g. how often do you see the issue.

[2021-10-29 00:00] noahgildersleeve opened #1493 "[BUG] When hosts are stuck in maintenance mode and the cluster is unstable you can't access the UI"
**Describe the bug**

There is an error state that causes the UI to be down while hosts are in maintenance mode and they won't come back up
**To Reproduce**
Steps to reproduce the behavior:
1. Cordon each node
2. turn on maintenance mode for each node
3. Power off each node
4. Turn them back on
**Expected behavior**

There shouldn't be any circumstances
**Support bundle**

[supportbundle_fd4d0150-

[2021-10-29 03:52] abonillabeeche commented on #1401
Will this survive a Live Migration too?

[2021-10-29 15:27] wjimenez5271 opened #1494 "Three node RKE2 Cluster on SLES fails on startup"
**Describe the bug**
When launching a three node RKE2 cluster from Rancher onto Harvester, only two out of the three nodes will successfully join the cluster.

**To Reproduce**
Steps to reproduce the behavior:
1. Using Rancher 2.6.1 and Harvester 0.3.0, go to Rancher and provision an RKE2 cluster on Harvester.
2. Use the JeOS `SLES15-SP3-JeOS.x86_64-15.3-OpenStack-Cloud-GM.qcow2` image
3. Add user

[2021-10-29 15:27] wjimenez5271 commented on #1494
Rancher engineering suggests that this is fixed by: https://github.com/rancher/rancher/pull/35054

[2021-10-29 23:33] vtrenton opened #1495 "[FEATURE] Disk Encryption Support"
**Is your feature request related to a problem? Please describe.**

With security being critical within datacenter infrastructure having encrypted volumes adds an additional layer of protection of data loss in the case of theft or pre-boot attacks.

**Describe the solution you'd like**

I would be nice to have the option to enable LUKS encryption of the root volume during installation.

[2021-10-30 15:46] xiaofan-linux opened #1496 "kubernetes helm install harvester, the service is normal, open the Console is rancher Console, not harvester Console"
kubernetes helm install harvester, the service is normal, open the Console is rancher Console, not harvester Console

Excuse me where is the problem? Please answer it, thank you

[code]
![image](https://user-images.githubusercontent.com/33335754/139540067-abaa08cb-f327-4831-9e7c-a71acf73f72f.png)

[code]

[2021-10-31 05:19] guangbochen commented on #837
close in favor of https://docs.harvesterhci.io/v0.3/faq/

[2021-10-31 05:19] #837 closed, assigned to guangbochen

[2021-10-31 05:21] guangbochen commented on #1134
close in favor of https://docs.harvesterhci.io/v0.3/troubleshooting/harvester/#access-embedded-rancher

[2021-10-31 05:21] #1134 closed, assigned to guangbochen

[2021-10-31 05:21] guangbochen commented on #1457
close in favor of https://docs.harvesterhci.io/v0.3/host/host/#cordoning-a-node

[2021-10-31 05:21] #1457 closed, assigned to guangbochen

[2021-10-31 05:22] guangbochen commented on #947
close as documented at https://docs.harvesterhci.io/v0.3/networking/harvester-network/#configure-dhcp-servers-on-networks

[2021-10-31 05:22] #947 closed, assigned to nobody

[2021-11-01 02:10] guangbochen opened #1497 "[BUG] Reboot the deleted node and it will be added to the cluster again"
Related to https://github.com/rancher/rancher/issues/35258

[2021-11-01 02:57] guangbochen commented on #1478
supported via https://github.com/harvester/terraform-provider-harvester/releases/tag/v0.2.7

[2021-11-01 02:57] #1478 closed, assigned to futuretea

[2021-11-01 02:58] guangbochen commented on #1012
my bad, the PR is not merged, should be a mistake of moving the issue around. Will be supported via https://github.com/harvester/harvester/pull/1337

[2021-11-01 02:59] guangbochen commented on #1151
close in favor of https://registry.terraform.io/providers/harvester/harvester/latest

[2021-11-01 03:02] #1151 closed, assigned to guangbochen, futuretea

[2021-11-01 03:07] TachunLin commented on #1200
I also tried using **rufus** 3.15 to create USB installation stick works on local bare machine. (with bios storage set to UEFI only)
By setting partition theme to "GPT" and Target system to "UEFI"

![image](https://user-images.githubusercontent.com/29251855/139616002-ee610915-0e83-41f2-9aea-7251dda241d7.png)

[2021-11-01 03:11] lanfon72 opened #1498 "[FEATURE] add *Processing* and *succeed* info for backup-target option"
### The problem
when we establish connection to the backup-target, in some case, connection spend a long waiting for server response, and the UI didn't show any message to display current state is succeed or connecting.

### The solution
Add an *Info* message box to display current state.

### The Alternatives
An loading icon for alternative.

### Additional Context
This case can be reproduced whe

[2021-11-01 03:21] guangbochen commented on #982
IMO, I would recommend adding the following changes:
1. [UI] check if the VMI `Ready` status is true or not, if not set the VM status to `NotReady` @WuJun2016
2. Add `VM Deletion Policy when the Node is Down` on the Harvester side and prefer to add deletion time period with option from 0 to 5 minutes.

[2021-11-01 03:30] lanfon72 opened #1499 "[BUG] Backup-target show old error message when connecting to new target"
### Describe the bug
when set up backup-target with a invalid server, error message popped; then trying another invalid server, the error message still shows old one.

### To Reproduce
Steps to reproduce the behavior:
1. install Harvester with any nodes
2. navigate to *Advanced* -> *Settings*
3. edit _**backup-target**_ and input an invalid NFS like `nfs://127.0.0.1/invalid/endpoint`
4. wait until

[2021-11-01 03:35] lanfon72 commented on #1499
Root cause of this bug is, backup-target still in connecting state (as #1498 described), and the *old* error message box didn't set to invisible.

[2021-11-01 03:37] 290760647 commented on #1488
In Harvester Cluster we use kubectl command delete VM pod ，The VM will restart and state turn to running
kubectl delete pod_name --force

[2021-11-01 04:12] guangbochen commented on #1488
related to https://github.com/harvester/harvester/issues/982

[2021-11-01 05:47] lanfon72 commented on #1499
moved from #1498, also close #1498
### The problem
when we establish connection to the backup-target, in some case, connection spend a long waiting for server response, and the UI didn't show any message to display current state is succeed or connecting.

### The solution
Add an *Info* message box to display current state.

### The Alternatives
An loading icon for alternative.

### Additional Cont

[2021-11-01 05:48] lanfon72 commented on #1498
moved to https://github.com/harvester/harvester/issues/1499#issuecomment-955951297
close this as duplicated.

[2021-11-01 05:48] #1498 closed, assigned to nobody

[2021-11-01 07:11] guangbochen commented on #1401
it should be supported, @TachunLin can u please help to double-check it, thanks.

[2021-11-01 08:18] weihanglo commented on #1361
Cannot reproduce on KVM for 3 node clusters. @lanfon72 if you haven't stepped into this issue, feel free to close it. Thanks.

[2021-11-01 08:25] lanfon72 commented on #1361
Close as I didn't hit this bug recent two weeks.

[2021-11-01 08:25] #1361 closed, assigned to weihanglo

[2021-11-01 08:45] lanfon72 commented on #1386
Verified the UI works correctly.

Test Information
----
* Environment: **Bare mental DL360** 3 nodes
* Harvester Version: **master-d05a6cc7-head**
* `ui-source` option: **External**
* VM images:
    - [openSUSE-Leap-15.3](http://download.opensuse.org/repositories/Cloud:/Images:/Leap_15.3/images/openSUSE-Leap-15.3.x86_64-NoCloud.qcow2)
    - [ubuntu-20.04](https://cloud-images.ubuntu.com/releases/f

[2021-11-01 08:45] #1386 closed, assigned to lanfon72

[2021-11-01 09:02] TachunLin commented on #1413
Verified **fixed** on master-d05a6cc7-head. (harvester)
and master-14be631b-head (harvester-installer)
Close this issue.

### Result
rke2.yaml have been removed from `/etc/rancher/rke2/` on agent node.

Checked in the following scenarios
1. Two harvester nodes create from ipxe example at the same time
    (server node: with rke2, agent node: **w/o rke2**)

2. One harvester node and add one agent n

[2021-11-01 09:02] #1413 closed, assigned to FrankYang0529, TachunLin

[2021-11-01 09:04] guangbochen commented on #1451
Talked with the Rancher team and since this is a common Rancher issue and the cluster template is still in the tech preview stage, so please just follow with the Rancher's timeline.

[2021-11-01 09:21] guangbochen commented on #1485
The Harvester UI follows the same pattern as the Rancher UI does:
1. By default the `ui-source` option is `Auto`, it will use the embedded UI when the server version is started with `v*` tag, otherwise it will default to fetch from the remote server.
2. The `master-head` harvester image has already packaged the latest Harvester UI as the bunded one. https://github.com/harvester/harvester/blob/mast

[2021-11-01 09:31] Remigius2011 commented on #1134
For both embedded Rancher and embedded Longhorn it says: "We only support to use the Rancher dashboard for debugging purpose." - If you close this in favor of accessing the embedded Rancher, one might expect that this is not only for debugging purpose, but to avoid having to import the Harvester to a Rancher instance, e.g. just to add more users - which is imo not a debugging task. Also, access to

[2021-11-01 09:42] guangbochen commented on #1134
Sorry for the ambiguity, as we should highlight the `embedded rancher` instead, managing Harvester through an external Rancher is definitely not a debugging tool but a multi-cluster and multi-tenant feature support as per https://docs.harvesterhci.io/v0.3/rancher/rancher-integration/.

I Will update the notes, thanks.

[2021-11-01 10:24] guangbochen commented on #1247
@TachunLin @lanfon72 can one of u guys help to validate this, thanks.

[2021-11-01 10:43] TachunLin commented on #1247
@guangbochen , @gitlawr
For better testing, may I know if we have an existing airgapped environment with proxy server in our data center to validate this issue or we can leverage such environment from rancher team.

[2021-11-01 13:01] TachunLin commented on #1401
@guangbochen
`After live migration, we can hot-unplug volume without restarting VM`

### Result

Tested under following scenarios

1. Live migrate VM already have hot-plugged volume to new node, then detach (hot-unplug) it
2. Live migrate VM not have hot-plugged volume before, do hot-plugged the unplugged.

`However, there are two abnormal behaviors` need to pay attention with:

1. After migration

[2021-11-01 17:21] noahgildersleeve commented on #1291
The tests are available at https://github.com/harvester/tests in the docs folder and the tests are also available and being published on CI at https://harvesterhci.io/tests/ .