[2022-05-03 00:05] #1988 closed, assigned to ibrokethecloud

[2022-05-03 00:48] bk201 opened #2216 "[FEATURE] A document to list all open ports on Harvester nodes"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

We need a document to list all open ports on Harvester nodes.

**Describe alternatives you've considered**

**Additional context**

- [RKE2 ports can be found here](https://docs.rke2.io/install/requirements/#networking). Just be aware not every items are required.
- Rancher host ports and ingr

[2022-05-03 00:53] TachunLin commented on #2213
Try to reproduce this issue on Rancher v2.6.5-rc6 with Harvester v1.0.2-rc1.
Can provision K3s cluster with and without external cloud provider.

1. By default, while we select K3s version, there is no cloud provider drop down menu at the right side
  ![image](https://user-images.githubusercontent.com/29251855/166131452-010c32ed-270d-44ed-a437-1f41b0483232.png)

2. We can set `cloud-config=externa

[2022-05-03 07:00] bk201 commented on #2191
## Workaround
- Say we have 4 nodes and delete the first control plane node
[code]
- If the promotion fails, the promoting node should be stuck with `SchedulingDisabled`:
[code]

  And the cluster should have condition like:

[code]
- Find the machine ID from remaining control plan node
[code]
- Set the machine ID to CAPI cluster object:

[code]

- The cluster should eventually reconcile and the p

[2022-05-03 07:01] bk201 commented on #2187
We can verify this issue by applying the [workaround](https://github.com/harvester/harvester/issues/2191#issuecomment-1115794201).

[2022-05-03 07:16] bk201 commented on #2210
@WuJun2016 is this a duplicated one to #2128?

[2022-05-03 08:57] FrankYang0529 commented on #2125
Verified that we can set a private registry in Cluster Configuration. The initial script uses the private registry in rancher-system-agent instructions. We can see that in rancher-system-agent plan `/var/lib/rancher/agent/applied/xxx.plan`. After rancher-system-agent finishes, it will set the private registry as the `system-default-registry` argument for RKE2. We can see this in `/etc/rancher/rke2

[2022-05-03 09:26] weihanglo commented on #2205
Just did a simple research. If we provide a valid CA certificate, it succeeds without any error. Otherwise it behaves as what WuJun2016 described.

I use the following commands to create a valid certificate.

[code]

The current backend code (harvester-webhook) only adds addition-ca to root CA for its HTTPS transport. Nothing seems weird to me so far. However, I observed some fun facts

1. Changin

[2022-05-03 10:09] TachunLin commented on #1707
Verified fixed during the upgrade from `v1.0.1` to `v1.0.2-rc1, we did not encounter such failure scenario.

### Result
Can upgrade correctly with all VMs remain in `running`
![image](https://user-images.githubusercontent.com/29251855/166430303-376d9e30-bf92-49eb-b3e2-8eeeb2375702.png)

![image](https://user-images.githubusercontent.com/29251855/166430680-bb9e14fe-7da5-4b73-9ec8-47a780b4914c.png)

[2022-05-03 10:12] TachunLin commented on #1707
@guangbochen , @bk201
Though we did not encounter the VM pods are stuck in `Terminating` during this upgrade test.
But this probably because we not yet bumped longhorn and RKE2 version from v1.0.1 to v1.0.2

Thus I would suggest to double check this issue on the next release (with bumped longhorn and RKE2) upgrade test and change the milestone accordingly.

[2022-05-03 10:23] FrankYang0529 commented on #2125
I try again in a non-air-gapped environment. When I set the registry to a random domain, it is not set to rancher-system-agent, but it's set to rke2-server.

From my last [comment](https://github.com/harvester/harvester/issues/2125#issuecomment-1115875641), I think the registry for rancher-system-agent is set to Rancher's one. If we set `systemDefaultRegistry` in Rancher as `myrancher.test:5000`,

[2022-05-03 13:36] tunkio commented on #2171
Crashing went away when we changed better(faster) ssd drives. Is there possibility that this is related to timeouts somehow?

[2022-05-04 01:49] WuJun2016 commented on #2210
@bk201  Should be a duplicate, I see the description of the use of the version is v1.0.1
@lanfon72  Can you help to test the problem again?  thanks.

[2022-05-04 01:59] tjjh89017 commented on #2084
Ubuntu ID_NET_NAMING _SCHEME=V249 is different from SLES-15-sp3.
You could use `net.ifnames=0` as workaround in this moment.

[2022-05-04 02:30] nemccarthy commented on #2084
Thanks. In a strange turn of events booting Ubuntu 22.04 live off a USB stick and then rebooting back into the Harvester installed on internal NVMe, interface naming seems to be fixed - like interface names have been copied from what is was in Ubuntu (i.e. Harvester is naming the interfaces separately and both work from boot...), not sure if some weird setting in UEFI or firmware issue?

So anothe

[2022-05-04 02:35] tjjh89017 commented on #2084
onboard NIC naming is firmware issue.
firmware will provide onboard order to systemd to name the NIC.
so if firmware has conflict order, systemd will confilict also.

[2022-05-04 03:00] nemccarthy commented on #2084
So, looks like loading up Ubuntu, and rebooting into Harvester, for whatever reason udevadm is showing no `ID_NET_NAME_ONBOARD` for the first interface (as it was in Ubuntu)... Naming persists between reboots... Below is from Harvester:

[code]
Weird. Harvester 1.0.2-rc1

[2022-05-04 03:03] tjjh89017 commented on #2084
That is a little bit weird.
That means some firmware part is missing after ubuntu.

[2022-05-04 08:42] bk201 commented on #2194
@himslm01 From the support bundle I can confirm `harvester002` node is being promoted to the server node. But somehow a rancher plan on that node can't be applied. Because of an issue in v1.0.0, node logs are not included in the bundle. Could you navigate to node `harvester002` and provide output of:
- `sudo systemctl status rancher-system-agent`
- `sudo journalctl -u rancher-system-agent`

This c

[2022-05-04 09:51] FrankYang0529 commented on #578
Probably, we can leverage Kubernetes Auditing feature to make this.

https://kubernetes.io/docs/tasks/debug/debug-cluster/audit/

[2022-05-04 11:07] weihanglo commented on #2205
After a deeper investigation, I found that the root cause is that harvester deployment is forced to restart when additional CA cert changes [^1]. The reason to restart is that podmutator in harvester-webhook would eject and mount a volume of the certain CA certificate onto `/etc/ssl/certs` for the sake of loading as a system CA certificate. [^2]

The CA cert injection code path is used for three w

[2022-05-04 12:00] TachunLin opened #2217 "[BUG] Failed to manually install harvester csi driver on v1.22.9 RKE1 guest cluster"
**Describe the bug**

Failed to install harvester CSI driver apps in Charts `100.0.1+up0.1.9` to RKE1 guest cluster.
Display with error message:
[code]
![image](https://user-images.githubusercontent.com/29251855/166674290-7335937b-a226-47f6-9405-a7209e4f3030.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Import Harvester in Rancher UI
2. Create cloud credentials
3. Create the RKE1 node

[2022-05-04 13:28] lanfon72 commented on #2209
I encountered this on the fresh new cluster (`v1.0.2-rc1`, bare metal), but unable to reproduce on qemu/KVM environment.
And _Take Backup_ function (NFS) works normally after I tested backup function with S3.

[2022-05-04 13:30] lanfon72 commented on #2209
Please change the reproduce label if it could be more reproducible.

[2022-05-04 13:56] TachunLin opened #2218 "[BUG] harvester-cloud-provider pod stuck in creating on v1.22.9 RKE1 guest cluster"
**Describe the bug**

Manually install harvester cloud provider chart `100.0.1+up0.1.8` to RKE1 guest cluster.
The harvester-cloud-provider pod always stuck in creating.
  ![image](https://user-images.githubusercontent.com/29251855/166694935-2e8e7fa6-8fd4-45aa-9204-d052c08d0793.png)
  ![image](https://user-images.githubusercontent.com/29251855/166694855-6ab02297-adbd-4888-af96-cbc0638528d5.png)

[2022-05-04 18:33] hrittikhere commented on #2360
Any family of machines that Harvester runs without this many config changes? New to these so it's a bit overwhelming 🙂 Any help would be appreciated

[2022-05-04 21:31] himslm01 commented on #2194
Thank you @bk201
The output of those two commands is in the attached tar.
[bk202_20220504.tar.gz](https://github.com/harvester/harvester/files/8627319/bk202_20220504.tar.gz)

[2022-05-04 23:30] irishgordo opened #2219 "[BUG] No Error In UI When Cluster Name From RKE2 Cluster Creation Doesn't Meet RFC 1123"
**Describe the bug**
When creating an RKE2 Cluster, if the Cluster Name has a capitol letter in it, it will fail on the 400 post request to:
[code]
(rancherserver.localdomain) - is the DNS entry for my bare-metal Rancher Server.
Response was:
[code]
Yet, though it fails, via the Network Tab in the browser, no error is surfaced to the UI near the Cluster Name text input area.

**To Reproduce**
1. I

[2022-05-04 23:45] irishgordo commented on #2219
Relates To: rancher/dashboard#5927

[2022-05-05 00:01] slickwarren commented on #2213
@ibrokethecloud could you share your setup with me offline? I attempted the following, but still could not get the cluster up:

provision an rke2 cluster (1.23.6+rke2r1) from rancher (v2.6-head 5e1bfc0)

* multi node cluster (1 etcd, 1 controlplane, 1 worker) also tested with a single node cluster (all roles, 1 node)
  * set cloud provider to `external`
  * add the following to the additional mani

[2022-05-05 01:03] noahgildersleeve opened #2220 "[BUG] External Kubeconfig cloud credentials don't work with node driver"
**Describe the bug**

If you select an external kubeconfig for your cloud credentials in Rancher it won't successfully provision RKE1 or RKE2 clusters in node driver
**To Reproduce**
Steps to reproduce the behavior:
1. Import Harvester into Rancher
2. Get Kubeconfig from support section of Harvester
3. Create cloud credentials with external Harvester
4. Create RKE1 or RKE2 cluster with manually en

[2022-05-05 02:48] FrankYang0529 opened #2221 "[BUG] VM has temporary `ErrorUnschedulable` status"
**Describe the bug**
When we create a new VM, it shows a temporary status `ErrorUnschedulable`. It's caused that we create VM before we have a PVC in the cluster.

![image](https://user-images.githubusercontent.com/4927361/166856783-4da62770-1b0a-4296-9807-2abde466c7e0.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a VM.

**Expected behavior**
VM doesn't have this temporary stat

[2022-05-05 03:15] FrankYang0529 commented on #2125
The issue has been fixed in Rancher v2.6.5-rc6. When I create an RKE2 cluster with a private registry, I can see that rancher-system-agent and RKE2 use this registry to pull images. Close the issue since we don't have any fix from the harvester side.

https://github.com/rancher/rancher/issues/37221#issuecomment-1118033127

[2022-05-05 03:15] #2125 closed, assigned to FrankYang0529

[2022-05-05 04:08] FrankYang0529 commented on #2221
KubeVirt marks VM as `ErrorUnschedulable` when `PodScheduled` condition is `False` and its reason is `Unschedulable`.

https://github.com/kubevirt/kubevirt/blob/f8160a0b5eac2acafab74fd7916bfcaf0c39a6a3/pkg/virt-controller/watch/vm.go#L1774-L1780

[2022-05-05 04:41] sarahhenkens opened #2222 "[BUG] [terraform provider] incorrect persisted memory configuration resulting in diff during next plan"
**Describe the bug**

After creating a `virtualmachine` with `memory = "4Gi"`, the next plan shows a diff:

[code]

**To Reproduce**

1. Create the following `virtualmachine`
2. Run `terraform apply`
3. Run `terraform plan`

[code]

**Expected behavior**

I expected it correctly to consider memory configuration to be the same

**Support bundle**

n/a

**Environment:**
 - Harvester ISO version: v1.

[2022-05-05 04:42] sarahhenkens commented on #2222
The UI correctly shows `4GB`:
<img width="1000" alt="image" src="https://user-images.githubusercontent.com/144886/166864619-7768a1ba-0573-42bd-b8c0-ba32d2ae64f1.png">

[2022-05-05 06:09] ravarga commented on #2115
Issue is related to a specific firmware of Dell BOSS adapter (3022). Downgrading firmware solves the problem

[2022-05-05 08:16] weihanglo commented on #2205
Verified that in a 3-node cluster, the high availability can prevent request from failure with 503 error.

Just FYI, Consul and Nomad also use similar trick, which reloads/updates the `tls.Config` dynamically as what harvester-webhook [^1] [^2]

[^1]: https://github.com/hashicorp/consul/pull/5419
[^2]: https://github.com/hashicorp/nomad/pull/3479

[2022-05-05 08:58] lanfon72 commented on #2210
Confirmed the bug is duplicated in #2128.
In `v1.0.1`, VM's option __Booting in EFI mode__ will only update yaml to enable **secure boot**; and by default, the boot option will always be __EFI mode__.

The bug has been fixed in #2128. (`v1.0.2` will introduce new option __Secure Boot__ when __Booting in EFI mode__ is enabled, and the default boot mode will be __BIOS mode__)

[2022-05-05 08:58] #2210 closed, assigned to lanfon72

[2022-05-05 09:03] TachunLin commented on #2213
Try to reproduce this issue on Rancher v2.6.5-rc6 with Harvester v1.0.2-rc1.

#### Result
By adding the
1. Cloud credentials and namespace to user data cloud config
2. Add the helm chart to additional manifest section

Then we can provision RKE2 cluster with `external` harvester cloud provider.
  ![image](https://user-images.githubusercontent.com/29251855/166886929-df9bdeb7-4ec3-404e-ba95-c4afd857

[2022-05-05 10:55] lanfon72 commented on #1936
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/166909517-6ee80428-6c20-4170-be23-b5b3014af6a0.png)
![image](https://user-images.githubusercontent.com/5169694/166909611-b5063352-b92b-4247-81ef-775af8dbfb8c.png)

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **v1.0.2-rc1**
* **ui-source** Option: **Auto**

### Verify

[2022-05-05 10:55] #1936 closed, assigned to lanfon72, weihanglo, n313893254

[2022-05-05 12:31] easmithdev opened #2223 "[BUG] Cannot delete user created VM template"
**Describe the bug**
I created a VM template, but could not delete the template afterwards.

**To Reproduce**
Steps to reproduce the behavior:
1. Within Harvester UI, go to Advanced
2. Click templates
3. Click create
4. Define parameters, and save
5. Select template, and then click delete.

**Expected behavior**
I should be able to delete a template I created.

**Support bundle**
[supportbundle_97

[2022-05-05 12:50] janeczku commented on #2198
I'd like to see a variant of this, where during the "unconfigured" installation mode i can specify a URL which will then be fetched on the first boot and contain the join or create config.

Additionally, that URL parameter may support variable expansion, so that it can generate and fetch hardware specific URLs like: `https://config-db/harvester-node-config?mac=00:00:5e:00:53:af`

[2022-05-05 15:45] iamwlb commented on #2206
![截屏2022-05-05 23 43 19](https://user-images.githubusercontent.com/7825358/166961544-a7be37c1-c94f-401e-95c6-631d7f29785c.png)
the bug still exist.

[2022-05-05 16:51] joshmeranda opened #2224 "[BUG] Error messages are trimmed and not fully displayed in harvester-installer"
**Describe the bug**
Long harvester installer errors do not wrap lines and are not fully displayed to the user.

![clipped_harvester_install_error_msg](https://user-images.githubusercontent.com/43455015/166971047-f727d9cb-6113-4f1e-9451-adf0101f1160.png)

In this case the full error message should be `unable to receive an offer: got an error while the discovery request: no matching response packet

[2022-05-05 16:59] lanfon72 opened #2225 "[BUG] Terraformer import vm failed"
### Describe the bug
Unable to import vm resources with following error:
![image](https://user-images.githubusercontent.com/5169694/166973918-f666b872-1b0a-4e07-a55a-14b550c71884.png)

### To Reproduce
Steps to reproduce the behavior:
1. Install Harvester with any nodes
2. Create an image for VM creation
3. Create the VM
4. download harvester's terraformer v1.0.0 from https://github.com/harvester/

[2022-05-05 17:48] w13915984028 commented on #2206
Harvester needs to be installed via Harvester ISO manually or via PXE, many underlayer works are needed and done at installation stage.  Directly install Harvester via Helm is not supported.

Please refer: https://docs.harvesterhci.io/v1.0/install/iso-install/

[2022-05-05 19:01] tlehman commented on #1897
Could you provide steps to reproduce this and include version number?

[2022-05-05 19:05] tlehman commented on #1877
Are you asking if you can set up a LoadBalancer on the Harvester `Device #1` that forwards to the Ingress in your virtual K3S cluster?

[2022-05-05 19:33] tlehman commented on #1980
I don't see an minio pods, you can see all pods in your harvester cluster by using `Ctrl-backtick` and typing `kubectl get pods --all-namespaces`

Also in the go.sum file in the source code: https://github.com/harvester/harvester/blob/master/go.sum#L1311-L1316 it shows that only minio clients are pulled in my harvester.

I'll pass this one over to the team to see if they see anything I might have

[2022-05-05 19:43] slickwarren commented on #2213
yes upon further investigation and using the above steps, I am able to use the `external` cloud provider with harvester node driver clusters with each of the following:
* v1.22.9
  * single node cluster
  * dedicated node-per-role cluster
* v1.23.6
  * single node cluster
  * dedicated node-per-role cluster

[2022-05-05 19:43] #2213 closed, assigned to slickwarren

[2022-05-05 21:05] tlehman commented on #1981
@iamwlb The way to use the management network for the VM is to go into Networks, create a VLAN that uses the management network, set the VLAN ID = 1, and then edit the VM network config to use that VLAN.

[2022-05-05 22:42] tlehman commented on #2004
To clarify, this is the automated install setup you are imagining?

![2004](https://user-images.githubusercontent.com/261552/167036683-7e40de52-e323-4895-85b4-22f7f192c97c.jpg)

[2022-05-05 22:46] tlehman commented on #2024
Harvester does support multi-node setup. The way to achieve this is by installing Harvester on Node 1, setting the token. Then install Harvester on Node 2, but this time select "Join existing cluster" and enter the IP and the token so Node 2 joins the existing Harvester cluster. Do the same for Node 3.

As for multi-masters, I'm not sure what you mean, could you clarify?

[2022-05-06 00:25] ibrokethecloud opened #2226 "[FEATURE] Alternate endpoint to serve harvester IPXE artifacts"
**Is your feature request related to a problem? Please describe.**

Currently Harvester IPXE artifacts are served via https://releases.rancher.com

After a change last year, which involved migrating the DNS hosting and SSL termination https://github.com/rancher/rancher/issues/35419 IPXE booting on public cloud providers like Equinix metal is broken.

This is likely because the cert chain is too la

[2022-05-06 02:45] WuJun2016 commented on #2223
Do you delete the entire template or the default version of the template?
The default template version cannot be deleted directly.

[2022-05-06 03:24] iamwlb commented on #1981
@tlehman thank you very much.
i will try this later.

[2022-05-06 03:29] iamwlb commented on #1980
@tlehman
you know we upload docker-images and iso files to harvester.
Earlier versions, the harvester used minio storage.
I'm not sure whether the harvester still uses minio in the current version.
Sometimes, I need to check whether the files uploaded by users have viruses, how can I access the files uploaded by users.

[2022-05-06 03:33] iamwlb commented on #2206
@w13915984028
thanks for your answer.
havester support many kinds install way.
for example:
1. iso
2. kubernetes
3. rancher

[2022-05-06 03:45] easmithdev commented on #2223
The template I created does indeed have the "default" flag, and I cannot
remove the "default" flag from that template. Why is this? I don't want the
template to exist anymore. So, I should be able to remove the "default"
flag, and delete it. This is not possible.

On Thu, May 5, 2022, 21:45 wujun ***@***.***> wrote:

[2022-05-06 07:29] TachunLin commented on #2217
Double check with the same environment on RKE1 v1.23.6 and v1.22.9
This time we can correctly install csi driver without pending to timeout.

Close this issue since can't be reproduced, will reopen it once encounter this issue in the future

* On RKE1 v1.23.6 cluster
![image](https://user-images.githubusercontent.com/29251855/167078935-7981963b-429d-47f4-bb82-8e703cc54b83.png)
![image](https://use

[2022-05-06 07:29] #2217 closed, assigned to yaocw2020

[2022-05-06 07:32] TachunLin commented on #2218
Double check with the same environment on RKE1 v1.23.6 and v1.22.9
This time we can correctly install cloud provider, all pods are running without stuck.

Close this issue since can't be reproduced, will reopen it once encounter this issue in the future

* v1.23.6
![image](https://user-images.githubusercontent.com/29251855/167078944-b36626d6-936a-467f-b30d-6878476776b4.png)
![image](https://user-i

[2022-05-06 07:32] #2218 closed, assigned to yaocw2020

[2022-05-06 07:50] WuJun2016 commented on #2223
case 1:
If there is only one version in the test template, you can only delete this version by deleting the template.
<img width="1447" alt="image" src="https://user-images.githubusercontent.com/24985926/167089664-82ef1fc8-dc23-4f32-9b28-e5ccdc1add59.png">

case 2:
If there are multiple versions under the template and the one you want to delete is the default version, then you can set the other ve

[2022-05-06 08:40] chrisho opened #2229 "[BUG] input nic ip and vip with same ip address in Harvester-Installer"
**Describe the bug**
when input nic ip and vip with same ip address, not any verify message.

**To Reproduce**
Steps to reproduce the behavior:
1. set the nic ip first, eg: 192.168.31.100, and next.
<img width="823" alt="image" src="https://user-images.githubusercontent.com/3347460/167097642-974fd008-690e-4e8f-941d-4d3751a1e6f8.png">

2. set the vip ip, eg: 192.168.31.100.
<img width="900" alt="im

[2022-05-06 08:43] bk201 commented on #2194
After investigating the support bundle and with the user's help to provide some info, we found the rancher-system-agent can not execute plans on node `harvester002`. And this might be related to the certificate changes:

Restarting rancher-system-agent node:
[code]

[2022-05-06 12:53] mczka opened #2230 "[BUG] harvester installer - always first attempt failed if before was linux installed"
**Describe the bug**

reboot linux
boot and run harvester installer and setup
installation started and after Formating Drives ..

Error: Partitions(s) 3 on /dev/sda have been written, but we have unable inform the kernel of the change, probably because it/they are in use. As a result, the old partition(s) remain in use. You should reboot now before making further changes.

second installation suce

[2022-05-06 13:19] hrittikhere commented on #2360
After reaching out to Suse they have created this issue: https://github.com/harvester/harvester/issues/2226

Looking forward to more updates

[2022-05-06 14:56] mczka opened #2231 "[BUG] vloume root-disk junos-vsrx3-x86-64-22.1R1.10.qcow2 - no booting"
**Describe the bug**
add volume with VM image junos-vsrx3-x86-64-22.1R1.10.qcow2 as the root-disk
no boot

**To Reproduce**
download image junos-vsrx3-x86-64-22.1R1.10.qcow2 from https://support.juniper.net/support/downloads/
image upload from file junos-vsrx3-x86-64-22.1R1.10.qcow2
volume create root-disk-vsrx3 from junos-vsrx3-x86-64-22.1R1.10.qcow2
start VM with only root-disk-vsrx3

things why

[2022-05-06 20:06] tlehman commented on #1496
@xiaofan-linux

Try visiting https://192.168.44.129:30491/dashboard/c/local/harvester/harvesterhci.io.dashboard, see if that helps

[2022-05-06 23:10] noahgildersleeve opened #2232 "[BUG] Restricted admin can't see cluster in removing status"
**Describe the bug**

Restricted admin can't see cluster in removing status
**To Reproduce**
Steps to reproduce the behavior:
1. Import Harvester into rancher
2. Create RKE2 cluster in Node driver
3. Create RKE1 cluster in Node driver
4. Create restricted admin user
5. Delete RKE1 and RKE2 cluster
6. log out as admin
7. Log in as restricted admin
8. Check cluster management cluster list page

**Ex

[2022-05-07 09:00] futuretea commented on #2225
Test Plan:
1. Install Harvester with any nodes
2. Create an image for VM creation
3. Create the VM
4. Use the master head docker image for testing: https://github.com/harvester/terraform-provider-harvester/wiki/Use-the-master-head-docker-image-for-testing
5. download  terraformer v1.0.1-harvester
6. execute terraformer import harvester -r virtualmachine

[2022-05-07 17:50] it-pappa commented on #1940
Cant upload the RHEL 8.5 iso tho. its 10 gb. fails at 99%

[2022-05-08 07:31] iamwlb opened #2233 "[BUG]the server could not find the requested resource"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. kubectl -n harvester-system logs harvester-798866ff75-f9r76

**Expected behavior**

**Support bundle**

kubectl -n harvester-system get po
NAME                                       READY   STATUS    RESTARTS   AGE
harvester-798866ff75-f9r76                 1/1     Running   0          22h
harvester-load-balancer-59bf75f489

[2022-05-08 09:29] iamwlb opened #2234 "[BUG]managedcharts.management.cattle.io \"harvester\" not found, requeuing"
time="2022-05-08T09:25:07Z" level=info msg="Watching metadata for fleet.cattle.io/v1alpha1, Kind=BundleDeployment"
time="2022-05-08T09:25:07Z" level=error msg="error syncing 'cattle-fleet-system/fleet': handler harvester-setting-controller: managedcharts.management.cattle.io \"harvester\" not found, requeuing"
time="2022-05-08T09:25:07Z" level=error msg="error syncing 'cattle-fleet-system/fleet-cr

[2022-05-09 02:35] bk201 commented on #2233
Did you deploy Harvester with ISO? Thanks

[2022-05-09 06:38] tjjh89017 opened #2236 "[EPIC] VLAN enhancement"
### Description:

This epic issue is used to track down issues related to VLAN enhancements. The goal of VLAN enhancements is to support:

- Configuring VLAN on the management network.
- Supports multiple VLANs with independent NICs.
- VM scheduling and live migration with VLAN network topology-aware.

### Installation

- [x] Installer should only configure management interface in the future versi

[2022-05-09 07:15] averyfreeman commented on #1699
Trying to set up another node, and now realizing I still get this error harvester 1.01 iso. Same error (first message) Both with time.windows.com and local AD.  However, it looks like I can hit enter again to move on in the installation process.

[2022-05-09 07:20] lanfon72 commented on #1699
@averyfreeman this issue will be fixed in `v1.0.2`.
And as NTP server can not be updated after installation, you probably need to re-install whole cluster.

If you still encounter this bug after `v1.0.2`, feel free to re-open it, thanks. :smiley:

[2022-05-09 07:23] bk201 commented on #2194
@himslm01 By any chance the `server-url` Rancher setting is changed to `http://10.64.0.19` and then to `https://harvester-cluster.lan.lxiv.uk`? This might be the reason the agent can't use the internal URL to communicate with the cluster.

For a temporary workaround, you can try log in to `harvester002` node.
- Backup `/var/lib/rancher/agent/rancher2_connection_info.json`
- Get Rancher internal IP

[2022-05-09 07:32] fanlix opened #2237 "[FEATURE] Restore vm backup to other harvester cluster"
**Is your feature request related to a problem? Please describe.**

my harvester cluster crash down.
so I reinstall a new harvester,
import all vm backups (nfs), restore them, but fail.

the direct reason is `ProvisioningFailed: Storageclass.storage.k8s.io "longhorn-image-xxxxx" not found`

**Describe the solution you'd like**

* set old nfs backup dir to new harvester (or copy one backup file)
*

[2022-05-09 07:37] FrankYang0529 commented on #1699
Hi @averyfreeman, this was a bug in harvester installer, but it's been fixed. Before v1.0.2 is released, you can try it with [master-head ISO](https://releases.rancher.com/harvester/master/harvester-master-amd64.iso). For your current cluster, you can use a command `timedatectl show-timesync` to see whether the system use your local AD. Also, you can use `timedatectl status` to see the time sync s

[2022-05-09 08:18] FrankYang0529 opened #2238 "[BUG] Some settings don't have `configured` condition"
**Describe the bug**
Even if we configure some settings successfully like `backup-target` to NFS or `release-download-url`, they don't have condition `configured` in `status`. This may make some functions broken:

* https://github.com/harvester/harvester/blob/7fcf04f8df9797020d51d72e0d2ff9aa8c84b904/pkg/api/vm/handler.go#L414-L427

![Screen Shot 2022-05-09 at 4 28 00 PM](https://user-images.github

[2022-05-09 08:31] lanfon72 commented on #2238
is this a case of #2209 ?

[2022-05-09 08:43] FrankYang0529 commented on #2238
@lanfon72, if kinchlo's backup-target doesn't have `configured` condition, I think these two cases are the same. Let me check in issue #2209.

[2022-05-09 08:45] FrankYang0529 commented on #2209
Hi @kinchlo, may you run `kubectl get settings backup-target -o yaml` and paste the output? Thank you.

[2022-05-09 09:36] crazyelectron-io opened #2241 "[BUG] Install extremely slow and hangs"
I have a system with Intel i9-10850K CPU, Z490 chipset, 64GB RAM and 3 Samsung SSDs (1 NVME 1TB, 2 SATA 8TB). The Harvester bare metal install from USB is extremely slow and hangs - reproducible - after quite a while at:

[code]
I don't get to the install menu/questions.
I tried both v1.0.1 and v1.0.2-rc1 (flashed with balenaEtcher), same result. The system is in UEFI mode.
BTW, it has an existing

[2022-05-09 09:44] bk201 commented on #2241
@crazyelectron-io Could you try plugging the installation USB stick into a USB 2.0 connector? I saw some issues when using a USB 3.x sockets before.

[2022-05-09 10:03] crazyelectron-io commented on #2241
Thanks for your quick response.
Unfortunately, I get the same result when installing from USB 2.0.

[2022-05-09 10:07] himslm01 commented on #2194
It is distinctly possible that when I built the first node in this cluster I was using an IP address as the `Management address` in the installer, then later I created a DNS entry and changed the `server-url` configuration setting to the DNS entry.

I had assumed / hoped that all the places which used the `server-url` would have been updated when I changed the setting :-)

Between Zoom calls I'll

[2022-05-09 10:09] TachunLin opened #2242 "[BUG] The VM Web VNC console connection is disconnected after around 10 minutes open usage"
**Describe the bug**

Open VM in Web VNC console, after 10 minutes usage it suddenly  display error **"Web VNC console connection is disconnected"**
![image](https://user-images.githubusercontent.com/29251855/167386765-285cf94f-5acb-4f61-9226-18c12e72502c.png)

![image](https://user-images.githubusercontent.com/29251855/167385214-780f5c3b-d0b4-4ee2-adf9-f70afeca2fe7.png)

**To Reproduce**
Steps to

[2022-05-09 10:18] w13915984028 commented on #1893
Need to re-validate after fleet-agent solves https://github.com/rancher/fleet/issues/760.

[2022-05-09 10:30] w13915984028 opened #2243 "[BUG] rancher-monitoring is unusable when hosting NODE is (accidently) down"
**Describe the bug**

The deployment of POD prometheus-rancher-monitoring-prometheus-0 is not stable.

**To Reproduce**
Steps to reproduce the behavior:
1. Manually install a 2-node harvester, the first node is naturally the control-plane node, the second is a compute node.  The POD prometheus-rancher-monitoring-prometheus-0 is deployed in control-plane node.

The
[code]

2. Power off both nodes

[2022-05-09 10:55] w13915984028 commented on #2013
**Summary**:
For now, the `rancher-monitoring` has following issues regarding this topic:

(1) The POD replacement of `rancher-monitoring` after cluster rebooting, is caused by https://github.com/longhorn/longhorn/issues/3941, and may have no (easy) solutions at the moment.

(2) The replaced `rancher-monitoring` POD can be scheduled to any NODE of the cluster, futher, when the NODE is ( accidently

[2022-05-09 11:00] w13915984028 commented on #2243
prometheus-rancher-monitoring-prometheus-0 POD stucks in "Terminating", the "Cluster Metric" is not available

[code]

**workaround**: user need to delete the POD manually to recover.

**Root cause**
due to restrictions, `rancher-monitoring StatuefulSet` has only 1 replicas, which is vulnerable to be single-point-failure.
[code]

[2022-05-09 12:41] TachunLin commented on #2187
Verified **fixed** on `master-7fcf04f8-head`(05/06). Close this issue.

### Result
When delete one management node, then promote the remaining work node failed with `SchedulingDisabled`
We can apply this [workaround](https://github.com/harvester/harvester/issues/2191#issuecomment-1115794201) to promote the worker node correctly.

[code]
![image](https://user-images.githubusercontent.com/29251855/1

[2022-05-09 12:41] #2187 closed, assigned to bk201, TachunLin

[2022-05-09 13:12] lanfon72 opened #2244 "[BUG] VM template is not working with Node scheduling"
### Describe the bug
When Creating VM with _**multiple instance**_, the **Node Scheduling** is not working as expected.

### To Reproduce
Steps to reproduce the behavior:
1. Install Harvester with any nodes
2. Create an Image for VM creation
3. Create VM with _**Multiple Instance**_ and _**Use VM Template**_, In **Node Scheduling** tab, select `Run VM on specific node(s)`
4. Created VMs should be

[2022-05-09 13:14] lanfon72 commented on #2244
and the describe on Node Scheduling: `Run VM on specific node(s) - (Live migration is not supported)`, as it can only select one node, so **`(s)`** should be removed?

[2022-05-09 13:15] himslm01 commented on #2194
@bk201 I decided to be slightly adventurous and did something *slightly* different to your advice.

Instead of getting the Rancher internal IP and replacing it in `/var/lib/rancher/agent/rancher2_connection_info.json` on one host I decided to make sure all three nodes had the `server-uri` set to the FQDN DNS entry value `harvester-cluster.lan.lxiv.uk`.

After editing `/var/lib/rancher/agent/ranche

[2022-05-09 15:56] janeczku opened #2245 "[BUG] Fleet agent high CPU usage after upgrade"
**Describe the bug**
While upgrading from 1.0.0 to 1.0.1 the `cattle-fleet-agent` in the `cattle-fleet-local-system` namespace is consuming a lot of CPU cycles. It appears to be stuck in a loop going by the logs.

[code]

[code]

[2022-05-09 16:00] janeczku opened #2246 "[BUG] Backup has error status even though it is in progress"
Harvester 1.0.0

**Describe the bug**
1. Create a VM and create a backup
2. Notice how backup has a status of "Progressing"
3. Navigate to Backup -> Yaml and inspect the status error field

*Expected*
When backup is in progress and no errors occur, then no errors should be recorded in the status of the YAML resource.

*Actual*
During the entire "Progressing" phase of a successful backup operation

[2022-05-09 16:02] janeczku opened #2247 "[BUG] Backup Detail Page has incorrect title"
**Describe the bug**
Harvester 1.0.0

The title of the backup detail page is always set to "Restore Virtual Machine" instead of the name of the backup.

<img width="1686" alt="Screenshot 2022-05-09 at 15 14 31" src="https://user-images.githubusercontent.com/3813921/167450343-7c1745bf-c1db-4cba-8ee9-3a0d1369d30b.png">

[2022-05-09 16:25] janeczku opened #2248 "[BUG] Upgrade node stuck on post-draining hook"
**Describe the bug**
Upgrade Harvester from 1.0.0 to 1.0.1

The 3rd (of 3) nodes is stuck in post-draining hook.

<img width="593" alt="Screenshot 2022-05-09 at 18 24 36" src="https://user-images.githubusercontent.com/3813921/167454497-16843668-5d9a-42e9-a1b6-34c2f6691182.png">

The `hvst-upgrade-p2x5z-post-drain-donna-959ps` is stuck in a wait loop:

[code]

[code]

[2022-05-09 18:23] irishgordo opened #2249 "[BUG] RKE1 Cluster On Harvester in Rancher UI Fails to Connect to Rancher UI Web-Based 'Kubectl Shell' (Status: Disconnected)"
**Describe the bug**
RKE1/RKE Cluster created via Rancher UI - while in Rancher UI, cannot connect to the cluster with Web-based/UI-based `kubectl shell` from the ellipsis on the clusters index page.
However, using the `yaml` that the cluster is based on, we can interact with the 3 Node Harvester backed RKE/RKE1 cluster via `kubectl` and specifying that kubeconfig.

**To Reproduce**
Steps to repro

[2022-05-09 19:38] noahgildersleeve commented on #1940
@it-pappa I have a few questions.

1. Is that a consistent issue?
2. Are you uploading that from file, or from a web server location?
3. If it's by file are you seeing any errors in the browser console (I'm wondering if you're getting some kind of a timeout?
4. What kind of network speed is the network from your file location to the server, and is it going over a WAN or LAN?

[2022-05-10 00:26] bk201 commented on #2248
@janeczku Is it possible to provide a support bundle or check Longhorn state?
If pod `virt-launcher-upgrade-repo-hvst-upgrade-p2x5z-6stgc` is stuck with `Terminating`, you could force delete it to restart the VM again.

[2022-05-10 01:56] bk201 commented on #1861
Close this epic one, we can track upgrade issues with `area/upgrade-related` label and release.

[2022-05-10 01:56] #1861 closed, assigned to bk201

[2022-05-10 02:18] WuJun2016 commented on #2246
Hi, @janeczku  I wasn't able to reproduce the problem, is there a step to reproduce it?

[2022-05-10 06:19] it-pappa commented on #1940
Hi. i have tested harvester and actually went back to another hypervisor. The test was good tho.
Also, vCenter and proxmox also have issues uploading the 10gb rhel iso, i just moved the file to an apache server and downloaded it successfully from that url path.

So this issue is not only happening to Harvester but all providers and large iso files, openstack included.

[2022-05-10 06:19] it-pappa commented on #1940
the fix on proxmox and vcenter (if not downloaded thru url) is to move it by ssh

[2022-05-10 07:41] crazyelectron-io commented on #2241
Tried with AHCI and RAID/Octane mode for the NVME SSD, same result... there are no errors displayed, it just takes a long time between each step/logged line (up to a few minutes) and finally hangs.

[2022-05-10 07:44] fanlix opened #2250 "[Question] centos cloud image boot stuck at UEFI shell"
## problem
Creating vm of centos7 cloud image always boot **fail**. vm stops at UEFI Shell.

![hv-uefi-shell](https://user-images.githubusercontent.com/987637/167575626-bdefadf6-bd10-4a30-bc63-0af1ede196c5.png)

* harvester version: 1.0.1
* centos image: https://cloud.centos.org/centos/7/images/CentOS-7-x86_64-GenericCloud.qcow2

but on creating vm webpage, if apply the vm template: `harvester-pub

[2022-05-10 08:44] TachunLin commented on #1363
Verified **fixed** on `master-7fc404f8-head` (05/06). Close this issue.

### Result
When user encounter **`failed to connect`** to DHCP server while PXE boot to acquire DHCP service.
By adding the `rd.net.dhcp.retry=<cnt>` to the `imgargs` of pxe boot file, the installation process will automatically retry the given <cnt> retry to proceed the follow up instillation.

* **With** `rd.net.dhcp.retry=

[2022-05-10 08:44] #1363 closed, assigned to johnliu55tw, TachunLin

[2022-05-10 09:11] lanfon72 commented on #2225
@futuretea I can't do `terraform init` on generated resource in the docker container:
![image](https://user-images.githubusercontent.com/5169694/167593290-36eb4898-95c3-49ee-8b54-4ec923d265e3.png)

[2022-05-10 09:44] lanfon72 commented on #2222
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/167597124-c1ed7108-e24e-4796-a9c3-ad648f07998c.png)

Test Information
----
* Environment: **Bare metal DL360 3 nodes**
* Harvester Version: **v1.0.2-rc1**
* **ui-source** Option: **Auto**
* Terraform Harvester: **0.0.0-master** (docker Image ID: **af7eb2250aac**)

### Verify Steps:
1. Install Harvester wi

[2022-05-10 09:44] #2222 closed, assigned to lanfon72, futuretea

[2022-05-10 09:53] lanfon72 commented on #2247
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/167601831-246cc970-80c4-4c3e-99bc-4415032664e2.png)

Test Information
----
* Environment: **Bare metal DL360 3 nodes**
* Harvester Version: **v1.0.2-rc1**
* **ui-source** Option: **External**

### Verify Steps:
1. Install Harvester with any nodes
2. Create an Image for VM creation
3. Setup **backup-target

[2022-05-10 09:53] #2247 closed, assigned to lanfon72, WuJun2016

[2022-05-10 10:29] futuretea commented on #2225
@lanfon72 refer to  https://github.com/harvester/harvester/issues/943#issuecomment-886431707

[2022-05-10 10:41] WuJun2016 commented on #2242
Results of the survey：

VNC disconnection is caused by a close event initiated by the backend.
case 1:
If the user is doing something in VNC like typing continuously, the websocket link will not be broken, otherwise the websocket will be broken.

case 2:
I found that this may be related to the environment, some environments may keep the websocket link for a long time, more than half an hour, and s

[2022-05-10 11:02] lanfon72 commented on #2225
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/167613667-7bfa369c-21f1-4d8d-941d-df842dd51d42.png)

Test Information
----
* Environment: **Bare metal DL360 3 nodes**
* Harvester Version: **v1.0.2-rc1**
* **ui-source** Option: **Auto**

### Verify Steps:
- Follow the **Steps to reproduce** in https://github.com/harvester/harvester/issues/2225#issue-122

[2022-05-10 11:02] #2225 closed, assigned to lanfon72, futuretea

[2022-05-10 11:21] TachunLin commented on #2133
Verified **fixed** on `master-fdb64376-head` (05/10). Close this issue.

### Result
Test the following cos-toolkit parameter works in https://github.com/harvester/harvester-installer/pull/273
- ForceEFI: `ELEMENTAL_FORCE_EFI`
  - [x] `Force MBR` installation on BIOS firmware virtual machine
    ![image](https://user-images.githubusercontent.com/29251855/167598271-62adad98-3021-4145-bcdb-351255b692

[2022-05-10 11:21] #2133 closed, assigned to johnliu55tw, TachunLin

[2022-05-10 16:24] averyfreeman commented on #2066
ermigard I just wasted 5 hours of my life on this issue :P

[2022-05-10 20:49] antonym commented on #2226
Can confirm... unable to boot kernels directly from [releases.rancher.com](https://releases.rancher.com) endpoint via iPXE.

[2022-05-10 20:54] hwinkel commented on #1901
We run into the same problem, EQXM node entered in boot loops. I was following the equnix examples:

https://github.com/harvester/ipxe-examples/blob/main/equinix/README.md

[2022-05-10 22:16] noahgildersleeve opened #2252 "[BUG] Can't provision RKE clusters in Rancher Harvester node driver"
**Describe the bug**

You can't rpovision RKE1 or RKE2 clusters in Harvester from Rancher node driver
**To Reproduce**
Steps to reproduce the behavior:
1. Import Harvester into Rancher
2. Add cloud credentials
3. Create RKE cluster from node driver on Harvester
**Expected behavior**

The clusters hsould provision successfully
**Support bundle**

[supportbundle_804d6ba1-ba58-4bd5-bee0-71f85cc60b18_

[2022-05-11 02:01] FrankYang0529 commented on #569
For this feature, I think we can leverage the current design in VM. We use the annotation `harvesterhci.io/volumeClaimTemplates` to create PVC in the harvester controller. We can add a `dataSource` field to it, so users can get a new VM with cloned PVC from the target VM.

So we may need two PR to achieve this:
* A UI PR to add a `clone` button on VM. When users click it, UI will go to the `Virtua

[2022-05-11 02:09] FrankYang0529 commented on #569
I've tested that adding `dataSource` to `harvesterhci.io/volumeClaimTemplates` can work.

Steps:
* Create a VM.
* Login to the VM and add a file `test.txt` with content `123`.
* Create another VM, but don't click the `Create` button directly. Click `Edit as YAML`.
* Add `"dataSource":{"name":"vm-disk-0-xxx","kind":"PersistentVolumeClaim"}` to `harvesterhci.io/volumeClaimTemplates` annotation. The

[2022-05-11 03:33] TachunLin commented on #2252
Also checked on Rancher `v2.6.5-rc10` with Harvester `v1.0.2-rc2`.
Currently we can't provision `RKE2`, `K3s` and `RKE1` guest clusters in the following kubernetes versions:

1. RKE2: `v1.23.6+rke2r2` and `v1.22.9+rke2r2`
2. K3s: `v1.23.6+k3s1` and `v1.22.9+k3s1`
3. RKE1: `v1.23.6-rancher1-1` and `v1.22.9-rancher1-1`

The RKE2 provisioning process keep looping in the flow of `Creationerror` -> `De

[2022-05-11 05:14] sarahhenkens opened #2255 "[BUG] [terraform provider] provisioning a VM does not wait for the resource to be started"
**Describe the bug**

When creating a virtual machine via the terraform provider. A `terraform apply` returns immediately and does not wait for the VM to be fully booted. This is an expected behavior with common providers where we always wait for the resource to be fully started.

Ensuring downstream terraform resources can rely on valid and available information like the ip address.

Somewhat rel

[2022-05-11 05:20] sarahhenkens commented on #2255
I think the underlying problem is on line https://github.com/harvester/terraform-provider-harvester/blob/0b08620d136216e9f6e4561a0599758258271641/internal/provider/virtualmachine/resource_virtualmachine.go#L48:

[code]

We should inspect `status.` on the `kind: VirtualMachine` resource and wait until its ready to report the VM successfully provisioned in terraform:

[code]

[2022-05-11 07:55] weihanglo commented on #569
The proposal looks great! Leveraging CSI volume-cloning is really reasonable. I wonder why @yasker thought it should depend on CSI snapshot but volume cloning.

[2022-05-11 07:56] lanfon72 opened #2256 "[BUG] sybmolic link for configure option `install.device` is not working"
### Describe the bug
Unable to install Harvester with configuration file which set `install.device` to symbolic link.
this was fixed on https://github.com/harvester/harvester/issues/1462

### To Reproduce
Steps to reproduce the behavior:
1. Install Harvester with any node using PXE boot installation with setting `install.device` to `/dev/disk/by-path` instead of `/dev/sda`
2. Installing stucked an

[2022-05-11 08:26] lanfon72 commented on #2238
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/167804005-c685f4fa-1476-4d80-a5da-7a215eb2c287.png)
![image](https://user-images.githubusercontent.com/5169694/167803727-f02f0bc2-f6cd-4030-9baa-94b1c3875cd1.png)

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **v1.0.2-rc2**
* **ui-source** Option: **Auto**

### Verify

[2022-05-11 08:26] #2238 closed, assigned to FrankYang0529, lanfon72

[2022-05-11 08:30] tjjh89017 opened #2257 "[FEATURE] Allow VLAN tagged traffic to management interface in installer"
**Is your feature request related to a problem? Please describe.**

related to VLAN enhancement https://github.com/harvester/harvester/issues/2236
some network switch didn't have native vlan settings for harvester installation.
Allow users assign vlan id in installer UI.

**Describe the solution you'd like**

Please refer HEP
https://github.com/harvester/harvester/pull/2161

**Describe alternative

[2022-05-11 08:30] lanfon72 commented on #2154
Verified this bug has been fixed as the screenrecord in https://github.com/harvester/harvester/issues/2154#issuecomment-1102244829

The remaining displayed **Node** will not affect other function, so it is fine to keep it.

[2022-05-11 08:30] #2154 closed, assigned to lanfon72, WuJun2016

[2022-05-11 08:45] janeczku opened #2258 "[BUG] Server is duplicated and corrupted during the upgrade process"
**Describe the bug**
While performing the 1.0.0 -> 1.0.1 upgrade one of the servers was "duplicated" causing the duplicated server to malfunction and the cluster to be reduced to just 2 working nodes when the upgrade completed.

**To Reproduce**
1. Install Harvester 1.0.0 on 3 servers
2. Perform the upgrade to 1.0.1 following the documentation (including all the preparations, such as shutting down

[2022-05-11 08:51] janeczku opened #2259 "[FEATURE] Support multiple VLAN physical interfaces"
**Is your feature request related to a problem? Please describe.**

Use case: VM workloads must be able to connect to VLANs that are switched on two different physical switches. Example includes a connection to an out-of-band (OOB) management network that is typically hosted on a dedicated physical switch isolated from the  TOR or leaf switch.

**Expected implementation**

Harvester allows user to

[2022-05-11 09:02] janeczku opened #2260 "[FEATURE] Support network policies for micro-segmentation of workloads"
**Is your feature request related to a problem? Please describe.**
Use case: Need to enforce traffic policies for VM-VM and VM-External communication within a VLAN network.

**Implementation details**

Should leverage the native Kubernetes network policies subsystem.

[2022-05-11 09:08] lanfon72 opened #2261 "[FEATURE] enhance terraform network to not pruge route_cidr and route_gateway"
### The problem
When using terraform Harvester to apply **network resource** with `route_mode="auto"`, Harvester will update `route_cidr` and `route_gateway` then update _Route Connectivity_ to be **Active**.

And If user apply the resource again, terraform will consider to purge `route_cidr` and `route_gateway` as the following snapshot:
![image](https://user-images.githubusercontent.com/5169694/

[2022-05-11 09:08] lanfon72 opened #2262 "[BUG] terraform operation result in image download failed won't be retried"
### The problem
When using terraform Harvester to apply **image resource**, one of the case is, resource apply successfully, but Harvester cluster fail to donwload the image, and **re-apply** will not trigger anything.

![image](https://user-images.githubusercontent.com/5169694/167810419-21e7871d-d56b-4eb5-a59c-2bda9cf8870d.png)

### The solution
Re-download the image

### The Alternatives
Showing

[2022-05-11 09:14] lanfon72 opened #2263 "[BUG] Unable to stop VM which in starting state"
### Describe the bug
**Stop** button been disabled when the VM in a long starting state.

![image](https://user-images.githubusercontent.com/5169694/167813844-014051c6-01f2-4c8a-9e59-a3d5fd517a5a.png)
![image](https://user-images.githubusercontent.com/5169694/167813871-2db1d406-f427-4e8b-a4be-adbdd230c211.png)

### To Reproduce
Steps to reproduce the behavior:
1. Install Harvester with any nodes
2

[2022-05-11 09:28] hrittikhere commented on #2226
Looking for updates. I can't boot via iPXE too

[2022-05-11 09:46] w13915984028 commented on #2259
Supporting multi-networks (different NICs are binded to different networks) is planned in:
https://github.com/harvester/harvester/issues/2236

[2022-05-11 13:43] guangbochen commented on #2252
You will encounter the mutual exclusive error if u are using the Harvester `v1.0.2-rc2` version.
As a workaround, you can path the webhook image via `$kubectl set image deployment/harvester-webhook harvester-webhook=rancher/harvester-webhook:v1.0-head`.

To test the latest Harvester node driver changes please refer to https://github.com/harvester/docker-machine-driver-harvester/pull/32

[2022-05-11 14:20] lanfon72 commented on #2256
Verified this bug has been fixed.

[2022-05-11 14:20] #2256 closed, assigned to johnliu55tw, lanfon72

[2022-05-11 14:38] yasker commented on #569
I vaguely remembered some discussion around the area. But @PhanLe1010 is the expert on this part and he should know better.

[2022-05-11 14:47] lanfon72 commented on #2172
Verified this bug has been fixed.

UI change:
- Remove `Start virtual machine on creation`
- Set **Run Strategy** to `RerunOnFailure` by default in _Advanced Options_

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **v1.0.2-rc2**
* **ui-source** Option: **Auto**

### Verify Steps:
- Follow **Steps to reproduce** in https://github.com/harvester/harvester/issues/2

[2022-05-11 14:47] #2172 closed, assigned to tjjh89017, guangbochen, lanfon72, WuJun2016, TachunLin

[2022-05-11 15:06] lanfon72 opened #2265 "[BUG] VM's RunStrategy will be updated to `Halted` when stop the VM"
### Describe the bug
There have two different behaviors:
- Stop the VM by clicking **Stop** Button, RunStrategy will be updated `RerunOnFailure -> Halted`
- Stop the VM by executing `poweroff` insidie the VM, RunStrategy _**will not be update**_, but user can still click **Stop** Button to stop the VM again. (even if the VM is in `Off` state)

### To Reproduce
Steps to reproduce the behavior:
1. I

[2022-05-11 16:48] irishgordo commented on #2082
Hi @weihanglo hope the week has been going well for you so far!

I would like to close this after this PR gets merged in:
https://github.com/harvester/docs/pull/151
In that PR above I made a small change to the spelling in the heading of the document.

After that PR gets merged in I believe we can close the document update, since that PR I created fixes the only issue I saw and since your reposito

[2022-05-11 16:49] janeczku commented on #2209
Confirmed this issue. Seeing the following behavior on a 3 node Haravester cluster with a round-robin load balancer in front:

1. Choose "Take Backup", fill in the name `test-xxx`
2. Click "Create" --> Error "Backup Target Invalid"
3. Click "Create" --> Error "Backup Target Invalid"
4. Click "Create" --> Success "Backup Target Invalid"

Below you can see that only every 3rd attempt to create a bac

[2022-05-11 17:19] janeczku commented on #2209
[code]

[2022-05-11 17:27] janeczku commented on #2209
Workaround:

[code]

[2022-05-11 17:28] janeczku commented on #2238
https://github.com/harvester/harvester/issues/2209#issuecomment-1124049483

[2022-05-11 21:55] ciybe commented on #1873
I had the exact same issue on the v1.0.2-rc2 ISO with a Gigabyte GV-N210SL Graphics Card. The resolution was low.
After removing the card and using the onboard graphics, the resolution was higher and the described issue was gone.

[2022-05-12 03:02] bk201 commented on #2082
Close because https://github.com/harvester/docs/pull/151 is merged.

[2022-05-12 03:02] #2082 closed, assigned to weihanglo

[2022-05-12 03:15] guangbochen commented on #1842
Close as the doc PR  https://github.com/harvester/docs/pull/14 is merged and added a more detailed explanation of the metrics calculation per https://docs.harvesterhci.io/v1.0/monitoring/monitoring/#vm-detail-metrics.

[2022-05-12 03:15] #1842 closed, assigned to w13915984028

[2022-05-12 03:41] antonym commented on #2226
Ended up mirroring the release as a GitHub release which lets me boot from iPXE.

[2022-05-12 04:38] FrankYang0529 commented on #2209
I think we already fixed this issue in https://github.com/harvester/harvester/issues/2238

[2022-05-12 05:21] TachunLin commented on #2252
Verified the [workaround](https://github.com/harvester/harvester/issues/2252#issuecomment-1123781829) works on `v1.0.2-rc2`
After updating the webhook pod image on Harvester to v1.0-head and remove the pending webhook pod

Then we can provision RKE2 cluster correctly

### Steps to Reproduce
1. ssh to Harvester VIP node
2. Execute command `kubectl set image deployment/harvester-webhook harvester-we

[2022-05-12 06:22] jrlittlefoot64 opened #2267 "[Question] Whats about the GO Critical Vulnerabilities and harvester"
https://github.com/advisories/GHSA-q42m-q8hq-53rj This vulnerability has been modified and is currently undergoing reanalysis. Please check back soon to view the updated vulnerability summary. encoding/pem in Go before 1.17.9 and 1.18.x before 1.18.1 has a Decode stack overflow via a large amount of PEM data.

    https://github.com/advisories/GHSA-v5qw-m6mv-3q79 The generic P-256 feature in crypt

[2022-05-12 07:27] WuJun2016 opened #2269 "[BUG] Receive tens of thousands of websocket messages in a very short period of time on the frontend"
**Describe the bug**

When there are many messages at once, the websocket sends the messages to the frontend in small pieces, which results in a large number of websockets events (tens of thousands) for the frontend to handle.

This can lead to frontend page performance problems.

question:  Is there a way to put some of the messages together and send them to the frontend together?

![image.png](h

[2022-05-12 08:34] weihanglo commented on #569
FWIW, there are a proposal and an implementation of VM cloning support in KubeVirt:

- https://github.com/kubevirt/community/pull/159
- https://github.com/kubevirt/kubevirt/pull/7336

Though there are some unneglectable limitations described in that proposal:

- Only offline cloning will be supported, meaning cloning a VM when it's stopped.
- Cloned VM would be in the same namespace as the origina

[2022-05-12 08:56] FrankYang0529 commented on #569
From my experiment, I think our design can clone a live VM. However, not sure whether it impacts the source PVC if we keep writing data to it during cloning a VM. This relies on LH.

`PVC.spec.dataSource` is a `TypedLocalObjectReference` object. From k8s source code, we also can only clone a VM in the same namespace.

https://github.com/kubernetes/kubernetes/blob/8aaea8e24c1b87dbd606801f3c3f1e51ee

[2022-05-12 09:19] FrankYang0529 commented on #2265
VMI has many phases. If we run `sudo poweroff` in the VM, the pod of the VM will become `complete` and VMI will become `Succeed`. We should also determine the phase of VMI in `canStop`.

https://github.com/kubevirt/kubevirt/blob/a3aaf1ace40c44c9dafaf2c091851d5cdb829fd7/staging/src/kubevirt.io/api/core/v1/types.go#L648-L668

[2022-05-12 09:26] lanfon72 commented on #2265
@guangbochen please help to update the milestone and priority accordingly.

[2022-05-12 09:26] TachunLin commented on #2252
Verified **fixed** on Harvester `v1.0-c012a404-head` (05/12) with Rancher `v2.6-head` (bf93f4b).
Close this issue.

### Test Result

1. Node driver have been bumped to v0.4.0 on Rancher v2.6-head
 ![image](https://user-images.githubusercontent.com/29251855/168018123-09d049d2-dabd-4146-a2b7-94cb6e166f4a.png)

2. Can provision RKE2, RKE1 and K3s cluster correctly without VM `Creationerror`

 |RKE2|v

[2022-05-12 09:26] #2252 closed, assigned to guangbochen, futuretea, TachunLin

[2022-05-12 09:51] lanfon72 opened #2270 "[BUG] Unable start VM after upgraded `v1.0.1` to `v1.0.2-rc2`"
### Describe the bug
In the case of single node upgrade, the VM will be shutdown in `Off` State and unable to start again.
In the case of 2 nodes upgrade, the VM will stay in `Running` State, but after **Stop** it, it would not able to start again.

![image](https://user-images.githubusercontent.com/5169694/168042310-515d833c-8189-4fc0-bbd0-8885c774590d.png)
![image](https://user-images.githubuser

[2022-05-12 09:54] flaw commented on #2027
@meysholdt you can try adding `dataLocality: "best-effort"` into the storageClass definition.

See https://longhorn.io/docs/1.2.4/high-availability/data-locality/

Note that you can also edit that setting from the Longhorn UI if that makes it easier to test.

[2022-05-12 09:58] lanfon72 commented on #2270
As this bug had a simple workaround and work well, I would suggest to document it in `v1.0.2` and  fix it in `v1.0.3` or later.
(And please help to update priority label and milestone, thanks)

[2022-05-12 15:01] lanfon72 commented on #2209
Hi @kinchlo,
As we can't not 100% sure that #2238 is the root cause of this bug, I would ask you to try the workaround in https://github.com/harvester/harvester/issues/2209#issuecomment-1124011687 (thanks @janeczku) when you encounter it again, and please leave some comment to here (whatever it is work or not), then we can triage it to close or further develop, thank you.

[2022-05-12 16:03] irishgordo commented on #2082
Awesome! :partying_face:

[2022-05-12 17:46] irishgordo commented on #2211
![2211-looks-good](https://user-images.githubusercontent.com/5370752/168136581-719a98d7-e001-4e8d-9f68-9b718729aa20.png)

This renders correctly and looks good locally!
I'll go ahead and close this out :smile:

[2022-05-12 17:46] #2211 closed, assigned to w13915984028

[2022-05-12 18:24] hwinkel commented on #2226
hey, it's vital to bring up a Harvester Cluster in our EQXM Locations. Can you fix this please otherwise it stucks

[2022-05-12 18:52] hwinkel commented on #2226
can you provide some hints how to do it?

[2022-05-12 20:26] antonym commented on #2226
I have a release mirror here and iPXE seems to be fine with it downloading it from Github Releases:

https://github.com/netbootxyz/asset-mirror/releases/tag/v1.0.1-e4b9482d

The code to create the release is [here](https://github.com/netbootxyz/asset-mirror/tree/harvester), all it's doing is downloading it from releases.rancher.com/harvester and pushing it into a Github release.

[2022-05-12 21:30] rebeccazzzz opened #2271 "[Doc] HDD support"
**Is your feature request related to a problem? Please describe.**
SSD is not economical for cold/archival storage.

**Describe the solution you'd like**
HDD support (Western Digital VelociRaptor 10k)

**Additional context**
Typical capacity of cluster: 16TB up to 1PB

Note:

Related issue: https://github.com/harvester/harvester/issues/2147
Also, depends on Longhorn's support for HDD.

[2022-05-12 21:33] rebeccazzzz opened #2272 "[FEATURE] NFS/shared storage for virtual machines"
**Is your feature request related to a problem? Please describe.**
Legacy applications running in VMs require shared storage

**Describe the solution you'd like**
Provide NFS storage for virtual machines

**References**

https://kubevirt.io/user-guide/storage/disks_and_volumes/#persistentvolumeclaim

https://github.com/kubevirt/containerized-data-importer/blob/main/doc/datavolumes.md#pvc

Each pro

[2022-05-12 21:41] rebeccazzzz opened #2273 "[FEATURE] Auto-Rebalance Replicas"
Replicas should be balanced when adding a disk or after server eviction.

Need support from Longhorn for this feature. Longhorn issue: https://github.com/longhorn/longhorn/issues/2977

[2022-05-12 21:46] rebeccazzzz opened #2274 "[FEATURE] VM Import/Migration"
Support seamless migration from other virtualization platforms (Openstack and VMware)

Including allow importing VMDK and other formats of images.

Ranked Priorities:
- [ ] VMWare
- [ ] OpenStack
- [ ] Others (to be added)

[2022-05-12 21:53] rebeccazzzz commented on #1029
Added a line to the description above: “Include GPU support for VMs and K8s workloads.”

[2022-05-13 01:12] yasker commented on #2272
We can utilize Longhorn's NFS volume for this.

[2022-05-13 05:48] hwinkel commented on #2226
many thanks, I will try the Release URLs for a trial and trial only.

[2022-05-13 06:01] ProjectInitiative commented on #1029
Adding "hookscripts" that allow a script to run during different phases of the VM lifecycle would be beneficial when dealing with binding, unbinding and cleaning up the VFIO-PCI drivers.

[2022-05-13 07:03] #1174 closed, assigned to nobody

[2022-05-13 07:37] w13915984028 opened #2275 "[BUG] 3-node cluster upgrading ended with 2-node cluster and one defect node"
**Describe the bug**

// three nodes in the original cluster, upgrade from v1.0.0 -> v1.0.1
[code]

// after upgrade, this node is lost
`harvey                                                                                  192.168.200.141`

// try to re-add "harvey" with new name "louis", still fail
`louis`

// log of harvey, when it tried to re-join the cluster

[code]

(from @janeczku)

**To R

[2022-05-13 07:42] bk201 commented on #1174
Close because it seems not related to cloud manager and it doesn't appear for a while.

[2022-05-13 07:50] FrankYang0529 commented on #2265
@lanfon72, sending a stop request through UI to a VM with `RerunOnFailure` or `Always` RunStrategy and it becomes `Halted` is a known issue. Please check https://github.com/kubevirt/kubevirt/issues/7295.

I think it's better to change the issue title to `UI should not show the stop button when users already run "poweroff" in the VM`.

[2022-05-13 07:51] w13915984028 commented on #2275
duplicated with #2258

[2022-05-13 07:52] #2275 closed, assigned to nobody

[2022-05-13 07:53] w13915984028 commented on #2258
the panic stack in https://gist.github.com/janeczku/7d42329f40154776c4f2b108ab8db1aa

[code]

is similar to :

https://github.com/rancher/rke2/issues/2829

[2022-05-13 08:59] weihanglo commented on #2244
I can reproduce this issue. When creating multiple VMs with VM template pre-filled, the modified value of node scheduling is not included in the HTTP request to `https://cluster-vip/v1/harvester/kubevirt.io.virtualmachines/default`, whereas the payload of the request of single VM creation is correct.

@WuJun2016 Can you help investigate the frontend part? I've read a bit but no luck to understand

[2022-05-13 09:27] WuJun2016 commented on #2244
This is an issue of the frontend  @weihanglo

[2022-05-13 10:17] lanfon72 commented on #2265
@FrankYang0529 yes, I knew `RunStrategy` would be **Halted** if user use **Stop** Button to stop the VM, as the attached image in https://github.com/harvester/harvester/issues/1953#issuecomment-1064792750
I tend to keep the tittle for users, they can use the keywords like _Halted_, _RunStrategy_ and _stop VM_ to find this.
And I would suggest to add the image (in the link above) to our document or

[2022-05-13 18:35] radioflyer28 commented on #2004
@tlehman I believe that's what @ndizazzo and I are saying. However, I recently discovered a hidden UI that I wasn't aware of: https://10.0.0.10/dashboard/c/local/explorer
It at least offers some ability to deploy workloads directly via Rancher without some of Rancher's other bells and whistles, like multi-cluster management. This is generally what I was looking for and appears to be what I used in

[2022-05-15 03:03] averyfreeman opened #2277 "[Question] How do I create or download and run a container image?"
Hello,

Sorry for the extremely basic question, but I feel like I'm totally missing something here

What options are there for running containers on Harvester?  Is there information on how to create a container, or install a docker/OCI image, or something, etc. somewhere?

I can only seem to find documentation on creating virtual machines.

Edit: I'd like to refine this question

Upon more reading

[2022-05-15 22:29] BringerOD commented on #2230
+1

[2022-05-16 03:32] guangbochen commented on #2136
close as the doc is merged via https://github.com/harvester/docs/pull/150

[2022-05-16 03:32] #2136 closed, assigned to guangbochen

[2022-05-16 03:33] guangbochen commented on #2123
close as this issue can't be reproduced after fixing the issue https://github.com/harvester/harvester/issues/2137, feel free to reopen it if u encounter it again, thanks.

[2022-05-16 03:33] #2123 closed, assigned to FrankYang0529

[2022-05-16 03:35] bk201 commented on #2277
Yes, VM is the primary user-faced interface to the platform. https://harvesterhci.io/img/Harvester-Architecture-3.2-Outlines.svg

The platform is built on Kubernetes and you certainly can run containers in it if you own the cluster. But we don't recommend it.

A more recommended approach is to provision Kubernetes clusters inside VMs to run your workload. You can do this by yourself or import the

[2022-05-16 03:51] futuretea commented on #2274
a script for export openstack volume to qcow2 image: https://gist.github.com/futuretea/bc377d125ee751b3cf88418210ecbe89

[2022-05-16 03:57] guangbochen commented on #1849
TODO: add [MinUpgradableVersion field](https://github.com/longhorn/upgrade-responder/pull/31) to the upstream upgrade responder and migrate to it later.

[2022-05-16 04:32] averyfreeman commented on #2277
This is extremely clarifying

So then, could I create first node for Rancher in a vSphere VM and then add the 2 bare-metal harvester nodes to provision Rancher in each of those (for 3 total nodes)?

What do you think the easiest way to go about getting kubernetes platform (for containers) with 3 nodes via my current setup?

Thanks again

[2022-05-16 04:52] ibrokethecloud commented on #2226
We are working to internally address the hosting aspect.

For now I have set up a sample endpoint for testing `https://harvester.ibrokethe.cloud`

A sample script leveraging the same to boot in equinix metal is available here: https://github.com/ibrokethecloud/custom_pxe/blob/master/mac.ipxe

[2022-05-16 08:32] w13915984028 commented on #992
connect with https://github.com/harvester/harvester/issues/2236
SRIOV may also be represented as a kind of network to reuse existing features

[2022-05-16 10:37] WuJun2016 commented on #1731
Created a new issue tracking websocket hint message enhancement, so closed the issue.    https://github.com/harvester/harvester/issues/2186

[2022-05-16 10:37] #1731 closed, assigned to DaiYuzeng

[2022-05-16 16:43] Chrisputer opened #2278 "[FEATURE] Add BIOS or EFI boot option for the bootloader"
**Is your feature request related to a problem? Please describe.**

When booting an ISO, I expect to not see the EFI Interactive Shell. There are still quite a few ISOs that cannot use EFI for booting and need to use BIOS.

**Describe the solution you'd like**

I'd like to see a toggle option for BIOS or EFI Bootloader

**Describe alternatives you've considered**

Right now I have to go into YAML

[2022-05-16 20:26] hrittikhere commented on #2226
Hey @ibrokethecloud
This helps to boot.
Can you also please provide the userdata? My SOS portal shows eth0 not found and I am confused about what to do next.

[2022-05-16 23:19] ibrokethecloud commented on #2226
@hrittikhere here is the full sample: https://github.com/ibrokethecloud/harvester-equinix-terraform-sample

You dont need to specify the management interfaces in userdata since that is now being looked up by the installer via the mac address info passed as kernel arguments.

[2022-05-17 02:19] FrankYang0529 opened #2279 "[FEATURE] Freeze VM before live backup"
**Is your feature request related to a problem? Please describe.**
Freeze VM to avoid users keep writing data during live backup.

**Describe the solution you'd like**
Try to call `freeze` and `unfreeze` for VMI.

**Additional context**
https://github.com/kubevirt/kubevirt/pull/5942

[2022-05-17 04:22] axsms opened #2280 "[Question] How do we troubleshoot upgrades?"
I'm coming up on 3.5 hours that the first node (node3) in a 3-node cluster is cordoned. I'd like to troubleshoot the issue, but I'm not finding documentation to guide me on how to do that. I used the one-click-upgrade through Rancher 2.6.4.

I am seeing:

1. Kubelet stopped posting node status.
2. EvictionStrategy is set but vmi is not migratable
3. Console shows Current status: Setting up Harvest

[2022-05-17 04:35] bk201 commented on #2280
@axsgitty Did you upgrade from Harvester v1.0.1?
A [support bundle](https://docs.harvesterhci.io/v1.0/troubleshooting/harvester/#generate-a-support-bundle) would help. Did you capture the screenshot after refreshing the dashboard?

[2022-05-17 04:43] bk201 commented on #2277
Sorry, perhaps I didn't explain clearly. The Rancher service is outside of Harvester deployment (it can even run in a docker pod for dev purposes). I think the first step is you can find a way to provision Rancher, and "import" the Harvester into it.

You probably need another bare-metal node to form a 3-node cluster. For your current setup, the first node acts as control plane node and the second

[2022-05-17 04:46] hrittikhere commented on #2226
Thanks @ibrokethecloud ! Not that familiar with Terraform so I will look into it. Any ways to not go the terraform part and just change the interfaces in user data?
[code]

[2022-05-17 05:06] axsms commented on #2280
@bk201 Yes, I upgraded from 1.0.1. The screenshot is after a refresh. It hasn't changed in hours. Is there a secure way to provide a support bundle?

[2022-05-17 06:08] jrlittlefoot64 commented on #2280
Have the same issue, only Upgrading System Service shows me 50% for hours, try it with one test installation on notebook with two VMs and with a fresh installation 1.0.0 --> 1.0.1 --> 1.0.2. Support Bundle doesn't work shows me only an error

[2022-05-17 06:28] bk201 commented on #2280
@axsgitty Somehow kubelet on node ****3 dies after preloading images (it simply load container images to host with a job).
Probably related to I/O. You can restart rke2-server on that node with `systemctl restart rke2-server` to see if it bring up the kubelet again.

BTW, I saw you mask hostnames in the screenshot, feel free to remove the support bundle in the comments if there some info not good

[2022-05-17 06:35] axsms commented on #2280
`Terminating
rke2-coredns-rke2-coredns-autoscaler-7566b44b85-h26vd	kube-system	rancher/hardened-cluster-autoscaler:v1.8.5-build20211119
1/1	5293	10.52.0.124`

I found this in the node's embedded rancher. Many pods are trying to terminate. This is the one that seems to be struggling the most. I'm not sure it has anything to do with the root cause though.

I'll scrub the support bundle and then post

[2022-05-17 06:40] bk201 commented on #2280
Could you provide job log of `hvst-xxx-apply-manifest` in `harvester-system` namespace? Thanks.

[2022-05-17 07:05] axsms commented on #2280
After restarting rke2-server I received a 503 via nginx while trying to access that node. Then I started receiving 504 gateway errors on the other nodes. I shutdown the offending host. I'll continue troubleshooting tomorrow.

[2022-05-17 07:57] jrlittlefoot64 commented on #2280
`
[supportbundle_c9199490-72cc-4342-b619-354091a62267_2022-05-17T06-57-25Z.zip](https://github.com/harvester/harvester/files/8706299/supportbundle_c9199490-72cc-4342-b619-354091a62267_2022-05-17T06-57-25Z.zip)

[2022-05-17 10:03] weihanglo commented on #2280
Thanks for the report, @axsgitty and @jrlittlefoot64. The upgrade path is indeed hard to troubleshoot, but we can still get the gist from the good write-up of this ["zero downtime upgrade" proposal](https://github.com/harvester/harvester/blob/master/enhancements/20220413-zero-downtime-upgrade.md).

In short, harvester zero-downtime upgrade consists of two parts of upgrade. One is for in-cluster sy

[2022-05-17 10:18] FrankYang0529 commented on #2175
Currently, the workaround for this issue is adding the crt file to `/etc/pki/trust/anchors` and running `update-ca-certificates` on each host.

If we want to fix this issue properly, we need to introduce `harvester-system-agent` for handling system stuff. I tried to use following YAML to mount host folder and `harvester-additional-ca` secret to a container. In this container, I try to move `additi

[2022-05-17 10:25] FrankYang0529 commented on #569
Hi @PhanLe1010, could you please help to respond to these two comments☝🏻? Thank you.

[2022-05-17 15:02] axsms commented on #2280
@weihanglo Great writeup. Thank you for the details. I am wiping this setup and starting over to accommodate  a change we are making in the networking for this PoC. I am installing 1.0.1 again and then going to test the upgrade as part of our vetting process.

[2022-05-17 16:45] iwilltry42 commented on #1004
I'm seeing the same in v1.0.2.
It takes about 12 minutes for a VM to come back up after a node shutdown (this probably includes the grace period, even though I've set it to 60s in the settings).

[code]

[2022-05-17 19:32] abonillabeeche opened #2282 "[BUG] rancher-monitoring-grafana is too small and it keeps growing"
**Describe the bug**
The rancher-monitoring-grafana volume keeps growing but it's size should remain the same. Since the volume is low in size, it eventually grows more than it should.

**To Reproduce**
Steps to reproduce the behavior:
1. Turn Off Harvester servers.
2. Turn On Harvester servers.
3. Eventually the volume grows over the assigned 10Mi

**Expected behavior**
The volume should be creat

[2022-05-17 23:35] ibrokethecloud commented on #2226
@hrittikhere its hard to predict interface name or mac address unless you have reserved instances in equinix metal.

Easiest option is to drop `networks` from the user-data and inject the same via pxe script, which my example does.

`harvester.install.networks.harvester-mgmt.interfaces="hwAddr:${net0/mac}"` is what does the injection of mac address at runtime.

[2022-05-18 00:24] PhanLe1010 commented on #569
I just reviewed the design discussion in the past: https://confluence.suse.com/display/LON/High-level+LEP+for+Longhorn+volume+cloning+and+Harvester+VM+cloning

In a nut shell, there are 3 ways for Harvester to do clone:
* [CDI smart-cloning feature](https://github.com/kubevirt/containerized-data-importer/blob/main/doc/smart-clone.md)
* CSI volume clone, mentioned by @FrankYang0529 at [link](https:

[2022-05-18 01:58] bk201 commented on #1707
Keep this in the icebox because we at least need v1.0.3-rc1 to test again.

[2022-05-18 04:41] axsms opened #2283 "[BUG] Failed to wait for processing start in 60 seconds — Labels issue?"
**Describe the bug**
On both a 1.0.1 and 1.0.2 cluster, when attempting to upload varying images, I get "Failed to wait for processing start in 60 seconds". I have been trying to do this through an RKE2 Rancher 2.6.4 cluster. These attempts were without adding labels. I just attempted to do this directly on a single 1.0.2 node and it failed again. However, I decided to look at the label option and

[2022-05-18 05:30] hrittikhere commented on #2226
If I want a node cluster instead of 3 then I should make this default to 1?
`variable node_count {
    default = "2"
}
`

Also how can I see these `A random token and password will be generated for your example.`? Thanks!

[2022-05-18 05:40] averyfreeman commented on #2277
No I think I followed correctly, thanks for explaining this all to me.  I'll try setting up RKE in a few vSphere VMs just to get it started.

Once Harvester is imported into Rancher, though, can its compute + storage resources be used for containers, or is it only for Rancher to have control over Harvester's VMs?

I mistakenly thought since Harvester was scheduled by Kubernetes that it would have

[2022-05-18 06:56] jrlittlefoot64 commented on #2280
Thanks a lot @weihanglo for your comment, think my problem is the update 1.0.0 to 1.0.1, will try a fresh install with 1.0.1 and than update to 1.0.2

[2022-05-18 07:29] WuJun2016 commented on #2283
Hi, @axsgitty   harvester v1.0.2 corresponds to rancher v2.6.5, and their UX behavior is basically the same.

[2022-05-18 07:31] WuJun2016 commented on #2283
Whether the upload fails or not is not related to the labels, you need to provide more information, such as the yaml file

[2022-05-18 08:12] wonleing commented on #2209
I am using harvester1.0.0, When I added a NFS 'backup target' on web-ui, it reported following error:
admission webhook "validator.harvesterhci.io" denied the request: Cannot mount nfs 10.10.72.34:/data/k8s: Failed to execute: mount [-t nfs4 -o nfsvers=4.2 -o actimeo=1 10.10.72.34:/data/k8s /var/lib/longhorn-backupstore-mounts/10_10_72_34/data/k8s], output mount: permission denied (are you root?)

[2022-05-18 08:15] w13915984028 commented on #2043
@arunarasu
The "Failed to load graph" is fixed via https://github.com/rancher/dashboard/pull/5659, please try again, it's better to use the latest Harvester release https://github.com/harvester/harvester/releases/tag/v1.0.2

[2022-05-18 08:30] w13915984028 commented on #2074
@radioflyer28 Any update of your setting?
As of Harvester v1.0.2, the `management network` does not support VLAN yet, namely, the ethernet frame outing of the NIC of the NODE, has no VLAN tag.

`management network` supports VLAN is an under-development feature.

For study/experiment of Harvester, it's OK to use management network to carry all traffic.

More practical, it's better to have separated

[2022-05-18 08:36] w13915984028 commented on #1568
@ikus060 Do you have any new updates?

As @guangbochen  said, it's quite possible that the NODE does not have enough resources (CPU core, memory, storage). Please refer https://docs.harvesterhci.io/v1.0/#hardware-requirements to check.

BTW, the latest Harvester release also brings more improvments and features.
https://github.com/harvester/harvester/releases/tag/v1.0.2

[2022-05-18 08:51] w13915984028 commented on #1758
@szthanatos Please try the latest Harvester.
https://github.com/harvester/harvester/releases/tag/v1.0.2

There is an known issue and is fixed in v1.0.1.  A fast image uploading may cause OOM.

[2022-05-18 09:01] w13915984028 commented on #2234
@iamwlb Could you please list following information:
Harvester release:
How is the Harvester cluster installed: via PXE, or via ISO, or via HELM ( not supported)
 the doc: https://docs.harvesterhci.io/v1.0/install/iso-install/

How long is the cluster installed:
How may nodes:
What happed before this issue:
Is the Harvester UI still usable:

Which POD is this log taken from:
Any POD is in "Termina

[2022-05-18 09:12] w13915984028 commented on #2206
@iamwlb Please refer https://docs.harvesterhci.io/v1.0/install/iso-install/  and related parts.

Directly use HELM to install Harvester into a existing kubernetes is not supported.

Please take a look of the ISO-install guide, it is not only the deployment of Harvester into kubernetes, but also a lot of work about OS, about related base components.

[2022-05-18 09:15] w13915984028 commented on #2215
@koyasuri
As of Harvester v1.0.2,  Harvester does not support configure management network with VLAN yet.

It is a feature under developing, will be released this year.

[2022-05-18 09:46] oivindoh commented on #2198
This would be quite useful to us.

[2022-05-18 10:04] w13915984028 commented on #2113
@klinux Could you add more details, thanks.

[code]

If a support-bundle is attached, it will be great.

[2022-05-18 10:05] FrankYang0529 commented on #2209
@wonleing, could you check whether you have the following `annotations` and `securityContext` in your `harvester-system/harvester-webhook` deployment? Thank you.

https://github.com/harvester/harvester/blob/004f3f93df697c33a56ff0a3e2f2c92263508065/deploy/charts/harvester/templates/deployment.yaml#L143-L144

https://github.com/harvester/harvester/blob/004f3f93df697c33a56ff0a3e2f2c92263508065/deploy

[2022-05-18 10:15] w13915984028 commented on #2138
@xiaofan-linux Could you please lit more details, thanks.

[code]
A support-bundle is helpful.
https://docs.harvesterhci.io/v1.0/troubleshooting/harvester/#generate-a-support-bundle

[2022-05-18 10:31] w13915984028 commented on #2138
When Harvester is installed in developer mode, please check if it follows the steps listed in https://docs.harvesterhci.io/v1.0/dev/dev-mode/ , thanks.

[2022-05-18 10:32] w13915984028 commented on #2157
When Harvester is installed in developer mode, please check if it follows the steps listed in https://docs.harvesterhci.io/v1.0/dev/dev-mode/ , thanks.

[2022-05-18 10:35] w13915984028 commented on #1496
@xiaofan-linux

When Harvester is installed in developer mode, please check if it follows the steps listed in https://docs.harvesterhci.io/v1.0/dev/dev-mode/ , thanks.

[2022-05-18 10:49] w13915984028 commented on #2234
When Harvester is installed in developer mode, please check if it follows the steps listed in https://docs.harvesterhci.io/v1.0/dev/dev-mode/ , thanks.

[2022-05-18 11:07] w13915984028 commented on #1901
@all4innov @hwinkel

Is your C3 family metal as described https://metal.equinix.com/product/servers/c3-small/,   8 core 16 thread,  32G ram, 2*480G SSD ?

Could you please add some screenshorts of installation.

At which stage is the installation stopped? GRUB menu, or ISO fetching, or Harvester OS installation or rebooting failure? thanks.

@ibrokethecloud Is this related to your recent investiga

[2022-05-18 11:12] w13915984028 commented on #2233
@iamwlb

Could you please add more details, thanks.

[code]
A support-bundle is helpful.
https://docs.harvesterhci.io/v1.0/troubleshooting/harvester/#generate-a-support-bundle

[2022-05-18 11:24] axsms commented on #2283
I considered this a bug because I get "Failed to wait for processing start in 60 seconds". I wasn't interested in reporting this bug, frankly. However, I thought the labels part of this was interesting as a workaround or perhaps a separate bug and I wasn't sure others would find the specific pattern I was finding and decided to go ahead and report this.

I'll check my yaml for security and scrub i

[2022-05-18 14:07] simonflood commented on #2283
Related to #2158 ?

[2022-05-18 16:26] axsms commented on #2283
[node3.zip] (https://github.com/harvester/harvester/files/8718178/node3.zip)
scrubbed yaml

[2022-05-18 16:33] axsms commented on #2283
@simonflood Looks like that may be related.

[2022-05-18 17:08] jhoelzel opened #2284 "[Question] Since harvester is already based on rke2, should you run a cluster on top or use the existing cluster"
Hey guys,

first of all thank you for harvester it has huge potential and I really enjoy the concept.

The question I have is:

Harvester already runs a cluster for me, so if i want to use it in my baremetal setup, would you advise to run another cluster -on top- of Harvester or to use the provided kubeconfig to work in the already provisioned cluster at hand?

The basic idea is to run cluster and

[2022-05-18 19:46] w13915984028 commented on #1912
@fadjar340 Do you have any updates?

How to set resources of Prometheus is documented at https://docs.harvesterhci.io/v1.0/monitoring/monitoring/ .

BTW: the latest Harvester release fixed the OOM issue, welcome to try it.
https://github.com/harvester/harvester/releases/tag/v1.0.2

[2022-05-19 00:08] PhanLe1010 commented on #2156
@pagong  Can you provide the YAML file for the pod as well as the PVC of the VM?

[2022-05-19 00:24] irishgordo commented on #2096
HI @bk201

I wanted to reach out because I did have some additional questions on the scope.

**Questions:**

- Did we want this to specifically on CI?

- Would a valid smoke-test of the integration between air-gapped Rancher and air-gapped Harvester just be something like: [TestRancherIntegrationWithExternalRancher::test_import_harvester_into_rancher](https://github.com/harvester/tests/blob/main/h

[2022-05-19 00:51] ibrokethecloud commented on #2226
@hrittikhere that is the correct variable to use. 1 will ensure only a single node cluster is launched.

The easiest way to see token/passwords is to browse the contents of the `terraform.tfstate` file

[2022-05-19 02:55] bk201 commented on #2096
@irishgordo Thanks for asking.

Yeah, the intention is to let the Vagrant tests catch problems when there is no Internet because sometimes we saw day-1 deployment issues. To be honest, I didn't consider the scenario of importing the cluster to Rancher when I created the issue. But simply testing the multiple-node deployment in an air-gapped environment.

You are right, the CI only tests if the clu

[2022-05-19 03:36] WuJun2016 opened #2286 "[BUG] The project-owner user will see an additional alert"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**

**Support bundle**

**Environment:**
 - Harvester ISO version:
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630):

**Additional context**
Add any other context about the problem here.

[2022-05-19 03:36] #2286 closed, assigned to nobody

[2022-05-19 03:57] WuJun2016 opened #2288 "[BUG] The project-owner user will see an additional alert"
**Describe the bug**

<img width="765" alt="image" src="https://user-images.githubusercontent.com/24985926/169199139-dc269e99-f2f5-4513-b6f4-b39796b29338.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Importing a harvester cluster in a rancher cluster
2. enter the imported harvester cluster from the `Virtualization Management` page
3. create a new Project  (test), Create a test namesp

[2022-05-19 05:44] hrittikhere commented on #2226
Thanks for the help!
I will take this opportunity to learn more about Terraform 🦄

On Thu, 19 May, 2022, 6:21 am Gaurav Mehta, ***@***.***>
wrote:

[2022-05-19 06:07] fadjar340 commented on #1912
Thanks @w13915984028,

I'll try it, perhaps in the near future.. Still do something else.. BTW, it'w great to get new version..

Regards
Fadjar

[2022-05-19 06:36] tjjh89017 commented on #2084
This should be a motherboard firmware issue.
I will close this ticket because we couldn't fix it.
If you have any issues, feel free to reopen this ticket.
Thanks a lot

[2022-05-19 06:36] #2084 closed, assigned to tjjh89017

[2022-05-19 06:52] WuJun2016 opened #2289 "[BUG] The project-owner user cannot view the assigned namespace"
**Describe the bug**

The project-owner user cannot see the vm resources assigned to it

**To Reproduce**
Steps to reproduce the behavior:
1. Importing a harvester cluster in a rancher cluster
2. access the imported harvester cluster from the `Virtualization Management` page
3. Create a new Project  (test-project-owner),
4. Create a new namespace in the project   (test-project-owner-namespace)
5.

[2022-05-19 07:11] bk201 commented on #1649
@roncterry `install.iso_url` is needed in his situation, could you see if that work for you?

[2022-05-19 08:46] oivindoh commented on #2241
@crazyelectron-io this sounds a bit like the [graphics issue](https://docs.harvesterhci.io/v1.0/install/usb-install/#graphics-issue) I experienced on a similar setup. You might want to give the kernel parameter change here a try. Also note the console=ttyS0 removal under Other issues.

[2022-05-19 09:30] FrankYang0529 commented on #569
This feature has two use cases:
* Cloning a VM on Harvester UI.
![Screen Shot 2022-05-19 at 5 10 48 PM](https://user-images.githubusercontent.com/4927361/169257746-cca86ef9-4c89-40d6-81bb-c3979984f335.png)
* Create a RKE node by cloning a VM like what we can do on vSphere.
![Screen Shot 2022-05-19 at 5 07 24 PM](https://user-images.githubusercontent.com/4927361/169257020-022534be-7c45-4e08-b287-06

[2022-05-19 18:31] csurett commented on #1261
This would be really useful for adding the Dell [iDrac service module](https://www.dell.com/support/manuals/en-us/idrac-service-module/ism_4.2.0.0_ug_pub/silent-installation-of-idrac-service-module-on-linux?guid=guid-5a989423-b3d7-4159-948c-608be2dbee9f&lang=en-us) which installs itself into `/opt/dell`

[2022-05-19 20:29] axsms opened #2290 "[Question] ISO install on single NIC, yet warning against using the mgmt for VLAN use?"
I have two NIC nodes and using ISO to install. If I upload a config, I suppose I could take advantage of the second NIC, but I'm trying to find clear docs on whether that is what I should be doing with an example yaml/config. However, if a second NIC is recommended, shouldn't the default ISO install ask for the configuration details required to use a second NIC?

I am presenting this as a question

[2022-05-19 20:31] emilyastranova commented on #1806
To expand on this, i really like how libvirt does this by default, where each virtual machine is assigned a VNC port. We should at least be given this option. I have plenty of use cases where a virtual machine should have an externally accessible VNC server ready to go on startup. Not everyone accessing my virtual machines should need hypervisor credentials and a web UI.

[2022-05-19 20:33] emilyastranova commented on #2072
I support this, we change the YAML config manually for my production environment so we can provision with cloud-init/cloudbase-init

[2022-05-19 20:34] emilyastranova commented on #2012
Curious on how this differs from integration with a Rancher instance? I'm also looking at hybrid VM/container support and we were just going to add a Rancher server.

[2022-05-19 23:06] BringerOD opened #2291 "[Question] Configuring VM Networking to expose IP address"
I have installed harvester 1.02 on 3 servers OVHCloud.

Hardware
3 x AMD Epyc 7413 256GB Mem 2xNic

I set the VIP to the public nic IP address

Each server has a public nic and has a public IP assigned and is exposed.
The second nic is private connecting all 3 servers via a vlan.

On a vm I create, how do I assign a public IP,  or expose ports publicly?

[2022-05-20 01:56] axsms commented on #1199
This is an important feature for enterprises. Couldn't [open-iscsi](https://github.com/open-iscsi/open-iscsi) be an option? I know it's available for [Rancher installed clusters](https://rancher.com/docs/rancher/v2.6/en/cluster-admin/volumes-and-storage/iscsi-volumes/). Is that Docker only?

[2022-05-20 02:42] WuJun2016 opened #2292 "[BUG] websocket will continue to push resources that have been deleted"
**Describe the bug**
The image object has been deleted, but the websocket will still push the deleted resource to the frontend.

<img width="1667" alt="image" src="https://user-images.githubusercontent.com/24985926/169437105-732ecc6c-c5f3-45f2-a256-64ddd1e03b80.png">

<img width="1642" alt="image" src="https://user-images.githubusercontent.com/24985926/169436952-fd700f5f-6712-4f12-a3de-1482b3486d8

[2022-05-20 03:10] emilyastranova commented on #2280
I am in the same place with my production environment, stuck at 50%, upgraded from v1.0.0 to v1.0.1 a week ago, upgraded to v1.0.2 today. I'm even ok with canceling the upgrade procedure, I just need to make sure this is ready for others to use and for me to continue developing our application that relies on Harvester.
![image](https://user-images.githubusercontent.com/16725119/169442451-396d7f05-

[2022-05-20 04:27] bk201 commented on #2280
Got the support bundle from @tyleraharrison, the user is hitting the issue https://github.com/harvester/harvester/issues/1983

Logs of `hvst-upgrade-xsvn6-apply-manifests` job:
[code]

Bundle state:
[code]

**Updated**

[code]

Suggesting rollback to previous revision with command `helm rollback rancher-monitoring -n cattle-monitoring-system` to get rid of the state and the system services stage p

[2022-05-20 04:32] bk201 commented on #1983
@w13915984028 @weihanglo Do you know any workaround to get rid of this state? I did have luck to rollback the revision on a chart before, not sure if there is a better way.

[2022-05-20 05:32] emilyastranova commented on #2280
Many thanks to @bk201 for helping me out :+1:

[2022-05-20 06:08] FrankYang0529 commented on #553
This issue will focus on this case:
* VM Snapshot on VM page.
![Screen Shot 2022-05-20 at 1 33 03 PM](https://user-images.githubusercontent.com/4927361/169458045-a862897f-fadd-4642-8608-d01e3105b748.png)

### TODO:
* [X] Upgrade LH to v1.3.0. (https://github.com/harvester/harvester/pull/2695)
* [X] Based on [LH CSI Snapshot](https://github.com/longhorn/longhorn/issues/2534#issuecomment-1010508714)

[2022-05-20 06:32] FrankYang0529 commented on #569
This issue will focus on cloning volume on the Harvester dashboard. Users can only change a name of a new VM when they click `Clone` button. If they would like to modify other fields, they can edit VM after a new VM is created. If they would like to edit VM in advance, they can use the template feature in https://github.com/harvester/harvester/issues/571.

~We would like to let backup handle the c

[2022-05-20 06:35] FrankYang0529 commented on #571
One of the use cases for this issue is users can create RKE node by cloning a VM, so I add `area/node-driver` label here. This issue will rely on VM Snapshot feature https://github.com/harvester/harvester/issues/553.

![Screen Shot 2022-05-19 at 5 07 24 PM](https://user-images.githubusercontent.com/4927361/169257020-022534be-7c45-4e08-b287-06411219793e.png)

[2022-05-20 06:42] futuretea opened #2293 "[FEATURE] Support Volume Clone"
**Is your feature request related to a problem? Please describe.**

allow user to clone volume on Volume page

**Describe the solution you'd like**

add action `clone` to pvc

**Describe alternatives you've considered**

**Additional context**

[2022-05-20 06:43] futuretea opened #2294 "[FEATURE] Support Volume Snapshot"
**Is your feature request related to a problem? Please describe.**

allow user to take volume snapshot on Volume page

**Describe the solution you'd like**

add action snapshot to pvc

**Describe alternatives you've considered**

**Additional context**

[2022-05-20 06:44] futuretea commented on #553
@FrankYang0529 create a new issue for  add volume action snapshot: https://github.com/harvester/harvester/issues/2294

[2022-05-20 06:45] futuretea opened #2295 "[FEATURE]"

[2022-05-20 07:02] w13915984028 commented on #1983
@bk201 I found one possible cause, described in https://github.com/harvester/harvester/issues/1983#issuecomment-1076812969 , but not sure if fleet-agent noticed this and has plan to improve it.

[2022-05-20 07:08] futuretea opened #2296 "[FEATURE] VolumeSnapshot Management"
**Is your feature request related to a problem? Please describe.**

1. add a new page named `Snapshot` to show resouces in `/v1/snapshot.storage.k8s.io.volumesnapshots`

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-05-20 07:25] futuretea commented on #1723
link to https://github.com/harvester/harvester/issues/2279

[2022-05-20 07:56] w13915984028 commented on #2284
@jhoelzel thanks for your question, we need to know more details:
How is the current Harvester cluster built, in bare metal servers or like KVM VMs ? how many nodes?  (let's say cluster A)
For you baremetal setup, what is it targeting for ? (let's say potential cluster B), the relationship of A and B.

When A is built on top of baremetal, then add those new nodes in B into A is OK.
When A is built

[2022-05-20 08:21] w13915984028 commented on #1983
The related fleet-agent issue: https://github.com/rancher/fleet/issues/637 , but looks no related fix.

[2022-05-20 08:25] jhoelzel commented on #2284
@w13915984028 first of all thank you for your help!

We have deployed harvester over bare-metal-iso install with 3 nodes and it works nicely in principle.

The question that we have is that if we should add yet another layer of kubernetes onto the existing metal? Since Harvester already provisions a working cluster with Longhorn, Metrics, Kube-VIP and more, we are, apart from ipv6 support, ready t

[2022-05-20 08:49] jhoelzel commented on #934
are there any updates here? Both flannel and k3s now support ipv6 dual-stack which should be perfect for most cases.

[2022-05-20 08:50] bk201 opened #2297 "[FEATURE] collect Fleet logs and YAMLs in support bundles"
**Is your feature request related to a problem? Please describe.**

Fleet controller and agent logs are not included in support bundles.
They are essential to debugging upgrade-related issues.

**Describe the solution you'd like**

Add those logs.

**Describe alternatives you've considered**

**Additional context**

[2022-05-20 08:55] jhoelzel commented on #934
are there any updates here? Both flannel and k3s now support ipv6 dual-stack which should be perfect for most cases.

[2022-05-20 08:59] crazyelectron-io commented on #2241
Thanks @oivindoh for this suggestion!
It turned out to be the `console=ttyS0` parameter that was mentioned at the bottom of the page. The first Harvester node has just been installed...

[2022-05-20 09:38] bk201 opened #2299 "[FEATURE] Add upgrade information panel about versions"
**Is your feature request related to a problem? Please describe.**

The user can select a version from the drop-down list, but there is no further information about the selected version.

<img width="515" alt="upgrade_select_version" src="https://user-images.githubusercontent.com/1691518/169499099-e7428a7e-97cf-4972-a2f1-8314d7ad9bc9.png">

**Describe the solution you'd like**

We can display more

[2022-05-20 09:42] w13915984028 commented on #2231
@mczka could you provid more details:
[code]

[code]

A support-bundle is helpful.
https://docs.harvesterhci.io/v1.0/troubleshooting/harvester/#generate-a-support-bundle

[2022-05-20 09:44] w13915984028 commented on #2230
@johnliu55tw @bk201 any idea? thanks.

[2022-05-20 09:58] w13915984028 commented on #2203
@Abbos92 Any updates after this issue, how did you recover the cluster, and did you test more?

(1) After you reboot one node, then it has 2-master and 1-worker. Is it reproducable? A support-bundle is helpful.
https://docs.harvesterhci.io/v1.0/troubleshooting/harvester/#generate-a-support-bundle.

(2)After you power off another master, I guess you mean the cluster management IP (VIP) was not avai

[2022-05-20 09:59] jrlittlefoot64 commented on #2280
yesterday I tried a fresh installation of version 1.0.1 and then updated to 1.0.2. All works fine, I think the update 1.0.0 to 1.0.1 was buggy. Thanks for your help

[2022-05-20 10:01] bk201 commented on #2230
@mczka @BringerOD Thanks for reporting. What is the original OS distribution on the disk before the installation?

[2022-05-20 10:17] WuJun2016 commented on #2214
request `v3-public/localProviders/local?action=login`，  This will give you the cookies you need.

[2022-05-20 10:21] w13915984028 commented on #2179
@busyboy77 Did you tried further and worked with kind of *.img as per examples in  https://docs.harvesterhci.io/v1.0/rancher/rke2-cluster/#create-rke2-kubernetes-cluster ? thanks.

[2022-05-20 10:24] jrlittlefoot64 commented on #2280
think the zero downtime upgrade and the hints from weihanglo is something for the documentation/Troubleshooting

[2022-05-20 10:34] mczka commented on #2231
Yes, I try connecting to VM, but VM's no booting. (shell>)

see support file:
https://github.com/mczka/vSRX/blob/main/supportbundle_3359d0e2-9f1a-4f64-b2cd-6595976a70f1_2022-05-20T10-22-31Z.zip
and
https://github.com/mczka/vSRX/blob/main/get-vm

[2022-05-20 10:43] mczka commented on #2230
not dependent on any particular version of OS
I have installed centos8, redhat8, proxmox_ve_7/debian and then reinstalling to harvester first attempt always failed.

[2022-05-20 10:48] mczka commented on #2230
see picture from dell console:
https://github.com/mczka/vSRX/blob/main/instaler_failed.png

[2022-05-20 11:29] w13915984028 commented on #2250
@johnliu55tw @bk201 @FrankYang0529 @weihanglo  your idea? thanks.

[2022-05-20 16:12] pagong commented on #2156
@PhanLe1010
I used the Harvester GUI to create the VM. Can you tell me where to look for that YAML file?

[2022-05-20 18:31] irishgordo opened #2300 "[BUG] IP Address Not Populating On "Basics" Section of VM"
**Describe the bug**
The IPv4 Address doesn't populate on the basics section of the VM yet it's the MAC address has received an IPv4 Address

**To Reproduce**
Steps to reproduce the behavior:
1.  Using Ubuntu Server 22.04 Image, upload image
2.  Create a VLAN Network for the VM
3.  Install VM from .iso to a disk that's mounted
4.  Shutdown VM, remove .iso based mount
5.  Power back up VM

**Expect

[2022-05-20 18:36] irishgordo commented on #2300
Oh!
So sorry for the spam!
Realized `qemu-guest-agent` needed to be installed in order for all that information to be filled in.
![had_to_install_qemu_guest_agent](https://user-images.githubusercontent.com/5370752/169591529-1de735f5-bb53-4856-a10f-dc48e5e6c0db.png)

Once `qemu-guest-agent` was installed IPv4 address was populated and everything else :smile:

[2022-05-20 18:36] #2300 closed, assigned to nobody

[2022-05-20 18:38] w13915984028 commented on #2300
@irishgordo  Wonderful!

Is https://github.com/harvester/harvester/issues/2188 also caused by this ?
cc @WuJun2016

[2022-05-20 18:42] w13915984028 commented on #2188
@poldiderjungdrache Could you please check  https://docs.harvesterhci.io/v1.0/vm/create-vm/#installing-the-qemu-guest-agent , thanks.

[2022-05-20 18:49] irishgordo commented on #2300
@w13915984028 - #2188 seems similar - it may be caused by not having `qemu-guest-agent` installed and started via `systemctl` :smile:

[2022-05-21 01:06] hijak opened #2301 "[Question] setting unsafe sysctls"
hi i cannot find where to set extra kubelet args namely the unsafe sysctl option for net ip forwarding

this is so i can use the dhcp server as a router too

[2022-05-21 01:16] PhanLe1010 commented on #2156
Thanks @pagong No worries, we got it from the attached support bundle.

In Harvester, I remember that there is a special volume mode design specially for Havarvester VM which `migratable: "true"`. I am guessing all PVC used by Harvester should use a storageclass that have this parameter.
However, looking at the yaml in the ticket, there is one PVC that is using a regular `longhorn` storageclass th

[2022-05-21 03:09] arbrog commented on #371
@newhuangchuan Harvester uses Ranchers `RKE2` which does not support ARM64 yet. There are a couple of issues open related to ARM64 support: [rke2#817](https://github.com/rancher/rke2/issues/817) (yasker linked this one above as well). Ultimately the main blocker seems to be a go lang issue related to `boringcrypto` not supporting ARM64 ([golang#39760](https://github.com/golang/go/issues/39760)).

[2022-05-21 05:18] #2223 closed, assigned to WuJun2016

[2022-05-21 09:34] xiaofan-linux commented on #2157
Is harvester strongly dependent on pod's such as fleet and monitoring?

[2022-05-21 09:34] xiaofan-linux commented on #2157
Is harvester strongly dependent on pod's such as fleet and monitoring?

[2022-05-21 15:15] hijak commented on #2301
i applied it via psp

[2022-05-21 15:15] #2301 closed, assigned to nobody

[2022-05-21 20:08] w13915984028 commented on #2157
@xiaofan-linux Honestly, it is not easy to explain a complex system in short words.  https://docs.harvesterhci.io/v1.0/ may give you a brief idea of this sytem.

To get a Harvester cluster, please follow the official guide in https://docs.harvesterhci.io/v1.0/install/iso-install/  or
https://docs.harvesterhci.io/v1.0/dev/dev-mode/ .

With un-offical methods, they are not even well designed/develop

[2022-05-21 20:10] w13915984028 commented on #2267
@guangbochen @bk201 any idea? thanks.

[2022-05-21 20:12] w13915984028 commented on #2200
@WuJun2016 your idea? thanks.

[2022-05-21 20:15] w13915984028 commented on #2189
@FrankYang0529 your idea? thanks.

[2022-05-21 20:24] w13915984028 commented on #2250
BTW, connect with https://github.com/harvester/harvester/issues/2189#issuecomment-1108680734 ,
as it said

[code]

[2022-05-21 21:04] poldiderjungdrache commented on #2188
Sorry I remove these VMs already. However I have just deployed some VMs via Rancher and with those the IP shows up and qemu-guest-agent is set correctly in cloud.init.
I have also updated to 1.0.2 in the meantime. Looks like the issue is fixed.

Simon
On 20. May 2022, 20:43 +0200, Jian Wang ***@***.***>, wrote:

[2022-05-21 22:49] #2241 closed, assigned to nobody

[2022-05-23 01:07] unnamedjk opened #2302 "[Feature] Enabling and Tuning KSM"
I have been going through the OS vonfig and noticed the KSM is not enabled as well as any configurations for zswap.

Is there a branch or FR for including these configurations as part of the harvester deployment?

KSM has been a long standing industry standard for improving density in HCI deployments with VMware.

[2022-05-23 02:53] bk201 commented on #2230
The new partition tables can't reflect due to LVs on the original OS are activated.
Here is the step to repro: (Either with Harvester v1.0.2 ISO or `cOS-Seed-green-0.8.10-gc981c45e-x86_64.iso`):
- Install Centos8, I chose DVD ISO but I guess the key is using LVs.
- Reboot with Harvester ISO, run the installer or elemental command manually:
[code]

If we tear down the LVs, the installation goes fin

[2022-05-23 02:57] bk201 commented on #2230
@mczka  @BringerOD Could you help confirm if the previous OS uses the LVM scheme? Thanks.

[2022-05-23 03:54] bk201 commented on #1460
Move the issue to v1.2.0, users need to delete the LB services manually for now.
We can revisit this later to see if there is a better approach we can do it automatically.

[2022-05-23 04:08] bk201 commented on #1876
We also need to consider we will migrate to SLE micro for Rancher.

[2022-05-23 04:13] tjjh89017 commented on #1876
This issue probably related to the fix https://github.com/systemd/systemd/commit/aebff2e7ce209fc2d75b894a3ae8b80f6f36ec11

[2022-05-23 04:57] BringerOD commented on #2230
@bk201, I had Ubuntu Server 22.04 LTS, installed prior to installing harvester.

What is interesting, is once I did get harvester installed, I was only able to add 3 of the 4 drives to node.  My guess is there is still an issue with the way I have the drives configured.

Any idea how to reset or reconfigure the drives.

[2022-05-23 06:11] tjjh89017 commented on #1705
Note: https://groups.google.com/g/kubevirt-dev/c/fiVJeNgiAIk

[2022-05-23 08:13] olivpass opened #2304 "[BUG] VirtualMachine stuck after creation at Starting"
**Describe the bug**
on our three node harvester cluster we get one node with ram problem. To fast fix this we removed one memory bar (harvester31, 32G). After this, it is not possible to create virtual machines any more. See this log line:

virt-controller-6c76d8659-bnc9k_harvester-system_virt-controller-7f1612d2bb86d93f1da013fb441850be6ec682d81a07071ce778d1173cec8232.log:2022-05-20T09:51:02.4628

[2022-05-23 08:45] janeczku opened #2305 "[FEATURE] Support CPU Pinning"
Certain VM workloads, requiring a predictable latency and enhanced performance during its execution would benefit from obtaining dedicated CPU resources. KubeVirt, relying on the Kubernetes CPU manager, is able to pin guest's vCPUs to the host's pCPUs.
Harvester should expose this functionality to the user.

Ref: https://kubevirt.io/user-guide/virtual_machines/dedicated_cpu_resources/

[2022-05-23 08:45] WuJun2016 commented on #2150
Hi， @w13915984028  I solved part of the problem by fixing the frontend, which tries to reload the chart when it fails to load.  （Reload time is about 30-60 seconds）

There is no way to consistently reproduce the causes of this problem.  I found that the frontend charts failed to load because the requests sent all failed and did not return any http status codes or error messages.

a similar situati

[2022-05-23 08:55] meysholdt commented on #2027
That worked. Thank you!

[2022-05-23 09:11] try2codesecure opened #2306 "[BUG] upgrade from v1.0.1 to v1.0.2 stucks on an 2 node cluster"
**Describe the bug**
I can't upgrade an 2 node v1.0.1 cluster to v1.0.2.
All VM's are stopped.
Furthermore it is not possible to add an 3rd node to the Cluster in this state.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the harvester dashboard
2. Start the upgrade
3. Upgrade stucks on node upgrade

**Expected behavior**
The upgrade to v1.0.2 finished successfully.

**Support bundle*

[2022-05-23 09:24] try2codesecure commented on #2306
The logs of the pod "virt-launcher-upgrade-repo-hvst-upgrade-5msck-d4tpr" shows multiple tainted entries
[code]

[2022-05-23 09:32] try2codesecure commented on #2306
Logs of "hvst-upgrade-5msck-apply-manifests-gr7hf" seems fine.
[hvst-upgrade-5msck-apply-manifests-gr7hf.log](https://github.com/harvester/harvester/files/8753324/hvst-upgrade-5msck-apply-manifests-gr7hf.log)

[2022-05-23 09:36] try2codesecure commented on #2306
Output of "kubectl get upgrade.harvesterhci.io -n harvester-system -oyaml"
[code]

[2022-05-23 10:20] w13915984028 commented on #1942
connect with https://github.com/harvester/harvester/issues/2322

[2022-05-23 10:21] w13915984028 commented on #1941
connect with https://github.com/harvester/harvester/issues/2236

[2022-05-23 10:38] bk201 commented on #2008
Two scenarios need to be tested:
- Test the RKE2 upgrade and drain hooks (With version changes)
- Test the RKE2 upgrade and drain hooks (Without version changes)

### Test the RKE2 upgrade and drain hooks (With version changes)

- Provision a RKE2 cluster with Rancher first
- Start an upgrade by editing the cluster

[code]

    Update the spec fields from the following

[code]

    to:

[code]

-

[2022-05-23 12:57] mczka commented on #2230
centos8 and rhel8 by default is used LVM
debian/proxmox as well:
root@1-r6515:~# lsblk
NAME                         MAJ:MIN RM   SIZE RO TYPE MOUNTPOINT
sda                            8:0    0   1.1T  0 disk
├─sda1                         8:1    0  1007K  0 part
├─sda2                         8:2    0   512M  0 part /boot/efi
└─sda3                         8:3    0   1.1T  0 part
  ├─pve-swap

[2022-05-23 23:37] voarsh2 commented on #1919
I'm still getting this error when I download from master branch....

[2022-05-24 00:23] bk201 commented on #1820
Perhaps it's similar to https://github.com/harvester/harvester/issues/2147

[2022-05-24 00:42] bk201 commented on #2306
@try2codesecure It's hard to tell without more info, could you provide the support bundle on Slack? Thanks.

[2022-05-24 00:58] rebeccazzzz opened #2307 "[Task] Migrate Harvester documents to Docsaurus"
As part of the effort to use Docsaurus for documentation, we want to migrate Harvester documents from the legacy framework to Docsaurus.

[2022-05-24 02:00] ibrokethecloud commented on #577
Possible solution:

**Base Components:**
* Deploy ManagedChart for rancher logging
* Deploy a default `ClusterFlow` to aggregate/filter logs from the cluster.
* Allow a `ClusterOutput` to be configured via Settings to control the details of the log aggregation endpoint.

**Additional Features:**
* Deploy a managed chart for Loki.
* Configure additional datasources in Prometheus to point to Loki.
*

[2022-05-24 03:01] guangbochen commented on #2307
some related discussion on https://github.com/harvester/docs/pull/148, also the Docsaurus code repo is on https://github.com/harvester/harvesterhci.io.

[2022-05-24 03:15] bk201 commented on #1860
When a new node is going to join a cluster, the first interaction is `rancherd` ask Rancher for rancher-system-agent provision script: https://github.com/rancher/rancherd/blob/7e9f0fe5a3fc65d1ed07744e08d831296b79fff1/pkg/plan/bootstrap.go#L52-L57

Currently, these two parties don't have any knowledge about Harvester version.

[2022-05-24 03:28] guangbochen commented on #1820
Close as this is duplicate with https://github.com/harvester/harvester/issues/2147, feel free to reopen it if u have different concerns, thanks.

[2022-05-24 03:28] #1820 closed, assigned to nobody

[2022-05-24 04:32] divya-mohan0209 commented on #2307
Thank you @rebeccazzzz for the tag. I shall be checking with @nunix and commencing work on this shortly!

[2022-05-24 06:13] bk201 commented on #2306
Keep seeing this in Rancher log:
[code]

perhaps worth trying:
[code]

[2022-05-24 06:17] weihanglo commented on #1831
We could use something like [workqueue](https://pkg.go.dev/k8s.io/client-go/util/workqueue) for this feature. Just beware of race conditions of updatings blockdevice CR. At this moment, we should do our best to consolidate all blockdevice updating logic within [`OnBlockDeviceChange`](https://github.com/harvester/node-disk-manager/blob/85c6bae556866724748c24c90716f65a7052b588/pkg/controller/blockde

[2022-05-24 07:38] w13915984028 commented on #2304
@olivpass Could you please add a support-bundle, thanks.
https://docs.harvesterhci.io/v1.0/troubleshooting/harvester/#generate-a-support-bundle

[2022-05-24 07:54] weihanglo commented on #1860
If possible, maybe we can have an additional service join-responder, which is similar to [Longhorn's upgrade-responder](https://github.com/longhorn/upgrade-responder).

1. User set `join-responder-url` in the server configuration of RKE2 of the first node in the cluster
1. User set metadata in configuration of RKE2 of the new node.
1. When joining to a cluster, rancher send request to `join-respon

[2022-05-24 08:32] olivpass commented on #2304
[supportbundle_03d34ca9-964f-4894-90d6-d29947b3de3d_2022-05-23T07-00-27Z.zip](https://github.com/harvester/harvester/files/8760912/supportbundle_03d34ca9-964f-4894-90d6-d29947b3de3d_2022-05-23T07-00-27Z.zip)
[supportbundle_03d34ca9-964f-4894-90d6-d29947b3de3d_2022-05-23T07-00-27Z.logs.zip](https://github.com/harvester/harvester/files/8760921/supportbundle_03d34ca9-964f-4894-90d6-d29947b3de3d_2022-

[2022-05-24 08:40] guangbochen commented on #2257
close this issue as it is duplicated with https://github.com/harvester/harvester/issues/1390.

[2022-05-24 08:40] #2257 closed, assigned to tjjh89017

[2022-05-24 08:52] try2codesecure opened #2308 "[BUG] node is unable to join cluster"
**Describe the bug**
a 3rd node can't join an existing 2-node cluster

**To Reproduce**
Steps to reproduce the behavior:
1. Install harvester with ISO
2. Follow the installation precedure
3. After installation the joining node reboots but never becomes "ready"

**Expected behavior**
Node is joined into existing cluster

**Support bundle**
will be provided via slack

**Environment**
 - Harvester IS

[2022-05-24 08:53] try2codesecure commented on #2308
The bootstrap is finished:
[code]

[2022-05-24 08:54] try2codesecure commented on #2308
as troubleshoot i tried to force an bootstrap again:
[code]

[2022-05-24 08:55] try2codesecure commented on #2308
[code]

[2022-05-24 08:56] try2codesecure commented on #2308
Rancher system agent show some errors:
[code]

[2022-05-24 08:56] WuJun2016 opened #2309 "[BUG] cluster member can create namespace, but has no access to view it after creation"
**Describe the bug**

cluster member can create namespace, but has no access to view it after creation，

**To Reproduce**
Steps to reproduce the behavior:
1. create a user, choose `Standard User`
2. assign a harvester cluster to the new user and select cluster member
![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/2e9a1179-b02d-40a1-9f72-78d06a1436e4)
3. login with this

[2022-05-24 09:00] try2codesecure commented on #2308
[code]

[2022-05-24 09:01] try2codesecure commented on #2308
[code]

[2022-05-24 09:03] try2codesecure commented on #2308
[code]

[2022-05-24 09:05] try2codesecure commented on #2308
dmesg
[dmesg.log](https://github.com/harvester/harvester/files/8761174/dmesg.log)

[2022-05-24 09:06] WuJun2016 opened #2310 "[BUG] Cluster member and cluster owner see inconsistent statistics"
**Describe the bug**

cluster owner:
![image](https://user-images.githubusercontent.com/24985926/169994337-00ed7ab8-4acf-41bd-8930-2d32347efb48.png)
![image](https://user-images.githubusercontent.com/24985926/169994374-c49e8999-5cda-4833-89de-9df498023897.png)

cluster member:
<img width="1674" alt="image" src="https://user-images.githubusercontent.com/24985926/169994497-4f3efca5-f067-496f-87a4-e5

[2022-05-24 09:07] try2codesecure commented on #2308
[code]

[2022-05-24 09:16] rodrigo14miguel commented on #1877
Hi!
To access a service externally from kubernetes you have to set it to type "loadbalancer" if you are using a cloud provider (so it gets assigned an external IP) or "nodeport" if you are using baremetal (so it gets assigned the same port on all physical k8s nodes).
In baremetal, when you use "nodeport", the services ports will be translated into another random ports from specific range on all fi

[2022-05-24 09:37] weihanglo commented on #1851
I wonder how to determine if an image is really a duplicate. What if the version we consider as duplicate is required for that exact version?

[2022-05-24 09:57] guangbochen commented on #1705
Move this issue to future planning since it is a rare-reproduce case. additionally, the PR https://github.com/harvester/harvester/pull/2168 has also mitigated this issue.

[2022-05-24 10:04] bk201 commented on #2306
The cluster is stuck waiting for uncordoning a machine:
[code]

But nodes looks good
[code]

Machines, the user try to join new node but apparently it's not provisioned.
[code]

The Rancher version: `v2.6.4-harvester3`

[2022-05-24 10:06] bk201 commented on #2308
The cluster is still being provisioned due to the previous upgrade, so the new node can't join.

[2022-05-24 10:10] WuJun2016 commented on #1986
filter the options for `harvester public` in the namespace drop-down box on the resource creation page.

[2022-05-24 10:45] try2codesecure commented on #2306
I erased the orphaned nodes from the configs with the explorer
(https://$HARVESTER-IP/dashboard/c/local/explorer/rke.cattle.io.custommachine
https://$HARVESTER-IP/dashboard/c/local/explorer/cluster.x-k8s.io.machine)

[code]
But the first node still waits for uncordon to finish:

![Bildschirmfoto_2022-05-24_12-30-19](https://user-images.githubusercontent.com/4202158/170016839-b8b2c64d-e6a8-4e86-ae3

[2022-05-24 12:08] janeczku opened #2311 "[FEATURE] Auto Live Migration (Rebalancing VM workloads)"
**Is your feature request related to a problem? Please describe.**
TODO

[2022-05-24 12:45] janeczku opened #2312 "[FEATURE] Improve logs and error messaging for RKE2 VM provisioning"
**Is your feature request related to a problem? Please describe.**
TODO

[2022-05-24 13:22] simonflood opened #2629 "Lower network not labelled in Harvester architecture diagram"
Ref https://docs.harvesterhci.io/v1.0/#harvester-architecture

Whilst the diagram shows three networks at the top, all labelled, connecting to VMs, there appears to be a separate network at the bottom connecting to the Harvester nodes which is not labelled but is the same colour as Management Network at the top. This could cause confusion - if it's the same network then it should be one line and n

[2022-05-24 14:21] try2codesecure commented on #2306
a rollout of
[code]
remained unsuccessfully

[2022-05-24 14:23] try2codesecure commented on #2306
![grafik](https://user-images.githubusercontent.com/4202158/170058891-65ed4c54-2f41-4966-bb3b-be2e446c499d.png)
I also tried to modify the cluster config manually, but the configs didn't persist & get reset every time

[2022-05-24 15:57] joshmeranda commented on #1919
Looks like we never updated the harvester dependency, I put up a PR that will fix this.

[2022-05-24 16:58] #1971 closed, assigned to nobody

[2022-05-24 22:15] thowd22 commented on #2245
Im seeing the same issue. I cant even start a VM because my cpu is running 3000-7000 percent over provisioned. This is a brand new install.

[2022-05-25 02:15] unnamedjk commented on #2311
There is a decent script i have used with Proxmox, its similar to the weight system that VMware DRS uses.
https://github.com/kcl-nmssys/python-proxmoxbalancer/blob/master/proxmoxbalancer/proxmoxbalancer.py

[2022-05-25 09:03] newhuangchuan commented on #2209
hello , At present , after we added this configuration to version 1.0.0, the nfs configuration still has the problem of permissioni denial.

After this configuration is added to version 1.0.2, it can be added, but after we backup the virtual machine, the `Error` is displayed directly.
![image](https://user-images.githubusercontent.com/53457306/170224667-68f92776-9bfc-4d39-9132-5e9ec108f4f4.png)

!

[2022-05-25 09:25] guangbochen commented on #2176
this issue seems duplicate with https://github.com/harvester/harvester/issues/2175? cc @FrankYang0529

[2022-05-25 09:41] FrankYang0529 commented on #2176
I think it's different. #2175 is about CA cannot be applied to the host. This issue is about setting a private registry for Harvester cluster. For example, users may use a Rancher to manage multiple Harvester clusters, but the private registry for each Harvester cluster may be different.

[2022-05-25 09:57] w13915984028 commented on #2282
Under investigation.
[code]

Option B also patially improve #2013

[2022-05-25 13:11] guangbochen commented on #2176
Got it thanks, then we will need a setting to allow users to config a private registry and upload a custom CA cert of the Harvester cluster.

[2022-05-25 19:36] rodrigo14miguel commented on #2215
I have a similar setup (with only one NIC) and what I did was configure my VLAN trunk with a native VLAN on the upstream switch so the management network wont need VLAN ID taging. You can then use the same management NIC for the VLAN network after finishing the installation.
@koyasuri  Hope it helps with your setup.

[2022-05-25 20:41] rodrigo14miguel commented on #2024
Hi.
I think master and nodes are referred to master nodes and worker nodes for kubernetes.
@wonleing I have made a new 3 node installation from version 1.0.2 to test this and here is what happend:

- the first node to come up is promoted to master node.
- when you add a second node to the cluster (like @tlehman says), the second node is assigned a compute role (worker node)
- when you add a 3rd no

[2022-05-25 20:59] rodrigo14miguel commented on #2290
Hi @axsgitty
from the documentation and what I encountered in my lab on version 1.0.2, when installing from ISO, you configure the management network only.
After the installation is complete you can access the management UI and then assign your second NIC as the VLAN network interface (in advanced->settings->vlan in the left menu of the UI).
Having your VLAN network interface assigned, you can the

[2022-05-25 23:34] yasker commented on #888
Hi, we don't have a plan to support Ceph in Harvester. It doesn't fit in the stack SUSE/Rancher can provide.

On the other hand, features like S3 support are coming to Longhorn. See https://github.com/longhorn/longhorn/wiki/Roadmap#longhorn-v14 for details.

[2022-05-25 23:34] #888 closed, assigned to nobody

[2022-05-26 07:24] guangbochen opened #2315 "[FEATURE] Bump Harvester gomod dependency and k8s version to v1.23.x"
**Is your feature request related to a problem? Please describe.**
Need to bump the Harvester dependency libraries, golang to v1.17, and k8s version to v1.23.x respectively.

**Describe the solution you'd like**
- [x] Rancher go dependency to v2.6.7 or above https://github.com/harvester/harvester/pull/2373
- [x] Longhorn to v1.3.1 https://github.com/harvester/harvester/pull/2695
- [x] KubeVirt dep

[2022-05-26 08:09] FrankYang0529 commented on #1374
I can reproduce this issue and get VM YAML as following:
1. Create a new VM `vm-original`. We have content in `harvesterhci.io/volumeClaimTemplates`.
[code]
2. Delete `vm-original` but keep the root disk. Create a new VM `vm-with-root-disk`. This time, we don't have content in `harvesterhci.io/volumeClaimTemplates`.
[code]
3. Try to create a new VM `vm-clone` by cloning VM `vm-with-root-disk`. Web

[2022-05-26 08:31] bk201 commented on #1444
@tjjh89017 Any concern if we enable this feature? Thanks.

[2022-05-26 08:50] tjjh89017 commented on #1444
It will rely on users' correct configuration of DHCP server.
if users have a correct DHCP server, there is not a problem for this feature.

[2022-05-26 12:43] rodrigo14miguel commented on #2291
Hi @BringerOD
You can assign a network interface to your VM that bridges to the host management NIC (your public NIC). This VM's traffic will go out though your physical host management interface (public NIC).

Hope to have helped!

[2022-05-26 14:22] BringerOD commented on #2291
@rodrigo14miguel,  thanks.  I should have mentioned that I can create VM's that do get out to the internet,  but what I cannot do is forward a port to that vm.

Say I want to host a website on the VM.

[2022-05-26 14:53] rodrigo14miguel commented on #2291
When you say public network and private network (and regarding cloud providers), I assume you are talking about network egress accessibility to the internet, as private network cannot access the internet. Please correct me if this is not your case.
Note: I use egress as outgoing connections and ingress as incoming connections. If I make a request to the VM, to the VM this is ingress. If the VM mak

[2022-05-26 17:06] janeczku opened #2316 "[FEATURE] Guest cluster nodes distributed across failure domains"
**Problem:**
The VMs of guest clusters provisioned with the Harvester node driver may end up being scheduled to a single physical server. This is against the Kubernetes best practice to distribute cluster nodes across multiple failure domains to improve system availability.

**Solution:**

When provisioning guest clusters on Harvester, the user can specify for each machine pool a list of topology

[2022-05-26 17:16] janeczku opened #2317 "[FEATURE] Support advanced scheduling of VMs with affinity rules(Harvester & RKE2 only)"
**Is your feature request related to a problem? Please describe.**

Advanced scheduling is necessary so that users may:

- configure workloads for improved availability, e.g. by running instances in in multiple zone
- ensure that workloads are scheduled to specific hardware flavors

 **Describe the solution you'd like**

Users can define advanced scheduling rules for individual VMs and guest clust

[2022-05-26 17:57] BringerOD commented on #2291
@rodrigo14miguel thanks again for the help.

3x Host with 2x network cards.  Each host has a nic with a public ip address assigned and 1 nic that is in a VLAN.

When I configured harvester, I chose the public network card and the public IP address that network was assigned by the cloud provider (OVH) as the VIP for each host, and then joined the other two host.  I think after further thought, I sh

[2022-05-26 18:32] rodrigo14miguel commented on #2291
@BringerOD thats odd. That IP is strange. I was expecting bridge to work with the management interface IP range... at least thats what makes sense from bridge concept. Yet it is a kubernetes cluster after all.

I have seen somewhere that management network is normally used to have management network access but the bridge concept should have worked anyway, spatially when single NIC deployment is a

[2022-05-26 19:26] BringerOD commented on #2291
@rodrigo14miguel again, thanks for your attention on this.  I am just really stuck on how to proceed.  I am ok with networking, not an expert, and trying to get this up and running has been challenging.  Here is a support bundle

https://www.dropbox.com/s/fv5ddyfs9koym6q/supportbundle_bba4fe6c-1669-4256-a730-b737e3ecd538_2022-05-26T19-22-08Z.zip?dl=0

If that helps.

[2022-05-26 22:36] yasker opened #2318 "[FEATURE] Visibility into bare metal node hardware / hardware error detection"
**Is your feature request related to a problem? Please describe.**
Running on the bare metal, it's necessary to know the hardware condition. Hardware like disks might fail and require replacement. It's necessary to see the hardware condition directly in the Harvester UI.

**Describe the solution you'd like**
Detect and show node hardware condition in the Harvester UI.

**Describe alternatives you'

[2022-05-26 22:38] rebeccazzzz opened #2319 "[FEATURE] Image filtering by labels"
**Request description:**

When an image is created in Harvester, labels can be attached to it. However these labels are nowhere to be seen.

We'd like to use labels to filter images for a better image management. Also it would help to have such label accessible during VM creation process or in a template.

Goal is to mark some images as "latest" or "prod" instead of scrolling through a long drop-d

[2022-05-26 23:46] ibrokethecloud commented on #1640
I had a quick chat with @aeppsSUSE.

The node install password is already different from the harvester admin password for the cluster.

The ask seems to be more about ability to do fine grained RBAC for harvester workloads, which can be done via Rancher virtualization-management integration.

This documented here: https://docs.harvesterhci.io/v1.0/rancher/virtualization-management/#multi-tenancy

[2022-05-26 23:56] irishgordo commented on #2096
@bk201 thanks for a bit more insight surrounding this!

I think this breaks down into a few separate pieces:
1. I'm thinking we'd want to modify the CI Groovy so that it can support the additional ipxe-examples/vagrant-pxe-harvester repository edits.  I started to scaffold what perhaps the CI Pipeline might need to morph to (this is still a work-in-progress and has just been for testing/validation

[2022-05-27 01:43] #1859 closed, assigned to johnliu55tw

[2022-05-27 02:29] bk201 commented on #1649
@roncterry We'll close this issue, please let us know if specifying `install.iso_url` doesn't work for you.

[2022-05-27 02:29] #1649 closed, assigned to johnliu55tw

[2022-05-27 06:42] weihanglo commented on #578
Some thoughts from my personal note:

---

### Questions to ask when implementing auditing

- Who performed an activity
- What activity was performed
- How the system responded.

### Topics to discuss

- Policy:
    - What should be audited.
    - How much do we audit.
- Log backend/Log routing:
    - To Where events should be written
    - External storage, e.g. AWS Nightwatch, Google cloud loggi

[2022-05-27 07:19] guangbochen opened #2322 "[FEATURE] Support VXLAN network"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
Add VXLAN network with adding the following advanced features:
- Support network policies for micro-segmentation of workloads #2260
- Support multiple VXLANs with separated physical NICs.
- Support VM live migration and persistent IP address.
- Integrate with kube-vip to provide load balancer s

[2022-05-27 08:29] janeczku opened #2323 "[FEATURE] Distribute disk volume replicas across zones"
Harvester should support setting soft and hard anti-affinity to distribute disk volume replicas across zones defined with the well-known node label `topology.kubernetes.io/zone`

https://longhorn.io/docs/1.2.4/references/settings/#replica-zone-level-soft-anti-affinity

[2022-05-27 09:39] guangbochen opened #2324 "[FEATURE] Add Harvester backport issue bot"
**Is your feature request related to a problem? Please describe.**
Add Harvester bot to auto crate backport issues based on the backport label.

**Describe the solution you'd like**
- Title: [Backport v1.x] copy-the-title.
- Description: backport the issue #link-id
- Copy assignees and all labels except the `backport-needed` and add the `not-require/test-plan` label.
- Move the issue to the associ

[2022-05-27 09:50] bk201 commented on #2280
Need to add the [informative comment](https://github.com/harvester/harvester/issues/2280#issuecomment-1128672751) from @weihanglo to the doc.

[2022-05-27 10:02] bk201 commented on #2096
@irishgordo Thanks for the nice write-up and anlaysis.

If it's too complicated, we can improve gradually. Feel free close this issue with some enhancements first and use follow up issues later. No need to be 100% perfect at the beginning.

 If including all tests in a PR is too heavy, then the way to trigger tests with comments like `/run-test-harvester-airgapped-with-rancher-airgapped` is great.

[2022-05-27 10:22] janeczku opened #2325 "[FEATURE] Harvester control plane should spread across failure domains"
**Is your feature request related to a problem? Please describe.**
Currently, Harvester assigns node roles based on the order in which nodes are added to the cluster.

Source: https://docs.harvesterhci.io/v1.0/host/host/

This approach fails to ensure that the cluster control plane is spread across infrastructure failure domains, such as racks, network fabric, server rooms etc.

**Describe the sol

[2022-05-29 03:19] doug62 commented on #577
Heck - I can't even find the logs in var/log - Having several issues but can't see logs, or install utilities like tcpdump.

[2022-05-29 10:45] poldiderjungdrache opened #2327 "[FEATURE] update of underlying kernel or 5.3.18 kernel is a bit old"
**Is your feature request related to a problem? Please describe.**

Had some stability issues with my Intel i219-LM. It would constantly disconnect and reconnect. As my research showed (for instance http://rglinuxtech.com/?p=2632) this is due to a bug in the intel 3.2.6-k driver that is part of the kernel underpinning harvester 5.3.18.

lshw output:

  *-network:1
       description: Ethernet inte

[2022-05-30 07:57] olivpass commented on #2304
Hi,

we found the modified object, it was the opensuse153 image. After delete and new create it was possible to create the VM.

The question is now, why is the opensuse153 image object changed.

thanks

Oliver

[2022-05-30 08:46] WuJun2016 opened #2329 "[FEATURE] replace configmap with secret to save the cloud-config template"
**Is your feature request related to a problem? Please describe.**

Now we are using configmap to save the cloud-config template, but when creating the vm we are using secret to save the userData information, in order to request one less interface, we should use secret to save the data uniformly

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional contex

[2022-05-30 09:42] newhuangchuan commented on #2209
![image](https://user-images.githubusercontent.com/53457306/170964487-e6d2569d-9a16-478e-9452-25dc73793705.png)
After I rolled back the version to 0.2.0, when I used the backup, there was no Error state, and it was always in the Progressing state. Please backup this piece, when there is a similar related progress bar function, or nfs needs to use other settings
My nfs settings:
[code]

[2022-05-30 14:33] rodrigo14miguel commented on #2291
Hi @BringerOD
I have deployed a single node Harvester 1.0.2 with 2 NICs to test this out:
- NIC 1 for MGMT network
- NIC 2 for VLAN trunk

So here follows my findings:
- assigning MGMT network to VM interface as bridge -> since the MGMT interface is bonded, Harvester creates an internal bridge network with an internal IP. This your VM getting an IP of 10.52.2.x. This option wont solve your issue s

[2022-05-30 15:17] try2codesecure commented on #2306
Maybe this is also related to #2088. I also see on mcc-harvester bundle the deployment error:
[code]

[2022-05-30 16:26] axsms opened #2330 "[FEATURE] Auto-detect and allow static configuration of NICs for MGMT and VIP with ISO install"
**Is your feature request related to a problem? Please describe.**
NIC configuration at remote hosting providers can be a challenge when neither VLAN or DHCP is available.

**Describe the solution you'd like**
Allowing static IP configuration of both MGMT and VIP at initial setup during ISO installations and autodetect Up status for connected devices, even if DHCP not available.

**Describe altern

[2022-05-30 16:40] try2codesecure commented on #2308
Is it possible to override this behavior manually and "forcefully" add an node to the cluster?

[2022-05-30 18:10] alejandroed commented on #2322
It would be great to be able to use bgp unnumbered to do routing on the host and support full L3 fabrics, bonds are things of the past

[2022-05-30 23:42] gregwbrooks opened #2331 "[BUG] New install displays Rancher (rather than Harvester) login screen"
**Describe the bug**
New install of Harvester 1.0.2 via Github Releases ISO shows "Welcome to Rancher" login screen once the installation is complete. I am unclear on whether this is merely a typo (other installations did not have this issue) or something deeper. A possibly related issue: Inability to find/input bootstrap password so the initial admin password can be created.

**To Reproduce**
Ste

[2022-05-31 01:49] guangbochen commented on #2329
Will need to consider the upgrade path if the resource type is changed.

[2022-05-31 01:56] FrankYang0529 opened #2332 "[Backport v1.0] Harvester fails to pull Rancher agent image from private registry"
This is a backport issue for https://github.com/harvester/harvester/issues/2175.

[2022-05-31 02:18] weihanglo commented on #2267
In order to upgrade to Golang 1.17+, there are some dependencies need to bump version as well

- [ ] rancher dependency to v2.6.5+
- [ ] Longhorn to v1.3+
- [ ] KubeVirt to v0.50+
- [ ] Kubernetes to v1.23+

Tracked under https://github.com/harvester/harvester/issues/2315

[2022-05-31 08:48] alexdepalex opened #2336 "[BUG] coredns autoscaler keeps being oom-killed"
**Describe the bug**
`rke2-coredns-rke2-coredns-autoscaler` keeps running out of its memory limits and therefore gets killed.

**To Reproduce**
Steps to reproduce the behavior:
1. Install a Harvester cluster.
2. Wait.

**Expected behavior**
Autoscaler shouldn't get killed.

**Support bundle**

**Environment**
 - Harvester ISO version: v1.0.1
 - Underlying Infrastructure: R740xd (2x 20 core Intel(R

[2022-05-31 09:05] alexdepalex commented on #2336
Still need to add some info.

[2022-05-31 09:34] guangbochen commented on #2336
Would be helpful if u can share the support bundle to harvester-support-bundle@suse.com with the correct issue ID with more detailed system & container logs, thanks.

[2022-05-31 12:04] victorhooi commented on #2277
Is there a particular reason that it's not possible to run user containers directly on Harvester?

As in, why do you need to deploy another Rancher cluster, inside of Harvester, just to run containers? I assume that would introduce overheads, as well as additional operational complexity.

[code]

Also - there seems to be slightly confusing messaging from Harvester itself around this as well - e.g.

[2022-05-31 17:24] eshenayo commented on #1757
An alternative approach is to write a file that is executed. I am testing, cannot say whether this works fully, but it does not throw any syntax errors, I plan to remove the OS specific guest agent install favor of the [packages](https://cloudinit.readthedocs.io/en/latest/topics/examples.html#install-arbitrary-packages) construct :

[code]

[2022-05-31 22:40] eshenayo opened #2341 "[FEATURE] Integrate with IP address management system(s)"
**Is your feature request related to a problem? Please describe.**
When adding a static IP to a VM, there is (seemingly) no automated way to do this.

**Describe the solution you'd like**
Provide an option to integrate with [Mice and Men](https://docs.menandmice.com/en/9.3/) - or some other IP address management system to enable credentialed queries for retrieving a free IP addresses in a range th

[2022-06-01 01:24] DacoDev commented on #2331
Ran into this as well, wasn't able to get past the Bootstrap Password requirement so I re-installed and it landed on the correct login screen just requiring the new password. Didn't change anything between installs at all.

[2022-06-01 03:13] eshenayo opened #2342 "[BUG] Instance metadata variables are not expanded"
**Describe the bug**
Cloud config templates do not expand [metadata variables](https://cloudinit.readthedocs.io/en/latest/topics/instancedata.html)

In the VM, the instance-data.json file has the ds.meta_data.local-hostname variable
![image](https://user-images.githubusercontent.com/8902109/171301667-f3ca6040-704b-4349-82a2-21fa24ccb738.png)

When used in the cloud-init file [as documented](https:

[2022-06-01 08:29] w13915984028 opened #2343 "[FEATURE] VxLan HEP user stories"
**Is your feature request related to a problem? Please describe.**

Add user stories for VxLan feature  (epic: https://github.com/harvester/harvester/issues/2322)

**Describe the solution you'd like**

Well define the user stories.

**Describe alternatives you've considered**

**Additional context**

[2022-06-01 09:36] n313893254 commented on #2310
Notice that the rancher cluster shows statistics using `status.requested` of the crd `management.cattle.io.cluster`. Which API endpoint is `/v1/management.cattle.io.clusters/[CLUSTER_ID]`

But for the Harvester cluster, the `status.requested` is zero, Cloud we return the CPU and memory data as the Rancher cluster like?

![image.png](https://images.zenhubusercontent.com/59db4297b0222d5de47ad632/0f9

[2022-06-01 12:13] jrlittlefoot64 opened #2344 "[Question] Try to install OpenSuse Micro OS"
I tried to install Open SuSe Micro OS current. My system is 8 Core Intel CPU with 32 GB Ram and I use kvm.

Harvester: 2 hosts with 8 cores, 16GB Ram and 200 GB storage each.
When I tried to install the Micro OS with 1 Core, 4 GB ram and 20 GB Storage I got this error

![grafik](https://user-images.githubusercontent.com/85644625/171401164-6ff76544-3308-4f42-926c-6969427b10ed.png)

The installer is

[2022-06-01 12:26] alexdepalex commented on #2336
@guangbochen Bundle has been uploaded through scc.

[2022-06-01 12:27] jrlittlefoot64 commented on #2344
I use harvester 1.0.2 and the Mirro OS is working under kvm without problems

[2022-06-01 15:33] abonillabeeche opened #2345 "[FEATURE] Quota Support for Rancher"
**Is your feature request related to a problem? Please describe.**
When creating Virtual Machines via Rancher, we should advertise the resource availability to ensure a quote isn't hit.

**Describe the solution you'd like**
Rancher to visibly manage quotas for users/projects in Harvester and warn users when over-provisioning resources over the allowed quota.

**Describe alternatives you've conside

[2022-06-01 23:31] ibrokethecloud opened #2346 "[FEATURE] Baremetal management for internal lab"
**Is your feature request related to a problem? Please describe.**

Need an easier way to management and provision harvester on baremetal nodes from a common endpoint for our internal lab.
This will make it easier to provision Harvester clusters for our internal teams, thereby speeding up testing of features for the dev teams.

**Describe the solution you'd like**

The solution would be a k8s cont

[2022-06-01 23:47] ibrokethecloud commented on #2346
related issue: https://github.com/harvester/harvester/issues/2318

[2022-06-02 00:04] yasker commented on #2346
The goal (ranked):
1. Able to provision bare-metal servers on the same L2 network with arbitrary ISO or cloud image.
2. Inventory management to know what's in use by who using e.g. labels.
3. Multitenancy to share in the same team.

[2022-06-02 01:25] ibrokethecloud commented on #1844
@Jellyfrog are you please able to re-upload the support bundle. The link seems to point back to the issue.

[2022-06-02 01:31] ibrokethecloud commented on #1700
@TheEagleByte the metric shows CPU reserved. Because harvester leverages k8s, we reserve some cpu/memory for the controlplane and core harvester infra components.

[2022-06-02 01:40] ibrokethecloud commented on #2344
@jrlittlefoot64 are you please able to provide more details of the Harvester VM config? The error seems to indicate that installer cant find the disk.

[2022-06-02 01:43] ibrokethecloud commented on #2331
@gregwbrooks are you please able to provide information on where the URL redirect takes you when enter https://virtual-ip

[2022-06-02 01:49] ibrokethecloud commented on #2306
@try2codesecure the longhorn error may be a red herring.

Are you able to generate a support bundle or provide the rancher logs.

[2022-06-02 02:17] ibrokethecloud commented on #1700
@guangbochen we should improve the visualisation for the CPU / Memory resource usage.

One the hosts overview for example the CPU graph shows only Reserved details for the CPU/Memory.

![image](https://user-images.githubusercontent.com/19664014/171534577-e9db0e3c-b856-4088-ac53-27e70c5b6985.png)

While if we click through on the host we can see the more detailed breakdown of the Reserved vs Used u

[2022-06-02 02:21] ibrokethecloud opened #2347 "[FEATURE] Improved resource reservation"
**Is your feature request related to a problem? Please describe.**

Currently Harvester via RKE2 seems to reserve CPU / Memory based on percentage of total node capacity.

We should introduce logic to leverage a combination of minimum CPU / Memory count or percentage based on the node size.

**Describe the solution you'd like**

We should ideally have a minimal reservation for CPU and Memory in ac

[2022-06-02 02:43] ibrokethecloud commented on #2290
Hi @axsgitty, please let us know if the comment from @rodrigo14miguel helps clarify.

Additional docs are available here: https://docs.harvesterhci.io/v1.0/networking/best-practice/overview/

[2022-06-02 02:48] gregwbrooks commented on #2331
Standard Rancher first-time login screen requesting bootstrap password and first-time password setup. URL looks normal for a Rancher install, but virtual IP is that if the bare-metal Harvester install.Get Outlook for Android

[2022-06-02 03:13] ibrokethecloud commented on #2302
@guangbochen we should try benchmarking harvester build with these changes.

[2022-06-02 04:50] ibrokethecloud commented on #2331
would it be possible to see the logs for the rancher pod.

To reset the password the `kubectl` is available to the root user so you should be able to sudo and reset the password.

[2022-06-02 04:58] gregwbrooks commented on #2331
Unfortunately, no - the server had to be put into production so we wiped it and went with Proxmox to get live.I'll see if I can recreate the error on another box.Get Outlook for Android

[2022-06-02 06:51] jrlittlefoot64 commented on #2344
Here my yaml files for vm and disk

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  annotations:
    harvesterhci.io/imageId: default/image-jcvww
    harvesterhci.io/owned-by: '[{"schema":"kubevirt.io.virtualmachine","refs":["default/vm-01"]}]'
    pv.kubernetes.io/bind-completed: "yes"
    pv.kubernetes.io/bound-by-controller: "yes"
    volume.beta.kubernetes.io/storage-provisioner: driver

[2022-06-02 07:28] fanlix commented on #994
2 vm suddenly stuck at "stopping" state, cannot stop/start.

hv: v1.0.1
one node in use

[code]

i have to force delete the pods by hand:
```kubectl delete pod --force --grace-period=0  -n xxx virt-launcher-xxx-xxxxx```

[2022-06-02 12:32] janeczku commented on #2342
The steps to reproduce this issue are not correct, since in order to render metadata variables, the first line of the cloud-config / user-data must begin with  `## template: jinja`

Ref: https://cloudinit.readthedocs.io/en/latest/topics/instancedata.html#instance-metadata

The bug appears to be that Harvester strips this line before storing the user-data in the config-drive.
So when configuring a

[2022-06-02 21:50] DacoDev commented on #1700
﻿I recognize that the above issues seem to relate to the minimum reserved CPU that Harvester is looking for is roughly 8-9 cores, but I'm not sure if I should open a new bug, when I open the dashboard or the Host page the Reserved CPU amount rises unending, attached a screenshot where it was at 1354% or 54 cores, and I saw it was in the 5-digit % later on. No VMs or workloads of any sort, relative

[2022-06-02 23:16] ibrokethecloud commented on #994
@fanlix are you please able to provide us a recent support bundle?

[2022-06-02 23:26] ibrokethecloud commented on #1700
Hi @DacoDev is there any chance if you could please click on the node name and provide a snapshot of the graphs when this happens?

[2022-06-03 00:48] DacoDev commented on #1700
Hello, on the Hosts tab, I see:
![image](https://user-images.githubusercontent.com/20329637/171763050-8862bc38-7bcd-4ee7-af92-1eeb4859c79f.png)

After clicking on the hostname I see:
![image](https://user-images.githubusercontent.com/20329637/171763032-66e2f037-963d-4c90-9019-76cafb242cfb.png)

I did try Chrome, Firefox, Brave, and Safari to be sure it wasn't an extension or runaway browser JS iss

[2022-06-03 01:24] ibrokethecloud commented on #1700
Hi @DacoDev are you by any chance please able to generate a new support bundle?

[2022-06-03 03:25] DacoDev commented on #1700
I have generated one, is there a better way to provide it than on the public issue? Not sure of any potentially sensitive logs or confs that could be included.

[2022-06-03 04:03] ibrokethecloud commented on #1700
i am around on rancher users slack

[2022-06-03 13:03] axsms commented on #2290
@ibrokethecloud Thanks for the reminder. I read the comment between meetings and forgot to reply. My scenario/question isn't clear in the docs. From above..."However, if a second NIC is recommended, shouldn't the default ISO install ask for the configuration details required to use a second NIC?". Please consider switches are not VLAN aware and there is no DHCP.

@rodrigo14miguel Thank you for tak

[2022-06-03 13:07] axsms commented on #2290
Opened #2330 a few days ago.

[2022-06-03 15:39] rodrigo14miguel commented on #2290
Hi @axsgitty

Do you have a usecase for setting a static IP on your second NIC?

The second NIC is recommended for VM network traffic but it is not required to setup harvester. You configure your second NIC after the installation process. Additionally, you do not need your harvester host to have static IP on your second NIC, as it will server VM network traffic.

You should end up with:
- NIC1 ->

[2022-06-03 16:40] axsms commented on #2290
That clarification is excellent, and I believe clears up my confusion. Thank you. I have been thinking I must configure the 2nd NIC on each node to be able to communicate, but I now understand that the Trunk in the upstream switch will pass VLAN traffic identified by selecting the NIC, as described by you above (and in the docs) and then identifying the VLAN for the VMs. Do I have that correct?

[2022-06-03 17:10] rodrigo14miguel commented on #2290
@axsgitty that is correct.

[2022-06-03 17:13] axsms commented on #2290
Thank you for that clarification. Closing.

[2022-06-03 17:13] #2290 closed, assigned to nobody

[2022-06-03 19:42] yasker commented on #2005
Hi @mithubindia

Thanks for trying Harvester. If you can, please check existing issues first or file separate issues for each feature request. Thanks in advance.

WIP in https://github.com/harvester/harvester/issues/553

WIP in https://github.com/harvester/harvester/issues/571

No plan to support. Harvester is positioning as a HCI solution

Authentication is currently not in the scope of Harvester

[2022-06-03 19:46] yasker commented on #477
The first request has been implemented. The second request is tracked in #2274 . Feel free to follow up with #2274 to see the progress on importing VMDK files.

[2022-06-03 19:46] #477 closed, assigned to nobody

[2022-06-03 19:51] yasker commented on #1942
It's hard to implement a very detailed network policy/security group from scratch. Currently, Harvester is focusing on supporting the Kubernetes cluster on top of it, which will be isolated either by VLAN or VXLAN. The network policy/security group part is not a priority at the moment.

[2022-06-03 19:53] yasker commented on #1926
@bk201 is this done?

[2022-06-03 19:55] yasker commented on #2012
Sorry, other hypervisors/container technologies are out of scope for Harvester at this moment.

[2022-06-03 20:02] yasker commented on #2079
Hi @victorhooi ,

1. Harvester can run with single node well. It doesn't have HA of course, but all the functionality works.
2. The performance would be the same. The only downside is you won't have high availability (of course..).
3. Yes, Longhorn will be running with single replica. By default Longhorn is running hard anti-affinity across the nodes, so even more disk won't make Longhorn put more

[2022-06-03 20:05] yasker commented on #2087
@tjjh89017 You're talking about the console on the node after boot up, right?

[2022-06-03 20:09] #1469 closed, assigned to nobody

[2022-06-03 20:11] yasker commented on #1481
Harvester UI is derived from Rancher UI. I guess it's a problem Rancher UI facing as well. We would need to update the Rancher UI to work better with mobile first.

[2022-06-03 20:32] yasker commented on #2094
Hi, @Johngoutbeck

Did you mean Longhorn should balance the replica data into new disks added to the system?

[2022-06-03 20:40] yasker commented on #2099
Related to #2322

I would expect the DHCP server in the VLAN network responsible for providing the fixed IP to the VMs. However, I am pretty sure we need to manage IPMI for the upcoming VXLAN network feature.

[2022-06-03 20:43] yasker commented on #2126
Duplicate of https://github.com/harvester/harvester/issues/2272.

@Lucostus You can install Harvester CSI plugin in K3s, which will provide baremetal Longhorn storage to the workloads in the k3s cluster.

[2022-06-03 20:43] #2126 closed, assigned to nobody

[2022-06-03 20:51] yasker commented on #2237
There are a few complications regarding restoring a VM into a new Harvester cluster. We will investigate to understand the effort first.

[2022-06-03 20:54] yasker commented on #2261
@futuretea I am not sure if this is expected?

[2022-06-03 20:55] yasker commented on #2278
Should be fixed in v1.0.2 : https://github.com/harvester/harvester/issues/2210

[2022-06-03 20:55] #2278 closed, assigned to nobody

[2022-06-03 20:58] yasker commented on #2279
Duplicate of #1723 .

[2022-06-03 20:58] #2279 closed, assigned to nobody

[2022-06-03 22:02] eshenayo commented on #2342
Yes, thank you for the correction!

[2022-06-03 22:07] rodrigo14miguel commented on #1723
This might need volume snapshot #553 #2294. Backup solutions normally use snapshots for either k8s or hypervisors.

[2022-06-03 23:22] palmergw commented on #2099
Making them static at the DHCP level is an option. I would like to share that I just went through a disaster recovery event with my Harvester VMs, and the backups seem to not preserve the MAC address associated.

This seemed to interfere with my VMs coming up with the same IPs, and ultimately I couldn't recover the cluster. I will say that I may be missing other necessary steps in recovering a clu

[2022-06-04 02:53] Johngoutbeck commented on #2094
Not really but the capability to balance the replica data into new disks added to the system would be a great feature to have.

What I meant was, if a new storage medium, think SAN or an external storage sub-system, would be added to the HCI cluster, a way to migrate or move the VM v-disks or container v-disks to the now new external storage sub-system without bringing down the VM or container - l

[2022-06-04 23:44] clust3rsekt0r commented on #1874
Hello here, I know this problem is closed but I just lost all my data I change how the disks are organize and turns out that I format the wrong disk just because the GUI does not refresh the latest FDISK information please this feature needs more rework and more constrains the loss of data in the actual state is very likely, is there any way to add how to correct this problem manually in the docum

[2022-06-05 18:08] lanfon72 commented on #1874
Hi @clust3rsekt0r, I'm pretty sorry to hear that, we had enhanced it in `v1.0.2`, you can check #2149 for more details.
If there still have something to be enhanced, please file a new issue for it.

Thanks.

[2022-06-05 21:06] averyfreeman commented on #2277
Still hoping to understand best how Harvester is situated in the ecosystem

Say I had a new datacenter and I wanted to set up an all-OpenSUSE shop:

Would it be most logical to do something like set up Uyuni for BM provisionining ---> RKE for the overall orchestration platform and then ---> Harvester for VMs?

Should I be viewing Harvester as more of a bolt-on feature to add VM workloads to RKE si

[2022-06-06 01:30] guangbochen commented on #2302
Yes, I think we can start with benchmarking the [KSM config](https://www.linux-kvm.org/page/KSM) first and add related monitoring metrics to it. This issue can be tracked via the epic issue https://github.com/harvester/harvester/issues/1899, any additional concerns @chrisho @bk201? thanks.

[2022-06-06 03:24] bk201 commented on #1874
@clust3rsekt0r Could you share what Harvester version you used when seeing the problem?

[2022-06-06 03:52] WuJun2016 opened #2350 "[Backport v1.0] The project-owner user will see an additional alert"
This is a backport issue for [#2288](https://github.com/harvester/harvester/issues/2288).

[2022-06-06 03:55] WuJun2016 opened #2351 "[Backport v1.0] You can see cattle-monitoring-system volumes as restricted admin in Harvester"
This is a backport issue for [#2116](https://github.com/harvester/harvester/issues/2116)

[2022-06-06 04:53] bk201 commented on #2302
@guangbochen no objection. Benchmark is needed and perhaps we need to pre-allocate some CPU resources for ksmd.

[2022-06-06 04:55] futuretea commented on #2261
@yasker not expected, will cause user confusion.

[2022-06-06 05:13] n313893254 opened #2352 "[Backport v1.0] Cluster member and cluster owner see inconsistent statistics"
This is a backport issue for [#2310](https://github.com/harvester/harvester/issues/2310).

[2022-06-06 05:33] tjjh89017 commented on #2087
Yes, it is.

[2022-06-06 06:32] WuJun2016 opened #2353 "[FEATURE] Add v1.0.3 UI related CI/CD"
**Is your feature request related to a problem? Please describe.**

UI branch:   https://github.com/harvester/dashboard/tree/harvester-release-v1.0

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-06-06 06:42] yaocw2020 opened #2354 "[FEATURE] Limit all VMs of the Harvester guest cluster in the same namespace"
**Is your feature request related to a problem? Please describe.**

Harvester load balancer allows users to configure an IP pool for the specified project/namespace, but the VMs created by the Harvester node driver can be in different project/namespace.

**Describe the solution you'd like**

Limit all VMs of the Harvester guest cluster in the same namespace.

**Describe alternatives you've conside

[2022-06-06 09:03] guangbochen commented on #2174
Please consider the following enhancement on the UI side:
- [ ] filtering images by labels https://github.com/harvester/harvester/issues/2319 - on the image page.
- [ ] when creating a guest k8s cluster, allowing users to search images by name and sort it in either ascending or descending.

[2022-06-06 09:39] bk201 commented on #2308
@try2codesecure No, Rancher won't provision the new node because of its pending cluster provisioning operations.

[2022-06-06 22:18] ibrokethecloud commented on #2308
Based on feedback from rancher engineering team, the drain/undrain is managed by  the machine drain controller: https://github.com/rancher/rancher/blob/release/v2.6/pkg/controllers/provisioningv2/rke2/machinedrain/machinedrain.go

The controller is checking for annotations on the plan secret for the node, which I can confirm based on the secret I received from @try2codesecure are all present.

Sin

[2022-06-06 23:32] ibrokethecloud commented on #1700
Looks like the users node is 4cpu, and that is causing pod scheduling to fail.

That is likely to be the reason for the CPU spikes in this particular case.

[2022-06-06 23:46] yasker commented on #2312
@janeczku can you elaborate?

[2022-06-06 23:54] yasker commented on #2327
Hi @poldiderjungdrache

We're using OpenSUSE 15 SP3 underneath, and the kernel is constantly being updated with backported stability fixes. Can you help to report the bug on OpenSUSE kernel side? https://en.opensuse.org/openSUSE:Submitting_bug_reports . It's unlikely for us to fix it without a OpenSUSE kernel fix. Thanks.

[2022-06-06 23:57] yasker commented on #2330
@axsgitty , Static IP is supported during installation. You will need to manually configure it. Have you encountered a problem with the feature?

[2022-06-06 23:59] yasker commented on #2323
It's automatically done via Longhorn soft anti-affinity across zones. https://longhorn.io/docs/1.2.4/references/settings/#replica-zone-level-soft-anti-affinity

The user needs to add label to the node, and Longhorn will do the right thing automatically.

[2022-06-07 00:22] yasker commented on #1980
@iamwlb Longhorn is no longer using Minio.

In the future, we might introduce a native S3 feature to Harvester, but it will take a while.

[2022-06-07 00:22] #1980 closed, assigned to nobody

[2022-06-07 00:27] ibrokethecloud commented on #2331
@gregwbrooks i am closing this issue for now. please feel free to reopen if you run into this again.

[2022-06-07 00:28] #2331 closed, assigned to nobody

[2022-06-07 01:21] #2295 closed, assigned to futuretea

[2022-06-07 01:27] axsms commented on #2330
I think I may have been confused. I was wanting to configure two different static IPs. One for MGMT and another for VIP. Environment being two NICs, no DHCP, upstream switch is not VLAN aware.

[2022-06-07 01:55] ibrokethecloud commented on #2330
@axsgitty using something like this in the config.yaml you should be able to assign static addresses for both interfaces.

The same should also be possible via the installer UI.

[code]

[2022-06-07 02:05] guangbochen commented on #2353
@WuJun2016 u can use the `release-harvester-*` branch name, and therefore we don't need to change the existing drone CI.

[2022-06-07 06:06] iwilltry42 opened #2357 "[BUG] VMIs created from VM Template don't have LiveMigrate evictionStrategy set"
**Describe the bug**

I noticed, that when I create VMs from a pre-made template (with no special settings), they won't have `evictionStrategy: LiveMigrate` set on the VMI, which is why `Cordon` and `Maintenance Mode` fail to enable on the node they're on.

However, when I just create them "manually" without a template, but with the exact same settings, the evictionStrategy will be set correctly.

[2022-06-07 07:29] iwilltry42 commented on #2357
# Reproduce

1. Create template: only set the required fields (Name and CPU + Memory), save it
2. Click "Launch Instance from Template"
3. Click "Edit as YAML"
4. See that `evictionStrategy: LiveMigrate` is missing there
5. Go on to create VM **without** template
6. Click "Edit as YAML"
7. See that `evictionStrategy: LiveMigrate` is set there

[2022-06-07 09:18] lanfon72 commented on #2265
Verified VM will not be able to `Stop` again if it already be `poweroff` inside.
(But I think **RunStrategy** still inconsistent)

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **master-a242948b-head**
* **ui-source** Option: **Auto**

### Verify Steps:
- Follow the **Steps to reproduce** in https://github.com/harvester/harvester/issues/2265#issue-1232804974

[2022-06-07 09:18] #2265 closed, assigned to FrankYang0529

[2022-06-07 12:23] putz612 commented on #2069
Still having the same issue with v1.0.2

[2022-06-07 17:29] mallardduck opened #2359 "Inaccurate detail provided by hostname comment"
Per the title, this line seems to provide inaccurate details based on my first hand testing.

https://github.com/harvester/ipxe-examples/blob/601ffd0e1e56a10b96c7ec2eb235848f071f2972/general/config-join.yaml#L4

This implies that DHCP server set hostnames should be respected, however that is not the case in my experience setting up a Harvester cluster via pxe/ipxe and using ISC DHCPD.

Obviously,

[2022-06-08 00:54] ibrokethecloud commented on #2069
@putz612 are you able to generate a support config by dropping into the shell and following the instructions here:

https://docs.harvesterhci.io/v1.0/troubleshooting/installation/#collecting-troubleshooting-information

[2022-06-08 02:17] guangbochen commented on #2359
Transfer the issue to `harvester/harvester` repo since that is the right place to track all harvester issues, thanks.

[2022-06-08 02:17] guangbochen commented on #2360
Transfer the issue to harvester/harvester repo since that is the right place to track all harvester issues, thanks.

[2022-06-08 09:21] #2353 closed, assigned to guangbochen

[2022-06-08 09:22] WuJun2016 commented on #2353
Now CI/CD is available， so close.

[2022-06-08 10:16] lanfon72 commented on #2263
Verified **Stop** button available and work as expected.

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-a242948b-head**
* **ui-source** Option: **Auto**

### Verify Steps:
- Follow **Steps to reproduce** in https://github.com/harvester/harvester/issues/2263#issue-1232274843

[2022-06-08 10:16] #2263 closed, assigned to FrankYang0529, lanfon72

[2022-06-08 10:20] lanfon72 commented on #2297
Verified log files be added.

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **master-a242948b-head** for `v1.1.0`, **v1.0-ce8b57fd-head** for `v1.0.3`
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with any nodes
2. Login to Dashboard then navigate to support page
3. Click **Generate Support Bundle** and do Generate
4. log files should

[2022-06-08 10:20] #2297 closed, assigned to bk201, lanfon72

[2022-06-08 13:50] w13915984028 opened #2361 "[BUG] Increase resource for POD grafana"
**Describe the bug**

In a single-node cluster, with one guest VM, the Grafana POD's memory usage is close to limit. It is necessary to increase the limits value.
![image](https://user-images.githubusercontent.com/31133476/172632067-99001bc0-ef53-43ca-a8fe-ad8375d94320.png)

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install Harvester with master-head
2. Create a few VMs
3. Check

[2022-06-08 14:39] gusraggio commented on #992
Rancher is using this chart to configure this, https://github.com/rancher/charts/pull/1211#pullrequestreview-668492770

[2022-06-08 22:03] axsms commented on #2330
Thank you for that example, that is a helpful example config to do what we are wanting to do and can in many situations.

It looks like I may be trying to force a specific use case a little too hard. So, I am going to back away from the use case and develop our requirements to accommodate either using a custom yaml or having DHCP and VLAN aware switch in the DCs we target for edge/regional use.

T

[2022-06-08 22:58] yasker commented on #2260
@janeczku The use case is Kubernetes guest cluster or just VMs on the VXLAN? Since if it's Kubernetes then the guest Kubernetes can enforce the network policy.

[2022-06-09 00:47] bk201 commented on #2086
@lotyrin Thanks for reporting. This is duplicated with https://github.com/harvester/harvester/issues/2230, let's track by that one.

[2022-06-09 00:47] #2086 closed, assigned to nobody

[2022-06-09 05:59] guangbochen commented on #2101
can we also backport this to the v1.0 branch, thanks?

[2022-06-09 06:24] try2codesecure opened #2363 "[BUG] - new VM's are unschedulable after hard VM crash"
**Describe the bug**
Assumption:
- Maybe this bugs hits after cluster extension from one to two nodes.
or
- This bug hits after an running VM is completely run out of disc space & crashed unfortunately.

After that, I can't start the VM anymore. I erased the crushed VM but then also no new VM's can't be created & started.
Existing VM's & volumes are not affected & are fully operable.

**To Reprodu

[2022-06-09 06:28] chrisho commented on #2101
ok

[2022-06-09 06:29] try2codesecure commented on #2363
The following things I have already tried & did not work or had no effect:
- Rollout restart of csi-attacher, csi-provisioner, csi-resizer & csi-snapshotter (kubectl rollout restart deployment ... -n longhorn-system )
- create a new VM & mount an existing volume & tried to start.
- use an "old" existing VM & mount an newly created volume & tried to start.
- workaround https://github.com/longhorn/l

[2022-06-09 06:35] iwilltry42 commented on #2311
I guess this is about rebalancing the cluster in cases of high load on a node?
KubeVirt proposes using the Descheduler for that :thinking:
https://kubevirt.io/user-guide/operations/node_assignment/#node-balancing-with-descheduler
I'm definitely following this issue :)

[2022-06-09 06:50] try2codesecure commented on #2363
Maybe related to:
- https://github.com/harvester/harvester/issues/2156
- https://github.com/harvester/harvester/issues/1695

[2022-06-09 07:22] try2codesecure commented on #2363
virt-launcher pod error logs (example virt-launcher-eraseme-8b47q):
[code]
error log from csi-attacher for related pvc (fresh start, after manual erase):
[code]

[2022-06-09 07:43] try2codesecure commented on #2363
describe volume:
[code]

[2022-06-09 07:51] try2codesecure commented on #2306
@ibrokethecloud & @bk201 Thanks for your support
BTW: I mitigated the bug by replacing the cluster

[2022-06-09 07:51] #2306 closed, assigned to nobody

[2022-06-09 07:53] try2codesecure commented on #2308
@ibrokethecloud & @bk201 Thanks for your support
I removed the annotation & tried to join the cluster, but without success.
BTW: I mitigated the bug by replacing the cluster

[2022-06-09 07:53] #2308 closed, assigned to nobody

[2022-06-09 08:43] chrisho opened #2365 "[Backport v1.0.3] test TestPlanHandler_OnChanged sometimes fails"
backport the issue #2101

[2022-06-09 09:21] try2codesecure commented on #2363
As a workaround i had to upload new images, update the template & recreate a new VM from that.
Than the VM will be scheduled & started.

[2022-06-09 10:15] lanfon72 commented on #2224
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/172823840-ebc957ed-83b1-482e-8403-622555b97760.png)

[2022-06-09 10:15] #2224 closed, assigned to bk201, lanfon72

[2022-06-09 10:35] lanfon72 opened #2367 "[BUG] Invalid NTP server could be assigned in ISO install"
### Describe the bug
The invalid NTP server could be bypass by enter twice.

### To Reproduce
Steps to reproduce the behavior:
1. Install Harvester with ISO install
2. Enter invalid NTP server IP then click enter twice
3. The invalid NTP server could be assigned into configuration

### Expected behavior
Maybe we should detect the error and prevent the invalid NTP server to be assigned?

## Environ

[2022-06-09 11:40] w13915984028 commented on #2245
connect with
#1893
https://github.com/rancher/fleet/issues/760

Those issues are highly possible to be caused by same root cause.

[2022-06-09 18:34] tlehman commented on #992
Interesting approach, the [numVfs is modeled as a policy](https://github.com/rancher/charts/pull/1211/files#diff-936fc461e3d600fd20b7fabb04eb148973be077ec07354d78a39486753565560R100). My branch used a Harvester settings object to store the number of vfs, but I'll borrow the Rancher way, to use the prior art.

[2022-06-09 19:26] noahgildersleeve opened #2368 "[FEATURE] filter ISO files from Harvester node driver"
**Is your feature request related to a problem? Please describe.**

Currently we are showing ISO image files in the node driver image dropdown in Rancher. You can't create a k8s cluster with an ISO though and we shouldn't display them.
**Describe the solution you'd like**

We should filter out any ISO files from the dropdown in the node driver for Harvester
**Describe alternatives you've considere

[2022-06-09 20:04] Frankkkkk opened #2369 "[FEATURE] Handle lighter hardware"
**Is your feature request related to a problem? Please describe.**
To me, Harvester has a really good potential. I have a homelab and I'm interested in trying it out. However the requirements are quite "high" to begin with.

**Describe the solution you'd like**
Be able to run harvester on lower-end hardware. It would be great to have the option to disable some components (monitoring for example),

[2022-06-09 22:10] yasker commented on #2094
Currently, Harvester doesn't provide support for an alternative storage medium, so this feature doesn't seem applicable to Harvester at the moment.

[2022-06-09 22:11] yasker commented on #2099
@palmergw We are working on #2237 to address your use case.

[2022-06-10 00:15] ibrokethecloud commented on #2363
I had a quick look at the support bundle and I suspect the issue may be that the pv is still tied to a non existent PVC claim reference:

[code]

No pvc by the name `eraseme-disk-0-5w3ai` exists in the cluster.

[2022-06-10 03:16] bk201 commented on #2367
@lanfon72 I remember there is a warning to ask users if they really want to proceed? Do you feel a hard requirement is better at this stage? cc @FrankYang0529

[2022-06-10 03:59] Johngoutbeck commented on #2094
Hopefully the future 1.10 release will have more storage options and then Live Storage Migration will be needed.  May I suggest the dev team think about this future option.

Thank you.

[2022-06-10 04:14] WuJun2016 opened #2370 "[backport v1.0.3] VM IP addresses should be labeled per network interface"
**Describe the bug**

This is a backport issue for https://github.com/harvester/harvester/issues/2032

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'

**Expected behavior**

**Support bundle**

**Environment**
 - Harvester ISO version:
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630):

**Additional context**
Add any other context about the problem here.

[2022-06-10 07:01] bk201 commented on #2280
A [troubleshooting section](https://github.com/harvester/docs/pull/172) is created based on @weihanglo's comment.

[2022-06-10 07:29] bk201 commented on #2087
Let's backport this change too, it should be straightforward.

[2022-06-10 07:37] tjjh89017 commented on #2087
Update backport PR https://github.com/harvester/harvester-installer/pull/290

[2022-06-10 08:16] n313893254 opened #2371 "[FEATURE] Clone the image labels when export a image from volume"
**Is your feature request related to a problem? Please describe.**

When a volume uses an ubuntu image. and then export image from the volume, the exported image lacks labels.

Steps:
1. Create an image with Ubuntu
2. Create a VM with the Ubuntu image
3. Export a new image from the VM volume

**Describe the solution you'd like**

Copy the original image labels to the exported image.

**Describe al

[2022-06-10 10:02] TachunLin commented on #2175
Verified **fixed** on `master-a242948b-head` (5/7). Close this issue.

### Result
PASS the following cases in https://github.com/harvester/tests/issues/347

### Case 1: Import Harvester to Rancher

- [x]  **PASS** Import harvester cluster to the rancher and doesn't have any error.
![image](https://user-images.githubusercontent.com/29251855/173025751-1e74e273-c214-4a47-a0f2-3528bf26fb80.png)

- [x]

[2022-06-10 10:02] #2175 closed, assigned to FrankYang0529, TachunLin

[2022-06-10 11:37] TachunLin commented on #2332
Verified **fixed** on the backport version `v1.0-9e056ebc-head`. Close this issue.
For details verification steps please refer to #2175

### Result
PASS the following cases in https://github.com/harvester/tests/issues/347

### Case 1: Import Harvester to Rancher

- [x]  **PASS** Import harvester cluster to the rancher and doesn't have any error.
![image](https://user-images.githubusercontent.com/2

[2022-06-10 11:37] #2332 closed, assigned to FrankYang0529, TachunLin

[2022-06-10 14:44] crazyelectron-io commented on #1769
Does this mean I can only configure bonding for the VLAN network at node install time and not afterwards?

[2022-06-10 16:35] rebeccazzzz commented on #2368
This issue relates to https://github.com/rancher/rancher/issues/37954.

[2022-06-11 08:45] oivindoh commented on #577
I think splitting this into two different scopes would indeed be helpful, where the most critical scope for most is likely the ability to simply collect and forward system logs elsewhere, and the other is actual local insight through loki and grafana for people who'd like to keep this within the harvester system.

[2022-06-12 15:24] kingnarmer commented on #2280
Getting same error upgrading from 1.0 to 1.0.1. Can't role back helm chart.

`helm history rancher-monitoring -n cattle-monitoring-system

REVISION        UPDATED                         STATUS          CHART                                   APP VERSION     DESCRIPTION
1               Tue Mar 15 20:18:48 2022        superseded      rancher-monitoring-100.0.0+up16.6.0     0.48.0          supersede

[2022-06-12 16:44] lanfon72 commented on #2367
As the error message:

This would confuing user when they want to revalidate **the same** NTP server, what should they do?
And as we can't update NTP server after installed, I think there should be more seriously to tell user choice the accessible NTP server before they install it.[^1][^2]

[^1]:https://github.com/harvester/harvester/issues/2119
[^2]:https://github.com/harvester/harvester/issues/1

[2022-06-13 00:12] axsms commented on #2330
I believe the presented situation may be too narrow a use case.

[2022-06-13 00:12] #2330 closed, assigned to nobody

[2022-06-13 01:05] guangbochen commented on #2336
Related to https://github.com/rancher/rke2/issues/2175, as a temp workaround, we can patch the default memory limit to 50MiB.

[2022-06-13 03:30] WuJun2016 commented on #2150
Hi， @w13915984028  Can you help to try to find the reason why api requests may fail at intervals and without any hint?

I think an issue can be recreated to track api request failures if needed。
<img width="1240" alt="image" src="https://user-images.githubusercontent.com/24985926/173274380-541a83aa-2b62-404b-a574-bb8c134717ed.png">

<img width="1240" alt="image" src="https://user-images.githubuser

[2022-06-13 03:49] WuJun2016 commented on #2059
Hi, @tjjh89017 , This should be a duplicate issue, We have integrated this feature in another [issue](https://github.com/harvester/harvester/issues/2128)， if so, please close this issue， thanks a lot. https://github.com/harvester/harvester/issues/2128#issuecomment-1094596475

[2022-06-13 04:33] tjjh89017 commented on #2059
Dup issue https://github.com/harvester/harvester/issues/2128#issuecomment-1094596475

[2022-06-13 04:33] #2059 closed, assigned to WuJun2016

[2022-06-13 06:48] bk201 opened #2372 "[FEATURE] Bump golang in harvester-installer to 1.18"
**Is your feature request related to a problem? Please describe.**

Related issue: https://github.com/harvester/harvester/issues/2267
Let's use this issue to track the installer individually because we need to backport the installer side.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-06-13 08:50] squadramunter commented on #1893
Same here. Brand new install and in the beginning all fine but when spinning up a new VM the CPU cycles just count up endless.  Then got the error message: 1.0/1 nodes available: 1 Insufficient cpu.

Edit: When refreshing the Dashboard page the CPU cycles seems to be lower and then begins counting up.

It is reserved at 120% when loading in the Dashboard and then counting up endless.

![cpu issues

[2022-06-13 11:56] TachunLin commented on #2288
Verified **not fixed** on `master-26bff4f1-head` (6/10) with Rancher `v2.6.5`.
Move to implement pipeline.

Harvester ui-index: https://releases.rancher.com/harvester-ui/dashboard/release-harvester-v1.0/index.html
Rancher ui dashboard-index: https://releases.rancher.com/dashboard/latest/index.html
Rancher offline preferred: `Remote`

### Result
Use rancher standard user `test` with project owner p

[2022-06-13 23:58] ibrokethecloud commented on #2346
First draft is now available at https://github.com/harvester/seeder

[2022-06-14 02:32] bk201 commented on #1769
@crazyelectron-io Currently, you can change the VLAN bond on day2 by modifying `/oem/99_custom.yaml`  and reboot. As an example, there should be a `harvester-mgmt` bond setting for the management network similar to this:

[code]

The config is elemental-toolkit [`files`](https://rancher.github.io/elemental-toolkit/docs/reference/cloud_init/#stagesstage_idstep_namefiles) setting. If you have added

[2022-06-14 04:56] WuJun2016 commented on #2288
sorry,  My low-level mistake.  repushed pr.

[2022-06-14 05:37] crazyelectron-io commented on #1769
Thanks @bk201 - I'll give it a try.
Last night I fiddled with the `/etc/sysconfig/network/ifcfg-*` files directly to create a bond, but that feels a bit hacky... ;-)

UPDATE: works like a charm!

[2022-06-14 10:56] Vicente-Cheng opened #2374 "[Backport v1.0.3] Bump golang in harvester-installer to 1.18"
This is a backport issue related to https://github.com/harvester/harvester/issues/2372

[2022-06-14 10:57] w13915984028 commented on #578
connect with #577

[2022-06-14 13:31] Vicente-Cheng opened #2375 "[Backport v1.0.3] Error messages are trimmed and not fully displayed in harvester-installer"
This is a backport issue related to https://github.com/harvester/harvester/issues/2224

[2022-06-14 18:42] eshenayo opened #2376 "[BUG] Cannot delete Template"
**Describe the bug**
A template cannot be deleted when it is the default version, but there is no way to remove the 'default version' designation for the last remaining version, leaving the template unable to be deleted.

![image](https://user-images.githubusercontent.com/8902109/173663034-8cd7fed7-d011-4a01-85a1-6043c2b809b3.png)

![image](https://user-images.githubusercontent.com/8902109/1736631

[2022-06-15 00:47] ibrokethecloud commented on #2376
@eshenayo I think we can improve the UI, but to delete the default version you will need to delete the template itself.

![image](https://user-images.githubusercontent.com/19664014/173712872-b57c2900-6195-43cf-88c1-167ac720ccc0.png)

On the main template name there should be an option for deleting the template:

![image](https://user-images.githubusercontent.com/19664014/173712947-493a9c67-84b2-4c

[2022-06-15 01:59] TachunLin commented on #2229
Verified **fixed** on `master-26bff4f1-head` (6/10). Close this issue

### Result
During Harvester ISO installer process, when we set static node IP address with the same one as the VIP IP address
There will be an error message to prevent the installation process
`VIP must not be the same as Management NIC IP`
![image](https://user-images.githubusercontent.com/29251855/173719257-f60b55fd-0211-4fb7

[2022-06-15 01:59] #2229 closed, assigned to tjjh89017, TachunLin

[2022-06-15 02:17] tjjh89017 commented on #2367
So do we want to have force NTP setting even in air-gap env?
cc @guangbochen & @bk201

[2022-06-15 02:20] Vicente-Cheng opened #2377 "[Backport v1.0.3] input nic ip and vip with same ip address in Harvester-Installer"
This is a backport related to https://github.com/harvester/harvester/issues/2229

[2022-06-15 02:30] guangbochen commented on #2367
I think we may improve it via:
1. emphasis the warning message to highlight the importance of the NTP configuration(but not force required?)
   - remove `Optional`
   - Note: recommended configuring the NTP server to make sure all nodes' times are synchronized.
3. check if there is a method to allow to do a post configuration of the NTP server. - provide doc for manual configuration.

[2022-06-15 05:44] TachunLin commented on #2032
Verified **fixed** on `master-26bff4f1-head` (06/10) with Rancher v2.6.5. Close this issue.

### Result
Now the VM list only show IP which related to user access.
And provide hover message on each displayed IP address
  ![image](https://user-images.githubusercontent.com/29251855/173749441-06fdad41-147a-4703-b19f-eafb1af9f18d.png)
  ![image](https://user-images.githubusercontent.com/29251855/173750

[2022-06-15 05:44] #2032 closed, assigned to WuJun2016, TachunLin

[2022-06-15 06:16] WuJun2016 commented on #2376
made ui enhancement:  if it is the default version, the delete button is not shown

[2022-06-15 07:05] bk201 commented on #2372
Skip QA verification. This is a compiler change and we agree the CI tests should meet the QA requirement.

[2022-06-15 07:05] #2372 closed, assigned to Vicente-Cheng

[2022-06-15 07:06] bk201 commented on #2374
Skip QA verification. This is a compiler change and we agree the CI tests should meet the QA requirement.

[2022-06-15 07:06] #2374 closed, assigned to Vicente-Cheng

[2022-06-15 07:22] WuJun2016 opened #2379 "[backport v1.0.3] Cannot delete Template"
This is a backport issue for https://github.com/harvester/harvester/issues/2376

[2022-06-15 09:53] n313893254 opened #2380 "[Backport v1.0] CPU usage over 100% without any load introduced / images downloaded / containers running / VMs migrated"
This is a backport issue for [#1700](https://github.com/harvester/harvester/issues/1700).

[2022-06-15 09:56] n313893254 opened #2381 "[Backport v1.0] Improved resource reservation"
This is a backport issue for https://github.com/harvester/harvester/issues/2347.

[2022-06-15 13:31] harvesterhci-io-github-bot opened #2382 "[backport v1.0.3] [FEATURE] Harvester control plane should spread across failure domains"
backport the issue #2325

[2022-06-15 13:55] harvesterhci-io-github-bot opened #2383 "[backport v1.0.3] [FEATURE] Support topology aware scheduling of guest cluster workloads"
backport the issue #1418

[2022-06-15 13:55] harvesterhci-io-github-bot opened #2384 "[backport v1.0.3] [FEATURE] Guest cluster nodes distributed across failure domains"
backport the issue #2316

[2022-06-15 17:08] simonflood commented on #2369
Whilst the hardware requirements are high, Harvester is aimed at businesses with beefy hardware. However Harvester will run on lower spec'ed hardware such as you'd find in a homelab and I presented on this (with Robert Sirchia from SUSE) during last week's SUSECON Digital 2022 - look for session TUT-1043. I myself have Harvester running on Intel NUCs with Quad Core i7 CPUs (so 8 cores) and Robert

[2022-06-16 01:54] chrisho opened #2385 "[BUG] Backport issues are not automatically associated with release"
**Describe the bug**
Release is not automatically associated when a backport issue is created.

**To Reproduce**
1. Add `backport-needed/$version` label to issue.
2. View backport issue.

**Expected behavior**
Release is automatically associated when a backport issue is created.

**Additional context**
Add any other context about the problem here.

[2022-06-16 03:53] bk201 commented on #1983
Use also [hit this issue](https://github.com/harvester/harvester/issues/2280#issuecomment-1153203729) and can't apply workaround:

[2022-06-16 03:54] bk201 commented on #2280
Capture @weihanglo 's suggestion and write a initial troubleshooting section in the doc: https://docs.harvesterhci.io/v1.0/upgrade/troubleshooting/

[2022-06-16 03:54] #2280 closed, assigned to bk201

[2022-06-16 03:55] bk201 commented on #2280
@true64gurus I capture the comment you give to the [corresponding issue](https://github.com/harvester/harvester/issues/1983)

[2022-06-16 04:01] guangbochen commented on #2101
close as this is just a CI bug and no additional test is required.

[2022-06-16 04:01] #2101 closed, assigned to chrisho

[2022-06-16 04:01] guangbochen commented on #2365
close as this is just a CI bug and no additional test is required.

[2022-06-16 04:01] #2365 closed, assigned to chrisho

[2022-06-16 04:58] guangbochen commented on #2324
close as the backport feature is added in https://github.com/harvester/bot

[2022-06-16 04:58] #2324 closed, assigned to chrisho

[2022-06-16 06:50] harvesterhci-io-github-bot opened #2386 "[backport v1.0] [BUG] Cluster member and cluster owner see inconsistent statistics"
backport the issue #2310

[2022-06-16 06:53] harvesterhci-io-github-bot opened #2387 "[backport v1.0] [FEATURE] Add upgrade information panel about versions"
backport the issue #2299

[2022-06-16 07:15] n313893254 commented on #2352
Closed in favor same as https://github.com/harvester/harvester/issues/2386

[2022-06-16 07:15] #2352 closed, assigned to n313893254

[2022-06-16 08:17] TachunLin commented on #2370
Verified **fixed** on the backport version `v1.0-9e056ebc-head`. Close this issue.
It's the backport issue of #2032

The VM list only show IP which related to user access.
It can provide hover message on each displayed IP address
  ![image](https://user-images.githubusercontent.com/29251855/174025182-6639443b-ba3d-4581-b45b-43c062b18e7d.png)
  ![image](https://user-images.githubusercontent.com/292

[2022-06-16 08:17] #2370 closed, assigned to WuJun2016, TachunLin

[2022-06-16 08:46] TachunLin commented on #2376
Verified **fixed** on `master-26bff4f1-head` (06/10). Close this issue.
ui-index: https://releases.rancher.com/harvester-ui/dashboard/release-harvester-v1.0/index.html

### Result
* If the template is the `default version`, it will not display the `delete` button
  ![image](https://user-images.githubusercontent.com/29251855/174030567-b2c6ae52-40d1-4dd6-9ede-783409bd3c87.png)

* If the template is

[2022-06-16 08:46] #2376 closed, assigned to WuJun2016, TachunLin

[2022-06-16 08:51] harvesterhci-io-github-bot opened #2389 "[backport v1.0] [BUG] Instance metadata variables are not expanded"
backport the issue #2342

[2022-06-16 09:11] TachunLin commented on #2379
Verified **fixed** on `v1.0-9e056ebc-head` (06/10). Close this issue.

### Result
* If the template is the `default version`, it will not display the `delete` button
  ![image](https://user-images.githubusercontent.com/29251855/174036010-1e7b3b2c-0536-4be1-b8a8-5491acae2f10.png)

* If the template is **not** the `default version`, it will display the `delete` button
 ![image](https://user-images.g

[2022-06-16 09:11] #2379 closed, assigned to WuJun2016, TachunLin

[2022-06-16 10:17] w13915984028 opened #2390 "[FEATURE] Harvester installer supports inputting MAC for VIP"
**Is your feature request related to a problem? Please describe.**

When users deploy Harvester, they may prepare DHCP IP/MAC pair for VIP in advance, thus the cluster will have an unchanged VIP.

But now, the VIP MAC is not taken from input, it's randomly generated.

The DHCP server is difficult to reserve IP for an random MAC in advance, it can save IP/MAC pair after having it's record.

**Descr

[2022-06-16 14:41] janeczku opened #2391 "[Doc] Use toolbox container for debugging Harvester OS and reduce base installation"
**Is your feature request related to a problem? Please describe.*
The Harvester OS image contains a number of packages and utilities that are merely included to facilitate debugging but not required for normal operations (e.g. `zypper`).

In order to reduce attack surface and security patch cycles we should not include these tools in the base image. Instead we should adopt a toolkit that allows tr

[2022-06-16 14:45] janeczku opened #2392 "[FEATURE] Ensure Harvester OS is compliant with CIS Linux security guidelines"
**Is your feature request related to a problem? Please describe.**
Currently, the Harvester OS is not 100% compliant with CIS Linux security guidelines

We should adopt OpenSCAP scan tool in the UA or automated e2e testing to ensure compliance with the CIS SUSE SLES Benchmark for Level 1 or Level 2.

http://static.open-scap.org/ssg-guides/ssg-sle15-guide-index.html

[2022-06-17 07:42] bk201 commented on #1933
We also need to check if the interface name rule change also happens in the new OS: https://github.com/harvester/harvester/issues/2073

[2022-06-17 07:49] wonleing commented on #371
Combine harvester with RKE2 is not a good idea... :)

[2022-06-17 08:00] TachunLin opened #2394 "[BUG] Standard rancher user with project owner role of customized project to access Harvester get "404 Not Found" error"
**Describe the bug**

When we set a stand Rancher user `test` as the project owner role of customized project in Harvester
Then we use the standard user to open Harvester cluster in Rancher will display `404 Not Found`
![image](https://user-images.githubusercontent.com/29251855/174250668-4c7be2d4-5628-4540-8932-f614efc07d04.png)

If we remove the project owner permission on the customized project.

[2022-06-17 08:09] harvesterhci-io-github-bot opened #2395 "[backport v1.0] [BUG] Standard rancher user with project owner role of customized project to access Harvester get "404 Not Found" error"
backport the issue #2394

[2022-06-17 08:10] TachunLin commented on #2288
Move to ready for test and verify with #2394

[2022-06-17 08:11] TachunLin commented on #2350
Move to ready for test and verify with #2394

[2022-06-17 08:36] wonleing commented on #2024
thanks @rodrigo14miguel
I managed to setup this cluster with 8 physical machine: 2 for load balancer, 3 for master node, 3 for work node.
Make harvester run as a service on this K8s cluster.

[2022-06-17 09:46] kwwii commented on #2319
I have been working on UX patterns for filtering, labeling, and tables recently. This sounds very similar, which makes me wonder how we could use some of the work I've been doing to help here.

[2022-06-17 11:27] TachunLin commented on #2116
Verified **fixed** on `master-c2960206-head` (06/17) with Rancher `v2.6.5` . Close this issue.

### Result
Login Rancher with restricted admin and access Harvester volume page.
Now it won't display the cattle-monitoring-system volumes.
  ![image](https://user-images.githubusercontent.com/29251855/174289481-00e74f70-c773-47af-847c-9ca6ecd86e1d.png)

### Test Information
* Test Environment: 1 node h

[2022-06-17 11:27] #2116 closed, assigned to WuJun2016, TachunLin

[2022-06-17 12:34] TachunLin commented on #2351
Verified **fixed** on `v1.0-9e056ebc-head` with Rancher `v2.6.5`. Close this issue.

### Result
Login Rancher with restricted admin and access Harvester volume page.
Now it won't display the cattle-monitoring-system volumes.
  ![image](https://user-images.githubusercontent.com/29251855/174298875-65b7e4ae-97a1-4771-9987-cb86af626c70.png)

### Test Information
* Test Environment: 1 node harvester on

[2022-06-17 12:34] #2351 closed, assigned to WuJun2016, TachunLin

[2022-06-17 22:48] w13915984028 commented on #1893
The root cause analysis:
https://github.com/w13915984028/harvester-develop-summary/blob/main/fleet-agent-high-cpu-usage.md

[2022-06-17 22:49] w13915984028 commented on #2245
The root cause analysis:
https://github.com/w13915984028/harvester-develop-summary/blob/main/fleet-agent-high-cpu-usage.md

[2022-06-18 00:45] jagarlamudisrinath opened #2396 "Harvester installation stuck at Confirm installation Option"
I am trying to install Harvester 1.0.2 on Dell Precision T5610

**Environment**
 - Harvester ISO version: v1.0.2
 - Underlying Infrastructure: Dell Precision T5610 with 128GB RAM and 32 CPU

**Additional context**
Add any other context about the problem here.

![WhatsApp Image 2022-06-17 at 7 46 43 PM](https://user-images.githubusercontent.com/41291550/174415718-de75dfcc-6fa5-47bb-8644-c28ed672f64

[2022-06-18 03:53] Jeymz opened #2397 "[Question] asn1: syntax error: PrintableString contains invalid character"
Getting a weird error trying to apply a self signed cert. I've played around with adjusting the signing process but for some reason I keep getting tossed this guy in the ssl configuration setup webpage. I jumped into the logs to see if I could find the cause but it seems pretty vague in terms of what's causing it to fail
`2022-06-18T03:31:39.729949621Z stderr F W0618 03:31:39.729762       1 dispat

[2022-06-20 03:15] Captured77 opened #2399 "Use helm install harvester，I need use helm install harvester-crd first?"
I use helm install harvester APP model. But harvester deployment expose error。

[2022-06-20 03:21] harvesterhci-io-github-bot opened #2400 "[backport v1.0] [Question] Restart Button Web VNC window"
backport the issue #379

[2022-06-20 03:50] futuretea commented on #2399
Yes, you need to install harvester-crd first

[2022-06-20 08:40] chrisho commented on #2316
The latest version of kubevirt does not support topology spread constrains, currently only through PodAffinity/PodAntiffinity to solve the problem, but, do you have any ideas? What is the user-specific scenario?

[2022-06-20 09:10] WuJun2016 commented on #2319
The user has a requirement that the user will build an image every day, with a name format like "20220601-Ubuntu. imag", so we want the user to be able to not only search the image in the input box, but also sort the large number of images that are found.
Hi, @kwwii  Do you have any design suggestions?  thanks a lot.

![image](https://user-images.githubusercontent.com/24985926/174565002-499dfd54-9

[2022-06-20 10:38] TachunLin opened #2402 "[FEATURE] Enhance the information display of ISO installation console UI (tty)"
**Is your feature request related to a problem? Please describe.**

Current console UI display of ISO installation result not user friendly to provide clear information
From user perspective, they may not be able to find the information needed at the first glance
![image](https://user-images.githubusercontent.com/29251855/174580498-13225952-6f58-4b84-a38b-c950e5ee2267.png)

**Describe the solution

[2022-06-20 12:19] MikeTolkachev opened #2403 "[FEATURE] Adding Storage Class selector to Harvester UI"
I added tags to the Longhorn nodes and created a new Storage Class to select from those tags.
When creating a new virtual machine, I would like to have a choice of storage class.