[2022-02-23 04:36] bk201 commented on #1800
@yasker Let's make it to 1.0.1, it's really hard to debug without those messages. At least we need to record them in `/var/log/console.log`.

[2022-02-23 06:49] vasiliy-ul commented on #1553
I prepared the images with backported fixes. Could someone with proper environment check if they solve the issue?
- The 'clean' KubeVirt images (**without** the fixes) are available at `registry.suse.com/suse/sles/15.3/virt-*` with the tag `0.49.0-150300.8.10.1`.
- The 'fixed' images (**with** the backported patches) can be pulled form `registry.suse.com/harvester-beta/virt-*` using the tag `0.49.

[2022-02-23 06:54] tjjh89017 commented on #1390
@bashofmann Please take a look at the docs of [best practice](https://docs.harvesterhci.io/v1.0/networking/best-practice/overview/)
and check if users could modify the network to these settings.
thanks a lot

[2022-02-23 07:06] WuJun2016 commented on #1624
Hi, @wonleing  I don't think we should handle the values from `api/v1/nodes/k8s-master/proxy/stats/summary` in `dashboard/models/metrics.k8s.io.nodemetrics.js`,  you can request the data directly where you need it.
e.g:
https://github.com/harvester/dashboard/blob/4c3ba82d07d446c71d0b183ac5088b4fb7926db6/components/EventsTable.vue#L44-L53

[2022-02-23 08:03] johnliu55tw commented on #1876
Related to RKE2 issue https://github.com/rancher/rke2/issues/2411

[2022-02-23 08:28] zhilong-rancher commented on #1749
I'm using this image ： https://cloud-images.ubuntu.com/releases/focal/release-20211129/ubuntu-20.04-server-cloudimg-amd64.img .
In offline environments, qemu-guest-Agent is not automatically installed, nor  it cannot be installed manually.
Maybe this image not contains the qemu-guest-Agent.
<img width="719" alt="image" src="https://user-images.githubusercontent.com/62644977/155283987-6899e533-fe22

[2022-02-23 08:28] #1749 closed, assigned to nobody

[2022-02-23 08:41] TachunLin commented on #1027
Verified **fixed** on `master-bfd6a8a9-head` (02/21). Close this issue.

### Result
Pass all three test scenarios
- [x] Case 1: Restore VM in another namespace.
- [x] Case 2: Restore VM in the original namespace.
- [x] Case 3: Restore to existing VM.

####  Case 1: Restore VM in another namespace.
Can restore VM to different namespace `new-ns` correctly, have the file ~/test.txt with content `test

[2022-02-23 08:41] #1027 closed, assigned to FrankYang0529, WuJun2016, TachunLin

[2022-02-23 08:51] FrankYang0529 commented on #1930
Hi @ugar-ugar, do you create `Recurring Job` in Longhorn page and you can't cleanup the hanging `Recurring Job`? If yes, I will create another issue in Longhorn.

https://longhorn.io/docs/1.2.3/snapshots-and-backups/scheduling-backups-and-snapshots/

[2022-02-23 10:03] FrankYang0529 commented on #1768
A workaround way is manually deleting `BackingImage` and `StorageClass`. Also, we need to remove `status` in `VirtualMachineImage` to trigger it to download the image again.

Probably, we can add a `refresh` button on UI and send the above requests to the server. The button only shows up when `VirtualMachineImage` is in an error state. cc @guangbochen

[2022-02-23 10:24] FrankYang0529 commented on #1652
Hi @coption, yes, I think so. Harvester is designed as a Hyperconverged infrastructure (HCI) solution for bare metal servers.

https://harvesterhci.io/

[2022-02-23 10:46] w13915984028 commented on #1904
A quick test:

image harvester-master-amd64.iso is downloaded independently (url: https://releases.rancher.com/harvester/master/harvester-master-amd64.iso)

harvester-master-amd64-2.iso, harvester-master-amd64-3.iso are downloaded in parallel,

all are successful

![image](https://user-images.githubusercontent.com/31133476/155303889-485af7dd-b48e-40d2-b2c2-f96cac3786a6.png)

[2022-02-23 13:03] w13915984028 commented on #1904
Update:

Reproduced with `"uploading large image"`, after that:

Error logs in Harvester POD
[code]

![image](https://user-images.githubusercontent.com/31133476/155324225-fdeba8af-d13c-4e59-96d3-28928d3235c1.png)

[2022-02-23 15:48] yasker commented on #1749
It does look like a cloud image specific problem. OpenSUSE 15.3 cloud image (e.g. https://download.opensuse.org/repositories/Cloud:/Images:/Leap_15.3/images/openSUSE-Leap-15.3.x86_64-NoCloud.qcow2 ) does have qemu-guest-agent (`qemu-ga`) contained in the image.
<img width="1055" alt="Screen Shot 2022-02-23 at 7 46 29 AM" src="https://user-images.githubusercontent.com/3344618/155354750-1b792a08-85c

[2022-02-23 16:24] ugar-ugar commented on #1930
Hello FrankYang0529,
my backup was created from Harvester-VirtualMachines-Take Backup.
The backup configuration is also done from Harvester.
The Longhorn-UI does not show any backup activity or pending jobs.
It does not look like a Longhorn related problem.

Regards
Ulrich

[2022-02-23 16:57] yasker commented on #1933
@simonflood Sorry for the confusion. I've reworded my comment. SLEMicro for Rancher is SLEMicro in a different delivery method, that will be freely available to Harvester users.

[2022-02-23 18:27] noahgildersleeve commented on #1903
Tested in `master-bfd6a8a9-head`.
## Verification Steps
### Without PXE
1. Start a new install
2. Set DNS as `8.8.8.8`
3. Add in github SSH keys
4. Finish install
5. SSH into node with SSH keys from github (`rancher@hostname`)
6. Verify login was successful

### With PXE
1. Got vagrant setup from https://github.com/harvester/ipxe-examples/tree/main/vagrant-pxe-harvester
2. Changed `settings.yml` D

[2022-02-23 20:18] #1903 closed, assigned to johnliu55tw, noahgildersleeve

[2022-02-23 20:53] dweomer commented on #1808
per @thedadams, CI build that should have fixes for this is `rancher/rancher:v2.6-a49b9d913555d59834a30f6e2ae676f0bd54bba6-head`

[2022-02-24 01:46] johnliu55tw commented on #1859
Hi @kinchlo, we will make MTU configurable in the next release (https://github.com/harvester/harvester/issues/1934), but currently we won't support connecting nodes to the cluster using VPN tunnels.

[2022-02-24 02:30] rebeccazzzz commented on #1720
Closing this issue because it is no longer occurring for the original reporter. ([#3443 comment](https://github.com/longhorn/longhorn/issues/3443#issuecomment-1042861202))

[2022-02-24 02:30] #1720 closed, assigned to nobody

[2022-02-24 02:44] rebeccazzzz commented on #1882
Changed estimation per @guangbochen's recommendation.

[2022-02-24 03:17] thedadams commented on #1823
@FrankYang0529 The change for the air-gap download has been merged into Rancher. Can you try this again, please?

Also, I apologize for all the back and forth here. We don't have a way to test these changes. I am trying to get a Harvester setup that we can use to test these changes. Hopefully this will happen soon.

[2022-02-24 04:10] guangbochen commented on #1659
I think we can aggregate and track the the `CSI DaemonSet pod failed to start` on the https://github.com/harvester/harvester/issues/1895

[2022-02-24 04:12] guangbochen commented on #1629
Since the `harvester` storageClass is already set as default, we may close this one and track the `CSI pod failed to start` on the https://github.com/harvester/harvester/issues/1895 accordingly.

[2022-02-24 04:46] TachunLin commented on #1629
Close this issue, since the original requirement have been fixed.
Focus on tracking the failed to deploy CSI pod on RKE2 cluster in #1895

[2022-02-24 04:46] #1629 closed, assigned to yaocw2020, TachunLin

[2022-02-24 04:48] TachunLin commented on #1659
Close this issue and focus on tracking the `CSI DaemonSet pod failed to start` at #1895

[2022-02-24 04:48] #1659 closed, assigned to yaocw2020, TachunLin

[2022-02-24 05:09] guangbochen commented on #1730
We can skip the https://github.com/harvester/harvester/issues/1904 using the download from remote URL method, the key is to verify the related Windows Server VMs can be spin-up successfully(e.g, 2021, 2019 R2, 2012).

[2022-02-24 05:11] FrankYang0529 commented on #1823
Hi @thedadams, It's okay. I tried again with `v2.6.4-rc4` and still got error like following.

![Screen Shot 2022-02-24 at 1 08 21 PM](https://user-images.githubusercontent.com/4927361/155461906-1e6089f9-4b9b-4a7b-94d7-eeada312fbb8.png)

[2022-02-24 05:26] guangbochen commented on #1889
@ibrokethecloud can u please help to provide the proper reproducible and verification steps so the QA can help to verify and close this issue, thanks.

[2022-02-24 05:47] weihanglo commented on #1839
## UI Change

According to https://github.com/harvester/node-disk-manager/pull/26#pullrequestreview-886896073, "Add Disk" dropdown menu should only show available devices with `blockdevice.status.deviceStatus.details.deviceType == disk`.

For the default value of `Force Formatted` option, here are the rules:

- Unchecked by default and **cannot** be modified by user
  - `blockdevice.status.deviceS

[2022-02-24 06:15] bk201 commented on #1363
@noahgildersleeve Do we still see this?

[2022-02-24 06:54] tjjh89017 commented on #1882
note: `kubectl get vm test -o yaml` will show status `stopped`
[code]

[2022-02-24 06:55] tjjh89017 commented on #1882
by the way,
Should we add `runStrategy: RerunOnFailure` and `acpi enabled` by default?
this will be closer to normal hypervisor behavior
Or UI should add option for runStrategy

[2022-02-24 06:57] ibrokethecloud commented on #1889
@guangbochen the easiest way to test this would be in equinix metal to pxe boot the node with a custom iPXE script. The ipxe needs an Elastic IP to be provisioned in advance.

The elastic ip and the base address of artifacts needs to be changed since we need a http only endpoint.

[code]

The userdata to be passed to instance is

[code]

An easier way may be to just use this terraform example I ha

[2022-02-24 07:21] FrankYang0529 commented on #1930
Hi @ugar-ugar, I misunderstood `backupJob` as the `Job` resource in Kubernetes. I think what you want to say is how to clean up `VirtualMachineBackup` in Harvester.

Harvester leverages [Longhorn CSI](https://longhorn.io/docs/1.2.3/snapshots-and-backups/csi-snapshot-support/create-a-backup-via-csi/#create-a-backup-via-the-csi-mechanism) to create Longhorn `Backup`. When users delete `VirtualMachin

[2022-02-24 07:34] nunix commented on #1882
I think that runStrategy can replace `running` as it has the same initial states `running` and `stopped`. It simply adds the RerunOnFailure.

The `acpi` can be set by default, in my opinion, as it doesn't have any other impact than translating better the states of the VM to the Hypervisor.

Please note that `runStrategy` behaves sometimes weirdly. If we start the VM by clicking `Start` instead of

[2022-02-24 07:36] tjjh89017 commented on #1882
note:
it seems harvester will set `runStrategy: Always`, but it shouldn't be.

note:
`kubectl virt start <VM>` will keep the `runStrategy: RerunOnFailure`

[2022-02-24 07:45] guangbochen commented on #1882
Not sure if we should set the `acpi` or any other virtualization features by default as most Linux-based or cloud images do not require to use it.

In regards to the `runStrategy` I think it will be helpful to add it as an option from the UI(Always/RerunOnFailure/Manual), and a [related description doc](https://kubevirt.io/user-guide/virtual_machines/run_strategies/#runstrategy) will be needed.

[2022-02-24 08:22] tjjh89017 commented on #1882
need @WuJun2016 's help
because of the code, UI will consider RerunOnFailure is same as Always.
So VM should be always running as expected.
and `isStarting` will check the VM expected state and VM CR is created or not.
because we stop the VM and don't want harvester rerun it. (expect VM is stopped, and VM resource is kept)
VM is expected to run, and VM resource is created, UI will detect it as "St

[2022-02-24 08:23] tjjh89017 commented on #1882
@nunix please help us to file a new issue with this problem
thanks a lot

[2022-02-24 09:22] WuJun2016 commented on #1928
I don't think it's necessary to add any automation test or integration test, because it's an expected behavior，  Now just delete the information in the console。

[2022-02-24 09:38] lanfon72 commented on #1925
Verified this bug has been fixed.

Test Information
----
* Environment: **qemu/KVM 1 node** and **Bare metal DL360 3 nodes **
* Harvester Version: **v1.0.0** and **master-bfd6a8a9-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with any Nodes
2. Create image for VM creation
3. Create VM and wait until its state become `Running`
4. Navigate to VM's details
5. Refresh

[2022-02-24 09:38] #1925 closed, assigned to lanfon72, WuJun2016

[2022-02-24 09:44] lanfon72 commented on #1770
I can't create the test environment in the combination:
- qemu/KVM 3/2/1 node(s) with Rancher v2.6.3
- Bare metal DL360 3 nodes with Rancher v2.6.3

Mostly stucked on `Provisioning` as the snapshot:
![image](https://user-images.githubusercontent.com/5169694/155499402-413f07c7-083a-43ec-874b-718dff729500.png)

[2022-02-24 12:59] w13915984028 commented on #1904
When uploading big size image (e.g. > 1G), the issue is highly reproduceable.

After the issue happened, refreshing `Harvester WebUI`  may encounter blank page with `"Handler disconnected"`.

The **workaround** is using below command to delete the Harvester pod, then the WebUI will be reusable.
`kubectl delete pod harvester-pod-name -n harvester-system`

`harvester-pod-name` is like:
[code]

[2022-02-24 13:12] futuretea commented on #1553
Thanks a lot.
I have tested quay.io/kubevirt/virt-* with the tag `v0.50.0` which solve this issue (populate VMs IP < 2 minutes)
I'm going to test  the `registry.suse.com/harvester-beta/virt-*` using the tag `0.49.0-1`.

[2022-02-24 13:28] thedadams commented on #1823
OK. Thanks. That is a different problem. I will make updates again today.

[2022-02-24 14:34] futuretea commented on #1553
@vasiliy-ul @guangbochen I have tested `registry.suse.com/harvester-beta/virt-*` with the tag `0.49.0-1` which solve this issue (populate VMs IP < 2 minutes)

[2022-02-24 14:36] guangbochen commented on #1553
Thanks and I will bump the image version on the related PR https://github.com/harvester/harvester/pull/1939 later for the verification, thanks.

[2022-02-24 22:23] w13915984028 commented on #1904
Another test:
`When uploading speed is fast, for instance, the client PC and Harvester cluster  are in same network, the harvester POD had such error message right after the uploading action starts.`

but the uploading is still on-going

kubectl logs harvester-d544ddb6f-kbp2s -n harvester-system
[code]

![image](https://user-images.githubusercontent.com/31133476/155617046-53b7c55e-8c47-4d8a-9e57-c

[2022-02-24 22:44] w13915984028 commented on #1904
`3 Harvester master-head (today) ISO are uploaded in parallel, all are successful`

even though Harvester POD had error message, it looks self-healed.

 kubectl logs harvester-d544ddb6f-kbp2s -n harvester-system
[code]

![image](https://user-images.githubusercontent.com/31133476/155618418-cca12c95-ab2c-43ff-9e52-6bd17c24d576.png)

![image](https://user-images.githubusercontent.com/31133476/1556194

[2022-02-24 23:11] noahgildersleeve commented on #1904
Tested in `master-bfd6a8a9-head`
## Verification steps
1. Deploy Harvester from master-head ISO
2. Upload large ISO
3. Wait for it to complete
4. Upload second large ISO
5. Wait for it to complete

The images are uploading, but after the first ISO I did get the `"Handler disconnected"` error. I'm including the support bundle, but I'm going to create a new bug for that issue since it's out of scope

[2022-02-24 23:22] noahgildersleeve opened #1940 "[BUG] After uploading large ISO file you get an error on refresh"
**Describe the bug**

When you refresh the page after a large ISO image upload the web ui won't load
**To Reproduce**
Steps to reproduce the behavior:
1. Upload a multi-gig (>1GB) iso image to the images section of Harvester
2. As soon as it finishes refresh the page
**Expected behavior**

It should load without error
**Support bundle**

[supportbundle_f3da3adc-2aef-401f-beaa-bb13ac005b1c_2022-02-

[2022-02-25 05:42] tuijs opened #1941 "[FEATURE] Show Network Topology in the UI"
The network topology will show lilke this:

![image](https://user-images.githubusercontent.com/6123279/155660686-df78101d-8910-4748-b1db-963af10a79ce.png)

[2022-02-25 05:45] tuijs opened #1942 "[FEATURE] Network Policy or Security Group Rules"
We need network policy, just like Openstakc "Security Group Rules".  If have this, user can set ingress and egress rule by self.

![image](https://user-images.githubusercontent.com/6123279/155660978-5e9f6aa4-b307-4dd1-a4e3-24f5cd6f4772.png)

[2022-02-25 07:55] FrankYang0529 commented on #1754
Hi @wonleing, I can't reproduce this on Harvester `master-bfd6a8a9-head` (a version after `v1.0.0`). May you try again on the latest version? Thank you.

[2022-02-25 09:15] w13915984028 commented on #1940
In the PROVO environment, when digging #1904,  I encountered ` "handler disconnect" `  issue, it can only be recovered via rebooting or deleting the harvester POD,
described in : https://github.com/harvester/harvester/issues/1904#issuecomment-1049834241

error message `"remotedialer buffer exceeded, length: 4224768"`, seems self-healing,
 it was frequently seen in my laptop based Harvester (fast u

[2022-02-25 09:44] FrankYang0529 commented on #1806
Hi @Jellyfrog, what kinds of external console viewers do you want to support? We can also use [virtctl](https://kubevirt.io/user-guide/operations/virtctl_client_tool/) to access VMs.

**install virtctl**
[code]

**Accessing the serial console**
[code]

**Accessing the graphical console (VNC)**
[code]

ref: https://kubevirt.io/user-guide/virtual_machines/accessing_virtual_machines/

[2022-02-25 10:39] ugar-ugar commented on #1930
Hello FrankYang0529,
thank you for your hints,
I was able to CleanUp the leftovers.
Now new Backups are working again.

[2022-02-25 10:39] #1930 closed, assigned to nobody

[2022-02-25 10:44] FrankYang0529 commented on #1905
Hi @jmara, I can't reproduce this issue in my cluster. Since exited code 137 is `OOMKilled`, may you share how many CPUs, Memory you give to each Node and VM? Thank you.

My Reproduce steps:
1. Create 2 Harvester nodes. Each node has 6 cores and 16G RAM and 150G Storage.
2. Create 5 VMs. Each VM requests 1 vCPU and 1G RAM.
3. Create a third node and join the cluster. It has the same resources as o

[2022-02-25 14:17] bashofmann commented on #1390
@tjjh89017 I'll check back with the prospect. This may take a bit of time though.

[2022-02-25 17:28] rebeccazzzz commented on #1650
PR has been created https://github.com/longhorn/longhorn-manager/pull/1233. Longhorn will backport it to 1.2.4. Moving this issue out of the icebox.

[2022-02-25 22:14] #1922 closed, assigned to nobody

[2022-02-26 19:12] BringerOD opened #1943 "[Question] How do you add drives to harvester"
How do you add partition mount disks in harvester?   I am not very familiar with this type of procedure.

Current Steps
* sudo gdisk
* sudo mkfs.ext4 /dev/nvme0n1p1
* sudo mkdir /disk1 - This fails

[code]

I also set "auto-disk-provision-paths" to "dev/nvme*".  Which did not work for me.

Here is what I thought would be relevant.

![image](https://user-images.githubusercontent.com/7971305/1558559

[2022-02-26 19:38] Jellyfrog commented on #1806
Hi

I mostly mean buttons in the webui that you can press to open the console in a external program.
For example vsphere uses vmrc:// links.

Maybe a virt-viewer file and vnc:// link would be good? Not sure what's the modern protocols used there days

[2022-02-28 07:10] #1870 closed, assigned to futuretea

[2022-02-28 11:56] Br4v3St4rr commented on #1730
I seem to have had a similar experience when trying to install Server 2022 from the ISO.  It seems to be due to the Memory allocation.  Anything over 12GB seems to cause the installer to reboot. I'm not sure if this is relative to any underlying resource, RAM Capacity etc.

**To Reproduce**
Steps to reproduce the behaviour:

1. Select "windows-iso-image-base-version" -> Launch Instance from templa

[2022-02-28 12:22] simonflood commented on #1943
Does https://docs.harvesterhci.io/v1.0/host/host/#multi-disk-management-tech-preview help?

[2022-02-28 12:58] jmara commented on #1905
Hi @FrankYang0529,

each Host has 40 CPUs and 256GB Memory. I created 12 test VMs with a total CPU / Memory request of 29 CPUs and 50 GB Memory so all VMs would even fit on one of my nodes.

[2022-02-28 14:33] TachunLin commented on #1924
Verified **fixed** on master-bfd6a8a9-head (02/28). Close this issue.

### Result
Add extra disk in host page now won't display default data disk `/dev/sdb`
![image](https://user-images.githubusercontent.com/29251855/155999062-a63e0d20-188f-490f-9c2a-8dc2443832f6.png)

[code]

### Test Information
* Test Environment: 1 node harvester on local kvm machine
* Harvester version: master-bfd6a8a9-head (

[2022-02-28 14:33] #1924 closed, assigned to weihanglo, TachunLin

[2022-02-28 14:41] WuJun2016 commented on #1702
<img width="1674" alt="image" src="https://user-images.githubusercontent.com/24985926/156002237-79923477-6899-44d8-8a1a-e6a904753105.png">

[2022-02-28 15:18] guangbochen commented on #1818
close in favor of https://github.com/harvester/harvesterhci.io, and now we can add KB article to this repo and please refer to https://docusaurus.io/docs/blog as a reference.

[2022-02-28 15:18] #1818 closed, assigned to nunix

[2022-02-28 16:32] BringerOD commented on #1943
The disks do not show up in the add disk dropdown.

[2022-02-28 16:57] #1779 closed, assigned to futuretea

[2022-02-28 16:58] chajain commented on #1779
Issue resolved

[2022-02-28 17:23] rebeccazzzz commented on #1650
Moving this back to icebox until Longhorn RC

[2022-02-28 18:52] fadjar340 opened #1944 "[BUG] Live Migration to other node then cannot ping"
**Describe the bug**
I tried to live migrate the VM to node2 from node1, after the VM running in node2, then the VM cannot ping inbound or outbound

**To Reproduce**
Steps to reproduce the behavior:
1. Go to VM1 in node1, ping from VM2
2. Ping VM1 from VM2 and reply (OK)
3. Ping VM2 from VM1 and reply (OK)
4. Select Migrate of VM1, then select the node2 as target
5. In Migrate status, ping from VM

[2022-02-28 23:32] yasker commented on #1774
Hi @joshmeranda , can you help to check on this one? You can check with @dweomer on details.

[2022-03-01 00:42] guangbochen commented on #1684
@noahgildersleeve can u please re-check if this can still be reproduced with the latest master version, thanks.

[2022-03-01 01:40] bk201 commented on #1944
@fadjar340 Thanks for reporting. After the VM is migrated, its IP is also changed (you can tell it from GUI). Did you ping the original IP?

[2022-03-01 02:05] abonillabeeche commented on #1882
This issue is very important to handle. It would be strange that kube-virt doesn't know that the VM was requested to be shutdown.

[2022-03-01 02:45] fadjar340 commented on #1944
Hi @bk201, since I tested using 2 mode, static and DHCP, the static IP supposed to be the same as in the previous node. In DHCP, because of the same MAC, it should be use the DHCP lease from the DHCP server.
In the VM, when use static IP, the IP still same but no successful ping. With DHCP, there is no IP get from DHCP server.

It's make frustrated when the IP changed without control... :)

Regard

[2022-03-01 02:50] TachunLin commented on #1770
Can't reproduce the test environment since rke2 deployment stuck in `provisioning` to join url to be available on bootstrap node
It could related to issue https://github.com/rancher/rancher/issues/36716. Move it to implement pipeline

  ![image](https://user-images.githubusercontent.com/29251855/156093343-c1d8339b-5c51-4421-9813-e043fc20cb5d.png)

### Test Information
* Test Environment: 1 node ha

[2022-03-01 03:10] weihanglo commented on #1943
Thanks for the report!

It seems that those disks are virtual disks. Could you add WWN for them? There is a limitation that Harvester currently requires each disk to have WWN in order to determine the uniqueness of the underlying data model.

To help us investigate the issue, it would be better if you can attach your environment information such as Harvester ISO version and underlying infrastructu

[2022-03-01 03:24] tjjh89017 commented on #1882
Note:
need to fully check the VM state and condition

[2022-03-01 06:13] newhuangchuan commented on #371
Hello, does the current `harvester` 1.0 version support installation and deployment under the CPU of arm64 architecture?

I checked the current official documents, only the x86 architecture is supported, is there any plan for the arm64 architecture?

[2022-03-01 07:10] weihanglo commented on #1938
Thanks for filing this!

My impression is that it's [the dashboard web UI blocking users from accessing the dropdown menu](https://github.com/harvester/dashboard/blob/0cdb8432d9a194ea7e13450cd81e0572a3f4bbbb/components/VMConsoleBar.vue#L69-L70). KubeVirt indeed [supports accessing non-running VMs](https://github.com/kubevirt/kubevirt/pull/5399), so IMHO Harvester should provide the same functional

[2022-03-01 07:17] lanfon72 commented on #1800
Verified this feature has been implemented.
![image](https://user-images.githubusercontent.com/5169694/156122252-38385fc1-9139-4680-88b3-dd22d472147c.png)

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-bfd6a8a9-head**

### Verify Steps:
1. Install Harvester with any Nodes
2. Login to Console
3. File `/oem/install/console.log` should contain Installing logs

[2022-03-01 07:17] #1800 closed, assigned to bk201, lanfon72

[2022-03-01 07:18] weihanglo commented on #1938
Hello, @WuJun2016. Is it possible to relax the criteria of disabling the `VMConsoleBar` dropdown? I've tested preserving the web VNC window when the VM is stopped. And it shows only "This Virtual Machine is down" without breaking anything.

![image](https://user-images.githubusercontent.com/14314532/156122552-50f9371f-d330-4de3-97de-ef2ccddf05fd.png)

[2022-03-01 08:24] johnliu55tw commented on #1363
Based on my observation, when kernel parameter `ip=dhcp` is given (which is the case of this issue), dracut would request DHCP IP **twice** for each interface. However, if the first DHCP request failed and the second succeed, dracut **won't call the `livenet` module to retrieve the remote rootfs**. Only when the DHCP request succeeds for the **first try**, it fetches the rootfs.

A workaround is t

[2022-03-01 08:34] erSitzt commented on #1845
Ok so i found this

https://longhorn.io/docs/1.2.3/references/settings/#guaranteed-replica-manager-cpu
https://longhorn.io/docs/1.2.3/references/settings/#guaranteed-engine-manager-cpu

which matches my observation of CPU reservations.. (for replica-manager.. and i guess for engine manager too)

12% of 72 Cores * 1000 = 8640m CPU reservation
12% of 24 Cores * 1000 = 2880m CPU reservation

If those

[2022-03-01 08:39] TachunLin commented on #1829
Verified **fixed** on master-bfd6a8a9-head. (02/27). Close this issue.

### Result
After swapping, devPaths of extra disk are also swapped and the status of disks on "Host" page are healthy and stable

![image](https://user-images.githubusercontent.com/29251855/156134016-2b2a9bf9-a230-49ad-9ba2-db93cab296d2.png)

* Before swap
[code]

* After swap
[code]

### Test Information
* Test Environment: 1

[2022-03-01 08:39] #1829 closed, assigned to weihanglo, TachunLin

[2022-03-01 08:49] w13915984028 commented on #1940
One way to reproduce the `Handler disconnected` is : scale down the `Harvester `POD.

In Harvester, the web browser http request will run through

**Web browser--------------NGINX--------------Rancher POD---------------Harvester POD**

1. Web browser: `Handler disconnected`  is `http get return code 503`
![image](https://user-images.githubusercontent.com/31133476/156134747-e0559e43-b17b-4693-b078-

[2022-03-01 08:56] lanfon72 commented on #1874
Verified not fixed.
disks' status lost.

swapped (vdb 30G, vdc 20G)
![image](https://user-images.githubusercontent.com/5169694/156131786-1df093f5-d976-4461-aed1-0ba27bec4a25.png)

swap back (vdb 20G, vdc 30G)
![image](https://user-images.githubusercontent.com/5169694/156131906-c55cba8a-dcc1-4b8c-bd32-03bd373803ad.png)

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Versi

[2022-03-01 09:25] tjjh89017 commented on #1944
@fadjar340 Do you use VLAN network or Management Network?
Please refer the docs to determine the term [docs](https://docs.harvesterhci.io/v1.0/networking/harvester-network/)

[2022-03-01 09:58] w13915984028 commented on #1940
When investigating, another temp file issue is filed to track:

https://github.com/harvester/harvester/issues/1947
https://github.com/longhorn/longhorn/issues/3682

[2022-03-01 10:55] WuJun2016 commented on #1882
https://kubevirt.io/user-guide/virtual_machines/run_strategies/#runstrategy
![image](https://user-images.githubusercontent.com/24985926/156156499-464601bd-f7b1-4550-81c0-95c63da0a29e.png)

[2022-03-01 12:29] fadjar340 commented on #1944
Hi @tjjh89017 ,

The VM use VLAN Network only. Is it need management network for migration?
I use my own DHCP server inside the VLAN network that bring the IP for my VM's

Regards,
Fadjar Tandabawana

[2022-03-01 13:53] TachunLin commented on #1928
Verified **fixed** on master-bfd6a8a9-head. (2/27). Close this issue.

### Result
During and after restoring a new VM from existing backup. The GUI did not throw error

![image](https://user-images.githubusercontent.com/29251855/156179443-47562b11-0642-4a6b-8199-90c18c9b6705.png)

### Test Information
* Test Environment: 1 node harvester on local kvm machine
* Harvester version: master-bfd6a8a9-he

[2022-03-01 13:53] #1928 closed, assigned to WuJun2016, TachunLin

[2022-03-01 15:40] futuretea commented on #1346
@WuJun2016 backend code has been merged. Need to add an action `cancelExpand` to volume.

[2022-03-01 17:59] richard-cox commented on #1111
@MbolotSuse I heard on the grapevine that you're investigating a ghost cluster issue. I'm not sure if this is related (or possibly https://github.com/rancher/dashboard/issues/4949). There's some discussion in the associated PR https://github.com/rancher/dashboard/pull/4783, but basically it seems on save of a resource in the dashboard multiple versions of that resource are visible. On refresh they

[2022-03-01 18:29] MbolotSuse commented on #1111
@richard-cox Yep I'm looking into it. Any data that I can get helps - thanks for the info. I'm not sure where the issue is quite yet. I'll let you know if there's anything related to the frontend that comes up.

[2022-03-01 19:06] fadjar340 commented on #1944
Is there any workaround to solve this issue?

Regards,
Fadjar T

[2022-03-01 20:08] w13915984028 opened #1947 "[BUG] When Harvester deletes an uploading image, the corresponding temp file is not deleted"
**Describe the bug**

`When Harvester deletes an ongoing uploading image, the corresponding temp file is left uncleared. In worst case, it may occupy all the disk space.`

**To Reproduce**
Steps to reproduce the behavior:

detailed steps are also described in:
https://github.com/longhorn/longhorn/issues/3682

1. Create image (uploading from local file) in Harvester
![image](https://user-images.git

[2022-03-01 21:06] BringerOD commented on #1943
Provider:  Bare metal at Vultr.com

Harvester V1.0:  Latest as of 2/24/2022

DELL PowerEdge C6523

CPU: EPYC 7443P
24 Cores - 48 Threads
RAM:
262144 MB
Storage:
2x 480GB SSD
2x 1.9TB NVMe

[code]

[2022-03-01 23:16] noahgildersleeve opened #1948 "[BUG] Can delete the last host in the hosts list"
**Describe the bug**

You can delete the last host in the hosts list, but it never finishes. It just schedules it for removal
**To Reproduce**
Steps to reproduce the behavior:
1. Create 1 node harvester cluster
2. Log in
3. Navigate to hosts page
4. Delete host
**Expected behavior**

I'm not sure what the desired functionality is here, but here's a few options
1. We could disable the host delete b

[2022-03-02 01:29] DaiYuzeng commented on #1538
@futuretea PR from UI side merged, can you please do a test?

[2022-03-02 01:30] DaiYuzeng commented on #1702
@FrankYang0529  PR from UI side merged, can you please do a test?

[2022-03-02 01:31] FrankYang0529 commented on #1814
Duplicate issue https://github.com/harvester/harvester/issues/1812

[2022-03-02 01:31] #1814 closed, assigned to FrankYang0529

[2022-03-02 01:34] futuretea commented on #1538
@DaiYuzeng  I have done a quick test and will add a test plan later.

[2022-03-02 01:51] DaiYuzeng commented on #1531
@w13915984028 could you please add the doc of the Prometheus configuration on this page? thanks!
https://docs.harvesterhci.io/v1.0/monitoring/monitoring/

[2022-03-02 02:00] tjjh89017 commented on #1944
Please check your network switch config first.
https://docs.harvesterhci.io/v1.0/networking/best-practice-vlan-aware-switch/

[2022-03-02 02:08] DaiYuzeng opened #1949 "[FEATURE] Add VM Access Credential on VM Create Page"
**Is your feature request related to a problem? Please describe.**

- [https://github.com/harvester/harvester/issues/1538](https://github.com/harvester/harvester/issues/1538)

**Describe the solution you'd like**

We need to support users add Access Credentials on VM Create phase and VM Template Create phase.

**Describe alternatives you've considered**

**Additional context**

[2022-03-02 02:28] guangbochen commented on #1111
@WuJun2016 probably can help to provide the detailed re-produce steps, thanks.

[2022-03-02 03:30] yaocw2020 commented on #1676
https://github.com/kube-vip/kube-vip/issues/244

[2022-03-02 03:44] guangbochen commented on #1783
Move this issue to test and since this issue has bumped the kubevirt version, so the following testing cases will need to get covered:

- [x] Install the Harvester with the latest ISO build and verify all of the system components are running properly(`harvester-system, kube-system, longhorn-system & cattle-system`).
- [x] Doing some regression tests, e.g upload an image, create a VM and create a V

[2022-03-02 03:47] guangbochen commented on #1845
thanks @erSitzt for the detailed feedback, on the next version we will be adding both `used` and `reserved` capacity usage for better user visibility. Also will consider adding more related doc or KB articles to the Harvester to help users have a better understanding of the reserved system component usage.

[2022-03-02 05:18] fadjar340 commented on #1944
Hi @tjjh89017 ,

I just use VLAN 1 for my VM's, and the operational VM can access outside network, just the migration and DHCP that have problems.
For my setup, is it necessary to config the switchports following that document?

Following this [https://docs.harvesterhci.io/v1.0/networking/harvester-network/](https://docs.harvesterhci.io/v1.0/networking/harvester-network/), I just need VLAN 1 to as

[2022-03-02 05:24] lanfon72 commented on #1239
@tjjh89017 do we need test this? if so, can you provide test plan?

[2022-03-02 05:31] lanfon72 commented on #1837
For this issue, I think we don't need test it.
@guangbochen should I close it directly?

[2022-03-02 05:37] tjjh89017 commented on #1944
If your switch is VLAN-aware switch, I will suggest to follow https://docs.harvesterhci.io/v1.0/networking/best-practice-vlan-aware-switch/ to config your switch.
and make sure your switch didn't config "private vlan" or ACL

Please also test the ping from VM1 to DHCP server or your gateway and migrate VM1 to another node (don't stop ping)

tks a lot

[2022-03-02 05:45] lanfon72 commented on #1837
closed, the document has been added.

[2022-03-02 05:45] #1837 closed, assigned to futuretea

[2022-03-02 05:53] TachunLin commented on #1728
Verified **PASS** for `Case 1` test scenario in https://github.com/harvester/tests/issues/151

### Case 1: Machines with two or more disks can assign the data disk

- [x] The data disk `/dev/sdb` is mounted to `/var/lib/harvester/defaultdisk/` as the default disk

[code]

- [x] Create a VM and verify Longhorn is storing data into /var/lib/harvester/defaultdisk/

[code]

- [x] Create a huge file in

[2022-03-02 06:33] fadjar340 commented on #1944
I'll try...
Ask the netops guy first, then I;ll come back with the result...

Thanks..

[2022-03-02 06:42] WuJun2016 commented on #1938
@DaiYuzeng   Please help to see in what state websocket can connect.

[2022-03-02 06:49] tjjh89017 commented on #1882
related to https://github.com/kubevirt/kubevirt/issues/7295

[2022-03-02 07:27] lanfon72 opened #1952 "[BUG] unable to setup NFS backup-target"
### Describe the bug
Unable to setup **NFS** backup-target on dashboard. (error message as the snapshot)
Able to mount the backup-target in console.
![image](https://user-images.githubusercontent.com/5169694/156313697-8719dad4-8531-4466-b9bb-1d83a88f4ced.png)

### To Reproduce
Steps to reproduce the behavior:
1. Install Harvester with any node
2. Login to dashboard and setup backup-target with **N

[2022-03-02 07:42] bk201 commented on #1952
This might be related to the [BCI image change](https://github.com/harvester/harvester/pull/1910).

[2022-03-02 07:46] lanfon72 commented on #1824
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/156316552-c726b0d0-995f-47af-b1c8-f9efcff75b06.png)

Test Information
----
* Environment: **Bare metal DL360 3 nodes**
* Harvester Version: **master-bfd6a8a9-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with 2 or more Nodes
2. Create Image for VM creation
3. Create VMs w

[2022-03-02 07:46] #1824 closed, assigned to FrankYang0529, lanfon72, WuJun2016

[2022-03-02 08:28] futuretea commented on #1344
This issue seems to have been solved in favor of https://github.com/harvester/harvester/issues/1553#issuecomment-1048491145

![image](https://user-images.githubusercontent.com/15064560/156324111-0f61573a-4efc-44a9-969e-779cb75caa22.png)

[2022-03-02 08:32] lanfon72 commented on #1702
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/156318244-f7f8e1cc-5fe9-40b4-b087-392ae67e3bf3.png)

Test Information
----
* Environment: **Bare metal DL360 3 nodes**
* Harvester Version: **master-bfd6a8a9-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with any nodes
2. Login to Dashboard, Create Image for VM creation
3

[2022-03-02 08:32] #1702 closed, assigned to FrankYang0529, lanfon72, DaiYuzeng

[2022-03-02 08:43] nunix opened #1953 "`runStrategy` is changed when pressing "Stop" button"
Depending on how we stop the VM, the setting `runStrategy`, when availalbe, will change to a different state than the original one.

Here is two scenarios showing the different behaviors.

**Prerequisites**
- Create/Choose a VM and start it
- Edit the `yaml` config
  - Replace `Spec > running` by `Spec > runStrategy`
  - Set the value to `RerunOnFailure`
  - Save the config

**Working**
- Connect

[2022-03-02 08:45] tjjh89017 commented on #1953
related to kubevirt behavior https://github.com/kubevirt/kubevirt/issues/7295
related to kubevirt PR https://github.com/kubevirt/kubevirt/pull/7294

[2022-03-02 09:10] WuJun2016 commented on #1882
After the frontend uses `runStrategy` instead of `running`, the backend needs to change the following issues：

1.  When the vm state is stop, there should be no stop action in the api's action。
  step:

-   Create/Modify a VM > edit the YAML config
-   Replace the spec.running by spec.runStrategy
[code]
-  stop this vm
-  When the vm is stopped, continuing to click on stop will report an error, (e

[2022-03-02 09:35] tjjh89017 commented on #1239
manual test plan
1. Setup Node VLAN network interface to harvester-mgmt
2. check the harvester-br0 has VIP, don't care about harvester-mgmt
3. modify Node VLAN network interface to another interface.
4. check the harvester-mgmt has VIP, check harvester-br0 will not have VIP.

step 4 is most important to test

Thanks a lot

[2022-03-02 09:38] tjjh89017 commented on #1676
Note:
Load balancer (L4) is different from OpenStack Floating IP (L3).
Need to check the requirement to determine LB or floating ip.

[2022-03-02 09:52] TachunLin commented on #1728
Verified **PASS** for Case 2 test scenario in https://github.com/harvester/tests/issues/151

### Case 2: Machines with two or more disks can choose the same disk as OS and data disk

- [x] A partition labeled `HARV_LH_DEFAULT` is created on the OS disk `/dev/sda` and mounted to `/var/lib/harvester/defaultdisk/`

[code]
- [x] `/var/lib/longhorn` still exists, and Longhorn binaries are stored here.

[2022-03-02 12:09] guangbochen commented on #1759
close in favor of the doc https://docs.harvesterhci.io/v1.0/dev/dev-mode/, feel free to reopen if u encounter any additional issues, thanks.

[2022-03-02 12:09] #1759 closed, assigned to futuretea

[2022-03-02 13:11] futuretea commented on #574
@DaiYuzeng for the UI part: added an action "softreboot" to virtualmachine.

UI prompt:
en: `Soft Reboot`
zh: `安全重启`

[2022-03-02 13:55] w13915984028 commented on #1904
As per the support bundle in issue description, following observation deserves a further discussion.

https://github.com/harvester/harvester/issues/1904#issue-1128947127

https://github.com/harvester/harvester/files/8035677/supportbundle_c2f07121-0b02-46ef-8114-d5867098fd10_2022-02-09T19-34-58Z.zip

[2022-03-02 13:59] w13915984028 commented on #1904
Harvester node running environment:
**12 core CPU with 16G memroy**

**OOM is in kernel log, Harvester (POD) is killed by kernel**

-- Logs begin at Wed 2022-02-09 18:12:09 UTC, end at Wed 2022-02-09 19:35:17 UTC. --
Feb 09 18:12:09 localhost kernel: Linux version 5.3.18-59.37-default (geeko@buildhost) (gcc version 7.5.0 (SUSE Linux)) #1 SMP Mon Nov 22 12:29:04 UTC 2021 (d10168e)
Feb 09 18:12:09 l

[2022-03-02 14:04] w13915984028 commented on #1904
Timeline of what happened.

`The Harvester POD is killed when uploading was ongoing`, that's why the WebUI shows 500 error, and the uploading failed.

![image](https://user-images.githubusercontent.com/31133476/156389145-c12996b1-0729-43e8-88f9-46e331912ffe.png)

![image](https://user-images.githubusercontent.com/31133476/156376382-0fd7de29-878e-4ba2-9181-ab79a17b89bb.png)

[2022-03-02 14:14] w13915984028 commented on #1904
Why OOM?

When networking speed is fast enough (e.g, Harvester and uploading PC are in same/near network),  the networking transport is faster than disk writing, the data will be cached in Harvester POD, that is in memory.  Especially when multi uploading are in parallel.

In my local test, I encountered following message in Harvester POD, it is when Harvester saving data :

[code]

![image](https

[2022-03-02 14:16] w13915984028 commented on #1904
Considering system requirements:

https://docs.harvesterhci.io/v1.0/

![image](https://user-images.githubusercontent.com/31133476/156378633-d107ae9c-3eac-4d56-8bcc-8744441450fa.png)

[2022-03-02 14:27] w13915984028 commented on #1904
Summary:

To reproduce 1904 issue:
1.  Give Harvester node fewer memory, say 16G
2. Has fast networking, the uploading speed is faster than LH image writing
3. Uploading a couple of BIG ISO images in parallel
as long as Harvester POD caches enough uploading data, it is highly possible to reproduce.

Why my test https://github.com/harvester/harvester/issues/1904#issuecomment-1050335273 does not rep

[2022-03-02 14:30] guangbochen commented on #1887
close in favor of https://github.com/harvester/harvester/issues/1531 as already added the `require/doc` label over there.

[2022-03-02 14:30] #1887 closed, assigned to w13915984028

[2022-03-02 14:39] w13915984028 commented on #1904
BTW, the feature here will also help:
https://github.com/harvester/harvester/issues/1154
[FEATURE] Hardware Spec preflight checking in the installer

[2022-03-02 14:50] TachunLin opened #1954 "[BUG] Unable to provision RKE2 cluster from rancher, stuck in provisioning on bootstrap node"
**Describe the bug**

Unable to provision RKE2 cluster from rancher `v2.6-head`, keep in `Provisioning` status with message
This issue exists on both RKE2 `1.22.7+rke2r1` and `1.21.10+rke2r1`

[code]

![image](https://user-images.githubusercontent.com/29251855/156367737-43717d56-b5be-43ac-be52-724a2cc3cd57.png)

Further checking cluster node status in RKE2 VM, it looks like node have taints to pre

[2022-03-02 14:57] futuretea commented on #1538
## test plan:
- Create a VM (include qemu-guest-agent)
- Select the virtual machine's `Edit Config` and click `Access Credentials` to enter the credential tab page.
- The `Access Credentials` tab page is similar to the `Volumes` tab page.
- Similar to adding volumes, users can add multiple credentials.
- Users can add a user/password credential by click button `Add Basic Auth` .
- Users can add a

[2022-03-02 15:08] TachunLin commented on #1823
Currently the verification is blocked since we could not provision RKE2 cluster, it will stuck in provisioning as the following
![image](https://user-images.githubusercontent.com/29251855/156388552-9adbe04f-dfac-468b-9974-ec55544d6e2d.png)

Tracking in harvester issue #1954 related to https://github.com/rancher/rancher/issues/36716

[2022-03-02 15:08] w13915984028 commented on #1154
Even for testing, it is not easy to estimate the exact lower hardware requirements, especially for memory, lower memory may cause OOM, that then leads to things like: VIP is not reachable, system stuck in setting or others, it takes time to do trouble shooting.

Another example is:
https://github.com/harvester/harvester/issues/1904

[2022-03-02 15:15] schmitch commented on #1154
well the thing is, 32gb is a ton of memory. not even vsphere has that amount. esxi only needs 8gig while vcenter needs 10g.

if harvester runs a pod that needs multiple of gig of memory because of an iso upload I would consider that an bug anyway. (never a good idea to cache more than a handful of megabytes in memory for file uploads). i.e. the same bug can be reproduced even if I gave a node 1000

[2022-03-02 15:21] w13915984028 opened #1956 "[BUG] rancher remotedialer pause mechanism seems not working as expected"
**Describe the bug**

Refer #1904
https://github.com/harvester/harvester/issues/1904#issuecomment-1050322077

rancher/remotedialer/
1. `remotedialer ` `pause `mechanism seems not working as expected
2. `remotedialer  ` needs to aggregate the error logging, not each time.

**To Reproduce**
Steps to reproduce the behavior:

In Harvester WebUI, create a couple of image from local file uploading. When

[2022-03-02 15:42] w13915984028 commented on #1154
no worry, when it's bug, we solve the bug, for #1904, a couple of enhancement/digging is ongoing.

my comment, is for your point ` because the requirements are not needed for testing `

[2022-03-02 15:57] schmitch commented on #1154
well most of the time the requirements aren't needed for testing, memory is a thing that happens because of a bigger environment/whatever. but I'm pretty sure that 32gb is not needed for harvester per node and that is why I do not think that having a preflight check is a good idea. disk performance is probably way more important cause of etcd (well I even ran that on a raid 10 with 10krpm disks al

[2022-03-02 18:54] noahgildersleeve commented on #1904
@w13915984028 I retested this with 32GB of memory on my VM. It seemed to work fine. I uploaded both large image files one right after the other and the frontend didn't fail. I attached the support bundle and screenshots. Does this mean that this ticket is OK to close? It seems like the original scope of this ticket isn't the same as what the issue ended up being.
![Screenshot from 2022-03-02 10-50

[2022-03-02 20:56] noahgildersleeve commented on #1553
Tested in Harvester `master-9ecb4f9d-head`. Verified as fixed.
## Verification Steps
1. Create new SLES VM from [image](https://transfer.susedemo.com/share/kiwi/SLES15SP3_20220215_v7.qcow2) with external VLAN
2. Wait for VM to get IP
3. Check amount of time passed
![Screenshot from 2022-03-02 12-54-35](https://user-images.githubusercontent.com/83787952/156448247-3da7baac-e35e-4244-b5b7-885427e2ea9

[2022-03-02 20:56] #1553 closed, assigned to futuretea, noahgildersleeve

[2022-03-02 21:04] noahgildersleeve commented on #1822
Tested in Harvester `v2.6-1d2b7468851553f4b89f8af99d74305af9d1b594-head` with Rancher `v2.6-1d2b7468851553f4b89f8af99d74305af9d1b594-head`.
## Verification Steps
1. Imported Harvester into Rancher
2. Created new opensuse VM from Harvester dashboard via Rancher Virtualization management
3. Checked for status update in VM list
![Screenshot from 2022-03-02 13-02-00](https://user-images.githubusercont

[2022-03-02 21:04] #1822 closed, assigned to johnliu55tw, noahgildersleeve

[2022-03-02 21:31] noahgildersleeve commented on #1799
Tested in Rancher `v2.6-1d2b7468851553f4b89f8af99d74305af9d1b594-head` on docker instance and Harvester `master-9ecb4f9d-head` in single node KVM environment.
## Verification Steps
1. Imported Harvester into Rancher
2. Created cloud credentials
3. Created RKE2 cluster
4. Waited for RKE2 to provision
5. Deleted Harvester cluster
6. Deleted RKE2 cluster

[2022-03-02 21:31] #1799 closed, assigned to FrankYang0529, noahgildersleeve

[2022-03-02 22:22] yasker commented on #1750
@alexarnoldy I am not sure if I get the issue right. Are you talking about Rancher cannot access the VMs created by Harvester? In that case, RKE2 doesn't require ingress traffic to work, since it relies on cloud-init to bring up the Rancher agent on the VMs.

[2022-03-02 22:25] yasker commented on #1751
There are two issues here:
1. Support net booting a VM.
2. Support change boot order after a certain event (e.g. reboot), which is tracked at #1662 .

[2022-03-02 22:27] yasker commented on #1261
@bk201 Do you have an idea how we can implement this? Since the OS image is immutable, does that mean we need to run certain scripts every time the node boots up?

[2022-03-02 22:30] yasker commented on #804
@khushboo-rancher Is this still valid?

[2022-03-02 22:31] yasker commented on #158
@guangbochen Is this issue still valid?

[2022-03-02 22:33] alexarnoldy commented on #1750
Thanks for the response on this. Let me test this out again to see if the issue has changed.

Previously, while deploying an RKE/RKE2/K3s cluster (sorry, I don't remember which it was but I can test it if needed) on Harvester, but on a VLAN that is behind a NAT firewall, the VMs deploy, but then the process stops progressing (from the Rancher UI) with a message that says it's waiting for SSH to be

[2022-03-02 22:41] w13915984028 commented on #1904
Thanks @noahgildersleeve , `the new log proves our analysis`.  In your test, the uploading speed is fairly high

I checked the support bundle, the `Harvester POD` has `59,162 lines of log`, `only lasts 10 seconds, from 18:50:16 to 18:50:26,  all previous logs are overwritten)`

Here we see, the maximum buffer exceed is `1,528,228,071`,  apparently, the peak value could be higher up to 5G. But as t

[2022-03-02 22:45] w13915984028 commented on #1904
@noahgildersleeve
I agree with you that this issue could be closed, all potential enhancements are tracked with new issues, they have connections with 1904.
#1904 gives us a good chance to investigate details and robustness of Harvester, thanks.

[2022-03-02 22:46] khushboo-rancher commented on #804
Not valid, we have https://docs.harvesterhci.io/v1.0/settings/settings/#http-proxy in place already.

[2022-03-02 22:46] #804 closed, assigned to nobody

[2022-03-02 22:55] w13915984028 commented on #1956
Further test brings more evidence:
https://github.com/harvester/harvester/issues/1904#issuecomment-1057466872

the maximum buffer exceed is 1,528,228,071, apparently, the peak value could be higher up to around 5G (the size of ISO file).

[2022-03-02 22:57] w13915984028 commented on #1956
@rebeccazzzz @guangbochen :

We need the help from Rancher remotedialer to investigate, or have a workaround.

[2022-03-02 23:03] yasker commented on #1750
@alexarnoldy In Rancher, RKE1 provisioning requests SSH access, but RKE2 doesn't. Though RKE2 is not GAed yet, it will be soon in the end of March Rancher release.

[2022-03-03 00:01] yasker commented on #1444
@bk201 does this work already?

[2022-03-03 01:45] WuJun2016 commented on #1346
Test step:
Use the latest iso image
1.  Go to "Volumes" page create a volume use 1G
2. edit config,  expand the volume to 99999999G (or any number which would exceed the system limit)
3. The volume status will show `resizing` (yellow)
4.  click  `cancelExpand`
<img width="1450" alt="image" src="https://user-images.githubusercontent.com/24985926/156478549-75e426da-d746-4b00-89ef-5f2147399e17.png">

[2022-03-03 02:05] newhuangchuan commented on #371
Hello, both `kubevirt` and `longhorn` have supported arm64 architecture and can be deployed. Can harvester support deployment on servers with arm64 architecture?

[2022-03-03 02:31] bk201 commented on #1444
No, `DHCLIENT_SET_HOSTNAME` is disabled by default in OpenSUSE. I'd suggest we add a configuration field in [network configuration](https://docs.harvesterhci.io/v1.0/install/harvester-configuration/#installnetworks) to turn this feature on specified networks.
The [document](https://docs.harvesterhci.io/v1.0/install/harvester-configuration/#oshostname) @Jellyfrog mentioned is a legacy from k3os, I

[2022-03-03 04:28] FrankYang0529 commented on #1730
Hi @Br4v3St4rr, thanks for the information. I also can reproduce this issue if I request RAM more than 12G.

From the system log, it's an OOM issue. The real memory request for a VM is not only from users but also from various [VM resources](https://kubevirt.io/user-guide/virtual_machines/virtual_hardware/#memory-overhead), such as a video adapter, IOThreads, etc. Although KubeVirt controller has

[2022-03-03 04:33] johnliu55tw commented on #1952
The container for running the webhook is missing the package `nfs-client`, thus the command failed.

[2022-03-03 04:48] bk201 commented on #1952
@johnliu55tw Does this mean we can remove the `nfs-client` package in the backend container image?
It's a bit weird before switching to BCI base image, we seems not install NFS stuff in the webhook container image: https://github.com/harvester/harvester/commit/9c2461f610f3f984f2f1887ffe94db71303a9ee3#diff-49ccf96bb66e42627b495efc688852146c1f0aca84f508c6dc67d97e55c91198

[2022-03-03 05:30] tjjh89017 commented on #1882
note:
need to modify
https://github.com/harvester/harvester/blob/master/pkg/api/vm/formatter.go#L161-L167

detect VM and VMI status according different runStrategy

[2022-03-03 05:35] johnliu55tw commented on #1952
@bk201 The `mount` command in the old image can mount NFS. I think busybox supports that.
[code]

As for whether backend container needs the `nfs-client`, I need to do some further checks.

[2022-03-03 07:08] johnliu55tw commented on #1363
Hi @alexdepalex are you still facing this issue? Or has the fix for https://github.com/harvester/harvester/issues/1590 solved it in your case?

[2022-03-03 07:10] woodrow-shen opened #1958 "[Question] is it valid to run rancher installation under Harvester?"
Hi,

The version of Harvester: v1.0.0

From the Harvester doc[1][2], it looks like the following command is possibly run under existed Harvester cluster:

[code]
And then, I got the output which had an error:

[code]
I executed as root, and am not sure if it's as expected or not.

[1] https://docs.harvesterhci.io/v1.0/rancher/rancher-integration/
[2] https://docs.harvesterhci.io/v1.0/rancher/virtu

[2022-03-03 07:24] TachunLin commented on #1728
Verified **PASS** for Case 3 test scenario in https://github.com/harvester/tests/issues/151

### Case 3: Machines with only one disk cannot choose data disk

- [x] A partition labeled `HARV_LH_DEFAULT` is created on the OS disk `/dev/sda` and mounted to `/var/lib/harvester/defaultdisk/`

[code]
- [x] `/var/lib/longhorn` still exists, and Longhorn binaries are stored here.

[code]

### Test Informa

[2022-03-03 07:26] lanfon72 commented on #1239
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/156516561-49d8a953-8b3f-4e98-8e25-d71c0ac08ee5.png)

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-9ecb4f9d-head**
* **ui-source** Option: **Auto**

### Verify Steps:
based on https://github.com/harvester/harvester/issues/1239#issuecomment-1056684361

[2022-03-03 07:26] #1239 closed, assigned to tjjh89017, lanfon72

[2022-03-03 07:54] bk201 commented on #1958
Are you trying this in Harvester nodes? Harvester's OS doesn't ship with docker. The docker command is an wrapper to the nerdctl command. Maybe that's the reason causes command failure.

[code]

And harvester has its own embedded rancher, you might not want to run another one.

[2022-03-03 09:42] TachunLin commented on #1728
### Case 4: Test the validator

Both OS disk and data disk share the same validation criteria: **Soft limit = 140G and hard limit = 60G:**

#### ISO installer scenarios
|  | OS Disk  | Data Disk |
| ------------- | ------------- | ------------- |
| < Soft limit | Test 4-1: `PASS` | Test 4-2: `PASS` |
| < Hard limit | Test 4-3: `PASS` | Test 4-4: `PASS` |

- [x] Test 4-1: installer will show a warn

[2022-03-03 09:47] woodrow-shen commented on #1958
Thanks, it's clear for me to close.

[2022-03-03 09:47] #1958 closed, assigned to nobody

[2022-03-03 10:29] guangbochen commented on #1658
We are now setting the `/var/lib/rancher/rke2/etc/config-files/cloud-provider-config` as the default cloud-config file path of both CSI and Harvester CCM chart so it will be compatible with RKE2. If the above-provided path is not found the [code](https://github.com/harvester/harvester-csi-driver/commit/5700629c292bf005e3c5042553ee1fedc654e5e6) will check the path `/etc/kubernetes/cloud-config`  ag

[2022-03-03 10:30] bk201 commented on #1261
@yasker We can hook user-provided scripts to these cOS-tookits' [stages](https://rancher-sandbox.github.io/cos-toolkit-docs/docs/customizing/stages/#after-install):
- after-install
- after-install-chroot
- after-upgrade
- after-upgrade-chroot

There are also `before-` stages.

[2022-03-03 11:56] Shaharyar-Shaukat opened #1959 "[Question] Any work around for Issue 1356 | failed to install harvester using USB"
I face similar issue [1356](https://github.com/harvester/harvester/issues/1356) while trying to install harvester using USB stick.
After installing Harvester  and enabling UEFI, the hard drive does not show up as a boot option in the boot menu.

Machine Used:-
Celsius M730 Xeon E5-2650v2 2.60GHz

[2022-03-03 14:27] bk201 commented on #1959
@Shaharyar-Shaukat After Harvester is installed, could you bring up the boot menu of BIOS and select try select the ESP (by unplugging the USB stick first)?
It might look like: https://docs.harvesterhci.io/v1.0/install/usb-install/#when-booting-from-a-usb-installation-flash-drive-a-grub-_-text-is-displayed-but-nothing-happens
The key is to select the partition, not the disk.

If there is still no

[2022-03-03 14:28] guangbochen commented on #1730
According to [kubevirt-memory-overcommit](https://kubevirt.io/2018/KubeVirt-Memory-Overcommit.html), I think we should support both overcommit and under-commit because it is hard for the webhook to predict the user's OS or resource expectations.
By default, we should keep doing [under-commit action](https://github.com/harvester/harvester/blob/dba8594007123b89d5e54509ed80543b173d2375/pkg/webhook/re

[2022-03-03 14:44] guangbochen commented on #1775
This issue is partially addressed via https://github.com/rancher/rancher/pull/36493 with adding node metrics view capability to cluster members using rancher v2.6.4-head.

Cluster members will not be able to view monitoring metrics by default by the admin can grant additional permission per https://github.com/harvester/harvester/issues/1775#issuecomment-1010555971.

[2022-03-03 15:38] TachunLin commented on #1739
Verified **fixed** on `master-dba85940-head` (3/3) for both bare metal and kvm. Close this issue.

### Result
* Can correctly create vlan cluster network from harvester create config.

* Can apply the vlan to all nodes
![image](https://user-images.githubusercontent.com/29251855/156595844-ab68d44c-d082-424d-9b61-654c44124d86.png)

* Can edit the vlan settings without error
![image](https://user-ima

[2022-03-03 15:38] #1739 closed, assigned to tjjh89017, yaocw2020, TachunLin

[2022-03-03 15:51] yasker commented on #1261
Thanks @bk201 . What's the use case in your mind regarding the feature? Need to understand how big the impact would be. Also, will the failure of the script due to e.g. missing package result in the system failing to boot up?

[2022-03-03 19:14] yasker commented on #1904
@w13915984028 @noahgildersleeve I feel we should keep this issue since this is what does the user see in the end. Whatever fix in #1955 or #1956 should be considered as a part of this issue. We're narrowing down this issue but haven't fixed it yet. I would prefer us to close it only when the user won't be impacted by the issue. cc @rebeccazzzz

[2022-03-03 21:40] w13915984028 commented on #1940
The analysis to first support bundle in this issue:

[supportbundle_f3da3adc-2aef-401f-beaa-bb13ac005b1c_2022-02-24T22-59-06Z.zip]

rke2-server.log
**21:17:31**
**rke2-server started**
![image](https://user-images.githubusercontent.com/31133476/156657146-2d05744e-9ce8-476a-96b4-ec8484b018c8.png)

[2022-03-03 21:45] w13915984028 commented on #1940
**21:20:27**

**rke2 restarted**

**Harvester (PID 14362) and its owner Tini (PID 14321) were here, the new rke2-server service reused them**

[code]

![image](https://user-images.githubusercontent.com/31133476/156657471-c8fb561e-8f13-4097-8390-eeac1b5e7a2b.png)

![image](https://user-images.githubusercontent.com/31133476/156657692-17407e35-099b-4aa0-9c44-1a35ffabaa19.png)

![image](https://user-i

[2022-03-03 21:50] w13915984028 commented on #1940
**22:53:33**
**rke2 server restart again**

Notice the tricky thing: **Harvester (PID 14362) is NOT here, but its owner Tini (PID 14321) was here**

[code]

Feb 24 22:53:33 harvester-master systemd[1]: rke2-server.service: Main process exited, code=exited, status=1/FAILURE

![image](https://user-images.githubusercontent.com/31133476/156658120-f27ad99c-c1b8-43d7-946f-db2f4a54d114.png)

Only `tini`,

[2022-03-03 21:56] w13915984028 commented on #1940
The timeline:

![image](https://user-images.githubusercontent.com/31133476/156659258-5dc6eeb0-573a-44f4-8a4c-2f9c2a1f7320.png)

[2022-03-03 22:09] w13915984028 commented on #1940
Summary:

1. both #1904 and #1940 were tested in similar environment: 12 Core,16G RAM,    uploading has incredible fast speed

2. when uploading, Harvester POD was caching big amount of data due to super fast networking speed (possible KVM virtualized network), the available memory was reducing quickly

in #1904,  kernel had OOM log that Harvester process was killed.

in #1940, RKE2-server happene

[2022-03-03 22:12] noahgildersleeve opened #1961 "[BUG] When adding a user via text in access control settings you can get an error"
**Describe the bug**

You can add an invalid user to Access credentials page to
**To Reproduce**
Steps to reproduce the behavior:
1. Create a new VM
2. Edit config of VM
3. Go to access credentials
4. Add new SSH credential
5. Enter invalid user
6. Select valid SSH key
7. Hit save
8. You get an error
9. Click in username
10. Click the invalid username
11. Click Save
**Expected behavior**

You shou

[2022-03-03 22:15] w13915984028 commented on #1940
Due to the similar test environment and test steps, #1940 is also highly possible due to the low system available memory.

Next steps to investigate:

1. Why `RKE2-server` restarted as per `"leaderelection.go:301] Failed to release lock: Operation cannot be fulfilled on configmaps "rke2"`

2. Why `Harvester `process exited silently without any kernel/rke2 log, logrus log was also lost/not effectiv

[2022-03-03 22:34] w13915984028 commented on #1904
Good to keep this root issue (#1904) open.

#1956 looks to be the key, and #1940 can also get benefits from #1956

[2022-03-03 22:39] noahgildersleeve commented on #1538
What is the expected behavior if I add an SSH key to the cloud init via the VM creation then add another SSH key for that same user via access controls? I also have the same question about expected behavior with the cloud init and password. You can set passwords via cloud init with something like
[code]

[2022-03-03 23:53] datallboy commented on #1792
I also have this issue. Attempting to install on a Dell Precision T7600. Tried with a NVIDIA Quadro 4000.

Display appears to be 1920x1080.

[2022-03-04 01:20] futuretea commented on #1538
@noahgildersleeve
1. If no conflict, both cloud-init, and access credentials take effect
2. if conflict, access credential has higher priority.

[2022-03-04 02:20] WuJun2016 commented on #1346
@futuretea  The frontend pr has been merged, please help test it and move it to ready-for-testing,  thanks.

[2022-03-04 02:23] WuJun2016 commented on #1839
Hi, @weihanglo  The frontend pr has been merged, please help test it and move it to ready-for-testing.  thanks.

[2022-03-04 02:27] WuJun2016 commented on #1430
According to the discussion, fixing in https://github.com/harvester/harvester/issues/1839.    cc @weihanglo

[2022-03-04 03:34] guangbochen commented on #1430
@janeczku @belgaied2 from the UI, we consider supporting provisioning raw block devices directly as extra disks; partition devices can only be added via the API or using the kubectl. If that's reasonable we may close this issue in favor of duplicate with https://github.com/harvester/harvester/issues/1839, thanks.

[2022-03-04 03:53] WuJun2016 opened #1962 "[BUG] login with member role, the harvester dashboard page does not display correctly."
**Describe the bug**

The user login with the member role,   Entering the harvester cluster, the dashboard page reports an error
![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/f7a8cffc-8eb3-4a68-a537-4f8bacaf7393)
**To Reproduce**
Steps to reproduce the behavior:

  1. login with member role
  2. click Virtualization Management menu
  3. Select a harvester cluster to en

[2022-03-04 04:12] tjjh89017 commented on #1882
sub topic
- [ ] UI display error (it should be off state)
- [ ] off VM should not have stop action
- [ ] backup/restore will not keep `runStrategy`

[2022-03-04 04:21] FrankYang0529 commented on #1730
@guangbochen, from [KubeVirt webhook source code](https://github.com/kubevirt/kubevirt/blob/f8160a0b5eac2acafab74fd7916bfcaf0c39a6a3/pkg/virt-api/webhooks/validating-webhook/admitters/vmi-create-admitter.go#L1307-L1325), I don't think we can request `domain.memory.guest` more than `requests.limits.memory` as the article.

For [`overcommitGuestOverhead`](https://github.com/kubevirt/kubevirt/blob/f8

[2022-03-04 06:43] DaiYuzeng opened #1964 "[Enhancement] Error message enhancement on the monitoring dashboard"
**Describe the bug**

#### Parent issue https://github.com/harvester/harvester/issues/1531
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'

**Expected behavior**

Prometheus configuration has been editable after #1531 fixed.
We should enhance the error message on the monitoring of dashboard on this issue.

**Support bundle**

**Environment:**
 - Harvester ISO version:
 - Underlyin

[2022-03-04 08:00] DaiYuzeng commented on #574
PR from UI side merged, could you do a test, if there isn't any issue, move this issue to `Ready for testing`, thanks! @futuretea

[2022-03-04 08:01] DaiYuzeng commented on #574
And could you confirm the checklist, thanks! @futuretea

[2022-03-04 08:08] lanfon72 commented on #1952
Verified this bug has been fixed.

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **master-dba85940-head**
* **ui-source** Option: **Auto**

### Verify Steps:
Same as **Steps to reproduce** in https://github.com/harvester/harvester/issues/1952#issue-1156652264

[2022-03-04 08:08] #1952 closed, assigned to johnliu55tw, lanfon72

[2022-03-04 08:12] lanfon72 commented on #1344
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/156724543-820a86c8-e289-4962-bcbd-60f84a79c839.png)
![image](https://user-images.githubusercontent.com/5169694/156724562-b080f6af-b91e-4601-86ed-0835d4d25b2b.png)

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **v1.0.0 master-dba85940-head**
* **ui-source** Option: **A

[2022-03-04 08:12] #1344 closed, assigned to lanfon72, futuretea

[2022-03-04 09:11] FrankYang0529 commented on #1730
We will need UI to add an Advanced Option `Reserved memory` after https://github.com/harvester/harvester/pull/1965 is merged. Thanks.

[2022-03-04 09:19] futuretea commented on #574
Test plan:
1. Create a VM
2. Waiting for the VM to become `Ready`
3. Exec the `softreboot` action through `Soft Reboot`
![image](https://user-images.githubusercontent.com/15064560/156735325-33434831-6f80-49f8-9f56-a93f2a91a1ac.png)
4. The VM will be rebooted (user can see that from console)

[2022-03-04 10:46] Shaharyar-Shaukat commented on #1959
@bk201 In the boot menu, there is no option for UEFI boot partition on the USB device, there is only option for  USB device itself.

[2022-03-04 11:19] TachunLin commented on #1728
Verified **PASS** for `Case 5` test scenario in https://github.com/harvester/tests/issues/151

### Case 5: Assigning data disk using install.data_disk Harvester config

- [x] Can assign data disk `/dev/vdb` from harvester create-config file

- [x] The data disk `/dev/sdb` is mounted to `/var/lib/harvester/defaultdisk/` as the default disk

[code]

- [x] Create a VM and verify Longhorn is storing d

[2022-03-04 12:26] lanfon72 commented on #1846
Moved to _**Implement**_, same problem as https://github.com/harvester/harvester/issues/1770#issuecomment-1049669061 and following comments.

[2022-03-04 12:29] lanfon72 commented on #574
@futuretea do we also implement _soft shutdown_ function? Or will it be implemented in another issue?

[2022-03-04 14:15] futuretea commented on #574
@lanfon72 according to https://github.com/harvester/harvester/issues/574#issuecomment-878978345 and https://github.com/harvester/harvester/issues/574#issuecomment-1059199246, our `Stop` action already  is soft shutdown

[2022-03-04 14:23] futuretea commented on #574
The current logic for restart is："set termincationGracePeriod and delete the VMI pod to trigger a forced restart"

For the new `softreboot` action, it doesn't need to rebuild pod, no pod IP change, no need to reschedule, remount storage, faster restart time.

[2022-03-04 16:26] bk201 commented on #1261
@yasker The use cases might be:
- Additional packages. Standalone binaries are easy to install in the persistent partition (/usr/local). But using zypper is not possible without turning RW mode after Harvester is installed.
- Install drivers that we don't ship. Proprietary/vendor drivers for special hardware. This is not easy to maintain, imagine after an OS upgrade, the user needs to run the same

[2022-03-04 16:46] yasker commented on #1261
Thanks @bk201 . We will put this in the long-term plan for now.

[2022-03-04 17:15] alexarnoldy commented on #1750
@yasker, I hadn't noodled it out far enough, but now that you mention it, I think I submitted this request before Rancher could provision RKE2/K3s clusters. Around the same time I switched to primarily using a routed network for Harvester nodes, so I no longer saw the issue. I guess the future of this request depends on the future of RKE vs. RKE2. Being able to edit the SSH command that would be u

[2022-03-04 17:20] alexarnoldy commented on #1751
I can see how https://github.com/harvester/harvester/issues/1662 would be important to this request in the long term, however, it seems like an early access option could, potentially, be included that provides a boot order drop-down for each network, defaulted to zero. There could be a warning added that tells the user that they will need to change the boot order on the network and root volume aft

[2022-03-04 17:39] yasker commented on #1750
Thanks for clarifying @alexarnoldy . I will close this issue for now. Feel free to file a new issue (maybe on the Rancher side) or reopen this issue in the future if needed.

[2022-03-04 17:39] #1750 closed, assigned to nobody

[2022-03-04 19:30] rebeccazzzz commented on #1650
Longhorn v.1.2.4 RC1 is available. Moving this issue out of the icebox and into implement. https://github.com/longhorn/longhorn/releases/tag/v1.2.4-rc1

[2022-03-05 00:27] noahgildersleeve commented on #1954
I tested this and it looks like it's an issue with 1.22.7 not 1.21.10. @TachunLin Could you check too when you get a chance?

[2022-03-06 08:27] WuJun2016 opened #1967 "[BUG] access credentials is empty"
**Describe the bug**

![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/f9b8fe44-5df3-4935-bab5-0562e6a1f4b3)

**To Reproduce**
Steps to reproduce the behavior:
1.  create a vm  （need Install quem-guest-agent）
2.  When the vm is successfully created, edit the vm, click access Credentials tab
3.  click `add basic Auth`,   add user,  Enter an invalid user  (e.g:  user:  text

[2022-03-06 13:02] n313893254 opened #1968 "[BUG] "Default version" doesn't work on Modify template page"
**Describe the bug**

"Default version" doesn't work on Modify template page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Advanced -> Templates
2. Select a template (e.g. windows-iso-image-base-version), select "Modify template" on the right side menu
3. Checked "Default version"
4. Click the save button

**Expected behavior**

The new template should be the default version

**Envir

[2022-03-06 14:04] TachunLin commented on #1954
Hi @noahgildersleeve ,
I have checked can provision RKE2 cluster on latest rancher `v2.6-head` (`33db2f5`) with `1.21.10+rke2r1`.
Thank you for the follow up reminder

![image](https://user-images.githubusercontent.com/29251855/156926447-0046d0bd-da70-4965-a795-287f91a9b5a0.png)

![image](https://user-images.githubusercontent.com/29251855/156926066-a6dfaf9c-8843-4f3d-a233-8191546ee08d.png)

### Te

[2022-03-07 02:49] tjjh89017 commented on #1882
note:
restore
https://github.com/harvester/harvester/blob/master/pkg/controller/master/backup/restore.go#L517
https://github.com/harvester/harvester/blob/master/pkg/controller/master/backup/restore.go#L752

[2022-03-07 04:16] Vanlius opened #1969 "[Question]The NTP address is required for deployment？"
I deploy Harvester on a LAN and cannot connect to the extranet.
If I need to enter the NTP service address, can't I skip some options during deployment?
How to skip if you can.

[2022-03-07 04:21] bk201 commented on #1969
@Vanlius I believe you can press enter again to skip the NTP dialog in the installer. NTP server is not a hard requirement to install Harvester, but we highly recommend it.

[2022-03-07 04:58] Vanlius commented on #1969
thsnks，have been passed.

[2022-03-07 04:58] #1969 closed, assigned to nobody

[2022-03-07 05:30] tjjh89017 commented on #1705
Note:
VMI will enter status `Phase: Failed`
VM will enter status `Stopped`

[2022-03-07 06:34] lanfon72 commented on #574
Verified this feature has been implemented.

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-da3f1778-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with any nodes
2. Create Image for VM creation
3. Create a VM and wait until its state becomes **Running**
4. Open Web VNC and login to the VM
5. Click **Soft Reboot** function i

[2022-03-07 06:34] #574 closed, assigned to lanfon72, DaiYuzeng, futuretea

[2022-03-07 06:37] FrankYang0529 commented on #1954
I get different results for different OS with different RKE2 versions.

|       | 1.21.10+rke2r1    | 1.22.7+rke2r1                         |
|-------|-------------------|---------------------------------------|
| Focal | Work              | RKE2 starts but has NoSchedule taint. |
| JeOS  | etcd can't start. | RKE2 starts but has NoSchedule taint. |

### JeOS with 1.21.10+rke2r1

I can fix this on

[2022-03-07 06:42] weihanglo commented on #1936
UI Changes required:

- Make the input field `Path` immutable or hidden. The value of the mount path becomes an implementation detail for the backend.
- `spec.fileSystem.mountPoint` is not required for sending requests to the backend when adding/updating blockdevice CR. Any value of it will be ignored by the backend afterward, so I guess the logic of computing mount path can be removed.

![image](

[2022-03-07 06:54] tjjh89017 commented on #1705
@khushboo-rancher need your help to confirm.
Could you please describe the reason and purpose to use `iptables -P <FILTER_NAME> DROP` to test?
Thanks a lot.

If node is disconnected and re-connected, kubevirt virt-controller will kill VMI and restart it, kubelet will try to kill the pod but stuck in killing stage.

[2022-03-07 07:17] tjjh89017 commented on #1705
[code]

[2022-03-07 07:42] tjjh89017 commented on #1705
[code]

[2022-03-07 07:48] lanfon72 commented on #1839
Verified this feature has been implemented.

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **master-da3f1778-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with Any Nodes which had raw disk (including WWN)
2. Login to Dashboard then Click *Edit Config* of the host
3. Navigate to Disks, raw disks should be displayed in the dropdo

[2022-03-07 07:48] #1839 closed, assigned to lanfon72, weihanglo, n313893254

[2022-03-07 08:06] lanfon72 opened #1970 "[FEATURE] update error message when adding new disks"
### The problem
When adding a partitioned disk, the error message is useless to guide user to go the right way.
![image](https://user-images.githubusercontent.com/5169694/156990821-8f2b730f-2dbe-464d-92ba-5e8ae7d740ef.png)

The background information is https://github.com/harvester/harvester/issues/1839#issuecomment-1049516424
User can NOT add any partitions but raw disk, so if there have a partit

[2022-03-07 08:07] weihanglo commented on #1795
This should be fixed once #1718 is resolved.

[2022-03-07 08:38] tjjh89017 commented on #1705
workaround:
force kill the pod, kubevirt will recreate the VM.
`kubectl delete pod virt-launcher-XXX-XXX --force --grace-period=0`

[2022-03-07 09:27] n313893254 commented on #1767
I also see the `KMODE exception not handled` error, which might block by the [issue](https://github.com/harvester/harvester/issues/276)

Next, I will use ubuntu to verify the EFI mode.

[2022-03-07 09:59] TachunLin commented on #1954
Confirmed I encounter the same result as @FrankYang0529 https://github.com/harvester/harvester/issues/1954#issuecomment-1060241440 (On rancher `v2.6-head`)

* On 1.22.7+rke2r1, we `can't` provision RKE2 cluster with `both` `Ubuntu cloud focal` and `SLES JeOS` images
* On 1.21.10+rke2r1, we `can` provision RKE2 cluster on `Ubuntu focal`
* On 1.21.10+rke2r1, we `can't` provision RKE2 cluster on `SLE

[2022-03-07 10:02] guangbochen commented on #1954
We can convert the `SLES JeOS` issue into a separate one, and this will require proper upstream fix from the SUSE JeOS team, thanks.

[2022-03-07 10:11] yaocw2020 commented on #1895
Test plan before RKE2 release:
- Use harvester node driver to spin up an RKE2 cluster with harvester-cloud-provider.
- Delete the old harvester-csi-driver manually.
![image](https://user-images.githubusercontent.com/7421463/157011002-94ed1be4-d734-4b6b-9e6d-f1242bff7081.png)
- Install the latest version by helm manually.
[code]

[2022-03-07 10:23] guangbochen commented on #1895
@TachunLin @lanfon72 @noahgildersleeve since both RKE2 and Rancher KDM release cycle is much longer than our dev-complete cycle, I think we should verify those issues AEAP if we can. And if there are any bugs we can fix them before the KDM release, WDUT thanks.

If the manual verification is passed we can move it to the `ice-box` and run a full-regression test once the RKE2/KDM is released, thanks

[2022-03-07 10:42] TachunLin opened #1973 "[BUG] Stuck in provisioning RKE2 cluster for SLES JeOS image, nodes starts but has NoSchedule taint."
**Describe the bug**

Unable to provision RKE2 cluster with **SLES JeOS** image on `rancher v2.6-head`. for kubernetes version

- v1.22.7+rke2r1
- v1.21.10+rke2r1

RKE2 stuck in Provisioning status with message

[code]

Further checking cluster node status in RKE2 VM, it looks like node have taints to prevent component to finish deployment.
[code]
[code]

**To Reproduce**
Steps to reproduce the be

[2022-03-07 10:42] FrankYang0529 opened #1974 "[BUG] Can't deploy RKE2 1.21.10+rke2r1 with JeOS"
**Describe the bug**
When we deploy RKE2 `1.21.10+rke2r1` on JeOS, we can't start the cluster. If we use `crictl ps -a`, there is no container.

**To Reproduce**
1. Setup Harvester cluster.
2. Run Rancher `v2.6-head`.
3. Import Harvester cluster to Rancher.
4. Import Image `SLES15-SP3-JeOS.x86_64-15.3-OpenStack-Cloud-GM.qcow2` to Harvester.
5. Create 1-node RKE2 `1.21.10+rke2r1` with JeOS on Harve

[2022-03-07 10:45] FrankYang0529 commented on #1974
Duplicate with https://github.com/harvester/harvester/issues/1973. Close this one.

[2022-03-07 10:45] #1974 closed, assigned to nobody

[2022-03-07 10:48] n313893254 commented on #1767
Verified EFI mode enabled as expect for ubuntu

<img width="1066" alt="image" src="https://user-images.githubusercontent.com/18737885/157016433-34911eea-55c5-45fb-9f66-34d04fc46201.png">

[2022-03-07 11:04] TachunLin commented on #1823
Checked with @FrankYang0529, currently this issue can be reproduced only on SLES JeOS image `SLES15-SP3-JeOS.x86_64-15.3-OpenStack-Cloud-GM.qcow2`.

Currently the verification is blocked since we can' provision RKE2 for SLES JeOS on latest rancher `v2.6-head`
Thus we create a separate issue #1973 to track the follow up fix.

[2022-03-07 13:06] 0x1001u commented on #1873
I had the same issues. but clean the bios with clk_cmos jumper not work for me! any other way?

[2022-03-07 13:18] TachunLin commented on #1531
Verified **not fixed** on `master-da3f1778-head` (03/07). Move to implement pipeline.

### Result

Under default cpu/memory limit in harvester-monitoring setting (No limit)

- While creating the second SLES VM, the ssh connection to management node broken,
  - The monitoring pod `prometheus-rancher-monitoring-prometheus-0` display `Init:0/1`

[code]
  ![image](https://user-images.githubusercontent

[2022-03-07 13:29] guangbochen commented on #1531
see proper workaround https://github.com/harvester/harvester/issues/1887#issuecomment-1038605654, please check if the similar UI config will work, thanks.

[2022-03-07 13:43] w13915984028 commented on #1531
The "Requested Memory" should keep unchanged (as 750Mi) ,  it is empty now, will lead to 0 memory for the POD. It is the minimum memory to a POD, that is why it stays in "Init" state.

Not sure why this field is empty @TachunLin , intended test input or happened to be empty?

Backend does not add webhook to check those potential abnormal values yet. It is more for the user to have a convenient way

[2022-03-07 13:51] TachunLin commented on #1968
Verified **fixed** on master-da3f1778-head (3/07). Close this issue.

### Result
When we modify the template to create a new version, after checking `default version`
The new created template will be set as default

![image](https://user-images.githubusercontent.com/29251855/157045906-cd32af97-a634-4942-b7ff-62050487729d.png)

### Test Information
* Test Environment: 3 nodes harvester on local kvm

[2022-03-07 13:51] #1968 closed, assigned to WuJun2016, TachunLin

[2022-03-07 14:07] TachunLin commented on #1531
@w13915984028,
The requested memory and memory limit field are by default empty once after harvester installation complete.
No intended input change until I saw the monitoring pod change to `init state`

![image](https://user-images.githubusercontent.com/29251855/157049055-870b9d07-f638-4159-a259-5a4f4a548879.png)

I noticed that while creating the second VM, my ssh connection to harvester node br

[2022-03-07 15:15] elegasoft commented on #1873
Did you try jumping CLR_CMOS multiple times back to back? Are you on the same motherboard? If so, I can go through exactly what BIOS/UEFI settings worked for me.

[2022-03-07 15:28] TachunLin commented on #1895
Verified the workaround `before RKE2 release` **works** on rancher `v2.6-head` (33db2f5) with `v1.21.10+rke2r1`
Move issue to ice box for follow up regression test.

@guangbochen, @yaocw2020
I would suggest maybe we can add this workaround to harvester document

### Result
Delete the old harvester-csi-driver manually and manually helm install latest version.
harvester csi driver can be deployed co

[2022-03-07 15:53] 0x1001u commented on #1873
I did three times jumping clr_cmos.now it work. but I don't know why...

[2022-03-07 15:54] 0x1001u commented on #1873
thanks!!!

[2022-03-07 16:25] w13915984028 commented on #1531
A "static" test with master-head version da3f1778d.

![image](https://user-images.githubusercontent.com/31133476/157073335-78c34616-2bb4-4082-b508-740bc619deb2.png)

`Default value in WebUI`
![image](https://user-images.githubusercontent.com/31133476/157073379-40cdec78-4feb-4304-b2ff-d948e6169bf7.png)

`Default value of the running POD`, there is a long chain of config from ManagedChart to POD, ex

[2022-03-07 16:31] w13915984028 commented on #1531
@TachunLin @guangbochen @FrankYang0529

The failure in @TachunLin test, I am suspecting it may be related to CPU overcommit .

In the test environment, there are 3 nodes` Test Environment: 3 nodes harvester on local kvm machine`  (looks to be 16GB each?) ,  , all of them are management nodes,  @TachunLin  also mentioned `While creating the second SLES VM, the ssh connection to management node brok

[2022-03-07 16:34] w13915984028 commented on #1531
@TachunLin as we discussed, please test via:
1. Check if only change resource setting will work, not mixing with VM deployment
2. Test via a 4+node environment,  thus the guest VM will be deployed in the worker node first, then watch the resource usage of harvester-monitoring.  or 3-node/1-node with at least 32GB memory per node.

[2022-03-07 23:14] khushboo-rancher commented on #1705
@tjjh89017 We need to test some general problematic scenarios where users have disruption in network due to any software/hardware problem. So, for testing purpose to reproduce it I've used `iptable drop`

[2022-03-08 00:21] noahgildersleeve commented on #1684
Tested in Harvester `master-da3f1778-head` and Rancher `v2.6-3f9109c3f3a1ea482f66f7e3700e495d36517e10-head`.
## Verification steps
1. Import Harvester into Rancher
2. Provision RKE1 cluster in Harvester
3. Check if you still have connectivity with Harvester, Rancher, and RKE1
![Screenshot from 2022-03-07 16-18-51](https://user-images.githubusercontent.com/83787952/157140717-286412fd-c52a-49d7-a548

[2022-03-08 00:21] #1684 closed, assigned to noahgildersleeve

[2022-03-08 00:42] emilyastranova commented on #1902
My team and I are having the exact same issue. Really don't want to reimage since this machine has been going for a week now and there's a lot of data on it...

[2022-03-08 00:51] rebeccazzzz commented on #1161
Please refer to this document https://docs.harvesterhci.io/v1.0/dev/dev-mode/ and feel free to ask again if you still have any issues.

[2022-03-08 00:51] #1161 closed, assigned to futuretea

[2022-03-08 01:29] noahgildersleeve commented on #1697
Closing as already verified

[2022-03-08 01:29] #1697 closed, assigned to yaocw2020, noahgildersleeve

[2022-03-08 02:39] guangbochen commented on #1973
The SLES JeOS does not contain the `apparmor` library which is needed for the RKE2 and containerd,
To provision a guest k8s cluster with the provided SLES image, you can expand `Show Advanced` tab and add the following `cloud-init` script to install required packages.
[code]

Additionally, let's keep eye on the upcoming JeOS image which will add the `apparmor` package by default in its newer versi

[2022-03-08 05:48] lanfon72 commented on #1718
Failed Cases in https://github.com/harvester/harvester/issues/1718#issuecomment-1000710949 has been resolved (#1745).

@guangbochen, the qemu/KVM environment can not reproduce the bug, we probably need others to help on this.

[2022-03-08 06:08] lanfon72 commented on #1346
Verified this bug has been fixed.
For **case b**, user need to remove the volume before execute `Cancel Expand`.

case a:
![image](https://user-images.githubusercontent.com/5169694/157176667-4c08198c-31d3-4b5f-91f4-96a47c66a63f.png)

case b:
![image](https://user-images.githubusercontent.com/5169694/157176929-3264a235-bcc3-4ded-8ff3-43c8055fe65a.png)

Test Information
----
* Environment: **qemu/KV

[2022-03-08 06:08] #1346 closed, assigned to lanfon72, futuretea, WuJun2016

[2022-03-08 06:13] guangbochen commented on #1718
@lanfon72 we may ask for some verification support after the `v1.0.1-rc1 release`, should be fine to keep this one on the testing stage.

[2022-03-08 07:19] guangbochen opened #1975 "[FEATURE] Add ipxe example script to the release assets"
**Describe the solution you'd like**
Add ipxe script example to the Harvester release assets for quick reference, it is better to get from the https://github.com/harvester/ipxe-examples repo and replace it with a correct version.

**Describe alternatives you've considered**
N/A

**Additional context**
example of the ipxe script
[code]

[2022-03-08 07:43] tjjh89017 commented on #1523
@marcuspocus1 if update firmware will not help, please re-open this issue
thanks a lot

[2022-03-08 07:43] #1523 closed, assigned to tjjh89017

[2022-03-08 07:44] tjjh89017 commented on #1618
Please refer to the docs page about [VLAN network best practice](https://docs.harvesterhci.io/v1.0/networking/best-practice-vlan-aware-switch/)
We will close this ticket.
If you still have some question about this, feel free to re-open the ticket
thanks a lot

[2022-03-08 07:46] tjjh89017 commented on #1858
Please refer to docs page [VLAN Network Best Practice](https://docs.harvesterhci.io/v1.0/networking/best-practice-vlan-aware-switch/)
If you have further question, feel free to re-open this ticket
thanks a lot

[2022-03-08 07:46] #1858 closed, assigned to tjjh89017

[2022-03-08 08:02] sazhufa commented on #1699
I think this relate to the network time protocol (NTP) version.

- [Windows Time Service provides NTPv3](https://docs.microsoft.com/en-us/windows-server/networking/windows-time-service/how-the-windows-time-service-works#ntp-time-provider)
- chronyd provides NTPv4&v3
- ntpd provides NTPv5&v4 (or v3 ?)

I deloyed a chronyd 4.2 shipped by openSUSE-TW, but chronyd does not response the NTPv5 request,

[2022-03-08 08:12] weihanglo commented on #1943
Hi, could you provide the support bundle by following [this guide]? It may help us identify the problem. Thanks!

[this guide]: https://docs.harvesterhci.io/v1.0/troubleshooting/harvester/#generate-a-support-bundle

[2022-03-08 08:25] weihanglo commented on #1902
Hi. Sorry I cannot spot anything weird from your description at this moment. Do you able to produce a minimal reproducible example or steps?

Also, it would be better if you can share the config `/oem/harvester.config` from the node with us. (Note that you need to redact fields such as sshauthorizedkey and passwrod)

[2022-03-08 08:30] lanfon72 commented on #1874
Verified not fixed.

swapped with WWN (sda 30Gi, sdb 20Gi), error message displayed
![image](https://user-images.githubusercontent.com/5169694/157196642-2c7c99bf-b0a0-486e-8ab9-b0b355faca38.png)

swapped without WWN (vdb 30Gi, vdc 20Gi), error message NOT displayed, but the size **incorrect**.
![image](https://user-images.githubusercontent.com/5169694/157196872-8cb0f93b-8d6f-43ce-8d16-5b79295bffca

[2022-03-08 09:17] lanfon72 commented on #1874
update the case:

swapped with WWN (sda 30Gi, sdb 20Gi, WWN be bound with the filename), same as _without WWN_ case
![image](https://user-images.githubusercontent.com/5169694/157205705-5d8c1974-2f0c-41aa-b749-fdc7368e34a5.png)

[2022-03-08 09:25] weihanglo commented on #1874
For this case, in fact, the size and the mount point match. You can compare the info from console and from dashboard. It's the `Name` field in the dashboard incorrect. The name is fixed once you plug in the disk. And subsequent swapping or re-plugging won't change the value. It is a **known** bug that is confusing but won't affect any actual operations.

I plan to address this in the next iteratio

[2022-03-08 09:31] lanfon72 commented on #1874
According to

The functionality works as expected, and we will address UI's bug in another issue, so close this issue.

[2022-03-08 09:31] #1874 closed, assigned to lanfon72, weihanglo

[2022-03-08 10:03] FrankYang0529 commented on #1973
@guangbochen, it looks like the above cloud-config still has error. I update it to the following and it can work.

[code]

[2022-03-08 11:11] weihanglo opened #1976 "[BUG] The `Name` of the extra disk in the dashboard does not match the actual device path"
**Describe the bug**
The `Name` field of extra disks does not match the actual device path on the system. This often happens by swapping the slots of disks.

**To Reproduce**
Steps to reproduce the behavior:
1. Prepare a harvester cluster (single node is sufficient)
1. Prepare two additional disks and format both of them.
1. Hotplug both disks and add them to the host via Harvester Dashboard ("Hos

[2022-03-08 11:27] w13915984028 commented on #1887
Doc PR:
https://github.com/harvester/docs/pull/124

[2022-03-08 11:54] WuJun2016 opened #1977 "[BUG]. clone volume has an error attach vm"
**Describe the bug**

If volume `a `is already used by VM `test`, then if you clone this volume to `b`, the UI will show that volume `b` is also used by VM `test`

![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/f180ebf6-d412-4771-a3c6-f8785210d03a)
**To Reproduce**
Steps to reproduce the behavior:
1. create a vm （e.g:   name:  test）
2. go to volume page,   Select a volu

[2022-03-08 12:46] emilyastranova commented on #1902
Unfortunately I had to wipe that machine yesterday, those are in production so that was painful to lose all of that data. The rke2 server was failing to start with errors like "authorization failed, bad handshake", a root ssh connection failure in journalctl logs, 503 Internal Server error and we couldn't get kubectl to run after that of course so I wasn't able to generate a support bundle.

My se

[2022-03-08 13:42] TachunLin commented on #1823
Verified **fixed** on master-088a020f-head. (03/06) with Rancher `v2.6-head`. (`33db2f5`). Close this issue.

### Result
* We can scale pool up by clicking + to add node to RKE2 cluster by node driver
![image](https://user-images.githubusercontent.com/29251855/157243631-19d64790-f726-41ca-83f9-80740852035c.png)
![image](https://user-images.githubusercontent.com/29251855/157244484-05552ad7-9b3d-497

[2022-03-08 13:42] #1823 closed, assigned to FrankYang0529, TachunLin

[2022-03-08 13:51] WuJun2016 opened #1978 "[BUG] Delete the edit feature of the backup details page"
**Describe the bug**

The edit feature here is redundant for the user
![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/c4e3bf17-a6a8-4b18-ac92-f68ed6289d0a)
**To Reproduce**
Steps to reproduce the behavior:
1. go to backup page
2. Click the existing backup to enter the details page

**Expected behavior**

Remove the config option from the details page

**Support bundle**

[2022-03-08 21:23] joshmeranda commented on #1774
Finally was able to reproduce with help from @dweomer. I'll start drilling to find a cause for this

[2022-03-09 01:19] META-DREAMER commented on #1891
I'm using the latest version of Rancher

Is it because I'm running Harvester as a VM?

[2022-03-09 02:00] tuijs opened #1979 "[BUG] VM management"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Virtual Machines'

**Expected behavior**

1. If the vm has `two network interface`, the 'IP Address' `just display the first`.
![image](https://user-images.githubusercontent.com/6123279/157357039-9509bce2-e47e-456a-9f85-a5bcd9dcaf4d.png)
2. `The filter can not search the IP address`
![image](https://user-images.githu

[2022-03-09 02:03] iamwlb opened #1980 "[Question]how to access minio"
harvest use minio to storage.
i want know how to access minio and manage the file in minio?

[2022-03-09 02:06] iamwlb opened #1981 "[Question]how to communicate from pod to VM"
in the default namespace.
1. i create a pod and a vm.
2. create a pod-svc and vm-svc.
but how to communicate from pod to vm?

[2022-03-09 02:29] guangbochen commented on #1034
close in favor of the harvester CI as we didn't encounter a similar issue nowadays.

[2022-03-09 02:29] #1034 closed, assigned to w13915984028

[2022-03-09 02:37] bk201 opened #1982 "[BUG] upgrade_manifest enhancements"
**Describe the bug**

In [upgrade_manifest](https://github.com/harvester/harvester/blob/master/package%2Fupgrade%2Fupgrade_manifests.sh) stage, we bump Rancher and ManagedChart versions. There are several things that needed be done here to smoothen the upgrade.

- Wait for Rancher ready
  - Wait for rancher, fleet, and system-upgrade-controller pods to be upgraded.
  - After this, we need to ensur

[2022-03-09 02:46] bk201 opened #1983 "[BUG] Upgrade: rancher-monitoring charts can't be upgraded"
**Describe the bug**

This was observed after https://github.com/harvester/harvester-installer/pull/229.
`rancher-monitoring` and `rancher-monitoring-crd` ManagedCharts fail to upgrade.
The message is `another operation (install/upgrade/rollback) is in progress`.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a 1.0.0 cluster.
2. Upgrade with master ISO.

**Expected behavior**

[2022-03-09 03:03] bk201 opened #1984 "[BUG] Upgrade: after draining the first node, the upgrade is stuck"
**Describe the bug**

This was observed after https://github.com/harvester/harvester-installer/pull/229.

After pre-hook and drain of the first node are done, the upgrade is stuck because post-hook annotation is not set on plan secret.

The cluster has this condition:
[code]

And from rancher log:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a 1.0.0 cluster
2. Upgrade with m

[2022-03-09 03:15] bk201 opened #1985 "[BUG] Upgrade: agent nodes turn into NotReady during upgrading Harvester chart"
**Describe the bug**

During bumping Harvester ManagedChart, I see the agent node becomes NotReady.

rke2-agent log of agent node:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a 1.0.0 cluster.
2. Upgrade with master ISO.

** More context **

It might be VIP temporarily unavailable during the upgrade.

[2022-03-09 03:52] guangbochen commented on #1954
~~This issue is currently blocked by https://github.com/rancher/rancher/issues/36716 and requires RKE2 with v1.22.x  to bump its `calico-typha` to tolerate `node.cloudprovider.kubernetes.io/uninitialized` when a cluster has cloud-provider enabled.~~
Should be fixed via https://github.com/harvester/harvester/issues/1999 with the newest KDM release of Rancher v2.6.4.

[2022-03-09 05:41] DaiYuzeng opened #1986 "[BUG][Multiple Cluster]Project Member cannot create resources in harvester-public ns"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Template Create Page
2. Switch to harvester-public namespace
3. Create Template faile

webhook throw errors
[code]

**Expected behavior**

1. Member role could create resources in harvester-public namespace

**Support bundle**

**Environment:**
 - Harvester ISO version:
 - Underlying Infrastructure (e.g. Baremetal wit

[2022-03-09 06:04] FrankYang0529 commented on #1767
Verified on master-head harvester. Both windows-2019 and windows-2022 can work with EFI.

[2022-03-09 06:08] DaiYuzeng commented on #1986
Project Members only have `Read-Only` permission in `harvester-public`.

[2022-03-09 08:33] bk201 commented on #1984
Rancher team is aware of this and is fixing it.

[2022-03-09 09:05] lanfon72 commented on #1650
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/157408769-c00660d3-524a-4e1a-8c9b-8727753c847e.png)

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-fd872c99-head**
* **ui-source** Option: **Auto**

### Verify Steps:
- Follow the steps in https://github.com/harvester/harvester/issues/1650#issuecomment-1024612633

[2022-03-09 09:05] #1650 closed, assigned to FrankYang0529, lanfon72

[2022-03-09 09:07] lanfon72 commented on #1977
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/157409110-f9ae97eb-28ef-449a-8714-130d0b86840a.png)

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-fd872c99-head**
* **ui-source** Option: **Auto**

### Verify Steps:
- follow **steps to reproduce** in https://github.com/harvester/harvester/issues/1977#issue-11625

[2022-03-09 09:07] #1977 closed, assigned to lanfon72, WuJun2016

[2022-03-09 09:16] lanfon72 commented on #1967
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/157410162-053ac0ac-8182-48b2-b8c8-e74a060b14c1.png)

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-fd872c99-head**
* **ui-source** Option: **Auto**

### Verify Steps:
- follow **steps to reproduce** in https://github.com/harvester/harvester/issues/1967#issue-11605

[2022-03-09 09:16] #1967 closed, assigned to lanfon72, DaiYuzeng

[2022-03-09 12:06] WuJun2016 opened #1987 "[BUG] stop VM, the state of the VM changes to VM error, pause a vm, an inappropriate message will be displayed in the vm list"
**Describe the bug**

1. Stop a running vm, the vm status will have an error intermediate state，
![image](https://user-images.githubusercontent.com/24985926/157437312-a56da312-ecf4-4827-9df8-1cc58693d21f.png)

2. pause a vm, an inappropriate message will be displayed in the vm list
![image](https://user-images.githubusercontent.com/24985926/157438405-7cd34679-1ab9-4a4f-b331-a506db22ac78.png)

**To

[2022-03-09 12:16] WuJun2016 commented on #1987
After @FrankYang0529  investigation, it may be caused by the following lines of code (kubevirt)

https://github.com/kubevirt/kubevirt/blob/f8160a0b5eac2acafab74fd7916bfcaf0c39a6a3/pkg/virt-controller/watch/vm.go#L726-L727

https://github.com/kubevirt/kubevirt/blob/f8160a0b5eac2acafab74fd7916bfcaf0c39a6a3/pkg/virt-controller/watch/vmi.go#L821-L831

https://github.com/kubevirt/kubevirt/commit/2d13c8

[2022-03-09 12:30] TachunLin commented on #1728
Case 6 test scenario in https://github.com/harvester/tests/issues/151 is blocked.
since currently the zero downtime upgrade from 1.0.0 GA is pending on  `Job has reached the specified backoff limit`

Move issue back to read to test pipeline and verify this test scenario again in the next zero downtime attempt.

![image](https://user-images.githubusercontent.com/29251855/157440850-b2bb837c-a769-440

[2022-03-09 12:30] fadjar340 commented on #1944
Hi all,

After I asked the network guys and they change the config of the switch, everything works seamless.

Thanks for the suggestion...

Regards,
Fadjar T

[2022-03-09 13:56] TachunLin commented on #1852
Verified on `master-fd872c99-head` (03/09). Found a truncation on upgrade dashboard and an enhancement suggestion.
Move it to implement pipeline.

@bk201, @WuJun2016, I suggest we can improve them to provide better user experience WDUT.

### Result
1. The rancher version value truncated and exceed the panel
  ![image](https://user-images.githubusercontent.com/29251855/157442425-852df417-2b58-4fc4-

[2022-03-09 15:27] bk201 commented on #1852
@WuJun2016 We can use condition `Completed` field to indicate overall status:
- `Unknown`: on-going.
- `False`: Fail
- `True`: Success

@TachunLin The rancher version is shorter in formal releases, I guess it's OK to keep what it is.

[2022-03-09 15:51] TachunLin commented on #1770
Verified **not fixed** on `master-088a020f-head` (03/09) with Rancher v2.6-head (47c2238).
Move the issue to implement stage.

### Result
The load balancer deployment stuck in `pending` status with `wait ip timeout error`.
Load balancer name: `rke2-cluster-1211-one-node-defult-ingress-nginx-controller-prod` (63 characters, exceed will display error message)

![image](https://user-images.githubuser

[2022-03-09 16:45] bk201 opened #1988 "[CI] Collect helpful information on a Vagrant installation test failure"
**Describe the bug**

The vagrant installation test in the harvester-installer project is triggered on each PRs to test the cluster deployment.
But it doesn't output useful information if a test fails. For example https://ci.harvesterhci.io/job/harvester-vagrant-installation-test/278/

We can improve this by collecting node logs, screenshots of VNC, support bundles, etc.

[2022-03-10 01:24] WuJun2016 commented on #1695
The frontend has merged, waiting for the backend code to merge.

[2022-03-10 02:00] guangbochen commented on #1658
@bashofmann close as the proposed solution will be fixed on the https://github.com/harvester/harvester/issues/1895, feel free to reopen this one if u have any further questions, thanks.

[2022-03-10 02:00] #1658 closed, assigned to yaocw2020

[2022-03-10 02:04] tjjh89017 commented on #1944
@fadjar340 good news!
if possible, could you share to us what the network guys did to fix this issue?
thanks a lot

[2022-03-10 02:41] DaiYuzeng opened #1989 "[BUG]VM created by VM Template with Access Credentials use the same secret"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Create a VM A
2. Add Access Credentials to VM A
3. Generate VM Template
4. Create VM B via the VM Template
5. The VM B created by VM Template use the same secret to VM A

**Expected behavior**

VM created by VM Template could create secrets correctly

**Support bundle**

**Environment:**
 - Harvester ISO version:
 - Underly

[2022-03-10 03:00] fadjar340 commented on #1944
@tjjh89017 ..

The network guys just add mac address of the harvester into the config each of the switch interface as follow:
![image](https://user-images.githubusercontent.com/1247073/157579739-23003e68-c424-47e1-bc02-dc19e7e80bbf.png)

The mode still in access mode, not in trunk mode, because I need only single subnet to handle my requirement.

Regards,
Fadjar T

[2022-03-10 03:02] tjjh89017 commented on #1944
it seems your switch disable mac learning or enable port security.
it will be fixed mac and port mapping in switch, so if you migrate VM, switch will not allow it.
thanks for sharing!

[2022-03-10 04:30] FrankYang0529 commented on #1987
Failure message in stop-action: https://github.com/kubevirt/kubevirt/pull/7340

[2022-03-10 07:18] tjjh89017 commented on #1059
related KB PR: https://github.com/harvester/harvesterhci.io/pull/26

[2022-03-10 07:55] guangbochen opened #1992 "[FEATURE] Need to support RWX of Harvester CSI Driver"
**Describe the bug**
Failed to deploy the Neuvector on the guest k8s cluster spin-up by the Harvester RKE2 node driver.

**To Reproduce**
Steps to reproduce the behavior:
- Rancher -> Node Driver deploy Harvester Cluster ( 1master , 3 workers)
- upgrade harvester-csi-driver helm chart with correct cloud config path “/var/lib/rancher/rke2/etc/config-files/cloud-provider-config”
- deploy Neuvector w

[2022-03-10 08:27] lanfon72 commented on #1767
verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/157618821-f15aa2e0-09ad-4344-90df-467034168643.png)

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **master-fd872c99-head**
* **ui-source** Option: **Auto**
* **Virtio-win ISO**: https://fedorapeople.org/groups/virt/virtio-win/direct-downloads/stable-virtio/virtio-win.

[2022-03-10 08:27] #1767 closed, assigned to FrankYang0529, lanfon72, n313893254

[2022-03-10 08:50] bk201 opened #1993 "[BUG] Unable to join a cluster"
**Describe the bug**

This was observed after https://github.com/harvester/harvester-installer/pull/229.
Harvester installer vagrant tests might fail because the second node can't join the cluster.
Example: https://ci.harvesterhci.io/job/harvester-vagrant-installation-test/279/console

I also repro this once in my local virtual machine envrionment.

**To Reproduce**
Steps to reproduce the behavior

[2022-03-10 09:34] TachunLin commented on #1770
This issue will be fixed at the latest harvester cloud provider version bumped to next rancher release.
Currently we can use the workaround to manually upgrade cloud provider image to `0.1.2` to make load balancer work even with long pod name.
Move this issue to ice box and add it to the regression test for next rancher release with harvester testing.

![image](https://user-images.githubuserconten

[2022-03-10 10:03] lanfon72 commented on #1730
Verified this bug should be fixed. (Based on the comment https://github.com/harvester/harvester/issues/1730#issuecomment-1054181984)

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **master-fd872c99-head**
* **ui-source** Option: **Auto**
* **Virtio-win ISO**: https://fedorapeople.org/groups/virt/virtio-win/direct-downloads/stable-virtio/virtio-win.iso
* Windows

[2022-03-10 10:03] #1730 closed, assigned to FrankYang0529, lanfon72, DaiYuzeng

[2022-03-10 10:21] lanfon72 commented on #276
encountered this error when testing #1730 with large CPUs allocated(over-committed).

The Node:
![image](https://user-images.githubusercontent.com/5169694/157640862-9c8d9e60-7cb3-4931-97fb-8c47d2d852fc.png)

The VM:
![image](https://user-images.githubusercontent.com/5169694/157641360-1772d12e-df40-41d6-a169-9b409d10b5a9.png)

The VM can successfully boot into OS occasionally, but most time, hit _K

[2022-03-10 10:28] ziyi-bear opened #1994 "[Question] About kubeconfig (String) harvester kubeconfig in terraform"
I have study the configuration on tereaform, but i cant figure out how to use kubeconfig as a string. Is this means to convert the kubeconfig as single line string? Or as json format?

 Try to move some server from exsi to harvester, i have manage to installed it, but still stuck at terraform, thanks

[2022-03-10 11:18] DaiYuzeng commented on #1989
We remove the access credentials yaml if the VM is created by VM Template, need to enhance it in 1.0.2

https://github.com/harvester/harvester/issues/1949

[2022-03-10 12:59] guangbochen opened #1995 "[FEATURE] Switch Harvester CSI driver base image to SLE BCI"
**Is your feature request related to a problem? Please describe.**
Switch Harvester CSI driver base image to SLE BCI as It's maintained much better than e.g. alpine.

**Additional context**
refer to: https://github.com/harvester/harvester/issues/1868

[2022-03-10 13:04] guangbochen commented on #1868
Close as a majority of the Harvester components is migrated to use the SLE BCI image, during the Harvester v1.0.1 regression test we should be able to verify if it will cause any side effects.

[2022-03-10 13:04] #1868 closed, assigned to bk201, guangbochen

[2022-03-10 13:14] belgaied2 opened #1996 "[FEATURE] Adding a raw disk in Harvester should recognize if the disk was previously partitioned/formatted by Harvester"
**Is your feature request related to a problem? Please describe.**
Following on the issue https://github.com/harvester/harvester/issues/1839 , it is important to make Harvester recover raw devices that were partitioned/formatted in a previous Harvester installation.

**Describe the solution you'd like**
Cluster failures can happen, and Harvester re-installations as well. Raw devices that are added

[2022-03-10 14:34] w13915984028 commented on #1695
Update:
Harvester will wait for a solution from Longhorn, then re-adapt. Move back to design now.

@DaiYuzeng @WuJun2016 @guangbochen

[2022-03-10 14:35] TachunLin commented on #1808
Verified **fixed** on `master-fd872c99-head` (03/09) with Rancher `v2.6.4-rc6`. Close this issue.

### Result
Can provision Harvester RKE2 cluster in Rancher under air gapped environment with proxy server.
![image](https://user-images.githubusercontent.com/29251855/157668972-32eaf3bb-a980-4b52-b208-f3449e536b6b.png)

![image](https://user-images.githubusercontent.com/29251855/157679857-ba3fb6cf-0d

[2022-03-10 16:18] joshmeranda commented on #1774
Looks like this is a result of the failing pod for the provisioning job. When rancher creates a new cluster it starts a job. If the cluster does not report back that it is running after 10 minutes (120 attempts with 5s interval) the pod's status is set to `Error`, the job is left uncompleted, and the cluster pod left in `ContainerCreating`.

When you try to delete the cluster, rancher sees that th

[2022-03-10 16:35] w13915984028 commented on #1956
compare the source code:
`Harvester v1.0.1 master-head`
/go/src/github.com/harvester/harvester/vendor/github.com/rancher/remotedialer/readbuffer.go

`rancher v2.6.3-harvester1`
commit 3c1d5fac... (HEAD -> fix1904-debug, tag: v2.6.3-rc11, tag: v2.6.3-harvester1, tag: v2.6.3)
/go/src/github.com/rancher/rancher/vendor/github.com/rancher/remotedialer/readbuffer.go

![image](https://user-images.githubu

[2022-03-10 16:42] yasker commented on #1774
@joshmeranda what's the exact type of `HarvesterMachine` resource @janeczku mentioned in the issue? This looks like a Rancher issue instead of the Harvester node driver issue per your description.

[2022-03-10 16:45] w13915984028 commented on #1956
https://github.com/rancher/remotedialer/commits/master/readbuffer.go
![image](https://user-images.githubusercontent.com/31133476/157711911-10252fb3-a4fb-4b35-8ad5-bfa0aedfaa13.png)

![image](https://user-images.githubusercontent.com/31133476/157712330-d4e67844-ad5f-493e-8ef7-c107657921e9.png)

[2022-03-10 16:53] w13915984028 commented on #1956
rancher v2.6.3-harvester1 go.mod:
	github.com/rancher/remotedialer v0.2.6-0.`20210318`171128-d1ebd5202be4

rancher release/v2.6 go.mod:
	github.com/rancher/remotedialer v0.2.6-0.`20220120`012928-4ea2198e0966

harvester go.sum
[code]

[2022-03-10 16:59] w13915984028 commented on #1956
summary:

The root cause is: The Rancher version used by Harvester v1.0.1 master/head ( `rancher v2.6.3-harvester1` ) has a lower version of `remotedialer`, which did not support `pause` mechanism, that's why data is flooding to Harvester, even though the `pause` message is sent to Rancher POD.

@guangbochen @yasker @rebeccazzzz
We should check the comping new version of Rancher has `remotedialer`

[2022-03-10 17:00] joshmeranda commented on #1774
@yasker The rancher job, and the pod on the harvester cluster are both left without being cleaned up. Once rancher sees the unfinished complete job it looks like it ignores the related resources.

I think it depends on what approach makes the most sense. If we are going to change how we handle unfinished create jobs when deleting clusters thats a rancher issue, but if we want to change how we hand

[2022-03-10 18:15] yasker commented on #1996
@belgaied2 Can you lay out the steps that you think how it should work? I am not sure even with the current Harvester v1.0 release, there is any way for a reinstalled Harvester node to recognize previous data on the node.

[2022-03-10 18:47] yasker commented on #1872
Based on the internal discussion, we will produce a guideline first to achieve this feature using the existing functionality of Rancher. The basic idea is to create a project/namespace in Harvester with quota and allow users to use it for 3rd party monitoring purposes.

[2022-03-10 18:49] rsguru opened #1997 "[BUG] Dashboard UI time out does not work as expected."
**Describe the bug**
The dashboard UI time out does not work as expected. If you leave for a while opened in your browser, the dashboard won't give you time out ( log you out), but it will give you an error on anything that you want to modify or create. The error message also very limited with not much information there. The error message that gives to you is: {data:} in read on the bottom left si

[2022-03-10 18:52] noahgildersleeve commented on #1808
Re-opening issue. Issue was validated in a proxied environment, not an airgapped environment. For a valid airgapped environment you need to setup an airgapped environment as outlined [here](https://rancher.com/docs/rancher/v2.6/en/installation/other-installation-methods/air-gap/). This includes a [private registry](https://rancher.com/docs/rancher/v2.6/en/installation/other-installation-methods/ai

[2022-03-10 19:48] yasker opened #1998 "task: use nested virtualization in Harvester for Harvester dev/QA"
Assuming having access to a few powerful machines, to best utilize those machines for Harvester dev/QA, we're working on using nested virtualization within Harvester to spin up new VMs as Harvester nodes.

## Environment
An existing Harvester cluster, with multiple nodes. Each node will have at least 24 cores/48 threads, and 256GB memory or more.

The operator will have the Kubeconfig file to acce

[2022-03-10 19:49] Oats87 commented on #1993
@guangbochen What is the health of the cluster? Are you able to `kubectl get pod -A` in it to figure out if everything came up correctly?

If the `cattle-cluster-agent` does not come up cleanly, the CAPI controllers + v2prov controllers will be unable to continue paving the cluster into place.

[2022-03-10 20:13] yasker commented on #1956
@w13915984028 Does Rancher v2.6.4-rc have it? It's RC8 now.

[2022-03-10 20:43] w13915984028 commented on #1956
@yasker Rancher v2.6.4-rc4 has it.
`v2.6.4-rc4`
https://github.com/rancher/rancher/blob/v2.6.4-rc4/go.mod
	github.com/rancher/remotedialer v0.2.6-0.`20220120`012928-4ea2198e0966

[2022-03-10 23:56] thedadams commented on #1993
The issue here seems to be that system-agent can't communicate with the Rancher server. This is the last log in the file for system-agent:
[code]
I am not entirely sure why that would happen. If I understand correctly, system-agent is running on the same machine as the Rancher management cluster. I know that `rancherd` sets the Rancher cluster to use host port, so maybe that is causing an issue?

[2022-03-11 02:00] FrankYang0529 opened #1999 "[BUG] harvester-cloud-provider rely on CNI to communicate with host"
**Describe the bug**
`harvester-cloud-provider` needs to wait for CNI to be ready, so it can communicate with the host. However, `harvester-cloud-provider` only communicates with host to get some provider metadata, so we should use `hostNetwork: true`.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup master-head harvester cluster.
2. Setup rancher v2.6.4-rc6.
3. Import harvester cluster

[2022-03-11 02:00] FrankYang0529 commented on #1999
cc @guangbochen

[2022-03-11 02:31] bk201 commented on #1993
@Oats87 The pods look good.
[get_all.txt](https://github.com/harvester/harvester/files/8228489/get_all.txt)

Do you mean rancher-system-agent? it's stuck with a connection error:
[rancher-system-agent.log](https://github.com/harvester/harvester/files/8228514/rancher-system-agent.log)

[code]

[2022-03-11 02:32] bk201 commented on #1993
Just want to add this doesn't always happen. In most of my deployments, the joining works.
But it's more easily to happen in our CI test.

[2022-03-11 02:41] guangbochen commented on #1956
We are bumping the embedded Rancher to v2.6.4-rc8 now via https://github.com/harvester/harvester-installer/pull/244, but the existing one of the master-head versions should only contain a few commit differences.

[2022-03-11 05:06] WuJun2016 commented on #1987
`Paused` will be enhanced on the frontend, and the `stop` problem will be fixed by the back end.
cc @FrankYang0529

[2022-03-11 05:43] tjjh89017 commented on #1953
according to https://kubevirt.io/user-guide/virtual_machines/run_strategies/#virtctl
![image](https://user-images.githubusercontent.com/2821179/157809119-7766d7fb-f0cf-41cb-b56b-0a3332b0763e.png)

Kubevirt will stop VM with RerunOnFailure with Halted.
Kubevirt didn't have any plan to change the Strategy policy at this stage.
Put this to icebox first.

[2022-03-11 05:51] tjjh89017 commented on #1882
@nunix could you help us to test `runStrategy: Manual` in your previous test?
`runStrategy: RerunOnFailure` didn't work as we expected. (and they put this behavior in [docs](https://kubevirt.io/user-guide/virtual_machines/run_strategies/#virtctl))

Kubevirt VM with `runStratedy: Manual` will be more close to other VM's behavior in other hypervisors.
We could choose `runStrategy: Manual` by default

[2022-03-11 07:14] futuretea commented on #1994
@ziyi-bear just use the path of your kubeconfig file, such as `/home/ubuntu/.kube/config`

[2022-03-11 08:06] TachunLin commented on #1783
Verifying with `master-75cc3ced-head` (03/11).

- [x] Kubevirt image bump to the newer version: **`0.49.0-2`**

[code]

- [x] All of the system components are running properly

* harvester-system pods running correctly without error
* kube-system pods running correctly without error
* longhorn-system pods running correctly without error
* cattle-system pods running correctly without error

[2022-03-11 08:29] n313893254 opened #2001 "[BUG] Project view shows another project resouces"
**Describe the bug**

Project view shows other project resources.

<img width="1573" alt="image" src="https://user-images.githubusercontent.com/18737885/157829881-4035c961-3743-4477-983a-53b74e549a74.png">

 Related manual test case: https://harvester.github.io/tests/manual/harvester-rancher/11-create-project-harvester/

**To Reproduce**
Steps to reproduce the behavior:
1. Create a project named "

[2022-03-11 08:47] WuJun2016 commented on #1430
Close the issue, because https://github.com/harvester/harvester/issues/1839 has already closed

[2022-03-11 08:47] #1430 closed, assigned to n313893254

[2022-03-11 08:49] lanfon72 commented on #1654
@rebeccazzzz, @guangbochen I think this issue can be closed directly(as the KB already merged), but it seems **Docs** pipeline has been removed?
I don't think QA needs to validate such issues (like this one), but in the current pipeline process, can we just close it?

[2022-03-11 08:55] guangbochen commented on #1654
This is a `kube-scheduler` behavior, and please refer to the KB article [How does Harvester schedule a VM](https://harvesterhci.io/kb/vm-scheduling#how-does-harvester-schedule-a-vm) for a detailed explanation. Feel free to reopen this issue if you have any further questions; thanks.

[2022-03-11 08:55] #1654 closed, assigned to FrankYang0529, lanfon72

[2022-03-11 09:02] lanfon72 commented on #1989
Verified this bug has been fixed.
VM created by template will not have any **Access Credentials**.

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-75cc3ced-head**
* **ui-source** Option: **Auto**

### Verify Steps:
- Follow **Steps to Reproduce** in https://github.com/harvester/harvester/issues/1989#issue-1164669600
- The VM in `step 5.` should not have any

[2022-03-11 09:02] #1989 closed, assigned to lanfon72, DaiYuzeng

[2022-03-11 09:40] weihanglo commented on #1795
This should be a duplicate of #1718. Any subsequent updates and verifications will be posted there. Closing.

[2022-03-11 09:40] #1795 closed, assigned to weihanglo

[2022-03-11 09:42] w13915984028 commented on #1956
When fastly uploading big ISO image, the Harvester POD used memory is upgoing, which is observed from grafana.

(last 15-minutes or last  5-minutes)
![image](https://user-images.githubusercontent.com/31133476/157841737-9d1cd7c0-6fb1-439c-bb78-25fb35ea7db1.png)

![image](https://user-images.githubusercontent.com/31133476/157841545-552e92aa-9208-454e-aed8-0791f118518a.png)

[2022-03-11 09:47] TachunLin commented on #1728
Verified **PASS** for `Case 6` test scenario in https://github.com/harvester/tests/issues/151

### Case 6: System Upgrade

- [x] Verify Longhorn setting default-data-disk has been updated to /var/lib/harvester/defaultdisk
[code]
### Verification Steps
1. Create a 3 nodes harvester cluster with 1.0.0 release
2. Perform zero downtime upgrade without VM and image exists on cluster
3. Wait for System

[2022-03-11 09:49] lanfon72 commented on #1962
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/157842335-9c7dae85-1b4f-4847-8493-fc847b74ed07.png)

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-75cc3ced-head**
* **ui-source** Option: **Auto**
* Rancher Version: **v2.6.3-patch2-rc1**

### Verify Steps:
1. Install Harvester with any Nodes
2. Install Rancher a

[2022-03-11 09:49] #1962 closed, assigned to lanfon72, WuJun2016

[2022-03-11 09:56] TachunLin commented on #1783
### Basic regression test

  - [x] Upload image from URL

  - [x] Can Upload image from File

  - [x] Create a VM from image

  - [x] Can create volume from image

  - [x] Can create VM from image

  - [x] Can `Soft reboot` VM correctly

    1. Can soft reboot to `running` status without showing status change
    2. The IP Address of the VM  remain no change
    3. The State of the VM remain no ch

[2022-03-11 09:57] lanfon72 commented on #1987
Verified this bug has been fixed.

https://user-images.githubusercontent.com/5169694/157844455-50526e3f-bab0-49cd-a974-e9f36d48f124.mp4

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-75cc3ced-head**
* **ui-source** Option: **Auto**

### Verify Steps:
- Follow **Steps to reproduce** in https://github.com/harvester/harvester/issues/1987#issue-1163856304

[2022-03-11 09:57] #1987 closed, assigned to FrankYang0529, lanfon72, WuJun2016

[2022-03-11 10:05] TachunLin commented on #1783
### System Upgrade

- [x] Check the kubevirt version have bumped after upgrading from v1.0.0 to latest master-head

[code]

- [x] Regression test: Verified fixed on v1.0.1-rc2

[2022-03-11 10:08] w13915984028 commented on #1956
Comparing, Harvester POD memory usage is smooth with bumping `Rancher to v2.6.4-rc8`

Harvester installed from local built ISO. KVM based.
[code]

![image](https://user-images.githubusercontent.com/31133476/157846587-758c56fa-40a7-44a6-9a7e-b58ea6197576.png)

![image](https://user-images.githubusercontent.com/31133476/157846622-420ff979-00bd-45ac-ac61-43662f4b217f.png)

![image](https://user-image

[2022-03-11 10:16] bk201 commented on #1993
@Oats87 @thedadams We find the CAPI machine is stuck at `WaitingForNodeRef` condition and it might be because the `Spec.ProviderID` in `CustomMachine` objects are empty. By digging rancher's code, we can't see who sets the ProviderID, any idea what component might set it? Thanks!

[2022-03-11 10:24] lanfon72 commented on #1934
Verified this feature has been implemented.

![image](https://user-images.githubusercontent.com/5169694/157849149-73a4e6d5-a965-49f3-be9f-245be556fae2.png)
![image](https://user-images.githubusercontent.com/5169694/157849099-7799e638-1485-4c42-a367-8239c21c2716.png)

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-75cc3ced-head**
* **ui-source** Option: **Au

[2022-03-11 10:24] #1934 closed, assigned to johnliu55tw, lanfon72

[2022-03-11 10:30] TachunLin commented on #1783
We plan to combine the related Kubevirt bump verification steps into zero downtime upgrade accordingly in #1861
Close this issue since the rest of the test scenarios have been correctly verified.

[2022-03-11 10:30] #1783 closed, assigned to guangbochen, TachunLin

[2022-03-11 10:32] w13915984028 commented on #1956
uploading 2 ISOs in parallel:

![image](https://user-images.githubusercontent.com/31133476/157850263-91541234-dc76-4669-bfe9-dba90e07d9ca.png)

![image](https://user-images.githubusercontent.com/31133476/157850488-a2a54236-aba9-4fb5-b656-8eaf4f7055ac.png)

[2022-03-11 10:34] w13915984028 commented on #1956
The uploading traffic goes through PODs: NGINX---RANCHER---HARVESTER---LH

Rancher POD memory usage is also stable.
![image](https://user-images.githubusercontent.com/31133476/157850708-54f08541-9b50-47fd-8394-53dce806a5ec.png)

[2022-03-11 10:41] WuJun2016 commented on #1833
@noahgildersleeve   Documentation has been added.   https://github.com/harvester/docs/pull/125

[2022-03-11 10:45] w13915984028 commented on #1956
`remotedialer buffer exceeded, length:`  error message is seen, comparing, the length is in a reasonable range, it does not exceeds 7 MB, not in sky high.

@rmweir  From our test, could you consider error printing when the size is over e.g. 8MB or 16Mb ?
When networking is extremely fast, the paus/resume mechanism may still let the data cached a bit more than expected.

[code]

[2022-03-11 10:55] janeczku commented on #1774
Its a Rancher issue as I have seen this issue with other node drivers, e.g. vSphere. It probably must be addressed upstream. Although based on my experience so far the issue is more notorious with Harvester provisioning.

[2022-03-11 10:57] WuJun2016 opened #2002 "[Feature] Enhancement of qemu-guest-agent design"
**Describe the bug**

The qemu-guest-agent related design may be confusing to users.

**To Reproduce**
Reproduction steps：
case 1:
1. go to `Cloud Config Templates` page
2. Create a `user data` template with the following yarm,
[code]
3. go to `Virtual Machines` page
4. click `Create` button
5. Enter `name`、`cpu`、`memory`
6. click `volume` tab，  choose image
7. click  `Advanced Options`,  check `I

[2022-03-11 11:52] TachunLin commented on #1728
All test scenarios listed in https://github.com/harvester/tests/issues/151 have been verified `PASS`. Close this issue.

[2022-03-11 11:52] #1728 closed, assigned to johnliu55tw, TachunLin

[2022-03-11 14:39] cybaware commented on #1859
thank you!

[2022-03-11 20:13] joshmeranda commented on #1775
I could verify that it is possible to grant a user additional privileges to view the monitoring graphs. From my testing the exact steps provided by the above [comment](https://github.com/harvester/harvester/issues/1775#issuecomment-1010555971).

Adding `get`, `list`, and `watch` for resource `nodes` and api-group `metrics.k8s.io` does allow for capacity info to flow as expected.

If you grant a us

[2022-03-13 08:20] ndizazzo opened #2004 "[Question] Does a vertically integrated Harvester > cluster > Rancher automatic deployment make sense?"
I learned about Harvester when looking for alternatives to Proxmox and just today discovered that it's possible to create a HA K3S cluster by adding Harvester as a cloud provider in an existing Rancher installation and deploying a new cluster.

**This means I could:**
* Set up Rancher on an existing cluster
* Install Harvester and register it as a cloud provider in Rancher
* Ask Rancher to create

[2022-03-13 11:36] yaocw2020 commented on #1981
You can use the management network for the VM.

[2022-03-13 11:50] fadjar340 commented on #2004
+1

[2022-03-13 14:49] mithubindia opened #2005 "A must features to be included in harvester"
Following features to be included in harvester.

1.  Some sort of sandboxing / snapshot feature
2.  Creating template / Golden image for vdi implementation
3.  Ability to add external storage - NFS / iSCSI /Ceph
4.  Two factor authentication
5.   Ability to define intended life of the VM    [ Ex. User can use 30 hours max in a week  starting from dd-mm-yyyy to dd-mm-yyyy
6.  Group of vm to star wi

[2022-03-13 19:58] mikkel1156 commented on #2005
Aren't some of these kind of out-of-scope? The VM usage one for example seems silly to be a Harvester feature, since I don't see it fitting into the vision. And what do you mean by sandboxing? Snapshot makes sense though.

Some sound reasonable, two-factor for example, but think that would probably become a Rancher feature and not Harcester specififc (since that's where multi-tenancy is done). And

[2022-03-13 23:31] nikitawootten opened #2006 "[BUG] Harvester UI cloudconfig `packages` option being overwritten on VM creation"
**Describe the bug**

When configuring a VM with cloud config, the `package` field is being overwritten, preventing additional packages from being provisioned.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a VM that uses cloud config. I'm using the Ubuntu focal image
2. Under "Advanced Options", add a package to the cloud config user data (being sure to select the Ubuntu OS type):
[

[2022-03-13 23:49] nikitawootten commented on #2006
Note: this seems to even happen if I uncheck the guest additions installation.

[2022-03-14 02:52] #1994 closed, assigned to nobody

[2022-03-14 03:21] TachunLin commented on #1531
### Test Scenario 1: Apply monitoring settings and check monitoring dashboard without VM created

Checked the apply monitoring setting test scenario on 3 nodes harvester cluster on local kvm.
* Harvester version: master-94a762ab-head (03/11)

### Test Result
1. Can apply monitoring chart settings to Prometheus pod, but need to clarify whether all harvester nodes can be covered by the resource limi

[2022-03-14 03:47] FrankYang0529 commented on #1999
Test `v1.22.7-rc2+rke2r2` on Focal and JeOS. Both can work.

Test steps:
* Setup Harvester `master-75cc3ced-head` and Rancher `v2.6-head`.
* Create RKE2 `1.22.7+rke2r1` cluster. (1.22.7+rke2r2 is not released yet)
* After clicking `Create` button, click `Edit YAML` and  change `kubernetesVersion` to `v1.22.7-rc2+rke2r2`.
* After k8s installed, ssh into the VM and delete harvester-cloud-provider im

[2022-03-14 06:29] WuJun2016 commented on #1852
<img width="662" alt="image" src="https://user-images.githubusercontent.com/24985926/158117101-2c6374e6-0e44-4a68-af69-9b5df581014d.png">

[2022-03-14 06:42] TachunLin commented on #1531
### Test Scenario 2: Three nodes harvester (tight resources) with 1 VM created

Checked the apply monitoring setting test scenario on 3 nodes harvester cluster on local kvm.
* Harvester version: master-94a762ab-head (03/11)
* Monitoring settings:
  - CPU limit: 1
  - Requested Memory: 800Mi
  - Memory Limit: 3500Mi

### Test Result
1. Check the monitoring dashboard over time, dashboard **`sometime

[2022-03-14 07:07] tjjh89017 commented on #1882
Note:
backup will save all VM CR.
restore will create a new VM wit `running: true`
https://github.com/harvester/harvester/blob/master/pkg/controller/master/backup/restore.go#L517
Probably need to check the saved VM CR to create new VM for restore.
need more investigate

[2022-03-14 07:31] WuJun2016 commented on #1852
<img width="1671" alt="image" src="https://user-images.githubusercontent.com/24985926/158157812-e749615b-53aa-4d94-a2d4-b62a131c0b27.png">

[2022-03-14 07:55] WuJun2016 commented on #2006
Hi,  @lanfon72    I accidentally lost some code to fix the problem when I rebase the code （https://github.com/harvester/harvester/issues/1856）,  which caused the problem to reappear，
 please help to revalidate the problem,  thanks a lot.

[2022-03-14 08:03] lanfon72 commented on #2006
@WuJun2016 so it's the duplication of #1871 ?

[2022-03-14 08:09] WuJun2016 commented on #2006
yep

[2022-03-14 08:16] FrankYang0529 commented on #1988
Proposal:
1. Update ansible playbook [boot_harvester_node.yml](https://github.com/harvester/ipxe-examples/blob/main/vagrant-pxe-harvester/ansible/boot_harvester_node.yml). If a node is not ready, we use supportconfig to generate support bundle and move generated files to host.
2. For CI, we post these files as artifacts, so we can download it if CI pipeline fail.

* Rely on https://github.com/harv

[2022-03-14 08:26] TachunLin commented on #1531
### Test Scenario 3: Two nodes (sufficient resources) with 3 VM created

Checked the apply monitoring setting test scenario on 2 nodes harvester cluster on local kvm.
* Harvester version: master-94a762ab-head (03/11)
* Harvester node spec:
  - CPU: 10 core
  - Memory: 25GB
* Monitoring settings:
  - CPU limit: Empty
  - Requested Memory: Empty
  - Memory Limit: Empty

### Test Result
1. Check the

[2022-03-14 09:02] weihanglo commented on #1983
Note that this might be related to https://github.com/rancher/fleet/issues/637.

[2022-03-14 09:02] lanfon72 commented on #1889
Verified this feature has been implemented.

- [x] `harvester.install.networks.harvester-mgmt.interfaces`
- [x] `harvester.install.networks.harvester-mgmt.method`
- [x] `harvester.install.networks.harvester-mgmt.bond_options.mode`
- [x] `harvester.install.networks.harvester-mgmt.miimon`

** Other options not listed in the original post
- [ ] `harvester.install.networks.bond0`
- [ ] `harvester.inst

[2022-03-14 09:02] #1889 closed, assigned to lanfon72, ibrokethecloud

[2022-03-14 09:27] lanfon72 commented on #2006
Verified this bug has been fixed.

https://user-images.githubusercontent.com/5169694/158143094-7fc2ca97-7a38-4ba5-b950-9a56ac02fc59.mp4

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **master-75cc3ced-head**
* **ui-source** Option: **Auto**

### Verify Steps:
- Same as https://github.com/harvester/harvester/issues/1871#issuecomment-1040402823

[2022-03-14 09:27] #2006 closed, assigned to lanfon72, WuJun2016

[2022-03-14 10:39] bk201 commented on #1984
According to Donnie, this will be addressed in https://github.com/rancher/rancher/issues/36782 as well.

[2022-03-14 10:57] FrankYang0529 commented on #1985
I can't reproduce this on a 2-node cluster (1 master node and 1 agent node) from `v1.0.0` to `master-60b2fe4-head`.

[2022-03-14 11:09] TachunLin commented on #1617
Verified **fixed** on master-75cc3ced-head.(03/11) Close this issue.

### Result
Can switch to shell console directly with root by pressing F12 for
1. Run kubectl command with root privilege without error
2. Response time and smooth experience
![image](https://user-images.githubusercontent.com/29251855/158139527-ffdf275a-822e-4b84-b4ba-bff5159b3c21.png)

### Test Information
* Test Environment: 3

[2022-03-14 11:09] #1617 closed, assigned to johnliu55tw, TachunLin

[2022-03-14 12:01] TachunLin commented on #1920
Verified **fixed** on master-75cc3ced-head (03/11). Close this issue.

### Result
Two additional nodes (2 and 3) have be promoted to control-plane role on the 4 nodes harvester cluster.

[code]

Rancher embedded: `v2.6.4-rc8`
[code]

### Test Information
* Test Environment: 4 nodes harvester on local kvm machines
* Harvester version: master-75cc3ced-head (03/11)
* Rancher version: v2.6.4-rc8

###

[2022-03-14 12:01] #1920 closed, assigned to bk201, TachunLin

[2022-03-14 12:37] bk201 commented on #1985
This is related to https://github.com/harvester/harvester/issues/1521
The reason that the agent node goes into NotReady is because VIP moves to another node during upgrade.

I have 4 node cluster (3 server and 1 agent).
If I start them together, the agent nodes' kubelet config will looks like (10.10.0.100 is the VIP)

[code]

If start server nodes first, and start agent node later. Kubelet on agen

[2022-03-14 13:57] guangbochen commented on #1985
We might be able to patch the agent node server URL before the upgrade as a workaround.
Additionally, wondering if we can leverage Rancherd's [Server discovery](https://github.com/rancher/rancherd#server-discovery) feature of the PXE boot installation with node >=  3.

[2022-03-14 14:16] TachunLin commented on #1531
### Test Scenario 4: Three nodes (sufficient resources) with 8 VM created with `default` monitoring limit settings

Checked the apply monitoring setting test scenario on 3 nodes harvester cluster on **`Provo bare metal machines`**
* Harvester version: master-94a762ab-head (03/11)
* Harvester node spec:
  - CPU: 24 ~ 48 core
  - Memory: 128 GB
* Monitoring settings:
  - CPU limit: 1000m
  - Memory

[2022-03-14 14:57] bk201 commented on #1985
@guangbochen The agent node server URL [is already patched with VIP in v1.0.0.](https://github.com/harvester/harvester-installer/blob/master/package/harvester-os/files/usr/sbin/harv-update-rke2-server-url)
But if an agent node doesn't wait for server nodes to be ready, it seems to use the VIP instead of local LB as its kubelet server URL.

[2022-03-14 21:21] acortina-git commented on #2005
Hello @rebeccazzzz and @mithubindia,

I have been following harvester and it looks really promising.

## Storage

There is one thing that prevents me to do PoC (and future implementation) at my company and is the hard requirement in longhorn. I have never used it and probably is really good, but we would prefer to use rook-ceph, ceph or other storage backend that we are familiar with.

Other proje

[2022-03-15 00:05] thedadams commented on #1993
@bk201 The changes have been merged into Rancher.

[2022-03-15 00:30] bk201 commented on #1993
Thanks @thedadams, we'll bump the version and test it.

[2022-03-15 01:05] guangbochen opened #2008 "[FEATURE] Add automation test of the harvester upgrade path on rancher/rancher"
**Is your feature request related to a problem? Please describe.**
Add automation test of the harvester upgrade path on rancher/rancher.

Tasks:
- [x] Define requirements. What we want to test:
    - [x] Add RKE2 cluster upgrade with drain hooks.
    - [ ] Add [multi-cluster-managemnet=false](https://github.com/rancher/rancher/issues/38952#issuecomment-1297929501) validation check
- [ ] Work with

[2022-03-15 02:27] bk201 commented on #1849
We also need to add `ISOURL` and `ISOChecksum` in the response for available upgrades.
(https://github.com/harvester/harvester/blob/60b2fe4d042a301323b6fa00997a6dd604e93a9f/pkg/controller/master/upgrade/version_syncer.go#L39-L40)

[2022-03-15 08:30] lanfon72 commented on #1907
Can not verify this because **upgrade** is not ready yet.
@guangbochen is it ok to keep this one in _testing_ pipeline?

[2022-03-15 08:34] guangbochen commented on #1857
The 404 issues is addressed via https://github.com/harvester/harvester/pull/1896, moving the auditing and monitoring enhancement work to the next milestone because of the library dependency bump issue of https://github.com/longhorn/longhorn/issues/3720.

[2022-03-15 10:11] johnliu55tw opened #2011 "[BUG] Rancher upgrade fail: Failed to find system chart "fleet""
**Describe the bug**
During the upgrade Rancher step of upgrading Harvester, Rancher failed to upgrade "fleet" due to the following error:
[code]

It's caused by the `rancher-charts` resource (of `clusterrepo.catalog.cattle.io`) is not updating the cached chart index even if the `gitBranch` is changed:

![image (1)](https://user-images.githubusercontent.com/5047724/158352464-e9ec9e61-ec82-4b2d-8ad

[2022-03-15 13:32] TachunLin commented on #1531
### Test Result Summary
  #### According to above test scenarios:

1. Initial monitoring limit value already added to UI
  ![image](https://user-images.githubusercontent.com/29251855/158385071-2ae0b222-5ba3-4823-969a-9c7046112a99.png)
2. Can update monitoring value in UI and apply monitoring chart settings to Prometheus pod,
    but it looks like the monitoring resource limitation not applied to a

[2022-03-15 13:48] wbarnard81 commented on #1824
Not working for me. I have 3 hosts and manually created the VMs and they all created on the same hosts. My harvester setup is a brand new install.

Edit: I did try setting {cpu: 100, memory: 100, storage: 100}, but it did not help.

[2022-03-15 14:51] aperez900907 opened #2012 "[FEATURE] LXD/LXC support for lightway vm like linux full system"
The availability in cases of low profiles hardware to run lightway linux containers instead of full kvm like vms will be very appreciate to run aside docker.

[2022-03-15 15:19] w13915984028 commented on #1531
@TachunLin Thanks for those detailed test, I will check those open points.  cc @guangbochen

[2022-03-15 16:20] w13915984028 commented on #1531
1. About the restart of `prometheus-node-exporter`: **it is caused by OOM,  the memoy limit of "50Mi" is not an reasonable value when many VMs are deployed in one Node**.  But what value could be reasonable?

@guangbochen @TachunLin @yasker

`prometheus-node-exporter` restarted 4 times
[code]

`prometheus-node-exporter` has a very small resource limitation:
e.g. k get pod -n cattle-monitoring-syst

[2022-03-15 16:45] w13915984028 opened #2013 "[BUG] unstable deployment of POD prometheus-0"
**Describe the bug**

The deployment of POD prometheus-rancher-monitoring-prometheus-0 is not stable.

**To Reproduce**
Steps to reproduce the behavior:
1. Manually install a 2-node harvester, the first node is naturally the control-plane node, the second is a compute node.  The POD prometheus-rancher-monitoring-prometheus-0 is deployed in control-plane node.

The
[code]

2. Power off both nodes

[2022-03-15 17:20] w13915984028 commented on #2013
Step 5: Power off compute-node harv2
![image](https://user-images.githubusercontent.com/31133476/158430194-501bd692-9322-4408-93d6-18c705f01117.png)

"Cluster Metric" is not shown in WebUI
![image](https://user-images.githubusercontent.com/31133476/158430308-c5f36ef2-5769-4761-a05b-154bc8a3af91.png)
****

**prometheus-rancher-monitoring-prometheus-0 POD can not be terminated, the "Cluster Metric"

[2022-03-15 17:24] w13915984028 commented on #2013
The latest test in https://github.com/harvester/harvester/issues/1531  may also be related.

[2022-03-15 17:29] w13915984028 commented on #2013
FYI: @TachunLin @guangbochen @yasker

[2022-03-15 19:31] joshmeranda commented on #1775
Looks like the steps defined actually do work as expected I was working with a bad harvester deployment.

It turns out we only need a subset of the described permissions to get the graphs to render AND populate with data:

![rancher-metrics-test-permissions](https://user-images.githubusercontent.com/43455015/158456546-81696b07-af90-4c28-99d3-d795ebab12eb.png)

 There is another error that pops up

[2022-03-15 19:31] #1775 closed, assigned to joshmeranda

[2022-03-15 19:45] PhanLe1010 commented on #1849
@bk201

We are planning to have Harvester use the generic version of upgrade-responder at https://github.com/longhorn/upgrade-responder.

In general, a version is fully uniquely identified by {name, release date, and tags}. That is why we hard-coded the response in that format.

Is there another way to get the ISOURL and ISOChecksum instead of putting it into the upgrade responder's response?

[2022-03-16 02:44] patrickdk77 commented on #1813
I had this same issue, it seems if you already have an efi partition, it doesn't wipe it out correctly and the old label remains, in my case VMWARE label still existed. after doing a zero wipe of the first gig of the drive, reinstalling worked fine and blkid shows the name of the EFI partition as  COS_GRUB instead of VMWARE.....

[2022-03-16 02:53] tjjh89017 commented on #1882
Note:
restore to existing will stop the VM, kubevirt will change runStrategy to Halted if was RerunOnFailure.
and keep VM CR.

restore to new, it will setup running: true by default.

[2022-03-16 03:00] lanfon72 commented on #1824
Hi @wbarnard81, could you provide following environment information? Thanks

Environment:
- Harvester ISO version:
- Underlying Infrastructure:

[2022-03-16 05:55] FrankYang0529 commented on #1999
Test on Rancher `v2.6-head`(059b5c504f31). RKE2 `1.22.7+rke2r2` works fine with Focal and JeOS.

![Screen Shot 2022-03-16 at 1 54 55 PM](https://user-images.githubusercontent.com/4927361/158525607-3fc51b0d-74aa-4ac5-9ddb-0b720e7e89a3.png)

[2022-03-16 05:59] bk201 commented on #1849
@PhanLe1010 Thanks for the reply. I understand as an upstream project, the responder wants to be generic. But it will be nice to have a way to extend the fields in the future.

@guangbochen @FrankYang0529 I guess we have two choices now:
- Fork the project and run our own code.
- Running the same responder version with longhorn, but because the fields are already coded in v1.0.0, to make future up

[2022-03-16 06:32] ghost opened #2017 "[Question] Security updates?"
Hi,

I have been looking at Harvester for a bit, and I was just wondering how security updates are handled? Just as an example let's say a root escalation bug has been fixed in the linux kernel, or some other security bug.

How would I patch something like that? I didn't find any info about this. Would you need to release a new harvester iso, like 1.0.2, or is there some other way of applying upda

[2022-03-16 06:49] FrankYang0529 commented on #1849
I think "Fork the project and run our own code" may be more friendly to users.

[2022-03-16 06:58] lanfon72 commented on #1961
Verified this bug has been fixed.

https://user-images.githubusercontent.com/5169694/158533791-2eb58e84-0f6f-4b3e-b8a4-efef18f9102d.mp4

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **master-60b2fe4d-head**
* **ui-source** Option: **Auto**

### Verify Steps:
- Follow **Steps to reproduce** in https://github.com/harvester/harvester/issues/1961#issue-1158954926

[2022-03-16 06:58] #1961 closed, assigned to lanfon72, DaiYuzeng

[2022-03-16 07:17] TachunLin commented on #1812
### Test result of K3s cloud provider: `PASS`
Verified **fixed** on rancher `v2.6-head` (99974f0) with Harvester master-75cc3ced-head (03/14).

1. Can deploy K3s cluster on harvester with kubernetes version `v1.21.10+k3s1`
  ![image](https://user-images.githubusercontent.com/29251855/158532075-c7211ae9-d199-4fa5-9e3b-9ae68c7db055.png)
2. Can correctly install harvester cloud provider on K3s cluste

[2022-03-16 09:55] w13915984028 commented on #1531
For **Test Scenario 2**:  https://github.com/harvester/harvester/issues/1531#issuecomment-1066433564

Three nodes harvester (tight resources) with 1 VM created
The monitoring pod have no crash
[code]

**Analysis:**
It is similar to https://github.com/harvester/harvester/issues/2013
The `prometheus-rancher-monitoring-prometheus-0` is re-deployed. its AGE is 3h50m but others are around 4h27m.
Normal

[2022-03-16 11:17] TachunLin commented on #1954
Verified **fixed** on Rancher `v2.6-head 2642acc` (03/16) with Harvester `v1.0-591d8015-head` (03/16). Close this issue.

### Result
Can provision RKE2 cluster with kubernetes version **`v1.21.7+rke2r2`** for the following OS image:
1. Ubuntu focal image
2. SLES JeOS image

![image](https://user-images.githubusercontent.com/29251855/158577116-0bda5f89-2083-49e9-8f55-d6d172df05ef.png)
![image](http

[2022-03-16 11:17] #1954 closed, assigned to FrankYang0529, TachunLin

[2022-03-16 11:23] w13915984028 opened #2020 "[BUG] Harvester WebUI VM page sorting per NODE is not working correctly"
**Describe the bug**

Harvester WebUI VM page sorting per NODE is not working correctly

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy a couple of VMs
2. View the VM page, and click "Node" to sort,  the result is not as expected

![image](https://user-images.githubusercontent.com/31133476/158578594-5e5581d4-b522-45ab-ba07-c312dacad707.png)
![image](https://user-images.githubuserconte

[2022-03-16 11:36] wbarnard81 commented on #1824
Harvester v1.0.0
3x Dell PE R730, Intel 2690v3, 64GB DDR4 and 4x 500SSDs in Hardware RAID10

[2022-03-16 13:53] w13915984028 commented on #1531
Synced with @TachunLin, a short summary as of 16.03.2021:

**Achieved:**
  1. Resources of `rancher-monitoring (POD monitoring-prometheus-0)` can be configured, monitoring-prometheus-0 has stable memory usage, OOM does not happen on monitoring-prometheus-0.

**Open points:**
  1. `prometheus-node-exporter` is restarted frequently
    root cause: default memory limit for prometheus-node-exporter is

[2022-03-16 14:10] TachunLin commented on #1895
Verified **PASS** the regression test on Rancher `v2.6-head 2642acc` (03/16) with Harvester `v1.0-591d8015-head` (03/16). Close this issue.

### Result
The Harvester csi driver have been bumped and installed by default after provisioning RKE2 cluster complete.
* The csi driver application deployment correctly without stuck, no need to use workaround
  ![image](https://user-images.githubusercontent

[2022-03-16 14:10] #1895 closed, assigned to yaocw2020, TachunLin

[2022-03-16 14:28] futuretea commented on #1817
**Test plan**：
1. Download and Install the following Harvester iso
2. After Harvester become Ready, use command:
[code]
to check the Harvester version and tag.

For example, If the output is:
[code]
That means:
| IMAGE_TAG| COMMIT_ID| CHART_VERSION| APP_VERSION|
| ----------- | ----------- | ----------- | ----------- |
| master-head|31626fax| 0.0.0-master-31626fax| master-31626fax|

**Excepted Ver

[2022-03-16 14:42] lanfon72 commented on #1824
@wbarnard81 thanks for the information, this issue will be fixed in `v1.0.1`, we just release `v1.0.1-rc1`, you can give it a try.

[2022-03-16 16:35] simonflood commented on #2017
The online docs at https://docs.harvesterhci.io/v1.0/upgrade/automatic/ only has "One-click upgrade will be supported starting with the v1.0.0 release."

When I've previously asked this (elsewhere) the answer has been that this would be handled by a new release which you then use to upgrade your Harvester node(s).

[2022-03-16 17:29] noahgildersleeve commented on #1833
Looks good but is pending merge of [PR](https://github.com/harvester/docs/pull/125)

[2022-03-16 17:42] noahgildersleeve commented on #1819
Tested by moving ticket into ready for testing pipeline. Checklist was attached and task was created at  https://github.com/harvester/tests/issues/238 . Closing as fixed.

[2022-03-16 17:42] #1819 closed, assigned to guangbochen, futuretea, noahgildersleeve

[2022-03-17 00:18] yasker commented on #2017
Yes, the security update will be handled as a part of Harvester's update in future releases.

[2022-03-17 01:00] slickwarren opened #2022 "[BUG] Harvester reports `ready` status shortly after booting, but user gets 503 errors when visiting VIP. Harvester then shows `not ready` status for a time, until finally getting to a real `ready` state."
**Describe the bug**

When booting harvester, it reaches a `ready` state. However it quickly goes back to a `not ready` state. This entire time, the cluster is not reachable through the UI (user gets 503 errors). After some time harvester eventually gets to a `ready` state where the user can access harvester UI through the URL.

**To Reproduce**
Steps to reproduce the behavior:
1. Install harveste

[2022-03-17 01:48] noahgildersleeve commented on #1538
Tested in v1.0.1-RC1. The scenarios that are failing are the ones at the end. If you change anything from access controls you can't remove them then change it with cloud init. This might be due to the access controls using qemu-guest-agent and it having blank settings after removing them that override cloud init. If we have that though we might want to disable the dropdown for SSH keys on the main

[2022-03-17 02:03] bk201 commented on #2022
We need to add a better condition to check the cluster is really ready for service:
https://github.com/harvester/harvester-installer/blob/ededb753e24b2b345c7643da2a66b9912cbbf5c8/pkg/console/dashboard_panels.go#L372-L376

[2022-03-17 03:20] guangbochen commented on #1993
This is a regression bug introduced after bumping the embedded Rancher from `v2.6.3` to the `v2.6-head` and it is fixed via https://github.com/harvester/harvester-installer/pull/246 and can be verified using the `v1.0.1-rc1` release.

**To Test:**
- other nodes should be able to join and form a cluster via the iPXE installation.
-  other nodes should be able to join and form a cluster via ISO inst

[2022-03-17 03:31] BobTheDestroyer opened #2023 "[Feature] Legacy Iso for older servers"
I have an old DL360 G6 currently running Windows Server 2022 that I would like to convert into a Harvester server, however the BIOS does not support UEFI or recognise it as a thing (Illegal OpCode).

Is it possible to have the ISO support legacy systems (IE UEFI with CSM)?

Thank you

(P.S. if my issue needs a certain format or etc, sorry, I dont use github very often)

[2022-03-17 04:20] wonleing opened #2024 "[Question]Does harvester support multi-master?"
I want to deploy harvester with 2LB 3masters 3 nodes architecture.
Does it support multi masters and multi nodes? Any doc about this setup?

[2022-03-17 06:00] emilyastranova commented on #2022
I can confirm the same happens for me on every harvester machine I've added, v1.0 release

[2022-03-17 06:09] bk201 commented on #2011
https://github.com/rancher/rancher/issues/36914

[2022-03-17 06:09] wbarnard81 commented on #1824
Would I have to do a clean install? I see the documentation says One click upgrades will be supported with V1.0.0, but I am unable to find where to do this. Maybe not working with rc updates?

[2022-03-17 06:53] lanfon72 commented on #1824
@wbarnard81 upgrade function will be available along with v1.0.1 GA released, or you can also do a clean install to test this issue.

[2022-03-17 06:57] bk201 commented on #2023
@BobTheDestroyer I've been running Harvester with legacy BIOS mode as my daily driver. UEFI is not a requirement.
Do you encounter any issues when running Harvester on your server? Thanks.

[2022-03-17 07:27] Aixleft723 commented on #947
what's the mean of "interface":"eth1","mac":"7a:3e:30:35:d2:b4", represent? @dgiebert

[2022-03-17 08:00] TachunLin commented on #1999
Verified **fixed** on Rancher `v2.6-head 2642acc` (03/16) with Harvester `v1.0-591d8015-head` (03/16). Close this issue.

### Result
1. Can provision RKE2 cluster with kubernetes version **`v1.22.7+rke2r2`**
  ![image](https://user-images.githubusercontent.com/29251855/158577116-0bda5f89-2083-49e9-8f55-d6d172df05ef.png)

2. Host network `enabled` in cloud provider yaml
3. Harvester cloud provider

[2022-03-17 08:00] #1999 closed, assigned to FrankYang0529, yaocw2020, TachunLin

[2022-03-17 09:06] w13915984028 commented on #2022
I also noticed this scenario.

In the Console, the management IP/port will be  NODE_IP:6443 at beginning.  The VIP will replace NODE_IP:6443 later.
When it shows "Ready", ping the VIP, which is not reachable, nearly until the second time of "Ready", the VIP is pingable.

[2022-03-17 09:13] lanfon72 commented on #1770
Verified this bug has been fixed.

Name: test-cluster-local-harvester-default-rancher-rke2-load-balancer (63 chars)
![image](https://user-images.githubusercontent.com/5169694/158772313-70030042-2874-47ca-9a6c-8a6cc962fcad.png)
![image](https://user-images.githubusercontent.com/5169694/158776281-71b556b6-ab0b-4762-a9f6-ef539948d0ed.png)

Test Information
----
* Environment: **qemu/KVM single node**

[2022-03-17 09:13] #1770 closed, assigned to lanfon72, yaocw2020

[2022-03-17 11:22] wbarnard81 opened #2026 "[BUG] Harvester not freeing resourses after migrating VM to another host."
**Describe the bug**
Since harvester created all my VMs on the same host, I thought of just migrating them manually to a new host, until v1.0.1 has been released. It looks like harvester is not freeing up the resourses after the migration or something isn't getting updated as it should.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Virtual Machines.
2. Migrate one VM to another host.

[2022-03-17 12:46] BobTheDestroyer commented on #2023
@bk201 , I am not even able to boot from the bootable USB as the ISO is "UEFI (non CSM)", which means that the BIOS on the server can not even interpret the ISO correctly and generates an "Illegal OpCode" error (Red screen of death) when trying to boot from the USB.

To clarify, there is no "UEFI or Legacy mode" in the BIOS, it straight up cannot run UEFI code. It is BIOS only.

[2022-03-17 15:24] meysholdt opened #2027 "[BUG] Longhorn Replica (if there is only one) should be on the same node as the VM"
**Describe the bug**
We've got fast disks (NVME with rw > 2GB/sec) but a slow network (1GB/sec) and we run ephemeral VMs (it's ok if we lose data).

On the initial Harvester setup, disk read/write throughput was clearly bound by the network. For three replicas, I got 300 MB/s read and 100MB/sec write.

I assumed I can eliminate the network as the bottleneck by reducing the replicas to one.
Unfortu

[2022-03-17 15:26] meysholdt commented on #2027
In case there is a workaround for this behaiour... please share! :)

[2022-03-17 16:27] janeczku opened #2028 "[BUG] Harvester import fails if Rancher certificate is self-signed"
**To Reproduce**

1. Install Rancher with a self-signed certificate
2. Configure the self-signed certificate in Harvester -> Settings -> Additional CA
3. Import the Harvester Cluster into Rancher

**Result:**

Import fails

Harvester 1.0.0

[2022-03-17 16:49] bk201 commented on #1984
After upgrading Rancher from `v2.6.3-harvester1` to `v2.6-5bb08b3692ac3c18ec1361694a095e2c25eb0346-head`, I can confirm. I can trigger the RKE2 upgrade cycle with drain hooks enabled.

[2022-03-17 17:15] bk201 opened #2029 "[BUG] Upgrade: VMs fail to live-migrate to other hosts in some cases"
**Describe the bug**

The destination pod of a live-migrating VM continues erroring. The migration can never succeed.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a v1.0.0 cluster.
2. Upgrade to a custom ISO.

I saw the upgrade-repo VM can't be live-migrated:
<img width="1871" alt="Screen Shot 2022-03-18 at 12 59 02 AM" src="https://user-images.githubusercontent.com/1691518/1588557

[2022-03-17 20:08] slickwarren opened #2030 "Rename harvester charts to match existing naming convention"
**Describe the bug**
Harvester should match the naming convention of other charts for cpi/cs

**To Reproduce**
Steps to reproduce the behavior:
1. In rancher UI, go to `apps & marketplace` and look at harvester charts

**Expected behavior**

* `harvester CPI`
* `harvester CSI`
this matches what we have for, example vsphere charts

[2022-03-17 20:10] slickwarren opened #2031 "[Enhancement] Harvester CPI chart asks for cluster name in UI"
**Describe the bug**
when deploying harvester CPI chart, it asks for the cluster name.

**To Reproduce**
Steps to reproduce the behavior:
1. in rancher, go to `apps & marketplace` and deploy the harvester cpi chart

**Expected behavior**
If this field was necessary, I would expect us to be able to infer the cluster name instead of making the user enter it

**Support bundle**

[2022-03-17 20:42] aperez900907 commented on #2023
I have the same issue on boot after the installation process.
I was able to begin the installer from the USB stick, then when finished none system booted from the LSI array disks.
any suggestion?

thanks.

[2022-03-17 21:03] slickwarren opened #2032 "[BUG] VM IP addresses should be labeled per network interface"
**Describe the bug**

currently, it is unclear why/which IP is relevant for the user. i.e. the vm in screenshot with 2 IPs was provisioned through harvester. The ones with 3 IPs were through rancher. I'm assuming this is something like <clusterIP> , <hostIP>, <vlan/current_networkIP>
<img width="1029" alt="Screen Shot 2022-03-17 at 1 57 45 PM" src="https://user-images.githubusercontent.com/1669101

[2022-03-18 00:08] BringerOD commented on #1943
I will,  I am going to change to a different server,  so give me some time.

[2022-03-18 02:05] slickwarren commented on #1842
just an update - still seeing this on v1.0.1-rc1

[2022-03-18 02:49] tjjh89017 commented on #1944
@fadjar340 If you have no further issue on this ticket, I will close it.
if need, please reopen this issue
thanks a lot

[2022-03-18 02:49] #1944 closed, assigned to nobody

[2022-03-18 02:49] futuretea commented on #1538
@noahgildersleeve cloud-init only take effect in the first boot, so editing cloud-init after the first boot will not change anything.

U can remove cloud-init artifacts from `/var/lib/cloud` to simulate a clean instance. On reboot, cloud-init will re-run all stages as it did on first boot, or using `$ cloud-init clean --logs --reboot`.

[2022-03-18 02:58] yaocw2020 opened #2033 "[BUG] Kube-vip image version should be v0.4.2."
**Describe the bug**

Kube-vip image version should be v0.4.2.

**Environment:**
 - Harvester ISO version: v1.0.1 rc1
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630): Baremetal with Dell PowerEdge R630

**Additional context**
Add any other context about the problem here.

[2022-03-18 04:09] TachunLin commented on #1812
### Test result of K3s csi driver:

Verified **fixed** on rancher `v2.6.4-rc10` with Harvester `v1.0-1-rc1`.

1. Can deploy K3s cluster on harvester with kubernetes version `v1.23.4+k3s1`
  ![image](https://user-images.githubusercontent.com/29251855/158935474-9d6f1c37-ea59-485d-83f5-6f1b19ebfa98.png)

2. Can correctly install harvester csi driver on K3s cluster
  ![image](https://user-images.githu

[2022-03-18 04:09] #1812 closed, assigned to FrankYang0529, TachunLin

[2022-03-18 06:01] TachunLin commented on #1993
Verified **fixed** on `v1.0.1-rc`. Close this issue.

### Result
1. Other nodes can join and form a 3 nodes cluster via ISO installation.

[code]
[code]

2. Other nodes can join and form a 4 nodes cluster vial iPXE installation.
[code]

[code]

### Test Information
* Test Environment: 3 ~ 4 nodes harvester on provo bare machine
* Harvester version: v1.0.1-rc1

### Verify Steps
1. ISO install a 3 n

[2022-03-18 06:01] #1993 closed, assigned to bk201

[2022-03-18 06:48] abarbier05 opened #2036 "[Question] Harvester basic installation question."
Hello,

Trying to install Harvester for the first time on an SMCI server which previously was running Ubuntu. The system has multiple drives.

I ran into the error (see screenshot below): "mount: /tmp/mnt/STATE: unknown filesystem type 'ext4'.

Any guidance on how to move past this error?

Thank you!

[](url)
<img width="1260" alt="Screen Shot 2022-03-17 at 11 45 04 PM" src="https://user-images.gi

[2022-03-18 08:03] tjjh89017 opened #2037 "[BUG] report internal error validator when using runStrategy: Manual"
**Describe the bug**

Create a VM with `runStrategy: Manual`
and remove `running: true`
It will create a stopped VM.
Press start button to start, it will report an internal error in webhook validator.

**To Reproduce**
Steps to reproduce the behavior:
1. create VM with `runStrategy: Manual` and remove `running: true` in YAML
2. start the VM

**Expected behavior**

It should run properly.

**Suppor

[2022-03-18 09:23] guangbochen commented on #1833
@noahgildersleeve The doc PR is merged, thanks.

[2022-03-18 09:32] Jellyfrog commented on #1845
The new title doesn't reflect what the ticket is really about (harvester using a lot of ghz)

[2022-03-18 11:09] FrankYang0529 opened #2038 "[vagrant-pxe-harvester] Parallel provisioning nodes"
**Is your feature request related to a problem? Please describe.**
Currently, we provision harvester nodes sequentially. It takes long time to wait for a new cluster. We can consider to parallel provision nodes except the first node.

**Describe the solution you'd like**
We can consider to use [Run tasks concurrently](https://docs.ansible.com/ansible/latest/user_guide/playbooks_async.html#run-task

[2022-03-18 11:30] erSitzt commented on #1845
Yeah it should be a separate issue. @guangbochen

As i said i was a little mislead because i saw both a high load on my nodes and  did not understand where the high `reserved` values came from.

But as @Jellyfrog said this issue is still relevant

[2022-03-18 16:46] slickwarren opened #2040 "[BUG] Harvester Cluster does not connect back to rancher when harvester is restarted in nested environment"
**Describe the bug**
If user restarts harvester once it is connected to rancher, harvester cluster (through virtualization management) is in `cluster agent is not connected`

**To Reproduce**
Steps to reproduce the behavior:
1. deploy rancher on a harvester VM, and import a harvester cluster through `virtualization management`
2. deploy a harvester node driver cluster through rancher (let it get t

[2022-03-18 18:06] noahgildersleeve commented on #1833
Validated docs were updated at https://docs.harvesterhci.io/v1.0/vm/create-vm/ .

[2022-03-18 18:06] #1833 closed, assigned to WuJun2016, noahgildersleeve

[2022-03-18 19:02] dweomer commented on #2040
This sounds like https://github.com/harvester/harvester/issues/1846 which should have been fixed by:
- https://github.com/harvester/harvester/issues/1770

[2022-03-18 21:33] slickwarren opened #2041 "[BUG] When using Load Balancer IPAM `Pool`s, user is only able to provision 1 LB successfully. both 1st and 2nd LB can't route to the service"
**Describe the bug**
When using Load Balancer IPAM `Pool`s, user is only able to provision 1 LB successfully. Subsequent LBs using `Pool` will fail
**To Reproduce**
Steps to reproduce the behavior:
1. deploy harvester and set the `pool CIDR` values so that you can provision LBs using a select range of IPs
2. deploy rancher + connect harvester via `virtualization management`
3. deploy a harvester n

[2022-03-18 21:52] RHudsonH opened #2042 "[Question] Help troubleshooting a possible longhorn issue."
I have a two node harvester cluster setup on bare metal.

I then deployed a VM and set it up as a single node k3s cluster and installed Rancher Server.

Then using Rancher I Selected the Harvester Node Driver to deploy a 3 node RKE2 cluster. However, there are three pods in the kube-system namespace that are stuck in `ContainerCreating`

[code]

and I'm seeing the following events:
[code]

Events

[2022-03-19 00:56] PhanLe1010 commented on #1849
I like the second approach because of its benefit in the long run:

* Yeah, the disadvantage of this approach is v1.0.0 client already had the hard-coded logic and required a workaround. But in the long run, there will be fewer users using this version.
* I think the checksum should be stored in a reputable source. Github release page seems to be the better source
* Using the generic version of th

[2022-03-19 02:56] bk201 commented on #1984
The Rancher version is bumped and the issue is supposed to be fixed.
It can be tested once the upgrade feature is ready.

[2022-03-19 04:41] bk201 commented on #1983
I'm still seeing harvester chart goes into this state occasionally.
Even I already pause the managed chart and wait for all Rancehr stuff to settle down.
A trick to get rid of the state is to rollback the chart by using helm command. The managedchart will be applied again.

[2022-03-19 07:56] arunarasu opened #2043 "[BUG] Dashboard fails after few days of use with error Failed to load graph Reload"
**Describe the bug**
Harvester 1.0
Dashboard works fine after fresh install.
But after few days of running, it started showing 'Failed to load graph Reload'

**To Reproduce**
Steps to reproduce the behavior:
Install Harvester 1.0
Add 3-4 nodes
Create 4-5 Virtual Machines
Check the dashboard, it will fail.

Keep trying and go to Grafana link, and verify the data source, it shows error 502.

**Expec

[2022-03-19 12:01] kosiek commented on #1959
Hi,

I've been able to find a workaround for the issue on my hardware. In my case, the Harvester was installing just fine, but the drive was not detected as UEFI-bootable. I can't guarantee that it will work on any hardware, but I guess it's worth a try. What I've done to troubleshoot and fix was:

1. Get a USB stick with Live linux. I've used openSUSE 15.3 XFCE Live (`openSUSE-Leap-15.3-XFCE-Live

[2022-03-19 12:12] guangbochen commented on #2040
Seems the Harvester cluster's agent node is able to resolve the Rancher serve URL.
[code]

@TachunLin can u please help to double-check if u can reproduce this with ur env, thanks.

[2022-03-20 14:50] futuretea commented on #1872
## The administrator operation
1. Create tenants with global permission `Standard User` via the Rancher `Users & Authentication` page
![image](https://user-images.githubusercontent.com/15064560/159168162-920c7c1e-c0e4-4211-ae62-ba5bcfe2baef.png)
![image](https://user-images.githubusercontent.com/15064560/159168174-74355102-d2d9-455a-9c2a-a59e8c945788.png)
![image](https://user-images.githubusercon

[2022-03-20 15:05] TachunLin opened #2044 "[BUG] After restarting 3 nodes harvester, cluster can't come back ,also can't access harvester by VIP and any node's IP."
**Describe the bug**

After restarting 3 nodes harvester cluster, can't access harvester by VIP and any node's IP.

[code]

None of the node is in ready status
* Node 1
![image](https://user-images.githubusercontent.com/29251855/159168651-ef279c5b-a689-422e-b987-b8664343be1d.png)

* Node 2
![image](https://user-images.githubusercontent.com/29251855/159168671-7c6162f8-e58d-41d3-82e9-561c78be456e.pn

[2022-03-20 21:02] rave-net opened #2045 "[BUG] Asus KFN4-D16 / AMD Bulldozer cpu unable to initialize network."
**Describe the bug**

Install hangs/fails on network devices with Asus KGN4-D16 dual opteron, Nvidia NForce 2200 chipset motherboard both with forcedeth onboard gigabit lan enabled or disabled, and no matter what 10Gbe intel or marvell or brocade CNA network adapter is installed

**To Reproduce**
Steps to reproduce the behavior:

1. Launch 1.0 installer and get to page to set hostname and choose n

[2022-03-20 22:22] noahgildersleeve opened #2046 "[BUG] Can't import Harvester into Airgapped Rancher"
**Describe the bug**

When you try to import Harvester into airgapped rancher it gives an error and never finishes import
**To Reproduce**
Steps to reproduce the behavior:
1. Setup airgapped rancher with private registry
2. Import Harvester into Rancher

**Expected behavior**

It should finish import
**Support bundle**

[supportbundle_1605e5d6-2c36-418d-8083-b92e0113472e_2022-03-20T22-13-19Z.zip](

[2022-03-20 22:23] DonThorntonJr commented on #2045
I'm seeing the same:
![IMG_0987](https://user-images.githubusercontent.com/2985322/159188548-4cec3dca-f535-47f0-a10e-a58ec50338a1.jpeg)

[2022-03-21 00:59] wonleing opened #2047 "[Question] why harvester add a "REJECT" iptables rule"
![微信图片_20220321085449](https://user-images.githubusercontent.com/105055/159193733-c734e72a-b1c6-44b4-8540-73dfcf53ae57.png)
I am using harvester1.0, sometimes 6443 is unreachable. I found it caused by this iptables rule. Why it is generated? Any problem if I delete this rule mannually?

[2022-03-21 01:53] wonleing commented on #1754
Right, that bug is on harvester0.2 which using datavolume as storage. I updated to 1.0, seems now the storage using PVC.
I will have a try on 1.0 later

[2022-03-21 02:44] futuretea opened #2048 "[BUG] make build-iso would fail if the current branch is not master"
**Describe the bug**

make build-iso would fail if the current branch is not master
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. clone a fork harvester repo and checkout to a non-master branch
2. make
3. make build-iso

**Expected behavior**

make  build-iso succeed

**Support bundle**

**Environment:**
 - Harvester ISO version:
 - Underlying Infrastructure (e.g. Baremetal with Dell

[2022-03-21 03:29] TachunLin commented on #2044
Checked on harvester node 1, it looks like both the NIC can't get DHCPv4 lease from DHCP server on Provo environment.
  ![image](https://user-images.githubusercontent.com/29251855/159201311-5cea5b2f-501a-4136-b51a-20a4bb255ed9.png)
  ![image](https://user-images.githubusercontent.com/29251855/159213864-9a9a9c4b-27b1-43ba-afc5-b14caa52946f.png)

Will check the DHCP connection by rebooting and reins

[2022-03-21 03:31] bk201 commented on #1985
Thanks to @FrankYang0529 and @yaocw2020, we've found the VIP doesn't function very well during an upgrade if the VIP moved to another node.

Here is what we see:

### Prerequisities
Agent node must start **before** server nodes and its kubelet **doesn't** use local load balancer (see https://github.com/harvester/harvester/issues/1985#issuecomment-1066736221, the `server` field must use VIP in its

[2022-03-21 03:58] bk201 commented on #1861
I drop the item:
- Remove settings vlan: see https://github.com/harvester/harvester/issues/1739

The setting `vlan` doesn't exist in the previous version, it's a misuse of the installer config. We have [the following installer PR](https://github.com/harvester/harvester-installer/pull/226) to avoid this happening in the future.

[2022-03-21 05:17] tjjh89017 commented on #1882
Note:
This issue could not be tested after v1.0.1-rc1 until [#2037](https://github.com/harvester/harvester/issues/2037) is solved.
(PR: https://github.com/harvester/harvester/pull/2050)

[2022-03-21 06:02] TachunLin commented on #2040
@guangbochen, I can't reproduce this issue after restarting Harvester cluster on my local environment.

### Reproduce Result
According to the steps in issue description, The RKE2 cluster can connect back to rancher after harvester restarted.

* Condition:  Harvester and Rancher virtual network remain unchanged

* After rancher restart, the RKE2 cluster try to re-provision the disconnected cluster

[2022-03-21 07:50] elct9620 opened #2051 "[BUG] The installer give incorrect minimum disk requirement"
**Describe the bug**

When installing Harvester, the installer will allow >= 60G disk to process the next step.
But the Prometheus requires more than 60G volume for monitoring and always shows the monitor is 502 error.

**To Reproduce**
Steps to reproduce the behavior:

1. When installing Harvester, use a small disk (test it in Virtual Machine)

**Expected behavior**

It should block until use the

[2022-03-21 09:03] lanfon72 opened #2052 "[BUG] clusternetwork:vlan can't be enabled via terraform (harvester_clusternetwork)"
### Describe the bug
resource **harvester_clusternetwork** not work as expected.

when `apply`:
[code]
![image](https://user-images.githubusercontent.com/5169694/159223796-7f5097ad-91e8-487f-82fc-0eafa827d42e.png)

### To Reproduce
Steps to reproduce the behavior:
1. Install Harvester with any nodes
2. Install terraform on another machine
3. Initial terraform harvester provider with Harvester kube

[2022-03-21 09:10] futuretea commented on #2052
https://github.com/harvester/terraform-provider-harvester/blob/master/docs/resources/clusternetwork.md#import
Use the following command to import existing resources first
[code]

[2022-03-21 09:23] lanfon72 commented on #2052
I also tested to apply the resource which created from `terraformer`:
[code]

[2022-03-21 09:31] FrankYang0529 opened #2053 "[BUG] Upgrade: longhorn-system can't be evicted"
**Describe the bug**
The upgrade progress is stuck and we can get error log in rancher pod.

[code]

![Screen Shot 2022-03-21 at 5 00 28 PM](https://user-images.githubusercontent.com/4927361/159238119-1307d1a2-90ba-4583-8c79-fa521f5aeb33.png)

![Screen Shot 2022-03-21 at 4 59 38 PM](https://user-images.githubusercontent.com/4927361/159238230-0ba45fcc-814e-4223-a1a2-3c0e8932d5e5.png)

**To Reproduc

[2022-03-21 09:45] lanfon72 commented on #2052
@futuretea, I tested it works if we import the resource first. (log as below)
But for other resources, user don't need to do _import_ before apply, should we add a caveat for the resource?
User can also change the `name` to create another _vlan_ but will not be displayed in dashboard. (and can't destroy), it would be another problem if user assign other `name` to create the resource.

[code]

[2022-03-21 10:23] innobead commented on #2053
If [allow-node-drain-with-the-last-healthy-replica](https://longhorn.io/docs/1.2.4/references/settings/#allow-node-drain-with-the-last-healthy-replica) is false by default, Longhorn will ensure at least one healthy volume replica available in another node before evicting all pods from the draining node.

http://github.com/longhorn/longhorn-manager/blob/95b9b88e861f60ae7a39b396725530b953057e4c/cont

[2022-03-21 12:04] w13915984028 commented on #1531
@guangbochen

The `networking` part of `node-exporter`, may be related to VM numbers.  (to be confirmed)

![image](https://user-images.githubusercontent.com/31133476/159256907-6cc21d9c-658c-4ced-a534-3e90ba4d5f95.png)

[2022-03-21 13:10] w13915984028 commented on #1904
The latest Harvester version with bumped Rancher version, which has pause/resume protocol, both #1904 and #1956 are solved.

Uploading big ISO images will not cause Harvester POD exhausting large amount of memory.

master-d8a7dfae-head
![image](https://user-images.githubusercontent.com/31133476/159266876-6615cb65-d9f9-4cd7-bb56-6cc165262df3.png)
![image](https://user-images.githubusercontent.com/3

[2022-03-21 14:10] TachunLin opened #2054 "[BUG] Unable to delete the stuck provisioning RKE2 cluster if cluster VM have no IP assign"
**Describe the bug**

When RKE2 cluster VM can't get IP address and stuck in provisioning status
Unable to delete the RKE2 cluster and VM correctly if Harvester VM did not get IP address on it.

* Delete the RKE2 cluster stuck in `Removing`
![image](https://user-images.githubusercontent.com/29251855/159274536-70252a13-50a4-4a8b-8deb-68611b935183.png)

* Harvester cluster VM keep in `Terminating`
!

[2022-03-21 15:07] BobTheDestroyer commented on #2023
@aperez900907 What hardware is it running on? If you where able to use the USB booting image, it might be a different problem than the one I highlighted.

Does your motherboard support UEFI booting?

[2022-03-21 17:07] slickwarren commented on #2040
I've updated the original ticket, but for clarity I reproduce this consistently with my setup when running rancher on a harvester VM.

[2022-03-21 21:05] rave-net commented on #2045
I tested on another AMD dozer based system, a Phenom II X6 1090T on an Asus M4A785TD-V-Evo motherboard.  Same issue as it hangs initializing the network.
Possibly a more general AMD bulldozer compatibility bug?

[2022-03-21 21:45] noahgildersleeve commented on #1956
Tested in master-d8a7dfae-head.
## Verification steps
1. Upload two Windows Server ISOs (>5GB) to Harvester in KVM virtualized environment to simulate very fast network
2. Check harvester k8s pd logs
3. Check memory usage

Memory usage seemed fine and there weren't too many remotedialer errors
[code]
![Screenshot from 2022-03-21 14-42-38](https://user-images.githubusercontent.com/83787952/15936876

[2022-03-21 21:45] #1956 closed, assigned to w13915984028, noahgildersleeve

[2022-03-21 21:45] noahgildersleeve commented on #1904
Tested in Harvester-Tested in master-d8a7dfae-head.
## Verification steps
1. Upload two Windows Server ISOs (>5GB) to Harvester in KVM virtualized environment to simulate very fast network
2. Check harvester k8s pd logs
3. Check memory usage

Memory usage seemed fine and there weren't too many remotedialer errors
[code]
![Screenshot from 2022-03-21 14-42-38](https://user-images.githubusercontent.c

[2022-03-21 21:45] #1904 closed, assigned to w13915984028, noahgildersleeve

[2022-03-22 00:19] yaocw2020 commented on #1985
The reason is that the agent node missed the gratuitous arp which is sent by the kube-vip only one time when transferring from one management host to another.

[2022-03-22 00:55] rebeccazzzz opened #2055 "[BUG] harvester load balancer, IPAM, defaults to `DCHP` and overrides user's selection"
Tracking bug [rancher/dashboard#5438](https://github.com/rancher/dashboard/issues/5438)

[2022-03-22 00:56] rebeccazzzz opened #2056 "[BUG] [harvester IPAM load balancer] LB service included a space in the random string for its name"
Tracking bug [rancher/rancher#36956](https://github.com/rancher/rancher/issues/36956)

[2022-03-22 01:04] noahgildersleeve opened #2057 "[BUG] When assigning a image to windows vm cdrom it changes the disk type"
**Describe the bug**

When creating a windows-iso-image vm and assigning the ISO it changes the type of disk and BUS it's using
**To Reproduce**
Steps to reproduce the behavior:

1. Upload a windows file to images from your local machine
2. Create a new vm
3. Select windows-iso-image-base-template
4. Navigate to volumes
5. Select the WIndows installer ISO for the CDROM drive

**Expected behavior**

[2022-03-22 01:30] WuJun2016 commented on #2057
workaround:
  Click `type` again, select `cd-rom`, and you can create a volume using the `cd-rom `type.

[2022-03-22 02:14] guangbochen commented on #2040
@slickwarren just wondering are u able to resolve `$nslookup <domain>` on the Harvester node?

[2022-03-22 06:03] tjjh89017 opened #2059 "[FEATURE] UI enable/disable secure boot for EFI system"
**Is your feature request related to a problem? Please describe.**

Not related to a problem

**Describe the solution you'd like**

UI could set up EFI boot with secure boot.
Need another option to set up EFI boot without secure boot.

**Describe alternatives you've considered**

**Additional context**

[2022-03-22 06:14] tjjh89017 opened #2060 "[FEATURE] Add VM run strategy support (RerunOnFailure by default)"
**Is your feature request related to a problem? Please describe.**

Harvester will set up VM with `running: true` for now. VM will act as container's policy but not in the common hypervisor.
When shutdown VM from inside, kubevirt will start VM back to running state to keep the policy.

switch to `runStrategy: Manual` will be closer to the behavior of the common hypervisor.
related to https://githu

[2022-03-22 09:29] FrankYang0529 commented on #2046
I cannot reproduce this with the following steps. My environment is 1-node Harvester `master-a16a5735-head` and Rancher `v2.6.4-rc10`.

### Phase 1: setup airgap Harvester
1. Set `offline: true` in [vagrant-pxe-harvester](https://github.com/harvester/ipxe-examples/blob/f75483563f192090dadd48051bbc3b538c30cd34/vagrant-pxe-harvester/settings.yml#L42-L44).
2. Run `./setup_harvester.sh`.
3. Check we c

[2022-03-22 11:05] lanfon72 commented on #1718
Verified this issue should be fixed. (with qemu/KVM simulated environment.)

![image](https://user-images.githubusercontent.com/5169694/159462778-2199e5b5-d7e1-4a37-a03d-5c8ae409cba2.png)

As discussed with @weihanglo, we found the _qemu version_ is the major problem of NVMe WWN.
WWN will be assigned to the same number when using qemu which version less than `v6.0.0` (as the snapshot below)
Then w

[2022-03-22 11:05] #1718 closed, assigned to johnliu55tw, lanfon72, weihanglo

[2022-03-22 11:07] lanfon72 commented on #1718
@guangbochen we probably need add a caveat for users which using qemu environment to install harvester, as this case, `v5.2.0` is latest version on Leap 15.3 but will hit the WWN issue.
cc @weihanglo

[2022-03-22 14:01] guangbochen commented on #1718
@lanfon72 @weihanglo I think we can consider adding it as a note to the harvester doc, but the `qemu-kvm` is not for production use, will only target it for dev/testing purposes.

[2022-03-22 15:08] slickwarren commented on #2040
@guangbochen that is my personal setup that I currently have shut down. Please ping me when you need it and I can power it back on for you

[2022-03-22 16:43] kingnarmer opened #2062 "Adding/Scanning for newly added disk(s)"
How to to scan for new added disks to harvester node. I tried rescan-scsi-bus.sh -a -l and rebooting node.

Also is there a way to use locally attached storage via fiber channel to each node ?

[2022-03-22 16:44] kingnarmer opened #2063 "Change harvester node mgmt IP and VIP"
How to change harvester node MGMT IP and  cluster VIP post install  ?

[2022-03-23 02:21] bk201 commented on #1983
![image (2)](https://user-images.githubusercontent.com/1691518/159611116-39ef7940-e5c0-40b0-9e19-f40a1f048c5c.png)
@johnliu55tw also saw this after an upgrade.

[2022-03-23 06:32] aplace-lab opened #2066 "[BUG] VMware disks not wiped by installer, fails to install"
**Describe the bug**

A fresh install of Harvester 1.0.0 on disks previously consumed by VMware datastores are not cleaned enough to install Harvester on.

**To Reproduce**
Steps to reproduce the behavior:
1. Start installing using an old VMware disk as the target device.

**Expected behavior**

Install completes.

**Actual behavior**

Installer fails with this error:
`grub2-install: error: failed

[2022-03-23 06:36] aplace-lab commented on #2066
Similar situation here: #1813

[2022-03-23 09:02] lanfon72 commented on #2037
Verified this bug has been fixed.

- [x] `spec.runStrategy: Manual` and ~~`spec.running:true`~~
- [x] `spec.runStrategy: Always` and ~~`spec.running:true`~~
- [x] `spec.runStrategy: Always` and ~~`spec.running:true`~~ and `restart/stop` the VM when backup is processing
![image](https://user-images.githubusercontent.com/5169694/159662507-965a4d22-9a0d-4edb-ab49-ed8597dfae66.png)

Test Information
-

[2022-03-23 09:02] #2037 closed, assigned to tjjh89017, lanfon72

[2022-03-23 09:30] TachunLin opened #2067 "[BUG] Additional IP assigned to VM after editing yaml without change any content"
**Describe the bug**

After edit VM config, change Network from `vlan` to `management Network`
Then open `edit yaml` page and save it directly without any change
There will be an additional IP assigned to VM (10.0.2.x)

* IP before saving yaml
  - 10.52.3.141
  ![image](https://user-images.githubusercontent.com/29251855/159661340-3ba8e098-a638-4516-9a80-e90c9398f871.png)

* IP after saving yaml

[2022-03-23 14:30] TachunLin opened #2068 "[BUG] VM can't get IP from external VLAN network after adding additional network to the VM"
**Describe the bug**

Add addition external VLAN network to the VM already have management network.
The added VLAN network interface is not enabled and retrieve external IP

* VM can't get IP from the addition VLAN network interface
![image](https://user-images.githubusercontent.com/29251855/159682136-4b415e6d-b0e8-4a8e-993d-af4368f8f013.png)

* VM can't get additional IP from external VLAN networ

[2022-03-23 15:27] w13915984028 commented on #1983
I am debuging #2013, and encountered:
**In a single-node harvester with master-head ISO, without upgrade, this error is also observed.**

The main operation I am doing is:
delete fleet-agent POD and set the new POD image to debug image.
`kubectl set image pod fleet-agent-8649b7d5b6-b5lzx -n cattle-fleet-local-system *=rancher/fleet-agent:dev`

**Suspect**: when previous fleet-agent has some helm o

[2022-03-23 15:43] w13915984028 commented on #1983
The realted debug info:

Helm relases are stored in kube secrets, the last release of rancher-monitoring, is in  `"status": "pending-upgrade"`.

[code]

[code]

[2022-03-23 16:00] admun opened #2069 "[BUG] Unable to install via USB ISO"
I am unable to install Harvester using USB ISO.

**To Reproduce**
Steps to reproduce the behavior:
1. using a ventoy USB booting the havester v1.0.0 iso
2. select create a new cluster
3. select the SSD on the hw
4. fill in the hostname, management NIC is empty and cannot tab into it. Hitting down arrow or enter key jump back to the main menu.

**Expected behavior**
User should be able to install h

[2022-03-23 16:23] radioflyer28 opened #2070 "[FEATURE] Add VM image via URL - "invalid argument" in post-download checksum of image compressed with XZ"
**Describe the bug**

Checksum error "invalid argument" occurs when adding a VM image with XZ compression via a URL

**To Reproduce**
Steps to reproduce the behavior:
1. via dashboard, navigate to `Images > Create`
2. Select `Basics:URL option`
3. URL used: https://cdn.download.clearlinux.org/releases/36010/clear/clear-36010-kvm.img.xz
4. After image is downloaded, the checksum runs and produces t

[2022-03-23 16:35] radioflyer28 commented on #2004
I miss the automatic Rancher install/link too for multi-cluster management. If I recall right, in v0.3 one could elect to simply enable this from the dashboard ui. I was surprised to find a separate Rancher install was needed when moving to v1.0.0.

[2022-03-23 20:17] ronnyaa commented on #934
nothing greenfield have ipv4 for sure. shocked to see that harvester that  is fairly new is not ipv6 primarily.

[2022-03-23 20:29] noahgildersleeve commented on #2046
That is similar to how I originally tested this, but it's not a representative test of the functionality. Here is the walkthrough that goes over these steps https://rancher.com/docs/rancher/v2.6/en/installation/other-installation-methods/air-gap/ .

1. Set up a private registry server
2. Get a copy of every image that is necessary for Rancher to be installed via helm (there's a script in the walkt

[2022-03-23 20:33] alexdepalex commented on #2046
@joeyloman Seems like todays adventure.

[2022-03-23 20:57] w13915984028 commented on #1983
A very possible reason:

When an fleet upgrade action (it calls helm source code API) executes more than 30 seconds, and the POD is terminated, the     on-going `"(install/upgrade/rollback)"` may be left there.

fleet-agent default termination time is 30s

$ kubectl get pods fleet-agent-8649b7d5b6-b5lzx -n cattle-fleet-local-system -o JSON
"terminationGracePeriodSeconds": 30,

helm master-head, ha

[2022-03-23 21:05] w13915984028 commented on #1983
The overall process of /rancher/fleet/./vendor/helm.sh/helm/v3/pkg/action/upgrade.go is:

[code]

**BUG:  when POD is terminated here after running over 30 seconds, or the POD is force terminated, the created upgradedRelease is left over, it blocks following upgrade operations, unless user deletes the related release manually, or user helm command to recover**
[code]

log taken from fleet-agent:
[

[2022-03-23 21:17] w13915984028 commented on #1983
When checking the fleet-agent log, it showes, even in a normal running Harvester cluster there are also many "performing update for ... " log.   (Why it does so in under investigation via #2013 .)

There are chances to hit this bug.

[2022-03-24 00:01] sam-ulrich1 opened #2071 "[Question] cloud-init runcmd not found on Ubuntu 20.04 autoinstall"
Using a cloud-init based auto install works everywhere but the runcmd and bootcmd configurations. The logs appear to show them as not found. Additionally, doing an echo write to a file does not show the written file.

`grep runcmd /var/log/cloud-init.log`
[code]

Cloud Init attempt 1
[code]
Cloud init attempt 2
[code]

[2022-03-24 00:59] rebeccazzzz commented on #1059
KB article was published: https://harvesterhci.io/kb/multiple-nics-vm-connectivity

[2022-03-24 00:59] #1059 closed, assigned to tjjh89017

[2022-03-24 03:04] guangbochen opened #2072 "[FEATURE] support ConfigDrive instead of NoCloud of Windows install"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
Maybe its worth exploring changing the frontend to support ConfigDrive instead of NoCloud so that Windows installs don't just have a completely disabled Cloud Templates frontend

**Describe alternatives you've considered**
N/A

**Additional context**
reference: https://kubevirt.io/user-guide/vi

[2022-03-24 06:20] joeyloman commented on #2046
Yes indeed. We get the "Unexpected end of JSON input" error and it stays on provisioning state (see screenshot) when there is a container registry configured in the system-default-registry global setting. When I remove the setting value, the Harvester clusters become Active/happy again:

![rancher](https://user-images.githubusercontent.com/4496390/159854454-3ed7db08-1c67-4c7a-834f-d69a65783ded.png

[2022-03-24 07:27] TachunLin commented on #2068
After discussed with @tjjh89017 and checked the [network document](https://docs.harvesterhci.io/v1.0/networking/harvester-network/#management-network).
In this case, once the VM already started with default management network.
The `Add Network` feature in virtual machine can only add a new network interface to virtual machine.
User need to connect to VM and manually configure the second additional

[2022-03-24 07:34] TachunLin commented on #2067
Checked with @tjjh89017, the additional IP address `10.0.2.2` bind to `eth0` interface of virtual machine is the expected behavior. While the exposed IP address `10.52.3.141` was bind to the virt-launcher pod of virtual machine.

@WuJun2016 , Can you help to identify whether IP `10.0.2.2` display on the virtual machine page should be addressed from frontend or backend perspective. Thank you.

[2022-03-24 07:46] TachunLin commented on #2044
Double check the behavior on local kvm machines of the following environment.
1. Iso install 3 nodes harvester
2. iPXE example install 3 nodes harvester

Did not encounter this issue, after reboot all node machine in sequence.
I can access Harvester via VIP and connect to each node machine IP correctly.

The original issue could related to not able to connect to the DHCP server.
Thus close this is

[2022-03-24 07:46] #2044 closed, assigned to yaocw2020

[2022-03-24 09:41] WuJun2016 commented on #2067
@TachunLin  I think it should be handled by the frontend.
This is a known issue, but the frontend filtering needs to know what conditions to filter on.
Requires @yaocw2020  to provide filter conditions.
I suggest moving this issue to v1.02 to fix.   cc @guangbochen

[2022-03-24 09:59] guangbochen commented on #2070
compressed format image is not supported in the current version, will require a feature enhancement.

[2022-03-24 11:02] yaocw2020 commented on #1985
Blocked by https://github.com/kube-vip/kube-vip/issues/382

[2022-03-24 11:46] alexdepalex opened #2073 "[BUG] Predictable interface names deviate from previous versions"
**Describe the bug**
We're using `net.ifnames=1` during the installer boot in order to use predictable names for the network devices. In version v1.0.1-rc1, the names differ from the ones in v1.0.0.

**To Reproduce**
- Boot installer
- Use a valid config create file that works with v1.0.1.
- Installer reports: Interface not found: <interface name>

**Expected behavior**
Use the same predictable na

[2022-03-24 12:43] bk201 commented on #2073
@alexdepalex Thanks for reporting. Is this observed from exactly the same server? Or the results are captured from different machines?

The predictable name is supposed to be consistent between reboots on a single node (if its hardware configuration doesn't change). [The rule to determine the generated name ](https://www.freedesktop.org/software/systemd/man/systemd.net-naming-scheme.html)highly de

[2022-03-24 12:45] alexdepalex commented on #2073
@bk201 Yes, it's exactly the same machine. We just were installing Harvester v1.0.1-rc1. No other hardware or bios changes were made.

[2022-03-24 13:34] radioflyer28 opened #2074 "[Question] Recommended default network?"
When configuring my setup I saw an annotation "harvester-mgmt (not recommended)" for selecting a default network config. Unfortunately, after searching again, I cannot find where this is mentioned again. Can someone shed some light on this and why this is so? It seems to go against the networking best-practice doc (https://docs.harvesterhci.io/v1.0/networking/harvester-network/)
Thanks!

P.S. for

[2022-03-24 14:43] guangbochen commented on #2073
The current NIC name on our test machine has remained unchanged from the previous version. Also, I found that the NICs with shorter names in your test machine remain unchanged. Could you please help to provide more specific information of the network cards with longer names that have been changed with the `v1.0.1-r1` installation? thanks @alexdepalex

[2022-03-24 15:11] w13915984028 opened #2075 "[FEATURE] WebUI adds setting of monitoring-prometheus-node-exporter"
**Is your feature request related to a problem? Please describe.**

Per #1531, the resources setting of prometheus-node-exporter is exposed to ManagedChart, please UI aslo adds setting of it.

**Describe the solution you'd like**

Users can change resources setting from Harvester WebUI

**Describe alternatives you've considered**

**Additional context**
The ManagedChart:
https://github.com/harvest

[2022-03-24 15:12] bk201 commented on #2073
| version | kernel | systemd |
| --- | --- | --- |
| v1.0.0 | 5.3.18-59.37-default | systemd-246.16-7.21.1.x86_64 |
| v1.0.1-rc1 | 5.3.18-150300.59.54-default | systemd-246.16-150300.7.39.1.x86_64 |