[2015-04-12 04:05] ibuildthecloud opened #3 "Add instructions for running windows image"
It would be nice if there was a `image/windows7/README.md` that gave instructions to get windows running.

[2015-04-14 01:19] wlan0 commented on #3
:+1:

[2015-04-14 15:43] ibuildthecloud commented on #12
@sheng-liang Can you exec the Python process in the startmgmt script?  This will make stop work better, but may cause issues with zombie.   If you get zombies the simplest fix is to run busybox init as PID 1

[2015-04-17 22:33] jvassev opened #28 "No visual mode when booting an android4.4 image"
Hi,
I tried preparing an Android x86 image following the instructions for windows. I use the iso from here: http://sourceforge.net/projects/android-x86/files/Release%204.4/android-x86-4.4-RC2.iso/download

While the vm boots in visual mode using virt-manager, when I start it from rancher-vm the vm/container starts in console mode immediately after grub is done.

[2015-04-18 02:00] ibuildthecloud commented on #28
@sheng-liang I would guess there is no framebuffer defined in qemu.

[2015-04-18 16:57] sheng-liang commented on #28
Since Android x86 does not support virtio drivers, you cannot use Windows image instructions. I have created a new image/android-x86 directory that containers Dockerfile, Makefile, and instructions. I was able to get Android x86 VMs created.

[2015-04-18 17:01] sheng-liang commented on #7
I generated host SSH keys and created a new image on Github called rancher/vm-ubuntu

[2015-04-18 17:09] sheng-liang commented on #12
We now exec the Python process. Kill -TERM now works.

[2015-04-18 17:09] sheng-liang commented on #3
Done. See docs/images.md

[2015-04-18 17:09] #3 closed

[2015-04-20 20:24] #28 closed

[2015-04-24 19:43] ibuildthecloud commented on #32
Yes, you can use RancherOS to run RancherVM to RancherOS to run your containers :)

[2015-04-24 19:50] bscott commented on #32
Nice :)

[2015-04-29 14:46] runseb opened #34 "android image not available from S3"
the build fails while trying to grab the image for android:

Does not seem that permissions are correct on:

    https://s3-us-west-1.amazonaws.com/sheng/qcow2/android-4.4-r2.gz.qcow2

[2015-04-29 17:21] sheng-liang commented on #34
Fixed.

[2015-04-29 17:21] #34 closed

[2015-05-12 17:48] sheng-liang commented on #38
This bug was actually fixed a week ago, but I neglected to publish a new image for ranchervm. Could you try again?

[2015-05-12 21:12] xavicampa commented on #38
Went a bit further. Now it returns this when firing up the default vm:

  File "/var/lib/rancher/noVNC-0.0.2/cgi-bin/ranchervm", line 303, in <module>
    volumes_from = get_my_id())
  File "/var/lib/rancher/noVNC-0.0.2/cgi-bin/ranchervm", line 240, in get_my_id
    cgroup_file.read())[0][13:]

And a blank screen appears in the browser. Going back to the list of instances, shows a new instance, wi

[2015-05-12 21:22] sheng-liang commented on #38
Could you try: docker exec -it ranchervm_container_name cat /proc/self/cgroup and see the output?

[2015-05-12 21:24] xavicampa commented on #38
This is it:

9:hugetlb:/
8:devices:/system.slice/docker-737714833ab59817e1c855c427f5e7008b13caf942935126f2463a54e334c41e.scope
7:cpuset:/system.slice/docker-737714833ab59817e1c855c427f5e7008b13caf942935126f2463a54e334c41e.scope
6:perf_event:/
5:net_cls,net_prio:/
4:blkio:/system.slice/docker-737714833ab59817e1c855c427f5e7008b13caf942935126f2463a54e334c41e.scope
3:freezer:/system.slice/docker-73771

[2015-05-12 21:26] sheng-liang commented on #38
I see the content of this file changed between Ubuntu 14.04 and Ubuntu 15.04. I'll need to change the code to handle this.

[2015-05-13 03:04] sheng-liang commented on #38
I checked in the fix and published new docker images. Could you give it a try?

[2015-05-13 07:10] xavicampa commented on #38
Works now. Thanks!

[2015-05-20 13:42] ds0nt opened #41 "noVNC"
You should give the noVNC guys some credit in the readme.

:)

[2015-05-29 02:08] sheng-liang commented on #42
I cannot reproduce this. Can you describe the exact steps you followed? Can you provide the output of docker ps -a?

[2015-05-29 02:48] cnzg commented on #42
Hi sheng,

1, I create a instance with RancherVM, and then stop instance, the instance disappeared on Rancher Web UI. I tested several times, the result is same.

2, Perform docker ps -a,  i found the instances created during my test.
zhaoguang@zgvm3:~$ sudo docker ps -a
CONTAINER ID        IMAGE                                                              COMMAND                CREATED

[2015-05-29 05:09] sheng-liang commented on #42
Docker 1.7 broke my script. Just checked in a fix. Can you try again?

[2015-05-29 06:56] cnzg commented on #42
Hi,

With the new RancherVM images, this issue is fixed:)

But now, i found another problem as following pic, the third instance is exited status, but the ip address and port also display on Web UI. and other exited instances not so.
![ranchervm_1](https://cloud.githubusercontent.com/assets/12028743/7877845/9055645c-0612-11e5-8be4-d4d4a0e02d8e.png)

[2015-05-29 08:17] cnzg commented on #42
I also found other two problems:

1, After i pull the new image of RancherVM, and restart host, the IP address of running instance is unreachable.(the ip of running instances:172.17.0.7 and 172.17.0.6 in my test machine)

zhaoguang@zgvm3:~$ sudo docker ps
CONTAINER ID        IMAGE                  COMMAND                CREATED             STATUS              PORTS                   NAMES
731d85a1

[2015-05-29 15:12] sheng-liang commented on #42
I cannot reproduce any of these problems. I have found docker 1.7 development builds to be unstable. Perhaps you could give docker 1.6.1 a try.

Otherwise perhaps we can get on a remote troubleshooting session.

[2015-05-29 15:57] deniseschannon commented on #42
The latest stable Docker version is 1.6.2, so that would probably be best to try.

[2015-05-29 16:37] cnzg commented on #42
@sheng-liang @deniseschannon I will try docker 1.6.2 tomorrow, and after that, i will contnue test Rancher solution with docker 1.7, if these problems could reproduce, i hope we can do a remote troubleshooting, thx:)

[2015-06-01 18:25] sheng-liang commented on #44
The VM would be issuing DHCP requests on the Docker bridge, which is NAT'ed to the host network by the Docker daemon using iptables.

So you either need to somehow forward DHCP requests over NAT or run a DHCP server on Docker bridge.

RancherVM by default runs a DHCP server for each VM on the Docker bridge.

[2015-06-01 18:57] sheng-liang commented on #41
Good point. Will do.

[2015-06-02 21:40] barraudf commented on #44
Ok, this may not be releated to ranchervm, I can't get dhcp to work in any of my containers. My guess is the problem is between docker0 and container's eth0 but I'm not a network expert.

I got dhcp working using a second physical NIC and pipework. I'll try this way. What I want in the end is a rancherVM having its eth0 connected to my physical local network.

[2015-06-04 05:19] sheng-liang commented on #45
Yes it is possible to work around this issue. But let me give it some more thought to make sure there're no situations where the IP and port are valid when the container is not up.

[2015-06-04 05:35] sheng-liang commented on #44
It is possible to configure RancherVM to bridge its eth0 to host network.

Assuming you are running Ubuntu host and your host is connected to its physical network via `eth0`.

First you need to create a bridge in your host for `eth0`. Setup your `/etc/network/interfaces` file as follows:

    auto lo
    iface lo inet loopback

    auto eth0
    iface eth0 inet manual

    auto br0
    iface br0 i

[2015-06-05 09:34] barraudf commented on #44
I tried something like this (except that I bridged eth1 so this didn't mess with docker networking), but I couldn't get network to work in VM, even with a static address.

But I finally got it working, manually bridging `eth1` to `br0` on host, running a container with `--net=none` and creating its network with pipework. Now the vm is seen on the network as any other physical machine.

Something w

[2015-06-05 16:55] deniseschannon commented on #44
@barraudf I'll close this issue as it looks like it's working. Feel free to re-open if you still have questions.

[2015-06-11 06:59] sheng-liang commented on #45
I'm inclined to not do anything about this issue as there's no harm to display the meta data we get from Docker inspect. Any reason why this has to be fixed?

[2015-06-11 07:34] cnzg commented on #45
Yes, this issue is low severity, but confuse users such as following:
![ranchervm_issue45](https://cloud.githubusercontent.com/assets/12028743/8101985/008c2e68-104f-11e5-8752-5db21c6c27fd.png)

[2015-06-17 17:41] dx9 opened #46 "ranchervm WebUI failing"
This happens when attempting to reach the UI after booting the container on RancherOS v0.3.1

rancher@rancher:~$ docker run -v /run:/run -p 8081:80 -v /tmp/ranchervm:/ranchervm rancher/ranchervm
+ '[' '' = bash ']'
+ RANCHER_HOME=/var/lib/rancher
+ exec python /var/lib/rancher/noVNC-0.0.2/utils/websockify --web /var/lib/rancher/noVNC-0.0.2 --cert /var/lib/rancher/self.pem 80 --unix-target /rancher

[2015-06-17 22:16] sheng-liang commented on #46
Please use -v /var/run:/var/run instead of -v /run:/run. It turns out RancherOS does not link /var/run to /run

[2015-06-17 23:28] dx9 commented on #46
nice tks @sheng-liang now I'm rockin

[2015-06-17 23:28] #46 closed

[2015-06-17 23:56] sheng-liang commented on #45
I pushed a fix and updated the ranchervm image. Please give it a try.

[2015-06-19 08:28] cnzg commented on #45
Yes, it's OK now:)

[2015-06-20 19:13] sheng-liang commented on #51
Right now there's no plan to do a deep integration between Rancher and RancherVM web UI. We'll consider it depending on user interest.

[2015-06-20 19:22] pwFoo commented on #51
Will the ranchervm web gui improved with additional features (networking, routing? multiple vms in a own subnet?).

I like the way to use RancherOS with containers and vms.

[2015-06-20 19:50] sheng-liang commented on #51
I think RancherVM UI will stay relatively simple as a reference. Over time Rancher networking will get more sophisticated and we'll be able to leverage that to run RancherVM.

[2015-07-06 18:34] sheng-liang commented on #52
I added instructions to bridge to the host interface: https://github.com/rancherio/vm/blob/master/docs/networking.md

It is possible to add a second network interface as well, however that requires adding a second interface into the container and changing the start script significantly. It is much more involved.

[2015-07-06 18:50] sheng-liang commented on #41
Added a mention of noVNC.

[2015-07-06 18:50] #41 closed

[2015-07-06 18:51] pwFoo commented on #52
Hi @sheng-liang, thanks for instructions for bridged network!
It sounds additional interface is to complex.

My server have 3 network cards. That's why it would be interesting to bridge container / vm container to the second hardware interface instead of eth0. But it looks like docker only handles one interface?

[2015-07-06 18:56] sheng-liang commented on #52
Right. You can always manually program a second or third interface into a container, but Docker would not know anything about it.

[2015-07-06 18:57] pwFoo commented on #51
RancherVM UI is simple, but works fine. So it's ok :)

I hope some network improvements will be added in the (near) future, because some MVs could need dedicated network cards (bridged to a second host interface or VLANs for example).

[2015-07-06 18:58] pwFoo commented on #52
I have no experience with container networking, so I have to google and read about how to do it.
Thanks for answering my questions here :)

[2015-07-20 23:58] ndarilek opened #55 "Document how to customize VMs via the command line"
I'd like to spin up VMs with custom memory limits and disk sizes. I'm also trying to do so via the command line, or more accurately, by docker-compose. It seems like the web interface supports at least memory limits. Is this at all possible from the command line? In particular I'd like to resize my VM's disk.

Thanks.

[2015-07-21 00:56] sheng-liang commented on #55
All docker command line arguments are passed to kvm command line. You can specify memory size and CPU count as follows:

    docker run -e "RANCHER_VM=true" --cap-add NET_ADMIN -v \
    /tmp/ranchervm:/ranchervm --device /dev/kvm:/dev/kvm \
    --device /dev/net/tun:/dev/net/tun rancher/vm-rancheros -m 512m -smp 1

To change the disk size, you need to create a new VM base image that is larger. We

[2015-07-21 00:59] ndarilek commented on #55
Ah, so to resize the disk, I have to grab the original VM image, resize
it and build my own image from that?

Thanks.

[2015-07-21 01:03] sheng-liang commented on #55
Yes. I should have made the original qcow2 base larger. You now need to resize qcow and then resize the file system inside it. Not a trivial task.

[2015-07-21 03:19] sheng-liang commented on #56
Credential hardcoded: ubuntu/ubuntu

[2015-07-21 04:00] ndarilek commented on #56
Except I think it may have password authentication disabled via SSH. :(

[2015-07-21 04:11] sheng-liang commented on #56
Just login via console, change password, and enable SSH.

[2015-08-11 22:24] lavvy opened #58 "Live migration for the ranchervm"
I was just feeling that live migration feature should be added in the ranchervm manager or even the rancher server itself. since some people may want to use ranchervm as rancher hosts to run their application stack containers.
Thinking about it , create a service that will be spinning out virtual machine hosts for another application stack to be consuming the hosts as it scales.
Then for maintenan

[2015-09-01 23:09] suhas10485 opened #59 "Document default SSH credentials for rancher/vm-centos"
Could you please document the user id / passwd for the rancher/vm-* ?

[2015-09-04 01:34] ndarilek opened #60 "Is it possible to do bridged networking under Rancher OS?"
Running Rancher OS on a large dedicated server with multiple IPs. I was hoping to spin up several Rancher VMs on these separate IPs, route all ports to them via:

`docker run -p <some IP>:1-65535:1-65535 -p <some IP>:1-65535:1-65535/udp my/vm`

This works if I use individual ports, but I can't use ranges. I even tried adding an `EXPOSE` for all ports, but that locked up my docker daemon until I re

[2015-10-02 16:16] pwFoo opened #61 "Could RancherVMs work with calico vRouter or weave vSwitch?"
Could it possible to build networks inside the RancherVM and work with inside the kvm VM?

https://github.com/projectcalico/calico-docker/blob/master/docs/getting-started/libnetwork/Demonstration.md

http://docs.weave.works/weave/latest_release/features.html#docker

[2016-01-14 13:46] errordeveloper commented on #61
@pwFoo I cannot speak of Calico, but with respect to Weave Net it should be possible to do various things, it just depend on what you'd like to achieve. I think it'd be best to port to the mailing list, so other users might comment on this also. Additionally, please take a look at @davedoesdev [fold project](https://github.com/davedoesdev/fold), it does something quite similar.

[2016-01-15 07:47] davedoesdev commented on #61
At some point I'm hoping to port Weave Net to [rumprun](https://github.com/rumpkernel/rumprun)

[2016-01-15 07:49] davedoesdev commented on #61
At some point I'm going to port Weave Net to [rumprun](https://github.com/rumpkernel/rumprun) and combine it with [fold](https://github.com/davedoesdev/fold), for a Docker-free experience.

[2016-01-28 10:51] qrpike commented on #59
This would be nice, I can't seem to find it either.

@SuhasAnand - Did you happen to find them?

Thanks,

[2016-01-28 19:08] SuhasAnand commented on #59
@qrpike nope I ended up creating my own base image for centos.

[2016-02-05 00:27] fabianbaier commented on #67
I have the same issue too, is there a workaround or fix for it already?

[code]

[2016-02-29 15:30] josser commented on #59
Me also can't find them.
What about ubuntu vm? No credentials too or it has been specified somewhere?

Sorry for bad english :(

[2016-02-29 15:39] SuhasAnand commented on #59
For Ubuntu its :  ubuntu/ubuntu

[2016-02-29 15:45] josser commented on #59
@SuhasAnand Thank you!

[2016-03-24 19:46] betterclevername commented on #55
Would it be possible for kvm to send keys to the guest vm?  Take the docker command line arguments, feed them as keystrokes to the guest vm?  Running a particular application with specified arguments within the guest vm would be useful.

[2016-03-29 20:20] joao-fidalgo opened #70 "Error provisioning a rancher/vm-rancheros"
Running rancher/server:v1.0.0 and rancher/agent:v0.11.0 on rancher-os v0.4.3 (bare metal)

Log from rancher/vm-rancheros that failed to launch

29/03/2016 21:14:57 dnsmasq: bad dhcp-range at line 2 of /etc/dnsmasq.conf
29/03/2016 21:14:57 /var/lib/rancher/startvm: line 99: let: NEWCIDR=16
29/03/2016 21:14:57 16-1: syntax error in expression (error token is "16-1")
29/03/2016 21:14:57 /var/lib/ranc

[2016-04-30 21:58] JonathonReinhart commented on #67
@errordeveloper  Did you try updating your version of Docker? I had to do the same thing and it worked fine after that.

[2016-04-30 22:19] JonathonReinhart commented on #66
The `Console` link appeared for my `rancher/vm-ubuntu` image, but not for my `rancher/vm-rancheros` image. I don't yet know how they detect it, but I'm guessing it has to do with one having VGA output and the other not.

I bet if you try starting that `vm-ubuntu` image, you'll see the console link.

[2016-05-04 01:43] sequoiar commented on #72
+1

[2016-05-04 11:25] pwFoo commented on #70
Same problem here.

[2016-05-04 11:34] pwFoo commented on #70
Workaround **-nographic**:
`docker run [...] rancher/vm-rancheros -nographic -m 1024m -smp 1`

ranchervm web interface need some more qemu options ;)

[2016-05-04 11:46] pwFoo commented on #70
But after 3 instances up and running I can't login...
`ssh -p 32768 rancher@127.0.0.1
ssh_exchange_identification: read: Connection reset by peer`

So how to login to vm-rancheros?

[2016-05-04 12:11] pwFoo commented on #59
CentOS:
root / password

[2016-05-04 12:19] pwFoo commented on #66
No change to login to vm-rancheros because ssh with password is disabled and no console available.

[2016-05-04 12:45] pwFoo commented on #70
vm-rancheros would be great for testing, but console or ssh password login would be needed. Any idea?

[2016-05-08 16:28] #61 closed

[2016-05-08 18:35] pwFoo commented on #70
Strange... tested it again today and all works fine!

First I tested with `RANCHER_NETWORK=true` with ubuntu and centos with network problems. After remove `RANCHER_NETWORK=true` all works fine. Tested also vm-rancheros and also without any problems!

No web console, but ssh login with rancher / rancher is ok for me. :)

[2016-05-11 12:32] JonathonReinhart commented on #66
Since @pwFoo opened #73 which is more specific, this should be closed as duplicate.

[2016-05-11 15:56] pwFoo commented on #66
@JonathonReinhart
Also take a look here! #70
Image should be updated, but works!

[2016-05-31 22:16] addteq-himanshu commented on #72
+1

[2016-06-11 10:33] pwFoo commented on #73
Any change to get an updated vm-RancherOS 0.4.5?

[2016-06-28 13:38] chymian commented on #72
+1

[2016-07-14 13:22] sadovnikov opened #80 "[Question] Running first VM container"
Hi,

I'm new to KVM and Rancher VM, so I'm just following README on https://github.com/rancher/vm. Maybe you can help me to get started?

`rancher/ranchervm:0.0.2` starts and Rancher VM UI becomes available. However starting `rancher/vm-rancheros:latest` fails with `docker: Error response from daemon: linux runtime spec devices: error gathering device information while adding custom device "/dev/k

[2016-07-14 14:39] sadovnikov commented on #80
KVM needs VT, because you are in a virtual machine this is not possible to get to. Hence it is not possible to run KVM in virtualbox

[2016-07-14 14:39] #80 closed

[2016-07-26 23:24] rlizana commented on #72
+1

[2016-07-27 02:25] rossigee commented on #72
:+1:

[2016-08-05 13:02] eniac111 commented on #72
++

[2016-08-11 08:52] CosminG commented on #72
+1

[2016-08-31 14:12] pwFoo commented on #73
Will RancherVM be more flexible to add a custom image in the future (https://github.com/rancher/vm/pull/54)? If not there should be an updated RancherOS image prepared.

[2016-08-31 14:31] pwFoo opened #81 "Feature Request: Create a VM and install from ISO?"
Create a "blank" VM and boot and install from a local ISO?

[2016-08-31 14:42] pwFoo commented on #81
Ok, have no priority, but make a RancherOS install possible (#73).
Use custom qcow images instead of prebuilded images would be prefered (https://github.com/rancher/vm/pull/54).

[2016-09-02 14:29] pwFoo commented on #70
Built my own vm-RancherOS image, but how to set a persistent login password?
At the moment I change it during boot by editing grub line...

[2016-09-13 10:10] thbeh opened #82 "vm not getting ip from br0"
Hi, I have followed the instructions as per https://github.com/rancher/vm/blob/master/docs/networking.md to setup my own ip. It does work with the following manual steps after the VM have been created.

1. my DHCP could not set the IP due to VN name is localhost, so i need to change the hostname
2. I have to run dhclient before get the IP

Any workaround without manually doing the above 2 steps?

[2016-10-06 12:44] ahoeg opened #84 "BBVA/kvm: Partially based on RancherVM project"
Found that great project which looks like a improved RancherVM.

Generic container for launching a Virtual Machine inside a Docker container.
**Features:**

-  uses QEMU/KVM to launch the VM directly with PID 1.
- Non libvirt dependant.
- It attaches to the VM as many NICs as the docker container has.
- The VM gets the original container IPs. The container gets non-conflicting IPs
- Uses macvtap t

[2016-11-28 10:55] anasdox commented on #72
+1

[2016-12-02 19:32] strowi commented on #84
This looks very interesting. I tried modifying the bbva-container to work with ranchervm, but it seems i have an error getting the container-details?

rancher_1  | 172.18.0.1 - - [02/Dec/2016 19:27:08] command: /var/lib/rancher/noVNC-0.0.2/cgi-bin/ranchervm ""
rancher_1  | 172.18.0.1 - - [02/Dec/2016 19:27:09] Traceback (most recent call last):
rancher_1  |   File "/var/lib/rancher/noVNC-0.0.2/cgi

[2017-07-03 05:57] raguilera82 commented on #72
+1

[2017-07-13 19:20] masterdam79 commented on #72
+1

[2017-08-08 10:23] pwFoo commented on #86
@yasker cc

[2017-08-14 09:41] TobiEiss commented on #72
+1

[2017-10-20 07:20] mharrend commented on #86
:+1: for this issue.
I would also like to know if this handy feature is getting further development since it would be very useful.

[2017-11-11 05:46] sradvanski commented on #86
I would also be interested to know if development will be continued.
Also if not could you point us to a project that is maybe replacing this one.

Thanks a lot.

[2017-11-19 20:27] candlerb commented on #88
I think there's a mismatch between where the mgmt container wants things mounted, and the VM `rancher/vm-rancheros` container.

Looking at the CGI, the VM container is started using `volumes_from`.  But if I manually start the VM container with the shared volume mounted under `/ranchervm/vm`, it works:

[code]

[2017-11-19 21:10] candlerb commented on #88
OK, I see what the problem is - the published VM images are outdated, and do not reflect what's in the git repository.

In git, [image/base/startvm](https://github.com/rancher/vm/blob/master/image/base/startvm#L298) has

[code]

and in [image/base/Dockerfile](https://github.com/rancher/vm/blob/master/image/base/Dockerfile#L7) this is copied to `/var/lib/rancher/startvm`

But in the running contain

[2017-11-19 21:19] candlerb commented on #59
It's [documented here](https://github.com/rancher/vm/blob/master/image/centos/README.md)

[2018-03-18 00:09] vk496 commented on #82
Seems the same as #89

[2018-03-18 00:15] vk496 commented on #89
I solved it with a quick workaround. I assign a second IP to the same interface. With this fix, dnsmasq work properly.

Is possible to try it here: https://github.com/vk496/vm

Or the Docker image vk496/vm-base:0.0.4

[2018-03-24 00:00] Stryter commented on #55
@sheng-liang I realize this project hasn't been touched in a while, but what would the amount of effort be to update this to either include an option on the command line to set the disk size or include the option on the management page?

[2018-03-24 00:02] sheng-liang commented on #55
We are revamping the project now to make it work on a cluster of servers (powered by Kubernetes) and bring in many new features like clustered storage, VLAN networking, etc. Stay tuned!

[2018-03-29 02:07] haximilian commented on #86
Is this project officially dead?

This looks absolutely amazing, but it doesn't look like any development has happened in years...

[2018-03-29 02:11] haximilian commented on #89
@vk496 If you've successfully resolved this issue, it might be a good idea to close it.

Also, I'm new to this repo, and out of curiosity, do you know if this project is dead? It doesn't look like any development has occurred in years...

[2018-03-30 09:43] inorton commented on #86
Any example videos of use? I might find this useful at work!

[2018-06-08 14:20] trenton42 commented on #102
I just ran into this as well. It looks like RacherVM assumes there will be a interface at `ens33`, but most likely your system (like mine) uses newer [predictable network interface names](https://www.freedesktop.org/wiki/Software/systemd/PredictableNetworkInterfaceNames/). I think there should be some changes made in RacherVM to allow configuration of interface names per node as it may be possible

[2018-06-10 15:39] theagent commented on #102
Same issue on my installation.  Running Ubuntu 16.04 on the nodes and my interfaces are definitely not ens33.  Actually a mixed bag of tricks in my cluster.  Have a few with the old eth0 nomenclature and others with enp1s0 on others.

[2018-06-10 18:52] ApolloMission commented on #102
Same issue too.
Tried renaming the interface within the deploy yaml from ens33 to ens4 (the default on my google compute instance) - results in the network for that node going down.

Funny story, after a little while, it the tries to deploy to another node, taking that one down too.

[2018-06-11 21:17] trenton42 commented on #102
I was able to get RancherVM working by hackily detecting the Ethernet device available each time the image is launched. The image I used is on docker hub under `trenton/vm`. You can test RancherVM by changing the image in your `ranchervm-controller` deployment (in the `ranchervm-system` namespace). But please don't use that image for anything important, as I won't be maintaining it.

[2018-08-25 21:34] NicolaiSchmid opened #114 "Creating vm results in pending state and error in controller"
Hey,
I've just setup a brand new installation of Kubernetes and RancherVM. I deployed the latest version a36f4ce24ef6d23f2f2cd10e7c41a750322518d2 and created a ubuntu-server vm through the web interface.
Since the creation it is stuck in a pending state.
As does the Kubernetes description of the vm say:
[code]
The controller did log an error message that the vm could not be updated:
[code]
I've no

[2018-11-08 09:35] twitchax opened #117 "Kubernetes deployment yields errors in the UI."
Deploying to kubernetes yields javascript errors in the UI.

[code]

Any idea what might be going on?

[2018-11-08 14:44] Oats87 commented on #117
There seems to be an issue where if you have no VM's created the initial dashboard will load. After creating a VM the dashboard starts working.

[2018-11-08 23:00] twitchax commented on #117
Hmmm, I tried creating a VM via a `kubectl apply`, but that does not address anything.

[2018-11-16 13:56] makomatic commented on #114
I see exactly the same. How can we help debugging this?

[2018-11-21 02:43] LLParse commented on #58
Live migration was added in v0.1.0

[2018-11-21 02:43] #58 closed

[2018-11-21 02:48] LLParse commented on #67
RancherVM runs on Kubernetes now. This issue is no longer relevant.

[2018-11-21 02:50] LLParse commented on #66
Closing due to age. The UI was rewritten and the console/novnc button is plainly visible.

[2018-11-21 02:53] LLParse commented on #68
RancherVM was rewritten to use Kubernetes CustomResourceDefinitions. The CPU and Memory fields in the CRD are now mutable. The virtual machine must be stopped/started for the changes to take effect.

The UI does not yet allow modifying the CPU/Memory fields. Leaving this open until the feature is added.

[2018-11-21 02:56] LLParse commented on #88
VNC console support was refactored as part of the migration to Kubernetes. There is also a new UI with clearly visible console/novnc button.

[2018-11-21 14:42] LLParse commented on #86
@inorton
https://rancher.com/blog/2018/2018-04-27-ranchervm-now-available-on-kubernetes/
https://rancher.com/blog/2018/2018-05-30-ranchervm-live-migration/

Closing.

[2018-11-29 09:06] twitchax commented on #117
Hey @LLParse, awesome to see the traction here.  Do you have a current roadmap for the milestone you referenced?

If there are still issues, feel free to loop me in, as well, and I might be able to carve out some time to contribute.

[2018-11-30 20:59] LLParse commented on #117
Hello @twitchax ! We will probably require another few weeks to complete the Longhorn integration.

Seeing as there's interest (and this is a particularly annoying bug), I'll target a bugfix release for early next week and move this out of the milestone. In the meantime, if you want to temporarily adjust your chart, you can use `rancher/vm-frontend:80d4c31` image.

[2018-11-30 21:00] twitchax commented on #117
Very cool: I will give that a go and offer any feedback. :)

[2018-12-01 00:00] twitchax commented on #117
That images fixes the UI.  Looks like I am not running into an issue similar to #114.

I will add my logs to that thread.

[2018-12-01 00:01] twitchax commented on #114
I am having the same issue.

Here are my vm pod logs.

[code]

Looks like a bridge or networking issue?  The host OS is Rancher OS, so I am not sure if that changes the equation.

[2018-12-03 17:48] LLParse commented on #114
@twitchax We've never tried using RancherOS as the host OS, typically we've used Ubuntu LTS. I'm not sure if bridge networking is even possible in RancherOS. Here's a doc on setting up the networking: https://github.com/rancher/vm/blob/master/docs/networking.md

The error you see indicates a networking issue. The interface name to be bridged must be named appropriately in the deployment manifest:

[2018-12-03 17:52] LLParse commented on #117
@twitchax Thanks for the feedback.

[2018-12-05 06:15] twitchax commented on #114
@LLParse, interesting.

I set up the bridge, but it is still complaining about ens33 for some reason.

Also, do you guys have some docs on developing the frontend?  I'd like to make a PR that is more descriptive when the create fails with `400 Bad Request`.

[2018-12-19 23:46] traam commented on #102
@trenton42 I still have the same issue even after using your image for the vm-controller trenton/vm. My k8s cluster is running in aws and complains that "ens33 interface does not exist."

Any ideas?

[2018-12-21 21:05] traam commented on #102
Thanks @trenton42 . What do you end up for running legacy VMs in a container envt? Curious to know as I am doing a PoC.

[2018-12-21 21:07] trenton42 commented on #102
We pivoted away from running the VMs in a container environment for now, so nothing at the moment :disappointed:

[2018-12-26 18:30] LLParse commented on #114
@twitchax Thanks for the feedback! RancherVM v0.2.0 is released. There's a Rancher chart available https://github.com/LLParse/charts-rancher/tree/ranchervm-charts/proposed/ranchervm/latest

Although I haven't tried, the chart should work with Helm with one exception: the frontend service type will need to change to `NodePort` or `LoadBalancer` to expose the UI outside the cluster. Rancher has a fe

[2018-12-29 10:11] aleksey005 commented on #117
He mistakenly created a car through Yaml, now the machines created earlier disappeared in the panel, but they work. How to fix the problem?

[2018-12-29 10:33] aleksey005 commented on #117
I answer my own question:
kubectl delete virtualmachines.vm.rancher.io <virtual machine name>

[2019-01-01 23:16] twitchax commented on #114
@LLParse, awesome: thanks for the update!

[2019-02-26 16:08] lxs137 opened #130 "Failed to pull local image"
When I build a image locally, I try to use that image in virtualmachine spec, I got the error from pod events:

Is this because of the `ImagePullPolicy = Always` of pod? If yes, can you provide a way to change that default value? Thx.

https://github.com/rancher/vm/blob/f40cd374902cacf17dee43950586d8af836bbb58/pkg/controller/vm/util.go#L173

[2019-04-24 08:35] yinjingjiu commented on #130
@lxs137 How can you solve this problem?

[2019-04-24 09:31] lxs137 commented on #130
edit code, deploy controller yourself

[2019-04-25 06:50] yinjingjiu commented on #130
how to modify, please advise

[2019-04-25 08:29] yinjingjiu commented on #133
@yasker  can you help me?

[2019-05-05 12:31] shufanhao opened #134 "whether rancher vm support communication cross bare mental server ?"
Hi experts,
Just want to know below questions:
1. whether rancher vm support communication cross bare mental  server ?
2. Whether support that compatible with CNI plugin Flannel or Calico ?

Thanks.

[2019-06-14 14:11] Oats87 commented on #138
@liyimeng the point of svclb-frontend is to provide access to the Rancher VM console/API. This can easily be replaced with an ingress object (or just use the kubernetes service proxy)

[2019-06-15 20:32] liyimeng commented on #138
Thanks @Oats87 a lot! I have traefik lb deployed, and I have define ingress using traefik, it dose work. How to I remove this LB?  I don't see when it was deployed from.

[2019-06-24 09:16] liyimeng opened #139 "run a vm with screw my k8s cluster"
If i deploy a vm, my k8s api become in accessible and I have to re-deploy k8s.

[2019-08-26 02:31] Oats87 commented on #140
Try

FROM alpine

instead of scratch

[2019-08-26 03:18] ruanshudong commented on #140
I modify Dockerfile to:
FROM rancher/vm-base

it seems work fine!

[2019-09-02 14:24] dmuiX opened #141 "No dashboard, just a blank page and a yellow loading bar"
If I try to access the frontend of ranchervm via api-server on my installation of Kubernetes 1.14.4, it is not showing the dashboard, just a blank page with a yellow loading bar in the upper part. Could it be that there are too many changes from 1.8 to 1.14 and therefore not compatible? Or which version have you tested it the last time? Thanks :)

[2019-09-02 14:28] dmuiX commented on #141
Forgot to upload an image of this page:

[2019-09-03 02:32] ruanshudong commented on #141
i use k8s 1.15, the frontend of ranchervm works fine.

[2019-09-03 02:36] ruanshudong opened #142 "help, vnc does not work"
I build the img(ubuntu16) and create vm instance,  it seams work fine, but where I click vnc on the front of ranchervm , and open a new brower windows, it shows:

Booting from Hard Disk...

How to fix it?

[2019-09-03 03:20] dmuiX commented on #141
Thanks. I will have a try and tell my experience.

[2019-09-06 02:24] dmuiX commented on #141
Sadly using the curent version of K8s 1.15 is showing the same blank page no dashboard. So I don't have a clue why the frontend is not working. Could somebody help me?
![ErrorRancherVM](https://user-images.githubusercontent.com/19862760/64396010-89dc5e00-d05c-11e9-8659-7cc0263edcd0.png)
As you can see I am using the API-Server to access the services running on my cluster. This should not be a prob

[2019-09-14 07:50] TafGroup commented on #141
$ kubectl -n ranchervm-system get svc/frontend
NAME       TYPE           CLUSTER-IP    EXTERNAL-IP       PORT(S)        AGE
frontend   LoadBalancer   10.43.55.38   100.200.200.123   80:31520/TCP   42m

you can access web ui through node ip and node port (31520)

[2019-09-14 07:51] ruanshudong commented on #141
$ kubectl -n ranchervm-system get svc/frontend
NAME TYPE CLUSTER-IP EXTERNAL-IP PORT(S) AGE
frontend LoadBalancer 10.43.55.38 100.200.200.123 80:31520/TCP 42m

you can access web ui through node ip and node port (31520)

[2019-10-10 15:40] GOVYANSONG opened #143 "How to access persistent volume from guest Windows VM"
Guest VM is Win2k16 server. Trying to access NFS file system. how is volume specified in pod vm manifest mounted inside VM? I am aware that Win2k16 suppôts NFS client as a feature. maybe ranchervm pass on the NFS related configuration from PV to the guest VM?

[2020-05-13 08:56] abhideodhar-coder opened #144 "RancherVM support for K3S?"
Can we run RancherVM containers inside a K3S lightweight kubernetes cluster?

[2020-07-27 01:33] guangbochen opened #4 "kubevir CDI CRD reconcile loop issue"
**Issue:**
kubevirt's `datavoulems` and `cdiconfigs` keep updating its `managedFields.time` field and it leads to steve keeps refreshing its loaded schema.

**Reproduce steps:**
`kubectl get crds -w` and the following two CRDs keeps updating
[code]
check the VM server logs and it will print refreshing schema message in every 2-3 seconds:
[code]

Expected:
there are two ways to address this issue:

[2020-07-27 03:31] watermelon-brother opened #5 "Where is the VM UI?"
I not find the vm ui,this repository is a plugin for rancher?

[2020-07-27 16:53] yasker commented on #5
Hi @watermelon-brother this project is still a work in progress. Please wait until we have the first version ready.

[2020-07-28 08:43] guangbochen commented on #4
the current latest release of kubevirt CDI is `v1.20.1` and this is a known issue in https://github.com/kubevirt/containerized-data-importer/commit/72d47353a29c8c9a7c6e3c2874618103ce0e79b9, for now, we can use the `latest` image to remit this bug, deploy the CDI example YAML as below:
[code]

[2020-07-28 10:34] guangbochen opened #6 "add vm image management crd and controller"
**This is a feature request:**
- [x] add image CRD to store VM images by URL
- [x] support Minio as backend server
- [x] add action handler that allows user to upload an image directly from the local computer[low priority]
- [x] add image secret reference

[2020-07-28 10:42] guangbochen opened #7 "add vm template"
**This is a feature request:**
Description:
user should be able to add a VM template with customized virtual machine spec, also it should be able to add a image that belongs to this template.

- [x] add VM template that stores kubevirt virtualMachine spec
- [x] VM template will contain a image reference (i.e image `namespace:name`)

[2020-07-28 10:54] guangbochen opened #8 "add ssh-key management"
**This is a feature request:**

Add a CRD to store user-customized ssh-keys, the user will need to specify the key name and public SSH key.

[2020-07-28 10:57] guangbochen opened #9 "add vm lifecycle action handler"
**Description:**

Add action handlers to the kubevirt virtual machine object.

- [x] start VM action handler
- [x] stop VM action handler
- [x] restart VM action handler
- [x] pause VM action handler
- [x] unpause VM action handler
~~- [ ] terminate the VM action handler(e.g permanent delete the VM after 2 minutes?) [TBD]~~

[2020-07-28 11:01] guangbochen opened #10 "add rancher harvester helm chart"
add rancherVM helm chart, the current chart should include:
- rancher harvester
- Minio server
- kubevrit
- kubevirt CDI

[2020-07-28 13:51] guangbochen opened #11 "add rancher vm ui"
add rancher VM UI with the following scope
- [x] add image management page that allows user to view, upload and edit OS images
- [x] add ssh-key management page that allows user to view, create and edit ssh keys
- [x] add VM listing/view detail page
- [x] add a creating page of VM
- [x] add PV/PVC management page
- [x] add VM template page
- [x] add Graphical Console (VNC)

[2020-07-29 04:54] guangbochen opened #12 "add vm e2e and integration testing framework"
add vm e2e and integration testing framework

[2020-07-31 03:21] gitlawr commented on #3
Rebased

[2020-07-31 06:44] gitlawr commented on #3
squashed

[2020-08-03 07:13] guangbochen opened #15 "duplate display name of the os image"
**Issue:**
currently, the display name is auto-generated by its URL name and we don't validate whether its name is duplicated or not, the backend should add validation to this.

**Solution:**
The backed API should validate the display name and auto-increment the display name by 1. e.g `os-aaacc` to `os-aaacc1`

[2020-08-03 07:18] guangbochen opened #16 "websocket continue to push deleted image"
**Problem:**

When a user deletes an image from the UI the API shows the object is successfully removed, but the WebSocket will continue to push the deleted object to the frontend.

**Expected Solution:**

WebSocket should not continue to pushing deleted objects.

[2020-08-03 07:24] guangbochen opened #17 "ssh-key controller should auto-create the fingerprint to the upload ssh key"
**Issue:**
the ssh-key controller should auto-generate the fingerprint when uploading a new ssh key.

**Expected solution**
the fingerprint should be added automatically either user created from the UI, API or kubectl.

[2020-08-04 03:11] guangbochen opened #19 "Auto-generate the ssh-key name by its public key"
**Description:**
While uploading a new ssh-key, the UI should auto-generate the ssh-key name by its public key

[2020-08-04 03:13] guangbochen opened #20 "allow user to creat multiple instance on the creating page"
**Description:**

user should be able to config the number of VM instances they want to create on the creating page

[2020-08-05 02:04] gitlawr commented on #16
![image](https://user-images.githubusercontent.com/5697937/89363446-cc8e3680-d702-11ea-8fbc-745990a83835.png)
Frontend sets a stale resource version for the watch.

[2020-08-07 08:41] gitlawr commented on #15
I think we shouldn't implicitly change the name, just pop the validation and let users do the decision.

[2020-08-10 08:01] thxCode opened #32 "Clarify the env names of VM storage service in Harvester"
**Improvement:**

The meaning of the env names of VM storage service is not clear enough, it should be compatible with other S3(Object storage) services.

**Reference:**

Clarify the env names of VM storage service, the following is a feasible proposal.

- `MINIO_ACCESS_KEY` -> `VM_STORAGE_ACCESS_KEY`
- `MINIO_SECRET_KEY` -> `VM_STORAGE_SECRET_KEY`
- `MINIO_URL` -> `VM_STORAGE_ENDPOINT`

**TODO:**

[2020-08-10 08:09] thxCode opened #33 "Delay the verification of VM storage service endpoint"
**Improvement:**

An entry verification for VM storage service endpoint blocks to start the Harvester, it should delay the verification or support to customize it in bootstrapping.

**Reference:**

The error report from verification:
![](https://user-images.githubusercontent.com/3394724/89762743-9fd38800-db23-11ea-913d-ae5e6a51dcf3.png)

[2020-08-12 03:50] guangbochen opened #35 "remove go mod vendor"
**TODO**
remove go vendor but still add go mod tidy

[2020-08-12 03:58] guangbochen commented on #8
link to PR https://github.com/rancher/harvester/pull/13

[2020-08-12 05:13] guangbochen commented on #6
link to PR https://github.com/rancher/harvester/pull/3

[2020-08-12 05:14] guangbochen commented on #10
link to https://github.com/rancher/harvester/pull/14

[2020-08-12 05:15] guangbochen commented on #7
link to https://github.com/rancher/harvester/pull/18

[2020-08-12 05:16] guangbochen commented on #15
link to PR https://github.com/rancher/harvester/pull/28

[2020-08-12 05:17] guangbochen commented on #17
link to PR https://github.com/rancher/harvester/pull/13

[2020-08-12 06:02] guangbochen opened #36 "add harvester UI integration and embedded build"
**TODO:**
1. need to add harvester UI integration with loaded from the CDN.
2. add embedded UI to the harvester docker image, the user can config to use embedded UI through the `ui-index` setting with `value: local`

[2020-08-13 10:52] WuJun2016 opened #38 "backend crash"
[code]

[2020-08-13 14:09] guangbochen commented on #38
link to PR https://github.com/rancher/harvester/pull/39

[2020-08-14 00:57] guangbochen opened #40 "no bootable disk found"
**Description:**
no bootable disk found after creating VM using CDI volume.

[2020-08-14 07:06] WuJun2016 opened #42 "UI design"
few harvester-UI designs and feature changes:
1. [x] vm delete logo
1. [x] vm adjust the location of the namespace
1. [x] networking todo
1. [x] rootdisk can get source: image ，size： imageSize
1. [x] vm add ssh key default select
1. [x] start vm default true
1. [x] template delete namespace (set default namespace)
1. [x] ssh key add a search input
1. [x] ssh key name set the default name
1. [x] vm

[2020-08-14 07:08] WuJun2016 opened #43 "UI websocket"
when add a new vm, state is not refresh

[2020-08-14 09:52] gitlawr opened #44 "Unable to import image when content-length is missing from remote url"
Import an image from https://launchpad.net/cirros/trunk/0.3.0/+download/cirros-0.3.0-x86_64-disk.img

**Result:**
[code]

The server hosting the image file may return a chunked response without`Content-Length` header. In this case, the total file size is unknown until the import is finished. The percentage progress will be unavailable to the users. We might need to show the downloaded size instead

[2020-08-14 09:55] gitlawr commented on #40
Check the volume/image file being used. For example, in the download list from https://launchpad.net/cirros/+download, `cirros-0.x.x-x86_64-disk.img` is bootable while some others are not.

[2020-08-14 10:03] thxCode opened #45 "Add unit tests and integration tests"
**Improvement:**

It's necessary to add testings to control the quality of Harvester.

**Reference:**

- Construct the unit test cases based on the fake generated clientset. (TDD style)
- Construct the integration test cases based on the Ginkgo. (BDD style)

**TODO:**

- [x] Adjust the test script of dapper to support two kinds of test.
- [x] Add unit test cases.
- [x] Add integration test cases.

[2020-08-14 14:54] guangbochen commented on #36
link to PR https://github.com/rancher/harvester/pull/37

[2020-08-14 14:59] guangbochen commented on #40
@gitlawr can u please help the UI to figure out what filetypes are supported by the kubevirt as a bootable image.
and the UI should only allow uploading those images that are compatible with bootable disk cc @WuJun2016 .

[2020-08-15 13:10] gitlawr opened #48 "Provide size of an image"
It would be nice to show the root volume size when a VM image is selected.

[2020-08-17 02:34] gitlawr commented on #46
@guangbochen Update in https://github.com/rancher/harvester/pull/49

[2020-08-17 03:34] gitlawr commented on #40
As far as I can tell there's no deterministic way to validate if the provided image is valid or not.
A single URL does not provide much help for it. We can't rely on the file extension(if there's any) for validation.
Even if we have the downloaded file at hand, it may be a raw image which by definition does not have any bytes serving as the "metadata".

[2020-08-17 04:55] guangbochen commented on #40
I agree, but I would prefer to filter out those unsupported filenames and ask the user to make its filename to be compatible with the validation, according to the [official doc](https://kubevirt.io/2019/How-To-Import-VM-into-Kubevirt.html) the supported image formats are:
[code]
will discuss off-line on this Thursday, thanks.

[2020-08-17 07:52] guangbochen commented on #41
@gitlawr can u please resolve the conflict

[2020-08-17 08:30] gitlawr commented on #41
Updated

[2020-08-17 08:57] guangbochen commented on #32
link to PR https://github.com/rancher/harvester/pull/46

[2020-08-18 02:54] guangbochen opened #50 "image status is not showing correctly"
**Description:**
In the UI the image status showing as `active` when uploading image was failed, e.g
![image](https://user-images.githubusercontent.com/4569037/90465030-17676f80-e141-11ea-9670-69f148c011c6.png)

[code]

**Expected:**
change status to `failed` and display the error message.

[2020-08-18 03:03] WuJun2016 opened #51 "When the default version is set for the template, the version will be cleared"
When the default version is set for the template, the version will be cleared

[2020-08-18 03:38] WuJun2016 opened #52 "Delete an existing template version, but return not found"

[2020-08-18 03:55] guangbochen commented on #40
as discussed with @gitlawr, we will add validation of the filename extension check, but the user can still continue to upload the file if they choose to ignore the warning message.  cc @WuJun2016

[2020-08-18 07:09] guangbochen opened #53 "add Drone CI for the harvester-ui"
need to add Drone CI for the harvester-ui

[2020-08-18 07:14] guangbochen opened #54 "crd naming standard"
**Description:**
1. use an object-oriented CRD name instead of a generic name.
2. rename API to use `harvester.cattle.io` instead of `vm.cattle.io`.

[2020-08-18 08:03] guangbochen commented on #53
link to PR https://github.com/rancher/harvester-ui/pull/1

[2020-08-18 11:02] guangbochen commented on #54
link to PR https://github.com/rancher/harvester/pull/55

[2020-08-18 11:20] guangbochen opened #56 "add harvester CRD generation and validation"
**Description:**
both schema validation and generation are missing for the harvester CRD, better to add it since it will add properly schema check.

usage please refer to https://book.kubebuilder.io/reference/markers.html

[2020-08-18 16:22] WuJun2016 opened #57 "Template not have the latestVersion of version"

[2020-08-19 06:14] orangedeng commented on #55
Need rebase.

[2020-08-19 06:36] guangbochen commented on #55
@orangedeng rebased thanks.

[2020-08-19 06:40] guangbochen commented on #57
link to PR https://github.com/rancher/harvester/pull/58

[2020-08-19 08:03] gitlawr commented on #40
`.raw` is also commonly used(http://cdimage.debian.org/cdimage/openstack/10.5.0/)

[2020-08-20 02:07] guangbochen commented on #61
few issues need to address @thxCode :
1. delete chart from catalog didn't clean-up all the resource(maybe is caused by rancher embed hem3)
2. allows user to enabled/disable each component like kubevirt, cdi and Minio
3. When Minio is disabled, s3 server endpoint and secret configuration should be required
4. Minio persistence storage should be enabled by default and refer changes to https://github

[2020-08-20 02:21] guangbochen commented on #54
close in favor of https://github.com/rancher/harvester/pull/55

[2020-08-20 02:21] #54 closed, assigned to guangbochen

[2020-08-20 02:23] guangbochen opened #62 "set default template version when a new template is created"
**Description:**
set default template version when a new template is created

[2020-08-20 02:37] guangbochen commented on #41
@gitlawr will need to rebase this PR ,thanks

[2020-08-20 02:44] guangbochen opened #63 "rancher 2.4 integation with harvester chart"
**Description:**
1. user should be able to install harvester chart from the rancher catalog(helm v3)
1. user should be able to access harvester UI through rancher magic proxy
1. allows users to enabled/disable each component i.e Kubevirt, CDI and Minio
1. after deleting the harvester chart from the catalog apps, it should clean all its component like CRDs and CRs
1. when Minio is disabled, s3 serv

[2020-08-20 02:59] guangbochen opened #64 "improve image file validation"
**Description:**
improve image file validation, check whether CDI or QEMU have tools to validate the correct image type and content

[2020-08-20 05:12] guangbochen commented on #62
```E0820 05:11:37.247975       6 reflector.go:178] github.com/rancher/lasso/pkg/cache/cache.go:112: Failed to list *v1alpha1.VirtualMachineTemplateVersion: v1alpha1.VirtualMachineTemplateVersionList.Items: []v1alpha1.VirtualMachineTemplateVersion: v1alpha1.VirtualMachineTemplateVersion.Spec: v1alpha1.VirtualMachineTemplateVersionSpec.VM: v1alpha3.VirtualMachineSpec.Template: v1alpha3.VirtualMachin

[2020-08-20 06:29] aiwantaozi commented on #62
this is caused by the invalid type `Cores` should be int, but got `""`, then the cache was broken, now our crd missed the validation part, we could create another issue for the crd should include validation part

[2020-08-20 06:31] aiwantaozi commented on #52
@WuJun2016 fixed, could you help try it and update the issue.

[2020-08-20 06:33] guangbochen commented on #62
sure, before the CRD validation is added can we sync with UI to ensure the default value is set correctly with its required data type to avoid those errors, thanks.

[2020-08-20 06:35] aiwantaozi commented on #51
Fixed, @WuJun2016 could you check and update the issue

[2020-08-20 06:51] guangbochen opened #66 "allow vm to reboot"
**Description:**

allow the user to manage VM through subresource APIs - e.g pause, unpause, reboot, rename, guestosinfo
- [x] allow VM to reboot through API action handler.
- [x] allow VM to pause/unpause through API action hander.

[2020-08-20 07:25] guangbochen opened #67 "add ISO image unmount action when CD-ROM disks is attached"
**Description:**
When the user chooses to boot MV from the `.iso` image by default the CD-ROM will be set as the 1st bootable disk in its VM config if the root disk is empty, and after the OS is installed successfully we should allow unmounting the CR-ROM disk easily through the action handler.

manual process:
1. confirm the OS is installed successfully to the VM.
1. kubectl edit vm and remove th

[2020-08-20 07:47] guangbochen opened #68 "set QEMU boot-order (virtual hard drive first and CD-ROM second)"
set QEMU boot-order (virtual hard drive first and CD-ROM second)

[2020-08-20 10:53] guangbochen opened #69 "allow persist data volume when delete the VM"
**Description:**
allow the user to persist data volumes while deleting the VM so it can be reused later.

[2020-08-21 06:45] gitlawr opened #71 "Provide image format info"
Be able to show the format when a VM image is imported.
The incentive is to handle root volume differently for iso image.

[2020-08-21 07:30] guangbochen commented on #71
<del>we need to support differing the image by its file extension and OS using a specified label, i.e:
<del>1. Windows vs Linux
<del>2. `.iso` image vs non-ISO image

[2020-08-21 07:56] guangbochen commented on #71
<del>adding default label when uploading the image
![image](https://user-images.githubusercontent.com/4569037/90866680-d4b6c900-e3c6-11ea-9d81-a2780222bc0c.png)

<del>supported labels:
[code]

[2020-08-22 06:49] gitlawr commented on #41
@thxCode updated

[2020-08-22 06:52] gitlawr commented on #48
root disk size is customizable.
Image size is available in master.

[2020-08-24 01:43] guangbochen commented on #62
link to PR https://github.com/rancher/harvester/pull/65

[2020-08-24 01:44] guangbochen commented on #63
link to PR https://github.com/rancher/harvester/pull/61

[2020-08-24 01:48] guangbochen commented on #52
close in favor of https://github.com/rancher/harvester/pull/39

[2020-08-24 01:48] #52 closed, assigned to aiwantaozi

[2020-08-24 01:54] guangbochen commented on #51
close in favor of https://github.com/rancher/harvester/pull/39

[2020-08-24 01:54] #51 closed, assigned to aiwantaozi

[2020-08-24 02:35] jkim711 commented on #11
My company would be interested in the feature as well.
Can  you share us some updates on these types of development?

[2020-08-24 15:22] guangbochen commented on #68
this will be managed by https://github.com/rancher/harvester/issues/71

[2020-08-24 15:23] guangbochen commented on #66
check out kubevir api of `/apis/subresources.kubevirt.io/v1alpha3`

[2020-08-24 23:38] yasker commented on #11
@jkim711 We're still in the very early stage of Harvester (the new name and new architecture) development. The target is deploying VMs with Kubernetes and allow interaction between the VMs and PODs. We will have more details when we're ready to announce the product.

[2020-08-25 02:58] guangbochen opened #72 "add default template that do not require pre-existing images"
**Description:**
add embedded/system templates that do not require pre-existing images
- [x] iso-img-template
- [x] windows-template
- [x] qcow2/img/raw-template

[2020-08-25 03:05] guangbochen opened #73 "add VM serial console to the UI"
add a serial console to the VM using `/apis/subresources.kubevirt.io/v1alpha3/virtualmachineinstances/console`

[2020-08-25 03:10] guangbochen opened #74 "minimal cloud image pending with booting from hard disk"
VM is pending with `booting from hard disk` when using minimal-cloud image (e.g. https://cloud-images.ubuntu.com/minimal/releases/focal/release-20200729/ubuntu-20.04-minimal-cloudimg-amd64.img)

![image](https://user-images.githubusercontent.com/4569037/91118270-2a3eee80-e6c3-11ea-984a-81932d4f229c.png)

[2020-08-25 03:18] guangbochen commented on #74
When booting the xenial or bionic minimal images using qemu, their output goes to the serial console. A default invocation of qemu will not display the serial console output to the user, so it appears that boot has hung.
refer more detail on https://bugs.launchpad.net/cloud-images/+bug/1785633

will add VM serial console via https://github.com/rancher/harvester/issues/73

[2020-08-25 03:34] guangbochen commented on #71
as discussed offline, using labels to manage the disk logic from UI does not make sense instead we will add [default template](https://github.com/rancher/harvester/issues/72) to facilitate root volume configuration of different OS and iso images.

[2020-08-25 04:14] guangbochen opened #75 "add usb-tablet enhancement to the QEMU"
add USB-tablet enhancement to the QEMU config that allowing the mouse to report its position without having to grab the mouse.
https://www.qemu.org/docs/master/system/usb.html

[2020-08-25 06:02] guangbochen opened #76 "add unit testing cases to the image and key-pair"
add unit testing cases to the image and key-pair

[2020-08-25 06:03] guangbochen opened #77 "add unit testing cases to the template and template version"
add unit testing cases to the VM template and template version

[2020-08-25 06:19] guangbochen commented on #48
close in favor of https://github.com/rancher/harvester/pull/60

[2020-08-25 06:19] #48 closed, assigned to guangbochen

[2020-08-25 09:36] thxCode commented on #61
We can discuss this later, maybe use another PR to clean the CRs of the harvester.

[2020-08-25 11:07] aiwantaozi commented on #72
Plan to add a parameters to templateVersion.

Parameters allow a inject values:
1. value to be generated when the template is instantiated. This is useful for generating unique datavolume name, random passwords etc.
2. reference value from VM object when the template is instantiated.

[code]

[code]
example 1: use parameter name to set value, value from GenerateExpression
[code]

example 2: use pa

[2020-08-26 00:04] ghost opened #79 "required flags not set"
when trying to run ./bin/harvester, --image-storage flags are not set, and there is little explanation of what they should be set to.

what should they be set to in order to run harvester?

[2020-08-26 00:49] yasker commented on #79
Hi @Lexi-kelly

This project is still a WIP and it's not ready for public yet. Please stay tuned for updates.

[2020-08-26 02:52] guangbochen commented on #40
when creating VM with `.iso` the image user will need to add minimum two disks, the root-disk with boot-order `1` and CDROM disk with boot-order `2` respectively.
we will add some default template so the user can reference it later via https://github.com/rancher/harvester/issues/72

[2020-08-26 03:36] gitlawr commented on #72
A few questions:
1. How do users create a template like example 2 in the UI?

2. When creating a VM via a template(example 2), Can users customize the fields that are using parameters in the template?

[2020-08-26 06:18] guangbochen commented on #36
close in favor of https://github.com/rancher/harvester/pull/37 and https://github.com/rancher/harvester/pull/80

[2020-08-26 06:18] #36 closed, assigned to DoNotSayYes

[2020-08-26 06:28] guangbochen commented on #19
this is added in UI ssh-key page.

[2020-08-26 06:28] #19 closed, assigned to WuJun2016

[2020-08-26 07:11] guangbochen commented on #72
+1 of the above questions and can u please help to clarify how those parameters will imply the UI design and management, additionally,  will parameters be used for both VM and template page or VM page only, let's arrange an offline meeting to discuss it when u those designs ready, thanks.

[2020-08-26 08:04] aiwantaozi commented on #72
We would like to support our UI to generate unique dataVolume name, can allow the user to configure parameter in the UI later.

***Re 1***: when a user creates a template, and add a disk, could check the ***New example 1***. If we could support parameters in the UI,  when the user adds a disk or other resource, could also use the parameter already added.

![image](https://user-images.githubusercon

[2020-08-27 02:43] aiwantaozi commented on #72
decision after communicating: will add three default templates first, postpone add paramters

[2020-08-27 03:08] gitlawr commented on #82
Is this still needed? https://github.com/rancher/harvester/blob/ec0b886f23299e37e523f71a6646b87641474047/pkg/api/keypair/formatter.go#L22

[2020-08-27 03:12] guangbochen opened #83 "add image metadata info to the DV annotations"
add image metadata `ns:name` to the dataVolume template annotations when creating the VirtualMachine, therefore user/UI will be able to know which image the URL is related.
[code]

[2020-08-27 03:22] guangbochen commented on #82
close since we need to update the fingerPrint via the update method.

[2020-08-27 03:54] guangbochen commented on #38
close in favor of #39

[2020-08-27 03:54] #38 closed, assigned to DoNotSayYes

[2020-08-27 03:57] guangbochen commented on #4
The harvester chart has bumped its CDI to  [v1.22.0](https://github.com/kubevirt/containerized-data-importer/releases/tag/v1.22.0) which has the fix included, close it for now.

[2020-08-27 03:57] #4 closed, assigned to nobody

[2020-08-27 03:58] guangbochen commented on #6
close in favor of #3

[2020-08-27 03:58] #6 closed, assigned to gitlawr, DoNotSayYes

[2020-08-27 03:58] guangbochen commented on #7
close in favor of #18

[2020-08-27 03:58] #7 closed, assigned to aiwantaozi, DoNotSayYes

[2020-08-27 03:59] guangbochen commented on #8
close in favor of #13

[2020-08-27 03:59] #8 closed, assigned to DoNotSayYes

[2020-08-27 04:01] guangbochen commented on #12
close as a duplicate of https://github.com/rancher/harvester/issues/45

[2020-08-27 04:01] #12 closed, assigned to thxCode

[2020-08-27 04:01] guangbochen commented on #33
close in favor of https://github.com/rancher/harvester/pull/41

[2020-08-27 04:01] #33 closed, assigned to gitlawr

[2020-08-27 04:02] guangbochen commented on #32
close in favor of #46

[2020-08-27 04:02] #32 closed, assigned to gitlawr

[2020-08-27 04:02] guangbochen commented on #17
close in favor #13

[2020-08-27 04:02] #17 closed, assigned to DoNotSayYes

[2020-08-27 04:03] guangbochen commented on #16
close as this is fixed in the UI

[2020-08-27 04:03] #16 closed, assigned to WuJun2016

[2020-08-27 04:03] guangbochen commented on #15
close in favor of #28

[2020-08-27 04:03] #15 closed, assigned to gitlawr, DoNotSayYes

[2020-08-27 04:04] guangbochen commented on #53
close as this is done in https://github.com/rancher/harvester-ui/

[2020-08-27 04:04] #53 closed, assigned to guangbochen

[2020-08-27 04:06] guangbochen commented on #44
close in favor of https://github.com/rancher/harvester/pull/60

[2020-08-27 04:06] #44 closed, assigned to gitlawr

[2020-08-27 04:59] guangbochen commented on #57
close in favor of #58

[2020-08-27 04:59] #57 closed, assigned to nobody

[2020-08-27 11:00] DoNotSayYes opened #85 "A virtual machine cannot be created by using the generated hostname with uppercase"
**Steps to replicate:**
1. Select one of the images, in this case, select `CentOS-7-x86_64-GenericCloud.qcow2.xz`
2. Fill up other information and save it

**Result:**
The virtual machine cannot be created because of the invalid hostname
![image](https://user-images.githubusercontent.com/57614736/91433682-3d55e800-e896-11ea-964e-432b62e9f417.png)

**Suggestion:**
It makes no sense that a user cann

[2020-08-27 11:39] DoNotSayYes opened #86 "VM create page issues"
- [x] 1. Create a VM with no image selected, the create button turns to created - `Validated`
![image](https://user-images.githubusercontent.com/57614736/91435576-1a790300-e899-11ea-8ec1-caf09967528a.png)

- [x] 2. Create a VM with the only image selected, the page title disappears - `Validated`
![image](https://user-images.githubusercontent.com/57614736/91435816-852a3e80-e899-11ea-9b68-ba2638a72c

[2020-08-28 03:26] aiwantaozi commented on #84
updated

[2020-08-28 08:57] DoNotSayYes opened #87 "VM list page issues"
- [x] 1. Choose one of the active VM -> Edit as form, values missing on the edit page, e.g., there is no source image selected when editing a VM - `SSH keys are still not selected, I'd like to track it in a separate issue`
![image](https://user-images.githubusercontent.com/57614736/91534445-21a91b00-e944-11ea-8c6d-407d6b08b315.png)

- [x] 2. The status in the list is inconsistent with the status o

[2020-08-28 10:40] guangbochen opened #88 "failed to upload the vm image when size is over 5G or plus"
failed to upload a large image file to the Minio server
[code]

[2020-08-28 11:41] DoNotSayYes opened #89 "VM detail page issues"
### Virtual Machine Detail
- [x] 1. There is no label to remove, the remove button is not necessary, the close and the save button are in Chinese, click the save button, the popup does not close
![image](https://user-images.githubusercontent.com/57614736/91556841-fafbdc00-e965-11ea-8269-dcddbefa0b25.png)

- [x] 2. Add a label and then remove it, but the removed label will be recovered when clickin

[2020-08-31 07:50] aiwantaozi opened #93 "vm template UI bugs"
1. launch vm need to add source when user select image
![image](https://user-images.githubusercontent.com/5936271/91695919-6f6e8f00-eba1-11ea-9cb6-fba2c332a4bf.png)

2. update the text to ```Create template```
![image](https://user-images.githubusercontent.com/5936271/91695980-8319f580-eba1-11ea-9f95-27bb8628ce03.png)

3. support select version when launch from template
![image](https://user-image

[2020-08-31 08:40] DaiYuzeng commented on #89
- [x]  1. There is no label to remove, the remove button is not necessary, the close and the save button are in Chinese, click the save button, the popup does not close
- [x]  2. Add a label and then remove it, but the removed label will be recovered when clicking the save button, which means it has not been deleted
- [x]  3. Unable to add more than one label, add a new one and it will be erased a

[2020-08-31 09:12] aiwantaozi opened #94 "vm lauched in rancher cluster with default canal/calico cni can't be access"
vm use masquerade and pod network deployed in cluster created by rke, with default cni configure, find the VM can't be access from host, and can't ping host inside the vm.

vm configure:
[code]
cni configure
[code]

check IP forward in pod:
cat `/proc/sys/net/ipv4/ip_forward` is 0 , find that IP forwarding isn't enable

base on this kubevirt [issue](https://github.com/kubevirt/kubevirt/issues/2942

[2020-08-31 15:37] guangbochen commented on #94
@aiwantaozi why is this related to multus CNI since this is pod network configuration with RKE Canal network.

[2020-08-31 16:00] thxCode commented on #75
@guangbochen Have we tried the input devices configuration before?

According to https://kubevirt.io/user-guide/#/creation/devices?id=tablet and https://libvirt.org/formatdomain.html#input-devices, we can use `spec.template.spec.domain.devices.inputs` to indicate to emulate the tablet device as below:

[code]

cc @gitlawr

[2020-09-01 02:32] DoNotSayYes opened #95 "image create and edit pages issues"
- [x] 1. Users are allowed to create an image without an URL
        - the user can still create an image using an empty space value, the UI should add string trim and not empty validation.
![image](https://user-images.githubusercontent.com/57614736/91786408-228ac700-ec3a-11ea-9f45-9d6ab2f1f79d.png)

- [x] 2. Users are not able to add any other labels when editing an image
        -  failed to edi

[2020-09-01 02:50] gitlawr opened #96 "websocket is broken in some cases"
Steps to reproduce:
1. Go to the image list page. do a refresh
2. Create an image

Result:
The import progress of the image is not updated.

It works following these steps:
1. Go to the VM list page. do a refresh
2. Click image in the navigation and go to the image list page.
3. Create an image.

[2020-09-01 03:01] gitlawr commented on #96
In the working case, the UI sends the following message about which resource type and revision to watch
![image](https://user-images.githubusercontent.com/5697937/91789716-ca57c300-ec41-11ea-876c-6e05cc959bac.png)

In the broken case, the message is not sent
![image](https://user-images.githubusercontent.com/5697937/91789905-2e7a8700-ec42-11ea-82d8-27d60ec0d937.png)

[2020-09-01 03:39] DoNotSayYes opened #97 "image list and detail page issue"
- [x] 1. The state of the image on the list page, but unknown on the detail page
![image](https://user-images.githubusercontent.com/57614736/91790860-4fdc7280-ec44-11ea-845a-5bbef3e4a35b.png)
![image](https://user-images.githubusercontent.com/57614736/91790950-7ef2e400-ec44-11ea-9749-e5cf5b4ef570.png)

- [x] 2. Sort by the state on the list page could make the page work inappropriately, something

[2020-09-01 07:50] guangbochen commented on #97
remove the protips hint from the dialog.

[2020-09-01 07:58] guangbochen commented on #75
maybe we should add this as an advanced configuration in the VM page and allow the user to disable if it is not required(this will default to true)?

[2020-09-01 08:21] DoNotSayYes opened #100 "Edit as YAML, and reading from a file by selecting a large file may cause the page to jam"
**Steps to replicate:**
1. On VM/Image list page, choose one of the items, proceed `Edit as YAML`
2. Click `read from file` and choose a large file
3. After the file is uploaded, click the `show diff` button to compare

**Result:**
After clicking the `show diff` button, the page stuck for a long time
![image](https://user-images.githubusercontent.com/57614736/91825616-14a36900-ec6f-11ea-93e7-fb3f4

[2020-09-01 08:49] guangbochen opened #101 "add VM controller to watch and manage DV annotations"
**Description:**
add VM controller to watch and add relational annotations to its bounded Data Volume.
e.g. `"harvester.cattle.io/owned-by": "[{\"schema\":\"kubevirt.io.virtualmachine\",\"refs\":[\"default/ac\"]}]"`

1. DV created from the VM page should include this annotation and the user is able to view its attached VM on the volumes page.
1. DV created from the volume page and attached by the

[2020-09-01 09:48] DoNotSayYes opened #102 "Names on the delete popup are linked to API UI"
**Steps to replicate:**
1. On VM/Image/SHH Keys/Template/Volume page, select one or some of the items
2. Proceed a delete action and a delete popup will open, click the name on the popup

**Result:**
The name on popup links to API UI
![image](https://user-images.githubusercontent.com/57614736/91834942-4d493f80-ec7b-11ea-86c4-7fe055e8270e.png)
![image](https://user-images.githubusercontent.com/5761

[2020-09-01 10:25] guangbochen opened #103 "add custom default label when creating the VM from the harvester ui"
**Description:**
add custom default label when creating the VM from the harvester UI

[code]

[2020-09-01 11:00] DoNotSayYes opened #104 "Key pairs page issues"
- [x] 1. Key pair name length limitation
        - `set image name length to maximum 63 characters`
![image](https://user-images.githubusercontent.com/57614736/91840147-cef09b80-ec82-11ea-8863-a97c93735719.png)

- [x] 2. Edit a key pair, name and public key do not wrap around to fit the screen if their text is too long
![image](https://user-images.githubusercontent.com/57614736/91840350-27279d80-e

[2020-09-01 11:28] DoNotSayYes opened #105 "Templates page issues"
- [x] 1. Create a template, users are able to create a new  template by just filling up the template name - Validated
![image](https://user-images.githubusercontent.com/57614736/91842632-fb0e1b80-ec86-11ea-89b8-b83436e0d642.png)

- [x] 2. On the template detail page, template name does not wrap around to fit the screen if its text is too long - Validated
- [x] 3. On the template detail page, seems

[2020-09-02 02:13] guangbochen opened #106 "harvester crd shortname missing plurals"
**Description:**
currently, harvester CRD short-name is missing plurals, for example, the user should be able to get virtualmachinetemplates by typing either `vmtemplates` or `vmtemplate`, however `vmtemplates` short-name is not added for now.

[2020-09-02 03:21] DoNotSayYes opened #107 "Volume page issues"
- [x] 1. If the volume is created without any content being populated, an error occurs as below - Validated
![image](https://user-images.githubusercontent.com/57614736/91921336-d6a15600-ecfd-11ea-8466-b4f0db3ac89f.png)

- [x] 2. State inconsistent on list page and detail page - Validated
![image](https://user-images.githubusercontent.com/57614736/91921623-82e33c80-ecfe-11ea-9436-d822d5e20c87.png)

[2020-09-02 06:26] gitlawr opened #108 "Fail to create image/ssh key"
![image](https://user-images.githubusercontent.com/5697937/91939257-17ae6000-ed28-11ea-965b-1c0602d27825.png)

[2020-09-02 08:46] gitlawr opened #110 "Redeploy fails"
**Steps to reproduce:**

1. `kubectl create ns harvester-system`
2. `helm install harvester -n harvester-system deploy/charts/harvester`, wait until everything is ready.
3. `helm delete harvester -n harvester-system`, wait until the release is cleaned up.
4. do step 2 again.

**Result:**
kubevirt pods are not deployed.
Logs from virt-operator shows:
[code]

[2020-09-02 09:12] guangbochen commented on #108
link to PR https://github.com/rancher/harvester/pull/109

[2020-09-02 09:56] gitlawr commented on #88
It might be related to an authenticated google storage URL. Can you check if it works for a public accessible download URL?

[2020-09-03 02:12] gitlawr commented on #108
validated

[2020-09-03 02:12] #108 closed, assigned to thxCode

[2020-09-04 03:33] gitlawr commented on #103
I think we should use camel case so it should be `vmName`?

[2020-09-04 03:45] guangbochen opened #115 "unable to uninstall harvester chart"
unable to uninstall harvester due to incorrect resource config
[code]
run `$helm delete harvester-system`  -n harvester-system returns error
[code]

and check its generate YAML via `$helm get all harvester-system  -n harvester-system  | less`

[code]

[2020-09-04 03:46] guangbochen commented on #106
link to PR https://github.com/rancher/harvester/pull/114

[2020-09-04 03:47] guangbochen commented on #110
link to PR https://github.com/rancher/harvester/pull/113

[2020-09-04 06:40] guangbochen opened #118 "harvester vmtemplateversion error logs on boot"
the following error logs are showing in the harvester, can we manage to check why it appread, thanks
[code]

[2020-09-07 01:20] guangbochen commented on #76
link to https://github.com/rancher/harvester/pull/91

[2020-09-07 01:23] guangbochen commented on #71
close in favor of https://github.com/rancher/harvester/issues/72

[2020-09-07 01:23] #71 closed, assigned to WuJun2016

[2020-09-07 01:24] guangbochen commented on #72
close in favor of https://github.com/rancher/harvester/pull/84

[2020-09-07 01:24] #72 closed, assigned to aiwantaozi

[2020-09-07 02:38] guangbochen commented on #85
fixed in the latest harvester with default to lowercase name.

[2020-09-07 02:38] #85 closed, assigned to WuJun2016

[2020-09-07 02:51] guangbochen commented on #89
@DaiYuzeng for the second issue, the user is still not able to remove the last label or annotation since u didn't send an empty array of string to the API.

[2020-09-07 02:57] DaiYuzeng commented on #89
Oh! Maybe i forgot to reset the bound object value,  I will fix it tomorrow! Thanks for your advice!

[2020-09-07 03:36] guangbochen commented on #100
let's add restriction to only allows `.yaml` file uploading.

[2020-09-07 08:08] gitlawr commented on #110
validated

[2020-09-07 08:08] #110 closed, assigned to thxCode

[2020-09-07 08:42] gitlawr commented on #106
validated

[2020-09-07 08:42] #106 closed, assigned to thxCode

[2020-09-08 14:03] guangbochen opened #120 "custom v1 api didn't route correctly when using rancher proxy URL"
v1 API like vmtemplateVersion didn't route correctly when using rancher proxy URL, it will be redirected to the rancher server URL.

[code]

[2020-09-08 14:04] guangbochen commented on #40
close in favor of vm template of https://github.com/rancher/harvester/issues/72

[2020-09-08 14:04] #40 closed, assigned to gitlawr, WuJun2016

[2020-09-08 14:06] guangbochen commented on #43
close in favor of https://github.com/rancher/harvester-ui/commit/fdc0c0c073092b028b5bcf906bf72e480570b167

[2020-09-08 14:06] guangbochen commented on #50
close as fixed in the harvester-ui

[2020-09-08 14:06] #50 closed, assigned to WuJun2016

[2020-09-08 14:07] guangbochen commented on #56
close in favor of https://github.com/rancher/harvester/pull/78

[2020-09-08 14:07] #56 closed, assigned to guangbochen

[2020-09-08 14:08] guangbochen commented on #73
close as it is added in the https://github.com/rancher/harvester-ui

[2020-09-08 14:08] #73 closed, assigned to WuJun2016

[2020-09-08 14:08] guangbochen commented on #68
close as UI added the bootOrder config

[2020-09-08 14:08] #68 closed, assigned to gitlawr

[2020-09-08 14:33] guangbochen commented on #115
close in favor of https://github.com/rancher/harvester/pull/119

[2020-09-08 14:33] #115 closed, assigned to thxCode

[2020-09-08 14:44] guangbochen opened #121 "vm template status is not updated correctly when adding a new template version"
**Description:**
the vm template status of `latestVersion` is not updated correctly after adding a new template version, it should set the `latestVersion` to the version id of the newest template version.

[2020-09-08 14:45] guangbochen commented on #96
close in favor of https://github.com/rancher/harvester-ui/commit/67da3aa926645772c2b353515442d1c7c1a55c4f

[2020-09-08 14:45] #96 closed, assigned to nobody

[2020-09-09 00:00] aiwantaozi opened #122 "lastest template version not correct if set that version as default when create template version"
step:
1. create a template version and check the set as default
2. check the template page, the default version number is correct, but the latest version isn't updated to the lastest one

reason:
in norman, UI can't update the object's status, even UI send status in the request body to the backend, the backend will use current status in etcd to replace it. But in steve, UI can update status. UI up

[2020-09-09 00:27] aiwantaozi commented on #121
step:
create a template version and check the set as default
check the template page, the default version number is correct, but the latest version isn't updated to the lastest one

reason:
in norman, UI can't update the object's status, even UI send status in the request body to the backend, the backend will use current status in etcd to replace it. But in steve, UI can update status. UI update t

[2020-09-09 00:27] #122 closed, assigned to nobody

[2020-09-09 00:27] aiwantaozi commented on #122
duplicated https://github.com/rancher/harvester/issues/122

[2020-09-09 03:33] aiwantaozi opened #123 "UI support for unmount cd-rom"
support for unmount cd-rom disk

[code]

for CD-ROM type show a checkbox before it, and an eject button, after the user selects some CD-ROM and click the eject button, pop out a confirm dialogue.

eject CD-ROM
![1599622199783](https://user-images.githubusercontent.com/5936271/92551121-d1a94d00-f28f-11ea-8d2e-e9ab17efd647.jpg)

confirm dialogue:
[code]

[2020-09-09 10:23] gitlawr commented on #121
@aiwantaozi In what cases the UI will update a vmtemplate with a stale version?

[2020-09-10 02:23] guangbochen opened #126 "harvester chart failed to deploy with external storage"
harvester chart failed to deploy when using external storage like GCS of minio server.

[code]

[2020-09-10 03:20] guangbochen opened #127 "[feature] support external s3 compatiable storage server as image repo"
When trying to add an external s3 compatible storage server like s3 it failed with:
[code]

[2020-09-10 03:48] aiwantaozi commented on #121
When UI set the default version may also send status with stale version, and on the template controller we don't recalculate the latestVersion before, so the latest version doesn't update.

[2020-09-10 05:13] DaiYuzeng commented on #102
It's expected to link to API UI, the API page will be opened on new page.

[2020-09-10 10:20] guangbochen opened #129 "telnet vm IP failed when using masquerade pod network"
telnet vm IP failed when using masquerade pod network

[2020-09-10 11:51] WuJun2016 opened #131 "ui settings page"
1. move the setting page to the harvester UI(i.e. similar to the namespace page).
2. change the user logo to avatar style(please refer to the rancher UI).
3. update setting's drop style and make it consistent with the current UI design.
![image](https://user-images.githubusercontent.com/4569037/92871160-34891880-f437-11ea-8836-60223bdf42eb.png)

[2020-09-11 03:35] guangbochen opened #132 "harvester authentication"
**Description:**
need to add authentication to the harvester-ui, e.g, using the k8s dashboard way
![image](https://user-images.githubusercontent.com/4569037/92853723-bae72f80-f422-11ea-9505-8cd424f4ab6e.png)
reference:
https://github.com/kubernetes/dashboard/blob/master/docs/user/accessing-dashboard/README.md

[2020-09-11 03:49] guangbochen opened #133 "support VM migration"
**Description:**
Support for live VM migration using NFS or longhorn

refer to https://kubevirt.io/2020/Live-migration.html

[2020-09-11 03:54] guangbochen opened #135 "all-in-one installation of harvester"
**Description:**

permit to allow all-in-one installation in harvester installation includes RKE, longhorn storage/NFS, and multus network.

It can be done either via providing a bash script or cli tools

[2020-09-11 04:00] guangbochen opened #136 "cloud-init config and design enhancement"
**Description*:*
Need to review the current design of cloud-init config and provide the advanced configuration that allows arbitrary input,

For some existing configuration like ssh-key and hostname that can be configured by the UI can be overwritten by the cloud-init config but don't need to show it again.

[2020-09-11 04:05] guangbochen commented on #126
close in favor of https://github.com/rancher/harvester/pull/128

[2020-09-11 04:05] #126 closed, assigned to nobody

[2020-09-11 04:06] guangbochen commented on #123
link to https://github.com/rancher/harvester/pull/99 , backend is merged.

[2020-09-11 05:18] guangbochen commented on #121
link to PR https://github.com/rancher/harvester/pull/124

[2020-09-11 05:22] guangbochen commented on #118
link to PR https://github.com/rancher/harvester/pull/124

[2020-09-11 06:04] guangbochen commented on #103
close as this is already added through the UI.

[2020-09-11 06:04] #103 closed, assigned to WuJun2016

[2020-09-11 06:05] guangbochen commented on #102
this is still not working when under the proxy mode.

[2020-09-11 06:06] guangbochen commented on #101
link to PR https://github.com/rancher/harvester/pull/112

[2020-09-11 06:12] guangbochen commented on #88
close as it works with the public URL.

[2020-09-11 06:12] #88 closed, assigned to gitlawr

[2020-09-11 06:17] guangbochen commented on #83
added in the UI
![image](https://user-images.githubusercontent.com/4569037/92873285-74e99600-f439-11ea-848d-bd6df976f918.png)

[2020-09-11 06:17] #83 closed, assigned to WuJun2016

[2020-09-11 06:18] aiwantaozi commented on #94
updated

[2020-09-11 07:04] guangbochen commented on #101
@WuJun2016 the backend API is merged so the UI integration ready to go.

[2020-09-11 07:09] guangbochen commented on #74
close in favor of https://github.com/rancher/harvester/issues/73, and the user should be able to use a serial console for those minimal-cloud images.

[2020-09-11 07:09] #74 closed, assigned to guangbochen

[2020-09-11 07:14] guangbochen commented on #67
link to PR https://github.com/rancher/harvester/pull/99 and UI integration will be tracked in https://github.com/rancher/harvester/issues/123.

[2020-09-11 07:14] #67 closed, assigned to aiwantaozi

[2020-09-11 07:23] guangbochen commented on #69
will add an action handler of the VM that the user can select which DV needs to be removed. cc @aiwantaozi

[2020-09-11 07:30] guangbochen commented on #20
1. allow the user to choose whether to create a single VM instance or multiple ones.
2. the VM name label should be changed to `Prefix Name` when it's set to `multiple instances` mode.
    - the full generated name will be `%s-01`, `01` is auto-increment and will append to the end of the prefix-name
    - if the prefix-name is ended with `-` it will not assign another `-` before the incremental nu

[2020-09-11 07:32] guangbochen commented on #63
close in favor of #61

[2020-09-11 07:32] #63 closed, assigned to thxCode

[2020-09-11 07:33] guangbochen commented on #10
close in favor of https://github.com/rancher/harvester/pull/14

[2020-09-11 07:33] #10 closed, assigned to thxCode, DoNotSayYes

[2020-09-11 07:36] guangbochen commented on #11
close in favor of https://github.com/rancher/harvester-ui as the above pages are all added for now.

[2020-09-11 07:36] #11 closed, assigned to WuJun2016

[2020-09-11 07:44] guangbochen commented on #9
currently, the restart action API is succeeded but not reflecting on the UI as `restarting` status, we should make an enhancement on this.

[2020-09-11 07:58] thxCode opened #137 "Adjust the API ID format"
According to https://github.com/rancher/harvester/pull/112#discussion_r486176045, we should adjust the format of the API ID from `{namespace}:{name}` (norman style) to `{namespace}/{name}` or compatible:
https://github.com/rancher/harvester/blob/6a0eb2ffc5af2df5f39a38772d28e82346f95447/pkg/ref/api_id.go#L8-L15

[2020-09-11 08:01] guangbochen commented on #137
I think the `ns:name` format is also used in other places like VM image annotation, we should make this consistent across the project, @gitlawr can u please help to confirm, thanks.

[2020-09-11 08:04] thxCode commented on #137
I think a breaking change is better than a compatible enhancement if possible.

[2020-09-11 08:08] gitlawr commented on #137
Yes we need to coordinate with UI for the change

[2020-09-11 10:06] guangbochen opened #138 "make harvester catalog Q&A more readable"
make harvester catalog Q&A more readable

[2020-09-14 08:47] thxCode opened #140 "Ejecting non-existed CD-ROM causes VMI creating"
**Problem:**
According to the current `ejectCdRom` implement,

https://github.com/rancher/harvester/blob/788d1a08a9e349d1d57238b73a8d7e687624ebee/pkg/api/vm/handler.go#L104-L114

if we pass a non-existed CD-ROM name to VM `ejectCdRom` action, it will delete the existing VMI. The template resource(VM) has not changed, so the generated resource(VMI) should not be recreated.

**Solution:**

We can en

[2020-09-14 08:52] thxCode commented on #70
I will squash the `refactor` commits and `test` commits after LGTMed, cc @guangbochen.

[2020-09-14 09:30] guangbochen commented on #136
will change the current design as below: cc @WuJun2016 @gitlawr @yasker
1. bring back cloud-config with user data input(if the user specify the hostname in the user-data it will overwrite the one defined in the UI)
2. add [network data config](https://kubevirt.io/user-guide/#/creation/cloud-init?id=cloud-init-network-config-as-clear-text), and `#cloud-config` is always required of the user-data co

[2020-09-15 08:13] gitlawr commented on #137
After backend is ready, UI should update the processing for the following fields accordingly
[code]

[2020-09-16 02:08] aiwantaozi commented on #137
@WuJun2016

[2020-09-16 02:38] DaiYuzeng commented on #137
@gitlawr hi, i think we should not update the field ```VMTemplate.status.defaultVersion``` ,  but ``` VMTemplate.spec.defaultVersionId ```.

![image](https://user-images.githubusercontent.com/15041915/93285924-93b8a580-f808-11ea-8e2f-4b5b52ba9b5a.png)

[2020-09-16 02:42] gitlawr commented on #137
@DaiYuzeng Good catch, also check if there's any place I am missing

[2020-09-17 01:08] DoNotSayYes commented on #89
Validated

[2020-09-17 01:08] #89 closed, assigned to DaiYuzeng

[2020-09-17 01:18] #104 closed, assigned to DaiYuzeng

[2020-09-17 01:22] DoNotSayYes commented on #100
Validated
![image](https://user-images.githubusercontent.com/57614736/93408532-65e66600-f8c7-11ea-80b8-9eef53364507.png)

[2020-09-17 01:22] #100 closed, assigned to DaiYuzeng

[2020-09-17 01:28] DoNotSayYes commented on #97
Validated all except the 4th item

[2020-09-17 01:28] #97 closed, assigned to DaiYuzeng

[2020-09-17 01:43] guangbochen commented on #129
firstly `ipv4.ip_forward` should be enabled of the CNI config of the VM k8s cluster https://github.com/rancher/harvester/issues/94, additionally, we should allow the user to config the ports when creating the VM in the UI.

To allow traffic into virtual machines, the template ports section of the interface should be configured as follows.

[code]

[2020-09-17 07:09] DoNotSayYes commented on #95
Validated

[2020-09-17 07:09] #95 closed, assigned to DaiYuzeng

[2020-09-17 08:52] guangbochen commented on #129
test plan:
1. create VM using the `masquerade` mode of the pod network
2. config port e.g like 80 and 8080
3. after the VM is created run `kubectl exec -it $vm-pod bash` and check its iptables
4. `$sudo iptables -t nat -nvL` and the expected results are
[code]
5. additionally u can test using `$telnet $pod-ip $port` from another pod like busybox to validate the network works as expected.

[2020-09-17 09:40] DoNotSayYes commented on #43
It still can be encountered that the state does not refresh when adding a new VM, can you help confirm it again @WuJun2016
![image](https://user-images.githubusercontent.com/57614736/93453699-943a6480-f90c-11ea-9e3f-193b0bcb77e6.png)

[2020-09-17 11:17] DoNotSayYes opened #146 "Virtual Machine UI issues"
- [x] 1. On the Virtual Machine list page, the machine created time tooltip displays out of the page - validated
![image](https://user-images.githubusercontent.com/57614736/93443100-c8108c80-f902-11ea-9982-f7c96a4af2e9.png)

- [x] 2. On the Virtual Machine create page, to add a new SSH key, every time click the save button without filling anything, a new error message will be added on the popup wi

[2020-09-17 14:16] guangbochen commented on #138
link to PR https://github.com/rancher/harvester/pull/145

[2020-09-17 16:06] DoNotSayYes opened #147 "Unable to create image if the URL begins or ends with spaces"
**Steps to replicate:**
1. On the image create page, type in some spaces at the beginning or in the end of the URL
2. Fill in other required fields and click the create button

**Result:**
Failed to create an image, along with error messages
![image](https://user-images.githubusercontent.com/57614736/93497150-afc06200-f942-11ea-959b-47b04efb7031.png)

[2020-09-17 16:15] DoNotSayYes opened #148 "Unknown state shows at the beginning of creating an image, and error messages do not show until refreshing the page"
**Steps to reproduce:**
1. Create an image with an invalid URL or something
2. Check on the image list

**Results:**
- [x] 1. Unknown state shows at the beginning of creating an image
![image](https://user-images.githubusercontent.com/57614736/93497873-90760480-f943-11ea-969d-c7c9eba50261.png)

- [x] 2. Error messages do not show until refreshing the page
![image](https://user-images.githubusercon

[2020-09-17 16:26] DoNotSayYes opened #149 "A generated name will replace the image name when pasting an URL in the URL textbox"
**Steps to reproduce:**
1. On the image create page, fill the image with anything, such as: `test-image`
2. Then paste an URL to the URL textbox, such as:
`https://cloud-images.ubuntu.com/minimal/releases/bionic/release-20200806/ubuntu-18.04-minimal-cloudimg-amd64.img`

**Result:**
A generated name will replace what has been previously filled in.
![image](https://user-images.githubusercontent.com/

[2020-09-17 16:36] DoNotSayYes opened #150 "An error message shows if the URL is blank or begins/ends with spaces"
**Steps to reproduce:**
Fill in a valid URL and then remove it

**OR**

Add spaces at the beginning or at the end of the URL

**Result:**
In the above three cases, it's not necessary to display an error message
![image](https://user-images.githubusercontent.com/57614736/93500222-9caf9100-f946-11ea-99df-a3bdefae7c13.png)

[2020-09-18 01:08] DoNotSayYes opened #151 "Unable to view SSH keys on VM detail page"
**Steps to reproduce:**
1. Create a VM and get to its detail page
2. Click SSH-keys on the right corner of Inventory

**Result:**
A pop-pu window shows but nothing to show
![image](https://user-images.githubusercontent.com/57614736/93543515-5a11a700-f98e-11ea-9d68-152641cea5b8.png)

[2020-09-18 01:27] DoNotSayYes opened #152 "VM keeps creating if no name is populated"
**Steps to reproduce:**
1. On VM create page, fill in all the required fields except the VM name
2. Click the create button

**Result:**
The status keeps creating without any error message or timeout
![image](https://user-images.githubusercontent.com/57614736/93544454-b5dd2f80-f990-11ea-9644-3acde298ea45.png)

[2020-09-18 01:57] guangbochen commented on #147
will add string trim on both backend and the UI, thanks

[2020-09-18 05:44] guangbochen commented on #121
close in favor of https://github.com/rancher/harvester/pull/124

[2020-09-18 05:44] #121 closed, assigned to aiwantaozi

[2020-09-18 06:08] guangbochen commented on #137
close in favor of https://github.com/rancher/harvester-ui/pull/93, https://github.com/rancher/harvester-ui/pull/90, https://github.com/rancher/harvester/pull/141.

[2020-09-18 06:08] #137 closed, assigned to gitlawr

[2020-09-18 06:16] DoNotSayYes opened #153 "Typos"
- [x] 1. On the delete prompt box, attempting is missing a t. (also remove the virtual machine just call it image)
![image](https://user-images.githubusercontent.com/57614736/93562420-98bc5700-f9b8-11ea-8d39-7bf801a8944e.png)

- [x] 2. For the name length restriction case, it's better to say:
`Name cannot be longer than 63 characters -> "Name" cannot be more than 63 characters.`
![image](https://u

[2020-09-18 06:35] DoNotSayYes opened #154 "Create a ssh key, and reading from a file by selecting a large file may cause the page to jam"
**Steps to reproduce:**
1. On the ssh key create page
2. Click `Read From File`button and upload a large file. (Tested by uploading a dmg file)

**Result:**
By uploading a large file could cause the page to jam

**Suggestion:**
Add some restrictions, like only allow users to upload txt, yaml and yml this kinds of files

[2020-09-18 06:40] gitlawr commented on #70
Are we setting up the kind cluster twice, one for master and one for global? Can we do it once

[2020-09-18 06:47] DoNotSayYes opened #155 "Create an ssh key by filling nothing, an inappropriate error message shows"
**Steps to reproduce:**
1. On the SSH key create page
2. Not filling anything on the page then click the create button

**Result:**
An error message shows and says: Name cannnot longer than 63 characters. Actually nothing is populated
![image](https://user-images.githubusercontent.com/57614736/93564854-fc488380-f9bc-11ea-895a-52e490512f35.png)

[2020-09-18 06:50] guangbochen commented on #154
this is a public key so using `.pub` file extension check would make sense.

[2020-09-18 07:00] guangbochen commented on #136
validation steps:
1. create a new VM e.g. using ubuntu cloud image
2. set the hostname to `foo.bar`
3. config both the user data and network data as below:
[code]

4. ssh to the VM with above defined passwd and check the second network interface is up as expected.

[2020-09-18 07:26] guangbochen commented on #102
close in favor of https://github.com/rancher/harvester-ui/pull/86

[2020-09-18 07:26] #102 closed, assigned to DoNotSayYes

[2020-09-18 09:59] guangbochen opened #158 "[ENHANCEMENT] api formatter shoud return panic message on error exceptions"
refer to: https://github.com/gorilla/handlers/blob/master/recovery.go

[2020-09-20 20:13] ghost opened #159 "would this work on a rancher cluster?"
if this was running on a rancher cluster, could you then dedicate the whole cluster to one vm, effectively creating a single system image cluster where regular programs treat it as one big system?

[2020-09-21 01:21] guangbochen commented on #133
link to PR https://github.com/rancher/harvester/pull/143

[2020-09-21 03:30] gitlawr commented on #133
Work process in the UI:
1. UI shows migrate/abortMigration actions when they are available for VM resources.
2. When a VM is migrating or the migration failed, UI shows migrating or migration failed status(besides running status)
3. In VM detail page, add a `Migration` tab showing migration status (derived from VMI.status.migrationState and the corresponding VMIM object)

[2020-09-21 03:50] guangbochen commented on #133
on the VM creating page, we should also notify the user both pod bridge network and none-RWM disks will support live-migration.

[2020-09-21 06:17] thxCode commented on #70
@gitlawr , setting up an independence cluster for each suite is a reasonable way, at the same time, testing in an existing cluster is also supported. It seems we can only consider the steve API in the integration test, so I merge `global` and `master` suites in one, but the principle remains the same. It is recommended that each independent suite be run in an independent environment.

[2020-09-21 06:54] gitlawr commented on #143
Updated

[2020-09-21 08:05] DoNotSayYes opened #160 "A template can be created though no image is selected"
**Steps to reproduce:**
1. Create a template, fill in template name, CPU, and memory
2. Selecting no image and click the create button

**Result:**
A template can be created though no image is selected
![image](https://user-images.githubusercontent.com/57614736/93744352-441d1400-fc24-11ea-806c-9d67dfa8b5cb.png)

[2020-09-21 08:08] guangbochen commented on #160
@DoNotSayYes vm image is not required for VM template.

[2020-09-21 08:25] DoNotSayYes opened #161 "Adjust the sequence of error messages and unify the units of memory"
**Steps to reproduce:**
1. On the template page, fill the page with nothing and click the save button
2. Check on the error message

**Result:**
- [ ] 1. An error message says: "Cpu" is required, even though the template is not populated as well
- [ ] 2. Unify the units of Memory. (MiB, GiB, and TiB)
![image](https://user-images.githubusercontent.com/57614736/93744755-f359eb00-fc24-11ea-8202-eae1e

[2020-09-21 08:32] DoNotSayYes commented on #160
On the template create page, when modifying the default disk, what's the purpose of selecting image. @guangbochen
![image](https://user-images.githubusercontent.com/57614736/93746417-a6c3df00-fc27-11ea-8650-de1d7159f156.png)

[2020-09-21 08:47] DoNotSayYes opened #162 "Unable to select network When adding a network interface"
**Steps to reproduce:**
1. On the template create page, add a new network interface
2. On the popup window, check on the network dropdown

**Result:**
There is nothing that can be selected
![image](https://user-images.githubusercontent.com/57614736/93747274-0b336e00-fc29-11ea-8e3b-dff6742694a4.png)

Moreover, why users are not able to add Mac Address when modifying the default network interface?
!

[2020-09-21 09:40] DoNotSayYes opened #163 "The left-hand navigation is not highlighted due to manipulations of the items on the page"
**Steps to reproduce:**
1. On any of the pages, click table headers to sort or manipulate the items. (do an edit or something)
2. Check on the left-hand navigation

**Result:**
After the manipulation of the items, the left-hand navigation is not highlighted anymore.
![image](https://user-images.githubusercontent.com/57614736/93750997-f528ac00-fc2e-11ea-928f-fa2a24913403.png)
![image](https://user-

[2020-09-21 09:54] DoNotSayYes opened #164 "Unfriendly error messages and memory units unification on Volumes page"
**Steps to reproduce:**
1. Left the source and size blank, click the create button
2. Only left the source blank, click the create button

**Result:**
- [x] In the above cases, the error messages seem unfriendly
![image](https://user-images.githubusercontent.com/57614736/93753873-6702f480-fc33-11ea-9341-778b3eec7ff5.png)
![image](https://user-images.githubusercontent.com/57614736/93753896-7124f300

[2020-09-21 10:14] guangbochen commented on #162
1. add a second network requires [Multus](https://github.com/intel/multus-cni) network plugin to be installed in the user's cluster and associated NAD(network attachment definition) is required to be added in each namespace (additionally, multi-network is not in our current scope so the user has to config it manually in their environment).
2. default `pod network` does not support config the mac a

[2020-09-21 10:28] guangbochen commented on #164
let's add `required` validation to the DV page first and leave the units as what it is for now since this is designed in purpose.

[2020-09-21 10:31] guangbochen commented on #160
user has to choose the image when creating the VM, we just don't want to force them to select one when creating a VM template.

but we should possibly change the `Select Image` to `Image` and make it optional in the VM template page,
also add `(optional)` next to the choose an image label, thanks cc @WuJun2016

[2020-09-21 10:40] guangbochen commented on #155
addressed in https://github.com/rancher/harvester-ui/pull/99

[2020-09-21 10:42] guangbochen commented on #138
close in favor https://github.com/rancher/harvester/pull/145

[2020-09-21 10:42] #138 closed, assigned to guangbochen

[2020-09-21 10:43] guangbochen commented on #131
close in favor of https://github.com/rancher/harvester-ui/pull/82

[2020-09-21 10:43] #131 closed, assigned to DaiYuzeng

[2020-09-21 10:44] guangbochen commented on #67
refer the UI design from #123
![image](https://user-images.githubusercontent.com/4569037/93758165-7fc2d880-fc3a-11ea-8be3-647381cc8e24.png)

[2020-09-21 10:54] guangbochen commented on #66
close in favor of https://github.com/rancher/harvester/pull/134

[2020-09-21 10:54] #66 closed, assigned to aiwantaozi

[2020-09-21 10:55] guangbochen commented on #118
close in favor of https://github.com/rancher/harvester/pull/124

[2020-09-21 10:55] #118 closed, assigned to aiwantaozi

[2020-09-21 11:00] guangbochen commented on #76
close in favor of https://github.com/rancher/harvester/pull/91

[2020-09-21 11:00] #76 closed, assigned to gitlawr

[2020-09-21 11:03] guangbochen commented on #77
close in favor of https://github.com/rancher/harvester/blob/master/pkg/controller/master/template/template_controller_test.go

[2020-09-21 11:03] #77 closed, assigned to aiwantaozi

[2020-09-22 06:36] DoNotSayYes opened #165 "A template version cannot be added without selecting an image"
**Steps to reproduce:**
1. Create a template, not selecting any image
2. Chooes the template to add a template version
3. Fill in CPU and Memory, still not selecting any image

**Result:**
No template version can be added, unless the image is selected
![image](https://user-images.githubusercontent.com/57614736/93850572-f4e8e900-fce0-11ea-946b-6ad516e15095.png)

[2020-09-22 06:51] guangbochen opened #166 "enhance live migration and abort migration condition check"
make an enhancement of the current `live migration` and `abort migration` action check of the following cases.

1.  add status check of `LiveMigratable` to the `can-migrate` action handler since not all VMIs will support live migration, this status is used by kubevirt to calculate if the VM is live-migratable or not upon volume `Access Mode`  and other related parameters.
https://github.com/ranche

[2020-09-22 07:18] DoNotSayYes opened #167 "Edit a template, only name and description are populated with what were previously filled in"
**Steps to reproduce:**
1. Create a template, fill in all the fields with values
2. After the template is created, choose it and to edit as form/edit as YAML

**Result:**
 Only name and description are populated with what were previously filled in, other fields are blank
![image](https://user-images.githubusercontent.com/57614736/93853691-e56c9e80-fce6-11ea-9235-473f45fc9122.png)

[2020-09-22 09:19] WuJun2016 commented on #150
Fill in a valid URL and then remove it.  (In this case, I think the error message should be displayed)。 @guangbochen @DoNotSayYes

[2020-09-22 09:25] DoNotSayYes opened #169 "Keep showing exact error messages could better help address the root cause of errors on the volumes page"
**Steps to reproduce:**
1. Create a volume with a size of 1 GiB, mount to an image
2. Check on its detail page

**Result:**
- [x] 1. An error message shows for few seconds and finally turns to a meaningless one
![image](https://user-images.githubusercontent.com/57614736/93863730-726b2400-fcf6-11ea-8a31-de3d70d6dc9f.png)
![image](https://user-images.githubusercontent.com/57614736/93864185-15bc3900-

[2020-09-22 10:18] DoNotSayYes opened #171 "Even though a volume has been removed from a VM, it is still being attached to the VM on the volumes page"
**Steps to reproduce:**
1. Create a volume, name it as Test-VM
2. Create/Edit a VM, add a disk from existing volume and choose Test-VM, then save it
2. Edit the same VM again, remove the disk that just added
4. Get to the volume page, check on the list

**Result:**
Even though the disk has been removed from the VM, can see Test-VM is still being attached to the VM on the volume page list
![image](

[2020-09-22 11:12] DoNotSayYes opened #172 "Users can mount a non-succeeded volume into a VM"
**Steps to reproduce:**
1. Create a volume name it Test-volume01, and make it in the non-succeeded phase. (set size 1 GiB)
2. After the volume is created, it would in the ImportInProgress phase
3. Get to Create/Edit VM page, edit/create a VM, add a disk form existing volume

**Result:**
Test-volume01 can be selected even though it is in the ImportInProgress phase
![image](https://user-images.githu

[2020-09-23 09:12] DoNotSayYes opened #173 "Users are allowed to create a volume whose disk size could exceed the total disk size of the machine"
**Steps to reproduce:**
1. Create a volume filling size 1000000000 GiB whose disk size could exceed the total disk size of the machine
2. Check the volume state on the list

**Result:**
The volume can be created with no any errors but only in N/A state
![image](https://user-images.githubusercontent.com/57614736/93989198-313d4780-fdbc-11ea-8405-a05f9f3ea9d4.png)
![image](https://user-images.githubu

[2020-09-23 09:40] DoNotSayYes opened #174 "Users are allowed to create a VM whose CPU/Memory could exceed the total CPU/Memory of the machine"
**Steps to reproduce:**
1. Create a VM filling 10000 cores CPU and 10000 GiB Memory whose CPU/Memory could exceed the total CPU/Memory of the machine
2. Check on the VM list page and detail page

**Result:**
- [ ] 1. Users are allowed to create a VM whose CPU/Memory could exceed the total CPU/Memory of the machine, and no explicit error messages are provided
- [x] 2. The LAUNCHER_POD_ERROR state c

[2020-09-23 10:58] DoNotSayYes opened #175 "Suppress the view ports icon if no ports are configured to a VM"
**Steps to reproduce:**
1. Create a VM, add networks
2. Some of them are having ports configured and some of them are not

**Result:**
The View Ports icon is displayed in any case, it's not necessary to display this icon if no ports are configured, suppressing it may be a better option.
![image](https://user-images.githubusercontent.com/57614736/94002620-b7fa2080-fdcc-11ea-9d45-97b838fe87e2.png)
!

[2020-09-23 11:11] DoNotSayYes opened #176 "Users are able to view all the items created using the same pub key if only is selected on VM detail page"
**Steps to reproduce:**
1. Create several SSH key with different names by using the same pub key
2. Create a VM by using one of the SSH keys that created above
3. After the VM is created, check on its detail page and click the SSH-keys icon

**Result:**
 Though just one of the SSH-keys is selected, users are able to view all the items created using the same pub key
![image](https://user-images.git

[2020-09-23 15:33] WuJun2016 commented on #105
case 4、 case 5 are normal

[2020-09-24 02:55] DoNotSayYes opened #177 "The VM description is duplicate in annotations"
**Steps to reproduce:**
1. Create a VM filling something in the description
2. After the VM is created, check on the VM detail page

The description is duplicate in annotations

**Results:**
- [x] 1. The description is added as an annotation, nothing is populated in description
![image](https://user-images.githubusercontent.com/57614736/94094648-96dc1300-fe52-11ea-953e-70422cc3bdae.png)

- [x] 2.

[2020-09-24 02:57] WuJun2016 commented on #9
We can't distinguish restart States,  which are similar to creating a new VM  @guangbochen

[2020-09-24 03:39] DaiYuzeng commented on #147
This issue has been fixed at https://github.com/rancher/harvester-ui/commit/21aa2c2ef1a5b89577f4a264de618d0117b8379f

[2020-09-24 09:48] WuJun2016 commented on #86
case 8, (the SSH-Key label overlaps the content in the textbox waiting for refactoring to repair)

[2020-09-24 09:51] WuJun2016 commented on #87
case 5, delete open conosle action

[2020-09-25 10:22] DoNotSayYes commented on #164
Validated on 2019/09/25
![image](https://user-images.githubusercontent.com/57614736/94256053-c3c81d00-ff5b-11ea-8e43-1f9f0ba3536e.png)
![image](https://user-images.githubusercontent.com/57614736/94256083-d0e50c00-ff5b-11ea-83b7-ffe75a5174bf.png)

[2020-09-25 10:22] #164 closed, assigned to DaiYuzeng, DoNotSayYes

[2020-09-25 10:27] DoNotSayYes commented on #163
Validated
![image](https://user-images.githubusercontent.com/57614736/94256688-be1f0700-ff5c-11ea-8721-5e8e6c672ecc.png)

[2020-09-25 10:27] #163 closed, assigned to DaiYuzeng, DoNotSayYes

[2020-09-26 00:42] DaiYuzeng commented on #132
Hi all, there is a discussion. Do we need to add a logout API? Because, jwetoken in Cookie is HTTP-Only, it cannot remove from the front end.

https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies
![image](https://user-images.githubusercontent.com/15041915/94326014-ff9ec900-ffd3-11ea-91ca-b73b4688f89f.png)

[2020-09-27 02:50] WuJun2016 commented on #176
Can I put this issue in the next version ？ In the next version, I will add `harvester / annotations: UI` to all CRDs created through UI to solve such problems. @guangbochen

[2020-09-27 02:53] WuJun2016 commented on #167
Now we can't edit the template. Some actions have been deleted.  @DoNotSayYes

[2020-09-27 04:59] guangbochen commented on #132
@DaiYuzeng the backend is merged, can u please help to add `logout` action in the UI, thanks.

[2020-09-27 06:44] WuJun2016 commented on #169
case 2,  When the size is too small, the progress of volume will be in N / A.   @DoNotSayYes  @guangbochen

[2020-09-27 06:50] guangbochen commented on #169
what is the minimum size to make it show correctly, if this is an API issue, mark it as backend and will make an enhancement fix later.

[2020-09-27 07:15] WuJun2016 commented on #174
case 1 fix in next version

[2020-09-27 08:32] DoNotSayYes commented on #174
Validated case 2, by the way, it's better to apply this change to the other pages because it could happen on any one. @WuJun2016
![image](https://user-images.githubusercontent.com/57614736/94360242-817b1900-00de-11eb-9696-3c7745b104ac.png)

I'd remove the `to-test` tag in order to keep tracking case 1

[2020-09-27 09:23] DoNotSayYes commented on #160
If users select an image when creating a template, it will be populated in the image dropdown and not editable when editing the default disk, this doesn’t seem like optional at all. @guangbochen

[2020-09-27 09:34] DoNotSayYes commented on #152
Validated, an error message has been added.
![image](https://user-images.githubusercontent.com/57614736/94361552-acb63600-00e7-11eb-8144-463c4658a8f2.png)

[2020-09-27 09:34] #152 closed, assigned to DoNotSayYes

[2020-09-27 09:43] WuJun2016 commented on #169
Case 1 has been fixed

[2020-09-27 10:59] DoNotSayYes commented on #172
Validated
![image](https://user-images.githubusercontent.com/57614736/94363225-67980100-00f3-11eb-948b-2feb17ddd8c5.png)
![image](https://user-images.githubusercontent.com/57614736/94363240-839ba280-00f3-11eb-821d-58c685516dab.png)

[2020-09-27 10:59] #172 closed, assigned to WuJun2016

[2020-09-27 11:16] DoNotSayYes commented on #155
Validated
![image](https://user-images.githubusercontent.com/57614736/94363609-ed1cb080-00f5-11eb-9f3b-768f589974b4.png)

[2020-09-27 11:16] #155 closed, assigned to DaiYuzeng, DoNotSayYes

[2020-09-27 11:20] DoNotSayYes commented on #151
Validated
![image](https://user-images.githubusercontent.com/57614736/94363675-69af8f00-00f6-11eb-934e-940bad0b1423.png)

[2020-09-27 11:20] #151 closed, assigned to DaiYuzeng, DoNotSayYes

[2020-09-27 11:24] DoNotSayYes commented on #150
`Fill in a valid URL and then remove it.` just like users are not typing in anything at all, what is the necessity of showing this error message? @WuJun2016

And another case is if users type in the URL letter by letter, the error message will show all the time until users finish completing the whole URL. Could we just do the validation just before submitting the request?

[2020-09-27 16:31] DoNotSayYes commented on #147
Validated.

[2020-09-27 16:31] #147 closed, assigned to gitlawr, DaiYuzeng

[2020-09-28 00:51] DoNotSayYes commented on #149
Validated

[2020-09-28 00:51] #149 closed, assigned to WuJun2016, DoNotSayYes

[2020-09-28 01:05] DoNotSayYes commented on #107
Validated

[2020-09-28 01:05] #107 closed, assigned to DaiYuzeng, DoNotSayYes

[2020-09-28 01:55] guangbochen opened #179 "skip auth is failed to view all APIs"
**Issue:**
added `SKIP_AUTHENTICATION: true` to skip harvester authentication but can only view limited API resources.

** Proposed solutions:**
Harvester uses `cluster-admin`clusterrolebinding and requires to be bounded to the `system:masters` group
![image](https://user-images.githubusercontent.com/4569037/94382631-0eba7e00-0170-11eb-9824-88fd13785285.png)

however, this may not always be the ca

[2020-09-28 02:05] DoNotSayYes opened #180 "SSH key popup window is populated with content that filled previously on the VM detail page"
On the Virtual Machine create page, to add a new SSH key. Stay on the page and add another SSH key again, when the popup window is open, it will be populated with content that filled previously

Moreover, every time click the save button without filling anything, an error message will show, close the window and open it again, the error message will still be there

![image](https://user-images.gith

[2020-09-28 02:32] DoNotSayYes opened #181 "The SSH keys are not selected as they were when the VM was created when editing a VM"
**Steps to reproduce:**
1. Create a VM having SSH keys selected, then edit it
2. On the edit page, check on SSH keys

**Result:**
The SSH keys are not selected as they were when the VM was created when editing a VM
![image](https://user-images.githubusercontent.com/57614736/94384717-d28a1c00-0175-11eb-97f6-91fa40d81409.png)

[2020-09-28 02:34] DoNotSayYes commented on #146
Validation passed except case 2 and 3, will track them in #180 and #181

[2020-09-28 02:34] #146 closed, assigned to DaiYuzeng, DoNotSayYes

[2020-09-28 03:48] guangbochen commented on #20
close in favor of https://github.com/rancher/harvester-ui/pull/96

[2020-09-28 03:48] #20 closed, assigned to WuJun2016, DoNotSayYes

[2020-09-28 05:39] guangbochen opened #183 "allow user to add a new vm cluster"
**Requirements:**

1. users should be able to set-up a new cluster using the harvester ISO.
1. users should be able to join the harvester cluster directly from the harvester ISO installation.

[2020-09-28 07:09] DoNotSayYes commented on #105
Validated

[2020-09-28 07:09] #105 closed, assigned to WuJun2016, DoNotSayYes

[2020-09-28 07:39] DoNotSayYes commented on #87
Validated

[2020-09-28 07:39] #87 closed, assigned to WuJun2016, DoNotSayYes

[2020-09-28 08:19] DoNotSayYes opened #184 "Unable to create a VM with multiple SSH keys which are created using the same public key"
**Steps to reproduce:**
1. Create several ssh keys using the same public key, name them key1, key2, and key3
2. Create a VM, select key1, key2, and key3, along with other required fields, then click the create button

**Result:**
An error occurs
![image](https://user-images.githubusercontent.com/57614736/94406541-c5385600-01a4-11eb-8740-bee5aa7214be.png)

[2020-09-28 08:41] DoNotSayYes commented on #86
Validated except case 8

[2020-09-28 08:41] #86 closed, assigned to WuJun2016, DoNotSayYes

[2020-09-28 09:06] DoNotSayYes opened #185 "Modify a disk/network could affect the Add Disk/Add Network Interface button"
**Steps to reproduce:**
1. On the VM create page, modify a disk or a network interface
2. Once the popup window is open, check the `Add Disk`/`Add Network Interface` button

**Results:**
The `Add Disk`/`Add Network Interface` button turns to `Edit Disk`/`Edit Network Interface` button
![image](https://user-images.githubusercontent.com/57614736/94412853-e43ae600-01ac-11eb-97f7-197adf31e8f9.png)

[2020-09-28 09:40] DoNotSayYes commented on #148
Case 1 and case 2 still can be encountered, could you help look into it? @DaiYuzeng

[2020-09-29 06:24] gitlawr opened #188 "Cloud init configurations in template is not available when creating VMs"
1. Create a template, add the following to cloud config user data.
[code]
2. Save the template
3. Create a VM, choose the template
4. expand Advanced options, the user data session is empty

[2020-09-29 06:43] gitlawr commented on #101
For testing:
1. Go to volumes page and check that the annotations are added to the volume manifests correctly.
2. UI correctly shows which VM an in-use volume is attached to.

[2020-09-29 06:48] gitlawr commented on #9
I'm moving out the terminate action from the scope. It can be done by deleting the VM.
Verified that I can start/stop/restart/pause/unpause a VM in the UI.

[2020-09-29 06:48] #9 closed, assigned to aiwantaozi, WuJun2016

[2020-09-29 06:49] DoNotSayYes opened #189 "Authentication failed with error code 404 through rancher proxy"
Authentication failed with error code 404, it seems that the request URL is not correct

![image](https://user-images.githubusercontent.com/57614736/94522425-35f17800-0262-11eb-9920-6feb77fbc2a5.png)

[2020-09-29 07:03] gitlawr commented on #153
Validated

[2020-09-29 07:03] #153 closed, assigned to DaiYuzeng, DoNotSayYes

[2020-09-29 07:13] DoNotSayYes commented on #93
Validated

[2020-09-29 07:13] #93 closed, assigned to DoNotSayYes

[2020-09-29 07:55] aiwantaozi commented on #165
1. The second request to create templateVersion is failed, when user don't select any image, no need to put dataVolumeTemplates in the template
2. When create templateVersion failed, now UI doesn't show the error, need to show error when the request failed.

![image](https://user-images.githubusercontent.com/5936271/94528865-8faa7000-026b-11eb-860c-2f3b84cdde8d.png)
[code]
[code]

[2020-09-29 08:48] DoNotSayYes commented on #129
**Reproduce steps:**
1. create VM using the masquerade mode of the pod network
2. Not configuring any ports
3. After the VM is created, log in that VM and install Nginx
4. Use `$telnet $pod-ip 80` from another pod like busybox to validate the network

**Result:**
Connection refused
![image](https://user-images.githubusercontent.com/57614736/94534933-8e7d4100-0273-11eb-8907-685d52eac349.png)

[2020-09-29 08:51] DoNotSayYes commented on #129
**Validation steps:**
1. create VM using the masquerade mode of the pod network
2. Configure port 80
3. After the VM is created, log in that VM and install Nginx
4. Use `$telnet $pod-ip 80` from another pod like busybox to validate the network

**Result:**
Connected
![image](https://user-images.githubusercontent.com/57614736/94535308-0481a800-0274-11eb-8230-f9b8d0132bf6.png)

[2020-09-29 08:51] #129 closed, assigned to guangbochen, DaiYuzeng, DoNotSayYes

[2020-09-29 10:21] DoNotSayYes commented on #136
**Validation steps:**
1. create a new VM e.g. using ubuntu cloud image
2. set the hostname to `foo`
3. config both the user data and network data as below:
[code]

**Result:**
UI is not passing the network config in API request. @WuJun2016
![image](https://user-images.githubusercontent.com/57614736/94546236-300a8f80-0280-11eb-955c-c8a500235c0f.png)

[2020-09-29 10:30] DoNotSayYes opened #190 "Authentication timeout"
Authentication timeout encountered in some cases somehow, though users are still manipulating Harvester pages.

![image](https://user-images.githubusercontent.com/57614736/94547010-4107d080-0281-11eb-961f-1e80979204e5.png)
![image](https://user-images.githubusercontent.com/57614736/94547036-4b29cf00-0281-11eb-8913-b7e6f2730e37.png)

[2020-09-29 10:33] DoNotSayYes commented on #136
If users configure an invalid `cloud-config `and `network-data`, why the frontend is not passing them in API request?
If the frontend considers that the config is not valid, some error messages should be shown to let users know
![image](https://user-images.githubusercontent.com/57614736/94546676-ce96f080-0280-11eb-8a5f-7e1778073f41.png)

[2020-09-29 16:37] DoNotSayYes opened #192 "The migration error message popups need to be dismissed"
**Steps to reproduce:**
1. Select a VM which cannot be migrated
2. Do the migration

**Result:**
The error message popups don't dismiss themselves, even if users turn the page forward or backward
![image](https://user-images.githubusercontent.com/57614736/94586480-dde36180-02b3-11eb-9834-5d18d98ea033.png)

[2020-09-29 16:50] DoNotSayYes opened #193 "Start time and end time are not updated after the first migration on the VM detail page"
**Steps to reproduce:**
1. Migrate a VM for several times
2. Check on the Migration tab the detail page

**Result:**
Start time and end time are not updated after the first migration
![image](https://user-images.githubusercontent.com/57614736/94588273-492e3300-02b6-11eb-87e6-a08a8cf6daac.png)

![image](https://user-images.githubusercontent.com/57614736/94588223-3e739e00-02b6-11eb-91aa-9c1901686f41

[2020-09-30 01:43] WuJun2016 commented on #192
next version fix

[2020-09-30 02:10] gitlawr commented on #189
Validated that I can log in in proxy mode.

[2020-09-30 02:10] #189 closed, assigned to DaiYuzeng, DoNotSayYes

[2020-09-30 02:12] gitlawr commented on #185
Validated

[2020-09-30 02:12] #185 closed, assigned to WuJun2016

[2020-09-30 02:14] gitlawr commented on #165
Validated

[2020-09-30 02:14] #165 closed, assigned to WuJun2016

[2020-09-30 02:23] gitlawr commented on #140
Validated that ejecting a non-existing cdrom does not trigger VMI recreation

[2020-09-30 02:23] #140 closed, assigned to aiwantaozi

[2020-09-30 02:24] gitlawr commented on #133
Now we can do migrations in the UI

[2020-09-30 02:24] #133 closed, assigned to gitlawr, WuJun2016, DoNotSayYes

[2020-09-30 02:25] gitlawr commented on #101
Validated

[2020-09-30 02:25] #101 closed, assigned to DoNotSayYes

[2020-09-30 02:30] gitlawr commented on #69
UI is not ready, moving this out

[2020-09-30 02:37] gitlawr commented on #132
The kubeconfig method has some limitations, can we add a note in the UI so that users are not confused when they bring a valid kubeconfig but can not get access.
e.g., add a tip that can pop up the following message:
`Kubeconfig Authentication method does not support external identity providers or basic authentication.`
WDYT @aiwantaozi @DaiYuzeng

[2020-09-30 05:22] WuJun2016 commented on #136
case 1 fixed,  case 2 next version fix

[2020-09-30 05:27] WuJun2016 commented on #193
It can't be reproduced

[2020-09-30 06:36] gitlawr opened #194 "cloud config validation"
From https://github.com/rancher/harvester/issues/136#issuecomment-700616450

If users input invalid cloud-init configuration, we don't set it in API and give users no notice.
![image](https://user-images.githubusercontent.com/5697937/94650766-e8d8d900-0329-11eb-9150-88d55e4461e2.png)

[2020-09-30 06:37] gitlawr commented on #136
Validated that network data works. Track the validation in this issue: https://github.com/rancher/harvester/issues/194

[2020-09-30 06:37] #136 closed, assigned to WuJun2016, DoNotSayYes

[2020-09-30 07:14] gitlawr commented on #190
The token is expired as expected. TTL is configurable via the setting. We will introduce a token refresh mechanism as the enhancement

[2020-09-30 07:16] gitlawr commented on #188
Validated

[2020-09-30 07:16] #188 closed, assigned to WuJun2016

[2020-09-30 08:19] DaiYuzeng commented on #148
@DoNotSayYes  Case 1, the display of unknown status is reasonable

[2020-09-30 08:26] gitlawr commented on #148
Validated

[2020-09-30 08:26] #148 closed, assigned to DaiYuzeng, DoNotSayYes

[2020-09-30 09:16] gitlawr commented on #132
Validated

[2020-09-30 09:16] #132 closed, assigned to aiwantaozi

[2020-10-10 01:21] DoNotSayYes commented on #175
Validated
![image](https://user-images.githubusercontent.com/57614736/95642242-def96780-0ad9-11eb-9601-108176667c39.png)
![image](https://user-images.githubusercontent.com/57614736/95642255-f0427400-0ad9-11eb-949f-cc3c62d301ad.png)

[2020-10-10 01:21] #175 closed, assigned to DaiYuzeng, DoNotSayYes

[2020-10-10 01:23] #167 closed, assigned to WuJun2016

[2020-10-10 07:34] DoNotSayYes opened #197 "Login failed by using kubeConfig"
**Steps to reproduce:**
1. Login in a kubeConfig way
2. Use the kubeConfig file and log in

**Result:**
The page keeps logging and the API returns 500 error
![image](https://user-images.githubusercontent.com/57614736/95648948-a07da000-0b0d-11eb-8bee-87a4733915bd.png)
![image](https://user-images.githubusercontent.com/57614736/95649026-09fdae80-0b0e-11eb-97c9-8efaacac3782.png)

[2020-10-12 01:09] DoNotSayYes opened #198 "Users should not be able to delete a volume which is mounted to a VM"
**Steps to reproduce:**
1. Create a VM
2. Get to the volumes page, delete the volume item which is mounted to the VM

**Result:**
The volume can be deleted on UI, actually, only data volume has been deleted in the cluster, the corresponding PVC is still being terminating
![image](https://user-images.githubusercontent.com/57614736/95695660-93c28e80-0c6a-11eb-84d6-870817f16551.png)

[2020-10-14 02:42] guangbochen opened #200 "add local auth user of harvester"
**Description:**
1. support basic auth login with the default username and password.
2. support multi-users, user can only create the admin user for now from the UI.
3. when adding an admin user, create an associated role and rolebinding for it.

[2020-10-15 07:35] guangbochen opened #201 "support for VLAN network of vms"
**Description:**
support for VLAN network of VMs

Requirements:
1. cluster-admin will be able to configure the cluster network configuration(i,e set the default NIC of VLAN bridge) using the harvester settings CRD
2. the network setting will have 2 fields, NIC: the physical network interface card used by the VLAN bridge, configured-NIC: previous configured NIC using for network re-setting(default

[2020-10-18 09:02] guangbochen opened #202 "add harvester ISO image"
**Description:**
add all-in-one ISO image integration based on k3os(including k3s optimization, harvester, default network and
storage components)

[2020-10-18 09:04] guangbochen opened #203 "support GUI configuration of the harvester ISO image"
**Description:**
support GUI configuration of the harvester ISO image

- [x] Console GUI allows the user to select disks, cluster type, configure username, password, and DHCP/network configs
- [x] Console GUI allows user to view basic info(e.g harvester endpoint, host CPU, memory, and versions)
- [x] default network selection.

[2020-10-20 14:12] guangbochen opened #205 "create default admin cause cannot add indexers to running index"
cannot add indexers to running index of the default admin
[code]

[2020-10-20 22:25] yasker opened #207 "UI: Typo: `Eject CDROW`"
On the VM detail page. Disk list..

Should be `Eject CDROM`.

[2020-10-21 07:06] guangbochen commented on #198
should prevent the user from deleting the DV when it is in-use, only non-attached DV can be deleted from the UI.

[2020-10-22 02:26] aiwantaozi commented on #205
Can't reproduce now, will follow up if there is any update

[2020-10-26 16:20] guangbochen opened #210 "error: container veth name provided (lo) already exists"
when enabled a new k3s cluster with multus-cni and creating a NAD using the bridge-cni(the cluster's default CNI is flannel) it will be failed to crate pod with the following error: `container veth name provided (lo) already exists`.

steps to reproduce:
1. apply the `multus-cni` and the NAD as below

example of NAD YAML:
[code]

2. using the following example pod YAML to create the new pod with N

[2020-11-02 07:46] DoNotSayYes commented on #193
Unable to reproduce it for now.

[2020-11-02 07:46] #193 closed, assigned to WuJun2016

[2020-11-02 07:51] DoNotSayYes commented on #177
The description is still only added to annotations, I suppose that the description should be only shown in the description but not in annotations. @DaiYuzeng
![image](https://user-images.githubusercontent.com/57614736/97842593-cff58600-1d22-11eb-96b0-e18b95497327.png)
![image](https://user-images.githubusercontent.com/57614736/97842566-c3712d80-1d22-11eb-8def-4a6af17d0803.png)

[2020-11-02 07:57] DoNotSayYes commented on #207
Corrected.
![image](https://user-images.githubusercontent.com/57614736/97843295-0253b300-1d24-11eb-958e-9b2bc5488382.png)

[2020-11-02 07:57] #207 closed, assigned to DaiYuzeng

[2020-11-02 09:25] DoNotSayYes opened #211 "An ambiguous error message shows up while creating a VM without selecting an image"
**Steps to reproduce:**
1. Create a VM, fill in all the required fields but having the image not selected
2. Click the create button

**Result:**
An ambiguous error message shows up
![image](https://user-images.githubusercontent.com/57614736/97851424-54023a80-1d30-11eb-8528-441704988bd2.png)

If having the image selected but not filling anything in CPU and Memory, another familiar error message wi

[2020-11-02 09:57] guangbochen opened #212 "harvester minio HA setup"
**Description:**
configure harvester to support minio HA by default, it should tolerant of a single minio pod failure.

[2020-11-02 10:28] DoNotSayYes opened #213 "The image should be able to be retrieved after correcting the image URL"
**Steps to reproduce:**
1. Add an image using an invalid URL
2. Edit the image and correct the URL using a valid URL and save it

**Result:**
The image is not retrieved though the image URL has been updated
![image](https://user-images.githubusercontent.com/57614736/97857410-a9424a00-1d38-11eb-8fbd-4552968efd16.png)

[2020-11-02 10:49] DoNotSayYes opened #214 "The states of the image are all in the same color green"
The states of the image are all in the same color, they are all in green, including the state `failed`

![image](https://user-images.githubusercontent.com/57614736/97859767-07bcf780-1d3c-11eb-91cd-31058fde2bc3.png)

[2020-11-02 13:56] WuJun2016 commented on #213
@guangbochen   This problem may need to be dealt with in the backend。 When the URL is changed, the backend does not reset the message.

And I think it's better not to change the image. If the result of a request fails due to a service problem, then if the image is changed at this time, will there be any problem with the relationship between the image and the VM

[2020-11-03 01:43] yasker opened #215 "No progress bar when importing image"
Probably it's because there isn't a component in the Rancher Dashboard UI?

It was a progress bar, now it's just changing colors from grey to yellow then green.

[2020-11-03 02:06] DoNotSayYes commented on #214
Validated.
![image](https://user-images.githubusercontent.com/57614736/97938357-311d6800-1dbc-11eb-8d98-edfb57d38b1d.png)

[2020-11-03 02:06] #214 closed, assigned to WuJun2016

[2020-11-04 02:37] wjimenez5271 opened #217 "[FEATURE] Support PXE boot deployment of ISO similar to Canonical MaaS"
In an environment of any significant scale, PXE boot is an effective and proven way to manage hardware imaging. Since Harvester is working on an ISO based deployment, providing a PXE server that can be used to deploy that image would enhance its utility. Canonical's Metal-as-a-Service is a good example of this functionality.

[2020-11-04 09:12] DoNotSayYes opened #218 "More than one VMs could be created at one time"
More than one VMs could be created at one time somehow, refresh the page, one of them will no longer exist
![image](https://user-images.githubusercontent.com/57614736/98091656-aa9e7e80-1ec0-11eb-8d56-c5239073c78b.png)

[2020-11-04 09:20] DoNotSayYes opened #219 "VMs could not be created successfully, with a pending state all the time"
VMs could not be created successfully, with a pending state all the time, no explicit errors can be found on the page.

![image](https://user-images.githubusercontent.com/57614736/98092527-bcccec80-1ec1-11eb-950d-a7cc362196e6.png)

![image](https://user-images.githubusercontent.com/57614736/98092940-3bc22500-1ec2-11eb-96af-5327a578d2c5.png)

[2020-11-04 10:15] DoNotSayYes opened #220 "The pubKey content does not wrap on the page"
The pubKey content does not wrap on the page

![image](https://user-images.githubusercontent.com/57614736/98096391-a8d7b980-1ec6-11eb-9094-98cb4d354ce8.png)

[2020-11-05 03:15] WuJun2016 opened #221 "Cannot delete vm"
# step
1. create vm
2. Delete the associated volume first
3. delete vm
![image](https://user-images.githubusercontent.com/24985926/98193393-09fb9d80-1f58-11eb-9d75-9444eb25da5b.png)

[2020-11-05 07:17] DoNotSayYes opened #222 "Unable to create VMs if user data is populated"
**Steps to reproduce:**

Create a VM, along with user data
[code]

**Result：**
The VM keeps in the pending state all the time, however, VMs can be created without the user data
![image](https://user-images.githubusercontent.com/57614736/98209372-c1ed7280-1f79-11eb-8d6f-794107153477.png)

[2020-11-05 09:33] DoNotSayYes opened #223 "Unable to add image description"
Everything will be wiped off when the cursor leaves the textbox

![image](https://user-images.githubusercontent.com/57614736/98222443-cb7fd600-1f8b-11eb-89e1-b54006832bbf.png)

[2020-11-05 11:15] DoNotSayYes commented on #220
Validated.
![image](https://user-images.githubusercontent.com/57614736/98234311-397fc980-1f9b-11eb-877d-47156dd21bcc.png)

[2020-11-05 11:15] #220 closed, assigned to DaiYuzeng, DoNotSayYes

[2020-11-06 01:03] DoNotSayYes opened #224 "The popup menu does not close when the console is open"
**Step to reproduce:**
1. On the VM list page and detail page
2. Click console and open a console window

**Result:**
The popup menu does not close when the console is open
![image](https://user-images.githubusercontent.com/57614736/98313334-8c469900-200e-11eb-9a1b-081ebb34ab9b.png)
![image](https://user-images.githubusercontent.com/57614736/98313412-ba2bdd80-200e-11eb-82e2-dfb1beeafff1.png)

[2020-11-06 01:18] DoNotSayYes opened #225 "The copy tooltip is no longer available"
Now on any of the page, while hovering over something which can be copied by clicking the copy button, there is no tooltip

![image](https://user-images.githubusercontent.com/57614736/98314071-425eb280-2010-11eb-99d4-a55c2cb6ebfc.png)

[2020-11-06 02:34] DoNotSayYes opened #226 "Data format unification on VM detail page's migration tab"
On the VM detail page's migration tab, the source node and the target node are populated with a dash when there is no data. Howver, the started, ended, and Message are populated withe N/A when there is no data.

Maybe it is better to unify the format?

![image](https://user-images.githubusercontent.com/57614736/98315100-5d322680-2012-11eb-8a5f-64b345aa5ec8.png)

[2020-11-09 10:17] guangbochen opened #227 "slow disk write performance with longhorn raw block device"
**Description:**
we are currently using the longhorn as the back-end storage system, during the VM image import process, the disk write performance is comparatively slow when it uses a raw block device mode vs filesystem, will need to make an enhancement on its write performance with raw-block device mode.

**Steps to reproduce:**
1. create a k3s cluster with the latest longhorn(i.e v1.0.2) deploy

[2020-11-09 11:44] guangbochen commented on #43
close as it is resolved in the harvester-ui.

[2020-11-10 03:49] guangbochen opened #228 "no kind "Network-Attachment-DefinitionList" is registered for version "k8s.cni.cncf.io/v1""
[code]

[2020-11-10 10:44] DoNotSayYes opened #230 "A blank message shows while the VM name exceeds its maximum string length"
**Steps to reproduce:**
Create a VM filling a super long name, then click the save button

Result:
Unable to create a VM, along with a blank error message
![image](https://user-images.githubusercontent.com/57614736/98663520-2e0a1500-2384-11eb-97ec-8793cd7789a9.png)

[2020-11-11 01:38] DoNotSayYes opened #232 "Some fields seem incorrect and the table header layout needs to adjust on the VM detail page"
**Steps to reproduce:**
1. Create a VM selecting a ubuntu OS
2. Check on the detail page

**Result:**
1. `Operating System `and `Time Zone` are populated with `Guest agent required`, are these expected?
2. The tables are not in the same header layout
![image](https://user-images.githubusercontent.com/57614736/98753757-0eb0cd80-2400-11eb-8f2d-d0b534e4c078.png)

[2020-11-11 02:22] DoNotSayYes opened #233 "The Eject CDROM button should not be active if no CDROM is selected"
**Steps to reproduce:**
1. Create a VM adding a disk whose type is CDROM
2. Check on the VM detail page

**Result:**
1. The `Eject CDROM` is always active though no CDROM is select.
![image](https://user-images.githubusercontent.com/57614736/98757043-a2859800-2406-11eb-9a22-5418f319eb90.png)

2. It's better to have the `Eject CDROM` displayed in the same way, `Eject CDROM` or `Eject CD-ROM`, and t

[2020-11-11 09:30] DoNotSayYes opened #234 "When adding a disk to a running VM, actually two are added"
**Steps to reproduce:**
1. Create a VM
2. Edit it as form, add a new disk to the VM, and save it

**Result:**
When adding a disk to a running VM, actually two are added
![image](https://user-images.githubusercontent.com/57614736/98793847-658bc680-2443-11eb-94d8-f95e9f910ba4.png)
![image](https://user-images.githubusercontent.com/57614736/98793911-750b0f80-2443-11eb-9ab8-c91b99e1874e.png)
![image](

[2020-11-12 01:14] DoNotSayYes opened #237 "The state of VMs on detail page is not reflecting the actual state"
**Steps to reproduce:**
1. Create a VM adding a CDROM
2. Get to its detail page and Eject the CDROM

**Result:**
The CD-ROM will be ejected and the VM will restart, but the state on the detail page stays active all the time, not reflect the actual state
![image](https://user-images.githubusercontent.com/57614736/98882221-c27c9080-24c6-11eb-821b-3bd6d21366b3.png)

[2020-11-12 02:50] futuretea commented on #205
reproduce by following these steps：
1. delete configmap and users
[code]
2. restart harvester

[2020-11-12 06:35] guangbochen commented on #228
close in favor of https://github.com/rancher/harvester/pull/229

[2020-11-12 06:35] #228 closed, assigned to nobody

[2020-11-12 06:46] guangbochen commented on #200
link to PR https://github.com/rancher/harvester/pull/199

[2020-11-12 07:01] guangbochen commented on #213
if the updated URL is valid and once the download is complete the previous error message should be gone. @gitlawr will help to check it, thanks.

[2020-11-12 07:05] guangbochen commented on #174
for case 1, can we update the `LAUNCHER_POD_ERROR` to `LAUNCHER_ERROR` and explicit error messages should be available when describing the events? cc @WuJun2016

[2020-11-12 07:08] guangbochen commented on #173
as long as there is a proper error message when the user clicks to view the detail page, this is enough for now. cc @WuJun2016

[2020-11-12 07:12] guangbochen commented on #171
should be addressed in https://github.com/rancher/harvester-ui/pull/177

[2020-11-12 09:58] DoNotSayYes opened #241 "The in-use RWO volumes should not be available in the volume dropdown while adding a disk to a VM"
**Steps to reproduce:**
1. On the VM create page, add a disk
2. Choose `Existing Volumes` in the source dropdown
3. Choose options in the `Volume `dropdown

**Result:**
The in-use volumes should not be available in the `Volumes` dropdown, because their `Acess Mode` is RWO

![image](https://user-images.githubusercontent.com/57614736/98923904-38a4e580-250f-11eb-8221-811bcbd4671a.png)

[2020-11-13 07:13] DaiYuzeng commented on #180
1. The form will reset fields if save successfully.
2. Remove error messages before open the modal.

[2020-11-13 07:14] DoNotSayYes opened #242 "Changing a VM's image does not change the running os"
**Steps to reproduce:**
1. Create a VM running a ubuntu OS
2. Edit it and change its image to k3os, then save it
3. Open the console and check its detail page

**Result:**
Nothing happens other than the VM name in detail page which is changed, the running os is still ubuntu

[2020-11-13 07:37] WuJun2016 commented on #237
@DoNotSayYes  It can't be reproduced. It may not be a problem. When the second eject happens, the startup speed is slow.

[2020-11-13 07:39] WuJun2016 commented on #242
@guangbochen  Can we modify image after VM is created successfully?

[2020-11-13 07:41] guangbochen commented on #242
if it is the root-disk, then the answer is no, also we should disable modification of root image from the UI on VM upgrade.

[2020-11-13 07:53] WuJun2016 commented on #241
@guangbochen  We should do like this ?

[2020-11-13 09:05] guangbochen commented on #221
link to PR https://github.com/rancher/harvester/pull/244

[2020-11-13 09:08] guangbochen commented on #241
@WuJun2016 we should make an enhancement of this since the `RWO` disk can only be used by one VM.

[2020-11-13 09:16] DoNotSayYes opened #245 "The hostname is not necessary to be copied while cloning a VM"
**Steps to reproduce:**
1. Select one of the VMs and do a clone
2. The create page will be open and populated with the basic info from the original VM
3. Check the info

**Result:**
The hostname is not necessary to be copied while cloning a VM, same as the VM name
![image](https://user-images.githubusercontent.com/57614736/99050587-1eccd680-25d3-11eb-9592-0054aab9e998.png)

[2020-11-16 02:27] futuretea commented on #210
Can't reproduce now, will follow up if there is any update

[2020-11-16 06:59] guangbochen opened #247 "minio distributed mode will re-deploy pod when contains controlplane node"
**Issue:**
minio distributed mode will re-deploy pod when the cluster contains a control-plane node

[2020-11-16 08:56] WuJun2016 opened #248 "volume is not attach with vm"
Steps to reproduce:

On the VM create page, add a disk
Volume is not associated with VM

![image](https://user-images.githubusercontent.com/24985926/99232207-96497280-282c-11eb-9620-d002d47ab769.png)

[2020-11-16 09:28] guangbochen commented on #215
close in favor of https://github.com/rancher/harvester-ui/issues/191 https://github.com/rancher/harvester-ui/pull/161

[2020-11-16 09:28] #215 closed, assigned to DaiYuzeng, DoNotSayYes

[2020-11-16 09:44] guangbochen commented on #222
can't reproduce with the latest version on 16/11.

[2020-11-16 09:46] guangbochen commented on #234
will be addressed in https://github.com/rancher/harvester-ui/pull/206

[2020-11-16 09:47] guangbochen commented on #241
link to PR https://github.com/rancher/harvester-ui/pull/206

[2020-11-16 09:53] guangbochen commented on #213
addressed in https://github.com/rancher/harvester/pull/246

[2020-11-16 09:53] #213 closed, assigned to gitlawr

[2020-11-16 09:54] guangbochen commented on #200
close in favor of https://github.com/rancher/harvester/pull/199 https://github.com/rancher/harvester-ui/pull/141

[2020-11-16 09:54] #200 closed, assigned to DoNotSayYes

[2020-11-16 10:06] guangbochen commented on #75
close in favor of https://github.com/rancher/harvester-ui/pull/167

[2020-11-16 10:06] #75 closed, assigned to WuJun2016

[2020-11-16 10:10] guangbochen commented on #69
1. when deleting the VM, the root-disk should be selected by default
1. need to fix the modal UI button
1. when deleting a list of VMs, change the `Select All` to `Delete All` and default to select.

cc @WuJun2016

![image](https://user-images.githubusercontent.com/4569037/99239847-9c445100-2836-11eb-8da4-733b0f8c3deb.png)
![image](https://user-images.githubusercontent.com/4569037/99240012-d877b18

[2020-11-16 10:11] guangbochen commented on #62
close in favor of https://github.com/rancher/harvester/pull/65

[2020-11-16 10:11] #62 closed, assigned to aiwantaozi

[2020-11-16 10:13] guangbochen commented on #190
TTL is now configurable via settings and close in favor of https://github.com/rancher/harvester/pull/182

[2020-11-16 10:13] #190 closed, assigned to aiwantaozi

[2020-11-16 10:19] guangbochen commented on #225
close in favor of https://github.com/rancher/harvester-ui/pull/175

[2020-11-16 10:19] #225 closed, assigned to DaiYuzeng, DoNotSayYes

[2020-11-16 10:20] guangbochen commented on #232
close in favor of https://github.com/rancher/harvester-ui/pull/205

[2020-11-16 10:20] #232 closed, assigned to DaiYuzeng

[2020-11-16 10:21] guangbochen commented on #223
close as it is fixed on the latest version 16/11.

[2020-11-16 10:21] #223 closed, assigned to DaiYuzeng, DoNotSayYes

[2020-11-16 10:21] guangbochen commented on #226
close as migration is current move-out to the scope.

[2020-11-16 10:21] #226 closed, assigned to WuJun2016

[2020-11-16 10:28] guangbochen commented on #219
This is an environmental issue related to the storage provisioner of PV and PVCs.

Close and please feel free to open an issue with a more specific storage error.

[2020-11-16 10:28] #219 closed, assigned to WuJun2016

[2020-11-16 10:33] guangbochen commented on #218
can't be reproduced with the latest UI on 16/11, feel free to re-open it when encounters.

[2020-11-16 10:33] #218 closed, assigned to WuJun2016

[2020-11-16 10:34] guangbochen commented on #211
close in favor of the latest UI on 16/11

[2020-11-16 10:34] #211 closed, assigned to WuJun2016

[2020-11-16 10:35] #222 closed, assigned to WuJun2016

[2020-11-16 10:35] guangbochen commented on #205
close in favor of https://github.com/rancher/harvester/pull/238

[2020-11-16 10:36] guangbochen commented on #201
link to the [harvester-network-controller](https://github.com/rancher/harvester-network-controller)

[2020-11-16 10:37] guangbochen commented on #192
close as migration is currently move-out.

[2020-11-16 10:37] #192 closed, assigned to WuJun2016

[2020-11-16 10:38] guangbochen commented on #180
close in favor of https://github.com/rancher/harvester-ui/pull/203

[2020-11-16 10:38] #180 closed, assigned to DaiYuzeng, DoNotSayYes

[2020-11-16 10:40] guangbochen commented on #179
close as this is an environmental issue and can be addressed via configure correct RBAC roles.

[2020-11-16 10:40] #179 closed, assigned to nobody

[2020-11-16 10:45] guangbochen commented on #135
close as this will be achieved using the Harvester ISO image https://github.com/rancher/harvester/issues/202

[2020-11-16 10:45] #135 closed, assigned to nobody

[2020-11-16 10:50] guangbochen commented on #162
close as the `multus` is added by default in the harvester ISO installation mode, helm installation is still required to handle the pre-network-configuration manually.

[2020-11-16 10:50] #162 closed, assigned to guangbochen

[2020-11-16 14:33] WuJun2016 commented on #218
May have solved the problem, but because there is no way to reproduce again, so there is no way to verify

[2020-11-16 20:48] yasker opened #249 "physical nics on each node might not be the same"
Currently we're assuming that every node has the same nic name. But it's not true if you don't have homogeneous setup.

We need to add the ability to customize the nic name for each node in the future.

[2020-11-16 21:03] tfiduccia opened #250 "Adding NIC to network setting crashed hosts"
Issue:  I'm not sure what I did to crash it... so I will give you all the steps.

Steps:
1.  Go to Settings - Network Settings
2.  Enter bad info into NIC field (111.111.111.111)
3.  Go see error message in Networks page
4.  Go back to Network Settings and try to enter a valid NIC (eth0)

Results:
The host machine crashed and I can not access the UI.

[2020-11-16 23:40] guangbochen commented on #250
was this done using GCP? we have also tested with GCP but seems they do not support bridge host mode.

[2020-11-16 23:53] yasker commented on #250
I think this is GCP. The demo environment. The problem here is the harvester crashed.

[2020-11-17 00:37] guangbochen commented on #250
I have checked the GCP env and the host is currently unreachable as the bridge mode will make it losing IP connection, that's why the UI is not reachable.

For network validation, we have to do it in a bare-metal machine with support for both bridge mode and trunk mode switch. @yasker will setup the test env later in the Fremont and we can use that for network validation, thanks.

[2020-11-17 03:27] gitlawr opened #251 "Cannot connect to the management URL when multiple nodes are added"
Reproduce steps:
1. Set up harvester from ISO(IP: 172.16.0.4)
2. Add a compute node(IP: 172.16.0.56)
3. Check dashboard

The dashboard shows that the management URL is https://172.16.0.4:8443, while the external IP of the lb svc is 172.16.0.56
[code]

[2020-11-17 13:58] gitlawr opened #252 "Cannot join a management node to an existing cluster"
**Steps to reproduce:**
1. install by iso and join to an existing cluster as a management node
2. As a result, the node does not join after installation.

**Other details:**
The latest K3OS embeds K3S v1.18.9, and embedded etcd HA is available as of K3S v1.19.1.

[2020-11-17 16:18] gitlawr opened #253 "It takes much longer time to boot a vm when using distributed minio"
When minio runs in distributed mode, the time for CDI to download an ubuntu image in hundreds of megabytes exceeds over 3 minutes. As the comparison, it takes ~30s in standalone mode.

[2020-11-18 02:51] yasker commented on #252
I saw the node name for the management node is `harvester-1` while additional nodes are `harvester-<uuid>`. Maybe the duplicate name is the issue.

[2020-11-18 03:14] DaiYuzeng commented on #177
@DoNotSayYes Please validate it again, thanks!

[2020-11-18 03:51] gitlawr opened #254 "Node status is not shown properly in terminal console"
**Steps to reproduce:**
1. Add a compute node
2. Delete the node from UI host page
3. go to the terminal console of the node
4. It shows status Running.

[2020-11-19 01:04] DoNotSayYes opened #255 "Fields should not be editable due to data volume spec is not allowed to update"
**Steps to reproduce:**
1. Select one of the volumes, click the ellipsis and choose the Edit As Form option
2. Edit any field except annotations and labels, then save

**Result:**
An error message shows: `admission webhook "datavolume-validate.cdi.kubevirt.io" denied the request: Cannot update DataVolume Spec`
![image](https://user-images.githubusercontent.com/57614736/99606613-0e8a8080-2a45-11eb-

[2020-11-19 01:54] DoNotSayYes opened #256 "No description field on the volume edit page"
**Steps to reproduce:**
1. Create a volume, then edit it
2. On the edit page, check on the page

**Result:**
There is no description field on the edit page
![image](https://user-images.githubusercontent.com/57614736/99607812-8bb6f500-2a47-11eb-8502-bcc080e74843.png)

[2020-11-19 03:39] DaiYuzeng commented on #255
@guangbochen These fields will be set to read-only when users edit the volume. Does this make sense?
![截屏2020-11-19 上午11 24 53](https://user-images.githubusercontent.com/15041915/99617374-32a48c80-2a5a-11eb-820c-a742c0f41b22.png)

[2020-11-19 03:49] DaiYuzeng commented on #198
@guangbochen @DoNotSayYes
If the selected volumes not only include attached Volumes, but also include non-attatched Volumes. The delete button is still available.(Only delete selected non-attatched Volumes)
![截屏2020-11-18 下午5 01 44](https://user-images.githubusercontent.com/15041915/99618844-22da7780-2a5d-11eb-95cd-405dee762466.png)
![截屏2020-11-18 下午5 01 51](https://user-images.githubusercontent.c

[2020-11-19 03:52] guangbochen commented on #255
yep, and here are few design changes that are required for the volume page and please apply it to the lastest UI design: @DaiYuzeng
1. [ ] on the volume listing page remove the `Access Mode` column
1. [ ] when the volume is `Ready` while not `In-Use` or attachment to any VM, change the banner's border color from green to blue.
1. [ ] on creating page set the default `Source` to blank, and rename t

[2020-11-19 03:57] guangbochen commented on #198
since the API will block from deleting the attached volume, so we just need to show the error message for the can't delete one would be fine.

[2020-11-19 04:02] DoNotSayYes opened #257 "N/A appears in progress column at the beginning of creating a volume"
**Steps to reproduce:**
1. Create a new volume
2. Check the progress on the volume list

**Result:**
N/A appears in the progress column at the beginning of creating a the volume
![image](https://user-images.githubusercontent.com/57614736/99613710-046f7e80-2a53-11eb-8adc-77b8deb1c6c8.png)

[2020-11-19 05:19] guangbochen commented on #257
@DoNotSayYes it is better to elaborate on what is ur expectation of the correct status should be.

[2020-11-19 05:37] DaiYuzeng commented on #255
Got it thanks!

[2020-11-19 05:53] DaiYuzeng commented on #198
Yes, that is better. Users may be in doubt about there are some volumes they never can delete.

[2020-11-19 06:16] DaiYuzeng commented on #198
![截屏2020-11-19 下午2 09 56](https://user-images.githubusercontent.com/15041915/99628361-f6c8f180-2a70-11eb-93ed-e555c07692d8.png)

[2020-11-19 09:01] DoNotSayYes commented on #257
Displaying 0% would be better if it must have something to show at the beginning of creating a volume

[2020-11-19 09:05] guangbochen commented on #251
close in favor of https://github.com/rancher/harvester-installer/pull/7 and the management URL is designed to use the first management node.

[2020-11-19 09:05] #251 closed, assigned to guangbochen

[2020-11-20 01:53] guangbochen commented on #70
close in favor of https://github.com/rancher/harvester/pull/258

[2020-11-20 02:38] guangbochen opened #259 "auto config a new joined node as management node or compute node"
when adding a new node to the existing harvester cluster using ISO installation we should allow auto-configuration of the role to either be management or compute node(by default).

1. [x] auto promotes the compute node to be a management node when meets the criteria.
1. [ ] <s>remove the management node and promote a new one when the downtime is overdue.</s>
1. [x] remove node roles from the listi

[2020-11-20 02:39] guangbochen commented on #252
close in favor of https://github.com/rancher/harvester/issues/252 as the node management will be auto managed by the harvester controller.

[2020-11-20 02:39] #252 closed, assigned to guangbochen

[2020-11-20 02:40] guangbochen commented on #259
- [x] the node name for the management node is `harvester-1` while other nodes use `harvester-<uuid>`. Maybe the duplicate name is the issue. can we check from the ISO side, thanks to @gitlawr

[2020-11-20 02:57] guangbochen opened #260 "windows server network with virtio support"
allow the user to configure windows server network with virtio support

[2020-11-20 02:58] guangbochen opened #261 "windows server bridge vlan network support"
allow the user to config second NIC with bridge VLAN support in the Windows VM

[2020-11-20 03:00] guangbochen opened #262 "bump kubevirt and cdi version"
need to bump the kubevirt and CDI version to the current latest version
- bump kubevirt to v0.35.0
- bump CDI to v1.26.1

[2020-11-20 03:40] DoNotSayYes opened #263 "A volume must be selected while adding a disk to a VM"
**Steps to reproduce:**
1. Edit a VM, add a disk, choose `Existing Volume` in the source dropdown
2. Not selecting any volume, then save
3. Edit the disk, select a volume
4. Then save the changes for VM
5. Edit the VM again and try to save it again

**Result:**
1. It makes no sense that the volume is not forced to select while adding an existing volume
2. The Access Mode is lost while users edit t

[2020-11-20 06:22] DoNotSayYes commented on #241
Validated, the in-use volumes are not available in the volume dropdown while adding a disk to a VM
![image](https://user-images.githubusercontent.com/57614736/99766123-77542480-2b3b-11eb-8305-47bb103e9329.png)
![image](https://user-images.githubusercontent.com/57614736/99766158-88049a80-2b3b-11eb-9afd-cbb6e72f9a22.png)

[2020-11-20 06:22] #241 closed, assigned to WuJun2016

[2020-11-20 06:29] DoNotSayYes opened #264 "The RWX volumes are not available while adding a disk to a VM"
**Steps to reproduce:**
1. Create a volume, setting its **Access Mode** as RWX
2. Edit a VM, add a disk from an existing volume

**Result:**
The RWX volumes are not available in the volume dropdown which does not make sense
![image](https://user-images.githubusercontent.com/57614736/99766758-b0d95f80-2b3c-11eb-8a88-c76d84936aa6.png)
![image](https://user-images.githubusercontent.com/57614736/99766

[2020-11-20 06:42] DoNotSayYes commented on #264
Need more investigation

[2020-11-20 06:42] #264 closed, assigned to nobody

[2020-11-20 07:08] gitlawr commented on #253
Most of the time is used in the convert phase of CDI import. It calls `qemu-img convert` under the hood.
Downloading the image from Minio directly is fast though.

The following tests are based on a 345M [ubuntu image](https://cloud-images.ubuntu.com/releases/bionic/release-20201117/ubuntu-18.04-server-cloudimg-amd64.img).

Distributed mode Minio:
[code]

Standalone mode Minio:
[code]

[2020-11-20 09:48] DoNotSayYes commented on #234
Validated

[2020-11-20 09:48] #234 closed, assigned to DoNotSayYes

[2020-11-20 09:53] DoNotSayYes commented on #233
Validated

[2020-11-20 09:53] #233 closed, assigned to WuJun2016

[2020-11-20 09:54] DoNotSayYes commented on #224
Validated

[2020-11-20 09:54] #224 closed, assigned to DoNotSayYes

[2020-11-20 09:55] DoNotSayYes commented on #230
Validated
![image](https://user-images.githubusercontent.com/57614736/99786562-9eb9ea00-2b59-11eb-946a-b74a8fe88957.png)

[2020-11-20 09:55] #230 closed, assigned to DoNotSayYes

[2020-11-20 09:59] DoNotSayYes commented on #237
Validated

[2020-11-20 09:59] #237 closed, assigned to WuJun2016

[2020-11-20 10:26] DoNotSayYes commented on #154
Now all kinds of files are still able to be uploaded, reading from a file by selecting a large file could cause the page to jam. @DaiYuzeng

[2020-11-20 10:33] DoNotSayYes commented on #176
Validated

[2020-11-20 10:33] #176 closed, assigned to DaiYuzeng, WuJun2016, DoNotSayYes

[2020-11-20 10:40] DoNotSayYes commented on #177
Is that necessary to display the description again in annotations? Maybe suppress it in annotations, just displaying in the description would be better? @DaiYuzeng
![image](https://user-images.githubusercontent.com/57614736/99790587-500f4e80-2b5f-11eb-9e17-0a7aafef3a7e.png)

[2020-11-20 10:46] DoNotSayYes commented on #123
Validated

[2020-11-20 10:46] #123 closed, assigned to WuJun2016

[2020-11-20 10:50] DaiYuzeng commented on #177
@DoNotSayYes Sorry, could you tell me how to reproduce it? In my environment , it isn't displayed in the annotation modal.

![image](https://user-images.githubusercontent.com/15041915/99791837-30792580-2b61-11eb-8100-f48b2d631b37.png)
![image](https://user-images.githubusercontent.com/15041915/99791850-353dd980-2b61-11eb-82d4-6b9d19461f51.png)

[2020-11-20 10:55] DaiYuzeng commented on #177
Or could you provide me the environment which can reproduce. Thanks!

[2020-11-21 02:09] yasker commented on #227
The reason is the command is trying to write the full 8GB data into the block device, while only write 800MB into the filesystem due to it doesn't need to write 0 into the sparse file. See https://github.com/longhorn/longhorn/issues/1989#issuecomment-731458474 for details.

Longhorn will enable the backing file feature to support using qcow2 file as the base layer for the Longhorn volume. See http

[2020-11-23 01:08] DoNotSayYes commented on #171
Validated

[2020-11-23 01:08] #171 closed, assigned to DoNotSayYes

[2020-11-23 01:16] DoNotSayYes commented on #160
While editing a disk on the VM template create page, why the image marks as a required field, but actually, it is not. @WuJun2016
![image](https://user-images.githubusercontent.com/57614736/99922587-4ad31f00-2d6c-11eb-86bf-396371606b8b.png)

[2020-11-23 02:11] DoNotSayYes commented on #198
Another case that a volume can be deleted though it is mounted to a VM.

**Steps to reproduce:**
1. Create a VM
2. Edit VM, adding a new disk to it, presuming the volume name is `mami-for-use`
3. Navigate to the volume page, delete `mami-for-use`

**Result:**
The volume `mami-for-use` can be deleted though it is in-use state
![image](https://user-images.githubusercontent.com/57614736/99923989-57a7

[2020-11-23 03:59] guangbochen opened #266 "IP management enhancement with using either static or DHCP"
**What kind of request is this (question/bug/enhancement/feature request):**
enhancement

**Steps to reproduce (least amount of steps as possible):**
1. adding a second NIC on the create VM page
1. config the network settings on the advanced section with either using DHCP or static IP e.g. when using the Ubuntu cloud-init image:
[code]
1. either the static or DHCP IP can't be retrieved directly fr

[2020-11-23 07:42] DoNotSayYes commented on #221
Now deleting the mounted volumes are not allowed

[2020-11-23 07:42] #221 closed, assigned to DoNotSayYes

[2020-11-23 07:49] DoNotSayYes commented on #69
Validated
![image](https://user-images.githubusercontent.com/57614736/99938717-60b00680-2da3-11eb-92c0-656763ef4e82.png)
![image](https://user-images.githubusercontent.com/57614736/99938681-4ece6380-2da3-11eb-88f4-4708fbe0b720.png)

[2020-11-23 07:49] #69 closed, assigned to DoNotSayYes

[2020-11-23 08:40] DoNotSayYes commented on #197
**Result:**
No error message shows and the page keeps logging in when the server does not respond. @DaiYuzeng

**Steps to reproduce:**
1. On the login page
2. Disconnect the network
3. Upload the config file to log in

![image](https://user-images.githubusercontent.com/57614736/99942143-20a05200-2daa-11eb-8142-bac0119a9fe7.png)

[2020-11-23 16:31] yaocw2020 commented on #260
Virtio can be supported by updating driver in windows. The update steps are describe as follows.
- Open device manager, find other devices in warning state
![image](https://user-images.githubusercontent.com/7421463/100066223-c1a51080-2e6f-11eb-8119-a2aa532c8f8d.png)
- Choose one device, right click and choose「Update driver」
![image](https://user-images.githubusercontent.com/7421463/100067072-c4543

[2020-11-24 02:59] gitlawr opened #267 "CRD version deprecated warnings in helm deployment"
**Harvester version:**
Chart on master(4c23af8)

**Helm version:**
v3.4.1

**kubernetes version**
v1.19.3+k3s3

**Steps to reproduce:**
Deploy the harvester chart to the Kubernetes cluster, and get a bunch of warnings printed:
[code]

Related to the generated CRD [version](https://github.com/rancher/harvester/blob/4c23af8bf032693ac1886c6ec2240d55fe37b479/deploy/charts/harvester/crds/harvester.catt

[2020-11-24 03:40] DaiYuzeng commented on #256
![截屏2020-11-24 上午11 40 14](https://user-images.githubusercontent.com/15041915/100044134-dec6e880-2e49-11eb-9c81-c19463fa9063.png)

[2020-11-24 05:43] DaiYuzeng commented on #255
There are screenshots of new UI.

#### remove Access Mode column & change border color
![截屏2020-11-24 下午1 36 06](https://user-images.githubusercontent.com/15041915/100053191-7a605500-2e5a-11eb-98c6-11ff7c4318bd.png)

#### set the default Source to blank
![截屏2020-11-24 下午1 37 20](https://user-images.githubusercontent.com/15041915/100053194-7b918200-2e5a-11eb-9a79-752af41da2b2.png)

#### hide the Ac

[2020-11-24 06:46] gitlawr opened #268 "Websocket breaks due to ERR_CERT_AUTHORITY_INVALID in fresh setup"
**Version**
master(4c23af8)

**Steps to reproduce:**
1. Prepare a Kubernetes cluster
2. Deploy harvester by
[code]
3. Access harvester UI by `https://<nodeIP>:<nodePort>`
4. Trust the self-signed certificate in Chrom browser.
5. Add a VM image with url=`http://example.com/a.img` and name=`test`

**Result:**
1. The created VM image didn't shown up in the UI.
2. The browser console printed the follo

[2020-11-24 06:57] gitlawr commented on #268
It should be a backend issue. The cause is that the `serving-cert` TLS secret is changed.
It can be observed by watching the `serving-cert` secret in `kube-system` namespace:
[code]

[2020-11-26 09:18] yaocw2020 commented on #261
Drivers should be updated if using virtio mode. The update steps refer [here](https://github.com/rancher/harvester/issues/260).

[2020-11-27 11:08] gitlawr commented on #253
I did some performance tests using both modes of Minio. In summary:
1. It cost similar time getting a single image file: 4.650s (standalone) vs 4.574s (distributed)
2. Operations of a number of small objects: distributed minio has lower throughput(4.81 MiB/s, 492.80 obj/s) than standalone minio(26.29 MiB/s, 2692.19 obj/s).

The following performance tests use the [Warp](https://github.com/minio/wa

[2020-11-27 11:11] gitlawr commented on #253
So it would be proper to download the image then convert it locally.
The [CDI code](https://github.com/kubevirt/containerized-data-importer/blob/09b61a924c66869cfd9693ed5600b6a2caa3a4c4/pkg/importer/http-datasource.go#L108-L129) shows that it will download then do convert in certain cases when using the HTTP source.

[2020-11-30 02:50] guangbochen commented on #267
link to PR https://github.com/rancher/harvester/pull/269

[2020-11-30 03:27] guangbochen commented on #262
link to PR https://github.com/rancher/harvester/pull/269

[2020-11-30 03:41] guangbochen commented on #212
link to pr https://github.com/rancher/harvester/pull/243

[2020-11-30 03:45] guangbochen commented on #202
- [x] bump the longhorn to the latest version with supporting pre-configure desired replicas to be `3`

[2020-11-30 03:55] guangbochen opened #271 "add harvester ISO build CI"
Description:
add Drone CI to build the harvester ISO image when releasing a new tag of the harvester.

[2020-11-30 07:01] guangbochen commented on #259
link to PR https://github.com/rancher/harvester/pull/270, https://github.com/rancher/harvester-installer/pull/10

[2020-11-30 07:06] gitlawr opened #272 "CRD objects do not show up in the harvester API"
**version: **
master(5ce34c93d7b2aa50b23f16d67d3100a8a47495b7)

**Steps to reproduce: **

1. Install harvester
2. Add a vm image
3. After the import completes, refresh the UI.

**Result: **
1. the image object is not shown in the UI/API.
2. It is available using `kubectl get vmimage`

[2020-11-30 09:42] guangbochen commented on #272
link to PR https://github.com/rancher/harvester/pull/273

[2020-12-01 03:08] guangbochen opened #276 "windows server 2019 essentail failed to launch with KMODE exception"
**Description:**
Windows Server 2019 essential failed to launch with `KMODE exception not handled`

![WX20201130-175659](https://user-images.githubusercontent.com/4569037/100692235-5e623380-33c5-11eb-8ef4-8538dcc5571d.png)

[2020-12-01 10:49] futuretea commented on #268
After trust the self-signed cert, chrome doesn't update the `subject alt name(SAN)`, still use the old one(missing `nodePort IP`, only `pod IP`).
Reenable warning, and trust the self-signed cert again will solve it.
![image](https://user-images.githubusercontent.com/15064560/100731075-df411f80-3405-11eb-9552-6a1aade339cc.png)
Using firefox does not have this problem.
The Secret `serving-cert` was

[2020-12-02 01:46] guangbochen opened #278 "Add harvester ISO installation documentation"
**Description:**
Add harvester ISO installation documentation

[2020-12-02 10:03] WuJun2016 opened #279 "Volume and VM are always associated"
A volume has been ejected from the VM, but the deletion of the volume indicates that it is associated

![image](https://user-images.githubusercontent.com/24985926/100857829-20016d00-34c8-11eb-9fba-55aa2fced22f.png)

[2020-12-03 06:15] DoNotSayYes opened #281 "Duplicate error messages appear on VM create page"
**Steps to reproduce:**
1. On VM create page not filling anything, then click the create button
2. Check the error messages

**Result:**
The error message `Memory is required ` is duplicate
![image](https://user-images.githubusercontent.com/57614736/100961606-afa52b00-355d-11eb-934a-167ec6b5be9b.png)

[2020-12-03 06:46] DoNotSayYes opened #282 "The pre-filled name should not be replaced when filling a ssh key"
**Steps to reproduce:**
1. When creating an SSH key on VM create page OR ssh key create page
2. Paste the ssh key to the textbox

**Result:**
The generated ssh key name will be populated in the name field, though the ssh key name is prefilled
![image](https://user-images.githubusercontent.com/57614736/100973989-80e77e80-3576-11eb-96c1-d7e3e20af199.png)

[2020-12-03 06:47] futuretea commented on #248
* On the create page, this problem did not reproduce.
* If it is edit page, it will not mount automatically now.

KVM can hotplug disk,  in the latest kubevirt release `v0.36.0-rc.0`, kubevirt can hotplug DataVolume and PVC volumes into a running Virtual Machine

links:
* https://github.com/kubevirt/kubevirt/issues/4250
* https://github.com/kubevirt/kubevirt/pull/4458

/cc @guangbochen @WuJun2016

[2020-12-03 06:50] #45 closed, assigned to futuretea

[2020-12-03 08:45] futuretea opened #283 "Virtual Machine hotplug disk support"
Currently, `Attached VM`  filed display on the volume page does not mean it is mounted by the VM

KVM can hotplug disk, in the latest kubevirt release `v0.36.0-rc.0`, kubevirt can hotplug DataVolume and PVC volumes into a running Virtual Machine

links:
kubevirt/kubevirt#4250
kubevirt/kubevirt#4458

---

### Development Tasks

- Backend API
  - [x] New VM action `addVolume`
    - #990
  - [x] New

[2020-12-03 08:51] futuretea commented on #248
After editing the vm and restarting the vm, it should be mounted normally.

[2020-12-03 08:56] futuretea commented on #248
There is a time difference between the time when the volume is added to the vm‘s filed and the volume is created.
So after adding the volume, `Attached VM` may not be displayed immediately.

[2020-12-03 09:02] gitlawr opened #284 "Fail to import ssh key from github"
**version:**
master(881bed33a68bac90066b28bc660c87d971ae9274)

**Steps to reproduce:**
1. Install by ISO image
2. Add SSH key URL

**Result:**
![image](https://user-images.githubusercontent.com/5697937/100987242-37ecf580-3589-11eb-845a-ae1f6786823f.png)

[2020-12-03 09:02] futuretea opened #285 "Add more linter to golangci-lint"
Currently, we use golangci-lint to make static code check.
We can add more linter to golangci-lint to improve code quality.

[2020-12-03 09:15] DoNotSayYes opened #286 "The user password is displayed in plain-text"
**Steps to reproduce:**
On the user create page, check the password field

**Result:**
The password is displayed in plain-text
![image](https://user-images.githubusercontent.com/57614736/100988179-64edd800-358a-11eb-999d-6664ce94a05e.png)

**Suggestion:**
It's not friendly to display the password in plain-text directly, moreover, maybe it's better to add some restrictions to the password because n

[2020-12-03 09:38] DoNotSayYes opened #287 "Unable to view users YAML on detail page"
**Steps to reproduce:**
On the user detail page, toggle to YAML

**Result:**
Unable to view YAML
![image](https://user-images.githubusercontent.com/57614736/100991649-35d96580-358e-11eb-9493-e9a5f5de3f9e.png)

[2020-12-03 10:04] gitlawr opened #288 "bump dependencies to the upstream"
We are depending on some forks(steve, apiserver, wrangler, etc.) in the go module, Check if we can bump to the upstream now.

[2020-12-03 10:43] DoNotSayYes opened #289 "Setting list is not reflecting the changes"
**Steps to replicate:**
1. On the settings page, choose one of the settings and edit
2. Change anything editable, then save

**Result:**
The setting list is not reflecting the changes that have been made
![image](https://user-images.githubusercontent.com/57614736/100998770-e3507700-3596-11eb-9548-183e76f711ef.png)
![image](https://user-images.githubusercontent.com/57614736/100999124-50640c80-3597-

[2020-12-03 11:22] DoNotSayYes opened #290 "Setting page enhancement"
Now only the network-setting can be edited as form, other items only can be edited in YAML. To make it more friendly, a reasonable option is to add a form page to allow any of the items to be edited as form.

Take ui-index as an example, to add a page that displays some fields like name, default value, custom value, and so on. Users could make those changes on the page
![image](https://user-images

[2020-12-03 11:49] WuJun2016 commented on #289
@DoNotSayYes  This is not a bug, we should show value instead of default, we will add edit form

[2020-12-04 01:51] DoNotSayYes commented on #289
That comes to a question, what if users do not add any custom value but only modify the default value, like the circumstance above, the default version has been changed to `v0.1.10`, but it still displays `v0.1.19` on the page, it makes no sense since `v0.1.19` is no longer available, am I right? @WuJun2016

[2020-12-04 02:21] guangbochen opened #291 "VM management IP is down when the VM is restarted"
**Description:**
VM management IP is down when the VM is restarted

**Expectation:**
Persist the VM management IP on VMI restart.

[2020-12-04 02:26] guangbochen opened #292 "Add harvester dependency chart"
**Description**
Add harvester dependency chart to its helm deployment.
Currently, the following chart is not enabled on helm installation mode but will be enabled on ISO installation mode automatically.

- [x] longhorn v1.1.0
- [x] multus-cni v3.6

[2020-12-04 03:45] DoNotSayYes commented on #281
Validated
![image](https://user-images.githubusercontent.com/57614736/101119396-33c2e580-3626-11eb-87de-42c9ad3fe375.png)

[2020-12-04 03:45] #281 closed, assigned to WuJun2016, DoNotSayYes

[2020-12-04 05:41] DaiYuzeng commented on #287
@guangbochen need to add the view api of user, thanks!

![截屏2020-12-04 下午1 36 32](https://user-images.githubusercontent.com/15041915/101126315-2e6d9700-3636-11eb-948c-02496b52ec3d.png)

[2020-12-04 06:04] DoNotSayYes opened #294 "A negative VM count displays on the host page"
A negative VM count displays on the host page

![image](https://user-images.githubusercontent.com/57614736/101127861-6a562b80-3639-11eb-936f-5c1515420bbd.png)
![image](https://user-images.githubusercontent.com/57614736/101127871-70e4a300-3639-11eb-93c7-3282d342a896.png)

[2020-12-04 06:42] DoNotSayYes commented on #289
UI displays the value of the setting YAML
![image](https://user-images.githubusercontent.com/57614736/101130628-c8394200-363e-11eb-8374-d14f16f4c0e1.png)

[2020-12-04 06:42] #289 closed, assigned to WuJun2016, DoNotSayYes

[2020-12-04 06:52] DaiYuzeng commented on #257
Display nothing if the progress of volume status is 'N/A'

[2020-12-07 01:19] DaiYuzeng commented on #177
annotations modal was removed from the details page of vm.

[2020-12-07 03:15] DoNotSayYes commented on #294
Validated

[2020-12-07 03:15] #294 closed, assigned to WuJun2016, DoNotSayYes

[2020-12-07 03:22] DoNotSayYes opened #297 "The volume states on dashboard page are not reflecting the actual states of volumes"
The volume states on the dashboard page are not reflecting the actual states of volumes correctly

![image](https://user-images.githubusercontent.com/57614736/101305585-f6f12b80-387d-11eb-8b82-e25cf0174583.png)
![image](https://user-images.githubusercontent.com/57614736/101305609-007a9380-387e-11eb-97b7-927c4a02cfb0.png)

[2020-12-07 03:41] DaiYuzeng commented on #154
We lost a few commits at the first merge for upstream, probably this fix was one of them  :-|

[2020-12-07 04:01] DoNotSayYes commented on #177
Label & Annotation tab has been removed

[2020-12-07 04:01] #177 closed, assigned to DaiYuzeng, DoNotSayYes

[2020-12-07 06:17] DoNotSayYes commented on #181
Validated

[2020-12-07 06:17] #181 closed, assigned to WuJun2016, DoNotSayYes

[2020-12-07 06:46] DoNotSayYes opened #298 "All the page content will be highlighted if the ssh is selected on detail page"
**Steps to reproduce:**
1. On the ssh keys detail page, select the ssh key value to make it be highlighted
2. Go back to the previous page

**Result:**
While going back to the previous page, all the page content will be highlighted
![image](https://user-images.githubusercontent.com/57614736/101318206-e56a4c80-389a-11eb-8232-451175e914a8.png)
![image](https://user-images.githubusercontent.com/57614

[2020-12-07 06:55] WuJun2016 commented on #242
When editing, the image cannot be changed @DoNotSayYes

[2020-12-07 06:57] DoNotSayYes commented on #282
Validated

[2020-12-07 06:57] #282 closed, assigned to WuJun2016, DoNotSayYes

[2020-12-07 07:20] DoNotSayYes opened #299 "The boot order option does not automatically close when the cursor leaves the drop-down box"
While adding or editing a VM, the boot order dropdown does not automatically close its options when the cursor leaves

![image](https://user-images.githubusercontent.com/57614736/101320656-164c8080-389f-11eb-9b0b-5ea5b8a6ebc1.png)

[2020-12-07 07:36] DoNotSayYes commented on #263
The volume is still not forced to select when adding an existing volume? @WuJun2016
![image](https://user-images.githubusercontent.com/57614736/101322196-983da900-38a1-11eb-8c2a-41033218df82.png)

[2020-12-07 07:43] DoNotSayYes opened #300 "The dropdown shows no matching options when adding an existing volume to a VM"
**Steps to reproduce:**
1. Add a volume on the volumes page, name it `volume-test001`
2. Edit a VM and add an existing volume
3. Expand the volume dropdown selecting `volume-test001`, then expand the dropdown again

**Result:**
The dropdown shows no matching options
![image](https://user-images.githubusercontent.com/57614736/101322603-477a8000-38a2-11eb-99eb-95b331092bfe.png)
![image](https://user

[2020-12-07 07:47] DoNotSayYes commented on #242
Now the VM image is not allowed to change
![image](https://user-images.githubusercontent.com/57614736/101323271-5ca3de80-38a3-11eb-8aa5-adac1cf5d0c6.png)

[2020-12-07 07:47] #242 closed, assigned to WuJun2016, DoNotSayYes

[2020-12-07 07:48] DoNotSayYes commented on #256
Validated
![image](https://user-images.githubusercontent.com/57614736/101323422-9d035c80-38a3-11eb-99ec-64cf385f2a94.png)

[2020-12-07 07:48] #256 closed, assigned to DaiYuzeng, DoNotSayYes

[2020-12-07 08:18] DoNotSayYes commented on #257
Validated

[2020-12-07 08:18] #257 closed, assigned to DaiYuzeng, DoNotSayYes

[2020-12-07 08:37] DoNotSayYes commented on #255
Validated

[2020-12-07 08:37] #255 closed, assigned to DaiYuzeng, DoNotSayYes

[2020-12-07 08:56] DoNotSayYes commented on #160
Validated

[2020-12-07 08:56] #160 closed, assigned to WuJun2016, DoNotSayYes

[2020-12-07 09:13] DoNotSayYes commented on #198
Another case that a volume can be deleted though it is mounted to a VM. @DaiYuzeng

**Steps to reproduce:**
1. Create a VM
2. Create a volume, presuming the volume name is `elsa-for-test`
2. Edit VM, adding the existing volume `elsa-for-test` to it
3. Navigate to the volume page, delete `elsa-for-test`

**Result:**
The volume `elsa-for-test` can be deleted though it is in-use state
![image](https:

[2020-12-07 09:21] DoNotSayYes commented on #297
Validated
![image](https://user-images.githubusercontent.com/57614736/101332730-a515c900-38b0-11eb-9367-89b017a8b3a0.png)
![image](https://user-images.githubusercontent.com/57614736/101332712-9d562480-38b0-11eb-9250-6b59956b4b2b.png)

[2020-12-07 09:21] #297 closed, assigned to WuJun2016, DoNotSayYes

[2020-12-07 09:38] DoNotSayYes opened #302 "Volume size incorrect"
**Steps to reproduce:**
1. Create a volume, with size 100000000000000000Gi
2. The volume is in `NotReady` state, check the size in the list
3. Edit it as form, check the size on the edit page
4. Click the volume name, navigate to its detail page

**Result:**
The size is not displaying 100000000000000000Gi on the detail page, list page, and edit page. A decimal size like 0.1 will also lead to the s

[2020-12-07 10:00] DoNotSayYes commented on #299
Validated

[2020-12-07 10:00] #299 closed, assigned to WuJun2016, DoNotSayYes

[2020-12-07 11:21] DoNotSayYes opened #303 "Volume creates failed"
**Steps to reproduce:**
Create a volume on the volumes page

**Result:**
Sometimes volume created failed

[code]

[2020-12-08 00:23] DaiYuzeng commented on #197
we add a timeout configuration of the login api.

[2020-12-08 01:52] WuJun2016 commented on #263
@DoNotSayYes  Please confirm whether it can be reproduced now？If you can, please tell me the steps to reproduce。

[2020-12-08 02:42] DoNotSayYes opened #304 "An inappropriate error message shows when requests time out"
**Steps to reproduce:**
1. Create a new volume/VM
2. Somehow the request times out. (Can manipulate by setting the VPN to `Global Mode`

**Result:**
An inappropriate error message shows when creating a new volume times out. 0ms is definitely incorrect

`Error: timeout of 0ms exceeded`
![image](https://user-images.githubusercontent.com/57614736/101431532-0f2a7e80-3942-11eb-8c83-2772dad01c6a.png)
![

[2020-12-08 02:43] DaiYuzeng commented on #198
And the deleted volume is detectable in Edit VM Page

![image](https://user-images.githubusercontent.com/15041915/101431571-21a4b800-3942-11eb-8fd5-c711b4026519.png)

[2020-12-08 03:25] DoNotSayYes commented on #263
Validated

[2020-12-08 03:25] #263 closed, assigned to WuJun2016, DoNotSayYes

[2020-12-08 03:33] DoNotSayYes opened #305 "Replace volume[] with disk name in error messages of adding volumes to a VM"
**Steps to reproduce:**
1. On the VM create/edit page, add existing volume/add VM image/add container
2. Click save directly

**Result:**
It's better to replace Volume[] with disk name since disk name is unique
![image](https://user-images.githubusercontent.com/57614736/101435962-3b48fe00-3948-11eb-9d79-a827f15c8580.png)

[2020-12-08 03:37] DoNotSayYes commented on #300
Validated

[2020-12-08 03:37] #300 closed, assigned to WuJun2016, DoNotSayYes

[2020-12-08 06:42] DoNotSayYes commented on #154
Validated

[2020-12-08 06:42] #154 closed, assigned to DaiYuzeng, DoNotSayYes

[2020-12-08 06:57] DoNotSayYes commented on #262
Validated
![image](https://user-images.githubusercontent.com/57614736/101450584-b8cf3700-3965-11eb-96d5-e4c466996cc0.png)
![image](https://user-images.githubusercontent.com/57614736/101450126-f8e1ea00-3964-11eb-8383-d15cb1ff138d.png)

[2020-12-08 06:57] #262 closed, assigned to DoNotSayYes

[2020-12-08 07:08] DoNotSayYes commented on #197
Validated
![image](https://user-images.githubusercontent.com/57614736/101451417-16b04e80-3967-11eb-842a-a8fba2169938.png)

[2020-12-08 07:08] #197 closed, assigned to DaiYuzeng, DoNotSayYes

[2020-12-08 07:49] DoNotSayYes opened #308 "Remove kubeconfig & token authentication"
Need to remove kubeconfig & token authentication in ISO installation
![image](https://user-images.githubusercontent.com/57614736/101455050-e9669f00-396c-11eb-9d8d-588d6576162a.png)

[2020-12-08 08:04] WuJun2016 commented on #43
Every once in a while, the frontend receives the following push.
![image](https://user-images.githubusercontent.com/24985926/101456026-69413900-396e-11eb-9141-36f75e95b93f.png)

At this time, the frontend is actively subscribing, and always fails
![image](https://user-images.githubusercontent.com/24985926/101456416-f71d2400-396e-11eb-944b-2e92eb2f1dae.png)

[2020-12-08 08:28] DoNotSayYes opened #309 "Saving the network-setting failed"
**Steps to reproduce:**
1. On the settings page, edit the network-setting, remove the Physical NIC, then save
2. Edit it again, fill in the Physical NIC again, then save

**Result:**
Save failed, along with an error message
`Operation cannot be fulfilled on settings.harvester.cattle.io "network-setting": the object has been modified; please apply your changes to the latest version and try again`
!

[2020-12-08 09:05] guangbochen commented on #291
link to PR https://github.com/rancher/harvester/pull/301

[2020-12-08 09:28] guangbochen commented on #284
link to PR https://github.com/rancher/harvester-installer/pull/12

[2020-12-08 10:01] guangbochen commented on #250
since this is an environmental issue and the GCP does not support host bridge mode so will close this now, feel free to open it if have any further questions, thanks.

[2020-12-08 10:01] #250 closed, assigned to nobody

[2020-12-09 01:49] guangbochen commented on #161
can we please help to validate those on the latest UI, thanks

[2020-12-09 03:33] guangbochen opened #311 "disable edit network vlanID"
**Description:**
1. user should not allow editing the vlan ID of the existing networks, this is because for existing VM the VLAN ID will not be changed until the user restart the VM, and for new created VM they will not be able to comminute with the existing VM with the previous VLAN ID.
2. on the network listing page, change the type of bridge's display name to `L2VlanNetwork ` to make it consist

[2020-12-09 03:47] DoNotSayYes commented on #291
**Steps to verify:**
1. Create a VM, login to it, and check on its mac address
2. Restart the VM, check the mac address again

**Result:**
Mac address persists
![image](https://user-images.githubusercontent.com/57614736/101570406-4f0c6700-3a11-11eb-929a-9ed5a44b947d.png)
![image](https://user-images.githubusercontent.com/57614736/101577302-7add1c00-3a14-11eb-819c-d5a61ae42d05.png)

[2020-12-09 03:47] #291 closed, assigned to DoNotSayYes

[2020-12-09 03:58] DoNotSayYes commented on #298
Validated

[2020-12-09 03:59] DoNotSayYes commented on #287
Validated

[2020-12-09 03:59] #287 closed, assigned to DoNotSayYes

[2020-12-09 04:01] DoNotSayYes commented on #245
Validated

[2020-12-09 04:01] #245 closed, assigned to WuJun2016, DoNotSayYes

[2020-12-09 06:32] DoNotSayYes opened #312 "VM template keeps creating if no name is populated"
**Steps to reproduce:**
1. On the VM template page, click the create button to create a template
2. On the create page, click the create button directly without filling anything

**Result:**
VM template keeps creating, and no error message shows. Check on the API requests, an undefined request was called
![image](https://user-images.githubusercontent.com/57614736/101593183-83405180-3a2a-11eb-9d45-

[2020-12-09 06:44] DoNotSayYes commented on #169
Nothing changed

[2020-12-09 06:44] #169 closed, assigned to guangbochen, WuJun2016, DoNotSayYes

[2020-12-09 06:47] DoNotSayYes commented on #161
UI design changed

[2020-12-09 06:47] #161 closed, assigned to DoNotSayYes

[2020-12-09 07:01] guangbochen commented on #308
the login method is configurable via `HARVESTER_AUTHENTICATION_MODE` with options like `kubernetesCredentials,localUser` and on the ISO mode it will be set to local auth only.

[2020-12-09 08:28] DoNotSayYes commented on #290
Validated

[2020-12-09 08:28] #290 closed, assigned to DaiYuzeng, DoNotSayYes

[2020-12-09 08:44] DoNotSayYes commented on #312
Redundant error messages will show if users keep clicking the create button. @WuJun2016
![image](https://user-images.githubusercontent.com/57614736/101605806-9577bb00-3a3d-11eb-9536-ee95246042f0.png)

[2020-12-09 09:01] DaiYuzeng commented on #302
The size of the vm's volume must be integer and between 1 and 999999.

[2020-12-09 09:08] DoNotSayYes commented on #311
Validated
![image](https://user-images.githubusercontent.com/57614736/101608769-1a180880-3a41-11eb-811e-e53356597b8b.png)
![image](https://user-images.githubusercontent.com/57614736/101608830-2e5c0580-3a41-11eb-9fc4-80c72978566d.png)

[2020-12-09 09:08] #311 closed, assigned to WuJun2016, DoNotSayYes

[2020-12-09 09:13] DaiYuzeng commented on #150
@DoNotSayYes
After clicking the create/edit button, an error message will be displayed , but it will not be hidden until the next click.
Does it make sense?

[2020-12-09 09:42] DoNotSayYes commented on #302
Another case. @DaiYuzeng
![image](https://user-images.githubusercontent.com/57614736/101612688-e25f8f80-3a45-11eb-9d9a-1e36fd66fc4b.png)

[2020-12-09 09:58] DoNotSayYes commented on #312
Validated

[2020-12-09 09:58] #312 closed, assigned to WuJun2016, DoNotSayYes

[2020-12-10 01:05] DoNotSayYes commented on #201
Validated

[2020-12-10 01:05] #201 closed, assigned to DoNotSayYes

[2020-12-10 01:14] DoNotSayYes commented on #272
Validated

[2020-12-10 01:14] #272 closed, assigned to DoNotSayYes

[2020-12-10 02:56] gitlawr opened #315 "[BUG] Wrong dependency versions in ISO image"
**Describe the bug**
With the v0.1.0-rc1 release we notice several incorrect dependency version issues:

- [x] harvester/harvester-network-controller images with `master-head` tag are packaged.
- [x] UI is out of date.
- [x] console dashboard is showing `version: dev`

**Environment:**
 - Harvester ISO version: v0.1.0-rc1

[2020-12-10 03:35] gitlawr opened #316 "[BUG] Incorrect UI version"
UI version in rancher/harvester:v0.1.0-rc1 is out of date

The workaround is to edit the ui-index setting and set the value to `https://releases.rancher.com/harvester-ui/latest/index.html`

[2020-12-10 03:40] DaiYuzeng commented on #302
~If the length of the size value is longer than 20, the value will be converted to exponential.~
~We should remove the unit of UnitInput component.~

[2020-12-10 04:03] gitlawr opened #318 "[BUG] ERR_CERT_COMMON_NAME_INVALID although the CA cert is trusted"
**Describe the bug**
The harvester cert is invalid

**To Reproduce**
Steps to reproduce the behavior:
1. Install harvester
2. Add harvester CA cert to the system trusted Certificate
3. Access harvester

**Result**
Got `NET::ERR_CERT_COMMON_NAME_INVALID`

**Expected behavior**
Access harvester in a secure and trusted HTTPS connection

**Environment:**
 - Harvester ISO version:  v0.1.0-rc1

[2020-12-10 04:06] gitlawr commented on #318
duplicate with https://github.com/rancher/harvester/issues/268

[2020-12-10 04:06] #318 closed, assigned to nobody

[2020-12-10 04:08] gitlawr commented on #268
In v0.1.0-rc1
With the following steps:
1. Install harvester
2. Add harvester CA cert to the system trusted Certificate
3. Access harvester

The certificate is invalid with the following error
NET::ERR_CERT_COMMON_NAME_INVALID

[2020-12-10 04:13] gitlawr commented on #316
Move to https://github.com/rancher/harvester/issues/315

[2020-12-10 04:13] #316 closed, assigned to nobody

[2020-12-10 09:55] DaiYuzeng commented on #302
https://github.com/rancher/harvester-ui/blob/5ab2e1cb1c260891aab63c9ef21335e24bcd278a/utils/units.js#L64

the max safe integer in javascript is (2 ** 53 -1) = 9007199254740991
UnitInput will convert the value from String to Number, so you will come across the bug if you input a huge size.

[2020-12-11 01:55] DoNotSayYes commented on #267
Validated

[2020-12-11 01:55] #267 closed, assigned to DoNotSayYes

[2020-12-11 03:00] WuJun2016 opened #320 "user password is clear-text passwords"
**Describe the bug**
The user password is clear-text passwords

**To Reproduce**
Steps to reproduce the behavior:
1.  Create a user
2. Edit this created user

![image](https://user-images.githubusercontent.com/24985926/101856328-03d48e80-3ba0-11eb-894a-b6ba5bd22ea6.png)

[2020-12-11 03:48] gitlawr opened #321 "[BUG] Both name and custom name for the host are displayed"
**Version**
master 12/11

![image](https://user-images.githubusercontent.com/5697937/101859293-64ff6080-3ba6-11eb-8380-4d0acfc4159e.png)
We are showing both name and custom name. This is confusing.
We should remove the custom name column. If there's a custom name for the host, show it in the name column instead of the generated name.

[2020-12-11 06:20] futuretea commented on #303
The volume created through ui does not specify `storageClassName`
[code]
If the cluster has multiple `default StorageClass`, it will cause this problem.
[code]
make sure there is only one default StorageClass in the cluster
[code]

[2020-12-11 06:35] DoNotSayYes commented on #321
Validated, removed the custom name column from the page.

[2020-12-11 06:35] #321 closed, assigned to WuJun2016, DoNotSayYes

[2020-12-11 07:11] DoNotSayYes commented on #266
Validated
![image](https://user-images.githubusercontent.com/57614736/101874031-0eece600-3bc3-11eb-9641-650392c555f5.png)

[2020-12-11 07:11] #266 closed, assigned to DoNotSayYes

[2020-12-11 07:46] DoNotSayYes commented on #248
It takes time to have the volumes mounted to the VM, validated.

[2020-12-11 07:46] #248 closed, assigned to DoNotSayYes

[2020-12-11 07:50] gitlawr opened #323 "[BUG] Cannot download image with .ISO suffix"
**version**
master

**To Reproduce**
Steps to reproduce the behavior:
1. Create an image
2. Input image URL with .ISO suffix.
    e.g. windows images may use this pattern
[code]

**Result**
![image](https://user-images.githubusercontent.com/5697937/101877162-8a04cb00-3bc8-11eb-9bba-a6442f41605e.png)

[2020-12-11 08:10] gitlawr opened #324 "[BUG]Failed to create vm from windows template"
**To Reproduce**
Steps to reproduce the behavior:
1. Create a VM
2. Input a name
3. choose window iso template
4. select any image.
5. Click create

**Result**
![image](https://user-images.githubusercontent.com/5697937/101878689-f41e6f80-3bca-11eb-96f4-5db38620ed6a.png)

[2020-12-11 08:22] DoNotSayYes commented on #320
Validated
![image](https://user-images.githubusercontent.com/57614736/101879938-12856a80-3bcd-11eb-8045-7a8c5ceab5d7.png)

[2020-12-11 08:22] #320 closed, assigned to DoNotSayYes

[2020-12-11 08:55] DoNotSayYes commented on #254
If the node has been deleted from UI, it cannot be retrieved by `kubectl`, validated.

[2020-12-11 08:55] #254 closed, assigned to DoNotSayYes

[2020-12-11 09:42] gitlawr commented on #324
Validated.

I can create a VM using the windows template using the latest master UI

[2020-12-11 09:42] #324 closed, assigned to WuJun2016, DoNotSayYes

[2020-12-11 09:50] gitlawr commented on #323
When I tried to add the above windows URL and create the image
I got
![image](https://user-images.githubusercontent.com/5697937/101888467-1f0fc000-3bd9-11eb-88a7-6144b1c93876.png)

~~I think that if we fetch the name automatically we should somehow make it conformant with our requirements~~
On a second thought, I think users can edit it anyway.

[2020-12-11 09:59] gitlawr commented on #323
Validated that I can download image with .RAW .QCOW2 and .ISO suffixes

[2020-12-11 09:59] #323 closed, assigned to DaiYuzeng, DoNotSayYes

[2020-12-11 10:45] WuJun2016 commented on #298
modification causes other problems, go back first

[2020-12-11 11:56] WuJun2016 opened #330 "Network can add multiple management"
**Describe the bug**
Network can add multiple management,

**expect**
only one should be created

![image](https://user-images.githubusercontent.com/24985926/101900599-b598ad00-3bea-11eb-8fd5-330f7c4e7aaa.png)

[2020-12-11 12:09] guangbochen opened #331 "[BUG] windows driver image is missing"
**Describe the bug**

windows driver image is missing
`Pulling image "kubevirt/virtio-container-disk"`

**To Reproduce**
Steps to reproduce the behavior:
1. create VM using windows ISO image and template

**Expected behavior**

VM is running but it is pending on pull driver images

**Log**

**Environment:**
 - Harvester ISO version: master
 - Underlying Infrastructure (e.g. Baremetal with Dell Pow

[2020-12-11 12:17] guangbochen opened #333 "[BUG] unable to access the v1 API in ISO mode"
**Describe the bug**

unable to access the v1 API when the Harvester is installed with ISO mode

**To Reproduce**
Steps to reproduce the behavior:
1. after the Harvester is up and running
2. login to the UI and go to /v1 path
3. failed to view the API UI and the following error has occurred.
[code]

**Expected behavior**

able to view /v1 api

**Log**

**Environment:**
 - Harvester ISO version:
 -

[2020-12-11 12:20] WuJun2016 opened #334 "VM add batch operation"
**Feature**
Add the start, stop, restart drop-down button

[2020-12-11 12:40] WuJun2016 opened #335 "vm should attach host customName"
**Describe the bug**
vm should attach host customName

[2020-12-11 14:37] guangbochen commented on #205
this issue still exists in the `harvester-v0.1.0-rc2`
![failed](https://user-images.githubusercontent.com/4569037/101916071-68740580-3c01-11eb-9717-b02cb2f40ec9.png)

[2020-12-11 15:07] guangbochen opened #336 "[FEATURE] add image repository status to the harvester-ui"
**Is your feature request related to a problem? Please describe.**

1. [ ] Currently, there is no way for the user to know whether the Minio server up and running of the image repository, therefore when uploading the image it will always be failed and encounter some unexpected error messages.
1. [x] it will be failed to delete the image when the minion server is down or unreachable as it is blocke

[2020-12-14 01:37] guangbochen opened #337 "[BUG] App mode is failed to install with longhorn-namespace not found"
**Describe the bug**

App mode installation is failed due to an incorrect longhorn chart config

**To Reproduce**
Steps to reproduce the behavior:
1. Helm install the harvester chart

**Expected behavior**

`Failed to install app harvester-system. Error: namespaces "longhorn-system" not found`

**Log**

**Environment:**
 - Harvester ISO version:
 - Underlying Infrastructure (e.g. Baremetal with De

[2020-12-14 03:39] DoNotSayYes opened #339 "The network dropdown shows no matching options when adding a network to a VM"
**Steps to reproduce:**
1. Add a network on the VM create/edit page, name it `dolly-test001`
2. Expand the network dropdown, only one option is available, then expand the dropdown again

**Result:**
The dropdown shows no matching options
![image](https://user-images.githubusercontent.com/57614736/102037899-eeaa6a80-3e00-11eb-800a-d5345690a23e.png)
![image](https://user-images.githubusercontent.com

[2020-12-14 03:58] WuJun2016 commented on #339
fixed:   https://github.com/rancher/harvester/issues/330

[2020-12-14 10:52] gitlawr commented on #333
This is related to the changes in Longhorn v1.1.0 CRD [schema](https://github.com/longhorn/longhorn/blob/5ec0c5a261f4b0efb9f65f4a11a194279b491cff/chart/templates/crds.yaml#L22-L28)
The API schemas contain unknown type fields and it results in the API UI errors.

[2020-12-15 03:26] DoNotSayYes commented on #330
Validated

[2020-12-15 03:26] #330 closed, assigned to WuJun2016, DoNotSayYes

[2020-12-15 03:30] DoNotSayYes commented on #339
Still can be reproduced

**Steps:**
1. On the VM create page, add multiple networks
2. CHeck the network dropdown of the default network

![image](https://user-images.githubusercontent.com/57614736/102167108-aeaeba80-3ec8-11eb-84b6-098530d8c0b7.png)

[2020-12-15 07:17] DoNotSayYes commented on #335
Validated

[2020-12-15 07:17] #335 closed, assigned to WuJun2016, DoNotSayYes

[2020-12-15 08:05] futuretea opened #347 "[BUG] after Edit as yaml, the source.http.url of vm's datevolume change to empty"
**Describe the bug**

after `Edit as yaml` , the `source.http.url` of vm's datevolume change to empty.
vm error
![image](https://user-images.githubusercontent.com/15064560/102185732-79b45f00-3eec-11eb-8afb-7a6487d9db49.png)

**To Reproduce**
Steps to reproduce the behavior:
1. click create on vm page
2. use iso template
3. select vm image
4. click `Edit as yaml`
![image](https://user-images.github