[2022-10-15 18:00] albertkohl-monotek commented on #2936
@sunkai-XDD i made two posts in the issues for a "tutorial"
see:
#2949 [Tutorial] how to migrate linux hyper-v guest into harvester
#2950 [Tutorial] how to migrate windows hyper-v guest into harvester

[2022-10-15 18:41] KyleSponz opened #2951 "Error mounting volume when creating a new vm"
Hello all I just created my first cluster and am getting the following error when starting a new VM

AttachVolume.Attach failed for volume "pvc-5c7440eb-e1d3-4ad9-ac64-1ae3a569057c" : rpc error: code = Internal desc = Bad response statusCode [500]. Status [500 Internal Server Error]. Body: [message=unable to attach volume pvc-5c7440eb-e1d3-4ad9-ac64-1ae3a569057c to test3: invalid volume state to s

[2022-10-15 21:06] irishgordo commented on #2864
I'm not sure if the severity should be decreased - but we could change it possibly - because it is possible to make changes to the VM through `kubectl` as a "workaround" so to say - just the UI is limiting at this point

[2022-10-17 00:01] ibrokethecloud commented on #2864
This is being caused due to missing annotations the UI relies on.

Fix is available now: https://github.com/harvester/vm-import-controller/pull/7

[2022-10-17 02:51] WuJun2016 commented on #2948
Hi,  @irishgordo  I think it's expected that when a user changes the default value we provide the first time, then we consider that value to be meaningful to the user, so we don't automatically reset that value unless the user changes it themselves

[2022-10-17 02:57] bk201 commented on #2933
@w13915984028 I'm still seeing this during build:
[code]

[2022-10-17 03:28] WuJun2016 opened #2952 "[BUG] enable storage-network, Networks statistics are incorrect"
**Describe the bug**

![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/b62d7e58-a43d-44e6-bd4d-41902b5b5306)

![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/6e375017-763c-4683-878b-c32b0aa263de)

![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/b1f3c6bc-04a6-4ea3-ac32-d75c3d72906f)

**To Reproduce**
Steps to reproduce

[2022-10-17 03:31] futuretea commented on #2937
Yes.  The dimension is too small, but I cannot increase the VGA resolution

Works

[2022-10-17 04:03] irishgordo commented on #2864
@ibrokethecloud thanks for the aweome fix!
Using: master-61a6124a-head
Now with the annotations in this all looks good :smile: - I tested teh VMs could be edited in all sorts of ways.
Leveraging modifying the deployment:
- gmehta3/harvester-vm-import-controller:dev
- "Always" for image pull policy
Both with OpenStack & vSphere.

![Screenshot from 2022-10-16 20-55-55](https://user-images.githubuser

[2022-10-17 04:10] irishgordo commented on #2948
@WuJun2016  - that makes sense to me :smile:

Since it is intended, should I go ahead and close this out :smile: ?

[2022-10-17 04:14] futuretea commented on #2947
Errors in virt-operator pod :
`Failed to create all resources: unable to create crd \u0026CustomResourceDefinition{ObjectMeta:{virtualmachineinstances.kubevirt.io   `
 `customresourcedefinitions.apiextensions.k8s.io \"virtualmachineinstances.kubevirt.io\" already exists`

[2022-10-17 04:17] WuJun2016 commented on #2948
@irishgordo  Yes, I think we can close this issue.  thanks

[2022-10-17 04:22] irishgordo commented on #2948
@WuJun2016 - sounds good, I'll go ahead and close this out then :smile:

[2022-10-17 04:22] #2948 closed, assigned to WuJun2016

[2022-10-17 05:58] irishgordo commented on #2864
@ibrokethecloud this looks great!
I went ahead and bumped the image to - `v0.1.1` and pull policy always - and it looks good!
![Screenshot from 2022-10-16 22-56-51](https://user-images.githubusercontent.com/5370752/196100042-b23e8a4e-93ee-4112-9100-16eef87ae9da.png)
I'll go head and close this out :smile:

[2022-10-17 05:58] #2864 closed, assigned to irishgordo, ibrokethecloud

[2022-10-17 06:49] zp4rand0miz31 commented on #2823
Hi,
Follow up on this:
- we installed a new cluster based on 1.0.3 version and specified a /16 network right from the start
- no spurious /24 routes were added when creating VMs or other events

However, not related to this problem, we hit another problem when adding a 3rd node to the cluster (seems bug #2736, fixed in 1.1.0). We will try upgrading from 1.0.3 to 1.1.0, I hope this will be seamless

[2022-10-17 07:17] starbops commented on #2907
@irishgordo
I haven't tried rebooting nodes while stuck in the upgrade process yet, so I'm not quite sure if the upgrade will proceed or fail.

Assume the upgrade will proceed after rebooting the nodes. From @bk201's observation, the number of `instance-manager-r` Pods is more than 1 on `v103-node-0`. This is because there are both old and new versions of `instance-manager-r` Pod running simultane

[2022-10-17 07:42] starbops commented on #2907
@w13915984028
Yes, #2923 only partially fixes, or more precisely, prevents the situation of subsequent pre/post-draining on multiple nodes from happening. Still finding ways to cope with this if the issue does not solve from the upstream.

[2022-10-17 09:17] guangbochen opened #2954 "[Enhancement]Switch pci-device base image to SLES BCI image"
**Is your feature request related to a problem? Please describe.**
Replace pci-devices base image with SLE BCI since it is more secure and better maintained.
refer to https://github.com/harvester/harvester/issues/1868

**Describe the solution you'd like**
- replace the package base image in https://github.com/harvester/pcidevices/blob/master/package/Dockerfile

**Describe alternatives you've consi

[2022-10-17 10:29] armagankaratosun opened #2955 "[BUG] Failed to recover node.kubernetes.io/disk-pressure:NoSchedule on single-node Harvester"
**Describe the bug**
I deployed a single node harvester instance and I was testing to import some VMs from another KVM-based infra (oVirt). I quickly realized that uploading large-size images is not efficient with the UI and I decided to copy the image to the host and upload from there locally, Unfortunately I did not pay attention to the disk usage and therefore I now have a taint in my single no

[2022-10-17 11:21] TachunLin commented on #2892
Verified **fixed** on `master-0a9538a1-head` (10/14). Close this issue.

### Result
Verified after upgrading from v1.0.3 to v1.1.0 master release, we can rejoin the management node and agent node back correctly.

1. Successfully re-join the management node after upgrade
  ![image](https://user-images.githubusercontent.com/29251855/196159969-9c8acb11-b9fe-4501-94d5-74545579ef4d.png)

2. Successfull

[2022-10-17 11:22] #2892 closed, assigned to FrankYang0529, TachunLin

[2022-10-17 11:27] TachunLin commented on #2665
### Test Plan 1: Reinstall management node and agent node in a upgraded cluster

### Result
Verified after upgrading from v1.0.3 to v1.1.0 master release, we **can rejoin** the management node and agent node back correctly.

1. Successfully re-join the management node after upgrade
  ![image](https://user-images.githubusercontent.com/29251855/196159969-9c8acb11-b9fe-4501-94d5-74545579ef4d.png)

2.

[2022-10-17 11:28] TachunLin commented on #2665
### Test Plan 2: Reinstall management node and agent node in a new Harvester cluster

### Result
Verified after upgrading from v1.0.3 to `v1.1.0-rc3`,we **can rejoin** the management node and agent node back correctly.

1. Successfully re-join the management node after upgrade
![image](https://user-images.githubusercontent.com/29251855/196353489-ea323d20-4028-411a-ba32-5fbb7ae4ae2f.png)
![image](h

[2022-10-17 11:48] lanfon72 opened #2957 "[BUG] Terraform Harvester Provider for v1.1.0"
### Describe the bug
- [ ] **Clusternetwork**: not work
  - ![image](https://user-images.githubusercontent.com/5169694/196163882-b153aa94-de59-433d-a3e9-7322bfc8d21d.png)
- [ ] **network**: blocked by **clusternetwork**

### To Reproduce
Steps to reproduce the behavior:
1. regression test cases in https://harvester.github.io/tests/manual/_incoming/2261-terraform-import-vlan/

### Expected behavior

[2022-10-17 11:48] lanfon72 opened #2958 "[BUG] exported tf from Terraformer unable to apply on another cluster"
### Describe the bug
- [ ] **Image**: Restore uploaded image not work
- [x] **Network**: Unable to import exported networks
  - The exported `network.tf`
  - ![image](https://user-images.githubusercontent.com/5169694/196156583-ddf9dd50-50ac-4162-a82e-f41484f0e1b5.png)
  - Remove `route_cidr` and `route_gateway`
  - ![image](https://user-images.githubusercontent.com/5169694/196157573-49fe0b16-d9b7-

[2022-10-17 14:39] TachunLin opened #2960 "[BUG] When enable network controller in PCI Devices passthrough, the current node cordoned with Kubelet stopped posting node status."
**Describe the bug**

When we enable the PCI device addon then enable network controller devices of current nodes
![image](https://user-images.githubusercontent.com/29251855/196203359-1ece5325-fc7b-4f56-99bf-6149e85f3e08.png)

The current node can't be reached, display cordoned status with error `Kubelet stopped posting node status.`
![image](https://user-images.githubusercontent.com/29251855/1962

[2022-10-17 14:55] TachunLin commented on #2828
During the verification on `master-3c164f95-head` (10/17 before cut rc3), encountered the following behavior,

1. First, create a vlanconfig that applies to all nodes
![image](https://user-images.githubusercontent.com/29251855/196200608-4ec32081-0987-4cea-b98b-7c81a596d588.png)

2. Assign the Uplink NIC from the dropdown list, here we can select the only one `ens1f1`
![image](https://user-images.g

[2022-10-17 14:59] abonillabeeche opened #2961 "[FEATURE] add hwinfo to supportbundle"
Gather hwinfo or dmidecode output to supportbundle.

The hwinfo would need to be added to SLE Micro for Rancher and hwinfo added to the bundle. This is to understand any potential hardware issues, compatibility and scheduling availability for virtual machines. Also to understand longhorn-available hardware like controllers, SSDs. But not limited because we may also need to see GPUs, chipsets and f

[2022-10-17 15:01] w13915984028 commented on #2858
@FrankYang0529 please take a look, thanks.

[2022-10-17 15:27] w13915984028 commented on #2781
@MLaudren What was the usage of your baremetal server before? The error message is about the unknow filesystem type `VMFS_volume_member`.

`mount: /run/cos/efi: unknown filesystem type 'VMFS_volume_member'."`

``` VMFS(Virtual Machine File System) is a clustered filesystem designed to store virtual machine disks for VMware ESX or ESXi Server hosts. ```

[2022-10-17 16:56] tlehman commented on #2954
I'm using this base image: https://github.com/harvester/harvester/blob/v1.1.0-rc3/package/Dockerfile#L1

[2022-10-17 18:10] abonillabeeche opened #2962 "[BUG] Host IP is inconsistent"
**Describe the bug**
The host is fetching an IPv6 IP from the local network even if the host and VIP config is set to Static. VirtualMachines are not schedulable and they will fail with

and the hosts section show as

<img width="1508" alt="Screenshot 2022-10-17 at 1 50 31 PM" src="https://user-images.githubusercontent.com/5146963/196251117-c8a7c099-b0a6-424c-bfc3-ccd521173375.png">

**To Reproduc

[2022-10-17 19:22] abonillabeeche commented on #2962
`rke2.io/internal-ip: 10.0.0.22,2601:347:4200:7c30:a9d3:4d0b:4fa6:7b9d`

[code]

[2022-10-17 19:41] abonillabeeche commented on #2962
Fix: Disable IPv6

_https://www.suse.com/support/kb/doc/?id=000016980_

[code]

but of course these don't hold across reboots in harvester.

[2022-10-17 22:49] irishgordo commented on #2903
@guangbochen  - this looks good - testing on a single node v1.1.0-rc3

I do notice that the pvid is correct on the bridge used for one of the cluster networks:
[code]

As well as upon multiple cluster networks and multiple reboots the IPvv4 address.
Additional test artifacts:
![Screenshot from 2022-10-17 15-22-05](https://user-images.githubusercontent.com/5370752/196297808-4925aa80-f942-4131-b72c-

[2022-10-17 22:49] #2903 closed, assigned to irishgordo, yaocw2020

[2022-10-17 23:47] irishgordo commented on #2794
@n313893254  this looks great!
I went through and checked that the CRDs are present and things in the UI look good too.
I created different network configs, networks, vlans - some that used multiple nics and others that used single nics.

![Screenshot from 2022-10-17 16-32-30](https://user-images.githubusercontent.com/5370752/196302597-b7782b09-8d84-439f-be67-895f6449359b.png)
![Screenshot from 20

[2022-10-17 23:47] #2794 closed, assigned to irishgordo, yaocw2020, n313893254

[2022-10-18 00:15] abonillabeeche commented on #2962
After
[code]

the issue at hand is

`0/1 nodes are available: 1 Insufficient devices.kubevirt.io/kvm. preemption: 0/1 nodes are available: 1 No preemption victims found for incoming pod.
`

New supportbundle after trying to start 2 VMs

[supportbundle-Nopreemptionvictimsfoundforincomingpod.zip](https://github.com/harvester/harvester/files/9805303/supportbundle-Nopreemptionvictimsfoundforincomingpo

[2022-10-18 02:00] abonillabeeche opened #2963 "[BUG] How-To /etc/ persistent changes not Documented"
**Describe the bug**
How-to make persistent changes to /etc/ are not documented

**To Reproduce**
1. Modify /etc/sysctl.conf or /etc/ssh/sshd.conf
2. reboot
3. Changes are lost
4. Look how to make these changes in the Harvester Docs

**Expected behavior**
There should be a section that explains how to make changes to the system and make them persist across a reboot.

[2022-10-18 02:40] yaocw2020 commented on #2828
@TachunLin It's the expected behavior. The previous NIC has been used so it's not available for other vlanconfigs.

[2022-10-18 03:04] starbops commented on #2907
@irishgordo
I just did the same thing as you did: reboot the cluster. The originally stuck upgrade seems to start working again.

I noticed that some of the old `instance-manager-r` Pods are being deleted, but some still remain on the system. In that case, we have to find out and shut down, i.e. set replicas to 0, the workload which is using the volume that the old `instance-manager-r` is managing

[2022-10-18 03:11] albertkohl-monotek commented on #2936
@guangbochen any thoughts on this question? been open for a while, seems fairly simple. also tried on slack, no response :(

[2022-10-18 03:37] ibrokethecloud opened #2964 "[BUG] kernel arguments for management_interface and scheme_version parsing failures"
**Describe the bug**

Harvester v1.1.x will introduce a few changes in the Config spec.

There is an introduction of scheme_version in the Config spec, along with changes to how management_interfaces are now defined.

Currently the harvester-installer doesnt parse the management_interfaces correctly as it is setup to identify and parse management_interfaces from pre v1.1.x spec.

As a result manag

[2022-10-18 05:13] bk201 commented on #2962
To make it persistent: create a config file under `/usr/local/lib/sysctl.d/` cc @abonillabeeche

[2022-10-18 06:13] irishgordo commented on #2907
@starbops  thanks for looking into this! :smile:
I spent about 3.5hrs working through another run of this- setting up the env and then running the updates on 3 8C 16GiB 200GiB Disk QEMU/KVM VMs on a [supermicro 1u](https://www.supermicro.com/products/archive/motherboard/x9drd-it_).
Testing upgrading from v1.0.3 to Harvester version v1.1.0-rc3.

I wasn't able to see it be hung like it was in the pa

[2022-10-18 06:31] starbops commented on #2907
Updating some new observations here.

- node-0 is fully upgraded
- node-1 is pre-drained and entering the draining state
- node-2 is somewhat mistakenly put in a SchedulingDisabled mode by Rancher after node-1 is pre-drained
- node-3 is untouched yet

In this kind of situation, the fix in #2923 can actually guard the upgrade procedure. It will hold up the pre-drain Job that's going to be placed on

[2022-10-18 06:40] bk201 commented on #2907
@irishgordo It's normal to see some error logs during an upgrade since there are versions bump or node offlines. I left some comments here:
- `1.` We need to check. If the cluster is ready at the end and it should be OK. Run `kubectl get clusters.provisioning.cattle.io local -n fleet-local  -o yaml` to check if it's ready at the end.
- `2.` `autoscaling/v2` is deprecated in v1.23. (We upgrade to v

[2022-10-18 06:41] khushboo-rancher commented on #2947
Already verified by @noahgildersleeve. Closing this one. Feel free to reopen if you see this again.

[2022-10-18 06:41] #2947 closed, assigned to futuretea

[2022-10-18 06:57] irishgordo commented on #2907
@bk201  thanks for helping me understand that some of those errors are normal :smile:

Running:
`kubectl get clusters.provisioning.cattle.io local -n fleet-local -o yaml` and it seems ready
Yields:
[code]

For 8. -for a bit more info- I have these logs from my notes:
[code]

[2022-10-18 06:59] starbops commented on #2907
Hi @irishgordo, thank you for spending so much time on this! Just curious what's the type of your disks? Is it HDD? Could be a slow speed causes that many interesting errors that eventually self-healed.

I think we can only wait for rancher/rancher#39167 to reproduce and fix it from the root. This issue is just for a record of what we can do to get around this at this critical moment. Since we hav

[2022-10-18 07:00] TachunLin commented on #2665
Verified **fixed** on `v1.1.0-rc3` and `master-0a9538a1-head` (10/14). Close this issue.

### Result
Now we can rejoin the 1st management node and agent node in the following scenarios as stated above
1. Harvester upgrade from v1.0.3 to v1.1.0
2. Fresh install v1.1.0 Harvester

[2022-10-18 07:00] #2665 closed, assigned to FrankYang0529, TachunLin

[2022-10-18 07:05] irishgordo commented on #2907
@starbops you're welcome, I'm glad I could help! :smile:  -- I do think yeah perhaps the there is something funny with the I/O limit on the disk, but the strange thing is, that it is SATA3, a Kingston or Samsung SSD (I don't recall the brand :sweat_smile: )- that's is installed on my 1U server. ( https://www.supermicro.com/products/archive/motherboard/x9drd-it_ )

@bk201 I could close this out and

[2022-10-18 07:54] bk201 commented on #2846
Close this since we have the controller. We can use this as a reference in the future.
@tjjh89017 Could you mention this [PR](https://github.com/harvester/docs/pull/197) in the HEP? Thanks.

[2022-10-18 07:54] #2846 closed, assigned to tjjh89017

[2022-10-18 08:08] bk201 commented on #2029
Didn't see this issue recently. Re-open if needed.

[2022-10-18 08:08] #2029 closed, assigned to bk201

[2022-10-18 08:48] n313893254 opened #2965 "[BUG] Node/Disk selector no-options text is wrong"
**Describe the bug**

Node/Disk selector no-options text is wrong

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Storage create page
2. Click the Node Selector input

**Expected behavior**

The text should be `No available tags, please add in the `Host > Storage` page`

**Support bundle**

**Environment**
 - Harvester ISO version:
 - Underlying Infrastructure (e.g. Baremetal with

[2022-10-18 08:58] n313893254 opened #2966 "[BUG] VM OS and Kernel show "Guest agent required" but the "install guest agent" is checked"
**Describe the bug**

VM OS and Kernel show "Guest agent required" but the "install guest agent" is checked, sometimes we can see the expected detail but sometimes can not see it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to create a VM
2. View the VM detail, go to Basic tab

**Expected behavior**

The Operating System and Kernel Release should show the expected information. Or a be

[2022-10-18 09:08] n313893254 opened #2967 "[BUG] The namespace link of detail page is a wrong route"
**Describe the bug**

The namespace link of the detail page is a wrong route

**To Reproduce**
Steps to reproduce the behavior:
1. Create a VM
2. Go to the VM detail page
3. Click the link of the namespace

**Expected behavior**

Go to the namespace detail page or not allow click the namespace link
**Support bundle**

**Environment**
 - Harvester ISO version: v1.1.0-rc3
 - Underlying Infrastructur

[2022-10-18 09:34] lanfon72 commented on #2865
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/196393001-c0dfebcc-3838-4f40-9eb0-1329ea3c36e3.png)

Test Information
----
* Environment: **baremetals DL360G9 4 nodes**
* Harvester Version: **v1.0.3** upgrade to **v1.1.0-rc3**
* **ui-source** Option: **Auto**

### Verify Steps:
- Same as https://harvester.github.io/tests/manual/_incoming/1707-zero-down

[2022-10-18 09:34] #2865 closed, assigned to Vicente-Cheng, bk201, lanfon72

[2022-10-18 09:36] lanfon72 commented on #2893
Verified this bug has been resolved.

![image](https://user-images.githubusercontent.com/5169694/196394209-ab987e2c-0783-4176-a100-6ee8d81bc697.png)

Test Information
----
* Environment: **baremetals DL360G9 4 nodes**
* Harvester Version: **v1.0.3** upgrade to **v1.1.0-rc3**
* **ui-source** Option: **Auto**

### Verify Steps:
- Prepare the environment as https://github.com/harvester/harvester/issu

[2022-10-18 09:36] #2893 closed, assigned to Vicente-Cheng, lanfon72

[2022-10-18 10:02] bk201 commented on #2935
@noahgildersleeve I've added more resource checking.

[2022-10-18 10:05] chrisho commented on #2932
Since the vm template is not configured with cloud-config, add cloud-config raw config to vm template definition.
windows only support cloudbase-init, so define the Linux related template first.

[2022-10-18 10:23] bk201 commented on #2907
@irishgordo Yes, we can track the `cattle-system/sync-containerd-registry` issue in another ticket. Thanks!

[2022-10-18 10:51] lanfon72 commented on #2761
Verified this feature has been implemented.

![image](https://user-images.githubusercontent.com/5169694/196409316-00dae770-d0ea-44ac-8e65-cd1864dbe7d7.png)

Test Information
----
* Environment: **baremetals DL360G9 4 nodes**
* Harvester Version: **v1.0.3** upgrade to **v1.1.0-rc3**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester `v1.0.3` with any nodes
2. Perform upgrade,

[2022-10-18 10:51] #2761 closed, assigned to tjjh89017, lanfon72

[2022-10-18 10:54] TachunLin commented on #2828
Verified **fixed** on `v1.1.0-rc3`. Close this issue.

### Result
Under the same Cluster Network:
When we create vlanconfig on the node that already been applied earlier by another vlanconfig,
it will promopt the following error to prevent creation
`admission webhook "validator.harvester-system.harvester-network-webhook" denied the request: Internal error occurred: could not create vlanConfig conf

[2022-10-18 10:54] #2828 closed, assigned to yaocw2020, TachunLin

[2022-10-18 11:11] lanfon72 opened #2968 "[BUG] restored VM can not be cloned"
### Describe the bug
`Clone` is not work on the VM restored from a backup.

https://user-images.githubusercontent.com/5169694/196413288-21c9967c-3bd2-423d-adbf-e778f73c8284.mp4

### To Reproduce
Steps to reproduce the behavior:
1. Install Harvester with any nodes
2. Create an Image for VM creation
3. setup backup-target
4. Create VM `vm1` and take backup `vm1b`
5. Delete `vm1` and related volumes

[2022-10-18 11:12] lanfon72 commented on #2968
This could be resolved via _manually_ `clone` VM's volumes, then `clone` the VM without volume data, update volumes to those cloned one.

[2022-10-18 12:01] w13915984028 commented on #2517
All sub-stories are done, close EPIC.

[2022-10-18 12:01] #2517 closed, assigned to w13915984028

[2022-10-18 12:01] w13915984028 commented on #578
All sub-stories are done, close EPIC.

[2022-10-18 12:01] #578 closed, assigned to w13915984028

[2022-10-18 12:13] guangbochen opened #2970 "[Doc] add pci-devices related docs"
**Is your feature request related to a problem? Please describe.**
need to add the pci-devices docs to the v1.1 release. https://docs.harvesterhci.io/next/

**Additional context**
Related to : https://github.com/harvester/harvester/issues/992

[2022-10-18 13:13] TachunLin commented on #2920
Verified **fixed** on `v1.1.0-rc3`. Close this issue.

### Result
* Can finish the pre-drain of each node and successfully upgrade to v1.1.0-rc3
![image](https://user-images.githubusercontent.com/29251855/196434398-a61b5111-7723-4fa6-ac57-2a68ffef73ee.png)

* Volume status after upgrade in Longhorn UI did not have `degraded` status
![image](https://user-images.githubusercontent.com/29251855/196433

[2022-10-18 13:16] #2920 closed, assigned to Vicente-Cheng, TachunLin

[2022-10-18 13:22] TachunLin commented on #1983
Verified **fixed** on `v1.1.0-rc3`. Close this issue.

### Result
The failed to upgrade rancher-monitoring chart did not happen on the latest upgrade from v1.0.3 to v1.1.0-rc3

* Can successfully upgrade from v1.0.3 to v1.1.0-rc3
  ![image](https://user-images.githubusercontent.com/29251855/196444374-c04e7097-b968-4249-b841-a640890fb222.png)

* rancher-monitoring and rancher-monitoring-crd Managed

[2022-10-18 13:22] #1983 closed, assigned to bk201, TachunLin, w13915984028

[2022-10-18 13:47] #2907 closed, assigned to starbops, irishgordo

[2022-10-18 14:28] try2codesecure opened #2972 "[BUG] unable to upgrade because of an previous failed upgrade"
**Describe the bug**
I tried to upgrade the system from 1.0.2 to 1.0.3.
While the first upgrade process i was hit by this bug:
https://github.com/harvester/harvester/issues/2280#issuecomment-1132410796
https://github.com/harvester/harvester/issues/1983
After an rollback & upgrade of the "rancher-monitoring" & "rancher-monitoring-crd" charts, the system-services successfully upgraded to 1.0.3 but t

[2022-10-18 14:46] try2codesecure commented on #2972
The following things I have already tried & did not work or had no effect:
- restart the upgrade multiple times
- restarted all cluster nodes (one by one)
- delete the annotations
- rollout of system upgrade controller (kubectl -n cattle-system rollout restart deploy/system-upgrade-controller)
- restart rke2-server
- https://docs.harvesterhci.io/v1.0/upgrade/v1-0-2-to-v1-0-3#2-an-upgrade-is-stuck-

[2022-10-18 15:15] futuretea commented on #2957
@lanfon72 how do I update the https://harvester.github.io/tests/manual/_incoming/2261-terraform-import-vlan/ docs?

[2022-10-18 15:43] abonillabeeche opened #2973 "[BUG] Unable to enable passthrough"
**Describe the bug**
I am unable to set the desired PCI Devices as allocatable

**To Reproduce**
Steps to reproduce the behavior:
1. Select PCI/nvidia device, including other devices on the same iommu group.
2. Enable passthrough
3. Device appears as enabled but the logs show otherwise, `Kernel driver in use: vfio-pci` won't be listed under the specific device either.

**Expected behavior**
`Kerne

[2022-10-18 16:29] tlehman commented on #2973
That log entry for 65:00.0:

[code]

doesn't show any errors, but from `dmesg` on the p5820,

[code]

Which @abonillabeeche found might be related to [this](http://inbox.dpdk.org/ci/8c696743-5640-9ad9-aba4-916ca8858f64@intel.com/t/), this might be because the `iommu=pt` parameter was not set on boot.

[2022-10-18 17:32] lanfon72 commented on #2957
@futuretea you can submit a PR after modify [this file](https://github.com/harvester/tests/blob/main/docs/content/manual/_incoming/2261-terraform-import-vlan.md), or just add test plan in this issue, we (QA) will update it accordingly.

[2022-10-18 18:00] megabreit commented on #1873
Same issue with v1.1.0-rc3 inside of Virtual Box 6.1.40. v1.1.0-rc1 is working.

[2022-10-18 22:23] noahgildersleeve opened #2974 "[BUG] PCI device still shows as available when it isn't"
**Describe the bug**

When you look at available PCI devices it shows devices that have already been assigned
**To Reproduce**
Steps to reproduce the behavior:
1. Deploy harvester to a node with PCI devices (like a GPU)
2. enable passthrough
3. Assign the available device to a VM and create it
4. Create another VM and assign the same device

**Expected behavior**

You shouldn't see the device as a

[2022-10-18 22:26] noahgildersleeve opened #2975 "[BUG] Can't remove PCI device from VM"
**Describe the bug**

You can't remove a PCI device from a VM
**To Reproduce**
Steps to reproduce the behavior:

1. Deploy harvester to a node with PCI devices (like a GPU)
2. enable passthrough
3. Assign the available device to a VM and create it
4. Edit the config for the device and go to PCI devices

**Expected behavior**

The PCI devices tab should show currently assigned devices and you shoul

[2022-10-18 22:29] irishgordo commented on #2891
I can not reproduce this on my bare-metal.
My guess is this might be related to something else.

I have a network set that only accepts the VLAN ID of 100 - not 101 (as 101 will fail in the screenshot).
That once tagging traffic to 100, from the switch's port(s) that feed the patch down panel then out to the Dell PowerEdge R720.
That setting up the VLAN with a different ID than 1 succeeds.
As well

[2022-10-18 22:29] #2891 closed, assigned to irishgordo, yaocw2020

[2022-10-18 23:48] irishgordo commented on #2873
I validated that this looks good on v1.1.0-rc3.
Thanks again for the edits @WuJun2016 ! :+1: :smile:

![Screenshot from 2022-10-18 16-45-26](https://user-images.githubusercontent.com/5370752/196565551-63de4427-9f6f-4c45-9f31-e5baba7f2c80.png)
![Screenshot from 2022-10-18 16-44-46](https://user-images.githubusercontent.com/5370752/196565552-10bed914-8731-4d2e-90c7-a549035c2988.png)
![Screenshot fro

[2022-10-18 23:48] #2873 closed, assigned to irishgordo

[2022-10-19 00:24] WuJun2016 commented on #2967
duplicate with https://github.com/harvester/harvester/issues/2916 , so close this issue

[2022-10-19 00:24] #2967 closed, assigned to nobody

[2022-10-19 00:27] TachunLin commented on #2894
@khushboo-rancher,
I tried running the upgrade to v1.1.0-rc3 on 3 nodes Harvester, all nodes are installed on SSD disk.
Without setting the increase job workaround https://github.com/harvester/harvester/issues/2894#issuecomment-1274069690
In this trial we can still upgrade successfully.

[2022-10-19 03:34] WuJun2016 opened #2977 "[BUG] Filter the network created by storage-network in the node drive"
**Describe the bug**

`storage-network` will automatically create a network, and we should filter it.

![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/14205b73-424e-4f77-a085-8739b57afbe1)

**To Reproduce**
Steps to reproduce the behavior:
1. go to setting page,  enable `storage-network`
2. Importing harveste into rancher
3. create harvester node driver

**Expected behav

[2022-10-19 03:50] TachunLin commented on #2259
Verified **fixed** on `v1.1.0-rc3`. Close this issue.

### Result
* Can create different vlan on each cluster network
  ![image](https://user-images.githubusercontent.com/29251855/196589014-f00bc352-4b0c-45ee-9a20-c91d7ac54844.png)

* Can create VM using vlan id `91` and retrieve IP address correctly
![image](https://user-images.githubusercontent.com/29251855/196592572-5f9f3b79-9c41-4714-9c88-821a

[2022-10-19 03:53] #2259 closed, assigned to yaocw2020, n313893254, TachunLin

[2022-10-19 05:17] FrankYang0529 commented on #2907
Hi @irishgordo, for number 8, I can't reproduce it in my cluster. Do you have support-bundle for it? I can take a look. Thank you

[2022-10-19 06:20] chrisho commented on #2932
Use secret instead of raw data.

[2022-10-19 06:44] lanfon72 opened #2979 "[BUG] Terraformer export unexpected volumes"
### Describe the bug
Volumes as below should not be export/import/delete
  - alertmanager-rancher-monitoring-alertmanager-db-alertmanager-rancher-monitoring-alertmanager-0
  - prometheus-rancher-monitoring-prometheus-db-prometheus-rancher-monitoring-prometheus-0
  - rancher-monitoring-grafana
![image](https://user-images.githubusercontent.com/5169694/196155082-26d74fcb-0156-4f3a-9659-91c4195518b5.

[2022-10-19 06:46] lanfon72 commented on #2958
update the title and separate volume related issue into #2979 (majoring fix on _Terraformer_)

[2022-10-19 06:54] lanfon72 commented on #1055
@tjjh89017 the link of **Testing UI** seems not work, could you update it ?

[2022-10-19 06:56] tjjh89017 commented on #1055
@WuJun2016 Did you remove the storage network testing UI from aliyuncs?
Thanks a lot.

[2022-10-19 06:57] WuJun2016 commented on #1055
@lanfon72  You can take the latest master address to test： https://releases.rancher.com/harvester-ui/dashboard/latest/index.html

[2022-10-19 08:18] WuJun2016 opened #2982 "[BUG] enhance node scheduling when vm selects network"
**Describe the bug**

When the vm is created, the node matched by the network may be different from the node scheduled by the final vm.

**To Reproduce**
Steps to reproduce the behavior:
1. go to `Cluster Networks / Config` page,  create a new Cluster Network (eg: test)
2. Create a new `network config` in the `test` Cluster Network. (Select a specific node)
![image.png](https://images.zenhubuserco

[2022-10-19 08:19] masteryyh opened #2983 "[FEATURE] Bump snapshot-controller version."
**Describe the solution you'd like**

Bump snapshot-controller from `k8s.gcr.io/sig-storage/snapshot-controller:v4.0.0` to `k8s.gcr.io/sig-storage/snapshot-controller:v5.0.1`

**Test plan**
1. Create a virtual machine with an extra 5Gi volume (volume size can be changed);
2. Create a snapshot for extra volume;
3. Enter the directory mounted using extra volume and create a file named `test`;
4. Exe

[2022-10-19 08:23] TachunLin opened #2984 "[BUG] Can't display monitoring dashboard after upgrade, alertmanager, prometheus and grafana monitoring pods Terminating"
**Describe the bug**

After upgrade from v1.0.3 to `v1.1.0-rc3` finished, we found the grafana monitoring dashboard display empty with error
![image](https://user-images.githubusercontent.com/29251855/196621376-d1840592-7324-46a9-ab4e-a691e05659bc.png)

Further check the following pods display `Terminating` status:
1. alertmanager-rancher-monitoring-alertmanager
2. prometheus-rancher-monitoring-pr

[2022-10-19 08:39] WuJun2016 opened #2985 "[BUG] The available nodes should be filtered according to the selected network, otherwise the network may not be available（Include migration）"
**Describe the bug**

When creating a vm, ensure that the specified node is the same as the matched node in the network

**To Reproduce**
Steps to reproduce the behavior:
1. go to `Cluster Networks / Config` page,  create a new Cluster Network (eg: test)
2. Create a new `network config` in the `test` Cluster Network. (Select a specific node)
![image.png](https://images.zenhubusercontent.com/603455

[2022-10-19 08:49] mmisworking commented on #2147
Good to see that a lot of progress has been made. We looking forward to the new release so we are able to put Harvester in production. Our related issue is https://github.com/harvester/harvester/issues/2759 and could also be closed if the release is there.
Thanks a lot for all your efforts

[2022-10-19 09:13] tjjh89017 commented on #2846
Update HEP
mentioned [PR](https://github.com/harvester/docs/pull/197) in HEP

[2022-10-19 09:21] Martin-Weiss opened #2986 "[BUG] Harvester Webhook NFS connectivity validation takes more time than the 10s webhook call timeout causing harvester pod to die"
**Describe the bug**
We deploy harvester 1.0.3 using a create.yaml and we specified the NFS target.
The NFS target is not reachable due to firewall issues.

In this scenario - the Harvester deployement is successful and even other nodes can be joined successful but the Harvester UI never is reachable, because the harvester pod crashes with this reason:

`time="2022-10-19T07:34:16Z" level=fatal msg

[2022-10-19 09:25] lanfon72 opened #2987 "[BUG] NIC's port stucking in link down after deleted"
### Describe the bug
After delete network config, selected port will not change to `UP` status, which means user can not use it for other network configs.

https://user-images.githubusercontent.com/5169694/196652137-5a8c63cc-5c74-4a0c-b36b-611d56572390.mp4

### To Reproduce
Steps to reproduce the behavior:
1. Install Harvester with any nodes
2. Navigate to _Network -> Cluster Networks/Configs_, cr

[2022-10-19 09:27] lanfon72 commented on #2987
In the UI, the port will show up with `Removing` status occasionally. (the snapshot is another cluster)

![image](https://user-images.githubusercontent.com/5169694/196652898-31bc5474-de82-4087-810f-afbcda96fd62.png)

[2022-10-19 09:59] TachunLin opened #2988 "[BUG] Network interface link status judgement did not match the available NICs in Harvester vlanconfig"
**Describe the bug**

The available NICs list in vlanconfig did not match the actual NICs status in each node

* Available NICs list in vlanconfig, eno2 ~ eno4 marked as `Up`
![image](https://user-images.githubusercontent.com/29251855/196657224-d5b7d458-e9ac-40af-963f-1751b869b7e8.png)

* Actually NICs status on node of  eno2 ~ eno4 is `Down`
![image](https://user-images.githubusercontent.com/2925

[2022-10-19 10:09] lanfon72 commented on #1055
Verified this feature not fully implemented.
As it is a dedicated network, we should have a fallback option when the node not being configured in the `clusterNetwork`.
- [ ] User can set a empty `clusterNetwork` without any errors.
- [ ] Selected `clusterNetwork` can be deleted without any warning.
- [ ] ~~Default `clusterNetwork: mgmt` could be selected. (but user can NOT add any network configur

[2022-10-19 10:11] lanfon72 commented on #2952
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/196633529-84bb4d68-9ec6-47e0-a30f-d7dad5672b8e.png)
![image](https://user-images.githubusercontent.com/5169694/196633641-81d34b15-777b-4e61-942c-979a3dd25f60.png)

Test Information
----
* Environment: **baremetal DL360G9 4 nodes**
* Harvester Version: **v1.1.0-rc3**
* **ui-source** Option: **Auto**

### V

[2022-10-19 10:12] lanfon72 commented on #1055
@tjjh89017, @WuJun2016 I think both UI and backend need to change.
(UI might need add some notification/error/warning messages)

[2022-10-19 10:12] #2952 closed, assigned to lanfon72, WuJun2016

[2022-10-19 10:16] WuJun2016 commented on #1055
~@tjjh89017  I think the notification that the UI needs to add needs to be returned from the backend.  （Or is there anything else that needs to be verified by the UI?~

[2022-10-19 10:18] lanfon72 commented on #2715
As this requires #1055 implemented and could be verify along with, let this blocked by it.

[2022-10-19 10:18] tjjh89017 commented on #1055
Harvester cannot import network controller modules for settings webhook.
It will cause loop dependency.
Currently, we cannot deal with this.

I think this should be detected in the network controller webhook to monitor clusterNetwork deletion. (because we cannot import network controller module in Harvester)
cc @yaocw2020

What do you mean that users cannot add any network configurations on mgmt?

[2022-10-19 10:24] tjjh89017 commented on #1055
Currently, the stuffs that are related to cluster network is not able to be implemented in Harvester because of loop dependency.

[2022-10-19 10:24] lanfon72 commented on #1055
ah.. this might a bit confusing, I'm thinking that `mgmt` should be the default option for storage-network, and the cluster might have VLAN on the mgmt port, so I suggested to not display it.

[2022-10-19 10:35] tjjh89017 commented on #1055
It will be a little bit different from the default.
Longhorn will send traffic with VLAN tag.
Default, Longhorn will send as Pods network traffic (canal).

External switch could use VLAN tag to do QoS or other.
But it's hard to setup QoS with default network style

[2022-10-19 10:36] TachunLin commented on #2734
### Test plan
* Based on https://github.com/harvester/harvester/pull/2852#issue-1391209890

#### Test scenario 1 (No vlan)
* Before upgrade: No network enabled and vlan created
* After upgrade: Check new network feature and UI

#### Test scenario 2 (harvester-mgmt vlan1)
* Before upgrade: Enable network on `harvester-mgmt` and create vlan `1`
* After upgrade:
  - Check the network bridge `mgmt-br`

[2022-10-19 15:19] abonillabeeche opened #2989 "[FEATURE] Restore backup and snap to different StorageClass"
**Is your feature request related to a problem? Please describe.**
While restoring a snap or backup to a new Virtual Machine, there is no option to select a target StorageClass

**Describe the solution you'd like**
Add a StorageClass selector so we can restore a VM/snap to a different StorageClass.

This feature would also provide the possibility to migrate VMs across Storage tiers.

[2022-10-19 18:56] irishgordo opened #2990 "[BUG] Recently Added Disk That Doesn't Have Disk Tag(s) Doesn't Display Storage Information On detail/harvesterhci.io/host/HarvesterHostDisk.vue"
**Describe the bug**
When you add a disk to a node in a multi-node cluster - but you do not tag it with any disk tags & you format it with ext4 - looking at the Host on the "Detail" tab, specifically the "Storage" section, it displays an empty box and no Storage information

**To Reproduce**
Steps to reproduce the behavior:
1. Have a Multi-Node Cluster or Single Node
1. Goto "Hosts"
1. Ensure you

[2022-10-19 19:13] w13915984028 commented on #2941
I tried to get the stacktrace when it happens:

The bug is caused by:

[code]

Related issues
https://github.com/harvester/harvester/issues/2558
https://github.com/rancher/dynamiclistener/issues/63

Booked in:
https://github.com/w13915984028/harvester-develop-summary/blob/main/harvester-pod-100-cpu-usage-issue-2558.md

[2022-10-19 19:18] w13915984028 commented on #2941
need to bump

`	github.com/rancher/dynamiclistener v0.3.3 // indirect`

to

https://github.com/rancher/dynamiclistener/releases/tag/v0.3.4

cc @yaocw2020 @guangbochen @bk201

[2022-10-19 19:33] irishgordo commented on #2965
Thanks for this fix @n313893254 ! :smile: :+1:
Validated that this looks good on Harvester Version: master-7b47d0b7-head

![Screenshot from 2022-10-19 12-32-26](https://user-images.githubusercontent.com/5370752/196786555-9a1675d2-fac8-441b-9f76-675c963f4323.png)
![Screenshot from 2022-10-19 12-32-11](https://user-images.githubusercontent.com/5370752/196786560-443eb208-6b75-4d95-bd32-2b66b68b4ffe.p

[2022-10-19 19:33] #2965 closed, assigned to irishgordo, n313893254

[2022-10-19 20:18] noahgildersleeve opened #2991 "[BUG] Can't remove or reassign a PCI device"
**Describe the bug**

When you try to remove or reassign a PCI device it will give an error.
**To Reproduce**
Steps to reproduce the behavior:
1. Add a GPU for passthrough
2. Assign it to a VM
3. Make sure it shows up
4. Unassign it by adding the Available device then removing it in edit config and hit save
5. Make sure it's removed
6. Assign it to a new VM or re-add it to the same one

**Expected

[2022-10-19 21:58] abonillabeeche opened #2992 "[FEATURE] Provide Monitoring and or Logging as an AddOn"
**Is your feature request related to a problem? Please describe.**
Monitoring and Logging (hopefully separate) should be enabled as an AddOn vs a mandatory component. Edge and smaller Harvester deployments would benefit from a leaner cluster that may not necessarily include Logging or Monitoring.

**Describe the solution you'd like**
Ship Monitoring and Loggin as AddOns

**Additional context**
[co

[2022-10-19 22:30] irishgordo commented on #2942
@n313893254 this looks good! :+1:
I tested on Harvester Version: master-7b47d0b7-head.
When the uplink doesn't exist on the selected nodes it does reset as expected :smile: !

[2022-10-19 22:30] #2942 closed, assigned to irishgordo, n313893254

[2022-10-20 00:21] bk201 commented on #2191
The upgrade path is handled in https://github.com/harvester/harvester/pull/2918

[2022-10-20 00:24] bk201 commented on #2191
Test plan
- Create a 4-node Harvester cluster.
- Wait for three nodes to become control plane nodes (role is control-plane,etcd,master).
- Delete one of the control plane nodes.
- The remaining worker node should be promoted to a control plane node (role is control-plane,etcd,master).

[2022-10-20 01:15] guangbochen commented on #577
Close this epic issue as all sub-items are all verified and closed.

[2022-10-20 01:15] #577 closed, assigned to w13915984028, joshmeranda

[2022-10-20 01:19] bk201 commented on #2917
Waiting for RKE2 v1.24.7, we've bumped to v1.24.7-rc2 so far.

[2022-10-20 02:13] n313893254 opened #2993 "[BUG] Hide Storage create button and "Reset default" action when login as member"
**Describe the bug**

Hide Storage create button and "Reset default" action

**To Reproduce**
Steps to reproduce the behavior:
1. log in as a cluster member
2. Go to the storage page
3. Check to create storage and "Reset default" action

**Expected behavior**

- Hide create button
- Hide the "Reset default"/ "Set as default" action

**Support bundle**

**Environment**
 - Harvester ISO version:
 -

[2022-10-20 02:19] guangbochen commented on #1055
@lanfon72 @tjjh89017 let's create separate enhancement/bug issues and track them in the next release, for the current version, will ask UI to add it as a prerequisite on the setting page, thanks. cc @WuJun2016

[2022-10-20 02:30] n313893254 opened #2994 "[BUG] Cluster member should hide the add-on link on PCI-device page"
**Describe the bug**

Cluster members should hide the add-on link on the PCI-device page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the PCI-device page
2. Click the link of the warning banner

**Expected behavior**

Hide the link or navigate to add-on page

**Support bundle**

**Environment**
 - Harvester ISO version:
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdg

[2022-10-20 03:20] tjjh89017 commented on #2961
added in baseos.
It would be fixed in https://github.com/harvester/harvester-installer/pull/367

[2022-10-20 03:59] WuJun2016 commented on #1055
<img width="1711" alt="image" src="https://user-images.githubusercontent.com/24985926/196853139-2666b2fe-cce2-4d23-97da-a8b32d0b109e.png">

[2022-10-20 04:12] bk201 commented on #2989
Similar issue: https://github.com/harvester/harvester/issues/2771

[2022-10-20 05:13] tjjh89017 opened #2995 "[BUG] Verify ClusterNetwork & VLAN Config for storage network setting in backend"
**Describe the bug**

Storage Network didn't verify cluster network and VLAN config are correct and expected.
Users must ensure the Cluster Network is configured and VLAN Config will cover all nodes and ensure the network connectivity is working and expected in all nodes.

Currently, Harvester cannot import Network Controller's module, so webhook cannot verify cluster network and vlan config.

**T

[2022-10-20 07:21] bk201 commented on #2984
The pods are stuck with terminating. Take pod `prometheus-rancher-monitoring-prometheus-0` as an example (uid: `4f20ef1b-45be-431c-ae31-ebe6696135fc`).

We see these messages flooding the kuebelet log:
[code]

[code]

From Longhorn GUI, the PVC is already detached.

Found a similar issue in Longhorn: https://github.com/longhorn/longhorn/issues/2368

[2022-10-20 07:55] bk201 commented on #1055
The suggestion from Lanfon is tracked in https://github.com/harvester/harvester/issues/2995

[2022-10-20 08:20] FrankYang0529 commented on #2986
Test with fix https://github.com/longhorn/backupstore/pull/91 and we don't get context timeout anymore.
![Screen Shot 2022-10-20 at 4 17 18 PM](https://user-images.githubusercontent.com/4927361/196894761-07f40f69-2277-4415-ae39-612d86327887.png)

[2022-10-20 08:31] w13915984028 commented on #2930
merged into doc, close.

[2022-10-20 08:31] #2930 closed, assigned to w13915984028

[2022-10-20 08:39] n313893254 opened #2996 "[Enhancement] Allow Rancher to edit ui-source and ui-index that belongs to Harvester."
**Is your feature request related to a problem? Please describe.**

Allow Rancher to edit ui-source and ui-index that belongs to Harvester. Without this enhancement, the user needs to go to login Harvester and edit these tow settings.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-10-20 09:06] futuretea commented on #2790
track in https://github.com/harvester/harvester/issues/2957

[2022-10-20 09:06] #2790 closed, assigned to futuretea

[2022-10-20 09:06] futuretea commented on #2793
track in https://github.com/harvester/harvester/issues/2957

[2022-10-20 09:06] #2793 closed, assigned to futuretea

[2022-10-20 09:08] masteryyh commented on #2911
Test steps:
1. Deploy a harvester 1.1.0-rc3 single node environment with default settings;
2. Create a volume with 5Gi size (volume size can be changed);
3. Navigate to `https://HARVESTER_BASE_URL/k8s/clusters/local/api/v1/namespaces/longhorn-system/services/http:longhorn-frontend:80/proxy/#/dashboard` to go to longhorn dashboard;
4. Go to `Volume` tab, and enter the volume created before;
5. Chec

[2022-10-20 09:22] w13915984028 opened #2997 "[ENHANCEMENT] remove command from pod-container definition in network related charts"
**Describe the bug**

There are `command` defined in harvester-network-controller charts, it will overwrite the related value defind in container.

As the container `Dockerfile` has already defined `[CMD]`, it is redundant. And the change in `Dockerfile` will also have no effect.

[code]

https://github.com/harvester/charts/blob/master/charts/harvester-network-controller/templates/deployment.yaml#

[2022-10-20 09:34] w13915984028 commented on #2997
Encountered in debugging #2941 , the change to webhook `Dockerfile [CMD] ` did no work.

[2022-10-20 09:37] TachunLin opened #2998 "[BUG] Can't completely install Harvester cloud provider on K3s v1.24.4 and v1.23.10 clusters"
**Describe the bug**

After installing Harvester cloud provider 0.1.13 on K3s v1.24.4 and v1.23.10 cluster

* The installation can't complete
  ![image](https://user-images.githubusercontent.com/29251855/196900511-fb456466-4561-48e0-8bbe-2e16ec4a2fab.png)

* Cloud provider deployment keeps in `updating`
  ![image](https://user-images.githubusercontent.com/29251855/196900754-0ad3f3cf-0eb2-4d54-b9d5

[2022-10-20 09:39] w13915984028 opened #2999 "[BUG] Harvester dev-mode reports error `no matches for kind "PrometheusRule"`"
**Describe the bug**

When users try to install Harvester in `dev-mode` (note: it is not actively supported at the momement), following error comes.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1.  Follow `dev-mode` to install harvester
2.  Encounter such error message

**Expected behavior**

Do not report error.

Try add `Capabilities` in the related yaml file:

[code]

**Support bu

[2022-10-20 09:58] TachunLin commented on #2943
Verified **fixed** on the latest cloud provider and csi driver generate script on Harvester `v1.1.0-rc3` with Rancher `v2.6.9-rc6`. Close this issue.

### Result
Use the latest generate addon script of the following:
We can correctly generate the related RKE config and proceed to install Harvester cloud provider and csi driver on K3s cluster
- [cloud provider addon](https://github.com/harvester/cl

[2022-10-20 09:59] #2943 closed, assigned to futuretea, TachunLin

[2022-10-20 11:08] lanfon72 commented on #1055
Verified this feature has been implemented partially.
Mentioned problem in https://github.com/harvester/harvester/issues/1055#issuecomment-1283754519 will be introduced as a enhancement in #2995

Test Information
----
* Environment: **baremetal DL360G9 5 nodes**
* Harvester Version: **master-bd1d49a9-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with any nodes
2.

[2022-10-20 11:08] #1055 closed, assigned to tjjh89017, lanfon72, WuJun2016

[2022-10-20 11:33] lanfon72 commented on #2715
Verified this feature not been implemented.
When dedicated storage network is NOT connectable, dashboard becomes inaccessible too.
PVCs loop in `Attaching -> Detached`.

https://user-images.githubusercontent.com/5169694/196937291-3bae97e0-2828-47e5-ba90-5d68273a3676.mp4

Test Information
----
* Environment: **baremetal DL360G9 5 nodes**
* Harvester Version: **master-bd1d49a9-head**
* **ui-source**

[2022-10-20 11:37] tjjh89017 commented on #2715
Grafana and Alertmanager need Longhorn Volume.
If storage network is dead, Longhorn will be dead too.
Grafana and Alermanager will not be able to run.

This issue is for storage network controller process to stop/restart Alertmanager without manual operation.

[2022-10-20 11:42] lanfon72 commented on #2715
@w13915984028 could you update test plan for this issue? from the description:

It looks like the traffic from those PVCs will not through dedicated storage network. but as @tjjh89017 replied:

It means PVCs still using dedicated storage network, but will re-attach automatically.

[2022-10-20 11:45] tjjh89017 commented on #2715
This is not supported by Longhorn, currently.
All volumes need to be detached while setting storage network.

[2022-10-20 11:56] lanfon72 commented on #2715
If it the feature is intent to let internal PVCs not use dedicated storage network, I would suggest reschedule the milestone (as it would be blocked by longhorn).

cc @guangbochen, @bk201

[2022-10-20 12:07] Martin-Weiss commented on #2719
Disabling monitoring might not fulfill the existing monitoring and alerting requirements.. But maybe we can change the monitoring to "rollup" to a central instance instead of having the full blown stack in each harvester cluster?

[2022-10-20 12:11] Martin-Weiss commented on #2676
Disabling monitoring and logging completely might not fulfill the existing monitoring, alerting and logging requirements..
But maybe we can change the monitoring and logging to "rollup" to a central instance instead of having the full blown stack in each harvester cluster?

[2022-10-20 13:19] lanfon72 commented on #1497
re-produced in `v1.1.0-rc3` (qemu/KVM)

[2022-10-20 14:18] bk201 commented on #2715
@lanfon72 The issue is merely for tracking that we should handle the alert manager's PVC when enabling/disabling the dedicated network. At this moment, all volumes can only reside on the same network, either management or storage. I believe the implementation already meet the expectation.

[2022-10-20 14:31] w13915984028 commented on #2715
I updated the issue description. The `Alertmanger`'s PVC should follow others to use dedicated storage network, when it is enabled.

[2022-10-20 14:36] bk201 commented on #2741
@noahgildersleeve Thanks. I apologize I didn't put a test plan ([updated](https://github.com/harvester/harvester/issues/2741#issuecomment-1239044399)), and the description doesn't describe the fix well. The issue tracks the logic to wait for all volumes to become healthy before draining a node. So from the log, the code does its job well:
[code]

As for the stuck, there might be some reasons:
- ht

[2022-10-20 14:37] lanfon72 commented on #2715
Verified this feature has been implemented.
PVCs (alertmanager/grafana/Prometheus) will attach back after dedicated storage network switched.

Test Information
----
* Environment: **baremetal DL360G9 5 nodes**
* Harvester Version: **master-bd1d49a9-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with any nodes
2. Navigate to _Networks -> Cluster Networks/Configs_, c

[2022-10-20 14:37] #2715 closed, assigned to tjjh89017, lanfon72

[2022-10-20 16:39] tlehman commented on #2954
Testing steps: Install Harvester, check that the PCI devices list is built (after enabling addon), this will be sufficient to test that the base image worked. The only thing we need to make sure is that the pcidb is there, and can be used by the pcidevices-controller to populate the fields of the PCIDevice CRs

[2022-10-20 16:53] tlehman commented on #2991
Possibly a duplicate of #2820

[2022-10-20 18:14] irishgordo commented on #2911
Validated in v1.1.0-rc3 that this looks good :smile: :+1:

![Screenshot from 2022-10-20 11-13-20](https://user-images.githubusercontent.com/5370752/197026365-fd989355-f360-40cd-a085-c39efa5ae7f6.png)

I'll go ahead and close this out.

[2022-10-20 18:14] #2911 closed, assigned to Vicente-Cheng, irishgordo, masteryyh

[2022-10-20 19:01] PhanLe1010 commented on #2984
This one seem to be related to the upstream issue
* https://github.com/kubernetes/kubernetes/issues/101378
* https://github.com/kubernetes/kubernetes/issues/101911

What is the Kubernetes version in this ticket?

[2022-10-20 19:04] irishgordo opened #3001 "[BUG] During Upgrade From v1.0.3 cattle-system/sync-additional-ca system-upgrade-controller sees RFC-1123 Error"
**Describe the bug**
During Upgrade from v1.0.3 to master-head ( also have seen on rc-3 ) firing off:
[code]
We encounter:
[code]
(repeated several times)
Occasionally needing to resubmit kubectl call due to `Error: stream error: stream ID 3; INTERNAL_ERROR; received from peer`

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade v1.0.3 node to v1.1.0-rc-* or master-head
1. Audit logs wit

[2022-10-20 20:26] noahgildersleeve commented on #2994
Tested in Harvester v1.1.0-rc3 with forced external ui-index source and Rancher v2.6.9. Verified that link was removed from PCI devices page

![Screenshot_20221020_132558](https://user-images.githubusercontent.com/83787952/197050959-11476819-be23-4753-989c-3a187e7ccec6.png)

[2022-10-20 20:26] #2994 closed, assigned to WuJun2016, noahgildersleeve

[2022-10-20 21:00] irishgordo commented on #2931
I upgraded from v1.0.3 to Harvester Version: master-380ddce1-head via:
[code]
Using a Caddy Server I had provisioned via:
https://gist.github.com/irishgordo/d04688e4448d512a5fb80356022a6bd1
(much nicer than having to work with NGINX or Apache2 httpd configs)

I didn't notice any prior issues seen with fluentbit:
Yielding on restart after upgrade successful:
[code]
As I was also remembering encount

[2022-10-20 21:00] #2931 closed, assigned to Vicente-Cheng, irishgordo, w13915984028

[2022-10-20 21:03] tlehman commented on #2960
Was that network interface the management interface?

[2022-10-20 22:51] tlehman commented on #2970
PR posted: https://github.com/harvester/docs/pull/210

[2022-10-20 23:34] averyfreeman opened #3002 "[Question] Possible to copy file to node from locally-attached disk?"
Currently previewing Harvester-20221014 aka v1.1.0-rc3

I'm wanting to migrate some systems to Harvester, but uploading images from the web UI is time-consuming and unreliable.

I'd rather copy the image files via a disk connected physically to a node to a specified location on the filesystem.

Is this possible?

[2022-10-21 00:23] guangbochen commented on #2236
close this epic issue since all feature-related items are merged or verified, the doc and HEP will be tracked by independent issues accordingly.

[2022-10-21 00:23] #2236 closed, assigned to tjjh89017, yaocw2020, n313893254

[2022-10-21 02:26] guangbochen commented on #2998
Let's add a release note for this issue and tentatively move it to v1.1.1 due to time-frame concerns cc @rebeccazzzz , please comment if any temp workaround is found, thanks.

[2022-10-21 03:36] bk201 opened #3003 "[FEATURE] Mark pcidevices-controller add-on as experimental and add warning when enable devices"
**Is your feature request related to a problem? Please describe.**

- The pcidevices-controller add-on is experimental in v1.1.0
- Users might pass through in-used devices to VMs.

**Describe the solution you'd like**

- In the `Advanced->Addons` page, we can have a label to say the add-on is experimental.
  - GUI displays the label if the addon resource has an experimental label `addon.harvesterh

[2022-10-21 03:47] bk201 commented on #2960
It should be the management interface. We create an [issue](https://github.com/harvester/harvester/issues/3003) to add a warning before users enable any device.

[2022-10-21 03:57] DaiYuzeng opened #3004 "[BUG] The count of volume snapshots should not include VM's snapshots."
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Create a vm `vm-1`.
2. Take a snapshot of it.
3. The count of volume snapshots on Volume list is `1`

**Expected behavior**

The count of volume snapshots should not include VM's snapshots.

**Support bundle**

**Environment**
 - Harvester ISO version:
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge

[2022-10-21 06:23] yaocw2020 commented on #2988
Test plan:
Check the linkmonitor nic.
[code]
The state of NICs will be the same as the command `ip link` shows.

[2022-10-21 06:30] Vicente-Cheng commented on #2984
We still investigate the root cause of this issue. And looks like this issue does not easy to reproduce.

There is a workaround that forces delete the pods that are stuck on the terminating status.

using the following command for it:
`kubectl delete pod <name of pod that is stuck on the terminating status> --force -n <related namespace>`
e.g.
`kubectl delete pod kuberancher-monitoring-grafana-647

[2022-10-21 08:11] irishgordo commented on #2964
Hi @ibrokethecloud  - I've been working to try to verify this.
I'm running into some issues with a mix of trying:
[code]
With various different options, building the main disk above with:
[code]
Also additionally trying:
[code]
And also then booting from the master-head iso, and hitting `e` on grub 2 boot menu and trying to pass in a combination of this:
![Screenshot from 2022-10-21 01-03-16](http

[2022-10-21 08:25] w13915984028 commented on #3002
There is no handy solution for it now.

Technically speaking, Harvester utilizes Longhorn as the persistant storage, and when creating image in WebUI, the source file can be either an remote http link, or from local file in the client PC.  Longhorn will download this file and convert it into an image file. It does not support using a local file in the the Cluster NODE path as the source file yet.

[2022-10-21 08:30] w13915984028 commented on #2955
@armagankaratosun After free up the space, did you try to reboot the NODE ?

[2022-10-21 08:30] TachunLin commented on #2734
### (PASS) Test plan2: harvester-mgmt vlan1

#### Before upgrade (v1.0.3)
1. Enable network on `harvester-mgmt`
  ![image](https://user-images.githubusercontent.com/29251855/197128989-7f241bd5-68b0-4af9-9c9b-8e11d46e36b4.png)
2. Create vlan id `1`
  ![image](https://user-images.githubusercontent.com/29251855/197128677-26c97837-deb0-4f0a-b2cb-61c273d480a8.png)
3. Create two VMs, one set to vlan 1 a

[2022-10-21 08:32] TachunLin commented on #2734
### (PASS) Test plan3: enps0 NIC with valid vlan

### Status

- First trial Failed, tracked in https://github.com/harvester/harvester/issues/3021
- By using the [workaround](https://github.com/harvester/harvester/issues/3021#issuecomment-1288747614) to continue the remaining upgrade steps

#### Before upgrade: Enable network on other NIC (eg. enps1) and create a vlan with valid id
1. Enable networ

[2022-10-21 08:36] w13915984028 commented on #2951
@KyleSponz  Could you please add more details, thanks.

The Harvester version
The cluster scale, single node or multi node, node number.
The node resource, CPU cores, memory, storage
Could you also attach a few pictures or logs about that status.
And `kubectl get pvc -A -o YAML`, `kubectl get volume -A -o YAML`, `kubectl get vm -A -o YAML` ...

It is possble that the VM's claimed storage size is b

[2022-10-21 08:43] w13915984028 commented on #2936
@albertkohl-monotek   For question 3, please take a look.

https://docs.harvesterhci.io/v1.0/networking/best-practice/multiple-nics-vlan-aware-switch

And could you add a simple digram about your network design. How would you map your HOST's network into VM side.

[2022-10-21 08:44] w13915984028 commented on #2936
For question 2, what is the reason to stop time syncing with host ?

https://stackoverflow.com/questions/42367977/kvm-libvirt-how-to-disable-clock-sync-for-guests

[2022-10-21 08:51] w13915984028 commented on #2875
Please check

https://docs.harvesterhci.io/v1.0/host/#deleting-a-node

[2022-10-21 09:10] WuJun2016 commented on #2487
Hi @TachunLin  ,    here is a little enhancement.
1. If there is no `#cloud-config` in userData when you check install guest agent, UI need to add it automatically, otherwise it will not take effect.

test step:
1. go to create vm page, click `Advanced Options` tab
2. uncheck `inatall guest agent`,  clear user data
![image](https://user-images.githubusercontent.com/24985926/197158184-07da136c-f9a0

[2022-10-21 09:14] armagankaratosun commented on #2955
@w13915984028  yes, I tried several times and it didn't work.

[2022-10-21 09:14] yaocw2020 opened #3007 "[Test] Add unit test for virtualmachine mutator"
**Is your feature request related to a problem? Please describe.**

Add unit test cases to test patchAffinity in virtualmachine mutator.

https://github.com/harvester/harvester/pull/3000#discussion_r1001552711

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-10-21 10:04] w13915984028 commented on #2772
@yaocw2020 any idea? thanks.

[2022-10-21 10:16] chrisho opened #3008 "[Enhancement] Bump harvester dynamiclistener to newer version"
In harvester/webhook, bumped rancher/dynamiclistener to v0.3.5 to improve performance.

eg: harvester-network-webhook, before bumping dynamiclistener v0.3.5
[code]

After bumping dynamiclistener v0.3.5
[code]

[2022-10-21 10:36] w13915984028 commented on #2821
@jcambronero Is your `Harvester` cluster managed by an `Rancher`, any abnormal inbetween them ?

[2022-10-21 11:48] w13915984028 commented on #3002
One hack you may try:

Navigate to your file local of your local disk, start a simple http server via python3

[code]
suppose your Harvester cluster NODE ip is `192.168.122.200`, then use `http://192.168.122.200:8000/....full path of your file` as the URL in Harvester WebUI to create image.

It will be much faster than downloading from public network, and also re-use Harvester exsting solution to

[2022-10-21 13:08] guangbochen opened #3009 "[FEATURE] Allow to set default network of the multus networks"
**Is your feature request related to a problem? Please describe.**
When users have multiple networks, there is no way to set the default network in the current UI, this will lead to a known issue of [Multiple NICs VM Connectivity](https://harvesterhci.io/kb/multiple-nics-vm-connectivity).

**Describe the solution you'd like**
- Allow to set the default network on the UI, also a multus default netw

[2022-10-21 13:27] yaocw2020 commented on #2772
Util Harvester v1.0.3, the load balancer provided by Harvester is actually a service load balancer in the front of a set of pods.
In the new coming load balancer version planed to be released in v1.1.1, we'll provide load balancer for the VM workloads which may meet the requirement. Let me confirm it again.

[2022-10-21 14:11] bk201 commented on #2872
Close, we've fix issues in the description.

[2022-10-21 14:11] #2872 closed, assigned to bk201

[2022-10-21 15:47] averyfreeman commented on #3002
Thank you for the clarification,

I used the python simple http server option mentioned in https://github.com/harvester/harvester/issues/3002#issuecomment-1286852891 last night, after attempts to perform local upload resulted in a failure at 99% complete multiple times (error msg "context cancelled"). URL currently seems like the far preferable option IMO as of now.

Let's close this issue.

[2022-10-21 15:53] averyfreeman commented on #3002
Yeah, I came across this solution last night after local upload failed on me right at the end (23GB file - was excruciating). If anyone who sees this issue thread is looking for more guidance, I posted a write-up on my blog: https://develmonk.com/2022/10/20/simple-http-server-for-sending-local-images-to-ranchers-harvester-hci-os/

BTW, I just used port 80 to avoid port notation.

[2022-10-21 15:55] #3002 closed, assigned to nobody

[2022-10-21 16:03] albertkohl-monotek commented on #2936
@w13915984028 for question 2, one of our machines is a mail server on server 2012. when it first boots up, it gets the hosts time, which is correctly set in utc, but the vm is taking it as the same time, but local. so for example, the host is set to 12pm utc, the host will pick up 12pm MST,  but then sync up with the domain controller for the correct time (i.e. 6am MST). the minute or two it takes

[2022-10-21 16:56] averyfreeman opened #3010 "[Question] example of creating a VM from cloned hard drive"
I'm a little lost about creating a VM from two drives I cloned.  Both are in `qcow2` format, one was from a physical machine and another from a VM on ESXi.  Both are confirmed working in vanilla qemu+kvm.

I have uploaded both these images via the "Images URL" upload - I added the label `harvesterhci.io/OsType: windows` to one of them after upload, which triggered a re-download from my local web s

[2022-10-21 17:13] lanfon72 commented on #2957
When updating vlanconfig's name field, encounter error as below:
![image](https://user-images.githubusercontent.com/5169694/197251054-54e14a38-a6b6-4ccf-95dc-e015c83c36f7.png)

the config could be updated after apply again.
the error might related to #2987

[2022-10-21 17:16] lanfon72 commented on #2968
Verified this bug has been fixed.

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-f96827b2-head**
* **ui-source** Option: **Auto**

### Verify Steps:
- Follow **Steps to reproduce** in https://github.com/harvester/harvester/issues/2968#issue-1413026149
- Additional regression test cases listed in https://github.com/harvester/tests/issues/568#issue-141453400

[2022-10-21 17:16] #2968 closed, assigned to FrankYang0529, lanfon72

[2022-10-21 17:34] noahgildersleeve commented on #2932
Tested in master-380ddce1-head. Verified that Guest agent was enabled by default in all templates except for Windows.
![Greenshot 2022-10-21 10 32 56](https://user-images.githubusercontent.com/83787952/197255475-e7dc2cc1-9ed8-4e8f-8468-71bdebbb6a12.png)
![Greenshot 2022-10-21 09 53 24](https://user-images.githubusercontent.com/83787952/197255479-6f0dc2d8-ba6d-4cb8-aa5a-7157560e5e9b.png)

[2022-10-21 17:34] #2932 closed, assigned to chrisho, WuJun2016, noahgildersleeve

[2022-10-21 19:01] Roguito opened #3011 "[BUG] rancher harvester integration unable to retrieve/select harvester data"
**Describe the bug**
When trying to integrate rancher and harvester, either bootstrap from within harvester or from an external rancher instance, rancher is unable to retrieve images or networks and is presenting a "clusters.management.cattle.io "v1" not found" message. The harvester provider registration completes but provisioning a cluster via rancher does not.

**To Reproduce**
Steps to reprodu

[2022-10-21 19:03] albertkohl-monotek commented on #3010
from what i've gathered, when you migrate or upload vms, that creates an Image. so your data should be in the image section.
when setting up a windows vm, you should pick the windows iso template, delete the root disk, and add back your uploaded image volume.

i wrote a tutorial here #2950 (windows) and here #2949 (linux) from hyper-v to harvester. hopefully they are helpful.

if you are are new t

[2022-10-21 19:04] albertkohl-monotek commented on #3010
also, new thing i've learned worth mentioning i think. the backing image (that you uploaded) will not be part of any backups you take from harvester. so either a) keep it around for future reload if you ever have to restore a from a backup, or b) dont use an image, recreate the ve from scratch in harvester.

anyone else have any pointers on getting backing images our of harvester, feel free to cor

[2022-10-21 21:45] irishgordo commented on #2964
@ibrokethecloud
I've tried to retrofit the ipxe-examples repo for testing via:
https://github.com/irishgordo/ipxe-examples/commit/0518a9e638e81d1f614dd8cb110978013055ec80

I'm noticing that on the VM for node0, as it spins up, it seems to process well, but then it encounters:
`RTNETLINK answers: File exists`

After that, it hangs, then I see a continuation of a repeat with:
`Warning dracut-initque

[2022-10-22 00:35] noahgildersleeve commented on #2975
Tested in Harvester master-7b698413-head. Verified as fixed.

## Verification Steps

1. Add GPU to VM
2. Verify that VM has access to GPU
3. Remove GPU
4. Check that GPU isn't on VM 2
5. Add GPU to VM 2
6. Verify that VM 2 has GPU and it works

### Expected Results

- GPU should pass tests in VM 2

[2022-10-22 00:35] #2975 closed, assigned to mantis-toboggan-md, noahgildersleeve

[2022-10-22 00:36] noahgildersleeve commented on #2974
Tested in Harvester master-7b698413-head. Verified as fixed.

## Verification Steps

1. Add GPU to VM
2. Verify that VM has access to GPU
4. Check that GPU isn't on VM 2
5. Check if you can add GPU 2 to VM

### Expected Results
- GPU is grayed out

[2022-10-22 00:36] #2974 closed, assigned to mantis-toboggan-md, noahgildersleeve

[2022-10-22 02:11] TachunLin commented on #2191
Verified **fixed** on `master-f96827b2-head` (10/21). Close this issue.

### Result
After deleting one of the control-plane node machine of 4 nodes Harvester cluster, the remaining worker node can be correctly upgraded to control-plane role

* 4 nodes Harvester cluster status, before delete one of the control-plane node
[code]

* Delete the third control-plane node, the 4th node can be promoted to

[2022-10-22 02:11] #2191 closed, assigned to bk201, TachunLin

[2022-10-22 21:25] irishgordo opened #3012 "[BUG] Inconsistent Virtualization Management Experience w/v2.6.8 Rancher & v1.1.0-rc3 Harvester"
**Describe the bug**
Inconsistent UI experience working with a v1.1.0-rc3 Single Node Harvester instance that has been imported into v2.6.8 Rancher.
Might have something to do with:
https://github.com/harvester/dashboard/blob/master/pkg/harvester/config/harvester.js#L441-L443

**To Reproduce**
Steps to reproduce the behavior:
1. Import a v1.1.0-rc3 Harvester instance into Rancher v2.6.8, be sure t

[2022-10-22 23:09] irishgordo opened #3013 "[BUG] Can't Edit Disk Tags in Rancher v2.6.8"
**Describe the bug**
Can't edit disk tags, doesn't allow for anything to be typed in, can remove disk tags seemingly however.

**To Reproduce**
Steps to reproduce the behavior:
1. Import v1.1.0-rc3 Harvester cluster into Rancher v2.6.8
1. In Rancher goto a host -> storage -> try to edit disk-tags

**Notes**
In Global Settings Rancher v2.6.8 - make sure to set:
- ui-dashboard-index: https://release

[2022-10-22 23:24] irishgordo opened #3014 "[BUG] On Cluster Network Creation Can Remove All NICs"
**Describe the bug**
When creating a Cluster Network, you can remove all NICs.
A user could preform that action, be on that pane, and then not have the ability to add any NICs unless they were to cancel out their creation process and start again.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Cluster Networks Create
1. See the NIC, it doesn't need to be filled out - you can remove it

[2022-10-23 11:06] armagankaratosun opened #3015 "[FEATURE] CPU Masking (aka EVC): Live Migration cannot proceed since no node is suitable to run the required CPU model NoSuitableNodesForHostModelMigration"
**Describe the bug**

I have a Harvester cluster with 2 nodes, each of them has Ryzen CPUs but a different generation. 1 Host (ultron02) has the AMD Ryzen 7 5700G with Radeon Graphics while the other one (ultron01) has AMD Ryzen 7 3700X. During my tests with the cluster, I realized that I can live migrate VMs from ultron01 to ultron02 but not the other way around. I found that this is happening be

[2022-10-23 15:16] RegisWeduLabs opened #3016 "[Question] - Downloaded VM Images"
Hi Harvester team,

When we migrate an existing VM from other virtualization platform / virtualized physical server, we need to use the URL option as the upload doesn't work for big Images.

That's fine and it works fine - but we ended up having to create a "temporary" http server so Harvester can download the images.

I came across an issue where when I remove the image from the http server, it s

[2022-10-23 19:08] Roguito commented on #3011
It seems this was a combination of issues at different times. Rancher containers restarting were a known bug, but my particular issue running :latest was based on memory and therefore disk (swap) pressure. I intentionally sized my virtual machines smaller than the recommended 2vCPU/4 RAM as 1/3 and I also ran into disk space issues having deployed so many permutations of the rancher container....

[2022-10-23 19:08] #3011 closed, assigned to nobody

[2022-10-23 19:22] noahgildersleeve commented on #3013
I checked this in Rancher `v2.6.9` and Harvester `master-7b698413-head`. It seems to be working in that version.
![Screenshot_20221023_121948](https://user-images.githubusercontent.com/83787952/197411915-67b3442f-0d7b-4e84-a2cd-a45b6786f090.png)
![Screenshot_20221023_121957](https://user-images.githubusercontent.com/83787952/197411918-7cfb7fb9-072d-434a-b316-dee5b19d7eb9.png)
![Screenshot_20221023

[2022-10-23 19:54] irishgordo commented on #3013
Thanks for checking with v2.6.9 @noahgildersleeve  - I'm currently waiting for harvester master-head provisioning to complete to check v2.6.8 - w - master-head instead of rc3.

[2022-10-23 19:55] albertkohl-monotek commented on #3016
bump this. i'm going to have the same issue when adding nodes. also, is there a way to export backing-images? this might be a good short-term workaround, export the image, and put in on a web server again for harvester to redownload

[2022-10-23 20:19] irishgordo commented on #3013
@noahgildersleeve - validated today Sunday 10/23 with:
- Rancher Single Node Docker Based Deploy: v2.6.8
- Harvester Version: master-7b698413-head

That this issue is still present.
We can not in Rancher's v2.6.8 single pane of glass edit Host or Disk tags on Harvester.

https://user-images.githubusercontent.com/5370752/197416249-40651248-d76f-4b6e-8130-51e191acc8f3.mp4

[2022-10-23 20:22] irishgordo commented on #3013
Also for brevity, the Global Settings are adjusted appropriately:

https://user-images.githubusercontent.com/5370752/197416436-e780882d-d02e-4796-b4f0-1c94b700bf1c.mp4

[2022-10-23 23:13] ebauman opened #3017 "[BUG] rc3 not installable via iso media"
**Describe the bug**
Installing Harvester v1.1.0-rc3 via ISO fails during cluster creation setup screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Create 8x32 VM on vSphere, set for Linux x64 "Other" compat, 200G root vol, two NICs
2. Mount ISO and start VM
3. Press Enter to reach installer
4. Press Enter to create a new Harvester cluster
5. Enter in hostname, and press "Tab" to go to

[2022-10-24 00:38] ibrokethecloud commented on #3017
duplicate of: https://github.com/harvester/harvester/issues/2937

[2022-10-24 00:49] ibrokethecloud commented on #2964
sample libvirt xml. It is referring local rootfs / iso files for the install. please change cmdline arguments accordingly.

The install log is available in /tmp/harvester.log

[code]

[2022-10-24 01:28] guangbochen commented on #3013
For the Harvester v1.1.0 release the minimum supported Rancher version will be v2.6.9 or above due to the UI plugin design changes, so we will not be doing any backward capability support with Rancher v2.6.8.

[2022-10-24 01:41] irishgordo commented on #3013
Ahh that makes sense :smile:  - thanks for the info on that @guangbochen  - I'll go ahead and close this out

cc: @noahgildersleeve

[2022-10-24 01:41] #3013 closed, assigned to nobody

[2022-10-24 01:43] irishgordo commented on #3012
Closing this out as v2.6.8 Rancher is not supported as a minimum version for v1.1.0, per:
https://github.com/harvester/harvester/issues/3013#issuecomment-1288284294

[2022-10-24 01:43] #3012 closed, assigned to nobody

[2022-10-24 03:09] bk201 commented on #2927
Test plan:
Verify a new deployment has these versions:
- Rancher v2.6.9. (`kubectl get settings.management.cattle.io server-version`)
- RKE2 v1.24.7+rke2r1 (`kubectl get nodes` -> `VERSION`)
- Longhorn v1.3.2 (`kubectl get ds longhorn-manager -n longhorn-system -o yaml | grep image` -> should see `longhornio/longhorn-manager:v1.3.2`). Or via Longhorn GUI to see the version.

[2022-10-24 03:26] TachunLin commented on #2487
Verified **fixed** on `master-7b698413-head` (10/22). Close this issue.

### Result
* After unchecking the `Install guest agent` all user data would be cleaned, then when we check it again, the guest agent user data will be added back

https://user-images.githubusercontent.com/29251855/197442365-5cdc476e-0cd7-47f2-82e4-c3653f277243.mp4

* When user data already have `#cloud-config`, checking the i

[2022-10-24 03:26] #2487 closed, assigned to WuJun2016, TachunLin

[2022-10-24 03:38] TachunLin commented on #2927
Verified **fixed** on `master-7b698413-head` (10/12). Close this issue.

### Result
 Verified on the newly install 3 nodes Harvester cluster:

* Checked the Rancher version: v2.6.9
[code]

* Checked the RKE2 version: v1.24.7+rke2r1
[code]

* Checked the Longhorn version: v1.3.2
[code]

### Test Information
* Test Environment: 3 nodes harvester on local kvm machine
* Harvester version: `master-7b69

[2022-10-24 05:49] #2927 closed, assigned to bk201, TachunLin

[2022-10-24 06:34] bk201 opened #3019 "[Enhancement] Upgrade: enhance live-migration detection in the pre-drain phase"
**Is your feature request related to a problem? Please describe.**

We have trivial rules to detect non-migration VMs in the `upgrade_node.sh` script.
We need to adjust the rule after the v1.1.0 release.

**Describe the solution you'd like**

Some exceptions that we can still live-migrate VMs:
- We add a mutator to schedule VMs on nodes with a network plane (PR: https://github.com/harvester/harves

[2022-10-24 06:43] n313893254 opened #3020 "[BUG] Project member can not see the volume which is created by self"
**Describe the bug**

project member can not see the volume which is created by self

**To Reproduce**
Steps to reproduce the behavior:
1. Install Rancher v2.6.9
2. Import a master Harvester(10/24)
3. Go to the Harvester cluster
4. Log in as the admin user, create project "test", and add a project member for "test"
5. Log in as a project member, create a namespace "test"
6. Go to the Volume page a

[2022-10-24 06:51] TachunLin opened #3021 "[Enhancement] Upgrade stop at upgrading node3 stage, stuck in Pre-drained state"
**Describe the bug**

When upgrading from v1.0.3 to v1.1.0-rc3 with VLAN created, the upgrade stop at upgrading node 3
The node3 stuck in the `Pre-drainded` status
![image](https://user-images.githubusercontent.com/29251855/197462402-c4529e4b-4347-44fd-8424-e3c40e8f59d8.png)

* Node status
[code]

* Upgrade job status
[code]

* rancher logs
[code]

[code]

**To Reproduce**
Steps to reproduce the b

[2022-10-24 07:12] fanwei848859585 opened #3022 "[BUG]Harvester upload Centos ISO images failed"
Harvester upload Centos ISO images faild
![image](https://user-images.githubusercontent.com/116161823/197468093-9096fe07-d5f2-4232-a12a-de8c6f2631b7.png)

[2022-10-24 07:54] bk201 commented on #2917
We've updated RKE2 to v1.24.7, https://github.com/harvester/harvester-installer/pull/369.
To test the issue is verified:
- Create a cluster.
- Wait for 24 hours.
- Ensure VMs can still be created.

[2022-10-24 07:55] n313893254 opened #3023 "[BUG] Project member can not see the volume snapshots which is created by self"
**Describe the bug**

Project member can not see the volume snapshots which is created by self

**To Reproduce**
Steps to reproduce the behavior:

1. Install Rancher v2.6.9
2. Import a master Harvester(10/24)
3. Go to the Harvester cluster
4. Log in as the admin user, create project "test", and add a project member for "test"
5. Log in as a project member, create a namespace "test"
6. Go to the Vo

[2022-10-24 08:47] TachunLin commented on #3004
Verified **fixed** on `master-7b698413-head` (10/12). Close this issue.

### Result
* When one VM is created
![image](https://user-images.githubusercontent.com/29251855/197482909-baf7d1f4-4032-4180-bb88-22aac8b9a8bc.png)

* Only VM snap are created
![image](https://user-images.githubusercontent.com/29251855/197484294-46b89b29-78be-4d28-a33c-77aa525850a8.png)

* The count of volume snapshots should

[2022-10-24 08:48] #3004 closed, assigned to DaiYuzeng, TachunLin

[2022-10-24 09:07] tjjh89017 commented on #2961
## Test step

1. install harvester
2. switch to root shell
3. check "hwinfo" and "lsusb" commands is existing.

[2022-10-24 09:21] lanfon72 opened #3024 "[BUG] Node/Disk selector require all tags matched"
### Describe the bug
When use customized StorageClass with Node/Disk selector, tags need to full matched for the volume, otherwise it will NOT able to schedule the volume.

https://user-images.githubusercontent.com/5169694/197491241-ab3c0139-1d77-46ff-9847-32ee0a199698.mp4

Same problem on **Disk Selector**.

### To Reproduce
Steps to reproduce the behavior:
1. Install Harvester with at least 2 no

[2022-10-24 09:24] Eminos2 opened #3025 "[Question] 0/1 nodes are available"
Hi Guys, i am very new to Harvester.
I installed it on a Server and now i am trying to set up my first virtual Machine. But i keep getting that no nodes are available.
![image](https://user-images.githubusercontent.com/72886423/197493546-dacdb21f-bdd7-4d04-89af-b8581a2667d1.png)
![image](https://user-images.githubusercontent.com/72886423/197493727-6071b065-3333-4ab9-9810-66c7a999f5a7.png)

How can

[2022-10-24 09:34] w13915984028 commented on #3025
How is your Harvester cluster insalled, via ISO or `dev-mode` ?

And what is your VM's specification, cores, memeory, storage.

[2022-10-24 09:40] Eminos2 commented on #3025
Hi, it is installed via ISO.

VM: 2 Cores, 4 Gi Memory, 10 Gi Storage.

[2022-10-24 09:44] bk201 commented on #3021
Added a SB with YAMLs:
[supportbundle_280eb9a1-5735-4766-9ae5-b6075d91db1d_2022-10-24T08-25-09Z.zip](https://github.com/harvester/harvester/files/9850793/supportbundle_280eb9a1-5735-4766-9ae5-b6075d91db1d_2022-10-24T08-25-09Z.zip)

The node `n3-103upd` is upgraded, but the upgrade CR has the wrong node status:
[code]

[code]

From harvester pod log, we can see it's want to move the node from pre-d

[2022-10-24 09:51] lanfon72 opened #3026 "[BUG] Volume shows `Ready` but Longhorn shows `Not Ready`"
### Describe the bug
sub issue of #3024, when user use customized storage class, the volume created in Harvester dashboard and shows `Bound` and `Ready`, but in Longhorn dashboard, the volume is NOT ready for workload with _scheduling failure_.

### To Reproduce
Steps to reproduce the behavior:
1. Same as #3024

### Expected behavior
As we don't expect user to visit longhorn dashboard, Volume's st

[2022-10-24 10:09] w13915984028 commented on #3025
Please add a support bundle, thanks.

https://docs.harvesterhci.io/v1.0/troubleshooting/harvester/#generate-a-support-bundle

[2022-10-24 10:10] w13915984028 commented on #3025
And also a few pictures about the detail of the VM in Harvester WebUI, thanks.

[2022-10-24 10:38] Eminos2 commented on #3025
Hi thank you,
i tried several variations to create a VM, but i added screenshots of the last one.
![image](https://user-images.githubusercontent.com/72886423/197507519-fce7708d-7ab9-4840-a688-60b772df2295.png)
![image](https://user-images.githubusercontent.com/72886423/197507581-6d14658a-9282-4ac8-954f-f423b11c1365.png)
![image](https://user-images.githubusercontent.com/72886423/197507687-d76f4522

[2022-10-24 10:43] w13915984028 commented on #3025
@Eminos2 the `disk-0`, `defult/ubuntu-20.04-live-server-amd64.iso'  is not ready.

how did you add it? download from ubuntu website or upload from your local pc.

please add information of `kubectl get pods -A`  (ssh into the NODE, and `sudo -i` first) , it seems the `longhorn` CSI is not correctly working.

[2022-10-24 12:09] TachunLin commented on #2988
Verified **fixed** on `master-c72b4539-head` (10/24). Close this issue.

### Result
1. The available NICs in Harvester vlanconfig can match the actual ip link status of all NICs
  ![image](https://user-images.githubusercontent.com/29251855/197522182-eacf449d-761a-43ba-807d-1ee8008fcbb1.png)

[code]

2. When we bring up specific NICs on node, the vlanconfig UI can also reflect the latest changes
![

[2022-10-24 13:04] #2988 closed, assigned to yaocw2020, TachunLin

[2022-10-24 13:22] lanfon72 commented on #2957
Verified this bug has been fixed.

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-f96827b2-head**
* **ui-source** Option: **Auto**
* Terraform Harvester Provider version: **v0.5.3**

### Verify Steps:
- **Steps to reproduce** in https://github.com/harvester/harvester/issues/2957#issue-1411431956,
    relevant regression test cases and https://github.com/har

[2022-10-24 13:22] #2957 closed, assigned to lanfon72, futuretea

[2022-10-24 13:22] lanfon72 commented on #2979
Verified this bug has been fixed.

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-f96827b2-head**
* **ui-source** Option: **Auto**
* Terraformer Harvester version: **master-2ec0ee-head** (> v1.0.1-harvester)
* Terraform Harvester Provider version: **v0.5.3**

### Verify Steps:
- Follow **Steps to reproduce** in https://github.com/harvester/harvester/issues/

[2022-10-24 13:22] #2979 closed, assigned to lanfon72, futuretea

[2022-10-24 13:52] lanfon72 commented on #2917
reproducible on `v1.1.0-rc3`

[2022-10-24 14:13] TachunLin commented on #2734
### (PASS) Test plan4: Bond mode using Harvester config file

###
* First trial failed, `pending` at upgrade system service
![image](https://user-images.githubusercontent.com/29251855/197749187-7b9fa451-a898-4ec2-90d7-3b403c93aa2f.png)

#### Before upgrade: Use network config to bond multiple NICs (ipex-example)
1. Enable network on `harvester-vlan` bond interface
  ![image](https://user-images.gi

[2022-10-24 14:35] w13915984028 commented on #3025
@Eminos2

The below log shows that the free disk space is not enough. The vm-img (10Gib) is not ready. Not sure what has happened.

Were there many un-successful download in-between create-image ? or cancelled download.

[code]

[2022-10-24 15:18] bk201 commented on #2917
@lanfon72 Please try master or v1.1-head ISO. We bumped RKE2 last Friday.

[2022-10-24 15:59] w13915984028 commented on #2875
The detailed test steps about how to remove a node and how to add new / reinstall nodes.

https://github.com/harvester/harvester/issues/2665#issuecomment-1280711371

[2022-10-24 16:00] RegisWeduLabs commented on #2875
Thanks!

[2022-10-24 16:07] lanfon72 commented on #2917
Yeah, as this requires 24hrs to reproduce, I just make sure it was not fixed in RC3.

[2022-10-24 18:52] noahgildersleeve commented on #992
Tested in Harvester master-7b698413-head. I updated the test cases in https://github.com/harvester/tests/issues/529. Verified as working.

[2022-10-24 18:52] #992 closed, assigned to tlehman, mantis-toboggan-md, noahgildersleeve

[2022-10-24 19:32] irishgordo commented on #2964
Utilizing that libvirt xml virsh box definition, I was able to see the install complete with the kernel params given, also seeing those on the boot options through virt-manager.

https://user-images.githubusercontent.com/5370752/197610031-d85e49a2-4dd6-40e2-a1ef-f2a00d0488c6.mp4

Thanks for your help in helping to provide a way to test this @ibrokethecloud !
This looks good :+1: :smile:  - I'll go

[2022-10-24 19:32] #2964 closed, assigned to irishgordo, ibrokethecloud

[2022-10-24 19:41] noahgildersleeve commented on #2954
Verified while testing #992 with Harvester master-7b698413-head. Closing as fixed.

[2022-10-24 19:41] #2954 closed, assigned to tlehman, noahgildersleeve

[2022-10-24 21:19] irishgordo commented on #2941
@chrisho thanks for your work on this!
Validating on:
harvester-master-head-402df54b
This looks good.
As a small performance test I did:
[code]
And audited this:

https://user-images.githubusercontent.com/5370752/197631559-fb828714-576c-477d-ada2-7644abf7840b.mp4

This looks good :smile: :+1:  - I'll go ahead and close this out

[2022-10-24 21:19] #2941 closed, assigned to chrisho, irishgordo

[2022-10-24 23:37] tlehman opened #3029 "[FEATURE] Add GPU stats to VM metrics (if a supported GPU is enabled for PCI passthrough)"
**Is your feature request related to a problem? Please describe.**
Lack of visibility into the GPU Usage for a VM with PCI passthrough enabled.

**Describe the solution you'd like**
The cattle-monitoring-system should expose an API to both accept and return the GPU statistics.

**Describe alternatives you've considered**
sshing into the VM and using `nvidia-smi` to check the power and GPU cycle us

[2022-10-25 00:12] irishgordo commented on #3020
Thanks for the fix @WuJun2016 - I validated in Harvester Version: master-402df54b-head - w/ Rancher v2.6.9 that this looks good :smile: :+1:
I'll go ahead and close this out
![Screenshot from 2022-10-24 17-10-55](https://user-images.githubusercontent.com/5370752/197653311-c19548ec-f1af-49d9-af79-af7f40e9aef1.png)

[2022-10-25 00:12] #3020 closed, assigned to irishgordo, WuJun2016

[2022-10-25 01:17] guangbochen commented on #2950
Harvester upcoming v1.1 release will introduce the https://github.com/harvester/vm-import-controller to help to migrate VMs from another platform into Harvester, loop @ibrokethecloud to check if this is already implemented or can be taken as some reference or future enhancement, thanks.

[2022-10-25 01:17] guangbochen commented on #2949
Harvester upcoming v1.1 release will introduce the https://github.com/harvester/vm-import-controller to help to migrate VMs from another platform into Harvester, loop @ibrokethecloud to check if this is already implemented or can be taken as some reference or future enhancement, thanks.

[2022-10-25 01:17] FrankYang0529 commented on #2986
The root cause of this issue is that:
1. We call [`global.Setup`](https://github.com/harvester/harvester/blob/402df54b5c4db0cbda0e4ea46e9ca26ae4a873e4/pkg/server/types.go#L241), then [`settings.Register`](https://github.com/harvester/harvester/blob/402df54b5c4db0cbda0e4ea46e9ca26ae4a873e4/pkg/controller/global/setup.go#L15), then [`settings.SetProvider`](https://github.com/harvester/harvester/blob

[2022-10-25 02:31] ibrokethecloud commented on #3017
closing as its already being tracked.

[2022-10-25 02:31] #3017 closed, assigned to nobody

[2022-10-25 02:32] WuJun2016 commented on #2966
This message sometimes disappears suddenly (websocket push)
<img width="1104" alt="image" src="https://user-images.githubusercontent.com/24985926/197668222-336e4842-cee5-4a1b-a4ce-7220ece8b987.png">

[2022-10-25 02:43] TachunLin commented on #3003
Verified **fixed** on `master-c72b4539-head` (10/24). Close this issue.

### Result
1.  In Addons page, the `pcidevices-controller` config is named with `(Experimental)`
  ![image](https://user-images.githubusercontent.com/29251855/197665632-acdb3fb5-376d-4cb4-add9-89fcf535543f.png)
  ![image](https://user-images.githubusercontent.com/29251855/197665870-0ea74790-4669-4710-acee-653e0cabb3da.png)
2.

[2022-10-25 02:43] #3003 closed, assigned to ibrokethecloud, WuJun2016, TachunLin

[2022-10-25 03:30] WuJun2016 commented on #2460
We will make enhancements in this issue，  https://github.com/harvester/harvester/issues/1986 ， So I think we can close this issue.  @noahgildersleeve

[2022-10-25 04:12] futuretea commented on #3023
Additional test result:
Only "Cluster Owner" can see volume snapshots

[2022-10-25 05:16] averyfreeman commented on #2950
This is extremely helpful, thanks! 👍

[2022-10-25 05:29] bk201 opened #3030 "[Task] Harvester v1.1.0 release checklist"
**What's the task? Please describe.**
Action items for releasing v1.1.0 release

**Describe the items of the task (DoD, definition of done) you'd like.**
- [x] Update release note. https://github.com/harvester/release-notes/pull/18
- [x] Update upgrade-responder.
- [x] Support automatic upgrade from v1.0.3. https://github.com/harvester/docs/pull/217
- [x] Verify Rancher MCM feature with Rancher v2

[2022-10-25 07:10] bk201 commented on #2271
Close, the doc PR is merged.

[2022-10-25 07:10] #2271 closed, assigned to Vicente-Cheng

[2022-10-25 07:16] bk201 commented on #2970
Close, the doc PR is merged.

[2022-10-25 07:16] #2970 closed, assigned to tlehman

[2022-10-25 08:06] tjjh89017 commented on #2860
## Test step

It's not easy to test this issue in VM because we can not handle RTC hardware clock of a VM.

### Test 1 (correct NTP)
rancherd and rke2 should wait for time sync.

1. prepare 2 or more baremetal machines.
2. enter BIOS of both machines, and adjust time to the future (next year)
3. Install harvester with proper NTP server.
4. enter root shell, check system date with command "date"
5.

[2022-10-25 08:56] lanfon72 commented on #2982
Verified this bug has been fixed.

Scheduling rule added automatically when select specific network
![image](https://user-images.githubusercontent.com/5169694/197729616-a6fcda2e-42ba-469f-b6c1-9c297bef1a45.png)

Test Information
----
* Environment: **baremetal DL360G9 4 nodes**
* Harvester Version: **master-402df54b-head**
* **ui-source** Option: **Auto**

### Verify Steps:
- Follow **Steps to rep

[2022-10-25 08:56] #2982 closed, assigned to lanfon72, yaocw2020

[2022-10-25 09:04] lanfon72 opened #3032 "[FEATURE] Filter list of migration to match VM scheduling rules"
### The problem
based on #2982, when VM created with node scheduling rules, The **Migrate** list should not show other nodes not in scheduling rules.

### The solution
Filter out those nodes not match rules

### The Alternatives
Mark those nodes with `(Not in scheduling rules)`

[2022-10-25 09:06] DmitriZV opened #3033 "[Question] - How to test Harvester HCI using VirtualBox on Windows?"
Unable to work with Harvester HCI using VirtualBox.
During the work / testing of Harvester using VirtualBox (on a Windows computer) I encounter various errors / problems.
For example:
1) It was not possible to connect to Harvester using the "NAT + Only-Host" Internet settings, as in the instructions, only when I changed it to "Bridged" network
2) It was difficult to add OS images (only local files

[2022-10-25 09:33] lanfon72 commented on #2993
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/197738328-9cc2a070-22d5-4424-8e54-96efc34cb75b.png)

Test Information
----
* Environment: **baremetal DL360G9 4 nodes**
* Harvester Version: **master-402df54b-head**
* **ui-source** Option: **Auto**
* Rancher Version: **v2.6.9** (via Docker)

### Verify Steps:
- Follow **Steps to reproduce** in https://gi

[2022-10-25 09:33] #2993 closed, assigned to lanfon72, n313893254

[2022-10-25 10:38] w13915984028 commented on #2972
@starbops @bk201  any suggestion ?

[2022-10-25 10:49] w13915984028 commented on #2585
The issue is not updated/reported recently, and the farily possible root cause was identified and fixed. close now.

Feel free to reopen, thanks.

[2022-10-25 10:49] #2585 closed, assigned to nobody

[2022-10-25 10:54] w13915984028 commented on #2875
@RegisHubelia We will close this issue.

Feel free to re-open or fire new ones for any issues you encounter in the future, thanks.

[2022-10-25 11:01] w13915984028 commented on #1497
@lanfon72 Could you please add the detailed steps when reproducing it, thanks.  And are all steps listed below done?

https://docs.harvesterhci.io/v1.0/host/#deleting-a-node

[2022-10-25 11:12] w13915984028 commented on #3033
@DmitriZV   Did you try following in your Windows VirtualBox?

(1) Install Ubuntu in VirtualBox VM, create VM in this Ubuntu via `virsh` or `virt-manager` ?  (note: you need to enable `nested virtualization` in your PC/Server's BIOS)

(2) Install a couple of VirtualBox VM with Ubuntu or other Linux distro, then install k8s cluster on those VMs.

When those are well working, Harvester will be simil

[2022-10-25 11:41] #2875 closed, assigned to nobody

[2022-10-25 12:12] TachunLin commented on #2734
Verified **fixed** on `v1.1.0-rc3`. Close this issue.

### Result
Verified the VLAN upgrade enhancement can PASS the following test plans:
1. Test plan2: harvester-mgmt vlan1
2. Test plan3: enps0 NIC with valid vlan
3. Test plan4: Bond mode using Harvester config file

### Test Information
* Test Environment: 1 ~ 3 nodes Harvester cluster on bare machine and local kvm
* Harvester version: `v1.1.0-

[2022-10-25 12:12] #2734 closed, assigned to yaocw2020, TachunLin

[2022-10-25 13:02] DmitriZV commented on #3033
Thank you for your advice, I'll try it.

[2022-10-25 13:24] w13915984028 commented on #2042
@RHudsonH Is this issue solved? or how did you bypass it? thanks.

[2022-10-25 13:28] RHudsonH commented on #2042
I never did get it working. That issue along with a couple of other convinced me that Harvester just wasn't ready yet and I went with a different hypervisor for now. I'm keeping an eye on this project though because I really like the idea of it.

[2022-10-25 13:55] w13915984028 commented on #2042
Anyway, we can try to move it on together.

Which Harvester version did you used?

How about the resource capacity (cpu cores, memeory, storage) of you 2-NODE cluster ?

Harvester itself uses resources in each NODE, the VM to setup Rancher also takes resources, and the provisioned 3-NODE RKE2 cluster also needs resources for each of those 3 NODEs.

Not sure your resources are enough.

[2022-10-25 14:01] w13915984028 commented on #2045
@bk201 @tjjh89017 any idea? thanks.

[2022-10-25 14:02] w13915984028 commented on #2045
@rave-net Do you have futher update of this issue, thanks.

[2022-10-25 14:11] w13915984028 commented on #2781
It seems the `wipefs -a` can NOT fully wipe it. From following similar situation, they said

https://github.com/harvester/harvester/issues/2066#issuecomment-1078731977

https://github.com/harvester/harvester/issues/1813#issuecomment-1068674094

@MLaudren would you like to try such solution? thanks.

cc @bk201 @guangbochen @rebeccazzzz add the workaround to `troubleshooting` ?

[2022-10-25 14:17] RHudsonH commented on #2042
Each machine of the cluster had 8 cores (16 threads) and at least 32GB of RAM (one had 64GB). Both had a 500GB SSD for booting and a 1TB NVMe as additional storage.

This was on Harvester 1.0.0

The 3 node RKE cluster on VMs was given 4vcpu each and 8gb ram. Which are more resources than my current virtual RKE cluster

I think my issue was with the Harvester CSI driver not getting properly install

[2022-10-25 14:38] w13915984028 commented on #2042
@yaocw2020 Have you ever heared such issue? thanks.

[2022-10-25 14:43] w13915984028 commented on #2480
@belgaied2 Is this issue still existing?  Is it similar to `VirtOperatorDown` alert before? thanks.

[2022-10-25 14:44] w13915984028 commented on #2432
@bk201 @starbops Please double check if it is still in v1.1.0, thanks.

[2022-10-25 14:48] rave-net commented on #2045
This appears to have been resolved in 1.0.3.  I will retest 1.1.0rc3 on both my opteron kgpe-d16 and phenomII x6 systems tonight

[2022-10-25 14:50] w13915984028 commented on #2515
@cai648971528 Could you add more information, thanks.

Harvester Version.
Installation in baremetal server or virtual machine, hardware resource capaciy (cpu cores, memory, storage)
ISO mode installation or `dev-mode`.
Are there more logs when failures happen? Please also add them.

[2022-10-25 14:54] w13915984028 commented on #2544
@Captured77  Not sure if you follow the guide of    https://docs.harvesterhci.io/v1.0/dev/dev-mode/

In step 9, it says:
[code]

[2022-10-25 14:55] w13915984028 commented on #2534
@Captured77 Is this duplicated with https://github.com/harvester/harvester/issues/2544 ?

[2022-10-25 14:58] w13915984028 commented on #2544
As of `Harvester` V1.1.0, it is strongly recommended to use `ISO`/`PXE` mode to install the full set of `Harvester`. Thanks.

https://docs.harvesterhci.io/v1.0/install/iso-install

[2022-10-25 15:03] bk201 commented on #2735
The doc PR https://github.com/harvester/docs/pull/216 is merged.

[2022-10-25 15:03] #2735 closed, assigned to yaocw2020

[2022-10-25 15:04] bk201 commented on #2724
The doc PR: https://github.com/harvester/docs/pull/212 is merged

[2022-10-25 15:04] #2724 closed, assigned to w13915984028

[2022-10-25 15:06] bk201 commented on #2432
@FrankYang0529 This is fixed in https://github.com/harvester/harvester/pull/2918. Please help add a test plan. Thanks!

[2022-10-25 15:49] guangbochen commented on #2917
Verified with the mater-head build using commit [380ddce](https://github.com/harvester/harvester/commit/380ddce19052b64cb93e5f5a17ab43db3b71f26b), the cluster CNI and kubelet is still function well after 24 hrs, moving this to v1.1.1 and QA can have a double-check on it, thanks.

[2022-10-25 15:49] janeczku opened #3037 "[ENHANCEMENT] Guest cluster VLAN should not require connectivity to the Harvester VIP"
**Is your feature request related to a problem? Please describe.**
Currently, the Harvester Cloud Provider only works if the VLAN network configured for the guest cluster provides connectivity to the Harvester Management VIP address.
This is because the cloud provider controller pod needs to query the Harvester API to obtain VM metadata.

This is problematic since allowing application networks to

[2022-10-25 18:27] jcambronero commented on #2821
Hi @w13915984028, this Harvester cluster is managed by Rancher.
I'm not seeing any immediate issues there. The cluster looks active. Anything specific I should be looking for?

[2022-10-25 20:41] noahgildersleeve opened #3038 "[BUG] Sometimes IP in VM list goes away after SSH connection"
**Describe the bug**

When making an SSH connection to a VM sometimes the IP disappears from the VM list in the virtual machines list in Harvester
**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Harvester
2. Create a VM with an external network
3. SSH into the VM

**Expected behavior**

The IP address shouldn't disappear
**Support bundle**

[supportbundle_50bda580-68a4-4176-9b5e-6c2e71

[2022-10-25 20:57] noahgildersleeve commented on #2996
Tested in Harvester v1.1.0 and Rancher v2.6.9. Verified as fixed.

[2022-10-25 20:57] #2996 closed, assigned to n313893254, noahgildersleeve

[2022-10-25 23:18] lkoba opened #3039 "[BUG] Adding a third node mades the second one to fail"
**Describe the bug**
When adding a third node the second one starts failing. SSHing into the failing node shows that a promotion was triggered by the cluster and it failed. rke2 agent is down and rke2 server fails to start.

![image](https://user-images.githubusercontent.com/168509/197899333-b73b0d7a-8758-4625-827d-485e59ff7074.png)

![image](https://user-images.githubusercontent.com/168509/197899

[2022-10-26 00:56] starbops commented on #3021
I once encountered this same issue upgrading from v1.0.3 to v1.1-head and collected the logs with rancher-logging from the very beginning of the upgrade (but didn't enable debug mode on harvester).

All logs: [all-upgrade-log.csv](https://github.com/harvester/harvester/files/9865044/all-upgrade-log.csv)
From the beginning of node-2 pre-drain job was started: [upgrade-log.csv](https://github.com/ha

[2022-10-26 03:48] starbops opened #3040 "[BUG] The upgrade version check does not handle prerelease cases"
**Describe the bug**

Users reported in #3044 the upgrade from v1.1.0-rc3 to v1.1.0 will fail with the following message:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Prepare a v1.1.0-rc3 Harvester cluster with any number of nodes
2. Kickstart the upgrade to v1.1.0
3. The upgrade should fail in the early stage complaining "The current version v1.1.0-rc3 is less than the minimum up

[2022-10-26 04:09] starbops commented on #3040
In the case of upgrading from prerelease versions, either we block such behaviors or let users take the risks doing that.

Regardless of either case, we need to warn the users, both on the documentation and the UI.

[2022-10-26 04:58] irishgordo commented on #2907
@FrankYang0529  - sorry for the late reply :sweat_smile:  - here's the issue for number 8:
https://github.com/harvester/harvester/issues/3001

[2022-10-26 05:41] bk201 commented on #3039
@lkoba Could you provide logs on the `harvester-2` node? Thanks!
- /var/lib/rancher/rke2/agent/containerd/containerd.log
- /var/lib/rancher/rke2/agent/logs/kubelet.log

[2022-10-26 06:44] lanfon72 commented on #2917
Verified this bug has been resolved.

Tested on `v1.1-47710e8a-head` (1.4 days ago), `master-402df54b-head` (1 days ago), VM started successfully, webVNC and network connectivity work as normally.

[2022-10-26 06:44] #2917 closed, assigned to bk201, lanfon72

[2022-10-26 07:19] bk201 commented on #2972
@try2codesecure Somehow, the support bundle doesn't contain the YAMLs files. Could you help dump:
[code]
And plan secrets. `kubectl get secrets  -n fleet-local --selector=cluster.x-k8s.io/cluster-name=local -o yaml` (Suggest DM me).

[2022-10-26 08:08] vickyhella opened #3042 "[Doc] Add API docs"
We need to add the API reference pages to the new Docusaurus-based site.

I suppose we can use [this plugin](https://github.com/PaloAltoNetworks/docusaurus-openapi-docs) (or some better solutions) to implement this, but the API config files need to be reconfigured accordinlgy.

[2022-10-26 08:11] W0n9 opened #3041 "[BUG] stuck at "Upgrade system services" from v1.0.3 to v1.1.0 upgrading progress"
**Describe the bug**

In a progress that upgrade from v1.0.3 to v1.1.0, I stuck at "Upgrade system services" for a long time( about 3 hours).
![image](https://user-images.githubusercontent.com/38560218/197971033-0067ab5e-80b4-4bef-99df-3e9d61f70748.png)

Here is my upgrade status:
[code]

Here is my log of `jobs/hvst-upgrade-fnlkm-apply-manifests`:
[code]

I have even tried some commands from http

[2022-10-26 08:41] w13915984028 commented on #3040
It is discussed in https://github.com/harvester/harvester/pull/2829#discussion_r987636298,

`v1.1.0` is lexically < `v1.1.0-rc*`

And @bk201 created an issue: https://github.com/harvester/harvester/issues/2877  [FEATURE] Upgrade path: tool to do semantic version comparison

[2022-10-26 09:20] w13915984028 commented on #3041
How about the resource of each NODE? CPU cores,memory and storage.

The v1.1.0 needs more resources ( 12+ cores each node ) .

[2022-10-26 09:32] Martin-Weiss commented on #3041
My upgrade is stuck in exactly the same situation. For some reason the upgrade pod states that it wants to upgrade Rancher but I can not find why the helm deployment did not get upgraded. Where can we check what the failure is / what the upgrade pod is waiting for?

[2022-10-26 09:35] w13915984028 commented on #1891
Similar with   https://github.com/harvester/harvester/issues/2885

`... while downloading the CA certificate .... 403 Forbidden`

This issue report
[code]

[code]

[2022-10-26 09:38] lanfon72 commented on #1497
@w13915984028 same as https://github.com/harvester/harvester/issues/1497#issuecomment-982487682

[2022-10-26 09:40] lanfon72 commented on #1497
Not reproduced in `v1.1.0` (qemu/KVM), but file `/etc/rancher/rke2/config.yaml.d/50-rancher.yaml` still available.

A cluster with 3 nodes:
- [x] delete node 3 (last node)
- [x] delete node 2 (node in the middle)
- [x] delete node 1 (first node)

[2022-10-26 09:41] w13915984028 commented on #3041
@Martin-Weiss Do you have related logs?
cc @bk201 @starbops

[2022-10-26 09:45] bk201 commented on #3030
Close, The POC doc is tracked in https://github.com/harvester/harvester/issues/2840

[2022-10-26 09:45] #3030 closed, assigned to bk201

[2022-10-26 09:45] Martin-Weiss commented on #3041
@w13915984028  - which logs do we need to look into exactly?

Here a supportbundle:

[supportbundle_0ed34b76-5048-40e2-a2ac-da9798f550fb_2022-10-26T09-42-35Z.zip](https://github.com/harvester/harvester/files/9868227/supportbundle_0ed34b76-5048-40e2-a2ac-da9798f550fb_2022-10-26T09-42-35Z.zip)

[2022-10-26 09:59] W0n9 commented on #3041
Per Node Spec is 64C64G with 2x 512G SSD

[2022-10-26 10:29] bk201 commented on #3041
@W0n9 Did you have some fail-to-joined nodes before? From Rancher's log, rancher is provisioning two ghost machine:

[code]

You can check the machine list with the command, and I guess two of them don't have a `PROVIDERID`.
[code]

[The upgrade script is waiting for the cluster to become "Provisioned"](https://github.com/harvester/harvester/blob/a4872361145e0d0b99c4afeb6052f344acd48f30/package/up

[2022-10-26 10:42] w13915984028 commented on #2085
@klinux  Is this issue solved later ?

And, do you have more details:
The Harvester version;  installed from ISO/PXE or `dev-mode`
The cluster scale, how many nodes and roughly resources in each node (cpu cores, memory, storage)

The log from the related POD which hold the VM. thanks.

[2022-10-26 10:43] bk201 commented on #3041
@Martin-Weiss Your cluster has a similar situation, except Rancher is waiting for a node to be uncordoning:
[code]
The cluster is upgraded from v1.0.0 -> v1.0.1 -> v1.0.2 -> v1.0.3 and then to v1.1.0. The Upgrade resources look good, but did you encounter any failures before? Please dump machine plan secrets and DM to me if possible (secrets are not captured in the support bundles):
[code]

[2022-10-26 10:45] w13915984028 commented on #2810
@futuretea Do you have new updates of this issue? thanks.

[2022-10-26 10:48] Martin-Weiss commented on #3041
I have realized that the node harvester2 went into "cordoned" but I can not say way.

[code]

I did a manual uncordon but after some time it has been cordoned, again.

Not that I can remember.

DM send..

[2022-10-26 10:55] bk201 commented on #3041
@Oats87 Is it possible to "cancel" an in-provisioning cluster? I guess in Martin's case, he might need to manually pre-drain/post-drain nodes and settle down the cluster. But just wonder if we can skip this.

[2022-10-26 11:10] W0n9 commented on #3041
I have checked the machine list, there indeed 2 machines under provisioning, but I didn't find it until today.
I deleted these 2 machines and the upgrade progress seems continue again.

[2022-10-26 11:20] Martin-Weiss commented on #3041
@bk201 - what do you mean with manually pre-drain/post-drain and settle down the cluster? How can I do that?

[2022-10-26 12:12] W0n9 opened #3043 "[BUG] Network config lost during upgrade from v1.0.3 to v1.1.0"
**Describe the bug**

In upgrade progress, after the first node reboot, I found that I lost the network connection to this node and got an error at harvester GUI `Host IP are inconsistent`.
![image](https://user-images.githubusercontent.com/38560218/198021891-f2da242c-428f-45e1-95e6-4e9c842f5ec5.png)
And then, I found that I have lost **all** network scripts in `/etc/sysconfig/network`.
![image](h

[2022-10-26 12:14] W0n9 commented on #3041
The upgrade progress continue again, but it raised a new problem. #3043

[2022-10-26 12:33] Martin-Weiss commented on #3043
I have exactly the same problem - installed with 1.0.3 and upgraded to 1.1.0 - first node got rebooted and now is stuck here without network:

![grafik](https://user-images.githubusercontent.com/13362573/198026988-a8a7820f-4933-4330-a11d-36f8a581963a.png)

[2022-10-26 12:34] w13915984028 commented on #3039
@lkoba As you mentioned  `When the third node is added the second node will get cordoned when the promotion is triggered and then kubelet stops responding.`,

Is the `the promotion is triggered` triggered automatically or manually from the WebUI ?

[2022-10-26 13:41] lkoba commented on #3039
@bk201

[harvester-2-logs.tar.gz](https://github.com/harvester/harvester/files/9869974/harvester-2-logs.tar.gz)

@w13915984028

it's triggered automatically.

[2022-10-26 14:01] bk201 commented on #3043
Related issue: https://github.com/harvester/harvester/issues/2962
cc @guangbochen @ibrokethecloud

[2022-10-26 14:06] bk201 commented on #3043
@tjjh89017 Do you know if any OS change could lead to this?

[2022-10-26 14:14] tjjh89017 commented on #3043
I don't think OS will cause this problem.
Could you provide /oem/99_custom.yaml and /oem/99_custom.yaml.<TIMESTAMP> for us to debug?
Thanks a lot

[2022-10-26 14:18] Martin-Weiss commented on #3043
Send you a PM with a link to my supportbundle - is this sufficient?

[2022-10-26 14:18] abonillabeeche opened #3044 "[BUG] Harvester version control on upgrades"
**Describe the bug**
Versions should be defined as approved for the air-gapped upgrade procedure.

**To Reproduce**
Steps to reproduce the behavior:
1. Create air gapped upgrade config
2. use version 1.1.0-rc3
3. The version is accepted but the upgrade match is later discarded.

**Expected behavior**
A version that is acceptable/approved should be documented/specified in the upgrade documentation

[2022-10-26 14:20] tjjh89017 commented on #3043
You could send it to me first. Let me check it.
But I think the better way is using Linux command to connect the server and then SCP those files to me

[2022-10-26 14:26] guangbochen commented on #3043
@W0n9 can u check if the following workaround would mitigate the issue in your env, thanks
1. ssh to the `harvester0` node
2. run `sudo su` and  create a config file under the `/usr/local/lib/sysctl.d/` path.
[code]
3. reboot the node and check if the IPv4 is resumed
4. follow the same steps for all of your nodes if it works

[2022-10-26 14:32] bk201 commented on #3041
@Martin-Weiss There are some helper scripts: https://github.com/bk201/misc/tree/main/rancher
But this needs some knowledge of plan secrets. Do you already pass this stage?

[2022-10-26 14:52] tjjh89017 commented on #3043
@W0n9 Do you use harvester-mgmt as VLAN network interface?
and provide `cluster_networks` config in deploy stage

[2022-10-26 15:00] ghadeb commented on #3043
Hi guys, I'm having a similar issue, but with a fresh install.

The network is accessible from the mgmt interface, but from the internal scope, there's no communication. I'm literally looking at the console dmesg now and the last messages I see are all related to IPv6, with a bpfilter started message just previous of that, and I can't progress from the "harvester host is being setup" page.

Anythi

[2022-10-26 16:04] janeczku opened #3046 "[BUG] Upgrading a 3-node cluster to 1.1.0 stuck indefinitely"
**Describe the bug**

While upgrading a 3-node cluster from 1.0.3 to 1.1.0 the upgrade process becomes stuck indefinitely in the "pre-drain" job for the first node.

Pre-Drain Job Pod:

[code]

The volume is from the Prometheus deployment:

[code]

Longhorn Manager logs endlessly repeating:

[code]

There is an existing issue describing the problem of the Prometheus volume never recovering: https:

[2022-10-26 16:08] tjjh89017 opened #3047 "[BUG] migrate_harv_mgmt_to_mgmt_br.sh should remove ClusterNetwork resource"
**Describe the bug**

migrate_harv_mgmt_to_mgmt_br.sh should remove ClusterNetwork reousrce to avoid migration again.
If users deploy Harvester v1.0.3 with cluster_networks option and value is "harvester-mgmt".
migrate_harv_mgmt_to_mgmt_br.sh will be executed over and over again

**To Reproduce**
Steps to reproduce the behavior:
1. Install harvester v1.0.3 with cluster_networks option and value is

[2022-10-26 16:16] janeczku commented on #3046
The LH volume resource:

[code]

[2022-10-26 16:19] janeczku commented on #3046
Workaround:

Edit the Longhorn volume resource and change `numberOfReplicas: 3` to `numberOfReplicas: 2`

Result:

[code]

Upgrade unblocked.

[2022-10-26 16:59] megabreit commented on #1873
Same issue with v1.1.0 GA inside of Virtual Box.

[2022-10-26 18:25] lenkeybalis commented on #2069
Hi all,

Is there any new information about this problem? Today I tried to install it with v1.1.0 version, but the situation is same for me as well,

Thank you!

[2022-10-26 18:35] janeczku commented on #3046
You will have to repeat the workaround for two additional volumes (grafana and alertmanager pvc):
[code]

[2022-10-26 18:44] w13915984028 commented on #3046
cc @bk201 @starbops
<del>
@janeczku Seems 3-node is a tricky number. When ONE nodes is drained, the LH volume needs another alternative NODE to hold the traditional `3-replicas`, but the system can not meet this.
4+ nodes cluster will have no this issue.   (another issue https://github.com/harvester/harvester/issues/2907 is solved by a related workaround)
</del>

update the suspection:

This prome

[2022-10-26 18:47] janeczku commented on #3046
Upgrade was also blocked by `upgrade-repo-hvst-upgrade-52qzw-disk-0` volume having 3 replicas.

[2022-10-26 18:49] janeczku commented on #3046
Interestingly this issue did not exist when upgrading from 1.0.2 to 1.0.3 on same 3-node cluster @w13915984028

[2022-10-26 19:08] w13915984028 commented on #3046
Technically, it is because in v1.1.0, the `upgrade_node.sh` will check `longhorn volume`, but in previous version, it does NOT. @janeczku  @bk201

v1.0.3 (execute when v1.0.2 upgrade to v1.0.3)
https://github.com/harvester/harvester/blob/v1.0.3/package/upgrade/upgrade_node.sh#L201

v1.1.0 (execute when v1.0.3 upgrade to v1.1.0)
https://github.com/harvester/harvester/blob/master/package/upgrade/upg

[2022-10-26 19:18] w13915984028 commented on #2907
The root cause of this issue, may be related to Rancher Planner, which selects `etcdTier`, `controlPlaneTier` nodes in parallel.

https://github.com/rancher/rancher/issues/39167#issuecomment-1291791590

double-checking with Rancher.

[2022-10-26 20:11] try2codesecure commented on #2972
served on slack ;)

[2022-10-26 21:47] RegisWeduLabs opened #3048 "[Question] - upgrade from 1.0.3 to 1.1.0"
Hi,

Seeing the few issues that has come up since the 1.1.0 release, I guess it's probably better to wait a bit and for production environment.

Will there be another patch release that would include the few fixes in the coming days/weeks?

Thanks
Regis

[2022-10-26 22:30] KyleSponz commented on #2951
Hi @w13915984028 sorry for the delay, we had a hardware failure that took me away from this part
The cluster is 3 identical nodes
64 core
252 gb ram
12tb each of storage
dual 10gb nics
______________________

kubectl get pvc -A -o YAML
apiVersion: v1
items:
- apiVersion: v1
  kind: PersistentVolumeClaim
  metadata:
    annotations:
      pv.kubernetes.io/bind-completed: "yes"
      pv.kubernetes.i

[2022-10-26 22:43] ibrokethecloud commented on #2651
The issue is caused as images are taking too long to load, likely in part due to slower media and also increase in the number of images now being packaged into the installer.

The rke2 supervisor waits for 30mins before shutting down the process, which is what causes the containerd.sock error.

https://github.com/rancher/rke2/blob/master/pkg/rke2/spw.go#L25

We could possibly add retry logic in th

[2022-10-27 01:47] W0n9 commented on #3043
In v1.0.3, I use harvester-mgmt(bond-alb eno0 and eno1) for Management Network, And harvester-vlan(bond-alb eno2 and eno3) for VLAN Network.
Finally, I did not notice `cluster_networks` config in upgrade progress, can you share where it should be?

[2022-10-27 01:51] W0n9 commented on #3043
I have tried this, but it doesn't recover.
I think the network configuration file was lost during the upgrade.

[2022-10-27 02:05] futuretea commented on #2810
I will try to handle disk resize in vm controller.

[2022-10-27 03:15] FrankYang0529 commented on #571
Hi @yasker, this issue is similar to VM Snapshot (https://github.com/harvester/harvester/issues/553), but you said `VM clone is another way to solve a similar problem, but it won't work once all the copies are down.` I am curious what does `all the copies are down` mean here?

We use CSI snapshot for VM snapshot, so we rely on mounted volumes when we restore a VM. Do you want to create VMImage for

[2022-10-27 03:23] bk201 commented on #3046
@janeczku Correct. We add volume health check in this version to ensure data availability. In the previous versions, the controller just continue on next node without checking.

[2022-10-27 03:49] midhunthampi opened #3049 "[Need Shareable disk option in Harvester]"
**Is your feature request related to a problem? Please describe.**
We are working onto create RAC cluster on harvester, which need to share the disks with all VM's in that cluster. We tried to find that feature in harvester but couldn't help it.

**Describe the solution you'd like**
We need to create VM disks, which need to be shared with other VM's. It something multi writting option

[2022-10-27 03:52] midhunthampi commented on #2619
After updating these parameter to high value - fs.aio-max-nr, We could able to create more VM's in the cluster

[2022-10-27 03:52] midhunthampi commented on #2619
You can close this issue.

[2022-10-27 03:52] #2619 closed, assigned to nobody

[2022-10-27 03:56] midhunthampi opened #3050 "[Need Static IP assignment with terraform]"
We are trying to provision VM's through terraform. We are using cloudinit config to create the static IP but its not working it.

We are using below code to provision the static IP but it's not giving any error during terraform apply but its not creating the network..

  cloudinit {
    user_data    = <<-EOF
      #cloud-config
      package_update: true
      packages:
        - qemu-guest-agent

[2022-10-27 04:24] PearceDuan commented on #2651
same problem with IPMI over Wireless-LAN

[2022-10-27 04:51] tjjh89017 commented on #3043
@W0n9 Could you try this workaround step?
https://github.com/harvester/harvester/issues/3045#issuecomment-1292685394

[2022-10-27 05:22] guangbochen commented on #3048
Yes, a patch release of v1.1.1 will be scheduled and support upgrading from the previous v1.0.3 version. The date is not confirmed yet, but please keep an eye on the [releases](https://github.com/harvester/harvester/releases), thanks.

[2022-10-27 05:35] rajesh1084 commented on #3039
[supportbundle_e0c89d97-df4a-47cd-820b-554fc23bcc38_2022-10-27T05-29-56Z.zip](https://github.com/harvester/harvester/files/9876059/supportbundle_e0c89d97-df4a-47cd-820b-554fc23bcc38_2022-10-27T05-29-56Z.zip)

Repeat of this issue.

[2022-10-27 06:21] Martin-Weiss commented on #3050
What OS Image do you use and what do you see in the cloud-init logs? Why are you using version 1?

This works for me:

[code]

[2022-10-27 06:43] Martin-Weiss commented on #3041
What so you mean with "this stage"?

This is the status I have:
![grafik](https://user-images.githubusercontent.com/13362573/198204745-2e6c4131-98d0-4abd-a16b-b282fabcb238.png)

![grafik](https://user-images.githubusercontent.com/13362573/198204798-20cf1a98-8b5e-4224-bcd7-3c27039052fe.png)

![grafik](https://user-images.githubusercontent.com/13362573/198204932-10acd415-070f-44bf-b9cc-c680404c88c1.

[2022-10-27 06:47] guangbochen commented on #842
close as this is resolved by the https://github.com/harvester/harvester/issues/2147

[2022-10-27 06:47] #842 closed, assigned to WuJun2016

[2022-10-27 06:48] guangbochen commented on #1176
close as this is no longer reproducible with the v1.1.0 version.

[2022-10-27 06:48] #1176 closed, assigned to nobody

[2022-10-27 06:51] midhunthampi commented on #3050
@Martin-Weiss

Thanks for reply. We are using Oracle Linux platform and i was getting config mismatch error in cloudinit log.

I changed my code into version 2 as per above and it got worked.

Thanks for helping it.

[2022-10-27 08:55] Martin-Weiss opened #3051 "[BUG] Console Login via "f12" does not work on v1.0.3 with password set during auto-installation"
**Describe the bug**
Can not login on the console - password does not work:

![grafik](https://user-images.githubusercontent.com/13362573/198239101-584525b7-28d2-4534-a283-b1cefa9ee034.png)

Realized this during the upgrade 1.0.3 to 1.1.0 when we had to access the console due to broken network upgrade issue (two bond slaves).

When switching to other console with ctrl-alt-f2 we can login as user r

[2022-10-27 09:25] dmytrobabeshko opened #3052 "[FEATURE] Storage Tiering support of the Harvester CSI Driver"
Hello,

Storage tiering was introduced in Harveser v1.1.0 recently https://github.com/harvester/harvester/issues/2147

Currently, the `harveste-csi-driver` doesn't have the option to have several storage classes which are bound to different storage classes in the harvester.

Currently, the name of the storage class used by the driver is taken from env variable from `harvester-csi-driver-pod`.
http

[2022-10-27 10:20] RegisWeduLabs commented on #3048
Thank you!

[2022-10-27 10:28] guangbochen commented on #3048
reopen and keep it as a reference for our community users, will close once the v1.1.1 is released, thanks.

[2022-10-27 10:29] guangbochen commented on #3052
this is a known limitation of the v1.1.0 version, we will consider adding support in its future releases, and transfer the issue to the harvester repo.

[2022-10-27 10:31] w13915984028 commented on #3040
cc @guangbochen

[2022-10-27 10:34] w13915984028 commented on #2911
note: This issue exists in Longhorn old version. It may also affect Harvester v1.0.0, v1.0.1, v1.0.2, v1.0.3

[2022-10-27 10:52] RegisWeduLabs opened #3053 "[Question] (Discussion/Opinion) - Current Upgrade system sustainable?"
Hi,

I've been watching Harvester for the last few months now, and also have a production cluster up and running.

It is such a great product in so many different aspects.

That said, looking at the upgrade experience for some users, I don't think it is sustainable on the long term for production environments...

I'm just thinking out loud here, but:

Harvester is a combination of different concep

[2022-10-27 11:09] dmytrobabeshko opened #3054 "[Question] Storage tiering - non migratable storage class"
Hello,

The question related to the new storage tiering feature.
I created a new storage class with `Migratable=false` parameter.
- A new volume is provisioned using this new storage class in the harvester.
- This storage class is specified for VM image (A new VM is provisioned using this image. From Harvester UI or from rancher RKE2 node driver)
- New volume is provisioned from downstream RKE2 cl

[2022-10-27 11:20] janeczku opened #3055 "[BUG] Starting over a failed 1.1 upgrade gets stuck indefinitely"
**Describe the bug**
After a failed initial upgrade (the upgrade failed during post-drain of 2nd node) , i started over the upgrade following the documentation: https://docs.harvesterhci.io/v1.1/upgrade/troubleshooting#start-over-an-upgrade

The second upgrade process gets stuck in the following state:

![image](https://user-images.githubusercontent.com/3813921/198270082-8520ae1a-be5e-4af6-b37e-79

[2022-10-27 11:23] W0n9 commented on #3043
It seems work for me.
Network recovered.

[2022-10-27 11:57] Martin-Weiss opened #3056 "[BUG] Upgrade UI - can not be scrolled down"
**Describe the bug**
Upgrade Harvester 1.0.3 with a cluster having "many" nodes (in our case 16) and try to monitor the status with the UI.
Here we see this:
![grafik](https://user-images.githubusercontent.com/13362573/198277937-2ebbb1e5-bd19-4902-bae5-bff2f7bcb84b.png)

-> we can not scroll down to see the lower nodes.

**To Reproduce**
See above screenshot during upgrade and try to scroll down i

[2022-10-27 12:01] Martin-Weiss opened #3057 "[BUG] Documentation: Add info on whats new for create/join.yaml for 1.0.3 vs. 1.1.0"
**Describe the bug**
We have to adjust the existing create/join.yaml files when upgrading from 1.0.3 to 1.1.0 to have a working way for disaster recovery and cluster expansion.
So we need to know what got changed and what got added and we need examples for that.

**To Reproduce**
After upgrade to 1.1.0 reinstall a node with the existing yaml files / add a node with the existing yaml files.
Try to

[2022-10-27 12:31] Martin-Weiss commented on #3057
The whats new section should also cover the major change regarding VM network configuration - **https://docs.harvesterhci.io/v1.1/networking/clusternetwork#custom-cluster-network**

[2022-10-27 13:21] Martin-Weiss opened #3058 "[BUG] in the Design? Preloading images vs. Cloud-Native vs. Disk Capacity vs. Speed of Upgrades vs. ISO size"
**Describe the bug**
Harvester is using a way to preload all required images on all nodes into the container runtime.

This is causing several challenges:
- not cloud-native as not every node needs all images and images should be downloaded only if needed
- disk space required in /usr/local grows with every release and upgrade and we can not increase the size of /usr/local after deployment
- seque

[2022-10-27 13:23] w13915984028 opened #3059 "[FEATURE] Optimize upgrade `image preloading`"
**Is your feature request related to a problem? Please describe.**

Currently, the `image preloading` will happen in `NODEs` one by one, for massive-node cluster, it takes long time.

**Describe the solution you'd like**

Preload image to nodes in parallel.
Or allow user to set up an image registry outside of cluster, images will be fetched on demand.
Also consider to allow user to select  `one-by

[2022-10-27 13:24] Martin-Weiss commented on #3059
See also https://github.com/harvester/harvester/issues/3058

[2022-10-27 13:24] w13915984028 commented on #3059
duplicated with https://github.com/harvester/harvester/issues/3058

[2022-10-27 13:28] w13915984028 commented on #3058
For small scale cluster, and develop/test cluster, the in-cluster pre-loading-images reduces the dependency.

On the other hand, `independent registry` is useful for large scale deployment and ISO/RELEASE management.

[2022-10-27 13:29] w13915984028 commented on #3058
cc @bk201 @starbops

[2022-10-27 13:42] Martin-Weiss commented on #3058
Not sure about the current dependencies - at the moment we put the ISO in a longhorn volume and from there download the images via ?http to the local nodes container runtime filesystem - so instead of this two step process having a self hosted registry might be even easier with less dependencies and especially less disk space capacity requirements.

What is the definition of small vs. large? 1 nod

[2022-10-27 15:17] bk201 commented on #3041
Never mind, the cluster has already passed the "Updating system services" stage (phase). Thanks.

[2022-10-27 15:45] Martin-Weiss commented on #3041
Sure - but my cluster still does not continue..

[2022-10-27 18:00] irishgordo commented on #3040
:eyes: - looking into this

[2022-10-27 18:21] noahgildersleeve commented on #3043
This looks like possibly the same issue as #3045

[2022-10-27 19:39] irishgordo opened #3060 "[BUG] Failed to start Rancher Kubernetes Engine v2 (server)"
### Describe the bug
**NOTE: this happens very rarely in testing - low impact - eventually node resolves itself**
On a create node, very rarely, tested 5 times, I did encounter however the create-node throwing a temporary error:
[code]
I think this is very rare to reproduce.

### To Reproduce
( this can not consistently be reproduced )
Steps to reproduce the behavior:
1. Provision a create-node, o

[2022-10-27 21:31] tlehman commented on #2960
Since #3003  is closed, can we close this issue?

[2022-10-27 22:08] albertkohl-monotek commented on #2936
@w13915984028  any feedback on the time issue?

[2022-10-27 22:09] irishgordo commented on #3039
@rajesh1084 @lkoba I am able to reproduce the issue easily.
Environment:
- Harvester Version: v1.1.0
- Infra: qemu/kvm, 8-10C & 16-18GiB Mem on each node

Attaching a lot of files, if any kubelet - journalctl - or containerd logs from the second node help:

(the video is sped up)

https://user-images.githubusercontent.com/5370752/198406663-c7d96461-caf5-4e6b-a487-2eac64df6bd7.mp4

(logs)
[node-2-k

[2022-10-27 22:58] irishgordo commented on #3001
Noticing this again today as well during upgrade:
[code]

[2022-10-27 23:24] irishgordo commented on #3040
This can be easily reproduced on `rc-3` for instance.
[code]

Though, I can not get the work-around to work.
Variants I've tried have been:
1. Process A:
   - delete the resourced created, `kubectl delete -f`
   - delete the upgrade in K9s
   - edit the settings.harvesterhci.io server-version, to `v1.1.0` no `-rc*`
   - create the resource, retry upgrade
1. Process B:
   - delete the resourced cre

[2022-10-28 00:46] guangbochen opened #3061 "[FEATURE] Bump support-bundle kit version"
**Is your feature request related to a problem? Please describe.**
Bump the support-bundle-kit to a newer version to align with go 1.18 and k8s client-go v1.23.x

https://github.com/rancher/support-bundle-kit

[2022-10-28 01:45] irishgordo commented on #3041
On a single node cluster that had HDDs not SSDs.
Prior to the upgrade I had set:
[code]
then:
[code]
then:
[code]
Prior to starting the upgrade.  Since the disks are slow.  On a single-node, upgrades seem to perhaps not be as effected and the upgrade seems to finish without problem.
I will look into a multi-node bare-metal next and update the thread.

[2022-10-28 02:50] guangbochen commented on #2960
would prefer to filter out those harvester-owned devices on the UI by labels, so it will prevent wrong operations from bringing down/damaging the cluster.

[2022-10-28 02:51] guangbochen commented on #3050
close as this is resolved.

[2022-10-28 02:51] #3050 closed, assigned to nobody

[2022-10-28 03:25] bk201 opened #3062 "[BUG] Upgrade: pre-drain/post-drain jobs fail an upgrade on first error pod"
**Describe the bug**

We've spotted that if the first pod of pre-drain/post-drain fails, the upgrade is marked as fail.
The retry mechanism of jobs is not respected.

<img src="https://user-images.githubusercontent.com/1691518/198494429-3e00a850-37bb-4716-a898-37f768c9dcc4.png" width="400">

There are still pods:

[code]

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Find a way to m

[2022-10-28 03:56] bk201 commented on #3053
@RegisHubelia Thanks for the great feedback. We understand the frustration and uncertainty you see.
Upgrade is a complicated task, especially if a project has many components involved. And it would be more challenging when all those components are bumped simultaneously.

We put user put users in the first place. That is the direction we are working toward, and that's why we use the one-click appro

[2022-10-28 05:57] Martin-Weiss commented on #3062
I assume one way to force this initial failure might be to have problems on the storage side of things.. too large volumes that take too long to replicate or have failures before the upgrade gets started. Filesystem corruption on top of a volume might also be a way..

[2022-10-28 06:23] bk201 commented on #3039
Related issue in Slack: https://rancher-users.slack.com/archives/C01GKHKAG0K/p1666335034681119

[2022-10-28 06:59] bk201 commented on #3046
Related to https://github.com/harvester/harvester/issues/1926, we need a way to let user know what's blocking the upgrade.

[2022-10-28 07:20] bk201 commented on #3044
We'll not support an upgrade from RC to a formal release but will remove the restriction in the code.
Also, we can add a pop-warning in the GUI if the current version is RC or master head builds.

[2022-10-28 07:35] tjjh89017 commented on #3047
## Test Step

1. Install harvester v1.0.3 with cluster_networks setting in config.yaml (installation stage)
2. Upgrade to new version harvester
3. /oem/99_custom.yaml should not have "21-harvester-clusternetworks.yaml"

## Workaround

### Method 1
1. Execute this script after the node is rebooted and network is disconnected.
2. https://gist.github.com/tjjh89017/dc3c91384aa14764a9458be6de3c8e5c

##

[2022-10-28 07:52] chrisho commented on #2729
Performance test report: https://github.com/harvester/harvester/pull/2774#issuecomment-1294426262

[2022-10-28 08:04] Martin-Weiss opened #3063 "[FEATURE] Document more details about the upgrade procedure"
**Is your feature request related to a problem? Please describe.**
For troubleshooting the upgrade we need more technical details about the upgrade procedure.

Which POD is reacting on which annotation or CRD object in the process flow?
How can we push one or the other action to be restarted?
What should we do with which error situation?

**Describe the solution you'd like**
More insights, please.

[2022-10-28 08:33] bk201 opened #3064 "[FEATURE] Collect plan secrets in support bundles"
**Is your feature request related to a problem? Please describe.**

We remove all secrets in a support bundle, but plan secrets help debug upgrades.

**Describe the solution you'd like**

Collect plan secrets in a support bundle, including the metadata value.
We can ignore the `.data` part since it contains tokens.
[code]

**Describe alternatives you've considered**

**Additional context**

Consid

[2022-10-28 09:40] w13915984028 commented on #3039
@lkoba @rajesh1084 Were your cluster back to normal after some time?

From @irishgordo 's test, it recovers.

[2022-10-28 10:39] rajesh1084 commented on #3039
No, it's been 7 days in this state -
![image](https://user-images.githubusercontent.com/108651299/198568425-8c016f6d-12ab-4825-8bc7-1c99af87aed7.png)

[2022-10-28 10:57] RegisWeduLabs commented on #3053
@bk201, thank you.  Don't get me wrong, I have no frustration and fully respect/understand the dev efforts.  Uncertainty, sure, it's stressful currently to do an upgrade in a production environment.  And I fully understanding your mission to democratize the HCI management, and I really appreciate the approach.

I still think that having "rolling updates" on the different components would ease the

[2022-10-28 11:45] Martin-Weiss commented on #3053
One of the challenges I see with updating all the different components in different order and not combined is the effort of testing and dealing with dependencies.

I.e. new kube-virt feature requires new RPM installed on the OS side of things and new kube-virt first requires update of harvester and harvester upgrade requires new version of....

From my point of view - dependency management in rela

[2022-10-28 11:48] Martin-Weiss commented on #3054
I believe RWX within Harvester for Block devices is required for VM migration.. and I am not sure if this RWX is NFS - I thought it is iSCSI in this case.. but did not verify..

[2022-10-28 13:01] RegisWeduLabs commented on #3053
Fair points.  That said, if that's the case for kuve-virt/harverster/os - this should be done together.  But does the dependencies with Rancher and longhorn would cause the same problem?

So having 3 upgrade options:
1) Harvester (includes kube-virt, harvester and elemental) - and would update everything if choosen (rancher, longhorn, etc...)
2) Rancher
3) Longhorn

If you've done Rancher/Longhron

[2022-10-28 13:18] w13915984028 commented on #3015
@armagankaratosun

Did you try to remove the related labels from
[code]

remove those lables like `cpu-feature.node.kubevirt.io/vpclmulqdq: "true"` in NODE with newer CPU ?

thus, let those 2 `NODEs` have same cpu-feature label. (down-grade the advanced one)

[2022-10-28 13:19] Martin-Weiss commented on #3053
The "challenge" is, that there are also dependencies between Rancher and Harvester... (rancher within harvester and remote rancher UI integration, Provisioning integration, CSI/CPI..) and also between Harvester / Kube-VIP and Longhorn... i.e. managing the storage network via harvester in longhorn..

[2022-10-28 13:25] lkoba commented on #3039
In my case it doesn't recover. Even leaving it up for a few days.

[2022-10-28 13:26] dmytrobabeshko commented on #3054
I agree about VM migration, but I am about the case when it is not needed. I would like to set `migratable=false` on the storage class thus getting RWO and better IO performance.

AFAIK RWX is supported in Longhorn only by using the NFS backend https://longhorn.io/docs/1.3.2/advanced-resources/rwx-workloads/

[2022-10-28 13:33] Martin-Weiss opened #3067 "[EPIC] Add further pre and post checks in harvester upgrade"
**Describe the bug**
Just ran into an issue with the upgrade from 1.0.3 to 1.1.0 with two different cases:

1. there was a "orphaned" machine object in fleet-default
2. the upgrade from harvester 1.0.2 to 1.0.3 was completed but the cluster status "local" has been stuck in "Provisioning"

**Expected behavior**
There should be additonal pre and post checks before and after any upgrade to verify the

[2022-10-28 13:56] Martin-Weiss commented on #3046
Beside of the health check being very useful - any idea why we can not rely on the "deprecated" status plus PDB from Longhorn?

[2022-10-28 13:59] Martin-Weiss opened #3068 "[BUG] Make the Longhorn UI accessible in the Harvester UI"
**Describe the bug**
There are several situations where we need access to the longhorn UI within Harvester.

- change number of replicas
- view node and volume status
- administrative actions / repair / healh check etc.

With 1.1.0 it seems to be even more dificult to access the Longhorn UI as the "explorer" URL change does not seem to work as in previous versions, anymore.

-> How can we access t

[2022-10-28 14:08] w13915984028 opened #3069 "[FEATURE] upgrade shoud take log from `elemental upgrade` and process its return code"
**Is your feature request related to a problem? Please describe.**

In upgrade `post-drain` code, the `upgrade_os` will call `elemental upgrade`
`chroot $HOST_DIR elemental upgrade --directory ${tmp_rootfs_mount#"$HOST_DIR"}`

But for it's running log and return code, there is no proper processing now.

**Describe the solution you'd like**

`Elemental` supports setting a log file `cmd.PersistentFl

[2022-10-28 14:15] w13915984028 commented on #3069
Observed when trouble-shooting issue:
https://github.com/harvester/harvester/issues/3070

Another similar issue:
https://github.com/harvester/harvester/issues/3062

[2022-10-28 14:22] w13915984028 opened #3070 "[BUG] user report: v1.0.3 to v1.1.0 upgrade stucks in post-drain in first node"
**Describe the bug**

![image](https://user-images.githubusercontent.com/31133476/198639754-858e99b7-013b-486b-a8fc-e5efb8a391d4.png)

Directly observed:

[code]
3-node cluster, each node:
[code]

[code]
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. 2-node v1.0.3 cluster, upgrade to v1.1.10
2. first node reports fail

**Expected behavior**

**Support bundle**

**Environment**
 - Har

[2022-10-28 14:46] w13915984028 commented on #3070
Latest analysis:

The `repo VM` was deleted by `upgrade controller` due to `upgrade failure`, refer: #3062

All failed `*post-drain-harvester1*` POD has return code `1`.

[code]

dmsg log is aligned with POD run time.
[code]

temp file are left over, the time stamp is aligned with POD run time
[code]

Those tmp files are totally same.
[code]

suspect the error code `1` happens in 3 line of code:
[

[2022-10-28 15:11] Martin-Weiss commented on #3043
FYI - this is required in any case if there is a IPv6 DHCP server available..

And I am not sure if /usr/local/lib/sysctl.d/ is the right place.

I would expect this in `/etc/sysctl.d/99-no-ipv6.conf `or similar and after creating this file.
Then execute `sysctl -p /etc/sysctl.d/99-no-ipv6.conf` and restart rke2-server.

Should we use `/usr/local/lib/sysctl.d/`  or `/etc/sysctl.d/`?

-> Answer to

[2022-10-28 15:36] Martin-Weiss commented on #3067
Seems we have a "deprecated volumes check, already":
![grafik](https://user-images.githubusercontent.com/13362573/198676884-5f1d0a01-ebab-4de9-9948-dcbe40cdda9b.png)

But how to check this without the Longhorn UI available?

[2022-10-28 17:14] midhunthampi commented on #3050
It got worked, Thanks

[2022-10-28 18:45] armagankaratosun commented on #3015
Hello, I removed the labels from the Node with the newer CPU and tried to migrate it again, but unfortunately, it still fails with the same error

[code]
I realized that even if I remove the labels from the node, it updates the labels after my manual intervention and adds the labels again.

[2022-10-28 19:24] w13915984028 commented on #3015
OK, then there are controllers updating those CPU flags, which read it from e.g. `/proc/cpuinfo`. Manual change will be reverted.

In Openstack, it's done via:   https://opendev.org/openstack/nova/commit/bcd6b42?style=split

For `Harvester/KubeVirt`, it seems no straightforwad solution yet.

In medium/large-scale cluster, different kind of CPU/NODE could be labelled differently and VM can live mig

[2022-10-28 19:30] w13915984028 commented on #3053
It is helpful to have those ideas/suggestions. Thanks.

We will break down the upgrade process, and find ways to optimize and enhance.

[2022-10-28 23:59] irishgordo commented on #3041
To follow-up.
On an environment with 3 Bare-Metal Nodes each:
- 8 Core Intel(R) Xeon(R) CPU E3-1265L v3 @ 2.50GHz
- 16GiB Mem DDR3 1333 MT/s
- 480GB Kingston SATA SSD
- 1GB Integrated Intel NIC (1port)

I was not able to see "Upgrade System Services" hang.  On an upgrade from v1.0.3 to v1.1.0, manually using a file-server and a version.yaml.

I was able to note a few other things however.

### Fin

[2022-10-29 00:23] noahgildersleeve commented on #3043
I was able to repro this in a libvirt virtualized environment with two pairs of bonded NICs setup during install. The workaround [here](https://github.com/harvester/harvester/issues/3045#issuecomment-1292685394) brought back up the network and the upgrade seemed to be fixed. However I actually used the script for replacement from [here](https://gist.github.com/tjjh89017/dc3c91384aa14764a9458be6de3

[2022-10-29 16:10] BTGUK opened #3071 "[BUG] Installer does not create UEFI boot entry on Dell PowerEdge systems"
**Describe the bug**
After installing Harvester on a Dell PowerEdge 12G and 13G server the server does not boot into the new Harvester installation. Further investigation showed that there is no boot entry in the server's UEFI setting for the new Harvester installation, which should have been created by the Harvester installer.
This issue has been found with Harvester 1.0.3 and Harvester 1.1.0, ho

[2022-10-30 17:27] Itxaka commented on #3071
This is due to the underlying elemental-cli installer not creating the proper entry. From version 7550964b03eac0e69ba350ba68f328ebd12168ca and onward, it creates an entry in the bootloader.

Up until this point we relied into the default EFI boot order which would try to use /EFI/BOOT/BOOTX64.efi as a fallback mechanism, so on reboot you would get the system to boot using that, but that is not rel

[2022-10-30 17:53] mircea-pavel-anton opened #3072 "[BUG] Installing on a single disk system is broken"
**Describe the bug**

Installing harvester 1.1.0 on a single NVMe drive is not working. I get some error that there were multiple filesystems detected on the drive and it couldn't be mounted.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a bootable media with harvester 1.1.0
2. Plug it into a computer with a single NVMe drive (1TB 970 Evo Plus in my case)
3. Proceed with the install

[2022-10-31 02:52] starbops commented on #3067
When LH UI is unavailable, the following command can be used to check the status of all the LH volumes:

[code]

[2022-10-31 03:33] bk201 commented on #3069
@starbops Please help add the log; we can save the log to a directory under `/host/usr/local/`.
As a further enhancement, adding a trap to clean the [downloaded file ](https://github.com/harvester/harvester/blob/a4872361145e0d0b99c4afeb6052f344acd48f30/package/upgrade/upgrade_node.sh#L426), in case jobs are retried.

[2022-10-31 03:58] FrankYang0529 commented on #3062
It looks like a job doesn't have failed condition when the first pod fails. We don't set `backoffLimit`, but the default value is `6`. A job has a failed condition only if it retries more than `backoffLimit` times.

[code]

[2022-10-31 04:30] simsicon commented on #1873
Experiencing the same issue with V1.1.0 and Nvida Quadro P620

[2022-10-31 06:12] bk201 commented on #3043
Close this issue with:
- https://github.com/harvester/harvester/issues/2962: Track the IPv6 issues.
- https://github.com/harvester/harvester/issues/3047 and https://github.com/harvester/harvester/issues/3045: Track the network interruption issue.

[2022-10-31 06:12] #3043 closed, assigned to ibrokethecloud

[2022-10-31 06:14] bk201 commented on #3043
@Martin-Weiss yeah, somehow I can't make `/etc/sysctl.d/` work even adding it to persistent path in elemental toolkit, thus suggest using `usr/local/lib/sysctl.d/ ` since it's in the man page.

[2022-10-31 06:15] bk201 commented on #3062
Confirm the jobs do retry, and this is not an issue. Thanks, @FrankYang0529

[2022-10-31 06:15] #3062 closed, assigned to nobody

[2022-10-31 06:19] bk201 opened #3073 "[FEATURE] Upgrade: Do not fail pre-drain or post-drain jobs"
**Is your feature request related to a problem? Please describe.**

Failing pre-drain or post-drain jobs is not a good idea at this moment because:
- Job pods' log might be deleted. It's hard to debug and provide support.
- Cluster is in provisioning (provisioningv2), and it's hard for users to "resume" an upgrade.

**Describe the solution you'd like**

Do not fail the jobs by:
- Either set a very

[2022-10-31 06:20] bk201 commented on #3062
We should also see if we want to avoid failure. Stuck with rancher provisioning is hard to recover and debug.

Tracked in another issue https://github.com/harvester/harvester/issues/3073

[2022-10-31 06:39] bk201 commented on #3070
Could be caused by the system having multiple Harvester installed disks:
[code]

I can reproduce this by adding another disk that has an identical layout. It looks like elemental is trying to mount the wrong partition.

[2022-10-31 08:08] FrankYang0529 commented on #571
Currently, our backup & snapshot have some limitations. For the backup, it needs to set up a backup-target first. For the snapshot, a source volume can't be deleted and must be mounted so that we can restore it.

I think this feature would like to give a third way - don't need to rely on a backup-target and a source volume. We can add [another type `backup-as-backingimage`](https://github.com/harv

[2022-10-31 08:24] Martin-Weiss commented on #3051
Seems the issue is related to how the password hash has been created.
Based on https://docs.harvesterhci.io/v1.0/install/harvester-configuration/#ospassword -openssl passwd -1 seems to cause this problem, openssl passwd -6 does not seem to have this issue.

[2022-10-31 08:25] tjjh89017 commented on #3051
The root cause:
Dashboard will treat all hash as SHA-512 hash and use SHA-512 to compare.
But if users put other hash algorithm passwords into config.yaml, it will never match the hash in the shadow.
For example, Martin used MD5 hash for password, and MD5 hash is still valid for Linux TTY PAM.

https://github.com/harvester/harvester-installer/blob/5991dcf6307aa5da79c5d6926566541f48105778/pkg/util/

[2022-10-31 08:28] Martin-Weiss commented on #3051
Why is the dashboard hard coded on SHA-512 - in this scenario any other hash for the password in shadow might not work.. Can´t the dashboard use PAM?

[2022-10-31 08:40] futuretea commented on #3039
The node becomes unavailable during the promotion as expected. After the promotion, the node will recover.
I was unable to reproduce this problem on 1.1.0 and 1.0.3

[2022-10-31 08:51] futuretea commented on #3039
@lkoba in the support bundle, the Harvester version is master-head.

Do you mean `master (as of 2022-10-25), between 1.0.3 and 1.1.0` not `both 1.0.3 and 1.1.0`？

[2022-10-31 11:44] Itxaka commented on #2963
https://docs.harvesterhci.io/v1.0/install/harvester-configuration#oswrite_files during install or https://docs.harvesterhci.io/v1.0/troubleshooting/os#how-can-i-install-packages-why-are-some-paths-read-only after install?

[2022-10-31 15:42] joshmeranda commented on #2787
Setup an automated harvester deployer to deploy a harvester cluster and check the `fluentd-configcheck` pods for an unknown state 100x times and ran over the weekend. I still wasn't able to reproduce.

I was only deploying a single node harvester cluster, so it could be an issue caused by some multi-node shenanigans but seems unlikely.

https://github.com/joshmeranda/MyJournal/tree/main/harvester/

[2022-10-31 17:08] codeagencybe commented on #3072
I have the same problem.
I can boot into the installer and start it (both normal and GRUB).

I can enter my cluster name, hit enter to select a nic but it resets back to selection menu "create new cluster or join existing cluster" and this is where it keeps looping over and over.

My nvme drive is completely empty, nothing existing on the drive. I also verified triple times by formatting the entir

[2022-10-31 21:27] caleb-devops opened #3076 "[BUG] Terraform provider cannot use tilde expansion for kubeconfig path"
**Describe the bug**
The Terraform Harvester provider is unable to find the kubeconfig if the path contains  `~`.

**To Reproduce**
Steps to reproduce the behavior:
1.  Configure the Harvester provider as follows:

[code]

2. Add a harvester resource and run `terraform apply`

3. Apply fails with the following error:

[code]

**Expected behavior**
Provider performs tilde expansion on the kubeconfi

[2022-11-01 01:36] masteryyh commented on #3051
Tested with v1.0.3 and v1.1.0 using iPXE boot can always reproduce.
Thanks to @tjjh89017 @Martin-Weiss SHA-512 using `openssl passwd -6` can be used with iPXE boot.

[2022-11-01 01:43] Vicente-Cheng commented on #3072
Hi @mirceanton,
Could you help to attach your installation failure situation? (Text log or screenshot may good)

[2022-11-01 03:28] datamattsson commented on #2553
I'm running into a similar issue with rancher/rancher where I want to deploy RKE2 clusters on vSphere with SLE Micro as the base OS from a VMware template. There's no way to set the most basic thing like the hostname of the machines derived from the VM name. I must be missing something rudimentary and desperate enough to look for answers in this thread.

[2022-11-01 03:30] bk201 commented on #3072
@codeagencybe You might hit this issue: https://github.com/harvester/harvester/issues/2937, do you have an nvidia card? There is a temporary workaround: https://github.com/harvester/harvester/issues/2937#issuecomment-1278545927

[2022-11-01 03:39] MLaudren commented on #2781
@w13915984028
Yes I will try to perform a dd to clean the disk partition table.
I will update this ticket with result of the setup once I have them.

[2022-11-01 05:44] starbops commented on #3040
Update the workaround, thanks to @bk201

1. Paused managed chart

[code]

2. Edit harvester deployment to pretend the cluster is v1.0.3

[code]

And do the upgrade. When it’s done, change back the `harvester` Deployment by removing the `HARVESTER_SERVER_VERSION` env.

[2022-11-01 07:21] futuretea commented on #3039
@lkoba It also looks like your nodes are having a hard time keeping up with etcd. The most common cause of this is insufficient disk IO. Do you have SSD or NVME disk in your nodes? If only have HDD disks, you can use [RAID](https://en.wikipedia.org/wiki/RAID) to increase the disk iops( I am using RAID10 in my environment）.

[code]

You can refer to https://www.ibm.com/cloud/blog/using-fio-to-tell-

[2022-11-01 07:32] WuJun2016 opened #3078 "[BUG] The default value of the ui-index should match the harvester version"
**Describe the bug**

If the installed harvester is an official release version, the default value of ui-index should match this version，

![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/e001a850-e7fd-4492-a9e1-0df8a43d762c)

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**

In v1.1.0, the default value should be `https://releases.rancher.com/harv

[2022-11-01 08:04] starbops opened #3079 "[BUG] Need retry logic around curl in detect_repo"
**Describe the bug**

We've spotted that failures might occur around `curl` commands in `detect_repo` during node upgrades due to network issues. This leads to the total failure of the node upgrade Pod because we have `set -e` in the upgrade scripts.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Do upgrade on the cluster of any number of nodes
2. Do something to break the connectio

[2022-11-01 08:08] bk201 commented on #3040
Move to 1.1.2, we want to leverage https://github.com/harvester/harvester/issues/2877

[2022-11-01 08:24] yaocw2020 commented on #1618
Test plan:
- Create a network with the type UntaggedNetwork.
- It could be used as VLAN 1.

[2022-11-01 09:27] codeagencybe commented on #2937
@futuretea
How did you do this:

_Switch to tty2 and manually get IP first. SSH into the node to run the installer_

I'm facing exactly same problem but I'm not using any serial console.
My setup is just using an HX90 from minisforum directly connected via HDMI to a monitor.
I'm a beginner in this area, so any help how I can do workaround 1 or 2 with the the "tty2" would be helpful.

Thanks!

[2022-11-01 09:36] codeagencybe commented on #3072
@bk201
That description is pretty much on spot with my experience yes.
But i'm not using any nvidia card.
I have an HX90 from minisforum, comparibale to a NUC but quite powerful (16 cores, 64GB RAM, AMD Ryzen 5900HX) but it has onboard graphics. I think a AMD Radeon something,
https://store.minisforum.com/products/hx90
I'm using a direct mouse/keyboard and HDMI display to it, so there is nothing s

[2022-11-01 13:39] albertkohl-monotek commented on #2937
Try something like this:
https://askubuntu.com/questions/66195/what-is-a-tty-and-how-do-i-access-a-tty

Albert Kohl
Director of I.T.
[o.]  (602) 445-3422
[e.] ***@***.******@***.***>
[w.]  www.natimark.com<https://www.natimark.com> | counts.natimark.com<https://counts.natimark.com>
[Better Results through Better Data.]

From: Fabio Tielen ***@***.***>
Sent: Tuesday, November 01, 2022 2:28 AM
To: h

[2022-11-01 15:46] lkoba commented on #3039
This particular test was done over HDD but I tested multiple times over NVME and even ramdisks with the same results . I ran some fio tests on the same VMs and netted around 3gb/sec with enough iops for etcd when I was doing some tests for longhorn.

If it helps, I managed to get a 3 node cluster running with https://github.com/harvester/ipxe-examples/tree/main/vagrant-pxe-harvester on the same ho

[2022-11-01 17:44] averyfreeman opened #3080 "[Question] How should I properly shut down Harvester cluster?"
Not sure how I'm supposed to do this.  Googled the question and got SUSE guide for RKE, but is not useful - there's no `docker` service, and `kubectl get nodes` unfruitful [reference](https://www.suse.com/support/kb/doc/?id=000020031)

Still setting up 3-node cluster, I currently have two Harvester 1.1.0 nodes. Have noticed my longhorn-harvester PVE is degraded, but I'm assuming because 3 replica

[2022-11-01 18:10] yasker commented on #571
Right. If the source volume is not attached, the VM clone won't work or we need to reattach the source volume first.

I was thinking in line with https://github.com/harvester/harvester/issues/571#issuecomment-943158109 and https://github.com/harvester/harvester/issues/571#issuecomment-948086400 . It would be based on #568 to shorten the steps for the user to create golden images and templates with

[2022-11-01 18:29] albertkohl-monotek commented on #3080
@averyfreeman  i did the same. the drives go into a degraded state because they are out of sync when the nodes come back up, so Longhorn rebuilds the image. i THINK this is by-design. but not sure.

hope this is helpful.

[2022-11-01 18:30] albertkohl-monotek commented on #2936
/bump

[2022-11-01 19:21] KyleSponz commented on #3080
following this is something to write in the wiki or knowledge base as well

[2022-11-01 19:40] KyleSponz opened #3081 "[Doc]NICS not showing up"
Cluster config is as follows
3 nodes each node with 2 gbe ports and 2 SFP ports with 10gb fiber sfps in them

Not sure if it is a bug or not I have 2 GBE ports and a pair of SFP+ ports the SFP ports are each using 10gb SFPs bonded and are being used as the management nics, the other 2 ports I wanted to use to create two networks across the cluster with each one having nic dedicated to it

There sh

[2022-11-01 19:43] KyleSponz commented on #2951
It turns out it was a corrupted ISO, I was using the web URL download function, direct upload of a known good file remediated the issue

[2022-11-01 19:43] #2951 closed, assigned to nobody

[2022-11-01 20:18] yashi4engg opened #3082 "Trying to PXE kickstart Dell Hardware (Not supporting IPXE)"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

[2022-11-01 20:21] yashi4engg commented on #3082
We tried kickstart with VM which support IPXE and that works perfect.

But Dell H/w (PowerEdge C6420) which dont support IPXE , I am unable to kick with harvester .

I tried to kick using UEFI and Legacy boot mode options but no success. I followed below document -
https://docs.harvesterhci.io/v0.3/install/pxe-boot-install/

[2022-11-01 20:49] ibrokethecloud commented on #3081
Hi @KyleSponz are you please able to confirm the version of harvester and if possible please provide a support bundle?

[2022-11-01 21:05] ibrokethecloud commented on #3082
Hi @yashi4engg are you please able to advise what version of harvester you are using?
There has been a small change to the config.yaml schema post v1.1.0, details of same are available here:

https://docs.harvesterhci.io/v1.1/install/pxe-boot-install

[2022-11-01 21:05] yashi4engg commented on #3082
I am trying to install harvester v.1.1.0

[2022-11-01 21:15] ibrokethecloud commented on #3082
are you please able to confirm the config spec is used from v1.1.0 docs. The network interface definition section has changed and in addition there is a `scheme_version` introduced.

If this fails, there should be a failure logged in `/var/log/console.log` which may provide information on possible issues with config spec.

[2022-11-01 21:23] yashi4engg commented on #3082
As per above comment I am able to kick a host with same config which supports IPXE . But My H/w dont support IPXE and now I am trying to kick it with Legacy boot mode ...I am able to get IP assign and also able to download pxelinux.cfg/default file but contents of file it wont understand so seems there should be some syntax change

Any way you can let me know what should be syntax for defining def

[2022-11-01 21:44] midhunthampi opened #3083 "[BUG] Storage is allocating more than overcommit-config"
**Describe the bug**

**Expected behavior**
We need to keep Storage scheduling below than max. storage available when we keep overcommit config is 100%

**Environment**
 - Harvester ISO version: 1.1.0
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge C6420):

Depends on: https://github.com/longhorn/longhorn/issues/5149

[2022-11-01 22:37] ibrokethecloud commented on #3082
the rootfs image location doesnt seem to have a valid address could that be the issue?

[2022-11-01 22:38] ibrokethecloud commented on #3082
[code]
I am not entirely sure on the PXE setup but would something like above work?

I used this as a reference: https://wiki.syslinux.org/wiki/index.php?title=PXELINUX

[2022-11-01 22:40] ibrokethecloud commented on #3083
are you please able to provide more details of the operation you are trying to perform and what should have been the expected result and what is actually happening?

Any additional information like a support bundle which we can analyze to check the system state would be appreciated.

[2022-11-01 22:48] yashi4engg commented on #3082
location is correct but error I am getting is below which suggest its unable to understand what to do with rootfs squash image .

dracut: don't know how to handle 'root=live:http://$ENDPOINT/harvester/harvester-v1.1.0-rootfs-amd64.squashfs'

[2022-11-01 22:51] ibrokethecloud commented on #3082
before the dracut error, do you see a network transfer trying to pull the image?

[2022-11-01 22:52] KyleSponz commented on #3081
@ibrokethecloud

Cluster version: v1.1.0-rc2

Output from one of the events creating the vm
apiVersion: v1
count: 1
eventTime: null
firstTimestamp: "2022-11-01T22:42:08Z"
involvedObject:
  apiVersion: v1
  kind: Pod
  name: harvester-public-nodenetwork-k5rq4
  namespace: harvester-system
  resourceVersion: "10103115"
  uid: 0434d6ed-1b4f-4f74-afbc-afeea9c8846a
kind: Event
lastTimestamp: "2022-11-0

[2022-11-01 23:01] averyfreeman commented on #3080
This seems ridiculously basic, so ... dev team has an answer for this, right?

[2022-11-01 23:04] ibrokethecloud commented on #2936
are you please able to try this: https://kubevirt.io/user-guide/virtual_machines/virtual_hardware/#timezone

`spec.domain.clock` should set the TZ to one of your choice.

[2022-11-01 23:05] KyleSponz commented on #3081
just had an idea ran
lshw -class network

Its showing that the two SFPs are net1 and net0 unclaimed with the two gbe ports also as net1 and net0

lshw -class network
  *-network:0 UNCLAIMED
       description: Ethernet controller
       product: 82599ES 10-Gigabit SFI/SFP+ Network Connection
       vendor: Intel Corporation
       physical id: 0
       bus info: pci@0000:01:00.0
       version: 01

[2022-11-01 23:09] ibrokethecloud commented on #3081
do you see anything in `dmesg`?

you could also run `supportconfig` command to collect some common logs that we can use. I am available on rancher-users slack if you wish to DM me the file

[2022-11-01 23:29] yashi4engg commented on #3082
No network error ...this error is there before trying to download.

[2022-11-01 23:29] KyleSponz commented on #3081
I cant get access to the slack Id be happy to contribute it wont let me login Ive also never used it might be just a user error

I generated the file it wont let me sftp to the box to pull it and I do not have physical access to it at this time so how do I DL it?

[2022-11-01 23:36] KyleSponz commented on #3081
ran this as well

lspci -vv | grep Ethernet
01:00.0 Ethernet controller: Intel Corporation 82599ES 10-Gigabit SFI/SFP+ Network Connection (rev 01)
        Subsystem: Dell Ethernet 10G 4P X520/I350 rNDC
01:00.1 Ethernet controller: Intel Corporation 82599ES 10-Gigabit SFI/SFP+ Network Connection (rev 01)
        Subsystem: Dell Ethernet 10G 4P X520/I350 rNDC
pcilib: sysfs_read_vpd: read failed: Inp

[2022-11-01 23:38] ibrokethecloud commented on #3080
the easiest way to shutdown the cluster would be to shutdown the VM's and then shutdown the nodes.

[2022-11-01 23:44] ibrokethecloud commented on #3081
do you see an unsupported sfp+ message in the system logs? `dmesg |grep -i sfp`

[2022-11-01 23:45] KyleSponz commented on #3081
dmesg |grep -i sfp
[    8.221619] ixgbe 0000:01:00.0: failed to load because an unsupported SFP+ or QSFP module type was detected.
[    8.419793] ixgbe 0000:01:00.1: failed to load because an unsupported SFP+ or QSFP module type was detected.

Let me guess the SFP isnt supported? Is there a list I could go check out?

[2022-11-01 23:48] midhunthampi commented on #3083
<img width="1201" alt="Screen Shot 2022-11-01 at 4 32 31 PM" src="https://user-images.githubusercontent.com/62717435/199362951-5a7f70c3-3e50-4b11-8f84-eb3cadbcdc77.png">

This is the image, which we updated in settings to use Storage 100%

[2022-11-01 23:50] ibrokethecloud commented on #3081
its more a hardware vendor enforced limit. I have run into the same issue in our labs.

I used the following config.yaml at time of installation.

It forces the kernel to ignore the unsupported sfp+ module.

[code]

On a running cluster you could create the file `/etc/modprobe.d/ixgbe.conf` manually with the contents
[code]

Then run:
[code]

However this will not survive a reboot. Injecting the s

[2022-11-01 23:51] midhunthampi commented on #3083
But still, harvester assign the storage more than disk size (100%). It's creating issue and making all VM's in that datastore going down when storage become full.

<img width="967" alt="Screen Shot 2022-11-01 at 4 30 03 PM" src="https://user-images.githubusercontent.com/62717435/199363192-13468a6b-a12f-4694-ad41-1ad8aa4cee84.png">

Please see the Red highlighted storage

[2022-11-01 23:57] midhunthampi commented on #3083
At above screenshot, Our storage size is 3.5 TB but its scheduled till 4.5TB even after we set Storage overcommit to 100%

[2022-11-02 00:32] midhunthampi opened #3084 "[Terraform Authentication]"
What are the best ways to authenticate Harvester cluster via terraform ? As of now we are using Kube Config file to authenticate the cluster and its working.

But we wanted to know whether its possible to authenticate via credentials or any other way.

Thanks,
Midhun

[2022-11-02 00:58] albertkohl-monotek commented on #3080
@ibrokethecloud does shutting down the vms prevent the nodes from having to rebuild volumes after they start back up? if so, that's good info to know.

[2022-11-02 01:25] ibrokethecloud commented on #3080
yes.. stopping the IO should ensure consistency of longhorn volumes.

[2022-11-02 01:28] TheiLLeniumStudios commented on #3083
@midhunthampi I think a 100% overcommit means that it can provision a total of 7TB. You should change the overcommit for storage to 0 to disable overcommit entirely

[2022-11-02 01:29] midhunthampi opened #3085 "[Not able to create Cluster network when we select all nodes]"
**Describe the bug**
It's not allowing to create cluster network if we select all nodes. When we select all nodes in node selector, it's not showing any interfaces (Sorry no matching options).

But if we select specific node in node selector, it showing the interface for every node.

If we use specific node option in Node selector, we able to see interface. please below screen shot.

<img width="1

[2022-11-02 01:39] KyleSponz commented on #3081
@ibrokethecloud

What are your thoughts about this fix?
https://serveradminz.com/blog/unsupported-sfp-linux/

Fix the issue permanently
Perform the below commands, add the parameter to the grub file and update the grub file.

1. [root@xyz ~]# vi /etc/default/grub

2. GRUB_CMDLINE_LINUX=”ixgbe.allow_unsupported_sfp=1″ [adding the parameter to the line GRUB_CMDLINE_LINUX=”” ]

3. [root@xyz ~]# grub-

[2022-11-02 02:00] ibrokethecloud commented on #3081
grub config is not directly exposed via harvester. That work around deploys a script which ensures that the `rmmod and modprobe` is always executed on boot.

[2022-11-02 02:10] bk201 commented on #3079
@starbops I guess we also need this on squash image fetching:
- https://github.com/harvester/harvester/blob/a4872361145e0d0b99c4afeb6052f344acd48f30/package/upgrade/upgrade_node.sh#L426
- https://github.com/harvester/harvester/blob/a4872361145e0d0b99c4afeb6052f344acd48f30/package/upgrade/upgrade_node.sh#L477

[2022-11-02 02:10] KyleSponz commented on #3081
How did you inject that? I only have the capability to deploy ISOs via a usb at this time.

[2022-11-02 02:17] ibrokethecloud commented on #3081
when you deploy via USB, one of the last steps in the configuration of node would be to point to a config url. The contents of the file can be placed on a http endpoint and the same referred in the config url.
Harvester will pull that config yaml and merge it with the configuration.

[2022-11-02 02:25] futuretea commented on #3084
There are currently no plans to support other authentication methods.

[2022-11-02 02:27] midhunthampi commented on #3083
admission webhook "validator.harvesterhci.io" denied the request: Cannot undercommit. Should be greater than or equal to 100 but got 0

Its not allowing to schedule any value below than 100%.

[2022-11-02 02:42] DaiYuzeng commented on #2977
This issue can be verified on rancher master-head.

[2022-11-02 02:49] averyfreeman commented on #3080
@ibrokethecloud this is very helpful.  Is a simple `poweroff` command as `root` user appropriate after stopping all the VMs, or would using the init layer offer some benefit (e.g. `systemctl poweroff` or `systemctl shutdown now`)?

Is there a command to stop all the VMs at once?

I apologize for all the questions, if there's a reference you could point me towards I'd be happy to RTFM.  Just not re

[2022-11-02 03:28] starbops commented on #3080
Hi @averyfreeman, for shutting down all the VMs you can either use:

- The UI, simply checks all the running VMs and then clicks the "Stop" button
- [`virtctl`](https://kubevirt.io/user-guide/operations/virtctl_client_tool/), try `virtctl stop <vm-name>` to stop a VM. Since the command only supports one VM at a time, you might have to loop through all your running VMs.

[2022-11-02 03:44] starbops commented on #3079
@bk201 yeah, that's a good catch! There are multiple places that use `curl` to download crucial files in the upgrade scripts. Maybe we should drag them out to form a `download` function or try to leverage some of the retry-related options provided by `curl`. I'll do some tests on that.

[2022-11-02 04:23] starbops commented on #3073
Question: when we have such a wrapper, i.e. `do_upgrade_node.sh`, is it still necessary/adequate to implement **endless** retry mechanisms inside the real upgrade scripts like bringing up the repo VM or downloading files using curl?

[2022-11-02 06:31] Martin-Weiss commented on #3083
Overcommit 100% means you can provision 100% of what is available.
Less than 100% allows less to be provisioned.
0% would mean to disable storage ;-).

Depending on snapshots even with 100% set more can and will be used depending on snapshots..
See also https://longhorn.io/docs/1.3.1/volumes-and-nodes/volume-size/

So in case you do not want to use more than 100% - you should set the overcommit be

[2022-11-02 07:51] guangbochen commented on #3078
should use v1.1 latest https://releases.rancher.com/harvester-ui/dashboard/release-harvester-v1.1/index.html instead.

[2022-11-02 07:55] try2codesecure commented on #2972
@bk201 helped me solving this issue & i finished the upgrade to v1.0.3 on all cluster nodes.
To sum it all up, the following steps resolved the issue:
- the guided use of the "drain" cluster scripts from @bk201 https://github.com/bk201/misc/tree/main/rancher
- cleaned up/removed unused longhorn replica volumes on 1.st harvester node (some of the stopped VM's, had an unreplicated volume (Replicatio

[2022-11-02 07:55] #2972 closed, assigned to nobody

[2022-11-02 08:17] ibrokethecloud commented on #3085
are you please able to provide a support bundle?

so if my understanding is correct enp24s0f0 was using for management interface as a single nic bond and enp24s0f1 was being used for workload networks via VLAN config?

[2022-11-02 09:22] RegisWeduLabs commented on #3016
Bump

[2022-11-02 10:00] lanfon72 commented on #3056
@WuJun2016 is it possible to use `max-height: 90vh` instead of `max-height: 800px`?
some display might use `1024 * 768` (less than 800, few pixel still not visible) and some display might use `1920 * 1200`.

[2022-11-02 10:22] WuJun2016 commented on #3056
good catch, thanks, i will change it

[2022-11-02 10:52] try2codesecure opened #3087 "[FEATURE] Approve or slow down node OS upgrade"
**Is your feature request related to a problem?**
not exactly, but is upgrade related

**Describe alternatives you've considered**
none

**Additional context**

From an OPS pov it would be nice to be able to slow down or approve an node os upgrade on the following points:

![ts_upgrade_phases-7336371ca32df446a0f9da46e79729b6](https://user-images.githubusercontent.com/4202158/199470877-aaf0ad1a-750

[2022-11-02 11:03] WuJun2016 commented on #3056
Done.

[2022-11-02 12:07] w13915984028 commented on #3016
update:

The `image downloading` feature is released in `Harvester v1.1.0`, there is a button to download an existing image.

For `retriggering the download of image` when new node is added, it is under investigation.  thanks.

[2022-11-02 12:28] Martin-Weiss opened #3088 "[BUG] Networks should be renamed to VM Networks"
**Describe the bug**
Harvester 1.1.0 looks a bit strange when configuring the network setup:

![grafik](https://user-images.githubusercontent.com/13362573/199489393-716a58e7-597f-4c13-9108-afb26eeb3247.png)

-> Networks / Networks

**To Reproduce**
See above

**Expected behavior**
A more logical way for the user - Networks as headline and then a child "VM networks"

**Environment**
 - Harvester IS

[2022-11-02 12:52] yashi4engg commented on #3082
Hi Team .. I made some changes and now syntax works fine and able to download root=live:http://$ENDPOINT/harvester/harvester-v1.1.0-rootfs-amd64.squashfs file . But now my host is going to emergency mode during installation with below error :-

[OK] Finished Wait for udev to Complete Device Initialization.
[Time] Timed out waiting for device /dev/disk/by-lable/COS_OEM
[DEPEND] Dependency failed fo

[2022-11-02 12:55] guangbochen opened #3089 "[BUG] cannot allocate new block due to per host block limit on the guest RKE2 cluster"
**Describe the bug**

`IPAMHandles` keep increasing on the guest RKE2 cluster, and the Nginx pod is not running properly with the following errors:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Spin up Harvester v1.1.0 and import it to the Rancher v2.6.9
2. Spin up a guest RKE2 k8s cluster using Harvester node driver
3. Waiting for the guest cluster to be ready
4. Check the `IPAMHan

[2022-11-02 13:55] lanfon72 commented on #3056
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/199507389-a54ca65f-cdf6-4898-820f-18fefc8b17cd.png)

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **v1.1.0** to `v1.1.0-master-68e78c87-head` (get trouble to upgrade from `v1.0.3`)
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with any nodes
2.

[2022-11-02 13:55] #3056 closed, assigned to lanfon72, WuJun2016

[2022-11-02 14:02] albertkohl-monotek commented on #3016
@w13915984028 is there a manual process, you could provide for v1.0.3? considering the upgrade issues for v1.1.0 it would be a good failsafe to be able to export my backing images before upgrading (once v1.1.1 is released)

thanks!

[2022-11-02 14:13] guangbochen commented on #3089
A temp workaround of the above issue:
1. down the `kubeconfig` file from the dashboard and config to use it.
2. delete all of the related ipamhandlers via `$kubectl delete ipamhandles.crd.projectcalico.org --all`
3. Download the [calicoctl](https://github.com/projectcalico/calico/releases/tag/v3.23.1) and release its unused IP by following the [Releasing individual IP addresses](https://cloud.ibm.

[2022-11-02 14:32] bk201 opened #3090 "[FEATURE] doc: add `containerd-registry` setting doc"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

Add the setting info and example to https://docs.harvesterhci.io/v1.1/advanced/settings

**Describe alternatives you've considered**

**Additional context**

[2022-11-02 14:32] RegisWeduLabs commented on #3016
Awesome, thank you!

[2022-11-02 14:36] w13915984028 commented on #3016
@FrankYang0529 Do you know if there is a feasible/hack way to achieve the `image download` in v1.0.3 ?  Is it possible to  replace the `harvester` POD image to new one and create the related CRD? thanks.

[2022-11-02 14:38] w13915984028 commented on #3016
FYI: Related feature in Harvester v1.1.0:

https://docs.harvesterhci.io/v1.1/volume/export-volume/

[2022-11-02 15:11] bk201 commented on #2937
SSH workaround:
- Switch to tty2 (ctrl + alt + f2)
- Login with rancher/rancher and switch to root (`sudo -i`).
- Bring up the network interface; you can use `ip a` to list interfaces first. Take `ens5` as example:
  - Static IP case: `ip a add <addr> dev <interface>`. For example: `ip a add 10.10.0.15/24 dev ens5`.
  - DHCP IP case:
[code]
- Connect to the machine with ssh (`ssh rancher@<IP>`, **

[2022-11-02 15:11] bk201 commented on #3072
@codeagencybe Could you pause at the GRUB menu and edit `vga` kernel parameter to change the resolution? (https://unix.stackexchange.com/questions/71231/grub2-and-kernel-vga-parameter)
We should have AMD open-source drivers. If this still doesn't work, you can try https://github.com/harvester/harvester/issues/2937#issuecomment-1300635489

[2022-11-02 15:12] w13915984028 commented on #3039
From the log attached in the issue description, there is a `fatal` error when restarting `rke2 service`

@brandond any idea of this fatal error ? thanks.

[2022-11-02 15:17] joshmeranda commented on #2028
Re-validated that importing with self-signed certs seems to work using rancher `v2.6.9` and Harvester `v1.`1.1.0` so I'm going to close this issue.

If this is still reproducible for you, please collect the logs of the `cattle-system/cattle-cluster-agent-xxxxxxxxxx-xxxxx` on your harvester cluster and any error messages you encounter and I'm happy to take another look.

[2022-11-02 15:17] #2028 closed, assigned to joshmeranda

[2022-11-02 15:27] w13915984028 commented on #3039
The fatal is from here:

https://github.com/k3s-io/k3s/blob/master/pkg/cluster/bootstrap.go#L356

And the code said:
[code]

[2022-11-02 15:33] w13915984028 commented on #3039
In @lkoba 's case, the NODE `harvester2` is `promoted`  (from rke2-agent to rke2-server), it will start `rke2-server` service but fail due to this `fatal` error. It causes the `hanging` status.

Will check @rajesh1084's support-bundle, he also reports the similar bug.

[2022-11-02 15:43] janeczku commented on #3089
@guangbochen What guest OS image did you use for the RKE2 cluster provisioning?

[2022-11-02 16:59] ApolloDS commented on #3085
I had the same problem here with 4 nodes setup.

As a workaround I label each node with hv1=true (my cluster name is hv1).
Then I select nodes(s) matching rules and take key=hv1, value=true.
Then all the interfaces are displayed in the selector field.

[2022-11-02 17:04] KyleSponz commented on #3081
@ibrokethecloud

od virt-launcher-prysmtest-q26zb
Failed to create pod sandbox: rpc error: code = Unknown desc = failed to setup network for sandbox "c6e2b3d33a3307c4c1b0180ccec8eab78510db96d835d3d69a08afe3039b2ec7": plugin type="multus" name="multus-cni-network" failed (add): [consortia/virt-launcher-prysmtest-q26zb:k8s-pod-network]: error adding container to network "k8s-pod-network": error gett

[2022-11-02 17:08] midhunthampi commented on #3083
But its not allowing any percentage below than 100.

admission webhook "validator.harvesterhci.io" denied the request: Cannot undercommit. Should be greater than or equal to 100 but got 80

[2022-11-02 17:47] midhunthampi commented on #3085
Thanks @ApolloDS

This workaround worked out.

@ibrokethecloud

yes, We are using single interface bond for both management and VM traffic.

[2022-11-02 19:05] w13915984028 opened #3091 "[Doc] user report: after adding a 3rd node into cluster, the2nd node goes to cordoned/Unavailable state"
**Describe the bug**

User @rajesh1084 report:
"I'm trying to build a 3-node Harvester HCI setup. As soon as I add the 3rd node, 2nd node goes to cordoned/Unavailable state (Kubelet stopped posting node status). Any thoughts?"

![image](https://user-images.githubusercontent.com/31133476/199577742-74d65f7a-4b3e-48b4-966b-a9ab2ed967b8.png)

For better understanding the cluster. Please note: `harv-no

[2022-11-02 19:06] w13915984028 commented on #3091
similar issue: https://github.com/harvester/harvester/issues/3039

[2022-11-02 19:19] w13915984028 commented on #3091
systemd service `rke2-server` is in such loop,  every 15 minutes, restart once

etcd error:

service is failed, stopped and rebooted

Oct 21 11:29:46 harv-node3 systemd[1]: Stopped Rancher Kubernetes Engine v2 (server).

The `RKE2-server` service loop, for detailed message please refer to the attached document in issue description.

[code]

[2022-11-02 19:22] w13915984028 commented on #3039
Update: For @rajesh1084 's case, the direct fatal error seems a bit different, it is logged in #3091

etcd error:

service is failed, stopped and rebooted

Oct 21 11:29:46 harv-node3 systemd[1]: Stopped Rancher Kubernetes Engine v2 (server).

[2022-11-02 19:24] w13915984028 commented on #3091
@brandond any idea? thanks.

[2022-11-02 20:53] KyleSponz opened #3092 "Cant get HTML config file to read on ISO install"
I am testing an ISO file to fix an SFP issue I am having in [3081](https://github.com/harvester/harvester/issues/3081) virtually

I have a ubuntu vm running apache serving this config file

[code]

harvester is freezing saying:

![Screen Shot 2022-11-02 at 4 50 21 PM](https://user-images.githubusercontent.com/2746903/199599915-5a6e6eae-bcf6-4114-9649-3e81ac458ad2.png)

[2022-11-02 21:05] brandond commented on #3091
The etcd and apiserver are never coming up. Can you collect the kubelet/containerd logs, and the apiserver/etcd pod logs?

I think the root cause here may be similar to https://github.com/rancher/rke2/issues/3387, which was fixed in v1.24.7+rke2r1 (https://github.com/rancher/rke2/pull/3435/commits/a17eca24f5c84f1a3186435908f7adc96b904c79)

[2022-11-02 21:14] ibrokethecloud commented on #3081
if you are still using rc2 then there is a known issue with the underlying rke2: https://github.com/rancher/rke2/issues/3425

This has been fixed in v1.1.0

[2022-11-02 21:28] brandond commented on #3039
Appears to be the same as https://github.com/harvester/harvester/issues/3091#issuecomment-1301255783 - need to check additional logs to see why the containers aren't coming up.

[2022-11-02 22:56] matttrach commented on #1792
I have this problem installing on Harvester v1.1.0, what is interesting is that Harvester v1.0.3 works just fine. I am using a MinisForum EliteMini HX90 which has an AMD Ryzen 9 with integrated Radeon graphics.

[2022-11-02 23:50] ibrokethecloud commented on #3092
The error is caused since we are trying to import config.yaml in the ssh keys panel.

The config panel comes after the ssh keys panel

[2022-11-02 23:50] #3092 closed, assigned to nobody

[2022-11-02 23:53] irishgordo commented on #3068
For the current way, we may want to update the documentation to be a bit more clear.

Looks like in:
https://docs.harvesterhci.io/v1.1/troubleshooting/monitoring/#from-embedded-longhorn-webui
( https://github.com/harvester/docs/blob/main/docs/troubleshooting/monitoring.md#from-embedded-longhorn-webui )

The link may need to be fixed on `this document` portion:
![Screenshot from 2022-11-02 16-48-27

[2022-11-03 00:13] guangbochen commented on #3089
I'm using the `ubuntu-20.04-minimal-cloudimg-amd64.img` image, but I assume the same issue may exist for the other cloud images.

[2022-11-03 03:17] shuo-wu commented on #3016
Theoretically, Longhorn won’t re-download the existing image unless all image files are unavailable. What’s the Harvester and Longhorn version you are using? If it’s Longhorn v1.2.x or v1.3.x, the pod of the tmp server should be like `backing-image-ds-<backing image name>`, do you observe this pod running when the issue happens?

[2022-11-03 04:47] bclinuxco opened #3095 "[BUG] Harvester 1.1.0 does not properly import existing backups"
**Describe the bug**
Backup import fails when following the procedure for restoring VMs from one cluster to a new cluster as outlined in the Harvester documentation. v1.1.0 admission controller wants the VM to have already existed in the cluster before it will register the backup metadata.

From harvester pod logs:
time="2022-11-02T21:23:33Z" level=error msg="can't sync vm backup metadata, target:

[2022-11-03 05:37] bk201 opened #3096 "[FEATURE] Upgrade: add and verify checksums of squashfs image"
**Is your feature request related to a problem? Please describe.**

The squashfs image integrity is not verified before upgrading a node.

**Describe the solution you'd like**

- Need to publish squashfs image checksum within ISOs. Perhaps we need support in the luet-makeiso or elemental tool.
- Verify the checksum with the downloaded image before upgrading.

**Describe alternatives you've conside

[2022-11-03 05:48] bk201 commented on #3095
@FrankYang0529 Could you take a look? Thanks!

[2022-11-03 06:33] bk201 opened #3098 "[BUG] Upgrade: a re-run upgrade_node job might miss some version-based patches"
**Describe the bug**

We have seen pre-drain or post-drain jobs fail, and users start a new upgrade again.
Due to the system version is already upgraded, the [previous version detection](https://github.com/harvester/harvester/blob/a4872361145e0d0b99c4afeb6052f344acd48f30/package/upgrade/upgrade_node.sh#L252) in upgrade_node is not reliable.

**To Reproduce**
Steps to reproduce the behavior:
1. Upg

[2022-11-03 06:57] Martin-Weiss commented on #3068
IMO - we should not just „fix this in documentation“ - we should add a direct link in the harvester UI to allow access to the longhorn UI. (We also might want to expose the explorer UI).. maybe in advanced / danger / …

[2022-11-03 07:03] Martin-Weiss commented on #3083
Thanks for testing - in this case I assume this is a bug in the webhook. Can you try to set 80% with the longhorn UI?

[2022-11-03 07:34] guangbochen commented on #1873
please refer to https://github.com/harvester/harvester/issues/2937#issuecomment-1300635489 as a temp workaround for now, thanks, Also please let us know if it will work for u guys, thanks.

[2022-11-03 08:38] FrankYang0529 commented on #3067
https://github.com/harvester/harvester/pull/2836
- the status of all volumes (health ok or detached)  (kubectl get volumes -A)

https://github.com/harvester/harvester/pull/3093
- node health / all nodes ready
- kubectl get clusters.cluster.x-k8s.io local -n fleet-local
- kubectl get machines -n fleet-local

https://github.com/harvester/harvester/pull/3700
- for sufficient free disk space to load i

[2022-11-03 08:57] Martin-Weiss opened #3100 "[BUG] Can not specify multiple vip pool CIRDs with comma separation"
**Describe the bug**
Trying to specify multiple vip-pools in the default namespace comma separated:

![grafik](https://user-images.githubusercontent.com/13362573/199679678-23ae8b29-4032-4de4-8790-04f4e7e21dc4.png)

**To Reproduce**
Try to specify two CIDRs with comma separated for the default namespace.

**Expected behavior**
Multiple CIDRs should be able to be specified.

**Environment**
 - Harve

[2022-11-03 09:08] janeczku commented on #3089
@guangbochen Here is the log file for the `calico-node` pod from the time period during which thousands of IPAMHandler resources were created.

[calico-node.20221101.log](https://github.com/harvester/harvester/files/9926924/calico-node.20221101.log)

[2022-11-03 09:10] janeczku commented on #3089
The following operations are repeated over and over again in short intervals:

[code]

[2022-11-03 09:13] janeczku commented on #3089
[code]
and right after
[code]

[2022-11-03 09:16] janeczku commented on #3089
Potential root cause: https://github.com/projectcalico/calico/issues/6920

[2022-11-03 09:19] janeczku commented on #3089
`vxlan.calico` interface state `unknown`:

[code]

[2022-11-03 10:03] futuretea commented on #3089
refer to https://github.com/rancher/rke2-docs/pull/4/files

workaround: install iptables to each guest cluster node

[2022-11-03 10:47] rajesh1084 commented on #3091
[kube-system_kube-apiserver-harv-node1_5ca3c4e79a65ef37c1d591197744493f.zip](https://github.com/harvester/harvester/files/9927560/kube-system_kube-apiserver-harv-node1_5ca3c4e79a65ef37c1d591197744493f.zip)
[kube-system_etcd-harv-node3_67c7ddaaa7ef609d17948e7397585b18.zip](https://github.com/harvester/harvester/files/9927561/kube-system_etcd-harv-node3_67c7ddaaa7ef609d17948e7397585b18.zip)
[kubelet

[2022-11-03 10:52] TachunLin commented on #2432
Verified **fixed** on v1.1.0. Close this issue.

### Result
When one Harvester node upgrade from v1.0.1 -> v1.0.2 -> v1.0.3 to v1.1.0, we could able to add new nodes to the upgraded Harvester.

* Successfully join the second node `harvester-node-1` after node 0 upgraded to v1.1.0
![image](https://user-images.githubusercontent.com/29251855/199696637-170d6f6f-34a3-4a74-8978-98684844b36b.png)

* Succ

[2022-11-03 10:54] janeczku commented on #3089
Worth noting though, that other than what is described in that doc, we don't see any errors in the calico node logs regarding missing iptables executable.

[2022-11-03 11:23] mircea-pavel-anton opened #3101 "[Question] GitOps Tools Available"
Hello!

I was just wondering if we can use the same gitops tools that we use to manage "regular" kubernetes cluster (say for example Flux) to manage a Harvester cluster as well.

[2022-11-03 11:44] futuretea commented on #3089
workaround: install iptables to each guest cluster node by cloud-init User-Data

![image](https://user-images.githubusercontent.com/15064560/199711869-001a98bd-22fe-4c27-b28d-6543421da8c4.png)

[code]

[2022-11-03 11:49] futuretea commented on #3089
I find the related errors by describe ingress-nginx pod

[2022-11-03 11:50] w13915984028 commented on #3091
@brandond `etcd` seems not running (failed ?) in `harv-node3`

rancher@harv-node3:~> ps aux | grep " etcd "

<del> rancher 34383 0.0 0.0 10248 748 pts/0 S+ 10:28 0:00 grep etcd (only grep process itself)  </del>

comparing, it is in `harv-node1`
rancher@harv-node1:~> ps aux | grep " etcd "

`root 12046 62.2 0.2 11779908 582260 ? Ssl Oct20 12652:04 etcd --config-file=/var/lib/rancher/rke2/server/db

[2022-11-03 13:19] #2432 closed, assigned to FrankYang0529, TachunLin

[2022-11-03 14:08] guangbochen commented on #3089
@janeczku install the iptables via cloud-init works for me, this seems to be a known limitation of the newer [RKE2 versions](https://docs.rke2.io/known_issues/#canal-and-ip-exhaustion), wondering which cloud image did u use?

[2022-11-03 17:11] brandond commented on #3091
I'm confused, the issue mentions that adding a **third** node causes the **second** node to become unavailable. I'm only seeing logs here from node 1 and 3 - where are the logs from node 2?

I will also say that the way [rajesh1084](https://github.com/rajesh1084) has pasted the logs and CLI output into the comment makes it very hard to read and follow this thread. Please surround things with a cod

[2022-11-03 19:32] w13915984028 commented on #3091
@brandond please refer . The NODE with name `harv-node3` is the second NODE joined the cluster, it is a bit confusing.  And this NODE is in abnormal state.

![image](https://user-images.githubusercontent.com/31133476/199816489-8f1a5c0c-c50c-4f4b-bba2-990caf86590c.png)

[2022-11-03 20:21] brandond commented on #3091
ah ok, sorry I missed that bit.

[2022-11-03 20:30] brandond commented on #3091
etcd on `harv-node-3` can't connect to etcd on `harv-node-1` to join the cluster:
[code]
Specifically: `"msg":"failed to get cluster response","address":"https://172.26.50.135:2380/members","error":"Get \"https://172.26.50.135:2380/members\": Service Unavailable"`

Can you run the following command on all three nodes and attach the resulting tarballs?
[code]

[2022-11-03 21:59] ibrokethecloud commented on #3101
what aspects of harvester would you like to be managed by gitops?

[2022-11-03 22:02] mircea-pavel-anton commented on #3101
It would be nice if I could have a directory full of yml files that describe all my VMs and their configuration (networking, pci devices etc).

I don't necessarily want to write them out by hand, but rather to create some VMs, then get the yml, put it in a repo and be able to tear down and recreate the environment, or easily go from testing to production envs.

[2022-11-03 22:40] ibrokethecloud commented on #3101
creating networks, vm's should be straight forward.

PCIDevices I will need to check since the UI does additional CRD creation in the background for PCIDeviceClaims.

[2022-11-03 22:58] mircea-pavel-anton commented on #3101
Correct me if I am wrong, but the CRD creation is happening when the actual device is "enabled" for passthrough, right? Not when the VM is created.

So there should be a separate yaml file with the CRD to "represent" the action of enabling the device.