[2021-12-05 14:38] TachunLin commented on #1241
Passed the addition testing on bare machine with  `v1.0.0-rc1`. Close this issue.

- [x]  `UEFI` firmware + `GPT` (Default) + `Auto disk provisioning` config

   - [x] `PASS` the auto disk provisioning on harvester `Create` node

### Result
Create mode can auto provision extra disks correctly without error

![image](https://user-images.githubusercontent.com/29251855/144747366-6b4f7502-286e-4768-9a

[2021-12-05 14:38] #1241 closed, assigned to johnliu55tw, TachunLin

[2021-12-05 15:04] n313893254 commented on #1612
**Test Plan**
Check list/detail pages resource information

[2021-12-06 02:06] yasker commented on #1630
Might be the same reason as https://github.com/longhorn/longhorn/issues/2964

[2021-12-06 02:34] bk201 commented on #1627
`/dev/nvme0n11` is used rather than `/dev/nvme0np1`. Might need help from cOS team: https://github.com/rancher-sandbox/cOS-toolkit/blob/1128618eb838261702aff788f46e41973ecc99eb/packages/installer/cos.sh#L393-L396

[2021-12-06 02:45] gitlawr commented on #1630
Should be addressed in https://github.com/harvester/harvester/issues/1369

[2021-12-06 03:18] guangbochen commented on #1630
@yasker what's your guest k8s version with either the RKE1/RKE2 node driver?

[2021-12-06 03:25] guangbochen commented on #1577
@janeczku can u please confirm this issue is fine to be resolved, thanks.
- users can disable the Harvester cloud provider via setting the option to `None`
- users can install the `Guest-CSI` driver by adding the harvester chart repo https://github.com/harvester/charts and installing the CSI driver chart manually.

[2021-12-06 03:34] yaocw2020 commented on #1628
For rke1, users have to deploy harvester-cloud-provider from rancher market manually.

[2021-12-06 03:43] guangbochen commented on #1334
sounds good to me, loop @gitlawr

[2021-12-06 03:58] guangbochen commented on #1628
@yaocw2020 we will need to update the doc on how to setup the Harvester CCM in RKE1 with the new v1.0.0 release https://docs.harvesterhci.io/v1.0/rancher/cloud-provider/#deploying-to-the-rke1-cluster-with-harvester-node-driver
- the testing purpose u may need to provide a quick-to-test method since the Harvester CCM chart is not released.

[2021-12-06 04:04] weihanglo commented on #1608
- ✅ Verified that the same disk cannot be added twice with https://github.com/harvester/dashboard/pull/186/commits/3807b7f0ad0cc20ffaea768e442a4ad5c67681e3
- ❓ I tend to disable parent device option when a child device has been selected (and vice versa). Can we resolve this within the same issue? Or creating another issue is better?

<img src="https://user-images.githubusercontent.com/14314532/144

[2021-12-06 04:32] weihanglo commented on #1613
Need to confirm the behaviors on different scenarios:

- User provides `resources.requests` only: Fill limits with that requests value.
- User provides no limits nor requests: Invalid operation.

Any comment? @guangbochen @WuJun2016

[2021-12-06 04:33] n313893254 commented on #1608
Sure, let me fix it.

[2021-12-06 06:47] TachunLin commented on #1613
@weihanglo, @guangbochen,
I have also tried this issue both on rancher `v2.6.3-rc2` and `v2.6.3-rc3`
I found on `v2.6.3-rc2` the default node driver version is `v0.3.2`

![image](https://user-images.githubusercontent.com/29251855/144799771-2f7c81b1-87f2-4075-a2b7-dd35bc986e73.png)

I tried to remove builtin and manual edit node driver to `v0.3.4` , it can provision rke2 cluster correctly.

Also I

[2021-12-06 06:52] guangbochen commented on #1613
@weihanglo I think we also include `User provides resources.limits only: Fill limits with that value and auto-fill the resources.request.` ?
And @TachunLin it is correct that the supported Harvester node driver is `v0.3.4`, so prefer to ask users to test using the current latest Rancher `v2.6.3-rc3` or above.

[2021-12-06 07:28] wangpan-hqu commented on #1161
I am following wiki to setup development environment，there are many problems as follows：
1.In go environment, do GoLand and harvester need to be on the same host? If not, how can they be connected
2. What kind of effect can you see when setting up the development environment
3. Can you give a detailed document

[2021-12-06 07:34] lanfon72 commented on #1360
Verified the _vm-force-deletion-policy_ works as expected.

Test Information
----
* Environment: **qemu/KVM** 3 nodes
* Harvester Version: **master-3b5fe2e0-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with at least 2 nodes
2. Create Image for VM creation
3. Create 2 VMs on Node A
4. Disable _vm-force-deletion-policy_ in Advanced Settings
5. shut down Node A
6. D

[2021-12-06 07:34] #1360 closed, assigned to FrankYang0529, lanfon72, WuJun2016

[2021-12-06 09:02] lanfon72 commented on #1497
@weihanglo now it's yours again :bowing_man:

[supportbundle_6285e994-c3c3-490b-8628-0a2334de5a49_2021-12-06T08-54-32Z.zip](https://github.com/harvester/harvester/files/7659418/supportbundle_6285e994-c3c3-490b-8628-0a2334de5a49_2021-12-06T08-54-32Z.zip)

Test Information
----
* Environment: **qemu/KVM** 3 nodes
* Harvester Version: **master-3b5fe2e0-head**
* **ui-source** Option: **Auto**

ipxe-ex

[2021-12-06 11:16] lanfon72 commented on #761
@gitlawr do you have any suggestion to verify generated kubeconfig?
I checked the content almost the same (only user.token is different), do we expect some fields should be different?

[2021-12-06 11:50] lanfon72 commented on #761
Verified Customized certificate for VIP works as expected.

This issue will be closed when the verification of generate kubeconfig is confirmed and verified.

Test Information
----
* Environment: **qemu/KVM** 3 nodes
* Harvester Version: **master-3b5fe2e0-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with at least 2 nodes
2. Generate self-signed TLS certificates f

[2021-12-06 15:22] TachunLin opened #1633 "[BUG] Harvester management URL did not display VIP on console UI for node2 and node 3"
**Describe the bug**

On 3 node harvester cluster, both node2 and node3 display wrong management URL, it show up node1's IP with 30443 port
instead of the VIP.

Node 2 console display node 1 IP
![image](https://user-images.githubusercontent.com/29251855/144870220-117327e3-d924-4b01-a75d-ae25c3a772a3.png)

Node 3 console display node IP
![image](https://user-images.githubusercontent.com/29251855/14

[2021-12-06 15:26] n313893254 commented on #1450
**Test Plan**
- Check the Resource Quota of the project create/edit/detail page.
- Check the workload deploy successfully

TBH, I am not sure what the Resource Quota of the namespace detail page is expected. That makes me confused, I think the progress bar should display more useful information for users.

[2021-12-06 16:02] simonflood opened #1634 "[BUG] Welcome screen asks to agree to T&Cs for using Rancher not Harvester"
**Describe the bug**
The Harvester welcome screen post-install has a checkbox to agree to the T&Cs for using Rancher - shouldn't this be for using Harvester?

**To Reproduce**
Steps to reproduce the behavior:
1. Install Harvester
2. Go to management page and see last line (before Continue button)

**Expected behavior**
Whilst Rancher (software) is obviously being used for Harvester admin interface

[2021-12-06 16:35] TachunLin commented on #1561
Reproduce this issue on `v1.0.0-rc1`,
After fully shutdown all 3 nodes bare machine and power on after 1 hour. Still encounter the same issue for not being able to launch harvester cluster.

### Result
This time can't access harvester dashboard via VIP and unable to ping each node's ip.

### Status after fully reboot

Node1 console output
![image](https://user-images.githubusercontent.com/29251855

[2021-12-06 17:31] oxr463 opened #1636 "[Question] No network interface has been specified yet after initial installation"
I installed harvester on a single node and during the installation I chose `eno1` as the Management NIC and now I'm getting this message:

URL: https://10.0.0.218/dashboard/c/local/harvester/harvesterhci.io.host/harvester#basics

![image](https://user-images.githubusercontent.com/43783393/144893226-d1c2b670-6a15-4866-bdd0-66bbcb0ee802.png)

I tried setting it to the management interface but it say

[2021-12-06 18:11] yasker commented on #1630
Thanks @gitlawr @guangbochen , confirmed it's fixed in `v1.21.7+rke2r1`.

[2021-12-06 18:11] #1630 closed, assigned to gitlawr

[2021-12-06 19:20] noahgildersleeve commented on #1611
How do you specify

Would that just be any VLAN network that is pulling via DHCP?

[2021-12-06 21:40] noahgildersleeve opened #1637 "[BUG] When you change the memory on a VM it doesn't change guest memory"
**Describe the bug**

When you edit the memory on a VM it doesn't affect the actual guest memory
**To Reproduce**
Steps to reproduce the behavior:
1. Create a VM with 2GB of RAM
2. Start the VM
3. Check the memory available with `top`
4. Change the memory via Harvester UI to 4GB
5. Wait for VM to restart
6. Check new available memory with `top`
**Expected behavior**

The memory should now have 4GB

[2021-12-07 00:18] noahgildersleeve commented on #1476
Tested in master-140adb56-head. When adding route manually it still shows as unknown. That is the same route that is being set as DHCP. It shows as active via DHCP. The VM is routing to the internet though.
![Greenshot 2021-12-06 16 15 32](https://user-images.githubusercontent.com/83787952/144942988-9a9d8286-b97d-4e0f-a88e-437c27491c01.png)
[supportbundle_57ddef0a-5e9c-4a55-9f91-96f8494dab45_2021-

[2021-12-07 00:22] weihanglo commented on #1623
Hi, @alexdepalex.
Could you try refreshing the page and see if the disks is enabled again? I observed that websocket update message doesn't work on dropdown menu of additional disks. Need you confirm that you faced the same issue.

[2021-12-07 00:42] weihanglo commented on #1637
I found that the PUT payload contains the old values in `domain.memory.guest` field. It might prevent KubeVirt from re-calculating a new guest memory.

Below are my changing on a VM with 1GB memory to 3GB, and the change didn't reflect on guest memory in the payload.

<img src="https://user-images.githubusercontent.com/14314532/144943936-22e95483-89a6-47a4-84f5-0fd3759f050c.png" width="600px">

@W

[2021-12-07 01:42] noahgildersleeve commented on #1476
After talking with @TachunLin the status updated over time. He said that it takes about 15 minutes. This probably shouldn't take this long, and it shows as unknown while waiting to update.

[2021-12-07 01:52] guangbochen commented on #1623
@n313893254 can u please help to double-check on the UI side of the `BlockDevice` CR subscription.

[2021-12-07 02:23] lanfon72 commented on #1637
@WuJun2016 please also help to check the decreasing.

base on the snapshot, the VM created with 4GiB -> increase to 6GiB (dashboard success) -> decrease to 3GiB (error as below)
![image](https://user-images.githubusercontent.com/5169694/144954216-86fcaed8-45a0-4990-aa06-9c9b617573c4.png)

payload
[code]

[2021-12-07 02:27] FrankYang0529 commented on #988
@guangbochen I would like to do some enhancements to prevent remote data is deleted unexpectedly.

1. Although we have `blockOwnerDeletion` in VolumeSnapshot, it is not effective if we don't specify `--cascade=foreground` when we delete VMBackup. I have tried to stop harvester-controller and deleted the finalizer in VMBackup. If we run `kubectl delete vmbackup <vm-backup-name> --cascade=foreground

[2021-12-07 02:28] WuJun2016 commented on #1637
@weihanglo  This is the backend error, if the order of operation like you, first increase and then go to reduce, I think the frontend also need to change, the frontend needs to remove memory.guest。   cc @guangbochen

[2021-12-07 02:45] weihanglo commented on #1637
@WuJun2016 The #1638 fix works as "override whatever frontend passes in and calculate guest memory based on `resources.limits`". Thus, I don't think a frontend change is necessary, but it's might be good leave it blank in terms of consistency?

[2021-12-07 02:49] guangbochen commented on #988
sure, this is LGTM and will need to coordinate with the UI team to add the `--casade=foreground` option while deleting the VMBackup, cc @WuJun2016

[2021-12-07 02:53] WuJun2016 commented on #1637
Then I think when [1638](https://github.com/harvester/harvester/pull/1638) pr is merged in, you won't get the error you reported above, and there's no need to do any processing on the frontend。

[2021-12-07 02:57] johnliu55tw commented on #812
Please see https://github.com/harvester/harvester-installer/pull/174 for detail of the fix.

[2021-12-07 04:24] lanfon72 commented on #1612
verified this issue has been fixed.

Test Information
----
* Environment: **qemu/KVM** 3 nodes
* Harvester Version: **master-3b5fe2e0-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with nodes
2. compare monitor data between Hosts and details of host (click the host name)

[2021-12-07 04:24] #1612 closed, assigned to lanfon72, n313893254

[2021-12-07 08:05] guangbochen commented on #1602
**Test plan:**

case 1：
- create vm "vm-1"
- create a image "img-1" by export the volume used by vm "vm-1"
- delete vm "vm-1"
- delete image "img-1"
- image "img-1" will be deleted

case 2:
- create vm "vm-1"
- create a image "img-1" by export the volume used by vm "vm-1"
- delete vm "vm-1"
- update image "img-1" labels
-image "img-1" will be updated

[2021-12-07 10:30] FrankYang0529 commented on #1181
Following Equinix documents, I can create an Elastic IP and use it between multiple servers through BGP.

* [Configuring Local BGP](https://metal.equinix.com/developers/docs/bgp/local-bgp/)
* [Route BGP with BIRD](https://metal.equinix.com/developers/docs/bgp/route-bgp-with-bird/)
* https://github.com/packethost/network-helpers/blob/master/routers/bird/README.md

Steps:

1. Request an elastic IP a

[2021-12-07 11:58] lanfon72 commented on #1521
Verified the bug has been fixed.

Test Information
----
* Environment: **qemu/KVM 4 nodes**
* Harvester Version: **master-655c251a-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with 4 nodes which joining node MUST join by VIP (point `server-url` to use VIP)
2. Make sure all nodes are ready
    a. Login to dashboard, check host **state** become `Active`
    b. SSH

[2021-12-07 11:58] #1521 closed, assigned to bk201, lanfon72

[2021-12-07 12:59] lanfon72 commented on #1497
### Narrow down the problem
** tested on **master-655c251a-head**

Working Cases
- 2 nodes, delete 2nd node
![image](https://user-images.githubusercontent.com/5169694/145033132-bdd933bf-8c8a-482e-8ba7-90cd5d58512b.png)

- 4 nodes, delete agent node (4th node)

Not Working Cases
- 3 nodes, delete any one of nodes
- 4 nodes, delete any one of server nodes

[2021-12-07 14:23] joshimoo commented on #1588
The panic is caused by https://github.com/harvester/harvester/blob/v1.0/pkg/controller/master/backup/backup.go#L566-L574
not having a nil check against
`vmBackup.Status.BackupTarget`

Since in the case where the annotation is missing and status does not have a `BackupTarget`, you will run into the panic.
The reason the status is not updated correctly is that update calls for a resource that has a

[2021-12-07 16:55] aeppsSUSE opened #1640 "Request to have a different password between the root password for the Harvester install and the password for UI access[FEATURE]"
**Is your feature request related to a problem? Please describe.**

For government, financial, and military contractor Clients there will be a requirement to have different passwords between the root account at the core of the Harvester install and the UI access. Segregation of duties requirements in these industries will not allow a datacenter UI user to have access to the core root password.
**D

[2021-12-07 20:38] noahgildersleeve commented on #1602
Tested in master-655c251a-head with previous test plan

[2021-12-07 20:38] #1602 closed, assigned to futuretea, noahgildersleeve

[2021-12-07 21:01] noahgildersleeve commented on #1380
Tested in master-655c251a-head. I tried to upload opensuse qcow2 image, and it gave a 413 error in the console and then gave an error after a 60 sec timeout. image used was http://cloud-images.ubuntu.com/releases/focal/release/ubuntu-20.04-server-cloudimg-amd64-disk-kvm.img
[supportbundle_9a2fd2e9-f01f-46d9-92aa-6d89e75fd98d_2021-12-07T21-07-06Z.zip](https://github.com/harvester/harvester/files/76

[2021-12-07 21:46] noahgildersleeve commented on #1439
Tested in  master-655c251a-head with vagrant pxe install. Verified as fixed
![Screenshot from 2021-12-07 13-38-54](https://user-images.githubusercontent.com/83787952/145110270-1e4ff666-6eda-494d-88fa-bb5905540d57.png)

[2021-12-07 21:46] #1439 closed, assigned to w13915984028, noahgildersleeve

[2021-12-07 23:15] noahgildersleeve commented on #1611
Ah. I see now that it was on the most recent nightly build, not on the RC1. Tested in master-655c251a-head. Added in external-vlan. Job completed without error in embedded Rancher
![Screenshot from 2021-12-07 15-15-13](https://user-images.githubusercontent.com/83787952/145120633-3be53e95-1f8f-403a-870f-9c9d856c55e0.png)
.

[2021-12-07 23:15] #1611 closed, assigned to yaocw2020, noahgildersleeve

[2021-12-07 23:50] yasker commented on #1617
FYI: It is caused by the read-only filesystem on the root disk.

https://github.com/rancher/rke2/issues/2119#issuecomment-984627066

Use `kubectl -v3 get pod` to get the full debug message.
<img width="1445" alt="Screen Shot 2021-12-07 at 3 48 30 PM" src="https://user-images.githubusercontent.com/3344618/145123638-4074b1ce-80a8-4385-819d-c9a955ff7c79.png">

[2021-12-08 00:07] ibrokethecloud opened #1641 "[FEATURE] Ability to use HwAddr to lookup NetworkInterface Name in harvester-installer."
**Is your feature request related to a problem? Please describe.**

Currently harvester-installer needs a create.yaml or join.yaml which contains the name of the interface to be used for harvester-mgmt network definition. This generally works fine in private cloud environments where the hardware details are available before hand or if we are using the ISO installation method.

When using PXE insta

[2021-12-08 00:08] ibrokethecloud commented on #1641
Addressed by: https://github.com/harvester/harvester-installer/pull/183

[2021-12-08 00:14] noahgildersleeve commented on #1619
Tested in master-655c251a-head. Verified that SSH key could be added via teamplates page

[2021-12-08 00:14] #1619 closed, assigned to WuJun2016, noahgildersleeve

[2021-12-08 00:55] noahgildersleeve commented on #1637
Tested in master-655c251a-head. Verified with following steps as well as that the spec changed in YAML.

1. Create a VM with 2GB of RAM
2. Start the VM
3. Check the memory available with top
4. Change the memory via Harvester UI to 4GB
5. Wait for VM to restart
6. Check new available memory with to
![Greenshot 2021-12-07 16 45 47](https://user-images.githubusercontent.com/83787952/145129231-90e329

[2021-12-08 00:55] #1637 closed, assigned to weihanglo, noahgildersleeve

[2021-12-08 00:57] noahgildersleeve commented on #1622
Tested in master-655c251a-head. Verified as fixed by creating multiple VMs and checking displayed memory.

[2021-12-08 00:57] #1622 closed, assigned to WuJun2016, noahgildersleeve

[2021-12-08 02:03] n313893254 commented on #1046
Hi，@johnliu55tw. UI has merged the PR, you can use the latest UI to verify the issue.  If you have any problems, please let me know. thx

[2021-12-08 02:06] noahgildersleeve commented on #812
Tested with master-655c251a-head on vagrant ipxe install by changing token to `satellite of love`. Install of 3 node cluster completed successfully.

[2021-12-08 02:06] #812 closed, assigned to johnliu55tw, noahgildersleeve

[2021-12-08 02:19] wangpan-hqu commented on #1161
I have the same problem，how did you finally solve it

[2021-12-08 03:52] wangpan-hqu opened #1643 "Setting Up Harvester Development Environment"
I follow wiki Setting Up Harvester Development Environment, encountered a problem

FATA[0000] failed to create harvester server: Failed to create virtualMachineTemplateVersion harvester-public/iso-image-base-version: the server could not find the requested resource (post virtualmachinetemplateversions.meta.k8s.io)

[2021-12-08 05:25] weihanglo commented on #1497
Looks like nodes in master role cannot be deleted for current [impl](https://github.com/harvester/harvester/pull/1566). Server nodes become `NotReady` firs and result in containers of pod cannot be scheduled, no matter what toleration I add. OTOH, agent nodes are free to delete.

[2021-12-08 06:03] johnliu55tw commented on #1046
@n313893254 UI LGTM, I'll move this to ready for testing, thanks!

[2021-12-08 06:05] guangbochen commented on #1497
seems like a known issue of https://github.com/harvester/harvester/issues/1398, can we check if fully shutting the master node will temporarily resolve the issue, thanks.

[2021-12-08 06:05] johnliu55tw commented on #1046
Please see https://github.com/harvester/harvester/pull/1615 for how to change SSL parameters.

[2021-12-08 06:06] TachunLin commented on #1475
Verified **fixed** on master-655c251a-head (based on v1.0.0-rc1). Close this issue.

### Result
Shutdown all 3 harvester cluster nodes machines and start after hours, can download the KubeConfig without error.
Can run kubectl on all nodes correctly too.

### Test Information
* Test Environment: 3 nodes harvester on local kvm machines
* Harvester version: master-655c251a-head (12/7, based on v1.0.0

[2021-12-08 06:06] #1475 closed, assigned to gitlawr, TachunLin

[2021-12-08 06:42] TachunLin opened #1644 "[BUG] Harvester pod crashes after upgrading from v0.3.0 to v1.0.0-rc1 (contain vm backup before upgrade)"
**Describe the bug**

Prepare a 4 nodes harvester cluster with v0.3.0 with a vm backup then do manual upgrade to v1.0.0-rc1
Can't access harvester, harvester pod crashes after the upgrade.

**To Reproduce**
Steps to reproduce the behavior:
1. Download harvester v0.3.0 iso and do checksum
2. Download harvester v1.0.0 iso and do checksum
3. Use ISO Install a 4 nodes harvester cluster
4. Create sever

[2021-12-08 08:19] lanfon72 commented on #1497
I tested the condition, you can't delete the node which has been powered off, the dashboard now will display the state as below:
![image](https://user-images.githubusercontent.com/5169694/145173002-1c99db72-bf5d-4c3c-b613-50400fba7f0a.png)
(it was display `In Progress` before)

And I think even we can delete the node when the node is off, but I think it will join back as the `50-rancher.yaml` will

[2021-12-08 08:25] weihanglo commented on #1497
As @lanfon72 said, the fix is not functional on server node. I propose removing the delete-node-controller temporarily, and documenting this caveat with alternative guide to uninstall rke2 service.

[2021-12-08 09:38] TachunLin opened #1645 "[BUG] Switch kubevip pod in harvester cluster under dhcp (dnsmasq) the VIP is missing and failed to access harvester"
**Describe the bug**

In a 3 nodes harvester cluster with VIP setup on DHCP (dnsmasq), when kubevip switch from one node to another can make VIP out of connectivity. User can no longer able to access harvester dashboard by VIP.

**Where to find**
This issue discovered during the verification of upgrading harvester from v0.3.0 to v1.0.0-rc1

* vip br0 shutdown after reboot
[code]

* kubevip pod log

[2021-12-08 10:20] johnliu55tw commented on #1590
I think we could leverage Dracut module [`ifcfg`](https://github.com/openSUSE/dracut/tree/SUSE/055/modules.d/45ifcfg) to create the `ifcfg-<iface>` and `resolv.conf` files for our use after switching root. But there are some catches:
- Based on my testing, the module can correctly create ifcfg files for static IP configuration, but **not for DHCP configuration**. It always generates ifcfg file wit

[2021-12-08 10:22] lanfon72 commented on #1585
Verfied the bug has been fixed with new feature `support-bundle-timeout` introduced in settings.

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: master-655c251a-head
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with at least 2 nodes
2. Navigate to Advanced Settings, modify `support-bundle-timeout` to `2`
3. Navigate to Support, Click **Ge

[2021-12-08 10:22] #1585 closed, assigned to FrankYang0529, lanfon72, WuJun2016

[2021-12-08 13:48] guangbochen commented on #1585
can we confirm if the default timeout is set to `0` the SB will be downloaded even if the node is force shutdown, thanks?

[2021-12-08 14:14] lanfon72 commented on #1585
tested `support bundle` will be generated and downloaded when timeout set to `0`.
(either the node is off before generated or during the generating)

But as the verify steps, generate function will stop if hit the timeout.

[2021-12-08 14:31] guangbochen opened #1646 "[FEATURE] Support Bundle timeout enhancement"
I would suggest we revert the change: rancher/support-bundle-kit#16 (comment) to collect node bundles even some nodes don't push bundle ack in time.

Related to: https://github.com/harvester/harvester/issues/1585

[2021-12-08 14:33] guangbochen commented on #1585
I have logged an issue and we can track it in the https://github.com/harvester/harvester/issues/1646, thanks.

[2021-12-08 15:00] bashofmann opened #1647 "[FEATURE] Support configuring a VLAN at the management interface in the ISO installer UI"
**Is your feature request related to a problem? Please describe.**
As a follow up to https://github.com/harvester/harvester/issues/1390, it should be possible to also support setting a vlan for the management interface in the ISO installer UI.

**Describe the solution you'd like**
The installer UI has an additional input field for the vlan id in the network step.

**Additional context**
The vlan i

[2021-12-08 15:21] janeczku commented on #761
Can we configure the SSL certificate during installation via config-create ?

[2021-12-08 15:39] janeczku opened #1648 "[BUG] Regression: The installer and dashboard are always displayed on tty1"
Harvester 1.0-rc1

Regression of https://github.com/harvester/harvester/issues/485

Using PXE boot entry such as:

[code]

Expectation:
Installer is displayed on both tty1 and ttyS1

Actual:
Installer is only shown on tty1 (see left side on screenshot). ttyS1 (right side on screenshot) shows a `rancher` login prompt.

<img width="901" alt="Screenshot 2021-12-08 at 16 33 52" src="https://user-image

[2021-12-08 16:19] bk201 commented on #1648
This is not a regression of https://github.com/harvester/harvester/issues/485
https://github.com/harvester/harvester/issues/485 displays the installer on the TTY specified in the **last** `console=` parameter.

I've changed the implementation to show the installer only on the TTY specified in the **first** `console=` parameter. Because important kernel messages are output to the last one. In some

[2021-12-08 16:29] lanfon72 commented on #1450
As I tested, **Resource quota** for Namespaces is not work as expected.
Please check those verify steps after step 6.

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-655c251a-head**
* **ui-source** Option: **Auto**
* Rancher Version: **master-e4db3ee-head** (v2.6-head tagged)
* Rancher cluster type: Docker

### Verify Steps:
1. Install Harvester with any no

[2021-12-08 21:00] roncterry opened #1649 "[BUG] Installation fails when doing a manual PXE install"
**Issue**
When installing manually after booting via PXE the OS image is installed and reboots successfully but no container images were installed causing the Harvester install to not function. It appears that the container image test/install is either being skipped or failing during the installation process.

**Steps to Reproduce**
To reproduce, boot via PXE but do not provide a yaml config file.

[2021-12-08 21:25] noahgildersleeve commented on #1410
Tested in master-655c251a-head with vagrant ipxe-examples config. Tested with included test case

[2021-12-08 21:25] #1410 closed, assigned to FrankYang0529, noahgildersleeve

[2021-12-09 01:20] noahgildersleeve commented on #1536
Tested in master-655c251a-head.
1. Created new VMs
2. ran through 3 stage chained backups.
3. All backups completed and showed as ready in backups list

[2021-12-09 01:20] #1536 closed, assigned to FrankYang0529, noahgildersleeve

[2021-12-09 01:40] noahgildersleeve opened #1650 "[BUG] Restoring status from backup never changes to running"
**Describe the bug**

When you restore a vm from backup it goes to restoring status, but never back to running
**To Reproduce**
Steps to reproduce the behavior:
1. Create new VM
2. Take backup
3. restore from backup
**Expected behavior**

After restore is done the status should go back to running
**Support bundle**

[supportbundle_754ee1c7-96c6-45f2-98a9-705f42b7a2f6_2021-12-09T01-38-27Z.zip](http

[2021-12-09 02:10] n313893254 commented on #1450
The same failed with the upstream repo, we will wait for the upstream repo to fix it.

https://github.com/rancher/dashboard/issues/4412#issuecomment-986487125

[2021-12-09 02:19] yasker commented on #1650
sounds like the websocket problem. can you check if there are error messages in the developer's console? Reenable the warning should solve it.

[2021-12-09 03:20] noahgildersleeve commented on #960
Tested in master-655c251a-head. On restore from backup files were missing contents. I tested this on opensuse 15.3 and Ubuntu focal. This was on chained backups, but I also tested by
1. Run all 3 steps in attached script
[code]
2. Create backup
3. Restore from backup run final `md5sum -c file2.md5 file1-2.md5 file2-2.md5 file3.md5`
the files containing the checksums were empty.

[2021-12-09 03:30] noahgildersleeve commented on #1650
I tried it again and checked the web console and the network traffic via developer tools and didn't see anything. I also did all of this after resetting the enable warning setting on the SSL cert. A refresh still fixed the issue.

[2021-12-09 06:45] guangbochen commented on #1380
observe the [413 error](https://github.com/kubernetes/ingress-nginx/issues/4825) recently due to the ingress changes and should be resolved by adding the following config to disable the size check.
[code]

[2021-12-09 07:21] weihanglo commented on #1588
Note that there is a kubebuilder mark comment that enables subresource
https://book.kubebuilder.io/reference/generating-crd.html#status

However, I cannot inspect why the status field not retrieved.

[2021-12-09 09:03] coption opened #1652 "Can Harvester monitoring host hardwares?"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-12-09 09:18] guangbochen commented on #1409
@WuJun2016 the API part should be resolved with the `master-head` version, can u PTAL and fix it on the UI part, thanks.
![image](https://user-images.githubusercontent.com/4569037/145368499-6f4bd8d2-c87a-4155-a112-13ade54f9ec5.png)

[2021-12-09 09:25] n313893254 commented on #988
Hi, @FrankYang0529, Do you know how to add `--casade=foreground` from the API side.  Is the URL looks like `/v1/harvester/harvesterhci.io.virtualmachinebackups/default/test?propagationPolicy=Foreground`?

[2021-12-09 10:38] guangbochen commented on #1428
should be resolved by https://github.com/harvester/harvester-installer/pull/184 and move for testing.

[2021-12-09 11:20] yaocw2020 commented on #1476
The harvester network controller will ping the gateway every 15 minutes. I will add the function to initialize the route connectivity by pinging the gateway once the network is created.

[2021-12-09 12:06] TachunLin opened #1653 "[BUG] Create new VLAN shows duplicate records on networks page"
**Describe the bug**

Create new VLAN shows duplicate record on networks page
![image](https://user-images.githubusercontent.com/29251855/145393032-4209fe43-ca84-4905-a62d-bb4cb966d163.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Enable vlan with `harvester-mgmt`
2. Access Network page
3. Click Create
4. Given name and vlan id
5. Select `Manual` mode
6. Give `CIDR` and `Gateway`
7. C

[2021-12-09 12:28] TachunLin commented on #1424
Verified on `master-ee09e0c8-head` (12/7 after v1.0.0-rc1).

### Status
Current guest cluster in harvester can use customized VLAN with auto mode to retrieve IP correctly.
We have passed the first 3 steps of the test scenarios

1. Enable VLAN and create the VLAN network with the route. Make sure there is a DHCP server in your environment and select auto mode.

![image](https://user-images.githubus

[2021-12-09 13:57] TachunLin commented on #1052
According to task, we propose to begin the test coverage with the following scenarios

#### Environment Test Scenarios:

- [x] 1. Rancher and harvester are both under air gap environment within same subnet

- [x] 2. Rancher is under air gap environment while harvester have internet connection, they are located in same subnet

#### Validate point

- Can import harvester from Rancher correctly
- Can

[2021-12-09 17:54] lanfon72 commented on #1046
Verified the feature will work as expected when the input is totally correct, otherwise, the dashboard will break and can't reach anymore.

For **Protocols**, UI lists as below, but actually in 2021, only `TLSv1.2` and `TLSv1.3` will work on modern browser.
(`TLSv1.0` and `TLSv1.1` has been deprecated in most browsers since 2020)
![image](https://user-images.githubusercontent.com/5169694/145427269

[2021-12-09 18:04] lanfon72 commented on #1046
As I tested, in the **Step 8**, 2 ciphers (`ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256`) are assigned, but latter cipher `ECDHE-RSA-AES128-GCM-SHA256` will cause handshake failure, I'm not sure whether it is deprecated by nginx or should be a bug?

@guangbochen as we are going to release RC2 and current implementation already satisfy the original request, please check my concern in

[2021-12-09 18:13] noahgildersleeve commented on #1409
Tested with master-655c251a-head. This does change the password, however you get an error on submitting the API request. Is that acceptable @guangbochen @yasker ?
![2021-12-09_10-13](https://user-images.githubusercontent.com/83787952/145452586-a063c640-04b5-418d-89b2-28675fa635c0.png)

[2021-12-09 19:30] yasker commented on #1409
@guangbochen what's the expected behavior here? Do we have UI or are we asking users to use API to change the password?

[2021-12-09 19:43] roncterry opened #1654 "[BUG] Node Scheduling not Behaving as Expected"
**Describe the bug**
When node scheduling "Run VM on any available node" is selected the VMs are not evenly distributed across all node rather they are all scheduled on one node until that node is full and then scheduled on the next node util it is full and then the next etc.

**To Reproduce**
Launch a multiple instance set of VMs. Launch multiple single instance VMs.

**Expected behavior**
When "

[2021-12-09 20:02] roncterry opened #1655 "[BUG] When using a VM Template the Network Data in the template is not displayed"
**Describe the bug**
When creating a VM using a VM template that contains both user data and network data the network data is not displayed on the Virtual Machine: Create - Advanced Options screen. After creating the VM it appears that the network data was used even though it was not displayed on the create screen because it is displayed on the Advanced Options screen of the running VM.

**To Repr

[2021-12-09 20:27] noahgildersleeve commented on #1634
Tested in master-655c251a-head went to https://rancher.com/eula although that redirects to https://www.suse.com/licensing/eula/ . Is that acceptable?

[2021-12-09 20:37] yasker commented on #1654
@guangbochen not sure if we did anything different from v0.3.0. Might be a Kubernetes scheduling behavior?

[2021-12-09 21:57] wjimenez5271 commented on #1634
I see in the PR language now states "for using {vendor}". What does {vendor} get substituted with? Also the grammar isn't correct, you don't use a company, you use the product/software. Why not say "for using a Rancher Product"?

[2021-12-09 22:10] noahgildersleeve commented on #1634
@wjimenez5271 What page are you referring to? I don't see that in the eula page. Also Is it acceptable for the link to go to https://rancher.com/eula and redirect to https://www.suse.com/licensing/eula/, or should it go somewhere else?

[2021-12-10 01:16] WuJun2016 commented on #1409
test step:
![image](https://user-images.githubusercontent.com/24985926/145500766-ba080b59-3f36-4e4d-97fc-d78e27f0ab7d.png)
![image](https://user-images.githubusercontent.com/24985926/145500791-fe12f16c-9dc2-40cc-927e-99a70d337287.png)

@yasker   @noahgildersleeve

[2021-12-10 03:44] FrankYang0529 commented on #988
From [Kubernetes article](https://kubernetes.io/docs/tasks/administer-cluster/use-cascading-deletion/#use-foreground-cascading-deletion), I think `propagationPolicy=Foreground` is correct.

[2021-12-10 06:05] guangbochen commented on #1046
thanks @lanfon72, in regards to the above issues, I think it is better to add the following enhancement: cc @johnliu55tw @n313893254
- [ ] add `(deprecated)` for those deprecated the TLS versions. - UI
- [ ] add a regex to validate cipher format -UI
- [x] document the recovering steps on the https://docs.harvesterhci.io/v1.0/settings/settings/ page, thanks. - Docs

[2021-12-10 07:03] n313893254 commented on #1623
Hi, @weihanglo. Now the UI will get the latest BlockDevice when the user clicks disk dropdown. You can use the latest UI to test it.

[2021-12-10 08:12] guangbochen opened #1658 "[FEATURE] update RKE2 default cloud config path"
**Is your feature request related to a problem? Please describe.**
related to https://github.com/harvester/charts/pull/58

**Describe the solution you'd like**
- should set RKE2 default cloud config path to  `/var/lib/rancher/rke2/etc/config-files/cloud-provider-config` via `helmChartConfig` as the default path of chart is updated via https://github.com/harvester/charts/pull/58/files#diff-00e1ad71

[2021-12-10 08:16] guangbochen opened #1659 "[FEATURE] bump Harvester CCM & CSI chart of RKE2 v1.22"
**Describe the solution you'd like**
Need to bump Harvester CCM & CSI chart of RKE2 v1.22+ releases, and fix the default CSI bug https://github.com/harvester/harvester/issues/1629 on RKE2 v1.22+ versions

**Additional context**
related issue: https://github.com/harvester/harvester/issues/1629

[2021-12-10 08:18] WuJun2016 opened #1660 "[BUG] The volume unit on the vm details page is incorrect"
**Describe the bug**

size 100M volume,  when added to a VM, it is shown as 107374182400m
![image](https://user-images.githubusercontent.com/24985926/145540880-cf65034c-56c4-4821-9098-1fbd023b72eb.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a volume of size 0.1Gi in the volume page
2. Create a vm and add the previously created volume
3. Go to the vm details page, click on the

[2021-12-10 08:25] WuJun2016 commented on #1660
Fixed:
![image](https://user-images.githubusercontent.com/24985926/145541635-3470ddcc-5229-4679-938b-6741f19348aa.png)

[2021-12-10 08:26] gitlawr commented on #761
Yes, by using the system_settings in Harvester configuration to set the `ssl-certificates` setting.
See: https://docs.harvesterhci.io/v1.0/install/harvester-configuration/#system_settings
And the setting format in: https://github.com/harvester/docs/pull/88
@lanfon72 Can you help verify this use case?

For generated kubeconfig verification, check the CA certificate in kubeconfig is the user-provide

[2021-12-10 09:11] FrankYang0529 commented on #960
It looks like there is some delay for data from the cache to disk. I try to run a command `sync` before making the backup. I can get nonempty checksums.

@guangbochen, do you think it's a case? Thank you.

[2021-12-10 09:41] guangbochen commented on #1634
@WuJun2016 we should display either `Harvester` or `Rancher` upon the single or multi-cluster UI, should not use vendor here, thanks.

[2021-12-10 11:11] WuJun2016 commented on #1634
I based on the default value in the ui-pl to determine whether it is harvester or rancher, if the default value is Harvester will be displayed as Harvester, other cases are displayed as Rancher.
@guangbochen  @wjimenez5271 @noahgildersleeve   Do you think this is okay ?

[2021-12-10 11:29] TachunLin commented on #1424
Verified fixed on `master-ee09e0c8-head` with rancher `v2.6.3-rc3`. Close this issue.

### Result
Currently can access nginx deployment and loadbalancer from harvester node.

- [x] Pass the test scenario: Try to connect to the VIP allocated to the service on the Harvester host.

**Access rke2-cluster nodes**
[code]

[code]

**Access loadbalancer on rke2-cluster**
[code]

[code]

### Test Informati

[2021-12-10 11:29] #1424 closed, assigned to gitlawr, yaocw2020, TachunLin

[2021-12-10 14:15] TachunLin commented on #1620
Verified `fixed` on harvester `master-5d6f3db0-head` with rancher `v2.6-head`. Close this issue.

### Result
Access harvester from Rancher, on virtual machine page can load default three template to create VM.

**iso image base template**

![image](https://user-images.githubusercontent.com/29251855/145583546-59cea4ea-4072-437e-9cf7-2449776abb56.png)

**raw image base template**
![image](https://us

[2021-12-10 14:15] #1620 closed, assigned to WuJun2016, TachunLin

[2021-12-10 16:26] abonillabeeche opened #1661 "[BUG] rename vm-force-deletion-policy for vm-force-reset-policy"
The setting name infers a deletion of the virtual machine based on this policy but the real effect is that the virtual machine is being reset in order to start on another node. We should rename this setting to avoid confusion.

[2021-12-10 16:46] yasker commented on #1661
@guangbochen can we rename? I think the name comes from a similar setting in Longhorn but since we're deleting pods, not VMs, it's better to use `reset` instead of `deletion` in the name.

[2021-12-10 19:25] yasker opened #1662 "[FEATURE] one time boot option for ISO installation"
**Is your feature request related to a problem? Please describe.**
In Harvester UI, if we're installing a VM via ISO, after the installation is completed the ISO will be booted up again, which normal is undesired.

**Describe the solution you'd like**
Give an option to set temporarily boot order, so once the ISO installation is completed, we will boot from the main drive instead.

**Describe alter

[2021-12-11 00:38] noahgildersleeve commented on #1634
Tested in master-655c251a-head. Verified that the text is changed and that the URL is linking to the SUSE EULA page
![Screenshot from 2021-12-10 16-37-13](https://user-images.githubusercontent.com/83787952/145657167-2d8ebd33-14d6-4c78-a30f-37075b206219.png)
.

[2021-12-11 00:38] #1634 closed, assigned to WuJun2016, noahgildersleeve

[2021-12-11 00:41] noahgildersleeve commented on #1409
The button is there, but when you submit the request you get a parsing error.

[2021-12-11 01:13] noahgildersleeve commented on #1660
Tested in master-655c251a-head. Verified as fixed.
## Test Steps
1. Create new .1G volume
2. Create new VM
3. Create with raw-image template
4. Add opensuse base image
5. Add .1G Volume
6. Verify size in VM details on volume tab
![Screenshot from 2021-12-10 17-12-05](https://user-images.githubusercontent.com/83787952/145658516-73f5c72c-2543-46cd-9f90-8bc47f5ce2d4.png)

[2021-12-11 01:13] #1660 closed, assigned to WuJun2016, noahgildersleeve

[2021-12-11 02:01] noahgildersleeve commented on #1613
tested in master-655c251a-head with Rancher v2.6-head. I imported the testvm by config and provioned VMs with RKE1 and RKE2. The RKE1 and RKE2 VMs showed correctly. The

VM showed as having valid memory in Harvester UI, but `NaN` when looking through the harvester dashboard in virtualization management in Rancher.
![Screenshot from 2021-12-10 17-59-49](https://user-images.githubusercontent.com/837

[2021-12-11 14:02] gitlawr commented on #1409
@noahgildersleeve You don't need to go to the API-UI. It's a workaround before the fix.

To verify,
1. In Harvester UI, click the top-right avatar.
2. Select Account & API Keys.
3. Click the `Change password` button

[2021-12-12 00:50] #1616 closed, assigned to nobody

[2021-12-12 13:43] TachunLin commented on #1428
Verified `not fixed` on `master-5d6f3db0-head`. Move to implement pipeline

### Result
Verified several times on both provo bare machine and local kvm machines.

After user power on 3 harvester nodes machines with about 20 seconds interval between them.
* User `can't access harvester` dashboard by VIP, can only access node 01 IP.
* `Unable to access` node 2 and node 3 IP. Please refer to the follo

[2021-12-12 13:52] TachunLin commented on #1561
Try to verify this issue on latest harvester `master-5d6f3db0-head` with rancher `v2.6-head`.
Currently when I try to fully shutdown and power on harvester node machine, I can't access dashboard by VIP.
There is only one node left to be able to access.

Since harvester did not able to back to work after fully shutdown then power on, thus I can't further validate whether the RKE2 provisioned upon i

[2021-12-12 19:49] noahgildersleeve commented on #1409
Tested in master-5d6f3db0-head.
## Test Steps
1. Logged in with user
2. Changed password
3. Logged out
4. Logged back in with new password
5. Verified old password didn't work

[2021-12-12 19:49] #1409 closed, assigned to guangbochen, WuJun2016, noahgildersleeve

[2021-12-12 20:07] noahgildersleeve commented on #1272
Tested in master-5d6f3db0-head. Verified as fixed
## Test Steps
1. Put on host on 4 node setup into maintenance mode
2. Shutdown node via SSH with `shutdown now`
3. Verified that maintenance mode label turned red
![image](https://user-images.githubusercontent.com/83787952/145727543-ccf984f6-7afe-4b46-994c-1a9a92080129.png)
4. Turned server back on and verified that maintenance mode label went back

[2021-12-12 20:07] #1272 closed, assigned to gitlawr, n313893254, noahgildersleeve

[2021-12-12 22:15] noahgildersleeve opened #1663 "[BUG] You can create a VM with an image that isn't finished downloading"
**Describe the bug**

You can create
**To Reproduce**
Steps to reproduce the behavior:
1. Start a download of an image via URL
2. Create a VM before the image is finished downloading
**Expected behavior**

You should only see images that are marked as ready in the image dropdown
**Support bundle**

[supportbundle_11313be7-18bf-4a72-adf9-c47bb28f06b5_2021-12-12T22-10-51Z.zip](https://github.com/har

[2021-12-12 23:29] yasker commented on #1663
Might be too late to solve in 1.0. Need to triage and potentially reschedule

[2021-12-12 23:54] noahgildersleeve commented on #1380
Tested in master-655c251a-head. Still getting 413 error on upload.
![Screenshot from 2021-12-12 15-53-36](https://user-images.githubusercontent.com/83787952/145734769-2efe3688-821c-4c7c-aafe-bf4987a93130.png)
![Screenshot from 2021-12-12 15-52-56](https://user-images.githubusercontent.com/83787952/145734770-86279b1d-827b-4468-b202-386416273bdf.png)

[2021-12-12 23:59] noahgildersleeve commented on #1655
Tested in master-655c251a-head. Verified that network template data showed up after VM creation.
![Screenshot from 2021-12-12 15-58-19](https://user-images.githubusercontent.com/83787952/145734902-5e8a9f3c-12b9-4d96-ad5e-42e0f1b94cec.png)

[2021-12-13 00:22] mddeff commented on #1199
All depends on the use case.  Some of us have good reason to separate compute/mission networking from storage.  Either large investments in existing storage infrastructure, or technical requirements that are simply outside the scope/current abilities of longhorn.  Blindly following a tech stack just because you want to be a purist isn't (necessarily) serving your customers needs. Remember, not eve

[2021-12-13 00:22] noahgildersleeve commented on #1577
Tested in master-655c215a-head. You can't change the cloud provider in the RKE2 node driver page to `None`.
![node-driver-rke2-cloud-driver](https://user-images.githubusercontent.com/83787952/145735758-e8eb9eca-fb3c-462c-8069-cafbd8538a64.gif)

[2021-12-13 00:27] gitlawr commented on #1380
@noahgildersleeve 655c251a is a commit from 6 days ago, can you try with the latest image?

[2021-12-13 00:55] roncterry commented on #1655
I think you misunderstood the problem. The network data always appeared after VM creation. The problem is that the network data doesn’t show up _before_ VM creation when selecting a VM template and then looking at the Virtual Machine: Create - Advanced Options screen.

[2021-12-13 02:07] guangbochen commented on #960
@noahgildersleeve can u please help to double check if using the `sync` command before taking the backup works for u, the `sync` command forces an immediate transfer of the data in memory to disk.

[2021-12-13 03:00] guangbochen commented on #1621
can't be reproduced in the current `master-head` version, can we please help to re-validate it, thanks.

[2021-12-13 03:12] bk201 opened #1665 "[FEATURE] Manual upgrade from 0.3.0 to 1.0.0"
This is the epic issue to track all manual upgrade issues:

- [ ] Document: https://github.com/harvester/docs/pull/67
- [x] https://github.com/harvester/harvester/issues/1644
- [x] https://github.com/harvester/harvester/issues/1645
- [x] https://github.com/harvester/harvester/issues/1666
- [x] https://github.com/harvester/harvester/issues/1738
- [x] https://github.com/harvester/harvester/issues/17

[2021-12-13 03:49] weihanglo commented on #1623
### Test scenario: attach and detach disks

1. Head to "Hosts" page
1. Click "Edit Config" on a node and switch to "Disks" tab
1. **Validate:** Open dropdown and see no disks
1. Attach a disk on that node
1. **Validate:** Open dropdown and see some disks
1. Detach a disk on that node
1. **Validate:** Open dropdown and see no disks

BTW, I've tested latest UI and confirmed it resolved from my side.

[2021-12-13 03:51] TachunLin opened #1666 "[BUG] Unable to login harvester dashboard after upgrading from v0.3.0 to v1.0.0-rc1"
**Describe the bug**

In a 3 nodes harvester cluster with VIP from fixed IP. After upgrade from v0.3.0 to v1.0.0-rc1
User can't login harvester using their original password, show up `An error occurred logging in`

![image](https://user-images.githubusercontent.com/29251855/145748687-67ed7691-0d6f-4f8f-8720-45a9fa28e048.png)

**Where to find**
This issue discovered during the verification of upgra

[2021-12-13 04:08] bk201 commented on #1666
Panic in rancher pod:
[code]
[rancher.log](https://github.com/harvester/harvester/files/7700923/rancher.log)

[2021-12-13 04:11] gitlawr commented on #1666
@bk201 See https://github.com/harvester/harvester/issues/1549#issuecomment-971260918

[2021-12-13 04:11] guangbochen commented on #1613
@noahgildersleeve this is fixed in the single Harvester UI and haven't been merged to the upstream yet, for validation purpose can we just replace the Rancher UI index on the `Rancher dashboard -> Global Settings -> ui-dashboard-index` with `https://releases.rancher.com/harvester-ui/dashboard/latest/index.html`, thanks
![image](https://user-images.githubusercontent.com/4569037/145751238-0ee1a6b5-f

[2021-12-13 04:15] FrankYang0529 commented on #1661
@guangbochen, we may also need a PR to rename `vm-force-deletion-policy` to `vm-force-reset-policy` on dashboard. Thank you.

[2021-12-13 04:18] guangbochen commented on #1661
it should be updated automatically once the backend is changed, but need to sync the setting whitelist cc @WuJun2016, also need to change the description to `Config the force-reset action when a VM is stuck on a node that is down.`

[2021-12-13 04:21] guangbochen commented on #1644
should be addressed by https://github.com/harvester/harvester/pull/1642

[2021-12-13 05:20] TachunLin commented on #1633
Verified **fixed** on `master-5d6f3db0-head`. Close this issue.

### Result
Verified all harvester nodes can display VIP on management URL after installation complete. (On console UI)
Test scenario includes VIP configured from DHCP and fixed IP.

#### VIP from DHCP
![image](https://user-images.githubusercontent.com/29251855/145744057-20e9347a-91c3-42f1-b6d2-77d7238dbcf6.png)

![image](https://user

[2021-12-13 05:20] #1633 closed, assigned to FrankYang0529, TachunLin

[2021-12-13 06:04] johnliu55tw commented on #1627
This issue occurs when the system firmware is UEFI and is installing on NVMe drives. Should be fixed in the latest master ISO.

[2021-12-13 06:33] bk201 commented on #1666
@gitlawr Thanks. Does this mean we need to remove the `UserAttribute` CRD in the manual upgrade path?

[2021-12-13 06:53] gitlawr commented on #1666
remove or apply. Both sound good to me but it needs testing to verify

[2021-12-13 07:52] johnliu55tw commented on #1046
Added recovering steps for SSL parameters settings to PR https://github.com/harvester/docs/pull/84

[2021-12-13 09:44] guangbochen opened #1667 "[BUG] data partition is not mounted to the LH path properly"
**Describe the bug**
Install the Harvester manually using the ISO installer, the LH allocated disk size is only `100 Gi` while its partition and label are added successfully at `/dev/sda6`.
[code]
but the LH partition was not mounted to the `/var/lib/longhorn` path successfully and the `fstab`  is missing the expected config of `/dev/disk/by-label/HARV_LH_DEFAULT /var/lib/longhorn auto defaults 0

[2021-12-13 13:02] w13915984028 opened #1668 "[BUG]Single node harvester in Provo DAY0 KVM VM, network is not reachable after a few days"
**Describe the bug**

Hardware: Provo DAY0, single rack HP server
HostOS:  SUSE SLE15 SP2, KVM
VM1: ubuntu server,  VM2: Harvester main node,  both using NAT to access the internet

I install the harvester in VM2 (single node), after 2 or 3 days, the VM2 is not accessible from VIP/node IP, ping fail from host OS,  unless shutdown the VM2 and restart it again.   Every a few day, the VM2 lost its ne

[2021-12-13 13:28] johnliu55tw commented on #1667
`/run/cos/cos-layout.yaml` is missing the Longhorn partition mounting information:
[code]

But it's in `/oem/99_custom.yaml`:
[code]

And `journalctl` shows these messages:
[code]

I surmise this issue is caused by `/oem` is not mounted due to timed-out, so `rootfs` stage in `/oem/99_custom.yaml` is not executed, thus the `/run/cos/cos-layout.yaml` is not overwritten by the info provided in `/oem/

[2021-12-13 14:41] bk201 commented on #1668
Could you log in to the VM via VNC and dump the `ip a` result?

[2021-12-13 14:43] bk201 commented on #1667
https://github.com/harvester/harvester/issues/1560 has a similar cause.

[2021-12-13 14:56] TachunLin opened #1669 "[BUG] Unable to access harvester VIP nor node IP after reboot or fully power cycle node machines (Intermittent)"
**Describe the bug**

#### Scenario1:
1. On a 3 nodes harvester cluster in `local kvm machine` when we reboot one of the node machine

#### Scenario2:
2. On a 3 nodes harvester cluster in `bare metal machines` when shutdown all node machines, wait 15 minutes above then power on each node by sequence. (20 seconds in between)

**Reproduce rate: Intermittent**

* Node 1 shows `Unknown` status
![image

[2021-12-13 14:59] davidcassany commented on #1667
Indeed, this is caused because the `/oem/99_custom.yaml` file seams not to be available at the time `rootfs` stage is executed. Checking the journal I can see, as you noted, the `oem.mount` service fails due to a timeout. However note that `/oem` is actually mounted despite the timeout about 30 seconds later. The `/oem` timeout is configurable via kernel parameters. Adding `rd.cos.oemtimeout=<seco

[2021-12-13 15:13] w13915984028 opened #1670 "[BUG]backup enqueue needs consider proper time interval"
**Describe the bug**

backup module may print endless ERRO message

**To Reproduce**
Steps to reproduce the behavior:
1.  install harvester, create on guest VM
2. setup backup target to NFS
3. "take backup" of the guest VM
4. scale down harvester POD,
5. start a local harvester node (develop and debug)
6. the screen is scrolling with message:

[code]

**Expected behavior**

When an error happens o

[2021-12-13 15:14] w13915984028 commented on #1670
@FrankYang0529 PTAL, thanks.

[2021-12-13 16:16] lanfon72 commented on #761
Verified following cases:
1. [x] generated kubeconfig is able to access kubenetes API
2. [x] new node able to join the cluster using the configured Domain Name
3. [x] create node with `ssl-certificates` settings is working as expected.

Test Information
----
* Environment: **qemu/KVM 2 nodes**
* Harvester Version: **master-5d6f3db0-head**
* **ui-source** Option: **Auto**

**Domain Name Server**
1.

[2021-12-13 16:29] lanfon72 commented on #761
@guangbochen, I verified those cases you asked (the comment above).
@gitlawr, creating node with config fail, config file and some logs listed below:

The `config-create.yaml`
[code]

Convert to JSON
[code]

Installed Dashboard:
![image](https://user-images.githubusercontent.com/5169694/145849543-e7b03878-07a1-4a4a-8276-4f324d5e7477.png)

pod status from `kubectl get pod -A | grep harvester`
[code

[2021-12-13 16:59] w13915984028 commented on #1668
Looks a bit tricky.

F12 page shows mgmt URL: `192.168.122.200`, `not ready`

but ip addr show dev `harvester-mgmt` is `192.168.122.11`, it is pingable from HostOS

![image](https://user-images.githubusercontent.com/31133476/145853497-f2360248-1558-4b8d-b046-bcb54544b420.png)
![image](https://user-images.githubusercontent.com/31133476/145854430-b9064183-2aa0-41a8-9782-4f66dbc7a8b2.png)

[code]

--

[2021-12-13 17:03] w13915984028 commented on #1668
[code]
[code]
[code]

[2021-12-13 17:57] lanfon72 commented on #1608
Verified this issue should be fixed.

![image](https://user-images.githubusercontent.com/5169694/145861027-2b7575c8-a467-43eb-99ca-28a7c0026dba.png)
![image](https://user-images.githubusercontent.com/5169694/145861276-d9cab21a-7c82-4287-af2f-3b60fab11a3f.png)

Test Information
----
* Environment: **qemu/KVM 2 nodes**
* Harvester Version: **master-5d6f3db0-head**
* **ui-source** Option: **Auto**

#

[2021-12-13 17:57] #1608 closed, assigned to lanfon72, weihanglo, n313893254

[2021-12-13 18:08] w13915984028 commented on #1668
pods are in terrible state

[code]

[code]

[code]

[2021-12-13 19:33] yasker opened #1671 "Task: mark external Harvester cluster provisioning support as experimental"
Need it in the release note and the doc.

It’s due to lacks of automatically field population #1244

[2021-12-13 20:19] noahgildersleeve opened #1672 "[BUG] Display for node in ready status sometimes doesn't clear"
**Describe the bug**

Some nodes will have text that wasn't cleared when going to ready status. This seems to be intermittent
**To Reproduce**
Steps to reproduce the behavior:
1. Deploy 4 node Harvester setup
2. Check display of all nodes after install and going to ready
**Expected behavior**

**Support bundle**

[supportbundle_f765ca68-2e41-4020-acd8-9de651f15648_2021-12-13T20-15-36Z.zip](https:/

[2021-12-14 01:07] gitlawr commented on #761
@lanfon72 The setting is a json format string, e.g.,
[code]

[2021-12-14 02:14] gitlawr commented on #1668
So the node IP is accessible, VIP(192.168.122.200) is not.
Logs from the kubevip pod:
[code]
Check the endpoint:
[code]

Note that the registered node IP(192.168.122.13) is different from the current one(192.168.122.11). The cause of the problem is that the node IP is changed.

[2021-12-14 02:57] guangbochen commented on #1671
Note:
- RKE1 node driver is GA
- RKE2 node driver is experimental
- External Harvester is experimental

[2021-12-14 03:10] guangbochen commented on #1672
duplicate of https://github.com/harvester/harvester/issues/1132 and aims to get fixed on the next `v1.0.1` release, also just press `F12` to login and logout again will clear those systemd messages.

[2021-12-14 03:10] #1672 closed, assigned to nobody

[2021-12-14 03:30] n313893254 commented on #1653
![image.png](https://images.zenhubusercontent.com/59db4297b0222d5de47ad632/be90151e-6d02-4914-9bf4-b6df4db7ab3d)

Reproduce the issue randomly, maybe **Reproduce Steps**
- Create a resource
- Delete the resource
- Create a resource with the name as the first create

There has some console errors about resourceVersion throw by WebSocket subscribe:
`failed to list kubevirt.io.virtualmachine: The res

[2021-12-14 03:50] guangbochen commented on #1667
@davidcassany I think in the current stage increasing the default `oem.mount` service timeout to something like 2 minutes(will need some validations) is helpful, mainly because this issue only occurs on the machines with slower disk I/O performance, WDUT cc @bk201 @johnliu55tw

[2021-12-14 03:56] guangbochen commented on #1641
**To Test:**
- Ability to use HwAddr to lookup NetworkInterface Name in harvester-installer, mode details please refer to https://github.com/harvester/harvester-installer/pull/183#issue-1072692585

An example of the PXE config with the network part is shown below, the interface name is not required if hwAddr is provided.
[code]

[2021-12-14 04:44] guangbochen commented on #1655
Can we re-validate this issue, IIUC, this is also fixed using the master-head version:
- create a VM template on the templates page and add `network-data` config on the advanced option
- save the template and launch a new VM from the template
- check thew new VM created by the template contains the `network-data` specified on the VM template.

[2021-12-14 06:28] futuretea opened #1673 "[BUG] Error : can't sync vm backup metadata, err: virtualmachinebackups.harvesterhci.io \"test-backup\" already exists"
**Describe the bug**

harvester logs:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. create a vm "test" in non-default namespace such as 'harvester-public'
2. create backup "test-backup" from vm "test"
3. restart harvester (use kubectl to delete harvester pod)

**Expected behavior**

no such error log

**Support bundle**

**Environment:**
 - Harvester ISO version:  harvester v1.0.0-r

[2021-12-14 06:55] lanfon72 commented on #761
Verified, create node with ssl-certificates settings is working as expected.

@janeczku, please open another issue for the format if it is not friendly for users, thanks.

[2021-12-14 06:55] #761 closed, assigned to lanfon72, gitlawr

[2021-12-14 07:21] FrankYang0529 commented on #1390
We need further PR to update network-controller-harvester. If users set VLAN on harvester-mgmt and enable vlan feature in harvester, `harvester-br0` should inherit the VLAN tag of `harvester-mgmt`.

[2021-12-14 07:22] bk201 commented on #1667
@guangbochen  2 Minutes look good to me. Create a PR.

[2021-12-14 07:32] lanfon72 commented on #1641
verified this feature works as expected, document need to be updated correspondingly.

The config content for this issue:
[code]

Test Information
----
* Environment: **qemu/KVM 2 nodes**
* Harvester Version: **master-5d739671-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with PXE installation, set `hwAddr` instead of `name` in `install.networks`
2. Harvester shou

[2021-12-14 07:32] #1641 closed, assigned to lanfon72, ibrokethecloud

[2021-12-14 07:58] lanfon72 commented on #1046
@guangbochen, I think we should also mark SSL as deprecated.
SSLv2 has been deprecated in [RFC6176](https://tools.ietf.org/html/rfc6176), and SSLv3 in [RFC7568](https://tools.ietf.org/html/rfc7568); and both of them have security concern ([CVE-2016-0800](https://nvd.nist.gov/vuln/detail/CVE-2016-0800) and [CVE-2014-3566](https://nvd.nist.gov/vuln/detail/CVE-2014-3566))

@n313893254 would you mind

[2021-12-14 08:20] guangbochen commented on #1046
good catch, @n313893254 can u please help to add `SSLv2` and `SSLv3` as deprecated as well, thanks.

[2021-12-14 08:34] w13915984028 commented on #1668
--
After Harvester installation, the node(VM) runs 12+ days without rebooting, which module may change the node IP ?

The node(VM) runs on-top of KVM, when booting, it gets IP address from KVM, after booting, the IP normally keeps unchanged.

[2021-12-14 08:42] gitlawr commented on #1668
I saw that the NIC uses DHCP mode. Could it be a misconfiguration or loss of leases on the DHCP server?

[2021-12-14 09:03] w13915984028 commented on #1668
The node VM is attached to "default" network of KVM, the DHCP is an embedded functionality/feature of KVM, provides 192.168.122.* to guest VM, and also NAT feature for internet access.

Meanwhile, another VM, ubuntu server, is in same mode as Harvester VM, it`s IP is never changed after booting (30+ days).

**The difference is, Harvester VM creates a harvester-mgmt interface/dev, removes the origi

[2021-12-14 09:28] gitlawr commented on #1668
We might need to check if the DHCP lease renewal for the mgmt bond proceeds as expected

[2021-12-14 09:39] w13915984028 commented on #1668
KVM has following debug info, VIP is not in DHCP guest list,   there is no DHCP history info.

guess:   cluster components/network first has issue, then the VIP controller fail to renew VIP via DHCP (from KVM),  finally  the VIP is lost

[code]

[code]

[2021-12-14 10:03] w13915984028 commented on #1670
@FrankYang0529
In PR 1656, I change it to be:
[code]
https://github.com/harvester/harvester/pull/1656/files

[2021-12-14 10:06] FrankYang0529 commented on #1644
I try to upgrade Harvester from v0.3.0 to master-head and Harvester pods don't crash. However, VMBackup CRD doesn't be updated, so we have some error messages like this:

[code]

[2021-12-14 10:10] TachunLin commented on #1052
### Test Scenario 2: PASS
`Rancher is under air gap environment while harvester have internet connection, they are located in same subnet`

#### Test environment
* Rancher: v2.6-head (04520-c0)
* Harvester: master-5d6f3db0-head

- [x] Can import downstream harvester from rancher

- [x] Can access downstream harvester cluster from Rancher dashboard

- [x] Can provision at least one node RKE1 cluste

[2021-12-14 12:31] n313893254 commented on #1450
Verify on the latest dashboard UI. Change pipeline to ready for testing.

**Verify Steps**
- Change CPU Limit from 800 to 200
- Change CPU Reservation from 400 to 64

**Result**
- ✅   RKE2 Cluster Explorer
- ✅   Harvester Virtualization Management

**Addictional Context**

![image.png](https://images.zenhubusercontent.com/59db4297b0222d5de47ad632/0e251d1f-420c-44ce-9eb6-c75f36a814db)

![image.png]

[2021-12-14 13:00] janeczku opened #1676 "[FEATURE] Provide VIP load balancer service for VM workloads"
Currently, the VIP feature only works for applications deployed in a guest K8s cluster.
There is a requirement to also provision VIPs for traditional VM workloads deployed on Harvester, including for the following use cases:

- Expose a VM workload on a secondary public IP (similar to AWS elastic IP, or Openstack floating IP feature)
- Provide failover mechanism for high available applications dep

[2021-12-14 13:02] janeczku opened #1677 "[FEATURE] Provide ingress routing for VM workloads"
**User Story**

As an Application Operator, I want to leverage Kubernetes Ingress resources to provide high-availability and horizontal scalability for my VM-based workloads, so that I can distribute traffic across multiple VM instances and ensure my application remains reachable even if an individual VM fails.

**Description**

While Harvester excels at VM lifecycle management, achieving true app

[2021-12-14 14:19] weihanglo commented on #1334
### Test scenario:

1. Create a 3-node cluster.
2. Attach extra disks on a node in page **Hosts** > **Disks** > **Edit Config**
3. Create some VMs on that node (Use **Node Scheduling** to specify node)
4. Make sure some volumes are schedules onto the node. You can check it in page **Hosts** > **Disks**
5. Remove some of the extra disks. In the meanwhile, your VMs should continue working.
6. `kubec

[2021-12-14 14:21] guangbochen commented on #1334
@weihanglo seems we need a chart bump since the CRD manifest is changed

[2021-12-14 15:06] w13915984028 commented on #1668
I tried to reproduce this issue, and have some interesting finding.
https://github.com/w13915984028/harvester-develop-summary/issues/1

The VIP is seeing aged from KVM DHCP list.
![image](https://user-images.githubusercontent.com/31133476/146023409-cc34913e-1c59-48c9-ac56-7d67e3afec92.png)

**The VIP is allocated from KVM using MAC 6a:10:d2:c2:6a:3b of vip-7e465ab1@harvester-mgmt, but it is attach

[2021-12-15 02:16] guangbochen commented on #1396
can be verified and closed if passes the https://github.com/rancher/rancher/issues/35000#issuecomment-994212949

[2021-12-15 02:20] guangbochen commented on #1629
Currently only RKE1's chart will set the `harvester` as the default storage class.
For the RKE2 cluster, users can modify it manually via clicking the `cluster -> More resources -> StorageClasses` and set the `Harvester ` SC as the default one in the RKE2 cluster.
![image](https://user-images.githubusercontent.com/4569037/146111073-cf63ad34-ab3f-4d65-a95d-7448fe1f2d8d.png)

[2021-12-15 02:47] yaocw2020 commented on #1669
For testing: (Use the master-head version of harvester network controller)
- Enable VLAN with NIC `harvester-mgmt`
- Create VLAN 1
- Disable VLAN and enable VLAN again
- Try to connect the hosts and they will be accessiable.

[2021-12-15 02:56] yaocw2020 commented on #1476
@TachunLin @noahgildersleeve I have optimized the display of the route connectivity. The UI will show the route connectivity in one minute once you create the VLAN network.

[2021-12-15 07:45] yasker commented on #1629
Is it possible to set the default storage class in RKE2 as well? if we cannot do it in this release, we need to add the release note to it and fix it in the next release.

[2021-12-15 08:00] guangbochen commented on #1629
nope, the RKE2 uses an embedded chart and it is already released in Nov. before we add this change, will bump the embedded chart version of the next RKE2 release. cc @yaocw2020

Also the workaround is easy and will document it on the release note, thanks.

[2021-12-15 08:16] lanfon72 commented on #1627
Verified this bug has been fixed.

Test Information
----
* Environment: **qemu/KVM**
* Harvester Version: **master-5d739671-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Create block image as NVMe disk
    - Run `dd if=/dev/zero of=/var/lib/libvirt/images/nvme145.img bs=1M count=148480`
    - Then Change file owner `chown qemu:qemu /var/lib/libvirt/images/nvme145.img`
2. Create VM

[2021-12-15 08:16] #1627 closed, assigned to johnliu55tw, lanfon72

[2021-12-15 08:59] wangpan-hqu opened #1679 "[BUG]The virtual machine images do not work normally with crud"
**Describe the bug**

1.The virtual machine image cannot be removed even without any association
2.The virtual machine image download is stuck at 99%
![屏幕截图 2021-12-15 170253](https://user-images.githubusercontent.com/74587498/146156083-27bcc8e4-198d-4fd3-ba5f-0072246b1aa6.png)

**Expected behavior**
The virtual machine image can  crud normally.

**Environment:**
 - Harvester ISO version: 0.3.0
 -

[2021-12-15 09:44] TachunLin opened #1681 "[BUG] Power on 3 harvester nodes in sequence may cause VIP connectivity lost"
**Describe the bug**

Power on 3 harvester nodes in sequence have possibility failed to access VIP
Need to wait for long time (in this case, wait 20~30 min) to be able to recover connection

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Prepare 3 nodes harvester
2. Enable virtual network with `harvester-mgmt`
3. create vlan network  `vlan 806` with id `806`
4. create several vm
5. P

[2021-12-15 10:03] n313893254 commented on #1663
Add/Update image validation when creating VM

- [x] RKE1 node driver
- [x] RKE2 node driver
- [x] VM page
- [x] Image list page

[2021-12-15 10:40] lanfon72 commented on #1450
Verified following test cases (based on https://github.com/harvester/harvester/issues/1450#issuecomment-988970732):
- [ ] 6., 7. The Default value of Resource Quotas should be the same as **Namespace Default Limit** assigned in Project `A`
- [ ] 8. Modifying **resource limit** should work correctly (when increasing/decreasing, the value should increased/decreased)
- [x] 11., 12. **resource limit**

[2021-12-15 13:31] TachunLin commented on #1561
Verified on harvester `master-5d6f3db0-head` without virtual network `vlan 1`

###
User vlan 806 on provo as a workaround to bypass #1669

![image](https://user-images.githubusercontent.com/29251855/146195487-609c0ede-e7c6-4957-bbf2-57e58a446205.png)

**Please make sure network connection between RKE2 node vm and Rancher if you encounter failed to recovery**
** In case one of your node got failure

[2021-12-15 13:40] w13915984028 opened #1682 "[BUG] Harvester installer should set hostname before getting node IP via DHCP"
**Describe the bug**

The user input "hostname" in harvester installation is not set before getting node IP via DHCP, it causes node IP change in KVM environment.

**To Reproduce**
Steps to reproduce the behavior:
1. Create one VM in KVM, use default "NAT" network
2. Install Harvester from ISO in this VM, set hostname, set DHCP mode getting node IP
3. After installation, node IP changed

**Expecte

[2021-12-15 13:40] w13915984028 commented on #1682
@guangbochen @johnliu55tw

[2021-12-15 13:51] w13915984028 opened #1683 "[FEATURE] Harvester NODE IP change notification enhancement"
**Is your feature request related to a problem? Please describe.**

The NODE IP may change due to various reasons, e.g., #1682,  but there is no explicit check in starting stage.
 should check if node IP is changed when starting

In the WEB UI, add place to show Vritual MAC and VIP,  reminder the user to add VIP/VMAC binding to DHCP server when they choose DHCP mode.

**Describe the solution you'd

[2021-12-15 14:06] TachunLin commented on #1428
Verified **fixed** on master-5d6f3db0-head (bare-metal) and master-3d096946-head (local). Close this issue.

### Result
After shutdown all nodes, wait 20 minutes then power on harvester nodes in sequence
* Can access dashboard by VIP
* Can access each node IP
* rke2-coredns pods running correctly

** Since the issue was affect by #1669, we have verified fixed base on the following scenarios

1. Ha

[2021-12-15 14:06] #1428 closed, assigned to guangbochen, TachunLin

[2021-12-15 14:18] TachunLin commented on #1052
### Test Scenario 1: Ongoing
`Rancher and harvester are both under air gap environment within same subnet`

#### Test environment
* Rancher: v2.6-head (77392a6)
* Harvester: master-5d6f3db0-head

- [x] Can import downstream harvester from rancher

- [x] Can access downstream harvester cluster from Rancher dashboard

- [ ] `Failed` to provision RKE2 cluster on harvester with `failed calling webhook

[2021-12-15 15:19] johnliu55tw commented on #1590
Please check https://github.com/harvester/harvester-installer/pull/187 for testing this.

[2021-12-15 16:36] yasker commented on #1661
Confirmed that the setting name has been updated in Harvester when using UI from upstream.
<img width="1568" alt="Screen Shot 2021-12-15 at 8 33 38 AM" src="https://user-images.githubusercontent.com/3344618/146226444-93e1ef2a-3f9b-457f-bdb2-5744720ae821.png">

**However, the option doesn't show up when accessing the Harvester UI from Rancher.** @guangbochen @n313893254  is it by design?

[2021-12-15 16:43] yasker commented on #1621
Move to v1.0.1 due to unable to reproduce.

[2021-12-15 16:49] yasker commented on #1629
I've checked with upstream RKE1 deployment and confirmed that `harvester` storage class was set as default for RKE1 cluster.

Move this issue to v1.0.1 for validation of RKE2 cluster in December release.

[2021-12-15 17:15] yasker commented on #1671
Test with Rancher 2.6.3-rc5 with UI set to `remote`.

**Test result: Failed**

Reopen the issue.

Verified that `Experimental` label has been added to the `Cloud Credentials` for `External Harvester`
<img width="881" alt="Screen Shot 2021-12-15 at 9 14 22 AM" src="https://user-images.githubusercontent.com/3344618/146233410-d3f11b88-f4fa-4ee8-a0f5-fb6f70f86e70.png">

And cloud credential creation.

[2021-12-15 17:42] yasker commented on #1369
**Test result: Pass.**

Rancher: v2.6.3-rc5
Harvester: master-1c02888d-head
RKE1: v1.21.7
RKE2: v1.22.4+rke2r2

Test steps:
1. Import Harvester to Rancher
2. Create the cluster (RKE1 with `Harvester out of tree cloud provider`, RKE2 with Harvester as cloud provider.
    * Make sure have 4 CPUs and 8 GB+
    * For RKE1, once the cluster completed provisioning, access the cluster and install `Harves

[2021-12-15 18:01] #1369 closed, assigned to yasker, gitlawr

[2021-12-15 18:46] noahgildersleeve commented on #1669
Tested in master-3d096946-head in KVM virtualized environment. VIP stops working, but the node IP still works.

1. Enable VLAN with NIC harvester-mgmt
2. Create VLAN 1
3. Reboot system
4. Wait for system to be ready showing VIP
5. Try to go to web UI at VIP
[supportbundle_d8ce0447-ea2a-40b7-880d-937953c890b5_2021-12-15T18-42-59Z.zip](https://github.com/harvester/harvester/files/7721956/supportbund

[2021-12-15 18:56] noahgildersleeve commented on #1669
It's worth noting that if you do the same setup with VLAN 1 on a different NIC it works fine. It's just when you do it on the harvester-mgmt NIC.

[2021-12-15 19:14] yasker commented on #1373
Verified via https://github.com/rancher/rancher/issues/35065#issuecomment-995109182

[2021-12-15 19:14] #1373 closed, assigned to yasker, yaocw2020

[2021-12-15 19:20] yasker commented on #1663
We're running out of time for v1.0.0 release. Move this to v1.0.1.

[2021-12-15 19:25] yasker commented on #1682
@guangbochen can we move this issue to v1.0.1?

[2021-12-15 20:36] noahgildersleeve opened #1684 "[BUG] When provisioning an RKE1 node drivercluster Harvester went down"
**Describe the bug**

When I was provisioning a RKE1 node driver cluster (1 node) my Harvester cluster lost network connectivity
**To Reproduce**
Steps to reproduce the behavior:
I'm not sure if this is reproducible. I'm looking into it
1. Provision RKE1 node driver cluster (1 node) on single node Harvester cluster.
2. Wait for RKE1 node to go active

**Expected behavior**

Harvester networking sh

[2021-12-15 21:47] noahgildersleeve commented on #1476
Tested in master-3d096946-head. This was in a virtual environment/network. network updated in a timely manner. Quicker for valid networks than invalid networks.
## Test Steps
1. Setup network that is routed properly with valid VLAN (available)
2. Setup network that is routed improperly with valid VLAN (not available)
![Screenshot from 2021-12-15 13-46-15](https://user-images.githubusercontent.com/

[2021-12-15 21:47] #1476 closed, assigned to yaocw2020, TachunLin, noahgildersleeve

[2021-12-15 22:02] noahgildersleeve commented on #1613
Tested in master-3d096946-head. Verified as fixed.
## Test Steps

1. Create new VM via `$ kubectl apply -f https://kubevirt.io/labs/manifests/vm.yaml` in harvester
2. Set ui-dashboard index to `https://releases.rancher.com/harvester-ui/dashboard/latest/index.html`
3. Set `ui-offline-preferred` to `Remote`
4. Bring up virtualization management and open dashboard
5. Open VM list
6. Verify size
![Scr

[2021-12-15 22:02] #1613 closed, assigned to WuJun2016, noahgildersleeve

[2021-12-15 23:08] noahgildersleeve commented on #960
Tested in master-3d096946-head. Validated that all three chained backups worked
## Test Steps

1. ran `backup.sh 1`
2. run `sync`
3. take backup
4. ran `backup.sh 2`
5. run `sync`
6. take backup
7. ran `backup.sh 3`
8. run `sync`
9. take backup
10. ran `backup.sh 4`
11. restore to backup 3
12. verify files
13. restore to backup 2
14. verify files
15. restore to backup 1
16. verify files

[2021-12-15 23:09] #960 closed, assigned to FrankYang0529, noahgildersleeve

[2021-12-16 00:10] noahgildersleeve commented on #1046
Tested in master-3d096946-head. Verified as fixed.
## Test Steps
1. Created self signed cert using `sudo openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout ./harvester-selfsigned.key -out ./harvester-selfsigned.crt`
2. uploaded certs to Harvester
3. Verified that new certs were showing up in browser
![Screenshot from 2021-12-15 15-19-24](https://user-images.githubusercontent.com/83787952/

[2021-12-16 00:10] #1046 closed, assigned to johnliu55tw, lanfon72, n313893254, noahgildersleeve

[2021-12-16 00:22] noahgildersleeve commented on #1380
Tested in master-3d096946-head with http://cloud-images.ubuntu.com/releases/focal/release/ubuntu-20.04-server-cloudimg-amd64-disk-kvm.img
## Test Steps
1. upload image
2. wait for image to be ready
3. Create VM with image
4. Run VM health Checks.
Verified as fixed.

[2021-12-16 00:22] #1380 closed, assigned to gitlawr, noahgildersleeve

[2021-12-16 01:13] noahgildersleeve commented on #1623
Tested in master-3d096946-head. It's worth noting that you have to format the disk before it will show up as available in Harvester. This isn't uncommon with disk utilities though.
## Test steps
1. Add new disk to VM
2. format disk via command line in host OS
3. Add disk to host
4. Verify that host shows new disk as available storage and Longhorn is showing new schedulable space
![Screenshot from

[2021-12-16 01:13] #1623 closed, assigned to weihanglo, n313893254, noahgildersleeve

[2021-12-16 01:17] noahgildersleeve commented on #1667
Tested in master-3d096946-head. It is now showing the mount point at `/var/lib/longhorn`. Closing as fixed.
## Test Steps
1. Install Harvester node in VM from ISO
2. Check partitions with `lsblk -f`
![Screenshot from 2021-12-15 17-15-14](https://user-images.githubusercontent.com/83787952/146290004-0584f817-d9df-4f4d-9069-d3ed4199b30f.png)

[2021-12-16 01:17] #1667 closed, assigned to johnliu55tw, noahgildersleeve

[2021-12-16 01:49] noahgildersleeve commented on #1590
Tested with nightly build on vagrant using ipxe environment according to https://github.com/harvester/harvester-installer/pull/187. It did not assign the new nameserver to /etc/resolv.conf. It just has the preloaded ones. I modified the ipxe files as well and tried recreating the VMS.
![Screenshot from 2021-12-15 17-47-48](https://user-images.githubusercontent.com/83787952/146293136-dd50bc53-fc3c-

[2021-12-16 01:56] n313893254 commented on #1661
My bad. As harvester UI dose not create PR for dashboard UI for now. we should replace the ui-dashboard-index setting of Rancher to 'https://releases.rancher.com/harvester-ui/dashboard/latest/index.html' to test Harvester UI from Rancher.

![image.png](https://images.zenhubusercontent.com/59db4297b0222d5de47ad632/9aa57f3d-9e7f-4b5e-96c6-6478764b1c4b)

[2021-12-16 02:03] noahgildersleeve commented on #1590
It turns out I was checking the `/etc/resolv.conf` after reboot and install. I cleared the vagrant setup and redid it to make sure that I got it before the reboot and it did show `nameserver 1.1.1.1` in `/etc/resolv.conf` Closing ticket.
![Screenshot from 2021-12-15 18-01-25](https://user-images.githubusercontent.com/83787952/146294408-c84072e8-e45b-489b-8a6f-d223a6708cbe.png)

[2021-12-16 02:03] #1590 closed, assigned to johnliu55tw, noahgildersleeve

[2021-12-16 02:09] yaocw2020 commented on #1669
It's very likely the same problem as the issue https://github.com/harvester/harvester/issues/1681. Could you try to delete the pod of the kube-vip?

[2021-12-16 02:20] TachunLin opened #1685 "[BUG] Can't recover RKE1 cluster after resume harvester and rancher from hibernate"
**Describe the bug**

Provision RKE1 cluster on harvester in rancher, put host laptop in hibernate over night.
RKE1 cluster can't recover back to work after harvester and rancher resume from hibernate with network connection.

RKE1 vm on harvester keep in `starting` status with `virt-launcher pod is terminating`
![image](https://user-images.githubusercontent.com/29251855/146291981-54a17f56-6304-4a

[2021-12-16 02:44] yaocw2020 commented on #1681
Log from kube-vip
[code]
Log from harvester-network-controller
[code]

From the logs, we can see that the kube-vip created the macvlan interface on the base of `harvester-br0` which was not created because the  harvester network controller has not set up the VLAN network.

[2021-12-16 02:45] yaocw2020 commented on #1681
Work around: Delete the kube-vip pod to let it retry to get the VIP.

[2021-12-16 08:12] Aixleft723 commented on #1611
@yaocw2020  by the way, the question had beed solved?

[2021-12-16 08:13] Aixleft723 commented on #1611
@noahgildersleeve  hello, i have meet this quesion again, and i dot not know how to solve it, can you help me?

[2021-12-16 08:17] alexdepalex commented on #1046
Is this also configurable through the harvester install configuration file? Or only in the UI?

[2021-12-16 08:33] lanfon72 commented on #1046
this should be configurable via `system_settings` such like https://github.com/harvester/harvester/issues/761#issuecomment-993060101 did.

[2021-12-16 09:30] TachunLin commented on #1396
Verified **fixed** on master-3d096946-head (12/15) with rancher `v2.6.3-rc5`. Close this issue.

### Result
1. Can provision RKE1 cluster on harvester with cloud provider to be `Harvester`
![image](https://user-images.githubusercontent.com/29251855/146219488-bb72d3cd-4250-4912-9a2b-b709ad0fb259.png)
2. Can install the Harvester CCM and guest CSI chart manually
![image](https://user-images.githubus

[2021-12-16 09:30] #1396 closed, assigned to yaocw2020, TachunLin

[2021-12-16 09:54] n313893254 commented on #1450
Confirmed fixed by upstream repo. Change to the pipeline to ready for testing.

[2021-12-16 11:49] guangbochen opened #1686 "[BUG] should reset the cluster-registration-url after delete the imported Harvester cluster"
**Describe the bug**
 Should reset the `cluster-registration-url` after deleting the imported Harvester cluster on the Rancher UI

**To Reproduce**
Steps to reproduce the behavior:
1. Import the Harvester cluster to the Rancher dashboard through the virtualization management page.
2. After the cluster is ready, delete the cluster manually.
3. The cluster is removed but the `cluster-registration-ur

[2021-12-16 12:13] lanfon72 commented on #1450
Verified following test cases (based on https://github.com/harvester/harvester/issues/1450#issuecomment-988970732):
- [x] 6., 7. The Default value of Resource Quotas should be the same as **Namespace Default Limit** assigned in Project `A`
- [x] 8. Modifying **resource limit** should work correctly (when increasing/decreasing, the value should increased/decreased)

Test Information
----
* Environm

[2021-12-16 12:13] #1450 closed, assigned to lanfon72, n313893254

[2021-12-16 12:14] TachunLin commented on #1645
According to [issues/1681/comment](https://github.com/harvester/harvester/issues/1681#issuecomment-995389197)

**As a workaround:**

[code]

**We still need to reproduce and verify it after we fixed it in the v1.0.0-rc manual upgrade process**

[2021-12-16 12:57] lanfon72 opened #1687 "[BUG] Backup's default value not work properly"
**Describe the bug**
1. Click `Use the default value` then click `Save`
![image](https://user-images.githubusercontent.com/5169694/146370610-9d7142b4-89a9-4405-8644-f4bc4c8c8456.png)
2. Select `Type: NFS` then click `Save` (Please notice that `Endpoint` is not marked required(`*`)
![image](https://user-images.githubusercontent.com/5169694/146370673-f10f014f-6ed1-4dbc-8306-6d336d773e48.png)
3. Sele

[2021-12-16 12:58] lanfon72 commented on #1051
Verified the origin bug has been fixed.

- For the content of error message, it is related to #1339 which has been fixed.
- For the box of error message,I can't reproduce the error message box outside because the root cause has been fixed.
  Also tested on some negative input, the error message will not appear outside as below.
![image](https://user-images.githubusercontent.com/5169694/146373402-b

[2021-12-16 12:58] #1051 closed, assigned to lanfon72, w13915984028

[2021-12-16 13:14] w13915984028 commented on #1687
The commit 26deb4cdb2d  solved those faults.

The version you tested (not including 26deb4cdb2d)  still has such bugs

![image](https://user-images.githubusercontent.com/31133476/146378262-afee83c7-f600-40a1-8c34-97d709a78ed5.png)

[2021-12-16 13:16] lanfon72 commented on #1687
let me test on the version

[2021-12-16 13:30] TachunLin commented on #1669
### Test Scenario 1:  PASS

1. Enable VLAN with NIC harvester-mgmt
2. Create VLAN 1
3. Disable VLAN
4. Press ctrl+r to reload page
5. Enable VLAN again
6. Without reboot
6. Check if you can access VIP and each node IP

---

### Please take care with above steps
**Verify on previous harvester version (before 12/16) we haven't fixed it, if you follow above steps**

* Lost VIP and node IP connectivit

[2021-12-16 13:55] lanfon72 commented on #1687
Verified the bug has been fixed on **master-5e8d9764-head**

[2021-12-16 13:55] #1687 closed, assigned to nobody

[2021-12-16 14:38] w13915984028 commented on #1682
Even when keep the hostname as "rancher", it looks the NODE IP from KVM still changed, needs further investigation

**but the "Client ID or DUID" has a change**, we did not notice it before

[code]

[code]

![image](https://user-images.githubusercontent.com/31133476/146391154-ab9a9d78-322f-4864-970b-43c504ba5341.png)

![image](https://user-images.githubusercontent.com/31133476/146391298-f9ff9d28-4

[2021-12-16 15:23] lanfon72 commented on #988
Verified following test cases:
- [x] Sync VMBackup metadata back (swithing between NFS and S3)
- [x] Delete VM Backup will delete those files storing in remote target
- [ ] Sync VM backup to a fresh cluster

For unchecked test cases, please check details in Additional Content.

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-3d096946-head**
* **ui-source** O

[2021-12-16 16:55] w13915984028 opened #1692 "[BUG] After backup target is set, it is not usable"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Install a new Harvester
2. Setup a correct backup target
3. Take backup action
4. It is refused

![image](https://user-images.githubusercontent.com/31133476/146414255-b328d6e4-4636-42a0-b8f0-bea050c907a7.png)

**Expected behavior**

After backup target is setting, it should be allowed to do backup

**Support bundle**

**Env

[2021-12-16 17:15] w13915984028 commented on #1692
@guangbochen  @FrankYang0529
This is an partial update to PR 1656, follow the original process.
https://github.com/harvester/harvester/pull/1656

Not as our expectation, the flag still needs to be set explicitly.

Otherwise below function  `checkBackupTargetConfigured ->  harvesterv1.SettingConfigured.IsTrue(targetSetting)`   will return error.
Alternative is to change it, but not this time.
[code

[2021-12-16 17:23] WuJun2016 commented on #1111
This problem exists for all create operations:

Reproduction step: requires a slower network：
1. Create a secret or VM (without clicking the save button first),
2. open the browser console
3. Select Network
4. select "slow 3G" network
![image](https://user-images.githubusercontent.com/24985926/146419217-7045774b-b170-477b-bce5-6bbd670d6c88.png)
5.  click save

[2021-12-16 18:03] noahgildersleeve commented on #1655
Tested in master-5e8d9764-head. Verified as fixed.
## Test Steps
1. Create new VM template with network data in advanced settings
2. Create new VM and select template
3. Verify that network data is in advanced network config

[2021-12-16 18:03] #1655 closed, assigned to WuJun2016, noahgildersleeve

[2021-12-16 18:47] noahgildersleeve commented on #1334
Tested in master-5e8d9764-head.
## Test Steps
1. Created 3 node Harvester setup with ipxe example in KVM/libvirt
2. Added formatted disk to node0 VM
3. Created three VMs on node0
4. Created large files on three VMs to see where they were located with `dd if=/dev/urandom of=file1.txt count=5192 bs=1M`
5. Checked Longhorn to be sure that some VMs were on new disk
6. Deleted disk from Harvester
7. Ch

[2021-12-16 18:47] #1334 closed, assigned to weihanglo, noahgildersleeve

[2021-12-16 21:01] noahgildersleeve commented on #1661
Tested in master-5e8d9764-head. Verified as fixed in the harvester ui-index that hasn't been merged upstream yet
## Test Steps
1. Update ui-offline-preferred to Remote
2. Update ui-dashboard-index to https://releases.rancher.com/harvester-ui/dashboard/latest/index.html
3. Check advanced settings in Harvester UI and Rancher Harvester dashboard and verify setting is named vm-force-reset-policy
![Scr

[2021-12-16 21:01] #1661 closed, assigned to FrankYang0529, n313893254, noahgildersleeve

[2021-12-16 21:10] noahgildersleeve commented on #1671
Verified in Rancher v2.6.3-rc5, although to get latest upstream UI changes I specified `ui-offline-preferred` to be `Remote`. Verified using previous steps. Closing as fixed.

[2021-12-16 21:10] #1671 closed, assigned to guangbochen, n313893254, noahgildersleeve

[2021-12-16 22:26] w13915984028 commented on #1673
(with fix of #1692 ,  which caused the setting of backup target has no effect)

Verified this issue is solved:

1. Create VM in namespace
2. Create backup
![image](https://user-images.githubusercontent.com/31133476/146457686-a85f1226-8b49-4e99-9304-0f93b313d712.png)

3. Scale down Harvester, (equal to delete POD)
[code]

4. Scale up Harvester,
backup record is recovered and shown correctly, no deb

[2021-12-16 22:28] #1673 closed, assigned to futuretea, w13915984028

[2021-12-16 22:37] w13915984028 commented on #1692
BTW:  With this fix, the #1673  is verified on Harvester ISO of today.

[2021-12-17 00:41] TachunLin commented on #1669
### Test Scenario 2:  PASS (bare-metal machine)

1. Enable VLAN with NIC harvester-mgmt
2. Create VLAN 1
3. Disable VLAN
4. Enable VLAN again
5. shutdown node 3, 2, 1 server machine
6. Wait for 15 minutes
7. Power on node 1 server machine, wait for 20 seconds
8. Power on node 2 server machine, wait for 20 seconds
9. Power on node 3 server machine
10. Check if you can access VIP and each node IP
--

[2021-12-17 03:01] noahgildersleeve commented on #1577
Tested in  master-5e8d9764-head.
1. Provisioned RKE2 1.21.7 with no cloud provider on 4 node Harvester setup. Finished provisioning and showed management console.
![image](https://user-images.githubusercontent.com/83787952/146481881-3a48ff52-cfe8-469c-a2fa-b68737077773.png)

[2021-12-17 03:01] #1577 closed, assigned to n313893254, noahgildersleeve

[2021-12-17 04:02] noahgildersleeve commented on #1472
Version of Longhorn was bumped and issue has not been seen again during testing run.
## Test Steps
1. Created new volume from backing image
2. modified backing image with `echo test > backing`
3. made image same size with `truncate -s 543M backing`.
4. Deleted backing image service pod from embedded rancher
5. Verified that image rebuilt properly.
![Greenshot 2021-12-16 19 59 22](https://user-imag

[2021-12-17 04:02] #1472 closed, assigned to gitlawr, noahgildersleeve

[2021-12-17 04:10] FrankYang0529 commented on #988
Hi @lanfon72, may I know how do you create the image in the new cluster? We need to have the same BackingImage and StorageClass name as the old cluster, so I create an image by applying the following YAML. After the image download finish, I change backup target and restore VM. I can get expected data in VM.

[code]

[2021-12-17 04:46] lanfon72 commented on #988
@FrankYang0529, I guess it is the root cause that I didn't upload image with the name which VM was using.
(as the test case not require that, so I didn't test that scenario)

Let me test it based on the scenario, will we add some caveats for the requirement?

[2021-12-17 04:49] FrankYang0529 commented on #988
Yes, we will add it to the document. Thank you.

[2021-12-17 05:24] yasker opened #1695 "[BUG] VM with unschedule disks doesn't show clear warning message"
**Describe the bug**
VM with unschedule disks doesn't show clear warning message

**To Reproduce**
Steps to reproduce the behavior:
1. Create a VM that exceed the storage capacity, e.g. 100T
2. VM failed to start, but no error message giving to the user
3. The only available information in the event is

Reason | Resource | Date
-- | -- | --
FailedMount | Pod virt-launcher-test-nzg65Unable to attac

[2021-12-17 05:47] TachunLin commented on #1561
Verified **fixed** on `master-5e8d9764-head` with rancher `v2.6.3-rc6`. Close this issue.

### Result
After shutdown 3 harvester nodes machine, wait 15 minutes, power on all node machines in sequence,
RKE2 cluster on harvester `can recover` to `Active` status

We verified on the following test scenario
1. Fully power cycle 3 nodes harvester on bare-metal machine
2. Fully power cycle 3 nodes harves

[2021-12-17 05:47] #1561 closed, assigned to gitlawr, weihanglo, TachunLin

[2021-12-17 05:53] gitlawr commented on #1111
I've seen similar issue on Rancher v2.6.3-rc7 dashboard:
![image](https://user-images.githubusercontent.com/5697937/146496185-9f02cd71-0075-4644-a75c-7fa88839c8ee.png)

[2021-12-17 07:14] yaocw2020 opened #1697 "[FEATURE] Optimization for the Harvester load balancer"
**Is your feature request related to a problem? Please describe.**

![image](https://user-images.githubusercontent.com/7421463/146503909-1027e033-7b36-47bd-8694-a5f6a3e5c090.png)
1. The modification of the IPAM configuration won't take effect. Users are not allowed to modify it.
2. The healthy check port should be a node port that is not user-friendly. We can add a dropbox to let users select one

[2021-12-17 08:47] lanfon72 commented on #988
Verified the case 3 is work correctly with some caveats, updated in _**verify steps**_.
@FrankYang0529 please update document based on the _**verify steps**_, thanks

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-3d096946-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. setup **backup-target** in cluster B
2. **Backup Targets** in _Backups_ sh

[2021-12-17 08:47] #988 closed, assigned to FrankYang0529, lanfon72, n313893254

[2021-12-17 11:24] #1669 closed, assigned to gitlawr, yaocw2020, noahgildersleeve

[2021-12-17 11:51] richard-cox commented on #1111
To help track down the cause of this, could whoever reproduces this do the following
- Check the browser's `Dev Tools` for any errors in the `Console`
- Check for the duplicate resources independently from the UI using `kubectl get` (the resource type is usually in the url, for instance the `Cluster Management` / `Clusters` page `c/local/manager/provisioning.cattle.io.cluster` --> `provisioning.ca

[2021-12-17 12:10] averyfreeman opened #1699 "[BUG] Cannot use local AD time server for NTP time source"
**Describe the bug**
Cannot use local AD time server for NTP time source

**To Reproduce**
Steps to reproduce the behavior:
During initial installation, in menu:
`Configure NTP Servers`

Enter local AD server as NTP server, local IP `192.168.1.2` for example.

Error message:

[code]

**Expected behavior**

`Configure NTP Servers` option to be compatible with AD. (Is it a udp issue?)

Edit: I shoul

[2021-12-17 12:48] averyfreeman opened #1700 "[BUG] CPU usage over 100% without any load introduced / images downloaded / containers running / VMs migrated"
**Describe the bug**
Installed 2-node cluster about 30 minutes ago.  Management interface reports 102% CPU usage.  vSphere, 8 vCPUs (threads) allocated for each VM on E5-2650v3 and E5-2650v4 Supermicro whiteboxes with 16G ram each (128G ram total on each host).

**To Reproduce**
Steps to reproduce the behavior:
Install main node from ISO.
Install secondary node from ISO ("join cluster" option duri

[2021-12-17 15:15] TachunLin commented on #1644
Verified **fixed** after upgrade from v0.3.0 to `master-935a1670-head`.(12/17 based on v1.0.0-rc1)
Close this issue.

### Result
After manual upgrade from v0.3.0 to v1.0.0-rc1 (master-935a1670-head).

**1. Harvester pods did not crash -> `PASS`**
[code]

**2. Check whether longhornBackupName is in each VM Backup. -> `PASS`**

[code]

[code]

**3. Check whether there is <namespace>-<name>.cfg file

[2021-12-17 15:15] #1644 closed, assigned to FrankYang0529, TachunLin

[2021-12-17 15:16] TachunLin commented on #1588
Verified **fixed** after upgrade from v0.3.0 to `master-935a1670-head`.(12/17 based on v1.0.0-rc1)
Close this issue.

### Result
After manual upgrade from v0.3.0 to v1.0.0-rc1 (master-935a1670-head).

**1. Harvester pods did not crash -> `PASS`**
[code]

**2. Check whether longhornBackupName is in each VM Backup. -> `PASS`**

[code]

[code]

**3. Check whether there is <namespace>-<name>.cfg file

[2021-12-17 15:16] #1588 closed, assigned to FrankYang0529, TachunLin

[2021-12-17 16:05] davidnuzik opened #1701 "[FEATURE] Add helper text to certain areas similar to what the Rancher dashboard UI offers today"
**Is your feature request related to a problem? Please describe.**

No.

**Describe the solution you'd like**

It would be nice if the Harvester UI contained some helper text where necessary. For example, consider this helper text in the Rancher dashboard UI that provides additional context on node draining here on the cluster creation form:

It has a little `i` bubble to the right of the text/con

[2021-12-17 20:01] gatesry commented on #1700
**Describe the bug**
CPU reserved for 14/28 cores after 4 hours of idle. This is after a fresh bare-metal install on 3 Intel NUCs. Actual CPU usage is less then 10%.
![2021-12-17 12_37_19-Harvester and 2 more pages - Work - Microsoft​ Edge](https://user-images.githubusercontent.com/67442967/146592184-fe32d5e6-fd68-4c6b-b87b-5475f05ff740.png)
![2021-12-17 13_46_08-Harvester and 2 more pages - Work

[2021-12-17 22:01] averyfreeman commented on #1700
Oh interesting, so you measured actual CPU usage through `top`, `vmstat`, `watch -n 1 'cat /proc/stat'` or something, and it's just a UI issue? -- sorry as soon as I wrote that I noticed the graph in your 2nd picture.  Interesting, so they must use different methods of measurement.

It's nice to know the CPU utilization isn't so high.  Does the way it's being measured and misinterpreted on the fir

[2021-12-17 23:44] khushboo-rancher commented on #1333
Tried with v1.0.0-rc2, the blocks get deleted however the .cfg file doesn't get deleted.

[2021-12-18 00:55] gatesry commented on #1700
@averyfreeman  - You got it, just reserved showing.

[2021-12-18 01:11] guangbochen commented on #1052
@TachunLin can u please check the pod status via ssh login to the RKE2 node on the Harvester side, just want to double-check if that is caused by missing some RKE2 air-gap images, thanks.

[2021-12-18 03:39] averyfreeman commented on #1700
I updated OP quite a bit - I see it's your CPU usage graph, must be why I didn't notice / recognize it at first, mine won't load.

That's very interesting that the VM's reserved CPU would be showing as consumed.  How did you know it correlates with reserved CPU, are you looking at numbers in vSphere?

Is there a way to run updates on this thing?  I notice there's `zypper` on the underlying system,

[2021-12-18 19:50] khushboo-rancher opened #1702 "[BUG] Don't allow restart/stop vm when backup is in progress"
**Describe the bug**
The vms can be restarted or stopped when backup is in progress, which results in backup to fail.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a vm, write data into it.
2. Take a backup.
3. while the backup is in progress, restart the vm or stop the vm.
4. System doesn't warn or stop user to restart the vm. VM gets restarted and backup fails.

**Expected behavio

[2021-12-18 20:20] khushboo-rancher opened #1703 "[BUG] Backup shows status as 'progressing' even when the backup is failed"
**Describe the bug**
Backup shows status as 'progressing' even fail the backup is failed.

**To Reproduce**
Steps to reproduce the behavior:
1. Take a backup of vm.
2. While the backup is in progress, stop the vm.
3. Backup status doesn't show failed, it keep showing 'progressing'

**Expected behavior**
Backup should show the correct status.

**Environment:**
 - Harvester ISO version:  v1.0.0-rc2

[2021-12-19 04:33] Yabbo opened #1704 "[BUG] Can not use Bridged Network in harvester 1.0.0-rc2"
**Describe the bug**
When creating a VM in harvester with the network set to Bridge it will create the VM with a masquerade network. any attempt to change it to bridge doesnt seam to do anything even though it looks like it saves the change.

**To Reproduce**
Steps to reproduce the behavior:
create a vm with bridge network

**Expected behavior**
it should allow me to place the VM on my main networ

[2021-12-19 04:37] Yabbo commented on #1676
second this

[2021-12-19 04:59] khushboo-rancher opened #1705 "[BUG] Sometimes vm stuck in terminating state on network disruption"
**Describe the bug**
On creating network disruption on a node where the vm was running vm stuck in `starting` state.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a vm.
2. Disrupt the network for 200 sec on the node where the node is attached using  iptables.
3. vm stuck in 'starting` state.

**Expected behavior**
The vm should recover.

**Support bundle**
[supportbundle_b25e9adb-2f

[2021-12-20 01:56] TachunLin commented on #1052
@guangbochen, once clicking create button on rancher dashboard, it was hanging for seconds then directly pop out above error message of `Internal error occurred: failed calling webhook "default.cluster.cluster.x-k8s.io"`
Since the RKE2 node vm not yet be created on harvester side, it's not available to check the pod status inside the rke2 node.

I checked the docker logs on rancher side it has som

[2021-12-20 03:19] bk201 commented on #1022
**Update**
Note I found it's not possible to test a master ISO due the the `rancher/harvester-upgrade` image for a dev build is not published.
Currently, we need a hack like https://github.com/bk201/harvester-installer/commit/040fb91f7aff0b77ecf3083f4c928acf9ff680f4 to include the image in a testing ISO.

**Test plan to upgrade from 1.0.0-rc2 to latest mater**

- Download master ISO and put it in

[2021-12-20 06:00] TachunLin commented on #1052
@guangbochen, according to @gitlawr instruction, currently I can `successfully provision` **RKE2 cluster** on both harvester and rancher in air gap environment as **Test scenario 1**

- [x] Can import downstream harvester from rancher

- [x] Can access downstream harvester cluster from Rancher dashboard

- [x] Can provision RKE2 cluster on harvester

![image](https://user-images.githubusercontent.

[2021-12-20 07:28] yaocw2020 commented on #1704
Harvester have not provide bridge network yet. Please take a look at the documentation.
https://docs.harvesterhci.io/v1.0/networking/harvester-network/

[2021-12-20 09:33] guangbochen commented on #1052
@gitlawr @TachunLin can we please help to document this with an `air-gap` support page on http://127.0.0.1:8000/rancher/rancher-integration/#air-gap-support, thanks

[2021-12-20 10:15] guangbochen commented on #1628
close as documented on the https://docs.harvesterhci.io/v1.0/rancher/cloud-provider/#deploying-to-the-rke1-cluster-with-harvester-node-driver

[2021-12-20 10:15] #1628 closed, assigned to yaocw2020, slickwarren

[2021-12-20 10:31] FrankYang0529 opened #1707 "[BUG] Zero downtime upgrade stuck in "Waiting for VM live-migration or shutdown...""
**Describe the bug**
As title, `hvst-upgrade` pod keeps waiting for VM live-migration or shutdown. VM pods are stuck in `Terminating` state, so `hvst-upgrade` pod can't go to the next step.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup 1 node environment with harvester version 1.0.0-rc2.
2. Start a VM on it.
3. Run commands to apply a new version.
[code]
4. Click upgrade on the dashb

[2021-12-20 12:15] futuretea opened #1708 "[BUG] After click "Detach volume" button, nothing happend"
**Describe the bug**

After "Detach volume", nothing happend
![image](https://user-images.githubusercontent.com/15064560/146765349-1452573e-1d13-4671-8ae8-4f0d7c91ee64.png)

**To Reproduce**
Steps to reproduce the behavior:
1. create a vm "test"
2. create a volume "test" in the namespace
![image](https://user-images.githubusercontent.com/15064560/146765070-ab52a8f3-7a50-457f-a281-ada8381e175e.png)

[2021-12-20 13:36] simonflood opened #1709 "[BUG] Missing volumes post-install"
**Describe the bug**
According to the Dashboard on newly installed Harvester 1.0.0-rc2 there are two volumes but when you click to see what they are none are listed.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Harvester 1.0.0-rc2
2. Post-install set Admin password and log in to dashboard
3. Note the Volumes "bar" shows a count of 2
4. Click the Volumes "bar" (or in side-menu)
5.

[2021-12-20 13:51] bk201 commented on #1707
The job is stuck because VMI on the host exists:
[code]

VM Pods are stuck at terminating.

[2021-12-20 13:58] msnelling opened #1710 "[FEATURE] USB passthrough support"
Will there be the option to pass through USB devices plugged into a Harvester node to a running VM? Example use-cases could be
* Security dongles
* Zigbee tranceivers
* HID
* External storage

[2021-12-20 14:03] guangbochen commented on #1709
I think those are default system volumes e.g the one used by the built-in monitoring system, and we should skip counting those 2 volumes on the dashboard page.

[2021-12-20 14:21] WuJun2016 opened #1711 "[BUG] When creating a new template from an existing template, the volume size should be editable"
**Describe the bug**

![image](https://user-images.githubusercontent.com/24985926/146780842-963bdf1a-129e-45f1-be25-253cf515ad94.png)

**To Reproduce**
Steps to reproduce the behavior:
1.  Create a vm template
![image](https://user-images.githubusercontent.com/24985926/146781221-3831053a-1c9e-485e-a05c-7178ab498f72.png)
2. Click on the action menu of the template (Modify template)
3. Click volume

[2021-12-20 14:50] w13915984028 opened #1712 "[BUG] Harvester "Hosts" MEMORY shows incorrect data"
**Describe the bug**

Harvester "Hosts" MEMORY shows incorrect data
![image](https://user-images.githubusercontent.com/31133476/146785050-b16421ce-47e7-4acf-b6e2-20501535ac37.png)

**To Reproduce**
Steps to reproduce the behavior:
1. A fresh Harvester v1.0.0 rc2 installation with 2 nodes, the second node uses around 848 MiB memory, on the WEB UI, it shows `848 of 16 GiB`

**Expected behavior**

Me

[2021-12-20 14:58] futuretea opened #1713 "[BUG] The volume size in backup is displayed incorrectly"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. create a vm with 10Gi rootdisk
![image](https://user-images.githubusercontent.com/15064560/146786337-e9501e33-8f07-4632-8a24-ecfed51eeea2.png)

2. take backup

UI display backup volume is 50Gi not 10Gi, but only 10Gi in the backup yaml
![image](https://user-images.githubusercontent.com/15064560/146786844-a2aafaec-cb25-4c89-

[2021-12-20 15:02] futuretea commented on #1712
"MEMORY" should be "Memory"

[2021-12-20 15:18] TachunLin commented on #1022
The zero downtime upgrade contains the following four types of test scenarios

#### Factors:
1. Image from File or URL
2. Single or multiple nodes

#### **Test Scenario 1:**  -> Status: **`PASS`**
- [x] `Single node` harvester do zero downtime upgrade image from `File` (air gap usage)

  1. Harvester version `successfully upgrade` to `master-b9613f90-head`
  2. OS version `successfully upgrade` to

[2021-12-20 15:36] guangbochen commented on #1400
close as duplicate of https://github.com/harvester/harvester/issues/1695

[2021-12-20 15:36] #1400 closed, assigned to futuretea

[2021-12-20 15:36] Yabbo commented on #1704
documentation of the networking needs to be reviewed and extended. I was able to create a VLAN on my switch and utalize my management network with a vlan ID to get an IP on my local LAN which is what i expected the bridge setting to do.. it only works when you use a vlan network.

[2021-12-20 15:36] #1704 closed, assigned to nobody

[2021-12-20 15:38] guangbochen commented on #1695
There is no obvious message currently showing on the Harvester side due to complicated resource mapping, will make an enhancement on the next version, with the current version you can visit the [Longhorn UI](https://docs.harvesterhci.io/v1.0/troubleshooting/harvester/#access-embedded-longhorn) and check the detailed volume issues accordingly.

[2021-12-20 16:09] w13915984028 commented on #1712
Harvester metrics:

main node:
![image](https://user-images.githubusercontent.com/31133476/146797187-f2f06b00-7fa5-4671-9b0c-a553bd0fc944.png)

node2:
![image](https://user-images.githubusercontent.com/31133476/146797504-b878a34d-b098-405c-a527-9ce8610d85ef.png)

[2021-12-20 16:11] guangbochen commented on #1704
Thank you for sharing your use case. The `management network` is an internal network that only forwards traffic and routing within the cluster. I think we should emphasize this part of the document more, thank you.

[2021-12-20 16:32] TachunLin opened #1717 "[BUG] Zero downtime upgrade stuck in "Virt launcher pod is terminating" caused by VM crashed (4 nodes)"
**Describe the bug**

Perform zero downtime upgrade on 4 nodes harvester from v1.0.0-rc2 to customized release.

* Upgrade usage vm crash
![image](https://user-images.githubusercontent.com/29251855/146798593-84b29a71-84fb-4b29-a53d-3a062cd65618.png)

* Virt launcher pod is terminating
![image](https://user-images.githubusercontent.com/29251855/146798534-a90718d5-afc5-4793-a6f8-e9556c0410ec.png)

*

[2021-12-20 16:48] bk201 commented on #1717
Seeing two issues:
- upgrade-repo VM is terminated because the readiness probe fails. I guess it's because of heavy loading on the test env.
  - The VM is stuck at terminating. Normally, the VM should be restarted and continue serving.

[code]
     harvester-node-0:~ # kubectl get nodes
     NAME               STATUS                     ROLES                       AGE     VERSION
     harvester-no

[2021-12-20 17:11] janeczku opened #1718 "[BUG] Automatic disk provisioning result in unusable ghost disks on NVMe drives"
**Steps**

1. Install Harvester 1.0.0-rc2 on hardware servers with multiple NVMe disks
2. Add all the disks to Harvester using the global setting:

[code]

**Issue**

1. All the internal nvme drives seem to be active, but there are some ghost disks in the ui, that don't show up on the system or in blockdevices.harvesterhci.io
2. Even though all nodes have identical disks, the UI shows different am

[2021-12-20 17:22] yasker opened #1719 "task: Remove the `Upgrade` button in the setting"
Due to https://github.com/harvester/harvester/issues/1717 , we want to make sure the user doesn't have direct access to the upgrade path until we've completed the validation. So we want to remove the following button.
![settings](https://user-images.githubusercontent.com/3344618/146807017-4bcecdc0-b79c-43a8-8db8-7cb6c8ba2a79.png)

Since the automatic upgrade is controlled by the upgrade responder,

[2021-12-20 17:23] yasker commented on #1719
cc @bk201

[2021-12-20 17:29] yasker commented on #1718
There are tons of duplicated disks added into Longhorn and excluded by Longhorn duplicate disk detection mechanism.

[2021-12-20 17:38] janeczku commented on #1718
[code]

[2021-12-20 18:26] yasker commented on #1718
@janeczku ~~do you have the screenshots for the ghost disks? when you talk about UI, did you mean Harvester or Longhorn?~~

apparently it's from the Longhorn UI.

[2021-12-20 18:56] alexdepalex commented on #1718
The ghost disks are both in the Harvester and LH UI.
![Annotation 2021-12-20 195447](https://user-images.githubusercontent.com/713019/146818270-9d6848c0-08e3-4b66-9ece-289089a0d4e0.png)
![Annotation 2021-12-20 195447-2](https://user-images.githubusercontent.com/713019/146818425-369ce978-2ec6-426c-9e91-00db4fccc01e.png)

[2021-12-20 19:12] alexdepalex commented on #1718
Also. The ghosts disks can't be removed through the LH or Harvester UI.

[2021-12-20 19:17] yasker commented on #1718
@alexdepalex can you try disabling the scheduling of the `not ready` disk in Longhorn, then remove it? that should enable the delete button.

[2021-12-20 19:22] alexdepalex commented on #1718
I'm trying, but the thing is, there are currently 64 ghosts disks, and that makes the UI almost unresponsive. I would say that doing things like mass delete disks, or mass changing settings, doesn't really scale in the current UI.

[2021-12-20 19:23] yasker commented on #1718
~~Both the disk (e.g. `/dev/nvme4n1`) and it's partition(`/dev/nvme4n1p1`) have been added to the `blockdevices.harvesterhci.io` in `longhorn-system` namespace somehow, then triggered repeated formatting and overriding each other.~~

Need @weihanglo and @johnliu55tw to confirm the root cause.

[code]

and
[code]

[2021-12-20 19:28] alexdepalex commented on #1718
Anything to fix this know? Is there a way to remove this using the kubectl? I've also send @janeczku the CPU profile from Chrome.

[2021-12-20 19:31] yasker commented on #1718
Can you try to remove the duplicate block devices in `blockdevices.harvesterhci.io` in `longhorn-system` namespace?

Check for the `devPath`, and remove the objects with the e.g. `devPath: /dev/nvme4n1` (the ones without `p1` ending, e.g. `3ec6511eef63934beb219280c049361f` above) . It should remove the disk itself from the system but keep the partition.

[2021-12-20 19:42] janeczku opened #1720 "[BUG] Longhorn UI becomes unresponsive with many disks"
Tracking issue https://github.com/longhorn/longhorn/issues/3443

[2021-12-20 19:53] yasker commented on #1718
Apparently, the disks were added by the feature https://github.com/harvester/harvester/issues/747
[code]

[2021-12-20 19:55] yasker commented on #1718
@alexdepalex Can you disable the `auto-disk-provision-paths` setting before removing the block devices? Otherwise they might get added back automatically again

[2021-12-20 21:58] khushboo-rancher opened #1721 "[BUG] 'auto-disk-provision-paths' not available on the setting page UI"
**Describe the bug**
The setting `auto-disk-provision-paths` is not appearing on v1.0.0-rc2

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Harvester cluster
2. Go to setting page, the setting `auto-disk-provision-paths` is not available.

**Expected behavior**
The setting `auto-disk-provision-paths` should be available.

**Environment:**
 - Harvester ISO version: v1.0.0-rc2

[2021-12-20 22:03] yasker commented on #1721
@guangbochen is it intended? the setting is available in the `harvester-system` namespace.

[2021-12-21 00:39] yaocw2020 opened #1722 "[BUG] Harvester network controller manager failed to update lock"
**Describe the bug**

[code]

If there is something wrong with the harvester network controller manager, the harvester can not switch the VIP interface from harvester-mgmt to harvester-br0, resulting in being unable to get the VIP from the DHCP server.

**To Reproduce**
Steps to reproduce the behavior:
1. Spin up a harvester with only one node.
2. Reboot

It occurs coincidentally.

**Expected beha

[2021-12-21 00:51] khushboo-rancher opened #1723 "[Enhancement] Data sync is required before taking backup of a VM"
**Describe the bug**
Data sync should happen before taking backup of a vm. Sometimes the data of backup miss content from vm because the data is still in buffer and haven't written on the disk.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a vm.
2. Write multiple files in a loop.
3. Take backup
4. Restore the backup, verify not all the content of the files which are written in the l

[2021-12-21 03:30] guangbochen commented on #1721
it has not been added to the setting page, but will be addressed by https://github.com/harvester/dashboard/pull/210

[2021-12-21 03:55] yasker commented on #1721
@guangbochen @WuJun2016 please hold the merge for this. We don't know if we can fix this or can test it well enough. It's better to probably keep it hidden for the time being until v1.0.1

[2021-12-21 04:05] guangbochen commented on #1721
sure, the `auto-disk-provision-paths` setting actually has already been verified on https://github.com/harvester/harvester/issues/1241, it may encounter cases like https://github.com/harvester/harvester/issues/1718, but would be good if users can modify this setting since they can already config it during the installation.

[2021-12-21 04:50] TachunLin commented on #1052
### Test Scenario 1: PASS
`Rancher and harvester are both under air gap environment within same subnet`

#### Test environment
* Rancher: v2.6.3-rc6
* Harvester: v.1.0.0-rc2

- [x] Can import downstream harvester from rancher

- [x] Can access downstream harvester cluster from Rancher dashboard

- [x] Can provision at least one node RKE1 cluster to harvester correctly with running status

- [x] Ca

[2021-12-21 05:29] bk201 commented on #1707
The reason VM pods are stuck at Terminating is that the node enters NotReady for a short period of time. Turn out it's because RKE2 server is restarted when upgrading Rancher.
- Rancher is upgraded.
  - rancher-system-agent is upgraded and a new plan is executed
  - The new plan restarts rke2-server because `RESTART_STAMP` is different from the previous value.
- Then we shut down VM, but the VM po

[2021-12-21 07:27] gitlawr opened #1724 "[BUG] Remove server-url setting in the UI"
It is not in use.

**Environment:**
 - Harvester ISO version: v1.0.0-rc2

[2021-12-21 07:46] TachunLin commented on #1052
### Steps to provision RKE1 cluster in both air gap environment
1. Clone ipxe example
2. Enable `offline` feature in settings.yaml
3. Use vagrant pxe example to build an one node harvester
4. Prepare a ubuntu VM and config virtual network `harvester` provided by pxe example
5. Run docker command to create rancher with http proxy arguments
[code]
6.  Import harvester to rancher dashboard
7. Create

[2021-12-21 07:54] johnliu55tw commented on #1718
I have somewhat reproduced this issue on KVM with 11 emulated NVMe drives (1 for Harvester system and the other 10 to be auto-provisioned) with `auto-provision-disk-paths=/dev/nvme*`. The result is **5 out of 10 NVMe drives** are unschedulable (this screenshot only shows 2):

![image](https://user-images.githubusercontent.com/5047724/146890666-fc17229d-c591-428e-ace6-f2f1ae958129.png)

Not exactly

[2021-12-21 08:07] yasker commented on #1718
It's likely a bug in the automatic disk provisioning feature. We will mark this as a known issue for v1.0.0 in the release note and won't recommend using the feature. After v1.0.0 release, we will continue to test and fix it for the v1.0.1 release.

[2021-12-21 08:24] yaocw2020 commented on #1722
For testing:
- Spin up a harvester with only one node. Got the VIP from the DHCP server.
- Enable VLAN with network interface `harvester-mgmt`
- Reboot
- Check the harvester network controller manager log. There will be no `failed to update lock` error.

[2021-12-21 08:24] #1052 closed, assigned to TachunLin

[2021-12-21 08:46] TachunLin commented on #1719
Verified **fixed** on master-0345caa9-head (12/21).Close this issue.

### Result
`Upgrade` button has been removed by default havester setting
Currently in settings page, click the config button on server-version only display `No actions available`

### Test Information
* Test Environment: 1 node harvester on local kvm machine
* Harvester version: master-0345caa9-head

### Verify Steps

1. Open ha

[2021-12-21 08:46] #1719 closed, assigned to WuJun2016, TachunLin

[2021-12-21 08:53] bk201 opened #1727 "[BUG] Move support bundle image version out of the backend code"
**Describe the bug**
Support bundle kit image is coded as the default value of a setting in the backend. https://github.com/bk201/harvester/blob/d52cb934ed7bc2c1a22d693b6d56709e18b1d190/pkg/settings/settings.go#L29
This makes harvester-installer hard to automate the image pulling process. (Currently, it's a hard-coded value: https://github.com/harvester/harvester-installer/blob/3af28b4701bc5cd05f9

[2021-12-21 09:16] TachunLin commented on #1708
Verified **fixed** on master-b9613f90-head (12/11). Close this issue.

### Result
Currently when click the **Detach volume** button, attached volume can be detach successfully.

![image](https://user-images.githubusercontent.com/29251855/146901702-9914241c-60fb-4fc9-a03a-4d72e979e20a.png)

![image](https://user-images.githubusercontent.com/29251855/146901739-7e8d0303-a753-4c02-bb33-fdf7188a65b0.pn

[2021-12-21 09:16] #1708 closed, assigned to WuJun2016, TachunLin

[2021-12-21 09:23] janeczku opened #1728 "[FEATURE] Allow Longhorn to use another disk other than the root disk during installation"
**Is your feature request related to a problem? Please describe.**

In many hardware setups involving multiple disks per server a dedicated physical disk will be used for Harvester installation.
It should be possible to exclude that disc from being used to store VMs for several reasons:

- hard storage IO separation between harvester system and VM workloads
- root install disk may have a different

[2021-12-21 09:35] lanfon72 commented on #1711
Verified this bug has been fixed.

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-0345caa9-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with any Nodes
2. Login to Dashboard
2. Create Image for Template Creation
3. Create Template `T1` with _Image Volume_ and additional _Volume_
4. Modify Template `T1` with update _Volume_

[2021-12-21 09:35] #1711 closed, assigned to lanfon72, WuJun2016

[2021-12-21 10:18] WuJun2016 opened #1729 "[BUG] When the cluster storage is large (eg: 100TiB), but the usage is small (eg: 100Mib), the progress bar is not displayed."
**Describe the bug**

![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/16abe1e5-55dc-445a-bed7-c7ece6f1f431)

![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/7b1c7a1c-c4ea-45ad-9586-d1cfb6cd1616)
**To Reproduce**
Steps to reproduce the behavior:
1.   Create a cluster with larger storage
2.  Go to the dashboard page
3.  Check the percentage of St

[2021-12-21 11:06] lanfon72 commented on #1722
Verified this issue has been fixed.

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **master-9d9778c6-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with single node
2. Login to dashboard then navigate to Settings
3. Edit **vlan** to enable VLAN on `harvester-mgmt`
4. reboot the node
5. after reboot, login to console
6. Run the c

[2021-12-21 11:06] #1722 closed, assigned to lanfon72, yaocw2020

[2021-12-21 15:06] w13915984028 commented on #1718
A quick simplified analysis, the node-disk-manager and its 30s ticker routine looks needing coordination and race control, especially those hardware related operations.

Another point is about the formatting and mounting of  a disk with partitions (e.g. `/dev/nvme4n1`,  `/dev/nvme4n1p1`), remove all partitions or keep those partitions or let user control. After formatting `/dev/nvme4n1`, it will a

[2021-12-21 17:07] Yabbo opened #1730 "[BUG] Windows Server ISOs reboot system before getting to the installation screen"
**Describe the bug**
When trying to install a Windows server from ISO or QCOW files on both Harvester 1.0.0 and 0.3.0 the windows ISO will start to boot up and get to the windows logo with the spinning circles and then the system will reboot before any menu screens come up.

**To Reproduce**
Steps to reproduce the behavior:
1. boot from any windows server ISO (2021, 2019 R2, 2012)

**Expected beha

[2021-12-21 19:51] simonflood opened #1731 "[BUG] Disable Maintenance Mode menu options don't seem to do anything"
**Describe the bug**
Wanting to change a BIOS setting for one of my nodes, I set it to Enable Maintenance Mode. Since it didn't seem to do anything I clicked it again. This time it showed the node in Maintenance mode. Once I had rebooted and made my change I then set it to Disable Maintenance Mode. Despite waiting and multiple attempts, both on the Hosts page (three dots for relevant host) and the

[2021-12-21 19:56] simonflood commented on #1731
Support bundle
[supportbundle_afac18dc-92db-412a-922d-2b86a05e199d_2021-12-21T19-54-01Z.zip](https://github.com/harvester/harvester/files/7757806/supportbundle_afac18dc-92db-412a-922d-2b86a05e199d_2021-12-21T19-54-01Z.zip)

[2021-12-21 20:53] robertsirc opened #1732 "[BUG] Dashboard button on Left Nav isn't working correctly"
The "Dashboard" button most of the button is not selectable.

If you are logged in to Harvester and you select any other button in the left nav and then try to select the "Dashboard" button most of the button is not selectable. I am using Edge for this, which is chromium based.

That the "Dashboard" button acts like every other button in the left nav menu.

**Environment:**
 - Harvester ISO versio

[2021-12-21 21:00] yasker commented on #1732
@robertsirc can you provide a screenshot/recording to help understand the problem?

[2021-12-21 21:06] robertsirc commented on #1732
The cursor looks like this:
<img width="248" alt="Screen Shot 2021-12-21 at 4 03 54 PM" src="https://user-images.githubusercontent.com/13884882/146997635-b1a1cbed-361f-4488-a4ff-5abca9e56a5a.png">
and it should look like this:
<img width="244" alt="Screen Shot 2021-12-21 at 4 04 35 PM" src="https://user-images.githubusercontent.com/13884882/146997669-4ee3c46b-f4ff-4c68-9a60-c612c6fb3ce2.png">

to

[2021-12-21 21:22] yasker commented on #1732
Weird, I don't have that problem with Chrome.

We will take a look.

[2021-12-21 21:43] Jellyfrog commented on #1557
Issue still present in v1.0.0.

Have to send a bunch of packets from a guest before it starts to work:
![image](https://user-images.githubusercontent.com/759887/147001222-b5be3c99-ed89-4d4c-849c-6e66724166e9.png)

[2021-12-21 23:33] gatesry commented on #1700
Try the newest 1.0.0 release and let me know if you still get the CPU issue. I'm reinstalling my cluster now and will report back.

Regarding the updates, I would advise not running manual updates on the Harvester OS. It's read-only I believe to prevent misconfigurations.

[2021-12-22 09:27] n313893254 commented on #1653
Closed the issue in favor same as https://github.com/harvester/harvester/issues/1111.

[2021-12-22 09:27] #1653 closed, assigned to n313893254

[2021-12-22 12:38] simonflood commented on #1732
I'm not seeing this with Firefox 91.3.0 ESR on openSUSE Leap 15.3

[2021-12-22 12:58] simonflood commented on #1731
Unexpectedly retrying to disable maintenance mode just now actually worked - almost immediately after I clicked it the host changed. So either time was a healer or something else has changed (other than logging out and back in again today nothing has changed in my Harvester 1.0.0 setup).

[2021-12-22 13:09] alexdepalex opened #1734 "[BUG] Unable to assign disk when it contains a gpt label"
**Describe the bug**
When a disk contains a gpt label, it's not possible to assign it as a data disk. The disk is in the host disk drop-down menu, but it's not selectable.

**To Reproduce**
 Create a disk with PTTYPE="gpt"

**Expected behavior**
Select the disk and purge any existing data that's on there.

**Support bundle**

**Environment:**
 - Harvester ISO version:  v1.0.0
 - Underlying Infrast

[2021-12-22 13:35] simonflood opened #1735 "[BUG] Node connected at 100Mb/s once VLAN enabled"
**Describe the bug**
This is an odd one and something I've previously noticed with 0.3.0 on nuc1 (I didn't have a nuc2 until recently) but didn't have time to troubleshoot.

I have two NUCs, both connected to a dumb network switch. After reinstalling afresh with 1.0.0 yesterday the switch was showing each was connected at 1Gb/s (yellow). At some point after I configured the default VLAN 1 the swit

[2021-12-22 13:45] simonflood opened #1736 "[BUG] Uploading images from files seemed to time out and now can't upload files"
**Describe the bug**
Uploading two image files from locally mounted NAS folder seemed to timeout with no error. Deleting then retrying displays a network error. Dashboard and other pages are still responding.

The two images files are for SLES15 SP3 JeOS which are not available publicly (hence downloading then trying to upload them).

simon@linux:~> ls -lah /mnt/data/ISOs/SUSE-Linux-Enterprise-15-

[2021-12-22 13:48] simonflood commented on #1736
Trying to upload these local files via Python HTTP server shows that file upload is now broken for files and URLs.

[2021-12-22 13:55] simonflood commented on #1736
Hmm just tried logging out which showed the "Logging out..." message but didn't seem to be as I then reloaded main Harvester page where it prompted re certificate. After that I was still logged in and could then successfully upload from file. My suspicion is that the web session timed out during first file upload(s) but nothing changed on screen.

BTW I'm using Firefox 91.3.0 ESR on openSUSE Leap

[2021-12-22 14:48] simonflood commented on #1736
My immediate second upload from file has got stuck at 2% after 49 mins - I left it whilst I had lunch. I've refreshed the page (yes I know it said not to) and time has increased to 50 mins. I've now deleted it and retried - after 38 secs I got a red Failed with Context cancelled.

[2021-12-22 14:50] simonflood commented on #1736
After going to Dashboard then back to Images page I could then retry and this time it completed. There's definitely something odd going on somewhere.

[2021-12-22 15:16] simonflood opened #1737 "[BUG] All VMs created on one node in two-node cluster"
**Describe the bug**
Yesterday I installed a two-node Harvester 1.0.0 cluster and now I'm loading it up with images and creating VMs. Having now created 8 VMs I'm surprised that they are all on one of the nodes and not split across both nodes. I've given each VM 1x CPU and both nodes are quad core with Hyper Threading enabled so 8 threads.

**To Reproduce**
Steps to reproduce the behavior:
1. Inst

[2021-12-22 15:51] simonflood commented on #1736
Uploading images seems to be very hit and miss (mostly the latter) whether directly from Internet (Debian and Fedora cloud images are latest problematic ones), downloaded locally then uploaded as files, or downloaded locally then served via Python HTTP Server module (python3 -m http.server).

I find things work a bit better if I refresh the page and/or navigate to other pages before returning to I

[2021-12-22 16:08] simonflood commented on #1737
And a 9th VM also started on first NUC so that rules out a thought that maybe it was matching CPU cores/threads then switch but obviously not. Must be related to over-provisioning though better to load balance so not to have all eggs in the one basket.

[2021-12-22 18:27] Yabbo commented on #1735
I just checked my systems "both 10Gb  networking"

Settings for harvester-mgmt:
Speed: 10000Mb/s

Settings for harvester-br0:
Speed: 10000Mb/s

Settings for flannel.1:
Speed: 10000Mb/s

I havent seen any issues with network speeds on either of my nodes. if you reboot does your system renegotiate at 1Gb? wondering if this is a hardware / cable issue.

[2021-12-22 18:31] Yabbo commented on #1710
would like to add the ability to boot from a local USB drive (users desktop not the server) when installing VMs into the harvester cluster.

[2021-12-22 18:35] simonflood commented on #1735
I've just set the nuc1 NIC to 1000Mb/s via `sudo ethtool -s eno1 speed 1000` and other interfaces now also showing 1000Mb/s plus switch port went yellow. Will see if it sticks and survives reboot when that happens.

[2021-12-22 19:03] yasker commented on #1730
I’ve just tried Windows 2012 R2 and it works. Not sure if it’s related but I set my root disk to 50G and give it 4c8g./

I do have issues with Windows 2019 at the moment. The VM keeps rebooting. Might be related to https://github.com/harvester/harvester/issues/276

[2021-12-22 19:13] simonflood commented on #1737
And a 10th and now finally Windows Server VM as 11th VM also on first NUC. Wonder how many I have to spin up before hitting a limit and either bringing second NUC into play?

[2021-12-23 00:25] Jellyfrog commented on #1557
This issue was  resolved by using this method of "mac learning" instead;
https://www.virtualthoughts.co.uk/2021/12/20/evaluating-harvester-in-vsphere/
https://williamlam.com/2018/04/native-mac-learning-in-vsphere-6-7-removes-the-need-for-promiscuous-mode-for-nested-esxi.html

[2021-12-23 00:25] #1557 closed, assigned to yaocw2020

[2021-12-23 00:27] Jellyfrog commented on #1364
This has been resolved in 1.0.0

[2021-12-23 00:27] #1364 closed, assigned to nobody

[2021-12-23 04:25] bk201 opened #1738 "[BUG] prometheus container fails repeatedly after upgrade from 0.3.0 to 1.0.0 manually"
**Describe the bug**
After upgrading from 0.3.0 to 1.0.0, the `prometheus` contianerin In the `cattle-monitoring-system/prometheus-rancher-monitoring-prometheus-0` pod fails repeatedly:

![Screen Shot 2021-12-23 at 11 48 37 AM](https://user-images.githubusercontent.com/1691518/147187593-8e21ee74-2b90-4755-9fc5-9ef599946f22.png)

[code]

[cattle-monitoring-system-prometheus-rancher-monitoring-prome

[2021-12-23 07:07] yaocw2020 commented on #1636
It means you have not enabled the VLAN network. @oxr463

Documentation: https://docs.harvesterhci.io/v1.0/networking/harvester-network/

[2021-12-23 08:16] weihanglo commented on #1718
There is a probable fix harvester/node-disk-manager#23 that I believe the re-entry of critical sections in blockdevices reconcilation is the root cause.

[2021-12-23 11:12] alexdepalex opened #1739 "[BUG] In system settings defined vlan interface is not configured on nodes"
**Describe the bug**
The default network interface of the vlan network is not configured on the nodes. Trying to change the setting after deployment in `Settings` seems to be broken.

**To Reproduce**
Steps to reproduce the behavior:
1. Add the following to the harvester installer config:
[code]
2. After deployment, the interface name `public` is set in ` Settings`  -> `vlan`, but it's not applied

[2021-12-23 14:07] johnliu55tw commented on #1682
`wicked` by default uses [DUID-LLT](https://datatracker.ietf.org/doc/html/rfc3315#section-9.2) as the client identifier to request IP from DHCP server, and the one generated during the installation time is different from the one generated on first-boot after installation because **the time** is involved in generating the identifier (LTT stands for **L**ink-**L**ayer address plus **T**ime).

One wa

[2021-12-24 02:26] WuJun2016 commented on #717
Is this a needed feature ?   We can close if we don't need it.    cc @guangbochen   @yaocw2020

[2021-12-24 02:34] bk201 commented on #1738
Events of Prometheus container.
[code]

[2021-12-24 02:38] guangbochen commented on #1686
close as this is not needed.

[2021-12-24 02:38] #1686 closed, assigned to n313893254

[2021-12-24 02:57] WuJun2016 opened #1740 "[BUG] The frontend should get the status of all resources based on /v1/count"
**Describe the bug**

![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/6fb63567-59da-4661-9e9d-caa1ded229f4)

On the frontend we should not request all api's to get the state of each resource, the backend should map the state of all resources to v1/count.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**

**Support bundle**

**Environment:**
 - Har

[2021-12-24 03:36] yaocw2020 commented on #717
I think we can close it.

[2021-12-24 04:08] bk201 commented on #1738
The container is OOM-killed, it reaches the 1500 Mi limit.
[code]

[code]

[2021-12-24 04:27] TachunLin commented on #1666
Verified **fixed** on v1.0.0 (GA). Close this issue.

### Result
After manual upgrade from v0.3.0 to v1.0.0 GA
With the u
User can use original admin password to login harvester dashboard after upgrade to v1.0.0

### Test Information
* Test Environment: 4 nodes harvester on local kvm machine
* Harvester version: v1.0.0 GA

### Verify Steps

1. Download harvester v0.3.0 iso and do checksum
2. Downl

[2021-12-24 04:27] #1666 closed, assigned to bk201, guangbochen, TachunLin

[2021-12-24 05:50] TachunLin opened #1741 "[BUG] Some of existing images crashes with pod failed error after upgrading from v0.3.0 to v1.0.0"
**Describe the bug**

In a 4 nodes harvester cluster with VIP from fixed IP. After upgrade from v0.3.0 to v1.0.0 GA
Some of the images crashed with error `The pod dedicated to prepare the first backing image file failed:`

![image](https://user-images.githubusercontent.com/29251855/147321100-34ecbb4c-3d3f-48e1-876a-f378e72d6f93.png)

**Where to find**
This issue discovered during the verification

[2021-12-24 06:24] TachunLin opened #1742 "[BUG] Host cpu usage exceed allocated limitation and increasing the usage after upgrading from v0.3.0 to v1.0.0"
**Describe the bug**

In a 4 nodes harvester cluster with VIP from fixed IP. After upgrade from v0.3.0 to v1.0.0 GA
Node 3 cpu usage exceed to original allocate (4 core) and continue increasing the usage value

![image](https://user-images.githubusercontent.com/29251855/147324055-c218fd51-ef94-42c0-b870-790392f63ac3.png)

* Host status in v0.3.0
![image](https://user-images.githubusercontent.com/2

[2021-12-24 06:56] #717 closed, assigned to nobody

[2021-12-24 07:07] bk201 commented on #1738
The default memory limit is `1500mi`, Increasing the memory limit to a large value (e.g. 3000mi) helps.
@guangbochen We need to monitor a reasonable value for the Prometheus pod, the actual memory usage is near `1600 mi` from my observation and might be higher over time.

[2021-12-24 07:31] guangbochen commented on #1738
sure, actually this issue is also tracked via https://github.com/harvester/harvester/issues/1531, except to increase the default value I think we also need considering to expose those configurations via the setting.

[2021-12-24 08:02] lanfon72 commented on #1718
Update the result of testing on _**qemu/KVM**_ environment

### succeed cases
- [x] `IDE` bus with **WWN** assigned
- [x] `NVMe` bus with small size NVMe disk

### Failed cases
- [ ] `SATA` bus, unable to assign **WWN** (`libvirt` not support)
- [ ] `SCSI` bus, able to assign **WWN**, unable to install and entering `Dracut Emergency Shell`
- [ ] `UAS(USB Attached SCSI)` bus, physical disk disk pas

[2021-12-24 08:19] lanfon72 opened #1745 "[BUG] Installing failed when some disks using SCSI"
### Describe the bug
Harvester unable to be installed when the machine have any disk using `SCSI`, otherwise installer will entering `Dracut Emergency Shell`.

This issue discovered by https://github.com/harvester/harvester/issues/1718#issuecomment-1000710949

### To Reproduce
Steps to reproduce the behavior:
1. Install Harvester with any disks using SCSI protocol
2. Installer will take several mi

[2021-12-24 08:25] lanfon72 commented on #1745
To reproduce this based on https://github.com/harvester/ipxe-examples using vagrant, you can just update following snippets in `Vagrantfile`:
[code]

[2021-12-24 08:32] bk201 commented on #1745
@lanfon72  Is this reproduced in KVM VM only or also on real hardware?

A typo?
[code]

[2021-12-24 08:34] lanfon72 commented on #1745
yes :joy_cat: , let me update it
It should also on real hardware, as I tried it happen on `UAS` too (which was additional disk pass through)

[2021-12-24 12:04] zhilong-rancher opened #1746 "[FEATURE]The IP addresses of multiple NETWORK interface cards (nics) of the VM are displayed"
**Is your feature request related to a problem? Please describe.**
After a VM is created, multiple nics are configured, but only the IP address of the first NIC is displayed on the page.

**Describe the solution you'd like**
If a VM is configured with multiple nics, the IP addresses of the first two nics should be displayed on the page.

[2021-12-24 12:14] TangStone opened #1747 "[BUG] Add volume not mounted to vm"
**Describe the bug**
Use vm's Add volume function to see that the volume is not eventually mounted on vm
![image](https://user-images.githubusercontent.com/15829074/147351444-2b88dd78-ae47-4e45-86e0-8f7ce2c5fdd5.png)

**To Reproduce**
Steps to reproduce the behavior:
1. create a vm with the name ltang
2. create a volume named ltang-test
3. Add the volume ltang-test to the virtual machine ltang thr

[2021-12-24 12:16] zhilong-rancher opened #1748 "[FEATURE]Install qemu-guest-Agent in an offline environment"
**Is your feature request related to a problem? Please describe.**

During VM installation, qemu-guest-agent can be installed on the operating system (OS) by configured in user data. However, the installation can be successful only when the OS is connected to the Internet, because the software package may not exist in the OS image.

**Describe the solution you'd like**

Put the qemmu-guest-agent p

[2021-12-24 12:17] zhilong-rancher opened #1749 "[FEATURE]Install qemu-guest-Agent in an offline environment"
**Is your feature request related to a problem? Please describe.**

During VM installation, qemu-guest-agent can be installed on the operating system (OS) by configured in user data. However, the installation can be successful only when the OS is connected to the Internet, because the software package may not exist in the OS image.

**Describe the solution you'd like**

Put the qemmu-guest-agent p

[2021-12-24 12:20] #1748 closed, assigned to nobody

[2021-12-24 18:39] alexarnoldy opened #1750 "Need ability to add a jumphost to SSH parameters to install RKE/RKE2/K3s into private networks"
**Is your feature request related to a problem? Please describe.**
My environment has mostly VLANs fronted with NAT routers, thus Harvester can't SSH to the nodes it deploys.

**Describe the solution you'd like**
I would like the ability to identify a jumphost (perhaps in the node template) that is accessible to Harvester as well as the nodes inside the private network. Then, Harvester could SSH t

[2021-12-24 19:10] alexarnoldy opened #1751 "Need ability net-boot VMs"
**Is your feature request related to a problem? Please describe.**
Harvester doesn't allow net-booting VMs without editing the VM's YAML file.

**Describe the solution you'd like**
By allowing a "boot order" option in the UI for the NIC the VM's definition, a VM could be more easily net-booted. There should be an option to switch to the next device in the boot order upon next boot (and remove the

[2021-12-27 02:43] futuretea commented on #1747
@TangStone  the added volume was mounted as "/dev/sda"

[code]

[2021-12-27 07:25] TangStone commented on #1747
@futuretea  I made a mistake in observation

[2021-12-27 07:25] #1747 closed, assigned to nobody

[2021-12-27 09:32] tscswcn opened #1752 "need add support for sriov"
**Is your feature request related to a problem? Please describe.**

need add support for sriov because the network  have been with large bandwith

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-12-27 10:43] wangpan-hqu opened #1753 "The harvester node automatically restarts at regular intervals"
**Describe the bug**

The harvester node automatically restarts at regular intervals
![屏幕截图 2021-12-28 152601](https://user-images.githubusercontent.com/74587498/147540063-6a89e689-a6c5-4a3e-aa24-5f8fac9d6fae.png)

**To Reproduce**
Steps to reproduce the behavior:
Cannot reproduce

**Expected behavior**

The node is running normally

**Environment:**
 - Harvester ISO version:  0.3.0
 - Underlying

[2021-12-28 06:03] wonleing opened #1754 "[BUG]VMs will fall into loop restarting when you start 20+ VMs at same time."
**Describe the bug**
1. Clone 20+ vms, and have them stopped
2. select all vms in VM page and click start button
3. many vms will fall into loop restarting, and never started. We can see these log in kubelet:

kubelet[24628]: E1228 13:38:22.240196   24628 kubelet.go:1681] Unable to attach or mount volumes for pod "virt-launcher-uos-lijiaji-vmddj_default(f024239c-a916-470f-9383-5fc419ac534c)": unmo

[2021-12-28 06:07] wonleing commented on #1754
All my disks are not full

devtmpfs         65814212          0   65814212    0% /dev
tmpfs            65864996          0   65864996    0% /dev/shm
tmpfs            65864996      16808   65848188    1% /run
tmpfs            65864996          0   65864996    0% /sys/fs/cgroup
/dev/sda4      6040785920  798410292 5242375628   14% /
/dev/sda2          505580     155512     350068   31% /boot
/dev/sd

[2021-12-28 07:41] guangbochen commented on #1753
this might be identical to the kernel panic error of https://github.com/harvester/harvester/issues/1342, can u please help to try the latest v1.0.0 version, thanks.

[2021-12-28 08:56] n313893254 commented on #1732
Using Edge 96.0.1054.62(x86_64) can not reproduce the issue.

@robertsirc Are you still have the issue? If so, could you input `window.$nuxt.$router.resolve('c-cluster-product-resource')` on the edge dev console and check the `href` propertiy to let me get more info?

![image.png](https://images.zenhubusercontent.com/59db4297b0222d5de47ad632/f19f51d6-bb67-4a1b-8ef9-6d6a9e695328)

[2021-12-28 10:35] insbire opened #1755 "[BUG]Can't add secondary disk as data volumen at 2nd host of cluster"
**Describe the bug**

3 Baremetal Server with same hardware cofiguration.
sda: SSD driver, installed Harvester 1.0
sdb: SATA driver, should be added as data volumen to host

**To Reproduce**
Steps to reproduce the behavior:
1. At Master Node, all works as expected.
![Harvester 1 0 Cluster Master Node](https://user-images.githubusercontent.com/86938244/147553673-a865dcfd-284e-48f5-99dd-6edc8a8daf3b

[2021-12-28 16:22] msnelling commented on #1710
This isn't really what I meant. I'm talking about passing through a USB device attached to the server running Harvester, similar to GPU/PCIe passthrough. Currently I'm using this functionality in ESXi

[2021-12-28 19:46] #1636 closed, assigned to nobody

[2021-12-29 03:12] TangStone opened #1756 "[BUG] The console can only scroll half of the content of the window"
**Describe the bug**
The console can only scroll half of the content of the window ，The vertical scroll bar cannot be pulled down to the bottom

**To Reproduce**
Steps to reproduce the behavior:
1. Create a VM
2. Wait for the VM to become active, and then connect the console to the VM
3. The scroll bar of the console window cannot be pulled down to the bottom
![image](https://user-images.githubuse

[2021-12-29 09:26] yaocw2020 commented on #1752
duplicated with https://github.com/harvester/harvester/issues/992

[2021-12-29 22:11] Palando commented on #1755
I have the same problem with three Intel NUCs. On the first node I could add the second disc (sdb) as a data volume. On the 2nd and 3rd node it can not be added although it is detected. All nodes are the same hardware.

[2021-12-30 06:58] jmarhee opened #1757 "[BUG] Cloud-Init validation throws VM creation error in Harvester UI, but VM create proceeds, leaves unbootable guest on system"
**Describe the bug**

I'm using the specific validation error that brought this matter to my attention, but seems to apply to any given cloud-init validation error to reproduce this behavior.

When creating VMs using a cloud config template, the following error is returned upon a validation error:
[code]
 if `runcmd` is valid, but in the following format:
[code]
as opposed to `["tailscale", "up"..

[2021-12-30 07:23] szthanatos commented on #1059
Same problem.
When I create a VM with 2 network like this:
![image](https://user-images.githubusercontent.com/3314301/147728950-33d7f8ce-59d0-4cef-babf-8c43b3036c3a.png)

[code]

I can't access to the VM with ssh.

`route -n` show:

[code]

So even I set VLAN as my first network, the default route still target to the management network.

I solve the problem with:

[code]

😞

[2021-12-30 09:25] szthanatos opened #1758 "[BUG]can't access to the dashboard with 'Handler disconnected'"
**Describe the bug**
After using harvester for a while, I can't access to the webpage anymore.
![image](https://user-images.githubusercontent.com/3314301/147738204-3b169ded-52fb-41e3-b76b-d14f33cb907f.png)

**To Reproduce**
The last 2 thing I do was upload image at background & create 2 VM.

When I push the create button, it failed with `Handler disconnected`, then the while page become unaccessab

[2021-12-30 09:31] szthanatos commented on #1758
the only page I can goto is:
![image](https://user-images.githubusercontent.com/3314301/147739011-0df01c92-c804-4476-a925-a473cbf5f086.png)

use `kubectl` found all deployment, svc, pod running.

pod rancher's latest log as this:
[code]

[2021-12-30 09:46] wangpan-hqu opened #1759 "helm install harvester, the service is normal, open the UI is rancher UI, not harvester UI"
![屏幕截图 2021-12-30 174228](https://user-images.githubusercontent.com/74587498/147740321-857e085f-dc22-47eb-b192-a0b2320366eb.png)
![屏幕截图 2021-12-30 174304](https://user-images.githubusercontent.com/74587498/147740334-98b62637-602a-4767-9a61-d0a2a5d1d37f.png)
@guangbochen

[2021-12-31 06:53] wangpan-hqu commented on #1753
I installed v1.0.0 version by ISO still restarts
![lQLPDhsC51NGXX3NARDNBi2wxaePN0RwxZcB1W4zG8CbAA_1581_272](https://user-images.githubusercontent.com/74587498/147808384-ffbe3ee5-8b0c-4ba7-aad9-139ceda5197a.png)

[2021-12-31 13:26] futuretea opened #1760 "[BUG] After click "Edit config", "Save“, vm will lose management network IP"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. create a vm use management network.
![image](https://user-images.githubusercontent.com/15064560/147825352-cf545ec4-29fc-466f-8a5e-28865107bfe0.png)

2. waiting vm become ”Running“.
3. check the default interface macaddress by yaml.
![image](https://user-images.githubusercontent.com/15064560/147825427-11800d15-d08a-4d98-aeb7

[2022-01-03 02:31] johnliu55tw opened #1761 "[BUG] CTRL+C can't stop system from rebooting after installation"
**Describe the bug**
After the installation, Console would prompt
[code]
But pressing CTRL+C can't stop the system from rebooting.

![image](https://user-images.githubusercontent.com/5047724/147896093-fc5d88d6-6975-40c3-9798-9d2e99eb6919.png)

**To Reproduce**

1. Install Harvester using 1.0.0 ISO on KVM
2. When console prompted ` * Rebooting system in 5 seconds (CTRL+C to cancel)`, press CTRL+C
3

[2022-01-03 02:41] bk201 commented on #1753
Hi, @wangpan-hqu Collecting the crash log of the node might help, please see https://docs.harvesterhci.io/v1.0/troubleshooting/os/#collect-crash-dumps to enable it.

[2022-01-03 08:41] FrankYang0529 commented on #1727
Proposal:
1. Add support bundle image value to `harvester/deploy/charts/harvester/values.yaml` and remove `support-bundle-image` in Settings.
2. Get ManagedChart `fleet-local/harvester`. If there is support bundle image value, it means users replace the default helm chart value, so we use it to create support bundle Deployment.
3. If there is not, we get Apps `harvester-system/harvester` to get th

[2022-01-03 16:23] janeczku opened #1762 "[Feature] Expose VIP in the specified VLAN"
Harvester 1.0.0
Rancher 2.6.3

**Describe the bug**
1. Install Harvester on servers with two network interfaces, `harvester-mgmt` and `harvester-vlan`
2. Configure the "Default Network Interface name of the VLAN network" in Harvester -> Settings and select `harvester-vlan`
3. Create a VLAN network in Harvester, e.g. VLAN ID 65
3. Configure a VIP pool with a network range within VLAN 65 in Harveste

[2022-01-03 16:38] janeczku commented on #1762
Related discussion https://github.com/harvester/harvester/issues/1239#issuecomment-923376913

[2022-01-04 02:31] bk201 opened #1763 "[BUG] Node promotion might be stuck occasionally"
**Describe the bug**

Sometimes a node promotion (agent ->server) might be stuck.

**To Reproduce**

Create a 3-node cluster and the promotion will start automatically. There is a chance the promotion never ends.

[code]

harvester-promote-node2 logs:
[code]

**Expected behavior**

The promotion should succeed.

**Support bundle**

**Environment:**
 - Harvester ISO version: `v1.0.0`
 - Underlying

[2022-01-04 07:44] bk201 opened #1765 "[BUG] node logs in support bundle is empty"
**Describe the bug**
The node logs of a support bundle are empty.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a support bundle from GUI

**Expected behavior**

Node logs should be collected.

**Support bundle**

**Environment:**
 - Harvester ISO version: `v1.0.0`
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630):

**Additional context**
Add any other c

[2022-01-04 08:13] tjjh89017 commented on #1765
Note:

in bundleGenerationError.log

[code]

[code]

env:
harvester 1.0.0 in libvirt VM

[2022-01-04 10:06] nunix opened #1767 "[BUG] Windows virtio drivers not signed for UEFI BIOS"
**Describe the bug**
When creating a Virtual Machine (VM) with the Windows template, which provides the SUSE virtio drivers for Windows, upon the first reboot after the installation, Windows cannot boot due to the drivers signature missing.

**To Reproduce**
I'm currently using Windows Server 2022, however I face the same issue with Windows Server 2019.

Prerequisites:
1. Download Windows Server 2

[2022-01-04 10:13] wangpan-hqu commented on #1753
I uploaded the log of the latest crash in debug mode. Can you help me see what the problem is? Thank you very much
@guangbochen @bk201
[README.txt](https://github.com/harvester/harvester/files/7806882/README.txt)
[dmesg.txt](https://github.com/harvester/harvester/files/7806852/dmesg.txt)

[2022-01-04 10:15] akumacxd opened #1768 "[FEATURE] Upload Images - Add refresh button or retry mechanism"
**Is your feature request related to a problem? Please describe.**

When I upload the image, if it is an external image address, it is easy to fail, but I can't find the refresh button or it tries to download it again, I need to create it again

[2022-01-04 10:22] akumacxd opened #1769 "[FEATURE] ADD Bond Mode：None or Bond Parameter"
**Is your feature request related to a problem? Please describe.**

Configure network connection:
1. If I  only one NIC and do not need bond mode, can I choose None mode?
2. If I have parameter requirements for nic binding, for example: `options bond0 miIMon =100 mode=4 xmit_hash_policy=layer3+4` ，I need a place to add nic binding parameters

[2022-01-04 10:42] insbire commented on #1755
I tried the second time to install Harvester 1.0 on the 3 nodes of cluster. In order to figure it out, the reason which causes the issue, did the following behavior:
1. Install Harvester 1.0 on the 3 nodes.
![01_reinstall_harvester](https://user-images.githubusercontent.com/86938244/148035553-86ab191c-a7b3-4c04-befd-8e27aa33a0c7.png)

2. Before add sdb on each node, check the availability of sdbs.

[2022-01-04 11:13] janeczku opened #1770 "[BUG] LoadBalancer service stuck in pending with valid names"
harvester 1.0.0
rancher 2.6.3

**To Reproduce**
1. Configure VIP Pool in Harvester -> Settings
2. Provision RKE2 cluster, enabling Harvester Cloud Provider
3. Create a service type LoadBalancer in the default namespace with IPAM->Pool and the following name: `rke2-ingress-nginx-controller`

**Expected behavior**
Loadbalancer service is provisioned

**Actual behavior**
LoadBalancer service is stuck

[2022-01-04 12:19] janeczku opened #1772 "[BUG] Static VIP address (spec.loadBalancerIP field) does not work"
**Describe the bug**

Kube-VIP supports allocating a static VIP address to a service by setting the `spec.loadBalancerIP` field in the service manifest.

Ref: https://kube-vip.io/usage/on-prem/#the-kube-vip-cloud-provider-configmap

When creating such service manifest in a Harvester guest cluster, then instead of assigning the address in `spec.loadBalancerIP` field, a random IP address from the po

[2022-01-04 14:10] bk201 commented on #1769
- A bond interface is still created even there is only one interface on the host. The purpose is to let all hosts have the same interface name `harvester-mgmt` and we create the fabric network on them.
- Currently, bond options can be configured through Harvester Config. it's not in the installer yet. Please check https://docs.harvesterhci.io/v1.0/install/harvester-configuration/#definition_12

[2022-01-04 14:40] simonflood commented on #1735
After shutting down both of my NUCs to upgrade RAM they correctly connected at 1000Mb/s.

[2022-01-04 14:43] simonflood commented on #1737
Having set the first NUC to maintenance mode and shut it down to upgrade RAM I still wasn't able to start VMs on the second NUC. The second NUC is the first one I installed in the cluster so perhaps something is set/cached?

At the moment I've got a 4-core NUC, now with 64GB RAM, that I can't start any VMs on which is a shame/waste. Thinking about reinstalling it (or both).

[2022-01-04 14:45] simonflood commented on #1731
Having shutdown both of my NUCs to upgrade RAM I again tested maintenance mode - they were both quick to enable but disabling not so. One I left overnight before I could disable, the other seemed to work after I refreshed the page, so perhaps it's a UI thing? Would be useful to know what enable & disable maintenance mode buttons do under the hood so I can try running manually from CLI to see what,

[2022-01-04 18:32] janeczku commented on #1531
This problem is observed in 1.0.0, both prometheus and node-exporter are frequently OOM killed:

[code]

[2022-01-05 01:48] bk201 commented on #1560
Close this because it's duplicated with https://github.com/harvester/harvester/issues/1667

[2022-01-05 01:48] #1560 closed, assigned to bk201

[2022-01-05 03:14] WuJun2016 commented on #1530
Hi @TachunLin,  I have not been able to reproduce the problem so far, so I may need you to provide a video to help me troubleshoot the problem. thx

[2022-01-05 03:24] yaocw2020 commented on #1770
It works with the name `rke2-ingress-nginx-controller` in my environment.

In pool mode, the log `wait ip timeout` indicates the kube-vip-cloud-provider failed to allocate an IP for the load balancer. Could you help to check the kube-vip-cloud-provider again?

[2022-01-05 07:05] akumacxd commented on #1769
Thank you for your explanation

[2022-01-05 07:06] johnliu55tw commented on #1647
This issue depends on #1390.

[2022-01-05 08:51] janeczku commented on #1770
@yaocw2020 Nothing is logged in `kube-vip-cloud-provider` when this issue occurs.
Bug is reproducable every time when creating this service object:
[rke2-ingress-nginx-controller.yaml.txt](https://github.com/harvester/harvester/files/7813413/rke2-ingress-nginx-controller.yaml.txt)

When shortening the service name to  `rke2-ingress` then the issue does not occur.

harvester-cloud-provider repeated

[2022-01-05 09:09] janeczku commented on #1770
@yaocw2020  To reproduce the issue, ensure that the name of your RKE2 cluster is 10 characters or more 😉  (in my case the guest cluster is named `production-cluster`).

The bug seems to be related to the length of the (parent) service names generated in Harvester cluster. That service name is generated based on cluster name, namespace, service name + uuid. And if that generated name exceeds 64 cha

[2022-01-05 10:00] yaocw2020 commented on #1770
The load balancer name is composed of the cluster name, namespace, svc name, and suffix. I guess its length is beyond what the Kubernetes supports if your cluster name and svc name are long.

[2022-01-05 10:52] yaocw2020 commented on #1762
By version 1.0.0, the VIPs are only reachable directly in the LAN of the harvester hosts., not across VLAN, so you need to add the routes to prove the reachability between the VLAN network and the LAN of the harvester hosts.

[2022-01-05 12:20] simonflood opened #1773 "[FEATURE] Add option to UI to view/change cluster token"
**Is your feature request related to a problem? Please describe.**
I was going to delete and reinstall one of my nodes but I'm not 100% sure of the cluster token so I wanted to check what I'd used. Having gone through all options in the UI I'm surprised that it's not available to view or change within the UI.

**Describe the solution you'd like**
The cluster token should be listed on the Advanced

[2022-01-05 12:21] janeczku opened #1774 "[BUG] HarvesterMachines resources are not cleaned up"
**Describe the bug**

HarvesterMachine resources are not cleaned up after removing Harvester RKE2 clusters that contained machines which were not fully provisioned.

This causes Rancher logs to be spammed with errors and increases the load on `local` cluster control plane over time due to constant retries.

**To Reproduce**

1. Provision a Harvester RKE2 cluster in such way that provisioning of th

[2022-01-05 13:56] janeczku opened #1775 "[BUG] Dashboard Monitoring not working for Cluster Member"
**To Reproduce**
1. Add a user as "Cluster Member" to Virtualization -> Harvester -> Edit -> Member Roles
2. Login as that user and navigate to Virtualization -> Harvester

**Expected behavior**
Monitoring graphs are visible on Virtualization Dashboard

**Actual behavior**

- Monitoring graphs are missing
- Capacity info is broken

**Environment:**
Harvester 1.0.0
Rancher 2.6.3
<img width="1679" a

[2022-01-05 14:00] janeczku opened #1776 "[BUG] Cluster Member can not create namespace"
**Describe the bug**
1. Add a user as "Cluster Member" to Virtualization -> Harvester -> Edit -> Member Roles
2. Create a new project in Virtualization -> Harvester -> Project/Namespaces
3. Add the new user to this project as Project Member
4. Login as the new user and navigate to Virtualization -> Harvester -> Project/Namespaces

**Expected behavior**
Project member can create namespace in the pr

[2022-01-05 14:07] janeczku commented on #1776
Observation: If the cluster owner creates an initial namespace in that project, then the Create Namespace button is suddenly visible to the project member. Sounds like an UI bug...

[2022-01-05 14:47] w13915984028 commented on #1255
a quick verification in v1.0.0-rc2:
(1) manually shutdown Harvester NODE (based on KVM VM), which is one of the master node, has one VM running on it.

![image](https://user-images.githubusercontent.com/31133476/148234653-d9d527df-bec8-469c-a98c-9abd92a039b6.png)

(2) the NODE became "unavailable" in Harvester, Hosts
![image](https://user-images.githubusercontent.com/31133476/148234545-aaa54493-ec

[2022-01-05 14:52] w13915984028 commented on #1255
@janeczku
Could you please confirm:
From your issue description, does the auto rescheduling of VM in harvester v1.0.0 meet your expectation? When feasible, please also check the latest version in your ENV.

When issue still exists, please write down the operation steps, thanks.

[2022-01-05 15:15] janeczku commented on #1762
@yaocw2020 We are not trying to reach VIP _across_ VLAN. We just expect the VIP to be reachable from within the VLAN attached to the VMs/cluster. There is no other local network besides the harvester-mgmt network. We are following recommendation of using a trunk port on the switch.

Could you please describe the  Harvester configuration / network architecture required to announce the VIP on a give

[2022-01-05 15:30] yaocw2020 commented on #1762
The kube-vip sends the gratuitous arp without a VLAN tag from the VIP interface. The arp broadcasts in the LAN of the harvester hosts, not in any VLAN network because it has no VLAN tag, which means the VIPs are only reachable directly in the LAN of the harvester hosts. This seems to not be related to the network architecture.

[2022-01-05 15:32] janeczku commented on #1770
Yes, it seems harvester-cloud-controller does not observe the Kubernetes naming conventions and tries to create some resource with illegal names.

[2022-01-05 16:00] w13915984028 commented on #1255
update:
the VM finally runs successfully in NODE harv2.   (it reported failure in previous update)

![image](https://user-images.githubusercontent.com/31133476/148247867-29082509-9962-40d6-8036-b9827746c0b6.png)

![image](https://user-images.githubusercontent.com/31133476/148248155-484c38ce-5514-47db-b4e2-316f3008daf4.png)

[2022-01-05 16:50] joaoalencastro opened #1777 "[BUG] Harvester doesn't recognize NVMe disks"
**Describe the bug**
When installing Harvester through the ISO method, it wouldn't show the options for the NVMe drives, only the USB drive from which it was booted (7.5G).
`lsblk` also didn't recognize the NVMe disks. (see image below)
![Image from iOS](https://user-images.githubusercontent.com/22159451/148255643-75dd6128-68e8-43dd-93b5-5471b60197bb.jpg)

**To Reproduce**
Steps to reproduce the b

[2022-01-05 22:04] bgulla opened #1778 "[BUG] Cluster fails to upgrade to HA after adding 2 nodes"
**Describe the bug**
I went from 1 node to 3, after several hours, the `control-plane` only existed on the first node and not all 3.

**Support bundle**

**Environment:**
 - Harvester ISO version:  1.0

[2022-01-05 22:04] bgulla commented on #1778
[supportbundle_13416f71-2817-44ca-ac1c-9a9ea173a4cd_2022-01-05T22-02-09Z.zip](https://github.com/harvester/harvester/files/7818049/supportbundle_13416f71-2817-44ca-ac1c-9a9ea173a4cd_2022-01-05T22-02-09Z.zip)

[2022-01-05 23:16] chajain opened #1779 "[Question] Creating RKE1 cluster using API doesn't show on Rancher cluster management UI"
**Describe the bug**
 I am trying to create RKE1 cluster using the APIs. I am using API
Post https://<rancher-endpoint>/v3/cluster?_replace=true with payload -
[code]

Post https://<rancher-endpoint>/v3/nodepool with payload
[code]
The VM is created in imported harvester cluster but the created cluster is not visible on Rancher Cluster Management UI

**To Reproduce**
Steps to reproduce the behavio

[2022-01-06 00:07] noahgildersleeve commented on #1671
![Screenshot from 2022-01-05 16-07-11](https://user-images.githubusercontent.com/83787952/148307474-93d06531-0835-4312-b5d0-e9131309d2ad.png)

[2022-01-06 02:10] bk201 commented on #1777
Thanks for reporting.
The `lspci` command is included, but you need to switch to root first: please try `sudo lspci`.

This information might be helpful:
- `sudo lspci -v`
- output of `sudo dmesg`.

cc @johnliu55tw

[2022-01-06 02:36] yshashix opened #1780 "[Question] Is harvester effected by log4j security vulnerability?"
Is log4j security issue with harvester? If it is, then is there any fix?

[2022-01-06 02:49] yasker commented on #1780
No. Log4j is not used by Harvester or any of the components that Harvester depended on.

[2022-01-06 02:49] #1780 closed, assigned to nobody

[2022-01-06 02:56] aiwantaozi opened #1781 "[FEATURE] Export Harvester Performance Metrics"
# Export Harvester Performance Metrics

## API Calls Metrics
#### metrics
- HTTP requests, partitioned by status code, method, and host
- HTTP requests laytency, partitioned by status code, method, and host
#### solution
kubernetes already export these metrics, `apiserver_request_total`, `apiserver_request_duration_seconds_bucket` etc.
example:
```apiserver_request_total{code="0",component="apiser

[2022-01-06 03:17] bk201 commented on #1778
Log of pod `harvester-promote-ryzen16-2445v`:

[code]

The promoting node is named `ryzen16` but the hostname `ryzen` is used.
We need to use node name instead of hostname in the promote script: https://github.com/harvester/harvester/blob/8021f2dc92bd0ab1e4ea67eff20a063d0df7a2f6/deploy/charts/harvester/templates/configmap.yaml#L37

[2022-01-06 04:02] futuretea commented on #1759
@wangpan-hqu
need set cluster's 'status.provider' to "harvester"
[code]

[2022-01-06 04:22] tjjh89017 commented on #1765
Agent logs

[code]

[2022-01-06 04:27] tjjh89017 commented on #1765
Root cause:
harvester v1.0.0 will put ID=harvester in /etc/os-release
but rancher/support-bundle-kit didn't have `collector-harvester`, only has `collector-harvesteros`
need to rename or duplicate collector

[2022-01-06 04:31] bk201 commented on #1765
Please help rename it, we want to avoid the `harvesteros` term. Thanks.

[2022-01-06 05:14] tjjh89017 commented on #1765
Fix PR in https://github.com/rancher/support-bundle-kit/pull/30

[2022-01-06 05:49] yaocw2020 commented on #1770
https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#dns-label-names
The name contains at most 63 characters, not 253.
If the name has more than 63 characters, the harvester cloud provider will truncate it and reserve the first 63 characters.

[2022-01-06 06:25] yaocw2020 commented on #1772
It works well with the kube-vip of the 0.4 version. We have to upgrade the kube-vip to the latest version.

[2022-01-06 06:35] yaocw2020 opened #1782 "[FEATURE] Optimize the way to configure the static VIP"
**Is your feature request related to a problem? Please describe.**

Related with https://github.com/harvester/harvester/issues/1772, if the kube-vip supports allocating a static VIP address to service by setting the spec.loadBalancerIP field in the service manifest, we don't have to set it in the configmap anymore.

**Describe the solution you'd like**

Set the harvester cluster VIP in the spec.lo

[2022-01-06 06:55] guangbochen opened #1783 "[FEATURE] Bump Kubevirt to newer version"
**Is your feature request related to a problem? Please describe.**
Bump dependency Kubevirt image to a newer version, e.g to v0.49.x, the minimum requirement is v0.46.x.

Dependency Issues:
https://github.com/harvester/harvester/issues/574

[2022-01-06 07:09] wangpan-hqu commented on #1496
I encountered the same problem. How did you solve it in the end
@xiaofan-linux

[2022-01-06 07:46] WuJun2016 opened #1784 "[FEATURE] Add the ability to view the logs of pods in the vm"
**Is your feature request related to a problem? Please describe.**

Let the user view the vm's pod information

**Describe the solution you'd like**

**Describe alternatives you've considered**

1. click VM action
2.  add `View Logs`  action

![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/d893f3b8-5a73-44ae-942d-74009e304af8)
**Additional context**

[2022-01-06 08:14] futuretea commented on #1161
@johnliu55tw @wangpan-hqu we can try to follow the latest wiki [Setting-Up-Harvester-Development-Environment](
https://github.com/harvester/harvester/wiki/Setting-Up-Harvester-Development-Environment) with the latest master code to setting up dev env, and see if we have any questions.

[2022-01-06 08:21] futuretea commented on #1759
@wangpan-hqu
I'm submitting a PR https://github.com/harvester/docs/pull/108. It might help

[2022-01-06 09:00] futuretea commented on #1779
@chajain  The nodepool payload provided is different from that sent by the UI in two points:
1. The payload sent by UI does not contain the 'name' field
2. The 'clusterId' field sent by the UI is prefixed with "c-" followed by five random characters

[2022-01-06 11:13] weihanglo commented on #1497
Tried out `systemctl disable rke2-server rke2-agent`. The result is the same. Node became `NotRready` and Unreachable on master node, so the job cannot be scheduled onto that node. I guess it's the same problem described in https://github.com/harvester/harvester/issues/1497#issuecomment-988526471

[2022-01-06 12:23] tjjh89017 commented on #1523
Hi @marcuspocus1
We didn't find out any error in the kernel log.
Could you help us to collect more logs after the link went down?
You can use iDRAC to bring it back and create support bundle again.
and if possible, using scp to copy whole folder `/var/log` to us.
Make sure we have 48+ hours logs for it, or the issue occurs.

And could you also provide SFP28 transceiver model and switch model?
It's

[2022-01-06 15:03] w13915984028 commented on #1059
---
From analysis, the working or not, depends on the default route in the guest OS side, it is affected by the DHCP processing of both ports, the latter one will set the default route finally.

suppose your ping/ssh starts from the mgmt network, no VLAN, it will first send ARP broadcast,

when guest OS sets default route with mgmt NIC, ping/ssh will work, ARP will be solved first,

when guest OS

[2022-01-06 17:32] chajain commented on #1779
@futuretea If I try to use c-12345 in 'clusterId' field in nodepool payload the POST REST API fails with error ```{"baseType":"error","code":"NotFound","message":"namespaces \"c-12345\" not found","status":404,"type":"error"}```

The REST API only works if I use 'fleet-default' in clusterId field but the cluster doesn't show up on the UI

When I use 'fleet-default' as clusterId field the response

[2022-01-06 18:31] noahgildersleeve commented on #1611
@sunkai-XDD Try with the final `v1.0.0` build at https://github.com/harvester/harvester/releases. Let me know if you're still having the issue. It should be resolved, but there isn't an upgrade path from any of the release candidates.So if you're running RC1 or RC2 you're probably going to have to reinstall.

[2022-01-07 00:35] chajain commented on #1779
@futuretea I am finally able to create RKE1 cluster using the apis I mentioned in the previous msg but the Machine Provider Harvester is not showing on the created cluster. Where do I specify the machineProvider in the templates? (edited)
![Screenshot from 2022-01-06 14-41-52](https://user-images.githubusercontent.com/28453288/148472110-8a06301d-7c8f-4208-a13e-d0cfd24b3a9f.png)

[2022-01-07 01:53] futuretea commented on #1779
@chajain  should be the nodeTemplate's 'driver' field ![image](https://user-images.githubusercontent.com/15064560/148478440-134e7620-a27d-4cf5-b1a1-7bd5bc2305b6.png)

[2022-01-07 03:31] tjjh89017 commented on #1618
@David-VTUK
Did your env only contain 1 subent (L2 broadcast domain)?
If so, you can set VLAN 1 as non-VLAN network by default settings.

[2022-01-07 03:52] guangbochen opened #1787 "[FEATURE] Bump monitoring chart version"
**Is your feature request related to a problem? Please describe.**
Bump monitoring chart version to sync with the latest rancher v2.6 release.

Refer to: https://github.com/rancher/charts/tree/dev-v2.6/charts/rancher-monitoring

[2022-01-07 03:54] guangbochen commented on #1728
By default, `/var/lib/longhorn` on the host will be used for storing the volume data. We can avoid using the default directory by adding a new disk, then disable scheduling for `/var/lib/longhorn` of both Harvester installer and PXE installation.

[2022-01-07 04:14] wonleing opened #1788 "[BUG]What label does a new node need, in order to run harvester pod?"
**Describe the bug**

Harvester pod is CrashLoopBackOff, describe show following error.
FailedScheduling  6m57s (x2 over 6m58s)  default-scheduler  0/1 nodes are available: 1 node(s) didn't match pod affinity/anti-affinity, 1 node(s) didn't satisfy existing pods anti-affinity rules.
What kind of label I need to add into node?

**To Reproduce**
Steps to reproduce the behavior:
1. Add a new node int

[2022-01-07 05:43] chajain commented on #1779
@futuretea In cloudConfig field, do I need to put the harvester kubeconfig?

[2022-01-07 06:53] TachunLin commented on #1530
Hi @WuJun2016, the frequency of occurrence for this issue is low during the v0.3.0 release since I encounter 1 ~ 2 times.
I will reproduce it on v1.0.0 to see whether it will happen again

[2022-01-07 07:00] yaocw2020 commented on #1739
The `ClusterNetwork` and `NodeNetwork` are responsible for the VLAN configurations, not the settings, so the VLAN configuration in the settings would not take effect.

[2022-01-07 07:40] futuretea commented on #1779
@chajain  no

[2022-01-07 08:12] bk201 commented on #1742
The transient `instance-manager-e` upgrade pods occupy twice the resources.

For `pvc-1aa17c19-bf83-4e08-bod9-a7f70bec1350-r-0d4353bc`, 6 replicas with new version are found.
![Screen Shot 2021-12-24 at 11 13 20 AM](https://user-images.githubusercontent.com/1691518/148513006-6eb54e6f-9e2b-4218-9486-4d756486b50f.png)

For `pvc-220e36fa-6551-431f-8a6e-59ad9ac136d1-r-3f700f2c`, one new-version replic

[2022-01-07 09:54] janeczku opened #1790 "[BUG] Unstable connectivity to guest cluster VIP"
**Describe the bug**

Connections to the guest cluster VIP addresses (service type loadBalancer) are failing frequently (e.g. 1 out of 3 connection attempts fails). tcpdump shows that return packets from the VM interfaces are lost on the harvester-br0 interface.

**To Reproduce**

1. Install a 3 node harvester cluster with each physical server having two network interfaces (see config-create.yaml

[2022-01-07 10:10] janeczku commented on #1762
@yaocw2020
So what is the solution to make available the VIP in the guest cluster VLAN network ? Announcing VIP in the management network is not compatible with enterprise requirements for network segmentation.

I made a test configuring a VIP pool in the `harvester-mgmt` network range and this resulted in unstable connections: https://github.com/harvester/harvester/issues/1790

[2022-01-07 10:28] janeczku commented on #1790
Additional information:

There is no problem pinging the VIP from the client in the same (or routed) network:

[code]

[2022-01-07 10:50] janeczku opened #1791 "[BUG] Fail to change backup target from S3 to NFS"
harvester 1.0.0

**To Reproduce**
Steps to reproduce the behavior:
1. Configure S3 backup target
2. Edit backup target and configure NFS target

**Expected behavior**
NFS backup target is saved

**Actual behavior**

Error occurs:
[code]
<img width="1443" alt="Screenshot 2022-01-07 at 11 49 23" src="https://user-images.githubusercontent.com/3813921/148533178-c4b426b9-0832-4ec3-bb19-2c0be1969f46.png

[2022-01-07 11:17] janeczku commented on #1762
Additional information:

Loadbalancer VIP is not reachable from other hosts in the VLAN network:

[code]

[2022-01-07 13:34] yaocw2020 commented on #1790
Does it ok to ping the host 10.65.0.130 or 10.65.0.131 or 10.65.0.128 or 10.65.0.132 from the harvester host?

[2022-01-07 15:19] w13915984028 commented on #1791
Reproduced in master-head ISO.

The workaround is:
  edit setting, "Use the default value", save, the current S3 setting will be reset.
  then, edit setting again, set it to NFS, it will be OK.

![image](https://user-images.githubusercontent.com/31133476/148564469-cb037b23-9ad1-4b89-b961-a28e1a2b9ee4.png)

[2022-01-07 15:22] w13915984028 commented on #1791
When the backup target is NFS at first, then directly set it to a valid S3 is fine:

![image](https://user-images.githubusercontent.com/31133476/148565319-fba4d1a3-78ac-463c-9b10-8c3cb85974ad.png)

[2022-01-07 16:57] w13915984028 commented on #1791
Root cause:
When change backup target from S3 to NFS, those S3 related fields like bucket-name is kept and sent to backend, webhook blocks it.
[code]
Will discuss where to clear those unrelated fields.

[code]

[2022-01-07 20:28] bgulla commented on #1778
good find, thanks @guangbochen
closing

[2022-01-08 14:07] NosIreland opened #1792 "[Bug]Cannot install 'panic: invalid dimensions'"
**Describe the bug**
Cannot install Harvester 1.0.0. Getting 'panic: invalid dimensions' after entering hostname and hitting enter
![image](https://user-images.githubusercontent.com/19308746/148647191-6b4d038b-2638-4c3a-9c12-23d3bcefb064.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Boot from ISO
2. Start install
3. 'Choose installation mode', Create new cluster or join existing
4. Se

[2022-01-10 02:28] johnliu55tw commented on #1728
@guangbochen I'm actually thinking of a simpler way to achieve this: **Mount the additional disk (partition) to `/var/lib/longhorn` so it would be the default storage**. This has a few benefits:

- Still works when there's only one Harvester node
    - Longhorn won't decommission the default directory (`/var/lib/longhorn`) after disabling scheduling if there are not enough replicas. With only one

[2022-01-10 03:47] TachunLin commented on #1761
Verified **fixed** on master-82c4225b-head. Close this issue.

### Result
Click `CTRL+C` while console installation finished loading, it will stop the system and back to the console login.
 ![image](https://user-images.githubusercontent.com/29251855/148715296-615a3b30-30d0-498d-96b6-a1f89599fc8c.png)

If we proceed to manual install, it will continue to booting and finish the follow up setup
![ima

[2022-01-10 03:47] #1761 closed, assigned to johnliu55tw, TachunLin

[2022-01-10 03:51] WuJun2016 commented on #1784
### test step

1. click vm action
2. click `View Logs`

![image](https://user-images.githubusercontent.com/24985926/148716521-54b67082-973b-47a7-bdc4-a907ebb1fa35.png)

[2022-01-10 03:56] bk201 commented on #1778
Reopen this, we can enhance the promotion script by using node name instead of hostname.

[2022-01-10 04:19] bk201 commented on #1792
The display area might be too small. Does the console resolution look normal?
These steps might help:
- Add `nomodeset` kernel parameter: https://docs.harvesterhci.io/v1.0/install/usb-install/#graphics-issue
- Manually specify the VGA mode in the kernel parameters. `vga=791` will be a good start, for all modes please check: https://en.wikipedia.org/wiki/VESA_BIOS_Extensions#Linux_video_mode_number

[2022-01-10 05:29] TachunLin commented on #1713
Verified **fixed** on master-82c4225b-head. Close this issue.

### Result
The volume size in backup now is identical with virtual machine volume setting
![image](https://user-images.githubusercontent.com/29251855/148718073-6d24027c-955c-4501-a28a-32f36b98ca70.png)

![image](https://user-images.githubusercontent.com/29251855/148721589-f95f1347-622b-4351-b11f-c17ad200443a.png)

### Test Information

[2022-01-10 05:29] #1713 closed, assigned to WuJun2016, TachunLin

[2022-01-10 05:46] TachunLin commented on #1724
Verified **fixed** on master-82c4225b-head. Close this issue.

### Result
The `server-url` content have been removed from settings
* **latest master head** settings
![image](https://user-images.githubusercontent.com/29251855/148722582-4e80b18d-be3a-4ba3-8735-e6406c43523e.png)

* **v1.0.0** settings
![image](https://user-images.githubusercontent.com/29251855/148722626-43288792-a3ce-4ea2-b2f3-1d3ff8

[2022-01-10 05:46] #1724 closed, assigned to WuJun2016, TachunLin

[2022-01-10 06:02] TachunLin commented on #1709
Verified **fixed** on master-82c4225b-head. Close this issue.

### Result
The default system volumes won't be counted on the dashboard page
![image](https://user-images.githubusercontent.com/29251855/148723426-aff65740-0aca-46c8-83d2-7109b328552b.png)

And also there is no default volume show up the volumes page
![image](https://user-images.githubusercontent.com/29251855/148723461-0035e0e5-e2c2-40

[2022-01-10 06:02] #1709 closed, assigned to WuJun2016, TachunLin

[2022-01-10 06:17] guangbochen commented on #1728
@johnliu55tw Longhorn supports [default disk customization](https://longhorn.io/docs/1.2.3/advanced-resources/default-disk-and-node-config/#customizing-default-disks-for-new-nodes) that we can leverage to customize the default data path of the node. Also, I'm fine to use the default path and mount it to additional disks.

[2022-01-10 07:11] gitlawr commented on #1788
From the message it's the pod anti-affinity rules that blocked the scheduling. The podAntiAffinity of Harvester deployment prevents running multiple Harvester pods on the same node.

[code]

Can you provide a support bundle?

[2022-01-10 07:35] futuretea commented on #1344
@guangbochen  maybe we need to do a enhancement for image:  add metadata to image.
for example , user add a metadata "contain qemu-guest-agent" to image, if use this image to create virtual machines , ui will not select the `install qemu guest agent` by default.

other possible metadata:
1. os
2. required disk size

[2022-01-10 08:44] gitlawr commented on #1776
https://github.com/rancher/rancher/issues/36088

[2022-01-10 09:38] TachunLin commented on #1132
Verified **fixed** on master-82c4225b-head. Close this issue.

### Result
Verified under the following scenarios, no systemd message display on console UI.

1. Fresh install 4 nodes harvester (3 management, 1 join)
2. Reboot node 3 and node 4 harvester
3. Reboot all harvester nodes at once
4. Shutdown all harvester nodes, wait 10 minutes and power on all nodes

![image](https://user-images.githubu

[2022-01-10 09:38] #1132 closed, assigned to bk201, TachunLin

[2022-01-10 10:25] TachunLin commented on #1629
Verified `not fixed` on rancher `v2.6.3` and `v2.6-head`.
Move the issue to `ice-box` pending for rancher side update to `v1.22.5+rke2r1`

### Result
The latest RKE2 version to provision harvester cluster on rancher 2.6.3 is `1.22.4+rke2r2` which is not yet bumped harvester cloud provider and harvester csi driver.

Thus the provisioned RKE2 cluster still not set `harvester` as default storage clas

[2022-01-10 10:30] TachunLin commented on #1659
Verified `not fixed` on rancher `v2.6.3` and `v2.6-head`.
Move the issue to `ice-box` pending for rancher side update to `v1.22.5+rke2r1`

### Result
The latest RKE2 version to provision harvester cluster on rancher 2.6.3 is `1.22.4+rke2r2` which is not yet bumped harvester cloud provider and harvester csi driver.

![image](https://user-images.githubusercontent.com/29251855/148751307-2d15be8e-db11

[2022-01-10 11:13] bk201 commented on #1662
@yasker @guangbochen  Normally this is achieved by invoking the `ipmitool` command or any other out-of-band tools to set the boot order after an installation.

We now have [installer webhooks](https://github.com/harvester/harvester-installer/pull/57) (unfortunately I think it's undocumented) that can be used at some installation points (e.g, installed successfully) to notify infrastructure service

[2022-01-10 14:31] NosIreland commented on #1792
Thanks. It looks like it does not like nvidia cards.
Got it installed.

[2022-01-10 19:14] noahgildersleeve commented on #1701
Tested in master-9d9778c6-head with external UI-index to verify the most recent dashboard changes.
## Verification steps
1. Create a new VM
2. Navigate to advanced options
3. Mouse over Info icon on Enable
![Screenshot from 2022-01-10 11-11-08](https://user-images.githubusercontent.com/83787952/148825171-3003334f-6abb-4817-99cf-e10a5fc798cf.png)

[2022-01-10 19:14] #1701 closed, assigned to WuJun2016, noahgildersleeve

[2022-01-10 22:39] noahgildersleeve commented on #1412
Tested in master-177ab565-head.
### Verification Steps
1. Start new install
2. Setup static IP
3. Try to continue with no DNS server defined
### Expected Results
1. You should get an error that you must have a DNS server with static IP
![Screenshot from 2022-01-10 14-17-20](https://user-images.githubusercontent.com/83787952/148850221-d6a36d8c-c20b-44d5-8d21-270f96ee0058.png)

[2022-01-10 22:39] #1412 closed, assigned to johnliu55tw, noahgildersleeve

[2022-01-11 00:52] futuretea commented on #1553
@abonillabeeche If the VLAN network is used, the IP address is displayed only after qemu-guest-agent is started.
The time an IP address displays depends on several factors:
1. Scheduling time (show state Starting in UI)
2. Start time (show state Running in UI, show system starting log in console)
3. qemu-guest-agent initialization time(show state Running in UI, show cloud-init log in console)

Can

[2022-01-11 01:16] DaiYuzeng commented on #1525
May be related to https://github.com/xtermjs/xterm.js/issues/179

[2022-01-11 03:29] johnliu55tw commented on #1728
**This design is obsoleted. See [HEP Select another disk to store VM data during installation](https://github.com/harvester/harvester/blob/master/enhancements/20220120-select-another-disk-to-store-vm-data-during-installation.md)**
# Brief Design (Obsolete)
## User Interface
- Add a new installer config `install.vm_data_disk` to specify the disk to be used as the default VM storage (Longhorn) disk.

[2022-01-11 06:04] bk201 commented on #1363
@guangyee Is this still an issue after using a single interface like `ip=ens1f0:dhcp`? Thanks

[2022-01-11 06:14] abonillabeeche opened #1795 "[BUG] Duplicate extra disk entry"
**Describe the bug**
A duplicate disk entry is created when adding storage/disks via the UI

**To Reproduce**
Steps to reproduce the behavior:
1. Add Disk via UI
2. System asked to reboot because the disk partition could not be read by the kernel
3. Rebooted, then two entries for the new disk appear in the UI.

**Expected behavior**
No Warning, no duplicate disk entries.

**Environment:**
 - Harve

[2022-01-11 06:31] abonillabeeche opened #1796 "[FEATURE] include fdisk, wipefs and or parted in the installation iso"
**Is your feature request related to a problem? Please describe.**
Trying to clear a disk while doing the installation or to ensure other disks can be cleaned to use for Longhorn

**Describe the solution you'd like**
Include fdisk, parted, wipefs in the installation media

[2022-01-11 06:38] bk201 commented on #1796
@abonillabeeche Those utilities should be included already, could you test them with `sudo` or switch to `root` user first? Thanks!

[2022-01-11 06:40] FrankYang0529 commented on #1027
Currently, we can only restore a PVC from a VolumeSnapshot in the same namespace and [transferring VolumeSnapshot feature](https://github.com/kubernetes/enhancements/pull/2849) is still WIP. So we may need a complicated way to fulfill this feature like the following:

* Create another VolumeSnapshot and VolumeSnapshotContent in another namespace via Backup ([ref](https://longhorn.io/docs/1.2.3/sna

[2022-01-11 09:04] lanfon72 commented on #1721
Verified the Option is available on UI's setting page.
![image](https://user-images.githubusercontent.com/5169694/148912658-2b5ab1ff-ed18-43eb-a298-1f244c7ea1e3.png)

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-177ab565-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with any nodes
2. Login to Dashboard, then navigate to _

[2022-01-11 09:04] #1721 closed, assigned to lanfon72, WuJun2016

[2022-01-11 09:30] lanfon72 commented on #1784
Verified `View Logs` in VM's Options works as expected.
![image](https://user-images.githubusercontent.com/5169694/148914362-7d34806c-6067-4903-a53e-18047ebc2c42.png)

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-177ab565-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with any nodes
2. Create Image for VM creation
3. Creat

[2022-01-11 09:30] #1784 closed, assigned to lanfon72, WuJun2016

[2022-01-11 13:15] belgaied2 opened #1797 "[FEATURE] The Terraform provider for Harvester should provide a bootstrap feature (similar to rancher2) to setup a password and automatically download the configuration"
**Is your feature request related to a problem? Please describe.**
The Terraform provider for Harvester does not implement a bootstrapping method that can be used after an automatic installation of Harvester. This means, a manual process should happen where a user connects to the UI or a node and gets the KUBECONFIG. This is unfortunate, as the whole process should be more automated.
Suppose someo

[2022-01-11 14:27] abonillabeeche commented on #1553
It takes
41 seconds to change to Running
1.2 min to allow ssh via the console
immediately has an IP and the qemu agent is running
[code]

6 minutes to report an IP in the UI.
It did report an IPv6 IP for 3 seconds right when the state changed to Running but that quickly never comes up again.

[2022-01-11 17:18] Steven-Beasley opened #1798 "[FEATURE] Multidisk Install"
**Describe the solution you'd like**
I would like to see the installer have a target for OS, and Target(s) for longhorn disks.  Possibly with auto formatting options.

[2022-01-11 19:33] guangyee opened #1799 "[BUG]Unable to delete RKE2 cluster from Rancher UI when the underlying Harvester cluster is inaccessible/deleted"
**Describe the bug**
If a Rancher RKE2 cluster is created via Rancher node driver, there's no way to delete it from Rancher UI after the imported Harvester cluster is de-registered and no longer accessible. Deletion stuck at "Waiting for machine [Harvester VM name] to delete".

**To Reproduce**
Steps to reproduce the behavior:
1. Import Harvester cluster into Rancher.
2. Create a new RKE2 cluster

[2022-01-11 21:37] w13915984028 commented on #1255
NOTICE:
When Create VM, the "Node Scheduling" is "Run VM on any avail node" by default,  with first or third option, when there are more than 1 available qualified scheduling node (with enough resources), then when one node ,which runs the VM, goes down ,  the VM will be scheduled to another qualified scheduling node.

![image](https://user-images.githubusercontent.com/31133476/149024903-de7db646-

[2022-01-11 22:37] w13915984028 commented on #1255
In Harvester, both `virtualmachine `and `virtualmachineinstance `have a default value `LiveMigrate ` for `evictionStrategy`,
@yasker  @guangbochen

As per `KubeVirt `document and source code, when `LiveMigrate `is set, then when one NODE is shutdown, the VM on this NODE will be migrated to other nodes.

It explains why in Harvester v1.0.0, the VM will be migrated to other NODEs by default.

[code]

[2022-01-12 02:03] gitlawr commented on #1775
Cluster members has no permissions to view monitoring metrics. This is consistent with Rancher monitoring in native k8s.

Cluster members can view nodes. I think they should be able to view node metrics by default. Here's the upstream ticket to track that(https://github.com/rancher/rancher/issues/36116).

Admin can grant additional permissions to cluster members so that they can view monitoring me

[2022-01-12 03:27] WuJun2016 commented on #1499
hi，@lanfon72   now save the configuration backend will check, there is no way to configure the invalid backup-target,    I think this issue has been fixed.    Can you help verify it

[2022-01-12 04:01] bk201 opened #1800 "[FEATURE] Allow scrolling up installing logs"
**Is your feature request related to a problem? Please describe.**
Sometimes, it's hard to debug an installation failure because of missing logs.

The following screenshot is taken when the installer invokes cOS install scripts:

![148959889-62a7f0a8-696f-4b23-8d24-611a5f4da3ef](https://user-images.githubusercontent.com/1691518/149061112-d7597687-1bf4-4f4d-8acd-8b0c731bec2e.png)

The messages can'

[2022-01-12 05:40] lanfon72 commented on #1499
close this issue as it is fixed following #1051 , and unable reproduce the original case.

[2022-01-12 05:40] #1499 closed, assigned to lanfon72, WuJun2016

[2022-01-12 06:09] lanfon72 commented on #1765
@bk201, @tjjh89017 node logs also include some sensitive file, should we exclude it?

[2022-01-12 06:13] bk201 commented on #1765
It's a todo item https://github.com/rancher/support-bundle-kit/issues/28

[2022-01-12 06:28] lanfon72 commented on #1765
Verified the bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/149075164-043e4772-c557-4457-a7e0-2a81a4f7116b.png)

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-ebde990d-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with any nodes
2. Login to Dashboard then navigate to Support page
3. Click *

[2022-01-12 06:28] #1765 closed, assigned to tjjh89017, lanfon72

[2022-01-12 07:13] TachunLin commented on #1682
Verified **fixed** on master-ebde990d-head on `single node` harvester scenario.

### Result

1. Node IP and VIP remain unchanged before, during and after installation
2. No rancher hostname used during the installation

* Before installation, (set hostname)
  ![image](https://user-images.githubusercontent.com/29251855/149074931-e1020617-1d9d-49f5-9351-61bcb921e1b9.png)

  ![image](https://user-ima

[2022-01-12 07:18] WuJun2016 commented on #1703
The error message should be displayed in `metadata.state.Error` should not be displayed in `status.error` inside

[code]

[2022-01-12 07:30] bk201 commented on #1798
@Steven-Beasley I believe the request is the same as https://github.com/harvester/harvester/issues/1728 could you take a look? Thanks!