[2021-11-01 17:21] #1291 closed, assigned to guangyee, noahgildersleeve

[2021-11-01 20:20] noahgildersleeve commented on #1380
I can repro this error, but it seems to be happening on dmg files. It's possible to upload them, are we supporting using that in the virtual drive? I'm not sure what kind of an OS level filetype list we're enforcing.
I tested this with `master-d05a6cc7-head` and the google chrome dmg.
![image](https://user-images.githubusercontent.com/83787952/139736433-a60e3856-d335-4b2f-8b07-8935ba179c85.png)

[2021-11-01 20:23] noahgildersleeve commented on #983
@guangbochen This was marked as blocked by https://github.com/harvester/harvester/issues/982 but was moved into ready for testing? Is it not blocked anymore?

[2021-11-01 20:29] noahgildersleeve commented on #1489
Tested in master-d05a6cc7-head. Still not navigating to the correct URL The issue seems to be that the URL path for the advanced settings page and the edit server-url page aren't the same and when you click cancel it's just removing the last part of the URL for the server-url edit page.
![Greenshot 2021-11-01 13 25 35](https://user-images.githubusercontent.com/83787952/139737505-6f2de4ac-a9b9-42b6

[2021-11-02 02:38] WuJun2016 commented on #1273
![image](https://user-images.githubusercontent.com/24985926/139777741-9c0e8c36-f53e-4bc6-932c-4e0f2c792fca.png)
![image](https://user-images.githubusercontent.com/24985926/139777757-1828b729-5449-43d1-b37a-ea083456b4a0.png)

[2021-11-02 03:45] TangStone opened #1501 "[BUG] Nodes with cordoned status should not be in the selection list for VM migration"
**Describe the bug**
Newly created VMs will not run on the **cordoned** state node, and if there are VMs on other nodes that want to **migrate** to that node they should not be run, so the node should not be shown in the VM's migratable list

**To Reproduce**
Steps to reproduce the behavior:
1. set a node to cordoned state
2. Create a vm and wait for the state to become active
3. Click the migrate

[2021-11-02 04:45] johnliu55tw commented on #1416
Thought about using [rke2-90-harvester-agent.yaml and ](https://github.com/harvester/harvester-installer/blob/master/pkg/config/templates/rke2-90-harvester-agent.yaml) and [rke2-90-harvester-server.yaml](https://github.com/harvester/harvester-installer/blob/master/pkg/config/templates/rke2-90-harvester-server.yaml), but modifications to labels added this way did not survive a reboot. RKE2 uses con

[2021-11-02 04:52] bk201 commented on #1416
@johnliu55tw  Could you verify if this is true? `/etc/rancher` is persistent so it should survive. Thanks.

[2021-11-02 05:00] johnliu55tw commented on #1416
@bk201 By modification I meant modifying the label from GUI. After a reboot, the label got reverted to its default value (specified in the config file).

[2021-11-02 07:34] gitlawr commented on #1330
Proposal for the import UX:
1. In Rancher UI, we show the instructions for importing Harvester using Harvester UI.
![image](https://user-images.githubusercontent.com/5697937/139803392-03c644a2-ffb9-4d29-88a4-6bc2abddcb07.png)

2. In Harvester settings, add a `cluster-registration-url` settings. Users import the Harvester cluster by clicking the `Import to Rancher` button and inputing the registrat

[2021-11-02 07:44] guangbochen commented on #1330
LGTM

[2021-11-02 07:59] weihanglo commented on #1429
Probably we need an update for default [`overcommit-config`] setting value and [a removal of the `resources.limits`].
 on [the UI dashboard]?

[`overcommit-config`]: https://github.com/harvester/harvester/blob/8241c1647d2d98f722e1d742e0e55e52f376e460/pkg/settings/settings.go#L32
[a removal of the `resources.limits`]: https://github.com/weihanglo/dashboard/commit/b0b43f1765fb68fd8d49d73bdd3a3a01d60

[2021-11-02 08:19] johnliu55tw commented on #1416
Testing out whether the labels added by [rancherd-config.yaml](https://github.com/harvester/harvester-installer/blob/master/pkg/config/templates/rancherd-config.yaml) would only be applied **once**, when a node is creating/joining a cluster:
- For the `cluster-init` (creating cluster) role Node, the labels will be applied, and changes made from GUI **would persist** after node reboot. :+1:
- For t

[2021-11-02 08:45] gitlawr commented on #1453
The changes of these configmaps are expected. They are updated by controllers for leader selection. Given that they are not items on the list, we need to avoid refreshing the list on the UI side.

[2021-11-02 08:47] n313893254 commented on #1380
We support .iso, .img, .qcow2 and .raw file types, the .dmg is the same as .img on the chrome browser view. All the images require the size should be a multiple of 512 bytes since Longhorn uses directIO by default.

How about adding an error notification on UI after the upload fail?

[2021-11-02 08:55] guangbochen commented on #1380
Yep, adding a failed error message is helpful as the current `Failed to wait for xx` message is meaningless.

[2021-11-02 10:03] guangbochen commented on #1086
The LH volumes will reset to `Restore` status to true after the first-time migration, and this will make the volume unmountable on the second time migration.
[code]
related to https://github.com/longhorn/longhorn/issues/3210

[2021-11-02 10:44] lanfon72 commented on #1200
Verified it is support **UEFI-only**, USB disk generated from _balenaEtcher_, _Imagewriter_, `dd` (*nix only) and Rufus (windows only) have the same behavior to install Harvester.

Also tested on qemu/KVM's USB simulation, all of UEFI OVMF binaries are unable to boot and install normally.

Test Information
----
* Environment: **Bare metals** Desktop BIOS only, Dell 5560 laptop
* Harvester Version:

[2021-11-02 10:44] #1200 closed, assigned to bk201, lanfon72

[2021-11-02 11:00] TachunLin commented on #1486
Verified **fixed** on master-b5dadc82-head. Close this issue.

### Result
Input excessive lines in user and network template now have scroll bar and fixed
panel to edit clearly.

![image](https://user-images.githubusercontent.com/29251855/139832097-05f2afcb-dbf1-4410-8e6e-05ec46585218.png)

### Test Information
* Test Environment: 1 node harvester on local kvm
* Harvester version: master-b5dadc82-

[2021-11-02 11:00] #1486 closed, assigned to WuJun2016, TachunLin

[2021-11-02 11:14] johnliu55tw commented on #1416
Asking Rancherd people: https://github.com/rancher/rancherd/issues/16

[2021-11-02 12:06] yaocw2020 opened #1503 "[BUG] The VM stays terminating due to failure of creating snapshot"
**Describe the bug**

The VM stays terminating due to failure of creating snapshot.

![image](https://user-images.githubusercontent.com/7421463/139842610-43a79dea-7d79-4ea7-b4b3-4bee40ff7e48.png)

![image](https://user-images.githubusercontent.com/7421463/139842554-81b389ba-ff3d-41b5-be38-2d82a990356a.png)

**To Reproduce**
Steps to reproduce the behavior:
Have not found how to reproduce.

**Expec

[2021-11-02 13:51] TachunLin commented on #1272
Verified **failed** on master-b5dadc82-head. Move issue to review stage.

### Result
Node keeps in yellow maintenance mode when node has been turned off

![image](https://user-images.githubusercontent.com/29251855/139856722-e5e7dc8e-da64-4a6f-a4e5-308a4300bbfb.png)

### Test Information
* Test Environment: 3 nodes harvester on local kvm
* Harvester version: master-b5dadc82-head

### Verify Steps

[2021-11-03 02:47] WuJun2016 commented on #1453
test step:
- go to the vm creation page
- click advanced options tab
- Select the userData or networkData template and observe if the mouse moves abnormally in the drop-down list

[2021-11-03 02:48] johnliu55tw commented on #1416
Seems like Rancherd adds a config file to `/etc/rancher/rke2/config.yaml.d/` that causes RKE2 to overwrite the label's value whenever the agent Node rebooted:
[code]

To prohibit the overwriting behavior, I'm thinking using `/oem/99_custom.yaml` to **clear `node-label` config if the Node has been bootstrapped**. We could tell whether it's bootstrapped by seeing if file `/var/lib/rancher/rancherd/b

[2021-11-03 03:36] guangbochen commented on #1273
@WuJun2016 how come the `harvester-mgmt` is 50% since it will be created by default of all nodes?

[2021-11-03 03:57] TachunLin commented on #1477
Verified **fixed** on master-b5dadc82-head. Close this issue.

### Result
Leave empty memory field empty when create virtual machine will show "Memory is required" error message

![image](https://user-images.githubusercontent.com/29251855/140006054-92b12a07-af8b-4087-9fc8-4cf76c6500ea.png)

### Test Information
* Test Environment: 3 nodes harvester on provo bare machine (RackD8 ClusterA)
* Harvest

[2021-11-03 03:57] #1477 closed, assigned to WuJun2016, TachunLin

[2021-11-03 04:40] WuJun2016 commented on #1273
@guangbochen  Did you test it on a 4.3 environment? The 4.3 environment is deployed with Lawance's image, so the harvester-mgmt may have problems （The harvester-mgmt on some nodes has been filtered）. I talked about this with @yaocw2020

[2021-11-03 05:39] bk201 commented on #1416
Another option is using a systemd drop-in to add an `ExecStartPre=` option to rke2-server/agent services.
In this case, the node-label reset doesn't need to wait for a reboot.

[2021-11-03 07:22] johnliu55tw commented on #1416
Right, besides reboot, restarting RKE2 service would also reload the configs.

[2021-11-03 08:04] lanfon72 commented on #1485
@guangbochen

We will need a note for air-gapped environment in case of we release some master-head version for customers to testing in the future.

[2021-11-03 08:04] #1485 closed, assigned to guangbochen

[2021-11-03 09:09] weihanglo commented on #1497
Confirmed that this is also reproducible via Harvester dashboard.

[2021-11-03 09:31] TangStone opened #1504 "[BUG] Multiple instance creation VMs do not match the set number"
**Describe the bug**
**VMs** are created by means of **multiple instances**, the actual number of VMs created does not correspond to the number configured, **only one** VM is created

**To Reproduce**
Steps to reproduce the behavior:
1. Create a VM using multiple instances and set count to 10
2. After the creation, go back to the VM list and check the currently added VMs
3. Only one VM is created

[2021-11-03 10:00] guangbochen commented on #1497
We should consider cleaning up the Harvester node on node delete, but I just want to make sure the users are well notified as this action will wipe all the system components like rke2 and kubelet and can't be undone.
https://docs.rke2.io/install/linux_uninstall/

[2021-11-03 10:31] w13915984028 commented on #1395
Target:
  When new commit is merged into master, the harvester ISO needs to be built and put into release.

Solution:
  In drone CI, add triggers on "push" event, so as to build and upload ISO.

In local test environment, the "Merge pull request" triggers build-iso, in last step, it upload the iso, please skip the error, as there is no related google_auth_key.

![image](https://user-images.githubu

[2021-11-03 13:41] WolframRavenwolf opened #1508 "[BUG] Harvester management VIP address not working after rebooting nodes"
**Describe the bug**
After setting up a multi-node Harvester cluster, I rebooted the nodes. The management VIP address does not come up unless I start the node that held the management address before the reboot. While the VIP is back now that the existing nodes are running, I can't join additional nodes, error message is:

Get "https://[management VIP address]:8443/ping": dial tcp [VIP]:8443: conn

[2021-11-03 15:39] gitlawr opened #1510 "[Flaky test] vm_apis_test failure"
[code]

https://drone-pr.rancher.io/harvester/harvester/1380/1/2

[2021-11-03 15:45] WolframRavenwolf commented on #1508
By now I managed to add more nodes by doing the following:
- Bring up all existing nodes. (VIP is working, but adding nodes isn't because of ping-URL not working.)
- Shut down the node that holds the VIP. (Another node takes over, there the ping-URL is working.)
- Add new node. (Works now that ping-URL is available.)

[2021-11-04 01:56] TachunLin commented on #1449
Verified **Not fixed** on master-b5dadc82-head. Move this issue to review stage.

### Result
Still display `Container Default Resource Limit` in create project
![image](https://user-images.githubusercontent.com/29251855/140242678-93f6e309-db1f-496d-b180-617cf3febb1c.png)

Can still configure resource quota for resources not relevant for VM management (pods, replication controllers)
![image](https:

[2021-11-04 05:05] bk201 commented on #1022
For design doc and discussions, please head to https://hackmd.io/@bk201/H1rTAGaLt

[2021-11-04 05:33] n313893254 commented on #1449
My bad.  Because Dashboard does not merge the change.  The change needs to replace `ui-dashboard-index` to validate.

Verify Steps :
- Install rancher 2.6.1 by docker
- Go to global settings and replace `ui-dashboard-index` to `https://releases.rancher.com/harvester-ui/dashboard/latest/index.html`
- Import harvester to rancher virtualization management
- Access harvester from rancher virtualizatio

[2021-11-04 05:52] n313893254 commented on #1435
Verify steps:
- Install rancher 2.6.1 by docker
- Go to global settings and replace ui-dashboard-index to https://releases.rancher.com/harvester-ui/dashboard/latest/index.html
- Import harvester to rancher virtualization management
- Create a harvester cluster by harvester driver
- Access the new harvester cluster from rancher cluster management
- Create a load balancer from service discovery -> s

[2021-11-04 05:58] n313893254 commented on #1269
Verify steps:
- Install the latest Harvester
- Create an image from "Images"
- Check the image name input(with the namespace select)

[2021-11-04 06:13] guangbochen commented on #1353
duplicate of https://github.com/harvester/harvester/issues/1397

[2021-11-04 06:13] #1353 closed, assigned to guangbochen

[2021-11-04 07:55] FrankYang0529 commented on #1014
@guangbochen do we need to consider whether a node is a server or agent for this issue? For example, we restrict users to enable maintenance mode on the last server node if there is only one server node or on the last 2-server node if there is a cluster.

[2021-11-04 16:24] simonflood opened #1511 "[BUG] Rancher doesn't fully count imported Harvester cluster"
**Describe the bug**
When Rancher is first installed, on the dashboard it numbers and lists 1 cluster on it's home page - the local cluster.
After importing a Harvester cluster the numbers goes up to 2 but it still only lists the one cluster (local).
Clicking the hamburger menu lists one cluster (local) under 'EXPLORE CLUSTER'.
Clicking Cluster Management on the hamburger menu lists one cluster (l

[2021-11-04 18:23] noahgildersleeve opened #1512 "[BUG] Can't create multiple VMs due to volume error"
**Describe the bug**

When you try to create more than one VM you get a PVC error
**To Reproduce**
Steps to reproduce the behavior:
1. Create an opens use VM using the raw image template
2. Try to create another opens use VM

**Expected behavior**

The second VM should create
**Support bundle**

[supportbundle_2efbe201-d2b9-43e8-9cd7-7d0b857ff407_2021-11-04T18-15-43Z.zip](https://github.com/harves

[2021-11-04 18:28] noahgildersleeve commented on #1504
I think that this is related to https://github.com/harvester/harvester/issues/1512

[2021-11-04 19:17] simonflood commented on #1972
Whilst Rancher 2.6.2 appears to work on a Raspberry Pi 4 Model B (4/8GB RAM), enabling the Harvester node driver failed with the following seen via "docker logs ..."

[code]

I was hoping to use Rancher on a Pi as my management node so would love to see an aarch64 release.

[2021-11-04 22:00] noahgildersleeve commented on #1235
Tested in master-9cde746b-head on ubuntu focal. Fixed.
1. Created Focal VM
2. Started VM
3. checked for `qemu-ga` package

[2021-11-04 22:00] #1235 closed, assigned to WuJun2016, noahgildersleeve

[2021-11-05 02:01] guangbochen commented on #1395
close in favor of https://github.com/harvester/harvester/pull/1506
ISO build of the Harvester repo is available via https://drone-publish.rancher.io/harvester/harvester/430/3/3

[2021-11-05 02:01] #1395 closed, assigned to w13915984028

[2021-11-05 02:09] gitlawr commented on #1395
One of the two builds failed: https://drone-publish.rancher.io/harvester/harvester/429/3/2
The reason is unclear. Let's keep an eye on it.

[2021-11-05 02:26] hellocloudnative opened #1513 "[BUG]A restart has been the starting state, delete can not be deleted, has been terminaing state"
The starting state has been restarted, the deletion cannot be deleted, the terminaing state has been restarted, there is no event

![image](https://user-images.githubusercontent.com/32674956/140447820-b1e21f73-d10f-4d71-8e45-a6e866b4f021.png)
![image](https://user-images.githubusercontent.com/32674956/140448005-e6222866-eb8e-4793-ac91-7dd6a5c4506f.png)

[2021-11-05 02:28] guangbochen commented on #1511
@simonflood How did u import the Harvester cluster into the Rancher, if u do it via the `Virtualization Management` page I would expect to see the cluster appears on that page.
https://docs.harvesterhci.io/v0.3/rancher/virtualization-management/#virtualization-management

The Cluster Management page is mainly for regular k8s clusters, so we decided to filter out the Harvester cluster.

[2021-11-05 02:38] TachunLin commented on #1014
Verified **behavior as expected** for 3 nodes scenario on master-b5dadc82-head
We need further confirm how 2 nodes expected behavior should be as above comment

### Result
Within 3 nodes and 3 virtual machines testing environment.
Set maintenance from node 3 -> node 2 -> node 1 in sequence
The final remaining node will prompt `can't enable maintenance in last available node `

![image](https://use

[2021-11-05 07:28] guangbochen commented on #908
the above UX is looking good to me, please feel free to close it @TachunLin .

[2021-11-05 07:38] lanfon72 commented on #1453
verified drop-down list work normally in VM's advanced options.

Test Information
----
* Environment: **qemu/KVM** 2 nodes
* Harvester Version: **master-04c5f438-head**
* **ui-source** Option: **External**
### Verify Steps:
- follow the [comment](https://github.com/harvester/harvester/issues/1453#issuecomment-958611266) above

[2021-11-05 07:38] #1453 closed, assigned to lanfon72, WuJun2016

[2021-11-05 07:39] TachunLin commented on #908
Close this issue since we have finalized agreement to the UX design

[2021-11-05 07:39] #908 closed, assigned to WuJun2016, TachunLin

[2021-11-05 07:39] FrankYang0529 commented on #1014
Since control-plane pods are [static pods](https://kubernetes.io/docs/tasks/configure-pod-container/static-pod/), it is okay to enable maintenance mode on all control-plane nodes.

cc @bk201

[2021-11-05 07:51] lanfon72 commented on #1350
verified that Nodes will not appear in the list of scheduling VM on specific Node when they entered of `maintenance mode`.

Test Information
----
* Environment: **qemu/KVM** 2 nodes
* Harvester Version: **master-04c5f438-head**
* **ui-source** Option: **External**
### Verify Steps:
1. Install Harvester with at least 2 nodes
2. Login and Navigate to _Virtual Machines_
3. Create VM and Select `Run V

[2021-11-05 07:51] #1350 closed, assigned to lanfon72, WuJun2016

[2021-11-05 08:04] WuJun2016 opened #1516 "[BUG] Refreshing the page causes the vm migration status to disappear"
**Describe the bug**

refreshing the page causes the vm migration status to disappear

**To Reproduce**
Steps to reproduce the behavior:
1.  create a vm
2.  migrate this vm
3.  This vm status shows migration
4.  Refresh the page, the status of the migrated vm is shown as running

**Expected behavior**

If the migration has not been completed, the status should be displayed as migration

**Support

[2021-11-05 08:07] lanfon72 commented on #1269
Verified that Input box of Image Name works normally.

Test Information
----
* Environment: **qemu/KVM** 2 nodes
* Harvester Version: **master-04c5f438-head**
* **ui-source** Option: **External**
### Verify Steps:
1. Install Harvester with any Nodes
2. Setup password and login
3. Navigate to _**Images**_ and Click _Create_
4. Input any **Valid** URL like `https://127.0.0.1/this_is_valid_file_forma

[2021-11-05 08:07] #1269 closed, assigned to lanfon72, n313893254

[2021-11-05 08:09] WuJun2016 commented on #1396
PR:   https://github.com/rancher/ui/pull/4778

[2021-11-05 09:57] n313893254 commented on #1489
Verify Steps:
- Install harvester
- Access harvester
- Edit server-url form settings
- Check `server-url` save, cancel, and back.
Additional context:
![image](https://user-images.githubusercontent.com/18737885/140492691-969380aa-dbed-4999-9e90-e589dd93e4e4.png)

[2021-11-05 12:03] TachunLin commented on #1014
According to @FrankYang0529 comment, we would treat 2 nodes and 3 nodes in the same manner to prevent setting last available node into maintenance mode. Close this issue

[2021-11-05 12:03] #1014 closed, assigned to FrankYang0529, WuJun2016, TachunLin

[2021-11-05 15:11] WolframRavenwolf commented on #1467
@yshashix I encountered that problem as well and the solution posted by @simonflood works for me:

1. Advanced > Settings: vlan Enabled, Default Physical NIC: harvester-mgmt
2. Advanced > Networks > Create: L2VlanNetwork, Vlan ID: 1
3. Add this network to VM, Type: bridge

This works (got an IP address by DHCP on my main network and was able to SSH into the VM from my workstation), but it's far fr

[2021-11-05 15:28] WolframRavenwolf opened #1517 "[BUG] Network type "bridge" reverting to default "masquerade" on management network"
**Describe the bug**
VM's management network type always resets to default "masquerade" when I change it to "bridge". There's no error message and it looks like the change is applied, but upon reopening the config page, it's back on "masquerade". Doesn't matter if the VM is newly created, stopped or running - always the same, wrong behavior.

**To Reproduce**
Steps to reproduce the behavior:
1. Cr

[2021-11-05 15:37] TachunLin commented on #1449
@n313893254
Verified **Not fixed** on master-d21b9161-head with rancher 2.6.1
UI display remains unchanged after replacing `ui-dashboard-index` in rancher settings
Move this issue to review stage.

### Result
Create project shows `Container Default Resource Limit`
![image](https://user-images.githubusercontent.com/29251855/140535585-224e363b-a418-4f57-8574-b702ef3099b1.png)

Resource quota page ha

[2021-11-05 16:09] TachunLin commented on #1435
@n313893254
Verified **Not fixed** on master-d21b9161-head with rancher 2.6.1
No `Add-on Config` display after replacing  ui-dashboard-index
Move this issue to review stage.

### Result
Create load balance page have no` Add-on Config` tab
![image](https://user-images.githubusercontent.com/29251855/140541604-f4c4f429-4e1e-4910-a974-519ce2f50072.png)

Version change in create cluster page have chang

[2021-11-05 16:48] noahgildersleeve opened #1518 "[BUG] When you change interface to management you can't change it back"
**Describe the bug**

When you select a physical interface for the VLAN interface it stops showing up in the list
**To Reproduce**
Steps to reproduce the behavior:
1. Setup a new harvester cluster with more than 1 node
2. Set the VLAN interface as the physical interface
3. Change it to the management network
4. Try to change it back to the physical interface
**Expected behavior**

The physical int

[2021-11-05 17:52] noahgildersleeve commented on #1273
Tested in master-d21b9161-head. Fixed.
1. Setup 3 node cluster
2. checked available NICs in Vlan settings
3. All showed as 100% for all nodes
4. Checked with bonded and non-bonded NICs

[2021-11-05 17:52] #1273 closed, assigned to WuJun2016, noahgildersleeve

[2021-11-05 17:54] noahgildersleeve commented on #1489
Tested in master-d21b9161-head. fixed.
Verify Steps:

1. Install harvester
2. Access harvester
3. Edit server-url form settings
4. Check server-url save, cancel, and back.

[2021-11-05 17:54] #1489 closed, assigned to n313893254, noahgildersleeve

[2021-11-05 18:08] simonflood commented on #1511
@guangbochen Yes my imported Harvester cluster appears on the VM page which is okay but I think it's confusing to include it in the count of clusters but then filter it out. I think it should be included in the count (so that's correct) but also listed as a cluster then when you click on a Harvester cluster it takes to you the appropriate VM sub-page.

Alternatively give us the option of including

[2021-11-05 20:21] wjimenez5271 commented on #1511
I would be concerned that that by counting it among our Kubernetes Clusters it sends the message that it is like the other k8s clusters in that list, when Harvester is not meant to be used as a typical workload cluster.

[2021-11-06 15:53] n313893254 commented on #1449
Sorry, `ui-offline-preferred` needs to change to `Remote`. Otherwise, Rancher still use local UI instead of the UI you are configuring in the remote.

![image.png](https://images.zenhubusercontent.com/59db4297b0222d5de47ad632/8bf1e4bd-0d75-430e-9ea7-16a7a076eb55)

[2021-11-06 15:54] n313893254 commented on #1435
Sorry, ui-offline-preferred needs to change to Remote. Otherwise, Rancher still use local UI instead of the UI you are configuring in the remote.

![image.png](https://images.zenhubusercontent.com/59db4297b0222d5de47ad632/de55b6eb-48b2-4fb3-a16e-be195dd0bdf7)

[2021-11-06 16:18] WolframRavenwolf commented on #1380
I could reproduce this issue with the latest k3os-amd64.iso (v0.20.11-k3s2r1, 514 MB) and a remastered version of that. Tried it in Firefox and Chrome, didn't refresh the page, got the error message "Failed to wait for processing start in 60 seconds" every time.

[2021-11-07 16:52] TachunLin opened #1519 "[BUG] Unable to create RKE1 cluster in rancher by node driver, shows "waiting for ssh to be available""
**Describe the bug**

Can't create harvester RKE1 cluster in rancher by using harvester node driver.
Keep in provisioning state with wait for ssh available
![image.png](https://images.zenhubusercontent.com/61519853321ea20d65443929/a2843e7d-68be-40c8-be0c-630bea5a5695)

Erroe message:
`Error creating machine: Error detecting OS: Too many retries waiting for SSH to be available. `

![image.png](http

[2021-11-08 01:46] FrankYang0529 commented on #1389
I can reproduce this issue. When I provision a 4th node failed and try to delete it, VM in Harvester has been deleted, but the node status doesn't change.
![Screen Shot 2021-11-08 at 9 45 03 AM](https://user-images.githubusercontent.com/4927361/140671811-e95e51ca-f372-41ff-9456-879a08061483.png)
![Screen Shot 2021-11-08 at 9 44 53 AM](https://user-images.githubusercontent.com/4927361/140671851-c49

[2021-11-08 03:17] WuJun2016 commented on #1387
I have not reproduced the problem, and based on this description I think it is caused by a lack of resources.    @lanfon72

[2021-11-08 03:20] WuJun2016 commented on #1387
The calculation of remaining resources in the host is incorrect, we will fix it in this issue （https://github.com/harvester/harvester/issues/1376 ）

[2021-11-08 03:31] lanfon72 commented on #1387
yeah I thought the issue is caused by longhorn... I will close this issue if can't reproduce it in this week.

[2021-11-08 03:50] WuJun2016 commented on #1446
![image](https://user-images.githubusercontent.com/24985926/140681126-8f589dc2-10d4-4f05-a456-08f41e378bf6.png)

When resources are low, you should see a small alert icon and hover over it to see the alert message
@janeczku

[2021-11-08 04:17] yshashix commented on #1467
@StefanDanielSchwarz
Yes, @simonflood  solution worked for me as well but I had to wait 5-10 min around to get IP in the VMs

[2021-11-08 04:21] weihanglo commented on #1497
We encounrted a situation that we cannot rely on pod/job to execute [standard RKE2 uninstallation](https://docs.rke2.io/install/linux_uninstall/) procedure: When one deletes the node via K8s API, any further pod/job is not expected to schedule on the node.

As a result, we tried to leverage [rancher-system-agent](https://github.com/rancher/system-agent), a systemd unit, to deal with uninstallation

[2021-11-08 05:29] TachunLin commented on #1449
Verified **fixed** on master-d21b9161-head with rancher 2.6.2, Close this issue.

### Result
In create project page now change tab to `VM Default Resource Limit`
![image](https://user-images.githubusercontent.com/29251855/140687954-2b7dd1a7-919e-4980-a69d-57d180cd3b1e.png)

In resource quota page now only contains `CPU limit`, `Memory Limit`, `CPU Reservation` and `Memory Reservation`
![image](htt

[2021-11-08 05:29] #1449 closed, assigned to n313893254, TachunLin

[2021-11-08 05:30] TachunLin commented on #1449
@n313893254, may I know whether I need to change `ui-dashboard-index` and `ui-offline-preferred` for the upcoming rancher UI issues? Thank you.

[2021-11-08 06:15] lanfon72 opened #1520 "[BUG] incorrect title and favicon"
### Describe the bug
Dashboard shows incorrect title and favicon when access with login-ed session.
![image](https://user-images.githubusercontent.com/5169694/140692811-614270a8-688a-4773-a56f-5e8507a12278.png)

### To Reproduce
Steps to reproduce the behavior:
1. Install Harvester And setup default password
2. Login to the dashboard, and it displays correct one.  (_Harvester_ and green favicon)
3

[2021-11-08 07:49] gitlawr commented on #1012
Awaiting for UI changes

[2021-11-08 07:58] WuJun2016 commented on #760
Test range:
1. Create a vm and add userData or networkData, test if it works
2. create a vm template and add userData or networkData, create a new vm and use the template, test whether userData or networkData takes effect
3. use the existing vm to generate a template, then use the template to create a new vm, and check whether userData or networkData takes effect.

[2021-11-08 09:13] TachunLin commented on #1504
Verified **fixed** on master-d21b9161-head , Close this issue.

### Result
Now create VM using 10 multiple instances can actually create 10 VMs accordingly
![image](https://user-images.githubusercontent.com/29251855/140714245-e86832b1-e9d3-4fe3-93bc-2de692d02416.png)

All VMs can starting and get ip address.

### Test Information
* Test Environment: 3 nodes harvester on provo bare machines
* Harve

[2021-11-08 09:13] #1504 closed, assigned to WuJun2016, TachunLin

[2021-11-08 09:22] FrankYang0529 commented on #1493
With the update in this https://github.com/harvester/harvester/pull/1490, I can't reproduce this issue.

Steps:
* Create a 3-node cluster on KVM.
* Cordon and enable maintenance mode on each node, but we can't cordon/enable maintenance mode on the last available node. So the cluster has one schedulable node and two unschedulable nodes.
* Power off each node.
* Powen on each node.
* The cluster wor

[2021-11-08 09:28] TachunLin commented on #1501
Verified **fixed** on master-d21b9161-head , Close this issue.

### Result
Node set in cordoned state will not show up in the available migration list

![image](https://user-images.githubusercontent.com/29251855/140716353-de5beb61-47c9-42bc-b553-21082f79267f.png)

![image](https://user-images.githubusercontent.com/29251855/140715919-4e8794b6-105a-4a95-b177-1d7b0484ac08.png)

![image](https://user-

[2021-11-08 09:28] #1501 closed, assigned to WuJun2016, TachunLin

[2021-11-08 09:57] w13915984028 commented on #1439
host os: SUSE SLE 15
hardware: provo DAY0, HP server
One VM to serve as http server

create another new VM, boot with iPXE
sudo virt-install --name=pxevm3 --ram=16384 --vcpus=8 --cpu host \
--disk path=/var/lib/libvirt/images/pxevm2-disk.qcow2,bus=ide,size=50 \
--pxe --noautoconsole --graphics=spice --hvm \
--network network=default,model=e1000 \
--arch x86_64

cat /srv/tftp/ipxe-create
#!ipxe
ker

[2021-11-08 10:11] guangbochen commented on #1519
This seems like a rancher-related bug, @TachunLin can u please try if the Rancher v2.6.2 will encounter the same issue, thanks?

[2021-11-08 10:17] TachunLin commented on #1380
Update my test status on version master-d21b9161-head for reference.

Senario1: Upload `k3os-amd64.iso` from file, disable network during upload process:
- Show `context canceled`
![image](https://user-images.githubusercontent.com/29251855/140720320-9818778e-e250-4e6f-b405-8f3394b27a2d.png)

Senario2: Upload centos 8 qcow2 from URL under poor or limited network environment, cause timeout
Show `Fai

[2021-11-08 10:26] w13915984028 commented on #1439
reproduced now:
fix the interface name in ipxe-create file as:
sudo cat /srv/tftp/ipxe-create
#!ipxe
kernel http://192.168.122.85/harvester/harvester-v0.3.0-vmlinuz-amd64 _ip=:dhcp_ net.ifnames=1 rd.cos.disable rd.noverifyssl console=tty1 root=live:http://192.168.122.85/harvester/harvester-v0.3.0-rootfs-amd64.squashfs harvester.install.automatic=true harvester.install.config_url=http://192.168.122

[2021-11-08 10:49] w13915984028 commented on #1439
when iso_url is bank in config-create.yaml, the installation will finish with related error message as claimed in the bug description,
  device: /dev/sda
  #iso_url: http://192.168.122.85/harvester/harvester-v0.3.011-amd64.iso
  iso_url:
  vip: 192.168.122.133       # The VIP to access the Harvester GUI. Make sure the IP is free to use.

the vm will reboot, and then goes into below state.

compari

[2021-11-08 14:14] TachunLin commented on #1519
@guangbochen , Sorry I did not provide full information since yesterday I have both tested 2.6.1 and 2.6.2 on my local kvm environment. Today I test this issue again using rancher 2.6.2 on provo bare machine, but still failed.

Let me update the environment information in issue description

[2021-11-08 15:03] bk201 opened #1521 "[BUG] Agent node becomes NotReady when one of the controller node fails"
**Describe the bug**

The HA doesn't seem to work well. When a controller node fails, agent nodes might fail too.
VMs on the agent nodes might become Terminating.

**To Reproduce**
**NOTE** this doesn't always repro.

Steps to reproduce the behavior:
1. Create a 4-node cluster.
2. 3 nodes will become controller nodes.
[code]
3. Log in to the agent node, check `/var/lib/rancher/rke2/agent/etc/rke2-

[2021-11-08 15:29] w13915984028 commented on #1439
planed solution is: add processing when COS_INSTALL_ISO_URL is blank/empty, return error.
(for ISO installation, here COS_INSTALL_ISO_URL is already set)

@guangbochen @yasker   Your idea?

package/harvester-os/files/usr/sbin/harv-install

[code]

[2021-11-08 15:33] bk201 commented on #1439
@w13915984028 We can also add a check in the validations: https://github.com/harvester/harvester-installer/blob/14be631bdcba753368b46396a14e5cb8775c9f82/pkg/console/validator.go#L220

if HarvesterConfig.Install.Automatic is true, iso_url can't be empty.

[2021-11-08 15:47] w13915984028 commented on #1439
Yes, we can check it in earlier stage.

And, for PXE booting,  if the interface name is not correct, what will happen ?

[2021-11-08 16:08] bk201 commented on #1022
See this issue when upgrading a controller node today: https://github.com/harvester/harvester/issues/1521

[2021-11-08 16:18] TachunLin commented on #1435
@n313893254,
Verified `Not fixed` on master-d21b9161-head with rancher 2.6.2, Move it to review pipeline

After replacing `ui-dashboard-index `and set  `ui-offline-preferred` to `Remote`
![image](https://user-images.githubusercontent.com/29251855/140778188-616ac3d8-c374-42de-82b4-d8bf8c571ce3.png)

There is still no `Add-on Config` tabs found in Create LoadBalancer page
![image](https://user-image

[2021-11-08 19:23] noahgildersleeve commented on #1387
I tested in master-a412145f-head. Fixed.
1. Created 5 VMs with opensuse raw image template
2. Started all VMs
3. Verified all Vms showed as ready
4. Spot checked VM with VM health checks

[2021-11-08 19:23] #1387 closed, assigned to lanfon72, WuJun2016, noahgildersleeve

[2021-11-08 19:24] noahgildersleeve commented on #1512
I tested in master-a412145f-head. Fixed.

1. Created 5 VMs with opensuse raw image template
2. Started all VMs
3. Verified all Vms showed as ready
4. Spot checked VM with VM health checks

[2021-11-08 19:24] #1512 closed, assigned to WuJun2016, noahgildersleeve

[2021-11-08 19:48] noahgildersleeve commented on #760
Tested in master-a412145f-head. Fixed.

1. Create a vm and add userData or networkData, test if it works
2. Run VM health checks
3. create a vm template and add userData create a new vm and use the template
4. Run VM health checks
5. use the existing vm to generate a template, then use the template to create a new vm
6. Run VM health Checks

[2021-11-08 19:48] #760 closed, assigned to gitlawr, WuJun2016, noahgildersleeve

[2021-11-08 19:57] noahgildersleeve commented on #983
Tested in master-a412145f-head.
1. Turned off host that had VMs on it
2. Waited for host to show as powered off in ILO
3. Tried to migrate VM to new host
I got an error that said that the VM wasn't in ready status and a 500 error in the console.
![Greenshot 2021-11-08 11 55 34](https://user-images.githubusercontent.com/83787952/140809207-a8fddfc9-0db2-41d4-a4c2-ca75e6ad7fde.png)
![Greenshot 2021-1

[2021-11-08 21:40] marcuspocus1 opened #1522 "[BUG] UI - losing graph on dashboard after 24h uptime..."
**Describe the bug**
After approx 24h of uptime, grafana is not showing anything...
Graph are coming back on the dashboard after a complete reboot of the cluster...

**To Reproduce**
build up a cluster of 4 nodes, spin up 1 or 2 VM, wait 24h...

**Expected behavior**
Graph should be available all the time...

**Support bundle**
... included...

**Environment:**
 - Harvester ISO version: v0.3.0-rc2

[2021-11-08 21:53] marcuspocus1 opened #1523 "[BUG] NIC are going down randomly or after a reboot, no error in kernel or logs..."
**Describe the bug**
After a reboot or a certain period of time ( 48h + ), some NIC are going down / no-carrier...
no error on kernel, no error on switches: they are flagged as No Carrier...

**To Reproduce**
bind 2 NIC together ( 25Gb NIC, 802.3ad or balance-tlb )
start some VM, let them runs for 48h +...

**Expected behavior**
NIC should stay up all the time !!

**Support bundle**
[supportbundle

[2021-11-08 22:19] noahgildersleeve opened #1524 "[BUG] Can't create support bundle if one node is off"
**Describe the bug**

You can't complete generating a support bundle if one node is turned off
**To Reproduce**
Steps to reproduce the behavior:
1. On a multi-node harvester cluster power off one node
2. Navigate to support and try to complete generating support bundle
**Expected behavior**

Support bundle creates successfully.
**Support bundle**

**Environment:**
 - Harvester ISO version: master-

[2021-11-09 00:56] FrankYang0529 commented on #983
@noahgildersleeve, I think it is expected behavior. We can't "Live Migrate" a VM from a shutdown node, so we show the error message to users.

We already have another PR to handle VMs on a shutdown node. It needs users to set `vm-force-deletion-policy`. https://github.com/harvester/harvester/pull/1502

[2021-11-09 02:08] TangStone opened #1525 "[BUG] console input command does not support line feed display"
**Describe the bug**

Use console to enter a particularly long string of commands, the command line is not enough to display, console display will not change the line, but overwrite the original line
**To Reproduce**
Steps to reproduce the behavior:
1. Create a virtual machine and connect using console
2. Enter a string, exceeding the maximum default line to display the content
3. Instead of displ

[2021-11-09 02:29] bk201 commented on #1521
It somehow might be related to the boot order of machines (in my case they are VMs).
If I start all my 4 VMs at the same time, this is easy to reproduce.
But if I start controller nodes first and wait for all controller ready, then starting the agent node laster, the agent node doesn't go into NotReady if one controller node fails.

[2021-11-09 03:04] guangbochen commented on #1429
@WuJun2016 can u please help to add a new setting named `overcommit-config` that allows users to config resource overcommit in percentage. Also, as per @weihanglo's above comment, we can now ignore the `resource.limits` value during VM creating and the webhook will add it upon the overcommit value automatically.

[2021-11-09 03:06] weihanglo commented on #1497
We've tested some workarounds to resolve this issue but all went stuck.

The first attempt is leverage the finalizer feature in K8s. We added a finalizer on node and it'll spawn a job to uninstall RKE2 on the node to delete. Unfortunately there is also other logic that disconnect the node from the cluster network, so the node became `unreachable` and the pod scheduler cannot schedule any pod onto

[2021-11-09 03:19] guangbochen commented on #1311
Probably this is also fixed in Rancher v2.6.2, can we please help to re-validate it, thanks.

[2021-11-09 04:08] guangbochen commented on #812
I think instead of supporting all characters, it is better for us to add validation and return errors if the token does not meet the requirements. e.g using  https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#dns-subdomain-names validation

[2021-11-09 05:22] TachunLin commented on #1516
Verified **fixed** on master-d21b9161-head. Close this issue.

### Result
Refresh virtual machine page when vm is migrating, the vm migration will always keep in `migrating` status
![image](https://user-images.githubusercontent.com/29251855/140866721-b245994f-aec2-4806-ae9a-7ef148e3d933.png)

### Test Information
* Test Environment: 3 nodes harvester on provo bare machine (RackD8 Cluster A)
* Harv

[2021-11-09 05:22] #1516 closed, assigned to WuJun2016, TachunLin

[2021-11-09 14:49] TachunLin opened #1528 "[BUG] Failed to enable vlan cluster network after disable and enable again, display "Network Error""
**Describe the bug**

When user enable cluster network to `harvester-mgmt` then disable and try to enable it again.
Not it can't be enabled and finally show error message "Network Error"

![image.png](https://images.zenhubusercontent.com/61519853321ea20d65443929/9f2ccd31-60c8-4288-9d67-92b750767cab)

**To Reproduce**
1. Open settings and config vlan network
2. Enable network and set default `harve

[2021-11-09 14:49] TachunLin opened #1529 "[BUG] Failed to enable vlan cluster network after disable and enable again, display "Network Error""
**Describe the bug**

When user enable cluster network to `harvester-mgmt` then disable and try to enable it again.
Not it can't be enabled and finally show error message "Network Error"

![image.png](https://images.zenhubusercontent.com/61519853321ea20d65443929/9f2ccd31-60c8-4288-9d67-92b750767cab)

**To Reproduce**
1. Open settings and config vlan network
2. Enable network and set default `harve

[2021-11-09 14:57] Jellyfrog commented on #1345
@TachunLin
This still fails when the server got a ipv4 and ipv6 answer.

[code]

![image](https://user-images.githubusercontent.com/759887/140947482-8b6431e6-e1fe-4c04-aefa-11ee34960874.png)

[2021-11-09 14:57] TachunLin commented on #1528
Close this issue since plugin caused the same issue twice. will track in #1529

[2021-11-09 14:57] #1528 closed, assigned to TachunLin

[2021-11-09 15:25] TachunLin opened #1530 "[BUG] First time login shows Rancher UI and show up "object has been modified", requires second log in"
**Describe the bug**

When user trying to access harvester url after iso installation complete but not yet completely setup.
It will first show harvester change password page, then prompt the following rancher first time login page

![image.png](https://images.zenhubusercontent.com/61519853321ea20d65443929/1c8e22ad-5e5a-4eee-83ef-6c9a74a426c1)

Input correct password will fail to login and prompt

[2021-11-09 15:57] w13915984028 commented on #1439
with check in package/harvester-os/files/usr/sbin/harv-install/get_iso()

the effect is:

![image](https://user-images.githubusercontent.com/31133476/140958420-660df2da-bded-451c-9ea5-d272c3cc6f0b.png)

[2021-11-09 16:10] FrankYang0529 commented on #1345
Hi @Jellyfrog, thanks for the comment. We use [UDP for NTP validation](https://github.com/harvester/harvester-installer/blob/52c560d85c1b2d0a499c640695e5153ba5486c38/pkg/console/util.go#L116). Since UDP is not reliable, we update the mechanism from validating one IP address to [validating each IP address](https://github.com/harvester/harvester-installer/blob/52c560d85c1b2d0a499c640695e5153ba5486c3

[2021-11-09 16:46] Jellyfrog commented on #1345
Hi, thanks for a quick and verbose answer.
This is not however what's wrong, its trying to validate the ipv6 address tho ive only setup a ipv4.
So it wouldn't matter how many times it would retry

[2021-11-10 02:57] WuJun2016 commented on #1360
track issue:   https://github.com/harvester/harvester/issues/982

[2021-11-10 03:07] n313893254 commented on #531
Verify Steps:
- Install the latest harvester
- Go to the host detail page
- Check Network tabs

Addtional Context:
![image.png](https://images.zenhubusercontent.com/59db4297b0222d5de47ad632/3b3463ec-a755-4589-b00c-ac8c407bc55e)

[2021-11-10 03:09] n313893254 commented on #1449
Sure

[2021-11-10 07:44] TachunLin commented on #531
Verified **fixed** on master-119c2c48-head. Close this issue.

### Result
On the Host view page, now we can see detailed network status including `Name`, `Type`, `IP Address`, `Status` etc..
![image](https://user-images.githubusercontent.com/29251855/141070311-55ec4382-d777-4289-91c7-cebe81db3356.png)

### Test Information
* Test Environment: 3 nodes harvester on provo bare machines (RackD8 Cluste

[2021-11-10 07:44] #531 closed, assigned to n313893254, TachunLin

[2021-11-10 07:49] guangbochen opened #1531 "[BUG] Monitoring pod OOM after run a period of time"
**Describe the bug**
After running the Prometheus pod for a period of time e.g 9 days, the monitoring dashboard is empty due to the Prometheus pod being killed by OOM.

**To Reproduce**
[code]

![image](https://user-images.githubusercontent.com/4569037/141071749-28425ab3-be22-476c-a703-41931caacf16.png)

**Expected behavior**

**Support bundle**

**Environment:**
 - Harvester ISO version: v0.3.0

[2021-11-10 07:53] alexdepalex commented on #1531
@guangbochen This doesn't only apply to prometheus, but to the node exporter pods as well. In our case, we had to increase the memory limits 2 or 3 fold. Probably related to our hardware setup which increases the amount of metrics that the exporter reports about.

[2021-11-10 08:07] n313893254 commented on #1376
Verify Steps:
- Install the latest harvester
- Check dashboard CPU/memory reserved
- Go to host list and check CPU/memory reserved

[2021-11-10 08:08] WuJun2016 commented on #1371
@lanfon72    sorry, I haven't been able to reproduce the problem so far, could you please reproduce the problem by recording the screen? Also, could you look at the api request and see if the diskName you want to delete is included in the api, that would help me locate the problem better, thanks.

![image](https://user-images.githubusercontent.com/24985926/141074348-ae8df3bc-661f-4f7a-af6d-3b5124a

[2021-11-10 08:11] guangbochen commented on #1531
Good to know and thanks for the info @alexdepalex, we are considering increasing the default resource value a little bit, but in reality, every user will have a different spec of their environment setup, so it is better to expose those configs and allow them to customize it accordingly.

[2021-11-10 08:40] yaocw2020 commented on #1476
UI requirement:
- Add the label `network.harvesterhci.io/vlan-id` for the VLAN network.
- Provide the UI for users to select the mode of how to get the layer 3 network information.
   - if manual mode is selected, provide the text box for users to configure the CIDR and gateway.

@WuJun2016

[2021-11-10 08:57] WuJun2016 opened #1533 "[BUG] The resources of the system namespace should not be displayed"
**Describe the bug**

![image](https://user-images.githubusercontent.com/24985926/141079713-7fa98175-b9ff-40b6-81de-d2254c685ff6.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to volume page
2. resources belonging to the cattle-monitoring-system namespace exist

**Expected behavior**

The volume in cattle-monitoring-system should not be displayed

**Support bundle**

**Environment:*

[2021-11-10 09:02] n313893254 commented on #1435
I can see the add-on config by following my verify steps, here is the screenshot with the location:

![image.png](https://images.zenhubusercontent.com/59db4297b0222d5de47ad632/919a878f-2d12-4063-84e3-e4a213a539bb)

Maybe the UI still use the local UI file, can you check the console -> network to make sure the UI file has been requested from remote address? If you have any questions, please let me

[2021-11-10 09:09] lanfon72 commented on #1446
Verified An alert icon with error message will appears when VM is not able to start.
[host information]
![image](https://user-images.githubusercontent.com/5169694/141083207-064652e6-e825-4c01-b433-1dc2c56af789.png)

[over-committed VM]
![image](https://user-images.githubusercontent.com/5169694/141083398-c31c5cee-f3ae-4f69-9db5-b7fc7c4d77cc.png)

[VM's Events]
![image](https://user-images.githubuse

[2021-11-10 09:09] #1446 closed, assigned to lanfon72, WuJun2016

[2021-11-10 09:34] lanfon72 commented on #982
Verified VM's state will be changed to `Not Ready` when host goes down.

[states of Hosts]
![image](https://user-images.githubusercontent.com/5169694/141085982-8355e906-89a2-44e2-94ea-445c67ceae29.png)

[states of VMs]
![image](https://user-images.githubusercontent.com/5169694/141086052-8ad91638-b321-4439-90e7-385af7ee9856.png)

Test Information
----
* Environment: **qemu/KVM** 2 nodes
* Harvester

[2021-11-10 09:34] #982 closed, assigned to FrankYang0529, lanfon72, WuJun2016

[2021-11-10 09:34] lanfon72 commented on #982
VM can't bring back after host is back, it would be tracking in #1360

[2021-11-10 10:27] lanfon72 commented on #1360
@FrankYang0529, @WuJun2016, I will put this back to _review pipeline_ due to VM can't bring back after host is back.

- After host is back, VM will change to **Starting** state, but always hit _**FailedAttachVolume**_, and keep retrying.
![image](https://user-images.githubusercontent.com/5169694/141092998-3194275a-9819-40db-9860-fe5d95eaeff2.png)

- And If we bring down the host again, VM's state

[2021-11-10 10:28] gitlawr commented on #1521
See the cause in https://github.com/rancher/rke2/issues/2101. If we change the server address in `/var/lib/rancher/rke2/agent/kubelet.kubeconfig` to loopback address the node can recover.
 I open the ticket for discussion but I'm not sure if it's an upstream bug though. As rke2 docs suggest to use a fixed url for HA setup, I think this can be resolved when we use the vip as the server_url for join

[2021-11-10 10:40] w13915984028 commented on #1439
When I add the ISO_URL check in layoutInstall(), then the auto installation will terminate in case it is blank, it is difficult to figure out the root cause, as it splashed in the screen and then disappear, you need to get log info.

But if only with check in harv-install shell script, the install window will stop right on the error page, it is good for trouble-shooting.

And, the ISOURL check is

[2021-11-10 10:48] TachunLin commented on #1380
Verified **not fixed** on master-119c2c48-head. Move issue to review pipeline stage.
Suggest can provide more clear information for what cause the error

### Result
Upload file type .qcow2 (253MB) and googlechrome.dmg from file still show error message
`Failed to wait process start in 60 seconds`
![image](https://user-images.githubusercontent.com/29251855/141098180-c0b587f0-0f9b-4c82-84f2-2af88fe6

[2021-11-10 11:13] TachunLin opened #1534 "[BUG] VM memory display in long bytes value instead GB on virtual machine page"
**Describe the bug**

Create VM with 4GB memory, but it displays memory value `2863311530` on the virtual machine page

![image.png](https://images.zenhubusercontent.com/61519853321ea20d65443929/c08db590-d337-40c5-bdca-10cac804ff74)

**To Reproduce**
Steps to reproduce the behavior:
1. Create an virtual machine
2. Give 4GB memory
3. Provide required information and create vm
4. Check the memory va

[2021-11-10 12:07] bk201 commented on #1439
@w13915984028
Could you see if this change does the trick? https://github.com/bk201/harvester-installer/commit/a7661260b5da2f7650bdfa20b6d4da51b352a731

[2021-11-10 12:52] w13915984028 commented on #1439
highly possible:  no.

the time line is:
layoutInstall -> setPannels -> addInstallPanel -> ValidateConfig ->commonCheck(
then below code

That is:  in commonCheck,    Install.Automatic is not read out and merged into c.config yet, it is FALSE.

I did not find a proper time to call config.ReadConfig() in advance, here it also checks isFirstConsoleTTY,  only when both TRUE, then consider automatic m

[2021-11-10 13:37] bk201 commented on #1439
In a PXE boot installation, `cfg.Install.Automatic` is `true` after this line: https://github.com/harvester/harvester-installer/blob/52c560d85c1b2d0a499c640695e5153ba5486c38/pkg/console/install_panels.go#L58

[2021-11-10 13:52] w13915984028 commented on #1439
Yes.  My comment modification is checking it this way.

[code]

[2021-11-10 14:11] TachunLin commented on #1493
Verified **fixed** on master-119c2c48-head.This issue did not happen on the new cordon, maintenance mode design.
Suggest to close this issue if no other concern.

### Result
Cordon node and enter maintenance mode, after machine reboot, we can login harvester dashboard.
Node remain it's original status, we can disable/uncordon node, it can back to original status
![image](https://user-images.github

[2021-11-10 14:33] w13915984028 commented on #1439
With commit now:
https://github.com/w13915984028/harvester-installer/commit/52a21c58089d37e2a23932cbfee629d0d79c03bf

Both PXE and ISO install as expected
![image](https://user-images.githubusercontent.com/31133476/141132137-e7dc5189-63bd-4b04-9c32-c36b1c5901ab.png)

[2021-11-10 14:53] TachunLin commented on #1533
Verified **fixed** on master-119c2c48-head. Close this issue.

### Result
Now there is no cattle-monitoring-system volume show up on the volumes page
![image](https://user-images.githubusercontent.com/29251855/141135474-be8348c9-4f10-457b-8330-c370805d6938.png)

### Test Information
* Test Environment: 3 nodes harvester on provo bare machine
* Harvester version: master-119c2c48-head

### Verify St

[2021-11-10 14:53] #1533 closed, assigned to WuJun2016, TachunLin

[2021-11-10 19:36] w13915984028 commented on #1339
The code
` validateS3BackupTarget ` in `backupTaget.go`
tries to verify if the bucket is existing,
as per S3 API, HeadObject (longhorn uses) or HeadBucket is the proper API to use, it is high efficiency, and will not cause potential "AccessDenied",  harvester uses ListBucket.

HeadObject is a general API to check if a single object exists.
----
AWS has 3 APIs related here:
[code]

Harvester curren

[2021-11-10 21:18] abonillabeeche commented on #1342
I'm encountering the same problem - can anyone comment if kernel-default-5.3.18-59.19.1.x86_64.rpm fixed the problem?

This is what I caught from my serial console.

[code]

[2021-11-10 21:22] abonillabeeche commented on #1531
I'm seeing this in my dmesg on the nodes.

[code]

[2021-11-10 21:43] noahgildersleeve opened #1535 "[FEATURE] NTP daemon in host OS"
**Is your feature request related to a problem? Please describe.**

We don't currently have an NTP daemon running in the host OS. This is causing issues with timestamps not matching up in areas like backups and snapshots.
**Describe the solution you'd like**

An NTP daemon that has the server populated by the NTP server selected in the installer.
**Describe alternatives you've considered**

**Addi

[2021-11-11 01:34] noahgildersleeve opened #1536 "[BUG] NFS backups don't finish"
**Describe the bug**

When you start an NFS backup it doesn't complete
**To Reproduce**
Steps to reproduce the behavior:
1. Create new VM
2. Create a backup with an NFS backup target
**Expected behavior**

Backup should complete
**Support bundle**

[supportbundle_caa0bfe9-902d-45d6-bb88-9b74fe60e0eb_2021-11-10T21-27-20Z.zip](https://github.com/harvester/harvester/files/7517000/supportbundle_caa0bf

[2021-11-11 01:34] noahgildersleeve commented on #960
Currently blocked by https://github.com/harvester/harvester/issues/1536

[2021-11-11 01:37] noahgildersleeve commented on #1520
Tested in master-119c2c48-head. Verified as fixed. Tested in
1. main page
2. settings
3. support

[2021-11-11 01:37] #1520 closed, assigned to WuJun2016, noahgildersleeve

[2021-11-11 01:47] WuJun2016 commented on #1534
@TachunLin  I set up 4GB of memory without reproducing this issue, the long unit should be returned by the backend, I don't know under what circumstances the backend will convert the unit 。  cc @guangbochen

[2021-11-11 02:01] noahgildersleeve commented on #983
Closing as working as designed.

[2021-11-11 02:01] #983 closed, assigned to FrankYang0529, noahgildersleeve

[2021-11-11 02:07] bk201 commented on #1535
We use timesync feature of systemd if NTP servers are configured.
Run `systemctl status systemd-timesyncd.service` to check if it's alive.

[2021-11-11 02:18] n313893254 commented on #1376
Merged, change the pipeline to ready for test

[2021-11-11 03:20] TachunLin commented on #1534
@WuJun2016
This issue can be reproduced with master-119c2c48-head on both my local laptop and
provo bare machines (RackD8, ClusterA)
Today I tested again on my local kvm, it still happen here.
![image](https://user-images.githubusercontent.com/29251855/141231209-b245a4b1-e23a-47db-bc55-9cc496230cc6.png)

I just create images, setup network, add ssh keys then create a virtual machine.
Then the VM r

[2021-11-11 04:57] abonillabeeche commented on #1342
My kernel crashes are gone after installing  kernel-default-5.3.18-59.19.1.

[2021-11-11 05:41] TachunLin commented on #1435
@n313893254 ,
After replacing ui-dashboard-index and set ui-offline-preferred to Remote
There is no `add-on config` tab display on create load balance page

Open console-> network, I get a hint to press `ctrl+R` to reload page.
By doing this step, the `add-on config` show up.
![image](https://user-images.githubusercontent.com/29251855/141243397-af5f6bb1-851c-4c7b-bec5-bf49218614e2.png)

May I know

[2021-11-11 05:57] TachunLin commented on #1435
Verified **fixed** on master-119c2c48-head. Close this issue.

### Result
User can configure `port`, `IPAM` and `health check` related setting on `Add-on Config` page
![image](https://user-images.githubusercontent.com/29251855/141245366-799057f1-2aa7-4d7a-90d2-5e11541ddbc3.png)

### Test Information
* Test Environment: 3 nodes harvester on local kvm machine
* Harvester version: master-119c2c48-hea

[2021-11-11 05:57] #1435 closed, assigned to n313893254, TachunLin

[2021-11-11 06:42] lanfon72 commented on #1534
this should be caused by #1429

[2021-11-11 07:19] yaocw2020 commented on #1508
The VIP works normally according to the kube-vip log from the support bundle. We will try to reproduce this case.
[code]

[2021-11-11 07:52] FrankYang0529 commented on #1311
I can't reproduce this on Harvester master-119c2c48-head with Rancher v2.6.2.

## Harvester setup steps

* Create a 3-node cluster.
* Change Rancher version to v2.6.2
[code]

* Import Harvester cluster to Rancher v2.6.2.
* Enable Harvester Node driver.
* Setup Images, SSH Keys and, VLAN Networks.

## Test cases

Create 3 node RKE2 cluster on Harvester through node driver with Rancher.

✅  **Delete

[2021-11-11 08:01] lanfon72 commented on #1429
@weihanglo, @WuJun2016 I will put this back to _implement pipeline_ due to several reasons below:
[code]
1. broken VM creation, as issue #1534 mentioned.
    When Creating a VM with **7 GiB** RAM, the RAM will be reset to **4.67 GiB**, and **CANNOT** reconfigure it to exceed initial setting.
![image](https://user-images.githubusercontent.com/5169694/141254515-11cde36b-3fb3-49ed-b719-4d09ea64c840.p

[2021-11-11 08:15] weihanglo commented on #1534
Note that the value is the exact bytes after memory overcommit calculation. If we want to truncate that value in the backend we'll also affect the actual memory requested.

[2021-11-11 08:31] weihanglo commented on #1455
For "Scenario 1", the root cause is that the VMBUilder doesn't specify `CPU resources.limits`[^1].

For "Scenario 2", I have no idea how memory `resources.limits` was set to 256Mi, but it seems reasonable for me to reject the provision since the VM (1GiB) exceeds the memory quota (500Mi). Maybe I reproduced it wrong. Could you detail the steps? Thanks.

Anyhow, both scenario seem could be be resol

[2021-11-11 08:43] weihanglo commented on #1455
Also note that KubeVirt requests additional memory[^1] more than we specify for a VM, so we might meet a scenario that we cannot provision a 4GiB VM within a 4GiB quota namespace. Surely we can turn off the guest overhead, but should we?

[^1]: https://kubevirt.io/user-guide/operations/node_overcommit/#overcommit-the-guest-overhead

[2021-11-11 08:55] weihanglo commented on #1429
The overcommit feature here is quite simple: What you specify becomes `resources.limits` and Harvester calculates `resources.requests` for you.[^1] Under this circumstance, oh yes, we cannot "overcommit" beyond physical limits.

Although I am uncertain about overcommitting over physical resources, it's not hard to make it work: Just set `resources.limits` as the calculated `resources.requests` and

[2021-11-11 09:15] lanfon72 commented on #1376
Verified the bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/141259388-94e30891-f03f-4e48-baaf-626ac10bdfd9.png)
![image](https://user-images.githubusercontent.com/5169694/141260763-014e27d6-8f91-417e-964e-ebc42920f80a.png)

Test Information
----
* Environment: **Bare metal DL360** 3 nodes
* Harvester Version: **master-119c2c48-head**
* **ui-source** Option: **Exter

[2021-11-11 09:15] #1376 closed, assigned to lanfon72, n313893254

[2021-11-11 09:31] guangbochen commented on #1429
@lanfon72 I think both the 1st and 2nd issues are related to the UI bug and will be fixed accordingly with the correct size calculation, for the 3rd issue which is an over-committing, we are not virtualizing the actual physical resources, but users can deploy more VMs than the original 1:1 physical resource mapping through the overcommit config. A good example can be referred to https://docs.opens

[2021-11-11 09:58] lanfon72 commented on #1429
Yes, consider to the default configuration for CPU is **1600%**, I think overcommit is not work, I can't create the VM with 18 cores in the case(7/24 reserved).  Or am I misunderstaing something? :thinking:

For the origin comment, it more similar to #1376 (so the origin bug already be fixed), but following content in comments aren't.
I think we can track them on other issues, but I didn't find an

[2021-11-11 10:18] lanfon72 commented on #1371
@WuJun2016 I can't reproduce this in latest build (**master-119c2c48-head**) too, It probably not UI issue, so I will close it.

[2021-11-11 10:18] #1371 closed, assigned to WuJun2016

[2021-11-11 13:11] Jellyfrog commented on #1535
Works for me.
[code]

[2021-11-11 13:23] Jellyfrog commented on #1475
Can confirm this issue, and that the workaround works.

[2021-11-11 15:03] bk201 commented on #1521
@gitlawr I'm using the VIP in rancherd config to join a node, but the VIP is not used when rancher deploys RKE2.
Need to figure out a way how to do that.
[code]

I manually edit `server` in ` /etc/rancher/rke2/config.yaml.d/50-rancher.yaml` to the VIP and confirm the agent will use local LB after servers are up:

[code]

These are spotted in the agent's log and killing a server node **won't** make

[2021-11-11 15:44] TachunLin commented on #1218
From `master-119c2c48-head` version, harvester provide a feature to let user configure http-proxy in the settings page.
To display this setting, harvester need to be installed with `internet` connection
![image](https://user-images.githubusercontent.com/29251855/141323879-abad5c08-cfd0-4f88-af28-5ce7e8769b40.png)

However I found if harvester in installed in `airgapped` environment only have inter

[2021-11-11 17:03] w13915984028 commented on #1339
test with minio, it said: failed to load custom CA bundle PEM file.   which step is missing ?

https://longhorn.io/docs/1.1.2/snapshots-and-backups/backup-and-restore/set-backup-target/

![image](https://user-images.githubusercontent.com/31133476/141338510-eeac7c3e-4305-4a6d-b00e-0210799013ba.png)

[2021-11-11 18:33] noahgildersleeve opened #1537 "[BUG] Memory is being saved as the wrong amount in VMs"
**Describe the bug**

When you save a VM with a raw image template the amount of memory is showing as incorrect in the config
**To Reproduce**
Steps to reproduce the behavior:
1. Create a VM with a raw image template
2. Leave defaults as they are (1vcpu, 2gi memory)
3. Save VM
4. Check list for memory in VM
5. Open VM and check amount of memory
**Expected behavior**

The amount of memory should be

[2021-11-12 00:57] guangbochen commented on #1537
Memory is calculated in bytes but I think to be more user friendly can we calculate it in `Mi`, cc @weihanglo

[2021-11-12 01:03] TachunLin commented on #1493
Close this issue since with the new design at least one node will keep in active that may somehow prevent it to happen.

[2021-11-12 01:03] #1493 closed, assigned to FrankYang0529, TachunLin

[2021-11-12 01:07] guangbochen commented on #761
Hi, @rrrai @janeczku @alexdepalex wondering if the custom SSL certificate with support domain only is compatible with ur requirement, thanks?

[2021-11-12 01:17] weihanglo commented on #1537
AFAIK `resources` for memory only accept integer and there will be a precision loss if we truncating memory like that. Though it is technically achievable.

[2021-11-12 01:31] smallteeths commented on #1364
I found the reason, different browsers support different time formats and I need to convert the utc time format from golang.

Google supports it, Firefox does not. cc @innobead

[2021-11-12 01:34] smallteeths commented on #1364
Ref: longhorn/longhorn#3230

[2021-11-12 02:20] FrankYang0529 commented on #1535
@noahgildersleeve, could you please try again to set up the latest vagrant-ipx-harvester environment? I think we should get `timesync` if we set `ntp_servers` in harvester configuration. Thank you.

https://docs.harvesterhci.io/v0.3/install/harvester-configuration/

[2021-11-12 02:27] futuretea opened #1538 "[FEATURE] Support dynamic ssh key/password injection via AccessCredentials"
**Is your feature request related to a problem? Please describe.**

Support dynamic ssh key/password injection via AccessCredentials

## User Experience

- Add an additional `Credentials` tab page to the virtual machine details.
- Users  can select virtual machine's `Edit Config` and click `Credentials` to enter the credential tab page.
- The `Credentials` tab page is similar to the `Volumes` tab

[2021-11-12 02:45] n313893254 commented on #1435
I think after replacing the ui-index, UI should refresh the page so that make sure the UI is what you want. How about enhancing this UX?

[2021-11-12 03:06] WuJun2016 commented on #1534
@TachunLin  What is the value of overcommit-config in your environment?  It seems that the default overcommit-config value does not have a unit problem, I need to reproduce it to convert to the correct unit。

[2021-11-12 03:26] gitlawr commented on #1339
@w13915984028 The `cert` doesn't look like a PEM certificate file starting with `-----BEGIN CERTIFICATE-----`. Is it base64 encrypted?

[2021-11-12 05:44] FrankYang0529 commented on #1536
I can reproduce the issue. The root cause is that the value in secret for `cloudInitNoCloud.secretRef` and `cloudInitNoCloud.networkDataSecretRef` must be encoded by base64. So empty string will cause an error.

[code]

[code]

If we change the secret like the following and it can pass.
[code]

[2021-11-12 10:04] n313893254 commented on #1030
- [x] RKE2
- [x] RKE1

**RKE2 Verify steps**
- Install the latest Rancher
- Import a Harvester cluster
- Go to cluster management and create an RKE2 cluster by Harvester node driver.
- Create a harvester cloud credential
- Check the machine config description (placeholder and tooltip)

**RKE1 Verify steps**
- Install the latest Rancher
- Import a Harvester cluster
- Go to cluster management -> RKE

[2021-11-12 10:11] weihanglo commented on #1429
## Consistency of reserving memory overhead for guest

Per the discussion with @guangbochen and @WuJun2016, we are going to move guest memory reservation logic from frontend to backend, as well as the backend start ignoring `resource.requests` and derive them from `resources.limits`. This is quite straightfoward than current impl.

However, to deal with addtional overhead is somehow tricky, the lo

[2021-11-12 10:49] w13915984028 commented on #1339
With the used s3 harvester-ci-testing credentials, backup target setting is successful in my local harvester.

[2021-11-12 10:52] mack1024 opened #1540 "[BUG] harvester UI backup volumes, the value of the progress item of the created volume displays as N/A."
Starting a new virtual machine from the harvester UI backup also creates volumes, However, the value of the progress item of the created volume displays N/A, Why is N/A displayed? I think the display of this value is error.
I analyzed the harvester-ui code, the UI code for volumes appears in list/cdi.kubevirt.io.datavolume.vue and models/cdi.kubevirt.io.datavolume.js, Also, I printed the JSON valu

[2021-11-12 17:21] noahgildersleeve commented on #1537
This is a new issue that came up with the nightly build yesterday. @yasker  said that he thought it might be related to the changes with overprovisioning. https://github.com/harvester/harvester/pull/1492

[2021-11-12 17:44] noahgildersleeve commented on #1535
Tested in master-119c2c48-head on 4 node setup that has been up for over 24 hours. All four nodes are within a few seconds. All nodes are showing NTP active via `sudo timedatectl status`.

[2021-11-12 17:44] #1535 closed, assigned to FrankYang0529, noahgildersleeve

[2021-11-12 19:43] abonillabeeche commented on #1373
Did anyone figure this out? I'm wondering why we provision the worker nodes before the masters as well...

[2021-11-13 09:09] gitlawr opened #1541 "[BUG] Enabling vlan on a bonded NIC breaks the Harvester setup"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Install a 3-node cluster using https://github.com/harvester/ipxe-examples/tree/main/vagrant-pxe-harvester
2. Enable vlan network using the bond0 NIC

**Result**
Harvester dashboard fails to load.
rke2-server service crashes.

**Environment:**
 - Harvester ISO version:  master-119c2c48-head

**Additional context**
1. journal

[2021-11-13 09:11] gitlawr commented on #1541
To recover, get the IP of bond0 and run the following commands on each node:
[code]

[2021-11-14 11:29] TachunLin commented on #1541
The recover command can restore harvester back to operation and VM with vlan network can get ip address
List out the steps for reference.

1. Install 3 nodes harvester from vagrant ipxe-example master
2. Enable vlan on bond0
3. Now harvester dashboard page will out of work
4. We can't ssh to original assigned node ip
5. We need to ssh to 192.168.0.30, 31, 32  instead
6. Run ip a | grep bond0  get

[2021-11-14 12:30] WuJun2016 commented on #1304
Restoring a backup is not suitable for normal Edit as YAML,
Creating a Template requires two api calls, so Edit as YAML is not supported either

[2021-11-14 12:39] WuJun2016 commented on #1218
You can wait for the backend version to be updated before testing the airgapped environment.

Maybe the front-end resources inside the latest back-end iso are not the latest. Wait for the back-end merge new pr and then test

[2021-11-14 16:15] yaocw2020 commented on #1373
The pr is merged. It's ready for testing. It's a bug about the harvester cloud provider. Users can not deploy any workload before the cloud provider is ready. We should add the tolerations to allow the harvester cloud provider to be deployed in the master node.

[2021-11-14 16:17] yaocw2020 commented on #1373
For testing
Due to we have not cut a new rke2 release, please use the rke2 master version to verify this issue.

[2021-11-14 16:31] yaocw2020 commented on #1541
The harvster network controller will delete the route of the interface which is set for the VLAN network if it is not `harvester-mgmt`.
Why do you use the bond0 as the default route device? It should default to harvester-mgmt.
If we don't take `harvester-mgmt` as the default route device, there may be something wrong with the management network. @TachunLin @gitlawr

[2021-11-15 00:35] aledbf commented on #1342
Same issue here, random reboots v0.3.0

`Linux harvester 5.3.18-59.24-default #1 SMP Mon Sep 13 15:06:42 UTC 2021 (2f872ea) x86_64 x86_64 x86_64 GNU/Linux`

[code]

[2021-11-15 01:55] hellocloudnative opened #1542 "[BUG] Rancher 2.6.2 Kubernetes deployed on upstream Kubeadm have problems, this should bea bug?"
Rancher 2.6.2 Kubernetes deployed on upstream Kubeadm have problems, this should bea bug?

[2021-11-15 02:03] hellocloudnative commented on #1542
Rancher 2.6.2, which I deployed at the K3S helm, started completely normally, but the upstream Kubernetes 1.18.5, which I deployed using Kubeadm, was having problems with helm deployment, and Rancher Server kept restarting.

[2021-11-15 02:05] hellocloudnative commented on #1542
#1421

[2021-11-15 02:05] hellocloudnative commented on #1542
@guangbochen

[2021-11-15 02:15] guangbochen commented on #1542
U may follow the step-by-step installation guide of the Rancher from https://rancher.com/docs/rancher/v2.6/en/installation/install-rancher-on-k8s/, if the issue still exists, would prefer to file an issue on the [rancher/rancher](https://github.com/rancher/rancher/issues) with the exact error logs u have encountered.

[2021-11-15 02:28] hellocloudnative commented on #1421
Not Found
Type: harvesterhci.io.management.cluster

[2021-11-15 02:45] hellocloudnative commented on #1421
Rancher 2.6.2, which I deployed at the K3s helm, started up completely fine, but when I added harvester clusters, the UI displayed:

Not Found
Type: harvesterhci.io.management.cluster

@guangbochen

[2021-11-15 02:51] hellocloudnative commented on #1421
#1542

[2021-11-15 03:00] yaocw2020 commented on #1541
I wonder why we expose the default route configuration to users? @weihanglo
https://github.com/harvester/harvester-installer/commit/f3107af8582b1caf6ca44dcbe542f8958288a7ff#diff-a3d824da3c42420cd5cbb0a4a2c0e7b5bfddd819652788a0596d195dc6e31fa5

[2021-11-15 04:58] WuJun2016 commented on #1429
the logic in the frontend reserves 100Mib for each VM.

[2021-11-15 06:43] hellocloudnative commented on #1542
@guangbochen

[2021-11-15 06:49] n313893254 commented on #1380
@TachunLin, I can not reproduce the issue with master-119c2c48-head, Could you give me more information to reproduce the issue?

https://user-images.githubusercontent.com/18737885/141735082-1bd20ef4-e7fd-489a-8a72-7e253ce9d9cf.mp4

[2021-11-15 07:51] bk201 commented on #1541
Because the user might have a preferred gateway on other networks.

[2021-11-15 08:06] TachunLin commented on #1541
@yaocw2020

The reason we use the default `bond0` as the default route device is due to while we are trying to set up an airgapped rancher to connect to online harvester for testing issue #1247 (Provision RKE2 cluster from airgapped rancher)
We setup the environment by using vagrant ipxe example, but found if we use default `harvester-mgmt` as the default route, we can't retrieve IP for rke2 clust

[2021-11-15 09:00] yaocw2020 commented on #1541
We should keep the default gateway interface stable to keep the management network stable. Users may set the route via the preferred gateway towards the target network.

[2021-11-15 09:43] w13915984028 commented on #1339
reproduced now

the "endpoint" field should be empty, then, the same error occurs:
-----

`operation error S3: ListBuckets, https response error StatusCode: 403`, RequestID: MBWD5GVK5MS2NMY0, HostID: o7HZ6AXjotKv01pher5AByzwpwcpJP3Rpz8R46JQF56KR+WKoPrseJrYS5OykGSMETuqCXTBDiw=, api error AccessDenied: Access Denied

[2021-11-15 11:17] TachunLin commented on #1380
@n313893254
I have verified again on provo bare machine with master-119c2c48-head.
Please use this dmg file [googlechrome.dmg](https://mysuse-my.sharepoint.com/:u:/r/personal/david_lin_suse_com/Documents/Harvester/test_data/googlechrome.dmg?csf=1&web=1&e=3rsiHB) can always reproduce the error upload scenario.

I reproduce this issue on provo bare machine today, in the beginning it will show up wit

[2021-11-16 00:07] noahgildersleeve commented on #1373
How would you do that? I didn't see an option in the node driver.

[2021-11-16 00:57] yaocw2020 commented on #1373
What about suspending this case and waiting for the RKE2 to cut a new release? That will be easier and spend less time.

[2021-11-16 00:58] noahgildersleeve commented on #1373
Sounds good to me. How do you feel about it @guangbochen. Also how will I know if there's a new RKE2 release?

[2021-11-16 02:17] gitlawr commented on #1260
To test:
1. set up a self-signed HTTP server to serve virtual machine images.
2. set up a self-signed s3 server(e.g., https://longhorn.io/docs/1.2.0/snapshots-and-backups/backup-and-restore/set-backup-target/#set-up-a-local-testing-backupstore)
3. Configure additional trusted CA certificates in Harvester settings
4. Verify image download/VM backup works using those servers.

[2021-11-16 02:58] guangbochen commented on #1373
Yep, just doing the validation after the RKE2 new release is out, u should be able to track it on the https://github.com/rancher/kontainer-driver-metadata/blob/dev-v2.6/channels-rke2.yaml (needed for Rancher's) and https://github.com/rancher/rke2/releases

[2021-11-16 06:32] hellocloudnative commented on #1421
@guangbochen  I use https://github.com/harvester/harvester-installer/blob/master/manifests/harvester.yaml deployment harvester 3.0, The rancher 2.6.2. Harvester successfully added Rancher, but my screen still shows this:
![image](https://user-images.githubusercontent.com/32674956/141934256-0b0f688c-d69e-4765-a234-1b44d393583c.png)
![image](https://user-images.githubusercontent.com/32674956/1419342

[2021-11-16 06:51] newhuangchuan opened #1546 "CPU, memory, and storage monitoring are not displayed[BUG]"
**Describe the bug**

The harvester (0.2.0) is deployed by means of `helm', and currently the monitoring data of CPU, memory, and storage are not displayed
![image](https://user-images.githubusercontent.com/53457306/141935513-2406f321-7695-4f6a-a3f9-c00ce2b527f9.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'

**Expected behavior**

**Support bundle**

**Environment:**
 - Ha

[2021-11-16 07:24] FrankYang0529 commented on #1360
@lanfon72 I try to reproduce the bug on Harvester master-119c2c48-head. VM can get back when a node is back. I have tried many times. May you try again? If you still get the error, may you provide support bundle? Thank you.

[2021-11-16 07:36] guangbochen commented on #1421
The manifest is correct and u may need to check the Harvester or Rancher API server logs to identify the issue properly, Harvester API is exposed through the Rancher server by leveraging its aggregated API feature and therefore u will be able to access the Harvester UI properly.  You would be expecting to see the apisevice CR resources as below if it was setup properly:
[code]

You can refer to th

[2021-11-16 07:47] yaocw2020 commented on #1059
We should execute the command `sudo cloud-init clean` in the VM before modifying the cloud-init config, otherwise the new cloud-init config won't take effect.

[2021-11-16 07:54] hellocloudnative commented on #1421
@guangbochen  Thank you very much, I would like to further debug and would like to help the community support helm way.

[2021-11-16 08:09] FrankYang0529 commented on #1035
Is this a UI area issue? When I click `View in API`, `in-progress` occurs in `metadata.state`. However, `state` field is not in [ObjectMeta](https://pkg.go.dev/k8s.io/apimachinery/pkg/apis/meta/v1?utm_source=gopls#ObjectMeta). So we can't find `in-progress` from `kubectl get nodes node -o yaml`. Probably, UI should check `Ready` condition in status. For a shutdown node, `Ready` condition shows `Un

[2021-11-16 09:18] hellocloudnative commented on #1421
![image](https://user-images.githubusercontent.com/32674956/141957288-cd6bd20a-a913-4754-8134-819b8c194c6e.png)
The Harvester API is accessible, but why isn't the UI displayed? @guangbochen

[2021-11-16 10:41] n313893254 commented on #1272
[code]

`v1/harvester/nodes/qy` return error should be false

[2021-11-16 13:23] lanfon72 commented on #1360
@FrankYang0529 I can reproduce this case on the test environment described below, but after refresh (with `ctrl+r`) page, VM bring back and operate normally.  Also tested on Provo's Baremetal, the behavior works as expected without refresh page.

In short, I think the different behaviors between KVM and baremetal is not related to this bug, so I will close this issue.

Test Information
----
* Envi

[2021-11-16 13:50] TachunLin commented on #1534
@WuJun2016
The overcommit-config value keeps in default without changing it. This issue can be reproduce by using the master-119c2c48-head version with out extra configuration.
![image](https://user-images.githubusercontent.com/29251855/141997194-e05de866-3aa0-4dc1-9471-5095e5bfc7b1.png)

[2021-11-16 14:53] w13915984028 commented on #1051
When the backup target config is failed, the error will always be there, to notify the user.
User can modify the config to a correct one, or clear/reset the error config. The latter does not work now.

We may  either add a new button beside "show/hide backup target", called "reset/clear backup target";  or in the "edit" pop up, enable "Use the default value" button (it is not usable now), to reset

[2021-11-16 15:12] yaocw2020 commented on #1508
I tried to reproduce this problem but it didn't occur.
@StefanDanielSchwarz Could you provide more details to help me to reproduce the problem?

[2021-11-16 17:10] lanfon72 commented on #1499
ref to #1051

[2021-11-16 17:36] lanfon72 opened #1548 "[BUG] inconsistent behavior of first time login in different browser"
### Describe the bug
- visit `https://<vip>/` being redirect to `https://<vip>/dashboard/auth/login` instead of `https://<vip>/dashboard/auth/setup`
- trying to visit `https://<vip>/dashboard/auth/setup`
    1. Able to visit the setup page if browser had been visited previous version of dashboard [^1]
    2. Unable to visit the setup page and being redirect to `https://<vip>/dashboard/auth/login?t

[2021-11-16 17:41] lanfon72 commented on #1548
This should be the same root cause that you can't login again after logout.

![image](https://user-images.githubusercontent.com/5169694/142037161-0ffddd02-d82e-4e75-bef1-752bd77c5d47.png)

[2021-11-16 18:46] guangyee opened #1549 "[BUG] Unable to login after initial password setup"
**Describe the bug**
Admin user unable to log back in after the initial password setup. Admin user was prompted to create a password at initial login. After creating a password and signed into the UI the first time, subsequent logins all result in errors.

We suspect this is due to recent upstream Rancher change in enforcing a default password policy (i.e. minimal of 12 characters) which is not fu

[2021-11-16 23:53] guangyee opened #1550 "[BUG] The password field in the Harvester continue login screen does not offer show/hide toggle"
**Describe the bug**
The password field in the Harvester continue login screen does not offer show/hide toggle. This is a shortcoming for UX as user may
not always know what's been entered from the keyboard (i.e. forgot cap lock is accidentally on).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://<VIP> to login again after initial setup is completed.

**Expected behavior**
Ther

[2021-11-17 01:05] TachunLin commented on #1311
Verified on master-a4ed2af5-head with rancher 2.6.2
**Did not encounter** the cluster or vm not fully removed result. Suggest we can close this issue if no additional concern.

### Result

Verify under the following 3 different scenario, all of them can remove rke2 cluster from rancher and corresponding vm node in harvester

1. Rancher: 2 node in provisioning, 1 node with failed (Harvester: 2 vm r

[2021-11-17 02:07] WuJun2016 opened #1551 "[BUG] Navigating to virtualization management in a multi cluster, there is a serious error"
**Describe the bug**

![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/3931e5dc-c0dc-4af6-9c5d-32248537d856)

**To Reproduce**
Steps to reproduce the behavior:
1.  In a multi-cluster
2.  click  "virtualization management"  tab
3.  Show harvesterhci.management.cluster type not found  (Unstable reproduction)

**Expected behavior**

**Support bundle**

**Environment:**
 - Ha

[2021-11-17 02:55] n313893254 commented on #1551
I can not reproduce this issue, but this error is thrown by the UI. So I add a condition to make sure UI won't fetch the not exist type.

[2021-11-17 06:40] gitlawr commented on #1218
To test:
1. Install Harvester in a private network that can access internet via an HTTP proxy
2. configure HTTP proxy in Harvester settings
3. Verify downloading VM images works.
4. Verify VM backup to external S3 works
5. Run `kubectl create deployment nginx --image=nginx:latest` on Harvester cluster and verify the image can be pulled and the nginx pod runs successfully

Note:
We don't propagate

[2021-11-17 06:47] gitlawr commented on #1549
Workaround:
[code]

[2021-11-17 06:53] gitlawr commented on #1549
The userattributes CRD created by Harvester is incompatible with the current Rancher version.
[code]

Rancher fails to save the GroupPrincipals field in userattributes and gets panics:
[code]

[2021-11-17 09:13] n313893254 commented on #1377
The issue is caused by `/v3` WebSocket disconnect. UI send a request to find a not existing CRTB, which causes UI to fail in fetch hook and shows list empty.

Cluster member list:
- Fetch norman CRTB
- According to every CRTB find the match steve CRTB

When adding a member:
- Create steve CRTB by sending a request to the server
- Create a new norman CRTB and restore in UI store

When removing a me

[2021-11-17 10:33] TachunLin commented on #1247
Verified **fixed** on harvester 0.3.0 **master-119c2c48-head** with **Rancher 2.6.2**. Close this issue.

### Result
Now we can provision RKE2 cluster from airgapped Rancher
![image](https://user-images.githubusercontent.com/29251855/142180267-35704fc1-542e-4e45-9ebd-ce5ba787e709.png)

### Environment Setup

* iPXE and DHCP server setup
  - Install an one node harvester with vagrant-pxe-harvester

[2021-11-17 10:33] #1247 closed, assigned to gitlawr, TachunLin

[2021-11-17 11:23] verejoel commented on #1467
If DHCP is not available is there a way to assign a static IP in the flat network to the VMs?

[2021-11-17 13:49] w13915984028 commented on #1051
The "Use the default value" button in the harvester UI (edit backup target) is available now, the corresponding backend source code must be added to do related processing. Coding.

DON´T use/test the button at the moment.

[2021-11-17 13:53] abonillabeeche opened #1553 "[BUG] Harvester populates VMs IP 6 minutes after deployment"
**Describe the bug**
Harvester only provides the VMs IP 6 minutes after deployment. Waiting for the IP (I think) slows down Rancher deployed cluster provisioning and the overall CPI.

<img width="1230" alt="Screen Shot 2021-11-17 at 8 47 25 AM" src="https://user-images.githubusercontent.com/5146963/142213060-3524c033-3d05-461f-9bd2-7019ad5c5c33.png">

<img width="1226" alt="Screen Shot 2021-11-17

[2021-11-17 14:46] w13915984028 opened #1555 "[BUG] Backup target endpoint processing code has a bug"
**Describe the bug**

The current code causes panic when use "Use the default value" button

**To Reproduce**
Steps to reproduce the behavior:
1. Set anything in setting backup target
2. Edit again, and hit "Use the default value" (it must be usable, then can produce)
3. Harvester pod has a crash reported

**Expected behavior**

No crash

**Support bundle**

Existing code has a bug:

[code]

`OnBa

[2021-11-17 21:17] guangyee commented on #1549
Works with the latest build.

[2021-11-17 21:17] #1549 closed, assigned to gitlawr

[2021-11-17 21:29] Jellyfrog opened #1557 "[BUG] Packets not passed to VM via vlan interface"
**Describe the bug**

When setting up a virtual machine inside harvester with vlan network,
it can send ARP/DHCP requests, but the answer is not  passed back to the vm.
I can see the ARP/DHCP response on the harvester node via tcpdump.
But the guest virtual machine can't see the packets.

**To Reproduce**
Steps to reproduce the behaviour:
1. Enable VLAN networking
2. Setup virtual machine in harve

[2021-11-18 01:43] wonleing opened #1558 "[Question]How to write and debug a new harvester API?"
Is there a way to post a http request to havester backend without ssl/crsf check, and debug the backend work flow?
I want to track how the request is been handled.  I only saw delete related functions in pkg/api/datavolume/*.go. I want to find out where datavolume copy/clone is been handled. Currently datavolume clone only generated an empty volume.

[2021-11-18 02:11] #1311 closed, assigned to FrankYang0529, noahgildersleeve

[2021-11-18 03:32] TachunLin commented on #1519
After several trials and consult team members, now I can provision RKE1 cluster in rancher 2.6.2.
To make it work, I found some clues

1. Harvester node need to be installed within the same subnet with rancher
2. Install one node harvester instead of 3 nodes
3. Allocate enough cpu and memory to harvester node (e.g cpu: 10 core, memory: 32GB)

![image](https://user-images.githubusercontent.com/2925

[2021-11-18 07:00] wangpan-hqu commented on #1534
In my  harvester UI setting, there is not overcommit-config, why ? (harvester 0.3)

[2021-11-18 07:04] lanfon72 commented on #1548
verifed both fixed on **master-45e25939-head**.

[2021-11-18 07:04] #1548 closed, assigned to nobody

[2021-11-18 07:11] lanfon72 commented on #1462
verified we can use _**symbolic**_ to point the disk, like `/dev/disk/by-path/xxx`.

[2021-11-18 07:11] #1462 closed, assigned to bk201, lanfon72

[2021-11-18 07:13] guangbochen commented on #1534
this is a new feature that will be supported via v1.0.0, thanks.

[2021-11-18 07:26] wangpan-hqu commented on #1534
how to get the lastest version？The latest version is only 0.3  in the github, can you give me a link，thanks

[2021-11-18 07:51] lanfon72 opened #1559 "[BUG] Grub Menu displays **cOS** instead of Harvester"
### Describe the bug
Grub Menu displays **cOS**, it was displayed **Harvester xxxxx**
![image](https://user-images.githubusercontent.com/5169694/142373513-d217ea82-d6f6-41b6-9e73-28566fbe42f6.png)

### To Reproduce
Steps to reproduce the behavior:
1. install Harvester and monitoring

### Expected behavior
It should displays the format like **Harvester <version>**

[2021-11-18 07:52] gitlawr commented on #1380
@TachunLin From the recording, the upload resulted in an expected error message. Are you able to reproduce the timeout error now?

[2021-11-18 07:53] bk201 commented on #1559
This will be addressed in https://github.com/harvester/harvester-installer/pull/160 too.

[2021-11-18 08:03] gitlawr commented on #1474
Check if Harvester cloud provider can connect host k8s via rancher proxy instead of using the VIP

[2021-11-18 08:29] bk201 opened #1560 "[BUG] OS might fail to mount critical mount points on some machines"
**Describe the bug**
On some machines, cOS might give up mounting the `/oem` partition if the disk containing the partition takes too long to initialize.
This makes the system useless because the configs in `/oem` partition are not loaded at all.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Harvester on machines with RAID or SCSI controllers.
2. Reboot the system and the system is

[2021-11-18 08:53] weihanglo commented on #1455
This should be resolved by harvester/docker-machine-driver-harvester#27.

~~For whom aim to test this bugfix, please head to the node-driver page in Rancher. Then change to URL of harvester node dirver to https://releases.rancher.com/harvester-node-driver/v0.3.3/docker-machine-driver-harvester-amd64.tar.gz . You might want to remove the checksum to skip the validation.~~

Please use v0.3.4
https:/

[2021-11-18 09:09] bk201 commented on #1521
@gitlawr We can work around this by overriding the server URL on agent nodes:
[code]

In my tests when VIP is ready, the agent can get the correct server list and will use the local LB endpoint.

[2021-11-18 09:22] johnliu55tw commented on #1405
@gitlawr Just tested on latest master ISO (2021-11-18), seems like `os.sysctls` works except for the special case of `kernel.domainname` as @bk201 mentioned above. Do you think we still need to fix this?

[2021-11-18 09:32] gitlawr commented on #1405
We can close after we fix the doc(both v0.3 & dev):

![image](https://user-images.githubusercontent.com/5697937/142388958-9bcc18a6-303e-434b-9ccc-039a132664d6.png)

[2021-11-18 09:52] lanfon72 commented on #1304
@WuJun2016 this issue will put back to _**implement**_ as there have several functions not work correctly.

Test Information
----
* Environment: **Bare metal DL360** 3 nodes
* Harvester Version: **master-45e25939-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Click **Create**
2. fill in required data
3. Click **Edit as YAML**
4. Click **Create**

### Verified not work correctly list

[2021-11-18 10:14] lanfon72 commented on #1550
Verified _password field_ able to toggle to display password as plain text.
![image](https://user-images.githubusercontent.com/5169694/142395914-673c5953-01c3-4400-9cc2-235f507b0200.png)

Test Information
----
* Environment: **Bare metal DL360** 3 nodes
* Harvester Version: **master-45e25939-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. install harvester with any nodes
2. setup pas

[2021-11-18 10:14] #1550 closed, assigned to lanfon72, WuJun2016

[2021-11-18 11:24] TachunLin commented on #1012
Verified **fixed** on master-45e25939-head. Close this issue.

### Result
With the new http proxy feature provide in #1218 , we can set proxy value in harvester settings to create image from URL through the internal proxy server
![image](https://user-images.githubusercontent.com/29251855/142406004-b524e348-79a9-48a2-b667-52c44b22dc77.png)

![image](https://user-images.githubusercontent.com/2925185

[2021-11-18 11:24] #1012 closed, assigned to gitlawr, WuJun2016, TachunLin

[2021-11-18 11:39] futuretea commented on #1455
docker-machine-driver-harvester v0.3.3
harvester master version 45e2593
rancher 2.6.2
create Harvester cluster rke1/rke2 by node driver:
![image](https://user-images.githubusercontent.com/15064560/142408227-b28ea867-9e51-46fc-bf4a-e25086c78aff.png)
![image](https://user-images.githubusercontent.com/15064560/142408239-e6b7f6f3-ecef-4e28-8360-eb42536b50c5.png)

[2021-11-18 11:52] weihanglo commented on #1455
Looks like a device boot order issue. Setting hotplug flag to false might help? I am not sure. Need some tests.

https://github.com/harvester/docker-machine-driver-harvester/blob/b6ec9b6b5ab5dfbb6fda8f9b872bf2c33e874360/harvester/create.go#L110

[2021-11-18 11:53] futuretea commented on #1455
hotplug flag need to be false, tested

[2021-11-18 12:15] futuretea commented on #1455
@weihanglo  created a new release v0.3.4  for test: https://releases.rancher.com/harvester-node-driver/v0.3.4/docker-machine-driver-harvester-amd64.tar.gz

[2021-11-18 12:39] verejoel commented on #1475
I also had a similar issue. However I did not restart the main management node - I joined a virtualized harvester node to the cluster. After this, I was unable to use kubectl until I performed the workaround given by @guangbochen

[2021-11-18 13:20] TachunLin commented on #1380
@gitlawr

Verified on the latest master-45e25939-head version with brand new installation without any page refresh action.
Upload .img and .qcow2 with unsupported file size multiplies, did not show the `Failed to wait for processing start in 60 minutes` message

![image](https://user-images.githubusercontent.com/29251855/142422288-7ca932d0-59a7-429b-bff3-7d8e5b23015a.png)

### Test Information
Tes

[2021-11-18 13:56] sirredbeard commented on #1551
Steps to reproduce:

1. Install Rancher Desktop 0.6.1 on Windows 22000.346
2. Enable WSL integration with openSUSE Tumbleweed
3. `helm repo add rancher-latest https://releases.rancher.com/server-charts/latest`
4. `kubectl create namespace cattle-system`
5. `kubectl apply -f https://github.com/jetstack/cert-manager/releases/download/v1.5.1/cert-manager.crds.yaml`
6. `helm repo add jetstack https://

[2021-11-18 14:45] guangbochen commented on #1428
can't reproduce it with the latest `master-head` ISO, can the QA team help to re-validate again, thanks
[code]

[2021-11-18 15:00] guangbochen commented on #1379
this is identical to https://github.com/harvester/harvester/issues/1311, close as it has already been verified on the other issue, feel free to re-open it if u encounter a different issue, thanks.

[2021-11-18 15:00] #1379 closed, assigned to n313893254

[2021-11-18 15:17] guangbochen commented on #1035
nope, actually this is a backend issue as the harvester node API has a different state in contrast with the Rancher's [`v1/nodes`](https://github.com/harvester/harvester/issues/1272#issuecomment-970143102), close as a duplicate of  https://github.com/harvester/harvester/issues/1272.

[2021-11-18 15:17] #1035 closed, assigned to johnliu55tw

[2021-11-18 15:24] WuJun2016 commented on #1534
https://github.com/harvester/harvester-installer/wiki/Development-ISO-Build

[2021-11-18 15:44] guangbochen commented on #1465
Can we help to validate this issue on https://github.com/rancher/rancher/issues/34886 thanks? and both can be closed after passing the validation.

To Test:
- If the feature flag was turned on, we enable the Harvester node driver automatically (if it's not enabled and default to enabled).
- If the feature flag was turned off, nothing will change to the Harvester node driver.
- Enable/disable the H

[2021-11-18 15:53] guangbochen commented on #1414
@TachunLin this is a known common issue of the Rancher dashboard + k8s API, the error message states that the object is modified after we click the `Edit` host button and the UI won't reload the YAML content directly, and by clicking save we are sending the old version of the object so the k8s API rejects it, users can only resolve it by refresh the page or go back and click edit again.

[2021-11-18 15:59] guangbochen commented on #1519
@TachunLin why only use one node harvester, users should be able to add as many nodes as they want of the Harvester cluster and spin up guest k8s clusters on it when it has enough resources.
Additionally, feel free to close if u found this is not a bug, thanks.

[2021-11-18 16:06] yaocw2020 commented on #1529
Due to the downtime after disabling the VLAN network.

[2021-11-18 16:19] yaocw2020 commented on #1529
Probable the same reason with https://github.com/harvester/harvester/issues/1464

[2021-11-18 18:45] TachunLin opened #1561 "[BUG] Fully shutdown then power on harvester node machine can't get provisioned RKE2 cluster back to work"
**Describe the bug**

Fully power off harvester node machine, wait for a while then power on.
The RKE2 cluster provisioning in rancher can't turn back to running
Keep in `Cluster health check failed: Failed to communicate with API server during namespace check`

![image.png](https://images.zenhubusercontent.com/61519853321ea20d65443929/40eefc37-c5ac-46a6-81e8-9e7fe8b7bd85)

**To Reproduce**
Steps

[2021-11-18 19:04] w13915984028 opened #1562 "[BUG]Inconsistency in API HeadBucket between S3 and Minio"
**Describe the bug**

After the fix of #1339 , it works with S3, but minio replacement breaks.

**To Reproduce**
Steps to reproduce the behavior:
1. Edit backup target to "S3", with a minio installed in cluster or independently, edit config like
{
  "type": "s3",
  "endpoint": "http://192.168.3.31:9000",
  "accessKeyId": "",
  "secretAccessKey": "",
  "bucketName": "backupbucket",
  "bucketRegion"

[2021-11-18 19:09] w13915984028 commented on #1562
A quick analysis,

When "HeadBucket" is called and the "Endpoint" is not NULL, AWS sdk will try to build an URI,  here it becomes "http://backupbucket.192.168.3.31:9000/":

But the DNS does not know it. It causes the error.

Before commit of #1339, the "ListBuckets" API is called, it does not care about bucket name,  the credential is used to get all buckets. the URL is not changed.

S3 endpoint i

[2021-11-19 00:42] guangbochen commented on #1380
@TachunLin the screenshot states it is a file byte size issue from longhorn, I think this is the correct message we are expecting for?

[2021-11-19 00:55] TachunLin commented on #1534
Verified **fixed** on master-45e25939-head.Close this issue.

### Result
Now VM created in different amount of memory can reflect correct format to actually reflect the input value in creation.
![image](https://user-images.githubusercontent.com/29251855/142519970-f9603e69-8f23-4010-9bbe-b4235e0fb44c.png)

![image](https://user-images.githubusercontent.com/29251855/142520528-181921a5-e1b5-477c-8d1f

[2021-11-19 00:55] #1534 closed, assigned to weihanglo, WuJun2016, TachunLin

[2021-11-19 02:30] TachunLin commented on #1414
Verified **fixed** on master-45e25939-head. Close this issue.

### Result
Unpartitioned NVMe disks can be detected, partitioned and mounted to harvester node.
With `schedulable` and `running status`

![image](https://user-images.githubusercontent.com/29251855/142553133-1e67d4b0-1203-482f-be76-afa0e4a0066c.png)

### Test Information
* Test Environment: 3 nodes harvester on local kvm/qemu machines
*

[2021-11-19 02:30] #1414 closed, assigned to weihanglo, TachunLin

[2021-11-19 03:49] FrankYang0529 commented on #1536
## Test cases

### Secret reference cloud-init with empty string

* Create a secret like the following:
[code]

* Create a VM with the above secret:
[code]

* Setup NTP/S3 backup target
* Backup VM and check vmbackup can go into Ready state
* Try to restore vmbackup to new vm and check the vm can go into Running state.

### VM Restore with retained policy

* Try to restore to existent VM with the

[2021-11-19 06:12] guangbochen commented on #1522
close as a duplicate of https://github.com/harvester/harvester/issues/1531

[2021-11-19 06:12] #1522 closed, assigned to nobody

[2021-11-19 08:22] weihanglo commented on #1537
The templates has been updated. This is ready for testing @noahgildersleeve. Thanks!

[2021-11-19 08:48] janeczku commented on #761
@guangbochen in our case we need support for custom host name based SSL certificates, not IP address SSL certificates.

[2021-11-19 08:59] yaocw2020 commented on #1557
Could you provide more details? Where is the DHCP request from? The NIC in the VM or else?

[2021-11-19 09:03] Jellyfrog commented on #1557
I updated my first post to make it a bit clearer. The virtual machine inside harvester requests dhcp over the vlan network

[2021-11-19 09:27] yaocw2020 commented on #1557
I check your configuration. Everything is normal. Try to catch the datagram through veth. The datagram should bring no vlan tag.
Also, execute `bridge vlan` to check the vlan configuration.

We should find the DHCP reply with vlan tag on harvester-br0 and without no vlan tag on veth connected with the VM pod.

[2021-11-19 10:24] lanfon72 opened #1564 "[BUG] VM's Edit YAML function work incorrectly"
### Describe the bug
VM will broke when user do `Edit YAML` inside `Edit Config`, as the attached screen record shown, **Edit YAML** loads different content in **Edit Config** view.

### To Reproduce
Steps to reproduce the behavior:
1. Install harvester with any nodes
2. Create image for VM creation
3. Create VM with any resource
4. click _Edit YAML_ in list view, edit `spec.

### Expected behavio

[2021-11-19 10:25] lanfon72 opened #1565 "[FEATURE] maximum CPU in VM creation"
### The problem
The form view of VM creation restrict user to assign maximum **100** vCPUs for it, but as cpu over-commit implemented (in #1429), it is easy to hit 100 vCPUs for powerful VM creation.
![image](https://user-images.githubusercontent.com/5169694/142598844-735ded11-d58f-4074-b152-f9a9b7850457.png)

### The solution
remove or extend the maximum of vCPUs in the VM creation

[2021-11-19 10:36] lanfon72 commented on #1429
Verified CPU over-commit works as expected, and related bugs described in https://github.com/harvester/harvester/issues/1429#issuecomment-966072587 also fixed.

Test Information
----
* Environment: **Bare metal DL360** 3 nodes
* Harvester Version: ** master-45e25939-head**
* **ui-source** Option: **External**
* **overcommit-config** Setting:
[code]

### Verification
bugs described in https://githu

[2021-11-19 10:36] #1429 closed, assigned to lanfon72, weihanglo, WuJun2016

[2021-11-19 10:46] lanfon72 commented on #1537
Verified this has been fixed following #1429

Test Information
----
* Environment: **Bare metal DL360** 3 nodes
* Harvester Version: ** master-45e25939-head**
* **ui-source** Option: **External**
* **overcommit-config** Setting:
[code]

### Verify Steps:
1. Install harvester with any nodes
2. Create Image for VM creation
3. Create VM with 1vCPU and 2Gi memory
4. list view will display the VM with

[2021-11-19 10:46] #1537 closed, assigned to lanfon72, weihanglo

[2021-11-19 12:26] w13915984028 commented on #1051
With "Use the default value" button, and the coming commit, we can set the backup target to initial value, the error message will disappear.
Sure, it also needs a fix regarding #1555, it will be committed together.

[2021-11-19 14:42] ikus060 opened #1568 "[Question] After installation get stuck with "Setting up harvester""
Hello,

I'm in process of evaluating Harvester. I've install harvester v0.3.0 in a Proxmox VM with Nested virtualisation enabled.

On console, I get stuck with "Setting up harvester". I'm not sure if that normal and how to go further with the installation.

![image](https://user-images.githubusercontent.com/921251/142641003-dc48b3b5-d9d0-42f6-b68c-66c159c9a6ad.png)

Then latter on ...

![image](ht

[2021-11-19 15:25] bk201 commented on #1568
Hi, could you log in to the node as root and capture these command outputs?
[code]
It might help.

[2021-11-19 15:44] Jellyfrog commented on #1557
@yaocw2020

`Harvester01` = Harvester node
`alpine` = Guest VM
`1e:0c:14:63:77:83` = Guest MAC
`10.10.104.10` = DHCP server IP

[code]

Sending 1 dhcp request like this from the guest vm:  `udhcpc -t1 -n -i eth1`

**DHCP SERVER:**
[code]

**Harvester bridge network:**
[code]

**veth VM POD:**
[code]

So my conclusion from this is:
2. DHCP Server sees the request
3. Harvester can see the request/re

[2021-11-19 16:23] Jellyfrog commented on #1557
Manually assigning it an ip and try to ping the dhcp server results in same behavior, the packets are dropped:

[code]

[code]

[2021-11-19 16:31] simonflood commented on #1467
Yes you can use the Network Data config to set static IP - there's a working example in https://community.suse.com/posts/how-to-manage-harvester-030-with-rancher-261-running-in-a-vm-within-harvester which I posted on the SUSE Community site.

[2021-11-19 16:43] simonflood opened #1569 "[FEATURE] Check required disk size when creating VMs from cloud images"
**Is your feature request related to a problem? Please describe.**
With Harvester it's possible to use a cloud image to create a VM (as opposed to attaching an ISO an installing OS from scratch). Depending on the cloud image used sometimes this can fail with seemingly random and/or unclear errors displayed on the Web Console after boot.

Further investigation shows that some cloud images are built

[2021-11-19 21:34] Jellyfrog commented on #1557
After hours it suddenly just started working:

[code]

Didn't have a capture on the harvester-br0 interface, but its been seeing all ARP responses, and now out of the blue it forwards it. Feels like something inside harvester triggered this.

EDIT: Rebooted harvester and now it's *not* working again

[2021-11-20 16:45] yshashix commented on #1467
Thanks @simonflood

[2021-11-21 08:24] guangbochen commented on #1330
**To Test:** (and please sync to close https://github.com/rancher/dashboard/issues/4531 if passes)
1. Spin up the Rancher v2.6.3-rc1 and In Rancher UI, we show the instructions for importing Harvester using Harvester UI.
![image](https://user-images.githubusercontent.com/5697937/139803392-03c644a2-ffb9-4d29-88a4-6bc2abddcb07.png)

2. In Harvester settings, add a `cluster-registration-url` settings

[2021-11-21 10:43] TachunLin commented on #1218
Verified the issue `partial fixed` on harvester master-f5bde7fa-head since it did not pass all the scenarios
Move to implement pipeline for the check.

### Result
The new http proxy harvester setting, pass the following scenario

- [x]  Create image from remote URL
![image](https://user-images.githubusercontent.com/29251855/142584644-c7321df5-798d-4a76-843f-33810bd2d759.png)

- [x]  Pull image fro

[2021-11-21 11:49] TachunLin commented on #1455
Verified **not fixed** on `master-d577bb6c-head`. with harvester node driver `v0.3.4`
The first scenario and the second both failed in `Failing bootstrap machines`
Please refer to the test result. Move it back to implement pipeline

### Result
For the **first** scenario of resource quota configured on project side only (not in namespace),
Provision harvester RKE2 node driver by configuring 2GB of

[2021-11-21 12:12] TachunLin commented on #1380
@guangbochen
I think from user's perspective, if they encounter this message they can't just take a look and quickly understand what's going on or what to do next.

@n313893254, @gitlawr
If this case did coming from the limitation of unsupported format or file size not fit size of multiple of 512 bytes in longhorn.
Can we enhance the error message with clear notification to user and provide some s

[2021-11-21 13:28] futuretea commented on #1455
The resourcequotas created from Harvester's UI don't match the actual units on the page.
![image](https://user-images.githubusercontent.com/15064560/142763651-a3ac7d4b-d485-43b8-815c-a52150ef9531.png)
![image](https://user-images.githubusercontent.com/15064560/142763711-a6c70643-fe33-4964-8cea-b472e946ec5c.png)
@WuJun2016

[2021-11-21 16:15] n313893254 commented on #1380
How about adding a size validation for image upload from the UI side?

[2021-11-22 02:47] WuJun2016 commented on #1455
Fixed in rancher: https://github.com/rancher/dashboard/issues/4417

[2021-11-22 03:27] gitlawr commented on #1380
It tells that the provided image is invalid. I think a size validation won't help. The dmg file is not supported. qcow2 image should be supported, how did you get the test qcow2 file? @TachunLin

[2021-11-22 03:27] futuretea commented on #1455
@TachunLin you can try to use [rancher v2.6.3-rc1](https://github.com/rancher/rancher/releases/tag/v2.6.3-rc1)

[2021-11-22 03:51] guangbochen commented on #1306
**To Test:** (and should be synced to https://github.com/rancher/rancher/issues/34946)
- spin up the rancher-v2.6.3-rc1, bump the node-driver manually via `Drivers -> Node Drivers -> Edit Harvester Node Driver`
   - Edit the down URL and replace the version with `v0.3.4` and remove the `checksum`
- provision some cluster(s) (rke1/rke2) via the harvester node driver
- deleting one of the clusters a

[2021-11-22 03:54] yaocw2020 opened #1570 "[FEATURE] Add PSP support for Harvester cloud provider and csi driver"
Add PSP support for Harvester cloud provider and csi driver.

Reference: https://github.com/rancher/charts/blob/release-v2.6/charts/longhorn/longhorn/100.0.0%2Bup1.1.2/templates/psp.yaml

[2021-11-22 03:56] guangbochen commented on #1389
**To Test** (and should close https://github.com/rancher/rancher/issues/35398 if passes)
- Create a 3-node RKE2 cluster on Harvester through node driver with Rancher v2.6.3-rc1
- Wait for the nodes to create.
- Since the resource is not enough, a node can't be scheduled successfully. Wait for the provisioning failed.
- Delete the provisioning failed node.
- Machine CR should be removed successfull

[2021-11-22 04:00] guangbochen commented on #1494
**To Test:**
- Provisioning the RKE2 cluster on Harvester with Rancher `v2.6.3-rc1`.
- Use the JeOS `SLES15-SP3-JeOS.x86_64-15.3-OpenStack-Cloud-GM.qcow2` image
- Add user data to install needed packages:
[code]
- all nodes and the cluster should be up and running successfully.

[2021-11-22 04:44] WuJun2016 opened #1571 "[BUG] virtualization management page crash"
**Describe the bug**

In a multi-cluster environment：

- Click on the virtualization management menu.

- The page reports an error

![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/1a46a3fb-b51c-4ced-b970-5b7541dca486)

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**

Show harvester clusters that have been imported

**Support bundle**

**Environme

[2021-11-22 05:33] TachunLin commented on #1380
Hi @gitlawr
The qcow2 file downloaded from the CentOS image site url (253MB)
https://cloud.centos.org/altarch/7/images/CentOS-7-x86_64-GenericCloud-1602.qcow2.xz

Then rename and remove the .xz file extension to make it .qcow2

The test chrome dmg file, it's directly downloaded from Google official site, I save a copy to  [googlechrome.dmg](https://mysuse-my.sharepoint.com/:u:/g/personal/david_lin

[2021-11-22 06:14] gitlawr commented on #1380
Compressed files are not supported. For this case, users should provide a supported image file.

[2021-11-22 07:55] TachunLin commented on #1465
Verified **fixed** on `Rancher v2.6.3-rc1` with builtin node driver
Pass the following test scenario. Close this issue and [rancher/rancher#34886](https://github.com/rancher/rancher/issues/34886) accordingly.

Test in Rancher v2.6.3-rc1 under airgapped environment

- [x] Harvester feature flag will be enabled by default and turned on harvester node driver accordingly

- [x] If the feature flag was

[2021-11-22 07:55] #1465 closed, assigned to TachunLin

[2021-11-22 08:11] lanfon72 commented on #1431
verified it works on PXE server with self-signed SSL certificate (IP-based).

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: N/A
* **ui-source** Option: not applicable

[2021-11-22 08:11] #1431 closed, assigned to bk201, lanfon72

[2021-11-22 08:31] FrankYang0529 commented on #1494
RKE2 cluster can be created with Rancher `v2.6.3-rc1` and JeOS `SLES15-SP3-JeOS.x86_64-15.3-OpenStack-Cloud-GM.qcow2`.

![Screen Shot 2021-11-22 at 4 26 44 PM](https://user-images.githubusercontent.com/4927361/142828161-83030c44-97b4-433b-bf87-64e47059d1d1.png)
![Screen Shot 2021-11-22 at 4 29 37 PM](https://user-images.githubusercontent.com/4927361/142828190-b505b77d-2501-449b-968c-ca4191e1fdd3.p

[2021-11-22 08:31] #1494 closed, assigned to FrankYang0529

[2021-11-22 08:48] w13915984028 commented on #1562
Planed solution is:

check the endpoint, if it is not empty and not contains "amazonaws.com", assume it is NONE s3, then call ListBuckets,
in other cases, call HeadBucket

It is verified locally.

[code]

[2021-11-22 08:58] w13915984028 commented on #1562
s3 url format (endpoint):
https://docs.aws.amazon.com/AmazonS3/latest/userguide/VirtualHosting.html
https://stackoverflow.com/questions/47755043/what-is-difference-between-aws-s3-virtual-hosted-style-url-v-s-path-style-url

[code]

for minio (s3 replacement): the endpoint is required, like
[code]

[2021-11-22 09:07] FrankYang0529 commented on #1389
Following the above steps, I still can't delete `Machine` CR.

* If trying to remove provisioning failed nodes, `HarvesterMachine`, `Job`, and `VirtualMachine` are removed, but they will be created again after a while. Also, `Machine` CR will be back to provisioning state again.
* If trying to remove the whole cluster, all nodes including the provisioning failed node can be deleted.
* If trying to

[2021-11-22 09:43] w13915984028 commented on #1562
Local test: set the backup target as s3, or s3 replacement minio.

Please notice: when error, the return messages have difference between them.

[code]

[2021-11-22 09:52] WuJun2016 opened #1574 "[BUG] Multi-cluster projectNamespace details page error"
**Describe the bug**

1. Page Crash
![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/99928fef-8a36-4475-89c5-304d9dec96ed)

2.  Empty project without namespace shows error

https://user-images.githubusercontent.com/24985926/142840075-7a5a4a3d-038a-40c0-99b5-40903bbc39cc.mov

**To Reproduce**
Steps to reproduce the behavior:

- Case 1:
  - Multi-cluster environments
  - cl

[2021-11-22 11:02] TachunLin commented on #1306
Verified `fixed` on master-d577bb6c-head with rancher v2.6.3-rc1 (node driver v.0.3.4)
Delete the RKE2 cluster while in provisioning and after it already deployed in active state.
Both the cluster and all VMs will be removed on rancher and harvester dashboard

### Result
Delete 3 nodes RKE2 cluster while provisioning
![image](https://user-images.githubusercontent.com/29251855/142847357-e66839d7-4e

[2021-11-22 11:10] FrankYang0529 commented on #1389
After discussing with @guangbochen, we think the behavior is expected. `MachineDeployment` CR is like a `Deployment` CR for `Machine`. When we fail to provision a node and delete it, `MachineDeployment` will do its best effort to make sure the count of running `Machine` is equal to `MachineDeployment.spec.replica`. So we can see `HarvesterMachine` will be created again.

* If we want to totally re

[2021-11-22 11:10] #1389 closed, assigned to FrankYang0529

[2021-11-22 11:55] lanfon72 commented on #1260
### Verify items
- [x] image download with self-signed additional-ca (IP-based)
- [x] VM backup with self-signed additional-ca (IP-based)
    - [x] ~~blocked by #1562~~
- [ ] ~~image download with self-signed additional-ca (domain-based)~~  won't test due to it actually same as IP-based
- [ ] ~~VM backup with self-signed additional-ca (domain-based)~~  won't test due to it actually same as IP-base

[2021-11-22 12:17] TachunLin commented on #1348
Verified `not fixed` on master-d577bb6c-head with rancher v2.6.3-rc1 (node driver v.0.3.4)
Change this issue to implement stage.

### Result
With cluster owner userB login and edit RKE2 cluster config,
The cloud credential can't be shared and loaded correctly while login with another userB
It shows error messgge: `secrets "cc-9zkzk" is forbidden: User "u-7kxkd" cannot get resource "secrets" in API

[2021-11-22 12:27] #1306 closed, assigned to guangbochen, TachunLin

[2021-11-22 14:19] TachunLin commented on #1519
Verified **fixed** on master-d577bb6c-head with rancher v2.6.3-rc1 (node driver v.0.3.4).
Close this issue.

Confirmed can provision 3 nodes RKE1 cluster on harvester under the following circumstance:

1. Harvester node need to be installed within the same subnet with rancher
2. Allocate enough cpu and memory to harvester node

![image](https://user-images.githubusercontent.com/29251855/142876571-

[2021-11-22 14:19] #1519 closed, assigned to TachunLin

[2021-11-22 15:25] TachunLin commented on #1380
For the compressed file we need to have a clear message to notify user it's not a supported file format.

Regarding to the error message response from longhorn, after discussed with longhorn team member
`.dmg` file also not supported on longhorn UI and response with the same error message
![image](https://user-images.githubusercontent.com/29251855/142888231-4771f306-9fae-4dd8-a3de-42dfa0131343.png

[2021-11-22 16:17] janeczku opened #1577 "[FEATURE] Option to disable load balancer feature in cloud provider"
**Use case:**

We want to use a custom load balancer integration and need to prevent the harvester cloud provider to take ownership of service type load balancer resources (we still want to use use harvester storage class).

**Expected Behaviour:**

There is  a parameter to disable the load balancer feature of the harvester cloud provider during cluster provisioning

[2021-11-22 17:00] yasker commented on #1577
@janeczku We need some discussion around this:
1. Can you share more details regarding the custom load balancer implementation? And is it general enough to contribute to the upstream Harvester?
2. What's the problem with the existing load balancer mechanism?

[2021-11-22 17:01] yasker commented on #1577
Set milestone to v1.1.0 to start the discussion.

[2021-11-22 17:51] janeczku opened #1578 "[FEATURE] RKE2 Cluster Template should be populated with Harvester infrastructure information"
Tracking upstream enhancement rancher/dashboard#5169

[2021-11-22 18:01] yasker commented on #1577
Talked with @janeczku on this.

@guangbochen @yaocw2020 Is it possible for us to add this disable option to Harvester v1.0? Not sure how much effort it will take.

[2021-11-23 01:10] johnliu55tw commented on #1416
For anyone testing this feature, please check https://github.com/harvester/harvester-installer/pull/167.

[2021-11-23 01:11] johnliu55tw commented on #1241
For anyone testing this feature, please check https://github.com/harvester/harvester/pull/1532

[2021-11-23 01:12] johnliu55tw commented on #1316
For anyone testing this feature, please check https://github.com/harvester/harvester-installer/pull/160

[2021-11-23 04:26] guangbochen commented on #1577
You should already be able to do so via config the cloud provider option to `None`.
![image](https://user-images.githubusercontent.com/4569037/142971322-f34a9c6d-095e-4dcc-9981-103bee4453ff.png)

[2021-11-23 05:30] TachunLin commented on #1330
@gitlawr , @n313893254
Verified **not fixed** on master-81141c98-head with latest rancher `v2.6-head`. Move it to implement pipeline.
Please check whether the feature and UI have merged to the latest master release.

On Rancher v2.6-head, we can see the instructions for importing Harvester under registration tab
![image](https://user-images.githubusercontent.com/29251855/142975079-33aa0e90-1936-43

[2021-11-23 05:32] n313893254 commented on #1330
@TachunLin  My bad. As the PR is merged by rancher/dashboard, we should validate `cluster-registration-url ` after  harvester/dashboard rebase rancher/dashboard.

[2021-11-23 06:06] WuJun2016 commented on #1330
rebase, Done.

[2021-11-23 08:59] janeczku opened #1580 "[FEATURE] Load balancer service improvements"
-WIP-

Load balancer service for guest clusters should be improved to meet the following requirements:

1) All VIPs created for downstream clusters should not be attached to a single common Harvester node.
Instead, Individual VIPs should be able to attach to any available Harvester node in order to increase resiliency and not have the network resources of a single Harvester node become a bottlenec

[2021-11-23 11:39] TachunLin commented on #1330
Verified **fixed** on master-b7e562d3-head with Rancher v2.6.3-rc1 .Close this issue.

### Result
User can input registration url from rancher into harvester settings then import harvester in rancher dashboard

![image](https://user-images.githubusercontent.com/29251855/143016335-e042b5a6-747f-4273-99d1-ef7893d3d70a.png)

![image](https://user-images.githubusercontent.com/29251855/143016378-6cb739

[2021-11-23 11:39] #1330 closed, assigned to WuJun2016, TachunLin

[2021-11-23 11:55] yaocw2020 commented on #1580
The kube-vip supports BGP mode but we have not brought it into the Harvester.

[2021-11-23 12:29] janeczku commented on #1580
Layer-2 mode is acceptable as long as not all Layer-2 VIPs are configured on a single Harvester node. @yaocw2020

[2021-11-23 14:12] Jellyfrog commented on #1557
I left a ping on, and it's started working again out of the blue.
I rebooted harvester, and it went back to not working.
Then after a minute or so, it started to work this time.

Rebooted harvester again, and now it's not forwarding arp packets again.

veth on top, harvester-bridge on bottom, while pinging 10.10.104.1 from the guest vm inside harvester:
![image](https://user-images.githubuserconte

[2021-11-23 14:19] Jellyfrog commented on #1557
... And then, a little while later, it just starts working:

![image](https://user-images.githubusercontent.com/759887/143040789-21eb50bc-adc6-46ca-b287-48f3c72ee926.png)

Noticed from the guest VM it's exactly after 200 packets it starts to work, coincidence or not!
![image](https://user-images.githubusercontent.com/759887/143040835-8187382d-422c-43cd-bc5f-ea0c914c552f.png)

[2021-11-23 14:41] futuretea commented on #1455
@TachunLin If using rancher v2.6.3-rc1,  since harvester had been changed to build-in, we can only use kubectl （rancher local cluster）to update node driver to v0.3.4

[code]

- change spec.checksum to ""
- change spec.buildin to false
- change spec.url to "https://releases.rancher.com/harvester-node-driver/v0.3.4/docker-machine-driver-harvester-amd64.tar.gz"

![image](https://user-images.githubuse

[2021-11-23 15:17] TachunLin commented on #1455
Hi @futuretea , thanks for the confirmation and the instruction to update node driver to v0.3.4.

Before I knew you solution, I found a different way to update node driver to v0.3.4
By using `View in API` function, I am able to edit , update url, remove the built-in and save
![image](https://user-images.githubusercontent.com/29251855/143049017-44a78a05-7a92-45eb-9a84-815d49bf0d0e.png)

Today I tri

[2021-11-23 15:52] TachunLin commented on #1455
@futuretea, in this scenario, I create a brand new project and set resource quota to 6Gi in the beginning without edit it afterward.
I remember also tried changing from 4Gi to 6Gi, the actually quota still set to 4Gi on harvester VM event page.
I will try again and file issue if needed

[2021-11-23 16:10] w13915984028 commented on #1229
(1) There are 4 places where klog.Fatalf is called, but no panic
(2) There are also 2 places of os.Exit, should them also be panic? @yaocw2020

https://github.com/harvester/cloud-provider-harvester/blob/3f55818ed78b709912f2c3e1f449882171f6cc55/main.go

Call of klog.Fatalf, but no panic
[code]

Call of os.Exit
[code]

[2021-11-23 16:27] futuretea commented on #1561
My scenario is a little different, after power-off/on repeatly

vm will become running,
![image](https://user-images.githubusercontent.com/15064560/143063974-8c2d0026-428c-48d1-a0a2-80739161882a.png)
but in the guest cluster, many pods stuck in state `Unknown`
[code]

Environment:

Harvester ISO version: master-45e25939-head
Rancher version: 2.6.3-rc1
Underlying Infrastructure: one nodes harvester

[2021-11-23 16:36] futuretea commented on #1084
validated on master 45e2593
![image](https://user-images.githubusercontent.com/15064560/143065309-b2e88c51-7d79-42c8-bcbb-58c2baf700d3.png)

[2021-11-23 16:36] #1084 closed, assigned to nobody

[2021-11-23 17:00] futuretea commented on #841
@yasker  Just want to ensure that the cluster installed through Docker also works properly. Docker will change the default FORWARD policy to DROP, so we need to add these iptables rules to make sure the packet forward always works in harvester-br0.

[2021-11-23 17:12] TachunLin commented on #1377
Verified **fixed** on master-f5bde7fa-head with Rancher `v2.6-head`.Close this issue.

### Result
In harvester cluster member (RBAC) page, login user1 (owner) -> add user2 (member) -> add user1 (member) -> delete user1(member)  then navigate to other page in harvester then login RBAC again.

All the members are displayed in the cluster member page correctly without blank page.
![image](https://use

[2021-11-23 17:12] #1377 closed, assigned to n313893254, TachunLin

[2021-11-23 20:30] janeczku commented on #1046
This relates to the ability to configure TLS options for the Harvester API HTTPS endpoint via the `config-create`.

[2021-11-23 22:19] ensec-apollods opened #1581 "[BUG] No Management NIC selectable"
**Describe the bug**
It is not possible to select a Management NIC interface, there's no selection available, the field is just empty.

**To Reproduce**
Steps to reproduce the behavior:
Boot from ISO v0.3.0 on a Supermicro X8DTT Motherboard.

**Expected behavior**
Management NIC interfaces should be visible

**Environment:**
 - Harvester ISO version: v0.3.0
 - Underlying Infrastructure Baremetal w

[2021-11-24 01:26] guangbochen commented on #1581
use `tab` to open and `space` to select.

[2021-11-24 02:36] yaocw2020 commented on #1229
Our purpose is to stop the program, so both os.Exit() and panic would be fine. In some way, os.Exit() is more comprehensive.

Reference: https://stackoverflow.com/questions/28472922/when-to-use-os-exit-and-panic

[2021-11-24 03:26] lanfon72 commented on #1559
Verified it has been fixed.
![image](https://user-images.githubusercontent.com/5169694/143169254-cde7f933-52ad-4938-ab24-0d593b58a89a.png)

Test Information
----
* Environment: **qemu/KVM** single node
* Installer Version: **cdb4841**

### Verify Steps:
1. install harvetster
2. reboot to check grub menu

[2021-11-24 03:26] #1559 closed, assigned to lanfon72

[2021-11-24 03:45] lanfon72 opened #1582 "[BUG] Failed to start RKE2 server"
### Describe the bug
VM install with iPXE success, but starting rke2 fail as:
![image](https://user-images.githubusercontent.com/5169694/143169930-73a2ce25-500c-4342-bb6d-4410b870ebd8.png)

### To Reproduce
Steps to reproduce the behavior:
1. use ipxe-example to install harvester
2. use virt-manager to monitor session

### Expected behavior
rke2 start should success.

## Environment:
 - Harvester

[2021-11-24 03:51] guangbochen commented on #1582
seems the default route is not found, did u rebase to the latest ipxe changes with https://github.com/harvester/ipxe-examples/commit/f99de09c33f1d82ddf53ab4ce98a213fdbf48d21

[2021-11-24 03:59] lanfon72 commented on #1582
@guangbochen :thinking: i didn't pull the repo recently, do we change the default route policy in last few builds?
I will try the last commit (of ipxe-examples) again, if it is resolved, I will close this issue. :bow:

[2021-11-24 04:55] lanfon72 commented on #1582
tested on Provo's machines and updated ipxe-examples, cant reproduce it...
this should be false alarm. :bowing_man:

[2021-11-24 04:55] #1582 closed, assigned to nobody

[2021-11-24 05:14] TachunLin commented on #1348
The existing issue related to [rancher/rancher/#34800](https://github.com/rancher/rancher/issues/34800) is reproduced using VMWare vSphere.
To separate different behavior result, we create a new issue to tracking the harvester behavior at [rancher/rancher/#35651](https://github.com/rancher/rancher/issues/35651)

[2021-11-24 05:18] guangbochen commented on #1348
Move this one to the next milestone as this will require specific API changes on the Rancher side.

[2021-11-24 07:04] lanfon72 commented on #1565
verified this feature has been implemented.
![image](https://user-images.githubusercontent.com/5169694/143190501-1ba5dc2d-3a42-41a0-a4c4-fff866ee8017.png)

Test Information
----
* Environment: **Bare metal DL360** 2 nodes
* Harvester Version: **master-b7e562d3-head**
* **ui-source** Option: **Auto**
* **overcommit-config**:
[code]

### Verify Steps:
1. install harvester with any nodes
2. create im

[2021-11-24 07:04] #1565 closed, assigned to lanfon72, WuJun2016

[2021-11-24 07:22] johnliu55tw opened #1583 "[BUG] Installation failed: "Could find partition device path for partition 6""
**Describe the bug**
Installer reports fatal error during installation:
<img width="1050" alt="screen_shot_2021-11-23_at_10 31 23_am" src="https://user-images.githubusercontent.com/5047724/143192870-0244d415-0d8f-41df-8063-5fc289a360e8.png">

**To Reproduce**
Steps to reproduce the behavior:
Install Harvester with all default options. **This issue is easier to reproduce on bare-metals**.

**Expect

[2021-11-24 08:55] WuJun2016 commented on #1564
https://172.16.4.9/v1/schemas/kubevirt.io.v1.virtualmachine.spec.template.spec.domain.resources

![image](https://user-images.githubusercontent.com/24985926/143205115-703abf05-2a4d-4bcc-bf76-d153ff00ef61.png)

The type value here should not be "map[]", you should be able to get the correct format of this property by clicking on the type

[2021-11-24 09:41] n313893254 commented on #1551
When a user goes to the password setup page(the route is `auth/setup`). UI does not `applyProduct` before `loadSchema`

**Reproduce steps**
- Change "first-login" setting to `true` via API
- Refresh UI
- Login as before
- Navigate to Virtualization Management

**Verify steps**
- Install the latest Rancher
- Login
- Navigate to Virtualization Management

[2021-11-24 10:35] lanfon72 commented on #1416
### Verification
- [x] Host labels can be assigned during installation via config-create / config-join YAML.
- [x] Host labels can be managed post installation via the Harvester UI.
- [x] Host label information can be accessed in Rancher Virtualization Management UI.

Test Information
----
* Environment: **Bare metal DL360** 3 nodes
* Harvester Version: **master-b7e562d3-head**
* **ui-source** Opt

[2021-11-24 10:40] w13915984028 commented on #1229
@yaocw2020
Referring the link and code here:

The  first `os.Exit` seems should be replaced with  panic, the `"defer logs.FlushLogs()"` needs to be run before exit, otherwise, the last log may be lost,  the code plans to leave log and exit asap,  but os.Exit doesn`t give chance to logs.FlushLogs()

The second os.Exit seems should be removed, because it also shortcuts the deferred function executio

[2021-11-24 10:46] TachunLin commented on #1030
Verified **fixed** on master-f5bde7fa-head with Rancher v2.6-head. Close this issue.

### Result
A hover tips notification of `SSH user to login with the selected OS image` on

1. Create RKE1 cluster template page
![image](https://user-images.githubusercontent.com/29251855/143222572-716f632f-9f8d-4b31-850d-2cc25cfc65da.png)
2. Create RKE cluster page
![image](https://user-images.githubusercontent.

[2021-11-24 10:46] #1030 closed, assigned to n313893254, TachunLin

[2021-11-24 12:32] bk201 commented on #1583
Attach logs: [support.tar.gz](https://github.com/harvester/harvester/files/7595550/support.tar.gz)

`blkid` output
[code]
From the result, `/dev/sda6` is created eventually but yip can't find it: https://github.com/mudler/yip/blob/0422627fba31e9d2c51b6e9c421eb0142a6981e4/pkg/plugins/layout.go#L357

[2021-11-24 14:14] Itxaka commented on #1583
I have also hit that while adding test to the installer and testing the same path, i.e using force-gpt and a layout file.

Looks like the problem is that it sets the `PARTLABEL` but misses to set the `LABEL` so it cannot find it.

Maybe we are missing some sync(s) in there to have the disk table updated?

Hit: You can export the var `LOGLEVEL=debug` to see yip debug output which may show whats goi

[2021-11-24 14:17] Itxaka commented on #1583
oh, there is already a sync on `ReloadPartitionTable` so it should be updated :thinking:

[2021-11-24 16:04] w13915984028 commented on #1583
Just a doubt:  Seems the error message is lack of a ` not`
`    Could find partition device path for partition %d `
@Itxaka
[code]

[2021-11-24 16:59] sirredbeard commented on #1551
Is there a workaround I could apply now to get this working, @n313893254?

[2021-11-24 19:23] w13915984028 commented on #1583
Please check this possibility:

**In short: if the partition is not found after creation, try delay a few seconds and read again.**

The main process of creating a new partition : ` sgdisk`, `partprobe`, `lsblk`
https://github.com/mudler/yip/blob/master/pkg/plugins/layout.go
[code]

All of them are run in the same go routine, no delay.

For `partprobe`, it has a silent return when dev is not ready

[2021-11-24 20:18] Itxaka commented on #1583
@w13915984028 yup, that was also our main suspect, the silent return 0 if it can't be opened. A patch should follow up tomorrow probably to try to avoid this :)

[2021-11-25 00:49] n313893254 commented on #1551
@sirredbeard Refresh the UI can be a workaround，the issue only reproduce on user first login

[2021-11-25 04:28] #1416 closed, assigned to johnliu55tw, lanfon72

[2021-11-25 04:59] guangbochen opened #1585 "[BUG] Support Bundle failed to create due to timeout"
**Describe the bug**
Support Bundle failed to create due to timeout，but the file has generated successfully on the support bundle's pod after a period of time.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a support bundle via the support page
2. Wait for a period of time and get the wait timeout error
[code]

**Expected behavior**
- Increase the default timeout to 10 minutes as it

[2021-11-25 07:15] FrankYang0529 commented on #988
## Test plan

### Case 1 - Sync VMBackup Metadata back.

* Setup an NFS/S3 backup target.
* Create a VM `vm`.
* Modify a file like `tmp.txt` and input `123` in it.
* Create a VM Backup `backup1`.
* Modify a file like `tmp.txt` and change content to `456`.
* Create a VM Backup `backup2`.
  * Check associated VolumeSnapshot / VolumeSnapshotContent/ LH Backup exist.
  * Check `default-backup1.cfg` an

[2021-11-25 07:22] lanfon72 commented on #1405
verified config option works correctly.

Test Information
----
* Environment: **qemu/KVM** single node
* Harvester Version: **master-b7e562d3-head**

[2021-11-25 07:22] #1405 closed, assigned to johnliu55tw, lanfon72

[2021-11-25 09:29] TachunLin commented on #1428
@guangbochen
This issue can be reproduced with master-45e25939-head on 3 nodes harvester server.
Move to implement pipeline for further checking.

### Test result
Fully shutdown all 3 nodes server.
Then power on server machine in sequence from node 1 -> node 2 -> node 3 in between more than 20 seconds.
Only the node 1 is working and get the `Error while getting cluster status: timed out waiting fo

[2021-11-25 10:09] n313893254 commented on #1396
**Verify Steps**
- Install the latest Rancher
- Go to "Cluster Management" -> clusters, and click the "Create" button
- Switch "RKE1" and select Harvester driver
- Add a node template and select Harvester cloud provider
- Click "Create"

**Test Plan**
- Check the verify steps
- Check the option disabled when node template does not selected

[2021-11-25 14:01] w13915984028 commented on #1562
The new update below, makes s3 and minio both works. There issue here is gone.

https://github.com/harvester/harvester/pull/1447

[2021-11-25 14:01] #1562 closed, assigned to nobody

[2021-11-25 14:09] w13915984028 commented on #1051
After PR of #1447, the error message will be shown only once, will not be always there.

And, when the UI encounters error, the config will not be saved.  After refresh, you will still find the previous successful config or initial config.

But if you only want to clear the config / reset it back to initial, it is not possible now.

the "Use the default value" will be refused by webhook, the error

[2021-11-25 15:34] TachunLin commented on #1241
Verified **partial fixed** on master-b7e562d3-head.

Verify disk storage auto provisioning config under the following scenarios.
Only machine with BIOS firmware with MBR enabled can provision disk correctly according to pattern
The other two scenario can't provision disk correctly and have some error.

### Test Scenario:
(Checked means verification `PASS`)
1. - [x] `BIOS` firmware + `No MBR` (Defa

[2021-11-26 01:50] TachunLin commented on #1551
Verified **fixed** on rancher v2.6-head. Close this issue.

(Notice: in rancher v2.6.2 and v2.6.3-rc1 still have this issue)

### Result
In rancher `v2.6-head`, first time login and access virtualization management page `will not` display
serious error and cannot reload page as well.

![1455](https://user-images.githubusercontent.com/29251855/143514139-dab6c717-b092-4cb2-a0a7-88b1437928a0.gif)

##

[2021-11-26 01:50] #1551 closed, assigned to n313893254, TachunLin

[2021-11-26 02:27] johnliu55tw commented on #1241
@TachunLin The issue you saw with BIOS+GPT might be caused by this bug: https://github.com/harvester/harvester/issues/1382

[2021-11-26 02:34] n313893254 commented on #1450
Verify on the latest dashboard UI.
- [Fixed] RKE2 Cluster Explorer
- [Not Fixed] Harvester Virtualization Management
![image.png](https://images.zenhubusercontent.com/59db4297b0222d5de47ad632/e50c6783-b3ae-493c-8d39-6908244a2ff1)

And I found the progress bar of namespace detail page makes me confused. Compared with Rancher management UI (ember UI), seems that should be an issue?

[Namespace detai

[2021-11-26 03:41] guangbochen opened #1588 "[BUG] VM backup cause harvester pod to crash"
**Describe the bug**
VM backup cause harvester pod to crash after upgrade

**To Reproduce**
Steps to reproduce the behavior:
1. create a VM backup with v0.3.0 cluster
1. upgrade harvester from v0.3.0 to the master-head version
1. the harvester pod keeps crash

**Additional context**
[code]

[2021-11-26 04:06] gitlawr commented on #1561
I'm not able to reproduce. Can you provide rke2 logs?

[2021-11-26 04:13] guangbochen commented on #1561
This seems to need a 3 nodes cluster, also the issue https://github.com/harvester/harvester/issues/1428 may also seem to be related.

[2021-11-26 09:53] bk201 commented on #1521
For testing plan, please see the description of https://github.com/harvester/harvester-installer/pull/171

[2021-11-26 09:54] bk201 commented on #1342
The master build ISO has the kernel updated, which should address this issue.

[2021-11-26 10:34] TachunLin commented on #1396
After discussed, sine the charts have not been merged into [rancher/charts/pull/1595](https://github.com/rancher/charts/pull/1595)
We need to move it to implement and wait for it ready to verify.

@yaocw2020, can you also provide some instruction for how to verify the cloud provider is fully configured after provisioned the RKE1 cluster, thank you.

[2021-11-26 11:48] alexdepalex commented on #1363
We're running into this as well. And subsequently, for some reason, the nameservers we passed statically to the kernel through ipxe, are also not properly configured. Which results in the inability to resolve the download URL for the harvester config file.

[2021-11-26 16:54] lanfon72 commented on #1260
@gitlawr, @WuJun2016 this issue will put back to implement in the following reason:
- backup-target unable to use self-signed cert in the following error
![image](https://user-images.githubusercontent.com/5169694/143611796-898e29fd-c9e7-4daa-8ebf-98871fed1adc.png)

The added CA
![image](https://user-images.githubusercontent.com/5169694/143612169-6e922149-a221-40fe-8f65-463a57929451.png)

I tested

[2021-11-27 12:25] alexdepalex opened #1590 "[BUG] Harvester installer can't resolve hostnames"
**Describe the bug**

When installing Harvester through ipxe with a static network config, the nameservers are missing from `/etc/resolv.conf`, which causes the installer not being able to download the Harvester config URL or ISO.

**To Reproduce**
This does work in a different environment but not in the current one. The hardware is slightly different, in that it contains less memory and networkin

[2021-11-27 12:25] alexdepalex commented on #1590
[journalctl.txt](https://github.com/harvester/harvester/files/7611697/journalctl.txt)

[2021-11-27 12:52] janeczku commented on #1590
Could it be possible that DHCP is enabled on the other interfaces and so dhclient overwrites the /etc/resolv.conf?
See the behavior described here: https://github.com/coreos/fedora-coreos-tracker/issues/393#issuecomment-587119013

If this is the case one could possibly adding “ip=none” to disable DHCP in dracut.

[2021-11-27 13:21] alexdepalex commented on #1590
That was my first idea as well, but it's disabled on that subnet. The interface did get an IPv6 address through SLAAC, but I've disabled ipv6 by setting `ipv6.disable=1`. Unless loading of the live root enables it in some way.

[2021-11-28 01:15] rrrai commented on #761
Hello @guangbochen Yes domain support should be sufficient.

[2021-11-28 17:23] bk201 commented on #1590
We only carry non-bonding interface config (DHCP only) from initrd stage to OS wicked: https://github.com/harvester/harvester-installer/blob/cdb484109cff55ac7e4d0f6a03e3a08ffdb2ea56/package/harvester-os/files/system/oem/90_network.yaml#L13-L19
Static IP + bonding interfaces config was not tested before.

[2021-11-28 17:26] alexdepalex commented on #1590
The bonding interface is just a by-product of me trying to use different network configs to remediate the issue. It also manifest when using a single interface.

Besides the dns issue, the bonding interface works perfectly when using an ip instead of a hostnames.

[2021-11-28 17:28] alexdepalex commented on #1590
So setting a static ip through kernel parameters isn't supported? @janeczku

[2021-11-29 02:14] bk201 commented on #1583
@johnliu55tw I've re-triggered an OS build. https://drone-publish.rancher.io/harvester/os2/23/
Image `rancher/harvester-os:dev-head` should contain `yip` `0.9.24`.

[2021-11-29 02:54] guangbochen commented on #1472
should be addressed via bump LH to `v1.2.3-rc1`, and please help to validate according to https://github.com/longhorn/longhorn/issues/3061#issue-1005273858.

[2021-11-29 02:56] guangbochen commented on #1334
should be addressed via https://github.com/longhorn/longhorn/issues/3257 with LH bump to `v1.2.3-rc1`, can we please help to revalidate it, thanks.

[2021-11-29 02:59] guangbochen commented on #1086
should be addressed via https://github.com/longhorn/longhorn/issues/3210 with LH bump to `v1.2.3-rc1`, can we please help to validate it, thanks:

**To Test:**
- create a VM `A`.
- create a VM backup of it.
- restore a new VM of the created backup.
- migrate the VM to another node twice, originally the second one will be failed due to https://github.com/harvester/harvester/issues/1086#issuecomment

[2021-11-29 03:03] guangbochen commented on #1263
should be resolved by https://github.com/longhorn/longhorn/issues/3315 of bumping the LH to `v1.2.3-rc1`, can we please help to re-validate it thanks.

**To Test:**
- After rebooting all Harvester nodes concurrently, all VMs should be restored correctly.
- Inspecting the state of the corresponding image backing volumes in LH, the volumes originally are infinitely stuck in detaching state with all

[2021-11-29 03:33] TachunLin commented on #1541
Verified **fixed** on master-02e88c00-head and the latest [ipxe-examples/pull/32](https://github.com/harvester/ipxe-examples/pull/32)

### Result
Enable virtual network with `bond0` will not make harvester service out of work.
![image](https://user-images.githubusercontent.com/29251855/143804059-f8fc0bee-b42a-4daa-b0bb-438b64b75db2.png)

Host can set to `bond` accordinly
![image](https://user-imag

[2021-11-29 03:33] #1541 closed, assigned to gitlawr, TachunLin

[2021-11-29 05:08] johnliu55tw commented on #1382
We could use Partition Type GUID `21686148-6449-6E6F-744E-656564454649` to let NDM ignore `bios_grub` partition. In addition to partitions, we also need to ignore **disks that contain such partition** so that Harvester's own disk won't be added as a BlockDevice by NDM.

See https://en.wikipedia.org/wiki/BIOS_boot_partition for more detail about Partition Type GUID.

[2021-11-29 05:58] FrankYang0529 commented on #1588
## Test Plan

* Create a VM Backup with v0.3.0 cluster
* Upgrade VM Backup CRD. Add `longhornBackupName` to `volumeBackups`. Add `secretBackups` and `backupTarget` to `status`.
  * https://github.com/harvester/harvester/pull/1447/commits/cb02453bf9aefdb06313438f09376a7e50c52569#diff-91562ef2708a3a87b91f4fc1ccefc8c95954eb8ca2949f1b76e5f16cc40273ce
  * https://github.com/harvester/harvester/pull/148

[2021-11-29 06:47] TachunLin commented on #1241
Check the GPT table on extra disk /dev/sda, /dev/sdb again and reproduce again.
The `UEFI + GPT` can auto provision disks on both create and join mode correct

* Disk usage information:
  1. `/dev/sdb`: Used for harvester installation (150GB IDE)
  2.  `/dev/sda`: Additional disk for auto provision (50GB SATA)
  3. `/dev/sdb`: Additional disk for auto provision (30GB SCSI)

On `Create` harvester n

[2021-11-29 06:57] guangbochen commented on #1360
reopen due to `vm-force-deletion-policy` is not configurable via the UI settings.

[2021-11-29 07:18] johnliu55tw commented on #1046
Waiting for https://github.com/harvester/harvester/issues/761 so that we could configure TLS settings of Ingress, not rancher itself.

[2021-11-29 07:57] johnliu55tw commented on #1583
I will test installing Harvester with the latest `yip` to see if this issue still occurred frequently.

[2021-11-29 08:12] guangbochen commented on #1398
The current workaround is to either run `rke2-killall.sh` on the node after deleting it from the cluster or shut down the node entirely. And pending on the https://github.com/rancher/rke2/issues/1959 fix.

[2021-11-29 08:16] lanfon72 commented on #1304
Verified those functions work correctly.

Test Information
----
* Environment: **qemu/KVM** 2 nodes
* Harvester Version: **master-7a54d362-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Click **Create**
2. fill in required data
3. Click **Edit as YAML**
4. Click **Create**

### Verification
- [x] Virtual Machine: Create Failed
    1. attributes not propagate to YAML in spec.domain:

[2021-11-29 08:24] lanfon72 commented on #1304
@guangbochen Create Image via **Upload File** not work with **Edit as YAML**, should we add some error message to block user when creating, or just leave it work?
Currently, create image from YAML will failed after 1 min and error messages shows as:
![image](https://user-images.githubusercontent.com/5169694/143831705-d61db6a9-7ae5-4f39-9521-1a9d4d94e79e.png)

cc @WuJun2016

[2021-11-29 08:33] TachunLin commented on #1571
Verified **fixed** on `master-47ea94ee-head` with rancher `v2.6.3-rc2`. Close this issue.

### Result
Click `Virtualization Management` page in the beginning or after harvester imported can't show any page error

![image](https://user-images.githubusercontent.com/29251855/143833328-8e9e3009-22b2-4fed-a6e3-6116ca748a7b.png)

### Test Information
* Test Environment: 3 nodes harvester on local kvm ma

[2021-11-29 08:33] #1571 closed, assigned to WuJun2016, TachunLin

[2021-11-29 08:54] TachunLin commented on #1574
Verified **fixed** on `master-47ea94ee-head` with rancher `v2.6.3-rc2`. Close this issue.

### Result
1. Access harvester from rancher virtualization management page
   Click any namespace in the Projects/Namespace can display details correctly with no page error

Default namespace
![image](https://user-images.githubusercontent.com/29251855/143835124-6f81b902-e0b1-4cbd-8e1f-e818ee033fdb.png)

Cust

[2021-11-29 08:54] #1574 closed, assigned to WuJun2016, TachunLin

[2021-11-29 09:06] gitlawr commented on #1304
Leave it as it is.
it needs the following 2 APIs to do that: 1. create an image. 2. call the upload action
It timeouts out after 60 seconds if no upload action is invoked.
We cannot call actions via editing resource yaml so I would say it's by design.

[2021-11-29 09:06] WuJun2016 commented on #1304
I don't think uploading a file to create an image should support Edit as Yaml.

[2021-11-29 09:07] WuJun2016 commented on #1304
The front-end should hide Edit as Yaml when the user chooses to upload a file.   @lanfon72

[2021-11-29 09:12] lanfon72 commented on #1304
yeah, I don't think File API could be called outside DOM....
I'm thinking that should we hide the button or block creating when user input `sourceType: upload` ...

[2021-11-29 09:31] guangbochen commented on #1455
@TachunLin we should be able to validate it using the `master-head` version of the Rancher server, can u please re-validate it again, thanks.

[2021-11-29 10:32] TachunLin commented on #1454
Verified **fixed** on rancher `v2.6.3-rc2` and harvester `master-47ea94ee-head`. Close this issue.

### Result
Based on configured project resource limit and namespace default limit,
The memory limit of 256 Megabytes and memory reservation of 128 Megabytes can be configured and applied correctly.

![image](https://user-images.githubusercontent.com/29251855/143846876-41021ccf-86a3-40b5-81ca-1018004

[2021-11-29 10:32] #1454 closed, assigned to WuJun2016, TachunLin

[2021-11-29 12:21] weihanglo commented on #1531
After investigation, I didn't see any possible bug causing OOM killed. My impression is just the same as [what this answer said](https://stackoverflow.com/a/63549682): It's a normal memory insufficient when Prometheus scraping too much too frequently.

I'll propose to expose `resources.requests` and `resources.limits` on prometheus workload to Harvester setting, for giving user a chance to change

[2021-11-29 13:18] TachunLin commented on #1455
Verified **fixed** on Rancher `v2.6-head` (4375161) with harvester node driver `v0.3.4` (builtin). Close this issue.

### Result
The `1st scenario` can provision RKE2 cluster with VM successfully created and running with resource quota configured on project and default setting on namespace.  (No error)

![image](https://user-images.githubusercontent.com/29251855/143866315-223652fe-8b21-4293-a30a-d

[2021-11-29 13:18] #1455 closed, assigned to weihanglo, TachunLin

[2021-11-29 13:33] w13915984028 commented on #1555
After PR of #1447, this issue is gone.

[2021-11-29 13:33] #1555 closed, assigned to w13915984028

[2021-11-29 14:05] w13915984028 commented on #1051
@guangbochen  @FrankYang0529

To reset the backup target to the default value, we need to consider a few specifications:

1. If some vm backup has been configured, should "reset backup target" give the user information to confirm the action?

2. If a vm backup is right happening, what to do when "reset backup target"? e.g., prompt the user to try later, or delete the vm backup first

3. If backup

[2021-11-29 14:19] guangbochen commented on #1051
IMO I would prefer the following approaches, feel free to comment on it, thanks.
1. should be fine to continue the process and validate it via the webhook validations.
2. prefer to `reject and ask the user to either remove the pending VM backups first or try reset later`.
3. should be rejected as the current approach.
4. keep silent and do nothing.

[2021-11-29 14:36] janeczku commented on #1590
**Summary of issue:**

- Network configuration during the installation stage (harvester installer) is hardcoded to use DHCP mode ([see](https://github.com/harvester/harvester/issues/1590#:~:text=https%3A//github.com/harvester/harvester-installer/blob/cdb484109cff55ac7e4d0f6a03e3a08ffdb2ea56/package/harvester-os/files/system/oem/90_network.yaml%23L13-L19))
- Static Network configuration provided as

[2021-11-29 14:57] Itxaka commented on #1583
yip 0.9.25 has been released which hopefully fully resolves this! https://github.com/mudler/yip/releases/tag/0.9.25

[2021-11-29 14:59] guangbochen commented on #1583
thanks @Itxaka , just wondering how long does the `udevadm settle` command normally takes on the installer side? or it will be fast since the device is quite less?

[2021-11-29 15:06] Itxaka commented on #1583
if there is nothing in the udev queue it will be an instant return of 0
if there is something in the queue it will wait until those events are handled. In this case until partitions are refreshed probably. Shouldn't take long if there are events, I tested this about 700 times in an automated script and there was no appreciable difference against an un-patched version. The margin of udev events bei

[2021-11-29 15:56] lanfon72 commented on #1263
Verified, VMs will bring back successfully in the situation of all Harvester nodes rebooting concurrently.
Also tested this issue is reproducible in Longhorn _v1.2.2_ .

Test Information
----
* Environment: **qemu/KVM** 3 nodes
* Harvester Version: **master-7a54d362-head**
* **ui-source** Option: **Auto**
* Longhorn Version: **v1.2.3-rc1**

### Verify Steps:
1. Install Harvester with 3 nodes
2. Cr

[2021-11-29 15:56] #1263 closed, assigned to lanfon72

[2021-11-30 02:27] FrankYang0529 commented on #1051
IMO For the fourth question, probably we can follow the design in LH Backup. When users change backup target, we remove VM Backup CR which is not in the new backup target. Also, we create VM Backup CR which is not in Kubernetes but in the new backup target.

[2021-11-30 02:49] bk201 commented on #1585
I would suggest we revert the change: https://github.com/rancher/support-bundle-kit/pull/16#discussion_r702025213 to collect node bundles even some nodes don't push bundle ack in time.

[2021-11-30 03:00] guangbochen commented on #1585
as an enhancement, I think it makes sense, we can resolve it after the timeout bug.

[2021-11-30 06:08] johnliu55tw commented on #1241
@TachunLin BIOS+GPT issue should be fixed with the latest NDM. Please help retest this issue with the latest master ISO.

[2021-11-30 06:20] TachunLin commented on #1561
@gitlawr
Update the reproduce result on latest harvester master release `master-47ea94ee-head` with rancher `2.6-head`

### Result
On 3 nodes harvester server machines:
After fully shutdown, wait more than `15 minutes`, then power on all harvester node machines.
One of my harvester node always failed to launch (`node 3`)
![image](https://user-images.githubusercontent.com/29251855/143991670-81d2dc8

[2021-11-30 07:06] weihanglo commented on #1382
BIOS boot partition on GPT scheme now is excluded by default. This can be verified along with https://github.com/harvester/harvester/issues/1241

[2021-11-30 07:33] yaocw2020 commented on #1464
For testing:
Same as https://github.com/harvester/harvester/issues/1529.
The VM pod should be normal when disabling the VLAN network or switching the network interface for the VLAN network.

[2021-11-30 09:42] weihanglo commented on #1334
Confirmed that in Harvester, we can reschedule volumes between disk on the same node. The VM is still running after the volume reschedule.

![image](https://user-images.githubusercontent.com/14314532/144022011-95b619b5-9aa5-470f-9c82-af25e2a674e4.png)

Though, I won't see this issue resolved. Tell user to access Longhorn dashboard is not friendly. At this moment, the disk removal on Harvester dash

[2021-11-30 10:13] lanfon72 commented on #1497
Unable to remove the node which will stuck on deleting.
monitoring from API:
[code]
snapshot of dashboard:
![image](https://user-images.githubusercontent.com/5169694/144027480-32445aa8-1ac2-48e3-9cb9-52653c67adaf.png)

and the deleted node will not re-join to cluster after reboot.

Test Information
----
* Environment: **qemu/KVM** 3 nodes
* Harvester Version: **master-7a54d362-head**
* **ui-source

[2021-11-30 10:17] lanfon72 commented on #1304
verified the button `Edit as YAML` will not appear when creating Images from File.

Test Information
----
* Environment: **qemu/KVM** 3 nodes
* Harvester Version: **master-7a54d362-head**
* **ui-source** Option: **Auto**

[2021-11-30 10:17] #1304 closed, assigned to lanfon72, WuJun2016

[2021-11-30 10:20] TachunLin commented on #1382
Verified **fixed** on `master-f6bc010b-head`. Close this issue.

### Result
The BIOS boot partition can be excluded from harvester installation.
And can complete `BIOS+GPT(Default)+Auto Provisioning` correctly with all disk partition provisioned and mounted

GPT boot partition exclude and don't have label
[code]

No harvester disk (`/dev/sdb`) exists in blockdevice
[code]

### Test Information
* T

[2021-11-30 10:20] #1382 closed, assigned to weihanglo, TachunLin

[2021-11-30 10:22] weihanglo commented on #1497
@gitlawr

That looks like what I encountered in the first place. Node becomes `NotReady` before we remove our own finalizer. Any insight?

[2021-11-30 10:50] WuJun2016 commented on #1360
The latest UI has added "VM force deletion policy" setting. You can take the latest UI to test whether the function is available.   @FrankYang0529  @lanfon72

[2021-11-30 10:52] WuJun2016 commented on #1585
The latest UI has added `support-bundle-timeout` setting. You can take the latest UI to test whether the function is available,  thanks.   @FrankYang0529

[2021-11-30 10:59] guangbochen commented on #1497
if the `harvesterhci.io/delete-node` finalizer exists and the job's related pod is succeeded, can we just ignore and remove the node from the API directly?

[2021-11-30 11:05] weihanglo commented on #1497
No. Unfortunately the node became `NotReady` before the job scheduled

[2021-11-30 11:27] yaocw2020 commented on #1476
For testing:
- Enable VLAN network.
- Create a VLAN network getting route by `auto` mode or `manual` mode.
- Create a VM with only one network NIC in the VLAN network.
- Ping the VM from the host. It should be connectable.

[2021-11-30 11:34] w13915984028 commented on #1583
Another point:

It seems the failure is always related to "`HARV_LH_DEFAULT`" partition, does anyone encounter failure with other partitions? And this failure came after the new feature of multi partition was merged.

One difference is that the `HARV_LH_DEFAULT `partition configures size to be 0, I guess it means using all the remaining size on that disk, could it cause some hidden bugs? or try to

[2021-11-30 12:21] gitlawr commented on #1497
Nodes become not ready when kubelet is lost, can you check the reason?

[2021-11-30 12:41] weihanglo commented on #1241
Thank for @TachunLin found another issue: when joining a node into existing cluster, NDM might be deployed earlier than Longhorn, and then NDM starts to auto-provision disks but Longhorn node doesn't exist. Thus, NDM cannot find a valid Longhorn Node to provision it.

Will do the fix on NDM side. Thanks.

[2021-11-30 13:39] johnliu55tw commented on #1583
This issue is fixed with `yip-0.9.25`.

[2021-11-30 15:52] TachunLin commented on #1241
Verified the remaining test scenario on master-f6bc010b-head. `Did not pass` the final test scenario.

- [ ]  `BIOS` firmware + `No MBR` (Default) + `Auto disk provisioning` config

   - [x] `PASS` the auto disk provisioning on harvester `Create` node
   - [ ]  `FAILED` the auto disk provisioning on harvester `Join` node

The failed result may caused by the NDM issue as above comment. Suggest to m

[2021-11-30 16:40] w13915984028 opened #1597 "[BUG] Improve error return processing in node-disk-manager"
**Describe the bug**

From the following conversation, an enhancement is in plan to improve the error return processing.
https://github.com/harvester/node-disk-manager/pull/19

**To Reproduce**
Source code  itself skips returned error when getting information from OS,
when any of them are hit, then uncertainty may come and root cause is hidden.
pkg/block/block_device.go
pkg/block/block.go
...

**E

[2021-11-30 16:51] janeczku commented on #1458
The current implementation of Harvester's built-in load balancer feature requires editing a ConfigMap for setup and comes with a few other important limitations, including:

- Lacks **support for central management of VIP pools** via Rancher or Harvester API/UI
- Lacks **support for managing VIPs in different VLANs** (ConfigMap is not VLAN aware)
- Lacks **support for assigning multiple /32 VIP ad

[2021-11-30 16:56] janeczku commented on #1458
@guangbochen ^ for discussion

[2021-11-30 17:21] TachunLin commented on #1529
Verified **fixed** master-f6bc010b-head (11/30). Close this issue.

### Result
User can disable and enable network with default `harvester-mgmt`.
Harvester dashboard and network work as expected

### Test Information
* Test Environment: 3 nodes harvester on local kvm machines
* Harvester version: master-f6bc010b-head

### Verify Steps
1. Open settings and config vlan network
2. Enable network and

[2021-11-30 17:21] #1529 closed, assigned to yaocw2020, TachunLin

[2021-11-30 21:12] noahgildersleeve opened #1598 "[BUG] PXE installer fails for multiple nodes"
**Describe the bug**

When you run an install via PXE boot it fails
**To Reproduce**
Steps to reproduce the behavior:
1. Run the installer from the vagrant environment at https://github.com/harvester/ipxe-examples/tree/main/vagrant-pxe-harvester
2. Check the output
**Expected behavior**

The install should complete
**Support bundle**

[supportbundle_58e77be5-990a-4856-aafd-fe6845985a5f_2021-11-30T

[2021-12-01 00:10] noahgildersleeve commented on #1524
Tested in master-f510945f-head on 2 node virtual environment in KVM with one node down. support bundle downloaded successfullly. Closing
[supportbundle_365f6006-bfee-4eaa-a1d0-894b3d69a15a_2021-12-01T00-07-09Z.zip](https://github.com/harvester/harvester/files/7629650/supportbundle_365f6006-bfee-4eaa-a1d0-894b3d69a15a_2021-12-01T00-07-09Z.zip)
.

[2021-12-01 00:10] #1524 closed, assigned to weihanglo, noahgildersleeve

[2021-12-01 02:53] TachunLin opened #1599 "[BUG] Extra disk auto provision from installation may cause NDM can't find a valid longhorn node to provision"
**Describe the bug**

While testing disk auto provision feature for #1241

In `BIOS` firmware + `No MBR` (Default) + `Auto disk provisioning` config,
After the 2nd harvester node (Join mode) installation complete.
Extra disk `sda` and `sdc` both display error message on host disk page

![image](https://user-images.githubusercontent.com/29251855/144076347-be8c4ee0-2684-46be-b7a2-417580d0f4d4.png)

[2021-12-01 02:56] TachunLin commented on #1241
@johnliu55tw , @weihanglo
I create a new issue #1599 to manage and track above failure result.

[2021-12-01 03:56] gitlawr commented on #1598
Addressed in https://github.com/harvester/ipxe-examples/pull/37

[2021-12-01 04:49] guangyee commented on #1598
Why was port 30443 removed?

[2021-12-01 04:57] guangyee commented on #1598
We still have other monitoring scripts that are looking for port 30443. Can you please confirm that it is no longer supported and why as this is a backward incompatible change?

[2021-12-01 05:04] guangyee commented on #1598
https://github.com/harvester/harvester/pull/1584

[2021-12-01 05:05] gitlawr commented on #1598
We set up the ingress controller and Harvester service can be accessed via the 443 port

[2021-12-01 05:07] guangyee commented on #1598
Vagrant installation is working now.

[2021-12-01 05:07] #1598 closed, assigned to nobody

[2021-12-01 06:23] lanfon72 commented on #1260
@gitlawr function broken on non-SSL/SSL endpoint
![image](https://user-images.githubusercontent.com/5169694/144181945-f518c283-9b52-45fc-bb1f-117fa994f810.png)

![image](https://user-images.githubusercontent.com/5169694/144182673-1326c599-9f01-4ad4-89b9-0336793e6ea0.png)
request payload (formatted)
[code]

Test Information
----
* Environment: **qemu/KVM** 3 nodes
* Harvester Version: **master-1e04

[2021-12-01 06:30] gitlawr commented on #1260
@lanfon72 Can you provide support bundle or logs from harvester-webhook pods

[2021-12-01 06:33] lanfon72 commented on #1260
uploaded: [supportbundle_c2e87632-8554-4d16-8193-6ed15f5a8ac8_2021-12-01T06-31-37Z.zip](https://github.com/harvester/harvester/files/7631392/supportbundle_c2e87632-8554-4d16-8193-6ed15f5a8ac8_2021-12-01T06-31-37Z.zip)

[2021-12-01 06:53] lanfon72 commented on #1583
@johnliu55tw as we can't reproduce this on Provo's bare metals, would you please provide positive/negative test cases so that we can verify this bug is fixed.

[2021-12-01 06:54] w13915984028 commented on #1260
I also encountered this issue yesterday, backup target with the minio local server was not working, web-hook said `unexpected end of JSON input`, and was wondering there were problems with my ENV setting.

[2021-12-01 07:22] aiwantaozi opened #1602 "[BUG] exported image can't be deleted after vm removed"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. create a VM with 2 volumes
[code]
2. go to the volume page, and export those volumes as image

![image](https://user-images.githubusercontent.com/5936271/144188266-fed66ba1-ceb2-4f25-8c57-0f0a6da489df.png)

3. found those exported images bind to the same PVC as VM volumes
![image](https://user-images.githubusercontent.com/5

[2021-12-01 07:48] lanfon72 opened #1604 "[BUG] Non-active host still appear in migration list"
### Describe the bug
The Host which is under **In Progress** state, but still listed in the migration list.
User can select any VM which migrate to non-active host, but even the host is back, VM will not be migrate to that host but just stuck in migrating state.

### To Reproduce
Steps to reproduce the behavior:
1. Install harvester with at least 2 nodes
2. Create **a** VM on host **A**
3. Power o

[2021-12-01 08:19] lanfon72 commented on #1360
@WuJun2016, @guangbochen I think the force deletion policy is not working.

The settings
![image](https://user-images.githubusercontent.com/5169694/144194608-758bfb20-cef9-4bae-aabe-6b93efcbacae.png)
Hosts
![image](https://user-images.githubusercontent.com/5169694/144194662-ae8df7a1-588a-498a-8cf9-5d923eb39441.png)
VMs
![image](https://user-images.githubusercontent.com/5169694/144194703-c5f36152-c

[2021-12-01 08:24] johnliu55tw commented on #1583
@lanfon72 Please see the **Additional Context** in the description.

[2021-12-01 09:05] TachunLin commented on #1218
Verified the issue `fixed` on harvester master-1e042e04-head (12/01) . It pass all the test scenarios. Close this issue

### Result

- [x]  Create image from remote URL
![image](https://user-images.githubusercontent.com/29251855/144204032-ff117b28-4e1a-4c45-ac91-2df8a4ed3719.png)

- [x]  Pull image from internet and deploy nginx pod in running status

[code]

- [x]  Backup to external S3 storage
!

[2021-12-01 09:05] #1218 closed, assigned to gitlawr, WuJun2016, TachunLin

[2021-12-01 09:26] TachunLin commented on #1464
Verified **fixed** on master-1e042e04-head. Close this issue.

### Result
Switch the VLAN interface of this host can't affect Host and VM operation.
Both keep in `running` status.

![image](https://user-images.githubusercontent.com/29251855/144206164-092272aa-0488-40f4-bb3d-4a1aea5fdb5d.png)

![image](https://user-images.githubusercontent.com/29251855/144207427-79056433-94d6-4d2f-9680-5a55a9d80efe

[2021-12-01 09:26] #1464 closed, assigned to yaocw2020, TachunLin

[2021-12-01 09:36] lanfon72 commented on #1583
positive test: yip version `0.9.25`, verified 30 times, all succeed
negative test: yip version `0.9.18`, verified in 6th times

Test Information
----
* Environment: **qemu/KVM**, SCSI bus, 150Gb disk
* Harvester Version: **master-7a54d362-head**(positive test), **master-d05a6cc7-head**(negative test)

### Verify Steps:
follow the **Additional Context** in https://github.com/harvester/harvester/iss

[2021-12-01 09:36] #1583 closed, assigned to johnliu55tw, lanfon72

[2021-12-01 11:58] TachunLin commented on #1316
Verified **fixed** master-1e042e04-head (12/01). Close this issue.

### Result

Move longhorn storage to another partition passed the following test scenarios

|   | | Force MBR = Yes | Force MBR = No
-- | -- | -- | -- |
UEFI | Disk > MBR Limit | N/A* | Use GPT* `PASS`
| |Disk < MBR Limit | N/A* | Use GPT* `PASS`
BIOS | Disk > MBR Limit | ERR - Disk too large for MBR `PASS`  | Use GPT* `PASS`
| |D

[2021-12-01 11:58] #1316 closed, assigned to johnliu55tw, TachunLin

[2021-12-01 13:33] lanfon72 commented on #1086
verified this issue has been fixed.

Test Information
----
* Environment: **qemu/KVM** 2 nodes
* Harvester Version: **master-1e042e04-head**
* **ui-source** Option: **Auto**
* VM ISO: **opensuse-leap-15.3.x86_64-nocloud.qcow2**
* backup-target: **NFS on pxe_server**

### Verify Steps:
1. Install Harvester with at least 2 nodes
2. setup backup-target with NFS
3. Create image for VM creation
3. Crea

[2021-12-01 13:33] #1086 closed, assigned to guangbochen, lanfon72

[2021-12-01 19:13] alexdepalex opened #1608 "[BUG] NVMe drive can be added multiple times in host config in UI"
**Describe the bug**
When editing the host disk config, an NVMe drive can be added multiple times.

**To Reproduce**
- Go the a host configuration screen in the Harvester UI
- Add an NVMe drive
- Add the same NVMe drive

**Expected behavior**
When selecting a drive, it should be removed from the *Add Disk* drop down menu.

**Environment:**
 - Harvester ISO version: 1.0.0-rc1

**Additional context*

[2021-12-01 21:28] noahgildersleeve opened #1609 "[BUG] Creating VM with larger size than schedulable Longorn storage doesn't give error"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Check how much space is schedulable in Longhorn for cluster
2. Create a VM with a larger volume size than that.
3. Check event log
4. Check for detached volumes in Longhorn

**Expected behavior**

You should either get an error that there isn't enough space/schedulable space, or it shouldn't allow you to create it.
**Suppor

[2021-12-01 21:32] yasker commented on #1609
This looks like a regression due to the feature should be already implemented in https://github.com/harvester/harvester/issues/1167

[2021-12-02 04:19] guangbochen commented on #1046
The PR for #761 is merged, will need to add a new setting of the TLS support, @johnliu55tw can please help to follow it, thanks.

[2021-12-02 04:23] guangbochen commented on #1342
This will be resolved in the `v1.0.0` GA version, currently, it can be verified using the https://github.com/harvester/harvester/releases/tag/v1.0.0-rc1, please feel free to re-open it if u encounter this issue with any of the `1.0+` version, thanks,

[2021-12-02 04:23] #1342 closed, assigned to bk201

[2021-12-02 04:23] gitlawr commented on #761
For testing:
1. Generate self-signed TLS certificates(for example use openssl or https://www.selfsignedcertificate.com/). Find the ssl-certificates setting on the Harvester settings page. Edit the setting and upload certificate files. Verify the Harvester serving certificate is updated accordingly.
2. Verify users can update the certificate by changing the setting.
3. Verify users can revert to th

[2021-12-02 04:27] guangbochen commented on #1052
All known issues are resolved in the `v1.0.0-rc1` release, please help to move on with more air-gap env testings, thanks.

[2021-12-02 04:30] guangbochen commented on #1339
should be resolved in the latest `v1.0.0-rc1` release of supporting both s3 and s3 compatible servers like MiniO.

[2021-12-02 07:00] yaocw2020 opened #1611 "[BUG] InvalidImageName for network helper image"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Enable VLAN network
2. Create a VLAN network with route auto mode

**Expected behavior**

The pod for getting the route information from the DHCP server should be completed successfully.

**Environment:**
 - Harvester ISO version: 0.1.0-rc1
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630): Bare

[2021-12-02 07:00] FrankYang0529 commented on #1390
## Test plan

### Case 1 - No VLAN

* Set `vlan_id` as `0` or don't set it.
[code]
[code]
* Install Harvester.
* Check `harvester-mgmt` has IP `192.168.0.30` and there is no `vlan0@harvester-mgmt`.

### Case 2 - VLAN

* Set `vlan_id` as `1`.
[code]
* Install Harvester.
* Check `vlan1@harvester-mgmt` is existent and `vlan1@harvester-mgmt` has IP `192.168.0.30`.

[2021-12-02 07:09] weihanglo commented on #1334
To enhance the UX of disk removal and prevent accidental data loss, I propose adding new status `status.provisionPhase` on blockdevice CRD.

The new status indicates the provision phase of the device with a Longhorn node. It's an enum type with three variants:

- `Provisioned`: device is provisioned onto a Longhorn node as a disk. Longhorn replicas should be safe to schedule on it.
- `Unprovisioni

[2021-12-02 07:38] n313893254 commented on #1460
After discussing with @guangbochen. Due to cluster permissions, now to delete can only be manually filtered out according to the label `cloudprovider.harvesterhci.io/cluster` to delete. cc @yaocw2020

[2021-12-02 07:57] yaocw2020 commented on #1476
There is something wrong with `auto` mode.
Dependency issue:  https://github.com/harvester/harvester/issues/1611

[2021-12-02 08:22] guangbochen commented on #1225
The VGA firmware support is added in the [v1.0.0-rc1 release](https://github.com/harvester/harvester/releases/tag/v1.0.0-rc1), feel free to reopen it if u encounter this error again, thanks.

[2021-12-02 08:22] #1225 closed, assigned to bk201

[2021-12-02 08:23] lanfon72 opened #1612 "[BUG] Node's resource information mismatch to details view"
### Describe the bug
overall
![image](https://user-images.githubusercontent.com/5169694/144383147-226e5a2f-60ab-4aaf-8bc9-0d861a96caa6.png)
node-0 details
![image](https://user-images.githubusercontent.com/5169694/144383182-775ed1b4-8f99-4247-85ce-49a157a8a50c.png)
node-1 details
![image](https://user-images.githubusercontent.com/5169694/144383228-4578e509-00ee-4087-b181-dd150e6bb729.png)
node-2 d

[2021-12-02 08:25] lanfon72 commented on #1612
I remembered there were an issue about this (but I can't find it), and it had fixed in few weeks ago?

[2021-12-02 08:27] guangbochen commented on #1476
u may help to bump the chart so they can be verified with the `master-head` ISO

[2021-12-02 08:45] gitlawr opened #1613 "[BUG] VM memory shows NaN Gi"
It happens in the following cases:

case 1: Import Harvester to Rancher v2.6.2 and provision an RKE2 cluster using Harvester node driver.
case 2: Create a VM using the API:
[code]

**Environment:**
 - Harvester ISO version: v1.0.0-rc1

**Additional context**
UI gets the value from resource limit according to the change in https://github.com/harvester/harvester/issues/1429
For compatibility, we sho

[2021-12-02 08:52] alexdepalex opened #1614 "[BUG] In a 2 node cluster, rke2-server never starts on 2nd node"
**Describe the bug**
When creating a 2 node cluster, rke2-server doesn't start unless a 3rd node is added

**To Reproduce**
- Deploy 1 harvester node
- Add a 2nd node

**Expected behavior**
The 2nd node is successfully added to the cluster. Even though the control plane is only running on one node.

**Support bundle**

**Environment:**
 - Harvester ISO version:  1.0.0-rc1

**Additional context**
-

[2021-12-02 08:52] WuJun2016 commented on #1613
According to the previous discussion, the limit value should always exist regardless of the VM deployed in any way.  cc @guangbochen

[2021-12-02 08:56] guangbochen commented on #1613
Yes as it should be automatically filled by the mutation webhook, I'm wondering why it was missing with `kubectl apply`

[2021-12-02 08:59] gitlawr commented on #1614
It's by design. The second node joins as an agent node. It will be promoted to rke2-server when the 3rd node joins because it needs 3 nodes to form the HA cluster. Did the second node show up in Harvester UI?

[2021-12-02 09:02] alexdepalex commented on #1614
It did, but it was unschedulable.

[2021-12-02 09:17] gitlawr commented on #1614
Can you provide a support bundle or the logs of rke2-agent service?

[2021-12-02 09:25] guangbochen commented on #1343
close in favor of https://docs.harvesterhci.io/v0.3/troubleshooting/os/#how-to-debug-a-system-crash-or-hang

[2021-12-02 09:25] #1343 closed, assigned to bk201

[2021-12-02 09:51] guangbochen commented on #1608
https://gist.github.com/janeczku/a70f94912848e88a24b8df1d48eb7c33

[2021-12-02 09:51] w13915984028 commented on #1339
After merge of #1447, both s3 and minio are working correctly.

#1447 refactor the validation of backup target, it is forwarded and delegated to longhorn and returns unified error message.

[2021-12-02 09:52] lanfon72 commented on #988
@FrankYang0529 verified not work as expected.
Failed in case 1, switch back to original backup-target with those errors:
- Backups reload failed, there should have 2 backups
![image](https://user-images.githubusercontent.com/5169694/144395668-0419174a-c80b-4728-bba9-fa84dbc96084.png)
![image](https://user-images.githubusercontent.com/5169694/144396725-1e548439-8fd3-453f-9595-56aae45152e7.png)

- G

[2021-12-02 10:01] lanfon72 commented on #988
I tested on **master-1e042e04-head** (the last version before rc1) after verify #1086 yesterday, same behavior as errors above.
Backup-target works correctly, but the metadata probably had something missed.

[2021-12-02 10:05] alexdepalex commented on #1608
![Annotation 2021-12-02 110437](https://user-images.githubusercontent.com/713019/144400803-78f418ec-aa8f-49ec-92bd-a125899f1b7e.png)

Disks can be selected multiple times.

[2021-12-02 10:07] alexdepalex commented on #1608
![Annotation 2021-12-02 110438](https://user-images.githubusercontent.com/713019/144401013-0f4e35bd-4bb0-4d1c-814e-d1b9d3d75757.png)

Still, both the parent device *and* the already existing partition can be selected from the drop down.

[2021-12-02 10:07] FrankYang0529 commented on #988
@lanfon72 do you keep the environment? If yes, may you help me get the following content?  Thank you.

* Content in backup files `<namespace>-<name>.cfg`
* VolumeSnapshot resources: `kubectl get volumesnapshot -A`
* VolumeSnapshotContent resources: `kubectl get volumesnapshotcontent -A`
* LH Backup resources: `kubectl get backup -A`

[2021-12-02 10:12] alexdepalex commented on #1608
The devices mentioned in the ndm output also don't exist on the system.

[code]

[code]

[2021-12-02 10:14] guangbochen commented on #1458
- Lacks support for managing VIPs in different VLANs (ConfigMap is not VLAN aware) (need deal with cases like one namespace have multiple VLAN network configs)
- Traffic for different VIPs is not load balanced across multiple Harvester nodes, creating a bandwidth bottleneck and SoP. (ARP mode is more prefered)

[2021-12-02 10:28] janeczku commented on #1458
Regarding first point from [@guangbochen ](https://github.com/harvester/harvester/issues/1458#issuecomment-984485093)

If one namespace creates guest clusters using different VLANs then we need to make sure that the VIPs are assigned from the CIDR that matches the guest cluster VLAN.

[2021-12-02 10:31] maxiloEmmmm opened #1616 "[Question] Why hard coded storage implementations rather than scalable implementations like CRI?"
like this
[code]

[2021-12-02 10:54] yaocw2020 commented on #1424
For testing
- Enable VLAN and create the VLAN network with the route. Make sure there is a DHCP server in your environment and select auto mode.
- Create a guest cluster with the harvester node driver with the harvester cloud provider.
- Create a workload and loadBalancer service with DHCP mode in the guest cluster.
- Try to connect to the VIP allocated to the service on the Harvester host.

[2021-12-02 11:00] lanfon72 commented on #988
[cfgs.zip](https://github.com/harvester/harvester/files/7641310/cfgs.zip)
![image](https://user-images.githubusercontent.com/5169694/144409222-fda672f2-0993-42f5-b482-feaa3abcf476.png)

[2021-12-02 12:17] weihanglo commented on #1608
Hi @alexdepalex. Have some quetions about the environment. Thanks.

- Do we enable multipath or use dual port NVMe disks in that environment?
- Do we enable any software RAID in the environment?

[2021-12-02 12:21] alexdepalex commented on #1608
There's no multipathing or software raid. These are plain NVMe drives in a PCIe slot.

[code]

[code]

[2021-12-02 12:58] guangbochen opened #1617 "[BUG] Kubectl Error - Waited for ... due to client-side throttling, not priority and fairness, request:.."
**Environmental Info:**
Node(s) CPU architecture, OS, and Version: Dell PowerEdge XR11 (32Core, 128GB RAM, 2 x 1.5TB SSD)

Cluster Configuration: I was able to install only first node and Kubectl was showing those errors

**Describe the bug:**

UI is not responsive and kubectl gets error messages
 see Error messages examples:
![image](https://user-images.githubusercontent.com/51060150/141523629-3a

[2021-12-02 13:15] David-VTUK opened #1618 "[FEATURE] Ability to add non VLAN tagged networks"
**Is your feature request related to a problem? Please describe.**
Currently, when specifying a network in Harvester, a VLAN ID must be provided:
![image](https://user-images.githubusercontent.com/5892615/144427906-26de30c8-6a02-4a9a-9206-2dc1a23ce18f.png)

This is not always applicable to all environments.

**Describe the solution you'd like**
Like with other Hypervisors, (ESXi, Hyper-V, etc) spe

[2021-12-02 13:29] guangbochen commented on #1618
we may leverage the https://www.cni.dev/plugins/v0.7/main/bridge/ CNI as an option through the Multus NAD config, but will need some investigation on it.

[2021-12-02 13:39] guangbochen commented on #1369
This is ready for testing using the dev-2.6 KDM release with rke2 `v1.21.7-rc3+rke2r1` or above.
![image](https://user-images.githubusercontent.com/4569037/144432286-63eb97b3-536c-49c3-8b5b-6902fc6befee.png)
- spin up a Rancher server and importing the Harvester cluster
- change the `rke-metadata-config` on the Rancher server with `dev-v2.6`
- Provision RKE2 cluster using Harvester node driver and

[2021-12-02 13:55] w13915984028 commented on #1051
@FrankYang0529 @guangbochen

Suppose the backup target setting changes as:   initial-> S3 -> NFS...,  if we only call h.updateBackupTargetSecret when S3, then it means in the NFS backup, the previous S3 secret is till remaining there.

It looks we need to update all information of backup target setting whenever changes happens (initial -> s3/nfs -> nfs/s3 -> init -> any...)

[code]

[code]

[2021-12-02 14:13] TachunLin commented on #1241
Verified the fixed all the test scenarios on `v1.0.0-rc1`

- [x]  `BIOS` firmware + `No MBR` (Default) + `Auto disk provisioning` config

   - [x] `PASS` the auto disk provisioning on harvester `Create` node
   - [x] `PASS` the auto disk provisioning on harvester `Join` node

### Result
Both create and join mode can auto provision extra disks correctly without error

#### create node
![image](http

[2021-12-02 14:14] TachunLin commented on #1241
Trying to find some `physical disks` to verify some of the test scenario from personal machine on hand.

[2021-12-02 14:20] w13915984028 commented on #1051
@gitlawr  @FrankYang0529

Regarding the change in:
https://github.com/harvester/harvester/pull/1601/files

If http proxy field is not filled in the web UI, empty/initial value is sent to back end?

need to check settings.HTTPProxy.Get() != "" ?

  json.Unmarshal([]byte(settings.HTTPProxy.Get()), &httpProxyConfig)

pkg/controller/master/backup/backup_target.go
[code]

[2021-12-02 14:29] TachunLin commented on #1599
Verified the fixed all the test scenarios on `v1.0.0-rc1`

- [x]  `BIOS` firmware + `No MBR` (Default) + `Auto disk provisioning` config

   - [x] `PASS` the auto disk provisioning on harvester `Create` node
   - [x] `PASS` the auto disk provisioning on harvester `Join` node

### Result
Both create and join mode of harvester auto disk provisioning did not show `failed to mount the device ` on extr

[2021-12-02 14:29] #1599 closed, assigned to weihanglo, TachunLin

[2021-12-02 14:43] weihanglo commented on #1608
Thanks for the info. I guess I can reproduce the environment.
It's about private nvme namespace. I use qemu to emulate NVMe and add following args.
The [`shared=off`](https://qemu.readthedocs.io/en/latest/system/devices/nvme.html#nvm-subsystems) in the last line is the most important property.

[code]

And here is the result:

![image](https://user-images.githubusercontent.com/14314532/144442694-e

[2021-12-02 15:18] w13915984028 commented on #1051
Another doubt:

[code]
When  "it is reconciled by controller"  (I am not fully sure about when the controller will trig this action,  but given it happens.):

[code]

Consider to do a check that the backup target & secrets are existing at longhorn side. If it is not true, an error message could to be thrown to tell user config it again.

@FrankYang0529 @guangbochen  your idea?

[code]

[2021-12-02 15:33] weihanglo commented on #1608
Turns out that it is both a UI bug and a backend enhancement, not what I guess in the beginning.

In the edit mode, the dashboard should not display the same device twice if it is already selected. For the backend, it should reject bad payload from the client but it doesn't.

![image](https://user-images.githubusercontent.com/14314532/144452350-faac41e5-b5fb-4b63-8546-9c66c6ceb44d.png)

[2021-12-02 15:45] janeczku commented on #1608
@weihanglo does that bug also explain why disk manager looks for non-existent devices? https://github.com/harvester/harvester/issues/1608#issuecomment-984482993

[2021-12-02 15:54] weihanglo commented on #1608
They are two separate issues. For "non-existent devices", if you refer to `/dev/nvme0c?n?`, those are NVMe private namespaces located in `/sys/block`, where disk manager collects disk/partition info. They causes no harm during scanning devices. I just need further survey to make sure it's safe to skip them.

[2021-12-02 15:56] slickwarren opened #1619 "[BUG] User is unable to create ssh key through the `templates` page"
**Setup**
- Rancher version: n/a (through harvester UI)
- Browser type & version: chrome

**Describe the bug**

User is unable to create ssh key on the `templates` page

**To Reproduce**

* on a harvester deployment, navigate to `advanced` -> `templates` and click `create`
* under the `ssh key` option, click `create new`
* enter valid credentials and save

**Result**
* 404 error -- the server coul

[2021-12-02 16:20] slickwarren opened #1620 "[Rancher Integration] User is unable to use template to create cluster through virtualization management"
This bug is filed in rancher/dashboard repo : https://github.com/rancher/dashboard/issues/4689

[2021-12-02 18:58] slickwarren opened #1621 "[BUG] sometimes VM gets stuck in `Virt-launcher pod is terminating` when using harvester node driver for deletion"
**Describe the bug**

When using harvester node driver, sometimes the backend VMs get stuck in `Virt-launcher pod is terminating` in the following cases:
* rancher decides to destroy + re-create a vm
* user manually removes a cluster through rancher that is unhealthy

**To Reproduce**
Steps to reproduce the behavior:
1. provision a single node rke1 cluster with some incorrect parameters (i.e. spec

[2021-12-02 19:04] slickwarren opened #1622 "[BUG] sometimes, memory of VMs is reported as ~1/1.5 of the original value through harvester"
**Describe the bug**

if a user provisions a 4gb VM, it is reported as 2.7gb for a time after provisioning

**To Reproduce**
Steps to reproduce the behavior:
1. provision a vm through harvester
2. once the VM is up, view the reported memory

**Expected behavior**

memory should match what the user enters when provisioning the VM

**Support bundle**

[supportbundle_147f1b83-cdc7-432c-9a01-7b12448d2

[2021-12-03 00:11] alexdepalex opened #1623 "[BUG] Unable to add additional disks to host config"
**Describe the bug**
We're trying to configure additional NVMe disks in the host config UI. The disks show up in the drop-down menu, but the item is disabled.

**To Reproduce**
I can only reproduce this on specific servers and devices. Devices have been used previously by another product, but disks are zapped using sgdisk.
1. In the Harvester UI go to Hosts
2. Pick a host and select *Edit Config*

[2021-12-03 00:13] alexdepalex commented on #1623
sgdisk and object config.

[code]

[code]

[2021-12-03 00:14] alexdepalex commented on #1623
[supportbundle_cb3b2b70-8c36-47cc-9bc9-b4a233e053cb_2021-12-03T00-11-30Z.zip](https://github.com/harvester/harvester/files/7645863/supportbundle_cb3b2b70-8c36-47cc-9bc9-b4a233e053cb_2021-12-03T00-11-30Z.zip)

[2021-12-03 00:18] alexdepalex commented on #1282
It still shows any attached cdrom drives, also in the UI. Should we open a new ticket? Or can this one be reopened?

[code]

[2021-12-03 00:21] alexdepalex commented on #1623
Please notice that an iDRAC attached cd-drive also shows up in the drop-down menu.

![Annotation 2021-12-03 011959](https://user-images.githubusercontent.com/713019/144523465-0e0a037b-54fc-4771-b624-cc4bd41e21d4.png)

[2021-12-03 02:14] wonleing opened #1624 "[Question] Storage usage percentage is not acurate"
In harvester/dashboard/models/metrics.k8s.io.nodemetrics.js
storage usage percentage use
return parseSi(this.$rootGetters[`${ this.inStore }/byId`](NODE, this.id)?.status?.capacity?.['ephemeral-storage']) - parseSi(this.$rootGetters[`${ this.inStore }/byId`](NODE, this.id)?.status?.allocatable?.['ephemeral-storage']);

This is not acurate when this partition has other user files
The better caculat

[2021-12-03 02:19] guangbochen commented on #1609
duplicate of https://github.com/harvester/harvester/issues/1400, and this issue is moved to 1.1 as backend enhancement is needed as normal users won't be able to check the `longhorn-system` namespace volumes directly.

[2021-12-03 02:19] #1609 closed, assigned to n313893254

[2021-12-03 03:19] FrankYang0529 commented on #1410
### Test Case

* Comment `vip` and `vip_hw_addr` in `ipxe-examples/vagrant-pxe-harvester/ansible/roles/harvester/templates/config-create.yaml.j2`
* Start vagrant-pxe-harvester
* Run `kubectl get cm -n harvester-system vip`
  * Check whether we can get `ip` and `hwAddress` in it
* Run `ip a show harvester-mgmt`
  * Check whether there is two IP in it and one is vip.

[2021-12-03 06:34] guangbochen commented on #1282
I think u have raised it in https://github.com/harvester/harvester/issues/1623#issuecomment-985108607, let's just track it over there, thanks.

[2021-12-03 07:44] guangbochen commented on #1428
https://github.com/rancher/rke2/issues/2175#issuecomment-985284770, can be resolved by bumping the RKE2 version to `v1.21.7` of the bare-metal cluster.

[2021-12-03 07:59] FrankYang0529 commented on #1051
Yes, I think we should remove `harvester-backup-target-secret` secret when users change to non S3 backup target.

[2021-12-03 08:08] guangbochen commented on #1051
both the secret and setting should be reset on both Harvester and LH sides, additionally, I think we should keep the original backup data on the remote server for now, as an enhancement we can add an option to ask users whether to clean up all backups or keep it when updating the backup target setting.

[2021-12-03 08:27] FrankYang0529 commented on #1051
Yes, good catch! I just try setup NFS backup target first and change to S3 without `accessKeyId ` and `secretAccessKey`. It can pass. We should check whether `harvester-backup-target-secret` exists and can access to AWS S3.

[2021-12-03 08:57] w13915984028 commented on #1051
@guangbochen @FrankYang0529
"Use the default value" is a bit more complex than my initial estimation. The vm backup, backup_metadata ... all need to enhance the processing when backup target is changed (to initial). Now it assumes the backup target is always already validated and usable.

[2021-12-03 09:39] WuJun2016 commented on #1622
Waiting for upstream pr merge:  https://github.com/rancher/dashboard/pull/4697

[2021-12-03 09:40] WuJun2016 commented on #1620
Waiting for upstream pr merge:  https://github.com/rancher/dashboard/pull/4697

[2021-12-03 11:09] guangbochen opened #1626 "[Task] Harvester v1.0.0 release checklist"
**What's the task? Please describe.**
Action items for releasing v0.3.0 & RC releases

**Describe the items of the task (DoD, definition of done) you'd like.**
- [x] Support manual version upgrade to v1.0.0 #1665. (experimental)
- [x] Support automatic upgrade from v1.0.0 to later versions. #1022 [moved to 1.0.1]
- [x] Verify Rancher MCM feature with Rancher v2.6.3.
- [x] Verify air-gap environmen

[2021-12-03 14:26] guangbochen commented on #1397
close as added via the Harvester confluence page.

[2021-12-03 14:26] #1397 closed, assigned to guangbochen

[2021-12-03 15:26] simonflood opened #1627 "[BUG] Harvester 1.0.0-rc1 fails to install on NVMe M.2 SSD"
**Describe the bug**
I tried to install Harvester 1.0.0-rc1 on an Intel NUC with a new 1TB Crucial P5 NVMe M.2 SSD but after providing installation options it stopped soon on in the actual install with the message

mkfs.vfat: unable to open /dev/nvme0n11: No such file or directory

I then successfully installed Harvester 0.3.0 on same machine with same SSD so retried the 1.0.0-rc1 install but hit

[2021-12-03 16:44] lanfon72 commented on #1260
Verified it works as expected.
- [x] VM backup with self-signed additional-ca (IP-based)

![image](https://user-images.githubusercontent.com/5169694/144639987-972300eb-1562-4c52-ba98-006cede37293.png)

Test Information
----
* Environment: **qemu/KVM** 3 nodes
* Harvester Version: **v1.0.0-rc1**
* **ui-source** Option: **Auto**

### Verify Steps:
described in https://github.com/harvester/harvester/

[2021-12-03 16:44] #1260 closed, assigned to lanfon72, gitlawr, WuJun2016

[2021-12-03 17:40] lanfon72 commented on #1339
Verified it works as #1547 described.
As the Minio is compatible with AWS S3, it's testd on MInio environment rather than S3.

Test Information
----
* Environment: **qemu/KVM** 3 nodes
* Harvester Version: **v1.0.0-rc1**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with any nodes
2. Setup Minio
    a. then follow the [instruction](https://objectivefs.com/howto/how-to-re

[2021-12-03 17:42] #1339 closed, assigned to lanfon72, w13915984028

[2021-12-03 17:43] yasker commented on #1339
nvm, as long as the Minio permission setup can reproduce the original issue, we should be fine here.

[2021-12-03 23:08] slickwarren opened #1628 "[BUG] rke1 load balancer is unable to provision `0/8 nodes are available: 2 node(s) had taint {node-role.kubernetes.io/controlplane: true}, that the pod didn't tolerate, 6 node(s) had taint {node.cloudprovider.kubernetes.io/uninitialized: true}, that the pod didn't tolerate.`"
**Describe the bug**

unable to provision a load balancer when using harvester cloud provider on an rke1 cluster

**To Reproduce**
Steps to reproduce the behavior:
1. deploy an rke1 cluster using harvester node driver
  * enable harvester node driver
2. once the rke1 cluster comes to active, deploy a load balancer either while deploying a workload or stand alone (serviceDiscovery -> services ->  c

[2021-12-04 01:23] yasker opened #1629 "[BUG] `harvester` wasn't set as default storage class inside Rancher provisioned cluster"
It should be set as the default storage class. Otherwise any workload defines PVC with no storage class cannot be deployed.

To test: deploy `wordpress` using default value from Bitnami (add `https://charts.bitnami.com/bitnami` to the chart repo.)

[2021-12-04 01:53] yasker opened #1630 "[BUG][Guest cluster] Permission denied for workload with security context"
To reproduce:
1. Add Bitname Repo (https://charts.bitnami.com/bitnami) to the guest cluster.
2. Set storage class `harvester` as `default` to workaround bug https://github.com/harvester/harvester/issues/1629.
3. Install `Wordpress` using default options.
4. Manually modify the load balancer for Wordpress to include the healthcheck port `80`.
5. Wait for the Pod to come up.

Result:
The mariadb pod

[2021-12-04 02:15] slickwarren commented on #1613
I've also hit this issue in the following case on v2.6.3-rc3, however in my case it seems that harvester is no longer provisioning any VMs through harvester UI nor through rancher -> virtualization mangement -> harvester. Nodes are stuck in `Guest VM is not reported as running` state:
* import harvester into rancher's virtualization dashboard
* through rancher -> harvester, create a VM
  * in ranc

[2021-12-04 02:29] acortina-git commented on #1627
I am also experiencing same issue

[2021-12-04 15:48] WuJun2016 commented on #1622
Hi， @slickwarren  Sometimes the code in harvster/dashboard is not merged into rancher/dashboard in time, so some bugs are fixed in single cluster, but not in multiple clusters.  If you want to test the latest features and bug fixes of harvester, you can replace `ui-dashboard-index` in settings with: `https://releases.rancher.com/harvester-ui/dashboard/latest/index.html`.