[2021-06-03 17:58] #894 closed, assigned to guangbochen, noahgildersleeve

[2021-06-03 18:17] alexdepalex commented on #907
Regarding the screenshot above. On the console the message `Checking if the networkis online` is displayed followed by `ok`. At that time, the adapter might be online, but it takes another 10 seconds before an actual dhcp requests goes over the line and reaches the dhcp server. In the meantime, the installer is already started, the network is unreachable and fetching the configuration yaml fails.

[2021-06-03 18:29] juadk commented on #907
That's weird because the workaround from #720 made the problem completely disappear for our environment.

[2021-06-03 19:25] brunnels commented on #914
I'm running a mixed bare metal cluster.  Masters are all arm with very little storage.  Worker nodes are all amd64.  Many things don't even have arm containers so best to have master/NoSchedule taint.

[2021-06-03 22:37] janeczku commented on #907
Nothing weird happening here @juadk. Just goes to show that users are still being affected by this issue.

As an improvement, maybe we should update the docs to include the `boot_cmd` workaround in **all the documented kernel arguments**. This would save users from running into this issue in the first place and having to spend time troubleshooting the failed PXE install.
/cc @guangbochen

[2021-06-04 02:46] guangbochen commented on #914
is this installed using the helm chart? u can try to run `kubectl taint nodes node1 key=value:NoSchedule` for those master nodes to repel a set of VMs.

[2021-06-04 06:31] guangbochen commented on #747
For existing Harvester users if u want to add multi-disks u can do it via longhorn's UI, run
[code]
in your harvester node and visiting the Longhorn's UI via `http://node_ip:30445` and follow the doc instruction on https://longhorn.io/docs/1.1.1/volumes-and-nodes/multidisk/

[2021-06-04 10:29] brunnels commented on #914
Harvester is installed with helm and all nodes are k3os.  All master nodes have taint `node-role.kubernetes.io/master:NoSchedule`.  I needed to remove the tolerations in the harvester helm values for multus and harvester-network-controller.
[code]

The node taint doesn't prevent the master nodes from showing in the harvester hosts list and doesn't prevent harvester trying to config the network on

[2021-06-04 13:21] ldevulder commented on #805
I installed Harvester version `master-5ea5fc31-head` with the same command as @avairavan on k3s and I can confirm that the issue is resolved:
[code]

k3s was installed on an openSUSE MicroOS with SELinux set to Enforcing,

[2021-06-04 13:51] juadk commented on #809
First, I was able to reproduce the issue with the current Harvester driver node version. The ISO images appeared in the available images.

The fix worked well for me:
Mode: ISO
Version: master-3b6b8a6d-head
Different images were added .img & .iso
![image](https://user-images.githubusercontent.com/6025636/120811116-ee875e00-c54b-11eb-93f7-6805c335e850.png)

I updated the Harvester node driver with

[2021-06-04 13:51] #809 closed, assigned to juadk, WuJun2016

[2021-06-04 13:56] #805 closed, assigned to ldevulder

[2021-06-04 14:12] vielmetti opened #926 "[BUG] old version of tidwall/gjson has known CVEs that can cause denial of service errors"
**Describe the bug**

Harvester's "go.mod" brings in a version of `github.com/tidwall/gjson` (@v1.6.3) which has several known CVEs that can cause denial of service conditions.

https://github.com/harvester/harvester/blob/5ea5fc3111d1da1d1cef9dd6eb2c5a6c978fc2d5/go.mod#L84

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://deps.dev/go/github.com%2Fharvester%2Fharvester/v0.2.0/depe

[2021-06-04 17:00] noahgildersleeve commented on #853
Tested landing at [harvester](https://harvesterhci.io) page with safari Mobile on iOS `14.5.1`. It looked good. Are we just wanting to verify that the responsive page looks good on mobile? I ask because at a tablet resolution the text looks a little odd because it’s left-aligned instead of center. However, I’m not sure if that is in scope, or if that is the desired design.
![Greenshot 2021-06-04 0

[2021-06-04 19:33] juadk commented on #853
In addition, it looks good with brave and chrome on Android 11 too.

[2021-06-05 13:33] guangbochen commented on #853
I think this is looking fine, let me know if u have any additional concerns.

[2021-06-07 02:51] bk201 opened #927 "[BUG] Integration test fails on newer kernels"
**Describe the bug**
The integration test fails on newer kernels.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `make test-integration` on OpenSUSE Tumbleweed (kernel: 5.12.9-1-default).
2. Test timeout on waiting for control-plane ready.

The kube-proxy pods are in `CrashLoopBackOf`f status, log:

[code]

**Expected behavior**
The tests should pass.

**Additional context**
Related Kin

[2021-06-07 07:31] ldevulder commented on #896
FYI I had the same behavior on a test laptop in UEFI (Asus G75VW) but no problem on a HP ProLiant DL360 Gen8 server (also in UEFI) mode. IMHO it's more an issue in the implemented UEFI protocol in the firmware.
@computeracer is your server/workstation at the latest firmware version? I know it's usually boring to have this kind of answer, but in case of UEFI it could make a huge difference ;-)

[2021-06-07 07:50] juadk commented on #873
Tested successfully in build `master-8cfc827f-head` ​with dev-mod.
I can log in without Rancher installed.
![image](https://user-images.githubusercontent.com/6025636/120979054-78663f80-c775-11eb-9055-dd8692c1114f.png)

[2021-06-07 07:50] #873 closed, assigned to juadk, WuJun2016

[2021-06-07 08:11] juadk commented on #836
Tested successfully in build `master-8cfc827f-head `​with dev-mod.
The progress field reported the progress as expected.

![support_bundle_dev_mode](https://user-images.githubusercontent.com/6025636/120981382-e9a6f200-c777-11eb-8fbb-b6d126ce0d4d.png)

I downloaded the file `harvester-supportbundle_59aa587d-9348-4fab-b996-43b75de772c6_2021-06-07T07-53-52Z.zip` and checked the content conformity. Al

[2021-06-07 08:11] #836 closed, assigned to bk201, juadk

[2021-06-07 09:28] juadk commented on #783
Tested in build master-5ea5fc31-head ​with ISO mod and 5 nodes cluster.

![image](https://user-images.githubusercontent.com/6025636/120985086-8f0f9500-c77b-11eb-9bc5-766210f3481d.png)

1 - support bundle should check its related pod and make updates on its status.
I guess that's the manager.log from the pod supportbundle-manager-bundle-*

[code]

2 - Progress field:
![image](https://user-images.gi

[2021-06-07 09:43] bk201 commented on #783
Thanks for verifying!

That's correct!

Node metrics manifest is at `yamls/cluster/kubernetes/nodemetrics.yaml`.
PodMetrics are at `yamls/namespaced/{namespace}/kubernetes/podmetrics.yaml`.

[2021-06-07 09:53] juadk commented on #783
Thanks for the help.
Indeed, in my case, the files are:
`yamls/namespaced/kube-system/kubernetes/podmetrics.yaml` & `yamls/cluster/kubernetes/nodemetrics.yaml`
I think we can close this issue.

[2021-06-07 09:53] #783 closed, assigned to bk201, juadk

[2021-06-07 10:11] alexdepalex opened #930 "[BUG] Unable to deploy when non-install disk contains data"
**Describe the bug**
When deploying Harvester on a node that has a disk next to the installation disk which already contains data, the installation process fails.

**To Reproduce**
Make sure the non-install disk contains a file system. Try to deploy on the install disk.

**Expected behavior**
It shouldn't happen.

**Environment:**
 - Harvester ISO version: v0.2.0
 - Underlying Infrastructure: Powe

[2021-06-07 11:30] #868 closed, assigned to nobody

[2021-06-07 11:53] chifu1234 opened #931 "[FEATURE] Cluster-API"
**Is your feature request related to a problem? Please describe.**

We would like to stage our K8s Cluster with cluster-api

**Describe the solution you'd like**

Implementation of cluster-api infrastructure provider

**Describe alternatives you've considered**

none

**Additional context**

[2021-06-07 16:13] noahgildersleeve commented on #853
Closing as done.

[2021-06-07 16:13] #853 closed, assigned to DaiYuzeng, noahgildersleeve

[2021-06-07 18:33] noahgildersleeve opened #932 "[BUG] Can't create backup of turned off VM"
**Describe the bug**

Creating a backup from a VM that is turned off never finishes
**To Reproduce**
Steps to reproduce the behavior:
1. Create a VM from raw image template with template and password from cloudconfig
2. Log in to VM
3. Create a file
4. Add some data to the file
5. Turn off the VM
6. Take backup

**Expected behavior**

Backup should complete with no error

**Support bundle**

[harv

[2021-06-07 21:32] noahgildersleeve commented on #932
This eventually finished hours later. Here's the support bundle with it and some screenshots of the status
![Greenshot 2021-06-07 13 34 19](https://user-images.githubusercontent.com/83787952/121090283-39e47b00-c79d-11eb-8570-faa615067259.png)
![Greenshot 2021-06-07 14 31 39](https://user-images.githubusercontent.com/83787952/121090286-3b15a800-c79d-11eb-9ae9-61277fa2f4a9.png)
[harvester-supportbun

[2021-06-07 21:35] noahgildersleeve opened #933 "[FEATURE] Progress indicator for backups"
**Is your feature request related to a problem? Please describe.**

Currently the backups only show a status indicator, but no progress indicator. For multi-hour backups this can be problematic.
**Describe the solution you'd like**

A progress indicator like we have in Longhorn
**Describe alternatives you've considered**

**Additional context**

Currently this information is available in Longhorn,

[2021-06-07 23:15] noahgildersleeve commented on #917
Is there currently any UI option for testing this?

[2021-06-07 23:16] noahgildersleeve commented on #883
IsDoest this only require testing internal rancher authentication, or any of the new auth types going into `v0.3.0`?

[2021-06-08 02:08] #600 closed, assigned to WuJun2016

[2021-06-08 08:35] juadk commented on #890
The API is well described at https://docs.harvesterhci.io/v0.2/reference/api/
I haven't had a chance to use it yet. @guangyee is it ok for you?

[2021-06-08 09:23] ApolloDS opened #934 "[EPIC] IPv6 support"
**Is your feature request related to a problem? Please describe.**
When installing the ISO only IPv4 can be set, IPv6 is missing.

**Describe the solution you'd like**
IPv6 support

**Describe alternatives you've considered**
no alternatives.

**Additional context**
![grafik](https://user-images.githubusercontent.com/3502089/121159914-eaa95380-c84b-11eb-9807-1eafec34ea7f.png)

[2021-06-08 09:40] telmich commented on #934
I'm also interested in giving harvester a try, but I only operate IPv6 only networks (i.e. not IPv4 at all)

[2021-06-08 10:49] ldevulder commented on #926
`go.mod` has been updated, and latest `master` version is installing well from ISO image and in dev-mode.

[2021-06-08 10:49] #926 closed, assigned to futuretea, ldevulder

[2021-06-08 13:42] bk201 opened #935 "[FEATURE] Support configuring NTP servers during the installation"
**Is your feature request related to a problem? Please describe.**
We use `ntp.ubuntu.com` as the connman's fallback NTP server, we should allow users to configure it during the installation. Hard-coding a public NTP server might be considered [abuse](https://en.wikipedia.org/wiki/NTP_server_misuse_and_abuse).

**Describe the solution you'd like**

Maybe we can add a panel to configure NTP servers

[2021-06-08 14:21] juadk commented on #851
Tested successfully in build `master-5ea5fc31-head` ​with ISO mod and 5 nodes cluster.

I was able to reproduce the reported issue.
Then, I updated the harvester node driver with https://harvester-node-driver.s3.amazonaws.com/driver/master/docker-machine-driver-harvester-amd64.tar.gz and https://harvester-node-driver.s3.amazonaws.com/ui/master/component.js
A new node template was created and when

[2021-06-08 14:21] #851 closed, assigned to juadk, futuretea, WuJun2016

[2021-06-08 15:20] ldevulder opened #936 "[BUG] 'find' command return warnings in script/test"
**Describe the bug**
While I was compiling Harvester I had warning messages from the `find` command in `script/test`:
[code]

**To Reproduce**
Steps to reproduce the behavior:
Simply execute the `make` command in a freshly cloned repository.

**Expected behavior**
No warning messages.

**Support bundle**
N/A

**Environment:**
 - Harvester ISO version: master
 - Underlying Infrastructure (e.g. Bare

[2021-06-08 18:41] yasker opened #938 "[FEATURE] Multicluster Harvester management"
When the user has more than one Harvester cluster across different geolocations, it's important to provide a way for the user to manage all those clusters in a central place.

We're working with the Rancher team to use Rancher to manage multiple Harvester clusters from a central Rancher. Also, by utilizing Fleet we can achieve mass deployment and management.

On the Rancher side, it will be mostly

[2021-06-08 18:54] noahgildersleeve commented on #813
Moving back to analysis/design due to needed UI elements for testing.

[2021-06-08 21:38] guangyee commented on #890
It's a good start. Though I only used a few APIs so far. There are two areas I think we can do better.

1. distinguish the `required` versus `optional` attributes in the request body. There are some optional attributes that are not needed in the request. For example, to create an image (`/apis/harvesterhci.io/v1beta1/namespaces/{namespace:[a-z0-9][a-z0-9\-]*}/virtualmachineimages`),  all I need is

[2021-06-09 01:49] weihanglo opened #939 "[BUG] Harvester v0.2.0 dashboard layout broken on Safari 14.1.1"
**Describe the bug**
Layout broken on macOS Safari 14.1.1

**To Reproduce**
Steps to reproduce the behavior:
1. Open harvester dashboard in Safari 14.1.1

**Expected behavior**
 Layout the dashboard correctly

**Environment:**
 - Harvester ISO version: v0.2.0
 - Underlying Infrastructure: VirtualBox 6.1 on macOS 11.4

**Additional context**

<img width="1518" alt="image" src="https://user-images.g

[2021-06-09 01:50] weihanglo commented on #939
Haven't check against master branch. Feel free to close if it is already fixed.

[2021-06-09 04:15] WuJun2016 opened #940 "The status of supportBundle progress is missing some intermediate values"
**Describe the bug**

The progress change of supportbundle does not seem to have an intermediate state, so far I only see 20% and 100%

**Environment:**
 - Harvester ISO version:
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630):

**Additional context**
Add any other context about the problem here.

[2021-06-09 05:07] guangbochen commented on #907
This should be addressed via https://github.com/harvester/harvester-installer/pull/87, and u should be able to test via downloading the master build assets.

master-head.iso: https://releases.rancher.com/harvester/master/harvester-amd64.iso
master-initrd: https://releases.rancher.com/harvester/master/harvester-initrd-amd64
master-vmlinuz: https://releases.rancher.com/harvester/master/harvester-vml

[2021-06-09 06:52] bk201 commented on #940
I think that's because [phase 2 is time-consuming and the last 3 phases complete](https://github.com/harvester/support-bundle-utils/blob/28b6a79abc184b072363ce1cbc483268ba4b2322/pkg/manager/manager.go#L92-L117) sooner than the default polling time.
So it's easier to see 20% -> 100%.
Maybe we can divide phase 2 into more phases and make the progress more natural.

[2021-06-09 08:33] ldevulder commented on #936
Tested successfully on my lab with the latest git version.

[2021-06-09 08:33] #936 closed, assigned to ldevulder

[2021-06-09 09:29] gitlawr commented on #890
1. With the follow-up PR, you should be able to check required fields in the model
![image](https://user-images.githubusercontent.com/5697937/121329359-b9ae4900-c947-11eb-8d27-e781c2b29364.png)

2. If you click `Try it out` then `execute`, the swagger ui will provide the curl style example for the request. If that's convenient, I think we can keep the `Try it out` stuff for now.

[2021-06-09 10:06] dgiebert opened #942 "[FEATURE] Kubevirt Annotations in the UI"
**Is your feature request related to a problem?**
We are testing Harvester to spawn CoreOS nodes with Ignition.
This can be done using a ConfigMap to enable the support:
[code]
And an annotation that has to be patched into either into the node or the template using kubectl.
Added the following annotation, skipping the content here:
[code]

**Describe the solution you'd like**
- **Harvester:** In A

[2021-06-09 13:41] juadk commented on #907
Tested successfully in build `master-2f77a633-head` ​with ISO mod and 5 nodes cluster.

With v0.2.0, I was able to reproduce the reported issue by removing the following workaround #720  from the kernel cmd line:
`"boot_cmd=\"echo include_ping_test=yes >> /etc/conf.d/net-online\""`

![Screenshot from 2021-06-09 14-46-27](https://user-images.githubusercontent.com/6025636/121363828-91b6e980-c937-11e

[2021-06-09 21:55] noahgildersleeve commented on #883
I tried to get this running, but the harvester nodes keep crash looping. I'm getting this error in the logs on the pod.
[code]

[2021-06-09 22:43] noahgildersleeve commented on #892
Tested in version `master-3b6b8a6d-head`

1. Created VM with ISO template 2 vCPU and 4GB of RAM
2. Set image as  https://download.fedoraproject.org/pub/fedora/linux/releases/34/Server/x86_64/iso/Fedora-Server-netinst-x86_64-34-1.2.iso . It installed and passed VM health checks.
3. Installed with defaults
4. Rebooted
5. Ran ping test to google and verified read/write operations. All health checks p

[2021-06-09 22:43] #892 closed, assigned to gitlawr, noahgildersleeve

[2021-06-09 22:57] noahgildersleeve commented on #883
I tried this with a multi-node RKE cluster before, but to simplify it I went with was the setup.

- 1 RKE Node (Etcd, worker, and controlplane) (16gb RAM, 6cpu)
- Rancher HA setup with 3 nodes

[2021-06-10 01:56] guangbochen commented on #927
close in favor of https://github.com/harvester/harvester/pull/928

[2021-06-10 01:56] #927 closed, assigned to nobody

[2021-06-10 02:13] guangbochen commented on #883
that could be the `configmap` that u have created via `kubectl -n harvester-system create secret generic rancher-kubeconfig --from-file=kubernetes.kubeconfig` either not contains the correct path or the file is invalid. Will ask the dev to verify this issue, thanks.

[2021-06-10 02:27] futuretea opened #943 "[FEATURE] Support generating Terraform files based on existing harvester infrastructure"
The current implementation of Terraform import can only import resources into the state. It does not generate configuration
Because of this, prior to running terraform import it is necessary to write manually a resource configuration block for the resource, to which the imported object will be mapped.

So  we need a tool to generates tf/json and tfstate files based on existing infrastructure (reve

[2021-06-10 02:27] futuretea opened #944 "[FEATURE] Supports conversion of the Terraform files from other cloud providers to harvester's terraform files"
This will facilitate the migration of existing infrastructure configurations from other cloud platforms.

[2021-06-10 09:58] #833 closed, assigned to guangbochen, juadk

[2021-06-10 14:00] guangbochen commented on #933
duplicate of https://github.com/harvester/harvester/issues/526

[2021-06-10 14:00] #933 closed, assigned to nobody

[2021-06-10 15:15] futuretea commented on #861
# RKE1

When Rancher calls Node Driver to create clusters, a jail directory is created for each cluster.
[code]
After that, Rancher will chroot to the jail directory and create the nodes of the cluster.

details:
https://github.com/rancher/rancher/blob/master/package/jailer.sh
https://github.com/rancher/rancher/blob/master/pkg/jailer/jailer.go
https://github.com/rancher/rancher/blob/master/pkg/jai

[2021-06-10 15:18] guangbochen commented on #551
- [Harvester iPXE Boot Using Vagrant Libvirt](https://github.com/harvester/ipxe-examples/tree/main/vagrant-pxe-harvester)
- Harvester e2e testing cases - [harvester/tests](https://github.com/harvester/tests)

[2021-06-10 15:39] belgaied2 commented on #371
Kubevirt has now an ARM64 build as the above Kubevirt issue ([kubevirt/kubevirt#3415](https://github.com/kubevirt/kubevirt/pull/3415) is now merged. Do we have any timeline for this support in Harvester?

[2021-06-10 23:38] noahgildersleeve opened #945 "[BUG] restoring from a chained backup with the middle deleted fails"
**Describe the bug**

When you do a chained backup, delete the middle one and restore to the first it fails.
**To Reproduce**
Steps to reproduce the behavior:

1. Create a new VM
2. Create a file named 1 and add some data using command dd if=/dev/urandom of=file1.txt count=100 bs=1M
3. Compute md5sum : md5sum-1
4. Create a backup1
5. Overwrite file 1 
6. Create file 2
7. Compute md5sum for file 1

[2021-06-11 03:16] gkumarchilakala opened #946 "[FEATURE] Provide Flat Car Container Linux from Kinvolk as default OS Image option while creating a VM"

[2021-06-11 06:50] gitlawr commented on #877
Indeed, the VM creation is pending on the volume snapshot.

Here's how you can fix it:
1. Go to  Longhorn UI via `https://<Harvester_Management_IP>:30444/k8s/clusters/local/api/v1/namespaces/longhorn-system/services/http:longhorn-frontend:80/proxy/`
2. Follow the [instruction](https://longhorn.io/docs/1.1.0/snapshots-and-backups/backup-and-restore/set-backup-target/) to set the Longhorn backup tar

[2021-06-11 08:50] gitlawr commented on #910
In my testing the migration to a node with no replica works, so the cause of the failure might be irrelevant to the longhorn replicas.
Can you reproduce and provide the logs from both the source and target launcher pod? Not sure why there's only logs from one test-migrate-5 pod in the support bundle.

[2021-06-11 10:56] dgiebert opened #947 "[FEATURE] Create DHCP servers on networks"
**Is your feature request related to a problem? Please describe.**
We are using a vswitch in an environment where now DHCP is provided on the tagged VLAN.
Therefore the VMs wont get the needed IPs automatically

**Describe the solution you'd like**
In the Network creation provide the option to enable dhcp for the network.

This could then dynamically create a dhcp container like this:

[code]

[2021-06-11 17:44] noahgildersleeve commented on #910
I tested this with build `master-0c3b2844-head` and the migration worked for me too. It must have gotten resolved at some point. I wonder if it was related to the [storage class Longhorn bug](https://github.com/harvester/harvester/issues/857). It seems to be resolved now.

[2021-06-12 20:44] withinboredom opened #948 "[Question] Instructions to build a custom image?"
I've tried to build a custom ISO (to embed k3os config/firmware) due to there being 0 bytes free in the image -- otherwise, I'd just edit the image. However, I cannot figure out how to do this on OSX and the docs don't give many details.

[2021-06-14 19:43] noahgildersleeve opened #949 "[BUG] When deleting last backup in a chain some files aren't there after restore"
**Describe the bug**

When restoring after deleting the last backup in a chain some files are empty
**To Reproduce**
Steps to reproduce the behavior:

1. Create a new VM
2. Create a file named 1 and add some data using command dd if=/dev/urandom of=file1.txt count=100 bs=1M
3. Compute md5sum : md5sum-1
4. Create a backup
5. Overwrite file 1 
6. Create file 2
7. Compute md5sum for file 1 and file 2

[2021-06-14 23:52] noahgildersleeve commented on #949
I looked into this some more and it doesn't seem to be related to the delete. This happens even when just restoring to the middle of the chain without deleting one of the backups.

[2021-06-15 04:12] guangbochen commented on #948
u may check the https://github.com/harvester/harvester-installer and run `make` to build your custom ISO, however, because we are using the containerd which is currently not supported in the macOS so u may need to make the create via a VM like Ubuntu to run the build with tools like Virtualbox.

[2021-06-15 09:23] Ver1Kb opened #950 "Delete this issue"
Delete this issue.

[2021-06-15 09:33] futuretea opened #951 "[BUG] If use an external Rancher, project owner user get /v1/userpreferences return 404"
**Describe the bug**

![image](https://user-images.githubusercontent.com/15064560/122029130-35ecd480-cdff-11eb-80f4-80a23c292525.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Use an external Rancher
2. Create a project owner user
3. Use the user to log in
4. After log in, check api  /v1/userpreferences

**Expected behavior**

/v1/userpreferences return 200

**Support bundle**

**Envir

[2021-06-15 10:11] #950 closed, assigned to nobody

[2021-06-15 12:08] WuJun2016 opened #952 "[BUG] ui url path error"
**Describe the bug**
UI page routing error

**To Reproduce**
Steps to reproduce the behavior:
1.  Enter UI
2. Refresh page （you can see 'This page could not be found' error message）

**Expected behavior**

**Support bundle**

**Environment:**
 - Harvester ISO version:
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630):

**Additional context**
Add any other context about the pro

[2021-06-15 14:12] withinboredom opened #953 "[BUG] Unable to install if a wifi card is present"
**Describe the bug**

If there's a wifi card present, `harvester-configure-network` will choke if a nearby wifi network contains spaces.

**To Reproduce**
Steps to reproduce the behavior:
1. Burn iso and boot on a machine with a wifi card
2. Ensure a local access point is broadcasting an SSID with spaces in it
3. Try to configure networking, cannot continue past the network configuration screen.

[2021-06-15 14:21] withinboredom commented on #948
Ah, I saw the HFS partition and assumed a mac was needed. Worked like a charm on a Linux machine!

[2021-06-15 14:21] #948 closed, assigned to nobody

[2021-06-15 18:44] noahgildersleeve commented on #949
So after some further investigation in a chained backup restore to backup1 is fine, but restore to backup2 and backup3 fail due to the files being empty.

[2021-06-15 22:54] noahgildersleeve opened #954 "[BUG] Second network doesn't show up in VM"
**Describe the bug**

If you add a second network to a VM then it won't add the network interface
**To Reproduce**
Steps to reproduce the behavior:
1. Start to Create a new VM
2. Create it with the VM image template and http://cloud-images.ubuntu.com/releases/focal/release/ubuntu-20.04-server-cloudimg-amd64-disk-kvm.img
2. that is a VLAN network that is configured correctly and has external networ

[2021-06-16 00:37] weihanglo commented on #673
Cannot reproduce this bug on master branch ISO downloaded at 2021-06-15T17:50:23Z. I can't skip step 4 without any input on hostname field. Is the issue still relevant?

[2021-06-16 03:24] WuJun2016 commented on #952
Fixed

[2021-06-16 03:25] #952 closed, assigned to WuJun2016

[2021-06-16 03:36] lin1005q commented on #869
Is there any progress?

[2021-06-16 06:12] guangbochen commented on #855
the PR https://github.com/harvester/harvester/pull/919 is merged, and u should be able to test using the [master-head ISO image](https://releases.rancher.com/harvester/master/harvester-amd64.iso).

[2021-06-16 06:14] guangbochen commented on #890
Updated by https://github.com/harvester/harvester/pull/941

[2021-06-16 06:16] guangbochen commented on #690
addressed via https://github.com/harvester/harvester-installer/pull/86,and you can test using the [master-head ISO image](https://releases.rancher.com/harvester/master/harvester-amd64.iso).

[2021-06-16 07:16] juadk commented on #907
We have to remove the workaround (https://github.com/harvester/docs/blob/main/docs/install/pxe-boot-install.md - Troubleshooting section) from the documentation for the 0.3.0 release.

[2021-06-16 09:13] gitlawr commented on #673
I'm not able to reproduce now

[2021-06-16 09:13] #673 closed, assigned to nobody

[2021-06-16 09:16] gitlawr commented on #869
@lin1005q Did you hit the same issue? Can you describe your setup/steps?

[2021-06-16 09:33] lin1005q commented on #869
1. download iso (https://releases.rancher.com/harvester/v0.2.0/harvester-amd64.iso)
2. Copy the file to the USB flash drive.
3. The USB has installed [ventoy](https://github.com/ventoy)
4. Turn on the computer
5. same error

[2021-06-16 12:27] juadk opened #956 "[BUG] Cannot see the harvester hosts with the default selected view "Only User Namespaces""
**Describe the bug**
After a fresh install of a five nodes cluster, I can't see the 5 harvesters nodes in the host section with the default filter "Only User Namespaces".

**To Reproduce**
Steps to reproduce the behavior:
1. Install the last master ISO and make sure you have the default namespace view:  "Only User Namespaces".

![Screenshot from 2021-06-16 11-47-49](https://user-images.githubuserc

[2021-06-16 13:01] juadk commented on #847
Tested successfully in build `master-6d5c7df2-head` ​with ISO mode and 5 nodes cluster.

![image](https://user-images.githubusercontent.com/6025636/122223352-5f673800-ceb3-11eb-8b10-c73acfb9af3b.png)

I added a label and checked the YAML file, all good.
![image](https://user-images.githubusercontent.com/6025636/122223499-80c82400-ceb3-11eb-975b-d1c5e072c611.png)
![image](https://user-images.github

[2021-06-16 13:01] #847 closed, assigned to juadk, WuJun2016

[2021-06-16 14:05] juadk commented on #890
We can see which fields are required:

![image](https://user-images.githubusercontent.com/6025636/122233290-39926100-cebc-11eb-84fa-9f1547c40990.png)

The curl example is also there but I think we can open another issue because the flashy green color is not very readable:
![image](https://user-images.githubusercontent.com/6025636/122233596-7bbba280-cebc-11eb-918e-d80d8d2e99d4.png)

@guangyee WDYT?

[2021-06-16 14:49] juadk commented on #906
Tested successfully in build master-6d5c7df2-head ​with ISO mode and 5 nodes cluster.
![Screenshot from 2021-06-16 16-45-13](https://user-images.githubusercontent.com/6025636/122241159-9f81e700-cec2-11eb-82ef-c6b1db72acb3.png)
The label is now Migrate instead of Create.

After clicking on Migrate, the VM moved to the selected node successfully.

[2021-06-16 14:49] #906 closed, assigned to lucidd, juadk

[2021-06-16 15:56] Remigius2011 commented on #807
Actually, it might be better just to mark them as currently down - it might be that there's just a temporary reason why they are down and one might still want to select them (or keep them selected)

[2021-06-16 17:20] guangyee commented on #890
Looks good! The "required" indicator is super helpful. That should help API users reduce large amount of clutter/boilerplate stuff in the API requests. Thanks!

[2021-06-16 17:36] #890 closed, assigned to gitlawr, juadk

[2021-06-16 20:58] guangyee opened #957 "[BUG]The required fields in API doc still not quite correct"
**Describe the bug**
This is a followup to https://github.com/harvester/harvester/issues/890. The newly generated API doc here https://docs.harvesterhci.io/v0.3-dev/reference/api/ still not quite correct. For example, when creating SSH key pairs, `apiVersion`, `kind`, and either `metadata/name` or `metadata/gererateName` are required. But none of them have a red asterisk (*) symbol next to them.

[2021-06-17 02:32] gitlawr commented on #957
If users can use either name or generateName I think we cannot add the red asterisk to any of them. The `kind` and `apiVersion` (and the names) are from kubernetes core API and they are not required in the schema. We might need to find a hacky way to improve. For example in kubevirt docs: https://kubevirt.io/api-reference/master/definitions.html#_v1_kubevirt

[2021-06-17 07:21] guangbochen commented on #670
since we are going to remove the harvester users and using the Rancher users only, so it should be fine to allow admin users to delete the users as ensure default admin is supported by Rancher https://rancher.com/docs/rancher/v2.x/en/faq/technical/#i-deleted-deactivated-the-last-admin-how-can-i-fix-it

[2021-06-17 07:21] #670 closed, assigned to WuJun2016

[2021-06-17 08:35] gitlawr commented on #869
@lin1005q
The way of burning the USB stick matters. Users had reported that some of the ways like the `etcher` tool not working.

Does it work if you prepare the USB drive with
- `dd` if you use Linux/macOS
- `rufus` in DD mode if you use Windows

For more background infos: https://github.com/pbatard/rufus/wiki/FAQ#why-doesnt-rufus-recommend-dd-mode-over-iso-mode-for-isohybrid-images-surely-dd-is-

[2021-06-17 15:46] juadk commented on #690
Tested successfully in build `master-6d5c7df2-head` ​with ISO mode.
I was able to create a file with the following configuration:

[code]
I will try to configure the bonding even if we are about to change the OS.

[2021-06-17 15:46] #690 closed, assigned to bk201, juadk

[2021-06-17 16:26] juadk commented on #791
Tested successfully in build master-6d5c7df2-head ​with ISO mode and a 5 nodes cluster.

I checked that a change in the network settings doesn't start an off VM.
![Screenshot from 2021-06-17 18-01-49](https://user-images.githubusercontent.com/6025636/122434009-040e7600-cf97-11eb-8ba3-442d5da14c68.png)

![Screenshot from 2021-06-17 18-02-16](https://user-images.githubusercontent.com/6025636/1224340

[2021-06-17 16:26] #791 closed, assigned to juadk, WuJun2016

[2021-06-17 17:27] noahgildersleeve opened #960 "[BUG] All restores fail on backups with NFS backup target"
**Describe the bug**

All backups are missing file contents on restores from NFS backups
**To Reproduce**
Steps to reproduce the behavior:

1. Create a new VM
2. Create a file named 1 and add some data using command dd if=/dev/urandom of=file1.txt count=100 bs=1M
3. Compute md5sum : md5sum-1
4. Create a backup
5. Overwrite file 1
6. Create file 2
7. Compute md5sum for file 1 and file 2 : md5sum-2,

[2021-06-17 18:15] noahgildersleeve commented on #854
Tested in master-199b3b79-head with external UI (new UI). Validated as fixed. Still having issue with bundled UI.

[2021-06-17 18:15] #854 closed, assigned to WuJun2016, noahgildersleeve

[2021-06-17 18:22] noahgildersleeve commented on #859
Tested in master-199b3b79-head on external UI (new UI). Validated as working.

[2021-06-17 18:22] #859 closed, assigned to DaiYuzeng, WuJun2016, noahgildersleeve

[2021-06-17 21:21] noahgildersleeve commented on #960
Possibly related to https://github.com/harvester/harvester/issues/949

[2021-06-17 22:22] noahgildersleeve commented on #891
Tested in master-199b3b79-head.
1. Create a new VM on VLAN network with external access
2. Validate VM
3. Change network to sriov
4. Save

You are now able to select `sriov` as a network type and save. It didn't boot up and work, but I'm not sure the server I was on has sriov available. That would be a separate issue anyway.

[2021-06-17 22:22] #891 closed, assigned to WuJun2016, noahgildersleeve

[2021-06-17 22:24] noahgildersleeve commented on #901
Tested in `master-199b3b79-head`. Edit config shows up in settings now without `developer tool & features` being selected in preferences.

[2021-06-17 22:24] #901 closed, assigned to WuJun2016, noahgildersleeve

[2021-06-17 23:13] guangyee commented on #957
Problem is if they are absent Harvester will return HTTP 422. So from end user's perspective, they are required.

[2021-06-18 03:21] WuJun2016 opened #961 "[BUG] The volume is attached by multiple vms at the same time, but only one is displayed on the ui"
**Describe the bug**

When the volume is attached by multiple vms, the attach vm list in the volume page should also show multiple associated vms

![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/34ac1281-377c-4e19-9dd8-619bee3aaf9a)

![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/359997b7-b2d3-4423-805d-b67ce29b7fbb)

**To Reproduce**
Steps to

[2021-06-18 03:59] guangbochen commented on #791
@juadk Yep, let's track the VM status issue separately, I believe there might be some other status that needs to be revisited as well, e.g like migrating, restoring, etc.

[2021-06-18 16:28] noahgildersleeve commented on #802
tested in build `master-199b3b79-head`. The config tab in VLANs has been removed, and the new UI doesn't include it. You can't currently edit the VLAN without selecting edit config. Closing

[2021-06-18 16:28] #802 closed, assigned to WuJun2016, noahgildersleeve

[2021-06-18 17:56] guangyee commented on #957
Looks like the `network` APIs are missing as well.

[2021-06-21 06:42] bk201 opened #962 "[BUG] Webhook service is not available in air-gapped enviornment"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Install Harvester from the master ISO.
2. If there is no Internet connectivity, the harvester-webhook pods stay in `ImagePullBackOff` state.
    e.g.
[code]

**Expected behavior**
The harvester-webhook pods should be running.

**Support bundle**

**Environment:**
 - Harvester ISO version: 03ecd279b0a8e3334fa485ab72bed2630c3

[2021-06-21 07:48] bk201 commented on #581
The OS will be based on RancherOSv2 (A OpenSUSE derivative created by [cOS-toolkit](https://github.com/rancher-sandbox/cOS-toolkit)). Here are some items to do:

**Update**: latest items can be found in the description of https://github.com/harvester/harvester-installer/pull/93

[2021-06-21 07:53] guangbochen opened #963 "[FEATURE] Rebuild Volume Performance Enhancement"
**Is your feature request related to a problem? Please describe.**
After reboot the Harvester node, the node disk manager will need to rebuild its volumes and validate the integrity of the disk volumes. This will take an extra bit of time and consume both the disk I/O and memory usage, so a large-scale VM cluster will be slow during the rebuild period of time, consider making an enhancement on thi

[2021-06-21 10:18] ldevulder opened #965 "[BUG] disk name is increase even if not used"
**Describe the bug**
If I want to add a volume in a VM (a new one or an existing one) when I clickj on `Add <whatever_you_want>` the disk name is automatically increased by default, so name is set to `disk-1` by default. But if I finally don't add the disk and if I click again on `Add ...` the disk name is incremented to `disk-2` instead of `disk-1`.

It's not something critical of course, as I ca

[2021-06-21 10:32] guangbochen commented on #945
I was able to restore both the backup1 and backup3(the backup 2 was deleted) by replacing the existing VM operation.

1. restore to backup1
[code]
2. restore to backup3
[code]

And according to the volume log that u have posted, the restore is failed because of `All replica restore failed and the volume became Faulted`, this may cause by a bad network connection between your cluster and the s3 sto

[2021-06-21 12:31] juadk opened #966 "[BUG] VM status consistency between all actions"
**Describe the bug**
I was checking all the different VM's status messages for the most of the actions (Start, Stop, Restart, Pause, Backup etc) and I've noticed that the status doesn't show up Stopping when you restart a VM. I can only see Running => Starting.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a standard VM (in my case, 1 CPU 16G RAM and ubuntu focal-server-cloudimg-amd

[2021-06-21 12:31] juadk commented on #791
Thanks, I've opened #966 for tracking this.

[2021-06-21 13:21] ldevulder commented on #855
I used the test plan described in #919.
Here the CLI logs (the GUI ones are not provided, but GUI has been tested also):
[code]

[2021-06-21 13:24] ldevulder commented on #855
Note: I saw 2 minor errors:
- `admission webhook "[validator.harvesterhci.io](http://validator.harvesterhci.io/)" denied the request: VM test is already exists`: should be `VM <name> already exists` instead of `VM <name> is already exists`
- `The request is invalid: spec.target.name: taget VM name is empty`: `taget` instead of `target`

[2021-06-21 13:24] #855 closed, assigned to bk201, ldevulder

[2021-06-21 13:44] juadk commented on #800
Tested successfully in build `master-abc91f03-head` ​with ISO mode and a 5 nodes cluster.
I changed my PXE configuration to cause an error (wrong link for the ISO) and I was able to see all the console output:
![Screenshot from 2021-06-21 15-19-02](https://user-images.githubusercontent.com/6025636/122769721-1a714600-d2a5-11eb-8e87-a06486ecbbdf.png)

[2021-06-21 13:44] #800 closed, assigned to juadk, weihanglo

[2021-06-21 22:09] wjimenez5271 opened #967 "Error connecting to Websocket message after only a few minutes"
**Describe the bug**
After logging into the UI, I get a "Error connecting to Websocket" after only a few minutes of being logged in. Harvester v0.2.0
![Screen Shot 2021-06-21 at 3 07 38 PM](https://user-images.githubusercontent.com/322834/122833994-afbf0b00-d2a2-11eb-8acf-4d7eaa7e9f4a.png)

[2021-06-21 23:54] futuretea commented on #861
# RKE2
Node Driver uses the Kubernetes API instead of the Steve API, so Kubeconfig is now required to access the Harvester cluster.

<details>

<summary>If the Harvester cluster has already been imported by Rancher, then the user only needs to select the cluster and the filling of Kubeconfig is done automatically by the UI.</summary>

![image](https://user-images.githubusercontent.com/15064560/122

[2021-06-22 02:42] weihanglo commented on #932
Here is the minimal amount of reproducible logs from the support bundle and locally tests so far after pressing "Take backup". I think the last line GRPC error in the log `Action [snapshotList] not available on xxx` results in this issue. Will investigate it more. Any input is welcome.

<details>

<summary>Expand to read minimal log preventing backup</summary>

[code]

</details>

<details>
<summa

[2021-06-22 06:10] guangyee opened #968 "[BUG] standard virtual machine templates missing"
**Describe the bug**
Out-of-the-box virtual machines templates are missing from the master master ISO.

**To Reproduce**
Steps to reproduce the behavior:
1. install Harvester from https://releases.rancher.com/harvester/master/harvester-amd64.iso
2. login to the UI
3. click on Advanced -> Templates and notice that no templates are found. There used to be 3 out-of-the-box templates.

**Expected beha

[2021-06-22 07:05] ldevulder commented on #874
Tested in the same time as #855: OK.

[2021-06-22 07:05] #874 closed, assigned to bk201, ldevulder

[2021-06-22 09:06] weihanglo commented on #932
Another quick note.

This issue may be caused by reconciling longhorn volumes in following lines.

https://github.com/harvester/harvester/blob/158a35d34e9ab4f9b4cc8f6b4268fa495a69c3f1/pkg/controller/master/backup/backupcontent.go#L344-L353

Since `snapshotList` action is [only supported for attached volume][1], we need to attach the volume first if it is detached (for an offline VM, it's volumes s

[2021-06-22 10:24] weihanglo commented on #968
You can switch to a namespace other than`Only User Namespaces` and they will show up again.

<img width="418" alt="image" src="https://user-images.githubusercontent.com/14314532/122908461-ba52d080-d386-11eb-9134-5970c375bb28.png">

[2021-06-22 11:08] weihanglo commented on #934
Maybe related

https://github.com/flannel-io/flannel/pull/1398
https://github.com/k3s-io/k3s/issues/284

[2021-06-22 15:36] TangStone commented on #951
Validated in version master-158a35d3-head
![image](https://user-images.githubusercontent.com/15829074/122954967-7aa1de00-d3b2-11eb-93db-ba10c6b2b0db.png)

[2021-06-22 15:37] #951 closed, assigned to futuretea

[2021-06-22 16:46] TangStone commented on #883
1. Before logging into harvester, you need to import the harvester cluster to rancher
2. Verify harvester version **master-158a35d3-head**，rancher:2.4.8 and rancher:2.4.7
3. The following figure shows the harvester and rancher local deployment based on rke k8s distribution and hardware configuration
![image](https://user-images.githubusercontent.com/15829074/122961066-a030e680-d3b6-11eb-8894-ec677

[2021-06-22 17:00] #883 closed, assigned to juadk, futuretea

[2021-06-23 08:11] bk201 opened #970 "[BUG] VMs stay terminating after deleted"
**Describe the bug**
If user deletes a VM, the VM stays in terminating state.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a VM via GUI.
2. Delete the created VM via GUI.
3. The VM can't be deleted successfully.

![Screen Shot 2021-06-23 at 3 43 51 PM](https://user-images.githubusercontent.com/1691518/123060636-7f5fa400-d43d-11eb-8310-fd6296a4cad6.png)

**Expected behavior**
The VM

[2021-06-23 08:17] gitlawr commented on #857
To test:
Dev mode
1. Install Harvester by [helm chart](https://docs.harvesterhci.io/v0.2/dev/dev-mode/#option-1-install-using-helm)
2. Check the params in the longhorn storageclass: `kubectl get sc longhorn -o yaml`
3. Upgrade using helm:
[code]
4. Check the params in the longhorn storageclass: `kubectl get sc longhorn -o yaml`

HCI mode
1. Install harvester by ISO image
2. Check the params in the

[2021-06-23 10:16] gitlawr commented on #922
These are the issues I've found so far
~~1. I'm trying to register an apiRoot with id `v1/harvester`, so that APIs are served under /v1/harvester/some.apigroup.io.resources while the rest like schemas is compatible.~~
~~The `X-API-URL-Prefix` header is added as `/v1/harvester` in https://github.com/rancher/rancher/blob/92b822fb2e1437a7bacb7a5a65ab5fc02608a7f3/pkg/api/steve/aggregation/aggregation.

[2021-06-23 12:23] juadk commented on #857
**Test with dev mode ok:**
The parameter `migratable` is still there after the upgrade.

1. Install Harvester by helm chart
`helm install harvester harvester --namespace harvester-system --set service.harvester.type=NodePort --set longhorn.enabled=true`
2. Check the params in the longhorn storageclass:
[code]
3. Upgrade
helm upgrade harvester harvester --namespace harvester-system --set longhorn.e

[2021-06-23 12:23] #857 closed, assigned to juadk

[2021-06-23 13:51] juadk commented on #907
Doc updated on the v0.3-dev branch

[2021-06-23 13:51] #907 closed, assigned to bk201, juadk

[2021-06-23 15:14] bk201 commented on #970
**Temporary workaround**: disable datavolumes validation:

[code]

Search for these lines and remove them, then save:

[code]

Note: if `harvester-webhook` pods are restarted, the rule will be added back.

[2021-06-23 18:04] noahgildersleeve opened #971 "[BUG] Can't set S3 Backup Target"
**Describe the bug**

You get an error while trying to create S3 backup target
**To Reproduce**
Steps to reproduce the behavior:
1. Add S3 backup target in settings

**Expected behavior**

It should save target successfully.

**Support bundle**

[harvester-supportbundle_ede8b267-584d-4bbb-931a-71cf30b5e83d_2021-06-23T17-59-32Z.zip](https://github.com/harvester/harvester/files/6703995/harvester-sup

[2021-06-23 19:52] chajain opened #972 "[BUG]Error while updating a VM using kubevirt api"
**Describe the bug**
While trying to update a VM's cores and memory using the API, it fails with error -
E       AssertionError: Failed to update vm: b'{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"Operation cannot be fulfilled on virtualmachines.kubevirt.io \\"62a6b86fbc35454796a6dc6d808fb4b5\\": the object has been modified; please apply your changes to the lates

[2021-06-23 20:03] chajain opened #973 "[BUG]Virtual Machine termination doesn't remove the attached volume"
**Describe the bug**
When the VM is deleted using the api, the VM is deleted but the attached volume is not deleted. When you manually try to delete that volume on UI, it fails with error -
admission webhook "validator.harvesterhci.io" denied the request: can not delete the volume 62a6b86fbc35454796a6dc6d808fb4b5-disk-0-0ihni which is currently owned by these VMs: 62a6b86fbc35454796a6dc6d808fb4b5

[2021-06-23 21:04] noahgildersleeve opened #974 "[BUG] Sidebar link to hosts isn't showing hosts"
**Describe the bug**

When you go to the hosts page in the side navigation you can't see any hosts, but you can if you click hosts from dashboard
**To Reproduce**
Steps to reproduce the behavior:
1. Click hosts from sidebar navigation
**Expected behavior**

You should see the hosts in the list
**Support bundle**

[harvester-supportbundle_ede8b267-584d-4bbb-931a-71cf30b5e83d_2021-06-23T20-53-05Z.zi

[2021-06-23 21:10] juadk commented on #974
Looks similar to this [bug](https://github.com/harvester/harvester/issues/956), WDYT?

[2021-06-23 21:31] noahgildersleeve commented on #974
I agree. I think that it's the same issue. I still think it has something to do with the difference in the URL. I'll close this bug and update the other one since it was first.

[2021-06-23 21:31] noahgildersleeve commented on #974
Closing bug as dupe of https://github.com/harvester/harvester/issues/956

[2021-06-23 21:31] #974 closed, assigned to nobody

[2021-06-23 21:31] noahgildersleeve commented on #956
The link in the sidebar is going to /host, but the link on the dashboard is going to /node. It seems that /node is where the hosts are being displayed.
![Greenshot_2021-06-23_13_50_12](https://user-images.githubusercontent.com/83787952/123170854-df4f4e00-d42f-11eb-8f02-23352e1238ed.jpg)
![Greenshot_2021-06-23_13_50_23](https://user-images.githubusercontent.com/83787952/123170861-e0807b00-d42f-11eb

[2021-06-24 00:02] guangbochen commented on #971
do we specify the region?

[2021-06-24 00:19] noahgildersleeve commented on #971
Yes, but this one has been cleared for security reasons.
![Greenshot 2021-06-23 17 18 47](https://user-images.githubusercontent.com/83787952/123183763-17ae5680-d447-11eb-8bc7-035cf031b553.png)

[2021-06-24 00:23] weihanglo commented on #971
IIRC bucket name and bucket region won't be clear. Maybe fail to save the config?

[2021-06-24 00:44] weihanglo commented on #932
## The root cause

Here is [a list of available action](https://github.com/longhorn/longhorn-manager/blob/ac065a8deb96193ffec142bcc7e7345615b57b8d/api/model.go#L974-L1003) for a longhorn volume in different state.

From Harvester we do VM offline snapshot by first attaching the Longhorn volume manually. Then take a snapshot. However, sometimes the final status won’t become attached so we fail to d

[2021-06-24 02:48] weihanglo commented on #971
I can reproduce the issue by specifying "endpoint" for backup target. If endpoint is not provided and other fields are valid, this should just work.

[code]

[2021-06-24 05:28] bk201 commented on #970
When GUI deletes a VM, it allows deleting disks (datavolumes) belonged to a VM together.
Say we have a VM `test` and it has two disks: `disk-0` and `disk-1`.
Assume the user also wants to delete `disk-0` when deleting the VM `test`.
In this case the GUI sends an API request:

[code]

When backend receives this requests, it [does these things](https://github.com/harvester/harvester/blob/158a35d34e9

[2021-06-24 06:20] maxiloEmmmm commented on #972
@chajain u can update after vm state become running, the resource will be updated multiple times before then, so updates that are too fast after the script is created will cause conflicts

[2021-06-24 06:21] maxiloEmmmm commented on #972
@chajain u can use script to watch vm state, if become running, do update

[2021-06-24 06:37] juadk opened #975 "[BUG] Wrong login page tab name"
**Describe the bug**
The login page tab name is **Rancher** instead of **Harvester** with the Harvester logo, I don't think that's expected.

![Screenshot from 2021-06-24 08-29-22](https://user-images.githubusercontent.com/6025636/123213447-4ddeeb00-d4c6-11eb-9008-86aaaeadee76.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the login page and check the tab name.

**Expected behavi

[2021-06-24 07:01] juadk opened #976 "[BUG] Double message when you delete a resource"
**Describe the bug**
When you delete a resource, the box shows the same message two times:
![double_message](https://user-images.githubusercontent.com/6025636/123215674-07d75680-d4c9-11eb-804d-1ed890651df7.png)

I was able to see the double message when I tried to remove other resources types as well (Images, Network, Volumes etc).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the ho

[2021-06-24 19:12] yasker commented on #973
@guangbochen can you take a look at this?

[2021-06-24 19:16] noahgildersleeve commented on #973
When you try to delete this via the UI it hangs and won't finish `terminating`.
![Greenshot 2021-06-24 12 14 46](https://user-images.githubusercontent.com/83787952/123320016-108a5580-d4e6-11eb-840a-ef6355cecb51.png)

[2021-06-25 00:25] bk201 commented on #973
The root cause of this issue is the same as the one in https://github.com/harvester/harvester/issues/970.
It should be fixed together.

[2021-06-25 02:20] guangbochen commented on #973
duplicate of https://github.com/harvester/harvester/issues/970

[2021-06-25 02:20] #973 closed, assigned to nobody

[2021-06-25 15:40] tuxgoose opened #979 "[FEATURE]"
Solution
I would like to be able to deploy harvester nodes to arm based computers (raspberry pi/apple m1). It would be nice if I could manage all of my pis on one platform

Description
I have used rancherOS on my raspberry pis but managing my arm and x86 have always been separate.

[2021-06-25 20:31] yasker commented on #922
cc @ibuildthecloud

[2021-06-26 07:11] yaocw2020 opened #980 "[FEATURE] VLAN network enhancement: distinguish one and multiple NICs cases"
**Is your feature request related to a problem? Please describe.**

If the machine has only one physical NIC, the VLAN network and management network will use the same NIC, it has to inherit the IP address and routing rules of the NIC. However, if there are multiple physical NICs and the VLAN network use the NIC different from the management network, it is unnecessary to inherit the IP address and

[2021-06-28 04:09] yaocw2020 commented on #633
TODO:
- Support VLAN and kube-vip to use the same network interface.
- Keep the IP got from the DHCP server same after restarting. (block)
    - https://github.com/kube-vip/kube-vip/issues/220
- Use kubeconfig file as the cloud-config. (block)
- Automatical installation in REK2. (block)
    - https://github.com/rancher/rke2/issues/568
- UI integration: Enable the Harvester Load Balancer.

[2021-06-28 06:33] innobead commented on #283
ref: https://github.com/kubevirt/kubevirt/pull/5728

[2021-06-28 06:36] weihanglo commented on #283
Also One pod for all hotplug volumes: https://github.com/kubevirt/kubevirt/pull/5649

[2021-06-28 09:40] weihanglo commented on #283
According to [this thread][1], live migration with block volumes may fail in a K8s cluster with CPU Manager and static policy. There is a fix https://github.com/opencontainers/runc/commit/bf7492ee5 but in the thread they presume the fix may be released in K8s 1.22.

[1]: https://groups.google.com/g/kubevirt-dev/c/0UbMD2R92mQ

[2021-06-28 12:10] juadk commented on #897
Tested successfully with last ISO (master-158a35d3-head):
1- Create the minio-backupstore with `kubectl create -f https://raw.githubusercontent.com/longhorn/longhorn/master/deploy/backupstores/minio-backupstore.yaml`

2- Configure the backup target with:
[code]

![s3_01](https://user-images.githubusercontent.com/6025636/123634218-75adb600-d81a-11eb-870b-83c0210c4698.png)

3- Create a new backup
![

[2021-06-28 12:10] #897 closed, assigned to guangbochen, juadk, WuJun2016

[2021-06-28 12:36] ldevulder commented on #962
I've installed the latest master version (`master-158a35d`) and tested:
- installation with an internet connection that I've removed after: pod `harvester-webhook` was still in `Running` state
- installation without an internet connection: pod `harvester-webhook` was in `Running` state and Harvester status was `Ready`

So I was not able to reproduce the issue with the fix in PR#89, issue closed.

[2021-06-28 12:36] #962 closed, assigned to bk201, ldevulder

[2021-06-28 23:28] noahgildersleeve opened #982 "[BUG] VM status doesn't update when host goes down"
**Describe the bug**

VM status doesn't update when you take a host offline
**To Reproduce**
Steps to reproduce the behavior:
1. Create a VM on a host
2. Turn off the host
3. Wait for host to become unavailable
4. Check status of VM
**Expected behavior**

VM should either show that it's unavailable or migrate to a new host
**Support bundle**

[harvester-supportbundle_c77a57eb-bc3d-4ed3-9037-6f9da0

[2021-06-28 23:46] noahgildersleeve opened #983 "[BUG] You can't migrate a VM off of a host that is unavailable"
**Describe the bug**

You can't migrate a VM off of a host that is unavailable
**To Reproduce**
Steps to reproduce the behavior:
1. Create a new VM on a host in a cluster with at least 4 nodes
2. Turn off that host
3. Try to migrate the VM to a new host
**Expected behavior**

The VM should be able to be migrated
**Support bundle**

[harvester-supportbundle_c77a57eb-bc3d-4ed3-9037-6f9da0c0e2f6_2021

[2021-06-29 01:44] weihanglo commented on #982
<strike>Duplicate? https://github.com/harvester/harvester/issues/913</strike>

[2021-06-29 04:06] yaocw2020 opened #984 "[BUG] Can not disable VLAN network if the slave of harvester-br0 is a bond interface"
**Describe the bug**

Can not disable VLAN network if the slave of harvester-br0 is not physical NIC, such as NIC of bond type.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Enable VLAN network with a NIC of type bond.
2. Disable VLAN network.

**Expected behavior**

Disable VLAN network successfully.

**Support bundle**

**Environment:**
 - Harvester ISO version: v0.2
 - Underlying

[2021-06-29 09:34] juadk commented on #970
Tested successfully with the last ISO `master-46ee2188-head` and 5 nodes cluster:
* Create a VM:
![Screenshot from 2021-06-29 11-04-58](https://user-images.githubusercontent.com/6025636/123774228-823f1680-d8cd-11eb-8052-6a8d20517b84.png)
* Delete the VM:
![Screenshot from 2021-06-29 11-05-29](https://user-images.githubusercontent.com/6025636/123774400-a864b680-d8cd-11eb-9586-ff3d2ec20995.png)
![Sc

[2021-06-29 09:34] #970 closed, assigned to bk201, juadk

[2021-06-29 13:07] withinboredom commented on #480
Steps to get wifi working, for anyone who wants to know.

1. Switch to the terminal (ctl+alt+f2)
2. Start connmanctl: `sudo connmanctl`
3. Enable wifi: `enable wifi`
4. Scan and wait for completion: `scan wifi`
5. Look for your SIID: `services`
6. If any SIIDs have spaces in them, you will have issues (#953) -- see below for workaround
7. Enable the connection agent: `agent on`
8. Connect `connect

[2021-06-29 16:03] oxr463 commented on #480
@withinboredom thanks for that. Let me try it and see if I can get mine to work.

[2021-06-29 17:11] noahgildersleeve commented on #945
I retested this on S3 and these were the failures.
- Delete last backup in chained backup
- Restore last backup in chained backup
  - It's showing the files from backup 2 not backup 3
- Restore middle backup in chained backup
  - Showing the files from backup 1 not backup 2
- Restore First backup in chained backup
  - file1.md5 was empty

[2021-06-29 17:11] noahgildersleeve commented on #960
I tested NFS again and these were the failures.
- Delete first backup in chained backup
- Delete last backup in chained backup
- Restore last backup in chained backup
- Restore middle backup in chained backup

[2021-06-29 19:02] yasker commented on #283
Filed https://github.com/rancher/rke2/issues/1204 to track the file in RKE2.

[2021-06-30 03:00] weihanglo opened #985 "[BUG] Cannot delete existing volumes once attached to a deleted VM"
**Describe the bug**

Cannot delete existing volumes once attached to a deleted VM

**To Reproduce**
Steps to reproduce the behavior:

1. Create a VM from Web UI.
    1. Use an image for the first disk,
    1. and an existing volume for the second one.
1. Wait until the VM is running and delete the VM.
1. A dialog will pop up to ask if the user also want to delete volumes. Choose all of them and c

[2021-06-30 05:31] bk201 commented on #985
I think the more appropriate **expected behavior** is:

_When go to the Volumes pages, the second volume should not be there. Since we already selected it to be deleted with VM together._

The cause is the existing datavolume doesn't have a owner reference, thus it's not garbage-collected after the VM is deleted.

[2021-06-30 08:14] weihanglo commented on #283
Jotted down some design questions:

1. KubeVirt's virtctl provides a persistent feature for hotplug volume, which means [whether write the changes to VM template or not][1]. If choosing persisnt, hotplug volumes will "become a persistent volume” after a VM restart. Should we give the options to user? Or just choose one default way.

2. Since Harvester uses in-house snapshot instead of KubeVirt sna

[2021-06-30 08:35] guangbochen commented on #283
1. the type should default to persisted when adding a new hot plugin disk, and if we want to support the ephemeral disk, can we tell users the disk type from the UI or they can only check within the VM?
2. we should support both snapshot and backup of the persisted disk since this is just a regular disk of the Harvester VM.

In regards to the UI, I think we only need to add an additional VM action

[2021-06-30 08:57] weihanglo commented on #283
Thanks for your rapid reply. Totally agree with the UI part, which makes the intention more clear. 👍🏾

If we want to show "Persistent" or "Ephemeral" tag for hotplug volume, frontend need to

1. first inspect the spec and status of virtualmachine to determine if a volume has datavolumetemplate, and
2. then inspect the status of virtualmachineinstance to determine if a volume is hotplug or not

I'l

[2021-06-30 12:04] juadk commented on #956
Tested successfully with `master-46ee2188-head` on a 5 nodes cluster.

I can see the hosts with the default namespace view: "Only User Namespaces".
![Screenshot from 2021-06-30 13-59-35](https://user-images.githubusercontent.com/6025636/123956937-85a8cf80-d9ab-11eb-85d0-31bb170b1fe5.png)
Both sidebar and dashboard host links are pointing to the same URL now: `/dashboard/c/local/virtual/host
`

[2021-06-30 12:04] #956 closed, assigned to juadk, n313893254

[2021-06-30 12:15] juadk commented on #976
Tested successfully with `master-46ee2188-head` on a 5 nodes cluster.
With the fix, only one confirmation message is printed. LGTM
Tested with several components (images, VMs, hosts, networks).

![Screenshot from 2021-06-30 14-12-12](https://user-images.githubusercontent.com/6025636/123958548-79be0d00-d9ad-11eb-93c1-8212360c6e89.png)
![Screenshot from 2021-06-30 14-11-45](https://user-images.githu

[2021-06-30 12:15] #976 closed, assigned to juadk, n313893254

[2021-06-30 13:19] juadk commented on #961
Tested successfully with master-46ee2188-head on a 5 nodes cluster.
* I created 2 VMs:
**vm1** with 3 disks: vm1-disk-0, vm1-disk-1, **vm1-disk-2**
**vm2** with 3 disks: vm2-disk-0, vm2-disk-1 and the already existing disk **vm1-disk-2**
![Screenshot from 2021-06-30 14-56-04](https://user-images.githubusercontent.com/6025636/123964597-dcb2a280-d9b3-11eb-8faf-6e7956aac4a4.png)
On the below screensh

[2021-06-30 13:19] #961 closed, assigned to juadk, n313893254

[2021-06-30 13:30] weihanglo opened #987 "[BUG] Manually attached volumes don't show up in Volume page after restore"
### Describe the bug

After a successful backup, when we try to restore a VM attached with manually attached volumes (a.k.a volume added via "Add Existing Volume" button), the volumes won't show up in  Volume page nor VM's volume section.

It may due to these lines, which creating PersistentVolumeClaims instead of DataVolumes if the volume in backup content cannot match any in DataVolumeTemplate.

[2021-06-30 14:45] juadk commented on #957
The network API doc is now available here https://docs.harvesterhci.io/v0.3-dev/reference/api/
Regarding `apiVersion`, `kind`, `metadata/name` and `metadata/gererateName` as required fields. it looks good to me if I'm checking the POST command to create a KeyPair object:
![Screenshot from 2021-06-30 16-44-08](https://user-images.githubusercontent.com/6025636/123981254-7bde9680-d9c2-11eb-8ef1-bcaf3

[2021-06-30 18:50] guangyee commented on #957
The networking API are there. The name field still not consistent for some resources. For example, for virtualmachinetemplates, the name or generateName still required but it was marked as required.

[2021-06-30 20:14] yasker commented on #553
Due to the dependency of CSI snapshot for Longhorn snapshot (instead of backup), move the feature to v1.1.0 instead.

[2021-06-30 20:15] yasker commented on #569
Due to the dependency on https://github.com/longhorn/longhorn/issues/2534 , move the feature to v1.1.0.

[2021-06-30 22:20] yasker commented on #283
@guangbochen @weihanglo I doubt we need use to choose `persistent` or `ephemeral`. What is the use case for ephemeral?

FYI: not directly related, but we're removing the snapshot feature from GA scope due to complexity on Harvester and Longhorn side.

[2021-06-30 23:49] weihanglo commented on #283
Yeah. We also tend to skip `ephemeral` at this moment.

What do you refer to by snapshot here? When I say snapshot I mean Harvester backup/restore feature. Are we on the same page? Sorry for misusing these terms.

[2021-06-30 23:57] yasker commented on #283
@weihanglo I meant https://github.com/harvester/harvester/issues/553 . It's using Longhorn in-cluster snapshot (instead of backup).

[2021-07-01 02:03] guangbochen opened #988 "[FEATURE] backup VM required metadata to the external storage server"
**Is your feature request related to a problem? Please describe.**
Currently, only the VM volumes will be backup to the external storage server, we should also save the VM YAML to the external storage server so that it can be redeployed to the other cluster.

**Describe the solution you'd like**
- [x] store the VM metadata to the external storage server

**Describe alternatives you've considered**

[2021-07-01 02:15] yasker commented on #988
Those can be set using the label in the Backup.

[2021-07-01 03:06] guangbochen commented on #979
close in favor of duplication https://github.com/harvester/harvester/issues/371

[2021-07-01 03:06] #979 closed, assigned to nobody

[2021-07-01 06:43] juadk commented on #957
@gitlawr Could you take a look at this please?

[2021-07-01 07:13] n313893254 opened #989 "[Bug] Stop action can be click when the VM is "off" state"
**Describe the bug**
The Stop action menu is clickable when the VM is "off" state, and after clicking it, the console is throwing a network error.

![image.png](https://images.zenhubusercontent.com/59db4297b0222d5de47ad632/837bd592-bdce-4275-af44-eac75a1bb975)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a standard VM.
2. Try to stop the VM. wait for it to the off state.
3. You can

[2021-07-01 07:22] gitlawr commented on #957
@guangyee I can see that the name of virtualmachinetemplates is marked as required, is there anything I am missing?
![image](https://user-images.githubusercontent.com/5697937/124083110-12bd5880-da80-11eb-9e4e-6257dedce736.png)

[2021-07-01 07:43] juadk commented on #989
Also reproducible with the last master branch version: `master-46ee2188-head`

[2021-07-01 08:25] WuJun2016 commented on #975
@DaiYuzeng   Solve problems in customer projects,

@guangbochen   harvester will not have this problem after merge to dashboard

[2021-07-01 16:35] noahgildersleeve opened #991 "[BUG] Host goes unavailable when deleted"
**Describe the bug**

When you delete a host from the UI it doesn't get removed and goes into unavailable status
**To Reproduce**
Steps to reproduce the behavior:
1. Create a 4 node cluster
2. Create some VMs on one of the nodes
3. Delete a node that doesn't have any VMs on it

**Expected behavior**

The host should delete
**Support bundle**

[harvester-supportbundle_bf0fe65b-3289-4a27-b0bd-6593c8

[2021-07-02 02:18] A-vesalius opened #992 "[FEATURE] PCI-E passthrough (and GPU support)"
**Is your feature request related to a problem? Please describe.**
VM cannot utilize the full network capability of baremetal hardware, especially 10gbe and above as well as DPDK with harvester.

**Describe the solution you'd like**
Leverage Multus which has the ability to use pci-e passthrough, IOMMU and VT-d, devices and SR-IOV VFs for kubernetes networks. Once these VF's aresetup on baremetal t

[2021-07-02 16:22] WuJun2016 opened #993 "[BUG]When creating VM template and selecting to add sshkey, the backend should save the keypairs field"
**Describe the bug**

![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/1f744ab9-a333-4779-9c98-a459ceb4a06c)
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'

**Expected behavior**

**Support bundle**

**Environment:**
 - Harvester ISO version:
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630):

**Additional context**
Add any other con

[2021-07-03 08:13] masterdubs opened #994 "[BUG] VM is stuck in terminating after a reboot"
**Describe the bug**
The VM is stuck in terminating after a reboot or sometimes arbitrary. It happen on the master node ( first k3s node installed) not on the second one.
I need to delete the pod manually ( using force ) to get the vm recreated.

**Environment:**
 - Harvester ISO version:  0.2.0
 - Baremetal 2 servers, SSD

[code]

[2021-07-03 12:00] deantheiceman opened #995 "[Question] high availability deployment (and slack invite?)"
Hi,

I'm reading through the docs and would like to try a 3 node deployment. I've got a few questions hoping you can help:

- What kind of HDD configurations can we use? Do they need to be in RAID? Where can we configure this type of storage?
- Is the master of the harvester initial kubernetes configuration high available, or is it on the first server? Can we have it running on all servers?
- How

[2021-07-03 13:30] deantheiceman commented on #995
Also if we're deploying rancher on top of harvest, can we reuse the same longhorn storage for the deployed kubernetes on top as well?

p.s. slightly off topic, can we deploy rancher ontop of harvester with r3os or suse microos? and is this compatible with longhorn? longhorn docs says it only supports ubuntu or centos

[2021-07-03 14:21] #995 closed, assigned to nobody

[2021-07-05 02:57] insbire opened #996 "[Bug] etcd panic after power off"
We are trying to build a harvester server for test envorienment.

1. The installation is problemlos, up and running.
2. Plug out LAN cable, turn on the server. Of course unavailable
3. Plug in the LAN cable, restart server. The DHCP not working, still unavailable

Harvester management URL:  Unavailable
Current status:                         Setting up Harvester

I need to config harvester manual.

[2021-07-05 03:03] yaocw2020 commented on #996
If DHCP doesn't work, you should configure a static IP while installation.

[2021-07-05 03:10] insbire commented on #996
Yeah, that's why i wanna config harvester manual AFTER installation.

[2021-07-05 03:17] yaocw2020 commented on #996
You can not config the IP after installation. I recommend you to reinstall the Harvester and configure an static IP while installation. Related document: https://docs.harvesterhci.io/v0.2/install/iso-install/
![image](https://user-images.githubusercontent.com/7421463/124413108-962dc100-dd82-11eb-93d3-a005654102ec.png)

[2021-07-05 08:37] futuretea opened #999 "[BUG] VM keep starting if enable namespace ResourceQuota"
**Describe the bug**

![image](https://user-images.githubusercontent.com/15064560/124441955-d6a33400-ddae-11eb-8f7e-18fea3fe5089.png)

**To Reproduce**
Steps to reproduce the behavior:
1. create a  namespace test
2. configure namespace test's ResourceQuota on Rancher
3. create vm on namespace test

**Expected behavior**

vm running

**Support bundle**

**Environment:**
 - Harvester ISO version:
 -

[2021-07-05 08:56] juadk commented on #932
Tested successfully with the last master branch `master-88f1d22c-head` and a 5 baremetal nodes cluster.
- Create a VM :heavy_check_mark:
- Log in to VM :heavy_check_mark:
- Create a file (testfile1 - testfile2) :heavy_check_mark:
- Turn off the VM :heavy_check_mark:
![Screenshot from 2021-07-02 16-20-43](https://user-images.githubusercontent.com/6025636/124444065-83b18880-dd7e-11eb-8f97-828ac02eef

[2021-07-05 08:56] #932 closed, assigned to juadk, weihanglo

[2021-07-05 09:44] ldevulder opened #1000 "[BUG] Cannot create a Namespace inside a Project"
**Describe the bug**
After a fresh install I successfully created a new project called `test-project`. I then had the option to create a new namespace inside that project, so I tried to create on called `test-ns` but I have this error message: `Cannot read property 'id' of undefined`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Projects/Namespaces`
2. Click on `Create Project`
3.

[2021-07-05 10:04] n313893254 commented on #642
`state` is `running` with `i`.  The search result is expected.

[2021-07-05 10:12] ldevulder opened #1001 "[BUG] No filtering on Projects/Namespaces page"
**Describe the bug**
In `Projects/Namespaces` tab, when I try to filter by selecting `All Namespaces`, `Only System Namespaces` or something else I still have the same results. It seems that the filtering is not working at all.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Projects/Namespaces`
2. Select another filter than the default one: list is still the same.

**Expected behavio

[2021-07-05 10:14] n313893254 commented on #661
`a` is search by id, which prefix is a namespace. I guess is 'default'.

After fixed, It only searches by name, state, CPU, and memory.

[2021-07-05 12:41] juadk commented on #902
I'm running the tests filled in the images section with the last master branch.
From my point of view, I agree that we can delete an image used by an active VM, it makes sense to me. So, is this issue can be closed though?

[2021-07-05 15:23] ldevulder opened #1002 "[BUG] Created namespace appears as User but created project appears as System"
**Describe the bug**
A new created namespace appears as User namespace, but a new created project appears as a System namespace : is it expected?

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new namespace in `Projects/Namespaces` as well as a new project
2. Create an image for each new created project/namespace
3. Check with the filter: you can see that the image for the namespac

[2021-07-06 02:14] yaocw2020 commented on #996
[k3s-service.log](https://onedrive.live.com/?authkey=%21AEshTRhzH5tpFcM&cid=5ABEA84C428ECABF&id=5ABEA84C428ECABF%21852&parId=5ABEA84C428ECABF%21770&o=OneUp)

[code]

[2021-07-06 02:16] yaocw2020 commented on #996
I think it's the same problem with [ectd failed to get all reachable pages](https://github.com/etcd-io/etcd/issues/10722) @insbire

[2021-07-06 03:11] DaiYuzeng opened #1003 "[BUG] Cannot choose either volume or vlans not in default namespace"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. I created `Volume` and `Vlan` that both are not in `default` namespace.
![volume-list.png](https://images.zenhubusercontent.com/60370508fd3d02bfb6c4ba36/9dd324bf-2f3a-4e45-a352-58a3b9b11e6b)
![network-list.png](https://images.zenhubusercontent.com/60370508fd3d02bfb6c4ba36/43dfb8b8-df12-4528-b21d-4896aa25cc9c)
2. The options

[2021-07-06 04:37] #996 closed, assigned to nobody

[2021-07-06 08:23] guangbochen commented on #972
Kubernetes objects have a resource version that is unique for each update. If an update comes in that has an out-of-date resource version, it is rejected to prevent racing updates from clobbering each other. it is an implementation detail.

[2021-07-06 08:23] #972 closed, assigned to nobody

[2021-07-06 08:39] guangbochen commented on #848
@futuretea is this still an issue of the node driver?

[2021-07-06 13:10] juadk commented on #985
Tested successfully with the last master branch `master-50c6f22c-head`.

- Create a VM with 2 volumes and delete the VM with all the volumes:
![image](https://user-images.githubusercontent.com/6025636/124605117-e16fce80-de6b-11eb-90da-0ccb388ea6fa.png)
- The VM is well destroyed:
![image](https://user-images.githubusercontent.com/6025636/124605186-f2b8db00-de6b-11eb-92fd-cde2c8f6d9e3.png)
- As wel

[2021-07-06 13:10] #985 closed, assigned to juadk, weihanglo

[2021-07-06 18:19] noahgildersleeve opened #1004 "[BUG] VMs don't start after migrating off of deleted node"
**Describe the bug**

VMs don't start when moving off of a host that's being deleted
**To Reproduce**
Steps to reproduce the behavior:
1. Create a 4 node cluster
2. Add 4 VMs
3. Create them as Image template VMs with the last three being cloned off of the first
3. Delete the host that they are on
**Expected behavior**

The VMs should migrate then start
**Support bundle**

[harvester-supportbundle_

[2021-07-07 01:29] guangyee opened #1005 "[BUG] Harvester API doc not viewable as it expends"
**Describe the bug**
Harvester API doc is seem to get cutoff and become un-viewable as we drill down the model descriptions.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.harvesterhci.io/v0.3-dev/reference/api/
2. Select 'POST /apis​/kubevirt.io​/v1​/namespaces​/{namespace:[a-z0-9][a-z0-9\-]*}​/virtualmachines'
3. Select 'model' and start drilling down. i.e. click on 'sp

[2021-07-07 03:07] gitlawr commented on #991
The deletion is blocked by the finalizer
[code]

The workaround is removing the finalizers field of the node resource.

K3S issue: https://github.com/k3s-io/k3s/issues/2669

We can wait for the upstream fix.

[2021-07-07 06:15] gmle opened #1006 "[Question] The k3s pods services cannot be started after the host is restarted."
After restarting the server, some pods cannot be started and the ui cannot be accessed.
Have been restarted many times.

Pods status(The three machines are different, The kubectl on the other two machines can’t work anymore):
[code]

Services status:
[code]

NetworkCard(3):
[code]

[code]

[code]

logs(section):
[code]

[2021-07-07 06:21] gmle commented on #1006
logs:
[code]

[2021-07-07 06:59] insbire opened #1007 "[BUG] 3rd Virtual Machine always Starting, not Running"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Creat 2 VMs used https://github.com/rancher/k3os/releases/download/v0.20.7-k3s1r0/k3os-amd64.iso, worked fine.
2. From the 3. VM always starting, not running.

**Expected behavior**

**Support bundle**

[harvester-supportbundle_e622d515-edce-4b59-b5c0-c86d3ee2bdcf_2021-07-07T06-49-02Z.zip](https://github.com/harvester/harve

[2021-07-07 18:58] guangyee opened #1008 "[BUG] Image object does not expose storage class"
**Describe the bug**
PVC storageClassName is required when creating a VM, and it must match the image's storage class. However, the image
object currently does not expose the storage class (i.e. backingImageStorageClass) after the image is imported.

**To Reproduce**
1. from UI, create an image with an valid image URL
2. after the image is successfully imported, view the image object from 'View in

[2021-07-07 19:21] yasker commented on #1008
I am not sure how the storage class name was decided currently when creating the disks based on the image, but we should write it as metadata information in the image status, so other callers can use it as well.

[2021-07-07 23:28] liyimeng opened #1009 "[BUG] first login get {"errors":["Failed to get JWE token from request"]}"
**Describe the bug**

deploy harvester with helm, and get the browser point the UI address. Instead of getting admin password setup, I get error

{"errors":["Failed to get JWE token from request"]}

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy with helm chart
2. Try to accept UI
3.
**Expected behavior**

Get admin password setup page.

**Support bundle**

**Environment:**
 - Harvest

[2021-07-08 01:55] gitlawr commented on #922
To test:
1. Install Harvester. Set the rancher-enabled setting to true. Check that Harvester APIs are served under both `<Rancher_URL>/k8s/clusters/local/v1/harvester` and `<Rancher_URL>/v1/harvester`
2. Install Harvester. Install an external Rancher(master-head). Import the Harvester cluster to the external Rancher. Check that Harvester APIs are served under `<Rancher_URL>/k8s/clusters/<cluster-i

[2021-07-08 02:00] guangbochen commented on #923
Since the [API aggregation](https://github.com/harvester/harvester/issues/922) feature is merged, we should be able to continue the UI integration work using the [master-head](https://releases.rancher.com/harvester/master/harvester-amd64.iso) ISO image. @WuJun2016

[2021-07-08 02:47] guangbochen commented on #1006
for each node u got two physical NICs and which one did u select as the management network during the Harvester installation, also how did u customize the network configuration afterwards?

Additionally, the etcd log shows the remote IP address is `172.19.38.168` but the ip-address only contains `172.19.38.188` only, so the DNS was not able to resolve the `172.19.38.168` correctly.
[code]

[code]

[2021-07-08 03:54] gitlawr commented on #283
There seems to be gaps between kubevirt behaviors and our expectations:

~~**Kubevirt behavior:**
If the volume is added ephemerally(in VMI spec), after a VM restart the disk is detached.
**Expected:**~~

Edit: We don't consider the ephemeral case

**Kubevirt behavior:**
The number of permanent volumes cannot be changed without a restart.
If the volume is added as permanent volumes(in VM spec), af

[2021-07-08 04:18] weihanglo commented on #879
Unfortunately, [`datavolume.spec` is frozen after creation][1] (except multistage import).
[The documentations of DataVolume][2] also points out this property:

Although we can modify the underlying size of PersistentVolumeClaim to trigger an expansion, the DataVolume owning the PVC  won't reflect the change, so it is not a good way when dealing with this feature.

There are one solution I can thi

[2021-07-08 05:10] gitlawr commented on #879
What if we don't use datavolume and use PVC directly?

[2021-07-08 05:19] weihanglo commented on #879
What do you mean by "use PVC directly"? Creating a vm without DV or editing PVC's size directly? For the former, it needs to change a certain amount of code, including Web UI. For the latter it will cause size inconsistency between DataVolume and PVC,  namely the difference between `dv.spec.pvc.resource.requests.storage` and `pvc.spec.resource.requests.storage`.

[2021-07-08 05:29] guangbochen commented on #879
It will definitely work, but meanwhile, we are losing the capability of some nice features from CDI like [importing VMWare image to the Harvester](https://github.com/kubevirt/containerized-data-importer/blob/c963ebb276024c4e5041a194c126b3589d43f4fb/doc/datavolumes.md#vddk-data-volume), let's discuss this on the next syn-up and the other solution is to fix it on the upstream CDI to support volume e

[2021-07-08 09:38] weihanglo commented on #879
Probably related: https://github.com/kubevirt/containerized-data-importer/issues/1689.

There is also an online resizing PR against KubeVirt. Not directly related but we can keep an eye on it. https://github.com/kubevirt/kubevirt/pull/5981

[2021-07-08 09:53] ldevulder commented on #1008
I checked on the previous master version and the field was not here, as expected. I then tested with the latest master version (`master-84781dcb-head`) and I now see the `storageClassName` field in `View in API` mode:
[code]

So all looks good.

[2021-07-08 09:53] #1008 closed, assigned to gitlawr, ldevulder

[2021-07-08 13:36] guangbochen commented on #902
close for now as this is expected behavior.

[2021-07-08 13:36] #902 closed, assigned to nobody

[2021-07-08 13:43] guangbochen commented on #910
close in favor of the https://github.com/harvester/harvester/pull/860

[2021-07-08 13:43] #910 closed, assigned to nobody

[2021-07-08 14:32] guangbochen commented on #648
this should be addressed with https://github.com/harvester/harvester/pull/998, the `CustomResourceDefinition is deprecated` error is expected to be gone in the harvester logs.

[2021-07-08 15:10] yasker commented on #922
@gitlawr

On test step 4: does it apply to both embedded Rancher and MCM (Multi-Cluster Management/external) Rancher?

[2021-07-08 23:56] noahgildersleeve commented on #922
Tested with Rancher at master-head and harvester at master-ff3c1994-head. Import of harvester backend rancher was imported successfully into separate rancher install done via Docker install on `rancher/rancher:master-head`.  Tested at
1. <Rancher_URL>/k8s/clusters/local/v1/harvester`  on harvester rancher
2. `<Rancher_URL>/v1/harvester` on harvester rancher
3. `<Rancher_URL>/k8s/clusters/<cluster-

[2021-07-09 02:56] gitlawr commented on #922
To clarify, step 4 refers to the external Rancher users/APIs. Per discussion, we only support a single admin user in embedded Rancher.

[2021-07-09 03:10] gitlawr commented on #1007
There's no sufficient storage.
Disk size of the single node: 19506000Ki ≈ 20Gi

logs in longhorn manager pod:
[code]

Do you install Harvester on R630 bare metal server or a small VM on top of it?

[2021-07-09 03:22] gitlawr commented on #1007
We need to improve VM status or messages when disk space is insufficient so that users can easily know the cause.

[2021-07-09 03:52] insbire commented on #1007
I installed Harvester on bare metal server.
Based on your infos, tried as following:
1. Create 2 VM. on Harvester
<img width="564" alt="01 vm" src="https://user-images.githubusercontent.com/86938244/125020473-7c0a2080-e0ab-11eb-850e-655a214cebb7.png">

2. k3os1 with 10GB storage, running
<img width="560" alt="02 k3os1 volumes" src="https://user-images.githubusercontent.com/86938244/125020484-81676

[2021-07-09 04:07] gitlawr commented on #1007
Can you check why your node has this limited disk size?

[2021-07-09 04:51] insbire commented on #1007
R U sure it's because of disk size? Just tried 4 VMs with Storage 10G, 20G, 40G and 100G. Nothing changed.
<img width="566" alt="vms" src="https://user-images.githubusercontent.com/86938244/125024807-14a49e80-e0b4-11eb-991f-eaceee0bec32.png">
<img width="561" alt="volumes all" src="https://user-images.githubusercontent.com/86938244/125024819-18382580-e0b4-11eb-9d6d-5a7bfaa43c39.png">

`
<html>
<bo

[2021-07-09 06:35] gitlawr commented on #1007
I meant the disk of the node(host), not VMs. Can you `ssh rancher@<server-ip>` with the admin password you set on installation and run `sudo df -h` there

[2021-07-09 06:41] yaocw2020 commented on #984
To test:
- Repalce the image tag of the Harvester Network Controller daemonset as the `master-head`.
- Login host to create a bond interface `bond0` with the following shell command.
[code]
- Enable VLAN with default NIC `bond0`. Check the master of bond0 with the following shell command. It should be `harvester-br0`.
[code]
- Disable VLAN. Check the master of bond0 with the following shell comman

[2021-07-09 06:47] gitlawr commented on #1007
I think the cause is that you installed Harvester via BIOS but the disk size is larger than the MBR limit(2TB). (If that's the case)Can you reinstall using UEFI?

[2021-07-09 06:56] insbire commented on #1007
<img width="960" alt="屏幕截图 2021-07-09 144727" src="https://user-images.githubusercontent.com/86938244/125036629-cac4b400-e0c5-11eb-8468-eddee9640dab.png">
<img width="960" alt="屏幕截图 2021-07-09 144944" src="https://user-images.githubusercontent.com/86938244/125036649-d021fe80-e0c5-11eb-9c38-82f80b68401d.png">
<img width="960" alt="屏幕截图 2021-07-09 145123" src="https://user-images.githubusercontent.c

[2021-07-09 06:59] johnliu55tw opened #1012 "[BUG] Failed to create image when deployed in private network environment"
**Describe the bug**
I've deployed Harvester using ISO in a private network, where HTTP Proxy is required to fetch external URLs. During the installation, the HTTP Proxy was set accordingly.

I tried to create an image using an external URL (https://cloud-images.ubuntu.com/focal/20210707/focal-server-cloudimg-amd64.img), it failed and shows error message:

![image](https://user-images.githubuserco

[2021-07-09 07:39] juadk commented on #922
Tested with Rancher at `master-head` and harvester at `master-ff3c1994-head`.
1. `<Rancher_URL>/k8s/clusters/local/v1/harvester` and `<Rancher_URL>/v1/harvester` OK
![image](https://user-images.githubusercontent.com/6025636/125041242-d352c580-e098-11eb-9aa3-d474b748de73.png)
![image](https://user-images.githubusercontent.com/6025636/125041330-e9f91c80-e098-11eb-89d8-c4ad656615a2.png)
2. With Exter

[2021-07-09 07:47] gitlawr commented on #1012
The proxy configuration of the installer is used to fetch remote config files during the installation. It takes no effect afterward.

Configuring in the OS environment does no help because jobs are done in containers.
Theoretically, it works if we set http_proxy envs to harvester server pods and longhorn backing-image-manager pods(who do the download work) but it seems that backing-image-manager p

[2021-07-09 08:42] insbire commented on #1007
Reinstalled. The BIOS of DELL R630 support UEFI.
![微信图片_20210709161152](https://user-images.githubusercontent.com/86938244/125047416-8808d900-e0d1-11eb-8dde-2fbf8a0201e4.jpg)
And the disk sda 2.2T was already recognized by Harvester.
![微信图片_20210709161203](https://user-images.githubusercontent.com/86938244/125047440-92c36e00-e0d1-11eb-9d36-258ae6588bf6.jpg)

After installation why the storage has

[2021-07-09 09:02] gitlawr commented on #1007
Can you try to provide a remote harvester config like the following during the installation?
https://gist.githubusercontent.com/gitlawr/12d50e8e2833e1952f7bbecb8743b163/raw/f4ce2cd08555a03aec311b030c2690d2c5c96151/force-efi.yaml

By default It creates EFI partitions if `/sys/firmware/efi` is detected. I'm not sure why it misses in this case.

For reference: https://docs.harvesterhci.io/v0.2/instal

[2021-07-09 09:25] gitlawr commented on #777
A simple way to reproduce:
Create a VM with a 10000Gi disk

Result:
The VM keeps in starting state. No useful VM events/info that reveals the cause.

[2021-07-09 10:04] ldevulder commented on #984
I tested with version `master-902bee60-head`.
After VLAN activation I have this state for `bond0`:
[code]
So the master of `bond0` is `harvester-br0`.

After disabling VLAN I have this state:
[code]
And there is no master on `bond0`, as expected. I also don't have any error messages in `/var/log/message`.

Issue closed.

[2021-07-09 10:04] #984 closed, assigned to yaocw2020, ldevulder

[2021-07-09 13:04] ldevulder commented on #917
Tested on version `master-902bee60-head`. I set a node with VMs on it in cordoned mode: the VMs were not moved and newly created VMs are not scheduling on it. I also tested with multiple node in cordon state as well as some node in maintenance mode and no VMs were scheduling on cordoned nodes.

So fixed, issue closed.

[2021-07-09 13:04] #917 closed, assigned to DaiYuzeng

[2021-07-09 13:15] nittanygeek opened #1013 "[BUG] Harvester install crashes when assigning Static IP to join existing cluster."
**Describe the bug**
When trying to join an existing cluster and setting a static IP for the node, the installer will crash.

**To Reproduce**
Steps to reproduce the behavior:
1. Select 'Join existing Harvester cluster' from the installer
2. Select 'Static' for the network
3. When you type in the static IP address and press Enter, the installer crashes.

**Expected behavior**
I expected that the n

[2021-07-09 13:23] ldevulder commented on #782
Tested on version `master-902bee60-head`. On `Host` page when I click on a host I now directly have the `Virtual Machines` page with the list of active VMs on the node.

Issue closed.

[2021-07-09 13:23] #782 closed, assigned to n313893254, WuJun2016, ldevulder

[2021-07-09 14:28] ldevulder commented on #661
Tested on version `master-902bee60-head`. I was able to filler by VM name, CPU, RAM and state. I was not able to reproduce the previous behavior, namespace is not part of the filtering anymore.

Issue closed.

[2021-07-09 14:28] #661 closed, assigned to n313893254, ldevulder

[2021-07-09 14:47] ldevulder opened #1014 "[BUG] Trying to set maintenance mode on the last available node shouldn't be allowed"
**Describe the bug**
On a 5 nodes cluster where 4 nodes are maintenance/cordon mode I tried to set the last mode in maintenance and so the cluster tries to migrate 2 VMs, which is not possible as there is no free worker. So the `Migrating` state for VMs stay after hours and the node as the same issue with `Entering maintenance mode` state. And, of course, the VMs that are in `Migrating` state are

[2021-07-09 14:53] ldevulder commented on #1014
After a quick discussion on slack here a comment from @yasker :
[code]

[2021-07-10 10:02] insbire commented on #1007
I reinstalled Harvester again, did same configuration. It seems normal this time. Confused
<img width="619" alt="Hosts 07-10" src="https://user-images.githubusercontent.com/86938244/125159238-cae9b000-e1a8-11eb-9012-485e8c3e833f.png">
[df -h 2021-7-10.txt](https://github.com/harvester/harvester/files/6795017/df.-h.2021-7-10.txt)

[2021-07-10 12:09] larssb commented on #994
I experienced the same thing. Though the entities that I saw this happening with was Pods I deployed, not through the Harvester UI, but KubeVirt VM's deployed with a tool called [kcli](https://github.com/karmab/kcli). Suddenly, one day, out of the blue, these kcli deployed KubeVirt VM's (running K3s) where not responding and they where running on the Harvester master node (the first one deployed)

[2021-07-12 01:53] gitlawr commented on #994
Can you provide a support bundle to help us investigate? You can generate that at the bottom of the UI

[2021-07-12 02:54] guangbochen commented on #1013
looks like a similar issue of https://github.com/harvester/harvester/issues/698, caused by small screen resolution

[2021-07-12 06:46] yaocw2020 commented on #807
@WuJun2016 Please help to display the state of NICs in the UI.

[2021-07-12 08:44] guangbochen commented on #971
**Testing plan:**
- config the s3 backup target with the specified region and endpoint e.g, ap-northeast-1 and https://s3.ap-northeast-1.amazonaws.com respectively.
- config the s3 backup target without specifying the endpoint but the region only.

[2021-07-12 11:03] juadk commented on #966
Tested successfully on the last master branch `master-902bee60-head`.
I was able to see the stopping status when I restarted a VM:
![image](https://user-images.githubusercontent.com/6025636/125276149-2c785e80-e310-11eb-9d06-1bcd8d30c4b4.png)
I checked all the other status as regression tests, stop, start, migration, pause: :heavy_check_mark:

[2021-07-12 11:03] #966 closed, assigned to juadk, n313893254, WuJun2016

[2021-07-12 11:38] nittanygeek commented on #1013
I think this is precisely the issue.  It drops to the command line.  I found that typing ```exit``` will get me back to the installer, but it then starts over.

[2021-07-12 12:31] weihanglo commented on #838
Maybe this helps
https://github.com/rancher/dynamiclistener/pull/41

[2021-07-13 00:06] weihanglo commented on #879
Related: https://github.com/kubevirt/containerized-data-importer/issues/1858

[2021-07-13 00:08] weihanglo commented on #283
Related "Support hotplug volume being hot-unpluggable after restart": https://github.com/kubevirt/kubevirt/issues/6010

[2021-07-13 01:06] guangyee commented on #957
Would be awesome if we can document the metrics APIs as well. Basically API that UI uses we should have them documented in Swagger.

[2021-07-13 03:48] guangbochen opened #1016 "[FEATURE] Bump longhorn to v1.1.2"
**Describe the solution you'd like**
Bump longhorn to v1.1.2 so that we can verify the current latest longhorn is fully compatible with the Harvester.

**Additional context**
related issue https://github.com/harvester/harvester/issues/849

[2021-07-13 08:54] n313893254 commented on #885
![image](https://user-images.githubusercontent.com/18737885/125422378-a3878250-e55c-4732-a372-7119fc078058.png)
It's done.

[2021-07-13 09:00] guangbochen commented on #849
**To Test:**
This should be addressed after bumping the longhorn to v1.1.2 with https://github.com/longhorn/longhorn/issues/2503, the filesystem type of the disk should be `xfs`. U may test using the multi-disk feature from longhorn by adding an additional `xfs` disk and run VM backup and restore using this external disk.

[2021-07-13 09:04] guangbochen commented on #1016
**Test plan:**
1. verify all the pods in the `longhorn-system` are healthy.
2. verify uploading VM images is working as expected.
3. verify creating VMs using the longhorn storage driver is working as expected.
4. consider verifying other additional VM features that are related to the LH storage driver(better to have those testings covered in the e2e test so we can use the testing framework to hel

[2021-07-13 10:39] weihanglo commented on #574
Given that KubeVirt already has [graceful shutdown feature] by specifying`VMspec.terminationGracePeriodSeconds`. The graceful shutdown is implemented as [ACPI power button signal]. And the force shutdown uses [`VIR_DOMAIN_DESTROY_GRACEFUL`] from libvirt, which equals sending SIGTERM to VM.

However, only [VM stop API] respects this value. [VM restart API] currently doesn't support graceful shutdow

[2021-07-13 12:42] weihanglo commented on #572
A possible user experience may be:

- When a user want to create a recurring backup
    1. A user goes to "Cron Jobs" page on the web UI.
    2. Then the user selects "create backup" job type and a dialog shows up.
    3. The user inputs [cron format] and select a VM to backup.
    4. The backup will start in schedule.
- A user also can check job status from the "Cron Jobs" page
   - A user can re

[2021-07-13 15:17] juadk commented on #971
Tested successfully with `master-07efe71c-head`.
* Configuration with the endpoint
![with_endpoint](https://user-images.githubusercontent.com/6025636/125475037-e5af9041-7383-4457-8e8f-183f8cfc0e96.png)
Test to backup a VM with the endpoint defined: :heavy_check_mark:

* Configuration without the endpoint
![without_endpoints](https://user-images.githubusercontent.com/6025636/125477752-fd232963-10a3

[2021-07-13 15:17] #971 closed, assigned to guangbochen, juadk

[2021-07-13 18:17] yasker commented on #581
Regarding the upgrade path, I've discussed with @ibuildthecloud. Some update here:
1. To upgrade the OS and Harvester, we need a Docker image registry and a Helm repo, even in the air gap environment.
2. The related images and charts are already packaged in the latest ISO.
3. We can add another mode to the installer (as a part of ISO), to serve the Docker image and Helm repo using the content in t

[2021-07-13 18:22] yasker commented on #572
FYI: Longhorn already provides a scheduled backup mechanism.

[2021-07-13 23:01] noahgildersleeve commented on #939
Tested in safari on mac os Version 14.1.1 (16611.2.7.1.4) and harvester version master-07efe71c-head. Verified as fixed.
![image](https://user-images.githubusercontent.com/83787952/125535910-038c067a-4cbe-4a40-9013-6d4267065ed5.png)

[2021-07-13 23:01] #939 closed, assigned to DaiYuzeng, noahgildersleeve

[2021-07-13 23:05] noahgildersleeve commented on #989
Tested in harvester master-07efe71c-head. Still have option to stop off VM.
![Greenshot_2021-07-13_16_03_52](https://user-images.githubusercontent.com/83787952/125536197-9abad8e9-e15e-4641-8870-2f58ebfbedad.jpg)

[2021-07-13 23:16] weihanglo commented on #989
@noahgildersleeve
master-07efe71c-head does not include commit 6ae8d8e, which is exactly that fix.

[2021-07-13 23:26] noahgildersleeve commented on #989
Ah, then @weihanglo. That was merged into master correct? I just did a deploy off of master about an hour or so ago.

[2021-07-13 23:41] noahgildersleeve commented on #989
I see. The build I did a deploy off of was from yesterday, but before you merged it into master. I'll check it after it goes through.

[2021-07-14 00:32] weihanglo commented on #572
That would be great if we can reuse Longhorn's [recurring job] feature by specifying longhorn volume `volume.spec.recurringJobs`. And because Longhorn already [validates recurring jobs input], we might want to patch the volume directly from Harvester web UI via RESTful API.

The questions are:

1. Do we accept highly coupling between Longhorn and Harvester web UI? Or should we introduce a new API

[2021-07-14 00:32] weihanglo commented on #572
### Some snapshots from Longhorn UI

<details>

<summary>A button to show recurring job for each longhorn volume in volume page.</summary>

<img width="788" alt="image" src="https://user-images.githubusercontent.com/14314532/125542072-34c4ab01-b0b1-4948-bc8a-6c4cdc808b72.png">

</details>

<details>

<summary>Popup to show/add recurring jobs</summary>

<img width="1029" alt="image" src="https://us

[2021-07-14 09:08] yaocw2020 opened #1019 "[FEATURE] Harvester CCM & Guest CSI Automatic Integration with RKE2 Provisoner"
**Is your feature request related to a problem? Please describe.**
Both Harvester CCM & Guest CSI driver should install and configure by default when the user spins up a k8s cluster with the Harvester RKE2 node driver.

dependes on https://github.com/rancher/rancher/issues/33611

**Describe the solution you'd like**
- [x] RKE2 Chart integration
    - [x] Add Harvester CCM chart @yaocw2020
    - [x

[2021-07-14 09:47] weihanglo commented on #574
Some facts

- [default grace period is 30 seconds](https://git.io/JCEY9)
- KubeVirt does not expose `guest-shutdown` qemu guest agent command as an shutdown option for any RESTful API

[2021-07-14 10:14] yaocw2020 commented on #633
To test:
- Install harvester load balancer in the Harvester first. Refer to the [README](https://github.com/harvester/load-balancer-harvester/blob/main/README.md) of the Harvester Load Balancer repo.
- Set up an RKE cluster(guest cluster) with the Harvester node driver and add the addon configuration generated by a script in the RKE YAML. Refer to the [README](https://github.com/harvester/cloud-pr

[2021-07-14 10:36] bk201 commented on #581
Thanks for the update.

Do we want to go this way in day-1 installation? That is, a harvester installation needs Internet connection by default. And if users want to do installation in an air-gapped environment, they need to setup a registry first.

Currently, we are preloading images in the installation stage. And the benefit is user can bring up a cluster very quickly in any environment without

[2021-07-14 16:01] davidspek commented on #633
@yaocw2020 Should the kube-vip.interface be the same interface used for the management network? I have a few hosts where the VLAN and management NICs are the same, and installation of the load balancer seems to have brought down the Harvester cluster completely.

[2021-07-14 16:24] yaocw2020 commented on #633
I have submitted the pr to solve this problem. https://github.com/harvester/network-controller-harvester/pull/37
You can set the kube-vip.interface as `harvester-br0`. We also plan to set `harvester-br0` as the default interface for kube-ip in the Harvester.

[2021-07-14 16:28] davidspek commented on #633
Thank you for the quick response and fix. I'll setup a fresh cluster and test with the harvester bridge interface. This is an awesome project by the way, amazing work!

[2021-07-14 18:01] noahgildersleeve commented on #989
Tested in master-6ae8d8ee-head. Verified as fixed.

[2021-07-14 18:01] #989 closed, assigned to weihanglo, noahgildersleeve

[2021-07-14 19:29] yasker commented on #581
@bk201
1. We need to able to support it in the air gap environment, so there won't be a change in day 1 installation. We still want to bring up the cluster with the preloaded images.
2. The VM will be run by Harvester, to serve the Docker image and Helm repo.

[2021-07-14 22:46] noahgildersleeve opened #1020 "[BUG] Dropdown for namespaces is showing all system namespaces"
**Describe the bug**

The dropdown for namespaces is showing all system namespaces
**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to the dashboard for Harvester
2. Click the arrow next to the namespace filter

**Expected behavior**

It should only show the user created, or local (default) namespace
**Support bundle**

[harvester-supportbundle_0b1adc6b-9518-4cb6-8044-4353071f75d7_202

[2021-07-15 00:20] chajain opened #1021 "[BUG]View Link in the host API not working"
**Describe the bug**
The view link in the links field fails to return the particular host information

**To Reproduce**
Steps to reproduce the behavior:
1. Use the view link as specified in links view field of a specific host when 'View In API'
2. The host info is not displayed and it errors out with 'not authorized'

**Expected behavior**
The host info should be displayed for the host in view lin

[2021-07-15 11:31] juadk commented on #849
Tested successfully with the last master branch `master-6ae8d8ee-head` and longhorn v1.1.2. ISO mode with a 5 nodes cluster.
1. Define NFS as backup-target
2. Create a centos VM with root xfs disk and add one additional xfs disk.
3. Populate xfs disks with data
4. Check that my NFS remote folder contains the volumes (also in a xfs partition)
5. Take a backup
6. Remove some files created
7. Shut do

[2021-07-15 11:31] #849 closed, assigned to juadk, futuretea

[2021-07-15 17:13] yasker opened #1022 "Zero downtime upgrade"
The epic issue to track all upgrade-related issues.

## Dependencies

## pre-1.0.0 dependencies
- [ ] https://github.com/longhorn/longhorn/issues/3234 (Enhancement included in `v1.2.3-rc1`)
- [x] https://github.com/harvester/harvester/issues/1521
- [x] https://github.com/rancher/rancher/issues/35464 (To eliminate double draining operation)
- [x] https://github.com/rancher-sandbox/cOS-toolkit/issue

[2021-07-16 02:38] guangbochen opened #1023 "[Doc] Add netwrok config of the Harvester configuration doc"
**Is your feature request related to a problem? Please describe.**
Add network config of the Harvester configuration doc

**Describe the solution you'd like**
Note: All fields are required for static, only interface and method is requried for DHCP
[code]
needed for both v0.2.0 and dev version

[2021-07-16 03:26] futuretea commented on #858
implements:
https://github.com/rancher/ui/pull/4705
https://github.com/rancher/dashboard/pull/3348

[2021-07-16 03:28] guangbochen commented on #858
For the current design, the user is able to select the existing cloud-config template and customize it if needed.

[2021-07-16 06:10] guangbochen opened #1024 "[BUG] Handler disconnected of harvester multi-cluster api"
**Describe the bug**
When visiting the downstream Harvester API via API aggregation from the rancher server, it will return the `handler disconnected` error with the `harvester` prefix API.

**To Reproduce**
Steps to reproduce the behavior:
1. create a single rancher server
2. importing the harvester cluster to the rancher server
3. visiting the imported harvester API via https://rancher-server-ur

[2021-07-16 06:24] guangbochen commented on #861
**To Test:**
- launch a new rancher server using the `master-head` image https://rancher.com/docs/rancher/v2.x/en/quick-start-guide/deployment/quickstart-manual-setup/#2-install-rancher
- importing the downstream Harvester cluster(use master-head ISO) to the rancher server through the rancher dashboard UI
    - Click`Import Existing` and choose Generic
    - fill in an arbitrary cluster name and c

[2021-07-16 07:03] gitlawr commented on #1024
Workaround:
[code]
then change the paths to
[code]

[2021-07-16 09:52] yaocw2020 commented on #980
@DaiYuzeng `v1/network.harvesterhci.io.nodenetworks` API changed.

[2021-07-16 18:08] #922 closed, assigned to gitlawr, juadk

[2021-07-16 18:15] yasker commented on #371
KubeVirt ARM64 support is not completed yet. See the tracking issue at: https://github.com/kubevirt/kubevirt/issues/3558

[2021-07-16 21:22] noahgildersleeve opened #1026 "[BUG] When you delete a host and there's less than three hosts the VMs are lost"
**Describe the bug**

If you delete a host with VMs on it and there's less than three in the cluster it will fail to migrate them to a new host
**To Reproduce**
Steps to reproduce the behavior:
1. Create a cluster
**Expected behavior**

You should either be prompted to move the VMs, or the migration should complete.
**Support bundle**

[harvester-supportbundle_0b1adc6b-9518-4cb6-8044-4353071f75d7_

[2021-07-18 05:18] yaocw2020 commented on #766
Harvester in Harvester can‘t also support bond.

[2021-07-18 12:06] yaocw2020 commented on #980
To test:
- Select the NIC used by the management network as the NIC for the VLAN network. The `harvester-br0` will inherit the IP address and routes. The VLAN network should work.
- Change the NIC for the VLAN network with another one not used by the management network. The `harvester-br0` won't inherit the IP and routes. And the routes of the NIC will be cleared. The VLAN network should work.

Th

[2021-07-19 04:04] WuJun2016 opened #1027 "[FEATURE] restore supports restoring to the specified namespace"
**Is your feature request related to a problem? Please describe.**

Currently, restore only supports restoring to the namespace of the VM that created the backup. It is better to support restoring to any namespace that the user is able to use.
**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

## Developer update @FrankYang0529

### Test Plan

[2021-07-19 11:35] juadk opened #1028 "[BUG] VMs are restarting in a loop"
**Describe the bug**
All the Vms are restarting in a loop
1. I installed a 5 nodes cluster last Friday (07/16) with the last master ISO (master-6ae8d8ee-head)
2. 4 VMs are configured (one for me and 3 for the Epinio project team used as Github workers)
3. Nothing happened during the weekend but since this morning (07/19), the VMs are restarting in a loop.

![Screenshot from 2021-07-19 12-26-32](ht

[2021-07-19 12:01] juadk commented on #1028
Finally, after double-checking with the Epinio team. It seems to be an issue with the last opensuse tumbleweed kernel. I'm closing the issue.

[2021-07-19 14:41] guangbochen commented on #1024
**To Test**
- create a single rancher server
- importing the harvester cluster to the rancher server
- visiting the imported harvester API via https://rancher-server-url/k8s/clusters/$cluster-id/v1/harvesterhci.io.virtualmachineimages, it should serve all the `harvester` prefix APIs correctly.

[2021-07-19 15:16] juadk commented on #861
1. Harvester cluster imported successfully in a master-head rancher: ![image](https://user-images.githubusercontent.com/6025636/126183356-42af0fe4-5eb7-4229-8a51-b64eca8f1575.png)

2. Updated the `ui-index` and `ui-dashboard-index`

3. The harvester node driver was inactive by default (expected?)
* spin up with RKE1: It fails, new issue reported [here](https://github.com/harvester/harvester/issues

[2021-07-19 16:17] #1028 closed, assigned to nobody

[2021-07-19 20:24] kralicky opened #1029 "[FEATURE] Kubevirt GPU/vGPU Configuration"
Kubevirt has support for provisioning GPUs and other host devices according to the [docs](https://kubevirt.io/user-guide/virtual_machines/host-devices/)

There is also an [existing Nvidia plugin](https://github.com/NVIDIA/kubevirt-gpu-device-plugin) which will discover GPUs and vGPUs on nodes so they can be added to VMs.

It would be great if the Harvester UI could display available GPUs and add t

[2021-07-20 01:03] futuretea commented on #861
If a driver need to be downloaded from Intenet, set it to be inactive by default should be better.

[2021-07-20 14:32] juadk opened #1030 "[Enhancement] Better instance config descriptions of Harvester RKE1 & RKE2 node driver"
**Describe the bug**
When I was testing the new harvester node driver with rancher 2.6 in this [issue](https://github.com/harvester/harvester/issues/861), the process failed when the rancher server tried to ssh into the Harvester VM and then, it was running in a loop:

![rke111](https://user-images.githubusercontent.com/6025636/126337442-32d00202-0b26-4c70-bba6-d803ca7520c7.png)

![rke111112](http

[2021-07-20 15:17] juadk opened #1031 "[BUG] RKE2 cluster in pending state with harvester node driver"
**Describe the bug**
When I was testing the new harvester node driver with rancher 2.6 in this [issue](https://github.com/harvester/harvester/issues/861), the process failed when the rancher server tried to deploy a RKE2 cluster on top of Harvester.

![image](https://user-images.githubusercontent.com/6025636/126325404-110152b9-1610-4943-abd6-19e63a602344.png)
2 nodes keep pending on "Waiting on pr

[2021-07-21 09:09] larssb commented on #632
Allow me to comment on this one. I would like you to consider https://purelb.gitlab.io/docs/ ... especially as it has support for the `OSPF` routing protocol. `BGP` is, I think, outdated and well known to be insecure. PureLB evolved from, started as far as I know, as a fork of MetalLB. And it's implementation is quite nice. It uses the Bird Router for routing so a nice separation of concerns was d

[2021-07-21 09:57] yaocw2020 commented on #632
https://purelb.gitlab.io/docs/how_it_works/bundledbird/

[2021-07-21 10:15] juadk commented on #1030
Ok it looks better now, my mistake was with the ssh user field in the node template.
![image](https://user-images.githubusercontent.com/6025636/126472555-0a5299b8-5af5-41bd-98a8-f3e7b0d5b99f.png)
First, I though it was the ssh key created in Harvester as we are using images, network from Harvester.
It works with the ubuntu ssh user.
Maybe a better description is needed there, WDYT?

[2021-07-21 12:01] juadk commented on #1031
Today, I've tried to reproduce the issue to give more logs but this time, all worked as expected.
The 3 nodes RKE2 cluster is up and running as well as all the pods.
![image](https://user-images.githubusercontent.com/6025636/126485389-841e9de7-62e9-413f-981c-0d48fe412956.png)

[2021-07-21 12:07] juadk commented on #861
The RKE1 issue #1030 is solved, I misconfigured the ssh user in the node template.
I filled the user of my ssh key which was created in Harvester instead of giving the default ssh user for the ubuntu image.
![126472555-0a5299b8-5af5-41bd-98a8-f3e7b0d5b99f](https://user-images.githubusercontent.com/6025636/126485884-969a0a4f-2d97-4fb3-ac0c-1ad45247805f.png)
I was tricked because VM, network and nam

[2021-07-21 13:29] guangbochen commented on #1030
That sounds like a reasonable request, @WuJun2016 can we please add the description of both the RKE1 & RKE2 instance config options.

[2021-07-21 13:36] guangbochen commented on #1031
RKE2 is not marked as GA yet and that's part of the Rancher dependency, let's investigate if this can be stably reproduced, otherwise feel free to close it (let's get more env to test this to see if we can reproduce it).

[2021-07-21 14:04] juadk commented on #1031
I did a second try and everything worked well again.

[2021-07-21 14:04] #1031 closed, assigned to futuretea

[2021-07-21 15:52] noahgildersleeve commented on #1016
Tested in `master-6ae8d8ee-head`

- Image creation and backing images
- Backup/restore with NFS
- Basic VM creation tests
- Volume tests

[2021-07-21 15:52] #1016 closed, assigned to guangbochen, noahgildersleeve

[2021-07-22 09:33] futuretea commented on #634
# To tests:
1. download and install terraform https://www.terraform.io/downloads.html
2. download and install terraform-provider-harvester  https://github.com/harvester/terraform-provider-harvester#readme
3. test `plan`, `apply`, `destory`, `import` commands for each supported resource
   * https://github.com/harvester/terraform-provider-harvester/tree/master/docs
   * https://github.com/harvester

[2021-07-22 10:04] joy717 opened #1032 "[BUG] Volume can not be attached to the 3rd node when volume is a RWX type and is migratable"
**Describe the bug**
When attach a RWX volume (and migratable) to the 3rd node, will get an error
"unable to migrate volume XXXX from Node-1 to Node-3 since it's already migrating to Node-2"

**To Reproduce**
Steps to reproduce the behavior:
1. Create a VM vm-1 with a volume volume-1. (the "migrationNodeID" of volumes.longhorn.io is empty now. assume vm-1 is on Node-1)
2. Attach volume-1 to a new

[2021-07-22 11:25] joshimoo commented on #1032
I left a comment with information on regular RWX volumes and how to use them here:
https://github.com/longhorn/longhorn/issues/2815#issuecomment-884734194

[2021-07-22 14:25] bk201 opened #1034 "[BUG] integration test failure at "verify host maintenance mode" step"
**Describe the bug**
The integration test might fail at the following test:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. This sometimes happens during the CI tests. Some failed tests:
https://drone-pr.rancher.io/harvester/harvester/1021/1/2
https://drone-pr.rancher.io/harvester/harvester/1039/1/2

**Expected behavior**
The test should pass.

[2021-07-22 20:51] chajain opened #1035 "[BUG]State for powered down node stays in-progress"
**Describe the bug**
State of a powered down node is 'in-progress'. It should be 'down'

**To Reproduce**
Steps to reproduce the behavior:
Power down an Active node on a multi cluster env

**Expected behavior**
The State should change from Active to down

**Support bundle**

**Environment:**
 - Harvester ISO version: main
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630): ipxe

[2021-07-23 05:49] jenting opened #1036 "[BUG] Missing namespace parameter of helm install output"
**Describe the bug**

The namespace parameter should be added for the helm install output
[code]
Otherwise, it pops out ```Error: release: not found```

**To Reproduce**

```helm install harvester harvester```

**Expected behavior**

Show release status without error.

**Support bundle**

N/A

[2021-07-23 08:31] juadk commented on #861
I'm done with the deployment of RKE1 and RKE2 with the harvester node driver. As discussed with @guangbochen, I didn't check all the possibilities or features bring in the node template and so on.
I only made sure that the node driver is able to deploy RKE1 / RKE2 on Harvester.

**Overall status:**
![rke1-ok1](https://user-images.githubusercontent.com/6025636/126756369-00a13be6-2672-4933-be86-9227

[2021-07-23 08:31] #861 closed, assigned to juadk, futuretea, WuJun2016

[2021-07-23 08:35] ldevulder commented on #858
I used Rancher version `master-0a0d07a` and Harvester version `master-bc40fc79-head`, I created a Cloud Config template on my Harvester cluster and I tested:
- with RKE1, I was able to select the template in Rancher dashboard
- with RKE2, I was able to select the template in Rancher dashboard
- with RKE2/k3s, I was able to select the template in Rancher dashboard

So changes are validated, the iss

[2021-07-23 08:35] #858 closed, assigned to futuretea, WuJun2016, ldevulder

[2021-07-23 09:43] ldevulder commented on #1024
I used Harvester version `master-bc40fc79-head` and Rancher version `master-861fb92`, I imported the Harvester cluster (with some OS images on it) and I was able to see the Harvester APIs correctly with no error:
![issue#1024-validated](https://user-images.githubusercontent.com/25102165/126764807-b2ed2f38-b414-48ca-86b7-f36068b3dda4.png)

Issue can be closed.

[2021-07-23 09:43] #1024 closed, assigned to gitlawr

[2021-07-23 11:55] himslm01 opened #1038 "[FEATURE] add Realtek RTL8125 2.5GbE Controller"
**Is your feature request related to a problem? Please describe.**
I have a problem. I have a host I want to run Harvester on, but the Ethernet adaptor is not supported in the kernel currently in the Harvester install.

**Describe the solution you'd like**
I need either the kernel to include the driver and firmware, or some way for me to build and install the available driver and firmware during i

[2021-07-23 13:05] juadk opened #1039 "[BUG] Mandatory field not marked with a red asterisk in the Harvester node driver"
**Describe the bug**
When deploying a RKE1 cluster with the harvester node driver, the Name Prefix field is not marked as mandatory and the creation process gives an error if the field is empty.

![Screenshot from 2021-07-23 14-52-40](https://user-images.githubusercontent.com/6025636/126784198-85caacee-b29b-40a7-8a65-ce9b39836acf.png)

![Screenshot from 2021-07-23 14-51-16](https://user-images.git

[2021-07-23 14:42] juadk commented on #634
I'm looking at the provider example here: https://github.com/harvester/terraform-provider-harvester/blob/master/examples/provider/provider.tf
I think a kubeconfig file is needed if you don't have one in your home dir.
What's the parameter to specify it in the provider configuration?
Anyway, I tried with the harvester kubeconfig file in my .kube/config and it works.

[2021-07-26 02:30] futuretea commented on #634
kubeconfig, https://github.com/harvester/terraform-provider-harvester/blob/master/docs/index.md

[2021-07-26 03:27] guangbochen opened #1040 "[BUG] failed to promote the previous node after re-join the cluster"
**Describe the bug**
failed to promote the previous node after re-join the cluster with the same node name
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Added 3 nodes to form a HA cluster
2. delete one of the nodes after the node promotion(all 3 nodes are management nodes)
3. reinstall the removed node with the same node name and IP
4. the node is failed to promote due to the above

[2021-07-26 07:01] futuretea commented on #943
## To Test:
1. Downlaod terraformerfrom releases https://github.com/harvester/terraformer/releases and add it to PATH
[code]
2. Use terraformer to generate tf files and tfstates file from existing resources (example: only import image default/image-6skr8 and harvester-public/image-9lspw)
[code]

3. replace provider to registry.terraform.io/harvester/harvester
[code]

4. Use the tf files  and tfsta

[2021-07-26 14:16] juadk opened #1041 "[BUG] Wrong storage class configured when creating a volume with the Harvester terraform provider"
**Describe the bug**
This issue was spotted during the validation of https://github.com/harvester/harvester/issues/634

When I try to create a volume from an image with the Harvester terraform provider, the volume stays in NotReady status forever.
I've tried to debug it a little bit and looks like the storage class is wrong, the terraform provider adds the namespace in the storage class name:

[co

[2021-07-26 15:08] juadk opened #1042 "[BUG] Unable to create a cluster network with the Harvester terraform provider"
**Describe the bug**
I was trying to create a cluster network following the instructions in this [issue](https://github.com/harvester/harvester/issues/634) but terraform told me the resource already exists whereas my cluster is just out-of-the-box.

[code]

If I'm not wrong, this terraform resource targets the vlan setting just below:
![Screenshot from 2021-07-26 17-02-23](https://user-images.gith

[2021-07-26 15:12] juadk commented on #634
Tested with: Harvester **master-2f810069-head** + **terraform-provider-harvester v.0.1.0** + **Terraform v1.0.3**

I tested both authentications with the default kubeconfig file and with the kubeconfig variable pointing to the a specified kubeconfig.

1. Installation of the provider :heavy_check_mark:
2. `harvester_ssh_key`: All steps ok :heavy_check_mark:
3. `harvester_clusternetwork`: :heavy_che

[2021-07-26 20:01] chajain opened #1043 "[BUG]Latest Master ISO no longer prompt for password reset on first login"
**Describe the bug**
Using the latest harvester iso https://releases.rancher.com/harvester/master/harvester-amd64.iso , the harvester UI no longer prompts for password reset on first login. Using username admin and password admin enables you to login.

**To Reproduce**
Steps to reproduce the behavior:
1. Bring up harvester using latest ISO https://releases.rancher.com/harvester/master/harvester-am

[2021-07-26 23:47] futuretea commented on #1042
If a resource is already exists, need to use `terraform import` to import it first

[2021-07-27 02:44] gitlawr commented on #1043
After we disable MCM in the embedded rancher, the API `/v3/settings/first-login` now returns 404. We need to call `/v1/management.cattle.io.setting/first-login` instead to check whether it's the first time login.

[2021-07-27 08:37] juadk commented on #1042
That means we will never be able to create a resource for the cluster network because the name is always vlan, right?

![clusternet1](https://user-images.githubusercontent.com/6025636/127123606-fc0d5745-2edc-4bda-a8f0-6d64a7a17afe.png)

I tried to import it:
[code]
I wasn't able to modify it too:
[code]
I don't see how to activate the setting and configure it to eth1.

[2021-07-27 11:28] schmitch commented on #581
will the new os at least support secure boot? and/or full disk encryption?

[2021-07-27 11:38] larssb opened #1044 "[Question] Why can only some Harvester nodes transit to a LoadBalancer svc located on a VLAN segmented K3s cluster deployed on top of Harvester? And the Harvester node that can, changes on rebooting the Harvester node that cannot."
# The question

If I deploy Pod workloads via e.g. `Kind: Pod` or `Kind: Deployment` directly on-top of Harvester. Instead of deploying a Kubernetes flavor cluster on top of Harvester and then on that cluster deploy Pod workloads - do I then have to configure the `k8s.v1.cni.cncf.io/networks:` annotation on the deployed Pod's, with a `default-route` specification, setting the `default-route` to th

[2021-07-27 13:38] futuretea commented on #1042
yes.

[code]

[2021-07-27 13:42] juadk commented on #1042
My bad, I got tricked by the namespace... I forgot that the settings are under the harvester-system namespace... let me try again, thx.

[2021-07-27 15:30] juadk commented on #1042
All is ok with the harvester-system namespace, let's close this issue.

[2021-07-27 19:35] ArtiePeterson commented on #570
Awesome..

[2021-07-27 21:43] yasker commented on #581
@schmitch I think those can be done but are not in the scope for GA. Feel free to file feature requests for them.

[2021-07-28 03:06] guangbochen commented on #552
after enabling the rancher auth provider, the existing imported downstream Harvester will encounter the following issue:
[code]
And the error logs from the Rancher Server:
[code]

[2021-07-28 06:45] larssb commented on #1044
So I found out, very the great help from @oats87 (Chris Kim, a RancherLabs engineer), it does not help to add the `k8s.v1.cni.cncf.io/networks:` annotation with the `default-route`. That was just a coincidence that it worked after I installed HAProxy on Harvester with that Pod annotation. The real difference was that one of the HAProxy Pods after the installation then ran on another Harvester node

[2021-07-28 08:14] gitlawr commented on #552
@guangbochen It is an upstream issue: https://github.com/rancher/rancher/issues/33798

[2021-07-28 08:51] alexdepalex opened #1046 "[FEATURE] Allow customization of TLS parameters"
**Is your feature request related to a problem? Please describe.**
Currently, TLS parameters like ciphers and options (no-sslv3, etc), are not user-configurable during the installation of Harvester. This can cause issues in certain environments which require a specific set of ciphers, or which explicitly need to exclude deprecated and insecure versions like TLS 1.0.

**Describe the solution you'd

[2021-07-28 08:55] futuretea commented on #1041
## To test
Use the recreated release v0.1.0: https://github.com/harvester/terraform-provider-harvester/releases/download/v0.1.0/terraform-provider-harvester-amd64.tar.gz

[2021-07-28 09:18] futuretea commented on #1041
After reinstall, run `rm .terraform.lock.hcl` before `terraform init`

[2021-07-28 09:33] ldevulder commented on #1043
I saw that we are not able to change the password of the default `admin` user, as well as not able to create a new user with this `admin` account: is it a side effect of this issue or a new one? If it's a new one I will create a new issue for it, I just want to be sure ;-)

[2021-07-28 10:07] futuretea opened #1047 "[BUG] Unable to restore backup if the vm is not in default namespace"
**Describe the bug**

Unable to restore backup if the vm is not in default namespace

**To Reproduce**
Steps to reproduce the behavior:
1. create a vm in harvester-public namespace
2. take backup
3. use the backup to restore new vm

**Expected behavior**

restore success

**Support bundle**

[harvester-supportbundle_d92ae942-0a8d-4a24-ae0d-67ca3ef638f1_2021-07-28T10-11-48Z.zip](https://github.com/

[2021-07-28 13:45] juadk commented on #1041
Tested successfully with the last master branch of harvester (master-2f810069-head
) and last release of the terraform provider.
[code]
[code]
![Screenshot from 2021-07-28 15-45-04](https://user-images.githubusercontent.com/6025636/127333022-f37df2b0-2759-4429-aa58-6b38993098ee.png)

[2021-07-28 13:45] #1041 closed, assigned to juadk, futuretea

[2021-07-28 15:44] guangbochen opened #1048 "[FEATURE] support bonded network of the Harvester"
**Is your feature request related to a problem? Please describe.**
Currently, users still need to ssh to the node and create the bond network manually before they can assign it to the VLAN network, also during the ISO installation they can't create a bonded network even if they have multiple NICs.

**Describe the solution you'd like**
- allow users to create a bonded network through the Harvester

[2021-07-28 15:48] vobo70 opened #1049 "[Question] how to properly load balance?"
Hello,
I try to test harvester hci as 3 (or 6) node cluster and had one question? How to set up cluster to do a proper HA? Means when I pull out power plug of any node (including master) all VMs will seamless move to another host.
And how many hosts I need to do a proper HA?
(home use only 2 VMs)
Regards
Maciek

[2021-07-28 18:52] oxr463 commented on #480
<s>I don't seem to have `conmanctl`. I think I need to upgrade from Harvester v0.1.0 -> v0.2.0 first.</s>

Nevermind, it was a typo on my part... (I did upgrade to v0.2.0 though).

I now have WiFi configured, but after I unplugged eth0 and rebooted, the "Harvester management URL" became "Unavailable", and the "Current status" still says "Setting up Harvester"

[2021-07-28 19:51] noahgildersleeve opened #1050 "[BUG] You can edit server version in advanced settings"
**Describe the bug**

You can edit the server version to any arbitrary string
**To Reproduce**
Steps to reproduce the behavior:
1. Go to advanced in the sidebar
2. Go to settings
3. Edit server-version
4. change it to another string
5. Save
6. Refresh the page
**Expected behavior**

You should not be able to edit the server version
**Support bundle**

[harvester-supportbundle_0278c74f-2ced-4d9a-ae

[2021-07-28 22:03] noahgildersleeve opened #1051 "[BUG] Error message about invalid backup target doesn't go away"
**Describe the bug**

If you get an error message about invalid backup target it doesn't go away when you remove the backup target
**To Reproduce**
Steps to reproduce the behavior:
1. Create new backup target with S3
2. Enter in bogus info like `7` for each entry
3. Save
4. Refresh page
5. Look for error
6. Edit config again and remove all entries
**Expected behavior**

If you remove the entries f

[2021-07-28 22:19] yasker opened #1052 "[Task] Test Air gap with Rancher integration"
We need to test the air gap support with Rancher integration, make sure not only Harvester works fine in the air gap environment by itself, but the user can also start a Rancher in the air gap environment and complete all the necessary tasks.

[2021-07-29 02:58] gitlawr commented on #1049
It needs three nodes to form a HA cluster.
The VM failover is a known issue that needs to be addressed: https://github.com/harvester/harvester/issues/913

[2021-07-29 03:18] gitlawr commented on #442
The roadmap is available in https://github.com/harvester/harvester/wiki/Roadmap

[2021-07-29 03:18] #442 closed, assigned to nobody

[2021-07-29 07:50] vobo70 commented on #1049
Seems I asked wrong question. When I have three nodes: node1, node2, node3 IPs xxx.xxx.xxx.11-13, and node1 is master cluster is available on IP .11
When I shut down that node the cluster is not available. How to do that the cluster will be always available on IP .11 or another IP not within cluster let's say .10?
Should I use external LB?
If yes how to configure it?
(draft will be enough)

[2021-07-29 08:54] ldevulder commented on #1042
@futuretea I would like to reopen the issue, at least for discussion.

FMPOV there is an issue here, as the `vlan` resource is created by default in Harvester (and that's expected) but in that case it cannot be created by the TF provider unless an import command is done before. After this import I can destroy and then recreate the `vlan` resource without any issue (if I set ` prevent_destroy = fal

[2021-07-29 08:56] ldevulder commented on #1042
@yasker WDYT on this?

[2021-07-29 08:58] futuretea commented on #1042
@ldevulder  Yes, This is terraform's machenism.

[2021-07-29 09:04] futuretea commented on #1042
Customers can use terraformer to generate and import existing resources.
https://github.com/harvester/harvester/issues/943#issuecomment-886431707
https://github.com/harvester/terraformer

[2021-07-29 09:50] ldevulder opened #1054 "[BUG] Error while trying to destroy all created resources with TF provider"
**Describe the bug**
I successfully created vlan/image/vm on a Harvester cluster with `terraform-provider-harvester` but I ran into an issue when I tried to delete the whole resources at the same time:
[code]

I checked on the WebUI and I seen that the VM was in `Terminating` state. After the VM disappears I was able to successfully re-run the destroy command to complete:
[code]

**To Reproduce**

[2021-07-29 10:02] futuretea commented on #1054
Thanks, I will update docs and examples to add `depends_on` to vm examples:
more info:
https://learn.hashicorp.com/tutorials/terraform/dependencies

[2021-07-29 12:57] ldevulder commented on #1054
@futuretea thanks, I tested by adding this in my `vm.tf` file and it works:
[code]

Is there a way to have this done in the implicit way, like in AWS? Could be easier. Otherwise for sure adding this in the docs will be helpful ;-)

[2021-07-29 13:57] guangbochen commented on #943
@futuretea can u please help to update the README with adding the Harvester as a sub-item of `Infrastructure Software` at the [ToC](https://github.com/harvester/terraformer#table-of-contents), thanks

[2021-07-29 14:08] guangbochen commented on #1042
Currently, we are refactoring the VLAN network setting of the 0.3 release, therefore we can come back and revisit this type of resource later, and generally speaking, those `settings` configuration will only need to be set once by admin only, and normally they won't change it after it is configured, that's why that type resource is not covered in the first release.

[2021-07-29 14:41] yasker opened #1055 "[FEATURE]Dedicated storage network"
We would like to have a dedicated storage network interface that can be specified (either as single nic or bonded NICs) to separate the storage traffic from the overlay traffic.

Depends on https://github.com/longhorn/longhorn/issues/2285 and #1048

[2021-07-29 14:42] yasker commented on #1055
Set the milestone to v0.3.0 for now. If https://github.com/longhorn/longhorn/issues/2285 cannot be completed for v1.2.0, then we need to push it out.

[2021-07-29 16:41] gtvmsilva opened #1056 "[Question] Where can I get the sha to check the ISO"
I've downloaded https://releases.rancher.com/harvester/v0.2.0/harvester-amd64.iso and want to CHECKSUM but I can't find it anywhere in the docs.  Please advise

[2021-07-29 16:44] yasker commented on #1056
I don't think we have provided it right now. But yes, we should provide the checksums for the image to ensure integrity.

[2021-07-29 22:59] noahgildersleeve opened #1057 "[BUG] When you click download yaml on hosts page it logs you out"
**Describe the bug**

When you click download yaml on hosts page it logs you out
**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to hosts page
2. click triple dot to the right of a host
3. click download yaml
**Expected behavior**

Either the download should complete, or you shouldn't see th eoption
**Support bundle**

[harvester-supportbundle_0278c74f-2ced-4d9a-ae93-7776ce875960_202

[2021-07-30 09:53] gitlawr opened #1058 "Remove CDI and use PVC APIs for volumes"
We don't have a dependency on CDI after we import images with the backing image feature.
We can remove CDI and replace the volume APIs with PVCs. It helps to:
1. simplify the stack and reduce support efforts
2. Reduce ISO image size
3. Get rid of the dependency for [volume expansion](https://github.com/harvester/harvester/issues/879) support

[2021-07-30 18:28] mbelur opened #1059 "[Enhancement] SSH connectivity via the public IP fails when VM has both mgmt network and public network"
**Describe the bug**
SSH connectivity via the public IP fails when VM has both mgmt network and public network

In our baremetal environment, we have the following setup for the harvester cluster baremetal nodes:
eth0: native vlan - general/management
eth1: tagged vlan - For VMs

When I bring up a VM with only the public vlan network, the SSH connectivity via the public IP works fine.

However, wh

[2021-07-30 18:37] mbelur commented on #1059
Support bundle attached
[harvester-supportbundle_0c731a58-5930-4b40-9d5e-5a1aad54842d_2021-07-30T18-32-28Z.zip](https://github.com/harvester/harvester/files/6909440/harvester-supportbundle_0c731a58-5930-4b40-9d5e-5a1aad54842d_2021-07-30T18-32-28Z.zip)

[2021-07-30 21:03] yasker commented on #572
Push to post v1.0 GA.

[2021-08-01 07:12] vobo70 commented on #1049
@gitlawr
Do you know the answer for my last questions?

[2021-08-01 13:18] guangbochen commented on #1049
If u have >= 3 nodes, the harvester will auto-promote the first 3 nodes as the management node to form a HA cluster, which means u can have one node down tolerance. For the existing 0.2 release, u will need an external LB e.g like the Nginx server to proxy all 3 management node IPs, and in the 0.3 release we are working on the built-in LB feature https://github.com/harvester/harvester/issues/632

[2021-08-01 14:36] guangbochen commented on #1043
this is by design in 0.3, we will not promote mult-user management in the single Harvester cluster view, multi-tenant, auth providers, and RBAC will only be supported in the multi-cluster view for now.

[2021-08-02 02:09] yeahdongcn opened #1060 "[BUG] `make build-iso` failed with error on master branch"
**Describe the bug**

`make build-iso` failed with the following error.
Once I updated `HARVESTER_INSTALLER_VERSION=v0.1.3` to `HARVESTER_INSTALLER_VERSION=master`, the error is gone.

Question: What is the preferred way to build the whole project?

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `make build-iso`

**Expected behavior**

`make build-iso` with no error

**Support bundle

[2021-08-02 05:39] yuchunyun commented on #1009
I have the same problem.
SOS

[2021-08-02 06:19] timothycgw commented on #1009
I faced same issue.

[2021-08-02 06:29] guangbochen commented on #1009
better NOT to use the `master-head` version as this is a dev image and may break from time to time upon on daily builds, the v0.2.0 is the current latest release, please use this one instead.

[2021-08-02 06:33] yuchunyun commented on #1009
will the v0.2.0 version also have this problem?

[2021-08-02 06:35] weihanglo commented on #283
Note that some of our current logic depends on CDI client v1alpha1 while using KubeVirt `vm.spec.dataVolumeTemplate`, but Harvester plan to remove CDI dependency (#1058). Therefore, the upgrade of KubeVirt would be blocked by #1058.

[2021-08-02 08:04] juadk commented on #634
If I understand correctly, we need to document this new provider directly on https://registry.terraform.io/providers/ instead of the harvester documentation.

[2021-08-02 08:08] yuchunyun commented on #1009
THX.
I used v0.2.0, and now I can log in normally. But after I created a virtual machine, I saw that the POD could not be started in the K8S cluster, and the log have error
[code]
It seems that CSI or longhorn is not working properly. How can I fix it!

My havester  installation command is
[code]

[2021-08-02 09:58] n313893254 opened #1063 "[BUG] RBAC menu and Advanced menu did not expand"
**Describe the bug**

RBAC menu and Advanced menu did not expand

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Virtualization Management
2. Click a harvester cluster
3. Go to the harvester and click the RBAC menu
4. click add and add a cluster member
5. After saving success, the page will be a cluster member list, but the RBAC menu did not expand.
6. Click the Advanced menu
7. Page g

[2021-08-02 10:13] n313893254 opened #1064 "[BUG] Host and project/namespace menus are dismissed after add a cluster member"
**Describe the bug**

Host and project/namespace menus are dismissed after add a cluster member.

Before:
![image](https://user-images.githubusercontent.com/18737885/127844998-3a1b8390-61da-49a9-be36-4107bafbfcab.png)

After:
![image](https://user-images.githubusercontent.com/18737885/127845080-5505159b-ddb6-400f-baf6-e5bb1454a580.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Vi

[2021-08-02 17:41] noahgildersleeve commented on #1059
I tested this also in another environment. It still happened. When you create two networks on different VLANS the first one will work. So
- if you setup the management network as the first one it will work and the second external one won't route
- If you setup the external VLAN as the first one then it will route.

It's worth noting that if you setup the external VLAN as the second network you sti

[2021-08-03 02:35] futuretea commented on #1040
## To test

1. Added 3 nodes to form a HA cluster
2. delete one of the nodes after the node promotion(all 3 nodes are management nodes)
3. reinstall the removed node with the same node name and IP
4. the rejoined node will be promote to master automatically

[2021-08-03 03:09] futuretea commented on #634
After push provider to terraform registry, the documents in `./docs` will also show in the registry.
Example: https://registry.terraform.io/providers/aztfmod/azurecaf/latest/docs/resources/azurecaf_name

[2021-08-03 03:11] WuJun2016 opened #1065 "[BUG] The id field is not found in the data returned by v3/principal （singleVirtualCluster environment）"
**Describe the bug**

multiCluster:   Request v3/principal,  the id field can be obtained in the returned data,  (This is as expected)
`data": [
{
"baseType": "principal",
"created": null,
"creatorId": null,
"id": "local://user-dvxh6",
"links": {
"self": "…/v3/principals/local:%2F%2Fuser-dvxh6"
},
"loginName": "admin",
"me": true,
"memberOf": false,
"name": "Default Admin",
"principalType": "user"

[2021-08-03 03:22] yaocw2020 commented on #1059
Could you please show me the route in the VM?

[2021-08-03 03:56] yaocw2020 commented on #1059
I set up an ubuntu VM with the management network and VLAN network NICs. It works.
[code]

[code]
I guess the problem is related to the default routes. @mbelur @noahgildersleeve

[2021-08-03 07:07] juadk commented on #634
Ok, great! Thx for the info.
That being done, do you think we need to mention the terraform provider on the doc website (https://docs.harvesterhci.io/) for v0.3 version? Seems like a good thing to me.

[2021-08-03 07:41] guangbochen commented on #634
yes, need to add both the harvester and terraform provider doc, and they can be linked to each other and no duplicate content is required.

[2021-08-03 08:22] n313893254 opened #1067 "[BUG] Eject CDROM did not work on VM detail page"
**Describe the bug**

![image](https://user-images.githubusercontent.com/18737885/127982445-8ec0464d-b7c0-462d-be89-d03e5ffa1bf9.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to VM detail page
2. Click the action menu, and then click Eject CDROM
3. Modal does not display on the page

**Expected behavior**

Eject CDROM modal display on the VM detail page.

**Additional context**
Bac

[2021-08-03 09:24] yaocw2020 commented on #980
[code]

[2021-08-03 09:31] yaocw2020 commented on #980
[code]
The item changed.
Please help to display the state in the UI.
![image](https://user-images.githubusercontent.com/7421463/127993009-c8984fe5-97c6-4d2c-8917-4f0ef21a7cae.png)

[2021-08-03 12:16] juadk commented on #1040
Successfully tested with the latest master-head branch (master-ada6b573-head):
1. Added 3 nodes to form a HA cluster :heavy_check_mark:
[code]
2. delete one of the nodes after the node promotion(all 3 nodes are management nodes) :heavy_check_mark:
[code]
3. reinstall the removed node with the same node name and IP :heavy_check_mark:
4. the rejoined node will be promoted to master automatically :he

[2021-08-03 12:16] #1040 closed, assigned to juadk, futuretea

[2021-08-03 12:50] juadk opened #1069 "[Question] Node deletion behavior"
Hello, I deleted one node of my 3 nodes cluster and I was surprised that it was came back inside the cluster after simply rebooting it.
From my point of view, I think it's dangerous and a customer may be surprised too.
My expectation was to completely reinstall the node to add it back to the cluster.
Perhaps we can imagine two kinds of deletions that the user can choose from.

[2021-08-03 15:01] guangbochen commented on #368
close as this will be tracked by https://github.com/harvester/harvester/issues/570 and https://github.com/harvester/harvester/issues/681 respectively

[2021-08-03 15:01] #368 closed, assigned to shuo-wu

[2021-08-03 15:02] guangbochen commented on #706
@bk201 can u PTAL if the rke2 has a similar issue or do they support log compression?

[2021-08-03 15:18] juadk commented on #943
@futuretea I've started to test it, first I didn't know Terrafomer before today and it looks to be a fantastic tool!
I was able to import my images and I can change the settings for them but I can't delete an image. I removed the image resource from the image.tf but it gave me an error when I tried to plan/apply. Maybe I misunderstand something with the tool.
[code]
PS:
Forget it, if I understand

[2021-08-03 16:06] bk201 commented on #706
Service logs are record in journald in RancherOSv2. Currently, we are using the default settings:
- All systemd unit's logs are consolidated together.
- They are compressed by default.
- The maximum journal size is 10% of the filesystem capacity (which is the size of cOS persistent partition). But the value is capped to 4GB.
- The journal is rotated when it reach 1/8 of maximum journal size. The w

[2021-08-03 17:28] guangyee commented on #1059
@yaocw2020 in our case, the VM got the IP from DHCP. That's not the problem. The problem is pinging it. In other words, the IP is inaccessible outside of the VM.

[2021-08-03 19:19] mbelur commented on #1059
I tried to attach some screenshots earlier but looks like it did not go through:

for successful case:
ubuntu@meeraonlypublic:~$ ip r
default via 10.84.103.254 dev enp1s0 proto dhcp src 10.84.103.24 metric 100
10.84.103.0/24 dev enp1s0 proto kernel scope link src 10.84.103.24
10.84.103.254 dev enp1s0 proto dhcp scope link src 10.84.103.24 metric 100

for unsuccessful case: (with opensuse)
meerabot

[2021-08-03 22:15] juadk commented on #943
Tested with:
* harvester `master-ada6b573-head`
* terraformer `v0.1.0-harvester`
* terraform-provider-harvester `v.0.1.0`
* terraform `v1.0.3`

Install Terraformer: :heavy_check_mark:
Export KUBECONFIG env variable with the kubeconfig file path: :heavy_check_mark:

1. Images test :heavy_check_mark:
` terraformer import harvester -r image`
[code]
I successfully altered the following fields: descrip

[2021-08-04 08:53] futuretea commented on #999
We also need to update default vm templates

[2021-08-04 09:17] yeahdongcn opened #1070 "[BUG] `make ci` fails if there is a harvester directory under `package`"
**Describe the bug**

`make ci` fails if there is a `harvester` directory under `package`

**To Reproduce**
Steps to reproduce the behavior:
1. `make ci` to build the image
2. Acccidently untar package/harvester-0.2.0.tgz (`harvester` directory exists under package)
3. `make ci` again and an error occurs (cp: cannot overwrite directory ./harvester with non-directory ../bin/harvester)

**Expected b

[2021-08-04 09:39] #943 closed, assigned to juadk, futuretea

[2021-08-04 12:30] juadk commented on #648
I've installed the latest harvester master-head branch (`master-ada6b573-head`) and I still see some warnings about the API version for CRDs but not in the harvester logs directly, so I tend to say ok.

`cert-manager-cainjector-74459fcc56-ql6st_cert-manager_cert-manager-5c454923457a864d4724b8250c81ee3e0181484e8c5e27454d7e3963bce70bce.log:2021-08-04T10:20:17.076558032Z stderr F W0804 10:20:17.07634

[2021-08-04 14:24] yaocw2020 commented on #1059
In the successful case, the default route is through the NIC within the VLAN network, while in the unsuccessful case, it's through the NIC within the management NIC. That's clear. Moreover, the choice of the default route NIC depends on how the os manages the network.

[2021-08-04 14:27] yaocw2020 commented on #1059
Please confirm whether the machine you use to ping the VM is in the VLAN network. Or you can set up another VM with the NIC in the VLAN network to ping the previous one.

[2021-08-04 16:03] noahgildersleeve opened #1072 "[FEATURE] Kubeconfig download button"
**Is your feature request related to a problem? Please describe.**

We need a button in Harvester for downloading the cluster kubeconfig
**Describe the solution you'd like**

There should be a button that downloads the kubeconfig for the kubernetes cluster. **Describe alternatives you've considered**

Currently there is no way other than going into embedded rancher, or SSH into the node. We could

[2021-08-04 16:10] noahgildersleeve opened #1073 "[BUG] Kubeconfig download button is broken in embedded rancher"
**Describe the bug**

When you click the kubeconfig download button in embedded rancher you get a 404 error
**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to embedded rancher in a harvester cluster
2. Go to the cluster
3. Click the kubeconfig download button in the header
**Expected behavior**

It should download the kubeconfig
**Support bundle**

[harvester-supportbundle_60416a6e-2

[2021-08-04 19:54] vCra opened #1074 "[BUG] Images get added to fleet-default namespace, which breaks deploying k8s nodes in nodepools via Rancher"
**Describe the bug**
Two sides to this:
1. When adding a new Image, it gets added to the fleet-default namespace, rather than the default namespace. This should be configurable, or fixed at default
2. When adding a node in a node pool via the Rancher, the Harvester Node driver looks for the image in the local clusters default namespace - in our case that image is no longer there - the message `Err

[2021-08-04 20:28] noahgildersleeve opened #1075 "[BUG] Can't create new user in harvester UI"
**Describe the bug**[harvester-supportbundle_df06ab7c-75ee-47da-a5e5-bd58ef901fd5_2021-08-04T20-20-41Z.zip](https://github.com/harvester/harvester/files/6934202/harvester-supportbundle_df06ab7c-75ee-47da-a5e5-bd58ef901fd5_2021-08-04T20-20-41Z.zip)
You can't click create after filling in the new user form
**To Reproduce**
Steps to reproduce the behavior:
1. Log in as admin to harvester
2. Go to use

[2021-08-04 23:58] guangyee commented on #1059
I was trying to ping the VM from within the Harvester node where the VM is running.

[2021-08-05 00:00] guangyee commented on #1059
Does this mean we will need to explicitly/manually setup a route for the VLAN from within the Harvester node? If so, is that a reasonable expectation for the customers?

[2021-08-05 00:10] noahgildersleeve commented on #1059
I'm not sure if the node would be able to ping the VM. However anything on that VLAN should be able to. We aren't really handling routing. It'll be whatever the switch has setup. However there's no guarantee that the connectivity that the node has will route to the VLAN.

[2021-08-05 00:22] guangyee commented on #1059
Yes, you're right. I was expecting Harvester to offer a mechanism to create the route for troubleshooting purposes. I guess that may not be a production requirement.

However, the VM is not pingable from the node where we run the tests. The route exist on that node though.

`10.84.103.0/24 dev eth1.1238 proto kernel scope link src 10.84.103.1`

[2021-08-05 09:17] juadk commented on #634
Documentation added by this PR https://github.com/harvester/docs/pull/16

[2021-08-05 11:58] juadk commented on #1009
I can reproduce the issue in a Vagrant env, I'm attaching a supportbundle taken manually as the UI is broken.
Hopefully, it may help you.
[harvester-supportbundle_c07ea184-a16c-4f04-a262-cba348830d0d_2021-08-05T11-43-13Z.zip](https://github.com/harvester/harvester/files/6938383/harvester-supportbundle_c07ea184-a16c-4f04-a262-cba348830d0d_2021-08-05T11-43-13Z.zip)

[2021-08-05 13:58] neuhauss opened #1076 "[FEATURE] instances groups"
**Is your feature request related to a problem? Please describe.**
We need a button to create groups or spaces for vms.

**Describe the solution you'd like**
There should be a button to help create a group of vms and isolate them

**Describe alternatives you've considered**
Currently, all VMS are created on namespace default, it would be good to have something integrated with rancher project funct

[2021-08-05 18:52] yasker commented on #1069
I also don't expect the node to rejoin the cluster if the admin decided to delete it. Though I am not sure how we can prevent the node from rejoin use the same token.

[2021-08-06 00:53] DaiYuzeng opened #1077 "[BUG] Crash on Namespace edit page"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to projects/namespaces page
2. Go to namespace detail page

![截屏2021-08-06 上午8 25 03](https://user-images.githubusercontent.com/15041915/128439525-1dba077a-7228-4749-b167-b78bc7ccd402.png)
![截屏2021-08-06 上午8 25 12](https://user-images.githubusercontent.com/15041915/128439534-12a56315-ee54-4825-baac-1a0c368e8bd1.png)

**E

[2021-08-06 02:46] guangbochen opened #1078 "[FEATURE] Migrate harvester api actions to standardized k8s mechanism"
**Is your feature request related to a problem? Please describe.**
We will need to migrate the existing harvester API actions to the standardized k8s api mechanism, so users who deal with the vanilla k8s API can also use those customize API actions.

**Describe the solution you'd like**
e.g using the k8s API subresources, but will need further investigation.

[2021-08-06 07:59] guangbochen commented on #648
I think it's better for us to fix those related CRD as well, thanks

[2021-08-09 03:26] yaocw2020 commented on #1019
dependency: https://github.com/harvester/harvester/pull/1061

[2021-08-10 05:41] #1049 closed, assigned to nobody

[2021-08-10 09:50] WuJun2016 opened #1080 "[BUG] harvester node drive filter namespace error"
**Describe the bug**

sometimes you can't see the default namespace

**To Reproduce**
Steps to reproduce the behavior:
1. go to home page
2. click create button
3. create harvester node driver use RKE2
4. create a credential (choose import harvester )
5.  choose namespace in machine pools

**Expected behavior**

Non-system namespace should not be filtered， such as default namespace

**Support bund

[2021-08-10 09:51] WuJun2016 opened #1081 "[BUG] harvester node drive filter namespace error"
**Describe the bug**

sometimes you can't see the default namespace

**To Reproduce**
Steps to reproduce the behavior:
1. go to home page
2. click create button
3. create harvester node driver use RKE2
4. create a credential (choose import harvester )
5.  choose namespace in machine pools

**Expected behavior**

Non-system namespace should not be filtered， such as default namespace

**Support bund

[2021-08-10 09:53] WuJun2016 commented on #1080
duplication https://github.com/harvester/harvester/issues/1081

[2021-08-10 09:53] #1080 closed, assigned to n313893254

[2021-08-11 01:57] DaiYuzeng opened #1082 "[BUG] VMs created in a namespace with quotas cannot run"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Use the `qcow2` image to create a VM in a namespace with quotas
2. The VM cannot run

**Expected behavior**

**Support bundle**

**Environment:**
 - Harvester ISO version:
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630):

**Additional context**
Add any other context about the problem here.

[2021-08-11 02:13] DaiYuzeng commented on #1082
We need to add the `guest` params when creating VMs, `guest` should be always less than `limits`.

    spec:
      domain:
        memory:
          guest: "4G"
        resources:
          limits:
            memory: 4Gi
          requests:
            memory: 4Gi

[2021-08-11 09:47] WuJun2016 commented on #1057
Fixed after integration with rancher.

[2021-08-11 09:51] WuJun2016 commented on #993
Not an issue,  close.

[2021-08-11 09:51] #993 closed, assigned to WuJun2016

[2021-08-11 23:34] philipwilk opened #1971 "External Harvester doesn't seem to work?"
TL;DR: Nodedriver does not connect to Harvester when External Harvester is selected.

- Can confirm this is not a firewall issue because the other Rancher node I've been trying to use Harvester from has its firewall disabled, unless Harvester is.
- I have been trying using port 8443 which is the default (that's what the api from Internal Rancher and Internal Harvester shows)

Subsets of this Issue

[2021-08-12 02:10] futuretea commented on #1971
Can you provide the versions of docker-machine-driver-harvester ,rancher and harvester?
The following combinations should work:
1. docker-machine-driver-harvester 0.2.0 + rancher 2.6+ harvester 0.2.0
2. docker-machine-driver-harvester 0.1.6 + rancher 2.5+ harvester 0.2.0

[2021-08-12 03:36] futuretea commented on #1054
@ldevulder  have updated the examples and docs.

[2021-08-12 03:39] futuretea commented on #838
## To test:
1. restart harvester repeatly by (kubectl delete po harvester-xxxxxx)
2. check if harvester pod will  panic

[2021-08-12 05:01] yeahdongcn commented on #1070
Since #1071 is merged, let's close this issue.

[2021-08-12 05:02] #1070 closed, assigned to nobody

[2021-08-12 21:24] vobo70 opened #1083 "[Question] Hardware assisted virtualization"
Hello,
I have some used laptops (Dell E5540) and I would like to try harvester on them,
so my question is:
does the Intel® Core™ i5-4210U Processor
[https://ark.intel.com/content/www/pl/pl/ark/products/81016/intel-core-i5-4210u-processor-3m-cache-up-to-2-70-ghz.html](url)
supports Hardware assisted virtualization?
intel ARK states:
Intel® Virtualization Technology (VT-x) - Yes
Intel® Virtualizatio

[2021-08-12 21:51] philipwilk commented on #1971
I've tried machine-driver .1.6 with rancher 2.5.9 and harvester .2.0 and it hasn't worked.
I've just a build of Rancher 2.6.0 which has it included and harvester .2.0 and once I've copied the config for the node template from the internal Rancher, it appears to 'work' as far as making nodes (but it's not acutally doing it properly because the three nodes I've made have not started (over an hour no

[2021-08-13 02:27] gitlawr commented on #1083
VT-x is Intel hardware virtualization. According to the documentation, the answer is yes. You can also check the CPU flags in `/proc/cpuinfo` or run `virt-host-validate` command to check.

[2021-08-13 02:41] vobo70 commented on #1083
Thanks for answer.

[2021-08-13 02:41] #1083 closed, assigned to nobody

[2021-08-13 03:02] futuretea opened #1084 "[BUG] You can delete the vlan in use"
**Steps to reproduce**
1. start a vm and add a vlan network
2. delete the vlan network

**Result**
The vlan network is deleted without any hint

![image](https://user-images.githubusercontent.com/15064560/129299092-dd9a4a25-bad1-4ac2-bc38-99d0e9174a06.png)

![image](https://user-images.githubusercontent.com/15064560/129299070-03da5fc6-8ebf-461f-8969-f2860740033c.png)

**Expect**
The vlan network c

[2021-08-13 03:17] futuretea opened #1085 "[FEATURE] make NFS endpoint configuration easier"
**Is your feature request related to a problem? Please describe.**

When we configuring the NFS backup endpoint, we need to manually input the NFS address.
Can we change the nfs `endpoint`  input box to `server` and `path` to make it easier?
![image](https://user-images.githubusercontent.com/15064560/129299703-3489d7e4-708a-48d6-8b33-bc2ca96b1284.png)

**Describe the solution you'd like**

**Descr

[2021-08-13 03:48] futuretea opened #1086 "[BUG] Unable to migrate `restore-new` vm twice"
**Describe the bug**

![image](https://user-images.githubusercontent.com/15064560/129302446-14de9284-2a0b-4aa8-9a5d-4bfb31b7cf7d.png)
![image](https://user-images.githubusercontent.com/15064560/129302457-0c801ec8-3a60-4741-a77d-f8795ef44be2.png)

**To Reproduce**
Steps to reproduce the behavior:
1. create vm `a`
2. backup vm `a` to `a-bak`
3. restore new `a-bak` to `a-new`
4. migrate `a-new` to ot

[2021-08-13 07:08] Tu-114-s-undercarriage opened #1087 "[Question]How can I upload a iso image by scp/http[s]?"
My servers is hosted in a data center, and for security reason server hosted in this DC has no access to Internet. And ther is not a ftp server in this DC. And I can only connect to server's 22 & 30443 port by VPN. How can I upload  a iso file to harvester server?
My solution is: Use a physical server install a other OS (like Ubuntu) and config a ftp server. And use this internal ftp's url create

[2021-08-13 07:16] gitlawr commented on #1087
This is a v0.3.0 enhancement tracked in https://github.com/harvester/harvester/issues/570

[2021-08-13 07:41] Tu-114-s-undercarriage opened #1088 "[Question]How can I figure out what problem causing server status "NotReady""
My server's hardware info like below:
- CPU: E5-2682 v4
- Intel VT: enabled
- hyper threading: enabled

And after my physical booted there always displaied
[code]
How can I figureout which causing this problem?
Thankyou in advance!

[2021-08-13 07:54] futuretea commented on #1088
Ready=harvester Ready && rancher Ready
NotReady=harvester NotReady or rancher NotReady

[code]

[2021-08-13 08:04] Tu-114-s-undercarriage opened #1089 "[FEATURE] List all available NIC on vlan setting page"
Detect all phycial NIC on each node (maybe can use command `ip` by ansible?), then list these NIC to maybe a combobox. Then administrator could select the NIC by click mouse instead of typing NIC name manully.
Please take this into consideration.

[2021-08-13 08:15] Tu-114-s-undercarriage commented on #1088
Thankyou for your reply.
I executed above command and the echo like below.
[code]
How can I fix thexe Pending?

[2021-08-13 08:27] futuretea commented on #1088
up to 3 nodes. but you don't need to fix it(Pending) actually. It is not a problem.

[2021-08-13 11:24] #1088 closed, assigned to nobody

[2021-08-13 12:13] lucidd commented on #1075
So what i found out so far is that the create button stays disabled because of roles not being set. The roles seem to be handled by the GlobalRoleBindings component which is empty in the ui because it tries to get data for `management.cattle.io.globalrole` but fails when it does not find the schema for it. I don't see any of the requests for schema data containing it either so i guess something is

[2021-08-15 15:07] guangbochen commented on #987
since we are directly replacing the CDI data volumes with PVC, let's review this after PR  https://github.com/harvester/harvester/pull/1066 is merged.

[2021-08-16 11:03] gitlawr opened #1091 "Unable to access dashboard of imported Harvester cluster"
**To Reproduce**
Steps to reproduce the behavior:
1. Deploy rancher v2.6.0-rc3 using docker run
2. Deploy Harvester using master iso image
3. import Harvester cluster to the rancher

**Result**
Cluster explorer for the Harvester cluster is not available

**Expected behavior**
Be able to access Harvester dashboard in rancher multi-cluster management.

**Other infos**
It can be resolved by updating

[2021-08-16 11:49] ldevulder commented on #1054
Doc is OK now, issue can be closed. Thx!

[2021-08-16 11:49] #1054 closed, assigned to futuretea, ldevulder

[2021-08-16 11:58] ldevulder commented on #1050
I tested on version `master-7b0da5d1-head` and I cannot edit the `server-version` field anymore.

Issue fixed and tested, can be closed.

[2021-08-16 11:58] #1050 closed, assigned to lucidd

[2021-08-16 12:20] ldevulder commented on #838
I've tested on version `master-7b0da5d1-head` and I was not able to reproduce the issue (I've tested more than 10 `kubectl delete` commands on different pods).

So the issue seems to be fixed, issue can be closed.

[2021-08-16 12:20] #838 closed, assigned to weihanglo, futuretea, ldevulder

[2021-08-16 13:19] guangbochen commented on #1075
since we are removing the Harvester user and migrating to the Rancher user mechanism, so creating a user from a single Harvester cluster is no longer supported in the current stage, instead, the user can using the central Rancher to benefits from multi-cluster and central RBAC management.

[2021-08-16 13:27] ldevulder commented on #1003
I tested on version `master-7b0da5d1-head`:
- I created a local namespace called `ldevulder-ns`
- I was able to add a vlan on that created NS, as well as a volume and a Cloud Config template
- I also added an OS image in that NS
- And I was able to create a VM with the WebUI on the same NS and all resources created in `ldevulder-ns` were available
- I also tried to create a VM in the `default` NS

[2021-08-16 13:27] #1003 closed, assigned to DaiYuzeng, ldevulder

[2021-08-16 13:41] ldevulder opened #1092 "[BUG] Cannot create VM in default namespace with a vlan created in another namespace"
**Describe the bug**
When I was testing the fix for issue #1003, I tried to create a VM with an OS image and a VLAN declared in `ldevulder-ns` namespace instead of the default one. The `disk-0` image was successfully created but not the network:
![vm-creation-issue](https://user-images.githubusercontent.com/25102165/129572466-755e5ea6-2d61-45fc-8232-75640b14f8d1.png)

**To Reproduce**
Steps to rep

[2021-08-16 13:46] lucidd commented on #1075
Ok does it even make sense then to keep this page at all especially once harvester ui is merged with the rancher ui i guess the rancher ui will cover the user management or am i missing something?

[2021-08-16 13:50] guangbochen commented on #1075
the user page will be removed eventually, we are merging the Harvester UI with the dashboard UI https://github.com/harvester/harvester/issues/923 and the new UI will be updated in the coming days.

[2021-08-16 14:03] lucidd commented on #1075
i guess in that case we can save the time on this and wait till https://github.com/harvester/harvester/issues/923 is done.

[2021-08-16 16:15] noahgildersleeve commented on #1075
I'll check it when I'm testing the new user permissions stuff after the merge of #923 .

[2021-08-16 16:31] noahgildersleeve commented on #1091
Harvester version: master-ada6b573-head
Rancher version: deployed from rancher/rancher:latest ver: `0784199`
I installed external rancher on separate VM.

Link is greyed out.
![Greenshot 2021-08-16 09 21 05](https://user-images.githubusercontent.com/83787952/129596951-907de892-dd7d-4c46-9be9-0f8b950f706c.png)

Support Bundle:
[harvester-supportbundle_fe3b515b-4849-4874-b60c-031a8cf37682_2021-08-16

[2021-08-16 21:38] guangyee commented on #983
We basically cannot do anything to the VM right now if the host where it is running suddenly goes offline.

[2021-08-17 01:54] yaocw2020 commented on #1092
These resources should not be used across namespaces.

[2021-08-17 03:57] WuJun2016 opened #1093 "[BUG] When there is only one node in the cluster, there should be no "enablemaintancemode" action"
**Describe the bug**

When there is only one node in the cluster, there should be no "enablemaintancemode" action

**Environment:**
 - Harvester ISO version:
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630):

**Additional context**
Add any other context about the problem here.

[2021-08-17 08:38] ldevulder commented on #1092
@yaocw2020 ok, so in that case it could be a good idea to show only the resources created in the selected namespace when creating a VM, as it's not possible to know easily on which NS the resource has been created (when creating a VM). And with the fix added for #1003 it's even more complicated ;-)

[2021-08-17 08:54] futuretea commented on #1092
![image](https://user-images.githubusercontent.com/15064560/129695534-6c17541f-ab59-40a1-b290-56ef3abc937f.png)
http://kubevirt.io/api-reference/v0.40.0/definitions.html#_v1_multusnetwork

[2021-08-17 09:01] gitlawr opened #1094 "[BUG] Incorrect Harvester version"
**Describe the bug**
UI shows incorrect version in the bottom-left corner

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Harvester using the latest ISO(master-94bf1714-head)
2. Check the UI

![image](https://user-images.githubusercontent.com/5697937/129696508-4059ae50-e4b3-46bc-b111-b7dc7a5a2ace.png)

[2021-08-17 09:08] gitlawr opened #1095 "[BUG] Failed to create VM from a built-in VM template"
**To Reproduce**
Steps to reproduce the behavior:
1. Create a VM image.
2. Create a VM, fill in the name, select `Use VM Template`, choose `harvester-public/raw-image-base-template`, select an image.
3. Click `Create`

**Result**
UI stucks in creating
error in the console:
![image](https://user-images.githubusercontent.com/5697937/129697460-afa48c99-cf70-4663-b814-5f5aa6d383c8.png)

**Expected beh

[2021-08-17 10:06] guangbochen opened #1096 "[BUG] harvester network controller manager failed to start"
**Describe the bug**
harvester network controller manager failed to start with the following errors:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. install the harvester using the `master-head.iso` created on 08-17
2. check the pod on the harvester-system

**Expected behavior**
the harvester network controller CRD is updated correctly with https://github.com/harvester/network-contro

[2021-08-17 10:09] futuretea opened #1097 "[BUG] create rke1 cluster failed because of node driver get ipv6 ip"
**Describe the bug**

![image](https://user-images.githubusercontent.com/15064560/129707255-5010d0b1-d9c0-451e-83dd-60473ee240f3.png)

**To Reproduce**
Steps to reproduce the behavior:
1. install the harvester using the master-head.iso created on 08-17
1. create rke1 cluster by node driver

**Expected behavior**

create rke1 cluster sucessful

**Support bundle**

**Environment:**
 - Harvester ISO

[2021-08-17 12:28] lucidd commented on #1095
i just installed the latest iso master-94bf1714-head and can not reproduce this error. VM gets created and starts as expected using the raw-image-base-template.

[2021-08-17 13:20] lucidd commented on #1075
i just installed master-94bf1714-head and it seems the Users/Authentication menu is already gone there.

[2021-08-17 21:57] noahgildersleeve opened #1099 "[BUG] harvester is showing embedded rancher version"
**Describe the bug**

The version at the bottom of the harvester window is showing the embedded rancher version
**To Reproduce**
Steps to reproduce the behavior:
1. Log into harvester
2. Check header

**Expected behavior**

It should show the harvester version
**Support bundle**

**Environment:**
 - Harvester ISO version: master
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630

[2021-08-17 21:59] noahgildersleeve opened #1100 "[BUG] header link in preferences is broken"
**Describe the bug**

If you click the harvester icon in the header from the preferences page it takes you to an invalid address
**To Reproduce**
Steps to reproduce the behavior:
1. Log into harvester
2. Navigate to user preferences
3. Click harvester icon
**Expected behavior**

It should take you to the dashboard
**Support bundle**

**Environment:**
 - Harvester ISO version:
 - Underlying Infrast

[2021-08-17 22:00] noahgildersleeve opened #1101 "[BUG] There's no support bundle link in footer"
**Describe the bug**

There's no link to create support bundle in the footer
**To Reproduce**
Steps to reproduce the behavior:
1. Login to harvester
2. Check footer
**Expected behavior**

There should be a link to create support bundle
**Support bundle**

**Environment:**
 - Harvester ISO version:
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630):

**Additional context**
Add a

[2021-08-17 22:05] noahgildersleeve opened #1102 "[BUG] Settings link in networks doesn't work"
**Describe the bug**

If you don't have a VLAN added to the harvester cluste you get a link when going to the networks page. The link is broken
**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to networks in settings
2. Click the settings link
**Expected behavior**

It should take you to the advanced settings vlan section of settings
**Support bundle**

**Environment:**
 - Harvester I

[2021-08-17 22:08] noahgildersleeve opened #1103 "[BUG] No VLAN settings for setting the vlan interface"
**Describe the bug**

There's no option to define the VLAN interface in advanced settings
**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to advanced settings
2.
**Expected behavior**

There should be an option to set the default interface for VLAN in settings.
**Support bundle**

**Environment:**
 - Harvester ISO version:
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerE

[2021-08-17 22:32] guangyee commented on #1103
Also, we are seeing e2e test failures in networking area due to  `/apis/network.harvesterhci.io/v1beta1/namespaces/harvester-system/clusternetworks/vlan` returning HTTP 404.

[2021-08-18 01:59] WuJun2016 commented on #1095
@lucidd  It has been fixed as the current UI is using a remote `master-head` version.

[2021-08-18 02:01] guangbochen commented on #1103
related to https://github.com/harvester/harvester/issues/1096

[2021-08-18 02:38] guangbochen commented on #1102
caused by https://github.com/harvester/harvester/issues/1096

[2021-08-18 02:44] guangbochen commented on #1099
duplicate of https://github.com/harvester/harvester/issues/1094

[2021-08-18 02:44] #1099 closed, assigned to nobody

[2021-08-18 03:37] futuretea opened #1105 "[BUG] Use a cloud credential created form rke1 ui to create a rke2 cluster, unable to select namespace, image and network"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. create a cloud credential created form rke1 node template ui

![image](https://user-images.githubusercontent.com/15064560/129847410-0821a87f-d739-4d13-9c02-8d8b79db4f08.png)
![image](https://user-images.githubusercontent.com/15064560/129847479-e60fa11e-66be-40a0-bed4-2d8dd4ce0452.png)
![image](https://user-images.githubuser

[2021-08-18 05:54] guangyee opened #1106 "[BUG] Attempt to start an unschedulable VM result in HTTP 403"
**Describe the bug**
Attempt to start an unschedulable VM result in HTTP 403. This seem different from the old behavior where start VM API would yield HTTP 204 and the VM instance status will eventually show "Unschedulable".

**To Reproduce**
Steps to reproduce the behavior:
1. Create an unschedulable VM using the following spec, and don't start the VM on creation. See the attached JSON request. N

[2021-08-18 06:02] guangbochen commented on #1103
should be addressed via https://github.com/harvester/harvester/pull/1098, and the network CRD is updated to the non-namespaced scope via https://github.com/harvester/network-controller-harvester/commit/c68dcf51f5fd09625640a4c219aff6a1869941d5

[2021-08-18 06:02] guangbochen commented on #1102
should be addressed via https://github.com/harvester/harvester/pull/1098, and the network CRD is updated to the non-namespaced scope via https://github.com/harvester/network-controller-harvester/commit/c68dcf51f5fd09625640a4c219aff6a1869941d5

[2021-08-18 07:05] WuJun2016 commented on #807
To test:
1.  Make sure you are using the latest iso version on and after Aug 19
2. click advanced, enter setting page
3. edit Vlan (enabled vlan, fill in the correct NIC)
4. go to node page and edit node config
5. choose Network tab,  （You can see the state in the NIC drop-down box）
![image](https://user-images.githubusercontent.com/24985926/129855562-fdb3ffac-c76e-4904-bbcd-24df9884ff9b.png)

[2021-08-18 07:17] guangbochen commented on #1096
Validation Steps:
1. install the harvester using the master-head.iso created on 08-18
2. check the harvester controller manager pod on the `harvester-system` is healthy and its log does not contain any fatal errors.

[2021-08-18 07:26] guangbochen commented on #798
depends on https://github.com/longhorn/longhorn/issues/2805

[2021-08-18 07:35] n313893254 commented on #1081
Can not reproduce

[2021-08-18 07:37] guangbochen commented on #879
Since we have replaced [DV with PVC](https://github.com/harvester/harvester/pull/1066), now the volume expansion will be supported automatically.
Additionally, the `in-use` PVC's VM must be off if the user wants to resize those VM volumes.

[2021-08-18 08:07] gitlawr commented on #1058
For testing:
1. Verify the CDI component is removed. The following commands should output nothing:
[code]
2. Verify functionalities around volumes work as before, including:
- Volumes
- VMs
- VM templates
- VM backup and restore

[2021-08-18 09:48] futuretea opened #1108 "[BUG] terraform provider harvester panic if set `machine_type`"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. use terraform-provider-harvester to create a vm (set machine_type)
[code]
**Expected behavior**

no panic

**Support bundle**

**Environment:**
 - Harvester ISO version:
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630):

**Additional context**
Add any other context about the problem here.

[2021-08-18 10:12] ldevulder commented on #1096
Tested with the latest `master-head` version (don't know the exact version number because of #1094).
I installed a 5 nodes cluster and I was not able to reproduce the issue:
[code]

Logs look good:
[code]

This issue can be closed.

[2021-08-18 10:12] #1096 closed, assigned to guangbochen, ldevulder

[2021-08-18 13:15] ldevulder commented on #1103
I had to add a VLAN interface to validate #1096 and #807: no issue on that screen, issue can be closed.

[2021-08-18 13:15] #1103 closed, assigned to guangbochen, ldevulder

[2021-08-18 13:31] ldevulder commented on #807
I tried with latest `master-head` build but I was not able to select a NIC as well as see the NIC state, here waht I have on the screen:
![harvester-nic-selection](https://user-images.githubusercontent.com/25102165/129906693-84f9152a-3433-46bd-ac44-2f0563b153f7.png)

I tried on a baremetal 5 nodes cluster with 2 NICs on each nodes as well as on a VM with 4 virtual NICs attached: same issue.

Did I

[2021-08-18 14:22] ldevulder commented on #968
Tested with latest `master-head` build and by default the templates are visible (`All Namespaces` is selected by default).

But I have a question before closing this issue: the referenced fix [harvester/harvester-ui#489](https://github.com/harvester/harvester-ui/pull/489) seems to be about issues #782 and #966 and not this one... Is it normal? Or what is the correct fix if not?

[2021-08-18 15:16] ldevulder commented on #1102
Tested with latest `master-head` build: the link (https://<harvester-master>:30443/dashboard/c/local/virtual/network.harvesterhci.io.clusternetwork/vlan?mode=edit) is working again.

This issue can be closed.

[2021-08-18 15:16] #1102 closed, assigned to ldevulder

[2021-08-18 15:35] ldevulder commented on #1057
Tested with latest `master-head` version: I followed the test steps and I was able to download the yaml file. I did this on a 5 nodes cluster and tested the download on all the nodes successfully).

Issue can be closed.

[2021-08-18 15:35] #1057 closed, assigned to WuJun2016, ldevulder

[2021-08-18 22:01] noahgildersleeve commented on #975
tested with master from 8-18, but build number is showing v2.6.0-rc3 due to existing bug. Closing

[2021-08-18 22:01] #975 closed, assigned to WuJun2016, noahgildersleeve

[2021-08-19 00:22] DaiYuzeng commented on #1021
The Host API page seems like be ok on harvester/dashboard.

[2021-08-19 02:14] gitlawr commented on #1078
Actions being used:
VM:
- start
- stop
- restart
- ejectCDRom
- pause
- unpause
- migrate
- abortmigration
- backup
- restore
- createTemplate

Node:
- enableMaintenanceMode
- disableMaintenanceMode
- cordon
- uncordon

[2021-08-19 02:32] WuJun2016 commented on #807
@ldevulder   Is your vlan enabled ?
1. go to setting page,
2.  edit vlan， enable vlan， and fill in the correct NIC

like this:
![image](https://user-images.githubusercontent.com/24985926/129998167-8284333a-22af-48a4-bf57-a540e1dfcdd7.png)

[2021-08-19 02:42] DaiYuzeng commented on #980
Click [here](https://github.com/harvester/harvester/issues/807#issuecomment-900873123) to see how to test this issue.

#807

[2021-08-19 03:25] guangbochen commented on #1051
will need to reset the config using the  `Use the default value` option, this will require both UI and backup modification support. cc @WuJun2016

[2021-08-19 06:55] WuJun2016 commented on #184
duplicate of https://github.com/harvester/harvester/issues/760,   The reason is the same, verified in 760.
close this issue

[2021-08-19 06:56] #184 closed, assigned to WuJun2016

[2021-08-19 08:16] ldevulder commented on #807
@WuJun2016 Yes vlan is enabled. I checked again and cleaned my web cache this time and all is fine now... Maybe related to the WebUI changes? And this is why a clean cache fixed the issue? Or could be a chair/keyboard interface problem :D But as I tested this on 2 different clusters I'm more for the cache issue.

Anyway it works now, the issue could be closed.

[2021-08-19 08:16] #807 closed, assigned to WuJun2016, ldevulder

[2021-08-19 16:09] ldevulder commented on #1094
Tested with latest build, the correct version is back:
![fix-issue-1094](https://user-images.githubusercontent.com/25102165/130103839-b75a8367-c2a2-42a1-b8fd-95a785c12329.png)

Issue can be closed.

[2021-08-19 16:09] #1094 closed, assigned to n313893254, ldevulder

[2021-08-19 18:08] noahgildersleeve opened #1110 "[BUG] Setting password on install loops"
**Describe the bug**

When you are doing your initial setup you get prompted to use the bootstrap password and set your password. Then it goes to inputting your password. This loops. You can get out of it by manually changing the URL
**To Reproduce**
Steps to reproduce the behavior:
1. Deploy a new harvester cluster
2. Navigate to the dashboard
3. Set password
4. Login
**Expected behavior**

After

[2021-08-20 00:02] noahgildersleeve commented on #752
Not currently in master-3edc82a7-head. Will check after next ISO build.

[2021-08-20 00:03] noahgildersleeve commented on #1095
Tested in master-3edc82a7-head with raw image and ISO image.

[2021-08-20 00:03] #1095 closed, assigned to WuJun2016, noahgildersleeve

[2021-08-20 00:03] noahgildersleeve commented on #1067
Tested in master-3edc82a7-head. Fixed.

[2021-08-20 00:03] #1067 closed, assigned to WuJun2016, noahgildersleeve

[2021-08-20 00:05] noahgildersleeve commented on #1021
Tested in master-3edc82a7-head. Fixed.

[2021-08-20 00:05] #1021 closed, assigned to DaiYuzeng

[2021-08-20 00:10] noahgildersleeve commented on #846
Tested in master-3edc82a7-head. When you change from an external VLAN network to management it still doesn't clear the input for mac address. When it's hidden it should also clear it, or the error checking will catch it.
![invalid mac address error](https://user-images.githubusercontent.com/83787952/130159484-80a9b792-1bd4-43ff-acd3-5077c264ec01.gif)

[2021-08-20 00:27] noahgildersleeve commented on #903
If you try to do this you can't create the VM because you are required to put in an image when creating a VM
![image](https://user-images.githubusercontent.com/83787952/130160574-ebcb3808-6e3d-4263-8753-3eace1eb6a8f.png)
@guangbochen said that there might be an existing UI issue about this, but I wasn't able to find it. I'm not sure what the desired functionality would be. We could change the imag

[2021-08-20 00:29] noahgildersleeve commented on #1100
Tested in master-3edc82a7-head. Fixed.

[2021-08-20 00:29] #1100 closed, assigned to n313893254, noahgildersleeve

[2021-08-20 02:36] gitlawr commented on #1106
The API for UI moved from `/v1` to `/v1/harvester`. The API endpoint for starting a VM is `/v1/harvester/kubevirt.io.virtualmachines/default/<vm_name>?action=start` now.

With native K8S APIs it can be done by updating VM.spec.running. But let's revisit this in https://github.com/harvester/harvester/issues/1078.

[2021-08-20 09:01] gitlawr commented on #1091
We've bumped the embedded rancher in the latest image.
1. With upstream rancher(v2.6.0-rc3) and embedded rancher(v2.6.0-rc3), downstream cluster explorer is available.
2. After updating the rancher image to `master-861fb9208fd59c7f0c5266f087ccf050c1577ead-head` in the same setup, downstream cluster explorer is not available.

Root cause:
When the cluster is imported, cluster-agent will create an a

[2021-08-20 09:52] guangbochen commented on #1091
@ibuildthecloud do u think if we can make an improvement of this by decoupling the upstream and embedded rancher dependency version. Ideally, the aggregation secret should only be initiated and managed by the `cluster-agent` of upstream rancher, the embedded Rancher should have no induction of it.

[2021-08-20 12:44] ldevulder opened #1111 "[BUG] VM appears twice on "Virtual Machines" webpage"
**Describe the bug**
When creating a new VM in `harvester-public` namespace I can see the VM twice on the `Virtual Machines` webpage:
![vm-twice-01](https://user-images.githubusercontent.com/25102165/130232562-554652db-c2d3-478e-87b0-724de3e7a248.png)
![vm-twice-02](https://user-images.githubusercontent.com/25102165/130232570-2cccae8b-7b58-4371-8959-546d2f547fba.png)

A refresh of the webpage does

[2021-08-20 14:25] ldevulder commented on #1047
I tried on version `master-3edc82a7-head`:
- I was able to create, backup and restore a VM on `default` namespace
- I created and successfully backed-up a VM on `harvester-public` namespace
- I tried to restore the VM as a new one on `harvester-public`, the restoration was on the correct namespace this time:
[code]
But I had this error message on the webui:
![restore-vm-screen01](https://user-imag

[2021-08-20 19:48] noahgildersleeve commented on #752
Console button is available if you input console URL. Tested in master-3edc82a7-head

[2021-08-20 19:48] #752 closed, assigned to DaiYuzeng, noahgildersleeve

[2021-08-21 20:56] JonasKaber opened #1112 "[Question] is PCIE passthrough supported? Or will it be?"
Is there a possibility with Harvester to assign a graphics card to a VM using PCIE passthrough? To enable application scenarios like cloud gaming.

[2021-08-22 23:48] bpmct commented on #1009
I'm noticing this as well deploying on Helm

[2021-08-23 02:06] gitlawr commented on #1112
It is tracked in https://github.com/harvester/harvester/issues/1029

[2021-08-23 02:38] WuJun2016 commented on #968
@ldevulder    Sorry, this reference address https://github.com/harvester/harvester-ui/pull/489 is wrong。  but this problem is not a bug, because the user chose the User namespace, and our default template is placed in the harvester-publice namespace, it is normal that you can’t see the default template when you use it.

[2021-08-23 08:24] ldevulder commented on #968
@WuJun2016 thx. But I didn't say that it was a bug to see the templates ;-) it was just to say that the issue was fixed. My question was only for the referenced fix. I should have been more clear on my comment, sorry ;-)

[2021-08-23 08:24] ldevulder commented on #968
So the issue is resolved, can be closed.

[2021-08-23 08:24] #968 closed, assigned to WuJun2016, ldevulder

[2021-08-23 09:32] gitlawr opened #1113 "High resource consumption by Harvester server"
We have a cluster up and running for some days. The resource consumption by the Harvester servers is high.

[code]

[code]

After recreating the harvester pods they consumes far less resource:
[code]

**Expected behavior**
The resource consumption is consistent and reasonable.

**Environment:**
 - Harvester ISO version: v0.2.0

**Other infos:**
[code]
![cpu_profile](https://user-images.githubuserc

[2021-08-23 14:18] ldevulder commented on #1063
I tried to test on version `master-3edc82a7-head`, but I don't have a `RBAC` menu:
![harvester-missing-rbac-menu](https://user-images.githubusercontent.com/25102165/130463190-2d3f681b-daeb-428e-95a5-a5ed69cf6882.png)

So how can I test this? Of course I've enabled the developer options but no change...

[2021-08-23 14:29] ldevulder commented on #1064
I tried to test on version `master-3edc82a7-head`, but I don't have a `RBAC` menu:
![harvester-missing-rbac-menu](https://user-images.githubusercontent.com/25102165/130463190-2d3f681b-daeb-428e-95a5-a5ed69cf6882.png)

So how can I test this? Of course I've enabled the developer options but no change...

**Note:** I made the same comment in issue #1063

[2021-08-23 14:30] WuJun2016 commented on #1063
@ldevulder   Sorry, this needs to be tested in multiple clusters, you need to import the harvester cluster into the rancher cluster。

Currently there is no way to test, you need to wait for this pr  https://github.com/rancher/dashboard/pull/3726 to be merged into rancher, plan to release with rancher 2.6.2

[2021-08-23 14:37] ldevulder commented on #1063
@WuJun2016 thx for the info.

@DaiYuzeng So maybe better to move back this issue to `Review`?

[2021-08-24 00:23] yasker opened #1114 "Task: Switch support bundle to use the new `support-bundle-kit`"
https://github.com/rancher/support-bundle-kit

[2021-08-24 03:34] guangbochen opened #1116 "[Task] Harvester v0.3.0 release checklist"
**What's the task? Please describe.**
Action items for releasing v0.3.0 & RC releases

**Describe the items of the task (DoD, definition of done) you'd like.**
- [x] decide if we'd like to ship with a customized kernel for https://github.com/harvester/harvester/issues/1342
- [x] bump the embedded rancher server to the latest `v2.6.1-harvester2` release.
- [x] upgrade the installer with newOS:
  -

[2021-08-24 03:44] guangbochen commented on #1114
related to the newOS change https://github.com/harvester/harvester-installer/pull/93, will need to make sure the new support bundle kit works with RKE2 using journals, additionally would prefer to make the supported k8s provider configurable e.g like `k8s-provider: rke2/k3s/etc.`

[2021-08-24 03:57] WuJun2016 commented on #1001
@gitlawr    We should add annotation to the namespace to filter the harvester-system namespace

[2021-08-24 08:57] gitlawr opened #1117 "[flaky test] TestPlanHandler_OnChanged"
CI occasionally fails with:

[code]

https://drone-publish.rancher.io/harvester/harvester/339/1/2

[2021-08-24 15:18] lucidd commented on #1110
i was just trying to reproduce this but on a fresh install master-72b5a35f-head. After the initial screen to put in the passwords it goes directly to the dashboard for me. Could it be already fixed?

[2021-08-24 16:14] noahgildersleeve commented on #1110
I'll retest with the new version.

[2021-08-24 16:58] noahgildersleeve commented on #1110
I tested with master-72b5a35f-head. It also seems resolved to me. I think we can close this.

[2021-08-25 01:58] WuJun2016 commented on #1092
@ldevulder   VLAN across namespaces will be supported in v0.3.0

[2021-08-25 10:21] #1110 closed, assigned to nobody

[2021-08-25 18:21] noahgildersleeve opened #1121 "[BUG] Installer shows rancher dashboard not Harvester Dashboard"
**Describe the bug**

When you run an install with the new master ISO it takes you to the rancher dashboard after install not the harvester dashboard
**To Reproduce**
Steps to reproduce the behavior:
1. Run the installer
2. Navigate to the management URL
**Expected behavior**

1. It should take you to the harvester dashboard
**Support bundle**

**Environment:**
 - Harvester ISO version: master 8-2

[2021-08-26 02:20] WuJun2016 commented on #1111
@ldevulder  I am aware of a bug similar to this, but it will be normal after refreshing. If you encounter this problem again, please help me look at the returned data of the api.  thx

steps:
1. Enter https://ip:port/v1/harvester/kubevirt.io.virtualmachines
2. Compare id to see if it is duplicate

[2021-08-26 03:07] devadapter opened #1122 "[BUG] Harvester developer mode monitoring does not display"
**Describe the bug**
Three Harvester's are installed on digitalocean. refer to the documentation: [Install with Helm](https://github.com/harvester/harvester/blob/v0.2/docs/app-mode-installation.md#option-1-install-with-helm) They look like the monitoring cannot be displayed.

**Environment:**
 - Harvester ISO version: v0.2
 - Installation Mode: Development Mode

![image](https://user-images.github

[2021-08-26 10:03] ldevulder opened #1124 "[BUG] Harvester doesn't install on build from August 26 2021"
**Describe the bug**
Harvester installer stuck on this screen during installation:
![harvester_cos_version_installation_fails](https://user-images.githubusercontent.com/25102165/130942270-7a853695-4fc8-4754-85fc-bb6d311e4a6f.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Start the Installer, answer the first questions and wait for the issue

**Expected behavior**
Harvester installed.

[2021-08-26 10:06] bk201 commented on #1124
Could you provide the output of `lsblk`? Thanks!

[2021-08-26 12:18] ldevulder commented on #1124
Of course:
[code]

[2021-08-26 12:59] bk201 commented on #1124
The new OS disk has the following partition layout (non-EFI system):

| Partition ID |      Label     |          Size          |
|:------------:|:--------------:|:----------------------:|
|       0      | COS_OEM        |                    50M |
|       1      | COS_STATE      |                    15G |
|       2      | COS_RECOVERY   |                     8G |
|       3      | COS_PERSISTENT | a

[2021-08-26 13:50] ldevulder commented on #1121
This seems to be fixed in version `master-eea67886-head`.

[2021-08-26 15:31] ldevulder commented on #1124
@bk201 thx, it's better with an install disk of 60GB. I will do some tests to find the minimal size needed, could be useful to document this.

[2021-08-26 16:26] bk201 opened #1125 "[BUG] Fail to start Harvester cluster if the entered token is in number"
**Describe the bug**
By specifying a token in number (e.g. `12345`) in the installer, the cluster state stays at `"Setting up harvester"` after reboot.

**To Reproduce**
Steps to reproduce the behavior:
1. Install harvester with token `12345`.

**Expected behavior**
The cluster should start.

**Support bundle**

**Environment:**
 - Harvester ISO version: master ISO. 2021 Aug. 27.
 - Underlying Inf

[2021-08-26 19:42] noahgildersleeve commented on #1121
I also verified in `master-d25964a2-head`. Issue seems resolved.

[2021-08-27 07:09] yaocw2020 opened #1126 "[BUG] kubectl cann't load the right kubeconfig"
**Describe the bug**

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Connect the host with ssh.
2. Execute `kubectl get nodes`

**Expected behavior**

kubectl can be used normally.

**Support bundle**

**Environment:**
 - Harvester ISO version: master ISO. 2021 Aug. 25.
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630): ISO

**Additional context**
Add any other co

[2021-08-27 07:37] yaocw2020 commented on #841
To test:
- Set up a Harvester with two hosts, enable the VLAN network and create VLAN 1 network.
- Create two VMs within VLAN 1 in different hosts.
- Login the host through ssh and execute the shell command ` iptables -P FORWARD DROP`.
- Ping between two VMs and we will get ping failures.
- Upgrade harvester-network-controller to the master head version
- Login the host through ssh and execute the

[2021-08-27 08:13] bk201 opened #1127 "[BUG] MgmtInterface can't get IP after PXE boot installation"
**Describe the bug**
For a PXE boot installation, if the user uses an interface other than `eth0` for `mgmt_interface`, the interface is not correctly configured after the system reboots.

**To Reproduce**
Steps to reproduce the behavior:
1. Perform PXE boot installation with the config like:
[code]
2. Wait for installation finishes.
3. The system is automatically rebooted, but interface `eth1` do

[2021-08-27 09:54] devadapter opened #1128 "[Question]What is the strategy used for Harvester VM migration?"
What is the policy used for Harvester v0.2 virtual machine migration? Is there any documentation on this. I'm interested in how he works in it.

[2021-08-27 14:24] bk201 commented on #1126
This is supposed to be fixed in https://github.com/harvester/os2/pull/6
Could you check if it's resolved in the latest master ISO? Thanks!

[2021-08-27 19:45] noahgildersleeve commented on #1058
Will test after next ISO build.

[2021-08-27 21:05] noahgildersleeve opened #1130 "[BUG] Cloud config templates page has wrong title"
**Describe the bug**

The title for the cloud config settings page is camelCase cloudTemplates. The other pages all have capitalized titles that match the settings sidebar
**To Reproduce**
Steps to reproduce the behavior:
1. Log into harvester
2. Expand advanced
2. Click Cloud Config Templates
**Expected behavior**

It should probably be Cloud Config Templates
**Support bundle**

**Environment:**

[2021-08-30 01:30] DaiYuzeng commented on #817
We are going to replace the Input Component with Select Component for the node selector enhancement.

[2021-08-30 02:48] guangbochen commented on #1121
close in favor of above verification

[2021-08-30 02:48] #1121 closed, assigned to nobody

[2021-08-30 07:14] yaocw2020 commented on #1126
It's resolved in the 08-27 master-head ISO.
[code]

[2021-08-30 07:14] #1126 closed, assigned to bk201

[2021-08-30 08:44] WuJun2016 opened #1131 "[BUG] Use the downloaded kubeconfig to connect to the cluster, display the certificate error"
**Describe the bug**

Use the downloaded kubeconfig to connect to the cluster, display the certificate error

**To Reproduce**
Steps to reproduce the behavior:
1. Download the kubeconfig file through the header menu
2. Use this configuration to connect to the cluster

![image](https://user-images.githubusercontent.com/24985926/131312315-5f2f4775-1bff-4907-b09e-bb0d17a118f2.png)

**Expected behavio

[2021-08-30 15:32] guangbochen commented on #552
**To Test:**

Should verify using the latest rancher v2.6.0 release and the latest harvester ISO image.

Verification scope:
- Either install Rancher 2.6.0 via the [docker run](https://rancher.com/docs/rancher/v2.6/en/quick-start-guide/deployment/quickstart-manual-setup/#2-install-rancher) or using your existing Rancher server
- From the Rancher UI, click the `Virtualization Management` tab and se

[2021-08-30 16:04] guangbochen commented on #1108
should be addressed via https://github.com/harvester/harvester/pull/1107

[2021-08-30 16:28] bk201 opened #1132 "[BUG] The text UI sometimes has systemd messages"
**Describe the bug**
After the cluster is provisioned, sometimes the text UI is flooded with systemd messages.

![Screen Shot 2021-08-31 at 12 22 25 AM](https://user-images.githubusercontent.com/1691518/131371948-dadd31e9-c7f5-47c5-81ec-f1ec37f173c1.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Do a multi-node installation.
2. Check node consoles, sometimes the console has systemd mes

[2021-08-30 18:15] noahgildersleeve opened #1133 "[BUG] Rancher enabled settings does not enable the Rancher button in the header"
**Describe the bug**

When you enable rancher in the advanced settings the UI element doesn't show
**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to advanced settings
2. Set rancher-enabled to `true`
3. Check header

**Expected behavior**

Either we need to fix the UI issue, or we need to remove the setting in advanced settings.
**Support bundle**

**Environment:**
 - Harvester ISO