[2021-04-06 07:05] guangbochen commented on #648
- [x] https://github.com/rancher/wrangler/pull/154
- [x] https://github.com/rancher/steve/pull/16

[2021-04-06 07:29] kingsd041 commented on #522
Validated on v0.2.0-rc1

I can't reproduce it, close it.
If you still have doubts, please reopen it and let me know.

[2021-04-06 07:29] #522 closed, assigned to guangbochen, kingsd041, WuJun2016

[2021-04-06 07:55] guangbochen commented on #579
we should support to tail the following component logs as for a minimum requirement,
1. all pod logs in the `harvester-system` namespace
3. pod logs in the `longhorn-system` if its pod status is an error
4. pod logs in the `default` user namespace if its pod status is an error
5. pod logs in the `kube-system` namespace if its pod status is an error
6. pod logs in the `cattle-system` namespace if i

[2021-04-06 08:13] guangbochen commented on #596
@pgonin please let us know if it is ok to close this issue since I remember this is an internal network issue of your working environment, thanks.

[2021-04-06 09:55] gitlawr commented on #562
v0.39.0 is broken due to https://github.com/kubevirt/kubevirt/issues/5220, we need to wait for a newer kubevirt release.

[2021-04-06 10:17] pgonin commented on #596
@guangbochen I am closing for now. Something is happening after some time with a mismatch between the UI (not updating) and out of sync with `kubectl get nodes`
I'll do more investigation to figure it out.

[2021-04-06 10:18] #596 closed, assigned to gitlawr, WuJun2016

[2021-04-06 14:39] evrardjp commented on #491
Yeah alternatively, I suppose that any IPMI/redfish would be useful?

[2021-04-06 15:49] yasker commented on #579
We also need logs from dmesg, k3s log, and kubelet on all the nodes (I think kubelet log is included in k3s log?).

And all the related YAML for CR objects we're using in Harvester.

For Longhorn, you can directly get a support bundle and embedded it in Harvester support bundle.

Only the error pod's log is normally not enough.

Rancher also have a way to collect support bundle, it's better if we

[2021-04-07 02:14] kingsd041 commented on #417
Validated on master-bde3f168-head

Steps:
1. Create VM with `None` `q35` `pc` machine type respectively
2. Confirm that the VM was successfully created
Result:
VM successfully created

[2021-04-07 02:14] #417 closed, assigned to guangbochen, kingsd041, WuJun2016

[2021-04-07 02:53] DaiYuzeng commented on #642
@WuJun2016

all of columns is searchable by default, if we don't add the `search: false` for columns.

do we need to set columns to be unsearchable by default?

[2021-04-07 05:42] TangStone opened #653 "[BUG] No backup target configuration prompt"
**Describe the bug**

No backup target configuration prompt
**To Reproduce**
Steps to reproduce the behavior:
1. no backup target configured
2. Go to the backup list page
![image.png](https://images.zenhubusercontent.com/6045fac39bfd93ea415d99ee/e965ec6d-cd91-4b4d-97d6-05643818a3ec)

**Expected behavior**

It should be like this
![image.png](https://images.zenhubusercontent.com/6045fac39bfd93ea415

[2021-04-07 06:01] TangStone commented on #626
### Validation in master-621eedd7-head
1. [x] No error message should be displayed by default.
![image](https://user-images.githubusercontent.com/15829074/113816560-96301c00-97a7-11eb-988d-cfb5f14b5aa0.png)
2. [x] Only need to display the endpoint of the backup target on the settings page.
![image](https://user-images.githubusercontent.com/15829074/113817680-49e5db80-97a9-11eb-9c5a-c605f107d58e.pn

[2021-04-07 07:03] futuretea opened #654 "[BUG] In the network configuration page, when moving up, the input is not saved"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. install harvester by ISO
2. choose static ip mode
3. input dnsservers
4. move up
5. move down（then dnsservers change to empty）

**Expected behavior**

the input will be saved

**Log**

**Environment:**
 - Harvester ISO version:
 - Installation Mode: ISO/app-mode
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEd

[2021-04-07 07:21] TangStone commented on #611
### Verification passed in master-a720ef1b-head
![image](https://user-images.githubusercontent.com/15829074/113826619-f6798a80-97b4-11eb-9af4-20cbdfeb621d.png)

[2021-04-07 07:24] #611 closed, assigned to yaocw2020, TangStone

[2021-04-07 09:10] WuJun2016 opened #655 "[FEATURE] Show cpu, memory on the list page"
**Is your feature request related to a problem? Please describe.**
Show cpu, memory on the vm list page

[2021-04-07 09:48] guangbochen commented on #649
- allow the user to config the log level via settings `log-level` configuration
- [UI] available options are info/debug/trace. @WuJun2016

[2021-04-07 12:30] ldevulder opened #657 "[BUG] High disk I/O on version 0.2.0-rc1"
**Describe the bug**
I found a different behavior between version 0.1.0 and 0.2.0-rc1 with the disk usage/activity: since 0.2.0-rc1 I see a very high usage of the disk even if Harvester is doing nothing (no VM running nor configured).
I was able to see this behavior on a test laptop, HPE ProLiant server as well as on VM.

To really compare the 2 versions I created 2 VM with the same size:
- 4 vCPU

[2021-04-07 21:07] philipwilk opened #658 "[BUG] Long time to for instances to be removed after deleting VMs; can't create new instance with same name"
**Describe the bug**
If I delete a VM from the harvester UI it disappears from the list of VMs but the pods still exists. This makes sense if it's shutting down before deleting itself, but it means that if I try to create another VM with the same name, I get an error that an instance with this name already exists under its events, and it gets the state **VM error** under harvester, even though the

[2021-04-08 06:46] WuJun2016 opened #659 "[FEATURE] vmi needs to be displayed in the vm list"
**Is your feature request related to a problem? Please describe.**
If vm is deleted, but vmi still exists, then vmi needs to be displayed in the vm list

1.  vm and vmi exist at the same time, showing vm
2.  vm does not exist, vmi exists, display vmi

[2021-04-08 08:48] kingsd041 commented on #481
Version master-621eedd7-head has been fixed

![image](https://user-images.githubusercontent.com/19684717/113992132-b930fd80-9885-11eb-9a12-5d5153f49373.png)

[2021-04-08 08:48] #481 closed, assigned to futuretea, kingsd041

[2021-04-08 08:53] kingsd041 commented on #641
Validated on master-621eedd7-head

Steps:
1. click Edit Config
2. add vm description

Result:
Saved successfully, and the vm did not restart

[2021-04-08 08:53] #641 closed, assigned to kingsd041, WuJun2016

[2021-04-08 09:08] DoNotSayYes opened #660 "[BUG] Error message appears at the beginning of creating a VM"
**Describe the bug**
Error message appears at the beginning of creating a VM

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the VM page
2. Create a VM
3. Check it on the VM list

**Result**
Error message appears at the beginning of creating a VM, but it will turn out to running eventually.
![image](https://user-images.githubusercontent.com/57614736/113999149-5858f380-988c-11eb-9dd5-34

[2021-04-08 09:09] kingsd041 commented on #650
Validated on master-621eedd7-head

I can't reproduce it, close it.
If you still have doubts, please reopen it and let me know.

[2021-04-08 09:09] #650 closed, assigned to futuretea, kingsd041

[2021-04-08 09:29] DoNotSayYes opened #661 "[BUG] Search result does not match the criterion on the VM page"
**Describe the bug**
Search result does not match the criterion on the VM page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the VM page
2. Search a
3. Then search ar

**Result**
Search a and search ar came out different results
![image](https://user-images.githubusercontent.com/57614736/114002351-5d6b7200-988f-11eb-8090-a61b2f9e79e2.png)
![image](https://user-images.githubuserconten

[2021-04-08 09:48] futuretea commented on #657
@ldevulder  After version 0.1.0, we updated the k3s version to use etcd as the metadata store for the cluster in order to support HA.

etcd has higher performance requirements for disks： https://etcd.io/docs/v3.4/op-guide/hardware/

Failure to meet the performance requirements of etcd on disk, resulting in constant restarts of k3s, which in turn leads to high disk IO all the time.

The performance

[2021-04-08 09:56] WuJun2016 opened #662 "Pod error will appear when creating vm, which should not appear under normal circumstances"
**Is your feature request related to a problem? Please describe.**
The vm status may change to pod err, and it will be normal after a while

**expect**
There is no need to display this pod err, unless it is really wrong

[2021-04-08 10:16] ldevulder commented on #657
On the VM it could be yes (but the virtual disk was on a SATA SSD), but on our bare metal servers we also have the issue and these are not "small" servers I think:
- HPE ProLiant DL360 Gen9
- 128GB of RAM
- 24 cores, 48 threads
- 1 SAS drive of 1TB configured through an HPE SmartArray card

Performance of the HDD (with a simple `hdparm` for a quick test):
[code]

So looks not too bad I think.

[2021-04-08 10:43] gitlawr commented on #662
![image](https://user-images.githubusercontent.com/5697937/114013670-5e55d100-989a-11eb-89f9-94d8650e08cf.png)

[2021-04-08 10:49] gitlawr commented on #621
Depend on https://github.com/rancher/harvester/issues/632

[2021-04-08 10:53] gitlawr opened #664 "[BUG] Empty template name in template version view page"
**To Reproduce**
Steps to reproduce the behavior:
1. Click View Config
![image](https://user-images.githubusercontent.com/5697937/114014731-82fe7880-989b-11eb-84db-6ae3dfb1473b.png)

**Result**
![image](https://user-images.githubusercontent.com/5697937/114014789-94478500-989b-11eb-9bf9-e5f85659e011.png)

[2021-04-08 11:22] guangbochen opened #665 "[BUG] VM is deleted but its pod is stuck in terminating status"
**Describe the bug**
VM is deleted but its pod is stuck in terminating status, and the PV is still in the bound state

**To Reproduce**
Steps to reproduce the behavior:
1. create a new VM from the VM page
2. delete the VM and check its pod and PV status
3. the pod is stuck in terminating status, and the PV is still in the bound state

**Expected behavior**
both the pod and PV are deleted.

**Log**

[2021-04-08 13:28] TangStone commented on #653
Validation in version master-621eedd7-head
Click setting to jump to the settings screen of backup-target
![image](https://user-images.githubusercontent.com/15829074/114034835-23ab6300-98b1-11eb-98ce-585e27973883.png)

[2021-04-08 13:28] #653 closed, assigned to TangStone, WuJun2016

[2021-04-08 13:54] #626 closed, assigned to guangbochen, TangStone, WuJun2016

[2021-04-08 13:56] bk201 commented on #579
I'm implementing the approach that Longhorn currently uses to provide a support bundle:
- Logs
  - [x] All pods in `harvester-system` namespace.
  - [x] All pods in the default namespace.
  - [x] All pods in the `kube-system` namespace.
  - [x] All pods in the `cattle-system` namespace.
- YAML files
  - [x] Kubernetes workload resources, like pods, configmaps, etc. Longhorn support bundle provides

[2021-04-08 23:49] gregoryg opened #666 "[BUG] Rebooting a node makes VMs unable to start"
**Describe the bug**
After rebooting a node, VMs will not start.  New VMs will not start either.

**To Reproduce**
Steps to reproduce the behavior:
    1.  Install from .iso
        -   Create a new Harvester cluster
        -   Choose installation target: sda 953.9G
        -   hostname: protomolecule,NIC eth0; static 172.16.17.16/24; 172.16.17.1; 172.16.17.5,8.8.8.8
        -   cluster token: pr

[2021-04-09 01:19] TangStone commented on #623
### Validate version master-621eedd7-head
Need image pop-up list? @futuretea
![image](https://user-images.githubusercontent.com/15829074/114114464-79b0f280-9913-11eb-8485-caec0d672b92.png)
The v0.1.0 version of iso-image-base-template does not have this
![image](https://user-images.githubusercontent.com/15829074/114114913-694d4780-9914-11eb-984e-ce23c1c86e71.png)

[2021-04-09 02:07] futuretea commented on #623
CC @WuJun2016

[2021-04-09 02:23] DoNotSayYes opened #667 "[BUG] The networks amount is incorrect on the dashboard page"
**Describe the bug**
The networks amount is incorrect on the dashboard page

**To Reproduce**
Steps to reproduce the behavior:
1. Login harvester
2. Check the network amount on the dashboard page

**Result**
The networks amount is incorrect on the dashboard page, there is one network that has been created, but it shows 0 on the dashboard page
![image](https://user-images.githubusercontent.com/5761

[2021-04-09 02:32] DoNotSayYes opened #668 "[BUG] Harvester would lead to 404 when logging out then logging in again"
**Describe the bug**
Harvester would lead to 404 when logging out then logging in again

**To Reproduce**
Steps to reproduce the behavior:
1. Log in to Harvester
2. Log out then log in again

**Result**
It would lead to 404 not found when logging out then logging in again to Harvester
![image](https://user-images.githubusercontent.com/57614736/114119881-0c568f00-991e-11eb-92ca-a75c9bbf132c.png)

*

[2021-04-09 02:33] guangbochen commented on #657
@ldevulder wondering if your cluster is still having the high disk I/O pressure, if yes would be nice if u can help to provide a log from the k3s via login to one of the management nodes and make a compressed zip file of `/var/log/k3s-service.log` and trying to visit the Longhorn UI to generate a support bundle file with:
1. kubectl patch svc longhorn-frontend -p '{"spec": {"ports": [{"port":80, "

[2021-04-09 02:44] futuretea opened #669 "[FEATURE] Add more debug/performance tools to Harvester ISO"
![image](https://user-images.githubusercontent.com/15064560/114121153-6d7f6200-9920-11eb-987f-42a76a8c7448.png)

[2021-04-09 03:15] DoNotSayYes opened #670 "[BUG] Users should not be allowed to delete the admin user"
**Describe the bug**
Users should not be allowed to delete the admin user

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Users page
2. Choose admin user and delete it

**Result**
Admin user can be deleted, harvester is not accessible without any existing user.
![image](https://user-images.githubusercontent.com/57614736/114122564-17f88480-9923-11eb-8f82-de71811a5682.png)
![image](h

[2021-04-09 03:15] guangbochen commented on #665
k3s error shows:
[code]
as a temporary workaround, this can be addressed by node reboot.

[2021-04-09 03:17] guangbochen commented on #666
might be related to https://github.com/rancher/harvester/issues/543

[2021-04-09 03:36] guangbochen opened #671 "[FEATURE] Add warning on the installer when a NIC can't get IP from its DHCP server"
**Is your feature request related to a problem? Please describe.**
When a physical NIC is failed to request an IP from its DHCP server during the Harvester installation, the commnatcl in k3os will allocate a fallback IP with 169.250.x.x, however, this is not obvious to the common users and they may continue to process the Harvester installation with this bad IP address, as a result, the k3s cluste

[2021-04-09 05:20] TangStone commented on #629
### Validate version master-621eedd7-head
Unlimited memory settings for harvester Pod's cgroup
![image](https://user-images.githubusercontent.com/15829074/114128794-c276a480-992f-11eb-9c0c-c669bfe2d520.png)
Use the pressurization tool to make harvester use more than 500Mi of memory
![image](https://user-images.githubusercontent.com/15829074/114400532-a5aecb00-9bd4-11eb-9950-5c67b5815f12.png)
Uploa

[2021-04-09 06:03] gitlawr opened #673 "[BUG] installer console exits on network configuration page"
**Version**
master 0409

**To Reproduce**
Steps to reproduce the behavior:
1. Boot from ISO image
2. Select Join a cluster.
3. Select the device target
4. Do not input anything in the hostname field and click arrow-down key.

**Result**
console exit and the shell shows up.
Logs:
![image](https://user-images.githubusercontent.com/5697937/114135308-aaa51d80-993b-11eb-8704-09b4fde8fa30.png)

[2021-04-09 06:29] WuJun2016 commented on #662
![image](https://user-images.githubusercontent.com/24985926/114138257-f5289900-993f-11eb-9d7f-b01eb593a4d5.png)

[2021-04-09 07:05] TangStone commented on #638
Validate version master-621eedd7-head
Shut down the harvester host or disconnect the client from the network
![image](https://user-images.githubusercontent.com/15829074/114133857-4aad7780-9939-11eb-9979-86837f39eb4d.png)

[2021-04-09 08:30] gitlawr opened #674 "[BUG] ssh key from template does not display in VM creation page"
**To Reproduce**
Steps to reproduce the behavior:
1. Create an ssh key
2. Create a VM template with the ssh key
3. Create a VM, use the template.

**Expected behavior**
Display the ssh key from template in VM creation page.

**Result**
The ssh key option is empty after the template is used.
The ssh key is included in the VM spec after creation, and it shows up when you edit the config of the VM.

[2021-04-09 08:32] futuretea commented on #673
Caused by a small screen resolution

[2021-04-09 08:49] kingsd041 commented on #620
Validated on master-621eedd7-head

Steps:

1. create k8s cluster using harvester node driver in the Rancher
2. check VM on the Harvester page

Result:
3 VMs are created on 3 harvester nodes respectively

[2021-04-09 08:49] #620 closed, assigned to futuretea, kingsd041

[2021-04-09 10:00] ldevulder commented on #657
@guangbochen Yes it still have. TO be sure I added a 2nd node on my local cluster (another laptop with a ~700GB HDD) and I still have the issue on the management node. 2nd node is OK after some times, no high I/O. So as `etcd` runs only on the management node this seems to confirm the culprit.

So I get the `k3s-service.log` from both nodes as well as the Longhorn logs from the management node: [h

[2021-04-09 10:03] gitlawr opened #676 "[BUG] Cannot use VM image if the URL is duplicate with another VM image."
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Create a VM image ubuntu1.
2. Provision a VM using ubuntu1 image.
3. Create another VM image ubuntu2 with the same URL as ubuntu1.
4. Provision a VM using ubuntu2 image.

**Expected behavior**
VM provisioning succeeds.

**Result**
The VM pod and relevant pvc stuck in pending status.

**Log**
[code]

**Environment:**
 - Harv

[2021-04-09 10:21] gitlawr commented on #665
Error logs in k3s-service.log
[code]
Full logs( the terminating pod was virt-launcher-lawr-volumes-rvd6g):
[k3s-service.log](https://github.com/rancher/harvester/files/6284965/k3s-service.log)

Longhorn support bundle:
[longhorn-support-bundle_ae8984f7-661c-4a7c-80bd-50f6890fe4c2_2021-04-09T10-23-03Z.zip](https://github.com/rancher/harvester/files/6284987/longhorn-support-bundle_ae8984f7-661c-4a7c

[2021-04-09 10:28] gitlawr commented on #665
kubectl describe po:
[code]

[2021-04-09 11:01] gitlawr commented on #676
cc @shuo-wu seems like a limitation to use the same URL in different backing images

[2021-04-09 12:21] shuo-wu commented on #676
Longhorn won't create a new backing image if the URL is already used by an existing backing image.

If this check is unnecessary, I can remove it.

[2021-04-12 00:08] TangStone commented on #655
Should there be CPU units here @WuJun2016
![image](https://user-images.githubusercontent.com/15829074/114326147-e91e2080-9b65-11eb-9955-308d9dca70f4.png)

[2021-04-12 02:37] guangbochen commented on #669
@futuretea can u please help to clarify what tool has been added and what are verification steps required from the QA side, thanks.

[2021-04-12 03:03] futuretea commented on #669
verification steps:
1. check if the corresponding command exists.

package | command
-- | --
sysstat | pidstat,iostat,sar
smartmontools | smartctl
hwinfo | hwinfo
gotop | gotop
bcc-tools | /usr/share/bcc/tools/*
iperf | iperf
iftop | iftop
iotop | iotop
fio | fio
scapy | scapy
tcpdump | tcpdump
tshark | tshark
ethtool | ethtool
socat | socat
httpie | http
tcptraceroute | tcptraceroute
mtr | mtr
bi

[2021-04-12 03:12] DaiYuzeng opened #677 "[BUG]should not display the state of VM when the VM is migrating/aborting"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to VM list page
2. Migrate a VM
3. The field of state would display two badges, one is VM state, the other one is migration state

**Expected behavior**

1. should not display the state of VM when the VM is migrating/aborting

**Log**

**Environment:**
 - Harvester ISO version:
 - Installation Mode: ISO/app-mode
 - Under

[2021-04-12 04:08] guangbochen commented on #676
Yes please remove this logic since we won't block a user from creating a new image from the same URL since different users might upload the same file @shuo-wu .

[2021-04-12 05:30] shuo-wu commented on #676
The fix is the commit `Allow creating multiple backing images with the same URL` in this PR:
https://github.com/longhorn/longhorn-manager/pull/869

[2021-04-12 07:25] DoNotSayYes commented on #668
Validated on master-head

[2021-04-12 07:25] #668 closed, assigned to DoNotSayYes

[2021-04-12 07:36] WuJun2016 commented on #623
@TangStone  @futuretea   is a bug, the image list should not be displayed

[2021-04-12 07:38] DoNotSayYes commented on #667
Validated on master-head

[2021-04-12 07:38] #667 closed, assigned to WuJun2016, DoNotSayYes

[2021-04-12 07:39] #388 closed, assigned to DoNotSayYes

[2021-04-12 08:29] WuJun2016 opened #678 "[BUG] Delete vmi and vm error at the same time"
**Describe the bug**
When there is a vmi that has not been deleted, an error will be reported if you choose to delete the vm at the same time
![image](https://user-images.githubusercontent.com/24985926/114363784-5607d980-9bab-11eb-9e12-a5eb49e5ed84.png)

![image](https://user-images.githubusercontent.com/24985926/114364245-c9115000-9bab-11eb-8447-826a8d8464ad.png)

**To Reproduce**
Steps to reprod

[2021-04-12 08:53] DoNotSayYes commented on #517
No action can be found on the front end. @DaiYuzeng Could you help confirm that anything should be done on the front end?
![image](https://user-images.githubusercontent.com/57614736/114367753-5ace8c80-9baf-11eb-9203-7c47f482e36c.png)
![image](https://user-images.githubusercontent.com/57614736/114368040-9d906480-9baf-11eb-882b-c387062b813f.png)

[2021-04-12 09:18] DaiYuzeng commented on #517
we need to add an item of action-menu would be called `Create Template`

[2021-04-12 09:49] DoNotSayYes commented on #640
Please help figure out the following issues. @WuJun2016
- [ ] 1. When the check box is checked, the original content will be overwritten.
- [ ] 2. When the check box is unchecked, the content will still remain, it's better to sweep it away.

[2021-04-12 10:06] DoNotSayYes opened #679 "[BUG] It's unnecessary to carry the Mac Address when cloning a VM"
**Describe the bug**
It's unnecessary to carry the Mac Address when cloning a VM

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the VM page.
2. Select a VM and clone it
3. On the clone page, check all the configurations

**Expected behavior**
It's unnecessary to carry the Mac Address when cloning a VM
![image](https://user-images.githubusercontent.com/57614736/114377910-c0c01180-9bb9-

[2021-04-12 13:22] #629 closed, assigned to guangbochen, TangStone

[2021-04-13 02:34] gitlawr commented on #666
How did you change the replica count? We generate a storage class for each image. If you change the replica count in the default longhorn storage class it may be irrelevant to this issue

[2021-04-13 02:56] futuretea commented on #657
@ldevulder  Hi，I have added some debug tools to the latest master [ISO](https://releases.rancher.com/harvester/master/harvester-amd64.iso). such as fio, iotop, etc.
 You can use the latest iso to install and then follow the steps written in this [article](https://www.ibm.com/cloud/blog/using-fio-to-tell-whether-your-storage-is-fast-enough-for-etcd) to test if your disk meets the requirements of et

[2021-04-13 03:42] TangStone commented on #639
### Confirm the minIO component is gone
View the minIO component in the v0.2.0-rc1 version
![image](https://user-images.githubusercontent.com/15829074/114493357-024dcc80-9c4d-11eb-80e3-4ea2e06b7cb0.png)
View minIO component in master-95a5828a-head version
![image](https://user-images.githubusercontent.com/15829074/114493526-4b9e1c00-9c4d-11eb-8ef2-2060143b006e.png)

[2021-04-13 05:20] gitlawr commented on #666
I can reproduce in v0.2.0-rc1.
Simplified steps:
1. Install single node Harvester by ISO image.
2. Create a VM image using https://cloud-images.ubuntu.com/bionic/current/bionic-server-cloudimg-amd64.img
3. Create a VM from the image. Wait until it is running.
4. reboot the node.

**Result**
The VM stays in creating status.

Log from longhorn manager:
[code]
The backing-image pod never turns to rea

[2021-04-13 05:28] gitlawr commented on #666
Validated that this is fixed in master-95a5828a-head(0413), with minio removal and backingimage implementation change.

Following the above steps VMs recover as expected.

Also tested the case when image hosting service is down(like minio service down during reboot in v0.2.0-rc1).
1. Serve the image file in HTTP service.(e.g. cd to the directory that keeps the file and run `docker run -p 80:80 -d

[2021-04-13 05:35] gitlawr commented on #543
With the removal of minIO this is not reproducible anymore. If we see similar symptons in other pods we will track that in other issues.

[2021-04-13 05:35] #543 closed, assigned to gitlawr

[2021-04-13 05:53] guangbochen commented on #658
when the VM is removed its backend is still waiting for the VM pod to be deleted, therefore we should add the VM sub-resources status check in the UI to avoid ambiguity.

[2021-04-13 06:11] guangbochen commented on #523
duplicate of https://github.com/rancher/harvester/issues/640, will be tracked there.

[2021-04-13 06:12] #523 closed, assigned to DaiYuzeng

[2021-04-13 06:17] gitlawr opened #681 "Support compressed image in gz and xz format"
depends on

- [x] https://github.com/longhorn/longhorn/issues/2530
- [x] https://github.com/longhorn/longhorn/issues/3988

[2021-04-13 06:19] gitlawr opened #682 "Update image format hint for gz and xz fomat"
Compressed image format is not supported in current implementation. The support for it is tracked in https://github.com/rancher/harvester/issues/681

We need to update the hint on image creation page:
![image](https://user-images.githubusercontent.com/5697937/114505612-3b913700-9c63-11eb-8347-246b381af905.png)

[2021-04-13 06:50] gitlawr commented on #658
We need to use [forground cascading deletion policy](https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/#foreground-cascading-deletion) to delete VM objects.

[2021-04-13 06:58] yaocw2020 commented on #633
Reference about [how to develop a cloud provider](https://kubernetes.io/docs/tasks/administer-cluster/developing-cloud-controller-manager/)

[2021-04-13 07:00] gitlawr commented on #658
@WuJun2016 Set the propagationPolicy param when calling the vm deletion API.
e.g.:
[code]

[2021-04-13 07:29] WuJun2016 opened #683 "[BUG] Websocket prompt enhancement"
**Describe the bug**

To improve user experience, websocket disconnection does not need to prompt immediately. Because it may be disconnected, the connection will be successful immediately.

Solution: Prompt after 30 seconds after disconnection (if the connection is not successful yet)

[2021-04-13 07:41] TangStone commented on #639
### confirm that image & VM operations work as before.
Validation in master-95a5828a-head version

- [x] 1. add image to harvester
![image](https://user-images.githubusercontent.com/15829074/114512465-b8c0aa00-9c6b-11eb-9186-59b4bc85190e.png)
- [x] 2. Create a VM with the added image, View basic VM information and operate the VM
![image](https://user-images.githubusercontent.com/15829074/114514405

[2021-04-13 07:43] #639 closed, assigned to gitlawr, TangStone, WuJun2016

[2021-04-13 09:49] DaiYuzeng opened #684 "[BUG]the action is unavailable on host page"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Host detail page, switch to instance tab
2. the migrate action and the backup action are both unavailable

**Expected behavior**
1. the migrate action and the backup action should be available

**Log**

**Environment:**
 - Harvester ISO version:
 - Installation Mode: ISO/app-mode
 - Underlying Infrastructure (e.g. Bar

[2021-04-13 10:20] DoNotSayYes commented on #609
Validated on master-head

[2021-04-13 10:20] #609 closed, assigned to WuJun2016, DoNotSayYes

[2021-04-13 15:01] TangStone commented on #384
### Validate the version in master-95a5828a-head
**Pass the test according to the following use case** https://github.com/rancher/harvester/issues/384#issuecomment-810844308

**Additional use cases**
1.  VM can migrate to the specified node
2.  support abortMigration
3. In VM detail page, a Migration tab showing migration status

[2021-04-13 16:10] gregoryg commented on #666
If I have fewer than 3 nodes, I change each volume's replica count down to the number of nodes so that Longhorn does not report the volume as unhealthy.

[2021-04-14 00:23] TangStone commented on #622
### Validate the version in master-95a5828a-head
**The nodes of harvester are as follows**
![image](https://user-images.githubusercontent.com/15829074/114635771-071b8a80-9cf8-11eb-8b05-aadd22a4fec0.png)
1. Verify the VM from the current node to the specified node
Target node list is correct
![image](https://user-images.githubusercontent.com/15829074/114635909-66799a80-9cf8-11eb-906a-d227875d9096.p

[2021-04-14 01:35] TangStone opened #686 "[BUG] The vm migration button in the VM Instacne list is not responding"
**Describe the bug**

The vm migration button in the VM Instacne list is not responding
**To Reproduce**
Steps to reproduce the behavior:
1. As shown below, click the `Migrate` button, no response
![image](https://user-images.githubusercontent.com/15829074/114641095-0852b480-9d04-11eb-870d-b1b3dec8ee10.png)

**Expected behavior**

**Log**

**Environment:**
 - Harvester ISO version: master-95a5828a

[2021-04-14 01:50] #655 closed, assigned to TangStone, WuJun2016

[2021-04-14 01:52] WuJun2016 commented on #686
@TangStone
Repeat, close this issue, and track another one  https://github.com/rancher/harvester/issues/684

[2021-04-14 01:53] #686 closed, assigned to TangStone

[2021-04-14 02:07] TangStone opened #687 "[BUG] Enabling maintenance mode does not support migrating all virtual machines to the target node."
**Describe the bug**

Enabling maintenance mode does not support migrating all virtual machines on the node to the target node.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Host list
2. Enable maintenance mode for one of the nodes
![image](https://user-images.githubusercontent.com/15829074/114643427-34703480-9d08-11eb-979f-cfc2ec396c00.png)

**Expected behavior**

Similar to the

[2021-04-14 02:25] gitlawr commented on #687
Node maintenance is to perform a node eviction and migrate all VMs to other nodes. A target node is not required for this operation. The requirement is specified in https://github.com/rancher/harvester/issues/573.

[2021-04-14 02:50] TangStone opened #688 "[BUG] No filter nodes(Maintenance mode) in the migration target action"
**Describe the bug**

No filter nodes(Maintenance mode) in the migration target action
**To Reproduce**
Steps to reproduce the behavior:
1. create a vm, vm running in harvester node
2. harvester3 node enable Maintenance mode
![image](https://user-images.githubusercontent.com/15829074/114646733-62587780-9d0e-11eb-982c-94b5156c50bc.png)
3.  Migrate vm to the target node
![image](https://user-images.

[2021-04-14 02:51] #384 closed, assigned to gitlawr, TangStone

[2021-04-14 02:51] #622 closed, assigned to gitlawr, DaiYuzeng, TangStone

[2021-04-14 06:59] futuretea commented on #643
Fields on migration tab are still display English. @DaiYuzeng
 ![image](https://user-images.githubusercontent.com/15064560/114667118-aa3cc600-9d31-11eb-89fc-d3c7c1eb3ddb.png)

[2021-04-14 07:08] kongzi68 commented on #591
使用的版本为：Rancher Harvester v0.1.0 initial release
目前，我三台物理服务器组建了harvester集群。1管理节点，2node节点。在交换机中，接3台服务器的端口都设置了dhcp 、trunck，以及配置了vlanID分别为16、17。我在harvesterUI界面创建了两个vlan，分别为：vlan16，id为16；vlan17，id为17。已经调通，创建的虚拟机可以DHCP获取到真实IP了。谢谢。

[2021-04-14 07:45] juadk opened #690 "[FEATURE] write_files equivalent in harvester config"
**Is your feature request related to a problem? Please describe.**
I'd like to automatically configure a linux bonding for my harvester node.
I'm using the automatic installation for deploying harvester on my lab (https://github.com/rancher/harvester/blob/master/docs/automatic-installation.md) and looks like that's not possible to create the bonding automatically.

I tried something like this: `ke

[2021-04-14 08:00] guangbochen commented on #690
Harvester has introduced a custom [configuration file](https://github.com/rancher/harvester/blob/master/docs/harvester-configuration.md) which is similar to the k3os config, let us know if the existing configuration file does not meet your expectation, an example can be found on https://github.com/harvester/ipxe-examples/tree/main/general.

[2021-04-14 08:12] juadk commented on #690
Hello, yes I'm aware of the harvester configuration file but I don't see how to create a custom file with it.
And yes I got inspired by the IPXE examples on Github.

I asked the question on slack and @gitlawr told me to open this issue because it is not possible to create a custom file with the harvester config.

[2021-04-14 08:47] gitlawr commented on #690
So the initial request is to be able to configure network bonding. In k3os this is feasible using [custom config file](https://github.com/rancher/k3os/issues/457). Comparing with that, `write_files` and `run_cmd` are the missing parts in harvester configuration as far as I can tell.

[2021-04-14 09:04] guangbochen commented on #642
duplicate of https://github.com/rancher/harvester/issues/661

[2021-04-14 09:04] #642 closed, assigned to DaiYuzeng

[2021-04-14 09:05] juadk commented on #690
Exactly, our k3os custom file looks like this:
[code]

[2021-04-14 09:25] DoNotSayYes opened #692 "[BUG] Sometimes Harvester could be unreachable"
**Describe the bug**
Sometimes Harvester could be unreachable.

**To Reproduce**
Steps to reproduce the behavior:
1. On the harvester VM page or any
2. Refresh the page

**Result**
Sometimes Harvester could be unreachable, clearing cookies and refreshing the page would not help. However, at the same time, it could work in another browser.
![image](https://user-images.githubusercontent.com/57614736

[2021-04-14 09:33] guangbochen opened #693 "[BUG] migration failed stauts is missing"
**Describe the bug**
When the migration is failed the VM migration tab UI doesn't include any relevant status.

**To Reproduce**
Steps to reproduce the behavior:
1. go to the VM listing page
2. click to migrate the VM to another node
3. when the migration is failed e.g the node is down
4. no migration failed status was shown on the migration tab

**Expected behavior**
Should display `migration fai

[2021-04-14 09:41] ldevulder commented on #657
@futuretea So I tested on my local lab (2 laptops) and yes I don't have a correct "99th percentile of fdatasync durations" (50ms in the best case).
On my more powerful lab (HPE servers) it's OK, I have ~60usec (~170usec in the worst case). So as you said it seems that with `etcd` there is a lot of I/O and it seems to be "normal". I'm just a little bit worried about the disk lifetime with all these

[2021-04-14 09:59] DoNotSayYes opened #694 "[BUG] Add a CD-ROM automatically when creating a VM using an ISO image"
**Describe the bug**
Add a CD-ROM automatically when creating a VM using an ISO image

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the VM page
2. Create a harvester VM using the harvester ISO image,  but not adding a CR-ROM

**Result**
The harvester ISO image is not bootable due to lacking a CD-ROM
![image](https://user-images.githubusercontent.com/57614736/114692198-fe07d900-9d4a-1

[2021-04-14 10:01] futuretea commented on #657
@ldevulder  If the disk performance is enough, then etcd will work better, so k3s won't restart repeatedly and won't have a lot of IO.

Due to the node role promote feature, If the number of nodes reaches 3, then the 2th and 3th nodes will be automatically promoted to management node(etcd+controll plane), users should make sure that the disks in the first three nodes all meet the performance requi

[2021-04-15 01:49] DoNotSayYes opened #695 "[BUG] The VM statuses are not displaying correctly on the dashboard page"
**Describe the bug**
 The VM statuses are not displaying correctly on the dashboard page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the dashboard page, check on the VM statuses
2. Go to the VM page, check all the VM statues

**Result**
 The VM statuses are not displaying correctly on the dashboard page
![image](https://user-images.githubusercontent.com/57614736/114802122-b9725100-

[2021-04-15 01:52] gitlawr opened #696 "Disable image URL editing"
Editing the image URL may cause confusion. For example, two VMs may use the same image but the volume data is different if they are from different image URLs. To avoid this, disable updating the image URL.

[2021-04-15 03:56] gitlawr commented on #534
Track this in https://github.com/rancher/harvester/issues/635

[2021-04-15 03:56] #534 closed, assigned to yaocw2020

[2021-04-15 14:34] guangbochen commented on #694
there are few spaces for the UX improvement that we could make upon the ISO image type:
- [x] auto change the disk type to `CD-ROM` when a `.iso` image is selected.
- [x] add a notification on the first VM image tab when the VM only contains a `CD-ROM` disk.

[2021-04-15 18:38] gregoryg commented on #646
I can confirm this is fixed in 0.2.0-rc2

[2021-04-15 18:51] gregoryg commented on #666
looks like this is fixed in 0.2.0-rc2!

[2021-04-15 23:14] abonillabeeche opened #698 "[BUG] netmask config on static up fails"
**Describe the bug**

when configuring a static ip and pressing down to move to netmask, the installer drops into a shell

**To Reproduce**
Steps to reproduce the behavior:
1. Load the installer
2. Specify a hostname and Ethernet interface
3. Tab to change dhcp to static
4. Input the IP and press down to go to netmask

**Expected behavior**

the prompt should move to netmask and allow to input the

[2021-04-16 00:33] futuretea commented on #698
![image](https://user-images.githubusercontent.com/15064560/114954481-44655100-9e8d-11eb-85a5-797af402d708.png)
@abonillabeeche  I think you mean the `Gateway` input box.
The value of `IPv4 Address` must be a CIDR address
The reason for the abnormal exit is most likely that the screen is too small to display the error message bar.
Can you help to check logs on `/var/log/console.log`? Thanks

[2021-04-16 01:00] futuretea opened #699 "[BUG] Can't create network after enable vlan network"
**Describe the bug**

![image](https://user-images.githubusercontent.com/15064560/114956203-fa7e6a00-9e90-11eb-8c62-8e7952b27b83.png)

**To Reproduce**
Steps to reproduce the behavior:
1. enable vlan network
2. go to network page

**Expected behavior**

can create vlan network

**Log**

[code]

**Environment:**
 - Harvester ISO version:  v0.2.0-rc2
 - Installation Mode: ISO
 - Underlying Infrastru

[2021-04-16 01:17] guangbochen commented on #699
seems the RBAC is missing nodenetwork.status permission

[2021-04-16 02:01] futuretea opened #701 "[BUG] During vm migration, vm status show Running on vm detail page"
**Describe the bug**

![image](https://user-images.githubusercontent.com/15064560/114960749-4386ec00-9e9a-11eb-8097-9e7d96c18b07.png)

**To Reproduce**
Steps to reproduce the behavior:
1. go to vm detail page
2. migrate a vm

**Expected behavior**

vm status show Migrating

**Log**

**Environment:**
 - Harvester ISO version:
 - Installation Mode: ISO/app-mode
 - Underlying Infrastructure (e.g. Bar

[2021-04-16 02:18] futuretea opened #702 "[BUG] Can't generate vm template if vm is stopped"
**Describe the bug**

![image](https://user-images.githubusercontent.com/15064560/114962149-ca3cc880-9e9c-11eb-9c6a-f18efc20331c.png)
![image](https://user-images.githubusercontent.com/15064560/114962351-1ab42600-9e9d-11eb-9965-27f0f5d1956f.png)

**To Reproduce**
Steps to reproduce the behavior:
1. stop a vm
2. check if vm can generate template

**Expected behavior**

also can generate vm template

[2021-04-16 02:20] futuretea opened #703 "[BUG] Can't backup vm if vm is stopped"
**Describe the bug**

![image](https://user-images.githubusercontent.com/15064560/114962149-ca3cc880-9e9c-11eb-9c6a-f18efc20331c.png)
![image](https://user-images.githubusercontent.com/15064560/114962351-1ab42600-9e9d-11eb-9965-27f0f5d1956f.png)

**To Reproduce**
Steps to reproduce the behavior:
1. stop a vm
2. check if vm can backup

**Expected behavior**

also can backup vm when vm is stopped

*

[2021-04-16 02:25] guangbochen commented on #699
as a temporary workaround users can patch the network-controller image to `v0.1.4` with
[code]
this will be fixed in https://github.com/rancher/harvester/pull/700

[2021-04-16 02:25] WuJun2016 commented on #701
@futuretea  @guangbochen  vm status and migration status are separate, I think it’s better not to change .

[2021-04-16 02:30] guangbochen commented on #701
I think they should be consistent, even though we know the VM is running as it is live migration, but the `migrating` status should be prioritized.

[2021-04-16 02:58] yaocw2020 opened #704 "[FEATURE] Add VLAN 1 by default"
**Is your feature request related to a problem? Please describe.**

Users often don't know how to configure a public IP address to the VMs.

**Describe the solution you'd like**

We can add a network of VLAN 1 by default when creating a VM if VLAN is open.

**Describe alternatives you've considered**

None

**Additional context**

None

[2021-04-16 03:36] WuJun2016 opened #705 "[FEATURE] Show detailed information about vm status"
**Is your feature request related to a problem? Please describe.**
When the vm status is not running, display the detailed information of the associated crd, such as the error message of pod or vmi

[2021-04-16 04:17] gitlawr opened #706 "Log rotation for k3s logs"
The `/var/log/k3s-service.log` can be large in size as time goes.

Related: https://github.com/rancher/k3os/issues/433

[2021-04-16 06:23] gitlawr opened #707 "[Flaky-test] verify vm template APIs"
[code]

https://drone-pr.rancher.io/rancher/harvester/782/1/2

[2021-04-16 08:40] gitlawr opened #708 "[BUG] Image state is failed when initially created"
**Describe the bug**
![image](https://user-images.githubusercontent.com/5697937/114996849-d5f6b200-9ed1-11eb-9d01-887463b28815.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a VM image using `http://cloud-images-archive.ubuntu.com/releases/bionic/release-20201117/ubuntu-18.04-server-cloudimg-amd64.img`
2. Check the image state

**Expected behavior**
No Failed state unless there'

[2021-04-16 09:55] yaocw2020 opened #709 "[BUG] The default route disappeared"
**Describe the bug**

After the IPv4 address of slave NIC changed, the default route whose interface is harvester-br0 disappeared.

**To Reproduce**
Steps to reproduce the behavior:
Change the IPv4 address of the slave NIC via DHCP.
- Bind a difference IP in DHCP static table.
- Execute `udhcpc -i <slave NIC>` to change IP

**Expected behavior**

The IPv4 address of harvester-br0 keeps the same as

[2021-04-16 13:17] TangStone commented on #623
### Validate version master-95a5828a-head
UI issues have been verified and modified
![image](https://user-images.githubusercontent.com/15829074/115029136-41537a80-9ef8-11eb-9e73-3e90e1c6b3c6.png)
Use the above template to create a VM
![image](https://user-images.githubusercontent.com/15829074/115029887-07cf3f00-9ef9-11eb-83d0-b97072fe4c20.png)

[2021-04-16 13:17] #623 closed, assigned to futuretea, TangStone, WuJun2016

[2021-04-18 14:45] TangStone commented on #594
Validation passed in version master-95a5828a-head

[2021-04-18 14:45] #594 closed, assigned to yaocw2020, TangStone, WuJun2016

[2021-04-19 02:38] futuretea opened #710 "[BUG] After vm restore, sshkey name become Unknown"
**Describe the bug**

![image](https://user-images.githubusercontent.com/15064560/115174094-2f8df500-a0fb-11eb-9faa-a51faafe7f54.png)
![image](https://user-images.githubusercontent.com/15064560/115173974-f0f83a80-a0fa-11eb-81a8-063f341a1e33.png)

**To Reproduce**
Steps to reproduce the behavior:
1.  restore a backup
2. check the restored vm's sshkey

**Expected behavior**

the restored vm's sshkey

[2021-04-19 02:50] futuretea opened #711 "[BUG] After vm restore, display text "Operation complete" on backup detail page"
**Describe the bug**

![image](https://user-images.githubusercontent.com/15064560/115175039-e474e180-a0fc-11eb-851c-effd5b55b8ee.png)

**To Reproduce**
Steps to reproduce the behavior:
1. restore vm from a backup
2. go to backup detail page

**Expected behavior**

don't  show the "Operation complete" text

**Log**

**Environment:**
 - Harvester ISO version: 0.2.0-rc3
 - Installation Mode: ISO/app-

[2021-04-19 02:53] futuretea commented on #699
validate on 0.2.0-rc3

[2021-04-19 02:53] #699 closed, assigned to guangbochen

[2021-04-19 03:26] futuretea opened #712 "[BUG] Can't get the favicon.ico icon in offline environment"
**Describe the bug**

![image](https://user-images.githubusercontent.com/15064560/115177322-88608c00-a101-11eb-9f95-6328ec1aef77.png)

**To Reproduce**
Steps to reproduce the behavior:
1.open Harvester

**Expected behavior**

show favicon.ico correctly

**Log**

**Environment:**
 - Harvester ISO version:  0.20-rc3
 - Installation Mode: ISO
 - Underlying Infrastructure (e.g. Baremetal with Dell Pow

[2021-04-19 04:13] TangStone commented on #659
### Validate version master-95a5828a-head

1. Create a vm, check the status of vm and vmi at this time
![image](https://user-images.githubusercontent.com/15829074/115180163-88638a80-a107-11eb-9384-0aa081a250b6.png)
**vm and vmi exist at the same time, showing vm**
![image](https://user-images.githubusercontent.com/15829074/115180151-81d51300-a107-11eb-9281-c24faed6bf17.png)
2. First "kubectl edit

[2021-04-19 04:13] #659 closed, assigned to TangStone, WuJun2016

[2021-04-19 04:27] TangStone commented on #643
Validation passed in version master-95a5828a-head
![image](https://user-images.githubusercontent.com/15829074/115181444-8d760900-a10a-11eb-947a-b61d9f60924b.png)

[2021-04-19 04:27] #643 closed, assigned to DaiYuzeng, TangStone, WuJun2016

[2021-04-19 06:38] WuJun2016 commented on #705
![image](https://user-images.githubusercontent.com/24985926/115192111-f1a1c880-a11c-11eb-9d75-dec608762d2f.png)

[2021-04-19 06:51] DoNotSayYes commented on #679
Validated on master-head

[2021-04-19 06:51] #679 closed, assigned to WuJun2016, DoNotSayYes

[2021-04-19 07:02] DoNotSayYes commented on #517
It returns no content when generating a VM template.
![image](https://user-images.githubusercontent.com/57614736/115194335-e9975800-a11f-11eb-867e-be9d744492fa.png)

[2021-04-19 07:03] TangStone commented on #688
### Validation passed in version v0.2.0-rc2
1. Three nodes, one of which is set to Maintenance mode,
![image](https://user-images.githubusercontent.com/15829074/115196006-02087200-a122-11eb-842f-6f7fa91dcbba.png)
![image](https://user-images.githubusercontent.com/15829074/115196038-0c2a7080-a122-11eb-8f6f-559d317e4acd.png)
2. Three nodes, two of which are set to Maintenance mode
![image](https://u

[2021-04-19 07:07] guangbochen commented on #702
@WuJun2016 should allow users to specify the template name and description when creating a VM template from the existing VM.

[2021-04-19 07:08] guangbochen commented on #517
should be tracked on https://github.com/rancher/harvester/issues/702 as an enhancement.

[2021-04-19 07:18] #688 closed, assigned to DaiYuzeng, TangStone

[2021-04-19 07:30] TangStone commented on #677
Validation passed in version v0.2.0-rc2
1. vm Migration
![image](https://user-images.githubusercontent.com/15829074/115197764-f158fb80-a123-11eb-96d0-2b65bde51972.png)
2. vm Aborting migration
![image](https://user-images.githubusercontent.com/15829074/115197927-19485f00-a124-11eb-85bd-cc9a8f6ea572.png)

[2021-04-19 07:30] #677 closed, assigned to DaiYuzeng, TangStone

[2021-04-19 07:32] gitlawr commented on #383
Check https://github.com/rancher/harvester/pull/716/files for reference.

For upgrade test in the UI:
1. Serve a file with the following content(assume it is available from http://10.0.0.10/version-metadata.json):
[code]
1. deploy a v0.2.0-rc2 cluster.
2. Run the following commands
[code]
3. Proceed in the UI as the documentation suggests

[2021-04-19 07:36] yaocw2020 opened #717 "[FEATURE] Add nodenetwork yaml in the HOST edit page"
**Is your feature request related to a problem? Please describe.**

No

**Describe the solution you'd like**

Add nodenetwork yaml in the HOST edit page

**Describe alternatives you've considered**

No

**Additional context**

No

[2021-04-19 08:08] guangbochen commented on #704
added on the doc https://github.com/rancher/harvester/pull/589

[2021-04-19 08:08] #704 closed, assigned to yaocw2020

[2021-04-19 08:21] guangbochen commented on #687
close as duplicate of https://github.com/rancher/harvester/issues/573

[2021-04-19 08:21] #687 closed, assigned to TangStone

[2021-04-19 08:24] guangbochen commented on #662
duplicate of https://github.com/rancher/harvester/issues/662

[2021-04-19 08:24] #662 closed, assigned to yaocw2020, WuJun2016

[2021-04-19 09:02] DoNotSayYes commented on #664
Still can be encountered.
![image](https://user-images.githubusercontent.com/57614736/115210193-f1abc380-a130-11eb-807b-98e928fc295c.png)
![image](https://user-images.githubusercontent.com/57614736/115210279-05572a00-a131-11eb-841f-ca80bda18a48.png)

[2021-04-19 09:43] DoNotSayYes commented on #640
Remove `package_update: true` if nothing is filled in `packages` @WuJun2016
![image](https://user-images.githubusercontent.com/57614736/115215819-751be380-a136-11eb-93c4-1976a622c012.png)
![image](https://user-images.githubusercontent.com/57614736/115215869-849b2c80-a136-11eb-9980-7f0cc61ec0c8.png)

[2021-04-19 09:48] WuJun2016 commented on #664
The template version created by vm is missing the version number

[2021-04-19 09:52] DoNotSayYes opened #719 "[FEATURE] UI design enhancement"
- [ ] 1. On the VM create page, the prompt looks like an option and selectable in the dropdown, it may make users get confused
![image](https://user-images.githubusercontent.com/57614736/115216523-2884d800-a137-11eb-937c-b4105e807876.png)

- [x] 2.
![image](https://user-images.githubusercontent.com/24985926/115535724-9d891680-a2cb-11eb-838b-a5393424dd62.png)

- [ ] 3.  Message type:
  * Message no

[2021-04-19 10:02] guangbochen commented on #526
depends on https://github.com/longhorn/longhorn/issues/2512

[2021-04-19 10:06] futuretea commented on #696
![image](https://user-images.githubusercontent.com/15064560/115219266-edd06f00-a139-11eb-9365-a132b424e9d1.png)

Can't edit all image field. @WuJun2016

[2021-04-19 10:10] TangStone commented on #674
### Validation passed in version v0.2.0-rc2
**Steps**

1. create an ssh key
![image](https://user-images.githubusercontent.com/15829074/115192163-03836b80-a11d-11eb-84b1-266d6d7331dc.png)
2. Create a VM template with the ssh key
![image](https://user-images.githubusercontent.com/15829074/115192242-21e96700-a11d-11eb-8cf7-d0ced122cc81.png)
3. Create a VM, use the template,vm created successfully
![

[2021-04-19 10:12] #674 closed, assigned to DaiYuzeng, TangStone

[2021-04-19 10:56] juadk opened #720 "[FEATURE] Documenting that the network stack must be ready when attempting an automatic installation"
**Is your feature request related to a problem? Please describe.**
The [automated installation](https://github.com/rancher/harvester/blob/master/docs/automatic-installation.md) starts without the network stack fully ready and this ended with a `network unreachable` message in the console.log.
That means the harvester-console can't download the config-create.yaml hosted on my web server and the ins

[2021-04-19 12:46] WuJun2016 commented on #710
@futuretea   When the added SSH is deleted in the SSH list page, the front-end will display Unknow if the corresponding relationship cannot be found

[2021-04-19 13:34] guangbochen commented on #664
when click the VM template actions it has no response
![image](https://user-images.githubusercontent.com/4569037/115244879-f2efe700-a156-11eb-927c-50f6eabbcc17.png)

[2021-04-19 19:40] avairavan opened #721 "[BUG] make failed on v0.2 branch"
**Describe the bug**
I checked out the branch origin/v0.2 from the harvester git repo and built it using "make" command. The build failed with the following details:

**To Reproduce**
Steps to reproduce the behavior:
git clone https://github.com/rancher/harvester.git
git checkout origin/v0.2
cd harvester
make

**Expected behavior**
Compiled harvester docker image.

**Log**
Step 9/13 : RUN mkdir -p

[2021-04-20 01:28] guangbochen commented on #657
close as this is currently documented in the doc of [hardware requirements](https://github.com/rancher/harvester#hardware-requirements), for a better solution we can choose to add a pre-installation check in the future.

[2021-04-20 01:28] #657 closed, assigned to guangbochen, futuretea, kingsd041

[2021-04-20 04:22] gitlawr commented on #707
https://drone-pr.rancher.io/rancher/harvester/800/1/2

[2021-04-20 05:11] gitlawr commented on #721
The build command failed. It could be a network issue.
Can you check if you can fetch the UI file in your environment?
[code]

[2021-04-20 05:51] TangStone commented on #682
### Validation passed in version v0.2.0-rc2
![image](https://user-images.githubusercontent.com/15829074/115343856-152d4780-a1df-11eb-8b6e-7a5532f54a46.png)
![image](https://user-images.githubusercontent.com/15829074/115344006-47d74000-a1df-11eb-8058-e81292571238.png)

[2021-04-20 06:42] TangStone commented on #645
Create a virtual machine template without image, created successfully and can be used normally
![image](https://user-images.githubusercontent.com/15829074/115345602-9e457e00-a1e1-11eb-82d4-d03099f015a1.png)

[2021-04-20 06:43] TangStone commented on #645
Create a vm template, add the new version, the previous image configuration is not copied @DaiYuzeng

[2021-04-20 06:45] guangbochen commented on #665
the workaround can be found on https://github.com/longhorn/longhorn/issues/2474#issuecomment-822987950

[2021-04-20 06:51] kingsd041 commented on #696
![image](https://user-images.githubusercontent.com/19684717/115350542-cf28b180-a1e7-11eb-95c2-43e895b58372.png)

Can't the labels and description of the image be edited? @WuJun2016

[2021-04-20 07:02] gitlawr commented on #562
We disabled USB tablet by default to workaround this issue.
Now we can enable the USB tablet by default. @WuJun2016

[2021-04-20 07:03] WuJun2016 commented on #696
@kingsd041  If label and describe can be edited better, we can track enhancement https://github.com/rancher/harvester/issues/719

[2021-04-20 07:06] kingsd041 commented on #696
Validate version v0.2.0-rc2

This version no longer allows modifying the image URL

[2021-04-20 07:22] gitlawr commented on #696
I would expect users to be able to edit the description and labels.
Let me know if there are other concerns that I'm not aware of

[2021-04-20 07:56] TangStone commented on #605
### Validation passed in version v0.2.0-rc3
**Steps**
1. Create Node template
![image](https://user-images.githubusercontent.com/15829074/115358487-4d895180-a1f0-11eb-8b47-bb219fd7afdc.png)
2. Create cluster
![image](https://user-images.githubusercontent.com/15829074/115358563-609c2180-a1f0-11eb-9e45-7ab5802e381e.png)
### vm's image is displayed correctly
![image](https://user-images.githubusercon

[2021-04-20 07:56] #605 closed, assigned to futuretea, TangStone

[2021-04-20 08:03] WuJun2016 commented on #696
Fixed

[2021-04-20 08:23] kingsd041 commented on #683
Validate version v0.2.0-rc3

1. Disconnect from the network
2. Check the console error message
3. It will take about 1 minute before the WebSocket cannot be connected prompt appears
4. Restore the network and reconnect the WebSocket

![image](https://user-images.githubusercontent.com/19684717/115362588-45cbac00-a1f4-11eb-9345-092b6be79f83.png)

[2021-04-20 08:23] #683 closed, assigned to kingsd041, WuJun2016

[2021-04-20 08:43] kingsd041 commented on #684
Validate version v0.2.0-rc3

steps：
1. Go to Host detail page, switch to instance tab
2. Both migration and backup operations are available

[2021-04-20 08:43] #684 closed, assigned to DaiYuzeng, kingsd041

[2021-04-20 08:55] futuretea opened #723 "[BUG] When the rancher-enabled setting is edited for the first time, `Disable` option is not displayed correctly"
**Describe the bug**

![image](https://user-images.githubusercontent.com/15064560/115367456-cbe9f180-a1f8-11eb-82e6-5810bb21c5c1.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Edit **Settings> rancher-enabled** (first time)

**Expected behavior**

The `Disable` option will be checked

**Log**

**Environment:**
 - Harvester ISO version:
 - Installation Mode: ISO/app-mode
 - Underlying I

[2021-04-20 09:03] guangbochen commented on #711
Will need to change the `Progressing` condition type to `InProgress` to avoid incorrect error state, this is a framework condition https://github.com/rancher/wrangler/blob/master/pkg/summary/summary.go#L121  @WuJun2016

[2021-04-20 09:30] guangbochen opened #724 "[BUG] use user generated namespace of the ssh-key and templates"
**Describe the bug**
currently, the user-generated ssh-keys and template are using the `harvester-system` namespace which can't be accessed by the non-admin users when the RBAC is introduced.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the ssh key page
2. create a new user ssh key
3. click view config to check its assigned namespace, it will display as `harvester-system`

**Expecte

[2021-04-20 09:37] gitlawr commented on #665
To reproduce in v0.2.0-rc3:
1. Deploy a single node Harvester.
1. Deploy a VM with 8 volumes
1. Remove the pod, then it is stuck in terminating status.

[2021-04-20 09:44] kingsd041 commented on #654
Validate version v0.2.0-rc3

steps:
1. install harvester by ISO
2. choose static ip mode
3. input dnsservers
4. move up
5. move down

Result：
the input will be saved

[2021-04-20 09:44] #654 closed, assigned to futuretea, kingsd041

[2021-04-20 09:47] kingsd041 commented on #646
@gregoryg  Thank you for your feedback
Close it.

[2021-04-20 09:47] #646 closed, assigned to futuretea, kingsd041

[2021-04-20 10:40] avairavan commented on #721
Yes. I can fetch it manually. But I think it fails when done within the alpine container.

`/tmp# wget https://releases.rancher.com/harvester-ui/v0.2.0-rc3.tar.gz
--2021-04-20 06:38:47--  https://releases.rancher.com/harvester-ui/v0.2.0-rc3.tar.gz
Resolving releases.rancher.com (releases.rancher.com)... 104.26.12.240, 104.26.13.240, 172.67.69.133, ...
Connecting to releases.rancher.com (releases.r

[2021-04-20 13:37] guangbochen commented on #721
optionally u can use an EC2 instance to make the build as it will be efficient, otherwise u can replace the assets url at https://github.com/rancher/harvester/blob/master/package/Dockerfile#L18 with a custom internal url as a workaround.

[2021-04-20 13:48] guangbochen commented on #651
should be validated using the `harvester-master.iso` created after 21/04.
1. run `$kubectl get crds | grep harvester.cattle.io` should not exist
2. the harvesterhci.io CRD's version should be v1beta1
3. both UI and the Harvester node-driver should be working as expected and no error message is expected
4. network controller pods should be running and its API group and API version should be is `net

[2021-04-20 16:33] avairavan commented on #721
Thanks. Can you please explain how building it in the EC2 instance will solve the problem?

[2021-04-21 01:22] kingsd041 commented on #671
Validate version v0.2.0-rc3

![image](https://user-images.githubusercontent.com/19684717/115483296-14e68800-a283-11eb-88bf-d0e630adc927.png)

![image](https://user-images.githubusercontent.com/19684717/115483302-16b04b80-a283-11eb-9417-74dd8e25e9bd.png)

[2021-04-21 01:22] #671 closed, assigned to futuretea, kingsd041

[2021-04-21 01:49] futuretea opened #727 "[BUG] Need fix repo reference because repo `rancher/harvester` has been moved to `harvester/harvester`"
**Describe the bug**

- [x] harvester https://github.com/harvester/harvester/pull/728
- [x] harvester-ui https://github.com/harvester/harvester-ui/pull/437
- [x] harvester-installer https://github.com/harvester/harvester-installer/pull/79
- [x] harvester-network-controller (depend on harvester) https://github.com/harvester/harvester-network-controller/pull/29
- [x] go-harvester (depend on harveste

[2021-04-21 04:22] gitlawr commented on #721
1. add `set -x;` before the command in Step 9/13 then do the make to see which subcommand explicitly fails
2. run the commands in alpine for debugging.
e.g.,
[code]

[2021-04-21 05:16] TangStone commented on #669
### Validation in version master-0008ce84-head

package | command | Results
-- | -- | --
sysstat | pidstat,iostat,sar |  Validated
smartmontools | smartctl | Validated
hwinfo | hwinfo | Validated
gotop | gotop | Validated
bcc-tools | /usr/share/bcc/tools/* | Validated
iperf | iperf | Validated
iftop | iftop | Validated
iotop | iotop | Validated
fio | fio | Validated
scapy | scapy | Validated
tcpdu

[2021-04-21 05:17] #669 closed, assigned to futuretea, TangStone

[2021-04-21 05:21] futuretea commented on #723
validated on master-0008ce84-head

![image](https://user-images.githubusercontent.com/15064560/115500665-589db980-a2a4-11eb-861c-e96456177825.png)

[2021-04-21 05:21] #723 closed, assigned to WuJun2016

[2021-04-21 05:28] futuretea commented on #347
Close in favor of  after using backing image, source.http.url is unused, and `Edit by yaml` is removed.

[2021-04-21 05:28] #347 closed, assigned to DaiYuzeng, WuJun2016

[2021-04-21 05:33] futuretea commented on #702
validated on master-0008ce84-head

![image](https://user-images.githubusercontent.com/15064560/115501466-d6ae9000-a2a5-11eb-9415-74fc60303121.png)
![image](https://user-images.githubusercontent.com/15064560/115501629-23926680-a2a6-11eb-9f4c-1a55d1f88722.png)

[2021-04-21 05:33] #702 closed, assigned to guangbochen, WuJun2016

[2021-04-21 05:33] kingsd041 opened #730 "[BUG] Multi-node cluster role error"
Launch a 3-node harvester cluster. Only one node has the role of `master` and the other two nodes have the role of `worker`.

[code]

All 3 nodes should be `master` nodes

**Environment:**
 - Harvester ISO version:   master-0008ce84-head
 - Installation Mode: ISO
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630):

[2021-04-21 05:55] TangStone commented on #703
### Validation in version master-0008ce84-head
**Step**
1. Create a vm successfully and write some data to the vm
![image](https://user-images.githubusercontent.com/15829074/115502305-4b35fe80-a2a7-11eb-8b5b-837491c41ca7.png)
2. stop  vm
![image](https://user-images.githubusercontent.com/15829074/115502777-03fc3d80-a2a8-11eb-8e46-009c39528286.png)
3. check if vm can backup
![image](https://user-im

[2021-04-21 05:59] kingsd041 commented on #696
Validate master-0008ce84-head

Verify the following case:
1. The image URL is not allowed to be edited
2. Image label allows editing
3. image description allows editing

[2021-04-21 05:59] #696 closed, assigned to kingsd041, WuJun2016

[2021-04-21 06:06] #703 closed, assigned to guangbochen, TangStone

[2021-04-21 06:17] guangbochen commented on #676
we should be able to verify this after bump the longhorn to https://github.com/longhorn/longhorn/releases/tag/v1.1.1-rc2.

[2021-04-21 06:45] TangStone commented on #701
### Validation in version master-0008ce84-head
migrate a vm,  vm status show Migrating on vm detail page
![image](https://user-images.githubusercontent.com/15829074/115508313-bf74a000-a2af-11eb-9191-6a9be8f4ff1d.png)

[2021-04-21 06:54] kingsd041 commented on #664
Fix in `master-0008ce84-head` version

![image](https://user-images.githubusercontent.com/19684717/115509777-6efe4200-a2b1-11eb-965a-646617ab345f.png)

[2021-04-21 06:54] #664 closed, assigned to kingsd041, WuJun2016

[2021-04-21 07:04] TangStone commented on #645
Validation in version master-0008ce84-head
1. Create a vm template without image and use that template to create the vm
2. Create a vm template, add the new version, the previous image configuration is copied

[2021-04-21 07:04] DoNotSayYes commented on #665
On the newest master-head, a similar issue could be encountered.

**Steps:**
1. Provision a new harvester
2. Create a VM but not deleting it

**Result:**
The VM appears to be starting on the front end
![image](https://user-images.githubusercontent.com/57614736/115511214-2cd60000-a2b3-11eb-8b73-c2f80a31357d.png)

[code]

[code]

[code]

[code]

[2021-04-21 07:05] #701 closed, assigned to DaiYuzeng, TangStone

[2021-04-21 07:06] #645 closed, assigned to TangStone, WuJun2016

[2021-04-21 07:20] kingsd041 commented on #649
Validate version master-0008ce84-head
The `log-level` can be set to `debug` or `info` or `trace` through `setting`, and the harvester pod can switch the corresponding log level

[code]

[2021-04-21 07:21] DoNotSayYes commented on #590
Validated on master-head
![image](https://user-images.githubusercontent.com/57614736/115512586-b934f280-a2b4-11eb-992a-c581be481792.png)

[2021-04-21 07:21] #590 closed, assigned to futuretea, DoNotSayYes

[2021-04-21 07:24] DoNotSayYes commented on #640
Validated on master-head

[2021-04-21 07:24] #640 closed, assigned to WuJun2016, DoNotSayYes

[2021-04-21 07:29] DoNotSayYes commented on #694
Validated on master-head

[2021-04-21 07:29] #694 closed, assigned to WuJun2016, DoNotSayYes

[2021-04-21 07:31] DoNotSayYes commented on #660
Unable to reproduce on master-head for now.

[2021-04-21 07:31] #660 closed, assigned to WuJun2016, DoNotSayYes

[2021-04-21 07:37] kingsd041 commented on #705
When the vm is in the failed migration state, no error message can be seen on the vm state, and it cannot be migrated again.

The migration failure can be reproduced by the following operations:
1. Migrate vm from host A to host B
2. Shutdown host B
3. Restart the vm

[2021-04-21 07:46] guangbochen commented on #527
need to verify if the UI's subscribed CRDs does not exist, the user is still able to view other pages successfully, e.g
1. delete one of the CRD via `$kubectl delete crd virtualmachinebackups.harvesterhci.io` and go to the backup page, it should print the proper error message on this page.
2. go to the other page like the VM page, the user should be able to view or create a new VM without further

[2021-04-21 07:46] AmazingPangWei opened #733 "[Question] How to update the image of deployment/harvester"
I'm intersted in harvester, so I add some logs in it. Then I execute "make" to build a harvester image, and it's fine. Next, I edit the deployment/harvester, replace image with above one. But after that, it shows like this:

![image](https://user-images.githubusercontent.com/32997185/115515333-9a842b00-a2b7-11eb-9f70-29f9e522aa9b.png)

And it's logs like this:
[code]

So, did I do something wrong?

[2021-04-21 07:47] futuretea commented on #682
On latest master-head
1. Create a image with unsupported extension, the error message still say supoort compressed image.
![image](https://user-images.githubusercontent.com/15064560/115516643-ec798080-a2b8-11eb-8031-efc37573c685.png)

2. currently we don't support compressed image in backend, but still can create a image by a url with comperessed file extension
![image](https://user-images.githubu

[2021-04-21 07:51] futuretea commented on #733
can u try to rebase your custom code on the latest harvester/harvester:master

[2021-04-21 07:51] kingsd041 commented on #527
Not fixed in master-0008ce84-head version

1. kubectl delete crd keypairs.harvesterhci.io
2. Refresh the Harvester UI

![image](https://user-images.githubusercontent.com/19684717/115517162-6d387c80-a2b9-11eb-820f-c4c9d7d158f9.png)

[2021-04-21 07:58] AmazingPangWei commented on #733
My custom code is based on the v0.1 branch. Is that OK?

[2021-04-21 08:14] guangbochen commented on #733
since the dev version will use the `latest` UI which is not compatible with the v0.1 branch, therefore u will need to change the default `UIIndex` to `https://releases.rancher.com/harvester-ui/v0.1.4/index.html` instead.

[2021-04-21 08:27] kingsd041 commented on #693
Validate version master-0008ce84-head

1. Start VM(vm name: hailong-hvst-1) on node A
2. Migrate VM from node A to node B
3. Shutdown node B

At this time, the VM status has not been `Migrating`, and the `migration failed` status cannot be obtained.

[code]

[code]

[2021-04-21 09:05] DoNotSayYes opened #734 "[BUG] VM is not bootable if not filling the boot order in volumes"
**Describe the bug**
VM is not bootable if not filling the boot order in volumes

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the VM page
2. Create a VM, adding a CD_ROM and a disk
3. Not filling the boot order in the volumes

**Result**
VM is not bootable if not filling the boot order in volumes
![image](https://user-images.githubusercontent.com/57614736/115527392-9827ce00-a2c3-11e

[2021-04-21 09:19] kingsd041 commented on #658
Validate version master-0008ce84-head

Steps:
1. Delete vm
2. When the vm disappears from the UI, immediately create a vm with the same name

Results：
The vm with the same name can be successfully created

[2021-04-21 09:19] #658 closed, assigned to gitlawr, kingsd041, WuJun2016

[2021-04-21 09:28] AmazingPangWei commented on #733
Thanks a lot! I modified the UIIndex in **scripts/build** and **pkg/settings/settings.go**, and that worked for me.

But if I develop based on the v0.2 branch, must I change it again?

[2021-04-21 10:02] DoNotSayYes opened #735 "[BUG] Ejecting the CD-ROM will abort the system boot and cause the VM to be not bootable"
**Describe the bug**
Ejecting the CD-ROM will abort the system boot and cause the VM to be not bootable

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the VM page
2. Create a VM, add a CD-ROM and a disk, then save.
3. Once the VM status turns to `Running`, eject the CD-ROM

**Result**
Ejecting the CD-ROM will abort the system boot and cause the VM to be not bootable
![image](https://u

[2021-04-21 10:02] futuretea opened #736 "[BUG]The prompt text of mutiple instance's name prefix is incorrect"
**Describe the bug**

![image](https://user-images.githubusercontent.com/15064560/115535690-93ffae80-a2cb-11eb-8b6d-44393c0cf375.png)
**To Reproduce**
Steps to reproduce the behavior:
1. Go to vm page
2. Click `Create`
3. switch to `Multiple instance`

**Expected behavior**

1. `Prefix Name` should be `Name Prefix`
2. Show `Name prefix for each instance` or something else

**Log**

**Environment:*

[2021-04-21 11:32] TangStone commented on #666
**Verify the following scenarios in version master-0008ce84-head**

- [x] 1. restart one of the nodes and check the status of the vm
- [x] 2. restart all nodes and check the status of the vm
- [x] 3. after reboot, create a vm, check the status of the vm
- [x] 4. shut down the image host service, restart the node, and check the status of the vm

[2021-04-21 11:34] #666 closed, assigned to gitlawr, TangStone

[2021-04-22 00:52] DaiYuzeng commented on #682
compressed image is not supported on the editing image page, and remove the tips about compressed image

[2021-04-22 01:52] futuretea commented on #618
Close in favor of #640  (do not create a cloud-init disk when it has an empty value)

[2021-04-22 01:52] #618 closed, assigned to nobody

[2021-04-22 01:52] futuretea commented on #610
close in favor of #640  (do not create a cloud-init disk when it has an empty value)

after v0.2.0 , users can use template `raw-image-base-template` (need to change cpu, memory, and disk size) to create windows vm by windows qcow2 image.

[2021-04-22 01:52] #610 closed, assigned to nobody

[2021-04-22 02:49] futuretea commented on #401
Validated on latest master-head

[2021-04-22 02:49] #401 closed, assigned to futuretea

[2021-04-22 03:15] futuretea opened #737 "[BUG] After use vm template, `Install guest agent` checkbox does not work as exceptly"
**Describe the bug**

![image](https://user-images.githubusercontent.com/15064560/115650431-c48f2900-a35b-11eb-8d22-5d6a932b556a.png)

**To Reproduce**
Steps to reproduce the behavior:
1. vm page
2. click Create
3. use vm template
4. click Install guest agent`

**Expected behavior**

`Install guest agent`  will work as expectly when users use vm template

**Log**

![image](https://user-images.gith

[2021-04-22 03:28] gitlawr commented on #736
![image](https://user-images.githubusercontent.com/5697937/115651461-cbb73680-a35d-11eb-93c5-134725dbda83.png)
And capitalize the `count` @WuJun2016

[2021-04-22 03:54] TangStone opened #739 "[BUG] The size of the images detail page is displayed ‘-’"
**Describe the bug**

The size of the images detail page is displayed ‘-’
**To Reproduce**
Steps to reproduce the behavior:
1. add an image to harvester
2. Go to the details page of image
![image](https://user-images.githubusercontent.com/15829074/115653246-69f8cb80-a361-11eb-8b2f-cfa7f2bd4050.png)

**Expected behavior**

Display the size of the image
**Log**

**Environment:**
 - Harvester ISO ver

[2021-04-22 05:35] TangStone commented on #562
**Validation in version master-0008ce84-head**
- [x] 1. Create vm to enable USB tablet by default

- [x] 2. VM with USB tablet migrated successfully

[2021-04-22 05:35] #562 closed, assigned to gitlawr, TangStone, WuJun2016

[2021-04-22 05:40] TangStone commented on #708
Validation passes in version master-0008ce84-head

[2021-04-22 05:43] #708 closed, assigned to TangStone, WuJun2016

[2021-04-22 06:58] gitlawr commented on #693
case 1:
1. do a migration
2. delete the new launcher pod when it is in ContainerCreating status.

Result: VMIM is in failed phase. VMI.status.migrationState is empty.
In this case, harvester migration annotation is still in migrating state. Need a backend fix for this.

case 2:
1. do a migration
2. delete the new launcher pod when it is in Running status.

Result: VMIM is in failed phase. VMI.stat

[2021-04-22 07:15] gitlawr commented on #705
For failed migrations(https://github.com/harvester/harvester/issues/693#issuecomment-824591476), in some cases reason for the failure is not available.
If the `VMI.status.migrationState` is correctly set, we should be able to get the event message for the details(REASON==Migrated)
[code]

[2021-04-22 07:38] guangbochen opened #741 "[Task] Harvester v0.2.0 release checklist"
**What's the task? Please describe.**
Action items for releasing v0.2.0

**Describe the items of the task (DoD, definition of done) you'd like.**
- [x] make sure the `harvester-network-controller` release is up-to-date @yaocw2020
- [x] make sure the `harvester-ui` release is up-to-date @WuJun2016
- [x] make sure the `harvester-node-driver` release is up-to-date @futuretea
- [x] make sure the `harv

[2021-04-22 07:48] gitlawr opened #742 "[BUG] Inconsistent display for Download YAML and Delete buttons"
**Describe the bug**
![image](https://user-images.githubusercontent.com/5697937/115675370-1bf3c000-a381-11eb-9470-19aef68a20bf.png)
![image](https://user-images.githubusercontent.com/5697937/115675411-231ace00-a381-11eb-951d-85299d421423.png)

![image](https://user-images.githubusercontent.com/5697937/115675443-2ada7280-a381-11eb-9288-50917b999d1a.png)

In Hosts/Volumes/Images/SSH keys pages, the

[2021-04-22 08:02] DoNotSayYes commented on #695
Validated on master-head

[2021-04-22 08:02] #695 closed, assigned to WuJun2016, DoNotSayYes

[2021-04-22 08:29] gitlawr opened #743 "[BUG]Missing spaces for input labels"
**To Reproduce**
Steps to reproduce the behavior:
1. Edit backup-target setting
![image](https://user-images.githubusercontent.com/5697937/115681479-25802680-a387-11eb-9d60-522964f97da6.png)

2. Edit vlan setting
![image](https://user-images.githubusercontent.com/5697937/115681560-3b8de700-a387-11eb-9974-1a37501e9be6.png)

**Expected behavior**

BucketName => Bucket Name
BucketRegion => Bucket Reg

[2021-04-22 09:39] gitlawr opened #744 "[BUG] Download yaml action fails when multiple items are selected"
**To Reproduce**
Steps to reproduce the behavior:
1. Select two VMs
2. Click the Download Yaml action

**Result**
Nothing happens in the UI.
Error logs in the browser console:
![image](https://user-images.githubusercontent.com/5697937/115692377-81e84380-a391-11eb-8c9e-7be12c08f0f3.png)

**Environment:**
 - Harvester ISO version: master-c8e3e5b1-head(0422)

[2021-04-22 09:40] futuretea opened #745 "[BUG] Time Zone always show `Guest agent required`"
**Describe the bug**

![image](https://user-images.githubusercontent.com/15064560/115690094-4a789780-a38f-11eb-8de4-3fa847b6774a.png)

**To Reproduce**
Steps to reproduce the behavior:
1.  Create a vm (install qemu-guest-agent)

**Expected behavior**

if no timezone field in guestOsinfo, use `kernelRelease` instead
![image](https://user-images.githubusercontent.com/15064560/115690123-52383c00-a38f

[2021-04-22 09:47] DoNotSayYes commented on #678
Validated on master-head

[2021-04-22 09:47] #678 closed, assigned to WuJun2016, DoNotSayYes

[2021-04-22 09:48] futuretea commented on #745
@guangbochen @WuJun2016  can we use `Kernel Release (内核版本)` instead of timezone？

[2021-04-22 09:58] gitlawr opened #746 "[BUG] Wrong information in volume view page"
**To Reproduce**
Steps to reproduce the behavior:
1. Create a VM image
2. Create a Volume from the VM image.
3. View the Volume, check the detail
![image](https://user-images.githubusercontent.com/5697937/115694970-f3c18c80-a393-11eb-9d25-f70534c6a2f0.png)
`Select an Image` does not make sense, probably change to `Image Name`.
4. Click `Config` tab
![image](https://user-images.githubusercontent.co

[2021-04-23 01:16] TangStone commented on #383
### Updating harvester from v0.2.0-rc2 to v0.2.0-rc3 on UI failed  @gitlawr
1. Deploy harvester v02.0-rc2 cluster
- The node information is as follows

| Name | CPU | Memory
| --- | --- | ---
| harvester | 4c | 8G
| harvester2 | 4c | 8G
| harvester3 | 4c | 8G

2. Serve a file with the following content(assume it is available from http://172.16.0.71/version-metadata.json):
![image](https://user-ima

[2021-04-23 01:18] yasker opened #747 "[FEATURE] Multi-disks management"
It's common for a bare-metal node to have multiple disks.

Currently, Harvester is only able to utilize the root disk for storage, even though Longhorn supports multiple disks.

There are a few things we need to do:
1. Separate the root disk from the data partition, even for the first disk, to ensure node pressure won't happen due to storage.
2. For other disks, provide an option (either in instal

[2021-04-23 05:55] yasker commented on #647
We will address it in https://github.com/harvester/harvester/issues/747 .

[2021-04-23 05:55] #647 closed, assigned to nobody

[2021-04-23 08:15] DoNotSayYes commented on #445
Validated on master-head

[2021-04-23 08:15] #445 closed, assigned to WuJun2016, DoNotSayYes

[2021-04-23 08:58] DoNotSayYes commented on #505
Validated on master-head
![image](https://user-images.githubusercontent.com/57614736/115847048-1e274e80-a455-11eb-8308-67a7dc54839a.png)

[2021-04-23 08:58] #505 closed, assigned to DoNotSayYes

[2021-04-23 10:40] gitlawr opened #749 "[BUG] Authentication failed on the first login"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Install harvester by ISO
2. Access the UI
3. set the password for the default admin, click continue

**Expected behavior**
Password is set and log in successfully.

**Result**
![image](https://user-images.githubusercontent.com/5697937/115856326-ea512680-a45e-11eb-968f-b729a76754cd.png)

**Environment:**
 - Harvester ISO ver

[2021-04-23 10:53] kingsd041 commented on #730
Validate version master 04/23

[code]

[2021-04-23 10:53] #730 closed, assigned to futuretea, kingsd041

[2021-04-23 11:15] gitlawr commented on #749
CRDs(v1) created by Harvester are not compatible with CRDs(v1beta1) used in rancher v2.5.7

[2021-04-24 01:50] michaelpearce-gain opened #750 "[FEATURE] Additional Authentication Providers."
**Is your feature request related to a problem? Please describe.**
Currently it seems only local user auth and k8s auth is supported. In an enterprise its typical to need to manage users, credentials and roles in a central authentication system. E.g. LDAP, Azure AD, Okta, Redhat SSO etc.

**Describe the solution you'd like**
Ability to connect authentication to LDAP, Azure AD, Okta etc.

**Describ

[2021-04-24 01:53] michaelpearce-gain commented on #750
Along with this it would be important to be able to auto map roles to internal role authorisations that provide access/restrictions to functions areas/logical spaces, whilst i assume this would be a given, i think it just important to be explicit just to avoid any assumption.

[2021-04-24 03:06] rrrai opened #751 "[BUG] Console output garbled"
**Describe the bug**
Console output becomes garbled on usage. Clear cleans the console but then reduces effective console size.

**To Reproduce**
Steps to reproduce the behavior:
1. Create VM's based on Ubuntu-server-cloudimg-amd64.img (current release)
2. open a serial console
3. any command works... I did update and upgrade
4. Output does not scroll as expected. download progress bar, messages a

[2021-04-24 04:48] rrrai opened #752 "[FEATURE] add console feature to Hosts"
**Is your feature request related to a problem? Please describe.**
Currently to access consoles for the host for bare metal servers/machines

**Describe the solution you'd like**
It will be helpful to have console capability to hosts machine similar to remote login VM's for host nodes

**Describe alternatives you've considered**
Using hardware KVM or connecting physical screen/keyboard

**Addition

[2021-04-24 06:26] futuretea commented on #752
@rrrai  what do you think about this solution?
Add a `console url` option to the configuration of each host in harvester, if the user configures this url, then UI will display a `console` button, and when the user clicks this console button, a new tab will be opened with the configured console url.
The value of the console url is fully customizable by the user：
1. IPMI address
2. KVM over IP addre

[2021-04-24 06:30] futuretea commented on #751
@rrrai cloud-init is still executing, you need to wait for cloud-init to finish executing

[2021-04-24 07:02] futuretea commented on #745
validated on master0423.iso
![image](https://user-images.githubusercontent.com/15064560/115950451-eb8d5c80-a50d-11eb-9067-e2f9b8fdd4e4.png)

[2021-04-24 07:02] #745 closed, assigned to futuretea, WuJun2016

[2021-04-24 07:06] futuretea opened #753 "[BUG] cannot create sshkey in vm creation page"
**Describe the bug**

![image](https://user-images.githubusercontent.com/15064560/115950528-56d72e80-a50e-11eb-9405-2e5cf8c69d89.png)
![image](https://user-images.githubusercontent.com/15064560/115950594-c0efd380-a50e-11eb-8065-bfb19f31f7f2.png)

**To Reproduce**
Steps to reproduce the behavior:
1.  Go to vm creation page
2. click Create SSH key
3. paste ssh key
4. click save

**Expected behavior*

[2021-04-24 07:11] futuretea opened #754 "[BUG] Missing `package_update: true` after check `Install guest agent`"
**Describe the bug**

![image](https://user-images.githubusercontent.com/15064560/115950632-02807e80-a50f-11eb-969f-fb706c4c2f14.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'vm creation page
2. Check the `Install guest agent`

**Expected behavior**

`package_update: true` exist
**Log**

**Environment:**
 - Harvester ISO version:
 - Installation Mode: ISO/app-mode
 - Underlying

[2021-04-24 07:15] futuretea commented on #739
valiadted on master-0423.iso
![image](https://user-images.githubusercontent.com/15064560/115950782-dc0f1300-a50f-11eb-82e3-12281438a849.png)

[2021-04-24 07:15] #739 closed, assigned to WuJun2016

[2021-04-24 07:18] futuretea commented on #712
validated on master-0430.iso
![image](https://user-images.githubusercontent.com/15064560/115950889-7c653780-a510-11eb-8771-f2b8dfdb31f7.png)
![image](https://user-images.githubusercontent.com/15064560/115950851-517ae380-a510-11eb-9418-921c1a76eada.png)

[2021-04-24 07:18] #712 closed, assigned to futuretea, WuJun2016

[2021-04-24 07:24] futuretea commented on #737
validated on master-0423.iso
![image](https://user-images.githubusercontent.com/15064560/115951022-1e851f80-a511-11eb-859b-dca44ae0faf6.png)

[2021-04-24 07:24] #737 closed, assigned to futuretea, WuJun2016

[2021-04-24 07:27] futuretea commented on #736
need capitalize the `count`
![image](https://user-images.githubusercontent.com/15064560/115951091-6f951380-a511-11eb-9c6c-d1febe8515e8.png)

[2021-04-24 07:30] futuretea commented on #743
validated on master-0423.iso
![image](https://user-images.githubusercontent.com/15064560/115951205-fe099500-a511-11eb-902d-0f63eccc8f24.png)
![image](https://user-images.githubusercontent.com/15064560/115951187-e9c59800-a511-11eb-951f-201565ac7560.png)

[2021-04-24 07:30] #743 closed, assigned to futuretea, WuJun2016

[2021-04-24 07:33] futuretea commented on #682
validated on master-0423.iso
![image](https://user-images.githubusercontent.com/15064560/115951260-5c367800-a512-11eb-94d1-274f6bb9bd6b.png)
![image](https://user-images.githubusercontent.com/15064560/115951267-66587680-a512-11eb-9771-8b182f5cf07e.png)

[2021-04-24 07:33] #682 closed, assigned to DaiYuzeng, futuretea

[2021-04-24 07:40] futuretea commented on #746
In Config tab `Select an image` should be `Image`
![image](https://user-images.githubusercontent.com/15064560/115951416-35c50c80-a513-11eb-8a18-5b91847c9666.png)

[2021-04-24 07:42] futuretea commented on #744
validated on master-0423.iso

[2021-04-24 07:42] #744 closed, assigned to futuretea, WuJun2016

[2021-04-24 08:00] futuretea commented on #710
validated on master-0423.iso
![image](https://user-images.githubusercontent.com/15064560/115951962-272c2480-a516-11eb-9e1a-1f9459ccbd72.png)

[2021-04-24 08:00] #710 closed, assigned to guangbochen, futuretea, WuJun2016

[2021-04-24 08:01] futuretea commented on #711
validated on master-0423.iso
![image](https://user-images.githubusercontent.com/15064560/115952021-72463780-a516-11eb-8004-3faa1238fb4b.png)
![image](https://user-images.githubusercontent.com/15064560/115951997-53e03c00-a516-11eb-80bf-93fb55ee4c46.png)

[2021-04-24 08:01] #711 closed, assigned to guangbochen, futuretea, WuJun2016

[2021-04-24 17:21] yasker commented on #451
Close this as the duplicate of #568.

[2021-04-24 17:21] #451 closed, assigned to nobody

[2021-04-24 17:26] yasker commented on #750
@michaelpearce-gain This will be covered by #552 and #582 in v0.3.0 release.

I will close this issue as a duplicate for now. Feel free to reopen it or follow up in the above issues if there are more questions.

[2021-04-24 17:26] #750 closed, assigned to nobody

[2021-04-24 17:30] yasker opened #755 "[FEATURE] Enhance user experience of Harvester/Rancher UI interaction"
Currently, we just jump to the Rancher UI as a pop-out window, which left more to be desired in the UX integration.

The team is already working on a design of updated UI interaction between Harvester and the upcoming Rancher 2.6.

We're waiting for a design decision before implementing the enhancement.

[2021-04-25 02:24] futuretea commented on #736
validated on master-head

[2021-04-25 02:24] #736 closed, assigned to futuretea, WuJun2016

[2021-04-25 02:48] futuretea opened #756 "[FEATURE] Change the value of settings `authentication-mode` and `api-ui-source` to be a select"
**Is your feature request related to a problem? Please describe.**

currently，the value of settings `authentication-mode`  needs to be input manually

**Describe the solution you'd like**

If It's a select, can simplify the operation
**Describe alternatives you've considered**

**Additional context**

[2021-04-25 03:48] guangbochen commented on #648
CRDs(v1) created by Harvester are not compatible with CRDs(v1beta1) used in rancher v2.5.7 https://github.com/harvester/harvester/issues/749,
need to bump after the Rancher updates its CRD API version.

[2021-04-25 05:11] TangStone commented on #453
Validation Version:master-64e4d950-head
To verify the method, use the command `k3s crictl images | grep 'kubevirt\|longhorn'`
![image](https://user-images.githubusercontent.com/15829074/115981627-acbbdd00-a5c7-11eb-9ab5-35d4fce41c4d.png)

[2021-04-25 05:11] #453 closed, assigned to guangbochen, gitlawr, TangStone

[2021-04-25 05:30] TangStone commented on #676
Validation passes in version master-64e4d950-head
1. Create a VM image ubuntu1.
![image](https://user-images.githubusercontent.com/15829074/115981816-3e781a00-a5c9-11eb-8227-17f2f574b910.png)
2. Provision a VM using ubuntu1 image.
![image](https://user-images.githubusercontent.com/15829074/115981840-68c9d780-a5c9-11eb-8edb-5bd1849134bb.png)
3. Create another VM image ubuntu2 with the same URL as u

[2021-04-25 05:34] #676 closed, assigned to gitlawr, TangStone

[2021-04-25 05:45] futuretea commented on #754
validated on master-head

[2021-04-25 05:45] #754 closed, assigned to WuJun2016

[2021-04-25 05:53] futuretea commented on #746
After click `Edit Config` `Select an image` should be `Image`
![image](https://user-images.githubusercontent.com/15064560/115982437-987ade80-a5cd-11eb-8eb8-7eb863003e08.png)

[2021-04-25 05:56] futuretea commented on #753
validated on master-head

[2021-04-25 05:56] #753 closed, assigned to DaiYuzeng, futuretea

[2021-04-25 06:00] futuretea commented on #742
In Backups page, the Download YAML button is not available
![image](https://user-images.githubusercontent.com/15064560/115982567-d3c9dd00-a5ce-11eb-94db-f9689bfe382c.png)

[2021-04-25 06:31] WuJun2016 commented on #742
@futuretea   The user does not need to download the backup yaml file, because the relevant content is stored in the backupcontent, so the download button is disabled in this place

[2021-04-25 06:32] futuretea commented on #742
validated on master-head

[2021-04-25 06:32] #742 closed, assigned to DaiYuzeng

[2021-04-25 06:52] rrrai commented on #751
Hi Yyuhang
It did not matter how long the servers have been running... These servers had been up for few hours.
I have also restarted the servers to confirm the behavior still exists.
As a workaround I am now accessing these servers through ssh (MobaXterm). I had to each VM with internal DHCP (10.X.X.X) and an external local IP. With only internal IP VM's its been tough...too many commands to clea

[2021-04-25 06:56] rrrai commented on #752
Hi Yuhang
This sounds like a great solution. This will cover all possible scenarios... from high end servers to shoe string budget bare-metal servers.

[2021-04-25 07:38] kingsd041 commented on #527
Validate version master-64e4d950-head

After using `kubectl delete crd keypairs.harvesterhci.io`to remove CRD, i can continue to access the harvester UI

[2021-04-25 07:38] #527 closed, assigned to kingsd041, WuJun2016

[2021-04-25 07:42] rrrai opened #758 "[Question] Assigning multiple network to VM breaks external access"
**Describe the bug**
Create VM (tested on Focal Ubuntu 20.04 server)
Assign multiple network Virtio (10.x.x.x) and external Vlan with static IP. This is home network. Router set to assign IP's from 192.167.1.XX and Harvester Hosts/VM have 192.168.0.XX to use. On starting the VM's they can be accessed from outside but cannot ping any machines from VM's

**To Reproduce**
Steps to reproduce the behav

[2021-04-25 07:46] yaocw2020 opened #759 "[BUG] Failed to render manifest when creating VM"
**Describe the bug**

When creating VM, it reports the error below.
[code]
![image](https://user-images.githubusercontent.com/7421463/115984968-41303a80-a5dc-11eb-9479-ddbce5bb25e7.png)

VMI YAML file
[code]
**To Reproduce**
Steps to reproduce the behavior:

Create VM normally and set the network configuration like that
![image](https://user-images.githubusercontent.com/7421463/115985079-b439b100-

[2021-04-25 07:56] futuretea commented on #749
validated on master-head

[2021-04-25 07:56] #749 closed, assigned to gitlawr

[2021-04-25 08:30] futuretea commented on #756
authentication-mode select
- localUser
- localUser,kubernetesCredentials
- rancher

`api-ui-source` select

- auto
- external
- bundled

[2021-04-25 08:45] yaocw2020 commented on #538
![image](https://user-images.githubusercontent.com/7421463/115986967-87d66280-a5e5-11eb-8675-046593efa921.png)

validated on master-head

[2021-04-25 08:45] #538 closed, assigned to yaocw2020

[2021-04-25 09:12] futuretea commented on #751
@rrrai intersting,  I noticed that you are using firefox, I can reproduce the problem on firefox, but not on chrome.

[2021-04-25 09:14] futuretea commented on #759
validated on master-head

[2021-04-25 09:14] #759 closed, assigned to yaocw2020, futuretea, WuJun2016

[2021-04-25 09:47] futuretea commented on #746
validated on master-head

[2021-04-25 09:47] #746 closed, assigned to DaiYuzeng, futuretea

[2021-04-25 09:52] futuretea commented on #756
validated on masted-head

[2021-04-25 09:52] #756 closed, assigned to DaiYuzeng, futuretea

[2021-04-25 09:53] futuretea commented on #724
validated on master-head

[2021-04-25 09:53] #724 closed, assigned to guangbochen, futuretea, WuJun2016

[2021-04-25 10:19] chifu1234 commented on #374
... and adding it to https://releases.rancher.com/server-charts/latest

[2021-04-25 12:30] TangStone commented on #709
### Validation in version master-64e4d950-head
1. Install harvester
2. harvester Network Information
![image](https://user-images.githubusercontent.com/15829074/115989809-bdce1380-a5f2-11eb-985f-5d6dbfc07edb.png)
[code]
3. Bind a difference IP in DHCP static table
![image](https://user-images.githubusercontent.com/15829074/115989886-2ae1a900-a5f3-11eb-87e8-224333312b9a.png)
4. Execute` udhcpc -i e

[2021-04-25 13:26] futuretea commented on #758
@rrrai  Since the route of static network has higher priority (metric=0）than the route of dhcp network (metric=100)
So `ping google.com` will go through vlan100 network (I guess vlan id = 100, and the router or switch did not allow it to pass)Finally, the dns request fails.
You can test this by `ping google.com -I enp1s0` and `ping google.com -I enp2s0`

Here are some solutions：
option 1:  remove

[2021-04-25 14:13] TangStone commented on #383
v0.2.0-rc2 upgrade v0.2.0-rc3 @gitlawr
After checking the upgrade harvester, the node automatically restarts, and then the interface appears again, and the cycle repeats
![image](https://user-images.githubusercontent.com/15829074/115996615-9129f400-a612-11eb-8e65-5836b76f6d99.png)

[2021-04-25 15:28] rrrai commented on #751
@guangbochen
Must be my luck day to be unlucky
I was able to reproduce this on Chrome too. Shows console output during installing traceroute. The progress bar is in the middle of the screen instead of the bottom. The prompt has garbled test. When you clear screen its size reduces to 1/2 as shown by vi output.

![image](https://user-images.githubusercontent.com/50937667/115999145-4a0b1700-a5b0-11eb

[2021-04-25 16:04] TangStone commented on #665
https://github.com/harvester/harvester/issues/665#issuecomment-823133833 Validation passes in version master-64e4d950-head

[2021-04-25 16:04] #665 closed, assigned to guangbochen, gitlawr, TangStone

[2021-04-25 16:36] emctl opened #760 "[BUG] cloud config byte limit"
**Describe the bug**
Anytime I try to use non base64 encoded strings  in my cloud config section for VM creation I get: `admission webhook "virtualmachine-validator.kubevirt.io" denied the request: spec.template.spec.volumes[1].cloudInitNoCloud userdata exceeds 2048 byte limit. Should use UserDataSecretRef for larger data.`

I have tried to base64 encode this as kubvirt does but still no luck.

**

[2021-04-25 17:18] rrrai commented on #758
@futuretea Thanks for the help. We should change this from bug to a question
Implemented option 2 and 4.
Added vlan1
![image](https://user-images.githubusercontent.com/50937667/116002697-8d6d8180-a5c0-11eb-85b9-0a8931883e18.png)
Created new vm
![image](https://user-images.githubusercontent.com/50937667/116002733-bdb52000-a5c0-11eb-8b96-62fe7a245906.png)
network:
  version: 1
  config:
  - type: ph

[2021-04-26 02:11] gitlawr commented on #383
@TangStone You need to boot from the disk after the upgrade is completed

[2021-04-26 02:15] DoNotSayYes commented on #517
Validated on master-head

[2021-04-26 02:15] #517 closed, assigned to guangbochen, WuJun2016, DoNotSayYes

[2021-04-26 02:28] rrrai opened #761 "[FEATURE] Add auto SSL certificate using Let's Encrypt or ability to bring Custom certificate to secure Harvester"
**Is your feature request related to a problem? Please describe.**
Currently v0.1 and v0.2.0-rc1 setups are insecure and only support http. You need to add exception to browser and it presents security gap in solution.

**Describe the solution you'd like**
Once Harvester installs provide capability to request ssl certificate from Lets Encrypt something similar to Nginx Proxy Manager (npm).

**Desc

[2021-04-26 02:32] DoNotSayYes opened #762 "[BUG] Sometimes Harvester is unreachable which is likely caused by pods restart"
**Describe the bug**
Sometimes Harvester is unreachable which is likely caused by pods restart

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a Harvester
2. Take some actions, like creating a VM
3. Observe the components in the cluster for a time

**Result**
Many of the pod were restarted many times, especially the harvester and rancher pods

**Log**

[code]

**Environment:**
 - Harv

[2021-04-26 02:45] #758 closed, assigned to yaocw2020

[2021-04-26 03:04] rrrai opened #763 "[FEATURE] Make harvester self-aware of configurations"
**Is your feature request related to a problem? Please describe.**
It will be nice if options/records in Harvester are auto populated with valid values/options e.g.
1. Improved hardware discovery process so all hardware options are presented for configuration such has networks, disks etc. e.g. hardware discovery process in MAAS.
2. Vlan should provide you list of Ethernet adapters. Currently you l

[2021-04-26 09:09] yaocw2020 opened #766 "[FEATURE] Add VLAN network for VM to support multiple or all VLAN IDs"
**Is your feature request related to a problem? Please describe.**

When building Harvester in Harvester, the inner Harvester's VLAN network will be ineffective, because the veth on the host end (outer Harvester host) only allows package with only one VLAN tag.

**Describe the solution you'd like**

There are two possible solutions.
- Modify bridge CNI to support multiple VLAN ID.
- Add an additio

[2021-04-26 09:13] gitlawr commented on #383
For the failure case:
Logs from the initial helm install pod:
[code]

Logs from the helm install pod when it restarted once:
[code]

[2021-04-26 09:14] futuretea commented on #766
Using ovs  instead of bridge seems better

[2021-04-26 09:21] futuretea opened #767 "[BUG] Wrong size sorting"
**Describe the bug**

It seems to be sorted by string
![image](https://user-images.githubusercontent.com/15064560/116059494-7bb8d680-a6b3-11eb-8405-599e053bd6f6.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Create three virtual machines with 10Gi, 1Gi, 8Gi of Memory

**Expected behavior**

sort by memory size
**Log**

**Environment:**
 - Harvester ISO version:
 - Installation Mode: IS

[2021-04-26 09:59] futuretea opened #769 "[BUG] Inconsistent display for `Host` and `Node`"
**Describe the bug**

![image](https://user-images.githubusercontent.com/15064560/116064963-17991100-a6b9-11eb-97c9-f84283b80396.png)
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Harvester Dashboard

**Expected behavior**

Show `Hosts`

**Log**

**Environment:**
 - Harvester ISO version:
 - Installation Mode: ISO/app-mode
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEd

[2021-04-26 13:19] futuretea opened #771 "[BUG] 404 Not Found"
**Describe the bug**

![image](https://user-images.githubusercontent.com/15064560/116088254-483a7400-a6d4-11eb-970b-9abfd9a6e31d.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Install harvester v0.2.0-rc4
2. open harvester url

**Expected behavior**

**Log**

[code]
[code]

[code]

**Environment:**
 - Harvester ISO version:  0.2.0-rc4
 - Installation Mode: ISO/app-mode
 - Underlying In

[2021-04-26 13:20] juadk opened #772 "[BUG] Unable to access to the Harvester dashboard (v0.2.0-rc4)"
**Describe the bug**
I tried to deploy the v0.2.0-rc4 version and I got HTTP error 404 when I try to connect to the dashboard: `404 page not found`
It happened both on bare-metal system and virtual machine.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the last harvester ISO v0.2.0-rc4 and try to access the dashboard.

**Expected behavior**
We should see the harvester web login pag

[2021-04-26 15:15] juadk commented on #772
Fixed by https://github.com/harvester/harvester/pull/773
I can access the dashboard with the last ISO, thx.

[2021-04-26 15:15] #772 closed, assigned to nobody

[2021-04-26 15:16] futuretea commented on #772
@juadk Sorry, we have fixed this issue in :
* the new `harvester-amd64.iso` (sha256:7ed3a8ad68c21fff37c8c9cd8d0028562c50ce1e79cdb8832f6e63fa4f1cf2e9)
* the new image  `rancher/harvester:v0.2.0-rc4` (sha256:84454494c7f093cb4ec0cec6154ec04c12998db711b822077ca77989de9e5b48)

Thank you very much!

[2021-04-26 15:17] futuretea commented on #771
validated on latest ISO

[2021-04-26 15:17] #771 closed, assigned to nobody

[2021-04-26 15:20] juadk commented on #772
No worries, we opened the same issue at the same time eh eh.

[2021-04-26 15:27] futuretea opened #774 "[BUG] Unable to login (Invalid CSRF Token)"
**Describe the bug**

![image](https://user-images.githubusercontent.com/15064560/116108539-9193bf00-a6e6-11eb-9ae5-3ecc7adf1085.png)

**To Reproduce**
Steps to reproduce the behavior:
There is currently no stable steps to reproduce

**Expected behavior**

login success

**Log**

**Environment:**
 - Harvester ISO version:
 - Installation Mode: ISO/app-mode
 - Underlying Infrastructure (e.g. Bareme

[2021-04-26 21:59] vielmetti commented on #217
It's been a few months since the last update on this issue - would be happy to get a current readout of status on it, and any help that we at Equinix Metal could provide for testing.

[2021-04-27 00:14] bk201 commented on #217
The feature (Phase 1) is already merged and will be available in release 0.2.0.
There are some supplement documents:
- [Automatic installation](https://github.com/harvester/harvester/blob/master/docs/automatic-installation.md)
- [Example](https://github.com/harvester/ipxe-examples/tree/main/equinix) to deploy on Equinix Metal

[2021-04-27 00:39] futuretea opened #775 "[BUG] Unable to get ip through vlan network (cr nodenetworks are not created)"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1.  install harvester 0.2.0-rc4
2.  enable vlan network
3.  create a vlan1 network
4. use the vlan1 network

**Expected behavior**

the vm use vlan1 will get a correct ip
cr nodenetworks will be created
network-controller will work as expect

**Log**

**Environment:**
 - Harvester ISO version: v0.2.0-rc4
 - Installation Mode:

[2021-04-27 01:02] rrrai opened #777 "[BUG] Harvester VM stuck at starting"
**Describe the bug**
Harvester reaches a limit while creating VM's and does not give any error. Just goes in perpetual loop until an active machine is stopped.

**To Reproduce**
Steps to reproduce the behavior:
1. Created 10 vm's
Shows last VM Worker 1 stuck in starting status.
![image](https://user-images.githubusercontent.com/50937667/116099301-72a71580-a671-11eb-90d9-70ed735d990f.png)
The CPU a

[2021-04-27 02:09] guangbochen commented on #777
can u please help to specify which version u are using, and can u check if there is any useful log in the VM detail page by clicking the VM and event tab?

[2021-04-27 02:29] WuJun2016 commented on #769
Hosts or Host is determined based on the number

[2021-04-27 03:34] futuretea commented on #769
validated on master-head
![image](https://user-images.githubusercontent.com/15064560/116181052-83788980-a74c-11eb-95dc-6a7519346755.png)

[2021-04-27 03:34] #769 closed, assigned to WuJun2016

[2021-04-27 03:38] futuretea commented on #767
Also need to sort volume size correctly

[2021-04-27 03:40] rrrai commented on #777
I am using v0.2.0-rc1.
The event tab is not too helpful. This is what it shows for worker 1. Timestamp is inaccurate as VM has been up for over 3 hrs.
![image](https://user-images.githubusercontent.com/50937667/116181488-47a7da80-a6e0-11eb-9043-1c3de470bd1f.png)
![image](https://user-images.githubusercontent.com/50937667/116181532-627a4f00-a6e0-11eb-9655-10c6ebc5d84d.png)

[2021-04-27 05:14] kingsd041 commented on #705
validated on v0.2.0-rc4
![image](https://user-images.githubusercontent.com/19684717/116188735-7f536880-a75a-11eb-8e6d-0cb13db07a54.png)
![image](https://user-images.githubusercontent.com/19684717/116190655-9cd60180-a75d-11eb-8a87-3d85254c210d.png)

[2021-04-27 05:14] #705 closed, assigned to gitlawr, kingsd041, WuJun2016

[2021-04-27 05:51] futuretea commented on #767
validated on master-head

[2021-04-27 05:51] #767 closed, assigned to WuJun2016

[2021-04-27 06:12] kingsd041 commented on #693
validated on v0.2.0-rc4

When the migration fails, the prompt status of migration failure will be obtained on the UI

![image](https://user-images.githubusercontent.com/19684717/116193865-98601780-a762-11eb-8867-1c19fc867c1a.png)

[2021-04-27 06:12] #693 closed, assigned to gitlawr, kingsd041

[2021-04-27 08:27] futuretea commented on #775
@gitlawr @guangbochen
lasso v0.0.0-20210219160604-9baf1c12751b need `namespaces` permission, can fix it by:
[code]

[2021-04-27 09:47] kingsd041 commented on #651
validated on v0.2.0-rc4

1. `$kubectl get crds | grep harvester.cattle.i` returns empty
[code]

2. All Harvesterhci.io CRD versions are v1beta1
[code]

3. The Harvester node driver does not work as expected due to https://github.com/harvester/harvester/issues/775
4. The network controller Pod is operating normally, and its API group and API version are network.harvesterhci.io and v1beta1 respectiv

[2021-04-27 09:47] #651 closed, assigned to guangbochen, kingsd041

[2021-04-28 01:58] futuretea opened #781 "[FEATURE] Ability to add multiple NICs ( same vlan network) to a virtual machine"
**Is your feature request related to a problem? Please describe.**

![image](https://user-images.githubusercontent.com/15064560/116334655-29d59500-a808-11eb-9144-4da1d3b1001e.png)

**Describe the solution you'd like**

No need to filter vlan networks that have already been used

**Describe alternatives you've considered**

**Additional context**

[2021-04-28 02:46] futuretea opened #782 "[FEATURE] Simplify the operation of view all virtual machines on the specified host"
**Is your feature request related to a problem? Please describe.**

Current:
1. Click `Hosts`
2. Click one host
3. Click `VM Instance`
![image](https://user-images.githubusercontent.com/15064560/116338442-542a5100-a80e-11eb-9b08-69a538cda15a.png)

**Describe the solution you'd like**

Expect:
1.  Click Hosts
2.  Click one host (default to open vm instance page)

**Describe alternatives you've cons

[2021-04-28 03:11] guangbochen commented on #727
close as all repo reference has been changed to use the `harvester/harvester`

[2021-04-28 03:11] #727 closed, assigned to yaocw2020, futuretea

[2021-04-28 04:17] guangbochen opened #783 "[Feature] support bundle enhancement"
**Describe the solution you'd like**
- [x] support bundle should check its related pod and make updates on its status.
- [x] add progress tracking to each support bundle.
- [x] collect manifests for VM pods
- [x]  include NodeMetrics and PodMetrics

[2021-04-28 05:11] futuretea opened #784 "[BUG] ui console error"
**Describe the bug**

![image](https://user-images.githubusercontent.com/15064560/116349676-1be13d80-a823-11eb-9722-466b2b5b883d.png)
**To Reproduce**
Steps to reproduce the behavior:
1. click any tab menu
2. click `Harvester` logo

**Expected behavior**

no any error

**Log**

**Environment:**
 - Harvester ISO version:
 - Installation Mode: ISO/app-mode
 - Underlying Infrastructure (e.g. Baremeta

[2021-04-28 05:18] futuretea opened #785 "[FEATURE] Ability to share vm template"
**Is your feature request related to a problem? Please describe.**

currently, we can only download tempate's yaml

**Describe the solution you'd like**

- [ ] export template
- [ ] import template

**Describe alternatives you've considered**

**Additional context**

[2021-04-28 06:42] iswbm opened #787 "[BUG] can not create vm instance"
**Describe the bug**

When I'm creating a virtual machine, the following error is reported: AttachVolume.Attach failed for volume "pvc-65422e18-ff21-4643-ac98-32ef08df05cf" : rpc error: code = Aborted desc = The volume pvc-65422e18-ff21-4643-ac98-32ef08df05cf in state detached is not ready for workloads

**To Reproduce**
Steps to reproduce the behavior:
1. Create a virtual machine on harvester web

[2021-04-28 06:52] futuretea commented on #781
validated on master-head
![image](https://user-images.githubusercontent.com/15064560/116359401-57830400-a831-11eb-9d3f-c012937c38df.png)

[2021-04-28 06:52] #781 closed, assigned to DaiYuzeng, futuretea, WuJun2016

[2021-04-28 07:07] futuretea opened #788 "[BUG] Not using the disk bus in the template"
**Describe the bug**

![image](https://user-images.githubusercontent.com/15064560/116361050-20155700-a833-11eb-9a22-4f9caba6b453.png)
![image](https://user-images.githubusercontent.com/15064560/116361119-30c5cd00-a833-11eb-888b-7f87791aae60.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a template with sata bus
2.  Use the template

**Expected behavior**

After Use template, the

[2021-04-28 07:12] gitlawr opened #789 "[BUG] Broken cert-manager chart"
**To Reproduce**
Steps to reproduce the behavior:
1. Install harvester
2. it Never turns to be ready.

**Expected behavior**
Can install and access

**Log**
[code]

**Environment:**
 - Harvester ISO version:  master-44cf84d6-head
 - Installation Mode: ISO

**Additional context**
https://github.com/harvester/harvester-installer/blob/17e8b52e694dc245bd43489e463b8100c7b2f398/scripts/build#L39

`https

[2021-04-28 07:26] gitlawr opened #790 "pull image build phase may exit with no error messages"
https://drone-pr.rancher.io/harvester/harvester-installer/226/1/2

**To Reproduce**
Steps to reproduce the behavior:
1. make the installer

[2021-04-28 13:57] futuretea commented on #788
validated on master-head

[2021-04-28 13:57] #788 closed, assigned to DaiYuzeng, WuJun2016

[2021-04-28 15:06] bgulla opened #791 "[BUG] Editing network causes OFF VM to start"
**Describe the bug**

If I modify a network on a vm that is currently turned OFF, upon edit, the vm is turned ON.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to VM
2. Ensure that the VM is off.
3. Edit the network (i.e. masquerade -> bridge)
4. VM automagically turns on

**Expected behavior**

If a VM is off at time of edit, it should stay off.

**Environment:**
 - Harvester ISO versi

[2021-04-29 00:19] rrrai opened #792 "[Question] Is there a way to specify static IP range when creating multiple VM instance"
I am trying to create multiple VM instances with two network cards using cloud config below. For example I want to create 5 vm's will xx ranging from 31-35. The two choices I have are, to create 5 separate instance manually with desired static IP or creating one and then cloning it with different IP's. Is there a better way to specify the IP's range such that Harvester creates multiple instances a

[2021-04-29 05:39] futuretea commented on #792
Personally, I would like to have programmability like vagrantfile
[code]

[2021-04-29 05:46] futuretea commented on #792
Or possibly support template rendering
![image](https://user-images.githubusercontent.com/15064560/116507111-3681e800-a8f1-11eb-94ab-fc8feb288b2e.png)

[2021-04-29 06:06] guangbochen commented on #720
documented in https://github.com/harvester/harvester/pull/780

[2021-04-29 06:06] #720 closed, assigned to bk201

[2021-04-29 07:24] yaocw2020 commented on #709
@TangStone We find a special scenario. If the DHCP client renews and fetches the same IP address, the default route also disappears. The solution is to ignore the case with the same IP address and not trigger the address synchronization.

[2021-04-29 08:11] TangStone commented on #383
### After the upgrade is completed, the accessKeyID or secretAccessKey of backup-target is empty @gitlawr
**v0.2.0-rc4 upgrade to master-d026b5be-head**
**Upgrade method:Upgrade using the ISO image**

**Reproduction steps**
1. deploy harvester v0.2.0-rc4
2. configure backup-target
3. create vm and backup successfully
4. upgrade harvester successfully

**result**
![image](https://user-images.github

[2021-04-29 09:11] futuretea commented on #789
validated in v0.2.0-rc5
[code]

[2021-04-29 09:11] #789 closed, assigned to gitlawr, futuretea

[2021-04-29 09:27] gitlawr opened #798 "Cannot migrate VMs when the cluster consists of 2 nodes"
**To Reproduce**
Steps to reproduce the behavior:
1. Install Harvester with two nodes.
2. Create a VM
3. Migrate the VM to another node.

**Result**
The VM stucks in migrating state.

**Expected behavior**
Migration succeeds. Or tell the user this operation is not permitted

**Log**
The target pod is in ContainerCreating status.
[code]

And all volumes are degraded, given that the Longhorn replica

[2021-04-29 09:37] futuretea commented on #751
## sudo apt upgrade
![image](https://user-images.githubusercontent.com/15064560/116530916-28dc5a80-a911-11eb-9ee9-08c2bd783b9a.png)
![image](https://user-images.githubusercontent.com/15064560/116531346-a99b5680-a911-11eb-8a92-062617e302db.png)
##  resize
![image](https://user-images.githubusercontent.com/15064560/116532135-7efdcd80-a912-11eb-8aae-9f556be5445f.png)
## dmesg -T
![image](https://user

[2021-04-29 10:00] kingsd041 opened #800 "[BUG] Unable to obtain complete installation information during ipxe deployment of harvester"
Unable to obtain complete installation information during ipxe deployment of harvester

![image](https://user-images.githubusercontent.com/19684717/116534139-c08f7800-a914-11eb-9748-0f8d155ae98b.png)

**Environment:**
 - Harvester ISO version:  v0.2.0-rc5
 - Installation Mode: equinix ipxe
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630):

[2021-04-29 10:12] guangbochen opened #801 "[BUG] adjust the event tab columns in the VM detail page"
**Describe the bug**
adjust the event tab columns in the VM detail page

**Additional context**
![image](https://user-images.githubusercontent.com/4569037/116535469-58419600-a916-11eb-94c5-1540a8e46a0e.png)

[2021-04-29 10:19] juadk opened #802 "[BUG] UI - vlan config shouldn't be changed without using the edit config or edit YAML button"
**Describe the bug**
I'm not sure this a bug but it looks unclear to me.
Settings can be changed without using the `Edit Config / Edit YAML` buttons.
![image](https://user-images.githubusercontent.com/6025636/116534630-13e8d280-a8e3-11eb-9325-8f3586e23a53.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Advanced / Settings`
2. Click on `vlan` at the bottom
3. Click on the `Config`

[2021-04-30 00:34] avairava commented on #721
I circumvented the issue by downloading the tar files separately using wget and modified the Dockerfile as shown below:

[code]

[code]

[2021-04-30 00:43] khushboo-rancher opened #803 "[Question] What if two different nodes are on different Harvester versions"
What if user don't upgrade harvester on all of the nodes and keep using different versions of Harvester on different node.
How do we handle this situation?

[2021-04-30 00:46] khushboo-rancher opened #804 "[Doc] Document required explaining how user can set up proxy URL for Harvester UI to access UI from outside the world."
Document required explaining how user can set up proxy URL for Harvester UI to access UI from outside the world.

[2021-04-30 00:48] avairavan opened #805 "[BUG] Crashing virt-handler due to the missing /virt_launcher.cil"
**Describe the bug**
I installed the harvester release version v0.2 on my kubernetes cluster. During the harvester installation, both the virt-handler pods crashed complaining about the missing /virt_launcher.cil file. virt-handler is using the container registry.suse.com/harvester-beta/virt-handler:0.40.0-1 which is missing the file.

**To Reproduce**
Steps to reproduce the behavior:
1. git clone

[2021-04-30 02:59] gitlawr commented on #805
Can you show your Kubernetes/OS version?
Does it work if you disable SELinux?

[2021-04-30 03:16] yaocw2020 opened #807 "[FEATURE] display the sate of physical NICs"
**Is your feature request related to a problem? Please describe.**

The physical NICs which is not up are invalid for the VLAN network. Thus, it's better to not display them.

[code]

![image](https://user-images.githubusercontent.com/7421463/116643836-7c4bb880-a9a4-11eb-91c0-0ceb3ee6b90f.png)

**Describe the solution you'd like**

The node network CRs will not save the physical NICs which are not

[2021-04-30 06:05] rrrai commented on #792
@futuretea
Both of them will be a great addition.
Should this become a feature request?

[2021-04-30 06:07] guangbochen commented on #579
verified using the harvester-v0.2.0-rc5, generating support bundle works, and the zip file contains all the logs and YAML files as needed.
![image](https://user-images.githubusercontent.com/4569037/116655046-f38d4680-a9bc-11eb-9ebb-f84495a4161c.png)
![image](https://user-images.githubusercontent.com/4569037/116655180-38b17880-a9bd-11eb-9c53-8de8cf7a4e51.png)

[2021-04-30 06:07] #579 closed, assigned to bk201, gitlawr, TangStone

[2021-04-30 06:10] gitlawr commented on #775
Validated in v0.2.0-rc5, I can use vlan1 network and get an IP via DHCP

[2021-04-30 06:10] #775 closed, assigned to futuretea, kingsd041

[2021-04-30 06:14] gitlawr commented on #783
Currently, we don't collect manifests for VM pods. Add that as well.

[2021-04-30 06:16] guangbochen commented on #709
Verified on v0.2.0-rc5, renew the IP via DHCP will persist the default route as desired.
[code]

[2021-04-30 06:16] #709 closed, assigned to yaocw2020

[2021-04-30 06:30] guangbochen opened #809 "[BUG] filter out ISO images from the Harvester node driver UI"
**Describe the bug**
Currently, only cloud image is supported by the Harvester node driver, so would be nice if the node driver UI can filter out those ISO images to avoid accidental selection.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Rancher
2. Click to add cluster and select the `Harvester` node driver
3. create a node template and choose available images

**Expected behav

[2021-04-30 06:56] kingsd041 commented on #217
Validate version v0.2.0-rc5

1. Follow [automatic-installation](https://github.com/harvester/harvester/blob/master/docs/automatic-installation.md) to successfully install harvester on bare metal or Equinix Metal or vmware esxi
2. The harvester installation can be initialized according to the [harvester-configuration](https://github.com/harvester/harvester/blob/master/docs/harvester-configuration.m

[2021-04-30 06:56] #217 closed, assigned to bk201, kingsd041

[2021-04-30 07:10] TangStone commented on #383
### Upgrade from v0.2.0-rc4 to head-master using the UI was successful
**3 nodes (8c,8g)**
1. deploy harvester v0.2.0-rc4
2. create 3 vm's
3. execute command `kubectl patch setting upgradable-versions --type=merge -p 'value: master-head'`
4. Go to Dashboard and click upgrade

[2021-04-30 07:11] TangStone commented on #383
Installation operation upgrade successful

[2021-04-30 07:14] #383 closed, assigned to gitlawr

[2021-04-30 07:26] kingsd041 opened #810 "[BUG] ipxe installation, unable to set dns server and environment variable"
**Describe the bug**

ipxe installation, unable to set dns server and environment

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the [harvester-configuration](https://github.com/harvester/harvester/blob/master/docs/harvester-configuration.md) to set the harvester configuration, for example:
[code]
2. Install harvester via pxe
3. After waiting for the harvester to start, check the dns

[2021-04-30 07:58] TangStone commented on #512
Validate version in v0.2.0-rc5
1. Add harvester Node Template  ,the configuration is as follows
![image](https://user-images.githubusercontent.com/15829074/116662180-05281b80-a9c8-11eb-9676-38eaccd77768.png)
2. Adding a harvester cluster, the configuration is as follows, cluster options default
![image](https://user-images.githubusercontent.com/15829074/116662802-d2caee00-a9c8-11eb-9482-68af492c5d

[2021-04-30 07:58] #512 closed, assigned to futuretea

[2021-04-30 08:06] guangbochen commented on #741
close in favor of https://github.com/harvester/harvester/releases/tag/v0.2.0

[2021-04-30 08:06] #741 closed, assigned to guangbochen

[2021-04-30 12:35] avairavan commented on #805
Kubernetes (K3s) version: v1.17.2+k3s1
CentOS version: 7.9.2009

[2021-04-30 13:18] avairavan commented on #805
After disabling selinux, virt-handler is not crashing.

[2021-05-01 06:12] dev-dull opened #812 "[BUG] ISO install accepts multiple words for 'cluster token' value resulting in failure to join cluster"
**Describe the bug**
When installing from ISO, the user is prompted for a cluster token. I had set `satellite of love` for my main server (gypsy; physical server) and two nodes (tom-servo; physical server, crow; virtual machine). The server/controller boots and is accessible as expected, but the nodes never successfully join.

**To Reproduce**
Steps to reproduce the behavior:
1. Boot main server/c

[2021-05-01 15:17] yasker commented on #812
Thanks for the report @dev-dull . It's probably the space in `satellite of love`.

1. We should prevent users from typing or input invalid token values.
2. If we failed to join due to a token issue, or any related issue, there should be an easy way for the user to figure out what's wrong. We should either show it in the console, or document an easy troubleshooting process.

[2021-05-01 19:54] himslm01 opened #813 "Change boot order of disks in VM"
**Is your feature request related to a problem? Please describe.**
I've built a VM using the 'iso' template. After the VM has completed installing the OS (Ubuntu 20.04) it ends with the virtual disk at "Boot order: 1" and the CD-ROM as "Boot order: 2".
I want to boot from the CD-ROM again.
The UI does not allow me to change the "Boot order".

**Describe the solution you'd like**
The UI should allo

[2021-05-01 20:01] himslm01 opened #814 "Change boot order of disks when creating a VM"
**Is your feature request related to a problem? Please describe.**
When manipulating the "Boot order" of volumes while creating a new machine, you cannot just swap the "Boot order" two volumes (make the volume that was boot order 2 be boot order 1, and visa-versa).
This does not work:
1 -> 2 (implies 2 -> 1)
You have to do:
2 -> 3
1 -> 2
3 -> 1
This is understandable, but not intuitive.

**Describ

[2021-05-01 20:21] himslm01 opened #815 "Validate the name in the UI when creating a template"
**Is your feature request related to a problem? Please describe.**
Creating Templates from a configured VM is awesome.
It would be better if the name validation happened while typing, not after you've clicked "create" and the dialogue has closed.

**Describe the solution you'd like**
All 'name' fields should have validation code in the UI.

**Describe alternatives you've considered**
Can't think o

[2021-05-01 20:32] himslm01 commented on #401
Can you include F keys and Alt-F keys?

[2021-05-02 05:39] rrrai opened #816 "[BUG] Harvester v0.2.0 unable to download iso images for VM creation"
**Describe the bug**
Harvester unable to download iso images for VM install

**To Reproduce**
Steps to reproduce the behavior:
1. Installed Rancher v0.2.0 using iso (baremetal install)
2. Customization install - configured vlan on eth0, added vlan in network, configured cloud config templates, vm templates and got ready to download images.
3. Add iso link for K3os and Ubuntu. Each iso failed to do

[2021-05-02 08:18] rrrai commented on #812
I ran into a similar issue but with a token that had letters, numbers and special characters !<@( . Had to reinstall Harvester
Ability to extract and modify token once set will be really helpful

[2021-05-03 03:08] bk201 commented on #812
The [generated k3s env file ](https://github.com/k3s-io/k3s/blob/245efe0d665838dfc228e3442efd11bcd3b39ec8/install.sh#L705-L713)doesn't quote the variable and the [variable sourcing](https://github.com/k3s-io/k3s/blob/7a10a9971f224b2335302acb2ab8b25baf142c3f/install.sh#L779-L784) is failing:

[code]

[2021-05-03 03:30] abonillabeeche opened #817 "[FEATURE] VM host selection"
**Is your feature request related to a problem? Please describe.**
Allow the ability to choose the initial host to deploy the VM

**Describe the solution you'd like**
Virtual Machines -> Create VM -> Host: drop down to choose one of all available hosts

**Describe alternatives you've considered**
Afinity or Anti-Afinity to other labels or virtual machines

**Additional context**
The goal is to be

[2021-05-03 15:46] abonillabeeche opened #818 "[FEATURE] host shell access via harvester"
**Is your feature request related to a problem? Please describe.**
trying not to ssh externally to the harvester hosts

**Describe the solution you'd like**
provide a shell link to gain direct access to the hosts

**Additional context**
host management for operations and troubleshooting is fairly common - having the ability to console/vnc/shell to the hosts would be a nice addition

[2021-05-03 20:43] abonillabeeche opened #819 "[BUG] unable to provision VMs on elite1 (initial host)"
**Describe the bug**
I created a 3 node cluster but it looks like the initial node was excluded from being able to create virtual machines. I tried to copy the labels from elite2 and elite3 to elite1 but that did not help.

**To Reproduce**

Try creating several VMs - they will be scheduled anywhere but that initial node

bundle attached

**Environment:**
 - Harvester ISO version: 0.2
 - Installat

[2021-05-04 04:07] bk201 commented on #783
It will also be nice to include NodeMetrics and PodMetrics.

[2021-05-04 16:54] jubalh opened #821 "[Question] Naming `rancher-harvester` vs `harvester` and Readme.md.in"
I intended to create a PR that changes https://github.com/harvester/harvester/blob/master/main.go#L35 from `rancher-harvester` to `harvester`.

Reasons:
* Commit 476ee31f14b859dacdfa73fe40e8ddcdcee5c268 did rename `Rancher Harvester` to `Harvester` in several documentation locations.
* Since our repository is called `harvester` a regular `go build` will also name the binary `harvester`.
* In `READ

[2021-05-04 18:49] mjschmidt opened #822 "[Question] do you guys test with rancher kubernetes?"
I was testing the deployment with helm on the most recent v2.5.7 k8s and the volumesnapshotclass in their kubeneretes 1.20.5 is at v1alpha1 not v1beta1. Is it possible to make this a configurable element? Else where in the code would need to be changed to fork and change this so we could run a harvester?

[2021-05-05 02:11] guangbochen commented on #821
yep, both the app name and `README.md.in` file are leftover and either need to be changed or removed, please feel free to submit a PR for it, thanks.

[2021-05-05 09:57] bk201 opened #824 "[BUG] Need integraton tests for the support bundle feature"
**Describe the bug**
We need integration tests for the support bundle feature.

[2021-05-05 12:29] #821 closed, assigned to nobody

[2021-05-05 23:52] khushboo-rancher opened #827 "[BUG] Can't edit the config of the host if saved after 30 sec or more."
**Describe the bug**
The host page doesn't allow modification if save button is clicked after 30 secs.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to hosts page.
2. Click edit config.
3. Change the description.
4. Click save button after at least 30 sec.

<img width="1529" alt="Screen Shot 2021-05-05 at 4 36 49 PM" src="https://user-images.githubusercontent.com/60111667/117223278-3175

[2021-05-06 03:23] gitlawr commented on #819
from the elite1 node:
[code]
Can you
1. Run `lscpu` to check if hardware virtualization is supported.
2. Run `lsmod|grep kvm` to check if the KVM module is loaded.

[2021-05-06 05:26] guangbochen commented on #818
<del>duplicate of https://github.com/harvester/harvester/issues/752</dev>

[2021-05-06 05:40] guangbochen commented on #452
duplicate of https://github.com/harvester/harvester/issues/632

[2021-05-06 05:40] #452 closed, assigned to guangbochen, futuretea

[2021-05-06 05:45] guangbochen commented on #698
duplicate of https://github.com/harvester/harvester/issues/673

[2021-05-06 05:45] #698 closed, assigned to nobody

[2021-05-06 05:50] guangbochen opened #829 "RBAC"

[2021-05-06 05:50] guangbochen opened #830 "RBAC"

[2021-05-06 05:51] guangbochen opened #831 "dev"

[2021-05-06 05:52] guangbochen opened #832 "test"

[2021-05-06 05:57] #832 closed, assigned to nobody

[2021-05-06 05:57] #830 closed, assigned to nobody

[2021-05-06 05:57] #829 closed, assigned to nobody

[2021-05-06 05:57] #831 closed, assigned to nobody

[2021-05-06 07:15] guangbochen opened #833 "[FEATURE] migrate harvester docs to the doc repo"
migrate harvester docs to the https://github.com/harvester/docs repo
https://docs.harvesterhci.io/

[2021-05-06 10:01] gitlawr commented on #805
I can reproduce using the following steps:
1. Provision a CentOS 7 VM. Make sure SELinux is either Permissive or Enforcing.
2. Install the latest K3S.
3. helm install the harvester chart

result: virt-handler crashes.

After I edit the virt-handler daemonset, then change the handler image to `quay.io/kubevirt/virt-handler:v0.40.0`, and change the init container image to `quay.io/kubevirt/virt-laun

[2021-05-06 10:08] guangbochen commented on #805
@vasiliy-ul can u guys please take a look at how the image packaging was handled on SELinux with the SUSE image, thanks.

[2021-05-06 12:54] abonillabeeche commented on #819
[code]

elite1 [~]$ sudo modprobe kvm_intel
modprobe: ERROR: could not insert 'kvm_intel': Not supported

I went into the BIOS and vtx wasn't selected - so really the way to tell if the system is correctly setup is via trying to load the kernel module kvm_intel - as lscpu/cpuinfo and kvm will load if the CPU supports it.

I later rebooted and I was able to provision VMs on top of that specific nod

[2021-05-06 13:57] guangbochen commented on #827
This is because the backup controller is still reconciling the object while the user clicks to edit the object, this is a common issue for both rancher and the harvester dashboard, as a temporary workaround user will need to cancel and click edit again.

As an enhancement, we may add a `refresh` button at the end of the message to allow the user to refresh the object without leaving/reloading the

[2021-05-06 14:13] vasiliy-ul commented on #805
Hi, thanks for reporting that. I managed to reproduce the issue on my test VM (fedora with selinux) and prepared the fix. Now rebuilding the containers...

Meanwhile, @guangbochen , what would be the best way to deliver the fix? I see two options:

- I can upload all the 5 Kubevirt images with the new tag `0.40.0-2`. Then the charts need to be updated.
- Alternatively I can try to overwrite the ex

[2021-05-06 14:15] guangbochen commented on #805
The new tag with `0.40.0-2` would be preferred, thanks.

[2021-05-06 17:08] vasiliy-ul commented on #805
@guangbochen , I've uploaded the images with the new tag `0.40.0-2`.

[2021-05-07 01:59] gitlawr commented on #819
Thanks for the update

[2021-05-07 01:59] #819 closed, assigned to nobody

[2021-05-07 07:41] #429 closed, assigned to nobody

[2021-05-07 08:09] futuretea opened #835 "[BUG] Wrong node role display"
**Describe the bug**

![image](https://user-images.githubusercontent.com/15064560/117418609-32d40e00-af4e-11eb-9be2-56a9b274bc83.png)

[code]

**To Reproduce**
Steps to reproduce the behavior:
1.  Create a cluster by kubeadm (only one master node)
2. Go to host detail page, check role

**Expected behavior**

Show Management Node
**Support bundle**

**Environment:**
 - Harvester ISO version:  No IS

[2021-05-07 09:24] futuretea opened #836 "[BUG] Can't download support bundle on app mode"
**Describe the bug**

![image](https://user-images.githubusercontent.com/15064560/117428494-b7c42500-af58-11eb-9c6d-6f851510ed8d.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a cluster by kubeadm
2. Apply harvester helm chart
3. Genereate support bundle

**Expected behavior**

Can genereate support bundle and download

**Support bundle**

**Environment:**
 - Harvester ISO versi

[2021-05-08 05:43] yaocw2020 opened #837 "[Question] Can't install guest agent for a running VM"
**Describe the bug**

We cannot install a guest agent for a running VM.

**To Reproduce**
Steps to reproduce the behavior:
1. Select a running VM without a guest agent and edit the VM config.
2. Go to the `Advanced Options` tab, check the box `install guest agent` and then click the save button.
3. After restarting, we still can't see the IP address of the VM.

**Expected behavior**

Install guest

[2021-05-08 06:15] futuretea commented on #837
cloud-init will only be executed once
try `cloud-init clean --logs --reboot`

https://cloudinit.readthedocs.io/en/latest/topics/cli.html#clean

[2021-05-08 07:29] futuretea opened #838 "[BUG] Observed a panic: "invalid memory address or nil pointer dereference""
**Describe the bug**

[code]
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. restart harvester repeatedly

**Expected behavior**

**Support bundle**

**Environment:**
 - Harvester ISO version:
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630):

**Additional context**
Add any other context about the problem here.
[code]

[2021-05-10 03:07] WuJun2016 opened #839 "[BUG] SupportBundle enhancement"
**Describe the bug**
When the websocket is disconnected, the progress bar will be stuck at 97%. I hope that the function can be used normally when the websocket is disconnected.

[2021-05-10 05:19] TangStone opened #840 "[BUG] Harvester failed to upgrade to v0.2.0 via UI"
**Describe the bug**

Upgrade stuck on a node for a long time without change
![image.png](https://images.zenhubusercontent.com/6045fac39bfd93ea415d99ee/a54aff7f-0d0d-4614-925e-dfe7b7391594)
![image.png](https://images.zenhubusercontent.com/6045fac39bfd93ea415d99ee/4b19dcdb-0d06-48f0-8a10-6bb4d2eedb72)
Status of vm during upgrade
![image.png](https://images.zenhubusercontent.com/6045fac39bfd93ea415

[2021-05-10 05:20] guangbochen commented on #839
duplicate of https://github.com/harvester/harvester/issues/783, should be able to get addressed when the backup adds more tracking status.

[2021-05-10 05:20] #839 closed, assigned to WuJun2016

[2021-05-10 06:17] TangStone commented on #840
Node does not have nested virtualization enabled

[2021-05-10 06:17] #840 closed, assigned to nobody

[2021-05-10 09:33] futuretea opened #841 "[BUG] If default FORWARD policy is DROP, vm use vlan 1 network (vid=1) can't access other host"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. make sure `ip_forward` is disabled
1. install docker (docker will enable `ip_forward` and change FORWARD policy to DROP)
2. setup up k8s cluster and harvester

**Expected behavior**

if FORWARD policy is DROP, vm use vlan 1 can access other host

**workaround**
[code]

**Support bundle**

**Environment:**
 - Harvester ISO v

[2021-05-10 09:41] guangbochen opened #842 "[FEATURE] allow default storage class configuration"
**Is your feature request related to a problem? Please describe.**
For development purposes, when running a Harvester-in-Harvester, the disk performance of the longhorn in the nested environment will be less efficient, therefore we should allow the user to config an alternative storage class like [local-path-provisioner](https://github.com/rancher/local-path-provisioner) for better performance tun

[2021-05-10 13:19] fabiand commented on #417
A side note: With KubeVirt we try to go with q35 or higher based MT.
At best we will be able to deprecate i440fx at some point.

[2021-05-10 17:58] yasker opened #845 "[BUG] One node of a three-node cluster lost IP after a couple of days"
**Describe the bug**
One node of a three-node cluster lost IP after a couple of days

**To Reproduce**
Only happened in one environment. No active action was taken except for creating a few VMs on top of the cluster.

**Expected behavior**
IP won't be lost

**Support bundle**
n/a

**Environment:**
 - Harvester ISO version: v0.2.0-rc5
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge

[2021-05-10 21:19] noahgildersleeve opened #846 "[BUG] Invalid Mac address can't be changed after selecting network"
**Describe the bug**
When you add an invalid Mac address in the network section on a new network interface and then select a network it removes the visible Mac address input and it gets stuck in error state

**To Reproduce**
Steps to reproduce the behavior:
1. Edit an existing VM
2. Go to the network section
3. Add a new interface
4. Add in an invalid Mac address
5. Delete the first network interf

[2021-05-11 01:59] khushboo-rancher opened #847 "[BUG] 'Labels' appears twice on the create image page."
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Create image' page.
2. Go to 'Labels' tab

<img width="1522" alt="Screen Shot 2021-05-10 at 6 24 05 PM" src="https://user-images.githubusercontent.com/60111667/117744398-74b6bb80-b1bd-11eb-8926-1640a2903617.png">

**Expected behavior**
Labels title should appear only once.

**Environment:**
 - Harvester ISO version: v0.2.0-rc5

[2021-05-11 03:07] TangStone opened #848 "In the process of creating harvester cluster, rancher restart causes cluster creation failure"
**Describe the bug**

node template
![image](https://user-images.githubusercontent.com/15829074/117752553-91003a00-b249-11eb-8c9c-440c868dd2b7.png)
harvester cluster configuration, other options default
![image](https://user-images.githubusercontent.com/15829074/117752673-c9a01380-b249-11eb-846a-ae3d27864170.png)
Current status of the cluster
![image](https://user-images.githubusercontent.com/1582

[2021-05-11 05:38] futuretea opened #849 "[BUG] On centos7(xfs), vm can't boot after backup and restore"
**Describe the bug**

After restore， vnc console show
![image](https://user-images.githubusercontent.com/15064560/117763829-0f66d700-b25e-11eb-80b4-0f6a51daf505.png)
or
![image](https://user-images.githubusercontent.com/15064560/117763899-2b6a7880-b25e-11eb-92c0-76dc8ea51c25.png)

**To Reproduce**
Steps to reproduce the behavior:
1. centos 7(xfs)+docker+kubeadm cluster
1. install harvester
1. crea

[2021-05-11 05:43] futuretea commented on #504
https://github.com/kubevirt/kubevirt/issues/5571#issuecomment-832904637

[2021-05-11 06:23] futuretea commented on #849
link to https://github.com/longhorn/longhorn/issues/2503

[2021-05-11 07:01] futuretea commented on #805
I can confirm this has been fixed by tag 0.40.0-2

[2021-05-11 07:46] guangbochen commented on #836
@bk201 I think we should still be able to generate and download the support bundle file even if the node logs can't be collected due to different environment setups, thanks.

[2021-05-11 14:47] TangStone opened #851 "The values of "image" and "Network Name" are not displayed when the harvester node template is edited again."
**Describe the bug**
1. Create a harvester node template
2. Select External Harvester, other configurations are as follows, and create
![image](https://user-images.githubusercontent.com/15829074/117833287-c9833080-b2a8-11eb-98e5-2e3fd0b7053f.png)
3. Go back to the node template page and select the harvester node template you just created to edit
![image](https://user-images.githubusercontent.com/1

[2021-05-11 15:00] yaocw2020 commented on #633
[Guidelines](https://kubernetes-csi.github.io/docs/developing.html) to develop a CSI driver.

[2021-05-11 16:13] noahgildersleeve opened #852 "[BUG] Error on attempting to delete template"
**Describe the bug**
There's an error when trying to delete a template `Cannot delete the default templateVersion`
**To Reproduce**
Steps to reproduce the behavior:
1. Create a new template with no image
2. Attempt to delete the template

**Expected behavior**
You should be able to delete the template without an error.

**Support bundle**
[harvester-supportbundle_054d2b76-4dd6-4c48-b194-2adf989175

[2021-05-11 16:16] noahgildersleeve commented on #852
I didn't realize that you needed to delete the header for the template, not the default version. Closing.

[2021-05-11 16:16] #852 closed, assigned to nobody

[2021-05-11 16:37] yasker commented on #812
We also need to exclude any invalid characters we cannot accept. Better make a whitelist instead of a blacklist.

[2021-05-11 18:13] yasker opened #853 "Website doesn't show up well on mobile"
![Screenshot_20210511-111222](https://user-images.githubusercontent.com/3344618/117864640-e0df0100-b249-11eb-9cc0-2995b1bb9f99.png)

![Screenshot_20210511-111215](https://user-images.githubusercontent.com/3344618/117864649-e3d9f180-b249-11eb-95cb-4d75ba616519.png)

[2021-05-11 20:31] noahgildersleeve opened #854 "[BUG] clicking enter in SSH key name entry closes modal"
**Describe the bug**
When you click enter while in the SSH key name entry field it closes the modal, but only seems to hide it. The data is still there if you re-enter it

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new VM
2. Select a template to create it
3. Click add SSH Key
4. Enter in your key
5. Enter in a name
6. Click enter while in the name field
7. Click add SSH key agai

[2021-05-12 03:47] bk201 commented on #836
This is also addressed in https://github.com/harvester/support-bundle-utils/pull/6
The web server is not tied to the node bundle collecting step, it's up until the application is terminated.

[2021-05-12 08:53] guangbochen opened #855 "[FEATURE] Add admission webhook service"
**Is your feature request related to a problem? Please describe.**
Add admission webhook service of the Harvester to implement admission webhook validation of required CRDs.

**Describe the solution you'd like**
- [x] add admission webhook server to the Harvester.
- [x] add validation webhooks of required CRDs.
- [x] remove duplicate validations in the Harvester API.

[2021-05-12 09:24] futuretea opened #856 "[FEATURE] Show `Kernel` and `Container Runtime` on host deatil page"
**Is your feature request related to a problem? Please describe.**

If this information is displayed, it can help identify problems

**Describe the solution you'd like**

![image](https://user-images.githubusercontent.com/15064560/117951071-62b45480-b346-11eb-9fb3-05a92900056e.png)

**Describe alternatives you've considered**

**Additional context**

These info can be found on node's `status.nodeI

[2021-05-12 10:50] joy717 opened #857 "[BUG] Chart-wrong ConfigMap for longhorn StorageClass after upgrading"
**Describe the bug**
The longhorn-storageclass-override.yaml will be overridden by charts/longhorn after upgrading.

**To Reproduce**
Steps to reproduce the behavior:
1. install via helm chart.
`kubectl get cm -n longhorn-system longhorn-storageclass -o yaml`.
 will find "migratable" property.
2. upgrade via helm.
3. `kubectl get cm -n longhorn-system longhorn-storageclass -o yaml`.
now  "migratab

[2021-05-12 16:53] abonillabeeche opened #858 "[FEATURE] allow specifying a harvester template vs rancher template for node driver"
**Is your feature request related to a problem? Please describe.**
I inject DNS, users and certain specific values via Cloud Config Templates - which are available within Harvester but not within the Harvester node driver Template

**Describe the solution you'd like**
Would like to specify a Harvester template instead of having to re-create a template - not only besides of re-creation but because

[2021-05-12 17:23] yasker commented on #858
I think making a Harvester template selectable when creating clusters in Rancher should be better.

[2021-05-12 19:17] khushboo-rancher opened #859 "[BUG] Serial console doesn't work on safari for ubuntu image"
**Describe the bug**
The serial console hangs and doesn't allow to access the serial console on safari browser.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy harvester on three nodes.
2. Open the Harvester UI on safari browser 14.0.3
3. Create a vm with cloud image - `http://cloud-images.ubuntu.com/releases/focal/release/ubuntu-20.04-server-cloudimg-amd64-disk-kvm.img`.
4. Open the

[2021-05-12 22:53] yasker commented on #633
@yaocw2020 Don't worry about CSI part for now. It's tracked separately at #580

[2021-05-13 03:25] guangbochen opened #861 "[FEATURE] Harvester node driver for rke and rancher 2.6"
**Is your feature request related to a problem? Please describe.**
Refactor the Harvester node driver to support Rancher 2.6 and spin up the k8s cluster with rke2, additionally uses vanilla k8s API instead of the steve API for better HCI 2.0 standardization.

**Describe the solution you'd like**
- [x] Submit the Harvester node driver UI as built-in to the Rancher 2.6 dashboard.
       - [ ] RKE1 h

[2021-05-13 03:30] guangbochen commented on #94
closed as this is documented.

[2021-05-13 03:30] #94 closed, assigned to nobody

[2021-05-13 03:31] guangbochen commented on #166
close in favor of 0.2 release.

[2021-05-13 03:31] #166 closed, assigned to gitlawr

[2021-05-13 03:32] guangbochen commented on #127
close as minio is removed from harvester in v0.2.0.

[2021-05-13 03:32] #127 closed, assigned to gitlawr

[2021-05-13 03:33] guangbochen commented on #361
close as addressed in the v0.2.0.

[2021-05-13 03:33] #361 closed, assigned to yasker

[2021-05-13 03:35] guangbochen commented on #373
closed due to inactivity, and now the helm chart is marked as dev mode only.

[2021-05-13 03:35] #373 closed, assigned to gitlawr

[2021-05-14 03:16] gitlawr commented on #857
The storageclass-override stuff is kind of a workaround due to the release time frame. It would be more straightforward if we can make the parameter configurable in the Longhorn chart. I've opened a Longhorn issue for the request: https://github.com/longhorn/longhorn/issues/2594

[2021-05-14 07:38] devadapter opened #864 "[Question] Do you plan to support metering and billing on harvester?"
Would like to know if Harvester's metering and billing features are on the roadmap for the next release? Any information on the technical route that can be shared now?
Very excited about this feature.

[2021-05-14 08:24] guangbochen commented on #864
it is not in the 0.3.0 release, but sounds like a good feature enhancement to me, the existing roadmap can be found on https://github.com/harvester/harvester/wiki/Roadmap

[2021-05-14 09:20] guangbochen commented on #553
@yasker since the LH snapshot does not have a CRD and can only be maintained through API calls, do u have any other recommendations, thanks.

[2021-05-14 09:33] devadapter opened #867 "[BUG] When the cluster consists of 2 nodes, the virtual machine of the slave node does not work properly."
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Install Harvester with two nodes.
2. Create multiple virtual machines
3. Observe the running state of the slave node virtual machine

**Result**
The virtual machine stops in the startup state and cannot be restarted or stopped.
Restart the slave node server, the VMs on the node1 server will be migrated to the master node, a

[2021-05-14 10:00] gitlawr commented on #867
Can you provide a support bundle? You can generate it at the UI bottom.

[2021-05-14 13:52] chifu1234 opened #868 "[BUG] longhorn storage replica"
Currently Harvester sets hardcoded to 3 the amount of replicas. It should use the default setting from longhorn.

[2021-05-14 17:07] yasker commented on #553
Snapshot CRD is a scheduled feature in https://github.com/longhorn/longhorn/issues/2534

[2021-05-15 12:13] larssb opened #869 "mount: /run/k3os/iso: wrong fs type, bad option, bad superblock on .... missing codepage ...."
**Describe the bug**
When executing an ISO install of Harvester v0.2.0 on a HP ProLiant G9 server over iLO, I get the error seen on the below screenshot and in the title of this issue.

<img width="1440" alt="Screenshot 2021-05-07 at 12 32 09" src="https://user-images.githubusercontent.com/5261530/118270605-93b89480-b4c0-11eb-91d7-a6d45206e21c.png">

**To Reproduce**
Steps to reproduce the behavio

[2021-05-15 14:09] futuretea commented on #838
workaround:

[code]

[2021-05-17 01:18] devadapter commented on #867
**Support bundle**
[harvester-supportbundle_e353bddd-443a-44ed-86f8-ecdc990f1f2a_2021-05-17T01-14-30Z.zip](https://github.com/harvester/harvester/files/6490451/harvester-supportbundle_e353bddd-443a-44ed-86f8-ecdc990f1f2a_2021-05-17T01-14-30Z.zip)

[2021-05-17 03:07] futuretea opened #870 "[BUG] unable open pxe installation docs from README"
**Describe the bug**

![image](https://user-images.githubusercontent.com/15064560/118427374-9ce37480-b6ff-11eb-9a94-d85b6d90d1d6.png)
![image](https://user-images.githubusercontent.com/15064560/118427507-f0ee5900-b6ff-11eb-8d46-459e7b1396be.png)

**To Reproduce**
Steps to reproduce the behavior:
1. README
2. click `Overview` -> `PXE/iPXE boot support`

**Expected behavior**

**Support bundle**

**

[2021-05-17 03:20] gitlawr commented on #867
The disk could be faulty based on the events and dmesg logs:
[code]
[code]

Can you run the following command to check and fix it if that's the case?
[code]

[2021-05-17 07:39] devadapter commented on #867
I tried to run the command you said, but the result seems fine. How should I fix it.

![image](https://user-images.githubusercontent.com/23102962/118448659-dc708780-b724-11eb-9da1-33127a58cd94.png)

[2021-05-17 08:01] gitlawr commented on #867
If you check the `dmesg` logs, the errors are from other devices including `sdd/sde/sdg...`. Can you check those?

[2021-05-17 08:46] guangbochen opened #871 "[BUG] ejected CD-rom can't not be delete from the volumes page"
**Describe the bug**
![image](https://user-images.githubusercontent.com/4569037/118460372-370ee100-b72f-11eb-89fd-db8ce5b6e329.png)

**To Reproduce**
1. create a VM using an ISO image
2. after the installation is complete, select to eject the cd-rom disk
3. the disk is ejected and the VM is rebooted
4. go to the volumes page, select to delete the cd-rom disk
5. it shows unable to delete because of

[2021-05-17 09:37] WuJun2016 commented on #851
@futuretea  @guangbochen  need to build the latest front-end resources to upload to S3

[2021-05-17 11:11] innobead commented on #857
Please check https://github.com/longhorn/longhorn/issues/2594#issuecomment-841667027. I would suggest just using an individual storage class to avoid this kind of coupling/dependency.

cc @joshimoo

[2021-05-18 04:53] TangStone opened #872 "[BUG] can't shut down virtual machine using poweroff"
**Describe the bug**

Use the poweroff command to shut down the VM, the VM will restart and the VM status in the VM list will not change
**To Reproduce**
Steps to reproduce the behavior:
1. Create a VM instance using ubuntu-18.04-server-cloudimg-amd64.img
2. Log in to the VM and use the command poweroff to shut down the VM

**Expected behavior**

1. the virtual machine can be shut down and not res

[2021-05-18 06:38] futuretea opened #873 "[BUG] Unable to login if no Rancher installed"
**Describe the bug**

![image](https://user-images.githubusercontent.com/15064560/118603553-a1368d00-b7e6-11eb-85a1-115314874673.png)

**To Reproduce**
Steps to reproduce the behavior:
1. install harvester by charts
2. try to login

**Expected behavior**

show login page

**Support bundle**

**Environment:**
 - Harvester ISO version:  on ISO, dev mode
 - Underlying Infrastructure (e.g. Baremetal w

[2021-05-18 09:19] larssb commented on #868
@chifu1234 where's is this hardcoded?

[2021-05-18 10:02] guangbochen opened #874 "[FEATURE] address integration test changes due to the webhook changes"
**Is your feature request related to a problem? Please describe.**
address integration test changes due to the webhook changes

**Additional context**
depends on https://github.com/harvester/harvester/issues/855

[2021-05-18 14:26] mygitdds opened #875 "notready"
Restart after installing havester prompt notready
The web page can be accessed normally, but when the image is added, the image will not be downloaded

[2021-05-18 14:43] mygitdds opened #876 "[Question] startharvester"
This is the reason why notready? Is displayed in harvester?

[2021-05-18 15:26] larssb commented on #876
I would certainly go to the Harvester channel on the RancherLabs Slack community for this type of question.

[2021-05-18 15:26] larssb commented on #875
Use the Harvester channel on the RancherLabs Slack community for this type of questions. It's way faster.

Also you created two issues that are basically the same.

[2021-05-18 15:52] larssb opened #877 "After the move to block vol. mode as the default in v0.2.0 volume snapshots are not working with CDI"
**Describe the bug**
I'm using [KCLI](https://github.com/karmab/kcli) to deploy VM's and K3s clusters on-top of Harvester. KCLI integrates with KubeVirt by way of the kubeconfig one can pull out from an installed Harvester cluster.
In 0.1.0 of Harvester CDI cloning worked without issues. In 0.2.0 it doesn't.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup Harvester v0.2.0
1. [Install K

[2021-05-18 16:51] noahgildersleeve opened #878 "[BUG] No Create VM using YAML Button in Harvester UI"
**Describe the bug**

The Create vm using Yaml file button is not available on the Harvester GUI.
**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to Virtual Machine list
2. Look for Create

**Expected behavior**

There should be an option for creating a VM from YAML, this was confirmed by @guangbochen .

**Support bundle**

**Environment:**
 - Harvester ISO version: version: 0.2.0-rc

[2021-05-18 16:55] awels commented on #877
For me the biggest question is why are volume snapshots not working. The snapshot remains pending forever on something.

[2021-05-18 18:28] noahgildersleeve opened #879 "[Enhancement] Support volume expansion"
**Describe the bug**

Can't edit volume size
**To Reproduce**
Steps to reproduce the behavior:
1. Open detached volume via volume list in harvester
2. Edit volume
3. Try to change size
4. Try to change size via YAML and save
**Expected behavior**

You should be able to edit size on a detached volume since that is a supported action in Longhorn
**Support bundle**

[harvester-supportbundle_046bfe97-

[2021-05-19 02:55] guangbochen commented on #875
can u please share the error message of the image that was not able to be downloaded.
Also would be nice if u can specify your setup environment and sharing a supported bundle file that can be generated through the UI, thanks.

[2021-05-19 03:14] michaelandrepearce commented on #372
We see its now possible to launch rancher clusters on top of vms in havester is there any progress or plans to actually support using the underlying baremetal k3s cluster exposed to rancher ui natively so that you can run baremetal containers next to the vms, not on top of vms

[2021-05-19 03:19] michaelandrepearce opened #880 "[Question] Run on top of existing baremetal k8s clustee"
I have existing baremetal k8s cluster with longhorn. Can i deploy longhorn on top of an existing baremetal cluster. So i can get VM support on an existing bare metal cluster.

[2021-05-19 06:16] futuretea commented on #873
Before the UI is fixed, we can manually change the settings `ui-Index` 's value to `https://releases.rancher.com/harvester-ui/v0.2.1/index.html` by kubectl

[2021-05-19 17:44] schmitch commented on #582
well isn't the biggest problem"private" networking between the tenants? I mean without that any support for it would go to waste. it bascially would need to integrate a custom network solution that can actually do the routing, etc.

[2021-05-20 01:59] devadapter commented on #867
I tried to change the Harvester cluster from one master and two slaves to three independent Harvester. now the Harvester is running VMs perfectly without problems.

[2021-05-20 02:18] DreamTeamWangbowen opened #882 "[BUG] Logging in for the first time"
**Describe the bug**

When logging in for the first time, the system is not prompted to set a login password.

When I try to log in with admin admin or admin password，
it prompts “An error occurred logging in. Please try again.”

**Environment:**
 - Harvester ISO version: harvester-v0.2.0-amd64.iso
 - Google chrome

[2021-05-20 02:24] DreamTeamWangbowen commented on #882
please. @gitlawr @guangbochen

[2021-05-20 02:30] gitlawr commented on #882
Can you check if Harvester is in Ready status in the console when this happens?

[2021-05-20 02:34] futuretea opened #883 "[FEATURE] Ability to use extenal Rancher to provide /v3 API"
**Is your feature request related to a problem? Please describe.**

Rancher integrates multiple authentication methods and RBAC.
Harvester deployed through Chart should also be able to reuse this part of the capability by connecting to an external Rancher.

**Describe the solution you'd like**

Access Rancher by configuring KUBECONFIG for the external Rancher `local` cluster

**Describe alternativ

[2021-05-20 02:35] DreamTeamWangbowen commented on #882
yes,it's ready,the color is green.

[2021-05-20 02:48] gitlawr commented on #882
Can you inspect the API calls in the browser console?

[2021-05-20 03:09] yaocw2020 opened #884 "[BUG] Can not select empty Boot order"
**Describe the bug**

Boot order can not be a string.

![image](https://user-images.githubusercontent.com/7421463/118913059-57bb7e80-b95b-11eb-9ad0-3fbedaf8cc9c.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Virtual Machines and create a new VM
2. Go to Volumes, select "-" on the BootOrder box

**Expected behavior**

Support to select empty boot order

**Support bundle**

None

*

[2021-05-20 03:28] DreamTeamWangbowen commented on #882
console output is :
# Welcome to warp zone
app.b37b2888edb64151bd87.js:1 # Try schemaFor('pod'), schemaName('pod'), all('pod'), byId('pod','abc'), await find('pod','abc'), await findAll('pod')
app.b37b2888edb64151bd87.js:1 Loading management...
app.b37b2888edb64151bd87.js:1 Find All: [management] userpreference
app.b37b2888edb64151bd87.js:1 Socket connecting (id=1, url=wss://200.201.6.9:30443/v1/s

[2021-05-20 03:30] DreamTeamWangbowen commented on #882
DevTools failed to load SourceMap: Could not load content for https://200.201.6.9:30443/dashboard/vendors/app.b93998167d6f749113a2.js.map: Certificate error: net::ERR_CERT_AUTHORITY_INVALID
DevTools failed to load SourceMap: Could not load content for https://200.201.6.9:30443/dashboard/app.b37b2888edb64151bd87.js.map: Certificate error: net::ERR_CERT_AUTHORITY_INVALID
app.b37b2888edb64151bd87.js:

[2021-05-20 03:33] DreamTeamWangbowen commented on #882
The login interface is as follows：
Howdy!

Welcome to Harvester
 English
Username *
Password *

[2021-05-20 03:54] gitlawr commented on #882
I notice two issues from the logs, the invalid cert and 502 response
1. Does it fix the cert error if you re-enable the cert check as the following:
![image](https://user-images.githubusercontent.com/5697937/118916637-f054fd00-b961-11eb-8873-2506c7769e29.png)
2. Can you ssh to the node and run `kubectl get po -n cattle-system`

[2021-05-20 07:06] yaocw2020 opened #885 "[FEATURE] Support installing guest agent in template"
**Is your feature request related to a problem? Please describe.**

The VM template doesn't support installing guest agent by version 0.2.0.
![image](https://user-images.githubusercontent.com/7421463/118934109-901f8480-b97c-11eb-990d-5265b5b79301.png)

**Describe the solution you'd like**

Add a box to support installing the guest agent.

**Describe alternatives you've considered**

**Additional c

[2021-05-20 10:05] showsmall opened #887 "ceph support"
Does it support distributed storage ceph?
Is there a configuration document for docking with ceph?

[2021-05-20 10:07] yaocw2020 commented on #887
Currently no.

[2021-05-20 10:27] showsmall commented on #887
Very much looking forward to supporting ceph.

[2021-05-20 10:27] showsmall opened #888 "[FEATURE] ceph support"
Very much looking forward to supporting ceph.

[2021-05-20 14:44] guangbochen commented on #887
close as duplicate of https://github.com/harvester/harvester/issues/888

[2021-05-20 14:44] #887 closed, assigned to nobody

[2021-05-20 22:31] guangyee opened #890 "[FEATURE] Complete documentation for the REST APIs."
**Is your feature request related to a problem? Please describe.**
We are developing end-to-end (functional) test suites for Harvester, using public REST APIs. Currently the APIs are sparingly documented here https://github.com/harvester/harvester/wiki/Harvester-API-Test. While that's a good start, but we would like it to be more detail and complete.

**Describe the solution you'd like**
Complete

[2021-05-20 22:52] noahgildersleeve opened #891 "[BUG] can't select sriov from network type when adding custom network to VM"
**Describe the bug**

When adding a custom VLAN network to a VM by editing the config you can't select anything but bridge form the dropdown
**To Reproduce**
Steps to reproduce the behavior:
1. Edit a VM config
2. Navigate to Networks
3. Add a network
4. Try to select a different type of bridge

**Expected behavior**

You should either be able to select sriov, or it shouldn't show as an option
**S

[2021-05-20 22:55] noahgildersleeve opened #892 "[BUG] Creating a VM from ISO fails"
**Describe the bug**

1. When you try to create a VM from ISO with the ISO template it fails
**To Reproduce**
Steps to reproduce the behavior:
1. Create a new VM
2. Select ISO template
3. Select an ISO from the dropdown
4. Click Create

**Expected behavior**

It should create and start properly
**Support bundle**

[harvester-supportbundle_046bfe97-0e0e-45e2-b9e2-6ed767e0aa1d_2021-05-20T22-40-24Z.z

[2021-05-20 23:08] guangyee opened #893 "[FEATURE] better way to handle admin password on the first login"
**Is your feature request related to a problem? Please describe.**
Accessing the UI for the first time, right after PXE booting up the ISO, I was prompted to set the `admin` user password. I presume this is the local admin user? Is there a way to avoid setting the admin password manually via the UI? We are trying to automate Harvester end-to-end testing and there should not be any manual steps in

[2021-05-20 23:38] noahgildersleeve commented on #893
Currently the call seems to be https://ipaddress:30443/v3/users?action=changepassword
The payload is `{"currentPassword":"admin","newPassword":"yourNewPassword"}`

[2021-05-20 23:56] guangyee commented on #893
Where's the "currentPassword" coming from for PXE boot installation?

[2021-05-20 23:59] noahgildersleeve commented on #893
It seems that `currentPassword` is just being set to `admin` as a default value on install. I got this by capturing the REST call from dev tools. I think you should be able to just use it for setting the password after the PXE install.

[2021-05-21 00:09] guangyee commented on #893
Doesn't seem to work.
`curl -d "{\"currentPassword\": \"admin\", \"newPassword\": \"password\"}" -k https://192.168.121.31:30443/v3/users?action=changepassword
{"type":"error","status":"401","message":"Unauthorized 401: must authenticate"}`

[2021-05-21 02:00] DreamTeamWangbowen commented on #882
1.
Security overview
This page is not secure (broken HTTPS).
Certificate - missing
This site is missing a valid, trusted certificate (net::ERR_CERT_AUTHORITY_INVALID).
View certificate
Connection - secure connection settings
The connection to this site is encrypted and authenticated using TLS 1.3, X25519, and CHACHA20_POLY1305.
Resources - all served securely
All resources on this page are served

[2021-05-21 02:03] futuretea commented on #893
1. after both harvester and rancher are ready
2. login by admin/admin
3. change password

[2021-05-21 03:03] gitlawr commented on #882
Can you check the error of those helm-operation pods, e.g.
[code]

[2021-05-21 03:46] DreamTeamWangbowen commented on #882
Waiting for Kubernetes API to be available
Waiting for Kubernetes API to be available
Waiting for Kubernetes API to be available
Waiting for Kubernetes API to be available
Waiting for Kubernetes API to be available
Waiting for Kubernetes API to be available
Waiting for Kubernetes API to be available
Waiting for Kubernetes API to be available
Waiting for Kubernetes API to be available
Waiting for K

[2021-05-21 04:13] gitlawr commented on #882
Can you provide k3s logs in `/var/log/k3s-service.log`
and
[code]

[2021-05-21 07:25] DreamTeamWangbowen commented on #882
When I restarted the server, it became unavailable...
Harvester management URL:
Unavailable
Current status:
Setting up Harverster

[2021-05-21 08:16] DreamTeamWangbowen commented on #882
There are so many logs in it that I can’t copy and paste...

[2021-05-21 15:27] yasker commented on #890
Ideally, we can publish the API reference as a website. In the future, we can see if we're able to get it automatically built and updated.

[2021-05-21 18:31] noahgildersleeve opened #894 "[BUG] Kubevirt patch version 0.40.0-hp-0 fails to create VM"
**Describe the bug**

When trying to create a image template VM with Kubevirt version 0.40.0-hp-0 it fails
**To Reproduce**
Steps to reproduce the behavior:
1. Setup Kubevirt patch version on Rancher
2. Create new VM in harvester with image template
3. Define default password and SSH key in cloud config
3. Click create
**Expected behavior**

It should create
**Support bundle**

[harvester-supportb

[2021-05-21 18:44] yasker commented on #894
@guangbochen can someone take a look at this?

[2021-05-21 18:53] noahgildersleeve commented on #854
Tested in master-c13c2a35-head. It clears the fields now when you click enter. @yasker . Is that the desired behavior, or do we want to disable the enter key closing that modal?

[2021-05-21 18:59] yasker commented on #854
I don't think it makes sense to clear the field when enter. @WuJun2016 can you explain the desired behavior?

[2021-05-21 20:37] noahgildersleeve commented on #815
Tested in `master-c13c2a35-head`. Verified as fixed. The name field now has name validation.

[2021-05-21 20:37] #815 closed, assigned to WuJun2016, noahgildersleeve

[2021-05-21 20:39] noahgildersleeve commented on #856
Tested in `master-c13c2a35-head`. Verified as fixed. Closing.

[2021-05-21 20:39] #856 closed, assigned to WuJun2016, noahgildersleeve

[2021-05-21 20:43] noahgildersleeve commented on #835
I took a look at this in `master-c13c2a35-head`. They are all now showing Management node. Although two are showing management node (promotion complete). I attached a screenshot.
![Greenshot 2021-05-21 13 42 49](https://user-images.githubusercontent.com/83787952/119196118-8ceace00-ba3a-11eb-8690-92e5f7023275.png)
![Greenshot 2021-05-21 13 42 44](https://user-images.githubusercontent.com/83787952/1

[2021-05-21 20:46] noahgildersleeve commented on #813
Currently testing this is blocked by https://github.com/harvester/harvester/issues/892 .

[2021-05-21 22:39] futuretea commented on #835
@ngildersleeveSUSE about the promote status, you can refer to the description in this issue:
https://github.com/harvester/harvester/issues/495

[2021-05-21 22:43] noahgildersleeve commented on #835
Validated in master-c13c2a35-head and closing as done.

[2021-05-21 22:43] #835 closed, assigned to WuJun2016, noahgildersleeve

[2021-05-21 22:56] noahgildersleeve commented on #802
You can't edit this at all now. There is no edit config or edit YAML button. Is that by design?

[2021-05-21 23:02] noahgildersleeve commented on #813
Moving back to implement due to blocking dependent issue.

[2021-05-22 22:12] flemingdp opened #896 "[BUG] Harvester 0.2.0 Not Able to Boot After Install"
**Describe the bug**
After installing harvester, I went to reboot, and the system would not recognize the operating system. It would fall back to other boot options.

**To Reproduce**
Steps to reproduce the behavior:
Follow the install instructions with an iso

**Expected behavior**
I expected the sytem to boot into harvester and display the management URL.

**Support bundle**
N/A

**Environment:*

[2021-05-23 20:34] gregsidelinger opened #1972 "Harvester node driver support ARM64"
Rancher currently has experimental support for ARM64 however this driver currently only has AMD64 release.

[2021-05-24 05:53] guangbochen commented on #894
@ngildersleeveSUSE which image and template are u using for the validation, can u please check if it works without replacing the kubevrit img first.

The image and hot-plugin feature works on my custom v0.2.0 environment, the validation steps are:
1. replace kubevirt with patched `0.40.0-hp-0` image
1. enable the hotVolumePlugin feature of kubevirt, refer to https://github.com/harvester/harvester/

[2021-05-24 06:59] joy717 opened #897 "[BUG] BackupTarget always checked failed when it's a S3 type with self signed certs"
**Describe the bug**

Using a s3(minio) as backup target with self signed certs,
the configured backup-target always "bad request"

because here will check endpoint for s3, but without cert configuration, so will always failed.
https://github.com/harvester/harvester/blob/master/pkg/controller/master/backup/backupTaget.go#L276

**To Reproduce**
Steps to reproduce the behavior:
1. Go to dashboard of

[2021-05-24 07:29] gitlawr commented on #869
The error message looks similar to https://github.com/rancher/k3os/issues/488 which happens to be a K3OS issue from you. Are they possibly related?

Inferring from the code, this is probably in https://github.com/harvester/harvester-installer/blob/deb8bd1eec15dfcd22163e59063b5d33b33d8ec9/k3os/install.sh#L254-L264 where it failed to get the ISO_DEVICE then failed the follow-up mounts.

[2021-05-24 07:31] guangbochen commented on #802
The `Config` tab would allow the user to either view what are the configurable parameters or having a preview of the UI changes with the configured parameters, however, this will not be saved to the backend unless the user clicks edit to and save it manually.

This is the same design that we have inherited from the rancher dashboard, will just make it consistent for now.

[2021-05-24 07:48] guangbochen commented on #879
Longhorn can support volume resize but only when the volume is detached, therefore we should allow the user to do a volume expansion when the VM is off.

Additionally will need to address the validation issue from the kubevirt CDI:
[code]

[2021-05-24 10:35] gitlawr commented on #896
Can you check if you can boot from the EFI file by changing the boot options of your server?

An example:
![image](https://user-images.githubusercontent.com/5697937/119335070-70f75e80-bcbe-11eb-8d19-2f46f1dee1f0.png)
Then find \EFI\BOOT\BOOTx64.EFI from the target disk.
![image](https://user-images.githubusercontent.com/5697937/119335085-75bc1280-bcbe-11eb-8439-eb1c7682f098.png)

It could be a gen

[2021-05-24 14:53] yasker commented on #894
Live migration is still a working in progress. This new image starts to use one pod for all hot-plugged volumes instead of one pod per volume, which is a step forward in the right direction.

[2021-05-24 15:26] noahgildersleeve commented on #894
I wanted to verify. This should be getting tested on harvester 0.2.0, correct?

[2021-05-24 18:49] brunnels opened #899 "[BUG] harvester pod error with helm install"
I get the following error from the harvester pods after installing in existing k3os cluster v1.20.6+k3s1 with longhorn already installed:

```level=fatal msg="failed to create harvester server: Failed to create virtualMachineTemplate harvester-system/iso-image-base-template: VirtualMachineTemplate.harvesterhci.io \"iso-image-base-template\" is invalid: spec.defaultVersionId: Invalid value: \"null\

[2021-05-24 18:53] noahgildersleeve opened #900 "[BUG] Warning about CustomResourceDefinition being deprecated in logs"
**Describe the bug**

The logs are showing repeated warnings about CustomResourceDefinition being deprecated
**To Reproduce**
Steps to reproduce the behavior:
1. Run a harvester cluster for a while
2. Check the logs

**Expected behavior**

We should change to something that is not being deprecated, or suppress the warnings in the logs
**Support bundle**

[harvester-supportbundle_e7e376da-3ef6-4216

[2021-05-24 20:32] noahgildersleeve commented on #802
You can't edit this at all now. This might be related to something else. I'm looking into it.
![image](https://user-images.githubusercontent.com/83787952/119404168-4abcc900-bc94-11eb-97aa-1d0219d8e4df.png)

[2021-05-24 20:37] noahgildersleeve opened #901 "[BUG] Can't edit settings through UI"
**Describe the bug**

There is no option to edit settings and clicking on the fields doesn't work.
**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to settings page
2. Try to change rancher enabled from `false` to `true`
**Expected behavior**

You should be able to edit the settings
**Support bundle**

[harvester-supportbundle_e7e376da-3ef6-4216-b9ca-cc85c312de13_2021-05-24T20-31-30Z.

[2021-05-24 20:37] noahgildersleeve commented on #802
Blocked by https://github.com/harvester/harvester/issues/901

[2021-05-24 20:44] noahgildersleeve commented on #801
Tested in master-c13c2a35-head. Fixed.
![image](https://user-images.githubusercontent.com/83787952/119405427-177b3980-bc96-11eb-9f83-ef74f676b026.png)

[2021-05-24 20:44] noahgildersleeve commented on #801
Closing

[2021-05-24 20:44] #801 closed, assigned to DaiYuzeng, noahgildersleeve

[2021-05-24 23:54] guangbochen commented on #894
Yes

[2021-05-25 00:35] yasker commented on #812
In fact, since we're changing to the new OS, we need wait for the OS switching before fixing this.

[2021-05-25 01:20] gitlawr commented on #900
Duplicate of https://github.com/harvester/harvester/issues/648

[2021-05-25 02:12] #900 closed, assigned to nobody

[2021-05-25 04:05] gitlawr commented on #899
What's the Harvester/Chart version?
Will harvester pods recover or they always crash?

[2021-05-25 07:30] WuJun2016 commented on #901
@guangbochen  @ngildersleeveSUSE
We have restricted the edit setting function
1. Click on the avatar in the upper right corner to go to Preferences
2. Enable Developer Tool & Features

[2021-05-25 07:50] guangbochen commented on #901
Yep, but I think it doesn't make sense to enable the editing of settings through the `developer tool & features` option, can we just enable it by default, thanks.

[2021-05-25 08:00] gitlawr commented on #890
Available at https://docs.harvesterhci.io/v0.2/reference/api/

[2021-05-25 09:30] brunnels commented on #899
Using current master branch commit dfeedb83daf8b3cebe6a5c66696b55918b0ec2ca

I set replicas for harvester to 0 before I created the issue and just set back to 3.  Same errors in the logs and they're all in CrashLoopBackOff again now.

[2021-05-25 09:34] guangbochen commented on #791
@WuJun2016 if the VM is off, I think we are expecting the default option of `Restart now` to be unchecked.
![image](https://user-images.githubusercontent.com/4569037/119474980-46210f00-bd7f-11eb-9fe9-f2650e51b574.png)

[2021-05-25 10:23] gitlawr commented on #899
hmm, I'm not able to reproduce by:
1. install k3os v0.20.6-k3s1r0
2. install longhorn
3. install harvester

Did it happen before you scale harvester to 0?
Do you have other workloads in your Kubernetes cluster?
Can you show the output of
[code]

[2021-05-25 10:36] guangbochen commented on #851
the CI is updated and the master build can always be getted from https://harvester-node-driver.s3.amazonaws.com/ui/master/component.js

[2021-05-25 10:38] guangbochen commented on #809
You should be able to verify this by replacing the Harvester node driver on the [Rancher UI](https://docs.harvesterhci.io/v0.2/rancher/node-driver/#how-to-add-harvester-node-driver-in-dev-mode),
the master version of Harvester node driver and UI assets are available as below:
- https://harvester-node-driver.s3.amazonaws.com/ui/master/component.js
- https://harvester-node-driver.s3.amazonaws.com/dr

[2021-05-25 10:41] guangbochen commented on #690
depends on https://github.com/harvester/harvester/issues/581, let's review this when we have the new OS ready.

[2021-05-25 10:49] brunnels commented on #899
I have lots of other workloads.  I got the error right after installing.

The only thing weird I did was install once, realize it was starting pods on my masters, did helm uninstall, removed the master tolerations from the harvester-network-controller and multus chart values, did helm install again.

I don't have that crd for some reason.

[2021-05-25 11:24] futuretea commented on #851
@guangbochen https://github.com/harvester/docker-machine-driver-harvester/pull/17 this PR also need to be merged.

[2021-05-25 12:25] brunnels commented on #899
I'm spinning up another cluster to try fresh

[2021-05-25 21:57] noahgildersleeve opened #902 "[BUG] You can delete raw image that is in use by VM"
**Describe the bug**

You can delete a raw image that is in use
**To Reproduce**
Steps to reproduce the behavior:
1. Add a raw image
2. Create a VM using that image
3. Delete that image
**Expected behavior**

You shouldn't be able to delete a raw image that is in use.
**Support bundle**

[harvester-supportbundle_6ed888bc-24da-430c-b562-c44ba23d5b21_2021-05-25T21-50-57Z.zip](https://github.com/harv

[2021-05-25 23:01] noahgildersleeve opened #903 "[BUG] Can't boot from volume created from raw image"
**Describe the bug**

If you create a volume from a raw image, then create a VM with that volume, it won't boot
**To Reproduce**
Steps to reproduce the behavior:
1. Create a volume from a raw image
2. Create a VM
3. Add the existing volume to the VM
4. Make the base disk a CDROM
**Expected behavior**

It should boot
**Support bundle**

[harvester-supportbundle_6ed888bc-24da-430c-b562-c44ba23d5b21_

[2021-05-26 04:56] futuretea commented on #903
Can you provide more details about `Create a volume from a raw image`?
My current steps are:
1. create a vm use raw template
2. wait this vm Running
3. delete this vm, but  keep rootdisk volume

So I've got  a volume from a raw image.

[2021-05-26 05:49] guangbochen commented on #903
if is the raw image the disk type should be `disk` instead of `CD-ROM`, CD-ROM is just for ISO images.

[2021-05-26 05:53] guangbochen commented on #902
do u mean if the image is currently in use by a VM, the user should not be allowed to delete this image?

[2021-05-26 06:14] #733 closed, assigned to nobody

[2021-05-26 07:23] guangbochen commented on #851
You should be able to verify this by replacing the Harvester node driver on the [Rancher UI](https://docs.harvesterhci.io/v0.2/rancher/node-driver/#how-to-add-harvester-node-driver-in-dev-mode),
the Harvester node driver and UI assets are available as below:
- https://harvester-node-driver.s3.amazonaws.com/ui/master/component.js
- https://harvester-node-driver.s3.amazonaws.com/driver/master/docker

[2021-05-26 16:27] noahgildersleeve commented on #902
That was my understanding, but I wasn't sure about the desired functionality/how that was being implemented on the backend.

[2021-05-26 16:28] noahgildersleeve commented on #903
The steps were

1. Create a separate disk volume from the raw image
2. Create a VM
3. Because you can't specify existing volume for the root volume I set the main volume as a CDROM with no ISO
4. I attached the existing volume
5. I marked it as boot order one
6. Created the VM

[2021-05-26 17:28] wjimenez5271 commented on #888
@showsmall Could you elaborate on your interest in CEPH support? Are there specific features you need that aren't in the existing storage layer of Harvester?

[2021-05-26 19:29] noahgildersleeve opened #905 "[FEATURE] Add ability to remove/reassign the first volume on a VM"
**Is your feature request related to a problem? Please describe.**

Add ability to reassign the first volume of a VM to an existing volume during VM creation.
**Describe the solution you'd like**

You should be able to change the first volume of a new VM during creation besides changing the template
**Describe alternatives you've considered**

You could also add the ability to remove the first ent

[2021-05-26 20:07] yasker commented on #845
It happened again...

[2021-05-26 20:33] brunnels commented on #899
- New k3s cluster, 1 master, 1 worker.
- kube-vip daemonset for the k8s api (because I normally do HA) and to be service load balancer
- longhorn installed via chart and configured as default storageclass
- traefik 2 installed via chart with dynamic pvc config to ensure longhorn is working
- IngressRoutes added for traefik and longhorn dashboards and I can access both.

harvester installed with va

[2021-05-27 02:16] yasker commented on #491
@ibrokethecloud is working on a POC based on Tinkerbell.

Just a thought about the basic UX:
1. Install the first node using ISO.
    1. Unattended installation via ISO is needed to make this first step automated.
2. Once Harvester is installed and booted up, the user can now open UI, enable the component `Automated Mass Deployment`(temporary name) feature, which will deploy Tinkerbell via Helm ch

[2021-05-27 07:05] belgaied2 commented on #861
It might be a good idea to re-use [my docker-machine driver](https://github.com/belgaied2/docker-machine-driver-harvester) that I created for Harvester v0.1.0 based on the client-go for Kubernetes!

[2021-05-27 07:08] guangbochen commented on #905
By design, the first volume will always be the VM image volume, in order to support users to customize the first volume, we should:
- allow the user to either add or delete the first volumes from the UI, but at least one image volume or existing volume is required when creating a new VM.
- users can only add the first volume with the type of existing image volume or a VM image
- users can't change

[2021-05-27 07:18] guangbochen commented on #903
the process looks good to me, but which raw image are u using for testing, cloud images do not have VNC console support, so u might need to check the serial console.

[2021-05-27 07:42] guangbochen commented on #880
Yes, you can test it using the [dev-mode installation](https://docs.harvesterhci.io/v0.2/dev/dev-mode/#option-1-install-using-helm), however, because this is a development mode so you may encounter different issues and need to fix them accordingly.

for example some [pre-requisites](https://docs.harvesterhci.io/v0.2/dev/dev-mode/#requirements) of the installation.

[2021-05-27 07:52] guangbochen commented on #868
the default value is 3 and it has not been hard-coded on the Harvester side, so u should be able to change it accordingly from the Longhorn UI or using `kubectl`.

[2021-05-27 07:55] larssb commented on #868
Great stuff then I guess we can close this - right @chifu1234

[2021-05-27 07:56] guangbochen commented on #837
move those kinds of questions to the Harvester FAQ docs.

[2021-05-27 08:02] michaelandrepearce commented on #880
Will that become a maintained way of running it properly though? E.g. supported setup once support is available

[2021-05-27 08:04] michaelandrepearce commented on #880
As in we are already heavily invested in rancher and longhorn with support and running on baremetal for perf reasons, but simply want to run some legacy vms we cannot migrate to containers on our baremetal rancher/longhorn setup

[2021-05-27 08:07] futuretea commented on #792
@rrrai we are adding a [terraform-provider-harvester](https://github.com/harvester/terraform-provider-harvester), with the ablility of terraform, user can provision multi-instance with different configuration.

The user experience looks something like this https://github.com/futuretea/terraform-provider-harvester/blob/init/examples/k3os-cluster/k3os.tf

[2021-05-27 23:49] noahgildersleeve opened #906 "[BUG] Migrate button should say migrate not create"
**Describe the bug**

The button to complete a live migration says create, not migrate
**To Reproduce**
Steps to reproduce the behavior:
1. Take a turned on VM
2. Select migrate from the triple dot menu
3. Check label on button
**Expected behavior**

The button should say migrate
**Support bundle**

**Environment:**
 - Harvester ISO version: master-c13c2a35-head
 - Underlying Infrastructure (e.g.

[2021-05-28 02:17] bk201 opened #907 "[FEATURE] Retry on fetching Harvester configuration in PXE boot installation"
**Is your feature request related to a problem? Please describe.**
The network stack (DHCP process) might be not ready when the installer is run, which causes configuration fetching failure.

**Describe the solution you'd like**
In https://github.com/harvester/harvester/issues/720, we add a workaround in the document to wait for the network stack to ready. We can add a limited-number retry in the

[2021-05-28 02:39] futuretea commented on #883
test plan:
1. Prepare a k8s cluster and a external Rancher server
2. Import this k8s cluster to Rancher server
3. Save `extranal Rancher's kubeconfig` to a local file ( filename must be kubernetes.kubeconfig)
4. Create secret in the k8s cluster:
[code]
5. Use `--set containers.apiserver.authMode="rancher" ` and  `--set rancherURL="rancher server URL"`  during helm install
eg:
[code]
6. Try to log

[2021-05-28 07:25] gitlawr commented on #892
The migratable param is missing in the longhorn storage class. Possibly related to https://github.com/harvester/harvester/issues/857

This can be fixed by running the following and add `migratable: "true"` to the params.
[code]

[2021-05-28 07:30] yaocw2020 opened #908 "[BUG] Guest agent install configuration is covered"
**Describe the bug**

The guest agent install configuration will be covered if users check the box for installing the guest agent before choosing a cloud-init template.
![image](https://user-images.githubusercontent.com/7421463/119946425-31d05280-bfc9-11eb-8018-c96868e76844.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the create Virtual Machine page.
2. Go to the advanced optio

[2021-05-28 08:36] gitlawr opened #909 "Port configuration of the VM management network is confusing"
We can set ports of the management network in the UI.
![image](https://user-images.githubusercontent.com/5697937/119954641-c76fe000-bfd1-11eb-8cb4-1abcaae216a3.png)

1. The usage is not clarified in the documentation and is not clear from the UI.
2. It applies to the management network but not the VLAN networks.

**Describe the solution you'd like**
Revisit to see if we should remove it.

**Additi

[2021-05-28 09:02] gitlawr commented on #902
If the deletion does not affect existing VMs I think it's not necessary to prevent the operation

[2021-05-28 20:03] noahgildersleeve opened #910 "[BUG] Migration fails when migrating to a host without a longhorn replica set"
**Describe the bug**

When you migrate a VM to a host that doesn't have a copy of the volume it fails
**To Reproduce**
Steps to reproduce the behavior:
1. Create a new VM on a 4 node cluster
2. Check which nodes have copies of the replica set
3. Migrate the VM to the host that does not have the volume

**Expected behavior**

You should either be able to migrate the VM, or it shouldn't be an option

[2021-05-28 20:56] noahgildersleeve opened #911 "[BUG] ampersand isn't showing in preferences"
**Describe the bug**

There's a typo in the ampersand in the preferences
**To Reproduce**
Steps to reproduce the behavior:
1. Log into harvester
2. Navigate to preferences
3. Check advanced

**Expected behavior**

There should be an ampersand, not `&amp`
**Support bundle**

**Environment:**
 - Harvester ISO version: master-4997d634-head
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerE

[2021-05-28 23:23] noahgildersleeve opened #912 "[BUG] Can't restore from backup"
**Describe the bug**

You can't restore from backup with replace as an option
**To Reproduce**
Steps to reproduce the behavior:
1. Create a backup target with S3
2. Create a new VM from live image
3. Make some modifications to the filesystem, like create a file
4. Make a backup of the VM
5. Wait for the backup to complete
6. Turn off the VM
7. Restore the backup with replace as the option

**Expec

[2021-05-31 02:24] showsmall commented on #888
I hope to support distributed storage, so that the virtual machine is safe and reliable, and in this way can support online migration.

[2021-05-31 02:56] gitlawr opened #913 "[BUG] When a host is down, VMs on it stay in running status"
**Describe the bug**
When a host is down, VMs on it stay in running status. The VMs are not available indeed.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy VMs in a multi-node Harvester.
2. Power off one of the node.
3. Check status of the VMs running on that node.

**Result**
VMs stay in running status but are not available.

**Expected behavior**
VMs should report unhealthy status

[2021-05-31 13:16] brunnels commented on #899
I started over again and installed harvester on my 2 node cluster before adding anything else and it worked if I enabled longhorn in the harvester chart config.

[2021-05-31 13:18] brunnels opened #914 "[Question] Is there a node label or taint to so harvester ignores"
I don't want harvester doing anything with my master nodes.  Is there a label or taint I can add to them so they won't show up in the harvester UI?

[2021-06-01 06:46] guangbochen opened #916 "[FEATURE] Bump harvester go dependecy to 1.16"
**Is your feature request related to a problem? Please describe.**
Bump Harvester go dependency to 1.16 to make it consistent with Rancher 2.6

**Describe the solution you'd like**
Bump Harvester go dependency to 1.16

[2021-06-01 06:50] guangbochen opened #917 "[FEATURE] alllow user to cordon the harvester node"
**Is your feature request related to a problem? Please describe.**
Allow the user to cordon the harvester node so they can be some maintenance or debugging work without force evicting the running VMs to the other node

**Describe the solution you'd like**
Add cordon/uncordon actions to the VM api

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2021-06-01 09:17] guangbochen commented on #573
Node eviction with graceful VM migration is already supported, u can test via set `Hosts > Enable Maintainance Mode`, but the following conditions are required:
- the VM's volume must be healthy(depends on the Longhorn volume status)
- Must have at least 4 nodes to support live migration

[2021-06-01 13:40] guangbochen commented on #570
this will depends on https://github.com/longhorn/longhorn/issues/2404

[2021-06-01 13:44] belgaied2 commented on #581
Is it already decided which OS to switch to ? Maybe SLE Micro ?

[2021-06-01 22:54] noahgildersleeve commented on #463
This is still an issue on `master-3b6b8a6d-head` . I tried to manually remove the node from rancher and it still failed. I attached the supportBundle for it. For me the issue was when the node was in unavailable status due to being turned off. However when I deleted another host it went through fine. I was told that it might be related to this issue. https://github.com/k3s-io/k3s/issues/2669

[har

[2021-06-02 01:57] guangbochen commented on #912
according to the log the restoring is still in progress and the time will be dependens on the volume size and network performance, can u test using a smaller volume size images first, and if u like to validate larger images which is over 10G, then u maybe check on the lognhorn UI as it will inlcues the progress status of volume restoring(this is something we would like to add in the harvester side

[2021-06-02 16:56] noahgildersleeve commented on #912
I retested this on the same machines, but I had wiped and re-installed since then. That cluster was exhibiting strange behavior around how it was upgraded. I tested with a 10GB Backup, and a 5GB backup. They both worked on `master-c13c2a35-head`. I'm closing this for now, but will keep an eye on it during testing, and will re-open it if needed.

[2021-06-02 16:56] #912 closed, assigned to noahgildersleeve

[2021-06-02 17:46] guangyee commented on #907
We captured two screenshots from the iLO console. Harvester installer seem to attempt to fetch files before the NICs are ready. Strangely, in some cases the NICs are showing ready by only just gotten v6 IPs.

![harvester_ipxe_ilo_screen_1](https://user-images.githubusercontent.com/1808417/120527905-bc310180-c38f-11eb-9656-95ce3856c4f7.png)
![harvester_ipxe_ilo_screen_2](https://user-images.githubu

[2021-06-02 21:07] noahgildersleeve commented on #573
Tested in `master-c13c2a35-head`.

1. On 4 node cluster
2. Created multiple VMs from raw image template
2. Moved VMs to single host
3. Put Host into maintenance mode
4. Waited for VMs to migrate
5. Checked that host was fully in maintenance mode
6. Did health check on VMs

[2021-06-02 21:07] #573 closed, assigned to guangbochen, noahgildersleeve

[2021-06-02 21:17] noahgildersleeve commented on #870
Tested on github page in Chrome on MacOS. Link correctly redirected to https://docs.harvesterhci.io/v0.2/install/pxe-boot-install/

[2021-06-02 21:17] #870 closed, assigned to noahgildersleeve

[2021-06-02 22:08] noahgildersleeve commented on #871
Tested in build `master-3b6b8a6d-head`.

1. Created new VM from ISO template with ISO https://releases.ubuntu.com/20.04.2/ubuntu-20.04.2-live-server-amd64.iso
2. Installed Ubuntu server
3. Ejected CDROM after install
4. Waited for machine to reboot and log in
5. Checked health of VM
6. Deleted volume for CDROM (virtio-container-disk)
7. Waited for machine to reboot
8. Logged into VM
9. Verified th

[2021-06-02 22:08] #871 closed, assigned to futuretea, noahgildersleeve

[2021-06-02 23:54] noahgildersleeve commented on #892
This might have been resolved with the fixes from https://github.com/harvester/harvester/issues/857 .

[2021-06-03 00:08] noahgildersleeve commented on #903
I created it with this image http://cloud-images.ubuntu.com/releases/focal/release/ubuntu-20.04-server-cloudimg-amd64-disk-kvm.img . The serial connection was completely empty. It looked like it failed to boot. The output of the VNC connection was that there was no bootable device.

[2021-06-03 00:14] noahgildersleeve commented on #903
Exact steps for reproduction on build `master-3b6b8a6d-head`

1. Add http://cloud-images.ubuntu.com/releases/focal/release/ubuntu-20.04-server-cloudimg-amd64-disk-kvm.img to images
2. Create a volume from the volume page
2. Select from VM image
3. Select image
4. Select 10GB as size
5. Create VM
6. Don't use template
7. Select 1 CPU, 2GB RAM
8. Go to volumes
9. Change rootdisk to cdrom and boot or

[2021-06-03 00:48] futuretea commented on #903
![image](https://user-images.githubusercontent.com/15064560/120569369-5b193480-c448-11eb-890c-a582fefdbac6.png)
![image](https://user-images.githubusercontent.com/15064560/120569122-d7f7de80-c447-11eb-8412-8e78c6bf41c0.png)
check  the volume created from vm image, the storageClassName is missing.
cc @WuJun2016

[2021-06-03 02:20] guangbochen opened #920 "[FEATURE] Add FAQ page to the Harvester doc"
**Is your feature request related to a problem? Please describe.**

Add FAQ page to the Harvester doc to includes common users questions

**Describe the solution you'd like**

Add new faq page to https://docs.harvesterhci.io/

**Describe alternatives you've considered**

**Additional context**

[2021-06-03 02:23] guangbochen opened #921 "[FEATURE] Remove Harvester users"
**Is your feature request related to a problem? Please describe.**
Remove the Harvester user system since we will merge it to use the Rancher users instead.

**Describe the solution you'd like**
Remove the user implementation on the Harvester side, if the Rancher is not set then the Harvester will disable the authentication by default.

**Describe alternatives you've considered**
N/A

**Additional

[2021-06-03 02:26] guangbochen opened #922 "[FEATURE] Add Harvester API extension to the Rancher API"
**Is your feature request related to a problem? Please describe.**
Add Harvester API extension to the Rancher API, so that Rancher can do reverse proxy of the Harvester API

**Describe the solution you'd like**
Uses Rancher APIExtension mechanism to provide rancher and Harvester API integration

**Describe alternatives you've considered**
N/A

**Additional context**

[2021-06-03 02:27] guangbochen opened #923 "[FEATURE] Harvester UI refactoring to merge with Rancher dashboard"
**Is your feature request related to a problem? Please describe.**
Harvester UI refactoring to merge with Rancher dashboard

**Describe the solution you'd like**
Harvester UI refactoring to merge with Rancher dashboard

[2021-06-03 02:47] guangbochen commented on #914
currently not supported, can u explain a little bit why this feature needs?

[2021-06-03 05:15] khushboo-rancher opened #925 "[BUG] Harvester should have the individual Storage class with the required parameters rather than depending on the Longhorn SC"
**Describe the bug**
Instead of having ConfigMap for longhorn StorageClass, it's better to have own storage class with `provisioner: driver.longhorn.io` and other required parameters.

**Environment:**
 - Harvester ISO version: v0.2.0

**Additional context**
https://github.com/harvester/harvester/issues/857

[2021-06-03 08:56] WuJun2016 commented on #854
@yasker  @noahgildersleeve  This is not the behavior I want, it's a bug I didn't notice,

[2021-06-03 13:37] guangbochen commented on #916
close in favor of https://github.com/harvester/harvester/pull/918

[2021-06-03 13:37] #916 closed, assigned to guangbochen

[2021-06-03 14:29] janeczku commented on #907
Reproduced on v0.2.0 (PXE install). Can be worked around by re-starting the installer manually from another terminal session

![thumbnail_image003](https://user-images.githubusercontent.com/3813921/120661433-8d4a8680-c488-11eb-95a9-c1fab2291f18.png)

[2021-06-03 17:58] noahgildersleeve commented on #894
Tested in `0.2.0`

1. Install with ISO from Github Releases
2. Set versions for images to following
[code]
3. Wait for upgrade to complete
4. Create VM from raw image template with http://cloud-images.ubuntu.com/releases/focal/release/ubuntu-20.04-server-cloudimg-amd64-disk-kvm.img as image and set password via cloudconfig
5. Create VM
6. When running run health check on VM
Verified as fixed.