[2020-12-15 08:47] guangbochen opened #348 "[BUG] app mode installation by default is not successful"
**Describe the bug**

app mode installation by default is not successful with either using helm or from the catalog apps

**To Reproduce**
Steps to reproduce the behavior:
1. refer to the https://github.com/rancher/harvester/tree/master/deploy/charts/harvester to install the Harvester app
1. install the Harvester as Rancher Catalog Apps

**Expected behavior**

1. the app is installed successfully

[2020-12-15 09:05] DoNotSayYes commented on #286
Validated
![image](https://user-images.githubusercontent.com/57614736/102193984-b5085b00-3ef7-11eb-8c95-80d7b531d753.png)

[2020-12-15 09:05] #286 closed, assigned to DoNotSayYes

[2020-12-15 09:10] futuretea commented on #276
I followed the steps below and successfully installed it, but I am not sure which ones are necessary, so I need to test more：
1. add `options kvm ignore_msrs=1` to /etc/modprobe.d/kvm.conf (requied)
2. reboot  (requied)
3. modify rootdisk size to 50G (option, but 32G is too small, will cause the virtual machine to run slowly)
4. use latest virtio-win driver https://fedorapeople.org/groups/virt/vir

[2020-12-15 09:34] DoNotSayYes commented on #339
Validated

[2020-12-15 09:34] #339 closed, assigned to WuJun2016, DoNotSayYes

[2020-12-15 10:13] futuretea commented on #276
![win2019](https://user-images.githubusercontent.com/15064560/102201576-47612c80-3f01-11eb-9d58-2b151f6a251b.gif)

[2020-12-15 13:05] gitlawr opened #350 "[BUG] Failed to log in if extra cloud init file is configured on install"
**Describe the bug**
v0.1.0-rc2

**To Reproduce**
Steps to reproduce the behavior:
1. Serve the following file in HTTP server:
[code]
2. install harvester by ISO, input URL for the above file in cloud init URL
3. complete installation and do log in with the password set.

**result**
Fail to log in

[2020-12-16 02:13] gitlawr opened #353 "[BUG] Harvester management URL shows Unavailable in the console"
**Describe the bug**
After installation the console shows:
![image](https://user-images.githubusercontent.com/5697937/102295936-538fcd00-3f87-11eb-8de4-858bb31767a0.png)

**Log**
Logs in `/var/log/console.go`:
![image](https://user-images.githubusercontent.com/5697937/102295884-3eb33980-3f87-11eb-98e0-c04032abeabb.png)

**Environment:**
 - Harvester ISO version: v0.1.0-rc2

[2020-12-16 03:06] guangbochen commented on #271
close in favor of https://github.com/rancher/harvester/pull/275

[2020-12-16 03:06] #271 closed, assigned to gitlawr

[2020-12-16 03:10] guangbochen commented on #336
case 2 is ready for testing

[2020-12-16 03:21] guangbochen commented on #278
close in favor of https://github.com/rancher/harvester/tree/master/docs

[2020-12-16 03:21] #278 closed, assigned to guangbochen

[2020-12-16 06:34] gitlawr commented on #268
In version v0.1.0-rc2
The browser will prompt  cert invalid warning twice. After users ignore the warnings, websocket works as expected.
After the CA cert is trusted, the certificate is valid.

[2020-12-16 06:34] gitlawr commented on #268
We still need an improvement so that users don't need to skip cert validation twice

[2020-12-16 06:40] gitlawr opened #356 "[BUG] some resources are not cleaned up after helm delete completes"
**To Reproduce**
Steps to reproduce the behavior:
1. Install harvester app in Rancher catalog. Wait until it becomes active.
2. Remove the harvester app.
3. After the app is removed, check resources

[code]

**Environment:**
 - Harvester ISO version: master 12/16
 - deploy by chart

[2020-12-16 06:56] gitlawr commented on #337
Validated in master 12/16
Env:
1. single AWS ubuntu node cluster
2. 3 nodes cluster

I can deploy harvester via `helm install`.
I can deploy harvester via rancher catalogs.

[2020-12-16 06:57] #337 closed, assigned to gitlawr

[2020-12-16 07:30] gitlawr commented on #247
Validated in master 12/16
Set up a cluster with 1 etcd/control plane node, 1 worker node.
Install harvester as a catalog app.
Minio pods are not redeployed.

[2020-12-16 07:30] #247 closed, assigned to gitlawr

[2020-12-16 07:35] gitlawr commented on #212
Validated in master 12/16
1. Deploy harvester by chart
2. Delete one of the minion pod

Result:
When the pod is terminating, I can import VM images successfully.
The mini pod will recover to a running state.

[2020-12-16 07:35] #212 closed, assigned to gitlawr

[2020-12-16 07:37] gitlawr commented on #292
Validated in maste 12/16
Both components are available in the chart.

[2020-12-16 07:37] #292 closed, assigned to gitlawr

[2020-12-16 07:44] gitlawr commented on #205
Validated In version master 12/16
Following the reproduce steps mentioned in https://github.com/rancher/harvester/issues/205#issuecomment-725794457 and  https://github.com/rancher/harvester/pull/340#issue-539271987 , I don't see the error logs or harvester pod crashing.

[2020-12-16 07:44] #205 closed, assigned to gitlawr

[2020-12-16 07:51] #308 closed, assigned to futuretea

[2020-12-16 07:55] futuretea commented on #284
Validated

[2020-12-16 07:55] #284 closed, assigned to futuretea

[2020-12-16 07:57] futuretea commented on #348
Same as #337
Validated

[2020-12-16 07:57] #348 closed, assigned to futuretea

[2020-12-16 08:35] futuretea commented on #350
Validated

[2020-12-16 08:35] #350 closed, assigned to futuretea

[2020-12-16 08:38] futuretea commented on #333
Validated

[2020-12-16 08:38] #333 closed, assigned to futuretea

[2020-12-16 10:00] futuretea commented on #202
harvester ISO is available.

[2020-12-16 10:00] #202 closed, assigned to futuretea

[2020-12-16 10:43] futuretea commented on #260
Validated

[2020-12-16 10:43] #260 closed, assigned to futuretea

[2020-12-16 13:00] guangbochen commented on #331
close in favor of https://github.com/rancher/harvester-installer/pull/22/files

[2020-12-16 13:00] #331 closed, assigned to guangbochen

[2020-12-16 13:02] guangbochen commented on #203
close in favor of ISO mode installation https://github.com/rancher/harvester/blob/master/docs/iso-installation.md

[2020-12-16 13:02] #203 closed, assigned to guangbochen

[2020-12-16 13:11] futuretea commented on #261
Validated

[2020-12-16 13:11] #261 closed, assigned to futuretea

[2020-12-16 13:16] guangbochen opened #361 "[FEATURE] add Harvester logo"
**Describe the solution you'd like**

Add a Harvester logo

[2020-12-16 13:36] yaocw2020 opened #362 "[FEATURE] add physical nic dropdown box"
**Describe the solution you'd like**

- Add physical NIC dropdown box when selecting physical NIC for bridge network
- Add hint for the physical NIC which used by management network
- Add suggestion that prefer to use physical NIC that has not been use by management network

![image](https://user-images.githubusercontent.com/7421463/102355351-b2d0fa00-3fe6-11eb-86e6-170f99a823d6.png)

[2020-12-16 13:52] guangbochen commented on #336
Validation steps for case 2: [passed]
1. adding an image with URL `http://a.img` and the following error is expected.
[code]
2. delete this image and it succeeded

[2020-12-16 14:36] guangbochen commented on #315
validation steps:
1.  get the  image with tagged version `rancher/harvester-network-controller:v0.1.1`
[code]
2. UI is using a tagged version `v0.1.0-rc3`
3.
![image](https://user-images.githubusercontent.com/4569037/102360769-650bc000-3fed-11eb-8471-77e8069d3416.png)

[2020-12-16 14:36] #315 closed, assigned to guangbochen

[2020-12-16 14:42] guangbochen commented on #183
validation steps:
1. choose to form a new cluster and set the token
1. waiting for the cluster to be ready and get the management IP address
1. boot a new node using the ISO image and choose to join the existing cluster with the pre-configured token
1. check the Harvester UI and the total number of hosts should be 2
![image](https://user-images.githubusercontent.com/4569037/102362915-e1070780-3fef

[2020-12-16 14:42] #183 closed, assigned to guangbochen

[2020-12-16 17:29] guangbochen commented on #253
validation steps:
1. creating the VM using a ubuntu image
2. get pvc and found 2 volumes has been created for the vm
[code]
3. check pod logs and found the image import and download are complete in a couple of seconds as expected.
[code]

[2020-12-16 17:29] #253 closed, assigned to guangbochen

[2020-12-17 06:18] DaiYuzeng commented on #304
It seems like a bug caused by axios, we will add the timeout to global config of it.

[2020-12-17 07:13] yaocw2020 opened #367 "[FEATURE] Support static IP address"
**Describe the solution you'd like**

- The harvester bridge now only supports dynamic IP address requested from DHCP server. The static IP address also needs to be supported.
- Support to configure static IP address for management network NIC. It should be able to specify in the installation process.

[2020-12-17 07:23] DaiYuzeng commented on #304
@WuJun2016 @DoNotSayYes
The timeout has been added to global config of axios.
If the request takes longer than 20s, the request will be aborted.

![截屏2020-12-17 下午3 17 15](https://user-images.githubusercontent.com/15041915/102455952-6e436e00-407b-11eb-8145-0b8bd3fda990.png)

[2020-12-17 08:23] guangbochen commented on #5
close in favor of https://github.com/rancher/harvester-ui

[2020-12-17 08:23] #5 closed, assigned to nobody

[2020-12-17 08:31] guangbochen opened #368 "[FEATURE] backing image enhancement as the Minio replacement"
**Is your feature request related to a problem? Please describe.**

image repo is not available when adding a new node to the existing Harvester cluster because the minion pod is rescheduled.

**Describe the solution you'd like**

<del>Do not re-schedule the minion pod since the longhorn will add replicas to the other node when it is joined to the cluster.</del>
Using the Longhorn backing image fe

[2020-12-17 08:40] guangbochen opened #369 "[FEATURE] Harvester network-controller enhancement"
**Is your feature request related to a problem? Please describe.**

1. add tech docs to [rancher/harvester-network-controller](https://github.com/rancher/harvester-network-controller)
1. refactoring the harvester-network-controller
    * using CRDs
    * store and reconcile networks status using conditions
    * add per node configuration
1. new feature & enhancement
    - [x] support static IP ad

[2020-12-17 08:46] guangbochen commented on #304
can u change the message to `timeout of 20s exceeded`

[2020-12-17 08:55] guangbochen commented on #279
link to PR https://github.com/rancher/harvester/pull/319

[2020-12-17 08:56] #210 closed, assigned to futuretea

[2020-12-17 14:55] chrisurwin opened #370 "[BUG]Incorrect memory displayed in Edit VM Form UI"
**Describe the bug**
When creating a VM you can type in any value into the memory box, going back in to view the machine it displays the memory incorrectly in form view, but correctly in yaml view

**To Reproduce**
Steps to reproduce the behavior:
1. create a new VM
2. set the memory to 2048 GB (this is regardless of what is available in the cluster)
3. pick image and allow it to create, it will g

[2020-12-17 15:15] vielmetti opened #371 "[FEATURE] arm64 support"
**Is your feature request related to a problem? Please describe.**

Please provide arm64 support for Harvester, once all of the related dependencies have been built for that platform.

**Describe the solution you'd like**

#30 removes a build of Harvester for arm64, because Kubevirt is missing arm64 support
based on https://github.com/kubevirt/kubevirt/pull/3415 PR that has not yet landed.

**Desc

[2020-12-17 21:50] michaelandrepearce opened #372 "[Question] run containers side by side"
When making a havester cluster, does the cluster show in rancher/is it possible to use the k3os also as a normal kubernetes cluster with longhorn and have containers run in the same cluster?

If so is there any docs on how?

[2020-12-17 21:50] michaelandrepearce commented on #372
Ps. Wow great stuff !!

[2020-12-18 03:40] guangbochen commented on #372
Although this is not our intentional goal, you can indeed deploy and manage containers by importing the Harvester cluster into your existing Rancher and using it as a traditional k8s cluster. At the same time, your VM is able to communicate with the pod through the management IP.

![image](https://user-images.githubusercontent.com/4569037/102571834-7fe15000-4125-11eb-96f0-1841b4348468.png)

[2020-12-18 07:02] guangbochen commented on #371
thanks for the info and we will consider bringing back the multi-arch support when it is available on the `kubevir` side.

[2020-12-18 13:00] rmohr commented on #371
@guangbochen our main issue in kubevirt right now for supporting this is actually having ARM64 machines for building and CI. If rancher depends on it, maybe you can start a thread on the kubevirt-dev mailing list and see what we can do about this?

[2020-12-18 13:11] vielmetti commented on #371
@rmohr @guangbochen

In https://github.com/WorksOnArm/cluster/issues/203 the @worksonarm project provided an Ampere system for kubevirt for building and CI on arm64 - perhaps the project could leverage that existing resource or ask for additional equipment as needed.

[2020-12-18 14:06] ekristen opened #373 "[BUG] install failed, chart not found, harvester os"
**Describe the bug**

Installed the OS on reboot the console indicated that harvester was setting things up. Never left this state.

After SSH-ing in (which my SSH key did not work) it seems the batch job responsible for installing harvester failed not being able to find the helm chart locally?

**To Reproduce**
Steps to reproduce the behavior:
1. Install Harvester OS
2. ...

**Expected behavior**

[2020-12-18 14:18] ekristen opened #374 "[FEATURE] Add helm-chart tgz to releases"
I think it would be beneficial to package up the helm release and add it to the releases alongside the iso for easier download and reference.

Specifically related to https://github.com/rancher/harvester/issues/373 if it was published I could quickly fix the helm chart install.

[2020-12-18 14:31] ekristen opened #375 "[BUG] [UI] unable to login to the UI with any credentials"
**Describe the bug**

I was unable to login to the harvester ui with any sort of credentials that I set or would be assumed to be default.

**To Reproduce**
1. Install Harvester OS

**Expected behavior**
Be Able to login

**Log**
401 Unauthorized

**Environment:**
 - Harvester ISO version: 0.1.0
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630): Baremetal HP Proliant ML350P G8

[2020-12-18 14:32] ekristen opened #376 "[BUG] Unable to login with default admin"
**Describe the bug**

I modified the password of the default admin in the k3 cluster by using the CLI and providing a new bcrypt hash that I knew the password to, I'm still unable to login to the harvester UI.

**Expected behavior**
I would expect that if I modified the underlying admin record I would be able to login.

**Environment:**
 - Harvester ISO version: 0.1.0
 - Underlying Infrastructure

[2020-12-18 14:33] ekristen commented on #376
Disregard, copy/paste error.

[2020-12-18 14:33] #376 closed, assigned to nobody

[2020-12-18 14:48] aredan commented on #375
user: admin
pass:  password

https://github.com/rancher/harvester/blob/master/docs/authentication.md

Did you tested that ?

[2020-12-18 15:08] ekristen commented on #375
I thought I tried that combo, but I'd rather assume user-error than 0.1.0 shipped with a busted login, I already reset the account, I'll have to re-install later and try again.

[2020-12-18 15:08] #375 closed, assigned to nobody

[2020-12-18 15:23] michaelandrepearce commented on #372
Thanks will try that.

Would be great if in the future that was actually all in one rancher ui and its treated so a vm and container in a havester cluster are treated at a same level, so that you can basically take a bunch on physical machines and you get a shared hci cluster for having baremetal k8s for containers and vm deploys.

This would be a awesome on-prem experience, where out the box for

[2020-12-18 20:30] aredan opened #377 "[Question] How many NIC per node?"
I know that more NIC is better, but what about a homelab with Intel NUCs for testing or daily usage. The majority of NUCs have just one NIC, I have two of those and want to migrate them from VMware to Harvester as soon as the platform gets more stable.

 The hardware requirements don't list how many NICs are needed.

[2020-12-18 20:59] tinohager opened #379 "[Question] Restart Button Web VNC window"
Today we have tested the 0.1 release of harvester.
Is it possible to implement a restart button in the Web VNC window?

[2020-12-21 00:22] chengguozhen opened #380 "ARM supported ?"
** Does Harverster support arm architecture in the future?**

[2020-12-21 02:01] guangbochen commented on #380
duplicate of https://github.com/rancher/harvester/issues/371

[2020-12-21 02:27] yaocw2020 commented on #377
Harvester can work with only one NIC, but It's better to have at least 2 NICs, one for manager network, the other for VLAN.

[2020-12-21 03:10] DoNotSayYes opened #381 "Networks can be deleted though they are attaching to VMs"
**Steps to reproduce:**
1. Add a vlan network, name it `vlan-01`
2. Create a VM using `vlan-01`
3. Get to the networks page, delete `vlan-01`

**Result:**
`vlan-01` can be deleted though it is attaching to the VM
![image](https://user-images.githubusercontent.com/57614736/102735282-f330cf00-437c-11eb-8052-2eb619fb8939.png)

[2020-12-21 03:17] DoNotSayYes opened #382 "Duplicate management network display in the network dropdown while creating a VM"
**Steps to reproduce:**
1. Add a vlan network, name it vlan-01
2. Create a VM, click on the network dropdown of the default network

**Result:**
Duplicate management networks display in the network dropdown
![image](https://user-images.githubusercontent.com/57614736/102735713-1c059400-437e-11eb-9a70-e82bc5fdb6aa.png)

[2020-12-21 07:15] gitlawr commented on #373
Can you run the following to see if the chart file is present?
[code]

[2020-12-21 07:36] guangbochen opened #383 "[FEATURE] support zero downtime upgrade of Harvester"
**Is your feature request related to a problem? Please describe.**

Support zero downtime upgrade of Harvester, allow VMs to be migrated to another running node when it has enough resources.

**Describe the solution you'd like**

1. change the node to maintenance mode and allows the VM to schedule to other nodes automatically
1. after all the VMs has been migrated to the other node, the user is op

[2020-12-21 07:44] guangbochen opened #384 "[FEATURE] support VM migration"
**Is your feature request related to a problem? Please describe.**

Support VM live migration using Harvester's build-in distributed block storage

**Describe the solution you'd like**

Work process in the UI:
- UI shows migrate/abortMigration actions when they are available for VM resources.
- When a VM is migrating or the migration failed, UI shows migrating or migration failed status(besides ru

[2020-12-21 08:12] DaiYuzeng commented on #347
Hi, @futuretea !
I can't reproduce it on my environment by following your steps.
Could you try to reproduce it once again?

[2020-12-21 08:13] DaiYuzeng commented on #347
![截屏2020-12-21 下午4 12 43](https://user-images.githubusercontent.com/15041915/102754087-63544a80-43a7-11eb-9035-ee2ba0be9688.png)

[2020-12-21 08:17] guangbochen opened #385 "[FEATURE] support VM backup and restore"
**Is your feature request related to a problem? Please describe.**

support VM <del>snapshot</del>., backup, and restore using the build-in distributed block storage

**Describe the solution you'd like**

Work process in the UI:
1. need to specify a backup target(both NFS and S3 are supported) before config the backup.
1. <del>Users can take a snapshot of an existing VM without downtime.</del>
1.

[2020-12-21 09:31] DaiYuzeng commented on #347
If the form fields have value before using template, it will be lost.
It looks good, i think the template should only fill in the form and don't care about the existing value of it.
Would you give us some advice?
@guangbochen

[2020-12-21 15:51] brooksphilip opened #386 "[Disks presenting to VM's as 0Bytes]"
**Describe the bug**
I deployed a centos and ubuntu vm and the disks are showing up as 0 bytes so I am unable to continue the iso based installation.

**To Reproduce**
Steps to reproduce the behavior:
1. create an image using the first centos 7 mirror
2. use this image to create a vm. i tried 10GB, 30Gb and 60GB disk sizes
3. open console after vm starts and start going through install process. Th

[2020-12-21 16:07] #386 closed, assigned to nobody

[2020-12-21 16:08] brooksphilip commented on #386
Figured out you have to use a template. Maybe make that more clear in the readme. Possibly add that in as auto when attaching an iso

[2020-12-21 17:39] ekristen commented on #373
Unfortunately no I cannot, next time I install it, I can check again.

[2020-12-23 04:56] guangbochen opened #388 "[Enhancement] add integation testing cases"
**Is your feature request related to a problem? Please describe.**

enable and add more integration testing cases to covering all of Harvester's existing APIs.

**Describe the solution you'd like**

- [x] login & authentication, users, setting - @DoNotSayYes
- [x] image, volume, SSH keys - @gitlawr
- [x] host, VM template @guangbochen
- [x] virtual machines, networks @futuretea

**Describe alterna

[2020-12-24 07:35] DaiYuzeng commented on #334
The state of VM is out of sync when i pause/unpause the VM.

![截屏2020-12-24 下午3 29 39](https://user-images.githubusercontent.com/15041915/103070750-1e295600-45fd-11eb-8c61-35d01b923c2a.png)

[2020-12-29 00:14] jbyam3c7 opened #392 "What can cause VMs to take more than 5 minutes to start?"

[2020-12-29 01:00] nasheikh opened #393 "[BUG] After installing in app mode, the node get stuck in unknown state"
**Describe the bug**

After installing Harvester from the Helm Chart - the compute node get stuck on the unknown state.

**To Reproduce**
Steps to reproduce the behavior:
install single node master cluster for k8s, install harvester

![Screenshot from 2020-12-29 13-58-08](https://user-images.githubusercontent.com/17694948/103251579-1b07de80-49de-11eb-9ae4-06fb6593389f.png)
![Screenshot from 2020-1

[2020-12-29 08:24] DoNotSayYes opened #394 "[BUG]The date of events runs in a loop on the dashboard page"
Check on the dashboard page, the dates of events run in a loop for about 5 minutes.
![image](https://user-images.githubusercontent.com/57614736/103270073-3977d500-49f2-11eb-9ace-fc4a3ebbdff6.png)

[2020-12-29 08:43] gitlawr commented on #394
The time is derived from `event.metadata.fields[0]` in the API. Check why this is reset periodically.

[2020-12-29 08:52] gitlawr commented on #393
Can you check the node status from the Kubernetes side?
What's the output from
[code]

[2020-12-29 08:59] gitlawr commented on #392
A slow network may cause that because it needs to download the VM image from distributed storage before it starts.
It would be clearer if you can elaborate on the setup, e.g. node number and size, network bandwidth, etc.

[2020-12-29 12:07] nasheikh commented on #393
Here is the status for the enitre infrastructure

**k get all -A**

NAMESPACE          NAME                                               READY   STATUS    RESTARTS   AGE
default            pod/my-nfs-server-provisioner-0                    1/1     Running   1          12h
harvester-system   pod/cdi-apiserver-5d7db448bf-rzrnh                 1/1     Running   0          3m16s
harvester-system   po

[2020-12-29 12:10] nasheikh commented on #393
Here is the output for nodes

**k get nodes**

NAME                   STATUS   ROLES                  AGE   VERSION
nash-virtual-machine   Ready    control-plane,master   12h   v1.20.1

This is for describe nodes

**kubectl describe node**
Name:               nash-virtual-machine
Roles:              control-plane,master
Labels:             beta.kubernetes.io/arch=amd64
                    beta.kub

[2020-12-29 17:52] easmithdev opened #396 "[Question] Will there be a commercial technical support option?"
Will there be a commercial technical support option for Harvester much like the other popular Rancher Labs solutions?

[2020-12-29 19:25] easmithdev opened #397 "[FEATURE] RBAC and Namespaces"
**Is your feature request related to a problem? Please describe.**
Yes, security

**Describe the solution you'd like**
Role based access control and the ability to create namespaces (multi-tenancy)

**Describe alternatives you've considered**
RBAC is essential. Multi-tenancy is nice-to-have.

**Additional context**
Local AuthN and AuthZ that is similar to what is provided in Rancher Server would b

[2020-12-30 08:28] gitlawr commented on #393
So the node is in a ready state from Kubernetes side.

1. Can you go to `https:<IP>:8443/v1/nodes/<node name>` and check the info in `metadata.state`?
2. Can you elaborate on how you set up the kubernetes cluster to help us reproduce?

[2020-12-30 08:51] nasheikh commented on #393
https://10.101.98.121:8443/v1/nodes/nash-virtual-machine

{

    "id": "nash-virtual-machine",
    "type": "node",
    "links": {
        "remove": "…/v1/nodes/nash-virtual-machine",
        "self": "…/v1/nodes/nash-virtual-machine",
        "update": "…/v1/nodes/nash-virtual-machine"
    },
    "apiVersion": "v1",
    "kind": "Node",
    "metadata": {
        "annotations": {
            "csi.vol

[2020-12-30 08:53] nasheikh commented on #393
Its a standard k8s install i hope you understand ansible, cause i wrote a very small playbook to automate the k8s installation - pasting it for your reference.
Its a standard vm running over Vmware Workstation.

- hosts: localhost
  become: yes
  tasks:
   - name: install apps
     apt:
       pkg:
       - gpg
       - jq
       - apt-transport-https
       - open-iscsi
       - nfs-kernel-server

[2020-12-30 09:14] gitlawr commented on #393
UI gets the node state from that field. So we need to investigate why it is missing in the API.
The following is from a working environment
![image](https://user-images.githubusercontent.com/5697937/103341601-5380e880-4ac2-11eb-9a5c-9e29dec3078f.png)

[2020-12-30 09:23] nasheikh commented on #393
Kool, makes sense - any idea how should i proceed further?
Thanks

[2020-12-30 09:29] gitlawr commented on #393
I think this misinformation will not block other features. You can try VM deployment if nested virtualization is supported in the environment. Feel free to open additional issues if you encounter any other problems.

[2020-12-30 09:31] nasheikh commented on #393
Tried that, doesnt work - it just doesnt let me proceed further with anything, just for the test sake i installed the ISO version, worked absolutely fine.

[2020-12-31 08:45] DoNotSayYes commented on #382
Validated

[2020-12-31 08:45] #382 closed, assigned to WuJun2016, DoNotSayYes

[2020-12-31 09:02] DoNotSayYes commented on #150
Validated

[2020-12-31 09:02] #150 closed, assigned to DoNotSayYes

[2020-12-31 09:26] DoNotSayYes commented on #198
Validated

[2020-12-31 09:26] #198 closed, assigned to DoNotSayYes

[2020-12-31 09:28] DoNotSayYes commented on #298
Validated

[2020-12-31 09:28] #298 closed, assigned to WuJun2016, DoNotSayYes

[2020-12-31 09:30] DoNotSayYes commented on #305
Validated
![image](https://user-images.githubusercontent.com/57614736/103404258-e044a880-4b8d-11eb-874f-3249300fb927.png)

[2020-12-31 09:30] #305 closed, assigned to WuJun2016, DoNotSayYes

[2020-12-31 09:37] DoNotSayYes commented on #304
Validated
![image](https://user-images.githubusercontent.com/57614736/103404513-cb1c4980-4b8e-11eb-8771-86b8c0aa20e1.png)

[2020-12-31 09:37] #304 closed, assigned to DaiYuzeng, DoNotSayYes

[2021-01-02 20:24] himslm01 opened #400 "[BUG] Volumes removed from VMs cannot be deleted"
**Describe the bug**
I’ve got two volumes which are not in use which I want to delete.
Even though the volumes are `Ready` and not `In-use`, when I select `Delete` Harvester says the volumes are currently owned…

<img width="1366" alt="Screenshot 2020-12-31 at 20 21 45" src="https://user-images.githubusercontent.com/1175979/103465782-c72b2b80-4d36-11eb-94f9-ae5142b0bd4f.png">

<img width="375" alt

[2021-01-03 08:21] larssb commented on #384
Looking forward to this. The "migrate" option in the Harvester UI has been removed in v0.1.0 as far as I can see. Is there a way to do this behind the scenes? Migrate a VM from one compute node to another. I have a three node Harvester cluster and all VM's of a K3S cluster (3 maters & 2 workers) I setup on the Harvester cluster, all runs on one of the Harvester nodes.

Thank you

[2021-01-03 11:38] himslm01 opened #401 "[FEATURE] ability to send special keys / key combinations in web VNC console"
**Is your feature request related to a problem? Please describe.**
I would like to be able to send special keys / key combinations in web VNC console.
These keys / key combinations may include print-screen, ctrl-alt-delete, alt-Fn key, etc...

**Describe the solution you'd like**
Maybe a set of buttons in the web page which send *standard* keyboard keys / key combinations directly to the guest OS?

[2021-01-04 02:50] DoNotSayYes opened #402 "[BUG] Setting the language to none causes the page to mess up"
**Steps to reproduce:**
On the login page, click the language, setting the language to none

**Result:**
Setting the language to none causes the page to mess up
![image](https://user-images.githubusercontent.com/57614736/103496595-ccdd5a00-4e79-11eb-9e61-3e3e288497d5.png)
![image](https://user-images.githubusercontent.com/57614736/103496829-948a4b80-4e7a-11eb-850b-30119dbb94b7.png)

[2021-01-04 07:07] DaiYuzeng commented on #402
@DoNotSayYes
The option of `none` should only be displayed in develop environment.
Did you come across this bug in production environment?

[2021-01-04 07:20] abdullahgill opened #404 "[BUG] Installation ends up in grub rescue mode"
**Describe the bug**

UEFI BOOT Issue i am facing following error on boot
`grub rescue>`

**To Reproduce**
Steps to reproduce the behavior:
UEFI BOOT Issue i am facing following error on boot
`grub rescue>`

**Environment:**
 - Harvester ISO version:  v0.1.0
 - Installation Mode: ISO
 - Underlying Infrastructure:  Baremetal with Dell PowerEdge R720):

[2021-01-04 07:36] DoNotSayYes commented on #402
I installed Harvester in ISO installation way and the iso file was officially released

[2021-01-04 09:43] DoNotSayYes commented on #334
**Steps to reproduce:**
1. Create two VMs A & B
2. Pause VM A, then Pause VM B
3. Open VM A's menubar again

**Result:**
The pause button is displaying instead of Unpause @DaiYuzeng
![image](https://user-images.githubusercontent.com/57614736/103521633-0fbc2380-4eb4-11eb-83db-4207146c7656.png)

[2021-01-05 02:49] DoNotSayYes opened #407 "[BUG] A pause button is displaying on the menubar though the VM is already paused"
**Steps to reproduce:**
1. Create two VMs A & B
2. Pause VM A, then Pause VM B
3. Open VM A's menubar again

**Result:**
The pause button is displaying instead of Unpause
![image](https://user-images.githubusercontent.com/57614736/103521633-0fbc2380-4eb4-11eb-83db-4207146c7656.png)

[2021-01-05 02:51] DoNotSayYes commented on #334
Track by #407 and close the current issue since this is for enhancement

[2021-01-05 02:51] #334 closed, assigned to WuJun2016, DoNotSayYes

[2021-01-05 03:02] gitlawr commented on #396
The project is in an early stage and only community support is available. Commercial support would be an option after Harvester reaches GA.

[2021-01-05 03:02] #396 closed, assigned to nobody

[2021-01-05 03:52] gitlawr commented on #404
The `grub rescue` may indicate corruption in configurations, e.g. missing the `/boot/grub` directory.
1. Can you check the integrity of the ISO image?
2. Can you check the files in grub rescue console:
[code]
3. Are you able to boot an Ubuntu server image using the same hardware?

[2021-01-05 04:17] DaiYuzeng commented on #407
Reproduced.

And i realized that the data received from WS was unexpected.

The actions of Virtual Machine didn't have `unpause`

![image](https://user-images.githubusercontent.com/15041915/103605786-c6211680-4f4f-11eb-8079-25061df8cd86.png)

[2021-01-05 07:16] WuJun2016 commented on #407
WS push data is different from API data

[2021-01-05 08:47] tossmilestone opened #410 "[Question] The network of the node is unreachable when haverster is ready"
We are using a single baremetal node to install the harvester, and when the harvester is installed and running, the node is unable to access from network anymore. The eth0 interface of the node has a new ip with 169 prefix. What cause the network problem? Please help us.

[2021-01-05 10:45] DoNotSayYes commented on #370
Validated
![image](https://user-images.githubusercontent.com/57614736/103637166-069b8700-4f86-11eb-93d7-4db6462ed82e.png)
![image](https://user-images.githubusercontent.com/57614736/103637229-1dda7480-4f86-11eb-9843-134fbe3d5e72.png)

[2021-01-05 10:45] #370 closed, assigned to DaiYuzeng, DoNotSayYes

[2021-01-06 01:12] DoNotSayYes commented on #279
The unmounted volumes still cannot be deleted
![image](https://user-images.githubusercontent.com/57614736/103716973-46528500-4fff-11eb-822c-7ad730146344.png)

[2021-01-06 02:58] yaocw2020 commented on #410
It's very likely that DHCP request failed. You need an available DHCP server in your network.

[2021-01-06 03:38] gitlawr commented on #336
For case 1, I suggest UI do polling at `<Harvester URL>/api/v1/namespaces/harvester-system/services/minio:http/proxy/minio/health/cluster`
and show a warning banner when minio is not available yet.

[2021-01-06 10:17] DaiYuzeng commented on #402
API: v1/userpreferences

`dev` of the response data is `true`.

The option of `none` is displayed or hide according to it.

Could you check it? @guangbochen

![image](https://user-images.githubusercontent.com/15041915/103756420-4a57c480-504a-11eb-9a7a-ed633ad42f21.png)

[2021-01-07 01:36] tossmilestone commented on #410
@yaocw2020 We will have a try, thanks. Does the harvester could not support static ip?

[2021-01-07 03:39] guangbochen commented on #388
@futuretea will need to make enhancement of VM API validation cases
[code]
[logs_rancher_harvester_1_2 (2).log](https://github.com/rancher/harvester/files/5779390/logs_rancher_harvester_1_2.2.log)

[2021-01-07 08:11] incubator4 opened #412 "[BUG] Cannot access after helm install"
**Describe the bug**
After helm install harvester,cannot access harvester ui during web

Sometimes the harvester pod apiserver container got error with `time="2021-01-07T08:02:50Z" level=error msg="failed to serve UI: Get https://releases.rancher.com/harvester-ui/latest/index.html: EOF"`

Although I know maybe it was network traffic problem,but why should it get index page by downloading online pa

[2021-01-07 08:26] gitlawr commented on #412
Did you install the master version? If you don't want the latest UI please install a released version. For app mode, install Harvester chart in the `v0.1` branch

[2021-01-07 14:22] incubator4 commented on #412
@gitlawr thx,I've tried to checkout v0.1 branch and it worked.

And another question,for now helm chart doesn't have ingress support,can I have a try to commit PR?

[2021-01-08 15:24] yaocw2020 commented on #410
Yes, Harvester v0.1.0 only supports DHCP. Static IPv4 address support is in the process. We hope it merged in the next release version.

[2021-01-09 02:20] #410 closed, assigned to yaocw2020

[2021-01-11 02:35] WuJun2016 opened #413 "[BUG] VMs removed a few days ago will still be pushed in"
**Describe the bug**
Open the VM list page, delete some VMs, don't close them, don't do anything, look at the list page later and sometimes you will see the deleted VMs

![image](https://user-images.githubusercontent.com/24985926/104142859-4637f800-53f8-11eb-8c91-7d0c829ba556.png)

![image](https://user-images.githubusercontent.com/24985926/104142863-4e903300-53f8-11eb-8937-054efc2a3daa.png)

May

[2021-01-11 07:02] innobead commented on #217
@guangbochen if no objection, my team will help with this after discussed with @yasker.

cc @cclhsu @bk201

[2021-01-12 01:02] c3y1huang opened #415 "[FEATURE] bump Longhorn chart version"
**Is your feature request related to a problem? Please describe.**

Bump Longhorn chart version.

**Describe the solution you'd like**

Bump Longhorn chart to [v1.1.0](https://github.com/longhorn/charts/releases/tag/longhorn-1.1.0).

**Describe alternatives you've considered**

`none`

**Additional context**

`none`

[2021-01-12 22:40] chifu1234 opened #417 "support i440fx machine type"
We had some trouble to deploy a citrix adc vpx kvm to harvester. It seems like that freebsd os only supports  i440FX on KVM and not just Q35. If there is no reason to limit VMs only running on Q35 architecture, I would suggest to change the behavior that Q35 and I440FX are supported:
[code]

https://github.com/rancher/harvester/blob/766abd06561b059c1af623aacc4e505db471ceee/deploy/charts/harvester/

[2021-01-13 02:22] guangbochen opened #419 "[FEATURE] Add harvester cluster monitoring dashboard"
**Is your feature request related to a problem? Please describe.**

Add harvester cluster monitoring dashboard

**Describe the solution you'd like**

1. allow the user to enable and deploy Harvester cluster monitoring with Prometheus integration
1. add Harvester cluster monitoring dashboard includes CPU, memory, disk, network I/O, etc

[2021-01-13 02:26] guangbochen opened #420 "[FEATURE] Add VM monitoring"
**Is your feature request related to a problem? Please describe.**

Add VM monitoring to the Harvester

**Describe the solution you'd like**

1. VM metrics will be collected and stored in the cluster monitoring
1. user is able to view VM monitoring metrics on each VM detail page
1. for VM metrics collection refer to https://github.com/kubevirt/kubevirt/blob/master/docs/devel/vm-monitoring.md

[2021-01-13 03:15] guangbochen commented on #417
What are your installation method(ISO/App mode) and setup environment?

[2021-01-13 03:31] guangbochen commented on #417
the default configuration should support both i440fx and q35 classes of chipsets for x86_64, when creating the VM u probably need to specify the machine type to be `pc-i440fx-2.10` instead of `q35`.
for more details, u may refer to https://kubevirt.io/user-guide/#/creation/devices?id=machine-type
[code]

[2021-01-13 03:58] gitlawr opened #421 "[BUG] Installation on large disks (>2TB) results in small root disk size"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Install Harvester to a disk larger than 2TB
2. When Harvester is ready, go to the terminal and check the filesystem.

**Results**
The root disk size is small and it fails to provision a VM because there's no sufficient disk.
[code]

**Environment:**
 - Harvester ISO version: v0.1.0
 - Installation Mode: ISO mode
 - Underlyi

[2021-01-13 08:14] chifu1234 commented on #417
hi @guangbochen, Can  you try your VM definition on your harvester setup?  you sould get an error, because harvester only support q35. with my proposal(https://github.com/chifu1234/harvester/commit/ef0752ea836fe89580cd2177320323570d20b6ac) your VM definition can work. I testet it with harvester v0.1.0.
https://github.com/kubevirt/kubevirt/blob/v0.35.0/pkg/virt-config/virt-config.go#L43

I use a qc

[2021-01-13 14:12] worm-za commented on #377
Will the 2 NICs be able to be backup for the other?

[2021-01-14 00:34] wjimenez5271 opened #422 "[FEATURE] Support passing arbitrary parameters to Kubevirt"
**Is your feature request related to a problem? Please describe.**
Experienced Kubevirt operators will often have specific parameters they want to pass to Kubevirt when creating VMs.

**Describe the solution you'd like**
It would be ideal to provide a way to pass an arbitrary block of YML params to Kubevirt through the Harvester UI/APIs. This would be an optional feature, only for users who are mo

[2021-01-14 00:40] wjimenez5271 opened #423 "[FEATURE] Centralized image repository for multiple Harvester clusters"
**Is your feature request related to a problem? Please describe.**
When operating more than one harvester cluster, it's important to be able to centralize the images the clusters can use. This allows the images to be published to one location and prevents unintended images from being accessed by clusters. It is also important that clusters can download from the central repository with resumable do

[2021-01-14 02:22] c3y1huang opened #424 "[BUG] harvester process spike to ~50% CPU after sometimes"
**Describe the bug**
Noticed the harvester process spike to ~50% CPU after some time (for me, 1 - 2 hours).

**To Reproduce**
Steps to reproduce the behavior:
1. Install k3s and harvester.
2. Monitor harvester process on the host and eventually it spikes to ~50% CPU.
[code]

**Expected behavior**

Should not spike to ~50% CPU

**Log**

`none`

**Environment:**
 - Harvester ISO version: 0.1.0
 - In

[2021-01-14 05:37] c3y1huang opened #425 "[BUG] Broken ISO Mode link in README"
**Describe the bug**

ISO Mode link is broken in https://github.com/rancher/harvester/blob/master/docs/README.md

**To Reproduce**
`none`

**Expected behavior**

`none`

**Log**

`none`

**Environment:**
`none`

**Additional context**
`none`

[2021-01-14 06:05] incubator4 opened #427 "[BUG] pod back-off restart"
**Describe the bug**
after operate vm,harvester pod got error

**Logs**

after init message
[code]

**Environment:**
 - Harvester Helm Chart 0.1:
 - RKE v1.19.2

[2021-01-14 06:14] gitlawr opened #428 "[BUG] Fail to access UI via rancher proxy"
**To Reproduce**
Steps to reproduce the behavior:
1. Add a rancher catalog
[code]
2. install Harvester app to a project, use all the default configurations
3. Go to the apps page, Click the index.html link of the Harvester app to access Harvester UI

**Results**
Failed to load the UI.
Saw the following errors in the browser console:
![image](https://user-images.githubusercontent.com/5697937/104551

[2021-01-14 07:11] c3y1huang commented on #402
I've also tried with [v0.1.0](https://github.com/rancher/harvester/releases/tag/v0.1.0) ISO and not seeing this issue. Not sure if I'm doing things differently?

However, noticed that my UI didn't get the `Local`, `Kubeconfig`, `Token` tabs as showed [here](https://user-images.githubusercontent.com/57614736/103496595-ccdd5a00-4e79-11eb-9e61-3e3e288497d5.png).

Here is my UI.
![Screenshot-2021-01-1

[2021-01-14 10:18] guangbochen commented on #427
this issue should be addressed in the master version with API server bump of https://github.com/rancher/harvester/pull/414, will keep my eyes on it.

[2021-01-14 10:24] guangbochen commented on #425
close in favor of https://github.com/rancher/harvester/pull/426

[2021-01-14 10:24] #425 closed, assigned to nobody

[2021-01-14 15:51] chifu1234 opened #429 "[Question] Harvester rke support"
Hi Guys, is it (or in future) possible to stage a k8s cluster on harvester via rke ?

[2021-01-15 02:19] gitlawr commented on #429
Why do you prefer rke to k3s in your use case?

[2021-01-15 03:37] gitlawr opened #430 "[BUG] Incorrect storage size displayed in host detail page"
**Describe the bug**
![image](https://user-images.githubusercontent.com/5697937/104678159-c7a7c700-5725-11eb-91d9-bca58200ff2a.png)

The storage size from the API shows:
![image](https://user-images.githubusercontent.com/5697937/104678202-df7f4b00-5725-11eb-96ae-d523043e9306.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Install Harvester to a server with a 1.8T disk.
2. Check in the U

[2021-01-15 04:48] innobead commented on #217
This epic will be broken down into several phases. @bk201 will help to drive the feature development.

**Phase 1: 0.2.0**
- Support Harvester Installer PXE boot awareness (this needs to update harvester-installer to make sure it have unattended installation mode)

**Phase 2: 0.3.0**
- Support In-Cluster PXE boot service and artifact management (it can be leveraged with other open projects)
- Recog

[2021-01-15 06:58] easmithdev commented on #397
Any update here?

[2021-01-15 08:37] guangbochen commented on #397
both RBAC and multi-tenant are definitely in our scope and this will require a proper design before the actual implementation, thanks for bearing with us.

[2021-01-15 09:34] chifu1234 commented on #429
I use rke because i deploy all of my k8s clusters with rancher/rancher via Vsphere. Now I woulk like to migrate from Vsphere to Harvester.  But as far as I know there is no docker-machine driver for harvester today.

[2021-01-15 17:00] swill opened #432 "[BUG] UI incorrectly states that data will be deleted from the volume when a data disk is removed from a VM"
**Describe the bug**
If you attach and mount a volume to a VM and then put data on it, when you delete that volume from a VM, you get a message stating that the data on the volume will be removed.  However, if you mount that volume on a different VM, that data is available (as I would have expected it to be).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Volumes and create a new volu

[2021-01-15 20:20] swill opened #433 "[BUG] tempate cloud-init not shown during VM creation"
**Describe the bug**
If you create a Template which includes a cloud-init script and then create a VM from that template, the cloud-init which you specified in the template is not shown in the cloud-init section of the create VM form interface.  Interestingly, if you don't specify anything in the VM create cloud-init section, the template cloud-init configuration is applied to the VM.  That is a b

[2021-01-15 21:22] swill commented on #433
As I dig deeper into things, I suspect this is actually related to this code: https://github.com/rancher/harvester-ui

I just clicked on the "create an issue" button in the UI and I ended up here.  Should this get closed and I move the issue to the other repo?

[2021-01-16 14:49] larssb commented on #423
Just wanted to chirp in and alert you to any potential security implications of this. As I would think that it at least needs to be considered that the central image repo cannot be used as a way for a perpetrator to traverse from e.g. a dev Harvester cluster to a prod. one.

Also, is there any RBAC issues here? Some users might have access to dev, test whatever Harvester and should not have access

[2021-01-17 03:26] guangbochen commented on #433
it is ok to submit a UI issue against this repo, thanks.

[2021-01-18 08:47] guangbochen commented on #432
This should be a typo error of the existing message, should change to `are you sure you want to unmount this volume?` and keep the existing behavior, thanks. cc @WuJun2016

[2021-01-19 02:06] innobead commented on #356
This is about chart dependency management. @c3y1huang will help with this.

[2021-01-19 03:52] DoNotSayYes commented on #381
Validated on master-head

![image](https://user-images.githubusercontent.com/57614736/104985841-cf7ca980-5a4c-11eb-84d1-4dc70dbba4f6.png)

[2021-01-19 03:52] #381 closed, assigned to DoNotSayYes

[2021-01-19 10:02] guangbochen opened #436 "[FEATURE]add debug mode to the harvester"
**Is your feature request related to a problem? Please describe.**

currently, the debug mode configuration is missing in the harvester.

**Describe the solution you'd like**

add debug mode to the harvester config

**Describe alternatives you've considered**

N/A

**Additional context**

N/A

[2021-01-19 13:11] futuretea commented on #259
link to PR https://github.com/rancher/harvester-installer/pull/42

[2021-01-20 09:14] DoNotSayYes commented on #336
Validated on master-head

**Steps:**
1. Add an image with URL http://a.img and the following error is expected.
`Get http://a.img: dial tcp: lookup a.img on 10.43.0.10:53: no such host`
2. Delete this image successfully
3. Delete the minio pods, UI will reflect the status of the image repository

![image](https://user-images.githubusercontent.com/57614736/105150376-aa1c9800-5b3f-11eb-839b-7d9a5bc7

[2021-01-20 09:14] #336 closed, assigned to WuJun2016, DoNotSayYes

[2021-01-20 09:19] DoNotSayYes opened #440 "[BUG]Image state displays failed even though the progress is completed"
**Steps to reproduce:**
1. Upload an image
2. While the image uploading progress is almost done, make the minion be unavailable. (Delete all the minio pods)

**Result:**
The image state displays failed but its progress is completed
![image](https://user-images.githubusercontent.com/57614736/105153581-92dfa980-5b43-11eb-80bd-e22a8d88adb1.png)

[2021-01-20 10:53] DoNotSayYes commented on #432
Validated on master-head
![image](https://user-images.githubusercontent.com/57614736/105164974-bb21d500-5b50-11eb-8fe9-d6242e715b93.png)

[2021-01-20 10:53] #432 closed, assigned to WuJun2016, DoNotSayYes

[2021-01-20 10:57] DoNotSayYes commented on #400
Validated on master-head
The unmounted volumes can be deleted accordingly
![image](https://user-images.githubusercontent.com/57614736/105165407-44d1a280-5b51-11eb-811f-b7ca1d2d428c.png)
![image](https://user-images.githubusercontent.com/57614736/105165432-4b601a00-5b51-11eb-9660-bf9383c7a74d.png)

[2021-01-20 10:57] #400 closed, assigned to futuretea, DoNotSayYes

[2021-01-20 11:01] DoNotSayYes commented on #279
Validated on master-head

[2021-01-20 11:01] #279 closed, assigned to futuretea, DoNotSayYes

[2021-01-21 02:01] WuJun2016 opened #441 "[BUG] The userPreferences API 404 NotFound, All APIs are missing view links"
**Describe the bug**
![image](https://user-images.githubusercontent.com/24985926/105269638-522d7200-5bcf-11eb-8961-419ae72d98e2.png)
![image](https://user-images.githubusercontent.com/24985926/105269666-607b8e00-5bcf-11eb-81ea-ec1c6bc28a98.png)

**To Reproduce**
Reinstall a new environment  （System and havester are new）

[2021-01-21 02:07] DoNotSayYes commented on #356
Validated on master-head

![image](https://user-images.githubusercontent.com/57614736/105270239-6887fd80-5bd0-11eb-8ab0-0aeafaf13c18.png)

[2021-01-21 02:07] #356 closed, assigned to c3y1huang, DoNotSayYes

[2021-01-21 03:06] DoNotSayYes commented on #430
Validated on master-head

![image](https://user-images.githubusercontent.com/57614736/105289532-1d331680-5bf3-11eb-9f04-6ed1fdb63f0f.png)

![image](https://user-images.githubusercontent.com/57614736/105274702-aa1ca680-5bd8-11eb-8b82-d1993b14f5ea.png)

[2021-01-21 03:06] #430 closed, assigned to WuJun2016, DoNotSayYes

[2021-01-21 03:20] #285 closed, assigned to DoNotSayYes

[2021-01-21 03:43] DoNotSayYes commented on #440
Validated on master-head

[2021-01-21 03:43] #440 closed, assigned to WuJun2016, DoNotSayYes

[2021-01-21 07:00] DoNotSayYes commented on #433
Validated on master-head
![image](https://user-images.githubusercontent.com/57614736/105314812-58384880-5bf9-11eb-85f4-85d9d9827668.png)

[2021-01-21 07:00] #433 closed, assigned to WuJun2016, DoNotSayYes

[2021-01-21 08:06] maddie opened #442 "[Question] Product roadmap and 1.0 release estimation?"
I'm looking for an open-source HCI solution, and I found Harvester on Google. I've been watching Rancher (the tool) for a while, and pretty surprised to find this project.

Is there any kind of roadmap for Harvester, or an estimated release date for 1.0?

[2021-01-21 14:17] swill commented on #433
It appears that you are validating on an Edit and not a Create?  Did you also validate on a Create?  If it is not populated on the Create then the user will likely try to specify something and I am not sure what will happen then.  Does the template get overwritten?

[2021-01-21 17:18] olljanat opened #443 "[Question] Please share your real world hardware details"
Readme describes Harvester as:

so I'm interested to hear about real world implementations where people are running/testing Harvester? Especially about those where hardware really is comparable to production vSphere/Nutanix platforms.

[2021-01-22 02:40] yaocw2020 opened #444 "Support uploading local image"
**Is your feature request related to a problem? Please describe.**

I can't find a way to upload local images in the Harvester UI.

**Describe the solution you'd like**

N/A

**Describe alternatives you've considered**

N/A

**Additional context**

N/A

[2021-01-22 02:41] guangbochen commented on #442
The roadmap is available at [here](https://github.com/rancher/harvester/milestones) and the next release would be v0.2.0.
Additionally, we have not scheduled an exact time of the GA release, it is not only about the product but we would like to gain more user cases and time-proven user cases before launching a good GA product, thanks for bearing with us.

[2021-01-22 02:50] yaocw2020 commented on #367
We refactor Harvester network controller. You can use `connman` to modify IP address of physical NIC attached with bridge manually , then Harvester network controller can monitor the change of IP address and reset the IP address for bridge.

[2021-01-22 03:16] guangbochen commented on #402
the default auth mode is `localUser` and is configurable via https://github.com/rancher/harvester/blob/master/deploy/charts/harvester/values.yaml#L251-L253

[2021-01-22 03:21] #380 closed, assigned to nobody

[2021-01-22 09:21] DoNotSayYes opened #445 "[BUG]The harvester frontend keeps sending api requests via rancher proxy"
**Steps to reproduce:**

1. Add a rancher catalog
- Name: harvester
- Catalog URL: https://github.com/rancher/harvester
- Branch: v0.1.0
- Scope: global
- Helm Version: Helm v3
2. Install Harvester app to a project, use all the default configurations
3. Go to the apps page, click the index.html link of the Harvester app to access Harvester UI

**Results**
The frontend keeps sending API requests
![

[2021-01-23 11:54] olljanat opened #446 "[FEATURE] Bump k3s version to v1.20+"
**Is your feature request related to a problem? Please describe.**
I'm planning to start piloting Harvester and k3OS and would like to see latest new pre-release version which uses latest k3OS.

**Describe the solution you'd like**
v1.20.2+k3s1 version was marked as stable by https://github.com/k3s-io/k3s/pull/2821 so I think that it makes sense update Harvester to that one.

[2021-01-23 11:57] brandond commented on #446
rancher/rancher does not support Kubernetes 1.20 yet; I am guessing harvester will support 1.20 after rancher does.

[2021-01-23 12:01] olljanat commented on #446
OK. Issue related to that one looks to be https://github.com/rancher/rancher/issues/30134

[2021-01-24 08:45] olljanat opened #447 "[BUG] OS and k3OS versions are reported incorrectly"
**Describe the bug**
Based on version history https://github.com/rancher/harvester-installer/commit/c462023fc110b49d38e0fe84fdab8cfa48855ca3 k3OS version on Harvester v0.1.0 should be at least "v0.19.4-dev.5" but now it is reported as "v0.1.3-dirty" which is harvester-installer version, not actual k3OS version.

Other issue is that on `/etc/os-release` is describing k3OS when it should describe Ha

[2021-01-25 09:43] futuretea commented on #441
Test harvester master(73f18c6), views links is exists.

[2021-01-25 10:16] chifu1234 commented on #417
@guangbochen pls review

[2021-01-25 10:33] guangbochen commented on #417
@chifu1234 since we don't have an i440FX machine for testing, can u please help to clarify whether an abbreviation of machine type like `pc-i440fx*` would work or it has to specify the QEMU version, thanks.

[2021-01-25 11:18] chifu1234 commented on #417
Hi @guangbochen i440fx and q35 emulates chipsets not a cpu.. So if you have a running amd64 machine you should be able to stage a freebsd with machine pc-i440fx. in my lab it worked.

[2021-01-25 12:58] guangbochen commented on #417
good to know, thanks for the update.

[2021-01-25 13:08] guangbochen commented on #417
should allow the user to specify the machine type in the Harvester UI through advanced options, the default option would be an empty string and available options are `"q35","pc-q35*","pc","pc-i440fx*`. cc @WuJun2016

[2021-01-25 13:14] guangbochen commented on #424
should be addressed via https://github.com/rancher/harvester/pull/434 and could be tested using the `rancher/harvester:master-head` image.

[2021-01-25 13:17] guangbochen commented on #436
1. user is able to enable and view the debug logs via set env `HARVESTER_DEBUG: true`.
2. user is able to view golang profiling with `http://server_url:6060/debug/pprof/`

[2021-01-25 14:00] chifu1234 commented on #429
@gitlawr  Do you have any news for me ? =)

[2021-01-26 02:24] caolizhong-pm opened #449 "[BUG] image upload fail"
**Describe the bug**

image upload fail

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'image'，create
2. after sometime, display error "please reduce request"

**Expected behavior**

**Log**

**Environment:**
 - Harvester ISO version:
 - Installation Mode: ISO/app-mode
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630):

**Additional context**
Add any other context

[2021-01-26 06:57] DoNotSayYes commented on #402
Validated on master-head
![image](https://user-images.githubusercontent.com/57614736/105810935-c2306380-5fe6-11eb-9b2a-ca9b4d52fb28.png)

[2021-01-26 06:57] #402 closed, assigned to DaiYuzeng

[2021-01-26 07:33] DoNotSayYes commented on #424
Validated on master-head, keep watching harvester process on the host, its CPU usage seems not staying at 50%
![image](https://user-images.githubusercontent.com/57614736/105813690-2c4b0780-5feb-11eb-8a9d-7a3b67ca066e.png)

[2021-01-26 08:20] DoNotSayYes commented on #441
Validated on master-head, the view link is visible in every API. And the `userpreferences` API is callable for now.
![image](https://user-images.githubusercontent.com/57614736/105818549-083ef480-5ff2-11eb-8677-a40375353891.png)
![image](https://user-images.githubusercontent.com/57614736/105818780-4b996300-5ff2-11eb-9f13-8359eb9e86ac.png)

[2021-01-26 09:24] DoNotSayYes commented on #424
Reopen the issue, need to keep focusing on the high CPU utilization
The basic info of the environment:
![image](https://user-images.githubusercontent.com/57614736/105826306-8fdd3100-5ffb-11eb-888d-0550b0b89f7b.png)
![image](https://user-images.githubusercontent.com/57614736/105826423-adaa9600-5ffb-11eb-881e-cd36bbc7183d.png)
![image](https://user-images.githubusercontent.com/57614736/105827021-6cf

[2021-01-26 09:46] DoNotSayYes commented on #428
Validated on master-head, the harvester UI was loaded successfully, only the redirect error could be encountered.
![image](https://user-images.githubusercontent.com/57614736/105828568-3de9da80-5ffe-11eb-92ec-3fb4057cfe4c.png)

[2021-01-26 09:46] #428 closed, assigned to WuJun2016

[2021-01-26 10:57] DoNotSayYes commented on #436
Validated case 1 on master-head, added the variable `HARVESTER_DEBUG: true` to the harvester, the debug log is available
![image](https://user-images.githubusercontent.com/57614736/105831985-56f48a80-6002-11eb-8adb-afd56a5d9855.png)

[2021-01-26 20:26] mkoperator commented on #159
Your title and message ask two different questions. This would work on a Rancher cluster, though it is recommended to host workloads on downstream clusters. However, the answer is no to your second question. The VM would be limited to the spare capacity of a single node and would not span the entire cluster.

[2021-01-27 04:34] mkoperator opened #451 "[FEATURE] Ability to save and export VM image without manual copy workaround"
A non-manual way to copy and export VM images needed for our use-case where we set up and modify windows VMs before distribution.

Currently, if we update a VM and want to distribute it, we have to shut down the VM, attach the pv to a container, and create an image copy to upload manually.

Ideally, this would be done with a button click, crd, or API call.

[2021-01-27 05:24] gitlawr commented on #429
The node driver stuff is irrelevant to RKE. It is done on the Rancher side. If I understand correctly your request is to have a Harvester node driver in Rancher

[2021-01-27 05:29] gitlawr commented on #449
Can you provide more details? e.g. Installation mode, node number and size, etc.

[2021-01-27 10:16] futuretea opened #452 "[FEATURE] Support ingress configuration"
**Is your feature request related to a problem? Please describe.**

currently, users need to configure ingress to access harvester server by manual.

**Describe the solution you'd like**

- [ ] users can configure ingress from harvester ui.
- [ ] if ingress configured, harvester-installer's management URL show ingress domain instead.

**Describe alternatives you've considered**

**Additional conte

[2021-01-27 17:09] chifu1234 commented on #429
yes or kubevirt.

[2021-01-28 02:24] guangbochen opened #453 "[FEATURE] bump dependency components to the latest version"
**Is your feature request related to a problem? Please describe.**

bump dependency components like kubevirt, CDI, longhorn, minio to the latest version before the v0.2.0 release

**Describe the solution you'd like**

- [x] kubevirt v0.40.0
- [x] CDI v1.31.0
- [x] longhorn v1.1.1

**Describe alternatives you've considered**

N/A

**Additional context**

[2021-01-28 02:44] caolizhong-pm commented on #449
mode: helm chart; node number:2; size: any size

[2021-01-28 03:48] gitlawr commented on #449
Can you ssh to the node and run `kubectl -n harvester-system get po -l "app=minio"` to check the MinIO component?

Did the error happen consistently or occasionally?

[2021-01-28 05:13] caolizhong-pm commented on #449
all the pod this running when execute the command.
Error is always there.

Best Regards

产品部 曹力中

 杭州网银互联科技股份有限公司
   -企业级IT管理服务专家-

M/T：86+ 18768117657
E-mail：caolizhong@netbank.cn
WEB：http://www.netbank.cn
Add.：杭州市西湖区华星路96号互联网金融大厦16楼

From: Lawrence Li
Date: 2021-01-28 11:48
To: rancher/harvester
CC: caolizhong-pm; Author
Subject: Re: [rancher/harvester] [BUG] image upload fail (#449)
Can you ssh

[2021-01-28 07:52] futuretea commented on #413
Can't reproduce now, will follow up if there is any update

[2021-01-29 10:15] futuretea opened #455 "[BUG] After promote node to master, storage class local-path was changed to default."
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. setup 3 node cluster by iso
2. kubectl get sc
[code]
**Expected behavior**

only on storage class is default (longhorn)

**Environment:**
 - Harvester ISO version:  master (279c018)
 - Installation Mode: ISO
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630):

**Additional context**
Add any other context

[2021-02-01 10:30] DoNotSayYes opened #458 "[BUG] The harvester status appears to double running in the console"
**Describe the bug**
The harvester status appears to double running in the console

**To Reproduce**
Steps to reproduce the behavior:
1. Install harvester via ISO installation. (`node01`)
2. Add two more nodes to the environment(`node02` and `node03`)
3. Shut down node01
4. Observe node02 and node03

**Result:**
The harvester status appears to double running in the console
![image](https://user-im

[2021-02-01 10:35] DoNotSayYes opened #459 "[BUG] The harvester is unavailable somehow by using the new IP to visit when the original host is down"
**Describe the bug**
The harvester status appears to double running in the console

**To Reproduce**
Steps to reproduce the behavior:
1. Install harvester via ISO installation. (`node01`)
2. Add two more nodes to the environment(`node02` and `node03`)
3. Shut down node01
4. Using the new IP to access Harvester

**Result:**
The harvester is unavailable somehow by using the new IP to visit
![image](

[2021-02-01 14:59] guangbochen commented on #455
link to PR https://github.com/rancher/harvester/pull/270

[2021-02-02 00:51] futuretea opened #460 "[BUG] After promote node role, existing vmi will be recreated"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. up one master A and one node B
2. create a vm on the node B
3. join another node C

node B and node C will be promoted to master
vmi on node B will be recreated

**Expected behavior**

vmi on the node B won't be recreated

**Log**

**Environment:**
 - Harvester ISO version:
 - Installation Mode: ISO/app-mode
 - Underlying I

[2021-02-02 01:14] DoNotSayYes opened #462 "[BUG]The harvester status appears to be setting up on the original host after restarting the host"
**Describe the bug**
The harvester status appears to be setting up on the original host after restarting the host

**To Reproduce**
Steps to reproduce the behavior:
1. Install harvester via ISO installation. (`node01`)
2. Add two more nodes to the environment(`node02` and `node03`)
3. Shut down node01, then bring it up again
4. Check the Harvester status on every node

**Result:**
The harvester st

[2021-02-03 01:43] DreamTeamWangbowen commented on #353
I have the same problem，URL is unavailable，status is settingup... @guangbochen

[2021-02-03 01:48] gitlawr commented on #353
Can you access the UI by `https://<node-ip>:8443`?

[2021-02-03 03:19] DreamTeamWangbowen commented on #353
node-ip ？I can't , it seems that static ip cannot be configured，my previous ip eth0 is 200.201.9.128，now ip eth0 is 169.254.45.193，the network segment has changed.

[2021-02-03 03:27] gitlawr commented on #353
DHCP service is required at the moment, static IP support is tracked in https://github.com/rancher/harvester/issues/367

[2021-02-03 04:12] DreamTeamWangbowen commented on #353
root@colibri-t30:~# connmanctl
connmanctl> config ethernet_00142d259a48_cable --ipv4 manual 192.168.10.2 255.255.255.0 192.168.10.1
connmanctl> exit
like this, I configured the static IP， --ipv4 manual 200.201.9.128 255.255.248.0 200.201.15.254，the status changed to running state，but still can't ping.

[2021-02-03 05:25] DreamTeamWangbowen commented on #353
okay! thank you very much,I try to reboot the host,
it's succeessful! now，not only can ping, but can also log in dashboad！

[2021-02-03 07:04] DoNotSayYes commented on #455
Validated on master-head.(3dd7670)
![image](https://user-images.githubusercontent.com/57614736/106710470-f3d1ac00-6630-11eb-869a-715a102fa2fe.png)

[2021-02-03 08:54] DoNotSayYes opened #463 "[BUG]Unable to delete a host on Harvester"
**Describe the bug**
Unable to delete a host on Harvester

**To Reproduce**
Steps to reproduce the behavior:
1. Launch harvester
2. Add up hosts to 3
3. Delete one of the hosts

**Result:**
The host was not removed accordingly and displayed unavailable. Seeing the node not ready in the cluster.
![image](https://user-images.githubusercontent.com/57614736/106722036-6dbd6180-6640-11eb-8ff0-0285d33d52

[2021-02-03 09:05] DoNotSayYes opened #464 "[BUG]Host status displays incorrectly on the dashboard page"
**Describe the bug**
Host status displays incorrectly on the dashboard page

**To Reproduce**
Steps to reproduce the behavior:
1. Launch Harvester
2. Add up nodes to 3
3. Make one of the hosts unavailable

**Result:**
Host status displays incorrectly on the dashboard page
![image](https://user-images.githubusercontent.com/57614736/106723396-09030680-6642-11eb-9a27-160c5396fcd9.png)
![image](https:

[2021-02-04 01:43] DreamTeamWangbowen commented on #444
Can I upload the image directly to the server without passing the URL ？
because I am using the internal network，so I can't create a virtual machine, and all the status of the host is 0. It seems that there is a problem with the host monitoring. @guangbochen @gitlawr

[2021-02-04 01:44] DreamTeamWangbowen commented on #444
Because it is on the internal network, the screenshot cannot be displayed...

[2021-02-04 01:49] gitlawr commented on #444
You can host your image files in internal web servers as the workaround before this issue is addressed

[2021-02-04 02:58] DreamTeamWangbowen commented on #444
URL
https://200.201.119.11/file/CentOS-6.3-x86_64-LiveCD.iso
Size
-
Description
-
Message
Get https://200.201.119.11/file/CentOS-6.3-x86_64-LiveCD.iso: x509: cannot validate certificate for 200.201.119.11 because it doesn't contain any IP SANs

There is also a problem if there is no account password！

[2021-02-04 03:03] DreamTeamWangbowen commented on #444
URL
http://200.201.119.11/file/CentOS-6.3-x86_64-LiveCD.iso
Size
-
Description
-
Message
Get http://minio.harvester-system:9000/vm-images/?location=: dial tcp: lookup minio.harvester-system on 10.43.0.10:53: read udp 10.42.0.14:40440->10.43.0.10:53: read: connection refused

[2021-02-04 03:34] DreamTeamWangbowen commented on #444
“10.42.0.14:40440->10.43.0.10:53” is what？

[2021-02-04 07:57] gitlawr commented on #421
This is an MBR limit. It resizes correctly using EFI boot for large disks.

[2021-02-04 07:57] #421 closed, assigned to gitlawr

[2021-02-05 02:49] DoNotSayYes opened #465 "[BUG] The host system will be stuck when aborting the ISO installation"
**Describe the bug**
The host system will be stuck when aborting the ISO installation

**To Reproduce**
Steps to reproduce the behavior:
1. Install Harvester using ISO
2. Set up all the configurations
3. Select "No" to abort the installation

**Result**
The console displays "Installation halted. Rebooting system in 5 seconds", not nothing happens. Using ESC is not able to go back to the previous s

[2021-02-05 10:40] DoNotSayYes opened #466 "[BUG] The VM status appears to be running but the disk is not imported yet"
**Describe the bug**
The VM status appears to be running but the disk is not imported yet

**To Reproduce**
Steps to reproduce the behavior:
1. Create a VM configuring machine type: pc-q35-5.2
2. Wait for the VM to be brought up

**Result:**
The VM status appears to be `running` but the `importer-lily-001-disk-0-bolgx `status is `containerCreating`. After some time, its status changes to be `start

[2021-02-05 10:52] DoNotSayYes commented on #417
It's better to update the prompt message, something like:
`Specify a processor architecture to emulate. Currently supports below machine types: q35,pc-q35,pc-q35-*,pc,pc-i440fx,pc-i440fx-*`

[2021-02-05 11:02] DoNotSayYes commented on #417
Machine type `pc-q35*` can be saved when creating a VM, but it cannot be brought up eventually
![image](https://user-images.githubusercontent.com/57614736/107025347-41424a80-67e4-11eb-88c0-2b18b22ab03c.png)

[2021-02-05 13:06] chifu1234 commented on #429
@gitlawr Do you have a roadmap for this implementation?

[2021-02-06 02:17] mak3r opened #467 "[BUG] Virtual machine creation stays pending longhorn when longhorn.enabled=false"
**Describe the bug**

When installing harvester without longhorn per the command line, it appears that longhorn is still a dependency.
The UI shows the creation of a virtual machine as `pending` and the logs show that a PersistentVolumeClaim could not be created because storageclass longhorn could not be found.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup baremetal server

1. Instal

[2021-02-06 11:12] msj905 commented on #444
  Get http://minio.harvester-system:9000/vm-images/?location=: dial tcp 10.43.193.37:9000: connect: connection refused
我用虚拟机桥接网卡装的harvester，在添加github镜像和自定义镜像都出现怎么处理

[2021-02-07 01:44] guangbochen commented on #467
currently, the Harvester is only limited to support longhorn as its storage driver since supporting other types of storage driver will bring too much overload to our QA and some related advanced features.
but as a workaround, u should be able to modify the created VM as `YAML` and change the storage class from `longhorn` to any other type of storage driver u are using.

[2021-02-07 02:26] guangbochen opened #469 "[FEATURE] PXE POST-INSTALLATION"
**Is your feature request related to a problem? Please describe.**

Is it possible to have the option of adding commands to run on the system once the installation is complete, it will help to have it with https://github.com/rancher/harvester-installer/pull/33 in my use case this will be a callback to the provisioner so I can remove the iPXE script as all my bare-metal configure to look for networ

[2021-02-07 06:41] futuretea commented on #459
k3s-io/k3s#1264
Also need to up harvester deployment replicas to 3

[2021-02-08 09:51] gitlawr commented on #429
Hi Kevin, It's not on the radar at the moment.

[2021-02-09 09:53] DoNotSayYes opened #470 "[FEATURE] Add more confirm steps for the installation"
**Is your feature request related to a problem? Please describe.**
It's better to add more confirm info for the installation

**Describe the solution you'd like**
Currently, there are no steps to confirm that the users typed in, as the Server URL, Proxy URL, and some other info

**Describe alternatives you've considered**
It's better to add more confirm steps for the installation

[2021-02-09 10:02] DoNotSayYes opened #471 "[FEATURE] when users are getting back to the previous steps in installation, the info is not presenting"
**Is your feature request related to a problem? Please describe.**
When users are using Esc to go back to the previous steps, the info that has been typed in should be visible

**Describe the solution you'd like**
For now, when users are getting back to the previous steps, the info is not presenting, which make no much sense

**Describe alternatives you've considered**
When users are using Esc to

[2021-02-09 10:07] DoNotSayYes opened #472 "[FEATURE] Validate if the server URL is valid or not when joining an existing harvester"
**Is your feature request related to a problem? Please describe.**
Validate if the server URL is valid or not when joining an existing harvester

**Describe the solution you'd like**
Currently, even an invalid IP can be saved when joining an existing harvester

**Describe alternatives you've considered**
Validate if the server URL is valid or not when joining an existing harvester, if not, ask the

[2021-02-10 08:42] futuretea opened #475 "[BUG] CI failed to get network, response with 404"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. create pr
2. check ci result,sometimes ci failed due to this error.

**Expected behavior**

ci pass

**Log**

[code]

**Environment:**
 - Harvester ISO version:
 - Installation Mode: ISO/app-mode
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630):

**Additional context**
Add any other context about the p

[2021-02-11 20:43] chifu1234 commented on #429
https://github.com/rancher/rancher/issues/27065

[2021-02-11 22:47] pineapple-vision opened #476 ""Please Reduce Your Request" (Q or Bug)"
[BUG] Every time I try to download any image to harvester via URL, the download either stalls at some point or throws a "Please Reduce Your Request" error.   I have tried from different URLs, reset, reinstall, etc...

[2021-02-14 23:20] TeomPython opened #477 "[FEATURE] Import Windows servers vmdk files for VMware VM machines to Rancher Harvester"
1. It will be extremely helpful to have an option to assign IP, subnet and gateway during initial install of Harvester iso install on a bare-metal server with no DHCP.
2. Under create new machine option to import Windows servers vmdk files for VMware VM machines to Rancher Harvester.

[2021-02-16 20:22] wjimenez5271 commented on #419
Would it be possible to build this in such a way that one dashboard could show status of the VMs across more than 1 cluster? I.e. not limit it to just one cluster view?

[2021-02-17 12:16] guangbochen commented on #477
the first issue will be tracked on https://github.com/rancher/harvester/issues/367, and for the second one, personally, I think this is a nice feature, but since u can convert the `vmdk` image to `qemu-kvm` supported image format like qcow2, raw so this should be achievable from client-side, but will consider to add it as an enhancement, thanks.

[2021-02-18 02:54] gitlawr commented on #449
Can you check if there's any error logs in minio pods?

[2021-02-18 02:57] gitlawr commented on #476
Can you ssh to the node and check the logs of the minIO pods?
[code]

[2021-02-18 02:58] gitlawr commented on #476
Duplicate of https://github.com/rancher/harvester/issues/449

[2021-02-19 18:36] yasker commented on #217
We also want to support booting Harvester using Equinix Metal since it's one of the most popular baremetal cloud provider there. We should be able to support the iPXE option once phase one is done.

[2021-02-19 18:58] wjimenez5271 commented on #217
Have we considered UFEI's HTTP support for imaging in addition to TFTP? https://documentation.suse.com/sles/15-SP2/html/SLES-all/cha-deployment-prep-uefi-httpboot.html

[2021-02-20 00:59] innobead commented on #217
Except for PXE boot, users can also use iPXE for HTTP protocol. @bk201 has written the documentation in https://github.com/rancher/harvester/pull/478.

[2021-02-22 03:36] DoNotSayYes commented on #465
Validated on master-head

After aborting the installation, the system will be rebooted in a few seconds.

[2021-02-22 03:36] #465 closed, assigned to futuretea, DoNotSayYes

[2021-02-22 03:45] oxr463 opened #480 "[Question] How to configure WiFi"
I have a Lenovo Mini PC that I installed harvester on. During the installation, I selected `wlan0` for my management interface, but it never allowed me to configure it.

[2021-02-22 03:56] DoNotSayYes commented on #464
Validated on master-head
![image](https://user-images.githubusercontent.com/57614736/108656183-dfccec00-7504-11eb-8bd5-fecc34d4f463.png)
![image](https://user-images.githubusercontent.com/57614736/108656534-f70bd980-7504-11eb-821a-569a1763af4a.png)

[2021-02-22 03:56] #464 closed, assigned to WuJun2016, DoNotSayYes

[2021-02-22 04:19] DoNotSayYes commented on #462
Validated on master-head

When finishing restarting the host, the status on that host will be setting up, eventually, it will turn to be running
![image](https://user-images.githubusercontent.com/57614736/108661941-15270900-7508-11eb-9957-6b082a310bdf.png)
![image](https://user-images.githubusercontent.com/57614736/108661961-240dbb80-7508-11eb-84ee-1d58d246f0ba.png)

[2021-02-22 04:19] #462 closed, assigned to futuretea, DoNotSayYes

[2021-02-22 06:28] DoNotSayYes commented on #458
Validated on master-head

Edit the harvester deployment, set the replica to three, delete one or two of the pods then observe the status.

[2021-02-22 06:28] #458 closed, assigned to futuretea, DoNotSayYes

[2021-02-22 07:16] DoNotSayYes commented on #447
Validated on master-head

![image](https://user-images.githubusercontent.com/57614736/108674494-53302700-7520-11eb-979d-fa296f072cf3.png)

[2021-02-22 07:16] #447 closed, assigned to futuretea, DoNotSayYes

[2021-02-22 09:24] DaiYuzeng commented on #401
Hi @DoNotSayYes , we implemented several combination keys:
1. `Ctrl + N` _e.g. open new window in IE_
2. `Ctrl + T` _e.g. open new tab in IE_
3. `Ctrl + W` _e.g. close the tab in IE_
4. `Print Screen` _screenshots were saved at /Users/***/Pictures/Screenshots/** on Windows_
5. `Ctrl + Alt + Delete`

[2021-02-23 10:15] DoNotSayYes opened #481 "[BUG]The prompt on the screen is not fully displayed in installation mode"
**Describe the bug**
The prompt on the screen is not fully displayed in installation mode

**To Reproduce**
Steps to reproduce the behavior:
1. In the installation mode, fill in something incorrect
2. See the prompt

**Expected behavior**
The prompt should be displayed correctly

**Result**
Part of the prompt is not displaying on the screen
![image](https://user-images.githubusercontent.com/576147

[2021-02-23 10:19] DoNotSayYes commented on #472
Validated on master-head
It is not allowed to proceed if filling in an invalid URL/IP
![image](https://user-images.githubusercontent.com/57614736/108829528-3ddff900-7603-11eb-9a9a-ba99b5178faf.png)

[2021-02-23 10:19] #472 closed, assigned to DoNotSayYes

[2021-02-23 17:18] oxr463 commented on #480
I tried the following steps, but they did not work:

1. Create `/etc/wpa_supplicant/wpa_supplicant.conf` file with the following contents:

[code]

2. Run the following command to start the `wpa_supplicant` daemon:

[code]

3. Use `wpa_cli` to configure network:

[code]

When I ran `ip a` I saw that the interface was still DOWN. I also don't see much in the `dmesg` output.

[2021-02-24 01:14] c3y1huang commented on #415
Duplicated to https://github.com/rancher/harvester/issues/453.

[2021-02-24 01:14] #415 closed, assigned to nobody

[2021-02-24 02:04] futuretea opened #482 "[BUG] Can't found kubevirt images from dockerhub"
**Describe the bug**

Can't found kubevirt images from dockerhub

**To Reproduce**
Steps to reproduce the behavior:
1. Build harvester iso
2.  CI fail
https://drone-publish.rancher.io/rancher/harvester-installer/38

**Expected behavior**

CI success

**Log**

[code]

**Environment:**
 Harvester ISO CI:

**Additional context**
Add any other context about the problem here.

[2021-02-24 03:04] DoNotSayYes opened #484 "[BUG]An unexpected textbox appears on the screen when joining a node to the harvester in installation mode"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Join a node to an existing harvester cluster
2. Get to the last step

**Result**
There seems an unexpected textbox appears on the screen
![image](https://user-images.githubusercontent.com/57614736/108940501-6e20a980-768e-11eb-89f7-72d59d56d3d3.png)

**Environment:**
 - Harvester ISO version: master-head
 - Installation Mode

[2021-02-24 06:21] bk201 opened #485 "[BUG] The installer and dashboard are always displayed on tty1"
**Describe the bug**

The harvester-installer and the Dashboard after installation are always tied to tty1.
This prevents users from seeing the installer or the dashboard on headless servers or cloud instances that only come with a serial console.

**To Reproduce**
Steps to reproduce the behavior:
1. Use a headless server or cloud platform like Equinix Metal. I also tested with KVM and use `virsh

[2021-02-24 06:36] guangbochen commented on #288
close in favor of https://github.com/rancher/harvester/pull/414

[2021-02-24 06:36] #288 closed, assigned to guangbochen

[2021-02-24 09:01] DoNotSayYes opened #488 "[BUG] Image URL is missing on the image detail page"
**Describe the bug**
Image URL is missing on the image detail page

**To Reproduce**
Steps to reproduce the behavior:
1. Upload an image file, name it image01
2. Create an image via a URL, name it image02
3. Check image01 and image02 on their detail page respectively

**Result**
The URL is missing on the detail page

**Expected**
1. If image01 which is uploaded has no URL to display, it's better t

[2021-02-24 09:02] DoNotSayYes commented on #444
Tested on master-head

Files whose types are img, iso, qcow2 can be uploaded, moreover, VMs can be created by using those images.
Remaining issues: #488, #489

[2021-02-24 09:02] #444 closed, assigned to WuJun2016, DoNotSayYes

[2021-02-24 09:07] DoNotSayYes opened #489 "[FEATURE] Add an error message when uploading an invalid image file type"
**Describe the bug**
Add an error message when uploading an invalid image file type

**To Reproduce**
Steps to reproduce the behavior:
1. Upload an invalid image file, such file type is .pdf

**Result**
That file is not uploaded, without any error message

**Expected**
It's better to add an indicative error message to tell users that type of file is not allowed to upload.

**Environment:**
 - Harv

[2021-02-24 09:16] guangbochen commented on #436
**Validation steps:**
After the harvester pod is up & running, users can either run `kubectl port-forwad $harvester_pod 9060:6060` and access via localhost:9060 to check it or manually expose port 6060 via a service.

[2021-02-24 10:14] DoNotSayYes commented on #43
Unable to reproduce for the last few weeks.

[2021-02-24 10:14] #43 closed, assigned to WuJun2016, DoNotSayYes

[2021-02-25 03:22] DoNotSayYes opened #490 "[BUG] The validation of the management address failed even if users entered an available address with protocol or port"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. In installation mode
2. Configure the management address

**Test Scenarios**
Assuming the management Address is https://172.16.0.77:6443

**Result**
The validation of the management address failed even if users typed in an available address with protocol or port
![image](https://user-images.githubusercontent.com/57614736/10

[2021-02-25 05:54] bk201 commented on #217
I verify it works with UEFI HTTP boot and added the document: https://github.com/rancher/harvester/pull/478/files#diff-094185991127c17e6f9bd32997c402acc413b512cdaca655aeeb8e6354fbad8bR189

[2021-02-25 07:00] innobead opened #491 "[FEATURE] Support in-cluster PXE booting service to orchestrate mass deployment"
**Is your feature request related to a problem? Please describe.**

As per #217 , PXE boot is supported in the Harvester installer, but users still need to set up the required environment for the complete deployment like iPXE/PXE server.

For better workflow for the user experience, we should provide a built-in booting service (ex: PXE/iPXE) for the complete automatic node deployment and provision

[2021-02-25 08:17] guangbochen commented on #227
**Updates for backing images validation:**
- Raw image format works. ISO images are treated as raw so they work as well.
- Compressed images( in gz or xz format) are supported in CDI, not supported in backing images.
- FS resize is done during system boot(validated cirros, debian, centOS). If the vmImage is added as a non-root disk, it is no resized. It behaves the same as CDI implementation in Bl

[2021-02-25 08:54] DoNotSayYes commented on #259
Test completed

[2021-02-25 08:54] #259 closed, assigned to DoNotSayYes

[2021-02-26 03:51] DoNotSayYes commented on #460
Validated on master-head

**Steps:**
1. Add one master A and one node B
2. Create a VM on the node B
3. Join another node C

**Result:**
After node B and C were promoted to master, the VM does not encounter restarting

[2021-02-26 03:51] #460 closed, assigned to futuretea, DoNotSayYes

[2021-02-26 06:40] DoNotSayYes commented on #484
Validated on master-head
![image](https://user-images.githubusercontent.com/57614736/109264856-93edb000-7840-11eb-9683-838a74070e64.png)

[2021-02-26 06:40] #484 closed, assigned to c3y1huang, DoNotSayYes

[2021-02-26 07:34] DoNotSayYes commented on #436
Validated on master-head
![image](https://user-images.githubusercontent.com/57614736/109269788-fdbd8800-7847-11eb-915a-892c0661b182.png)

[2021-02-26 07:34] #436 closed, assigned to DoNotSayYes

[2021-02-26 07:51] DoNotSayYes commented on #482
Validated on ci https://drone-pr.rancher.io/rancher/harvester-installer/103

[2021-02-26 07:51] #482 closed, assigned to futuretea, DoNotSayYes

[2021-02-26 08:45] DoNotSayYes commented on #459
For now, all the harvester replicas are scheduled to one node, if that node is down, the harvester will be unreachable
![image](https://user-images.githubusercontent.com/57614736/109276915-93114a00-7851-11eb-994f-668b96cfc331.png)
![image](https://user-images.githubusercontent.com/57614736/109277044-bc31da80-7851-11eb-9a81-e09fc5ab33a5.png)

[2021-02-26 18:32] yasker commented on #217
@guangbochen Has this issue passed the QA? Not sure why it's closed.

[2021-02-26 18:34] yasker commented on #217
I see. I think it's because of the keyword `fixes` in the commit message of https://github.com/rancher/harvester-installer/pull/33 . Not sure if we can disable this behavior, otherwise we need to stop using the keyword `fixes`/`fix` etc.

[2021-03-01 01:48] WuJun2016 opened #493 "new green theme"

[2021-03-01 01:57] futuretea opened #494 "[BUG] CI failed, DaemonSet is not ready, need update harvester-network-controller charts"
**Describe the bug**

CI build failed
DaemonSet is not ready: harvester-system/harvester-network-controller. 0 out of 3 expected pods are ready
https://drone-pr.rancher.io/rancher/harvester/615/1/2

After harvester-network-controller refactor ,need to update  harvester-network-controller charts in harvester repo

**To Reproduce**
Steps to reproduce the behavior:
Run CI test

**Expected behavior**

[2021-03-01 03:37] futuretea commented on #455
Reopen by mistake

[2021-03-01 03:37] #455 closed, assigned to futuretea, DoNotSayYes

[2021-03-01 07:23] futuretea opened #495 "[FEATURE] Show host role promote status on UI"
**Is your feature request related to a problem? Please describe.**

Show host role promote status on UI

related issue: #259

**Describe the solution you'd like**

*** Label  Role ***
`control-plane` means label `node-role.kubernetes.io/master="true"` is exist or label `node-role.kubernetes.io/control-plane="true"` is exist.

*** Promote Status ***
The value of annotation `harvester.cattle.io/prom

[2021-03-01 10:28] futuretea commented on #494
link to #369

[2021-03-01 13:48] guangbochen commented on #369
@yaocw2020 u will need to update the `harvester-network-controller` chart in the harvester https://github.com/rancher/harvester/tree/master/deploy/charts/harvester/dependency_charts/harvester-network-controller.

[2021-03-01 15:02] guangbochen commented on #368
if we consider replacing the minio components in the Harvester with longhorn, the following criteria should be considered:
- [ ] support the compressed type of images using longhorn's backing image
- [ ] support uploading local images to the longhorn's backing image
- [ ] consider an alternative of other CSI driver integration(e.g  using volume clone, RMO)

[2021-03-02 02:43] futuretea commented on #393
k8s version is v1.20.1
link to #446

[2021-03-02 02:56] futuretea commented on #441
After use k3s v.1.20+ All APIs are missing view links
Link to #446

[2021-03-02 02:59] futuretea commented on #441
if bump k3s version to v1.20+, need reopen this issue(All APIs are missing view links)

[2021-03-02 03:14] futuretea opened #496 "[FEATURE] Disable k3s Service LB and traefik"
**Is your feature request related to a problem? Please describe.**

After harvester using nodePort to expose service.
k3s svc lb can be disabled, then user can use custom lb

**Describe the solution you'd like**

Disable k3s svc lb on harvester-installer

**Describe alternatives you've considered**

**Additional context**

[2021-03-02 07:51] DoNotSayYes commented on #424
The host CPU utilization seems not getting high anymore.
![image](https://user-images.githubusercontent.com/57614736/109615509-f14e6d80-7b6e-11eb-8409-419f253996e6.png)

[2021-03-02 07:51] #424 closed, assigned to guangbochen, DoNotSayYes

[2021-03-02 09:06] DaiYuzeng opened #499 "Use the LabelValue component to refactor detail pages"
We intend to use the `LabelValue` to instead of `LabeledInput` on detail pages.

[2021-03-02 09:47] DoNotSayYes commented on #427
Validated on master-head
**Steps:**
1. Create a VM
2. Restart it
3. Login in it

**Result:**
No similar error messages were encountered

[2021-03-02 09:47] #427 closed, assigned to guangbochen, DoNotSayYes

[2021-03-03 01:28] DoNotSayYes opened #501 "[BUG] Error messages can be discovered in harvester pod when deleting a VM"
**Describe the bug**
[BUG] Error messages can be discovered in harvester pod when deleting a VM

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the VM page and create a VM
2. Keep tailing the logs of the Harvester pod
3. Delete the VM

**Expected behavior**
VM can be deleted and nothing wrong happens

**Log**
[code]
![image](https://user-images.githubusercontent.com/57614736/109738440-

[2021-03-03 05:27] guangbochen commented on #369
link to PR https://github.com/rancher/harvester-network-controller/pull/22

[2021-03-03 07:05] futuretea commented on #475
Close in favor of #500

[2021-03-03 07:05] #475 closed, assigned to futuretea

[2021-03-03 09:30] futuretea commented on #494
Close in favor of #500

[2021-03-03 09:30] #494 closed, assigned to yaocw2020

[2021-03-03 09:51] futuretea opened #503 "[FEATURE] Add nightly autobuild iso in harvester-installer"
**Is your feature request related to a problem? Please describe.**

It's better to have a nightly build iso to test

[2021-03-03 10:05] gitlawr commented on #384
Migration is not available in v0.1.0. It needs RWM storage support.

[2021-03-03 10:06] larssb commented on #384
Looking forward to 0.2.0 then 😉

[2021-03-03 10:09] gitlawr commented on #384
Changes on UI side(after longhorn version is updated)：
1. On VM/Volume creation, set DataVolume.spec.pvc.accessModes to ReadWriteMany
2. Set VM.spec.template.spec.evictionStrategy to LiveMigrate
3. Adapt VMs' migrate/abortMigration actions
4. Adapt nodes' enable/disableMaintenanceMode actions

[2021-03-03 15:17] futuretea opened #504 "[BUG] harvester-installer CI failed (docker save: Error response from daemon: read )"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
Run harvester-installer ci

**Log**

**Additional context**
Add any other context about the problem here.
[code]

[2021-03-04 07:02] bk201 commented on #469
Some initial thoughts after discussion:

The idea is to add a webhook. And users can specify an URL in the configuration file.
Once the installation is done (or failed), an event will be posted to the URL.

Any other takes @guangbochen ? Thanks.

[2021-03-04 07:17] gitlawr opened #505 "[BUG] helm install failed"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Provision a k8s cluster(v1.19.8)
2. Follow the instructions in https://github.com/rancher/harvester/blob/master/docs/app-mode-installation.md#option-1-install-with-helm

**Expected behavior**
Installation succeeded.

**Log**
[code]

**Environment:**
 - Harvester ISO version: chart on master branch
 - Installation Mode: app-

[2021-03-04 07:34] futuretea commented on #504
Use ctr to workaroundrancher/harvester-installer#49.  Need more investigate.

[2021-03-04 07:51] gitlawr commented on #504
https://github.com/moby/moby/issues/42114

[2021-03-04 13:10] futuretea opened #508 "[BUG] ISO size is bigger than 2GB (release file max size)"
**Describe the bug**

currently, iso size grows to 2.1G

**To Reproduce**
Steps to reproduce the behavior:
1. run harvester-installer ci
2. check iso size

**Expected behavior**

iso size is smaller than 2G

**Log**

https://github.com/futuretea/harvester-autobuild/runs/2030680047?check_suite_focus=true
[code]

[code]

**Environment:**
 - Harvester ISO version:
 - Installation Mode: ISO/app-mode

[2021-03-05 02:19] guangbochen commented on #508
let's move the full iso image to the GCP first before we can get full IT support of this from SUSE, additionally let's add another ISO image without offline-images to the GH release. cc @gitlawr

[2021-03-05 02:42] futuretea commented on #495
So sorry, may be `promote complete` should be `promote completed` @WuJun2016

[2021-03-05 02:47] futuretea opened #509 "[BUG] Need adjust harvester chart version in harvester-installer before release"
**Describe the bug**

After installer by iso, the job of harvester installation always `Error`

**To Reproduce**
Steps to reproduce the behavior:
1. Install harvester by iso

**Expected behavior**

The job of harvester installation will complete

**Log**

[code]

**Environment:**
 - Harvester ISO version:
 - Installation Mode: ISO/app-mode
 - Underlying Infrastructure (e.g. Baremetal with Dell Pow

[2021-03-05 07:27] DoNotSayYes commented on #508
Validated on this site
https://drone-pr.rancher.io/rancher/harvester-installer/166/1/2

[2021-03-05 07:27] #508 closed, assigned to futuretea, DoNotSayYes

[2021-03-05 07:57] yaocw2020 opened #510 "[FEATURE] Configure loop protection for harvester-br0"
**Is your feature request related to a problem? Please describe.**

If over one NIC in the same network attach with harvester-br0, it cause a L2 loop.

**Describe the solution you'd like**

Set STP on. By the way, I have not found a ready-made library written with go to configure STP.

**Describe alternatives you've considered**

None

**Additional context**

[2021-03-05 08:59] DoNotSayYes commented on #471
The info of the optional steps is not clear though it has been erased

[2021-03-05 09:04] DoNotSayYes commented on #470
Validated on master-head
![image](https://user-images.githubusercontent.com/57614736/110088019-50aab880-7dcf-11eb-9b2d-701c15d60ce7.png)
![image](https://user-images.githubusercontent.com/57614736/110089711-63be8800-7dd1-11eb-825b-5b958bb81ff9.png)
![image](https://user-images.githubusercontent.com/57614736/110098793-88b7f880-7ddb-11eb-8648-bd95e1e65d9a.png)

[2021-03-05 09:04] #470 closed, assigned to futuretea, DoNotSayYes

[2021-03-05 09:37] DoNotSayYes commented on #490
**Steps to reproduce:**
1. On the management step, type in an unreachable URL, then enter
2. Type in an IP, then enter

**Result:**
In step 1, when the validation is failed, there will be a few blanks filled in the textbox with an error message
In step 2, fill more content following the blanks, there is another error message appears
![image](https://user-images.githubusercontent.com/57614736/11009

[2021-03-05 10:25] DoNotSayYes commented on #496
Single node
![image](https://user-images.githubusercontent.com/57614736/110094865-442a5e00-7dd7-11eb-8e89-8d9095db7edd.png)
Three-node
![image](https://user-images.githubusercontent.com/57614736/110102600-f36b3300-7ddf-11eb-9fd2-14f4d77bfe30.png)

[2021-03-05 10:25] #496 closed, assigned to futuretea, DoNotSayYes

[2021-03-05 10:53] DoNotSayYes commented on #459
Validated on master-head

[2021-03-05 10:53] #459 closed, assigned to futuretea, DoNotSayYes

[2021-03-07 10:03] yaocw2020 opened #511 "Add integration test for Harvester network controller"
Test case
- Enable VLAN network, set default physical NIC
- Change physical NIC of a node
    - empty NIC
    - valid NIC
    - invalid NIC
- Disable VLAN network

[2021-03-08 09:03] DoNotSayYes commented on #446
Validated on master-head
![image](https://user-images.githubusercontent.com/57614736/110299015-2e63a580-8030-11eb-9ba6-493f3a7374b1.png)

[2021-03-08 09:03] #446 closed, assigned to guangbochen, futuretea, DoNotSayYes

[2021-03-08 09:16] guangbochen opened #512 "[FEATURE] Add Harvester node driver"
**Is your feature request related to a problem? Please describe.**
Add Harvester node driver of Rancher to enable stage a k8s cluster directly with the RKE.

**Describe the solution you'd like**
- build a Harvester node driver using the docker-machine mechanism
- support metadata/userdata injection, test the target OS to be compatible with the requirements of RKE
- default to support `Ubuntu/openS

[2021-03-08 09:22] guangbochen commented on #353
link to PR https://github.com/rancher/harvester-installer/pull/47

[2021-03-08 09:23] guangbochen commented on #429
link to https://github.com/rancher/harvester/issues/512

[2021-03-08 09:31] guangbochen opened #513 "[FEATURE] Add Rancher to the Harvester on HCI mode"
**Is your feature request related to a problem? Please describe.**
Add Rancher to the Harvester by default on the HCI mode, allow the Harvester `admin/user` to manage and create k8s cluster directly using the harvester node driver.

**Describe the solution you'd like**
- install and configure the Rancher by default using Harvester ISO mode installation
- allow the Harvester `admin/user` to manage

[2021-03-08 09:38] guangbochen commented on #407
can we re-validate this issue on the latest version, thanks?

[2021-03-08 10:09] DoNotSayYes commented on #499
Validated on master-head
![image](https://user-images.githubusercontent.com/57614736/110306937-5a375900-8039-11eb-817e-467ecb310586.png)
![image](https://user-images.githubusercontent.com/57614736/110307008-69b6a200-8039-11eb-80e8-d5a4c7283b2f.png)

[2021-03-08 10:09] #499 closed, assigned to DaiYuzeng, WuJun2016

[2021-03-08 10:14] DoNotSayYes commented on #407
Unable to reproduce on master-head
![image](https://user-images.githubusercontent.com/57614736/110307613-15f88880-803a-11eb-818c-f7984a8d7859.png)

[2021-03-08 10:14] #407 closed, assigned to nobody

[2021-03-08 10:53] DoNotSayYes commented on #393
Tested on master-head, everything seems fine in app mode.
![image](https://user-images.githubusercontent.com/57614736/110311970-7938e980-803f-11eb-9360-a4ccdc950afe.png)

[2021-03-08 10:53] #393 closed, assigned to guangbochen, futuretea, DoNotSayYes

[2021-03-08 11:26] DoNotSayYes commented on #353
Validated on master-head, that kind of error messages were not found.
![image](https://user-images.githubusercontent.com/57614736/110315030-9d96c500-8043-11eb-8517-d91fd6eff200.png)
![image](https://user-images.githubusercontent.com/57614736/110315286-00885c00-8044-11eb-926a-d0a1a6f23f73.png)

[2021-03-08 11:26] #353 closed, assigned to gitlawr, futuretea

[2021-03-08 11:31] DoNotSayYes commented on #490
Validated on master
![image](https://user-images.githubusercontent.com/57614736/110315807-bbb0f500-8044-11eb-8c53-7d6f8652a005.png)

[2021-03-08 11:47] DoNotSayYes commented on #490
Getting back to the previous steps and still using the same & correct management IP to proceed, an error message still can be encountered.
![image](https://user-images.githubusercontent.com/57614736/110317271-df753a80-8046-11eb-97ec-618f6d9aa8b1.png)

[2021-03-09 02:12] DoNotSayYes commented on #471
Validated on master-head

[2021-03-09 02:12] #471 closed, assigned to futuretea, DoNotSayYes

[2021-03-09 02:43] DoNotSayYes opened #514 "[BUG] The installation would be stuck if an unsupported protocol cloud-init has been configured"
**Describe the bug**
The installation will be stuck if an unsupported protocol cloud-init has been configured

**To Reproduce**
Steps to reproduce the behavior:
1. In installation mode
2. Fill in something randomly, e.g., aaa, then proceed.

**Result**
The installation will be stuck if an unsupported protocol cloud-init has been configured.
![image.png](https://images.zenhubusercontent.com/5e65a19

[2021-03-09 06:37] DoNotSayYes opened #515 "[BUG] Harvester theme color incorrect"
**Describe the bug**
Harvester theme color incorrect

**To Reproduce**
Steps to reproduce the behavior:
1. The local machine is in dark theme
2. Log in harvester

**Result**
The harvester dark theme is in blue color

**Expected**
The blue color in the dark theme is not expected.
![image](https://user-images.githubusercontent.com/57614736/110428844-f1a5b600-80e4-11eb-99d3-3afc1ef06a97.png)

**Envir

[2021-03-09 08:15] TangStone commented on #493
@WuJun2016  Switch to Dark mode, should it be blue or green
![image](https://user-images.githubusercontent.com/15829074/110439593-9ed2fb00-80f2-11eb-97bd-c4297fc1422b.png)

[2021-03-09 09:40] DoNotSayYes opened #516 "[BUG] Configuring the network connection will cause the installation to exit if the nic state is down"
**Describe the bug**
Configuring the network connection will cause the installation to exit if the nic state is down

**To Reproduce**
Steps to reproduce the behavior:
1. Install harvester in installation mode
2. Assuming the host has only one nic and its state is down
3. Configure the network connection

**Result**
Configuring the network connection will cause the installation to exit if the nic

[2021-03-09 10:02] DoNotSayYes commented on #367
**Scenarios：**
Assuming the management host is: https://172.16.0.123
- [x] 1. Configure a static IP that is in the same subnet as the management host.
- IP: 172.16.0.111/16
- Gateway: 172.16.0.1
- DNS: 0.0.0.0,8.8.8.8
- [x] 2. Configure a static IP that is in another subnet.
- IP: 172.15.0.111/16
- Gateway: 172.15.0.1
- DNS: 0.0.0.0,8.8.8.8
- [ ] 3. Assuming the nic state is down, try to set up a

[2021-03-09 11:10] WuJun2016 commented on #493
@TangStone  I think it should be green

[2021-03-09 13:17] guangbochen opened #517 "[FEATURE] support create VM template use existing VM"
**Is your feature request related to a problem? Please describe.**
allow the user to create a VM template using the existing VM

**Describe the solution you'd like**
- configurations like basic configuration, volumes, networks, and advanced options should be saved
- Do NOT save interface macAddress since it is unique of each VM pod

**Describe alternatives you've considered**
N/A

**Additional con

[2021-03-10 02:02] WuJun2016 commented on #413
**To Reproduce**
1. create new vm
2. delete vm
3. Disconnect the network
4. Waiting for websock to disconnect  (Console will print (socket closed))
5. Reconnecting the network

[2021-03-10 02:19] TangStone commented on #493
@DaiYuzeng Please change the color to green

[2021-03-10 03:37] TangStone commented on #453
Validation Version:master-4d96da79-head
To verify the method, use the command `sudo k3s ctr image ls | grep kubevirt`
![image](https://user-images.githubusercontent.com/15829074/110572446-5d932780-8194-11eb-8162-e37619196ef5.png)
Verification passed

[2021-03-10 05:12] futuretea opened #518 "[BUG] Can't RollingUpdate harevster deployment if node numbers <3"
**Describe the bug**

Can't RollingUpdate harevster deployment

**To Reproduce**
Steps to reproduce the behavior:
1. kubectl -n harvester-system set image deployment/harvester apiserver=newimagename
2. kubectl -n harvester-system get po

result: new replicaset keep pending

**Expected behavior**

if `app.kubernetes.io/version` is differenet
1. new replicaset ready
2. old replicaset deleted

**Log*

[2021-03-10 06:42] guangbochen commented on #453
/reopen as we will need to validate the longhorn component after version bump

[2021-03-10 07:54] WuJun2016 opened #520 "[FEATURE] show action error message"
**Is your feature request related to a problem? Please describe.**
An error occurred in the action operation and no error message was displayed

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-03-11 02:04] WuJun2016 commented on #495
promote complete => promote completed    (done)

[2021-03-11 02:49] DaiYuzeng commented on #493
use green as primary color on dark mode

[2021-03-11 04:15] WuJun2016 opened #522 "add v3 schema check on harvester ui"
install Harvester without rancher integration e.g the App mode installation, the Harvester UI should not either be crashed or blocked by /v3 schema not found error.

[2021-03-11 06:57] WuJun2016 opened #523 "[FEATURE] cloudInit enhancement"
**Is your feature request related to a problem? Please describe.**

add cloudInit template in vm
**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-03-11 07:18] DoNotSayYes commented on #490
Validated on master-head
![image](https://user-images.githubusercontent.com/57614736/110750099-f3a27d00-827c-11eb-8613-0fd49cf4faf0.png)

[2021-03-11 07:18] #490 closed, assigned to futuretea, DoNotSayYes

[2021-03-11 07:26] #367 closed, assigned to futuretea, DoNotSayYes

[2021-03-11 09:24] TangStone commented on #518
Validation Version
- master-dba9243a-head

Validation Scenarios
- 1 node and 2 nodes need to be verified separately
- 1 node needs to change the value of the tag app.kubernetes.io/version
- Use the command `kubectl -n harvester-system set image deployment/harvester apiserver=newimagename`
- View the images version in Running's pod `kubectl -n harvester-system get pod harvester-65957bc4dc-mblmt -o

[2021-03-11 09:25] #518 closed, assigned to futuretea, TangStone

[2021-03-11 09:46] pblee88 opened #525 "Creating images getting "Network Error" message."
When creating Harvester images. After place the image URL and click create button. Getting "Network Error" message. I have check the host able to ping and curl to my own web server which contain image file. Any idea what is wrong on this?

[2021-03-11 09:53] gitlawr commented on #525
Can you provide the following information:
 - Harvester version:
 - Installation Mode: ISO or app-mode

Can you also check the requests' status in the browser console?

[2021-03-11 09:57] pblee88 commented on #525
* Harvester version:

Ans: v0.1.0

  * Installation Mode: ISO or app-mode

Ans: ISO

On 11/Mar/2021 17:53:28 PM, Lawrence Li wrote:

[2021-03-11 10:01] TangStone commented on #493
Versions : master-dba9243a-head
Switch to Dark mode
![image](https://user-images.githubusercontent.com/15829074/110769783-89e19d80-8293-11eb-9596-95c6536a716b.png)
Validated

[2021-03-11 10:03] #493 closed, assigned to TangStone

[2021-03-12 02:16] gitlawr commented on #469
@4msamir It would be appreciated to have your input as well since you are the author of the original issue

[2021-03-12 03:16] TangStone commented on #495
**Validation Scenarios**
1. From 2 nodes, expand to 3 nodes and observe the state change of the compute node
2. Remove one of the control-planes from 4 nodes and observe the state of the compute node

**The results are in accordance with the following table**

Label  Role | Promote Status | Show Promote Status |  Show Promote Status(ZH) | Validation
-- | -- | -- | -- | --
none | none | none | none

[2021-03-12 03:27] #495 closed, assigned to TangStone, WuJun2016

[2021-03-12 04:18] WuJun2016 opened #526 "[FEATURE] Progress indicator for backups & restores"
1.  add volume percentage
2. add backup percentage

[2021-03-12 05:22] gitlawr commented on #503
image is publish to http://releases.rancher.com/harvester/master/harvester-amd64.iso

[2021-03-12 06:53] pblee88 commented on #525
Today I am getting another error message while creating images.

Get http://minio.harvester-system:9000/vm-images/?location=: dial tcp 10.43.187.44:9000: connect: connection refused
--

[2021-03-12 07:14] WuJun2016 opened #527 "[BUG] If no CRD, the environment should not crash"
**Describe the bug**
Request a non-existent CRD object, the whole page will crash，
（For example, the user's UI is the latest version, but the back end is not upgraded）

**Expected behavior**
I hope the UI will not crash
![image](https://user-images.githubusercontent.com/4569037/110909455-100ceb00-834b-11eb-8c5b-404e0f0cb1db.png)

[2021-03-12 07:24] gitlawr commented on #525
Can you ssh to the node and run `kubectl get po -n harvester-system  -l app=minio` to check?

Regarding the original issue, Did you check the API call status in the browser console?

[2021-03-12 09:52] pblee88 commented on #525
Here is the screenshot

Screenshot for first question.
![Screenshot for kubectl command](https://user-images.githubusercontent.com/30486081/110923060-6e41ca00-835b-11eb-8cc4-9d295017d9dc.png)

Screenshot for 2nd question.
![Screenshot for Network Error message](https://user-images.githubusercontent.com/30486081/110923064-700b8d80-835b-11eb-9ba8-b373fe762256.png)

[2021-03-12 10:15] TangStone commented on #441
**Validation Version**
- master-3d9efd26-head

**Verification steps**

-  use k3s v.1.20+

![image](https://user-images.githubusercontent.com/15829074/110918794-8531ed80-8356-11eb-8407-05b413488e47.png)

- the view link is visible in every API. And the userpreferences API is callable for now.

![image](https://user-images.githubusercontent.com/15829074/110925472-31c39d80-835e-11eb-9020-9ddf610cbf3

[2021-03-12 12:03] #441 closed, assigned to guangbochen, futuretea, TangStone, DoNotSayYes

[2021-03-14 15:57] liorkesos opened #531 "Better error messages when misconfiguring multiple nics"
I installed harvester on a machine with 4 network cards.
Apparently once I disconnected the cable I reconnected it to the wrongn network connection (eth3 insteadf of eth0)
When installing you guys showed which nic was connected and that was helpfull.
Maybe you should have similar information in your status page.
"ETH0 confugured but ETH3 connected."

This is the error I sae in the the k3s log
[cod

[2021-03-15 05:15] guangbochen opened #532 "[BUG] CI failed on the harvester network controller"
**Describe the bug**
CI failed on the harvester network controller not ready https://drone-publish.rancher.io/rancher/harvester/184/1/2

**Expected behavior**
CI should pass the integration test of the network controller

**Log**
[code]

**Environment:**
 - Harvester ISO version: master-head
 - Installation Mode: app-mode
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630): CI i

[2021-03-15 06:02] guangbochen commented on #517
@DaiYuzeng I think we should implement this via backend with a new `createTemplate` action instead do it via front-end.

[2021-03-15 06:17] TangStone commented on #509
**Validation Version**
- master-3d9efd26-head

**Steps**
1. Install harvester by iso
2. View helm-install-harvester pod and  harvester pod logs
- `kubectl logs -f helm-install-harvester-pmj2r -n kube-system`
- `kubectl logs -f harvester-9cffd97b8-hq8ts -n harvester-system`

**Results**
1. Successful deployment
2. No error reported in the logs

[2021-03-15 10:27] yaocw2020 opened #534 "[BUG] Ping harvester-br0 fail within office network"
**Describe the bug**

Ping harvester-br0 failed while arping successed within office network.

[code]
[code]
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'

**Expected behavior**

**Log**

**Environment:**
 - Harvester ISO version:
 - Installation Mode: ISO/app-mode
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630):

**Additional context**
Add any oth

[2021-03-16 00:57] pblee88 commented on #525
Attach is the screen shoot after re run the kubectl get po -n harvester-system -l app=minio command again.

![image](https://user-images.githubusercontent.com/30486081/111240006-56a56280-8635-11eb-81be-674fcc12a9e8.png)

[2021-03-16 02:47] gitlawr commented on #525
1. For the cert issue, you can trust the CA cert in your system, or try to re-enable the certificate check in chrome, then proceed by ignoring the warnings.
![image](https://user-images.githubusercontent.com/5697937/111248088-2d400300-8644-11eb-81fa-762ee75c8eb8.png)

2. You can run `kubectl describe po minio-3 -n harvester-system` to check why it is in a pending state.

[2021-03-16 06:20] bk201 commented on #485
By testing [current master code](https://github.com/rancher/harvester-installer/tree/0c48dec613364caadb78a246bc2a58eb8ae110be) on Equinix Metal, we found the installer is not displayed on ttyS1.

The repo contain sample iPXE scripts for the test: https://github.com/bk201/hvst-ipxe/tree/51d4ded66ec34e89c9c31959f9f5ee2feded4032/equinix

After Equinix boot up a node, we can see kernel messages are pr

[2021-03-16 06:42] rrrai commented on #404
I had a similar issue with install on bare metal node using USB drive. On boot the disk would go into rescue mode. I was using rufus-3.13 to create usb disk using defaults. Creating the disk with gpt partion and with dd write resulted in a viable usb drive that worked.
<img width="392" alt="rufus-3 13-Harvester" src="https://user-images.githubusercontent.com/50937667/111266603-c5b09600-85f8-11eb-9

[2021-03-16 15:40] yasker commented on #268
Had the issue again for a v0.2.0 demo.

[2021-03-16 16:22] belgaied2 opened #535 "[BUG] Settings link in the Advanced/Networks menu does not work"
**Describe the bug**
I want to define a Host Network, I click on the menu Advanced/Networks, I see `You must configure a network in Settings before creating a new network. ` which is expected, but clicking on `Settings` in the message gives a blank screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Login to Harvester,
2. Go to menu `Advanced`, then `Networks`
3. Click on `Settings`
4. S

[2021-03-17 03:06] #509 closed, assigned to gitlawr, TangStone, DoNotSayYes

[2021-03-17 05:58] liorkesos commented on #513
+1

[2021-03-17 06:51] bk201 commented on #283
I can confirm the feature is available in KubeVirt `0.38.1` that is currently run with Harvester.

Here are some experiments:
- Add this ConfigMap to the `harvester-system` namespace, this enables hot plugging support.
[code]
- Create a volume on the `Volumes` page
- Attach the volume via [API call](https://kubevirt.io/api-reference/v0.38.1/operations.html#_v1vm-addvolume) or my [WIP change](https

[2021-03-17 06:59] guangbochen commented on #283
I think we should enable the `hotplug` feature by default and configure the following feature gate at kubevirt CR: https://github.com/rancher/harvester/blob/master/deploy/charts/harvester/dependency_charts/kubevirt/values.yaml#L127
[code]

[2021-03-17 07:24] TangStone opened #536 "[BUG] Language setting Chinese, Virtual Machine Backup Operation Success Alert Box in English"
**Describe the bug**

Language setting Chinese, Virtual Machine Backup Operation Success Alert Box in English

**To Reproduce**
Steps to reproduce the behavior:
1. Language setting Chinese
2. create a vm and back it up

**Result**
![image](https://user-images.githubusercontent.com/15829074/111428000-e4ff0e80-8731-11eb-9069-7868a78605b9.png)

**Expected behavior**

 The prompt box is in Chinese

**

[2021-03-17 08:11] WuJun2016 commented on #535
@belgaied2
 The latest version has changed, please use the latest version, thank you.

[2021-03-18 09:57] pblee88 commented on #525
I manage to fix the cert issue. Need to go to "Internet Properties"/"Content" tab/ and clock on clear SSL state.

Regarding the issue 2nd issue. After run the kubectl describe po minio-3 -n harvester-system command. Below is the output.

Name:           minio-3
Namespace:      harvester-system
Priority:       0
Node:           <none>
Labels:         app=minio
                controller-revision-ha

[2021-03-18 10:14] gitlawr commented on #525
You can run the following to check why PVCs are unbound
[code]

[2021-03-18 11:50] TangStone commented on #385
There are problems with this scenario @guangbochen

Restoring a new vm after multiple backups of the same vm successfully

**Steps**
1. Create vm successfully and login
2. add back1.txt to save and backup vm to vm-back1
3. add back2.txt to save and backup vm to vm-back2
4. install docker on vm, backup vm to vm-back3-with-docker
6. wait for vm-back1, vm-back2, vm-back3-with-docker to finish backup

[2021-03-19 09:12] DoNotSayYes opened #538 "[BUG] Users are allowed to create networks when an invalid physical NIC has been configured."
**Describe the bug**
Users are allowed to create networks when an invalid physical NIC has been configured.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the VLAN edit page
2. Enable the default physical nic and set it to 1, then save

**Result**
Even though an invalid physical nic is configured, users are still allowed to create networks. By the way, the error message seems a little

[2021-03-19 09:44] DoNotSayYes opened #539 "[BUG] The error message should be dismissed if the physical NIC has been corrected from an invalid one"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the VLAN edit page
2. Enable the default physical nic and set it to 1, then save
3. Edit the default physical nic, and set it to eth0, which is fetched from one of the cluster hosts.

**Result**
Even though the physical nic has been corrected, the error message displays on the networks page all the time
![image](https

[2021-03-19 09:57] TangStone commented on #413
**Validation Version**
- master-85a12ff7-head

**Steps**
https://github.com/rancher/harvester/issues/413#issuecomment-794735413

**Result**

- Can't reproduce

[2021-03-19 09:59] #413 closed, assigned to futuretea, TangStone, WuJun2016

[2021-03-20 14:23] 4msamir commented on #469
The webhooks solution is great fix to hook post/pre actions

[2021-03-22 07:14] DoNotSayYes opened #542 "[BUG] The default NIC value needs to be erased if VLAN has been disabled"
**Describe the bug**
The default NIC value needs to be erased if VLAN has been disabled

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the VLAN edit page
2. Set the VLAN default to 1 and save it.
3. Edit VLAN and disable it

**Result**
The default NIC value is still displaying on the settings list.
![image](https://user-images.githubusercontent.com/57614736/111953050-093b6080-8b21-11e

[2021-03-22 07:21] gitlawr opened #543 "[BUG] Minio pods stuck in terminating status with FailedMount errors"
**Describe the bug**

**To Reproduce**
Does not reproduce consistently

Env1:
Deploy a three-node Harvester cluster(8c8G+4c4G*2)  and observed two minIO pods in Terminating status before any operations.

QA Env2:
A three-node Harvester cluster(4c8G+2c4G*2)
Was testing vm creation, backup & restore stuff, and all minIO pods are terminating after leaving the env untouched in two days.

**Log**
![ima

[2021-03-22 07:22] gitlawr commented on #543
Longhorn support bundle: [longhorn-support-bundle_f1802c5f-f0ed-42d5-8176-04aa99bf99f2_2021-03-19T14-07-15Z.zip](https://github.com/rancher/harvester/files/6180213/longhorn-support-bundle_f1802c5f-f0ed-42d5-8176-04aa99bf99f2_2021-03-19T14-07-15Z.zip)

[2021-03-22 07:24] gitlawr commented on #543
Issues that seem relevant:
https://github.com/longhorn/longhorn/issues/2276
https://github.com/k3s-io/k3s/issues/732
https://github.com/hetznercloud/csi-driver/issues/46

[2021-03-22 07:26] gitlawr commented on #543
The workaround provided in https://github.com/k3s-io/k3s/issues/732#issuecomment-526036948 does **NOT** help
[code]

[2021-03-22 07:57] gitlawr commented on #268
To reproduce in master 3d4a599,
Case 1:
1. Install harvester and access the dashboard, trust the self-signed certificate in Chrome.
2. delete one of the harvester pod.
3. refresh the browser

Result: unable to load the UI, some of the API calls fail.
![image](https://user-images.githubusercontent.com/5697937/111961641-40fbd580-8b2c-11eb-8e77-2030740e2cf6.png)

Case 2:
Trust the root CA generated b

[2021-03-22 07:59] gitlawr commented on #268
We have 3 harvester replicas now, when the certificate is updated it may be inconsistent in different replicas.
Now we use Nodeport to expose Harvester, it DNATs the requests using the pod ip so the generated certificate SANs do not include the access url.

[2021-03-22 08:17] pblee88 commented on #525
Base on the command you provided. It look like my VM is running  out of resources. I am setting up another set of Rancher/Harvester on 2 bare metal server. My bare metal system have plenty of resource with 7TB local disk. But I am not understand why main server Rancher/Harvester installation only auto partition to 20GB disk space. Remaining disk space is not using. 2nd bare metal server configure

[2021-03-22 08:17] WuJun2016 opened #545 "network ui related changes"
1.  Add vlan configuration on the setting page
2.  When the network configuration is all unavailable, the create button should be unavailable
3.  If the network (vlan) configuration is useful in the vm, when the network is not available, you need to add prompt information to the vm list
4.  Delete the state in the network page

[2021-03-22 08:22] pblee88 commented on #525
Attach is the screen capture after installation. only 19GB partition created on /dev/sda1.
![image](https://user-images.githubusercontent.com/30486081/111960349-9800ab00-8b2a-11eb-8092-5a2d3349bdf4.png)

[2021-03-22 08:47] DoNotSayYes opened #546 "[BUG] Websocket keeps reconnecting on the host detail page"
**Describe the bug**
Websocket keeps reconnecting on the host detail page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the settings page and enable VLAN
2. Go to the host detail page
3. Check on the console in Chrome

**Result**
Websocket keeps reconnecting on the host detail page
![image](https://user-images.githubusercontent.com/57614736/111962894-dc417a80-8b2d-11eb-9545-a917c053b

[2021-03-22 09:15] TangStone commented on #385
Whether NFS or S3 is used as backup-target, deleting backups on the UI will not actually change the size of backup-target.

[2021-03-22 09:25] DoNotSayYes opened #547 "[BUG] Clicking the header of the VM instance list causes a tab switching"
**Describe the bug**
Clicking the header of the VM instance list causes a tab switching

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the settings page and enable VLAN
2. Go to the host detail page, switch to the VM instance tab
3. Click on the header

**Expected behavior**
While clicking on the header of the VM instance list, it will switch back to the basics tab
![image](https://us

[2021-03-22 09:30] DoNotSayYes opened #548 "[BUG] VM IP address displays incorrect"
**Describe the bug**
VM IP address displays incorrect

**To Reproduce**
Steps to reproduce the behavior:
1. Create a VM
2. Go to the VM detail page
3. Check IP Address

**Result**
VM IP address displays incorrect
![image](https://user-images.githubusercontent.com/57614736/111968393-0dbd4480-8b34-11eb-84cc-8098e06c0dbf.png)

**Environment:**
 - Harvester ISO version: master-head
 - Installation Mod

[2021-03-22 10:12] DoNotSayYes opened #549 "[BUG] Remove Pod IPs if VMs are using VLAN subnets"
**Describe the bug**
Remove Pod IPs if VMs are using VLAN subnets

**To Reproduce**
Steps to reproduce the behavior:
1. Create a VM using VLAN subnet
2. When the VM is up, check the vmi in the cluster

**Result**
On the VM list page, both Pod IP and VLAN subnet IP are displaying.
![image](https://user-images.githubusercontent.com/57614736/111972353-570f9300-8b38-11eb-8709-40404476594d.png)
![image

[2021-03-22 11:05] gitlawr commented on #543
The above role does not grant Get permission. If I give proper permissions to `system:nodes` group, the events change to the following:
[code]

I don't find any volumeattachments on the nn2 node. It's the node that terminating pods were scheduled.
[code]

[2021-03-22 13:24] TangStone commented on #385
@WuJun2016
Steps
1. Successfully create a VM
2. Use the VM to create two backups with the same name

Results
- There will be two alert boxes, success and failure
- No backups were eventually created
![image](https://user-images.githubusercontent.com/15829074/111994836-330d7b00-8b53-11eb-9340-48fd37e28e76.png)

Expectation

-  only failed box

[2021-03-22 22:50] yasker commented on #283
@bk201 @guangbochen Since live migration is not supported, we probably cannot use the hotplug disk feature from KubeVirt directly.

[2021-03-22 22:55] yasker opened #551 "[FEATURE] End to end (e2e) test framework"
We need to create an end-to-end test framework for Harvester.

All the major features of Harvester need to be tested, including starting/stopping VM and VLAN, etc.

[2021-03-22 23:16] yasker opened #552 "[FEATURE] Use Rancher authentication for Harvester"
It takes a lot of effort to create an authentication solution, so with the Rancher pre-installed with Harvester (#513), we should try to reuse the Rancher authentication instead of creating Harvester own.

It should be transparent to the user. They shouldn't need to configure Rancher directly to make it work.

[2021-03-22 23:19] yasker opened #553 "[FEATURE] VM Snapshot support"
The user should be able to create an in-cluster snapshot and revert back to it later.

This in addition to #479 , which only covers backup to the outside of the cluster.

[2021-03-23 00:04] PhanLe1010 commented on #543
I cannot reproduce this issue. Steps I have taken:

## Case 1: Test Minio chart alone (which is a sub chart in Harvester)
1. Install K3s `v1.20.4+k3s1`
1. Install Longhorn master/v1.1.1-preview1 version
1. git clone https://github.com/minio/charts.git
1. cd ./charts/minio
1. helm install minio . --set persistence.storageClass=longhorn --set persistence.size=1Gi --set resources.requests.memory=100M

[2021-03-23 04:01] gitlawr opened #554 "Mirror container images"
Mirror all required container images to the same organization in DockerHub.

[2021-03-23 04:02] gitlawr commented on #554
For reference: https://github.com/rancher/image-mirror

[2021-03-23 10:05] TangStone opened #557 "[BUG]Not found hint for the physical NIC which used by management network"
**Describe the bug**

Not found hint for the physical NIC which used by management network
**To Reproduce**
Steps to reproduce the behavior:
1. Click to Setting to set vlan
2. Click Hosts to network settings
3. Select the list of NICs

**Expected behavior**

there are a hint for the physical NIC which used by management network
**Log**

**Environment:**
 - Harvester ISO version: master-3d4a5990-he

[2021-03-23 10:07] gitlawr commented on #532
CI passed

[2021-03-23 10:07] #532 closed, assigned to yaocw2020

[2021-03-23 16:39] yaocw2020 commented on #534
It's helpful to set `rp_filter` as 2.
[code]
However, it's not recommended that over one network interface is configured with IP address and routes in the same IP subnet.

[2021-03-24 03:44] TangStone commented on #516
Validated on master-3d4a5990-head
![image](https://user-images.githubusercontent.com/15829074/112250711-d74b0b00-8c94-11eb-8219-854e53150a3a.png)
@futuretea  There is an error in the prompt

[2021-03-24 04:29] rmweir commented on #517
Cannot assign myself but going to give this issue a try.

[2021-03-24 04:33] gitlawr opened #558 "[BUG] Failing to install master chart"
**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Harvester in app mode, use the chart in the master branch

**Expected behavior**
Deployment succeeds

**Result**
Failed to install app harvester-system. Error: failed post-install: unable to build kubernetes object for post-install hook harvester/templates/longhorn-storageclass-override.yaml: error validating "": error validating data: ap

[2021-03-24 04:57] futuretea commented on #516
@TangStone Fixed

[2021-03-24 05:28] TangStone commented on #369
### support static IP address #367
**Validation Version**
- master-8d070c0e-head

- [x] 1.  Use the tab key to bring up Method for ipv4
![image](https://user-images.githubusercontent.com/15829074/112262102-09199d00-8ca8-11eb-81f1-fc045a410f58.png)

2. Configure static IP address
- [x] 2.1 Legitimate static ip address settings
![image](https://user-images.githubusercontent.com/15829074/112263859-ee

[2021-03-24 06:14] gitlawr opened #561 "[BUG] State is missing for newly created VMs"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. create a cirros image
2. create a VM from the image with 1C1G

**Environment:**
 - Harvester ISO version: master
 - Installation Mode: ISO

**Result**
![image](https://user-images.githubusercontent.com/5697937/112263945-09fffe00-8cab-11eb-92e0-7dfc9ce8aba6.png)

It shows running after a period of time
![image](https://user-

[2021-03-24 07:58] gitlawr opened #562 "[BUG] Migration fails if USB tablet is enabled"
**To Reproduce**
Steps to reproduce the behavior:
1. Create a cirros VM with 1C1G. Confirm that USB tablet is enabled in VM advanced options
2. Click migrate action of the VM.

**Expected behavior**
Migration succeeds

**Result**
The VM hangs in running/migrating state.

**Log**
From the target launcher pod:
[code]

**Environment:**
 - Harvester ISO version: master
 - Installation Mode: ISO

**Add

[2021-03-24 08:32] gitlawr commented on #525
Offline resize is supported with the following steps:
[code]

We are planning to move out the minIO component so this limit is hopefully gone in the next release

[2021-03-24 09:01] WuJun2016 opened #563 "[BUG] proxy mode can't remove vm"
**Describe the bug**
Cannot delete vm in proxy mode

**To Reproduce**
1. Deploy the harvester app in the rancher store
2. Open harvester ui via app
3. create a vm
4. delete vm

**Expected behavior**
vm should be deleted

**Environment:**
 - Harvester ISO version:
 - Installation Mode: app-mode
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630):

**Additional context**
Add any o

[2021-03-24 09:08] WuJun2016 commented on #539
@DoNotSayYes   The modification of the defailtPhysicalNIC attribute will not affect the existing nodeNetwork crd object, so it is correct that the error message did not disappear

[2021-03-24 09:14] gitlawr commented on #539
~~We shouldn't show errors if the configurations are correct. It needs to be fixed in the backend in this case~~
Nevermind, I get what @WuJun2016 means. I think current info telling the default applies to new nodes make sense

[2021-03-24 10:04] futuretea opened #564 "[BUG] watchdog :BUG : soft lockup"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**

**Log**

![image](https://user-images.githubusercontent.com/15064560/112291597-362b7700-8ccb-11eb-8789-ed3a0de24cad.png)
[code]
**Environment:**
 - Harvester ISO version:
 - Installation Mode: ISO
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630):

**Additional context**
Add any oth

[2021-03-24 10:28] TangStone commented on #369
### get a list of physical NIC #362
**Validation Version**
- master-8d070c0e-head
- [x] 1. Disable Vlan , Unable to view the list of physical NIC

![image](https://user-images.githubusercontent.com/15829074/112281513-1727e780-8cc1-11eb-8bfe-3b6ae3a33d11.png)
- [x] 2. Enable Vlan , able to view the list of physical NIC
![image](https://user-images.githubusercontent.com/15829074/112286058-e39b8c00-8

[2021-03-24 13:20] TangStone commented on #369
### set custom Physical NIC on each node #249
**Validation Version**
- master-8d070c0e-head

**The information of the deployed harvester node is as follows**
![image](https://user-images.githubusercontent.com/15829074/112314254-c5dd1f80-8ce3-11eb-8811-b0b12c564aa1.png)
**Step**
1. Click on the harvester2 node ellipsis and select "Edit Config" to enter the Network settings
![image](https://user-ima

[2021-03-25 01:24] TangStone commented on #362
Validated https://github.com/rancher/harvester/issues/369#issuecomment-805692471

[2021-03-25 01:26] #362 closed, assigned to yaocw2020, TangStone, WuJun2016

[2021-03-25 01:28] TangStone commented on #249
Validated https://github.com/rancher/harvester/issues/369#issuecomment-805814571

[2021-03-25 01:28] #249 closed, assigned to yaocw2020, TangStone, WuJun2016

[2021-03-25 02:39] WuJun2016 commented on #546
@guangbochen     When I subscribe to resources based on id, the situation of always disconnecting and reconnecting will recur. Please help to determine if I can subscribe to resources based on ID

[2021-03-25 02:44] WuJun2016 opened #567 "[FEATURE] add default rancher server-url on harvester first login"
**Is your feature request related to a problem? Please describe.**
add default rancher server-url on harvester first login

**validation steps**
1. visit rancher and check it server-url is same as harvester URL but with port 30444

[2021-03-25 03:05] DoNotSayYes commented on #543
minIO is changed to standalone mode in master. I still get this error using master ISO(3*8C8G).
[code]

[2021-03-25 03:59] gitlawr commented on #546
It seems that watching nodemetrics.metrics.k8s.io is not supported
[code]
Can we change to watch the collection if that works in this case?

[2021-03-25 04:53] yasker opened #568 "[FEATURE] Create image from volume"
It's common for the user to modify the existing VM content, then want to use the updated volume content as an image for the new VM.

We need to support create an image from a volume, for both root image and non-root image.

Depends on: https://github.com/longhorn/longhorn/issues/2403

[2021-03-25 04:55] yasker opened #569 "[FEATURE] VM Clone support without backupstore"
We should be able to support clone VM along with all of the data.

~~Depends on: https://github.com/longhorn/longhorn/issues/1815~~

After investigation, it depends on https://github.com/longhorn/longhorn/issues/2534 .

[2021-03-25 05:07] yasker commented on #451
Duplicate of https://github.com/rancher/harvester/issues/568

[2021-03-25 05:08] yasker opened #570 "[FEATURE] Image upload"
We want to support users to upload images from the local desktop to the Harvester cluster.

[2021-03-25 05:14] yasker opened #571 "[FEATURE] Create a template from VM, including root and data disks"
**Is your feature request related to a problem? Please describe.**
Sometimes the user would want to create a template that includes all the states of the VM and use the template to create copies of the VM in the future.

**Describe the solution you'd like**
Support create a VM template with data from an existing VM.

**Describe alternatives you've considered**
VM clone (#569) is another way to sol

[2021-03-25 05:27] yasker opened #572 "[FEATURE] Recurring snapshot/backup setup"
We should recommend and provide a way for the users to backup VM data periodly.

[2021-03-25 05:29] yasker opened #573 "[FEATURE] Node eviction"
In case the user want to perform maintenance operation on a node, we should allow user to perform a node eviction to gracefully migrate all the VMs into other nodes.

[2021-03-25 05:32] yasker opened #574 "[FEATURE] Soft reboot/shutdown"
We should support a graceful soft reboot/shutdown from the UI, to allow the VM and filesystem on it to have a chance to shutdown properly.

Guest agent might be required.

[2021-03-25 05:34] guangbochen opened #575 "[Enhancement] add publish image to the gcs on the Drone CI"
**Is your feature request related to a problem? Please describe.**
The harvester ISO image has exceeded the maximum file size limitation on the GH release which is 2G, change to use GCS to host ISO images.

**Describe the solution you'd like**
Update Drone CI to publish ISO images to the GCS.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2021-03-25 05:49] yasker opened #576 "[FEATURE] Enhanced Monitoring"
1. We need to expose Prometheus endpoints.
2. We need the ability to monitor VM/storage/network better in the UI.

Updated:
We also want to have the ability to collect hardware information, especially hardware failures, from the node. So the user can know and prepare for the hardware failure.
The common tool used for that will be ipmitool, smartctl etc.
Some existing exporters for Prometheus: http

[2021-03-25 05:50] yasker opened #577 "[FEATURE] Logging"
1. We need to provide a way for users to view the system-related logs.
2. We need the ability to export the system-related logs to outside the cluster in case the user wants to collect and analyse it later.

To elaborate:
1. We need to export Harvester logs to a central location. We should support what Rancher logging can support, including Elasticsearch and Splunk. https://rancher.com/docs/ranche

[2021-03-25 05:51] yasker opened #578 "[FEATURE] Event and audit log"
We need to provide a way for the user, especially the admin user to know what's happened in the system. E.g. who created which VM etc.

As a part of this feature, we should implement an audit log mechanism as well.

[2021-03-25 05:53] yasker opened #579 "[FEATURE] Support bundle"
We need to provide a mechanism for the user to easily collect system-related log in Harvester, to help with troubleshooting and support.

[2021-03-25 05:54] yasker opened #580 "[FEATURE] Guest cluster CSI driver"
We need to provide the guest cluster inside the Harvester cluster with the native storage performance.

The basic idea is to use a Harvester CSI driver inside the guest cluster to connect to the Harvester host cluster, ask the host cluster to hotplug a disk into that node.

Depends on #283

Ref: #633

[2021-03-25 05:55] yasker opened #581 "[FEATURE] Replace K3OS"
We need to replace K3OS with an OS that can be supported by Rancher/SUSE.

Disclaimer: Somehow this comment was picked up by people and was interpreted in an unintended way. So let me clarify:
1. We're replacing K3OS since K3OS has never been an officially supported OS by either Rancher or SUSE. We need something we can support as the base OS for the Harvester.
2. This change has **ABSOLUTELY NOTH

[2021-03-25 05:55] yasker opened #582 "[FEATURE] Multi-tenant support"
We can utilize the RBAC rules and Rancher authentication to support multi-tenant in Harvester.

[2021-03-25 06:15] DoNotSayYes opened #583 "[BUG] A pop-up could appear everywhere on the VLAN edit page"
**Describe the bug**
A pop-up could appear everywhere on the VLAN edit page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the settings page
2. Edit VLAN
3. Hover over the page

**Result**
A pop-up could appear everywhere on the VLAN edit page
![image](https://user-images.githubusercontent.com/57614736/112416577-e8614e00-8d60-11eb-8aa2-0b09cea0e7c1.png)
![image](https://user-images.gi

[2021-03-25 06:39] yaocw2020 commented on #570
It has been supported in v0.2.0.

[2021-03-25 06:54] TangStone commented on #557
Validated https://github.com/rancher/harvester/issues/369#issuecomment-805692471

[2021-03-25 06:54] #557 closed, assigned to TangStone, WuJun2016

[2021-03-25 08:08] DoNotSayYes opened #584 "[BUG] Remove Edit Config/YAML from the menu bar due to VLANs are not allowed to edit"
**Describe the bug**
Remove Edit Config/YAML from the menu bar due to VLANs are not allowed to edit

**To Reproduce**
Steps to reproduce the behavior:
1. Add VLANs
2. Edit them

**Expected behavior**
Remove Edit Config/YAML from the menu bar due to VLANs are not allowed to edit
![image](https://user-images.githubusercontent.com/57614736/112437997-8dd8e980-8d82-11eb-9af2-b2f28c4fab00.png)

**Enviro

[2021-03-25 08:36] TangStone commented on #516
Validated on master-c5a265d5-head
![image](https://user-images.githubusercontent.com/15829074/112443617-22921600-8d88-11eb-89b5-98e559fcab45.png)

[2021-03-25 08:37] #516 closed, assigned to futuretea, TangStone

[2021-03-25 10:12] TangStone opened #585 "[BUG] Failed to stop multiple VM at the same time"
**Describe the bug**
Stop multiple vm's at the same time, only the first vm can be stopped and “Network Error” alert pears
![image](https://user-images.githubusercontent.com/15829074/112455387-a05c1e80-8d94-11eb-91cd-cb426fd61dfa.png)
**To Reproduce**
Steps to reproduce the behavior:
1. Create 2 vm
2. select 2 vm's
3. Click the action button and select stop

**Environment:**
 - Harvester ISO versi

[2021-03-25 10:18] TangStone commented on #520
### Validated on master-c5a265d5-head
**500 scenario validated**
![image](https://user-images.githubusercontent.com/15829074/112452528-ab617f80-8d91-11eb-8c3c-3f5b1aced868.png)
![image](https://user-images.githubusercontent.com/15829074/112453495-b963d000-8d92-11eb-9cc6-2126faa165a8.png)
**4xx scenario validated**
![image](https://user-images.githubusercontent.com/15829074/112453074-435f6900-8d92-

[2021-03-25 10:19] #520 closed, assigned to DaiYuzeng

[2021-03-25 10:20] #536 closed, assigned to nobody

[2021-03-25 10:37] TangStone commented on #585
Failed to delete multiple VM at the same time

[2021-03-25 12:29] chifu1234 commented on #581
@yasker What do you mean with supported by Rancher/SUSE?

[2021-03-25 12:38] kongzi68 opened #586 "[Question]静态ip下，错误设置了network-setting，导致8443端口无法访问UI，UI已经崩溃了，请问怎么恢复这个设置为空？"
现状：使用connmanctl配置的静态IP，在web管理界面设置了network-setting的值为{"NIC":"eth0","ConfiguredNIC":"eth0"}，导致web管理界面崩溃无法访问。

问题：
       1、请问在harvester master主机上，命令行模式，需要怎么操作【或者是修改什么配置文件】，才能把这个network-setting的值恢复成其默认值{"NIC":"","ConfiguredNIC":""}呢？
       2、把network-setting恢复成默认值后，harvester master 的web管理界面会自动恢复吗？

[2021-03-25 13:46] mjschmidt opened #587 "[BUG] storage uses longhorn even when provisioned with a different storageclass"
**Describe the bug**

Harvester needs a way for the user to declare the storage class that they want to use because when you are not using longhorn-system storage the provisioner creates pvcs that can never be provisioned.

**To Reproduce**
Steps to reproduce the behavior:
1. deploy harvestor without the longhorn system (say rook-ceph) and set the helm chart default storage class to rook-ceph-bloc

[2021-03-25 14:10] DaiYuzeng opened #588 "[BUG]Login page keeps requesting authentication api on proxy mode"
**Describe the bug**

Login page on proxy mode will keep requesting `/v1-public/authModes`

**Reason**

The page will redirect to Login Page when `/v1-public/authModes` throwing 401 error.
But `/v1-public/authModes` will also be requested on Login Page.
So the bug will occurs, keeps redirecting, keeps requesting.

**Environment:**
 - Installation Mode: `Rancher Catalog Apps`

[2021-03-25 17:05] yasker commented on #581
@chifu1234 K3OS is not officially listed as a supported product even for Rancher Labs. It's more like an experimental project at the moment. To support an OS, we need to constantly provide package updates, security updates, etc. So we need to switch to another OS that is supported by Rancher/SUSE.

[2021-03-25 17:05] yasker commented on #570
@yaocw2020 with the removal of MinIO, we won't able to support it anymore in v0.2.0.

[2021-03-25 18:07] vtolstov commented on #570
Why minio remived?

[2021-03-25 21:22] mjschmidt commented on #587
I am not sure where or why harvester is setting a storage class for the virtual machine volumes. Where is that code?

[2021-03-26 01:45] futuretea opened #590 "[BUG] In first request, go-harvester login will return io.EOF because of cert change, need retry"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1.  harvester fresh setup
2.  use harvester node-driver to create a cluster

**Expected behavior**

**Log**

[code]

**Environment:**
 - Harvester ISO version:
 - Installation Mode: ISO/app-mode
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630):

**Additional context**
Add any other context about the probl

[2021-03-26 03:18] kingsd041 commented on #584
Validated on master-c5a265d5-head

**Steps:**
1. Add VLANs
2. Edit them

**Result:**
The `edit` button has been removed from the menu, currently only `delete`

![image](https://user-images.githubusercontent.com/19684717/112572058-54f15100-8e24-11eb-903e-d8ee1369bf49.png)

[2021-03-26 03:18] #584 closed, assigned to WuJun2016

[2021-03-26 03:30] DoNotSayYes opened #591 "[BUG] VM network is unreachable in VLAN"
**Describe the bug**
VM network is unreachable in VLAN

**To Reproduce**
Steps to reproduce the behavior:
1. Set a default NIC
2. Create an available VLAN network
3. Create VMs using that VLAN

**Expected behavior**
VM network is reachable

**Result**
Now the network between VMs is unreachable

**Environment:**
 - Harvester ISO version: master-head
 - Installation Mode: ISO

[2021-03-26 05:16] guangbochen opened #592 "[BUG] nil pointer error of tls in the dynamiclister"
**Describe the bug**
runtime.go:78] Observed a panic: "invalid memory address or nil pointer dereference" (runtime error: invalid memory address or nil pointer dereference)
goroutine 671 [running]:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. run master harvester without rancher integration environment will be failed on a nil pointer exception

**Environment:**
 - Harvester ISO ve

[2021-03-26 05:30] TangStone opened #594 "[BUG] Constantly switching the physical NIC of the node will cause an error to set the physical NIC of the node"
**Describe the bug**
Occasional, with a higher chance of occurrence
**To Reproduce**
Steps to reproduce the behavior:
1. Enable vlan setting, default physical NIC fill in eth0
2. Go to the network settings of the host node
3. Set eth1 as the physical NIC
4. Reset eth0 as the physical NIC
5. Repeat steps 3 and 4

![image.png](https://images.zenhubusercontent.com/6045fac39bfd93ea415d99ee/5d844409-e9

[2021-03-26 06:17] futuretea commented on #590
link to #512

[2021-03-26 06:27] TangStone commented on #503
Version:c5a265d
Downloaded and installed successfully

[2021-03-26 06:28] #503 closed, assigned to gitlawr, TangStone, DoNotSayYes

[2021-03-26 06:29] guangbochen commented on #587
it is hardcoded in the UI to use `longhorn` as the default storage class. adding an option to set storage class name is considerable but it will not be covered in our support matrix and testing scope when using other CSI drivers, especially in regards to some advanced features like VM backup & live migration, it requires the CSI driver to support RWM and volumesnapshot features etc.

[2021-03-26 06:48] yaocw2020 commented on #591
We have to set the switch port as trunk mode.

[2021-03-26 06:49] WuJun2016 commented on #585
@TangStone  No Reproduce，    Guess it is a network problem,

[2021-03-26 06:57] yaocw2020 commented on #586
Try `kubectl edit setting network-setting` to edit network-setting

[2021-03-26 07:20] futuretea commented on #512
If we want to support opensuse/sles：
- [ ] need rancher/install-docker support opensuse/sles (https://github.com/rancher/rancher/issues/31817)
- [x] need rancher/machine support opensuse/sles （v0.15.0-rancher53 at least to support opensuse）
- [ ] need rancher bump rancher/install-docker and rancher/machine

[2021-03-26 07:44] guangbochen commented on #512
link to repo https://github.com/harvester/docker-machine-driver-harvester

[2021-03-26 08:22] guangbochen commented on #385
this actually is managed by the longhorn and will check it with @yasker, since we are deleting the volumesnapshot CR directly on the Harvester side, just wondering if there is any other object we need to handle from the longhorn side, maybe cc @shuo-wu.

[2021-03-26 08:47] guangbochen commented on #510
we only need to verify whether enable the STP configuration on the switch will address the above case, for the current stage code change is not required.

[2021-03-26 11:00] mjschmidt commented on #587
How about supporting a upload yaml feature in the UI? I was able to download the yaml, make changes to it an then push it back. In the meantime I'd be happy to update the documentation and specify the work around? To hard code harvester for longhorn doesn't make a lot of sense to me especially when you can change in the helm yaml to specify to use another storageclass and not install longhorn.

[2021-03-26 11:54] mjschmidt commented on #587
Or a disable button that dehardcodes and ignores the storage class and have a little warning that says if you disable some features may not work?

[2021-03-26 13:15] mjschmidt commented on #587
@guangbochen if you could point me to which file is doing that hard coding I can fork and maintain my own copy, build my own container etc. Its not a big deal.

[2021-03-26 13:29] guangbochen commented on #587
u can folk the https://github.com/rancher/harvester-ui and just replace the `ui-index` setting with your custom build.

[2021-03-26 15:11] kongzi68 commented on #586
![微信图片_20210326225709](https://user-images.githubusercontent.com/24288333/112652663-99163d00-8e88-11eb-99fb-20ad14bc7eb0.png)
谢谢，问题已经解决。

[2021-03-26 15:11] #586 closed, assigned to nobody

[2021-03-26 16:25] pgonin opened #595 "[BUG] Routing issues on server with 2 network interfaces and only one in actual use"
**Describe the bug**
I am deploying Harvester on bare metal servers that have multiple interfaces but only one is actually cabled.
Deployment of node with installer (remote access over serial console/lan) is successful.
I choose the active interface during the setup (eth0 in most cases)
When the server installation is finished and after the reboot I can only access it with the console.

Default ro

[2021-03-26 21:03] yasker commented on #385
@TangStone Backup blocks are referenced and GCed, so as long as one block is still being used by any backup, it's not going to be freed. Can you try if you delete all backups, does it clean up the directory and free the space?

[2021-03-26 21:06] yasker commented on #570
@vtolstov Since MinIO is one more thing to maintain. We need to start MinIO in HA mode, and operate it. Also we need to support the component by ourselves if it's a part of stack. We once had an issue with MinIO lost service temporarily during certain circumstances, and have to rely on the upstream MinIO to fix it after a month.

With MinIO only used as an image store, and now Longhorn is able to

[2021-03-27 14:29] vtolstov commented on #570
Nice, thank you for explaining

[2021-03-27 16:34] penghuima commented on #570
Before using the V0.1 version to create virtual machines, I was curious why users could not use local virtual machine images to create virtual machines, and there are two storage systems, MinIO, and longhorn, in the architecture of Harvester. MinIO, which is only used to store images. At that time, I wondered if longhorn could not be used to store images instead of MinIO.  I did not guess that Min

[2021-03-27 18:34] pgonin opened #596 "[BUG] Harvester UI does not display more than 5 nodes"
**Describe the bug**
I successfully installed 7 nodes, but only 5 are displayed in Harvester UI

On the harvester (shell) console on the installed nodes they are reporting to be running fine.

With `kubectl get nodes` all nodes are properly listed.

**Environment:**
 - Harvester ISO version: master-c5a265d5-head
 - Installation Mode: ISO
 - Underlying Infrastructure: Baremetal with HP DL360G9

[2021-03-28 01:40] futuretea opened #597 "[BUG] Once the console reports running, but the UI not ready yet."
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. install harvester by ISO
2. once the console reports running, try to login

**Expected behavior**

console can prompt for the correct time to log in

**Log**

**Environment:**
 - Harvester ISO version:
 - Installation Mode: ISO/app-mode
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630):

**Additional co

[2021-03-28 14:58] TangStone commented on #385
I delete all backups, it doesn't clean up the directory and free the space @yasker  It seems that volumesnapshot is not deleted @guangbochen

[2021-03-29 01:20] yasker commented on #385
@innobead Can someone help to look into this?

[2021-03-29 03:21] kingsd041 commented on #563
**Validation Version**
- master-67244e23-head

**Validation Scenarios**
1. Deploy the harvester app in the rancher store
2. Open harvester ui via app
3. create a vm
4. delete vm

** Results**
Delete vm successfully

[2021-03-29 03:21] #563 closed, assigned to kingsd041, WuJun2016

[2021-03-29 04:08] guangbochen commented on #543
related to https://github.com/longhorn/longhorn/issues/2329#issuecomment-807527079

[2021-03-29 05:07] innobead commented on #385
https://github.com/longhorn/longhorn/issues/2417 created.

@TangStone Next time. Please help also create a corresponding issue on longhorn, then the issue will be tackled. Thanks.

[2021-03-29 06:45] gitlawr commented on #596
Tested a cluster with 6 nodes in ISO mode, and a cluster with 9 nodes in app mode.
I am not able to reproduce the issue.
![image](https://user-images.githubusercontent.com/5697937/112796870-29c56680-909d-11eb-9a3f-563e4527047f.png)

Can you check how many items the API returns?(`<Harvester-URL>/v1/nodes`)

[2021-03-29 07:27] pgonin commented on #596
I think I got another issue. The UI does not update but it's not because of number of nodes indeed.

[2021-03-29 07:45] yaocw2020 commented on #595
Does it work after you block eth1?

[2021-03-29 07:57] gitlawr opened #599 "[BUG] After logging out Harvester app, the rancher user is logged out"
**To Reproduce**
Steps to reproduce the behavior:
1. Install harvester to a rancher cluster in app mode.
2. Log in to harvester, then do log out in harvester UI.

**Result**
The Rancher user is also logged out.

**Expected behavior**
Logging out Harvester in app mode does not affect the rancher session.

**Environment:**
 - Harvester ISO version: master
 - Installation Mode: app-mode

[2021-03-29 08:32] yaocw2020 commented on #573
The links below might be helpful.

https://kubevirt.io/user-guide/operations/virtualmachineinstance_node_eviction/
https://kubevirt.io/api-reference/v0.39.0/definitions.html#_v1_virtualmachineinstancespec
[code]

[2021-03-29 08:35] yaphetsQ opened #600 "[Question] when i create ubuntu vm ，“not a bootable disk”"
when  i  create  ubuntu vm ，“not  a  bootable disk” ,  Is it related to hard disk format？

[2021-03-29 09:17] kingsd041 commented on #588
**Validation Version**

master-67244e23-head

When accessing the login page in proxy mode, there is no repeated request of `/v1-public/authModes`

[2021-03-29 09:17] #588 closed, assigned to DaiYuzeng, kingsd041

[2021-03-29 09:22] kingsd041 opened #603 "[BUG] In app mode, log out of harvester, and rancher UI will follow to log out"
**Describe the bug**

In app mode, log out of harvester, and rancher UI will follow to log out

**To Reproduce**
Steps to reproduce the behavior:
1. Log in to rancher UI
2. Access the harvester UI via rancher `Apps`
3. Log out from the harvester UI

**Expected behavior**

Rancher UI should not be log out

**Log**

**Environment:**
 - Harvester ISO version:
 - Installation Mode: app-mode
 - Underly

[2021-03-29 09:30] kingsd041 opened #604 "[BUG] App mode, after logging out of the harvester UI, unable to log in again"
**Describe the bug**

App mode, after logging out of the harvester UI, unable to log in again

**To Reproduce**
Steps to reproduce the behavior:
1. Log in to the harvester UI
2. Log out of the harvester from the UI

At this time, you can no longer log in to harvester UI again
![image](https://user-images.githubusercontent.com/19684717/112816414-f9d58d80-90b3-11eb-850d-d45cd0f7a6c2.png)

**Environm

[2021-03-29 09:35] gitlawr commented on #543
https://github.com/longhorn/longhorn/issues/2309#issuecomment-807984649

[2021-03-29 09:37] futuretea opened #605 "[BUG] vm's image show "-" which created by use node-driver"
**Describe the bug**

![image](https://user-images.githubusercontent.com/15064560/112817676-4a011f80-90b5-11eb-8b1c-7d2a956063ed.png)

**To Reproduce**
Steps to reproduce the behavior:
create a vm by docker-machine-driver-harvester

**Expected behavior**

show image correctly
**Log**

**Environment:**
 - Harvester ISO version:
 - Installation Mode: ISO/app-mode
 - Underlying Infrastructure (e.g. B

[2021-03-29 09:46] kingsd041 commented on #558
Validation Version：
master-67244e23-head

Use the default config to launch the harvester through the app mode, and the harvester successfully launches

[2021-03-29 09:46] #558 closed, assigned to gitlawr, kingsd041

[2021-03-29 09:49] DoNotSayYes commented on #545
1. If the default NIC value does not match any of the NICs of the host, an error message will appear
![image](https://user-images.githubusercontent.com/57614736/112814128-86cb1780-90b1-11eb-94d7-315a65c786e5.png)
2. Editing the default NIC value will not be applied to any node, users are required to disable the VLAN setting and enable it again so that the new value could be applied to all nodes.
3

[2021-03-29 09:53] bk201 opened #607 "[BUG] Minor issues in the VM backup modal"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Harvester GUI -> Virtual Machines
2. Select a virtual machine and perform "Take Backup" action.
3. The backup modal is displayed:
The modal title is not correct, this is supposed to make a backup, not restore.
![Screen Shot 2021-03-29 at 5 45 02 PM](https://user-images.githubusercontent.com/1691518/112819098-cd6f4080-

[2021-03-29 09:59] DoNotSayYes opened #608 "[BUG] The node name is not presenting in the prompt since the VM pod is not scheduled"
**To Reproduce**
Steps to reproduce the behavior:
1. Enable VLAN
2. Create a VLAN name it vlan178
3. Disable VLAN
4. Create a VM using vlan178
5. Check the VM on the list

**Expected behavior**
The prompt should be displayed when the pod is scheduled.

**Result**
The node name is not presenting in the prompt since the VM pod is not scheduled
![image](https://user-images.githubusercontent.com/57614

[2021-03-29 10:03] #545 closed, assigned to WuJun2016, DoNotSayYes

[2021-03-29 10:05] DoNotSayYes commented on #488
Validated on master-head
![image](https://user-images.githubusercontent.com/57614736/112821513-5edfb200-90b9-11eb-8806-80ec5eeb0b63.png)

[2021-03-29 10:05] #488 closed, assigned to WuJun2016, DoNotSayYes

[2021-03-29 10:09] futuretea commented on #605
link to #512

[2021-03-29 10:10] DoNotSayYes commented on #542
Validated on master-head
![image](https://user-images.githubusercontent.com/57614736/112822043-fe9d4000-90b9-11eb-995a-a8b0fe55ff76.png)
![image](https://user-images.githubusercontent.com/57614736/112822069-06f57b00-90ba-11eb-84ba-35cbd30489a8.png)

[2021-03-29 10:10] #542 closed, assigned to WuJun2016, DoNotSayYes

[2021-03-29 10:12] guangbochen commented on #600
what type of image are you using? if it is an `ISO` image please reference the ISO template that has been provided by the Harvester, as u will need a bootable driver and a root disk for it.

[2021-03-29 10:15] WuJun2016 opened #609 "[BUG] Changing the image does not take effect. (nodeDriver)"
**Describe the bug**

Changing the image of an existing template does not take effect

**To Reproduce**
Steps to reproduce the behavior:

1. Switch to rancher ui
2.  Add a harvester node driver
3. Click global
4. Click Add Cluster, Choose harvester
5. add template => save
6. Delete all images in the harvester ui
7. Add an image
7. Modify the template just created in rancher ui，  => Select image
8.

[2021-03-29 10:16] guangbochen commented on #595
as per above suggestion, @pgonin plese let us know if it is ok to close this issue, thanks

[2021-03-29 10:43] guangbochen commented on #603
duplicate of https://github.com/rancher/harvester/issues/599

[2021-03-29 10:43] #603 closed, assigned to gitlawr

[2021-03-29 11:49] mjschmidt commented on #587
@guangbochen thanks I was able to work around by getting the yaml, deleting the vm and then editing the vm yaml template to use my own stoargeclass.

[2021-03-29 12:01] mjschmidt opened #610 "[Question] Is there a working windows vm example"
Looking for a working yaml for windows. I tried the template, but it did not work when I handed it the following windows image:
windows_server_2012_r2_standard_eval_kvm_20170321.qcow2.gz

I tried the several yaml configurations for launching the windows vm both using the windows template and not. I also tried different boot orders for the windows template. If you have an example yaml for the follo

[2021-03-29 12:16] mjschmidt commented on #600
Not all the Ubuntu discs work @yaphetsQ. This image worked for me:
https://cloud-images.ubuntu.com/minimal/releases/focal/release-20200423/ubuntu-20.04-minimal-cloudimg-amd64.img

[2021-03-29 14:01] pgonin commented on #595
Yes, once eth1 is in the NetworkInterfaceBlacklist the problems are gone. But that's a tedious manual work to perform over serial console after installation is finished

[2021-03-29 14:03] pgonin commented on #595
Apparently if I pick the actual system name (as it is in dhcp), the issue appears less often (but that's not an observation over many installation attempts, it might just be luck)

[2021-03-30 01:32] yaocw2020 commented on #595
@pgonin Connman will choose one physical NIC as the default route interface. If the NIC is invalid, it's better to block it.

[2021-03-30 01:59] kongzi68 commented on #591
我目前有3台物理主机搭建了harvester集群，请问是接三台主机的交换机端口都需要设置为`trunk mode`吗？还是只需要设置控制节点所在的那台物理服务器的交换机端口为`trunk mode`呢？
![微信图片_20210330095345](https://user-images.githubusercontent.com/24288333/112921773-f1c23000-913d-11eb-95d3-4ee101ea8817.png)
也就是说，我三台harvester物理服务器的ip地址段为`192.168.16.100~254`之间，通过DHCP获取。我想harvester里面创建的虚拟机可以获取到`192.168.16.100~254`之间的IP，也就是真实IP，并且与外部能通信。
目前，我通过cloud init给虚拟机设置了IP：192.168.16.100，但是

[2021-03-30 02:07] kingsd041 commented on #604
master-31c55a75-head version has been fixed

[2021-03-30 02:07] #604 closed, assigned to DaiYuzeng

[2021-03-30 02:10] kingsd041 commented on #599
master-31c55a75-head
Validated on master-31c55a75-head

Steps:
1. Install harvester to a rancher cluster in app mode.
2. Log in to harvester, then do log out in harvester UI.

Result:
Log out the harvester does not affect the rancher session

[2021-03-30 02:10] #599 closed, assigned to gitlawr, kingsd041

[2021-03-30 02:55] futuretea commented on #568
If this is implemented, then a packer provider can also be implemented to automate the entire process of creating images.

[2021-03-30 03:06] kingsd041 commented on #597
Validated on master-388aa82c-head

Steps:
1. install harvester with ISO
2. When the harvester console displays `NotReady` and `Ready` status, try to log in to the harvester UI

Result:
After the status changes from `NotReady` to `Ready`, you can log in to the harvester UI immediately

[2021-03-30 03:06] #597 closed, assigned to futuretea, kingsd041

[2021-03-30 03:11] TangStone commented on #515
### validate on master-67244e23-head
1. Set Theme to Dark
![image](https://user-images.githubusercontent.com/15829074/112927856-3e126d80-9148-11eb-90de-77dd19644376.png)
2. Switch to other pages to check the theme

**Verification passed**

[2021-03-30 03:11] #515 closed, assigned to DaiYuzeng, TangStone

[2021-03-30 03:29] yaphetsQ commented on #600
@guangbochen @mjschmidt  iso or img  type，same  error!
![image](https://user-images.githubusercontent.com/32384347/112929464-0ce76c80-914b-11eb-9a4b-fb9676cc06fe.png)

[2021-03-30 03:33] guangbochen commented on #594
as long as the network configuration is matched with the last configured NIC this would be OK.
From the UI side, this is because when the user is constantly updating the object the WebSocket may not be able to receive the latest modified object instantly, and the error message already elaborates the reason.

[2021-03-30 03:56] guangbochen opened #611 "[BUG] empty error message on VLAN network init setup"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the network setting and enable the default NIC to eth0
2. go to the networks page
3. empty error message appears

**Expected behavior**
handle the message correctly

**Log**

![image](https://user-images.githubusercontent.com/4569037/112931202-3fdf2f80-914e-11eb-86e1-5a4b119b3397.png)

**Environment:**
 - Harvester IS

[2021-03-30 05:05] futuretea commented on #610
windows_server_2012r2_essentail.iso + Harvester's built-in windows templates work fine.
If you want to use windows 2019, then this issue #276 may help you.

The qcow2 image for windows may require a different configuration, I'll test it

[2021-03-30 05:37] jenting commented on #385
@TangStone,
I didn't deploy Harvester to test it but I create a Longhorn cluster with version v1.1.0 and v1.1.1-preview1 respectively and deploy an Elasticsearch cluster (StatefulSet) on it. However, I can't reproduce the issue you described. I delete all VolumeSnapshot CR of specific volume, the `backups/` and `blocks/` folder both got deleted in MinIO.

Questions:
1. For the directory that doesn

[2021-03-30 05:58] TangStone commented on #561
Validation passes in **master-67244e23-head** version

[2021-03-30 05:58] #561 closed, assigned to TangStone, WuJun2016

[2021-03-30 06:32] TangStone commented on #385
Validate the version in master-67244e23-head
Backup rename prompt problem solved https://github.com/rancher/harvester/issues/385#issuecomment-804058048

[2021-03-30 06:34] guangbochen commented on #385
I will take a look at the backup clean up issue first, thanks

[2021-03-30 07:11] guangbochen commented on #600
can u please provide a reproducible step here? and maybe should try to connect using serial console instead of VNC as not all cloud images will support the VNC console.

[2021-03-30 08:15] kingsd041 commented on #485
Validated on master-388aa82c-head

Steps:
1. Create a VM in ESXI and add a serial port
2. Start Harvester via ISO
3. Change grub to `linux (loop0)/vmlinuz printk.devkmsg=on k3os.mode=install console=tty1 console=ttyS0,115200`
4. View the serial port output

Result:
The harvester installation options can be viewed through the serial port：
![image](https://user-images.githubusercontent.com/19684717/

[2021-03-30 08:15] #485 closed, assigned to bk201, kingsd041

[2021-03-30 08:38] DaiYuzeng opened #612 "[BUG]Node name can not be updated after migration"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. migrate a vm
2. the node name on vm list can not be updated after migration.

**Expected behavior**

1. the node name can be updated

[2021-03-30 08:39] DaiYuzeng commented on #612
#384

[2021-03-30 08:50] kingsd041 opened #613 "[BUG] Error prompt message"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Launch harvester, select `Join an exiting Harvester cluster` option
2. When entering `token`, the following prompt message is wrong

![image](https://user-images.githubusercontent.com/19684717/112961296-d116cc00-9177-11eb-95b4-958dba7a7701.png)

**Expected behavior**

**Log**

**Environment:**
 - Harvester ISO version:  mas

[2021-03-30 09:24] pgonin commented on #595
I get that. And I do have a workaround.
Maybe It needs to be changed to a Feature Request to have the ability to configure NetworkInterfaceBlacklist during installation somehow

[2021-03-30 10:04] TangStone commented on #385
@jenting @guangbochen

 Questions:

**First question answer**
The backup and blocks folders are not cleaned

**Answer to the second question**
1. Before creating a VM backup
![image](https://user-images.githubusercontent.com/15829074/112969367-c2ccae00-917f-11eb-89b7-53cb9d06fbff.png)
2. After creating a VM backup
![image](https://user-images.githubusercontent.com/15829074/112969752-222abe00-9180-

[2021-03-30 10:21] futuretea opened #615 "[BUG] Error ui jump on vm events page"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. on vm events page
2. click next page button, then navigate to the vm detail page again, not navigate  to the next page
![image](https://user-images.githubusercontent.com/15064560/112973879-5e601d80-9184-11eb-94c4-4b09f1b3e7c7.png)
![image](https://user-images.githubusercontent.com/15064560/112974129-b008a800-9184-11eb-8f3d-

[2021-03-30 12:39] mjschmidt commented on #610
Thanks @futuretea, but what did you put into the form for the Image field for the basics section?

Can you get the output of the following kubectl command for me as I am more familiar with Kubernetes than Harvester itself:
[code]

You could also get this by copying and pasting the "Edit yaml" for an example machine you spun up.

This would help me greatly as the form just creates a yaml on the bac

[2021-03-30 12:45] innobead commented on #385
Ok. Because the volumesnapshot operation works (the K8s interface to operate LH), this should be related to Longhorn integration at Harvester. Please check if the API integration is correct from the frontend to the backend at Harvester.

[2021-03-30 13:00] guangbochen commented on #385
this should be addressed in the master-head version @TangStone, u may also test using the v0.2.0-rc1 release.

[2021-03-30 13:47] pgonin commented on #596
I am reopening since I am having the issue again.
I added a node and it is node displayed in the UI although it is reported as properly 'Running' in the Console of the node and appears with `kubectl get nodes` from the main / console node.
I think with a reboot of the node it will be fixed, but I don't plan to reboot the node every few days.

[2021-03-30 13:48] futuretea commented on #610
@mjschmidt, I successfully used this qcow2 image to boot the VM on harvester v0.1.0, here are the steps:
1. ~~gzip -d windows_server_2012_r2_standard_eval_kvm_20170321.qcow2.gz~~
2. import this image on harvester ui via url
3. select this image on harvester ui, disk bus virtio (default), the size was adjusted from the default 10G to 50G, click create
4. (The most important point) After creation, y

[2021-03-30 14:45] mjschmidt commented on #610
@futuretea harvester supports gziped format right?

[2021-03-30 14:48] gitlawr commented on #596
Does the node show up after refreshing in the browser?

Can you check what the API returns(`<Harvester-URL>/v1/nodes`)

[2021-03-30 14:53] mjschmidt commented on #610
^trying it with the qcow2.gz file since I already had that uploaded, will let you know if it works with qcow2.gz

[2021-03-30 15:50] mjschmidt commented on #610
I was able to verify that your yaml file worked. Thank you so much @futuretea. I am going to continue testing and will update here with what I find, if anything noteworthy.

As a follow up the tgz file did in fact work, and this did work with the rook-ceph storage class providing storage in block volume mode.

Here is my yaml for reference:
[code]

![image](https://user-images.githubusercontent.co

[2021-03-30 16:00] futuretea commented on #610
Thanks @mjschmidt , after test, qcow2.gz work fine.The decompression step is unnecessary.
At the moment,  need to manually modify the yaml, which is not very convenient, so it can be optimized, may just not inject cloudinit to windows or  support cloudInitConfigDrive.

if it is optimized, will let you know.

[2021-03-30 16:10] futuretea opened #618 "[FEATURE] Support windows qcow2 image"
**Is your feature request related to a problem? Please describe.**

windows qcow2  image uses cloudbase-init, but harvester automatically inject  the cloudinitnocloud.
this seems should be replaced with cloudInitConfigDrive .

**Describe the solution you'd like**

may just not inject cloudinit to windows or support cloudInitConfigDrive.

**Describe alternatives you've considered**

**Related issue

[2021-03-30 21:11] emctl opened #619 "[Question] ArgoCD to deploy vms"
Is there any vision of including a gitops operator (fleet/argocd/flux) as part of the harvester iso offering where a user could point to a repo to deploy the needed vms as part as the iso install?

I look at this from the self hosted homelab side where users can spin up multiple vm/clusters inside vms completely from code from a simple iso install.

[2021-03-31 01:13] pblee88 commented on #525
Sorry for late update. I am hitting some issue on the network. I manage to fix network issue by re setup the Rancher/Harvester. Now disk size problem still exist. OS only create 20GB partition on 7TB volume disk to host OS. I have try the given command to resize partition. i am getting the below error.

The server I am working on is compute node. Below is the screenshot of the error message.
![ima

[2021-03-31 01:57] guangbochen opened #620 "[BUG] all of the nodes goes to the same node"
**Describe the bug**
All of the nodes I created using node driver in Rancher have landed on the same physical node. We need at least a soft-anti-affinity rule here

**To Reproduce**
Steps to reproduce the behavior:
1. create k8s cluster using harvester node driver in the Rancher
2. check VM on the Harvester page

**Expected behavior**
We need at least a soft-anti-affinity rule here

**Log**
N/A

*

[2021-03-31 02:04] gitlawr commented on #525
If you are working on a compute node, you can add the specify kubeconfig path before running the above commands
e.g.,
[code]

[2021-03-31 02:21] guangbochen opened #621 "[BUG] regullar disconnected from UI due to SSL cert"
**Describe the bug**
I have been temporarily disconnected from UI twice. The first time it’s when I was configuring the backup and it seems node promotion is also happening, the second time is when I was adding a new image. The new image gets stuck in that case, and one of the harvester pods seems restarted (need to re-confirm the SSL certificate later). I’ve checked the Harvester server log but c

[2021-03-31 02:24] guangbochen opened #622 "[BUG] migration can not be canceled or selecting a target node"
**Describe the bug**
1. migrate doesn’t require destination node name? it should as It’s not node eviction.
2. The first time migration worked but later ones get stuck. It seems migration cannot be canceled. And there is no update in the Migration tab  even for the VM in the process of migration

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the VM page and create new VM
2. doing a mi

[2021-03-31 02:28] yaocw2020 commented on #591
All of the switch ports have to set as trunk mode.

[2021-03-31 02:29] guangbochen opened #623 "[BUG] the built-in VM template does not work on the v0.2.0-rc1"
**Describe the bug**
the built-in VM template does not work on the v0.2.0-rc1

**To Reproduce**
Steps to reproduce the behavior:
1. go the VM page and create a VM using ISO template
2. The iso-image-base-template seems to not create the cd-rom volume,  only the root disk.

**Expected behavior**
the built-in template should work with backing image changes.
**Log**

![image](https://user-images.gith

[2021-03-31 02:37] TangStone commented on #567
1. rancher-enabled defaults to Disable
![image](https://user-images.githubusercontent.com/15829074/113082056-5e0b6500-920c-11eb-92de-bdea6f22729b.png)
2. rancher-enabled is set to Enable, Rancher button appears in the upper right corner of the UI, click the button, access successfully, the URL is the same but port 30444
![image](https://user-images.githubusercontent.com/15829074/113082173-8c894000

[2021-03-31 02:40] guangbochen opened #624 "[BUG] Harvester UI of v0.2.0-rc1 is still using the latest one"
**Describe the bug**
UI for v0.2.0-rc1 didn’t pin to a version. It’s still https://releases.rancher.com/harvester-ui/latest/index.html

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the harvester page and check the UI url

**Expected behavior**
1. the UI file should be loaded from the local server instead of the remote url.

**Log**
N/A

**Environment:**
 - Harvester ISO version: v0.2

[2021-03-31 03:10] guangbochen commented on #624
the UI will load assets upon the value of the `server-version`, if the server version matches the release version syntax it will load UI from the local server instead of using the `release.rancher.com`

[2021-03-31 03:29] yaphetsQ commented on #600
@guangbochen   All the settings are done according to the document.

1、
![image](https://user-images.githubusercontent.com/32384347/113085831-26ec8200-9213-11eb-8f90-c825aba08e05.png)

2、
![image](https://user-images.githubusercontent.com/32384347/113085877-37046180-9213-11eb-9aad-7f538d87fc2b.png)

3、
![image](https://user-images.githubusercontent.com/32384347/113086449-34eed280-9214-11eb-87b8-8f

[2021-03-31 03:52] bk201 commented on #622
Looks lie It's a limitation of KubeVirt, [the spec only accepts the source VMI name](https://kubevirt.io/api-reference/v0.38.1/definitions.html#_v1_virtualmachineinstancemigrationspec).
It creates a target pod on nodes other than the node that the source VM is being migrated from. ([ref](https://github.com/kubevirt/kubevirt/blob/4987c1102c6d607dc80c2d07fae509ef83d56fb5/pkg/virt-controller/watch/mi

[2021-03-31 03:57] guangbochen commented on #600
the image is empty, u will need to select one, the template does not contain any OS images

[2021-03-31 04:04] bk201 commented on #607
I can confirm this is already fixed.

[2021-03-31 06:57] kingsd041 commented on #613
Validated on v0.2.0-rc1
Verified fixed

![image](https://user-images.githubusercontent.com/19684717/113102313-71c8c280-9230-11eb-86ff-e5a7155c1e33.png)

[2021-03-31 06:57] #613 closed, assigned to futuretea, kingsd041

[2021-03-31 07:31] kingsd041 commented on #384
Validated on v0.2.0-rc1

The following use cases pass the test:
1. VM can be successfully migrated to other hosts
2. During the migration process, the VM network will not be interrupted
3. After the migration process is successful, the disk data will not be lost
4. During the migration process, the disk can be read and written continuously
5. After successful migration, `Migration` will update the

[2021-03-31 07:40] kingsd041 commented on #384
Following the description of https://github.com/rancher/harvester/issues/384#issuecomment-789597253, we need to support abortMigration, but the current version (0.2.0-rc1) does not support
So, remove this issue from `Testing` pipelines

[2021-03-31 08:16] guangbochen opened #626 "[BUG] The default setting shows an empty backup target"
**Describe the bug**
The default setting shows an empty backup target.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the settings page
2. the backup target contains an error message `Empty backup target` on the default.

**Expected behavior**
1. [x] No error message should be displayed by default.
1. [x] Only need to display the endpoint of the backup target on the settings page.
2.

[2021-03-31 08:40] #624 closed, assigned to guangbochen

[2021-03-31 09:04] kingsd041 commented on #513
Validated on v0.2.0-rc1

Following test cases are verified:
1. Launch the harvester via iso (single node and multiple nodes), and the harvester will install Rancher Server by default.
2. You need to set a password to log in to the harvester for the first time. This user and password can also log in to Rancher Server
3. Create a user in Rancher Server, and this user can log in to the harvester UI
4

[2021-03-31 09:04] #513 closed, assigned to guangbochen, gitlawr, kingsd041

[2021-03-31 09:19] kingsd041 opened #628 "[BUG] Network menu has some error messages"
**Describe the bug**

The network menu has some error messages
**To Reproduce**
Steps to reproduce the behavior:
1. Launch a 3-node harvester
2. When the status of all nodes becomes `Ready`, immediately set ClusterNetwork: vlan
![image](https://user-images.githubusercontent.com/19684717/113120866-9d55a800-9244-11eb-960d-e0d8362dce88.png)

3. Enter the `Networks` menu

At this time, the following e

[2021-03-31 09:35] kingsd041 commented on #535
Validated on v0.2.0-rc1

Steps:
1. Login to Harvester,
2. Go to menu `Advanced`, then `Networks`
3. Click on `Settings`

Result:
Will jump to the config `ClusterNetwork: vlan` page

[2021-03-31 09:35] #535 closed, assigned to kingsd041, WuJun2016

[2021-03-31 09:40] kingsd041 commented on #548
Validated on v0.2.0-rc2

This issue has been fixed in v0.2.0-rc1, and the VM IP can be displayed correctly
![image](https://user-images.githubusercontent.com/19684717/113124382-0db1f880-9248-11eb-9168-502ec514e24b.png)

[2021-03-31 09:40] #548 closed, assigned to kingsd041, WuJun2016

[2021-03-31 09:48] guangbochen opened #629 "[BUG] harvester pod crash due to OOM"
**Describe the bug**
Harvester pod might crash due to OOM issue

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the image page and uploading multiple files simultaneously
2. the harvester pod will crash when its memory usage is over 500Mi

**Expected behavior**
Do not set the limit of memory usage for now.

**Log**
N/A

**Environment:**
 - Harvester ISO version: v0.2.0-rc1
 - Installat

[2021-03-31 09:50] kingsd041 commented on #612
Validated on v0.2.0-rc1

Steps:
1. Create VM
2. Migrate VM
3. Wait for the migration to succeed, go to the VM Basics page, and check Node

Result:
`Node` updated to the correct node

[2021-03-31 09:50] #612 closed, assigned to DaiYuzeng, kingsd041

[2021-03-31 09:58] guangbochen commented on #628
duplicate of https://github.com/rancher/harvester/issues/611

[2021-03-31 09:58] #628 closed, assigned to nobody

[2021-03-31 10:39] TangStone commented on #592
**Environment:**
 - Harvester ISO version: master-dcf0b550-head
 - Installation Mode: app-mode
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630):

**Steps**
1. create rke cluster
2. Use Helm to install
![image](https://user-images.githubusercontent.com/15829074/113128661-a0ed2d00-924c-11eb-8fe3-1c7f75a376b0.png)

**Results**
1. Use command `kubectl logs -f harvester-6864797b95

[2021-03-31 10:56] mjschmidt commented on #610
@futuretea, it would also be great if there was a "submit your own storage class section" with the caveat that the backup capability may not be supported if you do so.

[2021-03-31 10:57] mjschmidt commented on #610
Because I also have to yank the yaml out of kubernetes upon vm creation and remove that line to get it to work with rook-ceph (see above)

[2021-03-31 10:57] mjschmidt commented on #610
and I mean like, come on, you're all using kubevirt by redhat lol you should probably do your best to at least support partial usage of their storage provisioner :p

[2021-03-31 12:16] futuretea commented on #610
@mjschmidt  Since one of harvester's goals is to make it easy to use even for those without knowledge of k8s, the concept of storage class may be complicated for them.

[2021-03-31 12:22] mjschmidt commented on #610
can it just use the default storage class then? @futuretea it is currently hardcoded to use longhorn.

[2021-03-31 12:36] futuretea commented on #610
Since there will be more enhancements based on the new features of longhorn, perhaps you can fork harvester-ui yourself

[2021-03-31 13:55] TangStone commented on #385
Validate the version in v0.2.0-rc1
Solved the problem of deleting all backups and not releasing the target space  https://github.com/rancher/harvester/issues/385#issuecomment-810092427

[2021-04-01 00:59] yasker opened #632 "[FEATURE] Built-in HA load balancer"
We want to have a built-in HA load balancer shipped with the solution, so we can provide VIP(virtual IP address) feature of the Harvester cluster.

Additionally, it can act as a cloud provider in Kubernetes with https://github.com/harvester/harvester/issues/633 enhancement.

We can use kube-vip(https://kube-vip.io/) potentially.

[2021-04-01 01:00] yasker opened #633 "[FEATURE] Make Harvester a cloud provider for Kubernetes"
Depends on https://github.com/rancher/harvester/issues/632

- Develop a helm chart for Kube-vip, only support ARP mode and get IP from DHCP. (2 days)
     - [x] Develop Kube-vip helm chart
     - [x] Support VLAN and kube-vip to use the same network interface.
     - [x] Keep the IP got from the DHCP server same after restarting.
          - https://github.com/kube-vip/kube-vip/issues/220
     - [

[2021-04-01 01:30] yasker opened #634 "[FEATURE] Terraform provider"
**Description:**
- Need a terraform provider for users to provision VMs from the command line.
- Support defining harvester infrastructure based on Terraform files
- Support terraform v1.0.0

**Supported Resources:**
- [x] ssh-key
- [x] image
- [x] network
- [x] volume
- [x] virtualmachine
- [x] clusternetwork

**Stages:**
- [x] add basic implemetation
- [x] add tests
- [ ] publich to the TF regis

[2021-04-01 01:52] TangStone commented on #268
### Validation version v0.2.0-rc1
**Steps**
1. Deployment with harvester ISO
2. Access harvester
3. Certificate of Trust
- kubectl -n kube-system get secret serving-ca -o jsonpath='{.data.tls\.crt}'|base64 --decode>ca.pem
- Double-click ca.pem
- Find this ca certificate in the key string (should system) and set always trust
- Configure server-url in settings
![image](https://user-images.githubuser

[2021-04-01 01:54] #268 closed, assigned to gitlawr, TangStone

[2021-04-01 02:06] #592 closed, assigned to guangbochen, TangStone

[2021-04-01 02:23] futuretea commented on #633
Can we implement a [cluster-autoscaler](https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler) for Harvester?

[2021-04-01 02:31] TangStone commented on #385
Validate the version in v0.2.0-rc1
Solved the issue  https://github.com/rancher/harvester/issues/385#issuecomment-801860005

[2021-04-01 03:24] yaocw2020 commented on #595
We are considering to replace K3OS. May connman will replaced at the same time. We will take this scenario into consideration and you will be informed if it solved.

[2021-04-01 03:40] #369 closed, assigned to yaocw2020, futuretea, TangStone

[2021-04-01 03:40] #385 closed, assigned to guangbochen, TangStone, WuJun2016

[2021-04-01 03:40] yaocw2020 commented on #595
https://github.com/rancher/harvester/issues/581

[2021-04-01 03:59] #567 closed, assigned to TangStone, WuJun2016

[2021-04-01 08:04] DoNotSayYes opened #635 "[BUG] Switching the host NIC could cause harvester to be unreachable"
**Describe the bug**
Switching the host NIC could cause Harvester to be unreachable

**To Reproduce**
Steps to reproduce the behavior:
1. Set up Harvester with multiple NICs in a host
2. Configure the VLAN default NIC, e.g., eth0
3. Switch the NIC by editing the host, e.g., eth1

**Expected behavior**
Harvester is reachable via that URL in the console when its status is `Ready`.

**Result**
Harves

[2021-04-01 08:33] yaocw2020 commented on #635
Duplicate of https://github.com/rancher/harvester/issues/534

[2021-04-01 08:37] DoNotSayYes commented on #635
what is the solution to solve it?

[2021-04-01 09:20] TangStone commented on #227
**Verify the version**

- harvester:v0.2.0-rc1

- longhorn:v1.1.1-preview1

**Steps**
1. upload an images to harvester
![image](https://user-images.githubusercontent.com/15829074/113271042-b164dc80-930c-11eb-810d-633aa1e5ed9e.png)
2. A storageclass has been added
![image](https://user-images.githubusercontent.com/15829074/113264452-93e04480-9305-11eb-8457-3991af93d919.png)
![image](https://user-im

[2021-04-01 10:47] gitlawr commented on #622
We can implement it on our side before it is available in kubevirt API

[2021-04-01 11:36] futuretea commented on #564
just because of resource overcommit

[2021-04-01 11:36] #564 closed, assigned to nobody

[2021-04-01 11:55] 1114774464 opened #637 "[Question] Failed to install Harvester on physical server"
HP DL380G server install Harvester, error as follows
![微信图片_20210401195158](https://user-images.githubusercontent.com/24802027/113290143-cc8f1680-9323-11eb-986e-fbb41dffaf4a.jpg)
Server CPU:Intel xeon CPU E5-2600 V2@2.20GHz
How to solve this problem？

[2021-04-01 11:58] 1114774464 commented on #637
Harvester ISO is v0.1.0

[2021-04-01 12:12] futuretea commented on #637
@1114774464 What tool was used to create the usb?
https://github.com/rancher/harvester/issues/404#issuecomment-799997996

[2021-04-01 17:54] yasker commented on #283
To clarify the experience, we want to achieve something like this:

1. User creates a VM
2. User attaches a disk to the VM when the VM is running, e.g. data storage.
3. Due to the node maintenance, the VM needs to be migrated to other nodes.
4. VM should be migrated to another node correctly.
5. User can choose to detach the volume or just shutdown the VM.
    1. If the user decides to start the V

[2021-04-01 20:09] pgonin commented on #595
Fair enough. Thanks

[2021-04-01 21:18] emctl commented on #637
@1114774464 - I got this when I flashed the ISO with Rufus however It worked with [etcher](https://www.balena.io/etcher/)

[2021-04-01 23:58] 1114774464 commented on #637
CD-ROM

[2021-04-02 01:37] 1114774464 commented on #637
I flash the ISO with etcher,no errors,but stop as follows
![usb](https://user-images.githubusercontent.com/24802027/113370595-d9991d80-9396-11eb-8c25-bcf444547ef4.jpg)

[2021-04-02 01:40] TangStone commented on #607
### Validation in v0.2.0-rc1
![image](https://user-images.githubusercontent.com/15829074/113370810-68a63580-9397-11eb-906e-48f1823ae629.png)
**Validated**

[2021-04-02 01:40] #607 closed, assigned to TangStone, WuJun2016

[2021-04-02 01:41] #227 closed, assigned to guangbochen, gitlawr, TangStone

[2021-04-02 01:43] TangStone commented on #585
The last few versions have not recurred, it should be a network problem

[2021-04-02 01:43] #585 closed, assigned to TangStone, WuJun2016

[2021-04-02 02:01] 1114774464 commented on #637
When the ISO writte with the UltraISOPortable to a usb drive,the following exception occurs
![u](https://user-images.githubusercontent.com/24802027/113372040-4eba2200-939a-11eb-8ff3-9b4b01b7dc30.jpg)

[2021-04-02 02:24] TangStone commented on #575
validated

[2021-04-02 02:24] #575 closed, assigned to guangbochen, TangStone

[2021-04-02 02:24] WuJun2016 opened #638 "[FEATURE] Add websocket disconnection prompt"
**Is your feature request related to a problem? Please describe.**

When the websocket is disconnected, the disconnect message needs to be displayed

[2021-04-02 02:38] gitlawr opened #639 "Move out minIO component"
Motivations:
1. There's no guarantee for upgrading distributed minIO with zero downtime.
2. It's additional overhead when we have backing image support in longhorn.
3. Reduce support efforts.

[2021-04-02 02:41] gitlawr commented on #639
UI: Adapt to the API, remove the imported status and progress for images. Remove the tips for image storage health check.

QA: Confirm the minIO component is gone. confirm that image & VM operations work as before.

[2021-04-02 02:43] kingsd041 commented on #615
Fix in the master-a720ef1b-head version, click the next page button, it will jump to the next page correctly

[2021-04-02 02:43] #615 closed, assigned to DaiYuzeng, kingsd041

[2021-04-02 03:33] DoNotSayYes commented on #608
Validated on 0.2.0-rc1
![image](https://user-images.githubusercontent.com/57614736/113377519-166d1080-93a7-11eb-8159-69046df60e72.png)

[2021-04-02 03:33] #608 closed, assigned to WuJun2016

[2021-04-02 03:34] #539 closed, assigned to WuJun2016, DoNotSayYes

[2021-04-02 04:01] guangbochen opened #640 "[FEATURE] cloud-init configuration enhancement"
**Describe the solution you'd like**
Add cloud-init configuration enhancement with:
1. [x] add a select option to install the guest agent plugin
2. [x] do not create a cloud-init disk when it has an empty value
3. [x] add cloud-init template in VM

[2021-04-02 05:07] futuretea commented on #640
install qemu-guest-agent by cloudinit:
[code]

[2021-04-02 05:33] futuretea opened #641 "[BUG] After edit vm description, vm will be restarted"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. click `Edit Config`
2. add vm description

**Expected behavior**

don‘t restart vm, if just edit vm description

**Log**

**Environment:**
 - Harvester ISO version:
 - Installation Mode: ISO/app-mode
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630):

**Additional context**
Add any other context about t

[2021-04-02 05:45] futuretea opened #642 "[BUG] The filter box of the vm list is not filtered correctly"
**Describe the bug**

![image](https://user-images.githubusercontent.com/15064560/113384794-648b0f80-93b9-11eb-87ac-0d1805494c54.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Virtual Machines`
2. Enter a character in the filter box and vm will be displayed even if no virtual machine has this character in its name

**Expected behavior**

vm list will be filtered correctly

**Log

[2021-04-02 05:51] futuretea opened #643 "[BUG] After change UI to Chinese, Migration tab still display English"
**Describe the bug**

![image](https://user-images.githubusercontent.com/15064560/113385185-2fcb8800-93ba-11eb-8e83-f05a015c4a94.png)

**To Reproduce**
Steps to reproduce the behavior:
1. change UI to Chinese
2. check migration tab display

**Expected behavior**

**Log**

**Environment:**
 - Harvester ISO version:
 - Installation Mode: ISO/app-mode
 - Underlying Infrastructure (e.g. Baremetal with

[2021-04-02 06:07] yaocw2020 commented on #640
What about static IP?

[2021-04-02 06:14] DoNotSayYes commented on #549
Validated on 0.2.0-rc1
![image](https://user-images.githubusercontent.com/57614736/113378655-1c182580-93aa-11eb-8c12-fcb4d77da10c.png)
![image](https://user-images.githubusercontent.com/57614736/113386839-a918aa00-93bd-11eb-8e2e-a92e7150f31b.png)

[2021-04-02 06:14] #549 closed, assigned to WuJun2016

[2021-04-02 06:17] DoNotSayYes commented on #489
Uploading is not supported for now.

[2021-04-02 06:17] #489 closed, assigned to WuJun2016, DoNotSayYes

[2021-04-02 06:39] DoNotSayYes commented on #501
Validated on 0.2.0-rc1

[2021-04-02 06:39] #501 closed, assigned to futuretea, DoNotSayYes

[2021-04-02 06:57] DoNotSayYes commented on #514
Validation added.
![image](https://user-images.githubusercontent.com/57614736/113390093-a325c780-93c3-11eb-82b4-df8d94662697.png)

[2021-04-02 06:57] #514 closed, assigned to futuretea, DoNotSayYes

[2021-04-02 07:54] guangbochen commented on #420
duplicate of https://github.com/rancher/harvester/issues/576

[2021-04-02 07:54] #420 closed, assigned to nobody

[2021-04-02 07:55] guangbochen commented on #504
close in favor of https://github.com/rancher/harvester-installer/pull/49 with changes from docker to ctr.

[2021-04-02 07:55] #504 closed, assigned to futuretea

[2021-04-02 08:14] guangbochen commented on #397
duplicate of https://github.com/rancher/harvester/issues/582

[2021-04-02 08:14] #397 closed, assigned to nobody

[2021-04-02 08:16] guangbochen commented on #309
duplicate of https://github.com/rancher/harvester/issues/594

[2021-04-02 08:16] #309 closed, assigned to WuJun2016

[2021-04-02 08:31] DoNotSayYes commented on #547
Validated on master-head

[2021-04-02 08:31] #547 closed, assigned to DaiYuzeng, DoNotSayYes

[2021-04-02 08:57] DoNotSayYes commented on #583
Validated on master-head

[2021-04-02 08:57] #583 closed, assigned to DaiYuzeng

[2021-04-02 09:23] guangbochen opened #645 "[BUG] image error of the VM template"
**Describe the bug**
1. when creating a new VM template version the image is always required.
2. when creating a new VM template version the previous configured image is not copied.

**Expected behavior**
1. the image should not be required.
2. when creating a new VM template version, if the previous version contains an image it should also be carried over to the new one.

**Log**
N/A

**Environme

[2021-04-02 09:26] DoNotSayYes commented on #546
Validated on master-head

[2021-04-02 09:26] #546 closed, assigned to guangbochen, WuJun2016

[2021-04-02 09:53] emctl commented on #637
Isn't that the screen you want to proceed with the install?

[2021-04-03 00:30] gregoryg opened #646 "[BUG] Specifying an internet proxy during installation of agent node makes node unusable"
If an internet proxy is specified during ISO installation of an agent node, that node will send queries to Pod DNS through the proxy (10.0.53.10:443).   Since the proxy is unable to connect those requests, pods will not be able to start on that node.  Pods will report an error like

`Warning  FailedCreatePodSandBox  58m                 kubelet, chewbacca  Failed to create pod sandbox: rpc error: c

[2021-04-03 01:39] gregoryg opened #647 "[BUG] UI Reports total available on root file systems, not total Longhorn storage"
**Describe the bug**
UI Dashboard -> Storage size reports total disk size on the root file systems in the Harvester cluster, not the total storage available to Longhorn

**Expected behavior**
The total Longhorn storage is what's relevant to Harvester, not the local root partition storage size.  Expected behavior would be to report the same number shown in the Longhorn UI (either "Storage Schedulab

[2021-04-04 15:40] yasker opened #648 "[BUG] API extension group needs upgrade"
Warning in the Harvester log
[code]

[2021-04-05 16:39] yasker opened #649 "[FEATURE] Increase the log visibility"
Harvester is still in the early stage but we don't show any debug log at the moment. It won't be helpful if users encounter an issue then realize there is no bug available to help to troubleshoot.

We need to increase the log visibility. Probably just enable `debug` by default.

If log spamming will happen when we enable `debug` by default, we can fix that too.

[2021-04-05 16:40] yasker commented on #579
Move to v0.2.0 milestone.

We're going to announce v0.2.0 as the first beta release. Need to have a way to help users troubleshooting issues.

[2021-04-06 02:05] futuretea opened #650 "[BUG] Management IP was changed automaticately to a wrong one"
**Describe the bug**

**Log**

![image](https://user-images.githubusercontent.com/15064560/113648596-6efe1f80-96bf-11eb-8b31-2f79ce6a7fcd.png)

**Environment:**
 - Harvester ISO version:
 - Installation Mode: ISO/app-mode
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630):

**Additional context**
Add any other context about the problem here.

[2021-04-06 02:11] guangbochen commented on #648
will need to bump the API extension version of the upstream dependency framework of the wrangler.

[2021-04-06 03:10] kingsd041 commented on #469
Validated on v0.2.0-rc1
Verify the test case:
- During the ipxe installation of harvester, different events (`SUCCEEDED`, `STARTED`, `FAILED`) will be sent according to the set URL
- Verified `GET` and `POST` methods
- Verify that events are sent via `insecure` and `basicAuth`
- Verify can send events to the http server through `insecure` and `basicAuth`

[2021-04-06 03:10] #469 closed, assigned to bk201, kingsd041

[2021-04-06 05:07] guangbochen opened #651 "[FEATURE] update both API version and API group before the v0.2.0 release"
**Is your feature request related to a problem? Please describe.**
update both API version and API group before the v0.2.0 release

**Describe the solution you'd like**
bump the API version to `v1beta1` and API group to the `harvesterhci.io`
- [x] update the API version and API group of the Harvester.
- [x] update the API group and API version of the network-controller chart.
- [x] update the API