[2022-06-21 02:40] TachunLin commented on #2087
Verified **fixed** on `master-96b9071-head`. Close this issue.

### Result
The console UI of node after boot up now also display the `harvester-mgmt` IP and `hostname` info of the current node
![image](https://user-images.githubusercontent.com/29251855/174704175-b04b79eb-19b4-4cae-9162-ca11497fdcc5.png)

### Test Information
* Test Environment: 1 node harvester on local kvm machine
* Harvester ver

[2022-06-21 02:40] #2087 closed, assigned to tjjh89017, TachunLin

[2022-06-21 03:15] TachunLin commented on #2394
Verified **fixed** on `master-96b9071-head` with Rancher `v2.6.5`. Close this issue.

ui-dashboard url: https://releases.rancher.com/harvester-ui/dashboard/latest/f8fc153d786193df9676.js
ui-offline-preferred: Remote

### Result
Now the standard user with project owner role can access harvester in virtualization management page correctly
![image](https://user-images.githubusercontent.com/29251855/1

[2022-06-21 03:15] #2394 closed, assigned to WuJun2016, TachunLin

[2022-06-21 03:41] bk201 commented on #2403
I guess this request is similar to https://github.com/harvester/harvester/issues/2147
There is a on-going HEP: https://github.com/harvester/harvester/pull/2335

[2022-06-21 03:53] bk201 opened #2404 "[BUG] Could not bump Longhorn dependency to 1.3.0"
**Describe the bug**

When bumping Longhorn from 1.2.4 to 1.30 in a running cluster, longhorn-manager can't start with the error:
[code]

This could be a blocker when the user wants to upgrade from v1.0.3 to v1.1.0.
**Note** A new cluster works well, this only happens during an upgrade.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a cluster.
2. Edit cluster-repo deployment: `kubect

[2022-06-21 03:54] bk201 commented on #2404
Depends on https://github.com/longhorn/longhorn/issues/4160

[2022-06-21 04:07] TachunLin commented on #2395
Verified **fixed** on `v1.0-ec0bb4be-head` with Rancher `v2.6.5`. Close this issue.

ui-dashboard url: https://releases.rancher.com/harvester-ui/dashboard/release-harvester-v1.0/dd7c9a1cbc6251cd5e0e.js
ui-offline-preferred: Remote

### Result
Now the standard user with project owner role can access harvester in virtualization management page correctly
![image](https://user-images.githubusercontent

[2022-06-21 04:07] #2395 closed, assigned to WuJun2016, TachunLin

[2022-06-21 05:59] TachunLin commented on #2350
Verified **fixed** on `v1.0-ec0bb4be-head` (6/10) with Rancher `v2.6.5`. Close this issue

Harvester ui-index: https://releases.rancher.com/harvester-ui/dashboard/release-harvester-v1.0/index.html
Rancher ui dashboard-index: https://releases.rancher.com/harvester-ui/dashboard/release-harvester-v1.0/dd7c9a1cbc6251cd5e0e.js
Rancher offline preferred: `Remote`

### Result
Use rancher standard user `t

[2022-06-21 05:59] #2350 closed, assigned to WuJun2016, TachunLin

[2022-06-21 06:41] TachunLin commented on #2288
Verified **fixed** on `master-96b90714-head` (6/20) with Rancher `v2.6.5`. Close this issue

Harvester ui-index: https://releases.rancher.com/harvester-ui/dashboard/latest/index.html
Rancher ui dashboard url: https://releases.rancher.com/harvester-ui/dashboard/latest/f8fc153d786193df9676.js
Rancher offline preferred: `Remote`

### Result
Use rancher standard user `test` with project owner permissi

[2022-06-21 06:41] #2288 closed, assigned to WuJun2016, TachunLin

[2022-06-21 07:31] 290760647 opened #2405 "[FEATURE]Harvester support third-party storage for non-root disks of VM"
Harvester currently only supports the use of longhorn to store virtual machine data, and does not support the use of external storage to store virtual machine data, it is recommended that we can install CSI in the harvester cluster to support external storage, we can choose to use external storage as the VM's non-system data partition when creating the VM, in order to let customers store some appl

[2022-06-21 08:36] lanfon72 commented on #2347
Verified this feature has been implemented.

![image](https://user-images.githubusercontent.com/5169694/174753699-f65e66c6-677b-4a3a-8f71-bfbb7a3b1bb2.png)
![image](https://user-images.githubusercontent.com/5169694/174754418-c5786f38-5909-40ce-8076-c3eddcd3059a.png)

Test Information
----
* Environment: **Baremetal DL160G9 5 nodes**
* Harvester Version: **master-96b90714-head**
* **ui-source** Opt

[2022-06-21 08:36] #2347 closed, assigned to lanfon72, n313893254

[2022-06-21 08:38] lanfon72 commented on #1700
The bug has been fixed on #2347.

[2022-06-21 08:38] #1700 closed, assigned to lanfon72, n313893254

[2022-06-21 09:06] lanfon72 commented on #1831
Hi @Vicente-Cheng, could you help update test plan for this issue?
I saw [the comment](https://github.com/harvester/node-disk-manager/pull/37#issue-1247664430) but there still have some questions:
1. How **many** additional disks will hit the concurrent count, is it user configurable? if so, how to configure it?
2. What's the default concurrent count?
3. this (quote below) more like console behavi

[2022-06-21 11:23] crazyelectron-io opened #2406 "[BUG] Disk State of turned off node remains Healthy"
**Describe the bug**
The `Disk State` in the Hosts screen of the Web UI remains _Healthy_ even after the node has been down for 24 hours.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a multi-node Harvester cluster and ensure all is up-and-running and the host and disk state is healthy.
2. Shutdown one node and wait a while.
3. Refresh/restart the UI and go to 'Hosts' .
4. Check the

[2022-06-21 11:28] crazyelectron-io commented on #2396
I had a _somewhat_ similar issue when installing Harvester. In my case, removing `console=ttyS0` when booting the Harvester installer solved it. Worth a try...

[2022-06-21 11:28] fanlix commented on #994
@ibrokethecloud  sorry reply so late.
Is there any way to upload the file not publicly?

[2022-06-21 14:23] Vicente-Cheng commented on #1831
It depends on your number of concurrent ops, you could use `--max-concurrent-ops` to configure it. If you do not config, the default value is `5`. We should add the number of disks is bigger than `--max-concurrent-ops` then you could check the related logs described as original pull requests.

The default value is `5`.

I thought that the `forceFormatted` option is on disk-related GUI each time. T

[2022-06-21 14:48] yaocw2020 commented on #2284
I believe it's a common question. What about writing a KB to explain it?

[2022-06-21 14:52] yaocw2020 commented on #2396
@jagarlamudisrinath @crazyelectron-io Please check the installation troubleshooting document https://docs.harvesterhci.io/v1.0/troubleshooting/installation/. It might help.

[2022-06-21 15:15] futuretea opened #2407 "[BUG] VM migration failed"
**Describe the bug**

![33b429687c7e811bd82691cf5078b8a](https://user-images.githubusercontent.com/15064560/174834996-486fefc4-6e22-4be0-a5bf-93bb80d15873.png)
![a1a78a97369a8592dd4636f7f72c5a6](https://user-images.githubusercontent.com/15064560/174835025-a1b75877-bfa8-4a34-a7a4-c909388141d9.png)

**To Reproduce**
Steps to reproduce the behavior:
1. create a vm in host1
2. migrate it to host2

**E

[2022-06-21 17:50] spatialy commented on #2291
Hi @rodrigo14miguel

We are stuck trying to get the second option to work, we have a deployment where each node has 2 NICs, the second NIC bond we create manually as per the documentation but each time we create a network in harvester with the VLAN dedicated NIC the DHCP validation fails and the VM doesn't get any external assigned IP from the DHCP.

Can you help us with more details on how you de

[2022-06-21 18:13] rodrigo14miguel commented on #2291
Hi @spatialy

In your Networks tab in Harvester's UI, does this network that you speak of show any yellow balloon saying "DHCP failed" (or something like that) to the right?

[2022-06-21 19:35] spatialy commented on #2291
Hi @rodrigo14miguel, yes we see the ballon with the message … we don’t know where else to check … if you think a support bundle can help we can upload one

[2022-06-21 19:49] rodrigo14miguel commented on #2291
Hi @spatialy,

I remember encounter a similar problem. I had a DHCP server external to Harvester.
When creating a VLAN network in Harvester, for the "route" options of the VLAN network, when I specified my DHCP server IP (that was on the same VLAN), the VLAN network in Harvester would display that yellow balloon and it would not work.

To make it work, I left the "route"'s DHCP IP section empty fo

[2022-06-21 19:55] spatialy commented on #2291
Yes same scenario here, let try to get the field blank and see.

Last question, you use 1 or 2 NIC? We use 1 dedicated NIC for each network … docs and schematics don’t get clear on this beside you need to bond the second NIC.

Let you know how go with your same steps.

Best

[2022-06-21 20:12] rodrigo14miguel commented on #2291
I used 2 NICs:

- NIC 1 for Harvester management traffic and VIP (access UI also). The wizard creates a bond with a single network interface.
- NIC 2 for VM traffic, multiple VLANs. No bonding configuration needed, just chose it as default VLAN network interface.

If you are doing a baremetal installation with the ISO, you can do interface bonding for redundancy. In the installation process you ca

[2022-06-21 21:28] irishgordo commented on #2038
I'll tentatively say this will be a 3 :smile: - I feel that the configuration and testing will be the most time consuming.

[2022-06-21 22:12] noahgildersleeve commented on #1849
@FrankYang0529 I went through the steps [here](https://github.com/harvester/tests/issues/385) and I didn't see a prompt for an upgrade. I was running this off of the latest master bulid in a virtualized environment. I was wondering, is there is another way I should be testing this?

The steps that were outlined seemed to test if the harvester system would be able to access influxdb, but not if inf

[2022-06-22 00:20] bermanboris commented on #2327
@yasker Is there a way to update kernel manually or apply patches to the one that comes with Harvester? I am experiencing bug with Realtek network card that was fixed in newest kernel, but I am not sure if it's possible to install newest kernel / patch the kernel / install network card driver that comes from the vendor (since the file system appears to be read-only)?

[2022-06-22 01:41] harvesterhci-io-github-bot opened #2408 "[backport v1.0] [BUG] VM migration failed"
backport the issue #2407

[2022-06-22 07:10] zhilong-rancher opened #2409 "[FEATURE]Added the parameter configuration function for the operating system on the UI"
**Is your feature request related to a problem? Please describe.**
Currently, the configuration for the operating system is completed during the installation process, such as dns server, ntp server etc.
After the installation is complete, if the configuration is incorrect or the environment is changed after running for a period of time, you need to modify some parameters, either reinstall  or modi

[2022-06-22 07:21] poldiderjungdrache commented on #2327
Well the read only should be possible to remount as rw. But it just gets
more complicated from there as you don’t have a build environment as well.
So you need to start installing packages and dependencies etc.
So what should be an easy exercise becomes  an ugly hack.
So it might be doable but clearly not intended.
The kernel in use here comes from the openSUSE/SLES15. At least from what I
see at

[2022-06-22 08:22] shuo-wu commented on #1436
The corresponding Longhorn backend API is `/v1/backingimages/{name}/download`

And the Longhorn UI PR is: https://github.com/longhorn/longhorn-ui/pull/519 (This PR also includes one upload-API-related modification, which fits the recent backing image refactoring)

[2022-06-22 08:38] KarlSK8 opened #2411 "How to migrate a Virtual Machine from Vmware vsphere to harvester?"
I have recently started working on harvester virtualization, and I am willing to transfer VMs that are already running in vSphere to harvester. What is the best way to do that?

[2022-06-22 08:57] FrankYang0529 commented on #1849
Hi @noahgildersleeve, thanks for helping to test this issue. Since we changed harvester/upgrade-responder to longhorn/upgrade-responder and we also change the [request body](https://github.com/harvester/harvester/commit/c2960206825a3b10bf4b8655f8aa051b2cb154cd) in harvester, I would like to test whether longhorn/upgrade-responder can work with the latest harvester.

We cannot add a dev version for

[2022-06-22 09:42] lanfon72 commented on #1831
Verified not fixed.

The `node-disk-manager` keeping requeuing devices, and no disks formatted successfully.
Dashboard info:
![image](https://user-images.githubusercontent.com/5169694/174996723-2f739bb9-6bc5-4c98-9c0d-02a485a93f5d.png)
Console Info:
![image](https://user-images.githubusercontent.com/5169694/174997958-1aac9f08-c881-4bfb-9501-107a0f68d258.png)
Vagrant disk configuration:
![image](ht

[2022-06-22 10:23] bermanboris commented on #2327
@poldiderjungdrache Thanks for the such a detailed answer! I really appreciate it, and will probably do the same as you, and move to Proxmox.

I wrote my reasons for moving to Proxmox for the people who wants to use Harvester in "home lab" or "small office":
- It comes with newest kernel (and ability to update it manually) therefore hardware support out of the box is much better compared to Harves

[2022-06-22 11:07] w13915984028 commented on #2291
@BringerOD

Please check if following link helps, thanks.

Re-use management network to expose VM to outside world.

https://github.com/w13915984028/harvester-develop-summary/blob/main/connect-vm-from-mgmt-network.md

[2022-06-22 12:23] spatialy commented on #2291
Hi @w13915984028, glad this catch your attention.

We don't need to access from outside the VMs, as we plan to expose services using an IPPool as per docs.

What we are troubling is on getting the second dedicated NIC to work for the VLAN ... we try the suggestions of the documentation and really do a test with bonding, no bonding, DHCP IP defined and not, as well a direct route on Harester networ

[2022-06-22 21:42] aaannz commented on #2344
I have the same problem. I managed to deploy one microos VM which after some time I decided to redeploy and since then I cannot create new VM. I tried both kvm and cloudinit based images.

If I drop to dracut emergency shell I can confirm that main disk is not present. Regardless if I use virtio, scsi or sata mounting, the only disk present is cloudinit disk.

[2022-06-22 21:53] aaannz commented on #2344
If I let to describe virt-launcher then I see two warnings:
[code]

[2022-06-22 22:49] noahgildersleeve commented on #1849
I tested this in master-96b90714-head and I'm unable to trigger the upgrade. I setup the influxdb instance and the
`curl -X POST http://<SERVER-IP>:8314/v1/checkupgrade \
     -d '{ "appVersion": "master-head", "extraInfo": {}}' `

commandworked fine, but it does not seem to be triggering the upgrade check when I delete the pods from `harvester-system/harvester`. I tried a few different urls for t

[2022-06-23 01:21] rebeccazzzz opened #2412 "[Task] Harvester Technical Deep Dive Training Course"
Design a Harvester technical deep dive training course with a focus on troubleshooting and debugging.

[2022-06-23 02:00] Captured77 commented on #2399
/deploy/charts  path
first： helm install harvester-crd harvester-crd --namespace harvester-system
second：helm install harvester harvester --namespace harvester-system --set service.harvester.type=NodePort

longhorn is required？
Now error：

time="2022-06-23T01:57:56Z" level=error msg="Failed to dial steve aggregation server: x509: certificate is valid for 10.42.0.97, 10.42.0.98, not 10.43.114.8"
ti

[2022-06-23 03:08] FrankYang0529 commented on #1849
@noahgildersleeve, sorry, I know the reason. Actually, your harvester gets a new version from the upgrade-responder, but it also needs to send a request to GitHub to get more information. Currently, we don't have `v1.0.3` version on GitHub, so it fails with this error message. May you change the version name to `v1.0.2` and test it again? Sorry for all inconvenience. I update the example version i

[2022-06-23 03:09] tjjh89017 commented on #1647
wait for new VLAN design

[2022-06-23 03:09] tjjh89017 commented on #1390
wait for new VLAN design

[2022-06-23 03:12] Captured77 commented on #2399
helm install harvester，path /deploy/charts/harvester/README.md
### Prerequisites
- Kubernetes 1.16+.
- Helm 3.2+.
- [Multus CNI](https://github.com/k8snetworkplumbingwg/multus-cni). An [example chart](https://github.com/rancher/rke2-charts/tree/main-source/packages/rke2-multus/charts).
- [Harvester CRDs](https://github.com/harvester/harvester/tree/master/deploy/charts/harvester-crd)

To install ha

[2022-06-23 03:17] n313893254 commented on #2354
## Pre Ready-For-Testing Checklist
~* [ ] **If labeled: require/HEP** Has the Harvester Enhancement Proposal PR submitted?
  The HEP PR is at:~

* [x] Where is the reproduce steps/test steps documented?
The reproduce steps/test steps are at:

- https://github.com/harvester/harvester/issues/2354#issue-1261421773

~* [ ] Is there a workaround for the issue? If so, where is it documented?
The workaro

[2022-06-23 05:14] WuJun2016 commented on #2342
Hi,  @eshenayo  I fixed the issue, but I couldn't get it to run using the cloud-config you provided, and I tested that the issue was fixed using another example.    https://github.com/harvester/dashboard/pull/345#issue-1279815731

[2022-06-23 06:51] harvesterhci-io-github-bot opened #2413 "[backport v1.0] [BUG][UI] F keys and Alt-F keys in web VNC interface"
backport the issue #1461

[2022-06-23 07:25] DaiYuzeng opened #2415 "[BUG]VM Restarting occurred error"
**Describe the bug**

![image.png](https://images.zenhubusercontent.com/60370508fd3d02bfb6c4ba36/2a090711-8d96-48da-a0f0-7caa9f3e2b64)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a VM
2. Go to VM Edit page
3. Check `Restart Now`
4. Save

**Expected behavior**

1. VM can be restarted when it's off.

**Support bundle**

**Environment**
 - Harvester ISO version:
 - Underlying Infrast

[2022-06-23 07:25] harvesterhci-io-github-bot opened #2416 "[backport v1.0] [BUG]VM Restarting occurred error"
backport the issue #2415

[2022-06-23 07:25] harvesterhci-io-github-bot opened #2417 "[backport v1.0] [BUG]VM Restarting occurred error"
backport the issue #2415

[2022-06-23 07:26] #2417 closed, assigned to nobody

[2022-06-23 07:51] lanfon72 commented on #2261
@guangbochen, @rebeccazzzz, I think this will fix both on `v1.0.3` and `v1.1.0`, should we create another issue to mark it is backported?

[2022-06-23 08:57] lanfon72 commented on #2381
Verified this feature has been implemented.

![image](https://user-images.githubusercontent.com/5169694/175259460-2be09c45-286d-4a6d-bd77-bc2aaf0c954e.png)
![image](https://user-images.githubusercontent.com/5169694/175259513-e55b5302-945c-412a-afe6-b0c48f645e59.png)

Test Information
----
* Environment: **qemu/KVM 2 nodes**
* Harvester Version: **v1.0-ec0bb4be-head**
* **ui-source** Option: **Auto

[2022-06-23 08:57] #2381 closed, assigned to lanfon72, n313893254

[2022-06-23 08:58] lanfon72 commented on #2380
The bug has been fixed on #2381

[2022-06-23 08:58] #2380 closed, assigned to lanfon72, n313893254

[2022-06-23 09:26] guangbochen opened #2418 "[Doc] describe how to update the system configuration after installation"
**Is your feature request related to a problem? Please describe.**
Describe how to update the system configuration after installation.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**
`/oem/99_custom.yaml`

[2022-06-23 10:49] fanlix opened #2419 "[BUG] vm killed by Memory cgroup out of memory OOM"
**Describe the bug**
A vm with heavy memory activity is killed by harvester.suse.OOM
* vm setup ram= 48G.
* 100G ram avaliable before vm start
* ram cost of program running inside: normal=8G, peak=16G.  i run 2 of them.
* suddenly vm pod is killed by suse.k8s OOM.

[code]

before killed, vm top shows:  (48G is enough for programs)
[code]

* this program using jemalloc, and alloc/free huge memory v

[2022-06-23 13:59] Frankkkkk commented on #2369
Hi @simonflood thanks for the info. I'll give it a try again with 16Gbs.
Indeed, I see that it's made for DC usage, but it'd be nice to be able to disable some options to run it on lighter HW.

Anyways, I'll keep you up to date !

[2022-06-23 15:44] lanfon72 commented on #2261
Verified this feature has been implemented.

![image](https://user-images.githubusercontent.com/5169694/175333418-9d092b58-0202-4799-ba5b-476e02e7a785.png)

Test Information
----
* Environment: **qemu/KVM 2 nodes**
* Harvester Version: **v1.0-ec0bb4be-head** and **master-949bbb0c-head**
* **ui-source** Option: **Auto**
* **ui-index**: https://releases.rancher.com/harvester-ui/dashboard/release-har

[2022-06-23 15:44] #2261 closed, assigned to lanfon72, futuretea

[2022-06-23 16:11] joshmeranda commented on #2220
This was an issues with authenticating the provisioning pod in [rancher/machine](https://github.com/rancher/machine) that has been resolved by `v0.15-rancher88`.

[2022-06-24 01:20] bk201 opened #2420 "[FEATURE] support bundle: support SLE Micro OS"
**Is your feature request related to a problem? Please describe.**

We'll rebase to SLE Micro https://github.com/harvester/harvester/issues/1933 base image and want to keep its `os-release` file.
The ID is changed to `sle-micro-rancher` and it will break support-bundle-kit collector.

**Describe the solution you'd like**

Support the ID too.

**Describe alternatives you've considered**

**Addition

[2022-06-24 01:40] bk201 commented on #1933
Add `require/release-note` label. We'll share with community about the rebase.

[2022-06-24 04:07] harvesterhci-io-github-bot opened #2421 "[backport v1.0] [BUG] Can't select image after modifying template"
backport the issue #2212

[2022-06-24 04:10] wenwenxiong commented on #947
networkboot/dhcpd:latest ip: No such file or directory

[2022-06-24 05:11] kwwii commented on #2319
The user can already add labels when creating the image.

The table with the image list could display these labels by adding a column titled "Labels" with a comma separated list of labels. The filter would also filter for the labels in this new column.

Note that the table currently already shows a column "Age", so ordering the table by the Age column should also help to identify the latest image.

[2022-06-25 00:29] dweomer commented on #2245
Based on the work done by @w13915984028 I should think you have two straight-forward options to consider by fixing fleet:
- ship, via serialization, full-fidelity status objects, down to every leaf node in the (oddly deep) object graph (aka no private struct fields)
- marhsal then unmarshal new/old objects prior to comparison via `equality.Semantic.DeepEqual` (wrangler used to do a lot of this kin

[2022-06-25 11:23] raddah opened #2422 "Configure network failed [BUG]"
**Describe the bug**

After booting the Harvester ISO, an issue appears after doing the network connection configuration,
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Configure network connection
2. add the hostname.
3. choose the available management NIC for me, I have tow interface in this bare metal `eno1` and `eno2`.
4. select `balance-tlb `in Bond Mode
5. Select IPv4 Address as

[2022-06-27 13:55] BTGUK opened #2423 "[FEATURE] Use XFS instead of EXT4 as file system and allow user choice during install"
**Is your feature request related to a problem? Please describe.**
In a Harvester 1.0.2 installation, all file systems are ext4, with no ability for the user to change this during the installation. This is a problem because, while ext4 is considered mature, it has a number of drawbacks (such as the inferior I/O performance in multi-threaded access scenarios) which make it an inferior choice for a

[2022-06-27 18:48] naeemarsalan opened #2426 "[FEATURE] Harvester node driver to support multi-nics and multi-disks"
**Describe the bug**
When a cluster is provisioned with Rancher through Harvester node driver with multi nic. Only 1 nic is present on the VM.

Harvester Template
[code]

[cloud-init-output.log](https://github.com/harvester/harvester/files/8994775/cloud-init-output.log)
[cloud-init.log](https://github.com/harvester/harvester/files/8994776/cloud-init.log)

**To Reproduce**
Steps to reproduce the be

[2022-06-27 22:54] ibrokethecloud commented on #2344
@aaannz the scheduling is failing due to PVC claim not being fulfilled.

Any chance you could please provide us a support bundle?

[2022-06-28 02:58] DaiYuzeng commented on #2415
I realized why we restart the VM which is off status will throw errors.
There is no restart action if VM is off.

#### Off VM
<img width="645" alt="image" src="https://user-images.githubusercontent.com/15041915/176082182-46fd02d1-0cc7-4de5-9a73-90cd2c98e333.png">

#### Running VM
<img width="638" alt="image" src="https://user-images.githubusercontent.com/15041915/176081935-97aa18ff-b90d-4c04-97ee-

[2022-06-28 04:05] WuJun2016 commented on #2415
@DaiYuzeng
1. disable `Restart Now` button
2. If restart exists, use restart, otherwise use start, if neither exists, disable the restart button

[2022-06-28 17:10] mircea-pavel-anton opened #2429 "Hardware Passthrough Support"
**Is your feature request related to a problem? Please describe.**

I have tried migrating my Proxmox workloads to Harvester and I was faced with a lack of support for configuring hardware passthrough from the GUI. Among those workloads are things such as:

- virtualizing a TrueNAS instance -> passing through an HBA
- virtualizing a pfSense instance -> passing through multiple NICs
- virtualizing

[2022-06-28 20:09] mircea-pavel-anton commented on #2369
@simonflood My experience trying out Harvester on an i5 6500 (4 cores 4 threads) system with 32 gigs of RAM wasn't that smooth. I think after deploying a single VM i started running into errors saying that there is no host with enough cpu left over to spin up new VMs. Also, the monitoring stack was somehow broken. I couldn't get any graphs to load on the dashboard.

I do agree that a way to run ha

[2022-06-28 22:15] reesericci opened #2430 "[Question] How do I change the DNS server used by the Harvester cluster?"
It seems any change I make to either /etc/resolv.conf or /etc/sysconfig/network/config seems to be reversed on reboot, and I need to change the DNS server used by my cluster.

How can I change my DNS server permanently?

Thanks!

--reese

[2022-06-29 05:33] Martin-Weiss commented on #2430
I assume you have to adjust /oem/99_custom.yaml and then reboot.

[2022-06-29 05:57] bk201 opened #2431 "[FEATURE] Check version compatibility during an upgrade"
**Is your feature request related to a problem? Please describe.**

The harvester controller fetches upgradeable versions from the Harvester responder, but the user still can upgrade to an incompatible version by writing a [Version manifest](https://docs.harvesterhci.io/v1.0/upgrade/automatic/#prepare-an-air-gapped-upgrade).

**Describe the solution you'd like**

We should verify a running cluster

[2022-06-29 10:58] simonflood commented on #1773
Answering #2424 I was reminded of this issue I opened which is still an issue but I should answer my question about where the cluster token can be found post-install:

$ ssh rancher@<harvester-vip-address>
$ sudo cat /var/lib/rancher/rke2/server/node-token
$ sudo cat /etc/rancher/rancherd/config.yaml

[2022-06-29 11:04] simonflood commented on #1773
Note latter file is created via /oem/99_custom.yaml so cluster token is also in there.

[2022-06-29 14:05] w13915984028 commented on #2291
@spatialy  Please check following doc, I tried with dedicated VLAN network in nested virtualization. You can map it to your network setting, and even trouble shooting via the related path. When it is sitll not working, please depict your network topology, and list the related setting in your SWITCH and bare metal machines (are you using bare metal machine ?).

https://github.com/w13915984028/harve

[2022-06-29 19:36] w13915984028 commented on #2245
@dweomer Hope you are doing well :)

Not sure you noticed, the `equality.Semantic.DeepEqual` is called from the auto-generated code in Rancher framework.
[code]

When the framework can not fix it, then it needs to be solved in each caller. And most of us are not noticing this potential bug.

[2022-06-30 06:38] Martin-Weiss opened #2432 "[BUG] Adding new node to upgraded cluster causes upgrade job to be created for new node"
**Describe the bug**
System Upgrade Controller creates a new job for a node that got added after upgrading existing Harvester nodes in the cluster.

**To Reproduce**
1. Install single node 1.0.0 cluster
2. Upgrade cluster to 1.0.1
3. Upgrade cluster to 1.0.2
4. Add two additional nodes to the cluster
5. See upgrade pods getting started for the new nodes even though they are on the correct version.

[2022-06-30 08:16] Martin-Weiss opened #2433 "[BUG] Documentation needs to be changed for minimum disk size and minimum network connectivity"
**Describe the bug**
1 Gbit/s NICs are JUST useful / valid for PoCs
140 GB disk size is too smal as an upgrade to 1.0.1 will not work due to disk pressure (tested with 150 GB).

**Expected behavior**
Having longhorn replication, live migration and kubernetes communication - all on one 1 Gbit/s interface will not work stable and is not useful for production usage. So we must state clear that 1 Gbit

[2022-06-30 09:54] dweomer commented on #2245
It doesn't surprise me that the naive comparison is happening in generated code. Maybe fix the template?

It does surprise me that there are struct(s) in the graph with exported-but-not-serialized leaves/nodes _and_ that this has gone unnoticed until now.

[2022-06-30 10:46] w13915984028 commented on #2245
connect: https://github.com/rancher/rancher/issues/38035

@dweomer
Maybe Rancher framework need a customized `equality.Semantic.DeepEqual`, which excludes the private fields, to be used in the auto-generated code. Thus, the hack part is fully transparent to users.  I would prefer the framkework solve it.

I noticed for a long time, that even a blank Harvester single node cluster still consumes a n

[2022-06-30 15:50] asemen2608 commented on #2069
Same issue here. I tried to Install Harvester v1.0.2 from iso. No Network could be slected. Hiting "Enter" loops back to the disk selection.
Steps to reproduce are:
Select "Create a new Harverster cluster" -> choose disk sda or sdb -> USE MBR "No" -> Use the installation disk ->
HostName:  [harvester] -> "Enter" -> loops back to "Create a new Harvester cluster" . There is no chance to set Manageme

[2022-06-30 15:55] asemen2608 commented on #2069
Tar file upload is not support in github where to upload best the supportconfig tar file?
Temporary to be downloaded from:
http://www.liniq.de/hv/scc_rancher_220630_1534.txz
http://www.liniq.de/hv/scc_rancher_220630_1534.txz.md5

Environment:
    Harvester ISO version: v1.0.2
    Underlying Infrastructure (e.g. Baremetal with Dell Tower 5810):32GB RAM, 447GB SSD, 931GB HD

Looks like no network wa

[2022-06-30 17:46] dweomer commented on #2245
Yeah, we are on the same page with this.

@w13915984028 I didn't mean to insinuate that you or anyone on the Harvester team was lax in any way whatsoever. You did excellent work to find the bug! Your write-up had all the context I or anyone familiar with fleet/wrangler code would need to understand the problem. (Assuming that my assessment, from my admittedly removed perch, is correct).

Sure, but

[2022-06-30 19:44] w13915984028 commented on #2245
@dweomer Great, we are aligned.

Regarding the topic of performance,  I did not express it clearly.

First, I noticed that even a newly installed Harvester cluster, without any user workloads, still takes notable amout of CPU resources. The fleet-agent issue is the right break point to dive into.

Next step, will continue investigate other parts as following, which are taken from a 2-node cluster

[2022-07-01 05:48] fivezerosix opened #2434 "Initial Harvester cluster node seems to have lost network configuration"
**Describe the bug**
Master node (the initial cluster node) seem to have all network configuration lost after a reboot. I think it is the second time this happens.
 - Interfaces do not have  IP. Nor the initial network interface or the bridge or Harvester interfaces have ip's
![image](https://user-images.githubusercontent.com/33496047/176829886-510aaba2-a6c2-4538-b3fc-b3f58cbd2e1c.png)
 - harveste

[2022-07-01 07:35] fanlix commented on #2419
top status of an oom
## 1, vm running stable.
* the **hv.os** top shows
![hv-mem1](https://user-images.githubusercontent.com/987637/176846695-83f08103-03b8-4698-9c27-16c4104e3fd5.png)

* the **vm.os** top shows
![vm-mem1](https://user-images.githubusercontent.com/987637/176846662-c8be35e3-55f7-49ee-b212-b96462ced89b.png)

## 2, kill & restart app2.
* **hv.os** qemu-guest (57G) easily exceed 64G li

[2022-07-01 08:07] w13915984028 commented on #2419
@fanlix    It could be such a case:

Your application in guest VM, uses roughly 64 GB memory in peak (OS + APP) ,  and then, the APP releases memory,  thus you will see enough free memory in `top`.

But at the view of Harvester OS, exactly, the KVM/Qemu,  the realted process, which represents the guest VM,  touchs the limit, and it is OOM killed by kernel.

Please refer:
https://www.linux-kvm.org/

[2022-07-01 08:15] Martin-Weiss commented on #2175
Could it be, that this will not address the need for registry-mappings and authentication to the registry?

FYI - customers have images i.e. in registry.on-premise.domain:5000/staging/production/docker.io/rancher:2.6.6 and due to that they need the registry mapping that is implemented in RKE2 via registries.yaml

[2022-07-01 08:19] FrankYang0529 commented on #2175
Hi @Martin-Weiss, do our customers want a feature like this https://github.com/harvester/harvester/issues/2176?

[2022-07-01 08:22] w13915984028 commented on #2419
roughly, except the `seems free` part, all other kinds of memory in guest VM, are counted as the really used memory in HOST. OOM happend to HOST side.

![image](https://user-images.githubusercontent.com/31133476/176855043-5acebb30-d8ca-4ef0-989e-749dc7e8e338.png)

[2022-07-01 08:29] Martin-Weiss commented on #2175
From my experience differnet clusters need different registry access / different registries / different namesapces / different user / passwords / Certificate Authorities. That is one of the reasons why this feature was added to RKE2 (registries.yaml) and to RKE2 cluster creation via Rancher:

![grafik](https://user-images.githubusercontent.com/13362573/176856476-5de5a24c-f114-4370-a1df-17f8bc006a3

[2022-07-01 08:31] fanlix commented on #2419
yes, this oom happend in HOST side. then how to avoid?
* I already decrease ram Overcommit from 150% to 110%. should I decreate to 90% ?
* should I manually increate cgroup limit more than vm setup ( 70G for a 64G-vm)
* i try to use swap, but never triggered.
* any idae to make HOST kill app inside vm,  instead of whole vm ?

VM is so weak if qemu need 70G ram while physical machine only need 32G.

[2022-07-01 08:45] w13915984028 commented on #2419
Not sure how your APP really manage the memory.

[code]

`memory hole` is the suspecting point. Physical machine can deal such much better than VM.

I would suggest to use kind of tools to monitor your APP first, have more details of it's memory behavior.

 use a container/cgroup in the VM to run your APP?  HOST OS only sees one process.

[2022-07-01 09:20] fanlix commented on #2419
About the memory-hole problem, any config to force kubevirt pre-alloc whole 64G memory?
then HOST donnot need any dynamic complex memory logic, just handle one piece of pure physical ram.

increate memory request amount helps?  (related with overcommit %)
vm mem limit 64G,  request 64G.

[2022-07-01 09:38] KarlSK8 opened #2435 "[Enhancement] Virtual Machine fails to migrate from one node to another inside the same harvester cluster"
<!When choosing the option to migrate a VM from one node to another, the status is stuck at migrating state, and an error in the following notice shows in the logs "NoSuitableNodesForHostModelMigration" -->

**To Reproduce**

1. Create a harvester cluster
2. Add 3 nodes to that cluster
3. Create a fully functional VM in one of the nodes
4. Try to migrate the virtual machine from one node to anothe

[2022-07-01 10:08] janeczku commented on #2175
Harvester may need a private registry configuration option (for pulling cattle-agent and other images in the root cluster).

[2022-07-01 10:40] guangbochen commented on #2175
This is already tracked via a separate issue https://github.com/harvester/harvester/issues/2176 so let's just focus on them independently.

[2022-07-01 10:56] Martin-Weiss commented on #2176
We have to ensure that this feature allows full configuration of the Harvester integrated RKE2 registries.yaml with

1. registry mirror (multiple targets as contained supports registry fault tolerance / failover between registries provided)
3. registry namesapce mapping (i.e. image stored as registry01.customer.domain:5000/production/docker.io/rancher/rancher-agent:v2.6.6)
4. authentication (usern

[2022-07-01 14:40] bashofmann opened #2436 "[BUG] Image upload does not start when HTTP Proxy is configured"
**Describe the bug**
When a HTTP Proxy is configured in harvester, the VM image upload does not work. The upload does not start and errors with a timeout after 60 seconds. There are no obvious related errors in the logs.
When the HTTP Proxy settings are removed from Harvester, the image upload works without a problem. The `no_proxy` setting contained the cluster internal IP range `10.0.0.0/8`.

**

[2022-07-02 00:02] BringerOD commented on #2291
So we ended up getting this all to work using only one nic.  Mainly because the public nic was really only designed, by the provider OVH, for public access.  Since the harvester cluster is private,  we ended up only using the private nic.

We finally did get it all working.  We are going to post a case study here pretty soon on how we did it.

- 3 Node Harvester Cluster
- pFSense server for firewa

[2022-07-03 15:22] cognoz commented on #2422
Got the same error

Environment
Harvester ISO version: 1.0.2
Openstack Instance (32ram/10cpu/150ssd with attached vxlan+floaing interface), internet access
![image](https://user-images.githubusercontent.com/32709700/177046251-f0e53ce9-3b4a-4e76-9be0-d663ae872e74.png)

[2022-07-03 16:10] cognoz opened #2437 "[BUG] Wrong mgmt bond MTU size during initial ISO installation"
**Describe the bug**
Failed to configure network devices due to wrong mgmt bond's mtu
No configurable option.
![image](https://user-images.githubusercontent.com/32709700/177047833-d26ac5f1-abf0-4cc3-9fde-631550d42675.png)
![image](https://user-images.githubusercontent.com/32709700/177047838-3143539b-f693-4887-8290-b43c41c89d46.png)
![image](https://user-images.githubusercontent.com/32709700/177047

[2022-07-04 03:52] futuretea commented on #2407
root cause: virtualization was not turned on before adding the machine to the cluster

After enable virtualization, we also need to edit the node, delete the kubevirt related CPU labels, and delete the virt-hander-xxxx po on the node

[2022-07-04 03:53] futuretea commented on #2407
close in favor of https://github.com/harvester/harvester/issues/2407#issuecomment-1173309449

[2022-07-04 03:53] #2407 closed, assigned to nobody

[2022-07-04 03:53] futuretea commented on #2408
close in favor of https://github.com/harvester/harvester/issues/2407#issuecomment-1173309449

[2022-07-04 03:53] #2408 closed, assigned to nobody

[2022-07-04 03:54] futuretea commented on #2435
maybe this can be helpful:  https://github.com/harvester/harvester/issues/2407#issuecomment-1173309449

[2022-07-04 06:09] KarlSK8 commented on #2435
can you please show how you performed both steps, which are enabling virtualization and delete CPU label

[2022-07-04 06:45] TachunLin commented on #1461
Verified **fixed** on `master-949bbb0c-head` (06/25). Close this issue.

### Result
Verified the soft shortcut keys can display and work correctly on Linux OS VM (Ubuntu desktop 20.04)
![image](https://user-images.githubusercontent.com/29251855/177092853-0a9d570e-39b1-4127-ac22-2b9508d5b4f6.png)

Checked the following short cut can work as expected
* CTRL + ALT + DELETE: Logout system
* Soft Reboo

[2022-07-04 06:45] #1461 closed, assigned to DaiYuzeng, TachunLin

[2022-07-04 07:06] TachunLin commented on #379
Verified **fixed** on `master-949bbb0c-head` (06/25). Close this issue.

### Result
Verified the soft reboot keys can display and reboot correctly on Linux OS VM (Ubuntu desktop 20.04)
![image](https://user-images.githubusercontent.com/29251855/177100026-e67d0101-0a5b-433c-b9ab-e2b4af1a8d0f.png)

### Test Information
* Test Environment: 1 node harvester on local kvm machine
* Harvester version: ma

[2022-07-04 07:06] #379 closed, assigned to DaiYuzeng, TachunLin

[2022-07-04 07:25] Martin-Weiss commented on #2437
As a workaround - could you try to adjust the MTU via /oem/99_custom.sh?

[2022-07-04 07:55] w13915984028 commented on #1758
Close.

In case it happens again, feel free to reopen. Thank.

[2022-07-04 07:55] #1758 closed, assigned to nobody

[2022-07-04 08:15] w13915984028 commented on #2422
@raddah
The error message said `wicked reload all` failed.   It meant, the installer failed to apply the bond parameter.
Did you configure in your peer switch/router, that those 2 NICs (eno1, eno2) were bonded ? and the bond mode is `balance-tlb`.

Meanwhile, you can try to use only one NIC to test if it will be installed.,

[2022-07-04 08:20] w13915984028 commented on #2422
@cognoz
As you mentioned the NODE is an OpenStack instance with vxlan+floating interface.  `Openstack Instance (32ram/10cpu/150ssd with attached vxlan+floaing interface), internet access`.

The installer in this step will do  `wicked reload all`,  which does ` if down` and` if up ` and others.  Is your vxlan based NIC not allowed to be `down`  or  in `bond mode` ?

[2022-07-04 08:47] cognoz commented on #2437
Hm, I cant find the file, directory is empty
![image](https://user-images.githubusercontent.com/32709700/177118315-5c1d57d7-aef8-4ad1-88ef-6c9523418b75.png)

[2022-07-04 08:55] w13915984028 commented on #2396
@bk201 any idea? thanks.

[2022-07-04 09:07] lanfon72 commented on #2342
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/177121301-f30bf8ec-0a70-4549-b11b-895161ee30ad.png)

Test Information
----
* Environment: **Bare metal DL160G9 5 nodes**
* Harvester Version: **master-949bbb0c-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with any nodes
2. Create Image for VM creation
3. Create VM with f

[2022-07-04 09:07] #2342 closed, assigned to lanfon72, WuJun2016

[2022-07-04 09:09] bk201 commented on #2396
I'd first check if there is a default route: https://docs.harvesterhci.io/v1.0/troubleshooting/installation/#receiving-the-message-loading-images-this-may-take-a-few-minutes
Providing `/run/cos/target/rke2.log` and [node support bundle](https://docs.harvesterhci.io/v1.0/troubleshooting/installation/#collecting-troubleshooting-information) can help.

[2022-07-04 09:29] lanfon72 commented on #2389
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/177126287-5ac9fa01-b142-43f7-a72b-f97f44d90869.png)

Test Information
----
* Environment: **qemu/KVM 2 nodes**
* Harvester Version: **v1.0-ec0bb4be-head**
* **ui-source** Option: **Auto**
* **ui-index**: **https://releases.rancher.com/harvester-ui/dashboard/release-harvester-v1.0/index.html**

### Verify

[2022-07-04 09:29] #2389 closed, assigned to lanfon72, WuJun2016

[2022-07-04 09:33] Martin-Weiss commented on #2437
Ah - sorry - I misunderstood the problem.. the issue shows up already during installation...

Could it be, that ens7 is not connected? ens3 shows "up" and ens7 shows "down".. maybe no link / no cable connected?

[2022-07-04 09:44] w13915984028 commented on #2250
@fanlix

I tried the CentOS image you listed before. It's successfuly started.

![image](https://user-images.githubusercontent.com/31133476/177126949-7ae486ec-0ade-4b0d-b1f4-69124afba18e.png)

Guess you clicked `Botting in EFI mode` option before you `Create` it. It's also in your ` vm without raw-template ` context.

![image](https://user-images.githubusercontent.com/31133476/177127186-7fb00c23-6

[2022-07-04 10:03] w13915984028 commented on #2434
@fivezerosix
Please check and make sure:
(1) How do you set the NODE IP for those 3-nodes, each NODE should have a stable NODE IP, either static IP or DHCP with IP/MAC binding, to make sure, at any time, those NODEs have stable NODE IP, it is the fundemental of a k8s system.
(2) The Cluster VIP, should also be stable, it's suggested to use statci IP
(3) From the error log, the rebooted master NODE

[2022-07-04 10:08] harvesterhci-io-github-bot opened #2438 "[backport v1.0] [FEATURE] Add websocket disconnect notification"
backport the issue #2186

PR:
- https://github.com/harvester/dashboard/pull/366

[2022-07-04 10:12] w13915984028 commented on #2437
@bk201 @tjjh89017
Please take a look, does the installer check and reuse, calculate the harvester-mgmt MTU based on the NIC's MTU?  Seemed if the NIC MTU is set to be a smaller value, the installer failed.

cc @guangbochen @yaocw2020

[2022-07-04 10:27] w13915984028 commented on #1902
@erSitzt
How do you set the NODE IP and VIP,  both static IP or both DHCP or mixed? In case of DHCP, the DHCP server side needs IP/MAC binding to make sure the IP is stable.

[code]

[2022-07-04 10:45] w13915984028 commented on #2435
@KarlSK8
The error message showed that, no NODE was found fit for migrate, namely, another 2 NODEs can not host the VM.
The are a couple of required CPU features are listed, most import ones are  `vme` and `vmx`, those should be enabled in each of your bare metal NODE.

Please check your another 2 NODEs, by rebooting them and hit F2 / similar to set the BIOS, and enable `virtualization`. (refer yo

[2022-07-04 11:10] bk201 opened #2439 "[BUG] Doc: update server URL port to 443"
**Describe the bug**

Since https://github.com/harvester/harvester/issues/1830, server_url must be `https://VIP:443`.
We need to revise the server URL port from `8443` to `443` in the docs. Especially for PXE page and the configuration page.
- https://docs.harvesterhci.io/v1.0/install/pxe-boot-install/
- https://docs.harvesterhci.io/v1.0/install/harvester-configuration/

[2022-07-04 13:52] lanfon72 commented on #2375
Verified this has been backported.

![image](https://user-images.githubusercontent.com/5169694/177168584-df5b002e-dd6d-4454-95e8-cac3447c4f0b.png)

[2022-07-04 13:52] #2375 closed, assigned to Vicente-Cheng, lanfon72

[2022-07-05 02:39] bk201 commented on #2439
Verified the new doc is published.

[2022-07-05 02:39] #2439 closed, assigned to Vicente-Cheng

[2022-07-05 05:44] bk201 commented on #2430
@reesericci As a quick workaround without touching the original configuration file. You can create a file `/oem/99_more_custom.yaml` and replace the desired DNS server:
[code]

[2022-07-05 05:58] tjjh89017 commented on #1933
https://github.com/harvester/harvester-installer/pull/296

[2022-07-05 06:52] guangbochen commented on #2437
Users can config the MTU value via the [ipxe install ](https://docs.harvesterhci.io/v1.0/install/harvester-configuration/#installnetworks) but not exposed via the installer yet, seems we also need to support this config in the installer UI.
Additionally, the default MTU value is set to 1500 automatically of the `harvester-mgmt` bond and is not inherited from any NIC device.

[2022-07-05 07:23] futuretea commented on #2289
follow the steps https://github.com/harvester/harvester/issues/2289#issue-1241304365
unable to reproduce this issue in `rancher 2.6.6/2.6.5` + `harvester master-949bbb0c-head`
Users can view project, namespace, and VM
![image](https://user-images.githubusercontent.com/15064560/177272485-0cf6f521-14a2-4fc3-b3ee-c02f6c0c15cb.png)
![image](https://user-images.githubusercontent.com/15064560/177272515-

[2022-07-05 07:53] erSitzt commented on #1902
It was all static IPs

[2022-07-05 08:36] futuretea commented on #2309
1.

![image](https://user-images.githubusercontent.com/15064560/177279767-e64daf6f-d8ae-4f80-9379-76b0b48cbcdd.png)

unable to reproduce, user can see the `Create` button in the volume page

---
2.

even if it's not a Harvester cluster, it has the same behavior, so I'm not sure if this is the behavior that Rancher itself expects

Since Rancher permissions are configured according to project, a nam

[2022-07-05 09:17] w13915984028 commented on #1902
Found one doubt.

@bk201 any idea ?

[code]

https://github.com/k3s-io/k3s/issues/5352#issuecomment-1082137143
said:
[code]

[2022-07-05 09:24] w13915984028 commented on #1902
@erSitzt After the ISO installation, the Harvester NODE will be rebooted automatically,  and in the next startup, it does the bootstrap setting, is there any abnormal then? e.g. when setting, it is accidently rebooted.  Thanks.

[2022-07-05 10:07] Martin-Weiss opened #2443 "[BUG] Image handling inconsistency between "Harvester Terraform harvester_image data source" vs. "UI created Image""
**Describe the bug**
When creating a resource harvester_virtualmachine we have to specify the image with its "id / name".
When creating an image with the harvester UI - we can only specify the "display name" for the image and the "name" of the image is created with "generateName: image-".

Now when we want to use the data source data.harvester_image.image.id like documented here https://github.com

[2022-07-05 11:24] janeczku opened #2446 "[BUG] Harvester CSI persistent volumes are marked as "unsupported" in Rancher UI"
**Describe the bug**
1. Create an RKE2 guest cluster on Harvester
2. Create PVC for the Harvester storage class
3. Navigate to the list of persistent volumes in the Cluster Explorer

**Actual Behavior**
The source for the persistent volume is set to "CSI (Unsupported)"

**Expected Behavior**
The source for the persistent volume should be set to "CSI (Harvester)" or similar

<img width="1159" alt="

[2022-07-05 11:29] janeczku commented on #2446
Ref: https://github.com/rancher/dashboard/issues/6270

[2022-07-05 12:22] lanfon72 commented on #1831
Verified this bug has been fixed.

- [x] exceed the maximum, there should have requeue devices which equals the exceeds
- [x] hit the maximum, there should not have requeue devices
- [x] less than maximum, there should not have requeue devices

![image](https://user-images.githubusercontent.com/5169694/177324553-3b4800b2-9db9-45ec-a3cf-a630acb384cf.png)

Test Information
----
* Environment: **qemu

[2022-07-05 12:22] #1831 closed, assigned to Vicente-Cheng, lanfon72

[2022-07-05 12:45] futuretea commented on #2443
we can use [external data source](https://registry.terraform.io/providers/hashicorp/external/latest/docs/data-sources/data_source) to get the generated name
---
1. install `jq` `kubectl`
2. create a shell script `get_image_generated_name.sh` with the following contents:
[code]

3. add external provider to provider.tf:
[code]

4. use external data source
[code]

[code]

[2022-07-05 14:45] bk201 opened #2447 "[FEATURE] Configure OS in the boot time rather than during the installation time"
**Is your feature request related to a problem? Please describe.**

We are receiving more requests to modify OS configuration.
Currently, we convert **[Harvester configuration](https://docs.harvesterhci.io/v1.0/install/harvester-configuration/)** to **[elemental configuration](https://rancher.github.io/elemental-toolkit/docs/reference/cloud_init/) (and maybe more hacks)** during the **installation

[2022-07-05 14:46] bk201 commented on #2418
Here are some items users might need to change:

- [x] Bonding slaves
- [x] DNS nameservers
- [x] NTP servers
- [x] SSH keys
- [x] Passwords

[2022-07-05 14:47] bk201 commented on #2430
We'll add how to do this in the doc: https://github.com/harvester/harvester/issues/2418

[2022-07-05 15:05] Martin-Weiss commented on #2418
Does this also cover expansion of the size for /usr/local? (just in case there is not sufficient)

[2022-07-05 15:32] lanfon72 commented on #2415
verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/177363223-5901972e-0097-4cf6-9d27-a48d28e04350.png)

Test Information
----
* Environment: **qemu/KVM 2 nodes**
* Harvester Version: **master-08af3d7c-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with any nodes
2. Create Image for VM creation
3. Create VM
4. Edit Config o

[2022-07-05 15:32] #2415 closed, assigned to lanfon72, DaiYuzeng

[2022-07-05 19:45] abonillabeeche opened #2448 "[BUG] VM file system may be corrupted when Stopped via the UI"
**Describe the bug**
VMs File System may get corrupted when VMs are stopped.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a VM
2. Select a VM and hit Stop
3. The File System may be corrupted.

**Expected behavior**
The VM should be powered off gracefully

**Support bundle**
https://drive.google.com/file/d/18-hkLmNlHGp3I9Zt46Ar8mv-YxQ7T307/view?usp=sharing

**Environment**
 - Harvest

[2022-07-05 20:39] fivezerosix commented on #2434
1) Yes the nodes are using static IP assignment. These IP's are exclusively for these nodes.
2)  The Cluster VIP was configured to use the first node's static IP. Should we use a different one? Is there any way to update this configuration after a cluster is build?
3) Yes, it is trying to connect to the Clusters VIP, to which the other 2 nodes should answer the request. but there is no network int

[2022-07-05 21:41] w13915984028 commented on #2434
@fivezerosix
The VIP should be different from any NODE IP,  it is kind of floating IP and can be in any NODE dynamically,  maybe we did not express this clearly in Harvester DOC.
It is checked and warned in https://github.com/harvester/harvester/issues/2229.

Not sure the state of your remaining 2 NODEs, a better way is to re-install the cluster.

[2022-07-05 21:49] w13915984028 commented on #2229
@chrisho

Please also update doc, claim that the VIP should be different than any NODE IP. Thanks.

https://docs.harvesterhci.io/v1.0/install/management-address/

[2022-07-05 21:50] harvesterhci-io-github-bot opened #2449 "[backport v1.0] [BUG] input nic ip and vip with same ip address in Harvester-Installer"
backport the issue #2229

[2022-07-06 00:50] bk201 commented on #2448
@abonillabeeche Could you provide what's the VM image? (There are multiple images/VMs in the support bundle, I can't tell which one you use). And is the VM provisioned with Rancher or Harvester GUI?

I try to create a VM (image `focal-server-cloudimg-amd64-disk-kvm.img`) from Harvester GUI and click the stop button. From the the serial console output, it looks like a graceful shutdown: https://gis

[2022-07-06 01:05] Vicente-Cheng commented on #2449
It has the duplicated backport PR here. https://github.com/harvester/harvester/issues/2377

close this one

[2022-07-06 01:05] #2449 closed, assigned to tjjh89017, TachunLin

[2022-07-06 01:05] Vicente-Cheng commented on #2229
Just NOTE, backport PR is on https://github.com/harvester/harvester/issues/2377

[2022-07-06 01:10] noahgildersleeve commented on #2230
Tested in master-08af3d7c-head.
## Verification steps
1. Installed Ubuntu 20.04 in LVM configuration
2. rebooted
3. Installed Harvester via ISO over previous linux install
4. Verified Harvester install by changing password and logging in.

[2022-07-06 01:10] #2230 closed, assigned to bk201, noahgildersleeve

[2022-07-06 05:52] Martin-Weiss commented on #2443
Thanks for the workaround!

Do we have any chance to get this problem fixed in the Harvester UI (allowing image Name to be specified in addition to the Display Name) or could we get the data source in the Harvester terraform provider fixed so that it also supports “display name” directly?

[2022-07-06 05:56] bk201 opened #2450 "[backport v1.0][BUG] harvester installer - always first attempt failed if before was linux installed"
backport the issue https://github.com/harvester/harvester/issues/2230

Test plan: https://github.com/harvester/tests/issues/351

[2022-07-06 06:35] harvesterhci-io-github-bot opened #2451 "[backport v1.0] [BUG] VM template is not working with Node scheduling"
backport the issue #2244

[2022-07-06 07:17] harvesterhci-io-github-bot opened #2452 "[backport v1.0] [BUG] [terraform provider] provisioning a VM does not wait for the resource to be started"
backport the issue #2255

[2022-07-06 07:25] futuretea commented on #2443
I will try to enhance terraform provider to support “display _name”

[2022-07-06 09:08] futuretea commented on #2435
@KarlSK8
1. about enabling virtualization, refer to  https://github.com/harvester/harvester/issues/2435#issuecomment-1173665219
2. remove all labels contains "kubevirt.io" in the node by `kubectl edit node <node name>`
3. delete virt-handler po by `kubectl -n harvester-system delete po virt-handler-xxx`, replace ` virt-handler-xxx` with the correct pod name in the node

[2022-07-06 10:33] lanfon72 commented on #2416
Verified this bug has been fixed.

Test Information
----
* Environment: **qemu/KVM 2 nodes**
* Harvester Version: **v1.0-a2072964-head**
* **ui-source** Option: **Auto**
* **ui-index**: **https://releases.rancher.com/harvester-ui/dashboard/release-harvester-v1.0/index.html**

### Verify Steps:
1. Install Harvester with any nodes
2. Navigate to _Advanced/Settings_ and update **ui-index** to `https:

[2022-07-06 10:33] #2416 closed, assigned to lanfon72, DaiYuzeng

[2022-07-06 10:33] lanfon72 commented on #2186
Verified this feature has been implemented.

![image](https://user-images.githubusercontent.com/5169694/177529443-a9478e33-a955-4b48-8485-ab6eabbf3824.png)

Test Information
----
* Environment: **qemu/KVM 2 nodes**
* Harvester Version: **master-08af3d7c-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with at least 2 nodes
3. Login to Dashboard via Node IP
4. Navigat

[2022-07-06 10:33] #2186 closed, assigned to lanfon72, mantis-toboggan-md

[2022-07-06 10:33] lanfon72 commented on #2438
Verified this feature has been implemented.

![image](https://user-images.githubusercontent.com/5169694/177529443-a9478e33-a955-4b48-8485-ab6eabbf3824.png)

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **v1.0-a2072964-head**
* **ui-source** Option: **Auto**
* **ui-index**: **https://releases.rancher.com/harvester-ui/dashboard/release-harvester-v1.0/index.html**

#

[2022-07-06 10:33] #2438 closed, assigned to lanfon72, mantis-toboggan-md

[2022-07-06 10:48] chrisho opened #2456 "[FEATURE] Bump CCM to golang v1.18.3"
**Is your feature request related to a problem? Please describe.**
Need to bump the CCM dependency libraries, harvester to master, golang to v1.18.3, and k8s version to v1.23.x respectively.

**Describe the solution you'd like**
- [x] harvester:master
- [x] golang:v1.18.3
- [x] k8s:v1.23.x

[2022-07-06 12:12] TachunLin commented on #2354
Verified **fixed** on `master-08af3d7c-head` (07/06) with Rancher v2.6.5. Close this issue.

Rancher ui-dashboard-index: https://releases.rancher.com/harvester-ui/dashboard/release-harvester-v1.0/index.html
Harvester ui index: https://releases.rancher.com/harvester-ui/dashboard/release-harvester-v1.0/index.html

### Result
* On RKE2 cluster page, when we select the first machine pool to specific n

[2022-07-06 12:12] #2354 closed, assigned to n313893254, TachunLin

[2022-07-06 12:31] w13915984028 commented on #2435
FYI:

https://www.dell.com/support/kbdoc/de-de/000195978/how-to-enable-or-disable-hardware-virtualization-on-dell-systems

![image](https://user-images.githubusercontent.com/31133476/177550566-2bf50544-120c-4670-947c-18463ffe5eb7.png)

[2022-07-06 12:34] KarlSK8 commented on #2435
Thank You everyone. Apparently the issue was due to not having 2 NICs attached to the VM. There must be a management NIC of type "masquerade" to take care of the Live Migration thing.

[2022-07-06 12:36] w13915984028 commented on #2231
@mczka Did you try to boot via BIOS (the default mode)  ?

https://github.com/harvester/harvester/issues/2250#issuecomment-1173598279

[2022-07-06 12:40] w13915984028 commented on #1898
@zlojadmin any new updates? thanks.

[2022-07-06 12:51] w13915984028 commented on #1865
@liusl12 Any updates, how did you solve it? thanks.

[2022-07-06 12:54] liusl12 commented on #1865
可以看看你的磁盘性能咋样？我最后换了台物理机就好了，我用过几台物理机 有的快又很慢，感觉像是磁盘的性能问题

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "harvester/harvester"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年7月6日(星期三) 晚上8:52
***@***.***&g

[2022-07-06 12:57] w13915984028 commented on #2435
@guangbochen @bk201 @FrankYang0529 @yaocw2020

If VM migrations relies on the management network NIC, then we need to wirte it into documents and have a clear warn/error message in such cases.

[2022-07-06 13:13] w13915984028 commented on #1753
@wangpan-hqu Did you solve this issue?

From the log, your server is using a 2.2.2 BIOS, and the new version is 2.9.0. You may try to upgrade BIOS.

[    0.000000] DMI: Dell Inc. PowerEdge R620/0XWDCF, BIOS 2.2.2 01/16/2014

https://www.dell.com/support/home/en-uk/drivers/driversdetails?driverid=w1wjw&oscode=sle12&productcode=poweredge-r620

[2022-07-06 13:16] w13915984028 commented on #2360
connect with https://github.com/harvester/harvester/issues/2360

[2022-07-06 14:10] KarlSK8 opened #2458 "[Question] How can we add a disk to harvester cluster in order to use it as data storage?"
I need to add a disk to harvester to use it as data storage because I don't want to store data on the default disk /var/lib/harvester/defaultdisk. I am using a Nimble SAN connection from HPE and want to connect it to harvester, to use it as the primary datastore of all the nodes in that cluster. Is that possible? If yes how is it done?
Please provide a step by step description in case you have fac

[2022-07-06 14:47] w13915984028 commented on #2458
@Vicente-Cheng Please take a look, thanks.

[2022-07-06 14:47] TrooperT commented on #1577
While I will only speak for myself and my use cases which are similar in nature to @oivindoh 's use case e.g.

- RKE2 Cluster created via rancher
- Harvester Node Driver
- Harvester Cloud Provider
- Load Balancer Services via MetalLB in the guest cluster
- MetalLB providing ExternalIPs from pre-allocated subnets announced toward the Nodes' Default Gateway via BGP for reachability

I have not found

[2022-07-06 15:29] w13915984028 commented on #1865
The issue was caused by slow storage I/O. Updating BIOS or using qualified storage solves it.

Close issue.

[2022-07-06 15:29] #1865 closed, assigned to nobody

[2022-07-06 19:24] noahgildersleeve opened #2460 "[BUG] Standard user with project owner permissions can see namespaces not in projects"
**Describe the bug**

When you create a standard user with project owner permissions to a new project they can see harvester-public in the namespaces, although they don't have write access to it.
**To Reproduce**
Steps to reproduce the behavior:
1. Install Harvester via ipxe-examples
2. Install Rancher v2.6.6 via Docker
3. import Harvester into Rancher
4. Create new project via admin user in impor

[2022-07-06 19:24] noahgildersleeve commented on #2289
Tested in master-a926a44e-head. I had to change the ui-index for Rancher v2.6.6 to https://releases.rancher.com/harvester-ui/dashboard/latest/index.html in order to get the projects tab to show up on the Harvester dashboard through Ranhcer virtualization.

## Verification steps
1. Install Harvester via ipxe-examples
2. Install Rancher v2.6.6 via Docker
3. import Harvester into Rancher
4. Create ne

[2022-07-06 19:24] #2289 closed, assigned to futuretea, noahgildersleeve

[2022-07-06 22:30] andrewg-xyz opened #2461 "[BUG] [terraform provider] wrong harvester_network assigned when using data source"
**Describe the bug**
When using the harvester_network data source, the namespace is [documented](https://registry.terraform.io/providers/harvester/harvester/latest/docs/data-sources/network) as optional. When not included, the wrong network is assigned to the VM.

**To Reproduce**
Steps to reproduce the behavior:
1. Use terraform provider to provision a VM
[code]
2. terraform apply
3. Harvester UI

[2022-07-07 02:50] bk201 opened #2463 "[backport v1.0][FEATURE] Rebase Harvester on SLE Micro for Rancher"
backport the issue https://github.com/harvester/harvester/issues/1933

[2022-07-07 03:20] tjjh89017 commented on #2463
PR: https://github.com/harvester/harvester-installer/pull/300

[2022-07-07 03:44] harvesterhci-io-github-bot opened #2464 "[backport v1.0] [FEATURE] support bundle: support SLE Micro OS"
backport the issue #2420

**Test plan**
- Provision cluster with v1.0 branch ISO.
- Generate a support bundle.

[2022-07-07 05:51] Vicente-Cheng commented on #2458
Hi @KarlSK8,

Could you please describe in more detail about you mentioned above?
1. > I have personally connected a SAN to harvester then created an ext4 partition that I was able to view in the add disk view when editing.

This means you add disks that are exported by your SAN storage to the harvester node?

2. > If I go to longhorn and add a disk using its path, it says that the disk is not rea

[2022-07-07 06:14] KarlSK8 commented on #2458
Hi @Vicente-Cheng,

Thank you for reply. The document you mentioned looks helpful. I have done a similar thing when trying to add a SAN storage.
I have added the disk to the management node, then created an alias path to it (multipath). But when I went to longhorn, and added the path it's saying that it is not schedulable. What is the reason behind this in your opinion?

[2022-07-07 06:38] n313893254 commented on #2383
Hi, @chrisho. UI [PR](https://app.zenhub.com/workspace/o/harvester/dashboard/issues/354) has merged. Waiting backend to test.

[2022-07-07 07:48] janeczku commented on #2260
The use case is VMs on the VXLAN and VLAN.

[2022-07-07 08:36] Martin-Weiss opened #2465 "[BUG] VM shows "off" after clicking on "stop" but the VM is still running / in shutdown process"
**Describe the bug**
When stopping a VM via the UI by hitting the "stop" button - the UI instantly shows the VM as "off" but in reality the VM is still running and "shutting down".

**To Reproduce**
See above. Create VM, start VM with processes that take a long time to shutdown, click on "stop" for the VM and see the VM shown "off" in the UI while the console of the VM still shows the running serv

[2022-07-07 08:42] Martin-Weiss opened #2466 "[ENHANCEMENT] Shutdown grace period of 30s not valid for VMs that need a long time to shutdown"
**Describe the bug**
It seems that the current shutdown wait time (before hard power of) for a guest VM is 30s.
It is not a valid approach to power of any VM during shutdown if it is not powered of after 30s.
(even some RKE2 nodes need much more time)

Every "hard" power off is a risk for data in the running machine - so we should avoid any "automated" hard power off as long and as good as we can.

[2022-07-07 08:48] w13915984028 commented on #1914
The `Case 2` needs a further investigation. @FrankYang0529 @yaocw2020 @guangbochen

[code]

[2022-07-07 08:57] guangbochen commented on #1914
For case2, the VLAN IP can only be retrieved when the `qemu-agent` is installed, but the `qemu-agent` will only be installed on VM's init boot, that could be the potential issue. But users can reinstall it per https://docs.harvesterhci.io/v1.0/faq/#how-to-install-the-qemu-guest-agent-of-a-running-vm

[2022-07-07 09:23] Martin-Weiss opened #2467 "[BUG] Web VNC Console does not resize window properly during initial start"
**Describe the bug**
When ever we open a console in "web vnc" the new window is too small and needs to be resized manually to see the full screen / command line.

**To Reproduce**
Install a VM i.e. with SLES 15 SP4 (without graphical console) - and then open web vnc.

Examle:
![grafik](https://user-images.githubusercontent.com/13362573/177739625-d3472d84-a7e8-4fae-9075-7f4e282dd1c2.png)

**Expecte

[2022-07-07 09:42] guangbochen commented on #2465
Seems the UI will set the VM state to `off` immediately while the user clicks the stop action button, however, the VMI's status is still `Running`, @WuJun2016 can u please take a look to see if we can make an improvement of this, thanks.

[2022-07-07 10:32] lanfon72 commented on #2400
Verified this feature has been implemented.

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **v1.0-3b6ab0d1-head**
* **ui-source** Option: **Auto**
* **ui-index**: **https://releases.rancher.com/harvester-ui/dashboard/release-harvester-v1.0/index.html**

### Verify Steps:
1. Install Harvester with any nodes
2. Navigate to _Advanced/Settings_ and update **ui-index**

[2022-07-07 10:32] #2400 closed, assigned to lanfon72, DaiYuzeng

[2022-07-07 10:33] lanfon72 commented on #2413
Verified this feature has been implemented.

![image](https://user-images.githubusercontent.com/5169694/177753085-4423392d-d380-483a-b4fc-0afaa8bd5084.png)

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **v1.0-3b6ab0d1-head**
* **ui-source** Option: **Auto**
* **ui-index**: **https://releases.rancher.com/harvester-ui/dashboard/release-harvester-v1.0/index.html**

#

[2022-07-07 10:33] #2413 closed, assigned to lanfon72, DaiYuzeng

[2022-07-07 10:33] lanfon72 commented on #2244
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/177742575-31730953-5ffd-4018-b5ce-1b1e487ee14c.png)

Test Information
----
* Environment: **Baremetal 5 nodes**
* Harvester Version: **master-a926a44e-head**
* **ui-source** Option: **Auto**

### Verify Steps:
- Follow **Step to Reproduce** in https://github.com/harvester/harvester/issues/2244#issue-12296

[2022-07-07 10:33] #2244 closed, assigned to lanfon72, n313893254

[2022-07-07 11:51] lanfon72 opened #2468 "[BUG] VM Cloud Config initial failed without any errors"
### Describe the bug
When Creating VM with customized **cloud config** as below, the cloud-init will failed without any errors.
[code]

### To Reproduce
Steps to reproduce the behavior:
1. Install Harvester with any nodes
2. Create Image for VM creation
3. Create VM with _the cloud config_ above
4. Start the VM and login via _Web VNC_
5. User should able to login with the password

### Expected be

[2022-07-07 11:54] lanfon72 commented on #2468
I had tested that the problem is:
[code]
should be changed to
[code]

But both of them work fine in old version.
I think it is affected by the change of https://github.com/harvester/harvester/issues/2342

[2022-07-07 13:23] WuJun2016 commented on #2468
@lanfon72   I don't think it's a mistake because what you're typing is `#cloud-config`,   We should say that the old version is the one that is wrong, because when the user types `# cloud-config`, but I change it to` #cloud-config`, it doesn't make sense.

cc @guangbochen

[2022-07-07 15:17] johntron opened #2469 "[BUG] Install re-uses config from previous installation"
**Describe the bug**
Installing over an existing node seems to use the old config; however, I'm not positive this is the case - please provide guidance.

I suspect this is happening, because /var/log/console.log contains messages with timestamps from when the previous installation was running - see "Additional context" below.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a harvester

[2022-07-07 17:23] Vicente-Cheng commented on #2458
Hi @KarlSK8,

Any disk added to the management node would be handled by `node-disk-manager` (called NDM).
For `mpath` device, NDM does not have the whole testing. I thought that would not be supported now.

[2022-07-08 03:11] jzmatrix opened #2470 "[BUG] Removing the first node from a cluster, and rebuilding it, it will not rejoin the cluster."
**Describe the bug**
After creating a multi-node cluster (3 in this case), and removing the first node from the UI, and then physically rebuilding the node, it will not rejoin the cluster.   The remaining (2) nodes are still functional and accessible, but no new nodes are able to join the remaining cluster.

**To Reproduce**
Steps to reproduce the behavior:
1. On the first node, create a new clust

[2022-07-08 03:27] bk201 commented on #2469
@tjjh89017 Please help check this issue, thanks!

[2022-07-08 03:36] harvesterhci-io-github-bot opened #2471 "[backport v1.0] [BUG] VM shows "off" after clicking on "stop" but the VM is still running / in shutdown process"
backport the issue #2465

[2022-07-08 08:47] w13915984028 opened #2472 "[FEATURE] Harvester uses active-backup as the default bond mode"
**Is your feature request related to a problem? Please describe.**

Harvester uses balance-tlb mode (5) as the default bond mode of management NICs, it's advantage is the peer SWITCH does not need additional config.
https://github.com/harvester/harvester-installer/pull/128

When it comes to Harvester network for guest VM, this mode has potential limitations, as the `balance-tlb` may rewrite SRC MA

[2022-07-08 09:00] w13915984028 opened #2473 "[FEATURE] Consider support no bond of management network for cloud related deployment"
**Is your feature request related to a problem? Please describe.**

Harvester installer will add management NICs into bond mode, and also has backgroud `wicked if down`, `wicked if reload` operation.

But for cloud related deployment, it may not be ncessary to have mutlti management NICs and bond them, those NICS are not physical ones, but software simulated/virtualized. The cloud infrastructure m

[2022-07-08 09:46] TachunLin commented on #1933
#### Test plan
1. Check can download support bundle correctly, check no empty file
2. Check debug command exists (include necessary packages)
3. Check the daily E2E test result
5. Can upgrade 3 nodes harvester correctly
6. Version check
  $ cat /etc/os-release
7. Major feature smoke test
  - Images
  - Volumes
  - Virtual Machine
  - Live Migration
  - Backup
  - Rancher integration

[2022-07-08 09:51] TachunLin commented on #2383
Verified **fixed** on `v1.0-3b6ab0d1-head` (07/08) with cloud provider v0.1.4. Close this issue.

### Result
The topology encoded in the Harvester cluster node labels
![image](https://user-images.githubusercontent.com/29251855/177965945-22c59ce7-e8a7-49f9-b81b-38dd3ca4b6d9.png)

Can be correctly propagated to the additional node of the RKE2 guest cluster
![image](https://user-images.githubusercont

[2022-07-08 09:51] #2383 closed, assigned to chrisho, futuretea, n313893254, TachunLin

[2022-07-08 12:03] aaannz commented on #2344
@ibrokethecloud Sorry for the late answer. Seems like problem with pvc scheduling was just timing issue. Apparently sometimes longhorn takes little while to provision it. Not related to this issue.

[2022-07-08 13:27] KarlSK8 commented on #2458
My question is, if I create an mpath for the SAN storage how would I mount it to be used by harvester?

[2022-07-08 13:35] w13915984028 commented on #2435
connect with https://github.com/harvester/harvester/issues/1944

[2022-07-08 13:37] w13915984028 commented on #2435
Double check the root cuase.

[2022-07-08 18:29] noahgildersleeve commented on #2377
Tested in v1.0-3b6ab0d1-head. Verified as fixed

## Verification Steps
1. Build ISO from v1.0 branch
2. Boot into ISO
3. Specify same IP for NIC and VIP
4. Verify that error message is displayed
![Screenshot_20220707_170815](https://user-images.githubusercontent.com/83787952/178049998-e4eec9fe-d687-4efc-9618-940432d37a3d.png)

[2022-07-08 18:29] #2377 closed, assigned to Vicente-Cheng, noahgildersleeve

[2022-07-09 00:14] yasker commented on #2322
Due to the large level of effort, we won't be able to make this into v1.1.0.

Move it to v1.2.0.

[2022-07-09 12:12] himslm01 commented on #2411
I don't know whether this is the *best* way, but it's *a* way...

I’ve moved a Windows10 host from ESXi to Harvester 1.0.2 like this:

* stopped the VM on ESXi
* scped the disk volume (a <name>.vmdk ~500 byte text file, and a <name>-flat.vmdk binary fie) from the ESXi host to a Linux host
* converted the disk volume to qcow2
[code]
* uploaded that qcow2 to Harvester
* created a VM using the ‘raw i

[2022-07-09 12:20] KarlSK8 commented on #2411
Thank you @himslm01.
I figured out this technique after posting here and it worked fine. I've used the same procedure as you mentioned, it isn't a straight forward technique but it did the job.
I have one more question, do you think that if i convert the other disks from vmdk to qcow2 and mounted them in the volumes tab, will I be able to use all the data that was stores in that VM when it was run

[2022-07-09 15:07] harvesterhci-io-github-bot opened #2474 "[backport v1.0] [FEATURE] Image filtering by labels"
backport the issue #2319

[2022-07-09 15:11] n313893254 opened #2475 "[backport v1.0] [Question] VM image management for productive environment: best practices"
backport the issue https://github.com/harvester/harvester/issues/2174

[2022-07-10 14:33] #1205 closed, assigned to nobody

[2022-07-10 14:34] axsms commented on #2283
Closed as likely a duplicate of #2158, as mentioned by @simonflood.

[2022-07-10 14:34] #2283 closed, assigned to nobody

[2022-07-10 15:24] axsms opened #2476 "[FEATURE] Consider agent-based node join"
**Is your feature request related to a problem? Please describe.**
Installing on various hardware in remote datacenters can take hours due to limited resources in the region or a higher cost to add resources close to target bare metal machines. Please remember that much of this hardware and underlying network is unmanaged or requires remote hands, which is very expensive. This would work on VMs to

[2022-07-10 16:01] lanfon72 commented on #2450
Verified this bug has been fixed.

Test Information
----
* Environment: **qemu/KVM**
* Harvester Version: **v1.0-3b6ab0d1-head**

### Verify Steps:
1. Install Ubuntu with LVM configured disk
2. Install Harvester on the disk which ubuntu installed
3. Harvester should be installed successfully

[2022-07-10 16:01] #2450 closed, assigned to bk201, lanfon72

[2022-07-10 16:01] lanfon72 commented on #2451
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/177984367-6cbe06c1-890f-4865-9e69-35864524bda5.png)

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **v1.0-3b6ab0d1-head**
* **ui-source** Option: **Auto**
* **ui-index**: **https://releases.rancher.com/harvester-ui/dashboard/release-harvester-v1.0/index.html**

### Verify

[2022-07-10 16:01] #2451 closed, assigned to lanfon72, n313893254

[2022-07-10 16:54] lanfon72 commented on #2468
Yeah I think it was a mistake. (cloud-init docs asks user to use `#cloud-config`, but in our test cases, it was written as `# cloud-config` and worked.)

I think in the case, if we don't want to patch it anymore, at least we should notify users in somewhere that it should be `#cloud-config` not `# cloud-config`. (and I will update our test cases)

[2022-07-11 00:45] guangbochen commented on #2468
Just need to make sure the doc, e2e tests, and v1.0.3 release notes will cover this change should be sufficient enough, thanks.

[2022-07-11 01:33] ibrokethecloud commented on #2274
Another possible alternative may be forklift: https://github.com/konveyor/forklift-operator/blob/main/docs/k8s.md

[2022-07-11 03:40] Vicente-Cheng commented on #2458
Hi @KarlSK8

I think the current answer is NO.
NDM does not support mpath device now.

You could try to use w/o multipath.

[2022-07-11 03:41] futuretea commented on #2460
@noahgildersleeve  harvestre-public can be seen because we add special rbac to make it readable for all authenticated users
https://github.com/harvester/harvester/blob/0f5907575a3ef486a89e2d1f6dd60912feb613b2/pkg/data/public.go#L14
https://github.com/harvester/harvester/blob/0f5907575a3ef486a89e2d1f6dd60912feb613b2/pkg/data/rbac.go#L9
Other not in project namespaces will not be seen.
Users can sel

[2022-07-11 05:53] guangbochen commented on #2386
Hi @n313893254 is this also backported to the v1.0 branch? thanks.

[2022-07-11 07:23] lanfon72 commented on #2465
Verified this bug had few cases not fixed:
- executing `poweroff` inside the VM
- executing `shutdown now` inside the VM

The VM's State will not be updated into `Stop`.

![image](https://user-images.githubusercontent.com/5169694/178206560-32b59bb7-888c-44dc-8099-556f9be6a00d.png)
![image](https://user-images.githubusercontent.com/5169694/178206646-6013acda-c4fb-469a-9ebe-2167b47a5360.png)

Test I

[2022-07-11 07:24] lanfon72 commented on #2471
Verified this bug had few cases not fixed, same as https://github.com/harvester/harvester/issues/2465#issuecomment-1180055433 with `Harvester Version: v1.0-3b6ab0d1-head` and `ui-index: https://releases.rancher.com/harvester-ui/dashboard/release-harvester-v1.0/index.html`

[2022-07-11 07:29] bk201 commented on #2299
After some discussion with @guangbochen and @WuJun2016, for now, we plan to add two links in the dialog:
- New version's release-note: For example, https://github.com/harvester/harvester/releases/tag/v1.0.2
- Upgrade document: https://docs.harvesterhci.io/v1.0/upgrade/automatic/, users can know version-specific notes and known issues.

[2022-07-11 08:14] fanlix commented on #2429
follow #1029  #1710

[2022-07-11 08:16] lanfon72 commented on #2357
Verified this bug has been fixed.

Test Information
----
* Environment: **baremetal DL160G9 5 nodes**
* Harvester Version: **master-0f590757-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with at least 2 nodes
2. Create Image for VM Creation
3. Navigate to _Advanced/Templates_ and create a template `t1`
4. Create VM `vm1` from template `t1`
5. Edit YAML of `vm1`, f

[2022-07-11 08:16] #2357 closed, assigned to lanfon72, DaiYuzeng

[2022-07-11 08:32] WuJun2016 commented on #2465
HI，@FrankYang0529 ，  I noticed that when the user shuts down the VM by `poweroff` or `shutdown now`, the vmi is not deleted, is this as expected ?
https://github.com/harvester/dashboard/blob/81d50b32762c489a47fabf4c756872be4c35aac7/shell/models/harvester/kubevirt.io.virtualmachine.js#L501

[2022-07-11 08:41] mircea-pavel-anton commented on #2429
I am. I also replied to that thread and did some preliminary testing myself on the GPU passthrough, but i didn't manage to find anything on, for example, passing through a NIC or a HBA.

The progress on this topic will be tracked in that thread, i assume?

[2022-07-11 08:53] lanfon72 commented on #2465
the root cause: https://github.com/harvester/harvester/issues/2154

[2022-07-11 09:11] n313893254 commented on #2386
@guangbochen  Not yet, need backend changed first.

[2022-07-11 09:42] lanfon72 opened #2478 "[BUG] Hosts page showing incorrect Disk State"
### Describe the bug

https://user-images.githubusercontent.com/5169694/178231169-bf6f0015-8c25-43b1-8209-00995e584871.mp4

### To Reproduce
Steps to reproduce the behavior:
1. Install Harvester master-head
2. Login to Dashboard then navigate to Hosts page
3. **Disk State** should be `Health` if it is not encountering any isuses

### Expected behavior
1. Hosts' **Disk State** should be health (in

[2022-07-11 09:49] simonc6372 opened #2479 "[BUG] Welcome page T&C"
**Describe the bug**

1) The welcom page on a new Harvester install requires agreeing to a "terms and conditions" for using Harvester.
However, typically SUSE does not require agreement on open source license agreements to install the product (see the OpenSUSE install)
2) the URL of the EULA linked is https://rancher.com/eula however, that redirects to a generic SUSE page https://www.suse.com/lice

[2022-07-11 10:37] w13915984028 commented on #2079
Update Harvester document about the single-node Harvester cluster setup and the limitations like LH replica.

[2022-07-11 10:56] w13915984028 commented on #2215
@koyasuri Was this issue solved?

FYI: Please refer below document, even though it is not explicitly noted, the VLAN network can use haverster-mgmt NIC as the default uplink, thus the management network and VLAN network share the same NIC, meanwhile, you need to set your SWITCH to accept all of them. Thanks.

https://docs.harvesterhci.io/v1.0/networking/harvester-network/#enabling-default-vlan-net

[2022-07-11 11:05] w13915984028 commented on #2194
The issue was solved, and the doc was also updated.

[2022-07-11 11:05] #2194 closed, assigned to nobody

[2022-07-11 11:25] w13915984028 commented on #372
@michaelandrepearce @olljanat

The Harvester itself is a K8S cluster. In the UI, the features are focusing on `VM` and `guest k8s cluster` related.

On the other hand, the `kubectl` is natively fully supported. In case you want to deploy container related jobs/deployments/..., you should be able to do it via `kubectl`. Further, when those additional `containers` need to cooperate with `VMs`, or ha

[2022-07-11 11:33] w13915984028 commented on #2399
@Captured77

Please refer following doc to try.

https://docs.harvesterhci.io/v1.0/dev/dev-mode/

For testing/experimenting Harvester, it's strongly recommended to install via ISO or PXE. After having an overall impression of Harvester's components, and still having interests, try the `dev-mode`. Thanks.

https://docs.harvesterhci.io/v1.0/install/iso-install/

[2022-07-11 12:24] TachunLin commented on #1849
Checked the first trial  on master-9f6f58ac-head

### Result
Can select the prompted upgrade button by using the updated version of Harvester upgrade responder https://github.com/longhorn/upgrade-responder (v0.1.4)
* From v1.0.2 GA to master head
![image](https://user-images.githubusercontent.com/29251855/178248176-8f0a2d80-cb96-43ca-976a-7e47b5f89244.png)

But seems the upgrade did not actually d

[2022-07-11 13:40] TachunLin commented on #2474
@WuJun2016,
Verified **not fixed** on `v1.0-3b6ab0d1-head` (07/08) . Move this issue to implement

### Result
The image list page can be filtered by one label correctly, but not correctly filter when the filter > 2

* We can select the key from the already give key list
![image](https://user-images.githubusercontent.com/29251855/178275198-7595518e-5fc6-4e7f-b2a4-821863e9f5b9.png)

* But if the sec

[2022-07-11 14:21] belgaied2 opened #2480 "[BUG] [MONITORING] "False positive" alerts for VirtOperatorDown and LowVirtOperatorCount"
**Describe the bug**
We see false positives for the alerts `LowVirtOperatorCount` and `VirtOperatorDown` . This seems to be caused by wrong labels on the service ?

**To Reproduce**
Steps to reproduce the behavior:
1. Configure some receiver for the Prometheus alerts in Harvester
2. See the alerts being constantly firing

**Expected behavior**
If the `kube-operator-*` pods are available,  alerts s

[2022-07-11 19:40] crazyelectron-io opened #2481 "[BUG] 3rd node hangs on 'NotReady' after fresh install."
**Describe the bug**
3rd node gets stuck at 'NotReady' after fresh install. When SSH-ing into the server the `console.log` shows:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Flash Harvester 1.02 iso (amd64) on USB-stick and boot into it.
2. Select to Join a node.
3. Fill in name, IP details, join-token, password, DNS, etc.
4. Installation completes and reboots to fresh install of

[2022-07-11 19:48] crazyelectron-io commented on #2469
I have the same experience when reinstalling a node with Harvester 1.0.2 (amd64) iso.

[2022-07-12 00:02] WuJun2016 commented on #2474
@TachunLin   This is a logical or relationship that filters out when a condition is primarily met

[2022-07-12 05:14] WuJun2016 commented on #2465
I've noticed that if you shut down a VM via `shutdown now` or `poweroff`, the vm is usually stopped immediately.

[2022-07-12 05:20] Martin-Weiss commented on #2465
I believe this really depends on the services / workload within the VM and the speed of the hardware. I have rke2 cluster nodes that need much more time to shut down (much more than 30 seconds)

[2022-07-12 06:36] TachunLin commented on #1849
Verify **fixed** after the second trial  on `master-7158c858-head` (7/12). Close this issue.

### Result
Can select the prompted upgrade button by using the updated version of Harvester upgrade responder https://github.com/longhorn/upgrade-responder (v0.1.4) by using the `upgrade-checker url`
![image](https://user-images.githubusercontent.com/29251855/178421998-c2ad04e8-d912-46a0-8c35-dfd051aa0e86

[2022-07-12 06:36] #1849 closed, assigned to FrankYang0529, TachunLin, noahgildersleeve

[2022-07-12 08:00] belgaied2 opened #2485 "[FEATURE] [Harvester Node Driver v2] Prevent normal users from creating VMs in harvester-public namespace"
**Is your feature request related to a problem? Please describe.**
In Rancher, it is possible to limit the access rights of users. For example, one might want to prevent users from creating VMs in Harvester, using the `harvester-public` namespace. Updating the user's right accordingly does not change the fact that they can still create VMs in the `harvester-public` namespace using the Harvester No

[2022-07-12 09:02] lanfon72 commented on #2421
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/178448290-dbfab8a3-3f3e-40ad-988c-a53a49e5f688.png)

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **v1.0-3b6ab0d1-head**
* **ui-source** Option: **Auto**
* **ui-index**: **https://releases.rancher.com/harvester-ui/dashboard/release-harvester-v1.0/index.html**

### Ver

[2022-07-12 09:02] #2421 closed, assigned to lanfon72, DaiYuzeng

[2022-07-12 09:02] lanfon72 commented on #2471
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/178452121-73ed630c-c086-4fc5-8c39-ee5c14dcf78f.png)

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **v1.0-3b6ab0d1-head**
* **ui-source** Option: **Auto**
* **ui-index**: **https://releases.rancher.com/harvester-ui/dashboard/release-harvester-v1.0/index.html**

### Ver

[2022-07-12 09:02] #2471 closed, assigned to lanfon72, WuJun2016

[2022-07-12 09:28] lanfon72 commented on #2465
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/178458370-7141dca2-81f1-444d-9e4b-f7ae340123f2.png)

Test Information
----
* Environment: **baremetal DL160 5 nodes**
* Harvester Version: **master-0f590757-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with any nodes
2. Create Image for VM creation
3. Create VM `vm1` and

[2022-07-12 09:28] #2465 closed, assigned to lanfon72, WuJun2016

[2022-07-12 10:19] belgaied2 commented on #1289
Do we have news on this? This is pending since mid-April. Though it might be acceptable to use the workaround once per Harvester cluster, the issue itself is definitely problematic.

[2022-07-12 10:34] lanfon72 commented on #2461
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/178469413-b3a5cd6b-73dc-4981-93d6-45aba160ab7f.png)

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **v1.0-3b6ab0d1-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with any nodes
2. Install **terraform-harvester-provider** (using [master-

[2022-07-12 10:34] #2461 closed, assigned to lanfon72, futuretea

[2022-07-12 14:01] WuJun2016 opened #2487 "[BUG] After clearing the userData, then select install guest agent is invalid"
**Describe the bug**

After clearing the userData, then select `install guest agent` is invalid

**To Reproduce**
Steps to reproduce the behavior:
1.  go to vm create page
2.  Fill name, cpu, memory, select image
3. click `Advanced Options` tab
4.  uncheck `install guest agent`,
![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/246abfe0-b6fc-4bed-a98d-54b1336824bb)
5. Clea

[2022-07-12 14:01] harvesterhci-io-github-bot opened #2488 "[backport v1.0] [BUG] After clearing the userData, then select install guest agent is invalid"
backport the issue #2487

[2022-07-12 14:01] harvesterhci-io-github-bot opened #2489 "[backport v1.0] [BUG] After clearing the userData, then select install guest agent is invalid"
backport the issue #2487

[2022-07-12 14:02] #2489 closed, assigned to WuJun2016

[2022-07-12 14:03] WuJun2016 commented on #2489
duplicate https://github.com/harvester/harvester/issues/2488

[2022-07-12 14:21] guangbochen commented on #1289
This is an upstream bug related to the https://github.com/kubevirt/kubevirt/issues/6551, also the issue only occurs when there is a race condition during the cluster-init bootstrap, not every installation or cluster will encounter this problem, but we will see if we can make some contribution to the upstream kubevirt, thanks for bearing with us.

[2022-07-12 15:13] w13915984028 commented on #1289
The `kube-operator` saves  `service monitor enable` and `promethues enable` into local flag when it starts up by checking if related CRDs are in ApiServer. And later only use local saved flag.  Hence, both of those two have no chance to be enabled later. Current workaround is to delete the POD via kubctl, then the replaced new POD will have related local flag enabled.

I will add it to harvester d

[2022-07-12 15:32] w13915984028 commented on #1289
Another possibility, let's check if it can be patched in the Harvester `cluster-init bootstrap` before `kube-operator` has a fix.

[2022-07-12 16:06] w13915984028 commented on #1289
Update the workaround: the namespace is needed.

check the virt-operator pod
[code]

 delete the virt-operator pod
[code]

 verify the newly replaced virt-operator pod log to confirm `prometheusrule is defined`
[code]

[2022-07-12 17:49] noahgildersleeve commented on #2212
Tested in master-0f590757-head.
## Verification Steps

1. Add new version of the ISO template from the templates page
![Screenshot_20220712_104904](https://user-images.githubusercontent.com/83787952/178559388-42e4f05a-390e-405e-8180-e4bfe9e6a944.png)
2. Change size of root volume to 20GB
![Screenshot_20220712_104920](https://user-images.githubusercontent.com/83787952/178559415-23c1fd21-4bd6-4be1-a

[2022-07-12 17:49] #2212 closed, assigned to DaiYuzeng, noahgildersleeve

[2022-07-12 18:05] noahgildersleeve commented on #2468
The current docs for v1.0.2 have the incorrect formatting for the cloud config section. We need to update it before we close this ticket. You can see this at https://docs.harvesterhci.io/v1.0/vm/create-vm/#cloud-configuration . It still has
[code]
That needs to be changed to `#cloud-config

[2022-07-12 18:23] noahgildersleeve commented on #2468
Fixed via merged PR https://github.com/harvester/docs/pull/176
Deployed and verified as fixed.
![Screenshot_20220712_112205](https://user-images.githubusercontent.com/83787952/178566788-326458dd-158c-484d-9cc4-755592889af3.png)

[2022-07-12 18:23] #2468 closed, assigned to WuJun2016, noahgildersleeve

[2022-07-13 02:12] PhanLe1010 commented on #1849
There is still one item for this ticket:
[code]
I will handle this one

[2022-07-13 02:50] chrisho opened #2491 "[FEATURE] VM's detail UI need to add node scheduling, need to add pod scheduling to VM config"
**Describe the solution you'd like**

1. VM's detail UI needs to add node scheduling.
<img width="1112" alt="image" src="https://user-images.githubusercontent.com/3347460/178639809-4a348a20-3663-44ad-bfe9-8aeed304dcbc.png">

2. VM's config UI needs to add pod scheduling (include create, edit, view. ).

**Describe alternatives you've considered**

**Additional context**

[2022-07-13 03:23] guangbochen opened #2492 "[FEATURE] Add rancherd integration test for Harvester needs in the Rancher repo"
**Is your feature request related to a problem? Please describe.**
Harvester is using [rancherd](https://github.com/harvester/rancherd) for its initial RKE2 cluster bootstrap and configuration, it also involves the embedded Rancher to adapt the node management through the [plans](https://github.com/rancher/rancher/tree/release/v2.6/pkg/provisioningv2/rke2/planner), will need to add integration tes

[2022-07-13 05:28] TachunLin commented on #2474
Verified on v1.0-3b6ab0d1-head. some scenario not passed, move to ready for test for further checking

### Result

Pass the following image filter scenarios, but can't type to search in the image list

- [x] **PASS** Filter label in Harvester images page
- [ ] **FAILED** Sort and search image in the VM creation page
- [ ] Sort and search image in the create RKE2 page (multi cluster)

#### Case 1:

[2022-07-13 06:49] TachunLin commented on #1933
### Test Result

- [x] **PASS** Check can download support bundle correctly, check can access every file without empty

- [x] **PASS** Check debug command exists (include necessary packages)
  - k9s
  - kubectl
  - ip
  - lsblk, gisk
  - tar, gzip
  - ctr
  - zstd

- [x] **PASS** : Daily E2E test on Jenkins server

-  **SKIP** Upgrade test cancel since currently not yet able to upgrade from 1.0.2

[2022-07-13 07:34] w13915984028 commented on #2470
@jzmatrix
 Could you please describe in details about how step 4 was done,  e.g. What `drives` were wiped, and how to `perform a clean node`. thanks.

[2022-07-13 10:24] harvesterhci-io-github-bot opened #2494 "[backport v1.0] [BUG] Hosts page showing incorrect Disk State"
backport the issue #2478

[2022-07-13 10:25] lanfon72 commented on #2494
we don't need this backport, it shows correctly in `v1.0-head`.

[2022-07-13 10:29] lanfon72 commented on #2478
It works on `v1.0-head` correctly, remove label `backport-needed/1.0.3`
![image](https://user-images.githubusercontent.com/5169694/178713104-62e645e9-03ac-4d22-a770-a289c4f4bb15.png)

[2022-07-13 10:30] #2494 closed, assigned to n313893254

[2022-07-13 10:44] futuretea commented on #2436
@bashofmann `cattle-system` and `longhorn-system` should be added to the `no_proxy`
eg:
[code]

[2022-07-13 11:56] Martin-Weiss commented on #2418
We also need to cover the change of timezone settings.

[2022-07-13 12:29] w13915984028 commented on #1753
Close. Feel free to reopen in case it occurs again. Thanks.

[2022-07-13 12:29] #1753 closed, assigned to nobody

[2022-07-13 13:19] lanfon72 commented on #2463
Verified this feature have a case not fixed:
- Files of nodes in support bundle are missing

![image](https://user-images.githubusercontent.com/5169694/178741917-646e95f3-daae-42bd-8775-43e46831cdfd.png)

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **v1.0-416db269-head**
* **ui-source** Option: **Auto**
* **ui-index**: **https://releases.rancher.com/harvester-ui/

[2022-07-13 13:55] jzmatrix commented on #2470
In one scenario I physically replaced the drive in the original system with a new drive.  In a second scenario, I used GParted to wipe the partition table of the drive in the system to start clean.   In both scenarios, there was only one drive in the system.

[2022-07-13 14:47] bk201 commented on #2463
@lanfon72 Is the support bundle the only missing thing? The support bundle needs [this issue](https://github.com/harvester/harvester/issues/2420) (and its backport) to be resolved. Could close this one and verify the support bundle feature until https://github.com/harvester/harvester/issues/2464 is done.

[2022-07-13 15:44] w13915984028 commented on #1902
@erSitzt  What is the storage used in your `HP Proliant DL360 G7` ?

Now I am suspecting that, your server's storage was slow, the etcd server was not prepared well around 15 seconds, and as the last line of error showed: it was timed out.
`
Feb 09 14:29:12 srv-harvester-01 rke2[4242]: time="2022-02-09T14:29:12Z" level=info msg="Failed to test data store connection: context deadline exceeded"
`

h

[2022-07-13 16:56] ssdabl opened #2495 "Windows 10 and Server 2019 virtual machines have a unknown device vport0p1"
What is this device used for (vport0p1), and is there a driver for Windows 10 and Server 2019 and Server 2022?

[2022-07-13 17:03] ssdabl opened #2496 "How do you rename a virtual machine?"
I edited the YAML file, but the name of the virtual machine was not changed.  How can I rename a vm?

[2022-07-13 17:07] ssdabl opened #2497 "vm event logs shows vms are tainted"
[virt-launcher-vm1-m4l8l_undefined.log](https://github.com/harvester/harvester/files/9104438/virt-launcher-vm1-m4l8l_undefined.log)

These messages are constantly scrolling in all virtual machine event logs.

[2022-07-13 19:42] erSitzt commented on #1902
Install disk was either 2 SAS-SSD or 2 spinny SAS in an RAID-1 maybe this is too slow... but i doubt that, i did multiple installs on older desktop hardware with a single 500gb sata disk without any problems.

But this was the only installation where i went forward and backward in the install wizard.. thats why i thought maybe that messed with some configs... as i changed IP stuff, which also coul

[2022-07-13 19:58] ssdabl commented on #2496
I figured it out

[2022-07-13 22:28] irishgordo commented on #2387
:eyes: - testing this :smile:

[2022-07-14 02:49] irishgordo commented on #2387
@WuJun2016  - is there a way to test this besides running the:
- harvester/dashboard @ release-harvester-v1.0
- running a VM with v1.0.1, to test upgrade panel displays when upgrading to v1.0.2

In the `.env` for harvester/dashboard I have:
[code]
After I logged into Harvester/Dashboard on the VM running v1.0.1 and created an API Key.

Would I first need to edit `kubectl edit deployments/rancher -

[2022-07-14 03:06] WuJun2016 commented on #2387
I think you can test this by installing the v1.0.1 version of harvester。

@irishgordo  Are you trying to run harvester-ui locally?

If you want to run it locally。
 1. clone harvester/dashboard@release-harvester-v1.0
 2. yarn install
 3.  API=https://192.168.122.236/ yarn dev --spa
Open` localhost:8005` in your browser

[2022-07-14 03:28] irishgordo commented on #2387
![yarn-dev-spa](https://user-images.githubusercontent.com/5370752/178890991-fcae7d0c-ca2b-4368-837c-3f26dd1b9f71.png)
![it-works-with-running-yarn-dev-spa-and-harvester-url-locally](https://user-images.githubusercontent.com/5370752/178890994-89b0272d-c36a-47fd-a226-abc5d302f494.png)
![running-the-release-of-v1 0 1-iso-on-a-vm](https://user-images.githubusercontent.com/5370752/178890997-0ff21a69-8e

[2022-07-14 03:53] WuJun2016 commented on #2387
@irishgordo  I don't think it's necessary, this feature is only available since v1.0.3.
This can cause many problems。

[2022-07-14 03:55] WuJun2016 commented on #2387
This means that users won't see these alerts until we release v1.1.0.    cc @bk201

[2022-07-14 03:58] irishgordo commented on #2387
Ohhh okay that makes more sense to me now :smile:  - I wasn't sure if the panel was going to be visible for those that are on v1.0.2 and upgrading to v1.0.3 - but this is only for those that upgrade to v1.0.3 and then they would see the panel when upgrading to v1.1.0 later on.
Thanks for explaining that more @WuJun2016

I can go ahead and close this out since I've validated it locally :smile:

[2022-07-14 04:08] irishgordo commented on #2387
I'll close this out, I've created a task in our harvester/tests backlog [here](https://github.com/harvester/tests/issues/407) to possibly try to add an automated UI test for this in the future :smile:  - thank you for all the help @WuJun2016 !

[2022-07-14 04:08] #2387 closed, assigned to irishgordo, WuJun2016

[2022-07-14 06:38] Martin-Weiss opened #2498 "[BUG] VM automatically gets rebooted without warning in case of modification of CPU / Memory"
**Describe the bug**
When we edit the config of a running VM for i.e. more CPU or more Memory - the VM is shutdown and restarted automatically without any warning.
This is causing downtime for the application in the VM.

**To Reproduce**
Have a running VM - go to config and increase memory from 4 to 8 and cpu from 2 to 4.
Apply - see that the VM goes down and is rebooted.

**Expected behavior**
1.

[2022-07-14 06:42] WuJun2016 commented on #2498
You can cancel the immediate reboot here

![image](https://user-images.githubusercontent.com/24985926/178917931-d02e201a-9160-4c35-bd96-3b8ee4ab22aa.png)

[2022-07-14 06:45] Martin-Weiss commented on #2498
Thanks for the feedback - have overseen this - maybe the default should be not to restart automatically and the message should be dark red ;-).

[2022-07-14 06:51] WuJun2016 commented on #2498
Or maybe we should change it to a pop-up window, because whether it's checked or unchecked by default, it may make some users feel strange.

[2022-07-14 06:55] Martin-Weiss commented on #2498
I believe at least we need a popup in case the "apply" would cause downtime.

[2022-07-14 07:20] wtmpx opened #2500 "[FEATURE] Harvester Logo"
When bookmarking the web UI in Firefox the used icon is Rancher logo not Harvester logo.

[2022-07-14 07:27] TachunLin commented on #2420
Verified **fixed** on `master-0f590757-head`. Close this issue.

### Result
Check can download support bundle correctly, check can access every file without empty

Checked every harvester nodes, the ID have changed to `sle-micro-rancher`
  - ID=`sle-micro-rancher`

[code]

### Test Information
* Test Environment: 4 nodes harvester on dolphin bare machine
* Harvester version: master-0f590757-head

[2022-07-14 07:27] #2420 closed, assigned to bk201, TachunLin

[2022-07-14 07:36] Martin-Weiss opened #2501 "[Doc] Harvester CSI driver attaches via SCSI instead of VirtIO"
**Describe the bug**
When using the harvester CSI we can see that the bus used for attaching harvester volumes is SCSI and not VirtIO (used for the OS disks).

**To Reproduce**
Deploy downstream RKE2 cluster on top of harvester and use the harvester CSI / harvester storage class.

**Expected behavior**
The bus used for attaching volumes should be the same as the one used for the OS, per default.
A

[2022-07-14 07:48] futuretea commented on #2501
KubeVirt only support SCSI for hotplug volume
https://github.com/kubevirt/kubevirt/issues/5080#issuecomment-785183128

[2022-07-14 07:51] Martin-Weiss commented on #2501
Thanks for that update. Could we get this info added as hint to the documentation?
Maybe in the volumes section or in the harvester csi section?

[2022-07-14 08:47] lanfon72 commented on #2488
Verified this bug has been fixed.

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **v1.0-416db269-head**
* **ui-source** Option: **Auto**
* **ui-index**: **https://releases.rancher.com/harvester-ui/dashboard/release-harvester-v1.0/index.html**

### Verify Steps:
1. Install Harvester with any nodes
2. Navigate to _Advanced/Settings_ and update **ui-index** to `ht

[2022-07-14 08:47] #2488 closed, assigned to lanfon72, WuJun2016

[2022-07-14 08:59] TachunLin commented on #1933
Verified **fixed** on master-0f590757-head. Close this issue.

### Result
According to the previous test result https://github.com/harvester/harvester/issues/1933#issuecomment-1182832981
We have passed all test plan scenarios.

### Test Information
* Test Environment: 4 nodes harvester on dolphin bare machine
* Harvester version: master-0f590757-head

### Verify Steps
1. Download support bundle in

[2022-07-14 08:59] #1933 closed, assigned to tjjh89017, TachunLin

[2022-07-14 10:06] bashofmann commented on #2436
@futuretea Shouldn't these be added to noProxy if necessary automatically by harvester?

According to the docs: https://docs.harvesterhci.io/v1.0/settings/settings/#http-proxy

[2022-07-14 10:34] W0n9 opened #2502 "[FEATURE] Harvester Build-in LoadBalancer VLAN Support"
**Is your feature request related to a problem? Please describe.**

I have a network which has 2 VLANs, a private network tagged VLAN 137 and a public network tagged VLAN 255.

My Harvester-mgmt and Downstream RKE2 Cluster Nodes are in VLAN 137, but I want to expose my service into public network VLAN255 via LoadBalancer, my network architecture as below.
![LJNSm.png](https://s1.328888.xyz/2022/07

[2022-07-14 10:46] lanfon72 commented on #2452
Verified this bug has been fixed.

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **v1.0-416db269-head**
* **ui-source** Option: **Auto**
* **ui-index**: **https://releases.rancher.com/harvester-ui/dashboard/release-harvester-v1.0/index.html**
* Terraform Harvester Provider: master-head, docker Image Digest **sha256:83a4f5954ce3fcd32fb3064c9159c536281bdf9915fd63

[2022-07-14 10:46] #2452 closed, assigned to lanfon72, futuretea

[2022-07-14 10:57] lanfon72 opened #2503 "[BUG] UI can't show Terraform applied user data"
### Describe the bug
When creating VM by terraform provider, `cloudinit.user_data` will not be applied to the VM.

### To Reproduce
Steps to reproduce the behavior:
1. Create file `vm.tf` with following snippet
[code]
2. execute `terraform apply`
3. Image will be created, VM will be created with empty **User Data**

### Expected behavior
**User Data** should be applied

## Environment:
 - Harveste

[2022-07-14 11:26] w13915984028 commented on #1902
@erSitzt
Was it a single-node cluster or multi-node cluster ?
When it was multi-node cluster, what was the status of other NODEs when `srv-harvester-01` was abnormal?

[2022-07-14 11:57] erSitzt commented on #1902
@w13915984028 sorry cant check that anymore...
On my next attempt i will try the same steps and open a new issue referencing this issue here.

[2022-07-14 11:57] #1902 closed, assigned to nobody

[2022-07-14 12:13] futuretea commented on #2503
terraform provider harvester support three methods to add userdata like kubevirt http://kubevirt.io/api-reference/v0.49.0/definitions.html#_v1_cloudinitnocloudsource
1. user_data
2. user_data_base64
3. user_data_secret_name

Harvester UI only use secret to apply userdata

If you check the vm yaml, you will see the user_data is applied
just Harvester UI didn't show the user data content configured

[2022-07-14 14:00] guangbochen commented on #2503
can we default to use `user_data_secret_name` as it will be consistent with the UI behavior, thanks?

[2022-07-14 15:04] guangbochen commented on #2497
I found a similar case in the kubevirt and it only occurs with migration tests https://github.com/kubevirt/kubevirt/issues/2704, have u done any similar operation to ur VMs?

[2022-07-14 15:05] guangbochen commented on #2495
may refer to https://github.com/harvester/harvester/issues/276#issuecomment-745155932

[2022-07-14 15:29] TachunLin commented on #2474
Verified **fixed** on v1.0-859ede43-head. Close this issue.

ui-index url: https://releases.rancher.com/harvester-ui/dashboard/release-harvester-v1.0/index.html

### Result

Pass the following image filter scenarios, but can't type to search in the image list

- [x] **PASS** Filter label in Harvester images page
- [x] **PASS** Sort and search image in the VM creation page
- [x] **PASS** Sort and s

[2022-07-14 15:29] #2474 closed, assigned to WuJun2016, TachunLin

[2022-07-14 15:31] w13915984028 commented on #1902
@erSitzt

I checked the possible related source code, there are many enhancements after Harvester v1.0.0 (including Harvester, rke2, k3s ...) , please try the latest stable version. Thanks.

Now it's: https://github.com/harvester/harvester/releases/tag/v1.0.2

[2022-07-14 18:31] ssdabl commented on #2495
It's a Redhat VIO Serial Port - I can't find drivers for it.

[2022-07-14 20:19] crazyelectron-io commented on #2458
I have a related disk configuration/usage question.
My setup is a 3-node bare metal Harvester cluster with NVMe disks for the 'OS'. Each node has 4x 8TB SSD that I want to use as storage for Longhorn installed in a RKE2 cluster of 6 nodes running on the 3 Harvester nodes.

I am stuck at how to dedicate these SSD disks to the VM running Longhorn Pods. I don't want to use them in Harvester, just for

[2022-07-14 21:44] abonillabeeche commented on #1676
Second this...!

[2022-07-15 01:17] ssdabl commented on #2497
Migration works fine.  Everything looks ok - no major issues, but the messages are constantly scrolling when windows server 2019 or windows 10 is running.

[2022-07-15 01:18] ssdabl commented on #2495
it's created in every Windows virtual machine.

[2022-07-15 01:55] WuJun2016 commented on #992
Hi， @mantis-toboggan-md  Can you take a look at the issue ?   https://github.com/tlehman/harvester/blob/sriov-enhancement/enhancements/20220614-sriov-configuration.md#requirements  thanks

[2022-07-15 05:49] crazyelectron-io opened #2505 "[Question] Multiple UI/dashboard confusion"
I have Harvester v1.0.2 (amd64) running on a 3-node bare metal configuration. hen the cluster is installed the dashboard that opens after going to `https://harvester.example.org` is the Harvester default dashboard with URL `https://harvester.exaample.org/dashboard/c/local/harvester/harvesterhci.io.dashboard`. There you can see the hosts, create and manage VM's as well as create and manage Kubernet

[2022-07-15 06:09] MikeTolkachev opened #2506 "[FEATURE] Selecting a Harvester cluster for a pool instead of the entire cluster"
I have three Harvester clusters in three data centers. Would like to be able to create a RKE2 cluster on top of all of them using master Rancher cluster.

This is possible if you select the harvester cluster for the pool instead of the global selection.
<img width="1183" alt="Screenshot 2022-07-15 at 09 06 36" src="https://user-images.githubusercontent.com/7092820/179161890-12bbe55f-66c0-4ac6-beea

[2022-07-15 06:39] TachunLin commented on #2310
Verified **not fixed** on `master-8f01b558-head` with Rancher `v2.6.6`. Move this issue to implement stage.

ui-index: https://releases.rancher.com/harvester-ui/dashboard/release-harvester-v1.0/index.html
version: index.8caabe861906430877bf.js

### Result
The `cluster_member` rule can't see the correct resource usage statistics on host and dashboard page
Most of the statistics are empty.

* Dashbo

[2022-07-15 07:49] crazyelectron-io opened #2507 "[Question] Longhorn and disk allocation for K8s cluster PV's"
What I want to setup with Harvester v1.02 is a multi-node (3 bare metal systems for starters) Harvester cluster running a few plain vanilla VM's and 2 Kubernetes (RKE2 and/or K3s) clusters. I am struggling with the disk configuration for such a setup.

The physical configuration details: 3 bare metal nodes with 20 cores each, 128GB RAM, 1TB NVMe disks for Harvester installation (and some generic V

[2022-07-15 07:57] Martin-Weiss commented on #2507
In case you give the 8 TB disks to the Harvester "longhorn" and use them via Harvester CSI in the downstream cluster I believe you have more flexibilty especially because you can add additional clusters and workload to the environment without having the large 8 TB disks locked to a subset of VMs..

Let Harvesters Longhorn distribute the data and take care about fault tolerance - yes - Longhorn wil

[2022-07-15 08:11] futuretea commented on #2325
**Test plan:**

1. Install first node, the role of this node should be `Management Node`
2. Install second node, the role of this node should be `Compute Node`, the second node shouldn't be promoted to `Management Node`
3. Add label `topology.kubernetes.io/zone=zone1` to the first node
4. Install third node, the second node and third node shouldn't be promoted
5. Add label `topology.kubernetes.io/

[2022-07-15 08:11] futuretea commented on #2382
**Test plan:**

1. Install first node, the role of this node should be `Management Node`
2. Install second node, the role of this node should be `Compute Node`, the second node shouldn't be promoted to `Management Node`
3. Add label `topology.kubernetes.io/zone=zone1` to the first node
4. Install third node, the second node and third node shouldn't be promoted
5. Add label `topology.kubernetes.io/

[2022-07-15 09:21] guangbochen commented on #2423
Harvester uses Longhorn as its built-in storage system, and currently, it only supports xfs and ext4 file types https://longhorn.io/docs/1.3.0/deploy/install/#installation-requirements.
The XFS may provide some advantages in I/O performance with multi-threaded access scenarios but it is limited, currently, ext4 is more stable for Longhorn and that's the reason why it defaults to using this type fo

[2022-07-15 09:30] bk201 commented on #2481
@crazyelectron-io Thanks for reporting.
Does the 3rd node appear in your existing Harvester cluster? If possible, could you provide a support bundle:
cluster: https://docs.harvesterhci.io/v1.0/troubleshooting/harvester/#generate-a-support-bundle
3rd node: https://docs.harvesterhci.io/v1.0/troubleshooting/installation/#collecting-troubleshooting-information

[2022-07-15 09:44] Martin-Weiss commented on #2423
Please explain and deliver facts for the "more stable" and give the links to the corresponding issues.

In case there is a stability problem in either XFS or any other filesystem that needs to be fixed with highest priority independant of Longhorn. And we also have to add a warning to the documentation not to use XFS in that case.

In case Longhorn is not "compatible" with XFS - and this is causin

[2022-07-15 09:49] DaiYuzeng commented on #2316
@chrisho This issue will be ready to test after  https://github.com/rancher/dashboard/issues/6366 is fixed, thanks!

[2022-07-15 10:03] TachunLin commented on #2310
Re-validate **fixed** on `master-8f01b558-head` with Rancher `v2.6.6`. Close this issue to implement stage.

Should use master ui-index for testing
ui-index: https://releases.rancher.com/harvester-ui/dashboard/latest/index.html

### Result
The `cluster_member` rule can see the resource usage statistics on host and dashboard page
Since the member privilege can't access longhorn storage, thus the st

[2022-07-15 10:03] #2310 closed, assigned to futuretea, n313893254, TachunLin

[2022-07-15 10:15] n313893254 commented on #2478
Move pipeline to implement as storage used is zero on the dashboard page. Will be fixed in this [PR](https://github.com/harvester/dashboard/pull/380).

[2022-07-15 10:24] TachunLin commented on #2309
Try to reproduce the issues on master-8f01b558-head (7/14).

For the three problems highlighted in this issue.

- Problem 1: The `Create` button is not displayed on the image and volume page while already having project namespace assigned to the cluster member use
- Problem 2: Users should not create resources in the harvester-public namespace, but the image creation page can select harvester-publ

[2022-07-15 10:24] #2309 closed, assigned to futuretea, TachunLin

[2022-07-15 12:03] w13915984028 opened #2510 "[BUG] cluster-registration-url is lack of essential check and no clear error message in dashboard when registration fails"
**Describe the bug**

It is possible to set any string (e.g. `abc`) in Harvester setting `cluster-registration-url`, and save OK. No check. Dashboard seems no place to find the status of the registration.

https://docs.harvesterhci.io/v1.0/rancher/virtualization-management/

In Harvester POD, there are error messages every 30 seconds. (of the invalid input `abc`)
`
time="2022-07-15T11:30:36Z" leve

[2022-07-15 13:00] BTGUK commented on #2423
I looked at the referenced Longhorn requirements page but couldn't see anything which suggests that using XFS would lead to instabilities (in fact, it reads as either XFS or ext4 are fine for Longhorn), and if there really are issues around Longhorn on XFS then frankly I'd question whether Longhorn is really ready for prime time across larger installations.

Also, it looks like the Harvester OS pa

[2022-07-15 13:03] janeczku opened #2511 "[FEATURE] Able to disable replication for VM volumes (replica=1)"
**Is your feature request related to a problem? Please describe.**
When running database workloads in a VM (e.g. Galera cluster), storing this data on a LH volume with three replicas is inefficient and results in poor performance.

**Expectation**

When adding a VM volume to a VM, user can define number of replica.

Alternatively:

Harvester provides ability for admins to define multiple storage t

[2022-07-15 13:04] janeczku commented on #2147
Requirement: It should be possible to define the number of replicas per storage tiers.

https://github.com/harvester/harvester/issues/2511

[2022-07-15 14:27] TachunLin commented on #2464
Verified **fixed** on `v1.0-859ede43-head` (07/14). Close this issue.

### Result
* Check can download support bundle correctly, check can access every file without empty

* Checked the files `/config/etc/os-release ` in support bundle have the ID `sle-micro-rancher`
  - ID=`sle-micro-rancher`

[code]

### Test Information
* Test Environment: 1 node harvester on local kvm machine
* Harvester versi

[2022-07-15 14:27] #2464 closed, assigned to bk201, TachunLin

[2022-07-15 15:05] lanfon72 commented on #2463
the test case of support bundle be verified via #2464

[2022-07-15 15:05] #2463 closed, assigned to tjjh89017, lanfon72

[2022-07-15 16:01] fivezerosix commented on #2434
Hello, I tried reinstalling the cluster. However I have not found any documentation stating what ports I need to enable on the VIP since I have to specify it to make it work.  I did use the ones for Rancher for RKE https://rancher.com/docs/rancher/v2.5/en/installation/requirements/ports/#ports-for-rancher-server-nodes-on-rke
and have not been able to connect the new nodes to rebuild the cluster.

[2022-07-15 16:18] mantis-toboggan-md commented on #992
Yeah @WuJun2016 I'll sync up with Tobi next week to discuss

[2022-07-15 18:10] noahgildersleeve opened #2512 "[DOC] Document inbound and outbound port requirements for Harvester"
For customers trying to understand the ports they need to have open between Harvester hosts in a cluster and to access services on the Harvester stack remotely.

Document inbound and outbound ports that are used between Harvester hosts. Explain what ports are used for intra-cluster traffic vs external access of the Harvester stack's services. For example: https://documentation.suse.com/suma/4.2/en

[2022-07-15 19:25] crazyelectron-io commented on #2481
Thanks for your suggestions, but I have meanwhile reinstalled successfully (just by repeating the installation from scratch one more time). Since I am in the process of configuring a Kubernetes cluster with Longhorn storage, I don't want to redo the Harvester installation at this time...

[2022-07-15 19:29] crazyelectron-io commented on #2507
@Martin-Weiss Thanks for your reply. That makes totally sense.

[2022-07-15 19:36] cranialspark commented on #2071
@sam-ulrich1 Were you able to find a solution to this issue? I'm running into the same and have not been able to find any useable workarounds. I attempted to move the write_files and runcmd sections out from under autoinstall and although they now run, the changes they make don't appear to be persisted on the system (yet another mystery).

[2022-07-15 19:37] sam-ulrich1 commented on #2071
Nope. Never heard back here either. It's annoying but I've just manually dealt with it

[2022-07-15 22:20] tlehman commented on #992
@A-vesalius Could you describe your intended use of this feature? What sort of workloads should be make sure we support?

[2022-07-15 22:37] A-vesalius commented on #992
My particular purpose would be to pass through network adapters to allow for full speed use by VM’s specifically direct hardware offloading of network task to the nic as opposed to being forced to use the vm/host cpu when using virtualized or paravirtualized nics. 25, 40 and 100GbE nics for instance if used in a harvestor vm to external physical storage network or a virtualized router VM would be

[2022-07-16 00:24] cranialspark commented on #2071
@sam-ulrich1 Not sure if this will help now but, after a few false starts (like https://gist.github.com/Miesvanderlippe/d195df2d9755b5a9c48a4ae551e53ce5), I discovered that you need to have a "user-data:" element where you currently have "runcmd" and indent the "runcmd:" under that.

[2022-07-16 16:07] raddah commented on #2422
I have used bot NICs and also One NIC eno1 resulting with same error. Installation didn't continue.

[2022-07-16 17:09] BringerOD commented on #2496
How do you do it?

[2022-07-16 18:42] himslm01 opened #2513 "[BUG] Harvester Prometheus Longhorn PVC degraded"
**Describe the bug**
All of the metrics in Harvester's dashboard say there is no data.
I don't know when it started happening, but I went to look just now and it's all blank, and no data.

The issue was described on Slack and I was asked to upload a support bundle

https://rancher-users.slack.com/archives/C01GKHKAG0K/p1657546159399299

**Support bundle**

https://rancher-users.slack.com/files/U96E

[2022-07-17 11:51] lanfon72 commented on #2262
Verified this bug has been fixed.

Test Information
----
* Environment: **Baremetal DL160 5 nodes**
* Harvester Version: **master-aa3d95d2-head**
* **ui-source** Option: **Auto**
* Terraform Harvester Provider: master-head, docker Image Digest **sha256:83a4f5954ce3fcd32fb3064c9159c536281bdf9915fd63431998cf924c3d937e**

### Verify Steps:
1. Install Harvester with any nodes
3. Follow [the instructio

[2022-07-17 11:51] #2262 closed, assigned to lanfon72, futuretea

[2022-07-17 11:51] lanfon72 commented on #2255
Verified this bug has been fixed.

Test Information
----
* Environment: **Baremetal DL160 5 nodes**
* Harvester Version: **master-aa3d95d2-head**
* **ui-source** Option: **Auto**
* Terraform Harvester Provider: master-head, docker Image Digest **sha256:83a4f5954ce3fcd32fb3064c9159c536281bdf9915fd63431998cf924c3d937e**

### Verify Steps:
1. Install Harvester with any nodes
3. Follow [the instructio

[2022-07-17 11:51] #2255 closed, assigned to lanfon72, futuretea

[2022-07-18 01:52] Vicente-Cheng commented on #2458
hi @crazyelectron-io,

I saw you open another issue (https://github.com/harvester/harvester/issues/2507) for it.
Looks like we could discuss the above issue instead here.

[2022-07-18 03:33] bk201 commented on #2481
@crazyelectron-io Thanks for the feedback. Feel free to re-open the issue if you see it again.

[2022-07-18 03:33] #2481 closed, assigned to nobody

[2022-07-18 08:10] TachunLin commented on #2325
Verified **fixed** on `master-aa3d95d2-head` (7/15). Close this issue.

### Result
Checked can pass the following test scenarios.

1. Install **first** node, the role of this node should be `Management Node`
[code]
2. Install **second** node, the role of this node should be `Compute Node`, the second node shouldn't be promoted to `Management Node`
[code]

3. Add label topology.kubernetes.io/zone=z

[2022-07-18 08:10] #2325 closed, assigned to futuretea, TachunLin

[2022-07-18 08:13] cai648971528 opened #2515 "Error: INSTALLATION FAILED: unable to build kubernetes objects from release manifest: resource mapping not found for name: "sync-additional-ca" namespace: "cattle-system" from "": no matches for kind "Plan" in version "upgrade.cattle.io/v1""

[2022-07-18 09:05] w13915984028 opened #2517 "[FEATURE] Harvester supports alertmanager"
**Is your feature request related to a problem? Please describe.**

Alertmanager (of `rancher-monitoring`)  related features are not supported in Harvester.

**Describe the solution you'd like**

Support alertmanager.

Support config various types of receivers.

Support customized alert rules definition.

**Describe alternatives you've considered**

**Additional context**

[2022-07-18 09:13] lanfon72 commented on #2386
Verified not fixed.

https://user-images.githubusercontent.com/5169694/179478130-64fee730-0e28-4ec5-bab5-4426667a56f1.mp4

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **v1.0-71af06ec-head**
* **ui-source** Option: **Auto**
* **ui-index**: **https://releases.rancher.com/harvester-ui/dashboard/release-harvester-v1.0/index.html**
* **Rancher Version**: `v2.6.6`

[2022-07-18 09:13] FrankYang0529 commented on #2011
After testing Harvester master-head with Rancher v2.6.7-rc2, fleet-controller can be upgraded from `v0.3.9` to `v0.3.10-rc2` and rancher-charts clusterrepo is from `release-2.6` to `dev-2.6`.

We can merge https://github.com/harvester/harvester/pull/2516 when we want to bump Rancher to v2.6.7.

[2022-07-18 09:15] w13915984028 opened #2518 "[FEATURE] enable/disable alertmanager on demand"
**Is your feature request related to a problem? Please describe.**

Enable alertmanager by default.

**Describe the solution you'd like**

Alertmanager is enabled by default, user can disable it after installation from Harvester dashboard.

**Describe alternatives you've considered**

**Additional context**

HEP PR:
HEP: Harvester supports alertmanager
https://github.com/harvester/harvester/pull/2

[2022-07-18 09:18] w13915984028 opened #2519 "[FEATURE] Alertmanager is backed by PVC"
**Is your feature request related to a problem? Please describe.**

Alertmanager needs to persisstant user data.

**Describe the solution you'd like**

Alertmanager is backed by PVC, default PVC size is 5 Gi.

**Describe alternatives you've considered**

The PVC size is NOT configable via dashboard.

**Additional context**

HEP PR:
HEP: Harvester supports alertmanager #2545
https://github.com/harv

[2022-07-18 09:20] lanfon72 commented on #2503
This bug more like a integration case, when user deployed VMs via terraform, and they should still able to modify _User Data_ via dashboard UI.

[2022-07-18 09:42] lanfon72 commented on #2478
Verified this bug has been fixed.

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **master-aa3d95d2-head**
* **ui-source** Option: **Auto**

### Verify Steps:
- Follow **Steps to reproduce** in https://github.com/harvester/harvester/issues/2478#issue-1300461060

[2022-07-18 09:42] #2478 closed, assigned to lanfon72, n313893254

[2022-07-18 10:01] w13915984028 opened #2521 "[FEATURE] Alertmanager supports main stream receivers"
**Is your feature request related to a problem? Please describe.**

For better customized integration of alertmanager, main stream receivers should be supported in Harvester Alertmanager.

**Describe the solution you'd like**

For better customized integration of alertmanager, main stream receivers should be supported in Harvester Alertmanager.

Harvester dashboard supports add/change/remove of al

[2022-07-18 10:24] tgazik opened #2522 "[BUG] Windows VMs crashing"
**Describe the bug**
Windows VM crashing. When i use image with preinstalled windows server 2019 or trying to install VM from iso image the VM restarted by itself after some period (seconds, 2-3 minutes). I`m using Windows VM template as described in documentation.
When i use resources like 2CPU and 4GB RAM the VM is stable, when i use 4CPU and 8GB RAM the VM is crashing.
Tested on 3 different env

[2022-07-18 10:41] lanfon72 commented on #2386
### update to correct verify steps

Verified not fixed.

https://user-images.githubusercontent.com/5169694/179493722-4a1ccaa2-2789-4c16-9b55-64cdc2ff4ca7.mp4

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **v1.0-71af06ec-head**
* **Rancher** Version: `v2.6-07ee5962e0da85c999d8ebb5fddc6fd427068682-head` via docker image
* **Rancher _ui-dashboard-index_**: `https

[2022-07-18 11:06] yimin-zhao opened #2523 "[Question] How to mute massive logs reported by webbook"
Hi there,

I have a single node cluster running with harvester, I find a lot of logs from kube-apiserver and harvester-webhook, the content looks like
[code]

[code]

I am new to harvester, can I get some help with this? Like how to fix this or mute them?
Thanks very much.

[2022-07-18 11:52] janeczku commented on #2522
@tgazik Could you please amend the steps to reproduce, e.g.:

- How was Windows 2019 installed
- Which additional Windows drivers were installed (e.g. virtio drivers)
- What settings did you configure when creating the VM in Harvester, e.g. did you follow https://docs.harvesterhci.io/v1.0/vm/create-windows-vm/

[2022-07-18 13:45] guangbochen commented on #2523
Are u trying to enable maintenance mode or cordon on the last available node? this is not allowed since it is the last node that can be used by the Harvester.

[2022-07-18 13:55] harvesterhci-io-github-bot opened #2524 "[backport v1.0] [BUG] Image upload does not start when HTTP Proxy is configured"
backport the issue #2436

[2022-07-18 14:19] janeczku commented on #2522
Potential duplicate of https://github.com/harvester/harvester/issues/276

[2022-07-18 14:20] janeczku commented on #2522
@tgazik Can you confirm whether the VM crashes with "KMODE exception not handled" as described in the other issue?

[2022-07-18 14:45] n313893254 commented on #2386
@lanfon72 Thanks for your testing.  I think the test result is what I expected. When login in as a cluster member, the storage progress bar will be hidden as the user has no access to longhorn API. Here is the PR [comment](https://github.com/harvester/dashboard/pull/379#issue-1303253807).

[2022-07-18 15:16] lanfon72 commented on #2386
@n313893254 you are right, I didn't notice the difference.

[2022-07-18 15:16] #2386 closed, assigned to lanfon72, n313893254

[2022-07-18 15:58] tlehman commented on #992
Got it, that's what I am working on in this ticket, enabling SR-IOV for baremetal Harvester cases, allowing the VMs to make full use of the NICs. @A-vesalius  Can you give more detail about your likely workloads? Are you thinking about having a single VF per VM? Or Multiple?

Also, GPU passthrough is going to be covered in #1029

[2022-07-18 16:06] janeczku commented on #2522
I can reproduce the issue by following the steps here to provision a Windows 2019 VM using 4 CPU and 8 GB Ram: https://github.com/harvester/harvester/issues/1767#issue-1093194711

After creating the VM, wait for 1-2 hours, then connect via Web VNC. If the user is logged out, send CTRL-Alt-Del to login.

Result: The VM crashes
<img width="1198" alt="Screenshot 2022-07-18 at 16 33 56" src="https://u

[2022-07-18 17:21] ssdabl commented on #2496
It didn't work - I edited the yaml configuration, but the name did not update on the console.  Is there a way to rename vms?

[2022-07-18 18:22] noahgildersleeve opened #2525 "[TASK] Look into potential Windows Server issues"
Test and look into any potential Windows Server issues

It is looking like there might be some issues with WIndows Server VMs and some confluence of issues with the template, the way that the image was uploaded, and the version of the dashboard UI.

## Tests
### v1.0.2
### File upload
- [x] Server 2012
   - [ ] Pass
   - [x] Fail
- [x] Server 2019
   - [ ] Pass
   - [ ] Fail
- [x] Server 2022
   -

[2022-07-18 19:05] noahgildersleeve commented on #2057
This is happening in v1.0.2. Tested with v1.0.2. I tested this with the dynamic and bundled ui-source.
## Test Steps

1. Upload a windows file to images from your local machine
2. Create a new vm
3. Select windows-iso-image-base-template
4. Navigate to volumes
5. Select the WIndows installer ISO for the CDROM drive

[2022-07-18 19:11] noahgildersleeve opened #2526 "[BUG] Disk doesn't show up in Windows VM install"
**Describe the bug**

When you create a VM with the Windows template the root disk doesn't show up in the installer
**To Reproduce**
Steps to reproduce the behavior:
1. Upload a Windows installer ISO
2. Create a new windows VM with the windows template
3. Make sure that the ISO is a CDROM volume so that you can boot to the ISO [Bug](https://github.com/harvester/harvester/issues/2057)
**Expected be

[2022-07-18 21:07] ckoliber opened #2527 "Terraform harvester windows support"
**Is your feature request related to a problem? Please describe.**
I need to provision harvester resources using terraform in windows.

**Describe the solution you'd like**
Add CI steps in `terraform-provider-harvester` to support windows builds and release

**Describe alternatives you've considered**

**Additional context**

[2022-07-18 23:38] A-vesalius commented on #992
@tlehman Mainly thinking of single VF's to a VM, but have plans for multiple as well, with LACP and redundant connections to the VM in a segregated vlan or even the host network. Although in those instances I was more thinking of distributing VF's from port A, B, C, or D of a 4 port PCI card to a single VM and not as much sending VF1 and VF2 from only port A to a single VM. If possible giving peop

[2022-07-19 00:10] bk201 opened #2528 "[BUG] Tons of AppArmor denied messages"
**Describe the bug**

We can see tons of AppArmor denied messages in the system log:

[code]

It makes debugging harder.

**To Reproduce**
Steps to reproduce the behavior:
1. Create VMs.
2. `journalctl -b -f`

**Expected behavior**

Do not log the messages or allow the operation (to see if that's allowed).

**Support bundle**

**Environment**
 - Harvester ISO version:  v1.0.2
 - Underlying Infrast

[2022-07-19 01:05] FrankYang0529 commented on #1914
Hi @guangbochen @w13915984028, I test again through UI, but this time I add Mac Address from the management Network to a VLAN network. After restarting the VM, it can get an IP.

![Screen Shot 2022-07-19 at 9 04 45 AM](https://user-images.githubusercontent.com/4927361/179642020-5092e994-e26e-41f9-90e2-2d3e25fc9cd4.png)

[2022-07-19 01:46] WuJun2016 commented on #2475
duplicated with  https://github.com/harvester/harvester/issues/2474 ，  close this issue

[2022-07-19 01:46] #2475 closed, assigned to WuJun2016

[2022-07-19 01:49] WuJun2016 commented on #2174
duplicated ， The problem has been solved in the [issue](https://github.com/harvester/harvester/issues/2474)， so close this issue

[2022-07-19 01:49] #2174 closed, assigned to WuJun2016

[2022-07-19 01:50] bk201 commented on #2418
@Martin-Weiss , do you mean removing the Longhorn default disk partition and extending the persistent partition?
[code]

This involves removing a Longhorn disk (move replicas on it), re-partitioning the disk, and growing persistent partition FS.
On the other hand, If the user chooses another disk for Longhorn during the installation, the persistent partition occupies all left space on the disk.

[2022-07-19 02:20] rebeccazzzz opened #2529 "[Task] Update Harvester POC Guide for v1.0.3"
Update the existing Harvester v1.0.0 POC Guide for v1.0.3.

[2022-07-19 02:20] bk201 opened #2530 "[FEATURE] Allow specifying timezone during the installation time"
**Is your feature request related to a problem? Please describe.**

Currently, we are using UTC by default.
The user might need to set the timezone of Harvester nodes.

**Describe the solution you'd like**

- An installer panel to configure the time zone.
- A Harvester configuration field to set the timezone.

**Describe alternatives you've considered**

**Additional context**

We might need the e

[2022-07-19 02:23] bk201 commented on #2430
@reesericci Please see if https://github.com/harvester/harvester/issues/2430#issuecomment-1174639771 works for you, feel free to re-open if not. Thanks.

[2022-07-19 02:23] #2430 closed, assigned to nobody

[2022-07-19 02:52] chrisho commented on #1662
After testing, set `bootorder` to 1 for the primary disk and ISO to 2. If the main disk does not have a system boot on the first boot, it will automatically boot the second one, and reboot will boot the main disk after installing the system.

eg:
<img width="1071" alt="image" src="https://user-images.githubusercontent.com/3347460/179653508-ef5ad070-c7b8-4814-b308-0717c547a047.png">

Does this solv

[2022-07-19 03:02] TachunLin commented on #2057
@noahgildersleeve,
To assign a image uploaded from local file to windows vm cdrom, we need to specify the `harvesterhci.io/image-type` to `ISO` and `harvesterhci.io/os-type` to `Windows` in the image label page.

Then when we use windows-iso-image-base-template and select windows image file, it will automatically change to the **cdrom** type

Since according to the 1.0 document https://docs.harves

[2022-07-19 03:02] #2057 closed, assigned to WuJun2016, TachunLin

[2022-07-19 03:42] tjjh89017 commented on #2528
## Analysis

processes in container could not be read by `virtlogd`.

## Version

Rke2 1.21.x
containerd 1.4

## Root Cause

containerd will apply AppArmor rules with custom permissions (cri-containerd.apparmor.d) to all container processes if there is no specific profile.
https://github.com/k3s-io/containerd/blob/k3s-release/1.4/contrib/apparmor/template.go#L44-L91

`cri-containerd.apparmor.d` pr

[2022-07-19 03:47] guangbochen commented on #2496
You are not allowed to change the metadata name as it is a unique ID and an immutable field in the k8s world, but we could consider adding a `displayName` field so users can update it when needed.

[2022-07-19 03:54] tjjh89017 commented on #2188
I will close this ticket.
If you have further issues, feel free to reopen it.
thanks a lot

[2022-07-19 03:54] #2188 closed, assigned to nobody

[2022-07-19 04:02] tjjh89017 commented on #2291
I will close this ticket.
feel free to reopen it.

[2022-07-19 04:02] #2291 closed, assigned to nobody

[2022-07-19 04:15] tjjh89017 commented on #2422
@raddah
Do you still put IP with /32?
It should not be /32 because you have a default gateway on it.

[2022-07-19 05:28] tjjh89017 commented on #2193
Could you check the vSwitch config?
MAC Address Changes, Forged Transmits, Promiscuous Mode Operation
These three option need to be enabled.

[2022-07-19 05:47] bk201 commented on #2528
Added OBS revision for ref (login required): https://build.opensuse.org/package/rdiff/isv:Rancher:Harvester:BaseOS/baseos?linkrev=base&rev=6

[2022-07-19 05:47] Martin-Weiss commented on #2418
There are many ways how this could be done - maybe the answer is “remove longhorn disk and expand” or “reinstall node” or “use LVM and add an additional disk to the VG / expand the PV” or “use BTRFS and add an additional partition to the filesystem”..  basically this might come back to the question about the disk layout / file system design..

Background: the problem we ran into was to use a 140 G

[2022-07-19 05:52] bk201 commented on #2418
@Martin-Weiss A minimum of 140GB is only for testing or development purposes. 500 GB+ is preferred.
For the disk layout or file system choices, it's the design of the elemental toolkit.

[2022-07-19 05:59] Martin-Weiss commented on #2418
And in a testing / dev environment we do not support upgrading? ;-)

I believe we have to increase the 140 GB to “enough”.. so that we can remove the “verify /usr/local free disk space” before doing an upgrade. As long as we have a “check disk space” in the docs for upgrading we also need to provide a guideline on how to solve the “not enough free disk space” situation.

[2022-07-19 06:40] yimin-zhao commented on #2523
Maybe I click the `Coron` or `Enable maintenance mode` somehow. How can I undo my action? Like back to normal mode? The logs are generated rapidly, and keep kube-apiserver busy.
![image](https://user-images.githubusercontent.com/6059037/179682833-e1a2d65f-c68e-4813-9414-96f213c75b53.png)
![image](https://user-images.githubusercontent.com/6059037/179682996-d8b6f081-f4b6-4879-98f5-eb3ff1216d20.png)

[2022-07-19 07:00] Martin-Weiss commented on #2242
Just hitting this issue, too - it would be nice if we could implement a re-connect from the client side.. In case I refresh the browser it does a re-connect but this should be more or less automatic if possible.

[2022-07-19 07:14] guangbochen commented on #2523
Probably u can try to log in to the node and run `kubectl uncordon <node name>`, also this seems like a bug as it should not spawn the logs rapidly.

[2022-07-19 07:33] Martin-Weiss opened #2533 "[BUG] Windows 2019 - Disk 1 has the same disk identifiers as one or more disks connected to the system"
**Describe the bug**
In Windows 2019 we can see this warning in the eventlog:

Disk 1 has the same disk identifiers as one or more disks connected to the system. Go to Microsoft's support website (http://support.microsoft.com) and search for KB2983588 to resolve the issue.

![grafik](https://user-images.githubusercontent.com/13362573/179693001-c338bbfd-bbf2-48f8-a655-4046c43b85bb.png)

**To Reprod

[2022-07-19 07:54] wonleing commented on #2523
how to confirm and cancel maintenance mode from command line? (UI is not available)

[2022-07-19 07:58] wonleing commented on #2523
This doesn't help.

[root@localhost ~]# kubectl uncordon localhost.localdomain
node/localhost.localdomain already uncordoned

But warning still bumping very fast:
W0719 06:11:25.694282       1 dispatcher.go:142] rejected by webhook "validator.harvesterhci.io": &errors.StatusError{ErrStatus:v1.Status{TypeMeta:v1.TypeMeta{Kind:"", APIVersion:""}, ListMeta:v1.ListMeta{SelfLink:"", ResourceVersion:"",

[2022-07-19 08:43] Captured77 opened #2534 "Upload image failed in the APP mode"
I  check cr named VirtualMachineImages  that is created，but not upgrade. The cr BackingImageDataSources is not created. I have no idea about  this.

[2022-07-19 08:48] guangbochen commented on #2523
To disable the maintenance mode manually u will need to ssh to one of the management nodes and run `kubectl edit node  $node-name` and then set the node configs per https://github.com/harvester/harvester/blob/08d013235fa2de4255410de27f33fdf189f7b8ef/pkg/api/node/formatter.go#L128-L136
1. set the `Spec.Unschedulable = false`.
2. remove the `Spec.Taints` with key `kubevirt.io/drain`.
3. delete the n

[2022-07-19 09:29] lanfon72 opened #2535 "[BUG] Image failed to download with `connection reset` error"
### Describe the bug
Image failed to download with error: `connection reset by peer`

![image](https://user-images.githubusercontent.com/5169694/179716316-f0f50824-fc9c-42c9-a8b1-3303e259193e.png)

### To Reproduce
Steps to reproduce the behavior:
1. Install Harvester with any nodes
2. Create a large Image via **URL**

### Expected behavior
This bug happened rarely, user can re-create the Image to

[2022-07-19 10:09] TachunLin commented on #2316
Verified **fixed** on Harvester`master-08d01323-head` (07/19) with Rancher `v2.6.7-rc3` Close this issue.

In this feature we would focus on checking the `Node scheduling` selector and `Pod scheduling` selector can deploy guest VM to the Harvester node and pod matching the label.

### Test Plan

We have the following test plan:
1. Check **can** deploy guest VM to the specific Harvester node matchi

[2022-07-19 12:27] janeczku commented on #2522
The timestamps of the VM crashing correspond to the timestamps of OOM killer events in `dmesg`. This host has 260GB of free memory.
[code]

[2022-07-19 12:35] janeczku commented on #2522
Possibly a regression of https://github.com/harvester/harvester/issues/1234 @guangbochen @futuretea

Could it be that our resource overhead calculation to reserve qemu memory is not correct anymore? https://github.com/harvester/harvester/commit/39c76d70e7ce178a26142bac43d09fc0002e1290

[2022-07-19 12:53] TachunLin commented on #2384
Verified **fixed** on Harvester `v1.0-f2860d3b-head` (07/19) with Rancher `v2.6.7-rc3` Close this issue.

In this feature we would focus on checking the `Node scheduling` selector and `Pod scheduling` selector can deploy guest VM to the Harvester node and pod matching the label.

### Test Plan

We have the following test plan:
1. Check **can** deploy guest VM to the specific Harvester node matchin

[2022-07-19 13:23] janeczku commented on #2522
Potential fix upstream: https://github.com/kubevirt/kubevirt/pull/7264

[2022-07-19 14:33] futuretea commented on #2522
For windows vm, we should increase reserved memory in the `Advanced Options`
refer to https://github.com/harvester/harvester/issues/1730#issuecomment-1063878424,

[2022-07-19 23:58] ssdabl commented on #2495
That's using an old version of the guest drivers - I'm using a new version and the device is still showing up as unknown

[2022-07-20 02:22] wonleing commented on #2523
edit node only has kubevirt.io/schedulable: "true"
Obviously, it didn't enter maintainance mode. And we didn't even try to enable maintenance mode.
Why kube-apiserver-localhost.localdomain pod keeps flushing this warning? used a lot of CPU.

[2022-07-20 02:29] guangbochen commented on #2523
It is hard to tell just based on the above content, can u please either upload a support bundle file here or email it to harvester-support-bundle@suse.com with the correct issue ID, thanks.

[2022-07-20 06:33] Martin-Weiss opened #2538 "[FEATURE] Add "shutdown" and "reboot" option on harvester nodes"
**Is your feature request related to a problem? Please describe.**
When ever we have configuration changes (i.e. bonding mode, nameserver, additional NICs) we need to reboot the nodes to ensure the new configuration is used. At the moment this is not possible via UI:

![grafik](https://user-images.githubusercontent.com/13362573/179912775-93d34886-b4e0-4a4b-9411-8936ecfae9f9.png)

**Describe the so

[2022-07-20 06:41] Martin-Weiss opened #2540 "[FEATURE] Show "safe to reboot" in the harvester UI (longhorn replication)"
**Is your feature request related to a problem? Please describe.**
Especially in situations where a given volume in longhorn is deprecated it is important to be very careful during maintenance processes and ensure that enough healthy replicas of data exist in case a given node is rebooted to avoid data loss.

The harvester UI should show the status on a per node basis if it is "safe" to reboot a g

[2022-07-20 06:46] Martin-Weiss opened #2541 "[FEATURE] Add network prioritization / QoS"
**Is your feature request related to a problem? Please describe.**
We need to be able to manage traffic priorities between different harvester components.
I.e. in case longhorn data replication uses all available bandwidth - the live migration of VMs might not be possible, anymore or in case of combined usage of networks we need to find a way to prioritize "important" traffic over "less important"

[2022-07-20 07:23] DaiYuzeng commented on #2316
Hi! @TachunLin

We missed the case of `External Harvester Cluster`, can you please re-verify the aspect of `External Harvester Cluster` for this issue? Thanks!

These fields are not selectable, you can only input something since UI can not get related resources of these fields to afford users to select if credential type is `External`.

![image](https://user-images.githubusercontent.com/15041915/1

[2022-07-20 08:14] TachunLin commented on #2243
Verified **fixed** on `master-08d01323-head` (07/19). Close this issue.

### Result
* This issue exists on latest master release
* We can use the workaround steps provided in the [monitoring document](https://github.com/w13915984028/docs/blob/84fc5ab1020d7120922424643cff5ea09cff791f/docs/troubleshooting/monitoring.md) by deleting all the `cattle-monitoring-system` related pods

* Can recover the r

[2022-07-20 08:14] #2243 closed, assigned to TachunLin, w13915984028

[2022-07-20 09:28] TachunLin opened #2542 "[BUG] [backport 1.0] Can't display dashboard page, keep in the Loading state after finishing first time login"
**Describe the bug**

After iso installing harvester and login.
The dashboard display empty page and keep in `Loading` state after first time login
![image](https://user-images.githubusercontent.com/29251855/179945542-647c112a-0563-4bc5-90a8-19aec200a416.png)

**Reproduce rate**
* Attempts/failure: 3/3 (100%)

**To Reproduce**
Steps to reproduce the behavior:
1. ISO install one node harvester
2. C

[2022-07-20 09:51] gusraggio opened #2543 "[FEATURE] Numa Awareness"
**Is your feature request related to a problem? Please describe.**
Some workloads need numa awareness capabilities. On k8s this is covered by: https://kubernetes.io/docs/tasks/administer-cluster/topology-manager/

Some of the numa awareness related capabilities but not exclusively are:
- NUMA-IO Affinity
- Cpu and Ram Affinity

**Describe the solution you'd like**

**Describe alternatives you've c

[2022-07-20 10:02] gusraggio commented on #2305
This is needed in telco use case. Also related to this but different is CPU prioritization some VMs, need to be prioritized to others but dont need a CPU assigned to a VM.

For example, if the server is overloaded prioritized VMs should be respected. Do we need a separeted issue?

[2022-07-20 10:04] Captured77 opened #2544 "Upload image failed"
App mode harvester, when I upload image from local.Waiting for 5 minutes, server response this error "timeout waiting for backing image data source to be ready". I look in this words in harvester code. I find this error from function “waitForBackingImageDataSourceReady”. In k8s cluster, I don't find this resource. why?

I want to know How to upload image by harvester?

[2022-07-20 10:23] n313893254 commented on #2542
Hi, @TachunLin. It is caused by the UI version doesn't match Harvester's version. You could change the ui-index to `https://releases.rancher.com/harvester-ui/dashboard/release-harvester-v1.0/index.html` as the Harvester is v1.0. The difference between v1.0 Harvester and v1.1 Harvester is that Longhorn is a different version. The API change would affect the storage data on the dashboard page. Here

[2022-07-20 11:19] w13915984028 commented on #2544
Harvester uses Longhorn as the backend storage. When uploading image, it waits Longhorn to prepare, then does the uploading.

Per your description, does your `App mode harvester` has proper setting of storage?, or check your `stroageclass` via `kubectl`.

[2022-07-20 11:34] w13915984028 commented on #1914
@FrankYang0529 thanks, it meets our analysis.

I would suggest we enhance it via:
(1) add `modify` network ability to the UI, user can modify instead of `remove+add`.  (if this is possible)
(2) add note and guide to `Harvester Doc`, that `change` VM network needs special care, to keep the `MAC` unchanged.

@guangbochen

[2022-07-20 15:57] slickwarren opened #2546 "[BUG] Harvester Cloud Provider is not able to deploy upgraded container after upgrading the cluster"
**Rancher Server Setup**
- Rancher version: v2.6.7-rc3
- Installation option (Docker install/Helm Chart): docker
   - If Helm Chart, Kubernetes Cluster and version (RKE1, RKE2, k3s, EKS, etc):
- Proxy/Cert Details:

**Information about the Cluster**
- Kubernetes version: v1.23.8+rke2r2 -> 1.23.9-rc3+rke2r1
- Cluster Type (Local/Downstream): downstream
   - If downstream, what type of cluster? (Cus

[2022-07-20 19:05] irishgordo commented on #2546
@slickwarren I was able to also see that the `harvester-cloud-provider-UUID` container was stuck in a `ContainerCreating` state.

Example:
[code]

## Setup:
### Rancher Node:
SuperMicro Bare Metal Intel Atom, 4 Core, 4 GiB DDR3 RAM
Rancher Version, installed with Helm: **v2.6.7-rc3**
### Harvester Node:
Dell PowerEdge R720, Intel Xeon 20 Core, 64 GiB DDR3 ECC RAM
Harvester Version: **master-aa3d95

[2022-07-20 23:11] ibrokethecloud commented on #2513
This was caused due to the prometheus pod waiting for a pvc attachment.
[code]

The actual pvc was degraded.
[code]

The pvc had only one replica available

[code]

The associated manager was not functioning.
[code]

The logs were full of repeating error messages:

[code]

This seemed exactly like:  https://github.com/longhorn/longhorn/issues/3636

As configured my @himslm01 the load average was o

[2022-07-21 02:06] TachunLin commented on #2542
By changing the ui-index in settings to https://releases.rancher.com/harvester-ui/dashboard/release-harvester-v1.0/index.html for Harvester v1.0.
Then Harvester can display dashboard page correctly. Close this issue.
![image](https://user-images.githubusercontent.com/29251855/180113623-4b60944d-8a7f-4366-b39d-325015462c0a.png)

### Test Information
* Test Environment: 1 node harvester on local kvm

[2022-07-21 02:06] #2542 closed, assigned to n313893254, TachunLin

[2022-07-21 02:08] Captured77 commented on #2544
Is this storageclass？

apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  annotations:
    longhorn.io/last-applied-configmap: |
      kind: StorageClass
      apiVersion: storage.k8s.io/v1
      metadata:
        name: longhorn
        annotations:
          storageclass.kubernetes.io/is-default-class: "true"
      provisioner: driver.longhorn.io
      allowVolumeExpansion: true
      r

[2022-07-21 02:52] Captured77 commented on #2544
I need install harvester-node-disk-manager?

[2022-07-21 06:26] tjjh89017 commented on #2469
@johntron Could you help to add some details about Reproduce Step?
For example, could you add node ID for those steps. (on some other nodes(s) -> Node A, Node B)

Will you use same config or same VIP/IP setup in new cluster while old cluster is still alive?
Thanks a lot

[2022-07-21 06:36] bk201 opened #2547 "[FEATURE] Perform e2e tests on stable branches periodically"
**Is your feature request related to a problem? Please describe.**

We have daily e2e tests on the `master` branch, we need to enable tests on the `v1.0` branch as well, since `v1.0` is a maintenance branch.

**Describe the solution you'd like**

Add the tests to CI.

**Describe alternatives you've considered**

**Additional context**
Need support from automation QA test.

[2022-07-21 09:40] WuJun2016 commented on #2219
Already fixed in upstream [pr](https://github.com/rancher/dashboard/pull/6136)，     @irishgordo , can you help verify this?  thanks

[2022-07-21 12:20] crazyelectron-io opened #2549 "[BUG] RKE2 cluster nodes log flooded with warnings about tainted node"
**Describe the bug**
The log for RKE2 Kubernetes nodes deployed through the Rancher UI is flooded with the same message:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install at least one Harvester node.
2. Create an RKE2 cluster with 3 nodes for `etcd` and `control plane` (in pool 1) and 3 worker nodes (in pool 2). Use defaults for all optional parameters. Use the Debian 11.3 cloud

[2022-07-21 12:35] crazyelectron-io commented on #2458
@Vicente-Cheng works for me... :-)
Since I also learned about the Harvester CSI driver, I figured it would be best for my setup to add the SSDs to the Harvester hosts and create Longhorn volumes to be used in the RKE2 Cluster nodes/pods through the Harvester CSI driver which is now installed by default. But since the documentation about using the driver is a bit 'dense' I could need some pointers.

[2022-07-21 13:13] janeczku commented on #2522
@futuretea @guangbochen

It seems unexpected that Harvester is automatically applying memory limits to the VMI: Normally, the memory limit is a user controlled parameter in Kubevirt.

If Harvester wants to be in control of the memory limit, then it must properly calculate the overhead required to avoid OOM killer.

Currently, Harvester uses a hardcoded overhead of 100MiB for the qemu process. Clea

[2022-07-21 13:33] w13915984028 commented on #2549
The taint is caused by `custom-ga-command`, it means `custom guest agent control commands issued`.

Please check the VM (which hold the RKE2 guest client) in Harvester, check which `qemu guest agent` is used.
`https://docs.harvesterhci.io/v1.0/vm/create-vm/#installing-the-qemu-guest-agent`

Or use `kubectl get vm -A -o JSON` againt the Harvester cluster.

libvirt/src/conf/domain_conf.c

[code]

[2022-07-21 13:48] KarlSK8 commented on #2517
Hi @w13915984028,
So will the alert-manager be available soon in harvester?

[2022-07-21 14:14] guangbochen commented on #2522
Actually, the resource limits are configured by the users, and the requests are automatically set by the Harvester webhook in combination with the [overcommit configs](https://docs.harvesterhci.io/v1.0/settings/settings/#overcommit-config).

The guest memory is reserved with 100MiB by default and can be configured manually in the advance tab as u have described above, for most Linux VMs the defaul

[2022-07-21 14:26] Martin-Weiss commented on #2522
For memory overcommit I highly recommend 100% or less as default. Keep in mind that an "OOM" kill for a VM is basically data-loss.

What means "most Linux VMs"? Can you give details which Linux VMs are on risk?

Why don´t we see this proplem when we use KVM natively?

How can the user know / calculate how much additional memory he needs to deduct from the OS / reserve for qemu etc.?
Could we chang

[2022-07-21 15:45] mantis-toboggan-md commented on #2219
Sorry for the confusion @WuJun2016 , https://github.com/rancher/dashboard/pull/6136 adds field-level validation capabilities but does not implement that for provisioning clusters. PR to validate provisioning cluster `metadata.name` is here: https://github.com/rancher/dashboard/pull/6438

[2022-07-21 17:43] crazyelectron-io commented on #2549
I will check this soon, but right now I have a bigger issue with a VM I just configured with multiple containers and volumes that completely crashed and refuses to boot at all, just before I was ready to take a backup of the VM... ;O)
So, I'm trying to figure out how to access that disk from another VM first (so far, no luck).

[2022-07-21 18:57] crazyelectron-io opened #2550 "[Question] How to access/mount VM volume of crashed VM from other VM"
I just installed and configured several containers and volumes in a VM on a Harvester node (1.0.2). It worked fine for a day but just before I was about to create a backup of the VM it crashed and doesn't boot anymore.
After a long delay, it ends with `No root device specified. Boot arguments must include a root = parameter.` and  a prompt `(initramfs)`.

When typing `exit` I get the following:
[c

[2022-07-21 20:17] scan-dev opened #2551 "[BUG] Unable to add addition disks on Host"
**BUG Description:**

I have the following baremetal node with following disk config:

[code]

I want to extend default disk (/dev/sdb) with sdc and sdd so to have all disk capacity available

I followed this instructions :
[https://docs.harvesterhci.io/v1.0/host/host/#multi-disk-management-tech-preview](https://docs.harvesterhci.io/v1.0/host/host/#multi-disk-management-tech-preview)

**Reproduce*

[2022-07-21 20:22] scan-dev commented on #2551
[supportbundle_e5052400-6aee-4b82-9628-009ac31b8e5c_2022-07-21T20-19-38Z.zip](https://github.com/harvester/harvester/files/9162551/supportbundle_e5052400-6aee-4b82-9628-009ac31b8e5c_2022-07-21T20-19-38Z.zip)

[2022-07-21 21:47] w13915984028 commented on #2550
Please generate a supportbundle first, it will include as more information as possible.

https://docs.harvesterhci.io/v1.0/troubleshooting/harvester/#generate-a-support-bundle

[2022-07-21 22:23] tlehman commented on #992
@A-vesalius what network hardware are you using?

[2022-07-22 03:08] Vicente-Cheng commented on #2551
Hi @scan-dev,

It seems both of your disks `sdc` and `sdd` have partition.
UI would not allow adding disk with partition.  (Thanks @n313893254 confirm that)

Maybe you could try to manually remove whole partitions on both `sdc` and `sdd` and then try to add them again?

https://docs.harvesterhci.io/v1.0/host/host/#multi-disk-management-tech-preview
You could try to read the above reference and try

[2022-07-22 04:23] WuJun2016 commented on #2219
Because v1.0.3-rc1 has been cut, so it was moved to v1.1.0.

[2022-07-22 06:24] chrisho commented on #2546
After testing, we found that the Cluster Config UI page will submit `cloudPathConfig` to the backend when adding a guest cluster, and this request parameter is missing when editing, the frontend is being fixed.

add:
![image](https://user-images.githubusercontent.com/3347460/180376442-39414e4a-39cf-466f-9b63-fbd4d574d3a3.png)

edit:
![image](https://user-images.githubusercontent.com/3347460/180376

[2022-07-22 08:17] crazyelectron-io commented on #2550
Since I needed that system up and running one way or the other, I was fiddled around and ended up recreating the VM (now with immediate backup).
Next time I will directly create a support bundle if an issue occurs. For now, I'll close this issue.

[2022-07-22 08:17] #2550 closed, assigned to nobody

[2022-07-22 08:22] janeczku commented on #2522
Configuring 256MiB in the VM Advanced Options->Reserved Memory option seems **not sufficient** to mitigate the crash issue. I will try with a higher value.

<img width="816" alt="image" src="https://user-images.githubusercontent.com/3813921/180396648-34c94f44-93bd-45c9-aee6-c48342e60900.png">

[2022-07-22 08:31] TachunLin commented on #2524
Verified **fixed** on v1.0-483ee6b3-head (7/21). Close this issue.

### Result
After the HTTP proxy is configured, we can upload image from local file correctly without error
  ![image](https://user-images.githubusercontent.com/29251855/180394751-7c764a98-b83b-4381-b9dd-7181e8eab90a.png)
  ![image](https://user-images.githubusercontent.com/29251855/180396275-b9c7f187-0b66-499a-aea9-2de66e4681c2.pn

[2022-07-22 08:31] #2524 closed, assigned to futuretea, TachunLin

[2022-07-22 09:18] TachunLin commented on #2436
Verified **fixed** on master-1c060275-head (7/21). Close this issue.

### Result
After the HTTP proxy is configured, we can upload image from local file correctly without error
  ![image](https://user-images.githubusercontent.com/29251855/180407064-80c164ff-a46c-413d-ba8b-2a1bea023227.png)
  ![image](https://user-images.githubusercontent.com/29251855/180407214-0600cee9-28ce-46bd-b177-4f0151a5963b.

[2022-07-22 09:18] #2436 closed, assigned to futuretea, TachunLin

[2022-07-22 09:33] guangbochen opened #2552 "[Doc] Impact of a Harvester cluster loosing the majority of control plane nodes (e.g. due to a power outage)"
**Is your feature request related to a problem? Please describe.**
What is the immediate impact of a Harvester cluster losing the majority of control plane nodes (e.g. due to a power outage) ? Does Harvester auto-recover the cluster once the nodes are back online? If not, what are the manual steps to recover the cluster?

**Describe the solution you'd like**
Need to add a doc/KB article to describ

[2022-07-22 09:52] w13915984028 commented on #1781
connect with https://github.com/harvester/harvester/issues/2517

[2022-07-22 11:17] TachunLin commented on #2384
Verified **fixed** on Harvester `v1.0-483ee6b3-head` (07/22) with Rancher `v2.6.7-rc3` Close this issue.

The enhancement focus on using external cloud credential with Node scheduling` selector and `Pod scheduling` selector to deploy guest VM to specific node

### Test Result

- [x] **Can** deploy guest RKE1 cluster vm to specific Harvester node matching the `node scheduling` and `pod scheduling`

[2022-07-22 11:17] #2384 closed, assigned to chrisho, DaiYuzeng, futuretea, TachunLin

[2022-07-22 12:44] tacerus opened #2553 "[FEATURE] Support for Ignition and/or Combustion"
**Is your feature request related to a problem? Please describe.**

Some operating systems, for example SLE Micro, no longer ship with support for Cloud-Init.

**Describe the solution you'd like**

It would be nice if, in addition to Cloud-Init, configuration of guests could be performed using Ignition or Combustion.

**Describe alternatives you've considered**

If direct support for Ignition and/

[2022-07-22 16:38] noahgildersleeve commented on #2525
All of the base cases are failing due to https://github.com/harvester/harvester/issues/2057 and https://github.com/harvester/harvester/issues/2526 . After I changed the disk type for the root disk and changed the ISO drive back to CDROM they installed.

I did see some crashing depending on system configuration, but was unable to figure exactly what the repro steps/configuration were in regards to

[2022-07-22 16:38] #2525 closed, assigned to noahgildersleeve

[2022-07-22 18:25] wjimenez5271 opened #2554 "[FEATURE] Display CDP and LLDP from attached switches in Harvester"
This is a REF for Harvester to display CDP (Cisco Discovery Protocol) and LLDP (Link Layer Discovery Protocol) information from attached switches within Harvester similar to VMware's showing of information within vSwitch.  Reference: https://www.provirtualzone.com/enable-link-layer-discovery-protocol-lldp-in-vswitch/

[2022-07-22 18:27] alexdepalex commented on #2554
We're currently gathering this in a different way, but exposing this through the UI / labels would be awesome.

[2022-07-22 19:05] irishgordo commented on #2336
## Testing Setup:
- ran `make` via `harvester-installer` on `commit 01d120018139c4cf58aba50132b5c10b7f1b92bb (HEAD, tag: v1.0.3-rc1, upstream/v1.0)`, manually building iso, which held the commits for PR (Bump rke2 to v1.22.12-rc3+rke2r1, and others)
- tested via QEMU/KVM, 24354MiB, 8CPU Box, 150GB Disk, with built .iso

## Results:
- Wasn't able to notice in 30min+ of running any OOM (out of memor

[2022-07-22 19:12] irishgordo commented on #2336
## Additional
- There are currently running e2e regression tests, if nothing suspicious shows up when those e2e regression tests finish then we can close this out :smile:

[2022-07-23 05:28] #2505 closed, assigned to nobody

[2022-07-23 05:54] crazyelectron-io opened #2556 "[BUG] kubectl on host gives permission denied / command not found"
**Describe the bug**
After installing 3 Harvester nodes I started an SSH session to run `kubectl`. When run without `sudo` it gives a permission denied error on `/etc/rancher/rke2/rke2.yaml`. When running the command with `sudo` it gives a command not found error.
So, either the PATH should be adjusted during installation or the access rights of the RKE2 yaml-file should be adjusted.

I run Harves

[2022-07-23 06:00] crazyelectron-io opened #2557 "[BUG] VM won't start after adding volume"
**Describe the bug**
I created a VM in Harvester, based on Debian 11.3 cloud image, and installed some software. After adding an extra volume through the UI, the VM reboots and never comes back.
The Serial and VNC Console stay blank and the state remains 'starting' forever.

**Environment**
 - Harvester ISO version: 1.0.2
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630): Bare

[2022-07-23 17:56] noahgildersleeve commented on #2336
The regression tests passed, and I checked the cluster afterwards (bare metal 4 node setup). The autoscaler didn't restart during the test or for 20 hours after deployment. I'm closing this as fixed. We can keep an eye out during testing for the v1.0.3 release.
![Greenshot 2022-07-23 10 54 53](https://user-images.githubusercontent.com/83787952/180617233-3a771c38-2ec9-485c-a046-fa4235538fe7.png)

[2022-07-23 17:56] #2336 closed, assigned to FrankYang0529

[2022-07-25 02:53] guangbochen commented on #2216
close as the doc is added via https://docs.harvesterhci.io/v1.0/install/requirements.

[2022-07-25 02:53] #2216 closed, assigned to yaocw2020

[2022-07-25 05:14] Martin-Weiss commented on #2216
I believe this is wrong: „Typically, all outbound traffic will be allowed.“ users / customers do not have a change to open all outgoing traffic so this needs to be specified, too. (Is DNS and NTP sufficient?)

[2022-07-25 08:00] tacerus commented on #2070
It would be fantastic if Harvester would take compressed images. Especially Tar compression support would help downloading images directly from OBS without having to download them to an intermediary computer running an X server first.

[2022-07-25 08:06] n313893254 commented on #1986
Requires backend help. The harvester-public namespace should not be edited on the namespace page. Thus UI can filter the namespace select options by `links.update`. Feel free to assign me again when the backend is ready.

[2022-07-25 09:34] TachunLin commented on #2546
Verified **fixed** on Harvester `v1.0.2 GA` with Rancher `v2.6.7-rc3`. Close this issue.

### Result
After upgrading the existing RKE2 guest cluster kubernetes version from older `v1.23.8+rke2r1` to `1.23.9-rc3+rke2r1`.
The Harvester cloud provider can successfully updated from `v0.1.3` to `v0.1.4`

Cloud provider before upgrade: v0.1.3
  ![image](https://user-images.githubusercontent.com/29251855

[2022-07-25 09:35] #2546 closed, assigned to chrisho, slickwarren, n313893254, TachunLin

[2022-07-25 09:37] lanfon72 commented on #1274
not reproduced in regression testing.

[2022-07-25 10:07] WuJun2016 commented on #2510
@guangbochen   When I first configure an incorrect address, an error message appears, then I configure a correct address, the cluster is imported correctly, but the error message does not disappear.
![image](https://user-images.githubusercontent.com/24985926/180752498-20adf096-0763-4aa9-9788-6189159a6551.png)

[2022-07-25 10:26] TachunLin commented on #2053
Encounter the similar issue during upgrade from v1.0.2 GA to v1.0.3-rc1.

* One of the node stuck in the `Pre-drained` status
![image](https://user-images.githubusercontent.com/29251855/180755575-fe11b431-9a27-43cf-95d4-865ec3b700e9.png)

* Support bundle:
[supportbundle_3a37fcaf-3ae7-4496-ae58-4efe0e3e7d61_2022-07-25T10-19-54Z.zip](https://github.com/harvester/harvester/files/9180257/supportbundl

[2022-07-25 10:35] w13915984028 opened #2558 "[BUG] Harvester POD has a high CPU usage"
**Describe the bug**

The `harvester` POD takes roughly 1 cpu, nothing specil in the log.

![image](https://user-images.githubusercontent.com/31133476/180756525-ee18dee2-99d5-43f6-977c-211d29ab9a9a.png)

![image](https://user-images.githubusercontent.com/31133476/180756587-09c6520f-b849-4e38-9446-fd674d75606c.png)

Inside the POD, it shows `harvester` process is very busy.
[code]
There is no flood

[2022-07-25 12:07] w13915984028 commented on #2558
In debugging this issu, I found it is caused by below API.

https://github.com/rancher/dynamiclistener/blob/master/listener.go#L167

[code]
Though I am not fully sure how this issue is produced, but when such condition is met, the WrapExpiration indeed causes deadloop.

It is tracked with https://github.com/rancher/dynamiclistener/issues/63

[2022-07-25 12:13] w13915984028 commented on #2558
In Harvester startup log, has following info:

[code]

With debug, it showed
[code]

With debug
[code]
it showed
[code]
The `Harvester` process in the POD, is forced to `runtime.Gosched()`, even though there is noting to do.

It causes CPU to be 100%, but from the LOG, we did not find any controller/CRD is abnormal.

[2022-07-25 12:15] w13915984028 commented on #2558
workaround, as following, the CPU is not busy anymore

[code]

[2022-07-25 12:18] TachunLin commented on #1707
After testing the upgrade from `v1.0.2` to `v1.0.3-rc1`, we did not encounter upgrade stuck for VM migration.
Close this issue.

### Result
* Can upgrade correctly
  ![image](https://user-images.githubusercontent.com/29251855/180775238-c1ee13f7-d117-4f26-aefa-369fefd3ce2b.png)
* All VMs are shutdown after upgrade
![image](https://user-images.githubusercontent.com/29251855/180775359-2b9fb6e2-f974-4

[2022-07-25 14:46] lanfon72 opened #2559 "[BUG] Backup unable to be restored and the VM can't be deleted"
### Describe the bug
VM hanging on `restoring` state and can not be removed.

### To Reproduce
Steps to reproduce the behavior:
1. Install Harvester with any nodes
2. Login to Dashboard then navigate to _Advanced/Settings_, setup `backup-target` with NFS or S3
3. Create Image for VM creation
4. Create VM `vm1`
5. Take backup from `vm1` as `vm1b`
6. Take backup from `vm1` as `vm1b2`
7. Click **Edit

[2022-07-25 15:12] lanfon72 opened #2560 "[BUG] VM hanging on restoring state when backup-target disconnected suddenly"
### Describe the bug
When restoring a VM and the backup-target suddenly disconnected, the VM will hang on `restoring` state and can not be deleted.

### To Reproduce
Steps to reproduce the behavior:
1. Install Harvester with any nodes
2. Login to Dashboard then navigate to _Advanced/Settings_, setup `backup-target` with NFS or S3
3. Create Image for VM creation
4. Create VM `vm1`
5. Take Backup `v

[2022-07-25 15:17] w13915984028 opened #2561 "[FEATURE] Support diskbus type IDE"
**Is your feature request related to a problem? Please describe.**

Diskbus type `IDE` is not supported, but it is useful as described in

https://github.com/kubevirt/kubevirt/issues/8175

**Describe the solution you'd like**

Qemu supports IDE. Wait `kubvirt` to support it, then import it to Harvester.

**Describe alternatives you've considered**

**Additional context**

[2022-07-25 15:32] lanfon72 commented on #2560
update to `reproduce/often` because I can delete the VM sometimes.

[2022-07-25 15:35] lanfon72 commented on #2559
update to `reproduce/often` because I can delete the VM sometimes.

[2022-07-25 15:49] lanfon72 opened #2562 "[BUG] Image's labels will not be copied when execute Clone"
### Describe the bug
When cloning Image, all labels will lost.

### To Reproduce
Steps to reproduce the behavior:
1. Install Harvester with any nodes
2. Create a Image via URL
3. Clone the Image and named `image-b`
4. Edit Config of `image-b`, there is no labels be cloned in _Labels_ tab

### Expected behavior
Consider that user can add other labels, all labels should be cloned to new image.

## E

[2022-07-25 16:11] scan-dev commented on #2551
deleting the partition solved my problem and was able to add disks as documented.
why the disk were partitioned is strange as I installed the hosts with default iso installer.

maybe feature to have more disk-mgmt steps avaialble in the UI (like delete existing partitions)

grts

[2022-07-25 19:53] irishgordo opened #2563 "[BUG] harvesterhci.io.virtualmachineimage spec.displayName displays differently in single view of image"
**Describe the bug**
The `harvesterhci.io.virtualmachineimage` 's `spec.displayName` displays differently in the list view of images and in the single view of the image.  It looks like the image's `spec.displayName` doesn't currently implement [RFC 1123 Kubernetes naming](https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names).

**To Reproduce**
Steps to reproduce the behav

[2022-07-25 22:17] irishgordo commented on #2528
Hi @tjjh89017 ,
I was digging into trying to reproduce this with Harvester v1.0.2.

### My Current Setup
Harvester v1.0.2 running KVM/QEMU:
- 12vCPUs
- 24531 MiB

### The VM Setup
- http://cloud-images-archive.ubuntu.com/releases/focal/release-20200423/ (Focal Fossa) Ubuntu Cloud Image (focal-server-cloudimg-amd64-disk-kvm.img)
- 4 CPU
- 8 Gi Memory
- 1 50GB Disk with CloudImg
[code]

### During R

[2022-07-26 00:05] tjjh89017 commented on #2528
@irishgordo You should execute `journalctl -b -f` command in harvester node.

[2022-07-26 00:12] irishgordo commented on #2528
@tjjh89017 Oh!
Thank you for that clarification, I thought maybe that was meant to be executed on a VM instead :sweat_smile: - I'll go through and test this now

[2022-07-26 00:56] irishgordo commented on #2528
This looks great :smile: :+1: @tjjh89017 !
- closing this out as it passes validation.

With the same setup from above running in v1.0.2 & v1.0.3-rc1 I was able to validate that the AppArmor logs are no longer their in v1.0.3-rc1 :smile:
![Screenshot from 2022-07-25 17-51-14](https://user-images.githubusercontent.com/5370752/180899403-c5130e9c-33f7-4739-87d4-4ed097b24f41.png)
You can see the v1.0.

[2022-07-26 00:56] #2528 closed, assigned to tjjh89017

[2022-07-26 01:16] #1707 closed, assigned to bk201, TachunLin, noahgildersleeve

[2022-07-26 01:51] tjjh89017 opened #2565 "[FEATURE] Bump Elemental-Toolkit Elemental-CLI"
**Is your feature request related to a problem? Please describe.**

Bump Elemental-Toolkit Elemental-CLI

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

- os2 related
    - Luet quay.io/costoolkit/releases-teal is not always the newest
        - need to pin reference
- harvester-installer related
    - harv-install needs changes
        -

[2022-07-26 02:39] mallardduck commented on #2402
Am i following correctly that this enhancement should be included in 1.0.3 when that's released?

[2022-07-26 03:22] guangbochen commented on #2402
We will probably doing the console UI display enhancement in v1.1.0 since the current one has already provided the correct information, let me know if u have any additional concerns, thanks.

[2022-07-26 03:50] guangbochen commented on #2551
Reopen the issue since we can make some further improvements on this one with:
1. Add a proper message to the UI if a partitioned disk can't be added as additional disks directly.
2. (To discuss/investigate) add an additional action to allow users to remove the disk partitions directly through the UI.

[2022-07-26 06:42] yaocw2020 commented on #2216
@Martin-Weiss For example, if a new TCP connection from one node to another happens, the OS will select a random port as the source port, which is the reason why said: "Typically, all outbound traffic will be allowed".

[2022-07-26 06:54] TachunLin opened #2566 "[BUG] Unable to provision RKE2 cluster in Kubernetes v1.24.2+rke2r1, stuck in waiting for probes: calico, kube-controller-manager"
**Describe the bug**

Can't finish the RKE2 provisioning on kubernetes version `v1.24.2+rke2r1`.
Stuck in the `waiting for probes: calico, kube-controller-manager`
  ![image](https://user-images.githubusercontent.com/29251855/180938051-32f75a22-3d29-4b88-b057-bae1e195ea1b.png)
  ![image](https://user-images.githubusercontent.com/29251855/180938525-57dc4ba9-bb20-44f9-a7e7-f8983594e1a9.png)

**To Re

[2022-07-26 06:56] DaiYuzeng opened #2567 "[BUG]Local cluster owner create Harvester cluster failed(RKE2)"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Create Rancher standard user with `local` cluster owner
2. Go to create Harvester cluster credential
3. Go to create Harvester cluster (RKE2)
4. Select the credential just created
5. Get node resources failed, throw 500 error code
6. Typology select is empty, can not add pod affinity

**Expected behavior**

Typology filed

[2022-07-26 07:54] TachunLin commented on #2566
After clean up all active cluster and retry on the same environment.
Then I could provision RKE2 cluster correctly on `v1.24.2+rke2r1`.
![image](https://user-images.githubusercontent.com/29251855/180952931-0e75269c-8bc8-41c9-b1ba-df3b5bc0c3d5.png)

The original symptom may caused by network or Interference existence.
Thus I would close this issue.

[2022-07-26 07:54] #2566 closed, assigned to nobody

[2022-07-26 08:31] WuJun2016 commented on #2563
~@irishgordo  The displayName is now verified using the rules of RFC 1123~

[2022-07-26 11:39] WuJun2016 opened #2569 "[BUG] Press the Enter key, the page will be refreshed automatically"
**Describe the bug**

Press the Enter key, the page will be refreshed automatically

**To Reproduce**
Steps to reproduce the behavior:
1. go to setting page
2. edit `cluster-registration-url` setting.   (The same problem exists with `ui-index`， `upgrade-checker-url`， `support-bundle-timeout`)
3. Focus the mouse on the input box
4. Press enter   key（The page will refresh）

https://images.zenhubuser

[2022-07-26 16:16] lanfon72 opened #2570 "[BUG] VM Serial Console hang up when rebooting"
### Describe the bug
VM's serial console will hang up randomly.

![image](https://user-images.githubusercontent.com/5169694/181056437-f1eec5f1-7963-4e21-af99-2e9d750f740e.png)

### To Reproduce
Steps to reproduce the behavior:
1. Install Harvester with any nodes
2. Create Image for VM creation
3. Create VM `vm1` and start it
4. Open Serial Console
5. Restart the VM via `Restart` Button or execute

[2022-07-26 17:55] tacerus opened #2571 "[BUG] UI does not indicate which field violates RFC 1123"
**Describe the bug**
Upon creation of a VM, the user may get presented with an error:

`admission webhook "virtualmachine-validator.kubevirt.io" denied the request: a lowercase RFC 1123 label must consist of lower case alphanumeric characters or '-', and must start and end with an alphanumeric character (e.g. 'my-name', or '123-abc', regex used for validation is '[a-z0-9]([-a-z0-9]*[a-z0-9])?')`

[2022-07-26 19:18] noahgildersleeve opened #2572 "[BUG] Websocket connection issues with Harvester Rancher integration"
**Describe the bug**

You get continued websocket errors from Rancher while navigating the UI and timeouts and errors while doing Harvester related tasks
**To Reproduce**
Steps to reproduce the behavior:
1. Create a single node Rancher Docker instance
2. Create a 3 node harvester instance
3. Import Harvester into Rancher
4. Try to create a RKE cluster

**Expected behavior**

You shouldn't get erro

[2022-07-26 19:30] slickwarren opened #2573 "[BUG] Virtualization Management `...` does not have available options -> cluster owners should be able to edit / view the yaml of virtualization management clusters"
**Rancher Server Setup**
- Rancher version:v2.6.7-rc3
- Installation option (Docker install/Helm Chart): docker
   - If Helm Chart, Kubernetes Cluster and version (RKE1, RKE2, k3s, EKS, etc):n/a
- Proxy/Cert Details:n/a

**Information about the Cluster**
- Kubernetes version:any
- Cluster Type (Local/Downstream): downstream
   - If downstream, what type of cluster? (Custom/Imported or specify prov

[2022-07-26 19:41] slickwarren opened #2574 "[BUG] Virtualization Management has no option to delete cluster(s) from rancher"
**Describe the bug**
there is no option to delete a cluster through virtualization management

**To Reproduce**
Steps to reproduce the behavior:
1. import a harvester cluster through virtualization management (in rancher)
2. try to delete the cluster

**Expected behavior**
you should have the option to delete a cluster through rancher

**Support bundle**
[supportbundle_06891336-f7b4-4869-8c05-43e7

[2022-07-26 19:53] irishgordo commented on #2563
@WuJun2016 thanks for adding the validation and placeholder to the harvester/dashboard frontend :smile: :+1:

I validated via running dashboard in `yarn dev --spa` with the `.env` file holding the API to my bare-metal Harvester node.
(with last commit being: commit dad3cdf3018990eba34a03ca71ca8c70bd1b849c (HEAD, upstream/release-harvester-v1.0))

As noted validation on harvester/dashboard front-en

[2022-07-27 01:35] WuJun2016 commented on #2563
@irishgordo  I don't think it's necessary to add checks on the backend。     cc @guangbochen you think ?

[2022-07-27 01:58] n313893254 commented on #2573
Hi, @slickwarren. The issue is fixed in v2.6.4-rc4. Here is the related [PR](https://github.com/rancher/dashboard/pull/6397) and [commit](https://github.com/rancher/dashboard/pull/6397/commits/09b873fbd1ff3bda53c1be1e249feb572dff8539).

You could upgrade the rancher server to v2.6.4-rc4 or use the v2.6.4-rc4 ui-dashboard-index.

[2022-07-27 02:15] FrankYang0529 commented on #2560
Hi @lanfon72, thanks for filing the issue. I will add a webhook to prevent user update backup-target when there is any in progressing VMBackup/VMRestore. If you want to simulate network issues, probably you need to cut off network on KVM. It's cause that updating backup-target, LH will try to remove old LH Backup on system.

[2022-07-27 06:26] DaiYuzeng commented on #2567
Hi! @futuretea
I just sent a PR include an enhancement that the typology field will be inputable if the request of getting nodes is failed.

[2022-07-27 06:35] guangbochen commented on #2563
I don't think we should add any RFC1123 validations to the display name since it is designed to be a string value. For the above case, would prefer to fix the UI display name correctly.

[2022-07-27 07:23] w13915984028 commented on #2526
Suggest to add the `workaround` into `Harvester doc`, e.g. `troubleshooting`.

[2022-07-27 07:53] n313893254 commented on #2572
The issue can be reproduced by the following steps:

1. Deploy a rancher server by docker run
2. Access the rancher UI
3. Remove the rancher server and deploy the same version rancher server, make sure to use the same endpoint
4. Refresh the Rancher UI, which will require resetting the password
5. Websocket can not connect succeed

The workaround can be clear the browser cache ~~or use the helm ch

[2022-07-27 08:18] futuretea commented on #2567
panic in Harvester rancher pod：
[code]

[2022-07-27 08:21] masteryyh opened #2577 "[BUG] Boot in EFI mode not selected when creating multiple VM instances using VM template with EFI mode selected."
**Describe the bug**
I created a VM template and selected **Boot in EFI mode**. When creating instances the UI shows **Boot in EFI mode** selected but after that VM boots with legacy BIOS mode, and EFI mode checkbox was not checked, and there is no /sys/firmware/efi present.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to **Template**, create a VM template with **Boot in EFI mode** sel

[2022-07-27 08:28] WuJun2016 commented on #2563
@irishgordo  The frontend removed the RFC1123 validate and now handles the display of the html.
<img width="1491" alt="image" src="https://user-images.githubusercontent.com/24985926/181199576-1f003343-2ae0-4fec-a7e9-3970c7911243.png">

[2022-07-27 09:30] WuJun2016 opened #2578 "[BUG] When first entering the harvester cluster from Virtualization Managements, some vm's in namespace are not shown in the list"
**Describe the bug**

When the namespace filter is `All Namespace`, all vm's should be displayed

**To Reproduce**
Steps to reproduce the behavior:
1. Create a harvester cluster
2. Create a VM in the `default` namespace
3. Creating a Namespace  (eg: `test-vm`)
4. Import the Harvester cluster in Rancher
5. access to the harvester cluster from `Virtualization Management`
6. click `Virtual Machines`

[2022-07-27 11:54] tgazik opened #2581 "[BUG] 3 nodes setup: VM crashed on running node while 2 nodes are down"
**Describe the bug**
In 3 nodes cluster, when 2 nodes are powered off (hard reset) the VMs on running node should survive. The VM where in time off 2 went down were some data write ongoing crashed and didn`t recovered despite it was running on node, which was not turned off.

**To Reproduce**
Steps to reproduce the behavior:
1. 3 nodes cluster - node01, node02, node03
2. create standart VM (in our

[2022-07-27 12:49] w13915984028 commented on #2581
Harvester has Longhorn as the CSI layer, by default it will have 3 replicas for PVC, in your setup, there are 3 nodes, each node will hold one replica.

When writing data to VM's disk, in the background, the data will be replicated to another 2 replicas (in another 2 nodes) in paralle. Then you forcely power off the other 2 nodes, the onging writing action is broken.

Please generate a support bun

[2022-07-27 12:56] lanfon72 opened #2583 "[BUG] VM Template's default network model is empty"
### Describe the bug
https://user-images.githubusercontent.com/5169694/181250903-91007cea-54e5-4e05-8591-70090411bef4.mp4

### To Reproduce
Steps to reproduce the behavior:
1. Install Harvester with any nodes
2. Create a Image for VM creation
3. Create VM `vm1` via `raw-image-base-template`
4. Navigate to Networks tab, field `Model` should not be empty

### Expected behavior
As it is marked with a

[2022-07-27 13:40] tgazik commented on #2581
Support bundle uploaded to ftp server /incomming/supportbundle_github_issue-2581_ec3d3da9-5634-46d1-aed0-f28845f1da00_2022-07-27T12-58-51Z.zip
VM name used for tests: tg-hatest-dd and tg-hatest2-dd
![image (1)](https://user-images.githubusercontent.com/76015208/181261318-3c8e8231-9980-46b2-ab2a-87cda4d807df.png)

[2022-07-27 13:53] lanfon72 commented on #2503
As this also happened when user update the VM with `Edit as YAML`, update labels to mark it is UI issue.

[2022-07-27 14:18] lanfon72 opened #2584 "[BUG] VM's user data added via Edit as YAML will not display on config tab"
### Describe the bug
When user add/update `userData` or `networkData` by `Edit as YAML`, UI will not display those content.
This would be a bug when user create the VM by YAML, then update it by the form, cloudinit's data will lost.

#2503 should be encountered the same root cause.

### To Reproduce
Steps to reproduce the behavior:

https://user-images.githubusercontent.com/5169694/181270084-b7bb1

[2022-07-27 14:20] lanfon72 commented on #2584
After edit by form, the will not able to start.

![image](https://user-images.githubusercontent.com/5169694/181271040-7b9f192b-c982-40d5-8a53-e62bc2cd0c79.png)

[2022-07-27 15:35] Iliasb opened #2585 "[Question] Kubernetes wont start after removing first node"
Hello everyone,

I recently had to remove the fist node I added to our Harvester cluster.  (Hardware failure)
I was able to put the Node in maintenance mode before removing it from the dashboard.

After removing the node in the dashboard the cluster went down.  VIP address is unavailable.

When I log on to the running nodes it seems that Kubernetes is also down.

[code]
[code]

What is the best wa

[2022-07-27 15:56] w13915984028 commented on #2013
Why the prometheus and grafana `POD` are deleted when rebooting?

Happend to find it in https://github.com/longhorn/longhorn/issues/4302

When Harvester cluster rebooting, LH set `RemountRequestedAt` in `ReconcileVolumeState`, which leads to `handlePodDeletionIfVolumeRequestRemount` calls `kc.kubeClient.CoreV1().Pods(pod.Namespace).Delete`

When rebooting, `kubelet` wait `CSI` to mount the `PVC` t

[2022-07-27 17:10] irishgordo commented on #2563
@WuJun2016  thanks for those edits :smile: !
I've validated that they look good on your branch.
I know harvester/dashboard#392 is still pending getting merged into release-harvester-v1.0 but I've gone ahead and validated on your branch.
![Screenshot from 2022-07-27 10-08-31](https://user-images.githubusercontent.com/5370752/181307917-16292fdf-0aa1-46b6-b52e-7833e988fcce.png)
![Screenshot from 2022

[2022-07-27 21:39] MikeTolkachev opened #2586 "[BUG] prometheus-rancher-monitoring Crashloopbackoff"
prometheus-rancher-monitoring Crashloopbackoff after adding more than 15 nodes

`
level=info ts=2022-07-27T21:17:17.066Z caller=main.go:443 msg="Starting Prometheus" version="(version=2.28.1, branch=HEAD, revision=b0944590a1c9a6b35dc5a696869f75f422b107a1)"
Thu, Jul 28 2022 12:17:17 am | level=info ts=2022-07-27T21:17:17.066Z caller=main.go:448 build_context="(go=go1.16.5, user=root@2915dd495090, d

[2022-07-28 00:20] ibrokethecloud commented on #2586
@MikeTolkachev are you by chance able to provide us a [support-bundle](https://docs.harvesterhci.io/v1.0/troubleshooting/harvester/#generate-a-support-bundle)

[2022-07-28 00:22] ibrokethecloud commented on #2585
@Iliasb how many nodes did you have in your cluster before you removed the first node?

[2022-07-28 01:32] irishgordo commented on #2583
@lanfon72 I was also noticing a few issues with networking, though possibly unrelated, and it may have been due to something on my home lab switch.

I was briefly seeing:
[code]
But after removing the VM and just rebuilding, it was fine.
It's been hard to reproduce since.

Rancher: v2.6.6
Harvester: v1.0.3-rc1
Bare-metal for both

[2022-07-28 04:22] #1640 closed, assigned to ibrokethecloud

[2022-07-28 05:26] guangbochen commented on #2583
When the `model` is not defined it will default to the value `virtio `, however, this will not block users from success creating VMs in the current UI, discussed this with the UI team and prefer to fix it in the v1.1.0.

[2022-07-28 05:30] Martin-Weiss commented on #2581
Is a "double failure" a valid test in a 3 node deployment?
Kubernetes (and due to that harvester) requires the majority of the control plan to be running for any proper functionality.

[2022-07-28 07:24] guangbochen commented on #2572
@noahgildersleeve did u re-deployed the Rancher server to the same node or use the same IP, a `docker run` Rancher will use a self-signed cert and the chrome will not update the subject alt name(SAN) automatically, so u will need to re-enable the cert trust manually again. (Note: Docker run Rancher is not supported for production and users are expecting to use a proper helm install method only.)
<

[2022-07-28 07:56] noahgildersleeve opened #2587 "[BUG] namespace on create VM is wrong when going through Rancher"
**Describe the bug**

When you are creating a new VM via the Harvester UI via Rancher it populates an invalid namespace
**To Reproduce**
Steps to reproduce the behavior:
1. Import Harvester into Rancher
2. Create a restricted admin
3. Log out of admin and log in to restricted admin
4. Navigate to Harvester UI via virtualization management
5. Open virtual machines tab
6. Click create

**Expected be

[2022-07-28 08:01] noahgildersleeve opened #2588 "[BUG] Rancher Harvester RKE1 provisioning is failing with k8s v1.24"
**Describe the bug**

RKE1 and RKE2
**To Reproduce**
Steps to reproduce the behavior:
1. Import Harvester into Rancher
2. Create cloud credentials
3. Create a node template
4. Create a RKE1 cluster

**Expected behavior**

The RKE cluster should provision
**Support bundle**
[supportbundle_e2184c5c-e3fa-4140-8d69-14729e17f224_2022-07-28T07-49-10Z.zip](https://github.com/harvester/harvester/files/920

[2022-07-28 08:33] lanfon72 opened #2589 "[BUG] VM's Reserved Memory field will reload old value automatically"
### Describe the bug

https://user-images.githubusercontent.com/5169694/181459759-9930ab98-afbb-40b9-a417-0a41c170929c.mp4

### To Reproduce
Steps to reproduce the behavior:
1. same as the video record

### Expected behavior
Field value should be able to input new value.

## Environment:
 - Harvester ISO version: **v1.0.3-rc1**
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630)

[2022-07-28 08:37] w13915984028 commented on #2586
It's highly possible that the `prometheus` POD reachs the resource limit and is killed due to OOM.

Please set a proper resrouce limits for `prometheus`, the more `hosts`, the more resources are needed. e.g. set memory limit to `2Gi` in your setup,  observe it and adjust accordingly. Thanks.

https://docs.harvesterhci.io/v1.0/monitoring/monitoring/#change-resources-setting-of-monitoring

[2022-07-28 08:39] lanfon72 commented on #2589
The VM is created via `windows-iso-image-base-template`, field **OS Type** was empty but fill **Linux** automatically.

[2022-07-28 10:38] TachunLin opened #2590 "[BUG] Unable to provision RKE2 cluster from external Harvester cloud credential"
**Describe the bug**

Unable to provision RKE2 cluster with external Harvester cloud credential
It stuck in `waiting for cluster agent to connect`
![image](https://user-images.githubusercontent.com/29251855/181463626-84628c2a-3a58-4e6f-8c16-2b9c95fd41c1.png)
![image](https://user-images.githubusercontent.com/29251855/181464248-d2e14aea-cf67-4e86-af36-6e283add8cd1.png)

**To Reproduce**
Steps to re

[2022-07-28 10:45] lanfon72 opened #2591 "[BUG] Namespace pending on terminating"
### Describe the bug
User can delete the namespace having resources(vm/volumes/images) under it, then it will trigger VMs be deleted automatically.
And if there have some resource can not be removed automatically, the namespace will pending on `Terminating` state and can not be recovered.

### To Reproduce
Steps to reproduce the behavior:
1. Install Harvester with any nodes
2. Create a Image in na

[2022-07-28 11:04] lanfon72 commented on #2526
For windows disk, we need to load and install drivers as https://github.com/harvester/harvester/issues/1730#issuecomment-1024014419 mentioned.

Currently, the **vmdp** container in `windows-base-template` not includes windows 2019, so we would need to update the document that they would need to use other driver source such like [virtio](https://github.com/virtio-win/virtio-win-pkg-scripts)

[2022-07-28 11:36] lanfon72 opened #2592 "[FEATURE] update windows-iso-image-base-template configuration"
### The problem
- default `OS Type` is empty, and if not selected, it would be set as `Linux`
- default `Reserved Memory` is empty, as this field will affect Windows VM stability, we should fill in some value and notice users to extend it if their windows VM crash caused by OOM.

### The solution
- Set default `OS Type` to Windows
- Set default `Reserved Memory` to 128 (or 256)