[2022-01-12 08:36] wangpan-hqu opened #1803 "When default cannal CNI plug-in be replaced by cilium，virtual machine can not run normally under VLAN network"
**Describe the bug**

 For some needs, I now want to use cilium instead of Kube proxy
**To Reproduce**
Steps to reproduce the behavior:
1.  delete  kube-proxy compent  by modifying the configuration of rke2 server
2.  clear and save iptables rules
3.  helm  install  cilium
4.  delete ds cannal
5.  virtual machine can run under management network ，but not under vlan network

**Expected behavior**

[2022-01-12 08:42] guangbochen commented on #1767
As an enhancement of windows server 2022 support, we can mitigate it by:
- Allowing users to enable [`Booting in EFI mode`](https://docs.openshift.com/container-platform/4.8/virt/virtual_machines/advanced_vm_management/virt-efi-mode-for-vms.html) directly via adding a new option in the advance tab.
- bump the built-in vmdp container image version to be compatible with the [virtio-win ISO](https://

[2022-01-12 08:45] w13915984028 commented on #1255
The issue is solved/not existing in Harvester v1.0.0 and master-head now.
VM will be rescheduled to other nodes when its current host node goes down, the pre-condition is that the VM´s "Node Scheduling" is "Run VM on any available node" and there are others nodes which can host this VM.

[2022-01-12 09:13] aiwantaozi commented on #1781
Grafana dashboard:
![screencapture-192-168-0-108-api-v1-namespaces-cattle-monitoring-system-services-http-rancher-monitoring-grafana-80-proxy-d-harvester-exporter-harvester-exporter-2022-01-12-17_11_47](https://user-images.githubusercontent.com/5936271/149098456-1c5f4790-c086-4bf0-bccc-5f2d2bc3a80c.png)

[2022-01-12 09:43] TachunLin commented on #1682
Verified **fixed** on master-ebde990d-head on `3 nodes` harvester scenario.

### Result

1. Node IP and VIP remain unchanged before, during and after installation
2. No rancher hostname used during the installation

* **1st node**  -> Before installation, (set host name)
 ![image](https://user-images.githubusercontent.com/29251855/149082826-b6d7cd4e-60d9-4b76-9c0e-fc71ea03973b.png)
 ![image](https

[2022-01-12 09:45] TachunLin commented on #1682
Verified fixed on master-ebde990d-head both single and 3 nodes harvester scenario. Close this issue

[2022-01-12 09:45] #1682 closed, assigned to johnliu55tw, TachunLin

[2022-01-12 09:48] lanfon72 commented on #1778
It seems the feature #1793 not implemented as expected?
![image](https://user-images.githubusercontent.com/5169694/149112139-ea356735-f42a-45ec-8e7d-439d2b8a83e6.png)
![image](https://user-images.githubusercontent.com/5169694/149112326-e35a593f-439a-4ebb-8cd9-561bf3bd490d.png)

Test Information
----
* Environment: **qemu/KVM 3nodes**
* Harvester Version: **master-ebde990d-head**
* **ui-source** Op

[2022-01-12 10:02] bk201 commented on #1778
@lanfon72 #1793 changes the node name in promote script in case there is a mismatch between node name and hostname. It doesn't mean we support changing the hostname.

[2022-01-12 10:16] lanfon72 commented on #1778
@bgulla would you mind to explain your steps to reproduce the case?

[2022-01-12 10:56] TachunLin commented on #1530
@WuJun2016, the original rancher startup page did not happen after several trials of harvester installation.

During the issue reproduction I found something strange:

At harvester first login page, if we press `ctrl+r` to refresh page.
It will show up the page with bootstrap password requirement to proceed.
However we don't know which the password thus the Continue button is greyed out.

I thinks

[2022-01-12 11:22] yaocw2020 commented on #1803
The harvester network controller depends on the flannel(flannel or canal). This issue can be a feature request to support cilium.

[2022-01-12 12:44] Jellyfrog commented on #1444
According to; https://docs.harvesterhci.io/v1.0/install/harvester-configuration/#oshostname
this should already work (but it doesn't)

[2022-01-12 13:33] gitlawr commented on #1654
Yes it's the kube-scheduler [behavior](https://kubernetes.io/docs/concepts/scheduling-eviction/kube-scheduler/#kube-scheduler-implementation). The scheduling scores are not straightforward to check though(https://github.com/kubernetes/kubernetes/issues/101820).

The following statement doesn't seem to be valid in the provided environment.

| name | CPU usage | Memory usage | # of VMs in the defaul

[2022-01-12 14:48] Jellyfrog opened #1806 "[FEATURE] External console viewer support"
**Is your feature request related to a problem? Please describe.**

Currently Harvester supports "Web VNC" and "Serial console"-consoles, I suggest adding support for external console viewers,

Vsphere got it's VMRC
oVirt uses virt-viewer files

**Describe the solution you'd like**

Support for external console viewers, preferably something flexible such as "virt-viewer" (https://gitlab.com/virt-v

[2022-01-12 15:09] w13915984028 commented on #1695
reproduced:
1. volume with massive size
![image](https://user-images.githubusercontent.com/31133476/149165237-c4f91b1f-8fa7-4986-8006-d8c8c0d3454c.png)
2. vm is in "Starting"
![image](https://user-images.githubusercontent.com/31133476/149163669-89767991-d8fa-40a8-8c8a-abeeb58b49b3.png)

3. events reports failure
![image](https://user-images.githubusercontent.com/31133476/149165154-7937f09b-3e6e-4f

[2022-01-12 15:11] w13915984028 commented on #1695
@yasker @guangbochen   :
Any idea about how to deduce the straightforward error message like "insufficient storage" ?

[2022-01-12 15:20] Jellyfrog opened #1807 "[BUG] Terraform ssh_keys and cloudinit collides"
**Describe the bug**

When adding a virtualmachine via terraform (see below for config) and defining both `ssh_keys` and `cloudinit` there is a collision happening somewhere.
In the UI it shows that it added the public key:
![image](https://user-images.githubusercontent.com/759887/149168164-ddebf9cd-4fe6-4c0e-a03f-1ee3efc01c1f.png)
But according the the YAML output, it uses the defined cloudinit c

[2022-01-12 15:47] joshimoo commented on #1695
On the longhorn side we should prevent the volume creation, if there is no node capable of hosting it during the api volume creation call. We could return the Out of Range error, for this case during the CreateVolume csi call.
This evaluation should be done by the backend api creation call.

ref: https://github.com/container-storage-interface/spec/blob/master/spec.md#createvolume-errors

[2022-01-12 16:23] abonillabeeche commented on #1762
@yaocw2020 it sounds like this request may add complexity to kube-vip and may? need a separate/kube-vip infrastructure to support this use case which is absolutely necessary.
ie, an rke2 cluster is deployed on network vlan65, and should solely expose access to that app via the LB on that vlan.

[2022-01-12 16:27] brandond commented on #1497
Disabling a service without --now should not stop it or otherwise affect its operational status. It should just prevent it from being restarted if it crashes, or being started on boot. Can you confirm how you're stopping it, and what you see afterwards?

[2022-01-12 16:29] janeczku commented on #1790
yes, pinging the VM IP addresses from harvester host works fine.

[2022-01-12 16:37] yaocw2020 commented on #1762
How about adding the kube-vip into the rancher marketplace or embedding it into rke2? The kube-vip deployed in the guester cluster will allow users to epose the app via the LB on the VLAN without the route from harvester host to VLAN network.

[2022-01-12 16:41] abonillabeeche commented on #1762
Does this belong into https://github.com/harvester/load-balancer-harvester ?

[2022-01-12 16:43] abonillabeeche commented on #1762
Unfortunately, that approach moves us away from the "Cloud Provider" experience.

[2022-01-12 16:59] yaocw2020 commented on #1762
Because the address of the Harvester load balancer is exposed by the arp broadcasting in the LAN of harvester hosts, if we want to access it from the VLAN network, we should prove the network path `Client in the VLAN network --> Harvester hosts  --> guest cluster in the VLAN network`. It may be out of the scope of the Harvester to configure the network of the client and the guest cluster.

[2022-01-12 17:24] janeczku opened #1808 "[BUG] RKE2 provisioning fails when Rancher has no internet access (air-gapped)"
Rancher 2.6.3
Harvester 1.0.0

**Expected behavior**

The driver binaries of "built-in" node drivers are included in the Rancher release and do not have to be downloaded post-install.

This is the case for other node drivers of type "built-in", such as AWS, Azure, etc.  The `url` field of these node drivers  is set to `"url": "local://",`

**Actual behavior**

In Rancher 2.6.3 the Harvester node d

[2022-01-12 20:28] yasker commented on #1728
I don't recommend using `/var/lib/longhorn`. If the disk contains that directory failed, then we will have a problem since that directory contains Longhorn engine binaries as well. It's better for `/var/lib/longhorn` to be on the root disk but have a separate path for the Longhorn data disk. It's better if we preconfig Longhorn to use a different directory for the default data path (which is doabl

[2022-01-12 20:29] ebauman commented on #1755
Also seeing this issue. 3 node harvester cluster, first node I could add all of the disks. 2nd and 3rd, no dice.

[2022-01-12 20:41] Steven-Beasley commented on #1798
Yes I think that one would cover what I’d like to see

[2022-01-12 20:57] noahgildersleeve commented on #1255
Tested in daily master build. The VM will migrate based on `vm-force-reset-policy`

## Environment setup
Setup an airgapped harvester
1. Create a 3 node harvester cluster

## Verification Steps
1. Navigate to advanced settings and edit vm-force-reset-policy
![image](https://user-images.githubusercontent.com/83787952/146448317-a259d86d-2020-4bed-adc2-f19ecf0d3fbb.png)
1. Set reset policy to `60`
1.

[2022-01-12 20:57] #1255 closed, assigned to w13915984028, noahgildersleeve

[2022-01-12 22:40] noahgildersleeve commented on #1791
Tested in master-ebde990d-head.
### Verification steps
1. Create a backup target with a valid S3 target
2. Save
3. Change target to a valid NFS address
4. Save
5. Verify there are no errors.

[2022-01-12 22:40] #1791 closed, assigned to WuJun2016, noahgildersleeve

[2022-01-13 00:32] bk201 commented on #1798
Thanks, I'll close this one.

[2022-01-13 00:32] #1798 closed, assigned to nobody

[2022-01-13 02:00] tjjh89017 commented on #766
Note:
after checking linux bridge kernel code [1], while vlan_filtering is disable, it will transfer all traffic to destination port
 (include vlan tagged packet)
Kubevirt also disable mac learning in bridge inside Pod [2], so we can consider the network inside Pod is L1 transparent network.

once CNI bridge accept the patch[3] to support vlan trunk, and we can start to patch network-controller to

[2022-01-13 02:11] futuretea commented on #1346
If expand volume size to which exceed the system limit,  the volume state in UI will show `Resizing`, But it was green and inconspicuous.
![image](https://user-images.githubusercontent.com/15064560/149252961-a0eeb23c-268b-44c4-81c5-db6356e22084.png)

UI needs to be enhanced for the Volume of Resizing:
1. Change the green to some other obvious color
2. Filter out volumes in the `Resizing` state fro

[2022-01-13 02:19] guangbochen commented on #1695
@joshimoo will this change be introduced in the LH v1.2.4 or need to wait for the v1.3.0 release, thanks?

[2022-01-13 03:38] guangbochen opened #1809 "[BUG] Bump dapper and alpine versions"
**Describe the bug**
Fossa/trivy needs a newer version of alpine to have reliable scans.

As a minimum request, we need to bump the alpine version from 3.9 to 3.14 and the dapper version from 0.4.1 to 0.5.8.

We also ensure that the alpine version used for dapper is now the same as the alpine version used in the packaging dockerfile.

Repos:
- [ ] https://github.com/harvester/harvester
- [ ] https

[2022-01-13 04:04] weihanglo commented on #1734
Sorry for the late reply.

Unfortunately I cannot reproduce on my machine. Were those disk once controlled by Harvester before? If it is still possible, can you generate a support bundle? Thanks!

[2022-01-13 04:08] yasker commented on #1695
We shouldn't need to wait for this change. Today Longhorn UI knows if a volume cannot be scheduled according to the conditions of the object. We can just use those conditions to determine.

[2022-01-13 05:45] WuJun2016 commented on #1530
@TachunLin  I don't think this is a problem: In the previous step we will use  `admin` as the password to request a login, if it succeeds it will jump to the set password page and hide the `bootstrap password` input box, if the user refreshes the page we don't know what the initial password is, so the user needs to enter the correct initial password in `bootstrap password` box.

cc @guangbochen

[2022-01-13 05:55] yaocw2020 opened #1810 "[FEATURE] Support update the dependency charts parameters in the harvester managedcharts"
**Is your feature request related to a problem? Please describe.**

During upgrading, the Harvester installer only allows updating the harvester chart version, not the dependency chart parameters. We should support it.

https://github.com/harvester/harvester/blob/ebde990de70056a975a7e6be389cbd594adf9fca/package/upgrade/upgrade_manifests.sh#L85-L91

**Describe the solution you'd like**

**Describe

[2022-01-13 06:14] lanfon72 commented on #1497
Node can be deleted successfully in the case (qemu/KVM, discovered in https://github.com/harvester/harvester/issues/1778#issuecomment-1010849050):
- Destroy the Node(VM) directly
- Dashboard shows the host _Unavailable_
- Select the host and delete
- Dashboard shows host removed
- The node also removed in the command output `kubectl get nodes`

[2022-01-13 07:11] bk201 commented on #1810
For a context, this issue is used to track the removal of kube-vip values in https://github.com/harvester/harvester-installer/pull/216/commits/f8a4c77faa1ec87a1c3338b42ddc047b3956016a

[2022-01-13 09:49] FrankYang0529 commented on #1727
### Test plan

1. Check the controller can get support bundle image version from App.

* Set following yaml in `spec.chart.values` of `harvester-system/harvester` app:
[code]
* Create a support bundle.
* Check image pull policy is `Always`, repository is `rancher/support-bundle-kit`, and tag is `v0.0.4` in support bundle pod.
* Check default value of `support-bundle-image` setting is `{"repository

[2022-01-13 10:07] johnliu55tw commented on #1728
That's a valid point. I'll see how I could utilize [Configuring Defaults for Nodes and Disks](https://longhorn.io/docs/1.2.3/advanced-resources/default-disk-and-node-config/) in order to separate the binaries and data.

As for multiple disks support, I think we could leverage the Node label `node.longhorn.io/default-disks-config: <config>` to tell Longhorn how to set up the default disks when the

[2022-01-13 10:13] w13915984028 commented on #1497
Low-level operation to stop a node:

when rke2 service is stopped and disabled, after rebooting, it will not start kube related process

but how to integrate with exiting kube API/operations, is an issue.

**1. for management node**
it needs to stop `rke2-server.service`
[code]
or
`systemctl disable rke2-server.service --now`

**2. for none-management node**
it needs to stop `rke2-agent service`
w

[2022-01-13 12:58] w13915984028 commented on #1695
@yasker :
based on current implementation,
the longhorn pvc has `scheduled ` field, which shows status `False` and reason `ReplicaSchedulingFailure`, with it, we can deduce a general error message like `pvc is not successfully scheduled, VM can not start`, but not `insufficient storage`

is this general error message OK to be shown in VM page, to give the users further information?

cc @guangboche

[2022-01-13 14:14] w13915984028 commented on #1034
**Action sequence:**
Tester:
helper.PostAction(nodeObjectAPI, "enableMaintenanceMode")
helper.GetObject(nodeObjectAPI, &retNode)
helper.PostAction(nodeObjectAPI, "disableMaintenanceMode")

Http action:
 h.nodeCache.Get(name)
 toUpdate := node.DeepCopy()
   Prepare data
  h.nodeClient.Update(node)

**Occasional failure:**
`failed to post disableMaintenanceMode action, response with 500, Operation c

[2022-01-13 14:19] w13915984028 commented on #1333
@FrankYang0529 : Hello Frank, could you take a quick look and leave a short description about current specification of this behavior, will all related files are removed from backup target?  thanks.

[2022-01-13 14:39] Jellyfrog commented on #994
Not sure if it's the same, but I rebooted one host, and then the VM was dead and can't start:
[supportbundle_fb3938fa-4c03-4c20-984c-bc4a41394efc_2022-01-13T14-35-19Z.zip](https://github.com/harvester/harvester/files/7863570/supportbundle_fb3938fa-4c03-4c20-984c-bc4a41394efc_2022-01-13T14-35-19Z.zip)

[2022-01-13 18:14] yasker opened #1812 "[Feature] K3s cloud provider and csi driver support"
We need to support k3s cloud provider and CSI driver as well.

It needs to be GA quality with RKE2 driver for the next Rancher release (v2.6.4).

[2022-01-13 18:50] yasker commented on #1059
Based on the above explanation, it's not a feature or bug. We need to create a knowledge base article for this.

[2022-01-13 20:05] kkaempf opened #1813 "[BUG] install fails at grub2-install"
**Describe the bug**

Fresh install on a dual-cpu, dual-ssd server. Installer chooses `/dev/sdb` (to my surprise) and stops after a while with
[code]

**To Reproduce**
Steps to reproduce the behavior:

- boot from iso image
- accept defaults (only `/dev/sdb` was offered)
- wait

**Expected behavior**

Installation to succeed :wink:

**Support bundle**

**Environment:**
 - Harvester ISO version: ha

[2022-01-13 20:06] kkaempf commented on #1813
/cc @mudler - might be a cos problem ?!

[2022-01-13 20:09] kkaempf commented on #1813
![CaptureScreen](https://user-images.githubusercontent.com/37742/149401772-5c951c37-4f33-4aa6-995a-ac0016d68bd9.jpeg)

screen capture of remote console

[2022-01-13 20:38] wjimenez5271 opened #1814 "Add to docs context about CSI driver and K3s"
In the CSI doc for Harvester we should let the user know that the CSI driver has not been certified yet for k3s.

https://docs.harvesterhci.io/v1.0/rancher/csi-driver/

[2022-01-13 23:26] rebeccazzzz opened #1815 "Research installer frameworks"
We anticipate that the installer UI will be difficult to maintain, so we want to research better or alternative installer frameworks.

[2022-01-13 23:30] rebeccazzzz opened #1816 "Create API reference guide"
We would like to create an API reference guide with examples and scenario examples.

We would also like to clean up the current API documentation and examples to make them more useful, especially from an integration perspective.

[2022-01-13 23:32] rebeccazzzz opened #1817 "Fixing the CI release of Release Branch"
We would like to fix the CI release of the Release Branch, e.g https://github.com/harvester/harvester/tree/v1.0
So the full-regression test can be performed on the tagged branch with specific versions.

[2022-01-13 23:36] rebeccazzzz opened #1818 "Create KB article tab and blog tab on harvesterhci.io"
We would like to create knowledge base articles to help users troubleshoot various failure scenarios. This could be set up like the knowledge base for Longhorn, which can be found here: https://longhorn.io/kb/

[2022-01-14 00:42] ibrokethecloud commented on #1363
I am running into the same issue when trying to PXE boot baremetal nodes with tinkerbell.

Providing interface name is not a valid option at scale, since the interface name is not known before hand.

[2022-01-14 02:11] bk201 commented on #1813
@kkaempf Can you change to TTY2 and capture the output of `sudo lsblk` and `sudo blkid`? Thanks!

[2022-01-14 03:33] yasker commented on #1695
@joshimoo I remember that condition also indicates we cannot create more replicas with one node. Do you remember how did we tell the two cases apart? Depends on if the volume is attached or not?

[2022-01-14 06:34] futuretea opened #1819 "task: Add a bot to post pre-merge check list in the issue"
Make it easy for developers to get the most updated pre-merge check list in the issue.

[2022-01-14 07:17] szthanatos opened #1820 "[FEATURE] choose disk by label or something"
**Is your feature request related to a problem? Please describe.**
I use Harvester on a PC with 2 disk -- a 256G NVME SSD & a 1T SATA HDD.
I can add both disk in host management, but can't choose which disk my vm's volume will use.

**Describe the solution you'd like**
I think it's a good idea to give disk labels,
so when you create a VM, you can use labels to make the volume using right disk.

Lo

[2022-01-14 08:49] FrankYang0529 commented on #1333
Yeah, I think most of the files will be removed if `VolumeSnapshotContent.DeletionPolicy` is `Delete`. LH Backup CR will also be removed if the policy is `Delete`. And then [longhorn-manager/controller/backup_controller.go](https://github.com/longhorn/longhorn-manager/blob/878cfb868c568396d6ebfa4ce096c5d95d9b31e3/controller/backup_controller.go#L237-L271) will be triggered. In [line 254](https://g

[2022-01-14 09:10] n313893254 opened #1821 "[BUG] Cluster CPU reserved is not correct when on of node power off"
**Describe the bug**

CPU reserved is not correct when one of the nodes power off.

**To Reproduce**
Steps to reproduce the behavior:

1. Install harvester with at least 2 nodes()
2. Create a VM on host A
3. Power off host B and wait until it state becomes 'Unavailable'

**Expected behavior**

Cluster CPU reserved should be the same as node CPU reserved.

**Support bundle**

**Environment:**
 - Ha

[2022-01-14 09:28] wonleing commented on #1788
Thanks for the hint. It is solved

[2022-01-14 09:39] Jellyfrog commented on #1770
I'm getting the same error after deploying a rke2 cluster via rancher.
I created a cluster called "rke2" (so 4 chars) and setup a loadbalancer (Pool or DHCP doesn't matter)
The network got DHCP and ive setup a vip pool in harvester.

It still says " Error syncing load balancer: failed to ensure load balancer: wait ip timeout "

[supportbundle_fb3938fa-4c03-4c20-984c-bc4a41394efc_2022-01-14T09-35-3

[2022-01-14 12:47] kkaempf commented on #1813
Sorry, the system has a broken serial console and (apparently) there's no other way to access it :-(
Will retry on a similar system 🤞🏻

[2022-01-14 13:26] janeczku opened #1822 "[BUG] Virtual machine status stuck in "Starting""
Harvester 1.0.0

**To Reproduce**
Create a virtual machine via Rancher -> Virtualization management

**Result**
Virtual machine stuck in the "Starting" state in the Rancher UI (Rancher -> Virtualization management)

In Harvester native UI the machine is shown "Running"

**Support bundle**

[supportbundle_e040cc7c-fcf3-4892-bcf4-514bca7bf53b_2022-01-14T13-27-14Z.zip](https://github.com/harvester/ha

[2022-01-14 14:49] johnliu55tw commented on #1728
**This design is obsoleted. See [HEP Select another disk to store VM data during installation](https://github.com/harvester/harvester/blob/master/enhancements/20220120-select-another-disk-to-store-vm-data-during-installation.md)**

# Brief Design V2 (Obsolete)
Supporting multiple disks requires additional efforts. I will discuss them separately.

## Supporting one disk to be used as Longhorn defau

[2022-01-14 15:32] TachunLin commented on #1530
@WuJun2016 , regarding to the refresh page behavior on first time login page, I think it somehow may cause user confused while they refresh the page but prompt the the bootstrap password that they have no idea where to find it out.
A workaround is user can access the harvester with VIP address in URL again.
If that is the normal behavior according to the design I have no more concern since it's mo

[2022-01-14 22:52] yasker commented on #1728
Thanks @johnliu55tw. LGTM.

Unable to predefine annotation is a bit annoying... I am fine with only supporting one disk as the default disk at the time of installation for now. We will see if it's necessary to add multiple disks support during installation later.

[2022-01-15 18:33] #822 closed, assigned to nobody

[2022-01-15 20:58] abonillabeeche opened #1823 "[BUG] Unable to add node to RK2 cluster using node driver"
**Describe the bug**
After creating an RKE2 cluster, I am unable to add an additional node to the cluster by clicking +

**To Reproduce**
Steps to reproduce the behavior:
1. Create a cluster, with a single node pool
2. Click + to add another node to the node pool
3. Wait - see as the node is created in Harvester but never acknowledged by Rancher

**Expected behavior**
Another node should be added

[2022-01-15 21:28] abonillabeeche opened #1824 "[BUG] scheduler chooses one host for multiple virtual machines"
**Describe the bug**
When creating a virtual machine, selecting multiple and count higher than 1, the scheduler will choose one machine to provision all virtual machines.

**To Reproduce**
1. Create VM
2. Select Multiple
3. In Count type a value, I selected the maximum which is 10

**Expected behavior**
Each virtual machine should be deployed on different hosts

**Support bundle**

![Screen Shot 2

[2022-01-15 22:16] abonillabeeche commented on #1824
On a side note - r620-3 is a worker node only and the latest node addition - and a second run also had VMs deployed solely to itself vs anywhere else. Do we only look at core count when scheduling? Oddly, this node has 10 VMs scheduled to it but it's still considered the one with the most CPU available?

[2022-01-16 21:40] noahgildersleeve opened #1825 "Create new test architecture for e2e tests"
This is a placeholder for creating a new e2e UI test framework for Harvester. This will probably be something using POM (page object model) with selenium for browser automation.

[2022-01-16 21:44] noahgildersleeve opened #1828 "Handoff of BE API testing"
This is a placeholder for the work associated with handing off the BE API e2e testing

[2022-01-17 02:29] rebeccazzzz commented on #1818
We'd like to add a blog tab to the harvesterhci.io website, so we're updating this ticket to include setting up the KB article tab and setting up the blog tab on harvesterhci.io. Examples for both can be found at https://longhorn.io/.

[2022-01-17 02:41] futuretea commented on #1553
https://github.com/kubevirt/kubevirt/blob/28c8c9b529334c0d6a415289e263648bb670f03e/cmd/virt-launcher/virt-launcher.go#L355 The reason should be the `qemu-agent-sys-interval` , It default to 120s. Need a little more time to do a test.

[2022-01-17 06:10] johnliu55tw commented on #1728
@yasker @guangbochen

Changing Longhorn setting `defaultDataPath` would have a side-effect: **A 1.0.0 Node joining a 1.0.1 cluster would cause the Longhorn data on the 1.0.0 Node unable to persist across system reboots**. Here's the reason:
- In `1.0.0`, the `defaultDataPath` is `/var/lib/longhorn`. This path is configured to be persistent across reboots, either because it's the mount point of _Lo

[2022-01-17 06:49] lanfon72 commented on #1763
Verified this bug has been fixed.

Tested on `v1.0.0` 10 times, node promotion might stuck occasionally.
Tested on `master-ebde990d-head` 10 times, node promotion successfully every times.

[2022-01-17 06:49] #1763 closed, assigned to bk201, lanfon72

[2022-01-17 07:44] guangbochen commented on #1728
IMO, all of the nodes in a Harvester cluster should be the same version. It might be a mixed environment during the upgrade, but in the end, all of the nodes will have the same version.
- For a new joined node, users should only use the same image version of the management node.
- If users upgrade their cluster from `v1.0.0` to `v1.0.1`, the existing node's default path will remain unchanged(i.e,`

[2022-01-17 08:45] weihanglo commented on #1755
Not familiar with Vue but it seems that the getter method `childParts` doesn't exclude blockdevice from other nodes.

https://github.com/harvester/dashboard/blob/v1.0.0/models/harvester/harvesterhci.io.blockdevice.js#L5-L12

On the other hand, the blockdevices on host resource does filter by `blockdevice.spec.nodeName`.

https://github.com/harvester/dashboard/blob/v1.0.0/edit/harvesterhci.io.host/

[2022-01-17 09:20] FrankYang0529 commented on #1181
I tried to follow [kube-vip](https://kube-vip.chipzoller.dev/docs/usage/equinix/#using-annotations) document to deploy [Equinix CCM](https://github.com/equinix/cloud-provider-equinix-metal#deploy-project-and-api). Equinix CCM pod keeps showing:
[code]
I tried to set `METAL_EIP_TAG` as Elastic IP, but it doesn't work.

Also, kube-vip pod keeps showing:
[code]

[2022-01-17 09:26] FrankYang0529 commented on #1824
I can reproduce the issue. Also, I tried to [balance VMs on nodes with descheduler annotation](https://kubevirt.io/user-guide/operations/node_assignment/#node-balancing-with-descheduler), but it doesn't work.

[2022-01-17 09:58] TachunLin commented on #1741
Validate this issue on `provo environment` to check whether it still happen under system with enough cpu/memory resources.

### Result
After upgrade from v0.3.0 to v1.0.0 GA on provo bare machines,
The existing images `keeps correctly without error after the upgrade`.

 ![image](https://user-images.githubusercontent.com/29251855/149747510-bc1de057-13ce-4d03-b5d9-b39fe3f8a52b.png)

According to thi

[2022-01-17 10:00] TachunLin commented on #1742
Validate this issue on `provo environment` to check whether it still happen under system with enough cpu/memory resources.

### Result
After upgrade from v0.3.0 to v1.0.0 GA on provo bare machines,
All host cpu usage keeps in stable value without increasing by time

![image](https://user-images.githubusercontent.com/29251855/149748485-9f3e3257-141a-49ae-8f81-cb5b5133a157.png)

According to this va

[2022-01-17 10:05] yaocw2020 commented on #1645
Log from kube-vip.
[kube-vip.log](https://github.com/harvester/harvester/files/7880915/kube-vip.log)

[2022-01-17 10:14] TachunLin commented on #1738
Validate this issue on `provo environment` to check whether it still happen under system with enough cpu/memory resources.

### Result
After upgrade from v0.3.0 to v1.0.0 GA on provo bare machines, and leave harvester system running for a period of time

The Prometheus monitoring pod will crash while memory usage exceed `1500 Mi`
![image](https://user-images.githubusercontent.com/29251855/14975011

[2022-01-17 12:36] gitlawr commented on #1645
We can restart kube-vip pods in the `Upgrade Harvester and Monitoring services` stage to resolve it @bk201

[2022-01-17 13:10] weihanglo opened #1829 "[BUG] node disk manager relies on unstable devPath to retrieve fiilesystem info"
**Describe the bug**
node disk manager relies on unstable **dev path** to retrieve fiilesystem info, which is not always consistent between each boot.

**To Reproduce**
Steps to reproduce the behavior:
1. Read the source code: https://github.com/harvester/node-disk-manager/blob/73948d5a0d2a0f317709d49f689791325d3654f7/pkg/block/block_device.go#L95-L104

**Expected behavior**
Depends on a stable an

[2022-01-17 14:19] TachunLin commented on #1645
On provo bare machines, I tried using `kubectl delete pods` to delete all nodes kube-vip pods to rebuild it.
But still not able to access harvester dashboard via VIP.

[2022-01-17 16:56] w13915984028 commented on #1695
New experiment:
create 2 volumes, but not attaching them to any VM

@yasker @guangbochen @joshimoo

The first enhancement point with current implementation:
From `PVC ` to `PV ` to `volume (longhorn)`, when it is not schedulable, the first available information can be taken from `volume (longhorn)`, filed `Scheduled`, when its status is "False", we can try to map it into Harvester UI "Volume", to

[2022-01-17 17:03] w13915984028 commented on #1695
Another related issue
https://github.com/harvester/harvester/issues/1346

It looks, we need to add kind of enhancement to reflect the real status of PVC/PV, and control the usage from UI.
@johnliu55tw @WuJun2016 please also take a look of 1#695

[2022-01-17 17:07] w13915984028 commented on #1695
Place holder: **The second enhancement**:

When Harvester Volume is created via VM creating, in case the Volume is not provisioned by longhorn in certain stage, we need to figure it out and show some useful information in the Web UI.

[2022-01-17 17:37] nunix commented on #1818
Hi @rebeccazzzz ,

as the Harvester documentation framework (Mkdocs) is not the same as Longhorn (Hugo), I'm checking with my team if something like this has already been done and how best to implement it.
I will provide an update in the coming days (as today is an holiday in US).

[2022-01-17 19:47] abonillabeeche opened #1830 "[BUG] unable to add node as VIP:8443/ping is connection refused"
**Describe the bug**
After adding a node, and trying to add another node, there will be a connection refused trying to access VIP:8443/ping

**To Reproduce**
Steps to reproduce the behavior:
1. Add node to the cluster
2. Try adding another node

**Support bundle**
https://drive.google.com/file/d/16f64xNk7ZdVOLV6uTQgNOUaBA-9VRrSr/view?usp=sharing

**Environment:**
 - Harvester ISO version: 1.0
 - U

[2022-01-18 01:12] gitlawr commented on #1645
@TachunLin Can you try applying https://github.com/gitlawr/upgrade-helpers/commit/4637dbd3a14630b5100506549f223fa0d0c88b14 before running `harv-upgrade-harvester.sh`

[2022-01-18 02:51] yaocw2020 commented on #1645
During upgrading from 0.3 to 1.0, the ingress-expose svc and rancher-expose svc have the same VIP and mac address, so the macvlan interface for the ingress-expose svc used to request the IP has the same mac as the one for the rancher-expose. That is the reason of `address already in use`.

[2022-01-18 04:16] guangbochen commented on #1758
can u also help to grasp the log of the harvester pod? since only one will be the master pod so u will need to check all 3 pods respectively.

[2022-01-18 05:50] WuJun2016 commented on #1746
After discussion, the UI will show all ipv4 addresses

![image](https://user-images.githubusercontent.com/24985926/149878311-4e391d41-e1ad-4296-8fe0-694150946f74.png)

[2022-01-18 08:22] gitlawr commented on #1731
UI posts
[code]

under the hood, it adds/removes the following content to the node manifest
[code]

Can you check if the API call succeeds in the browser console?

[2022-01-18 08:30] bk201 commented on #1830
The reason is VIP is on node `r620-6`, but two rancher pods are on node `r620-1` and `r620-2`.
The Rancher pod opens host port `8443`. If the VIP doesn't coexist with any rancher pods, then we'll see this problem.

**Steps to reproduce**
- Create a 3-node cluster and wait for node promotion done. Assume `node[1-3]`.
- Check VIP location, the easiest way to check is to ssh VIP and check the hostnam

[2022-01-18 09:05] n313893254 commented on #1755
@weihanglo Thanks, It is the root cause.

**Reproduce Steps**
- Install Harvester with two nodes
- Add a disk(USB) for each node
- For the first node, add the part to the node.
- Go to the second node, check "Add disk"

**Result**
The disk can not be added as data volume to the host.

[2022-01-18 09:31] TachunLin commented on #1530
Validate the issue did not happen on `v1.0.0` GA by using pxe installation.
With the same reproduce steps, the harvester first time login page did not show rancher UI.

[2022-01-18 09:37] TachunLin commented on #1621
Unable to reproduce for the single node `RKE1 scenario` on harvester v1.0.0 with rancher 2.6.3

### Result
When RKE1 cluster provisioning failed with incorrect `None` docker install URL parameter set.
We can delete RKE1 cluster in rancher. At that moment, the VM still exists on harvester virtual machine dashboard.
When we click the VM, it will start terminating and remove it correctly without stuc

[2022-01-18 12:17] FrankYang0529 commented on #1823
I can reproduce this issue with `SLES15-SP3-JeOS.x86_64-15.3-OpenStack-Cloud-GM.qcow2`, but not `focal-server-cloudimg-amd64.img`. Following is the error message in `rancher/machine` container.

[code]

[2022-01-18 13:03] weihanglo opened #1831 "[BUG] Node disk manager should prevent too many concurrent disk formatting occur within a short period"
**Describe the bug**
Node disk manager should have burst control to prevent too many concurrent disk formatting occur within a short period.

**To Reproduce**
Steps to reproduce the behavior:
1. See https://github.com/harvester/node-disk-manager/pull/23#discussion_r782325562

**Expected behavior**
Limit the maximum amount of concurrent format being executed within a period of time.

**Support bund

[2022-01-18 13:27] bk201 commented on #1830
Workaround for 1.0.0 nodes (only works for PXE boot):

- Check the node that can't join the cluster, user should see messages like:
[code]

- Edit rancherd config on that node, modify the server port from `8443` to `443`. For example:
[code]

Change from
[code]

to
[code]

[2022-01-18 14:41] w13915984028 commented on #1333
Test in Harvester v1.0.0, with NFS backup target:

1. Create a VM with 2 volumes, and after ready, take a "backup", wait ready,

in the NFS server, the `"pvc-7f1f8921-a2e9-4b96-bafa-12e080237bc2"` and related data is there
[code]
2. delete the "backup", after a while, check NFS server, most of the related files are removed

[code]

3. The remaining path and file, is `"backupstore/volumes/8b/7e/pvc

[2022-01-18 14:45] w13915984028 commented on #1333
As per test in v1.0.0, after `deleting a backup instance`, path and file like `"backupstore/volumes/8b/7e/pvc-7f1f8921-a2e9-4b96-bafa-12e080237bc2/volume.cfg"` will be left,

@johnliu55tw
Please also check, if only that path and file are left following your test steps. thanks.

@FrankYang0529
Please confirm, if only the volume.cfg is left, what is the purpose of it, when will this file be finally

[2022-01-18 15:10] abonillabeeche opened #1833 "[BUG] 1.0.1 opensuse/SLE change of qemu-guest-agent"
**Describe the bug**
Currently, openSUSE uses qemu-ga which we use in the OS automation in Harvester

**To Reproduce**
Steps to reproduce the behavior:
1. Create VM
2. Select OS, openSUSE
3. Currently it will try and enable qemu-ga, it should use qemu-guest-agent.service instead.

**Expected behavior**
By the time of 1.0.1 we will have moved to qemu-guest-agent.service

**Environment:**
 - Harvest

[2022-01-18 15:52] w13915984028 commented on #1333
Will check, why longhorn side leaves backup meta file like "backupstore/volumes/8b/7e/pvc-7f1f8921-a2e9-4b96-bafa-12e080237bc2/volume.cfg" in the backup server, and also has those "empty" backup instances
cc @joshimoo @PhanLe1010

`Harvester backup: empty`
![image](https://user-images.githubusercontent.com/31133476/149969326-6d3b25b6-cf84-4ffa-b239-ba47d91f2671.png)

`Longhorn backup: some instanc

[2022-01-18 15:54] yaocw2020 opened #1834 "[FEATURE] Support changing the ipam mode of the harvester load balancer"
**Is your feature request related to a problem? Please describe.**

By harvester 1.0.0 version, it could not modify the ipam mode of the harvester load balancer because the kube-vip doesn't support changing the allocated load balancer IP.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-01-18 16:39] yaocw2020 opened #1835 "[BUG] Wicked occupies port 68 and the kube-vip fails to renew and release the IP"
**Describe the bug**

Wicked occupies port 68 and the kube-vip fails to renew and release the IP.

[code]
[code]
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Create a load balancer service with DHCP ipam mode in a guest cluster such as rke2.
2. Delete the load balancer service. The kube-vip will fail to release the load balancer IP got from the DHCP server.

**Expected behavior**

*

[2022-01-18 18:09] phillipsj opened #1836 "[FEATURE] Unattend.xml support for Windows"
**Is your feature request related to a problem? Please describe.**

Windows supports Unattend.xml to configure a Windows machine during installation. It would be really helpful if a Windows machine had the ability to support specifying your own unattend.xml.

**Describe the solution you'd like**

That Harvester supports defining your own unattend.xml file in place of the cloud-init when using Wind

[2022-01-18 18:34] phillipsj opened #1837 "Support referencing resource ids in the Terraform Provider"
**Is your feature request related to a problem? Please describe.**

The current Terraform provider requires explicitly setting `depends_on` existing resources like in this example below. It also requires defining the network_name and image in the virtual machine resource as string.

[code]

**Describe the solution you'd like**

Other Terraform providers rely on specifying resource ids for dependen

[2022-01-18 18:39] phillipsj opened #1838 "Support Data Sources in the Terraform Provider"
**Is your feature request related to a problem? Please describe.**

There aren't currently any data sources listed as being supported by the Terraform provider. It would be a nice feature if support was added for pulling information about an existing resource. Here is the current example.

[code]

**Describe the solution you'd like**

If a data source was available, then I could use an existing im

[2022-01-18 19:40] PhanLe1010 commented on #1333
In Longhorn there are 2 objects: backup volume and backup. A backup volume is a collection of backups. When users delete the last backup of the volume, I don't think Longhorn automatically cleans up the backup volume. Therefore, you see the above behavior.

What is the problem Harvester is having with behavior? The empty backup volume doesn't consume much data.

[2022-01-18 19:44] w13915984028 commented on #1333
@PhanLe1010
From the Harvester UI, the is no "backup" objects, all are deleted, then the user is a bit confused, why in the backup server, the is still something there.

The general expectation is, when a "backup" object is deleted, there should also be nothing related remaining in the backup server.

[2022-01-18 19:49] PhanLe1010 commented on #1333
@w13915984028

This will need a design discussion with the team. cc @joshimoo, @jenting
Some ideas:
* Do we want Longhorn to auto-delete the backup volume if the last backup is deleted?
* Can Harvester delete the backup volume if the last backup is deleted?

[2022-01-18 20:26] yasker commented on #1531
The original limit was set to 1.5G, which is not enough for a 6-node cluster (48 core, 512GB per node). We need to figure out a way to maybe increase (or at least prompt user to increase) the memory/cpu limit for the pod.

[2022-01-18 20:44] abonillabeeche commented on #1823
Correct. I can't reproduce with focal-server-cloudimg-amd64.img. Yet, while testing this, I clicked the - sign to delete that node I had just recently added, and my Harvester and Rancher clusters became unresponsive. @FrankYang0529 can you try and see if that happens to you too?

[2022-01-19 00:56] weihanglo opened #1839 "[FEATURE] Support provisioning raw block devices directly as extra disks for Harvester hosts"
**Is your feature request related to a problem? Please describe.**
Support provisioning raw block devices directly as extra disks for Harvester hosts.

Currently, provisioning a raw block device directly is impossible in Harvester. Whne one is trying to provision a raw block device, the node disk manager automatically creates a single root partition on that block device and use the partition inste

[2022-01-19 02:32] WuJun2016 opened #1840 "[FEATURE] Add used stats for cpu/mem/storage"
**Is your feature request related to a problem? Please describe.**

Add used stats charts to the dashboard home page and node details page

![image](https://user-images.githubusercontent.com/24985926/150052596-12f61984-cb67-44a8-90e8-dc8f1639c6d9.png)

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-01-19 03:12] rebeccazzzz commented on #1779
@chajain: Have you received the answer to your question. If so, can we close this ticket? Thank you so much.

[2022-01-19 03:43] futuretea commented on #1553
After changing this configuration `qemu-agent-sys-interval`, it still takes 6 minutes

[2022-01-19 04:13] tjjh89017 commented on #1239
This issue will be solved once harvester bump the version of `kube-vip` and `network-controller-harvester`
In further version of harvester, it will not detect and set `vip_interface` for `kube-vip`, kube-vip will detect it directly.

checked with @yaocw2020

https://github.com/kube-vip/kube-vip/pull/339
https://github.com/harvester/network-controller-harvester/commit/7a7f054a4840e0ce328231a8829228

[2022-01-19 06:26] WuJun2016 opened #1841 "[BUG] The cpu/memory/storage chart does not show data"
**Describe the bug**

Login to harvester with member role, the cpu/mem/storage chart on the dashboard home page is empty, and there is no node information on the host list page.
![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/2f447209-f703-4dae-a09f-b859fdd3c4e4)

![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/2d3e7d97-9889-4ae1-82ba-b9ac78711

[2022-01-19 06:37] TachunLin commented on #1621
Unable to reproduce for the 3 nodes `RKE2 scenario` on harvester v1.0.0 with rancher 2.6.3

### Result
When the 3 nodes RKE2 cluster provisioning into active `running` status
We can delete RKE2 cluster in rancher. At that moment, the all vm will be automatically removed from harvester

1. 3 nodes RKE2 cluster in active state
![image](https://user-images.githubusercontent.com/29251855/150056369-d64

[2022-01-19 06:43] FrankYang0529 commented on #1823
Looks like the issue isn't always reproducible. I can't reproduce with the same steps in a new Harvester cluster and Rancher.

In my old cluster, the error message is not always like my previous comment. Sometimes, the Job in Rancher is killed before the VM is ready, so the status of the Machine in Rancher is stuck in Provisioning. I have no idea which process kills the Job yet.

I think there may

[2022-01-19 06:46] TachunLin commented on #1621
@slickwarren, according to above test result, this issue can't be reproduced under latest rancher v2.6.3 with harvester v1.0.0 master head.
I think in previous v2.6.3-rc3, if rancher failed to provision RKE1 or RKE2 VM in harvester, it will continue in a loop to recreate VM. At this moment when we try to delete cluster, it may cause VM deletion stuck in `Virt-launcher pod is terminating`.

After s

[2022-01-19 06:47] FrankYang0529 commented on #1823
@abonillabeeche, what do you mean about unresponsive? If a Machine in Rancher loses connection to a Harvester VM, the Machine CR can't be deleted caused of finalizers. My cluster still works, but I have to manually remove finalizers to remove Machine CR.

[2022-01-19 07:53] lanfon72 commented on #1746
Verified this feature has been implemented as expected.

![image](https://user-images.githubusercontent.com/5169694/150086532-a973ba28-9a04-431b-a376-e8b26c34dd9a.png)

Test Information
----
* Environment: **Bare metal DL360 3 nodes**
* Harvester Version: **v1.0.0-rc2**
* **ui-source** Option: **External**

### Verify Steps:
1. Install Harvester with any Nodes (node required 2 ports)
2. Create Ima

[2022-01-19 07:53] #1746 closed, assigned to lanfon72, WuJun2016

[2022-01-19 08:01] lanfon72 commented on #1236
Verified this VNC Error message has been changed as expected.

![image](https://user-images.githubusercontent.com/5169694/150088012-ad6770b1-cff7-41d2-b176-428f006033fb.png)

Test Information
----
* Environment: **Bare metal DL360 3 nodes**
* Harvester Version: **v1.0.0-rc2**
* **ui-source** Option: **External**

### Verify Steps:
1. Install Harvester with any Nodes (node required 2 ports)
2. Crea

[2022-01-19 08:01] #1236 closed, assigned to lanfon72, n313893254

[2022-01-19 08:58] johnliu55tw commented on #1649
At the last stage of installation, the installer would preload the container images stored in ISO into the installed system. For **automatic** PXE installation, the ISO will be downloaded and mounted using the URL from [config `install.iso_url`](https://docs.harvesterhci.io/v1.0/install/harvester-configuration/#installiso_url). However, for **manual** PXE installation, because `install.iso_url` is

[2022-01-19 09:56] mysticaltech commented on #581
I think k3os should have been kept, as RancherOS v2 has basically no traction. k3os if moved to k3s-io has a fighting chance!

[2022-01-19 10:03] gitlawr opened #1842 "[BUG] Incorrect memory usage in VM metrics"
**Describe the bug**
The usage showing in the dashboard is not the same as the usage in guest OS

**To Reproduce**
Steps to reproduce the behavior:
1. Create a 8Gi VM
2. Write some data, e.g., `dd if=/dev/zero of=testfile bs=1024 count=5024000`
3. Check memory usage.
[code]
4. Check VM metrics in the VM detail page
![image](https://user-images.githubusercontent.com/5697937/150108074-5ad7efbf-8a17-

[2022-01-19 12:16] guangbochen commented on #1626
close in favor of the v1.0.0 release and the upgrade doc will be tracked by https://github.com/harvester/harvester/issues/1665 separately.

[2022-01-19 12:16] #1626 closed, assigned to guangbochen

[2022-01-19 12:26] guangbochen commented on #1738
close as a duplicate of https://github.com/harvester/harvester/issues/1531

[2022-01-19 12:26] #1738 closed, assigned to guangbochen

[2022-01-19 12:32] Jellyfrog opened #1844 "[BUG] Harvester keeps generating new certificates"
**Describe the bug**

Every couple of hours I get a new certificate for the web interface

**To Reproduce**
Steps to reproduce the behavior:
1. Install harvester
2. Leave it for some hours

**Expected behavior**

Generate a certificate once, and keep using it until it expires

**Support bundle**

[Uploading supportbundle_cd9ed825-9204-4dd3-a6f9-6f7379a6c4d0_2022-01-19T12-23-41Z.zip…]()

**Environm

[2022-01-19 13:16] Jellyfrog opened #1845 "[BUG] Harvester CPU usage"
**Describe the bug**

When Harvester is idling (zero guest vms) it's using a lot of CPU.

[code]

![image](https://user-images.githubusercontent.com/759887/153614440-12044d07-6f39-42db-8d6b-7955574e7dd9.png)

This is what vSphere reports:
![image](https://user-images.githubusercontent.com/759887/153612111-5ca64441-1d8f-4e75-bc01-b19d66950aa9.png)

**To Reproduce**
Steps to reproduce the behavior:

[2022-01-19 14:49] abonillabeeche opened #1846 "[BUG] Harvester node driver deployed cluster won't connect after cluster reboot"
**Describe the bug**
An RKE2 cluster won't reconnect to Rancher if the Harvester cluster it is on was fully restarted.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an RKE2 cluster using Harvester as the target.
2. Power off all Harvester Nodes
3. Power On all Harvester Nodes
4. Rancher will show that cluster with: Cluster agent is not connected

**Expected behavior**
Rancher RKE2 d

[2022-01-20 02:06] vanakema commented on #1365
Just putting my desire for this too in writing.

sidenote: The Rancher team seems to not be that into diskless nodes. K3OS doesn't support it either via PXE boot

[2022-01-20 02:08] johnliu55tw commented on #1649
@bk201 @guangbochen I think we could fix it two ways:
- Publish `harvester-cluster-repo` to container registry so it can be pulled from the internet if preloading failed.
- The text UI would force users to enter ISO URL if the installation environment is PXE + Manual.

Or we could do both ;)

[2022-01-20 07:48] futuretea commented on #1837
@phillipsj

Harvester  terraform resources ID format is "namespace/name", so you can use it just like:
[code]

also update example tf files in https://github.com/harvester/terraform-provider-harvester/pull/24

[2022-01-20 07:49] bk201 commented on #1649
@roncterry Could you see if applying https://github.com/harvester/harvester/issues/1649#issuecomment-1016219574 fix the issue? We don't have the plan to publish harvester-cluster-repo image, thus providing an ISO in the config is needed in PXE boot installation.

[2022-01-20 08:19] johnliu55tw commented on #1617
The main reason is that if you switch to Shell by pressing F12, **you won't have the `$HOME` environment variable**.

Lacking `$HOME` would cause `kubectl` to use the current working directory (`/`) to create the `.kube/cache` folder, and it would just fail because `/` is a read-only file system.

There are two workarounds:
- Switch to Shell by **switching virtual terminal** (Press `Ctrl-Alt-F2`).

[2022-01-20 09:43] ibayue commented on #1758
time="2022-01-18T11:50:42Z" level=error msg="Error writing ping" error="write tcp 10.52.0.84:43744->10.53.54.220:443: i/o timeout"
10.53.54.220:443看了下是rancher pod的svc，手动在harvester pod里curl 10.53.54.220:443正常返回没有超时，删除harvester pod重启后恢复正常

[2022-01-20 09:53] FrankYang0529 commented on #1823
I can reproduce this issue sometime. If a job is deleted occasionally, we will get log like the following. The VM information is not stored to the Machine in Rancher, so the status of the Machine is stuck in Provisioning.
![Screen Shot 2022-01-20 at 5 46 35 PM](https://user-images.githubusercontent.com/4927361/150314616-4ecfb5aa-8a51-4558-a2ad-9ca4c7aa33e2.png)

Also, the job which doesn't really

[2022-01-20 10:57] TachunLin commented on #1645
@gitlawr, @yaocw2020 after applying [gitlawr/upgrade-helpers@4637dbd](https://github.com/gitlawr/upgrade-helpers/commit/4637dbd3a14630b5100506549f223fa0d0c88b14) to `harv-upgrade-harvester.sh` before upgrade.

We can access harvester dashboard by VIP after manual upgrade from v0.3.0 to v1.0.0 GA

Can you create a pull request to [upgrade-helpers](https://github.com/harvester/upgrade-helpers) to ad

[2022-01-20 11:21] TachunLin commented on #1665
@bk201, @guangbochen, Update the latest test result of manual upgrade on provo bare machine:

Follow the enhanced scripts and steps according to the [manual upgrade document](https://github.com/harvester/docs/blob/a4be9a58441eeee3b5564b70e499dc69c6040cc8/docs/upgrade.md)
Now we can successful perform manual upgrade from existing v0.3.0 to v1.0.0 GA

**Successful Check point**

- [x] Upgrade to tar

[2022-01-20 12:55] weihanglo commented on #1734
I guess I can reproduce it with the following steps https://github.com/harvester/harvester/issues/1755#issuecomment-1015204213. Do you have another node with the similar disk layout and they've already partitioned/provisioned? If yes, then this should be the same UI issue.

[2022-01-20 16:49] yaocw2020 commented on #1762
@janeczku @abonillabeeche I convert this issue to a feature instead of a bug.

[2022-01-20 19:47] PhanLe1010 opened #1849 "[Task] Improve Harvester upgrade responder"
* Upgrade Harvester upgrade responder to the newer version at https://github.com/longhorn/upgrade-responder
* Migrate InfluxDB of Harvester upgrade responder
* Build growth rate Grafana dashboard

[2022-01-20 19:49] PhanLe1010 commented on #1849
cc @bk201

[2022-01-20 22:34] ibrokethecloud opened #1850 "[FEATURE] Replication of VirtualMachines across Harvester Clusters - DR"
**Is your feature request related to a problem? Please describe.**

Harvester should support replication of VMs across Harvester Clusters.
This can be useful when looking to migrate VM's from one cluster to another, and also for DR scenarios.

**Describe the solution you'd like**

Longhorn already supports ability to backup and replication volumes across K8S clusters. Harvester needs to leverage t

[2022-01-21 07:50] guangbochen opened #1851 "[Enhancement] Remove duplicated images on the installer dependency bump"
**Is your feature request related to a problem? Please describe.**
Currently, the `bump-rancher` script on the installer side doesn't know how to remove duplicated images list in the `rancher image-list` file. We need to do this manually.

**Describe the solution you'd like**
Consider enhancing the bump script, check if images are duplicated, and give a warning message in case existing.

**Additio

[2022-01-21 08:30] TachunLin opened #1852 "[FEATURE] Need status information tracking and complete notification for zero downtime upgrade"
**Describe the bug**

The zero downtime upgrade page need to provide more information for user tracking each component upgrade status.
And notify user after upgrade complete, without this feature user have no idea whether the upgrade is finished or not.

![image](https://user-images.githubusercontent.com/29251855/150490279-14abe188-923f-4ea1-97e0-aaf85ab37cbb.png)

**To Reproduce**
Steps to reprod

[2022-01-21 08:31] IArchi opened #1853 "[FEATURE] Restrict access to node pool(s)"
**Is your feature request related to a problem? Please describe.**
I'd like to deploy multiple Harvester devices to my customers (One or more per customer). On each device, there would be 3 different spaces managed by different entities: One is managed by myself, one is managed by the customer and a third one is managed by a third party such as a partner.
To avoid misconfiguration and reduce confl

[2022-01-21 08:57] TachunLin commented on #1022
@bk201, @guangbochen, we can `successfully run zero downtime upgrade` on provo bare machines from v1.0 GA to latest master head release.

### Test result
After zero downtime upgrade to latest master head, harvester operate correctly and `PASS` the following check point

1. Harvester version successfully upgrade to `master-1be9cb5e-head`
2. OS version successfully upgrade to `Harvester master`
3. R

[2022-01-21 09:18] bk201 opened #1854 "[BUG] Add upgrade HEP"
**Describe the bug**

The upgrade controller is already in 1.0.0. To better keep track and improve the feature, we can create a HEP for it.

[2022-01-21 10:07] FrankYang0529 commented on #999
I think after PR https://github.com/harvester/harvester/pull/1543, we don't have this issue. We specify `resources.requests` and `resources.limits` for CPU and memory. I can't reproduce this issue in Harvester `master-1be9cb5e-head`.

[2022-01-21 10:25] TachunLin opened #1855 "[BUG] Additional virtual machine and images created during zero downtime upgrade should be deleted after completion"
**Describe the bug**

Additional virtual machine and images created and remains in harvester-system namespace after zero downtime upgrade

* Additional virtual machine under harvester-system namespace
![image](https://user-images.githubusercontent.com/29251855/150509581-a79e2059-0380-4e02-b041-71e28426e433.png)

* Additional images created unser harvester-system namespace
![image](https://user-ima

[2022-01-21 11:47] TachunLin commented on #1681
Verified **fixed** on master-1be9cb5e-head. Close this issue.

### Result
Can access 3 nodes harvester by VIP after shutdown and power on harvester node machine in sequence

[code]

[code]

[code]

### Test Information
* Test Environment: 3 nodes harvester on provo bare machine
* Harvester version: master-1be9cb5e-head (1/19)

### Verify Steps

1. Prepare 3 nodes harvester
2. Enable virtual networ

[2022-01-21 11:47] #1681 closed, assigned to yaocw2020, TachunLin

[2022-01-21 15:26] simonflood opened #1856 "[BUG] Can't install additional packages if guest agent installed"
**Describe the bug**
If "Install guest agent" is ticked on the Advanced Options page when creating a Virtual Machine, any additional packages added to the User Data section of the Cloud Config page are silently removed with just the original qemu-guest-agent left to be installed.

The same is also true if editing the config to add in additional packages of an existing VM (although probably too lat

[2022-01-21 17:43] simonflood commented on #1856
It wouldn't be so bad if the QEMU Guest Agent actually installed cleanly but on openSUSE it doesn't - see #1833

My "workaround" with openSUSE Leap 15.3 JeOS image for OpenStack is to not tick "install guest agent" as the qemu-guest-agent package is already installed by default with the correct service enabled and running. With "install guest agent" unticked packages is left untouched and works as

[2022-01-22 01:04] emilyastranova commented on #1758
I have run into the same problem during the cancellation of an ISO upload

[2022-01-22 16:32] roncterry commented on #1649
Providing the remote config containing the iso_url does work.

It would be nice to be able to pass harvester.install.iso_url= in at boot time by appending it to the kernel line in the ipxe config. That does not currently appear to work.

The docs should probably be updated to reflect the currently working method of doing this.

[2022-01-23 13:53] aiwantaozi opened #1857 "[BUG] Some unexpected 404 requests occurred while creating the image"
**Describe the bug**
Some unexpected 404 requests occurred while creating the image

**To Reproduce**
Steps to reproduce the behavior:

1. when creating 20 virtualmachineimages at the same time, get lots of 404 request
[code]
<img width="999" alt="截屏2022-01-23 下午9 46 27" src="https://user-images.githubusercontent.com/5936271/150681539-ff10cf2a-d797-4287-8f02-f97b3472c238.png">

2. enabled audit lo

[2022-01-23 14:03] #1621 closed, assigned to futuretea, TachunLin

[2022-01-23 14:04] lanfon72 commented on #1821
Verified the bug has been fixed.
![image](https://user-images.githubusercontent.com/5169694/150682013-5103f466-d00b-45af-b3f1-549fe0465c0f.png)

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-1be9cb5e-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with at least 2 nodes
2. Create Image for VM creation
3. Create VM on `host 1`

[2022-01-23 14:04] #1821 closed, assigned to lanfon72, n313893254

[2022-01-23 14:09] lanfon72 commented on #1604
Verified this bug has been fixed.
![image](https://user-images.githubusercontent.com/5169694/150682436-339082fb-fa37-4177-a23b-37748c8bce92.png)
![image](https://user-images.githubusercontent.com/5169694/150682443-2904175c-3ca0-443f-b9bb-5e498e445d7d.png)

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-1be9cb5e-head**
* **ui-source** Option: **Auto**

### V

[2022-01-23 14:09] #1604 closed, assigned to lanfon72, n313893254

[2022-01-23 14:18] lanfon72 commented on #1703
Verified this bug has been fixed.
![image](https://user-images.githubusercontent.com/5169694/150682889-21aa6126-68a1-42ea-bb2d-37ac85760df2.png)
![image](https://user-images.githubusercontent.com/5169694/150682886-134287bd-e83f-4da7-b48d-36ca3e872b4a.png)

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-1be9cb5e-head**
* **ui-source** Option: **Auto**

### V

[2022-01-23 14:18] #1703 closed, assigned to FrankYang0529, lanfon72

[2022-01-23 15:20] TachunLin commented on #1755
Verified **fixed** on master-1be9cb5e-head (1/23). Close this issue.

### Result
1. The secondary disk can be added as data volume at 2nd and 3rd host after adding the 1st node
  - Node 1, 2, 3 disk status before adding second disk
    ![image](https://user-images.githubusercontent.com/29251855/150683305-a78e06fb-06bd-4403-b518-388bdb87e9b2.png)
  - Node 1, 2, 3 disk status after adding second dis

[2022-01-23 15:20] #1755 closed, assigned to weihanglo, n313893254, TachunLin

[2022-01-23 20:51] chifu1234 opened #1858 "[FEATURE] same vlan once taged/native"
**Is your feature request related to a problem? Please describe.**

Currently it is not possible to have the same VLAN (once as native) the other as taged vlan.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-01-23 23:48] cybaware opened #1859 "MTU size on mgmt Interface (no Cluster Metrics, no Grafana)"
Hi

I have added a third node to a Harvester cluster. Now the dashboard shows an "Events" section but no "Cluster Metrics" section. Also the link to Grafana is gone. I did not change anything, just added the third node.

Why do I no longer see a graph for Cluster Metrics?

I have already restarted all nodes, no display to Cluster Metrics.

Harvester 1.0.0 on bare metal
Clean install
logged in as a

[2022-01-23 23:54] cybaware commented on #1859
![image](https://user-images.githubusercontent.com/11486351/150703357-32b3a50f-a841-479d-a904-51ab9e759845.png)

[2022-01-24 01:48] johnliu55tw opened #1860 "[ENHANCEMENT] Preventing Nodes with incompatible version to join the cluster"
**Is your feature request related to a problem? Please describe.**
Nodes having versions that are incompatible with the cluster might cause some issues when they joined the cluster. We should prevent this from happening.

**Describe the solution you'd like**
A Node with an incompatible version should not be able to join the cluster.

**Describe alternatives you've considered**
- Auto-upgrade the i

[2022-01-24 02:14] tjjh89017 commented on #1858
Hi @chifu1234
Could you help us to describe this scenario with more detail?

By the way, if you configre the outgoing port with PVID 100 (native) and VID 100, it will always send out traffic without vlan 100 tag. This is correct beahvior and couldn't be change

Thanks a lot

[2022-01-24 02:46] TachunLin commented on #1756
Verified **fixed** on master-1be9cb5e-head (1/23). Close this issue.

### Result
We can scroll down to the bottom of the serial console window in virtual machine
![image](https://user-images.githubusercontent.com/29251855/150713015-ea59f7fc-9263-4564-bb49-c8f823686695.png)

### Test Information
* Test Environment: 3 nodes harvester on provo bare machine
* Harvester version: master-1be9cb5e-head (1

[2022-01-24 02:46] #1756 closed, assigned to DaiYuzeng, TachunLin

[2022-01-24 02:55] yaocw2020 commented on #1835
https://github.com/insomniacslk/dhcp/pull/458

[2022-01-24 05:39] TachunLin opened #1861 "[FEATURE] Upgrade after v1.0.0"
The epic issue to continue tracking zero downtime upgrade related issues and test plan after v1.0.0 release
This extend the development and testing status from #1022 to perform more testing in different stages to fully check the zero downtime on bumped rke2, rancher and longhorn version.

## pre-1.0.0 dependencies
- [x] https://github.com/longhorn/longhorn/issues/3234 (Enhancement included in `v1.

[2022-01-24 06:06] TachunLin commented on #1022
Close this issue since we will continue tracking zero upgrade downtime related issue and test activity from pre-1.0.0 to post-1.0.0 to issue #1861.

[2022-01-24 06:06] #1022 closed, assigned to bk201, WuJun2016, TachunLin

[2022-01-24 06:19] TachunLin commented on #1645
After adding restart kube-vip pod mechanism into `harv-upgrade-harvester.sh`, after manual upgrade this issue did not happen.
Close this issue since the fix have already merged to the [upgrade-helper](https://github.com/harvester/upgrade-helpers)

[2022-01-24 06:19] #1645 closed, assigned to yaocw2020, TachunLin

[2022-01-24 06:22] guangbochen commented on #1859
@kinchlo can u please help to upload a generated support bundle via clicking the support page on the left bottom corner.

[2022-01-24 06:50] TachunLin commented on #1760
@DaiYuzeng
Verified **not fixed** on master-1be9cb5e-head (1/23).Move issue to implement stage.

### Result
After editing config of virtual machine with management network, the mac address remain unchanged,
However the original assigned network IP changed to another one, this can be treated as lost IP and route.
Please help to check whether it's the design or issue.

mac address before and after e

[2022-01-24 09:43] FrankYang0529 commented on #1824
From KubeVirt [source code](https://github.com/kubevirt/kubevirt/blob/aac4623aafcbd88211c1be309aaaa759cc0df957/pkg/virt-controller/watch/vmi.go#L909-L914), it leverages `nodeSelector` and `affinity` in Pod to schedule a VM. So if we want to distribute multiple VMs to multiple hosts, we can add a `vmNamePrefix` label and `podAntiAffinity`.

[code]

[2022-01-24 10:28] chifu1234 commented on #1858
Hi @tjjh89017,
Sorry I opened that issue a bit too quick ;).

I have to following setup:
On my switch I've configured vlan 10 and vlan 20.
Vlan 10 has the following ip 10.124.0.0/24. Vlan 20 has the following ip 10.124.1.0/24.
The default Vlan to the harvester node is Vlan 20. The VM running ontop of the harvester node is running in vlan 20 but tagged.
Now the vm running in vlan 20 tagged does not

[2022-01-24 10:37] tjjh89017 commented on #1858
Hi Kevin

First, let me confirm with you
Harvester-mgmt connects to switch with Vlan20 w/o tagged (native vlan)
(If possible, you could post the config of that port on the switch to us to confirm)

If so,
Because you setup vlan 20 for harvester mgmt port with untagged vlan 20.
And inside harvester, it will setup PVID as 1 on harvester-mgmt and harvester-br0.
So any untagged packet will act as VLAN

[2022-01-24 10:53] ravarga commented on #1734
Reproducer is fairly easy:
1. Deploy a first harvester node with an extra disk (I have used nvme)
2. Deploy and add second node with an extra disk and no partition on top. Such disk will be grayed out and not be possible to add.
3. Same happens on a third node.

The workaround is to create partition on extra disk. Such disk can be selected and added. However it cannot be removed. It gets stuck wit

[2022-01-24 14:20] lanfon72 commented on #1840
- [x] dashboard home page
- [ ] node details page

![image](https://user-images.githubusercontent.com/5169694/150799357-288e4026-d348-43e6-9ef1-8daced19c6d5.png)
![image](https://user-images.githubusercontent.com/5169694/150799404-c03ce2d8-5432-4724-8ae1-ebfc90aded82.png)

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-a67f96d0-head**
* **ui-source** Option

[2022-01-24 15:16] lanfon72 commented on #1346
Verified not fixed.
- 2nd disk size changed 3Gi -> 3000Gi (over system limit)
- VM's disk didn't changed

![image](https://user-images.githubusercontent.com/5169694/150810007-617732ad-3b45-4a82-bca1-abedb019fb2c.png)

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-a67f96d0-head**
* **ui-source** Option: **Auto**

### Verify Steps:
- Follow **Reproduce** ste

[2022-01-24 15:40] jadenlemmon opened #1862 "[Question] Update existing Harvester Configuration"
I have a question about updating an existing Harvester configuration.

For example, if I want to change the management address on an existing host, what is the best practice for doing so?

I see in the docs where it talks about the configuration https://docs.harvesterhci.io/v1.0/install/harvester-configuration/. But how do I update an existing configuration, not a new install?

I don't really see

[2022-01-24 16:22] cybaware commented on #1859
Hello Guangbochen

Thank you for your message

I encountered another problem as I could not download the support package 0_o.
For now I was able to fix the problem, it has to do with MTU.
Now I also see the "Cluster Metrics" section in the dashboard again.

Node3 is connected through an IPsec tunnel. Since I had problems with some applications, I calculated the header and set the MTU value for the

[2022-01-24 22:40] cybaware commented on #1859
i did more tests::::

I have tested different MTU values (1420,1440,1444,1460,1480,1500)

The Cluster Metrics section works only if the MTU value for the IP/UDP packet is 1500Byte. With MTU values <1500Byte Cluster Metrics section and Grafana does not work. Grafana and Cluster Metrics section work only if IP/UDP MTU =1500Byte (I didn't test higher MTU). This also means that packets with IPsec head

[2022-01-25 00:21] bk201 commented on #1852
We also need the ability to access jobs logs during an upgrade. The job logs can be accessed from Kubernetes, but they might be deleted at a later time automatically.

[2022-01-25 02:12] liusl12 opened #1863 "[Question]install harvester v1.0 mount /tmp/mnt/STATE cannot find in /etc/fstab"
![image](https://user-images.githubusercontent.com/29368695/150897899-81c98630-980d-4035-a385-00536858e0ef.png)

[2022-01-25 02:43] bk201 commented on #1862
The harvester configuration is stored as `/oem/harvester.config` for reference after installation. Changing this file has no effect after a system is provisioned.
Behind the scene, the config file is converted into cOS cloud-init file `/oem/99_custom.yaml`, so if we want something on the system to change, that's the right place to go.

Please be aware we don't support and didn't test changing mana

[2022-01-25 04:06] FrankYang0529 commented on #1824
Following are kube-scheduler log for two VMs. The main difference scores between nodes are `NodeResourcesBalancedAllocation` and `NodeResourcesLeastAllocated`. We can see allocatable resources are the same in two schedules for two VMs. This is because the scheduler uses [SnapshotShardLister](https://github.com/kubernetes/kubernetes/blob/1f86634ff08f37e54e8bfcd86bc90b61c98f84d4/pkg/scheduler/framew

[2022-01-25 04:47] guangbochen commented on #1859
thanks for the detailed info, I think the issue is caused by the default MTU value configured by the `harvester-mgmt` bond(this is also the internal cluster management network) which is set to 1500, so if u prefer to use a different MUT config on your environment u should update this value accordingly.

[code]

As an enhancement, I think we need to expose this one as a configuration via the `harve

[2022-01-25 04:58] guangbochen commented on #1824
so does this means it only happens when a bunch of VMs was deployed simultaneously? if that's the case I think it would be helpful to introduce the soft affinity to distribute those VMs accordingly.

Also, we need to take the Harvester node driver into account if the same issue happens to its machine pools.

[2022-01-25 05:08] guangbochen commented on #1818
@nunix the [harvesterhci.io ](https://harvesterhci.io/) home page is hosted on https://github.com/harvester/harvester.github.io and it was also using the Hugo with a [customized template](https://github.com/rancherlabs/projects-theme).

[2022-01-25 05:29] FrankYang0529 commented on #1824
Yes, I think so. I try to apply multiple VMs in one YAML file and all VMs will be deployed to one node. I will try the Harvester node driver to see whether have the same issue.

[2022-01-25 06:22] guangbochen commented on #1683
TODO: we may consider storing the node original IP and mac info to the Harvester CRD annotations e.g,`nodenetwork`. And when the current IP is changed we should add a proper error message to the web UI of the host page.

[2022-01-25 06:42] bk201 commented on #1863
@liusl12 Does this always happen? Does re-installing solve the problem?

Could you change to second TTY (CTRL+ALT+F2) and log in with rancher/rancher to dump output of these commands:
- `sudo lsblk`
- `sudo blkid`
- `sudo dmesg`

Thanks.

[2022-01-25 06:45] yaocw2020 commented on #1772
For testing
- Set up a harvester
- Create a deployment and related load balancer type service
- Specify the field `spec.loadBalancerIP` with a static IP
- Request the svc through the load balancer IP

[2022-01-25 06:48] yaocw2020 commented on #1782
For testing:
Use the master-head to spin up the Harvester and the VIP will be normal.

[2022-01-25 06:50] bk201 opened #1864 "[FEATURE] Support bundle for a single node (Live/Installed)"
**Is your feature request related to a problem? Please describe.**

It's hard to debug a failed installation or un-provisioned node without asking for much info from users.
e.g., https://github.com/harvester/harvester/issues/1863

**Describe the solution you'd like**

It would be nice to add a command to generate a node support bundle for a node that is in live mode or installed mode.

We can leve

[2022-01-25 06:54] FrankYang0529 commented on #1824
We already have `podAntiAffinity` in Harvester node driver, so VMs from it don't exist in the same node.

[code]

[code]

[code]

[2022-01-25 07:08] guangbochen commented on #1845
I have quickly walkthrough the support bundle logs and didn't encounter any obvious error logs, also tried to inspect a few nodes of the existing bare-metal environment and all of them seem quite stable.
![image](https://user-images.githubusercontent.com/4569037/150926467-7cc6e736-132f-4472-bce7-2b98bff41d83.png)

Since u are using a nested VM to running the Harvester node, and I just wondering wh

[2022-01-25 07:20] guangbochen commented on #1787
To Test:
- verify the air-gap env works with the latest monitoring chart
- verify both the cluster and VM monitoring metrics are showing properly on both the home page and the VM metrics page.

[2022-01-25 10:47] liusl12 opened #1865 "[Question] install v1.0 loading image spend too much time, almost 1hour"
![image](https://user-images.githubusercontent.com/29368695/150962723-c7d1b91d-be1c-4890-9986-fb382584ecc6.png)

[2022-01-25 10:49] liusl12 commented on #1865
![image](https://user-images.githubusercontent.com/29368695/150962897-64cc5b9c-dfe3-480c-93aa-7a40c8379507.png)
![image](https://user-images.githubusercontent.com/29368695/150962960-d96cafb6-6b96-46a2-a617-278483491b16.png)
![image](https://user-images.githubusercontent.com/29368695/150963009-d0b61778-37f1-4255-b9eb-2f9277268a8d.png)

[2022-01-25 11:15] liusl12 commented on #1865
![image](https://user-images.githubusercontent.com/29368695/150967005-77498340-3265-4dd8-a16c-c2ca127eb14f.png)
checking too slow

[2022-01-25 11:18] lanfon72 commented on #1663
Verified this bug has been fixed.

- [x] Volume Creation
- [x] VM page
- [x] RKE1 node driver
- [x] RKE2 node driver

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-a67f96d0-head**
* **ui-source** Option: **Auto**
* Rancher Version: **v2.6.3**

### Verify Steps:
1. Install Harvester with any Nodes
2. Create a Image from URL and need long downloading
3. Navi

[2022-01-25 11:18] #1663 closed, assigned to lanfon72, n313893254

[2022-01-25 11:27] lanfon72 commented on #1712
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/150968160-df93b19a-142a-43fc-88c8-aefca480ff89.png)

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-a67f96d0-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with at least 2 nodes
2. Login to Harvester and Navigate to **Hosts**
3. Nod

[2022-01-25 11:27] #1712 closed, assigned to lanfon72, n313893254

[2022-01-25 11:35] cybaware commented on #1859
i tried to add MTU to my harvester-mgmt interface with following line:  MTU='1444' to the file:
(/etc/sysconfig/network/ifcfg-harvester-mgmt)
but it is not persitent, means my new line with the MTU Value is gone after reboot.
i was thinking its the correct file for persistency. Can you Please provide me the information where i have to add the MTU Value with persitency.

i really appreciate it
Than

[2022-01-25 11:45] TachunLin commented on #1731
@guangbochen, @gitlawr
This issue can be reproduced on v1.0.0 GA on 3 nodes provo bare metal machine with no VM created on node.

### Result
Unable to disable maintenance mode after rebooting 1st controller harvester node
Host can be discover to running status, keep in maintenance mode status

Wait for 10 minutes and disable several times, still can't disable maintenance mode

![image](https://use

[2022-01-25 14:46] TachunLin commented on #1731
I found after `leaving harvester node for hours` then back to check. After refresh harvester dashboard page, It's able to disable maintenance mode to let harvester node back to `running` status.

[2022-01-25 21:06] cybaware commented on #1859
am not sure if it is correct,

I have changed the MTU value here:
/oem/99_custom.yaml

After a reboot the new MTU value remained. :)

The entry is also present here /etc/sysconfig/network/ifcfg-harvester-mgmt. So the script from 99_custom.yaml pushes the config to /etc/sysconfig/network/ifcfg-harvester-mgmt.
Would be great if someone could verify it.

99_custom content

[2022-01-25 22:32] cybaware commented on #1859
Have now set all nodes to MTU 1400. Firewalls logs all look good. No segmentation on LAN side and no segmentation on WAN side.

I also restarted all nodes again.

Unfortunately the Cluster Metrics and Grafana section is not displayed again.

I will generate a new support package tomorrow

[2022-01-26 02:02] wangpan-hqu opened #1867 "There is no prompt after the session expires. You need to refresh manually to return to the login page"
**Describe the bug**

There is no prompt after the session expires. You need to refresh manually to return to the login page
**To Reproduce**
Steps to reproduce the behavior:
1. Log in to harvester
2. Wait about ten hours
3. No response when clicking on the page
4. Manually refresh and return to the login page

**Expected behavior**
Click the page prompt to automatically return to the login page a

[2022-01-26 03:51] FrankYang0529 commented on #1799
I can reproduce this issue, but we cannot fix this issue from Harvester side if Rancher already can't access Harvester cluster. I think we should separate this issue into two cases:

* Harvester is inaccesible: this may be caused by network issue, so we can do best effort to delete RKE2 cluster. Also, we can provide documents to manually delete VMs in Harvester and CR objects in Rancher.
* Harvest

[2022-01-26 04:11] yasker opened #1868 "[FEATURE] Switch Harvester components base image to SLE BCI"
It's maintained much better than e.g. alpine.

The scope includes all the Harvester components, e.g. cloud provider etc.

E.g. https://github.com/rancher/rancher/blob/release/v2.6/package/Dockerfile

[2022-01-26 05:01] liusl12 opened #1869 "[Question] install complete，restart server，back to install"
![image](https://user-images.githubusercontent.com/29368695/151106594-0fe0f977-519f-40a4-b843-480025d1a8ea.png)

![image](https://user-images.githubusercontent.com/29368695/151106410-2eaf7852-edc0-4fb1-bbbe-7044ee202e6f.png)

[2022-01-26 06:35] bk201 commented on #1824
Just want to add during an upgrade, we will shut down VMs with `nodeSelector` and `nodeAffinity` fields, since they are unlikely to be migrated.
https://github.com/harvester/harvester/blob/a67f96d0796f4923959e4638bb2bcb421c9ea953/package/upgrade/upgrade_node.sh#L143-L166

VMs with **preferred** `podAntiAffinity` should be still able to be live-migrated.

[2022-01-26 07:01] bk201 commented on #1865
@liusl12 Is the `sda` a HDD or SSD? What's the disk bus controller? SATA or SAS?
From the `dmesg` output, we can see it actually took very long between certain mounts (873 -> 2472), there might be some I/O issues to the disk.

Sharing file `/run/cos/target/rke2.log` when loading images might help too.

[2022-01-26 07:07] liusl12 commented on #1865
@bk201 install success, but spend 1 hour😄

[2022-01-26 08:28] futuretea opened #1870 "[IGNORE] test issue for harvester bot"

[2022-01-26 08:29] TachunLin commented on #1787
Verified **fixed** on master-a67f96d0-head (1/26). Close this issue.

### Result
`Pass` the following check points on 3 nodes harvester under air-gap environments

1. Monitoring chart bump to `100.1.0+up19.0.3` compare with
    https://github.com/rancher/charts/tree/dev-v2.6/charts/rancher-monitoring
[code]
2. Host cluster monitoring chart display properly on home pahge
  ![image](https://user-ima

[2022-01-26 08:29] #1787 closed, assigned to TachunLin, w13915984028

[2022-01-26 10:22] TachunLin commented on #1727
@FrankYang0529, @guangbochen
Regarding to above test plan 3 and 4, I checked the latest master head version it seems can't find `support-bundle-image` in harvester  settings. Whether there is UI related PR need to be merged for this issue.

[2022-01-26 13:25] lanfon72 commented on #999
Can not reproduce this bug.
The VM can be created which exceed resource quota and start successfully.

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-a67f96d0-head**
* **ui-source** Option: **Auto**
* Rancher Version: **v2.6.3**

### Verify Steps:
1. Install Harvester with any nodes
2. Install Rancher and import Harvester in **Virtualization Management**
3.

[2022-01-26 13:25] #999 closed, assigned to FrankYang0529, lanfon72

[2022-01-26 13:30] dev01d opened #1871 "[BUG] Overwritten cloud-config"
**Describe the bug**

It looks like the cloud-config is being overwritten during save with a partial version of the default settings.

**To Reproduce**
Steps to reproduce the behavior:
1. Create VM with appropriate resource
2. Paste cloud-config in Advanced Options section
3. Uncheck "Start virtual machine on creation"
4. Click Save
5. Go back to edit config
6. Select Advanced Options

**Expected

[2022-01-26 13:54] ravarga opened #1872 "[FEATURE] harvester api for deploying exporters and collectors"
As an Enterprise organization, it is required to collect and store certain information about our hardware inside a CMDB. In order to collect this information, we created collectors and exporters for Prometheus.

Collectors for retrieving hardware information and firmware versions.
Exporters for exposing required hardware metrics, like smart metrics of hard drives. (e.g. NVME available spare, and a

[2022-01-26 15:12] FrankYang0529 commented on #1799
For different cases, I can get different results.

* Harvester is shutdown and inaccessible: we will get error message in deleting machine job if we try to remove RKE2 cluster. So RKE2 cluster will be stuck in `Removing` in Rancher.
![Screen Shot 2022-01-26 at 11 04 58 PM](https://user-images.githubusercontent.com/4927361/151189372-701bf9f3-387d-4d47-9ed6-770869af46d8.png)
* Harvester is up but it

[2022-01-26 16:03] kkaempf commented on #1813
Turns out that the problem probably was caused by a broken `/dev/sda`. As the drive was replaced meanwhile, I cannot reproduce the problem.
Closing for now. Will re-open if/when new logs are available,

[2022-01-26 16:03] #1813 closed, assigned to johnliu55tw

[2022-01-26 18:07] nunix commented on #574
Hi team,

I'm currently seeing this behavior (not shutting down the VM) for Linux and Windows VMs.
I've tweaked the settings to reach a sort of middle ground, however the Harvester UI is not reflecting the "true" state of the VM.

Here is what I did and which results I have:
- Create/Modify a VM > edit the YAML config
- Replace the `spec.running` by `spec.runStrategy`
[code]
- Add the KubeVirt `sp

[2022-01-26 20:15] Jellyfrog commented on #1845
The VM was given 16 cores and 16GB ram, so that should be okay.
As you can see from the first post, its api-server and fleetagent pulling most cpu.

[code]

[2022-01-27 01:46] wangpan-hqu commented on #1869
You should restart from the hard disk instead of CD or USB

[2022-01-27 02:16] elegasoft opened #1873 "[BUG] Install fails at HostName"
**Describe the bug**
Install fails at hostname

**To Reproduce**
Steps to reproduce the behavior:
1. Boot Install ISO
2. Choose Create or Join (doesn't matter)
3. Choose Installation Disk (doesn't matter)
4. Enter Custom HostName and press Enter
5. Install fails and returns you to Step 2

**Environment:**
 - Harvester ISO version: v1.0.0
 - Underlying Infrastructure: Baremetal with Supermicro X9-D

[2022-01-27 02:25] lucasajackson opened #1874 "Multiple Disks Swapping Paths"
I'm running into some problems with my Harvester setup.  My power went out today, and my Harvester box came back up with the /dev/sdc and /dev/sdb switched around.  Harvester didn't like that, and showed that my partitions were missing due to the disks being swapped.  I was able to get the drives back in the correct order by restarting the server, but I blew away the partitions and recreated them.

[2022-01-27 02:30] bk201 commented on #1873
@elegasoft
When you say after `4. Enter Custom HostName and press Enter, install fails and return to step 2`. Does the installation progress start and the node is rebooted? Or the installer just got back to step 2. Thanks.

[2022-01-27 02:33] elegasoft commented on #1873
The installer returns to Step 2. There is an audible beep which occurs and a screen flash. If there is a way to debug/access install logs I would be happy to provide that information for you.

[2022-01-27 02:34] bk201 commented on #1874
@lucasajackson Harvester uses FS labels to find the partitions, device name switching around should have no impact on the boot. Does the second disk have Harvester installed before or any existing partitions?

[2022-01-27 02:41] lucasajackson commented on #1874
It boots up correctly, but doesn't find the extra disks I have attached due to the path being swapped on reboot.   The disks originally had NTFS partitions on them; however, when I first setup the server I had Harvester force format the disks to ext4 and added them to the storage pool.   Everything was working until it swapped yesterday after the power outage.

[2022-01-27 02:44] bk201 commented on #1873
@elegasoft Does the screen resolution looks small (maybe only 640*480). I wonder if the display area is too small to fit the info text at the bottom or center:

![Screen Shot 2022-01-27 at 10 41 12 AM](https://user-images.githubusercontent.com/1691518/151282387-5e944257-e010-45dd-9b20-9360fcd6cb68.png)

Add `nomodeset` kernel parameter when booting the ISO might fix the resolution issue.

Capturin

[2022-01-27 02:47] bk201 commented on #1874
@lucasajackson Thanks for the reply. How did you add the extra disk to the storage pool? From the Harvester GUI?

[2022-01-27 02:51] bk201 commented on #1874
Never mind. I follow the Slack discussion thread and it's from the GUI.

[2022-01-27 02:51] lucasajackson commented on #1874
Yeah, I did it in the Harvester UI under Hosts > host > disks > edit config.

[2022-01-27 02:55] lucasajackson commented on #1874
I will mention that before I figured out it was swapping disk paths, I reformatted the hard drive yesterday from the command line via ssh.   The old partitions were stuck in the harvester GUI, and I had a fun time getting that straightened out, but I was able to get into the Longhorn UI and get everything worked out.

[2022-01-27 03:12] bk201 commented on #1874
The WIP PR: https://github.com/harvester/node-disk-manager/pull/24 might fix this issue.

[2022-01-27 03:41] FrankYang0529 commented on #1799
I think we need to separate this issue into 3 cases:
* Harvester is inaccessible (network issues, harvester shutdown): in this case, we will get errors in removing RKE2 machine jobs like the following. I think it is fine. We can just do best effort to remove the RKE2 cluster because we can't connect to the Harvester cluster.
![](https://user-images.githubusercontent.com/4927361/151189372-701bf9f3-

[2022-01-27 03:51] wangpan-hqu opened #1875 "The non-image volume is the first volume, and the virtual machine cannot boot"
**Describe the bug**

 The non-image volume is the first volume, and the virtual machine cannot boot
**To Reproduce**
Steps to reproduce the behavior:
1. create a vm
2. create  a image volume  and volume ，image volume ‘s bootorder is 2
3. Other options default
4. save
![屏幕截图 2022-01-27 114807](https://user-images.githubusercontent.com/74587498/151288736-b742b301-7e1d-41f7-afca-76ac43f6f003.png)

*

[2022-01-27 04:13] elegasoft commented on #1873
Adding nomodeset does not change the behavior and I have no trouble seeing the full screen.

Running `journalctl -u getty@tty1.service` doesn't give me any useful information but you can see for yourself.

![20220126_191231](https://user-images.githubusercontent.com/16218581/151286067-553eceb2-5270-4b2b-a739-718db2fb5edd.jpg)

and the /var/log/console.log is empty

![20220126_191350](https://user-

[2022-01-27 06:50] tjjh89017 opened #1876 "[BUG] Shutdown sequence is unexpected. Umount overlayfs before stop containers"
**Describe the bug**

Shutdown sequence is unexpected. Umount overlayfs before stop containers
cause some ext4 error log in console

**To Reproduce**
Steps to reproduce the behavior:
1. Shutdown harvester node
2. check console logs

**Expected behavior**

No ext4 error log of Prometheus container or other containers

**Support bundle**

**Environment:**
 - Harvester ISO version: 1.0.0
 - Underlyin

[2022-01-27 07:02] tjjh89017 commented on #1683
If the node's ip is changed, cluster will treat that node as dead.
in rke2-server.service logs
It shows rke2 will start some program and attach the original IP.
Once IP is changed, rke2 will still try to connect to original IP and throw exception.
If we restart rke2-server or rke2-agent at that time. (or reboot it)
it will restart the service, attach to new IP and re-connect back to cluster.
Clust

[2022-01-27 10:50] IArchi opened #1877 "[Question] Redirect host requests to LoadBalancer"
Hello,

I have the following setup:
![image](https://user-images.githubusercontent.com/92300377/151343136-bddbe1f9-d3ea-4e71-9acb-9be32a22ed2d.png)

- Two devices, running both a Harvester instance.
- A single Harvester Cluster
- A single K3S Cluster
- 4 K3S nodes
- 1 Pod (Empty Nginx)
- 1 Service to expose Nginx on port 2222 on LoadBalancer
- 1 Ingress to reach the service easier.

Full Yaml is a

[2022-01-27 15:16] kajla commented on #1745
Hello,
Any news?

[2022-01-27 15:20] DonThorntonJr commented on #581
although RancherOS v2 (an immutable Linux distribution...)  is a desirable option in a production environment, there is still some development and remediation of the underlying OS for Harvester that can be facilitated through continued and parallel development on K3OS.

[2022-01-27 15:23] kajla commented on #1365
Dear @vanakema ,

It's okey, but what happens when the system is installed on a small SD card, and other bigger, faster data disk(s) is attached from SCSI?
We have got some blade servers, which contain a small (32/64 GB) SD card for OS, and lot of TB disk from SCSI.
Is it possible to install Harvester?

Thank you in advance for your answer.

[2022-01-27 15:34] olljanat commented on #1365
@vanakema Note that Harvester is not based on K3OS anymore #581 so it's limitations does not matter here.

@kajla that sounds like use case which #1199 is about.

[2022-01-27 15:39] jadenlemmon opened #1878 "[BUG] Builder package user data / network data mismatch"
**Describe the bug**

My use case for encountering this bug was through the [Terraform Provider](https://github.com/harvester/terraform-provider-harvester). I was creating a virtual machine with cloud-init data passing secret values for user data and network data. However, the network data was not persisting.

Upon further investigation, it seems in the go package consumed by the terraform provide

[2022-01-27 15:42] jadenlemmon commented on #1862
Thanks for the help!

[2022-01-27 15:42] #1862 closed, assigned to nobody

[2022-01-27 15:54] vanakema commented on #1365
Yea I was just mentioning it as a reference to the Rancher team's general sentiment on full diskless live boot via PXE (vs PXE install which they do support for both K3OS and Harvester)

[2022-01-27 16:27] kajla commented on #1199
We have got some blade servers, which contain a small (32/64 GB) SD card for OS, and lot of TB disk from SCSI.
Is it possible to install Harvester after first stable release?

[2022-01-27 17:54] elegasoft commented on #1873
After using the CLR_CMOS jumper to clear the bios and attempting a reinstall without appending nodemodeset I was able to finally get passed that field and completed the install.

[2022-01-27 17:54] #1873 closed, assigned to nobody

[2022-01-27 23:13] yasker commented on #1857
@aiwantaozi The related PR has been merged on the Rancher side. cc @guangbochen

[2022-01-27 23:50] yasker commented on #574
@nunix Thanks for the info.

For shutting down VM to work correctly **from inside the VM**, a few takeaways here:
1. To prevent the VM from automatically being restarted, seems the `runStrategy: RerunOnFailure` is better.
2. `ACPI` has to be enabled to ensure the hypervisor can control/know the power cycle.
3. The VM pod seems will get into the `Completed` state and that's not being detected corre

[2022-01-28 00:29] noahgildersleeve commented on #1658
Tested in Harvester in version master-a67f96d0-head and Rancher in version de87624 (off of v2.6-head with docker install) and I got errors on provisioning RKE2 clusters. This was in v1.22.5, v1.21.8 and v1.21.7. RKE1 in v1.21.8 worked fine. The RKE2 clusters didn't even create a VM in Harvester. Got error
[code]
![Screenshot from 2022-01-27 16-27-50](https://user-images.githubusercontent.com/83787

[2022-01-28 01:26] grieous opened #1880 "[BUG] VM backup cannot be deleted and always in Progressing state"
**Describe the bug**
The backup I created from the virtual machine is always running and cannot be deleted，

Call the delete backup interface and return the status：
VolumeSnapshot ztron-01-copy-volume-ztron-01-disk-0-o02cm in error state

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'

**Expected behavior**

**Support bundle**

**Environment:**
 - Harvester ISO version:  [V1.0.0]

[2022-01-28 07:39] yaocw2020 commented on #1790
For testing:
- Set up a Harvester with one host, enable VLAN, and create a VLAN network.
- Import the Harvester into Rancher and create an RKE2 in the VLAN network with the Harvester cloud provider through the Harvester node driver.
- Deploy an Nginx deployment and create the related load balancer service.
- Access the service(using curl command) from the Harvester Host.

Cause the modification af

[2022-01-28 07:54] bk201 commented on #1873
@elegasoft Good to hear you managed to install it. Could you share what kind of VGA card you have on this machine? Thanks.

[2022-01-28 08:00] nunix opened #1882 "[Bug] Shutdown from inside the VM results in VM rebooting/UI stuck?"
Hi team,

I'm currently seeing the following behavior for Linux and Windows VMs: when I try to shutdown the VM from the guest OS, Harvester restarts the VM automatically.

I tweaked the settings (see below) to reach a sort of middle ground: Harvester doesn't restart the VM anymore, however the Harvester UI is not reflecting the "true" state of the VM and stays in a "pending" state.

Here is what I

[2022-01-28 09:00] FrankYang0529 commented on #1730
I can't reproduce this issue with Harvester `master-a67f96d-head` by following steps:

* Launch instance from `windows-iso-image-base-version` template.
* Give a VM name.
* Click `Volumes` tab.
  * Choose a windows image in `cdrom-disk`.
  * Volume Type will auto change to disk. Change it back to `cd-rom`.
* Click Create.
* Open in Web VNC for the VM.
* Choose `Custom: Install Windows only`.
![Scr

[2022-01-28 11:05] TachunLin commented on #1729
Verified **fixed** on master-a67f96d0-head (1/28). Close this issue.

### Result
The storage usage display correctly on dashboard even with harvester installed on large storage machine.
![image](https://user-images.githubusercontent.com/29251855/151535253-8f505b0a-49b6-4e85-b6f3-3910d89ddbff.png)

### Test Information
* Test Environment: 1 nodes harvester on local kvm machine
* Harvester version:

[2022-01-28 11:05] #1729 closed, assigned to n313893254, TachunLin

[2022-01-28 11:12] weihanglo commented on #1718
After another investigation, the root cause of this issue is "forgetting to persist the change of  blockdevice CR after partitioning".

[Consider this part], the `forceFormatDisk` returns a `newDevice` but the caller forgets to persist it. To solve this, we only need patch as the following,

[code]

I've tested the issue under KVM with single-node harvester attached with twenty 20GB SCSI disks. Be

[2022-01-28 11:25] WuJun2016 commented on #1346
@guangbochen  Does the frontend need to add any other restrictions here ？

[2022-01-28 12:10] simonflood commented on #1865
Surprisingly I've hit this issue myself although my installs got "stuck" on checking 32 images. After an hour I restarted & tried again - 4.5 hours later no progress! So I restarted & tried yet again leaving it overnight - 18 hours! Didn't matter whether I tried joining my existing cluster or creating new. I grabbed all the logs but can't see anything.

Given this was with a second NUC7i7DNKE with

[2022-01-28 13:53] lucasajackson opened #1883 "[BUG] Missing active network indication in UI when provisioning with Terraform"
**Describe the bug**
Networks created with Terraform do not show a green "active" label in the UI like they do when they're created in the UI.

**To Reproduce**
Steps to reproduce the behavior:
Create a new network in the Rancher UI and select "Auto(DHCP)" in the route section.  After the network is created it will indicate it's active under "Route Connectivity".

1. Create a network using Terrafo

[2022-01-28 15:10] gricuk opened #1884 "[Question] Is the harvester support hybrid clusters"
Hi, I haven't found any info in documentation, therefore I create this question.

Could you please clarify the possibility of setup hybrid k8s clusters? For example:
I want to create k8s cluster via rke2 and harvester with master nodes only(master nodes will be VMs in harvester) and then add to k8s cluster bare-metal servers as workers (without adding this nodes to harvester)

[2022-01-28 18:41] elegasoft commented on #1873
@bk201 Actually, when I first began experiencing the issue I didn't have a GPU installed at all, I was using the integrated VGA. I then tried installs with these cards: GT240, GTX680, GTX760, GTX1060-6GB, RX6600 (non-xt) which all resulted in the same error.  But I believe the video was captured using the GTX680 and a single E5-2609 with only 8GB of RAM, there's more on that GPU later.

Although,

[2022-01-28 20:29] noahgildersleeve commented on #1650
When you create a backup the label updates after creation with an error. I tested this on an NFS server that was created on the embedded Rancher, but it should do it on any one.
## Validation steps
1. Set a valid NFS target in settings
2. Create a new VM
3. Log into VM and create a file and put some text in it
4. run `sync` to write out memory to the disk
5. run a NFS backup
6. immediately check b

[2022-01-29 01:28] noahgildersleeve opened #1885 "Look into documentation site for UI tests"
This is a placeholder for checking into JSDoc based static site builders for our frontend tests. Something similar to what Longhorn does [here](https://longhorn.github.io/longhorn-tests/integration)

[2022-01-29 09:30] futuretea commented on #1878
Generally, users do not input node driver's networkData with a length greater than 2048.
But for safely, also update dependencies in Harvester Node driver(https://github.com/harvester/docker-machine-driver-harvester/pull/29)

[2022-01-29 19:14] McShauno commented on #1845
@Jellyfrog The minimum recommended memory according to the docs is `32GB` with the preferred amount of memory being `64GB` so I think this explains your problem since you said you gave it only `16GB`.

[2022-01-30 04:55] DonThorntonJr commented on #1872
use Ansible:
`# ansible all -i "nljharv1," -u rancher -m setup`

[2022-01-31 10:11] sjdrc commented on #1568
I'm running into this issue too, but under management url I am presented with `https://10.1.1.139:30443` - However nothing is being served here, the port is closed.

### `kubectl logs -n kube-system jobs/helm-install-harvester`
[code]

### `kubectl get no`
[code]

### kubectl get all -A
[code]

[2022-01-31 14:26] bashofmann commented on #1658
Current status with Rancher 2.6.3 and RKE2 1.21.8+rke2r2:

When you provision an RKE2 cluster through Rancher with the harvester node driver, the cloud config path for the harvester-cloud-provider helm chart is correctly set by the UI (https://github.com/rancher/dashboard/blob/master/edit/provisioning.cattle.io.cluster/rke2.vue#L1027).

But the cloud config path in the harvester-csi-driver helm ch

[2022-01-31 16:01] cybaware commented on #1859
Hi, after some days of testing and running, i think there is a problem inside harvester to handle packets with Size MTU <1500 for example 1400Bytes. (UDP)
All my nodes have MTU1400.
No Metrics Data or Grafana is shown on the dashboard. Node 1 and Node 2 are in the same Layer 2 subnet. Node 3 is connected over a routed VPN.
in the Attachement, a new support packet.

Please let me know if you need m

[2022-01-31 21:24] noahgildersleeve commented on #1833
Tested in master-1a861fc1-head
## Validation steps
1. Create new VM with openSUSE image
2. Select openSUSE from OS Type in advanced settings
3. Check cloud config for qemu agent package

It currently is using `qemu-ga`
![Screenshot from 2022-01-31 13-20-05](https://user-images.githubusercontent.com/83787952/151875526-110276b1-55ad-44dc-8d20-6bee6725c167.png)

I checked the [commit](https://github.

[2022-01-31 23:13] cybaware commented on #1859
![image](https://user-images.githubusercontent.com/11486351/151888456-73dcc4bb-7e51-4a8e-8a63-c64bc0cff73f.png)

[2022-01-31 23:29] cybaware commented on #1859
![image](https://user-images.githubusercontent.com/11486351/151889902-07dcf460-d908-4a40-b536-e114316952cc.png)

[2022-02-01 08:33] andrehofman commented on #1872
To clarify the enhancement, it would be nice / better if the Harvester API would be made accessible to the "admins" somehow from Rancher for this purpose. Not having this kind of access sucks as it might be necessary to modify the configuration of the components like Prometheus to ship metrics of the platform or install certain log forwarders besides the aforementioned use-case. Think of it as the

[2022-02-01 13:39] yaocw2020 opened #1886 "[BUG] Panic if the vlan nad config is without labels"
**Describe the bug**

Apply the below YAML config and the harvester network controller manager will be panic.
[code]
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a harvester cluster and apply the below YAML config.
[code]

**Expected behavior**

**Support bundle**

**Environment:**
 - Harvester ISO version:  v1.0.0
 - Underlying Infrastructure (e.g. Baremetal with Dell Power

[2022-02-01 15:01] dweomer commented on #1497
Couple things going on here:

- because of the way rke2 join works (pre-shared secret) we would need either node-specific join tokens (not implemented yet, but possibly in the near to mid-term future) or some sort of node/member-management functionality on top of rke2/k8s
- @yasker and I are of the opinion that while such could be implemented in Harvester, because it is so low-level (node join for

[2022-02-01 21:09] noahgildersleeve commented on #1727
Tested in master-1a861fc1-head. Followed previously outlined test steps

I used the advanced settings page in Harvester rather than manually editing the charts. I also verified in the YAML of the pods via embedded Rancher on the Harvester node. This was on a 1 node Harvester setup in KVM.

[2022-02-01 21:09] #1727 closed, assigned to FrankYang0529, TachunLin, noahgildersleeve

[2022-02-01 21:37] yasker opened #1887 "[BUG] Document the way to update the memory limit for `rancher-monitoring`"
**Describe the bug**
To prevent the Prometheus from (OOM #1531), I've updated the `rancher-monitoring` chart manually on the bare metal cluster and applied a bigger memory limit e.g. `4000M`. It works initially, but it is always reverted back after a few hours or a couple of days. I am not sure what's the reason for the rollback.

**Expected behavior**
Either the setting shouldn't be rolled back,

[2022-02-01 21:59] twoody2007 opened #1888 "[BUG] Starting VMs in quick succession sometimes results in duplicate IPs being assigned"
**Describe the bug**
---
*First off:* this is my first bug report on this repo. I took a look at some others to make sure I put enough information in. Please let me know if there is any other context or information I should be providing!
---
Starting VMs in quick succession sometimes results in duplicate IPs being assigned.
This can be both from rapid use of the GUI creation flow or creation via R

[2022-02-02 00:02] yasker commented on #1884
If you're creating the setup via Rancher, that won't be possible since Rancher will going to use the Harvester nodes to create VMs for all of your clusters.

But since RKE2 can be set up on any nodes, you can do it by manually starting VMs in Harvester, forming the master nodes, then adding additional nodes to the RKE2 cluster. It doesn't matter if you want to use bare metal nodes or VM nodes for

[2022-02-02 10:17] ibrokethecloud opened #1889 "[FEATURE] Ability to provide NetworkInterface details via kernel arguments"
**Is your feature request related to a problem? Please describe.**

Ability to pass harvester-mgmt interfaces objects via kernel arguments during PXE booting nodes

**Describe the solution you'd like**

Currently we can pass some of the harvester installation options present in the HarvesterConfig via the kernel arguments during the PXE boot process.

The harvester-installer reads the arguments fr

[2022-02-02 15:23] w13915984028 commented on #1695
A proto-type:

One VM has 2 massive-sized disk, we can try to map the related state from LH volume, to VM annotations (only when there are errors)

Next step, it would need the help of UI team, to display this annotation to proper place.

@yasker @guangbochen @WuJun2016

![image](https://user-images.githubusercontent.com/31133476/152182455-e2a0c938-1d12-4124-bd08-497e6de523c1.png)

![image](https:

[2022-02-02 18:07] noahgildersleeve commented on #1697
Tested in Rancher da382a8 and Harvester master-1a861fc1-head. Validated that you could create LB with specified IPAM with steps

## Verification Steps

1. Install the latest rancher and import a Harvester cluster
2. Create a cluster by Harvester node driver
3. Navigate to the workload Page, create a workload
4. Click "Add ports", select type as LB, protocol as TCP
5. Check IPAM selector
6. Navigat

[2022-02-02 18:23] yshashix commented on #1354
I still don't see the section to add https proxy while installing on v1.0 , I still see section to add http_proxy only.
Any idea how to add https proxy?

[2022-02-02 21:41] noahgildersleeve commented on #1790
Tested in rancher with version `da382a8` off of `v2.6-head` and Harvester `master-1a861fc1-head`
 with following steps

![Screenshot from 2022-02-02 13-40-04](https://user-images.githubusercontent.com/83787952/152241881-170eedf9-7764-42ef-a802-f0857ca3f7fd.png)

[2022-02-02 21:41] #1790 closed, assigned to yaocw2020, noahgildersleeve

[2022-02-02 22:45] yasker commented on #1695
I am fine with using the annotation. Though we need to follow `camel-camel` for the keys, e.g. it should be `vm.harvesterhci.io/volume-status` instead of `volumeStatus`.

[2022-02-02 23:28] samuel-odinware opened #1890 "Add custom service"
I was wondering what the best approach is to add a custom service to a host. I have written a custom fan controller service for systemd that I would like to have the daemon running in  Harvester but am unsure how to approach this. Thank you.

[2022-02-03 00:24] noahgildersleeve commented on #1772
Tested in Harvester `master-1a861fc1-head` and Rancher `da382a8`. with the test steps

I creted a deployment in Rancher with nginx, then created a load balancer service and specified the load balancer IP. It isn't routing it's still going to the endpoint that's in the YAML. The load balancer IP doesn't appear to be routing. Also the static IP I was trying to assign was in the same subnet as the on

[2022-02-03 16:16] twoody2007 commented on #1888
I believe this to be caused by creating VMs from non-cloud images having the same hostname when relying on IP assignment via DHCP.

I think this is not a bug, but from my own derpiness.

[2022-02-03 16:16] #1888 closed, assigned to nobody

[2022-02-03 16:36] w13915984028 commented on #1531
The complexity of prometheus deployment and resource patch:

@yasker @guangbochen

The related Pods deployed:
![image](https://user-images.githubusercontent.com/31133476/152384554-03271e48-0209-4074-8010-4d9dcc161e1c.png)

The complex "deployment" generating path, is there something on top of ManagedChart, is under investigation.  The general rule is that the resource limit patch should be done at

[2022-02-03 16:52] twoody2007 commented on #1519
I am currently experiencing this issue with the host on the same subnet as the nodes, using the same VM image as well. I am using the same versions as TachunLin

Perhaps there Is there some other required harvester configuration that isn't documented yet?

[2022-02-03 21:19] joshimoo commented on #1333
We previously before the lock stuff, and all the other backup changes switched from "auto delete the backup volume" when the last backup is deleted due to:
- concurrency issues
- backup deletion requires a GC pass while the backup volume deletion is just a flat out remove everything.

Since we already had the code and exposed the backup delete same as delete backup volume, we clarified the expecta

[2022-02-03 22:46] META-DREAMER opened #1891 "[BUG] CA Certificate error when joining new nodes to Harvester cluster"
**Describe the bug**

Not able to get a new agent machine to join the cluster. Get the following errors:

[code]

**To Reproduce**
1. Setup a single node harvester cluster
2. Join that cluster to a Rancher instance with `cluster-registration-url`
3. Start a new harvester node and join it to the first node cluster

**Expected behavior**
New node is able to join the cluster

**Support bundle**

**En

[2022-02-03 23:22] slickwarren opened #1892 "[BUG] URL for copying an image is for the harvester dashboard instead of a link to the image"
**Describe the bug**

* when selecting an image, user is brought to a page that shows the image path on the harvester setup. This link is copy-able, but link is incorrect. It is for the dashboard of harvester.

**To Reproduce**
Steps to reproduce the behavior:
1. download an image in your harvester setup
2. select the image from list of images
3. click `copy` button for the image

**Expected behav

[2022-02-04 05:21] elegasoft commented on #1757
I ran into a similar issue with both arguments and pipes and with a cloud-init script.

The solution to adding an argument was to change the script to this:
[code]
If you need to pipe the output to another command:
[code]
And if you need to write to a file you can use this:
[code]

This does get very cumbersome to address for some the longer cloud-init scripts.

[2022-02-04 10:14] w13915984028 opened #1893 "[BUG] fleet-agent has a very high CPU usage"
**Describe the bug**

`fleet-agent uses lots of CPU resource`  (updated, for tracking the CPU usage issue)
![image](https://user-images.githubusercontent.com/31133476/152509635-6658ffe5-3b06-48bc-931a-d35e6d582312.png)

`fleet-agent has log in every second, the "getting history for release" `
kubectl logs fleet-agent-78f694664b-69plq -n cattle-fleet-local-system
![image](https://user-images.github

[2022-02-04 11:27] w13915984028 commented on #1893
Further test:
1. kubectl scale --replicas=0 deployment fleet-agent
2. kubectl edit deploy fleet-agent, change CHECKIN_INTERVAL to 2s
3. kubectl scale --replicas=1 deployment fleet-agent
4. kubectl get deploy fleet-agent
5. kubectl get pods fleet-agent-69c9645d96-hj9rx
After step 3, at step 4, quickly, the CHECKIN_INTERVAL is reverted to 0s.
Step 5, the final fleet-agent POD is still using CHECKIN_

[2022-02-04 11:56] w13915984028 commented on #1893
even when tried to set CHECKIN_INTERVAL  as `4s` to fleet-agent pod, but from the log, it seems fleet-agent is still busy working.

![image](https://user-images.githubusercontent.com/31133476/152525075-8ddbcfc4-3242-42ac-a93f-98d3f71447c6.png)

[2022-02-04 21:21] gricuk commented on #1884
@yasker great thanks for the explanation.

[2022-02-06 07:37] emilyastranova commented on #1806
I second this, having the ability to use the actual VNC protocol instead of exclusively NoVNC is vital to one of my projects. I'm more than willing to develop this if I can get pointed the right direction

[2022-02-06 11:46] lanfon72 commented on #1778
close as can't reproduce the case.

[2022-02-06 11:46] #1778 closed, assigned to bk201, lanfon72

[2022-02-07 03:44] guangbochen commented on #1875
This is expected behavior, u should set the image boot order to `1` if the root disk does not contain any installed guest OS.

[2022-02-07 04:42] bk201 commented on #1873
@elegasoft Thanks for the detailed comments. AMD's graphic driver is open-sourced and included, so users normally see fewer issues when using Radeon cards.

[2022-02-07 05:34] tjjh89017 commented on #1683
Rke2 already stored IP info in Node annatations
- current ip: `rke2.io/internal-ip`
- init ip: `etcd.rke2.cattle.io/node-address`

Once IP was changed, node will fail to join etcd cluster and couldn't update IP info in Node CR.
Cluster will consider that node is dead.
If more than one node change, it will occur split brain.

[2022-02-07 05:39] WuJun2016 opened #1894 "[BUG] login with member role, no secret api access"
**Describe the bug**

The user login with the member role, views the vm template, and the page reports an error display no secret access

![image](https://user-images.githubusercontent.com/24985926/153567327-408f7717-5288-40b3-ba7c-b093de6e8bed.png)

![image](https://user-images.githubusercontent.com/24985926/153567416-4dd3a71f-dde7-46c4-8067-e303b4ccfc64.png)

The cloud-init in the template is sa

[2022-02-07 06:10] guangbochen commented on #1531
I think there will be two approaches to update the related chart configs, can we please help to verify them accordingly and choose the most feasible one:
- update and persist the monitoring `ManagedChart` CR to the ETCD, this is initially configured via https://github.com/harvester/harvester-installer/blob/master/pkg/config/templates/rancherd-13-monitoring.yaml#L1 as a bootstrap resource.
- [Custo

[2022-02-07 06:30] guangbochen commented on #1890
Harvester is developed by using the k8s as its infrastructure component, so u can turn your custom-service into a container workload and deploy it via https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/. And since this is a custom service so the Harvester team will not provide any support for it, thanks.

[2022-02-07 06:35] TachunLin commented on #1665
Close this issue, since the related dependency issue #1741 and #1742 only exists when harvester system resource almost close to full usage and we also validate these issue did not happen on bare metal machine with plenty of available resource.
We can add reminder to document to notify user beware of available usage before doing manual upgrade

[2022-02-07 06:35] #1665 closed, assigned to bk201, TachunLin

[2022-02-07 07:05] guangbochen commented on #1354
IIRC u should be able to configure both the http_proxy and https_proxy via the `settings -> http_proxy` setting.
https://docs.harvesterhci.io/v1.0/settings/settings/#http-proxy

![image](https://user-images.githubusercontent.com/4569037/152740609-f2cf1750-5b94-4656-9ebe-673f8f38934e.png)

[2022-02-07 07:46] johnliu55tw commented on #1822
@janeczku Is the VM running fine, only that GUI incorrectly shown the status as "Starting"?

I could somewhat reproduce the issue: After I created the VM, it eventually enters Running status and the GUI shows "Running". However, if I **refreshed the page**, it falls back to "Starting":

https://user-images.githubusercontent.com/5047724/152745688-dec39828-13fc-49cc-b4b5-7534f76251c2.mp4

Could you

[2022-02-07 08:26] guangbochen commented on #1568
Seems ur server doesn't have enough resources to run all the services properly, can u please help to check and share the event of the following services:
[code]

[2022-02-07 08:28] bk201 commented on #1745
@lanfon72 When adding a SCSI disk to Vagrant VMs, a new bus is added. Thus network interface names are also changed. (The two interfaces are changed from `[ens5, ens6]` to `[ens6, ens7]`.

When performing iPXE installation, we append kernel parameter `ip=ens5:dhcp` to specify the boot interface. This parameter and some settings need to be adjusted accordingly. You can check my [commit](https://git

[2022-02-07 08:30] bk201 commented on #1745
@kajla Did you see a similar issue in real hardware? Feel free to share more details. Thanks.

[2022-02-07 09:09] WuJun2016 commented on #1892
Hi, @slickwarren  I was not able to reproduce the problem according to the steps you provided, can you upload a video of the reproduction steps to help me reproduce the problem Thanks。

[2022-02-07 10:18] TachunLin commented on #1530
@WuJun2016 , This issue was found while reproducing issue #1830  on `master-1a861fc1-head`. (02/07/22)

After ISO install 3 nodes harvester in ready status, access dashboard via VIP.
The bootstrap page hanging for a while and display the rancher bootstrap page.

* In the following screen, user have no way to set password to proceed
![0207_bootstrap_rancher](https://user-images.githubusercontent.co

[2022-02-07 12:01] kajla commented on #1745
@bk201 No, I didn't, just interested.
We plan to install Harvester on HP c7000 Bladesystem (15xHP BL460c blade) with HP MSA2040 storage. SAN is attached to blades by SCSI. We thought we will allocating disks for VMs from a SCSI LUN.
Each blade has small SD card, witch we plan to upgrade to SSD for Harvester OS.
We plan to buy a Harvester license for support.

[2022-02-07 12:28] guangbochen commented on #1737
are u creating all of the VMs simultaneously via  the `Multiple Instance` option, if yes then there is a similar issue of https://github.com/harvester/harvester/issues/1824 and will be fixed via adding the soft-affinity rules.

[2022-02-07 15:46] w13915984028 commented on #1718
Good catch.

And 2 questions:
1. As forceFormatDisk may return a newly created object, or a locally updated object, should this be expressed clearly in an additional return parameter? using "if newDevice.Name != deviceCpy.Name" to check creating/updating, may not cover further changes in forceFormatDisk .

2. In following code of OnBlockDeviceChange,  when update fail, the enqueue is skipped, shou

[2022-02-07 15:57] w13915984028 commented on #1893
Additional update:
The running environment when issue happened:

`One node Harvester, V1.0.0 master-head, runs 6 days.   There is a list of changes, which is caused by changing the resource limit of deployments.  The Helm Chart releases are stored in Secrets.`

![image](https://user-images.githubusercontent.com/31133476/152822238-3126787b-9caa-4492-b3a0-a3f5ab5c82c0.png)

`Today I rebooted the Har

[2022-02-07 18:06] dweomer commented on #1846
@abonillabeeche can you specify which version of Rancher? My guess is 2.6.3

[2022-02-07 21:24] noahgildersleeve commented on #1840
Tested in `master-1a861fc1-head`
## Verification steps
1. Created new VM
2. Checked dashboard home page
![Screenshot from 2022-02-07 13-15-14](https://user-images.githubusercontent.com/83787952/152874193-d6fe84b0-595d-4a55-9670-b9add759dd37.png)
3. Checked node details page
![Screenshot from 2022-02-07 13-15-27](https://user-images.githubusercontent.com/83787952/152874228-9ff34bfd-3742-4cd9-822f-0

[2022-02-07 21:24] #1840 closed, assigned to lanfon72, n313893254, noahgildersleeve

[2022-02-07 21:38] dweomer commented on #1846
@abonillabeeche:

- RKE2 1.22.x support is marked as experimental. Is the use of such here intentional?
- This issue does not reproduce for me with RKE2 1.21.8+rke2r2 on Harvester 1.0.0 using a Rancher 2.6.3-patch1 MCM.
- This issue does not reproduce for me with RKE2 **_1.22.5+rke2r2_** on Harvester 1.0.0 using a Rancher 2.6.3-patch1 MCM.

[2022-02-07 21:40] noahgildersleeve commented on #1841
Tested in Harvester `master-1a861fc1-head` and Rancher `v2.6-948355cc596b8466a77aec5276640425a5935852-head`.
## Verification Steps
1. Create new user in Rancher
2. Import Harvester
3. Add new user as member user in RBAC in Harvester through virtualization management console
4. Log into Rancher with new user
5. Check dashboard for Harvester through Rancher RBAC login
![Screenshot from 2022-02-07 13

[2022-02-07 21:40] #1841 closed, assigned to DaiYuzeng, noahgildersleeve

[2022-02-08 00:31] slickwarren commented on #1892
I was not able to reproduce this on another setup, I will close this issue.

[2022-02-08 00:31] #1892 closed, assigned to slickwarren, WuJun2016

[2022-02-08 02:24] WuJun2016 commented on #1650
@guangbochen  This may be a backend issue.

[2022-02-08 02:53] noahgildersleeve commented on #1650
It shows the error then it continues to create the backup. the issue is that it shouldn't be showing the error.

[2022-02-08 03:26] #1880 closed, assigned to nobody

[2022-02-08 04:03] TachunLin commented on #1830
- [x]  ISO installation for VIP node join scenario

Verified `fixed` on for ISO installation scenario on `master-1a861fc1-head` (02/07/22).

### Result
In ISO installation, we can add node 4 while rancher pod and VIP on different node

### Test Information
* Test Environment: 4 nodes harvester on local kvm machine
* Harvester version: master-d05a6cc7-head

### Verify Steps

1. ISO install harveste

[2022-02-08 04:05] TachunLin commented on #1830
- [x]  PXE Boot for VIP node join scenario

### Status
Verified `fixed` on for PXE boot installation scenario on master-1a861fc1-head (02/07/22)

Can add node4 to cluster when rancher pod and VIP located on different nodes
![image](https://user-images.githubusercontent.com/29251855/152976493-5cb36bed-91c7-473f-b366-2b9b827b8713.png)

After node 4 joined to cluster, check the rancher pod and VIP ar

[2022-02-08 06:02] weihanglo commented on #1718
@w13915984028 Thanks for your review!

There won't be any partitioning performed by NDM anymore after https://github.com/harvester/node-disk-manager/pull/26, so the if statement will remove later.

if `OnBlockDeviceChange` fails, IIRC controller will re-enqueue automatically.

[2022-02-08 06:14] yaocw2020 commented on #1886
For testing:
- Apply the YAML mentioned above manually.
- Observe whether the harvester-network-controller-manager pod is normal.

[2022-02-08 08:07] FrankYang0529 opened #1895 "[BUG] harvester-csi-driver pod stuck in creating"
**Describe the bug**
When we create a new RKE2 cluster, harvester-csi-driver can't be deployed successfully. The error message is `FailedMount	Pod harvester-csi-driver-xxxxx
MountVolume.SetUp failed for volume "cloud-config" : hostPath type check failed: /etc/kubernetes/cloud-config is not a file`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new RKE2 1.22.5-rke2r2 cluster.
2. Af

[2022-02-08 10:27] wangpan-hqu opened #1897 "Why does it enter the harvester login interface when accessing the rancher service in nodeport mode"

[2022-02-08 10:30] wangpan-hqu commented on #1897
![屏幕截图 2022-02-08 182907](https://user-images.githubusercontent.com/74587498/152969467-982638f1-b497-4871-8c16-c2027c7dbd3c.png)

[2022-02-08 10:44] FrankYang0529 commented on #1812
I can run harvester-csi-driver and create, read, write, resize and delete volume on k3s by following steps.

**Deploy harvester-csi-driver**
1. Create k3s cluster.
2. Run [this script](https://github.com/harvester/harvester-csi-driver/blob/master/deploy/generate_addon.sh) to create a new kube-config file for k3s.
3. Copy kube-config file to `/etc/kubernetes/cloud-config` k3s VM.
4. Install harvest

[2022-02-08 11:29] TachunLin commented on #1830
According to above test result.
Verified fixed to add node 4 in the following scenario on master-1a861fc1-head (02/07/22). Close this issue.

- [x] ISO installation for VIP node join scenario
- [x] PXE Boot for VIP node join scenario

[2022-02-08 11:29] #1830 closed, assigned to bk201, TachunLin

[2022-02-08 16:36] belgaied2 commented on #1580
Though this is necessarily highest priority, I would expect this to be problematic in bigger deployments where many Load Balancer services are created in downstream clusters deployed on Harvester.

[2022-02-08 17:16] simonflood commented on #1737
No, at that point I was creating VMs one at a time and they were all being created on the same (second) node.

[2022-02-08 18:26] zlojadmin opened #1898 "[Question]Not able to boot on Cisco UCS"
Cisco UCS  B200 M2 Server (rather old) with 96Gig of ram and 320Gb HDD. Installed fine, but not booting up.

[2022-02-08 18:56] rebeccazzzz opened #1899 "[EPIC] Add performance and scalability benchmarks"
We would like to add performance and scalability benchmark tests.

Related Issues:
- [x] https://github.com/harvester/harvester/issues/2302

[2022-02-08 20:10] noahgildersleeve commented on #1886
Tested in `master-f303b27e-head`.
[supportbundle_542027dd-7e8c-4fba-b5a1-0d45e9d72666_2022-02-08T19-42-30Z.zip](https://github.com/harvester/harvester/files/8026928/supportbundle_542027dd-7e8c-4fba-b5a1-0d45e9d72666_2022-02-08T19-42-30Z.zip)

## Verification Steps
Steps to reproduce the behavior:

1. Set up a harvester cluster
2. Add vlan interface
3. Apply the below YAML config. (I used embedded

[2022-02-08 20:10] #1886 closed, assigned to yaocw2020, noahgildersleeve

[2022-02-08 21:06] belgaied2 commented on #1430
Was a choice made here ? Is there going to be a fix ?

[2022-02-08 21:14] all4innov opened #2360 "Broken deployment with Equinix Metal - C3 family"
It's impossible to deploy Harvester via **iPXE** in **Equinix Metal** - **C3 family**
 (Harvester last available demos/code was mainly based on old decommissioned **C1 family**)

In case of I am missing something, here the used config files :

**ipxe-install**
[code]

**userdata-create.yaml**
[code]

[2022-02-08 21:19] aiyengar2 commented on #1893
@w13915984028 the check-in interval has nothing do with the high CPU usage you are experiencing + the "getting history for release" logs.

The check-in interval described how often Fleet-Agent should report back its status (e.g. the last time the agent checked in with Fleet in the local / management cluster, the agent namespace, and the number of ready / non-ready nodes int he cluster).

On the ot

[2022-02-09 01:09] bk201 commented on #1898
@zlojadmin Did you see the GRUB menu? Are you using UEFI mode or legacy mode? Thanks.

[2022-02-09 03:14] WuJun2016 commented on #1833
Hi, @abonillabeeche ,   My understanding is that the `qemu-guest-agent.service` in `runncmd` and `qemu-guest-agent` should be equivalent, right?

[2022-02-09 03:53] FrankYang0529 commented on #1650
This is related LH issue https://github.com/longhorn/longhorn/issues/3392. We parse status in VolumnSnapshot. If there is an error message in VolumnSnapshot, we also set it in VMBackup. However, this error message is temporary, so we will clear the error status and get a healthy VMBackup after VolumnSnapshot is done.

![Screen Shot 2022-02-09 at 11 42 27 AM](https://user-images.githubusercontent.c

[2022-02-09 06:05] zlojadmin commented on #1898
@bk201 No, no GRUB menu. It's Legacy at the moment. Which mode should I use?

[2022-02-09 06:18] bk201 commented on #1898
@zlojadmin Harvester should support both modes. If you are using UEFI mode, you can check if a correct boot partition is selected in the BIOS menu. For legacy mode, selecting the install disk should be fine.

[2022-02-09 07:51] WuJun2016 commented on #1760
Hi， @futuretea  Can you help locate whether this is a frontend or backend problem? thanks

[2022-02-09 08:17] zlojadmin commented on #1898
@bk201 Reinstalled from scratch, no luck booting. Is there a way to get installation logs maybe? There is installers console available after ATLT+F2, but I have no idea what is username/password. I can try to login and check if all components are installed maybe?

[2022-02-09 09:51] bk201 commented on #1898
@zlojadmin you can log in with rancher/rancher.

[2022-02-09 10:45] all4innov commented on #2360
@bk201 @robertvolkmann  any idea or return of experience ? Thanks in advance

[2022-02-09 10:57] all4innov opened #1901 "[BUG] Broken deployment with Equinix Metal - C3 family"
**Describe the bug**
It's impossible to deploy Harvester v1.0.0 via iPXE in Equinix Metal - **C3 family**
(Harvester last available demos/code was mainly based on old decommissioned C1 family)

C3 family problem is even demonstrated in this video/demo (where only C1 family was working)
https://www.youtube.com/watch?v=b8YDxlJYmpQ&t=3078s

**To Reproduce**
Following the example documentation:
https:

[2022-02-09 11:50] puttappa-raghavendra commented on #2360
facing the same issue as @all4innov

[2022-02-09 13:47] zlojadmin commented on #1898
Looks like installer is not creating anything for Legacy boot. Tried to enable EFI boot, but server does not support it. I'm not expert on EFI boot at all. Only thing I have noted that none of 6 partitions are marked as "bootable". Tried to Trigger boot flag for first partition - no luck. Also Cisco USC is rather "interesting" platform by itself. Maybe I can provide you some kind of info to try to

[2022-02-09 14:37] erSitzt opened #1902 "[BUG] First node does not fully start after install"
**Describe the bug**
After installing the first node it gets stuck in "Setting up Harvester"
I can ssh into the server, but rke2-server is never successfully starting

It looks like etcd is not started/starting/accepting connections
`journalctl -u rke2-server` gave me this:
[code]

**To Reproduce**
Steps to reproduce the behavior:
Just a basic install...

**Expected behavior**

**Environment:**
 -

[2022-02-09 15:31] futuretea commented on #1760
@TachunLin @WuJun2016  The IP address change is expected.

[2022-02-09 15:43] w13915984028 commented on #1154
With the wide deployment of Harvester, this enhancement looks to be important.

[2022-02-09 16:44] abonillabeeche commented on #1833
SLES15-SP4 and SLES15-SP3-QU2 + or patched openSUSE use the new service name.

[2022-02-09 17:26] erSitzt commented on #1902
Second install, identical server hardware went well...

Only thing different in my first attempt that comes to mind was, i went backward in the installer from the VIP dialog, because i decided to put my VIP on x.x.x.10 and the nodes ip on x.x.x.11 after initially using the x.x.x.10 in the node ip dialog

[2022-02-09 17:51] Jellyfrog opened #1903 "[BUG] DNS server not available during install"
**Describe the bug**

When doing a PXE boot using DHCP it fails to fetch ssh keys from github due to DNS server not being available yet.
It works however when doing it later over ssh from the node;
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install over PXE with the below config

**Expected behavior**

**Support bundle**

**Environment:**
 - Harvester ISO version:  master-f303b27

[2022-02-09 19:37] noahgildersleeve opened #1904 "[BUG] Can't upload large image files via web UI"
**Describe the bug**

When you try to upload large ISO or image files it errors out
**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to the images page
2. Select upload file
3. Upload a file that is larger than 2 GB. I tested it with a server2019 ISO

**Expected behavior**

The upload should complete successfully.
**Support bundle**

[supportbundle_c2f07121-0b02-46ef-8114-d5867098fd10

[2022-02-10 00:27] yasker commented on #1752
Close as the duplicate of #992

[2022-02-10 00:27] #1752 closed, assigned to nobody

[2022-02-10 03:13] TachunLin commented on #1760
Since after editing config of virtual machine with management network, the mac address remain unchanged.
And the VM ip address change is the expected behavior. Close this issue.

[2022-02-10 03:13] #1760 closed, assigned to DaiYuzeng, TachunLin

[2022-02-10 03:38] guangbochen commented on #1430
@belgaied2 we will support to add raw block device directly after PR https://github.com/harvester/node-disk-manager/pull/26.

[2022-02-10 04:03] ibrokethecloud commented on #2360
@all4innov @puttappa-raghavendra the issue stems from the pxe environment not trusting the CA cert on releases.rancher.com. We dont serve a http endpoint so the best idea would be to the harvester artifacts on an http endpoint and refer those in the PXE script.

[2022-02-10 04:54] johnliu55tw commented on #1718
I think it's more than [persisting the change](https://github.com/harvester/harvester/issues/1718#issuecomment-1024114231). It's still a race condition problem.

## We're passing a pointer to `forceFormatDisk`
First of all, because `forceFormatDisk` takes the pointer to the `deviceCpy` struct, `deviceCpy` is [still being updated](https://github.com/harvester/node-disk-manager/blob/8407a712e48c49ae

[2022-02-10 05:45] guangbochen commented on #1819
TO TEST:
- Added harvester/bot via https://github.com/harvester/bot and the [pre-merge check list](https://github.com/harvester/bot/blob/harvester/github-bot/harvester_github_bot/templates/pre-merge.md) will be added when moving the issue to the `Review` pipeline.
- A test issue will be auto-created on the `harvester/tests` repo when moving the `harvester/harvester` issue to either the `review, re

[2022-02-10 06:21] weihanglo commented on #1829
## Test Plan

1. Prepare a harvester cluster (single node is sufficient)
2. Provision two extra disks onto the host
3. Shutdown the host and then swap those two disks (either physical or virtual).
   - This not always leads to devPath swapping but just give it a try.
   - If your test environment is libvirt/qemu, swap the filename and WWN.
5. Reboot the host.
6. Expect that devPaths of those disks

[2022-02-10 06:24] weihanglo commented on #1795
Related to #1718

[2022-02-10 07:29] bk201 commented on #1649
@roncterry  Specifying kernel parameters like`harvester.install.iso_url= ` only works in full PXE boot mode ([with `harvester.install.automatic=true`](https://github.com/harvester/harvester-installer/blob/d763b37dc24a5ec2377f41896fbe74b42c779249/pkg/console/install_panels.go#L60-L66)), we'd suggest using this mode to do unattended installation.

[2022-02-10 09:35] FrankYang0529 commented on #1812
I can run harvester-cloud-provider with k3s to create dhcp/pool LoadBaclander by following steps.

**Setup k3s cluster**
1. Create k3s `1.21.9+k3s1` cluster.
![Screen Shot 2022-02-10 at 5 01 13 PM](https://user-images.githubusercontent.com/4927361/153373297-18a4c780-d9a1-4fad-82c0-50a81ad1d6b5.png)
2. Set `cloud-provider=external` in kubelet args.
![Screen Shot 2022-02-10 at 5 03 23 PM](https://us

[2022-02-10 09:43] FrankYang0529 commented on #1702
We need to show webhook error messages to users.

![image](https://user-images.githubusercontent.com/4927361/153380448-65989539-d002-44e8-a739-6405320d0848.png)

[2022-02-10 10:47] jmara opened #1905 "[BUG] Adding a third node to a cluster results in vm rebalancing"
**Describe the bug**
I've added a third node to my harvester 1.0.0 cluster and as soon as the node joined existing vms were relocated to this node resulting in an IO Error and unavailability of the vms. 2 out of 5 VMs change state from "paused" to "running" in a loop and are not accessible.

Events of the VMs show:
`VM Paused due to IO error at the volume: rootdisk `

After trying to stop the VMs

[2022-02-10 13:13] all4innov commented on #2360
@ibrokethecloud  right and working when using local http server, big thanks

[2022-02-10 16:11] puttappa-raghavendra commented on #2360
@ibrokethecloud @all4innov While installing Harvester, I am getting the below error.

**Fetching https://metadata.platformequinix.com/userdata...  │
interface not found: eth0**

Even I tried to use **eno1**, but the result is the same (interface not found).

`https://metadata.platformequinix.com/userdata `- is this a valid endpoint?

` curl https://metadata.platformequinix.com/userdata` returns no

[2022-02-10 16:13] all4innov commented on #2360
@puttappa-raghavendra  same issue too
i tried even other combination of the network interface  :
[code]

[2022-02-10 19:49] robertvolkmann commented on #2360
@all4innov try the following:
* Deactivate interface renaming by setting `net.ifnames=0` instead of `net.ifnames=1`
* Use eth0 as interface name
* Configure a static vip - allocate it beforehand in equinix

[2022-02-10 20:52] w13915984028 opened #1906 "[FEATURE] prometheus volume is in endless reconciling? is there a better way, or a config problem?"
**Is your feature request related to a problem? Please describe.**

Short description:
In Harvester, by default, the `prometheus-rancher-monitoring-prometheus ` asks for a 50G PVC, the corresponding longhorn-system volume, has a` "numberOfReplicas": 3,`, which looks to be a default value.

When a single node Harvester is installed with minimum storage size, a dedicated 50G partition is reserved fo

[2022-02-10 21:01] w13915984028 commented on #1906
From kubectl, the PVC is not set with  `replica `or `"numberOfReplicas"`, but LH volume has `"numberOfReplicas": 3` for most of the existing volumes.

[2022-02-10 22:16] noahgildersleeve commented on #1730
This seems to be blocked by #1904 . I can't upload the windows ISOs to the server to test, and the WIndows server ISOs aren't on an easily accessible public server anywhere. There's also issues with the `windows-iso-image-base-template` in the UI. I'm going to look more into it and log a bug about it once I can test it.

[2022-02-10 23:27] cprivitere commented on #2360
For the record, on a c3.medium.x86, it looks like the interface names are:
ens3f0
ens3f1

Also it looks like the userdata-create.yaml needs to have a VIP address in it for the install to work. So putting that all together, here's what worked for me.

1. Put the artifacts on a web server.
2. Allocate an Elastic IP to use for your VIP (you can also skip this and just use the public IP as the VIP IP,

[2022-02-11 02:12] johnliu55tw opened #1907 "[FEATURE] Obsoleting the Harvester configuration "no_data_partition""
**Is your feature request related to a problem? Please describe.**
This configuration was provided to users who have multiple disks and want to use one of them as the VM data disk, so they might not want to create a dedicated VM data partition in the OS disk. Now we are [adding the functionality](https://github.com/harvester/harvester/issues/1728) to choose a different disk as the default disk dur

[2022-02-11 04:50] yasker commented on #1718
The main issue I saw from the description above is we have two controllers modify the CR object. In general, only one controller should change the status of one CR object(unless those are different fields of the status which are not related at all). It sounds like both `ScanBlockDevicesOnNode` and `OnBlockDeviceChange` are changing the status of the object and it's not going through the same queue

[2022-02-11 06:47] FrankYang0529 opened #1908 "Remove unused nfs.go file"
`pkg/controller/master/backup/nfs.go` is not referenced by any file. We've already changed to use LH [backupstore](https://github.com/longhorn/backupstore) to operate NFS/S3 backup.

[2022-02-11 08:11] guangbochen commented on #1181
Noted some known limitations https://github.com/harvester/harvester/issues/2360 that we may need to document on both the [harvester/ipxe-examples](https://github.com/harvester/ipxe-examples/) and the doc website, thanks.

[2022-02-11 08:54] FrankYang0529 commented on #1731
Looks like if we refresh the page and we can disable maintenance mode. Like the following video.
* At the beginning, a node is in red maintenance mode. It means that the node is in maintenance mode and can't be connected.
* The node is recovered to yellow maintenance mode. It can be connected now.
* If we click `Disable Maintenance Mode`, the request can be sent to the backend and the response is

[2022-02-11 09:24] bk201 commented on #1868
Harvester image list that we might want to switch:
- [x] https://github.com/harvester/harvester
  - [x] rancher/harvester
  - [x] rancher/harvester-upgrade
  - [x] rancher/harvester-webhook
  - [x] rancher/harvester-cluster-repo
- [x] https://github.com/harvester/harvester-installer
- [x] https://github.com/harvester/network-controller-harvester
  - [x] rancher/harvester-network-controller
  - [x]

[2022-02-11 09:42] alexdepalex commented on #1808
@janeczku As a workaround, we change `url` of the node driver in the `nodedrivers/harverster` crd to a locally hosted node driver. It seems though that this change is reverted from time to time. Is there a way to disable this?

[2022-02-11 13:22] guangbochen commented on #1809
close in favor of https://github.com/harvester/harvester/issues/1868 as we will use the SLE BCI as the base image instead.

[2022-02-11 13:22] #1809 closed, assigned to guangbochen

[2022-02-11 14:52] TachunLin commented on #1734
Verified **fixed** on master-184241d1-head (02/11). Close this issue.

### Result
Can assign extra disk with and without gpt label to node 2 and node 3 correctly.

* We can add extra disk `without` **gpt** label to node 3

  ![image](https://user-images.githubusercontent.com/29251855/153582554-2147cc61-f0ce-49f2-b2ee-94545cf0cb43.png)

  ![image](https://user-images.githubusercontent.com/29251855/

[2022-02-11 14:52] #1734 closed, assigned to weihanglo, TachunLin

[2022-02-11 14:57] Jellyfrog commented on #1845
I have updated the top comment with a new installation, same problem.

[2022-02-11 15:55] dweomer commented on #1808
This seems like a Rancher v2 provisioning issue. Does KDM config drive this at all?

[2022-02-11 16:15] dweomer commented on #1808
Jackpot! Thanks to @oats87 https://github.com/rancher/rancher/blob/release/v2.6/pkg/data/management/machinedriver_data.go#L101

[2022-02-11 16:16] w13915984028 commented on #1845
`For fleet-agent, there maybe something is misconfigured, which causes fleet-agent to be very busy even in one node Harvester, it is tracked in 1893. Will do a further investigation in the coming days.`

https://github.com/harvester/harvester/issues/1893

`Another point I am suspecting, is tracked in 1906, it is not difficult to find some PODs have many error logs, they reflect some errors/warning

[2022-02-11 16:37] Jellyfrog commented on #1845
before I rebooted a couple of times, fleet-agent, rancher and rancher-system-manager(? Sorry on phone) was using tons of cpu. That calmed down with 2 reboots

[2022-02-11 16:39] w13915984028 commented on #1906
update:
For one-node Harvester, kubectl edit the related prometheus-rancher-monitoring-prometheus pvc,
set  "numberOfReplicas": to 0, the longhorn-manager dose not report the error of `"There's no available disk for replica"`

prometheus data is rapidly increasing, is it worthy of 3 numberOfReplicas?

[2022-02-11 16:41] all4innov commented on #2360
@cprivite big thanks as it works (even randomly sometimes not). Curious how we can find the interface names for other instance types with harvester deployment.

[2022-02-11 18:41] a-blender commented on #1823
This is a bug in Rancher. As Rancher engineers, we cannot transfer this issue to the `rancher/rancher` repo because of lack of permissions. Could you please transfer it for us?

[2022-02-11 19:04] dweomer commented on #1808
@alexdepalex wrote:

I believe that this will revert every time a server/control node started in the cluster. That said, this is the best workaround at this time. /cc @oats87

[2022-02-11 19:44] dweomer commented on #1808
https://github.com/rancher/rancher/blob/v2.6.3/pkg/data/management/machinedriver_data.go#L99-L103:
[code]

[2022-02-11 20:07] cprivitere commented on #2360
Yeah I'm leaning towards the net.ifnames=0 direction to work around that, but so far my attempts using that option have all failed.

[2022-02-11 21:53] thedadams commented on #1823
@FrankYang0529 Before we confirm that this is a bug in Rancher, I would like to clarify a few things.

1. Is the job being killed or deleted? There is a big difference here. There is nothing in Rancher that will stop the job. There is something that will delete the job, but only after certain conditions are met on the Harvester machine object. I don't see any of the machine objects in the dump for

[2022-02-12 21:42] victorhooi opened #1911 "[Question] Instructions on building ISOs?"
Are there instructions anywhere for building new ISOs? (i.e. if we want to build a ISO from master, rather than going back to the last release).

I couldn't see any in the README, or linked anywhere.

[2022-02-13 06:15] ibrokethecloud commented on #2360
Another possible option is to provide hwAddress instead of interface names, but that does mean that the mac address is known.

[code]

It still leads to the minor issue that mac address is not known until you launch the instance. One option may be to launch the node with a pxe script which just runs the pxe shell. Once instance is provisioned the mac address can be queried from pxe prompt using `e

[2022-02-13 08:35] fadjar340 opened #1912 "[BUG] Prometheus OOMKilled"
**Describe the bug**
Prometheus got OOMKilled on several minutes. It's same as [#1531](https://github.com/harvester/harvester/issues/1531)

**Expected behavior**
No OOMKilled anymore

**Environment:**
 - Harvester ISO version: 1.0.0
 - Underlying Infrastructure:  Baremetal with Fujitsu PRIMERGY RX2520 M4 10 nodes

[2022-02-13 12:48] fadjar340 commented on #1912
Hi,

Since I change the rancher-monitoring-prometheus.yml inside Menu Monitoring - Advanced - Promethei as follow:

[code]

The prometheus working as expected without restarting.

Regards,
Fadjar Tandabawana

[2022-02-13 14:06] fadjar340 commented on #1830
Hi...

Since I have more than 4 nodes, the problem in the
[code]
The pod of:
[code]

Both pods should be in the first 3 nodes.
Since I add the deployment of rancher in the node scheduling as follow:
[code]
Then the resources :443 and : 8443 always pong.

Regards,
Fadjar Tandabawana

[2022-02-14 01:52] futuretea commented on #1911
In the harvester-installer repo:

https://github.com/harvester/harvester-installer/blob/master/README.md#building

https://github.com/harvester/harvester-installer/wiki/Development-ISO-Build

[2022-02-14 03:51] guangbochen commented on #1887
manual workaround steps to fix the monitoring OOM issue:
1. ssh to one of the Harvester node or download the `kubeconfig` file via the `support` page.
2. run `$kubectl edit managedcharts -n fleet-local rancher-monitoring` and modify the resource request and limits of the `spec.values.prometheus.prometheusSpec` accordingly. e.g,:
[code]

[2022-02-14 03:51] guangbochen commented on #1912
The proper workaround steps can be found on the https://github.com/harvester/harvester/issues/1887#issuecomment-1038605654

[2022-02-14 06:27] tjjh89017 commented on #1705
@khushboo-rancher Could you please provide more detail about how did you disrupt?
tks a lot

[2022-02-14 07:05] tjjh89017 commented on #1390
This feature request might need some enhancement and another implementation for mgmt vlan.
and consider network controller at the same time

[2022-02-14 07:53] lanfon72 commented on #1346
Verified not fixed.
- 2nd disk size changed 10Gi -> 100Gi (over system limit)
- VM's disk didn't changed
- Volume shows resizing, but VM still able to access the Volume.

![image](https://user-images.githubusercontent.com/5169694/153821074-85d1323f-0160-44f3-9ce5-a7bffaca80be.png)
![image](https://user-images.githubusercontent.com/5169694/153821196-27c485a3-9bc9-491e-9166-421a0d6fa510.png)

Test I

[2022-02-14 08:15] futuretea commented on #1346
@lanfon72

**Test plan：**
1. Create a VM with 10G volume
2. Stop the VM
3. Go to "Volumes" page and expand the volume to 100G (or any number which would exceed the system limit)
4. Click Save
5. Volume state in UI will show Resizing with an obvious color (not green)
6. Users can find Resizing event in Volume Recent Events
7. Users cannot add the Resizing volume to other virtual machines by adding

[2022-02-14 08:19] lanfon72 commented on #1346
Volumes UI shows "In-Use" (green) as the 2nd picture displayed.

[2022-02-14 08:28] futuretea commented on #1346
That should be a bug. @WuJun2016

And what about the Volumes List page?
![image](https://user-images.githubusercontent.com/15064560/153827080-ccc5f569-5bbe-4472-b19d-c30bf291d9ab.png)

[2022-02-14 08:31] lanfon72 commented on #1346
🤔 I didn't see resizing, should be in-use too

[2022-02-14 08:47] TachunLin commented on #1829
Verified **not fixed** on `master-b09e3233-head` (02/14). Move this issue to implement pipeline.

### Result
After swapping the source path and the unique <wwn> value content of the two extra disk and power on harvester machine.

* extra disk 1 display failed to mount error and extra disk 2 display create mount point does not match the specific path error
![image](https://user-images.githubusercon

[2022-02-14 09:43] johnliu55tw commented on #1894
## Root cause
Users with the "Member" role are not granted to view `secrets` resources.

## Fix
The permissions to view the Harvester resources are controlled by ClusterRole [harvesterhci.io:view](https://github.com/harvester/harvester/blob/master/deploy/charts/harvester/templates/rbac.yaml#L53-L83). We could add resource `secrets` to this ClusterRole to grant the users with Member role to view th

[2022-02-14 13:58] FrankYang0529 commented on #1823
@thedadams Because I can't get logs or YAML from a deleted pod/job, I try to do some experiments.

* Delete Job: I can get a similar result like my previous comment. Job and pod are all removed.
![Screen Shot 2022-02-14 at 9 56 43 PM](https://user-images.githubusercontent.com/4927361/153877489-883a5b25-38d0-4984-ba73-b685b85da446.png)

* Delete Pod: I assume if the gRPC server has an error and pod

[2022-02-14 14:53] futuretea commented on #1838
**Test plan**:
1. Create test resources in Harvester cluster (clusternetwork,image,network,ssh_key,virtualmachine,volume)
1. Use the master head docker image for testing refer to this [wiki page](https://github.com/harvester/terraform-provider-harvester/wiki/Use-the-master-head-docker-image-for-testing)
1. Use terraform configurations refer to [data source examples](https://github.com/harvester/te

[2022-02-14 15:10] futuretea commented on #1807
**Test plan**:
1. Use the master head docker image for testing refer to this [wiki page](https://github.com/harvester/terraform-provider-harvester/wiki/Use-the-master-head-docker-image-for-testing)
2. After `terraform apply`
- If you specify ssh key names in harvester_virtualmachine's ssh_keys, but missing ssh public keys in cloud-int userdata ssh_authorized_keys section, will failed.
- If you spe

[2022-02-14 15:37] thedadams commented on #1823
@FrankYang0529 Unfortunately, deleting the pod or job manually doesn't give enough information into why this is happening. In order to fix the problem, we need to understand why the job or pod is being deleted by Rancher. It is very logical that deleting the job or pod manually will produce similar results to when it is deleted by Rancher, but we need to figure out what is going on.

The way I thi

[2022-02-14 17:42] khushboo-rancher commented on #1705
I used the below script to disrupt the network.
[network_down.sh.zip](https://github.com/harvester/harvester/files/8062826/network_down.sh.zip)

[2022-02-14 19:10] abonillabeeche commented on #1470
Do we have an update on this one? This is extremely valuable when we don't have our own DHCP as well.

[2022-02-14 19:27] egrigson opened #1914 "[BUG] Can't change the network for an existing VM, even when powered down"
**Describe the bug**
On an existing VM you can't change the assigned network - for example from 'management' to 'VLAN' (masquerade to bridge)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a VM with at least one network interface
2.Go to Virtual Machines > Edit Config > Networks and you'll see that the only editable field is 'Type' - but NOT 'Network'

**Expected behavior**
I'd expec

[2022-02-15 02:07] abonillabeeche opened #1915 "[FEATURE] Highlight Migration to Replica Nodes"
**Is your feature request related to a problem? Please describe.**
No - mainly to focus on best use

**Describe the solution you'd like**
When selecting a node for Live Migration, the list should highlight, bold or recommend the nodes that have a Longhorn replica of the Disk used by the virtual machine.

**Additional context**
This should allow us to not migrate a VM to a host that doesn't have a

[2022-02-15 02:19] DaiYuzeng commented on #1695
There are two places the annotation could be displayed.

#### Volume tab on VM detail page
<img width="1168" alt="截屏2022-02-15 上午10 03 23" src="https://user-images.githubusercontent.com/15041915/153979273-4e76fde9-21ff-450c-8fd5-75dfa71f2348.png">

#### State column on Volume list
<img width="1139" alt="截屏2022-02-15 上午10 03 34" src="https://user-images.githubusercontent.com/15041915/153979243-b755

[2022-02-15 02:19] WuJun2016 commented on #1346
Previously, if in-use and resizing existed at the same time then we showed in-use, after discussing with @futuretea , I changed the priority of resizing to higher.    cc @lanfon72

[2022-02-15 02:54] FrankYang0529 commented on #1027
We need to let users choose which namespace to restore a new VM.
![Screen Shot 2022-02-15 at 10 49 27 AM](https://user-images.githubusercontent.com/4927361/153983764-16b71697-2f6f-4e79-98f1-24d1a85d040e.png)

[2022-02-15 04:53] lanfon72 commented on #1908
Does this need any tests?

[2022-02-15 05:15] FrankYang0529 commented on #1908
No, I think it's good to close it.

[2022-02-15 05:25] FrankYang0529 commented on #1823
@thedadams thanks for your help. I can get the container exit code now! It's `137`. Looks like it's `OOMKilled`.

[code]

[2022-02-15 06:36] lanfon72 commented on #1346
@futuretea, @WuJun2016 Is this acceptable that volume keep resizing but VM still able to start and access the volume?

![image](https://user-images.githubusercontent.com/5169694/154006021-c9d2e407-8917-447e-805e-d6af51a47036.png)

[2022-02-15 07:03] futuretea commented on #1346
If the vm volume is resizing, users should not be allowed to start the VM. I'm going to add a start action validation for the VM.

[2022-02-15 07:54] WuJun2016 commented on #1346
I will temporarily remove the `area/ui` label. If there are problems that need to be handled by the frontend later, please add `require/ui`.   cc @futuretea

[2022-02-15 08:42] FrankYang0529 commented on #1823
@thedadams , I run rancher as a docker container with `--oom-kill-disable`. I can get logs like the following in the job.

[code]

In `kubectl -n fleet-default get pods -o yaml -w`, I also get exit code 137. I think they are related. From source code, above logs are from [here](https://github.com/rancher/machine/blob/7766c7065bfb384292c51747010c1e165ce6481e/libmachine/persist/secretstore.go#L88-L9

[2022-02-15 08:56] lanfon72 commented on #1874
I think the issue is not fixed as expected?
based on my test case, disks can not be scheduled after swapped.

![image](https://user-images.githubusercontent.com/5169694/154026076-a5523419-5d28-413e-8dd6-a8d4dfe472f3.png)
![image](https://user-images.githubusercontent.com/5169694/154026271-69daaa53-eada-4c61-84ac-29664583d6d1.png)

Test Information
----
* Environment: **qemu/KVM single node**
* Har

[2022-02-15 11:14] janeczku opened #1917 "[BUG] RKE2 provisioning fails with SLES 15 SP3 images"
**Describe the bug**

https://github.com/rancher/rancher/issues/36520

[2022-02-15 11:21] janeczku opened #1918 "[BUG] VM IP address is not detected until 5-6 minutes after boot (SLES/openSUSE)"
**Describe the bug**

When provisioning a VM using a SLES 15 SP3 image the IP address is not detected for the first 5-6 minutes after boot completion. The qemu-guest-agent is active within a minute after boot.

This triggers another bug that causes  RKE2 provisioning to fail -> https://github.com/harvester/harvester/issues/1917

**To Reproduce**
Steps to reproduce the behavior:
1. Import the follo

[2022-02-15 14:46] TachunLin commented on #1782
Verified **fixed** on master-9091d7d0-head (02/14) . Wait for #1772 verification status to close this issue.

### Result
Create a 3 nodes harvester with static VIP in the following scenarios,
the harvester cluster can work as normal and access dashboard via VIP

1. Bare metal machine with static VIP on pxe install
2. Local kvm machine with static VIP on ipxe vagrant example

### Test Information
*

[2022-02-15 15:21] TachunLin commented on #1871
Verified **fixed** on master-9091d7d0-head (02/14). Close this issue.

### Result
Install guest agent will not overwrite the cloud config user data in advanced options.
![aa](https://user-images.githubusercontent.com/29251855/154092274-7394e7bd-fea6-4246-90c4-efc236cc03aa.gif)

### Test Information
* Test Environment: 3 nodes harvester on provo bare machine
* Harvester version: master-9091d7d0-hea

[2022-02-15 15:21] #1871 closed, assigned to WuJun2016, TachunLin

[2022-02-15 15:47] joshmeranda opened #1919 "[BUG] Non-exhaustive type checks causing failed schema inspection"
When running harvester with binary built from compiling source at f303b27e it fails with an error:

`FATA[0000] failed to create harvester server: failed inspecting type v1beta1.VirtualMachineTemplateVersion, field spec: failed inspecting type v1beta1.VirtualMachineTemplateVersionSpec, field vm: failed inspecting type v1beta1.VirtualMachineSourceSpec, field spec: failed inspecting type v1.VirtualM

[2022-02-15 16:31] janeczku commented on #1918
Closing as duplicate of https://github.com/harvester/harvester/issues/1553

[2022-02-15 16:31] #1918 closed, assigned to nobody

[2022-02-15 16:53] janeczku commented on #1553
Observation: When migrating the VM right after the boot, the IP address is populated immediately.

[2022-02-15 17:11] w13915984028 commented on #1695
Update:  current backend implementation:
when LH volume is not usable, e.g. because of insufficient storage, the state is updated to PVC and VM via annotations:

`"harvesterhci.io/volume-status"`

when the status is OK, this annotation will be deleted. only error status will be updated.

For VM, it will have info of all its volumes
![image](https://user-images.githubusercontent.com/31133476/154111

[2022-02-15 17:13] w13915984028 commented on #1695
The test cases:
to make sure the state is updated with the LH state change, and also with the PVC  attached/detached to/from the VM.

![image](https://user-images.githubusercontent.com/31133476/154113245-1c06ae74-1e44-45c2-8b05-a2bb48c4623b.png)

![image](https://user-images.githubusercontent.com/31133476/154504877-50adc378-ebbc-401d-9fab-f7e05693fa7d.png)

[2022-02-15 17:38] rebeccazzzz commented on #1659
Moving this issue to ready for testing since https://github.com/rancher/kontainer-driver-metadata is released with newer version which contains the rke2 release that is needed for this issue.

[2022-02-15 17:38] rebeccazzzz commented on #1629
Moving this issue to ready for testing since https://github.com/rancher/kontainer-driver-metadata is released with newer version which contains the rke2 release that is needed for this issue.

[2022-02-15 20:07] erSitzt commented on #1845
I guess i'm experiencing a similar problem as @Jellyfrog ...
This is how my completely empty Harvester cluster looks like
<img width="758" alt="image" src="https://user-images.githubusercontent.com/1625376/154140322-2b4c1354-ced3-4749-ac15-a845c401e77a.png">

It seems its not related to installing Harvester on a too small machine.

After installing the first two nodes i thought it might settle ove

[2022-02-15 20:10] erSitzt commented on #1845
btw @Jellyfrog can you make your "additional infos" stuff a collapsible section ? it took me like an hour to scroll down here ;)

[2022-02-15 20:52] erSitzt commented on #1845
Are these cpu requests correct and intentional ?
[code]

[2022-02-15 20:55] erSitzt commented on #1845
These differ by a factor of 3.. just like the core ratio between my nodes 24/72
So the cpu requests are calculated based on the core count of the node ?
Is this practical/needed ?

[2022-02-15 21:02] erSitzt commented on #1795
Same here after rebooting the node.
<img width="1586" alt="image" src="https://user-images.githubusercontent.com/1625376/154148557-f40acdcc-2ae8-4e1a-84f8-a556dc63dd77.png">

[2022-02-16 01:41] thedadams commented on #1823
@FrankYang0529 Very interesting. I have never seen the machine create pod get OOM-killed. In order to investigate the problem with the `Unauthorized` error, I would need the job YAML to see the arguments, service account and secrets passed to the job.

It would also be helpful to see the `harvester.rke-machine.cattle.io` that was used to create the machine.

[2022-02-16 03:21] yaocw2020 commented on #1770
To test:
- Create a guest cluster.
- Create a deployment and the related load balancer service. To make the load balancer name composed of the cluster name, namespace, svc name, and suffix more than 63 characters.

[2022-02-16 03:32] TachunLin commented on #1731
Reproduce this issue on `master-9091d7d0-head` (02/14)

### Result
After rebooting harvester node1, the enabled maintenance mode will keep in maintenance status unless we refresh (ctrl+r) the dashboard UI.

![1731](https://user-images.githubusercontent.com/29251855/154190347-bf451236-43dd-4de3-84b6-961dece2b4d7.gif)

After above operation, we disable the maintenance mode again, node 1 can back to

[2022-02-16 04:29] FrankYang0529 commented on #1911
* If you only modify `harvester` repo, you can run `make build-iso` in `harvester` repo. ISO will be under `dist/artifacts`.
* If you only modify `harvester-installer` repo, you can run `make build` in `harvester-installer` repo. ISO will be under `dist/artifacts`.
* If you modify both repositories, you can update [this line](https://github.com/harvester/harvester-installer/blob/2199e99e2f3546e16b

[2022-02-16 04:34] guangbochen commented on #1911
@FrankYang0529 can we add it to the [wiki doc](https://github.com/harvester/harvester/wiki) as a new page, thanks.

[2022-02-16 04:48] bk201 opened #1920 "[BUG] Adapt node promotion changes from rancher"
**Describe the bug**
Rancher removes the ability to promote agent nodes by labeling CAPI machines (see this [comment](https://github.com/rancher/rancher/issues/36480#issuecomment-1039253499))
We need to adapt to this change.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the latest rancher image as embedded rancher service.
2. Bootstrap a Harvester cluster with a least 3 nodes, no addit

[2022-02-16 05:29] FrankYang0529 commented on #1911
Added it. https://github.com/harvester/harvester/wiki/Build-ISO-images

[2022-02-16 06:33] abonillabeeche commented on #1920
After the CP is complete and a CP node is removed due to hardware failure, can we remove and replace/add a new CP node?

[2022-02-16 06:53] bk201 commented on #1920
The backend will try to keep 3 CP nodes if possible. So after a failed CP node is deleted, the backend will promote another one.

[2022-02-16 07:08] FrankYang0529 commented on #1823
* Job
[code]
* Role
[code]
* Secret
[code]
* HarvesterMachine
[code]

[2022-02-16 08:02] lanfon72 commented on #1856
Verified this issue has been fixed.

![image](https://user-images.githubusercontent.com/5169694/154220902-c77ab2cc-1f6d-4d41-8aab-b688572a31f3.png)
![image](https://user-images.githubusercontent.com/5169694/154220940-e0245e7c-9b2f-49ef-a894-0c2ffca31776.png)

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-9091d7d0-head**
* **ui-source** Option: **Auto**

##

[2022-02-16 08:02] #1856 closed, assigned to lanfon72, WuJun2016

[2022-02-16 10:14] FrankYang0529 commented on #1654
If we disable overcommit, we can distribute VMs to all node. Probably, we can let users choose whether to use overcommit in creating VM page. If they choose not, we show some warning message like "It may let all VMs run in 1 node". WDYT? cc @guangbochen @weihanglo

https://user-images.githubusercontent.com/4927361/154242981-dfbb0c50-aa80-46ca-acd1-48c4c172f84e.mp4

https://user-images.githubuserco

[2022-02-16 10:27] FrankYang0529 commented on #1914
~~Harvester works fine for changing network from vlan to management, but there is error from management to vlan.~~

~~Reproduce steps:~~
~~1. Create a VM with management network.
2. When VM is running, click `Edit config`.
3. Add a VLAN network and remove management network. Click `Save` to restart VM.
4. Although VM can run, we don't have an IP address for the VM.~~

[2022-02-16 10:33] FrankYang0529 commented on #1824
Related issue: https://github.com/harvester/harvester/issues/1654

[2022-02-16 13:43] TachunLin commented on #1629
Verified **not fixed** on master-b09e3233-head (02/14) and rancher `v2.6.4-rc3`.
We already have harvester set as default storage class, however we are not able to deploy wordpress since the CSI driver have DaemonSet not ready. Move this issue back to implement stage

![image](https://user-images.githubusercontent.com/29251855/154276722-8d6bdc15-b2a5-4185-905f-c2babb968da5.png)

### Result
In ranc

[2022-02-16 13:56] joshmeranda commented on #1919
Here is a code sample  with an example of the issue:

[code]

This code will output:

[code]

[2022-02-16 13:56] TachunLin commented on #1659
Verified `not fixed` on `master-b09e3233-head` (02/14) and rancher `v2.6.4-rc3`.
Since issue #1629 is not completely fixed. move it to implement pipeline

### Result
In rancher v2.6.4-rc3, it provide 1.22.6+rke2r1 as the default kubernetes version which already have bumped CCM and CSI chart.

![image](https://user-images.githubusercontent.com/29251855/154254542-0f27d8d0-ef8e-4529-99bd-0cdba847ed7c

[2022-02-16 18:20] BringerOD opened #1922 "Stuck in Setting up Harvester"
**Describe the bug**
Stuck in "Setting Up Harvester"

**To Reproduce**
IPXE Install with V1.0.0
1 Node,  1 Nic

**Expected behavior**
Expected to be in Ready State

**Environment:**
 - Harvester ISO version: V1.0.0,  I also tested the latest ISO
 - Baremetal Vultr
 - IPXE
 - CPU: 8 Cores - 16 Threads
 - RAM: 131072 MB
 - Storage:
 - 2x 2000GB NVMe

**Additional context**
I noticed the rancher/harv

[2022-02-16 19:22] simonflood commented on #1914
It doesn't matter whether VM is running or shutdown, you can't change from management to VLAN (perhaps after you've configured the VLAN in Harvester). However after downloading and comparing the YAML files for a VM using management VLAN and another using VLAN, it's possible to do this by editing the YAML:

1. change `- masquerade: {}` under `interfaces:` to `- bridge: {}`
2. change the `networks:`

[2022-02-16 22:08] noahgildersleeve commented on #1629
I tested this in Rancher v2.6-head with build number 948355c (today) and Harvester master-45182389-head. I refreshed the kubernetes metadata in drivers under cluster management and it assigned harvester as the default storage driver when provisioning RKE2 clusters.
![Screenshot from 2022-02-16 14-04-31](https://user-images.githubusercontent.com/83787952/154365606-8e3ea37d-5dd0-45ef-92cd-5d05a928f3

[2022-02-17 00:43] thedadams commented on #1823
@FrankYang0529 Thank you for this. I now understand why the job is getting deleted. I will have a PR up for this tomorrow.

I believe I also understand why the unauthorized logs were appearing. The service account gets deleted at the same time as the job and there is a grace period of the job deletion. So the service account and the job get deleted at the same time, Kubernetes will wait for the jo

[2022-02-17 00:50] noahgildersleeve commented on #1833
Tested in harvester `master-45182389-head`.
## Verification Steps
1. Create a new VM
2. Select opensuse live image
3. Select openSUSE from advanced settings
4. Boot VM
5. Check for running Service
![Screenshot from 2022-02-16 16-49-14](https://user-images.githubusercontent.com/83787952/154382902-2ed70ecb-2a9c-49f1-8c5d-0af72865b469.png)

[2022-02-17 01:09] noahgildersleeve commented on #1833
Moving to docs to verify that docs have been created.

[2022-02-17 01:30] noahgildersleeve commented on #1908
Tested in `master-45182389-head`.

## Verification steps

1. Create new VM
2. Add file1 and content
3. create backup
4. edit file1 and add file2
5. create backup
6. edit file2 create file3 and content
7. Create backup
8. Restore to backup1
9. Verify that only original file1 exists

[2022-02-17 01:30] #1908 closed, assigned to FrankYang0529, noahgildersleeve

[2022-02-17 02:21] abonillabeeche commented on #1823
Thanks for working on this issue! Please share the rancher issue so we can follow up on it too...

[2022-02-17 02:30] bk201 commented on #1922
@BringerOD Loading the installation ISO (specified in the config) in a PXE boot installation is a critical step because it preloads container images to the target system. The `rancher/harvester-cluster-repo` image is only shipped with the ISO, that's why the cluster can't be up.

[2022-02-17 04:50] FrankYang0529 commented on #1914
@simonflood , you are right. We can change the network by YAML, but we still need to restart the VM to apply the change. Please see the first video.

**Case 1: change network by YAML**
In this case, if we restart the VM after we modify VM YAML, the pod will not be updated. After restarting the VM, we can get VLAN network with an IP.

https://user-images.githubusercontent.com/4927361/154406863-358e

[2022-02-17 05:02] johnliu55tw opened #1924 "[BUG] GUI allows selecting the default data disk as an additional disk"
**Describe the bug**
GUI allows selecting the default data disk (introduced in feature https://github.com/harvester/harvester/issues/1728) being selected to be added as additional disks.
![image](https://user-images.githubusercontent.com/5047724/154406840-018adf9a-8006-4711-be14-14af1709bcf0.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Install Harvester with default data disk set to

[2022-02-17 05:24] weihanglo commented on #1654
@FrankYang0529
I think we should minimize to one independent variable to test. For example, only enable one metric at a time.

1. 100% CPU and memory, but overcommit on volume size
2. 100% volume and memory, but overcommit on CPU
3. 100% volume and CPU, but overcommit on memory

Also, we could try to find the exact number of the ratio of overcommit affecting scheduling. Is 200% CPU overcommit infl

[2022-02-17 08:04] yaocw2020 commented on #1782
If this issue is verified successfully, the issue [1772](https://github.com/harvester/harvester/issues/1772) could be closed as well because this issue is a real case of issue 1772. In other words, this optimization must not be completed if issue 1772 is still not fixed. @TachunLin

[2022-02-17 08:21] oivindoh commented on #1824
FWIW I get this behaviour when sequentially creating single-instance VMs manually through the UI. I can also come back the day after and the lucky host will continue to be filled until it's finally full.

[2022-02-17 08:22] WuJun2016 commented on #1027
Hi,  @FrankYang0529   the frontend pr has been merged, can you help test the feature? If it's ok, please help move it to ready-to-testing， thanks.

[2022-02-17 08:24] janeczku commented on #1822
@johnliu55tw No, it's not that behaviour. I cannot reproduce this anymore though. So i think we can close this ticket until we identify steps to reproduce the behaviour.

[2022-02-17 08:55] johnliu55tw opened #1925 "[BUG] Refreshing the Virtual Machine page changes the status from "Running" to "Starting""
**Describe the bug**
Refreshing the browser on Virtual Machine page would cause the status of the VM to change from "Running" to "Starting".

https://user-images.githubusercontent.com/5047724/154439287-e27a2e46-4713-424f-9bf6-f872e0dc2685.mp4

**To Reproduce**
Steps to reproduce the behavior:
1. Create a VM and make sure it's in "Running" status
2. Go to the VM's page, and make sure you see its st

[2022-02-17 09:00] johnliu55tw commented on #1822
won't fix: Cannot reproduce. Also I've created another issue to track the [issue I found](https://github.com/harvester/harvester/issues/1822#issuecomment-1031163366): https://github.com/harvester/harvester/issues/1925.

[2022-02-17 09:24] bk201 opened #1926 "[Enhacement] Display intermediate jobs log of an upgrade"
**Is your feature request related to a problem? Please describe.**

NOTE: this issue is moved out of this [comment](https://github.com/harvester/harvester/issues/1852#issuecomment-1020682414).

There are some intermediate jobs during an upgrade, it would be nice to see them when needed.

**Describe the solution you'd like**

Display job logs in the GUI upgrade dialog.

**Describe alternatives you'

[2022-02-17 10:08] schmitch commented on #1154
however it should be possible to discard the warning by inputing something like: `I KNOW WHAT I'M DOING AND I WILL PASS!`

because the requirements are not needed for testing.

[2022-02-17 14:25] TachunLin commented on #1772
Verified **fixed** on `master-b09e3233-head`(02/14). Close this issue.

### Result
In Harvester cluster, we can create nginx service with static IP set on spec.loadBalancerIP.
And can reach the services through the static IP

[code]

[code]

### Test Information
* Test Environment: 1 node harvester on local kvm machine
* Harvester version: master-b09e3233-head (02/14)

### Verify Steps
1. ssh to h

[2022-02-17 14:25] #1772 closed, assigned to yaocw2020, TachunLin

[2022-02-17 14:27] TachunLin commented on #1782
Close this issue since the related issuse #1772 have been verified and close.

[2022-02-17 14:27] #1782 closed, assigned to yaocw2020, TachunLin

[2022-02-17 14:33] w13915984028 commented on #1695
How to pop up & clear status in a series top down objects:

![image](https://user-images.githubusercontent.com/31133476/154501792-a2b0fcba-4beb-45c9-83ba-e3fa1207ef39.png)

![image](https://user-images.githubusercontent.com/31133476/154502810-5694b2c6-b7a7-4355-9710-ab78ed0e3819.png)

![image](https://user-images.githubusercontent.com/31133476/154502933-9421fb55-8d14-4430-adf7-e21cfcbff18c.png)

!

[2022-02-17 14:52] BringerOD commented on #1922
Aren't I doing that?  I believe I followed the examples in the documentation.  Sorry I am a bit confused.

Not sure there is much of a diference but do you mean this?

[code]

config
[code]

[2022-02-17 16:12] abonillabeeche opened #1927 "[FEATURE] Support NIC Hot-Plug"
**Is your feature request related to a problem? Please describe.**
When a system requires additional VLAN access or NIC, a reboot is necessary.

**Describe the solution you'd like**
Allow the addition of another NIC/Network without needing to reboot.

[2022-02-17 23:29] yasker commented on #1927
This should be required once we implemented #992 .

[2022-02-17 23:31] yasker commented on #1926
@bk201 Do you think it's necessary to include this feature in v1.0.1 upgrade path or we can wait for a later release?

[2022-02-17 23:32] yasker commented on #1915
Current the data locality doesn't add much to the performance provided by Longhorn. It might change once SPDK is introduced to Longhorn though.

[2022-02-17 23:37] yasker commented on #1853
Hi @IArchi ,

I don't quite understand what's your use case here. Also, Harvester is not a baremetal Kubernetes solution, so we don't support deploying workload directly in the Harvester bare metal nodes. You will need to create VMs and use those VMs as the Kubernetes notes.

[2022-02-17 23:40] yasker commented on #1884
Close the issue per the user's response. Feel free to open a new issue if needed.

[2022-02-17 23:40] #1884 closed, assigned to nobody

[2022-02-18 02:01] jenting commented on #1333
Agree. From Harvester usage/perspective, if we want to delete all volume's backup, it's better to call backup volume deletion instead of looping all backups deletion because the performance is better (only one operation).
Or Harvester could auto delete the backup volume CRD once the last backup is deleted.

Since we consider [removing the backup volume CRD](https://github.com/longhorn/longhorn/iss

[2022-02-18 04:00] DaiYuzeng opened #1928 "[BUG] GUI throws errors after restoring a new VM"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Create a VM backup
2. Restore a new VM
3. The restoring VM does not have the annotation of `harvesterhci.io/volumeClaimTemplates`
4. GUI throws errors

![截屏2022-02-18 上午11 54 10](https://user-images.githubusercontent.com/15041915/154614813-c8d275f8-b152-4b50-bf51-b7a7b89314ff.png)

**Expected behavior**

1. GUI will not thr

[2022-02-18 08:21] tjjh89017 commented on #1390
@bashofmann
Could you help us to check with the external switch if it could have Native VLAN support?
If it could have native vlan, we could setup native vlan for your harvester-mgmt to access the network.
and setup harvester-mgmt without VLAN ID on it.

If it couldn't setup native vlan, need your help to provide more info about this.
thanks a lot.

[2022-02-18 09:13] ugar-ugar opened #1930 "[Question] Harvester 1.0.0 : How to remove "hanging" Backups?"
Hi,
I have lost my NFS - Backupstore (Disk failure). All Data is gone.
Harvester UI did not allow changing the NFS-URL because of running jobs.
Therefore an (enpty) replacement for this is setup on the on the same NFS-URL path.
I tried to delete all backups and backupjobs from Harvester and Longhorn UI without sucsess.
Now I can see an "hanging" backup job in "not ready" state and new scheduled Ba

[2022-02-18 09:56] w13915984028 opened #1931 "[FEATURE] When one volume is added to an running VM, check the real state of it"
**Is your feature request related to a problem? Please describe.**

In Harvester v1.0.0, when an over-sized volume is created independently, it still goes into "ready" state, and it can be added to one already running VM.

![image](https://user-images.githubusercontent.com/31133476/154658321-370de1d7-4c2b-41cb-82db-d4d8745a4450.png)

**Describe the solution you'd like**

After fix of #1695,
in cas

[2022-02-18 10:11] w13915984028 commented on #1931
Longhorn is considering enhancement, before it is available, we rely on the fix of #1695 (a temporary solution for now)
https://github.com/longhorn/longhorn/issues/3626

[2022-02-18 10:41] w13915984028 commented on #1887
UI is adding setting for  `rancher-monitoring prometheus` resource limitation (with fix of #1531), after that, user will be able to customize resource accordingly. @WuJun2016 @DaiYuzeng

Then, Harvester Document will be updated about how to set.

[2022-02-18 10:46] w13915984028 commented on #1668
Update:
In this environment, when VIP is set as static IP address, the issues is not encountered.

Another related:
https://github.com/harvester/harvester/issues/1681

[2022-02-18 12:26] MasIgor opened #1932 "Image is only black and white"
Hello all!

First off thank you for this!

I'm trying to read a genie nano color c1920, and to use the image with yoloV5.

The script loads a jpg file (first rows) and I am trying to replace that code with the frame taken from the camera. Problem is that it only reads one channel and the size of the array is wrong. the array that cv2.imread(path) generates is 3 dimensional: {640,640,3} with a tota

[2022-02-18 14:28] bk201 commented on #1717
This issue is currently blocked by https://github.com/rancher/rancher/issues/36536, the implementation in https://github.com/rancher/rancher/issues/35999 can't be verified yet.

[2022-02-18 14:40] bk201 commented on #1932
@tanzerlana I guess you filed the issue in the wrong project, maybe you are referring to https://github.com/genicam/harvesters?

[2022-02-18 14:51] MasIgor commented on #1932
you are right.. sorry..

[2022-02-18 14:51] #1932 closed, assigned to nobody

[2022-02-18 15:36] wjimenez5271 opened #1933 "[FEATURE] Rebase Harvester on SLE Micro for Rancher"
This feature request is to rebase Harvester's OS platform on the new operating system SLE Micro for Rancher.

# Dev updates
## Tasks
- [x] **Clarify how to install packages using `zypper` with SLE Micro for Rancher team**
    - If we want to install from SLE Micro repository, seems like the only way is via OBS (Open Build System). Is it possible to pull the image and install packages using a `Dock

[2022-02-18 17:06] abonillabeeche commented on #1553
To be clear - this issue is visible in RHEL/CentOS/Rocky and SLES - just not visible in Ubuntu.

[2022-02-18 17:10] yasker commented on #1662
@bk201 Sorry there is a misunderstanding. I was referring to installing a VM using ISO in Harvester, not the Harvester installer. I agree if we're installing Harvester on bare metal nodes, it would be the admin for the node to ensure the correct boot order. I don't think we need to do OOB mgmt there.

[2022-02-18 17:29] yasker commented on #1933
Tentatively scheduled for v1.0.2.

[2022-02-18 18:23] noahgildersleeve commented on #1885
This was completed. static site generation was imported into CI and is available at https://harvesterhci.io/tests/integration/

[2022-02-18 18:23] #1885 closed, assigned to noahgildersleeve

[2022-02-18 18:24] noahgildersleeve commented on #1828
This was completed and the training was done.

[2022-02-18 18:24] #1828 closed, assigned to noahgildersleeve

[2022-02-18 18:25] noahgildersleeve commented on #1825
This was completed and you can see the new test skel instructions and architecture in the [README.md](https://github.com/harvester/tests#generating_skels)

[2022-02-18 18:25] #1825 closed, assigned to noahgildersleeve

[2022-02-18 18:25] yasker commented on #1749
@zhilong-rancher Normally it's the responsibility of the image to have the right driver. And all the vendors you mentioned above already have the daily build cloud image with the right driver. The only one who doesn't have the right driver built-in is Windows, which Harvester would provide the driver to.

I am not sure what value can Harvester add to serve the os-specific qemu-guest-agent when os

[2022-02-18 18:42] simonflood commented on #1933
Can I ask why SLE Micro and not openSUSE MicroOS? The former requires registering to get updates whereas the latter does not. Or perhaps you're planning on disabling transactional updates?

[2022-02-18 18:49] yasker commented on #1933
@simonflood SLE Micro for Rancher will be an additional delivery method of SLE Micro (OCI image), that will be freely available without the requirement for a subscription or registration.

Rest assured. We won't require users to register to get updates. There should be no difference in the user experience.

(Reworded to clarify)

[2022-02-18 19:24] simonflood commented on #1933
Thanks. Perhaps you meant to write "SLE Micro for Rancher is different from openSUSE MicroOS"? SLE Micro for Rancher sounds a lot like SLE Micro which "is an ultra-reliable, lightweight operating system purpose built for containerized and virtualized workloads. It leverages the enterprise hardened security and compliance components of SUSE Linux Enterprise and merges them with a modern, immutable,

[2022-02-20 10:54] lanfon72 commented on #1745
Tested this bug can be resolved when update NIC interface name.
(ref: https://github.com/harvester/harvester/issues/1745#issuecomment-1031196059)

- [x] bus SCSI
- [x] attached SCSI

[2022-02-20 10:54] #1745 closed, assigned to bk201, lanfon72

[2022-02-21 01:15] zhilong-rancher commented on #1749
Thank you very much.
The operating system image already comes with this package, so Harvester doesn't have to provide it.
I use the Ubuntu system. Maybe in an offline environment, before installing qemu-guest-agent , there was an operation to update the software source (apt update), but the apt update could not be completed, so qemu-guest-agent could not be installed successfully.

[2022-02-21 03:58] johnliu55tw opened #1934 "[FEATURE] Support changing MTU in Harvester Configuration"
**Is your feature request related to a problem? Please describe.**
MTU of interfaces should be configurable in order to adapt to different network environments.

**Describe the solution you'd like**

Add a config option to change MTU In Harvester Configuration [`install.networks`](https://docs.harvesterhci.io/v1.0/install/harvester-configuration/#installnetworks).

**Describe alternatives you've c

[2022-02-21 04:34] yaocw2020 commented on #1676
If we adopt OSPF/IS-IS/BGP protocol to expose the VIP for the VM workloads, is it OK in the real environment? @janeczku @Yabbo

[2022-02-21 06:35] FrankYang0529 commented on #1823
Since upstream PR is merged, I try to validate with `rancher:v2.6-head`. However, I got the following error. It looks like `docker-machine-driver-harvester` is neither a zip file nor a tar file, so there is an error in the rancher-machine job.

[code]

[2022-02-21 08:58] FrankYang0529 commented on #1654
Hi @weihanglo, I did an experiment to see how scores change with/without the overcommit feature. For enabling overcommit feature, `overcommit-config` is `{cpu: 1600, memory: 150, storage: 200}`. Cluster resource is as **Table 1**. I sequentially create 2 VMs. VM requested resource is as **Table 2**.

**Table 1 - Cluster resources**
| Cluster Resources | harvester-5bwzp | harvester-6vn76 |  hpd8s7

[2022-02-21 09:18] TachunLin commented on #1894
Verified **fixed** on master-bfd6a8a9-head. (02/21) Close this issue.

### Result
Standard user with member role in harvester can view template config and access secret.
![image](https://user-images.githubusercontent.com/29251855/154899531-f364743b-3e29-4bf6-8e6b-2f32a797793e.png)

### Test Information
* Test Environment: 1 node1 harvester on local kvm machine
* Harvester version: master-bfd6a8a9-

[2022-02-21 09:18] #1894 closed, assigned to johnliu55tw, TachunLin

[2022-02-21 09:57] FrankYang0529 commented on #1710
@msnelling Not sure whether this can solve your problem? Thank you.

https://github.com/kubevirt/kubevirt/pull/4089

[2022-02-21 10:22] lanfon72 commented on #1807
pending on the fix https://github.com/harvester/terraform-provider-harvester/pull/29

[2022-02-21 10:23] lanfon72 commented on #1838
pending on the fix https://github.com/harvester/terraform-provider-harvester/pull/29

[2022-02-21 10:38] FrankYang0529 commented on #1643
Hi @wangpan-hqu, sorry for the inconvenience. We will update our documents for it.

Currently, for backup features, we will create a folder and mount NFS on it. It may need other permission to run `harvester` or `harvester-webhook` locally. We suggest replacing images in `harvester` and `harvester-webhook` deployments in `harvester-system` namespace to run them in the cluster. If you want to use t

[2022-02-21 15:30] bk201 opened #1935 "[BUG] Adapt RKE2 runtime upgrade change from Rancher"
**Describe the bug**

When bumping rancher image to version `v2.6-e55a04c1915c62bbc23ee1e5db70208ce2a11679-head`, two issues are found for the upgrade feature:

1. RKE2 upgrade procedure doesn't start at all (e. g., `1.0.0` -> `master build with the latest rancher`).
2. Pre-drain/post-drain hooks don't work. We need to watch plan secret rather than CAPI machine. See https://github.com/rancher/ranc

[2022-02-21 20:20] Palando commented on #1414
As a workaround you can create a partition manually and add it in the UI:

1. Login via ssh with user rancher
2. 'sudo gdisk /dev/sdX' and create partition
3. 'sudo mkfs.ext4 /dev/sdX1'
4. Add partition in UI

[2022-02-22 02:07] bk201 commented on #1922
@BringerOD Sorry for the late reply. The key is the `harvester.install.automatic` parameter, it needs to be `true` to load the provided config in the installer automatically.

If you are still using the installer step-by-step, the config won't be loaded unless you manually provide it in the config dialog.

[2022-02-22 03:38] FrankYang0529 commented on #1824
Hi @oivindoh, we did experiments in https://github.com/harvester/harvester/issues/1654. Currently, Harvester enables the overcommit feature as default. It will influence kube-scheduler scores. If you want to distribute VMs on each node, you can disable the overcommit feature by changing it to `{cpu: 100, memory: 100, storage: 100}` on the Setting page.

[2022-02-22 05:01] weihanglo opened #1936 "[BUG] Changing mount point of an extra disks leads to not ready condition on the disk of longhorn node"
**Describe the bug**
If a disk has already been provisioned to a host. It is technically also a disk inside a longhorn node. If we change a mount point of a device, longhorn node might result in a "not ready" condition reporting underlying filesystem changed.

[The relevant code is here](https://github.com/harvester/node-disk-manager/blob/0aaa2af86e4e0f9d10867a3a123c690fa8f4e1e4/pkg/controller/blo

[2022-02-22 06:50] lanfon72 commented on #1807
Verified this bug has been fixed.

- [x] **Positive** ssh_keys + cloudinit.userdata.ssh_authorized_keys
- [x] **Positive** cloudinit.userdata.ssh_authorized_keys
- [x] **Negative** ssh_keys
![image](https://user-images.githubusercontent.com/5169694/155074334-65b01d05-87ab-40f6-b846-5769720121a6.png)

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-bfd6a8a9-h

[2022-02-22 06:50] #1807 closed, assigned to lanfon72, futuretea

[2022-02-22 07:16] WuJun2016 commented on #1732
Hi, @robertsirc
I tried to reproduce the problem: I found that only when the mouse is moved into the browser from another application, but without a click action, the mouse does not really act on the browser at that moment, so an arrow is displayed instead of a hand icon  (For any browser).

https://user-images.githubusercontent.com/24985926/155081028-d305365e-63ab-4d2c-9897-65b3a7ea7e13.mov

.

[2022-02-22 07:24] futuretea commented on #1553
This issue is visible in a image which has qemu-guest-agent pre-installed.

After guest-agent connected and VM get IP,  the VM IP will be reported if we update the  vmi resource.

**Solution**
I'm going to add some logics to the vmi controller like this:
[code]

[2022-02-22 07:39] lanfon72 commented on #1838
Verified this feature has been implemented.

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-bfd6a8a9-head**
* **ui-source** Option: **Auto**
* terraform-provider-harvester Version: [05ee443a699f6ebf1b0da5e87f3f9fdcbfd9c4cf](https://github.com/harvester/terraform-provider-harvester/commit/05ee443a699f6ebf1b0da5e87f3f9fdcbfd9c4cf)

### Verify Steps:
1. Instal

[2022-02-22 07:39] #1838 closed, assigned to lanfon72, futuretea

[2022-02-22 07:43] lanfon72 commented on #1878
@futuretea could you provide some test plan?
I not sure I can reproduce the bug by _reproduce steps_.

[2022-02-22 09:32] guangbochen commented on #1776
move the issue to the next milestone as this will need upstream Rancher fix of https://github.com/rancher/rancher/issues/35453 and is scheduled on the v2.6.5.

[2022-02-22 09:50] weihanglo commented on #1654
Great research @FrankYang0529!
I love your proposal about adding annotation to control the affinity!

As per results, it appears that the scheduling algorithm doing what it is expected to do. Harvester cannot help more on scheduling algorithm. Users must control of scheduling themselves since scheduler doesn't know the needs of each workload. Just one concern. Should we really need add anti-affini

[2022-02-22 10:09] futuretea commented on #1878
@lanfon72
**Test Plan**
1. create a secret contains cloudinit config:
[code]

2. Use the master head docker image for testing refer to this [wiki page](https://github.com/harvester/terraform-provider-harvester/wiki/Use-the-master-head-docker-image-for-testing)

3. use terraform configurations as follow (harvester-public/image-57hzg is a image which created from ubuntu-20.04-minimal-cloudimg-amd64.

[2022-02-22 10:19] FrankYang0529 commented on #1891
Hi @META-DREAMER, I can't reproduce this issue with Harvester v1.0.0 and Rancher v2.6.3. May you provide which Rancher version do you use to interact with Harvester? Thank you.

[2022-02-22 10:20] lanfon72 commented on #1883
Verified this bug has been fixed.

- [x] Create exists VLAN
![image](https://user-images.githubusercontent.com/5169694/155111535-2cbbd292-5525-4f46-8946-5196a600f7f4.png)
- [x] Create new VLAN
![image](https://user-images.githubusercontent.com/5169694/155111356-e20ba5a7-e2bd-4f0b-8c20-e60c6015e73b.png)

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-bfd6a8a

[2022-02-22 10:20] #1883 closed, assigned to lanfon72, futuretea

[2022-02-22 10:45] lanfon72 commented on #1878
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/155116327-d28a2e3b-b36b-4dfe-9864-2ce8dfdd3f3c.png)
![image](https://user-images.githubusercontent.com/5169694/155116367-a1afb669-84f3-4ece-bc76-a24db65792bf.png)

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-bfd6a8a9-head**
* **ui-source** Option: **Auto**
* ter

[2022-02-22 10:45] #1878 closed, assigned to lanfon72, futuretea

[2022-02-22 12:59] TachunLin commented on #1739
Verified `not fixed` on `master-bfd6a8a9-head` (02/21).
Since required [harvester-installer/pull/231](https://github.com/harvester/harvester-installer/pull/231) to be merged. Move to the implement stage

### Result
Add the following content in to config-create.yaml to install harvester cluster
[code]
After installation, the cluster_network `vlan` not yet set to enabled
[code]

### Test Information

[2022-02-22 13:10] w13915984028 commented on #1668
With Harvester master-head ISO, tested:
1. VIP is set in static mode;
2. VIP is allocated via DHCP server, server side has IP/MAC binding;

the issue is not encountered.

Close the issue now.

[2022-02-22 13:10] #1668 closed, assigned to w13915984028

[2022-02-22 14:36] joshmeranda commented on #1919
~Waiting for wrangler [MR 198](https://github.com/rancher/wrangler/pull/198) before updating vendor dependency.~

[2022-02-22 15:12] vasiliy-ul commented on #1553
Hey, I think a similar issue was observed in KubeVirt not so long ago. In short: there was a delay of several minutes before the VMI status was updated with the IP address from the guest agent. Though it was happening only in the test with multiple NICs:

https://github.com/kubevirt/kubevirt/pull/6997#issuecomment-1019546079

The fixes are already merged upstream and should be included in KubeVirt

[2022-02-22 16:51] dweomer commented on #1846
- This issue does not reproduce for me with RKE2 1.21.9+rke2r1 (3 server nodes) on Harvester 1.0.0 (3 server hosts) using Rancher 2.6.3-patch1.

[2022-02-22 16:59] yasker commented on #1749
If it's Ubuntu, are you using something like https://cloud-images.ubuntu.com/focal/current/focal-server-cloudimg-amd64-disk-kvm.img ? This is a cloud image that contains the `qemu-guest-agent`. I am fairly sure it doesn't need to run `apt update/install` to install the guest agent.

[2022-02-22 17:46] yasker commented on #1800
Having enough information in the installer for debugging purposes is important.

Scrolling up would be good, though I am not sure how easy to implement it.

I agree that we should log the output to the installer logs, maybe make it available via the serial port, as well as accessible if switching the console and find it e.g. `/var/log/xxxx.log`(is this the installer log?).

I think we should sched

[2022-02-22 20:11] meysholdt opened #1938 "[BUG] Console not accessible when VM is still in status "not ready""
**Describe the bug**

The "Open in Web VNC" and "Open in Serial Console" buttons are not accessible when the VM is in status "not ready"

<img width="185" alt="image" src="https://user-images.githubusercontent.com/239422/155210451-809b9eda-860f-417b-888a-ce7e3c481e74.png">

**To Reproduce**
1. create a VM with a Kubernetes readiness probe
2. start the VM
3. when the VM left the status "starting",

[2022-02-22 21:13] cybaware commented on #1758
same for me...

[2022-02-22 23:53] thedadams commented on #1823
@FrankYang0529 The issue seems to be that the driver wasn't downloaded. The error `ls: cannot access 'docker-machine-driver-*': No such file or directory` happens right after the driver is attempted to be downloaded and before we verify that the downloaded driver is executable, a tar file, or zip file.

This seems to be a problem with a previous change where the rancher-machine job couldn't downlo

[2022-02-23 02:23] WuJun2016 commented on #1525
I found that when inputting a certain number of characters, websocket will return an additional `\r`, which I think is the root cause of this problem.

 YQ==   equal   a
 YSAN   equal   a\r

https://user-images.githubusercontent.com/24985926/155251838-0de57576-26c9-4742-b313-e6dfd8e32b83.mov

[2022-02-23 02:33] tjjh89017 commented on #1390
Note: need to add some KB to describe the limitation.
For now, we are getting to support this feature but harvester nodes will need more that two NICs to support VM VLAN networks.
We couldn't use harvester-mgmt with tagged vlan on VM VLAN networks.
need to separate VM VLAN networks with different NIC