[2022-03-24 15:21] alexdepalex commented on #2073
I've attached the output from 2 nodes. Both have identical hardware and bios settings and the second node has the same output as the first while it was deployed with v1.0.0.

The first one is running v1.0.0. The second one v1.0.1-rc1. It seems like in rc1, device naming takes into account that the 2-port adapter is on a different PCI bus. 3b in decimal is 59.

[code]

And this is a node that runs

[2022-03-24 15:36] alexdepalex commented on #2073
It might be a little bit more complex. Here is another node that has a different hardware configuration, but might give a better understanding of what is happening here. In this case, we have 3 4-port adapters:

- 1 internal eno[0123]
- 1 in slot 3 ens3f[0123]
- 1 in slot 7 ens7f[0123]

This is also reflected in the predictable name. If we deployed rc1 on this system, we'd probably end up with nam

[2022-03-24 16:02] alexdepalex commented on #2073
Seems like the naming scheme is different. `v238` vs `sle15-sp3`. In the `v238` output, it also shows `ID_NET_NAME_SLOT`. I'm wondering at this point if `sle15-sp3` is even a valid scheme version name. Looks more like a bug.

[code]

[code]

[2022-03-24 20:40] slickwarren opened #2077 "[BUG] IPAM deployment through rancher is not working -> `health checks` disabled by default"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
* deploy a workload with a load balancer service through rancher v2.6.4-rc12
* click the link once the load balancer comes up
-> service is created and `active` but is not routing to the service properly

**Expected behavior**
LB should route to the service

**Support bundle**
[supportbundle_099d3b86-89b8-45f6-aa02-748fb08ad44

[2022-03-25 01:35] FrankYang0529 commented on #2046
I can reproduce the error like @joeyloman mentioned. Following are my steps to reproduce the error.

### Phase 1: setup airgap Harvester

1. Set `offline: true` in [vagrant-pxe-harvester](https://github.com/harvester/ipxe-examples/blob/f75483563f192090dadd48051bbc3b538c30cd34/vagrant-pxe-harvester/settings.yml#L42-L44).
2. Run `./setup_harvester.sh`.

### Phase 2: Setup Rancher from a private regi

[2022-03-25 07:24] samuelattwood commented on #2066
I will third this issue. I had already tried wiping signatures with `wipefs -a`, which did not resolve it, but zeroing the beginning sectors of the disk corrected the problem.

[2022-03-25 10:25] FrankYang0529 commented on #2046
@noahgildersleeve, this issue has been fixed in Rancher v2.6.4-rc13 and I can't reproduce it, so I move to Ready for testing.

[2022-03-25 10:30] victorhooi opened #2079 "[QUESTION] Document a single-node setup used for testing/homelab etc."
**Is your feature request related to a problem? Please describe.**

Previously, setting up a single-node k3s cluster was possible - either for learning, or for very small-scale setups, or a homelab.

It's a little unclear if this is possible with Harvester - would be good to document somewhere.

**Describe the solution you'd like**

Add notes somewhere (README or docs?) about whether single-node s

[2022-03-25 11:02] janeczku opened #2080 "[BUG] Network configuration enters undefined state (nodeNetwork stuck on terminating)"
**Describe the bug**
Under certain circumstances the `networkNode` resource for a specific node may become stuck in `terminating` causing the network configuration on the OS to be left in an undefined state and thus disrupting VM connectivity.

**To Reproduce**
N/A

**Expected behavior**
`networkNode` resource should not be stuck in `terminating`state

**Actual behavior**
`networkNode` resource go

[2022-03-25 13:33] guangbochen commented on #2055
Closing this question as this is the same and has been verified in https://github.com/rancher/dashboard/issues/5438.

[2022-03-25 13:33] #2055 closed, assigned to n313893254

[2022-03-25 14:34] felixtegelkamp commented on #1943
So I had the same problem and tried to fix it with re-partitioning the disk.
[code]
This time Harvester UI did recognize the disk without filesystem and forced formatting.

However the next time I booted the Harvester Server, the disk device changed from `/dev/sda` to `/dev/sdb` (I guess the other disk was recognized first this time) and Harvester UI did mention that the disk is not provisioned. I

[2022-03-25 14:40] TachunLin commented on #2022
Verified **fixed** master-9285ca26-head (03/25). Close this issue.

### Result
Now once Harvester console UI display `Ready` status, we can directly visit Harvester VIP to enter the bootstrap mode.
It did not go through ready -> no ready -> ready status nor gets 503 nginx error.

![Peek 2022-03-25 22-25](https://user-images.githubusercontent.com/29251855/160141743-a9512489-3906-416b-8332-9137a3385

[2022-03-25 14:40] #2022 closed, assigned to futuretea, TachunLin

[2022-03-25 14:59] guangbochen commented on #2074
There are two types of networks in Harvester, `management network` and `VLAN network`.

The management network is mainly used for internal service and storage network communication. If your node has only one NIC, you can put the VLAN network on the `harvester-mgmt` NIC, but we usually recommend using separate NICs for better network isolation and performance.

We have updated the docs recently, an

[2022-03-25 15:22] yaocw2020 commented on #2080
Once the nodenetwork is deleted, the harvester-nodenetwork-controller will tear down the VLAN and set the status as false. Then, harvester-vip-controller confirms the status and switch the VIP interface. In this case, the status seems not to be updated and the harvester-vip-controller returned the error. That’s the reason why it’s stuck in the terminal state. However, I could not figure out what h

[2022-03-25 15:43] felixtegelkamp opened #2081 "[BUG] Vlan not working after restart"
**Describe the bug**
Setup Harvester VLan settings and Vlan for host and a new network.
It does work fine at first.
However on restart, the vlan configuration is not working anymore and the VMs using the network cannot be accessed from outside anymore (ping/ssh).
When I ssh into the host the vm is pingable/sshable.

![Bildschirmfoto 2022-03-25 um 16 19 54](https://user-images.githubusercontent.com

[2022-03-25 16:47] wjimenez5271 opened #2082 "[FEATURE] Add to docs how CPU over provisioning / CPU pinning works for guest VMs"
We should add to our docs the behavior of how a core allocated to a guest VM maps to physical cores on the host, including patterns of over-provisioning, how VM guests are scheduled shares of CPU time, etc.

[2022-03-25 17:53] Lucostus opened #2083 "[BUG] grub2-install: error: failed to get canonical path of `/runcos/target/boot/efi´"
**Describe the bug**

Hello, while installing I get this error.
----
Installing for x86_64-efi platform.
grub2-install: error: failed to get canonical path of `/runcos/target/boot/efi´.
----
Furthermore, under the path of "/run/cos/target" nothing is located, it's an empty directory.

<img width="860" alt="Screenshot 2022-03-25 at 18 50 34" src="https://user-images.githubusercontent.com/41841989/1

[2022-03-25 18:02] Lucostus commented on #2083
Duplicate of: https://github.com/harvester/harvester/issues/2066

[2022-03-25 18:02] #2083 closed, assigned to nobody

[2022-03-26 01:16] zpatten commented on #2069
I'm hitting this issue as well using v1.0.0; going to try v1.0.1rc1 to see if I get better luck there.

[2022-03-26 01:29] zpatten commented on #2069
Looks like v1.0.1rc1 is doing the same for me.

[2022-03-26 02:36] zpatten commented on #2069
OK so I was able to get past this.  For me it was due to not booting in UEFI.  Once I realized it wasn't booting the USB ISO in UEFI and I switched it everything went as expected and worked (so far at least).  Had the installer crash on me due to another error but that's a different story.

[2022-03-26 03:32] zpatten commented on #2069
[code]

[2022-03-26 14:19] zpatten opened #2084 "10G Network Interfaces Get Renamed to (renameX) [BUG]"
**Describe the bug**

![image](https://user-images.githubusercontent.com/670610/160243526-6f5931a9-227a-4ed0-9c20-0ded9e14b2b5.png)

**To Reproduce**
Steps to reproduce the behavior:
Happens on install and during boot.  Interfaces also show as down and don't seem to get initialized unless I go into the shell and manually bring them up.

**Expected behavior**

I get my 10G nics named, ethX or igxX

[2022-03-26 17:38] admun commented on #2069
I confirmed I had the same issue as @zpatten . By booting from UEFI, I get passed the issue of missing network device.

[2022-03-26 17:53] admun commented on #2069
I don't think the installer can detect the issue (not running in UEFI when it should), right?

Maybe the doc should update in https://docs.harvesterhci.io/v1.0/install/usb-install/#common-issues for the solution to the issue.

[2022-03-27 03:55] klinux opened #2085 "[Question] VM not starting after installation from ISO"
i'm trying to install Linux from ISO, I'm using **harvester-public/iso-image-base-template**, the installation complete successfully, by not start, there something that I need to configure to boot VM?

Thank you

[2022-03-27 06:35] TachunLin commented on #2033
Current Kube-vip image version on harvester `master-9285ca26-head` (03/25) is `kube-vip:main`
https://github.com/kube-vip/kube-vip/pkgs/container/kube-vip

[code]

According to previous discussion, plan to verify this issue on v1.0.1-rc2

Test plan would cover:
1.  https://harvester.github.io/tests/manual/network/disable-and-enable-vlan-cluster-network/
2.  Install 3 nodes harvester cluster use DH

[2022-03-27 08:08] guangbochen commented on #2033
We have bumped the `kube-vip` image version to `main` to include a PR https://github.com/kube-vip/kube-vip/pull/383 which will help fix a known issue https://github.com/harvester/harvester/issues/1985. If the VIP team doesn't cut a newer version, then we'll just use the specific master tag `344cb491eb84c0a8dc73e54fa043ebf4ea44bf02` instead.

[2022-03-27 14:46] zpatten commented on #2084
Just to update I was able to use PXE boot and set `net.ifnames=0` to prevent the issue during installation.

The rub there is after installation you need to edit the boot settings and add the `net.ifnames=0` - then you need to edit the boot params per harvesters docs.

I also noticed anytime it did rename those 10G nics it would stall the boot up process by around 2 minutes.  It also seems that wh

[2022-03-27 16:02] yaocw2020 commented on #2081
Could you provide the support bundle?

[2022-03-27 16:07] yaocw2020 commented on #2077
Do you mean you could not access the service? If so, where's the client? Could you provide more information about the network/route connectivity? @slickwarren

[2022-03-27 17:33] slickwarren commented on #2077
I was able to test it on a previous version of rancher here https://github.com/rancher/dashboard/issues/5438
The workload and service(s) created come to an active state, but the service is not accessible to the user (when clicking the link to the loadbalancer, the service is not found)

after editing the LB service to have health checks enabled, the service is then accessible through the LB

[2022-03-28 02:42] Bebs01 commented on #2023
I am also interested in this feature. I have a few HP DL380p Gen8 servers that I would like to have running with Harvester. These machines do not support UEFI and will not boot with the current ISO.

[2022-03-28 03:34] tjjh89017 commented on #2084
@zpatten Please share the server model and NIC model name for us.
We will need the slot you inserted the nic and view of the rear panel.

And please also share the output of the command below for all NICs including onboard 1G or any others.
[code]
[code]
[code]

Thanks a lot

[2022-03-28 03:37] tjjh89017 commented on #2084
We will strongly recommend NOT to use `net.ifnames=0` in your environment which it's not the predictable naming rule.

[2022-03-28 04:17] ghost opened #2086 "[BUG] Installation failed due to unintended activation of LVM vgs on installer start up"
**Is your feature request related to a problem? Please describe.**
If installing onto a system where the target disk is a pre-existing LVM pv, the installer's OS activates the vg, causing installation to fail the first time around (can't update disk because it is in use, prompts to reboot to update partition table of the disk) unless the user takes steps to avoid this.

**Describe the solution you

[2022-03-28 06:27] tjjh89017 opened #2087 "[FEATURE] show `harvester-mgmt` IP info in console not only VIP"
**Is your feature request related to a problem? Please describe.**

Nope

**Describe the solution you'd like**

Show `harvester-mgmt` IP info in console for debug and determine the node to access (e.g. ssh)

It will check the interface with the default route to have the primary/first IP from it.
If not, it will fall back to `harvester-mgmt` and get IP from it.

**Describe alternatives you've consi

[2022-03-28 07:24] lanfon72 commented on #2052
Verified this bug has been fixed.

Apply before import
![image](https://user-images.githubusercontent.com/5169694/160344844-ac763dab-f9ab-441b-9831-f9163b7cd904.png)
Apply with another `name`
![image](https://user-images.githubusercontent.com/5169694/160344898-9bc83daf-6ec2-438b-b7db-e5ad65345522.png)

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **master-9285

[2022-03-28 07:24] #2052 closed, assigned to lanfon72, futuretea

[2022-03-28 08:48] lanfon72 commented on #1817
Verified this issue has been fixed.

**mater-head**
![image](https://user-images.githubusercontent.com/5169694/160360523-a580cc2f-4a7d-4d2a-b077-5550ac1fec42.png)
**v1.0.1-rc1**
![image](https://user-images.githubusercontent.com/5169694/160360585-9adee821-d453-4ceb-a4a1-8a583fffafe6.png)
**v1.0-head**
![image](https://user-images.githubusercontent.com/5169694/160360656-0de192b7-47b2-4b54-b4a3-a151

[2022-03-28 08:48] #1817 closed, assigned to lanfon72, futuretea

[2022-03-28 09:02] w13915984028 opened #2088 "[BUG] post-upgrade hook of longhorn-storageclass-override.yaml has hidden issue"
**Describe the bug**

Fleet-agent/Helm is always complaing "configmap.v1 longhorn-system/longhorn-storageclass missing", and fleet-agent will try again every 5 minutes.

`time="2022-03-27T12:02:02Z" level=warning msg="DEV bd: name:mcc-harvester MonitorBundle: has modified status, EnqueueAfter 5 minutes, status[0]:configmap.v1 longhorn-system/longhorn-storageclass missing"`

fleet-agent has lots of

[2022-03-28 11:16] zpatten commented on #2084
OK Will do.  Ya I'd prefer to not use it however it's the only way to get my 20G LACP bond for now.  Trying to substitute that with a 2G LACP bond probably wouldn't work and so far it's been consistent so I'll count myself lucky.

[2022-03-28 11:19] felixtegelkamp commented on #2081
[supportbundle_a9ecd02f-0ba4-4b37-8681-42070ea54dac_2022-03-28T11-17-49Z.zip](https://github.com/harvester/harvester/files/8362171/supportbundle_a9ecd02f-0ba4-4b37-8681-42070ea54dac_2022-03-28T11-17-49Z.zip)

[2022-03-28 11:32] w13915984028 commented on #2088
change log of  longhorn-storageclass

![image](https://user-images.githubusercontent.com/31133476/160389144-079acb3d-37ca-4461-90ae-606b0b7b8ecf.png)

![image](https://user-images.githubusercontent.com/31133476/160389035-205b95f2-9a73-41e4-a971-ccfe9fcad667.png)

[code]

[2022-03-28 11:35] zpatten commented on #2084
`sudo udevadm test-builtin net_id /sys/class/net/<NIC name>`: https://gist.github.com/zpatten/20e9f026d626f9de6b7ea5098b2dda60
`lspci -vvv`: https://gist.github.com/zpatten/7788807d531f21a5f1f5dc0742f8f41e
`lspci -vt`: https://gist.github.com/zpatten/699a1ad41c0d2cc617171ca9ca4c8390

[2022-03-28 11:37] zpatten commented on #2084
All NICs are on-board; board is a SuperMicro `X10SDV-TLN4F-O`

https://www.supermicro.com/en/products/motherboard/X10SDV-TLN4F

[2022-03-28 11:40] zpatten commented on #2084
According to the manual the controllers are:

[code]

[2022-03-28 11:44] zpatten commented on #2084
![image](https://user-images.githubusercontent.com/670610/160390807-f76d8027-3519-45d2-9677-bbeda209a9f2.png)
![image](https://user-images.githubusercontent.com/670610/160391100-42844d4c-6c8b-4719-b500-0269e396d7d1.png)

[2022-03-28 11:52] TachunLin commented on #2046
Verified **fixed** on Rancher `v2.6.4-rc13` with Harvester `v1.0.1-rc1`.

### Result
Now can import Harvester to Rancher when both of them are under Airgapped environment (with no proxy server)
![image](https://user-images.githubusercontent.com/29251855/160383219-4e13cd46-35f4-4a79-acd6-ccb9bcf87662.png)

* The airgapped environment setup include the following phases:
1. Prepare the air gapped har

[2022-03-28 12:47] w13915984028 commented on #2088
Timeline:

1. fleet-agent executes upgrade via Helm APIs:
`time="2022-03-28T12:08:13Z" level=info msg="Helm: Upgrading mcc-harvester"`

2. Helm(charts/longhorn) creates longhorn-storageclass (uid: 0f6eeeee-0368-4e59-a396-da682927ee5c)
`time="2022-03-28T12:08:15Z" level=warning msg="longhorn-storageclass Onchange: resourceVersion:170914, uid:0f6eeeee-0368-4e59-a396-da682927ee5c, creationTimestamp:2

[2022-03-28 12:56] w13915984028 commented on #2088
This post-upgrade hook force setting, imports difference with LH's setting
The "baseImage" is no longer at LH side, and it has a new filed "fsType", but the hook does not always update with it.

![image](https://user-images.githubusercontent.com/31133476/160402352-d77459d7-665a-42b9-9c7f-e1ce6144d97d.png)

[2022-03-28 13:49] tjjh89017 commented on #2084
@zpatten

Due to this output, `ID_NET_NAME_ONBOARD` has conflict between 10G and 1G interfaces.

Could you help us to install other Linux distro (non-SUSE based) on this board and give us the output of commands above again
and give us this file from other Linux distro `/lib/systemd/network/99-default.link`

We could check if other Linux distro will have same problem with this board even it didn't

[2022-03-28 14:15] w13915984028 commented on #2088
Log from longhorn-manager

[code]

[2022-03-28 15:27] w13915984028 commented on #2088
Related to followling code? TBD

`vendor/github.com/longhorn/longhorn-manager/controller/kubernetes_configmap_controller.go:	lastAppliedStorageConfigLabelKeySuffix = "last-applied-configmap"`

[code]
![image](https://user-images.githubusercontent.com/31133476/160424946-cbd4af73-c6b5-490d-b439-2840f79d3d2e.png)

![image](https://user-images.githubusercontent.com/31133476/160424345-08ad96ea-6203-42b

[2022-03-28 16:02] zpatten commented on #2084
OK can do.  I have run Centos on it before and it properly picks up the nic names.  IIRC they came up as eth0/eth1 (for 10G) and igb0/igb1 (for 1G).  Don't quote me on that thou.

[2022-03-28 16:23] TachunLin commented on #2041
@rebeccazzzz, verified **can reproduce** on Rancher `v2.6.4-rc9` with Harvester `v1.0.1-rc`.

### Result
Can provision two Load Balancer with IPAM `Pool`
  ![image](https://user-images.githubusercontent.com/29251855/160441982-639bf494-f759-4a9f-9d45-d9e9a77e266c.png)

But both Load balancer 1 and 2 are not able to route correctly
* Load Balancer 1
  ![image](https://user-images.githubusercontent.c

[2022-03-28 16:26] tjjh89017 commented on #2084
If possible, please also try with Debian-based distro
thanks a lot

[2022-03-28 17:25] #1136 closed, assigned to nobody

[2022-03-28 17:27] rebeccazzzz commented on #1136
Closing this issue based on the comment from @wonleing.

[2022-03-29 01:05] TachunLin commented on #1808
### Update the import Harvester to Rancher status

Now can import Harvester to Rancher when both of them are under Airgapped environment (with no proxy server)
![image](https://user-images.githubusercontent.com/29251855/160383219-4e13cd46-35f4-4a79-acd6-ccb9bcf87662.png)

* The airgapped environment setup include the following phases:
Please check the **Environment setup** section for details

1.

[2022-03-29 01:13] TachunLin commented on #1808
After we can import air gapped Rancher to Harvester.
Then while we provisioning RKE2 it stuck in `Waitingfordatasecret` and can't create RKE2 cluster VM to Harvester.
  ![image2](https://user-images.githubusercontent.com/29251855/160512547-ba1eaa44-df01-4faa-be77-5aba8beaf6f1.png)

We need to follow up to investigate this issue.

[2022-03-29 01:17] TachunLin commented on #2046
After discussion. Close this issue. The follow up RKE2 provisioning will track in #1808

[2022-03-29 01:17] #2046 closed, assigned to FrankYang0529, TachunLin

[2022-03-29 05:36] wonleing opened #2090 "[Question] Does harvester support linked clone?"
Does harvester support clone VM base on a template, then all changes go into a delta storage? Just like linked clone in openstack.
Any plan or doc about this?

[2022-03-29 07:23] yaocw2020 commented on #2047
Related issue: https://github.com/harvester/harvester/issues/2041

[2022-03-29 07:32] TachunLin commented on #2041
Check the routing connection from harvester node machine

* Unable to connect to route service IP
[code]

* Check the Load balancer service
[code]
* Unable to connect to cluster IP
[code]

* The cluster IP is rejected from iptable rule
[code]

### Test Information
* Test Environment: 1 node harvester on local kvm machine
* Harvester version: v1.0.1-rc1
* Rancher version: v2.6.4-rc10
* RKE2 version

[2022-03-29 07:53] bk201 opened #2091 "[BUG] Upgrade: use an alternative location for version details"
**Describe the bug**

Harvester backend periodically pulls new versions from the upgrade responder.
But per the discussion in https://github.com/harvester/harvester/issues/1849, we need to pull version details like `ISOURL` and `ISOChecksum` from other locations instead of the responder.

Possible choices are
- Release artifacts (same with Harvester ISO).
- Github artifacts

This needs to be inclu

[2022-03-29 09:14] w13915984028 opened #2092 "[BUG] Single-node Harvester rancher-monitoring-prometheus enter "CrashLoopBackOff" due to "reloadBlocks: corrupted block""
**Describe the bug**

Single node Harvester rancher-monitoring-prometheus enter "CrashLoopBackOff" due to "reloadBlocks: corrupted block"

POD is in CrashLoopBackOff.
[code]

Error message:
`level=error ts=2022-03-27T10:13:16.342Z caller=main.go:917 err="opening storage failed: reloadBlocks: corrupted block 01FZ5AABWQWCVRSVJW5T3NSRN8: read TOC: read TOC: invalid checksum"`

The log of POD:
[code]

[2022-03-29 10:40] w13915984028 commented on #2092
seems to be similar:
https://github.com/harvester/harvester/issues/1432

[2022-03-29 14:29] aperez900907 commented on #2023
I am testing on an **Inspur server blade system**, model **NX5760M3** from 2013,
It enables to boot and load the iso install and forward to the final steps, but after rebooting the system doesn't come up.

Thanks in advance

Best regards.

[2022-03-29 15:39] BobTheDestroyer commented on #2023
@aperez900907 Dont know too much about that system, but from checking on the documentation found here:
https://www.manualslib.com/manual/1769788/Inspur-Ob5161m5.html?page=20
It seems it supports UEFI.

Is your bios in CSM enabled or not?

What happens when you check the boot order on startup?

[2022-03-29 22:42] burgoyn1 commented on #2069
@admun I am having the same issue. Management NIC is empty and can not see the on board one. If I plug in a USB 3.0 ethernet adapter, that does show up. The on board card is a 2.5GB adapter, could that be the problem?

[2022-03-29 23:46] Johngoutbeck opened #2094 "Live Storage Migration"
Please add Live storage migration.

When a new storage system is added to the system, have live (a VM or contanier) storage migration to then new storage medium.

Thank you.

[2022-03-30 03:15] futuretea opened #2095 "[BUG] create vm by using terraform-provider-harvester failed when set `ssh_authorized_keys` in cloud-init users section (not the root)"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Use the master head docker image for testing refer to this [wiki page](https://github.com/harvester/terraform-provider-harvester/wiki/Use-the-master-head-docker-image-for-testing)
2.  `terraform apply` the following config
[code]

Error:
[code]

**Expected behavior**

- If you specify ssh key names in harvester_virtualmachi

[2022-03-30 07:41] bk201 opened #2096 "[FEATURE] Add air-gapped installation tests"
**Is your feature request related to a problem? Please describe.**

Our [vagrant CI tests](https://ci.harvesterhci.io/job/harvester-vagrant-installation-test/) run with the Internet, but sometimes this can't catch air-gapped issues.

**Describe the solution you'd like**

It would be nice to add an air-gapped test case.

**Describe alternatives you've considered**

**Additional context**

- The CI

[2022-03-30 12:38] TheEagleByte commented on #1700
I am experiencing the same issue. There is nothing on these 3 servers. Fresh v1.0.0 install on all 3 servers:

![image](https://user-images.githubusercontent.com/28986398/160835981-b40abc9f-87c7-4a06-ae34-f525213ed9bd.png)

[2022-03-30 12:43] w13915984028 commented on #2088
Removing the `longhorn-storageclass-override.yaml` from master-head, the error message is gone, in a quick test, the VM can also be created.

![image](https://user-images.githubusercontent.com/31133476/160834950-8f821230-d3f8-4e22-b6c8-c6d8d0714feb.png)

![image](https://user-images.githubusercontent.com/31133476/160835145-e70875b1-a886-4bb6-b249-0b75d1fe6d30.png)

[2022-03-30 12:59] w13915984028 commented on #2088
Settle down of "mcc-harvester":
log from fleet-agent, it checks mcc-harvester bundledeployment until all error are gone
[code]

fleet-agent is  dealing with "mcc-rancher-monitoring" after that, 5 minutes loop:
[code]

[2022-03-30 16:33] tlehman commented on #1792
@datallboy I ran into this issue on a Dell Precision T7500, did [this suggestion](https://github.com/harvester/harvester/issues/1792#issuecomment-1008531918) help?

[2022-03-30 16:47] tlehman commented on #2023
The legacy ISO would have to use a Master Boot Record (MBR), which is a 512 byte sequence that always ends with the bytes `0x55aa`. From the screenshot below, you can see the first 512 bytes (`head -c 512` takes the first 512 bytes of a file) ends with the magic number `0x55aa`, so the harvester ISO is hybrid, meaning it contains a valid MBR and can boot in legacy mode.

I validated this by bootin

[2022-03-30 18:00] abonillabeeche opened #2099 "[FEATURE] Allow VMs IP configuration with node driver"
**Is your feature request related to a problem? Please describe.**
VMs may be powered off or DHCP may provide a different IP address to rancher provisioned VMs. The core issue is that rancher provisioned VMs run from DHCP, but these VMs need a permanent IP for the entire lifecycle of the cluster - which cannot be guaranteed when using DHCP.

**Describe the solution you'd like**
Allow a way to prov

[2022-03-30 19:11] tlehman commented on #1792
on a Dell Precision T7500, I just tried adding `nomodeset vga=791` and it didn't panic because of invalid dimensions

[2022-03-30 20:33] joshmeranda commented on #2090
As of now harvester does not support this type of functionality, but may in a future release. It looks like there is an existing issue to support a similar functionality: https://github.com/harvester/harvester/issues/571

[2022-03-30 20:35] joshmeranda commented on #1087
Closing since there has been no recent activity and the linked support issue has been closed. Feel free to reopen if needed!

[2022-03-30 20:35] #1087 closed, assigned to nobody

[2022-03-31 03:44] yaocw2020 commented on #2077
Same as https://github.com/harvester/harvester/issues/2041

[2022-03-31 07:08] bk201 opened #2101 "[BUG] test TestPlanHandler_OnChanged sometimes fails"
**Describe the bug**

The unit tests sometimes fail with:

[code]

https://drone-publish.rancher.io/harvester/harvester/574/1/2

**Expected behavior**

**Support bundle**

**Environment:**
 - Harvester ISO version:
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630):

**Additional context**
Sometimes the process of test takes more than 1 second, we need to clean the plan timesta

[2022-03-31 10:33] FrankYang0529 commented on #1808
Base on David's setup. I can create a RKE2 VM by following steps, but RKE2 cannot be provisioned successfully.

1. Update coredns in k3s `sudo vim /var/lib/rancher/k3s/server/manifests/coredns.yaml`.
[code]

2. Import `SLES15-SP3-JeOS.x86_64-15.3-OpenStack-Cloud-GM.qcow2` to Harvester.
3. Create RKE2 cluster with following userData.
[code]

Although a VM will be provisioned and it can get IP, RKE2

[2022-03-31 15:39] joshmeranda commented on #1679
Have you tried this with a newer harvester release like [1.0.0](https://github.com/harvester/harvester/releases/tag/v1.0.0)?

[2022-03-31 16:02] lanfon72 commented on #1907
Verified this feature has been implemented.

![image](https://user-images.githubusercontent.com/5169694/161098383-65a3971c-e3e9-4922-aef7-5c1bdcd52b2c.png)
![image](https://user-images.githubusercontent.com/5169694/161098958-9fbb22bb-c062-4587-87f1-22477cae1e04.png)
![image](https://user-images.githubusercontent.com/5169694/161099028-ce62ee72-11c3-4bbd-88b1-8487b2a7b666.png)

Test Information
----

[2022-03-31 16:02] #1907 closed, assigned to johnliu55tw, lanfon72

[2022-04-01 02:58] bk201 commented on #1796
@abonillabeeche Could you take a look if these tools are available as root?  Thanks!

[2022-04-01 03:48] WuJun2016 commented on #2067
@TachunLin  I wasn't able to reproduce the problem.  Are there any requirements for vlan configuration？
![image](https://user-images.githubusercontent.com/24985926/161191392-1e975a08-b795-4d33-b01a-df7ae54feef7.png)

[2022-04-01 04:22] dexwood opened #2105 "[BUG] typo in error message"
**Describe the bug**
I found a typo in an error message dealing in persistentvolumeclaim/validator.go

admission webhook "validator.harvesterhci.io" denied the request: resizing is only supported for detached volumes. The volueme is being used by VM default/testubuntu. Please stop the VM first.

**To Reproduce**
1. Try to edit a persistent volume claim while it is attached.

**Expected behavior**

[2022-04-01 07:44] guangbochen opened #2107 "[BUG] fleet-agent uninstall the Harvester with a failed upgrade"
**Describe the bug**
The `fleet-agent` will delete the Harvester chart when the upgrade is failed, more details are attached to the `fleet-agent` log.

**To Reproduce**
Steps to reproduce the behavior:
- still investigating how to reproduce it stably as it only happens once in our testing env.

**Expected behavior**
The `fleet-agent` should never uninstall the Harvester chart.

**Support bundle**

[2022-04-01 08:26] guangbochen opened #2108 "[BUG] upgrade preload script won't preload the images again if it is already presented"
**Describe the bug**
The upgrade preload script will not preload the already displayed images again, e.g. the second upgrade uses the same image tag like `rancher/harvester-cluster-repo:v1.0`.

**To Reproduce**
Steps to reproduce the behavior:
1. A single-node upgrade is easier to test.
1. After done the image preloading process cancels the upgrade via deleting the related CR with `$kubectl delete

[2022-04-01 09:01] chrisho opened #2109 "[Question]when force delete volume snapshot, it may be delete v1beta1.VolumeSnapshot fail"
https://github.com/harvester/harvester/blob/9664bf6797002f3b1461d9c9801ed70482dbb9bb/pkg/controller/master/backup/backup.go#L704-L709

after volumeSnapshot deepcopy, but renew old object value isn't new one.

[2022-04-01 09:14] FrankYang0529 commented on #1808
I finally can setup RKE2 in pure air-gapped environment, but we need some weird steps. Base on David's setup.

1. (k3s with Rancher VM) Update coredns in `sudo vim /var/lib/rancher/k3s/server/manifests/coredns.yaml`.
[code]
2. Import `SLES15-SP3-JeOS.x86_64-15.3-OpenStack-Cloud-GM.qcow2` to Harvester.
3. Create RKE2 cluster with following userData.
[code]
4. (RKE2 VM) Create a file in `/etc/ranche

[2022-04-01 13:49] joshmeranda commented on #2036
@abarbier05  were you using the ISO or helm installation method?

[2022-04-01 17:56] ghost opened #2110 "[FEATURE] Allow Terraform Provider to Operate in Insecure mode"
**Is your feature request related to a problem? Please describe.**
When evaluating Harvester in a proof-of-concept environment (without valid SSL cert for Harvester) it's not possible to use the terraform provider.

**Describe the solution you'd like**
It'd be nice if there was an option for the provider "insecure" that defaults to "false", but if "true" would skip validating the Harvester certifi

[2022-04-01 18:20] joshmeranda commented on #2051
I can confirm the issues / errors you describe @elct9620, see the images below from a VM with 65 GB storage:

![graphs-no-load](https://user-images.githubusercontent.com/43455015/161319244-988cd8f8-ebf9-4997-a00a-fb2fd0a94dd5.png)

![bad-gateway](https://user-images.githubusercontent.com/43455015/161319286-d0b0bb29-254f-42dd-9b65-461cc4b84fb4.png)

However, I don't think it is necessarily the righ

[2022-04-01 18:25] joshmeranda commented on #2051
We probably *could* be smarter with how we deal with this type of situation, or allow users to toggle non-vital functionality such as Prometheus and allow some version of a minimal harvester deployment.

[2022-04-01 18:27] elct9620 commented on #2051
Agree, my concern is that behavior will let users confuse. I am trying to find the root cause of my dashboard getting errors. It wastes the time for the user but we cannot disable Prometheus if we didn't need it.

[2022-04-01 18:27] elct9620 commented on #2051
Agree, my concern is that behavior will let users confuse. I am trying to find the root cause of my dashboard getting errors. It wastes the time for the user but we cannot disable Prometheus if we didn't need it.

[2022-04-01 19:15] ghost commented on #2110
Just realized that if your kubeconfig has certificate-authority-data defined in it, the TF provider will use that. So this is probably not very necessary.

[2022-04-01 19:27] joshmeranda commented on #2051
Sounds good, I'll open another issue to allow for disabling monitoring and link to this issue.

[2022-04-01 20:53] joshmeranda opened #2111 "[FEATURE] Allow for disabling some"
**Is your feature request related to a problem? Please describe.**

Some functionality is not strictly necessary for harvester to perform its core functionality, and may waste resources or add constraints on some smaller deployments. Seen in https://github.com/harvester/harvester/issues/2051 where too little storage breaks Prometheus monitoring.

![graphs-no-load](https://user-images.githubusercon

[2022-04-01 21:51] ghost commented on #2110
I suppose one option here that would fix the flow I went through would to be to add certificate-authority-data to the kubeconfig that one downloads from the Harvester support page.

[2022-04-02 08:44] guangbochen opened #2112 "[BUG] Harvester clusters should use v3.4.x version of etcd"
**Describe the bug**
At present, Harvester v1.0.1-rc2 has upgraded its RKE2 version to v1.22.7+rke2r1· and uses etcd [v3.5.1-k3s1](https://github.com/rancher/rke2/releases/tag/v1.22.7%2Brke2r1) version by default, we need to either downgrade or upgrade the RKE2 version that only uses v3.4.x etcd version,

https://groups.google.com/a/kubernetes.io/g/dev/c/B7gJs88XtQc/m/rSgNOzV2BwAJ?pli=1

**Expecte

[2022-04-03 03:55] klinux opened #2113 "[Question] Unable to mount disk in ISO installation"
I'm using the windows template: **windows-iso-image-base-version**

And I can't start the installation the VM can´t boot and in the events I get this error bellow:

`MapVolume.MapPodDevice failed for volume "pvc-58dea4ba-00e0-4221-a061-b088c5c0633a" : rpc error: code = Internal desc = Could not mount "/dev/longhorn/pvc-58dea4ba-00e0-4221-a061-b088c5c0633a" at "/var/lib/kubelet/plugins/kubernetes.i

[2022-04-03 12:54] TachunLin commented on #2033
Verified fixed on Harvester `v1.0.1-rc2`. Closet this issue.

* Current Kube-vip image version on harvester v1.0.1-rc2 is `kube-vip:main`
[code]

### Basic test plan

- [x] **`PASS`** https://harvester.github.io/tests/manual/network/disable-and-enable-vlan-cluster-network/
- [x] **`PASS`** Install 3 nodes harvester cluster use DHCP VIP
- [x] **`PASS`** Install 3 nodes harvester cluster use Fixed V

[2022-04-04 08:05] #2033 closed, assigned to yaocw2020, TachunLin

[2022-04-04 21:20] tlehman commented on #2023
# Current status of this issue

- Legacy BIOS mode is supported and currently boots
- UEFI mode is supported and currently boots
- Possible issue with CSM (Compatibility Support Module being enabled maybe prevent boot, need more input from @aperez900907 )

What I need in order to make progress on this issue are the specs of some common hardware where this issue is happening. We need to be able to

[2022-04-05 00:13] DonThorntonJr commented on #2023
I realize that 9+ year old hardware may not be an immediate priority but I was tasked with finding a bare-metal Kubernetes/VM (HCI?) solution (not Tanzu) that would run on recycled hardware that is about 9-10 years old (non-UEFI) for DARPA/USAF.

Harvester WAS the leading choice due to USAF familiarity with Rancher but now that TrueNAS Scale has been released I may have to look at that though it s

[2022-04-05 00:36] BobTheDestroyer commented on #2023
@DonThorntonJr I notice that both the hardware you're talking about and mine are HP hardware before UEFI was integrated on their MoBos.

@tlehman  After verification in the Harvester-Installer Github I found that the GRUB code [doesn't do anything if the system isnt UEFI](https://github.com/harvester/harvester-installer/blob/master/package/harvester-os/iso/boot/grub2/grub.cfg) (Line 10 to 15).

Th

[2022-04-05 01:04] DonThorntonJr commented on #2023
installing from harvester-v1.0.1-rc2-amd64.iso in VMware Fusion to clean SSD using MBR:

<img width="705" alt="Screen Shot 2022-04-04 at 18 58 27" src="https://user-images.githubusercontent.com/2985322/161657785-55716905-2230-4b4e-8def-f3f0a57a84d1.png">

[2022-04-05 01:54] DonThorntonJr commented on #2023
I etcher'ed the harvester-v1.0.1-rc2-amd64.iso image to a clean SSD and installed by way of USB to clean SSD using MBR with no issues that I could discern on HP ProLiant DL360p Gen8 with BIOS restored to defaults. - it booted on first try with no issues:
[code]
I don't recall if tried MBR on 1.0.x but pretty sure it did not work on 0.3.0

@BobTheDestroyer - thanks for pointing that out!

[2022-04-05 04:23] tlehman commented on #2023
@DonThorntonJr DARPA and USAF are definitely worthy customers :us:

@BobTheDestroyer If I am reading this grub.cfg right, the default for `${grub_platform} != "efi"` has already been set on [lines 5-6](https://github.com/harvester/harvester-installer/blob/master/package/harvester-os/iso/boot/grub2/grub.cfg#L5-L13), then the EFI case just overwrites those variables. Could you share what changes you

[2022-04-05 13:11] BobTheDestroyer commented on #2023
@tlehman As the ``set linux=linux`` flag is specific to [64 bit IBM POWER kernels instead of x86_64 bit BIOS kernels](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/system_administrators_guide/ch-working_with_the_grub_2_boot_loader) (second paragraph in "Menu Entries in grub.cfg"), that line functionally does not work for BIOS Motherboards.

My modifications where to

[2022-04-05 14:28] TachunLin opened #2114 "[BUG] Failed to upgrade harvester when node name too long cause error "Invalid value: ... must be no more than 63 characters""
**Describe the bug**

When upgrade harvester from v1.0.0 to v1.0.1-rc2, if the node name too long like `harvester-101upgrade-node1`
The upgrade will fail with error message
[code]
  ![image](https://user-images.githubusercontent.com/29251855/161706107-a54d33a0-9198-4d41-87db-8af48bfe6dee.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Prepare v1.0.0 one node harvester
2. Set a longer no

[2022-04-05 16:38] tlehman commented on #2023
@BobTheDestroyer Good catch! I can fix the grub config to include a `set linux=linux16` conditional. I'll try to reproduce the issue that @DonThorntonJr ran into with the installer and then debug from there. Thanks again for all the input!

I'll post a status update at 1pm PDT today. If there are any blockers to identifying what's wrong with the installer, I'll arrange for a call where we can debu

[2022-04-05 16:47] tlehman commented on #2023
I [added a check](https://github.com/tlehman/harvester-installer/commit/60eeffee6575bbadfbd27512daedd324b6c5afd1) for `grub_plaform == "pc"` in the grub.cfg, let me know if this looks right.

[2022-04-05 17:50] BobTheDestroyer commented on #2023
Seems legit! Thanks again for all the help!

[2022-04-05 18:56] noahgildersleeve commented on #2077
Is this going to be dependent on #1762  ?

[2022-04-05 20:00] tlehman commented on #2023
Update: I'm attempting to reproduce the error on a legacy BIOS motherboard (Dell Precision T7500), I'll test out a build with the grub.cfg change as well, and then I'll gather the logs on what failed after the post-install boot.

[2022-04-05 20:32] tlehman commented on #2023
Using the [d0f7376](https://github.com/harvester/harvester/commit/d0f7376ae3204579bdc40bcf2cec7cf8a4191c80) build (without my grub.cfg change), I installed on a Dell Precision T7500 and it booted without issue. I chose MBR partitioning scheme, and the BIOS (version A16 from 2013) doesn't support UEFI.

Should I go older? I can find some older used machines if it would help provide a more represent

[2022-04-05 20:48] BobTheDestroyer commented on #2023
Does the server see the UEFI options? On my DL360 G6, it could not see the UEFI options.

[2022-04-05 20:59] BobTheDestroyer commented on #2023
To be more precice, as it is a BIOS motherbord, it *cant* see the UEFI options. Does the Dell Precision T7500 show the UEFI options?

[2022-04-05 21:01] tlehman commented on #2023
What UEFI options? The T7500 does not have UEFI anywhere in the system setup, and I confirmed that my firmware version (A16) does not support UEFI.

[2022-04-05 21:03] tlehman commented on #2023
@BobTheDestroyer would you like to hop on the [Slack](https://slack.rancher.io/) and we can talk over audio? It might save some time

[2022-04-05 21:07] BobTheDestroyer commented on #2023
@tlehman Sent a message on the Slack.

[2022-04-05 22:10] tlehman commented on #2023
That "will not proceed with blocklists" error from grub looks like there's not enough space at the beginning of the disk before the first partition ([link](https://wiki.gentoo.org/wiki/GRUB2/Troubleshooting#:~:text=grub%2Dinstall%3A%20error%3A%20will,the%20beginning%20of%20the%20drive.))

[2022-04-05 22:18] alexdepalex opened #2115 "[BUG] Grub boot stanza doesn't exclude floppy. Could result in grub hangs."
**Describe the bug**
Grub boot stanza doesn't exclude floppy (--no-floppy). In situations where disks are reshuffled or multiple controller setups, this might result in non-existing floppy drives to be scanned, which blocks the boot cycle, or dropping to grub rescue prompt for 30 minutes.

**To Reproduce**
Steps to reproduce the behavior:
1. Have an awkward disk configuration or make the partition

[2022-04-05 22:33] DonThorntonJr commented on #2023
this was a clean 500GB SSD (not initialized) so not sure if being uninitialized was the issue but saw this twice using Fusion->USB to perform install before Etcher'ing the install ISO to the 500GB SSD directly and installing the system from that.

[2022-04-05 22:36] tlehman commented on #2023
Summary from talking with @BobTheDestroyer

On an HP ProLiant DL360 G6 Server (BIOS motherboard without UEFI support):
- USB booting gives a RSoD (Red Screen of Death), and multiple USB keys and multiple etcher programs ruled out a bad flashing
- USB booting of Ubuntu Server and TrueNAS was successful on this machine
- Modifying the [harvester-installer's grub.cfg](https://github.com/harvester/har

[2022-04-05 23:04] DonThorntonJr commented on #2023
looking at fdisk, it may be the partition ID's:
[code]

[2022-04-05 23:14] tlehman commented on #2023
Is that `fdisk -l /dev/sda` output from your SSD you etchered the installer onto?

[2022-04-05 23:36] tlehman commented on #2023
@DonThorntonJr Interesting about the partition ids, @BobTheDestroyer installed ubuntu server with no issues, so I checked and mounted the latest harvester-master-amd64.iso and ubuntu-server-20.04.iso

[code]

Ubuntu:
[code]

Harvester (note the `cd` id and `unknown` type) vs the (`0` id and `Empty` type on the Ubuntu output)
[code]

[2022-04-05 23:57] tlehman commented on #2023
@BobTheDestroyer noted that TrueNAS installed just fine, from looking at the [truenas-installer](https://github.com/truenas/truenas-installer/blob/master/usr/sbin/truenas-install#L392-L400), it uses `sgdisk` to create a BIOS boot partition _and_ an EFI partition, just in case the user wants to switch later. From looking at the [sgdisk manpage](https://linux.die.net/man/8/sgdisk#:~:text=Upon%20star

[2022-04-05 23:58] DonThorntonJr commented on #2023
yep - I have had issues with non-standard partition id's on "boot" media mainly with FreeNAS and other BSD installers

[2022-04-06 00:24] DonThorntonJr commented on #2023
another interesting side effect of installation seems to be the default ntp server 0.suse.pool.ntp.org causes my AT&T  Hotspot to go offline for ~5 min - weird!?!

[2022-04-06 01:33] noahgildersleeve opened #2116 "[BUG] You can see cattle-monitoring-system volumes as restricted admin in Harvester"
**Describe the bug**

When you log in via Rancher RBAC with restricted admin you can see cattle-monitoring-system volumes in the volumes page
**To Reproduce**
Steps to reproduce the behavior:
1. Import Harvester to Rancher
2. Create restricted admin in Rancher
3. Log out of rancher
4. Log in as restricted admin
5. Navigate to Harvester ui in virtualization management
6. Navigate to volumes page

*

[2022-04-06 02:09] tlehman commented on #2023
That is weird! Have you tried other NTP servers?

I've heard of problems with HTTP and AT&T's transparent proxy, but I'm not sure that's related.

[2022-04-06 02:26] TachunLin commented on #1852
Verified **`fixed`** on `v1.0.1-rc2`. Close this issue

### Result
* Now we have the overall status at the top of the upgrade dashboard
* The dashboard layout can contain all information
![image](https://user-images.githubusercontent.com/29251855/161874577-840ccad5-1114-4b1d-bf71-06b42fc03944.png)

### Test Information
* Test Environment: 1 node harvester on local kvm machine
* Harvester version:

[2022-04-06 02:26] #1852 closed, assigned to WuJun2016, TachunLin

[2022-04-06 02:59] yaocw2020 commented on #2077
No, it will be fixed in the pr https://github.com/harvester/cloud-provider-harvester/pull/15

[2022-04-06 03:07] TachunLin commented on #1783
- [x] Check the kubevirt version have bumped to **`0.49.0-2`** after upgrading from v1.0.0 to `v1.0.1-rc2`

[code]

[2022-04-06 06:33] WuJun2016 opened #2117 "[BUG] Incorrect style of global message alert"
**Describe the bug**

![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/cd2003bd-091e-40c8-af0c-4ba085b77714)

**To Reproduce**
Steps to reproduce the behavior:
1. create a vm
2. take a backup
3. there is a global message when the backup is created successfully  (incorrect style)
![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/be6579e6-4726-4669-

[2022-04-06 06:49] FrankYang0529 commented on #1531
Validate [Test Scenario 2](https://github.com/harvester/harvester/issues/1531#issuecomment-1066433564) with Harvester master-9664bf67-head. Following test cases can pass.

**Case1: prometheus-node-exporter pods don't crash**
1. Create a 3-node cluster.
2. Create a VM.
3. Open the VM Metrics page and stay on the page for hours.
4. We can see metrics on the page and the page doesn't crash.
5. Pods i

[2022-04-06 07:18] alexdepalex commented on #2115
Seems like cOS isn't using the `--no-floppy` flag when install grub2.

https://github.com/rancher-sandbox/cOS-toolkit/blob/master/packages/backports/installer/cos.sh#L648

[2022-04-06 07:44] TachunLin opened #2119 "[BUG] Unauthorized error caused by invalid NTP config/timestamp difference"
**Describe the bug**

While one click upgrading a 3 nodes harvester from v1.0.0 to v1.0.1-rc2.
The upgrade process stuck in the `Upgrading System Servide` showing error message:
**`Job has reached the specified backoff limit`**

![image](https://user-images.githubusercontent.com/29251855/161921040-460c3670-6206-4e5a-952c-917af3c2a683.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Prepa

[2022-04-06 08:13] bk201 commented on #2119
Could be related to the time difference between nodes.
[code]

[2022-04-06 08:16] guangbochen opened #2120 "[BUG] Grub boot stanza doesn't exclude floppy. Could result in grub hangs."
**Describe the bug**
Grub boot stanza doesn't exclude floppy (--no-floppy). In situations where disks are reshuffled or multiple controller setups, this might result in non-existing floppy drives to be scanned, which blocks the boot cycle, or dropping to grub rescue prompt for 30 minutes.
**To Reproduce**
Steps to reproduce the behavior:
  1. Have an awkward disk configuration or make the partitio

[2022-04-06 08:18] alexdepalex commented on #2120
Duplicate of https://github.com/harvester/harvester/issues/2115

😉

[2022-04-06 08:18] #2120 closed, assigned to nobody

[2022-04-06 08:31] Itxaka commented on #2115
AFAIK the `--no-floppy` stanza is not used during grub install but during search instead, so we should change the search stuff in the grub config: https://www.gnu.org/software/grub/manual/grub/grub.html#search

[2022-04-06 08:35] Itxaka commented on #2115
This may be possible to fix on harverster directly by setting the stanza on your grub config: https://github.com/harvester/harvester-installer/blob/master/package/harvester-os/iso/boot/grub2/grub.cfg#L1

[2022-04-06 08:37] Itxaka commented on #2115
Im not sure if we expect anyone to store the kernel on a floppy, so maybe we should just disable it on cos directly if there is not much to gain...

[2022-04-06 08:39] alexdepalex commented on #2115
I think this is the template that's used for creating the `grub.cfg`, so it probably needs to be added there.

https://github.com/rancher-sandbox/cOS-toolkit/blob/master/packages/grub2/config/grub.cfg.tmpl

[2022-04-06 08:41] Itxaka commented on #2115
yep, was looking for that...that may be handy if someone wants to add some env files from a floppy...it would be weird but they might use floppy in 2022 I guess lol

[2022-04-06 08:43] alexdepalex commented on #2115
I'd say, just disable it. I don't think running Harvester from floppies is an actual use case that they're willing to support.

[2022-04-06 08:49] mudler commented on #2115
Yes I do agree disabling it makes sense. Note that the config in https://github.com/rancher-sandbox/cOS-toolkit/blob/master/packages/grub2/config/grub.cfg.tmpl applies to a running environment and not to the ISO in case of harvester. This is because https://github.com/harvester/harvester-installer/blob/master/package/harvester-os/iso/boot/grub2/grub.cfg#L1 overrides the cOS defaults

[2022-04-06 08:53] Itxaka commented on #2115
PR: https://github.com/rancher-sandbox/cOS-toolkit/pull/1220
Also as mentioned by Ettore, this also requires changes in the harvester-installer grub.cfg that overrides the base cos one.

Poor floppies, wont somebody think of them anymore :crying_cat_face:

[2022-04-06 09:49] FrankYang0529 commented on #1783
Validate that KubeVirt works fine after we upgrade harvester from v1.0.0 to v1.0.1-rc2.

1. Create a 3-node cluster with Harvester v1.0.0.
2. Create a VM.
3. Stop the VM.
4. Apply the following YAML.
[code]
5. Click the Upgrade button on the Dashboard.
6. After upgrade success, check KubeVirt version is `0.49.0-2`.
7. Check we can login/pause/unpause/stop/start/soft-reboot/migrate the VM.

[2022-04-06 09:56] weihanglo commented on #2082
Just FYI. We already have a post in our knowledge base: https://harvesterhci.io/kb/vm-scheduling. It is still better having a dedicated user manual for that tho.

[2022-04-06 10:59] bk201 commented on #2119
I can reproduce this with VMs by manually setting time difference between nodes, here is what I saw these logs in `kube-apiserver-node1` pod:
[code]

[2022-04-06 13:56] TachunLin commented on #1852
### Additional Context

**Full Upgrade Dashboard UI Screenshots**

![image](https://user-images.githubusercontent.com/29251855/161979845-263c5b93-3cb2-40ef-afd2-0a60a5512ca7.png)

![image](https://user-images.githubusercontent.com/29251855/161979920-9962d0c7-47c6-4df0-9392-0eb7a5aaa524.png)

![image](https://user-images.githubusercontent.com/29251855/161981317-d1b51461-cb63-464b-9f75-0617a2452388.

[2022-04-06 14:11] TachunLin commented on #1855
Verified **fixed** on v1.0.1-rc2. Close this issue.

### Result
After one click upgrade from v1.0.0 to v1.0.1-rc2
* The additional virtual machine and image created for upgrade have both been removed
  ![image](https://user-images.githubusercontent.com/29251855/161991726-51d3abe1-46be-41ba-b5ce-b1c99cb5fb01.png)
  ![image](https://user-images.githubusercontent.com/29251855/161991793-6919c49e-14fe-

[2022-04-06 14:11] #1855 closed, assigned to bk201

[2022-04-06 15:41] bgulla opened #2121 "[BUG] Updating Rancher CA will not update the cacerts hash in harvester"
This may be a rancher bug or harvester, starting here first.

**Describe the bug**
I recently updated the CA of my Rancher (`kubectl get setting cacerts -n cattle-system`) instance and then starting getting x509 errors from my harvester provisioner. Provisioning would then fail.

In order for me to have Rancher successfully manage my downstream harvester cluster, I had to go to the harvester ui, c

[2022-04-07 02:06] yaocw2020 commented on #2041
Workaround:
It happens when disabling the health check, so to enable health check as a workaround.

[2022-04-07 02:07] yaocw2020 commented on #2077
Workaround:
https://github.com/harvester/harvester/issues/2041#issuecomment-1091002704

[2022-04-07 02:09] yaocw2020 commented on #2077
Close as it's duplicated with https://github.com/harvester/harvester/issues/2041

[2022-04-07 02:09] #2077 closed, assigned to yaocw2020, slickwarren

[2022-04-07 02:12] noahgildersleeve commented on #1538
Retested with updates. Closing as done.

[2022-04-07 02:12] #1538 closed, assigned to DaiYuzeng, futuretea, noahgildersleeve

[2022-04-07 03:45] guangbochen commented on #1808
The original issue should have already been fixed via Rancher v2.6.4, but since RKE2 provisioning relies on the `qemu-guest-agent` to get the VM IP and for air-gap env please refer to the doc [here](https://docs.harvesterhci.io/v1.0/rancher/rke2-cluster/#using-harvester-rke2-node-driver-in-air-gapped-environment), moved this issue to v1.0.2 and feel free to close it after done more validations, th

[2022-04-07 04:31] yaocw2020 opened #2122 "[BUG] LB service included a space in the random string for its name"
**Rancher Server Setup**

* Rancher version: v2.6.4-rc9
* Installation option (Docker install/Helm Chart): docker

 * If Helm Chart, Kubernetes Cluster and version (RKE1, RKE2, k3s, EKS, etc):
 * Proxy/Cert Details:

 **Information about the Cluster**

* Kubernetes version: 1.22.7+rke2r1
* Cluster Type (Local/Downstream): downstream

* If downstream, what type of cluster? (Custom/Imported or speci

[2022-04-07 04:32] yaocw2020 commented on #2122
Copy from https://github.com/rancher/rancher/issues/36956

[2022-04-07 04:33] yaocw2020 commented on #2122
The suffix is a 32 bits checksum which could be represented as a seven- or eight-digit hexadecimal number. If it's a seven-digit hexadecimal number, the statement ```fmt.Sprintf("%8x", digest)``` will add a space at the beginning of the returned string. The correct statement is ```fmt.Sprintf("%08x", digest)``` which will add the 0 character rather than space.
[code]

[2022-04-07 05:34] TachunLin commented on #1810
Verified **fixed** on one click upgrade to v1.0.1-rc2. Close this issue.

### Result
1. **`kubevip.config`** did not exists
2.  Add defaultDataPath: longhorn.defaultSettings.defaultDataPath = **"/var/lib/harvester/defaultdisk"**

  `kubectl get managedcharts harvester -n fleet-local -o yaml | yq e '.spec.values' -`

[code]

### Test Information
* Test Environment: 3 nodes harvester on provo bare m

[2022-04-07 05:34] #1810 closed, assigned to bk201, TachunLin

[2022-04-07 05:50] TachunLin commented on #1984
Verified **fixed** on one click upgrade to v1.0.1-rc2. Close this issue.

### Result
1. Can upgrade the 3 nodes harvester to v1.0.1-rc2 successfully without stuck
  ![image](https://user-images.githubusercontent.com/29251855/162128942-7099b45a-6e4b-4a2b-b5c3-aa188d8f6040.png)

2. Can proceed to upgrade the second node after draining the first node
  ![image](https://user-images.githubusercontent.c

[2022-04-07 05:50] #1984 closed, assigned to bk201, TachunLin

[2022-04-07 06:04] TachunLin commented on #1982
Verified **fixed** on one click upgrade to v1.0.1-rc2. Close this issue.

### Result
After the enhancement of upgrade_manifest stage stage, we can 100% complete the **`Upgrade System Service`** stage for the one click upgrade on 3 nodes harvester cluster.

![image](https://user-images.githubusercontent.com/29251855/162130756-562a7082-6ee5-4428-aba9-ac7f36b9f86e.png)

### Test Information
* Test En

[2022-04-07 06:04] #1982 closed, assigned to johnliu55tw, TachunLin

[2022-04-07 06:21] slickwarren opened #2123 "[BUG] VMs stuck terminating when provisioning through rancher"
**Describe the bug**
When provisioning through rancher, some nodes did not get to the final step to register with k8s. Rancher deleted the existing node and brought up a new one, however that existing node never deleted in harvester.

**To Reproduce**
Steps to reproduce the behavior:
1. provision a single node-per-role rke1 cluster through rancher using rke1
2. wait for nodes to become active

**E

[2022-04-07 06:25] slickwarren opened #2124 "[BUG] rancher provisioned rke2 control plane went down when adding a new cluster through rancher"
**Describe the bug**
An rke2 cluster provisioned through rancher had been up for nearly 6 hours. I then provisioned a separate rke1 cluster through rancher, and about at the same time the control plane node of the rke2 cluster went down.

**To Reproduce**
Steps to reproduce the behavior:
1. provision a single node-per-role rke2 cluster through rancher using rke2
2. wait for nodes to become active

[2022-04-07 07:21] #1546 closed, assigned to nobody

[2022-04-07 07:22] newhuangchuan commented on #1546
install metrics

[2022-04-07 08:10] FrankYang0529 opened #2125 "[BUG] RKE2 private registry setting doesn't apply to rancher-system-agent"
### Update (2022/05/04)

I found that when we create an RKE2 cluster with a private registry setting, Rancher doesn't set the private registry setting to `/etc/rancher/agent/registries.yaml` or `/etc/rancher/rke2/registries.yaml`. Rancher only sets it to RKE2 `system-default-registry` setting.

For rancher-system-agent, Rancher doesn't use the private registry to get the instruction image. Rancher

[2022-04-07 10:38] Itxaka commented on #2115
Fix was merged on cos-toolkit, new packages should be published in the repos in a couple of hours max! https://github.com/rancher-sandbox/cOS-toolkit/actions/runs/2108139563

[2022-04-07 10:39] alexdepalex commented on #2115
Cool. If it's included in the Harvester nightly, I can give it a shot tomorrow.

[2022-04-07 11:40] TachunLin commented on #2041
Verified on Rancher `v2.6.4` with Harvester `v1.0.1-rc2`. The workaround works

### Result
The workaround to enable health check can make routing correctly for the IPAM Pool Load balancer
![image](https://user-images.githubusercontent.com/29251855/162190420-5f4704be-aed9-4dfb-8161-b0573185d6c7.png)

Enable the health check port
![image](https://user-images.githubusercontent.com/29251855/162186809-

[2022-04-07 13:10] janeczku opened #2126 "[FEATURE] Support shared storage for VM workloads"
**Is your feature request related to a problem? Please describe.**

Today, Harvester provides shared storage to Kubernetes workloads (via read-write-many CSI volume) but not to VM workloads. There are use cases that require shared storage for applications deployed in VMs.

**Describe the solution you'd like**

Users are able to provision read-write-many volumes in Harvester.
When provisioning VMs

[2022-04-07 13:33] lanfon72 commented on #2091
@FrankYang0529 base on the instruction https://github.com/harvester/tests/issues/257,
In Phase 3, `release-download-url` is not available in the dashboard (`v1.0.0`).

I think the test plan should be updated.

[2022-04-07 14:52] bk201 commented on #2119
I had added [a warning paragraph in the upgrade section](https://github.com/harvester/docs/pull/131/files#diff-9b99ca129b131cc50e1c584be79715640745a08c667b20f0fa714558b2d3077aR29-R45) to describe the need of NTP server.

@FrankYang0529 Could you help update the rest of the doc? Here are some places that need to improve:
- https://docs.harvesterhci.io/v1.0/install/iso-install/
  - `(Optional) Confi

[2022-04-07 15:08] guangbochen commented on #2119
And the https://github.com/harvester/ipxe-examples if we can adjust the examples with some default NTP servers, thanks.

[2022-04-07 15:29] guangbochen commented on #2105
close as the PR https://github.com/harvester/harvester/pull/2106 is merged, thanks for ur contribution!

[2022-04-07 15:29] #2105 closed, assigned to nobody

[2022-04-07 15:59] FrankYang0529 commented on #2091
@lanfon72 for `v1.0.0` to `v1.0.1`, we expect users to apply `version.yaml` manually ([ref](https://github.com/harvester/docs/blob/9c69ade632f1761a1dd3efa3725628ceae028771/docs/upgrade/automatic.md)), so we don't need `release-download-url` for `v1.0.0`, because we don't automatically get a new `Version` in `v1.0.0`.

To test the function, we can update the image of `harvester-system/harvester` de

[2022-04-07 16:27] lanfon72 commented on #2091
I think the setting `release-download-url` is not added in UI. (tested on `v1.0.1-rc1` and `v1.0.1-rc2` with **ui-source=External**)

cc @guangbochen

[2022-04-07 16:57] lanfon72 commented on #2117
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/162256713-c19417cc-9d0d-4b78-8976-475c79c99cdd.png)

Test Information
----
* Environment: **Bare metal DL360 3 nodes**
* Harvester Version: **v1.0.1-rc2**
* **ui-source** Option: **Auto**

### Verify Steps:
- Follow **Steps to reproduce** in https://github.com/harvester/harvester/issues/2117#issue-1194114

[2022-04-07 16:57] #2117 closed, assigned to lanfon72, WuJun2016

[2022-04-07 21:12] ebauman opened #2128 "[BUG] Rancher packaged version of Harvester UI (1.0.1) breaks VM creation in registered Harvester 1.0.0 clusters"
**Describe the bug**
The packaging of an experimental version of the Harvester Dashboard into the Rancher v2.6.4 product results in the creation of VMs that boot to UEFI instead of the OS.
The creation of a VM using _the same settings and configuration_ from the native Harvester dashboard does not result in this behavior.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Virtualization M

[2022-04-08 00:59] irishgordo commented on #2096
Update:

Currently working through some elements about provisioning an airgapped rancher single node via vagrant/ansible/libvirt, via a temporary repository here: https://github.com/irishgordo/single-node-rancher-airgapped-vagrant-ansible-proof-of-concept .

Very much still a work in progress, just currently scaffolding out elements.
Would eventually like to integrate it in with the /harvester/ipx

[2022-04-08 03:55] noahgildersleeve commented on #2112
Tested in v1.0.1-rc3.
## Validation steps
1. Deploy a new Harvester v1.0.1-rc3 1 node cluster from ISO
2. Check `kubectl version`
![Screenshot from 2022-04-07 21-39-51](https://user-images.githubusercontent.com/83787952/162364782-a429ddd8-29c2-40b2-b6ab-fe257343400c.png)

---

1. Deploy v1.0.0 Harvester node
2. Run upgrade to v1.0.1-rc3
3. Check version with `kubectl version`
![Screenshot from 202

[2022-04-08 03:55] #2112 closed, assigned to bk201, guangbochen, noahgildersleeve

[2022-04-08 04:01] WuJun2016 commented on #2091
Hi,  @lanfon72   frontend pr has been merged, please help to test the issue,  thanks

[2022-04-08 05:55] guangbochen commented on #2115
@alexdepalex can u please help to do a quick validation against the latest [v1.0.1-rc3 release](https://github.com/harvester/harvester/releases/tag/v1.0.1-rc3), thanks in advance.

[2022-04-08 05:57] alexdepalex commented on #2115
Yes. Will do within an hour or 2.

[2022-04-08 07:36] lanfon72 commented on #1935
this should be fixed on rc3 as #2112 has been verified.

[2022-04-08 07:36] #1935 closed, assigned to bk201

[2022-04-08 07:46] alexdepalex commented on #2115
At first glance it doesn't seem to fix our issue. I need to wait half an hour before grub proceeds.

[2022-04-08 07:54] Itxaka commented on #2115
@alexdepalex any logs? Do we have a link to the iso with the patch to test locally?

[2022-04-08 07:55] Itxaka commented on #2115
oh, I see the link just above :D

[2022-04-08 07:56] Itxaka commented on #2115
@alexdepalex when you refer to `Have an awkward disk configuration or make the partition containing the boot label vanish.` what do you mean exactly, what type of devices do I need in a VM to reproduce this?

[2022-04-08 08:00] weihanglo commented on #2115
@Itxaka
Just FYI, for v1.0.01-rc3 we haven't got a time to upgrade cOS-toolkit. Instead, we patched it manually https://github.com/harvester/harvester-installer/pull/266

[2022-04-08 08:01] Itxaka commented on #2115
@weihanglo yup, saw it but the patch is basically the same (including the problem with the --set=root :P) so it should validate the same I hope.

[2022-04-08 08:07] alexdepalex commented on #2115
I'm doing a redeploy right now. Will try to get the logs from the installer. Are these logs also available on the node after reboot?

[2022-04-08 08:14] Itxaka commented on #2115
nope, but Im more interested in the grub logs if its being stuck int here, so you should try to capture the serial output, not sure if possible on that dell server, thats why I wanted to try to reproduce it in a VM, serial logs are easy that way :D

[2022-04-08 09:32] alexdepalex commented on #2115
The serial output doesn't show anything additional that's not on the console. Shouldn't `grub2-install` be executed with the `--no-floppy` flag as well?

[2022-04-08 09:36] WuJun2016 commented on #2128
Hi, @ebauman   I am trying to reproduce the problem。
1.   What is the image you are using?
2.  Do you expect it to boot using the BIOS?
3.  Are there any problems if you start UEFI?

workaround:
If you must use BIOS to boot, you can delete the following fields before saving。
[code]

[2022-04-08 09:37] Itxaka commented on #2115
As far as I know `grub2-install` does not have a `--no-floppy` flag?

https://www.gnu.org/software/grub/manual/grub/html_node/Installing-GRUB-using-grub_002dinstall.html

[code]

[2022-04-08 09:43] lanfon72 commented on #2091
Verified this feature has been implemented.

**upgrade-responder**
![image](https://user-images.githubusercontent.com/5169694/162403408-518c28d2-ffa7-4d0b-b9e8-31e6bf89268c.png)
**media server**
![image](https://user-images.githubusercontent.com/5169694/162403458-fdc36711-19e4-41ca-9dee-b8d22ff26821.png)
**node's log**
![image](https://user-images.githubusercontent.com/5169694/162403685-866afcb6-d

[2022-04-08 09:43] #2091 closed, assigned to FrankYang0529, lanfon72, WuJun2016

[2022-04-08 09:43] alexdepalex commented on #2115
It's a hidden option for whatever reason.

https://github.com/rhboot/grub2/blob/master/util/grub-install.c#L289

[2022-04-08 09:50] alexdepalex commented on #2115
Ah, seems to be for compatibility.

[2022-04-08 09:51] Itxaka commented on #2115
yep, just saw it, it doesnt seem to do anything at all :/

[2022-04-08 10:02] Itxaka commented on #2115
@alexdepalex can you maybe drop to the grub shell (press c in the grub menu) and run the search commands manually to see if its indeed that what is slowing down the boot? Maybe the issue is a different one and we are working on the wrong stuff

[2022-04-08 10:07] guangbochen commented on #2115
~~It is hard to be reproduced on our local or KVM env, wondering if we can have some stable reproduction steps using a KVM?~~

We are considering moving this one to the v1.0.2 release (targetting on 10th May), let us know if u guys have additional concerns, thanks.

[2022-04-08 10:10] alexdepalex commented on #2115
So this occurs before the grub config is actually loaded. If I drop to a shell after that and try to `ls`  the devices, it hangs again. After some time it proceeds and print 2 floppy drives.

[2022-04-08 10:23] TachunLin commented on #1985
Verified **fixed** on **`v1.0.1-rc3`**. Close this issue.

### Result
* Can 100% upgrade 4 nodes harvester (3 management, 1 agent node) from v1.0.0 to v1.0.1-rc3
  ![image](https://user-images.githubusercontent.com/29251855/162408820-e2540958-f436-48e3-a7b1-31992b788e7c.png)
* While `Upgrade system services`, none of the agent node enter in to `NotReady` state
  ![image](https://user-images.github

[2022-04-08 10:23] #1985 closed, assigned to bk201, yaocw2020, TachunLin

[2022-04-08 10:44] TachunLin commented on #1717
Verified **fixed** on **`v1.0.1-rc3`**. Close this issue.

### Result
* Can 100% upgrade 4 nodes harvester (3 management, 1 agent node) from v1.0.0 to v1.0.1-rc3
  ![image](https://user-images.githubusercontent.com/29251855/162408820-e2540958-f436-48e3-a7b1-31992b788e7c.png)
* Did not encounter multiple nodes upgrades at the same time or cordoned at once. Upgrade node are running one by one
 ![ima

[2022-04-08 10:44] #1717 closed, assigned to bk201, TachunLin

[2022-04-08 11:34] TachunLin commented on #2119
Verified **fixed** on **`v1.0.1-rc3`**. Close this issue.

### Result
After we add specific ntp server to each node for the config-create and config-join harvester configuration file for PXE install.

[code]

And check all nodes have identical time alignment with ntp service.
During the upgrade from v1.0.0 to v1.0.1-rc3, we did not encounter the issue of stuck in  **`Job has reached the specified

[2022-04-08 11:34] #2119 closed, assigned to FrankYang0529, TachunLin

[2022-04-08 18:47] batreseau opened #2131 "[Question] Grafana Monitoring"
Hello Guys

I'm trying to setup a standalone Harvester v1.0.0 correctly but i have some issues regarding Grafana and metrics.
The main issue is simple: no data are retreived in Grafana :/

Below a capture of embedded grafana :
![image](https://user-images.githubusercontent.com/5255313/162502445-922c3877-9ba3-4683-ad38-d676b7117f5a.png)

Same issue with VM metrics:
![image](https://user-images.gith

[2022-04-08 20:52] batreseau commented on #2131
Issue no longer appear using version 1.0.1

[2022-04-08 20:52] #2131 closed, assigned to nobody

[2022-04-09 14:27] Lucostus commented on #2126
Would this solve the problem of double Longhorning a k3s cluster, or is there already a solution?

[2022-04-10 14:03] yaocw2020 commented on #2063
- As is known, Kubernetes is not supported to change the node IP. Since MGMT IP is a node IP, it could not be changed.
- As for the cluster VIP, it could be changed theoretically but not easy. Harvester has not supported it and we also suggest not changing it.

[2022-04-10 14:09] yaocw2020 commented on #2056
I didn't notice this before and created the duplicated issue https://github.com/harvester/harvester/issues/2122. Close this one and track the bug by issue 2122.

[2022-04-10 14:09] #2056 closed, assigned to nobody

[2022-04-11 01:41] bk201 opened #2132 "[DOC/FEATURE] Clean unused images after upgrade"
**Is your feature request related to a problem? Please describe.**

After a user upgrades Harvester to a newer version, many old images will not be used again.
We can provide a method to remove those images to free some space.

**Describe the solution you'd like**

- A document or KB article to clean unused images.
- Automatically clean unused images after upgrade succeeds.

**Describe alternative

[2022-04-11 06:19] tjjh89017 commented on #2128
1. un-select `Booting in EFI mode`
UI need to remove
`features.smm`
and remove
`firmware`

[code]

2. select `Booting in EFI mode` and `secureBoot: false`

[code]

3. select `Booting in EFI mode` and `secureBoot: true`

[code]

cc @WuJun2016

[2022-04-11 06:58] futuretea commented on #2048
close in favor of https://github.com/harvester/harvester/pull/2039#pullrequestreview-925736994

[2022-04-11 06:58] #2048 closed, assigned to futuretea

[2022-04-11 07:02] bk201 opened #2133 "[BUG] OS: need to catch up cos-toolkits"
**Describe the bug**

Try to catch up latest cos-toolkits today and got this error:

![Screen Shot 2022-04-11 at 3 00 45 PM](https://user-images.githubusercontent.com/1691518/162682392-ecc1c480-d02f-4f25-ad64-5008bb2be33b.png)

**To Reproduce**
Steps to reproduce the behavior:
1. clone harvester/os2 repo.
2. Remove this line in `etc/luet/luet.yaml`:
[code]
3. build OS
4. Use the OS in the harveste

[2022-04-11 07:10] felixtegelkamp commented on #2081
Actually this does not only happen on restart.
The vlan network drops from time to time and does not recovery.
The fix is to switch the hosts vlan nic to management nic and then back to the second nic.

[2022-04-11 07:18] yaocw2020 commented on #2081
Maybe you collected the support bundle after switching and could not see the abnormal things. Could you try to upgrade to the latest version v1.0.1? I believe It will behave better.

[2022-04-11 07:20] felixtegelkamp commented on #2081
Thank you. I will try to upgrade.

[2022-04-11 07:25] yaocw2020 opened #2134 "[EPIC] Harvester cloud provider enhancement"
The epic issue is the collection of the issue related to the Harvester cloud provider enhancement.
- [x] https://github.com/harvester/harvester/issues/1676
- [x] https://github.com/harvester/harvester/issues/1458
- [x] https://github.com/harvester/harvester/issues/1762
- [x] https://github.com/harvester/harvester/issues/1580
- [x] https://github.com/harvester/harvester/issues/2354
- [x] Add migrat

[2022-04-11 07:26] yaocw2020 opened #2135 "1762"

[2022-04-11 07:28] #2135 closed, assigned to nobody

[2022-04-11 07:49] guangbochen opened #2136 "[BUG] Add edit VM related doc"
**Describe the bug**
Need to add the edit VM documentation page, e.g, https://docs.harvesterhci.io/v1.0/vm/edit-vm/
- general VM editing and expected results.
- describe features like support dynamic ssh key/password injection via AccessCredentials #1538

[2022-04-11 07:55] guangbochen commented on #1949
close as this feature is overlapped with the existing cloud-init template which is more simple and straightforward, thanks.

[2022-04-11 07:55] #1949 closed, assigned to DaiYuzeng

[2022-04-11 09:39] guangbochen opened #2137 "[BUG] Block device volume failed to unmount when it is detached unexpectedly"
**Describe the bug**
backport issue https://github.com/longhorn/longhorn/issues/3778

**To Reproduce**
Steps to reproduce the behavior:
- https://github.com/longhorn/longhorn/issues/3778#issuecomment-1077089425

**Expected behavior**

**Support bundle**

**Environment:**
 - Harvester ISO version: v1.0.1
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630):

**Additional context**

[2022-04-11 09:57] bk201 commented on #2038
@irishgordo Could you help on this issue? The feature is also related to the vagrant dev environment.

[2022-04-11 10:08] lanfon72 commented on #2095
Verified this bug has been fixed.

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **v1.0.1-GA**
* **ui-source** Option: **Auto**

### Verify Steps:
- Follow **Steps to reproduce** in https://github.com/harvester/harvester/issues/2095#issue-1185808425

[2022-04-11 10:08] #2095 closed, assigned to lanfon72, futuretea

[2022-04-11 10:49] bk201 commented on #1683
We don't support changing VIP ATM because it's used in each node to join the cluster.

[2022-04-11 10:52] bk201 commented on #1995
@yaocw2020 Do you remember what blocks the migrations? Thanks.

[2022-04-11 11:16] yaocw2020 commented on #1995
nfs-common

[2022-04-11 13:33] yaocw2020 commented on #2122
Test plan:
- Deploy a guest cluster enabling the harvester cloud provider
- Create an Nginx deployment
- Create numbers of related load balancer services until one is always pending. Checking the cloud provider logs, we could see the logs like
[code]
- Replace the harvester cloud provider deployment image as the personal image `armarny/harvester-cloud-provider:issue2122`. The pending service shoul

[2022-04-11 14:01] yaocw2020 commented on #2041
Test plan:
Do the steps described in this comment https://github.com/harvester/harvester/issues/2041#issuecomment-1080856111 but replace the cloud provider image as `armarny/harvester-cloud-provider:issue2122` before deploying the load balancer service.

[2022-04-11 14:13] bk201 commented on #2108
The reason is we only check the image name, for example, if `rancher/harvester-cluster-repo:v1.0` exists.
It's not an issue for normal upgrade paths, but might be a problem during development as the description says.

[2022-04-11 14:55] anandm19 commented on #1758
Im also facing the same issue and I did cancelled an ISO upload
Is there a workaround yet, pls advise

[2022-04-11 15:37] w13915984028 commented on #1758
It is highly possible due to a known issue(#1904,  #1956), is fixed in v1.0.1

A workaround in versions before v1.0.1, please try:
delete the harvester pod via kubectl, wait one minute, force refreshing the WebUI
like: `kubectl delete pod harvester-5c87b6db68-xnkbt -n harvester-system`

[2022-04-11 15:48] irishgordo commented on #2038
@bk201 - I think it would be great if we could get some parallel provisioning set up.  I can definitely take a look into this! :smile:
I'm still really new to Ansible & Vagrant but I'm working to ramp up in understanding those tools.

Another thing, I was thinking of seeing if there would be some performance gains would be to investigate Ansible pipelining.
[ansible_configuration pipelining info](

[2022-04-11 16:08] xiaofan-linux opened #2138 "[Question] kubernetes deploy harvester error"
[code]
[code]
[code]

[2022-04-11 18:43] felixtegelkamp commented on #2081
Thank you very much for your advice and patience! The upgrade fixed this issue.

[2022-04-11 18:43] #2081 closed, assigned to nobody

[2022-04-11 19:57] tlehman commented on #2011
I walked through the steps to reproduce this, but used a later version of harvester (on master branch, commit [d0f7376](https://github.com/harvester/harvester/commit/d0f7376)), the upgrade succeeded.

![image](https://user-images.githubusercontent.com/261552/162819102-2293b14e-4126-4a45-9e37-b3ae681696fe.png)

That particular commit, [d0f7376](https://github.com/harvester/harvester/commit/d0f7376)

[2022-04-11 20:30] w13915984028 opened #2139 "[BUG] Harvester "make package" fails"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Harvester source code master-head
2. make build
3. make package, the failure occurs

**Expected behavior**

`make package` should be successful

**Support bundle**

**Environment:**
 - Harvester ISO version: V1.0.1
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630): Linux, X86

**Additional conte

[2022-04-11 20:50] tlehman commented on #2040
@slickwarren  For step 1., does "deploy rancher on a harvester VM, and import a harvester cluster through virtualization management" mean I create a VM on a harvester cluster, and that VM is a rancher cluster? Then I use the rancher cluster VM to import the host (harvester cluster)?

![image](https://user-images.githubusercontent.com/261552/162829675-86fbc4b2-5851-475d-a0d1-a3a22bd42e30.png)

[2022-04-11 21:20] tlehman commented on #2023
Update: I ordered an HP ProLiant DL360P G8 Server 2.60Ghz 16-Core 96GB 2X 300GB Enterprise (Renewed), it will arrive April 22-26. Once I have the server, I can get a proper repro of this issue and debug it then.

[2022-04-11 21:56] ebauman commented on #2128
Even with "Booting in EFI mode" unchecked in the UI, the VM still boots to the UEFI prompt...

[2022-04-11 23:50] slickwarren commented on #2040
@tlehman yes!

[2022-04-12 00:35] rebeccazzzz commented on #2011
Moved to ~~1.0.3~~ v1.1.0 because associated Rancher fix is being moved to a future release. Also, we now have a workaround for this issue.

[2022-04-12 01:12] futuretea commented on #2110
@lotyrin  according to https://github.com/harvester/harvester/issues/1072 and my manual test,  certificate-authority-data has been added to the kubeconfig that one download from the Harvester support page since v1.0.0, can you try the latest release [v1.0.1](https://github.com/harvester/harvester/releases/tag/v1.0.1) ?

[2022-04-12 02:11] tjjh89017 commented on #2128
Yes, we understand that, we are working on it to fix it!
thanks for this issue!

[2022-04-12 03:25] ghost commented on #2110
I can confirm that it does now yes. Thanks!

[2022-04-12 03:25] #2110 closed, assigned to nobody

[2022-04-12 03:30] tjjh89017 commented on #1882
### Test Plan and Step

1. create a VM with runStrategy: RerunOnFailure
2. execute `sudo poweroff` in VM to shutdown VM
3. check the state in UI if it's OFF.
4. check if there is a Stop action in menu (PR: https://github.com/harvester/harvester/pull/1963)

[2022-04-12 03:47] tjjh89017 commented on #1953
We decided to change default runStrategy to Manual because of minimal side effect and common hypervisor's behavior.
related to https://github.com/harvester/harvester/issues/2060

[2022-04-12 03:47] #1953 closed, assigned to tjjh89017, WuJun2016

[2022-04-12 05:07] yaocw2020 commented on #1618
We have to provide a more user-friendly way to support non VLAN tagged network. @tjjh89017
- Enable the VLAN network, and bind the bridge with a NIC during the installation.
- Create the non VLAN tagged network by default.

[2022-04-12 05:11] tjjh89017 commented on #1618
This is related to https://github.com/harvester/harvester-installer/pull/227
but we need UI, right?
and probably need a `harvester-vlan` bonding to attach.
I will do some research to fit if we need to setup vlan on harvester-mgmt

Note:
setup a bootstrap net-att-def in installer.

[2022-04-12 07:31] futuretea opened #2140 "[FEATURE] Support using Harvester node driver to create rke1/rke2 cluster by terraform"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

Add Harvester support to https://github.com/rancher/terraform-provider-rancher2

**Describe alternatives you've considered**

**Additional context**

[2022-04-12 07:34] futuretea commented on #2140
For test:

# provider
[code]
# node driver
[code]
# cloud credential
## imported harvester cluster
[code]
[code]
## external harvester cluster
[code]
# rke1 cluster
## node template
[code]
## node pool
[code]
## cluseter v1
[code]
# rke2 cluster
## no cloud provider
### machine config
[code]
### cluster v2
[code]
## with cloud provider
### machine_config
[code]
### generate cloud provider kubeconf

[2022-04-12 08:08] weihanglo commented on #1564
Haven't found why the code is generated differently. The two of the code snippets look almost identical. Only for `io.k8s.api.core.v1.ResourceRequirements` it got `map[string]` type for fields `limits` and `requests`.

- https://your-harvester-ip/v1/schemas/io.k8s.api.core.v1.ResourceRequirements
- https://your-harvester-ip/v1/schemas/kubevirt.io.v1.virtualmachine.spec.template.spec.domain.resourc

[2022-04-12 08:36] guangbochen commented on #1531
can we please check if we can close this issue, there is an exceptional case of `unstable deployment of POD prometheus-0` which is tracked via #2013, thanks?

[2022-04-12 10:51] w13915984028 commented on #2139
unfortunately, directly "make package-webhook" is also failed,  only "make package-upgrade " is successful

[code]

[2022-04-12 10:56] w13915984028 commented on #2139
There is conflict between `"make ci" `and `"make package/package-webhook"`

A straightforward fix helps` "make package" `but breaks` "make ci"`
![image](https://user-images.githubusercontent.com/31133476/162944590-9a69074d-b5ca-4060-8d49-56926951f797.png)

`make ci `fails
![image](https://user-images.githubusercontent.com/31133476/162945119-fef90f2f-7655-4365-afbf-1321fa6c7b79.png)

[2022-04-12 12:29] axsms opened #2142 "[BUG] Message suggesting a user induced reboot appears prematurely - rebooting breaks the install"
**Describe the bug**
At one point during the ISO install, the below message appears.
[code]
There are several actions/scripts remaining and rebooting at that point results in a broken install.

**To Reproduce**
Steps to reproduce the behavior:
1. ISO install via virtual media drive

**Expected behavior**
Install completes and all harvester features are available through the dashboard.

**Support b

[2022-04-12 13:59] joshmeranda commented on #1919
Resolved in PR [198](https://github.com/rancher/wrangler/pull/198)

[2022-04-12 14:26] TachunLin opened #2143 "[BUG] Unable to provision Harvester v1.23.4 RKE2 cluster in Rancher v2.6.4"
**Describe the bug**

While provisioning v1.23.4 RKE2 cluster in Rancher v2.6.4, it can't finish and stuck in the
`waiting for probes: calico, etcd, kube-vipserver, kube-controller-manager, kube-scheduler, kubelet`
![image](https://user-images.githubusercontent.com/29251855/162962283-a2ec2d1d-cabf-487a-8b4c-79d724c477eb.png)

![image](https://user-images.githubusercontent.com/29251855/162962439-d9

[2022-04-12 14:41] w13915984028 commented on #1531
Agree with @guangbochen, I prefer to close this issue, the original scope is fixed by

https://github.com/harvester/dashboard/pull/247
https://github.com/harvester/dashboard/pull/263
https://github.com/harvester/harvester-installer/pull/240
https://github.com/harvester/harvester-installer/pull/250

the OOM of prometheus-0 and node-exporter is no longer in v1.0.1.

In the meanwhile, another new iss

[2022-04-12 15:02] TachunLin commented on #2041
Verified **fixed** on Harvester v1.0.1 with Rancher v2.6.4. Close this issue.

### Result
On the v1.22.7+rke2r2 cluster in harvester, (local kvm machine)
Not yet require to update the cloud provider image for https://github.com/harvester/harvester/issues/2041#issuecomment-1095091888

1. We can provision the first and second load balancer correctly to the same nginx deployment
  ![image](https://us

[2022-04-12 15:02] #2041 closed, assigned to yaocw2020, TachunLin

[2022-04-12 15:38] axsms opened #2144 "[Question] Is it possible to setup nodes on commodity baremetal servers in isolated environments with only public IP?"
I am having issues installing with only a public IP available via non-VLAN-aware switches. I have no other service beyond internet access on these nodes. Also, there are two NICs on each server. But I cannot configure the private VLAN intended for the second NIC until I have access through the first NIC. Is it possible to do what I am trying to do?

What is happening when I try to use only the pub

[2022-04-12 17:38] axsms commented on #2144
I just got a clean install on one of my nodes. So, I will look at firmware, bios, etc. as a possible issue on the other nodes. The single public IP is not an issue from what I can see.

[2022-04-12 17:38] #2144 closed, assigned to nobody

[2022-04-12 20:41] w13915984028 commented on #1893
It still seems to be in Harvester v1.0.1.

**Two exceptions:
1. A DEAD? POD is shown as "Running"
2. fleet-agent still uses high percentage of CPU, the log seem to be related to exception 1, it complains:**

`time="2022-04-12T20:29:11Z" level=error msg="bundle mcc-rancher-monitoring: daemonset.apps cattle-monitoring-system/rancher-monitoring-prometheus-node-exporter [progressing] Available: 2/3"`

[2022-04-12 22:07] w13915984028 commented on #1940
Update:
After the fix of OOM, this issue is not reproducable. It is quite possible to be the side effect of OOM.
Will try to reproduce for more days, and notice if others encounter it in v1.0.1

cc @guangbochen @rebeccazzzz

[2022-04-13 03:36] irishgordo commented on #2096
Update:

Started the integration process with the ipxe-examples/vagrant-pxe-harvester repo, still currently a work in progress, but the content is here:

https://github.com/irishgordo/ipxe-examples/tree/feat/2096-air-gapped-rancher-single-node-proof-of-concept/vagrant-pxe-harvester

[2022-04-13 04:28] bk201 commented on #2136
Need to also include `runStrategy: Manual` change from https://github.com/harvester/harvester/issues/2060

[2022-04-13 06:23] FrankYang0529 commented on #2143
I can provision RKE2 1.23.4+rke2r2 on master-c5bfa702-head (a version after v1.0.1).

![image](https://user-images.githubusercontent.com/4927361/163113115-36c1f490-1cba-4e33-99c1-5082c9b8b4f5.png)

[2022-04-13 08:00] TachunLin commented on #2143
Double checked again on my laptop, also can provision RKE2 v1.23.4+rke2r2 on `v1.0.1` with Rancher `v2.6.4` (Ubuntu focal)
The previous symptom may related to network or the date of OS image.

![image](https://user-images.githubusercontent.com/29251855/163129037-0f0921bd-cc50-4e56-92d8-5b0f23c15661.png)

[2022-04-13 08:02] #2143 closed, assigned to nobody

[2022-04-13 08:04] WuJun2016 opened #2145 "[BUG] After the upgrade is complete, the image percentage becomes 0%"
**Describe the bug**

After a successful upgrade, the upgraded image will be deleted automatically.  At this point the progress bar of image is displayed as 0 %

![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/b6eb5544-f883-4024-b4a0-3a8347bc5810)

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade from Harvester 1.0.0 to Harvester 1.0.1
2. After the upgrade is

[2022-04-13 09:21] lanfon72 commented on #2140
Verified this feature has been implemented.

- [x] resource `rancher2_cloud_credential`
- [x] resource `rancher2_node_template`
- [x] resource `rancher2_cluster`
- [x] resource `rancher2_cluster_v2`
- [x] resource `rancher2_machine_config_v2`

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **v1.0.1-GA**
* **ui-source** Option: **Auto**
* Rancher Version: **v2.6-

[2022-04-13 09:21] #2140 closed, assigned to lanfon72, futuretea

[2022-04-13 09:46] weihanglo commented on #1564
I've tested it several times. None of cases below can reproduce the original issue:

- Edit spec via the path "Edit Config > Edit as YAML"
- Edit spec via the path "Edit YAML"

The time this issue reported was pre1.0 era (perhaps v0.3), and lots of upstream dependencies has been upgraded since then, so I guess the issue was accidentally fixed.

BTW, the type mismatch issue which @WuJun2016 mention

[2022-04-13 09:57] TachunLin commented on #2122
Verified **fixed** on harvester `v1.0.1` with Rancher `v2.6.4` after replacing cloud provider image to `armarny/harvester-cloud-provider:issue2122`

Close this issue.

### Result
After replacing cloud provider image to `armarny/harvester-cloud-provider:issue2122`.

1. It can make the `pending` load balacner (lb-28) which have space in random string back to `running` status
  ![image](https://user-

[2022-04-13 09:57] #2122 closed, assigned to yaocw2020, TachunLin

[2022-04-13 10:07] w13915984028 commented on #1842
[code]
**Per investigation, there may be some mis-understanding here:**

The caculation of used memory is :  1 - (free/total) = 1 - (4.6/7.7) = 1-59.7%,  roughly  40%;   it includes not only the `"used"` part, but also the `"shared"` and ` "buff/cache"`

Important thing is,  the` "buff/cache"`, which is 2.9Gi,  hot memory used by command dd `dd if=/dev/zero of=testfile bs=1024 count=5024000`

for

[2022-04-13 10:09] w13915984028 commented on #1842
@slickwarren could you please double check it,  use `1 - (free/total)` to compute the used memory, thanks.

[2022-04-13 12:26] lanfon72 commented on #1564
Closed as the bug can not be reproduced in `v1.0.1`.
Also tested on `v1.0.0`, `v0.3.0`(lacking **Edit YAML** button inside **Edit Config**)

[2022-04-13 12:26] #1564 closed, assigned to lanfon72, weihanglo

[2022-04-13 13:23] TachunLin commented on #1531
@w13915984028, @guangbochen
Double confirm this issue on harvester `v1.0.1`, still encounter the monitoring chart empty sympton.
Please check and advice whether we should look deep into this issue.

* During the 4 hours period checking, the monitoring chart still encounter empty several times like the following
![image](https://user-images.githubusercontent.com/29251855/163187809-99b414b6-c6fd-442

[2022-04-13 15:32] janeczku opened #2147 "[FEATURE] Storage Tiering"
**Is your feature request related to a problem? Please describe.**

- Requirement to use mixed storage hardware of different performance levels to optimize cost
- Using heterogeneous storage devices on Harvester nodes leads to unpredictable performance today because there is no control over what device tier will back a specific volume/replica.

**Describe the solution you'd like**
Harvester should

[2022-04-13 18:09] tlehman commented on #2040
@slickwarren I have Harvester 1.0.1 set up and running to reproduce this, what OS are you using in your Rancher VM? [k3os](https://github.com/rancher/k3os)? [os2](https://github.com/rancher/os2)?

[2022-04-13 18:49] tlehman commented on #2040
I am using openSUSE Leap 15.3 for the VM image, let me know if there's a better choice.

![image](https://user-images.githubusercontent.com/261552/163249583-35c58d9d-3482-4aba-ae21-0efc87bdb205.png)

[2022-04-13 18:52] tlehman commented on #2040
I think I ran into #1736 while uploading that image. I used a URL as a workaround. That worked

[2022-04-13 19:58] slickwarren commented on #2040
I was using ubuntu 20 but your image should be fine

[2022-04-13 22:35] w13915984028 commented on #1531
Update:
From nginx log of support bundle by @TachunLin , there are no http GET exceptions, back end PODs have no errors.

From a happend local debug, it seems the front end scripts are stucking:

`Click "Reload"`
![image](https://user-images.githubusercontent.com/31133476/163280801-e0749d6b-602c-4947-a386-d43f541ebac4.png)

`A couple of HTTP GET are triggered and all are successful, but the front

[2022-04-14 02:03] FrankYang0529 opened #2148 "[BUG] Cannot migrate VMs after shutdown nodes"
**Describe the bug**
Users stop VMs and enable maintenance mode on nodes. Before maintaining the network, they also shut down nodes. However, when they start nodes again, VMs can start, but VMs cannot be migrated. The status of VMs is like the following. The weird part is that nodes are in Ready status, but there is a `Node is not ready` event in VM.

<img width="587" alt="image" src="https://user

[2022-04-14 02:24] bk201 commented on #1707
This issue should be fixed after bumping Longhorn to 1.2.4. The engines don't fail if a node goes into `NotReady` state for a short period. I'd suggest keeping monitoring this issue for a while since we can only test this by upgrading to the next release.

[2022-04-14 07:02] johnliu55tw commented on #1363
I will update documents in https://github.com/harvester/ipxe-examples for the [workaround](https://github.com/harvester/harvester/issues/1363#issuecomment-1055149393).

[2022-04-14 07:13] n313893254 opened #2149 "[FEATURE] Show device name in disk tab of host page"
**Is your feature request related to a problem? Please describe.**

The background information is  https://github.com/harvester/harvester/issues/1976 , the second solution.

Block device name is meaningless to users.

**Describe the solution you'd like**

Show device name which is obtained from `status.deviceStatus.devPath`

[2022-04-14 07:22] FrankYang0529 commented on #2123
Hi @slickwarren, I cannot reproduce this issue in Harvester `v1.0.1` with Rancher `v2.6.4`. I can create RKE1 `v1.22.7` with focal image (2 vCPU, 4G RAM and 40G storage).

![Screen Shot 2022-04-14 at 2 01 58 PM](https://user-images.githubusercontent.com/4927361/163327182-1759490f-5dce-49d5-89f9-44f81919d223.png)
![Screen Shot 2022-04-14 at 2 02 06 PM](https://user-images.githubusercontent.com/4927

[2022-04-14 07:28] TachunLin commented on #1707
As per discussed, this issue could be verified in the upgrade path from `v1.0.1` to `v1.0.2`. We will check it at the next upgrade test for v1.0.2 release

[2022-04-14 07:49] TachunLin opened #2150 "[BUG] The Prometheus monitoring chart become empty after staying on dashboard page for a period of time"
**Describe the bug**

This issue originate and continue the tracking in #1531
After staying on the dashboard page for a period of time (e.g 20 minutes)
* The Prometheus monitoring chart become empty
![image](https://user-images.githubusercontent.com/29251855/163337427-c416397a-df78-48d5-99aa-e0f13f56105e.png)

* Click the `Reload` can't recover it back
![image](https://user-images.githubuserconten

[2022-04-14 08:01] TachunLin commented on #1531
According to the investigation https://github.com/harvester/harvester/issues/1531#issuecomment-1098545912.
The Prometheus monitoring pod is running without crash and the monitoring-node-exporter did not encounter restarts as well.

When abnormal,  front end is stucking in "Loading...", but there are no ongoing/failure http requests.
To narrow down the scope, we will close this issue and continue t

[2022-04-14 08:01] #1531 closed, assigned to TachunLin, w13915984028

[2022-04-14 08:48] lanfon72 commented on #2145
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/163349281-c71d0aac-034c-4481-bee0-59d0eadcd127.png)

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **v1.0.0** to **master-c5bfa702-head**
* **ui-source** Option: **External**

### Verify Steps:
1. Follow [the upgrade instruction](https://docs.harvesterhci.io/v1.0/upgra

[2022-04-14 08:48] #2145 closed, assigned to lanfon72, WuJun2016

[2022-04-14 08:57] w13915984028 commented on #1842
**How "used" memory is calculated:**

https://github.com/kubernetes-monitoring/kubernetes-mixin/issues/234#issuecomment-521929614

node_exporter mixin doesn't have this problem as it already uses memory calculation mentioned in https://github.com/prometheus-operator/prometheus-operator/issues/1310#issue-320923699 as seen in https://github.com/prometheus/node_exporter/blob/master/docs/node-mixin/da

[2022-04-14 09:02] yaocw2020 commented on #1474
We could not generate the kubeconfig for the specified serviceaccout using the rancher API `v3/clusters/clusterid?action=generateKubeconfig`.

[2022-04-14 09:02] w13915984028 commented on #1842
**Conclusion:**

The current implementation of "memory usage" of prometheus/grafana, is aligned with industry main stream calculation.

The "memory usage" is via: `1 - (free/total)`,  **NOT** `used/total`

[code]

Not an issue, will not fix.

[2022-04-14 09:05] yaocw2020 commented on #1474
We could close this issue now because it's the same as https://github.com/harvester/harvester/issues/1476

[2022-04-14 09:07] #1474 closed, assigned to yaocw2020, n313893254

[2022-04-14 09:17] guangbochen opened #2151 "[BUG] prevent users from creating RWX PVCs on the guest k8s cluster"
**Describe the bug**
Currently, users are able to create an RWX PVCs in the guest k8s cluster using the Harvester node driver, however only RWO should be supported(future enhancement of https://github.com/harvester/harvester/issues/1992) in the current stage.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Harvester cluster and import it into the Rancher dashboard.
2. Spin up the gu

[2022-04-14 09:20] lanfon72 commented on #1699
Verified this bug has been fixed.

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **master-c5bfa702-head**

### Verify Steps:
1. Install Harvester with the Console UI
2. Input `time.windows.com` as the NTP Server
3. NTP Validation should not display any errors
4. When Harvester Installed, Login to console
5. Execute `sudo timedatectl timesync-status`
6. The NTP

[2022-04-14 09:20] #1699 closed, assigned to FrankYang0529, lanfon72

[2022-04-14 09:22] w13915984028 commented on #2150
Happend to meet it,  debug info:

Click the `Reload`, the UI was stucking in `Loading`
![image](https://user-images.githubusercontent.com/31133476/163353275-1015b436-59e1-445b-bb9b-f98b237c7e21.png)

the Chrome debug showed:  a couple of HTTP GET were done successfully, no failure, no on-going
![image](https://user-images.githubusercontent.com/31133476/163353366-7509a94f-be66-4b18-8add-3083012cd46

[2022-04-14 09:41] w13915984028 commented on #1842
Will write "memory usage" calculation into Harvester DOC.

[2022-04-14 09:45] WuJun2016 commented on #2057
Test step:
case 1:
When creating the image,  You can choose to fill in the following two labels
case 2:
When creating an image from a url, the UI will try to automatically fill the label

case 3:
When creating a vm, it can correctly determine whether the `type` of `Image Volume` is `disk` or `cd-rom`

![image](https://user-images.githubusercontent.com/24985926/163355384-f6942213-7f09-4e07-8fe8-e1b

[2022-04-14 13:51] w13915984028 commented on #2013
Update:
POD `cattle-monitoring-system/prometheus-rancher-monitoring-prometheus-0` is re-created even in single-node Harvester cluster, after the rebooting of cluster.  It is related to PVC, details are under investigation.

prometheus-0, grafana are re-created, notice the AGE.
![image](https://user-images.githubusercontent.com/31133476/163403301-5af102ae-e183-4ba8-bcc7-5ee04173bb4a.png)

kubelet l

[2022-04-14 14:28] w13915984028 opened #2152 "[BUG] bundledeployment rancher-monitoring always has status "modified""
**Describe the bug**

For a successfully installed Harvester cluster, it runs well, but the bundledeployment` rancher-monitoring` always has status `"modified"`  with `"mutatingwebhookconfiguration.admissionregistration.k8s.io rancher-monitoring-admission modified"`.

[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**

System should be steady, no such warnings.

[2022-04-14 15:11] yasker commented on #2151
Bump up the priority since it misleads and breaks all the users with RWX workload in the guest cluster.

[2022-04-14 15:14] bk201 commented on #2114
https://github.com/harvester/harvester/blob/03ee62133765a03394e1a35ccd4859ad1afd1302/pkg/controller/master/upgrade/common.go#L200
Here the job name is automatically set to label `job-name` by Kubernetes. We need a way to handle the name length > 63 characters.

A possible way to fix is follow how SUC define a plan's job names: https://github.com/rancher/system-upgrade-controller/blob/79da9f058209b

[2022-04-14 16:12] slickwarren commented on #2123
* this is not consistently reproducible for me
* there isn't anything special afaik about rke1/settings
* I regularly restart my harvester setup, but this was on a fresh install of the RC.

[2022-04-14 17:42] tlehman opened #2153 "[Bug] Incorrect error message when virtualization is disabled by BIOS"
**Describe the bug**
When Installing Harvester on a bare metal server, if the BIOS has disabled kvm (hardware virtualization), then the installation will proceed normally, but when you attempt to create and run a VM on Harvester, the error message is cryptic and not helpful. The error is "_0/1 nodes are available: 1 pod has unbound immediate PersistentVolumeClaims._"

**To Reproduce**
Steps to rep

[2022-04-14 18:19] PhanLe1010 commented on #2151
We can:
1. Remove the `VolumeCapability_AccessMode_MULTI_NODE_MULTI_WRITER` [here](https://github.com/harvester/harvester-csi-driver/blob/5700629c292bf005e3c5042553ee1fedc654e5e6/pkg/csi/controller_server.go#L54)
2. Put a check validation [here](https://github.com/harvester/harvester-csi-driver/blob/5700629c292bf005e3c5042553ee1fedc654e5e6/pkg/csi/controller_server.go#L79) to reject the PVC with

[2022-04-14 18:22] PhanLe1010 commented on #2151
Btw, @gitlawr  I am not sure why we hard-coded the access mode to RWX when we create the PVC in the host cluster [here](https://github.com/harvester/harvester-csi-driver/blob/5700629c292bf005e3c5042553ee1fedc654e5e6/pkg/csi/controller_server.go#L94)?

Also, the [volumeParameters](https://github.com/harvester/harvester-csi-driver/blob/5700629c292bf005e3c5042553ee1fedc654e5e6/pkg/csi/controller_serv

[2022-04-14 18:49] alexdepalex commented on #1289
@guangbochen We experience the same on all our v1.0.1 clusters, which means no VM metrics.

[2022-04-15 01:32] irishgordo commented on #2096
A tad slow, but it's almost there:

Latest run relative timings just on the 'rancher-box' that's airgapped that get's provisioned:

Started: 16:52
Finished: 18:29

[2022-04-15 03:15] guangbochen commented on #2151
Hi @PhanLe1010, Harvester VMs use block device volumes with RWX mode so they can support VM live migration. Those PVCs created by the CSI driver are consumed by pods running within these VMs via the Harvester csi-driver plugin(with passthrough), we are considering supporting RWX with filesystem mode in a separate issue at https://github.com/harvester/harvester/issues/1992 .
In regards to not passi

[2022-04-15 04:34] tlehman commented on #2040
I have ubuntu 20 with rancher 2.6.4 set up, and I imported the host harvester cluster and have it in an active state (step 2)

For step 3, does "shut down the harvester cluster" mean physically shut down the host harvester cluster? Or does it mean shut down the representation of the Harvester cluster in the Rancher VM?

The reason I ask is that if I shut down the host, then the VM (Rancher cluster

[2022-04-15 05:28] PhanLe1010 commented on #2151
Thanks @guangbochen for the explanation!

It is an interesting design. Do we have a design doc for this feature? I would like to learn more about what does `passthrough` mean

[2022-04-15 06:38] FrankYang0529 commented on #2123
RKE2 version is different on Harvester. `v1.0.1-rc2` uses RKE2 `1.22.7+rke2r1` and `v1.0.1` uses RKE2 `1.21.11+rke2r1`.

On Harvester `v1.0.1-rc2` cluster,  there is log like `Failed to remove cgroup (will retry)" error="rmdir /sys/fs/cgroup/systemd/kubepods/burstable/podc37b8b12c8f57845c0ed443b5ac3d1ee/4f8391cfb6dea799bbaabcec3655eba00ea0728b83dc9f097cd8036b24d31279: device or resource busy`, but

[2022-04-15 06:45] guangbochen commented on #2151
**Validation steps:**
1. Spin up the guest k8s cluster via the Harvester node driver(e.g RKE2 with k8s v1.22.7+rke2r2) and the cloud provider is set to `Harvester`.
2. once the cluster is up and running path the embedded csi driver image with custom build e.g. `docker.io/rancher/harvester-csi-driver:v0.1.3`
3. Creating PVCs on the `Storage -> PersistentVolumeClaims` page:
    - PVC with the mode o

[2022-04-15 06:46] WuJun2016 commented on #1683
Test step:

1. Create a harvester cluster to add 3 nodes, (two nodes will not show the ip change prompt)
2. Simulation of IP change

- Create `harvester-master` cluster, add `harvester-node1` and `harvester-node2` to the `harvester-master` cluster
- After waiting for 3 nodes to be ready, enter `harvester-node1`，run the following command
[code]
- go to `harvester-node2`, get the gw-ip,   `sudo ip r

[2022-04-15 07:04] n313893254 commented on #1976
Currently implemented the first solution, The second solution will be implemented in this [issue #1249 ](https://github.com/harvester/harvester/issues/2149)

[2022-04-15 08:00] lanfon72 commented on #1882
Verified this bug has been fixed.

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **master-03ee6213-head**
* **ui-source** Option: **Auto**

### Verify Steps:
- Follow the Test Plan in https://github.com/harvester/harvester/issues/1882#issuecomment-1095927874

[2022-04-15 08:00] #1882 closed, assigned to tjjh89017, lanfon72, WuJun2016

[2022-04-15 08:36] FrankYang0529 commented on #2148
I try to use [Network QoS](https://libvirt.org/formatnetwork.html#elementQoS) to limit my network speed in KVM, but I still can't reproduce this issue. I limit bandwidth to 250MB/s and have 4 VMs. All VMs can be started and migrated successfully.

[code]

[2022-04-15 08:48] n313893254 commented on #2150
Thanks for the reproduced information, I can reproduce refresh not work by the following hack steps.

**To Reproduce**

1. Prepare a harvester
2. Go to the dashboard page, and observe the metircs, it will work as expected.
3. Scale-down cattle-monitoring-system/rancher-monitoring-grafana of deployment to 0.
4. Failed to load graph banner will show in metrics tab.
5. Scale-up cattle-monitoring-syst

[2022-04-15 08:58] lanfon72 commented on #2060
Verified this feature has been implemented.

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **master-03ee6213-head**
* **ui-source** Option: **Auto**

### Verify Steps:
- Follow the Test Plan in https://github.com/harvester/harvester/issues/2060#issue-1176314745

[2022-04-15 08:58] #2060 closed, assigned to tjjh89017, lanfon72

[2022-04-15 09:11] lanfon72 opened #2154 "[BUG] VM still got IP Address when poweroff"
### Describe the bug
The VM still displays `IP Address` with the state `Off`.
The VM was powered off via executing command `sudo poweroff` inside the VM.
refer to #1882

### To Reproduce
Steps to reproduce the behavior:
1. Create VM
2. Login to VM and execute `sudo poweroff`
3. VM's **State** become `Off` and the `IP Address` still available

### Expected behavior
VM should not display IP Address.

[2022-04-15 09:44] TachunLin commented on #2151
Verified **fixed** on `master-03ee6213-head` (04/15) with Rancher `v2.6.4`. Close this issue.

### Result
After replacing the harvester csi driver image to `docker.io/rancher/harvester-csi-driver:v0.1.3`

1. Create PVC with `Read-Write-Many` and `Read-Only-Many` would stuck in `pending` status
2. Create PVC with `Read-Write-Only` can work and bound as expected
![image](https://user-images.githubus

[2022-04-15 09:44] #2151 closed, assigned to guangbochen, TachunLin, joshmeranda

[2022-04-15 10:28] TachunLin commented on #1808
Close this issue since the failed behavior have been resolved.

To provision the RKE2 cluster in air gapped without proxy, please refer to the [document](https://docs.harvesterhci.io/v1.0/rancher/rke2-cluster/#using-harvester-rke2-node-driver-in-air-gapped-environment)
User have to use OS image have `qemu-guest-agent` installed or prepare a proxy server and add http proxy in user config.

[2022-04-15 10:28] #1808 closed, assigned to dweomer, TachunLin, noahgildersleeve

[2022-04-15 12:27] LukasCoder opened #2155 "[QUESTION] Interface name has changed after removal of NIC"
I removed a NIC from the server and the other NIC's interface name have changed, leading to me losing connection to the UI since the Harvester Bond now points to an interface that does not exist anymore. How can I change the interface of the bond, since no modifications I do to the system persist after reboot?

[2022-04-15 15:53] johnliu55tw commented on #2155
To make the config persist across reboots, you have to update `/oem/99_custom.yaml`. Look for the following content in the file:
[code]
The content here will create the `ifcfg` files for interfaces `harvester-mgmt` and `enp9s0`. Let's say your NIC has been renamed to `enp7s0`, then you would have to replace the two `enp9s0` here with `enp7s0`.

[2022-04-15 16:33] joshmeranda commented on #2028
Verified, here are some of the relevant logs:

[code]

[2022-04-15 18:32] slickwarren commented on #2040
in this case, the host was shut down

[2022-04-15 18:57] joshmeranda commented on #2028
Looking like this is an issue with the self-signed certs rather than a bug in harvester. The portion of the last log entry `x509: cannot validate certificate for 192.168.0.104 because it doesn't contain any IP SANs` indicates that the host name / ip of your rancher deployment is not listed as an accepted hos. In my development environment my rancher deployment is on `192.168.0.104` so I needed tha

[2022-04-15 19:06] joshmeranda commented on #2028
@janeczku Are seeing similar `IP SANs` error logs in the `cattle-cluster-agent-xxxxxxxxxx-xxxxx` in the `cattle-system` pod on your harvester cluster?

[2022-04-15 19:19] tlehman commented on #2040
My setup: Harvester 1.0.1 bare metal, Rancher 2.6.4 on running as a docker image on an ubuntu vm.

I rebooted the host, and then whenI reconnected to the VM, the Management Cluster was in an Active state.

I'll try with Rancher 2.6.4-rc10 to see if I can reproduce the issue. One detail I want to check is how Rancher was installed on the VM: was it run as a docker container? or was it an RKE cluste

[2022-04-16 11:34] pagong opened #2156 "[BUG] VMs do not start due to mounting errors of root disk"
**Describe the bug**
I'm trying to install VMs from ISO images.
I've tried both, openSUE-leap15.3 and Talos v1.0.0

**To Reproduce**
- Use Harvester GUI to create VM with 2 volumes:
  1st one (1GB) for cdrom of ISO image
  2nd one (20GB) for root FS of VM
- Guest VM stays in state "starting" with message
  "Guest VM is not reported as running "

**Expected behavior**
Guest VMs should startup prope

[2022-04-16 11:47] pagong commented on #2156
Similar to these issues:
https://github.com/harvester/harvester/issues/2085
https://github.com/harvester/harvester/issues/2113

Maybe related to https://github.com/harvester/harvester/issues/2151 ??

[2022-04-16 11:52] pagong commented on #2156
node21:~ # kubectl describe pod virt-launcher-leap-153-b-682gs
Name:           virt-launcher-leap-153-b-682gs
Namespace:      default
Priority:       0
Node:           node21/192.168.20.121
Start Time:     Sat, 16 Apr 2022 11:05:24 +0000
Labels:         harvesterhci.io/vmName=leap-153-b
                kubevirt.io=virt-launcher
                kubevirt.io/created-by=9782b91b-a590-4ce6-b7c3-a4f98be

[2022-04-16 17:03] pagong commented on #2156
node21:~ # kubectl describe  VirtualMachineInstance/leap-153-b
Name:         leap-153-b
Namespace:    default
Labels:       harvesterhci.io/vmName=leap-153-b
Annotations:  harvesterhci.io/sshNames: []
              kubevirt.io/latest-observed-api-version: v1
              kubevirt.io/storage-observed-api-version: v1alpha3
API Version:  kubevirt.io/v1
Kind:         VirtualMachineInstance
Metadata:

[2022-04-16 17:31] putz612 commented on #2069
Ran into this one too, no network card seen and installer just bounces back to the start.  Dropping into the shell I do see a network card though.

[2022-04-17 14:33] xiaofan-linux opened #2157 "[BUG] Deploy harvester error"
[code]
[code]

[2022-04-17 22:08] w13915984028 commented on #2150
#2043 may be related too, please take a look, thanks.

[2022-04-18 02:55] TachunLin commented on #1948
Verified **fixed** on `master-03ee6213-head`(04/15). Close this issue.

### Result
When there is only one node on the Hosts page, Harvester won't provide the `Delete` host button and relative menu options
to prevent user deleting the last node
![image](https://user-images.githubusercontent.com/29251855/163746761-1410fab6-4096-4089-a617-0d3e6e807d8d.png)

### Test Information
* Test Environment: 1

[2022-04-18 02:55] #1948 closed, assigned to n313893254, TachunLin

[2022-04-18 03:10] TachunLin opened #2158 "[BUG] Unable to create image by uploading from file, prompt `harvesterhci.io/os` and `harvesterhci.io/image-type` is required"
**Describe the bug**

Unable to create image from uploading existing ISO file, prompt error message
1. "harvesterhci.io/os" is required
2. "harvesterhci.io/image-type" is required
  ![image](https://user-images.githubusercontent.com/29251855/163747911-a530f935-08d3-4818-89e5-a1b6bf316bd9.png)
  ![image](https://user-images.githubusercontent.com/29251855/163748084-e62686c4-a598-44d3-8871-65558f1f4a

[2022-04-18 03:13] devadapter opened #2159 "[Question] Are there any plans to develop a client support package?"
I found the go-harvester project, but he is not available in v1.0. Is there any plan to develop a harvester client?

[2022-04-18 04:24] WuJun2016 commented on #2154
Current vmi has not been removed, The ip will disappear after a few seconds.

[2022-04-18 04:51] WuJun2016 commented on #2158
@TachunLin  Please see the description of the changes in this  [issue](https://github.com/harvester/harvester/issues/2057)

[2022-04-18 05:18] yaocw2020 commented on #2031
We are unable to get the cluster name on the apps & marketplace question page.

[2022-04-18 05:19] lanfon72 commented on #2154
In the case, VM `s3b` execute `sudo poweroff` inside the VM, then I start VM `s1` and stop it via dashboard.
As the snapshot, IP of VM `s1` been cleared, but the VM `s3b` still shows its IP address.

I think the mainly different is the way of poweroff.

[2022-04-18 05:27] yaocw2020 commented on #2080
@janeczku Could you help confirm if the issue is resolved in the customer environment after upgrading to the v1.0.1 version?

[2022-04-18 05:33] WuJun2016 commented on #2154
Both ways of stopping the vm will have the problem that the ip does not disappear immediately.
The frontend is enhanced, when the vm stops, the UI will hide the IP information

[2022-04-18 06:07] TachunLin commented on #2158
By setting the `image-type` and `os-type` in Labels. We can create image by uploading image from file
  ![image](https://user-images.githubusercontent.com/29251855/163762774-14fcd640-5faa-4263-b9fa-485b28d4573d.png)
  ![image](https://user-images.githubusercontent.com/29251855/163762869-c85f5c00-19d8-49ad-ac77-2f9ea01fa8a5.png)

@WuJun2016, @guangbochen, a suggestion is we can add this change for

[2022-04-18 06:18] guangbochen commented on #2158
@WuJun2016  @TachunLin I prefer to set those labels as an optional field instead of required, if the user didn't fill it then by default the image will be treated as a disk volume. Also adding an appropriate doc to the [upload image](https://docs.harvesterhci.io/v1.0/upload-image/) page on how to specify the image disk type would be helpful, thanks.

[2022-04-18 06:41] bk201 commented on #2137
The goal is to add the workaround: https://github.com/longhorn/longhorn/issues/3778#issuecomment-1085219265
- Probably add in the Harvester helm chart. We need to verify if the ds can be deleted in the future if the ds is removed in the helm chart templates. If this doesn't work, we need to manually remove the ds during a future upgrade.
- Use an alternative image than `alpine:3.12` if possible.
-

[2022-04-18 06:51] TachunLin commented on #2128
Verified **not fixed** on Harvester `master-03ee6213-head` (04/15) with Rancher `v2.6.4`.
Move this issue to the implement pipeline.

### Result
With the default `Booting in EFI mode` unchecked, create a new virtual machine still boots to the UEFI prompt.
  ![image](https://user-images.githubusercontent.com/29251855/163766153-14d8b58b-b3b4-4d05-8d14-dc452965d980.png)
  ![image](https://user-images

[2022-04-18 07:03] guangbochen commented on #2031
@n313893254 can u please help to evaluate if the cluster name can be retrieved and set automatically for the users from the front-end side, thanks?

[2022-04-18 07:55] bk201 commented on #1800
@guangbochen could we close https://github.com/harvester/tests/issues/185?
I feel there is nothing we can do.

[2022-04-18 07:56] guangbochen commented on #1800
Yep, also we can skip creating the e2e test issue via adding the label `not-require/test-plan` thanks.

[2022-04-18 08:01] #1854 closed, assigned to bk201

[2022-04-18 08:38] weihanglo commented on #1662
Did some research on this topic with three major Linux distros in virt-manager. I installed them via the GUI of virt-manager with option "Local install media (ISO image or CDROM)".

<img src="https://user-images.githubusercontent.com/14314532/163774555-b9eecd53-58c7-421c-a391-3890cf086f00.png" width="400px">

- **openSUSE Leap15.3**: There is a "boot from disk" on their ISO as the first option, so

[2022-04-18 10:14] bk201 opened #2162 "[BUG] Fail to upgrade nodes' OSes when upgrading from 1.0.1 to master ISO"
**Describe the bug**

Node OS can't be upgraded when upgrading Harvester from 1.0.1.

**To Reproduce**
Steps to reproduce the behavior:
1. Build the master ISO.
2. Create a v1.0.1 Harvester cluster and upgrade to the master ISO.
3. post-drain jobs fail with

[code]
**Expected behavior**

Node OS should be upgraded.
**Support bundle**

**Environment:**
 - Harvester ISO version: A local master build

[2022-04-18 10:16] bk201 commented on #2162
The cause is we didn't chroot when invoking `cos upgrade`: https://github.com/harvester/harvester/blob/c5f4564f60ed557259cd06bb35ee114065715d8e/package/upgrade/upgrade_node.sh#L274
And the `cos` script in v1.0.0 loads some variables from host's config file: https://github.com/rancher-sandbox/cOS-toolkit/blob/087d40ce5c8c0a2c2160803491733a67f981a635/packages/backports/installer/cos.sh#L153-L155

[2022-04-18 10:32] TachunLin commented on #2128
Verified **`fixed`** on Harvester master-03ee6213-head (04/15) with Rancher v2.6.4. Close this issue

### Result
After updating the `ui-dashboard-index` url and set the `ui-offline-preferred` to external

We can create the following types of VM in Harvester and boot correctly
1. BIOS mode
2. UEFI mode
3. UEFI mode with secure boot

* Uncheck UEFI option

https://user-images.githubusercontent.com/2

[2022-04-18 10:32] #2128 closed, assigned to WuJun2016, TachunLin

[2022-04-18 10:34] lanfon72 commented on #1976
After discussed with @weihanglo, the implementation is not enough for user to add new disks. (snapshot as below)
user will be confused when they got multiple disks with same size.
so this issue be blocked by #2149, and they should be ship together.

![image](https://user-images.githubusercontent.com/5169694/163796092-75105f71-eaf8-4704-a70b-596e3bdb7d2e.png)

[2022-04-18 10:46] lanfon72 commented on #1970
Verified this feature has been implemented.

The problem:

The Solution:
**User can NOT add any partitioned disk**

![image](https://user-images.githubusercontent.com/5169694/163796824-e68a9cfc-f442-417a-8056-107e555028b8.png)
![image](https://user-images.githubusercontent.com/5169694/163796881-8bb5db66-b8d3-4d59-9206-4e13c66ee526.png)

Test Information
----
* Environment: **qemu/KVM single node**

[2022-04-18 10:46] #1970 closed, assigned to lanfon72, n313893254

[2022-04-18 14:12] vanloswang opened #2164 "[BUG] can not recognize the network interface when run in vmware workstation"
**Describe the bug**
Can not recognize the network interface when run in vmware workstation.

**To Reproduce**
Steps to reproduce the behavior:
1. Download ISO installer.
2. Run it on vmware workstation 15, and follow the installation steps.
3. The 'Managment NIC' is null , and  I can not pass to the next option.

**Expected behavior**
recognize the network interface and install ok.

**Environment

[2022-04-18 16:57] noahgildersleeve commented on #2156
@pagong Could you attach a support bundle to the ticket when you get a chance? You can access it by [clicking the support link in the bottom left of the UI, then clicking generate support bundle](https://docs.harvesterhci.io/v1.0/troubleshooting/harvester/#generate-a-support-bundle).

[2022-04-18 18:33] rebeccazzzz commented on #2023
Moving the community issue review status to "resolved/scheduled" because this issue has been scheduled for an upcoming Harvester release.

[2022-04-18 20:54] tlehman commented on #2040
I reproduced this issue, but I don't think it has to do with the fact that I used Rancher 2.6.4-rc10 instead of 2.6.4, I think it has to do with DHCP.

Look at this screenshot:
![image](https://user-images.githubusercontent.com/261552/163873362-d9246ea9-3f87-41cc-a19b-6d5ce6195a1d.png)

Notice that the rancher VM on the right is 192.168.1.186 (current DHCP IP, but initially it was 182, which you c

[2022-04-18 21:42] tlehman commented on #2040
Oh, also, when I delete the Harvester cluster entry from the Rancher VM and try to re-import it, the Rancher cluster returns the old saved IP address as part of the registration URL.

What's the best way to handle this failure? I think it would be worth adding some validation code that looks at the stored cluster-registration-url and check if it matches the current IP

[2022-04-18 23:25] tlehman commented on #2153
The approach to solving this:

# Backend
- Add a boolean to the Harvester nodes' `status.nodeInfo`
     - Definition of done:
     - `kubectl get nodes janus -o yaml | yq .status.nodeInfo` should contain a `kvmEnabled` boolean, this value can be populated by checking for `/dev/kvm` on the harvester node
# Frontend
- https://github.com/tlehman/dashboard/commit/4bf9af778114ee58afc1957ec57476b99e147f

[2022-04-19 00:23] tlehman commented on #2153
Move this to an Annotation (since Node is not a custom resource)

[2022-04-19 00:31] bk201 commented on #2153
FWIW, I got this annotation on my AMD nested host:

[code]

Not quite sure if that's enough. For Intel machines, it could be `cpu-feature.node.kubevirt.io/vmx` (need verification, I don't have any Intel machines ATM sorry).

[2022-04-19 00:33] tlehman commented on #2153
@bk201 Thank you! I'll look to see if there are the annotations I need. For `cpu-feature.node.kubevirt.io/vmx`, I don't think that will work, I had an Intel machine with `vmx` but then KVM was still disabled by BIOS. I had to find it through dmesg

[2022-04-19 07:36] guangbochen commented on #2121
This is the expected behavior of Rancher and please refer to [update-ca-cert](https://rancher.com/docs/rancher/v2.6/en/installation/resources/update-ca-cert/#why-is-this-step-required) for more details.

[2022-04-19 07:41] guangbochen commented on #2121
close as of the above description, and feel free to re-open it if u have any better suggestions, thanks.

[2022-04-19 07:41] #2121 closed, assigned to guangbochen

[2022-04-19 08:02] lanfon72 commented on #2154
I think there still have something different between _execute `poweroff`_ and _click `stop`_.

The VM `s1` execute `poweroff` to stop, and the VM `s2` click `stop` button to stop.
and as the screenshots, **s1**'s pod will remaining with **completed** status; in the dashboard, **Restart** Button will appear and clickable, showing scheduled Node.

I also tested when click **Restart / Start** VM `s1`

[2022-04-19 08:09] lanfon72 commented on #2073
@guangbochen I think we can't test this in our environment, should I close it directly or wait @alexdepalex to help us to verify it?

[2022-04-19 09:05] guangbochen commented on #1289
As a temp workaround, you can trigger the Prometheus rules redeployment by restarting the kubevirt operator pod:
[code]

[2022-04-19 09:32] guangbochen commented on #2073
This issue has been verified and more details about the recent NIC naming schema change can be found via https://harvesterhci.io/kb/nic-naming-scheme.

Feel free to reopen it if you have any further questions, thanks.

[2022-04-19 09:32] #2073 closed, assigned to tjjh89017, lanfon72

[2022-04-19 09:41] TachunLin commented on #2020
Verified **fixed** on `master-c5f4564f-head` (04/19). Close this issue.

### Result
* VM items **can sort correctly** per `node` in ascend and descend order
  ![image](https://user-images.githubusercontent.com/29251855/163973568-ec62aea8-fdb9-43ff-a829-2c8cbd9a8065.png)
  ![image](https://user-images.githubusercontent.com/29251855/163973630-2707f987-1241-4e77-94d2-8f977ac8a15b.png)

* VM **before*

[2022-04-19 09:41] #2020 closed, assigned to WuJun2016, TachunLin

[2022-04-19 10:20] guangbochen commented on #1846
Move the issue forward to `ready-for-testing` as I can't reproduce it via Rancher v2.6.4 + Harvester v1.0.1 combination, the issue https://github.com/harvester/harvester/issues/1770#issuecomment-1049669061 is already resolved, thanks.

[2022-04-19 11:16] w13915984028 commented on #2152
Analysis:

The rancher-monitoring chart, which is used by Harvester, is at  https://github.com/rancher/charts/tree/dev-v2.6/charts/rancher-monitoring/100.1.0%2Bup19.0.3

1. Values in values.yaml
the expected value of `admissionWebhooks.failurePolicy` is `Failue`
[code]

2. When install/upgrade, the `admissionWebhooks.failurePolicy` value is set to: `Ignore` when `patch.enabled` is true, seems for

[2022-04-19 11:22] w13915984028 commented on #2152
Another post-install, post-upgrade hook causes similar problem.

https://github.com/harvester/harvester/issues/2088

[2022-04-19 13:44] w13915984028 commented on #2152
@[aiyengar2](https://github.com/aiyengar2)
Per our previous discussion:
https://github.com/harvester/harvester/issues/1893#issuecomment-1033072423

It looks such a "writing" post-upgrade/post-install hook is the root cause.

Do you have any idea how to solve it? thanks.

[2022-04-19 14:27] pagong commented on #2156
You're welcome. Here it is:

[supportbundle_a4af19a6-0e0a-4840-974b-6af7160f7b63_2022-04-16T11-34-36Z.zip](https://github.com/harvester/harvester/files/8513833/supportbundle_a4af19a6-0e0a-4840-974b-6af7160f7b63_2022-04-16T11-34-36Z.zip)

[2022-04-19 15:09] lanfon72 commented on #1683
@WuJun2016, based on the test plan https://github.com/harvester/harvester/issues/1683#issuecomment-1099898121
The dashboard start freezing after `restart rke2-server`. (as the screen record below)
It could be recovered when I restart the Node which changed IP.  I think we should fix the freezing problem with the feature implementation.

https://user-images.githubusercontent.com/5169694/164032434-b

[2022-04-19 19:09] tlehman commented on #2023
The HP ProLiant DL 360p Gen 8 server arrived early, returning to working on this issue

[2022-04-19 20:19] poldiderjungdrache opened #2169 "[BUG] Issues adding 2nd and 3rd node to harvester test cluster"
**Describe the bug**

I am trying to create a small harvester cluster. I installed the master node without issues. Now I am installing additional 2nd and 3rd node. The install using 1.0.1 ISO shows no issues, however both nodes remain in status NotReady

**To Reproduce**
Steps to reproduce the behavior:
1. install first node using ISO
2. Install 2nd and 3rd node, selecting Join existing cluster in

[2022-04-19 21:15] poldiderjungdrache commented on #2169
Guess I found some issue:

rancher-system-agent is in a restart loop:

Apr 19 19:15:48 harvester03 systemd[1]: rancher-system-agent.service: Failed with result 'exit-code'.
Apr 19 19:15:53 harvester03 systemd[1]: rancher-system-agent.service: Scheduled restart job, restart counter is at 3.
Apr 19 19:15:53 harvester03 systemd[1]: Stopped Rancher System Agent.
Apr 19 19:15:53 harvester03 systemd[1]:

[2022-04-19 21:47] poldiderjungdrache commented on #2169
Ok fixed it.
Here for the ones that might run into the same issue.
Copy your rootCA.pem to /etc/pki/trust/anchors.
Afterwards run update-ca-certificates.
Rinse and repeat on all nodes.

[2022-04-19 21:47] #2169 closed, assigned to nobody

[2022-04-19 21:54] tlehman commented on #2023
I installed Harvester 1.0.1 using a USB key on this HP ProLiant DL360p Gen8, used MBR partitioning scheme and it booted up and went into a ready state without problems. I used NIC 1 for management network, what's everyone's network setup? Are you using the iLO interface for management or just one of the regular NICs?

![IMG_7600](https://user-images.githubusercontent.com/261552/164107827-313eb939-

[2022-04-20 01:42] yaocw2020 commented on #2164
Please knock the tab key to list NICs and the space key to select NICs.

[2022-04-20 07:30] FrankYang0529 commented on #2107
I found that if we delete releases secrets like `harvester-system/sh.helm.release.v1.harvester.v1`, then related cattle App `harvester-system/harvester` will be deleted too.

However, my fleet log is a little different from Guangbo's. My fleet will try to install `harvester` again, not uninstall.

[code]

[2022-04-20 08:47] lanfon72 commented on #2162
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/164188957-1a6cc52d-787c-46a6-b65c-be30ca611ba3.png)

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **v1.0.1** to **master-b20a3b47-head**
* **ui-source** Option: **Auto**

### Verify Steps:
- Follow [the instruction](https://docs.harvesterhci.io/v1.0/upgrade/automatic/) to

[2022-04-20 08:47] #2162 closed, assigned to bk201, lanfon72

[2022-04-20 08:56] lanfon72 commented on #1683
Verified this feature has been implemented.

![image](https://user-images.githubusercontent.com/5169694/164191008-baa55ddc-9ca3-46c2-a091-928b98b065af.png)

Test Information
----
* Environment: **qemu/KVM 3 nodes**
* Harvester Version: **master-b20a3b47-head**
* **ui-source** Option: **Auto**

### Verify Steps:
- Follow the test plan in https://github.com/harvester/harvester/issues/1683#issuecomme

[2022-04-20 08:56] #1683 closed, assigned to lanfon72, WuJun2016

[2022-04-20 10:39] w13915984028 commented on #2152
If HELM is used manually, then the post-install/upgrade hook seems OK;   but when embedded in fleet-agent, it is not feasible now,  fleet-agent does a check before&after HELM install/upgrade, complains post-* hook writing.

e.g.

[code]
![image](https://user-images.githubusercontent.com/31133476/164213007-0369b25e-bf6b-4dcb-85bb-678a0ee6e0ab.png)

[2022-04-20 14:46] lanfon72 commented on #1846
closed as this issue can't be reproduced on Harvester **v1.0.1-master-b20a3b47-head** with Rancher **v2.6.4**.
(RKE2 3 nodes with opensuse, Harverster single node)

[2022-04-20 14:46] #1846 closed, assigned to guangbochen, lanfon72

[2022-04-20 16:32] tlehman commented on #2023
@DonThorntonJr @BobTheDestroyer have either of you tried the latest 1.0.1 release on your DL360 servers?

[2022-04-20 18:21] abonillabeeche commented on #1390
Does this mean it would be possible to utilize harvester-mgmt on a VLAN if it runs on a third NIC?

[2022-04-20 23:38] slickwarren commented on #2040
I don’t think this is what was happening with my setup because I’d set a static IP for my VM running rancher, but its possible and I can try to reproduce once I get to harvester testing.

[2022-04-20 23:43] tlehman commented on #2040
I'll recreate this using a static IP too

[2022-04-21 01:20] bk201 commented on #2115
From the current investigation, the causes might be:
- GRUB is stuck when scanning VirtualCD device (even the device is disabled)
- related to specific fw version of Dell BOSS-S1 adapter. A supportconfig data could help.

[2022-04-21 01:21] palmergw commented on #2099
I would like to add that this would be beneficial because VMs with the same name (if you scale down and then scale up a cluster) seem to not be guaranteed to receive the same MAC addresses. This interferes with receiving consistent IP leases when you make a lease static in your router.

[2022-04-21 02:21] tjjh89017 commented on #1390
Nope, after some research, for now we still need to configure the switch to fit the requirement.
otherwise, still need some vlan enhancement.

[2022-04-21 02:27] TachunLin commented on #2158
Verified **fixed** on master-03ee6213-head. (04/18) Close this issue.

### Result
* Now can upload the `.img`, `.iso` and `qcow2` type of image file without adding the `os` and `image-type` by default.
  ![image](https://user-images.githubusercontent.com/29251855/164357146-22a28f69-be4e-472e-aa95-e41c16878d46.png)
  ![image](https://user-images.githubusercontent.com/29251855/164357945-a8127e0a-762

[2022-04-21 02:27] #2158 closed, assigned to WuJun2016, TachunLin

[2022-04-21 03:29] bk201 commented on #2142
The message is produced by the legacy `cos` script.
We are [migrating to `elemental`](https://github.com/harvester/harvester-installer/pull/273) and the tool should not output this message anymore.

[2022-04-21 03:46] WuJun2016 commented on #1731
Currently I have not been able to reproduce the problem in the v1.0.1 environment, based on the screenshot information I guess the possible causes are as follows.

When you refresh the page and see a message like `Your connection is not private`
![image](https://user-images.githubusercontent.com/24985926/164366792-2c2d36f2-8531-4c25-8836-003d828c6fc3.png)

 it means that the harvester environment'

[2022-04-21 05:11] tlehman commented on #2054
Reading through the attached rancher audit log, I noticed this:

[code]

It looks like there is a StorageError because of an invalid Kubernetes object. I'll look into the StorageMachine kind tomorrow morning. That looks like the cause of this problem.

[2022-04-21 06:03] ibrokethecloud commented on #2088
The issue seems to be related to helm hook processing in fleet.

The fleet bundle always shows as missing the storage class configmap.

The longhorn PR https://github.com/longhorn/longhorn/pull/3881 exposes the storage class parameter natively.

This should allow the managed chart to use the same by just setting the additional value in the definition in the harvester-installer.

This should stop t

[2022-04-21 06:15] WuJun2016 commented on #1731
I reproduced this problem in v1.0.0, the UI did not change state because the UI did not receive any websocket messages

[2022-04-21 06:17] ibrokethecloud commented on #2088
PR for retrofit of change to longhorn v1.2.x https://github.com/longhorn/longhorn/pull/3882

[2022-04-21 07:59] w13915984028 commented on #2088
Thanks @ibrokethecloud , your fix will solve the problem.

Background:
https://github.com/harvester/harvester/issues/857#issuecomment-842237148
https://github.com/longhorn/longhorn/issues/2594

[2022-04-21 08:15] DaiYuzeng commented on #1776
@janeczku This issue probably has been fixed.
I didn't reproduce it on rancher/dashboard master branch.
Closed, reopen it please if there is any concern.
![截屏2022-04-21 下午3 34 51](https://user-images.githubusercontent.com/15041915/164404102-e8ed220f-972d-48d4-a876-1f4528f6cff2.png)

![截屏2022-04-21 下午3 34 57](https://user-images.githubusercontent.com/15041915/164404025-22e07a80-c612-4bc5-9c78-4975f

[2022-04-21 08:15] lanfon72 commented on #2002
Verified this feature has been implemented.

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **master-b20a3b47-head**
* **ui-source** Option: **Auto**

### Verify Steps:
- Follow **To reproduce** in https://github.com/harvester/harvester/issues/2002#issue-1166278490

[2022-04-21 08:15] #2002 closed, assigned to lanfon72, WuJun2016

[2022-04-21 08:51] lanfon72 commented on #1938
Verified this bug should be fixed.

Base on weihang's comment: https://github.com/harvester/harvester/issues/1938#issuecomment-1055098118 and Dai's change: https://github.com/harvester/dashboard/pull/293, I only test the console is able to start up.

I'm not sure it is fully fixed the bug, so if you still encountered it, feel free to reopen this issue.
(and please attach more information for us to

[2022-04-21 08:51] #1938 closed, assigned to lanfon72, DaiYuzeng

[2022-04-21 09:09] lanfon72 opened #2170 "[BUG] rebooting the VM with serial console opened will cause the dashboard to freeze"
### Describe the bug
Please check the screen record. It also happened when click **Soft Reboot** with serial console opened.

https://user-images.githubusercontent.com/5169694/164420486-9bbee77b-00ec-4259-af2a-a7c80d5bc280.mp4

### To Reproduce
Steps to reproduce the behavior:
1. Same as the screen record

### Expected behavior
dashboard should not freeze

## Environment:
 - Harvester ISO version:

[2022-04-21 10:59] tunkio opened #2171 "[Question] Is it normal behaviour that rke2 vm reboots/crashes while installing new services"
Installing services to the RKE2 cluster causes VM reboot/crash during installation. Everything is fine after boot and services are up.

Opensuse 15.3 nocloud or Ubuntu Focal Server Cloud
Tested with one and two Harvester nodes
Dell 620, Perc H710 mini, 128GB mem
Harvester 1.0.1 (same happened with 1.0.0)
Rancher 2.6.4

Tested with 10k SAS and then changed spinning disks to ssd and same thing.

RKE

[2022-04-21 11:38] TachunLin opened #2172 "[BUG] VM created from windows-iso-image template can't start automatically, need the extra manual start effort"
**Describe the bug**

When create a windows virtual machine from windows-iso-image template.
The virtual machine can't start automatically and stay in the `off`

[code]
![image](https://user-images.githubusercontent.com/29251855/164446279-949ffce1-c7f6-46c4-9b90-4c04a4b63d80.png)

User need to manual start the windows VM to make it running.

**To Reproduce**
Steps to reproduce the behavior:
1. Cre

[2022-04-21 14:42] TachunLin commented on #2057
Verified **fixed** on `master-03ee6213-head` (04/18). Close this issue.

### Result
With the new feature of `image-type` and `os-type` label.

* Test plan 1, windows iso from **`file`** (specify `os` and `image-type` label)

   When we upload image file and specify correct `ISO` and `windows` label.
   We can assign the iso image to windows vm cd-rom from template file.
  ![image](https://user-ima

[2022-04-21 14:47] WuJun2016 commented on #2172
It's not a problem that happens 100% of the time.  It is not necessarily related to whether or not the window template is selected to create the vm.     Need  @tjjh89017  to help troubleshoot this issue.

[2022-04-21 15:42] kylechase commented on #2156
I am having the same issue.  Please let me know if you need further information.

[2022-04-21 19:44] tlehman commented on #2054
Just confirming, I am using the `rke` binary to provision the vm was an RKE2 cluster. The get.rke2.io shell script pulled in v1.22.8, but these repro steps called for 1.22.7, so I will stick to that version unless it doesn't matter.

The command `rke config --list-version --all | grep 1.22.7` returns `v1.22.7-rancher1-2`, is that the same as `v1.22.7+rke2r2`?

[2022-04-21 21:53] mantis-toboggan-md commented on #1530
This doesn't look like a UI bug to me: the UI only shows 'Invalid username or password' if the login request returned 401 unauthorized, but it sounds like the actual problem is that the server isn't ready so maybe we want a 503 response here? Or perhaps not show the UI at all at this stage? This needs input from outside the UI team.

[2022-04-21 22:04] rebeccazzzz opened #2174 "[Question] VM image management for productive environment: best practices"
What are best practices and recommendations for VM image management? (Assume several OS options and regular image updates with latest OS versions.) If we create new images for each new OS build, then there might be a huge number of images that become unmanageable. If we override an image with a new build, we might get unpredictable behavior on the downstream cluster level. Any guidance you could p

[2022-04-21 23:36] tlehman commented on #2054
Could you give some detailed repro steps for the provisioning an RKE2 cluster?

I used the `rke` binary on an Ubuntu 20 vm, but it failed part of the install

[2022-04-22 02:22] tjjh89017 commented on #2172
@WuJun2016 Could you help us to modify the code for starting VM on creation?
We might need to check the VM CR is created and send start request after that.
thanks a lot

[2022-04-22 03:50] TachunLin commented on #2054
Hi @tlehman , I think the issue can still exists on v1.22.8 rke2 version. I guess you are using v2.6-head for the investigation.

According to the dev-2.6 rke-config, I think the `v1.22.7-rancher1-2` should be identical with `v1.22.7+rke2r2`
https://releases.rancher.com/kontainer-driver-metadata/dev-v2.6/data.json

![image](https://user-images.githubusercontent.com/29251855/164592652-f808d825-0030

[2022-04-22 03:56] TachunLin commented on #2054
To reproduce this issue, we need to fulfill the situation that the guest RKE2 cluster can't retrieve IP from Harvester cluster
I think we can achieve before we start provisioning the RKE2 cluster by removing the qemu-guest agent in the cloud-config user data or maybe remove the `ssh_pwauth: true`.

Then follow the steps to proceed
1. Provision a 1 node RKE2 cluster in Harvester (v1.22.7+rke2r2)
2.

[2022-04-22 08:54] w13915984028 commented on #2157
@xiaofan-linux:
Could you please add those information:
1. Hardware/VM resources to deploy Harvester, CPU, memory, storage;  single-node or multi-nodes;  when CPU/MEMORY are not meeting minimum requirements, the deploy will fail, things like OOM will hapen
2. How Harvester is installed, from Harvester ISO or other ways? the Harvester version.
3. From the POD list, it looks the "rancher-*" related

[2022-04-22 09:11] TachunLin commented on #1731
### Reproduce Result
This issue can be reproduced on latest v1.0.1 master-head release `master-c5f4564f-head`. (04/18)

https://user-images.githubusercontent.com/29251855/164674780-be964f94-44c6-49b1-8a4d-de93356e0504.mov

### Verify Steps
1. Enable virtual network in management mgmt
2. Create virtual network vlan 1 and vlan 806
3. Open Host page
4. Select node 1, enter maintenance mode
5. Reboot

[2022-04-22 09:22] bk201 commented on #2142
https://github.com/harvester/harvester-installer/pull/273 was in. To verify this issue, just check the misleading message `Deployment done, now you might want to reboot` is gone during the installation.

[2022-04-22 09:23] bk201 commented on #2029
Didn't see this when upgrading v1.0.1 to master builds so far.
Probably because we don't have too many changes yet (e.g. no KubeVirt, Rancher, RKE2, and Longhorn changes)

[2022-04-22 10:00] TachunLin commented on #1731
* During further investigation, the web socket failed to connect during rebooting node 1. This may caused by the certificate changes.
![image](https://user-images.githubusercontent.com/29251855/164680718-cfb5f63f-79d3-4f2c-98e2-afe353c85065.png)

* By refreshing or open a new page, we can enable/disable maintenance mode
![image](https://user-images.githubusercontent.com/29251855/164682692-30f13994

[2022-04-22 10:47] yaocw2020 commented on #1835
Test plan:
- Create a guest cluster with the harvester cloud provider.
- Deploy an Nginx deployment and the related load balancer service with ipam mode DHCP. If possible, check the IP in the DHCP server.  You could see a new allocated IP.
- Delete the service.
- Check the kube-vip logs and not see the IP release failure. If possible, check the IP in the DHCP server. You could find the IP has been

[2022-04-22 11:17] WuJun2016 commented on #1530
Yes, I also think it's not a bug

[2022-04-22 12:35] janeczku commented on #2028
@joshmeranda I do not. But i am using a DNS-based Rancher URL for importing, while you seem to use an IP-based Rancher URL based on [your logs above](https://github.com/harvester/harvester/issues/2028#issuecomment-1100215508):

[2022-04-22 12:49] janeczku commented on #2125
@FrankYang0529  When provisioning RKE2 clusters on Harvester you should configure private registry settings in the Cluster options and not by editing the `registries.yaml` file directly.

@guangbochen  This seems like expected behavior and not a bug.

[2022-04-22 13:07] janeczku opened #2175 "[BUG] Harvester fails to pull Rancher agent image from private registry"
**Describe the bug**
When registering Harvester with Rancher in an air-gapped infrastructure,  Harvester fails to pull the `cattle-cluster-agent` image from the private registry due to certificate errors.

**To Reproduce**

1. Create a private PKI consisting of root CA and server certificate
2. Setup a private container registry, e.g. Harbor, using the server certificate
3. Mirror the `rancher/ran

[2022-04-22 13:20] janeczku opened #2176 "[Enhancement] Air-gap operation: Support using a private registry for Rancher agent image"
**Is your feature request related to a problem? Please describe.**
Harvester cluster is deployed in an air-gap network with a private container registry. When registering that cluster in Rancher, Harvester attempts (unsuccessfully) to download the `cattle-cluster-agent` image from Docker Hub.

Rancher allows specifying a "system-default-registry" to override, inter alia, the registry used to pull

[2022-04-22 13:22] janeczku commented on #2028
Related issue: https://github.com/harvester/harvester/issues/2176

[2022-04-22 13:22] janeczku commented on #2028
Related issue: https://github.com/harvester/harvester/issues/2175

[2022-04-22 13:39] lanfon72 commented on #2001
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/164724111-75d3826f-f254-41cd-805d-3b2b932a2740.png)
![image](https://user-images.githubusercontent.com/5169694/164724150-e6aff4e5-c892-473b-bde2-743ae2cdda0e.png)

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **v1.0.1**
* **ui-source** Option: **External**
* Rancher V

[2022-04-22 13:39] #2001 closed, assigned to lanfon72, mantis-toboggan-md

[2022-04-22 13:39] lanfon72 commented on #1978
Verified _Backup_'s `Edit Config` option has been removed.

![image](https://user-images.githubusercontent.com/5169694/164724714-1a1d0f11-e1dc-449c-b9e6-64cd8b5c0a8f.png)
![image](https://user-images.githubusercontent.com/5169694/164724734-8814f58d-6707-424b-8485-4e8f30e6125c.png)

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **v1.0.1**
* **ui-source** Option:

[2022-04-22 13:39] #1978 closed, assigned to lanfon72, mantis-toboggan-md

[2022-04-22 14:12] lanfon72 opened #2177 "[BUG] Dashboard's settings page is empty"
### Describe the bug
Unable to access Options in Setitngs page, it is empty.
![image](https://user-images.githubusercontent.com/5169694/164730634-ebebf23a-b48f-4f21-8094-8e21dcb5da63.png)

https://user-images.githubusercontent.com/5169694/164731548-03b6391b-ac69-4654-8df4-7e8239835a71.mp4

### To Reproduce
Steps to reproduce the behavior:
1. Install Harvester
2. Navigate to Advanced Settings

###

[2022-04-22 15:52] tlehman commented on #2040
Interesting, the Mgmt cluster is now stuck in pending, but the Harvester host and the Rancher VM can both resolve each other's hostnames. The error seems to be with the websocket to the rancher shell on the Harvester host. From the chrome console:

[code]

That's only when I try to connect to the harvester kubectl shell. The local rancher one works great.

These might be related, if the harvester

[2022-04-22 18:19] lanfon72 commented on #2177
Verified this bug has been fixed.

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **master-c6640cf1-head**
* **ui-source** Option: **Auto**

### Verify Steps:
- Follow **To Reproduce** in https://github.com/harvester/harvester/issues/2177#issue-1212417089

[2022-04-22 18:19] #2177 closed, assigned to lanfon72, WuJun2016

[2022-04-22 19:05] deskpil0t commented on #2176
possible workaround.  download/migrate the image with zarf.  And assuming you have control over the CAs you can spoof the image/registry/domain-name for setup.  https://github.com/defenseunicorns/zarf

[2022-04-22 19:42] tlehman opened #2178 "[BUG] protobuf namespace conflict"
**Describe the bug**
When compiling harvester using `scripts/build`, the binary `./bin/harvester` panics with the [protocol buffers namespace conflict](https://developers.google.com/protocol-buffers/docs/reference/go/faq#namespace-conflict). To get around this, the user needs to suppress this using an environment variable: `GOLANG_PROTOBUF_REGISTRATION_CONFLICT=warn ./bin/harvester --kubeconfig ~/

[2022-04-22 22:31] DonThorntonJr commented on #2023
not yet - 1.0.1-rc2 is what worked for me

[2022-04-23 16:33] pagong commented on #2156
Another attempt at starting a Talos VM:

node23:~ # kubectl get pod
NAME                              READY   STATUS              RESTARTS   AGE
virt-launcher-talos-c1-m2-mpcj2   0/1     ContainerCreating   0          4m59s

node23:~ # kubectl describe pod virt-launcher-talos-c1-m2-mpcj2
Name:           virt-launcher-talos-c1-m2-mpcj2
Namespace:      default
Priority:       0
Node:           node2

[2022-04-23 16:38] pagong commented on #2156
So the pod for the VM got assigned to **node22**.
The volume for disk-0 (cdrom) was also assigned to **node22**.
But the volume for disk-1 (rootfs) was assigned to **node21**!

That's the bug!
I think that the VM launcher should assign all resources to the same node, however.

Is it possible to force longhorn to move the disk-1 device from node21 to node22?

[2022-04-23 18:01] joshimoo commented on #2088
Not sure why harvester is not creating its own storage-class with the appropriate parameters for the harvester use case, then utilize that storage class for all usages?

This way the harvester parameter set can be independently configured and updated from the longhorn defaults?
REF: https://github.com/longhorn/longhorn/issues/2594#issuecomment-843950488

[2022-04-23 18:40] busyboy77 opened #2179 "[BUG] images drop down is never re-fetched -- sorry no matching option"
**Describe the bug**

When mastered through Rancher  v2.6.4 , the harvester updates are not fetched ( even after re-deploying the rancher didn't make any change)

**To Reproduce**
1 -- Deploy Rancher using

`docker run -d --restart=unless-stopped \
  -p 80:80 -p 443:443  \
 --privileged \
 -v /opt/rancher:/var/lib/rancher   \
 rancher/rancher:latest
`

Deploy Harvester  (v1.0.0) and integrate with

[2022-04-24 01:36] WuJun2016 commented on #2179
This is as expected, when you create it in nodeDriver, images with the `.iso` suffix will be filtered out

[2022-04-24 02:45] guangbochen commented on #1530
Move this issue to the v1.1 milestone since it is a rare-reproduce issue and the team does not have an extra buffer for it, thanks.

[2022-04-24 02:50] guangbochen commented on #2178
related to https://github.com/longhorn/longhorn/issues/3343, will be addressed after we bump the [dependency LH version](https://github.com/harvester/harvester/pull/2163) in the next release, thanks.

[2022-04-24 07:30] iamwlb opened #2180 "[Question]"
the longhron default storage path is: /var/lib/longhorn,only 40G by default.
how to change the default storage path?

[2022-04-24 08:48] n313893254 commented on #2150
The fresh failed bug has been fixed in the latest harvester UI. Related PR: https://github.com/rancher/dashboard/pull/5659

[2022-04-24 08:54] guangbochen commented on #1731
This looks to be an expected behavior since we are using the [dynamicLister](https://github.com/rancher/dynamiclistener) as our default cert management, a node change or reboot will require users to re-enable the CA trust manipulation. As a workaround, users can use Rancher to manage the Harvester cluster or add a custom proxy and cert in the front of the Harvester UI.

As an enhancement, we may c

[2022-04-24 09:03] guangbochen commented on #2088
This is a legacy issue from Harvester v0.3.0. Will need to consider the upgrade migration path after we change the current default SC, but from a long-term perspective, yes, using a customized `harvester-longhorn` storage class is more preferred (e.g., considering multi-storage-class support feature https://github.com/harvester/harvester/issues/2147 in the future ).

[2022-04-24 09:30] DaiYuzeng opened #2181 "[BUG]Harvester Network label polish"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Network page
<img width="1670" alt="image (4)" src="https://user-images.githubusercontent.com/15041915/164970163-d0efe1c8-bee4-4598-b145-81c12bbfa47b.png">
2. Go to Dashaboard page
<img width="1649" alt="image (5)" src="https://user-images.githubusercontent.com/15041915/164970199-03a0df6c-9daf-4f4e-9192-e6ea22fb3ded.p

[2022-04-24 11:45] #2180 closed, assigned to nobody

[2022-04-24 13:30] TachunLin commented on #2041
Verified **`fixed`** for KDM release regression test with the following configuration
* Rancher: v2.6.4
* RKE2 version: v1.23.6-rc3+rke2r1
* Cloud provider version: 0.1.1100

Can create many `Pool` load balancers and route correctly
 ![image](https://user-images.githubusercontent.com/29251855/164978808-333df3b8-e826-40d3-8c90-d688272fd075.png)

[2022-04-24 14:29] TachunLin commented on #2151
Verified **`fixed`** for KDM release regression test with the following configuration
* Rancher: v2.6.4
* RKE2 version: v1.23.6-rc3+rke2r1
* CSI driver version: 0.1.1100

* Create `Many Nodes Ready Only` PVC will `pending` with appropriate error message on events
![image](https://user-images.githubusercontent.com/29251855/164980412-696214b0-864b-4b5e-adad-a64ae4092f15.png)

* Create `Many Nodes Re

[2022-04-24 14:47] yaocw2020 commented on #2171
No, it's not normal. Could you provide the support bundle?

[2022-04-25 03:09] iamwlb opened #2183 "[Question]Communication across the network"
How to make virtual machines and pods in different namespaces integrate with each other?

[2022-04-25 05:06] DaiYuzeng opened #2184 "[BUG] Viewing harvester resources through the k8s container, the page crashes"
**Describe the bug**
In a multicluster, viewing harvester resources via the k8s container page, the page crashes

![截屏2022-04-25 上午11 51 47](https://user-images.githubusercontent.com/15041915/165024016-e28116f3-bb99-40d2-a6fc-3b0147e40655.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Creating multiple clusters， Importing harvester clusters
1. click `Virtualization management`
1. go to

[2022-04-25 05:50] FrankYang0529 commented on #2107
Deleting any one of `harvester` ManagedChart, `mcc-harvester` Bundle and `mcc-harvester` BundleDeployment will trigger all harvester-related resources to be deleted. Harvester system can be recovered if users only delete `mcc-harvester` Bundle or `macc-harvester` BundleDepolyment, but we will lose data like `VM`.

I think we should add a webhook to prevent users from removing any of `harvester` Ma

[2022-04-25 05:59] TachunLin opened #2185 "[BUG] Unable to import Harvester in Rancher UI, stuck in Waiting with message "Waiting for API to be available""
**Describe the bug**

Can't import Harvester in Rancher v2.6.4, it always stuck in the `Waiting` status with message `Waiting for API to be available`
  ![image](https://user-images.githubusercontent.com/29251855/165015660-2cf698a2-a692-4bcf-99b9-43136f2f4631.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Prepare an one node harvester
2. Create an ubuntu focal image from file
3. Enable

[2022-04-25 05:59] WuJun2016 opened #2186 "[FEATURE] Add websocket disconnect notification"
**Is your feature request related to a problem? Please describe.**

Currently, when webSocket disconnects, the user only sees the webSocket disconnection message in the Console, which is not user-friendly.
We want to see the WebSocket message at the top of the page when webSocket disconnects.
When the WebSocket connection succeeds, the message is automatically hidden

**Describe the solution you'd

[2022-04-25 06:03] WuJun2016 commented on #2186
https://github.com/harvester/harvester/issues/1731#issuecomment-1107794611

[2022-04-25 06:53] yaocw2020 opened #2187 "[BUG] Promote failed because fail to reach rancher-webhook"
**Describe the bug**

I have a harvester environment with 4 hosts. After deleting the first management nodes, the promotion failed.
[code]
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a 4 hosts harvester environment.
2. Delete the first management nodes.

**Expected behavior**

**Support bundle**

**Environment:**
 - Harvester ISO version: v1.0.1
 - Underlying Infrastructure

[2022-04-25 07:24] poldiderjungdrache opened #2188 "[BUG] No IP address displayed for a VM"
**Describe the bug**

I created a ubuntu VM. However no IP address is shown on the UI although IP is assigned:
<img width="1504" alt="2022-04-25_09-17-48" src="https://user-images.githubusercontent.com/59320185/165039246-8936c177-79ad-48e4-bc0c-ff478a8d0885.png">

In console ip a shows the IP as 192.168.30.139:
<img width="910" alt="2022-04-25_09-20-06" src="https://user-images.githubusercontent.c

[2022-04-25 07:36] poldiderjungdrache opened #2189 "[BUG] CD-ROM device should not need size"
**Describe the bug**

There is a bit of wired UI behaviour with CD-ROM devices for VMs.
When creating a VM and adding a device of type CD-ROM, size remains as mandatory field although the ISO image should define the size:
<img width="1851" alt="2022-04-25_09-29-05" src="https://user-images.githubusercontent.com/59320185/165041153-c4ee0642-052e-4bf6-8dc8-38ac6d88060d.png">

**To Reproduce**
Steps t

[2022-04-25 07:37] lanfon72 commented on #2075
Verified this feature has been implemented.

![image](https://user-images.githubusercontent.com/5169694/165040672-19375aba-34c9-4d7b-a38a-8165e79de54c.png)

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **master-0eab7caa-head**
* **ui-source** Option: **Auto**

### Verify Steps:
- Follow **Verify Steps** in https://github.com/harvester/dashboard/pull/291

[2022-04-25 07:37] #2075 closed, assigned to lanfon72, DaiYuzeng

[2022-04-25 07:37] lanfon72 commented on #2170
Verified this bug has been fixed.

But _Serial Console_ become non continuous, user need to re-open it to re-connect.

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **master-0eab7caa-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with any nodes
2. Create an image for VM creation
3. Create VM `s1` and wait until boot into OS
4. L

[2022-04-25 07:37] #2170 closed, assigned to lanfon72, DaiYuzeng, WuJun2016

[2022-04-25 07:45] TachunLin commented on #2122
Verified **`fixed`** for KDM release regression test with the following configuration
* Rancher: v2.6.4
* Harvester:  master-03ee6213-head (04/18)
* RKE2 version: v1.23.6-rc3+rke2r1
* Cloud provider version: 0.1.1100

Create 100 `Pool` load balancers, all of them are running and can be routed correctly
  ![image](https://user-images.githubusercontent.com/29251855/165042864-354b62f7-bbed-44b5-9b07-

[2022-04-25 08:25] bk201 commented on #2187
This could be caused by non-ready rancher-webhook, when checking the environment the rancher-webhook is not ready.

[2022-04-25 08:33] bk201 opened #2191 "[BUG] Promote fail, cluster stays in Provisioning phase"
**Describe the bug**

This was spotted when debugging https://github.com/harvester/harvester/issues/2187.
After deleing a server node, a worker node can't become control plane node.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a 4-node Harvester cluster.
2. Wait for 3 nodes to become control plane nodes (role is `control-plane,etcd,master`).
3. Find which node the rancher-webhook p

[2022-04-25 09:35] WuJun2016 commented on #2188
What are the values of ui-source and ui-index in settings?

<img width="1671" alt="image" src="https://user-images.githubusercontent.com/24985926/165062222-cb66a245-f5b7-4195-b258-95c68e696ca6.png">

[2022-04-25 10:47] TachunLin commented on #2114
Verified **fixed** after upgrade from `v1.0.1` to `master-0eab7caa-head` (04/24, v1.0.1). Close this issue.

### Result
We can upgrade harvester when node name `harvester-101upgrade-node1` too long (25 characters)
  ![image](https://user-images.githubusercontent.com/29251855/165072808-8bdab562-6e17-422d-b981-ed8e9ff25055.png)
  ![image](https://user-images.githubusercontent.com/29251855/165073479-

[2022-04-25 10:47] #2114 closed, assigned to bk201, TachunLin

[2022-04-25 11:04] it-pappa opened #2193 "[Question] Hardvester on vmware and meraki VIP ip"
Hi,

I used to have harvester nested on my vCenter server and worked fine when i had unifi network with subnetting etc.
Now i have a meraki go network, new vcenter etc (6,7) and harvester cant get an vip DHCP?

I try to set static but still doesnt work. Any idea?

Network config:
all is in one network and no vlan same on vms in vcenter
Harvester has DHCP and can get an IP but vip dhcp cant.

[2022-04-25 11:53] bk201 commented on #2191
Create a Rancher issue: https://github.com/rancher/rancher/issues/37462

[2022-04-25 12:10] tunkio commented on #2171
Of course. Also attached image of the vm event view containing crash.

[supportbundle_6fe80339-beaa-47e7-81b8-011450b9377e_2022-04-25T09-10-41Z.zip](https://github.com/harvester/harvester/files/8554356/supportbundle_6fe80339-beaa-47e7-81b8-011450b9377e_2022-04-25T09-10-41Z.zip)
![event_vm_crash](https://user-images.githubusercontent.com/12906217/165086278-a57dad98-fa12-40a8-b502-6c5771baff76.png)

[2022-04-25 12:11] lanfon72 commented on #2137
Verified this bug has been fixed. (with workaround)

Test Information
----
* Environment: **qemu/KVM single node and 3 nodes**
* Harvester Version: **master-0eab7caa-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with any nodes
2. Login to console, execute `kubectl get daemonsets -n longhorn-system`
3. Daemonset `longhorn-loop-device-cleaner` should exists. (the wo

[2022-04-25 12:11] #2137 closed, assigned to bk201, FrankYang0529, lanfon72

[2022-04-25 14:38] himslm01 opened #2194 "[BUG] Harvester should be able to create an HA cluster with three nodes"
**Is your feature request related to a problem? Please describe.**
To quote the documentation <https://docs.harvesterhci.io/v1.0/host/host/>

    Harvester is built on top of Kubernetes and uses etcd as its database,
    the maximum node fault toleration is one when there are three management nodes.

and yet in the same documentation

    The first node always defaults to be a management node of t

[2022-04-25 14:45] poldiderjungdrache commented on #2188
That is the same for my install:
<img width="890" alt="2022-04-25_16-44-34" src="https://user-images.githubusercontent.com/59320185/165113387-fa32e946-9394-49bb-9dc0-262eb2fdcb83.png">

[2022-04-25 14:53] poldiderjungdrache commented on #2189
Funny thing is if you under provision the CD-ROM (like lets say set it to 1GB although the ISO is larger than 1GB).
The VM does not boot off the install ISO and dumbs me in the EFI Shell:

<img width="1859" alt="2022-04-25_16-50-33" src="https://user-images.githubusercontent.com/59320185/165114833-ecd4bdea-b463-44fa-bfdb-9311797fdd8e.png">

[2022-04-25 19:11] abonillabeeche commented on #2194
Mark - can you elaborate on your request? When deploying a cluster with 3 nodes, it will be HA by default and certainly will tolerate a node failure. The "promotion" takes place automatically when additional management nodes are required and made available. After 3 management nodes are in place, additional nodes would be considered workers.

[2022-04-25 20:46] himslm01 commented on #2194
I have a 3 node Harvester v1.0.0 cluster which has is a master and two workers.
[code]
The documentation on the page I quoted has said "more than 3 nodes" from the first commit: https://github.com/harvester/docs/blob/41c944c57509bc10e185ce8c87ae107b34a361f6/docs/host/host.md

[2022-04-25 21:04] yasker commented on #2023
Move to Icebox. Waiting for the response from @BobTheDestroyer to confirm if it's fixed in v1.0.1.

[2022-04-25 23:41] noahgildersleeve commented on #1940
Tested in master-0eab7caa-head. Fixed.
## Validation Steps
1. Upload large ISO (>5GB) on local VM to recreate fast network speed
2. Refresh page after completion

[2022-04-25 23:41] #1940 closed, assigned to w13915984028, noahgildersleeve

[2022-04-25 23:46] irishgordo commented on #2084
I seem to also be seeing this.
With a somewhat similar SuperMicro board: https://www.supermicro.com/products/motherboard/Xeon/C600/X9DRD-iT_.cfm
(2 x 10GB Intel X540 network cards)
![Screenshot from 2022-04-25 11-00-47](https://user-images.githubusercontent.com/5370752/165192266-dcbd5889-3ec7-42d7-8eef-62ae75ea324a.png)

[2022-04-25 23:58] noahgildersleeve commented on #2139
Tested on harvester master `05b5da2dff3a9188a9d1defca30d905e326e7083` with included repro steps. Fixed.

[2022-04-25 23:58] #2139 closed, assigned to w13915984028, noahgildersleeve

[2022-04-26 00:19] bk201 commented on #2194
@himslm01 Could you provide a support bundle? All nodes should become management roles.

BTW, did you delete nodes and rejoin them? From the AGE and host naming, it looks like the first-created one is harvester003, then harvester002, and harvester001.

[2022-04-26 00:47] bk201 opened #2195 "[BUG] CI failure on vm_apis_test.go:78"
**Describe the bug**
[code]
https://drone-publish.rancher.io/harvester/harvester/597/1/2

[2022-04-26 02:06] tjjh89017 commented on #2084
I would say because supermirco didn't fill the correct value in firmware, it will cause two NIC has same `onboard` number and systemd will init those interface with same name and have conflict.

[2022-04-26 02:13] irishgordo commented on #2084
@tjjh89017 probably so.
The 1U server was already on the latest firmware for both BIOS and IPMI.
I was able to like @zpatten did and bring the interface up by:
`ip link set rename3 up`
Then that allowed me to create a Network using the 'rename3' as the default nic instead of the bonded 'harvester-mgt' network that was built from 'eno1' with a VLAN tag of 100.
Is there a way to persist the state of

[2022-04-26 02:17] tjjh89017 commented on #2084
That KB is for VM.
and harveseter is based on conatiner OS. So it will not keep anything you that you modify in the rootfs.
you could open the file name `/oem/99_custom.yaml` and search the network config and copy the same structure data and modify for your another interface.

[2022-04-26 04:40] ibrokethecloud commented on #2185
@TachunLin  I tried the same setup using current master `05b5da2` but could not re-produce the issue.

In the original support bundle the cattle-cluster-agent is deployed, and redeployed by rancher after the import processes as seen below:

[code]

The only difference seems to be the websocket error in the rancher container logs:

[code]
One important thing to notice is I see no `VirtualMachine` o

[2022-04-26 06:55] TachunLin commented on #2185
@ibrokethecloud,
The Rancher and Harvester built on two separate VMs under the same virtual network (e.g 192.168.122.0/24)
Thus the rancher VM did not run on the same harvester cluster. The reason for no `VirtualMachine` object on the support bundle I think it because since Harvester is not yet imported to Harvester, so we can't proceed to provision the guest cluster VM on Harvester node.

[2022-04-26 07:15] himslm01 commented on #2194
[supportbundle_5bb44244-434e-4530-ad35-35c4ef1ff661_2022-04-26T07-12-31Z.zip](https://github.com/harvester/harvester/files/8560716/supportbundle_5bb44244-434e-4530-ad35-35c4ef1ff661_2022-04-26T07-12-31Z.zip)

[2022-04-26 07:20] himslm01 commented on #2194
Yes, in this cluster node harvester003 was the first member, then harvester002 then harvester001.
The background to that:
- node harvester001 was first built as v0.2.0 and had some workloads running
- node harvester002 was first built as v0.3.0 but was really only used for testing and demonstrating bugs
- node harvester003 was built as a v1.0.0 and found to be successful and stable
- node harveste

[2022-04-26 08:40] lanfon72 commented on #1776
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/165258945-afbbefdf-ccb6-446d-8795-9ecdc53e90e5.png)
![image](https://user-images.githubusercontent.com/5169694/165258987-c63d86dd-1b33-4002-a4ce-1ef046980737.png)

Test Information
----
* Environment: **qemu/KVm single node**
* Harvester Version: **master-05b5da2d-head**
* **ui-source** Option: **Auto**
*

[2022-04-26 08:40] #1776 closed, assigned to lanfon72, DaiYuzeng

[2022-04-26 08:43] yaocw2020 commented on #1398
Related issue: https://github.com/harvester/harvester/issues/2187

[2022-04-26 10:13] lanfon72 commented on #1835
@yaocw2020 It's a bit hard for me to verify this via your test plan: https://github.com/harvester/harvester/issues/1835#issuecomment-1106369036
would you please to explain more details for it?

[2022-04-26 10:18] lanfon72 commented on #1988
added `not-require/test-plan`.
@guangbochen, as this is CI related, so I think QA can't not verify it?

[2022-04-26 10:26] TachunLin commented on #2181
Verified **fixed** on `master-66e4f8f8-head` (04/26). Close this issue.

### Result
Network represent in the following page label set as `Network(s)`
  ![image](https://user-images.githubusercontent.com/29251855/165278737-79eaa3fd-bd26-444a-af2e-240e99233603.png)
  ![image](https://user-images.githubusercontent.com/29251855/165278899-212abe44-3ad9-4abd-88d3-ee2378e3e25d.png)
  ![image](https://use

[2022-04-26 10:26] #2181 closed, assigned to DaiYuzeng, TachunLin

[2022-04-26 11:27] lanfon72 commented on #2149
@weihanglo re-test #1874 failed, supportbundle as attached.

[supportbundle_4047abb7-752b-406d-bb3a-73288dec8276_2022-04-26T11-24-44Z.zip](https://github.com/harvester/harvester/files/8562713/supportbundle_4047abb7-752b-406d-bb3a-73288dec8276_2022-04-26T11-24-44Z.zip)

[2022-04-26 12:44] weihanglo commented on #2149
After reading the support bundle from @lanfon72, the mount point becomes string `"null"` I suspect it might be an issue from frontend or backend deserialization. Will investigate it more.

![image](https://user-images.githubusercontent.com/14314532/165301633-dfc82b01-67cf-4aa0-8841-2a0332501c0e.png)

[2022-04-26 18:01] tlehman commented on #2054
~~Where is the cloud-config user-data?~~

UPDATE: I found it, it's here when creating the cluster: https://issue-2054-vm/dashboard/c/local/explorer/provisioning.cattle.io.cluster/create?type=harvester#basic

[2022-04-26 18:30] tlehman commented on #2054
I `docker exec`ed into the virt-launcher pod's container and deleted the /var/lib/libvirt/qemu/channel/target/domain-1-default_issue-2054/org.qemu.guest_agent.0 socket. I'll try provisioning now

[2022-04-26 19:27] tlehman commented on #2054
I have the rke2-cluster stuck in provisioning (30 minutes), the provisioning log just says `[INFO ] waiting for at least one bootstrap node`

But when I delete it the delete operation succeeded. I'm digging through the support bundle now and comparing it to the analogous logs on my harvester cluster. I want to see what's different between the two

[2022-04-26 19:39] noahgildersleeve commented on #2067
Tested in `master-0eab7caa-head`. Tested with included verification steps. Fixed.

[2022-04-26 19:39] #2067 closed, assigned to WuJun2016, noahgildersleeve

[2022-04-26 19:43] Jellyfrog commented on #1845
Installed a single machine in vpshere using latest master to verify if the issue is still present.

[code]

![exported(1)](https://user-images.githubusercontent.com/759887/165379421-b9cd7b18-8298-4e49-a157-fbc09a3f95b0.png)

[2022-04-26 20:29] tlehman commented on #2054
What I had was not a good repro, since the "PUT failure" was actually telling me that Rancher never succeeded in creating a VM on Harvester, even though it created the object visible in the UI that could be deleted. I need to debug the PUT error first

[2022-04-26 21:46] tlehman commented on #2054
Oh, after digging through the support bundle, I can tell I'm provisioning the rke2 cluster in the wrong namespace (fleet-defauilt instead of fleet-local), trying in fleet-local now.

[2022-04-27 00:03] ibrokethecloud opened #2198 "[FEATURE] Image installation mode in the harvester installer (install via image)"
**Is your feature request related to a problem? Please describe.**

New Installation mode for harvester to allow configuration to better enable cloud / edge use cases

**Describe the solution you'd like**

Currently when a new harvester node is launched it needs to be the first node in the cluster or join an existing cluster.
This is very useful when we already know the details of the environment

[2022-04-27 01:01] rebeccazzzz commented on #1398
@yaocw2020: Can we validate this with a three-node cluster because we won't be able to fix [issue #2191](https://github.com/harvester/harvester/issues/2191) for this release?

[2022-04-27 02:48] FrankYang0529 commented on #2125
Thanks for your information! I will check whether I can change rancher-system-agent `registries.yaml` by configuring private registry setting.

[2022-04-27 03:16] lanfon72 commented on #2149
now we narrow down the bug: node disk manager provides wrong `devPath` to UI after device swapping, screenshot and yaml as below.

Note that if you restart node disk manager with `kubectl rollout restart -n harvester-system ds/harvester-node-disk-manager`, names will be correct.

![image](https://user-images.githubusercontent.com/5169694/165432533-2fadddd9-8261-4424-9aa4-72706fa48a5a.png)
![image]

[2022-04-27 03:18] yaocw2020 commented on #1398
Yes!

[2022-04-27 03:20] yaocw2020 commented on #1398
Test Plan:
- Set up a 3 hosts Harvester environment.
- Ssh to each hosts and run `sudo conntrack -L -d 10.53.0.1` to check the conntrack table.
- Delete the node that has the most contrack table entries.
- Check VIP connectivity and pod status in kube-system.

[2022-04-27 06:22] n313893254 commented on #2149
@lanfon72 Thanks, The remove button needs disabled on the config page. I will fix it.

[2022-04-27 09:39] lanfon72 commented on #1835
Verified this bug has been fixed.

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **master-66e4f8f8-head**
* **ui-source** Option: **Auto**
* Rancher Version: **v.2.6-head-7db4fe4** (docker Image ID: **6307a5575ddf**)

### Verify Steps:
1. Install Harvester with any Nodes
2. Create an image for VM Creation
3. Setup _vlan_ then create **vlan1**
4. Install Rancher

[2022-04-27 09:39] #1835 closed, assigned to lanfon72, yaocw2020

[2022-04-27 09:50] meysholdt opened #2199 "[BUG] Can't join node to cluster when using LetsEncrypt certificate"
**Describe the bug**
When using LetsEncrypt as the certificate for the VIP-domain, additional cluster nodes can't join because they don't trust the certificate.

I see the following errors in `journalctl` on a node that tries to join:
[code]

When I look at the VIP-Domain via https://www.ssllabs.com/ssltest/analyze.html and compare it with another domain, I see that the "other domain" offers the L

[2022-04-27 10:12] meysholdt commented on #2199
The `ca` certificate that we have configured in Harvester is actually the "R3" intermediate LetsEncrypt certificate that the client is missing.
<img width="219" alt="image" src="https://user-images.githubusercontent.com/239422/165495866-ecd30717-8a43-4f65-b9f0-6d68ced25a49.png">

[2022-04-27 10:41] TachunLin commented on #2185
Re-validate the issue did not exists on latest master-head `master-66e4f8f8-head` with Rancher v2.6.4. Close this issue.

### Result
We can import Harvester in Rancher `with` and `without` updating the RKE KDM release URL.
  ![image](https://user-images.githubusercontent.com/29251855/165500640-395c6e4f-5010-461f-90ad-58e1d59f078f.png)

### Test Information
* Test Environment: 1 node harvester on l

[2022-04-27 10:41] #2185 closed, assigned to ibrokethecloud

[2022-04-27 12:05] wzrdtales commented on #1907
this completely forgot about the existence of SATA  DOMs, which should only hold the base but nothing else.

[2022-04-27 14:23] TachunLin commented on #2150
Verified on `master-2a4f4de5-head` (04/27). The `reload issue` have already fixed.

* When Prometheus monitoring chart empty, Click `Reload` can recover monitoring chart back to display
![issue2150](https://user-images.githubusercontent.com/29251855/165537805-c987a96b-6239-4c45-bd51-dd3329c78473.gif)

### Test Information
* Test Environment: 3 nodes harvester on local kvm machines
* Harvester vers

[2022-04-27 14:30] TachunLin commented on #2150
@n313893254 , @guangbochen
While we put harvester cluster idle for about 30 minutes, the Prometheus monitoring chart still become empty.
Since the original symptom still exits thus I would suggest moving to implement for further investigation

  ![image](https://user-images.githubusercontent.com/29251855/165536794-b72bc29b-5123-4d86-bb00-0d22c4fe6f92.png)

A good news is we can use `Reload` button

[2022-04-27 16:01] tlehman commented on #2054
When I attempt to provision an RKE2 cluster with the Harvester provider and add `ssh_pwauth: false` to the cloud-config userdata, I get this error:

[2022-04-27 19:26] tlehman commented on #992
Just to clarify what SR-IOV gives you, I want to make a simple diagram that motivates why this is such a high priority:

When a packet arrives at the NIC, there's one core that is interrupted and handles that interrupt. Then the destination VM's core is interrupted and stops, and the hypervisor copies the packet to the VM's memory space, then the VM core continues, and so does the core that handle

[2022-04-27 19:32] jhhudso opened #2200 "[BUG] Some text is invisible or illegible at https://docs.harvesterhci.io/v1.0/reference/api/ dependent on if the website is in light mode or dark mode"
**Describe the bug**
Some text is invisible or illegible at https://docs.harvesterhci.io/v1.0/reference/api/ dependent on if the website is in light mode or dark mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.harvesterhci.io/v1.0/reference/api/ and utilize the API browser while clicking the button at the top of the website to enable dark mode or light mode and compa

[2022-04-27 19:55] w13915984028 commented on #2013
Update:  (During a cluster rebooting, the POD `prometheus-rancher-monitoring-prometheus-0` is re-created)

**The root cause is narrowed down to 2 possibilities:**

A. LH CSI driver is a bie slow to be registerted, but the POD `prometheus-rancher-monitoring-prometheus-0` needs those LH mounted volumes, kubelet/kube-controller-manager/... deletes the POD actively and restart a new POD to retry.   Th

[2022-04-27 22:46] yasker commented on #2008
I believe it would need Harvester QA team members to collaborate with the Rancher team to write those tests. Without defining the requirement, it would be hard for the Rancher QA team to handle it by themselves.

[2022-04-27 23:29] irishgordo commented on #1864
@bk201 I've had a chance to validate this:

## The Setup:
- VM in virt-manager, 8 core, 18GiB RAM, 200GiB disk

## The ISO Used For Install Test's `md5sum`:
[code]

## Results
Following the steps I was able to replicate the test strategy and validate that the support config gets generated and provides an available path.
I validated that the `.txz` can be extracted with `tar xvf`.

![Screenshot fro

[2022-04-28 06:25] fanlix opened #2202 "[BUG] image clone unusable"
## Describe the bug
can not clone a image

## To Reproduce
1. web ui, select an image, choose clone
2. jumps to image create page
3. change namespace/name
4. we have to re-upload the same image file again.

this is not `clone` but a pure `create new`

## Expected behavior
clone the old image without url-download/local-upload

## Environment:
 - Harvester ISO version:  v1.0.1

[2022-04-28 08:13] FrankYang0529 commented on #2123
In support-bundle, we can see the `robustness` of LH Volume is `unknown`. Also, logs in LH engine manager show `Setting replica tcp://xxx to ERR due to: r/w timeout` first, and then many `I/O error: No backend available`. So I think there may be network issue between the LH engine manager and replica manager.

I try to kill the connection between the engine manager and replica manager with the fol

[2022-04-28 09:08] lanfon72 commented on #2031
Verified this feature has been implemented.

![image](https://user-images.githubusercontent.com/5169694/165716201-878e2254-9567-438f-b00f-db58098a9592.png)

Test Information
----
* Rancher Version: **v2.6-head-311f462** (Docker Image ID: **f45bf0b95dee**)

### Verify Steps:
1. Install Rancher
2. Login to Rancher, navigate to User's Preference page and switch helm chart option to **Include prerelea

[2022-04-28 09:08] #2031 closed, assigned to lanfon72, yaocw2020, n313893254

[2022-04-28 09:51] TachunLin commented on #2107
Verified **fixed** on `master-e2985453-head` (04/28). Close this issue.

### Result
The following ManagedCharts, Bundles and BundleDeployments have been protected, can't delete them through kubectl command.

1. Unable to delete `harvester` and `harvester-crd` ManagedChart,

[code]

[code]

2. Unable to delete `mcc-harvester` and `mcc-harvester-crd` Bundle

[code]

[code]

3. Unable to delete `mcc-

[2022-04-28 09:51] #2107 closed, assigned to bk201, guangbochen, FrankYang0529, TachunLin

[2022-04-28 10:07] w13915984028 commented on #2150
While checking the support-bundle, I reproduced this issue:

Env: single-node harvester, one guest VM (simplest cirros, webVNC in command: top)

**1. The metrics**
One web-page in VM- VM Metrics, it became blank in about 30 minutes
![image](https://user-images.githubusercontent.com/31133476/165725998-75efad58-071a-463a-a1cf-33a47417946e.png)

![image](https://user-images.githubusercontent.com/3113

[2022-04-28 10:23] w13915984028 commented on #2150
Another point needs to be checked:

When "Reload" vm metrics, and select range "1h", the "network traffic" has history data, but IO does not.
![image](https://user-images.githubusercontent.com/31133476/165731053-45f2e827-a63b-41b3-8ff0-008d8aa45289.png)

![image](https://user-images.githubusercontent.com/31133476/165731138-acad6d33-5d68-4d09-aaed-9fe684fd55e0.png)

Comparing: force-refresh cluster

[2022-04-28 10:56] Abbos92 opened #2203 "[Question]Manage node role for HA cluster"
I have a 3 nodes for Harvester cluster, version is latest 1.0.1 . After install cluster with 3 nodes all of nodes was set master role, I had testing for fail tolerance, after reboot first one I was rejoined like worker node, If I power off another master node cluster isn't available.
NAME              STATUS   ROLES                                         AGE    VERSION
hd-harvester-01   Ready

[2022-04-28 10:57] w13915984028 commented on #2150
cluster-metrics also became blank,  but the "reloaded" vm-metrics keeps working
![image](https://user-images.githubusercontent.com/31133476/165736229-d1ad249d-b93b-47b2-b95d-d7cd4049d7dd.png)

the  grafana-sc-dashboard reported a new ` Expired: too old resource version: 3967 (515909) `
[code]

[2150-recheck-2804-2.txt](https://github.com/harvester/harvester/files/8582024/2150-recheck-2804-2.txt)

[2022-04-28 11:37] bk201 opened #2204 "[FEATURE] build-iso: migrate luet-makeiso to `elemental build-iso`"
**Is your feature request related to a problem? Please describe.**

https://github.com/rancher-sandbox/cOS-toolkit/issues/1217

cOS team build the luet-makeiso feature into elemental command. We should migrate to get further support.

https://github.com/harvester/harvester-installer/blob/1c1b8c4dfb7aa11fb7e912e1f3f5ca9414259e0f/Dockerfile.dapper#L2
https://github.com/harvester/harvester-installer/

[2022-04-28 11:42] WuJun2016 opened #2205 "[BUG] Requesting "additional-ca" and then requesting "network.harvesterhci.io.clusternetworks" will return a 503 error"
**Describe the bug**

![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/f79521d0-b9ea-423c-b01c-61efe161420e)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Setting` page
2. edit `backup-target `
3. Click on the "here" link at the bottom  （The page will jump to a new tab page）
![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/d859ce82

[2022-04-28 11:43] w13915984028 commented on #2150
maybe related:
https://github.com/kiwigrid/k8s-sidecar/issues/98
https://github.com/kiwigrid/k8s-sidecar/issues/85

The version used in Harvester:

[code]

[2022-04-28 11:56] meysholdt commented on #2199
I found a workaround: Store your certificate *and* the intermediate certificate in the `"publicCertificate"` field. With this change, Harvester (Nginx, actually) will offer the cert for download.

See [here](http://nginx.org/en/docs/http/configuring_https_servers.html#chains) for the relevant Nginx documentation.

Mind the [order of the certificates](https://kubernetes.github.io/ingress-nginx/user

[2022-04-28 13:41] TachunLin commented on #1398
Verified **fixed** `master-e2985453-head` (04/28). Close this issue.

### Result
After the deleting the node with the most contrack table entries.
1.  VIP connectivity exists
2. pod status all `running` in kube-system.

* Node 1 (192.168.122.168): 48 rows
[code]

* Node 2 (192.168.122.96): 15 rows
[code]

* Node 3 (192.168.122.60): 11 rows
[code]

* Delete `node1` that has the most contrack table

[2022-04-28 13:41] #1398 closed, assigned to yaocw2020, TachunLin

[2022-04-28 16:33] lanfon72 commented on #2149
Verified this feature has been implemented.

This issue is the enhancement for #1976 which is the enhancement for https://github.com/harvester/harvester/issues/1874#issuecomment-1061572663

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **v1.0.2-rc1**
* **ui-source** Option: **Auto**

### Verify Steps:
- Same as https://github.com/harvester/harvester/issues/1874

[2022-04-28 16:33] #2149 closed, assigned to lanfon72, weihanglo, n313893254

[2022-04-28 16:34] lanfon72 commented on #1976
verified along with #2149

[2022-04-28 16:34] #1976 closed, assigned to lanfon72, n313893254

[2022-04-28 17:54] abonillabeeche commented on #2198
This sounds great and would be useful for appliances. We should only collect the installation disk on installation and on first boot we should ask for all the other information that we currently ask for, including the data/Longhorn disk.

[2022-04-28 17:56] abonillabeeche commented on #2194
I think this might be a bug from old code and cannot be reproduced. I just installed both a 1.0 and a 1.0.1 cluster and the expected behavior of 3 mgmt/worker nodes was deployed. You are hitting a 0.2 but.

[2022-04-28 19:20] w13915984028 commented on #2150
Analysis of `ApiException when calling kubernetes: (410)`:

`grafana-sc-dashboard` ( rancher/mirrored-kiwigrid-k8s-sidecar:1.12.3 ) watches `configmap` in namespace `cattle-dashboards`, when content is changed, it writes to files in `/tmp/dashboards`, which are further fetched by `grafana`.

`ApiException when calling kubernetes: (410) Reason: Expired: too old resource version: 3967 (515909)`  mea

[2022-04-28 19:40] iamwlb opened #2206 "[BUG]failed to create harvester server"
**Describe the bug**

NAME                                       READY   STATUS             RESTARTS   AGE
harvester-798866ff75-vbwlv                 0/1     CrashLoopBackOff   6    	 14m
harvester-load-balancer-59bf75f489-9pcrf   1/1     Running            0    	 14m
harvester-webhook-54ff6b4f57-pbflq         1/1     Running            0    	 14m
kube-vip-cloud-provider-0                  1/1

[2022-04-28 20:14] iamwlb commented on #2206
the same problems

[2022-04-28 20:57] irishgordo commented on #1988
@lanfon72 - would the goal then to be just to implement something like:
[code]
[executeSupportConfig's function from pkg.console.util.go from harvester-installer](https://github.com/ibrokethecloud/harvester-installer/blob/af48aeb0a08c6ff36a21ea9f8f62984308c78f8b/pkg/console/util.go#L685-L694)

[adding another task after this to try to hop on that node's vm and run /sbin/supportconfig?](https://git

[2022-04-28 22:29] w13915984028 commented on #2150
A further test with  screen recording.

**22:40 started with 3 web-page: Harvester cluster metrics, Harvester VM metrics,  Grafana VM metrics**

![image](https://user-images.githubusercontent.com/31133476/165856692-4598a830-d38d-40d0-851b-64b64af3a631.png)

all good
![image](https://user-images.githubusercontent.com/31133476/165856054-a9fdb55d-501e-46c2-8d50-ffe4e1109d39.png)

**22:57  Harvester V

[2022-04-28 22:35] w13915984028 commented on #2150
Another detail:

In the screening, at 23:30,  Grafana "memory" reported "no data"
![image](https://user-images.githubusercontent.com/31133476/165858452-2cc93039-eff4-4cc8-b95e-abb134eea64e.png)

After only about 8 secods, it recovered.
![image](https://user-images.githubusercontent.com/31133476/165858531-f1ac8951-f3a3-4ce5-ac75-a906a619ca55.png)

[2022-04-28 23:57] ibrokethecloud commented on #1988
Eventually we should support the supportconfig to be auto uploaded to a nfs / s3 compatible object store endpoint. Similar to what is possible with longhorn backups. This will be useful in MaaS setups where you can download all the failure information from a common location.

[2022-04-29 02:06] irishgordo commented on #1864
Opened PR to update manual test doc.
Will close this ticket out in the meantime

[2022-04-29 02:09] #1864 closed, assigned to ibrokethecloud

[2022-04-29 02:54] WuJun2016 opened #2207 "[BUG] The browser will crash if the page is opened for a long time"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'

**Expected behavior**

**Support bundle**

**Environment:**
 - Harvester ISO version:
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630):

**Additional context**
Add any other context about the problem here.

[2022-04-29 08:57] weihanglo commented on #553
Note that we might not get a native support of VM snapshot revert because its out of scope of CSI snapshotter at this moment. Though we can try to reuse the same trick in backup by replacing the VM with a new volume.

Ref: https://github.com/longhorn/longhorn/blob/119677db04b5a0fdcfab19a6211370a03d784164/enhancements/20220110-extend-csi-snapshot-to-support-longhorn-snapshot.md#non-goals

[2022-04-29 09:31] cybaware opened #2209 "[BUG] NFS Backup target - wrong config - Backup target is invalid"
**Describe the bug**
backup target based on NFS dont work anymore on harvester 1.0.1 if harvester is a clean install from 1.0.1.
![image](https://user-images.githubusercontent.com/11486351/165919176-f990dc39-750e-423e-973d-ed37ffb36aa2.png)
![image](https://user-images.githubusercontent.com/11486351/165919618-e3060ea3-0328-42ac-a255-aca43d4a5393.png)

**To Reproduce**
Steps to reproduce the behavi

[2022-04-29 09:51] TachunLin commented on #2142
Verified **fixed** on `v1.0.2-rc1`. Close this issue.

### Result
During ISO install Harvester, we did not see message related to
[code]
And the ISO installation seems faster than before

![image](https://user-images.githubusercontent.com/29251855/165920911-474db30f-a2a5-44c7-88a2-51526f6d3c28.png)

### Test Information
* Test Environment: 1 node harvester on local kvm machine
* Harvester version:

[2022-04-29 09:51] #2142 closed, assigned to bk201, TachunLin

[2022-04-29 11:06] janeczku opened #2210 "[BUG] EFI boot option is not working"
Harvester 1.0.1

**To Reproduce**

1. Create a VM and under "Advanced Options" ensure that "Booting in EFI mode" is *not* ticked.
2. Check the YAML configuration of the created VM

**Expectation**

VM is configured for BIOS / legacy booting

**Actual**

VM is configured to boot in EFI mode

[2022-04-29 11:23] TachunLin commented on #2152
Verified **fixed** on `v1.0.2-rc1`. Close this issue.

### Result
* The bundledeployment `rancher-monitoring` now don't have status "modified" with "mutatingwebhookconfiguration.admissionregistration.k8s.io rancher-monitoring-admission modified"

[code]
* Re-trying the fleet-agent logs looks fine
  ![image](https://user-images.githubusercontent.com/29251855/165931544-dd02ab8c-9ee1-4dc1-a139-7cb7f3

[2022-04-29 11:23] #2152 closed, assigned to guangbochen, ibrokethecloud, TachunLin, w13915984028

[2022-04-29 12:24] WuJun2016 commented on #2210
Fixed in `v1.0.2-rc1`
https://github.com/harvester/harvester/issues/2128

[2022-04-29 13:07] himslm01 commented on #2194
I don't understand how I can be hitting a v0.2 bug when the cluster is installed from the Harvester ISO for v1.0.0 downloaded on 22nd Jan 2022.

[2022-04-29 14:13] yasker commented on #553
cc @PhanLe1010

[2022-04-29 15:25] irishgordo commented on #1988
@ibrokethecloud that would be really stellar!
Granted that we can successfully 'talk to' the nfs/s3 endpoint - maybe we'd just collect user-input after the *.txz gets built?

[2022-04-29 16:31] w13915984028 opened #2211 "[FEATURE] Enhance Harvester doc 'monitoring'"
**Is your feature request related to a problem? Please describe.**

Harvester v1.0.1 has enhancement in 'monitoring', the related method can also be used in v1.0.0 manually, but it is not clearly documented. Users need such guide to adjust the resource setting in their deployed Harvester cluster.

**Describe the solution you'd like**

Add description of usage in earlier versions.

**Describe alter

[2022-04-29 17:37] depasseg opened #2212 "[BUG] Can't select image after modifying template"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the built-in template for deploying linux from ISO.
2. Adjust rootdisk volume size to 20 (from 10).
3. Save template.
4. Open template and notice that the cdrom is no longer a disk image
5. Deploy from that version of the template and notice there isn't a way to choose the ISO image.

**Expected behavior**
It is expec

[2022-04-29 17:57] PhanLe1010 commented on #553
Support for CSI snapshot to Longhorn snapshot is coming in Longhorn 1.3.0 https://github.com/longhorn/longhorn/issues/2534

[2022-04-29 19:25] joshmeranda commented on #2028
hmmm I changed to a DNS setup but I'm still seeing the cluster register properly. Have you added the DNS names to the list of alternatives? I generated the certs with:

[code]

Where `rancher.mgmt.com` is the DNS record for the rancher deployment.

Can you share the logs of the `cattle-cluster-agent` and the commands you used to generated the certs?

[2022-04-29 21:07] slickwarren opened #2213 "[BUG] unable to use `external` cloud provder with k3s or rke2 with harvester node driver"
**Describe the bug**
when using the `external` option, cluster provisioning fails with error `waiting for cluster agent to connect`

**To Reproduce**
Steps to reproduce the behavior:
1. provision an rke2 or k3s cluster in rancher using the harvester node driver
  * Set cloud provider to `external`

**Expected behavior**
cluster fails to provision with error `waiting for cluster agent to connect`

[2022-04-30 10:21] LukasAfonso opened #2214 "[Question] Access to the API"
Hello, I would like to develop an application using the harvester API, however, I can't figure out how to connect to the API, I keep getting 401 Unauthorized. I understand that I either need a token or pass my credentials, but how?
If possible this could be included in the API reference page on the main site to help others that are starting with this API.
Thanks!

[2022-04-30 19:05] KyleSanderson commented on #1495
Any update on this?

[2022-05-02 03:33] ibrokethecloud commented on #2213
@slickwarren did you deploy the external harvester cloud provider?

I just ran a similar test with Rancher 2.6.5-rc6 and Harvester v1.0.2-rc1 and followed the following steps:

![image](https://user-images.githubusercontent.com/19664014/166180931-7bed9e34-95b2-4dd3-b79b-4dcc0ea86d5f.png)

Since there is no cloud provider enabled, I have added the same via Additional Manifests option:

![image](htt

[2022-05-02 07:43] nemccarthy commented on #2084
I'm getting the same behaviour, duplicate `ID_NET_NAME_ONBOARD` when setting up a simple PoC server using an Intel NUC 9, dual NIC worked fine before on XCP-NG. Controllers are Intel Ethernet Connection i219-LM (eth1) and i210-AT (eth0).

Two onboard Gb Ethernet ports. With `net.ifnames=0` set it works all fine.

Seeing `eth1` renamed to `eno1` and `eth0` being renamed to `eno1` as well but failin

[2022-05-02 08:26] nemccarthy commented on #2084
@tjjh89017  as requested testing on Ubuntu Server LTS 22.04, it looks like udev is *only* reporting the `ID_NET_NAME_ONBOARD` for eth1, the field is not present for eth0.

eth1
[code]
and eth0
[code]
Also we see no rename conflicts in dmesg.
[code]

Contents of `/libb/systemd/network/99-default.link`
[code]

[2022-05-02 14:33] koyasuri opened #2215 "[Question] How to configure harvester-mgmt networking with VLAN"
How to configure harvester-mgmt networking with VLAN ?
Currently existing Physical nics is trunked  with Multiple VLANS and i don't see option at harvester end to enable VLAN tagging for Management interface.
Can some one guide me please ?