[2022-11-04 01:33] averyfreeman opened #3103 "[Question] How do I change host IP, and host network from DHCP to static?"
I am getting an error on my `hosts` screen:

[code]

The hosts all have reservations, I am using AD.  I thought I'd change the hosts from having DHCP to static addresses, and change one host's IP address.

How do I do this?  I tried with one host by editing

[code]

If I restarted the network, ala `systemctl restart network`, and checked `wicked ifstatus mgmt-br`, it appeared that the changes were

[2022-11-04 02:15] khushboo-rancher commented on #2741
@noahgildersleeve Could you give this a try again? I believe the fix is already available in v1.1.0.

[2022-11-04 02:18] ibrokethecloud commented on #2962
To test using libvirt:

**Create a custom network:**
* create a new network using sample here: https://github.com/harvester/harvester-installer/pull/363#issuecomment-1299388805. This will create a network with ipv6 dhcp enabled.

**New Install path:**
* install harvester v1.1.0 using iso method on a VM and using the network defined above.
* once install is complete, the user should see ipv6 addres

[2022-11-04 02:56] bk201 opened #3104 "[FEATURE] Upgrade: display waiting CAPI cluster logs"
**Is your feature request related to a problem? Please describe.**

We wait for CAPI to become provisioned in [upgrade_manifest.sh](https://github.com/harvester/harvester/blob/3362968b18dd3d79a6e681923de2316f77033792/package/upgrade/upgrade_manifests.sh#L245), but there is no log for it.
When the user's cluster is somehow in the Provisioning state before an upgrade, it's hard to tell the reason wh

[2022-11-04 05:29] ibrokethecloud commented on #3103
duplicate of https://github.com/harvester/harvester/issues/2962

Please refer to work around: https://github.com/harvester/harvester/issues/2962#issuecomment-1281385465

Fix will be available v1.1.1

[2022-11-04 05:52] TachunLin commented on #3079
Verified **not fixed** on master-0f590757-head. Move to Implement stage.

### Result
Encounter the `Connection timed out`  after the `curl` retry in the single node post-drain pod
[code]

### Test Information
* Test Environment: 1 node1 Harvester local kvm machine
* Harvester version: v1.1.0 with upgrade image contains the chages

### Verify Steps
1. Prepare a v1.0.3 Harvester cluster with any num

[2022-11-04 06:03] starbops commented on #3079
The curl retry is not working in the pod so we're going to fall back to the traditional while loop to do the retry.

[2022-11-04 06:44] averyfreeman commented on #3103
OK cool, thanks for the reference, I appreciate it.

edit: @ibrokethecloud this doesn't address my question, the bug is inconsequential

**How do you change the node IP?  or change mgmt-br from DHCP to static?**

I tried `wicked` (bc, SUSE) and it did not work.

If you help me figure it out, I'll contribute to the docs 😊 This should definitely be documented.

[2022-11-04 07:03] averyfreeman commented on #3080
Sorry if I'm dense, but I've looked through all these menus several times and I don't see anything saying `shutdown` or `poweroff` 🤔

[2022-11-04 07:13] rajesh1084 commented on #3091
[harv-node2.zip](https://github.com/harvester/harvester/files/9935829/harv-node2.zip)
[harv-node3.zip](https://github.com/harvester/harvester/files/9935831/harv-node3.zip)
[harv-node1.zip](https://github.com/harvester/harvester/files/9935833/harv-node1.zip)

@brandond @w13915984028 : The requested the tar balls are attached

Few things:
- The deployment is on v1.1.0-rc3. I haven't tried the offici

[2022-11-04 07:29] Martin-Weiss commented on #3100
We have multiple VLANs and we need LoadBalancer VIPs via CPI in different ones. Not sure how this should/will work from a conceptional point of view via the Harvester CPI..

VM: VLAN1, VLAN2, VLAN3 and in each VLAN we need different VIPs..

[2022-11-04 10:55] alexdepalex commented on #3068
To access Harvester you currently need to login directly to Harvester as the Harvester *admin* user, where previously it was accessible through Rancher using your personal account with admin privs. This sounds like a step back and should be fixed.

[2022-11-04 14:43] albertkohl-monotek commented on #3080
@averyfreeman in the website, you go to virtual machines, tick the checkbox next to STATE heading to check all vms, click the stop button.

(stop = shutdown)

[2022-11-04 15:58] yashi4engg commented on #3082
I am now stuck with above error ...with above error host failed and trying to go to emergency mode , even in. emergency mode it found root user locked.

[2022-11-04 16:20] midhunthampi commented on #3083
Thanks for testing - in this case I assume this is a bug in the webhook. Can you try to set 80% with the longhorn UI? - yes, I tried to set 80%.

[2022-11-04 19:51] brandond commented on #3091
The etcd logs on harv-node1 don't make any sense. There are error messages in the logs that etdc would not emit. Based on the presence of a `Proxy-Connection: close` header in the response, it appears that a proxy server has been configured in this environment, but the proper CIDR ranges and hostnames have not been listed in the NO_PROXY environment variable, which is causing etcd to try to go thr

[2022-11-04 19:52] midhunthampi opened #3110 "[Not able to see Storageclass parameter options while creating]"
**Describe the bug**
We are not able to see parameter options to set replica and other settings when we create storageclass.

<img width="1227" alt="Screen Shot 2022-11-04 at 12 50 56 PM" src="https://user-images.githubusercontent.com/62717435/200063108-da4fc084-1a91-43b6-a3b2-d729ea8184cc.png">

[2022-11-05 05:27] averyfreeman commented on #3080
@albertkohl-monotek my apologies, I didn't read #issuecomment-1299515618_ closely enough, I thought @starbops was talking about shutting down the node.

[2022-11-05 05:29] #3103 closed, assigned to nobody

[2022-11-06 21:01] dimitribellini opened #3111 "[BUG] Realtek USB 2.5G Network adaptor Driver problem"
**Describe the bug**
On my small 3 nodes cluster I have connected a Sabrent USB Network 2gbe adapter per node and my idea was to use it as "storage backend" for Harvester.
After a lot hours to understand why the block volume were not replicated I discovered this message on the journal:

` 124110.513839] cdc_ncm 2-8:2.0 enp0s20f0u8c2: 2500 mbit/s downlink 2500 mbit/s uplink`

So poking around on th

[2022-11-06 21:29] dimitribellini commented on #3111
UPDATE: I have found the r8152 updated driver for SLES (https://build.opensuse.org/package/show/home:Sauerland/r8152) but the OS it's on Read Only mode...
There is a way to put in RW?
Thanks

[2022-11-06 21:38] RegisWeduLabs commented on #3111
Hi,

From the official doc:
https://docs.harvesterhci.io/v1.1/troubleshooting/os

Regards

[2022-11-06 22:32] ibrokethecloud commented on #3103
If the plan is to change IP addresses of the node, then it is likely to cause issues since the node is likely to show up as another in the cluster. In this case the easier option would be to delete the node from cluster, and add it back into the cluster with static address specified.

If you only wish to move the ip allocation from dhcp to static while retaining the address, then the change will b

[2022-11-06 22:42] ibrokethecloud commented on #3110
are you please able to provide us information on what version of harvester you are using, details of your environment.

any chance we could also look at the network request/responses from your browser when this happens?

it is likely some resource is not loading, and the network request information should help us identify what is likely to be causing this.

[2022-11-06 22:47] dimitribellini commented on #3111
@RegisHubelia thanks for your input (https://docs.harvesterhci.io/v1.1/troubleshooting/os) and now I was able to fix the driver problem!!!!
Below my steps:
- Install from a third party repo the r8152 driver
`rpm -Uvh https://download.opensuse.org/repositories/home:/Sauerland:/hardware/openSUSE_Leap_15.3/x86_64/r8152-kmp-default-2.16.3_k5.3.18_57-lp153.10.1.x86_64.rpm https://download.opensuse.org/

[2022-11-06 22:56] RegisWeduLabs commented on #3111
You can use the /oem/99_custom.conf.  There is a section in the file by default "write_file" that you can use as an example (not in front of a computer atm, so on top of my head).  But this should make it easy to write a file with whatever you need and upon reboot it should become persistent (well, kind of, basically re-written after each reboot).

[2022-11-06 23:43] ibrokethecloud commented on #3111
you could drop a new file `/oem/99_realtek.yaml` with the following spec, and the OS will ensure that command and files are executed/copied on each boot.

[code]

[2022-11-06 23:58] ibrokethecloud commented on #3082
is there sos log generated?

[2022-11-07 00:04] ibrokethecloud commented on #3101
There are 2 CRDs, the PCIDevices are created out of band, with the controller regularly checking the node for pcidevice lists and creating the objects. When the user assigns the PCIDevice to a VM, a claim is created to bind the PCIDevice to the VM.

[2022-11-07 03:10] masteryyh opened #3112 "[BUG] Installer crashes when MTU in network config is empty and pressing up arrow key"
**Describe the bug**

Installer will crash when using static IPv4 configuration and leave `MTU` blank.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Network configuration` page in Harvester Installer;
2. Select `Static` for `IPv4 Method`;
3. Fill in IP address and gateway, leave `MTU` blank;
4. When cursor is on `MTU` input field, press up arrow key to return to `Gateway` and instal

[2022-11-07 04:04] ezware opened #3113 "[Installer BUG] harvester installer crashed in "Config network connection" step."
**Describe the bug**
harvester installer crashed after enter hostname and press enter or down arrow key.

Error message:
2022/11/07 03:28:16 invalid dimensions
panic: invalid dimensions

goroutine 1 [running]:
log.Panicln({0xc00029ff60?, 0x0?, 0x0?})
        /usr/local/go/src/log/log.go:399 +0x65
main.main()
        /go/src/github.com/harvester/harvester-installer/main.go:11 +0x46

**To Reproduce*

[2022-11-07 06:01] rajesh1084 commented on #3091
@brandond Thanks for your analysis. Yes, the nodes are behind a proxy.
While configuring Harvester, it does prompt for a HTTP Proxy server address. But, I don't remember it asking to set NO_PROXY.

- This is the case with the other 2 nodes (harv-node1 and harv-node2). Why they didn't face this issue (at least the 2nd node which joins the cluster)?
- Should that be set after the deployment?
- If I

[2022-11-07 06:45] TachunLin commented on #3079
Verified **fixed** on `v1.1.0`. Close this issue.

### Result

* Can trigger th retry logic in 10 seconds interval while unable to download the requested repo file
[code]

* Can resume the download after connection recovered
[code]
* And finish the upgrade process
![image](https://user-images.githubusercontent.com/29251855/200242634-3192827b-1180-4929-b64c-c8726ea8f8a9.png)

### Test Information
*

[2022-11-07 06:47] #3079 closed, assigned to starbops, TachunLin

[2022-11-07 06:50] Aixleft723 opened #3115 "Is there any stree test about harvester[Question]"
I would like to know if Harvester has a stress test report？

[2022-11-07 08:13] joeyloman opened #3116 "Configuring the containerd registry doesn't work anymore during installation"
**Describe the bug**
We run our clusters in an air gapped environment which needs a container registry proxy so it can download the matched rancher-agent version of the running Rancher when applying the cluster-registration-url.

When installing v1.1.0 the /etc/rancher/rke2/registries.yaml file, which is created in our environment using "os.write_files" in the config-create.yaml,  gets overwritten

[2022-11-07 08:23] TachunLin commented on #3104
Verified **fixed** on master-c282ac0b-head. (22/11/07) Close this issue.

### Result
During the upgrade stage in apply-manifest, we can found the relating log of
1. `CAPI cluster fleet-local/local is provisioned` (When cluster provisioning is fine)
2. `Waiting for CAPI cluster fleet-local/local to be provisioned` (When cluster provisioning have failure)

Here we take fine cluster provisioning for

[2022-11-07 08:23] #3104 closed, assigned to bk201, TachunLin

[2022-11-07 08:54] FrankYang0529 commented on #2984
I found a way to reproduce this, but it can't always be successful.

1. Run `systemctl stop rke2` on each node.
2. After 10 seconds.
3. Run `systemctl restart rke2` on each node.
4. Check the status of pod `prometheus-rancher-monitoring-prometheus-0` and `alertmanager-rancher-monitoring-alertmanager-0`.

[2022-11-07 08:57] bk201 commented on #2984
Thank @FrankYang0529, somehow related to we [set rkeConfig back to default value after an upgrade](https://github.com/harvester/harvester/pull/2918). It triggers rke2-server/agent simultaneous restarts on all nodes.

[2022-11-07 09:09] bk201 commented on #2937
We also see configuring the `vga` kernel parameter to adjust the resolution might work. Here is an example:
- Stop at GRUB menu.
- Edit first menu entry (`e`)
- Append `vga=792` to the end of the `$linux` line and `Ctrl` + `x` to boot.
<img width="891" alt="image (4)" src="https://user-images.githubusercontent.com/1691518/200271069-17428383-4d17-4c25-91ca-3baf362f3a06.png">

[2022-11-07 10:22] dimitribellini commented on #3111
Hi @ibrokethecloud,
thanks so much for your help! I have tried what you suggested but without success (I'm not so smart :-))
My file is like you can see below:
file: /oem/99_realtek.yaml
[code]
I put the "file name" on the path but I think is not the right place, some suggestions?

Thanks so much

[2022-11-07 10:26] guangbochen commented on #3091
@rajesh1084 do u mean the proxy u have configured during the installer stage, this will not apply to the underneath RKE2 server and the desired one is https://docs.harvesterhci.io/v1.1/advanced/settings#http-proxy which already supports the `no_proxy` config.

[2022-11-07 10:35] dimitribellini commented on #3111
UPDATE: Looking on journal I can see that my file "99_realtek.yaml" seems not executed.
[code]
I made some error?
Thanks so much

[2022-11-07 13:22] rajesh1084 commented on #3091
Ok got it. I will try to set the appropriate `no_proxy` from the harvester UI and redeploy the 3rd node.

[2022-11-07 13:23] n-guitar commented on #480
I too am having trouble setting this up.
I cannot configure WIFI on SUSE Micro.
I'm having trouble figuring out how to connect to the network.

I have checked the following documents.
https://docs.harvesterhci.io/v1.1/troubleshooting/installation/

- Version

![image](https://user-images.githubusercontent.com/27879320/200319980-c054ff22-b806-49d6-81ef-90039e708f21.png)

- Additional

WIFI module i

[2022-11-07 13:55] albertkohl-monotek commented on #2936
that worked. specifically:
    spec.domain.clock.timer.kvm: {}   and spec.domain.clock.timezone: America/TZ

the edit yaml page wouldnt let me add just the timezone, without the timer.kvm element as well.

Thanks!

[2022-11-07 13:55] #2936 closed, assigned to nobody

[2022-11-07 14:43] yashi4engg commented on #3082
No as after above error host went to emergency mode but not allowing do anything . Below is message while going to emergency -

You are in emergency mode .After logging in ,type "journelctl -xb" to view system log, systemctl reboot to reboot, systemctl default or esit to boot in default mode.

Cannot open access to console,the root account is locked.
see sulogin main page for more details .

Press

[2022-11-07 16:26] w13915984028 commented on #3046
There has already been volume status checking before upgrade. But it will only work in v1.1.0 or after.

https://github.com/harvester/harvester/issues/2833

The v1.0.3 version has no such checking before upgrade, that needs to be solved.

[2022-11-07 16:34] brandond commented on #3091
You will need to update both of the other nodes as well before everything will work properly.

[2022-11-07 17:29] midhunthampi commented on #3084
I have one more question. How we can renew these certificate in every 6 months.

[2022-11-07 17:33] justin0mcateer commented on #1836
This type of capability would be very nice indeed.

The alternative, which we have been able to get working is to:
1) Generate an AutoUnattend.xml file
2) Create an ISO image including this file
3) Create an ISO resource in Harvester using that ISO image
4) Define the VM with the ISO from above in the correct boot order

It works, but it is quite cumbersome/fragile, even when automated.

[2022-11-07 17:44] justin0mcateer opened #3119 "[FEATURE] Terraform Input Device Support"
**Is your feature request related to a problem? Please describe.**
The VNC console (with Windows at least) is very problematic without the 'USB Tablet' input option specified (under Advanced). So far as I can determine, this flag cannot currently be enabled in the VM definition using the latest version of the Harvester and the Harvester Terraform provider.

**Describe the solution you'd like**
Ide

[2022-11-07 19:37] w13915984028 commented on #2833
Question:

We are targeting v1.0.3 to v1.1.0/v1.1.1 upgrade, how can such check be effective in v1.0.3 version ?  should the ugprade script itself checks such condition in the very beginning of upgrade, fail asap, to avoid the upgrade stucking in middle state ?

[2022-11-07 19:55] w13915984028 commented on #2741
As discussed in https://github.com/harvester/harvester/issues/2833#issuecomment-1306095354

The question is:  we are targeting v1.0.3 to v1.1.0/v1.1.1 upgrade, how can such check be effective in v1.0.3 version ? should the upgrade script itself checks such condition in the very beginning of upgrade, fail asap., to avoid the upgrade stucking in middle state ?

As v1.0.3 has no check per https://git

[2022-11-07 20:26] w13915984028 commented on #3060
@irishgordo As your description `qemu/kvm 10C 18GiB Mem`,  how did you stop the Harvester cluster and stop the `kvm/vm` ? If you use `force power off`, it may break `etcd`'s db and cause such error in next time's restart, but it can recover.

such log is found from the support-bundle, in rke2-server.log.
[code]

Per https://github.com/etcd-io/etcd/issues/10722, it said `seems powerdown cause db co

[2022-11-07 23:03] irishgordo commented on #3116
@joeyloman thanks for the fix :smile: !

I've tested on Harvester Version: master-5a18d059-head

With a deployment.yaml of:
[code]

Via the ipxe-examples, modifying the config-create.yaml.j2:
![Screenshot from 2022-11-07 14-53-50](https://user-images.githubusercontent.com/5370752/200432904-1596d244-3884-4bb7-8a33-ccaee8e80beb.png)
![Screenshot from 2022-11-07 14-52-47](https://user-images.githubus

[2022-11-07 23:03] #3116 closed, assigned to irishgordo

[2022-11-08 00:32] inmanturbo commented on #1676
What is the status on this? It looks like it was mentioned in #2337, but that PR does nothing to provide this feature.

[2022-11-08 00:55] irishgordo opened #3120 "[BUG] harvesterhci.io.settings containerd-registry applied `Auth` configuration but `Auth` is null"
**Describe the bug**
With harvesterhci.io.settings containerd-registry, set on a single node via a `config-create.yaml` with:
[code]
The:
[code]
Seems to get applied but Auth through the UI is null.

**To Reproduce**
Steps to reproduce the behavior:
1. Build a single-node harvester provide the `systemSettings` via a remote-harvester-config url that serves a yaml config file or with the ipxe-exampl

[2022-11-08 01:04] irishgordo commented on #3060
@w13915984028 thanks for looking into this - I believe it may have been caused by a force shutoff on the VM - which probably broke `etcd`'s db.  But I don't 100% recall how it was shutdown.  I could go ahead and close this out as this was rare to reproduce consistently, and it did recover, if that sounds good? :smile: :+1:

[2022-11-08 01:14] chrisho commented on #3060
How many nodes do u test??

[2022-11-08 01:15] irishgordo commented on #3060
@chrisho  - this was just experienced on 1 node

[2022-11-08 01:43] chrisho commented on #3060
@irishgordo ok. Is there any VMS in harvester? and when to force shutdown.

I'm still trying hard to reproduce the problem, it is better to provide detailed steps, recording screen is also possible.

thanks.

[2022-11-08 01:45] WuJun2016 commented on #3120
This should be as expected, as auth is private information and will be cleared after being saved and verified by the back end.
@FrankYang0529   Can you confirm it. thanks

[2022-11-08 01:47] FrankYang0529 commented on #3120
Yes, this is expected. We will remove the credential once we save the config in `/etc/rancher/rke2/registries.yaml`. We will mention this in the document https://github.com/harvester/docs/pull/238.

[2022-11-08 02:06] ibrokethecloud commented on #3115
are you please able to provide us more information as what you are exactly looking for in the stress test report?

[2022-11-08 02:20] lomas969 commented on #1479
The token is "admin"
I got it logging into the node with ssh and running:
kubectl get secret -n cattle-system bootstrap-secret -o jsonpath="{.data.bootstrapPassword}" | base64 --decode

[2022-11-08 03:21] midhunthampi commented on #3110
We could able to create storage class with edit yaml option

[2022-11-08 03:38] ibrokethecloud commented on #3111
It could be related to the indentation of the content. Are you please able to try base64 encoding of the content.

Based on your sample it should look like below

[code]

[2022-11-08 03:41] guangbochen commented on #1676
This issue is expected to be addressed at the ~~v1.1.2~~ v1.2 milestone and mainly depends on the PRs mentioned in https://github.com/harvester/harvester/issues/2134.

[2022-11-08 03:53] midhunthampi opened #3122 "[VM traffic is not working for additional hypervisor, which added after cluster network creation]"
**Describe the bug**

We have created the Harvester cluster with 6 nodes and added cluster network and network config. It's working fine for all 6 nodes, which is added before creating cluster network.

Later we added some nodes in the cluster, which also part of same cluster network but VM network/traffic is not working for these hosts.

We used select all nodes, when we create cluster network.

[2022-11-08 03:56] ibrokethecloud commented on #3122
are you please able to provide us a support bundle?

[2022-11-08 04:06] midhunthampi commented on #3122
We can't share support bundle in open community.

[2022-11-08 05:30] ibrokethecloud commented on #3122
dm'd you users slack

[2022-11-08 09:08] Martin-Weiss commented on #3054
In Harvester I can see iSCSI connections to the block device volumes that have RWX. So I believe this is a different / new way and not the rwx via NFS. See also https://github.com/longhorn/longhorn/blob/master/enhancements/20210216-volume-live-migration.md#creating-a-migratable-storage-class - but as said I am not deep enough in this..

Regarding the "better IO performance" - what problem do you h

[2022-11-08 09:23] rajesh1084 commented on #3091
![image](https://user-images.githubusercontent.com/108651299/200525131-6ecf3e91-fbe5-4103-a6eb-708878366b06.png)

- First, redeployed the master node (harv-node1)
- Configured proxy
[code]
- Redeployed worker nodes (harv-node2 and harv-node3)
- For a moment, both the worker nodes went into cordoned state. But they automatically recovered in sometime.

We can close this bug. Thanks for the analysis

[2022-11-08 10:35] w13915984028 commented on #3091
Wonderful, it works now.

Thanks @brandond 's great help, thanks @rajesh1084 's kind patience and continuously collecting logs/debugs.

[2022-11-08 10:50] w13915984028 commented on #3091
It's worthy to add this case into trouble-shooting, I will file a PR to update the doc in https://docs.harvesterhci.io/v1.1/troubleshooting/installation.

[2022-11-08 14:23] dimitribellini commented on #3111
thanks so much @ibrokethecloud the final file is this:

file: /oem/98_realtek.yaml
[code]

Ethernet adapter detail:
[code]

The trick to load the r8152 driver is made by the first line, the udev rules is only used when I plug and unplug the usb adapter.

Now everything is working!!!
Thanks so much

[2022-11-08 14:24] lanfon72 commented on #2962
@ibrokethecloud, @bk201, I can not confirm that the bug has been resolved.

- In my environment, I have to update `accept_ra=2` before create the virtual network
- qemu/KVM network lost external network after few minutes
- `v1.0.3` can' not offline upgrade to `master-head`
- `v1.1.0` and `master-head` installed successfuly, but VIP is not ready, dashboard is not accessible (with 502 bad gateway)

[2022-11-08 14:59] bk201 opened #3123 "[BUG] Upgrade: mismatched ISO checksum is not detected and backing image is stuck at in-progress"
**Describe the bug**

This was spotted when testing an upgrade from v1.1.0 to master ISO, and later the remote ISO was updated, so the expected checksum changed.

The download image progress is stuck at 99%.
<img width="567" alt="Screen Shot 2022-11-08 at 10 37 54 PM" src="https://user-images.githubusercontent.com/1691518/200593301-e0e320f3-8ca1-4814-8f16-55c5b2271855.png">

Checking the VirtualMa

[2022-11-08 15:16] bk201 commented on #3123
I see the same error when creating a VirtualMachineImage with an incorrect checksum.
Create a dependency issue: https://github.com/longhorn/longhorn/issues/4852

[2022-11-08 17:19] irishgordo commented on #3120
Thanks for the doc edits!
That makes sense :smile: that this is expected then.
I'll go ahead and close this out :+1:

[2022-11-08 17:19] #3120 closed, assigned to nobody

[2022-11-08 18:13] noahgildersleeve commented on #2741
Tested with upgrade from v1.0.3 -> v1.1.0 with 3 node vagrant ipxe-examples setup. I had to increase the job timeout since it was being slow (I'm fairly certain this was due to it being virtualized. Closing as fixed.
![Screenshot_20221108_101145](https://user-images.githubusercontent.com/83787952/200643095-48949941-2fb5-4149-8137-b60dcdd854dc.png)
![Screenshot_20221108_101130](https://user-images.

[2022-11-08 18:13] #2741 closed, assigned to bk201, noahgildersleeve

[2022-11-08 21:58] albertkohl-monotek commented on #2784
[#2950 how to migrate windows hyper-v guest into harvester ](url)

[2022-11-08 21:58] #2784 closed, assigned to nobody

[2022-11-08 22:02] albertkohl-monotek commented on #3016
@FrankYang0529 any thoughts on this? i'm at a point now where i'm trying to manually migrate from a v1.0.3 cluster into another v1.1.0 cluster (considering the upgrade issues currently for v1.1.0).

backup/restore would be create, but i dont know how to export the backing images from the current v1.0.3 cluster.

any additional thoughts on migrating vms from harvester v1.0.3 cluster to different v.

[2022-11-08 22:23] #3111 closed, assigned to nobody

[2022-11-08 23:04] rebeccazzzz opened #3124 "[FEATURE] Full or partial Quota usage prevents Live Migration of VM when additional VM exceeds Quota"
**Describe the bug**

Fully or partially utilizing the Quota set on the Project and/or Namespace prevents the Live Migration of VMs.

The example below illustrates the problem and prevents the Live Migration of a VM.
* Quota: 64GB Memory
* VMs: 3 x 16GB Memory Nodes (together 48GB)

The expectation is that Live Migration could be done, but unfortunately the below message was seen.

/// 
(combined

[2022-11-08 23:23] irishgordo commented on #3089
I validated that on Harvester Version: master-f8547728-head  & Rancher v2.6.9 - the issue can be reproduced with the:
https://cloud-images.ubuntu.com/minimal/releases/focal/release/
( Ubuntu 20.04 Minimal CloudImg AMD64 ) & RKE v1.22.13

That RKE2 while provisioned will have lots of IPAMHandles as shown:
![Screenshot from 2022-11-08 14-15-48](https://user-images.githubusercontent.com/5370752/20069

[2022-11-08 23:23] #3089 closed, assigned to FrankYang0529, irishgordo, futuretea

[2022-11-09 01:43] TachunLin commented on #3073
Verified **fixed** on master-5a18d059-head (11/08). Close this issue.

### Result
When we set the first node to fail in post-drain according to the steps in https://github.com/harvester/harvester/pull/3102#issuecomment-1303769203

Then we check the post-drain job of the first node, it will continuously prompt the log of retrying in 10 minutes.
Which make the upgrade dashboard of node1 post-drain d

[2022-11-09 02:30] #3073 closed, assigned to bk201, TachunLin

[2022-11-09 02:42] Aixleft723 commented on #3115
For example, the time to create virtual machines in batches and EVS disks @ibrokethecloud

[2022-11-09 02:44] Aixleft723 commented on #3115
How many virtual machines can a three-node harvester environment support @ibrokethecloud

[2022-11-09 03:35] futuretea opened #3125 "[BUG] When creating storageclasses, selecting node/disk tag and remove it will make the storageclass unavailable"
**Describe the bug**

When creating the storageclass, selecting selector to remove it will make the storageclass unavailable

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Advanced >Storage Classes`
2. Click `Create`
3. input a storageclass `Name`
4. select a node/disk tag in `NodeSelector`/`DiskSelector`
5. remove the node/disk tag from `NodeSelector`/`DiskSelector`
6. Click `Create

[2022-11-09 06:37] FrankYang0529 commented on #3016
Backing images are stored in the `/data/backing-images` folder of `<backing-image-manager-xxxx-xxxx>` pod. You can copy them with kubectl.
[code]

[2022-11-09 08:13] FrankYang0529 commented on #3113
Hi @ezware, this is probably not directly related to your question, but may you try to enable [Nested Virtualization](https://docs.oracle.com/en/virtualization/virtualbox/6.0/admin/nested-virt.html) on your VirtualBox? I can't find `vmx` in your flags.

[2022-11-09 08:21] futuretea opened #3126 "[BUG] vm with pci passthrough scheduling failed after node reboot"
**Describe the bug**

![image](https://user-images.githubusercontent.com/15064560/200774905-44f30b04-0c4c-488f-bd96-d4b858d9fd9c.png)

**workaround**
- disable passthrough
- enable passthrough
- restart virt-handler by using kubectl to delete the virt-handler pod on the node
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. enable pcidevices-controller in `Addons`
2. enable a pci device

[2022-11-09 08:52] TachunLin commented on #3098
Verified **fixed** on `master-f854772-head (11/08)` . Close this issue.

### Result
When we manually made the first node failed at post-drain then rerun the upgrade again.

1. We can resume to complete the post-drain job on the first node and finish the whole cluster upgrade process.
  ![image](https://user-images.githubusercontent.com/29251855/200758611-6a9d5714-0409-4239-9c10-41e1a5bcb3d1.png)

[2022-11-09 08:52] #3098 closed, assigned to starbops, TachunLin, w13915984028

[2022-11-09 09:29] TachunLin commented on #2962
### New install path

#### On master including PR
When we install new Harvester **master** using the customized defined IPv6 DHCP enabled network
Then ISO install v1.1.0 with DHCP node IP and DHCP VIP

* We did not encounter the Host IP is inconsistent error on Host page
![image](https://user-images.githubusercontent.com/29251855/200791493-542f05ee-3c9d-4526-bb7d-c8a7de336695.png)

* User could no

[2022-11-09 09:33] w13915984028 commented on #2984
@bk201 @FrankYang0529 :

Just a question: what is the internal relationship between `stop&start rke2` and `prometheus pod stucks in terminating` ?  Does it mean `stop&start rke2 will cause all PODs are replaced` ?  thanks.

[2022-11-09 09:41] FrankYang0529 commented on #2984
I only observed that prometheus pods might be terminated and run again; other pods look fine. Please check the pod age time.

[code]

[2022-11-09 09:50] lanfon72 commented on #3100
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/200796787-4ca57ef9-540b-4ea4-8974-f8f79f39ca95.png)

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **master-1a7693fd-head**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with any nodes
2. Login to Dashboard then navigate to _Advanced/Settings

[2022-11-09 09:52] w13915984028 commented on #2984
The `prometheus` POD uses PV(LH volume) to store data.  Most of the other PODs are not using PV.

Maybe: the `stop&start rke2` triggers some logic in LH, and LH deletes the `prometheus` POD, then causes it to be forcely replaced.

The `grafana` POD is also using PV, it should also be affected.

[2022-11-09 09:57] w13915984028 commented on #2984
When LH tries to delete the POD is described here:  https://github.com/harvester/harvester/issues/2013#issuecomment-1196944952

@PhanLe1010 Regarding our previous discussion in #2013, the `stop&start rke` seems also trigger LH to delete the POD, this sounds a bit strange.

[2022-11-09 14:13] albertkohl-monotek commented on #3016
Thanks @FrankYang0529, i'll give it a try!

[2022-11-09 14:26] guangbochen commented on #2937
**To Test:**
- option 1: move the hostname to a new page to avoid the possibility of hitting the crash issue
- option 2: you can choose to use the `VGA 1024x768` entry menu if your output is limited to small dimensions
![image](https://user-images.githubusercontent.com/4569037/200855700-b5cbfcdd-c496-44d0-af30-042d24fd2b64.png)

the long-term solution will depend on the console UI refactoring of h

[2022-11-09 15:11] KyleSponz commented on #3081
Implemented fix @ibrokethecloud suggested nics show up

[2022-11-09 15:19] KyleSponz opened #3127 "Custom defined network not routing"
I can get incoming connections when using the default network fine
I defined a network

`apiVersion: network.harvesterhci.io/v1beta1
kind: VlanConfig
metadata:
  annotations:
    network.harvesterhci.io/matched-nodes: '["csp1","csp2","csp3"]'
  creationTimestamp: "2022-11-09T01:43:23Z"
  finalizers:
  - wrangler.cattle.io/harvester-network-vlanconfig-controller
  generation: 1
  labels:
    networ

[2022-11-09 15:44] cdino commented on #2043
I have the same issue on Harvester 1.1.0 on 8 machines cluster

[2022-11-09 15:46] Martin-Weiss commented on #2043
Can you check if your prometheus pod is running properly? I had to increse the memory limit in one or the other cluster...

[2022-11-09 19:59] bcdurden commented on #2708
Hello,

I am seeing this issue over local HDMI on a minipc. I don't see the same kind of scroll but it might be just because my machine only has one nic.

[2022-11-09 20:08] albertkohl-monotek opened #3128 "[BUG] DAS - Partitions lost"
**Describe the bug**
yesterday out of no where, i noticed a number of volumes were degraded in Longhorn. after digging into it, i realized that the 10 disks in my JBOD enclosure were all missing. I put the server into maint. and rebooted it. System came back up with the drives missing (check with lsblk). i shut down again, reconnected the cables going from the server into the enclosure, and spun t

[2022-11-09 21:37] nikolaishields opened #3129 "[FEATURE] Add volume encryption support for Harvester"
**Is your feature request related to a problem? Please describe.**
 Presently volumes provisioned within harverster via the longhorn provisioner do not support the creation of encrypted volumes. It would be beneficial to security conscious users to have the ability to enable volume encryption at the storage class level.

**Describe the solution you'd like**

By adding `volumeMode: block encryption

[2022-11-09 22:12] irishgordo commented on #2986
This looks good :smile: :+1:  -

I validated this on Harvester Version: master-be92fd08-head

Via:
https://github.com/harvester/harvester/pull/3065#issue-1426898199
And also validated that changing the target to S3 works as well on MinIO backups:
![Screenshot from 2022-11-09 14-08-11](https://user-images.githubusercontent.com/5370752/200952839-46dbddf7-bdb3-4089-8d0b-d177382b974e.png)

[2022-11-09 22:12] #2986 closed, assigned to FrankYang0529, irishgordo

[2022-11-09 23:05] KyleSponz commented on #3127
<img width="1034" alt="Screen Shot 2022-11-09 at 6 04 16 PM" src="https://user-images.githubusercontent.com/2746903/200960925-9caff01d-e6c4-4de0-b109-4d5f1785d452.png">

I am trying to recreate the issue I am noticing this is a change from before my fix @ibrokethecloud is there something else you do in your environment that fixes this?

[2022-11-09 23:08] irishgordo commented on #3125
### Question:
@futuretea I was curious, if we upload an image `uuid: 2921be3f`:
[code]
And in that image is using a custom storage class called "other":
![Screenshot from 2022-11-09 14-57-59](https://user-images.githubusercontent.com/5370752/200960141-6a91634e-6ebb-43db-89b0-0e74620cbacc.png)
![Screenshot from 2022-11-09 14-57-38](https://user-images.githubusercontent.com/5370752/200960143-9ad55c2

[2022-11-09 23:32] ezware commented on #3113
hi, @FrankYang0529
thanks for your reply
I've tried the virtualbox nested virtualization option, and it does't work, also have no vmx;
but in linux kvm, i got vmx and the installer works well.

[2022-11-09 23:49] KyleSponz commented on #3127
it turns out the greyed out nics were as a result of 3081 running this command fixed it I will update 3081 with my new yaml file once I am certain it is the fix

the command:
ip link set eno1 up && ip link set eno2 up

[2022-11-10 00:09] irishgordo commented on #3112
@masteryyh - I was curious, should it be adding `nbsp;`/`space`/non-breaking-whitespace of sorts when you hit the arrow up key after adding a value and then return into the input of the `MTU`?

It doesn't crash currently on the Harvester Version: master-be92fd08-head.
But it does seem to add an additional white space, when you head up, then you head back down into the field to edit the MTU.
When w

[2022-11-10 01:30] KyleSponz commented on #3127
I was able to get both to work now using the same network configs however I did create an untagged vlan first and then recreated the tagged one.

Due to having to force the nics up with a command I am going to have to reflash the cluster I will do that in a day or so when I am able to get back there.

[2022-11-10 02:31] futuretea commented on #3125
@irishgordo If the selector is empty, longhorn can select any disk that can be scheduled.

[2022-11-10 02:37] irishgordo commented on #3125
Oh okay :smile: - awesome - thanks for explaining that.
I'll go ahead and close this out because everything looked good :smile: :+1:

[2022-11-10 02:37] #3125 closed, assigned to irishgordo, WuJun2016

[2022-11-10 03:32] Vicente-Cheng commented on #3128
hi @albertkohl-monotek,

Did you set up the auto provision?
https://docs.harvesterhci.io/v1.0/settings/#auto-disk-provision-paths-experimental

And did you try to mount any one of the missing disks to a temporary folder manually?

thanks!

[2022-11-10 04:27] albertkohl-monotek commented on #3128
@Vicente-Cheng the auto-disk-provision-paths is not set, the disks were added, and being used by the cluster a couple weeks ago, and were in good working order until the jbod enclosure lost connectivity. it sounds like if i try to set auto-provisioning now, it wold destory what data is on the disk.

as for if i'm tried mounting the disks. the just show up as a device, no partition data, however if

[2022-11-10 04:30] albertkohl-monotek commented on #3128
as a side note, i've used testdisk on ubuntu before to recover a deleted partition. not sure how to get that onto rancher, but maybe that would be an option to recover the partition? any other suggestions?

[2022-11-10 06:17] tjjh89017 commented on #1705
Cannot reproduce this.
We will close this ticket first.
If we need, we could reopen this ticket
Thanks a lot

[2022-11-10 06:17] #1705 closed, assigned to tjjh89017

[2022-11-10 06:18] tjjh89017 commented on #2469
@johntron Could you help us to add some details?
We cannot reproduce this on our side.
Thanks a lot

[2022-11-10 06:51] yaocw2020 opened #3132 "[Enhancement] Restricts user access to ports other than the load balancer service port through the VIP"
**Describe the bug**

When using the load balancer feature via CPI for a downstream cluster running within Harvester - it seems that RKE2 of the Harvester cluster also listens on :6443 on that load balancer VIP (instead of just the VIP we specified during Harvester installation).
It's a potential security problem. Refer to https://github.com/kube-vip/kube-vip/issues/479 for more details.

**To Rep

[2022-11-10 07:09] Martin-Weiss commented on #3132
6443 does NOT go to the downstream cluster in this case. I goes to the Harvester RKE2..

We need a way to specify a single load balancer VIP for the downstream cluster where :9345/:6443 go to the „masters“ of the downstream cluster and :80/:443 to the „workers“ in the downstream cluster.
And via that VIP only these four ports are reachable not not connected to anything else in the Harvester enviro

[2022-11-10 07:41] TachunLin commented on #2962
### Upgrade path: v1.0.3 to master

* When we Install v1.0.3 on IPv6 dhcp enabled custom network, we should not see ipv6 addresses allocated to node.
![image](https://user-images.githubusercontent.com/29251855/201016382-87c74496-1efd-4b83-a004-8d89e41c8eb4.png)

[code]

* Then we do offline upgrade to master

* During upgrade we encounter "Host IP is incosistent error" during the post-drain upgrad

[2022-11-10 07:43] TachunLin commented on #2962
Verified the Host IPv6 address would not appear in new install and upgrade path to master release.
Close this issue.

[2022-11-10 07:44] #2962 closed, assigned to ibrokethecloud, TachunLin

[2022-11-10 09:18] Martin-Weiss opened #3133 "[BUG] Timesync config and timesync monitoring missing"
**Describe the bug**
Harvester requires proper timesync and at the moment the NTP server can just be specified during installation and can not changed with a proper user-interface after deployment nor do we have proper timesync status check nor warnings in the harvester UI.

**To Reproduce**
Install with a broken NTP server.
Power of configured NTP server after Harvester deployment.

**Expected be

[2022-11-10 09:22] Vicente-Cheng commented on #3128
hi @albertkohl-monotek,
For auto-provisioned disks, NDM(node-disk-manager) should not `mkfs` again for the disks that are provisioned by NDM.

For your case, I see the picture that you attached.  Somehow metadata would be broken. Could you also check your kernel log at the disk unplug time?
I thought that we do not create any partitions when we provision the disk to LH so the `lsblk` looks like co

[2022-11-10 09:40] Martin-Weiss opened #3134 "[BUG] Upgrading a 3 node harvester cluster from 1.0.3 to 1.1.0 never completes / endless stuck"
**Describe the bug**
Trying to upgrade a 3 node harvester cluster from 1.0.3 to 1.1.0 never completes.
It seems the root cause is related to the check that all longhorn volumes are healthy and when one of the three nodes gets drained - the volumes are degraded and the upgrade waits until they are healthy which is not possible with replica=3 and only two replicas available while one node is drained

[2022-11-10 10:33] Captured77 opened #3135 "When I create a virtual mchine with memory >= 4G，virtual machine started failed"
Harvester 1.1.0
qemu 6.1.0
libvirt 6.0.0
longhorn：1.3.2
kubevirt：0.54.0

virtual machine  yaml：
[code]

[2022-11-10 10:34] bk201 commented on #3134
In most of our tests, this should work.
But it might hit this issue https://github.com/rancher/rancher/issues/39167, and two nodes are cordoned at the same time.

[2022-11-10 10:44] w13915984028 commented on #3134
similar issue: https://github.com/harvester/harvester/issues/3046

[2022-11-10 13:36] TachunLin commented on #3047
Verified **fixed** on `v.1.1.1-rc1`. Close this issue.

### Result
When we Install harvester v1.0.3 with cluster_networks option and value is **harvester-mgmt** and set
And bond `harvester-mgmt` network on multiple NICs plus bond custom `vlan` network on multiple NICs
Then upgrade to v1.1.1-rc1

1. We can successfully upgrade from v1.0.3 to `v1.1.1-rc1`
  ![image](https://user-images.githubusercon

[2022-11-10 13:36] #3047 closed, assigned to tjjh89017, TachunLin

[2022-11-10 13:52] Sparkxxx opened #3136 "[Question]VM start failed - 0/1 nodes are available: 1 Insufficient memory. preemption: 0/1 nodes are available: 1 No preemption victims found for incoming pod."
Fresh install (1.1.0 & 1.1.1) with no extra configuration at all on HP server 100Gb ram, ssd separate drives 480Gb for OS and VM data.

VM start fails with:
``` 0/1 nodes are available: 1 Insufficient memory. preemption: 0/1 nodes are available: 1 No preemption victims found for incoming pod.```

Other investigations I did:
[code]
[code]

VM yaml download from interface:
[code]

No other logs coul

[2022-11-10 14:27] rodolfoalmeid commented on #2821
Hello,
We are facing the same issue in a 3 nodes cluster.
Harvester 1.0.3
One of the nodes is showing a message: "Kubelet has disk pressure: Resource is Ready"
That failed node has  /usr/local/ 87% full.

harvester-01:~> df -h /usr/local
Filesystem Size Used Avail Use% Mounted on /dev/sdg5 98G 81G 13G 87% /usr/local

harvester-01:/ # du -h --max-depth=1 /usr/local/.state/var-lib-rancher.bind/agent

[2022-11-10 14:48] albertkohl-monotek commented on #3128
@Vicente-Cheng i tried:
rancher@harvester-01:~> sudo mke2fs -n /dev/sdn
mke2fs 1.43.8 (1-Jan-2018)
/dev/sdn contains a ext4 file system
        created on Thu Oct 20 00:31:25 2022
Proceed anyway? (y,N) y
Creating filesystem with 244190646 4k blocks and 61054976 inodes
Filesystem UUID: 264c4e67-016b-4050-b5a2-484c94915610
Superblock backups stored on blocks:
        32768, 98304, 163840, 229376, 29

[2022-11-10 15:06] w13915984028 commented on #3136
please check your VM's memory setting, it requests `1398101Mi`, namely  `1,398,101 Mi`, roughly `1.4 T` . the system says `insufficient memory`

In create VM web page,  the memory unit is `Gb` by default, for example, 32Gb memory VM, just input 32.

[code]

[2022-11-10 16:10] lanfon72 commented on #3078
Verified this bug has been fixed.

![image](https://user-images.githubusercontent.com/5169694/201147342-3af1587a-888a-4b89-bb3a-41b809379d83.png)

Test Information
----
* Environment: **qemu/KVM single node**
* Harvester Version: **v1.1.1-rc1**
* **ui-source** Option: **Auto**

### Verify Steps:
1. Install Harvester with any nodes
2. Navigate to _Advanced/Settings_
3. `ui-index` should showing the

[2022-11-10 16:10] #3078 closed, assigned to guangbochen, lanfon72

[2022-11-10 16:15] Sparkxxx commented on #3136
You are correct, my bad, old habits :)

Thank you.

[2022-11-10 16:15] #3136 closed, assigned to nobody

[2022-11-10 16:23] yashi4engg commented on #3082
Issue resolved..I did some changes in default file and config-join.yml ...

[2022-11-10 17:00] lanfon72 opened #3137 "[FEATURE] add release level for server-version"
### The problem
We can't not compare whether `master-head` is in which version.
In our automation test cases, we need distinguish whether `master-head` is great/less than official version such like `v1.1.0`, but currently we can just know the SHA number which is not comparable.

### The solution
Add the release level, for example:
| Server Version | Release Level |
| :--: | :--: |
| v1.0.3 | GA |

[2022-11-10 17:07] irishgordo commented on #3060
@chrisho I've been unable to find a way to reproduce this.  Was testing a few different scenarios yesterday and wasn't able to find a way to reproduce this.  I'll go ahead and close this out- as it seems that there's not a consistent way to reproduce this.

[2022-11-10 17:07] #3060 closed, assigned to chrisho

[2022-11-10 17:22] lanfon72 opened #3138 "[FEATURE] add upgrade check"
### The problem
- User can't request UI to check whether new version is available. (user need to wait the cluster to check periodically)
- To implement upgrade automation test, we will need an API endpoint to return new version to apply upgrade.

### The solution
- [ ] Add an API endpoint to return new version is available
- [ ] Add Check button on UI to let user check new version on demend

### T

[2022-11-10 17:43] midhunthampi commented on #3122
We could able to figure out the issue. IT was issue with firewall side. Closingit

[2022-11-10 17:43] #3122 closed, assigned to nobody

[2022-11-10 18:34] irishgordo commented on #2937
I validated on Harvester Version v1.1.1-rc1 that the options on the grub menu work / exist.
That we can launch installer from both menu options.

And for the work-arounds, validated that:
- a user can use ssh, to complete the install for Harvester as mentioned in: https://github.com/harvester/harvester/issues/2937#issuecomment-1300635489
- a user can modify the first grub entry to add `vga=792` to

[2022-11-10 18:34] #2937 closed, assigned to irishgordo, masteryyh

[2022-11-10 18:44] noahgildersleeve commented on #3090
Checked in `https://docs.harvesterhci.io/v1.1/advanced/settings/`. There's a typo. It says "an username", but because it's pronounced as a Y sound it should be "a username".

![Screenshot_20221110_104337](https://user-images.githubusercontent.com/83787952/201180009-59e07884-77d3-4cce-ab43-973c1fbb1958.png)

[2022-11-10 18:57] noahgildersleeve opened #3139 "[BUG] When upgrading with bonded NICs uplinks stop showing up in UI and management interface disappears"
**Describe the bug**

When you run an upgrade with bonded NICs the network section of the UI stops showing things as it should.
- You can't add a network config to the existing cluster network.
- You don't see any uplinks available in the dropdown for network configs
- The existing cluster network shows as unavailable
- The network does still work though on the VM after upgrade

**To Reproduce**
S

[2022-11-10 20:22] irishgordo commented on #3095
@FrankYang0529  - this looks good :smile: :+1: !

I tested with Harvester Version v1.1.1-rc1.
Tested different combinations of:
https://github.com/harvester/harvester/pull/3107#issue-1435649785
Like having multiple volumes associated with the vm and writing data to those, then restoring to a new vm as well.

*supporting screenshots*
![Screenshot from 2022-11-10 12-18-50](https://user-images.github

[2022-11-10 20:22] #3095 closed, assigned to FrankYang0529, irishgordo

[2022-11-10 21:16] KyleSponz opened #3140 "Cant power up cluster"
What is the procedure to power up a cluster after a hard down? We had a power outage and the genset failed so the cluster went offline.

It was stuck in this screen and the other nodes showed not ready
![IMG_1342](https://user-images.githubusercontent.com/2746903/201207628-595f4f96-e082-40e5-aaef-17f574ec6c0b.jpg)

[2022-11-10 21:31] vjz224 commented on #3113
I am getting the same on baremetal fresh install.
I can type in a hostname, but tabbing down to network config doesn't work (stays on hostname). Enter causes a crash. The message is too fast to read, but I assume it's the same as above.
HW = Beelink GTR5 GR9 (5900HX)
Nics chips are RTL8125BG / RTL81538

[2022-11-10 21:46] vjz224 commented on #3113
FYI, it is not happening with the v1.1.1-rc1 install. The install screens are different (hostname and network config are separate) so I'm guessing this is already known and in the pipeline.
I'll hold tight for the next stable release.

[2022-11-10 21:48] RegisWeduLabs commented on #3140
If you can ping the hosts - I would suggest you go on the hosts via ssh and chech for the logs...  Power outage are hard on etcd, and sometime it might fail to sync the etcds node - so I would 1st look there.

[2022-11-10 22:05] KyleSponz commented on #3127
I was unable to duplicate the issue, It evaporated when I ran the command and then made the untagged network

but I believe there is some sort of bug in there

[2022-11-10 22:07] KyleSponz commented on #3081
@ibrokethecloud the extra line in the config worked here is my yaml as promised

`scheme_version: 1

os:
  write_files:
  - content: |
     options ixgbe allow_unsupported_sfp=1
    path: /etc/modprobe.d/ixgbe.conf
  - content: |
      name: "reload ixgbe module"
      stages:
        boot:
          - commands:
            - rmmod ixgbe && modprobe ixgbe
            - ip link set eno1 up && ip li

[2022-11-10 22:23] #3127 closed, assigned to nobody

[2022-11-10 22:24] KyleSponz commented on #3127
closing

[2022-11-10 22:40] KyleSponz commented on #3140
I am going to simulate it virtually I had to run a config update so I had to reflash the cluster were not in prod yet anyway.

[2022-11-10 23:01] noahgildersleeve commented on #3069
Tested with upgrade from `v1.0.3` to `v.1.1.1-rc1` per instructions [here](https://github.com/harvester/harvester/pull/3099#issue-1434253056)
![Screenshot_20221110_145919](https://user-images.githubusercontent.com/83787952/201224059-663fafc5-df2f-408c-965a-dccbd46b36cc.png)

[2022-11-10 23:01] #3069 closed, assigned to starbops, noahgildersleeve

[2022-11-11 00:56] ibrokethecloud commented on #3140
like @RegisHubelia  mentioned, i would check etcd logs

[2022-11-11 02:43] ibrokethecloud commented on #3135
any chance we could have a support bundle or the logs of the virt-launcher pod?

this could be related to: https://github.com/harvester/pcidevices/issues/29, where if a device is part of a iommu group, then all devices need to be allocated to the VM.

[2022-11-11 08:07] n313893254 opened #3141 "[BUG] Edit VM access credentials user name not change"
**Describe the bug**

Edit VM access credentials user name not change

**To Reproduce**
Steps to reproduce the behavior:
1. Go to edit VM page
2. Click "Access Credentials" Tab
3. Add a basic auth
4. Click save and select restart
5. Edit the basic auth user name
6. Click save and select restart

**Expected behavior**

The basic auth should show the new user name

**Support bundle**

**Environment*

[2022-11-11 08:55] chrisho opened #3142 "[FEATURE] CCM support resync nodes topology after migrated/updated nodes"
**Is your feature request related to a problem? Please describe.**

Since ccm API limitation, ccm doesn't support resync nodes topology after migrated or updated nodes.

**Describe the solution you'd like**

resync nodes topology after migrated or updated nodes.

**Describe alternatives you've considered**

**Additional context**

[2022-11-11 10:21] TachunLin commented on #2984
Verified **not fixed** on `v1.1.1-rc1`. Move to implement stage.

### Result
After completely upgrade to v1.1.1-rc1, we check the monitoring dashboard for 60 minutes

* The monitoring chart display `Fail to load graph`
![image](https://user-images.githubusercontent.com/29251855/201316898-47650065-011a-4d59-8a61-798f120117ee.png)

* Dashboard display empty and keeps in `Loading`
![image](https://us

[2022-11-11 10:40] Vicente-Cheng commented on #3128
Hi @albertkohl-monotek,
Thanks for your quick update.
For the usage of Longhorn on Harvester, we **do not** create any partitions.
We use the whole disk (yes, do `mkfs.ext4 /dev/sdx`).

So I thought that `lsblk` output looks like correct without any partition.
From your information, the metadata of ext4 has some problems (as the above you mention).
After e2fsck, could you try to mount it to the te

[2022-11-11 10:57] Captured77 commented on #3135
Group follows：
IOMMU Group 143:
af:00.0 Processing accelerators [1200]: Device [1e3e:0001]

when I create a vm with memory < 4G, vm is running normally.

[2022-11-11 17:13] irishgordo commented on #3112
@masteryyh  - I'll go ahead and close this out as the installer doesn't crash per testing :smile: :+1: - I'll open up something else to track: https://github.com/harvester/harvester/issues/3112#issuecomment-1309568467

[2022-11-11 17:13] #3112 closed, assigned to irishgordo, masteryyh

[2022-11-12 00:35] irishgordo commented on #3070
@w13915984028  as I work to validate this - testing upgrade from v1.0.3 to v1.1.1-rc1, I've seen some issues with a setup of a 3 Node Cluster & single Node cluster, all done on qemu/kvm.

### Multi-Node Findings
(2 8c 16GBmem & 1 10c 20GB mem)
As it seems to be hung on downloading the image.

`kubectl get clusters.provisioning.cattle.io local -n fleet-local -o yaml` yields:
[code]

`kubectl get ma

[2022-11-13 23:10] JohnSeabourn opened #3143 "[Question] Cannot access Harvester MGMT URL (VIP) but still can access via the Node IP"
I tried to access the web interface and I kept getting a 502 error from NGINX.  I rebooted the server and everything showed that it was up and ready but the web interface now won't show anything.  I can still access via the MGMT IP and SSH into the server but the VIP will not connect.  I'm not sure what logs to look at but the console log shows this.

[code]

[2022-11-13 23:37] JohnSeabourn commented on #3143
So I was able to access the web interface but it was with my node IP.  I know I used to access it via the .230 address since I first set this up and was never able to access it via the .240 ever.  I didn't change anything and I'm honestly not sure what is going on with it.  Here is a screenshot for clarification.

<img width="796" alt="Screenshot 2022-11-13 at 6 35 13 PM" src="https://user-images.

[2022-11-13 23:43] RegisWeduLabs commented on #3143
Hey, on top of my head, there is a pod for the vip service.  If you look at the pod's log, do you see any errors or is it in a crashloop?

[2022-11-14 01:06] ibrokethecloud commented on #3143
Hi @JohnSeabourn any chance we could have the network trace from your browser when you try and access the vip, along with the logs from kube-vip pods in harvester-system namespace? Or even a support bundle if that is possible via the dashboard which you are able to access via the node address.

[2022-11-14 01:40] bk201 commented on #3070
@irishgordo
What's the free space for the mount point `/usr/local`?

[2022-11-14 02:23] futuretea commented on #2069
The installer crash part `panic: invalid dimensions` should be the same as https://github.com/harvester/harvester/issues/2937

[2022-11-14 02:30] bk201 opened #3144 "[FEATURE] Upgrade: retry image downloading"
**Is your feature request related to a problem? Please describe.**

We can improve the upgrade start experience if there is an upgrade image downloading failure.
We have seen issues like:
- https://github.com/harvester/harvester/issues/2104
- And user also reports failure:
[code]

**Describe the solution you'd like**

- We implement our retry logic in the upgrade controller.
- Longhorn support bac

[2022-11-14 02:35] futuretea commented on #587
@mjschmidt Hi, we have introduced [storageclass](https://docs.harvesterhci.io/v1.1/advanced/storageclass) in v1.1
You can specify storageclass when creating vms/volumes/images now.

[2022-11-14 02:41] futuretea commented on #2842
Fixed in Harvester v1.1.0 and terraform-provider-harvester v0.6.0

[2022-11-14 02:54] futuretea commented on #2727
@mikecarr Hi, can you provide the Harvester iso version and try another NIC to see if it is OK?

[2022-11-14 03:01] bk201 commented on #2821
@FrankYang0529 Please take a look. Thanks!

[2022-11-14 03:04] futuretea commented on #3135
@Captured77 Hi can you help to see if this is a workaround:

change the `memory` in  `overcommit-config` settings to 100

[2022-11-14 03:15] WuJun2016 opened #3145 "[BUG] Tag rc version, harvester plugin needs to build the corresponding package"
**Describe the bug**

When releasing the rc version, we should also provide the address of the harvester plugin for the rc

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'

**Expected behavior**

We used to build the plugin version according to the version number in [package.json](https://github.com/harvester/dashboard/blob/master/pkg/harvester/package.json), but now we change to

[2022-11-14 03:16] futuretea commented on #2636
@RicheyJang Maybe you can try this method: https://kubevirt.io/2019/Access-Virtual-Machines-graphic-console-using-noVNC.html

[2022-11-14 03:57] futuretea commented on #3054
@dmitrybabeshko For your case, you can change the accessModes `ReadWriteMany`  to `ReadWriteOnce` by `Edit Yaml` when creating vms/volumes

[2022-11-14 04:04] futuretea commented on #2857
@nerok you can try the latest terraform-provider-harvester v0.5.3 for Harvester v1.0.3 or  terraform-provider-harvester v0.6.0for Harvester v1.1.0

[2022-11-14 04:08] futuretea commented on #2858
@joelmacklow  refer to https://kubevirt.io/user-guide/virtual_machines/disks_and_volumes/#containerdisk-workflow-example

`Disks must be placed into the /disk directory inside the container. Raw and qcow2 formats are supported.`

[2022-11-14 04:15] futuretea commented on #2838
@Martin-Weiss Added Volume docs in v1.1 https://docs.harvesterhci.io/v1.1/volume/create-volume/
![image](https://user-images.githubusercontent.com/15064560/201573983-b4ddc5fc-e5c1-442d-88c8-7458081438cf.png)

[2022-11-14 05:19] Captured77 commented on #3135
I change the memory in overcommit-config settings to 100. But  the error exists.

[2022-11-14 06:44] futuretea commented on #3135
@Captured77 Also need to update the vm to make it take effect for existing vm, (for example, change vm's description, and save)

[2022-11-14 07:08] Captured77 commented on #3135
It works normally, but I want to know why? mem 150 doesn't  work. mem 100 work normally.

[2022-11-14 07:27] orange8882 opened #3146 "[BUG] Unable to pcie passthrough 2x 1080ti on 1 VM"
**Describe the bug**

Two gpus of the same type (such as 2x 1080ti) are on a node. When the PCIE passthrough is selected, the same Device ID  will be assigned to the two gpus.

When editing the virtual machine configuration and selecting the PCIE passthrough device, you can only select one gpu with the same name, not multiple gpus

**To Reproduce**
Steps to reproduce the behavior:
1. Advanced-->PC

[2022-11-14 08:15] Captured77 commented on #3135
I think mem 150，reserved mem is not integer. When I start vm, qemu's param doesn't  support decimal.

[2022-11-14 10:23] w13915984028 commented on #3039
We figured out a similar issue #3091 was caused by `http-proxy` configuration.

@lkoba  In your cluster, is `http-proxy` used?

[2022-11-14 10:43] w13915984028 commented on #3091
@rajesh1084 Could you please help recall how you configure the http-proxy which caused the issue?  thanks.

e.g.  Install the first node via ISO, configure http-proxy in the installation stage, configure http-proxy in the GUI.   All the steps/opreations related to the `http-proxy`.

[2022-11-14 10:58] rajesh1084 commented on #3091
Sure @w13915984028. Here's what I have done.
1. Install Harvester using the ISO on the first server.
2. During the installation, I had to provide the http_proxy because, my server is behind a proxy.
3. When the master node (and management URL) is ready, I logged into the management console and configured the `http-proxy` (UI > Advanced > Settings > http-proxy)
``{
  "httpProxy": "http-proxy addres

[2022-11-14 11:21] w13915984028 commented on #3091
@rajesh1084  thanks.

And for the issue itself, before we found it needs more config in `no-proxy`, what had you configured?  Were the steps same as you listed above, the only missing part is `no-proxy` ?

[2022-11-14 11:45] rajesh1084 commented on #3091
I had not configured `no-proxy` when I had faced the issue.

[2022-11-14 13:00] lanfon72 commented on #2248
Reproduced similar issue on `v1.0.3` upgrade to `v1.1.1-rc1`

[code]

[2022-11-14 13:54] ne0YT commented on #1154
How can I install Harvester from the .ISO on a host which only has 57GB of Storage? (Th e Installer says it's only possible with 60GB+)
I have a small edge-project where I would love to try this on hardware which I already own.

[2022-11-14 14:11] lkoba commented on #3039
no, we did not use http proxy in any of our tests.

[2022-11-14 15:34] w13915984028 commented on #3143
There are such PODs for the work of VIP, please check if they are in your cluster and there are errors in their log.

[code]

It's better to upload the support-bundle file:  https://docs.harvesterhci.io/v1.0/troubleshooting/harvester/#generate-a-support-bundle

[2022-11-14 15:37] Martin-Weiss commented on #2838
Thanks! Where can we see the replication / health status and is it supported to change the storage class on an existing volume (i.e. to move the volume from SSD to HDD or the other way)?

[2022-11-14 15:58] w13915984028 commented on #2984
In the grafana.log in the support-bundle, there are many such error:

In grafana-proxy.log, there are:

[2022-11-14 16:02] w13915984028 commented on #2984
Meanwhile, I can `create` the screnario of `Faild to load graph` via steps:
1. create a 2-node cluster
2. via `kubectl delete pods -n cattle-monitoring-system prometheus-rancher-monitoring-prometheus-0` to let this pod to be replaced to 2rd node
3. power off the 2rd node
4. now there `Failed to load graph` will come.

The difference is, the `grafana` pod has such error log:

![image](https://user-

[2022-11-14 16:05] w13915984028 commented on #2984
The difference between the error message of `grafana` POD:

In David's support bundle
` msg="Data proxy error" ...  error="http: proxy error: context canceled" `

In manual created scenario:
` msg="Data proxy error" ... error="http: proxy error: dial tcp 10.53.222.169:9090: connect: connection refused"`

Will continue to investigate.

[2022-11-14 17:32] albertkohl-monotek commented on #3128
oh, that makes sense. seeing all of the partitions on my other nodes made me think you did, but it looks like those are mounts for the vms.

 if i mount to a temp folder it does show data, how do i get harverster to mount the disk properly?

 rancher@harvester-01:/tmp/sdm> mkdir /tmp/sdm
rancher@harvester-01:/tmp/sdm> sudo mount /dev/sdm /tmp/sdm
rancher@harvester-01:/tmp/sdm> ls -l /tmp/sdm
total

[2022-11-14 18:29] JohnSeabourn commented on #3143
[supportbundle_99f83c80-719f-4bbb-83bd-8968ec3b0161_2022-11-14T18-27-23Z.zip](https://github.com/harvester/harvester/files/10006039/supportbundle_99f83c80-719f-4bbb-83bd-8968ec3b0161_2022-11-14T18-27-23Z.zip)
Here is the support bundle.

[2022-11-14 18:30] JohnSeabourn commented on #3143
Let me know if I'm using the correct command.  I'm not the most fluent in Kubernetes yet.

kube-vip status via:

kubectl describe pod kube-vip --namespace harvester-system

[code]

[2022-11-14 18:34] JohnSeabourn commented on #3143
The traceroute probably won't be much help but here it is anyways.

[code]

[2022-11-14 19:03] irishgordo commented on #3070
@bk201 - it looks like since I had to restart my workstation - running the single-node vm, that the `Images preloaded` message is gone and it shows `Success`:
![Screenshot from 2022-11-14 11-00-14](https://user-images.githubusercontent.com/5370752/201743600-7983d3b6-27f1-4918-aa19-0ab38cc17b82.png)
The space stats for `/dev/vda5` which was mounted on `/usr/local` is:
[code]

[2022-11-14 20:04] w13915984028 commented on #3039
@lkoba thanks for your update. Is the cluster re-installed or still left there?

@brandond It loosk different with #3091, any suggestions for further analysis ? thanks.

/var/lib/rancher/rke2/server/tls/service.key,
/var/lib/rancher/rke2/server/tls/etcd/server-ca.crt,
...,
/var/lib/rancher/rke2/server/cred/encryption-config.json
newer than datastore and could cause a cluster outage.
Remove the fil

[2022-11-14 20:18] brandond commented on #3039
Can you attach the same information requested in https://github.com/harvester/harvester/issues/3091#issuecomment-1302630734?

[2022-11-14 20:37] w13915984028 commented on #3143
@JohnSeabourn

From the support-bundle log, we found:

VID 10, 20 are created, and NIC `eno1` is used for `mgmt` and `vlan` network, `eno2` seems down.  Could you explain a bit more about the network design of your cluster?

[2022-11-14 20:40] w13915984028 commented on #3143
The pod `kube-vip-tjvdw` is full of such error log:
[code]

[code]

[2022-11-14 20:42] futuretea commented on #2838
Only in longhorn UI https://docs.harvesterhci.io/v1.1/troubleshooting/harvester#access-embedded-longhorn

image volumes -> no support
other volumes -> supported by:
1. take volume snapshot
2. using other storageclasses to restore the snapshot https://docs.harvesterhci.io/v1.1/volume/volume-snapshots#restore-a-new-volume-using-volume-snapshot

[2022-11-14 20:43] w13915984028 commented on #3143
@JohnSeabourn seems like your VIP is in DHCP mode, and the DHCP request is failed, maybe it is related to `vlan` corresponding config.

You may check the DHCP server, VIP, if VIP is in some VLAN.

You can aslo use `tcpdump` to check the `dhcp` packet, if it is sent to DHCP server.

cc @yaocw2020

[2022-11-14 20:53] w13915984028 commented on #1154
@ne0YT guess you are mentioning Harvester v0.3.

In v1.0.0, https://docs.harvesterhci.io/v1.0/install/requirements, it requires `140 GB minimum for testing, 500 GB or above preferred for production` .

[2022-11-14 21:05] w13915984028 commented on #3135
@Captured77
There is such an error in your post

could you try to edit the VM yaml:   change the `Model` from `host-model` to `host-passthrough`

[code]

A similar issue:
https://github.com/virt-manager/virt-manager/issues/234
[host doesn't support requested feature MSR(48DH).vmx-posted-intr [bit 7]](https://github.com/virt-manager/virt-manager/issues/234#top)

[2022-11-14 21:38] JohnSeabourn commented on #3143
eno1 should only be for my VLAN 10 (trusted) and VLAN 20 (untrusted).  I have a separate nic eno4 for the mgmt side of everything.  eno2 and 3 are not being used for anything at the moment.

[2022-11-14 21:43] JohnSeabourn commented on #3143
From what I see in that log, the VIP is binding to the eno4 interface (harvester-mgmt).  This seems normal to me as eno1 should only be used by the virtual machines for my VLANs.  I do not understand why it can't pull a DHCP address.  I also didn't change anything when it first went down, so maybe the lease went out and it couldn't talk to the DHCP again?

[2022-11-15 01:07] irishgordo commented on #3070
On the multi-node (3 node) cluster, re-running the upgrade, it is able to download the upgrade image successfully now, and the backing-image shows in longhorn.
Yet it seems to be failing, waiting to attach a PVC to the virt-launcher-upgrade-system-repo pod for upwards of 1hr.

Support Bundle:

[supportbundle_e8092824-dcf0-4863-bb43-b39be257e9cb_2022-11-15T00-53-33Z.zip](https://github.com/harveste

[2022-11-15 01:59] TachunLin opened #3147 "[BUG] Upgrade stuck at upgrading node stage, node1 display Waiting Reboot with Kubelet stopped posting status"
**Describe the bug**

Upgrade from v1.0.3 to v1.1.1-rc1 with Harvester node machine on IPv6 DHCP enabled network
* When node 1 enter upgrading node stage, it stuck at `Waiting Reboot` and can't proceed.
* Node 1 display `Kubelet stopped posting node status`
![image](https://user-images.githubusercontent.com/29251855/201803266-d328ae51-5ffc-47b0-9b79-8056e8484126.png)

* Check the pods status in K9

[2022-11-15 02:20] guangbochen commented on #3081
reopen for doc enhancement.

[2022-11-15 02:26] TachunLin commented on #2984
Continue checking the monitoring chart in 3 hours, encounter once the `failed to load graph` then after 2-3 minutes the chart can recover to display content.

![failed](https://user-images.githubusercontent.com/29251855/201810858-78390838-947a-4398-aa8a-d132969e9833.png)
![recovered](https://user-images.githubusercontent.com/29251855/201810862-ad8f4eb0-8d9f-4211-bfdb-3919d651da99.png)

And during

[2022-11-15 04:18] Vicente-Cheng commented on #3083
Hi @midhunthampi,
Did you remember when did you adjust the overcommit ratio of storage?
The default overcommit ratio is 200. That means the storage could schedule more than 100%.
(I would like to confirm that when the storage allocation is scheduled, is an overcommit ratio 200% or 100%?)

For the webhook setting of overcommit, I thought that is blocked when you want to any percentage below 100 on

[2022-11-15 05:32] bk201 commented on #3147
etcd fail to join cluster:
[code]

The IP change after rebooting, might be DHCP lease issue:
[code]

[2022-11-15 06:39] guangbochen opened #3149 "[Enhancement] Bump Harvester components base image to SLE BCI 15.4"
**Is your feature request related to a problem? Please describe.**
Bump Harvester components base image to SLE BCI 15.4 for better maintenance and security update.

**Describe the solution you'd like**
Harvester image list that we might want to update:
@masteryyh
- [x] https://github.com/harvester/harvester
  - [x] rancher/harvester
  - [x] rancher/harvester-upgrade
  - [x] rancher/harvester-webho

[2022-11-15 07:12] Martin-Weiss commented on #2838
@futuretea  - thanks for the feedback! Could you add this info also to the Volumes docs section? Thanks!!

[2022-11-15 07:41] futuretea commented on #2838
OK

[2022-11-15 08:11] futuretea commented on #2973
@abonillabeeche Did you meet this issue again in v1.1.0?

[2022-11-15 08:14] yaocw2020 commented on #3139
The support bundles look like for the v1.0.3. @noahgildersleeve

[2022-11-15 09:03] Vicente-Cheng commented on #3128
hi @albertkohl-monotek,

The `node-disk-manager` would handle the mount operation.
In your case, looks like the `/dev/sdm` is OK after e2fsck.
So just trigger node-disk-manager to remount it. (you could delete this pod and it should respwan)

For example,
[code]
In your single node case, it would be only one harvester-node-disk-manager pod.
And try to kill it. And it should respawn like following

[2022-11-15 09:22] futuretea commented on #2998
workaround:
1. Create a K3s cluster
2. Do not install `Klipper Service LB`
1. Click `Save`
1. Waiting for the cluster become `Active`
1. Click the `Edit Yaml` button
1. Set `disable-cloud-controller: true` to disable default k3s cloud provider.
1. Add `cloud-provider=external` to use harvester cloud provider.
1. Click the `Save` button
1. Download the [Generate addon configuration](https://github.

[2022-11-15 09:39] w13915984028 commented on #3143
@JohnSeabourn please try to :
`tcpdump -i harvester-mgmt port 67 or port 68 -e -n -vv`  in your harvester-node,
and also in your DHCP server (change the harvester-mgmt to related nic)

delete the kube-vip POD to let it be re-created, the DHCP process will be triggered quickly
`kubectl delete pod -n harvester-system kube-vip-tjvdw`

we will know where is the DHCP packet dropped/mis-matched.

[2022-11-15 10:10] w13915984028 commented on #3070
@irishgordo for your 3-node upgrade test:

harvester-log:
[code]

longhorn-log:
[code]

[2022-11-15 10:15] w13915984028 commented on #3070
@irishgordo @bk201

It seems the downloading and disk writing are very slow, LH has direct failure for replica in `v103-node-b`, saying `level=error msg="ControllerPublishVolume: err: rpc error: code = DeadlineExceeded desc = volume pvc-c5957e47-b416-41ce-813f-227548bd4bdf failed to attach to node v103-node-b"`

It seems LH downloads 3 times of ISO image to write to 3 nodes for 3 replicas, is this

[2022-11-15 10:29] w13915984028 commented on #3070
The `backing-image-manager s` have many errors, need the help from LH expert to analyze. @innobead  thanks.

(taken from the support-bundle file https://github.com/harvester/harvester/issues/3070#issuecomment-1314617948)
[backing-image-manager.log](https://github.com/harvester/harvester/files/10011657/backing-image-manager.log)
[backing-image-manager.log](https://github.com/harvester/harvester/fil

[2022-11-15 10:58] w13915984028 commented on #2984
connect with a previous issue : #2150 ` [[BUG] The Prometheus monitoring chart become empty after staying on dashboard page for a period of time]`

[2022-11-15 12:50] w13915984028 opened #3150 "[FEATURE] bump fleet-agent to v0.5.0"
**Is your feature request related to a problem? Please describe.**

https://github.com/rancher/fleet/releases/tag/v0.5.0

It solves https://github.com/rancher/fleet/issues/760 and https://github.com/harvester/harvester/issues/1893

**Describe the solution you'd like**

the current fleet-agent version is v0.4.0, bump the version to v0.5.0

**Describe alternatives you've considered**

**Additional c

[2022-11-15 12:52] w13915984028 commented on #3150
How to validate:
1. create a 2-node cluster
2. power off the 2rd node, you will hit `fleet-agent is extremely busy`
![image](https://user-images.githubusercontent.com/31133476/201924057-eb5a0b59-d0af-45dd-93f4-def6faa1d1e5.png)

3. edit fleet-agent pod, set image version as v0.5.0, the issue is gone
![image](https://user-images.githubusercontent.com/31133476/201924193-7c6f5b0c-ee7a-4904-b78d-0b3eb

[2022-11-15 13:40] w13915984028 commented on #2245
The root cause is same as #1893 , will be solved after bump fleet-agent to v0.5.0 (https://github.com/harvester/harvester/issues/3150)

close

[2022-11-15 13:40] #2245 closed, assigned to w13915984028

[2022-11-15 13:47] lanfon72 opened #3151 "[BUG] new API `NetworkAttachmentDefinition` is inconsistent to `v1.0.3`"
### The problem
When request create network with payload as below, in `v1.0.3`, server will return `422` and `Invalid`, but after `v1.1.0`, it will be silently changed to create **UntaggedNetwork**.
[code]

### The solution
In the UI, we will NOT input `vlan` field for **UntaggedNetwork**, so we should still keep the `vlan` id check (for _L2VlanNetwork_) to compatible with old version.

### Additi

[2022-11-15 14:00] TachunLin commented on #3147
As a workaround.

After setting the fixed IP mapping in customized virtual network
`<host mac="52:54:00:de:04:4c" name="nic1" ip="192.168.101.184"/>`

Then restart network by running `virsh net-destroy workload` and `virsh net-destroy workload`

And restart all node VM by running `virsh destroy <node-name>` and `virsh start <node-name>`

We can continue to finish the upgrade process to `v1.1.1-rc1

[2022-11-15 14:05] w13915984028 commented on #3147
@TachunLin

A question: the NODE ip and VIP need to be stable in the life cycle of a cluster, were those NODEs(virt-manager VMs)  not using fixed IP in the past ?

[2022-11-15 14:24] TachunLin commented on #3147
This issue was found while setting the nodes on customized IPv6 enabled network for the regression testing.
Where I use ISO install with DHCP node IP and VIP.
Typically the IP did not changing during the upgrade.
This time looks like a special case, not sure whether it somehow been affected by IPv6.

[2022-11-15 14:27] futuretea commented on #3022
@fanwei848859585  Hi, what is the upload method used for this  image, URL or Local File?

for `Local File`,  do not refresh the page until the file upload is finished.
for `URL`, we will add an retry enhancement for more stability.  PR: https://github.com/harvester/harvester/pull/3148/files

You can also provide more information by uploading a  support bundle.

[2022-11-15 14:42] bk201 opened #3152 "[BUG] Upgrade: finished upgrades interfere with newer ones"
**Describe the bug**
This is spotted when debugging https://github.com/harvester/harvester/issues/2248#issuecomment-1313656552. A previous successful or failed upgrade can interfere with new upgrades.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a failed upgrade. An easy way is to create an upgrade CR with a non-existent version.
[code]
2. Create another valid upgrade. The upgrade

[2022-11-15 14:43] bk201 commented on #2248
Can't assure it's the same reason, create a new one to track: https://github.com/harvester/harvester/issues/3152

[2022-11-15 15:03] abonillabeeche opened #3153 "[BUG] no items are visible in the UI but still exist"
**Describe the bug**
images, volumes, cloud-config, keys, etc are not visible in the Dashboard but still exist or are visible when creating a VM.
<img width="1234" alt="Screenshot 2022-11-15 at 10 00 20 AM" src="https://user-images.githubusercontent.com/5146963/201952804-bbe29282-be21-415b-a55a-b62eefde14e9.png">

**To Reproduce**
Steps to reproduce the behavior:
- Upgrade from 1.0.3 to 1.1.1-rc1

[2022-11-15 15:06] Martin-Weiss commented on #3153
I believe I have seen the same and a refresh in the browser helped...

[2022-11-15 15:17] abonillabeeche commented on #3153
I have tried 3 browsers on 2 different computers.

[2022-11-15 15:19] Martin-Weiss commented on #3153
Maybe not enough :-) :-).. Any proxy settings somewhere? Cache cleared?

[2022-11-15 15:24] futuretea commented on #2910
Refer to https://kubevirt.io/2022/KubeVirt-installing_Microsoft_Windows_11_from_an_iso.html
We need an option to add emulated  TPM to VM in both UI and terraform-provider-harvester

[2022-11-15 17:12] patjsimpson commented on #3026
Is there a link to a workaround on this. I am hitting this consistently. I am building harvester out in a vm on truenas scale and all goes well. harvester boots up everything looks good in harvester but storage is saying offline in the longhorn dashboard.  Happy to provide any more data.

[2022-11-15 18:15] tlehman commented on #2973
If it only says `iommu` then it means the sed expression in `update_grub_settings` wasn't called.

It's just called unconditionally [here](https://github.com/tlehman/harvester-installer/blob/master/package/harvester-os/files/usr/sbin/harv-install#L403), there might have been an error earlier in the harv-install script that prevented `update_grub_settings` from being called.

To avoid this, I can j

[2022-11-15 19:39] midhunthampi commented on #3083
@Vicente-Cheng

Did you remember when did you adjust the overcommit ratio of storage? We have adjusted the Storage overcommit ratio after the cluster setup itself

The default overcommit ratio is 200. That means the storage could schedule more than 100%. - When we setup the cluster, it was 200%. which means if we have 3TB disk, it allowed till around 6TB or more - In these case, Once disk get full

[2022-11-15 20:47] mikemendis opened #3154 "[Question] configuring a VLAN at the management interface in the ISO installer UI"
I am trying to use the new VLAN install feature, I enter my VLAN ID but I always get a error requesting a IP through DHCP.   If I do the same with Esxi and specify my VLAN ID, i get a IP.   Is there a way I can debug this further
<img width="1094" alt="Screen Shot 2022-11-15 at 3 45 36 PM" src="https://user-images.githubusercontent.com/13985055/202021963-62440f5f-3af6-47ce-9afd-58e9b9c01b3a.png">

[2022-11-16 00:46] noahgildersleeve commented on #3090
Verified as fixed in https://docs.harvesterhci.io/v1.1/advanced/settings.

[2022-11-16 00:46] #3090 closed, assigned to FrankYang0529, noahgildersleeve

[2022-11-16 00:51] irishgordo commented on #1618
@tjjh89017 should we be able to provision a 3 node RKE2 cluster with an untagged network?
(was using Rancher v2.6.9)
Of:
[code]

I'm noticing from the provisioning log:
[code]
1 node seems to provision but the other 2 seem to be hung.
So I'm not able to fullly provision the entire cluster.
The underlying Harvester VM is 40GB Mem & 20CPU

I did notice however that the VMs seem to look good :smile:

[2022-11-16 00:53] yaocw2020 commented on #3151
A null value is equivalent to 0 for the vlan field. We don't need to specify the label `'network.harvesterhci.io/type': 'L2VlanNetwork'` because the webhook mutator will distinguish and tag them automatically.

[2022-11-16 01:02] ibrokethecloud opened #3155 "[BUG] VirtualMachineImport fails during large image upload"
**Describe the bug**

Large VM import using vm-import-controller fails due to a panic in the longhorn-manager.

This is an issue to track associated longhorn issue: https://github.com/longhorn/longhorn/issues/4865

**To Reproduce**
Steps to reproduce the behavior:
1. Run a VirtualMachineImport using a large VM, say 50G
2. The VirtualMachineImage upload never completes and vm-import-controller keep

[2022-11-16 01:02] DaiYuzeng opened #3156 "[BUG]There is no error info in insufficient storage volume"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to create a volume
2. Go to edit page
3. Resize volume to 999999999 Gib
4. You couldn't find out the annotation `longhorn.io/volume-scheduling-error` in related PV

**Expected behavior**

1. There is the annotation `longhorn.io/volume-scheduling-error` in related PV/PVC

**Support bundle**

**Environment**
 - Harvester I

[2022-11-16 01:13] irishgordo opened #3158 "[BUG] During Harvester Upgrade From v1.0.3 to v1.1.1-rc1 (Longhorn) backing-image-manager encounters many errors"
**Describe the bug**
During Upgrade it seems that in Longhorn there is:
- issues with disk writing, it being very slow, leading to pvc's failing to attach
- hanging on image downloading of the backing image on multi-node cluster
- backing-image-manager encountering a lot of errors

There has been some discussion on this here:
https://github.com/harvester/harvester/issues/3070

**To Reproduce**
SSD

[2022-11-16 01:15] irishgordo commented on #3070
@w13915984028 that sounds good :smile: :+1:
I did validate on a 3 node upgrade from v1.0.3 -> v1.1.1-rc1 that the multi-node does not get stuck in post-drain on first node and finishes upgrade.
![Screenshot from 2022-11-15 16-54-30](https://user-images.githubusercontent.com/5370752/202057192-dcc248ea-32cc-49e6-a7d7-05901f730e76.png)

I can go ahead and close this out, since I've opened this:
https

[2022-11-16 01:15] #3070 closed, assigned to Vicente-Cheng, irishgordo

[2022-11-16 01:19] futuretea commented on #3154
@mikemendis Hi, can you help to collect troubleshooting information and what is the version of harvester iso?
Refer to https://docs.harvesterhci.io/v1.1/troubleshooting/installation#collecting-troubleshooting-information

[2022-11-16 01:42] futuretea commented on #3146
related docs:
https://kubevirt.io/user-guide/virtual_machines/host-devices/#nvme-pci-passthrough
[code]

[2022-11-16 02:00] irishgordo commented on #3158
I've updated this to "reproduce/rare" since I feel the loadout of having an SSD backed QEMU/KVM setup is more rare than having a QEMU/KVM setup with an NVMe (PCIe 3rd / 4th Gen) setup

[2022-11-16 02:08] tjjh89017 commented on #1618
@irishgordo I think this issue should be related to @yaocw2020 's PR
Please check with Canwu
Thanks a lot

[2022-11-16 05:43] lkoba commented on #3039
I just tested reinstalling the cluster with the lastest master image https://releases.rancher.com/harvester/master/harvester-master-amd64.iso and it's working! Adding the 3rd node triggers the promotions but now it completes perfectly.

[2022-11-16 06:06] guangbochen opened #3159 "[Enhancement] Update OS packages for Harvester component images"
**Describe the bug**
We need to update OS packages for Harvester component images as they are either outdated or need a patch update.

**Expected behavior**
Update OS packages for Harvester component images
- [x] https://github.com/harvester/harvester/pull/3186
- [x] https://github.com/harvester/node-manager - v0.1.3
- [x] https://github.com/harvester/network-controller-harvester - v0.3.1
- [x] ht

[2022-11-16 06:08] guangbochen commented on #3151
@lanfon72 can u please help to check if removing the network label will address the above issue on the e2e API testing? thanks.

[2022-11-16 06:16] albertkohl-monotek commented on #3128
@Vicente-Cheng just ran through the steps mentioned, no luck. i was able to find the pod mentioned running on that node, i deleted it, it spun back up right away, but if i go into the server and refresh the disks, it's still showing 0/0 GiBs, and Unprovisioned.

here's a screenshot of the disk list in the harvesterui
![image](https://user-images.githubusercontent.com/60982735/202099106-fe62f487-8f

[2022-11-16 06:42] lanfon72 commented on #3151
@guangbochen yes it will still be changed to `UntaggedNetwork`.
![image](https://user-images.githubusercontent.com/5169694/202103854-f522c3ce-921b-48ff-8a1c-d1ac52115331.png)

there was a typo to use network**s** in labels, so I don't think it is cause by labels.[^1]

[^1]: https://github.com/harvester/tests/blob/d4dbacbdb15b780c3c7e7d46e8e43c8bc75f4943/harvester_e2e_tests/templates/basic_network.

[2022-11-16 07:24] guangbochen commented on #3151
seems the webhook will automatically convert VLAN 0 to untaggedVLAN, per the 802.1q specification, the all-zero and all-one tag (i.e. VLAN 0 and VLAN 4095) are not used, so we may need to check the VLAN id range as well in the https://github.com/harvester/network-controller-harvester/blob/master/pkg/webhook/nad/mutator.go#L50-L55, cc @yaocw2020

[2022-11-16 08:31] yaocw2020 commented on #3151
The webhook judges the value 0 to confirm whether the vlan field is empty. What the webhook cares about is the empty value, not the number 0.  Assume that vlan field is a string type and then the empty value will be blank, the webhook would not allow the number 0. I hope I explain it clearly.
It would be better to limit the number 0 for the VLAN type NAD.

[2022-11-16 09:28] guangbochen commented on #2723
Depends on https://github.com/longhorn/longhorn/issues/4092 for a faster replica rebuild after node maintenance.

[2022-11-16 09:43] w13915984028 commented on #3150
`fleet-agent` is integrated in `Rancher`, we need to wait for the new release of `Rancher` which includes it, then bump `Rancher`.

[2022-11-16 10:53] n-guitar opened #3160 "[Question] Run "zypper install" to result in "filesystem is mounted as read-only"."
# Situation
I would like to set up a NIC (wifi) and would like to install the "ConnMan" Tool with "zypper command" on Harvester Node.
However, when I run "zypper install", I get the following message and cannot install it.
[code]

## What I want to do
I want to set up wifi to Harvester Node.
I am thinking of creating a NW for VLANs in addition to the Manegiment NW.
(Edit "fstab" and reboot, but th

[2022-11-16 11:10] w13915984028 commented on #3158
What is observed from the support-bundle: https://github.com/harvester/harvester/issues/3070#issuecomment-1315084386

It took a long time to download the ISO and wrote to 3 replicas of LH volume.

Longhorn `backing-image-manager` logged many errors, need to further analyze.

[2022-11-16 13:23] TachunLin commented on #2977
Verified **not fixed** on Rancher `v2.7-head` (d1813a2) with Harvester `v1.1.1-rc1`. Move to implement page.

### Result
* The `storage network` seems not been filtered in RKE1 template page
![image](https://user-images.githubusercontent.com/29251855/202191580-2be38b67-f107-4dfb-a6d3-962dab0d1231.png)

* The network created by `storage-network` can be filtered in the RKE2 cluster provisioning page

[2022-11-16 13:40] zp4rand0miz31 opened #3161 "[Question] Deleting a vm object does not delete longhorn replica"
Hi,

Context: using harvester 1.0.3 in production, on a 5 server (Dell baremetal) install.

Problem: when deleting VM via "kubectl delete vm -n namespace vmname", we observe that longhorn replicas are not deleted.
We also observe this behavior when we delete the namespaces, and, as a consequence, the virtual machines of this one. Replicas are in the "stopped" state, and do allocate resources, that

[2022-11-16 13:58] w13915984028 commented on #3161
Pleaes take a look of the Harvester WEBUI, from there, when you delete an VM, it will ask you weather delete the `volume` as well, `yes` by default.

When you do it via `kubectl delete vm -n namespace vmname`, you need to do this manually, e.g. `kubectl delete volume ...`

![image](https://user-images.githubusercontent.com/31133476/202199647-8bf34d02-aad0-4dab-beb6-9659fa65f7f3.png)

[2022-11-16 14:08] zp4rand0miz31 commented on #3161
Hi, thanks. We'll update our scripts logic.
We can close.

[2022-11-16 15:20] janeczku opened #3162 "[BUG] Harvester Cloud Provider pod fails to start / CSI storage not functional"
**Describe the bug**
After updating the node pool of an existing RKE2 cluster running on Harvester, the harvester-cloud-provider pod failed to start. This then caused Longhorn storage volumes to fail to attach.

Similar to this issue: https://github.com/harvester/harvester/issues/2042

Events:
[code]

Example LH volume not able to attach due to harvester-cloud-provider not running:

[code]

**Supp

[2022-11-16 15:49] RegisWeduLabs commented on #3162
I literally just had this issue.  What I've done is to edit the harvester-cloud-provider deployment in the cluster - Pod tab - Storage and changed the path to /var/lib/rancher/rke2/etc/config-files/cloud-provider-config (was /etc/kubernetes/cloud-config.

Yaml:
      volumes:
        - hostPath:
            path: /var/lib/rancher/rke2/etc/config-files/cloud-provider-config
            type: File

[2022-11-16 16:06] janeczku commented on #3162
I can confirm that the hostPath in the harvester-cloud-provider config was set to `/etc/kubernetes/cloud-config`. And manually changing to `/var/lib/rancher/rke2/etc/config-files/cloud-provider-config` fixed the issue.

Thanks @RegisHubelia

[2022-11-16 16:08] janeczku commented on #3162
Seems to be a regression as the issue with an incorrect cloud-config path was fixed here before: https://github.com/harvester/harvester/issues/2546

[2022-11-16 16:47] RegisWeduLabs commented on #3162
@janeczku, not sure it is a regression - I'm on 1.0.3...

[2022-11-16 18:45] Vicente-Cheng commented on #3128
Hi @albertkohl-monotek,
Could you get the log from `harvester-node-disk-manager` pod and attached it here?

Looks like the mount operation still fails.
Thanks!

[2022-11-16 18:53] Vicente-Cheng commented on #3083
Hi @midhunthampi
OK, we could see how it works when you set up the overcommit ratio to 80%. Just update what you see. That would be helpful!

IIRC, longhorn would reserve some space to make sure they could work well. So I thought that even if you set the overcommit
to 200% the disk should be not filled full. Or do you meet this problem (disk full with overcommit) in real cases?

Thanks!

[2022-11-16 19:35] albertkohl-monotek commented on #3128
not much...

`time="2022-11-16T06:03:08Z" level=info msg="Node Disk Manager v0.4.5 (120f93d) is starting"
time="2022-11-16T06:03:08Z" level=info msg="Starting node disk manager controller"
time="2022-11-16T06:03:08Z" level=info msg="register exclude filters"
time="2022-11-16T06:03:08Z" level=info msg="register auto provision filters"
time="2022-11-16T06:03:09Z" level=info msg="Starting harvesterhc

[2022-11-16 20:03] mikemendis commented on #3154
I am using v1.1.0.   I was able to get around by specifying a static ip address and going to the next screen, I than logged on to node and manually setup the networking in the ifcfg-enXXX files.  I restarted the network and got a IP from dhcp.   I switched back to the UI and continued normally.

[2022-11-16 21:17] irishgordo commented on #1618
@yaocw2020  - is this what you're seeing with the PR you have open?
Do you happen to have the link?
If it's already being worked on to allow for RKE2 to use untagged networks, I could close this one out.

[2022-11-17 01:21] guangbochen commented on #2765
Will add those two dashboard page links on the support page, and more importantly,  it will only be used for debugging and troubling shooting purposes.
Note: the URL link for single cluster and multiple-cluster dashboards would be different cc @WuJun2016

[2022-11-17 02:18] tjjh89017 commented on #3154
@mikemendis Could you provide your switch config to us to debug?
If you modify the `ifcfg-enXXX` file and it worked, I think you use native vlan inyour switch side.
Probably, you don't need to specific vlan for installation

[2022-11-17 02:49] futuretea commented on #3160
Refer to: https://docs.harvesterhci.io/v1.1/troubleshooting/os#how-can-i-install-packages-why-are-some-paths-read-only

[2022-11-17 02:49] WuJun2016 opened #3163 "[BUG] Filter the network created by storage-network in the node drive (RKE1)"
**Describe the bug**

storage-network will automatically create a network, and we should filter it.

![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/319c7ae0-8e91-4103-8b2c-4f94acd33a81)
**To Reproduce**
Steps to reproduce the behavior:
1. go to setting page, enable storage-network
2. Importing harveste into rancher
3. create harvester node driver  (RKE1)

**Expected beh

[2022-11-17 02:55] WuJun2016 commented on #2977
@TachunLin , because rancher 2.7.0 has been released, the RKE1 issue will be fixed in the next release.  I created a new issue to track the filtering problem of RKE1. https://github.com/harvester/harvester/issues/3163,

[2022-11-17 02:56] futuretea commented on #3161
If it is not deleted through UI, you need to manually delete it through `kubectl -n <namespace> delete pvc <pvcname>`

[2022-11-17 02:59] TachunLin commented on #2977
Close this issue. We could track the RKE1 behavior on #3163

[2022-11-17 03:00] #2977 closed, assigned to DaiYuzeng, TachunLin

[2022-11-17 04:02] n-guitar commented on #3160
I see that it was already documented !
Thank you!

[2022-11-17 04:02] #3160 closed, assigned to nobody

[2022-11-17 05:34] bk201 commented on #2984
@TachunLin We fixed issues that the pods are staying in terminating. Should we track the Grafana loading issue with another new one or use #2150?

[2022-11-17 06:24] TachunLin commented on #2984
I suggest we can track the Grafana loading issue in #2150 and close the this one.
Since the they have similar behavior of dashboard somehow become empty but can recover after a short period.

[2022-11-17 06:48] #2984 closed, assigned to bk201, TachunLin

[2022-11-17 06:51] yaocw2020 commented on #1618
Yes, it's allowed for RKE2.

[2022-11-17 06:53] Martin-Weiss commented on #3083
@Vicente-Cheng  - not sure how you calculate the „200% should not fill up the disk“.. Longhorn reserves 30% per node.. so with 200% the disks will fill up..

3 nodes with 100 GB Longhorn disk = 3 * 70 GB available. So with 100% we could create 7 * 10 GB Volumes with Replica=3.
Creating with 200% means 140 GB * 3.. as long as there is no content in the volumes (thin provisioned) - all is fine but o

[2022-11-17 07:05] FrankYang0529 commented on #2821
I tried to run a harvester v1.0.3 cluster for two days. However, there is no any folder under `/usr/local/.state/var-lib-rancher.bind/agent/tmp`. I only found a script [`run.sh`](https://github.com/rancher/system-agent/blob/00181cd06b60990ab12347c7826de951d54ab7d9/package/suc/run.sh#L5-L9) creates temporary folders, so I created https://github.com/rancher/system-agent/pull/100 to clean up temporar

[2022-11-17 07:18] bk201 commented on #3019
Related: https://github.com/harvester/harvester/issues/2317

[2022-11-17 07:20] futuretea commented on #3153
@abonillabeeche ~Is this Rancher's multi-cluster `Virtualization Management` page  or the single cluster Harvester page?~
Are any errors in the console of web browser?

[2022-11-17 07:25] TachunLin opened #3164 "[BUG] Upgrade from v1.0.3 to v1.1.1-rc1, Harvester cluster stuck in pre-draining the second node"
**Describe the bug**

Build a `v1.0.3` Harvester cluster with fixed IPv4 and dynamic IPv6 IP and upgrade to `v1.1.1-rc1`

* The upgrade process stuck in `pre-draining` the second node
![image](https://user-images.githubusercontent.com/29251855/202378737-32a85a1d-3054-462a-b21b-ad401d2696b4.png)

* Some pods in `pending` status
![image](https://user-images.githubusercontent.com/29251855/202382282-2

[2022-11-17 07:43] guangbochen commented on #2200
Let's track this issue along with https://github.com/harvester/harvester/issues/3042 since we need to add the API docs back to the new framework.

[2022-11-17 07:43] #2200 closed, assigned to DaiYuzeng

[2022-11-17 07:55] zp4rand0miz31 commented on #3161
We use ephemeral storage, I would expect to have no leftover after a VM is destroyed, to be honest.

[2022-11-17 08:23] orange8882 commented on #3146
Now, I can add 2 1080ti in a VM by editing the VM's yaml.

![20221117161717](https://user-images.githubusercontent.com/88642721/202393474-d1073559-fd22-44b8-8f8e-250e91c2fa0e.png)

But it seems that we can't add a second GPU through this Harvester UI .
We can't select the second GPU in this page ' PCI Device'.

![220](https://user-images.githubusercontent.com/88642721/202394194-b5c0fd9c-bec8-4f25-

[2022-11-17 08:28] futuretea commented on #3146
Can you see 2 1080Ti inside the VM (not yaml)?

[2022-11-17 09:06] orange8882 commented on #3146
yes ,it' works
![gpu](https://user-images.githubusercontent.com/88642721/202403318-0aba3c47-0899-422d-8676-9d15c3552938.png)

[2022-11-17 10:13] w13915984028 commented on #3158
cc @Vicente-Cheng
The behaviour/issue of `backing-image-manager` in the process of `upgrade`, needs a further investigate.

[2022-11-17 10:51] lanfon72 opened #3165 "[BUG] Cluster field is not really *required* when creating RKE2/K3s Harvester"
### Describe the bug
When Creating Harvseter RKE2/K3s cluster in Rancher's Cluster Management, the field **Cluster** is marked as `Required` but it could still be empty.

https://user-images.githubusercontent.com/5169694/202425725-2beced69-5505-4cae-8cd3-2b8f918d5978.mp4

### To Reproduce
Steps to reproduce the behavior:
1. Install Harvester with any nodes
2. Install Rancher `v2.6.9`
3. Import Har

[2022-11-17 11:17] yaocw2020 opened #3166 "[BUG] The NICs should remain up after deleting the VLAN config"
**Describe the bug**

After deleting the VLAN config, the NICs of the uplink will be down. If users want to use those NICs as the uplink again, they have to set them up manually, which is very user-unfriendly.

**To Reproduce**
Steps to reproduce the behavior:
1.  Create a new clusternetwork and add a config
2. Delete the config

**Expected behavior**

The NICs should keep up after deleting the VL

[2022-11-17 11:33] janeczku commented on #3162
Regression, based on the notion that there was a fix for this issue shipped in 1.0.3. #2546
What RKE2 version was your cluster on when you encountered the issue @RegisHubelia ?

[2022-11-17 11:45] lanfon72 opened #3167 "[BUG] upgrade stuck in *Images preloaded* caused by connection reset by peer"
### Describe the bug
When upgrading Cluster `v1.0.3` to `v1.1.1-rc1`, status showing `Image preloaded` for a long time, check the upgrade infos in the consoel, it shows: `read: connection reset by peer`

![snapshot](https://user-images.githubusercontent.com/5169694/202432511-8301a1ff-190f-4fee-9dfc-925475bf90be.png)

### To Reproduce
Steps to reproduce the behavior:
1. Install Harvester `v1.0.3` w

[2022-11-17 11:45] TachunLin commented on #3088
Verified **fixed** on `master-25799b96-head` (11/17). Close this issue.

### Result
VLAN related page have been renamed to `VM Networks`
![image](https://user-images.githubusercontent.com/29251855/202437187-7f4f58b7-17ad-46e1-a81f-2c67ee45ead6.png)

![image](https://user-images.githubusercontent.com/29251855/202437243-5f477611-d7a2-47f2-9235-ff683f9f1481.png)

### Test Information
* Test Environme

[2022-11-17 11:45] #3088 closed, assigned to WuJun2016, TachunLin

[2022-11-17 13:58] tjjh89017 opened #3168 "[BUG] Incomplete dependency chart installation after upgrading 1.0.3 to 1.1.0 and master-head."
**Describe the bug**

After upgrading Harvester from v1.0.3 to v1.1.0 or master-head, whereabouts CRD wasn't installed correctly.
Storage-network will not work properly without whereabouts CRD.
If user configure storage-network, Longhorn will not able to start instance-manager according incorrect whereabouts' crd.

**To Reproduce**
Steps to reproduce the behavior:
1. Install harvester v1.0.3 and u

[2022-11-17 14:11] lanfon72 commented on #3167
Also happened when Downloading upgrade Image:

![image](https://user-images.githubusercontent.com/5169694/202468489-c70f73b7-7bcf-4361-9818-6a43cee228b1.png)

[2022-11-17 14:24] nerok commented on #2857
Hi, we are using 0.5.3 already on v1.0.3. Can't test v0.6.0 as we are waiting for v1.1.1 before upgrading, and we don't have any test clusters yet.

[2022-11-17 14:29] futuretea commented on #2857
Thanks, I'll try to reproduce and fix this issue

[2022-11-17 14:39] tjjh89017 commented on #3168
add docs https://github.com/harvester/docs/pull/248

[2022-11-17 14:46] futuretea commented on #2857
@nerok workaround: If you can, leave the `route_dhcp_server_ip` to empty.

[2022-11-17 15:02] nerok commented on #2857
Thanks, I can't seem to get that to work:
[code]
I have tested both route_cidrand route_dhcp_server_ip as bot empty string and null, I also tried removing route_cidr, but it always returns:
[code]

[2022-11-17 15:07] futuretea commented on #2857
The route_dhcp_server_ip needs to be left empty before the first apply

[2022-11-17 15:29] starbops commented on #3164
Here are some findings from the crime scene:

1. `n1-103` is upgraded, `n2-103` is stuck in the pre-draining, and `n3-103` is still in the image-preloaded state

[code]

[code]

2. `n2-103` is cordoned by rancher

[code]

3. The pre-drain pod is waiting for all the longhorn volumes to become healthy

[code]

4. All the attached longhorn volumes are in a degraded state

[code]

5. All the attached

[2022-11-17 17:40] Vicente-Cheng commented on #3083
Hi @Martin-Weiss,
Yap, you are right. I got some misunderstanding.
Thanks for your example, that is true. Disks would fill up in a scenario as you mention above.
And I also do some tests in my own environment, which can fill up the disk.

@midhunthampi, as Martin says.
The 200% overcommit would have chances to fill up your disks. You may just set the lower overcommit ratio to reduce this situation

[2022-11-17 17:44] Vicente-Cheng commented on #3128
Hi @albertkohl-monotek,
could you try to set up the NDM debug flag by the following command and re-run it to collect log again?
[code]
Thanks!

[2022-11-17 17:59] albertkohl-monotek commented on #3128
log attached. Thanks!
[log.txt](https://github.com/harvester/harvester/files/10034334/log.txt)

[2022-11-17 18:01] noahgildersleeve opened #3170 "[BUG] v1.0.3 to v1.1.1 Upgrade won't finish in single node upgrade"
**Describe the bug**

When upgrading 1 node Harvester
**To Reproduce**
Steps to reproduce the behavior:
1. Create single node Harvester install
2. Add opensuse image
3. Add external VLAN with ID 1 on management interface
4. Setup 3 VMs with opensuse and SSH
5. Setup backup target with NFS and longhorn with [nfs-backupstore.yaml](https://github.com/longhorn/longhorn/blob/master/deploy/backupstores/

[2022-11-17 18:43] JohnSeabourn commented on #3143
So, don't know what the problem was but after destroying the pod and re-creating it.  It pulled the .230 down and was accessible again.  I had reset my router as well, so could have been an issue with that before hand.  I am now able to access via the MGMT URL as intended.

[2022-11-17 18:45] #3143 closed, assigned to nobody

[2022-11-17 19:02] abonillabeeche commented on #2961
Included. Feel free to close.

[2022-11-17 19:51] midhunthampi commented on #3083
Hi @Martin-Weiss  @Vicente-Cheng

We have set storage overcommit ratio is 80% in Long Horn and monitoring now. How we can reduce the snapshot numbers. We didn't configure snapshot for any volume yet. If its automatically configure, how we can adjust it ?

[2022-11-17 21:41] abonillabeeche commented on #1796
this can be closed. Available as root

[2022-11-18 00:57] bk201 commented on #1796
@abonillabeeche , Thanks!

[2022-11-18 00:57] #1796 closed, assigned to nobody

[2022-11-18 01:00] bk201 commented on #3170
[code]

This is probably due to IP change after the reboot. Could you help check if the dhcpd allocate fixed IP to the same macs.

[2022-11-18 01:10] noahgildersleeve commented on #3170
It isn't allocating a fixed IP. I'll try to set a DHCP reservation for the MAC address and retest it.

[2022-11-18 01:33] Vicente-Cheng commented on #3158
Hi @w13915984028,
Thanks for the reminder, I would take this issue!

[2022-11-18 01:45] ginjiruu opened #3171 "[Question] Manage a cluster with non uniform host hardware"
I have a 5 node cluster made up of various old computers that I have laying around and as such not everything shows up the exact same.

Some network adapters will will show up as enp1s0 and some as enp3s0f0, sometimes the root device is /dev/sda other times it's /dev/nvme0n1

With that in mind I'm a little confused about how to setup a cluster network under these conditions. In my previous setup u

[2022-11-18 01:50] lanfon72 opened #3172 "[BUG] After configuring http and https proxy, harvester is not accessible"
### Describe the bug
after input http/https proxy in the same time, harvester will be inaccessible and will not bring back.

![image](https://user-images.githubusercontent.com/5169694/202597880-61581b9f-887d-470c-8768-6de554b919ea.png)

### To Reproduce
Steps to reproduce the behavior:
1. Install Harvester in air-gaped environment with any nodes
2. Login to dashboard and navigate to Settings
3. Ed

[2022-11-18 02:44] TachunLin commented on #3147
For the network environment setup.
We could set longer DHCP lease time in virtual network or provide fixed IP to mac address to avoid the IP changing after rebooting. Close this issue.

[2022-11-18 02:44] starbops commented on #3164
To make the upgrade successful, there are 3 ways to work around this:

1. Lower the number of replicas of each attached volume from 3 to 2 by editing YAMLs, for example:
[code]
The volume is now in a healthy state.
[code]
2. Create corresponding files to skip the volume-checking mechanism in the pre-drain pod
[code]
Note that the volume is still in a degraded state but the volume-checking on the s

[2022-11-18 02:45] #3147 closed, assigned to nobody

[2022-11-18 03:21] bk201 commented on #3139
@noahgildersleeve I checked both support bundles, and looks like the cluster was upgraded to a master ISO build in Sep.
[code]
Could you check if the ISO is correct? And maybe we can double verify again with 1.1.1-rc2.

[2022-11-18 03:22] yaocw2020 opened #3173 "[BUG] Network webhook can not add the clusternetwork label"
**Describe the bug**

Network webhook can not add the clusternetwork label for the existing network.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a network
2. Edit the nad to delete the clusternetwork label
3. Delete the network webhook pod. A new pod could not add the clusternetwork label to the nad automatically.

**Expected behavior**

The network webhook should ensure the clust

[2022-11-18 04:19] WuJun2016 opened #3174 "[FEATURE] When entering harvester in multiple clusters, a loading icon should be displayed when the network is slow"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-11-18 04:43] irishgordo commented on #1618
@tjjh89017 @yaocw2020 upon snagging the latest master-head -> Harvester Version: master-25799b96-head
RKE2 looks good with an untagged network & rancher v2.6.9, so I'll go ahead and close this out :smile: :+1:
![Screenshot from 2022-11-17 20-41-54](https://user-images.githubusercontent.com/5370752/202618634-90421806-096b-4135-ba53-c3efebd064a4.png)
![Screenshot from 2022-11-17 20-32-21](https://us

[2022-11-18 04:43] #1618 closed, assigned to irishgordo, yaocw2020, WuJun2016

[2022-11-18 05:48] bk201 opened #3175 "[BUG] Upgrade: post-drain job fails when upgrading to the same version"
**Describe the bug**

The post-drain job fails if upgrading the same ISO twice.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a cluster with master ISO after v1.1.1-rc1.
2. Upgrade to the same ISO again.
3. post-drain job will keep retrying with:
[code]
Looks like the trap threw the wrong exit code.

**Expected behavior**

The job should succeed.

**Support bundle**

**Environment**

[2022-11-18 07:06] FrankYang0529 commented on #2054
I can't reproduce this issue with following steps on Harvester v1.1.0 with Rancher v2.6.9:

1. Create a harvester cluster.
2. Import the harvester cluster to a rancher cluster.
3. Create the harvester cluster credential in the rancher.
4. Create a VLAN which is not connectable in the harvester cluster.
5. Provision an RKE2 on the rancher with the VLAN.
6. The VM can't get an IP.
7. Delete the RKE2

[2022-11-18 08:00] WuJun2016 commented on #3145
Verify that the CI has been fixed.  closed

[2022-11-18 08:00] #3145 closed, assigned to WuJun2016

[2022-11-18 08:19] guangbochen commented on #3091
Close as this case is added on the troubleshooting doc per https://docs.harvesterhci.io/v1.1/troubleshooting/harvester#fail-to-deploy-a-multi-node-cluster-due-to-incorrect-http-proxy-setting.

[2022-11-18 08:19] #3091 closed, assigned to w13915984028

[2022-11-18 08:30] DaiYuzeng opened #3178 "Add a hover tips for the resource external link"
**Describe the bug**

We would like to add a hover tips for the resource external link.
![image (6).png](https://images.zenhubusercontent.com/60370508fd3d02bfb6c4ba36/89efb0a2-af63-4d52-a9f5-cc4784a87aba)
**To Reproduce**
Steps to reproduce the behavior:
1. Go to preference page and enable DEV mode
2. Go to create a volume.
3. Go to volume detail page.
4. Hover the external link.
5. Tips should be

[2022-11-18 08:38] mircea-pavel-anton commented on #3080
I would also add that an option to shutdown the server from the UI would be a nice addition. I was quite surprised when I initially set up Harvester to test it out, and the only way I managed to power off the server is to physically press the power button 😆

[2022-11-18 08:40] Martin-Weiss commented on #3083
I do not have all the details in case of Harvester, here - but the standard way of configuring and maintaining snapshots is based on Longhorn - https://longhorn.io/docs/1.3.2/snapshots-and-backups/ and you can see the snapshots in the Longhorn UI on the volumes. It is possible to setup scheduled snapshots / backups in Longhorn and to automatically cleanup previous versions based on these schedules

[2022-11-18 10:05] TachunLin commented on #2054
Checked also **can't reproduce** on Rancher `v2.7-head` (d1813a2) with Harvester `v1.1.1-rc1`. Close this issue

### Result
While we create an vlan with no connectivity and provision the RKE2 cluster with this vlan.
The guest cluster keep in provisioning and Harvester virtual machine can't retrieve IP address.

When we delete the RKE2 cluster, the provisioning job in Rancher will be removed and al

[2022-11-18 10:05] #2054 closed, assigned to FrankYang0529, TachunLin

[2022-11-18 11:05] TachunLin commented on #2765
Verified **fixed** on master-1646cb66-head. (11/18). Close this issue.

### Result
1. Rancher link and longhorn link display on the support page after enable the dev mode
![image](https://user-images.githubusercontent.com/29251855/202689994-dc45e93a-9e89-4a24-a9e7-780233137701.png)

2. Click the `Rancher Access Embedded Rancher UI` will open a new page and direct to the content
![image](https://us

[2022-11-18 11:05] #2765 closed, assigned to DaiYuzeng, TachunLin

[2022-11-18 11:07] char-iot opened #3179 "[Question] I want to build a Homelab with harvester and TinyMiniMicro PCs, anything worth mentioning?"
I'd get couple TinyMiniMicro PCs ( https://www.servethehome.com/introducing-project-tinyminimicro-home-lab-revolution/ ) and install  harvester on them.

How should I go about it? just download iso and install?

Is it possible to remotely shutdown or put these PC nodes to sleep and wake or boot them? Would I need Intel vPro for it?

---edit
currently working with TrueNAS Scale and Proxmoxx. Future

[2022-11-18 12:43] ne0YT commented on #1154
@w13915984028
The 140GB isn't enforced, only the 60GB is on setup.
But I have 57.6GB.. and I really would like to run it there..

[2022-11-18 13:42] w13915984028 commented on #1154
@ne0YT

A workaround is to build Harvester ISO from scratch, and change a few places to let it decrease the resource requirements.

Suppose you have an Linux distro, `git clone https://github.com/harvester/harvester-installer.git` or download the source code, then `make`, to get the ISO. After that, I will let you know how to change the related resource requirements.

Meanwhile, please double chec

[2022-11-18 14:30] albertkohl-monotek commented on #3080
/bump, i agree. a shutdown / reboot button would be great!

[2022-11-18 21:07] dseralathan opened #3180 "How to add email receiver on Alertmanager Configs at Harvester"
Hi Team,

I have added receiver email ID and send relay server details but after adding not able to see any receiver info .

Could you please share the info for how to configure email alerts in harvester .

[2022-11-19 14:57] Sparkxxx opened #3182 "[Question]Rancher Harvester integration failing with context deadline exceeded (Client.Timeout exceeded while awaiting headers)"
On the Rancher cluster we have by default these secrets containing TLS certs:

[code]

Which one of these secrets contains the CA that has to be added to Harvester -> Settings -> additional-ca, so that it will not fail self-signed certificates with:
[code]
Stated in the docs https://docs.harvesterhci.io/v1.1/advanced/settings/#additional-ca
Do we also have to include the key for the CA crt?

Thank

[2022-11-19 16:03] pavel-d11 commented on #2702
Experiencing totally the same behavior but with bigger effort (~14 Gi RAM used on a cluster with single stopped vm). And it doesn`t look like only monitoring feature affects high RAM consumption.
![image](https://user-images.githubusercontent.com/49352048/202860769-f410e596-b2c4-4907-9e60-a5f18c902eb0.png)

[2022-11-21 01:39] FrankYang0529 commented on #2821
Hello @jcambronero and @rodolfoalmeid, do you still have the cluster? If yes, could you generate the support bundle and upload it to GitHub? Also, could you print the folder structure under `tmp.xxxx` folder? Thank you!

[2022-11-21 02:22] futuretea opened #3183 "[Doc] On harvester nodes, do we add muitlple disks by “Add Disk” or do we add a Raided single disk?"
User question
Do we have some best practices?

[2022-11-21 03:12] futuretea commented on #3179
harvester hardware requirements: https://github.com/harvester/harvester#hardware-requirements

remotely shutdown: ssh
remotely power on: WOL https://en.wikipedia.org/wiki/Wake-on-LAN

[2022-11-21 04:03] lanfon72 commented on #2987
duplicated in #3166

[2022-11-21 04:03] #2987 closed, assigned to nobody

[2022-11-21 04:28] DaiYuzeng opened #3184 "[BUG] Cannot use the secret for all outputs"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to create a secret named `output-secret-1` in `default` namespace.
2. Go to create an `Elasticsearch` or the other output.
3. Options of secret fields only display "None" and the secret just created is not showing there.

![image](https://user-images.githubusercontent.com/15041915/202965753-69c010c5-b232-4ab4-9012-8022a3

[2022-11-21 05:40] bk201 opened #3185 "[BUG] Upgrade: new CRDs in a dependency chart are not created"
**Describe the bug**

We introduce the [whereabouts dependency chart](https://github.com/harvester/harvester/tree/master/deploy/charts/harvester/dependency_charts/whereabouts) in v1.1.0 and found upgrading from v1.0.3 to v1.1.0 doesn't create the [CRDs](https://github.com/harvester/harvester/tree/master/deploy/charts/harvester/dependency_charts/whereabouts/crds) it wants.

This could apply to all

[2022-11-21 05:42] bk201 commented on #3168
https://github.com/harvester/harvester/pull/3181 is a workaround. I create a [following-up issue](https://github.com/harvester/harvester/issues/3185) to find the root cause.

[2022-11-21 07:45] Martin-Weiss commented on #3183
This depends on users requirements. Thinking about fault tolerance vs performance and manageability.

A few thoughts:

Using a raid 0 over multiple disks will cause any disk to be a single point of failure for the whole nodes volumes. So I would not recommend to use this as long as the fault tolerance requirements do not allow this.

AFAIK using software raid is not supported as of today - so hard

[2022-11-21 07:55] guangbochen commented on #3151
@lanfon72 let's move this to v1.1.2 and prefer to update the testing case since this is now expected in the backend.

[2022-11-21 07:58] lanfon72 commented on #3151
@guangbochen we are just skip the test case after `v1.0.3`, when this issue be resolved, we will update the test case.

[2022-11-21 10:28] futuretea commented on #3172
Harvester v1.1.0 single node,  cannnot be reproduced.

Harvester v1.1.1-rc1 single node,  cannnot be reproduced.

Harvester v1.1.1-rc1 three nodes, can be reproduced.

Harvester v1.1.1-rc1 three nodes, when configuring http-proxy, configure no-proxy as the CIDR of node node, this problem does not occur
![image](https://user-images.githubusercontent.com/15064560/203027519-a350082a-6b2d-4f1d-ad0e-cf

[2022-11-21 10:33] futuretea commented on #3172
We need a note in https://docs.harvesterhci.io/v1.1/advanced/settings#http-proxy

[2022-11-21 13:53] TachunLin commented on #3175
Upgrade the same version from `v1.1.1-rc2` to `v1.1.1-rc2` would prompt the message and prevent to proceed
[code]
![image](https://user-images.githubusercontent.com/29251855/203071306-3651ed82-c38b-49c5-b27a-f8a690b0bf48.png)

Will try following the [workaround](https://github.com/harvester/harvester/issues/3040#issuecomment-1298057127) to proceed the upgrade.

[2022-11-21 14:17] futuretea commented on #3171
For network part, you can refer to https://docs.harvesterhci.io/v1.1/networking/clusternetwork#custom-cluster-network
For storage part, you can refer to https://docs.harvesterhci.io/v1.1/host/#multi-disk-management

[2022-11-21 14:27] futuretea commented on #3161
Close in favor of  https://github.com/harvester/harvester/issues/3161#issuecomment-1317081187

[2022-11-21 14:27] #3161 closed, assigned to nobody

[2022-11-21 14:32] futuretea commented on #3113
close in favor of https://github.com/harvester/harvester/issues/3113#issuecomment-1310945276

[2022-11-21 14:32] #3113 closed, assigned to nobody

[2022-11-21 14:38] futuretea commented on #2842
close in favor of terraform-provider-harvester v0.6.0

[2022-11-21 14:38] #2842 closed, assigned to nobody

[2022-11-21 15:12] futuretea commented on #3182
[code]
This error looks like a netowork issue.

You don't need to add additional-ca, because of Harvester already skip the tls insecure verify in https://github.com/harvester/harvester/blob/7c1f4a24062cbb15803eef09974a78b73e57f871/pkg/controller/master/setting/register.go#L54

[2022-11-21 15:27] albertkohl-monotek commented on #3128
@Vicente-Cheng any thoughts? still high-and-dry with these disks not spinning up in harvester. this seems like it could be a catastrophic issue for someone w/ a single-node cluster.

[2022-11-21 16:23] Sparkxxx commented on #3182
To answer my own question, the correct Rancher CA to import in Harvester additional-ca is:
[code]

With it added I can curl from Harvester CLI without getting any error.

[2022-11-21 16:52] Sparkxxx commented on #3182
It surely is a network error (I've also seen another error message too saying that it can't connect to ip 10.200.0.101) but I do not know how to debug it.

My setup is:
1. A single node Harvester with 100GB ram, 32 cores dual CPU, SSD disk, ip 10.200.0.10, vlan200.
2. Cluster Network: mgmt, vlan200, Harvester UI with local DNS vip 10.200.0.100, vipharv.ops.local.
3. Custom Namespace OPS with 2 VM

[2022-11-21 16:59] Vicente-Cheng commented on #3128
hi @albertkohl-monotek,
I am trying to figure out why NDM does not work on your environment.
Could you help to get your block devices information? by the following command

[code]
Thanks!

[2022-11-21 17:58] albertkohl-monotek commented on #3128
@Vicente-Cheng output attched. note the only Node with this issue is Harvester-01
[blockdevices.txt](https://github.com/harvester/harvester/files/10059286/blockdevices.txt)

[2022-11-21 18:21] khushboo-rancher commented on #3185
We should have these checks in our test automation.
cc @harvester/qa

[2022-11-21 20:38] Ali-Gamal opened #3187 "[Question]"
How can I configure multiple IP addresses on Harvester nodes (physical hosts)?

My use case, I want to connect all hosts to a dedicated network on the 10G bond for backup/snapshot.

All hosts have only a single IP address from MGM network on another 1G interface

[2022-11-21 22:04] irishgordo opened #3188 "[BUG] No warnings deleting extra-disk tied to storage-class, breaks ecosystem and stale data can't be cleaned"
**Describe the bug**
There currently aren't any warnings present when removing an extra disk.
So when a user removes the disk from the Host, if that disk was used for a storage-class, things like Images that were uploaded using that storage-class become stale.  They persist in the view.  Both in Harvester Dashboard and also within the Longhorn frontend.  And the user is unable to delete the stale

[2022-11-21 22:26] noahgildersleeve commented on #3139
I'll rerun the test with v1.1.1-rc2.

[2022-11-21 22:40] tlehman commented on #2429
This feature is now present as an addon in [release 1.1.0](https://github.com/harvester/harvester/releases/tag/v1.1.0). I have a video walkthrough of how to use the feature [here](https://tobilehman.com/posts/suse-harvester-pci/).

[2022-11-21 22:40] #2429 closed, assigned to nobody

[2022-11-22 00:38] irishgordo commented on #3064
### Summary:
This looks good :+1: :smile: - I'll go ahead and close this out.
Tested on Harvester Version: master-7c1f4a24-head 3 Node Cluster & v0.0.12 Support-Bundle-Kit

### Strategy:
Built support-bundle, waited for zip from Harvester dashboard.
Then to prep, checked out support-bundle-kit at v0.0.12 as that's the latest tag.
Then kicked off the `make` hook only after spinning up Rancher Deskt

[2022-11-22 00:38] #3064 closed, assigned to Vicente-Cheng, irishgordo

[2022-11-22 00:42] irishgordo commented on #3061
This looks good :smile: :+1: - I'll go ahead and close this out per testing preformed on:
https://github.com/harvester/harvester/issues/3064#issuecomment-1322843500
Validated, manually building the binaries in dist/artifacts at v0.0.12 worked great too.

[2022-11-22 00:42] #3061 closed, assigned to irishgordo, ibrokethecloud

[2022-11-22 00:56] noahgildersleeve commented on #3178
Tested in v1.1.1-rc2 with UI index set to external. I didn't see any external resource link. This was in Chrome.

![Greenshot 2022-11-21 16 49 59](https://user-images.githubusercontent.com/83787952/203187902-ff79a05c-e2fe-4d51-b4a5-b7372136dd3d.png)
![Greenshot 2022-11-21 16 55 43](https://user-images.githubusercontent.com/83787952/203188315-bd158514-21f7-4496-b0d4-d108e0f5b19d.png)

[2022-11-22 02:05] futuretea commented on #3182
You can try to exec into a pod of deployment harvester-system/harvester。

[2022-11-22 02:17] futuretea commented on #3180
Harvester alertmanager docs: https://docs.harvesterhci.io/v1.1/monitoring/#alertmanager
CC @w13915984028

[2022-11-22 02:17] jcambronero commented on #2821
Hi @FrankYang0529, I think we found the source of the tmp directories.

We noticed that in the cattle-system events there's a loop of `apply-system-agent-upgrade-on-<hostname>` pods being continuously created/deleted.

The log of these pods looks like this:
[code]

The log of the system-upgrade-controller pod look like like this:
[code]

The folder structure for the tmp directories looks like this

[2022-11-22 02:41] DaiYuzeng commented on #3184
## Workaround

Secrets in output configurations will be displayed in embedded Rancher UI.
Consequently, we can create outputs in embedded Rancher UI.
Follow the steps below please.

1. Go to embedded Rancher UI
    - single cluster: **Your Host**/dashboard/c/local/explorer#cluster-metrics
    - multiple cluster: **Your Host**/dashboard/c/**Cluster Id**/explorer#cluster-metrics
   **Tip**: If you d

[2022-11-22 04:11] yaocw2020 commented on #3173
Test plan:
- Create a network
- Edit the nad to delete the clusternetwork label
- Check the nad again, and you'll find the clusternetwork label resuming.

[2022-11-22 04:14] yaocw2020 commented on #3166
Test plan:
- Create a new clusternetwork and add a config
- Delete the config
- Create a new clusternetwork again and you'll find that you can choose NICs used before.

[2022-11-22 05:22] WuJun2016 opened #3190 "[FEATURE] Hope to create a secret in the output page through the UI"
**Is your feature request related to a problem? Please describe.**

secret are useful in the `Monitoring&Logging>Logging>output` page, but there is no place to create secret in the UI.

![image.png](https://images.zenhubusercontent.com/60345555ec1db310c78aa2b8/111ff12e-fadd-47f3-9b41-9331df5924bf)

**Describe the solution you'd like**

hope to create secret through the harvester UI

**Describe alt

[2022-11-22 06:24] lanfon72 commented on #3152
@FrankYang0529 does this require upgrade from a specific version? (to `master-head` or `rc2`?)

[2022-11-22 06:27] FrankYang0529 commented on #3152
I think we can update from `v1.0.3` to `master-head` like test steps https://github.com/harvester/tests/issues/612.

[2022-11-22 07:04] DaiYuzeng commented on #3178
Sorry! Steps above are not integral. You should enable DEV mode at preference page beforehand.
![image](https://user-images.githubusercontent.com/15041915/203246216-9664e4ac-a50b-4a4d-b2dc-653ad34082a3.png)
![image](https://user-images.githubusercontent.com/15041915/203246269-5b04cf74-7fb0-4b00-b698-0ccf69cd5e6e.png)

LH external resource link only be visible when DEV mode is enabled.
If the link

[2022-11-22 07:12] TachunLin commented on #3168
Verified **fixed** on `master-7c1f4a24-head` (11/22). Close this issue.

### Result
After successfully upgrade 3 nodes Harvester from v1.0.3 to latest master (11/22)

1. Execute  `kubectl get crd ippools.whereabouts.cni.cncf.io` without errors.
[code]
2. The Harvester Storage Network setting's status is `True` and the type is configured.
[code]
3. Longhorn instance-managers are working.
[code]
4.

[2022-11-22 07:12] #3168 closed, assigned to tjjh89017, TachunLin

[2022-11-22 07:22] guangbochen commented on #3100
reopen for doc, @futuretea can u please help to add the `vip-pools` setting to the https://docs.harvesterhci.io/v1.1/advanced/settings page, thanks.

[2022-11-22 07:47] TachunLin opened #3192 "[BUG] Delete upgrade CR would stuck after upgrade failed at preloading image"
**Describe the bug**

This issue was found when validating #3175.
* When we upgrade the same version again on an existing v1.1.1-rc2 Harvester cluster encounter
`Job has reached the specified backoff limit` in preloading node1 image
![image](https://user-images.githubusercontent.com/29251855/203250989-5a9f43a7-2748-4439-a509-dc4f1b3303a6.png)

* Then we try to delete the upgrade CR to restart the

[2022-11-22 08:18] starbops commented on #3192
Here are some findings:

As soon as the upgrade was considered failed, the upgrade controller marked the `upgrade/hvst-upgrade-ngfjj` as `Failed`. The failed `upgrade` triggered the cleanup procedure, which tried to remove the vmimage `harvester-iso-7sjqs` and delete the VM `upgrade-repo-hvst-upgrade-ngfjj`. We saw that an OwnerReference to the corresponding pvc `upgrade-repo-hvst-upgrade-ngfjj-di

[2022-11-22 08:59] TachunLin commented on #3184
@guangbochen , @w13915984028
Regarding to the validation scope of this issue, should we actually integrate with an working `Elasticsearch`  and  `Amazon Elasticsearch` service to check the connection of secret created in Harvester.

Or we could focusing on the created secret exists on all `Outputs` and `clusterOutputs` page first.
cc @DaiYuzeng

[2022-11-22 09:03] char-iot commented on #3179
"8 cores" is bit difficult for TinyMiniMicro PCs.

Used WOL on Proxmox, was hoping for something native on harvester

[2022-11-22 09:04] #3179 closed, assigned to nobody

[2022-11-22 09:49] Sparkxxx commented on #3182
Pod IP
[code]

Traceroute to nodes works except for ip 10.200.0.101
[code]

What I think is happening is that because I have chosen vlan200 for harvester node and cluster vip and because I created the same VMnetwork (L2VlanNetwork vlan200) in a new namespace (ops) it looks like the packets never leave the server interfaces to reach the gateway and come back and we have some kind of local/internal

[2022-11-22 13:34] TachunLin commented on #3173
Verified **fixed** on `master-b0d883ce-head` (11/22). Close this issue.

### Result
After deleting the clusternetwork label of `vlan1` and `vlan101`
The clusternetwork label will resume to added back to nad.

[code]

### Test Information
* Test Environment: 3 nodes harvester on bare machines
* Harvester version: master-b0d883ce-head

### Verify Steps
1. Prepare bare machines, each have 3 NICs, one

[2022-11-22 13:34] #3173 closed, assigned to yaocw2020, TachunLin

[2022-11-22 13:36] Martin-Weiss commented on #2910
How can we add tpm: {} in the device section of a VM using the terraform provider harvester_virtualmachine (Resource) for harvester?

[2022-11-22 13:55] futuretea commented on #3162
I can reproduce this with rke2 version v1.23.10+rke2r1
![image](https://user-images.githubusercontent.com/15064560/203301343-c91beb16-46fe-43ee-ab02-aea4876cb949.png)
![image](https://user-images.githubusercontent.com/15064560/203301229-76880762-c5fa-41aa-975f-68684945bda9.png)
but cannot be reproduced in the latest rke2 version `v1.24.7+rke2r1`
![image](https://user-images.githubusercontent.com/1

[2022-11-22 13:56] futuretea commented on #2910
I will submmit a PR to support it.

[2022-11-22 14:37] TachunLin commented on #3166
Verified **fixed** on `master-b0d883ce-head` (11/22) . Close this issue.

### Result
* When we delete a network config and create a new config on the same cluster network, all NICs are UP and can be selected in Uplink page.

https://user-images.githubusercontent.com/29251855/203341150-673d7b31-4dde-42c9-b5de-e71381ba3dc9.mp4

* Also when we delete a network config and create a new config on differ

[2022-11-22 14:41] #3166 closed, assigned to yaocw2020, TachunLin

[2022-11-22 15:29] TachunLin commented on #3175
Build another 3 nodes Harvester cluster to perform the same version `v1.1.1-rc2` upgrade test.

After applying the [workaround](https://github.com/harvester/harvester/issues/3040#issuecomment-1298057127) to pause managed chart and pretend v1.0.3 release

* The upgrade would stuck in the first node preloading image.
`Job has reached the specified backoff limit`
![image](https://user-images.githubus

[2022-11-22 16:08] Sparkxxx commented on #3182
After more digging:
- Traffic sent from harvester pod is reaching the rancher server.
- Rancher server replies.
- Returning traffic is not reaching the harvester pod although it is sent by the rancher server (NAT not working?).

[code]

Any idea what could block it on the way?

[2022-11-22 16:22] #2961 closed, assigned to tjjh89017

[2022-11-22 16:25] abonillabeeche commented on #2973
Can the fix for this issue get a review?

[2022-11-22 17:42] noahgildersleeve commented on #3178
Tested in `v1.1.1-rc2` with UI index set to external. Verified that tooltip showed on hover and that link went to Longhorn.
![Greenshot 2022-11-22 09 40 38](https://user-images.githubusercontent.com/83787952/203384176-847fe00e-50cb-4257-9a06-b40421627703.png)
![Greenshot 2022-11-22 09 40 28](https://user-images.githubusercontent.com/83787952/203384180-78faed7b-26ef-4a02-81a1-d8b416a9efea.png)

[2022-11-22 17:42] #3178 closed, assigned to DaiYuzeng, noahgildersleeve

[2022-11-22 18:53] tlehman commented on #2973
the impact of this is that no PCI devices can be enabled for passthrough, because the `intel_iommu=on` or `intel_amd=on` was never added

[2022-11-22 18:57] tlehman commented on #2973
this only happens if there is an error in [harv-install](https://github.com/harvester/harvester-installer/blob/ea4483407a56f95945f22071846cc16f4f3c45fa/package/harvester-os/files/usr/sbin/harv-install) before line [396](https://github.com/harvester/harvester-installer/blob/ea4483407a56f95945f22071846cc16f4f3c45fa/package/harvester-os/files/usr/sbin/harv-install#L396)

[2022-11-22 19:21] lanfon72 commented on #3152
Verified this bug has been fixed.

For **v1.0.3** to ***master-7c1f4a24-head**
![image](https://user-images.githubusercontent.com/5169694/203400050-69e5a211-f309-479b-bc72-e651b3dca9cc.png)

For **v1.1.0** to **master-7c1f4a24-head**
![image (2)](https://user-images.githubusercontent.com/5169694/203400390-7ad77f26-0f47-4474-9fa2-9c8464d088b9.png)

Test Information
----
* Environment: **baremetal D

[2022-11-22 19:21] #3152 closed, assigned to FrankYang0529, lanfon72

[2022-11-22 21:00] dseralathan commented on #3180
Thanks ,I have the doc already in handy .

After adding email receivers , receiver info is not showing . Can you please provide a sample email configuration.

[2022-11-22 21:05] tlehman commented on #2973
I checked @abonillabeeche's two machines where this problem happened and the /oem/install/console.log files exist and don't indicate the kind of error I thought might explain this.

This means that at least for these two cases of this bug, there isn't some upstream problem in `harv-install` that prevented the `update_grub_settings` from running, since we have both logs.

[2022-11-22 21:58] ttpcodes opened #3195 "[BUG] VM stuck in "Stopping" state if VMI fails"
**Describe the bug**
When stopping a VM by deleting the associated virt-launcher pod (as opposed to deleting the VMI or stopping the VM from the Harvester UI), the VM's status in the Harvester UI get stuck at "Stopping" as opposed to "Stopped" if the VMI's phase transitions to "Failed".

**To Reproduce**
Steps to reproduce the behavior:
1. Start a VM that doesn't handle ACPI events (such as by boo

[2022-11-22 22:46] irishgordo commented on #3184
This looks good :+1: :smile:  - I'll go ahead and close this out
Validated on Harvester Version: master-b0d883ce-head with:
- Kibana v6.8.23 in Docker via:
[code]
- Elasticsearch v6.8.23 in Docker via:
[code]

Building out the following...
Building a test user, for Elasticsearch...
[code]
Building a test index for Harvester in Elasticsearch...
[code]
Creating and applying a secret to the Harvester

[2022-11-22 22:46] #3184 closed, assigned to irishgordo, DaiYuzeng

[2022-11-22 22:47] noahgildersleeve commented on #3139
I retested this with the first and second config. It seems to be working from a functionality standpoint. However the VLAN network that is there from the upgrade won't show the cluster network in the VM Network list in the UI. That seems like a smaller issue.
![Screenshot_20221122_144630](https://user-images.githubusercontent.com/83787952/203437254-786bc440-ff72-4c99-b3ff-27e11313929d.png)
![Scree

[2022-11-22 23:07] mircea-pavel-anton commented on #2429
@tlehman thanks for that! I will take a look tomorrow and set it up in my homelab.

[2022-11-22 23:10] mircea-pavel-anton opened #3196 "[Question] Installing proprietary drivers"
Is there any way I could perform some setup tasks that are persistent across reboots?

More specifically, I am migrating from a Proxmox setup in which i was using the vGPU unlock script to enable vGPU support on my consumer Nvidia card.
This procedure requires downloading, patching and installing the nvidia driver.

One solution i thought of, is to define the process as a list of commands under `/

[2022-11-23 00:04] noahgildersleeve opened #3197 "[BUG] Docs link in support gets 404"
**Describe the bug**

When you click the

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to support on the UI in the bottom left
2. Click Docs link
**Expected behavior**

You should go to the correct page
**Support bundle**

**Environment**
 - Harvester ISO version: v1.1.1-rc2
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630): Baremetal DL160

**Additional conte

[2022-11-23 00:30] davidspek commented on #2729
For reference, here’s a good blog post about why cpu limits should generally not be set. https://home.robusta.dev/blog/stop-using-cpu-limits

[2022-11-23 00:38] noahgildersleeve opened #3198 "[BUG] When upgrading to v1.1.1 with bonded NICs and networks it doesn't show cluster network in the VM Network UI list"
**Describe the bug**

When you run an upgrade with bonded NICs the network section of the UI stops showing the cluster network for the pre-existing network.

**To Reproduce**
Steps to reproduce the behavior:
I tested this with two configurations. The support bundles are for after the upgrade. I ran the upgrades using the walkthrough for [airgapped upgrades](https://docs.harvesterhci.io/v1.0/upgrad

[2022-11-23 00:38] noahgildersleeve commented on #3139
Closing due to functionality working and created ticket for UI issue at #3198 3198

[2022-11-23 00:38] #3139 closed, assigned to yaocw2020, noahgildersleeve

[2022-11-23 00:56] ibrokethecloud opened #3199 "[FEATURE] PCIDevices should ignore mgmt and br nics"
**Is your feature request related to a problem? Please describe.**

PCIDevices currently lists all pcidevices on the nodes making the cluster.
Among the devices are generally the NIC's being used for mgmt and workload networks.
It is very easy to assign the incorrect nic for device passthrough to a VM running on the cluster.

**Describe the solution you'd like**

PCIDevices should be able to query

[2022-11-23 01:37] ibrokethecloud commented on #2973
based on support bundle and feedback on issue, the installation is using v1.1.0-rc3.

The new kernel arguments introduced by the [PR](https://github.com/harvester/harvester-installer/pull/380) would need to be in a custom build or master once this is merged.

The current kernel boot arguments are in support bundle are:
[code]

Which would match our current v1.1.x releases.

[2022-11-23 01:43] starbops commented on #3175
When testing against the fix, we need to apply the [workaround](https://github.com/harvester/harvester/issues/3040#issuecomment-1298057127) prior to the upgrade. This is basically to make Harvester think of itself as an older and formal release version like v1.0.3 or v1.1.0, but the controller codebase is actually v1.1.1-rc2. However, this leads to an upgrade failure in the image preloading stage:

[2022-11-23 02:25] guangbochen commented on #2973
The root cause is identified as the [harv-install](https://github.com/harvester/harvester-installer/pull/383/files#diff-6a84a5d8c064b0be0d59d2d26e27e2549fcf932c02014eb3f954bec7e780d7f7) will not be executed during the upgrade, also the sed will not apply since the `iommu` does not exist in v1.0.3 ..

[2022-11-23 05:57] TachunLin commented on #3175
Verified **fixed** on `v1.1.1-rc2`. Close this issue.

### Result
We build up a v1.1.1-rc2 Harvester cluster and upgrade the same version on existing cluster again.

After we apply the [workaround](https://github.com/harvester/harvester/issues/3040#issuecomment-1298057127) to pause managed chart and pretend v1.1.0 release and also retag `harvester-upgrade` to `v1.1.0`.

* We can succeed the post-d

[2022-11-23 05:58] #3175 closed, assigned to starbops, TachunLin

[2022-11-23 07:35] FrankYang0529 commented on #2821
Hi @jcambronero, thanks for your information! The `tmp.xxx` folder is from [run.sh](https://github.com/rancher/system-agent/blob/v0.2.3/package/suc/run.sh) and the CA error is from [install.sh](https://github.com/rancher/system-agent/blob/00181cd06b60990ab12347c7826de951d54ab7d9/install.sh#L641-L682). We've already merged https://github.com/rancher/system-agent/pull/100 to remove `tmp.xxx` folder

[2022-11-23 07:36] futuretea opened #3200 "[FEATURE] Allow user to change image's DisplayName"
**Is your feature request related to a problem? Please describe.**

![image](https://user-images.githubusercontent.com/15064560/203493022-9b906aad-6f61-4d52-a19e-f44073a88afa.png)

Since the displayName of image isn't really the name of image,
Should allow user to change image's displayname

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-11-23 08:08] zp4rand0miz31 commented on #2363
Hi, we are  experiencing the same problem. Our cluster of 5 servers had a hard crash (DIMM outage) and we cannot recover a stable cluster from then.
Some VMs seems unschedulable, some other works perfectly, we are getting mad about this situation. This is critical for us.

We tried to upgrade longhorn engine image to 1.2.6 but the system did rollback to 1.2.4 after some reboots. Not sure how we ca

[2022-11-23 10:38] TachunLin commented on #1695
Verified **fixed** on `master-b0d883ce-head` (11/22). Close this issue.

### Result
#### Case 1 (PASS)
1. When we create volume exceed the max acceptable size, will block and prompt message
`Exceed maximum size `999999999` Gi!`
  ![image](https://user-images.githubusercontent.com/29251855/203491945-16666082-f17d-406e-97df-e6f75a5fa377.png)

#### Case 2 (PASS)
1. When we create a volume did not exc

[2022-11-23 10:39] #1695 closed, assigned to DaiYuzeng, TachunLin

[2022-11-23 17:29] tlehman commented on #2973
So the solution to this issue will be to make the upgrade path set those parameters correctly

[2022-11-23 17:50] JiaoJosie opened #3201 "[BUG] Harvester cluster Upgrade stuck at RKE2 upgrade"
**Describe the bug**

Harvester cluster current version : 1.0.3
Upgrade to : 1.1.0

`upgrades.harvesterhci.io/hvst-upgrade-zrc7d` stays forever at stage `SystemServicesUpgraded`
[code]

Fetch out log from the pods proceeding `SystemServicesUpgraded`.
[code]

It is waiting for Rancher RKE2 Settled down, but never finished :
[code]

Seems like same issue as #3041

Workaround is :  delete the nodes i

[2022-11-23 18:02] zensonic opened #3202 "[BUG] Upgrade from 1.0.3 to 1.1.0 stuck in phase3 (after failed previous attempt?)"
**Describe the bug**

We have tried to upgrade from 1.0.3 to 1.1.0. That failed/hung due to the cluster not fully being provisioned 14 days ago (had two ghost nodes for unknown reasons). We remove, the upgrade continued somewhat, but eventually failed and we retried. See #3201

On second attempt the upgrade VM fails with:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install 4 node

[2022-11-23 18:40] simonflood opened #3203 "[BUG] Upgrade from 1.0.3 to 1.1.0 fails for two-node cluster"
**Describe the bug**
Short version: upgrade of two-node home lab cluster from 1.0.3 to 1.1.0 has failed.

Longer version: I have two Intel NUC7i7DNxE NUCs as my Harvester home lab which have served me well so far, installed with 1.0.0 then upgraded through versions as available. This is the first upgrade that has failed. Clicking the Upgrade button started it doing it's thing, had to F5 refresh a

[2022-11-23 19:46] zensonic commented on #3202
Closer investigation shows that the above might be a wild goose chase (with the snapshot). The second time the upgrade VM starts, but it dies again with "Job has reached the specified backoff limit". Tailing the upgrade pod yields

{"component":"virt-launcher","level":"info","msg":"generated nocloud iso file /var/run/kubevirt-ephemeral-disks/cloud-init-data/harvester-system/upgrade-repo-hvst-upgra

[2022-11-23 19:54] irishgordo commented on #3197
On Harvester Version: master-b0d883ce-head - this looks great :+1: :smile:
Validated the link navigates correctly, has been updated and validated via Vue DevTools extension that the elements have the correct data.
I'll go ahead and close this out :smile: - thanks for the fix @WuJun2016 !

https://user-images.githubusercontent.com/5370752/203634509-c1b8dbd6-2e95-414c-8ffe-c243cb1f5bf1.mp4

[2022-11-23 19:54] #3197 closed, assigned to irishgordo, WuJun2016

[2022-11-23 21:36] tlehman commented on #2973
https://github.com/harvester/harvester-installer/pull/383 <-- merged

[2022-11-23 22:26] noahgildersleeve opened #3204 "[BUG] restricted admin can't add cluster members in RBAC Harvester menu"
**Describe the bug**

You get an error when trying to add a cluster member via RBAC in the Harvester UI through Rancher virtualization management
**To Reproduce**
Steps to reproduce the behavior:
1. Import Harvester into Rancher
2. Add a restricted admin user named rstradmin
3. Add a user named cluster that is a standard user
4. Log out of admin and log in as rstradmin
5. Navigate to virtualizatio

[2022-11-24 00:48] irishgordo opened #3205 "[BUG] Removing a `network.harvesterhci.io.vlanconfig` changes network link on each node from "UP" to "DOWN""
**Describe the bug**
When removing a `network.harvesterhci.io.vlanconfig` from the Harvester Dashboard, network interface's on each node that were used in the `vlanconfig` that had the `state UP` now read on every node as `state DOWN`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Networks -> Cluster Networks/Configs
1. Create a Cluster Network, name doesn't matter
1. Inside the crea

[2022-11-24 02:37] bk201 commented on #3201
@JiaoJosie We saw a similar report in https://github.com/harvester/harvester/issues/3041#issuecomment-1291825643. Not entirely sure about the reason for hose ghost machines. Maybe due to failed joining of new nodes before. Deleting ghost machines is the only way to continue. Otherwise, Rancher will try to wait for those machines in the later upgrade stage.

[2022-11-24 05:22] lanfon72 commented on #3172
close as resolved when CIDR added.

[2022-11-24 05:22] #3172 closed, assigned to lanfon72, futuretea

[2022-11-24 05:29] zensonic commented on #3202
I drained and rebooted all 4 hosts one by one yesterday - on the hunch that the upgrade vm could not start due to $something left behind from the previous failed upgrade attempt

The upgrade has now run for 7h - and is stuck in phase 3 - https://docs.harvesterhci.io/v1.1/upgrade/troubleshooting
(will change the title of this)

![image](https://user-images.githubusercontent.com/3000395/203700474-22

[2022-11-24 05:50] zensonic commented on #3202
Looking a bit more

[code]

So stuck/looping in UpgradingNodes

[2022-11-24 06:16] zensonic commented on #3202
Got to:

[code]

And can read the comment and code [code](https://github.com/harvester/harvester/blob/5a18d0594e8ccad80d1269d1a1c5535875b7a0b0/package/upgrade/upgrade_node.sh) that we are stuck around rke2 upgrade

how to debug deeper?

[2022-11-24 06:22] lanfon72 opened #3206 "[BUG] VM will be shutdown automatically when upgrading"
### Describe the bug
When upgrading Harvester with 3 VMs(guest cluster, created by Rancher), VMs will be shutdown during the upgrade.

### To Reproduce
Steps to reproduce the behavior:
1. Install Harvester with 2 nodes
2. Import Harvester to Rancher v2.6.9
3. Create rke2 cluster
4. perform upgrade

### Expected behavior
VM should be migrated to other node, not shut down.

## Environment:
 - Harves

[2022-11-24 06:26] guangbochen commented on #3202
can you please help to provide the support-bundle-kit file or send it via Harvester Support Bundle <Harvester-Support-Bundle@suse.com> if you do not wish to share it publicly?

[2022-11-24 06:38] zensonic commented on #3202
Image above was from stale UI. UI now looks like

![image](https://user-images.githubusercontent.com/3000395/203711531-eddeef19-8402-4148-9e7d-f128002af28c.png)

Support bundle coming up

[2022-11-24 06:41] zensonic commented on #3202
[supportbundle_6ce68d3d-cbd1-46e5-be48-39d4752bdb30_2022-11-24T06-39-03Z.zip](https://github.com/harvester/harvester/files/10081398/supportbundle_6ce68d3d-cbd1-46e5-be48-39d4752bdb30_2022-11-24T06-39-03Z.zip)

[2022-11-24 07:10] Pilipupu opened #3207 "[BUG] No Management Nic can be choosed when install using ISO"
**Describe the bug**
I use Parallels Desktop to install Harvester with ISO, but no management nic can be choosed.
![image](https://user-images.githubusercontent.com/40445907/203716634-5cf1a74d-b954-4c0d-8a6e-4bf4e0db91e8.png)

**Environment**
 - Harvester ISO version: harvester-v1.1.0-amd64.iso
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630): Parallel Desktop

[2022-11-24 09:00] jrlittlefoot64 commented on #3207
Think you must use TAB here to see the available NIC

[2022-11-24 09:07] w13915984028 commented on #2561
The root cause:
https://github.com/kubevirt/kubevirt/issues/8175#issuecomment-1325629293

There are GAPs:
(1) for machine-type `pc/i440FX`, QEMU supports IDE bus, virt-manager/virsh supports IDE bus (on top of QEMU); but it is not supported in KubeVirt

(2) on the other hand, the IDE image can only be used with absolute path (like the ...noCloud.iso), it will restrict the VM to be scheduled to giv

[2022-11-24 10:31] yaocw2020 opened #3208 "[FEATURE] Display CCM events in the load balancer service tabs"
**Is your feature request related to a problem? Please describe.**

If the CCM calls the load balancer API failed, users can only check the log of the pods, which is very inconvenient. CCM will broadcast an event when errors happen. We can display CCM events in the load balancer service tabs.

**Describe the solution you'd like**

Display CCM events in the load balancer service tabs

**Describe al

[2022-11-24 11:16] TachunLin commented on #2973
### Result (kernel parameter check)

Check the kernel parameters intel_iommu=on amd_iommu=on iommu=pt **are presented** in

- [x] New install v1.1.1 master Harvester
- [x] Upgrade from v1.0.3 to v1.1.1 master
- [x] Upgrade from v1.1.0 to v1.1.1 master

1. On a new master Harvester cluster, check the kernel parameters
[code]
2. Cluster upgraded from v1.0.3 to v1.1.1 master, check the kernel paramet

[2022-11-24 11:33] TachunLin commented on #2973
### Result (Enable PCI passthrough on Nvidia device)

On a new installation Harvester cluster with v1.1.1 master release.

* We can enable the Nvidia Qaudro graphic controller
![image](https://user-images.githubusercontent.com/29251855/203736744-36d71795-c176-4abc-ba95-e9cc2892c195.png)

* Can **display** `Kernel driver in use: vfio-pci visible` under the harvester cluster
[code]

### Test Informa

[2022-11-24 11:35] TachunLin commented on #2973
Verified **fixed** on `master-b0d883ce-head ` (11/22) of the following check point. Close this issue.

- [x] Kernel parameter check
- [x] Enable PCI passthrough on Nvidia device

[2022-11-24 11:36] #2973 closed, assigned to tlehman, ttpcodes, TachunLin

[2022-11-24 11:56] w13915984028 commented on #2561
One solution for CentOS7:
(1) Convert the vmdk to qcow2 image; or it's already there
(2) Run VM with this qcow2 directly via e.g.
[code]
(3) In the running VM, run following command to install virtio driver
[code]

(4) Power off VM, the qcow2 will have `virtio` dirver installed
(5) Per Harvester guide, upload the qcow2 to an image, run VM with this image using virtIO driver, the VM will run.

(1)(

[2022-11-24 12:11] TachunLin commented on #2115
Verified **not fixed** on `master-b0d883ce-head`. Move the issue to implement.

### Result
In new ISO installation of Harvester, we can complete the installation process and the the file `/oem/grubenv` **exists**

But when we upgrade from v1.0.3 and v1.1.0 to v1.1.1 master, the `/oem/grubenv` **did not exists** after the upgrade
Thus suggest we could have an enhancement for upgrade scenarios.

###

[2022-11-24 13:19] ne0YT commented on #1154
@w13915984028
hey there
The emails from github went into my spam..
I just built the .ISO successfully, can you tell me where to change what to make an installation possible with 57GB of Storage?

[2022-11-24 14:07] w13915984028 commented on #1154
@ne0YT Please try:

https://github.com/harvester/harvester-installer/blob/master/pkg/config/config.go#L34

	SoftMinDiskSizeGiB   = 140
	HardMinDiskSizeGiB   = 60
	MinCosPartSizeGiB    = 25
	NormalCosPartSizeGiB = 50

->

	SoftMinDiskSizeGiB   = 140
	HardMinDiskSizeGiB   = 50
	MinCosPartSizeGiB    = 20
	NormalCosPartSizeGiB = 45

https://github.com/harvester/harvester-installer/blob/master/pkg/conf

[2022-11-24 14:20] ne0YT commented on #1154
I get some errors after adjusting these values:
[code]

[2022-11-24 14:20] ne0YT commented on #1154
[code]

[2022-11-24 14:34] w13915984028 commented on #1154
edit scripts/default
comment ./test as #./test, or delete this line

[2022-11-25 02:32] #3207 closed, assigned to nobody

[2022-11-25 02:51] futuretea commented on #3153
@abonillabeeche  I think the resources are filtered out by namespace (although it shows All Namespace), you can try this by clicking the button below in the top left corner
![image](https://user-images.githubusercontent.com/15064560/203890515-6a077ed9-d093-49e9-abbe-524f54be5514.png)

[2022-11-25 03:23] futuretea commented on #3187
@Ali-Gamal This doc should be helpful: https://docs.harvesterhci.io/v1.1/advanced/storagenetwork

[2022-11-25 03:28] futuretea commented on #3196
Your needs seem to call for a custom iso

[2022-11-25 04:00] bk201 commented on #1931
We need to implement this in the GUI and ~~webhook~~ backend action handlers.

[2022-11-25 04:17] bk201 commented on #3158
@FrankYang0529 Could you check the support bundle to check backing image errors? Thank you!

[2022-11-25 04:30] bk201 commented on #2053
We add the volumes health check in v1.1.0 before upgrading. Let's keep monitoring if this happens again.

[2022-11-25 07:08] guangbochen commented on #3100
close as the doc PR is added via https://github.com/harvester/docs/pull/256.

[2022-11-25 07:08] #3100 closed, assigned to lanfon72, futuretea, n313893254

[2022-11-25 07:42] FrankYang0529 commented on #3158
In the first supportbundle, the backing image is `in-progress` and probably old backing images are deleted, so I can't find any error message.

In the second supportbunlde, I think the root cause is network issue. In `longhorn-system/harvester-system-harvester-iso-dnwhp` BackingImage, we can see one node successfully downloaded the image, but it failed to send to other nodes.

[code]

The checksum

[2022-11-25 07:49] Vicente-Cheng commented on #3128
Hi @albertkohl-monotek,
Sorry for the late update, I just tested with serval cases for you.

For now, it is hard to recover the devices that temporarily drop when the system is running.
That is caused by two components, the scanning mechanism of NDM and the rebuild mechanism of Longhorn.

When your devices temporarily drop, NDM would remove this from the `blockdevices` until these devices are comi

[2022-11-25 07:54] ApolloDS commented on #2586
I had to go from 2.5Gi limit to 3.5Gi limit. My prometheus pod was always crashing because of OOM.
Now it is ok.
I have a 4 Node Setup.

Thank you for the hint above :-)

[2022-11-25 08:08] Vicente-Cheng commented on #3083
Hi @midhunthampi,
Thanks for the detailed information from @Martin-Weiss.

Most snapshot operations of the user are described with his reply.
If you do not need to snapshot your data, maybe keeping the overcommit ratio at 80% would be fine.

Something you need to know is that longhorn would take some snapshots when replica rebuilding, but these snapshots would be cleaned up when the rebuild is com

[2022-11-25 08:55] bk201 commented on #3158
@irishgordo Looks like the nic model is `virtio`. I'd suggest using `e1000` (like https://github.com/bk201/ipxe-examples/blob/4122862dd35e59ea034ac851262f47a914927ba8/vagrant-pxe-harvester/Vagrantfile#L79). It works better as a bonding slave.

[2022-11-25 08:56] bk201 commented on #2677
This is still reproducible in v1.1.1 master.

[2022-11-25 09:00] w13915984028 opened #3210 "[Doc] Harvester DOC enhancement"
**Is your feature request related to a problem? Please describe.**

Customer SREs are expecting more details from Harvester DOC.

**Describe the solution you'd like**

Harvester DOC enhancement:
* Dedicated chapter to introduce K8S CSI, PVC, VOLUME, LH basic etc.,  and link to LH doc
* Add LH troubleshooting chapter (to link LH doc)
* List all Harvester used CRDs
* How to collect all upgrade relat

[2022-11-25 09:26] TachunLin commented on #2998
Checked on Rancher v2.7.0 with Harvester v1.1.1-rc2,

After using the [workaround](https://github.com/harvester/harvester/issues/2998#issuecomment-1315024315)

* We can install cloud provider in k3s v1.24.7 guest cluster
![image](https://user-images.githubusercontent.com/29251855/203945593-22d598dd-c2ef-411b-8de5-c21ff9f8280a.png)

* But we **can't** complete the `harvester-cloud-provider` deploym

[2022-11-25 09:36] guangbochen commented on #3159
**To Test:**
- Upgrade from v1.0.3 to the `master-head.iso` should work
    - pods in the `harvester-system` are all running properly
    - Kubevirt-related image is updated to `registry.suse.com/suse/sles/15.4$component:0.54.0-150400.3.7.1`
    - `vm-import` and `pci-devices` addon versions are updated to `v0.1.2` and `v0.2.3` respectively
    - basic VM features are working
    - OS kernel is up

[2022-11-25 10:15] Martin-Weiss commented on #3083
@Vicente-Cheng  - I agree that we consume less capacity and have better performance the less snapshots we have but in the end the requirements will define how many snapshots should be created and kept. (RTO / RPO). If the recovery point objective is "need to be sure to be sure that we can restore to the point we had an hour ago - then we need to create snapshots every hour". And if the reaction ti

[2022-11-25 11:25] JiaoJosie commented on #3202
Working on this with @zensonic together , and have some updates :

Cluster had been as below for many hours like last update, until we decided to gave more try :
[code]
Checked node01, pods had been evicted already as  `rke.cattle.io/drain-options` described in machine-plan secret `custom-7be3bf44a8c7-machine-plan`.  Other annotations there too in the secret :
[code]
But RKE2 upgrade not launched:

[2022-11-25 11:34] JiaoJosie commented on #3202
[supportbundle_6ce68d3d-cbd1-46e5-be48-39d4752bdb30_2022-11-25T11-30-00Z.zip](https://github.com/harvester/harvester/files/10092397/supportbundle_6ce68d3d-cbd1-46e5-be48-39d4752bdb30_2022-11-25T11-30-00Z.zip)

[2022-11-25 11:38] JiaoJosie commented on #3201
Thanks @bk201 for reply.
Planning re-install with intended failing node joining.

[2022-11-25 12:31] tacerus opened #3212 "[FEATURE] qcow2: warn user about insufficient volume size"
**Is your feature request related to a problem? Please describe.**
If an image volume with not enough space is created off an qcow2 image, a resulting VM may not boot with obscure error messages, such as the root partition UUID not being found.

**Describe the solution you'd like**
Harvester could read and store the partition sizes inside the qcow2 image, and warn the user if they are about to cre

[2022-11-25 14:45] TachunLin commented on #2115
Verified **fixed** on `master-223d3bf9-head`. Close this issue.

### Result
* In new ISO installation of Harvester, we can complete the installation process and the the file `/oem/grubenv` **exists**
* When we upgrade from v1.0.3 and v1.1.0 to v1.1.1 master, the `/oem/grubenv` **exists** after the upgrade

### New v1.1.1 master installation
* Can complete new Harvester using ISO installation and b

[2022-11-25 14:45] #2115 closed, assigned to Vicente-Cheng, TachunLin

[2022-11-25 16:06] syserr opened #3213 "VM PXE boot through bridge interface"
My group provisions our VMs just like we do bare metal, through PXE.  When we create a VM in another HCI solution, we give it a disk and bridged network and the virtual BIOS will PXE boot.  Harvester doesn't seem to have this capability.  This behavior is beneficial in that we can have the same exact workflow for physical and virtual servers.

The solution I'd like is for the VM creation to allow

[2022-11-25 17:27] simonflood commented on #3203
With thanks to @starbops and particularly @bk201 who contacted me via Slack my two-node NUC cluster is now back up and running Harvester 1.1.0.

For reference and to help others, here's the gist of what the issues were and how they were resolved.

Since the Harvester UI wasn't available I couldn't grab a support bundle so instead I was directed to get the manifests and logs by running https://raw.

[2022-11-25 17:27] #3203 closed, assigned to nobody

[2022-11-26 00:14] albertkohl-monotek commented on #3128
@Vicente-Cheng thanks for the info. it's more so i wanted to understand that if this happens, and i dont have replicas for some reason, how i can force the mount to get the data back. so from the sounds of it, i basically just would force mount the folders and grab data if needed. but if the data is not critical, nuke the drives, re-add them and let everything replicate back sounds like the normal

[2022-11-26 02:45] lfsadamn opened #3214 "[BUG]vm can not be create in harvester v1.1.0 cluster"
**Describe the bug**
vm can not be create .
show some libvirt and resource file is no found .

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'create vm'

**Expected behavior**
create vm normal ,cloud-init normal

**Support bundle**

**Environment**
all linux os img,iso
 - Underlying Infrastructure
   (e.g. Baremetal with Huawei RH2288 v3(master node ) & Dell PowerEdge R730(slave node)

[2022-11-26 02:46] lfsadamn commented on #3214
the harvester version 1.1

[2022-11-26 21:23] midhunthampi commented on #3083
@Vicente-Cheng

nd if the reaction time for data-loss or rollback requirements is 24h we need to keep the snapshots for 24h - so we might end up with 25 snapshots. - Is anyway how we can change the frequency of snapshot creation or reduce the overall retention time ?

[2022-11-28 01:48] bk201 opened #3215 "[Task] Harvester v1.1.1 release checklist"
**What's the task? Please describe.**
Action items for releasing v1.1.1 release

**Describe the items of the task (DoD, definition of done) you'd like.**
- [x] Update release note. https://github.com/harvester/release-notes/pull/19
- [x] Update upgrade-responder.
- [x] Support automatic upgrade from v1.0.3 and v1.1.0. Add Docs. https://github.com/harvester/docs/pull/257
- [x] Verify Rancher MCM fe

[2022-11-28 04:50] bk201 commented on #3203
@simonflood, Thanks for the excellent summary. Adding more info here.

**The following procedure only works when upgrading from v1.0.3 to v1.1.0.**
As Simon mentioned, the issue might be caused by https://github.com/harvester/harvester/issues/3152.

- Bring the canal back.
    The canal pod `rke2-canal-fswhr` errors with:
[code]
    To fix it:
[code]
    And change `data.canal_iface` to an empty s

[2022-11-28 06:22] bk201 opened #3216 "[BUG] Multiple nodes pre-drains in an upgrade"
**Describe the bug**

(This is initially tracked in https://github.com/rancher/rancher/issues/39167. We create one to track on the Harvester side.)
During an upgrade, multiple nodes are cordoned off. The consequence is the upgrade might be stuck waiting for volumes to become healthy.

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade from v1.0.3 to v1.1.0. Or v1.1.0 to v1.1.1.
2. Seeing

[2022-11-28 06:31] bk201 commented on #3216
The following is the workaround to this issue.
- From the GUI, we know `node2` is the upgrading node (pre-draining):
    <img width="564" alt="Screen Shot 2022-11-28 at 12 25 10 PM" src="https://user-images.githubusercontent.com/1691518/204209082-fefdec8f-4b89-4813-b40d-591077e75e80.png">

- Verify multiple nodes have scheduling disabled:
[code]
- Check the pre-drain job, it should wait for volume

[2022-11-28 08:05] bk201 commented on #3055
By Investigating the support bundle, there are multiple upgrades in the system.
This could be caused by https://github.com/harvester/harvester/issues/3152. Please see if it happens again in v1.1.1.

[2022-11-28 08:27] Martin-Weiss commented on #3083
@midhunthampi  - I believe this is documented in the Longhorn documentation - https://longhorn.io/docs/1.3.2/snapshots-and-backups/scheduling-backups-and-snapshots/.
AFAIK we do not have recuring jobs within Harvester per default but I assume you can create them based on your needs.

[2022-11-28 08:44] Vicente-Cheng commented on #3212
Hi @tacerus,
Thanks for your suggestions.
Yes, `Harvester` does not introduce any trick to check the minimal size of volume with the guest VM image.

Maybe we could consider that add some label or annotation from the image uploaded user. Then the volume could check with that. What do you think about that?

[2022-11-28 09:30] guangbochen commented on #3156
~~Depends on https://github.com/longhorn/longhorn/issues/4654~~

[2022-11-28 09:46] tacerus commented on #3212
Hi, thanks for your response! Using labels or annotations sounds like a good idea - that way it's additionally directly visible to the user.

[2022-11-28 10:53] TachunLin commented on #3159
### (PASS) Upgrade from v1.0.3 to the master-head

- [x] Upgrade from v1.0.3 to the `master-head.iso` can complete
![image](https://user-images.githubusercontent.com/29251855/204260475-cdef0bd6-dde0-4ec7-88c0-f88ef4b3fb80.png)

- [x] pods in the `harvester-system` are all running properly
- [x] Kubevirt-related image is updated to `registry.suse.com/suse/sles/15.4$component:0.54.0-150400.3.7.1`
[c

[2022-11-28 11:33] TachunLin commented on #3159
### (PASS) Upgrade from v1.1.0 to the master-head

- [x] Upgrade from v1.1.0 to the `master-head.iso` can complete
![image](https://user-images.githubusercontent.com/29251855/204271065-e1406f9f-e444-4557-ad2a-2819076095ea.png)

- [x] pods in the `harvester-system` are all running properly

- [x] Kubevirt-related image is updated to `registry.suse.com/suse/sles/15.4$component:0.54.0-150400.3.7.1`
[

[2022-11-28 12:19] TachunLin opened #3217 "[BUG] After upgrade complete, the harvester-upgrade image exists on VM creation page"
**Describe the bug**

After completely upgrade from v1.1.0 to v1.1.1 master, (master-0cdb5a5b-head)
Open the create VM page, we can see the `harvester-upgrade-xxx-master-1128` image exists on the image list
![image](https://user-images.githubusercontent.com/29251855/204263768-b25eb9e7-f5bb-4063-8391-9c10376248fc.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Prepare 4 nodes v1.0.3 Harv

[2022-11-28 12:27] TachunLin commented on #3159
Verified **fixed** on `master-0cdb5a5b-head` (11/28). Close this issue.

### Result
Verified can pass in the following upgrade path
1. Upgrade from v1.0.3 to v1.1.1 master-head [result](https://github.com/harvester/harvester/issues/3159#issuecomment-1328877606)
2. Upgrade from v1.1.0 to v1.1.1 master-head [result](https://github.com/harvester/harvester/issues/3159#issuecomment-1328877606)

### Tes

[2022-11-28 12:27] #3159 closed, assigned to guangbochen, TachunLin

[2022-11-28 14:06] albertkohl-monotek commented on #3128
@Vicente-Cheng i tried to remove the sdl drive, but when i edit disk, and remove it, it shows back up.
i've also already ran fdisk, wiped the drive, and reformatted it to ext4, but it wont let me remove the old one, and add back the new one. any advice?

[2022-11-28 15:18] Vicente-Cheng commented on #3213
Hi @syserr,
I just tested it on my environment. Yes, you could not complete the related config on UI.

If you want to boot VM with PXE, you need to config the VLAN (that should make VM and PXE server in the same domain).
Then try to add `bootOrder` to let the network device boot up. You can refer to this page [https://kubevirt.io/user-guide/virtual_machines/interfaces_and_networks/](https://kubevi

[2022-11-28 15:20] Vicente-Cheng commented on #3214
Hi @lfsadamn, could you provide the `support-bundle` for this problem?

I thought that would contain more information to help us figure out your problems.
Thanks!

[2022-11-28 16:19] JiaoJosie commented on #3201
Planned this test to generate a Ghost node:

1. Re-installed 4 nodes cluster. Finished successfully.
2. Took down node04.
[code]
Reinstalled node04 to join back the cluster.
Node04 stuck as provisioning status forever, due to `providerID` being occupied by old machine
[code]

Deleted the old machine manually, new machine provisioning then finished  quickly :
[code]

Conclusion of the test :
1.  Re

[2022-11-28 16:26] #3201 closed, assigned to nobody

[2022-11-28 16:26] zensonic commented on #3202
Will close this bug and install harvester 1.0.3 again and ensure we have as many things green before patching and watch for ghost nodes during patching

[2022-11-28 16:26] #3202 closed, assigned to nobody

[2022-11-28 16:29] Vicente-Cheng opened #3218 "[BUG]node-disk-manager should not remove the hot-plug devices from `blockdevice` CR"
Related to issue: #3128

It considers external devices like JBOD, SAN, or NVMEoF as the disks of `Harvester`.
We do not remove the device from the `blockdevice` CR when it is just temporarily missing (maybe a hot plugin).

If the device removes from the `blockdevice` CR, even if it comes back, it does not mount to the correct folder.
That is because provision-related parameters are reset when it a

[2022-11-28 16:35] Martin-Weiss opened #3219 "[FEATURE][BUG] Harvester CPI Error: failed to get node modifiers from cloud provider: failed to find kubelet node IP from cloud provider, requeuing"
**Describe the bug**
Removed a node object from a downstream RKE2 cluster and re-joined the node with restarting rke2-agent.

Now we see this in the cloud provider logs:

I1128 15:16:08.586900       1 node_controller.go:390] Initializing node node17 with cloud provider
E1128 15:16:08.598477       1 node_controller.go:212] error syncing 'node17': failed to get node modifiers from cloud provider: fa

[2022-11-28 16:40] Vicente-Cheng commented on #3128
Hi @albertkohl-monotek
Just open an issue for your case. #3218
I thought that should be auto-mount back. (For the data validation, the longhorn side would care about it).

For your latest questions, maybe you could try to remove the disk from the longhorn UI. I thought that can not remove from the harvester UI now.

When this disk is removed from the longhorn side, you could try to remove from the

[2022-11-28 16:58] Martin-Weiss commented on #3219
Some more information - our nodes have two IP addresses - one on eth0 and one on eth1 and we have specified node-ip: to the one that should be used a  "internal ip" for the node.

How can we see what exactly is going wrong when we get the above error?

[2022-11-28 16:59] RegisWeduLabs commented on #3206
Hey, does this mean we can upgrade without shuting down all VMs?  In the docs, you specify that you recommend shutting down all "Users VMs" - not sure exactly what this means, and it's not really practical if you have multiple guest clusters managed by Rancher on Harvester - shutting down all the vms prior to upgrade can cause quite a mess when trying to bring everything back up...  Before I proce

[2022-11-28 17:16] lanfon72 commented on #3206
Hi @RegisHubelia, yes, when you upgrading to `v1.1.1`, VMs would not need to be shutting down.

[2022-11-28 17:39] noahgildersleeve commented on #3167
When this happened to me I was able to just start the upgrade again and it worked the second time.

[2022-11-28 17:41] RegisWeduLabs commented on #3206
Thanks @lanfon72!

[2022-11-28 18:05] albertkohl-monotek commented on #3128
Thanks @Vicente-Cheng i was able to remove it in longhorn, that caused it to disappear from Harvester UI and then i could add it back and force-format.

appreciate the help! :)

[2022-11-28 18:05] #3128 closed, assigned to nobody

[2022-11-28 20:18] dseralathan commented on #3180
Attached the screenshot
<img width="1312" alt="Screen Shot 2022-11-28 at 12 16 51 PM" src="https://user-images.githubusercontent.com/117767598/204372577-8c0060d0-8603-46b6-b11f-ea91dde9e39d.png">

[2022-11-28 22:34] lanfon72 commented on #3206
Verified this bug has been fixed.

Test Information
----
* Environment: **baremetal DL360G9 5 nodes**
* Harvester Version: **v1.1.0** upgrade to **v1.1.1-master-0cdb5a5b-head**
* **ui-source** Option: **Auto**
* Rancher Version: **v2.7.0**

### Verify Steps:
1. Install Harvester with at least 3 nodes
2. Login to Harvester Dashboard
3. Create a Image for VM creation
4. Create a VLAN network
5. Logi

[2022-11-28 22:34] #3206 closed, assigned to starbops, lanfon72, futuretea

[2022-11-29 00:48] noahgildersleeve opened #3220 "[BUG] Backup and Restore UI and network option not showing properly in Rancher integrated Harvester UI"
**Describe the bug**

The backup and restore menu option and the network option (it looks like a camelCase class and doesn't match the capitalization so it's probably the same issue) isn't showing correctly.
**To Reproduce**
Steps to reproduce the behavior:
1. Import Harvester into Rancher
2. Open up Harvester UI from Rancher virtualization management

**Expected behavior**

It should show the sam

[2022-11-29 07:00] guangbochen opened #3221 "[BUG] Upgrade from v1.1.0 to v1.1.1 stuck in ErrApplied with harvester-longhorn StorageClass"
**Describe the bug**
Upgrade from v1.1.0 to v1.1.1 stuck in ErrApplied with harvester-longhorn StorageClass
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new storageClass via the `Advanced` tab and set it as the default one.
2. Upgrade existing v1.1.0 cluster to v1.1.1.
3. The upgrade is stuck in `Upgrading System Service` with 50% status.
4. Check the upgrade yaml via  `$k

[2022-11-29 07:01] guangbochen commented on #3221
Workaround:
1. go to the `Advanced` > `Storage Classes` page
2. set the `harvester-longhorn` as the default storage class first.

[2022-11-29 08:58] DaiYuzeng commented on #3180
Hi @dseralathan ! FYI: Do you remember to input the receiver name on the receiver creation page?

There is a related issue: https://github.com/harvester/harvester/issues/2798

Consequently, I guess you may forget to input the receiver name, could you have a try? Thanks!

[2022-11-29 09:10] DaiYuzeng commented on #3180
#### Name field on receiver creation page
![image](https://user-images.githubusercontent.com/15041915/204486579-94db976e-86b2-4d1e-8ba4-27a7e770d19c.png)

Please be aware on the field which is encompassed by red line in the screenshot, it's required field.

[2022-11-29 10:59] lfsadamn commented on #3214
[supportbundle_43a7e70f-025c-4017-949d-220cf5bc5fd6_2022-11-26T02-47-14Z.zip](https://github.com/harvester/harvester/files/10112356/supportbundle_43a7e70f-025c-4017-949d-220cf5bc5fd6_2022-11-26T02-47-14Z.zip)

[2022-11-29 11:06] lfsadamn commented on #3214
thank you for you help  @Vicente-Cheng

[virt-launcher-test-48jzv_undefined.log](https://github.com/harvester/harvester/files/10112361/virt-launcher-test-48jzv_undefined.log)

![龙峰四季-SOHO机房1网络拓扑图-V1-20221123-wp-vlovev](https://user-images.githubusercontent.com/16000059/204513260-6a97b412-75d8-4a08-b4aa-8cbb728a2b29.jpg)
Network topology

[2022-11-29 13:18] robv8r commented on #3210
Please include Harvester Network Configuration in your documentation enhancement.  Specifically, how to assign externally accessible IP addresses to VMs.

[Edit]

Our company's policy is to use Static IP Addresses.  Without DHCP, provisioning a Rancher Cluster via Harvester has been challenging.

[2022-11-29 15:10] simonflood opened #3222 "[Question] Is Harvester 1.1.x supported with Rancher 2.7.0?"
Rancher 2.7.0 was released 13 days ago so after Harvester 1.1.0 but before Harvester 1.1.1.  I know Rancher 2.7.0 introduces extensions and I'm keen to play with Elemental.

Am I likely to run into issues if I use Rancher 2.7.0 with Harvester 1.1.0 or 1.1.1 (when released and I upgrade my home lab cluster).

[2022-11-29 15:29] RegisWeduLabs commented on #3222
I'm running Rancher 2.7.0 mamagement cluster with Harvester 1.0.3 without any issues, so I would guess that it should run without issues...  But just to make sure, you are talking about the Management Rancher cluster - not the actual Rancher version bundled within harvester correct?  I wouldn't try to upgrade the rancher version in harvester separately from Harvester...

[2022-11-29 16:04] simonflood commented on #3222
Yes I'm asking about the separate, "management" Rancher (the one we should install ourselves to manage Kubernetes and Harvester) and not anything built into Harvester itself.

[2022-11-29 17:08] tlehman commented on #2819
Closed as duplicate of #3126

[2022-11-29 17:08] #2819 closed, assigned to nobody

[2022-11-29 17:09] ne0YT commented on #1154
hey there
the installation works, but somehow I directly land on the rancher dashboard instead of the harvester dashboard.

[2022-11-29 18:58] tlehman commented on #2960
So what are the next steps on this issue? The problem sounds like the management interface was enabled for passthrough, which will cause the node to become inaccessible (explains the cordoned status).

Based on @guangbochen 's comment above, it sounds like the next step is to do the UI labeling/filtering to prevent the management interface from showing up, is that right?

[2022-11-29 19:25] tlehman commented on #2991
This will be solved by the implementation of this [DevicePlugin HEP](https://github.com/tlehman/harvester/blob/hep-dp/enhancements/20221028-pci-deviceplugin.md). The reason this will fix it is that the device plugin will correctly account for the number of allocatable devices. Currently this has to be done by changing the KubeVirt CR.

[2022-11-29 19:58] tlehman commented on #2960
This [feature request](https://github.com/harvester/harvester/issues/3199)  sounds like it's a duplicate with this bug ticket. Should we close either? Or keep them both open and then close them when the feature is done and the bug is confirmed as fixed?

[2022-11-29 21:13] tlehman commented on #3146
This will be solved by the DevicePlugin I am working on in this [HEP](https://github.com/tlehman/harvester/blob/hep-dp/enhancements/20221028-pci-deviceplugin.md).

[2022-11-29 22:47] tlehman commented on #3146
This also requires UI changes to enable the user to request multiple devices with the `resourceName`

[2022-11-30 00:16] noahgildersleeve opened #3223 "[Doc] After upgrade from v1.0.3 to v1.1.1 when you add a node it doesn't assign cluster network"
**Describe the bug**

When you upgrade a v1.0.3 cluster with a VLAN network to v1.1.1 it assigns only the existing nodes to the cluster network. If you add a node it won't assign the network to the node. This is an issue when you try to migrate a VM to the new node.
**To Reproduce**
Steps to reproduce the behavior:
1. Create v1.0.3 cluster
2. Add VLAN network
3. Create VM and assign it to the VLAN

[2022-11-30 00:43] guangbochen commented on #2960
if that's the only case, we can close it because of the duplication. But can we double-check first that when the node is not available, will the pci-deivces show properly on the UI, if not would prefer to fix it on both the backend and UI, thanks?

[2022-11-30 00:47] RegisWeduLabs commented on #3162
Sorry - just saw this.  RKE v1.24.7+rke2r1

[2022-11-30 00:52] RegisWeduLabs commented on #3222
Then like I said, I'm using Rancher 2.7.0 to manage my current 1.0.3 Harvester cluster with no issues I didn't have on 2.6.9

[2022-11-30 00:53] midhunthampi commented on #3083
@Martin-Weiss @Vicente-Cheng

Even after we set Storage Over Provisioning 80% in LongHorn, It's allowing to allocate storage more than 100%. Please see below screen shot.

It's in Red state but allocation is more than max. storage.

<img width="951" alt="Screen Shot 2022-11-29 at 4 49 37 PM" src="https://user-images.githubusercontent.com/62717435/204681018-5ccb6c74-d339-4d4b-83ed-298b9e2d099f.png"

[2022-11-30 00:57] midhunthampi commented on #3083
![Uploading Screen Shot 2022-11-29 at 4.57.21 PM.png…]()

[2022-11-30 00:59] midhunthampi commented on #3083
@Martin-Weiss @Vicente-Cheng

We are looking for solution like that Storage Scheduled always less than Storage Max

Storage Scheduled < Storage Max.

[2022-11-30 01:09] midhunthampi commented on #3083
Also why its adding all replica's in single disk instead of multiple disks. These hosts having same size other disks as well but its keep adding volume in single disk.

[2022-11-30 02:03] tlehman opened #3224 "[FEATURE] Clean up PCIDevice and PCIDeviceClaim objects when Node leaves cluster"
**Is your feature request related to a problem? Please describe.**
When a node is removed from the cluster, or becomes cordoned, the pcidevices controller doesn't clean up the PCIDevice and PCIDeviceClaim objects. Issue #2960 sparked the creation of this issue.

**Describe the solution you'd like**
A goroutine in pcidevices and pcideviceclaims controller that checks for nodes being removed from th

[2022-11-30 02:03] tlehman commented on #2960
@guangbochen I'm not sure I understand, the pcidevices are stored in the cluster's etcd, so whether or not the node is available, those objects will be available. Currently the PCI Devices controller doesn't delete the objects, but that suggests a feature request. I made it here: https://github.com/harvester/harvester/issues/3224

[2022-11-30 02:08] guangbochen commented on #2960
We can list and watch the node status and then update the PCI devices' status accordingly if needed.

[2022-11-30 02:39] guangbochen commented on #2983
Depends on https://github.com/longhorn/longhorn/issues/4785

[2022-11-30 05:01] irishgordo commented on #3205
Closing this out as this is not reproducible in Harvester Version: master-0cdb5a5b-head (11/29/2022) master-head iso.
Nics do not go "offline" after cluster network is removed :smile: - this looks good :+1:

https://user-images.githubusercontent.com/5370752/204711497-7601ae5f-87fc-449b-b23f-d15b2977af9b.mp4

[2022-11-30 05:01] #3205 closed, assigned to nobody

[2022-11-30 06:19] rookieduqi commented on #2515
@w13915984028
采用的开发者模式安装，在本地有个k8s的集群，然后按照文档https://docs.harvesterhci.io/zh/v1.0/dev/dev-mode/，目前出现的这个问题，切换到稳定版本后，pod报错

[2022-11-30 06:21] Martin-Weiss commented on #3083
I believe this would only be possible if snapshots would never be created.

Not sure what you mean by that - but Longhorn uses a disk that has sufficient space and tries to distribute the data among different nodes and different disks..

[2022-11-30 06:25] Martin-Weiss commented on #3222
In my case Rancher 2.7.0 works with Harvester 1.1.0 - but obviously I could not test "everything" ;-).
P.S. also keep in mind that Rancher 2.7.0 is not marked as stable - it is "just" latest...

[2022-11-30 07:00] perpi opened #3226 "[Question] Has any cloud provider been formed based on the Harvester?"
As I am developing a business model to launch a cloud company based on Harvester, I need to get benchmarks from businesses that provide services on Harvester. Have any harvester-based cloud service providers yet been established? I would appreciate it if you could introduce those startups/companies if there are any.

[2022-11-30 08:16] bk201 commented on #2124
We can't reproduce this in the newer version (Rancher 2.6.9 + Harvester v1.1.0). Please reopen if see this again. Thanks.

[2022-11-30 08:16] #2124 closed, assigned to nobody

[2022-11-30 09:09] bk201 commented on #2540
One idea is to add the check in the webhook and some UI enhancement.

[2022-11-30 09:14] ne0YT opened #3227 "[Question] After I install Harvester I can only access Rancher -> cannot find harvester-GUI."
I installed Harvester on my first node and I can access it's rancher webpage, but somehow I cannot find the GUI for Harvester itself.

[2022-11-30 09:17] yaocw2020 commented on #3223
The converted network config from nodenetwork takes effect on only one node. Therefore, users have to add a new network config for newly added nodes.

[2022-11-30 09:19] bk201 commented on #2787
Close due to un-reproduce. Please reopen if see this again.

[2022-11-30 09:19] #2787 closed, assigned to ttpcodes, w13915984028

[2022-11-30 09:21] yaocw2020 commented on #3223
@noahgildersleeve I wonder why you can migrate the VM to the newly added node. It should be failed because the webhook will add the nodeaffinity to the VM to avoid migrating to nodes where the clusternetwork doesn't work.  Could you provide the support bundle before migration?

[2022-11-30 09:34] Vicente-Cheng opened #3228 "[BUG] upgrade from v1.1.0 to v1.1.1 stuck on draining instance-manager pods"
**Describe the bug**
Upgrade from v1.1.0 to v1.1.1. It stuck on draining both instance-manager-e/instance-manager-r pods. For the user view, that only sees that stuck on pre-drain.

**To Reproduce**
1. create v1.1.0 environment
2. create VMs
3. upgrade to v1.1.1

**Expected behavior**
Upgrade could complete

**Support bundle**
[supportbundle_8134b0ab-13d6-4a67-88d7-eca7fc45229f_2022-11-29T02-50-36

[2022-11-30 17:14] Martin-Weiss commented on #3219
One more thing - the default gateway is on eth1 where the node-ip is on eth0 - is this a potential problem with the harvester CPI?

[2022-11-30 20:16] irishgordo commented on #3188
I can not reproduce this on Harvester Version: master-0cdb5a5b-head.
Also setting the staleReplicaTimeout to something lower like "1" instead of "30" seems to be more responsive to allow for removal of data - after disk has been removed from host.
So I'll go ahead and close this out :smile:

[2022-11-30 20:16] #3188 closed, assigned to nobody

[2022-11-30 20:23] albertkohl-monotek commented on #3016
@FrankYang0529
periodically when i cp these files, i get an EOF error. here's an example of the feedback:

`
C:\software\>kubectl cp -n longhorn-system backing-image-manager-c00e-9552:data/backing-images/. backing-image-manager-c00e-9552/.
`
Dropping out copy after 0 retries
error: unexpected EOF

would you recommend re-trying the copy?

[2022-11-30 20:29] jcambronero commented on #2821
Thank you @FrankYang0529, this is what I see:

[code]

Here's the certificate details:
[code]

We will try to upgrade to v1.1.0 as suggested.
Any workarounds that you can think of in the meantime?

Thanks,
Jose

[2022-11-30 23:56] dnoland1 opened #3229 "[BUG] VNC and Serial Console is blank when accessed through Rancher Manager"
**Describe the bug**
After adding my Harvester environment to Rancher Manager, cannot access a Virtual Machine's VNC and serial console. Both just show a blank screen. Works fine if accessing Harvester directly. These screen captures show Harvester on the left and Rancher Manager on the right:
![image](https://user-images.githubusercontent.com/468462/204932904-b7a8461f-163b-4bbc-8557-b72a35f564a3.